USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Inspection_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE  PROCEDURE [dbo].[Inspection_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL ,  
	@SlipId UNIQUEIDENTIFIER = NULL ,
	  @DateFrom DATETIME = NULL ,
     @DateTo DATETIME = NULL ,
	  @InwardId UNIQUEIDENTIFIER = NULL ,
	  	 @Result  INT = NULL ,
    @EntityId INT = 0,
	@IsOtherMaterialInspection int = 0,
	@MaterialInspectionID UNIQUEIDENTIFIER = NULL
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
		IF @Parameter = 1 --Fetch Chemical Register Record  for MaterialInspectionMaster
			BEGIN
					
					IF @InitialLoad = 1
					BEGIN 
						SELECT DISTINCT TOP ( @PageSize )
                                ROW_NUMBER() OVER ( ORDER BY InspDate DESC) AS SrNo ,*
                        FROM    (
						SELECT TOP ( @PageSize ) 
								PIM.ItemName,
								CONVERT(VARCHAR(11), CIM.InspectionDate, 106) as InspectionDate ,
								CIM.InspectionDate as InspDate,
								CASE WHEN MiM.Prefix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), MiM.Prefix) END
								  + CASE WHEN MiM.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), MiM.Separator) END 
								  + CONVERT(VARCHAR(50), MiM.Slipno)
								  + CASE WHEN MiM.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), MiM.Separator) END
								  + CASE WHEN MiM.Suffix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), MiM.Suffix) END 
								AS Slipno,
								CONVERT(VARCHAR(11), MiM.SlipDate, 106) as SlipDate ,
								--RMI.INWno as GrnNo,
								CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
											 THEN RMI.INWSrNo
											 ELSE CONVERT(VARCHAR(11), RMI.prefix)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.INWSrNo)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.Suffix)
								END AS GrnNo ,
								CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate ,
								(case when CIM.Result = 0 then 'REJECT' else (case when CIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end) 
								as Result,
								RMI.InwardId,
								CIM.SlipID,
								CIM.PurchaseItemID,
								CIM.MaterialInspectionID,
								Cast( MIM.SlipNo As Int) As SlipNoSequence,
								CIM.RejectQty
								from ChemicalInspectionMaster as CIM
								Inner join MaterialInspectionMaster as MiM On CIM.SlipID = MiM.SlipId					
								Inner Join MaterialInspectionTrans as MiT On MiM.SlipId = MiT.SlipID	
								inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = CIM.PurchaseItemID
								inner join RawMaterialInward as RMI on RMI.InwardId = MiM.InwardID
								inner join RawMaterialInwardDetail as RMID on RMI.InwardId=RMID.InwardId AND RMID.PurchaseItemId = MiT.PurchaseItemID
									And (CIM.RawmaterialDetailId=0 or RMID.RawmaterialDetailId = CIM.RawmaterialDetailId)
								inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
								where   
								( @SlipId IS NULL
											OR MiM.SlipId = @SlipId
									)
									AND ( @InwardId IS NULL
									OR RMI.InwardId = @InwardId
									)
									AND ( @DateFrom IS NULL
										OR @DateTo IS NULL
										OR  CIM.InspectionDate BETWEEN @DateFrom
										AND
															@DateTo
										) 
									AND   (@Result = -1 OR CIM.Result = @Result)
									AND CIM.IsDeleted = 0
									AND MiM.EntityID = @EntityID
									AND (	ISNULL(@PlantIdString,'') = ''
										OR (
											(POM.POPlantId IN (
											SELECT * FROM dbo.SplitString(@PlantIdString,',')))
										)
									) 
							UNION All

							SELECT TOP ( @PageSize ) 
								PIM.ItemName,
								CONVERT(VARCHAR(11), CIM.InspectionDate, 106) as InspectionDate ,
								CIM.InspectionDate as InspDate,
								'' AS Slipno,
								'' AS SlipDate,
								CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
											 THEN RMI.INWSrNo
											 ELSE CONVERT(VARCHAR(11), RMI.prefix)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.INWSrNo)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.Suffix)
								END AS GrnNo ,
								CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate ,
								(case when CIM.Result = 0 then 'REJECT' else (case when CIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end) 
								as Result,
								RMI.InwardId,
								CIM.SlipID,
								CIM.PurchaseItemID,
								CIM.MaterialInspectionID,
								--Cast( MIM.SlipNo As Int)
								0 As SlipNoSequence,
								CIM.RejectQty
								from ChemicalInspectionMaster as CIM
								inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = CIM.PurchaseItemID 
								INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId =PIM.PurchaseItemId
								AND PurchaseCompanyMapping.CompanyId=@EntityID
								inner join RawMaterialInwardDetail as RMID on CIM.RawmaterialDetailId=RMID.RawmaterialDetailId AND RMID.EntityId = @EntityID
								inner join RawMaterialInward as RMI on RMI.InwardId = RMID.InwardId
								inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
								where  CIM.SlipId= CAST(0x0 AS uniqueidentifier) and 
								( @SlipId IS NULL
											OR CIM.SlipId = @SlipId
								) AND 
								( @InwardId IS NULL
								OR RMI.InwardId = @InwardId
								)
								AND ( @DateFrom IS NULL
									OR @DateTo IS NULL
									OR  CIM.InspectionDate BETWEEN @DateFrom
									AND
														@DateTo
									) 
								AND   (@Result = -1 OR CIM.Result = @Result)
								AND CIM.IsDeleted = 0
								--AND MiM.EntityID = @EntityID
								AND (	ISNULL(@PlantIdString,'') = ''
									OR (
										(POM.POPlantId IN (
										SELECT * FROM dbo.SplitString(@PlantIdString,',')))
									)
								) 

                                          
                            ) AS ChemicalInspectionMaster     
                            Order BY ChemicalInspectionMaster.InspDate Desc 
                            --,ChemicalInspectionMaster.SlipNoSequence Desc                                                        
					END
					ELSE
						BEGIN
							SELECT DISTINCT TOP ( @PageSize )
							* From (	
							select ROW_NUMBER() OVER ( ORDER BY InspDate DESC) AS SrNo ,*
							FROM    (
							SELECT  DISTINCT 
									PIM.ItemName,
									CONVERT(VARCHAR(11), CIM.InspectionDate, 106) as InspectionDate ,
									CIM.InspectionDate as InspDate,
									CASE WHEN MiM.Prefix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), MiM.Prefix) END
									+ CASE WHEN MiM.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), MiM.Separator) END 
									+ CONVERT(VARCHAR(50), MiM.Slipno)
									+ CASE WHEN MiM.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), MiM.Separator) END
									+ CASE WHEN MiM.Suffix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), MiM.Suffix) END 
									AS Slipno,							
								    CONVERT(VARCHAR(11), MiM.SlipDate, 106) as SlipDate ,
									--RMI.INWno as GrnNo,
									CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
											 THEN RMI.INWSrNo
											 ELSE CONVERT(VARCHAR(11), RMI.prefix)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.INWSrNo)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.Suffix)
									END AS GrnNo ,
									CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate ,
									(case when CIM.Result = 0 then 'REJECT' else (case when CIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end)
									as Result,
									RMI.InwardId,
									CIM.SlipID,
									CIM.PurchaseItemID,
									CIM.MaterialInspectionID,
									Cast( MIM.SlipNo As Int) As SlipNoSequence,
									CIM.RejectQty
							 
									from ChemicalInspectionMaster as CIM
									Inner join MaterialInspectionMaster as MiM On CIM.SlipID = MiM.SlipId					
									Inner Join MaterialInspectionTrans as MiT On MiM.SlipId = MiT.SlipID	
									inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = CIM.PurchaseItemID
									inner join RawMaterialInward as RMI on RMI.InwardId = MiM.InwardID
									inner join RawMaterialInwardDetail as RMID on RMI.InwardId=RMID.InwardId AND RMID.PurchaseItemId = MiT.PurchaseItemID
										And (CIM.RawmaterialDetailId=0 or RMID.RawmaterialDetailId = CIM.RawmaterialDetailId)
									inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
							
									where   
											( @SlipId IS NULL
													  OR MiM.SlipId = @SlipId
											 )
											 AND ( @InwardId IS NULL
												OR RMI.InwardId = @InwardId
											 )
											 AND ( @DateFrom IS NULL
												   OR @DateTo IS NULL
													OR CIM.InspectionDate BETWEEN @DateFrom
													AND
																	  @DateTo
												  )   
											 AND CIM.IsDeleted = 0
											 AND   (@Result = -1 OR CIM.Result = @Result)
											 AND MiM.EntityID = @EntityID
											 AND (	ISNULL(@PlantIdString,'') = ''
													OR (
														(POM.POPlantId IN (
														SELECT * FROM dbo.SplitString(@PlantIdString,',')))
													)
											 ) 
								UNION ALL

								SELECT  DISTINCT
								PIM.ItemName,
								CONVERT(VARCHAR(11), CIM.InspectionDate, 106) as InspectionDate ,
								CIM.InspectionDate as InspDate,
								'' AS Slipno,
								'' AS SlipDate,
								CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
											 THEN RMI.INWSrNo
											 ELSE CONVERT(VARCHAR(11), RMI.prefix)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.INWSrNo)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.Suffix)
								END AS GrnNo ,
								CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate ,
								(case when CIM.Result = 0 then 'REJECT' else (case when CIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end) 
								as Result,
								RMI.InwardId,
								CIM.SlipID,
								CIM.PurchaseItemID,
								CIM.MaterialInspectionID,
								--Cast( MIM.SlipNo As Int)
								0 As SlipNoSequence,
								CIM.RejectQty
								from ChemicalInspectionMaster as CIM
								inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = CIM.PurchaseItemID --AND PIM.EntityID=@EntityID
								INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId =PIM.PurchaseItemId
								AND PurchaseCompanyMapping.CompanyId=@EntityID
								inner join RawMaterialInwardDetail as RMID on CIM.RawmaterialDetailId=RMID.RawmaterialDetailId AND RMID.EntityId = @EntityID
								inner join RawMaterialInward as RMI on RMI.InwardId = RMID.InwardId
								inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
								where CIM.SlipId= CAST(0x0 AS uniqueidentifier) and
								( @SlipId IS NULL
											OR CIM.SlipId = @SlipId
								) AND 
								( @InwardId IS NULL
								OR RMI.InwardId = @InwardId
								)
								AND ( @DateFrom IS NULL
									OR @DateTo IS NULL
									OR  CIM.InspectionDate BETWEEN @DateFrom
									AND
														@DateTo
									) 
								AND   (@Result = -1 OR CIM.Result = @Result)
								AND CIM.IsDeleted = 0
								--AND MiM.EntityID = @EntityID
								AND (	ISNULL(@PlantIdString,'') = ''
									OR (
										(POM.POPlantId IN (
										SELECT * FROM dbo.SplitString(@PlantIdString,',')))
									)
								) 
							) AS Final 
							) AS ChemicalInspectionMaster 							
						   WHERE   SrNo > ( @PageNumber * @PageSize )  
						   Order By ChemicalInspectionMaster.InspDate Desc
						   --,ChemicalInspectionMaster.SlipNoSequence Desc
						END
			END
				IF @Parameter = 2 --fetch Report Other Material Inspection Record
			BEGIN
					
					IF @InitialLoad = 1
					BEGIN 
						SELECT DISTINCT TOP ( @PageSize )
                                ROW_NUMBER() OVER ( ORDER BY InspDat DESC) AS SrNo ,*
                        FROM    (
						SELECT  DISTINCT TOP ( @PageSize )
								
								CONVERT(VARCHAR(11), OMIM.InspectionDate, 106) as InspectionDate ,
								OMIM.InspectionDate as InspDat ,
								CASE WHEN MiM.Prefix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), MiM.Prefix) END
								+ CASE WHEN MiM.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), MiM.Separator) END
								+ CONVERT(VARCHAR(50), MiM.Slipno)
								+ CASE WHEN MiM.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), MiM.Separator) END
								+ CASE WHEN MiM.Suffix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), MiM.Suffix) END
								AS Slipno,							
								CONVERT(VARCHAR(11), MiM.SlipDate, 106) as SlipDate ,
								CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
										THEN RMI.INWSrNo
										ELSE CONVERT(VARCHAR(11), RMI.prefix)
											+ CONVERT(VARCHAR(11), RMI.Separator)
											+ CONVERT(VARCHAR(11), RMI.INWSrNo)
											+ CONVERT(VARCHAR(11), RMI.Separator)
											+ CONVERT(VARCHAR(11), RMI.Suffix)
								END AS GrnNo ,
								CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate,
								OMIM.SlipID,
								OMIM.MaterialInspectionID ,
								RMI.InwardId,
								Cast( MIM.SlipNo As Int) AS SequenceNumber,
								OMIM.RawmaterialDetailId,
								(case when OMIM.Result = 0 then 'REJECT' else (case when OMIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end)
									as Result,
									OMIM.RejectQty,
								ItemName
								from									
								OtherMaterialInspectionMaster as OMIM 																
								inner join MaterialInspectionMaster as MiM ON MiM.SlipId = OMIM.SlipID									
								inner join RawMaterialInward as RMI on RMI.InwardId = MiM.InwardID
								Inner Join MaterialInspectionTrans as MiT On MiM.SlipId = MiT.SlipID	
								inner join RawMaterialInwardDetail as RMID on RMI.InwardId=RMID.InwardId AND RMID.PurchaseItemId = MiT.PurchaseItemID
								And (OMIM.RawmaterialDetailId=0 or RMID.RawmaterialDetailId = OMIM.RawmaterialDetailId)
								inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
								Inner join OtherMaterialInspectionTrans as OMIT On OMIM.MaterialInspectionID = OMIT.MaterialInspectionID
								INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = OMIT.PurchaseItemID
								where OMIM.IsOtherMaterialInspection= @IsOtherMaterialInspection AND
									( @SlipId IS NULL
                                              OR OMIM.SlipId = @SlipId
                                     )
                                     AND ( @InwardId IS NULL
                                        OR RMI.InwardId = @InwardId
                                     )
                                     AND ( @DateFrom IS NULL
                                           OR @DateTo IS NULL
											OR OMIM.InspectionDate BETWEEN @DateFrom
                                            AND
                                                              @DateTo
                                          )   
                                     AND OMIM.IsDeleted = 0
                                     AND   (@Result = -1 OR OMIM.MaterialInspectionID IN (SELECT OtherMaterialInspectionTrans.MaterialInspectionID FROM 
                                     OtherMaterialInspectionTrans WHERE OtherMaterialInspectionTrans.Result = @Result))
                                     AND MiM.EntityID = @EntityID
									 AND (	ISNULL(@PlantIdString,'') = ''
											OR (
												(POM.POPlantId IN (
												SELECT * FROM dbo.SplitString(@PlantIdString,',')))
											)
									 ) 
                                    group by 
									OMIM.InspectionDate,
									MiM.prefix , MiM.Separator , MiM.Suffix ,MiM.Slipno,															
									MiM.SlipDate ,
									RMI.prefix , RMI.Separator , RMI.Suffix, RMI.INWSrNo,																		
									RMI.InwardDate,OMIM.SlipID,OMIM.MaterialInspectionID,
									RMI.InwardId,OMIM.RawmaterialDetailId,
									OMIM.Result,OMIM.RejectQty,ItemName

							Union All
							SELECT  DISTINCT TOP ( @PageSize )
								CONVERT(VARCHAR(11), OMIM.InspectionDate, 106) as InspectionDate ,
								OMIM.InspectionDate as InspDat ,
								'' AS Slipno,
								'' as SlipDate ,
								CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
										THEN RMI.INWSrNo
										ELSE CONVERT(VARCHAR(11), RMI.prefix)
											+ CONVERT(VARCHAR(11), RMI.Separator)
											+ CONVERT(VARCHAR(11), RMI.INWSrNo)
											+ CONVERT(VARCHAR(11), RMI.Separator)
											+ CONVERT(VARCHAR(11), RMI.Suffix)
								END AS GrnNo ,
								CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate,
								OMIM.SlipID,
								OMIM.MaterialInspectionID ,
								RMI.InwardId,
								0 AS SequenceNumber,
								OMIM.RawmaterialDetailId,
								(case when OMIM.Result = 0 then 'REJECT' else (case when OMIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end)
									as Result,
								OMIM.RejectQty,
								ItemName
								from									
								OtherMaterialInspectionMaster as OMIM 
								inner join RawMaterialInwardDetail as RMID on OMIM.RawmaterialDetailId=RMID.RawmaterialDetailId AND RMID.IsInspectionDone=1 AND RMID.EntityID = @EntityID
								inner join RawMaterialInward as RMI on RMI.InwardId = RMID.InwardID
								inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
								Inner join OtherMaterialInspectionTrans as OMIT On OMIM.MaterialInspectionID = OMIT.MaterialInspectionID
								INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = OMIT.PurchaseItemID
								where OMIM.IsOtherMaterialInspection = @IsOtherMaterialInspection AND OMIM.SlipId=CAST(0x0 AS uniqueidentifier) and 
									 ( @SlipId IS NULL
                                              OR OMIM.SlipId = @SlipId
                                     )
                                     AND             ( @InwardId IS NULL
                                        OR RMI.InwardId = @InwardId
                                     )
                                     AND ( @DateFrom IS NULL
                                           OR @DateTo IS NULL
											OR OMIM.InspectionDate BETWEEN @DateFrom
                                            AND
                                                              @DateTo
                                          )   
                                     AND OMIM.IsDeleted = 0
                                     AND   (@Result = -1 OR OMIM.MaterialInspectionID IN (SELECT OtherMaterialInspectionTrans.MaterialInspectionID FROM 
                                     OtherMaterialInspectionTrans WHERE OtherMaterialInspectionTrans.Result = @Result))
                                     AND (	ISNULL(@PlantIdString,'') = ''
											OR (
												(POM.POPlantId IN (
												SELECT * FROM dbo.SplitString(@PlantIdString,',')))
											)
									 ) 
                                    group by 
									OMIM.InspectionDate,
									RMI.prefix , RMI.Separator , RMI.Suffix, RMI.INWSrNo,																		
									RMI.InwardDate,OMIM.SlipID,OMIM.MaterialInspectionID,
									RMI.InwardId,OMIM.RawmaterialDetailId,
									OMIM.Result,OMIM.RejectQty,ItemName
                                          
                            ) AS ChemicalInspectionMaster      
                            Order BY ChemicalInspectionMaster.InspDat Desc
                            --ChemicalInspectionMaster.SequenceNumber Desc                                                        
					END
					ELSE
						BEGIN
								SELECT DISTINCT TOP ( @PageSize )
							* From (	
							select ROW_NUMBER() OVER ( ORDER BY InspDat DESC) AS SrNo ,*
							FROM    (
							SELECT  DISTINCT 
									CONVERT(VARCHAR(11), OMIM.InspectionDate, 106) as InspectionDate ,
									OMIM.InspectionDate as InspDat ,
									
									CASE WHEN MiM.Prefix IS NULL THEN ''
                         ELSE CONVERT(VARCHAR(50), MiM.Prefix)
                    END
                    + CASE WHEN MiM.Separator IS NULL
                           THEN ''
                           ELSE CONVERT(VARCHAR(50), MiM.Separator)
                      END + CONVERT(VARCHAR(50), MiM.Slipno)
                    + CASE WHEN MiM.Separator IS NULL
                           THEN ''
                           ELSE CONVERT(VARCHAR(50), MiM.Separator)
                      END
                    + CASE WHEN MiM.Suffix IS NULL THEN ''
                           ELSE CONVERT(VARCHAR(50), MiM.Suffix)
                      END AS Slipno
								,							
									CONVERT(VARCHAR(11), MiM.SlipDate, 106) as SlipDate ,
									
									CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
													 THEN RMI.INWSrNo
													 ELSE CONVERT(VARCHAR(11), RMI.prefix)
														  + CONVERT(VARCHAR(11), RMI.Separator)
														  + CONVERT(VARCHAR(11), RMI.INWSrNo)
														  + CONVERT(VARCHAR(11), RMI.Separator)
														  + CONVERT(VARCHAR(11), RMI.Suffix)
												END AS GrnNo ,
									
									CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate 									
									,OMIM.SlipID
									,OMIM.MaterialInspectionID ,
									RMI.InwardId
									,Cast( MIM.SlipNo As Int) AS SequenceNumber,
									OMIM.RawmaterialDetailId,
									(case when OMIM.Result = 0 then 'REJECT' else (case when OMIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end)
									as Result,
									OMIM.RejectQty,
									ItemName
									--,
									--OMIT.PurchaseItemID
									from									
									OtherMaterialInspectionMaster as OMIM 																
									inner join MaterialInspectionMaster as MiM ON MiM.SlipId = OMIM.SlipID									
									Inner Join MaterialInspectionTrans as MiT On MiM.SlipId = MiT.SlipID	
									inner join RawMaterialInward as RMI on RMI.InwardId = MiM.InwardID
									inner join RawMaterialInwardDetail as RMID on RMI.InwardId=RMID.InwardId AND RMID.PurchaseItemId = MiT.PurchaseItemID
										And (OMIM.RawmaterialDetailId=0 or RMID.RawmaterialDetailId = OMIM.RawmaterialDetailId)
									inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
									Inner join OtherMaterialInspectionTrans as OMIT On OMIM.MaterialInspectionID = OMIT.MaterialInspectionID
									INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = OMIT.PurchaseItemID
							where   OMIM.IsOtherMaterialInspection= @IsOtherMaterialInspection and
									( @SlipId IS NULL
                                              OR OMIM.SlipId = @SlipId
                                     )
                                     AND ( @InwardId IS NULL
                                        OR RMI.InwardId = @InwardId
                                     )
                                     AND ( @DateFrom IS NULL
                                           OR @DateTo IS NULL
											OR  OMIM.InspectionDate BETWEEN @DateFrom
                                            AND
                                                              @DateTo
                                          )   
                                     AND OMIM.IsDeleted = 0
                                     AND   (@Result = -1 OR OMIM.MaterialInspectionID IN (SELECT OtherMaterialInspectionTrans.MaterialInspectionID FROM 
                                     OtherMaterialInspectionTrans WHERE OtherMaterialInspectionTrans.Result = @Result))
                                     AND MiM.EntityID = @EntityID
									 AND (	ISNULL(@PlantIdString,'') = ''
											OR (
												(POM.POPlantId IN (
												SELECT * FROM dbo.SplitString(@PlantIdString,',')))
											)
									 ) 
                                    group by 

									 OMIM.InspectionDate,
									 OMIM.Result,
									 OMIM.RejectQty,
									 MiM.prefix , MiM.Separator , MiM.Suffix ,MiM.Slipno,															
									 MiM.SlipDate ,
									
									RMI.prefix , RMI.Separator , RMI.Suffix, RMI.INWSrNo,																		
									 RMI.InwardDate									 
									,OMIM.SlipID
									,OMIM.MaterialInspectionID,
									RMI.InwardId,OMIM.RawmaterialDetailId,ItemName
									--,
									--OMIT.PurchaseItemID
                                UNION ALL
								SELECT  DISTINCT 
								CONVERT(VARCHAR(11), OMIM.InspectionDate, 106) as InspectionDate ,
								OMIM.InspectionDate as InspDat ,
								'' AS Slipno,
								'' as SlipDate ,
								CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
										THEN RMI.INWSrNo
										ELSE CONVERT(VARCHAR(11), RMI.prefix)
											+ CONVERT(VARCHAR(11), RMI.Separator)
											+ CONVERT(VARCHAR(11), RMI.INWSrNo)
											+ CONVERT(VARCHAR(11), RMI.Separator)
											+ CONVERT(VARCHAR(11), RMI.Suffix)
								END AS GrnNo ,
								CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate,
								OMIM.SlipID,
								OMIM.MaterialInspectionID ,
								RMI.InwardId,
								0 AS SequenceNumber,
								OMIM.RawmaterialDetailId,
								(case when OMIM.Result = 0 then 'REJECT' else (case when OMIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end)
									as Result,
									OMIM.RejectQty,
									ItemName
								from									
								OtherMaterialInspectionMaster as OMIM 
								inner join RawMaterialInwardDetail as RMID on OMIM.RawmaterialDetailId=RMID.RawmaterialDetailId AND RMID.IsInspectionDone=1 AND RMID.EntityID = @EntityID
								inner join RawMaterialInward as RMI on RMI.InwardId = RMID.InwardID
								inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
								Inner join OtherMaterialInspectionTrans as OMIT On OMIM.MaterialInspectionID = OMIT.MaterialInspectionID
								INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = OMIT.PurchaseItemID	
								where OMIM.IsOtherMaterialInspection= @IsOtherMaterialInspection and OMIM.SlipId= CAST(0x0 AS uniqueidentifier) and
								( @SlipId IS NULL
                                              OR OMIM.SlipId = @SlipId
                                     )
                                     AND            ( @InwardId IS NULL
                                        OR RMI.InwardId = @InwardId
                                     )
                                     AND ( @DateFrom IS NULL
                                           OR @DateTo IS NULL
											OR OMIM.InspectionDate BETWEEN @DateFrom
                                            AND
                                                              @DateTo
                                          )   
                                     AND OMIM.IsDeleted = 0
                                     AND   (@Result = -1 OR OMIM.MaterialInspectionID IN (SELECT OtherMaterialInspectionTrans.MaterialInspectionID FROM 
                                     OtherMaterialInspectionTrans WHERE OtherMaterialInspectionTrans.Result = @Result))
                                     AND (	ISNULL(@PlantIdString,'') = ''
											OR (
												(POM.POPlantId IN (
												SELECT * FROM dbo.SplitString(@PlantIdString,',')))
											)
									 ) 
                                    group by 
									OMIM.InspectionDate,
									RMI.prefix , RMI.Separator , RMI.Suffix, RMI.INWSrNo,																		
									RMI.InwardDate,OMIM.SlipID,OMIM.MaterialInspectionID,
									RMI.InwardId,OMIM.RawmaterialDetailId,
									OMIM.Result,OMIM.RejectQty,ItemName
                                 ) AS Final              
								) AS ChemicalInspectionMaster
								   
						   WHERE   SrNo > ( @PageNumber * @PageSize )  
						   Order BY ChemicalInspectionMaster.InspDat Desc
						   --,ChemicalInspectionMaster.SequenceNumber Desc
						END
			END
				IF @parameter = 3 -- fetch total Record
            BEGIN
                SET @TotalRecords = ( SELECT  COUNT(*)
                                      FROM      ( 
                                      SELECT  DISTINCT 
										ROW_NUMBER() OVER ( ORDER BY CIM.InspectionDate DESC ) AS SrNo ,
											PIM.ItemName,
											CONVERT(VARCHAR(11), CIM.InspectionDate, 106) as InspectionDate ,
											CASE WHEN MiM.Prefix IS NULL THEN ''
										 ELSE CONVERT(VARCHAR(50), MiM.Prefix)
									END
									+ CASE WHEN MiM.Separator IS NULL
										   THEN ''
										   ELSE CONVERT(VARCHAR(50), MiM.Separator)
									  END + CONVERT(VARCHAR(50), MiM.Slipno)
									+ CASE WHEN MiM.Separator IS NULL
										   THEN ''
										   ELSE CONVERT(VARCHAR(50), MiM.Separator)
									  END
									+ CASE WHEN MiM.Suffix IS NULL THEN ''
										   ELSE CONVERT(VARCHAR(50), MiM.Suffix)
									  END AS Slipno
											 ,							
											CONVERT(VARCHAR(11), MiM.SlipDate, 106) as SlipDate ,
											--RMI.INWno as GrnNo,
											CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
															 THEN RMI.INWSrNo
															 ELSE CONVERT(VARCHAR(11), RMI.prefix)
																  + CONVERT(VARCHAR(11), RMI.Separator)
																  + CONVERT(VARCHAR(11), RMI.INWSrNo)
																  + CONVERT(VARCHAR(11), RMI.Separator)
																  + CONVERT(VARCHAR(11), RMI.Suffix)
														END AS GrnNo ,
							
								CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate ,
								(
								case when CIM.Result = 0 then 'REJECT' else (case when CIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end
								) as Result,
								RMI.InwardId,
								CIM.SlipID,
								CIM.PurchaseItemID,
								CIM.MaterialInspectionID
								from ChemicalInspectionMaster as CIM
								Inner join MaterialInspectionMaster as MiM On CIM.SlipID = MiM.SlipId					
								Inner Join MaterialInspectionTrans as MiT On MiM.SlipId = MiT.SlipID	
								inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = CIM.PurchaseItemID
								inner join RawMaterialInward as RMI on RMI.InwardId = MiM.InwardID
								inner join RawMaterialInwardDetail as RMID on RMI.InwardId=RMID.InwardId AND RMID.PurchaseItemId = MiT.PurchaseItemID
									And (CIM.RawmaterialDetailId=0 or RMID.RawmaterialDetailId = CIM.RawmaterialDetailId)
								inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
								where   
									( @SlipId IS NULL
												  OR MiM.SlipId = @SlipId
										 )
										 AND ( @InwardId IS NULL
											OR RMI.InwardId = @InwardId
										 )
										 AND ( @DateFrom IS NULL
											   OR @DateTo IS NULL
												OR  CIM.InspectionDate BETWEEN @DateFrom
												AND
																  @DateTo
											  ) 
										 AND   (@Result = -1 OR CIM.Result = @Result)
										 AND CIM.IsDeleted = 0
										 AND MiM.EntityID = @EntityID
										 AND (	ISNULL(@PlantIdString,'') = ''
												OR (
													(POM.POPlantId IN (
													SELECT * FROM dbo.SplitString(@PlantIdString,',')))
												)
										 )
								UNION All
								SELECT DISTINCT ROW_NUMBER() OVER ( ORDER BY CIM.InspectionDate DESC) AS SrNo ,
								PIM.ItemName,
								CONVERT(VARCHAR(11), CIM.InspectionDate, 106) as InspectionDate ,
								'' AS Slipno,
								'' AS SlipDate,
								CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
											 THEN RMI.INWSrNo
											 ELSE CONVERT(VARCHAR(11), RMI.prefix)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.INWSrNo)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.Suffix)
								END AS GrnNo ,
								CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate ,
								(case when CIM.Result = 0 then 'REJECT' else (case when CIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end) 
								as Result,
								RMI.InwardId,
								CIM.SlipID,
								CIM.PurchaseItemID,
								CIM.MaterialInspectionID
								from ChemicalInspectionMaster as CIM
								inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = CIM.PurchaseItemID --AND PIM.EntityID=@EntityID
								INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId =PIM.PurchaseItemId
								AND PurchaseCompanyMapping.CompanyId=@EntityID
								inner join RawMaterialInwardDetail as RMID on CIM.RawmaterialDetailId=RMID.RawmaterialDetailId AND RMID.EntityId = @EntityID
								inner join RawMaterialInward as RMI on RMI.InwardId = RMID.InwardId
								inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
								where CIM.SlipId= CAST(0x0 AS uniqueidentifier) and  
								( @SlipId IS NULL
											OR CIM.SlipId = @SlipId
								) AND 
								( @InwardId IS NULL
								OR RMI.InwardId = @InwardId
								)
								AND ( @DateFrom IS NULL
									OR @DateTo IS NULL
									OR  CIM.InspectionDate BETWEEN @DateFrom
									AND
														@DateTo
									) 
								AND   (@Result = -1 OR CIM.Result = @Result)
								AND CIM.IsDeleted = 0
								--AND MiM.EntityID = @EntityID
								AND (	ISNULL(@PlantIdString,'') = ''
									OR (
										(POM.POPlantId IN (
										SELECT * FROM dbo.SplitString(@PlantIdString,',')))
									)
								) 


								) AS c
							)
            RETURN @TotalRecords
            END
		
			IF @parameter = 4 -- fetch Other Material total Record
            BEGIN
                SET @TotalRecords = ( SELECT    COUNT(1)
                                      FROM      ( 
                                      SELECT  DISTINCT 
									ROW_NUMBER() OVER ( ORDER BY OMIM.InspectionDate DESC ) AS SrNo ,
									CONVERT(VARCHAR(11), OMIM.InspectionDate, 106) as InspectionDate ,
									
									CASE WHEN MiM.Prefix IS NULL THEN ''
                         ELSE CONVERT(VARCHAR(50), MiM.Prefix)
                    END
                    + CASE WHEN MiM.Separator IS NULL
                           THEN ''
                           ELSE CONVERT(VARCHAR(50), MiM.Separator)
                      END + CONVERT(VARCHAR(50), MiM.Slipno)
                    + CASE WHEN MiM.Separator IS NULL
                           THEN ''
                           ELSE CONVERT(VARCHAR(50), MiM.Separator)
                      END
                    + CASE WHEN MiM.Suffix IS NULL THEN ''
                           ELSE CONVERT(VARCHAR(50), MiM.Suffix)
                      END AS Slipno ,							
									CONVERT(VARCHAR(11), MiM.SlipDate, 106) as SlipDate ,
									
									CASE WHEN RMI.prefix IS NULL THEN ''
                         ELSE CONVERT(VARCHAR(50),RMI.prefix)
                    END
                    + CASE WHEN RMI.Separator IS NULL
                           THEN ''
                           ELSE CONVERT(VARCHAR(50), RMI.Separator)
                      END + CONVERT(VARCHAR(50), RMI.INWSrNo)
                    + CASE WHEN RMI.INWSrNo IS NULL
                           THEN ''
                           ELSE CONVERT(VARCHAR(50), RMI.Separator)
                      END
                    + CASE WHEN RMI.Suffix IS NULL THEN ''
                           ELSE CONVERT(VARCHAR(50), RMI.Suffix)
                      END AS GrnNo,
									CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate 									
									,OMIM.SlipID
									,OMIM.MaterialInspectionID ,
									RMI.InwardId,OMIM.RawmaterialDetailId
									--,
									--OMIT.PurchaseItemID
									from									
									OtherMaterialInspectionMaster as OMIM 																
									inner join MaterialInspectionMaster as MiM ON MiM.SlipId = OMIM.SlipID									
									Inner Join MaterialInspectionTrans as MiT On MiM.SlipId = MiT.SlipID	
									inner join RawMaterialInward as RMI on RMI.InwardId = MiM.InwardID
									inner join RawMaterialInwardDetail as RMID on RMI.InwardId=RMID.InwardId AND RMID.PurchaseItemId = MiT.PurchaseItemID
									And (OMIM.RawmaterialDetailId=0 or RMID.RawmaterialDetailId = OMIM.RawmaterialDetailId)
									inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
								
							where   OMIM.IsOtherMaterialInspection= @IsOtherMaterialInspection and
									( @SlipId IS NULL
                                              OR OMIM.SlipId = @SlipId
                                     )
                                     AND ( @InwardId IS NULL
                                        OR RMI.InwardId = @InwardId
                                     )
                                     AND ( @DateFrom IS NULL
                                           OR @DateTo IS NULL
											OR OMIM.InspectionDate BETWEEN @DateFrom
                                            AND
                                                              @DateTo
                                          )   
                                     AND OMIM.IsDeleted = 0
                                     AND   (@Result = -1 OR MaterialInspectionID IN (SELECT OtherMaterialInspectionTrans.MaterialInspectionID FROM 
                                     OtherMaterialInspectionTrans WHERE OtherMaterialInspectionTrans.Result = @Result))
                                     AND MiM.EntityID = @EntityID
									 AND (	ISNULL(@PlantIdString,'') = ''
											OR (
												(POM.POPlantId IN (
												SELECT * FROM dbo.SplitString(@PlantIdString,',')))
											)
									 ) 
                                    group by 

									 OMIM.InspectionDate,
									
									 MiM.prefix , MiM.Separator , MiM.Suffix ,MiM.Slipno,															
									 MiM.SlipDate ,
									
									RMI.prefix , RMI.Separator , RMI.Suffix, RMI.INWSrNo,																		
									 RMI.InwardDate									 
									,OMIM.SlipID
									,OMIM.MaterialInspectionID,
									RMI.InwardId,OMIM.RawmaterialDetailId
									--,
									--OMIT.PurchaseItemID
                                UNION ALL
								SELECT  DISTINCT 
								ROW_NUMBER() OVER ( ORDER BY OMIM.InspectionDate DESC) AS SrNo ,
								CONVERT(VARCHAR(11), OMIM.InspectionDate, 106) as InspectionDate ,
								'' AS Slipno,
								'' as SlipDate ,
								CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
										THEN RMI.INWSrNo
										ELSE CONVERT(VARCHAR(11), RMI.prefix)
											+ CONVERT(VARCHAR(11), RMI.Separator)
											+ CONVERT(VARCHAR(11), RMI.INWSrNo)
											+ CONVERT(VARCHAR(11), RMI.Separator)
											+ CONVERT(VARCHAR(11), RMI.Suffix)
								END AS GrnNo ,
								CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate,
								OMIM.SlipID,
								OMIM.MaterialInspectionID ,
								RMI.InwardId,OMIM.RawmaterialDetailId
								from									
								OtherMaterialInspectionMaster as OMIM 
								inner join RawMaterialInwardDetail as RMID on OMIM.RawmaterialDetailId=RMID.RawmaterialDetailId AND RMID.IsInspectionDone=1 AND RMID.EntityID = @EntityID
								inner join RawMaterialInward as RMI on RMI.InwardId = RMID.InwardID
								inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
								where OMIM.IsOtherMaterialInspection= @IsOtherMaterialInspection and OMIM.SlipId= CAST(0x0 AS uniqueidentifier) and ( @SlipId IS NULL
                                              OR OMIM.SlipId = @SlipId
                                     )
                                     AND            ( @InwardId IS NULL
                                        OR RMI.InwardId = @InwardId
                                     )
                                     AND ( @DateFrom IS NULL
                                           OR @DateTo IS NULL
											OR OMIM.InspectionDate BETWEEN @DateFrom
                                            AND
                                                              @DateTo
                                          )   
                                     AND OMIM.IsDeleted = 0
                                     AND   (@Result = -1 OR MaterialInspectionID IN (SELECT OtherMaterialInspectionTrans.MaterialInspectionID FROM 
                                     OtherMaterialInspectionTrans WHERE OtherMaterialInspectionTrans.Result = @Result))
                                     AND (	ISNULL(@PlantIdString,'') = ''
											OR (
												(POM.POPlantId IN (
												SELECT * FROM dbo.SplitString(@PlantIdString,',')))
											)
									 ) 
                                    group by 
									OMIM.InspectionDate,
									RMI.prefix , RMI.Separator , RMI.Suffix, RMI.INWSrNo,																		
									RMI.InwardDate,OMIM.SlipID,OMIM.MaterialInspectionID,
									RMI.InwardId,OMIM.RawmaterialDetailId
									
                               ) AS ChemicalInspectionMaster
							)
            RETURN @TotalRecords
            END
            
            		IF @Parameter = 5 --FOR RDLC RAW MATERIAL
			BEGIN
			    
					select ROW_NUMBER() OVER ( ORDER BY InsDt DESC ) AS SrNo ,* 
					from (
					SELECT  DISTINCT 
							PIM.ItemName,
							CONVERT(VARCHAR(11), CIM.InspectionDate, 106) as InspectionDate ,
							CIM.InspectionDate AS InsDt,
							CASE WHEN MiM.Prefix IS NULL THEN ''
                         ELSE CONVERT(VARCHAR(50), MiM.Prefix)
                    END
                    + CASE WHEN MiM.Separator IS NULL
                           THEN ''
                           ELSE CONVERT(VARCHAR(50), MiM.Separator)
                      END + CONVERT(VARCHAR(50), MiM.Slipno)
                    + CASE WHEN MiM.Separator IS NULL
                           THEN ''
                           ELSE CONVERT(VARCHAR(50), MiM.Separator)
                      END
                    + CASE WHEN MiM.Suffix IS NULL THEN ''
                           ELSE CONVERT(VARCHAR(50), MiM.Suffix)
                      END AS Slipno
								 ,							
							CONVERT(VARCHAR(11), MiM.SlipDate, 106) as SlipDate ,
							--RMI.INWno as GrnNo,
							CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
											 THEN RMI.INWSrNo
											 ELSE CONVERT(VARCHAR(11), RMI.prefix)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.INWSrNo)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.Suffix)
										END AS GrnNo ,
							
							CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate ,
							(
							case when CIM.Result = 0 then 'REJECT' else (case when CIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end
							) as Result,
							CIM.RejectQty
							
							
							from ChemicalInspectionMaster as CIM
							Inner join MaterialInspectionMaster as MiM On CIM.SlipID = MiM.SlipId					
							Inner Join MaterialInspectionTrans as MiT On MiM.SlipId = MiT.SlipID	
							inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = CIM.PurchaseItemID
							inner join RawMaterialInward as RMI on RMI.InwardId = MiM.InwardID
							inner join RawMaterialInwardDetail as RMID on RMI.InwardId=RMID.InwardId AND RMID.PurchaseItemId = MiT.PurchaseItemID
							And (CIM.RawmaterialDetailId=0 or RMID.RawmaterialDetailId = CIM.RawmaterialDetailId)
							inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
							where   
									( @SlipId IS NULL
                                              OR MiM.SlipId = @SlipId
                                     )
                                     AND ( @InwardId IS NULL
                                        OR RMI.InwardId = @InwardId
                                     )
                                     AND ( @DateFrom IS NULL
                                           OR @DateTo IS NULL
											OR CIM.InspectionDate BETWEEN @DateFrom
                                            AND
                                                              @DateTo
                                          ) 
                                     AND   (@Result = -1 OR CIM.Result = @Result)
                                     AND CIM.IsDeleted = 0
                                     AND MiM.EntityID = @EntityID
									 AND (	ISNULL(@PlantIdString,'') = ''
											OR (
												(POM.POPlantId IN (
												SELECT * FROM dbo.SplitString(@PlantIdString,',')))
											)
									 )
					UNION ALL
					SELECT  DISTINCT PIM.ItemName,
							CONVERT(VARCHAR(11), CIM.InspectionDate, 106) as InspectionDate ,
							CIM.InspectionDate AS InsDt,
							'' AS Slipno,
							'' AS SlipDate,
							CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
											 THEN RMI.INWSrNo
											 ELSE CONVERT(VARCHAR(11), RMI.prefix)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.INWSrNo)
												  + CONVERT(VARCHAR(11), RMI.Separator)
												  + CONVERT(VARCHAR(11), RMI.Suffix)
										END AS GrnNo ,
							
							CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate ,
							(
							case when CIM.Result = 0 then 'REJECT' else (case when CIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end
							) as Result,
							CIM.RejectQty
							from ChemicalInspectionMaster as CIM
							inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = CIM.PurchaseItemID
							inner join RawMaterialInwardDetail as RMID on CIM.RawmaterialDetailId=RMID.RawmaterialDetailId AND RMID.EntityID = @EntityID --AND RMID.IsInspectionDone = 1
							inner join RawMaterialInward as RMI on RMI.InwardId = RMID.InwardID AND RMI.EntityID = @EntityID
							inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
							where  CIM.SlipId= CAST(0x0 AS uniqueidentifier) and  ( @SlipId IS NULL
                                              OR CIM.SlipId = @SlipId
                                     )
                                     AND ( @InwardId IS NULL
                                        OR RMI.InwardId = @InwardId
                                     )
                                     AND ( @DateFrom IS NULL
                                           OR @DateTo IS NULL
											OR CIM.InspectionDate BETWEEN @DateFrom
                                            AND
                                                              @DateTo
                                          ) 
                                     AND   (@Result = -1 OR CIM.Result = @Result)
                                     AND CIM.IsDeleted = 0
                                     
									 AND (	ISNULL(@PlantIdString,'') = ''
											OR (
												(POM.POPlantId IN (
												SELECT * FROM dbo.SplitString(@PlantIdString,',')))
											)
									 )
						) as final
                                          
                          
			END
			IF @Parameter = 6 -- FOR OTHER MATERIAL
			BEGIN
					Select ROW_NUMBER() OVER ( ORDER BY InspDt DESC ) AS SrNo ,* from(
						SELECT  DISTINCT 
								PurchaseItemMaster.ItemName,
									CONVERT(VARCHAR(11), OMIM.InspectionDate, 106) as InspectionDate ,
									OMIM.InspectionDate as InspDt,
									CASE WHEN MiM.Prefix IS NULL THEN ''
                         ELSE CONVERT(VARCHAR(50), MiM.Prefix)
                    END
                    + CASE WHEN MiM.Separator IS NULL
                           THEN ''
                           ELSE CONVERT(VARCHAR(50), MiM.Separator)
                      END + CONVERT(VARCHAR(50), MiM.Slipno)
                    + CASE WHEN MiM.Separator IS NULL
                           THEN ''
                           ELSE CONVERT(VARCHAR(50), MiM.Separator)
                      END
                    + CASE WHEN MiM.Suffix IS NULL THEN ''
                           ELSE CONVERT(VARCHAR(50), MiM.Suffix)
                      END AS Slipno,							
									CONVERT(VARCHAR(11), MiM.SlipDate, 106) as SlipDate ,
									
									CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
													 THEN RMI.INWSrNo
													 ELSE CONVERT(VARCHAR(11), RMI.prefix)
														  + CONVERT(VARCHAR(11), RMI.Separator)
														  + CONVERT(VARCHAR(11), RMI.INWSrNo)
														  + CONVERT(VARCHAR(11), RMI.Separator)
														  + CONVERT(VARCHAR(11), RMI.Suffix)
												END AS GrnNo ,
									
									CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate ,
									(
									case when OMIM.Result = 0 then 'REJECT' else (case when OMIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end
									) as Result,
									OMIM.RawmaterialDetailId,
									OMIM.RejectQty
									
														
									
									from									
									OtherMaterialInspectionMaster as OMIM 																
									inner join MaterialInspectionMaster as MiM ON MiM.SlipId = OMIM.SlipID									
									Inner join OtherMaterialInspectionTrans as OMIT On OMIM.MaterialInspectionID = OMIT.MaterialInspectionID
									INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = OMIT.PurchaseItemID
									inner join RawMaterialInward as RMI on RMI.InwardId = MiM.InwardID
									Inner Join MaterialInspectionTrans as MiT On MiM.SlipId = MiT.SlipID	
									inner join RawMaterialInwardDetail as RMID on RMI.InwardId=RMID.InwardId AND RMID.PurchaseItemId = MiT.PurchaseItemID
									And (OMIM.RawmaterialDetailId=0 or RMID.RawmaterialDetailId = OMIM.RawmaterialDetailId)
									inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
							where   OMIM.IsOtherMaterialInspection= @IsOtherMaterialInspection and
									( @SlipId IS NULL
                                              OR OMIM.SlipId = @SlipId
                                     )
                                     AND ( @InwardId IS NULL
                                        OR RMI.InwardId = @InwardId
                                     )
                                     AND ( @DateFrom IS NULL
                                           OR @DateTo IS NULL
											OR OMIM.InspectionDate BETWEEN @DateFrom
                                            AND
                                                              @DateTo
                                          )   
                                     AND OMIM.IsDeleted = 0
                                     AND   (@Result = -1 OR OMIT.Result = @Result)
                                     AND MiM.EntityID = @EntityID
									 AND (	ISNULL(@PlantIdString,'') = ''
											OR (
												(POM.POPlantId IN (
												SELECT * FROM dbo.SplitString(@PlantIdString,',')))
											)
									 )
         --                          
				UNION ALL
				SELECT  DISTINCT 
								PurchaseItemMaster.ItemName,
									CONVERT(VARCHAR(11), OMIM.InspectionDate, 106) as InspectionDate ,
									OMIM.InspectionDate as InspDt,
									'' AS Slipno,
									'' as SlipDate ,
									CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
													 THEN RMI.INWSrNo
													 ELSE CONVERT(VARCHAR(11), RMI.prefix)
														  + CONVERT(VARCHAR(11), RMI.Separator)
														  + CONVERT(VARCHAR(11), RMI.INWSrNo)
														  + CONVERT(VARCHAR(11), RMI.Separator)
														  + CONVERT(VARCHAR(11), RMI.Suffix)
												END AS GrnNo ,
									
									CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate ,
									(
									case when OMIM.Result = 0 then 'REJECT' else (case when OMIM.Result = 1 then 'OK' else 'OK WITH DEVIATION' end) end
									) as Result,
									OMIM.RawmaterialDetailId,
									OMIM.RejectQty
									
														
									
									from									
									OtherMaterialInspectionMaster as OMIM 																
									Inner join OtherMaterialInspectionTrans as OMIT On OMIM.MaterialInspectionID = OMIT.MaterialInspectionID
									INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = OMIT.PurchaseItemID
									inner join RawMaterialInwardDetail as RMID on OMIM.RawmaterialDetailId=RMID.RawmaterialDetailId AND RMID.IsInspectionDone = 1 
									and RMID.EntityId=@EntityId
									inner join RawMaterialInward as RMI on RMI.InwardId = RMID.InwardID
									inner join PurchaseOrder_Master as POM on RMID.PurchaseOrderId=POM.PurchaseOrderId
							where   OMIM.IsOtherMaterialInspection= @IsOtherMaterialInspection and OMIM.SlipId= CAST(0x0 AS uniqueidentifier) and ( @SlipId IS NULL
                                              OR OMIM.SlipId = @SlipId
                                     )
                                     AND
									( @InwardId IS NULL
                                        OR RMI.InwardId = @InwardId
                                     )
                                     AND ( @DateFrom IS NULL
                                           OR @DateTo IS NULL
											OR OMIM.InspectionDate BETWEEN @DateFrom
                                            AND
                                                              @DateTo
                                          )   
                                     AND OMIM.IsDeleted = 0
                                     AND   (@Result = -1 OR OMIT.Result = @Result)
									 AND (	ISNULL(@PlantIdString,'') = ''
											OR (
												(POM.POPlantId IN (
												SELECT * FROM dbo.SplitString(@PlantIdString,',')))
											)
									 )
                                ) as final          
                           
			END

			IF(@Parameter = 7)
			BEGIN
				select CM.CustomerName,CONVERT(VARCHAR(11), OMIM.InspectionDate, 106) as InspectionDate,PIM.ItemName,RMID.AcceptedQuantiy as Quantity,OMIM.AFS,OMIM.CreatedBy,
						CASE WHEN RMI.prefix + RMI.Separator + RMI.Suffix IS NULL
								THEN RMI.INWSrNo
								ELSE CONVERT(VARCHAR(11), RMI.prefix)
									+ CONVERT(VARCHAR(11), RMI.Separator)
									+ CONVERT(VARCHAR(11), RMI.INWSrNo)
									+ CONVERT(VARCHAR(11), RMI.Separator)
									+ CONVERT(VARCHAR(11), RMI.Suffix)
						END AS GrnNo ,
						CONVERT(VARCHAR(11), RMI.InwardDate, 106) as GrnDate,
						--ISONumbering.ReportName
						ISODetail.ReportName
						from   OtherMaterialInspectionMaster as OMIM
						inner join RawMaterialInwardDetail as RMID on OMIM.RawmaterialDetailId=RMID.RawmaterialDetailId	
						inner join RawMaterialInward as RMI on RMI.InwardId = RMID.InwardID
						inner join PurchaseOrder_Master as PO_M on PO_M.PurchaseOrderId=RMID.PurchaseOrderId	
						inner join CustomerMaster as CM on CM.CustomerId=PO_M.CustomerID	
						inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = RMID.PurchaseItemID
						Inner JOin ISONumbering on PageCode='INCSND'
						iNNER JOIN ISODetail ON ISODetail.PageID = ISONumbering.PageID   and ISODetail.EntityId = @EntityId
						where ( OMIM.MaterialInspectionID = @MaterialInspectionID ) 
						
						
						select * From IncomingSandDetail 
						where MaterialInspectionID=@MaterialInspectionID 
						Order by ICSand_ID asc

						select ROW_NUMBER() OVER ( ORDER BY PIM.ItemName Desc) as SrNo,
                           POT.ItemParameters as AcceptableLimit,
                           OMIT.ItemParameter as ItemParameters,
                           RMID.AcceptedQuantiy as Quantity ,
                           OMIT.NatureOfTest,
                           OMIT.TestResultDesc,
						   (case when OMIT.Result = 0 then 'REJECT' else (case when OMIT.Result = 1 then 'OK' else (case when OMIT.Result = 2 then 'OK WITH DEVIATION' else '' end) end) end) as
							Result,OMIT.Remark 
					from	OtherMaterialInspectionMaster as OMIM 
							Inner join OtherMaterialInspectionTrans as OMIT On OMIM.MaterialInspectionID = OMIT.MaterialInspectionID
							inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = OMIT.PurchaseItemID
							inner join RawMaterialInwardDetail as RMID on RMID.PurchaseItemId = OMIT.PurchaseItemID				
									and OMIM.RawmaterialDetailId = RMID.RawmaterialDetailId
							inner join RawMaterialInward as RMI on RMI.InwardId = RMID.InwardID  
							inner join PurchaseOrder_Trans as POT on POT.PurchaseItemId = OMIT.PurchaseItemID and POT.IsDeleted = 0
							where ( OMIM.MaterialInspectionID = @MaterialInspectionID ) AND ISNULL(OMIT.ItemParameter,'')<>''  
						                       
						group by											                             
                           PIM.ItemName ,
                           POT.ItemParameters,                           
                           RMID.AcceptedQuantiy,
                           OMIT.NatureOfTest,
                           OMIT.TestResultDesc,OMIT.Result ,OMIT.Remark ,OMIM.CreatedBy,
						   OMIT.ItemParameter,
						   OMIT.SerialNo
						order by OMIT.SerialNo asc
			END
END

GO
