USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SalesAmountTrendMoMChart]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Hemani Vandra>
-- Create date: <Create Date,,>
-- Description:	<Description,it gives financial year wise sales amount dynamically>
-- =============================================
-- Modified by: <Author,,Hemani Vandra>
-- Create date: <Create Date,5th Sept'19>
-- Description:	<Description,para 2 changed: for download in all three financialyear wise based on FetchFinancialYearDynamically function>
-- =============================================SalesAmountTrendMoMChart 2, 
CREATE PROCEDURE [dbo].[SalesAmountTrendMoMChart]
    @Parameter INT = 0 ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
    BEGIN
		
		declare @Plant table (Item int) 
		if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
		begin
			Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
		End

		DECLARE @StartingMonthForFY INT = 0
    
        IF ( @Parameter = 1 )
            BEGIN
                SET @StartingMonthForFY = ( SELECT  FinancialYear
                                            FROM    configuration
                                            where EntityID = @EntityId
                                          )
    
                SELECT  RowNo ,
                        SalesDate ,
                        DAY(SalesDate) AS DateField ,
                        QuarterField ,
                        SalesYear ,
                        ( CASE WHEN @StartingMonthForFY = 1
                               THEN CONVERT(VARCHAR, SalesYear)
                               WHEN SalesMonthInDigit < @StartingMonthForFY
                               THEN CONVERT(VARCHAR, SalesYear - 1) + '-'
                                    + CONVERT(VARCHAR, SalesYear)
                               ELSE CONVERT(VARCHAR, SalesYear) + '-'
                                    + CONVERT(VARCHAR, SalesYear + 1)
                          END ) AS FinancialYear ,
                        SalesMonthInDigit ,
                        MonthField ,
                        SalesAmount
                FROM    ( SELECT    1 AS RowNo ,
                                    CONVERT(VARCHAR(10), dispatchdate, 20) AS SalesDate ,
                                    ( CASE WHEN MONTH(dispatchdate) BETWEEN @StartingMonthForFY
                                                              AND
                                                              @StartingMonthForFY
                                                              + 2 THEN 'Q1'
                                           WHEN MONTH(dispatchdate) BETWEEN @StartingMonthForFY
                                                              + 3
                                                              AND
                                                              @StartingMonthForFY
                                                              + 5 THEN 'Q2'
                                           WHEN MONTH(dispatchdate) BETWEEN @StartingMonthForFY
                                                              + 6
                                                              AND
                                                              @StartingMonthForFY
                                                              + 8 THEN 'Q3'
                                           WHEN MONTH(dispatchdate) BETWEEN @StartingMonthForFY
                                                              + 9
                                                              AND
                                                              @StartingMonthForFY
                                                              + 11 THEN 'Q4'
                                      END ) AS QuarterField ,
                                    YEAR(dispatchdate) AS SalesYear ,
                                    MONTH(dispatchdate) AS SalesMonthInDigit ,
                                    DATENAME(MONTH, dispatchdate) AS MonthField ,
                                    SUM(ISNULL(TotalAmount, 0)) AS SalesAmount
                          FROM      dispatchmaster
                          WHERE     IsDeleted = 0 and TypeOfVoucher = 0
									AND isProforma = 0
                                    AND MONTH(dispatchdate) > @StartingMonthForFY - 1
                                     --AND ( @PlantIdString IS NULL
                                     --     OR @PlantIdString = ''
                                     --     OR DispatchID IN (
                                     --     SELECT    DispatchID
                                     --     FROM      dbo.dispatchtrans
                                     --     WHERE     CastingId IN (
                                     --               SELECT  CastingId
                                     --               FROM    dbo.PlantCastingMapping
                                     --                       INNER JOIN dbo.SplitString(@PlantIdString,
                                     --                         ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) ) )
                                     --   )
									 AND (@PlantIdString IS NULL 
											OR @PlantIdString = ''
											OR DispatchMaster.PlantID IN (
												SELECT Item FROM @Plant )
											)
                                    AND EntityID = @EntityId
                          GROUP BY  dispatchdate
                          UNION
                          SELECT    2 AS RowNo ,
                                    CONVERT(VARCHAR(10), dispatchdate, 20) AS SalesDate ,
                                    ( CASE WHEN MONTH(dispatchdate) BETWEEN @StartingMonthForFY
                                                              - 12
                                                              AND
                                                              @StartingMonthForFY
                                                              - 10 THEN 'Q1'
                                           WHEN MONTH(dispatchdate) BETWEEN @StartingMonthForFY
                                                              - 9
                                                              AND
                                                              @StartingMonthForFY
                                                              - 7 THEN 'Q2'
                                           WHEN MONTH(dispatchdate) BETWEEN @StartingMonthForFY
                                                              - 6
                                                              AND
                                                              @StartingMonthForFY
                                                              - 4 THEN 'Q3'
                                           WHEN MONTH(dispatchdate) BETWEEN @StartingMonthForFY
                                                              - 3
                                                              AND
                                                              @StartingMonthForFY
                                                              - 1 THEN 'Q4'
                                      END ) AS QuarterField ,
                                    YEAR(dispatchdate) AS SalesYear ,
                                    MONTH(dispatchdate) AS SalesMonthInDigit ,
                                    DATENAME(MONTH, dispatchdate) AS MonthField ,
                                    SUM(ISNULL(TotalAmount, 0)) AS SalesAmount
                          FROM      dispatchmaster
                          WHERE     IsDeleted = 0 and TypeOfVoucher = 0
									AND isProforma = 0
                                    AND MONTH(dispatchdate) < @StartingMonthForFY
                                   --AND ( @PlantIdString IS NULL
                                   --       OR @PlantIdString = ''
                                   --       OR DispatchID IN (
                                   --       SELECT    DispatchID
                                   --       FROM      dbo.dispatchtrans
                                   --       WHERE     CastingId IN (
                                   --                 SELECT  CastingId
                                   --                 FROM    dbo.PlantCastingMapping
                                   --                         INNER JOIN dbo.SplitString(@PlantIdString,
                                   --                           ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) ) )
                                   --     )
								   AND (@PlantIdString IS NULL 
											OR @PlantIdString = ''
											OR DispatchMaster.PlantID IN (
												SELECT Item FROM @Plant )
											)
                                    AND EntityID = @EntityId
                          GROUP BY  dispatchdate
                        ) A
	      
            END
	
		IF ( @Parameter = 2 )
		BEGIN


			SET @StartingMonthForFY = (
				SELECT		FinancialYear 
				FROM		configuration
				where EntityID = @EntityId
			);
			
			IF @StartingMonthForFY = 0
			BEGIN
				SET @StartingMonthForFY = 1 ;
			END

			SELECT		S.*, SS.*,
						(CASE	WHEN S.SrNo = 1 THEN ISNULL(F1.TotalAmount, 0)
								ELSE ISNULL(F2.TotalAmount, 0) END
						) AS TotalAmount
						
			FROM		(
							SELECT    DATENAME(MONTH, CONVERT(VARCHAR(50), year(GetDate()))+'-' + CAST(number AS VARCHAR(2)) + '-1') Month ,
									  number ,
									  1 AS SrNo
							FROM      master..spt_values
							WHERE     Type = 'P'
									  AND number BETWEEN @StartingMonthForFY AND 12
							UNION
							SELECT    DATENAME(MONTH, CONVERT(VARCHAR(50), year(GetDate()))+'-' + CAST(number AS VARCHAR(2)) + '-1') MONTH ,
									  number ,
									  2 AS SrNo
							FROM      master..spt_values
							WHERE     Type = 'P'
									  AND number BETWEEN 1 AND @StartingMonthForFY - 1						
						) AS S
						CROSS JOIN (
							SELECT		FinancialYear AS Year, 
										StartYear, 
										EndYear 
							FROM		FetchFinancialYearDynamically(@StartingMonthForFY)
						) AS SS
						LEFT JOIN (
							SELECT		DATENAME(month, dispatchdate) Months ,
										ROUND(ISNULL(SUM(dbo.dispatchmaster.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
										YEAR(dispatchdate) AS Year1
							FROM		dbo.dispatchmaster
							WHERE		dbo.dispatchmaster.IsDeleted = 0
										AND isProforma = 0
										AND MONTH(dispatchdate) > @StartingMonthForFY - 1 
										 --AND ( @PlantIdString IS NULL
           --                               OR @PlantIdString = ''
           --                               OR DispatchID IN (
           --                               SELECT    DispatchID
           --                               FROM      dbo.dispatchtrans
           --                               WHERE     CastingId IN (
           --                                         SELECT  CastingId
           --                                         FROM    dbo.PlantCastingMapping
           --                                                 INNER JOIN dbo.SplitString(@PlantIdString,
           --                                                   ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) ) )
           --                             )
										AND (@PlantIdString IS NULL 
											OR @PlantIdString = ''
											OR DispatchMaster.PlantID IN (
												SELECT Item FROM @Plant )
											)
                                    AND EntityID = @EntityId             
							GROUP BY	DATENAME(month, dispatchdate) ,
										YEAR(dispatchdate)
						) AS F1
						ON S.MONTH = F1.Months
						AND SS.StartYear = F1.Year1
						LEFT JOIN (
							SELECT		DATENAME(MONTH, dispatchdate) Months ,
										ROUND(ISNULL(SUM(dbo.dispatchmaster.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
										YEAR(dispatchdate) AS Year1
							FROM		dbo.dispatchmaster
							WHERE		dbo.dispatchmaster.IsDeleted = 0
										AND MONTH(dispatchdate) <@StartingMonthForFY   
										AND isProforma = 0
										 --AND ( @PlantIdString IS NULL
           --                               OR @PlantIdString = ''
           --                               OR DispatchID IN (
           --                               SELECT    DispatchID
           --                               FROM      dbo.dispatchtrans
           --                               WHERE     CastingId IN (
           --                                         SELECT  CastingId
           --                                         FROM    dbo.PlantCastingMapping
           --                                                 INNER JOIN dbo.SplitString(@PlantIdString,
           --                                                   ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) ) )
           --                             )
										AND (@PlantIdString IS NULL 
											OR @PlantIdString = ''
											OR DispatchMaster.PlantID IN (
												SELECT Item FROM @Plant )
											)
										AND EntityID = @EntityId
                            GROUP BY	DATENAME(MONTH, dispatchdate) ,
										YEAR(dispatchdate)
						) AS F2
						ON S.MONTH = F2.Months
						AND SS.EndYear = F2.Year1
			ORDER BY	Srno, 
						number
						
						
		END
		
END
GO
