USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Invoice_Series]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Invoice_Series]
    @Parameter INT = 0 ,
    @InvoiceSeriesId INT = 0 ,
    @InvoiceSeriesName VARCHAR(100) = NULL ,
    @ReportTitle VARCHAR(100) = NULL ,
    @IsDefault INT = 0 ,
    @PrefixSuffixId INT = 0 ,
    @SeriesType INT = -1 ,
    @PageCode VARCHAR(50) = NULL ,
    @EntityID INT = 0 ,
    @IsSample BIT = 0 ,
    @IsRejection BIT = 0 ,
    @Prefix NVARCHAR(50) = NULL ,
    @Separator NVARCHAR(50) = NULL ,
    @Suffix NVARCHAR(50) = NULL ,
    @ApplyDate DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL ,
    @Version BIT = NULL ,
    @CreatedBy INT = 0 ,
    @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL ,
    @IsExport BIT = 0 ,
    @SameExportAndInvoiceNo BIT = 0 ,
    @DepartmentDetail AS XML = NULL ,
    @IsRawMaterial BIT = 0 ,
    @IsScheduling BIT = 0 ,
    @IsCastingInward BIT = 0 ,
    @NoOfZero VARCHAR(10) = NULL ,
    @IsContinous INT = 0 ,
    @PlantIdString VARCHAR(MAX) = NULL,
    @IsProforma BIT = 0 ,
    @SeriesPlantIdString VARCHAR(MAX) = NULL
    ,@ForJoRework bit = 0
    ,@ForJoInsp bit = 0
    ,@SRNDetail BIT=0,
    @SeriesId INT=0
    , @IsSalesReturn BIT = 0 
    , @IsTallySync BIT = 0 ,
    @IsCastingRejSaleOrder int = 0
    , @IsAutoGRNSeries BIT = 0 
    , @IsInwardForPlant BIT = 0 
    ,@IsReturnAgainstTransfer BIT =0
    ,@IsJobReturnForOtherProcess BIT = 0
    ,@IsForJobIn bit = 0
    ,@IsImport  bit = 0
	,@IsIncomingSand int = 0
	,@IsJobInwardChk BIT = 0
	,@IsNonGST  BIT =0,
	@PackingPrefix varchar(50) = null,
    @PackingSuffix varchar(50) = null,
    @PackingSeparator varchar(50) = null ,
	@ApplyDateWiseHistory AS XML = NULL,
	@DomSeriesId INT = 0,    
    @DomPrefix NVArchar(50) = null,    
    @DomSuffix NVArchar(50) = null,    
    @DomSeparator NVArchar(50) = null,    
    @DomApplyDate DateTime = null,
    @ExportInvoiceSeries INT = 0 ,
	@IsBlock BIT = 0 ,
	@IsBlockCheck int = 2

 AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;
        IF ( @Parameter = 1 )
            BEGIN
            
                DECLARE @DepartmentId INT;
            
                IF ( @InvoiceSeriesId = 0 )--means Insert
                    BEGIN
                             
                        --INSERT  INTO dbo.Prefix_Suffix
                        --        ( Page_Name ,
                        --          PageCode ,
                        --          Prefix ,
                        --          Suffix ,
                        --          Separator ,
                        --          Applydate ,
                        --          Version ,
                        --          CreatedON ,
                        --          CreatedBy ,
                        --          ModifiedOn ,
                        --          ModifiedBy ,
                        --          EntityID  
                        --        )
                        --VALUES  ( @InvoiceSeriesName , -- Page_Name - nvarchar(50)
                        --          @PageCode ,
                        --          @Prefix , -- Prefix - nvarchar(50)
                        --          @Suffix , -- Suffix - nvarchar(50)
                        --          @Separator , -- Separator - nvarchar(50)
                        --          CAST(@ApplyDate AS DATE), -- Applydate - datetime
                        --          1 , -- Version - bit
                        --          GETDATE() , -- CreatedON - datetime
                        --          @CreatedBy , -- CreatedBy - int
                        --          NULL , -- ModifiedOn - datetime
                        --          0 , -- ModifiedBy - int
                        --          @EntityID  -- EntityID - int 
                                                                    
                        --        )
                        --SET @PrefixSuffixId = @@Identity; 
				
                        IF ( @IsDefault = 1 and @IsNonGST = 0 )
                        BEGIN
                            UPDATE  dbo.InvoiceSeries							
                            SET     IsDefault = 0
							from InvoiceSeries
							INNER JOIN Prefix_Suffix ON Prefix_Suffix.Invoice_SeriesId = InvoiceSeries.SeriesId
							--Prefix_Suffix.PrefixSuffixId = InvoiceSeries.PrefixSuffixId
                            WHERE   SeriesType = @SeriesType
							and Prefix_Suffix.EntityID = @EntityID and IsNonGST = 0 				
                     
						END
						
						if @IsAutoGRNSeries = 1 AND @SeriesType = 3
						begin
							update inv set IsAutoGRNSeries = 0 FROM InvoiceSeries inv 
							INNER JOIN Prefix_Suffix ON  Prefix_Suffix.Invoice_SeriesId = inv.SeriesId
							--Prefix_Suffix.PrefixSuffixId = inv.PrefixSuffixId 
							Inner Join PlantSeriesMapping on PlantSeriesMapping.SeriesId = Inv.SeriesId
							where SeriesType = @SeriesType AND Prefix_Suffix.EntityID = @EntityID
									and PlantSeriesMapping.PlantId in (	select	Item
																		FROM    dbo.SplitString(@PlantIdString, ','))
						end

						if @IsSalesReturn = 1 AND (@SeriesType = 2 or (@SeriesType = 3 and @IsCastingInward = 1) or @SeriesType = 14)
						begin
							update InvoiceSeries set IsSalesReturn = 0 where SeriesType = @SeriesType
						end
						--commented by Ritik on 20-06-2025
						--if @IsJobReturnForOtherProcess = 1 AND @SeriesType = 3
						--begin
						--	update inv set IsJobReturnForOtherProcess = 0 FROM InvoiceSeries inv INNER JOIN Prefix_Suffix 
						--	ON Prefix_Suffix.Invoice_SeriesId = inv.SeriesId
						--	--Prefix_Suffix.PrefixSuffixId = inv.PrefixSuffixId
						--	where SeriesType = @SeriesType AND Prefix_Suffix.EntityID = @EntityID
						--end
						if @IsJobInwardChk = 1 AND @SeriesType = 3
						begin
							update inv set IsJobInwardChk = 0 FROM InvoiceSeries inv INNER JOIN Prefix_Suffix 
							ON Prefix_Suffix.Invoice_SeriesId = inv.SeriesId
							--Prefix_Suffix.PrefixSuffixId = inv.PrefixSuffixId 
							where SeriesType = @SeriesType AND Prefix_Suffix.EntityID = @EntityID
						end

                        INSERT  INTO dbo.InvoiceSeries
                                ( InvoiceSeriesName ,
                                  IsDefault ,
                                  PrefixSuffixId ,
                                  ReportTitle ,
                                  SeriesType ,
                                  IsSample ,
                                  IsRejection ,
                                  PurchaseItemGroupId ,
                                  IsExportSeries ,
                                  IsRawMaterial ,
                                  IsScheduling ,
                                  IsCastingInward ,
                                  NoOfZero ,
                                  ContinousSeries,
                                  IsProforma,
                                  ForJORework,
                                  ForJOInsp,
                                  SRNDetail
                                  ,IsTallySync
                                  ,IsSalesReturn
                                  ,IsCastingRejSaleOrder
                                  ,IsAutoGRNSeries
                                  , IsInwardForPlant
                                  ,  IsReturnAgainstTransfer 
                                  , IsJobReturnForOtherProcess,
                                   CreatedON ,
                                  CreatedBy ,
                                  JobIn,
                                  IsImport,
								  IsJobInwardChk,
								  IsNonGST,
								  PackingPrefix,                                 
                                  PackingSeparator,
                                  PackingSuffix,
                                  IsIncomingSand,
								  IfSameExportNo,
								  DomesticSeriesID,
								  DomPrefix,
								  DomSeparator,
								  DomSuffix,
								  DomApplyDate,
								  ZeroInExportInvoice
                                )
                        VALUES  ( @InvoiceSeriesName , -- InvoiceSeriesName - varchar(100)
                                  @IsDefault , -- IsDefault - int
                                  @PrefixSuffixId , -- PrefixSuffixId - int
                                  @ReportTitle ,  -- ReportTitle - varchar(100)
                                  @SeriesType ,
                                  @IsSample ,
                                  @IsRejection ,
                                  @PurchaseItemGroupId ,
                                  @IsExport ,
                                  @IsRawMaterial ,
                                  @IsScheduling ,
                                  @IsCastingInward ,
                                  ( CASE WHEN ( ISNULL(@NoOfZero, '') = '' )
                                         THEN NULL
                                         ELSE @NoOfZero
                                    END ) ,
                                  @IsContinous,
                                  @IsProforma,
                                  @ForJoRework,
                                  @ForJoInsp,
                                  @SRNDetail
                                  ,@IsTallySync
                                  ,@IsSalesReturn,
                                  @IsCastingRejSaleOrder
                                  ,@IsAutoGRNSeries
                                  , @IsInwardForPlant
                                  ,@IsReturnAgainstTransfer
                                  , @IsJobReturnForOtherProcess 
                                  ,GETDATE()
                                  ,@CreatedBy,
                                  case when @IsJobInwardChk = 1 then 2 else @IsForJobIn end,
                                  @IsImport,
								  @IsJobInwardChk,
								  @IsNonGST,
								  @PackingPrefix,                                  
                                  @PackingSeparator,
                                  @PackingSuffix,
                                  @IsIncomingSand,
								  @SameExportAndInvoiceNo,
								  @DomSeriesId,
								  @DomPrefix,
								  @DomSeparator,
								  @DomSuffix,
								  @DomApplyDate,
								  @ExportInvoiceSeries
                                )
                                
                                 --added By yashvi
                                 
                        SET @InvoiceSeriesId = @@Identity;   
						
						DECLARE ApplyDateWiseHistory CURSOR FOR

						SELECT	Node.value('(Applydate )[1]', 'datetimeoffset') AS 'Applydate',
								Node.value('(Prefix )[1]', 'nvarchar(50)') AS 'Prefix',
								Node.value('(Suffix )[1]', 'nvarchar(50)') AS 'Suffix',
								Node.value('(Separator )[1]', 'nvarchar(50)') AS 'Separator',
								Node.value('(PrefixSuffixId )[1]', 'int') AS 'PrefixSuffixId'
						FROM	@ApplyDateWiseHistory.nodes('/DocumentElement/ApplyDateWiseHistory')
						
					AS TEMPXML (Node)

					OPEN ApplyDateWiseHistory;

					FETCH NEXT FROM ApplyDateWiseHistory INTO @ApplyDate,@Prefix , @Suffix ,@Separator,@PrefixSuffixId
                    WHILE (@@FETCH_STATUS = 0)
					BEGIN
						INSERT  INTO dbo.Prefix_Suffix
                                ( Page_Name ,
                                  PageCode ,
                                  Prefix ,
                                  Suffix ,
                                  Separator ,
                                  Applydate ,
                                  Version ,
                                  CreatedON ,
                                  CreatedBy ,
                                  ModifiedOn ,
                                  ModifiedBy ,
                                  EntityID  ,
								  Invoice_SeriesId
                                )
                        VALUES  ( @InvoiceSeriesName , -- Page_Name - nvarchar(50)
                                  @PageCode ,
                                  @Prefix , -- Prefix - nvarchar(50)
                                  @Suffix , -- Suffix - nvarchar(50)
                                  @Separator , -- Separator - nvarchar(50)
                                   CAST(@ApplyDate AS DATE),--CAST(SWITCHOFFSET(@ApplyDate, '+05:30') AS DATE), -- Applydate - datetime
                                  1 , -- Version - bit
                                  GETDATE() , -- CreatedON - datetime
                                  @CreatedBy , -- CreatedBy - int
                                  NULL , -- ModifiedOn - datetime
                                  0 , -- ModifiedBy - int
                                  @EntityID,  -- EntityID - int 
                                  @InvoiceSeriesId                                  
                                )
						

						IF @@Error <> 0
							ROLLBACK TRANSACTION

						SET @PrefixSuffixId = @@Identity; 

						

						
			         FETCH NEXT FROM ApplyDateWiseHistory INTO @ApplyDate,@Prefix ,  @Suffix ,@Separator,@PrefixSuffixId
				    END

                    END
                ELSE
                    BEGIN
                        IF ( @IsDefault = 1  and @IsNonGST = 0 )
                        BEGIN
                            UPDATE  dbo.InvoiceSeries							
                            SET     IsDefault = 0
							from InvoiceSeries
							INNER JOIN Prefix_Suffix ON 
							Prefix_Suffix.Invoice_SeriesId = InvoiceSeries.SeriesId
						--	Prefix_Suffix.PrefixSuffixId = InvoiceSeries.PrefixSuffixId
                            WHERE   SeriesType = @SeriesType 
							and Prefix_Suffix.EntityID = @EntityID	and IsNonGST = 0 
                        END
                        
                        SET @PrefixSuffixId = ( SELECT  PrefixSuffixId
                                                FROM    dbo.InvoiceSeries
                                                WHERE   SeriesId = @InvoiceSeriesId
                                              )
                        if @IsNonGST = 1 AND @SeriesType = 4
						begin
							update inv set  IsNonGST = 0 FROM InvoiceSeries inv INNER JOIN Prefix_Suffix 
							ON Prefix_Suffix.Invoice_SeriesId = inv.SeriesId
							--Prefix_Suffix.PrefixSuffixId = inv.PrefixSuffixId 
							where SeriesType = @SeriesType AND Prefix_Suffix.EntityID = @EntityID
						end
						
						if @IsAutoGRNSeries = 1 AND @SeriesType = 3
						begin
							update inv set IsAutoGRNSeries = 0 FROM InvoiceSeries inv 
							INNER JOIN Prefix_Suffix 
							ON Prefix_Suffix.Invoice_SeriesId = inv.SeriesId
							--Prefix_Suffix.PrefixSuffixId = inv.PrefixSuffixId 
							Inner Join PlantSeriesMapping on PlantSeriesMapping.SeriesId = Inv.SeriesId
							where SeriesType = @SeriesType AND Prefix_Suffix.EntityID = @EntityID
									and PlantSeriesMapping.PlantId in (	select	Item
																		FROM    dbo.SplitString(@PlantIdString, ','))
						end
						
						--commented by Ritik on 20-06-2025
						--if @IsJobReturnForOtherProcess = 1 AND @SeriesType = 3
						--begin
						--	update inv set IsJobReturnForOtherProcess = 0 
						--	FROM InvoiceSeries inv INNER JOIN Prefix_Suffix 
						--	ON Prefix_Suffix.Invoice_SeriesId = inv.SeriesId
						--	--Prefix_Suffix.PrefixSuffixId = inv.PrefixSuffixId 
						--	where SeriesType = @SeriesType AND Prefix_Suffix.EntityID = @EntityID
						--end
						if @IsJobInwardChk = 1 AND @SeriesType = 3
						begin
							update inv set IsJobInwardChk = 0 
							FROM InvoiceSeries inv INNER JOIN Prefix_Suffix 
							ON Prefix_Suffix.Invoice_SeriesId = inv.SeriesId
							--Prefix_Suffix.PrefixSuffixId = inv.PrefixSuffixId 
							where SeriesType = @SeriesType AND Prefix_Suffix.EntityID = @EntityID
						end
				
						if @IsSalesReturn = 1 AND (@SeriesType = 2 or (@SeriesType = 3 and @IsCastingInward = 1) or @SeriesType = 14)
						begin
							update InvoiceSeries set IsSalesReturn = 0 where SeriesType = @SeriesType
						end

                        UPDATE  dbo.InvoiceSeries
                        SET     InvoiceSeriesName = @InvoiceSeriesName ,
                                IsDefault = @IsDefault ,
                                ReportTitle = @ReportTitle ,
                                IsSample = @IsSample ,
                                IsRejection = @IsRejection ,
                                SeriesType = @SeriesType ,
                                PurchaseItemGroupId = @PurchaseItemGroupId ,
                                IsExportSeries = @IsExport ,
                                IsRawMaterial = @IsRawMaterial ,
                                IsScheduling = @IsScheduling ,
                                IsCastingInward = @IsCastingInward ,
                                NoOfZero = ( CASE WHEN ISNULL(@NoOfZero, '') = ''
                                                  THEN NULL
                                                  ELSE @NoOfZero
                                             END ) ,
                                ContinousSeries = @IsContinous,
                                IsProforma =@IsProforma,
                                ForJORework = @ForJoRework,
                                ForJOInsp = @ForJoInsp,
                                SRNDetail=@SRNDetail
                                , IsTallySync = @IsTallySync
                                ,IsSalesReturn = @IsSalesReturn,
                                IsCastingRejSaleOrder= @IsCastingRejSaleOrder
                                , IsAutoGRNSeries = @IsAutoGRNSeries
                                , IsInwardForPlant = @IsInwardForPlant
                                , IsReturnAgainstTransfer=@IsReturnAgainstTransfer
                                , IsJobReturnForOtherProcess = @IsJobReturnForOtherProcess
                                , ModifiedOn= GetDate() 
                                , ModifiedBy =@ModifiedBy
                                ,JobIn = case when @IsJobInwardChk = 1 then 2 else @IsForJobIn end
                                  ,IsImport=@IsImport
								  ,IsJobInwardChk=@IsJobInwardChk
								  ,IsNonGST=@IsNonGST
								  ,PackingPrefix= @PackingPrefix                                  
                                  ,PackingSeparator= @PackingSeparator
                                  ,PackingSuffix= @PackingSuffix
								   ,DomPrefix  = @DomPrefix
								  ,DomSeparator =@DomSeparator
								  ,DomSuffix = @DomSuffix
								  ,DomApplyDate = @DomApplyDate
								  ,DomesticSeriesID = @DomSeriesId
								  ,IfSameExportNo= @SameExportAndInvoiceNo
								  ,ZeroInExportInvoice = @ExportInvoiceSeries
		
                        WHERE   SeriesId = @InvoiceSeriesId
                        
                         --added By yashvi
                                 
                        DELETE  FROM InvoiceSeriesDepartmentMapping
                        WHERE   InvoiceSeriesDepartmentMapping.SeriesID = @InvoiceSeriesId

						IF ( EXISTS ( SELECT    *
                                      FROM      Prefix_Suffix
                                      WHERE     Invoice_SeriesId = @InvoiceSeriesId ) )
                         BEGIN
						 UPDATE  dbo.Prefix_Suffix
                                SET     Page_Name = @InvoiceSeriesName ,
                                        PageCode = @pageCode ,
                                        ModifiedBy = @ModifiedBy ,
                                        ModifiedOn = @ModifiedOn ,
                                        EntityId = @EntityId                                        
                                WHERE   Prefix_Suffix.Invoice_SeriesId = @InvoiceSeriesId;
						END

                        --IF ( EXISTS ( SELECT    *
                        --              FROM      Prefix_Suffix
                        --              WHERE     PrefixSuffixId = @PrefixSuffixId ) )
                        --    BEGIN
                    		
                        --        EXEC dbo.[UpdatePrefixSuffix] @pageCode = @PageCode,
                        --            @Prefix = @Prefix, @Suffix = @Suffix,
                        --            @Separator = @Separator,
                        --            @Applydate =   @ApplyDate ,
                        --            @PrefixSuffixId = @PrefixSuffixId,
                        --            @SameExportAndInvoiceNo = @SameExportAndInvoiceNo 	,
                        --            @SeriesId = @InvoiceSeriesId ,
                        --            @IsExport = @IsExport 

                        --        UPDATE  dbo.Prefix_Suffix
                        --        SET     Page_Name = @InvoiceSeriesName ,
                        --                PageCode = @pageCode ,
                        --                Prefix = @Prefix ,
                        --                Separator = @Separator ,
                        --                Suffix = @Suffix ,
                        --                ApplyDate =   CAST(@ApplyDate AS DATE) ,
                        --                ModifiedBy = @ModifiedBy ,
                        --                ModifiedOn = @ModifiedOn ,
                        --                EntityId = @EntityId                                        
                        --        WHERE   Prefix_Suffix.PrefixSuffixId = @PrefixSuffixId
                                         
                        --    END

						DECLARE ApplyDateWiseHistory CURSOR FOR

						SELECT	Node.value('(Applydate )[1]', 'datetimeoffset') AS 'Applydate',
								Node.value('(Prefix )[1]', 'nvarchar(50)') AS 'Prefix',
								Node.value('(Suffix )[1]', 'nvarchar(50)') AS 'Suffix',
								Node.value('(Separator )[1]', 'nvarchar(50)') AS 'Separator',
								Node.value('(PrefixSuffixId )[1]', 'int') AS 'PrefixSuffixId'
						FROM	@ApplyDateWiseHistory.nodes('/DocumentElement/ApplyDateWiseHistory')
						
					AS TEMPXML (Node)

					OPEN ApplyDateWiseHistory;

					FETCH NEXT FROM ApplyDateWiseHistory INTO @ApplyDate,@Prefix , @Suffix ,@Separator,@PrefixSuffixId
                    WHILE (@@FETCH_STATUS = 0)
					BEGIN

					  IF ( EXISTS ( SELECT    *
                                      FROM      Prefix_Suffix
                                      WHERE     PrefixSuffixId = @PrefixSuffixId ) )
                            BEGIN
                    		
                               

                                UPDATE  dbo.Prefix_Suffix
                                SET     Page_Name = @InvoiceSeriesName ,
                                        PageCode = @pageCode ,
                                        Prefix = @Prefix ,
                                        Separator = @Separator ,
                                        Suffix = @Suffix ,
                                        ApplyDate =    CAST(@ApplyDate AS DATE),--CAST(SWITCHOFFSET(@ApplyDate, '+05:30') AS DATE),-- CAST(@ApplyDate AS DATE) ,
                                        ModifiedBy = @ModifiedBy ,
                                        ModifiedOn = @ModifiedOn ,
                                        EntityId = @EntityId                                        
                                WHERE   Prefix_Suffix.PrefixSuffixId = @PrefixSuffixId

                             IF @@Error <> 0
							ROLLBACK TRANSACTION   

							 EXEC dbo.[UpdatePrefixSuffix] @pageCode = @PageCode,
                                    @Prefix = @Prefix, @Suffix = @Suffix,
                                    @Separator = @Separator,
                                    @Applydate =   @ApplyDate ,
                                    @PrefixSuffixId = @PrefixSuffixId,
                                    @SameExportAndInvoiceNo = @SameExportAndInvoiceNo 	,
                                    @SeriesId = @InvoiceSeriesId ,
                                    @IsExport = @IsExport 

                            END
                     else
					 BEGIN
						INSERT  INTO dbo.Prefix_Suffix
									( Page_Name ,
									  PageCode ,
									  Prefix ,
									  Suffix ,
									  Separator ,
									  Applydate ,
									  Version ,
									  CreatedON ,
									  CreatedBy ,
									  ModifiedOn ,
									  ModifiedBy ,
									  EntityID ,
									  Invoice_SeriesId
									)
							VALUES  ( @InvoiceSeriesName , -- Page_Name - nvarchar(50)
									  @PageCode ,
									  @Prefix , -- Prefix - nvarchar(50)
									  @Suffix , -- Suffix - nvarchar(50)
									  @Separator , -- Separator - nvarchar(50)
									  CAST(@ApplyDate AS DATE), -- Applydate - datetime
									  1 , -- Version - bit
									  GETDATE() , -- CreatedON - datetime
									  @CreatedBy , -- CreatedBy - int
									  NULL , -- ModifiedOn - datetime
									  0 , -- ModifiedBy - int
									  @EntityID , -- EntityID - int 
                                      @InvoiceSeriesId                              
									)
						

						IF @@Error <> 0
							ROLLBACK TRANSACTION

							 EXEC dbo.[UpdatePrefixSuffix] @pageCode = @PageCode,
                                    @Prefix = @Prefix, @Suffix = @Suffix,
                                    @Separator = @Separator,
                                    @Applydate =   @ApplyDate ,
                                    @PrefixSuffixId = @PrefixSuffixId,
                                    @SameExportAndInvoiceNo = @SameExportAndInvoiceNo 	,
                                    @SeriesId = @InvoiceSeriesId ,
                                    @IsExport = @IsExport 
							END
						
			         FETCH NEXT FROM ApplyDateWiseHistory INTO @ApplyDate,@Prefix ,  @Suffix ,@Separator,@PrefixSuffixId
				    END
                    END
                                      
                DECLARE DepartmentDetail CURSOR
                FOR
                    SELECT  Node.value('(DepartmentId)[1]', 'int') AS 'DepartmentId'
                    FROM    @DepartmentDetail.nodes('/DocumentElement/DepartmentDetail')
                            AS TEMPXML ( Node )
                            
                OPEN DepartmentDetail;
				
                FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
           
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN    
                        INSERT  INTO InvoiceSeriesDepartmentMapping
                                ( MappingID ,
                                  SeriesID ,
                                  DepartmentID 
                                )
                        VALUES  ( NEWID() ,
                                  @InvoiceSeriesId ,
                                  @DepartmentId                                   
                                )
                                             
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                
                        FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
                     
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                    
                    END
                            
                CLOSE DepartmentDetail;
                DEALLOCATE DepartmentDetail; 
                    
                DELETE  FROM dbo.PlantSeriesMapping
                WHERE   SeriesId = @InvoiceSeriesId

                INSERT  INTO dbo.PlantSeriesMapping
                        ( SeriesId ,
                          PlantId
                        )
                        ( SELECT    @InvoiceSeriesId ,
                                    Item
                          FROM      dbo.SplitString(@PlantIdString, ',')
                        )
                        
                RETURN 1
            END
    
        IF ( @Parameter = 2 )--here IsSample is converted because it returns true false
            BEGIN
			SELECT *
  FROM 
  (
                SELECT 
				        SeriesId ,
                        InvoiceSeriesName ,
                        IsDefault ,
                        ReportTitle ,
                        SeriesType ,
                        SRNDetail,
                        CONVERT(INT, IsSample) AS IsSample ,
                        CONVERT(INT, IsRejection) AS IsRejection ,
                        CONVERT(INT, IsExportSeries) AS IsExport ,
                        CONVERT(INT, IsRawMaterial) AS IsRawMaterial ,
                        CONVERT(INT, IsScheduling) AS IsScheduling ,
                        CONVERT(INT, IsCastingInward) AS IsCastingInward ,
                        Prefix_Suffix.Prefix ,
                        Prefix_Suffix.Separator ,
                        Prefix_Suffix.Suffix ,
                        CONVERT(VARCHAR(50), Prefix_Suffix.Applydate, 106) AS ApplyDate ,
                        InvoiceSeries.PurchaseItemGroupId ,
                        PurchaseItemGroupMaster.GroupName ,
                        InvoiceSeries.NoOfZero ,
                        ContinousSeries,
                          STUFF(( SELECT  ',' + CONVERT(VARCHAR(10), PlantId)
                                FROM    dbo.PlantSeriesMapping
                                WHERE   SeriesId = InvoiceSeries.SeriesId
                              FOR
                                XML PATH('')
                              ), 1, 1, '') AS PlantId,
                          IsProforma,
                          ForJORework,
                          ForJOInsp
                        , IsTallySync
                        ,IsSalesReturn
                        ,IsCastingRejSaleOrder
                        ,CONVERT(INT, IsAutoGRNSeries) AS IsAutoGRNSeries 
                        ,CONVERT(INT, IsInwardForPlant) AS IsInwardForPlant
                        ,CONVERT(INT, IsReturnAgainstTransfer) AS IsReturnAgainstTransfer
                        ,CONVERT(INT, IsJobReturnForOtherProcess) AS IsJobReturnForOtherProcess,
                        CONVERT(INT, JobIn) AS JobIn 
                        ,IsImport
						,IsIncomingSand
						,CONVERT(INT, isnull(IsJobInwardChk,0)) as IsJobInwardChk
						,IsNonGST
						,  PackingPrefix                                 
                        ,PackingSeparator
                        ,PackingSuffix,
						 DomPrefix,
						 DomSeparator,
						 DomSuffix,
						 DomApplyDate,
						 DomesticSeriesID,
						 CONVERT(INT, IfSameExportNo) AS IfSameExportNo,
						 ZeroInExportInvoice
						 ,InvoiceSeries.IsActive
						, ROW_NUMBER() over (partition by seriesid order by Prefix_Suffix.Applydate desc) rnk
                FROM    dbo.InvoiceSeries
                        INNER JOIN Prefix_Suffix ON Prefix_Suffix.Invoice_SeriesId = InvoiceSeries.SeriesId
						--Prefix_Suffix.PrefixSuffixId = InvoiceSeries.PrefixSuffixId
                        LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemGroupMaster.PurchaseItemGroupId = InvoiceSeries.PurchaseItemGroupId
                WHERE	Prefix_Suffix.EntityID = @EntityID
						and (@SeriesId = 0 or InvoiceSeries.SeriesId = @SeriesId)
						AND (@SeriesType = -1 OR InvoiceSeries.SeriesType = @SeriesType)
						and (@IsBlockCheck = 2 or IsActive = @IsBlockCheck)) a
						where a.rnk = 1
            END
            
        IF ( @Parameter = 3 )
            BEGIN
            
            declare @SeriesDelete int = 0;
								
				-- JobWork
				if (@SeriesType = 0  or @SeriesType = 13)
				begin 
					
                    if NOT EXISTS ( SELECT TOP 1
                                            JOID
                                     FROM   dbo.JobOutMaster
                                     WHERE  SeriesId = @InvoiceSeriesId
                                            AND IsDeleted = 0 )
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- Invoice
				else if (@SeriesType = 1 or @SeriesType = 19 Or @SeriesType = 21)
				begin					
					IF NOT EXISTS ( SELECT TOP 1
                                        DispatchID
                                FROM    dbo.dispatchmaster
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )                   
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- PO
				else if @SeriesType = 2
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        PurchaseOrderId
                                FROM    dbo.PurchaseOrder_Master
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- Inward
				else if @SeriesType = 3 Or @SeriesType = 20
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        InwardId
                                FROM    dbo.RawMaterialInward
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- OA
				else if @SeriesType = 4
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        CustomerOrderId
                                FROM    dbo.OrderMaster
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- GatePass 
				else if @SeriesType = 5
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        OutwardId
                                FROM    dbo.OutwardMaster
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- Issue
				else if @SeriesType = 6
				begin
					 IF NOT EXISTS ( SELECT TOP 1
                                        IssueId
                                FROM    dbo.MaterialIssue
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- MaterialInspection 
				else if @SeriesType = 7
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        SlipId
                                FROM    dbo.MaterialInspectionMaster
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- Inquiry 
				else if @SeriesType = 8
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        InquiryId
                                FROM    dbo.InquiryMaster
                                WHERE   SeriesId = @InvoiceSeriesId )                   
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- Quotation 
				else if @SeriesType = 9
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        QuotationId
                                FROM    dbo.QuotationMaster
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- RawMaterailRejection
				else if @SeriesType = 10 Or @SeriesType = 24
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        InwardId
                                FROM    dbo.RawMaterialInward
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )
                    AND NOT EXISTS ( SELECT TOP 1
                                            RawMaterialRejectionId
                                     FROM   dbo.RawMaterialRejectionMaster
                                     WHERE  SeriesId = @InvoiceSeriesId )
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- RTInspection
				else if @SeriesType = 11
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        RTID
                                FROM    dbo.RTMaster
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- CastingDim
				else if @SeriesType = 12
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        CastingDimId
                                FROM    dbo.CastingDimInspMaster
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
                      
                        
				end
				
				else if @SeriesType = 14
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        PurchaseInvoiceId
                                FROM    dbo.PurchaseInvoice
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDelete = 0 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
                      
                        
				end
				
				else if @SeriesType = 15
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        HTId
                                FROM    dbo.HTMaster
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
                      
                        
				end
				
				-- Transfer
				else
				if @SeriesType = 16
				begin
					 IF NOT EXISTS ( SELECT TOP 1
                                        IssueId
                                FROM    dbo.MaterialIssue
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 AND IsTransfer = 1 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
				-- RFQ 
				else if @SeriesType = 17
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        RFQId
                                FROM    dbo.RFQMaster
                                WHERE   SeriesId = @InvoiceSeriesId )                   
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				
					--TC Entry
					else if @SeriesType = 25
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        TCId
                                FROM    dbo.TCMaster
                                WHERE   SeriesId = @InvoiceSeriesId
                                        AND IsDeleted = 0 )                    
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				-- QUOTATION Entry
				else if @SeriesType = 18
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        QuotationId
                                FROM    dbo.Quotation_Master
                                WHERE   SeriesId = @InvoiceSeriesId )                   
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				else if @SeriesType = 26
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        ReturnNo
                                FROM    dbo.CustomerReturnMaster
                                WHERE   SeriesId = @InvoiceSeriesId )                   
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				else if @SeriesType = 27
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        JobReturnMaster.JRNO
                                FROM    dbo.JobReturnMaster
                                WHERE   SeriesId = @InvoiceSeriesId
								AND IsDeleted = 0)                   
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
					else if @SeriesType = 28
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        INWSrNo
                                FROM    dbo.RawMaterialInward
                                WHERE   SeriesId = @InvoiceSeriesId
								AND IsDeleted = 0 and IsDeassemble = 1 )                   
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				else if @SeriesType = 23
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        DispatchAdviceNo 
                                FROM    dbo.DispatchAdvice 
                                WHERE   SeriesId = @InvoiceSeriesId
								AND IsDeleted = 0   )                   
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				else if @SeriesType = 29
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        MechNo
                                FROM    dbo.MechAnalysisMas 
                                WHERE   SeriesId = @InvoiceSeriesId 
								  and   IsDeleted = 0 )                   
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				else if @SeriesType = 30
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        IndentCode
                                FROM    dbo.StoreIndentMaster 
                                WHERE   SeriesId = @InvoiceSeriesId 
								  and   IsDeleted = 0 )                   
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				else if @SeriesType = 31
				begin
					IF NOT EXISTS ( SELECT TOP 1
                                        ReturnNo
                                FROM    dbo.StoreReturnMaster 
                                WHERE   SeriesId = @InvoiceSeriesId 
								  and   IsDeleted = 0 )                   
                    BEGIN
						set @SeriesDelete = 1
                    END
                    ELSE                    
						set @SeriesDelete = 0
				end
				ELSE
				BEGIN
					 RETURN 2 
				END
				
				if @SeriesDelete = 1
				begin
					SET @PrefixSuffixId = ( SELECT  PrefixSuffixId
                                                FROM    dbo.InvoiceSeries
                                                WHERE   SeriesId = @InvoiceSeriesId
                                              )
                        DELETE  FROM dbo.InvoiceSeries
                        WHERE   SeriesId = @InvoiceSeriesId
                        
                        DELETE  FROM dbo.Prefix_Suffix 
                        WHERE  Invoice_SeriesId =  @InvoiceSeriesId
						--PrefixSuffixId = @PrefixSuffixId
                        
                        RETURN 1                   
					 
				end
				else
				begin
					RETURN 0
				end	
            END
            
        IF ( @Parameter = 4 )--Only Export Series
            BEGIN
                SELECT  InvoiceSeries.SeriesId ,
                        InvoiceSeries.InvoiceSeriesName
                FROM    InvoiceSeries
                WHERE   IsExportSeries = 1
            END
            
        IF ( @Parameter = 5 )--Only Export Series
            BEGIN
                SELECT  InvoiceSeries.SeriesId ,
                        InvoiceSeries.InvoiceSeriesName
                FROM    InvoiceSeries
                WHERE   IsRejection = 0
                        AND IsExportSeries = 0
                        AND InvoiceSeries.SeriesType = 1
            END
        
        IF ( @Parameter = 6 )-- this will fetch department
            BEGIN
            
                SELECT  SeriesID ,
                        DepartmentID
                FROM    InvoiceSeriesDepartmentMapping
                WHERE   InvoiceSeriesDepartmentMapping.SeriesID = @InvoiceSeriesId
               
            END
            
        IF ( @Parameter = 7 )
            BEGIN

				--Commented by Ritik on 12-06-2025

                --IF EXISTS ( SELECT  InvoiceSeriesName
                --            FROM    InvoiceSeries
                --            INNER JOIN Prefix_Suffix ON Prefix_Suffix.PrefixSuffixId = InvoiceSeries.PrefixSuffixId
                --            WHERE   ( @InvoiceSeriesName IS NULL OR InvoiceSeriesName = @InvoiceSeriesName )
                --                    AND InvoiceSeries.SeriesId <> @InvoiceSeriesId 
                --                    AND Prefix_Suffix.EntityID = @EntityID
                --)

				IF EXISTS ( SELECT  InvoiceSeriesName
                            FROM    InvoiceSeries
                            INNER JOIN Prefix_Suffix ON Prefix_Suffix.Invoice_SeriesId = InvoiceSeries.SeriesId
                            WHERE   ( @InvoiceSeriesName IS NULL OR InvoiceSeriesName = @InvoiceSeriesName )
                                    AND InvoiceSeries.SeriesId <> @InvoiceSeriesId 
                                    AND Prefix_Suffix.EntityID = @EntityID
                )
                                    
                    RETURN 1
                ELSE
                    RETURN 0
            END
    
		IF ( @Parameter = 8 )
		BEGIN
        			
			-- JobWork
			if (@SeriesType = 0  or @SeriesType = 13)
			begin 
				
				SELECT Distinct 
				STUFF((SELECT distinct ',' + PlantMaster.PlantName FROM   dbo.JobOutMaster
					 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = JobOutMaster.SeriesId
					 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
					 WHERE  JobOutMaster.SeriesId = @InvoiceSeriesId
					 AND (	ISNULL(@SeriesPlantIdString,'') = ''
						OR PlantSeriesMapping.PlantId IN (
							SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
				)
				AND JobOutMaster.IsDeleted = 0  
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
								 FROM   dbo.JobOutMaster
								 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = JobOutMaster.SeriesId
								 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
								 WHERE  JobOutMaster.SeriesId = @InvoiceSeriesId
								 AND (	ISNULL(@SeriesPlantIdString,'') = ''
									OR PlantSeriesMapping.PlantId IN (
										SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
									)
							)
										AND JobOutMaster.IsDeleted = 0 
			end
			
			-- Invoice
			else if (@SeriesType = 1 or @SeriesType = 19 or @SeriesType = 21)
			begin	           
			SELECT Distinct 
			STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
			FROM   dbo.dispatchmaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = dispatchmaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  dispatchmaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
					)
			)
						AND dispatchmaster.IsDeleted = 0
			FOR XML PATH ('')), 1, 1, '' ) as PlantName
							 FROM   dbo.dispatchmaster
							 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = dispatchmaster.SeriesId
							 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
							 WHERE  dispatchmaster.SeriesId = @InvoiceSeriesId
							 AND (	ISNULL(@SeriesPlantIdString,'') = ''
								OR PlantSeriesMapping.PlantId IN (
									SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
								)
						)
									AND dispatchmaster.IsDeleted = 0 
			end
			
			-- PO
			else if @SeriesType = 2
			begin
				                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				 FROM   dbo.PurchaseOrder_Master
							 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = PurchaseOrder_Master.SeriesId
							 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
							 WHERE  PurchaseOrder_Master.SeriesId = @InvoiceSeriesId
							 AND (	ISNULL(@SeriesPlantIdString,'') = ''
								OR PlantSeriesMapping.PlantId IN (
									SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
								)
						)
									AND PurchaseOrder_Master.IsDeleted = 0 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
							 FROM   dbo.PurchaseOrder_Master
							 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = PurchaseOrder_Master.SeriesId
							 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
							 WHERE  PurchaseOrder_Master.SeriesId = @InvoiceSeriesId
							 AND (	ISNULL(@SeriesPlantIdString,'') = ''
								OR PlantSeriesMapping.PlantId IN (
									SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
								)
						)
									AND PurchaseOrder_Master.IsDeleted = 0 
			end
			
			-- Inward
			else if @SeriesType = 3 or @SeriesType = 20 or @SeriesType = 22
			begin
				                   
			SELECT Distinct 
			STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
			 FROM   dbo.RawMaterialInward
					 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = RawMaterialInward.SeriesId
					 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
					 WHERE  RawMaterialInward.SeriesId = @InvoiceSeriesId
					 AND (	ISNULL(@SeriesPlantIdString,'') = ''
						OR PlantSeriesMapping.PlantId IN (
							SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
				)
							AND RawMaterialInward.IsDeleted = 0 
			FOR XML PATH ('')), 1, 1, '' ) as PlantName
					 FROM   dbo.RawMaterialInward
					 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = RawMaterialInward.SeriesId
					 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
					 WHERE  RawMaterialInward.SeriesId = @InvoiceSeriesId
					 AND (	ISNULL(@SeriesPlantIdString,'') = ''
						OR PlantSeriesMapping.PlantId IN (
							SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
				)
							AND RawMaterialInward.IsDeleted = 0 
			end
			
			-- OA
			else if @SeriesType = 4
			begin
				                  
			SELECT Distinct 
			STUFF((SELECT  Distinct ',' + PlantMaster.PlantName 
			 FROM   dbo.OrderMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = OrderMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  OrderMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
					)
			)
						AND OrderMaster.IsDeleted = 0 
			FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.OrderMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = OrderMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  OrderMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
					)
			)
						AND OrderMaster.IsDeleted = 0 
			end
			
			-- GatePass 
			else if @SeriesType = 5
			begin
				               
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				 FROM   dbo.OutwardMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = OutwardMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  OutwardMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND OutwardMaster.IsDeleted = 0 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.OutwardMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = OutwardMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  OutwardMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND OutwardMaster.IsDeleted = 0 
			end
			
			-- Issue
			else if @SeriesType = 6
			begin
				                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.MaterialIssue
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = MaterialIssue.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  MaterialIssue.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND MaterialIssue.IsDeleted = 0 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.MaterialIssue
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = MaterialIssue.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  MaterialIssue.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND MaterialIssue.IsDeleted = 0 
			end
			
			-- MaterialInspection 
			else if @SeriesType = 7
			begin
				                   
										                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.MaterialInspectionMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = MaterialInspectionMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  MaterialInspectionMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND MaterialInspectionMaster.IsDeleted = 0 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.MaterialInspectionMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = MaterialInspectionMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  MaterialInspectionMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND MaterialInspectionMaster.IsDeleted = 0
			end
			
			-- Inquiry 
			else if @SeriesType = 8
			begin                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.InquiryMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = InquiryMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  InquiryMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					) 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.InquiryMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = InquiryMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  InquiryMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
			end
			
			-- Quotation 
			else if @SeriesType = 9
			begin
				                  
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.QuotationMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = QuotationMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  QuotationMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND QuotationMaster.IsDeleted = 0 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.QuotationMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = QuotationMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  QuotationMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND QuotationMaster.IsDeleted = 0
			end
			
			-- RawMaterailRejection
			else if @SeriesType = 10 Or @SeriesType = 24
			begin
				 SELECT  
				 STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				 FROM   dbo.RawMaterialInward
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = RawMaterialInward.SeriesId	
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  RawMaterialInward.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND RawMaterialInward.IsDeleted = 0
				 FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.RawMaterialInward
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = RawMaterialInward.SeriesId	
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  RawMaterialInward.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND RawMaterialInward.IsDeleted = 0
						
				UNION	
				SELECT  
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.RawMaterialRejectionMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = RawMaterialRejectionMaster.SeriesId	
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  RawMaterialRejectionMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					) 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.RawMaterialRejectionMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = RawMaterialRejectionMaster.SeriesId	
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  RawMaterialRejectionMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
			end
			
			-- RTInspection
			else if @SeriesType = 11
			begin                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.RTMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = RTMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  RTMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND RTMaster.IsDeleted = 0
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.RTMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = RTMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  RTMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND RTMaster.IsDeleted = 0
			end
			
			-- CastingDim
			else if @SeriesType = 12
			begin
				                  
				 SELECT Distinct 
				 STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				 FROM   dbo.CastingDimInspMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = CastingDimInspMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  CastingDimInspMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND CastingDimInspMaster.IsDeleted = 0
				 FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.CastingDimInspMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = CastingDimInspMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  CastingDimInspMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND CastingDimInspMaster.IsDeleted = 0
                    
			end		
			
			else if @SeriesType = 14
			begin
				                  
				 SELECT Distinct 
				 STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				 FROM   dbo.PurchaseInvoice
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = PurchaseInvoice.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  PurchaseInvoice.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND PurchaseInvoice.IsDelete = 0
				 FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.PurchaseInvoice
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = PurchaseInvoice.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  PurchaseInvoice.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND PurchaseInvoice.IsDelete = 0
                    
			end			
			
			ELSE if @Seriestype = 15
			begin
				                  
				 SELECT Distinct 
				 STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				 FROM   dbo.HTMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = HTMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  HTMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND HTMaster.IsDeleted = 0
				 FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.HTMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = HTMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  HTMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND HTMaster.IsDeleted = 0
                    
			end
			
			else if @SeriesType = 16
			begin
				                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.MaterialIssue
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = dbo.MaterialIssue.SeriesId
												AND PlantSeriesMapping.PlantId = dbo.MaterialIssue.FromPlantId
				 Inner Join PlantMaster on PlantMaster.PlantId = dbo.MaterialIssue.FromPlantId
				 WHERE  MaterialIssue.SeriesId = @InvoiceSeriesId
				 AND IsTransfer = 1
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR dbo.MaterialIssue.FromPlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
						AND MaterialIssue.IsDeleted = 0 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				FROM   dbo.MaterialIssue
				Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = dbo.MaterialIssue.SeriesId
												AND PlantSeriesMapping.PlantId = dbo.MaterialIssue.FromPlantId
				Inner Join PlantMaster on PlantMaster.PlantId = dbo.MaterialIssue.FromPlantId
				WHERE	MaterialIssue.SeriesId = @InvoiceSeriesId
						AND IsTransfer = 1
						AND (	ISNULL(@SeriesPlantIdString,'') = ''
							OR dbo.MaterialIssue.FromPlantId IN (
								SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
							)
						)
						AND MaterialIssue.IsDeleted = 0 
			end
			
			-- RFQ
			else if @SeriesType = 17
			begin                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.RFQMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = RFQMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  RFQMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					) 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.RFQMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = RFQMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  RFQMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
			end
			
			--QUOTATION ENTRY
			else if @SeriesType = 18
			begin                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.Quotation_Master
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = Quotation_Master.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  Quotation_Master.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					) 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.Quotation_Master
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = Quotation_Master.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  Quotation_Master.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
			end
			-- Dispatch Advice
			else if @SeriesType = 23
			begin                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.DispatchAdvice
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = DispatchAdvice.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  DispatchAdvice.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					) 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.DispatchAdvice
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = DispatchAdvice.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  DispatchAdvice.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
			end

				-- Test Certificate
			else if @SeriesType = 25
			begin                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.TCMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = TCMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  TCMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					) 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.TCMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = TCMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  TCMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
			end
			else if @SeriesType = 26
			begin                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.CustomerReturnMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = CustomerReturnMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  CustomerReturnMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					) 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.CustomerReturnMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = CustomerReturnMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  CustomerReturnMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
			end

			else if @SeriesType = 27
			begin                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.JobReturnMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = JobReturnMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  JobReturnMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					) 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.JobReturnMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = JobReturnMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  JobReturnMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
					AND JobReturnMaster.IsDeleted = 0 
			end

			else if @SeriesType = 28
			begin                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.RawMaterialInward
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = RawMaterialInward.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  RawMaterialInward.SeriesId = @InvoiceSeriesId and RawMaterialInward.IsDeassemble =1 
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					) 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.RawMaterialInward
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = RawMaterialInward.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  RawMaterialInward.SeriesId = @InvoiceSeriesId and RawMaterialInward.IsDeassemble =1  
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
			end
			else if @SeriesType = 29
			begin                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.MechAnalysisMas
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = MechAnalysisMas.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  MechAnalysisMas.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					) 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.MechAnalysisMas
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = MechAnalysisMas.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  MechAnalysisMas.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
					AND MechAnalysisMas.IsDeleted = 0 
			end
			else if @SeriesType = 30
			begin                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.StoreIndentMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = StoreIndentMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  StoreIndentMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					) 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.StoreIndentMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = StoreIndentMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  StoreIndentMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
					AND StoreIndentMaster.IsDeleted = 0 
			end
			else if @SeriesType = 31
			begin                 
				SELECT Distinct 
				STUFF((SELECT Distinct ',' + PlantMaster.PlantName 
				FROM   dbo.StoreReturnMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = StoreReturnMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  StoreReturnMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					) 
				FOR XML PATH ('')), 1, 1, '' ) as PlantName
				 FROM   dbo.StoreReturnMaster
				 Inner Join PlantSeriesMapping On PlantSeriesMapping.SeriesId = StoreReturnMaster.SeriesId
				 Inner Join PlantMaster on PlantMaster.PlantId = PlantSeriesMapping.PlantId
				 WHERE  StoreReturnMaster.SeriesId = @InvoiceSeriesId
				 AND (	ISNULL(@SeriesPlantIdString,'') = ''
					OR PlantSeriesMapping.PlantId IN (
						SELECT * FROM dbo.SplitString(@SeriesPlantIdString,',')
						)
					)
					AND StoreReturnMaster.IsDeleted = 0 
			end
			BEGIN
				Select 'SeriesTypeLogicNotDeveloped' as PlantName
			END
		
		END
	
		-- Check Have any defult series or not
			IF ( @Parameter = 13 )
            BEGIN
                IF EXISTS ( select SeriesId from InvoiceSeries where SeriesType = @SeriesType and IsDefault = 1 )
                    RETURN 1
                ELSE
                    RETURN 0
            END
            -- Added by mayur
            IF ( @Parameter = 14 )
            BEGIN
                 RETURN ( select SRNDetail from InvoiceSeries where SeriesId = @SeriesId )
            END
            
            IF ( @Parameter = 15 )
            BEGIN
                 select * from InvoiceSeries
                 where SeriesId = @SeriesId
            END
            
            IF ( @Parameter = 16)
			BEGIN
				IF(@IsAutoGRNSeries = 1)
					BEGIN
						--Commented by Ritik on 12-06-2025

						--IF EXISTS(SELECT 1 FROM InvoiceSeries 
						--		INNER JOIN Prefix_Suffix ON Prefix_Suffix.PrefixSuffixId = InvoiceSeries.PrefixSuffixId
						--		Inner Join PlantSeriesMapping on PlantSeriesMapping.SeriesId = InvoiceSeries.SeriesId
						--		WHERE SeriesType = @SeriesType AND IsAutoGRNSeries = @IsAutoGRNSeries AND EntityID = @EntityID
						--		and PlantSeriesMapping.PlantId in (	select	Item
						--											FROM    dbo.SplitString(@PlantIdString, ','))
						--		and InvoiceSeries.SeriesId != @SeriesId)

						IF EXISTS(SELECT 1 FROM InvoiceSeries 
								INNER JOIN Prefix_Suffix ON Prefix_Suffix.Invoice_SeriesId = InvoiceSeries.SeriesId
								Inner Join PlantSeriesMapping on PlantSeriesMapping.SeriesId = InvoiceSeries.SeriesId
								WHERE SeriesType = @SeriesType AND IsAutoGRNSeries = @IsAutoGRNSeries AND EntityID = @EntityID
								and PlantSeriesMapping.PlantId in (	select	Item
																	FROM    dbo.SplitString(@PlantIdString, ','))
								and InvoiceSeries.SeriesId != @SeriesId)
							Return 1;
						ELSE
							Return 0;
					END
				ELSE IF(@IsNonGST = 1 )
				BEGIN
				--Commented by Ritik on 12-06-2025
						--IF EXISTS(SELECT TOP 1 * FROM InvoiceSeries INNER JOIN Prefix_Suffix ON Prefix_Suffix.PrefixSuffixId = InvoiceSeries.PrefixSuffixId WHERE SeriesType = @SeriesType AND IsNonGST = @IsNonGST AND EntityID = @EntityID)
						IF EXISTS(SELECT TOP 1 * FROM InvoiceSeries INNER JOIN Prefix_Suffix ON Prefix_Suffix.Invoice_SeriesId = InvoiceSeries.SeriesId WHERE SeriesType = @SeriesType AND IsNonGST = @IsNonGST AND EntityID = @EntityID order by Applydate desc)

							Return 1;
						ELSE
							Return 0;
				END	
				ELSE
					BEGIN
					--Commented by Ritik on 12-06-2025
						--IF EXISTS(SELECT TOP 1 * FROM InvoiceSeries INNER JOIN Prefix_Suffix ON Prefix_Suffix.PrefixSuffixId = InvoiceSeries.PrefixSuffixId WHERE SeriesType = @SeriesType AND IsJobReturnForOtherProcess = @IsJobReturnForOtherProcess AND EntityID = @EntityID)
						  IF EXISTS(SELECT TOP 1 * FROM InvoiceSeries INNER JOIN Prefix_Suffix ON Prefix_Suffix.Invoice_SeriesId = InvoiceSeries.SeriesId WHERE SeriesType = @SeriesType AND IsJobReturnForOtherProcess = @IsJobReturnForOtherProcess AND EntityID = @EntityID order by Applydate desc)		
							Return 1;
						ELSE
							Return 0;
					END
			END
			
          IF ( @Parameter = 17)
            BEGIN
                SELECT  Prefix_Suffix.Invoice_SeriesId ,
				        Prefix_Suffix.PrefixSuffixId,
                        Prefix_Suffix.Prefix ,
                        Prefix_Suffix.Separator ,
                        Prefix_Suffix.Suffix ,
                        Prefix_Suffix.Applydate
                FROM    dbo.InvoiceSeries
                        INNER JOIN Prefix_Suffix ON Prefix_Suffix.Invoice_SeriesId = InvoiceSeries.SeriesId
                WHERE	Prefix_Suffix.EntityID = @EntityID
						and InvoiceSeries.SeriesId = @SeriesId
            END
        IF ( @Parameter = 18)
		  BEGIN
		    IF EXISTS (select 1 from InvoiceSeries i where i.DomesticSeriesID = @SeriesId and i.IsDeleted = 0)
			BEGIN
			  return -1;
			END
			else
			BEGIN
			  return 1;
			END
		  END
	IF ( @Parameter = 19)
	BEGIN
	    select * from InvoiceSeries
		where SeriesId = @SeriesId
		  and IsDeleted = 0
    END
	IF ( @Parameter = 20)
	BEGIN
		Begin Transaction
		Begin Try
		 if not exists ( select * from InvoiceSeries
			where SeriesId = @SeriesId
			  and IsDeleted = 0)
			  Begin
			  Rollback Transaction
				return -2;
			  End

			  if  exists ( select * from InvoiceSeries
			where SeriesId = @SeriesId
			  and IsDeleted = 0
			  and isactive = @IsBlock)
			  Begin
			  Rollback Transaction
				return -3;
			  End

		--if @IsBlock = 1
		--	Begin
	 
				  update InvoiceSeries 
				  set isactive = @IsBlock,
					  ModifiedOn = GETDATE(),
					  ModifiedBy = @ModifiedBy
				  where SeriesId = @SeriesId
				   and IsDeleted = 0
		--	End
		--else
		--	Begin 
		--		 update InvoiceSeries 
		--		  set isactive = 1,
		--			  ModifiedOn = GETDATE(),
		--			  ModifiedBy = @ModifiedBy
		--		  where SeriesId = @SeriesId
		--		   and IsDeleted = 0
		--	End

		End Try
		Begin Catch
		 Rollback Transaction
		 return -1; 
		End Catch 
	Commit
	   return 1
    END
END
GO
