USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[BOQ_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE  PROCEDURE [dbo].[BOQ_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
    @CastingId UNIQUEIDENTIFIER = NULL , 
    @MetalId INT = 0 ,
    @PurchaseItemId UNIQUEIDENTIFIER = NULL , 
     @PageType varchar(Max) = '',
    @EntityId INT = 0 
    ,@BOMName  varchar(500)=  null
    ,@BOMCode  varchar(300)=  null  
   , @IsAll INT = 1            
   , @Block INT =0 
   ,@IsForPouring INT = 1 
   ,@PlantIdString VARCHAR(MAX) = NULL ,          
    @OtherName NVARCHAR(500) = NULL 
AS
BEGIN
	  
	  declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
        IF ( @Parameter =  1 )
            BEGIN
                IF @InitialLoad = 1
                    BEGIN
                        SELECT  TOP ( @PageSize )
                                *
                        FROM  ( SELECT   TOP ( @PageSize )
                                            ROW_NUMBER() OVER ( ORDER BY CreatedOn	    DESC ) AS RowNo,*   from 
                                            ( SELECT  Distinct  
                                            BOQMaster.BOQId ,
											MetalName ,
                                            BOMName,
                                            BOMCode,
                                            BOMQty,
                                            UOM,
                                            CASE WHEN BOQMaster.IsItemType = 2 THEN  CastingName +'(' + CastingCode +')'
												 WHEN BOQMaster.IsItemType = 1 THEN ItemName + '(' + ItemCode + ')'
												 WHEN  BOQMaster.IsItemType = 3 THEN ItemCode  + '-(Mold)'
												 WHEN  BOQMaster.IsItemType = 5 THEN ItemCode  + '-(Pattern)'
												 WHEN  BOQMaster.IsItemType = 4 THEN CoreBoxName
												 ELSE CastingName +'(' + CastingCode +')' END AS BOMFor,
											BOQMaster.CreatedOn,
											BOQMaster.IsDeleted ,
											CastingMetal.DrawingNo	,
											CastingMetal.CastingNetWeight as Weight ,
											CastingMaster.FloorName,
											BOQMaster.CastingId
                                           -- BOQTransId ,
                                           -- BOQTrans.PurchaseItemId ,
                                           -- ItemName ,
                                           -- ItemCode ,
                                            --(cast(Qty as varchar(MAX)) + '/' + (cast(QtyPerCasting as varchar(MAX)))) as  Qty
											--PurchaseItemMaster.ItemName + '(' + PurchaseItemMaster.ItemCode + ')' as ItemName 
                                  FROM      dbo.BOQMaster
                                            --Inner join CastingCompanyMapping ON CastingCompanyMapping.CastingId = BOQMaster.CastingId 
                                            INNER JOIN dbo.BOQTrans ON dbo.BOQTrans.BOQId = dbo.BOQMaster.BOQId
                                            LEFT JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.BOQMaster.CastingId  AND BOQMaster.IsItemType = 2  AND dbo.CastingMaster.IsDeleted = 0
                                            LEFT  JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.BOQMaster.CastingId AND (BOQMaster.IsItemType =  1 OR BOQMaster.IsItemType =  3 Or BOQMaster.IsItemType = 5) AND dbo.PurchaseItemMaster.IsDeleted = 0 
                                            --LEFT  JOIN dbo.PatternMaster ON dbo.PatternMaster.PatternId = dbo.BOQMaster.CastingId AND (BOQMaster.IsItemType =  3 Or BOQMaster.IsItemType = 5)
                                            LEFT  JOIN dbo.CoreBoxDetails ON dbo.CoreBoxDetails.CoreBoxID = dbo.BOQMaster.CastingId AND BOQMaster.IsItemType =  4
                                            LEFT JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.BOQMaster.MetalId AND dbo.MetalMaster.IsDeleted = 0
											Left Join CastingMetal On CastingMetal.castingID = BOQMaster.CastingId
											    and CastingMetal.metalid = MetalMaster.MetalId
												and CastingMetal.IsDeleted = 0 
                                  WHERE     BOMCode IS NOT NULL AND 
                                  		   ( @PurchaseItemId IS NULL
                                              OR dbo.BOQTrans.PurchaseItemId = @PurchaseItemId
                                            )AND
                                            ( @CastingId IS NULL
                                                  OR BOQMaster.CastingId = @CastingId
                                            )                                            
                                            AND	(@MetalId = 0 
												  OR BOQMaster.MetalId = @MetalId)
                                            AND BOQMaster.EntityId = @EntityId
                                              AND ( @OtherName IS NULL              
												  OR CastingMaster.FloorName = @OtherName              
												)  
                                            AND IsForPouring=@IsForPouring
                                            AND
                                            ( @BOMName IS NULL
                                                  OR BOQMaster.BOQId = @BOMName
                                            )  
                                            AND
                                            ( @BOMCode	 IS NULL
                                                  OR BOQMaster.BOQId = @BOMCode
                                            )    AND (@IsAll = 1 or (dbo.BOQMaster.IsDeleted = @Block )) 
                                            And ((ISNULL(@PageType,'') != 'ASSEMBLY' and BOQMaster.IsAssembly = 0 ) 
													Or ( ISNULL(@PageType,'') = 'ASSEMBLY'  and BOQMaster.IsAssembly = 1
													
													AND ( @PlantIdString IS NULL
                                      OR @PlantIdString = ''
                                      OR BOQMaster.CastingId IN (
                                      SELECT    CastingId
                                      FROM      dbo.PlantCastingMapping
                                               where PlantId in (SELECT Item FROM @Plant) )
                                    )) 
													
													)  
                                )as temp )  AS BOQMaster 
                       
                    END
                ELSE
                    BEGIN
                        SELECT  TOP ( @PageSize )
                                *
                        FROM   (select ROW_NUMBER() OVER ( ORDER BY CreatedOn	   DESC ) AS RowNo,* from 
                         ( SELECT  Distinct   
                                            BOQMaster.BOQId ,
											MetalName ,
                                            BOMName,
                                            BOMCode,
                                            BOMQty,
                                            UOM,
                                            CASE WHEN BOQMaster.IsItemType = 2 THEN  CastingName +'(' + CastingCode +')'
												 WHEN  BOQMaster.IsItemType = 1 THEN ItemName + '(' + ItemCode + ')'
												 WHEN  BOQMaster.IsItemType = 3 THEN ItemCode  + '-(Mold)'
												 WHEN  BOQMaster.IsItemType = 5 THEN ItemCode  + '-(Pattern)'
												 WHEN  BOQMaster.IsItemType = 4 THEN CoreBoxName
												 ELSE CastingName +'(' + CastingCode +')' END AS BOMFor,
											BOQMaster.CreatedOn	  ,
											BOQMaster.IsDeleted ,
											CastingMetal.DrawingNo,
											CastingMetal.CastingNetWeight as Weight,
											CastingMaster.FloorName,
											BOQMaster.CastingId
                                           -- BOQTransId ,
                                           -- BOQTrans.PurchaseItemId ,
                                           -- ItemName ,
                                           -- ItemCode ,
                                            --(cast(Qty as varchar(MAX)) + '/' + (cast(QtyPerCasting as varchar(MAX)))) as  Qty,
											--PurchaseItemMaster.ItemName + '(' + PurchaseItemMaster.ItemCode + ')' as ItemName 
                                 FROM      dbo.BOQMaster
                                            --Inner join CastingCompanyMapping ON CastingCompanyMapping.CastingId = BOQMaster.CastingId 
                                            INNER JOIN dbo.BOQTrans ON dbo.BOQTrans.BOQId = dbo.BOQMaster.BOQId
                                            LEFT JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.BOQMaster.CastingId  AND BOQMaster.IsItemType = 2  AND dbo.CastingMaster.IsDeleted = 0
                                            LEFT  JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.BOQMaster.CastingId AND (BOQMaster.IsItemType =  1 OR BOQMaster.IsItemType =  3 Or BOQMaster.IsItemType = 5) AND dbo.PurchaseItemMaster.IsDeleted = 0
                                           -- LEFT  JOIN dbo.PatternMaster ON dbo.PatternMaster.PatternId = dbo.BOQMaster.CastingId AND (BOQMaster.IsItemType =  3 Or BOQMaster.IsItemType = 5)
                                            LEFT  JOIN dbo.CoreBoxDetails ON dbo.CoreBoxDetails.CoreBoxID = dbo.BOQMaster.CastingId AND BOQMaster.IsItemType =  4
                                            LEFT JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.BOQMaster.MetalId AND dbo.MetalMaster.IsDeleted = 0
											Left Join CastingMetal On CastingMetal.castingID = BOQMaster.CastingId
												and CastingMetal.metalid = MetalMaster.MetalId
												and CastingMetal.IsDeleted = 0
                                  WHERE     BOMCode IS NOT NULL AND    
                                  		   ( @PurchaseItemId IS NULL
                                              OR dbo.BOQTrans.PurchaseItemId = @PurchaseItemId
                                            )AND
                                            ( @CastingId IS NULL
                                                  OR BOQMaster.CastingId = @CastingId
                                            )                                            
                                            AND	(@MetalId = 0 
												  OR BOQMaster.MetalId = @MetalId)
                                            AND BOQMaster.EntityId = @EntityId
											 AND ( @OtherName IS NULL              
												  OR CastingMaster.FloorName = @OtherName              
												)  
                                            AND IsForPouring=@IsForPouring
                                            AND
                                            ( @BOMName IS NULL
                                                  OR BOQMaster.BOQId = @BOMName
                                            )  
                                            AND
                                            ( @BOMCode	 IS NULL
                                                  OR BOQMaster.BOQId = @BOMCode
                                            )   AND (@IsAll = 1 or (dbo.BOQMaster.IsDeleted = @Block )) 
                                            
                                            And ((ISNULL(@PageType,'') != 'ASSEMBLY' and BOQMaster.IsAssembly = 0 ) 
													Or ( ISNULL(@PageType,'') = 'ASSEMBLY'  and BOQMaster.IsAssembly = 1 
													
													AND ( @PlantIdString IS NULL
                                      OR @PlantIdString = ''
                                      OR BOQMaster.CastingId IN (
                                      SELECT    CastingId
                                      FROM      dbo.PlantCastingMapping
                                               where PlantId in (SELECT Item FROM @Plant) )
                                    )) )   
                               )as temp ) AS BOQMaster
                        WHERE   BOQMaster.RowNo > ( @PageNumber * @PageSize )
                       -- ORDER BY BOMFor ASC
                    END
            END
            
                      
        IF ( @Parameter =  2 )
            BEGIN
                SET @TotalRecords = ( SELECT     COUNT(distinct BOQMaster.BOQId)
                                      FROM      dbo.BOQMaster
                                                --Inner join CastingCompanyMapping ON CastingCompanyMapping.CastingId = BOQMaster.CastingId 
                                                INNER JOIN dbo.BOQTrans ON dbo.BOQTrans.BOQId = dbo.BOQMaster.BOQId
                                                 LEFT JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.BOQMaster.CastingId
                                                --INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.BOQTrans.PurchaseItemId
                                                left JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.BOQMaster.MetalId
                                      WHERE      BOMCode IS NOT NULL AND  
                                        ( @PurchaseItemId IS NULL
                                              OR dbo.BOQTrans.PurchaseItemId = @PurchaseItemId
                                            )AND
                                            ( @CastingId IS NULL
                                                  OR BOQMaster.CastingId = @CastingId
                                            )                                            
                                            AND	(@MetalId = 0 
												  OR BOQMaster.MetalId = @MetalId)
                                            AND BOQMaster.EntityId = @EntityId
											 AND ( @OtherName IS NULL              
												  OR CastingMaster.FloorName = @OtherName              
												) 
                                            AND IsForPouring=@IsForPouring
                                            AND
                                            ( @BOMName IS NULL
                                                  OR BOQMaster.BOQId = @BOMName
                                            )  
                                            AND
                                            ( @BOMCode	 IS NULL
                                                  OR BOQMaster.BOQId = @BOMCode
                                            )   AND (@IsAll = 1 or (dbo.BOQMaster.IsDeleted = @Block )) 
                                            
                                            And ((ISNULL(@PageType,'') != 'ASSEMBLY' and BOQMaster.IsAssembly = 0 ) 
													Or ( ISNULL(@PageType,'') = 'ASSEMBLY'  and BOQMaster.IsAssembly = 1
													
													AND ( @PlantIdString IS NULL
                                      OR @PlantIdString = ''
                                      OR BOQMaster.CastingId IN (
                                      SELECT    CastingId
                                      FROM      dbo.PlantCastingMapping
                                               where PlantId in (SELECT Item FROM @Plant) )
                                    )) )   
                                    )
				--COMMIT TRANSACTION
                RETURN @TotalRecords
            END
            
                      
       IF @Parameter =  3
       BEGIN  
	--New Query start 
		select * from  (						
       
       SELECT	 -- ROW_NUMBER() OVER ( ORDER BY BOQMaster.BOQId desc ) AS RowNo,
						PurchaseItemMaster.ItemName + '(' + PurchaseItemMaster.ItemCode + ')' as ItemName , 
						BOQMaster.BOMName + '(' +BOQMaster.BOMCode + ')' as BOMName ,
						BOQMaster.BOMCode ,
                        BOMQty,
                        BOQMaster.UOM,
                        BOQMaster.CreatedOn ,
					    case when  	IsForPouring= 1 then cast(Qty as varchar(MAX)) + '/' + (cast(QtyPerCasting as varchar(MAX))) else cast(BOQTrans.Qty  as varchar )+' ' + UOMMaster.UOM  end  as Qty,
						MetalName,
                                            CASE WHEN BOQMaster.IsItemType = 2 THEN  C.CastingName +'(' + C.CastingCode +')'
												 WHEN BOQMaster.IsItemType = 1 THEN P.ItemName + '(' + P.ItemCode + ')'
												 WHEN  BOQMaster.IsItemType = 3 THEN P.ItemCode  + '-(Mold)'
												 WHEN  BOQMaster.IsItemType = 5 THEN P.ItemCode  + '-(Pattern)'
												 WHEN  BOQMaster.IsItemType = 4 THEN CB.CoreBoxName
												 ELSE C.CastingName +'(' + C.CastingCode +')' END AS BOMFor,
										 IsForPouring ,
											CastingMetal.DrawingNo,
											CastingMetal.CastingNetWeight as Weight
											,c.FloorName
						FROM    BOQTrans
						INNER JOIN BOQMaster ON BOQMaster.BOQId = BOQTrans.BOQId    AND (@IsAll = 1 or (dbo.BOQMaster.IsDeleted = @Block )) 
                        INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.BOQTrans.PurchaseItemId 
                        INNER JOIN UOMMaster ON UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure  
                        LEFT JOIN dbo.CastingMaster C ON  C.CastingId = dbo.BOQMaster.CastingId  AND BOQMaster.IsItemType = 2 -- AND  C.IsDeleted = 0
                        LEFT  JOIN dbo.PurchaseItemMaster P ON P.PurchaseItemId = dbo.BOQMaster.CastingId AND (BOQMaster.IsItemType =  1 OR BOQMaster.IsItemType =  3 Or BOQMaster.IsItemType = 5) AND P.IsDeleted = 0 
                       -- LEFT  JOIN dbo.PatternMaster PM ON PM.PatternId = dbo.BOQMaster.CastingId AND (BOQMaster.IsItemType =  3 Or BOQMaster.IsItemType = 5)
                        LEFT  JOIN dbo.CoreBoxDetails CB ON CB.CoreBoxID = dbo.BOQMaster.CastingId AND BOQMaster.IsItemType =  4
						LEFT JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.BOQMaster.MetalId AND dbo.MetalMaster.IsDeleted = 0
						Left Join CastingMetal On CastingMetal.castingID = BOQMaster.CastingId
												and CastingMetal.metalid = MetalMaster.MetalId
												and CastingMetal.IsDeleted = 0
						
						
						where   BOMCode IS NOT NULL AND   ( @PurchaseItemId IS NULL
                                              OR dbo.BOQTrans.PurchaseItemId = @PurchaseItemId
                                            )
                                            AND ( @CastingId IS NULL
                                                  OR BOQMaster.CastingId = @CastingId
                                                )
                                            AND	(@MetalId = 0 
												  OR BOQMaster.MetalId = @MetalId)
											AND BOQMaster.EntityId = @EntityId 
											 AND ( @OtherName IS NULL              
												  OR C.FloorName = @OtherName              
												)
											AND IsForPouring=@IsForPouring
                                            AND
                                            ( @BOMName IS NULL
                                                  OR BOQMaster.BOQId = @BOMName
                                            )  
                                            AND
                                            ( @BOMCode	 IS NULL
                                                  OR BOQMaster.BOQId = @BOMCode
                                            )  
											And ((ISNULL(@PageType,'') != 'ASSEMBLY' and BOQMaster.IsAssembly = 0 ) 
													 Or ( ISNULL(@PageType,'') = 'ASSEMBLY'  and BOQMaster.IsAssembly = 1))
											and BOQMaster.IsDeleted = 0 
												
				UNION 
				SELECT	-- ROW_NUMBER() OVER ( ORDER BY BOQMaster.BOQId desc ) AS RowNo,
				CastingMaster.CastingName +'(' + CastingMaster.CastingCode +')' as ItemName ,
						BOQMaster.BOMName + '(' +BOQMaster.BOMCode + ')' as BOMName ,
						BOQMaster.BOMCode ,
                        BOMQty,
                        BOQMaster.UOM,
                        BOQMaster.CreatedOn ,
					    case when  	IsForPouring= 1 then cast(Qty as varchar(MAX)) + '/' + (cast(QtyPerCasting as varchar(MAX))) else cast(BOQTrans.Qty as varchar )+' '+'NOS'  end  as Qty,
						MetalName,
                                            CASE WHEN BOQMaster.IsItemType = 2 THEN  C.CastingName +'(' + C.CastingCode +')'
												 WHEN BOQMaster. IsItemType = 1 THEN P.ItemName + '(' + P.ItemCode + ')'
												 WHEN  BOQMaster.IsItemType = 3 THEN P.ItemCode  + '-(Mold)'
												 WHEN  BOQMaster.IsItemType = 5 THEN P.ItemCode  + '-(Pattern)'
												 WHEN  BOQMaster.IsItemType = 4 THEN CB.CoreBoxName
												 ELSE C.CastingName +'(' + C.CastingCode +')' END AS BOMFor,
												 IsForPouring ,
						CastingMetal.DrawingNo,
						CastingMetal.CastingNetWeight as Weight
						,c.FloorName
						FROM    BOQTrans  
						INNER JOIN BOQMaster ON BOQMaster.BOQId = BOQTrans.BOQId    AND (@IsAll = 1 or (dbo.BOQMaster.IsDeleted = @Block )) 
                        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.BOQTrans.PurchaseItemId  
                        LEFT JOIN dbo.CastingMaster C ON  C.CastingId = dbo.BOQMaster.CastingId  AND BOQMaster.IsItemType = 2 -- AND  C.IsDeleted = 0
                        LEFT  JOIN dbo.PurchaseItemMaster P ON P.PurchaseItemId = dbo.BOQMaster.CastingId AND (BOQMaster.IsItemType =  1 OR BOQMaster.IsItemType =  3 Or BOQMaster.IsItemType = 5) AND P.IsDeleted = 0 
                        --LEFT  JOIN dbo.PatternMaster PM ON PM.PatternId = dbo.BOQMaster.CastingId AND (BOQMaster.IsItemType =  3 Or BOQMaster.IsItemType = 5)
                        LEFT  JOIN dbo.CoreBoxDetails CB ON CB.CoreBoxID = dbo.BOQMaster.CastingId AND BOQMaster.IsItemType =  4
						LEFT JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.BOQMaster.MetalId AND dbo.MetalMaster.IsDeleted = 0
						 Left Join CastingMetal On CastingMetal.castingID = BOQMaster.CastingId
												 and CastingMetal.metalid = MetalMaster.MetalId
												 and CastingMetal.IsDeleted = 0
                          where ( @PurchaseItemId IS NULL
                                              OR dbo.BOQTrans.PurchaseItemId = @PurchaseItemId
                                            )
                                            AND ( @CastingId IS NULL
                                                  OR BOQMaster.CastingId = @CastingId
                                                )
												 AND ( @OtherName IS NULL              
												  OR C.FloorName = @OtherName              
												)
                                            AND	(@MetalId = 0 
												  OR BOQMaster.MetalId = @MetalId)
											AND BOQMaster.EntityId = @EntityId 
											AND IsForPouring=@IsForPouring
                                            AND
                                            ( @BOMName IS NULL
                                                  OR BOQMaster.BOQId = @BOMName
                                            )  
                                            AND
                                            ( @BOMCode	 IS NULL
                                                  OR BOQMaster.BOQId = @BOMCode
                                            )  
                                       -- And BOQMaster.IsAssembly = 0      
									    And ((ISNULL(@PageType,'') != 'ASSEMBLY' and BOQMaster.IsAssembly = 0 ) 
													 Or ( ISNULL(@PageType,'') = 'ASSEMBLY'  and BOQMaster.IsAssembly = 1))
													 and BOQMaster.IsDeleted = 0 
											
				UNION
				SELECT	-- ROW_NUMBER() OVER ( ORDER BY BOQMaster.BOQId desc ) AS RowNo,
						PurchaseItemMaster.ItemCode as ItemName ,
						BOQMaster.BOMName + '(' +BOQMaster.BOMCode + ')' as BOMName ,
						BOQMaster.BOMCode ,
                        BOMQty,
                        BOQMaster.UOM,
                        BOQMaster.CreatedOn ,
					    case when  	IsForPouring= 1 then cast(Qty as varchar(MAX)) + '/' + (cast(QtyPerCasting as varchar(MAX))) else cast(BOQTrans.Qty as varchar )+' '+'NOS' end  as Qty,
						MetalName,
                                            CASE WHEN BOQMaster.IsItemType = 2 THEN  C.CastingName +'(' + C.CastingCode +')'
												 WHEN  BOQMaster.IsItemType = 1 THEN P.ItemName + '(' + P.ItemCode + ')'
												 WHEN  BOQMaster.IsItemType = 3 THEN P.ItemCode  + '-(Mold)'
												 WHEN  BOQMaster.IsItemType = 5 THEN P.ItemCode  + '-(Pattern)'
												 WHEN  BOQMaster.IsItemType = 4 THEN CB.CoreBoxName
												 ELSE C.CastingName +'(' + C.CastingCode +')' END AS BOMFor,
												 IsForPouring ,
											CastingMetal.DrawingNo,
											CastingMetal.CastingNetWeight as Weight
												 
												 	,c.FloorName
						FROM    BOQTrans  
						INNER JOIN BOQMaster ON BOQMaster.BOQId = BOQTrans.BOQId     AND (@IsAll = 1 or (dbo.BOQMaster.IsDeleted = @Block )) 
                        INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.BOQTrans.PurchaseItemId and PurchaseItemMaster.IsPattern = 1
                        LEFT JOIN dbo.CastingMaster C ON  C.CastingId = dbo.BOQMaster.CastingId  AND BOQMaster.IsItemType = 2 -- AND  C.IsDeleted = 0
                        LEFT  JOIN dbo.PurchaseItemMaster P ON P.PurchaseItemId = dbo.BOQMaster.CastingId AND (BOQMaster.IsItemType =  1 OR BOQMaster.IsItemType =  3 Or BOQMaster.IsItemType = 5) AND P.IsDeleted = 0 
                        --LEFT  JOIN dbo.PatternMaster PM ON PM.PatternId = dbo.BOQMaster.CastingId AND (BOQMaster.IsItemType =  3 Or BOQMaster.IsItemType = 5)
                        LEFT  JOIN dbo.CoreBoxDetails CB ON CB.CoreBoxID = dbo.BOQMaster.CastingId AND BOQMaster.IsItemType =  4
						LEFT JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.BOQMaster.MetalId AND dbo.MetalMaster.IsDeleted = 0
						 Left Join CastingMetal On CastingMetal.castingID = BOQMaster.CastingId
												 and CastingMetal.metalid = MetalMaster.MetalId
												 and CastingMetal.IsDeleted = 0
                         where ( @PurchaseItemId IS NULL
                                              OR dbo.BOQTrans.PurchaseItemId = @PurchaseItemId
                                            )
                                            AND ( @CastingId IS NULL
                                                  OR BOQMaster.CastingId = @CastingId
                                                )
                                            AND	(@MetalId = 0 
												  OR BOQMaster.MetalId = @MetalId)
											AND BOQMaster.EntityId = @EntityId 
											 AND ( @OtherName IS NULL              
												  OR C.FloorName = @OtherName              
												)
											AND IsForPouring=@IsForPouring
                                            AND
                                            ( @BOMName IS NULL
                                                  OR BOQMaster.BOQId = @BOMName
                                            )  
                                            AND
                                            ( @BOMCode	 IS NULL
                                                  OR BOQMaster.BOQId = @BOMCode
                                            )     
										 And ((ISNULL(@PageType,'') != 'ASSEMBLY' and BOQMaster.IsAssembly = 0 ) 
													 Or ( ISNULL(@PageType,'') = 'ASSEMBLY'  and BOQMaster.IsAssembly = 1))
													 and BOQMaster.IsDeleted = 0 
				UNION
				SELECT	-- ROW_NUMBER() OVER ( ORDER BY BOQMaster.BOQId desc ) AS RowNo,
				CoreBoxDetails.CoreBoxName as ItemName ,
						BOQMaster.BOMName + '(' +BOQMaster.BOMCode + ')' as BOMName ,
						BOQMaster.BOMCode ,
                        BOMQty,
                        BOQMaster.UOM,
                        BOQMaster.CreatedOn ,
					    case when  	IsForPouring= 1 then cast(Qty as varchar(MAX)) + '/' + (cast(QtyPerCasting as varchar(MAX))) else cast(BOQTrans.Qty as varchar )+' '+'NOS' end  as Qty,
						MetalName,
                                            CASE WHEN BOQMaster.IsItemType = 2 THEN  C.CastingName +'(' + C.CastingCode +')'
												 WHEN BOQMaster.IsItemType = 1 THEN P.ItemName + '(' + P.ItemCode + ')'
												 WHEN  BOQMaster.IsItemType = 3 THEN P.ItemCode  + '-(Mold)'
												 WHEN  BOQMaster.IsItemType = 5 THEN P.ItemCode  + '-(Pattern)'
												 WHEN BOQMaster.IsItemType = 4 THEN CB.CoreBoxName
												 ELSE C.CastingName +'(' + C.CastingCode +')' END AS BOMFor,
												 IsForPouring
												 
										 ,
											CastingMetal.DrawingNo,
											CastingMetal.CastingNetWeight as Weight	
											,c.FloorName 
						FROM    BOQTrans 
						INNER JOIN BOQMaster ON BOQMaster.BOQId = BOQTrans.BOQId     AND (@IsAll = 1 or (dbo.BOQMaster.IsDeleted = @Block )) 
                        INNER JOIN dbo.CoreBoxDetails ON dbo.CoreBoxDetails.CastingId = dbo.BOQTrans.PurchaseItemId 
                        
                        LEFT JOIN dbo.CastingMaster C ON  C.CastingId = dbo.BOQMaster.CastingId  AND BOQMaster.IsItemType = 2  --AND  C.IsDeleted = 0
                        LEFT  JOIN dbo.PurchaseItemMaster P ON P.PurchaseItemId = dbo.BOQMaster.CastingId AND (BOQMaster.IsItemType =  1 OR BOQMaster.IsItemType =  3 Or BOQMaster.IsItemType = 5)  AND P.IsDeleted = 0 
                        --LEFT  JOIN dbo.PatternMaster PM ON PM.PatternId = dbo.BOQMaster.CastingId AND (BOQMaster.IsItemType =  3 Or BOQMaster.IsItemType = 5)
                        LEFT  JOIN dbo.CoreBoxDetails CB ON CB.CoreBoxID = dbo.BOQMaster.CastingId AND BOQMaster.IsItemType =  4
						LEFT JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.BOQMaster.MetalId AND dbo.MetalMaster.IsDeleted = 0	
							 Left Join CastingMetal On CastingMetal.castingID = BOQMaster.CastingId
												 and CastingMetal.metalid = MetalMaster.MetalId
												 and CastingMetal.IsDeleted = 0
                          where ( @PurchaseItemId IS NULL
                                              OR dbo.BOQTrans.PurchaseItemId = @PurchaseItemId
                                            )
                                            AND ( @CastingId IS NULL
                                                  OR BOQMaster.CastingId = @CastingId
                                                )
                                            AND	(@MetalId = 0 
												  OR BOQMaster.MetalId = @MetalId)
											AND BOQMaster.EntityId = @EntityId 
											 AND ( @OtherName IS NULL              
												  OR C.FloorName = @OtherName              
												)
											AND IsForPouring=@IsForPouring
                                            AND
                                            ( @BOMName IS NULL
                                                  OR BOQMaster.BOQId = @BOMName
                                            )  
                                            AND
                                            ( @BOMCode	 IS NULL
                                                  OR BOQMaster.BOQId = @BOMCode
                                            ) 
											and BOQMaster.IsDeleted = 0 
										
          ) as temp order by CreatedOn desc                            
								--New Query End 
       
								  --SELECT
          --                                  ROW_NUMBER() OVER ( ORDER BY CastingName ASC ) AS RowNo ,
          --                                  BOQMaster.BOQId ,
          --                                  CastingName ,
          --                                  CastingCode ,
          --                                  MetalName ,
          --                                  BOQTransId ,
          --                                  BOQTrans.PurchaseItemId ,
          --                                  ItemName ,
          --                                  ItemCode ,
          --                                  (cast(Qty as varchar(MAX)) + '/' + (cast(QtyPerCasting as varchar(MAX)))) as Qty
          --                                 -- Qty
          --                        FROM      dbo.BOQMaster
          --                                  INNER JOIN dbo.BOQTrans ON dbo.BOQTrans.BOQId = dbo.BOQMaster.BOQId
          --                                  INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.BOQMaster.CastingId
          --                                  INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.BOQTrans.PurchaseItemId
          --                                  INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.BOQMaster.MetalId
          --                        WHERE     ( @PurchaseItemId IS NULL
          --                                    OR dbo.BOQTrans.PurchaseItemId = @PurchaseItemId
          --                                  )
          --                                  AND ( @CastingId IS NULL
          --                                        OR BOQMaster.CastingId = @CastingId
          --                                      )
          --                                  AND ( @CastingName IS NULL
          --                                        OR CastingMaster.CastingName = @CastingName
          --                                      )
          --                                  AND	(@MetalId = 0 
										--		  OR BOQMaster.MetalId = @MetalId)
          --                                  AND dbo.CastingMaster.IsDeleted = 0
          --                                  AND dbo.MetalMaster.IsDeleted = 0
          --                                  AND dbo.PurchaseItemMaster.IsDeleted = 0
										--	AND BOQMaster.EntityId = @EntityId
										--	 AND BOQMaster.IsDeleted = 0
       
       END     
END
GO
