USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ProcessTimeAnalysis]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Yashvi Shah>
-- Create date: <3 January 2018>
-- Description:	<This will show the Process Time and Transfer Time (Process Perform Time).>
-- =============================================
CREATE PROCEDURE [dbo].[ProcessTimeAnalysis]
    @MetalID BIGINT = 0 ,
    @CastingName VARCHAR(250) = NULL ,
    @Productionfrom VARCHAR(50) = NULL ,
    @Productionto VARCHAR(50) = NULL ,
    @castingid UNIQUEIDENTIFIER = NULL ,
    @MetalType VARCHAR(50) = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
    BEGIN
		
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
		
					
--InhouseProcessStockTransfer
        SELECT  s.ProcessName ,
                SUM(ISNULL(s.TransferTime, 0)) / COUNT(*) AS [Time] ,
                '' AS TransferTime ,
                s.ProcessSequence
        FROM    ( SELECT    ProcessMaster.ProcessName ,
                            ISNULL(DATEDIFF(MINUTE,
                                            InHouseProcessStockTransfer.TransferStartTime,
                                            InHouseProcessStockTransfer.TransferEndTime),
                                   0) / ProcessStockbatchbreackup.Total AS [TransferTime] ,
                            ProcessMaster.ProcessSequence
                  FROM      InHouseProcessStockTransfer
                            INNER JOIN ( SELECT ProcessStockbatchbreackup.ProcessTransferID ,
                                                COUNT(ProcessStockbatchbreackup.batchID) AS Total
                                         FROM   ProcessStockbatchbreackup
                                                INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = ProcessStockbatchbreackup.batchID
                                                INNER JOIN ProductionBatch ON ProductionBatch.batchID = CastingStockBatch.productionbatchID
                                         WHERE  ProductionBatch.ProductionDate BETWEEN @Productionfrom
                                                              AND
                                                              @Productionto
                                         GROUP BY ProcessStockbatchbreackup.ProcessTransferID
                                       ) AS ProcessStockbatchbreackup ON ProcessStockbatchbreackup.ProcessTransferID = InHouseProcessStockTransfer.ProcessTransferID
                            INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = InHouseProcessStockTransfer.TransferFromProcessID
                            INNER JOIN MetalMaster ON MetalMaster.MetalId = InHouseProcessStockTransfer.MetalID
                  WHERE     ISNULL(DATEDIFF(MINUTE,
                                            InHouseProcessStockTransfer.TransferStartTime,
                                            InHouseProcessStockTransfer.TransferEndTime),
                                   0) > 0
                            AND InHouseProcessStockTransfer.TransferStartTime IS NOT NULL
                            AND InHouseProcessStockTransfer.TransferEndTime IS NOT NULL
                            AND InHouseProcessStockTransfer.TransferStartTime != InHouseProcessStockTransfer.TransferEndTime
                            AND ( @castingid IS NULL
                                  OR InHouseProcessStockTransfer.CastingID = @castingid
                                )
                            AND ( @MetalID = 0
                                  OR InHouseProcessStockTransfer.MetalID = @MetalID
                                )
                            AND ( @MetalType IS NULL
                                  OR MetalMaster.MetalType = @MetalType
                                )
                            AND ( @PlantIdString IS NULL
                                  OR @PlantIdString = ''
                                  OR InHouseProcessStockTransfer.CastingId IN (
                                  SELECT    CastingId
                                  FROM      dbo.PlantCastingMapping
                                          where PlantId in (SELECT Item FROM @Plant) )
                                )
                            AND InHouseProcessStockTransfer.EntityID = @EntityId
                ) s
        GROUP BY s.ProcessName ,
                s.ProcessSequence
        ORDER BY s.ProcessSequence
                  
                  
                  --FOR PROCESS TIME
        SELECT  s.ProcessName ,
                SUM(ISNULL(s.ProcessTime, 0)) / COUNT(*) AS [Time] ,
                '' AS ProcessTime ,
                s.ProcessSequence
        FROM    ( SELECT    ProcessMaster.ProcessName ,
                            ISNULL(DATEDIFF(MINUTE,
                                            ProcessPerformMaster.StartTime,
                                            ProcessPerformMaster.EndTime), 0)
                            / ProcessPerformBreakup.Total AS [ProcessTime] ,
                            ProcessMaster.ProcessSequence
                  FROM      ProcessPerformMaster
                            INNER JOIN ( SELECT ProcessPerformBreakup.ProcessPerformID ,
                                                COUNT(ProcessPerformBreakup.batchID) AS [Total]
                                         FROM   ProcessPerformBreakup
                                                INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = ProcessPerformBreakup.batchID
                                                INNER JOIN ProductionBatch ON ProductionBatch.batchID = CastingStockBatch.productionbatchID
                                         WHERE  ProductionBatch.ProductionDate BETWEEN @Productionfrom
                                                              AND
                                                              @Productionto
                                         GROUP BY ProcessPerformBreakup.ProcessPerformID
                                       ) AS ProcessPerformBreakup ON ProcessPerformBreakup.ProcessPerformID = ProcessPerformMaster.ProcessPerformID
                            INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = ProcessPerformMaster.ProcessID
                            INNER JOIN MetalMaster ON MetalMaster.MetalId = ProcessPerformMaster.MetalID
                  WHERE     ISNULL(DATEDIFF(MINUTE,
                                            ProcessPerformMaster.StartTime,
                                            ProcessPerformMaster.EndTime), 0) > 0
                            AND ProcessPerformMaster.StartTime IS NOT NULL
                            AND ProcessPerformMaster.EndTime IS NOT NULL
                            AND ProcessPerformMaster.StartTime != ProcessPerformMaster.EndTime
                            AND ( @castingid IS NULL
                                  OR ProcessPerformMaster.CastingID = @castingid
                                )
                            AND ( @MetalID = 0
                                  OR ProcessPerformMaster.MetalID = @MetalID
                                )
                            AND ( @MetalType IS NULL
                                  OR MetalMaster.MetalType = @MetalType
                                )
                            AND ( @PlantIdString IS NULL
                                  OR @PlantIdString = ''
                                  OR ProcessPerformMaster.CastingId IN (
                                  SELECT    CastingId
                                  FROM      dbo.PlantCastingMapping
                                           where PlantId in (SELECT Item FROM @Plant) )
                                )
                            AND ProcessPerformMaster.EntityID = @EntityId
                ) s
        GROUP BY s.ProcessName ,
                s.ProcessSequence
        ORDER BY s.ProcessSequence
					
      
    END
GO
