USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CastingSalesTrend]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--CastingSalesTrend '2016', '2018'
CREATE PROCEDURE [dbo].[CastingSalesTrend]
    --@Parameter INT = 0 ,
    @StartYear VARCHAR(MAX) = NULL ,
    @EndYear VARCHAR(MAX) = NULL ,
    @FinancialYear VARCHAR(MAX) = NULL,
    @CastingID Varchar(max) = NULL ,
    @CastingName VARCHAR(MAX) = NULL
    --@CastingCode varchar(MAX) = NULL
AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
--        SET NOCOUNT ON;


--        IF ( @Parameter = 1 )
--            BEGIN
   
--                SET @StartYear = REPLACE(@StartYear, '''', '')
--                SET @EndYear = REPLACE(@EndYear, '''', '')
--                DECLARE @SetQuery VARCHAR(MAX) = 'SELECT   *
--                INTO    [dbo].[temptable]
--   FROM     ( SELECT    DATENAME(month, dispatchdate) Month ,
--                        ROUND(ISNULL(SUM(TotalWeight), 0) / 1000, 2) AS TotalAmount ,
--                         CONVERT(VARCHAR(50),YEAR(dispatchdate)) + ''-'' + CONVERT(VARCHAR(50), YEAR(dispatchdate)+1) AS Year1 ,
--                        1 AS SrNo ,
--                        MONTH(dispatchdate) AS MonthNo
--              FROM      dbo.dispatchmaster
--               INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
--                WHERE     dispatchmaster.IsDeleted = 0 and dispatchtrans.IsDeleted = 0
--                        AND YEAR(dispatchdate) IN (' + @StartYear + ' )
--                        AND MONTH(dispatchdate) > 3
--              GROUP BY  DATENAME(month, dispatchdate) ,
--                        YEAR(dispatchdate) ,
--                        MONTH(dispatchdate)
--              UNION
--              SELECT    DATENAME(month, dispatchdate) Month ,
--                        ROUND(ISNULL(SUM(TotalWeight), 0) / 1000, 2) AS TotalAmount ,
--                         CONVERT(VARCHAR(50),YEAR(dispatchdate)-1) + ''-'' + CONVERT(VARCHAR(50), YEAR(dispatchdate)) AS Year1 ,
--                        2 AS SrNo ,
--                        MONTH(dispatchdate) AS MonthNo
--              FROM      dbo.dispatchmaster
--              INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
--                WHERE     dispatchmaster.IsDeleted = 0 and dispatchtrans.IsDeleted = 0
--                        AND YEAR(dispatchdate) IN ( ' + @EndYear + ' )
--                        AND MONTH(dispatchdate) < 4
--              GROUP BY  DATENAME(month, dispatchdate) ,
--                        YEAR(dispatchdate) ,
--                        MONTH(dispatchdate)
--            ) AS TempTable
--   ORDER BY SrNo ,
--            MonthNo'

--                EXEC(@SetQuery)

--                DECLARE @DynamicPivotQuery AS NVARCHAR(MAX) ,
--                    @PivotColumnNames AS NVARCHAR(MAX) ,
--                    @PivotSelectColumnNames AS NVARCHAR(MAX)
----Get distinct values of the PIVOT Column
--                SELECT  @PivotColumnNames = ISNULL(@PivotColumnNames + ',', '') + QUOTENAME(Year1)
--                FROM    ( SELECT DISTINCT
--                                    Year1
--                          FROM      [temptable]
--                        ) AS Courses
        
----Get distinct values of the PIVOT Column with isnull
--                SELECT  @PivotSelectColumnNames = ISNULL(@PivotSelectColumnNames + ',', '') + 'ISNULL(' + QUOTENAME(Year1) + ', 0) AS ' + QUOTENAME(Year1)
--                FROM    ( SELECT DISTINCT
--                                    Year1
--                          FROM      [temptable]
--                        ) AS Years
----Prepare the PIVOT query using the dynamic
--                SET @DynamicPivotQuery = N'SELECT Month, ' + @PivotSelectColumnNames + '
--FROM [temptable]

--PIVOT(SUM(TotalAmount)
--FOR Year1 IN (' + @PivotColumnNames + ')) AS PVTTable ORDER BY SrNo,MonthNo'
----Execute the Dynamic Pivot Query
--                EXEC sp_executesql @DynamicPivotQuery  
                
--                DROP TABLE [temptable]
                
--            END
     
--        IF ( @Parameter = 2 )
--            BEGIN
--                SET @StartYear = REPLACE(@StartYear, '''', '')
--                SET @EndYear = REPLACE(@EndYear, '''', '')
--                DECLARE @Query VARCHAR(MAX) = '
                
-- SELECT month ,
--        Year ,
--        ROUND(ISNULL(TotalAmount,0), 2) AS TotalAmount
-- FROM   ( SELECT    DATENAME(MONTH, CONVERT(VARCHAR(50), year(GetDate()))+''-'' + CAST(number AS VARCHAR(2)) + ''-1'') MONTH ,
--                    number ,
--                    1 AS SrNo
--          FROM      master..spt_values
--          WHERE     Type = ''P''
--                    AND number BETWEEN 4 AND 12
--          UNION
--          SELECT    DATENAME(MONTH, CONVERT(VARCHAR(50), year(GetDate()))+''-'' + CAST(number AS VARCHAR(2)) + ''-1'') MONTH ,
--                    number ,
--                    2 AS SrNo
--          FROM      master..spt_values
--          WHERE     Type = ''P''
--                    AND number BETWEEN 1 AND 3
--        ) AS S
--        CROSS JOIN ( SELECT  CONVERT(VARCHAR(50),YEAR(dispatchdate)-1) + ''-'' + CONVERT(VARCHAR(50), YEAR(dispatchdate)) AS Year
--                     FROM   dbo.dispatchmaster
--                            INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
--                     WHERE  YEAR(dispatchdate) IN (' + @EndYear + ' )  AND MONTH(dispatchdate) <4
--                     GROUP BY YEAR(dispatchdate)
--                      UNION
--                     SELECT 
--                            CONVERT(VARCHAR(50),YEAR(dispatchdate)) + ''-''+ CONVERT(VARCHAR(50), YEAR(dispatchdate)+1) AS Year
--                     FROM   dbo.dispatchmaster
--                            INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
--                     WHERE  YEAR(dispatchdate) IN (' + @StartYear + ' )    AND MONTH(dispatchdate) > 3
--                     GROUP BY YEAR(dispatchdate)
--                   ) AS ss
--        LEFT JOIN ( SELECT  DATENAME(month, dispatchdate) Months ,
--                            ROUND(ISNULL(SUM(dbo.dispatchtrans.TotalWeight), 0) / 1000, 2) AS TotalAmount ,
--                           CONVERT(VARCHAR(50), YEAR(dispatchdate)) + ''-'' + CONVERT(VARCHAR(50), YEAR(dispatchdate) + 1) AS Year1
--                    FROM    dbo.dispatchmaster
--                                                            INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
--                    WHERE   YEAR(dispatchdate) IN (' + @StartYear
--                    + ' )
--                            AND dbo.dispatchmaster.IsDeleted = 0
--                                                AND MONTH(dispatchdate) > 3              
--                                                            --AND (@CustomerID is NULL or customerID=@CustomerID)
--					--AND (@CastingID is NULL OR DispatchID in ( select Distinct DispatchID from dispatchtrans where castingid=@Castingid and IsDeleted=0)
--					--AND (@CustomerGroup is NULL or customerID in (select Distinct customerID from CustomerMaster where CustomerGroup=@CustomerGroup)
--					--AND (@MetalID is NULL or DispatchID in (select Distinct DispatchID from dispatchtrans inner join DispatchGradewise on dispatchtrans.dispatchtransid=DispatchGradewise.DispatchTransID and MetalID=@MetalID and dispatchtrans.IsDeleted=0)
--                    GROUP BY DATENAME(month, dispatchdate) ,
--                            YEAR(dispatchdate)
                            
--                              UNION
--                    SELECT  DATENAME(month, dispatchdate) Months ,
--                            ROUND(ISNULL(SUM(dbo.dispatchtrans.TotalWeight), 0) / 1000, 2) AS TotalAmount ,
--                            CONVERT(VARCHAR(50),YEAR(dispatchdate)-1) + ''-'' + CONVERT(VARCHAR(50), YEAR(dispatchdate)) AS Year1
--                    FROM    dbo.dispatchmaster
--                                                            INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
--                    WHERE   YEAR(dispatchdate) IN ( ' + @EndYear + ' )
--                            AND dbo.dispatchmaster.IsDeleted = 0
--                            AND MONTH(dispatchdate) <4  
--                             GROUP BY DATENAME(month, dispatchdate) ,
--                            YEAR(dispatchdate)
--                  ) AS sss ON s.month = sss.Months
--                              AND ss.Year = sss.Year1
--                               ORDER BY SrNo ,
--                            number'
                              
                              
--                EXEC(@Query)
--            END

--Hemani(without casting Filter)

--SET @StartYear = REPLACE(@StartYear, '''', '')
--SET @EndYear = REPLACE(@EndYear, '''', '')
--DECLARE @SetQuery VARCHAR(MAX) =
--'
--select *
--from
--(            

--		select ROW_NUMBER() over (partition by YEAR(dispatchdate) order by MONTH(dispatchdate)) RowNo,
--		CONVERT(varchar, YEAR(dispatchdate))+''-''+CONVERT(varchar, YEAR(dispatchdate)+1) SalesYear,
--		MONTH(dispatchdate) SalesMonthInDigit, dateName(month, dispatchdate) SalesMonth, 
--		round(SUM(ISNULL(TotalWeight, 0))/1000, 2) SalesWeightInTon
--		from dispatchmaster DM
--		inner join dispatchtrans DT
--		on DT.dispatchid = DM.DispatchID
--		where DM.IsDeleted=0 and DT.IsDeleted=0
--		AND MONTH(dispatchdate) > 3
--		AND YEAR(dispatchdate) IN ('+ @StartYear +' )
--		group by YEAR(dispatchdate), MONTH(dispatchdate), dateName(month, dispatchdate)

--		union

--		select ROW_NUMBER() over (partition by YEAR(dispatchdate) order by MONTH(dispatchdate))+9 RowNo,
--		CONVERT(varchar, YEAR(dispatchdate)-1)+''-''+CONVERT(varchar, YEAR(dispatchdate)) SalesYear,
--		MONTH(dispatchdate) SalesMonth, dateName(month, dispatchdate) SalesMonthInDigit, 
--		round(SUM(ISNULL(TotalWeight, 0))/1000, 2) SalesWeightInTon
--		from dispatchmaster DM
--		inner join dispatchtrans DT
--		on DT.dispatchid = DM.DispatchID
--		where DM.IsDeleted=0 and DT.IsDeleted=0
--		AND MONTH(dispatchdate) <4
--		AND YEAR(dispatchdate) IN ('+ @EndYear +' )
--		group by YEAR(dispatchdate), MONTH(dispatchdate), dateName(month, dispatchdate)

--)as H

--'

--Hemani(with casting Filter)

		--and (
		--	'+ CAST(@CastingID as varchar(50) ) +'is null 
		--	or CM.CastingId = '+ CAST(@CastingID as varchar(50) ) +' 
		--)
		--and (
		--	'+ @CastingName +' is null
		--	or CM.CastingName ='+@CastingName+' 
		--)	
		--SET @CastingID = REPLACE(@CastingID, '''', '')

SET @StartYear = REPLACE(@StartYear, '''', '')
SET @EndYear = REPLACE(@EndYear, '''', '')


DECLARE @SetQuery VARCHAR(MAX)=

'

SELECT  *
FROM    ( SELECT   
                    CONVERT(VARCHAR, YEAR(dispatchdate)) + ''-''
                    + CONVERT(VARCHAR, YEAR(dispatchdate) + 1) SalesYear ,
                    MONTH(dispatchdate) SalesMonthInDigit ,
                    DATENAME(month, dispatchdate) SalesMonth ,
                    ROUND(SUM(ISNULL(TotalWeight, 0)) / 1000, 2) SalesWeightInTon ,
                    CM.castingid ,
                    1 AS RowNo
          FROM      dispatchmaster DM
                    INNER JOIN dispatchtrans DT ON DT.dispatchid = DM.DispatchID
                    INNER JOIN CastingMaster CM ON CM.castingID = DT.castingid
          WHERE     DM.IsDeleted = 0
                    AND DT.IsDeleted = 0
                    AND CM.IsDeleted = 0
                    AND isProforma = 0
                    AND MONTH(dispatchdate) > 3
                    AND YEAR(dispatchdate) IN ( '+@StartYear+' )
          GROUP BY  YEAR(dispatchdate) ,
                    MONTH(dispatchdate) ,
                    DATENAME(month, dispatchdate) ,
                    CM.castingid
          UNION
          
          SELECT   
                    CONVERT(VARCHAR, YEAR(dispatchdate) - 1) + ''-''
                    + CONVERT(VARCHAR, YEAR(dispatchdate)) SalesYear ,
                    MONTH(dispatchdate) SalesMonth ,
                    DATENAME(month, dispatchdate) SalesMonthInDigit ,
                    ROUND(SUM(ISNULL(TotalWeight, 0)) / 1000, 2) SalesWeightInTon ,
                    CM.castingid ,
                    2 AS RowNo
          FROM      dispatchmaster DM
                    INNER JOIN dispatchtrans DT ON DT.dispatchid = DM.DispatchID
                    INNER JOIN CastingMaster CM ON CM.CastingID = DT.castingid
          WHERE     DM.IsDeleted = 0
                    AND DT.IsDeleted = 0
                    AND CM.IsDeleted = 0
                    AND isProforma = 0
                    AND MONTH(dispatchdate) < 4
                    AND YEAR(dispatchdate) IN ( '+@EndYear+' )
          GROUP BY  YEAR(dispatchdate) ,
                    MONTH(dispatchdate) ,
                    DATENAME(month, dispatchdate) ,
                    CM.castingid
        ) AS H
'
--'
--select *
--from
--(            
		
--		select ROW_NUMBER() over (partition by YEAR(dispatchdate) order by MONTH(dispatchdate)) RowNo,
--		CONVERT(varchar, YEAR(dispatchdate))+''-''+CONVERT(varchar, YEAR(dispatchdate)+1) SalesYear,
--		MONTH(dispatchdate) SalesMonthInDigit, dateName(month, dispatchdate) SalesMonth, 
--		round(SUM(ISNULL(TotalWeight, 0))/1000, 2) SalesWeightInTon,
--		CM.castingid
--		from dispatchmaster DM
--		inner join dispatchtrans DT
--		on DT.dispatchid = DM.DispatchID
--		inner join CastingMaster CM
--		on CM.castingID=DT.castingid
--		where DM.IsDeleted=0 and DT.IsDeleted=0 and CM.IsDeleted=0
--		AND MONTH(dispatchdate) > 3
--		AND YEAR(dispatchdate) IN ('+@StartYear +')
--		group by YEAR(dispatchdate), MONTH(dispatchdate), dateName(month, dispatchdate), CM.castingid

--		union

--		select ROW_NUMBER() over (partition by YEAR(dispatchdate) order by MONTH(dispatchdate))+9 RowNo,
--		CONVERT(varchar, YEAR(dispatchdate)-1)+''-''+CONVERT(varchar, YEAR(dispatchdate)) SalesYear,
--		MONTH(dispatchdate) SalesMonth, dateName(month, dispatchdate) SalesMonthInDigit, 
--		round(SUM(ISNULL(TotalWeight, 0))/1000, 2) SalesWeightInTon,
--		CM.castingid
--		from dispatchmaster DM
--		inner join dispatchtrans DT
--		on DT.dispatchid = DM.DispatchID
--		inner join CastingMaster CM
--		on CM.CastingID=DT.castingid
--		where DM.IsDeleted=0 and DT.IsDeleted=0 and CM.IsDeleted=0
--		AND MONTH(dispatchdate) <4	
--		AND YEAR(dispatchdate) IN ( '+@EndYear+' )
--		group by YEAR(dispatchdate), MONTH(dispatchdate), dateName(month, dispatchdate), CM.castingid

--)as H
--'

	--if(@CastingCode is not null and @CastingCode !='')
	
	--	begin
		
	--		if(CHARINDEX(' where',@SetQuery)>0)
				
	--				set @SetQuery= @SetQuery + ' and CastingCode= ''' + @CastingCode + ''''
					 
	--			else
			
	--				set @SetQuery= @SetQuery + ' where CastingCode= ''' + @CastingCode + ''''
					
	--	end		
	
		if(@CastingID is not null and @CastingID !='')
	
		begin
		
			if(CHARINDEX(' where',@SetQuery)>0)
				
					set @SetQuery= @SetQuery + ' Where CastingId = ''' +  @CastingID + ''''
					 
				else
			
			
					set @SetQuery= @SetQuery + ' where  CastingId = ''' +  @CastingID + ''''
					
		end	
	
	if(@CastingName is not null and @CastingName !='')
	
		begin
		
			if(CHARINDEX(' where',@SetQuery)>0)
				
					set @SetQuery= @SetQuery + ' where CastingName= ''' + @CastingName + ''''
					 
				else
			
					set @SetQuery= @SetQuery + ' where CastingName= ''' + @CastingName + ''''
					
		end	

--if(@CastingID is not null and @CastingID !='')
--begin 

--	if(CHARINDEX('where', @SetQuery)>0)
--		set @SetQuery = @SetQuery +'and CM.castingid = '''+CAST(@CastingID as uniqueidentifier )+'''
--		) or ('+CAST(@CastingID as uniqueidentifier )+' is null )'
--	else 
--		set @SetQuery = @SetQuery +'where CM.castingid = '''+CAST(@CastingID as uniqueidentifier )+'''
--		) or ('+CAST(@CastingID as uniqueidentifier )+' is null )'
		
--end 

--if(@CastingName is not null and @CastingName !='')
--begin

--	if(CHARINDEX('where', @SetQuery)>0)
--		set @SetQuery = @SetQuery +'and CM.castingName = '''+@CastingName+'''
--		) or ('+@CastingName+' is null )'
--	else 
--		set @SetQuery = @SetQuery +'where CM.castingName = '''+@CastingName+'''
--		) or ('+@CastingName+' is null )'
		
--end


EXEC(@SetQuery)

    END
GO
