USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomPONoForType1]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Bhumin>
-- Create date: <Create Date,,04 10 2021>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetCustomPONoForType1] 
	-- Add the parameters for the stored procedure here
   @SeriesID int,
   @supplierId uniqueidentifier,
   @StartDate date,
   @EndDdate date ,
   @EntityID int
AS
    BEGIN

		Select RIGHT('0' + CAST((Count(*) + 1) AS VARCHAR(2)), 2)  as PoNo from PurchaseOrder_Master where CustomerID=@supplierId
		and SeriesID = @SeriesID
		and OrderDate between @StartDate and @EndDdate
		And IsDeleted = 0 and maxversion=1
		
		Select VendorCode from CustomerMaster where CustomerId=@supplierId
   
    END
GO
