USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[InsertStatutoryLedger]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Bhumin>
-- Create date: <Create Date,,27-08-2020>
-- Description:	<Description,,To insert ledger group>
-- =============================================
CREATE PROCEDURE [dbo].[InsertStatutoryLedger]
	
    @StatutoryLedgerTable as XML = null,
    @EntityId int,
    @UserId int
  
AS
    BEGIN
    Declare @SMLedgerName varchar(200),@TDSsection varchar(10),@TDSRateOfTax float,@TDSRateOfTaxOther float,@TDSRateOfTaxNoPAN float,
    @TDSRateOfTaxOtherNoPAN float,@ExcemptionLimit float;   
      
		DECLARE StatutoryLedgerCursor CURSOR      
                FOR      
                    SELECT  Node.value('(TDSRateName )[1]', 'VARCHAR(MAX)') AS 'TDSRateName' ,
							Node.value('(TDSRATESECTION )[1]', 'VARCHAR(10)') AS 'TDSRATESECTION',
							Node.value('(RATEOFTAX )[1]', 'float') AS 'RATEOFTAX',
							Node.value('(OTHERRATE )[1]', 'float') AS 'OTHERRATE',
							Node.value('(NOPANRATEOFTAX )[1]', 'float') AS 'NOPANRATEOFTAX',
							Node.value('(NOPANOTHERRATE )[1]', 'float') AS 'NOPANOTHERRATE',
							Node.value('(EXEMPTIONLIMIT )[1]', 'float') AS 'EXEMPTIONLIMIT'                                  
                    FROM    @StatutoryLedgerTable.nodes('/DocumentElement/SMLedgerTDS')      
                            AS TEMPXML ( Node )       
                              
                OPEN StatutoryLedgerCursor;      
      
                FETCH NEXT FROM StatutoryLedgerCursor INTO @SMLedgerName,@TDSsection ,@TDSRateOfTax ,@TDSRateOfTaxOther,@TDSRateOfTaxNoPAN,
    @TDSRateOfTaxOtherNoPAN,@ExcemptionLimit
                WHILE ( @@FETCH_STATUS = 0 )      
                    BEGIN        
                       
						IF NOT EXISTS (Select SMLedgerName from [SMLedger] where SMLedgerName=@SMLedgerName and entityId =@EntityId )
						BEGIN
						INSERT INTO [dbo].[SMLedger]
							   (SMLedgerName
							   ,TDSsection
							   ,TDSRateOfTax
							   ,TDSRateOfTaxOther
							   ,TDSRateOfTaxNoPAN
							   ,TDSRateOfTaxOtherNoPAN
							   ,ExcemptionLimit
							   ,CreatedOn
							   ,entityId
							   ,CreatedBy
							   )
						 VALUES
							(									
								@SMLedgerName,
								@TDSsection,
								@TDSRateOfTax,
								@TDSRateOfTaxOther,
								@TDSRateOfTaxNoPAN,
								@TDSRateOfTaxOtherNoPAN,
								@ExcemptionLimit,
								GETDATE(),
								@EntityId,
								@UserId
							)
							
						
						END
						ELSE
						BEGIN
						
							Update SMLedger set SMLedgerName=@SMLedgerName
							   ,TDSsection = @TDSsection
							   ,TDSRateOfTax = @TDSRateOfTax
							   ,TDSRateOfTaxOther = @TDSRateOfTaxOther
							   ,TDSRateOfTaxNoPAN = @TDSRateOfTaxNoPAN
							   ,TDSRateOfTaxOtherNoPAN = @TDSRateOfTaxOtherNoPAN
							   ,ExcemptionLimit = @ExcemptionLimit
							   where SMLedgerName=@SMLedgerName and entityId =@EntityId
						
						END	
							
						
							
							IF @@ERROR <> 0      
                            ROLLBACK TRANSACTION      
                        FETCH NEXT FROM StatutoryLedgerCursor INTO @SMLedgerName,@TDSsection ,@TDSRateOfTax ,@TDSRateOfTaxOther,@TDSRateOfTaxNoPAN,
    @TDSRateOfTaxOtherNoPAN,@ExcemptionLimit    
                    END       
                CLOSE StatutoryLedgerCursor;      
                DEALLOCATE StatutoryLedgerCursor;           
                 
          Return 1;
     
          
    END



GO
