USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Pouring_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE  PROCEDURE [dbo].[Pouring_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityId INT = 0  ,
    @CastingName VARCHAR(250) = NULL , 
     @operatorid INT = 0 ,                                    
      @HeatCode VARCHAR(50) = NULL ,                                                                       
      @PatternId UNIQUEIDENTIFIER = NULL ,                                    
@castingid UNIQUEIDENTIFIER = NULL ,                                    
        @DateFrom DATETIME = NULL ,                                    
    @DateTo DATETIME = NULL  
, @HeatNo int = 0       
, @AssemblyNotFetch int = 0,
@PageType int = 0 
AS
BEGIN

	SET NOCOUNT ON;
	SET FMTONLY OFF;
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	                             
    IF @Parameter = 1  --searching and filtering in production sand casting
    BEGIN

		IF OBJECT_ID('tempdb..##MainProdBatch') IS NOT NULL 
		BEGIN
			DROP TABLE ##MainProdBatch
		END
		
		SELECT	ProductionBatch.batchID--, MetalID
		INTO	##MainProdBatch
		FROM	ProductionBatch(NOLOCK)
		WHERE	ProductionBatch.IsDeleted = 0 
		        AND ProductionBatch.IsPouringDone = 1
				AND ProductionBatch.IsPouring = 1
				AND (@HeatNo = 0 OR ProductionBatch.batchID = @HeatNo)
				AND ProductionBatch.BatchType = 0 
				AND (@DateFrom IS NULL OR @DateTo IS NULL
					OR ProductionDate BETWEEN @DateFrom AND @DateTo
				)
				AND ProductionBatch.EntityID = @EntityId
				AND ProductionBatch.IsForging = 0
				AND (ISNULL(@PlantIdString, '') = '' OR ProductionBatch.PlantId IN (SELECT Item FROM @Plant))
				and ProductionBatch.PageType = @PageType
		IF OBJECT_ID('tempdb..##TmpProdKnckt') IS NOT NULL 
		BEGIN
			DROP TABLE ##TmpProdKnckt
		END
		
		SELECT	DISTINCT Knockout.batchID 
		INTO	##TmpProdKnckt
		FROM	Knockout(NOLOCK)
				left Join PatternCastingMapping pcm on pcm.MethodId = knockout.PatternId
				INNER JOIN ##MainProdBatch AS MainProdBatch ON MainProdBatch.batchid = Knockout.BatchId
				INNER JOIN (
					SELECT	CastingMaster.CastingId 
					FROM	CastingMaster(NOLOCK)
					WHERE	(@CastingName IS NULL OR CastingMaster.CastingName = @CastingName)
				) AS CastMst ON CastMst.CastingID = knockout.CastingID
		WHERE	knockout.IsDeleted = 0
				AND (@PatternID IS NULL OR knockout.PatternId = @PatternID OR pcm.PatternId = @PatternID)
				AND (@CastingID IS NULL OR knockout.castingid = @CastingID)
				AND (@OperatorId = 0 OR knockout.operatorID = @OperatorId)
		
        IF @InitialLoad = 1                                    
        BEGIN
			SELECT	TOP (@PageSize) 
					BatchID, [Serial No],
					OurentryNo, BatchNo, [Production Date], MetalName, Furnace, [Shift], [Molten Metal Qty], PlantID, ModifiedDateTime--,
					--TotalRec--MAX([Serial No]) OVER() AS TotalRec
			FROM	(
				SELECT	--TOP (@PageSize) 
						BatchID, 
						ROW_NUMBER() OVER (ORDER BY PourNum DESC, ProdDateDiff DESC) AS [Serial No],
						OurentryNo, BatchNo, [Production Date], MetalName, Furnace, [Shift], [Molten Metal Qty], PlantID, ModifiedDateTime--,
						--COUNT(1) OVER() AS TotalRec
				FROM	(
					SELECT	ProdBatch.BatchID,OurentryNo ,BatchNo , [Production Date],Furnace ,[Shift] ,[Molten Metal Qty] 
							,PlantID,ModifiedDateTime, MetalMaster.MetalName
							, SUBSTRING(ProdBatch.OurentryNo, 3, 2) AS PourNum, DATEDIFF(dd, 0, ProdBatch.[Production Date]) AS ProdDateDiff
					FROM	(
						SELECT ProductionBatch.BatchID, MetalID
								,OurentryNo ,BatchNo ,CONVERT(VARCHAR(15), ProductionDate, 106) AS [Production Date]
								,Furnace ,Shift ,ISNULL(totalChargingQnty, 0) AS [Molten Metal Qty] ,ProductionBatch.PlantID
								,CAST(ProductionBatch.ModifiedOn AS NVARCHAR(50)) AS ModifiedDateTime
						FROM	ProductionBatch(NOLOCK)
								INNER JOIN ##MainProdBatch AS MainProdBatch ON MainProdBatch.batchID = ProductionBatch.batchID
						
					) AS ProdBatch
						INNER JOIN ##TmpProdKnckt AS KnockoutTbl ON KnockoutTbl.BatchId = ProdBatch.BatchId
						INNER JOIN MetalMaster(NOLOCK) ON ProdBatch.MetalID = MetalMaster.MetalID 
				) AS Final
				--WHERE	 (@HeatCode IS NULL 
				--			OR Final.batchID IN (SELECT ProductionBatchID FROM CastingHeatCode(NOLOCK) WHERE HeatCode = @HeatCode)
				--		)
			) AS Production

		END
        ELSE                                    
        BEGIN
		
			IF OBJECT_ID('tempdb..##CastHCBatchId') IS NOT NULL 
			BEGIN
				DROP TABLE ##CastHCBatchId
			END

			SELECT ProductionBatch.BatchId AS ProductionBatchID
			INTO ##CastHCBatchId
			FROM	ProductionBatch(NOLOCK)
			WHERE	(ISNULL(@HeatCode, '') = ''
						OR ProductionBatch.BatchId IN (
							SELECT CastingHeatCode.ProductionBatchID FROM CastingHeatCode(NOLOCK) WHERE HeatCode = @HeatCode)
					)
					and ProductionBatch.PageType = @PageType
			
			SELECT	TOP (@PageSize) 
					BatchID, [Serial No],
					OurentryNo, BatchNo, [Production Date], MetalName, Furnace, Shift, [Molten Metal Qty], PlantID, ModifiedDateTime--,
					--TotalRec
			FROM (
				SELECT	BatchID, 
						ROW_NUMBER() OVER (ORDER BY PourNum DESC, ProdDateDiff DESC) AS [Serial No],
						OurentryNo, BatchNo, [Production Date], MetalName, Furnace, Shift, [Molten Metal Qty], PlantID, ModifiedDateTime--,
						--COUNT(1) OVER() AS TotalRec
				FROM	(
					SELECT ProdBatchTbl.BatchID,OurentryNo ,BatchNo , [Production Date],Furnace ,Shift ,[Molten Metal Qty] 
							,PlantID,ModifiedDateTime, MetalMaster.MetalName
							, SUBSTRING(ProdBatchTbl.OurentryNo, 3, 2) AS PourNum, DATEDIFF(dd, 0, ProdBatchTbl.[Production Date]) AS ProdDateDiff
					FROM (
						SELECT	ProductionBatch.BatchID, OurentryNo ,BatchNo ,CONVERT(VARCHAR(15), ProductionDate, 106) AS [Production Date], Furnace
								,Shift ,ISNULL(totalChargingQnty, 0) AS [Molten Metal Qty] ,ProductionBatch.PlantID 
								,CAST(ProductionBatch.ModifiedOn AS NVARCHAR(50)) AS ModifiedDateTime, MetalID
						FROM	ProductionBatch(NOLOCK)
								INNER JOIN ##MainProdBatch AS MainProdBatch ON MainProdBatch.batchID = ProductionBatch.batchID
						
						) AS ProdBatchTbl
							INNER JOIN ##TmpProdKnckt AS KnockoutTbl ON KnockoutTbl.BatchId = ProdBatchTbl.BatchId
							INNER JOIN ##CastHCBatchId AS CastHCBatchId ON CastHCBatchId.ProductionBatchID = ProdBatchTbl.BatchId
							INNER JOIN MetalMaster(NOLOCK) ON ProdBatchTbl.MetalID = MetalMaster.MetalID
				) AS Final
				--WHERE	(@HeatCode IS NULL
				--			OR Final.batchID IN (SELECT ProductionBatchID FROM CastingHeatCode WHERE HeatCode = @HeatCode)
				--		)
			) AS Production
			WHERE Production.[Serial No] > (@PageNumber * @PageSize)

			DROP TABLE ##CastHCBatchId
		END

		DROP TABLE ##MainProdBatch
		DROP TABLE ##TmpProdKnckt
    END                
    ELSE IF @Parameter = 2  --count of searching and filtering in production sand casting
	BEGIN
		
		IF OBJECT_ID('tempdb..##MainProdBatchCnt') IS NOT NULL 
		BEGIN
			DROP TABLE ##MainProdBatchCnt
		END

		SELECT	ProductionBatch.batchID, MetalID
		INTO	##MainProdBatchCnt
		FROM	ProductionBatch(NOLOCK)
		WHERE	ProductionBatch.IsDeleted = 0 
		        AND ProductionBatch.IsPouringDone = 1
				AND ProductionBatch.IsPouring = 1
				AND ProductionBatch.BatchType = 0 
				AND (@DateFrom IS NULL OR @DateTo IS NULL
					OR ProductionDate BETWEEN @DateFrom AND @DateTo)
				AND (ISNULL(@PlantIdString, '') = '' OR ProductionBatch.PlantId IN (SELECT Item FROM @Plant))
				AND ProductionBatch.EntityID = @EntityId 
				AND ProductionBatch.IsForging = 0
				AND (@HeatNo = 0 OR ProductionBatch.batchID = @HeatNo)
				and ProductionBatch.PageType = @PageType
			
		IF OBJECT_ID('tempdb..##TmpProdKncktCnt') IS NOT NULL 
		BEGIN
			DROP TABLE ##TmpProdKncktCnt
		END

		SELECT	DISTINCT Knockout.batchID 
		INTO	##TmpProdKncktCnt
		FROM	Knockout(NOLOCK)
		        left Join PatternCastingMapping pcm on pcm.MethodId = knockout.PatternId
				INNER JOIN ##MainProdBatchCnt AS MainProdBatchCnt ON MainProdBatchCnt.batchid = Knockout.BatchId
				INNER JOIN (
					SELECT	CastingMaster.CastingId 
					FROM	CastingMaster(NOLOCK)
					WHERE	(@CastingName IS NULL OR CastingMaster.CastingName = @CastingName)
				) AS CastMst ON CastMst.CastingID = knockout.CastingID
		WHERE	knockout.IsDeleted = 0
				AND (@PatternID IS NULL OR knockout.PatternId = @PatternID OR pcm.PatternId = @PatternID)
				AND (@CastingID IS NULL OR knockout.castingid = @CastingID)
				AND (@OperatorId = 0 OR knockout.operatorID = @OperatorId)
				
		IF OBJECT_ID('tempdb..##CastHCBatchIdCnt') IS NOT NULL 
		BEGIN
			DROP TABLE ##CastHCBatchIdCnt
		END

		SELECT ProductionBatch.BatchId AS ProductionBatchID
		INTO ##CastHCBatchIdCnt
		FROM	ProductionBatch(NOLOCK)
		WHERE	(ISNULL(@HeatCode, '') = ''
					OR ProductionBatch.BatchId IN (
						SELECT CastingHeatCode.ProductionBatchID FROM CastingHeatCode(NOLOCK) WHERE HeatCode = @HeatCode)
				)and ProductionBatch.PageType = @PageType

			SET @TotalRecords = (
				SELECT	COUNT(1) --As TotalRecords
				FROM	(
							SELECT ProdBatch.* FROM ##MainProdBatchCnt AS ProdBatch
							INNER JOIN ##CastHCBatchIdCnt AS CastHCBatchIdCnt ON CastHCBatchIdCnt.ProductionBatchID = ProdBatch.batchID
							INNER JOIN ##TmpProdKncktCnt AS KnockoutTbl ON KnockoutTbl.BatchId = ProdBatch.BatchId
							INNER JOIN MetalMaster(NOLOCK) ON ProdBatch.MetalID = MetalMaster.MetalID
						
				) AS Final
				--WHERE	(@HeatCode IS NULL 
				--			OR Final.batchID IN (SELECT ProductionBatchID FROM CastingHeatCode WHERE HeatCode = @HeatCode))
			)

		DROP TABLE ##MainProdBatchCnt
		DROP TABLE ##CastHCBatchIdCnt
		DROP TABLE ##TmpProdKncktCnt

		RETURN @TotalRecords
		--SELECT @TotalRecords As TotalRecords
	END          

    ELSE IF @Parameter = 3
	BEGIN
	
		IF OBJECT_ID('tempdb..##MainProdBatchDwnLd') IS NOT NULL 
		BEGIN
			DROP TABLE ##MainProdBatchDwnLd
		END

		SELECT	ProductionBatch.batchID, MetalID
		INTO	##MainProdBatchDwnLd
		FROM	ProductionBatch(NOLOCK)
		WHERE	ProductionBatch.IsDeleted = 0 
		        AND ProductionBatch.IsPouringDone = 1
				AND ProductionBatch.IsPouring = 1
				AND ProductionBatch.BatchType = 0 
				AND (@DateFrom IS NULL OR @DateTo IS NULL
					OR ProductionDate BETWEEN @DateFrom AND @DateTo)
				AND (ISNULL(@PlantIdString, '') = '' OR ProductionBatch.PlantId IN (SELECT Item FROM @Plant))
				AND ProductionBatch.EntityID = @EntityId 
				AND ProductionBatch.IsForging = 0
				AND (@HeatNo = 0 OR ProductionBatch.batchID = @HeatNo)
				and ProductionBatch.PageType = @PageType
		IF OBJECT_ID('tempdb..##TmpProdKncktDwnLd') IS NOT NULL 
		BEGIN
			DROP TABLE ##TmpProdKncktDwnLd
		END

		SELECT	Knockout.batchID, Knockout.KnockoutID, KnockOut.CastingId, Knockout.ProductionQty, Knockout.OKQty
				, Knockout.RejectedQty, Knockout.PerPcWeight, Knockout.OkQtyTotalWeight, Knockout.RejectedQtyTotalWeight, Knockout.ReasonID
				, CastMst.CastingName, CastMst.CastingCode,Knockout.GrossWeight ,CastingMetal.GrossWeight AS MasterWt
		INTO	##TmpProdKncktDwnLd
		FROM	Knockout(NOLOCK)
		        left Join PatternCastingMapping pcm on pcm.MethodId = knockout.PatternId
				INNER JOIN ##MainProdBatchDwnLd AS MainProdBatchDwnLd ON MainProdBatchDwnLd.batchid = Knockout.BatchId
				INNER JOIN CastingMetal ON CastingMetal.metalid = MainProdBatchDwnLd.MetalID AND CastingMetal.castingID = Knockout.castingid 
				INNER JOIN (
					SELECT	CastingMaster.CastingId, CastingMaster.CastingName, CastingMaster.CastingCode
					FROM	CastingMaster(NOLOCK)
					WHERE	(@CastingName IS NULL OR CastingMaster.CastingName = @CastingName)
				) AS CastMst ON CastMst.CastingID = knockout.CastingID
		WHERE	knockout.IsDeleted = 0
				AND (@PatternID IS NULL OR knockout.PatternId = @PatternID OR pcm.PatternId = @PatternId)
				AND (@CastingID IS NULL OR knockout.castingid = @CastingID)
				AND (@OperatorId = 0 OR knockout.operatorID = @OperatorId)
				
		IF OBJECT_ID('tempdb..##CastHCBatchIdDwnLd') IS NOT NULL 
		BEGIN
			DROP TABLE ##CastHCBatchIdDwnLd
		END

		SELECT ProductionBatch.BatchId AS ProductionBatchID
		INTO ##CastHCBatchIdDwnLd
		FROM	ProductionBatch(NOLOCK)
		WHERE	(ISNULL(@HeatCode, '') = ''
					OR ProductionBatch.BatchId IN (
						SELECT CastingHeatCode.ProductionBatchID FROM CastingHeatCode(NOLOCK) WHERE HeatCode = @HeatCode)
				)
				and ProductionBatch.PageType = @PageType
		SELECT	ROW_NUMBER() OVER (ORDER BY DATEDIFF(dd, 0, Final.ProductionDate) DESC, BatchNo DESC) AS SRNO
				, Final.BatchNo ,CONVERT(VARCHAR(15), Final.ProductionDate, 106) AS ProductionDate ,MetalName 
				, Final.Furnace , Final.[Shift], ISNULL(Final.totalChargingQnty, 0) AS [MoltenMetalQty] 
				, Final.KnockoutID ,Final.CastingId, Final.CastingCode, Final.CastingName ,CastingHeatCode.heatCode AS heatCode 
				, Final.ProductionQty,    Final.PerPcWeight
				, Final.OkQtyTotalWeight  , ISNULL(Reason, 'Other') AS Reason,GrossWeight,MasterWt
		FROM	(
			SELECT Prod_Knock_Tbl.*, dbo.MetalMaster.MetalName FROM (
				SELECT	ProdBatchTbl.batchID, MetalId, BatchNo, ProductionDate, Furnace, [Shift], totalChargingQnty
						, KnockoutID, CastingId, ProductionQty,  PerPcWeight, OkQtyTotalWeight 
						, ReasonID, CastingCode, CastingName,GrossWeight,MasterWt
				FROM	(
					SELECT	ProductionBatch.batchID, ProductionBatch.MetalId, ProductionBatch.BatchNo, ProductionBatch.ProductionDate
							, ProductionBatch.Furnace, ProductionBatch.[Shift], ProductionBatch.totalChargingQnty
					FROM	ProductionBatch(NOLOCK)
							INNER JOIN ##MainProdBatchDwnLd AS MainProdBatchDwnLd ON MainProdBatchDwnLd.batchID = ProductionBatch.batchID

				) AS ProdBatchTbl
						INNER JOIN ##TmpProdKncktDwnLd AS Knckt ON Knckt.batchid = ProdBatchTbl.batchID
						INNER JOIN ##CastHCBatchIdDwnLd AS CastHCBatchId ON CastHCBatchId.ProductionBatchID = ProdBatchTbl.BatchId
			) AS Prod_Knock_Tbl
					INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = Prod_Knock_Tbl.MetalID
		) AS Final
	 			LEFT JOIN dbo.ReasonMaster ON dbo.ReasonMaster.ReasonID = Final.ReasonID
				LEFT JOIN (
					SELECT	ProductionBatchID ,CastingID 
							,(STUFF((SELECT ', ' + HeatCode 
									FROM (
										SELECT	DISTINCT chc.ProductionBatchID ,chc.CastingID ,chc.HeatCode
										FROM	CastingHeatCode AS chc
												INNER JOIN CastingStockBatch AS csb ON csb.CastingID = chc.CastingID
															AND csb.productionbatchID = chc.ProductionBatchID
															AND csb.HeatCodeId = chc.HeatCodeId
										WHERE	chc.HeatCode <> ''
									) AS FINAL
									WHERE (ProductionBatchID = Results.ProductionBatchID AND CastingID = Results.CastingID)
								FOR XML PATH (''), TYPE).value('(./text())[1]', 'VARCHAR(MAX)') , 1, 2, '')
							) AS HeatCode
					FROM	CastingHeatCode AS Results
					GROUP BY ProductionBatchID,CastingID
				) AS CastingHeatCode ON CastingHeatCode.ProductionBatchID = Final.batchid
						AND Final.castingid = CastingHeatCode.CastingID AND CastingHeatCode.HeatCode <> ''
		
		DROP TABLE ##MainProdBatchDwnLd
		DROP TABLE ##TmpProdKncktDwnLd
		DROP TABLE ##CastHCBatchIdDwnLd
	END                                    
                         
END


GO
