USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CastCodeTransaction]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CastCodeTransaction]
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @KnockoutID BIGINT = 0 ,
    @CastCode XML = NULL ,
    @okREJ INT = 0 , -- Flag for observing coming castcode is ok qty or rejected qty   
    @productionbatchid BIGINT = 0 ,
    @Tag_Process VARCHAR(20) = NULL ,
    @CastingStockBatchID BIGINT = 0 ,
    @CastingStockRejBatchID BIGINT = 0 ,
    @Createdon DATETIME = NULL ,
    @Createdby INT = 0 ,
    @updatedQty INT = 0 , -- IF update qty != 0 then and then entry will occure in production castcode
    @EntityID INT = 0 ,
    @CastingStockProcessId UNIQUEIDENTIFIER = NULL ,
    @RejectionDate DATETIME = NULL ,
    @JOID BIGINT = 0 ,
    @InhouseProcessId UNIQUEIDENTIFIER = NULL ,
    @CastCodeNo VARCHAR(50) = NULL ,
    @OkQty INT = 0 , -- use in Manage Rejection customer ok qty add in stock
    @Process VARCHAR(50) = NULL
AS
    DECLARE @Qty INT ,
        @castcodestock INT ,
        @ok_rej_Cc VARCHAR(10) ,
        @RejQty INT ,
        @RejectionID BIGINT ,
        @reasonid INT ,
        @RejectedQtyWeight FLOAT;
    BEGIN
        BEGIN TRANSACTION
        IF ( @Tag_Process = 'Physical'
             OR @Tag_Process = 'Opening Stock'
           )
            BEGIN      
                DECLARE CastCodeEntry CURSOR
                FOR
                    SELECT  Node.value('(CastCode )[1]', 'varchar(50)') AS 'CastCode' ,
                            Node.value('(Qty )[1]', 'int') AS 'Qty'
                    FROM    @CastCode.nodes('/DocumentElement/CastCodeTable')
                            AS TEMPXML ( Node ) 

                OPEN CastCodeEntry;

                FETCH NEXT FROM CastCodeEntry INTO @CastCodeNo, @Qty
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN

                        IF NOT EXISTS ( SELECT  Castcode
                                        FROM    CastCodeHistory
                                        WHERE   IsDeleted = 0
                                                AND CastCode = @CastCodeno )
                            BEGIN
                                IF @okREJ = 0
                                    BEGIN
                                        INSERT  INTO CastCodeBatch
                                                ( BatchID ,
                                                  CastCode ,
                                                  Qty
                                                )
                                        VALUES  ( @CastingStockBatchID ,
                                                  @CastCodeno ,
                                                  @qty
                                                )
                                        IF @@ERROR <> 0
                                            ROLLBACK TRANSACTION
            
                                        INSERT  INTO CastCodeHistory
                                                ( ProductionBatchID ,
                                                  CastingID ,
                                                  CastCode ,
                                                  OKQty ,
                                                  AcceptedRejected
                                                )
                                        VALUES  ( @productionbatchid ,
                                                  @CastingID ,
                                                  @CastCodeNo ,
                                                  @Qty ,
                                                  1
                                                )
                                        IF @@ERROR <> 0
                                            ROLLBACK TRANSACTION			

                                        IF @KnockoutID != 0 -- Entry from production Insert/Edit
                                            BEGIN
																
                                                INSERT  INTO ProductionCastCode
                                                        ( ProductionBatchID ,
                                                          KnockoutID ,
                                                          CastCode ,
                                                          OKQty
                                                        )
                                                VALUES  ( @productionbatchid ,
                                                          @KnockoutID ,
                                                          @CastCodeNo ,
                                                          @Qty
                                                        ) 
                                                IF @@ERROR <> 0
                                                    ROLLBACK TRANSACTION			
																
                                            END
                                    END
                                ELSE
                                    BEGIN
														
                                        INSERT  INTO CastCodeRejBatch
                                                ( BatchID ,
                                                  CastCode ,
                                                  Qty
                                                )
                                        VALUES  ( @CastingStockBatchID ,
                                                  @CastCodeno ,
                                                  @qty
                                                )
                                        IF @@ERROR <> 0
                                            ROLLBACK TRANSACTION			
                                        INSERT  INTO CastCodeHistory
                                                ( ProductionBatchID ,
                                                  CastingID ,
                                                  CastCode ,
                                                  OKQty ,
                                                  AcceptedRejected
                                                )
                                        VALUES  ( @productionbatchid ,
                                                  @CastingID ,
                                                  @CastCodeNo ,
                                                  @Qty ,
                                                  0
                                                )
                                        IF @@ERROR <> 0
                                            ROLLBACK TRANSACTION			
														
														
                                    END
												
                            END

                        FETCH NEXT FROM CastCodeEntry INTO @CastCodeNo, @Qty
                    END 

                CLOSE CastCodeEntry;
                DEALLOCATE CastCodeEntry;	
            END			
        IF ( @Tag_Process = 'PRODUCTION' )
            BEGIN      
                DECLARE CastCodeEntry CURSOR
                FOR
                    SELECT  Node.value('(CastCode )[1]', 'varchar(50)') AS 'CastCode' ,
                            Node.value('(OKQty )[1]', 'int') AS 'OKQty' ,
                            Node.value('(RejQty )[1]', 'int') AS 'RejQty' ,
                            Node.value('(ReasonID )[1]', 'int') AS 'ReasonID' ,
                            Node.value('(RejectedQtyWeight )[1]', 'float') AS 'RejectedQtyWeight' ,
                            Node.value('(RejectionID )[1]', 'int') AS 'RejectionID'
                    FROM    @CastCode.nodes('/DocumentElement/CastCodeTable')
                            AS TEMPXML ( Node ) 

                OPEN CastCodeEntry;

                FETCH NEXT FROM CastCodeEntry INTO @CastCodeNo, @Qty, @RejQty,
                    @reasonid, @RejectedQtyWeight, @RejectionID
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN

                        IF NOT EXISTS ( SELECT  Castcode
                                        FROM    CastCodeHistory
                                        WHERE   IsDeleted = 0
                                                AND CastCode = @CastCodeno )
                            BEGIN
                                IF @Qty > 0
                                    BEGIN
                                        INSERT  INTO CastCodeBatch
                                                ( BatchID ,
                                                  CastCode ,
                                                  Qty
                                                )
                                        VALUES  ( @CastingStockBatchID ,
                                                  @CastCodeno ,
                                                  @qty
                                                )
                                        IF @@ERROR <> 0
                                            ROLLBACK TRANSACTION
                                    END
                                INSERT  INTO CastCodeHistory
                                        ( ProductionBatchID ,
                                          CastingID ,
                                          CastCode ,
                                          OKQty ,
                                          RejQty
                                        )
                                VALUES  ( @productionbatchid ,
                                          @CastingID ,
                                          @CastCodeNo ,
                                          @Qty ,
                                          @RejQty
                                        )
                                IF @@ERROR <> 0
                                    ROLLBACK TRANSACTION
																
                                IF @KnockoutID != 0 -- Entry from production Insert/Edit
                                    BEGIN
																
                                        INSERT  INTO ProductionCastCode
                                                ( ProductionBatchID ,
                                                  KnockoutID ,
                                                  CastCode ,
                                                  OKQty ,
                                                  RejQty ,
                                                  Reasonid
                                                )
                                        VALUES  ( @productionbatchid ,
                                                  @KnockoutID ,
                                                  @CastCodeNo ,
                                                  @Qty ,
                                                  @RejQty ,
                                                  @reasonid
                                                ) 
                                        IF @@ERROR <> 0
                                            ROLLBACK TRANSACTION			
									END																																
							END	
                        ELSE
                            BEGIN
								
                                --IF @updatedQty != 0
                                --    BEGIN				
                                        UPDATE  CastCodeBatch
                                        SET     Qty = Qty + @Qty
                                        WHERE   CastCode = @CastCodeNo
                                                AND BatchID = @CastingStockBatchID
                                        IF @@ERROR <> 0
                                            ROLLBACK TRANSACTION
														
                                        UPDATE  CastCodeHistory
                                        SET     OKQty = OKQty + @Qty ,
                                                RejQty = RejQty + @RejQty
                                        WHERE   CastCode = @CastCodeNo
                                                AND ProductionbatchID = @productionbatchid
                                        IF @@ERROR <> 0
                                            ROLLBACK TRANSACTION
													
                                        UPDATE  ProductionCastCode
                                        SET     OKQty = OKQty + @Qty ,
                                                RejQty = RejQty + @RejQty ,
                                                Reasonid = @reasonid
                                        WHERE   CastCode = @CastCodeNo
                                                AND ProductionbatchID = @productionbatchid
                                        IF @@ERROR <> 0
                                            ROLLBACK TRANSACTION
                                   -- END																																		
										
                            END		
												
                        IF @RejectionID = 0
                            BEGIN
                                IF @RejQty > 0
                                    BEGIN
                                        DECLARE @DefaultProcessID UNIQUEIDENTIFIER;
                                        SET @DefaultProcessID = ( SELECT
                                                              ProcessID
                                                              FROM
                                                              ProcessMaster
                                                              WHERE
                                                              IsDefault = 1
                                                              )
                                        INSERT  INTO RejectionMaster
                                                ( KnockoutID ,
                                                  CastingID ,
                                                  RejectQty ,
                                                  RejectedQtyWeight ,
                                                  Castcodeno ,
                                                  ReasonID ,
                                                  CreatedBy ,
                                                  CreatedOn ,
                                                  EntityId ,
                                                  Stage ,
                                                  RejectionDate ,
                                                  ProcessId ,
                                                  CastingStockProcessId,
                                                  ProductionBatchId,
                                                  PartId
                                                )
                                        VALUES  ( @KnockoutID ,
                                                  @CastingID ,
                                                  @RejQty ,
                                                  @RejectedQtyWeight ,
                                                  @CastCodeNo ,
                                                  @reasonid ,
                                                  @CreatedBy ,
                                                  @CreatedOn ,
                                                  @EntityId ,
                                                  1 ,
                                                  @RejectionDate ,
                                                  @DefaultProcessID ,
                                                  @DefaultProcessID,
                                                  @productionbatchid,
                                                  @CastingID                                                  
																
                                                )
                                        IF @@ERROR <> 0
                                            ROLLBACK TRANSACTION	
                                        IF EXISTS ( SELECT  Castcode
                                                    FROM    CastCodeRejBatch
                                                    WHERE   CastCode = @CastCodeNo )
                                            BEGIN
                                                UPDATE  CastCodeRejBatch
                                                SET     Qty = Qty + @RejQty
                                                WHERE   CastCode = @CastCodeNo
                                                        AND BatchID = @CastingStockBatchID
                                                IF @@ERROR <> 0
                                                    ROLLBACK TRANSACTION
                                            END	
                                        ELSE
                                            BEGIN	
                                                INSERT  INTO CastCodeRejBatch
                                                        ( BatchID ,
                                                          CastCode ,
                                                          Qty
                                                        )
                                                VALUES  ( @CastingStockBatchID ,
                                                          @CastCodeno ,
                                                          @RejQty
                                                        )
                                                IF @@ERROR <> 0
                                                    ROLLBACK TRANSACTION
                                            END	
                                    END
                            END																
                        ELSE
                            BEGIN
														
                                UPDATE  RejectionMaster
                                SET     RejectQty = RejectQty + @RejQty ,
                                        ReasonID = @reasonid
                                WHERE   RejectionID = @RejectionID
								IF @@ERROR <> 0
                                            ROLLBACK TRANSACTION
														
                                UPDATE  CastCodeRejBatch
                                SET     Qty = Qty + @RejQty
                                WHERE   CastCode = @CastCodeNo
                                        AND BatchID = @CastingStockBatchID
                                IF @@ERROR <> 0
                                            ROLLBACK TRANSACTION
                            END																																																																																																													
													
                        FETCH NEXT FROM CastCodeEntry INTO @CastCodeNo, @Qty,
                            @RejQty, @reasonid, @RejectedQtyWeight,
                            @RejectionID
                    END 

                CLOSE CastCodeEntry;
                DEALLOCATE CastCodeEntry;	
            END
        IF ( @Tag_Process = 'REJECTION' )
            BEGIN     
			
			
                DECLARE CastCode_Entry CURSOR
                FOR
                    SELECT  Node.value('(CastCode )[1]', 'varchar(50)') AS 'CastCode' ,
                            Node.value('(Qty )[1]', 'int') AS 'Qty' ,
                            Node.value('(Weight )[1]', 'float') AS 'Weight' ,
                            Node.value('(ReasonID )[1]', 'int') AS 'ReasonID'
                    FROM    @CastCode.nodes('/DocumentElement/CastCodeTable')
                            AS TEMPXML ( Node ) 

                OPEN CastCode_Entry;

                FETCH NEXT FROM CastCode_Entry INTO @CastCodeNo, @Qty,
                    @RejectedQtyWeight, @reasonID
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN													
                        INSERT  INTO CastCodeRejBatch
                                ( BatchID ,
                                  CastCode ,
                                  Qty
                                )
                        VALUES  ( @CastingStockRejBatchID ,
                                  @CastCodeno ,
                                  @qty
                                )
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION			
                        UPDATE  CastCodeHistory
                        SET     RejectionRejectQty = RejectionRejectQty + @Qty ,
                                IsRejected = 1
                        WHERE   CastCode = @CastCodeNo
                                AND Productionbatchid = @productionbatchid										
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION			
                        UPDATE  CastCodeBatch
                        SET     Qty = Qty - @Qty
                        WHERE   CastCode = @CastCodeNo
                                AND BatchID = @CastingStockBatchID
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION			
										--set @castcodestock = (select Qty from CastCodeBatch where CastCode=@CastCodeNo)
										--if(@castcodestock = 0)
										--BEGIN
										--	DELETE CastCodeBatch where CastCode=@CastCodeNo
										--	IF @@ERROR <> 0
										--	ROLLBACK TRANSACTION																																			
										--END
										
                        INSERT  INTO RejectionMaster
                                ( KnockoutID ,
                                  CastingID ,
                                  RejectQty ,
                                  RejectedQtyWeight ,
                                  ReasonID ,
                                  Stage ,
                                  CastcodeNo ,
                                  CreatedBY ,
                                  CreatedOn ,
                                  EntityID ,
                                  RejectionDate ,
                                  ProcessId ,
                                  CastingStockProcessId ,
                                  JOID,
                                  ProductionBatchId,
                                  PartId
                                )
                        VALUES  ( @KnockoutID ,
                                  @CastingID ,
                                  @Qty ,
                                  @RejectedQtyWeight ,
                                  @ReasonID ,
                                  2 ,
                                  @CastCodeNo ,
                                  @CreatedBY ,
                                  @CreatedOn ,
                                  @EntityID ,
                                  @RejectionDate ,
                                  @InhouseProcessId ,
                                  @CastingStockProcessId ,
                                  @JOID,
                                  @productionbatchid,
                                  @CastingID
                                )
					
                        IF @@Error <> 0
                            ROLLBACK TRANSACTION
										
                        FETCH NEXT FROM CastCode_Entry INTO @CastCodeNo, @Qty,
                            @RejectedQtyWeight, @reasonID
                    END 

                CLOSE CastCode_Entry;
                DEALLOCATE CastCode_Entry;	
					
            END		
		      
        IF ( @Tag_Process = 'MANAGE REJ CUST'
            -- AND @Process = 'Insert'
           )
            BEGIN     
			
			
                --DECLARE CastCode_Entry CURSOR
                --FOR
                --    SELECT  Node.value('(CastCode )[1]', 'varchar(50)') AS 'CastCode' ,
                --            Node.value('(OKQty )[1]', 'int') AS 'OKQty'
                --    FROM    @CastCode.nodes('/DocumentElement/CastCodeTable') AS TEMPXML ( Node ) 

                --OPEN CastCode_Entry;

                --FETCH NEXT FROM CastCode_Entry INTO @CastCodeNo, @Qty
                --WHILE ( @@FETCH_STATUS = 0 )
                --    BEGIN		
						
																		
                --        IF NOT EXISTS ( SELECT  Castcode
                --                        FROM    CastCodeHistory
                --                        WHERE   IsDeleted = 0
                --                                AND CastCode = @CastCodeno )
                --            BEGIN														
                --                INSERT  INTO CastCodeBatch
                --                        ( BatchID ,
                --                          CastCode ,
                --                          Qty
                --                        )
                --                VALUES  ( @CastingStockBatchID ,
                --                          @CastCodeno ,
                --                          @qty
                --                        )
                --                IF @@ERROR <> 0
                --                    ROLLBACK TRANSACTION

                --                INSERT  INTO CastCodeHistory
                --                        ( ProductionBatchID ,
                --                          CastingID ,
                --                          CastCode ,
                --                          okQty ,
                --                          AcceptedRejected
                --                        )
                --                VALUES  ( @productionbatchid ,
                --                          @CastingID ,
                --                          @CastCodeNo ,
                --                          @Qty ,
                --                          1
                --                        )
                --                IF @@ERROR <> 0
                --                    ROLLBACK TRANSACTION																																	
												
                --            END																																				
                --        ELSE
                --            BEGIN
												
                --                UPDATE  CastCodeBatch
                --                SET     Qty = Qty + @Qty
                --                WHERE   CastCode = @CastCodeNo
                --                        AND BatchID = @CastingStockBatchID
                --                IF @@ERROR <> 0
                --                    ROLLBACK TRANSACTION
													
                --                UPDATE  CastCodeHistory
                --                SET     InwardOKQty = InwardOKQty + @Qty
                --                WHERE   CastCode = @CastCodeNo
                --                        AND ProductionbatchID = @productionbatchid
                --                IF @@ERROR <> 0
                --                    ROLLBACK TRANSACTION
                --            END
								
								
                --        FETCH NEXT FROM CastCode_Entry INTO @CastCodeNo, @Qty
                --    END 

                --CLOSE CastCode_Entry;
                --DEALLOCATE CastCode_Entry;	
					
                IF NOT EXISTS ( SELECT  Castcode
                                FROM    CastCodeHistory
                                WHERE   IsDeleted = 0
                                        AND CastCode = @CastCodeno )
                    BEGIN
                        INSERT  INTO CastCodeBatch
                                ( BatchID ,
                                  CastCode ,
                                  Qty
                                )
                        VALUES  ( @CastingStockBatchID ,
                                  @CastCodeno ,
                                  @OkQty
                                )
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION

                        INSERT  INTO CastCodeHistory
                                ( ProductionBatchID ,
                                  CastingID ,
                                  CastCode ,
                                  okQty ,
                                  AcceptedRejected
                                )
                        VALUES  ( @productionbatchid ,
                                  @CastingID ,
                                  @CastCodeNo ,
                                  @OkQty ,
                                  1
                                )
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION																																	
												
                    END																																				
                ELSE
                    BEGIN
												
                        UPDATE  CastCodeBatch
                        SET     Qty = Qty + @OkQty
                        WHERE   CastCode = @CastCodeNo
                                AND BatchID = @CastingStockBatchID
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
													
                        UPDATE  CastCodeHistory
                        SET     InwardOKQty = InwardOKQty + @OkQty
                        WHERE   CastCode = @CastCodeNo
                                AND ProductionbatchID = @productionbatchid
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                    END
            END
		      
        COMMIT TRANSACTION

    END
GO
