USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Core_Transfer_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE  PROCEDURE [dbo].[Core_Transfer_Register]
  @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL ,  
	  @SandTypeId INT = NULL ,   
	  @StartDate DATETIME = NULL ,        
    @EndDate DATETIME = NULL ,        
 @TransferBy INT = 0,
    @EntityId INT = 0   , 
    @PatternId UNIQUEIDENTIFIER = NULL ,        
    @CoreTransfer_Id INT = 0 ,
    @DateFrom DATETIME = NULL ,      
    @CastingID UNIQUEIDENTIFIER = NULL ,      
    @CastingName VARCHAR(100) = NULL ,       
    @DateTo DATETIME = NULL ,      
     @MoldTransfer_Id INT = 0 ,
    @IsReceived bit = 1 
  ,@CoreId UNIQUEIDENTIFIER = null
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
		IF (@parameter = 1)  -- Get Core Transfer Data
        BEGIN  
			   SELECT TOP ( @PageSize ) *   
			   FROM (  
				 SELECT ROW_NUMBER() OVER(ORDER BY CoreTransferTrans_Id DESC) AS RowNo  
				   , COUNT(CoreTransferTrans_Id) OVER() TotalRecords  
				   , *   
				 FROM (  
				   select distinct CONVERT(VARCHAR(11), mt.ChallanDate, 106) AS ChallanDate  
						, mt.ChallanNo,    mts.Quantity           
						, mt.CoreTransfer_Id , mts.CoreTransferTrans_Id ,mit.CoreId 
						,mt.ToPlantId ,cb.CoreBoxName, mts.IsReceived ,c.CastingName,c.CastingCode
						, FromPlantTbl.PlantCode AS FromPlant
						, ToPlantTbl.PlantCode AS ToPlant
						,CAST(mt.ModifiedOn as Nvarchar(50)) as ModifiedDateTime
				   from CoreTransfer AS mt  
					 INNER JOIN CoreTransferTrans AS mts ON mts.CoreTransfer_Id = mt.CoreTransfer_Id
					 INNER JOIN CoreBoxDetails AS cb on cb.CoreBoxID = mts.CoreId
					 INNER JOIN CoreBoxMaster CM ON CM.CoreMasterID =cb.CoreMasterID
					 INNER JOIN CoreInventoryDetail AS mit ON mit.CoreId = cb.CoreBoxID  
					 INNER JOIN CastingMaster	AS c on c.CastingId = mts.CastingId
					 LEFT JOIN PlantMaster AS FromPlantTbl ON FromPlantTbl.PlantId = mt.FromPlantId
                     LEFT JOIN PlantMaster AS ToPlantTbl ON ToPlantTbl.PlantId = mt.ToPlantId
				   WHERE   mt.IsDeleted = 0  and mts.IsDeleted = 0
					 AND mt.EntityId =@EntityId  
					 AND ( ISNULL(@PlantIdString,'') = ''  
					   OR mt.FromPlantId IN (  
					SELECT Item FROM @Plant
					   )  
					 )  
					 AND (ISNULL(@CoreTransfer_Id, '') = '' OR mt.CoreTransfer_Id = @CoreTransfer_Id)  
					-- AND (ISNULL(@SandTypeId, 0) = 0 OR CM.SandTypeId = @SandTypeId)  
					 AND (@CoreId IS NULL OR Cb.CoreBoxID = @CoreId)  
					 AND (@CastingID IS NULL OR c.CastingId = @CastingID)  
				  --  AND (ISNULL(@TransferBy, 0) = 0 OR mt.TransferBy = @TransferBy)  
					 AND ( @DateFrom IS NULL OR @DateTo IS NULL  
					  OR CAST(mt.ChallanDate AS DATE) BETWEEN CAST(@DateFrom AS DATE) AND CAST(@DateTo AS DATE)  
					 )   AND ( @CastingName IS NULL      
                              OR c.CastingName = @CastingName      
                            )  
                     AND (@IsReceived = 1 OR mts.IsReceived = @IsReceived)         
			           
				 ) AS Final  
			   ) AS ResponseTable  
			   WHERE RowNo > ( @PageNumber * @PageSize )  
        END  
        
        	IF(@parameter = 2)	--Core Trnasfer Register Donwload Report Data
			BEGIN
				SELECT DISTINCT CONVERT(VARCHAR(11), mt.ChallanDate, 106) AS ChallanDate  
						, mt.ChallanNo
						, mt.CoreTransfer_Id AS Id
						, mts.Quantity           
						, ed.EmployeeName + '(' + ed.EmployeeCode + ')' AS TransferBy
						, cb.CoreBoxName AS SandType
						, c.CastingCode	AS PatternCode
						, c.CastingName
						, mt.Remarks
						, FromPlantTbl.PlantCode AS FromPlant
						, ToPlantTbl.PlantCode AS ToPlant
						, mts.CoreTransferTrans_Id
				   from CoreTransfer AS mt  
					 INNER JOIN CoreTransferTrans AS mts ON mts.CoreTransfer_Id = mt.CoreTransfer_Id
					 INNER JOIN EmployeeDetails AS ed ON ed.EmployeeId = mt.TransferBy
					 INNER JOIN CoreBoxDetails AS cb on cb.CoreBoxID = mts.CoreId
					 INNER JOIN CastingMaster	AS c on c.CastingId = mts.CastingId
					 LEFT JOIN PlantMaster AS FromPlantTbl ON FromPlantTbl.PlantId = mt.FromPlantId
                     LEFT JOIN PlantMaster AS ToPlantTbl ON ToPlantTbl.PlantId = mt.ToPlantId
				   WHERE   mt.IsDeleted = 0  and mts.IsDeleted = 0
					 AND mt.EntityId =@EntityId  
					 AND ( ISNULL(@PlantIdString,'') = ''  
					   OR mt.FromPlantId IN (  
						SELECT Item FROM @Plant  
					   )  
					 )  
					 AND (ISNULL(@MoldTransfer_Id, 0) = 0 OR mt.CoreTransfer_Id = @MoldTransfer_Id)  
					 AND (@CoreId IS NULL OR Cb.CoreBoxID = @CoreId)  
					 AND (@CastingID IS NULL OR c.CastingId = @CastingID)   
					 AND ( @StartDate IS NULL OR @EndDate IS NULL  
							OR CAST(mt.ChallanDate AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)  
						 )   
					 AND ( @CastingName IS NULL      
                              OR c.CastingName = @CastingName      
                         )
                    ORDER BY mts.CoreTransferTrans_Id DESC
			END	
END
GO
