USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeLeavingDetails]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_EmployeeLeavingDetails]     
    @DeletedBY INT = 0,   
	@EntityId int = 0,	
	@CreatedBy INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL , 
    @DeletedOn datetime= NULL,
    @IsDeleted Bit = 0 ,
    @Parameter INT = 0,
    @IsInitialExit bit = 0,
	@AllowanceLeavingId int = 0,
	@DeductionLeavingId int = 0 ,
	@AllowanceLeavingType tinyint = 0 ,
	@DeductionLeavingType tinyint = 0 ,
	@DeductionAmountLeaving float =0,
	@AllowanceAmountLeaving float =0,
	@EmployeeId int=0,
	@FinalSettlementDate datetime = null,
	@InitialExitDate datetime = null,
	@Payrundate datetime = null,
	@EarningId int = 0,
   @IsAllowance int = 0 ,
   @AllowanceId int = 0
   
     
    
   
AS
   BEGIN  
   
        IF ( @Parameter = 1 )	-- Save Data in EmpOtherDeduction
            BEGIN
            BEGIN TRANSACTION
            BEGIN TRY
      	
              	if((@DeductionAmountLeaving > 0))
						Begin
						INSERT INTO [EmpOtherDeduction] -- Deduction Entry in EmpOtherDeduction
									   ([EmployeeId]
									   ,[Type]
									   ,[Amount]
									   ,[ApplicableDate]
									   ,[IsActive]
									   ,[CreatedBy]
									   ,[CreatedOn]
									   ,[IsFromExited]
									   ,[EarningId]
									   ,[IsAllowance]
									   )
								 VALUES
									   (@EmployeeId
									   ,0
									   ,@DeductionAmountLeaving
									   ,@InitialExitDate
									   ,1
									   ,@CreatedBy
									   ,GETDATE()
										,1
										,@EarningId
										,0)
							 End
							 
					if((@AllowanceAmountLeaving > 0))
						Begin
						INSERT INTO [EmpOtherDeduction] -- Allowance Entry in EmpOtherDeduction
									   ([EmployeeId]
									   ,[Type]
									   ,[Amount]
									   ,[ApplicableDate]
									   ,[IsActive]
									   ,[CreatedBy]
									   ,[CreatedOn]
									   ,[IsFromExited]
									   ,[EarningId]
									    ,[IsAllowance]
									   )
								 VALUES
									   (@EmployeeId
									   ,0
									   ,@AllowanceAmountLeaving
									   ,@InitialExitDate
									   ,1
									   ,@CreatedBy
									   ,GETDATE()
										,1
										,@AllowanceId
										,1)
							 End
		   
					if(@IsInitialExit = 1)
					Begin
					update	EmployeeDetails 
					set		InitialExitDate = @InitialExitDate,
							FinalSettlementDate = @FinalSettlementDate ,
							IsInitialExit = 1
					where   EmployeeId = @EmployeeId
					End
				
               END TRY 
				 BEGIN Catch
						IF @@ERROR <> 0
						BEGIN
						 ROLLBACK TRANSACTION
			 				 return -1;
						END	
				END Catch
				  COMMIT TRANSACTION                
						RETURN 1 ;
            END     
            END   
              
     
	    
	IF @Parameter = 2
	BEGIN
		Select IsInitialExit 
		from EmployeeDetails 
		where 	
			 EmployeeDetails.IsDelete = 0
			and EntityId = @EntityId
			and isActive = 1 
		
	END
	
		IF @Parameter = 3
			BEGIN	
										
			select top 1   DATEADD(DD,-(DAY(PayOutMaster.PayOutMonth)), DATEADD(MM, 1, PayOutMaster.PayOutMonth)) as PayOutMonth,		
					CAST (FinalSettlementDate AS DATE) as FinalSettlementDate			
				
			from PayOutMaster 
			inner join PayOutTrans on PayOutMaster.PayOutId = PayOutTrans.PayOutId 
			right join EmployeeDetails on PayOutTrans.EmployeeId = EmployeeDetails.EmployeeId
			where Isdeleted =0 and PayOutTrans.EmployeeId = @EmployeeId	
			and PayOutMaster.EntityId = @EntityId order by PayOutMaster.PayOutId desc
			 
				
			END
        
        	IF @Parameter = 4
			BEGIN
			update EmpOtherDeduction 
			set 
					IsActive=0,
					DeletedBy=@DeletedBy,
					DeletedOn =GetDate() 
					where EmployeeId=@EmployeeId 
				
			update EmployeeDetails 
			set 
					IsInitialExit=0,
					InitialExitDate = Null,
					FinalsettlementDate = Null
					where EmployeeId=@EmployeeId 	
			END
       
	IF @Parameter = 5
	Begin
		
			Select  EmployeeDetails.EmployeeId,
					EmployeeCode, 
					EmployeeName + ' ' + isnull(LastName,'') as EmployeeName ,
					[EmpAssetMapping].PurchaseItemId,
					PurchaseItemMaster.ItemName + '(' + PurchaseItemMaster.ItemCode + ')' as ItemName
					
			from  EmployeeDetails
			left join  [EmpAssetMapping] on EmployeeDetails.EmployeeId = [EmpAssetMapping].EmployeeId
			and [EmpAssetMapping].IsDeleted = 0 
			left join PurchaseItemMaster on  [EmpAssetMapping].PurchaseItemId = PurchaseItemMaster.PurchaseItemId 
			and IsEquipment = 1 
			where
				 EmployeeDetails.IsDelete = 0
				and   EmployeeDetails.EntityId = @EntityId				
				and (@EmployeeId =0 or EmployeeDetails.EmployeeId= @EmployeeId)
		     	and EmployeeDetails.isActive = 1 
			order by EmployeeName
		
		End
  



     

     

GO
