USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[RejectionSummary]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- EXEC RejectionSummary '1',1,0, 1,0,'2020-01-01','2024-01-01',0,null
 CREATE  PROCEDURE [dbo].[RejectionSummary]
 (
	@PlantIdString VARCHAR(MAX) = null ,  
    @EntityId INT = 0 , 
    @IsProductionDate BIT = 0 ,      
    @Parameter INT =null , 
    @MetalId BIGINT = 0 ,            
    @StartDate DATETIME = null ,        
    @EndDate DATETIME = null  , 
    @batchid BIGINT = 0 ,       
    @CastingId UNIQUEIDENTIFIER = NULL ,        
    @MetalType VARCHAR(100) = NULL ,          
    @HeatCode VARCHAR(50) = NULL        ,
    @ComponentId uniqueidentifier = NULL
)
AS
BEGIN
	SET NOCOUNT ON;
	SET FMTONLY OFF;
	
    declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End

	DECLARE @IsInHouseRej BIT = 1
	IF(@Parameter = 1)
	BEGIN
		SET @IsInHouseRej = 1
	END
	ELSE IF(@Parameter = 2)
	BEGIN
		SET @IsInHouseRej = 0
	END

	--IF @Parameter = 1
    BEGIN
		SET @StartDate = CONVERT(datetime, @StartDate, 103);
		SET @EndDate = CONVERT(datetime, @EndDate, 103);
		-----------------------------------------------------------------------------------------
		SELECT	FnlTbl.BatchNo AS BatchNo, FnlTbl.CastingName, FnlTbl.CastingCode, 
				ISNULL(knckt.prodqty, 0) AS productionqty, FnlTbl.RejQty, FnlTbl.CastingID
		FROM	(
			SELECT Final.BatchNo AS BatchNo, CastMst.CastingName, CastMst.CastingCode, Final.RejQty, Final.CastingID, Final.ProductionBatchID
			FROM (
				SELECT	ProductionBatchID, CastFnlRej.CastingID, batchno AS BatchNo, SUM(ISNULL(BatchRejQty, 0)) AS RejQty
				FROM	(
					SELECT	InrCastFnlRej.ProductionBatchID, InrCastFnlRej.CastingID, --InrCastFnlRej.RejectionDate, 
							ISNULL(InrCastFnlRej.RejQty, 0.00) AS BatchRejQty
					FROM	dbo.CastingFinalRejection(NOLOCK) AS InrCastFnlRej
					WHERE	InrCastFnlRej.IsInHouseRej = @IsInHouseRej AND InrCastFnlRej.RejQty > 0
							AND (InrCastFnlRej.EntityID = @EntityID)
							AND (@CastingId IS NULL OR InrCastFnlRej.castingid = @CastingId)
							AND (@PlantIdString IS NULL OR @PlantIdString = '' OR InrCastFnlRej.Plantid IN (SELECT Item FROM @Plant))
							AND	((@IsProductionDate = 1) 
									OR (@IsProductionDate = 0 AND InrCastFnlRej.RejectionDate BETWEEN (@StartDate) AND (@EndDate))
								)
				) AS CastFnlRej
						INNER JOIN dbo.ProductionBatch(NOLOCK) AS ProdBatch ON ProdBatch.batchID = CastFnlRej.ProductionBatchID
										AND ProdBatch.IsDeleted = 0 
										AND (@MetalId = 0 OR ProdBatch.MetalID = @MetalId)
										AND (@BatchId = 0 OR ProdBatch.batchID = @BatchId)
										AND (@HeatCode IS NULL 
												OR ProdBatch.batchID IN (
														SELECT productionBatchId FROM dbo.CastingHeatCode(NOLOCK) WHERE HeatCode = @HeatCode)
										)
						INNER JOIN dbo.MetalMaster(NOLOCK) AS MetMst ON MetMst.MetalId = ProdBatch.MetalID
										AND (@MetalType IS NULL OR MetMst.MetalType = @MetalType)
				WHERE	((@IsProductionDate = 1 AND ProdBatch.ProductionDate BETWEEN (@StartDate) AND (@EndDate))
							OR (@IsProductionDate = 0)
						)
				GROUP BY CastFnlRej.ProductionBatchID, CastFnlRej.CastingId, ProdBatch.batchno
			) AS Final
				INNER JOIN dbo.CastingMaster(NOLOCK) AS CastMst ON CastMst.CastingId = Final.CastingID
							AND (@ComponentId IS NULL OR CastMst.ComponentId  = @ComponentId)
		) AS FnlTbl
			LEFT JOIN (
				SELECT	BatchId, CastingID, SUM(ISNULL(productionqty, 0)) AS prodqty 
				FROM	dbo.knockout(NOLOCK) WHERE IsDeleted = 0 
				GROUP BY BatchId, CastingID
			) AS knckt ON knckt.batchid = FnlTbl.ProductionBatchID
						AND knckt.castingid = FnlTbl.CastingID
		ORDER BY  CastingName, CastingCode
		OPTION(RECOMPILE)
		-----------------------------------------------------------------------------------------
		SELECT	FinalTbl.batchno AS BatchNo, FinalTbl.CastingName, FinalTbl.CastingCode, 
				ISNULL(Knckt.prodqty, 0) AS productionqty, FinalTbl.RejQty AS RejQty,
				RsnMst.Reason, FinalTbl.CastingID
		FROM	(
			SELECT	CastRej_ProdBtchTbl.ProductionBatchID, CastRej_ProdBtchTbl.batchno, CastRej_ProdBtchTbl.CastingId, 
					CastRej_ProdBtchTbl.RejQty, CastMst.CastingName, CastMst.CastingCode, CastRej_ProdBtchTbl.ReasonID
			FROM (
					SELECT	CastFnlRej.ProductionBatchID, CastFnlRej.CastingId, ProdBatch.batchno, ReasonID, 
							SUM(ISNULL(CastFnlRej.BatchRejQty, 0)) AS RejQty
					FROM (
							SELECT	InrCastFnlRej.ProductionBatchID, InrCastFnlRej.CastingId, --InrCastFnlRej.RejectionDate,
									InrCastFnlRej.RejQty AS BatchRejQty, InrCastFnlRej.ReasonID
							FROM	dbo.CastingFinalRejection(NOLOCK) AS InrCastFnlRej
							WHERE	InrCastFnlRej.IsInHouseRej = @IsInHouseRej AND InrCastFnlRej.RejQty > 0
									AND (@CastingId IS NULL OR InrCastFnlRej.CastingId = @CastingId)
									AND (InrCastFnlRej.EntityID = @EntityID)
									AND (@PlantIdString IS NULL OR @PlantIdString = '' OR InrCastFnlRej.Plantid IN (SELECT Item FROM @Plant))
									AND ((@IsProductionDate = 1)
										OR (@IsProductionDate = 0 AND InrCastFnlRej.RejectionDate BETWEEN (@StartDate) AND (@EndDate))
									)
					) AS CastFnlRej
							INNER JOIN dbo.ProductionBatch(NOLOCK) AS ProdBatch ON ProdBatch.batchID = CastFnlRej.ProductionBatchID
											AND ProdBatch.IsDeleted = 0
											AND (@MetalId = 0 OR ProdBatch.MetalID = @MetalId)
											AND (@BatchId = 0 OR ProdBatch.batchID = @BatchId)
											AND (@HeatCode IS NULL 
													OR ProdBatch.batchID IN (
														SELECT productionBatchId FROM dbo.CastingHeatCode(NOLOCK) WHERE HeatCode = @HeatCode)
											)
							INNER JOIN dbo.MetalMaster(NOLOCK) AS MetMst ON MetMst.MetalId = ProdBatch.MetalID
											AND (@MetalType IS NULL OR MetMst.MetalType = @MetalType)
					WHERE	((@IsProductionDate = 1 AND ProdBatch.ProductionDate BETWEEN (@StartDate) AND (@EndDate))
								OR (@IsProductionDate = 0)
							)
					GROUP BY CastFnlRej.ProductionBatchID, CastFnlRej.CastingId, ProdBatch.batchno, ReasonID
			) AS CastRej_ProdBtchTbl
					INNER JOIN dbo.CastingMaster(NOLOCK) AS CastMst ON CastMst.CastingId = CastRej_ProdBtchTbl.CastingID
							AND (@ComponentId IS NULL OR CastMst.ComponentId = @ComponentId)
		) AS FinalTbl
				LEFT JOIN (
					SELECT	BatchId, CastingID, SUM(ISNULL(productionqty, 0)) AS prodqty 
					FROM	dbo.knockout(NOLOCK) WHERE IsDeleted = 0 
					GROUP BY BatchId, CastingID
				) AS Knckt ON Knckt.batchid = FinalTbl.ProductionBatchID
						AND Knckt.castingid = FinalTbl.CastingID
				LEFT JOIN dbo.ReasonMaster(NOLOCK) AS RsnMst ON RsnMst.ReasonID = FinalTbl.ReasonID
		ORDER BY CastingName, CastingCode
		OPTION(RECOMPILE)
		-----------------------------------------------------------------------------------------
		SELECT	FinalTbl.batchno AS BatchNo, FinalTbl.CastingName, FinalTbl.CastingCode, ISNULL(Knckt.prodqty, 0) AS productionqty,
				FinalTbl.RejQty AS RejQty, FinalTbl.CastingID, ISNULL(EmpDtls.EmployeeName, '') AS OperatorName
		FROM	(
			SELECT	CastRej_ProdTbl.CastingId, CastRej_ProdTbl.BatchNo, CastRej_ProdTbl.BatchTtlRejQty AS RejQty,
					CastMst.CastingName, CastMst.CastingCode, CastRej_ProdTbl.BatchId
			FROM	(
				SELECT	CastFnlRej.CastingId, ProdBtch.BatchId, ProdBtch.BatchNo, SUM(ISNULL(RejQty, 0)) AS BatchTtlRejQty
				FROM	(
					SELECT	InrCastFnlRej.CastingId, InrCastFnlRej.ProductionBatchId, --InrCastFnlRej.RejectionDate, 
							ISNULL(InrCastFnlRej.RejQty, 0) AS RejQty
					FROM	dbo.CastingFinalRejection(NOLOCK) AS InrCastFnlRej
					WHERE	InrCastFnlRej.IsInHouseRej = @IsInHouseRej AND InrCastFnlRej.RejQty > 0 
							AND (@CastingId IS NULL OR InrCastFnlRej.CastingId = @CastingId)
							AND (InrCastFnlRej.EntityID = @EntityID) 
							AND (@PlantIdString IS NULL OR @PlantIdString = '' OR InrCastFnlRej.Plantid IN (SELECT Item FROM @Plant))
							AND ((@IsProductionDate = 1)
								OR (@IsProductionDate = 0 AND InrCastFnlRej.RejectionDate BETWEEN (@StartDate) AND (@EndDate))
							) 
				) AS CastFnlRej
						INNER JOIN dbo.ProductionBatch(NOLOCK) AS ProdBtch ON ProdBtch.batchID = CastFnlRej.ProductionBatchID
										AND ProdBtch.IsDeleted = 0
										AND (@MetalId = 0 OR ProdBtch.MetalID = @MetalId)
										AND (@BatchId = 0 OR ProdBtch.batchID = @BatchId)
										AND (@HeatCode IS NULL 
											OR ProdBtch.batchID IN (
												SELECT productionBatchId FROM CastingHeatCode(NOLOCK) WHERE HeatCode = @HeatCode)
										)
						INNER JOIN MetalMaster(NOLOCK) AS MetMst ON MetMst.MetalId = ProdBtch.MetalID
										AND (@MetalType IS NULL OR MetMst.MetalType = @MetalType)
				WHERE	((@IsProductionDate = 1 AND ProdBtch.ProductionDate BETWEEN (@StartDate) AND (@EndDate))
							OR (@IsProductionDate = 0)
						) 
				GROUP BY CastFnlRej.CastingId, ProdBtch.BatchId, ProdBtch.BatchNo
			) AS CastRej_ProdTbl
					INNER JOIN dbo.CastingMaster(NOLOCK) AS CastMst ON CastMst.CastingId = CastRej_ProdTbl.CastingID
			WHERE (@ComponentId IS NULL OR CastMst.ComponentId = @ComponentId)
		) AS FinalTbl
			LEFT JOIN (
				SELECT	BatchId, CastingID, operatorID, SUM(ISNULL(productionqty, 0)) AS prodqty 
				FROM	dbo.knockout(NOLOCK) WHERE IsDeleted = 0 
				GROUP BY BatchId, CastingID, operatorID
			) AS Knckt ON Knckt.batchid = FinalTbl.BatchId
						AND Knckt.castingid = FinalTbl.CastingID 
			LEFT JOIN dbo.EmployeeDetails(NOLOCK) AS EmpDtls ON EmpDtls.EmployeeId = Knckt.operatorID 
		ORDER BY CastingName, CastingCode
		OPTION(RECOMPILE)
		---------------------------------------------------------------------
		SELECT	ProdBtch.batchID, ProdBtch.ProductionDate, ProdBtch.BatchType
		INTO	#ProdMtlDtl
		FROM	dbo.ProductionBatch(NOLOCK) AS ProdBtch
				INNER JOIN MetalMaster(NOLOCK) AS MetMst ON MetMst.MetalId = ProdBtch.MetalID
		WHERE	ProdBtch.IsDeleted = 0
				AND (@MetalId = 0 OR ProdBtch.MetalID = @MetalId)
				AND (@MetalType IS NULL OR MetMst.MetalType = @MetalType)
				AND (ProdBtch.EntityID = @EntityID) 
				AND (@BatchId = 0 OR ProdBtch.batchID = @BatchId)
				AND (@HeatCode IS NULL OR ProdBtch.batchID IN (SELECT productionBatchId FROM CastingHeatCode WHERE HeatCode = @HeatCode))

		SELECT	* 
		FROM	(
					SELECT	ISNULL(SUM(ISNULL(productionqty, 0)), 0) AS Productionqty
					FROM	#ProdMtlDtl AS ProdMtlDtl
							INNER JOIN dbo.knockout(NOLOCK) AS Knckt ON Knckt.batchid = ProdMtlDtl.batchID
										AND Knckt.IsDeleted = 0 
					WHERE	ProdMtlDtl.BatchType = 0
							AND ProdMtlDtl.ProductionDate BETWEEN @StartDate AND @EndDate
							AND (@CastingId IS NULL OR Knckt.CastingId = @CastingId)
				) AS Productionqty,

				(	SELECT	ISNULL(SUM(Knckt.productionqty * Knckt.perpcweight), 0) AS TotalWeight
					FROM	#ProdMtlDtl AS ProdMtlDtl
							INNER JOIN dbo.knockout(NOLOCK) AS Knckt ON Knckt.batchid = ProdMtlDtl.batchID
										AND Knckt.IsDeleted = 0
					WHERE	ProdMtlDtl.BatchType = 0
							AND ProdMtlDtl.ProductionDate BETWEEN @StartDate AND @EndDate
							AND (@CastingId IS NULL OR Knckt.CastingId = @CastingId)
				) AS ProductionWeight,
	
				(	SELECT SUM(RejQty) AS RejQty
					FROM (
						SELECT	InrCastFnlRej.ProductionBatchId, ISNULL(InrCastFnlRej.RejQty, 0) AS RejQty--, InrCastFnlRej.RejectionDate
						FROM	dbo.CastingFinalRejection(NOLOCK) AS InrCastFnlRej
						WHERE	InrCastFnlRej.IsInHouseRej = @IsInHouseRej AND InrCastFnlRej.RejQty > 0
								AND (@CastingId IS NULL OR InrCastFnlRej.CastingId = @CastingId)
								AND (InrCastFnlRej.EntityID = @EntityID)
								AND (@PlantIdString IS NULL OR @PlantIdString = '' OR InrCastFnlRej.Plantid IN (SELECT Item FROM @Plant))
								AND ((@IsProductionDate = 1)
									OR (@IsProductionDate = 0 AND InrCastFnlRej.RejectionDate BETWEEN (@StartDate) AND (@EndDate))
								)
					) AS CastFnlRej
							INNER JOIN #ProdMtlDtl AS ProdMtlDtl ON ProdMtlDtl.batchID = CastFnlRej.ProductionBatchID
					WHERE	((@IsProductionDate = 1 AND ProdMtlDtl.ProductionDate BETWEEN (@StartDate) AND (@EndDate))
								OR (@IsProductionDate = 0)
							)
				) AS RejQty,

				(	SELECT	ISNULL(SUM(ISNULL(CastFnlRej.CastFnlRejWt, 0)), 0) AS RejWeight 
					FROM	(
						SELECT	InrCastFnlRej.ProductionBatchID, ISNULL(InrCastFnlRej.[Weight], 0) AS CastFnlRejWt--, InrCastFnlRej.RejectionDate
						FROM	dbo.CastingFinalRejection(NOLOCK) AS InrCastFnlRej
						WHERE	InrCastFnlRej.IsInHouseRej = @IsInHouseRej AND InrCastFnlRej.RejQty > 0
								AND (@CastingId IS NULL OR InrCastFnlRej.CastingId = @CastingId)
								AND (InrCastFnlRej.EntityId = @EntityID)
								AND (@PlantIdString IS NULL OR @PlantIdString = '' OR InrCastFnlRej.PlantId IN (SELECT Item FROM @Plant))
								AND ((@IsProductionDate = 1)
									OR (@IsProductionDate = 0 AND InrCastFnlRej.RejectionDate BETWEEN (@StartDate) AND (@EndDate))
								)
					) AS CastFnlRej
							INNER JOIN #ProdMtlDtl AS ProdMtlDtl ON ProdMtlDtl.batchID = CastFnlRej.ProductionBatchID
					WHERE	((@IsProductionDate = 1 AND ProdMtlDtl.ProductionDate BETWEEN (@StartDate) AND (@EndDate))
								OR (@IsProductionDate = 0)
							)
				) AS RejWeight
				OPTION(RECOMPILE)
		DROP TABLE #ProdMtlDtl
    END
END
GO
