USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_DPInspction]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Update Author:<Megha>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DPInspction]
    @Parameter INT = 0 ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @MetalID INT = 0 ,
    @ProcessID UNIQUEIDENTIFIER = NULL ,
    @ProcessIDFrom UNIQUEIDENTIFIER = NULL,
    @ContractorID INT = 0 ,
    @MachineId UNIQUEIDENTIFIER = NULL ,
    @StartTime DATETIME = NULL ,
    @EndTime DATETIME = NULL ,
    @ProcessTransfer_Date DATETIME = NULL ,
    @BatchXMl AS XML = NULL ,
    @EntityID INT = 0 ,
    @Transferqty INT = 0 ,
    @UserID INT = 0 ,
    @DPNo VARCHAR(6) = NULL ,
    @EntryNo VARCHAR(20) = NULL ,
    @DPTCTransID INT = 0 ,
    @DispatchTransId INT = 0 ,
    @DwgNo VARCHAR(100) = NULL ,
    @DPINo VARCHAR(MAX) = NULL ,
    @HeatID INT = 0 ,
    @Qty INT = 0 ,
    @Result INT = 0 ,
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    @DPTCId INT = 0 ,
    @TC_Item AS XML = NULL ,
    @IsHeatwise INT = 0 ,
    @DPTCNo VARCHAR(100) = NULL ,
    @DPTCDate DATETIME = NULL ,
    @InvoiceID INT = 0 ,
    @GradeId INT = 0 ,
    @DispatchID BIGINT = 0 ,
    @SurfaceCond VARCHAR(100) = NULL ,
    @RefStd VARCHAR(100) = NULL ,
    @AcceptanceStd VARCHAR(100) = NULL ,
    @SurfaceTemp VARCHAR(100) = NULL ,
    @ModeOfPenetrant VARCHAR(100) = NULL ,
	------------------------
    @Standard VARCHAR(100) = NULL ,
	------------------------------
    @TypeOFDeveloper VARCHAR(100) = NULL ,
    @TypeOfCleaner VARCHAR(100) = NULL ,
    @TypeOfPenetrant VARCHAR(100) = NULL ,
    @PenetrateDwellTime VARCHAR(100) = NULL ,
    @DeveloperDwellTime VARCHAR(100) = NULL ,
    @PenetrantRemoval VARCHAR(100) = NULL ,
    @Remarks VARCHAR(MAX) = NULL ,
    @CreatedBy INT = 0 ,
    @CastCodeEnable INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL ,
    @TotalRecords INT = 0 ,
    @InitialLoad INT = 0 ,
    @PageNumber INT = 0 ,
    @PageSize INT = 0 ,
    @DPID UNIQUEIDENTIFIER = NULL ,
    @DeletedBy INT = 0 ,
    @DeletedOn DATETIME = NULL
   ---------------------------------
    ,
    @DP_ID UNIQUEIDENTIFIER = NULL
    ----------------------------------
    ,
    @Surface_condition INT = 0 ,
    @Ref_std INT = 0 ,
    @Aceptance_std INT = 0 ,
    @Surface_Temp INT = 0 ,
    @Mode_of_penetrant INT = 0 ,
    @_Standard INT = 0 ,
    @Type_of_developer INT = 0 ,
    @Type_of_cleaner INT = 0 ,
    @Type_of_penetrant INT = 0 ,
    @penetrant_dwell_time INT = 0 ,
    @Developer_dwell_time INT = 0 ,
    @penetrant_removal INT = 0 ,
    @UpdatedOn DATETIME = NULL ,
    @DPIDString VARCHAR(MAX) = NULL,
    @PlantIdString VARCHAR(MAx) = NULL,
    ------------------------------------
    @Weight float = null,
    @HeatCodeId int = 0,
    @CastCodeNo int = 0,
    @isCastCodeEnable bit = 0,
    @NotUserDateFilter int = 0,
    @OrderWisePouring Bit = 0,
    @OrderTranseID uniqueidentifier = null
    ,@Sequance int = 0,
    @Sequance2 int = 0,
    @IsStockTransReqNot int = 0,
    @IsProcessStockTransfer BIT = 0,
    @CastingName VARCHAR(100) = NULL,
    @PlantId int = 0,
    @InTransit bit = 0,
	@AddOnId1 int = 0
AS
    DECLARE @ID UNIQUEIDENTIFIER ,
        @batchID BIGINT ,
        @batchstock INT ,
        @stockbatchID BIGINT ,
        @TempStock INT 
                
           
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
    BEGIN
        IF @Parameter = 1
            BEGIN
    
                BEGIN TRANSACTION
                
				-- Notifiction------					
				Set @OrderWisePouring = (Select permitir.permitir from permitir where Code = 'OWP')      
				if(@OrderWisePouring = 1)
				BEGIN
					Create table OrderDetail
					(
						OrderTranseID uniqueidentifier,
						TransferQty int
					)
				END
				----------------------
				
                SET @ID = NEWID()
                SET @CreatedOn = GETDATE()
           
                INSERT  INTO DPIMaster
                        ( DPID ,
                          DPINo ,
                          EntryNo ,
                          CastingID ,
                          MetalID ,
                          ProcessIDTo ,
                          ProcessQty ,
                          ProcessDate ,
                          StartTime ,
                          EndTime ,
                          OperatorID ,
                          MachineID ,
                          CreatedBy ,
                          CreatedOn ,
                          EntityID,
                          
                      --------------------------
                          
                          SurfaceCondition ,
                          Refstd ,
                          AccepStd ,
                          SurfaceTemp ,
                          PenetrantMode ,
                          Standard ,
                          DeveloperType ,
                          CleanerType ,
                          PenetrantType ,
                          PenetrantDwellTime ,
                          DeveloperDwellTime ,
                          PenetrantRemoval,
                          PlantId
                      ---------------------------
			            )
                VALUES  ( @ID ,
                          @DPNo ,
                          @EntryNo ,
                          @CastingID ,
                          @MetalID ,
                          @ProcessID ,
                          @Transferqty ,
                          @ProcessTransfer_Date ,
                          @StartTime ,
                          @EndTime ,
                          @ContractorID ,
                          @MachineId ,
                          @UserID ,
                          @CreatedOn ,
                          @EntityID 
                      ------------------------------
                          ,
                          @Surface_condition ,
                          @Ref_std ,
                          @Aceptance_std ,
                          @Surface_Temp ,
                          @Mode_of_penetrant ,
                          @_Standard ,
                          @Type_of_developer ,
                          @Type_of_cleaner ,
                          @Type_of_penetrant ,
                          @penetrant_dwell_time ,
                          @Developer_dwell_time ,
                          @penetrant_removal,
                          @PlantId 
                      ------------------------------
			            )	
			        	
                IF @@Error <> 0
                    ROLLBACK TRANSACTION
                
                DECLARE BatchStockBreakup CURSOR
                FOR
                    SELECT  Node.value('(stockbatchid )[1]', 'bigint') AS 'stockbatchid' ,
                            Node.value('(TransferQty )[1]', 'int') AS 'TransferQty',
                            Node.value('(FromProcessID )[1]', 'uniqueidentifier') AS 'FromProcessID'
                    FROM    @BatchXMl.nodes('/DocumentElement/BatchTable') AS TEMPXML ( Node ) 
                OPEN BatchStockBreakup;

                FETCH NEXT FROM BatchStockBreakup INTO @stockbatchID,
                    @batchStock,@ProcessIDFrom
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN

                        INSERT  INTO DPIHeatDetails
                                ( DPITransID ,
                                  DPID ,
                                  BatchID ,
                                  Qty,
                                  FromProcessID
					            )
                        VALUES  ( NEWID() ,
                                  @ID ,
                                  @stockbatchID ,
                                  @batchstock  ,
                                  @ProcessIDFrom
					            )     
					        
				
                        IF @@Error <> 0
                            ROLLBACK TRANSACTION
                    
                        	
						SET @TempStock = - @batchStock;
						SET @batchID = (Select productionbatchID From CastingStockBatch where Batchid = @stockbatchID)
						SET @Weight = (Select CastingStockBatch.Weight from CastingStockBatch where Batchid = @stockbatchID)
						SET @HeatCodeId = (Select CastingStockBatch.HeatCodeId from CastingStockBatch where Batchid = @stockbatchID)
						
						-- Notifiction------
						if(@OrderWisePouring = 1)
						BEGIN
							
							Set @OrderTranseID = (Select top 1 OrderTranseID from CastingHeatCode
													Where CastingID = @castingid
													and ProductionBatchID = @batchID
													and HeatCodeID = @HeatCodeId
												  )
							IF @@Error <> 0
								ROLLBACK TRANSACTION
								
							if not exists(Select top 1 OrderTranseId from OrderDetail where OrderDetail.OrderTranseID = @OrderTranseID)
							Begin
								Insert into OrderDetail (OrderTranseId,TransferQty)
								values(@OrderTranseID, @batchstock)
							end
							else
							begin
								update OrderDetail set TransferQty = TransferQty + @batchstock
								where OrderDetail.OrderTranseID = @OrderTranseID
							end
							
							IF @@Error <> 0
								ROLLBACK TRANSACTION
						END
						--------------------------
						DECLARE @result2 TABLE ( returnvalue INT );
				
						INSERT  INTO @result2
								( returnvalue
								)
						EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @CastingID,
								@MetalID = @MetalID, 
								@StockToAdd = @TempStock,
								@StockToRej = 0, 
								@ProcessID = @ProcessIDFrom,
								@ProcessTransferTo = @ProcessID,
								@Tagging = N'Process Perform',
								@Process = N'Insert', 
								@ProcessCode = @ID,
								@productionbatchid = @batchID,
								@ProcessDate = @Createdon, 
								@UserID = @UserID,
								@CastCode_No = @CastCodeNo,
								@CastingStockBatchID = @stockbatchID,
								@isCastCodeEnable = @isCastCodeEnable,
								@BatchWeight = @Weight,
								@HeatCodeId = @HeatCodeId,
								@Castingid2 = @CastingID,
								@PlantId = @PlantId,
								@EntityId = @EntityId,
								@AddOnId1 = @AddOnId1
	                        
						IF ( @@Error <> 0
							 OR ( ( SELECT  returnvalue
									FROM    @result2
								  ) = 1 )
						   )
							BEGIN
								ROLLBACK TRANSACTION
								RETURN -2
							END
                        
                        FETCH NEXT FROM BatchStockBreakup INTO @stockbatchID,
                            @batchStock,@ProcessIDFrom
                    END 

                CLOSE BatchStockBreakup;
                DEALLOCATE BatchStockBreakup;
				
				-- NOTIFICATION for next process user
				 SET @IsProcessStockTransfer = ( SELECT  permitir
											FROM    permitir
											WHERE   Code = 'PST'
										  ) 
				DECLARE @TempProcess VARCHAR(50) ,
					@NextProcess UNIQUEIDENTIFIER ;
	          
				SET @Sequance = ( SELECT  DISTINCT  Sequence
										  FROM      dbo.CastingProcess
										  WHERE     CastingID = @CastingId
													AND ProcessID = @ProcessID
													AND MetalId = @MetalID
										)
	                    
				if(@OrderWisePouring = 1)
				BEGIN
					Set @Sequance2 = (Select top 1 CastingProcess.Sequence FRom CastingProcess
										inner join ProcessMaster PM On PM.ProcessId = CastingProcess.ProcessID
										where Sequence > @Sequance
										and IsQCProcess = 0
										and CastingID = @castingID
										and MetalId = @MetalID
									  )
					
					DECLARE OrderCursor CURSOR
					FOR
						SELECT  OrderTranseID,
								TransferQty
						FROM    OrderDetail
							
					OPEN OrderCursor -- Open Cursor
					FETCH NEXT FROM OrderCursor INTO @OrderTranseId,@batchstock
					WHILE @@FETCH_STATUS = 0
					BEGIN
						Set @NextProcess = (Select	top 1 ProductionProcessMapping.ProcessId
											from	OrderSpecialRequirement 
													Inner join SPRequirementDepartmentMapping On SPRequirementDepartmentMapping.SPRequirementID = OrderSpecialRequirement.SPRequirementId
													Inner join SystemDepartment On SystemDepartment.DepartmentId = SPRequirementDepartmentMapping.DepartmentId
													INNER Join ProductionProcessMapping On ProductionProcessMapping.ReferenceId = SPRequirementDepartmentMapping.SPRequirementId
													INNer Join CastingProcess On CastingProcess.ProcessID = ProductionProcessMapping.ProcessId
															AND CastingProcess.CastingID = @castingID
															AND CastingProcess.MetalId = @MetalID
															And Sequence > @Sequance 
															And (@Sequance2 = 0 Or Sequence <= @Sequance2)
											Where	OrderSpecialRequirement.OrderTranseId = @OrderTranseID
													Order by Sequence asc
											)
						if(@NextProcess is null)
						BEGIN
							Set @NextProcess = (Select top 1 CastingProcess.ProcessID from CastingProcess 
												inner join ProcessMaster On ProcessMaster.ProcessId = CastingProcess.ProcessID
												Where CastingID = @castingID
												and MetalId = @MetalID
												And Sequence = @Sequance2
												and IsQCProcess = 0)
						END	
						set @IsStockTransReqNot  = 0
						SELECT  @IsStockTransReqNot = IsStockTransReq
						FROM    ProcessMaster
						WHERE   ProcessId = @NextProcess
	                                               
						IF ( @IsProcessStockTransfer = 1
							 AND @IsStockTransReqNot = 1
						   ) -- If process transfer enable than show notification to that user
							BEGIN					
								EXEC [dbo].[ProcessTransferNotification] @castingID = @castingID,
									@PartId = @CastingID, @ProcessID = @ProcessID,
									@NextProcessID = @NextProcess,
									@Transferqty = @batchstock
															
							END
						ELSE
							BEGIN
							-- Here @Processid will be passed because in procedure it will find next process and give notification that it is ready for next process
								EXEC [dbo].[ProcessPerformNotification] @castingID = @castingID,
									@PartId = @CastingID, @ProcessID = @ProcessID,
									@NextProcessID = @NextProcess,
									@Transferqty = @batchstock	        
							END                					
	        
						FETCH NEXT FROM OrderCursor INTO @OrderTranseId,@batchstock
					END
					CLOSE OrderCursor; -- Close Cursor
					DEALLOCATE OrderCursor;
			
				 					
				END
				Else
				BEGIN
					
					SET @NextProcess = ( SELECT DISTINCT ProcessID
										 FROM   dbo.CastingProcess
										 WHERE  CastingID = @CastingId
												AND MetalId = @MetalID
												AND Sequence = @Sequance + 1
													   -- AND ProcessType = 0
									   )
	                                   
					set @IsStockTransReqNot  = 0
					SELECT  @IsStockTransReqNot = IsStockTransReq
					FROM    ProcessMaster
					WHERE   ProcessId = @NextProcess
	                                           
					IF ( @IsProcessStockTransfer = 1
					 AND @IsStockTransReqNot = 1
				   ) -- If process transfer enable than show notification to that user
					BEGIN					
						EXEC [dbo].[ProcessTransferNotification] @castingID = @castingID,
							@PartId = @CastingID, @ProcessID = @ProcessID,
							@NextProcessID = @NextProcess,
							@Transferqty = @Transferqty						
					END
				ELSE
					BEGIN
					-- Here @Processid will be passed because in procedure it will find next process and give notification that it is ready for next process
						EXEC [dbo].[ProcessPerformNotification] @castingID = @castingID,
							@PartId = @CastingID, @ProcessID = @ProcessID,
							@NextProcessID = @NextProcess,
							@Transferqty = @Transferqty	        
					END                					
				END                                                   
				
				if(@OrderWisePouring = 1)
				BEGIN
				Drop table OrderDetail
				end
			
				COMMIT TRANSACTION                                                                                    	
            
            END
               
     -- SurfaceCond
        IF @Parameter = 2
            BEGIN
                SELECT DISTINCT
                        SurfaceCond
                FROM    DPTCMaster
                WHERE   SurfaceCond IS NOT NULL
                        AND SurfaceCond <> ''
                        AND DPTCMaster.IsDeleted = 0
                ORDER BY SurfaceCond
            END
     
     -- RefStd
        IF @Parameter = 3
            BEGIN
                SELECT DISTINCT
                        RefStd
                FROM    DPTCMaster
                WHERE   RefStd IS NOT NULL
                        AND RefStd <> ''
                        AND DPTCMaster.IsDeleted = 0
                ORDER BY RefStd
            END
     
     -- AcceptanceStd
        IF @Parameter = 4
            BEGIN
                SELECT DISTINCT
                        AcceptanceStd
                FROM    DPTCMaster
                WHERE   AcceptanceStd IS NOT NULL
                        AND AcceptanceStd <> ''
                        AND DPTCMaster.IsDeleted = 0
                ORDER BY AcceptanceStd
            END
     
     -- SurfaceTemp
        IF @Parameter = 5
            BEGIN
                SELECT DISTINCT
                        SurfaceTemp
                FROM    DPTCMaster
                WHERE   SurfaceTemp IS NOT NULL
                        AND SurfaceTemp <> ''
                        AND DPTCMaster.IsDeleted = 0
                ORDER BY SurfaceTemp
            END
     
     -- ModeOfPenetrant
        IF @Parameter = 6
            BEGIN
                SELECT DISTINCT
                        ModeOfPenetrant
                FROM    DPTCMaster
                WHERE   ModeOfPenetrant IS NOT NULL
                        AND ModeOfPenetrant <> ''
                        AND DPTCMaster.IsDeleted = 0
                ORDER BY ModeOfPenetrant
            END
     
     -- TypeOFDeveloper
        IF @Parameter = 7
            BEGIN
                SELECT DISTINCT
                        TypeOFDeveloper
                FROM    DPTCMaster
                WHERE   TypeOFDeveloper IS NOT NULL
                        AND TypeOFDeveloper <> ''
                        AND DPTCMaster.IsDeleted = 0
                ORDER BY TypeOFDeveloper
            END
     
     -- TypeOfCleaner
        IF @Parameter = 8
            BEGIN
                SELECT DISTINCT
                        TypeOfCleaner
                FROM    DPTCMaster
                WHERE   TypeOfCleaner IS NOT NULL
                        AND TypeOfCleaner <> ''
                        AND DPTCMaster.IsDeleted = 0
                ORDER BY TypeOfCleaner
            END
     
     -- TypeOfPenetrant
        IF @Parameter = 9
            BEGIN
                SELECT DISTINCT
                        TypeOfPenetrant
                FROM    DPTCMaster
                WHERE   TypeOfPenetrant IS NOT NULL
                        AND TypeOfPenetrant <> ''
                        AND DPTCMaster.IsDeleted = 0
                ORDER BY TypeOfPenetrant
            END
     
     -- PenetrateDwellTime
        IF @Parameter = 10
            BEGIN
                SELECT DISTINCT
                        CAST(PenetrateDwellTime AS VARCHAR(50)) AS PenetrateDwellTime
                FROM    DPTCMaster
                WHERE   PenetrateDwellTime IS NOT NULL
                        AND PenetrateDwellTime <> ''
                        AND DPTCMaster.IsDeleted = 0
                ORDER BY PenetrateDwellTime
            END
     
     -- DeveloperDwellTime
        IF @Parameter = 11
            BEGIN
                SELECT DISTINCT
                        CAST(DeveloperDwellTime AS VARCHAR(50)) AS DeveloperDwellTime
                FROM    DPTCMaster
                WHERE   DeveloperDwellTime IS NOT NULL
                        AND DeveloperDwellTime <> ''
                        AND DPTCMaster.IsDeleted = 0
                ORDER BY DeveloperDwellTime
            END
     
     -- PenetrantRemoval     
        IF @Parameter = 12
            BEGIN
                SELECT DISTINCT
                        PenetrantRemoval
                FROM    DPTCMaster
                WHERE   PenetrantRemoval IS NOT NULL
                        AND PenetrantRemoval <> ''
                        AND DPTCMaster.IsDeleted = 0
                ORDER BY PenetrantRemoval
            END
              
        IF @Parameter = 14  ----Insert data into Test_Certificate and Update Invoice_Master
            BEGIN
                BEGIN TRANSACTION
                                
                INSERT  INTO DPTCMaster
                        ( DPTCNo ,
                          DPTCDate ,
                          EntryNo ,
                          InvoiceID ,
                          GradeId ,
						--MachineId,
                          SurfaceCond ,
                          RefStd ,
                          AcceptanceStd ,
                          SurfaceTemp ,
                          ModeOfPenetrant ,
                          TypeOFDeveloper ,
                          TypeOfCleaner ,
                          TypeOfPenetrant ,
                          PenetrateDwellTime ,
                          DeveloperDwellTime ,
                          PenetrantRemoval ,
                          Remarks ,
                          CreatedBy ,
                          CreatedOn ,
                          EntityID ,
                          IsDeleted ,
						-------------
                          Standard
						--------------
                        )
                VALUES  ( @DPTCNo ,
                          @DPTCDate ,
                          @EntryNo ,
                          @InvoiceID ,
                          @GradeId ,						
						--@MachineId,
                          @SurfaceCond ,
                          @RefStd ,
                          @AcceptanceStd ,
                          @SurfaceTemp ,
                          @ModeOfPenetrant ,
                          @TypeOFDeveloper ,
                          @TypeOfCleaner ,
                          @TypeOfPenetrant ,
                          @PenetrateDwellTime ,
                          @DeveloperDwellTime ,
                          @PenetrantRemoval ,
                          @Remarks ,
                          @CreatedBy ,
                          @CreatedOn ,
                          @EntityID ,
                          0 ,
						----------------
                          @Standard
						---------------
                        )
              
                SET @DPTCId = @@IDENTITY;
                DECLARE DispatchDetails CURSOR
                FOR
                    SELECT  Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,
                            Node.value('(DispatchTransId )[1]', 'bigint') AS 'DispatchTransId' ,
                            Node.value('(DrawingNo )[1]', 'varchar(100)') AS 'DrawingNo' ,
                            Node.value('(DPID )[1]', 'uniqueidentifier') AS 'DPID' ,
                            Node.value('(HeatID )[1]', 'bigint') AS 'HeatID' ,
                            Node.value('(Qty )[1]', 'int') AS 'Qty' ,
                            Node.value('(Result )[1]', 'varchar(50)') AS 'Result'
                    FROM    @TC_Item.nodes('/DocumentElement/TC_Item') AS TEMPXML ( Node )
                --  @DispatchTable.nodes('/DocumentElement/DispatchDetails')
                    --    AS TEMPXML ( Node )	
                OPEN DispatchDetails;

                FETCH NEXT FROM DispatchDetails INTO @CastingID,
                    @DispatchTransId, @DwgNo, @DPID, @HeatID, @Qty, @Result
							
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                                   
                    
                        INSERT  INTO DPTCItemDetails
                                ( DPTCId ,
                                  CastingID ,
                                  DispatchTransId ,
                                  DwgNo ,
                                  DPID ,
                                  HeatID ,
                                  Qty ,
                                  Result                        
                                )
                        VALUES  ( @DPTCId ,
                                  @CastingID ,
                                  @DispatchTransId ,
                                  @DwgNo ,
                                  @DPID ,
                                  @HeatID ,
                                  @Qty ,
                                  @Result
							
                                )
                                            
                        FETCH NEXT FROM DispatchDetails INTO @CastingID,
                            @DispatchTransId, @DwgNo, @DPID, @HeatID, @Qty,
                            @Result
                    END 

                CLOSE DispatchDetails;
                DEALLOCATE DispatchDetails;	
              
                  
                        
                        
                COMMIT TRANSACTION     
			 
            END
        
        IF @Parameter = 15
            BEGIN

                IF ( @IsHeatwise = 0 )
                    BEGIN
                        SELECT DISTINCT
                                CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                DispatchGradewise.Qty dispatchqty 
                               -- OrderTranse.Metal ,
                               -- OrderTranse.MetalID
                        FROM    dispatchmaster
                                INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                                INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                                INNER JOIN CastingMaster ON dispatchtrans.castingid = CastingMaster.CastingId
                                INNER JOIN OrderMaster ON dispatchtrans.orderid = OrderMaster.CustomerOrderId
                               -- INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                                INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
                                LEFT OUTER JOIN DPTCMaster ON DPTCMaster.InvoiceID = dispatchmaster.DispatchID
                                                              AND ( DPTCMaster.IsDeleted = 0 )
                                LEFT OUTER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId
                        WHERE   ( dispatchmaster.DispatchID = @DispatchID )
                                AND dbo.dispatchtrans.IsDeleted = 0
                        GROUP BY CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                DispatchGradewise.Qty 
                                --OrderTranse.Metal ,
                                --OrderTranse.MetalID 
                     
                    END
                ELSE
                    BEGIN
        --                SELECT  CastingMaster.CastingId ,
        --                        CastingMaster.CastingCode ,
        --                        CastingMaster.CastingName ,
        --                        MetalMaster.MetalName , 
        --                        SUM(DispatchGradewise.Qty)AS dispatchqty ,                                
        --                        ProductionBatch.batchno ,
        --                        dispatchmaster.DispatchID ,                                
								--CastingMetal.DrawingNo ,								
								--ProductionBatch.batchID as HeatID,	
								--dispatchtrans.dispatchtransid 	as DispatchTransId ,					
								--( STUFF(( SELECT    ',' + DPIMaster.DPINo
        --                                  FROM      DPIMaster
                                          
								--					INNER JOIN dbo.DPIHeatDetails ON  dbo.DPIMaster.DPID = dbo.DPIHeatDetails.DPID 
								--					INNER JOIN dbo.CastingStockBatch as CSB ON CSB.Batchid = dbo.DPIHeatDetails.BatchID												 
        --                                  WHERE     ( CSB.Batchid = CastingStockBatch.Batchid )
        --                                           and DPIMaster.IsDeleted = 0
        --                                FOR
        --                                  XML PATH('')
        --                                ), 1, 1, '') ) AS DPINo 
								
        --                FROM    dispatchmaster
        --                        INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
        --                        INNER JOIN CastingMaster ON dispatchtrans.castingid = CastingMaster.CastingId
        --                        INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
        --                        INNER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId
        --                        INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.DispatchGradewise.BatchID                                                                                               
        --                        INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID								
        --                        INNER JOIN CastingMetal ON CastingMetal.castingID = CastingMaster.CastingId And CastingMetal.metalid = MetalMaster.MetalId
        --                WHERE   ( dispatchmaster.DispatchID = @DispatchID )
        --                        AND dispatchtrans.IsDeleted = 0                                
								--AND (@CastingID is null or CastingMaster.CastingId = @CastingID)                        
                               
        --                GROUP BY CastingMaster.CastingId ,
        --                        CastingMaster.CastingCode ,
        --                        CastingMaster.CastingName ,
        --                        MetalMaster.MetalName ,
        --                        ProductionBatch.batchno ,
        --                        dispatchmaster.DispatchID ,
        --                        CastingMetal.DrawingNo ,							
								--ProductionBatch.batchID,
								--dispatchtrans.dispatchtransid,
								--CastingStockBatch.Batchid
		          SELECT  *
                        FROM    ( SELECT    dispatchtrans.CastingId ,
                                            CastingMaster.CastingCode ,
                                            CastingMaster.CastingName ,
                                            MetalMaster.MetalName ,
                                            dispatchtrans.DispatchTransID ,
                                            ISNULL(( SELECT SUM(DispatchGradewise.qty)
                                                     FROM   DispatchGradewise
                                                            INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.DispatchGradewise.BatchID
                                                     WHERE  DispatchGradewise.DispatchTransID = dispatchtrans.DispatchTransID
                                                            AND productionbatchID IN (
                                                            SELECT
                                                              productionbatchID
                                                            FROM
                                                              dbo.DPIMaster
                                                              INNER JOIN dbo.DPIHeatDetails ON dbo.DPIHeatDetails.DPID = dbo.DPIMaster.DPID
                                                              INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.DPIHeatDetails.BatchID
                                                            WHERE
                                                              DPIMaster.CastingID = dbo.dispatchtrans.castingid
                                                              AND DPIMaster.MetalID = dbo.OrderTranse.MetalID
                                                              AND csb.Batchid = dbo.CastingStockBatch.Batchid
                                                              AND DPINo = ( SELECT
                                                              MAX(DPINo)
                                                              FROM
                                                              dbo.DPIMaster
                                                              INNER JOIN dbo.DPIHeatDetails ON dbo.DPIHeatDetails.DPID = dbo.DPIMaster.DPID
                                                              INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.DPIHeatDetails.BatchID
                                                              WHERE
                                                              DPIMaster.CastingID = dbo.dispatchtrans.castingid
                                                              AND DPIMaster.MetalID = dbo.DispatchGradewise.MetalID
                                                              AND IsDeleted = 0
															  and DPIMaster.EntityId =@EntityID
                                                              )
                                                              AND IsDeleted = 0 )
                                                   ), 0) AS dispatchqty ,
                                            ProductionBatch.batchno ,
                                            dispatchmaster.DispatchID ,
                                            OrderTranse.DrawingNo ,
                                            ProductionBatch.batchID AS HeatID ,
                                            ( SELECT    MAX(DPINo) AS DPINo
                                              FROM      dbo.DPIMaster
                                                        INNER JOIN dbo.DPIHeatDetails ON dbo.DPIHeatDetails.DPID = dbo.DPIMaster.DPID
                                                        INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.DPIHeatDetails.BatchID
                                              WHERE     DPIMaster.CastingID = dbo.dispatchtrans.castingid
                                                        AND DPIMaster.MetalID = dbo.OrderTranse.MetalID
                                           -- AND csb.Batchid = dbo.CastingStockBatch.Batchid
                                                        AND IsDeleted = 0
														and DPIMaster.EntityId =@EntityID
                                            ) AS DPINo ,
                                            ( SELECT TOP 1
                                                        DPID
                                              FROM      dbo.DPIMaster
                                              WHERE     DPINo = ( SELECT
                                                              MAX(DPINo)
                                                              FROM
                                                              dbo.DPIMaster
                                                              INNER JOIN dbo.DPIHeatDetails ON dbo.DPIHeatDetails.DPID = dbo.DPIMaster.DPID
                                                              INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.DPIHeatDetails.BatchID
                                                              WHERE
                                                              DPIMaster.CastingID = dbo.dispatchtrans.castingid
                                                              AND DPIMaster.MetalID = dbo.OrderTranse.MetalID
                                                             -- AND csb.Batchid = dbo.CastingStockBatch.Batchid
															 and DPIMaster.EntityId =@EntityID
                                                              AND IsDeleted = 0
                                                              )
                                                        AND IsDeleted = 0
														 and DPIMaster.EntityId =@EntityID 
                                              GROUP BY  DPID
                                            ) AS DPID ,
                                            CastingStockBatch.Batchid
                                  FROM      dispatchmaster
                                            INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                                            INNER JOIN CastingMaster ON dispatchtrans.castingid = CastingMaster.CastingId
                                            INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.dispatchtrans.orderid
                                                              AND OrderTranse.srno = dispatchtrans.orderserialno
                                                              AND OrderTranse.CastingId = dispatchtrans.CastingId
                                            INNER JOIN CastingMetal ON CastingMetal.castingID = CastingMaster.CastingId
                                                              AND CastingMetal.metalid = OrderTranse.MetalId
                                            INNER JOIN MetalMaster ON CastingMetal.MetalID = MetalMaster.MetalId
                                            INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.CastingId = dispatchtrans.castingid
                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
                                  WHERE     ( dispatchmaster.DispatchID = @DispatchID )
                                            AND dispatchmaster.IsDeleted = 0
                                            AND productionbatchID IN (
                                            SELECT  productionbatchID
                                            FROM    dbo.DPIMaster
                                                    INNER JOIN dbo.DPIHeatDetails ON dbo.DPIHeatDetails.DPID = dbo.DPIMaster.DPID
                                                    INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.DPIHeatDetails.BatchID
                                            WHERE   DPIMaster.CastingID = dbo.dispatchtrans.castingid
                                                    AND DPIMaster.MetalID = dbo.OrderTranse.MetalID
                                                    AND csb.Batchid = dbo.CastingStockBatch.Batchid
                                                    AND DPINo = ( SELECT
                                                              MAX(DPINo)
                                                              FROM
                                                              dbo.DPIMaster
                                                              INNER JOIN dbo.DPIHeatDetails ON dbo.DPIHeatDetails.DPID = dbo.DPIMaster.DPID
                                                              INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.DPIHeatDetails.BatchID
                                                              WHERE
                                                              DPIMaster.CastingID = dbo.dispatchtrans.castingid
                                                              AND IsDeleted = 0	
															  and DPIMaster.EntityId =@EntityID
                                                              ) )
                                ) AS TEMP
                      WHERE   TEMP.dispatchqty != 0
		
                       --         SELECT   dispatchtrans.CastingId ,
                       --         CastingMaster.CastingCode ,
                       --         CastingMaster.CastingName ,
                       --         MetalMaster.MetalName ,
                       --         dispatchtrans.DispatchTransID ,
                       --         SUM(DispatchGradewise.qty) AS dispatchqty ,
                       --         ProductionBatch.batchno ,
                       --         dispatchmaster.DispatchID ,
                       --         OrderTranse.DrawingNo ,
                       --         ProductionBatch.batchID AS HeatID 
                           
                       --         ,
                       --         ( SELECT    MAX(DPINo) AS DPINo
                       --           FROM      dbo.DPIMaster
                       --                     INNER JOIN dbo.DPIHeatDetails ON dbo.DPIHeatDetails.DPID = dbo.DPIMaster.DPID
                       --                     INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.DPIHeatDetails.BatchID
                       --           WHERE     DPIMaster.CastingID = dbo.dispatchtrans.castingid
                       --                     AND DPIMaster.MetalID = dbo.DispatchGradewise.MetalID
                       --                     AND csb.Batchid = dbo.CastingStockBatch.Batchid
                       --                     AND IsDeleted = 0
                       --         ) AS DPINo ,
                       --         ( SELECT TOP 1
                       --                     DPID
                       --           FROM      dbo.DPIMaster
                       --           WHERE     DPINo = ( SELECT  MAX(DPINo)
                       --                               FROM    dbo.DPIMaster
                       --                                       INNER JOIN dbo.DPIHeatDetails ON dbo.DPIHeatDetails.DPID = dbo.DPIMaster.DPID
                       --                                       INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.DPIHeatDetails.BatchID
                       --                               WHERE   DPIMaster.CastingID = dbo.dispatchtrans.castingid
                       --                                       AND DPIMaster.MetalID = dbo.DispatchGradewise.MetalID
                       --                                       AND csb.Batchid = dbo.CastingStockBatch.Batchid
                       --                                       AND IsDeleted = 0
                       --                             )
                       --                     AND IsDeleted = 0
                       --           GROUP BY  DPID
                       --         ) AS DPID ,
                       --         CastingStockBatch.Batchid
                       --FROM     dispatchmaster
                       --         INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                       --         INNER JOIN CastingMaster ON dispatchtrans.castingid = CastingMaster.CastingId
                       --         INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                       --         INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.DispatchGradewise.BatchID
                       --         INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
                       --         INNER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId
                       --         INNER JOIN CastingMetal ON CastingMetal.castingID = CastingMaster.CastingId
                       --                                    AND CastingMetal.metalid = DispatchGradewise.MetalId
                       --         INNER JOIN OrderMaster ON dispatchtrans.orderid = OrderMaster.CustomerOrderId
                       --         INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                                                                                          
                       --WHERE    ( dispatchmaster.DispatchID = @DispatchID )
                       --ANd dispatchmaster.IsDeleted = 0
                       --         AND CastingStockBatch.Batchid IN (
                       --         SELECT  batchID
                       --         FROM    DPIHeatDetails
                       --                 INNER JOIN DPIMASTER ON DPIHeatDetails.DPID = DPIMASTER.DPID
                       --         WHERE   IsDeleted = 0 )
                       --GROUP BY dispatchtrans.DispatchTransID ,
                       --         dispatchtrans.CastingId ,
                       --         CastingMaster.CastingCode ,
                       --         CastingMaster.CastingName ,
                       --         MetalMaster.MetalName ,
                       --         ProductionBatch.batchno ,
                       --         dispatchmaster.DispatchID ,
                       --         OrderTranse.DrawingNo ,
                       --         ProductionBatch.batchID ,
                       --         DispatchGradewise.MetalID ,
                       --         CastingStockBatch.Batchid
                             
                    END 
                    
                    

            END
            
     
        IF @Parameter = 17
            BEGIN
                SELECT DISTINCT
                        DPTCNo
                FROM    DPTCMaster
                WHERE   DPTCMaster.IsDeleted = 0
                -----------------Plant----------------
                AND ( @PlantIdString IS NULL
                              OR @PlantIdString = ''
                              OR DPTCMaster.InvoiceID IN (
                              SELECT    DispatchID
                              FROM      dbo.dispatchmaster
                              WHERE     PlantId IN (
                                       SELECT Item  from @Plant))
                            )
                AND DPTCMaster.EntityID = @EntityId
                ---------------------------------------
                
            END
        IF @Parameter = 18
            BEGIN
                SELECT DISTINCT
                        CASE WHEN DispatchMaster.Prefix IS NULL THEN ''
                             ELSE CONVERT(VARCHAR(50), DispatchMaster.Prefix)
                        END
                        + CASE WHEN DispatchMaster.Separator IS NULL THEN ''
                               ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                          END
                        + CONVERT(VARCHAR(50), DispatchMaster.DispatchSlipNo)
                        + CASE WHEN DispatchMaster.Separator IS NULL THEN ''
                               ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                          END
                        + CASE WHEN DispatchMaster.Suffix IS NULL THEN ''
                               ELSE CONVERT(VARCHAR(50), DispatchMaster.Suffix)
                          END AS DispatchSlipNo ,
                        dispatchmaster.DispatchID
                FROM    DPTCMaster
                        JOIN dispatchmaster ON DPTCMaster.InvoiceID = dispatchmaster.DispatchID
                WHERE   DPTCMaster.IsDeleted = 0
                 -----------Plant--------------------
                AND ( @PlantIdString IS NULL
                      OR @PlantIdString = ''
                      OR dispatchmaster.PlantID IN (
                  SELECT Item  from @Plant)
                    )
                AND DPTCMaster.EntityID = @EntityId
                -------------------------------------
                
            END
  --   IF @Parameter = 18
  --   BEGIN
		--select DISTINCT dispatchmaster.Dispatchslipno,dispatchmaster.DispatchID from DPTCMaster 
		--Join dispatchmaster on DPTCMaster.InvoiceID=dispatchmaster.DispatchID
		--Where DPTCMaster.IsDeleted=0
  --   END
     
        IF @Parameter = 19
            BEGIN
                SELECT DISTINCT
                        MetalMaster.MetalName ,
                        MetalMaster.MetalId
                FROM    DPTCMaster
                        INNER JOIN MetalMaster ON MetalMaster.MetalId = DPTCMaster.GradeId
                WHERE   DPTCMaster.IsDeleted = 0
                -----------------Plant----------------
                AND ( @PlantIdString IS NULL
                              OR @PlantIdString = ''
                              OR DPTCMaster.InvoiceID IN (
                              SELECT    DispatchID
                              FROM      dbo.dispatchmaster
                              WHERE     PlantId IN (
                                      SELECT Item  from @Plant))
                            )
                AND DPTCMaster.EntityID = @EntityId
                ---------------------------------------
            END
     

        IF @Parameter = 23--Delete
            BEGIN
                IF NOT EXISTS ( SELECT  1
                                FROM    DPTCMaster
                                        INNER JOIN DPTCItemDetails ON DPTCMaster.DPTCId = DPTCItemDetails.DPTCId
                                WHERE   IsDeleted = 0
                                        AND DPTCItemDetails.DPID = @DPID )
                    BEGIN
                    
						SET @ProcessID = (Select ProcessIDTo from DPIMaster where DPID = @DPID and IsDeleted = 0)
						
						SET @PlantId = (Select PlantId from DPIMaster where DPID = @DPID and IsDeleted = 0)
						
						SET @EntityID = (Select EntityID from DPIMaster where DPID = @DPID and IsDeleted = 0)
						
						SELECT	BatchID,Qty,FromProcessID
						INTO	#HEATWISEDETAIL
						FROM	DPIHeatDetails
						WHERE	DPIHeatDetails.DPID  = @DPID
						
						SELECT  @CastingID = Castingid,
								@MetalID = MetalId,
								@ProcessID = ProcessIDTo
						FROM	DPIMaster 
						WHERE	DPID = @DPID
						
                        UPDATE  DPIMaster
                        SET     DPIMaster.Isdeleted = 1 ,
                                DPIMaster.DeletedBy = @DeletedBy ,
                                DPIMaster.DeletedOn = @DeletedOn
                        WHERE   DPIMaster.DPID = @DPID
                        
                        DECLARE BatchStockBreakup CURSOR
						FOR
							SELECT	BatchID,QTY,FromProcessID
							FROM	#HEATWISEDETAIL
						OPEN BatchStockBreakup;

						FETCH NEXT FROM BatchStockBreakup INTO @stockbatchID,
							@batchStock,@ProcessIDFrom
						WHILE ( @@FETCH_STATUS = 0 )
						BEGIN
						
						SET @batchID = (Select productionbatchID From CastingStockBatch where Batchid = @stockbatchID)
						SET @Weight = (Select CastingStockBatch.Weight from CastingStockBatch where Batchid = @stockbatchID)
						SET @HeatCodeId = (Select CastingStockBatch.HeatCodeId from CastingStockBatch where Batchid = @stockbatchID)
						
						DECLARE @result3 TABLE ( returnvalue INT );
				
						INSERT  INTO @result3
								( returnvalue
								)
						EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @CastingID,
								@MetalID = @MetalID, 
								@StockToAdd = @batchStock,
								@StockToRej = 0, 
								@ProcessID = @ProcessIDFrom,
								@ProcessTransferTo = @ProcessID,
								@Tagging = N'Process Perform',
								@Process = N'DELETE', 
								@ProcessCode = @DPID,
								@productionbatchid = @batchID,
								@ProcessDate = @DeletedOn, 
								@UserID = @DeletedBy,
								@CastCode_No = @CastCodeNo,
								@CastingStockBatchID = @stockbatchID,
								@isCastCodeEnable = @isCastCodeEnable,
								@BatchWeight = @Weight,
								@HeatCodeId = @HeatCodeId,
								@CastingId2 = @CastingID,
								@PlantId = @PlantId,
								@EntityId = @EntityId,
								@AddOnId1 = @AddOnId1
	                        
						IF ( @@Error <> 0
							 OR ( ( SELECT  returnvalue
									FROM    @result3
								  ) = 1 )
						   )
							BEGIN
								ROLLBACK TRANSACTION
								 RETURN 0
							END
                        
						FETCH NEXT FROM BatchStockBreakup INTO @stockbatchID,
							@batchStock,@ProcessIDFrom
						END
						CLOSE BatchStockBreakup;
						DEALLOCATE BatchStockBreakup;
            
                        RETURN 1
                    END
            
                IF @@Error <> 0
                    ROLLBACK TRANSACTION
                RETURN 0
            END
    
        IF @Parameter = 24--Delete test certificate register
            BEGIN
    
                UPDATE  DPTCMaster
                SET     DPTCMaster.Isdeleted = 1 ,
                        DPTCMaster.DeletedBy = @DeletedBy ,
                        DPTCMaster.DeletedOn = @DeletedOn
                WHERE   DPTCMaster.DPTCId = @DPTCId
            
                IF @@Error <> 0
                    ROLLBACK TRANSACTION
            END
    
        IF @Parameter = 25--Delete test certificate register
            BEGIN
                SELECT  DPTCNo ,
                        DPTCDate ,
                        DPTCMaster.EntryNo ,
                        InvoiceID ,
                        GradeId ,
                        SurfaceCond ,
                        RefStd ,
                        AcceptanceStd ,
                        SurfaceTemp ,
                        ModeOfPenetrant ,
                        TypeOFDeveloper ,
                        TypeOfCleaner ,
                        TypeOfPenetrant ,
                        PenetrateDwellTime ,
                        DeveloperDwellTime ,
                        PenetrantRemoval ,
                        Remarks ,
                        Standard ,
                        CustomerMaster.CustomerId ,
                        dispatchmaster.DispatchID
                FROM    DPTCMaster
                        LEFT JOIN dispatchmaster ON dispatchmaster.DispatchID = DPTCMaster.InvoiceID
                        LEFT JOIN CustomerMaster ON CustomerMaster.CustomerId = dispatchmaster.customerID
                WHERE   DPTCMaster.DPTCId = @DPTCId
                        AND dispatchmaster.IsDeleted = 0
                        AND CustomerMaster.IsDeleted = 0	
		
                SELECT  CastingMaster.CastingId ,
                        CastingMaster.CastingCode ,
                        CastingMaster.CastingName ,
                        DPTCMaster.GradeId AS MetalId ,
                        MetalMaster.MetalName ,
                        DwgNo AS DrawingNo ,
                        Qty AS dispatchqty ,
                        DPIMaster.DPINo ,
                        DPIMaster.DPID ,
                        ProductionBatch.batchno ,
                        HeatID ,
                        Result ,
                        dispatchtransid AS DispatchTransId ,
                        ProductionBatch.batchno AS batchno
                FROM    DPTCItemDetails
                        INNER JOIN DPIMaster ON DPIMaster.DPID = DPTCItemDetails.DPID
                        INNER JOIN CastingMaster ON CastingMaster.CastingId = DPTCItemDetails.CastingID
                        INNER JOIN DPTCMaster ON DPTCMaster.DPTCId = DPTCItemDetails.DPTCId
                        INNER JOIN MetalMaster ON MetalMaster.MetalId = DPTCMaster.GradeId
                        INNER JOIN ProductionBatch ON ProductionBatch.batchID = DPTCItemDetails.HeatID
                WHERE   DPTCMaster.DPTCId = @DPTCId
            END
    
        IF @Parameter = 26--Update
            BEGIN
                UPDATE  DPTCMaster
                SET     DPTCNo = @DPTCNo ,
                        DPTCDate = @DPTCDate ,
                        DPTCMaster.EntryNo = @EntryNo ,
                        SurfaceCond = @SurfaceCond ,
                        RefStd = @RefStd ,
                        AcceptanceStd = @AcceptanceStd ,
                        SurfaceTemp = @SurfaceTemp ,
                        ModeOfPenetrant = @ModeOfPenetrant ,
                        TypeOFDeveloper = @TypeOfCleaner ,
                        TypeOfCleaner = @TypeOfCleaner ,
                        TypeOfPenetrant = @TypeOfPenetrant ,
                        PenetrateDwellTime = @PenetrateDwellTime ,
                        DeveloperDwellTime = @DeveloperDwellTime ,
                        PenetrantRemoval = @PenetrantRemoval ,
                        Remarks = @Remarks
		   ---------------------------
                        ,
                        Standard = @Standard,
                        ModifiedBy=@ModifiedBy,
                        ModifiedOn = @ModifiedOn
		   ----------------------------
                FROM    DPTCMaster
                        LEFT JOIN dispatchmaster ON dispatchmaster.DispatchID = DPTCMaster.InvoiceID
                        LEFT JOIN CustomerMaster ON CustomerMaster.CustomerId = dispatchmaster.customerID
                WHERE   DPTCMaster.DPTCId = @DPTCId
                        AND dispatchmaster.IsDeleted = 0
                        AND CustomerMaster.IsDeleted = 0	
		
                DELETE  FROM DPTCItemDetails
                WHERE   DPTCId = @DPTCId
		
                DECLARE DispatchDetails CURSOR
                FOR
                    SELECT  Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,
                            Node.value('(DispatchTransId )[1]', 'bigint') AS 'DispatchTransId' ,
                            Node.value('(DrawingNo )[1]', 'varchar(100)') AS 'DrawingNo' ,
                            Node.value('(DPID )[1]', 'uniqueidentifier') AS 'DPID' ,
                            Node.value('(HeatID )[1]', 'bigint') AS 'HeatID' ,
                            Node.value('(Qty )[1]', 'int') AS 'Qty' ,
                            Node.value('(Result )[1]', 'varchar(50)') AS 'Result'
                    FROM    @TC_Item.nodes('/DocumentElement/TC_Item') AS TEMPXML ( Node )
                --  @DispatchTable.nodes('/DocumentElement/DispatchDetails')
                    --    AS TEMPXML ( Node )	
                OPEN DispatchDetails;

                FETCH NEXT FROM DispatchDetails INTO @CastingID,
                    @DispatchTransId, @DwgNo, @DPID, @HeatID, @Qty, @Result
							
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                                   
                    
                        INSERT  INTO DPTCItemDetails
                                ( DPTCId ,
                                  CastingID ,
                                  DispatchTransId ,
                                  DwgNo ,
                                  DPID ,
                                  HeatID ,
                                  Qty ,
                                  Result                        
                                )
                        VALUES  ( @DPTCId ,
                                  @CastingID ,
                                  @DispatchTransId ,
                                  @DwgNo ,
                                  @DPID ,
                                  @HeatID ,
                                  @Qty ,
                                  @Result
							
                                )
                                            
                        FETCH NEXT FROM DispatchDetails INTO @CastingID,
                            @DispatchTransId, @DwgNo, @DPID, @HeatID, @Qty,
                            @Result
                    END 

                CLOSE DispatchDetails;
                DEALLOCATE DispatchDetails;	
            END
    
        IF @Parameter = 27
            BEGIN
                SELECT  *
                FROM    DPIMaster
                WHERE   DPID = @DP_ID
                        AND IsDeleted = 0
            END
     
      --Update QUERY
        IF @Parameter = 28
            BEGIN
                SET @UpdatedOn = GETDATE()
                UPDATE  DPIMaster
                SET     DPINo = @DPNo ,
                        EntryNo = @EntryNo ,
                        StartTime = @StartTime ,
                        EndTime = @EndTime ,
                        OperatorID = @ContractorID ,
                        MachineID = @MachineId ,
                        EntityID = @EntityID ,
                        SurfaceCondition = @Surface_condition ,
                        RefStd = @Ref_std ,
                        AccepStd = @Aceptance_std ,
                        SurfaceTemp = @Surface_Temp ,
                        PenetrantMode = @Mode_of_penetrant ,
                        Standard = @_Standard ,
                        DeveloperType = @Type_of_developer ,
                        CleanerType = @Type_of_cleaner ,
                        PenetrantType = @Type_of_penetrant ,
                        PenetrantDwellTime = @penetrant_dwell_time ,
                        DeveloperDwellTime = @Developer_dwell_time ,
                        PenetrantRemoval = @penetrant_removal ,
                        UpdatedBy = @UserID ,
                        UpdatedOn = @UpdatedOn
                WHERE   DPID = @DP_ID
           	       	
                IF @@Error <> 0
                    ROLLBACK TRANSACTION
                
            
            
            END
     
        IF @Parameter = 30
            BEGIN
			
   --             DECLARE @Query VARCHAR(MAX) = '
   --             SELECT * from MPIMaster where MPID IN ('
   --                 + @MPIDString + ')
			--and IsDeleted = 0'
			
   --             EXEC(@Query)
                
                DECLARE @Query VARCHAR(MAX) = '
                SELECT 
                
                M1.Parameter AS SurfaceCond ,
                M2.Parameter AS RefStd ,
                M3.Parameter AS AcceptanceStd ,
                M4.Parameter AS SurfaceTemp ,
                M5.Parameter AS ModeOfPenetrant ,
                M6.Parameter AS Standard ,
                M7.Parameter AS TypeOFDeveloper ,
                M8.Parameter AS TypeOfCleaner ,
                M9.Parameter AS PenetrateDwellTime ,
                M10.Parameter AS DeveloperDwellTime ,
                M11.Parameter AS PenetrantRemoval ,
                M12.Parameter AS TypeOfPenetrant
               
				FROM      DPIMaster
				
				LEFT JOIN DPInspectionParameter
                AS M1 ON M1.id = DPIMaster.SurfaceCondition
                LEFT JOIN DPInspectionParameter
                AS M2 ON M2.id = DPIMaster.RefStd
                LEFT JOIN DPInspectionParameter
                AS M3 ON M3.id = DPIMaster.AccepStd
                LEFT JOIN DPInspectionParameter
                AS M4 ON M4.id = DPIMaster.SurfaceTemp
                LEFT JOIN DPInspectionParameter
                AS M5 ON M5.id = DPIMaster.PenetrantMode
                LEFT JOIN DPInspectionParameter
                AS M6 ON M6.id = DPIMaster.Standard
                LEFT JOIN DPInspectionParameter
                AS M7 ON M7.id = DPIMaster.DeveloperType
                LEFT JOIN DPInspectionParameter
                AS M8 ON M8.id = DPIMaster.CleanerType
                LEFT JOIN DPInspectionParameter
                AS M9 ON M9.id = DPIMaster.PenetrantDwellTime
                LEFT JOIN DPInspectionParameter
                AS M10 ON M10.id = DPIMaster.DeveloperDwellTime
                LEFT JOIN DPInspectionParameter
                AS M11 ON M11.id = DPIMaster.PenetrantRemoval
                LEFT JOIN DPInspectionParameter
                AS M12 ON M12.id = DPIMaster.PenetrantType                  
                                   
                where DPID IN (' + @DPIDString + ')
			and DPIMaster.IsDeleted = 0'
			
                EXEC(@Query)
            END
        IF @Parameter = 31
            BEGIN
                SELECT DISTINCT
                        DPINo +'/'+ Cast(ProcessDate as varchar(MaX)) as DPINo,
                        DPID
                FROM    DPIMaster
                WHERE   IsDeleted = 0
                        AND ( (@NotUserDateFilter  = 1) Or DPIMaster.ProcessDate BETWEEN @StartDate
                                                    AND     @EndDate )
                        AND ( @PlantIdString IS NULL
                              OR @PlantIdString = ''
                              OR DPIMaster.CAstingId IN (
                              SELECT    CastingId
                              FROM      dbo.PlantCastingMapping
                                       where PlantId in (SELECT Item FROM @Plant) )
                            )
                        AND DPIMaster.EntityID = @EntityId
                
                Order by DPINo desc
            END
        IF @Parameter = 32
            
            Begin
            IF NOT EXISTS ( SELECT  *
                                FROM    DPTCMaster
                                        INNER JOIN DPTCItemDetails ON DPTCMaster.DPTCId = DPTCItemDetails.DPTCId
                                WHERE   IsDeleted = 0
                                        AND DPTCItemDetails.DPID = @DPID )
                 BEGIN
					return 1
                 END  
                 else
                 BEGIN
					return 0
                 END
                        
            end
            
		IF @Parameter = 33
		BEGIN
		
		Select @PlantId = PlantId,@EntityID = EntityID from DPIMaster where  DPID = @DPID 
		
			IF EXISTS(
				Select	1
				from	DPIMaster
						INNER JOIN DPIHeatDetails On DPIHeatDetails.DPID = DPIMaster.DPID
						INNER JOIN CastingStockBatch as PrevCSB On PrevCSB.Batchid = DPIHeatDetails.BatchID
						INNER JOIN CastingStockBatch AS CSB On CSB.CastingID = DPIMaster.CastingID
									AND CSB.productionbatchID = PrevCSB.productionbatchID
									AND CSB.HeatCodeId = PrevCSB.HeatCodeId
									AND CSB.MetalID = PrevCSB.MetalID
									AND CSB.ProcessID = DPIMaster.ProcessIDTo
									AND CSB.PlantId = PrevCSB.PlantId
									AND CSB.EntityId = PrevCSB.EntityId
									AND CSB.InTransit = PrevCSB.InTransit
									AND CSB.AddOnId1 = PrevCSB.AddOnId1
				WHERE	DPIMaster.DPID = @DPID 
						AND CSB.BatchStock < DPIHeatDetails.Qty 
						AND DPIMaster.IsDeleted = 0
						and CSB.PlantId = @PlantId
									and CSB.EntityId = @EntityID
									and CSB.InTransit = @InTransit
									and CSB.AddOnId1 = @AddOnId1)
			BEGIN
				Return 0
			END
			ELSE
			BEGIN
				Return 1
			END
			
		END
		
		IF @Parameter = 34
			BEGIN
				SELECT DPIMaster.DPID AS ProcessPerformID ,
                                                CastingName ,
                                                CastingCode ,
                                                Metalname ,
                                        ----------------------------------
                                                DPINo ,
                                                D1.Parameter AS Surface_condition ,
                                                D2.Parameter AS Ref_std ,
                                                D3.Parameter AS Aceptance_std ,
                                                D4.Parameter AS Surface_Temp ,
                                                D5.Parameter AS Mode_of_penetrant ,
                                                D6.Parameter AS Standard ,
                                                D7.Parameter AS Type_of_developer ,
                                                D8.Parameter AS Type_of_cleaner ,
                                                D9.Parameter AS Type_of_penetrant ,
                                                D10.Parameter AS penetrant_dwell_time ,
                                                D11.Parameter AS Developer_dwell_time ,
                                                D12.Parameter AS penetrant_removal ,
                                        ----------------------------------
                                                CONVERT(VARCHAR(11), DPIMaster.ProcessDate, 106) AS [ProcessPerformDate] ,
                                                CONVERT(VARCHAR(15), StartTime, 100) StartTime ,
                                                CONVERT(VARCHAR(15), EndTime, 100) EndTime ,
                                                --ProcessMaster.ProcessName AS [PerformProcess] ,
                                                DPIMaster.ProcessQty ,
                                                EmployeeDetails.EmployeeName AS OperatorName
                                      FROM      DPIMaster
                                                INNER JOIN CastingMaster ON DPIMaster.CastingID = CastingMaster.CastingId
                                                INNER JOIN MetalMaster ON DPIMaster.MetalID = MetalMaster.MetalId
                                                --INNER JOIN ProcessMaster ON DPIMaster.ProcessID = ProcessMaster.ProcessId
                                                INNER JOIN EmployeeDetails ON DPIMaster.OperatorID = EmployeeDetails.EmployeeId
                                        ------------------------------------------
                                                LEFT JOIN DPInspectionParameter
                                                AS D1 ON D1.id = DPIMaster.SurfaceCondition
                                                LEFT JOIN DPInspectionParameter
                                                AS D2 ON D2.id = DPIMaster.RefStd
                                                LEFT JOIN DPInspectionParameter
                                                AS D3 ON D3.id = DPIMaster.AccepStd
                                                LEFT JOIN DPInspectionParameter
                                                AS D4 ON D4.id = DPIMaster.SurfaceTemp
                                                LEFT JOIN DPInspectionParameter
                                                AS D5 ON D5.id = DPIMaster.PenetrantMode
                                                LEFT JOIN DPInspectionParameter
                                                AS D6 ON D6.id = DPIMaster.Standard
                                                LEFT JOIN DPInspectionParameter
                                                AS D7 ON D7.id = DPIMaster.DeveloperType
                                                LEFT JOIN DPInspectionParameter
                                                AS D8 ON D8.id = DPIMaster.CleanerType
                                                LEFT JOIN DPInspectionParameter
                                                AS D9 ON D9.id = DPIMaster.PenetrantType
                                                LEFT JOIN DPInspectionParameter
                                                AS D10 ON D10.id = DPIMaster.PenetrantDwellTime
                                                LEFT JOIN DPInspectionParameter
                                                AS D11 ON D11.id = DPIMaster.DeveloperDwellTime
                                                LEFT JOIN DPInspectionParameter
                                                AS D12 ON D12.id = DPIMaster.PenetrantDwellTime
                                        ----------------------------------------------
                                      WHERE     ProcessQty > 0
												and EmployeeDetails.isActive = 1
                                                AND DPIMaster.Isdeleted = 0
                                                AND ( @CastingName IS NULL
                                                      OR CastingName = @CastingName
                                                    )
                                                AND ( @castingID IS NULL
                                                      OR DPIMaster.CastingID = @castingID
                                                    )
                                                AND ( @MetalID = 0
                                                      OR DPIMaster.MetalID = @MetalID
                                                    )
                                                AND ( DPIMaster.ProcessDate BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                                --AND ( @ProcessID IS NULL
                                                --      OR DPIMaster.ProcessID = @ProcessID
                                                --    )
                                                AND ( @ContractorID = 0
                                                      OR DPIMaster.OperatorID = @ContractorID
                                                    )
                                            -------------------------
                                                AND ( @DPID IS NULL
                                                      OR DPIMaster.DPID = @DPID
                                                    )
                                          ------------------
                                           AND ( @PlantIdString IS NULL
                          OR @PlantIdString = ''
                          OR DPIMaster.CAstingId IN (
                          SELECT    CastingId
                          FROM      dbo.PlantCastingMapping
                                 where PlantId in (SELECT Item FROM @Plant))
                        )
                    AND DPIMaster.EntityID = @EntityId
			END
    END
GO
