USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WaxJobCard_Register]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE  PROCEDURE [dbo].[WaxJobCard_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,    
    @JobCardID UNIQUEIDENTIFIER = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @CastingName VARCHAR(100) = NULL ,   
    @EntityId INT = 0  
  
AS
BEGIN
	  
	
        IF @Parameter =  1 --Fetch Data for Register
            BEGIN
    
                IF @InitialLoad = 1
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT TOP ( @PageSize )
                                            ROW_NUMBER() OVER ( ORDER BY WaxJobcardMaster.JobCardNo DESC ) AS RowNo ,
                                            WaxJobCardMaster.JobCardID ,
                                            JobCardNo ,
                                            ISNULL(WaxTreeWeight, 0.00) AS WaxTreeWeight ,
                                            CASE WHEN WaxTreeWeightUOM = 0
                                                 THEN 'KG'
                                                 ELSE 'GRAM'
                                            END AS WaxTreeWeightUOM ,
                                            ISNULL(CastingTreeWeight, 0.00) AS CastingTreeWeight ,
                                            CASE WHEN CastingTreeWrightUOM = 0
                                                 THEN 'KG'
                                                 ELSE 'GRAM'
                                            END AS CastingTreeWrightUOM ,
                                            ISNULL(ShellWeightDeWax, 0.00) AS ShellWeightDeWax ,
                                            CASE WHEN ShellWeightDewaxUOM = 0
                                                 THEN 'KG'
                                                 ELSE 'GRAM'
                                            END AS ShellWeightDewaxUOM ,
                                            WaxjobcardMaster.Remarks
                                  FROM      WaxJobCardMaster
                                  WHERE     WaxJobCardMaster.IsDeleted = 0
                                            AND WaxJobCardMaster.EntityId = @EntityId
                                            AND ( @JobCardID IS NULL
                                                  OR WaxJobCardMaster.JobCardID = @JobCardID
                                                )
                                            --AND ( @CastingID IS NULL
                                            --      OR @Castingid IN (
                                            --      SELECT    CastingId
                                            --      FROM      WaxJobCardTranse
                                            --      WHERE     WaxJobCardTranse.CastingID = @CastingID )
                                            --    )
                                            AND ( @CastingID IS NULL
                                                  OR JobCardID IN (
                                                  SELECT DISTINCT
                                                            JobCardID
                                                  FROM      WaxJobCardTranse
                                                  WHERE     CastingID = @CastingID )
                                                )
                                            AND ( ISNULL(@CastingName, '') = ''
                                                  OR JobCardID IN (
													  SELECT DISTINCT
																JobCardID
													  FROM      WaxJobCardTranse
													  WHERE     CastingID IN (
															  SELECT    CastingId
															  FROM      dbo.CastingMaster
															  WHERE     dbo.CastingMaster.CastingName = @CastingName )
                                                )
                                            )
                                            --AND ( @CastingName IS NULL
                                            --      OR @CastingName IN (
                                            --      SELECT    CastingName
                                            --      FROM      dbo.CastingMaster
                                            --      WHERE     dbo.CastingMaster.CastingName = @CastingName )
                                            --    )
                                            --AND ( @PlantIdString IS NULL
                                            --      OR @PlantIdString = ''
                                            --      OR JobCardID IN (
                                            --      SELECT DISTINCT
                                            --                JobCardID
                                            --      FROM      WaxJobCardTranse
                                            --      WHERE     CastingId IN (
                                            --                SELECT
                                            --                  CastingId
                                            --                FROM
                                            --                  dbo.PlantCastingMapping
                                            --                  INNER JOIN dbo.SplitString(@PlantIdString,
                                            --                  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) ) )
                                            --    )
                                            --AND EntityID = @EntityId
                                ) AS JobCard
                        ORDER BY RowNo
                    END
                ELSE
                    BEGIN
			
                        SELECT  *
                        FROM    ( SELECT TOP ( @PageSize )
                                            ROW_NUMBER() OVER ( ORDER BY WaxJobcardMaster.JobCardNo DESC ) AS RowNo ,
                                            WaxJobCardMaster.JobCardID ,
                                            JobCardNo ,
                                            WaxTreeWeight ,
                                            CASE WHEN WaxTreeWeightUOM = 0
                                                 THEN 'KG'
                                                 ELSE 'GRAM'
                                            END AS WaxTreeWeightUOM ,
                                            CastingTreeWeight ,
                                            CASE WHEN CastingTreeWrightUOM = 0
                                                 THEN 'KG'
                                                 ELSE 'GRAM'
                                            END AS CastingTreeWrightUOM ,
                                            ShellWeightDeWax ,
                                            CASE WHEN ShellWeightDewaxUOM = 0
                                                 THEN 'KG'
                                                 ELSE 'GRAM'
                                            END AS ShellWeightDewaxUOM ,
                                            WaxjobcardMaster.Remarks
                                  FROM      WaxJobCardMaster
                                  WHERE     WaxJobCardMaster.IsDeleted = 0
                                            AND WaxJobCardMaster.EntityId = @EntityId
                                            AND ( @JobCardID IS NULL
                                                  OR WaxJobCardMaster.JobCardID = @JobCardID
                                                )
                                            --AND ( @CastingID IS NULL
                                            --      OR @Castingid IN (
                                            --      SELECT    CastingId
                                            --      FROM      WaxJobCardTranse
                                            --      WHERE     WaxJobCardTranse.CastingID = @CastingID )
                                            --    )
                                            AND ( @CastingID IS NULL
                                                  OR JobCardID IN (
                                                  SELECT DISTINCT
                                                            JobCardID
                                                  FROM      WaxJobCardTranse
                                                  WHERE     CastingID = @CastingID )
                                                )
                                            AND ( ISNULL(@CastingName, '') = ''
                                                  OR JobCardID IN (
													  SELECT DISTINCT
																JobCardID
													  FROM      WaxJobCardTranse
													  WHERE     CastingID IN (
															  SELECT    CastingId
															  FROM      dbo.CastingMaster
															  WHERE     dbo.CastingMaster.CastingName = @CastingName )
                                                )
                                            )
                                            --AND ( @CastingName IS NULL
                                            --      OR @CastingName IN (
                                            --      SELECT    CastingName
                                            --      FROM      dbo.CastingMaster
                                            --      WHERE     dbo.CastingMaster.CastingName = @CastingName )
                                            --    )
                                            --AND ( @PlantIdString IS NULL
                                            --      OR @PlantIdString = ''
                                            --      OR JobCardID IN (
                                            --      SELECT DISTINCT
                                            --                JobCardID
                                            --      FROM      WaxJobCardTranse
                                            --      WHERE     CastingId IN (
                                            --                SELECT
                                            --                  CastingId
                                            --                FROM
                                            --                  dbo.PlantCastingMapping
                                            --                  INNER JOIN dbo.SplitString(@PlantIdString,
                                            --                  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) ) )
                                            --    )
                                            --AND EntityID = @EntityId
                                ) AS JobCard
                        WHERE   RowNo > ( @PageNumber * @PageSize )
                        ORDER BY RowNo
			
                    END
            END 
    
        IF @Parameter =  2 --Fetch No of Record in Register
            BEGIN
                SET @TotalRecords = ( SELECT    COUNT(1)
                                      FROM      WaxJobCardMaster
                                      WHERE     WaxJobCardMaster.IsDeleted = 0
                                                AND WaxJobCardMaster.EntityId = @EntityId
                                                AND ( @JobCardID IS NULL
                                                      OR WaxJobCardMaster.JobCardID = @JobCardID
                                                    )
                                                AND ( @CastingID IS NULL
                                                      OR @CastingID IN (
                                                      SELECT  CastingId
                                                      FROM    WaxJobCardTranse
                                                      WHERE   WaxJobCardTranse.CastingID = @CastingID )
                                                    )
                                                AND ( ISNULL(@CastingName, '') = ''
                                                  OR JobCardID IN (
													  SELECT DISTINCT
																JobCardID
													  FROM      WaxJobCardTranse
													  WHERE     CastingID IN (
															  SELECT    CastingId
															  FROM      dbo.CastingMaster
															  WHERE     dbo.CastingMaster.CastingName = @CastingName )
                                                )
                                            )
                                                --AND ( @CastingName IS NULL
                                                --      OR @CastingName IN (
                                                --      SELECT  Castingname
                                                --      FROM    dbo.CastingMaster
                                                --      WHERE   dbo.CastingMaster.CastingName = @CastingName )
                                                --    )
                                                --AND ( @PlantIdString IS NULL
                                                --      OR @PlantIdString = ''
                                                --      OR JobCardID IN (
                                                --      SELECT DISTINCT
                                                --              JobCardID
                                                --      FROM    WaxJobCardTranse
                                                --      WHERE   CastingId IN (
                                                --              SELECT
                                                --              CastingId
                                                --              FROM
                                                --              dbo.PlantCastingMapping
                                                --              INNER JOIN dbo.SplitString(@PlantIdString,
                                                --              ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) ) )
                                                --    )
                                                --AND EntityID = @EntityId
                                    )
						
                RETURN @TotalRecords
            END
END

GO
