USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[APP_BOQ]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Harshad Chauhan>
-- Create date: <28 Jun 2025>
-- Description:	<>
-- EXEC APP_BOQ @Parameter = 1,@CastingIdString='5D2C9C24-31D5-4347-9DFF-6FD615366C1A', @EntityId=1, @PlantId=1, @BatchiD=0
-- =============================================
CREATE   PROCEDURE [dbo].[APP_BOQ]
	-- Add the parameters for the stored procedure here
	@Parameter INT = 0,
	@CastingIdString VARCHAR(MAX) = NULL,
	@EntityId INT = 0,
	@PlantId INT = 0,
	@BatchiD INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF ( @Parameter = 1)
    BEGIN
        IF ( @CastingIdString IS NOT NULL )
        BEGIN
            DECLARE @SQLCastingIdString VARCHAR(MAX)
            SET @SQLCastingIdString = '
			Declare @Method int = 0
			Select	@Method = InvMethodItem from configuration 
			where	EntityID = ' + CAST(@EntityId AS VARCHAR(50)) + '

			select	*
					, (SELECT	dbo.FloorBatchWiseStock.RawBatchId ,
								dbo.RawInwBatchWiseStock.RawBatchNo ,
								(cast(isnull(Quantity,0) as float) + CAST(Stock AS DECIMAL(18, 3))) AS BatchStock ,
								dbo.RawInwBatchWiseStock.PurchaseItemId ,
								CAST(Qty AS DECIMAL(18, 3)) AS Qty,
								0.000 AS TransactionQty ,
								cast(isnull(Quantity ,0) as float) AS ConsumptionQty ,
								isnull(ConsumptionBatchId ,CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)) as ConsumptionBatchId,
								0 as ConsumptionID ,
								isnull(ConsumptionBatchWise.ReferenceID, cast(cast(0 as binary ) as uniqueidentifier) ) as ReferenceID,
								cast(isnull(Quantity,0)as DECIMAL(18,3)) AS ActualQty
						FROM    dbo.FloorBatchWiseStock
								INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.FloorBatchWiseStock.RawBatchId
								Left Join ConsumptionBatchWise On ConsumptionBatchWise.RawBatchId = FloorBatchWiseStock.RawBatchId
										and ConsumptionBatchWise.Quantity > 0
										and (ConsumptionBatchWise.ReferenceID = Final.BOQConsumptionID)
								Left Join (select 
												ROW_NUMBER() over(Partition by rawBatchNo Order by InwardDate desc) as rw, 
												RawMaterialInward.InwardDate as InwDate,
												RawMaterialInwardDetail.RawBatchNo
										from	RawMaterialInwardDetail 
												INNER JOIN RawMaterialInward ON RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId
										WHERE	PurchaseItemId = Final.purchaseItemId 
												and RawMaterialInward.IsDeleted = 0 
												and RawMaterialInwardDetail.IsDeleted = 0 
												and RawMaterialInward.PlantId = ' + CAST(@PlantId AS VARCHAR(50)) + '
												and RawMaterialInward.EntityId = ' + CAST(@EntityId AS VARCHAR(50)) + '
												and RawMaterialInward.IsTransfer = 0
										Union
										select	ROW_NUMBER() over(Partition by rawBatchNo Order by ProductionDate desc) as rw, 
												ProductionDate as InwDate,
												RawBatchNo 
										from	SandProduction 
										where	SandProduction.IsDeleted = 0
												and SandProduction.PlantId = ' + CAST(@PlantId AS VARCHAR(50)) + '
												AND SandProduction.EntityID = ' + CAST(@EntityId AS VARCHAR(50)) + '
								) as TabInw ON TabInw.RawBatchNo = RawInwBatchWiseStock.RawBatchNo and rw = 1
						WHERE   RawInwBatchWiseStock.PurchaseItemId = Final.purchaseItemId
								AND ((FloorBatchWiseStock.Stock + ISNULL(ConsumptionBatchWise.Quantity, 0)) > 0)
								AND (ISNULL(' + CAST(@PlantId AS VARCHAR(50)) + ', 0) = 0 
									OR FloorBatchWiseStock.PlantId  = ' + CAST(@PlantId AS VARCHAR(50)) + ')
						ORDER BY 
										 CASE WHEN (@Method = 0 OR @Method = 2)  THEN TabInw.InwDate END DESC,
										 CASE WHEN (@Method = 0 OR @Method = 2)  THEN RawInwBatchWiseStock.RawBatchId END DESC,
										 CASE WHEN @Method = 1 THEN TabInw.InwDate END ASC,
										 CASE WHEN @Method = 1 THEN RawInwBatchWiseStock.RawBatchId END ASC
							for XML PATH, ROOT(''ItemWiseBatchWiseStock'')
					) AS BatchDetails
			from (
				SELECT  ItemName, 
						ItemCode,
						PurchaseItemMaster.PurchaseItemId AS PurchaseItemID,
						(BOQTrans.Qty) AS Qty ,
						(BOQTrans.QtyPerCasting) AS QtyPerCasting ,
						(CAST((BOQTrans.Qty) as varchar(MAX)) + ''' + '/' + ''' + CAST((BOQTrans.QtyPerCasting) as varchar(MAX))) as ViewQty,
						( ISNULL(Stock, 0) + ISNULL(HeatwiseBOQConsumption.ConsumedQty, 0) ) AS  Stock ,
						ISNULL(HeatwiseBOQConsumption.ConsumedQty, 0) AS ConsumedQty ,
						ISNULL(HeatwiseBOQConsumption.ConsumedQty, 0) AS Consumption,
						BOQMaster.CastingId as CastingID,
						CastingMaster.CastingCode,
						CastingMaster.CastingName,
						HeatwiseBOQConsumption.BOQConsumptionID
				FROM    PurchaseItemMaster
						Inner join PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
						INNER JOIN BOQTrans ON PurchaseItemMaster.PurchaseItemId = BOQTrans.PurchaseItemId
						LEFT JOIN FloorInventoryDetails ON FloorInventoryDetails.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
											AND FloorInventoryDetails.Entity = ' + CAST(@EntityId AS VARCHAR(50)) + '
											AND FloorInventoryDetails.PlantId = ' + CAST(@PlantId AS VARCHAR(50)) + '
						INNER JOIN BOQMaster ON BOQMaster.BOQId = BOQTrans.BOQId AND BOQMaster.CastingId in (' + @CastingIdString + ')  
											AND BOQMaster.IsDeleted = 0
						INNER JOIN CastingMaster On CastingMaster.CastingId = BOQMaster.CastingId
						LEFT JOIN HeatwiseBOQConsumption ON HeatwiseBOQConsumption.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
											and HeatwiseBOQConsumption.CastingID = BOQMaster.CastingId
											and HeatwiseBOQConsumption.ProductionBatchID = ' + CAST(@BatchiD AS VARCHAR(50)) + '
				Where	purchaseItemMaster.IsBOQ = 1  
						AND PurchaseItemMaster.IsNonConsumable=0
						AND ISNULL(BOQMaster.IsForPouring, 1) = 1 and PurchaseItemMaster.IsDeleted =0 
						and PurchaseCompanyMapping.CompanyId = ' + CAST(@EntityId AS VARCHAR(50)) + '
			) AS Final
			ORDER by PurchaseItemId'
            
			EXEC(@SQLCastingIdString)
            						
        END
    END
END
GO
