USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportInhouseVsPurchaseCastingStock]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Dhruvin>
-- Create date: <Create Date,,17-06-2020>
-- Description:	<Description,,Report Inhouse vs purchase castingStock>
-- =============================================
CREATE PROCEDURE [dbo].[ReportInhouseVsPurchaseCastingStock]
 @CastingId UNIQUEIDENTIFIER = NULL ,
 @EntityID INT = 0,
 @PlantIdString VARCHAR(MAX) = NULL
AS
BEGIN
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	  SELECT		ProductionBatch.batchno ,
                    CastingHeatCode.HeatCode ,
                    SUM(CastingStockBatch.BatchStock) AS BatchStock
            FROM    CastingStockBatch
                    LEFT JOIN CastingHeatCode ON CastingStockBatch.productionbatchID = CastingHeatCode.ProductionBatchID
                                                 AND CastingStockBatch.CastingID = CastingHeatCode.CastingID
                                                 AND CastingStockBatch.HeatCodeID = CastingHeatCode.HeatCodeID
                    INNER JOIN ProductionBatch ON ProductionBatch.batchID = CastingStockBatch.productionbatchID
            WHERE   CastingStockBatch.BatchStock <> 0
                    AND ProductionBatch.BatchType = 0
                    AND ( @CastingId IS NULL
                          OR CastingStockBatch.CastingID = @CastingId
                        )
                    AND ( @PlantIdString IS NULL
                          OR @PlantIdString = ''
                          OR CastingStockBatch.CastingId IN (
                          SELECT    CastingId
                          FROM      dbo.PlantCastingMapping
                                 where PlantId in (SELECT Item FROM @Plant))
                        )
                    AND ProductionBatch.EntityID = @EntityId
            GROUP BY ProductionBatch.batchno , CastingHeatCode.HeatCode
				
            SELECT		ProductionBatch.batchno ,
                    CastingHeatCode.HeatCode ,
                    SUM(CastingStockBatch.BatchStock) AS BatchStock
            FROM    CastingStockBatch
                    LEFT JOIN CastingHeatCode ON CastingStockBatch.productionbatchID = CastingHeatCode.ProductionBatchID
                                                 AND CastingStockBatch.CastingID = CastingHeatCode.CastingID
                                                 AND CastingStockBatch.HeatCodeID = CastingHeatCode.HeatCodeID
                    INNER JOIN ProductionBatch ON ProductionBatch.batchID = CastingStockBatch.productionbatchID
            WHERE   CastingStockBatch.BatchStock <> 0
                    AND ProductionBatch.BatchType = 3
                    AND ( @CastingId IS NULL
                          OR CastingStockBatch.CastingID = @CastingId
                        )
                    AND ( @PlantIdString IS NULL
                          OR @PlantIdString = ''
                          OR CastingStockBatch.PlantId in (SELECT Item FROM @Plant)
                        )
                    AND CastingStockBatch.EntityId = @EntityId
            GROUP BY ProductionBatch.batchno , CastingHeatCode.HeatCode
				
END

GO
