USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePrefixSuffix]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdatePrefixSuffix]
	@PageCode VARCHAR(30),	
	@Prefix Varchar(25),
	@Suffix varchar(25),
	@Separator varchar(25),
	 @Applydate  date,
	@PrefixSuffixId int,
	@SameExportAndInvoiceNo bit ,
	@SeriesId int = 0,
	@IsExport int = 0
AS
Declare
@SecondApplyDate DATE = null

BEGIN
	select top 1  @SecondApplyDate = lead(Applydate) over(order by Applydate) 
	from Prefix_Suffix p
	where p.Invoice_SeriesId =@SeriesId
	and p.Applydate >= @Applydate
	order by p.Applydate;

	
		IF ( @PageCode = 'Order Acceptance' )
                            BEGIN
                               
                                        UPDATE  dbo.OrderMaster
                                        SET     Prefix = @Prefix ,
                                                Suffix = @Suffix ,
                                                Separator = @Separator
                                                 FROM OrderMaster 
                                WHERE   ((
											@SecondApplyDate IS NULL
											AND CAST(OrderDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
											@SecondApplyDate IS NOT NULL
											AND CAST(OrderDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										))
								--CAST(OrderDate AS DATE) >= CAST(@Applydate  AS DATE) 
										and (@SeriesId = 0 or OrderMaster.SeriesID = @SeriesId)
                                       
                            END	                            
                        IF ( @PageCode = 'Work Order' )
                            BEGIN                                                                  
                                        UPDATE  dbo.OrderMaster
                                        SET     WOPrefix = @Prefix ,
                                                WOSuffix = @Suffix ,
                                                WOSeparator = @Separator
                                        WHERE   ((
													@SecondApplyDate IS NULL
													AND CAST(OrderDate AS DATE) >= CAST(@Applydate AS DATE)
												)
												OR
												(
													@SecondApplyDate IS NOT NULL
													AND CAST(OrderDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
												))
										--CAST(OrderDate AS DATE) >= CAST(@Applydate  AS DATE) 
											and (@SeriesId = 0 or OrderMaster.SeriesID = @SeriesId)
                                                                                   
                            END	                            
                        IF ( @PageCode = 'Invoice' Or @PageCode = 'Return To Customer')
                            BEGIN
								if(@IsExport = 0)
								begin
                                UPDATE  dbo.dispatchmaster 
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                        FROM dispatchmaster
                                WHERE   ((
													@SecondApplyDate IS NULL
													AND CAST(dispatchdate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(dispatchdate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										))
								--CAST(dispatchdate AS DATE)  >= CAST(@Applydate  AS DATE) 
                                        AND IsInvoice = 'INVOICE'  -- //Update Prefix Sufffix BY Invoice Date
                                       -- AND IsExport = 0                                      
                                       and (@SeriesId = 0 or dispatchmaster.SeriesId = @SeriesId)
                                end
                                else
                                begin
									UPDATE  dbo.dispatchmaster
                                    SET     ExpPrefix = @Prefix ,
                                            ExpSuffix = @Suffix ,
                                            ExpSeparator = @Separator
                                    WHERE   ((
													@SecondApplyDate IS NULL
													AND CAST(dispatchdate AS DATE) >= CAST(@Applydate AS DATE)
											)
											OR
											(
													@SecondApplyDate IS NOT NULL
													AND CAST(dispatchdate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
											))
									--CAST(dispatchdate AS DATE) >= CAST(@Applydate  AS DATE) 
                                            AND IsInvoice = 'INVOICE'  -- //Update Prefix Sufffix BY Invoice Date
                                            AND IsExport = 1
                                            and (@SeriesId = 0 or dispatchmaster.SeriesId = @SeriesId)
                                            
                                           
                                end
                            END	
                        IF ( @PageCode = 'Purchase Order' )
                            BEGIN
                               
                                   
                                        UPDATE  dbo.PurchaseOrder_Master
                                        SET     Prefix = @Prefix ,
                                                Suffix = @Suffix ,
                                                Separator = @Separator
                                        FROM PurchaseOrder_Master       
                                         WHERE  ((
													@SecondApplyDate IS NULL
													AND CAST(OrderDate AS DATE) >= CAST(@Applydate AS DATE)
												)
												OR
												(
													@SecondApplyDate IS NOT NULL
													AND CAST(OrderDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
												))
										--CAST(OrderDate AS DATE)   >= CAST(@Applydate  AS DATE)                                      
                                        and (@SeriesId = 0 or PurchaseOrder_Master.SeriesID = @SeriesId)
                                   
                            END
                        IF ( @PageCode = 'Indent' )
                            BEGIN
                                UPDATE  dbo.IndentMaster
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                WHERE  ((
													@SecondApplyDate IS NULL
													AND CAST(IndentDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(IndentDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										) ) 
								--CAST(IndentDate AS DATE)  >= CAST(@Applydate  AS DATE)   -- //Update Prefix Sufffix BY Indent Date 
                                --and (@SeriesId = 0 or IndentMaster.SeriesId = @SeriesId)
                            END	
                        IF ( @PageCode = 'Material Issue' )
                            BEGIN
                                UPDATE  dbo.MaterialIssue
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                 WHERE  ((
													@SecondApplyDate IS NULL
													AND CAST(IssueDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(IssueDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										) )   
								--CAST(IssueDate AS DATE)    >= CAST(@Applydate  AS DATE)   -- //Update Prefix Sufffix BY Issue Date
                                 and (@SeriesId = 0 or MaterialIssue.SeriesID = @SeriesId)
                            END		
                        IF ( @PageCode = 'Inward' Or @PageCode = 'Job Inward' or @PageCode='Disassemble Entry' )
                        BEGIN
						
							
                            UPDATE  dbo.RawMaterialInward
                            SET     Prefix = @Prefix ,
                                    Suffix = @Suffix ,
                                    Separator = @Separator
                            FROM	RawMaterialInward  
                           WHERE  ((
													@SecondApplyDate IS NULL
													AND CAST(InwardDate AS DATE) >= CAST(@Applydate AS DATE)
								  )
								  OR
								  (
													@SecondApplyDate IS NOT NULL
													AND CAST(InwardDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
								  ))
							--CAST(InwardDate AS DATE)   >= CAST(@Applydate  AS DATE)  
									and (@SeriesId = 0 or RawMaterialInward.SeriesId = @SeriesId)
							
							--Commented by Ritik on 20-06-2025
							--UPDATE JobReturnMaster
							--	SET Prefix =  @Prefix ,
							--	Suffix =@Suffix,
							--	Separator =@Separator 
							--	from JobReturnMaster 
							-- INNER JOIN JobReturnTranse ON JobReturnTranse.JRID = JobReturnMaster.JRID 
							-- INNER JOIN InwardJobCastingTranse ON InwardJobCastingTranse.JRTranseID =JobReturnTranse.JRTranseID 
							-- INNER JOIN RawMaterialInward ON RawMaterialInward.InwardId = InwardJobCastingTranse.InwardID 
							--	  WHERE   (
							--						@SecondApplyDate IS NULL
							--						AND CAST(JRDate AS DATE) >= CAST(@Applydate AS DATE)
							--			  )
							--			  OR
							--			  (
							--						@SecondApplyDate IS NOT NULL
							--						AND CAST(JRDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
							--			  )   
							--	 --CAST(JRDate AS DATE)   >= CAST(@Applydate  AS DATE) 
							--	 and (@SeriesId = 0 or RawMaterialInward.SeriesId = @SeriesId)

							UPDATE  dbo.StoreReturnMaster
                            SET     Prefix = @Prefix ,
                                    Suffix = @Suffix ,
                                    Separator = @Separator
                            FROM	StoreReturnMaster  
                             WHERE   ((
													@SecondApplyDate IS NULL
													AND CAST(ReturnDate AS DATE) >= CAST(@Applydate AS DATE)
									 )
									OR
									(
													@SecondApplyDate IS NOT NULL
													AND CAST(ReturnDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
									) )   
							--CAST(ReturnDate AS DATE)    >= CAST(@Applydate  AS DATE)  
									and ( StoreReturnMaster.SeriesId = @SeriesId) and IsReturnAgainstTransfer = 1
								
										
                        END	
                       -- IF ( @PageCode = 'JobWork In' )
					   IF ( @PageCode = 'Job Return' )
                            BEGIN
                                UPDATE  dbo.JobReturnMaster
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                 WHERE   ((
													@SecondApplyDate IS NULL
													AND CAST(JRDate AS DATE) >= CAST(@Applydate AS DATE)
										 )
										OR
										 (
													@SecondApplyDate IS NOT NULL
													AND CAST(JRDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										 ) )   
								--CAST(JRDate AS DATE)   >= CAST(@Applydate  AS DATE) 
                                and (@SeriesId = 0 or JobReturnMaster.SeriesId = @SeriesId)
                                        -- //Update Prefix Sufffix BY Challan Date 
                            END	
                        IF ( (@PageCode = 'JobWork Out') or (@PageCode = 'JobWork Transfer'))
                            BEGIN
                                UPDATE  dbo.JobOutMaster
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                 FROM JobOutMaster       
                                        WHERE   ((
													@SecondApplyDate IS NULL
													AND CAST(JODate AS DATE) >= CAST(@Applydate AS DATE)
												 )
												OR
												 (
															@SecondApplyDate IS NOT NULL
															AND CAST(JODate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
												 )  )   
										--CAST(JODate AS DATE)     >= CAST(@Applydate  AS DATE)                                        
                                        and (@SeriesId = 0 or JobOutMaster.SeriesId = @SeriesId)
                                         -- //Update Prefix Sufffix BY Challan Date 
                            END	
                        IF ( @PageCode = 'TC' )
                            BEGIN
                                UPDATE  dbo.Test_Certficate
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                WHERE   ((
													@SecondApplyDate IS NULL
													AND CAST(TCDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(TCDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										)  )   
								--CAST(TCDate AS DATE)     >= CAST(@Applydate  AS DATE)   -- //Update Prefix Sufffix BY TC Date 
                                --and (@SeriesId = 0 or Test_Certficate.SeriesId = @SeriesId)
                            END	
                        IF ( @PageCode = 'Purchase Invoice' )
                            BEGIN
                                UPDATE  dbo.PurchaseInvoice
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                 WHERE  ((
													@SecondApplyDate IS NULL
													AND CAST(InvoiceDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(InvoiceDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										))       
								--CAST(InvoiceDate AS DATE)   >= CAST(@Applydate  AS DATE) 
                                         -- //Update Prefix Sufffix BY Invoice Date
                                        -- and (@SeriesId = 0 or PurchaseInvoice.SeriesId = @SeriesId) 
                            END	
                        IF ( @PageCode = 'Customer Return' )
                            BEGIN
                                UPDATE  dbo.CustomerReturnMaster
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                WHERE  ((
													@SecondApplyDate IS NULL
													AND CAST(Returndate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(Returndate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										) ) 
								--CAST(Returndate AS DATE)   >= CAST(@Applydate  AS DATE)   -- //Update Prefix Sufffix BY Return Date 
                                and (@SeriesId = 0 or CustomerReturnMaster.SeriesId = @SeriesId)
                            END	
							IF ( @PageCode = 'Material Requisition' )
                            BEGIN
                                UPDATE  dbo.StoreIndentMaster
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                WHERE  ((
													@SecondApplyDate IS NULL
													AND CAST(IndentDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(IndentDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										) ) 
                                and (@SeriesId = 0 or StoreIndentMaster.SeriesId = @SeriesId)
                            END	
							IF ( @PageCode = 'Material Return' )
                            BEGIN
                                UPDATE  dbo.StoreReturnMaster
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                WHERE  ((
													@SecondApplyDate IS NULL
													AND CAST(ReturnDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(ReturnDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										) ) 
                                and (@SeriesId = 0 or StoreReturnMaster.SeriesId = @SeriesId)
                            END	
                        IF ( @PageCode = 'Quotation' )
                            BEGIN
                                UPDATE  dbo.QuotationMaster
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                        from QuotationMaster  
                                WHERE  ((
													@SecondApplyDate IS NULL
													AND CAST(QuotationDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(QuotationDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										) )  
								--CAST(QuotationDate AS DATE)   >= CAST(@Applydate  AS DATE)                                 
                                and (@SeriesId = 0 or QuotationMaster.SeriesId = @SeriesId)


								Update OrderMaster 
									set RefQuotationNo =   ( isnull(QuotationMaster.Prefix ,'')
															+ isnull(QuotationMaster.Separator,'')  
															+ isnull(QuotationMaster.QuotationNo,'') 
															+ isnull(QuotationMaster.Separator,'')    
															+ isnull(QuotationMaster.Suffix,'' ) ) 
																						
									from QuotationMaster
									inner join OrderMaster on OrderMaster.QuotationId = QuotationMaster.QuotationId
									WHERE   ((
													@SecondApplyDate IS NULL
													AND CAST(QuotationDate AS DATE) >= CAST(@Applydate AS DATE)
											)
											OR
											(
													@SecondApplyDate IS NOT NULL
													AND CAST(QuotationDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
											) )    
									--CAST(QuotationDate AS DATE)  >= CAST(@Applydate  AS DATE)                                 
										and (@SeriesId = 0 or QuotationMaster.SeriesId = @SeriesId)
										and OrderMaster.QuotationId is not null
                            END	
                         IF ( @PageCode = 'Inquiry' )
                            BEGIN
                                UPDATE  dbo.InquiryMaster
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                        From InquiryMaster 
                                WHERE      ( (
													@SecondApplyDate IS NULL
													AND CAST(InquiryDate AS DATE) >= CAST(@Applydate AS DATE)
											)
											OR
											(
													@SecondApplyDate IS NOT NULL
													AND CAST(InquiryDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
											) )  
								--CAST(InquiryDate AS DATE)   >= CAST(@Applydate  AS DATE)                                
                                and (@SeriesId = 0 or InquiryMaster.SeriesId = @SeriesId)
                            END	   
                         
                        IF ( @PageCode = 'Export Invoice' )
                            BEGIN
                                --IF ( @SameExportAndInvoiceNo = 1 )
                                --    UPDATE  dbo.dispatchmaster
                                --    SET     Prefix = @Prefix ,
                                --            Suffix = @Suffix ,
                                --            Separator = @Separator ,
                                --            ExpPrefix = @Prefix ,
                                --            ExpSuffix = @Suffix ,
                                --            ExpSeparator = @Separator
                                --    WHERE   dispatchdate >= CAST(@Applydate  AS DATE) 
                                --            AND IsInvoice = 'INVOICE'  -- //Update Prefix Sufffix BY Invoice Date
                                --            AND IsExport = 1
                                --            and (@SeriesId = 0 or dispatchmaster.SeriesId = @SeriesId)
                                --ELSE
                                    UPDATE  dbo.dispatchmaster
                                    SET     ExpPrefix = @Prefix ,
                                            ExpSuffix = @Suffix ,
                                            ExpSeparator = @Separator
                                    WHERE   ((
													@SecondApplyDate IS NULL
													AND CAST(dispatchdate AS DATE) >= CAST(@Applydate AS DATE)
											)
											OR
											(
													@SecondApplyDate IS NOT NULL
													AND CAST(dispatchdate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
											) )   
									--CAST(dispatchdate AS DATE)    >= CAST(@Applydate  AS DATE) 
                                            AND IsInvoice = 'INVOICE'  -- //Update Prefix Sufffix BY Invoice Date
                                            AND IsExport = 1
                                            and (@SeriesId = 0 or dispatchmaster.SeriesId = @SeriesId)
                                            
                                            
                            END
                        
                        IF ( @PageCode = 'GatePass' )
                            BEGIN
                                
                                        UPDATE  dbo.OutwardMaster
                                        SET     Prefix = @Prefix ,
                                                Suffix = @Suffix ,
                                                Separator = @Separator
                                                 FROM OutwardMaster
                                WHERE       ((
													@SecondApplyDate IS NULL
													AND CAST(ReturnDate AS DATE) >= CAST(@Applydate AS DATE)
											)
											OR
											(
													@SecondApplyDate IS NOT NULL
													AND CAST(ReturnDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
											) )     
								--CAST(ReturnDate AS DATE)    >= CAST(@Applydate  AS DATE)  
                                       -- WHERE   OrderDate >= CAST(@Applydate  AS DATE)                                                 
                                      and (@SeriesId = 0 or OutwardMaster.SeriesId = @SeriesId)
                                    
                            END	  
                     IF ( @PageCode = 'RT Inspection' )-- added by megha
						BEGIN
                            
									UPDATE  dbo.RTMaster
									SET     Prefix = @Prefix ,
											Suffix = @Suffix ,
											Separator = @Separator
											 FROM RTMaster 
							WHERE       ((
													@SecondApplyDate IS NULL
													AND CAST(RTDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(RTDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										) )    
							--CAST(RTDate AS DATE)  >= CAST(@Applydate  AS DATE)  
							and (@SeriesId = 0 or RTMaster.SeriesId = @SeriesId)
                                
						END	 
						IF ( @PageCode = 'Heat Treatment' ) -- added by megha
						BEGIN
                            
									UPDATE  dbo.HTMaster
									SET     Prefix = @Prefix ,
											Suffix = @Suffix ,
											Separator = @Separator
											 FROM HTMaster 
							WHERE       ((
													@SecondApplyDate IS NULL
													AND CAST(HTDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(HTDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										) )   
							--CAST(HTDate AS DATE)  >= CAST(@Applydate  AS DATE)  
							and (@SeriesId = 0 or HTMaster.SeriesId = @SeriesId)
                                
						END	 
					 IF ( @PageCode = 'Casting Dim Inspection' )-- added by megha
					BEGIN
                        
								UPDATE  dbo.CastingDimInspMaster
								SET     Prefix = @Prefix ,
										Suffix = @Suffix ,
										Separator = @Separator
										 FROM CastingDimInspMaster 
						WHERE       ((
													@SecondApplyDate IS NULL
													AND CAST(InspectionDate AS DATE) >= CAST(@Applydate AS DATE)
									)
									OR
									(
													@SecondApplyDate IS NOT NULL
													AND CAST(InspectionDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
									) )  
						--CAST(InspectionDate AS DATE)   >= CAST(@Applydate  AS DATE) 
						and (@SeriesId = 0 or CastingDimInspMaster.SeriesId = @SeriesId)
                            
					END	 		 
					
						IF ( @PageCode = 'Supplier Invoice' )
                            BEGIN
                               
                                   
                                        UPDATE  dbo.PurchaseInvoice
                                        SET     Prefix = @Prefix ,
                                                Suffix = @Suffix ,
                                                Separator = @Separator
                                        FROM PurchaseInvoice       
                                        WHERE       ((
														@SecondApplyDate IS NULL
														AND CAST(InvoiceDate AS DATE) >= CAST(@Applydate AS DATE)
													)
													OR
													(
														@SecondApplyDate IS NOT NULL
														AND CAST(InvoiceDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
													))  
										--CAST(InvoiceDate AS DATE)  >= CAST(@Applydate  AS DATE)                                      
                                        and (@SeriesId = 0 or PurchaseInvoice.SeriesID = @SeriesId)
                                   
                            END			
							
							    IF ( @PageCode = 'Supplier Quotation' )
                            BEGIN                                                                  
                                        UPDATE  dbo.Quotation_Master
                                        SET     Prefix = @Prefix ,
                                                Suffix = @Suffix ,
                                                Separator = @Separator
                                        WHERE       ((
														@SecondApplyDate IS NULL
														AND CAST(QuoteDate AS DATE) >= CAST(@Applydate AS DATE)
													)
													OR
													(
														@SecondApplyDate IS NOT NULL
														AND CAST(QuoteDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
													))   
										--CAST(QuoteDate AS DATE)  >= CAST(@Applydate  AS DATE) 
											and (@SeriesId = 0 or Quotation_Master.SeriesID = @SeriesId)
                                                                                   
                            END	  

				 IF ( (@PageCode = 'Test Certificate'))
                            BEGIN
                                UPDATE  dbo.TCMaster
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                 FROM TCMaster       
                                        WHERE       ((
														@SecondApplyDate IS NULL
														AND CAST(TCDate AS DATE) >= CAST(@Applydate AS DATE)
													)
													OR
													(
														@SecondApplyDate IS NOT NULL
														AND CAST(TCDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
													))   
										--CAST(TCDate AS DATE)     >= CAST(@Applydate  AS DATE)                                        
                                        and (@SeriesId = 0 or TCMaster.SeriesId = @SeriesId)                                         
                            END		
				IF ( @PageCode = 'Raw Material Rejection' )
                            BEGIN
                                UPDATE  dbo.RawMaterialRejectionMaster
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                 WHERE  ((
													@SecondApplyDate IS NULL
													AND CAST(RejectionDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(RejectionDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										))    
								--CAST(IssueDate AS DATE)    >= CAST(@Applydate  AS DATE)   -- //Update Prefix Sufffix BY Issue Date
                                 and (@SeriesId = 0 or RawMaterialRejectionMaster.SeriesID = @SeriesId)
                            END		
								IF ( @PageCode = 'Dispatch Advice' )
                            BEGIN
                                UPDATE  dbo.DispatchAdvice 
                                SET     Prefix = @Prefix ,
                                        Suffix = @Suffix ,
                                        Separator = @Separator
                                 WHERE  ((
													@SecondApplyDate IS NULL
													AND CAST(DispatchAdviceDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(DispatchAdviceDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										))    
								--CAST(IssueDate AS DATE)    >= CAST(@Applydate  AS DATE)   -- //Update Prefix Sufffix BY Issue Date
                                 and (@SeriesId = 0 or DispatchAdvice.SeriesID = @SeriesId)
                            END		
							IF ( @PageCode = 'Mechanical Inspection' ) 
						BEGIN
                            
									UPDATE  dbo.MechAnalysisMas
									SET     Prefix = @Prefix ,
											Suffix = @Suffix ,
											Separator = @Separator
											 FROM MechAnalysisMas 
							WHERE       ((
													@SecondApplyDate IS NULL
													AND CAST(MechDate AS DATE) >= CAST(@Applydate AS DATE)
										)
										OR
										(
													@SecondApplyDate IS NOT NULL
													AND CAST(MechDate AS DATE) BETWEEN CAST(@Applydate AS DATE) AND CAST(@SecondApplyDate AS DATE)
										) )   
							--CAST(HTDate AS DATE)  >= CAST(@Applydate  AS DATE)  
							and (@SeriesId = 0 or MechAnalysisMas.SeriesId = @SeriesId)
                                
						END	
END
GO
