USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WaxSetupProductionDataForDownload]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WaxSetupProductionDataForDownload]
	-- Add the parameters for the stored procedure here
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @MachineID UNIQUEIDENTIFIER = NULL ,
    @StartDate DATE = NULL ,
    @EndDate DATE = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
    BEGIN
    
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
        SELECT  WaxSetupProduction.EntryNo AS [EntryNo] ,
                WaxSetupProduction.ProductionDate AS [ProductionDate] ,
                WaxSetupProduction.Shift AS [Shift] ,
                CONVERT(VARCHAR, WaxSetupProduction.StartTime, 100) AS [StartTime] ,
                CONVERT(VARCHAR, WaxSetupProduction.EndTime, 100) AS [EndTime] ,
                ( EmployeeDetails.EmployeeName + ' ('
                  + EmployeeDetails.EmployeeCode + ')' ) AS [OperatorName] ,
      -- MachineMaster.MachineName AS [MachineName],
                ( '(' + PurchaseItemMaster.ItemCode + ') / '
                  + PurchaseItemMaster.ItemName ) AS [MachineName] ,
                CastingMaster.CastingName AS [CastingName] ,
                CastingMaster.CastingCode AS [CastingCode] ,
                WaxSetupProduction.ProductionQty AS [ProductionQty] ,
                WaxSetupProduction.OKQty AS [OKQty] ,
                WaxSetupProduction.RejQty AS [RejQty] ,
                WaxSetupProduction.WtPerPcSetup AS [WeightPerPc] ,
                WaxSetupProduction.TotalWeightSetup AS [TotalWeight]
        FROM    WaxSetupProduction
                INNER JOIN EmployeeDetails ON WaxSetupProduction.OperatorID = EmployeeDetails.EmployeeId
                INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = WaxSetupProduction.MachineID and PurchaseItemMaster.IsEquipment = 1
                INNER JOIN CastingMaster ON CastingMaster.CastingId = WaxSetupProduction.CastingID
        WHERE   WaxSetupProduction.IsDeleted = 0
                AND ( @MachineId IS NULL
                      OR WaxSetupProduction.MachineID = @MachineId
                    )
                AND ( @CastingID IS NULL
                      OR WaxSetupProduction.CastingID = @CastingID
                    )
                AND ( @Enddate IS NULL
                      OR ProductionDate BETWEEN @Startdate AND @Enddate
                    )
                AND ( @PlantIdString IS NULL
                      OR @PlantIdString = ''
                      OR WaxSetupProduction.CastingId IN (
                      SELECT    CastingId
                      FROM      dbo.PlantCastingMapping
                                where PlantId in (SELECT Item FROM @Plant))
                    )
                AND WaxSetupProduction.EntityID = @EntityId
       
    END
GO
