USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Rework_Inspection_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE  PROCEDURE [dbo].[Rework_Inspection_Register]
   
	@PlantIdString VARCHAR(MAX) = NULL ,  
	   @TotalRecords INT = 0 ,
	@ProcessID uniqueidentifier = null, 
    	@HeatCodeId int = 0,
    @CastingName VARCHAR(MAX) = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @MetalID int = 0,
	@BatchID int = 0,
    @EntityId INT = 0 
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	     
		SELECT ROW_NUMBER() OVER(Order by Detail.ReworkInspID) AS SrNo,* FROM
		(
			SELECT	distinct
					CastingName,
					CastingCode,
					MetalName,
					FromProcessMaster.ProcessName as Process,
					ReworkInspectionMaster.OkQty,
					OkProcessMaster.ProcessName as OkTransferProcess,
					ReworkInspectionMaster.ReworkQty,
					ReworkProcessMaster.ProcessName as ReworkProcess,
					ReworkInspectionMaster.RejQty,
					ReasonMaster.Reason as RejReason,
					ReworkInspectionMaster.ReworkInspID,
					batchno as HeatNo,
					HeatCode ,
					(ISNULL(ReworkInspectionMaster.OkQty,0) + ISNULL(ReworkInspectionMaster.ReworkQty,0) + ISNULL(ReworkInspectionMaster.RejQty,0)) as TotalQty
			FROM	ReworkInspectionMaster 
					INNER JOIN ProcessPerformMaster On ProcessPerformMaster.ProcessPerformID = ReworkInspectionMaster.ProcessPerformID
					INNER JOIN ProcessPerformBreakup On ProcessPerformBreakup.ProcessPerformID = ReworkInspectionMaster.ProcessPerformID
					INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.ProcessPerformBreakup.batchID
					INNER JOIN ProductionBatch On ProductionBatch.batchID = CastingStockBatch.productionbatchID
					INNER JOIN CastingMaster On CastingMaster.CastingId = ProcessPerformMaster.CastingID
					INNER JOIN MetalMaster On MetalMaster.MetalId = ProcessPerformMaster.MetalID
					INNER JOIN ProcessMaster FromProcessMaster On FromProcessMaster.ProcessId = ProcessPerformMaster.ProcessID
					LEFT JOIN ProcessMaster OkProcessMaster On OkProcessMaster.ProcessId = ReworkInspectionMaster.OkProcessID
					LEFT JOIN ProcessMaster ReworkProcessMaster On ReworkProcessMaster.ProcessId = ReworkInspectionMaster.ReworkProcessID
					INNER JOIN RejectionMaster On RejectionMaster.RejectionID = ProcessPerformMaster.RejectionID
					INNER JOIN ReasonMaster On ReasonMaster.ReasonID = RejectionMaster.ReasonID
					LEFT JOIN CastingHeatCode On CastingHeatCode.HeatCodeID = RejectionMaster.HeatCodeId
											AND CastingHeatCode.ProductionBatchID = ProductionBatch.batchID
											AND CastingHeatCode.CastingID = RejectionMaster.CastingID
			WHERE	ReworkInspectionMaster.EntityID = @EntityID
					AND ReworkInspectionMaster.IsDeleted = 0
					AND ProcessPerformMaster.IsDeleted = 0
					AND (@CastingID  is null 
						Or RejectionMaster.CastingID = @CastingID)
					AND (@CastingName is null	
						Or @CastingName = ''
						Or CastingMaster.CastingName = @CastingName)
					AND (@ProcessID is null 
						Or ProcessPerformMaster.ProcessID = @ProcessID)
					AND (@MetalID is null	
						Or @MetalID = 0
						Or ProcessPerformMaster.MetalID  = @MetalID)
					AND (@BatchID is null
						Or @BatchID = 0
						Or ProcessPerformBreakup.batchID = @BatchID)
					AND (@HeatCodeId is null
						Or @HeatCodeId = 0
						Or RejectionMaster.HeatCodeId = @HeatCodeId)
					AND ( @PlantIdString IS NULL     OR @PlantIdString = ''    
						OR ReworkInspectionMaster.PlantID IN (    
							  SELECT Item FROM @Plant)
					)    
		) AS  Detail
	 
END
GO
