USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[DeAssemble_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
CREATE   PROCEDURE [dbo].[DeAssemble_Register]
@Parameter INT = 0 ,    
@PageNumber INT = 0 ,                
@PageSize INT = 0 ,                
@InitialLoad INT = 0 ,                
@TotalRecords INT = 0 ,      
@PlantIdString VARCHAR(MAX) = NULL ,  
@PurchaseItemId UNIQUEIDENTIFIER = NULL ,
@Inward_Id uniqueidentifier = null	,
@ItemName VARCHAR(50) = NULL , 
@DateFrom DATETIME = NULL ,
@DateTo DATETIME = NULL , 
@EntityId INT = 0 ,
@CastingId uniqueidentifier = null	, 
@CastingName  VARCHAR(150) = NULL ,
@SeriesId int = 0
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End

	SELECT DISTINCT InwardId
INTO #FilteredInwardIds
FROM RawMaterialInwardDetail D
inner  JOIN PurchaseItemMaster P ON P.PurchaseItemId = D.PurchaseItemId
WHERE D.IsDeleted = 0
	AND (@PurchaseItemId IS NULL OR D.PurchaseItemId = @PurchaseItemId)
	AND (@ItemName IS NULL OR P.ItemName = @ItemName)


	            
        IF @parameter = 1			-- Searching
            BEGIN 
                IF @InitialLoad = 1
                    BEGIN
						
                      SELECT TOP (@PageSize)
							*, 
							ROW_NUMBER() OVER (ORDER BY CAST([InwardDate] AS DATE) DESC, SrNo DESC) AS RowNo 
						FROM (
							SELECT       
								CM.CastingName,
								CM.CastingCode,
								RMI.Casting_Id,
								RMI.DeassembleQty, 
								CONVERT(VARCHAR(11), RMI.InwardDate, 106) AS InwardDate,
								ISNULL(RMI.Prefix, '') +
								ISNULL(RMI.Separator, '') +
								CONVERT(VARCHAR(50), RMI.INWSrNo) +
								ISNULL(RMI.Separator, '') +
								ISNULL(RMI.Suffix, '') AS  
								  SrNo,
								RMI.InwardId
							FROM RawMaterialInward RMI
							INNER JOIN CastingMaster CM 
								ON CM.CastingId = RMI.Casting_Id
							INNER JOIN #FilteredInwardIds FI ON  FI.InwardId = RMI.InwardId
							WHERE 
								RMI.IsDeleted = 0
								AND RMI.IsDeassemble = 1 
								--AND (
								--	@PurchaseItemId IS NULL OR EXISTS (
								--		SELECT 1
								--		FROM RawMaterialInwardDetail D
								--		WHERE D.InwardId = RMI.InwardId
								--		  AND D.IsDeleted = 0
								--		  AND D.PurchaseItemId = @PurchaseItemId
								--	)
								--)
								--AND (
								--	@ItemName IS NULL OR EXISTS (
								--		SELECT 1
								--		FROM RawMaterialInwardDetail D
								--		INNER JOIN PurchaseItemMaster P ON P.PurchaseItemId = D.PurchaseItemId
								--		WHERE D.InwardId = RMI.InwardId
								--		  AND D.IsDeleted = 0
								--		  AND P.ItemName = @ItemName
								--	)
								--)
								AND (
									@PurchaseItemId IS NULL OR  FI.InwardId= RMI.InwardId
								)
								AND (
									@ItemName IS NULL OR FI.InwardId= RMI.InwardId)
								AND (@Inward_Id IS NULL OR RMI.InwardId = @Inward_Id)
								AND (@DateFrom IS NULL OR @DateTo IS NULL OR RMI.InwardDate BETWEEN @DateFrom AND @DateTo)
								AND RMI.EntityID = @EntityID
								AND (
									ISNULL(@PlantIdString, '') = '' 
									OR RMI.PlantId IN (SELECT Item FROM @Plant)
									

							  )AND (@CastingId  IS NULL OR RMI.Casting_Id = @CastingId)
										AND (@CastingName IS NULL OR CM.CastingName = @CastingName)
							AND (@SeriesId = 0 OR RMI.SeriesId= @SeriesId)
) AS test 
ORDER BY RowNo
	  
                    END

                ELSE
                    BEGIN

                        SELECT TOP ( @PageSize ) * FROM (SELECT 
                                *,ROW_NUMBER() OVER ( ORDER BY CAST(inwarddate	 AS DATE) DESC, srno	 DESC ) AS RowNo  
                        FROM    (  SELECT       
        CM.CastingName,
        CM.CastingCode,
        RMI.Casting_Id,
        RMI.DeassembleQty, 
        CONVERT(VARCHAR(11), RMI.InwardDate, 106) AS InwardDate,
      ISNULL(RMI.Prefix, '') +
ISNULL(RMI.Separator, '') +
CONVERT(VARCHAR(50), RMI.INWSrNo) +
ISNULL(RMI.Separator, '') +
ISNULL(RMI.Suffix, '') AS    SrNo,
        RMI.InwardId
    FROM RawMaterialInward RMI
    INNER JOIN CastingMaster CM 
        ON CM.CastingId = RMI.Casting_Id
				INNER JOIN #FilteredInwardIds FI ON  FI.InwardId = RMI.InwardId
    WHERE 
        RMI.IsDeleted = 0
        AND RMI.IsDeassemble = 1 
       
	   	AND (
									@PurchaseItemId IS NULL OR  FI.InwardId= RMI.InwardId
								)
								AND (
									@ItemName IS NULL OR FI.InwardId= RMI.InwardId)

        AND (@Inward_Id IS NULL OR RMI.InwardId = @Inward_Id)
        AND (@DateFrom IS NULL OR @DateTo IS NULL OR RMI.InwardDate BETWEEN @DateFrom AND @DateTo)
        AND RMI.EntityID = @EntityID
        AND (
            ISNULL(@PlantIdString, '') = '' 
            OR RMI.PlantId IN (SELECT Item FROM @Plant)
        )
		AND (@CastingId  IS NULL OR RMI.Casting_Id = @CastingId)
										AND (@CastingName IS NULL OR CM.CastingName = @CastingName)
										AND (@SeriesId = 0 OR RMI.SeriesId= @SeriesId)
                                ) AS StoreReturnMaster
                                ) as MainTBL
                        WHERE   MainTBL.RowNo > ( @PageNumber * @PageSize )
						ORDER BY MainTBL.RowNo asc
                    END

            END
                
        IF @parameter = 2 --Total Records Query
            BEGIN
                SET @TotalRecords = ( 
					SELECT		COUNT(1) FROM  (		
							 SELECT       
        
        RMI.InwardId
    FROM RawMaterialInward RMI
    INNER JOIN CastingMaster CM 
        ON CM.CastingId = RMI.Casting_Id
	INNER JOIN #FilteredInwardIds FI ON  FI.InwardId = RMI.InwardId
    WHERE 
        RMI.IsDeleted = 0
        AND RMI.IsDeassemble = 1 
      
	  	AND (
									@PurchaseItemId IS NULL OR  FI.InwardId= RMI.InwardId
								)
								AND (
									@ItemName IS NULL OR FI.InwardId= RMI.InwardId)

        AND (@Inward_Id IS NULL OR RMI.InwardId = @Inward_Id)
        AND (@DateFrom IS NULL OR @DateTo IS NULL OR RMI.InwardDate BETWEEN @DateFrom AND @DateTo)
        AND RMI.EntityID = @EntityID
        AND (
            ISNULL(@PlantIdString, '') = '' 
            OR RMI.PlantId IN (SELECT Item FROM @Plant)
        )
					AND (@CastingId  IS NULL OR RMI.Casting_Id = @CastingId)
										AND (@CastingName IS NULL OR CM.CastingName = @CastingName)		
										AND (@SeriesId = 0 OR RMI.SeriesId= @SeriesId)
                    ) as s
                )
						
                RETURN @TotalRecords

            END
           
		   if @Parameter = 3
		   begin
		   	SELECT       
								CM.CastingName,
								CM.CastingCode,
								RMI.Casting_Id,
								RMI.DeassembleQty, 
							   RMI.InwardDate AS InwardDate,
								ISNULL(RMI.Prefix, '') +
								ISNULL(RMI.Separator, '') +
								CONVERT(VARCHAR(50), RMI.INWSrNo) +
								ISNULL(RMI.Separator, '') +
								ISNULL(RMI.Suffix, '') AS     SrNo,
								RMI.InwardId,
								PIM.ItemName,
								PIM.ItemCode,
								RD.Quantity AS ReturnQty,
								RD.RawBatchNo as BatchNo  ,
								U.UOM
								, ( STUFF(( SELECT DISTINCT              
                                            ',' + PB.batchno
                                  FROM      ProductionBatch      PB          
                                                   
                                  WHERE     PB.batchID = CF.ProductionBatchID              
                                                          
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) AS HeatNos    
									, ( STUFF(( SELECT DISTINCT              
                                            ',' + CH.HeatCode
                                  FROM      CastingHeatCode      CH          
                                                   
                                  WHERE     CH.HeatCodeID = CF.HeatCodeId and CH.ProductionBatchID= CF.ProductionBatchID
                                                          
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) AS HeatCodes    
								 
							FROM RawMaterialInward RMI
							INNER JOIN CastingMaster CM 
								ON CM.CastingId = RMI.Casting_Id
							INNER JOIN #FilteredInwardIds FI ON  FI.InwardId = RMI.InwardId
							INNER JOIN RawMaterialInwardDetail RD ON RD.InwardId = RMI.InwardId and RD.IsDeleted=0
							INNER JOIN PurchaseItemMaster	PIM ON PIM.PurchaseItemId = RD.PurchaseItemId
							INNER JOIN UOMMaster U ON U.UOMid = PIM.SecondaryUnitOfMeasure 
							INNER JOIN CastingFinalRejection CF ON CF.Inward_Id = RMI.InwardId
							WHERE 
								RMI.IsDeleted = 0
								AND RMI.IsDeassemble = 1 
								 
								AND (
									@PurchaseItemId IS NULL OR  FI.InwardId= RMI.InwardId
								)
								AND (
									@ItemName IS NULL OR FI.InwardId= RMI.InwardId)
								AND (@Inward_Id IS NULL OR RMI.InwardId = @Inward_Id)
								AND (@DateFrom IS NULL OR @DateTo IS NULL OR RMI.InwardDate BETWEEN @DateFrom AND @DateTo)
								AND RMI.EntityID = @EntityID
								AND (
									ISNULL(@PlantIdString, '') = '' 
									OR RMI.PlantId IN (SELECT Item FROM @Plant)
									

							  )AND (@CastingId  IS NULL OR RMI.Casting_Id = @CastingId)
										AND (@CastingName IS NULL OR CM.CastingName = @CastingName)
									AND (@SeriesId = 0 OR RMI.SeriesId= @SeriesId)	 
								  ORDER BY CAST(inwarddate	 AS DATE) DESC, srno	 DESC 

		   end
		 IF @Parameter = 4 -- register info icon 
            BEGIN 
			Select ItemName,Quantity  as Qty,RawMaterialInwardDetail.RawBatchNo as BatchNo  from RawMaterialInward 
			inner join RawMaterialInwardDetail on RawMaterialInwardDetail.InwardId =RawMaterialInward.InwardId
			inner join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
			where RawMaterialInwardDetail.IsDeleted= 0 
				and RawMaterialInward.InwardId =@Inward_Id

			end 

END

GO
