USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CoatingDetails_Insert]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--rewrite this code by Megha for multiple entry together
CREATE   PROCEDURE [dbo].[CoatingDetails_Insert]
@CoatingJson Nvarchar(MAX) 
AS
BEGIN
	declare @CoatDate datetime
	BEGIN TRY
	BEGIN TRANSACTION CoatingDetails_Insert

		
		DECLARE @CoatingDetail table(	CoatingDate date,CoatingEndDate date, EntryNo varchar(50),ShiftId INT,StartTime time(7),EndTime time(7),OperatorID int,MethodID uniqueidentifier,
										CoatToID uniqueidentifier,CoatFromID uniqueidentifier,TransferQty int,CreatedBy int,EntityID int,PlantId int,IsDeWaxing BIT,
										Weight Decimal(18,3),PurchaseItemId uniqueidentifier,MoldTypeId uniqueidentifier,OrderTranseId uniqueidentifier
									);
		DECLARE @CoatingResult table( CoatingId uniqueidentifier,methodId uniqueidentifier,castingId uniqueidentifier,MoldTypeId uniqueidentifier,OrderTranseId uniqueidentifier);

		Insert into @CoatingDetail
		SELECT	t.CoatingDate,t.CoatingEndDate,t.EntryNo,t.ShiftId,t.StartTime,t.EndTime,t.OperatorID,t.MethodID,t.CoatToID,t.CoatFromID,
				t.TransferQty,t.CreatedBy,t.EntityID,t.PlantId,t.IsDeWaxing,t.Weight,t.PurchaseItemId,t.MoldTypeId,t.OrderTranseId
		from	OPENJSON(@CoatingJson)
		WITH
		(	CoatingDate date,CoatingEndDate date,EntryNo varchar(50),ShiftId INT,StartTime time(7),EndTime time(7),OperatorID int,MethodID uniqueidentifier,
			CoatToID uniqueidentifier,CoatFromID uniqueidentifier,TransferQty int,CreatedBy int,EntityID int,PlantId int,IsDeWaxing BIT,
			Weight Decimal(18,3),PurchaseItemId uniqueidentifier,MoldTypeId uniqueidentifier,OrderTranseId uniqueidentifier
		) As t

		Set @CoatDate= (select top 1 CoatingDate from @CoatingDetail)
		--stock validation
		--IF exists(select	MoldInventory.MoldInventory
		--			from	@CoatingDetail as CoatingDetail
		--					--Inner Join (select  MoldInventoryType.MoldTypeID,MoldInventoryType.PatternID
		--					--			from	MoldInventoryType 
		--					--			group by MoldInventoryType.MoldTypeID,MoldInventoryType.PatternID
		--					--	) as MoldInventoryTable on MoldInventoryTable.PatternID = CoatingDetail.MethodID
		--					Inner Join MoldInventory on MoldInventory.MoldingTypeID = CoatingDetail.MoldTypeID
		--						And MoldInventory.Type_Id = CoatingDetail.CoatFromID
		--						And MoldInventory.PlantId = CoatingDetail.PlantId
		--				where	TransferQty > MoldInventory.MoldInventory
		--) 
		--BEGIN
		--	ROLLBACK TRANSACTION CoatingDetails_Insert
		--	RETURN -2
		--END

		IF exists(select	1
					from	@CoatingDetail as CoatingDetail
							--Inner Join (select  MoldInventoryType.MoldTypeID,MoldInventoryType.PatternID
							--			from	MoldInventoryType 
							--			group by MoldInventoryType.MoldTypeID,MoldInventoryType.PatternID
							--	) as MoldInventoryTable on MoldInventoryTable.PatternID = CoatingDetail.MethodID
							Inner Join RawInwBatchWiseStock on RawInwBatchWiseStock.Ref_Id = CoatingDetail.MoldTypeID
								And ((RawInwBatchWiseStock.StockTypeID =CoatingDetail.MethodID and CoatingDetail.CoatFromID = cast(0x0 as uniqueidentifier))
									or RawInwBatchWiseStock.StockTypeID = CoatingDetail.CoatFromID)
								And RawInwBatchWiseStock.PlantId = CoatingDetail.PlantId
								and isnull(RawInwBatchWiseStock.OrderTranseId,cast(0x0 as uniqueidentifier)) = isnull(CoatingDetail.OrderTranseId,cast(0x0 as uniqueidentifier))
						where	(TransferQty) > RawInwBatchWiseStock.Qty
		) 
		BEGIN
			ROLLBACK TRANSACTION CoatingDetails_Insert
			RETURN -2
		END
		INSERT INTO [dbo].[CoatingDetails]
				([CoatingID],[CreatedOn],[CoatingDate],[CoatingEndDate],[EntryNo],[ShiftId],[StartTime],[EndTime],[OperatorID],[MethodID],[CoatToID]
				,[CoatFromID],[TransferQty],[CreatedBy],[EntityID],[PlantId],[IsDeWaxing],[Weight],[PurchaseItemId],[MoldTypeId],[OrderTranseid])
		OUTPUT	INSERTED.CoatingID, INSERTED.PurchaseItemId,inserted.MethodID,inserted.MoldTypeId,inserted.OrderTranseId
		INTO	@CoatingResult
		Select newiD(),Getdate(),* from @CoatingDetail

		----Mold stock
		
		update	MoldInventory set MoldInventory = MoldInventory - qty
		from	(select Sum(TransferQty) as qty,MoldInventory.MoldInventoryID 
				from @CoatingDetail as CoatingDetail
						--Inner Join #MoldInventoryTable as MoldInventoryTable on MoldInventoryTable.PatternID = CoatingDetail.MethodID
					Inner Join MoldInventory on MoldInventory.MoldingTypeID = CoatingDetail.MoldTypeID
						
				where	MoldInventory.Type_Id = CoatingDetail.CoatFromID
				group by MoldInventory.MoldInventoryID
				) as a 
		where a.MoldInventoryID = MoldInventory.MoldInventoryID

		update	MoldInventory set MoldInventory = MoldInventory + qty
		from	(select Sum(TransferQty) as qty,MoldInventory.MoldInventoryID 
				from @CoatingDetail as CoatingDetail
				--Inner Join #MoldInventoryTable as MoldInventoryTable on MoldInventoryTable.PatternID = CoatingDetail.MethodID
				Inner Join MoldInventory on MoldInventory.MoldingTypeID = CoatingDetail.MoldTypeID
					And MoldInventory.PlantId = CoatingDetail.PlantId
				where	MoldInventory.Type_Id = CoatingDetail.CoatToID
				group by MoldInventory.MoldInventoryID
		) as a where a.MoldInventoryID = MoldInventory.MoldInventoryID
		
		INSERT INTO MoldInventory (MoldInventoryID,MoldingTypeID,MoldInventory,SandTypeId,MatchplateID,PlantId,Type_ID)
		Select	NEWID(), MoldTypeID, sum(TransferQty),0,NULL,CoatingDetail.PlantId,CoatToID
		from	@CoatingDetail as CoatingDetail  
				--Inner Join #MoldInventoryTable as MoldInventoryTable on MoldInventoryTable.PatternID = CoatingDetail.MethodID
				Inner Join MoldInventory on MoldInventory.MoldingTypeID = CoatingDetail.MoldTypeID
						And MoldInventory.PlantId = CoatingDetail.PlantId
		where	MoldInventory.Type_Id = CoatingDetail.CoatFromID
				And not exists (select 1 from MoldInventory as a where a.MoldingTypeID = MoldInventory.MoldingTypeID
									And a.Type_ID = CoatToID and a.PlantId = MoldInventory.PlantId)
		group by MoldTypeID,CoatingDetail.PlantId,CoatToID
		----mold stock end
		------------------------------
		----raw Material stock

		Update	RawInwBatchWiseStock
		SET		Qty = Qty - CoatingDetail.TransferQty
		From	@CoatingDetail as CoatingDetail 
				Inner Join PurchaseItemMaster on PurchaseItemMaster.DieID = CoatingDetail.MethodID
				Inner Join RawInwBatchWiseStock on PurchaseItemMaster.PurchaseItemId = RawInwBatchWiseStock.PurchaseItemId
						and RawInwBatchWiseStock.Ref_Id = CoatingDetail.MoldTypeId 
						and CoatingDetail.EntityID = RawInwBatchWiseStock.EntityId
						And CoatingDetail.PlantId = RawInwBatchWiseStock.PlantId
						and CoatingDetail.OrderTranseId = RawInwBatchWiseStock.OrderTranseId
		where	(CoatingDetail.CoatFromID = RawInwBatchWiseStock.StockTypeID 
					Or (CoatingDetail.CoatFromID = CAST(0x0 AS UNIQUEIDENTIFIER) 
					and RawInwBatchWiseStock.StockTypeID = CoatingDetail.MethodID))
	
		Update	RawInwBatchWiseStock
		SET		Qty = Qty + CoatingDetail.TransferQty
		From	@CoatingDetail as CoatingDetail 
				Inner Join PurchaseItemMaster on PurchaseItemMaster.DieID = CoatingDetail.MethodID
				Inner Join RawInwBatchWiseStock on PurchaseItemMaster.PurchaseItemId = RawInwBatchWiseStock.PurchaseItemId
						and RawInwBatchWiseStock.Ref_Id = CoatingDetail.MoldTypeId 
						and CoatingDetail.EntityID = RawInwBatchWiseStock.EntityId
						And CoatingDetail.PlantId = RawInwBatchWiseStock.PlantId
						and CoatingDetail.OrderTranseId = RawInwBatchWiseStock.OrderTranseId
		where	(CoatingDetail.CoatToID = RawInwBatchWiseStock.StockTypeID)

		Insert into RawInwBatchWiseStock ( RawBatchNo,PurchaseItemId,qty,PlantId,EntityId,Status,Ref_Id,StockTypeID,OrderTranseId)
		select	(select RawBatchNo + '-' from RawInwBatchWiseStock as b 
				where b.PurchaseItemId = RawInwBatchWiseStock.PurchaseItemId and b.StockTypeID = CoatingDetail.MethodID
					and b.Ref_Id = CoatingDetail.MoldTypeId
					and b.plantid = CoatingDetail.PlantId
					and isnull(b.OrderTranseId,cast(0x0 as uniqueidentifier)) = isnull(CoatingDetail.OrderTranseId, CAST(0x0 as uniqueidentifier))
					)
				+ case when isnull((select top 1 1 from @CoatingDetail where IsDeWaxing = 1) ,0) = 1 then 'DW' else  cast ((select count(1) from RawInwBatchWiseStock as b 
				where b.PurchaseItemId = RawInwBatchWiseStock.PurchaseItemId
					and b.Ref_Id = CoatingDetail.MoldTypeId
					and b.OrderTranseId = CoatingDetail.OrderTranseId) as varchar(MaX)) end,
				RawInwBatchWiseStock.PurchaseItemId,CoatingDetail.TransferQty,RawInwBatchWiseStock.PlantId,
				RawInwBatchWiseStock.EntityId,RawInwBatchWiseStock.Status,RawInwBatchWiseStock.Ref_Id,CoatToID,
				CoatingDetail.OrderTranseId
		From	@CoatingDetail as CoatingDetail 
				Inner Join PurchaseItemMaster on PurchaseItemMaster.DieID = CoatingDetail.MethodID
				Inner Join RawInwBatchWiseStock on PurchaseItemMaster.PurchaseItemId = RawInwBatchWiseStock.PurchaseItemId
						and RawInwBatchWiseStock.Ref_Id = CoatingDetail.MoldTypeId 
						and CoatingDetail.EntityID = RawInwBatchWiseStock.EntityId
						And CoatingDetail.PlantId = RawInwBatchWiseStock.PlantId
						and CoatingDetail.OrderTranseId = RawInwBatchWiseStock.OrderTranseId
		where	(CoatingDetail.CoatFromID = RawInwBatchWiseStock.StockTypeID 
					Or (CoatingDetail.CoatFromID = CAST(0x0 AS UNIQUEIDENTIFIER) and RawInwBatchWiseStock.StockTypeID = CoatingDetail.MethodID))
				and not exists (	select	1 from RawInwBatchWiseStock as a
									Where	a.PurchaseItemId = RawInwBatchWiseStock.PurchaseItemId
											and a.PlantId = RawInwBatchWiseStock.PlantId
											and a.EntityId = RawInwBatchWiseStock.EntityId
											and a.Ref_Id = RawInwBatchWiseStock.Ref_Id
											and a.StockTypeID =CoatingDetail.CoatToID
											and a.OrderTranseId = RawInwBatchWiseStock.OrderTranseId
								)

		----raw Material stock end
		

		IF Exists(select 1 from @CoatingDetail where IsDeWaxing = 1) 
		BEGIN
			
			select	assemblyStockTable.RawBatchNo,
					CoatingTable.PurchaseItemId as ReturnWaxId,
					CoatingTable.Weight as ReturnWaxWt,
					CoatingTable.PlantId,
					CoatingTable.EntityID,
					CoatingTable.OrderTranseId
			Into	#ReturnTable
			from	@CoatingDetail as CoatingTable
					Inner join PurchaseItemMaster on PurchaseItemMaster.DieID = CoatingTable.MethodID--assembly
					Inner Join RawInwBatchWiseStock as assemblyStockTable on assemblyStockTable.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
						and assemblyStockTable.StockTypeID = CoatingTable.MethodID
						and assemblyStockTable.PlantId = CoatingTable.PlantId
						and assemblyStockTable.EntityId = CoatingTable.EntityID
						and assemblyStockTable.Ref_Id = CoatingTable.MoldTypeId
						and isnull(assemblyStockTable.OrderTranseId, cast(0x0 as uniqueidentifier)) = isnull(CoatingTable.OrderTranseId, cast(0x0 as uniqueidentifier))
			Where	CoatingTable.Weight > 0

			declare @ReturnWax table (PurchaseItemId uniqueidentifier,RawBatchId bigint, RawBatchNo varchar(Max))

			Insert into @ReturnWax(PurchaseItemId,RawBatchId,RawBatchNo)
			select returnStockTable.PurchaseItemId ,returnStockTable.RawBatchId,ReturnTable.RawBatchNo
			From	#ReturnTable as ReturnTable
			Inner Join RawInwBatchWiseStock as returnStockTable on returnStockTable.PurchaseItemId = ReturnTable.ReturnWaxId
						and returnStockTable.PlantId = ReturnTable.PlantId
						and returnStockTable.EntityId = ReturnTable.EntityID
						and returnStockTable.RawBatchNo  = ReturnTable.RawBatchNo
						and isnull(returnStockTable.OrderTranseId, cast(0x0 as uniqueidentifier)) = isnull(ReturnTable.OrderTranseId, cast(0x0 as uniqueidentifier))

			Insert into RawInwBatchWiseStock(RawBatchNo ,PurchaseItemId ,Qty ,PlantId,EntityId)
			OUTPUT	INSERTED.PurchaseItemId, INSERTED.RawBatchId,inserted.RawBatchNo
			INTO	@ReturnWax
			Select	RawBatchNo,ReturnTable.ReturnWaxId,0,Plantid,EntityID from #ReturnTable as ReturnTable
			where	not exists(	select	1 
								from	RawInwBatchWiseStock as returnStockTable
								where	returnStockTable.PurchaseItemId = ReturnTable.ReturnWaxId
										and returnStockTable.PlantId = ReturnTable.PlantId
										and returnStockTable.EntityId = ReturnTable.EntityID
										and returnStockTable.RawBatchNo  = ReturnTable.RawBatchNo
										and isnull(returnStockTable.OrderTranseId, cast(0x0 as uniqueidentifier)) = isnull(ReturnTable.OrderTranseId, cast(0x0 as uniqueidentifier))
							)

			Insert into FloorHistoryTransaction (InOut,Tagging,ItemId,TransactionQty,RawBatchId,EntityId,PlantId,ProcessDate,CreatedOn)
			select InOut,TaggingType,ReturnTable.ReturnWaxId,ReturnTable.ReturnWaxWt,ReturnWax.RawBatchId,ReturnTable.EntityID,ReturnTable.PlantId,@CoatDate,GetDate()
			from	FloorBatchWiseStock
					Inner Join RawInwBatchWiseStock on RawInwBatchWiseStock.RawBatchId = FloorBatchWiseStock.RawBatchId
					Inner Join @ReturnWax as ReturnWax on ReturnWax.PurchaseItemId = FloorBatchWiseStock.PurchaseItemId
						and ReturnWax.RawBatchId = FloorBatchWiseStock.RawBatchId
					inner Join #ReturnTable returnTable on returnTable.ReturnWaxId = ReturnWax.PurchaseItemId
						and returnTable.RawBatchNo = RawInwBatchWiseStock.RawBatchNo
						and FloorBatchWiseStock.PlantId = returnTable.PlantId
					Inner Join TaggingTable on 1=1 And Tagging = 'Foundry Return' And IsFloor = 1
			
			Update	FloorBatchWiseStock
			set		stock = stock + returnTable.ReturnWaxWt
			from	FloorBatchWiseStock
					Inner Join RawInwBatchWiseStock on RawInwBatchWiseStock.RawBatchId = FloorBatchWiseStock.RawBatchId
					Inner Join @ReturnWax as ReturnWax on ReturnWax.PurchaseItemId = FloorBatchWiseStock.PurchaseItemId
						and ReturnWax.RawBatchId = FloorBatchWiseStock.RawBatchId
					inner Join #ReturnTable returnTable on returnTable.ReturnWaxId = ReturnWax.PurchaseItemId
						and returnTable.RawBatchNo = RawInwBatchWiseStock.RawBatchNo
						and FloorBatchWiseStock.PlantId = returnTable.PlantId
			
			Insert into FloorHistoryTransaction (InOut,Tagging,ItemId,TransactionQty,RawBatchId,EntityId,PlantId,ProcessDate,CreatedOn)
			select InOut,TaggingType,ReturnTable.ReturnWaxId,ReturnTable.ReturnWaxWt,ReturnWax.RawBatchId,ReturnTable.EntityID,ReturnTable.PlantId,@CoatDate,GetDate()
			from #ReturnTable as ReturnTable
			inner Join @ReturnWax as ReturnWax on ReturnWax.PurchaseItemId = ReturnTable.ReturnWaxId
					AND ReturnTable.RawBatchNo = ReturnWax.RawBatchNo
			Inner Join TaggingTable on 1=1 And Tagging = 'Foundry Return' And IsFloor = 1
			Where not exists ( select 1 from FloorBatchWiseStock where FloorBatchWiseStock.RawBatchId = ReturnWax.RawBatchId)

			Insert into FloorBatchWiseStock(BatchStockId,PurchaseItemId,RawBatchId,Stock,PlantId,EntityId)
			select newid(),ReturnTable.ReturnWaxId,ReturnWax.RawBatchId,ReturnTable.ReturnWaxWt,ReturnTable.PlantId,ReturnTable.EntityID 
			from #ReturnTable as ReturnTable
			inner Join @ReturnWax as ReturnWax on ReturnWax.PurchaseItemId = ReturnTable.ReturnWaxId
					AND ReturnTable.RawBatchNo = ReturnWax.RawBatchNo
			Where not exists ( select 1 from FloorBatchWiseStock where FloorBatchWiseStock.RawBatchId = ReturnWax.RawBatchId)
			
			Update	FloorInventoryDetails
			Set		Stock = Stock + isnull(ReturnwaxWt,0)
			From	FloorInventoryDetails 
					inner Join (select Sum(ReturnTable.ReturnWaxWt) as ReturnwaxWt, PlantId , entityId,ReturnWaxId from	#ReturnTable as ReturnTable 
								where ReturnwaxWt > 0
								group by  PlantId , entityId,ReturnWaxId
								) as ReturnTable on ReturnTable.ReturnWaxId = FloorInventoryDetails.PurchaseItemId
								and ReturnTable.PlantId = FloorInventoryDetails.PlantId
								and ReturnTable.EntityID = FloorInventoryDetails.Entity

			Insert into FloorInventoryDetails 	(stockId,PurchaseItemId,Stock,Entity,PlantId)					
			select newId(),ReturnWaxId,ReturnwaxWt,EntityID,PlantId 
			from (	select	Sum(ReturnTable.ReturnWaxWt) as ReturnwaxWt, PlantId , entityId,ReturnWaxId from	#ReturnTable as ReturnTable 
					where	ReturnwaxWt > 0
					group by	PlantId , entityId,ReturnWaxId
				) as ReturnTable
			where not exists ( select 1 from FloorInventoryDetails where FloorInventoryDetails.PurchaseItemId = ReturnTable.ReturnWaxId
								and FloorInventoryDetails.PlantId = ReturnTable.PlantId
								and FloorInventoryDetails.Entity = ReturnTable.EntityID)
		
		
			;WITH PP AS
			(
				SELECT 
				
					Row_Number() Over(partition by ProductionBatchID order by Productiondate asc)  as rw,
					p.ProductionBatchID,
					p.MoldTypeId,
					isnull(p.OrderTranseId , cast(0X0 as uniqueidentifier)) as OrderTranseId,
					p.AvailDeWaxQty,
					SUM(p.AvailDeWaxQty) OVER
					(
						PARTITION BY p.moldTypeId,
						isnull(p.OrderTranseId , cast(0X0 as uniqueidentifier))
						ORDER BY p.AvailDeWaxQty ASC, p.ProductionBatchID
					) AS RunningBlockQty,NoOfShots
				FROM PatternProduction p
				Where p.IsDeleted = 0 and p.IsAssembly= 1 And p.AvailDeWaxQty > 0
			),
			CD AS
			(
				SELECT
					c.MoldTypeId,
					isnull(c.OrderTranseId , cast(0X0 as uniqueidentifier)) as OrderTranseId,
					c.TransferQty,
					SUM(c.TransferQty) OVER
					(
						PARTITION BY c.MoldTypeId,
						isnull(c.OrderTranseId , cast(0X0 as uniqueidentifier))     
					) AS RunningTransferQty
				FROM @CoatingDetail c
			),
			FINAL AS
			(
				SELECT
					p.ProductionBatchID,
					p.MoldTypeId,
					isnull(p.OrderTranseId , cast(0X0 as uniqueidentifier)) as OrderTranseId,
					p.AvailDeWaxQty,
					CASE
						WHEN p.RunningBlockQty <= c.RunningTransferQty THEN p.AvailDeWaxQty
						WHEN p.RunningBlockQty - p.AvailDeWaxQty < c.RunningTransferQty
							 THEN c.RunningTransferQty - (p.RunningBlockQty - p.AvailDeWaxQty)
						ELSE 0
					END AS ConsumedQty,
					CASE
						WHEN p.RunningBlockQty <= c.RunningTransferQty THEN 0
						WHEN p.RunningBlockQty - p.AvailDeWaxQty < c.RunningTransferQty
							 THEN p.RunningBlockQty - c.RunningTransferQty
						ELSE p.AvailDeWaxQty
					END AS RemainingQty,
					NoOfShots
				FROM PP p
				JOIN CD c ON p.MoldTypeId = c.MoldTypeId
				and isnull(p.OrderTranseId , cast(0X0 as uniqueidentifier)) = isnull(c.OrderTranseId , cast(0X0 as uniqueidentifier))
			)
			SELECT *
			INTO #Final

			FROM FINAL;

			;WITH JsonData AS
			(
				SELECT 
					pdd.ProductionBatchID,
					pdd.ProductionBatchDetID,
					j.[key] AS JsonIndex,
					j.value AS JsonValue,
					CAST(JSON_VALUE(j.value, '$.BlockQty') AS decimal(18,3)) AS BlockQty,
					CAST(JSON_VALUE(j.value, '$.ConsumptionQty') AS decimal(18,3)) AS ConsumptionQty,
					JSON_VALUE(j.value, '$.RawBatchId') AS RawBatchId,
					JSON_VALUE(j.value, '$.RawBatchNo') AS RawBatchNo,
					JSON_VALUE(j.value, '$.PurchaseItemID') AS PurchaseItemID,
					RemainingQty * cast( (pdd.ProductionQty/fd.NoOfShots) as decimal(18,3)) AS MaxAllowedBlockQty

				FROM PatternProductionDetails pdd
				INNER JOIN #Final fd ON fd.ProductionBatchID = pdd.ProductionBatchID
				CROSS APPLY OPENJSON(pdd.ConsumptionDet) j
				WHERE CAST(JSON_VALUE(j.value, '$.BlockQty') AS decimal(18,3)) > 0
			),
			JsonRunning AS
			(
				SELECT 
					*,
					SUM(BlockQty) OVER 
					(
						PARTITION BY ProductionBatchDetID 
						ORDER BY CAST(JsonIndex AS INT)
					) AS RunningBlockQty
				FROM JsonData
			),
			JsonFinal AS
			(
				SELECT 
					*,
					CASE
						WHEN RunningBlockQty <= MaxAllowedBlockQty THEN BlockQty
						WHEN RunningBlockQty - BlockQty < MaxAllowedBlockQty 
							THEN MaxAllowedBlockQty - (RunningBlockQty - BlockQty)
						ELSE 0
					END AS AllowedBlockQty
				FROM JsonRunning
			),
			JsonRebuild AS
			(
				SELECT 
					ProductionBatchID,
					ProductionBatchDetID,
					'[' + STRING_AGG(
							JSON_MODIFY(JsonValue, '$.BlockQty', cast(AllowedBlockQty as decimal(18,3)))
						,
						','
					) WITHIN GROUP (ORDER BY CAST(JsonIndex AS INT)) + ']' AS NewConsumptionDet
				FROM JsonFinal
				GROUP BY ProductionBatchID, ProductionBatchDetID
			)


			UPDATE f
			SET f.BlockQty = jf.AllowedBlockQty
			FROM FloorBatchWiseStock f
			JOIN JsonFinal jf
				ON f.RawBatchId = jf.RawBatchId
			WHERE jf.AllowedBlockQty >= 0;
			
			;WITH JsonData AS
			(
				SELECT 
					pdd.ProductionBatchID,
					pdd.ProductionBatchDetID,
					j.[key] AS JsonIndex,
					j.value AS JsonValue,
					CAST(JSON_VALUE(j.value, '$.BlockQty') AS decimal(18,3)) AS BlockQty,
					CAST(JSON_VALUE(j.value, '$.ConsumptionQty') AS decimal(18,3)) AS ConsumptionQty,
					JSON_VALUE(j.value, '$.RawBatchId') AS RawBatchId,
					JSON_VALUE(j.value, '$.RawBatchNo') AS RawBatchNo,
					JSON_VALUE(j.value, '$.PurchaseItemID') AS PurchaseItemID,
					RemainingQty * cast( (pdd.ProductionQty/fd.NoOfShots) as decimal(18,3)) AS MaxAllowedBlockQty

				FROM PatternProductionDetails pdd
				INNER JOIN #Final fd ON fd.ProductionBatchID = pdd.ProductionBatchID
				CROSS APPLY OPENJSON(pdd.ConsumptionDet) j
				WHERE CAST(JSON_VALUE(j.value, '$.BlockQty') AS decimal(18,3)) > 0
			),
			JsonRunning AS
			(
				SELECT 
					*,
					SUM(BlockQty) OVER 
					(
						PARTITION BY ProductionBatchDetID 
						ORDER BY CAST(JsonIndex AS INT)
					) AS RunningBlockQty
				FROM JsonData
			),
			JsonFinal AS
			(
				SELECT 
					*,
					CASE
						WHEN RunningBlockQty <= MaxAllowedBlockQty THEN BlockQty
						WHEN RunningBlockQty - BlockQty < MaxAllowedBlockQty 
							THEN MaxAllowedBlockQty - (RunningBlockQty - BlockQty)
						ELSE 0
					END AS AllowedBlockQty
				FROM JsonRunning
			),
			JsonRebuild AS
			(
				SELECT 
					ProductionBatchID,
					ProductionBatchDetID,
					'[' + STRING_AGG(
							JSON_MODIFY(JsonValue, '$.BlockQty', cast(AllowedBlockQty as decimal(18,3)))
						,
						','
					) WITHIN GROUP (ORDER BY CAST(JsonIndex AS INT)) + ']' AS NewConsumptionDet
				FROM JsonFinal
				GROUP BY ProductionBatchID, ProductionBatchDetID
			)
			UPDATE pdd
			SET pdd.ConsumptionDet = jr.NewConsumptionDet
			FROM PatternProductionDetails pdd
			JOIN JsonRebuild jr
				ON pdd.ProductionBatchDetID = jr.ProductionBatchDetID;

			UPDATE	s
			SET		s.BlockQty = ((cast((s.BlockQty/pp.AvailDeWaxQty) as decimal(18,3)) * f.RemainingQty))
			FROM	PatternProductionDetails s
					inner Join PatternProduction pp on pp.ProductionBatchID = s.ProductionBatchID 
					inner JOIN #Final f ON s.ProductionBatchID = f.ProductionBatchID
			Where	s.BlockQty 
			> 0

			UPDATE	p
			SET		p.AvailDeWaxQty = f.RemainingQty
			FROM	PatternProduction p
					inner JOIN #Final f ON p.ProductionBatchID = f.ProductionBatchID;

			
			DROP TABLE #Final
			
		END
		
		
		COMMIT TRANSACTION CoatingDetails_Insert
		RETURN 1
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION CoatingDetails_Insert
		RETURN -1
	END CATCH

END
GO
