USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SPCastingDetail]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Ankit
-- Create date: 26-06-2021
-- Description:	CastingDetail API
-- =============================================
-- EXEC SPCastingDetail @CastingId = 'BF4A5EFC-BE89-482E-82B0-A83051E12423' , @EntityId = 1
CREATE PROCEDURE [dbo].[SPCastingDetail] 
@CastingId uniqueidentifier,
 @EntityId INT = 0
AS
BEGIN
	
	SET NOCOUNT ON;
    
    -- CastingName , CastingCode , FloorName as OtherName
    select CastingMaster.CastingId, CastingName, CastingCode , 
    IsNull(FloorName,'') AS 'OtherName', PurchaseItemMaster.ItemCode as PatternCode
    FROM CastingMaster
		 INNER JOIN CastingCompanyMapping ON  CastingCompanyMapping.CastingId = CastingMaster.CastingId 
		 INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = CastingMaster.Dieid
    where CastingMaster.CastingId=@CastingId and CastingMaster.IsDeleted=0 and  PurchaseItemMaster.IsPattern = 1
    --and CastingCompanyMapping.CompanyId = @EntityId   
    
    --GrossWeight , Netweight , AfterMachiningWeight,Yield, Safety stock , RoughMcn Dwg no , Full Mcn dwg no
    select castingID as 'CastingId', CastingMetal.metalid as 'MetalId', GrossWeight, CastingNetWeight, 
    IsNull(AfterMachiningWeight,0) as AfterMachiningWeight, Yield, SafetyStock, 
    IsNull(RoughMachineDrawing,'') as RoughMachineDrawing,
    IsNull(FullMachineDrawing,'') as FullMachineDrawing, 
	ISNULL(DrawingNo, '') AS CastingDwgNo, MetalMaster.MetalName
    from CastingMetal
	INNER JOIN MetalMaster ON MetalMaster.MetalId = CastingMetal.metalid
    where castingID = @CastingID and CastingMetal.IsDeleted=0  
    
    Select IsNull(FilePath,'') as FilePath  from ImagePath 
    where Id = @CastingId 
	
			
END
GO
