USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SeparateFoundryReturn]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Nikunj>
-- Create date: <Create Date,,04-06-2019>
-- Description:	<Description,,For Separate Foundry Return Master>
-- =============================================
CREATE PROCEDURE [dbo].[SeparateFoundryReturn]
	@Parameter INT = 0 ,
	@MetalId INT = 0 ,
	@BatchID INT = 0 ,
	@IsPending INT = 0 ,
	@IsFifo INT = 0 ,
	@LastNoOfDays INT = 0,
	@RR AS XML = NULL ,
	@ItemId UNIQUEIDENTIFIER = NULL,	
	@stockqty FLOAT = 0,	
    @CreatedBy INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @FoundryReturnID BIGINT = 0,
    @RawBatchId INT = 0 ,
    @RawBatchNo VARCHAR(50) = NULL,
    @EntityID INT = 0,
    @IsInwardBatchWise BIT = NULL,
    @ProcessDate DATETIME = NULL,
    @RRAllocate int =0,
    @LossPer FLOAT = 0,
    @LossWt FLOAT = 0,
    @chargingQnty FLOAT = 0 ,
    @TotalChargingEntry FLOAT = 0,
    @TotallossKG FLOAT = 0 ,
    @TotallossPER FLOAT = 0,
    @RRItemRecords  AS XML = NULL,
    @IsCastCodeEnable as BIT = NULL,
    @IsMoldingAndProduction as  BIT = NULL,
    @ConsumptionMethod  as  BIT = NULL ,
    @ProcessId UNIQUEIDENTIFIER = NULL,
    @IsAllocate int = 0,
    @BatchDetails XML = NULL,
    @PlantId int = 0
    , @PlantIdString VARCHAR(MAX) = NULL ,
    @EnterQty Float = 0 ,
    @RRMasterId int = 0 ,
    @AcceptQty float = 0,
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    -- Nikunj Added Posting Date
    @PostingDate DATETIME = NULL 
    , @RRType int = 0
AS
BEGIN

		-- Fetch Metal Id and Name by Production Record
		IF @parameter = 1
		BEGIN	
			select distinct MetalMaster.MetalId,MetalMaster.MetalName 
			from MetalMaster
			inner join ProductionBatch on MetalMaster.MetalId = ProductionBatch.MetalID
			inner join knockout on knockout.batchid = ProductionBatch.batchID
			where MetalMaster.IsDeleted = 0
			and ProductionBatch.IsDeleted = 0
			and knockout.IsDeleted = 0  
			AND ProductionBatch.EntityId = @EntityID
			AND ( ISNULL(@PlantIdString,'') = ''
					OR ProductionBatch.PlantId IN (
					SELECT * FROM dbo.SplitString(@PlantIdString, ',') )
				)           
		END
		
		-- Fetch Heat Id and Heat No by Production Record
		IF @parameter = 2
		BEGIN	
			select distinct ProductionBatch.batchID,ProductionBatch.batchno 
			from MetalMaster
				inner join ProductionBatch on MetalMaster.MetalId = ProductionBatch.MetalID
				inner join knockout on knockout.batchid = ProductionBatch.batchID
			where MetalMaster.IsDeleted = 0
				and ProductionBatch.IsDeleted = 0
				and knockout.IsDeleted = 0   
				and (@MetalId = 0 or ProductionBatch.MetalID = @MetalId)
				AND ProductionBatch.EntityId = @EntityID
				AND ( ISNULL(@PlantIdString,'') = ''
						OR ProductionBatch.PlantId IN (
						SELECT * FROM dbo.SplitString(@PlantIdString, ',') )
					) 
			        
		END
		
		-- Fetch Separate Foundry Return Record
		IF @parameter = 3
		BEGIN	
			select  
				isnull(ProductionBatch.IsRRAllocate,0) as IsAllocate				
				, ProductionBatch.batchno				
				, 0.000 as RRQty
				,0.000 AS AllottedQty ,
				0.000 as AcceptQty,
				ISNULL(sum(FoundryReturn.returnQty), 0) AS TotalQty									
				,MetalMaster.MetalId as MetalIds
				,ISNULL(ProductionBatch.IsRRAllocate ,1) as  IsRRAllocate
				, ProductionBatch.batchID as batchIDs
				, ProductionBatch.totalChargingQnty
				, ProductionBatch.ProductionDate
				, ProductionBatch.totallossPER as LossPer 
				, ProductionBatch.totallossKG as LossWt 
				, '' as RRTable 
				, 0 as IsModified
				, 0 as IsAlert	
				,0.000 as IngotStock				
			from ProductionBatch 	
				inner join knockout on knockout.batchid = ProductionBatch.batchID		
				inner join MetalMaster on MetalMaster.MetalId = ProductionBatch.MetalID 			 
				inner join FoundryReturn on ProductionBatch.batchID = FoundryReturn.batchid
				and FoundryReturn.IsDeleted = 0 
				--and (@ItemId is null or FoundryReturn.purchaseitemID = @ItemId) 
				--and FoundryReturn.IsDeleted = 0 
				inner join Consumption on Consumption.batchid = ProductionBatch.batchID				
				inner join ChargeMaster on ChargeMaster.ChargeName = Consumption.ChargeName				
				and (@ItemId is null or FoundryReturn.purchaseitemID = @ItemId) 
				
				--ChargeMaster.purchaseitemID = 'DF5C36B0-6AB0-4A39-9E1B-A2EC39DE2425' 				
				--inner join ChargeMaster on ChargeMaster.purchaseitemiD = FoundryReturn.purchaseitemID
				--and ChargeMaster.Type = 'R' and ChargeMaster.IsDeleted = 0				
			where ProductionBatch.IsDeleted = 0			
				--and ProductionBatch.batchID = 170
				and knockout.IsDeleted = 0
				and MetalMaster.IsDeleted = 0
				and (@IsPending = 0 or (ProductionBatch.IsRRAllocate = 0))
				and (@BatchID = 0 or ProductionBatch.batchID = @BatchID)
				and (@MetalId = 0 or ProductionBatch.MetalID = @MetalId)
				and (@LastNoOfDays = 0 or DATEDIFF(DAY , ProductionBatch.ProductionDate, GETDATE()) <= @LastNoOfDays)				
				AND ProductionBatch.EntityId = @EntityID
                AND ( ISNULL(@PlantIdString,'') = ''
						OR ProductionBatch.PlantId IN (
						SELECT * FROM dbo.SplitString(@PlantIdString, ',') )
					)	
			
			group by  ProductionBatch.batchno
				,MetalMaster.MetalId
				,ProductionBatch.IsRRAllocate
				, ProductionBatch.batchID 
				, ProductionBatch.totalChargingQnty
				, ProductionBatch.ProductionDate
				, ProductionBatch.totallossPER  
				, ProductionBatch.totallossKG 
			ORDER BY CASE WHEN @IsFifo = 1 THEN ProductionBatch.ProductionDate
                             END ASC ,
                            CASE WHEN @IsFifo = 0 THEN ProductionBatch.ProductionDate
                            END DESC 
                                    
		END
		
		IF @parameter = 4
		BEGIN	
			select * from ProcessMaster
			where IsDeleted = 0
			and IsFoundryReturn = 1
			and ProcessId = @ProcessId			
                                    
		END
		
		-- Update Foundry Return Record
		if @Parameter = 5
		begin
		BEGIN TRANSACTION
		BEGIN TRY
			insert into RREntryMaster (PurchaseItemId,RRQty,CreatedBy,CreatedOn,EntityId,PostingDate)
			values (@ItemId,@EnterQty,@CreatedBy,@CreatedOn,@EntityID,@PostingDate)
		
			set @RRMasterId = SCOPE_IDENTITY();
		
			DECLARE @Check BIT = 0
			--RR            
            DECLARE RRFoundry CURSOR
            FOR
                SELECT  
						Node.value('(batchIDs )[1]', 'bigint') AS 'batchid' ,						
						Node.value('(LossPer )[1]', 'float') AS 'LossPer' ,
						Node.value('(LossWt )[1]', 'float') AS 'LossWt' ,
                        Node.query('RRTable/*') AS 'RRTable',
                        Node.value('(IsAllocate )[1]', 'int') AS 'IsAllocate' ,  
                        Node.value('(AcceptQty )[1]', 'float') AS 'AcceptQty'                      
                FROM    @RRItemRecords.nodes('/DocumentElement/RRItemRecords') AS TEMPXML ( Node ) 
            OPEN RRFoundry;
			
			FETCH NEXT FROM RRFoundry INTO 
				@BatchID, @TotallossKG, @TotallossKG , @RR ,@IsAllocate,@AcceptQty
            WHILE ( @@FETCH_STATUS = 0 )
            BEGIN
            
			insert into RREntryTrans (RRMasterId,BatchId,AcceptedQty)values (@RRMasterId,@BatchID,@AcceptQty)
            
             SELECT @PlantId = PlantID FROM ProductionBatch WHERE batchID = @BatchID
           
            UPDATE  ProductionBatch
								SET 
										TotallossKG = @TotallossKG ,
										TotallossPER = @TotallossPER ,
										IsConsumptionEntered = 'True',
										IsRRAllocate = @IsAllocate
								WHERE   batchID = @BatchID
            
					DECLARE RREntry CURSOR
					FOR
						SELECT                  
								Node.value('(purchaseItemId )[1]', 'uniqueidentifier') AS 'ItemId' ,
								Node.value('(chargingQnty )[1]', 'float') AS 'chargingQnty' ,
								Node.value('(stockqty )[1]', 'float') AS 'stockqty',
								Node.value('(RRType )[1]', 'int') AS 'RRType'
						FROM    @RR.nodes('/DocumentElement/RRTable') AS TEMPXML ( Node ) 
					OPEN RREntry;

					FETCH NEXT FROM RREntry INTO 
				  --  @batchid, 
						@ItemId, @chargingQnty, @stockqty,@RRType
					WHILE ( @@FETCH_STATUS = 0 )
						BEGIN
						
						
						if @RRType = 1
						begin
						
						update ProductionBatch sET RR = isnull(@chargingQnty ,0) wHERE batchID = @BatchId
						
						DECLARE @NewStockQty1 FLOAT = 0;
                    
						set @NewStockQty1 = (select isnull(sum(returnQty),0) as returnQty from FoundryReturn where PurchaseItemId = @ItemId
										AND batchid = @batchid and IsDeleted = 0)
	                   
                   
						SET @NewStockQty1 = @chargingQnty - @NewStockQty1;
                   						                        
                        
							IF EXISTS ( SELECT TOP 1
												purchaseitemId
										FROM    FoundryReturn
										WHERE   PurchaseItemId = @ItemId
												AND batchid = @batchid
												AND IsDeleted = 0 )
								BEGIN
									UPDATE  FoundryReturn
									SET     returnQty = @chargingQnty ,
											ModifiedOn = @CreatedON ,
											ModifiedBy = @CreatedBY
									WHERE   PurchaseItemId = @ItemId
											AND batchid = @batchid
									 
									SET @FoundryReturnID = ( SELECT TOP 1
																	FoundryReturnID
															 FROM   FoundryReturn
															 WHERE  PurchaseItemId = @ItemId
																	AND batchid = @batchid
																	AND IsDeleted = 0
														   )
								END
							ELSE
								BEGIN
									INSERT  INTO FoundryReturn
											( batchid ,
											  purchaseitemiD ,
											  returnQty ,
											  createdon ,
											  IsDeleted ,
											  CreatedBY ,
											  EntityID
											)
									VALUES  ( @batchid ,
											  @ItemId ,
											  @chargingQnty ,
											  GETDATE() ,
											  0 ,
											  @CreatedBY ,
											  @EntityID
											)
								 

									SET @FoundryReturnID = ( SELECT SCOPE_IDENTITY()
														   )
								END
                                   
                    
							SET @ProcessDate = ( SELECT TOP 1
														ProductionBatch.ProductionDate
												 FROM   ProductionBatch
												 WHERE  ( ProductionBatch.batchid = @batchid )
											   )
		                   
                  
                  
							IF EXISTS ( SELECT TOP 1
												purchaseitemId
										FROM    FloorInventoryDetails
										WHERE   PurchaseItemId = @ItemId )          
								BEGIN
									EXEC dbo.Update_FoundryReturn @PurchaseItemID = @ItemId, -- uniqueidentifier
										@StockToAdd = @NewStockQty1, --@stockqty, -- float									 
										--@Tagging = 'Issue', -- varchar(50)
										@Process = 'Edit', -- varchar(50)
										@ProcessCode = @FoundryReturnID, -- varchar(max)
										@ProcessDate = @ProcessDate, -- datetime
										@UserID = @CreatedBY,-- bigint
										@IsInwardBatchWise = @IsInwardBatchWise,
										@ConsumptionMethod = @ConsumptionMethod
										,@EntityID = @EntityID
										,@PlantId = @PlantId
										-- ,-- 'false',
										--@BatchDetails = @BatchDetails
									 
								END
							ELSE
								BEGIN
									EXEC dbo.Update_FoundryReturn @PurchaseItemID = @ItemId, -- uniqueidentifier
										@StockToAdd = @NewStockQty1, --@stockqty, -- float									
										--@Tagging = 'Issue',
										@Process = 'Insert', -- varchar(50)
										@ProcessCode = @FoundryReturnID, -- varchar(max)
										@ProcessDate = @ProcessDate, -- datetime
										@UserID = @CreatedBY,-- bigint
										@IsInwardBatchWise = @IsInwardBatchWise,
										@ConsumptionMethod = @ConsumptionMethod
										,@EntityID = @EntityID
										,@PlantId = @PlantId
										--, --'false',
										-- @BatchDetails = @BatchDetails
								 
								END
							END
							
							FETCH NEXT FROM RREntry INTO 
								@ItemId, @chargingQnty, @stockqty,@RRType
						END 
					
			--CLOSE RREntry;
				CLOSE RREntry;
                DEALLOCATE RREntry;  
			
                       
            
				FETCH NEXT FROM RRFoundry INTO 
                        @BatchID, @TotallossKG, @TotallossKG , @RR , @IsAllocate,@AcceptQty
                END 
                
                CLOSE RRFoundry;
                DEALLOCATE RRFoundry;  
			
         --   CLOSE RRFoundry;
			END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','RRFoundry') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','RRFoundry') > -1
				   BEGIN
					CLOSE RRFoundry
				   END
				 DEALLOCATE RRFoundry
				END	
				IF CURSOR_STATUS('global','RREntry') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','RREntry') > -1
				   BEGIN
					CLOSE RREntry
				   END
				 DEALLOCATE RREntry
				END	
			 return
			END	
        END Catch
		Commit TRANSACTION		
			RETURN 1
		end
		
		-- RR Allocation Register Record
		
		
		-- RR Allocation  View Link Record
		IF @parameter = 7
		BEGIN	


				SELECT		ProductionBatch.batchno as HeatNo ,
							AcceptedQty as Qty,
							FoundryReturn.returnQty as ReturnQty,
							--case when Convert(decimal(18,3),ReturnQty)  != CONVERT(Decimal(18,3), AcceptedQty)
									--	then 1 	else 
									0 
									--end 
										as Status
							
				FROM		(			
								SELECT		RREntryMaster.PurchaseItemId,
											RREntryTrans.BatchId,
											cast (RREntryMaster.PostingDate as DATE) AS ShowRRAssignDate, 			
											CONVERT(VARCHAR(15), cast (RREntryMaster.CreatedOn as DATE), 106) AS RRAssignDate,
											SUM(RREntryTrans.AcceptedQty) AS AcceptedQty
								FROM		RREntryMaster
											INNER JOIN RREntryTrans
											ON RREntryMaster.RRMasterId = RREntryTrans.RRMasterId
								WHERE		RREntryMaster.EntityId = @EntityID
								GROUP BY	RREntryMaster.PurchaseItemId,
											RREntryTrans.BatchId,
											cast (RREntryMaster.PostingDate as DATE),
											CONVERT(VARCHAR(15), cast (RREntryMaster.CreatedOn as DATE), 106) 
							) AS 	RREntry
							INNER JOIN (
								SELECT		RREntryMaster.PurchaseItemId,
											cast (RREntryMaster.PostingDate as DATE) AS ShowRRAssignDate, 			
											CONVERT(VARCHAR(15), cast (RREntryMaster.CreatedOn as DATE), 106) AS RRAssignDate,
											SUM(RRQty) AS RRQty
								FROM		RREntryMaster
								WHERE		RREntryMaster.EntityId = @EntityID
								GROUP BY	RREntryMaster.PurchaseItemId,
											cast (RREntryMaster.PostingDate as DATE),
											CONVERT(VARCHAR(15), cast (RREntryMaster.CreatedOn as DATE), 106) 
							) AS RREntryMaster
							ON RREntryMaster.PurchaseItemId = RREntry.PurchaseItemId
							AND RREntryMaster.ShowRRAssignDate = RREntry.ShowRRAssignDate
							LEFT JOIN (
								SELECT		purchaseitemID,
											batchid,
											SUM(returnQty) AS ReturnQty,
											FoundryReturn.IsDeleted
								FROM		FoundryReturn
								WHERE		FoundryReturn.IsDeleted = 0
											AND	FoundryReturn.EntityId = @EntityID
								GROUP BY	purchaseitemID,
											batchid,FoundryReturn.IsDeleted
							) AS FoundryReturn
							ON FoundryReturn.purchaseitemID = RREntry.PurchaseItemId
							AND FoundryReturn.batchid = RREntry.BatchId
							INNER JOIN PurchaseItemMaster
							ON PurchaseItemMaster.PurchaseItemId = RREntry.PurchaseItemId
							INNER JOIN ProductionBatch
							ON ProductionBatch.batchID = RREntry.BatchId
				WHERE		PurchaseItemMaster.IsDeleted = 0
							AND FoundryReturn.IsDeleted = 0
							AND (@ItemId is null 
												or PurchaseItemMaster.PurchaseItemId=@ItemId)
											AND RREntryMaster.ShowRRAssignDate  between @StartDate and @StartDate

				order by ProductionBatch.batchno asc 

			                              
		END
		
		-- RR Allocation Rdlc Record WRONG QUERY FOR REPORT
		IF @parameter = 8
		BEGIN	
			select ProductionBatch.batchno as HeatNo, PurchaseItemMaster.ItemName as ItemName ,PurchaseItemMaster.ItemCode as ItemCode
			,cast (RREntryMaster.PostingDate as DATE) AS ShowRRAssignDate 			
			,CONVERT(VARCHAR(15), cast (RREntryMaster.CreatedOn as DATE), 106) AS RRAssignDate
			,RREntryMaster.RRQty as AllotedQty 
					,SUM(RREntryTrans.AcceptedQty) as Qty  					
			from RREntryMaster
			inner join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId = RREntryMaster.PurchaseItemId
			inner join RREntryTrans on RREntryTrans.RRMasterId = RREntryMaster.RRMasterId
			inner join ProductionBatch on RREntryTrans.batchID = ProductionBatch.batchID			
			where PurchaseItemMaster.IsDeleted = 0
				AND ProductionBatch.IsDeleted = 0
				AND CAST(RREntryMaster.PostingDate as DATE) between @StartDate and @EndDate
				And (@ItemId is null or PurchaseItemMaster.PurchaseItemId=@ItemId)
			group by PurchaseItemMaster.ItemName ,PurchaseItemMaster.ItemCode ,ProductionBatch.batchno,cast (RREntryMaster.PostingDate as DATE),RREntryMaster.RRQty,cast (RREntryMaster.CreatedOn as DATE)
			order by cast(RREntryMaster.CreatedOn as DATE) desc,PurchaseItemMaster.ItemName asc,ProductionBatch.batchno asc
                         
                         -- group by PurchaseItemMaster.ItemName ,PurchaseItemMaster.ItemCode ,cast (RREntryMaster.CreatedOn as DATE), PurchaseItemMaster.PurchaseItemId	
			--order by cast (RREntryMaster.CreatedOn as DATE) desc,PurchaseItemMaster.ItemName asc           
		END
		
END
GO
