USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportRequiredCoreForProduction]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[ReportRequiredCoreForProduction]  
    @CastingId UNIQUEIDENTIFIER = NULL ,  
    @Startdate DATETIME = null ,  
    @EndDate DATETIME =null ,  
    @PatternId UNIQUEIDENTIFIER = NULL ,  
    @MachineId UNIQUEIDENTIFIER = NULL ,  
    @PlanOrOrder bit = 0, -- 1 if from plan else 0,  
    @TotalorOrderNoWise bit=1,  
    @CastingName varchar(100)=null,  
    @OrderPriority int = -1,  
    @EntityId INT = 0 ,  
    @PlantIdString VARCHAR(MAX) = null,
	@OrderApprovalRequire bit = 0
AS  
    BEGIN  
  
        SET NOCOUNT ON;  
          
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
    IF @PlanOrOrder = 1  
    BEGIN          
         SELECT  ROW_NUMBER() OVER ( ORDER BY PatternCode ) AS SrNo ,  
                PatternCode ,  
                CoreBoxName ,  
                STUFF(( SELECT  ',' + CastingMaster.CastingName  
                        FROM    CastingMaster  
                        WHERE   CastingMaster.dieid = dbo.PatternMaster.PatternId  
                      FOR  
                        XML PATH('')  
                      ), 1, 1, '') AS CastingName ,  
                STUFF(( SELECT  ',' + CastingMaster.CastingCode  
                        FROM    CastingMaster  
                        WHERE   CastingMaster.dieid = dbo.PatternMaster.PatternId  
                      FOR  
                        XML PATH('')  
                      ), 1, 1, '') AS CastingCode ,  
                ISNULL(CoreInventory.Stock, 0) AS CoreQty ,  
                ISNULL(SUM(PlanQty), 0) AS CastingPlanQty ,  
                ISNULL(CorePlanQty, 0) AS PlannedCore ,  
               -- ISNULL(SUM(PlanQty*NoofCoreperCasting), 0) PlanCoreQty ,  
                CASE WHEN ISNULL(CEILING(( ISNULL(SUM(PlanQty  
                                                      * NoofCoreperCasting), 0)  
                                           - ISNULL(CorePlanQty, 0) )  
                                         / dbo.CoreBoxMaster.NoofCavityperCoreBox)  
                                 - ISNULL(( CoreInventory.Stock ), 0), 0) < 0  
                     THEN 0  
                     ELSE ISNULL(CEILING(( ISNULL(SUM(PlanQty  
                                                      * NoofCoreperCasting), 0)  
                                           - ISNULL(CorePlanQty, 0) )  
                                         / dbo.CoreBoxMaster.NoofCavityperCoreBox)  
                                 - ISNULL(( CoreInventory.Stock ), 0), 0)  
                END AS RequiredShots ,  
                CASE WHEN ISNULL(ISNULL(SUM(PlanQty * NoofCoreperCasting), 0)  
                                 - ISNULL(( CoreInventory.Stock ), 0)  
                                 - ISNULL(CorePlanQty, 0), 0) < 0 THEN 0  
                     ELSE ISNULL(ISNULL(SUM(PlanQty * NoofCoreperCasting), 0)  
                                 - ISNULL(( CoreInventory.Stock ), 0)  
                                 - ISNULL(CorePlanQty, 0), 0)  
                END AS RequiredCore ,  
                dbo.PatternMaster.PatternId ,  
                CoreBoxDetails.CoreBoxID,  
                MachineMaster.MachineName,                  
                SandTypeMaster.SandType   
        FROM    dbo.PlanningMaster     
    INNER JOIN dbo.PlanningDetail  
    ON dbo.PlanningDetail.PlanMasterID = dbo.PlanningMaster.PlanMasterID               
                INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.PlanningMaster.CastingId  
                INNER JOIN dbo.PatternMaster ON dbo.PatternMaster.PatternId = dbo.CastingMaster.Dieid     
                INNER JOIN dbo.CoreBoxDetails ON dbo.PatternMaster.PatternId = dbo.CoreBoxDetails.PatternID  
                INNER JOIN dbo.CoreBoxMaster ON dbo.CoreBoxMaster.CoreMasterID = dbo.CoreBoxDetails.CoreMasterID  
                INNER join SandTypeMaster ON CoreBoxMaster.SandTypeID = SandTypeMaster.SandTypeId              
    AND SandTypeMaster.IsDeleted = 0  
                LEFT JOIN MachineMaster ON MachineMaster.MachineId = CoreBoxDetails.MachineId  
                LEFT JOIN ( SELECT  ISNULL(SUM(CorePlanning.Qty), 0) AS CorePlanQty ,  
                                    CoreID  
                            FROM    CorePlanning  
                            WHERE   CAST(Date AS DATE) BETWEEN CAST(@Startdate AS DATE) AND CAST(@EndDate AS DATE)
                            GROUP BY CoreID  
                          ) AS CorePlan ON CorePlan.CoreID = CoreBoxDetails.CoreBoxID  
                LEFT JOIN ( SELECT  ISNULL(SUM(Stock), 0) AS Stock ,  
                                    CoreId  
                            FROM    dbo.CoreInventoryDetail  
                            GROUP BY CoreInventoryDetail.CoreId  
                          ) AS CoreInventory ON CoreInventory.CoreId = dbo.CoreBoxDetails.CoreBoxId              
        WHERE   ( @CastingId IS NULL  
                  OR PlanningMaster.CastingId = @CastingId  
                )  
                AND ( @PatternId IS NULL  
                      OR dbo.PlanningMaster.PatternId = @PatternId  
                    )  
                AND ( @MachineId IS NULL  
                      OR dbo.CoreBoxDetails.MachineId = @MachineId  
                    )  
                AND ( @CastingName IS NULL   
     OR CastingMaster.CastingName = @CastingName  
     )     
    AND dbo.PlanningDetail.EntityID = @EntityId  
    AND ( ISNULL(@PlantIdString,'') = ''                        
         OR dbo.PlanningDetail.PlantId IN (                        
    SELECT Item FROM @Plant )                        
     )    
                AND CAST(dbo.PlanningDetail.Plandate AS DATE) BETWEEN CAST(@Startdate AS DATE) AND CAST(@EndDate AS DATE)
                AND PlanningMaster.IsDeleted = 0  
                And PatternMaster.IsDeleted=0 And CoreBoxDetails.IsDelete=0  
        GROUP BY PatternCode ,  
                dbo.PatternMaster.PatternId ,  
                Stock ,  
                CoreBoxName ,  
                CoreBoxDetails.CoreBoxID ,  
                dbo.CoreBoxMaster.NoofCavityperCoreBox ,  
                CorePlanQty  ,  
                MachineMaster.MachineName ,  
                SandTypeMaster.SandType    
                  
    END  
    ELSE  
    BEGIN  
	IF @TotalorOrderNoWise = 1  
	 BEGIN  
	
	declare @OrderWithAssembly table ( requiredqty int, castingId uniqueidentifier)
	
	declare @OrderWithAssembly1 table (AssemblyCastingId uniqueidentifier, castingId uniqueidentifier,requiredqty int,Maincast int,RequiredForQty int)
	Insert into @OrderWithAssembly1
	 Exec dbo.GetOrderWithAssembly
	 --@castingId = @castingId ,
	 @Startdate = @Startdate,
	 @EndDate = @EndDate,
	 @EntityId = @EntityId,
	 @OrderApprovalRequire = @OrderApprovalRequire
	
	
	Insert into @OrderWithAssembly
	select	sum(case when maincast = 1 and RequiredQty < 0 then 0 else  RequiredQty end ) as RequiredQty, 
			castingId
	from (
		SELECT	Sum(requiredqty) as RequiredQty,
				castingId,Maincast
		FROM	@OrderWithAssembly1 
		group by castingId,Maincast
	)  as a group by castingId

	SELECT CCM.CoreBoxID , 
			SUM(OWA.RequiredQty) as OrderQty  
	Into	#OrderTable
	FROM   @OrderWithAssembly as OWA
			Inner Join CoreCastingMapping CCM on CCM.CastingId = OWA.CastingId
			Inner Join CoreBoxDetails CBD on CBD.CoreBoxID = CCM.CoreBoxID
					and CBD.IsDelete = 0 
	GROUP BY CCM.CoreBoxID

	SELECT  ISNULL(SUM(CorePlanning.Qty), 0) AS CorePlanQty ,   
			CoreID  
	INto	#CorePlanningTable 
	FROM	CorePlanning  
	WHERE	CAST(Date AS DATE) BETWEEN CAST(@Startdate AS DATE) AND CAST(@EndDate AS DATE)
	GROUP BY CoreID
	
	SELECT  ISNULL(SUM(Stock), 0) AS Stock , 
			CoreId 
	INto	#coreInvTable  
	FROM	dbo.CoreInventoryDetail   
	GROUP BY CoreInventoryDetail.CoreId  
	
	SELECT ROW_NUMBER() OVER ( ORDER BY PatternCode ) AS SrNo , 
			PatternCode,
			CoreBoxName,
			CastingName,
			CastingCode,
			CastingPlanQty,
			PlannedCore,
			CoreQty,
			PendingRequiredQty,
			case when Isnull(RequiredCore,0) > 0 then RequiredCore else 0 end as RequiredCore,
			case when Isnull(RequiredShots,0) > 0 then RequiredShots else 0 end as RequiredShots,
			PatternId,
			CoreBoxID,
			MachineName,
			SandType
			 FROM (					
	Select	ItemCode as PatternCode , 
			CoreBoxName ,
			STUFF(( SELECT  ',' + CastingMaster.CastingName 
					FROM	CastingMaster
							Inner Join CoreCastingMapping on CastingMaster.CastingId = CoreCastingMapping.CastingId 
					WHERE CoreCastingMapping.CoreBoxID = CoreBoxDetails.CoreBoxID  
					FOR XML PATH('') ), 1, 1, '') AS CastingName ,  
			STUFF(( SELECT  ',' + CastingMaster.CastingCode 
					FROM	CastingMaster
							Inner Join CoreCastingMapping on CastingMaster.CastingId = CoreCastingMapping.CastingId 
					WHERE CoreCastingMapping.CoreBoxID = CoreBoxDetails.CoreBoxID  
			FOR XML PATH('') ), 1, 1, '') AS CastingCode  ,
			ISNULL(ORderTable.OrderQty, 0)  AS CastingPlanQty ,  
			ISNULL(CorePlanQty, 0) AS PlannedCore ,
			ISNULL(CoreInventory.Stock, 0) AS CoreQty ,
			ISNULL(CEILING(ISNULL((((CAST(isnull(Ordertable.Orderqty,0) AS FLOAT) ) * NoofCoreperCasting)/CoreperCasting), 0)), 0) AS PendingRequiredQty ,   
			 
			ISNULL(CEILING(ISNULL((((   
				CAST(isnull(OrderTable.OrderQty,0) AS FLOAT)) * NoofCoreperCasting)/CoreperCasting), 0))  
					- ISNULL(( CoreInventory.Stock ), 0) - ISNULL(CorePlanQty, 0), 0)  
			AS RequiredCore ,   
			ISNULL(CEILING(( ISNULL((((   
					CAST(isnull(OrderTable.OrderQty,0) AS FLOAT)  
					) * NoofCoreperCasting)/CoreperCasting), 0)  
					- ISNULL(CorePlanQty, 0) - ISNULL(( CoreInventory.Stock ), 0) ) / CoreBoxDetails.NoofCavityperCoreBox)  
					, 0)  
		    AS RequiredShots ,  
			PurchaseItemMaster.PurchaseItemId as PatternId , 
			CoreBoxDetails.CoreBoxID, 
			MachineMaster.MachineName,  
			SandTypeMaster.SandType 
			--OrderQty,DispatchQty,ORderTable.Stock as CastingStock,CoreInventory.Stock as CoreStock,CorePlanQty
	From	CoreBoxDetails
			INNER JOIN PurchaseItemMaster ON CoreBoxDetails.PatternID = PurchaseItemMaster.PurchaseItemId
			Inner Join PurchaseCompanyMapping pcm on pcm.PurchaseItemId = PurchaseItemMaster.PurchaseItemId 
			inner join dbo.CoreBoxMaster ON dbo.CoreBoxMaster.CoreMasterID = dbo.CoreBoxDetails.CoreMasterID      
			INNER JOIN (select * from #OrderTable) AS ORderTable ON OrderTable.CoreBoxID = CoreBoxDetails.CoreBoxID 
			INNER JOIN SandTypeMaster ON CoreBoxMaster.SandTypeID = SandTypeMaster.SandTypeId  
				AND SandTypeMaster.IsDeleted = 0  
			LEFT JOIN MachineMaster ON MachineMaster.MachineId = CoreBoxMaster.MachineId  
			LEFT JOIN ( select * from #CorePlanningTable) AS CorePlan ON CorePlan.CoreID = CoreBoxDetails.CoreBoxID  

			LEFT JOIN (select * from #coreInvTable ) AS CoreInventory ON CoreInventory.CoreId = dbo.CoreBoxDetails.CoreBoxId 
	WHERE isnull(OrderTable.OrderQty,0) > 0  
		  And PurchaseItemMaster.IsDeleted=0 And CoreBoxDetails.IsDelete=0  
		  AND ( @PatternId IS NULL OR dbo.PurchaseItemMaster.PurchaseItemId = @PatternId )   
		  AND ( @MachineId IS NULL OR dbo.CoreBoxMaster.MachineId = @MachineId ) 
		  And CoreBoxDetails.CoreBoxID in (
				select	ccm.CoreBoxID
				from	CoreCastingMapping ccm 
						Inner Join CastingMaster cm on cm.CastingId = ccm.CastingId
						Inner Join PlantCastingMapping pcm on pcm.CastingId = cm.CastingId
				where	( @CastingName IS NULL OR cm.CastingName = @CastingName )
						AND ( @CastingId IS NULL OR cm.CastingId = @CastingId )
						AND ( @PlantIdString IS NULL  
							  OR @PlantIdString = ''  
							  OR pcm.PlantId IN (SELECT Item FROM @Plant)  
							) 
				)
		 AND pcm.CompanyId = @EntityId  
	) as a
	where isnull(a.PendingRequiredQty,0) > 0 
		
	--drop table #OrderWithAssembly
	drop table #OrderTable
	drop table #CorePlanningTable
	drop table #coreInvTable								 		
	
 --  SELECT ROW_NUMBER() OVER ( ORDER BY PatternCode ) AS SrNo , * FROM (  
 --   SELECT  PatternCode , CoreBoxName ,  
 --     STUFF(( SELECT  ',' + CastingMaster.CastingName FROM CastingMaster WHERE CastingMaster.dieid = dbo.PatternMaster.PatternId  
 --        FOR XML PATH('') ), 1, 1, '') AS CastingName ,  
 --     STUFF(( SELECT  ',' + CastingMaster.CastingCode FROM CastingMaster WHERE CastingMaster.dieid = dbo.PatternMaster.PatternId  
 --        FOR XML PATH('') ), 1, 1, '') AS CastingCode ,  
 --     ISNULL(CoreInventory.Stock, 0) AS CoreQty ,  
 --     SUM(ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0) 
	--	- ISNULL(CastingStock.stock, 0) - ISNULL(CastingJOStock.stock, 0)) AS CastingPlanQty ,  
 --     ISNULL(CorePlanQty, 0) AS PlannedCore ,  
 --     CASE WHEN ISNULL(CEILING((ISNULL(SUM(((  
 --       CAST((  
 --        CASE WHEN ((ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0)   
 --            - ISNULL(CastingStock.stock, 0) - ISNULL(CastingJOStock.stock, 0)) < 0)  
 --         THEN 0  
 --         ELSE  (ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0)   
 --           - ISNULL(CastingStock.stock, 0) - ISNULL(CastingJOStock.stock, 0) )  
 --         END) AS FLOAT)  
 --          ) * NoofCoreperCasting)/CoreperCasting), 0  
 --        ) - ISNULL(CorePlanQty, 0)   
 --       ) / CoreBoxDetails.NoofCavityperCoreBox  
 --      )- ISNULL(( CoreInventory.Stock ), 0), 0  
 --     ) < 0  
 --     THEN 0  
 --     ELSE ISNULL(CEILING(( ISNULL(SUM(((   
 --       CAST((  
 --        CASE WHEN ((ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0)  
 --            - ISNULL(CastingStock.stock, 0) - ISNULL(CastingJOStock.stock, 0)) < 0)  
 --            THEN 0  
 --            ELSE ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0)  
 --           - ISNULL(CastingStock.stock, 0) - ISNULL(CastingJOStock.stock, 0)  
 --         END) AS FLOAT)  
 --          ) * NoofCoreperCasting)/CoreperCasting), 0)  
 --        - ISNULL(CorePlanQty, 0) )  
 --       / CoreBoxDetails.NoofCavityperCoreBox)  
 --      - ISNULL(( CoreInventory.Stock ), 0), 0)  
 --     END AS RequiredShots ,  
 --     CASE WHEN ISNULL(CEILING(ISNULL(SUM(((   
 --       CAST((  
 --        CASE WHEN ((ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0)  
 --           - ISNULL(CastingStock.stock, 0) - ISNULL(CastingJOStock.stock, 0)) < 0)  
 --            THEN 0  
 --            ELSE ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0)  
 --           - ISNULL(CastingStock.stock, 0) - ISNULL(CastingJOStock.stock, 0)  
 --         END) AS FLOAT) ) * NoofCoreperCasting)/CoreperCasting), 0))  
 --        - ISNULL(( CoreInventory.Stock ), 0)  
 --       - ISNULL(CorePlanQty, 0), 0  
 --     ) < 0   
 --     THEN 0  
 --     ELSE ISNULL(CEILING(ISNULL(SUM(((   
 --       CAST((  
 --        CASE WHEN ((ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0)  
 --           - ISNULL(CastingStock.stock, 0) - ISNULL(CastingJOStock.stock, 0)) < 0)  
 --            THEN 0  
 --            ELSE ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0)  
 --           - ISNULL(CastingStock.stock, 0) - ISNULL(CastingJOStock.stock, 0)  
 --         END) AS FLOAT)  
 --          ) * NoofCoreperCasting)/CoreperCasting), 0))  
 --        - ISNULL(( CoreInventory.Stock ), 0)  
 --       - ISNULL(CorePlanQty, 0), 0)  
 --     END AS RequiredCore ,  
 --     dbo.PatternMaster.PatternId , CoreBoxDetails.CoreBoxID, MachineMaster.MachineName,  SandTypeMaster.SandType               
                         
 --     FROM    CastingMaster  
 --     INNER JOIN PatternMaster ON CastingMAster.DieID = PatternMaster.PatternID  
 --     INNER JOIN dbo.CoreBoxDetails ON dbo.PatternMaster.PatternId = dbo.CoreBoxDetails.PatternID  
 --     inner join dbo.CoreBoxMaster ON dbo.CoreBoxMaster.CoreMasterID = dbo.CoreBoxDetails.CoreMasterID      
 --     LEFT JOIN MachineMaster ON MachineMaster.MachineId = CoreBoxMaster.MachineId  
 --     INNER JOIN SandTypeMaster ON CoreBoxMaster.SandTypeID = SandTypeMaster.SandTypeId  
 --     AND SandTypeMaster.IsDeleted = 0  
 --     LEFT JOIN ( SELECT  ISNULL(SUM(CorePlanning.Qty), 0) AS CorePlanQty ,   
 --           CoreID   
 --        FROM  CorePlanning  
 --        WHERE  CAST(Date AS DATE) BETWEEN CAST(@Startdate AS DATE) AND CAST(@EndDate AS DATE)
 --        GROUP BY CoreID  
 --     ) AS CorePlan ON CorePlan.CoreID = CoreBoxDetails.CoreBoxID  
        
 --     LEFT JOIN ( SELECT  ISNULL(SUM(Stock), 0) AS Stock ,   
 --           CoreId   
 --        FROM  dbo.CoreInventoryDetail   
 --        GROUP BY CoreInventoryDetail.CoreId  
 --     ) AS CoreInventory ON CoreInventory.CoreId = dbo.CoreBoxDetails.CoreBoxId  
        
 --     LEFT JOIN (
	--	SELECT		CastingMaster.Dieid AS PatternId,
	--				SUM(stock) AS stock
	--	FROM		CastingStock
	--				INNER JOIN CastingMaster
	--				ON CastingStock.castingid = CastingMaster.CastingId
	--	WHERE		CastingMaster.IsDeleted = 0
	--	GROUP BY	CastingMaster.Dieid
	--) AS CastingStock
	--ON CastingStock.PatternId = PatternMaster.PatternId
	--LEFT JOIN (
	--	SELECT		CastingMaster.Dieid AS PatternId,
	--				SUM(stock) AS stock
	--	FROM		CastingJOStock
	--				INNER JOIN CastingMaster
	--				ON CastingJOStock.castingid = CastingMaster.CastingId
	--	WHERE		CastingMaster.IsDeleted = 0
	--	GROUP BY	CastingMaster.Dieid
	--) AS CastingJOStock
	--ON CastingJOStock.PatternId = PatternMaster.PatternId
 --     INNER JOIN (   
 --      SELECT OrderUnioned.CastingID , OrderUnioned.MetalID , OrderUnioned.MetalName ,  
 --        SUM(OrderUnioned.OrderQty) OrderQty , SUM(OrderUnioned.DispatchQty) AS DispatchQty  
 --      FROM    (  
 --        SELECT CastingID , MetalMaster.MetalID , MetalName , SUM(RequiredQty) AS OrderQty ,  
 --          SUM(DispatchTable.DispatchQty) AS DispatchQty  
 --        FROM      OrderTranse  
 --        INNER JOIN ORderMaster ON OrderMaster.CustomerOrderiD = OrderTranse.CustomerORderID  
 --        INNER JOIN MetalMaster ON OrderTranse.MetalID = MetalMaster.MEtalID  
 --        LEFT JOIN (   
 --         SELECT OrderID , OrderserialNo , SUM(Dispatchqty) AS DispatchQty  
 --         FROM dispatchtrans WHERE IsDeleted = 0 GROUP BY orderid, orderserialno  
 --        ) AS DispatchTable ON OrderTranse.CustomerOrderId = DispatchTable.orderid  
 --               AND OrderTranse.SrNo = DispatchTable.orderserialno AND dbo.OrderTranse.IsDeleted = 0  
 --        WHERE     OrderMaster.maxversion = 1 AND OrderTranse.Isdeleted = 0 AND Isshortclose = 0 AND IsDelivered = 0  
 --        AND CAST(OrderDate AS DATE) BETWEEN CAST(@Startdate AS DATE) AND CAST(@EndDate AS DATE)
 --        AND  (@CastingId IS NULL OR OrderTranse.CastingId = @CastingId)  
 --        GROUP BY  CastingID , MetalMaster.MetalID , MetalMaster.MetalName  
 --        UNION ALL  
 --        SELECT  dbo.SetCastingMapping.CastingId , MetalMaster.MetalID , MetalName ,  
 --          SUM(RequiredQty * dbo.SetCastingMapping.Qty) AS OrderQty ,  
 --          SUM(DispatchTable.DispatchQty) AS DispatchQty  
 --        FROM    dbo.OrderSetItemTrans  
 --        INNER JOIN dbo.SetCastingMapping ON dbo.SetCastingMapping.SetId = dbo.OrderSetItemTrans.SetId  
 --                 AND OrderSetItemTrans.IsDeleted = 0  
 --        INNER JOIN dbo.OrderMaster ON dbo.OrderMaster.CustomerOrderId = dbo.OrderSetItemTrans.CustomerOrderId  
 --        INNER JOIN MetalMaster ON SetCastingMapping.MetalID = MetalMaster.MEtalID  
 --        LEFT JOIN (   
 --         SELECT OrderSetItemTransID , CastingId , SUM(dbo.DispatchSetCasting.DispatchedQty) AS DispatchQty  
 --         FROM dbo.DispatchSetCasting  
 --         INNER JOIN dbo.DispatchSetItemTrans ON dbo.DispatchSetItemTrans.DispatchSetItemTransID = dbo.DispatchSetCasting.DispatchSetItemTransID  
 --         WHERE DispatchSetItemTrans.IsDeleted = 0  
 --         GROUP BY OrderSetItemTransID , CastingId  
 --        ) AS DispatchTable ON dbo.OrderSetItemTrans.OrderSetItemTransID = DispatchTable.OrderSetItemTransID  
 --               AND dbo.SetCastingMapping.CastingId = DispatchTable.CastingId  
 --        WHERE OrderMaster.Isdeleted = 0 AND OrderMaster.maxversion = 1 AND Isshortclose = 0 AND IsDelivered = 0  
 --          AND OrderSetItemTrans.IsDeleted = 0  
 --          AND CAST(OrderDate AS DATE) BETWEEN CAST(@Startdate AS DATE) AND CAST(@EndDate AS DATE)
 --        GROUP BY  dbo.SetCastingMapping.CastingId , MetalMaster.MetalID , MetalMaster.MetalName  
 --      ) OrderUnioned  
 --      GROUP BY OrderUnioned.CastingID , OrderUnioned.MetalID , OrderUnioned.MetalName  
 --     ) AS ORderTable ON CastingMaster.CastingID = OrderTable.CastingID  
 --   WHERE ( ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0) - ISNULL(ORderTable.DispatchQty, 0)  
 --       - ISNULL(CastingStock.stock, 0) - ISNULL(CastingJOStock.stock, 0)) > 0  
 --     AND ( @CastingId IS NULL OR CastingMaster.CastingId = @CastingId )  
 --     AND ( @PatternId IS NULL OR dbo.PatternMaster.PatternId = @PatternId )   
 --     AND ( @MachineId IS NULL OR dbo.CoreBoxMaster.MachineId = @MachineId )   
 --     AND ( @CastingName IS NULL OR CastingMaster.CastingName = @CastingName )   
 --     And PatternMaster.IsDeleted=0 And CoreBoxDetails.IsDelete=0  
 --     AND ( @PlantIdString IS NULL  
 --                             OR @PlantIdString = ''  
 --                             OR CastingMaster.CastingId IN (  
 --                             SELECT    CastingId  
 --                             FROM      dbo.PlantCastingMapping  
 --                                       where PlantId in (SELECT Item FROM @Plant) )  
 --                           )  
 --                        AND CastingMaster.EntityID = @EntityId  
 --   GROUP BY PatternCode , dbo.PatternMaster.PatternId , CoreInventory.Stock , CoreBoxName ,  
 --   CoreBoxDetails.CoreBoxID ,CoreBoxDetails.NoofCavityperCoreBox , CorePlanQty  , MachineMaster.MachineName, SandTypeMaster.SandType  
    
 --  ) AS Final  
  
  
  END  
 
	 ELSE  
  BEGIN  
   SELECT ROW_NUMBER() OVER ( ORDER BY PatternCode ) AS SrNo , * FROM (  
       SELECT PatternCode , CoreBoxName ,  
    STUFF(( SELECT  ',' + CastingMaster.CastingName FROM CastingMaster WHERE CastingMaster.dieid = dbo.PatternMaster.PatternId  
       FOR XML PATH('') ), 1, 1, '') AS CastingName ,  
    STUFF(( SELECT  ',' + CastingMaster.CastingCode FROM CastingMaster WHERE CastingMaster.dieid = dbo.PatternMaster.PatternId  
       FOR XML PATH('') ), 1, 1, '') AS CastingCode ,  
    OrderTable.OrderNo,  OrderTable.Priority,                             
    ISNULL(CoreInventory.Stock, 0) AS CoreQty ,  
    sum(ISNULL(dbo.CastingStock.stock, 0) + ISNULL(dbo.CastingJOStock.stock, 0)) AS CastingStock,  
    SUM(ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0) ) AS CastingPlanQty ,  
    CASE WHEN ISNULL(CEILING(( ISNULL(SUM(((  
       CAST((  
        CASE WHEN ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0) < 0  
        THEN 0  
        ELSE ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0)
        END) AS FLOAT)  
       ) * NoofCoreperCasting)/CoreperCasting), 0)  
      ) / CoreBoxDetails.NoofCavityperCoreBox), 0) < 0  
      THEN 0  
      ELSE ISNULL(CEILING(( ISNULL(SUM(((   
       CAST((  
        CASE WHEN ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0) < 0  
        THEN 0  
        ELSE ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0)
        END) AS FLOAT)   
       ) * NoofCoreperCasting)/CoreperCasting), 0)  
      ) / CoreBoxDetails.NoofCavityperCoreBox) , 0)  
    END AS RequiredShots ,  
    CASE WHEN ISNULL(CEILING(ISNULL(SUM(((   
       CAST((  
        CASE WHEN ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0) < 0  
        THEN 0  
        ELSE ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0)
        END) AS FLOAT)   
       ) * NoofCoreperCasting)/CoreperCasting), 0)), 0) < 0   
      THEN 0  
      ELSE ISNULL(CEILING(ISNULL(SUM(((   
       CAST((  
        CASE WHEN ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0) < 0  
        THEN 0  
        ELSE ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0)
        END) AS FLOAT)   
       ) * NoofCoreperCasting)/CoreperCasting), 0)) , 0)  
    END AS RequiredCore ,  
    dbo.PatternMaster.PatternId , CoreBoxDetails.CoreBoxID, MachineMaster.MachineName,  SandTypeMaster.SandType, NoofCoreperCasting               
    FROM    CastingMaster  
    INNER JOIN PatternMaster ON CastingMAster.DieID = PatternMaster.PatternID                                                         
    INNER JOIN dbo.CoreBoxDetails ON dbo.PatternMaster.PatternId = dbo.CoreBoxDetails.PatternID  
    inner join dbo.CoreBoxMaster ON dbo.CoreBoxMaster.CoreMasterID = dbo.CoreBoxDetails.CoreMasterID      
    LEFT JOIN MachineMaster ON MachineMaster.MachineId = CoreBoxMaster.MachineId  
    inner join SandTypeMaster ON CoreBoxMaster.SandTypeID = SandTypeMaster.SandTypeId  
    AND SandTypeMaster.IsDeleted = 0  
    LEFT JOIN (   
      SELECT  ISNULL(SUM(Stock), 0) AS Stock ,CoreId  
      FROM    dbo.CoreInventoryDetail  
      GROUP BY CoreInventoryDetail.CoreId  
    ) AS CoreInventory ON CoreInventory.CoreId = dbo.CoreBoxDetails.CoreBoxId  
    INNER JOIN CastingStock ON CastingMaster.CastingID = CastingStock.CastingID  
    LEFT JOIN dbo.CastingJOStock ON dbo.CastingJOStock.castingid = dbo.CastingMaster.CastingId  
    LEFT JOIN (   
      SELECT  OrderUnioned.CastingID , OrderUnioned.MetalID , OrderUnioned.MetalName , OrderUnioned.OrderNo,  
        OrderUnioned.Priority, SUM(OrderUnioned.OrderQty) OrderQty , SUM(OrderUnioned.DispatchQty) AS DispatchQty  
      FROM (   
        SELECT  CastingID , MetalMaster.MetalID , MetalName , OrderMaster.CustomerOrderNo as OrderNo,  
           (Case when OrderTranse.OrderPriority = 1  then 'Medium'   
           else (case when OrderTranse.OrderPriority = 2 then 'High' else 'Low' end) end) as Priority,  
           SUM(RequiredQty) AS OrderQty, SUM(DispatchTable.DispatchQty) AS DispatchQty  
        FROM  OrderTranse  
        INNER JOIN ORderMaster ON OrderMaster.CustomerOrderiD = OrderTranse.CustomerORderID  
        INNER JOIN MetalMaster ON OrderTranse.MetalID = MetalMaster.MEtalID  
        LEFT JOIN (   
          SELECT OrderID , OrderserialNo , SUM(Dispatchqty) AS DispatchQty  
          FROM dispatchtrans  
          WHERE IsDeleted = 0  
          GROUP BY orderid ,orderserialno  
        ) AS DispatchTable ON OrderTranse.CustomerOrderId = DispatchTable.orderid  
               AND OrderTranse.SrNo = DispatchTable.orderserialno AND dbo.OrderTranse.IsDeleted = 0  
        WHERE     OrderMaster.maxversion = 1 AND OrderTranse.Isdeleted = 0 AND Isshortclose = 0 AND IsDelivered = 0  
        AND CAST(OrderDate AS DATE) BETWEEN CAST(@Startdate AS DATE) AND CAST(@EndDate AS DATE)
        AND  ( @CastingId IS NULL OR OrderTranse.CastingId = @CastingId )   
        And ( @OrderPriority = -1 OR OrderTranse.OrderPriority = @OrderPriority )  
        GROUP BY  CastingID , MetalMaster.MetalID , MetalMaster.MetalName, CustomerOrderNo, OrderTranse.OrderPriority  
          
        UNION ALL  
        SELECT  dbo.SetCastingMapping.CastingId , MetalMaster.MetalID , MetalName ,   
          OrderMaster.CustomerOrderNo as OrderNo, 'Medium' as Priority,  
          SUM(RequiredQty * dbo.SetCastingMapping.Qty) AS OrderQty , SUM(DispatchTable.DispatchQty) AS DispatchQty  
        FROM dbo.OrderSetItemTrans  
        INNER JOIN dbo.SetCastingMapping ON dbo.SetCastingMapping.SetId = dbo.OrderSetItemTrans.SetId  
                 AND OrderSetItemTrans.IsDeleted = 0  
        INNER JOIN dbo.OrderMaster ON dbo.OrderMaster.CustomerOrderId = dbo.OrderSetItemTrans.CustomerOrderId  
        INNER JOIN MetalMaster ON SetCastingMapping.MetalID = MetalMaster.MEtalID  
        LEFT JOIN (   
          SELECT OrderSetItemTransID , CastingId , SUM(dbo.DispatchSetCasting.DispatchedQty) AS DispatchQty  
          FROM dbo.DispatchSetCasting  
          INNER JOIN dbo.DispatchSetItemTrans ON dbo.DispatchSetItemTrans.DispatchSetItemTransID = dbo.DispatchSetCasting.DispatchSetItemTransID  
          WHERE DispatchSetItemTrans.IsDeleted = 0  
          GROUP BY OrderSetItemTransID , CastingId  
        ) AS DispatchTable ON dbo.OrderSetItemTrans.OrderSetItemTransID = DispatchTable.OrderSetItemTransID  
              AND dbo.SetCastingMapping.CastingId = DispatchTable.CastingId  
        WHERE   OrderMaster.Isdeleted = 0 AND OrderMaster.maxversion = 1 AND Isshortclose = 0  
          AND IsDelivered = 0 AND OrderSetItemTrans.IsDeleted = 0  
          AND CAST(OrderDate AS DATE) BETWEEN CAST(@Startdate AS DATE) AND CAST(@EndDate AS DATE)
          And ( @OrderPriority = -1 OR 1=0 )  
        GROUP BY  dbo.SetCastingMapping.CastingId , MetalMaster.MetalID , MetalMaster.MetalName, CustomerOrderNo                                                              
      ) OrderUnioned  
      GROUP BY OrderUnioned.CastingID , OrderUnioned.MetalID , OrderUnioned.MetalName, OrderUnioned.OrderNo,  
         OrderUnioned.Priority  
    ) AS ORderTable ON CastingMaster.CastingID = OrderTable.CastingID  
    WHERE ( ISNULL(ORderTable.OrderQty, 0) - ISNULL(ORderTable.DispatchQty, 0) ) > 0  
      AND ( @CastingId IS NULL OR CastingMaster.CastingId = @CastingId )  
      AND ( @PatternId IS NULL OR dbo.PatternMaster.PatternId = @PatternId )   
      AND ( @MachineId IS NULL OR dbo.CoreBoxMaster.MachineId = @MachineId )   
	  AND ( @CastingName IS NULL OR CastingMaster.CastingName = @CastingName )
      And PatternMaster.IsDeleted=0 And CoreBoxDetails.IsDelete=0   
      AND ( @PlantIdString IS NULL  
                              OR @PlantIdString = ''  
                    OR CastingMaster.CastingId IN (  
                              SELECT    CastingId  
                              FROM      dbo.PlantCastingMapping  
                                where PlantId in (SELECT Item FROM @Plant) )  
                            )  
                         AND CastingMaster.EntityID = @EntityId   
    GROUP BY PatternCode , dbo.PatternMaster.PatternId , CoreInventory.Stock , CoreBoxName , CoreBoxDetails.CoreBoxID ,  
    CoreBoxDetails.NoofCavityperCoreBox ,  MachineMaster.MachineName, SandTypeMaster.SandType  , ORderTable.OrderNo , OrderTable.Priority,  
    NoofCoreperCasting  
    
   ) AS Final  
  END  
    END                      
    END  
GO
