USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchProcessName_By_Casting_Report]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchProcessName_By_Casting_Report]
	-- Add the parameters for the stored procedure here
    @CastingId UNIQUEIDENTIFIER = NULL ,
    @ReportId UNIQUEIDENTIFIER = NULL ,
    @ProcessName VARCHAR(100) = NULL,
    @PartId UNIQUEIDENTIFIER = NULL
AS
    BEGIN
 
        
       
                SELECT DISTINCT ProcessMaster.ProcessId,
                        ProcessName
                FROM    CastingPartNo
                        INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = CastingPartNo.ProcessId
                WHERE   CastingId = @CastingId
                        AND ReportId = @ReportId
                        AND PartId = @PartId
                        and isnull(CastingPartNo.IsDeleted,0) = 0
            
    END
GO
