USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ActualAttendanceHR]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[ActualAttendanceHR]
	@Parameter INT = 0 ,
	@EntityId INT = 0 ,  
    @isFilterDeleteFlag INT = 0 ,
    @isFilterActiveFlag INT = 1,
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    @IsGroupWise bit = 0,
    @IsDepartWise BIT = 0,
    @ActualWorkingTime bit = 0,
	@EmployeeId INT = 0 
AS
BEGIN
		IF ( @Parameter =1 )
        BEGIN
       
	--	SELECT	EmployeeCode, EmployeeName, Shift, InTime, OutTime, WorkDuration
	--	, (CASE WHEN @IsDepartWise = 0 THEN [groupname] ELSE [departmentname] END) AS [Groupname]
	--	, (CASE WHEN @IsDepartWise = 0 THEN rw ELSE rw1 END) AS rw
	--FROM (	
		SELECT   EmployeeCode AS EmployeeCode ,
				 (ISNULL(EmployeeName, '') + ' '+ ISNULL(LastName, '') ) AS EmployeeName ,
					CASE WHEN EmployeeAttendance.StartTime is null or IsConsiderAbsent = 1  then  
					      '-'  else  isnull(ShiftName,'') end AS Shift,
				--  isnull(ShiftName,'') AS Shift,
				 CASE 
				     WHEN EmployeeAttendance.StartTime is null /*or IsConsiderAbsent = 1 Comment by Juhi Singh on 13-05-2025*/ then  
					     null else 
							  CASE WHEN EmployeeAttendance.StartTime is not null then CONVERT(DATETIME, CONVERT(varchar, AttendanceDate, 112) 
							 + ' ' + CONVERT(varchar, EmployeeAttendance.StartTime, 108))
							  else CONVERT(varchar, EmployeeAttendance.StartTime, 108) end end  as InTime ,
				 --CASE WHEN EmployeeAttendance.EndTime is not null then  CONVERT(DATETIME, CONVERT(varchar, AttendanceDate, 112) 
					--	 + ' ' + CONVERT(varchar, EmployeeAttendance.EndTime, 108)) 
					--	 else EmployeeAttendance.EndTime end as OutTime ,
					 CASE WHEN EmployeeAttendance.StartTime is null /*or IsConsiderAbsent = 1 Comment by Juhi Singh on 13-05-2025*/  then  
					      '00:00'  else Case When @ActualWorkingTime = 1 then
									 CASE WHEN EmployeeAttendance.ActEndTime is not null then  CONVERT(DATETIME, CONVERT(varchar, AttendanceDate, 112) 
										 + ' ' + CONVERT(varchar, EmployeeAttendance.ActEndTime, 108)) 
										 else EmployeeAttendance.ActEndTime end 
								else CASE WHEN EmployeeAttendance.EndTime is not null then  CONVERT(DATETIME, CONVERT(varchar, AttendanceDate, 112) 
										 + ' ' + CONVERT(varchar, EmployeeAttendance.EndTime, 108)) 
										 else EmployeeAttendance.EndTime end end end as OutTime ,
						--	convert(char(8),Hours, 8)  as WorkDuration,	
				 CASE WHEN EmployeeAttendance.StartTime is null or IsConsiderAbsent = 1  then  
					      '00:00'  else Case When @ActualWorkingTime = 1 
									then convert(char(5),ActHours, 8) 
									else convert(char(5),Hours, 8) end end as WorkDuration	,
				case when @IsGroupWise =  1	then		
									case when EmployeeGroupId = 0  
									then 'Other' else CommonData_Master.DisplayName end 
									else ' ' end as GroupName
							,
				EmployeeGroupId,
				 case when EmployeeGroupId = 0 then '99999'
				 else  Row_number() Over(Partition by EmployeeGroupId order by EmployeeGroupId) end   as rw,
				 case when @IsGroupWise =  1	then		
									case when EmpDept_Id is null
									then 'Other' else DepartmentName end 
									else ' ' end as DepartmentName	,
				 case when EmpDept_Id is null then '9999'
				 else  Row_number() Over(Partition by EmpDept_Id order by EmpDept_Id) end   as rw1	,
					EmpDept_Id,Holiday.Holiday_Date as Holiday
		   FROM  dbo.EmployeeDetails
			 --  left join HRShiftMaster on HRShiftMaster.ShiftId = EmployeeDetails.ShiftId
			   left join EmployeeAttendance on EmployeeAttendance.EmployeeId = EmployeeDetails.EmployeeId and cast(AttendanceDate as DATE)= cast(@StartDate  as DATE)
			   left join HRShiftMaster on HRShiftMaster.ShiftId = EmployeeAttendance.ShiftId
			   left join CommonData_Master on EmployeeDetails.EmployeeGroupId = CommonData_Master.CommonDataId
						 and CommonData_Master.IsDeleted = 0 and [Group] = 'EmployeeGroup' 
			  left join SystemDepartment sydp on EmployeeDetails.EmpDept_Id = sydp.DepartmentID
				and sydp.ifActice = 1  
			  left join--(
			               (
								SELECT 
									HM.Holiday_Date,
									CASE 
										WHEN TL.date_field IS NOT NULL THEN TL.ParentId
										ELSE HTM.ParentId
									END AS ParentId
								FROM 
									HolidayMaster HM
								INNER JOIN 
									HolidayTemplateMapping HTM ON HTM.HolidayId = HM.HolidayId
								OUTER APPLY (
												SELECT TOP 1 TL.ParentId, TL.date_field
												FROM TemplateLog TL
												WHERE TL.ParentId = HTM.ParentId 
												  AND TL.emp_id = @EmployeeId
												  AND TL.date_field <= @StartDate
												ORDER BY TL.date_field ASC
											) TL
								WHERE 
									HM.IsDeleted = 0
									AND CAST(HM.Holiday_Date AS DATE) = CAST(@StartDate AS DATE)
							) AS Holiday
							ON Holiday.ParentId = EmployeeDetails.HolidayParentId

			  --             select HolidayMaster.Holiday_Date,HolidayTemplateMapping.ParentId
					--	     from HolidayMaster , HolidayTemplateMapping 
					--		where HolidayTemplateMapping.HolidayId = HolidayMaster.HolidayId 
					--		  and HolidayMaster.Isdeleted = 0
     --                         and  cast(HolidayMaster.Holiday_Date as DATE)= cast(@StartDate  as DATE) 
			        --    ) as Holiday on  Holiday.ParentId = EmployeeDetails.HolidayParentId

			   where (	(isActive=1 and IsInitialExit = 0 )
						--or (isActive=0) 
						or  (IsInitialExit = 1  and InitialExitDate > @StartDate ) 
					)
					AND dbo.EmployeeDetails.IsDelete = 0
					 AND IsDummy = 0
					 AND (EmployeeDetails.ShowInHR = 1)
					 AND EmployeeDetails.EntityId = @EntityId
					 and (@EmployeeId= 0 or EmployeeDetails.EmployeeId= @EmployeeId)	
					group by  EmployeeGroupId 
					,CommonData_Master.DisplayName,EmployeeCode,EmployeeName,ShiftName,
					EmployeeAttendance.StartTime,EmployeeAttendance.EndTime,
					LastName,AttendanceDate,EmployeeAttendance.Hours,
					DepartmentName,
					ActHours,ActEndTime,IsConsiderAbsent,EmpDept_Id,Holiday.Holiday_Date
			   order by EmployeeGroupId  ,rw, EmpDept_Id,rw1,EmployeeDetails.EmployeeCode 
					-- order by GroupName,DepartmentName
					
		
	 
		END
	
	   IF ( @Parameter = 2 )
            BEGIN
            
            SELECT  EmployeeDetails.EmployeeId AS ID ,
                        EmployeeDetails.EmployeeCode AS Code ,
                        ( ISNULL(EmployeeName, '') + ' ' + ISNULL(LastName, '') ) AS Name ,
                        DateTable.date ,
                         EmployeeDetails.EmployeeCode AS Empcode ,
                      --  logs.Empcode ,
                         logs.FirstTime ,                       
                         logs.LastTime ,		
					    CASE WHEN  logs.FirstTime is null /*or IsConsiderAbsent = 1 Comment by Juhi 13-05-2025*/ then  
									 '00:00'  ELSE 
							  RIGHT('0'
                              + CAST(DATEPART(hh, logs.FirstTime) AS VARCHAR),
                              2) + ':' + RIGHT('0'
                                               + CAST(DATEPART(mi,
                                                              logs.FirstTime) AS VARCHAR),
                                               2) end as FirstTimeString ,
                         CASE WHEN  logs.LastTime is null /*or IsConsiderAbsent = 1 */ then  
									 '00:00'  ELSE
								   RIGHT('0'
										  + CAST(DATEPART(hh, logs.LastTime) AS VARCHAR),
										  2) + ':' + RIGHT('0'
														   + CAST(DATEPART(mi,
																		  logs.LastTime) AS VARCHAR),
														   2) End as LastTimeString ,
                        DateTable.Status DateStatus ,
                        --DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime) AS Total ,
                        case when logs.LastTime < logs.FirstTime
                        then DATEDIFF(MINUTE, CONVERT(DATETIME, CONVERT(CHAR(8), GETDATE(), 112)  + ' ' + CONVERT(CHAR(8), logs.FirstTime, 108)), 
									DATEADD(DAY, 1, CONVERT(DATETIME, CONVERT(CHAR(8), GETDATE(), 112)  + ' ' + CONVERT(CHAR(8), logs.LastTime, 108))))
                        else DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime) end  AS Total ,
                       
									case when DateTable.Status = 'WO' and FirstTime is not null and LastTime is not null 
												--and (DATEDIFF(MINUTE,  StartDateTimeShift, EndDateTimeShift) / 2 >= DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime)) AND  (DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime) < DATEDIFF(MINUTE,  StartDateTimeShift, EndDateTimeShift))
												AND ((ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Half/Full Day' OR ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Late / Early Punching')
													AND ISNULL(EmpAttandLeaveDtls.LeaveDeduct, 0) = 0.5)
										then '1/2'  + DateTable.Status + 'P'
								when DateTable.Status = 'WO' and FirstTime is not null and LastTime is not null 
												--and DATEDIFF(HOUR, logs.FirstTime, logs.LastTime) > 4 
												AND ISNULL(EmpAttandLeaveDtls.LeaveType, '') = ''
										then  DateTable.Status + 'P'										
									when DateTable.Status = 'WO'
										then  'WO'	
									when DateTable.Status = 'H' and FirstTime is not null and LastTime is not null 
												--and (DATEDIFF(MINUTE,  StartDateTimeShift, EndDateTimeShift) / 2 >= DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime)) AND  (DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime) < DATEDIFF(MINUTE,  StartDateTimeShift, EndDateTimeShift))
												AND ((ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Half/Full Day' OR ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Late / Early Punching')
													AND ISNULL(EmpAttandLeaveDtls.LeaveDeduct, 0) = 0.5)
										then  '1/2' + DateTable.Status + 'P'
									when DateTable.Status = 'H' and FirstTime is not null and LastTime is not null 
												--and DATEDIFF(HOUR, logs.FirstTime, logs.LastTime) > 4 
												AND ISNULL(EmpAttandLeaveDtls.LeaveType, '') = ''
										then  DateTable.Status + 'P'
									when DateTable.Status = 'H'
										then  DateTable.Status
									WHEN  FirstTime is not null and LastTime is not null 
												--and (DATEDIFF(MINUTE,  StartDateTimeShift, EndDateTimeShift) / 2 >= DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime)) AND  (DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime) < DATEDIFF(MINUTE,  StartDateTimeShift, EndDateTimeShift))
												AND ((ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Half/Full Day' OR ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Late / Early Punching')
													AND ISNULL(EmpAttandLeaveDtls.LeaveDeduct, 0) = 0.5)
										THEN '1/2'
									--WHEN LeaveType = 'Late / Early Punching'
									--	THEN '1/2'
									when DateTable.Status = 'W' 
										and (LastTime is null or IsConsiderAbsent = 1 
											OR (ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Half/Full Day' AND ISNULL(EmpAttandLeaveDtls.LeaveDeduct, 0) = 1))
										then  'A'
									else 'P' 
								end AS status,
								
                         CASE WHEN  FirstTime is null or IsConsiderAbsent = 1  then  
					      '00:00' ELSE 
								  CONVERT(varchar(5), DATEADD(minute, 
								case when logs.LastTime < logs.FirstTime
								then	DATEDIFF(MINUTE, 
											CONVERT(DATETIME, CONVERT(CHAR(8), GETDATE(), 112)  + ' ' + CONVERT(CHAR(8), logs.FirstTime, 108)), 
											DATEADD(DAY, 1, CONVERT(DATETIME, CONVERT(CHAR(8), GETDATE(), 112)  + ' ' + CONVERT(CHAR(8), logs.LastTime, 108)))
										)
								else	DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime) end
								, 0) , 114) end as Hoursdiff
                       
                FROM    EmployeeDetails
                        OUTER APPLY (
							SELECT * FROM HRSummaryDates(@StartDate, @EndDate, EmployeeDetails.EmployeeId )
                         ) AS DateTable 
                        LEFT JOIN ( SELECT  EmployeeId ,
                                            CAST(AttendanceDate AS DATE) AS Logdate ,
                                            EmployeeAttendance.StartTime AS FirstTime ,
                                           Case When @ActualWorkingTime = 1 
                                                   then ActEndTime
													else EmployeeAttendance.EndTime end AS LastTime,
                                            Case When @ActualWorkingTime = 1 
                                                 then Hours
                                                 else ActHours end as Hours,
												 IsConsiderAbsent,
												  CONVERT(DATETIME, CONVERT(CHAR(8), GETDATE(), 112) + ' ' 
															+ CONVERT(CHAR(8), HRShiftMaster.StartTime, 108)) AS StartDateTimeShift
												, CONVERT(DATETIME, CONVERT(CHAR(8), DATEADD(DAY, 
															(CASE WHEN HRShiftMaster.StartTime > HRShiftMaster.EndTime THEN 1 ELSE 0 END)
												, GETDATE()), 112) + ' ' + CONVERT(CHAR(8), HRShiftMaster.EndTime, 108)) AS EndDateTimeShift
                                    FROM    EmployeeAttendance
									Inner Join HRShiftMaster  on EmployeeAttendance.ShiftId = HRShiftMaster.ShiftId
                                    WHERE    CAST( AttendanceDate AS DATE) BETWEEN @StartDate AND @EndDate
                                    --GROUP BY EmployeeId ,
                                    --        AttendanceDate,StartTime,EndTime,Hours
                                  ) AS logs ON logs.Logdate = DateTable.date
                                               AND logs.EmployeeId = EmployeeDetails.EmployeeId

						Left Join(   
							--SELECT * FROM FN_Employee_PayrunLeaveDetails(@EntityId, @EndDate,@EmployeeId)
							select * from FN_EmployeeAttendanceLeaveDtls(@EntityId, @StartDate, @EndDate)
						)as EmpAttandLeaveDtls  ON EmpAttandLeaveDtls.LeaveDate = DateTable.date
                                               AND EmpAttandLeaveDtls.EmployeeId = EmployeeDetails.EmployeeId
                WHERE   
                --( EmployeeDetails.isActive = @isFilterActiveFlag
                --          OR EmployeeDetails.isActive = @isFilterDeleteFlag
                --        )
                 ( (EmployeeDetails.isActive = @isFilterActiveFlag and IsInitialExit = 0)                       
                      or (IsInitialExit = 1  and InitialExitDate > @StartDate )
                     )
                        AND 
                        (EmployeeDetails.ShowInHR = 1)
                        AND dbo.EmployeeDetails.IsDelete = 0
                        AND EmployeeDetails.EntityId = @EntityId
                      --  and EmployeeType= 1
						and (@EmployeeId= 0 or EmployeeDetails.EmployeeId= @EmployeeId)	
                ORDER BY EmployeeDetails.EmployeeCode ,
                        date
                OPTION  ( MAXRECURSION 0 )
                
	--SET @EndDate =( select dateadd(dd,1,@EndDate))
	
      --          SELECT  EmployeeDetails.EmployeeId AS ID ,
      --                  EmployeeDetails.EmployeeCode AS Code ,
      --                  ( ISNULL(EmployeeName, '') + ' ' + ISNULL(LastName, '') ) AS Name ,
      --                  DateTable.date ,
      --                   EmployeeDetails.EmployeeCode AS Empcode ,
      --                --  logs.Empcode ,
      --                  logs.FirstTime ,                       
      --                  logs.LastTime ,
      --                  RIGHT('0'
      --                        + CAST(DATEPART(hh, logs.FirstTime) AS VARCHAR),
      --                        2) + ':' + RIGHT('0'
      --                                         + CAST(DATEPART(mi,
      --                                                        logs.FirstTime) AS VARCHAR),
      --                                         2) FirstTimeString ,
      --                  RIGHT('0'
      --                        + CAST(DATEPART(hh, logs.LastTime) AS VARCHAR),
      --                        2) + ':' + RIGHT('0'
      --                                         + CAST(DATEPART(mi,
      --                                                        logs.LastTime) AS VARCHAR),
      --                                         2) LastTimeString ,
      --                  DateTable.Status DateStatus ,
      --                  --DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime) AS Total ,
      --                   case when logs.LastTime < logs.FirstTime
      --                  then DATEDIFF(MINUTE, logs.LastTime, logs.FirstTime)
      --                  else DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime) end  AS Total ,
      --                  CASE WHEN DATEDIFF(HOUR, logs.FirstTime, logs.LastTime) BETWEEN 4
      --                                                        AND
      --                                                        6 THEN '1/2'
      --                       ELSE ''
      --                  END
      --                  + CASE WHEN DateTable.Status != 'W'
      --                         THEN CASE WHEN logs.EmployeeId IS NULL
      --                                        OR DATEDIFF(HOUR, logs.FirstTime,
      --                                                    logs.LastTime) < 4
      --                                   THEN DateTable.Status
      --                                   ELSE DateTable.Status + 'P'
      --                              END
      --                         ELSE CASE WHEN logs.EmployeeId IS NULL
      --                                        OR DATEDIFF(HOUR, logs.FirstTime,
      --                                                    logs.LastTime) < 4
      --                                   THEN 'A'
      --                                   ELSE 'P'
      --                              END
      --                    END status ,   
      --                  case when logs.LastTime < logs.FirstTime
						--then	DATEDIFF(HOUR, logs.LastTime, logs.FirstTime)
						--else  DATEDIFF(HOUR, logs.FirstTime, logs.LastTime) end 
      --                 -- DATEDIFF(HOUR, logs.FirstTime, logs.LastTime)
      --                  --,
      --                  -- Case When @ActualWorkingTime = 1 
      --                  --                         then Hours
      --                  --                         else ActHours end as Hours
      --          FROM    EmployeeDetails
      --                  OUTER APPLY (
						--	SELECT * FROM HRSummaryDates(@StartDate, @EndDate, EmployeeDetails.EmployeeId )
      --                   ) AS DateTable 
      --                  LEFT JOIN ( SELECT  EmployeeId ,
      --                                      CAST(AttendanceDate AS DATE) AS Logdate ,
      --                                      StartTime AS FirstTime ,
      --                                     Case When @ActualWorkingTime = 1 
      --                                             then ActEndTime
						--							else EndTime end AS LastTime,
      --                                      Case When @ActualWorkingTime = 1 
      --                                           then Hours
      --                                           else ActHours end as Hours
      --                              FROM    EmployeeAttendance
      --                              WHERE    CAST( AttendanceDate AS DATE) BETWEEN @StartDate AND @EndDate
      --                              --GROUP BY EmployeeId ,
      --                              --        AttendanceDate,StartTime,EndTime,Hours
      --                            ) AS logs ON logs.Logdate = DateTable.date
      --                                         AND logs.EmployeeId = EmployeeDetails.EmployeeId
      --          WHERE   
      --          --( EmployeeDetails.isActive = @isFilterActiveFlag
      --          --          OR EmployeeDetails.isActive = @isFilterDeleteFlag
      --          --        )
      --           ( (EmployeeDetails.isActive = @isFilterActiveFlag and IsInitialExit = 0)                       
      --                or (IsInitialExit = 1  and InitialExitDate > @StartDate )
      --               )
      --                  AND 
      --                  (EmployeeDetails.ShowInHR = 1)
      --                  AND dbo.EmployeeDetails.IsDelete = 0
      --                  AND EmployeeDetails.EntityId = @EntityId
      --                  and EmployeeType= 1
      --          ORDER BY EmployeeDetails.EmployeeCode ,
      --                  date
      --          OPTION  ( MAXRECURSION 0 )
            END  	
            
	   IF ( @Parameter = 3 )
            BEGIN
        SELECT 	 EmployeeDetails.EmployeeId AS ID ,
							EmployeeDetails.EmployeeCode AS Code ,
							( ISNULL(EmployeeName, '') + ' ' + ISNULL(LastName, '') ) AS Name ,
							DateTable.date ,
							 EmployeeDetails.EmployeeCode AS Empcode ,
	                      
							DateTable.Status DateStatus ,							
							case when DateTable.Status = 'WO' and FirstTime is not null and LastTime is not null 
												--and (DATEDIFF(MINUTE,  StartDateTimeShift, EndDateTimeShift) / 2 >= DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime)) AND  (DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime) < DATEDIFF(MINUTE,  StartDateTimeShift, EndDateTimeShift))
												AND ((ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Half/Full Day' OR ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Late / Early Punching')
													AND ISNULL(EmpAttandLeaveDtls.LeaveDeduct, 0) = 0.5)
										then '1/2'  + DateTable.Status + 'P'
								when DateTable.Status = 'WO' and FirstTime is not null and LastTime is not null 
												--and DATEDIFF(HOUR, logs.FirstTime, logs.LastTime) > 4 
												AND ISNULL(EmpAttandLeaveDtls.LeaveType, '') = ''
										then  DateTable.Status + 'P'										
									when DateTable.Status = 'WO'
										then  'WO'	
									when DateTable.Status = 'H' and FirstTime is not null and LastTime is not null 
												--and (DATEDIFF(MINUTE,  StartDateTimeShift, EndDateTimeShift) / 2 >= DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime)) AND  (DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime) < DATEDIFF(MINUTE,  StartDateTimeShift, EndDateTimeShift))
												AND ((ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Half/Full Day' OR ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Late / Early Punching')
													AND ISNULL(EmpAttandLeaveDtls.LeaveDeduct, 0) = 0.5)
										then  '1/2' + DateTable.Status + 'P'
									when DateTable.Status = 'H' and FirstTime is not null and LastTime is not null 
												--and DATEDIFF(HOUR, logs.FirstTime, logs.LastTime) > 4 
												AND ISNULL(EmpAttandLeaveDtls.LeaveType, '') = ''
										then  DateTable.Status + 'P'
									when DateTable.Status = 'H'
										then  DateTable.Status
									WHEN  FirstTime is not null and LastTime is not null 
												--and (DATEDIFF(MINUTE,  StartDateTimeShift, EndDateTimeShift) / 2 >= DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime)) AND  (DATEDIFF(MINUTE, logs.FirstTime, logs.LastTime) < DATEDIFF(MINUTE,  StartDateTimeShift, EndDateTimeShift))
												AND ((ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Half/Full Day' OR ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Late / Early Punching')
													AND ISNULL(EmpAttandLeaveDtls.LeaveDeduct, 0) = 0.5)
										THEN '1/2'
									--WHEN LeaveType = 'Late / Early Punching'
									--	THEN '1/2'
									when DateTable.Status = 'W' 
										and (LastTime is null or IsConsiderAbsent = 1 
											OR (ISNULL(EmpAttandLeaveDtls.LeaveType, '') = 'Half/Full Day' AND ISNULL(EmpAttandLeaveDtls.LeaveDeduct, 0) = 1))
										then  'A'
									else 'P' 
								end AS status,
											 Logdate,
											 						 
			 		case when @IsGroupWise =  1	then		
							case when EmployeeGroupId = 0  
							then 'Other' else CommonData_Master.DisplayName end 
							else ' ' end as GroupName
								,
					EmployeeGroupId,
					case when EmployeeGroupId = 0 then '99999'
					 else  Row_number() Over(Partition by EmployeeGroupId order by EmployeeGroupId) end   as rw,
			 		 case when @IsGroupWise =  1	then		
									case when (EmpDept_Id is null  or EmpDept_Id = cast(0x0 as uniqueidentifier))
									then 'Other' else DepartmentName end 
									else ' ' end as DepartmentName	,
					 case when EmpDept_Id is null  then '99999'
					 else  Row_number() Over(Partition by EmpDept_Id order by EmpDept_Id) end   as rw1	,
					 EmpDept_Id 
				
					FROM    EmployeeDetails
					left join CommonData_Master on EmployeeDetails.EmployeeGroupId = CommonData_Master.CommonDataId
							 and CommonData_Master.IsDeleted = 0 and [Group] = 'EmployeeGroup' 
					left join SystemDepartment sydp on EmployeeDetails.EmpDept_Id = sydp.DepartmentID
						and sydp.ifActice = 1  

							--CROSS JOIN HRSummaryDates(@StartDate, @EndDate) AS DateTable 
							OUTER APPLY (
								SELECT * FROM HRSummaryDates(@StartDate, @EndDate, EmployeeDetails.EmployeeId )
							
							 ) AS DateTable 
							  LEFT JOIN ( SELECT  EmployeeId ,
                                            CAST(AttendanceDate AS DATE) AS Logdate ,
                                            EmployeeAttendance.StartTime AS FirstTime ,
                                           Case When @ActualWorkingTime = 1 
                                                   then ActEndTime
													else EmployeeAttendance.EndTime end AS LastTime,
                                            Case When @ActualWorkingTime = 1 
                                                 then Hours
                                                 else ActHours end as Hours,
												 IsConsiderAbsent,
												  CONVERT(DATETIME, CONVERT(CHAR(8), GETDATE(), 112) + ' ' 
															+ CONVERT(CHAR(8), HRShiftMaster.StartTime, 108)) AS StartDateTimeShift
												, CONVERT(DATETIME, CONVERT(CHAR(8), DATEADD(DAY, 
															(CASE WHEN HRShiftMaster.StartTime > HRShiftMaster.EndTime THEN 1 ELSE 0 END)
													, GETDATE()), 112) + ' ' + CONVERT(CHAR(8), HRShiftMaster.EndTime, 108)) AS EndDateTimeShift
                                    FROM    EmployeeAttendance
									Inner Join HRShiftMaster  on EmployeeAttendance.ShiftId = HRShiftMaster.ShiftId
                                    WHERE    CAST( AttendanceDate AS DATE) BETWEEN @StartDate AND @EndDate
                                    --GROUP BY EmployeeId ,
                                    --        AttendanceDate,StartTime,EndTime,Hours
                                  ) AS logs ON logs.Logdate = DateTable.date
                                               AND logs.EmployeeId = EmployeeDetails.EmployeeId

							Left Join(
									--SELECT * FROM FN_Employee_PayrunLeaveDetails(@EntityId, @EndDate,@EmployeeId)
									--where LeaveType = 'Late / Early Punching'
									select * from FN_EmployeeAttendanceLeaveDtls(@EntityId, @StartDate, @EndDate)
							)as EmpAttandLeaveDtls  ON EmpAttandLeaveDtls.LeaveDate = DateTable.date
                                               AND EmpAttandLeaveDtls.EmployeeId = EmployeeDetails.EmployeeId
                 WHERE    
                ( (EmployeeDetails.isActive = @isFilterActiveFlag and IsInitialExit = 0) 
                        --  OR EmployeeDetails.isActive = @isFilterDeleteFlag
                      or (IsInitialExit = 1  and InitialExitDate > @StartDate )
                     )
                        AND 
                        (EmployeeDetails.ShowInHR = 1)
                        AND dbo.EmployeeDetails.IsDelete = 0
                        AND EmployeeDetails.EntityId = @EntityId
                     --  and EmployeeType= 1
					   and (@EmployeeId= 0 or EmployeeDetails.EmployeeId= @EmployeeId)	
				

				order by EmployeeGroupId,rw ,EmpDept_Id ,rw1, EmployeeDetails.EmployeeCode ,date    
             
                OPTION  ( MAXRECURSION 0 )
	
	
            END  
END

					 
GO
