USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PatternAssemblyProduction_Insert]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PatternAssemblyProduction_Insert]
@XmlData XML	
AS
BEGIN
	
	BEGIN TRY
	   BEGIN TRANSACTION PatternProduction_Insert

	     DECLARE 
		 @ProductionBatchID uniqueidentifier,
		 @PlantId Bigint,
		 @EntityId BigInt,
		 @BatchNo Nvarchar(200),
		 @CastingCavityDet Nvarchar(Max),
		 @DieId uniqueidentifier,
		 @MethodId uniqueidentifier,
		 @MoldTypeId uniqueidentifier,
		 @OrderId uniqueidentifier
		  

		                SELECT
						@PlantId = x.d.value('PlantId[1]','Bigint'),
						@EntityId = x.d.value('EntityId[1]','Bigint'),
						@BatchNo = x.d.value('BatchNo[1]','nvarchar(200)'),
						@CastingCavityDet = x.d.value('CastingCavityDet[1]','nvarchar(MAX)'),
						@DieId = x.d.value('DieId[1]','uniqueidentifier'),
						@MethodId = x.d.value('MethodId[1]','uniqueidentifier'),
						@MoldTypeId = x.d.value('MoldTypeId[1]','uniqueidentifier'),
						
						@PlantId = x.d.value('PlantId[1]','Bigint'),
						@EntityId = x.d.value('EntityId[1]','Bigint'),
						@OrderId = x.d.value('OrderId[1]','uniqueidentifier')
						FROM
		                @XmlData.nodes('/dsXmlData/dtMaster')x(d)

					if(@MoldTypeId Is null Or @MoldTypeId = cast(0x0 as uniqueidentifier))
					begin
						set @MoldTypeId = newid();
					end
					IF EXISTS(Select * from PatternProduction where BatchNo = @BatchNo AND IsAssembly = 1 AND IsDeleted = 0)
					BEGIN

					ROLLBACK TRANSACTION PatternProduction_Insert
					RETURN -3

					END


		          SET @ProductionBatchID = NEWID()
				  SELECT
				    NEWID() as ProductionBatchDetId
					,@ProductionBatchID AS ProductionBatchId
					,x.d.value('PatternId[1]','uniqueidentifier') as PatternId
					,x.d.value('ProductionQty[1]','Float') as ProductionQty
					,x.d.value('ConsumptionDet[1]','Nvarchar(MAX)') as ConsumptionDet
					,x.d.value('ItemType[1]','int') as ItemType,
                    case when isnull(IsNonConsumable,0) = 1 then x.d.value('ProductionQty[1]','Float')  else 0 end as BlockQty,
					isnull(IsNonConsumable,0) as IsBlock
					INTO #ProdDet
		       FROM @XmlData.nodes('/dsXmlData/dtDetails')x(d)
					Left Join PurchaseItemMaster pim on pim.PurchaseItemId = x.d.value('PatternId[1]','uniqueidentifier') 

				   INSERT INTO
				       [dbo].[PatternProduction]
					   ([ProductionBatchID]
					   ,[EntryNo]
					   ,[BatchNo]
					   ,[ProductionDate]
					   ,[ProductionEndDate]
					   ,[ShiftID]
					   ,[StartTime]
					   ,[EndTime]
					   ,[NoOfShots]
					   ,[MethodId]
					   ,[OperatorID]
					   ,[DieId]
					   ,[PlantID]
					   ,[EntityId]
					   ,[CreatedBy]
					   ,[CreatedOn]
					   ,[IsAssembly]
					   ,[MachineID]
					   ,[CastingCavityDet]
					   ,[MoldtypeId]
					   ,[OrderTranseId]
					   ,[AvailDeWaxQty]
					   )
				   SELECT
						 @ProductionBatchID
						,x.d.value('EntryNo[1]','nvarchar(200)')
						,x.d.value('BatchNo[1]','nvarchar(100)')
						,x.d.value('ProductionDate[1]','datetime')
					    ,x.d.value('ProductionEndDate[1]','datetime')
						,x.d.value('ShiftId[1]','int')
						,x.d.value('StartTime[1]','Datetime')
						,x.d.value('EndTime[1]','Datetime')
						,x.d.value('NoOfShots[1]','int')
						,x.d.value('MethodId[1]','uniqueidentifier')
						,x.d.value('OperatorId[1]','int')
						,x.d.value('DieId[1]','uniqueidentifier')
						,x.d.value('PlantId[1]','int')
						,x.d.value('EntityId[1]','bigint')
						,x.d.value('CreatedBy[1]','int')
						,GETDATE()
						,1
						,CAST(0x0 AS UNIQUEIDENTIFIER)
						,x.d.value('CastingCavityDet[1]','nvarchar(MAX)')
						,@MoldTypeId
						,isnull(@OrderId, cast(0x0 as uniqueidentifier))
						,x.d.value('NoOfShots[1]','int')
					FROM
		                @XmlData.nodes('/dsXmlData/dtMaster')x(d)

				UPDATE a
				SET ConsumptionDet = JSON_MODIFY(
										a.ConsumptionDet,
										'$[0].BlockQty',
										CASE 
											WHEN ISNULL(pim.IsNonConsumable,0) = 1 
												THEN 
													cast(JSON_VALUE(a.ConsumptionDet,'$[0].ConsumptionQty') as varchar(50))
												ELSE 0
										END
									)
				FROM #ProdDet AS a
				LEFT JOIN PurchaseItemMaster pim 
					ON pim.PurchaseItemId = a.PatternId;

		

				           INSERT INTO 
				           [dbo].[PatternProductionDetails]
						   ([ProductionBatchDetID]
						   ,[ProductionBatchID]
						   ,[PatternID]
						   ,[ProductionQty]
						   ,[ConsumptionDet]
						   ,[BlockQty]
						   ,[IsBlock])
						   SELECT
						   ProductionBatchDetId,
						   ProductionBatchId,
						   PatternId,
						   ProductionQty,
						   ConsumptionDet,
						   BlockQty,
						   IsBlock
						   FROM
						   #ProdDet

						   DECLARE 
							@MasterJson Nvarchar(MAX),
							@MasterDet Nvarchar(MAX),
							@PatternConsDet Nvarchar(MAX)


	                          SET    @PatternConsDet   = ( SELECT
						       '['+
                                 (STUFF(( SELECT DISTINCT              
                                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                                  FROM      #ProdDet where ConsumptionDet  <> '' AND ItemType = 2                   
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) +']' AS ConsumptionDet  )


								CREATE TABLE #PatternCons(ProductionBatchID uniqueidentifier,PurchaseItemId uniqueidentifier,BatchNo Nvarchar(200),TransactionQty decimal(18,2),RawBatchID int)
								IF ISJSON(@PatternConsDet) = 1
								BEGIN
								  
								   INSERT INTO #PatternCons(ProductionBatchID,PurchaseItemId,BatchNo,TransactionQty,RawBatchID)
								   Select
								   @ProductionBatchID as ProductionBatchID, 
								   PatternCon.PurchaseItemID,
								   PatternCon.RawBatchNo,
								   PatternCon.TransactionQty,
								   PatternCon.RawBatchId
								   from
								   OPENJSON(@PatternConsDet)
								   WITH
								   (
								   PurchaseItemID uniqueidentifier,
								   RawBatchNo Nvarchar(200),
								   TransactionQty decimal(18,2),
								   RawBatchId int
								   ) as PatternCon


								END

						   declare @RawBatchNo Nvarchar(Max)

						   IF Exists ( select 1 from RawInwBatchWiseStock where PurchaseItemId = @DieID and Ref_Id = @MoldTypeId 
							   and StockTypeID = @MethodId and PlantId = @PlantId and EntityId = @EntityID 
							   And isnull(OrderTranseId , cast(0x0 as uniqueidentifier)) = isnull(@OrderId ,cast(0x0 as uniqueidentifier)))
						   BEGIN

						   select top 1 @RawBatchNo = RawBatchNo from RawInwBatchWiseStock 
						   where PurchaseItemId = @DieID and Ref_Id = @MoldTypeId and StockTypeID = @MethodId and PlantId = @PlantId 
						   and EntityId = @EntityID And isnull(OrderTranseId , cast(0x0 as uniqueidentifier)) = isnull( @OrderId , cast(0x0 as uniqueidentifier))

						   END
						   ELSE
						   BEGIN
						  
							select top 1 @RawBatchNo = BatchNo from PatternProduction 
							where DieID = @DieID and MethodId = @MethodId  and IsAssembly = 1 and IsDeleted = 0 and PlantID = @PlantId 
							and MoldtypeId = @MoldTypeId And isnull(OrderTranseId , cast(0x0 as uniqueidentifier)) = isnull( @OrderId , cast(0x0 as uniqueidentifier))
							order by CreatedOn
							
							while ( select top 1 1 from RawInwBatchWiseStock where RawBatchNo = @RawBatchNo) = 1
							BEGIN
								Set @RawBatchNo = cast(@RawBatchNo as bigint) + 1
							END

							--if exists ( select 1 from RawInwBatchWiseStock where RawBatchNo = @RawBatchNo and Ref_Id <> @MoldTypeId)
							--BEGIN
							--	set @RawBatchNo = (cast(@RawBatchNo  as bigint) + 1)
							--END

						   END
							SET @MasterJson = (
							SELECT
							*
							from
							(
							select 
							PatternProduction.ProductionBatchID as ProcessCode,
							PatternProduction.DieId  as PatternID,
							PatternProduction.NoOfShots  as TransactionQty,
							--PatternProduction.BatchNo as RawBatchNo,
							@RawBatchNo as RawBatchNo,
							PatternProduction.PlantId,
							PatternProduction.EntityId,
							PatternProduction.ProductionDate as ProcessDate,
						--	PatternProduction.ProductionEndDate ,
							PatternProduction.CreatedBy as UserId,
							PatternProduction.OrderTranseId
							from 
							PatternProduction
							WHERE
							ProductionBatchId = @ProductionBatchID
							UNION ALL
							SELECT
							PatternProduction.ProductionBatchID as ProcessCode,
							#PatternCons.PurchaseItemId  as PatternID,
							#PatternCons.TransactionQty *(-1) as TransactionQty,
						    #PatternCons.BatchNo COLLATE DATABASE_DEFAULT as  RawBatchNo,
							PatternProduction.PlantId,
							PatternProduction.EntityId,
							PatternProduction.ProductionDate as ProcessDate,
							--PatternProduction.ProductionEndDate ,
							PatternProduction.CreatedBy as UserId,
							isnull(@OrderId , cast(0x0 as uniqueidentifier)) as OrderTranseId
							from
							#PatternCons
							inner JOIN PatternProduction ON PatternProduction.ProductionBatchID  = #PatternCons.ProductionBatchID
							where
							#PatternCons.TransactionQty <> 0
							AND PatternProduction.ProductionBatchId = @ProductionBatchID
							) as t for json PATH
							)


		                SET    @MasterDet   = ( SELECT
						       '['+
                                 (STUFF(( SELECT DISTINCT              
                                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                                  FROM      #ProdDet where ConsumptionDet  <> '' AND ItemType = 1                   
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) +']' AS ConsumptionDet  )



					


					DROP TABLE #ProdDet



				   IF EXISTS( SELECT * from #PatternCons)
				   BEGIN
				           select
							case when #PatternCons.TransactionQty > RawInwBatchWiseStock.Qty then 1 else 2 end IsExist
							into #IsCheckStorStock
							from 
							RawInwBatchWiseStock
							Inner JOIN #PatternCons ON #PatternCons.PurchaseItemID = RawInwBatchWiseStock.PurchaseItemId
							WHERE RawInwBatchWiseStock.RawBatchId = #PatternCons.RawBatchId
							and RawInwBatchWiseStock.PlantId = @PlantId
							and RawInwBatchWiseStock.EntityId = @EntityId
							and isnull(RawInwBatchWiseStock.OrderTranseId , cast(0x0 as uniqueidentifier)) =isnull(@OrderId , cast(0x0 as uniqueidentifier))


						If EXISTS(SELECT * from #IsCheckStorStock where IsExist = 1)
						BEGIN
						     ROLLBACK TRANSACTION PatternProduction_Insert
							 RETURN -2

						END

				   END

				   DROP table #PatternCons

                    Select
					Cons.PurchaseItemID,
					Cons.RawBatchId,
					SUM(Cons.TransactionQty)  TransactionQty,
					@PlantId as PlantId,
					@EntityId as EntityId
					INTO #InsertFloorStock
					from
					OPENJSON(@MasterDet)
					WITH
					(PurchaseItemID uniqueidentifier,
					 RawBatchId int,
					 TransactionQty Float
					 ) as Cons
			        GROUP BY
			        Cons.PurchaseItemID,
			        Cons.RawBatchId




					        select
							case when #InsertFloorStock.TransactionQty > (FloorBatchWiseStock.Stock- FloorBatchWiseStock.blockQty) then 1 else 2 end IsExist
							into #IsCheckFloorStock
							from 
							FloorBatchWiseStock
							Inner JOIN #InsertFloorStock ON #InsertFloorStock.PurchaseItemID = FloorBatchWiseStock.PurchaseItemId
							WHERE
							    FloorBatchWiseStock.RawBatchId = #InsertFloorStock.RawBatchId
							and FloorBatchWiseStock.PlantId = #InsertFloorStock.PlantID
							and FloorBatchWiseStock.EntityId = #InsertFloorStock.EntityId

				        
						If EXISTS(SELECT * from #IsCheckFloorStock where IsExist = 1)
						BEGIN
						     ROLLBACK TRANSACTION PatternProduction_Insert
							 RETURN -2

						END

		                 EXEC PatternStock_Management @JsonPattern  =  @MasterJson,
						 @JsonConsumption= @MasterDet ,
						 @PlantId = @PlantId,
						 @EntityId = @EntityId,
						 @Process = 'Insert',
						 @Tagging = 'PatternAssemblyProduction',
						 @BlockQty = 1


						 IF ISJSON(@CastingCavityDet) = 1
						 BEGIN

						 DECLARE
						 @PatternID uniqueidentifier,
						 @Stock int ,
						 @ProcessDate Datetime,
						 @Tagging Nvarchar(200),
						 @UserId int,
						 @AssemblyID uniqueidentifier

						 SELECT
							@PatternID = x.d.value('MethodId[1]','uniqueidentifier'),
							@Stock = x.d.value('NoOfShots[1]','int'),
							@ProcessDate = x.d.value('ProductionDate[1]','datetime'),
							@UserId = x.d.value('CreatedBy[1]','int'),
							@AssemblyID = x.d.value('DieId[1]','uniqueidentifier')
							FROM
							@XmlData.nodes('/dsXmlData/dtMaster')x(d)


						 EXEC PatternMold_Management @CastingCavityJson = @CastingCavityDet,
						 @RawBatchNo = @RawBatchNo,
						 @PatternID = @PatternID,
						 @Stock= @Stock,
						 @PlantID = @PlantId,
						 @EntityID = @EntityId,
						 @Process ='Insert',
						 @ProcessCode = @ProductionBatchID,
						 @ProcessDate = @ProcessDate,
						 @Tagging = 'PatternAssemblyProduction',
						 @UserId =@UserId,
						 @IsCavityUpdated = 0,
						 @PreviousCastingCavity = NULL,
						 @AssemblyID = @AssemblyID,
						 @MoldTypeId = @MoldTypeId,
						 @OrderId = @OrderId


						 END

				SELECT 
					j.PurchaseItemID,
					j.RawBatchId,
					j.TransactionQty,
					ppd.ProductionBatchDetID
				INTO	#ConsumptionBatchData
				FROM PatternProductionDetails ppd
				CROSS APPLY OPENJSON(ppd.ConsumptionDet)
				WITH (
					PurchaseItemID UNIQUEIDENTIFIER,
					RawBatchId BIGINT,
					TransactionQty DECIMAL(18,2)
				) AS j
				where ProductionBatchID = @ProductionBatchID
					
				
				update a set totalcost = isnull(cost,0) from PatternProductionDetails a inner join (
				select	Sum(Round((CBD.TransactionQty *BatchWiseRate.Rate),2)) as Cost,
						ProductionBatchDetID
				from	#ConsumptionBatchData as CBD
						Left Join BatchWiseRate on BatchWiseRate.RawBatchId = CBD.RawBatchId
				group by ProductionBatchDetID
				) as b on a.ProductionBatchDetID = b.ProductionBatchDetID

				update a set a.totalcost = isnull(Cost,0)
				from PatternProduction as a
				Inner Join ( select sum(Totalcost) as cost from PatternProductionDetails 
							where ProductionBatchID = @ProductionBatchID) as b on 1= 1
				where ProductionBatchID = @ProductionBatchID

	   COMMIT TRANSACTION PatternProduction_Insert
	   RETURN 1
	END TRY
	BEGIN CATCH
	   ROLLBACK TRANSACTION PatternProduction_Insert
	   RETURN -1
	END CATCH


END
GO
