USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ContractWorkEntryDispatch]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ContractWorkEntryDispatch]  
    @parameter INT = 0 ,  
    @StartDate DATETIME = NULL ,  
    @EndDate DATETIME = NULL ,  
    @ContractMasterId UNIQUEIDENTIFIER = NULL ,  
    @ContractWorkEntryMasterId UNIQUEIDENTIFIER = NULL ,  
    @CastingId UNIQUEIDENTIFIER = NULL ,  
    @CastingName VARCHAR(100) = NULL ,  
    @CustomerId UNIQUEIDENTIFIER = NULL ,  
    @ContractorID INT = NULL ,  
    @IsDeleted INT = NULL ,  
    @CreatedBy INT = NULL ,  
    @CreatedOn DATETIME = NULL ,  
    @ModifiedBy INT = NULL ,  
    @ModifiedOn DATETIME = NULL ,  
    @DeletedBy INT = NULL ,  
    @DeletedOn DATETIME = NULL ,  
    @EntityID INT = NULL ,  
    @MetalId INT = NULL ,  
    @KnockoutId INT = NULL ,  
    @ContractWorkEntryTransTable XML = NULL ,  
    @DispatchSetCastingId UNIQUEIDENTIFIER = NULL,  
    @HeatId BIGINT = NULL  
AS  
    BEGIN  
        SET NOCOUNT ON;  
        DECLARE @ContractWorkEntryTransId UNIQUEIDENTIFIER ,  
            @Qty INT ,  
            @DispatchId INT ,  
            @Rate FLOAT ,  
            @TotalAmount FLOAT ,  
            @UOM VARCHAR(50) ,  
            @PerPcWeight FLOAT ,  
            @TotalWeight FLOAT  
        IF @parameter = 1   -- Fetch For Contract  
            BEGIN  
                SELECT  ROW_NUMBER() OVER ( ORDER BY ContractWork.DispatchDate DESC, ContractWork.CastingName ) AS SrNo ,  
                        ContractWork.DispatchID BatchId ,  
                        ContractWork.DispatchSlipno BatchNo ,  
                        ContractWork.DispatchDate ProductionDate ,  
                        ContractWork.DispatchTransId knockoutid ,  
                        ContractWork.DispatchSetCastingId ,  
                        ContractWork.CastingName ,  
                        ContractWork.CastingCode ,  
                        ContractWork.CastingId ,  
--                        ContractWork.MetalName ,  
--                        ContractWork.MetalId ,  
                        ContractWork.HeatId ,  
                        ContractWork.HeatNo ,  
                        ContractWork.dispatchqty productionqty ,  
                        ContractWork.AlreadyEntered ,  
                        ( CASE WHEN ( ContractWork.dispatchqty  
                                      - ContractWork.AlreadyEntered ) < 0  
                               THEN 0  
                               ELSE ( ContractWork.dispatchqty  
                                      - ContractWork.AlreadyEntered )  
                          END ) AS PendingQty ,  
                        ContractWork.CastingNetWeight ,  
                        ContractWork.UOM ,  
                        CAST(( CASE WHEN ( ContractWork.dispatchqty  
                                           - ContractWork.AlreadyEntered ) < 0  
                                    THEN 0  
                                    ELSE ( ContractWork.dispatchqty  
                                           - ContractWork.AlreadyEntered )  
                               END ) AS VARCHAR(50)) AS EnteredQty ,  
                        0 AS EnteredQtyHidden ,  
                        CAST(ContractWork.CastingNetWeight  
                        * ( ( CASE WHEN ( ContractWork.dispatchqty  
                                          - ContractWork.AlreadyEntered ) < 0  
                                   THEN 0  
                                   ELSE ( ContractWork.dispatchqty  
                                          - ContractWork.AlreadyEntered )  
                              END ) ) AS NUMERIC(18, 3)) AS TotalWeight ,  
                        ContractWork.Rate ,  
                        CAST(CASE WHEN ContractWork.UOM = 'Per Pc'  
                                  THEN ( ( CASE WHEN ( ContractWork.dispatchqty  
                                                       - ContractWork.AlreadyEntered ) < 0  
                                                THEN 0  
                                                ELSE ( ContractWork.dispatchqty  
   - ContractWork.AlreadyEntered )  
                                           END ) * ContractWork.Rate )  
                                  WHEN ContractWork.UOM = 'Per Kg'  
                                  THEN ( ( CASE WHEN ( ContractWork.dispatchqty  
                                                       - ContractWork.AlreadyEntered ) < 0  
                                                THEN 0  
                                                ELSE ( ContractWork.dispatchqty  
                                                       - ContractWork.AlreadyEntered )  
                                           END )  
                                         * ContractWork.CastingNetWeight  
                                         * ContractWork.Rate )  
                             END AS NUMERIC(18, 2)) AS TotalAmount  
                FROM    ( SELECT    DispatchMaster.DispatchID ,  
                                    DispatchMaster.DispatchSlipno ,  
                                    DispatchMaster.DispatchDate ,  
                                    dispatchtrans.DispatchTransId ,  
                                    CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) DispatchSetCastingId ,  
                                    CastingMaster.CastingName ,  
                                    CastingMaster.CastingCode ,  
                                    CastingMaster.CastingId ,  
--                                    MetalMaster.MetalName ,  
--                                    MetalMaster.MetalId ,  
         ProductionBatch.batchID AS HeatId,  
                                    ProductionBatch.batchno AS HeatNo ,  
                                    DispatchGradewise.Qty AS dispatchqty ,  
                                    ISNULL(SUM(ContractWorkEntryDispatchTrans.Qty),  
                                           0) AS AlreadyEntered ,  
                                    CastingMaster.CastingNetWeight ,  
                                    ContractCastingRate.Rate ,  
                                    ContractMaster.CostCalculationUOM UOM  
                          FROM      dispatchtrans  
                                    INNER JOIN DispatchMaster ON dispatchtrans.DispatchID = DispatchMaster.DispatchID  
                                    INNER JOIN dbo.DispatchGradewise ON dbo.DispatchGradewise.DispatchTransID = dbo.dispatchtrans.dispatchtransid  
                                    INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.DispatchGradewise.BatchID  
                                    INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID  
                                    INNER JOIN CastingMaster ON dispatchtrans.castingid = CastingMaster.CastingId  
  
--                                    INNER JOIN MetalMaster ON DispatchMaster.MetalID = MetalMaster.MetalId  
                                    INNER JOIN dbo.ContractCastingRate ON dbo.ContractCastingRate.CastingId = dbo.CastingMaster.CastingId  
                                    INNER JOIN dbo.ContractMaster ON dbo.ContractMaster.ContractMasterID = dbo.ContractCastingRate.ContractMasterId  
                                                              AND dbo.ContractMaster.ContractMasterID = @ContractMasterID  
                                    LEFT JOIN dbo.ContractWorkEntryDispatchTrans  
                                    INNER JOIN dbo.ContractWorkEntryDispatchMaster ON dbo.ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId = dbo.ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchMasterId  
                                                              AND dbo.ContractWorkEntryDispatchMaster.IsDeleted = 0 ON dbo.ContractWorkEntryDispatchTrans.DispatchTransId = dbo.dispatchtrans.DispatchTransId  
                                                              AND ContractWorkEntryDispatchTrans.castingid = dispatchtrans.castingid AND ProductionBatch.batchID = ContractWorkEntryDispatchTrans.HeatId  
                                                              AND dbo.ContractWorkEntryDispatchMaster.ContractMasterId = ContractMaster.ContractMasterID  
                          WHERE     DispatchDate BETWEEN @StartDate AND @EndDate  
                                    AND ( @CastingName IS NULL  
                                          OR CastingMaster.CastingName = @CastingName  
                                        )  
                                    AND ( @CastingId IS NULL  
                                          OR CastingMaster.CastingId = @CastingId  
                                        )  
--                                    AND ( @MetalID IS NULL  
--                                          OR MetalMaster.MetalID = @MetalID  
--                                        )  
                                    AND ( @CustomerId IS NULL  
                                          OR CastingMaster.Dieid IN (  
                                          SELECT    dbo.CustomerPatternMapping.PatternId  
                                          FROM      CustomerPatternMapping  
                                          WHERE     CustomerId = @CustomerId  
                                                    AND IsDeleted = 0  
                                          --UNION  
                                          --SELECT    dbo.CustomerDieMapping.DieId  
                                          --FROM      dbo.CustomerDieMapping  
                                          --WHERE     CustomerId = @CustomerId  
                                          --          AND IsDeleted = 0
                                                     )  
                                        )  
                                    AND dbo.ContractCastingRate.IsDeleted = 0  
                                    AND dbo.ContractMaster.IsDeleted = 0  
                                    AND dbo.dispatchtrans.IsDeleted = 0  
                                    AND dbo.DispatchMaster.IsDeleted = 0  
                                    AND ContractMaster.EntityID = @EntityID  
                          GROUP BY  DispatchMaster.DispatchID ,  
                                    DispatchMaster.DispatchSlipno ,  
                                    DispatchMaster.DispatchDate ,  
                                    dispatchtrans.DispatchTransId ,  
                                    CastingMaster.CastingName ,  
                                    CastingMaster.CastingCode ,  
                                    CastingMaster.CastingId ,  
--                                    MetalMaster.MetalName ,  
--                                    MetalMaster.MetalId ,  
                                    ProductionBatch.batchID ,  
                                    ProductionBatch.batchno ,  
                                    DispatchGradewise.Qty ,  
                                    CastingMaster.CastingNetWeight ,  
                                    ContractCastingRate.Rate ,  
                                    ContractMaster.CostCalculationUOM  
                          UNION  
                          SELECT    DispatchMaster.DispatchID ,  
                                    DispatchMaster.DispatchSlipno ,  
                                    DispatchMaster.DispatchDate ,  
                                    0 DispatchTransId ,  
                                    DispatchSetCasting.DispatchSetCastingId ,  
                                    CastingMaster.CastingName ,  
                                    CastingMaster.CastingCode ,  
                                    CastingMaster.CastingId ,  
--                                    MetalMaster.MetalName ,  
--                                    MetalMaster.MetalId ,  
                                    ProductionBatch.batchID AS HeatId,  
                                    ProductionBatch.batchno AS HeatNo ,  
                                    SUM(DispatchSetCasting.dispatchedqty) dispatchqty ,  
                                    ISNULL(( SELECT SUM(ContractWorkEntryDispatchTrans.Qty)  
                                             FROM   dbo.ContractWorkEntryDispatchTrans  
                                                    INNER JOIN dbo.ContractWorkEntryDispatchMaster ON dbo.ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId = dbo.ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchMasterId  
                                                              AND dbo.ContractWorkEntryDispatchMaster.IsDeleted = 0  
                                             WHERE  dbo.ContractWorkEntryDispatchTrans.DispatchSetCastingId = dbo.DispatchSetCasting.DispatchSetCastingId  
                                                    AND dbo.ContractWorkEntryDispatchMaster.ContractMasterId = @ContractMasterID  
                                           ), 0) AS AlreadyEntered ,  
                                    CastingMaster.CastingNetWeight ,  
                                    ContractCastingRate.Rate ,  
                                    ContractMaster.CostCalculationUOM UOM  
                          FROM      dbo.DispatchSetCasting  
                                    INNER JOIN dbo.DispatchSetItemTrans ON dbo.DispatchSetItemTrans.DispatchSetItemTransID = dbo.DispatchSetCasting.DispatchSetItemTransID  
                                    INNER JOIN DispatchMaster ON DispatchSetItemTrans.DispatchID = DispatchMaster.DispatchID  
                                    INNER JOIN CastingMaster ON DispatchSetCasting.castingid = CastingMaster.CastingId  
--                                    INNER JOIN MetalMaster ON DispatchMaster.MetalID = MetalMaster.MetalId  
                                    INNER JOIN dbo.ContractCastingRate ON dbo.ContractCastingRate.CastingId = dbo.CastingMaster.CastingId  
                                    INNER JOIN dbo.ContractMaster ON dbo.ContractMaster.ContractMasterID = dbo.ContractCastingRate.ContractMasterId  
                                                              AND dbo.ContractMaster.ContractMasterID = @ContractMasterID  
                                    INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.DispatchSetCasting.HeatId  
                          WHERE     DispatchDate BETWEEN @StartDate AND @EndDate  
                                    AND DispatchSetCasting.dispatchedqty > 0  
                                    AND ( @CastingName IS NULL  
                                          OR CastingMaster.CastingName = @CastingName  
                                        )  
                                    AND ( @CastingId IS NULL  
                                          OR CastingMaster.CastingId = @CastingId  
                                        )  
--                                    AND ( @MetalID IS NULL  
--                                          OR MetalMaster.MetalID = @MetalID  
--                                        )  
                                    AND ( @CustomerId IS NULL  
                                          OR CastingMaster.Dieid IN (  
                                          SELECT    dbo.CustomerPatternMapping.PatternId  
                                          FROM      CustomerPatternMapping  
                                          WHERE     CustomerId = @CustomerId  
                                                    AND IsDeleted = 0  
                                          --UNION  
                                          --SELECT    dbo.CustomerDieMapping.DieId  
                                          --FROM      dbo.CustomerDieMapping  
                                          --WHERE     CustomerId = @CustomerId  
                                          --          AND IsDeleted = 0 
                                                    )  
                                        )  
                                    AND dbo.ContractCastingRate.IsDeleted = 0  
                                    AND dbo.ContractMaster.IsDeleted = 0  
                                    AND dbo.DispatchSetCasting.IsDeleted = 0  
                                    AND dbo.DispatchMaster.IsDeleted = 0  
                                    AND ContractMaster.EntityID = @EntityID  
                          GROUP BY  DispatchMaster.DispatchID ,  
                                    DispatchMaster.DispatchSlipno ,  
                                    DispatchMaster.DispatchDate ,  
                                    DispatchSetCasting.DispatchSetCastingId ,  
                                    CastingMaster.CastingName ,  
                                    CastingMaster.CastingCode ,  
                                    CastingMaster.CastingId ,  
--                                    MetalMaster.MetalName ,  
--                                    MetalMaster.MetalId ,  
                                   ProductionBatch.batchID ,  
                                    ProductionBatch.batchno ,  
                                    CastingMaster.CastingNetWeight ,  
                                    ContractCastingRate.Rate ,  
                                    ContractMaster.CostCalculationUOM  
                        ) ContractWork  
            END  
        IF @parameter = 2   -- Fetch For Contract  
            BEGIN  
            BEGIN TRANSACTION  
                INSERT  INTO ContractWorkEntryDispatchMaster  
                        ( ContractWorkEntryDispatchMasterId ,  
                          ContractorID ,  
                          ContractMasterId ,  
                          IsDeleted ,  
                          CreatedOn ,  
                          EntityID ,  
                          CreatedBy  
                        )  
                VALUES  ( @ContractWorkEntryMasterId ,  
                          @ContractorID ,  
                          @ContractMasterId ,  
                          @IsDeleted ,  
                          @CreatedOn ,  
                          @EntityID ,  
                          @CreatedBy  
                        )  
                        IF @@Error <> 0  
      ROLLBACK TRANSACTION  
                DECLARE ContractWorkEntryDispatchTrans CURSOR  
                FOR  
                    SELECT  Node.value('(knockoutid )[1]', 'int') AS 'knockoutid' ,  
                            Node.value('(DispatchSetCastingId )[1]',  
                                       'uniqueidentifier') AS 'DispatchSetCastingId' ,  
                            Node.value('(ProductionBatchId )[1]', 'int') AS 'ProductionBatchId' ,  
                            Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,  
                            Node.value('(Qty )[1]', 'int') AS 'Qty' ,  
                            Node.value('(Rate )[1]', 'float') AS 'Rate' ,  
                            Node.value('(UOM )[1]', 'varchar(50)') AS 'UOM' ,  
                            Node.value('(TotalAmount )[1]', 'float') AS 'TotalAmount' ,  
                            Node.value('(PerPcWeight )[1]', 'float') AS 'PerPcWeight' ,  
                            Node.value('(TotalWeight )[1]', 'float') AS 'TotalWeight',  
                            Node.value('(HeatId )[1]', 'int') AS 'HeatId'  
                    FROM    @ContractWorkEntryTransTable.nodes('/DocumentElement/ContractWorkEntryTransTable')  
                            AS TEMPXML ( Node )   
                OPEN ContractWorkEntryDispatchTrans;  
                FETCH NEXT FROM ContractWorkEntryDispatchTrans INTO @KnockoutId,  
                    @DispatchSetCastingId, @DispatchId, @CastingId, @Qty,  
                    @Rate, @UOM, @TotalAmount, @PerPcWeight, @TotalWeight,@HeatId  
   
                WHILE ( @@FETCH_STATUS = 0 )  
                    BEGIN   
                        INSERT  INTO dbo.ContractWorkEntryDispatchTrans  
                                ( ContractWorkEntryDispatchMasterId ,  
                                  DispatchTransId ,  
                                  DispatchSetCastingId ,  
                                  DispatchId ,  
                                  CastingId ,                                    Qty ,  
                                  Rate ,  
                                  UOM ,  
                                  TotalAmount ,  
                                  PerPcWeight ,  
                                  TotalWeight ,  
                                  IsDeleted,  
                                  HeatId  
                                )  
                        VALUES  ( @ContractWorkEntryMasterId , -- ContractWorkEntryDispatchMasterId - uniqueidentifier  
                                  @KnockoutId , -- DispatchTransId - int  
                                  @DispatchSetCastingId , -- DispatchId - int  
                                  @DispatchId , -- DispatchId - int  
                                  @CastingId , -- CastingId - uniqueidentifier  
                                  @Qty , -- Qty - int  
                                  @Rate , -- Rate - float  
                                  @UOM , -- UOM - varchar(50)  
                                  @TotalAmount , -- TotalAmount - float  
                                  @PerPcWeight , -- PerPcWeight - float  
                                  @TotalWeight , -- TotalWeight - float  
                                  @IsDeleted , -- IsDeleted - bit  
                                  @HeatId  
                                )  
                                IF @@Error <> 0  
        ROLLBACK TRANSACTION   
                            
                        FETCH NEXT FROM ContractWorkEntryDispatchTrans INTO @KnockoutId,  
                            @DispatchSetCastingId, @DispatchId, @CastingId,  
                            @Qty, @Rate, @UOM, @TotalAmount, @PerPcWeight,  
                            @TotalWeight,@HeatId  
                    END   
                CLOSE ContractWorkEntryDispatchTrans;  
                DEALLOCATE ContractWorkEntryDispatchTrans;  
                COMMIT TRANSACTION   
            END  
        IF @parameter = 3   -- Fetch For Contract  
            BEGIN  
                UPDATE  ContractWorkEntryDispatchMaster  
                SET     ContractorID = @ContractorID ,  
                        IsDeleted = @IsDeleted ,  
                        ModifiedOn = @ModifiedOn ,  
                        EntityID = @EntityID ,  
                        ModifiedBy = @ModifiedBy  
                WHERE   ContractWorkEntryDispatchMasterId = @ContractWorkEntryMasterId  
                DECLARE ContractWorkEntryDispatchTrans CURSOR  
                FOR  
                    SELECT  Node.value('(ContractWorkEntryTransId )[1]',  
                                       'uniqueidentifier') AS 'ContractWorkEntryTransId' ,  
                            Node.value('(DispatchSetCastingId )[1]',  
                                       'uniqueidentifier') AS 'DispatchSetCastingId' ,  
                            Node.value('(knockoutid )[1]', 'int') AS 'knockoutid' ,  
                            Node.value('(ProductionBatchId )[1]', 'int') AS 'ProductionBatchId' ,  
                            Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,  
                            Node.value('(Qty )[1]', 'int') AS 'Qty' ,  
                            Node.value('(Rate )[1]', 'float') AS 'Rate' ,  
                            Node.value('(UOM )[1]', 'varchar(50)') AS 'UOM' ,  
                            Node.value('(TotalAmount )[1]', 'float') AS 'TotalAmount' ,  
                            Node.value('(PerPcWeight )[1]', 'float') AS 'PerPcWeight' ,  
                            Node.value('(TotalWeight )[1]', 'float') AS 'TotalWeight'  
                    FROM    @ContractWorkEntryTransTable.nodes('/DocumentElement/ContractWorkEntryTransTable')  
                            AS TEMPXML ( Node )   
                OPEN ContractWorkEntryDispatchTrans;  
                FETCH NEXT FROM ContractWorkEntryDispatchTrans INTO @ContractWorkEntryTransId,  
                    @DispatchSetCastingId, @KnockoutId, @DispatchId,  
     @CastingId, @Qty, @Rate, @UOM, @TotalAmount, @PerPcWeight,  
                    @TotalWeight  
   
                WHILE ( @@FETCH_STATUS = 0 )  
                    BEGIN   
                        IF ( EXISTS ( SELECT    *  
                                      FROM      dbo.ContractWorkEntryDispatchTrans  
                                      WHERE     ContractWorkEntryDispatchTransID = @ContractWorkEntryTransId  
                                                AND IsDeleted = 0 ) )  
                            BEGIN  
                                UPDATE  ContractWorkEntryDispatchTrans  
                                SET     Qty = @Qty ,  
                                        Rate = @Rate ,  
                                        UOM = @UOM ,  
                                        TotalAmount = @TotalAmount ,  
                                        PerPcWeight = @PerPcWeight ,  
                                        TotalWeight = @TotalWeight ,  
                                        IsDeleted = ( CASE WHEN @Qty IS NULL  
                                                           THEN 1  
                                                           ELSE 0  
                                                      END )  
                                WHERE   ContractWorkEntryDispatchTransID = @ContractWorkEntryTransId   
                            END   
                        ELSE  
                            BEGIN  
                                IF @Qty IS NOT NULL  
                                    BEGIN  
                                        INSERT  INTO dbo.ContractWorkEntryDispatchTrans  
                                                ( ContractWorkEntryDispatchMasterId ,  
                                                  DispatchTransId ,  
                                                  DispatchSetCastingId ,  
                                                  DispatchId ,  
                                                  CastingId ,  
                                                  Qty ,  
                                                  Rate ,  
                                                  UOM ,  
                                                  TotalAmount ,  
                                                  PerPcWeight ,  
                                                  TotalWeight ,  
                                                  IsDeleted  
                                                )  
                                        VALUES  ( @ContractWorkEntryMasterId ,  
                                                  @KnockoutId ,  
                                                  @DispatchSetCastingId ,  
                                                  @DispatchId ,  
                                                  @CastingId ,  
                                                  @Qty ,  
                                                  @Rate ,  
                                                  @UOM ,  
                                                  @TotalAmount ,  
                                                  @PerPcWeight ,  
                                                  @TotalWeight ,  
                                                  @IsDeleted    
                                                )   
                                    END   
                            END   
                            
                        FETCH NEXT FROM ContractWorkEntryDispatchTrans INTO @ContractWorkEntryTransId,  
                            @DispatchSetCastingId, @KnockoutId, @DispatchId,  
                            @CastingId, @Qty, @Rate, @UOM, @TotalAmount,  
                            @PerPcWeight, @TotalWeight  
                    END   
                CLOSE ContractWorkEntryDispatchTrans;  
                DEALLOCATE ContractWorkEntryDispatchTrans;   
            END  
              
              
              
        IF @parameter = 4   -- Delete from Contract Master  
            BEGIN  
  
                UPDATE  dbo.ContractWorkEntryDispatchMaster  
                SET     IsDeleted = '1' ,  
                        DeletedBy = @DeletedBy ,  
                        DeletedOn = @DeletedOn  
                WHERE   ContractWorkEntryDispatchMasterId = @ContractWorkEntryMasterId  
  
  
            END  
        IF @parameter = 5   -- Delete from Contract Master  
            BEGIN  
  
                UPDATE  ContractWorkEntryDispatchMaster  
                SET     IsDeleted = '0'  
                WHERE   ContractWorkEntryDispatchMasterId = @ContractWorkEntryMasterId  
  
  
            END  
  
        IF @parameter = 6  
    -- Fetch Contract Master Details  
            BEGIN  
                SELECT  ContractWorkEntryDispatchMasterId ,  
                        ContractorID ,  
                        IsDeleted ,  
                        CreatedBy ,  
                        CreatedOn ,  
                        ModifiedBy ,  
                        ModifiedOn ,  
                        DeletedBy ,  
                        DeletedOn ,  
                        EntityID  
                FROM    ContractWorkEntryDispatchMaster  
                WHERE   ContractWorkEntryDispatchMasterId = @ContractWorkEntryMasterId  
               
            END  
        IF @parameter = 7-- Fetch Contract Master Details  
            BEGIN  
                IF ( @DispatchSetCastingId IS NULL  
                     OR @DispatchSetCastingId = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)  
                   )  
                    BEGIN  
                        SELECT  ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchTransID ContractWorkEntryTransID ,  
                                ContractWorkEntryDispatchMaster.ContractorID ,  
                                OperatorMaster.OperatorName ContractorName ,  
                                CAST(SUM(ContractWorkEntryDispatchTrans.Qty) AS VARCHAR(50)) AS Qty ,  
                                ContractWorkEntryDispatchTrans.Rate ,  
                                ContractWorkEntryDispatchTrans.UOM ,  
                                ContractWorkEntryDispatchTrans.TotalAmount ,  
                                ContractWorkEntryDispatchTrans.PerPcWeight CastingNetWeight ,  
                                ContractWorkEntryDispatchTrans.TotalWeight  
                        FROM    ContractWorkEntryDispatchTrans  
                                INNER JOIN ContractWorkEntryDispatchMaster ON ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId = ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchMasterId  
                                INNER JOIN OperatorMaster ON ContractWorkEntryDispatchMaster.ContractorID = OperatorMaster.OperatorID  
                        WHERE   ( ContractWorkEntryDispatchMaster.ContractMasterId = @ContractMasterId )  
                                AND ( ContractWorkEntryDispatchTrans.DispatchTransId = @KnockoutId )  
                                AND ( ContractWorkEntryDispatchTrans.HeatID = @HeatId )  
                                AND ContractWorkEntryDispatchMaster.IsDeleted = 0  
                                AND ContractWorkEntryDispatchTrans.IsDeleted = 0  
                        GROUP BY ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchTransID ,  
                                ContractWorkEntryDispatchMaster.ContractorID ,  
                                OperatorMaster.OperatorName ,  
                                ContractWorkEntryDispatchTrans.Rate ,  
                                ContractWorkEntryDispatchTrans.UOM ,  
                                ContractWorkEntryDispatchTrans.TotalAmount ,  
                                ContractWorkEntryDispatchTrans.PerPcWeight ,  
                                ContractWorkEntryDispatchTrans.TotalWeight  
                    END  
                ELSE  
                    BEGIN  
                        SELECT  ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchTransID ContractWorkEntryTransID ,  
                             ContractWorkEntryDispatchMaster.ContractorID ,  
                                OperatorMaster.OperatorName ContractorName ,  
                                CAST(SUM(ContractWorkEntryDispatchTrans.Qty) AS VARCHAR(50)) AS Qty ,  
                                ContractWorkEntryDispatchTrans.Rate ,  
                                ContractWorkEntryDispatchTrans.UOM ,  
                                ContractWorkEntryDispatchTrans.TotalAmount ,  
                                ContractWorkEntryDispatchTrans.PerPcWeight CastingNetWeight ,  
                                ContractWorkEntryDispatchTrans.TotalWeight  
                        FROM    ContractWorkEntryDispatchTrans  
                                INNER JOIN ContractWorkEntryDispatchMaster ON ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId = ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchMasterId  
                                INNER JOIN OperatorMaster ON ContractWorkEntryDispatchMaster.ContractorID = OperatorMaster.OperatorID  
                        WHERE   ( ContractWorkEntryDispatchMaster.ContractMasterId = @ContractMasterId )  
                                AND ( ContractWorkEntryDispatchTrans.DispatchSetCastingId = @DispatchSetCastingId )  
                                AND ( ContractWorkEntryDispatchTrans.HeatID = @HeatId )  
                                AND ContractWorkEntryDispatchMaster.IsDeleted = 0  
                                AND ContractWorkEntryDispatchTrans.IsDeleted = 0  
                        GROUP BY ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchTransID ,  
                                ContractWorkEntryDispatchMaster.ContractorID ,  
                                OperatorMaster.OperatorName ,  
                                ContractWorkEntryDispatchTrans.Rate ,  
                                ContractWorkEntryDispatchTrans.UOM ,  
                                ContractWorkEntryDispatchTrans.TotalAmount ,  
                                ContractWorkEntryDispatchTrans.PerPcWeight ,  
                                ContractWorkEntryDispatchTrans.TotalWeight  
                    END  
            END  
              
        IF @parameter = 8-- Fetch Contract Master Details  
            BEGIN  
                DECLARE ContractWorkEntryDispatchTrans CURSOR  
                FOR  
                    SELECT  Node.value('(ContractWorkEntryTransID )[1]',  
                                       'uniqueidentifier') AS 'ContractWorkEntryTransID' ,  
                            Node.value('(Qty )[1]', 'int') AS 'Qty' ,  
                            Node.value('(TotalAmount )[1]', 'float') AS 'TotalAmount' ,  
                            Node.value('(TotalWeight )[1]', 'float') AS 'TotalWeight'  
                    FROM    @ContractWorkEntryTransTable.nodes('/DocumentElement/ContractWorkEntryTransTable')  
                            AS TEMPXML ( Node )   
                OPEN ContractWorkEntryDispatchTrans;  
                FETCH NEXT FROM ContractWorkEntryDispatchTrans INTO @ContractWorkEntryTransId,  
                    @Qty, @TotalAmount, @TotalWeight  
                WHILE ( @@FETCH_STATUS = 0 )  
                    BEGIN   
                        IF ( EXISTS ( SELECT    *  
                                      FROM      dbo.ContractWorkEntryDispatchTrans  
                                      WHERE     ContractWorkEntryDispatchTransID = @ContractWorkEntryTransId  
                                                AND IsDeleted = 0 ) )  
                            BEGIN  
                                UPDATE  ContractWorkEntryDispatchTrans  
                                SET     Qty = @Qty ,  
                                        TotalAmount = @TotalAmount ,  
                                        TotalWeight = @TotalWeight ,  
                                        IsDeleted = ( CASE WHEN @Qty IS NULL  
                                                           THEN 1  
                                            ELSE 0  
                                                      END )  
                                WHERE   ContractWorkEntryDispatchTransID = @ContractWorkEntryTransId   
                            END   
                        FETCH NEXT FROM ContractWorkEntryDispatchTrans INTO @ContractWorkEntryTransId,  
                            @Qty, @TotalAmount, @TotalWeight  
   
                    END   
                CLOSE ContractWorkEntryDispatchTrans;  
                DEALLOCATE ContractWorkEntryDispatchTrans;   
            END  
    END  
    
GO
