USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportTopInvemtoryFromCasting]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Dhruvin>
-- Create date: <Create Date,,24-06-2020>
-- Description:	<Description,,Get Top Inventory report from casting>
-- =============================================
CREATE PROCEDURE [dbo].[ReportTopInvemtoryFromCasting]
   @CastingId UNIQUEIDENTIFIER = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL,
     @CastingName VARCHAR(100) = NULL ,
     @EntityID INT = 0
AS
BEGIN

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End 
 
 
 SELECT		ROW_NUMBER() OVER ( ORDER BY InventoryReport.CastingName ) AS RowNo,
						InventoryReport.CastingId AS PurchaseItemID,
						InventoryReport.CastingName AS ItemName,
						InventoryReport.CastingCode AS ItemCode,
						InventoryReport.MetalId,
						InventoryReport.MetalName,
						InventoryReport.InhouseStock + InventoryReport.JobWorkStock AS Stock,
						(CASE WHEN InventoryReport.UOM = 'Perkg' 
							  THEN ISNULL(InventoryReport.Rate, 0) * ISNULL(InventoryReport.CastingNetWeight, 0)
						 ELSE ISNULL(InventoryReport.Rate, 0) END )
						* (InventoryReport.InhouseStock + InventoryReport.JobWorkStock) AS TotalValue,
						ISNULL(InventoryReport.UOM, '') AS UOM,
						ISNULL(InventoryReport.Rate, 0) AS Rate
			FROM		[Data:TopInventoryReportFromCasting] as InventoryReport
			WHERE		( @CastingId IS NULL
								OR InventoryReport.CastingId = @CastingId
							)
						AND ( @CastingName IS NULL
								OR InventoryReport.CastingName = @CastingName
							)
						AND ( @PlantIdString IS NULL
                              OR @PlantIdString = ''
                              OR InventoryReport.CastingId IN (
                              SELECT    CastingId
                              FROM      dbo.PlantCastingMapping
                                    where PlantId in (SELECT Item FROM @Plant))
                            )
                        AND InventoryReport.EntityID = @EntityID

         
END
GO
