USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeAssetRegister]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_EmployeeAssetRegister]
     @DeletedBY INT = 0,
    @DeductionName Varchar(Max) = null,	
	@DeductionType bit = 0,
	@EntityId int = 0,	
	@CreatedBy INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL , 
    @DeletedOn datetime= NULL,
    @IsDeleted Bit = 0 ,
    @Parameter INT = 0 ,
    @EarningId  int = 0 ,
    @EmployeeId int = 0 ,
    @DeductionAmount float = 0 ,
    @ApplicableDate datetime = null ,
    @Id int = 0 ,
    @TotalRecords INT = 0,
    @InitialLoad INT = 0,
    @PageNumber INT = 0,
    @PageSize INT = 0,
    @sandProductionId int=0,
    @DateFrom DATETIME = NULL ,
    @Dateto DATETIME = NULL  ,
    @AssetTransId int = 0 ,
    @PurchaseItemId uniqueidentifier = null 
   
AS
   BEGIN  
   
	    
              IF ( @Parameter =  1 )	--	Total Record Display 
            BEGIN					
            SET @TotalRecords = (  SELECT    Count  (AssetTransId )                                
                                         
                                   FROM      EmpAssetMapping 
											 left join EmployeeDetails ON EmpAssetMapping.EmployeeId = EmployeeDetails.EmployeeId
											  left join PurchaseItemMaster on EmpAssetMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
											
                                 
                                       
                                     WHERE   				
                                               EmpAssetMapping.IsDeleted = 0                                       
                                        
                                           AND   ( @EntityId IS NULL
                                              OR EmployeeDetails.EntityId = @EntityId
                                            )    
                                            
                                           AND   ( @AssetTransId = 0
                                              OR EmpAssetMapping.AssetTransId = @AssetTransId
                                            )
                                                            
                                        AND   ( @PurchaseItemId is null
                                              OR EmpAssetMapping.PurchaseItemId = @PurchaseItemId
                                            )                                            
                                                         
                                           AND   ( @EmployeeId =0
                                              OR EmpAssetMapping.EmployeeId = @EmployeeId
                                            ) 
                                          
                                             
                                    )
                RETURN @TotalRecords
            END				
          		
      
       IF ( @Parameter = 2 )			--Fill Grid By Filter
            BEGIN
                IF @InitialLoad = 1
                    BEGIN   	SELECT	TOP (@PageSize) *
		FROM (
                     SELECT ROW_NUMBER() OVER ( ORDER BY AssetTransId DESC  ) AS SrNo 
											 ,[AssetTransId]
											  ,EmployeeDetails.EmployeeName + ' ' + isnull(EmployeeDetails.LastName,'') as EmployeeName 
											  ,[EmployeeDetails].[EmployeeCode]	
											  ,EmpAssetMapping.[EmployeeId]																					 											
											  ,EmpAssetMapping.PurchaseItemId	
											  ,ItemName	
											  ,ItemCode					
											  FROM      EmpAssetMapping 
											 left join EmployeeDetails ON EmpAssetMapping.EmployeeId = EmployeeDetails.EmployeeId
											  left join PurchaseItemMaster on EmpAssetMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
										
                                     WHERE   				
                                               EmpAssetMapping.IsDeleted = 0                                       
                                        
                                           AND   ( @EntityId IS NULL
                                              OR EmployeeDetails.EntityId = @EntityId
                                            )    
                                            
                                           AND   ( @AssetTransId = 0
                                              OR EmpAssetMapping.AssetTransId = @AssetTransId
                                            )
                                              
                                        AND   ( @PurchaseItemId is null
                                              OR EmpAssetMapping.PurchaseItemId = @PurchaseItemId
                                            )
                                                         
                                           AND   ( @EmployeeId =0
                                              OR EmpAssetMapping.EmployeeId = @EmployeeId
                                            ) 
                                              ) AS TC
                                              
									
                    END
				
                ELSE
                 BEGIN
                   	SELECT	TOP (@PageSize) *
		      FROM ( SELECT ROW_NUMBER() OVER (ORDER BY [AssetTransId] DESC  ) AS SrNo 
											,[AssetTransId]
											  ,EmployeeDetails.EmployeeName + ' ' + isnull(EmployeeDetails.LastName,'') as EmployeeName 
											  ,[EmployeeDetails].[EmployeeCode]	
											  ,EmpAssetMapping.[EmployeeId]																					 											
											  ,EmpAssetMapping.PurchaseItemId
											  ,ItemName	
											  ,ItemCode											  
                                  FROM      EmpAssetMapping 
											 left join EmployeeDetails ON EmpAssetMapping.EmployeeId = EmployeeDetails.EmployeeId
											  left join PurchaseItemMaster on EmpAssetMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
											
                                 
                                       
                                     WHERE   				
                                               EmpAssetMapping.IsDeleted = 0                                       
                                        
                                           AND   ( @EntityId IS NULL
                                              OR EmployeeDetails.EntityId = @EntityId
                                            )    
                                            
                                           AND   ( @AssetTransId = 0
                                              OR EmpAssetMapping.AssetTransId = @AssetTransId
                                            )   
                                                         
                                        AND   ( @PurchaseItemId is null
                                              OR EmpAssetMapping.PurchaseItemId = @PurchaseItemId
                                            )                                         
                                                         
                                           AND   ( @EmployeeId =0
                                              OR EmpAssetMapping.EmployeeId = @EmployeeId
                                            )  
                                               ) AS TC
						WHERE SrNo > (@PageNumber * @PageSize)  
                    END		
					   END
      
       	IF @Parameter = 3 --Fetch EmployeeName for Register 
	Begin
		
			Select distinct EmpAssetMapping.EmployeeId,
					EmployeeCode, 
					EmployeeName + ' ' + isnull(LastName,'') as EmployeeName 
			from EmpAssetMapping  
			left join EmployeeDetails on EmpAssetMapping.EmployeeId = EmployeeDetails.EmployeeId
			where
				EmployeeDetails.IsDelete = 0
				and EmployeeDetails.EntityId = @EntityId				
				and (@EmployeeId =0 or EmployeeDetails.EmployeeId= @EmployeeId)
				and EmployeeDetails.isActive = 1 				
				and EmployeeType= 1
				
			order by EmployeeName
		
		End
      
             	IF @Parameter = 4 --Fetch Item Name /Code for Register 
	Begin
		
			Select  distinct EmpAssetMapping.PurchaseItemId ,
							 ItemCode,
							ItemName 
							
							 
			from EmpAssetMapping  
			left join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId = EmpAssetMapping.PurchaseItemId
			where
				EmpAssetMapping.IsDeleted = 0	
				and IfActive = 1
                AND EntityId = @EntityId
                AND PurchaseItemMaster.IsDeleted = 0
                AND PurchaseItemMaster.IsEquipment=1 
				
			order by ItemName
		
		End
      
      
      
      
            end
	
       


       

  



     

     


GO
