USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ComparisionAnalysis]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================  
-- Author:  <Author,,Name>  
-- Create date: <Create Date,,>  
-- Description: <Description,,>  
-- =============================================  
-- ComparisionAnalysis '2022-01-01','2024-01-01',0,null,null,null,null,null,null,0,'1',1
CREATE  PROCEDURE [dbo].[ComparisionAnalysis]  
	@StartDate DATETIME = NULL ,  
    @EndDate DATETIME = NULL ,  
    @Active BIT = 0 ,  
    @CastingID UNIQUEIDENTIFIER = NULL ,  
    @CastingName VARCHAR(MAX) = NULL ,  
    @CustomerID UNIQUEIDENTIFIER = NULL ,  
    @CustomerOrderID UNIQUEIDENTIFIER = NULL ,  
    @CustomerGroup VARCHAR(100) = NULL ,  
    @CustomerGroupID UNIQUEIDENTIFIER = NULL ,  
    @IsProductionDate BIT = NULL ,  
    @PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityId INT = 0  
AS  
    BEGIN  
    
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
          SELECT  ROW_NUMBER() OVER ( ORDER BY filter, CustomerName ASC ) AS [RowNo],
        Months, YEAR,
		ISNULL(Productionqty, 0 ) AS Productionqty,
		ProductionWeight,SUM(RejectionQty) as RejectionQty, SUM(RejectionWeight) as RejectionWeight, SUM(CRRejectionQty) as CRRejectionQty,
        SUM(CRRejectionWeight) as CRRejectionWeight, Dispatchqty,DispatchWeight,
		ISNULL(TotalAmount,0) AS TotalAmount,filter,CustomerName
        FROM    ( SELECT    --ROW_NUMBER() OVER ( ORDER BY YEAR(ProductionDate), MONTH(ProductionDate), CustomerMaster.CustomerName ASC ) AS [RowNo] ,  
                            DATENAME(MONTH, ProductionDate) + '/'  
                            + CONVERT(VARCHAR(5), YEAR(ProductionDate)) AS Months ,  
                            YEAR(ProductionDate) AS YEAR ,  
                            ( SELECT    SUM(productionqty)  
                              FROM      dbo.ProductionBatch PB  
                                        INNER JOIN dbo.knockout ON dbo.knockout.batchid = PB.batchID  
                                        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.knockout.CastingID  
                                                              AND dbo.CastingMaster.IsDeleted = 0  
                                        INNER JOIN dbo.CustomerPatternMapping  
                                        AS CP ON dbo.CastingMaster.Dieid = CP.PatternId  
                              WHERE     SerialNo = 1  
                                        AND CustomerId = CustomerMaster.CustomerId  
                                        AND ProductionDate BETWEEN @StartDate AND @EndDate  
                                      --  AND MONTH(PB.ProductionDate) > 3  
                                        AND dbo.knockout.IsDeleted = 0  
                                        AND PB.IsDeleted = 0  
                                        AND DATENAME(MONTH, PB.ProductionDate)  
                                        + '/'  
                                        + CONVERT(VARCHAR(5), YEAR(PB.ProductionDate)) = DATENAME(MONTH,  
                                                              ProductionBatch.ProductionDate)  
                                        + '/'  
                                        + CONVERT(VARCHAR(5), YEAR(ProductionBatch.ProductionDate))  
                                        AND PB.EntityId = @EntityId  
                                                              AND ( ISNULL(@PlantIdString , '') = ''  
                 OR PB.PlantID IN (SELECT Item FROM @Plant)  
                  )  
                                       
                                          
                  --GROUP BY  CustomerId--,DATENAME(MONTH, ProductionDate)  
                            ) AS Productionqty ,  
                            ( SELECT    CONVERT(DECIMAL(18, 3), ISNULL(ROUND(( SUM(productionqty  
                                                              * perpcweight) ),  
                                                              2, 1), 0))  
                              FROM      dbo.ProductionBatch PB  
                                        INNER JOIN dbo.knockout ON dbo.knockout.batchid = PB.batchID  
                                        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.knockout.CastingID  
                                                              AND dbo.CastingMaster.IsDeleted = 0  
                                        INNER JOIN dbo.CustomerPatternMapping  
                                        AS CP ON dbo.CastingMaster.Dieid = CP.PatternId  
                              WHERE     SerialNo = 1  
                 AND CustomerId = CustomerMaster.CustomerId  
                                        AND ProductionDate BETWEEN @StartDate AND @EndDate  
                                       -- AND MONTH(PB.ProductionDate) > 3  
                                        AND dbo.knockout.IsDeleted = 0  
                                        AND PB.IsDeleted = 0  
                                        AND DATENAME(MONTH, PB.ProductionDate)  
                                        + '/'  
                                        + CONVERT(VARCHAR(5), YEAR(PB.ProductionDate)) = DATENAME(MONTH,  
                                                              ProductionBatch.ProductionDate)  
                                        + '/'  
                                        + CONVERT(VARCHAR(5), YEAR(ProductionBatch.ProductionDate))  
                                        AND PB.EntityId = @EntityId  
                                                              AND ( ISNULL(@PlantIdString , '') = ''  
                 OR PB.PlantID IN (SELECT Item FROM @Plant)  
                  )  
                                     
                                          
                                          
                  --GROUP BY  CustomerId--,DATENAME(MONTH, ProductionDate)  
                            ) AS ProductionWeight ,  
                --ISNULL(SUM(productionqty), 0) AS Productionqty ,  
               -- CONVERT(DECIMAL(10, 2), ISNULL(ROUND(( SUM(productionqty * perpcweight) ), 2, 1), 0)) AS ProductionWeight ,  
                            (ISNULL(( InhouseRej.RejQty ), 0)) AS RejectionQty ,  
                            CONVERT(DECIMAL(18, 3), (ISNULL(ROUND(( InhouseRej.RejWeight ),  
                                                              2, 1), 0))) AS RejectionWeight , 
                            (ISNULL(( InhouseRej.CRRejQty ), 0)) AS CRRejectionQty ,  
                            CONVERT(DECIMAL(18, 3), (ISNULL(ROUND(( InhouseRej.CRRejWeight ),  
                                                              2, 1), 0))) AS CRRejectionWeight ,  
                                                                                                
                            ISNULL(( s.dispatchqty ), 0) AS Dispatchqty ,  
                            CONVERT(DECIMAL(18, 3), ISNULL(ROUND(( s.DispatchTotalWeight ),  
                                                              2, 1), 0)) AS DispatchWeight ,  
                            CONVERT(DECIMAL(18, 2), TotalAmount) AS TotalAmount ,  
                            DATEADD(month, DATEDIFF(month, 0, ProductionDate),  
                                    0) AS filter ,  
                            CASE WHEN @Active = 1  
                                 THEN CustomerMaster.CustomerCode  
                                 ELSE CustomerName  
                            END CustomerName  
                  FROM      dbo.ProductionBatch  
                            INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID  
                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.knockout.CastingID  
                                                            AND dbo.CastingMaster.IsDeleted = 0  
                            INNER JOIN dbo.CustomerPatternMapping ON dbo.CastingMaster.Dieid = dbo.CustomerPatternMapping.PatternId  
                                                              AND dbo.CustomerPatternMapping.IsDeleted = 0  
                            INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId  
                            LEFT JOIN ( SELECT  CASE WHEN ( @IsProductionDate = 1 )  
                                                     THEN DATENAME(MONTH,  
                                                              ProductionDate)  
                                                          + '/'  
                                                          + CONVERT(VARCHAR(5), YEAR(ProductionDate))  
                                                     ELSE DATENAME(MONTH,  
                                                              RejectionDate)  
                                                          + '/'  
                                                          + CONVERT(VARCHAR(5), YEAR(RejectionDate))  
                                       END AS Months ,  
                                                case when IsInHouseRej = 1 then ISNULL(SUM(RejQty), 0) 
                                                end
                                                AS RejQty , 
                                                case when IsInHouseRej = 1 then  
                                                ISNULL(SUM(Weight), 0) end AS RejWeight , 
                                                case when IsInHouseRej = 0 then ISNULL(SUM(RejQty), 0) 
                                                end
                                                AS CRRejQty , 
                                                case when IsInHouseRej = 0 then  
                                                ISNULL(SUM(Weight), 0) end AS CRRejWeight ,  
                                                CustomerId  
                                        FROM    CastingFinalRejection  
                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID  
                                                INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.CastingFinalRejection.CastingID  
                                                LEFT JOIN dbo.CustomerPatternMapping ON dbo.CastingMaster.Dieid = dbo.CustomerPatternMapping.PatternId  
                                                              AND SerialNo = 1  
                                        WHERE   --IsInHouseRej = 1  
                                                ( ( @IsProductionDate = 1  
                                                    AND ProductionDate BETWEEN CONVERT(DATETIME, @StartDate, 103)  
                                                              AND  
                                                              CONVERT(DATETIME, @EndDate, 103)  
                                                  )  
                                                  OR ( @IsProductionDate = 0  
                                                       AND RejectionDate BETWEEN CONVERT(DATETIME, @StartDate, 103)  
                                                              AND  
                                                              CONVERT(DATETIME, @EndDate, 103)  
                                                     )  
                                                )  
                                                AND ( @CastingId IS NULL  
                                                      OR CastingMaster.CastingId = @CastingId  
                                                    )  
                                                AND ( @CastingName IS NULL  
                                                      OR CastingMaster.CastingName = @CastingName  
                                                    )  
                                    --AND ( @CustomerGroup IS NULL  
                                    --      OR CustomerMaster.CustomerGroup = @CustomerGroup  
                                    --    )  
                                                AND RejQty > 0  
                                                AND ProductionBatch.IsDeleted = 0  
                                                AND ( @CustomerId IS NULL  
                                                      OR CustomerPatternMapping.CustomerId = @CustomerId  
                                                    )  
                                                AND ( @CustomerGroupID IS NULL  
                                                      OR CustomerPatternMapping.CustomerId IN (  
                                                      SELECT  CustomerId  
                                                      FROM    dbo.CustomerMaster  
                                                      WHERE   CustomerMaster.CustomerGroupId = @CustomerGroupID )  
                                                    )  
                                               AND ProductionBatch.EntityId = @EntityId  
                                                              AND ( ISNULL(@PlantIdString , '') = ''  
                 OR ProductionBatch.PlantID IN (SELECT Item FROM @Plant)  
                  )  
                                                  
                                        GROUP BY CASE WHEN ( @IsProductionDate = 1 )  
                                                      THEN DATENAME(MONTH,  
                                                              ProductionDate)  
                                           + '/'  
                                                           + CONVERT(VARCHAR(5), YEAR(ProductionDate))  
                                                      ELSE DATENAME(MONTH,  
                                                              RejectionDate)  
                                                           + '/'  
                                                           + CONVERT(VARCHAR(5), YEAR(RejectionDate))  
                                                 END ,  
                                               -- YEAR(ProductionDate) ,  
                                                CustomerPatternMapping.CustomerId ,
                                                IsInHouseRej 
                                      ) AS InhouseRej ON InhouseRej.Months = DATENAME(MONTH,  
                                                              ProductionDate)  
                                                         + '/'  
                                                         + CONVERT(VARCHAR(5), YEAR(ProductionDate))  
                                                         AND dbo.CustomerMaster.CustomerId = InhouseRej.CustomerId  
                            LEFT JOIN ( SELECT  DATENAME(MONTH, dispatchdate)  
                                                + '/'  
                                                + CONVERT(VARCHAR(5), YEAR(dispatchdate)) AS Months ,  
                                                SUM(dbo.dispatchtrans.dispatchqty) dispatchqty ,  
                                                SUM(dbo.dispatchtrans.TotalWeight) AS DispatchTotalWeight ,  
                                                SUM(dispatchtrans.TotalAmount) AS TotalAmount ,  
                                                CustomerId  
                                        FROM    dbo.dispatchtrans  
                                                INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid  
                                                INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.dispatchtrans.castingid  
                                                       -- INNER JOIN dbo.CustomerMaster on dbo.CustomerMaster.CustomerId = dbo.dispatchmaster.customerID  
                                        WHERE   dbo.dispatchtrans.IsDeleted = 0   and dispatchmaster.TypeOfVoucher = 0
            AND isProforma = 0  
                                  --  AND dispatchdate BETWEEN @StartDate AND @EndDate  
                                                AND dispatchdate BETWEEN CONVERT(DATETIME, @StartDate, 103)  
                                                              AND  
                                                              CONVERT(DATETIME, @EndDate, 103)  
                                                AND dbo.dispatchmaster.IsDeleted = 0  
                                                AND ( @CustomerId IS NULL  
                                                      OR dispatchmaster.CustomerId = @CustomerId  
                                                    )  
                                                AND ( @CastingId IS NULL  
                                                      OR CastingMaster.CastingId = @CastingId  
                                                    )  
                                                AND ( @CastingName IS NULL  
                                                      OR CastingMaster.CastingName = @CastingName  
                                                    )  
                                    --AND ( @CustomerGroup IS NULL  
                                    --      OR CustomerMaster.CustomerGroup = @CustomerGroup  
                                        --)  
                                                AND ( @CustomerGroupID IS NULL  
                                                      OR dbo.CastingMaster.Dieid IN (  
                                                      SELECT  dbo.CustomerPatternMapping.PatternId  
                                                      FROM    dbo.CustomerPatternMapping  
                                                              INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId  
                                                      WHERE   CustomerMaster.CustomerGroupId = @CustomerGroupID  
                                                              AND dbo.CustomerPatternMapping.IsDeleted = 0 )  
                                                    )  
                                                  
                                                              AND ( ISNULL(@PlantIdString , '') = ''  
                 OR dispatchmaster.PlantID IN (SELECT Item FROM @Plant)  
                  )  
                                                AND dispatchmaster.EntityID = @EntityId  
                                        GROUP BY DATENAME(MONTH, dispatchdate) ,  
                                                YEAR(dispatchdate) ,  
                                                CustomerId  
                                      ) AS s ON s.Months = DATENAME(MONTH,  
                                                              ProductionDate)  
                                                + '/'  
                                                + CONVERT(VARCHAR(5), YEAR(ProductionDate))  
                                                AND CustomerMaster.CustomerId = s.CustomerId  
                  WHERE     --MONTH(ProductionDate) > 3  
                            ProductionDate BETWEEN @StartDate AND @EndDate  
                            AND dbo.knockout.IsDeleted = 0  
                            AND dbo.ProductionBatch.IsDeleted = 0  
                            AND ( @CustomerId IS NULL  
                                  OR dbo.CustomerMaster.CustomerId = @CustomerId  
                                )  
                            AND ( @CastingId IS NULL  
                                  OR CastingMaster.CastingId = @CastingId  
                                )  
                            AND ( @CastingName IS NULL  
                                  OR CastingMaster.CastingName = @CastingName  
                                )  
                            AND ( @CustomerGroupID IS NULL  
                                  OR CustomerMaster.CustomerGroupId = @CustomerGroupID  
                                )  
                            AND ( ISNULL(@PlantIdString , '') = ''  
                 OR ProductionBatch.PlantID IN (SELECT Item FROM @Plant)  
                  )  
                            AND ProductionBatch.EntityID = @EntityId  
                  GROUP BY  DATENAME(MONTH, ProductionDate) ,  
                            MONTH(ProductionDate) ,  
                            YEAR(ProductionDate) ,  
                            s.dispatchqty ,  
                            s.DispatchTotalWeight ,
                            RejQty,
                            RejWeight,
                            CRRejQty,
                            CRRejWeight,  
                            CustomerName ,  
                            CustomerMaster.CustomerCode ,  
                            TotalAmount ,  
                            CustomerMaster.CustomerId ,  
                            DATEADD(month, DATEDIFF(month, 0, productionDate),  
                                    0)  
            --      UNION  
            --      SELECT    ROW_NUMBER() OVER ( ORDER BY YEAR(ProductionDate), MONTH(ProductionDate), CustomerName ASC ) AS [RowNo] ,  
            --                DATENAME(MONTH, ProductionDate) + '/'  
            --                + CONVERT(VARCHAR(5), YEAR(ProductionDate)) AS Months ,  
            --                YEAR(ProductionDate) AS YEAR ,  
            --                ( SELECT    SUM(productionqty)  
            --                  FROM      dbo.ProductionBatch PB  
            --                            INNER JOIN dbo.knockout ON dbo.knockout.batchid = PB.batchID  
            --                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.knockout.CastingID  
            --                                                  AND dbo.CastingMaster.IsDeleted = 0  
            --                            INNER JOIN CustomerDieMapping AS CP ON dbo.CastingMaster.Dieid = CP.DieId  
            --                  WHERE     SerialNo = 1  
            --                            AND CustomerId = CustomerMaster.CustomerId  
            --                            AND ProductionDate BETWEEN @StartDate AND @EndDate  
            --                          --  AND MONTH(PB.ProductionDate) > 3  
            --                            AND dbo.knockout.IsDeleted = 0  
            --                            AND PB.IsDeleted = 0  
            --                            AND DATENAME(MONTH, PB.ProductionDate)  
            --                            + '/'  
            --                            + CONVERT(VARCHAR(5), YEAR(PB.ProductionDate)) = DATENAME(MONTH,  
            --                                                  ProductionBatch.ProductionDate)  
            --                            + '/'  
            --                            + CONVERT(VARCHAR(5), YEAR(ProductionBatch.ProductionDate))   
            --                              AND ( ISNULL(@PlantIdString , '') = ''  
            --     OR PB.PlantID IN (SELECT Item FROM @Plant)  
            --      )  
            --                                    AND PB.EntityID = @EntityId          
                                          
            --      --GROUP BY  CustomerId--,DATENAME(MONTH, ProductionDate)  
            --                ) AS Productionqty ,  
            --                ( SELECT    CONVERT(DECIMAL(11, 3), ISNULL(ROUND(( SUM(productionqty  
            --                                                  * perpcweight) ),  
            --                                                  2, 1), 0))  
            --                  FROM      dbo.ProductionBatch PB  
            --                            INNER JOIN dbo.knockout ON dbo.knockout.batchid = PB.batchID  
            --                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.knockout.CastingID  
            --                                                  AND dbo.CastingMaster.IsDeleted = 0  
            --                            INNER JOIN dbo.CustomerDieMapping AS CP ON dbo.CastingMaster.Dieid = CP.DieId  
            --                  WHERE     SerialNo = 1  
            --                            AND CustomerId = CustomerMaster.CustomerId  
            --                            AND ProductionDate BETWEEN @StartDate AND @EndDate  
            --                           -- AND MONTH(PB.ProductionDate) > 3  
            --                            AND dbo.knockout.IsDeleted = 0  
            --                            AND PB.IsDeleted = 0  
            --                            AND DATENAME(MONTH, PB.ProductionDate)  
            --                            + '/'  
            --                            + CONVERT(VARCHAR(5), YEAR(PB.ProductionDate)) = DATENAME(MONTH,  
            --                                                  ProductionBatch.ProductionDate)  
            --                            + '/'  
            --                            + CONVERT(VARCHAR(5), YEAR(ProductionBatch.ProductionDate))               
                                          
            --                             AND ( ISNULL(@PlantIdString , '') = ''  
            --     OR PB.PlantID IN (SELECT Item FROM @Plant)  
            --      )  
            --                                    AND PB.EntityID = @EntityId     
            --      --GROUP BY  CustomerId--,DATENAME(MONTH, ProductionDate)  
            --                ) AS ProductionWeight ,  
            --    --ISNULL(SUM(productionqty), 0) AS Productionqty ,  
            --   -- CONVERT(DECIMAL(10, 2), ISNULL(ROUND(( SUM(productionqty * perpcweight) ), 2, 1), 0)) AS ProductionWeight ,  
            --                ISNULL(( InhouseRej.RejQty ), 0) AS RejectionQty ,  
            --                CONVERT(DECIMAL(11, 3), ISNULL(ROUND(( InhouseRej.RejWeight ),  
            --                                                  2, 1), 0)) AS RejectionWeight ,  
            --                ISNULL(( s.dispatchqty ), 0) AS Dispatchqty ,  
            --                CONVERT(DECIMAL(11, 3), ISNULL(ROUND(( s.DispatchTotalWeight ),  
            --                                                  2, 1), 0)) AS DispatchWeight ,  
            --                CONVERT(DECIMAL(10, 2), TotalAmount) AS TotalAmount ,  
            --                DATEADD(month, DATEDIFF(month, 0, ProductionDate),  
            --                        0) AS filter ,  
            --                CASE WHEN @Active = 1  
            --                     THEN CustomerMaster.CustomerCode  
            --                     ELSE CustomerName  
            --                END CustomerName  
            --      FROM      dbo.ProductionBatch  
            --                INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID  
            --                INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.knockout.CastingID  
            --                                                AND dbo.CastingMaster.IsDeleted = 0  
            --                INNER JOIN dbo.CustomerDieMapping ON dbo.CastingMaster.Dieid = dbo.CustomerDieMapping.DieId  
            --                                                  AND dbo.CustomerDieMapping.IsDeleted = 0  
            --                INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerDieMapping.CustomerId  
            --                LEFT JOIN ( SELECT  CASE WHEN ( @IsProductionDate = 1 )  
            --                                         THEN DATENAME(MONTH,  
            --                                                  ProductionDate)  
            --                                              + '/'  
            --                                              + CONVERT(VARCHAR(5), YEAR(ProductionDate))  
            --                                         ELSE DATENAME(MONTH,  
            --                                                  RejectionDate)  
            --                                              + '/'  
            --                                              + CONVERT(VARCHAR(5), YEAR(RejectionDate))  
            --                                    END AS Months ,  
            --                                    ISNULL(SUM(RejQty), 0) AS RejQty ,  
            --                                    ISNULL(SUM(Weight), 0) AS RejWeight ,  
            --                                    CustomerId  
            --                            FROM    CastingFinalRejection  
            --                                    INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID  
            --                                    INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.CastingFinalRejection.CastingID  
            --                                    LEFT JOIN dbo.CustomerDieMapping ON dbo.CastingMaster.Dieid = dbo.CustomerDieMapping.DieId  
            --                                                  AND CustomerDieMapping.SerialNo = 1  
            --                            WHERE   --IsInHouseRej = 1  
            --                                    ( ( @IsProductionDate = 1  
            --                                        AND ProductionDate BETWEEN CONVERT(DATETIME, @StartDate, 103)  
            --                                                  AND  
            --                                                  CONVERT(DATETIME, @EndDate, 103)  
            --                                      )  
            --                                      OR ( @IsProductionDate = 0  
            --                                           AND RejectionDate BETWEEN CONVERT(DATETIME, @StartDate, 103)  
            --                                                  AND  
            --                                                  CONVERT(DATETIME, @EndDate, 103)  
            --                                         )  
            --                                    )  
            --                                    AND ( @CastingId IS NULL  
            --                                          OR CastingMaster.CastingId = @CastingId  
            --                                        )  
            --                                    AND ( @CastingName IS NULL  
            --                                          OR CastingMaster.CastingName = @CastingName  
            --                                        )  
            --                        --AND ( @CustomerGroup IS NULL  
            --                        --      OR CustomerMaster.CustomerGroup = @CustomerGroup  
            --                        --    )  
            --                                    AND RejQty > 0  
            --                                    AND ProductionBatch.IsDeleted = 0  
            --                                    AND ( @CustomerId IS NULL  
            --                                          OR CustomerDieMapping.CustomerId = @CustomerId  
            --                                        )  
            --                                    AND ( @CustomerGroupID IS NULL  
            --                                          OR CustomerDieMapping.CustomerId IN (  
            --                                          SELECT  CustomerId  
            --                                          FROM    dbo.CustomerMaster  
            --                                          WHERE   CustomerMaster.CustomerGroupId = @CustomerGroupID )  
            --                                        )  
            --                                        AND ( ISNULL(@PlantIdString , '') = ''  
            --     OR ProductionBatch.PlantID IN (SELECT Item FROM @Plant)  
            --      )  
            --                                    AND ProductionBatch.EntityID = @EntityId  
            --                            GROUP BY CASE WHEN ( @IsProductionDate = 1 )  
            --                                          THEN DATENAME(MONTH,  
            --                                                  ProductionDate)  
            --                                               + '/'  
            --                                               + CONVERT(VARCHAR(5), YEAR(ProductionDate))  
            --                                          ELSE DATENAME(MONTH,  
            --                                                  RejectionDate)  
            --                                               + '/'  
            --                                               + CONVERT(VARCHAR(5), YEAR(RejectionDate))  
            --                                     END ,  
            --                                   -- YEAR(ProductionDate) ,  
            --                                    CustomerId  
            --                          ) AS InhouseRej ON InhouseRej.Months = DATENAME(MONTH,  
            --                                                  ProductionDate)  
            --                                             + '/'  
            --                                             + CONVERT(VARCHAR(5), YEAR(ProductionDate))  
            --                                             AND dbo.CustomerMaster.CustomerId = InhouseRej.CustomerId  
            --                LEFT JOIN ( SELECT  DATENAME(MONTH, dispatchdate)  
            --                                    + '/'  
            --                                    + CONVERT(VARCHAR(5), YEAR(dispatchdate)) AS Months ,  
            --                                    SUM(dbo.dispatchtrans.dispatchqty) dispatchqty ,  
            --                                    SUM(dbo.dispatchtrans.TotalWeight) AS DispatchTotalWeight ,  
            --                       SUM(dbo.dispatchmaster.GrossAmount  
            --                                        - DisAmount) AS TotalAmount ,  
            --                                    CustomerId  
            --                            FROM    dbo.dispatchtrans  
            --                                    INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid  
            --                                    INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.dispatchtrans.castingid  
            --                                           -- INNER JOIN dbo.CustomerMaster on dbo.CustomerMaster.CustomerId = dbo.dispatchmaster.customerID  
            --                            WHERE   dbo.dispatchtrans.IsDeleted = 0  
            --AND isProforma = 0  
            --                      --  AND dispatchdate BETWEEN @StartDate AND @EndDate  
            --                                    AND dispatchdate BETWEEN CONVERT(DATETIME, @StartDate, 103)  
            --                                                  AND  
            --                                                  CONVERT(DATETIME, @EndDate, 103)  
            --                                    AND dbo.dispatchmaster.IsDeleted = 0  
            --                                    AND ( @CustomerId IS NULL  
            --                                          OR dispatchmaster.CustomerId = @CustomerId  
            --                                        )  
            --                                    AND ( @CastingId IS NULL  
            --                                          OR CastingMaster.CastingId = @CastingId  
            --                                        )  
            --                                    AND ( @CastingName IS NULL  
            --                                          OR CastingMaster.CastingName = @CastingName  
            --                                        )  
            --                        --AND ( @CustomerGroup IS NULL  
            --                        --      OR CustomerMaster.CustomerGroup = @CustomerGroup  
            --                            --)  
            --                                    AND ( @CustomerGroupID IS NULL  
            --                                          OR dbo.CastingMaster.Dieid IN (  
            --                                          SELECT  dbo.CustomerPatternMapping.PatternId  
            --                                          FROM    dbo.CustomerPatternMapping  
            --                                                  INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId  
            --                                          WHERE   CustomerMaster.CustomerGroupId = @CustomerGroupID  
            --                                                  AND dbo.CustomerPatternMapping.IsDeleted = 0 )  
            --                                        )  
            --                                    AND ( ISNULL(@PlantIdString , '') = ''  
            --     OR dispatchmaster.PlantID IN (SELECT Item FROM @Plant)  
            --      )  
            --                                    AND dispatchmaster.EntityID = @EntityId  
            --                            GROUP BY DATENAME(MONTH, dispatchdate) ,  
            --                                    YEAR(dispatchdate) ,  
            --                                    CustomerId  
            --                          ) AS s ON s.Months = DATENAME(MONTH,  
            --                                                  ProductionDate)  
            --                                    + '/'  
            --                                    + CONVERT(VARCHAR(5), YEAR(ProductionDate))  
            --                                    AND CustomerMaster.CustomerId = s.CustomerId  
            --      WHERE     --MONTH(ProductionDate) > 3  
            --                ProductionDate BETWEEN @StartDate AND @EndDate  
            --                AND dbo.knockout.IsDeleted = 0  
            --                AND dbo.ProductionBatch.IsDeleted = 0  
            --                AND ( @CustomerId IS NULL  
            --                      OR dbo.CustomerMaster.CustomerId = @CustomerId  
            --                    )  
            --                AND ( @CastingId IS NULL  
            --                      OR CastingMaster.CastingId = @CastingId  
            --                    )  
            --                AND ( @CastingName IS NULL  
            --                      OR CastingMaster.CastingName = @CastingName  
            --                    )  
            --                AND ( @CustomerGroupID IS NULL  
            --                      OR CustomerMaster.CustomerGroupId = @CustomerGroupID  
            --                    )  
            --                AND ( ISNULL(@PlantIdString , '') = ''  
            --     OR ProductionBatch.PlantID IN (SELECT Item FROM @Plant)  
            --      )  
            --                AND ProductionBatch.EntityID = @EntityId  
            --      GROUP BY  DATENAME(MONTH, ProductionDate) ,  
            --                MONTH(ProductionDate) ,  
            --                YEAR(ProductionDate) ,  
            --                s.dispatchqty ,  
            --                s.DispatchTotalWeight ,  
            --                InhouseRej.RejQty ,  
            --                InhouseRej.RejWeight ,  
            --                CustomerName ,  
            --                CustomerMaster.CustomerCode ,  
            --                TotalAmount ,  
            --                CustomerMaster.CustomerId ,  
            --                DATEADD(month, DATEDIFF(month, 0, productionDate),  
            --                        0)              
                             
                              
                              
               --   UNION  
               --   SELECT    ROW_NUMBER() OVER ( ORDER BY YEAR(ProductionDate), MONTH(ProductionDate), CustomerName ASC ) AS [RowNo] ,  
               --             DATENAME(MONTH, ProductionDate) + '/' + CONVERT(VARCHAR(5), YEAR(ProductionDate)) AS Months ,  
               --             YEAR(ProductionDate) AS YEAR ,  
               --             ( SELECT    SUM(productionqty)  
               --               FROM      dbo.ProductionBatch PB  
               --                         INNER JOIN dbo.knockout ON dbo.knockout.batchid = PB.batchID  
               --                         INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.knockout.CastingID  
               --                                                         AND dbo.CastingMaster.IsDeleted = 0  
               --                         INNER JOIN dbo.CustomerPatternMapping AS CP ON dbo.CastingMaster.Dieid = CP.PatternId  
               --               WHERE     SerialNo = 1  
               --                         AND CustomerId = CustomerMaster.CustomerId  
               --                         AND ProductionDate BETWEEN @StartDate AND @EndDate  
               --                         AND MONTH(PB.ProductionDate) > 3  
               --                         AND dbo.knockout.IsDeleted = 0  
               --                         AND PB.IsDeleted = 0  
               --                         AND DATENAME(MONTH, PB.ProductionDate) + '/' + CONVERT(VARCHAR(5), YEAR(PB.ProductionDate)) = DATENAME(MONTH,  
               --                                                                                                                                ProductionBatch.ProductionDate)  
               --                         + '/' + CONVERT(VARCHAR(5), YEAR(ProductionBatch.ProductionDate))  
               --   --GROUP BY  CustomerId--,DATENAME(MONTH, ProductionDate)  
               --             ) AS Productionqty ,  
               --             ( SELECT    CONVERT(DECIMAL(11, 3), ISNULL(ROUND(( SUM(productionqty * perpcweight) ), 2, 1), 0))  
               --      FROM      dbo.ProductionBatch PB  
               --                         INNER JOIN dbo.knockout ON dbo.knockout.batchid = PB.batchID  
               --                         INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.knockout.CastingID  
               --                                                         AND dbo.CastingMaster.IsDeleted = 0  
               --                         INNER JOIN dbo.CustomerPatternMapping AS CP ON dbo.CastingMaster.Dieid = CP.PatternId  
               --               WHERE     SerialNo = 1  
               --                         AND CustomerId = CustomerMaster.CustomerId  
               --                         AND ProductionDate BETWEEN @StartDate AND @EndDate  
               --                         AND MONTH(PB.ProductionDate) > 3  
               --                         AND dbo.knockout.IsDeleted = 0  
               --                         AND PB.IsDeleted = 0  
               --                         AND DATENAME(MONTH, PB.ProductionDate) + '/' + CONVERT(VARCHAR(5), YEAR(PB.ProductionDate)) = DATENAME(MONTH,  
               --                                                                                                                                ProductionBatch.ProductionDate)  
               --                         + '/' + CONVERT(VARCHAR(5), YEAR(ProductionBatch.ProductionDate))  
               --   --GROUP BY  CustomerId--,DATENAME(MONTH, ProductionDate)  
               --             ) AS ProductionWeight ,  
               -- --ISNULL(SUM(productionqty), 0) AS Productionqty ,  
               ---- CONVERT(DECIMAL(10, 2), ISNULL(ROUND(( SUM(productionqty * perpcweight) ), 2, 1), 0)) AS ProductionWeight ,  
               --             ISNULL(( InhouseRej.RejQty ), 0) AS RejectionQty ,  
               --             CONVERT(DECIMAL(11, 3), ISNULL(ROUND(( InhouseRej.RejWeight ), 2, 1), 0)) AS RejectionWeight ,  
               --             ISNULL(( s.dispatchqty ), 0) AS Dispatchqty ,  
               --             CONVERT(DECIMAL(11, 3), ISNULL(ROUND(( s.DispatchTotalWeight ), 2, 1), 0)) AS DispatchWeight ,  
               --             CONVERT(DECIMAL(10, 2), TotalAmount) AS TotalAmount ,  
               --             DATEADD(month, DATEDIFF(month, 0, dbo.ProductionBatch.ProductionDate), 0) AS filter ,  
               --             CustomerName  
               --   FROM      dbo.ProductionBatch  
               --             INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID  
               --             INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.knockout.CastingID  
               --                                             AND dbo.CastingMaster.IsDeleted = 0  
               --             LEFT JOIN dbo.CustomerPatternMapping ON dbo.CastingMaster.Dieid = dbo.CustomerPatternMapping.PatternId  
               --                                                     AND dbo.CustomerPatternMapping.IsDeleted = 0  
               --             LEFT JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId  
               --             LEFT JOIN ( SELECT  CASE WHEN ( @IsProductionDate = 1 )  
               --                                      THEN DATENAME(MONTH, ProductionDate) + '/' + CONVERT(VARCHAR(5), YEAR(ProductionDate))  
               --                                      ELSE DATENAME(MONTH, RejectionDate) + '/' + CONVERT(VARCHAR(5), YEAR(RejectionDate))  
               --                                 END AS Months ,  
               --                                 ISNULL(SUM(RejQty), 0) AS RejQty ,  
               --                                 ISNULL(SUM(Weight), 0) AS RejWeight ,  
               --                                 CustomerId  
               --                         FROM    CastingFinalRejection  
               --                                 INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID  
               --                                 INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.CastingFinalRejection.CastingID  
               --                                 INNER JOIN dbo.CustomerPatternMapping ON dbo.CastingMaster.Dieid = dbo.CustomerPatternMapping.PatternId  
               --                                                                          AND SerialNo = 1  
               --                         WHERE   --IsInHouseRej = 1  
               --                                 ( ( @IsProductionDate = 1  
               --                                     AND ProductionDate BETWEEN CONVERT(DATETIME, @StartDate, 103) AND CONVERT(DATETIME, @EndDate, 103)  
               --                                   )  
               --                                   OR ( @IsProductionDate = 0  
               --                                        AND RejectionDate BETWEEN CONVERT(DATETIME, @StartDate, 103) AND CONVERT(DATETIME, @EndDate, 103)  
               --                                      )  
               --                                 )  
               --                                 AND ( @CastingId IS NULL  
               --                                       OR CastingMaster.CastingId = @CastingId  
               --                                     )  
               --                                 AND ( @CastingName IS NULL  
               --                                       OR CastingMaster.CastingName = @CastingName  
               --                                     )  
               --                     --AND ( @CustomerGroup IS NULL  
               --                     --      OR CustomerMaster.CustomerGroup = @CustomerGroup  
               --                     --    )  
               --                                 AND RejQty > 0  
               --                                 AND ProductionBatch.IsDeleted = 0  
               --                                 AND ( @CustomerId IS NULL  
               --                                       OR CustomerPatternMapping.CustomerId = @CustomerId  
               --                                     )  
               --                                 AND ( @CustomerGroup IS NULL  
               --                                       OR CustomerPatternMapping.CustomerId IN ( SELECT  CustomerId  
               --                                                                                 FROM    dbo.CustomerMaster  
               --                                                                                 WHERE   CustomerMaster.CustomerGroup = @CustomerGroup )  
               --                                     )  
               --                         GROUP BY CASE WHEN ( @IsProductionDate = 1 )  
               --                                       THEN DATENAME(MONTH, ProductionDate) + '/' + CONVERT(VARCHAR(5), YEAR(ProductionDate))  
               --                                       ELSE DATENAME(MONTH, RejectionDate) + '/' + CONVERT(VARCHAR(5), YEAR(RejectionDate))  
               --                                  END ,  
               --                                 YEAR(ProductionDate) ,  
               --                                 CustomerId  
               --                       ) AS InhouseRej ON InhouseRej.Months = DATENAME(MONTH, ProductionDate) + '/' + CONVERT(VARCHAR(5), YEAR(ProductionDate))  
               --                                          AND dbo.CustomerMaster.CustomerId = InhouseRej.CustomerId  
               --             LEFT JOIN ( SELECT  DATENAME(MONTH, dispatchdate) + '/' + CONVERT(VARCHAR(5), YEAR(dispatchdate)) AS Months ,  
               --                                 SUM(dbo.dispatchtrans.dispatchqty) dispatchqty ,  
               --                                 SUM(dbo.dispatchtrans.TotalWeight) AS DispatchTotalWeight ,  
               --                              SUM(dbo.dispatchmaster.TotalAmount) AS TotalAmount ,  
               --                                 CustomerId  
               --                         FROM    dbo.dispatchtrans  
               --                                 INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid  
               --                                 INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.dispatchtrans.castingid  
               --                                        -- INNER JOIN dbo.CustomerMaster on dbo.CustomerMaster.CustomerId = dbo.dispatchmaster.customerID  
               --                         WHERE   dbo.dispatchtrans.IsDeleted = 0  
               --                   --  AND dispatchdate BETWEEN @StartDate AND @EndDate  
               --                                 AND dispatchdate BETWEEN CONVERT(DATETIME, @StartDate, 103) AND CONVERT(DATETIME, @EndDate, 103)  
               --                                 AND dbo.dispatchmaster.IsDeleted = 0  
               --                                 AND ( @CustomerId IS NULL  
               --                                       OR dispatchmaster.CustomerId = @CustomerId  
               --                                     )  
               --                                 AND ( @CastingId IS NULL  
               --                                       OR CastingMaster.CastingId = @CastingId  
               --                                     )  
               --                                 AND ( @CastingName IS NULL  
               --                                       OR CastingMaster.CastingName = @CastingName  
               --                                     )  
               --                     --AND ( @CustomerGroup IS NULL  
               --                     --      OR CustomerMaster.CustomerGroup = @CustomerGroup  
               --                         --)  
               --                                 AND ( @CustomerGroup IS NULL  
               --                                       OR dbo.CastingMaster.Dieid IN (  
               --                                       SELECT    dbo.CustomerPatternMapping.PatternId  
               --                                       FROM      dbo.CustomerPatternMapping  
               --                                                 INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId  
               --                                       WHERE     CustomerMaster.CustomerGroup = @CustomerGroup  
               --                                                 AND dbo.CustomerPatternMapping.IsDeleted = 0 )  
               --                                     )  
               --                         GROUP BY DATENAME(MONTH, dispatchdate) ,  
               --                                 YEAR(dispatchdate) ,  
               --                                 CustomerId  
               --                       ) AS s ON s.Months = DATENAME(MONTH, ProductionDate) + '/' + CONVERT(VARCHAR(5), YEAR(ProductionDate))  
               --                                 AND CustomerMaster.CustomerId = s.CustomerId  
               --   WHERE     MONTH(ProductionDate) < 4  
               --             AND ProductionDate BETWEEN @StartDate AND @EndDate  
               --             AND dbo.knockout.IsDeleted = 0  
               --             AND dbo.ProductionBatch.IsDeleted = 0  
               --             AND ( @CustomerId IS NULL  
               --                   OR dbo.CustomerMaster.CustomerId = @CustomerId  
               --                 )  
               --             AND ( @CastingId IS NULL  
               --                   OR CastingMaster.CastingId = @CastingId  
               --                 )  
               --             AND ( @CastingName IS NULL  
               --                   OR CastingMaster.CastingName = @CastingName  
               --                 )  
               --             AND ( @CustomerGroup IS NULL  
               --                   OR CustomerMaster.CustomerGroup = @CustomerGroup  
               --                 )  
               --   GROUP BY  DATENAME(MONTH, ProductionDate) ,  
               --             MONTH(ProductionDate) ,  
               --             YEAR(ProductionDate) ,  
               --             s.dispatchqty ,  
               --             s.DispatchTotalWeight ,  
               --             InhouseRej.RejQty ,  
               --             InhouseRej.RejWeight ,  
               --             customername ,  
               --             TotalAmount ,  
               --             CustomerMaster.CustomerId ,  
               --             DATEADD(month, DATEDIFF(month, 0, productionDate), 0)  
                ) AS s  
        group by 
         Months, YEAR,Productionqty,ProductionWeight,
        Dispatchqty,DispatchWeight,TotalAmount,filter,CustomerName
        ORDER BY YEAR ,  
                filter  
    
    END  
GO
