USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Sp_LocationMaster]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 
CREATE PROCEDURE [dbo].[Sp_LocationMaster]
	@Parameter INT = 0 
	,@LocationName nvarchar(200) = null
    ,@LocationShortCode nvarchar(50)  = null
    ,@Street nvarchar(200)  = null
    ,@Area nvarchar(200)  = null
    ,@City nvarchar(50)  = null
    ,@State nvarchar(50)  = null
    ,@Country nvarchar(50)  = null
    ,@Pincode int  = null
    ,@EntityId int  =  0
   ,@LocationId int =null 
   ,@DispatchID BIGINT = 0  
    ,@CustomerID UNIQUEIDENTIFIER = NULL 
    ,@PlantIdString VARCHAR(MAX) = NULL
   ,@WareHouse xml = null  
  ,@LocationwiseInventoryId  UNIQUEIDENTIFIER = NULL 
  ,@WareHouseDate  datetime = null  
  , @InitialLoad INT = 0    
   ,@PageSize INT = NULL 
   ,@PageNumber INT = 0   
    ,@DateFrom DATETIME = NULL 
 ,   @DateTo DATETIME = NULL  
 , @TotalRecords INT = 0  
AS
BEGIN
    IF @Parameter = 1 
        BEGIN
      INSERT INTO  [dbo].[LocationMaster]
           ([LocationName]
           ,[LocationShortCode]
           ,[Street]
           ,[Area]
           ,[City]
           ,[State]
           ,[Country]
           ,[Pincode]         
           ,[EntityId])
     VALUES
           (@LocationName  
           ,@LocationShortCode 
           ,@Street 
           ,@Area 
           ,@City 
           ,@State 
           ,@Country
           ,@Pincode          
           ,@EntityId) 
        END			
    IF @Parameter =2
        BEGIN
        Update  [dbo].[LocationMaster] Set
            LocationName   = @LocationName  
           ,LocationShortCode  =  @LocationShortCode 
           ,Street  =@Street 
           ,Area  = @Area 
           ,City  =@City 
           ,State = @State 
           ,Country = @Country
           ,Pincode =  @Pincode 
			where  LocationId =@LocationId
        END	
     IF @Parameter =3
        BEGIN
        Update  [dbo].[LocationMaster] Set
            IsDeleted=1
			where  LocationId =@LocationId
        END		
    IF @Parameter =4
        BEGIN
        select PlantMaster.*,cf.City as CityName ,sf.State as StateName,mf.CountryName 
			 from   [dbo].[PlantMaster] 
			left JOIN CityMaster cf on cf.CityId =  PlantMaster.CityId
			left JOIN StateMaster sf on sf.StateId=  cf.StateId
			left JOIN CountryMaster mf on mf.CountryId =  sf.CountryId	
			where  PlantMaster.IsDeleted=0  and PlantMaster.ISWareHouse = 1 and PlantMaster.EntityId =@EntityId 
        END		    
     IF @Parameter = 5
        BEGIN
       select PlantMaster.*,cf.City as CityName ,sf.State as StateName,mf.CountryName 
			 from   [dbo].[PlantMaster] 
			left JOIN CityMaster cf on cf.CityId =  PlantMaster.CityId
			left JOIN StateMaster sf on sf.StateId=  cf.StateId
			left JOIN CountryMaster mf on mf.CountryId =  sf.CountryId	
			where  PlantMaster.IsDeleted=0  and PlantId =@LocationId
        END	
     IF @Parameter =6
        BEGIN
        select PlantMaster.*,cf.City as CityName ,sf.State as StateName,mf.CountryName 
			 from   [dbo].[PlantMaster] 
			left JOIN CityMaster cf on cf.CityId =  PlantMaster.CityId
			left JOIN StateMaster sf on sf.StateId=  cf.StateId
			left JOIN CountryMaster mf on mf.CountryId =  sf.CountryId	
			where  PlantMaster.IsDeleted=0  and PlantMaster.EntityId =@EntityId
        END		
     IF @Parameter =7
        BEGIN
      SELECT DISTINCT
                                 CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty as dispatchqty  ,
                            dispatchmaster.Dispatchslipno,
                           LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid  
                        FROM    dispatchmaster
                                INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                                INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                                INNER JOIN CastingMaster ON dispatchtrans.PartId = CastingMaster.CastingId
                                INNER JOIN LocationwiseInventory ON LocationwiseInventory.DispatchId = dispatchmaster.DispatchID 
													and dispatchtrans.dispatchtransid = LocationwiseInventory.DispatchTransId and InTransist =0
                                                                            
                                INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
                                   LEFT OUTER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId
								and MetalMaster.IsDeleted = 0
							  
                        WHERE   LocationwiseInventory.LocationId=@LocationId 
									AND ( @DispatchID = 0
									  OR dispatchmaster.DispatchID =@DispatchID
                                     )   
                                      AND ( @CustomerID IS NULL
								  OR dispatchmaster.CustomerId = @CustomerID
									) 
                                AND dbo.dispatchtrans.IsDeleted = 0 
                           and dispatchmaster.EntityID =@EntityId
                        GROUP BY CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty  ,
                            dispatchmaster.Dispatchslipno,
                                  LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid  
                           
                             ORDER BY Dispatchslipno DESC  
        END	    
          IF @Parameter = 8
        BEGIN
            SELECT  --dispatchmaster.Dispatchslipno ,
                    ISNULL(Prefix, '') + ISNULL(Separator, '')
                    + Dispatchslipno + ISNULL(Separator, '') + ISNULL(Suffix,
                                                              '') AS Dispatchslipno ,
                    dispatchmaster.DispatchID
            FROM    dispatchmaster
                    INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
            WHERE           ( @CustomerID IS NULL
								  OR dispatchmaster.CustomerId = @CustomerID
									) 
                    AND dispatchmaster.Isdeleted = 0
                    ----- Added by megha
                    AND (@PlantIdString is null 
						OR @PlantIdString = '' 
						OR dispatchmaster.PlantId in (SELECT * FROM dbo.SplitString(@PlantIdString, ',') )
						)
					AND (dispatchmaster.EntityID = @EntityID)
                    -------------------
            ORDER BY Dispatchslipno DESC


        END     
         IF @Parameter = 9
        BEGIN
         INSERT INTO  [dbo].[WareHouse]
           ( 
           [LocationwiseInventoryId]
           ,[DispatchId]
           ,[DispatchTransId]
           ,[ItemId]
          ,[WareHouseDate]
          ,[Stock] )
                             SELECT   
							    Node.value('(LocationwiseInventoryId )[1]',
                                           'uniqueidentifier') AS 'LocationwiseInventoryId' ,
                               Node.value('(dispatchid )[1]',
                                           'bigint') AS 'dispatchid'  ,
                               Node.value('(dispatchtransid )[1]',
                                           'bigint') AS 'dispatchtransid'    ,
                               Node.value('(CastingId )[1]',
                                           'uniqueidentifier') AS 'CastingId'  ,
                            @WareHouseDate,
                             Node.value('(Stock )[1]',
                                           'bigint') AS 'Stock'   
                        FROM    @WareHouse.nodes('/DocumentElement/WareHouse') AS TEMPXML ( Node )

                        
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION	

   DECLARE WareHouseCursor CURSOR
                FOR
                    SELECT  Node.value('(LocationwiseInventoryId )[1]','uniqueidentifier') AS 'LocationwiseInventoryId' 
                             
                    FROM    @WareHouse.nodes('/DocumentElement/WareHouse') AS TEMPXML ( Node )

                OPEN WareHouseCursor;

                FETCH NEXT FROM WareHouseCursor INTO @LocationwiseInventoryId

                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                        
                    update LocationwiseInventory set InTransist=1 where LocationwiseInventoryId=@LocationwiseInventoryId
                      
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION	
				
			
                        FETCH NEXT FROM WareHouseCursor INTO @LocationwiseInventoryId
        
                    END
                    
                CLOSE WareHouseCursor;
                DEALLOCATE WareHouseCursor;
        END     
       IF @Parameter = 10
        BEGIN
         IF @InitialLoad = 1
                    BEGIN 
                     SELECT DISTINCT TOP ( @PageSize )  * from (
						  SELECT DISTINCT ROW_NUMBER() OVER ( ORDER BY  LocationwiseInventory.LocationwiseInventoryId DESC ) AS SrNo ,
                                 CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty as dispatchqty  ,
                            dispatchmaster.Dispatchslipno,
                          LocationwiseInventory.LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid ,
                          	   CONVERT(VARCHAR(11), WarehouseDate, 106) as  WarehouseDate  
                        FROM    dispatchmaster
                                INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                                INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                                INNER JOIN CastingMaster ON dispatchtrans.PartId = CastingMaster.CastingId
                                INNER JOIN LocationwiseInventory ON LocationwiseInventory.DispatchId = dispatchmaster.DispatchID 
													and dispatchtrans.dispatchtransid = LocationwiseInventory.DispatchTransId and InTransist =1
                                INNER JOIN Warehouse on warehouse.LocationwiseInventoryId=LocationwiseInventory.LocationwiseInventoryId 
                                INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
                                   LEFT OUTER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId
								and MetalMaster.IsDeleted = 0
							  
                        WHERE  ( @DispatchID = 0
									  OR dispatchmaster.DispatchID =@DispatchID
                                     )   
                                      AND ( @CustomerID IS NULL
								  OR dispatchmaster.CustomerId = @CustomerID
									) 
                                AND dbo.dispatchtrans.IsDeleted = 0
                                and LocationwiseInventory.LocationId=@LocationId
                           and dispatchmaster.EntityID =@EntityId
                           AND ( @DateFrom IS NULL
                                                              OR @DateTo IS NULL
                                                              OR WarehouseDate BETWEEN @DateFrom
                                                              AND
                                                              @DateTo
                                                              
                                                            ) 
                        GROUP BY CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty  ,
                            dispatchmaster.Dispatchslipno,
                                  LocationwiseInventory.LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid   ,
                          	    WarehouseDate 
                           
                              ) as Tcc
                       WHERE   SrNo > ( @PageNumber * @PageSize ) 
                             END
                             
                              ELSE
                    BEGIN
				
                        SELECT TOP ( @PageSize )
                                *
                        FROM  (
                         SELECT DISTINCT ROW_NUMBER() OVER ( ORDER BY  LocationwiseInventory.LocationwiseInventoryId DESC ) AS SrNo ,
                                 CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty as dispatchqty  ,
                            dispatchmaster.Dispatchslipno,
                           LocationwiseInventory.LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid ,
                          	   CONVERT(VARCHAR(11), WarehouseDate, 106)  WarehouseDate  
                        FROM    dispatchmaster
                                INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                                INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                                INNER JOIN CastingMaster ON dispatchtrans.PartId = CastingMaster.CastingId
                                INNER JOIN LocationwiseInventory ON LocationwiseInventory.DispatchId = dispatchmaster.DispatchID 
													and dispatchtrans.dispatchtransid = LocationwiseInventory.DispatchTransId and InTransist =1
                                   INNER JOIN Warehouse on warehouse.LocationwiseInventoryId=LocationwiseInventory.LocationwiseInventoryId                                          
                                INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
                                   LEFT OUTER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId
								and MetalMaster.IsDeleted = 0
							  
                        WHERE  ( @DispatchID = 0
									  OR dispatchmaster.DispatchID =@DispatchID
                                     )   
                                      AND ( @CustomerID IS NULL
								  OR dispatchmaster.CustomerId = @CustomerID
									) 
                                AND dbo.dispatchtrans.IsDeleted = 0
                                and LocationwiseInventory.LocationId=@LocationId
                           and dispatchmaster.EntityID =@EntityId
                              AND ( @DateFrom IS NULL
                                                              OR @DateTo IS NULL
                                                              OR WarehouseDate BETWEEN @DateFrom
                                                              AND
                                                              @DateTo  
                                                            )  
                        GROUP BY CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty  ,
                            dispatchmaster.Dispatchslipno,
                                  LocationwiseInventory.LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid   ,
                           WarehouseDate
                              ) as Tcc
                       WHERE   SrNo > ( @PageNumber * @PageSize ) 
                        END
        END	
        IF @Parameter = 11
        BEGIN
            SET @TotalRecords = ( SELECT    COUNT(*)
                                      FROM      ( SELECT DISTINCT 
                          LocationwiseInventory.LocationwiseInventoryId 
                        FROM    dispatchmaster
                                INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                                INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                                INNER JOIN CastingMaster ON dispatchtrans.PartId = CastingMaster.CastingId
                                INNER JOIN LocationwiseInventory ON LocationwiseInventory.DispatchId = dispatchmaster.DispatchID 
													and dispatchtrans.dispatchtransid = LocationwiseInventory.DispatchTransId and InTransist =1
                                INNER JOIN Warehouse on warehouse.LocationwiseInventoryId=LocationwiseInventory.LocationwiseInventoryId 
                                INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
                                   LEFT OUTER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId
								and MetalMaster.IsDeleted = 0
							  
                        WHERE  ( @DispatchID = 0
									  OR dispatchmaster.DispatchID =@DispatchID
                                     )   
                                      AND ( @CustomerID IS NULL
								  OR dispatchmaster.CustomerId = @CustomerID
									) 
                                AND dbo.dispatchtrans.IsDeleted = 0
                                and LocationwiseInventory.LocationId=@LocationId
                           and dispatchmaster.EntityID =@EntityId
                           AND ( @DateFrom IS NULL
                                                              OR @DateTo IS NULL
                                                              OR WarehouseDate BETWEEN @DateFrom
                                                              AND
                                                              @DateTo
                                                              
                                                            ) 
                        GROUP BY CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty  ,
                            dispatchmaster.Dispatchslipno,
                                  LocationwiseInventory.LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid   ,
                          WareHouseDate
                                                ) AS c
                                    )
                RETURN @TotalRecords
        END   
		IF @Parameter = 12
        BEGIN
			UPDATE LocationwiseInventory SET InTransist=0 WHERE LocationwiseInventoryId=@LocationwiseInventoryId
			DELETE FROM WAREHOUSE  WHERE LocationwiseInventoryId=@LocationwiseInventoryId
        END
        IF @Parameter = 13
        BEGIN
		   SELECT DISTINCT ROW_NUMBER() OVER ( ORDER BY  LocationwiseInventory.LocationwiseInventoryId DESC ) AS SrNo ,
                                 CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty as dispatchqty  ,
								dispatchmaster.Dispatchslipno,
							  LocationwiseInventory.LocationwiseInventoryId,
							  dispatchtrans.dispatchid,
							  dispatchtrans.dispatchtransid ,
							   CONVERT(VARCHAR(11), WarehouseDate, 106)  WarehouseDate 
                        FROM    dispatchmaster
                                INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                                INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                                INNER JOIN CastingMaster ON dispatchtrans.PartId = CastingMaster.CastingId
                                INNER JOIN LocationwiseInventory ON LocationwiseInventory.DispatchId = dispatchmaster.DispatchID 
													and dispatchtrans.dispatchtransid = LocationwiseInventory.DispatchTransId and InTransist =1
                                INNER JOIN Warehouse on warehouse.LocationwiseInventoryId=LocationwiseInventory.LocationwiseInventoryId 
                                INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
                                   LEFT OUTER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId
								and MetalMaster.IsDeleted = 0
							  
                        WHERE  ( @DispatchID = 0
									  OR dispatchmaster.DispatchID =@DispatchID
                                     )   
                                      AND ( @CustomerID IS NULL
								  OR dispatchmaster.CustomerId = @CustomerID
									) 
                                AND dbo.dispatchtrans.IsDeleted = 0
                                and LocationwiseInventory.LocationId=@LocationId
                           and dispatchmaster.EntityID =@EntityId
                           AND ( @DateFrom IS NULL
                                                              OR @DateTo IS NULL
                                                              OR WarehouseDate BETWEEN @DateFrom
                                                              AND
                                                              @DateTo
                                                              
                                                            ) 
                        GROUP BY CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty  ,
                            dispatchmaster.Dispatchslipno,
                                  LocationwiseInventory.LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid   ,
                          WareHouseDate
        END
END



GO
