USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Customer_Rejection_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[Customer_Rejection_Register] 
(
	@Parameter int = 0,
	@PageNumber int = 0,
	@PageSize int = 0,
	@InitialLoad int = 0,
	@TotalRecords int = 0,
	@PlantIdString varchar(max) = NULL,
	@CASTINGID uniqueidentifier = NULL,
	@CastingName varchar(250) = NULL,
	@IsCastCodeEnable bit = NULL,
	@EntityId int = 0,
	@ReasonID bigint = 0,
	@InhouseProcessID uniqueidentifier = NULL,
	@InvoiceNo varchar(250) = NULL,
	@DocRefNo varchar(250) = NULL,
	@DateFrom datetime = NULL,
	@DateTo datetime = NULL,
	@BatchID bigint = 0,
	@CustomerId uniqueidentifier = Null
)

AS
BEGIN

	DECLARE @Plant TABLE ( Item int )
	IF (@PlantIdString IS NOT NULL AND @PlantIdString != '')
	BEGIN
		INSERT INTO @Plant
			SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	END

	IF @parameter = 1
	BEGIN
		IF (@IsCastCodeEnable = 0)
		BEGIN
			SELECT	TOP (@PageSize) *
			FROM(
					SELECT	DISTINCT ROW_NUMBER() OVER (ORDER BY CustomerReturnrejmgnt.CreatedOn DESC) AS SrNo,
							CastingCode, CastingName, MetalName, ProcessMaster.ProcessName, OKQty, CustomerReturnrejmgnt.Rejqty,
							--CONVERT(decimal(10, 2), 
							--(CastingFinalRejection.Weight / CustomerReturnrejmgnt.rejqty), 2) AS CastingNetWeight,
							--CastingFinalRejection.Weight AS TotalWeight 
							 CONVERT(decimal(18, 3), 
								CastingMetal.CastingNetWeight 
								*(ISNULL(CustomerReturnrejmgnt.rejqty, 0) + ISNULL(CustomerReturnrejmgnt.OKQty, 0) + ISNULL(CustomerReturnrejmgnt.ReworkQty, 0))
							) AS TotalWeight,
							CONVERT(decimal(18, 3), 
							CastingMetal.CastingNetWeight 
							) AS CastingnetWeight,
							 ISNULL(CustomerReturnMaster.prefix,'')
							+ ISNULL(CustomerReturnMaster.separator,'')
							+ CONVERT(VARCHAR(50), CustomerReturnMaster.ReturnNo)
							+ ISNULL(CustomerReturnMaster.separator,'')
							+ ISNULL(CustomerReturnMaster.suffix,'') AS ReturnNo,
							  --CustomerReturnMaster.ReturnNo,
							  CustomerReturnrejmgnt.InwardID,
							CustomerReturnrejmgnt.MetalId, CustomerReturnrejmgnt.Remarks,
							CONVERT(varchar(11), CustomerReturnMaster.Returndate, 106) AS ReturnDate,ReasonMaster.Reason
							, ReasonMaster.ReasonID, CustomerReturnTrans.ProcessID, dispatchmaster.Dispatchslipno AS entryNo,
							((CASE WHEN ISNULL(DispatchMaster.Prefix , '') = '' THEN '' ELSE CONVERT(varchar(50), DispatchMaster.Prefix)
							+ (CASE WHEN DispatchMaster.Separator IS NULL THEN '' ELSE CONVERT(varchar(50), DispatchMaster.Separator) END) END)
							+ CONVERT(varchar(50), DispatchMaster.DispatchSlipNo)
							+ (CASE WHEN DispatchMaster.Separator IS NULL THEN '' ELSE CONVERT(varchar(50), DispatchMaster.Separator) END)
							+ (CASE WHEN DispatchMaster.Suffix IS NULL THEN '' ELSE CONVERT(varchar(50), DispatchMaster.Suffix) END)
							) DispatchSlipNo, CustomerReturnMaster.RefDocNo, CustomerReturnrejmgnt.PlantId,
							CustomerReturnrejmgnt.ReworkQty,(CASE WHEN CustomerReturnrejmgnt.ReworkQty > 0 THEN '1' ELSE '0' END) AS IsRework,
							isnull(CastingFinalRejection.IsDeassemble ,0 ) as IsDeassemble
					FROM	CustomerReturnrejmgnt
							INNER JOIN CastingMaster ON CastingMaster.CastingID = CustomerReturnrejmgnt.PartId
							INNER JOIN MetalMaster ON CustomerReturnrejmgnt.MetalID = MetalMaster.MetalId 
							INNER JOIN CustomerReturnMaster ON CustomerReturnrejmgnt.CustomerReturnID = CustomerReturnMaster.ReturnID
							INNER JOIN dbo.CustomerReturnTrans ON dbo.CustomerReturnTrans.ReturnTransID = dbo.CustomerReturnrejmgnt.CustomerReturnTransID
							
								inner join CastingMetal on CastingMetal.metalid = MetalMaster.MetalId and CustomerReturnTrans.PartId = CastingMetal.castingID
							LEFT JOIN CastingFinalRejection ON CastingFinalRejection.InwardID = CustomerReturnrejmgnt.InwardID
										AND CastingFinalRejection.IsInHouseRej = 0
							INNER JOIN ReasonMaster ON ReasonMaster.ReasonID = CustomerReturnTrans.ReasonID
							LEFT JOIN ProcessMaster ON ProcessMaster.ProcessId = dbo.CustomerReturnTrans.ProcessID
							LEFT JOIN dispatchmaster ON dispatchmaster.DispatchID = CustomerReturnTrans.CastingDispatchId
							 left join rejectionmaster on RejectionMaster.RejInwardID = CustomerReturnrejmgnt.InwardID and IsReworkFromCustomer = 1 
					WHERE	(@CastingID IS NULL OR CastingMaster.CastingID = @CastingID )
							AND (@CastingName IS NULL OR CastingName = @CastingName )
							AND (@PlantIdString IS NULL OR @PlantIdString = ''
								--OR CustomerReturnrejmgnt.CAstingId IN (
								--	SELECT CastingId FROM dbo.PlantCastingMapping WHERE PlantId IN (SELECT Item FROM @Plant))
								OR CustomerReturnrejmgnt.PlantId IN (SELECT Item FROM @Plant)
							)
							AND CustomerReturnrejmgnt.EntityID = @EntityId
							AND (@InhouseProcessID IS NULL OR CustomerReturnTrans.ProcessId = @InhouseProcessID)
							AND (@ReasonID = 0 OR CustomerReturnTrans.ReasonID = @ReasonID)
							AND (@InvoiceNo IS NULL OR dispatchmaster.Dispatchslipno = @InvoiceNo)
							AND (@DocRefNo IS NULL OR CustomerReturnMaster.RefDocNo = @DocRefNo)
							And (@CustomerId is null  or CustomerReturnMaster.CustomerID = @CustomerId)						
							And (@BatchID = 0 OR CastingFinalRejection.ProductionBatchID = @BatchID)
						  AND ( Cast(@DateFrom as Date) IS NULL
                                 OR Cast(@DateTo as Date) IS NULL
                                OR CAST(CustomerReturnMaster.Returndate AS DATE) BETWEEN Cast(@DateFrom AS Date)
                                AND Cast(@DateTo as Date)
                             )   
                             AND (CustomerReturnrejmgnt.ReworkInspID IS NULL or CustomerReturnrejmgnt.ReworkInspID = 0 )
			) AS CustomerRejection
			WHERE		CustomerRejection.SrNo BETWEEN ((@PageNumber * @PageSize) + 1) AND ((@PageNumber + 1) * @PageSize)
			ORDER BY CustomerRejection.SrNo
		END
		ELSE
		BEGIN
			SELECT	TOP (@PageSize) *
			FROM (
					SELECT	DISTINCT ROW_NUMBER() OVER (ORDER BY CustomerReturnrejmgnt.CreatedOn DESC) AS SrNo,
							CastingCode, CastingName, MetalName, ProcessMaster.ProcessName, OKQty, CustomerReturnrejmgnt.Rejqty,
							--CONVERT(decimal(10, 2), 
							--(CastingFinalRejection.Weight / CustomerReturnrejmgnt.rejqty), 2) AS CastingNetWeight,
							--CastingFinalRejection.Weight AS TotalWeight 
							-- CONVERT(decimal(18, 3), 
							--	(CASE WHEN ISNULL(CastingFinalRejection.Weight, 0) != 0    THEN CastingFinalRejection.Weight
							--			ELSE CastingMetal.CastingNetWeight END)
							--	/ (ISNULL(CustomerReturnrejmgnt.rejqty, 0) + ISNULL(CustomerReturnrejmgnt.OKQty, 0) + ISNULL(CustomerReturnrejmgnt.ReworkQty, 0))
							--) AS CastingnetWeight,
							--CONVERT(decimal(18, 3), 
							--(CASE WHEN ISNULL(CastingFinalRejection.Weight, 0) != 0    THEN CastingFinalRejection.Weight
							--			ELSE CastingMetal.CastingNetWeight END)
							--) AS TotalWeight,
								 CONVERT(decimal(18, 3), 
								CastingMetal.CastingNetWeight 
								*(ISNULL(CustomerReturnrejmgnt.rejqty, 0) + ISNULL(CustomerReturnrejmgnt.OKQty, 0) + ISNULL(CustomerReturnrejmgnt.ReworkQty, 0))
							) AS TotalWeight,
							CONVERT(decimal(18, 3), 
							CastingMetal.CastingNetWeight 
							) AS CastingnetWeight,
							 CustomerReturnMaster.ReturnNo, CustomerReturnrejmgnt.InwardID,
							CustomerReturnrejmgnt.MetalId, CustomerReturnTrans.CastCode, CustomerReturnrejmgnt.Remarks,
							CONVERT(varchar(11), CustomerReturnMaster.Returndate, 106) AS ReturnDate, ReasonMaster.Reason,
							ReasonMaster.ReasonID, CustomerReturnTrans.ProcessID, dispatchmaster.Dispatchslipno AS entryNo,
							( (CASE WHEN DispatchMaster.Prefix IS NULL OR DispatchMaster.Prefix = '' THEN '' ELSE CONVERT(varchar(50), DispatchMaster.Prefix)
							+ (CASE WHEN DispatchMaster.Separator IS NULL THEN '' ELSE CONVERT(varchar(50), DispatchMaster.Separator) END) END)
							+ CONVERT(varchar(50), DispatchMaster.DispatchSlipNo)
							+ (CASE WHEN DispatchMaster.Separator IS NULL THEN '' ELSE CONVERT(varchar(50), DispatchMaster.Separator) END)
							+ (CASE WHEN DispatchMaster.Suffix IS NULL THEN '' ELSE CONVERT(varchar(50), DispatchMaster.Suffix) END) 
							) DispatchSlipNo, CustomerReturnMaster.RefDocNo, CustomerReturnrejmgnt.PlantId,
							CustomerReturnrejmgnt.ReworkQty,(CASE WHEN CustomerReturnrejmgnt.ReworkQty > 0 THEN '1' ELSE '0' END) AS IsRework,
							isnull(CastingFinalRejection.IsDeassemble ,0 ) as IsDeassemble
					FROM	CustomerReturnrejmgnt
							INNER JOIN CastingMaster ON CastingMaster.CastingID = CustomerReturnrejmgnt.PartId
							INNER JOIN MetalMaster ON CustomerReturnrejmgnt.MetalID = MetalMaster.MetalId
							INNER JOIN CustomerReturnMaster ON CustomerReturnrejmgnt.CustomerReturnID = CustomerReturnMaster.ReturnID
							INNER JOIN dbo.CustomerReturnTrans ON dbo.CustomerReturnTrans.ReturnTransID = dbo.CustomerReturnrejmgnt.CustomerReturnTransID
							
								inner join CastingMetal on CastingMetal.metalid = MetalMaster.MetalId and CustomerReturnTrans.PartId = CastingMetal.castingID
							LEFT JOIN CastingFinalRejection ON CastingFinalRejection.InwardID = CustomerReturnrejmgnt.InwardID
											AND CastingFinalRejection.IsInHouseRej = 0
							INNER JOIN ReasonMaster ON ReasonMaster.ReasonID = CustomerReturnTrans.ReasonID
							LEFT JOIN ProcessMaster ON ProcessMaster.ProcessId = dbo.CustomerReturnTrans.ProcessID
							LEFT JOIN dispatchmaster ON dispatchmaster.DispatchID = CustomerReturnTrans.CastingDispatchId
								 left join rejectionmaster on RejectionMaster.RejInwardID = CustomerReturnrejmgnt.InwardID and IsReworkFromCustomer = 1 
					WHERE	(@CastingID IS NULL OR CastingMaster.CastingID = @CastingID )
							AND (@CastingName IS NULL OR CastingName = @CastingName )
							AND (@PlantIdString IS NULL OR @PlantIdString = ''
								--OR CustomerReturnrejmgnt.CAstingId IN (
								--SELECT CastingId FROM dbo.PlantCastingMapping WHERE PlantId IN (SELECT Item FROM @Plant))
								OR CustomerReturnrejmgnt.PlantId IN (SELECT Item FROM @Plant)
							)
							AND CustomerReturnrejmgnt.EntityID = @EntityId
							AND (@InhouseProcessID IS NULL OR CustomerReturnTrans.ProcessId = @InhouseProcessID)
							AND (@ReasonID = 0 OR CustomerReturnTrans.ReasonID = @ReasonID)
							AND (@InvoiceNo IS NULL OR dispatchmaster.Dispatchslipno = @InvoiceNo)
							AND (@DocRefNo IS NULL OR CustomerReturnMaster.RefDocNo = @DocRefNo)
							And (@CustomerId is null  or CustomerReturnMaster.CustomerID = @CustomerId)							
							And (@BatchID = 0 OR CastingFinalRejection.ProductionBatchID = @BatchID)
						  AND ( Cast(@DateFrom as Date) IS NULL
                                 OR Cast(@DateTo as Date) IS NULL
                                OR CAST(CustomerReturnMaster.Returndate AS DATE) BETWEEN Cast(@DateFrom AS Date)
                                AND Cast(@DateTo as Date)
                             )  
                             AND (CustomerReturnrejmgnt.ReworkInspID IS NULL or CustomerReturnrejmgnt.ReworkInspID = 0 )
			) AS CustomerRejection
			WHERE CustomerRejection.SrNo BETWEEN ((@PageNumber * @PageSize) + 1) AND ((@PageNumber + 1) * @PageSize) 
			ORDER BY CustomerRejection.SrNo
		END
	END

	IF @parameter = 2
	BEGIN
		IF (@IsCastCodeEnable = 0)
		BEGIN
			SET @TotalRecords = (
					SELECT	COUNT(1)
					FROM	CustomerReturnrejmgnt
							INNER JOIN CastingMaster ON CastingMaster.CastingID = CustomerReturnrejmgnt.PartId
							INNER JOIN MetalMaster ON CustomerReturnrejmgnt.MetalID = MetalMaster.MetalId
							INNER JOIN CustomerReturnMaster ON CustomerReturnrejmgnt.CustomerReturnID = CustomerReturnMaster.ReturnID
							INNER JOIN dbo.CustomerReturnTrans ON dbo.CustomerReturnTrans.ReturnTransID = dbo.CustomerReturnrejmgnt.CustomerReturnTransID
							LEFT JOIN CastingFinalRejection ON CastingFinalRejection.InwardID = CustomerReturnrejmgnt.InwardID
										AND CastingFinalRejection.IsInHouseRej = 0
							INNER JOIN ReasonMaster ON ReasonMaster.ReasonID = CustomerReturnTrans.ReasonID
							LEFT JOIN ProcessMaster ON ProcessMaster.ProcessId = dbo.CustomerReturnTrans.ProcessID
							LEFT JOIN dispatchmaster ON dispatchmaster.DispatchID = CustomerReturnTrans.CastingDispatchId
					WHERE	(@CastingID IS NULL OR CastingMaster.CastingID = @CastingID )
							AND (@CastingName IS NULL OR CastingName = @CastingName )
							AND (@PlantIdString IS NULL OR @PlantIdString = ''
								--OR CustomerReturnrejmgnt.CAstingId IN (
								--	SELECT CastingId FROM dbo.PlantCastingMapping WHERE PlantId IN (SELECT Item FROM @Plant))
								OR CustomerReturnrejmgnt.PlantId IN (SELECT Item FROM @Plant)
							)
							AND CustomerReturnrejmgnt.EntityID = @EntityId
							AND (@InhouseProcessID IS NULL OR CustomerReturnTrans.ProcessId = @InhouseProcessID)
							AND (@ReasonID = 0 OR CustomerReturnTrans.ReasonID = @ReasonID)
							AND (@InvoiceNo IS NULL OR dispatchmaster.Dispatchslipno = @InvoiceNo)
							AND (@DocRefNo IS NULL OR CustomerReturnMaster.RefDocNo = @DocRefNo)
								And (@CustomerId is null  or CustomerReturnMaster.CustomerID = @CustomerId)							
							And (@BatchID = 0 OR ProductionBatchID = @BatchID)
							  AND ( Cast(@DateFrom as Date) IS NULL
                                 OR Cast(@DateTo as Date) IS NULL
                                OR CAST(CustomerReturnMaster.Returndate AS DATE) BETWEEN Cast(@DateFrom AS Date)
                                AND Cast(@DateTo as Date)
                             ) 
                            AND (CustomerReturnrejmgnt.ReworkInspID IS NULL or CustomerReturnrejmgnt.ReworkInspID = 0 )
			)				
		END
		ELSE
		BEGIN
			SET @TotalRecords = (
					SELECT	COUNT(1)
					FROM	CustomerReturnrejmgnt
							INNER JOIN CastingMaster ON CastingMaster.CastingID = CustomerReturnrejmgnt.PartId
							INNER JOIN MetalMaster ON CustomerReturnrejmgnt.MetalID = MetalMaster.MetalId
							INNER JOIN CustomerReturnMaster ON CustomerReturnrejmgnt.CustomerReturnID = CustomerReturnMaster.ReturnID
							INNER JOIN dbo.CustomerReturnTrans ON dbo.CustomerReturnTrans.ReturnTransID = dbo.CustomerReturnrejmgnt.CustomerReturnTransID
							LEFT JOIN CastingFinalRejection ON CastingFinalRejection.InwardID = CustomerReturnrejmgnt.InwardID
											AND CastingFinalRejection.IsInHouseRej = 0
							INNER JOIN ReasonMaster ON ReasonMaster.ReasonID = CustomerReturnTrans.ReasonID
							LEFT JOIN ProcessMaster ON ProcessMaster.ProcessId = dbo.CustomerReturnTrans.ProcessID
							LEFT JOIN dispatchmaster ON dispatchmaster.DispatchID = CustomerReturnTrans.CastingDispatchId
					WHERE	(@CastingID IS NULL OR CastingMaster.CastingID = @CastingID )
							AND (@CastingName IS NULL OR CastingName = @CastingName )
							AND (@PlantIdString IS NULL OR @PlantIdString = ''
								--OR CustomerReturnrejmgnt.CAstingId IN (
								--SELECT CastingId FROM dbo.PlantCastingMapping WHERE PlantId IN (SELECT Item FROM @Plant))
								OR CustomerReturnrejmgnt.PlantId IN (SELECT Item FROM @Plant)
							)
							AND CustomerReturnrejmgnt.EntityID = @EntityId
							AND (@InhouseProcessID IS NULL OR CustomerReturnTrans.ProcessId = @InhouseProcessID)
							AND (@ReasonID = 0 OR CustomerReturnTrans.ReasonID = @ReasonID)
							AND (@InvoiceNo IS NULL OR dispatchmaster.Dispatchslipno = @InvoiceNo)
							AND (@DocRefNo IS NULL OR CustomerReturnMaster.RefDocNo = @DocRefNo)
							And (@CustomerId is null  or CustomerReturnMaster.CustomerID = @CustomerId)							
							And (@BatchID = 0 OR ProductionBatchID = @BatchID)
							  AND ( Cast(@DateFrom as Date) IS NULL
                                 OR Cast(@DateTo as Date) IS NULL
                                OR CAST(CustomerReturnMaster.Returndate AS DATE) BETWEEN Cast(@DateFrom AS Date)
                                AND Cast(@DateTo as Date)
                             )  
                              AND (CustomerReturnrejmgnt.ReworkInspID IS NULL or CustomerReturnrejmgnt.ReworkInspID = 0 )
			)
		END

		RETURN @TotalRecords
	END
	
	
	IF @parameter = 3
	BEGIN
		IF (@IsCastCodeEnable = 0)
		BEGIN
		
					SELECT	DISTINCT ROW_NUMBER() OVER (ORDER BY CustomerReturnrejmgnt.CreatedOn DESC) AS SrNo,
							CastingCode, CastingName, MetalName, ProcessMaster.ProcessName, OKQty, CustomerReturnrejmgnt.Rejqty,
							--CONVERT(decimal(10, 2), (CastingFinalRejection.Weight / CustomerReturnrejmgnt.rejqty), 2) AS CastingNetWeight,
							--CastingFinalRejection.Weight AS TotalWeight, 
							CONVERT(decimal(18, 3), 
								CastingMetal.CastingNetWeight 
								*(ISNULL(CustomerReturnrejmgnt.rejqty, 0) + ISNULL(CustomerReturnrejmgnt.OKQty, 0) + ISNULL(CustomerReturnrejmgnt.ReworkQty, 0))
							) AS TotalWeight,
							CONVERT(decimal(18, 3), 
							CastingMetal.CastingNetWeight 
							) AS CastingnetWeight,
							((CASE WHEN ISNULL(CustomerReturnMaster.Prefix , '') = '' THEN '' ELSE CONVERT(varchar(50), CustomerReturnMaster.Prefix)
							+ (CASE WHEN CustomerReturnMaster.Separator IS NULL THEN '' ELSE CONVERT(varchar(50), CustomerReturnMaster.Separator) END) END)
							+ CONVERT(varchar(50), CustomerReturnMaster.ReturnNo) 
							+ (CASE WHEN CustomerReturnMaster.Separator IS NULL THEN '' ELSE CONVERT(varchar(50), CustomerReturnMaster.Separator) END)
							+ (CASE WHEN CustomerReturnMaster.Suffix IS NULL THEN '' ELSE CONVERT(varchar(50), CustomerReturnMaster.Suffix) END)
							) ReturnNo,
							--CustomerReturnMaster.ReturnNo, 
							CustomerReturnrejmgnt.InwardID,
							CustomerReturnrejmgnt.MetalId, CustomerReturnrejmgnt.Remarks,
							CONVERT(varchar(11), CustomerReturnMaster.Returndate, 106) AS ReturnDate,ReasonMaster.Reason
							, ReasonMaster.ReasonID, CustomerReturnTrans.ProcessID, dispatchmaster.Dispatchslipno AS entryNo,
							((CASE WHEN ISNULL(DispatchMaster.Prefix , '') = '' THEN '' ELSE CONVERT(varchar(50), DispatchMaster.Prefix)
							+ (CASE WHEN DispatchMaster.Separator IS NULL THEN '' ELSE CONVERT(varchar(50), DispatchMaster.Separator) END) END)
							+ CONVERT(varchar(50), DispatchMaster.DispatchSlipNo)
							+ (CASE WHEN DispatchMaster.Separator IS NULL THEN '' ELSE CONVERT(varchar(50), DispatchMaster.Separator) END)
							+ (CASE WHEN DispatchMaster.Suffix IS NULL THEN '' ELSE CONVERT(varchar(50), DispatchMaster.Suffix) END)
							) DispatchSlipNo, CustomerReturnMaster.RefDocNo, CustomerReturnrejmgnt.PlantId,
							CustomerReturnrejmgnt.ReworkQty,(CASE WHEN CustomerReturnrejmgnt.ReworkQty > 0 THEN '1' ELSE '0' END) AS IsRework
					FROM	CustomerReturnrejmgnt
							INNER JOIN CastingMaster ON CastingMaster.CastingID = CustomerReturnrejmgnt.PartId
							INNER JOIN MetalMaster ON CustomerReturnrejmgnt.MetalID = MetalMaster.MetalId 
							INNER JOIN CustomerReturnMaster ON CustomerReturnrejmgnt.CustomerReturnID = CustomerReturnMaster.ReturnID
							INNER JOIN dbo.CustomerReturnTrans ON dbo.CustomerReturnTrans.ReturnTransID = dbo.CustomerReturnrejmgnt.CustomerReturnTransID
							
								inner join CastingMetal on CastingMetal.metalid = MetalMaster.MetalId and CustomerReturnTrans.PartId = CastingMetal.castingID
							LEFT JOIN CastingFinalRejection ON CastingFinalRejection.InwardID = CustomerReturnrejmgnt.InwardID
										AND CastingFinalRejection.IsInHouseRej = 0
							INNER JOIN ReasonMaster ON ReasonMaster.ReasonID = CustomerReturnTrans.ReasonID
							LEFT JOIN ProcessMaster ON ProcessMaster.ProcessId = dbo.CustomerReturnTrans.ProcessID
							LEFT JOIN dispatchmaster ON dispatchmaster.DispatchID = CustomerReturnTrans.CastingDispatchId
					WHERE	(@CastingID IS NULL OR CastingMaster.CastingID = @CastingID )
							AND (@CastingName IS NULL OR CastingName = @CastingName )
							AND (@PlantIdString IS NULL OR @PlantIdString = ''
								--OR CustomerReturnrejmgnt.CAstingId IN (
								--	SELECT CastingId FROM dbo.PlantCastingMapping WHERE PlantId IN (SELECT Item FROM @Plant))
								OR CustomerReturnrejmgnt.PlantId IN (SELECT Item FROM @Plant)
							)
							AND CustomerReturnrejmgnt.EntityID = @EntityId
							AND (@InhouseProcessID IS NULL OR CustomerReturnTrans.ProcessId = @InhouseProcessID)
							AND (@ReasonID = 0 OR CustomerReturnTrans.ReasonID = @ReasonID)
							AND (@InvoiceNo IS NULL OR dispatchmaster.Dispatchslipno = @InvoiceNo)
							AND (@DocRefNo IS NULL OR CustomerReturnMaster.RefDocNo = @DocRefNo)
							And (@CustomerId is null  or CustomerReturnMaster.CustomerID = @CustomerId)							
							And (@BatchID = 0 OR ProductionBatchID = @BatchID)
							AND ( Cast(@DateFrom as Date) IS NULL
                                 OR Cast(@DateTo as Date) IS NULL
                                 OR CAST(CustomerReturnMaster.Returndate AS DATE) BETWEEN Cast(@DateFrom AS Date)
                                AND Cast(@DateTo as Date)
                             ) AND (CustomerReturnrejmgnt.ReworkInspID IS NULL or CustomerReturnrejmgnt.ReworkInspID = 0 )
							order by SrNo
							
END

END

IF @parameter = 4
	
		BEGIN
		
					SELECT	distinct CustomerName,
									CustomerReturnMaster.CustomerID							 
					 from   CustomerReturnMaster
							INNER join CustomerMaster on CustomerReturnMaster.CustomerId =CustomerMaster.CustomerId 
					WHERE	
							 CustomerReturnMaster.EntityID = @EntityId							
			
							
		END
	
IF @parameter = 5
	
		BEGIN
		
					SELECT	distinct  ReasonMaster.ReasonID, ReasonMaster.Reason 
					 from  CustomerReturnrejmgnt						 	
							INNER JOIN dbo.CustomerReturnTrans ON dbo.CustomerReturnTrans.ReturnTransID = dbo.CustomerReturnrejmgnt.CustomerReturnTransID
						 	INNER JOIN ReasonMaster ON ReasonMaster.ReasonID = CustomerReturnTrans.ReasonID
					WHERE	
							 CustomerReturnrejmgnt.EntityID = @EntityId			
			
							
		END
			
		
END
GO
