USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[DaywiseTotalHeat]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DaywiseTotalHeat]
@StartDate DATETIME = NULL,
@EndDate DATETIME = NULL,
@EntityId INT = 0,
@PlantIdString VARCHAR(MAX) = NULL
AS
    BEGIN
    
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;

        SELECT  CONVERT(VARCHAR(11), cast(ProductionBatch.ProductionDate as DATE), 106) AS ProductionDate ,
                COUNT(batchID) AS TotalHeat ,
                ISNULL(Reason, '') AS Reason
        FROM    ProductionBatch
                LEFT JOIN DayWiseHeatReason ON DayWiseHeatReason.ProductionDate = ProductionBatch.ProductionDate
											AND DayWiseHeatReason.CompanyId = @EntityId
        WHERE   --MONTH(ProductionBatch.productiondate) = 6
                --AND YEAR(ProductionBatch.ProductionDate) = 2017
                IsDeleted=0 and BatchType=0 and
                 ProductionBatch.ProductionDate BETWEEN @StartDate AND @EndDate
              AND ( ISNULL(@PlantIdString , '') = ''
						OR ProductionBatch.PlantId IN (SELECT Item FROM @Plant )
					)
                        AND ProductionBatch.EntityID = @EntityId
        
        GROUP BY cast(ProductionBatch.ProductionDate as DATE),
                Reason
        ORDER BY cast(ProductionBatch.ProductionDate as DATE)
    END
GO
