USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ContainerDetails_SELECT]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ContainerDetails_SELECT] 
@DispatchID int = 0
AS
BEGIN
	
	SELECT 
	   --[ContainerId]
       [ContainerNo]
      ,[Size]
      ,[SelfOrExciseSealNo]
      ,[ShippingLineSealNo]      
  FROM [dbo].[PackingContainerDetail] 
  WHERE DispatchID = @DispatchID
	
END

GO
