USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[RateDeleteHistory]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		 Author,,Name>
-- Create date:  Create Date,,>
-- Description:	 Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RateDeleteHistory]
	@HistoryId uniqueidentifier = null ,
	@Parameter int =0,
	@UserId int =0 
	AS
BEGIN
	 if(@Parameter = 1)
	begin
		BEGIN TRANSACTION 
		BEGIN TRY 
		
	INSERT INTO  [dbo].[FGRateDeleteHistory]
           ([FGRateHistoryId]
           ,[CustomerId]
           ,[CastingId]
           ,[MetalId]
           ,[Rate]
           ,[UOM]
           ,[ApplyDate]
           ,[CreatedBy]
           ,[CreatedOn]
           ,[Currency]
           ,[CurrencyMultiplier]
           ,[RoughMUOM]
           ,[FullyMUOM]
           ,[RoughMRate]
           ,[FullyMRate]
           ,[RoughMCost]
           ,[FullyMCost]
           ,[FGWeight]
           ,[AssemblyRate]
           ,[AssemblyUOM]
           ,[DeletedBy]
           ,[DeletedOn])
   Select 
   FGRateHistoryId 
           , CustomerId 
           , CastingId 
           , MetalId 
           , Rate 
           , UOM 
           , ApplyDate 
           , CreatedBy 
           , CreatedOn 
           , Currency 
           , CurrencyMultiplier 
           , RoughMUOM 
           , FullyMUOM 
           , RoughMRate 
           , FullyMRate 
           , RoughMCost 
           , FullyMCost 
           , FGWeight 
           , AssemblyRate 
           , AssemblyUOM 
           , @UserId
           , GetDate()
          from  FGRateMasterHistory
 where FGRateHistoryId=@HistoryId

delete from FGRateMasterHistory  where FGRateHistoryId=@HistoryId
	END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION  
			 return -1
			END	
        END Catch    
        COMMIT TRANSACTION  
        return 1
	end 
	 if(@Parameter = 2)
	begin
	BEGIN TRANSACTION 
		BEGIN TRY 
	INSERT INTO  [dbo].[RMRateDeleteHistory]
           ([RMRateHistoryId]
           ,[CustomerId]
           ,[PurchaseItemId]
           ,[Rate]
           ,[UOM]
           ,[ApplyDate]
           ,[CreatedBy]
           ,[CreatedOn]
           ,[Currency]
           ,[CurrencyMultiplier]
           ,[DeletedBy]
           ,[DeletedOn])
 select 
             RMRateHistoryId 
           , CustomerId 
           , PurchaseItemId 
           , Rate 
           , UOM 
           , ApplyDate 
           , CreatedBy 
           , CreatedOn 
           , Currency 
           , CurrencyMultiplier 
           , @UserId
           , GetDate()
          from  RMRateMasterHistory
 where RMRateHistoryId=@HistoryId

delete from RMRateMasterHistory  where RMRateHistoryId=@HistoryId
	END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION  
			 return -1
			END	
        END Catch    
        COMMIT TRANSACTION  
        return 1
	end 
	
END
GO
