USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[EditLogJobOut]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<BIJAL PATEL>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[EditLogJobOut]
	@JOID BIGINT = 0,    
	@Parameter int = 0
	
AS
BEGIN

DECLARE @TableEwayDetails table (SrNoRevisionwise int, 
		ID   bigint   ,
	 UniqueId   uniqueidentifier   , 
	 IsEwaybillRequired   bit   ,
	 DispatchFrom   varchar(50)  ,
	 DisptachFromName   varchar(500)  ,
	 DisptachFromAddress   varchar(1000)  ,
	 DispatchFromStateCode   int   ,
	 DispatchFromPincode   varchar(10)  ,
	 EWayBillNo   nvarchar(50)  ,
	 DispatchTo   varchar(50)  ,
	 DistanceInKM   int   ,
	 TransporterName    varchar(20)    ,
	 TransporterId   varchar(20)  ,
	 Mode   int   ,
	 VehicleType   char(1)  ,
	 LrNo   varchar(50)  ,
	 DocDate   date   ,
	 PackingDetails   varchar(250)  ,
	 DocThrough   varchar(150)  ,
	 Fright   varchar(50)  ,
	 FreightValue   varchar(50)  ,
	 MotarRegno   varchar(50)  ,
	 SoldAgainstForm   varchar(150)  ,
	 RoadPermitForm   varchar(50)  ,
	 MannerOfTransport   varchar(50)  ,
	 DispatchThrough   varchar(250)  ,
	 EwayBillDate   datetime   ,
	 EwayBillValidTill   datetime   ,
	 EwayBillRemarks   varchar(max)  ,
	 IsEwayCancelled   bit   ,
	 EwayCancelDate   datetime   ,
	 DisptachFromAddressLine1   varchar(200)  ,
	 DisptachFromAddressLine2   varchar(200)  ,
	 StateId   int   ,
	 WeightSlipNo   varchar(50)  ,
	 GrossWt   float   ,
	 TareWt   float   ,
	 NetWt   float) 

Declare @RevisionNo bigint = (select count(JOID)+1 from  [ICAST_IMS_LOG].[dbo].JobOutMaster where JOID= @JOID) 
if(@Parameter=0) --job out
begin
	 
	 DECLARE @TableItem table (SrNoRevisionwise int, SrNoForItem int,JONO  varchar(200),CustomerName  varchar(200),SupplierAddress varchar(MAX)
					,JODate  varchar(50), JoFullDate  varchar(50), ProcessName varchar(100) , Natureofprocess varchar(200) , IsDeleted int , 
					CastingName varchar(100),CastingCode  varchar(100), OutwardQty FLOAT, PerPcWeight  float,Rate float ,DeliveryDate   varchar(50) ,
                    TotalWeight float,IsDimensionRequired  varchar(10),MetalName  varchar(50) , TotalOutWardQty FLOAT, 
                    TotalQtyWeight  FLOAT,TariffClassification varchar(50),DescriptionOfGoods varchar(50),IdentificationofMarksNumbers varchar(50),
                    Value varchar(50), IssueDate  varchar(50),IssueTime  varchar(50) , PONumber varchar(MAX),PartNo varchar(max) 
                    ,TransporterName varchar(100) ,StateCode INT , HSNCode varchar(50) , TemplateName varchar(100) , SGST FLOAT,CGST FLOAT ,IGST FLOAT
                    ,UOM VARCHAR(50), ChallanValue FLOAT , IsIGST BIT ,  ModifiedUserName varchar(100), InsertedDate  varchar(100) ,
                    ExpectedDuration varchar(50) ,TypeOfGoods int,JoTranseId bigint ) 
       

       INSERT INTO @TableItem
	 SELECT   RevisionNo AS SrNoRevisionwise,ROW_NUMBER() OVER ( PARTITION BY JoFullDate ORDER BY  JoFullDate  DESC ) AS [SRNO] 
	 ,JONO  ,CustomerName  ,SupplierAddress ,JODate  , JoFullDate  , ProcessName  , Natureofprocess , IsDeleted , CastingName ,CastingCode  
	 , OutwardQty , PerPcWeight  ,Rate ,DeliveryDate   ,TotalWeight ,IsDimensionRequired  ,MetalName  , TotalOutWardQty , 
                    TotalQtyWeight  ,TariffClassification ,DescriptionOfGoods ,IdentificationofMarksNumbers ,
                    Value , IssueDate  ,IssueTime  , PONumber ,PartNo ,TransporterName  ,StateCode , HSNCode  , TemplateName , SGST ,CGST ,IGST 
                    ,UOM , ChallanValue  , IsIGST ,ModifiedUserName,InsertedDate  ,ExpectedDuration,TypeOfGoods,JoTranseId
        FROM (
						SELECT distinct 
						 JM.RevisionNo   ,     
								CASE WHEN JM.Prefix IS NULL THEN ''
								 ELSE CONVERT(VARCHAR(50), JM.Prefix)
							END + CASE WHEN JM.Separator IS NULL THEN ''
									   ELSE CONVERT(VARCHAR(50), JM.Separator)
								  END + CONVERT(VARCHAR(50), JM.JONO)
							+ CASE WHEN JM.Separator IS NULL THEN ''
								   ELSE CONVERT(VARCHAR(50), JM.Separator)
							  END + CASE WHEN JM.Suffix IS NULL THEN ''
										 ELSE CONVERT(VARCHAR(50), JM.Suffix)
									END AS JONO ,
							CustomerMaster.CustomerName  COLLATE DATABASE_DEFAULT  AS  CustomerName,
							SupplierAddress  COLLATE DATABASE_DEFAULT  AS SupplierAddress,
							CONVERT(VARCHAR(11), JM.JODate, 106)     AS [JODate] ,
							cast( JM.JODate as DATE)   as JoFullDate ,
							 ProcessName   COLLATE DATABASE_DEFAULT  AS ProcessName ,
							 isnull(JM.Natureofprocess,'')   COLLATE DATABASE_DEFAULT  as Natureofprocess,  
							JM.IsDeleted ,  
							CastingMaster.CastingName   COLLATE DATABASE_DEFAULT  as CastingName ,
							CastingMaster.CastingCode  COLLATE DATABASE_DEFAULT  as CastingCode ,
							JT.OutwardQty OutwardQty    ,
							 
							CAST(PerPcWeight AS DECIMAL(18,3)) as PerPcWeight,
							Rate ,
							CONVERT(VARCHAR(15), DeliveryDate, 106)   AS DeliveryDate ,
							TotalWeight ,
							CASE WHEN IsDimensionRequired = 0 THEN 'NO' ELSE 'YES' END AS IsDimensionRequired ,
							MetalName  COLLATE DATABASE_DEFAULT AS MetalName,
							( 
								SELECT SUM(OutwardQty) FROM [ICAST_IMS_LOG].[dbo].JobOutTranse JOTrans WHERE JOID = @JOID AND IsDeleted = 0 and RevisionNo =  JM.RevisionNo   
							) AS TotalOutWardQty ,
							( 
								SELECT SUM(TotalWeight) FROM [ICAST_IMS_LOG].[dbo].JobOutTranse WHERE JOID = @JOID AND IsDeleted = 0 and RevisionNo =  JM.RevisionNo   
							) AS TotalQtyWeight ,
							JM.TariffClassification  COLLATE DATABASE_DEFAULT AS TariffClassification ,
							JM.DescriptionOfGoods  COLLATE DATABASE_DEFAULT AS DescriptionOfGoods,
							JM.IdentificationofMarksNumbers COLLATE DATABASE_DEFAULT AS IdentificationofMarksNumbers,
							JM.Value  COLLATE DATABASE_DEFAULT AS Value ,
							CONVERT(VARCHAR(50), JM.IssueDate, 106)  AS IssueDate ,
							CONVERT(VARCHAR(50), JM.IssueTime, 108)   AS IssueTime ,
							 
							s.PONo  COLLATE DATABASE_DEFAULT   AS PONumber , 
							CM.CastingCode COLLATE DATABASE_DEFAULT AS   PartNo -- + ' ' + PartDrwingNo.PartDrawingNo  
							,Transporter.CustomerName  COLLATE DATABASE_DEFAULT AS   TransporterName
	                       ,JM.StateCode,
	                       ISNULL(JT.TariffCode, '')  COLLATE DATABASE_DEFAULT AS HSNCode ,
							TemplateName  COLLATE DATABASE_DEFAULT  AS TemplateName,
							ISNULL(SGST, 0) AS SGST ,
							ISNULL(CGST, 0)AS CGST ,
							ISNULL(IGST, 0) AS IGST ,
							'Nos' AS UOM ,
							JT.CastingValue
							AS ChallanValue ,
							IsIGST ,
							U.UserName AS ModifiedUserName,
							 case when JM.ModifiedOn is null then jm.CreatedOn else JM.ModifiedOn end  AS InsertedDate ,
							 ExpectedDuration,TypeOfGoods,
							 JT.JoTranseId
					FROM     [ICAST_IMS_LOG].[dbo].JobOutTranse AS JT
							INNER JOIN CastingMaster AS CM ON JT.PartId = CM.CastingId
							left join ( 
								select	cpp.CastingId,
										(case when  cpp.ParentID is null then (
												case when  isnull(CastingMetal.FullMachineDrawing,'') <> ''  
															then '- ' + CastingMetal.FullMachineDrawing
													else (
														case when  isnull(CastingMetal.RoughMachineDrawing,'') <> ''  
																then '- ' + CastingMetal.RoughMachineDrawing
															else (
																case when isnull(CastingMetal.DrawingNo, '') = '' 
																	then '' else '- ' +  CastingMetal.DrawingNo 
																end) 
														end)
												end)
											else (
												case when isnull(CastingMetal.DrawingNo,'') = '' 
													then '' else '- ' +  CastingMetal.DrawingNo 
												end) 
										end)
										as PartDrawingNo 
								from	CastingMaster as cpp
										inner join  [ICAST_IMS_LOG].[dbo].JobOutTranse as jot on jot.PartId = cpp.CastingId
										inner join CastingMetal on cpp.CastingId = CastingMetal.castingID 
														AND CastingMetal.metalid = jot.MetalId AND CastingMetal.IsDeleted = 0
										inner join MetalMAster On MetalMaster.MetalId = CastingMetal.metalid
														and ((jot.MetalId = MetalMaster.MetalId) 
															Or (jot.MetalId = MetalMaster.ProductionGradeId))
								where	jot.JOID = @JOID
							) as PartDrwingNo on PartDrwingNo.CastingId =CM.CastingId 
												and JT.PartId = PartDrwingNo.CastingId 
							INNER JOIN CastingMaster ON JT.CastingID = CastingMaster.CastingID
							INNER JOIN dbo.MetalMaster ON JT.MetalId = MetalMaster.MetalId
							INNER JOIN  [ICAST_IMS_LOG].[dbo].JobOutMaster AS JM ON JT.JOID = JM.JOID and JM.RevisionNo =JT.RevisionNo
							INNER JOIN EwayDetails ew ON ew.ID = JM.JOID and type=1
							INNER JOIN InvoiceSeries ON JM.SeriesId = InvoiceSeries.SeriesId
							INNER JOIN CustomerMaster ON JM.SupplierID = CustomerMaster.CustomerId
							INNER JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = JM.ProcessID
							Left Join CustomerMaster as Transporter On Transporter.CustomerId = ew.TransportID
							 LEFT JOIN dbo.HSNGSTMapping ON HSNGSTMapping.HSNCode COLLATE DATABASE_DEFAULT = JT.TariffCode
							 LEFT JOIN dbo.TaxMaster ON dbo.TaxMaster.TaxTemplateId = dbo.HSNGSTMapping.TaxTemplateId
							   LEFT JOIN  UserMaster AS U ON U.UserId  =  case when JM.ModifiedBY = 0 or JM.ModifiedBY is null then   JM.CreatedBY else JM.ModifiedBY  end  -- JM.ModifiedBY     
							LEFT JOIN ( SELECT  PurchaseJobOrderTrans.PurchaseOrderID AS [POID] ,
												PurchaseJobOrderTrans.JobOrderTransID ,
												CASE WHEN PurchaseOrder_Master.Prefix
														  + PurchaseOrder_Master.Separator
														  + PurchaseOrder_Master.Suffix IS NULL
													 THEN PurchaseOrder_Master.PONo
													 ELSE CONVERT(VARCHAR(11), PurchaseOrder_Master.Prefix)
														  + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)
														  + CONVERT(VARCHAR(11), PurchaseOrder_Master.PONo)
														  + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)
														  + CONVERT(VARCHAR(11), PurchaseOrder_Master.Suffix)
												END AS PONo ,
												PurchaseJobOrderTrans.JOTransID ,
												PurchaseJobOrderTrans.MetalID ,
												PurchaseJobOrderTrans.CastingID
										FROM    PurchaseOrder_Master
												INNER JOIN PurchaseJobOrderTrans ON PurchaseOrder_Master.PurchaseOrderId = PurchaseJobOrderTrans.PurchaseOrderID
										WHERE   PurchaseJobOrderTrans.IsDeleted = 0
												AND PurchaseOrder_Master.isdeleted = 0
												AND PurchaseOrder_Master.maxversion = 1
									  ) AS s ON JT.PurchaseOrderId = s.POID
												AND JT.MetalId = s.MetalID
												AND JT.CastingID = s.CastingID
					WHERE   JM.IsDeleted = 0
							AND JM.IsDeleted = 0
							AND JM.JOID = @JOID
			) as Final 
   
       INSERT INTO @TableItem
	 SELECT  @RevisionNo AS SrNoRevisionwise , ROW_NUMBER() OVER ( PARTITION BY JoFullDate ORDER BY  JoFullDate  DESC ) AS [SRNO] 
	 ,JONO  ,CustomerName  ,SupplierAddress ,JODate  , JoFullDate  , ProcessName  , Natureofprocess , IsDeleted , CastingName ,CastingCode  
	 , OutwardQty , PerPcWeight  ,Rate ,DeliveryDate   ,TotalWeight ,IsDimensionRequired  ,MetalName  , TotalOutWardQty , 
                    TotalQtyWeight  ,TariffClassification ,DescriptionOfGoods ,IdentificationofMarksNumbers ,
                    Value , IssueDate  ,IssueTime  , PONumber ,PartNo ,TransporterName  ,StateCode , HSNCode  , TemplateName , SGST ,CGST ,IGST 
                    ,UOM , ChallanValue  , IsIGST   ,ModifiedUserName,InsertedDate ,ExpectedDuration,TypeOfGoods,JoTranseId
        FROM (
						SELECT distinct 
						
								CASE WHEN JobOutMaster.Prefix IS NULL THEN ''
								 ELSE CONVERT(VARCHAR(50), JobOutMaster.Prefix)
							END + CASE WHEN JobOutMaster.Separator IS NULL THEN ''
									   ELSE CONVERT(VARCHAR(50), JobOutMaster.Separator)
								  END + CONVERT(VARCHAR(50), JobOutMaster.JONO)
							+ CASE WHEN JobOutMaster.Separator IS NULL THEN ''
								   ELSE CONVERT(VARCHAR(50), JobOutMaster.Separator)
							  END + CASE WHEN JobOutMaster.Suffix IS NULL THEN ''
										 ELSE CONVERT(VARCHAR(50), JobOutMaster.Suffix)
									END AS JONO ,
							CustomerMaster.CustomerName ,
							SupplierAddress ,
							CONVERT(VARCHAR(11), JobOutMaster.JODate, 106) AS [JODate] ,
							cast( JobOutMaster.JODate as DATE) as JoFullDate ,
							 ProcessName ,
							 isnull(JobOutMaster.Natureofprocess,'') as Natureofprocess, 
			 
							dbo.JobOutMaster.IsDeleted , 
							 
							CastingMaster.CastingName ,
							CastingMaster.CastingCode ,
							dbo.JobOutTranse.OutwardQty OutwardQty ,
							 
							CAST(PerPcWeight AS DECIMAL(18,3)) as PerPcWeight,
							Rate ,
							CONVERT(VARCHAR(15), DeliveryDate, 106) AS DeliveryDate ,
							TotalWeight ,
							CASE WHEN IsDimensionRequired = 0 THEN 'NO' ELSE 'YES' END AS IsDimensionRequired ,
							MetalName ,
							( 
								SELECT SUM(OutwardQty) FROM dbo.JobOutTranse JOTrans WHERE JOID = @JOID AND IsDeleted = 0
							) AS TotalOutWardQty ,
							( 
								SELECT SUM(TotalWeight) FROM dbo.JobOutTranse JOTrans WHERE JOID = @JOID AND IsDeleted = 0
							) AS TotalQtyWeight ,
							dbo.JobOutMaster.TariffClassification ,
							dbo.JobOutMaster.DescriptionOfGoods ,
							dbo.JobOutMaster.IdentificationofMarksNumbers ,
							dbo.JobOutMaster.Value ,
							CONVERT(VARCHAR(50), dbo.JobOutMaster.IssueDate, 106) IssueDate ,
							CONVERT(VARCHAR(50), dbo.JobOutMaster.IssueTime, 108) IssueTime ,
						 				
							s.PONo AS PONumber , 
							CM.CastingCode  AS PartNo --- + ' ' + PartDrwingNo.PartDrawingNo
							,Transporter.CustomerName as TransporterName
	                       ,JobOutMaster.StateCode,
	                       ISNULL(JobOutTranse.TariffCode, '') AS HSNCode ,
							TemplateName ,
							ISNULL(SGST, 0) AS SGST ,
							ISNULL(CGST, 0) AS CGST ,
							ISNULL(IGST, 0) AS IGST ,
							'Nos' AS UOM ,
							JobOutTranse.CastingValue
							AS ChallanValue ,
							IsIGST ,
							U.UserName AS ModifiedUserName,
							case when  dbo.JobOutMaster.ModifiedBy =0 then    dbo.JobOutMaster.createdon else  dbo.JobOutMaster.ModifiedOn end  AS InsertedDate  
							 ,ExpectedDuration,TypeOfGoods
							 ,JoTranseId
					FROM    JobOutTranse
							INNER JOIN CastingMaster AS CM ON JobOutTranse.PartId = CM.CastingId
							
							left join ( 
								select	cpp.CastingId,
										(case when  cpp.ParentID is null then (
												case when  isnull(CastingMetal.FullMachineDrawing,'') <> ''  
															then '- ' + CastingMetal.FullMachineDrawing
													else (
														case when  isnull(CastingMetal.RoughMachineDrawing,'') <> ''  
																then '- ' + CastingMetal.RoughMachineDrawing
															else (
																case when isnull(CastingMetal.DrawingNo, '') = '' 
																	then '' else '- ' +  CastingMetal.DrawingNo 
																end) 
														end)
												end)
											else (
												case when isnull(CastingMetal.DrawingNo,'') = '' 
													then '' else '- ' +  CastingMetal.DrawingNo 
												end) 
										end)
										as PartDrawingNo 
								from	CastingMaster as cpp
										inner join JobOutTranse as jot on jot.PartId = cpp.CastingId
										inner join CastingMetal on cpp.CastingId = CastingMetal.castingID 
														AND CastingMetal.metalid = jot.MetalId AND CastingMetal.IsDeleted = 0
										inner join MetalMAster On MetalMaster.MetalId = CastingMetal.metalid
														and ((jot.MetalId = MetalMaster.MetalId) 
															Or (jot.MetalId = MetalMaster.ProductionGradeId))
								where	jot.JOID = @JOID
							) as PartDrwingNo on PartDrwingNo.CastingId =CM.CastingId 
												and JobOutTranse.PartId = PartDrwingNo.CastingId 
							INNER JOIN CastingMaster ON JobOutTranse.CastingID = CastingMaster.CastingID
							INNER JOIN dbo.MetalMaster ON JobOutTranse.MetalId = MetalMaster.MetalId
							INNER JOIN dbo.JobOutMaster ON JobOutTranse.JOID = dbo.JobOutMaster.JOID
							INNER JOIN EwayDetails ew ON ew.ID = JobOutMaster.JOID and type=1
							INNER JOIN InvoiceSeries ON JobOutMaster.SeriesId = InvoiceSeries.SeriesId
							INNER JOIN CustomerMaster ON JobOutMaster.SupplierID = CustomerMaster.CustomerId
							INNER JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = dbo.JobOutMaster.ProcessID
							Left Join CustomerMaster as Transporter On Transporter.CustomerId = ew.TransportID							
							LEFT JOIN dbo.HSNGSTMapping ON HSNGSTMapping.HSNCode = JobOutTranse.TariffCode
							LEFT JOIN dbo.TaxMaster ON dbo.TaxMaster.TaxTemplateId = dbo.HSNGSTMapping.TaxTemplateId
							   LEFT JOIN  UserMaster AS U ON U.UserId  = case when  dbo.JobOutMaster.ModifiedBy =0 then    dbo.JobOutMaster.CreatedBY else  dbo.JobOutMaster.ModifiedBY end  
							LEFT JOIN ( SELECT  PurchaseJobOrderTrans.PurchaseOrderID AS [POID] ,
												PurchaseJobOrderTrans.JobOrderTransID ,
												CASE WHEN PurchaseOrder_Master.Prefix
														  + PurchaseOrder_Master.Separator
														  + PurchaseOrder_Master.Suffix IS NULL
													 THEN PurchaseOrder_Master.PONo
													 ELSE CONVERT(VARCHAR(11), PurchaseOrder_Master.Prefix)
														  + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)
														  + CONVERT(VARCHAR(11), PurchaseOrder_Master.PONo)
														  + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)
														  + CONVERT(VARCHAR(11), PurchaseOrder_Master.Suffix)
												END AS PONo ,
												PurchaseJobOrderTrans.JOTransID ,
												PurchaseJobOrderTrans.MetalID ,
												PurchaseJobOrderTrans.CastingID
										FROM    PurchaseOrder_Master
												INNER JOIN PurchaseJobOrderTrans ON PurchaseOrder_Master.PurchaseOrderId = PurchaseJobOrderTrans.PurchaseOrderID
										WHERE   PurchaseJobOrderTrans.IsDeleted = 0
												AND PurchaseOrder_Master.isdeleted = 0
												AND PurchaseOrder_Master.maxversion = 1
									  ) AS s ON JobOutTranse.PurchaseOrderId = s.POID
												AND JobOutTranse.MetalId = s.MetalID
												AND JobOutTranse.CastingID = s.CastingID
					WHERE   JobOutMaster.IsDeleted = 0
							AND dbo.JobOutTranse.IsDeleted = 0
							AND dbo.JobOutMaster.JOID = @JOID
			) as Final
			 
		insert INTO @TableEwayDetails
	SELECT    RevisionNo , ID    ,
	 UniqueId       , 
	 IsEwaybillRequired       ,
	 DispatchFrom     ,
	 DisptachFromName    ,
	 DisptachFromAddress      ,
	 DispatchFromStateCode       ,
	 DispatchFromPincode    ,
	 EWayBillNo   ,
	 DispatchTo    ,
	 DistanceInKM       ,
	 CustomerName       ,
	 TransporterId    ,
	 Mode       ,
	 VehicleType   ,
	 LrNo     ,
	 DocDate       ,
	 PackingDetails     ,
	 DocThrough   ,
	 Fright      ,
	 FreightValue      ,
	 MotarRegno     ,
	 SoldAgainstForm   ,
	 RoadPermitForm   ,
	 MannerOfTransport   ,
	 DispatchThrough    ,
	 EwayBillDate       ,
	 EwayBillValidTill       ,
	 EwayBillRemarks     ,
	 IsEwayCancelled       ,
	 EwayCancelDate       ,
	 DisptachFromAddressLine1      ,
	 DisptachFromAddressLine2      ,
	 StateId       ,
	 WeightSlipNo     ,
	 GrossWt       ,
	 TareWt       ,
	 NetWt      
            FROM   [ICAST_IMS_LOG].[dbo].Ewaydetails as do
			left join CustomerMaster on CustomerMaster.CustomerId = do.transportid
            WHERE   do.id = @JOID and do.type =1 

     insert INTO @TableEwayDetails
	SELECT    @RevisionNo , ID    ,
	 UniqueId       ,
 
	 IsEwaybillRequired       ,
	 DispatchFrom     ,
	 DisptachFromName    ,
	 DisptachFromAddress      ,
	 DispatchFromStateCode       ,
	 DispatchFromPincode    ,
	 EWayBillNo   ,
	 DispatchTo    ,
	 DistanceInKM       ,
	 CustomerName ,
	 TransporterId    ,
	 Mode       ,
	 VehicleType   ,
	 LrNo     ,
	 DocDate       ,
	 PackingDetails     ,
	 DocThrough   ,
	 Fright      ,
	 FreightValue      ,
	 MotarRegno     ,
	 SoldAgainstForm   ,
	 RoadPermitForm   ,
	 MannerOfTransport   ,
	 DispatchThrough    ,
	 EwayBillDate       ,
	 EwayBillValidTill       ,
	 EwayBillRemarks     ,
	 IsEwayCancelled       ,
	 EwayCancelDate       ,
	 DisptachFromAddressLine1      ,
	 DisptachFromAddressLine2      ,
	 StateId       ,
	 WeightSlipNo     ,
	 GrossWt       ,
	 TareWt       ,
	 NetWt      
            FROM    [dbo].Ewaydetails as do
			
			left join CustomerMaster on CustomerMaster.CustomerId = do.transportid
            WHERE   do.id = @JOID and do.type =1   

 select distinct CA.* 
       into #tempEditLogJobOut
      from @TableItem  as t    
	  inner join @TableEwayDetails  as Eway on  Eway.SrNoRevisionwise = t.SrNoRevisionwise
		CROSS APPLY (
			  Values
				 (1,t.SrNoRevisionwise,'User Name' , modifiedUSerName COLLATE DATABASE_DEFAULT,'' ),
				 (2,t.SrNoRevisionwise,'Inserted/Altered On' ,cast(InsertedDate  as varchar) ,''),
				 (3,t.SrNoRevisionwise,'JO Date' ,  CONVERT(VARCHAR(15),  JODate, 106)  ,''  ),
				 (4,t.SrNoRevisionwise,'JO No' , JONO COLLATE DATABASE_DEFAULT,''),
				 (5,t.SrNoRevisionwise,'JO Process',  ProcessName COLLATE DATABASE_DEFAULT,''),
				-- (6,t.SrNoRevisionwise,'Supplier Address' , SupplierAddress COLLATE DATABASE_DEFAULT,''),
				 (7,t.SrNoRevisionwise,CastingName + '('+CastingCode+')' ,
																		'Return As Part : ' + CAst( PartNo as varchar)
																		+ Char(10) + 'Outward Qty : ' + CAst(case when OutwardQty>0 then OutwardQty else '-' end  as varchar)
																	  + CHAR(10) +  'Rate : ' +  CAst(Rate as varchar) + CHAR(10)  
																	+  'Per Pc Weight : ' + CAst(PerPcWeight as varchar) COLLATE DATABASE_DEFAULT + CHAR(10) 
																	+  'Value : ' + CAst(Value as varchar) COLLATE DATABASE_DEFAULT + CHAR(10) 
																	+  'Delivery Date : ' + CAst(DeliveryDate as varchar) COLLATE DATABASE_DEFAULT	 + CHAR(10) 
																	+  'Total Weight : ' + CAst(TotalWeight as varchar),'' ),
				 (8,t.SrNoRevisionwise,'Total Qty' , CAst(TotalOutWardQty as varchar) COLLATE DATABASE_DEFAULT ,'' ),
				 (9,t.SrNoRevisionwise,'Total Weight' , CAst(TotalQtyWeight as varchar) COLLATE DATABASE_DEFAULT ,''),

				 (10,t.SrNoRevisionwise,'EWay Bill No',  Eway.EWayBillNo COLLATE DATABASE_DEFAULT,''),
				(11,t.SrNoRevisionwise,'Goods Dispatch From',  Eway.DispatchFrom COLLATE DATABASE_DEFAULT,''),
				(12,t.SrNoRevisionwise,'Goods Dispatch To',  Eway.DispatchTo COLLATE DATABASE_DEFAULT,''),
				(13,t.SrNoRevisionwise,'Distance In KM', cast( Eway.DistanceInKM as varchar) COLLATE DATABASE_DEFAULT,''),
				(14,t.SrNoRevisionwise,'Transporter Name', cast( Eway.TransporterName  as varchar)  COLLATE DATABASE_DEFAULT,''),
				(15,t.SrNoRevisionwise,'Transporter Id',  Eway.TransporterId COLLATE DATABASE_DEFAULT,''),
				(16,t.SrNoRevisionwise,'Mode Of Transport',  Eway.MannerOfTransport COLLATE DATABASE_DEFAULT,''),
				(17,t.SrNoRevisionwise,'Vehicle Type',  Eway.VehicleType COLLATE DATABASE_DEFAULT,''),
				(18,t.SrNoRevisionwise,'Vehicle No',  Eway.MotarRegno COLLATE DATABASE_DEFAULT,''),
				(19,t.SrNoRevisionwise,'Document Date', CONVERT(VARCHAR(15),    Eway.DocDate , 106)  COLLATE DATABASE_DEFAULT,''),
				(20,t.SrNoRevisionwise,'L.R. /R.R. /Doc. No',  Eway.LrNo COLLATE DATABASE_DEFAULT,''),
				(21,t.SrNoRevisionwise,'Document Through',  Eway.DocThrough COLLATE DATABASE_DEFAULT,''),
				(22,t.SrNoRevisionwise,'Weight Slip No',  Eway.WeightSlipNo COLLATE DATABASE_DEFAULT,''),
				(23,t.SrNoRevisionwise,'Gross Wt(kg)',  cast(Eway.GrossWt as varchar) COLLATE DATABASE_DEFAULT,''),
				(24,t.SrNoRevisionwise,'Tare Wt(kg)',  cast(Eway.TareWt as varchar) COLLATE DATABASE_DEFAULT,''),
				(25,t.SrNoRevisionwise,'Net Wt(kg)',  cast(Eway.NetWt as varchar) COLLATE DATABASE_DEFAULT,''),
				(26,t.SrNoRevisionwise,'Packaging Details',  Eway.PackingDetails COLLATE DATABASE_DEFAULT,''),
				(27,t.SrNoRevisionwise,'Freight', case when eway.FreightValue is null or eway.FreightValue = '' then  Eway.Fright else 
													 Eway.Fright+ ' : ' + eway.FreightValue	end COLLATE DATABASE_DEFAULT,''),

				 (28,t.SrNoRevisionwise,'Description Of Goods' , CAst(DescriptionOfGoods as varchar) COLLATE DATABASE_DEFAULT ,''),
				 (29,t.SrNoRevisionwise, 'Identification of Marks/Numbers'  , CAst(IdentificationofMarksNumbers as varchar) COLLATE DATABASE_DEFAULT ,''),
				 (30,t.SrNoRevisionwise,'HSNcode Classification', CAst(TariffClassification as varchar) COLLATE DATABASE_DEFAULT,'' ),
				 (31,t.SrNoRevisionwise,'Removal Date Time'  , CAst(IssueDate as varchar) + ' ' +CAst(IssueTime as varchar) COLLATE DATABASE_DEFAULT ,''),
				 (32,t.SrNoRevisionwise,'Nature of Process'  , CAst(Natureofprocess as varchar)  COLLATE DATABASE_DEFAULT,'' ),
				 (33,t.SrNoRevisionwise,'Expected Duration'  , CAst(ExpectedDuration as varchar)  COLLATE DATABASE_DEFAULT ,''),
				 (34,t.SrNoRevisionwise,'Types Of Goods'  , CAst(case when TypeOfGoods = 1 then 'Capital Goods' else 'Inputs' end as varchar)  COLLATE DATABASE_DEFAULT,'' )
		  ) as CA (sr,SrNoRevisionwise,ColName, ColValue,TransId)  
		  where ColName is not null and CA.SrNoRevisionwise = t.SrNoRevisionwise 
    
  
DECLARE @cols AS NVARCHAR(MAX) 
select @cols = STUFF((SELECT distinct ','  + QUOTENAME(SrNoRevisionwise) 
                    from #tempEditLogJobOut
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')    
   
    
declare @sql1 NVARCHAR(MAX) = '';		 
SET @sql1 ='
SELECT *
FROM   #tempEditLogJobOut
PIVOT  
(  
  max(ColValue)  
  FOR SrNoRevisionwise IN ('+ @cols +' )  
) AS PivotTable order by sr;  
';

EXECUTE sp_executesql @sql1;     

drop table   #tempEditLogJobOut
end
if(@Parameter=1) --job work transfer 
begin
	
 	 DECLARE @TableItem2 table (SrNoRevisionwise int, JONO  varchar(200),CustomerName  varchar(200),JODate datetime , 
			 ProcessName  varchar(200),CastingName  varchar(100),CastingCode  varchar(100),  OutwardQty float 
					,PerPcWeight  float , Rate  float , DeliveryDate varchar(20) , TotalWeight  float 
					 ,MetalName varchar(100),FromJONO varchar(200),Remarks nvarchar(max),FromSupplier varchar(200),
                    ReturnPartNo varchar(200),DescriptionOfGoods nvarchar(200),IdentificationofMarksNumbers varchar(50),					
					Value varchar(50)  ,TariffClassification varchar(50),IssueDate  varchar(50),IssueTime  varchar(50) , 
					ExpectedDuration varchar(50)  ,ModifiedUserName varchar(100), InsertedDate  varchar(100)) 
     INSERT INTO @TableItem2
	SELECT   JA.RevisionNo,
                        CASE WHEN JA.Prefix IS NULL THEN ''
								 ELSE CONVERT(VARCHAR(50), JA.Prefix)
							END + CASE WHEN JA.Separator IS NULL THEN ''
									   ELSE CONVERT(VARCHAR(50), JA.Separator)
								  END + CONVERT(VARCHAR(50), JA.JONO)
							+ CASE WHEN JA.Separator IS NULL THEN ''
								   ELSE CONVERT(VARCHAR(50), JA.Separator)
							  END + CASE WHEN JA.Suffix IS NULL THEN ''
										 ELSE CONVERT(VARCHAR(50), JA.Suffix)
									END AS JONO ,
                        CustomerMaster.CustomerName ,
                        CONVERT(VARCHAR(11), JA.JODate, 106) AS [JODate] ,
                        ProcessName , 
                       CastingMaster.CastingName  ,
                       CastingMaster.CastingCode ,
                         JT.OutwardQty ,
                        JT.PerPcWeight ,
                        JT.Rate ,
                        CONVERT(VARCHAR(15), JT.DeliveryDate, 106) AS DeliveryDate ,
                        JT.TotalWeight , 
                        MetalName ,
                        isnull(JobOutMasterFrom.JONO,'') as FromJONO,
                        CASE when ISNULL(JA.Remarks,'') = '' then  ' - ' 
                        else JA.Remarks end as Remarks,
						cj.CustomerName as FromSupplier ,
                        ReturnPart.CastingCode as ReturnPartNo ,
						JA.DescriptionOfGoods		,
						JA.IdentificationofMarksNumbers,
						JA.Value,
						JA.TariffClassification  COLLATE DATABASE_DEFAULT AS TariffClassification ,
							CONVERT(VARCHAR(50), JA.IssueDate, 106)  AS IssueDate ,
							CONVERT(VARCHAR(50), JA.IssueTime, 108)   AS IssueTime ,
							 JA.ExpectedDuration ,
							 	U.UserName AS ModifiedUserName,
							case when JA.ModifiedOn is null then JA.CreatedOn else JA.ModifiedOn end  AS InsertedDate   
                FROM    [ICAST_IMS_LOG].[dbo].JobOutTranse AS JT
                        Inner Join [ICAST_IMS_LOG].[dbo].JobOutMaster AS JA on JT.JOID = JA.JOID
                        left join JobOutTranse as JobOutTranseFrom On JT.FromJOTransId = JobOutTranseFrom.JOTranseID
                        left join JobOutMaster as JobOutMasterFrom On JobOutMasterFrom.JOID = JobOutTranseFrom.JOID
					    left join CustomerMaster   as cj On JobOutMasterFrom.SupplierID = cj.CustomerId
                        INNER JOIN CustomerMaster ON JA.SupplierID = CustomerMaster.CustomerId
                        LEFT Join CastingMaster on  JT.CastingID = CastingMaster.CastingID
                        LEFT join MetalMaster On JT.MetalId = MetalMaster.MetalId
                        Inner JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = JA.ProcessID 
						LEFT Join CastingMaster as ReturnPart on  JT.PartId = ReturnPart.CastingID 
						 LEFT JOIN  UserMaster AS U ON U.UserId  = case when JA.ModifiedBY = 0 or JA.ModifiedBY is null then   JA.CreatedBY else JA.ModifiedBY  end 
                WHERE  
						JA.IsTransfer = 1 
						and JA.ForOtherProcesses = 0
						AND JA.IsDeleted = 0 
                        and JA.JOID =@JOID 
	INSERT INTO @TableItem2 	
		SELECT  @RevisionNo  as SrNoRevisionwise,   
                        CASE WHEN JA.Prefix IS NULL THEN ''
								 ELSE CONVERT(VARCHAR(50), JA.Prefix)
							END + CASE WHEN JA.Separator IS NULL THEN ''
									   ELSE CONVERT(VARCHAR(50), JA.Separator)
								  END + CONVERT(VARCHAR(50), JA.JONO)
							+ CASE WHEN JA.Separator IS NULL THEN ''
								   ELSE CONVERT(VARCHAR(50), JA.Separator)
							  END + CASE WHEN JA.Suffix IS NULL THEN ''
										 ELSE CONVERT(VARCHAR(50), JA.Suffix)
									END AS JONO ,
                        CustomerMaster.CustomerName ,
                        CONVERT(VARCHAR(11), JA.JODate, 106) AS [JODate] ,
                        ProcessName , 
                       CastingMaster.CastingName  ,
                       CastingMaster.CastingCode ,
                         JT.OutwardQty ,
                        JT.PerPcWeight ,
                        JT.Rate ,
                        CONVERT(VARCHAR(15), JT.DeliveryDate, 106) AS DeliveryDate ,
                        JT.TotalWeight , 
                        MetalName ,
                        isnull(JobOutMasterFrom.JONO,'') as FromJONO,
                        CASE when ISNULL(JA.Remarks,'') = '' then  ' - ' 
                        else JA.Remarks end as Remarks,
						cj.CustomerName as FromSupplier ,
                        ReturnPart.CastingCode as ReturnPartNo ,
						JA.DescriptionOfGoods		,
						JA.IdentificationofMarksNumbers,
						JA.Value,
						JA.TariffClassification  COLLATE DATABASE_DEFAULT AS TariffClassification ,
							CONVERT(VARCHAR(50), JA.IssueDate, 106)  AS IssueDate ,
							CONVERT(VARCHAR(50), JA.IssueTime, 108)   AS IssueTime ,
							 JA.ExpectedDuration ,
							 	U.UserName AS ModifiedUserName, 
							case when  JA.ModifiedBy =0 then   JA.createdon else JA.ModifiedOn end  AS InsertedDate   
                FROM    [dbo].JobOutTranse AS JT
                        Inner Join [dbo].JobOutMaster AS JA on JT.JOID = JA.JOID
                        left join JobOutTranse as JobOutTranseFrom On JT.FromJOTransId = JobOutTranseFrom.JOTranseID
                        left join JobOutMaster as JobOutMasterFrom On JobOutMasterFrom.JOID = JobOutTranseFrom.JOID
					    left join CustomerMaster   as cj On JobOutMasterFrom.SupplierID = cj.CustomerId
                        INNER JOIN CustomerMaster ON JA.SupplierID = CustomerMaster.CustomerId
                        LEFT Join CastingMaster on  JT.CastingID = CastingMaster.CastingID
                        LEFT join MetalMaster On JT.MetalId = MetalMaster.MetalId
                        Inner JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = JA.ProcessID 
						LEFT Join CastingMaster as ReturnPart on  JT.PartId = ReturnPart.CastingID  
						 LEFT JOIN  UserMaster AS U ON U.UserId  = case when  JA.ModifiedBy =0 then   JA.CreatedBY else JA.ModifiedBY end  
                WHERE  
						JA.IsTransfer = 1 
						and JA.ForOtherProcesses = 0
						AND JA.IsDeleted = 0 
                        and JA.JOID =@JOID 

 select distinct CA.* 
       into #tempEditLogJobTransfer
      from @TableItem2  as t     
		CROSS APPLY (
			  Values
				 (1,t.SrNoRevisionwise,'User Name' , modifiedUSerName COLLATE DATABASE_DEFAULT,'' ),
				 (2,t.SrNoRevisionwise,'Inserted/Altered On' ,cast(InsertedDate  as varchar) ,''),
				 (3,t.SrNoRevisionwise,'Transfer Date' ,  CONVERT(VARCHAR(15),  JODate, 106)  ,''  ),
				 (4,t.SrNoRevisionwise,'Jobwork Trans No' , JONO COLLATE DATABASE_DEFAULT,''),
				 (5,t.SrNoRevisionwise,'Process',  ProcessName COLLATE DATABASE_DEFAULT,''), 
				 (6,t.SrNoRevisionwise,'Jobwork Agency',  CustomerName COLLATE DATABASE_DEFAULT,''),
				 (7,t.SrNoRevisionwise,'From Supplier',  FromSupplier COLLATE DATABASE_DEFAULT,''),
				 (8,t.SrNoRevisionwise,'From JONO',  FromJONO COLLATE DATABASE_DEFAULT,''),

			 	 (9,t.SrNoRevisionwise,CastingName + '('+CastingCode+')' 
																	, 'Return Part No : ' + CAst(ReturnPartNo  as varchar) COLLATE DATABASE_DEFAULT + CHAR(10) 
																	+ 'Outward Qty : ' + CAst(case when OutwardQty>0 then OutwardQty else '-' end  as varchar)
																	  + CHAR(10) +  'Rate : ' +  CAst(Rate as varchar) + CHAR(10)  
																	+  'Per Pc Weight : ' + CAst(PerPcWeight as varchar) COLLATE DATABASE_DEFAULT + CHAR(10) 
																	 +  'Delivery Date : ' + CAst(DeliveryDate as varchar) COLLATE DATABASE_DEFAULT	 + CHAR(10) 
																	+  'Total Weight : ' + CAst(TotalWeight as varchar),'' ),
				 
				 (10,t.SrNoRevisionwise,'Description Of Goods' , CAst(DescriptionOfGoods as varchar) COLLATE DATABASE_DEFAULT ,''),
				 (11,t.SrNoRevisionwise, 'Identification of Marks/Numbers'  , CAst(IdentificationofMarksNumbers as varchar) COLLATE DATABASE_DEFAULT ,''),
				 (12,t.SrNoRevisionwise,'HSNcode Classification', CAst(TariffClassification as varchar) COLLATE DATABASE_DEFAULT,'' ),
				 (13,t.SrNoRevisionwise,'Removal Date Time'  , CAst(IssueDate as varchar) + ' ' +CAst(IssueTime as varchar) COLLATE DATABASE_DEFAULT ,''),
				 
				 (14,t.SrNoRevisionwise,'Expected Duration'  , CAst(ExpectedDuration as varchar)  COLLATE DATABASE_DEFAULT ,'')				 
		  ) as CA (sr,SrNoRevisionwise,ColName, ColValue,TransId)  
		  where ColName is not null and CA.SrNoRevisionwise = t.SrNoRevisionwise 
    
   
select @cols = STUFF((SELECT distinct ','  + QUOTENAME(SrNoRevisionwise) 
                    from #tempEditLogJobTransfer
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')    
   
     	 
SET @sql1 ='
SELECT *
FROM   #tempEditLogJobTransfer
PIVOT  
(  
  max(ColValue)  
  FOR SrNoRevisionwise IN ('+ @cols +' )  
) AS PivotTable order by sr;  
';

EXECUTE sp_executesql @sql1;     

drop table   #tempEditLogJobTransfer
end
if(@Parameter=2) --job out other process 
begin
 	 DECLARE @TableItem1 table (SrNoRevisionwise int, ItemName  varchar(100),ItemCode  varchar(100),OutwardQty float,Value1 float, 
				 JONO  varchar(200),CustomerName  varchar(200),SupplierAddress varchar(MAX)
					,JODate  varchar(50), JoFullDate  varchar(50), ProcessName varchar(100) , Natureofprocess varchar(200)
					 ,TariffClassification varchar(50),DescriptionOfGoods varchar(50),IdentificationofMarksNumbers varchar(50),
                    Value varchar(50), IssueDate  varchar(50),IssueTime  varchar(50)  ,StateCode INT,  ExpectedDuration varchar(50) ,TypeOfGoods int
                    , JOTranseID bigint  
					,ModifiedUserName varchar(100), InsertedDate  varchar(100)) 
   
       INSERT INTO @TableItem1
	 SELECT   RevisionNo  as SrNoRevisionwise, ItemName  ,ItemCode  ,OutwardQty,Value1  ,JONO   
			,CustomerName  ,SupplierAddress ,JODate  , JoFullDate  , ProcessName , Natureofprocess 
			,TariffClassification  ,DescriptionOfGoods ,IdentificationofMarksNumbers ,
            Value  , IssueDate   ,IssueTime    ,StateCode, ExpectedDuration,TypeOfGoods,JOTranseID  ,ModifiedUserName  , InsertedDate   	 
		from              
		(
				 SELECT JIT.RevisionNo,
                        case when JIT.IsItemType = 1
							then (PurchaseItemMaster.ItemName) COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 2
							then (CastingName ) COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 3 
							then PurchaseItemMaster.ItemCode  COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 4
							then CoreBoxName COLLATE DATABASE_DEFAULT
						end end end end 
							as ItemName ,  
						case when JIT.IsItemType = 1
							then (PurchaseItemMaster.ItemCode ) COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 2
							then (CastingCode ) COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 3
							then PurchaseItemMaster.ItemCode  COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 4 
							then CoreBoxDetails.CoreBoxName  COLLATE DATABASE_DEFAULT
						end end end end 
							as ItemCode ,
                        JIT.TransferQty as OutwardQty , JIT.Value   as Value1 , 
								CASE WHEN JM.Prefix IS NULL THEN ''
								 ELSE CONVERT(VARCHAR(50), JM.Prefix)
							END + CASE WHEN JM.Separator IS NULL THEN ''
									   ELSE CONVERT(VARCHAR(50), JM.Separator)
								  END + CONVERT(VARCHAR(50), JM.JONO)
							+ CASE WHEN JM.Separator IS NULL THEN ''
								   ELSE CONVERT(VARCHAR(50), JM.Separator)
							  END + CASE WHEN JM.Suffix IS NULL THEN ''
										 ELSE CONVERT(VARCHAR(50), JM.Suffix)
									END AS JONO ,
							CustomerMaster.CustomerName  COLLATE DATABASE_DEFAULT AS CustomerName,
							SupplierAddress COLLATE DATABASE_DEFAULT AS SupplierAddress,
							CONVERT(VARCHAR(11), JM.JODate, 106) AS [JODate] ,
							cast( JM.JODate as DATE) as JoFullDate ,
							 ProcessName ,
							 isnull(JM.Natureofprocess,'') COLLATE DATABASE_DEFAULT AS   Natureofprocess, 
			 	            JM.TariffClassification COLLATE DATABASE_DEFAULT AS  TariffClassification,
							JM.DescriptionOfGoods COLLATE DATABASE_DEFAULT AS DescriptionOfGoods ,
							JM.IdentificationofMarksNumbers COLLATE DATABASE_DEFAULT AS  IdentificationofMarksNumbers,
							JM.Value COLLATE DATABASE_DEFAULT AS  Value,
							CONVERT(VARCHAR(50), JM.IssueDate, 106) IssueDate ,
							CONVERT(VARCHAR(50), JM.IssueTime, 108) IssueTime ,						 											 
	                        JM.StateCode,  JM.ExpectedDuration,JT.TypeOfGoods 
	                        ,JT.JOTranseID,
							U.UserName AS ModifiedUserName,
							case when JM.ModifiedOn is null then jm.CreatedOn else JM.ModifiedOn end  AS InsertedDate   
                FROM    [ICAST_IMS_LOG].[dbo].JobOutTranse AS JT
						INNER JOIN  [ICAST_IMS_LOG].[dbo].JobOutMaster AS JM ON JT.JOID = JM.JOID and JM.RevisionNo =JT.RevisionNo
						INNER JOIN CustomerMaster ON JM.SupplierID = CustomerMaster.CustomerId
						INNER JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = JM.ProcessID
						 LEFT JOIN  UserMaster AS U ON U.UserId  = case when JM.ModifiedBY = 0 or JM.ModifiedBY is null then   JM.CreatedBY else JM.ModifiedBY  end  
						Inner Join [ICAST_IMS_LOG].[dbo].JobOutItemTrans AS JIT On JIT.Jo_TranseId = JT.JOTranseID and JM.RevisionNo =JIT.RevisionNo
						INNer Join BOQTrans On BOQTrans.BOQTransId = JIT.Bom_TranseId
						INNER JOIN RateContract On RateContract.RateContractId = JT.RateContractId
						--LEFT JOIN PatternMAster On PatternMAster.Patternid = BOQTrans.PurchaseItemId
							--AND PatternMaster.IsDeleted = 0
						LEFT JOIN CastingMAster On CastingMaster.Castingid = BOQTrans.PurchaseItemId
							--AND CAstingMaster.Isdeleted = 0
						LEFT JOIN CoreBoxDetails On CoreBoxDetails.CoreBoxId = BOQTrans.PurchaseItemId
							--AND CoreBoxDetails.Isdelete = 0
						LEFT JOIN PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = BOQTrans.PurchaseItemId
							--AND PurchaseItemMaster.Isdeleted = 0
                        --LEFT JOIN MetalMaster ON JobOutTranse.MetalId = MetalMaster.MetalId
                        LEFT JOIN ( SELECT  PurchaseOrderServiceItemTrans.PurchaseOrderID AS [POID] ,
                                            PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID ,
                                            CASE WHEN PurchaseOrder_Master.Prefix
                                                      + PurchaseOrder_Master.Separator
                                                      + PurchaseOrder_Master.Suffix IS NULL
                                                 THEN PurchaseOrder_Master.PONo
                                                 ELSE CONVERT(VARCHAR(11), PurchaseOrder_Master.Prefix)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.PONo)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.Suffix)
                                            END AS PONo ,
                                           -- PurchaseOrderServiceItemTrans.JOTransID ,
                                            PurchaseOrderServiceItemTrans.ServiceItemId
                                    FROM    PurchaseOrder_Master
                                            INNER JOIN PurchaseOrderServiceItemTrans ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderServiceItemTrans.PurchaseOrderID
                                    WHERE   PurchaseOrder_Master.isdeleted = 0
                                            AND PurchaseOrder_Master.maxversion = 1
                                  ) AS s ON jt.PurchaseOrderId = s.POID
                                            AND jt.PurchaseOrderServiceItemID = s.PurchaseOrderServiceItemID
                                            AND RateContract.ServiceItemId = s.ServiceItemId
                WHERE   JM.JOID = @JOID
                        AND jt.IsDeleted = 0
               
                UNION ALL
                 SELECT JIT.RevisionNo,
                        case when JIT.IsItemType = 1
							then (PurchaseItemMaster.ItemName) COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 2
							then (CastingName ) COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 3 OR JIT.IsItemType = 5
							then PurchaseItemMaster.ItemCode  COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 4
							then CoreBoxDetails.CoreBoxName  COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 6
							then CoreBoxMaster.CoreMasterName COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 7 
							then JT.OtherItemName COLLATE DATABASE_DEFAULT
						end end end end end end
							as ItemName , 
							
						case when JIT.IsItemType = 1
							then (PurchaseItemMaster.ItemCode ) COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 2
							then (CastingCode ) COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 3 OR JIT.IsItemType = 5
							then PurchaseItemMaster.ItemCode  COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 4
							then CoreBoxDetails.CoreBoxName  COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 6
							then CoreBoxMaster.CoreMasterName COLLATE DATABASE_DEFAULT
						else case when JIT.IsItemType = 7 
							then JT.OtherItemCode
						end end end end end end
							as ItemCode ,
                        JIT.TransferQty as OutwardQty, JIT.Value   as Value1 , 
                      			CASE WHEN JM.Prefix IS NULL THEN ''
								 ELSE CONVERT(VARCHAR(50), JM.Prefix)
							END + CASE WHEN JM.Separator IS NULL THEN ''
									   ELSE CONVERT(VARCHAR(50), JM.Separator)
								  END + CONVERT(VARCHAR(50), JM.JONO)
							+ CASE WHEN JM.Separator IS NULL THEN ''
								   ELSE CONVERT(VARCHAR(50), JM.Separator)
							  END + CASE WHEN JM.Suffix IS NULL THEN ''
										 ELSE CONVERT(VARCHAR(50), JM.Suffix)
									END AS JONO ,
							CustomerMaster.CustomerName  COLLATE DATABASE_DEFAULT AS CustomerName,
							SupplierAddress COLLATE DATABASE_DEFAULT AS SupplierAddress,
							CONVERT(VARCHAR(11), JM.JODate, 106) AS [JODate] ,
							cast( JM.JODate as DATE) as JoFullDate ,
							 ProcessName ,
							 isnull(JM.Natureofprocess,'') COLLATE DATABASE_DEFAULT AS   Natureofprocess, 
			 	            JM.TariffClassification COLLATE DATABASE_DEFAULT AS  TariffClassification,
							JM.DescriptionOfGoods COLLATE DATABASE_DEFAULT AS DescriptionOfGoods ,
							JM.IdentificationofMarksNumbers COLLATE DATABASE_DEFAULT AS  IdentificationofMarksNumbers,
							JM.Value COLLATE DATABASE_DEFAULT AS  Value,
							CONVERT(VARCHAR(50), JM.IssueDate, 106) IssueDate ,
							CONVERT(VARCHAR(50), JM.IssueTime, 108) IssueTime ,						 											 
	                        JM.StateCode,  JM.ExpectedDuration,JT.TypeOfGoods ,
                             JT.JOTranseID,
							U.UserName AS ModifiedUserName,
							case when JM.ModifiedOn is null then jm.CreatedOn else JM.ModifiedOn end  AS InsertedDate 
                FROM    [ICAST_IMS_LOG].[dbo].JobOutTranse AS JT
                		INNER JOIN  [ICAST_IMS_LOG].[dbo].JobOutMaster AS JM ON JT.JOID = JM.JOID and JM.RevisionNo =JT.RevisionNo
						INNER JOIN CustomerMaster ON JM.SupplierID = CustomerMaster.CustomerId
						INNER JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = JM.ProcessID
						LEFT JOIN UserMaster AS U ON U.UserId  =  case when JM.ModifiedBY = 0 or JM.ModifiedBY is null then   JM.CreatedBY else JM.ModifiedBY  end  
						Inner Join [ICAST_IMS_LOG].[dbo].JobOutItemTrans AS JIT On JIT.Jo_TranseId = JT.JOTranseID  and JM.RevisionNo =JIT.RevisionNo		 				
					   --LEFT JOIN PatternMAster On PatternMAster.Patternid = JT.CastingID
							--AND PatternMaster.IsDeleted = 0
						LEFT JOIN CastingMAster On CastingMaster.Castingid = JT.CastingID
							--AND CAstingMaster.Isdeleted = 0
						LEFT JOIN CoreBoxDetails On CoreBoxDetails.CoreBoxId =JT.CastingID
							--AND CoreBoxDetails.Isdelete = 0
						LEFT JOIN PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = JT.CastingID
							AND PurchaseItemMaster.Isdeleted = 0
						LEFT JOIN CoreBoxMaster On CoreBoxMaster.CoreMasterID = JT.CastingID
                        --LEFT JOIN MetalMaster ON JobOutTranse.MetalId = MetalMaster.MetalId
                        LEFT JOIN ( SELECT  PurchaseOrderServiceItemTrans.PurchaseOrderID AS [POID] ,
                                            PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID ,
                                            CASE WHEN PurchaseOrder_Master.Prefix
                                                      + PurchaseOrder_Master.Separator
                                                      + PurchaseOrder_Master.Suffix IS NULL
                                                 THEN PurchaseOrder_Master.PONo
                                                 ELSE CONVERT(VARCHAR(11), PurchaseOrder_Master.Prefix)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.PONo)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.Suffix)
                                            END AS PONo ,
                                           -- PurchaseOrderServiceItemTrans.JOTransID ,
                                            PurchaseOrderServiceItemTrans.ServiceItemId
                                    FROM    PurchaseOrder_Master
                                            INNER JOIN PurchaseOrderServiceItemTrans ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderServiceItemTrans.PurchaseOrderID
                                    WHERE   PurchaseOrder_Master.isdeleted = 0
                                            AND PurchaseOrder_Master.maxversion = 1
                                  ) AS s ON JT.PurchaseOrderId = s.POID
                                            AND JT.PurchaseOrderServiceItemID = s.PurchaseOrderServiceItemID
                                            
                WHERE   JM.JOID = @JOID
                        AND JT.IsDeleted = 0
                        And JT.RateContractID is null
                ) as Final
                 
                 
      INSERT INTO @TableItem1
	 SELECT   @RevisionNo  as SrNoRevisionwise, ItemName  ,ItemCode  ,OutwardQty ,Value1 ,JONO   
			,CustomerName  ,SupplierAddress ,JODate  , JoFullDate  , ProcessName , Natureofprocess 
			,TariffClassification  ,DescriptionOfGoods ,IdentificationofMarksNumbers ,
            Value  , IssueDate   ,IssueTime    ,StateCode , ExpectedDuration,TypeOfGoods,JOTranseID   , ModifiedUserName  , InsertedDate   	 
		from              
		(
				 SELECT
                        case when JobOutItemTrans.IsItemType = 1
							then (PurchaseItemMaster.ItemName)
						else case when JobOutItemTrans.IsItemType = 2
							then (CastingName )
						else case when JobOutItemTrans.IsItemType = 3 
							then PurchaseItemMaster.ItemCode 
						else case when JobOutItemTrans.IsItemType = 4
							then CoreBoxName
						end end end end 
							as ItemName , 
							
						case when JobOutItemTrans.IsItemType = 1
							then (PurchaseItemMaster.ItemCode )
						else case when JobOutItemTrans.IsItemType = 2
							then (CastingCode )
						else case when JobOutItemTrans.IsItemType = 3
							then PurchaseItemMaster.ItemCode
						else case when JobOutItemTrans.IsItemType = 4 
							then CoreBoxDetails.CoreBoxName 
						end end end end 
							as ItemCode ,
                        JobOutItemTrans.TransferQty as OutwardQty ,   JobOutItemTrans.Value   as Value1 , 
								CASE WHEN JobOutMaster.Prefix IS NULL THEN ''
								 ELSE CONVERT(VARCHAR(50), JobOutMaster.Prefix)
							END + CASE WHEN JobOutMaster.Separator IS NULL THEN ''
									   ELSE CONVERT(VARCHAR(50), JobOutMaster.Separator)
								  END + CONVERT(VARCHAR(50), JobOutMaster.JONO)
							+ CASE WHEN JobOutMaster.Separator IS NULL THEN ''
								   ELSE CONVERT(VARCHAR(50), JobOutMaster.Separator)
							  END + CASE WHEN JobOutMaster.Suffix IS NULL THEN ''
										 ELSE CONVERT(VARCHAR(50), JobOutMaster.Suffix)
									END AS JONO ,
							CustomerMaster.CustomerName ,
							SupplierAddress ,
							CONVERT(VARCHAR(11), JobOutMaster.JODate, 106) AS [JODate] ,
							cast( JobOutMaster.JODate as DATE) as JoFullDate ,
							 ProcessName ,
							 isnull(JobOutMaster.Natureofprocess,'') as Natureofprocess, 
			 	            JobOutMaster.TariffClassification ,
							JobOutMaster.DescriptionOfGoods ,
							JobOutMaster.IdentificationofMarksNumbers ,
							JobOutMaster.Value ,
							CONVERT(VARCHAR(50), dbo.JobOutMaster.IssueDate, 106) IssueDate ,
							CONVERT(VARCHAR(50), dbo.JobOutMaster.IssueTime, 108) IssueTime ,						 											 
	                        JobOutMaster.StateCode,  ExpectedDuration,JobOutTranse.TypeOfGoods ,
	                        JobOutTranse.JOTranseID,
							U.UserName AS ModifiedUserName,
							case when  JobOutMaster.ModifiedBy =0 then JobOutMaster.createdon else JobOutMaster.ModifiedOn end  AS InsertedDate  
							
                       
                FROM    JobOutTranse
						INNER JOIN JobOutMaster ON JobOutMaster.JOID = JobOutTranse.JOID 
						INNER JOIN CustomerMaster ON JobOutMaster.SupplierID = CustomerMaster.CustomerId
						INNER JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = JobOutMaster.ProcessID
						LEFT JOIN  UserMaster AS U ON U.UserId  = case when  dbo.JobOutMaster.ModifiedBy =0 then    dbo.JobOutMaster.CreatedBY else  dbo.JobOutMaster.ModifiedBY end  
						Inner Join JobOutItemTrans On JobOutItemTrans.Jo_TranseId = JobOutTranse.JOTranseID
						INNer Join BOQTrans On BOQTrans.BOQTransId = JobOutItemTrans.Bom_TranseId
						INNER JOIN RateContract On RateContract.RateContractId = JobOutTranse.RateContractId
						--LEFT JOIN PatternMAster On PatternMAster.Patternid = BOQTrans.PurchaseItemId
							--AND PatternMaster.IsDeleted = 0
						LEFT JOIN CastingMAster On CastingMaster.Castingid = BOQTrans.PurchaseItemId
							--AND CAstingMaster.Isdeleted = 0
						LEFT JOIN CoreBoxDetails On CoreBoxDetails.CoreBoxId = BOQTrans.PurchaseItemId
							--AND CoreBoxDetails.Isdelete = 0
						LEFT JOIN PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = BOQTrans.PurchaseItemId
							--AND PurchaseItemMaster.Isdeleted = 0
                        --LEFT JOIN MetalMaster ON JobOutTranse.MetalId = MetalMaster.MetalId
                        LEFT JOIN ( SELECT  PurchaseOrderServiceItemTrans.PurchaseOrderID AS [POID] ,
                                            PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID ,
                                            CASE WHEN PurchaseOrder_Master.Prefix
                                                      + PurchaseOrder_Master.Separator
                                                      + PurchaseOrder_Master.Suffix IS NULL
                                                 THEN PurchaseOrder_Master.PONo
                                                 ELSE CONVERT(VARCHAR(11), PurchaseOrder_Master.Prefix)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.PONo)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.Suffix)
                                            END AS PONo ,
                                           -- PurchaseOrderServiceItemTrans.JOTransID ,
                                            PurchaseOrderServiceItemTrans.ServiceItemId
                                    FROM    PurchaseOrder_Master
                                            INNER JOIN PurchaseOrderServiceItemTrans ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderServiceItemTrans.PurchaseOrderID
                                    WHERE   PurchaseOrder_Master.isdeleted = 0
                                            AND PurchaseOrder_Master.maxversion = 1
                                  ) AS s ON JobOutTranse.PurchaseOrderId = s.POID
                                            AND JobOutTranse.PurchaseOrderServiceItemID = s.PurchaseOrderServiceItemID
                                            AND RateContract.ServiceItemId = s.ServiceItemId
                WHERE   JobOutMaster.JOID = @JOID
                        AND JobOutTranse.IsDeleted = 0
               
                UNION ALL
                 SELECT 
                        case when JobOutItemTrans.IsItemType = 1
							then (PurchaseItemMaster.ItemName)
						else case when JobOutItemTrans.IsItemType = 2
							then (CastingName )
						else case when JobOutItemTrans.IsItemType = 3 OR JobOutItemTrans.IsItemType = 5
							then PurchaseItemMaster.ItemCode 
						else case when JobOutItemTrans.IsItemType = 4
							then CoreBoxDetails.CoreBoxName 
						else case when JobOutItemTrans.IsItemType = 6
							then CoreBoxMaster.CoreMasterName
						else case when JobOutItemTrans.IsItemType = 7 
							then JobOutTranse.OtherItemName
						end end end end end end
							as ItemName , 
							
						case when JobOutItemTrans.IsItemType = 1
							then (PurchaseItemMaster.ItemCode )
						else case when JobOutItemTrans.IsItemType = 2
							then (CastingCode )
						else case when JobOutItemTrans.IsItemType = 3 OR JobOutItemTrans.IsItemType = 5
							then PurchaseItemMaster.ItemCode 
						else case when JobOutItemTrans.IsItemType = 4
							then CoreBoxDetails.CoreBoxName 
						else case when JobOutItemTrans.IsItemType = 6
							then CoreBoxMaster.CoreMasterName
						else case when JobOutItemTrans.IsItemType = 7 
							then JobOutTranse.OtherItemCode
						end end end end end end
							as ItemCode ,
                        JobOutItemTrans.TransferQty as OutwardQty , JobOutItemTrans.Value   as Value1 , 
                       	CASE WHEN JobOutMaster.Prefix IS NULL THEN ''
								 ELSE CONVERT(VARCHAR(50), JobOutMaster.Prefix)
							END + CASE WHEN JobOutMaster.Separator IS NULL THEN ''
									   ELSE CONVERT(VARCHAR(50), JobOutMaster.Separator)
								  END + CONVERT(VARCHAR(50), JobOutMaster.JONO)
							+ CASE WHEN JobOutMaster.Separator IS NULL THEN ''
								   ELSE CONVERT(VARCHAR(50), JobOutMaster.Separator)
							  END + CASE WHEN JobOutMaster.Suffix IS NULL THEN ''
										 ELSE CONVERT(VARCHAR(50), JobOutMaster.Suffix)
									END AS JONO ,
							CustomerMaster.CustomerName ,
							SupplierAddress ,
							CONVERT(VARCHAR(11), JobOutMaster.JODate, 106) AS [JODate] ,
							cast( JobOutMaster.JODate as DATE) as JoFullDate ,
							 ProcessName ,
							 isnull(JobOutMaster.Natureofprocess,'') as Natureofprocess, 
			 	            JobOutMaster.TariffClassification ,
							JobOutMaster.DescriptionOfGoods ,
							JobOutMaster.IdentificationofMarksNumbers ,
							JobOutMaster.Value ,
							CONVERT(VARCHAR(50), dbo.JobOutMaster.IssueDate, 106) IssueDate ,
							CONVERT(VARCHAR(50), dbo.JobOutMaster.IssueTime, 108) IssueTime ,						 											 
	                        JobOutMaster.StateCode,  ExpectedDuration,JobOutTranse.TypeOfGoods ,
	                        JobOutTranse.JOTranseID,
							U.UserName AS ModifiedUserName,
							case when  JobOutMaster.ModifiedBy =0 then JobOutMaster.createdon else JobOutMaster.ModifiedOn end  AS InsertedDate  							
                FROM    JobOutTranse
                		INNER JOIN JobOutMaster ON JobOutMaster.JOID = JobOutTranse.JOID 
						INNER JOIN CustomerMaster ON JobOutMaster.SupplierID = CustomerMaster.CustomerId
						INNER JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = JobOutMaster.ProcessID
						LEFT JOIN  UserMaster AS U ON U.UserId  = case when  dbo.JobOutMaster.ModifiedBy =0 then    dbo.JobOutMaster.CreatedBY else  dbo.JobOutMaster.ModifiedBY end  					
						Inner Join JobOutItemTrans On JobOutItemTrans.Jo_TranseId = JobOutTranse.JOTranseID
						
						--LEFT JOIN PatternMAster On PatternMAster.Patternid = JobOutTranse.CastingID
							--AND PatternMaster.IsDeleted = 0
						LEFT JOIN CastingMAster On CastingMaster.Castingid = JobOutTranse.CastingID
							--AND CAstingMaster.Isdeleted = 0
						LEFT JOIN CoreBoxDetails On CoreBoxDetails.CoreBoxId =JobOutTranse.CastingID
							--AND CoreBoxDetails.Isdelete = 0
						LEFT JOIN PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = JobOutTranse.CastingID
							AND PurchaseItemMaster.Isdeleted = 0
						LEFT JOIN CoreBoxMaster On CoreBoxMaster.CoreMasterID = JobOutTranse.CastingID
                        --LEFT JOIN MetalMaster ON JobOutTranse.MetalId = MetalMaster.MetalId
                        LEFT JOIN ( SELECT  PurchaseOrderServiceItemTrans.PurchaseOrderID AS [POID] ,
                                            PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID ,
                                            CASE WHEN PurchaseOrder_Master.Prefix
                                                      + PurchaseOrder_Master.Separator
                                                      + PurchaseOrder_Master.Suffix IS NULL
                                                 THEN PurchaseOrder_Master.PONo
                                                 ELSE CONVERT(VARCHAR(11), PurchaseOrder_Master.Prefix)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.PONo)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)
                                                      + CONVERT(VARCHAR(11), PurchaseOrder_Master.Suffix)
                                            END AS PONo ,
                                           -- PurchaseOrderServiceItemTrans.JOTransID ,
                                            PurchaseOrderServiceItemTrans.ServiceItemId
                                    FROM    PurchaseOrder_Master
                                            INNER JOIN PurchaseOrderServiceItemTrans ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderServiceItemTrans.PurchaseOrderID
                                    WHERE   PurchaseOrder_Master.isdeleted = 0
                                            AND PurchaseOrder_Master.maxversion = 1
                                  ) AS s ON JobOutTranse.PurchaseOrderId = s.POID
                                            AND JobOutTranse.PurchaseOrderServiceItemID = s.PurchaseOrderServiceItemID
                                            
                WHERE   JobOutMaster.JOID = @JOID
                        AND JobOutTranse.IsDeleted = 0
                        And JobOutTranse.RateContractID is null
                ) as Final
      
                    
	      
insert INTO @TableEwayDetails
	SELECT    RevisionNo , ID    ,
	 UniqueId       , 
	 IsEwaybillRequired       ,
	 DispatchFrom     ,
	 DisptachFromName    ,
	 DisptachFromAddress      ,
	 DispatchFromStateCode       ,
	 DispatchFromPincode    ,
	 EWayBillNo   ,
	 DispatchTo    ,
	 DistanceInKM       ,
	 CustomerName       ,
	 TransporterId    ,
	 Mode       ,
	 VehicleType   ,
	 LrNo     ,
	 DocDate       ,
	 PackingDetails     ,
	 DocThrough   ,
	 Fright      ,
	 FreightValue      ,
	 MotarRegno     ,
	 SoldAgainstForm   ,
	 RoadPermitForm   ,
	 MannerOfTransport   ,
	 DispatchThrough    ,
	 EwayBillDate       ,
	 EwayBillValidTill       ,
	 EwayBillRemarks     ,
	 IsEwayCancelled       ,
	 EwayCancelDate       ,
	 DisptachFromAddressLine1      ,
	 DisptachFromAddressLine2      ,
	 StateId       ,
	 WeightSlipNo     ,
	 GrossWt       ,
	 TareWt       ,
	 NetWt      
            FROM   [ICAST_IMS_LOG].[dbo].Ewaydetails as do
			left join CustomerMaster on CustomerMaster.CustomerId = do.transportid
            WHERE   do.id = @JOID and do.type =1 

     insert INTO @TableEwayDetails
	SELECT    @RevisionNo , ID    ,
	 UniqueId       ,
 
	 IsEwaybillRequired       ,
	 DispatchFrom     ,
	 DisptachFromName    ,
	 DisptachFromAddress      ,
	 DispatchFromStateCode       ,
	 DispatchFromPincode    ,
	 EWayBillNo   ,
	 DispatchTo    ,
	 DistanceInKM       ,
	 CustomerName ,
	 TransporterId    ,
	 Mode       ,
	 VehicleType   ,
	 LrNo     ,
	 DocDate       ,
	 PackingDetails     ,
	 DocThrough   ,
	 Fright      ,
	 FreightValue      ,
	 MotarRegno     ,
	 SoldAgainstForm   ,
	 RoadPermitForm   ,
	 MannerOfTransport   ,
	 DispatchThrough    ,
	 EwayBillDate       ,
	 EwayBillValidTill       ,
	 EwayBillRemarks     ,
	 IsEwayCancelled       ,
	 EwayCancelDate       ,
	 DisptachFromAddressLine1      ,
	 DisptachFromAddressLine2      ,
	 StateId       ,
	 WeightSlipNo     ,
	 GrossWt       ,
	 TareWt       ,
	 NetWt      
            FROM    [dbo].Ewaydetails as do
			
			left join CustomerMaster on CustomerMaster.CustomerId = do.transportid
            WHERE   do.id = @JOID and do.type =1  
          
     
 select distinct CA.* 
       into #tempEditLogJobOutOther
      from @TableItem1  as t    
	    inner join @TableEwayDetails  as Eway on  Eway.SrNoRevisionwise = t.SrNoRevisionwise
	
		CROSS APPLY (
			  Values
				 (1,t.SrNoRevisionwise,'User Name' , modifiedUSerName COLLATE DATABASE_DEFAULT,''  ),
				 (2,t.SrNoRevisionwise,'Inserted/Altered On' ,cast(InsertedDate  as varchar),'' ),
				 (3,t.SrNoRevisionwise,'JO Date' ,  CONVERT(VARCHAR(15),  JODate, 106),''    ),
				 (4,t.SrNoRevisionwise,'JO No' , JONO COLLATE DATABASE_DEFAULT ,''),
				 (5,t.SrNoRevisionwise,'JO Process',  ProcessName COLLATE DATABASE_DEFAULT,''),
			 	-- (6,t.SrNoRevisionwise,'Supplier Address' , SupplierAddress COLLATE DATABASE_DEFAULT,''),
				 (7,t.SrNoRevisionwise,ItemName + '('+ItemCode+')' , 'Outward Qty : ' + CAst(case when OutwardQty>0 then OutwardQty else '-' end  as varchar)
																	 + CHAR(10) +  'Value : ' +  CAst(Value1 as varchar),JOTranseID),
				
				 (8,t.SrNoRevisionwise,'EWay Bill No',  Eway.EWayBillNo COLLATE DATABASE_DEFAULT,''),
				(9,t.SrNoRevisionwise,'Goods Dispatch From',  Eway.DispatchFrom COLLATE DATABASE_DEFAULT,''),
				(10,t.SrNoRevisionwise,'Goods Dispatch To',  Eway.DispatchTo COLLATE DATABASE_DEFAULT,''),
				(11,t.SrNoRevisionwise,'Distance In KM', cast( Eway.DistanceInKM as varchar) COLLATE DATABASE_DEFAULT,''),
				(12,t.SrNoRevisionwise,'Transporter Name', cast( Eway.TransporterName  as varchar)  COLLATE DATABASE_DEFAULT,''),
				(13,t.SrNoRevisionwise,'Transporter Id',  Eway.TransporterId COLLATE DATABASE_DEFAULT,''),
				(14,t.SrNoRevisionwise,'Mode Of Transport',  Eway.MannerOfTransport COLLATE DATABASE_DEFAULT,''),
				(15,t.SrNoRevisionwise,'Vehicle Type',  Eway.VehicleType COLLATE DATABASE_DEFAULT,''),
				(16,t.SrNoRevisionwise,'Vehicle No',  Eway.MotarRegno COLLATE DATABASE_DEFAULT,''),
				(17,t.SrNoRevisionwise,'Document Date', CONVERT(VARCHAR(15),    Eway.DocDate , 106)  COLLATE DATABASE_DEFAULT,''),
				(18,t.SrNoRevisionwise,'L.R. /R.R. /Doc. No',  Eway.LrNo COLLATE DATABASE_DEFAULT,''),
				(19,t.SrNoRevisionwise,'Document Through',  Eway.DocThrough COLLATE DATABASE_DEFAULT,''),
				(20,t.SrNoRevisionwise,'Weight Slip No',  Eway.WeightSlipNo COLLATE DATABASE_DEFAULT,''),
				(21,t.SrNoRevisionwise,'Gross Wt(kg)',  cast(Eway.GrossWt as varchar) COLLATE DATABASE_DEFAULT,''),
				(22,t.SrNoRevisionwise,'Tare Wt(kg)',  cast(Eway.TareWt as varchar) COLLATE DATABASE_DEFAULT,''),
				(23,t.SrNoRevisionwise,'Net Wt(kg)',  cast(Eway.NetWt as varchar) COLLATE DATABASE_DEFAULT,''),
				(24,t.SrNoRevisionwise,'Packaging Details',  Eway.PackingDetails COLLATE DATABASE_DEFAULT,''),
				(25,t.SrNoRevisionwise,'Freight', case when eway.FreightValue is null or eway.FreightValue = '' then  Eway.Fright else 
													 Eway.Fright+ ' : ' + eway.FreightValue	end COLLATE DATABASE_DEFAULT,''),

				 (26,t.SrNoRevisionwise,'Description Of Goods' , CAst(DescriptionOfGoods as varchar) COLLATE DATABASE_DEFAULT ,'' ),
				 (27,t.SrNoRevisionwise, 'Identification of Marks/Numbers'  , CAst(IdentificationofMarksNumbers as varchar) COLLATE DATABASE_DEFAULT ,''),
				 (28,t.SrNoRevisionwise,'HSNcode Classification', CAst(TariffClassification as varchar) COLLATE DATABASE_DEFAULT ,''),
				 (29,t.SrNoRevisionwise,'Removal Date Time'  , CAst(IssueDate as varchar) + ' ' +CAst(IssueTime as varchar) COLLATE DATABASE_DEFAULT ,''),
				 (30,t.SrNoRevisionwise,'Nature of Process'  , CAst(Natureofprocess as varchar)  COLLATE DATABASE_DEFAULT ,''),
				 (31,t.SrNoRevisionwise,'Expected Duration'  , CAst(ExpectedDuration as varchar)  COLLATE DATABASE_DEFAULT ,''),
				 (32,t.SrNoRevisionwise,'Types Of Goods'  , CAst(case when TypeOfGoods = 1 then 'Capital Goods' else 'Inputs' end as varchar)  COLLATE DATABASE_DEFAULT,'')
		  ) as CA (sr,SrNoRevisionwise,ColName, ColValue, TransId)  
		  where ColName is not null and CA.SrNoRevisionwise = t.SrNoRevisionwise 
    
  
DECLARE @cols1 AS NVARCHAR(MAX) 
select @cols1 = STUFF((SELECT  ','  + QUOTENAME(SrNoRevisionwise) 
                    from #tempEditLogJobOutOther  group by  SrNoRevisionwise 
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')    
   
    
declare @sql11 NVARCHAR(MAX) = '';		 
SET @sql11 ='
SELECT *
FROM   #tempEditLogJobOutOther
PIVOT  
(  
  max(ColValue)  
  FOR SrNoRevisionwise IN ('+ @cols1 +' )  
) AS PivotTable order by cast(sr as int);  
';

EXECUTE sp_executesql @sql11;  

drop table   #tempEditLogJobOutOther                 
end
 END



GO
