USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SalesInvoiceFromDispatch_SELECT]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SalesInvoiceFromDispatch_SELECT] 
@DispatchAdviceID UNIQUEIDENTIFIER = null,
@PlantId int = 0,
@EntityID int =0
AS
BEGIN
	
	 --SELECT DISTINCT
	 --              CAST(1 as bit) as [Select],
  --                 (CustomerOrderNo
		--				+ '/' + cast(OrderTranse.SrNo as varchar(Max)) 
		--				+ '/' + CONVERT(VARCHAR(15), OrderTranse.DeliveryDate, 106)
		--			) 
  --                  AS reforderno ,
  --                  CONVERT(VARCHAR(11), DispatchAdviceDate, 106) AS OrderDate ,
  --                  MetalName AS Metal ,
  --                  OrderTranse.RequiredQty AS OrderQty ,
  --                  DispatchAdviceTrans.Quantity as DispatchAdvQty,
  --                  ISNULL(dispatchTtable.dispatchqty, 0) AS dispatchedqty ,
  --                  (OrderTranse.RequiredQty) - ISNULL(dispatchTtable.dispatchqty, 0) AS PendingQty ,
  --                  DispatchAdviceTrans.CastingWeight AS CastingNetWeight ,  --CastingNetWeight ,
  --                  DispatchAdviceTrans.CastingId AS CastingID ,
  --                  ISNULL(Stock, 0) AS Stock ,
  --                  OrderTranse.CustomerOrderId as CustomerOrderID ,
  --                  OrderTranse.SrNo AS SerialNo ,
  --                  OrderTranse.MetalID ,
  --                  UOM ,
  --                  ROUND(ISNULL(dispatchTtable.dispatchqty, 0)
  --                        * DispatchAdviceTrans.CastingWeight, 3) AS TotalWeight ,
  --                  CustomerRates ,
  --                  OrderTranse.Currency ,
  --                  CurrencyMaster.Symbol + dbo.CurrencyMaster.Currency AS CurrencySymbol ,
  --                  CastingMaster.GrossWeight ,
  --                  CONVERT(VARCHAR(11), DispatchAdvice.ApproxDispatchDate, 106) AS DeliveryDate ,
  --                  IGST ,
  --                  CGST ,
  --                  SGST ,
  --                  castingmaster.TerrifCode AS TariffCode ,
  --                  Cast(0 as int) as PaymentTermsDays,
  --                  ISNULL(CastingMaster.ParentID,CastingMaster.CastingId) AS PartId ,
  --                  CommonData_Master.DisplayName AS CondOfSupply ,
  --                  ISNULL(OrderTranse.Tolerance ,0) AS Tolerance ,
  --                  IsNULL(OrderTranse.ToleranceOn ,0) AS ToleranceOn,
  --                  CASE WHEN OrderTranse.ToleranceType IS NULL THEN 0
  --                       ELSE OrderTranse.ToleranceType
  --                  END AS ToleranceType,
  --                  OrderTranse.OrderTranseId as OrderTranseId,
  --                  OrderTranse.CondOfSupply as CondOfSupplyId,
  --                  CastingMaster.CastingCode,
  --                  CastingMaster.CastingName,
  --                  '' as IGSTPer ,
  --                  '' as CGSTPer ,
  --                  '' as SGSTPer ,
  --                  '' as TotalValue,
  --                  DispatchAdviceTrans.DispatchAdviceId,
  --                  DispatchAdviceTrans.DispatchAdviceTransId, 
  --                      VehicleNo  ,
		--				LRNo  ,
		--				TransporterId  ,
		--			(Select	DispatchAdviceTrans.SrNo,
		--					DispatchAdviceTrans.CastingId as CastingID,
		--					DispatchAdviceHeatwise.batchId as BatchID,
		--					DispatchAdviceHeatwise.Qty,
		--					'' as HeatNo,
		--					OrderTranse.MetalID as MetalId 
		--			from	DispatchAdviceHeatwise  
		--			where	DispatchAdviceHeatwise.DispatchAdviceTransId = DispatchAdviceTrans.DispatchAdviceTransId
		--			For XML RAW('CastingDetails'),ROOT('DocumentElement'),ELEMENTS	
		--			) as HeatXML,
		--			OrderTranse.ItemDescription,
		--		 isnull(CastingMaster.LedgerId,  CAST(0x0 AS UNIQUEIDENTIFIER) ) As LedgerId,
		--		 ChargeName as   LedgerName  ,
		--		 isnull(TaxPer,0) as TaxPer,
		--		 case when isnull(GSTNatureOfTransaction.TallyEnum,0) = 31 and LedgerMaster.Taxability != 1 
		--		then 0 else 1 end as IsTaxMatch ,
		--		  case when LedgerMaster.IsCostCenterApplicable = 1 then 'True' else 'False' end      as  ItemCostCenterReq,
		--		  0 as IsTaxDetailChanged
  --          FROM    DispatchAdvice ,
  --                  MetalMaster,
  --                  DispatchAdviceTrans
  --                  inner join OrderTranse ON OrderTranse.OrderTranseId = DispatchAdviceTrans.OrderTransId
  --                  inner join OrderMaster ON OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
  --                  Inner Join CommonData_Master On CommonData_Master.CommonDataId = OrderTranse.CondOfSupply
  --                  and CommonData_Master.[Group] = 'Cond_Of_Supply'
  --                  and CommonData_Master.IsDeleted = 0
  --                  INNER JOIN dbo.CurrencyMaster ON dbo.CurrencyMaster.CurrencyID = dbo.OrderTranse.Currency
  --      --            LEFT JOIN ( SELECT  DispatchAdviceId ,
  --      --                                DispatchAdviceTransId,
  --      --                                CastingID ,
  --      --                                SUM(dispatchqty) AS dispatchqty
		--						--FROM    dispatchtrans 
		--						--		INNER JOIN dispatchmaster on dispatchtrans.dispatchid = dispatchmaster.DispatchID
  --      --                        WHERE   dispatchtrans.IsDeleted = 0 and dispatchmaster.isProforma=0 --and IsDispatchAdvice = 1
  --      --                        GROUP BY DispatchAdviceId ,
  --      --                        DispatchAdviceTransId,
  --      --                                castingiD 
                                        
  --      --                      ) AS dispatchTtable ON DispatchAdviceTrans.DispatchAdviceId = dispatchTtable.DispatchAdviceId
  --      --                                             AND DispatchAdviceTrans.DispatchAdviceTransId = dispatchTtable.DispatchAdviceTransId
  --      --                                             AND DispatchAdviceTrans.CastingID = dispatchTtable.CastingID
                                                     
  --                                                   --AND dbo.DispatchAdviceTrans.IsDeleted = 0 ,
  --                              LEFT JOIN ( SELECT  OrderID ,
  --                                      CastingID ,
  --                                      orderserialno ,
  --                                      SUM(dispatchqty) AS dispatchqty
		--						FROM    dispatchtrans 
		--								INNER JOIN dispatchmaster on dispatchtrans.dispatchid = dispatchmaster.DispatchID
  --                              WHERE   dispatchtrans.IsDeleted = 0 and dispatchmaster.isProforma=0
  --                              GROUP BY orderid ,
  --                                      castingiD ,
  --                                                                                                                       orderserialno
  --                            ) AS dispatchTtable ON orderTranse.CustomerOrderID = dispatchTtable.orderid
  --                                                   AND OrderTranse.CastingID = dispatchTtable.CastingID
  --                                                   AND OrderTranse.srno = dispatchTtable.orderserialno
  --                                                   AND dbo.OrderTranse.IsDeleted = 0,
  --                  CastingMaster
  --                  LEFT JOIN CastingStock ON CastingMaster.CastingID = CastingStock.CastingID
		--				and CastingStock.PlantId = @PlantId
		--				and CastingStock.EntityId = @EntityID
  --                  LEFT JOIN HSNGSTMapping ON HSNGSTMapping.HSNCode = CastingMaster.TerrifCode
  --                  LEFT JOIN TaxMaster ON TaxMaster.TaxTemplateId = HSNGSTMapping.TaxTemplateId
		--				Left Join LedgerMaster On LedgerMaster.ChargeId = CastingMaster.ledgerId 
		--			Left join GSTNatureOfTransaction on GSTNatureOfTransaction.id = LedgerMaster.NatureOfTransaction
  --          WHERE   DispatchAdviceTrans.DispatchAdviceId = DispatchAdvice.DispatchAdviceId
  --                  and DispatchAdviceTrans.CastingId  = CastingMaster.CastingID
  --                  AND OrderTranse.PartId = CastingMaster.CastingID
  --                  AND OrderTranse.MetalID = MetalMaster.MetalID
  --                  AND OrderTranse.IsDeleted = 0
  --                  AND IsDelivered = 0
  --                  AND IsShortClose = 0
  --                  AND DispatchAdvice.IsDeleted = 0
  --                  AND DispatchAdviceTrans.IsDeleted = 0
  --                  AND DispatchAdvice.DispatchAdviceId = @DispatchAdviceID
  --                  And DispatchAdvice.EntityId = @EntityID
  --                  and ISNULL(DispatchAdvice.IsDone,0) = 0

  ----------------------------------------------------------------------------
  --Added by ritik on 29-10-2025 
		  SELECT DISTINCT 
			   CAST(1 AS BIT) AS [Select],
			   (CustomerOrderNo
					+ '/' + CAST(OrderTranse.SrNo AS VARCHAR(MAX)) 
					+ '/' + CONVERT(VARCHAR(15), OrderTranse.DeliveryDate, 106)
			   ) AS reforderno,
			   CONVERT(VARCHAR(11), DispatchAdviceDate, 106) AS OrderDate,
			   MetalName AS Metal,
			   OrderTranse.RequiredQty AS OrderQty,
			   DispatchAdviceTrans.Quantity AS DispatchAdvQty,
			   ISNULL(dispatchTtable.dispatchqty, 0) AS dispatchedqty,
			   (OrderTranse.RequiredQty - ISNULL(dispatchTtable.dispatchqty, 0)) AS PendingQty,
			   DispatchAdviceTrans.CastingWeight AS CastingNetWeight,
			   DispatchAdviceTrans.CastingId AS CastingID,
			   ISNULL(Stock, 0) AS Stock,
			   OrderTranse.CustomerOrderId AS CustomerOrderID,
			   OrderTranse.SrNo AS SerialNo,
			   OrderTranse.MetalID,
			   UOM,
			   ROUND(ISNULL(dispatchTtable.dispatchqty, 0) * DispatchAdviceTrans.CastingWeight, 3) AS TotalWeight,
			   CustomerRates,
			   OrderTranse.Currency,
			   CurrencyMaster.Symbol + dbo.CurrencyMaster.Currency AS CurrencySymbol,
			   CastingMaster.GrossWeight,
			   CONVERT(VARCHAR(11), DispatchAdvice.ApproxDispatchDate, 106) AS DeliveryDate,
			   TaxMaster.IGST,
			   TaxMaster.CGST,
			   TaxMaster.SGST,
			   COALESCE(CCHTM.HSNCode, CastingMaster.TerrifCode) AS TariffCode,
			   CAST(0 AS INT) AS PaymentTermsDays,
			   ISNULL(CastingMaster.ParentID, CastingMaster.CastingId) AS PartId,
			   CommonData_Master.DisplayName AS CondOfSupply,
			   ISNULL(OrderTranse.Tolerance, 0) AS Tolerance,
			   ISNULL(OrderTranse.ToleranceOn, 0) AS ToleranceOn,
			   CASE WHEN OrderTranse.ToleranceType IS NULL THEN 0 ELSE OrderTranse.ToleranceType END AS ToleranceType,
			   OrderTranse.OrderTranseId AS OrderTranseId,
			   OrderTranse.CondOfSupply AS CondOfSupplyId,
			   CastingMaster.CastingCode,
			   CastingMaster.CastingName,
			   '' AS IGSTPer,
			   '' AS CGSTPer,
			   '' AS SGSTPer,
			   '' AS TotalValue,
			   DispatchAdviceTrans.DispatchAdviceId,
			   DispatchAdviceTrans.DispatchAdviceTransId,
			   VehicleNo,
			   LRNo,
			   TransporterId,
			   (
				   SELECT DispatchAdviceTrans.SrNo,
						  DispatchAdviceTrans.CastingId AS CastingID,
						  DispatchAdviceHeatwise.BatchId AS BatchID,
						  DispatchAdviceHeatwise.Qty,
						  '' AS HeatNo,
						  OrderTranse.MetalID AS MetalId 
				   FROM DispatchAdviceHeatwise  
				   WHERE DispatchAdviceHeatwise.DispatchAdviceTransId = DispatchAdviceTrans.DispatchAdviceTransId
				   FOR XML RAW('CastingDetails'), ROOT('DocumentElement'), ELEMENTS
			   ) AS HeatXML,
			   OrderTranse.ItemDescription,
			   ISNULL(CastingMaster.LedgerId, CAST(0x0 AS UNIQUEIDENTIFIER)) AS LedgerId,
			   LedgerMaster.ChargeName AS LedgerName,
			   ISNULL(LedgerMaster.TaxPer, 0) AS TaxPer,
			   CASE WHEN ISNULL(GSTNatureOfTransaction.TallyEnum, 0) = 31 AND LedgerMaster.Taxability != 1 THEN 0 ELSE 1 END AS IsTaxMatch,
			   CASE WHEN LedgerMaster.IsCostCenterApplicable = 1 THEN 'True' ELSE 'False' END AS ItemCostCenterReq,
			   0 AS IsTaxDetailChanged
		FROM DispatchAdvice
		INNER JOIN DispatchAdviceTrans ON DispatchAdviceTrans.DispatchAdviceId = DispatchAdvice.DispatchAdviceId
		INNER JOIN OrderTranse ON OrderTranse.OrderTranseId = DispatchAdviceTrans.OrderTransId
		INNER JOIN OrderMaster ON OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
		INNER JOIN MetalMaster ON OrderTranse.MetalID = MetalMaster.MetalID
		INNER JOIN CommonData_Master ON CommonData_Master.CommonDataId = OrderTranse.CondOfSupply
			   AND CommonData_Master.[Group] = 'Cond_Of_Supply'
			   AND CommonData_Master.IsDeleted = 0
		INNER JOIN CurrencyMaster ON CurrencyMaster.CurrencyID = OrderTranse.Currency
		INNER JOIN CastingMaster ON OrderTranse.PartId = CastingMaster.CastingID
		LEFT JOIN CastingStock ON CastingMaster.CastingID = CastingStock.CastingID
			   AND CastingStock.PlantId = @PlantId
			   AND CastingStock.EntityId = @EntityID

		-- Customer-specific HSN Tax mapping
		LEFT JOIN CustomerCastingHSNTaxMapping AS CCHTM
			   ON CCHTM.CustomerID = OrderMaster.CustomerID
			  AND CCHTM.CastingID = CastingMaster.CastingID
		LEFT JOIN HSNGSTMapping AS HSN
			   ON HSN.HSNCode = CastingMaster.TerrifCode
		LEFT JOIN TaxMaster
			   ON TaxMaster.TaxTemplateId = COALESCE(CCHTM.TaxTemplateId, HSN.TaxTemplateId)

		LEFT JOIN LedgerMaster ON LedgerMaster.ChargeId = CastingMaster.LedgerId
		LEFT JOIN GSTNatureOfTransaction ON GSTNatureOfTransaction.id = LedgerMaster.NatureOfTransaction

		-- Dispatch quantities aggregation
		LEFT JOIN (
			SELECT OrderID,
				   CastingID,
				   orderserialno,
				   SUM(dispatchqty) AS dispatchqty
			FROM dispatchtrans
			INNER JOIN dispatchmaster ON dispatchtrans.dispatchid = dispatchmaster.DispatchID
			WHERE dispatchtrans.IsDeleted = 0 AND dispatchmaster.isProforma = 0
			GROUP BY OrderID, CastingID, orderserialno
		) AS dispatchTtable ON OrderTranse.CustomerOrderID = dispatchTtable.OrderID
							AND OrderTranse.CastingID = dispatchTtable.CastingID
							AND OrderTranse.SrNo = dispatchTtable.orderserialno
							AND OrderTranse.IsDeleted = 0

		WHERE DispatchAdvice.IsDeleted = 0
		  AND DispatchAdviceTrans.IsDeleted = 0
		  AND OrderTranse.IsDeleted = 0
		  AND IsDelivered = 0
		  AND IsShortClose = 0
		  AND DispatchAdvice.DispatchAdviceId = @DispatchAdviceID
		  AND DispatchAdvice.EntityId = @EntityID
		  AND ISNULL(DispatchAdvice.IsDone, 0) = 0;

      
END
GO
