USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CoreProductionEntry]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CoreProductionEntry]
	-- Add the parameters for the stored procedure here      
	@Parameter INT = 0 ,
	@CoreId UNIQUEIDENTIFIER = NULL ,
	@SandTypeId INT = 0 ,
	@CoreMakerId INT = 0 ,
	@Date DATETIME = NULL , 
	@StartTime DATETIME = NULL ,
	@EndTime DATETIME = NULL ,  
	@EntityID INT = 0 ,    
	@EntryNo VARCHAR(50) = NULL ,  
	@DeletedBy INT = 0 ,      
    @DeletedOn DATETIME = NULL , 
    @IsDeleted BIT = NULL ,      
    @CreatedBy INT = 0 ,      
    @CreatedOn DATETIME = NULL , 
    @ModifiedBy INT = 0 ,      
    @ModifiedOn DATETIME = NULL ,
    @ProductionType INT = 0 , 
    @SandWeight FLOAT = 0 , 
    @NewSandWeight FLOAT = 0 , 
    @MachineId UNIQUEIDENTIFIER = NULL ,    
    @SandWastage float =0, 
    @SandReasonId int = 0 ,  
    @CoreCastingId UNIQUEIDENTIFIER = NULL    ,
    @ShiftId INT = 0  ,
    @Remarks nvarchar(MAX) = ''      ,
    @XMLCoreDetails  XML = NULL , 
    @XMLSandWastageDetails XML = NULL ,-- Not used but Pass from code
    @NoOfShots int = 0 , 
    @PlanningReasonDelayXML XML = NULL  ,
    @PlanType INT = 0  ,
    @PlanMasterID INT = 0  ,     
    @IsInwardBatchWise BIT = 0 , 
    @ConsumptionMethod BIT = 0 ,
    @PlantId INT = 0,    
	@CoreProductionMasterId UNIQUEIDENTIFIER = NULL,
	@ModifiedDateTime Nvarchar(50) = NULL   ,
    @XMLModingHelper AS xml = NULL    
    
AS
BEGIN
	
	DECLARE @result TABLE ( returnvalue INT );
	 DECLARE @PurchaseItemID UNIQUEIDENTIFIER ,      
            @ConsumedQty FLOAT,
            @ReasonXML XML;      
	declare 
	 
    @OKQty INT = 0 , 
    @OkWeight FLOAT = 0 ,      
    @RejectedWeight FLOAT = 0 ,
    @CoreWeight FLOAT = 0 , 
    @CoreQty INT = 0 ,  
    @CoreProductionId UNIQUEIDENTIFIER = NULL ,
    @RejectedQty INT = 0 ,
    @CoreMasterID UNIQUEIDENTIFIER = NULL , 
    @ReasonId INT = 0 ,   
    @StockXML  XML = NULL , 
    @SandWeight_Prod as float = 0,
    @NewSandWeight_Prod as float = 0 ,  
    @CurrentStock INT = 0 , 
    @ConsumptionQty as float = 0,  
    @CastingId UNIQUEIDENTIFIER = NULL ,   
    @BatchDetails XML = NULL , 
    @IsReturnSand int = 0    ,  
    @PlanDate  DATETIME = NULL  ,     
    @ActualDate  DATETIME = NULL  ,
    @PlanQty  INT = 0  ,
    @ActualQty INT = 0  ,
    @NotMatchedDate int = 0  ,     
    @NotMatchedQty int = 0   ,
    @PatternID UNIQUEIDENTIFIER = NULL ,  
    @ReqMoldQty  int = 0  ,
    @DelayId int = 0 ,
    @TotlTypeQty int = 0   , 
    @PlanId  UNIQUEIDENTIFIER = NULL,      
    @CoreBoxId UNIQUEIDENTIFIER = NULL ,  
	@TransactionQty INT = 0 , 
	@OKTempQty int = 0 ,
	@CoreConsumptionID uniqueidentifier = null,
   @HelperID int = 0
    -- Insert statements for procedure here
	IF @Parameter = 2      
    BEGIN     
		BEGIN TRANSACTION
		BEGIN TRY           
                     
    SET @CoreProductionMasterId = NEWID()      
    INSERT  INTO dbo.CoreProductionMaster      
                        ( CoreProductionMasterId ,      
                          CoreMakerId ,      
                          SandTypeId ,      
                          CoreMasterID ,      
                          Date ,      
						StartTime,      
                          EndTime,                                                          
                          EntryNo ,      
                          IsDeleted ,      
                          CreatedBy ,      
                          CreatedOn ,      
                          ModifiedBy ,      
                          ModifiedOn ,      
                          DeletedBy ,      
                          DeletedOn ,      
                          EntityID ,                                
                          ProductionType ,      
                          SandWeight ,      
                          NewSandWeight,      
                          MachineId ,      
                          NoOfShots,      
                          SandWastage,      
                          ReasonId  ,      
                          PlanMasterId ,      
                          CastingId ,      
                          ShiftId ,      
                          Remarks      
                        )      
                VALUES  ( @CoreProductionMasterId ,      
                          @CoreMakerId ,      
                          @SandTypeId ,      
                          @CoreId ,      
                          @Date ,      
                          @StartTime,      
                          @EndTime,                               
                          @EntryNo ,      
                          @IsDeleted ,      
                          @CreatedBy ,      
                          @CreatedOn ,      
                          @ModifiedBy ,      
                          @ModifiedOn ,      
                          @DeletedBy ,      
                          @DeletedOn ,      
                          @EntityID ,                                
                          @ProductionType ,      
                          @SandWeight ,      
                          @NewSandWeight,      
                          @MachineId ,      
                          @NoOfShots,      
                          @SandWastage,      
                          @SandReasonId,      
                          @PlanMasterID ,      
                          @CoreCastingId ,      
                          @ShiftId,      
                          @Remarks      
                        )     
                        
                                     
         DECLARE ModingHelper CURSOR        
                FOR        
                    SELECT  Node.value('(OperatorID )[1]',        
                                       'int') AS 'OperatorID'  
                    FROM    @XMLModingHelper.nodes('/DocumentElement/ModingHelper')        
                            AS TEMPXML ( Node )         
        
                OPEN ModingHelper;        
                FETCH NEXT FROM ModingHelper INTO @HelperID 
                            
                WHILE ( @@FETCH_STATUS = 0 )        
                    BEGIN  
                                 INSERT INTO  [dbo].[Helper]
										   ([HelperId]
										   ,[Id]
										   ,[MolderId]
										   ,[Helpertype])
									 VALUES
										   (NEWID(),
										   @CoreProductionMasterId,
										   @HelperID,
										   1) 
                       
                        FETCH NEXT FROM ModingHelper INTO @HelperID 
                    END        
                            
                CLOSE ModingHelper        
                DEALLOCATE ModingHelper     
                   
            
                   
                   
                   
                         
		exec [InsertUpdate_ToolLife] 
							@ItemType =  4
						   ,@ItemId =@CoreId 
						   ,@ItemUsedCount =@NoOfShots   
						   ,@EntityId   = @EntityID      
						   ,@CreatedBy  = @CreatedBy
					 
                 -- For Costing purpose Core Production id is required to save and in most of the case it will be single ,      
                -- so talking top 1   Ref: Bhuminsir      
                  declare @IsSandWastage bit = 1;      
                      -- This block only works for BOQ Consumption         
                DECLARE CoreProductionCursor CURSOR      
                FOR      
                    SELECT        
						   --Node.value('(CoreBoxName )[1]', 'float') AS 'CoreBoxName',      
						   --Node.value('(Cavity )[1]', 'float') AS 'Cavity',      
						   --Node.value('(corepercasting )[1]', 'float') AS 'corepercasting',      
						   Node.value('(qtyCore )[1]', 'int') AS 'qtyCore',      
						   Node.value('(WeightofCore )[1]', 'float') AS 'WeightofCore',      
						   Node.value('(qtyok )[1]', 'int') AS 'qtyok',      
						   Node.value('(weightok )[1]', 'float') AS 'weightok',      
						   Node.value('(RejectedQuantity )[1]', 'int') AS 'RejectedQuantity',      
						   Node.value('(RejectionWeight )[1]', 'float') AS 'RejectionWeight',      
						   Node.value('(CoreMasterID )[1]', 'uniqueidentifier') AS 'CoreMasterID',      
						   Node.value('(CoreBoxID )[1]', 'uniqueidentifier') AS 'CoreBoxID',      
						   --Node.value('(ReasonID )[1]', 'int') AS 'ReasonID',      
						   Node.query('StockXML/*') AS 'StockXML',      
						   Node.value('(ApxWt )[1]', 'float') AS 'ApxWt',      
						   Node.value('(NewSand )[1]', 'float') AS 'NewSand',
						   Node.query('ReasonXML/*') AS 'ReasonXML'          
						   --,Node.value('(PurchaseItemID )[1]','uniqueidentifier') AS 'PurchaseItemID' ,      
                           -- Node.value('(ConsumedQty )[1]', 'float') AS 'ConsumedQty',      
                            --Node.query('BatchDetails/*') AS 'BatchDetails'      
                    FROM    @XMLCoreDetails.nodes('/DocumentElement/CoreDetailsTable')      
                            AS TEMPXML ( Node )       
      
                OPEN CoreProductionCursor;      
                FETCH NEXT FROM CoreProductionCursor INTO        
						  @CoreQty , @CoreWeight , @OKQty , @OkWeight ,  @RejectedQty , @RejectedWeight ,      
						  @CoreMasterID, @CoreId ,  --@ReasonId ,
						  @StockXML,@SandWeight_Prod , @NewSandWeight_Prod ,@ReasonXML     
						   -- @ConsumedQty,      --@BatchDetails       
					WHILE ( @@FETCH_STATUS = 0 )      
                    BEGIN      
                          
                            
                         SET @CoreProductionId = NEWID()      
            
						  INSERT  INTO dbo.CoreProduction      
							(                              
							 CoreProductionId ,                   
							  CoreId ,                   
							  CoreQty ,      
							  OKQty ,      
							  RejectedQty ,                   
							  IsDeleted ,      
							  CreatedBy ,      
							  CreatedOn ,      
							  ModifiedBy ,      
							  ModifiedOn ,      
							  DeletedBy ,      
							  DeletedOn ,      
							  EntityID ,      
							  ReasonId ,      
							  CoreWeight ,      
							  OkWeight ,      
							  RejectedWeight ,      
							  CoreMasterID,      
							  CoreProductionMasterId,      
							  SandWeight ,      
							  NewSandWeight,      
								PlantId,      
								IsSandWastage,
								Date      
							)      
					VALUES  ( @CoreProductionId ,                                
							  @CoreId ,                                
							  @CoreQty ,      
							  @OKQty ,      
							  @RejectedQty ,                                
							  @IsDeleted ,      
							  @CreatedBy ,      
							  @CreatedOn ,      
							  @ModifiedBy ,      
							  @ModifiedOn ,      
							  @DeletedBy ,      
							  @DeletedOn ,      
							  @EntityID ,      
							  0,--@ReasonId ,      
							  @CoreWeight ,      
							  @OkWeight ,      
							  @RejectedWeight ,      
							  @CoreMasterID,      
							@CoreProductionMasterId,                              
							  @SandWeight_Prod ,      
							  @NewSandWeight_Prod ,                               
							  @PlantId,      
								@IsSandWastage   ,
								@Date   
							)      
								
						 
					------------reason xml-------
					DECLARE ReasonXMLCursor CURSOR      
					FOR      
                    SELECT  Node.value('(ReasonId)[1]',      
                                       'int') AS 'ReasonId' ,                                 
							Node.value('(Qty)[1]',      
                                       'int') AS 'Qty'   
                    FROM    @ReasonXML.nodes('/DocumentElement/ReasonXML')      
                            AS TEMPXML ( Node )       
      
					OPEN ReasonXMLCursor;      
					FETCH NEXT FROM ReasonXMLCursor INTO @ReasonId,@RejectedQty 
                          
					WHILE ( @@FETCH_STATUS = 0 )      
					BEGIN
						INSERT INTO CoreRej (CoreRejectionId,
								PatternId,
								CoreId,
								RejQty,
								ReasonID,
								CreatedBy,
								CreatedOn,
								IsDeleted
								, PlantId
								, EntityId,
								CoreProductionId)
						VALUES (NEWID(), cast(cast(0 as binary) as uniqueidentifier), @CoreId, @RejectedQty, 
								@ReasonID, @CreatedBy , @Date, @IsDeleted, @PlantId, @EntityId,@CoreProductionId)
					
						FETCH NEXT FROM ReasonXMLCursor INTO @ReasonId,@RejectedQty 
					END
					CLOSE ReasonXMLCursor      
					DEALLOCATE ReasonXMLCursor    
                
					------------reason xml end---
							set @IsSandWastage = 0;      
                IF EXISTS ( SELECT  *      
                            FROM    dbo.CoreInventoryDetail      
                            WHERE   CoreId = @CoreId      
									AND PlantId = @PlantId )      
                    BEGIN      
                             
                        UPDATE  dbo.CoreInventoryDetail      
                        SET     Stock = ( Stock + @OKQty )      
                        WHERE   CoreId = @CoreId      
								AND PlantId = @PlantId      
                    END      
                ELSE      
                    BEGIN      
                        INSERT  INTO dbo.CoreInventoryDetail      
                                ( CoreId, Stock, PlantId )      
                        VALUES  ( @CoreId, @OKQty, @PlantId )      
                    END      
                          
                SET @CurrentStock = ( SELECT    ISNULL(SUM(stock), 0)      
                                      FROM      CoreInventoryDetail      
                                      WHERE     CoreId = @CoreId      
            AND PlantId = @PlantId      
                                    )      
               
                                                  
                DECLARE @SerialNo INT      
                SET @SerialNo = ISNULL(( SELECT MAX(SerialNo) + 1      
                                         FROM   CoreTransactionHistory      
                                       ), 1)      
                                             
                INSERT  INTO dbo.CoreTransactionHistory      
                        ( CoreId ,      
                          CurrentStock ,      
                          TransactionQty ,      
                          Tagging ,      
                          Process ,      
                          ProcessCode ,      
     ProcessDate ,      
                          InsertedDate ,      
                          UserId ,      
                          SerialNo ,      
                          PlantId                                
                        )      
                VALUES  ( @CoreId , -- CoreId - uniqueidentifier      
                          @CurrentStock , -- CurrentStock - numeric      
                          @OKQty , -- TransactionQty - numeric      
                          'Core production' , -- Tagging - varchar(50)      
                          'Insert' , -- Process - varchar(50)      
                          @CoreProductionId , -- ProcessCode - varchar(max)      
                          @Date , -- ProcessDate - datetime      
                          GETDATE() , -- InsertedDate - datetime      
                          @CreatedBy , -- UserId - int      
                          @SerialNo , -- SerialNo - int      
                          @PlantId      
                        )      
                              
                              
                -- This block only works for BOQ Consumption         
                DECLARE SandConsumption CURSOR      
                FOR      
                    SELECT  Node.value('(PurchaseItemID )[1]',      
                                       'uniqueidentifier') AS 'PurchaseItemID' ,                                 
                            Node.value('(ConsumptionQty )[1]', 'float') AS 'ConsumptionQty',      
							Node.value('(Consumption )[1]', 'float') AS 'Consumption',      
                            Node.query('BatchDetails/*') AS 'BatchDetails'      
                    FROM    @StockXML.nodes('/DocumentElement/StockXML')      
                            AS TEMPXML ( Node )       
      
                OPEN SandConsumption;      
                FETCH NEXT FROM SandConsumption INTO @PurchaseItemID,@ConsumptionQty,      
								@ConsumedQty,@BatchDetails      
                          
                WHILE ( @@FETCH_STATUS = 0 )      
                    BEGIN 
                    if exists ( select 1 from PurchaseItemMaster where PurchaseItemId = @PurchaseItemID  and IsReturnSand = 0)
                    begin
					   IF ((select Stock  from FloorInventoryDetails where PurchaseItemId = @PurchaseItemID and PlantId = @PlantId) <= @ConsumptionQty)
                       begin
                           Rollback Transaction
                           Return -2
                       end
                    end   
                       
                    IF @BatchDetails IS NOT NULL
                    begin
                    
                       Create table #stckbatch(Status Nvarchar(50) )
                       Insert Into #stckbatch
                       select 
                        Case When Node.value('(ConsumptionQty )[1]','float') <= R.Stock Then 'True'
                         else 'False' End
                       from
                        FloorBatchWiseStock R,
                        @BatchDetails.nodes('/DocumentElement/BatchDetails')  
                                            AS TEMPXML ( Node )
                                            where 
                                            R.RawBatchId = Node.value('(RawBatchId )[1]','int')
                                            and
                                            R.PlantId = @PlantId
                                            and
                                            R.EntityId = @EntityID
                                            
                                            
                       if Exists (select 1 from #stckbatch where Status = 'False')  
                       begin
                        drop table #stckbatch
                        ROLLBACK TRANSACTION
					              RETURN -2
                       end
                       drop table #stckbatch 
                    
                    end     
                                    
                      if @ConsumptionQty > 0 AND @ConsumedQty = 0      
					  begin      
					   set @ConsumedQty = @ConsumptionQty      
					  end        
                          
                        set @CoreConsumptionID = NEWID()  ;
                               
                        INSERT  INTO CoreSandConsumption      
                                ( ConsumptionID ,      
                                  PurchaseItemID ,      
                                  ConsumedQty ,      
                                  CoreProductionID      
                                )      
                        VALUES  ( @CoreConsumptionID ,      
                                  @PurchaseItemID ,      
                                  @ConsumedQty ,      
								  @CoreProductionId      
                                )             
                                                                        
                        EXEC BatchWiseConsumptionEntry @BatchDetails = @BatchDetails,      
                            @ConsumptionID = 0,      
                            @ReferenceID = @CoreProductionId                              
                         
                                  
                        set @IsReturnSand = (Select IsReturnSand from PurchaseItemMaster where PurchaseItemId = @PurchaseItemID and IsDeleted = 0)       
                                  
                        if(@IsReturnSand = 0)      
                        begin  
						delete from @result
								INSERT  INTO @result
										( returnvalue
										)
						   EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemID, -- uniqueidentifier      
							@StockToAdd = @ConsumedQty, -- float      
							@Tagging = 'CONSUMPTION', -- varchar(50)      
							@Process = 'Insert', -- varchar(50)      
							@ProcessCode = @CoreProductionId, -- varchar(max)      
							@ProcessDate = @Date, -- datetime      
							@UserID = @CreatedBy, -- bigint      
							@IsInwardBatchWise = @IsInwardBatchWise,      
							@BatchDetails = @BatchDetails,      
							@ConsumptionMethod = @ConsumptionMethod      
							 , @EntityId = @EntityID      
							 , @PlantId = @PlantId  
							 IF ( @@Error <> 0
                                     OR ( ( SELECT  returnvalue
                                            FROM    @result
                                          ) = -7 )
                                   )
                                    BEGIN
                                        ROLLBACK TRANSACTION
                                        RETURN -7
                                    END
                        end                 
                        
                        exec dbo.ConsumptionTotalCost
							@PurchaseItemId = @PurchaseItemID,
							@PageType = 1,
							@ConsumptionQty = @ConsumedQty,
							@ReferenceId = @CoreProductionId,
							@MoldCoreConsumptionId = @CoreConsumptionID,
							@IsInwardBatchWise = @IsInwardBatchWise,
							@Date = @Date,
							@PlantId = @PlantId
							 
                        FETCH NEXT FROM SandConsumption INTO @PurchaseItemID,@ConsumptionQty,      
									@ConsumedQty,@BatchDetails      
                    END      
                CLOSE SandConsumption      
                DEALLOCATE SandConsumption      
                            -- Block end          
                FETCH NEXT FROM CoreProductionCursor INTO @CoreQty , @CoreWeight , @OKQty , @OkWeight ,  @RejectedQty , @RejectedWeight ,      
						@CoreMasterID, @CoreId ,  --@ReasonId ,
						@StockXML,@SandWeight_Prod , @NewSandWeight_Prod,@ReasonXML      
                    END      
                CLOSE CoreProductionCursor      
                DEALLOCATE CoreProductionCursor         
                      
                 -- Added by Nikunj 09-12-2019           
                 -- Planning Reason Delay Details      
                 DECLARE PlanningReasonDelayDetail CURSOR            
                FOR            
                    SELECT  Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,        
						Node.value('(PatternId )[1]', 'uniqueidentifier') AS 'PatternId' ,       
                            Node.value('(Result )[1]', 'int') AS 'Result',      
                            Node.value('(PlanDate )[1]', 'datetime') AS 'PlanDate' ,            
                            Node.value('(ActualDate )[1]', 'datetime') AS 'ActualDate' ,                                     
                            Node.value('(PlanQty )[1]', 'int') AS 'PlanQty' ,      
                            Node.value('(ActualQty )[1]', 'int') AS 'ActualQty',      
                            Node.value('(NotMatchedDate )[1]', 'int') AS 'NotMatchedDate',      
                            Node.value('(NotMatchedQty )[1]', 'int') AS 'NotMatchedQty'  ,      
                            Node.value('(ReqCore )[1]', 'int') AS 'ReqCore' ,      
                            Node.value('(PlanId )[1]', 'uniqueidentifier') AS 'PlanId' ,      
                            Node.value('(CoreBoxID )[1]', 'uniqueidentifier') AS 'CoreBoxID' ,      
                            Node.value('(CoreMasterID )[1]', 'uniqueidentifier') AS 'CoreMasterID'       
                    FROM    @PlanningReasonDelayXML.nodes('/DocumentElement/PlanningReasonXMLTable')            
                            AS TEMPXML ( Node )             
                            
                OPEN PlanningReasonDelayDetail;            
                            
       FETCH NEXT FROM PlanningReasonDelayDetail INTO @CastingId,            
          @PatternId, @ReasonId        
        , @PlanDate , @ActualDate , @PlanQty , @ActualQty       
        , @NotMatchedDate , @NotMatchedQty      
        , @ReqMoldQty ,@PlanId       
        ,@CoreBoxID , @CoreMasterID      
                               
                WHILE ( @@FETCH_STATUS = 0 )            
                    BEGIN             
                              
                         if exists ( select * from  PlanningDelayCoreDetail where PlanMasterId = @PlanMasterID and castingid = @CastingId and isnull(PlanId,(CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))) = @PlanId and CoreBoxID =@CoreBoxId and CoreMasterID = @CoreMasterID)      
                        begin      
                                   set @TotlTypeQty = (select isnull(SUM(PlanningDelayCoreDetail.CoreQty),0) as MoldQty from  PlanningDelayCoreDetail where PlanMasterId = @PlanMasterID and castingid = @CastingId and CoreProductionMasterId is not null and 
  
isnull(PlanId,(CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))) = @PlanId and CoreBoxID =@CoreBoxId and CoreMasterID = @CoreMasterID)      
       if exists ( select * from  PlanningDelayCoreDetail where PlanMasterId = @PlanMasterID and castingid = @CastingId and CoreProductionMasterId = @CoreProductionMasterId and isnull(PlanId,(CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))) = @PlanId and CoreBoxID =@CoreBoxId and CoreMasterID = @CoreMasterID)      
       begin      
             
        set @DelayId =  ( select top 1 DelayId from PlanningDelayCoreDetail where PlanMasterId = @PlanMasterID and castingid = @CastingId and CoreProductionMasterId = @CoreProductionMasterId and isnull(PlanId,(CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)))
  
    
 = @PlanId and CoreBoxID =@CoreBoxId and CoreMasterID = @CoreMasterID);      
        update PlanningDelayCoreDetail       
        set       
         CoreProductionMasterId = @CoreProductionMasterId,      
         CoreDate = @ActualDate,      
         PatternId = @PatternId,      
         CoreQty = isnull(CoreQty,0) + (@ActualQty - @TotlTypeQty),      
         Core_ReasonId = @ReasonId      
         , Core_PlanQty = @ReqMoldQty      
         , PlanId = @PlanId      
        where DelayId = @DelayId      
       end       
       else      
       begin              
           insert into PlanningDelayCoreDetail (PlanMasterId , castingid,PlanDate,PlanQty,CoreProductionMasterId,CoreDate,PatternId,CoreQty,Core_ReasonId,Core_PlanQty,PlanId,CoreBoxID,CoreMasterID)      
                 values(@PlanMasterID,@CastingId,@PlanDate,@PlanQty,@CoreProductionMasterId,@ActualDate,@PatternId,(@ActualQty - @TotlTypeQty),@ReasonId,@ReqMoldQty,@PlanId,@CoreBoxId,@CoreMasterID)         
                        
       end      
             
                        end      
                        else      
                        begin          
        insert into PlanningDelayCoreDetail (PlanMasterId , castingid,PlanDate,PlanQty,CoreProductionMasterId,CoreDate,PatternId,CoreQty,Core_ReasonId,Core_PlanQty,PlanId,CoreBoxID,CoreMasterID)      
                 values(@PlanMasterID,@CastingId,@PlanDate,@PlanQty,@CoreProductionMasterId,@ActualDate,@PatternId,(@ActualQty - @TotlTypeQty),@ReasonId,@ReqMoldQty,@PlanId,@CoreBoxID,@CoreMasterID)      
                   
             end         
                              
       --                 if exists ( select * from  PlanningDelayCoreDetail where PlanMasterId = @PlanMasterID and castingid = @CastingId)      
       --                 begin      
       --set @DelayId =  ( select DelayId from PlanningDelayCoreDetail where PlanMasterId = @PlanMasterID and castingid = @CastingId);      
       --update PlanningDelayCoreDetail       
       --set       
       -- CoreProductionMasterId = @CoreProductionMasterId,      
       -- CoreDate = @ActualDate,      
       -- PatternId = @PatternId,      
       -- CoreQty = @ActualQty,      
       -- Core_ReasonId = @ReasonId      
 --where DelayId = @DelayId      
       --                 end      
       --                 else      
       --                 begin         
       -- insert into PlanningDelayCoreDetail (PlanMasterId , castingid,PlanDate,PlanQty,CoreProductionMasterId,CoreDate,PatternId,CoreQty,Core_ReasonId)      
       --        values(@PlanMasterID,@CastingId,@PlanDate,@PlanQty,@CoreProductionMasterId,@ActualDate,@PatternId,@ActualQty,@ReasonId)      
                   
       --      end        
                                     
                        FETCH NEXT FROM PlanningReasonDelayDetail INTO @CastingId,            
        @PatternId, @ReasonId      
        ,@PlanDate , @ActualDate , @PlanQty , @ActualQty      
        , @NotMatchedDate , @NotMatchedQty      
        , @ReqMoldQty ,@PlanId      
        ,@CoreBoxID , @CoreMasterID      
                    END             
                            
CLOSE PlanningReasonDelayDetail;            
                DEALLOCATE PlanningReasonDelayDetail;       
                 -- End                     
           END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	 IF CURSOR_STATUS('global','CoreProductionCursor') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','CoreProductionCursor') > -1
				   BEGIN
					CLOSE CoreProductionCursor
				   END
				 DEALLOCATE CoreProductionCursor
				END	
			IF CURSOR_STATUS('global','ReasonXMLCursor') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','ReasonXMLCursor') > -1
				   BEGIN
					CLOSE ReasonXMLCursor
				   END
				 DEALLOCATE ReasonXMLCursor
				END	
			IF CURSOR_STATUS('global','SandConsumption') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','SandConsumption') > -1
				   BEGIN
					CLOSE SandConsumption
				   END
				 DEALLOCATE SandConsumption
				END	
			IF CURSOR_STATUS('global','PlanningReasonDelayDetail') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','PlanningReasonDelayDetail') > -1
				   BEGIN
					CLOSE PlanningReasonDelayDetail
				   END
				 DEALLOCATE PlanningReasonDelayDetail
				END	 
			 return -1 
			END	
        END Catch
		Commit TRANSACTION		
                 return 1               
            END      
    
    
        IF @Parameter = 7      
            BEGIN      
              BEGIN TRANSACTION
		BEGIN TRY 
		
		If Exists(select * from CoreProductionMaster  where CoreProductionMasterId = @CoreProductionMasterId and ModifiedOn IS NOT NULL )
		begin
		If Exists(select * from CoreProductionMaster  where CoreProductionMasterId = @CoreProductionMasterId and CONVERT(NVARCHAR,ModifiedOn, 20) <> @ModifiedDateTime)
		begin
		ROLLBACK TRANSACTION
		RETURN -3
		end
		end
		
		IF Exists(select * from CoreProductionMaster  where CoreProductionMasterId = @CoreProductionMasterId and IsDeleted = 1)
		begin
		ROLLBACK TRANSACTION
		RETURN -4
		end
		
		   
                  Declare @OldCountShots int = (select noofshots from CoreProductionMaster  where CoreProductionMasterId = @CoreProductionMasterId      )
                  set  @CoreId = (select CoreMasterID from CoreProductionMaster  where CoreProductionMasterId = @CoreProductionMasterId      )
  
    update  dbo.CoreProductionMaster      
                    set        
      CoreMakerId = @CoreMakerId,      
                        Date = @Date,      
                        StartTime = @StartTime,      
                        EndTime = @EndTime,                                                          
                        ModifiedBy = @ModifiedBy ,      
                        ModifiedOn = @ModifiedOn,      
                        EntityID = @EntityID ,                                
                        ProductionType = @ProductionType,      
                        SandWeight = @SandWeight ,      
                        NewSandWeight = @NewSandWeight,      
                        MachineId = @MachineId,      
                        NoOfShots = @NoOfShots,      
      SandWastage = @SandWastage,      
                        ReasonId =@SandReasonId         
                        , PlanMasterId = @PlanMasterID      
                        , CastingId = @CoreCastingId      
                        , ShiftId = @ShiftId      
                        ,Remarks = @Remarks                     
     where CoreProductionMasterId = @CoreProductionMasterId      
         
         delete from [Helper] where id =  @CoreProductionMasterId and [Helpertype]=1
			
			DECLARE ModingHelper CURSOR        
                FOR        
                    SELECT  Node.value('(OperatorID )[1]',        
                                       'int') AS 'OperatorID'  
                    FROM    @XMLModingHelper.nodes('/DocumentElement/ModingHelper')        
                            AS TEMPXML ( Node )         
        
                OPEN ModingHelper;        
                FETCH NEXT FROM ModingHelper INTO @HelperID 
                            
                WHILE ( @@FETCH_STATUS = 0 )        
                    BEGIN  
                     INSERT INTO  [dbo].[Helper]
										   ([HelperId]
										   ,[Id]
										   ,[MolderId]
										   ,[Helpertype])
									 VALUES
										   (NEWID(),
										   @CoreProductionMasterId,
										   @HelperID,
										  1)
										   
                  
                        FETCH NEXT FROM ModingHelper INTO @HelperID 
                    END        
                            
                CLOSE ModingHelper        
                DEALLOCATE ModingHelper     
                   
                   
	exec [InsertUpdate_ToolLife]
							@ItemType =  4
						   ,@ItemId =@CoreId 
						   ,@ItemUsedCount =@NoOfShots   
						   ,@EntityId   = @EntityID      
						   ,@CreatedBy  = @ModifiedBy
						   ,@OldCount=@OldCountShots 
           
    DECLARE CoreProductionCursor CURSOR      
     FOR      
      SELECT        
        Node.value('(qtyCore )[1]', 'int') AS 'qtyCore',      
        Node.value('(WeightofCore )[1]', 'float') AS 'WeightofCore',      
        Node.value('(qtyok )[1]', 'int') AS 'qtyok',      
        Node.value('(weightok )[1]', 'float') AS 'weightok',      
        Node.value('(RejectedQuantity )[1]', 'int') AS 'RejectedQuantity',      
        Node.value('(RejectionWeight )[1]', 'float') AS 'RejectionWeight',      
        Node.value('(CoreMasterID )[1]', 'uniqueidentifier') AS 'CoreMasterID',      
        Node.value('(CoreBoxID )[1]', 'uniqueidentifier') AS 'CoreBoxID',      
        Node.value('(ReasonID )[1]', 'int') AS 'ReasonID',      
        Node.query('StockXML/*') AS 'StockXML',      
        Node.value('(ApxWt )[1]', 'float') AS 'ApxWt',      
        Node.value('(NewSand )[1]', 'float') AS 'NewSand',              
        Node.value('(CoreProductionId )[1]', 'uniqueidentifier') AS 'CoreProductionId'    ,
        Node.query('ReasonXML/*') AS 'ReasonXML' 
      FROM    @XMLCoreDetails.nodes('/DocumentElement/CoreDetailsTable')      
        AS TEMPXML ( Node )       
      
     OPEN CoreProductionCursor;      
     FETCH NEXT FROM CoreProductionCursor INTO        
       @CoreQty , @CoreWeight , @OKQty , @OkWeight ,  @RejectedQty , @RejectedWeight ,      
       @CoreMasterID, @CoreId ,  @ReasonId ,@StockXML,@SandWeight_Prod , @NewSandWeight_Prod      
       ,@CoreProductionId      ,@ReasonXML     
     WHILE ( @@FETCH_STATUS = 0 )      
      BEGIN      
                  
                DECLARE @OldConsumeQty FLOAT ,      
                    @updateConsumption FLOAT;      
      
				set @OKTempQty = (select top 1 isnull(OKQty,0) as OKQty from CoreProduction where CoreProductionId = @CoreProductionId);      
			            
				set @TransactionQty = @OKQty - @OKTempQty      
			                                         
				SET @PlantId = (SELECT PlantId FROM CoreProduction WHERE  CoreProductionId = @CoreProductionId)      
          
                IF EXISTS ( SELECT  *      
							FROM    dbo.CoreInventoryDetail      
                            WHERE   CoreId = @CoreId      
							AND PlantId = @PlantId )      
                    BEGIN      
                             
                        UPDATE  dbo.CoreInventoryDetail      
                        SET     Stock = ( Stock + @TransactionQty ) --+ @OKQty      
                        WHERE   CoreId = @CoreId      
								AND PlantId = @PlantId      
                    END      
                ELSE      
                    BEGIN      
                        INSERT  INTO dbo.CoreInventoryDetail      
                                ( CoreId, Stock, PlantId )      
                        VALUES  ( @CoreId, @OKQty, @PlantId )      
                    END      
                               
                                
                SET @CurrentStock = ( SELECT    ISNULL(SUM(stock), 0)      
                                      FROM      CoreInventoryDetail      
                                      WHERE     CoreId = @CoreId      
            AND PlantId = @PlantId      
                                    )      
                                  
                SET @SerialNo = ISNULL(( SELECT MAX(SerialNo) + 1      
                                         FROM   CoreTransactionHistory      
                                       ), 1)      
                                             
                INSERT  INTO dbo.CoreTransactionHistory      
                        ( CoreId ,      
                          CurrentStock ,      
                          TransactionQty ,      
                          Tagging ,      
                          Process ,      
                          ProcessCode ,      
                          ProcessDate ,      
                          InsertedDate ,      
                          UserId ,      
                          SerialNo ,      
                          PlantId      
                        )      
                VALUES  ( @CoreId , -- CoreId - uniqueidentifier      
                          @CurrentStock , -- CurrentStock - numeric      
                          @TransactionQty , -- TransactionQty - numeric      
                          'Core production' , -- Tagging - varchar(50)      
                          'Edit' , -- Process - varchar(50)      
                          @CoreProductionId , -- ProcessCode - varchar(max)      
                          @Date , -- ProcessDate - datetime      
                          GETDATE() , -- InsertedDate - datetime      
                          @ModifiedBy , -- UserId - int      
                          @SerialNo ,  -- SerialNo - int      
                          @PlantId      
                        )      
                 
                UPDATE  dbo.CoreProduction      
                SET     CoreId = @CoreId ,      
                        CoreQty = @CoreQty ,      
                        OKQty = @OKQty ,      
                        RejectedQty = @RejectedQty ,      
                        ReasonId = @ReasonId ,      
                        CoreWeight = @CoreWeight ,      
                        OkWeight = @OkWeight ,      
                        RejectedWeight = @RejectedWeight ,      
                        ModifiedBy = @ModifiedBy ,      
                        ModifiedOn = @ModifiedOn ,      
                        SandWeight = @SandWeight_Prod ,      
                        NewSandWeight = @NewSandWeight_Prod       
                WHERE   CoreProductionId = @CoreProductionId      
                   	
				-----reason xml -----------
				delete from CoreRej where CoreProductionId = @CoreProductionId   
				DECLARE ReasonXMLCursor CURSOR      
				FOR      
                SELECT  Node.value('(ReasonId)[1]',      
                                   'int') AS 'ReasonId' ,                                 
						Node.value('(Qty)[1]',      
                                   'int') AS 'Qty'   
                FROM    @ReasonXML.nodes('/DocumentElement/ReasonXML')      
                        AS TEMPXML ( Node )       
  
				OPEN ReasonXMLCursor;      
				FETCH NEXT FROM ReasonXMLCursor INTO @ReasonId,@RejectedQty 
                      
				WHILE ( @@FETCH_STATUS = 0 )      
				BEGIN
					INSERT INTO CoreRej (CoreRejectionId,
							PatternId,
							CoreId,
							RejQty,
							ReasonID,
							CreatedBy,
							CreatedOn,
							IsDeleted
							, PlantId
							, EntityId,
							CoreProductionId)
					VALUES (NEWID(), cast(cast(0 as binary) as uniqueidentifier), @CoreId, @RejectedQty, 
							@ReasonId, @ModifiedBy , @Date, 0, @PlantId, @EntityId,@CoreProductionId)
				
					FETCH NEXT FROM ReasonXMLCursor INTO @ReasonId,@RejectedQty 
				END
				CLOSE ReasonXMLCursor      
				DEALLOCATE ReasonXMLCursor    
            
				------Reason Xml delete ---	
					   
              -- This block only works for BOQ Consumption         
                DECLARE SandConsumption CURSOR      
                FOR      
                    SELECT  Node.value('(PurchaseItemID )[1]',      
                                       'uniqueidentifier') AS 'PurchaseItemID' ,      
                            Node.value('(ConsumedQty )[1]', 'float') AS 'ConsumedQty' ,      
                            Node.value('(Consumption )[1]', 'float') AS 'Consumption' ,      
                            Node.query('BatchDetails/*') AS 'BatchDetails'      
                    FROM    @StockXML.nodes('/DocumentElement/StockXML')      
                            AS TEMPXML ( Node )       
      
                OPEN SandConsumption;      
                FETCH NEXT FROM SandConsumption INTO @PurchaseItemID,      
                    @OldConsumeQty, @updateConsumption, @BatchDetails      
                WHILE ( @@FETCH_STATUS = 0 )      
                    BEGIN      
                          
           set @OldConsumeQty = (select top 1 isnull(ConsumedQty,0) as consumedQty from CoreSandConsumption where PurchaseItemID = @PurchaseItemID and       
            CoreProductionID = @CoreProductionId)      
                        SET @ConsumedQty = ( @updateConsumption      
                                             - @OldConsumeQty );      
                        IF EXISTS ( SELECT  CoreProductionID      
                                    FROM    CoreSandConsumption      
                                    WHERE   PurchaseItemID = @PurchaseItemID      
                                            AND CoreProductionID = @CoreProductionId )      
                            BEGIN      
                                           
                                UPDATE  CoreSandCOnsumption      
                                SET     ConsumedQty = ConsumedQty      
                                        + @ConsumedQty      
                                WHERE   PurchaseItemID = @PurchaseItemID      
                                        AND CoreProductionID = @CoreProductionId 
                                
                                set @CoreConsumptionID = (select consumptionId from CoreSandConsumption Where  PurchaseItemID = @PurchaseItemID      
                                        AND CoreProductionID = @CoreProductionId  )  
                                           
                            END      
                        ELSE      
                            BEGIN  
								set @CoreConsumptionID = NEWID()          
                                INSERT  INTO CoreSandConsumption      
                                        ( ConsumptionID ,      
                                          PurchaseItemID ,      
                                          ConsumedQty ,      
                                          CoreProductionID      
                                        )      
                                VALUES  ( @CoreConsumptionID,     
										@PurchaseItemID ,      
                                          @ConsumedQty ,      
                                          @CoreProductionId      
                                        )             
                        END  
                        
                        
                    set @IsReturnSand = (Select IsReturnSand from PurchaseItemMaster where PurchaseItemId = @PurchaseItemID and IsDeleted = 0)
                    
                    IF @BatchDetails IS NOT NULL AND @IsReturnSand = 0
                    begin
                    
                       IF EXISTS(
                       select 
                        *
                       from
                        FloorBatchWiseStock R,
                        @BatchDetails.nodes('/DocumentElement/BatchDetails')  
                                            AS TEMPXML ( Node )
                                            where 
                                            R.RawBatchId = Node.value('(RawBatchId )[1]','int')
                                            and
                                            R.PlantId = @PlantId
                                            and
                                            R.EntityId = @EntityID 
                                            and
                                            (Node.value('(TransactionQty )[1]','float')) > R.Stock
                                            and
                                            Node.value('(TransactionQty )[1]','float') <> 0
                                            )
                                            BEGIN
                                                
                                                ROLLBACK TRANSACTION
					                            RETURN -2
					              
                                            END
                                            
                                            
                       
                    
                    end  
                                              
                                  
                        EXEC BatchWiseConsumptionEntry @BatchDetails = @BatchDetails,      
                            @ConsumptionID = 0,      
                            @ReferenceID = @CoreProductionId      
                                  
                            
                                  
                               
                                  
                        if(@IsReturnSand = 0)      
                        BEGIN     
							delete from @result
							INSERT  INTO @result
									( returnvalue
									)

						   EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemID, -- uniqueidentifier      
							@StockToAdd = @ConsumedQty, -- float      
							@Tagging = 'CONSUMPTION', -- varchar(50)      
							@Process = 'Edit', -- varchar(50)      
							@ProcessCode = @CoreProductionId, -- varchar(max)      
							@ProcessDate = @Date, -- datetime      
							@UserID = @CreatedBy, -- bigint      
							@IsInwardBatchWise = @IsInwardBatchWise,      
							@BatchDetails = @BatchDetails,      
							@ConsumptionMethod = @ConsumptionMethod                                         
							 , @EntityId = @EntityID      
							 , @PlantId = @PlantId     
							IF ( @@Error <> 0
                                     OR ( ( SELECT  returnvalue
                                            FROM    @result
                                          ) = -7 )
                                   )
                                    BEGIN
                                        ROLLBACK TRANSACTION
                                        RETURN -7
                                    END
                        END                 
                        
                        set @ConsumedQty = (select ConsumedQty from CoreSandConsumption Where  ConsumptionID = @CoreConsumptionID)
                        exec dbo.ConsumptionTotalCost
							@PurchaseItemId = @PurchaseItemID,
							@PageType = 1,
							@ConsumptionQty = @ConsumedQty,
							@ReferenceId = @CoreProductionId,
							@MoldCoreConsumptionId = @CoreConsumptionID,
							@IsInwardBatchWise = @IsInwardBatchWise,
							@Date = @Date,
							@PlantId = @PlantId
							 
								
                        FETCH NEXT FROM SandConsumption INTO @PurchaseItemID,      
                            @OldConsumeQty, @updateConsumption, @BatchDetails      
                    END      
                CLOSE SandConsumption      
                DEALLOCATE SandConsumption      
                            -- Block end          
                                  
                            FETCH NEXT FROM CoreProductionCursor INTO @CoreQty , @CoreWeight , @OKQty , @OkWeight ,  @RejectedQty , @RejectedWeight ,      
       @CoreMasterID, @CoreId ,  @ReasonId ,@StockXML,@SandWeight_Prod , @NewSandWeight_Prod      
       ,@CoreProductionId      ,@ReasonXML 
                    END      
                CLOSE CoreProductionCursor      
                DEALLOCATE CoreProductionCursor           
                      
                    
                  -- Added by Nikunj 09-12-2019           
                 -- Planning Reason Delay Details      
                 DECLARE PlanningReasonDelayDetail CURSOR            
                FOR            
                    SELECT  Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,        
       Node.value('(PatternId )[1]', 'uniqueidentifier') AS 'PatternId' ,       
                            Node.value('(Result )[1]', 'int') AS 'Result',      
                            Node.value('(PlanDate )[1]', 'datetime') AS 'PlanDate' ,            
                            Node.value('(ActualDate )[1]', 'datetime') AS 'ActualDate' ,                                     
                            Node.value('(PlanQty )[1]', 'int') AS 'PlanQty' ,      
                            Node.value('(ActualQty )[1]', 'int') AS 'ActualQty',      
                            Node.value('(NotMatchedDate )[1]', 'int') AS 'NotMatchedDate',      
                            Node.value('(NotMatchedQty )[1]', 'int') AS 'NotMatchedQty'  ,      
                            Node.value('(ReqCore )[1]', 'int') AS 'ReqCore' ,      
                            Node.value('(PlanId )[1]', 'uniqueidentifier') AS 'PlanId' ,      
                            Node.value('(CoreBoxID )[1]', 'uniqueidentifier') AS 'CoreBoxID' ,      
                            Node.value('(CoreMasterID )[1]', 'uniqueidentifier') AS 'CoreMasterID'       
                    FROM    @PlanningReasonDelayXML.nodes('/DocumentElement/PlanningReasonXMLTable')            
                            AS TEMPXML ( Node )             
                            
              OPEN PlanningReasonDelayDetail;          
                            
                FETCH NEXT FROM PlanningReasonDelayDetail INTO @CastingId,            
          @PatternId, @ReasonId        
        , @PlanDate , @ActualDate , @PlanQty , @ActualQty       
        , @NotMatchedDate , @NotMatchedQty      
        , @ReqMoldQty ,@PlanId      
        ,@CoreBoxID , @CoreMasterID      
                               
                WHILE ( @@FETCH_STATUS = 0 )            
                    BEGIN             
                              
                          if exists ( select * from  PlanningDelayCoreDetail where PlanMasterId = @PlanMasterID and castingid = @CastingId and isnull(PlanId,(CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))) = @PlanId and CoreBoxID =@CoreBoxId and CoreMasterID = @CoreMasterID)      
                        begin      
                              
       set @TotlTypeQty = (select isnull(SUM(PlanningDelayCoreDetail.CoreQty),0) as MoldQty from  PlanningDelayCoreDetail where PlanMasterId = @PlanMasterID and castingid = @CastingId and CoreProductionMasterId is not null and isnull(PlanId,(CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))) = @PlanId and CoreBoxID =@CoreBoxId and CoreMasterID = @CoreMasterID)      
       if exists ( select * from  PlanningDelayCoreDetail where PlanMasterId = @PlanMasterID and castingid = @CastingId and CoreProductionMasterId = @CoreProductionMasterId and isnull(PlanId,(CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))) = @PlanId and CoreBoxID =@CoreBoxId and CoreMasterID = @CoreMasterID)      
       begin      
             
        set @DelayId =  ( select top 1 DelayId from PlanningDelayCoreDetail where PlanMasterId = @PlanMasterID and castingid = @CastingId and CoreProductionMasterId = @CoreProductionMasterId and isnull(PlanId,(CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)))
  
    
 = @PlanId and CoreBoxID =@CoreBoxId and CoreMasterID = @CoreMasterID);      
        update PlanningDelayCoreDetail       
        set       
         CoreProductionMasterId = @CoreProductionMasterId,      
         CoreDate = @ActualDate,      
         PatternId = @PatternId,      
         CoreQty = isnull(CoreQty,0) + (@ActualQty - @TotlTypeQty),      
         Core_ReasonId = @ReasonId      
         , Core_PlanQty = @ReqMoldQty      
         , PlanId = @PlanId      
        where DelayId = @DelayId      
       end       
       else      
       begin              
           insert into PlanningDelayCoreDetail (PlanMasterId , castingid,PlanDate,PlanQty,CoreProductionMasterId,CoreDate,PatternId,CoreQty,Core_ReasonId,Core_PlanQty,PlanId,CoreBoxID,CoreMasterID)      
                 values(@PlanMasterID,@CastingId,@PlanDate,@PlanQty,@CoreProductionMasterId,@ActualDate,@PatternId,(@ActualQty - @TotlTypeQty),@ReasonId,@ReqMoldQty,@PlanId,@CoreBoxId,@CoreMasterID)         
                        
       end      
             
                        end      
                        else      
                        begin          
        insert into PlanningDelayCoreDetail (PlanMasterId , castingid,PlanDate,PlanQty,CoreProductionMasterId,CoreDate,PatternId,CoreQty,Core_ReasonId,Core_PlanQty,PlanId,CoreBoxID,CoreMasterID)      
                 values(@PlanMasterID,@CastingId,@PlanDate,@PlanQty,@CoreProductionMasterId,@ActualDate,@PatternId,(@ActualQty - @TotlTypeQty),@ReasonId,@ReqMoldQty,@PlanId,@CoreBoxID,@CoreMasterID)      
                   
             end         
                              
                             
       --                 if exists ( select * from  PlanningDelayCoreDetail where PlanMasterId = @PlanMasterID and castingid = @CastingId)      
       --                 begin      
       --set @DelayId =  ( select DelayId from PlanningDelayCoreDetail where PlanMasterId = @PlanMasterID and castingid = @CastingId);      
       --update PlanningDelayCoreDetail       
       --set       
       -- CoreProductionMasterId = @CoreProductionMasterId,      
       -- CoreDate = @ActualDate,      
     -- PatternId = @PatternId,      
       -- CoreQty = @ActualQty,      
       -- Core_ReasonId = @ReasonId      
       --where DelayId = @DelayId      
       --                 end      
       --                 else      
       --                 begin         
       -- insert into PlanningDelayCoreDetail (PlanMasterId , castingid,PlanDate,PlanQty,CoreProductionMasterId,CoreDate,PatternId,CoreQty,Core_ReasonId)      
       --        values(@PlanMasterID,@CastingId,@PlanDate,@PlanQty,@CoreProductionMasterId,@ActualDate,@PatternId,@ActualQty,@ReasonId)      
                   
       --      end      
                                                                
                        FETCH NEXT FROM PlanningReasonDelayDetail INTO @CastingId,            
        @PatternId, @ReasonId      
        ,@PlanDate , @ActualDate , @PlanQty , @ActualQty      
        , @NotMatchedDate , @NotMatchedQty      
        , @ReqMoldQty ,@PlanId      
        ,@CoreBoxID , @CoreMasterID      
                    END             
                            
                CLOSE PlanningReasonDelayDetail;            
                DEALLOCATE PlanningReasonDelayDetail;       
                 -- End                  
          END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	 IF CURSOR_STATUS('global','CoreProductionCursor') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','CoreProductionCursor') > -1
				   BEGIN
					CLOSE CoreProductionCursor
				   END
				 DEALLOCATE CoreProductionCursor
				END	
			IF CURSOR_STATUS('global','ReasonXMLCursor') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','ReasonXMLCursor') > -1
				   BEGIN
					CLOSE ReasonXMLCursor
				   END
				 DEALLOCATE ReasonXMLCursor
				END	
			IF CURSOR_STATUS('global','SandConsumption') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','SandConsumption') > -1
				   BEGIN
					CLOSE SandConsumption
				   END
				 DEALLOCATE SandConsumption
				END	
			IF CURSOR_STATUS('global','PlanningReasonDelayDetail') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','PlanningReasonDelayDetail') > -1
				   BEGIN
					CLOSE PlanningReasonDelayDetail
				   END
				 DEALLOCATE PlanningReasonDelayDetail
				END	
			 return -1 
			END	
        END Catch
		Commit TRANSACTION	
		return  1 
            END        
     
         IF @Parameter = 8     
            BEGIN      
            SELECT
			EmployeeDetails.EmployeeId as OperatorID,(EmployeeDetails.EmployeeName + ' (' + EmployeeDetails.EmployeeCode + ')') as OperatorName
			from EmployeeDetails
			inner join EmployeeDepartmentMapping on EmployeeDepartmentMapping.EmployeeID = EmployeeDetails.EmployeeId
			inner join SystemDepartment on SystemDepartment.DepartmentID = EmployeeDepartmentMapping.DepartmentID
			INNER JOIN Helper ON Helper.MolderId = EmployeeDetails.EmployeeId and helpertype=1
			where 
					SystemDepartment.DepartmentCode IN ('CORE')
					and EmployeeDetails.IsDelete = 0 AND EmployeeDetails.isActive = 1
					and [Helper].Id = @CoreProductionMasterId
			group by EmployeeDetails.EmployeeId,EmployeeDetails.EmployeeName, EmployeeDetails.EmployeeCode
			order by EmployeeDetails.EmployeeName
			
			    
            END   
END

GO
