USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchCastingCodeNameAccordingtoRouteCardAndHTCycle]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[FetchCastingCodeNameAccordingtoRouteCardAndHTCycle]
    @processId uniqueidentifier = Null ,
    @CycleID int = 0 ,
    @EntityID INT = 0 ,
    @PlantIdString VARCHAR(MAX) = Null
AS
    BEGIN        
		--- This will fetch casting which is mapped with particular process and rest which is not having route card
	
	Declare @NonMandatory Bit = 0
	
	SELECT @NonMandatory = NonMandatory from HeatTreatmentCycle where CycleId = @CycleID
	
		Select CastingId , CastingCode from (
			Select CastingMaster.CastingId , CastingCode 
			from CastingMaster Inner join CastingCompanyMapping ON CastingCompanyMapping.CastingId = CastingMaster.CastingId
			 where IsDeleted = 0 
			 AND 
			 CastingCompanyMapping.CompanyId = @EntityID
			  And 
			  ParentID IS NULL AND CastingMaster.CastingId NOT in 
			(
				Select Distinct Castingid from CastingProcess
			)			
			UNION
			Select CastingMaster.CastingId , CastingCode from CastingMaster Inner join CastingCompanyMapping ON CastingCompanyMapping.CastingId = CastingMaster.CastingId
			 where IsDeleted = 0 AND CastingCompanyMapping.CompanyId = @EntityID AND CastingMaster.CastingId in 
			(
				Select Distinct Castingid from CastingProcess where ProcessID = @processId and ProcessType != 1
			)
			OR 
			ParentID IN
			(
				Select Distinct Castingid from CastingProcess where ProcessID = @ProcessID AND CastingCompanyMapping.CompanyId = @EntityID and ProcessType != 1
			)
		) as CastingCOde 
		where 
		(CastingId in 
		(
			Select Distinct CastingId from CastingMetal where metalid in 
			(
				Select metalid from HeatTreatMentCycleMapping where  CycleId =@CycleID --and EntityID = @EntityID
			) 
		) OR  @NonMandatory = 1)
	  AND
	  ( @PlantIdString IS NULL
              OR @PlantIdString = ''
              OR CastingCOde.CastingId IN (
              SELECT    CastingId
              FROM      dbo.PlantCastingMapping
                        INNER JOIN dbo.SplitString(@PlantIdString,
                              ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
            )
		
		
        
        Select Distinct CastingName from (
          
		Select Distinct CastingName,CastingMaster.CastingId from CastingMaster Inner join CastingCompanyMapping ON CastingCompanyMapping.CastingId = CastingMaster.CastingId
		where IsDeleted = 0 AND CastingCompanyMapping.CompanyId = @EntityID And ParentID IS NULL AND CastingMaster.CastingId NOT in 
		(
			Select Distinct Castingid from CastingProcess
		)
		
		UNION
		Select Distinct CastingName,CastingMaster.CastingId from CastingMaster Inner join CastingCompanyMapping ON CastingCompanyMapping.CastingId = CastingMaster.CastingId where IsDeleted = 0 AND CastingCompanyMapping.CompanyId = @EntityID AND CastingMaster.CastingId in 
		(
			Select Distinct Castingid from CastingProcess where ProcessID = @processId and ProcessType != 1
		)
		OR 
			ParentID IN
			(
				Select Distinct Castingid from CastingProcess where ProcessID = @processID and ProcessType != 1
			)
	) as CastingName where 
	(CastingId in 
		(
			Select Distinct CastingId from CastingMetal where metalid in 
			(
				Select metalid from HeatTreatMentCycleMapping where CycleId =@CycleID --and EntityID = @EntityID
			)
		)	OR  @NonMandatory = 1)
        
         AND ( @PlantIdString IS NULL
              OR @PlantIdString = ''
              OR CastingName.CastingId IN (
              SELECT    CastingId
              FROM      dbo.PlantCastingMapping
                        INNER JOIN dbo.SplitString(@PlantIdString,
                              ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
            )
    END
GO
