USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CastingWiseComparisonAnalysis]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[CastingWiseComparisonAnalysis]
(
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    @CustomerID UNIQUEIDENTIFIER = NULL ,
    @CustomerName VARCHAR(MAX) = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @CastingName VARCHAR(MAX) = NULL ,
    @MetalId BIGINT = NULL ,
    @MetalName VARCHAR(MAX) = NULL ,
    @IsProductionDate BIT = null ,
    @MetalType VARCHAR(100) = NULL,
	@PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
)
AS
    BEGIN 

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
        SELECT  ROW_NUMBER() OVER ( ORDER BY ProductionDate, CastingName ASC ) AS [RowNo] ,
                Months , ProductionQty , ProductionWeight ,
                Sum(RejectionQty ) as RejectionQty, Sum(RejectionWeight) as RejectionWeight ,
                Sum(CRRejectionQty ) as CRRejectionQty, Sum(CRRejectionWeight) as CRRejectionWeight ,
                ( CASE WHEN ProductionWeight = 0 THEN 0 ELSE ROUND(( 100 * RejectionWeight / ProductionWeight ), 2) END ) PerOfRejection ,
                CastingName , CastingCode
        FROM    ( 
			SELECT  DATENAME(MONTH, productionDate) + '/' + CONVERT(VARCHAR(5), YEAR(ProductionDate)) AS Months ,
                    YEAR(productionDate) AS Year ,
                    SUM(ISNULL(productionQty, 0)) AS ProductionQty ,
					CONVERT(DECIMAL(11, 3), ISNULL(ROUND(( SUM(productionqty * perpcweight) ), 2, 1), 0)) AS ProductionWeight ,
                    ISNULL(Rejection.RejectionQty, 0) AS RejectionQty ,
					CONVERT(DECIMAL(11, 3), ISNULL(ROUND(Rejection.RejectionWeight, 2, 1), 0)) AS RejectionWeight ,
					ISNULL(Rejection.CRRejectionQty, 0) AS CRRejectionQty ,
					CONVERT(DECIMAL(11, 3), ISNULL(ROUND(Rejection.CRRejectionWeight, 2, 1), 0)) AS CRRejectionWeight ,
					DATEADD(month, DATEDIFF(month, 0, ProductionDate), 0) ProductionDate ,
					CastingName , CastingCode
            FROM    (
				SELECT	ProdTbl.* , KO1.productionqty, KO1.perpcweight , KO1.castingid
				FROM	(
					SELECT	PB1.batchID, PB1.ProductionDate, PB1.MetalID
					FROM	ProductionBatch AS PB1
					WHERE	ProductionDate BETWEEN @StartDate AND @EndDate
							AND PB1.IsDeleted = 0
							AND ( @MetalId IS NULL OR PB1.MetalId = @MetalId )
							AND PB1.EntityID = @EntityId
				) AS ProdTbl
				INNER JOIN knockout AS KO1 ON KO1.batchid = ProdTbl.batchID
								AND KO1.IsDeleted = 0
								AND ( @CastingId IS NULL OR KO1.CastingId = @CastingId )
								AND ( @PlantIdString IS NULL OR @PlantIdString = ''
									OR KO1.CastingId IN ( 
										SELECT CastingId FROM dbo.PlantCastingMapping where PlantId in (SELECT Item FROM @Plant) )
								)

			) AS ProdKnckTbl
				INNER JOIN CastingMaster CM1 ON CM1.CastingId = ProdKnckTbl.castingid
                INNER JOIN MetalMaster MM1 ON MM1.MetalId = ProdKnckTbl.MetalID
                                                AND MM1.IsDeleted = 0
				--inner join CustomerPatternMapping CPM1 ------------------------------------(2)
				--on CPM1.patternid = KO1.patternid and CPM1.IsDeleted = 0
                LEFT JOIN ( 
					SELECT  (CASE WHEN ( @IsProductionDate = 1 ) 
								THEN DATENAME(MONTH, ProductionDate) + '/' + CONVERT(VARCHAR(5), YEAR(ProductionDate)) 
								ELSE DATENAME(MONTH, RejectionDate) + '/' + CONVERT(VARCHAR(5), YEAR(RejectionDate))
							END) AS Months,
                            case when IsInHouseRej = 1 then  SUM(ISNULL(rejQty, 0)) end AS RejectionQty ,
							case when IsInHouseRej = 1 then  SUM(ISNULL(CFR.weight, 0))end AS RejectionWeight ,
							case when IsInHouseRej = 0 then  SUM(ISNULL(rejQty, 0)) end AS CRRejectionQty ,
							case when IsInHouseRej = 0 then  SUM(ISNULL(CFR.weight, 0))end AS CRRejectionWeight ,
							CM.CastingID
					FROM    CastingFinalRejection CFR
							INNER JOIN ProductionBatch PB ON PB.batchID = CFR.ProductionBatchID
							INNER JOIN CastingMaster CM ON CM.CastingId = CFR.CastingID
							INNER JOIN MetalMaster MM ON MM.MetalId = CFR.MetalID
                                                        AND MM.IsDeleted = 0
                    WHERE   ( ( @IsProductionDate = 1
                                AND ProductionDate BETWEEN CONVERT(DATETIME, @StartDate, 103)
                                            AND
                                            CONVERT(DATETIME, @EndDate, 103)
                                )
                                OR ( @IsProductionDate = 0
                                    AND RejectionDate BETWEEN CONVERT(DATETIME, @StartDate, 103)
                                            AND
                                            CONVERT(DATETIME, @EndDate, 103)
                                    )
                            )
                            AND ( @CastingId IS NULL
                                    OR CM.CastingId = @CastingId
                                )
                            AND ( @CastingName IS NULL
                                    OR CM.CastingName = @CastingName
                                )
                            AND ( @MetalId IS NULL
                                    OR MM.MetalId = @MetalId
                                )
                            AND ( @MetalName IS NULL
                                    OR MM.MetalName = @MetalName
                                )
                            AND ( @MetalType IS NULL
                                    OR MM.MetalType = @MetalType
                                )
                            AND ( @CustomerId IS NULL
                                    OR CM.Dieid IN (
                                    SELECT  patternid
                                    FROM    CustomerPatternMapping
                                    WHERE   customerID = @CustomerID )
                                )
                            AND CFR.RejQty > 0
                            AND PB.IsDeleted = 0
                            AND ( @PlantIdString IS NULL OR @PlantIdString = ''
                                    OR CFR.PlantId in (SELECT Item FROM @Plant))
                            AND CFR.EntityID = @EntityId
                                GROUP BY CASE WHEN ( @IsProductionDate = 1 )
                                                THEN DATENAME(MONTH, ProductionDate) + '/' + CONVERT(VARCHAR(5), YEAR(ProductionDate))
                                                ELSE DATENAME(MONTH, RejectionDate) + '/' + CONVERT(VARCHAR(5), YEAR(RejectionDate))
                                            END , CM.CastingID, IsInHouseRej
                ) Rejection ON Rejection.CastingID = CM1.CastingId
							and Rejection.Months = DATENAME(MONTH, ProductionDate) + '/' + CONVERT(VARCHAR(5), YEAR(ProductionDate))
			WHERE	( @CastingName IS NULL OR CM1.CastingName = @CastingName )
					AND ( @MetalName IS NULL OR MM1.MetalName = @MetalName )
					AND ( @MetalType IS NULL OR MM1.MetalType = @MetalType )
					AND ( @CustomerId IS NULL-----------------------(1')
							OR Dieid IN ( SELECT PatternId FROM CustomerPatternMapping WHERE CustomerId = @CustomerId )
						) 
			GROUP BY  DATENAME(MONTH, ProductionDate), MONTH(ProductionDate) , YEAR(ProductionDate) ,
						Rejection.RejectionQty , Rejection.RejectionWeight , Rejection.CRRejectionQty , Rejection.CRRejectionWeight ,
						DATEADD(month, DATEDIFF(month, 0, productionDate),0) , CastingName , CM1.CastingId , CastingCode , MM1.MetalId
		) AS H
		 group by  Months , ProductionQty , ProductionWeight , ProductionDate, RejectionWeight,
					Year, CastingName , CastingCode
        ORDER BY Year , ProductionDate          
		--OPTION(RECOMPILE)
    END
                      
-----------------------------------------------------------

--select * from knockout
--select * from ProductionBatch
--select * from CastingFinalRejection 
--select * from CustomerReturnrejmgnt
--select * from Inhouserejmgnt
--select * from RejectionMaster

--select CastingName, month(ProductionDate) ProductionMonthInDigit, 
--convert(varchar(3), ProductionDate, 107) ProductionMonth, YEAR(ProductionDate) ProductionYear,
--SUM(ISNULL(KO.productionqty, 0)) ProductionQty, 
--SUM(ISNULL(KO.productionqty, 0)*ISNULL(KO.perpcweight, 0)) ProductionWeight
--from knockout KO
--inner join ProductionBatch PB
--on PB.batchID=KO.batchid
--inner join CastingMaster CM
--on CM.CastingId = KO.castingid
--group by CastingName, convert(varchar(3), ProductionDate, 107), YEAR(ProductionDate),  month(ProductionDate)
--order by CastingName

--select CastingName, SUM(ISNULL(RejQty, 0)) RejectedQty, SUM(ISNULL(Weight, 0)*ISNULL(RejQty, 0)) RejectionWeight
--from CastingFinalRejection CFR
--inner join CastingMaster CM
--on CM.CastingId = CFR.CastingID
--group by CastingName
--order by CastingName

----------------


--select KO.CastingId, CastingName, month(ProductionDate) ProductionMonthInDigit, 
--convert(varchar(3), ProductionDate, 107) ProductionMonth, YEAR(ProductionDate) ProductionYear,
--SUM(ISNULL(KO.productionqty, 0)) ProductionQty, 
--SUM(ISNULL(KO.productionqty, 0)*ISNULL(KO.perpcweight, 0)) ProductionWeight,
--ISNULL(CFR.RejectedQty, 0) RejectedQty, ISNULL(CFR.RejectionWeight, 0) RejectionWeight
--from knockout KO
--inner join ProductionBatch PB
--on PB.batchID=KO.batchid and ProductionDate between '2017-05-12' and '2017-07-12'
--inner join CastingMaster CM
--on CM.CastingId = KO.castingid
--left join (
--	select CastingID, month(RejectionDate) ProductionMonthInDigit, 
--	convert(varchar(3), RejectionDate, 107) ProductionMonth, YEAR(RejectionDate) ProductionYear,
--	SUM(ISNULL(RejQty, 0)) RejectedQty, 
--	SUM(ISNULL(Weight, 0)*ISNULL(RejQty, 0)) RejectionWeight
--	from CastingFinalRejection 
--	where RejectionDate between '2017-05-12' and '2017-07-12'
--	group by CastingID, month(RejectionDate), convert(varchar(3), RejectionDate, 107), YEAR(RejectionDate)
--) CFR
--on CFR.CastingID = KO.castingid and CFR.ProductionMonth=convert(varchar(3), ProductionDate, 107)
--and ProductionYear = YEAR(ProductionDate)
--where KO.IsDeleted=0 and PB.IsDeleted = 0 and CM.IsDeleted = 0
--group by KO.CastingId, CastingName, convert(varchar(3), ProductionDate, 107), YEAR(ProductionDate), 
--month(ProductionDate), ISNULL(CFR.RejectedQty, 0), ISNULL(CFR.RejectionWeight, 0)
--order by CastingName
GO
