USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ManageRejectionEntry]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ManageRejectionEntry]
	-- Add the parameters for the stored procedure here
	@REJECTIONID BIGINT = 0, 
    @CASTINGID UNIQUEIDENTIFIER = NULL ,    
    @KNOCKOUTID BIGINT = 0 ,
    @OKQTY FLOAT = 0 ,
    @REJQTY FLOAT = 0  ,
    @MetalID BIGINT  = 0,      
    @CreatedOn DATETIME = NULL ,      
    @CreatedBy INT = 0 ,      
    @EntityId INT = 0 ,
    @BatchID BIGINT = 0,
    @ReasonID BIGINT = 0,
    @JOID INT = 0 ,      
    @RejectionDate DATETIME = NULL,   
    @PartId UNIQUEIDENTIFIER = null,
    @ReworkQty int = 0, 
    @Remarks nvarchar(Max) = null,
    @IsQcInspection bit = 0   , 
    @PlantId int =0 ,      
    @RejInwardID BIGINT = 0 ,      
    @InwardID BIGINT = 0  ,      
    @isHeatwise BIT = NULL ,
    @RejectedWeight FLOAT = 0 ,
    @CastingNetWeight float  = 0,      
    @InhouseProcessID UNIQUEIDENTIFIER = NULL ,      
    @OperatorId BIGINT = 0 ,      
    @Stage BIGINT = NULL,      
    @SandTypeId INT = 0,   
    @EmployeeId int = 0,      
    @EquipmentId UNIQUEIDENTIFIER=null,
	@ParameterDetailId int = 0 ,
	@CastingDimRejTransId int = 0 ,
	@SeriesType int = 0,
	@InspectionQty int = 0,
	@CastingDimId int = 0,
	@CastingDimInspReasonWiseRejID int = 0,      
    @ReduceOKQty INT = 0, 
    @CastingStockProcessId UNIQUEIDENTIFIER = null,      
    @IsCastCodeEnable BIT = NULL,
    @HeatCodeId  bigint = 0 ,
    @InTransit bit = 0,
    @AddOnId1 int = 0 
  , @Addreworkflg bit = 0 
  , @ReworkXML XML = NULL,
  @ProcessId uniqueidentifier = null ,
  @JrTranseId  BIGINT = 0
AS
BEGIN
	DECLARE @result int = 0 
	declare @IsRework  int=0
			,@HHeatCodeID INT = 0
			,@PendingQty  int=0
			,@Rejectionqty INT = 0
			,@ReworkProcessId  UNIQUEIDENTIFIER = NULL 
			,@OrderTranseId UNIQUEIDENTIFIER = NULL
			,@PLId int = 0
			,@PId UNIQUEIDENTIFIER = NULL
			,@heatCodeXML AS XML = NULL 
	BEGIN TRY
		 DEClare	@ProcessDate DATETIME ,      
					@CastCodeNo VARCHAR(50)
      
		 INSERT  INTO inhouserejmgnt      
					( RejectionID ,      
					  CastingID ,      
					  KnockoutID ,      
					  OKQty ,      
					  RejQty ,      
					  MetalID ,      
					  CreatedBy ,      
					  CreatedOn ,      
					  EntityID ,      
					  BatchID ,      
					  ReasonID ,      
					  JOID ,      
					  RejectionDate ,      
					  PartId  ,
					  ReworkQty ,
					  Remarks,
					  IsFromInHouseQC,
					  PlantId,
					  JRTranId
					)      
			VALUES  ( @REJECTIONID ,      
					  @CASTINGID ,      
					  @KNOCKOUTID ,      
					  @OKQTY ,      
					  @REJQTY ,      
					  @MetalID ,      
					  @CreatedBy ,      
					  @CreatedOn ,      
					  @EntityID ,      
					  @BatchID ,      
					  @ReasonID ,      
					  @JOID ,      
					  @RejectionDate ,      
					  @PartId  ,
					  @ReworkQty,
					  @Remarks ,
					  ISNULL(@IsQcInspection,0),
					  @PlantId  ,
					  @JrTranseId
					)  
       
		set  @RejInwardID = ( SELECT    SCOPE_IDENTITY() ) 
		
        UPDATE  RejectionMaster      
                    SET     IsInward = 1      
                    WHERE   RejectionID = @REJECTIONID      
          
             
        IF ( ( SELECT   SUM(RejectQty) - SUM(OKQty)      
               FROM     dbo.RejectionMaster      
                        INNER JOIN dbo.Inhouserejmgnt ON dbo.Inhouserejmgnt.RejectionID = dbo.RejectionMaster.RejectionID      
               WHERE    RejectionMaster.knockoutid = @KNOCKOUTID      
             ) > 0 )      
            BEGIN      
                UPDATE  Knockout      
                SET     IsRejectionEntered = 0      
                WHERE   KnockoutID = @KNOCKOUTID      
            END      
                    
		SET @ProcessDate = @RejectionDate      

		SET @InwardId = ( SELECT   top 1 RejInwardID      
						  FROM      dbo.Inhouserejmgnt      
						  WHERE     RejectionID = @REJECTIONID      
						)      
	        
                                          
		 BEGIN      
                  
                SET @ReduceOKQty = -( @OKQTY + @REJQTY )     
               set @result = 0
                EXEC @result= [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @PartId,      
                    @MetalID = @MetalID, @StockToAdd = @OKQTY,      
                    @StockToRej = @ReduceOKQty,      
                    @ProcessID = @CastingStockProcessId,      
                    @Tagging = N'Manage Rej', @Process = N'Insert',      
                    @ProcessCode = @BatchID,      
                    @productionbatchid = @batchID,      
                    @ProcessDate = @ProcessDate,      
                    @IsCastCodeEnable = @IsCastCodeEnable,      
                    @RejectionID = @REJECTIONID,      
					 @HeatCodeId = @HeatCodeId,      
                    @UserID = @CreatedBy,
                    @PlantId =@PlantId,
					@EntityId =@EntityId,
					@InTransit =@InTransit,
					@AddOnId1=@AddOnId1      
                IF ( @@Error <> 0
                        OR ( @result = 1 )
                    )
                    BEGIN
						select -1
                        RETURN -1
                    END 
					
                IF @REJQTY > 0      
                    BEGIN      
                        SET @ProcessDate = ( SELECT    top 1  
                                                  dbo.ProductionBatch.ProductionDate      
                                             FROM dbo.ProductionBatch      
                                             WHERE      
                                                  batchID = @BatchId      
                                           )      
                                           
						set @RejectedWeight = (@CastingNetWeight *  @REJQTY)  
						set @result = 0 
                        EXEC @result = [dbo].[InwardAsRejection] @CastingID = @CASTINGID,      
                            @RejQty = @REJQTY,      
                            @Inhouse_ProcessID = @InhouseProcessID,      
                            @productionbatchid = @batchID,      
                            @MetalID = @MetalID,      
                            @ProcessID = @CastingStockProcessId,      
                            @CastCodeNo = @CastCodeNo,      
                            @weight = @RejectedWeight,      
                            @ReasonID = @ReasonID, @Stage = @Stage,      
                            @Date = @ProcessDate, @JOID = @JOID,      
                            @RejectionDate = @RejectionDate,      
                            @InwardId = @InwardId,      
                            @IsInHouseRej = 1,      
                            @OperatorId = @OperatorId,      
                            @SandTypeId = @SandTypeId,      
                            @PartId = @PartId,      
                            @HeatCodeId = @HeatCodeId ,
                            @EquipmentId=@EquipmentId,
                            @EmployeeId=@EmployeeId,
                            --casting dim isnpection 
                            @ParameterDetailId = @ParameterDetailId,
                            @CastingDimRejTransID= @CastingDimRejTransID,
                            @SeriesType = @SeriesType,
                            @InspectionQty = @InspectionQty,
                            @CastingDimId = @CastingDimId,
                             @PlantId =@PlantId,
                            @EntityId =@EntityId,
                            @CastingDimInspReasonWiseRejID = @CastingDimInspReasonWiseRejID   ,
							@JrTranseId = @JrTranseId
						IF ( @@Error <> 0
							OR ( @result = -1 )
							)
						BEGIN
							select -1
							RETURN -1
						END 
                    END          
            END      
			
		if @Addreworkflg = 1
		BEGIN
			DECLARE @NewIsCastCodeEnable BIT = NULL
			SET @NewIsCastCodeEnable = (CASE WHEN @IsCastCodeEnable = 1 THEN 'True' ELSE 'False' END);
			DECLARE Rejection1 CURSOR                                    
			FOR                                    
			SELECT  Node.value('(KnockoutID )[1]', 'bigint') AS 'KnockoutID' ,                                    
					Node.value('(RejectQty )[1]', 'int') AS 'RejectQty' ,                                  
					Node.value('(Weight )[1]', 'float') AS 'Weight' ,                                    
					Node.value('(ReasonID )[1]', 'int') AS 'ReasonID' ,                                    
					Node.value('(MetalID )[1]', 'bigint') AS 'MetalID' ,                              
					Node.value('(BatchID )[1]', 'bigint') AS 'BatchID' ,                                    
					Node.value('(HeatCodeId )[1]', 'bigint') AS 'HeatCodeId' ,                                    
					Node.value('(isHeatwise )[1]', 'BIT') AS 'isHeatwise' ,                                    
					Node.value('(ProcessId )[1]', 'uniqueidentifier') AS 'ProcessId' ,                                    
					Node.value('(PId )[1]', 'uniqueidentifier') AS 'PId' ,  --ProcessId For HeatWise                                    
					Node.value('(JOID )[1]', 'bigint') AS 'JOID' ,           
					Node.value('(CastingID )[1]', 'uniqueidentifier') AS 'CastingID' ,                                     
					--Node.query('CastCode/*') AS 'InnerXML',  
					Node.value('(IsRework )[1]', 'int') AS 'IsRework' ,  
					Node.value('(ReworkProcessId )[1]', 'uniqueidentifier') AS 'ReworkProcessId' ,  
					Node.value('(PendingQty )[1]', 'int') AS 'PendingQty'  ,  
					Node.value('(OrderTranseID )[1]', 'uniqueidentifier') AS 'OrderTranseID' ,
					Node.value('(EquipmentId )[1]', 'uniqueidentifier') AS 'EquipmentId' ,
					Node.value('(EmployeeId )[1]', 'int') AS 'EmployeeId',
					Node.value('(PlantId )[1]', 'int') AS 'PlantId',
					--Node.query('JONOReason/*') AS 'JONOReason',
					Node.query('heatCodeXML/*') AS 'heatCodeXML'                                            
			FROM    @ReworkXML.nodes('/DocumentElement/RejectionMaster')                                    
					AS TEMPXML ( Node )                                     
		OPEN Rejection1;                            
                                    
		FETCH NEXT FROM Rejection1 INTO @KnockoutID, @Rejectionqty, @RejectedWeight,                                    
			@ReasonID, @MetalID, @batchid,@HHeatCodeID, @isHeatwise, @ProcessId, @PId,                                    
			@JOID,@castingid    
			,@IsRework , @ReworkProcessId ,@PendingQty  ,@OrderTranseID ,@EquipmentId ,@EmployeeId,@PLId,@heatCodeXML                       
		WHILE ( @@FETCH_STATUS = 0 )                                    
			BEGIN     
				if @IsRework = 1
				BEGIN
					Set @RejectedWeight  = isnull((Select CastingNetWeight from CastingMetal
						Where castingId = @CastingId and MetalId = @MetalID and Isdeleted = 0 ),0)
						Set @RejectedWeight = @RejectedWeight * @PendingQty
				END 
				set @result= 0
				Exec @result= [dbo].[OnHoldRejectionEntry]
				@KnockoutID = @KnockoutID,@Rejectionqty= @Rejectionqty, @Weight= @RejectedWeight,                                    
				@ReasonID = @ReasonID, @Metal_ID = @MetalID, @batchid = @batchid,
				@HHeatCodeID = @HHeatCodeID, @IsHeatwise =@IsHeatwise, @ProcessId = @ProcessId, @PId = @PId,                                    
				@JOID =@JOID,@CastingID =@CastingID, 
				@IsRework = @IsRework , @ReworkProcessId = @ReworkProcessId ,@PendingQty =@PendingQty  ,
				@OrderTranseID = @OrderTranseID ,@EquipmentId =@EquipmentId ,@EmployeeId =@EmployeeId,
				@IsCastCodeEnable = @IsCastCodeEnable,@CreatedBY= @CreatedBY,@CreatedON= @CreatedON,
				@EntityId = @EntityId,@RejectionDate = @RejectionDate,@PageType = '0',
				@RejInwardId = @RejInwardId,@PlantId=@PLId, @heatCodeXML =@heatCodeXML 
				IF ( @@Error <> 0
					OR ( @result= -1 )
					)
				BEGIN
					select -1
					RETURN -1
				END 
                                  
			FETCH NEXT FROM Rejection1 INTO @KnockoutID, @Rejectionqty,                                    
				@RejectedWeight, @ReasonID, @MetalID, @batchid,@HHeatCodeID, @isHeatwise,                                    
				@ProcessId, @PId, @JOID,@castingid       
				,@IsRework , @ReworkProcessId ,@PendingQty  ,@OrderTranseID  ,@EquipmentId ,@EmployeeId,@PLId,@heatCodeXML                               
			END                                    
                                    
		CLOSE Rejection1;                                    
		DEALLOCATE Rejection1;  

			
			--delete from @result
			--	INSERT  INTO @result
			--				( returnvalue
			--				)
			--	exec dbo.SP_ONHold
			--	@RejectionTable = @ReworkXML,
			--	@PageType = '0',
			--	@CreatedBy = @CreatedBy,
			--	@CreatedOn = @CreatedOn,
			--	@isCastCodeEnable = @NewIsCastCodeEnable,
			--	@RejectionDate = @RejectionDate,
			--	@EntityID = @EntityID,
			--	@RejInwardId = @RejInwardId
			--	--@IsReworkFromCustomer = @IsReworkFromCustomer,
			--	--@CustomerReturnTransID = @CustomerReturnTransID,
			--	--@HeatCode = @HeatCode
			-- IF ( @@Error <> 0
   --                         OR ( ( SELECT  returnvalue
   --                             FROM    @result
   --                             ) = -1 )
   --                     )
   --                     BEGIN
			--				select -1
   --                         RETURN -1
   --                     END 
	
		END
	END TRY 
    BEGIN Catch
		select -1
		return -1
    END Catch  
		select 1
		return 1
 END
 

GO
