USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CoreSandConsumptionReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Yashvi>
-- Create date: <1/9/2017,Friday>
-- Description:	<This query will be used for MoldingMaterialConsumption Page.>
-- =============================================
CREATE PROCEDURE [dbo].[CoreSandConsumptionReport]
    @Parameter INT = 0 ,
    @ItemId UNIQUEIDENTIFIER = NULL ,
    @PatternId UNIQUEIDENTIFIER = NULL ,
    @StartDate DATE = NULL ,
    @EndDate DATE = NULL ,
    @InitialLoad INT = 0 ,
    @PageSize INT = 0 ,
    @PageNumber INT = 0 ,
    @IsGroupWiseSandConsumption BIT = 0
  , @EntityId INT = 0
  , @PlantIdString VARCHAR(MAX) = NULL
  ,@IsDateWise bit = 0 
AS
    BEGIN
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
        DECLARE @TotalRecords INT
        SET @TotalRecords = 0
    
        IF @Parameter = 1 --Fetch ItemName and ItemCode for dropdown
            BEGIN
	
                SELECT   DISTINCT
                        ItemName ,
                        ItemCode ,
                        PurchaseItemMaster.PurchaseItemId
                FROM    PurchaseItemMaster
                        INNER JOIN CoreSandConsumption ON PurchaseItemMaster.PurchaseItemId = CoreSandConsumption.PurchaseItemID
                WHERE   PurchaseItemMaster.IsDeleted = 0
						AND PurchaseItemMaster.IsPattern = 0									
                        AND ( @ItemId IS NULL
                              OR CoreSandConsumption.PurchaseItemID = @ItemId
                        )
                        and PurchaseItemMaster.EntityID = @EntityId
            END
   
   
        IF @Parameter = 2 --Fetch PatternlCode and PatternName
            BEGIN 
                SELECT   DISTINCT
                        PurchaseItemMaster.PurchaseItemId as PatternId ,
                        PurchaseItemMaster.ItemCode as PatternCode
                FROM    PurchaseItemMaster
						inner join PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                        INNER JOIN CoreBoxDetails ON PurchaseItemMaster.PurchaseItemId = CoreBoxDetails.PatternId
                WHERE   dbo.PurchaseItemMaster.IsDeleted = 0
                        AND CoreBoxDetails.IsDelete = 0
                        AND PurchaseCompanyMapping.CompanyId = @EntityId
                        AND ( @PlantIdString IS NULL OR @PlantIdString = ''
							or exists ( select 1 from PatternCastingMapping
										inner join PlantCastingMapping ON PatternCastingMapping.CastingId = PlantCastingMapping.CastingId
										inner join @Plant as plant on plant.Item = PlantCastingMapping.PlantId
										where  PatternCastingMapping.PatternId = PurchaseItemMaster.PurchaseItemId
									)
							or exists (select 1 FROM PlantCastingMapping
										INNER JOIN CastingMaster ON CastingMaster.CastingId = PlantCastingMapping.CastingId 
										inner join @Plant as plant on plant.Item = PlantCastingMapping.PlantId
										where CastingMaster.dieid = PurchaseItemMaster.purchaseitemid	
								)
						)
                ORDER BY PatternCode 
            END
   
       
       IF @Parameter = 3 --Fetch data and show in grid
            BEGIN
               
                IF @InitialLoad = 1
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY ItemCode ) AS SrNo ,
                                            *
                                  FROM      ( 
                                              SELECT TOP ( @PageSize )
                                                        PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
                                                        P.ItemCode as PatternCode ,
                                                        CONVERT(DECIMAL(10, 2), SUM(ISNULL(CoreSandConsumption.ConsumedQty, 0))) AS [ConsumedQty]
                                              FROM      CoreSandConsumption
                                                        INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = CoreSandConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                                        INNER JOIN CoreProduction ON CoreProduction.CoreProductionId = CoreSandConsumption.CoreProductionID
                                                        INNER JOIN CoreProductionMaster ON CoreProduction.CoreProductionMasterId = CoreProductionMaster.CoreProductionMasterId
                                                        INNER JOIN CoreBoxDetails ON CoreBoxDetails.CoreBoxID = CoreProduction.CoreId
														INNER JOIN PurchaseItemMaster as P ON P.PurchaseItemId = CoreBoxDetails.PatternId and P.IsPattern = 1
                                           
                                              WHERE     ( @ItemId IS NULL OR CoreSandConsumption.PurchaseItemID = @ItemId )
														AND  (@PatternId  IS NULL OR P.PurchaseItemId = @PatternId )
                                                        AND ( CoreProductionMaster.Date BETWEEN @StartDate AND @EndDate )
                                                        AND ( CoreProduction.IsDeleted = 0 )
                                                        AND ( PurchaseItemMaster.IsDeleted = 0 )
                                                        AND ( P.IsDeleted = 0 )                                                      
                                                        AND ( ISNULL(@PlantIdString, '') = ''      
															OR CoreBoxDetails.PatternId IN (
																SELECT cm.Dieid FROM PlantCastingMapping AS pcm
																INNER JOIN CastingMaster AS cm ON pcm.CastingId = cm.CastingId
																WHERE pcm.PlantId IN (
																	SELECT Item FROM @Plant
																)
																AND cm.EntityID = @EntityID
														   )
														)
														AND PurchaseItemMaster.EntityID = @EntityId
                                              GROUP BY  PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
                                                        P.ItemCode
                                            ) AS CoreSandConsumption
                                ) AS SS
                        ORDER BY SS.SrNo
                                
                    END
                ELSE
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY PatternCode ) AS SrNo ,
                                            *
                                 FROM      ( 
                                 
                                              SELECT 
                                                        PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
                                                        P.ItemCode as PatternCode ,
                                                        CONVERT(DECIMAL(10, 2), SUM(ISNULL(CoreSandConsumption.ConsumedQty,
                                                              0))) AS [ConsumedQty]
                                              FROM      CoreSandConsumption
                                                        INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = CoreSandConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                                        INNER JOIN CoreProduction ON CoreProduction.CoreProductionId = CoreSandConsumption.CoreProductionID
                                                        INNER JOIN CoreProductionMaster ON CoreProduction.CoreProductionMasterId = CoreProductionMaster.CoreProductionMasterId
                                                        INNER JOIN CoreBoxDetails ON CoreBoxDetails.CoreBoxID = CoreProduction.CoreId
														INNER JOIN PurchaseItemMaster as P ON P.PurchaseItemId = CoreBoxDetails.PatternId and P.IsPattern = 1
                                           
                                              WHERE     ( @ItemId IS NULL
                                                          OR CoreSandConsumption.PurchaseItemID = @ItemId
                                                        )
                                                        AND  (@PatternId  IS NULL
                                                          OR P.PurchaseItemId = @PatternId
                                                        )
                                                        AND ( CoreProductionMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                                        AND ( CoreProduction.IsDeleted = 0 )
                                                        AND ( PurchaseItemMaster.IsDeleted = 0 )
                                                        AND ( P.IsDeleted = 0 )                                                       
                                                        AND ( ISNULL(@PlantIdString, '') = ''      
															OR CoreBoxDetails.PatternId IN (
																SELECT cm.Dieid FROM PlantCastingMapping AS pcm
																INNER JOIN CastingMaster AS cm ON pcm.CastingId = cm.CastingId
																WHERE pcm.PlantId IN (
																	SELECT Item FROM @Plant
																)
																AND cm.EntityID = @EntityID
														   )
														)
														AND PurchaseItemMaster.EntityID = @EntityId
                                              GROUP BY  PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
                                                        P.ItemCode
                                            ) AS CoreSandConsumption
                                ) AS SS
                        WHERE   SS.SrNo BETWEEN ( ( @PageNumber * @PageSize )
                                                  + 1 )
                                        AND     ( ( @PageNumber + 1 )
                                                  * @PageSize )
                        ORDER BY SS.SrNo
                    END
	 
   
            END
   
        IF @Parameter = 4
            BEGIN
                SET @TotalRecords = ( SELECT    COUNT(*)
                                      FROM      (  
                                              SELECT  COUNT(*) as Total
                                              FROM      CoreSandConsumption
                                                         INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = CoreSandConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0--SandTypePurchaseItemTrans.PurchaseItemID
                                                        INNER JOIN CoreProduction ON CoreProduction.CoreProductionId = CoreSandConsumption.CoreProductionID
														INNER JOIN CoreProductionMaster ON CoreProduction.CoreProductionMasterId = CoreProductionMaster.CoreProductionMasterId
                                                        INNER JOIN CoreBoxDetails ON CoreBoxDetails.CoreBoxID = CoreProduction.CoreId
														INNER JOIN PurchaseItemMaster P ON P.PurchaseItemId = CoreBoxDetails.PatternId and P.IsPattern = 1
                                           
                                              WHERE     ( @ItemId IS NULL
                                                          OR CoreSandConsumption.PurchaseItemID = @ItemId
                                                        )
                                                         AND  (@PatternId  IS NULL
                                                          OR P.PurchaseItemId = @PatternId
                                                        )
                                                        AND ( CoreProductionMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                                        AND ( CoreProduction.IsDeleted = 0 )
                                                        AND ( PurchaseItemMaster.IsDeleted = 0 )
                                                         AND ( P.IsDeleted = 0 )                                                                                                        
                                                        AND ( ISNULL(@PlantIdString, '') = ''      
															OR CoreBoxDetails.PatternId IN (
																SELECT cm.Dieid FROM PlantCastingMapping AS pcm
																INNER JOIN CastingMaster AS cm ON pcm.CastingId = cm.CastingId
																WHERE pcm.PlantId IN (
																	SELECT Item FROM @Plant
																)
																AND cm.EntityID = @EntityID
														   )
														)
														AND PurchaseItemMaster.EntityID = @EntityId
                                              GROUP BY  PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
                                                        P.ItemCode
                                                ) AS S
                                    )
						
                RETURN @TotalRecords
   
            END
   
        IF @Parameter = 5
            BEGIN
                IF ( @IsGroupWiseSandConsumption = 0 )
                    BEGIN
                        SELECT  ROW_NUMBER() OVER ( ORDER BY ItemCode ) AS SrNo ,
                                *
                        FROM    ( SELECT    PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
                                            P.ItemCode as PatternCode ,
                                            CONVERT(DECIMAL(10, 2), SUM(ISNULL(CoreSandConsumption.ConsumedQty,
                                                              0))) AS [ConsumedQty]
															  ,case when @Isdatewise = 1 then CONVERT(VARCHAR(15), CoreProductionMaster.Date  , 106) else null end as Date 
                                  FROM      CoreSandConsumption
                                           INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.CoreSandConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                            INNER JOIN CoreProduction ON CoreProduction.CoreProductionId = CoreSandConsumption.CoreProductionID
                                            INNER JOIN CoreProductionMaster ON CoreProduction.CoreProductionMasterId = CoreProductionMaster.CoreProductionMasterId
                                            INNER JOIN CoreBoxDetails ON CoreBoxDetails.CoreBoxID = CoreProduction.CoreId
                                            INNER JOIN PurchaseItemMaster P ON P.PurchaseItemId = CoreBoxDetails.PatternID and P.IsPattern = 1                                          
                                  WHERE     ( @ItemId IS NULL
                                              OR CoreSandConsumption.PurchaseItemID = @ItemId
                                            )
                                           AND ( @PatternId IS NULL
                                                  OR P.PurchaseItemId = @PatternId
                                                )
                                            AND ( CoreProductionMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                            AND ( CoreProduction.IsDeleted = 0 )
                                            AND ( PurchaseItemMaster.IsDeleted = 0 )
                                            AND ( P.IsDeleted = 0 )                                            
                                            AND ( ISNULL(@PlantIdString, '') = ''      
												OR CoreBoxDetails.PatternId IN (
													SELECT cm.Dieid FROM PlantCastingMapping AS pcm
													INNER JOIN CastingMaster AS cm ON pcm.CastingId = cm.CastingId
													WHERE pcm.PlantId IN (
														SELECT Item FROM @Plant
													)
													AND cm.EntityID = @EntityID
											   )
											)
											AND PurchaseItemMaster.EntityID = @EntityId
                                  GROUP BY  PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
                                            P.ItemCode,
											case when @Isdatewise = 1 then CONVERT(VARCHAR(15), CoreProductionMaster.Date  , 106)  else null end 
                                ) AS SS  
                    END
                ELSE
                    BEGIN
                        SELECT  ROW_NUMBER() OVER ( ORDER BY ItemCode ) AS SrNo ,
                                *
                        FROM    ( SELECT    PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
                              --  PatternMaster.PatternCode ,
                                            CONVERT(DECIMAL(10, 2), SUM(ISNULL(CoreSandConsumption.ConsumedQty,
                                                              0))) AS [ConsumedQty] ,
                                            SandType ,
                                            dbo.SandTypeMaster.SandTypeId
                                  FROM      CoreSandConsumption
                                           INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = CoreSandConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                            INNER JOIN CoreProduction ON CoreProduction.CoreProductionId = CoreSandConsumption.CoreProductionID
                                            INNER JOIN CoreProductionMaster ON CoreProduction.CoreProductionMasterId = CoreProductionMaster.CoreProductionMasterId
											INNER JOIN CoreBoxDetails ON CoreBoxDetails.CoreBoxID = CoreProduction.CoreId
                                             INNER JOIN PurchaseItemMaster as P ON P.PurchaseItemId = CoreBoxDetails.PatternID and P.IsPattern = 1
                                            INNER JOIN dbo.SandTypeMaster ON dbo.SandTypeMaster.SandTypeId = dbo.CoreProductionMaster.SandTypeId
                                  WHERE     ( @ItemId IS NULL
                                              OR CoreSandConsumption.PurchaseItemID = @ItemId
                                            )
                                              AND ( @PatternId IS NULL
                                                  OR P.PurchaseItemId = @PatternId
                                                )
                                            AND ( CoreProductionMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                            AND ( CoreProduction.IsDeleted = 0 )
                                            AND ( PurchaseItemMaster.IsDeleted = 0 )
                                            AND ( ISNULL(@PlantIdString, '') = ''      
												OR CoreBoxDetails.PatternId IN (
													SELECT cm.Dieid FROM PlantCastingMapping AS pcm
													INNER JOIN CastingMaster AS cm ON pcm.CastingId = cm.CastingId
													WHERE pcm.PlantId IN (
														SELECT Item FROM @Plant
													)
													AND cm.EntityID = @EntityID
											   )
											)
											AND PurchaseItemMaster.EntityID = @EntityId
                                  GROUP BY  PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
                                            SandType ,
                                            dbo.SandTypeMaster.SandTypeId
                                ) AS SS
                            
                            
                    END
            END
			 
    END
GO
