USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MaterialInwardRegister_ComboFill]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MaterialInwardRegister_ComboFill]
(
  @SRNDetail int = 0,
  @Type Nvarchar(200) = Null,
  @EntityId int = 0,
  @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL ,  
  @PurchaseItemCategoryId UNIQUEIDENTIFIER = NULL ,  
  @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL,
  @PurchaseItem_Id UNIQUEIDENTIFIER = NULL,
  @OnlyPurchaseItem int = 0,
  @customerid  UNIQUEIDENTIFIER = NULL,
  @PlantIdString Nvarchar(MAX) = NULL,
  @CorePatternId UNIQUEIDENTIFIER = NULL,
  @IsMatInwJobWork int = 0,
  @IsPageType int = 0
)
AS
BEGIN

    declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
   
     IF @Type = 'CustomerName'
     BEGIN     
         
                SELECT  DISTINCT      
                        RawMaterialInward.CustomerId ,      
                        CustomerMaster.CustomerName      
                FROM    RawMaterialInward      
                        INNER JOIN CustomerMaster ON RawMaterialInward.CustomerId = CustomerMaster.CustomerId      
						INNER JOIN InvoiceSeries ON RawMaterialInward.SeriesId = InvoiceSeries.SeriesId 
						Inner Join CustomerCompanyMapping ON CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId    
                WHERE   RawMaterialInward.IsDeleted = 0 
					AND ((@IsMatInwJobWork = 1 and CustomerMaster.Customerflag = 'C') 
							OR ((@SRNDetail = 3 and @IsMatInwJobWork=0) Or (ISNULL(InvoiceSeries.SRNDetail,0) = @SRNDetail and @IsMatInwJobWork=0)))
					And (@IsMatInwJobWork = 1 Or (@SRNDetail <> 3 Or RawMaterialInward.IsForJobReturn = 1)) 
					AND RawMaterialInward.CustomerId = CustomerCompanyMapping.CustomerId
					--AND RawMaterialInward.EntityId = CustomerCompanyMapping.CompanyId
					and CustomerCompanyMapping.CompanyId = @EntityId
					
      
       END 
	   ELSE IF @Type = 'ItemCode' OR @Type = 'ItemName'
	   BEGIN      
			IF(@IsMatInwJobWork=0)
			BEGIN
					select distinct	PurchaseItemMaster.PurchaseItemId ,  
								PurchaseItemMaster.ItemName ,  
								PurchaseItemMaster.ItemCode  
				from			PurchaseItemMaster
				                Inner join PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
								left join PurchaseItemTypeMaster on PurchaseItemTypeMaster.PurchaseItemTypeId = PurchaseItemMaster.PurchaseItemtypeId  
									and PurchaseItemTypeMaster.IsDeleted = 0  
									and (@PurchaseItemTypeId is null or PurchaseItemTypeMaster.PurchaseItemTypeId = @PurchaseItemTypeId)  
			     
								left join PurchaseItemGroupMaster on PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId  
									and PurchaseItemGroupMaster.IsDeleted = 0  
									and (@PurchaseItemGroupId is null or PurchaseItemGroupMaster.PurchaseItemGroupId = @PurchaseItemGroupId)  
			     
								left join PurchaseItemCategoryMaster on PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId  
									and PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemCategoryMaster.PurchaseItemGroupID  
									and PurchaseItemCategoryMaster.IsDeleted = 0  
									and (@PurchaseItemCategoryId is null or PurchaseItemCategoryMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId)  
			     
			   where	PurchaseItemMaster.IsDeleted = 0  
			             AND ISNULL(PurchaseItemMaster.IsPatternDummy,0) = 0  
						 AND (@PurchaseItem_Id is null or PurchaseItemMaster.PurchaseItemId = @PurchaseItem_Id)   
						 AND (@PurchaseItemGroupId is null or PurchaseItemGroupMaster.PurchaseItemGroupId = @PurchaseItemGroupId)  
						 AND (@PurchaseItemTypeId is null or PurchaseItemTypeMaster.PurchaseItemTypeId = @PurchaseItemTypeId)  
						 AND (@PurchaseItemCategoryId is null or PurchaseItemCategoryMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId)  
						 AND PurchaseCompanyMapping.CompanyId = @EntityID   
						 AND ((@OnlyPurchaseItem = 1
								AND PurchaseItemMaster.IsReturnSand = 0
								)
								Or (@OnlyPurchaseItem=0)
							) 
				         AND ( (@IsPageType <> 2  AND PurchaseItemMaster.IsPattern = 0 and dieid Is null) OR @IsPageType = 2)
				Order by ItemName   
			END
			ELSE 
			BEGIN
				  select distinct	PurchaseItemMaster.PurchaseItemId ,  
								PurchaseItemMaster.ItemName ,  
								PurchaseItemMaster.ItemCode  
				from			PurchaseItemMaster
				                Inner join PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
								Inner join RawMaterialInwardDetail ON RawMaterialInwardDetail.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
								Inner join RawMaterialInward ON RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId
								AND RawMaterialInward.JobIn = 2 and RawMaterialInward.IsDeleted=0
			   where	PurchaseItemMaster.IsDeleted = 0   
						 AND (@PurchaseItem_Id is null or PurchaseItemMaster.PurchaseItemId = @PurchaseItem_Id)   
						 AND PurchaseCompanyMapping.CompanyId = @EntityID
						 AND PurchaseItemMaster.IsPattern = 0  
						 AND ISNULL(PurchaseItemMaster.IsPatternDummy,0) = 0  
				Order by ItemName 
			END
		END  
	   ELSE IF @Type = 'PatternCode'
	   BEGIN
	            declare @PatternIdTable table (Item UNIQUEIDENTIFIER) 
				Insert into @PatternIdTable SELECT item  FROM CustomerPatternMappingFunction(@PlantIdString)     
                SELECT DISTINCT      
                        PurchaseItemMaster.PurchaseItemId as PatternId ,      
                        PurchaseItemMaster.ItemCode as PatternCode      
                FROM    PurchaseItemMaster 
                        INNER Join PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId =  PurchaseItemMaster.PurchaseItemId    
                        INNER JOIN CustomerPatternMapping ON CustomerPatternMapping.PatternId = PurchaseItemMaster.PurchaseItemId      
                WHERE   PurchaseItemMaster.IsDeleted = 0  
                        AND PurchaseItemMaster.IsPattern = 1   
						 AND ISNULL(PurchaseItemMaster.IsPatternDummy,0) = 0  
                        AND ( @Customerid IS NULL      
                              OR CustomerId = @customerid      
                            )      
                        AND ( @PlantIdString IS NULL      
                              OR @PlantIdString = ''      
                              OR PurchaseItemMaster.PurchaseItemId IN (      
                        select item from @PatternIdTable ))      
                        AND PurchaseCompanyMapping.CompanyId = @EntityID      
                        AND PurchaseCompanyMapping.PurchaseItemId = CustomerPatternMapping.PatternId
                      delete from @PatternIdTable;
	   END
	   ELSE IF @Type = 'CoreBoxName'
	   BEGIN      
                SELECT DISTINCT
				        PurchaseOrderCorePurchaseTrans.CoreBoxID ,      
                        CoreBoxMaster.CoreMasterName as CoreBoxName      
                FROM    PurchaseOrderCorePurchaseTrans      
                        INNER JOIN CoreBoxMaster ON CoreBoxMaster.CoreMasterID = PurchaseOrderCorePurchaseTrans.CoreBoxID      
                        INNER JOIN PurchaseOrder_Master AS POM ON PurchaseOrderCorePurchaseTrans.PurchaseOrderId = POM.PurchaseOrderId      
                WHERE   PurchaseOrderCorePurchaseTrans.IsInward = 0      
                        AND PurchaseOrderCorePurchaseTrans.IsDeleted = 0      
                        AND ( @CorePatternId IS NULL      
                              OR PurchaseOrderCorePurchaseTrans.PatternId = @CorePatternId      
                            )      
                        AND POM.EntityID = @EntityID      
      AND ( ISNULL(@PlantIdString, '') = ''      
       OR POM.POPlantId IN (      
        SELECT Item FROM @Plant      
       )      
      )      
            END  
       ELSE IF @Type = 'PONO'
	    BEGIN      
                  
                SELECT  *      
                FROM    ( SELECT  DISTINCT      
                                    CASE WHEN PurchaseOrder_Master.Prefix IS NULL      
                                         THEN ''      
                                         ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)      
                                    END      
                                    + CASE WHEN PurchaseOrder_Master.Separator IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
                                      END      
                                    + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)      
                                    + CASE WHEN PurchaseOrder_Master.Separator IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
                                      END      
                                    + CASE WHEN PurchaseOrder_Master.Suffix IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)      
                                      END AS PONo ,      
                                    PurchaseOrder_Master.PurchaseOrderId      
                                  , ISNULL(PurchaseOrder_Master.POPlantId, RawMaterialInward.PlantId) AS POPlantId      
                                  , ISNULL(PurchaseOrder_Master.EntityID, 0) AS EntityID      
                          FROM      RawMaterialInward      
                                    INNER JOIN RawMaterialInwardDetail ON RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId      
                                    INNER JOIN PurchaseOrder_Master ON RawMaterialInwardDetail.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId      
									INNER JOIN InvoiceSeries ON RawMaterialInward.SeriesId = InvoiceSeries.SeriesId     
                          WHERE     RawMaterialInward.IsDeleted = 0     
									AND (@SRNDetail = 3 OR ISNULL(InvoiceSeries.SRNDetail,0) = @SRNDetail)
									And (@SRNDetail <> 3 Or RawMaterialInward.IsForJobReturn = 1)
                          UNION      
                          SELECT  DISTINCT      
                                    CASE WHEN PurchaseOrder_Master.Prefix IS NULL      
                                         THEN ''      
                                         ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)      
                                    END      
                                    + CASE WHEN PurchaseOrder_Master.Separator IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
                                      END      
                                    + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)      
                                    + CASE WHEN PurchaseOrder_Master.Separator IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
                                      END      
                                    + CASE WHEN PurchaseOrder_Master.Suffix IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)      
                                      END AS PONo ,      
                                    PurchaseOrder_Master.PurchaseOrderId      
                                  , ISNULL(PurchaseOrder_Master.POPlantId, RawMaterialInward.PlantId) AS POPlantId      
                                  , ISNULL(PurchaseOrder_Master.EntityID, 0) AS EntityID      
                          FROM      RawMaterialInward      
                                    INNER JOIN InwardJobCastingTranse ON RawMaterialInward.InwardId = InwardJobCastingTranse.InwardId      
                                        
                                    INNER JOIN PurchaseOrder_Master ON InwardJobCastingTranse.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId      
									INNER JOIN InvoiceSeries ON RawMaterialInward.SeriesId = InvoiceSeries.SeriesId     
                          WHERE     RawMaterialInward.IsDeleted = 0     
									AND (@SRNDetail = 3 OR ISNULL(InvoiceSeries.SRNDetail,0) = @SRNDetail)
									And (@SRNDetail <> 3 Or RawMaterialInward.IsForJobReturn = 1)
                          UNION      
                          SELECT  DISTINCT      
                                    CASE WHEN PurchaseOrder_Master.Prefix IS NULL      
                                         THEN ''      
                                         ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)      
                                    END      
                                    + CASE WHEN PurchaseOrder_Master.Separator IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
                                      END      
                                    + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)      
                                    + CASE WHEN PurchaseOrder_Master.Separator IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
                                      END      
                                    + CASE WHEN PurchaseOrder_Master.Suffix IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)      
                                      END AS PONo ,      
                                    PurchaseOrder_Master.PurchaseOrderId      
                                  , ISNULL(PurchaseOrder_Master.POPlantId, RawMaterialInward.PlantId) AS POPlantId      
                                  , ISNULL(PurchaseOrder_Master.EntityID, 0) AS EntityID      
                          FROM      RawMaterialInward      
                                    INNER JOIN InwardCastingPurchase ON RawMaterialInward.InwardId = InwardCastingPurchase.InwardId      
                                    INNER JOIN PurchaseOrderCastingPurchaseTrans ON PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId = InwardCastingPurchase.PurchaseOrderCastingPurchaseId      
                                    INNER JOIN PurchaseOrder_Master ON PurchaseOrderCastingPurchaseTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId      
									INNER JOIN InvoiceSeries ON RawMaterialInward.SeriesId = InvoiceSeries.SeriesId     
                          WHERE     RawMaterialInward.IsDeleted = 0      
									AND (@SRNDetail = 3 OR ISNULL(InvoiceSeries.SRNDetail,0) = @SRNDetail)
									And (@SRNDetail <> 3 Or RawMaterialInward.IsForJobReturn = 1)
						UNION      
                          SELECT  DISTINCT      
                                    CASE WHEN PurchaseOrder_Master.Prefix IS NULL      
                                         THEN ''      
                                         ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)      
                                    END      
                                    + CASE WHEN PurchaseOrder_Master.Separator IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
                                      END      
                                    + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)      
                                    + CASE WHEN PurchaseOrder_Master.Separator IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
                                      END      
                                    + CASE WHEN PurchaseOrder_Master.Suffix IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)      
                                      END AS PONo ,      
                                    PurchaseOrder_Master.PurchaseOrderId      
                                  , ISNULL(PurchaseOrder_Master.POPlantId, RawMaterialInward.PlantId) AS POPlantId      
                                  , ISNULL(PurchaseOrder_Master.EntityID, 0) AS EntityID      
                          FROM      RawMaterialInward      
                                    INNER JOIN InwardCastingPurchase ON RawMaterialInward.InwardId = InwardCastingPurchase.InwardId      
                                    INNER JOIN PurchaseOrderServiceItemTrans ON PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID = InwardCastingPurchase.PurchaseOrderCastingPurchaseId      
                                    INNER JOIN PurchaseOrder_Master ON PurchaseOrderServiceItemTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId      
									INNER JOIN InvoiceSeries ON RawMaterialInward.SeriesId = InvoiceSeries.SeriesId     
                          WHERE     RawMaterialInward.IsDeleted = 0      
									And RawMaterialInward.IsForJobReturn = 1
						
						UNION    
						SELECT  DISTINCT      
                                    CASE WHEN PurchaseOrder_Master.Prefix IS NULL      
                                         THEN ''      
                                         ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)      
                                    END      
                                    + CASE WHEN PurchaseOrder_Master.Separator IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
                                      END      
                                    + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)      
                                    + CASE WHEN PurchaseOrder_Master.Separator IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
                                      END      
                                    + CASE WHEN PurchaseOrder_Master.Suffix IS NULL      
                                           THEN ''      
                                           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)      
                                      END AS PONo ,      
                                    PurchaseOrder_Master.PurchaseOrderId      
                                  , ISNULL(PurchaseOrder_Master.POPlantId, RawMaterialInward.PlantId) AS POPlantId      
                                  , ISNULL(PurchaseOrder_Master.EntityID, 0) AS EntityID      
                          FROM      RawMaterialInward      
                                    INNER JOIN SRNServiceDetailsTrans ON SRNServiceDetailsTrans.InwardId = RawMaterialInward.InwardId      
                                    INNER JOIN PurchaseOrderServiceItemTrans on PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID = SRNServiceDetailsTrans.PurchaseOrderServiceItemID    
									INNER JOIN PurchaseOrder_Master ON PurchaseOrderServiceItemTrans.PurchaseOrderID = PurchaseOrder_Master.PurchaseOrderId      
									INNER JOIN InvoiceSeries ON RawMaterialInward.SeriesId = InvoiceSeries.SeriesId     
                          WHERE     RawMaterialInward.IsDeleted = 0     
									AND SRNServiceDetailsTrans.IsDeleted = 0    
									AND (@SRNDetail = 3 OR ISNULL(InvoiceSeries.SRNDetail,0) = @SRNDetail)
									And (@SRNDetail <> 3 Or RawMaterialInward.IsForJobReturn = 1)
                        ) AS PONO      
                        WHERE EntityID = @EntityID      
						AND ( ISNULL(@PlantIdString, '') = ''      
					 
						 OR POPlantId IN (      
						  SELECT Item FROM @Plant)      
						)      
                ORDER BY PONo ASC      
            END  
		ELSE IF @Type = 'InwardNo'
		begin      
				select  distinct      
											(CASE WHEN RawMaterialInward.Prefix IS NULL      
                                                 THEN ''      
                                                 ELSE CONVERT(VARCHAR(50), RawMaterialInward.Prefix)      
                                            END      
                                            + CASE WHEN RawMaterialInward.Separator IS NULL      
                                                   THEN ''      
                                                   ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                                              END      
                                            + CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo)      
                                            + CASE WHEN RawMaterialInward.Separator IS NULL      
                                                   THEN ''      
                                                   ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                                              END      
                                            + CASE WHEN RawMaterialInward.Suffix IS NULL      
                                                   THEN ''      
                                                   ELSE CONVERT(VARCHAR(50), RawMaterialInward.Suffix)      
                                              END) AS InwardNo ,      
      
      
      RawMaterialInward.InwardId      
    from RawMaterialInward      
    INNER JOIN InvoiceSeries ON RawMaterialInward.SeriesId = InvoiceSeries.SeriesId     
                              
    where RawMaterialInward.IsDeleted = 0      
           
      AND ( CAST(0x0 AS UNIQUEIDENTIFIER) <> RawMaterialInward.CustomerId or RawMaterialInward.SeriesId > 0)     
      AND ((@SRNDetail = 2 AND RawMaterialInward.IsTransfer = 1) OR (@SRNDetail = 3 Or ISNULL(InvoiceSeries.SRNDetail,0) = @SRNDetail) OR (ISNULL(InvoiceSeries.SRNDetail,0) = @SRNDetail AND RawMaterialInward.IsTransfer = 0))
      AND RawMaterialInward.EntityId = @EntityId  
		And (@SRNDetail <> 3 Or RawMaterialInward.IsForJobReturn = 1)  
      end    
END
GO
