USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_ReportMaster]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ReportMaster]
	-- Add the parameters for the stored procedure here
    @Parameter INT = 0 ,
    @ReportId UNIQUEIDENTIFIER = NULL ,
    @ReportName VARCHAR(200) = NULL ,
    @ParameterId UNIQUEIDENTIFIER = NULL ,
    @ReportParametersTable XML = NULL ,
    @ReportParameters VARCHAR(MAX) = NULL ,
    @ParameterDeleteTable XML = NULL ,
    @PartNo VARCHAR(100) = NULL ,
    @ProcessId UNIQUEIDENTIFIER = NULL ,
    @CastingId UNIQUEIDENTIFIER = NULL ,
    @PartId UNIQUEIDENTIFIER = NULL ,
    @SequenceNo INT = 0 ,
    @SRNo INT = 0 ,
    @ISOCode VARCHAR(10) = NULL ,
    @Xml XML = NULL ,
    @delimiter VARCHAR(5) = NULL ,
    @String VARCHAR(MAX) = NULL,
    @OldReportName VARCHAR(200) = NULL,
    @MetalId int = 0,
    @SubSrNo int = 0,
    @MainSrNo int = 0
AS
    BEGIN
        IF ( @Parameter = 1 )
            BEGIN
                SET @ReportId = NEWID()
                
                SET @String = @ReportName -- Variable for string

                BEGIN
                    SET @delimiter = ' '
                    SET @Xml = CAST(( '<a>' + REPLACE(@String, @delimiter,
                                                      '</a><a>') + '</a>' ) AS XML);
                    WITH    CTE
                              AS ( SELECT   A.value('.', 'varchar(max)') AS [Column]
                                   FROM     @Xml.nodes('a') AS FN ( a )
                                 )
                        SELECT  @ISOCode = 'QC'
                                + STUFF(( SELECT    '' + LEFT([Column], 1)
                                          FROM      CTE
                                        FOR
                                          XML PATH('')
                                        ), 1, 0, '')

                END
     
                SELECT  ISOCode
                FROM    ReportMaster
                WHERE   ISOCode = @ISOCode
               
                IF EXISTS ( SELECT  ISOCode
                            FROM    ReportMaster
                            WHERE   ISOCode = @ISOCode )
                    BEGIN
                        SET @String = @ReportName 
                        BEGIN
                            SELECT  *
                            FROM    ReportMaster
                            SET @delimiter = ' '
                            SET @Xml = CAST(( '<a>' + REPLACE(@String,
                                                              @delimiter,
                                                              '</a><a>')
                                              + '</a>' ) AS XML);
                            WITH    CTE
                                      AS ( SELECT   A.value('.',
                                                            'varchar(max)') AS [Column]
                                           FROM     @Xml.nodes('a') AS FN ( a )
                                         )
                                SELECT  @ISOCode = 'QC'
                                        + STUFF(( SELECT    '' + LEFT([Column],
                                                              2)
                                                  FROM      CTE
                                                FOR
                                                  XML PATH('')
                                                ), 1, 0, '')

                        END
                    END                  
              
                
                INSERT  INTO ReportMaster
                        ( ReportId, ReportName, ISOCode )
                VALUES  ( @ReportId, @ReportName, @ISOCode )                       
				        
      --          INSERT  [dbo].[ISONumbering]
      --                  ( [PageCode] ,
      --                    [PageName] ,
      --                    [DocNo] ,
      --                    [RevisionNo] ,
      --                    [RevisionDate]
						--)
      --          VALUES  ( @ISOCode ,
      --                    @ReportName ,
      --                    NULL ,
      --                    NULL ,
      --                    CAST(0x0000A63900000000 AS DATETIME)
						--)
        
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION  
            
                INSERT  INTO ReportParameterMaster
                        ( ParameterId ,
                          ReportId ,
                          ReportParameters ,
                          SequenceNo
                        )
                        SELECT  NEWID() ,
                                @ReportId ,
                                Node.value('(ReportParameters )[1]',
                                           'varchar(MAX)') AS 'ReportParameters' ,
                                Node.value('(SequenceNo )[1]', 'INT') AS 'SequenceNo'
                        FROM    @ReportParametersTable.nodes('/DocumentElement/ReportParameters')
                                AS TEMPXML ( Node )
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
                    
                UPDATE  Menumaster
                SET     IfActive = 1
                WHERE   PermitirCode = 'QC'
                
                DECLARE @ParentId INT;
				if exists(SELECT   MenuId
                   FROM     dbo.MenuMaster
                   WHERE    id = 'QCRREGISTER')
                BEGIN
                SET @ParentId = ( SELECT    MenuId
                                  FROM      dbo.MenuMaster
                                  WHERE     id = 'QCTRANSACTIONALENTERIES'
                                )  
				SET @SubSrNo = ( SELECT MAX(SubSrNo) AS SubSrNo
								 FROM   MenuMaster
								 WHERE  ParentId = @ParentId
								)
				SET @SubSrNo = @SubSrNo + 1;
                SET @SRNo = ( SELECT    ISNULL(MAX(SRNO), 0) AS SrNo
                              FROM      MenuMaster
                              WHERE     ParentId = @ParentId
                            )
                SET @MainSrNo = ( SELECT    MainSrNo
                                  FROM      MenuMaster
                                  WHERE     ID = 'QCTRANSACTIONALENTERIES'
                                )
                END
                ELSE
                BEGIN
                SET @ParentId = ( SELECT    MenuId
                                  FROM      dbo.MenuMaster
                                  WHERE     id = 'QC'
                                )  
				SET @SubSrNo = ( SELECT MAX(SubSrNo) AS SubSrNo
								 FROM   MenuMaster
								 WHERE  ParentId = @ParentId
								)
                SET @SRNo = ( SELECT    ISNULL(MAX(SRNO), 0) AS SrNo
                              FROM      MenuMaster
                              WHERE     ParentId = @ParentId
                            )
                SET @SRNo = @SRNo + 1; 
                SET @MainSrNo = ( SELECT    MainSrNo
                                  FROM      MenuMaster
                                  WHERE     ID = 'QC'
                                )
                END
                INSERT  INTO dbo.MenuMaster
                        ( ParentId ,
                          MenuName ,
                          DispalyName ,
                          ID ,
                          OnClick ,
                          IfActive ,
                          SrNo ,
                          SubSrNo ,
                          MainSrNo ,
                          PermitirCode ,
                          ShortcutKeys
                        )
                VALUES  ( @ParentId , -- ParentId - bigint
                          @ReportName , -- MenuName - nvarchar(50)
                          @ReportName , -- DispalyName - nvarchar(50)
                          REPLACE(@ReportName, ' ', '') , -- ID - nvarchar(50)
                          '_QCReport' , -- OnClick - nvarchar(50)
                          1 , -- IfActive - int
                          @SRNo , -- SrNo - int
                          @SubSrNo , -- SubSrNo - int
                          @MainSrNo , -- MainSrNo - int
                          'QC' , -- PermitirCode - varchar(50)
                          NULL  -- ShortcutKeys - varchar(50)
                        )
				
                DECLARE @MenuId INT;
                     
                SET @MenuId = @@IDENTITY
                INSERT  INTO dbo.MenuRights
                        ( MenuId ,
                          MenuView ,
                          MenuAdd ,
                          MenuEdit ,
                          MenuDelete ,
                          MenuApprove ,
                          MenuPrint
                        )
                VALUES  ( @MenuId , -- MenuId - bigint
                          'True' , -- MenuView - bit
                          'True' , -- MenuAdd - bit
                          'False' , -- MenuEdit - bit
                          'False' , -- MenuDelete - bit
                          'False' , -- MenuApprove - bit
                          'False'  -- MenuPrint - bit
                        )
				--UPDATE  MenuRights
				--SET    MenuView = 'True',MenuAdd = 'True',MenuEdit = 'False', MenuDelete = 'False',MenuApprove='False',MenuPrint='False'
				--WHERE   MenuId = ( SELECT   MenuId
				--				   FROM     dbo.MenuMaster
				--				   WHERE    ID = @SETReportName
				--				 )
                 
                --DECLARE @MenuId INT;
                     
                --SET @MenuId = @@IDENTITY
                              
                INSERT  INTO MenuParameter
                        ( menuparameterId ,
                          MenuId ,
                          MenuKey ,
                          MenuValue
                        )
                VALUES  ( NEWID() ,
                          @MenuId ,
                          'ReportId' ,
                          @reportid
                        )


				  INSERT  [dbo].[ISONumbering]
                        ( [PageCode] ,
                          [PageName] ,
                          --[DocNo] ,
                          --[RevisionNo] ,
                          --[RevisionDate],
                          [MenuId]
                        --,  [ReportName]
						)
                VALUES  ( @ISOCode ,
                          @ReportName ,
                          --NULL ,
                          --NULL ,
                          --CAST(0x0000A63900000000 AS DATETIME),
                          @MenuId
                          --,@ReportName
						)
						
        	declare @isoId bigint = @@IDENTITY
													 
			declare		@EntityId int = 0
								DECLARE iso_cursor CURSOR FOR        
								
									SELECT EntityId FROM CompanyMaster  
								
								OPEN iso_cursor;                              
								FETCH NEXT FROM iso_cursor INTO @EntityId
						                                                            
								WHILE ( @@FETCH_STATUS = 0 )
								BEGIN
									BEGIN
									
									IF NOT EXISTS ( SELECT * FROM isodetail WHERE	entityid =  @EntityId and PageID =@isoId  )
									BEGIN
												 INSERT INTO [dbo].[ISODetail]
																		   ([PageID]
																		   ,[DocNo]
																		   ,[RevisionNo]
																		   ,[RevisionDate]
																		   ,[EntityId]
																		   ,  [ReportName])
																	 VALUES
																		   (@isoId,
																		    NULL ,
																			NULL ,
																			CAST(0x0000A63900000000 AS DATETIME),
																		    @EntityId,
																			@ReportName)		
											END
											
									END
									FETCH NEXT FROM iso_cursor INTO @EntityId
								END
								CLOSE iso_cursor;                          
								DEALLOCATE iso_cursor;

            END
            
        IF ( @Parameter = 2 )
            BEGIN
                SELECT  ReportId ,
                        ReportName
                FROM    ReportMaster
            END
            
        IF ( @Parameter = 3 )
            BEGIN
                SELECT  ReportParameterMaster.ReportId ,
                        ReportMaster.ReportName ,
                        ReportParameterMaster.ParameterId ,
                        ReportParameterMaster.ReportParameters
                FROM    ReportMaster ,
                        ReportParameterMaster
                WHERE   ReportMaster.ReportId = ReportParameterMaster.ReportId
                        AND ReportParameterMaster.ReportId = @ReportId
                ORDER BY SequenceNo
            END
            
        IF @Parameter = 4
            BEGIN
                UPDATE  ReportMaster
                SET     ReportName = @ReportName
                WHERE   reportid = @ReportId
            
                update MenuMaster set MenuName = @ReportName , DispalyName = @ReportName where MenuName = @OldReportName and  DispalyName = @OldReportName
                update ISODetail set ReportName =@ReportName where PageID in (select  PageID from ISONumbering where PageName = @OldReportName) and EntityId = @EntityId
                update ISONumbering set PageName=@ReportName where PageName = @OldReportName;
              --  update ISONumbering set PageName=@ReportName,ReportName =@ReportName where PageName = @OldReportName;
				
                DECLARE People CURSOR
                FOR
                    SELECT  Node.value('(ParameterId )[1]', 'uniqueidentifier') AS 'ParameterId' ,
                            Node.value('(ReportParameters )[1]',
                                       'varchar(MAX)') AS 'ReportParameters' ,
                            Node.value('(SequenceNo )[1]', 'INT') AS 'SequenceNo'
                    FROM    @ReportParametersTable.nodes('/DocumentElement/ReportParameters')
                            AS TEMPXML ( Node )


                OPEN People
                FETCH NEXT FROM People INTO @ParameterId, @ReportParameters,
                    @SequenceNo
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                        IF ( @ParameterId IS NULL )
                            OR ( @ParameterId = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) )
                            BEGIN
                            
                                INSERT  INTO dbo.ReportParameterMaster
                                        ( ParameterId ,
                                          ReportId ,
                                          ReportParameters ,
                                          SequenceNo
                                        )
                                VALUES  ( NEWID() ,
                                          @ReportId ,
                                          @ReportParameters ,
                                          @SequenceNo
                                        )
                            END
                        ELSE
                            BEGIN
                                UPDATE  ReportParameterMaster
                                SET     ReportParameters = @ReportParameters ,
                                        SequenceNo = @SequenceNo
                                WHERE   ( ParameterId = @ParameterId )
                            END
                        FETCH NEXT FROM People INTO @ParameterId,
                            @ReportParameters, @SequenceNo
                    END
                CLOSE People;
                DEALLOCATE People;	
                
                DECLARE DeleteParameter CURSOR
                FOR
                    SELECT  Node.value('(ParameterId )[1]', 'uniqueidentifier') AS 'ParameterId'
                    FROM    @ParameterDeleteTable.nodes('/DocumentElement/DeleteParameter')
                            AS TEMPXML ( Node )
                                        
                OPEN DeleteParameter  
                FETCH NEXT FROM DeleteParameter INTO @ParameterId

                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                        DELETE  FROM dbo.ReportParameterMaster
                        WHERE   ( ParameterId = @ParameterId )
                        FETCH NEXT FROM DeleteParameter INTO @ParameterId
                    END
                CLOSE DeleteParameter;
                DEALLOCATE DeleteParameter;	
            END
        
        IF @Parameter = 5
            BEGIN
       
                IF EXISTS ( SELECT  ReportId
                            FROM    ReportParameterMaster
                            WHERE   ReportId IN (
                                    SELECT  ReportId
                                    FROM    PartReportParameterMaster
                                    WHERE   ReportId = @ReportId ) )
                    BEGIN                     
	          
                        RETURN 0;
                    END
                ELSE
                    BEGIN
                        SET @ISOCode = ( SELECT ISOCode
                                         FROM   reportmaster
                                         WHERE  reportid = @ReportId
                                       )
                    
                        DELETE  FROM ReportParametermaster
                        WHERE   reportId = @ReportId
                       
                        SET @ISOCode = ( SELECT ISOCODE
                                         FROM   reportmaster
                                         WHERE  reportId = @ReportId
                                       )
                       
                        DELETE  FROM ISONumbering
                        WHERE   PageCode = @ISOCode
                       
                        DELETE  FROM ReportMaster
                        WHERE   ( ReportId = @ReportId ) 
                        
                        DELETE  FROM MenuParameter
                        WHERE   Menuvalue = @ReportId
                        
                        DELETE  FROM MenuRights
                        WHERE   MenuId = ( SELECT   MenuId
                                           FROM     dbo.MenuMaster
                                           WHERE    ID = @ReportName
                                         )
								 
                        DELETE  FROM MenuMaster
                        WHERE   MenuName = @ReportName
                       
                   
                        IF NOT EXISTS ( SELECT  *
                                        FROM    ReportMaster )
                            BEGIN
                      
                                UPDATE  MenuMaster
                                SET     IfActive = 0
                                WHERE   PermitirCode = 'QC'
                       
								 Update MenuMaster set IfActive=1 where ID = 'REPORTMASTER' 
                            END
                        
                        Update UserMaster set MenuXml=null    
                            
                        RETURN 1;
                    END
        
            END  
        
        IF @Parameter = 6
            BEGIN
                SELECT  DISTINCT
                       -- CONVERT(VARCHAR(50), ReportId) AS 
                       ReportId ,
                        ReportName,
                        IsStatic
                FROM    ReportMaster
                Where (@ReportId is null or ReportId = @ReportId)

            END
        
        IF @Parameter = 7
            BEGIN

                SELECT  ParameterId ,
                        ReportParameters ,
                        sequenceno
                FROM    ReportParameterMaster
                WHERE   ReportId = @ReportId
                ORDER BY SequenceNo 

            END
        
        IF @Parameter = 8
            BEGIN

       SELECT  PartReportParameterMaster.PartReportParameterId ,
                        PartReportParameterMaster.SrNo ,
                        PartReportParameterMaster.ParameterId ,
                        ReportParameterMaster.ReportParameters AS Parameter ,
                        ParameterValue AS Value ,
                        SampleInspection
                FROM    PartReportParameterMaster
                        INNER JOIN CastingPartNo ON CastingPartNo.PartId = PartReportParameterMaster.PartId
											and ISNULL(CastingPartNo.IsDeleted,0) = 0
											AND CastingPartNo.MetalID = PartReportParameterMaster.MetalId
											AND CastingPartNo.ProcessId = PartReportParameterMaster.ProcessId
                        INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = CastingPartNo.ProcessId
                        INNER JOIN ReportParameterMaster ON ReportParameterMaster.ParameterId = PartReportParameterMaster.ParameterId
                WHERE   (@PartId IS NULL OR 
                        CastingPartNo.PartId=@PartId)
                        AND CastingPartNo.SrNo = @SRNo
                        AND (@ReportId IS NULL OR 
                        PartReportParameterMaster.ReportId = @ReportId)
                        AND (@ProcessId IS NULL OR  
                        PartReportParameterMaster.ProcessId = @ProcessId )
                        AND PartReportParameterMaster.IsDeleted = 0
                ORDER BY PartReportParameterMaster.SrNo


                --SELECT distinct PartReportParameterMaster.PartReportParameterId ,
                --        PartReportParameterMaster.SrNo ,
                --        PartReportParameterMaster.ParameterId ,
                --        ReportParameterMaster.ReportParameters AS Parameter ,
                --        ParameterValue AS Value ,
                --        SampleInspection
                --FROM    PartReportParameterMaster
                --        INNER JOIN CastingPartNo ON CastingPartNo.PartId = PartReportParameterMaster.PartId
                --        INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = CastingPartNo.ProcessId
                --        INNER JOIN ReportParameterMaster ON ReportParameterMaster.ParameterId = PartReportParameterMaster.ParameterId
                --WHERE   CastingPartNo.PartId=@PartId
                --        AND CastingPartNo.SrNo = @SRNo
                --        AND PartReportParameterMaster.ReportId = @ReportId
                --        AND PartReportParameterMaster.ProcessId = @ProcessId
                --ORDER BY PartReportParameterMaster.SrNo
            END
        
        IF @Parameter = 9
            BEGIN
                SELECT  reportid
                FROM    ReportMaster
                WHERE   ReportName = @ReportName
            END
        
        IF @Parameter = 10
            BEGIN
        
                SELECT DISTINCT
                        PartReportParameterMaster.ParameterId ,
                        ReportParameters,
                        SequenceNo
                FROM    PartReportParameterMaster
                        INNER JOIN ReportParameterMaster ON ReportParameterMaster.ParameterId = PartReportParameterMaster.ParameterId
                WHERE   CastingId = @CastingId
                        AND PartReportParameterMaster.ReportId = @ReportId
                        And PartReportParameterMaster.PartId = @PartId
                        ORDER BY SequenceNo
                       
            END
        
        IF @Parameter = 11
            BEGIN
				DECLARE @MainMetalId INT = 0;
				SET @MainMetalId = ISNULL((
					select TOP 1 MetalMaster.MetalId from CastingMetal
					INNER JOIN MetalMaster ON MetalMaster.ProductionGradeId = CastingMetal.metalid
					where CastingMetal.castingID = @CastingId and CastingMetal.metalid = @MetalId and CastingMetal.IsProductionGrade = 1
					and MetalMaster.MetalId in (select CastingMetal.metalid from CastingMetal where castingID = @CastingId )
				), 0)
				
                SELECT  PartReportParameterMaster.PartReportParameterId ,
                        PartReportParameterMaster.ParameterId ,
                        ReportParameterMaster.ReportParameters AS Parameter ,
                        ParameterValue AS Value ,
                        SampleInspection
                FROM    PartReportParameterMaster
                        INNER JOIN CastingPartNo ON CastingPartNo.PartId = PartReportParameterMaster.PartId
                        and CastingPartNo.MetalID = PartReportParameterMaster.MetalId
                        And PartReportParameterMaster.ProcessId = CastingPartNo.ProcessId
                        and ISNULL(CastingPartNo.IsDeleted,0) = 0
                        INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = CastingPartNo.ProcessId
                        INNER JOIN ReportParameterMaster ON ReportParameterMaster.ParameterId = PartReportParameterMaster.ParameterId
                WHERE   CastingPartNo.PartId = @PartId
                        AND PartReportParameterMaster.ReportId = @ReportId
                        AND CastingPartNo.ProcessId = @ProcessId
                        AND PartReportParameterMaster.CastingId = @CastingId
                        AND dbo.PartReportParameterMaster.IsDeleted = 0
                        AND dbo.ProcessMaster.IsDeleted = 0
                        AND (@MetalId = 0 Or (PartReportParameterMaster.MetalId = @MetalId OR PartReportParameterMaster.MetalId = @MainMetalId))
                ORDER BY PartReportParameterMaster.SrNo
       
            END
            
        IF @Parameter = 12
            BEGIN
                SELECT Distinct SampleInspection
                FROM    PartReportParameterMaster
                WHERE   PartId = @PartId
                        AND ReportId = @ReportId
            END
            
        IF @Parameter = 13
            BEGIN
            
            
                IF EXISTS ( SELECT  ParameterId
                            FROM    ReportParameterMaster
                            WHERE   ParameterId IN (
                                    SELECT  ParameterId
                                    FROM    PartReportParameterMaster
                                    WHERE   parameterId = @ParameterId ) )
                    BEGIN                     
	          
                        RETURN 0;
                    END
                ELSE
                    BEGIN
                        RETURN 1;
                    END
	            
            END
        IF @Parameter = 14
            BEGIN
                SELECT  ReportName
                FROM    ReportMaster
                WHERE   ( @ReportId IS NULL
                          OR ReportMaster.ReportId = @ReportId
                        )
            END 
           
        IF @Parameter = 15
            BEGIN
                SET @PartId = ( SELECT  PartId
                                FROM    CastingPartNo
                                WHERE   PartId=@PartId
                                        AND CastingPartNo.SrNo = @SRNo
                                        AND ProcessId = @ProcessId
                                        and ISNULL(CastingPartNo.IsDeleted,0) = 0
                              )
                IF EXISTS ( SELECT  PartId
                            FROM    ReportInspectionMaster
                            WHERE   ReportInspectionMaster.PartId = @PartId )
                    BEGIN
                        RETURN 1;
                    END
            END
            
        IF @Parameter = 16
            BEGIN
                IF @ReportId IS NOT NULL
                    SELECT  reportname
                    FROM    ReportMaster
                    WHERE   ReportName = @ReportName
                            AND ReportId != @ReportId 
                ELSE
                    SELECT  reportname
                    FROM    ReportMaster
                    WHERE   ReportName = @ReportName 
            END 
        IF @Parameter = 17
            BEGIN
               
                SELECT  ISOCode
                FROM    ReportMaster
                WHERE   ReportId = @ReportId
            END
             
    END
GO
