USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[InsertItemTariffCode]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertItemTariffCode]
	-- Add the parameters for the stored procedure here
	@PurchaseItemId uniqueidentifier=NULL,
	@TariffCode varchar(50)=NULL,	
	@TariffCodeHeading varchar(MAX)=NULL,
	@SaveTariffCode AS XML=NULL,
	@SaveTariffCodeHeading AS XML=NULL,
	@TotalRecords INT = 0 ,
	@Parameter INT = 0 
	, @EntityID int  = 0
AS
BEGIN

			IF @parameter = 0
			BEGIN
						DECLARE SaveTarrifcode CURSOR
						FOR
						SELECT  Node.value('(PurchaseItemId )[1]', 'uniqueidentifier') AS 'PurchaseItemId' ,
								Node.value('(TariffCode )[1]', 'varchar(50)') AS 'TariffCode' 
						FROM    @SaveTariffCode.nodes('/DocumentElement/SaveTariffCode') AS TEMPXML ( Node )


						OPEN SaveTarrifcode
						FETCH NEXT FROM SaveTarrifcode INTO @PurchaseItemId, @TariffCode
						WHILE ( @@FETCH_STATUS = 0 )
							BEGIN
						                       
								UPDATE  PurchaseItemMaster
								SET     TariffCode=@TariffCode
								WHERE   ( PurchaseItemId = @PurchaseItemId )
						                           
								FETCH NEXT FROM SaveTarrifcode INTO @PurchaseItemId, @TariffCode
							END
						CLOSE SaveTarrifcode;
						DEALLOCATE SaveTarrifcode;
			END
			
			IF @parameter = 1
			BEGIN
					select distinct  
					
					trf.TariffCode,ISNULL(tch.TariffHeading, '') as TariffCodeHeading ,ISNULL(tch.headingID, '0') as headingID ,
					ROW_NUMBER() OVER ( ORDER BY trf.TariffCode ASC ) AS RowNo 
					 from
					
					(
					select distinct TerrifCode as TariffCode from CastingMaster  where CastingMaster.EntityID = @EntityID
					union all
					select distinct TariffCode as TariffCode from ServiceItemMaster where ServiceItemMaster.EntityID = @EntityID
					union all
					select distinct TariffCode as TariffCode from SetMaster  where SetMaster.EntityID = @EntityID
					union all
					select distinct TariffCode as TariffCode from PurchaseItemMaster  where PurchaseItemMaster.EntityID = @EntityID
					union all
					select distinct TerrifCode as TariffCode from ProcessCastingTariffCodeMaster inner join MetalMaster on MetalMaster.MetalId = ProcessCastingTariffCodeMaster.MetalId
								where MetalMaster.EntityID =@EntityID
					--union all
					--select distinct TerrifCode as TariffCode from PatternMaster  where PatternMaster.EntityID = @EntityID
					union all
					select distinct TarrifCode as TariffCode from dispatchtrans inner join dispatchmaster on dispatchtrans.dispatchid = dispatchmaster.DispatchID
								where dispatchmaster.EntityID = @EntityID
					--added by megha
					union all
					select distinct TarrifCode as TariffCode from SPRequirementMaster
					) as trf
					Left join TariffCodeHeading as tch on tch.TariffCode =trf.TariffCode 
					where trf.TariffCode is not null and trf.TariffCode <> ''
					and ( @TariffCode is null
							or trf.TariffCode = @TariffCode 
					)		
					group by 
					trf.TariffCode,
					tch.TariffHeading ,
					tch.headingID		
			END
			
			IF @parameter = 2
			BEGIN
						DECLARE SaveTarrifcodeHeading CURSOR
						FOR
						SELECT  
								Node.value('(TariffCode )[1]', 'varchar(50)') AS 'TariffCode' ,
								Node.value('(TariffCodeHeading )[1]', 'varchar(MAX)') AS 'TariffCodeHeading' 
						FROM    @SaveTariffCodeHeading.nodes('/DocumentElement/SaveTariffCodeHeading') AS TEMPXML ( Node )


						OPEN SaveTarrifcodeHeading
						FETCH NEXT FROM SaveTarrifcodeHeading INTO @TariffCode,@TariffCodeHeading
						WHILE ( @@FETCH_STATUS = 0 )
							BEGIN
							
							SET @TotalRecords = ( SELECT    COUNT(*) from TariffCodeHeading where TariffCode = @TariffCode)
						           
						           if(@TotalRecords > 0) 
									BEGIN
										update TariffCodeHeading set TariffHeading = @TariffCodeHeading where TariffCode = @TariffCode	
										IF @@ERROR <> 0
											ROLLBACK TRANSACTION	
									END										
						           ELSE     
									BEGIN       
										insert into  TariffCodeHeading (TariffCode,TariffHeading) values (@TariffCode,@TariffCodeHeading)								
										IF @@ERROR <> 0
											ROLLBACK TRANSACTION
									END              
								FETCH NEXT FROM SaveTarrifcodeHeading INTO @TariffCode,@TariffCodeHeading
							END
						CLOSE SaveTarrifcodeHeading;
						DEALLOCATE SaveTarrifcodeHeading;
						
			END
			
END
GO
