USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[AccountPayableReceiptForRegDownload]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AccountPayableReceiptForRegDownload]
	-- Add the parameters for the stored procedure here
	@CustomerId UNIQUEIDENTIFIER = NULL,
	@PurchaseInvoiceId UNIQUEIDENTIFIER = NULL,
	@PaymentDateFrom DATETIME = NULL,
	@PaymentDateTo DATETIME = NULL,
	@EntityId int  =0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT    ROW_NUMBER() OVER ( ORDER BY PaymentDate desc,CustomerName asc ) AS SrNo ,
                                            CustomerName ,
                                            ReceiptNo ,
                                            CONVERT(VARCHAR(11), PaymentDate, 106) AS [ReceiptDate],
                                            TransactionNo,
                                            Convert(varchar(15),ChequeDate,106) as ChequeDate,
                                             CAST(CONVERT(DECIMAL(10, 2), ( ISNULL( Payment.TotalTransferAmount, 0) )) AS VARCHAR) AS TotalAmount, 
                                            BankName,
                                            PaymentTypeName,
                                            Payment.Remarks,
                                            SupplierInvoiceNo,
                                            Convert(varchar(15),InvoiceDate,106) as InvoiceDate,
                                            CAST(CONVERT(DECIMAL(10, 2), ( ISNULL(PaymentAmount, 0) )) AS VARCHAR) AS PaymentAmount 
                                   From [Data:Payment] as Payment
                                  WHERE   
                                   Payment.EntityId = @EntityId
                                            AND ( @CustomerId IS NULL
                                                  OR Payment.CustomerID = @CustomerId
                                                )
                                            AND ( @PurchaseInvoiceId IS NULL
                                                  OR Payment.AccountPayableID IN (
                                                  SELECT DISTINCT
                                                            AccountPayableID
                                                  FROM      AccountPayableTrans
                                                            LEFT JOIN PurchaseInvoice ON PurchaseInvoice.PurchaseInvoiceId = AccountPayableTrans.PurchaseInvoiceId
                                                  WHERE     AccountPayableTrans.PurchaseInvoiceId = @PurchaseInvoiceId )
                                                )
                                                 and PaymentDate between   @PaymentDateFrom
                                                  AND    @PaymentDateTo 
									--Order by SrNo asc
END
GO
