USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[EditLogPouringEntry]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Khushbu joshi>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE[dbo].[EditLogPouringEntry]
	 @HeatNo bigint = 0   ,  
	@EntityID int = 0,
	@IfActive BIT = 0 ,
	@BatchID bigint = 0 ,
	@HeatCode VARCHAR(50) = NULL ,
	@IssinglePiece int = 0 ,
	@DisplayHeatCode bit = 0 ,
	@HeatCodeName varchar(100) = null
AS
BEGIN
	Declare @RevisionNo bigint = (select isnull(Max(RevisionNo),0)+1  from  [ICAST_IMS_LOG].[dbo].Knockout where batchID= @BatchID)
	 DECLARE @TableItem table (SrNoRevisionwise int,RevisionNo BIGINT , BatchNo varchar(Max),
								ProductionDate  Datetime,MetalName varchar(Max),Furnace varchar(max),Shift varchar(Max), 
								KnockoutID bigint,CastingId uniqueidentifier,
								ProductionQty float ,OkQty float, RejectedQty Float,PerPcWeight float,OkQtyTotalWeight float,
								RejectedQtyTotalWeight float ,CastingName  Varchar(Max),CastingCode Varchar(Max),
								GrossWeight float,MasterWt float,totalChargingQnty float,EmployeeName Varchar(Max),HeatCode Varchar(200),
								ModifiedUserName varchar(100), InsertedDate  varchar(100) )

		set @IssinglePiece =( select isnull(permitir,0) from permitir where code = 'SPCT')
		set @DisplayHeatCode = (select isnull(DisplayHeatCode,0)  from configuration where EntityID = @EntityID)
		set @HeatCodeName = (select isnull(HeatCodeName,'Heat Code')  from configuration where EntityID = @EntityID)

     INSERT INTO @TableItem
	 SELECT   DENSE_RANK() over(order by RevisionNo) AS SrNoRevisionwise,* FROM
			 ( 
				SELECT KC.RevisionNo AS RevisionNo,
				BatchNo, ProductionDate,MetalName, Furnace, [Shift],
				 KC.KnockoutID, KC.CastingId, KC.ProductionQty, KC.OKQty
				, KC.RejectedQty, KC.PerPcWeight, KC.OkQtyTotalWeight, KC.RejectedQtyTotalWeight
				, CastingMaster.CastingName, CastingMaster.CastingCode,KC.GrossWeight ,CastingMetal.GrossWeight AS MasterWt,
				totalChargingQnty,
				EmployeeName,
				(STUFF((SELECT ', ' + HeatCode 
									FROM (
										SELECT	DISTINCT chc.ProductionBatchID ,chc.CastingID ,chc.HeatCode
										FROM	[ICAST_IMS_LOG].[dbo].CastingHeatCode AS chc
												INNER JOIN CastingStockBatch AS csb ON csb.CastingID = chc.CastingID
															AND csb.productionbatchID = chc.ProductionBatchID
															AND csb.HeatCodeId = chc.HeatCodeId
										WHERE	chc.HeatCode <> ''
									) AS FINAL
									WHERE (ProductionBatchID = @BatchID AND CastingID =  KC.CastingId)
							FOR XML PATH ('')), 1, 1, '')
							) AS HeatCode,
				U.UserName AS ModifiedUserName,
				case when KC.ModifiedBy =0 or KC.ModifiedBy is null then  KC.CreatedOn else KC.ModifiedOn end  AS InsertedDate 
		FROM	[ICAST_IMS_LOG].[dbo].Knockout(NOLOCK) as KC
				RIGHT Join ProductionBatch as PB on KC.batchid = PB.batchID 
				--and KC.RevisionNo =PB.RevisionNo
		       -- left Join PatternCastingMapping pcm on pcm.MethodId = KC.PatternId
				INNER JOIN CastingMaster  ON CastingMaster.CastingId = KC.castingid
				INNER JOIN CastingMetal ON CastingMetal.castingID = KC.castingid 
				and CastingMetal.metalid = PB.MetalID
				Inner JOIN MetalMaster ON MetalMaster.MetalId = CastingMetal.metalid
				Inner Join EmployeeDetails on EmployeeDetails.EmployeeId = KC.operatorID
				LEFT JOIN  UserMaster AS U ON U.UserId  = case when  KC.ModifiedBy =0  or KC.ModifiedBy is null then    KC.CreatedBY else  KC.ModifiedBY end  
		WHERE	KC.IsDeleted = 0
		and KC.batchid = @BatchID

							
		) AS FINAL 
		

     INSERT INTO @TableItem
	 SELECT  @RevisionNo AS SrNoRevisionwise , * 
	 FROM (
				SELECT @RevisionNo AS RevisionNo,
				BatchNo, ProductionDate,MetalName, Furnace, [Shift],
				 Knockout.KnockoutID, Knockout.CastingId, Knockout.ProductionQty, Knockout.OKQty
				, Knockout.RejectedQty, Knockout.PerPcWeight, Knockout.OkQtyTotalWeight, Knockout.RejectedQtyTotalWeight,
				 CastingMaster.CastingName, CastingMaster.CastingCode,Knockout.GrossWeight ,CastingMetal.GrossWeight AS MasterWt,
			     totalChargingQnty,
				 EmployeeName,
				 	(STUFF((SELECT ', ' + HeatCode 
									FROM (
										SELECT	DISTINCT chc.ProductionBatchID ,chc.CastingID ,chc.HeatCode
										FROM	CastingHeatCode AS chc
												INNER JOIN CastingStockBatch AS csb ON csb.CastingID = chc.CastingID
															AND csb.productionbatchID = chc.ProductionBatchID
															AND csb.HeatCodeId = chc.HeatCodeId
										WHERE	chc.HeatCode <> ''
									) AS FINAL
									WHERE (ProductionBatchID = @BatchID AND CastingID =  Knockout.CastingId)
							FOR XML PATH ('')), 1, 1, '')
							) AS HeatCode,
				 U.UserName AS ModifiedUserName,
				case when Knockout.ModifiedBy =0 or Knockout.ModifiedBy is null then  Knockout.CreatedOn else Knockout.ModifiedOn end  AS InsertedDate 
		FROM	Knockout(NOLOCK)
				RIGHT Join ProductionBatch on Knockout.batchid = ProductionBatch.batchID
		      --  inner Join PatternCastingMapping pcm on pcm.MethodId = knockout.PatternId
				INNER JOIN CastingMaster  ON CastingMaster.CastingId = Knockout.castingid
				INNER JOIN CastingMetal ON CastingMetal.castingID = Knockout.castingid 
				and CastingMetal.metalid = ProductionBatch.MetalID
				Inner JOIN MetalMaster ON MetalMaster.MetalId = CastingMetal.metalid
				Inner Join EmployeeDetails on EmployeeDetails.EmployeeId = Knockout.operatorID
				LEFT JOIN  UserMaster AS U ON U.UserId  = case when  Knockout.ModifiedBy =0  or Knockout.ModifiedBy is null then    Knockout.CreatedBY else  Knockout.ModifiedBY end  
		WHERE	knockout.IsDeleted = 0
				and knockout.batchid = @BatchID
							
		) AS FINAL	


 select distinct CA.* 
       into #tempEditLogPouringEntry
      from @TableItem  as t      
		CROSS APPLY (
			  Values
				 (1,t.SrNoRevisionwise,'User Name' , modifiedUSerName COLLATE DATABASE_DEFAULT,''),
				 (2,t.SrNoRevisionwise,'Inserted/Altered On' ,cast(InsertedDate  as varchar),''  ),
				 (3,t.SrNoRevisionwise,'Production Date' ,  CONVERT(VARCHAR(15),  ProductionDate, 106)    ,''),
				 (4,t.SrNoRevisionwise,'Heat No' , BatchNo  COLLATE DATABASE_DEFAULT    ,''),				
				 (6,t.SrNoRevisionwise,'Metal Name' , MetalName COLLATE DATABASE_DEFAULT ,''),
				 (7,t.SrNoRevisionwise,CastingName +'('+CastingCode +')' ,
																	+'Production Qty: ' +  CAst(ProductionQty  as varchar) + CHAR(10) 
																	+  'PerPc Weight : ' + CAst(PerPcWeight as varchar) 	+ CHAR(10) 
																	+	'Total Weight : ' +  CAst(OkQtyTotalWeight as varchar) + CHAR(10)
																	+	'Operator Name : ' +  CAst(EmployeeName as varchar) + CHAR(10)
																	+case when @IssinglePiece = 1  or @DisplayHeatCode = 1 then 
																	 + @HeatCodeName + ' :' +  CAst(HeatCode as varchar) + CHAR(10) else '' end 
																	,Cast(KnockoutID as varchar(50)))
																	,				
				 (8,t.SrNoRevisionwise,'Furnace' , CAst(Furnace as varchar) COLLATE DATABASE_DEFAULT,''),
				 (9,t.SrNoRevisionwise,'Shift' , CAst(Shift as varchar) COLLATE DATABASE_DEFAULT,''),
				 (10,t.SrNoRevisionwise,'Molten Metal Qty' , CAst(totalChargingQnty as varchar) COLLATE DATABASE_DEFAULT,'')
				 
		  ) as CA (sr,SrNoRevisionwise,ColName, ColValue,TransId )  
		  where ColName is not null and CA.SrNoRevisionwise = t.SrNoRevisionwise 
		  
DECLARE @cols AS NVARCHAR(MAX) 
select @cols = STUFF((SELECT  ','  + QUOTENAME(SrNoRevisionwise) 
                    from #tempEditLogPouringEntry group by  SrNoRevisionwise
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')    
   
    
declare @sql1 NVARCHAR(MAX) = '';		 
SET @sql1 ='
SELECT *
FROM   #tempEditLogPouringEntry
PIVOT  
(  
  max(ColValue)  
  FOR SrNoRevisionwise IN ('+ @cols +' )  
) AS PivotTable order by cast(sr as int);  
';

EXECUTE sp_executesql @sql1;     	
drop table  #tempEditLogPouringEntry




END
GO
