USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SPSignatureConfiguration]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/****** Object:  StoredProcedure [dbo].[SPSignatureConfiguration]    Script Date: 09/07/2018 12:19:51 ******/
CREATE PROCEDURE [dbo].[SPSignatureConfiguration]
	@Parameter INT = NULL ,
	@PageId INT = Null,
	@PageCode varchar(50) = NULL,
	@Text1 varchar(50) =Null,
	@Text2 varchar(50) =Null,
	@Text3 varchar(50) =Null,
	@Text4 varchar(50) =Null,
	@Name1 varchar(50) =Null,
	@Name2 varchar(50) =Null,
	@Name3 varchar(50) =Null,
	@Name4 varchar(50) =Null ,
	@EntityID int = 0
AS
BEGIN
	IF @Parameter = 1
    BEGIN
		Select PageID,PageName,ISNULL(Text1, '') AS Text1, ISNULL(Name1, '') AS Name1, 
		ISNULL(Text2, '') AS Text2, ISNULL(Name2, '') AS Name2, ISNULL(Text3, '') AS Text3,
		ISNULL(Name3, '') AS Name3, ISNULL(Text4, '' ) AS Text4, Name4,PageCode 
		From SignatureConfiguration 
		Join MenuMaster On MenuMaster.MenuId=SignatureConfiguration.MenuId
		Where (@PageId Is Null or SignatureConfiguration.PageID=@PageId)
		And (@PageCode Is Null or SignatureConfiguration.PageCode=@PageCode)
		And MenuMaster.IfActive=1
		and SignatureConfiguration.EntityID = @EntityID
	End
	IF @Parameter = 2
    BEGIN
		Update SignatureConfiguration Set 
		Text1=@Text1,
		Text2=@Text2,
		Text3=@Text3,
		Text4=@Text4,
		Name1=@Name1,
		Name2=@Name2,
		Name3=@Name3,
		Name4=@Name4
		WHere
		SignatureConfiguration.PageCode=@PageCode
		and SignatureConfiguration.EntityID = @EntityID
	End
	
	IF @Parameter = 3
    BEGIN
		Select PageID,PageName,ISNULL(Text1, '') AS Text1, ISNULL(Name1, '') AS Name1, 
		ISNULL(Text2, '') AS Text2, ISNULL(Name2, '') AS Name2, ISNULL(Text3, '') AS Text3,
		ISNULL(Name3, '') AS Name3, ISNULL(Text4, '' ) AS Text4, ISNULL(Name4, '') AS Name4, PageCode 
		From 
		SignatureConfiguration 
		
		Where (@PageCode Is Null or SignatureConfiguration.PageCode=@PageCode)	
		and SignatureConfiguration.EntityID = @EntityID
	End
	
END
GO
