USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchInvoicebreakupForAccountPayable]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchInvoicebreakupForAccountPayable] 
	-- Add the parameters for the stored procedure here
	@SupplierId AS UNIQUEIDENTIFIER = NULL,
	@PaymentDate Date=null,
	@EntityId int = 0	
AS
BEGIN

			
	               SELECT PurchaseInvoice.PurchaseInvoiceId, 
                     --   PurchaseInvoice.SupplierInvoiceNo,
                         CASE WHEN PurchaseInvoice.Prefix IS NULL
                                                            OR PurchaseInvoice.Prefix = ''
                                                       THEN ''
                                                       ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Prefix)
                                                            + CASE
                                                              WHEN PurchaseInvoice.Separator IS NULL
                                                              THEN ''
                                                              ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)
                                                              END
                                                  END
                                                  + CONVERT(VARCHAR(50), PurchaseInvoice.SupplierInvoiceNo)
                                                  + CASE WHEN PurchaseInvoice.Separator IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)
                                                    END
                                                  + CASE WHEN PurchaseInvoice.Suffix IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Suffix)
                                                    END AS SupplierInvoiceNo ,
                             CONVERT(VARCHAR(15), SupplierInvoiceDate, 106) AS Invoicedate ,                       
                        Convert(Decimal(18,2), PurchaseInvoice.TotalAmount) AS BilledAmount ,
                        Convert(Decimal(18,2),ISNULL(AccountPayableTrans.Amount, 0)) AS PaidAmount ,
                        Convert(Decimal(18,2),( TotalAmount - ISNULL(AccountPayableTrans.Amount, 0) )) AS DueAmount,
                        '' AS PaymentAmount,
                       CASE WHEN  PurchaseInvoice.IsDelete =0 then '0' ELSE '1' END AS IsDelete,
                       0 as IsManuallyChange
                FROM    PurchaseInvoice
                        INNER JOIN CustomerMaster ON PurchaseInvoice.SupplierID = CustomerMaster.CustomerId
                        LEFT JOIN ( SELECT  PurchaseInvoice.PurchaseInvoiceid ,
                                            SUM(paymentAmount) AS Amount
                                    FROM    AccountPayableTrans
											INNER JOIN AccountPayableMaster ON AccountPayableMaster.AccountPayableID = AccountPayableTrans.AccountPayableID                                   
											Inner Join PurchaseInvoice On PurchaseInvoice.PurchaseInvoiceId = AccountPayableTrans.PurchaseInvoiceId
                                    WHERE   AccountPayableMaster.IsDeleted=0
											and AccountPayableMaster.EntityId = @EntityId
											and isPaymentdone = 0
                                    GROUP BY PurchaseInvoice.PurchaseInvoiceid
                                  ) AS AccountPayableTrans ON AccountPayableTrans.PurchaseInvoiceid = PurchaseInvoice.PurchaseInvoiceId
                WHERE IsDelete=0 and PurchaseInvoice.TotalAmount>0
                And PurchaseInvoice.SupplierInvoiceDate <= @PaymentDate 
                AND  IsPaymentDone = 0 and SupplierId=@SupplierId                                                
               Order by SupplierInvoiceDate ASC
               
END
GO
