USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MoldBox]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MoldBox]
    @parameter INT = 0 ,
    @MoldBoxId UNIQUEIDENTIFIER = NULL ,
    @MoldBoxName VARCHAR(100) = NULL ,
    @Dimension1 FLOAT = NULL ,
    @Dimension2 FLOAT = NULL ,
    @Dimension3 FLOAT = NULL ,
    @BoxVolume FLOAT = NULL ,
    @Qty INT = 0 ,
    @CreatedBy INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL ,
    @DeletedBy INT = 0 ,
    @DeletedOn DATETIME = NULL ,
    @IsDeleted INT = 0 ,
    @EntityId INT = 0 ,
    @TopOrBottom BIT = 0 ,
    @MoldBoxTopBottomTable AS XML = NULL ,
    @MoldBoxTopBottomId UNIQUEIDENTIFIER = NULL ,
    @TotalRecords INT = 0 ,
    @PageNumber INT = 0 ,
    @PageSize INT = 0 ,
    @InitialLoad INT = 0,
    @TopOrBottomOrCheek int =0,
    @BoxId UNIQUEIDENTIFIER = null
AS
    IF @parameter = 1			-- Insert MoldBoxName Master
        BEGIN
            SET @MoldBoxId = NEWID();
            INSERT  INTO MoldBoxMaster
                    ( MoldBoxId ,
                      MoldBoxName ,
                      BoxVolume ,
                      IsDeleted ,
                      CreatedBy ,
                      CreatedOn ,
                      EntityId
                    )
            VALUES  ( @MoldBoxId ,
                      @MoldBoxName ,
                      @BoxVolume ,
                      @IsDeleted ,
                      @CreatedBy ,
                      @CreatedOn ,
                      @EntityId
                    )
                    
           
            DECLARE MoldBoxTopBottom CURSOR
            FOR
                SELECT  Node.value('(TopOrBottom )[1]', 'bit') AS 'TopOrBottom' ,
                        Node.value('(Dimension1 )[1]', 'float') AS 'Dimension1' ,
                        Node.value('(Dimension2 )[1]', 'float') AS 'Dimension2' ,
                        Node.value('(Dimension3 )[1]', 'float') AS 'Dimension3' ,
                        Node.value('(Qty )[1]', 'int') AS 'Qty',
                        Node.value('(TopOrBottomOrCheek )[1]', 'int') AS 'TopOrBottomOrCheek',
                        Node.value('(MoldBoxId )[1]', 'UNIQUEIDENTIFIER') AS 'MoldBoxId'
                FROM    @MoldBoxTopBottomTable.nodes('/DocumentElement/MoldBoxTopBottom')
                        AS TEMPXML ( Node )
            OPEN MoldBoxTopBottom
            FETCH NEXT FROM MoldBoxTopBottom INTO @TopOrBottom, @Dimension1,
                @Dimension2, @Dimension3, @Qty,@TopOrBottomOrCheek,@boxid	
 
            WHILE @@FETCH_STATUS = 0
                BEGIN
                    INSERT  INTO MoldBoxTopBottomTrans
                            ( MoldBoxTopBottomId ,
                              MoldBoxID ,
                              TopOrBottom ,
                              Dimension1 ,
                              Dimension2 ,
                              Dimension3 ,
                              Qty,
                              Type,
                              BoxId
                            )
                    VALUES  ( NEWID() ,
                              @MoldBoxId ,
                              @TopOrBottom ,
                              @Dimension1 ,
                              @Dimension2 ,
                              @Dimension3 ,
                              @Qty,@TopOrBottomOrCheek
                              ,@boxid	
                            )
                    FETCH NEXT FROM MoldBoxTopBottom INTO @TopOrBottom,
                        @Dimension1, @Dimension2, @Dimension3, @Qty,@TopOrBottomOrCheek,@boxid
                END
            CLOSE MoldBoxTopBottom;
            DEALLOCATE MoldBoxTopBottom;
            RETURN 1;
        END

    IF @parameter = 3			-- Update MoldBoxName Master
        BEGIN

            UPDATE  MoldBoxMaster
            SET     MoldBoxName = @MoldBoxName ,
                    BoxVolume = @BoxVolume ,
                    ModifiedBy = @ModifiedBy ,
                    ModifiedOn = @ModifiedOn
            WHERE   MoldBoxId = @MoldBoxId

            IF @@Error <> 0
                ROLLBACK TRANSACTION
                
            DELETE  FROM MoldBoxTopBottomTrans
            WHERE   MoldBoxID = @MoldBoxId
            
            DECLARE MoldBoxTopBottom CURSOR
            FOR
                SELECT  Node.value('(TopOrBottom )[1]', 'bit') AS 'TopOrBottom' ,
                        Node.value('(Dimension1 )[1]', 'float') AS 'Dimension1' ,
                        Node.value('(Dimension2 )[1]', 'float') AS 'Dimension2' ,
                        Node.value('(Dimension3 )[1]', 'float') AS 'Dimension3' ,
                        Node.value('(Qty )[1]', 'int') AS 'Qty' ,
                        Node.value('(MoldBoxTopBottomId )[1]',
                                   'UniqueIdentifier') AS 'MoldBoxTopBottomId',
                                     Node.value('(TopOrBottomOrCheek )[1]', 'int') AS 'TopOrBottomOrCheek',
                        Node.value('(MoldBoxId )[1]', 'UNIQUEIDENTIFIER') AS 'MoldBoxId'
                FROM    @MoldBoxTopBottomTable.nodes('/DocumentElement/MoldBoxTopBottom')
                        AS TEMPXML ( Node )
						
            OPEN MoldBoxTopBottom;
         
            FETCH NEXT FROM MoldBoxTopBottom INTO @TopOrBottom, @Dimension1,
                @Dimension2, @Dimension3, @Qty, @MoldBoxTopBottomId,@TopOrBottomOrCheek,@boxid
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN       
                    IF ( @MoldBoxTopBottomId IS  NULL )
                        OR ( @MoldBoxTopBottomId = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) )
                        BEGIN
                    
                    --SET @ContactId = NEWID()
                            INSERT  INTO MoldBoxTopBottomTrans
                                    ( MoldBoxTopBottomId ,
                                      MoldBoxID ,
                                      TopOrBottom ,
                                      Dimension1 ,
                                      Dimension2 ,
                                      Dimension3 ,
                                      Qty,
                                      Type,
									  BoxId
								    )
                            VALUES  ( NEWID() ,
                                      @MoldBoxId ,
                                      @TopOrBottom ,
                                      @Dimension1 ,
                                      @Dimension2 ,
                                      @Dimension3 ,
                                      @Qty,
                                      @TopOrBottomOrCheek,
                                      @boxid
                                    )		
                        END
                
                    FETCH NEXT FROM MoldBoxTopBottom INTO @TopOrBottom,
                        @Dimension1, @Dimension2, @Dimension3, @Qty,
                        @MoldBoxTopBottomId,@TopOrBottomOrCheek,@boxid
                        
                END
            IF @@Error <> 0
                ROLLBACK TRANSACTION
            CLOSE MoldBoxTopBottom;
            DEALLOCATE MoldBoxTopBottom;
            RETURN 1;
        END

    IF @parameter = 4			-- Delete from MoldBoxName Master
        BEGIN

            UPDATE  MoldBoxMaster
            SET     IsDeleted = '1' ,
                    DeletedBy = @DeletedBy ,
                    DeletedOn = GETDATE()
            WHERE   MoldBoxId = @MoldBoxId


        END
    --IF @parameter = 5			-- Delete from MoldBoxName Master
    --    BEGIN

    --        UPDATE  MoldBoxMaster
    --        SET     IsDeleted = '0'
    --        WHERE   MoldBoxId = @MoldBoxId


    --    END
    IF @Parameter = 6 -- Fetch MoldBox Top Bottom Details For Popup
        BEGIN            
            SELECT   CASE WHEN Type = 1 THEN 'Top(Cope)'
						 WHEN Type = 2 THEN 'Cheek'
                         ELSE 'Bottom(Drag)'
                    END AS TopOrBottom ,
                    CAST(Dimension1 AS DECIMAL(18, 2)) AS Dimension1 ,
                    CAST(Dimension2 AS DECIMAL(18, 2)) AS Dimension2 ,
                    CAST(Dimension3 AS DECIMAL(18, 2)) AS Dimension3 ,
                    Qty ,
                    CAST(( Dimension1 * Dimension2 * Dimension3 ) AS DECIMAL(18,
                                                              2)) AS Volume
            FROM    dbo.MoldBoxTopBottomTrans
            WHERE   MoldBoxTopBottomTrans.MoldBoxID = @MoldBoxId
                  
        END	
    IF @parameter = 7 -- Fetch MoldBox and Trans Detail for Edit
        BEGIN

            SELECT  MoldBoxID ,
                    MoldBoxName ,
                    BoxVolume
            FROM    MoldBoxMaster
            WHERE   IsDeleted = 0
                    AND MoldBoxID = @MoldBoxId
	
            SELECT  MoldBoxTopBottomId ,
                    TopOrBottom ,
                    CASE WHEN Type = 1 THEN 'Top(Cope)'
						 WHEN Type = 2 THEN 'Cheek'
                         ELSE 'Bottom(Drag)'
                    END AS TopOrBottomValue ,
                    CAST(Dimension1 AS DECIMAL(18, 2)) AS Dimension1 ,
                    CAST(Dimension2 AS DECIMAL(18, 2)) AS Dimension2 ,
                    CAST(Dimension3 AS DECIMAL(18, 2)) AS Dimension3 ,
                    Qty ,
                    CAST(( Dimension1 * Dimension2 * Dimension3 ) AS DECIMAL(18,
                                                              2)) AS Volume,
					Type as  TopOrBottomOrCheek    ,
					BoxId as MoldBoxID 
            FROM    MoldBoxTopBottomTrans
            WHERE   ( MoldBoxTopBottomTrans.MoldBoxID = @MoldBoxId )
                   
        END  
    IF @parameter = 9 -- Fetch MoldBox For Filter
        BEGIN

            SELECT  MoldBoxID ,
                    MoldBoxName
            FROM    MoldBoxMaster
            WHERE   IsDeleted = 0
            and EntityId=@entityID
            ORDER BY MoldBoxMaster.MoldBoxName
        END  
        
    IF @parameter = 10
        BEGIN
            SELECT  MoldBoxTopBottomTrans.Dimension1 ,
                    MoldBoxTopBottomTrans.Dimension2 ,
                    MoldBoxTopBottomTrans.Dimension3 ,
                    TopOrBottom
            FROM    MoldBoxTopBottomTrans
            WHERE   MoldBoxTopBottomTrans.MoldBoxID = @MoldBoxId
        END
        
    IF @parameter = 11
        BEGIN
            SELECT  MoldBoxMaster.MoldBoxID ,
                    MoldBoxMaster.MoldBoxName
            FROM    MoldBoxMaster
            WHERE   IsDeleted = 0    AND EntityId = @EntityId
            order by MoldBoxName
                  
        END
        
		
	IF @Parameter = 13 -- This will check if duplicate MoldBox is exist or not.
	BEGIN
	
	 DECLARE @Exists INT
	 IF EXISTS(select MoldBoxMaster.MoldBoxID from MoldBoxMaster 
	           WHERE MoldBoxMaster.MoldBoxName = @MoldBoxName
	           AND IsDeleted = 0 AND EntityId = @EntityId
	           and (@MoldBoxId is NULL OR MoldBoxMaster.MoldBoxID != @MoldBoxId))
      BEGIN
            SET @Exists = 1
      END
      ELSE
      BEGIN
            SET @Exists = 0
      END
 
      RETURN @Exists
	
	END
    
    IF @Parameter = 14
        BEGIN
            SELECT  PurchaseItemId,PurchaseItemMaster.ItemName
            FROM   PurchaseItemMaster
			WHERE   IsDeleted = 0 and IsAsset =1 and IsEquipment =0 and IsMoldBox = 1
                     AND EntityId = @EntityId
        END
        
	IF @Parameter = 15
        BEGIN
            SELECT  Length,Width,Height 
            FROM   PurchaseItemMaster
			WHERE   PurchaseItemId =@MoldBoxId			
        END
        
GO
