USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[HeatNo_Casting_Dispatch_Report]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================          
-- Author:  <Author,,Name>          
-- Create date: <Create Date,,>          
-- Description: <Description,,>          
-- =============================================          
CREATE PROCEDURE [dbo].[HeatNo_Casting_Dispatch_Report]
    @EntityID INT = 0 ,          
	@FromDate DATETIME = NULL , 
	@ToDate DATETIME = NULL
AS          
    BEGIN          
    
		SET NOCOUNT ON;          
		
		---- sp Production Parameter  25
			select distinct	ProductionBatch.batchno,ProductionBatch.batchID
			from dbo.dispatchmaster 
			INNER JOIN dbo.dispatchtrans ON dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid and dispatchtrans.IsDeleted=0
			INNER JOIN dbo.DispatchGradewise ON dbo.DispatchGradewise.DispatchTransID = dbo.dispatchtrans.dispatchtransid 
			INNER JOIN dbo.CastingStockBatch ON DispatchGradewise.BatchID = dbo.CastingStockBatch.Batchid
			Inner Join ProductionBatch On ProductionBatch.batchID  = CastingStockBatch.productionbatchID AND dbo.ProductionBatch.IsDeleted = 0
			WHERE dispatchmaster.EntityId = @EntityId and dbo.dispatchmaster.IsDeleted = 0 AND dbo.dispatchmaster.isProforma = 0 AND dispatchmaster.TypeOfVoucher = 0
				AND cast (dispatchmaster.dispatchdate as date) between cast(@FromDate as date) and cast(@ToDate as date)
			ORDER BY ProductionBatch.batchno 

END 
GO
