USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CastingDispatchDetailReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:  	<Author,,Megha>
-- Create date: <Create 9 Jan 2020,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CastingDispatchDetailReport] 
(
	@Parameter int = 0,
	@EntityId int = 0,
	@PlantIdString varchar(max) = NULL,
	@DispatchdateFrom datetime,
	@DispatchdateTo datetime,
	@CastingId uniqueidentifier = NULL,
	@CustomerID uniqueidentifier = NULL,
	@BatchID int = 0,
	@CastingName varchar(max) = NULL,
	@HeatCode varchar(500) = NULL
)

AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Plant TABLE (Item int)
	IF (@PlantIdString IS NOT NULL AND @PlantIdString != '')
	BEGIN
		INSERT INTO @Plant
			SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	END

	SELECT	
			CustMst.CustomerName, CustMst.CustomerCode, InvoiceNo, CONVERT(varchar(15), dispatchdate, 106) AS dispatchdate,
			CastMst.CastingCode, CastMst.CastingName, OrdMstTbl.DrawingNo, OrdMstTbl.MetalName, 
			dbo.ProductionBatch.batchno AS HeatNo, CONVERT(varchar(15), dbo.ProductionBatch.ProductionDate, 106) AS ProductionDate,
			DispatchQty, PerPcWeight, OrdMstTbl.CustomerOrderNo AS PONo, CONVERT(varchar(15), OrdMstTbl.OrderDate, 106) AS PODate, 
			CONVERT(varchar(15), OrdMstTbl.ReceivedDate, 106) AS OrderDate,
			(	ISNULL(OrdMstTbl.Prefix, '') + ISNULL(OrdMstTbl.Separator, '') 
				+ OrdMstTbl.OASrNo 
				+ ISNULL(OrdMstTbl.Separator, '') + + ISNULL(OrdMstTbl.Suffix, '')
			) AS OANo,
			isnull(CastingHeatCode.HeatCode ,'') as HeatCode,(DispatchQty*PerPcWeight) as TotalWeight
	FROM	(
	
			SELECT	(	ISNULL(DispatchMstFltrd.Prefix, '') + ISNULL(DispatchMstFltrd.Separator, '')  
						+ DispatchMstFltrd.Dispatchslipno 
						+ ISNULL(DispatchMstFltrd.Separator, '') + ISNULL(DispatchMstFltrd.Suffix, '')
					) AS InvoiceNo, 
					DispatchMstFltrd.dispatchdate, dbo.DispatchGradewise.Qty AS DispatchQty, dbo.dispatchtrans.[weight] AS PerPcWeight, 
					DispatchMstFltrd.EntityID, DispatchMstFltrd.PlantId, TypeOfVoucher, DispatchMstFltrd.customerID, 
					dbo.dispatchtrans.orderid, dbo.dispatchtrans.orderserialno, dbo.dispatchtrans.castingid, dbo.DispatchGradewise.BatchID
			FROM	(
			
					SELECT	dbo.dispatchmaster.Prefix, dbo.dispatchmaster.Separator, dbo.dispatchmaster.Dispatchslipno, dbo.dispatchmaster.Suffix,
							dbo.dispatchmaster.dispatchdate, dbo.dispatchmaster.EntityID, dbo.dispatchmaster.PlantId, TypeOfVoucher,
							dbo.dispatchmaster.customerID, dbo.dispatchmaster.DispatchID
					FROM	dbo.dispatchmaster
					WHERE	dbo.dispatchmaster.IsDeleted = 0 AND dbo.dispatchmaster.isProforma = 0
							AND EntityId = @EntityId
							AND (@PlantIdString IS NULL OR @PlantIdString = '' OR PlantID IN (SELECT Item FROM @Plant) )
							AND (@CustomerID IS NULL OR CustomerId = @CustomerID)
							AND (@DispatchdateFrom IS NULL OR @DispatchdateTo IS NULL
								OR dispatchdate BETWEEN @DispatchdateFrom AND @DispatchdateTo
							)
							AND TypeOfVoucher = 0
			
			) AS DispatchMstFltrd
					INNER JOIN dbo.dispatchtrans ON DispatchMstFltrd.DispatchID = dbo.dispatchtrans.dispatchid 
					INNER JOIN dbo.DispatchGradewise ON dbo.DispatchGradewise.DispatchTransID = dbo.dispatchtrans.dispatchtransid 
			WHERE	dbo.dispatchtrans.IsDeleted = 0
					AND (@CastingId IS NULL OR CastingID = @CastingId)
					--AND (@BatchID IS NULL OR @BatchID = 0 OR batchID = @BatchID)

	) AS DispatchFiltrdTbl
			OUTER APPLY (
					SELECT CustomerId, CustomerName, CustomerCode FROM dbo.CustomerMaster
					WHERE DispatchFiltrdTbl.customerID = dbo.CustomerMaster.CustomerId 
			) AS CustMst 
			OUTER APPLY (
			
					SELECT	DrawingNo, CustomerOrderNo, OrderDate, ReceivedDate, Prefix, Separator, OASrNo, Suffix, MetMst.MetalName
					FROM	dbo.OrderTranse AS CustOrdTrns
							INNER JOIN dbo.OrderMaster AS CustOrmMst ON CustOrmMst.CustomerOrderId = CustOrdTrns.CustomerOrderId 
											AND CustOrmMst.IsDeleted = 0
							INNER JOIN (
									SELECT MetalId, MetalName FROM dbo.MetalMaster
							) AS MetMst ON MetMst.MetalId = CustOrdTrns.MetalID 
					WHERE	CustOrdTrns.IsDeleted = 0
							AND CustOrdTrns.CustomerOrderId = DispatchFiltrdTbl.orderid 
							AND CustOrdTrns.CastingId = DispatchFiltrdTbl.castingid 
							AND  DispatchFiltrdTbl.orderserialno = CustOrdTrns.SrNo 

			) AS OrdMstTbl
			OUTER APPLY (
					SELECT dbo.CastingMaster.CastingName, dbo.CastingMaster.CastingCode FROM dbo.CastingMaster
					WHERE dbo.CastingMaster.CastingId = DispatchFiltrdTbl.castingid 
			) AS CastMst
			INNER JOIN dbo.CastingStockBatch ON DispatchFiltrdTbl.BatchID = dbo.CastingStockBatch.Batchid 
			INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
			LEFT JOIN CastingHeatCode ON CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeID
							AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
							And CastingHeatCode.CastingID = CastingStockBatch.CastingID 
	WHERE   (@CastingName IS NULL OR @CastingName = '' OR CastingName = @CastingName)
			AND (@BatchID IS NULL OR @BatchID = 0 OR ProductionBatch.batchID = @BatchID)
			AND (@HeatCode IS NULL OR HeatCode = @HeatCode)
	ORDER BY  InvoiceNo DESC, CAST(dispatchdate AS DATE) DESC

END
GO
