USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Maintenance_PreventiveMaintananceMasterCostSelectByPreventiveMaintenanceMasterIDEntityCodeStatus]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Maintenance_PreventiveMaintananceMasterCostSelectByPreventiveMaintenanceMasterIDEntityCodeStatus]
@PreventiveMaintenanceMasterID numeric(18,0),
@EntityCode numeric(18,0),
@Status Bit
AS
BEGIN
	SET NOCOUNT ON;
SELECT     MaintenancePreventiveMaintenanceMasterCost.ID, MaintenancePreventiveMaintenanceMasterCost.PreventiveMaintenanceMasterID, MaintenancePreventiveMaintenanceMasterCost.EquipmentID, 
                      MaintenancePreventiveMaintenanceMasterCost.Perticular, MaintenancePreventiveMaintenanceMasterCost.Rate, MaintenancePreventiveMaintenanceMasterCost.Qty, 
                      MaintenancePreventiveMaintenanceMasterCost.TotalAmount, MaintenancePreventiveMaintenanceMasterCost.Remarks, MaintenancePreventiveMaintenanceMasterCost.InsertedBy, 
                      MaintenancePreventiveMaintenanceMasterCost.InsertedDate, MaintenancePreventiveMaintenanceMasterCost.EntityCode, MaintenancePreventiveMaintenanceMasterCost.Status, 
                      dbo.EquipmentMaster.EquipmentName, dbo.EquipmentMaster.EquipmentCode, MaintenancePreventiveMaintenanceMaster.Date
FROM         MaintenancePreventiveMaintenanceMasterCost INNER JOIN
                      MaintenancePreventiveMaintenanceMaster ON MaintenancePreventiveMaintenanceMasterCost.PreventiveMaintenanceMasterID = MaintenancePreventiveMaintenanceMaster.ID INNER JOIN
                      dbo.EquipmentMaster ON MaintenancePreventiveMaintenanceMasterCost.EquipmentID = dbo.EquipmentMaster.EquipId
WHERE     (MaintenancePreventiveMaintenanceMasterCost.PreventiveMaintenanceMasterID = @PreventiveMaintenanceMasterID) AND 
                      (MaintenancePreventiveMaintenanceMasterCost.EntityCode = @EntityCode) AND (MaintenancePreventiveMaintenanceMasterCost.Status = @Status)
END
GO
