USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ContainerDetails_Insert]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ContainerDetails_Insert]
@ContainerDetail AS XML = NULL, 
@DispatchId int = 0
AS
BEGIN
	BEGIN TRY
	  BEGIN TRANSACTION ContainerDetails_Insert
	  
	  IF EXISTS(select * from PackingContainerDetail where DispatchID = @DispatchId)
	  Begin
	      DELETE from PackingContainerDetail where DispatchID = @DispatchId
	  END
	  
	  INSERT  INTO dbo.PackingContainerDetail
                    ( ContainerId ,
                      ContainerNo ,
                      Size ,
                      SelfOrExciseSealNo ,
                      ShippingLineSealNo ,
                      DispatchID
                    )
                SELECT 
                NEWID(),
                Node.value('(ContainerNo)[1]', 'varchar(50)'),
                Node.value('(Size)[1]', 'varchar(100)'),
                Node.value('(SelfOrExciseSealNo)[1]', 'varchar(100)'),
                Node.value('(ShippingLineSealNo)[1]', 'varchar(100)'),
                @DispatchId
                FROM  
                @ContainerDetail.nodes('/DocumentElement/ContainerDetails')
                AS TEMPXML ( Node )	
                
                update dispatchmaster Set IsDoneContainer = 1 where DispatchID = @DispatchId
	  
	  COMMIT TRANSACTION ContainerDetails_Insert
	  SELECT '1'
	END TRY
	BEGIN CATCH
	  ROLLBACK TRANSACTION ContainerDetails_Insert
	  SELECT 'ERROR:'+ERROR_MESSAGE()
	END CATCH
	
END

GO
