USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[STORESTOCKUPDATE]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[STORESTOCKUPDATE]
	@IsBatchWise bit,
	@BATCHXML XML,
	@PlantId int,
	@EntityId int,
	@Tagging varchar(max),
	@UserID int,
	@IsTransfer int =0 ,
	@StockType varchar(Max) = '' ,
	@Process varchar(MaX),
	@ProcessDate datetime
AS
BEGIN
	SET NOCOUNT ON;
	begin try


	declare @BatchTable table (RawBatchId int,RawBatchNo varchar(50),PurchaseItemId uniqueidentifier,TransactionQty float,
		ExpDate datetime,ItemSizePara varchar(Max),ProcessCode varchar(MaX) ,Status int,BatchParentId int)

	declare @RateTable table ( RawBatchId int,Rate float)

	--for getting rawBatchid
	DECLARE @ItemResult table( PurchaseItemId uniqueidentifier,RawBatchId bigint, RawBatchNo varchar(Max),BatchParentid int);
	
	--for History mainly use for invenoryId
	Declare @InventoryHistory table (InventoryId uniqueidentifier,ProcessCode varchar(Max),PurchaseItemId uniqueidentifier,srno int,TransactionQty float)
	
	declare  @SerialNo int = isnull((Select MAX(SerialNo) from InventoryTransactionHistory),0)
	
	Insert into @BatchTable
	SELECT  x.d.value('(RawBatchId)[1]', 'int'),
			x.d.value('(RawBatchNo)[1]', 'varchar(50)'),
			x.d.value('(PurchaseItemId)[1]', 'uniqueidentifier'),
			x.d.value('(TransactionQty)[1]', 'float'),
			x.d.value('(ExpDate)[1]', 'datetime'),
			x.d.value('(ItemSizePara)[1]', 'varchar(Max)'),
			x.d.value('(ProcessCode)[1]', 'varchar(Max)'),
			x.d.value('(Status)[1]', 'int'),
			ISNULL(x.d.value('(BatchParentId)[1]', 'int'),0)
	FROM	@BATCHXML.nodes('/DocumentElement/BatchDetails') x(d)
	
	Insert into @InventoryHistory
	Select	newid(),ProcessCode,BatchTable.PurchaseItemId,
			ROW_NUMBER() Over(Order by BatchTable.PurchaseItemId,BatchTable.ProcessCode),
			SUM(TransactionQty)
	from	@BatchTable as BatchTable
	Group by BatchTable.PurchaseItemId,BatchTable.ProcessCode

	Insert into InventoryTransactionHistory(InventoryId,PurchaseItemId,CurrentStock,
				TransactionQty,Tagging,Process,ProcessCode,ProcessDate,InsertedDate,
				UserId,SerialNo,EntityId,POPlantId)
	Select	InvHistory.InventoryId,InvHistory.PurchaseItemId, 
			isnull(InventoryDetails.Stock,0) + InvHistory.TransactionQty 
				+ isnull((	select	sum(TransactionQty) as qty  
							from	@InventoryHistory as InvHis
							where	InvHis.PurchaseItemId =InvHistory.PurchaseItemId
									And InvHis.ProcessCode = InvHistory.ProcessCode
									And InvHis.srno < InvHistory.srno 
						),0),
			InvHistory.TransactionQty,
			@Tagging,
			@Process,
			InvHistory.ProcessCode,
			@ProcessDate,
			GetDate(),
			@UserID,
			@SerialNo+ srno,
			@EntityId,
			@PlantId
	from	@InventoryHistory as InvHistory 
			Left Join InventoryDetails on InventoryDetails.PurchaseItemId = InvHistory.PurchaseItemId
					And InventoryDetails.PlantId = @PlantId
					And InventoryDetails.Entity = @EntityId
	
	if(@IsBatchWise = 1)
	BEGIN
		
		Insert into RawInwBatchWiseStock(RawBatchNo,PurchaseItemId,Qty,ExpDate,ItemSizePara,PlantId,EntityId,Status,BatchParentId)
		OUTPUT	inserted.PurchaseItemId, INSERTED.RawBatchId,inserted.RawBatchNo,inserted.BatchParentId
		INTO	@ItemResult
		Select RawBatchNo,PurchaseItemId,Sum(TransactionQty),ExpDate,ItemSizePara,@PlantId,@EntityId,Status,BatchParentId 
		from @BatchTable as BatchTable where isnull(BatchTable.RawBatchId ,0) = 0
		group by RawBatchNo,PurchaseItemId,ExpDate,ItemSizePara,Status,BatchParentId 
		
		Update	RawInwBatchWiseStock 
		Set		RawBatchNo = BatchTable.RawBatchNo,
				PurchaseItemId = BatchTable.PurchaseItemId,
				Qty = (isnull(Qty,0)+ isnull(BatchTable.TransactionQty,0)),
				ExpDate = BatchTable.ExpDate,
				ItemSizePara = BatchTable.ItemSizePara,
				Status = BatchTable.Status,
				BatchParentId = BatchTable.BatchParentId
		OUTPUT	inserted.PurchaseItemId, INSERTED.RawBatchId,inserted.RawBatchNo,inserted.BatchParentId
		INTO	@ItemResult
		from	RawInwBatchWiseStock 
				Inner Join (select BatchTable.RawBatchNo,
									BatchTable.PurchaseItemId,
									Sum(isnull(BatchTable.TransactionQty,0)) as Transactionqty,
									ExpDate,
									ItemSizePara,
									Status,
									BatchParentId,
									rawBatchid
							from	@BatchTable as BatchTable
							where isnull(BatchTable.RawBatchId ,0) != 0 
							group by BatchTable.RawBatchNo,
									BatchTable.PurchaseItemId,
									ExpDate,
									ItemSizePara,
									Status,
									BatchParentId,
									rawBatchid)
							as BatchTable on BatchTable.rawBatchid = RawInwBatchWiseStock.rawBatchId
		where	RawInwBatchWiseStock.PlantId = @PlantId 
				and RawInwBatchWiseStock.EntityId = @EntityId 
		
		Insert into BatchWiseStockHistory 
		Select	newid(),
				InvHistory.InventoryId,
				ItemResult.RawBatchId,
				batchTable.TransactionQty,
				@PlantId
		from	@InventoryHistory as InvHistory 
				Inner Join @BatchTable batchTable on batchTable.PurchaseItemId = InvHistory.PurchaseItemId
					and batchTable.ProcessCode = InvHistory.ProcessCode
				Inner join @ItemResult as ItemResult on ItemResult.rawBatchNo = batchTable.RawBatchNo 
							and ItemResult.PurchaseItemId = batchTable.PurchaseItemId
		
		update	RawMaterialInwardDetail set RawBatch_Id = ItemResult.RawBatchId
		from	RawMaterialInwardDetail
				inner Join RawMaterialInward on RawMaterialInward .InwardId = RawMaterialInwardDetail.InwardId
				Inner join @ItemResult as ItemResult on ItemResult.rawBatchNo = RawMaterialInwardDetail.RawBatchNo 
							and ItemResult.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
		where	PlantId = @PlantId
				and RawMaterialInward.EntityId = @EntityId
				
		update	SandProduction set Raw_BatchId = ItemResult.RawBatchId
		from	SandProduction
				Inner join @ItemResult as ItemResult on ItemResult.rawBatchNo = SandProduction.RawBatchNo 
							and ItemResult.PurchaseItemId = SandProduction.PurchaseItemId
		where	PlantId = @PlantId
				and SandProduction.EntityId = @EntityId
		
		Insert into @RateTable(RawBatchId,Rate)
		Select	ItemResult.RawBatchid,Rate
		from	SandProduction
				Inner join @ItemResult as ItemResult on (ItemResult.BatchParentid = SandProduction.Raw_BatchId 
				or (ItemResult.BatchParentid = 0 And ItemResult.RawBatchId = SandProduction.Raw_BatchId))
				 and SandProduction.Raw_BatchId != 0
		Where   not exists(select 1 from @RateTable as RateTable 
						Where (RateTable.RawBatchId = ItemResult.RawBatchId 
						--and ItemResult.BatchParentid = 0 )
						--		Or (RateTable.RawBatchId = ItemResult.BatchParentid)
								)
							)

		Insert into @RateTable( RawBatchId,Rate)
		Select	distinct ItemResult.RawBatchid ,Rate
		from	RawMaterialInwardDetail
				Inner join @ItemResult as ItemResult on (ItemResult.BatchParentid = RawMaterialInwardDetail.RawBatch_Id 
				or (ItemResult.BatchParentid = 0 And ItemResult.RawBatchId = RawMaterialInwardDetail.RawBatch_Id))
				and RawMaterialInwardDetail.RawBatch_Id != 0
		Where   not exists( select 1 from @RateTable as RateTable 
							Where (RateTable.RawBatchId = ItemResult.RawBatchId 
							
							--and ItemResult.BatchParentid = 0 )
							--	Or (RateTable.RawBatchId = ItemResult.BatchParentid)
								)
						)


		--InterPlant Item Transfer and Inward not consider in this history table
		--if (@IsTransfer = 0)
		BEGIN
			Insert into MaterialHistoryTransaction(InOut,Tagging,IsStoreOrFloor,Itemid,ConsiderForAll,TransactionQty,RawBatchId,EntityId,PlantId,ProcessDate,CreatedOn)
			select	InOut,TaggingType,IsFloor,batchTable.PurchaseItemId,0,batchTable.TransactionQty, ItemResult.RawBatchId,@EntityId,@PlantId,@ProcessDate,GetDate()
			from	@BatchTable as batchTable
					Inner join @ItemResult as ItemResult on ItemResult.rawBatchNo = batchTable.RawBatchNo 
							and ItemResult.PurchaseItemId = batchTable.PurchaseItemId
					Inner Join TaggingTable on Tagging = @Tagging + ISNULL(@StockType,'')
					and TaggingTable.IsTransfer = @IsTransfer
		END
		
		
	END

	Update	InventoryDetails 
	set		Stock = ISNULL(Stock,0)+ Qty
	from	InventoryDetails 
			Inner Join (Select	PurchaseItemId,
								SUM(TransactionQty) as Qty 
						from	@BatchTable as batchTable
						Group by PurchaseItemId
						) as batchTable on InventoryDetails.PurchaseItemId = batchTable.purchaseItemId
	Where	InventoryDetails.PlantId = @PlantId
			and InventoryDetails.Entity = @EntityId
	
	Insert into InventoryDetails(StockId, PurchaseItemId,Stock,Entity,PlantId)
	Select	newid(),
			PurchaseItemId,
			SUM(TransactionQty) as Qty ,
			@EntityId,
			@PlantId
	from	@BatchTable as batchTable
	Where	not exists (select 1 from InventoryDetails 
						where InventoryDetails.PurchaseItemId = batchTable.purchaseItemId
							and InventoryDetails.PlantId = @PlantId
							and InventoryDetails.Entity = @EntityId
							
						)
	Group by PurchaseItemId

		select 1
		return 1
	end try
	begin catch

		select -1
		return -1

	end catch

			
END


GO
