USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PatternAssemblyProduction_Update]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PatternAssemblyProduction_Update]
@XmlData XML	
AS
BEGIN
	
	BEGIN TRY
	   BEGIN TRANSACTION PatternAssemblyProduction_Update

	     DECLARE 
		 @ProductionBatchID uniqueidentifier,
		 @PlantId Bigint,
		 @EntityId BigInt,
		 @ModiFiedOn Nvarchar(50),
		 @CastingCavityDet Nvarchar(Max),
		 @PrevCastingCavityDet Nvarchar(Max),
		 @PreviousStock int,
		 @BatchNo Nvarchar(200),
		 @CastingCavityJson Nvarchar(Max),
		 @AssemblyID uniqueidentifier,
		 @DieId uniqueidentifier,
		 @MethodId uniqueidentifier,
		 @CurrentShots int,
		 @MoldTypeId uniqueidentifier,
		 @OrderId uniqueidentifier

		



	                SELECT
						@ProductionBatchID = x.d.value('ProductionBatchID[1]','uniqueidentifier'),
						@PlantId = x.d.value('PlantId[1]','Bigint'),
						@EntityId = x.d.value('EntityId[1]','Bigint'),
						@ModiFiedOn = x.d.value('ModifiedOn[1]','Nvarchar(50)'),
						@CastingCavityDet = x.d.value('CastingCavityDet[1]','nvarchar(MAX)'),
						@BatchNo = x.d.value('BatchNo[1]','nvarchar(100)'),
						@DieId = x.d.value('DieId[1]','uniqueidentifier'),
						@MethodId = x.d.value('MethodId[1]','uniqueidentifier'),
						@CurrentShots = x.d.value('NoOfShots[1]','int'),
						@MoldTypeId = x.d.value('MoldTypeId[1]','uniqueidentifier'),
						@OrderId = x.d.value('OrderId[1]','uniqueidentifier')
						FROM
		                @XmlData.nodes('/dsXmlData/dtMaster')x(d)


						 --IF EXISTS (select 1 from CoatingDetails where MethodID = @MethodId and  CoatFromID = CAST(0x0 AS UNIQUEIDENTIFIER) and IsDeleted = 0)
						 --BEGIN
						 --  ROLLBACK TRANSACTION PatternAssemblyProduction_Update
						 --  RETURN -6
						 --END

                     IF EXISTS( select * From PatternProduction Where ProductionBatchID = @ProductionBatchID AND IsAssembly = 1 AND IsDeleted = 1)
					 BEGIN
					    ROLLBACK TRANSACTION PatternAssemblyProduction_Update
					    RETURN -4
					 END

                     IF EXISTS( select * From PatternProduction Where ProductionBatchID = @ProductionBatchID  AND IsAssembly = 1 AND  ModifiedOn IS NOT NULL)
					 BEGIN

					    IF (select Convert(Nvarchar,PatternProduction.ModifiedOn,20) From PatternProduction Where ProductionBatchID = @ProductionBatchID AND IsAssembly = 1) <> @ModiFiedOn
						BEGIN
						   
						   ROLLBACK TRANSACTION PatternAssemblyProduction_Update
					       RETURN -3
						    
						END

					 END


					       declare @RawBatchNo Nvarchar(Max)

						   --IF Exists ( select 1 from RawInwBatchWiseStock where PurchaseItemId = @DieID 
									--and StockTypeID = @MethodId and PlantId = @PlantId and EntityId = @EntityID
									--and RawInwBatchWiseStock.Ref_Id = @MoldTypeId)
						   --BEGIN

						     select top 1 @RawBatchNo = RawBatchNo from RawInwBatchWiseStock 
							 where PurchaseItemId = @DieID and StockTypeID = @MethodId and PlantId = @PlantId and EntityId = @EntityID
							 and RawInwBatchWiseStock.Ref_Id = @MoldTypeId and OrderTranseId =isnull( @OrderId,cast(0x0 as uniqueidentifier))

						   --END
						   --ELSE
						   --BEGIN
						   --   select top 1 @RawBatchNo = BatchNo from PatternProduction where DieID = @DieID and MethodId = @MethodId  and IsAssembly = 1 and IsDeleted = 0 and PlantID = @PlantId order by CreatedOn
						   --END

					      Select @PrevCastingCavityDet = CastingCavityDet,@PreviousStock = NoOfShots from PatternProduction 
						  Where ProductionBatchID = @ProductionBatchID

						  Declare  @StockQty INT
						  SET @StockQty = @PreviousStock - @CurrentShots

					        select
							case when @StockQty > RawInwBatchWiseStock.Qty then 1 else 2 end IsExist
							into #IsCheckStock
							from 
							RawInwBatchWiseStock
							--PatternProduction 
							--Inner JOIN RawInwBatchWiseStock ON RawInwBatchWiseStock.StockTypeID = PatternProduction.MethodId
							WHERE
							--PatternProduction.ProductionBatchId = @ProductionBatchID
							RawInwBatchWiseStock.StockTypeID = @MethodId
							and Ref_Id = @MoldTypeId
							and RawInwBatchWiseStock.RawBatchNo = @RawBatchNo--PatternProduction.BatchNo
							and RawInwBatchWiseStock.PlantId = @PlantId
							and RawInwBatchWiseStock.EntityId = @EntityId
							and RawInwBatchWiseStock.OrderTranseId = isnull(@OrderId,cast(0x0 as uniqueidentifier))


							IF EXISTS(SELECT * FROM #IsCheckStock WHERE  IsExist = 1)
							BEGIN

							 ROLLBACK TRANSACTION PatternAssemblyProduction_Update
					         RETURN -2

							END      



				   	 SELECT
						 x.d.value('ProductionBatchID[1]','uniqueidentifier') as ProductionBatchID
						,x.d.value('ProductionDate[1]','datetime') as ProductionDate
						,x.d.value('ProductionEndDate[1]','datetime') as ProductionEndDate
						,x.d.value('ShiftId[1]','int') as ShiftId
						,x.d.value('StartTime[1]','Datetime') as StartTime
						,x.d.value('EndTime[1]','Datetime') as EndTime
						,x.d.value('NoOfShots[1]','int') as NoOfShots
						,x.d.value('OperatorId[1]','int') as OperatorId
						,x.d.value('CreatedBy[1]','int') as CreatedBy,
						x.d.value('OrderId[1]','uniqueidentifier') as OrderId
					   INTO #ProductionMaster
					FROM
		                @XmlData.nodes('/dsXmlData/dtMaster')x(d)

						 DECLARE 
							@MasterJson Nvarchar(MAX),
							@MasterDet Nvarchar(MAX),
							@PatternConsDet Nvarchar(MAX)

							SET  @PatternConsDet   = ( SELECT
						          '['+
                                 (STUFF(( SELECT DISTINCT              
                                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                                  FROM      
								  PatternProductionDetails
								  inner join PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = PatternProductionDetails.PatternID
								  where 
								  ProductionBatchID = @ProductionBatchID 
								  and ConsumptionDet <> '' 
								  AND PurchaseItemMaster.IsPatDieWax in (2,4)
								 
                                  FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) +']' AS ConsumptionDet  )


								CREATE TABLE #PatternCons(ProductionBatchID uniqueidentifier,PurchaseItemId uniqueidentifier,BatchNo Nvarchar(200),TransactionQty decimal(18,2),RawBatchID int)
								IF ISJSON(@PatternConsDet) = 1
								BEGIN
								  
								   INSERT INTO #PatternCons(ProductionBatchID,PurchaseItemId,BatchNo,TransactionQty,RawBatchID)
								   Select
								   @ProductionBatchID as ProductionBatchID, 
								   PatternCon.PurchaseItemID,
								   PatternCon.RawBatchNo,
								   PatternCon.TransactionQty,
								   PatternCon.RawBatchId
								   from
								   OPENJSON(@PatternConsDet)
								   WITH
								   (
								   PurchaseItemID uniqueidentifier,
								   RawBatchNo Nvarchar(200),
								   TransactionQty decimal(18,2),
								   RawBatchId int
								   ) as PatternCon


								END

							SET @MasterJson = (
									
									SELECT*
									FROM
									(
									select 
									PatternProduction.ProductionBatchId as ProcessCode,
									PatternProduction.DieID as PatternID,
									PatternProduction.NoOfShots *(-1) as TransactionQty,
									--PatternProduction.BatchNo as RawBatchNo,
									@RawBatchNo as RawBatchNo,
									PatternProduction.PlantId,
									PatternProduction.EntityId,
									PatternProduction.ProductionDate as ProcessDate,
								--	PatternProduction.ProductionEndDate as ProcessEndDate,
									PatternProduction.CreatedBy as UserId,
									isnull(@OrderId ,cast(0x0 as uniqueidentifier)) as OrderTranseId
									from 
									PatternProduction
									WHERE
									PatternProduction.ProductionBatchId = @ProductionBatchID

									UNION ALL			

									SELECT
									PatternProduction.ProductionBatchID as ProcessCode,
									#PatternCons.PurchaseItemId  as PatternID,
									#PatternCons.TransactionQty as TransactionQty,
									#PatternCons.BatchNo COLLATE DATABASE_DEFAULT as  RawBatchNo,
									PatternProduction.PlantId,
									PatternProduction.EntityId,
									PatternProduction.ProductionDate as ProcessDate,
								 --   PatternProduction.ProductionEndDate as ProcessEndDate,
									PatternProduction.CreatedBy as UserId,
									isnull(@OrderId ,cast(0x0 as uniqueidentifier))as OrderTranseId
									from
									#PatternCons
									inner JOIN PatternProduction ON PatternProduction.ProductionBatchID  = #PatternCons.ProductionBatchID
									inner join PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = #PatternCons.PurchaseItemId
									where
									#PatternCons.TransactionQty <> 0
									AND PurchaseItemMaster.IsPatDieWax in(2,4)   
									AND PatternProduction.ProductionBatchId = @ProductionBatchID
									) as t

									for json PATH
									)


		                SET    @MasterDet   = ( SELECT
						       '['+
                                 (STUFF(( SELECT DISTINCT              
                                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                                  FROM      PatternProductionDetails
								            inner join PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = PatternProductionDetails.PatternID
								  where ProductionBatchID = @ProductionBatchID  and ConsumptionDet <> '' AND PurchaseItemMaster.IsPatDieWax = 0           
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) +']' AS ConsumptionDet  )


		                 EXEC PatternStock_Management @JsonPattern  =  @MasterJson,
						 @JsonConsumption= @MasterDet ,
						 @PlantId = @PlantId,
						 @EntityId = @EntityId,
						 @Process = 'Delete',
						 @Tagging = 'PatternAssemblyProduction',
						 @BlockQty = 1





						 DECLARE
						 @PatternID uniqueidentifier,
						 @ProcessDate Datetime,
						 @ProcessEndDate Datetime,
						 @UserId int

						 IF ISJSON(@CastingCavityDet) = 1
						 BEGIN

						 


						 SELECT
							@PatternID = x.d.value('MethodId[1]','uniqueidentifier'),
							@ProcessDate = x.d.value('ProductionDate[1]','datetime'),
							@ProcessEndDate = x.d.value('ProductionEndDate[1]','datetime'),
							@UserId = x.d.value('CreatedBy[1]','int'),
							@CastingCavityJson = x.d.value('CastingCavityDet[1]','nvarchar(MAX)'),
							@AssemblyID = x.d.value('DieId[1]','uniqueidentifier')
							FROM
							@XmlData.nodes('/dsXmlData/dtMaster')x(d)


						 EXEC PatternMold_Management @CastingCavityJson = @PrevCastingCavityDet,
						 @RawBatchNo = @RawBatchNo,--@BatchNo,
						 @PatternID = @PatternID,
						 @Stock=  @PreviousStock,
						 @PlantID = @PlantId,
						 @EntityID = @EntityId,
						 @Process ='Delete',
						 @ProcessCode = @ProductionBatchID,
						 @ProcessDate = @ProcessDate,
						 @Tagging = 'PatternAssemblyProduction',
						 @UserId =@UserId,
						 @IsCavityUpdated = 0,
						 @PreviousCastingCavity = @PrevCastingCavityDet,
						 @AssemblyID = @AssemblyID,
						 @MoldTypeId = @MoldTypeId,
						 @OrderId = @OrderId

						 END


					SELECT
				     x.d.value('ProductionBatchDetID[1]','uniqueidentifier') as ProductionBatchDetID
					,@ProductionBatchID AS ProductionBatchId
					,x.d.value('PatternId[1]','uniqueidentifier') as PatternId
					,x.d.value('ProductionQty[1]','Float') as ProductionQty
					,x.d.value('ConsumptionDet[1]','Nvarchar(MAX)') as ConsumptionDet
					,x.d.value('ItemType[1]','int') as ItemType,
                    case when isnull(IsNonConsumable,0) = 1 then x.d.value('ProductionQty[1]','Float')  else 0 end as BlockQty,
					isnull(IsNonConsumable,0) as IsBlock
					INTO #ProdDet
		            FROM
		             @XmlData.nodes('/dsXmlData/dtDetails')x(d)
					 Left Join PurchaseItemMaster pim on pim.PurchaseItemId = x.d.value('PatternId[1]','uniqueidentifier')

					UPDATE a
					 SET ConsumptionDet = JSON_MODIFY(
												a.ConsumptionDet,
												'$[0].BlockQty',
												CASE 
													WHEN ISNULL(pim.IsNonConsumable,0) = 1 
														THEN 
														cast(JSON_VALUE(a.ConsumptionDet,'$[0].ConsumptionQty') as varchar(50))
															
													ELSE 0
												END
											)
						FROM #ProdDet AS a
						LEFT JOIN PurchaseItemMaster pim 
						ON pim.PurchaseItemId = a.PatternId;

		

						UPDATE 
						PatternProduction
						SET
						PatternProduction.ProductionDate = #ProductionMaster.ProductionDate,
						PatternProduction.ProductionEndDate = #ProductionMaster.ProductionEndDate,
						PatternProduction.ShiftID = #ProductionMaster.ShiftId,
						PatternProduction.StartTime = #ProductionMaster.StartTime,
						PatternProduction.EndTime = #ProductionMaster.EndTime,
						PatternProduction.NoOfShots = #ProductionMaster.NoOfShots,
						PatternProduction.OperatorId = #ProductionMaster.OperatorId,
						PatternProduction.ModifiedBy = #ProductionMaster.CreatedBy,
						PatternProduction.ModifiedOn  = GETDATE(),
						Patternproduction.CastingCavityDet = @CastingCavityDet,
						PatternProduction.AvailDeWaxQty = #ProductionMaster.NoOfShots
						from
						#ProductionMaster
						WHERE
						#ProductionMaster.ProductionBatchID = PatternProduction.ProductionBatchID



					 Update
					 PatternProductionDetails
					 SET
					 PatternProductionDetails.ProductionQty = #ProdDet.ProductionQty,
					 PatternProductionDetails.ConsumptionDet = #ProdDet.ConsumptionDet,
					 PatternProductionDetails.BlockQty = #ProdDet.BlockQty,
					 patternProductiondetails.IsBlock = #ProdDet.IsBlock
					 FROM
					 #ProdDet
					 WHERE
					 #ProdDet.ProductionBatchDetID = PatternProductionDetails.ProductionBatchDetID


					  SET    @PatternConsDet   = ( SELECT
						       '['+
                                 (STUFF(( SELECT DISTINCT              
                                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                                  FROM      #ProdDet where ConsumptionDet  <> '' AND ItemType = 2                   
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) +']' AS ConsumptionDet  )


								Delete from #PatternCons
								IF ISJSON(@PatternConsDet) = 1
								BEGIN
								  
								   INSERT INTO #PatternCons(ProductionBatchID,PurchaseItemId,BatchNo,TransactionQty,RawBatchID)
								   Select
								   @ProductionBatchID as ProductionBatchID, 
								   PatternCon.PurchaseItemID,
								   PatternCon.RawBatchNo,
								   PatternCon.TransactionQty,
								   PatternCon.RawBatchId
								   from
								   OPENJSON(@PatternConsDet)
								   WITH
								   (
								   PurchaseItemID uniqueidentifier,
								   RawBatchNo Nvarchar(200),
								   TransactionQty decimal(18,2),
								   RawBatchId int
								   ) as PatternCon


								END



                    


					 SET @MasterJson = (
							SELECT
							*
							from
							(
							select 
							PatternProduction.ProductionBatchID as ProcessCode,
							PatternProduction.DieID as PatternID,
							PatternProduction.NoOfShots  as TransactionQty,
							--PatternProduction.BatchNo as RawBatchNo,
							@RawBatchNo as RawBatchNo,
							PatternProduction.PlantId,
							PatternProduction.EntityId,
							PatternProduction.ProductionDate as ProcessDate,
							--PatternProduction.ProductionEndDate as ProcessDate,
							PatternProduction.CreatedBy as UserId,
							OrderTranseId
							from 
							PatternProduction
							WHERE
							ProductionBatchId = @ProductionBatchID
							UNION ALL
							SELECT
							PatternProduction.ProductionBatchID as ProcessCode,
							#PatternCons.PurchaseItemId  as PatternID,
							#PatternCons.TransactionQty *(-1) as TransactionQty,
						    #PatternCons.BatchNo COLLATE DATABASE_DEFAULT as  RawBatchNo,
							PatternProduction.PlantId,
							PatternProduction.EntityId,
							PatternProduction.ProductionDate as ProcessDate,
						--	PatternProduction.ProductionEndDate as ProcessDate,
							PatternProduction.CreatedBy as UserId,
							PatternProduction.Ordertranseid
							from
							#PatternCons
							inner JOIN PatternProduction ON PatternProduction.ProductionBatchID  = #PatternCons.ProductionBatchID
							where
							#PatternCons.TransactionQty <> 0
							AND PatternProduction.ProductionBatchId = @ProductionBatchID
							) as t for json PATH
							)


							 SET    @MasterDet   = ( SELECT
						       '['+
                                 (STUFF(( SELECT DISTINCT              
                                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                                  FROM      #ProdDet where ConsumptionDet  <> '' AND ItemType = 1                   
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) +']' AS ConsumptionDet  )


					    DROP TABLE #ProdDet


		                 EXEC PatternStock_Management @JsonPattern  =  @MasterJson,
						 @JsonConsumption= @MasterDet ,
						 @PlantId = @PlantId,
						 @EntityId = @EntityId,
						 @Process = 'Edit',
						 @Tagging = 'PatternAssemblyProduction',
						 @BlockQty = 1



						  SELECT
						  CastCavity.CastingId,
						  CastCavity.Cavity
						  INTO #TempCurrent
						  FROM
						  OPENJSON(@CastingCavityJson)
						  WITH
						  (
							CastingId uniqueidentifier,
							Cavity int
						  ) as CastCavity


						  SELECT
						  CastCavity.CastingId,
						  CastCavity.Cavity
						  INTO #TempPrevious
						  FROM
						  OPENJSON(@PrevCastingCavityDet)
						  WITH
						  (
							CastingId uniqueidentifier,
							Cavity int
						  ) as CastCavity


						  DEclare @IsCavityUpdated BIT = 0
						  IF EXISTS(
						  Select
						  #TempCurrent.*
						  from
						  #TempCurrent
						  inner JOIN #TempPrevious ON #TempPrevious.CastingId = #TempCurrent.CastingId
						  AND #TempPrevious.Cavity <> #TempCurrent.Cavity
						  )
						  BEGIN

						  SET @IsCavityUpdated = 1

						  END




						 IF ISJSON(@CastingCavityDet) = 1
						 BEGIN

						declare @Stock int

						 SELECT
							@PatternID = x.d.value('MethodId[1]','uniqueidentifier'),
							@Stock = x.d.value('NoOfShots[1]','int'),
							@ProcessDate = x.d.value('ProductionDate[1]','datetime'),
							@ProcessEndDate = x.d.value('ProductionEndDate[1]','datetime'),
							@UserId = x.d.value('CreatedBy[1]','int'),
							@CastingCavityJson = x.d.value('CastingCavityDet[1]','nvarchar(MAX)'),
							@AssemblyID = x.d.value('DieId[1]','uniqueidentifier')
							FROM
							@XmlData.nodes('/dsXmlData/dtMaster')x(d)


						 EXEC PatternMold_Management @CastingCavityJson = @CastingCavityDet,
						 @RawBatchNo = @RawBatchNo,
						 @PatternID = @PatternID,
						 @Stock= @Stock,
						 @PlantID = @PlantId,
						 @EntityID = @EntityId,
						 @Process ='Edit',
						 @ProcessCode = @ProductionBatchID,
						 @ProcessDate = @ProcessDate,
						 @Tagging = 'PatternAssemblyProduction',
						 @UserId =@UserId,
						 @IsCavityUpdated = @IsCavityUpdated,
						 @PreviousCastingCavity = @PrevCastingCavityDet,
						 @AssemblyID = @AssemblyID,
						 @MoldTypeId = @MoldTypeId,
						 @OrderId = @OrderId



						 END
						   
				SELECT 
					j.PurchaseItemID,
					j.RawBatchId,
					j.TransactionQty,
					ppd.ProductionBatchDetID
				INTO	#ConsumptionBatchData
				FROM PatternProductionDetails ppd
				CROSS APPLY OPENJSON(ppd.ConsumptionDet)
				WITH (
					PurchaseItemID UNIQUEIDENTIFIER,
					RawBatchId BIGINT,
					TransactionQty DECIMAL(18,2)
				) AS j
				where ProductionBatchID = @ProductionBatchID
					
				
				update a set totalcost = isnull(cost,0) from PatternProductionDetails a inner join (
				select	Sum(Round((CBD.TransactionQty *BatchWiseRate.Rate),2)) as Cost,
						ProductionBatchDetID
				from	#ConsumptionBatchData as CBD
						Left Join BatchWiseRate on BatchWiseRate.RawBatchId = CBD.RawBatchId
				group by ProductionBatchDetID
				) as b on a.ProductionBatchDetID = b.ProductionBatchDetID

				update a set a.totalcost = isnull(cost,0)
				from PatternProduction as a
				Inner Join ( select sum(Totalcost) as cost from PatternProductionDetails 
							where ProductionBatchID = @ProductionBatchID) as b on 1= 1
				where ProductionBatchID = @ProductionBatchID
		
	   COMMIT TRANSACTION PatternAssemblyProduction_Update
	   RETURN 1
	END TRY
	BEGIN CATCH
	   ROLLBACK TRANSACTION PatternAssemblyProduction_Update
	   --Insert into test_1 select ERROR_MESSAGE()
	   RETURN -1
	END CATCH


END
GO
