USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ContractWorkEntry]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[ContractWorkEntry]  
    @parameter INT = 0 ,  
    @StartDate DATETIME = NULL ,  
    @EndDate DATETIME = NULL ,  
    @ContractMasterId UNIQUEIDENTIFIER = NULL ,  
    @ContractWorkEntryMasterId UNIQUEIDENTIFIER = NULL ,  
    @CastingId UNIQUEIDENTIFIER = NULL ,  
    @CastingName VARCHAR(100) = NULL ,  
    @CustomerId UNIQUEIDENTIFIER = NULL ,  
    @ContractorID INT = NULL ,  
    @IsDeleted INT = NULL ,  
    @CreatedBy INT = NULL ,  
    @CreatedOn DATETIME = NULL ,  
    @ModifiedBy INT = NULL ,  
    @ModifiedOn DATETIME = NULL ,  
    @DeletedBy INT = NULL ,  
    @DeletedOn DATETIME = NULL ,  
    @EntityID INT = NULL ,  
    @MetalId INT = NULL ,  
    @KnockoutId INT = NULL ,  
    @ContractWorkEntryTransTable XML = NULL,  
    @HeatID Bigint = 0  
AS  
    BEGIN  
        SET NOCOUNT ON;  
        DECLARE @ContractWorkEntryTransId UNIQUEIDENTIFIER ,  
            @Qty INT ,  
            @ProductionBatchId INT ,  
            @Rate FLOAT ,  
            @TotalAmount FLOAT ,  
            @UOM VARCHAR(50) ,  
            @PerPcWeight FLOAT ,  
            @TotalWeight FLOAT ,  
            @Sql VARCHAR(MAX)  
        IF @parameter = 1   -- Fetch For Contract  
            BEGIN  
                SELECT  ROW_NUMBER() OVER ( ORDER BY ContractWork.ProductionDate DESC, ContractWork.CastingName ) AS SrNo ,  
                        ContractWork.HeatID ,  
                        ContractWork.HeatID as BatchID,  
                        ContractWork.HeatNo ,  
                        ContractWork.HeatNo as BatchNo,  
                        ContractWork.ProductionDate ,  
                        ContractWork.knockoutid ,  
                        ContractWork.DispatchSetCastingId ,  
                        ContractWork.CastingName ,  
                        ContractWork.CastingCode ,  
                        ContractWork.CastingId ,  
                        ContractWork.MetalName ,  
                        ContractWork.MetalId ,  
                        ContractWork.productionqty ,  
                        ContractWork.AlreadyEntered ,  
                        ContractWork.productionqty - ContractWork.AlreadyEntered AS PendingQty ,  
                        ContractWork.CastingNetWeight ,  
                        ContractWork.UOM ,  
                        CAST(( ContractWork.productionqty - ContractWork.AlreadyEntered ) AS VARCHAR(50)) AS EnteredQty ,  
                        0 AS EnteredQtyHidden ,  
                        CAST(( ContractWork.CastingNetWeight * ( ContractWork.productionqty - ContractWork.AlreadyEntered ) ) AS NUMERIC(18, 2)) AS TotalWeight ,  
                        ContractWork.Rate ,  
                        CAST(CASE WHEN ContractWork.UOM = 'Per Pc' THEN ( ( ContractWork.productionqty - ContractWork.AlreadyEntered ) * ContractWork.Rate )  
                                  WHEN ContractWork.UOM = 'Per Kg'  
                                  THEN ( ( ContractWork.productionqty - ContractWork.AlreadyEntered ) * ContractWork.CastingNetWeight * ContractWork.Rate )  
                             END AS NUMERIC(18, 2)) AS TotalAmount  
                FROM    ( SELECT    ProductionBatch.batchID as HeatID ,  
                                    ProductionBatch.batchno as HeatNo,  
                                    ProductionBatch.ProductionDate ,  
                                    knockout.knockoutid ,  
                                    CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) DispatchSetCastingId ,  
                                    CastingMaster.CastingName ,  
                                    CastingMaster.CastingCode ,  
                                    CastingMaster.CastingId ,  
                                    MetalMaster.MetalName ,  
                                    MetalMaster.MetalId ,  
                                    knockout.productionqty ,  
                                    ISNULL(SUM(ContractWorkEntryTrans.Qty), 0) AS AlreadyEntered ,  
                                    CastingMaster.CastingNetWeight ,  
                                    ContractCastingRate.Rate ,  
                                    ContractMaster.CostCalculationUOM UOM  
                          FROM      knockout  
                                    INNER JOIN ProductionBatch ON knockout.batchid = ProductionBatch.batchID  
                                    INNER JOIN CastingMaster ON knockout.castingid = CastingMaster.CastingId  
                                    INNER JOIN MetalMaster ON ProductionBatch.MetalID = MetalMaster.MetalId  
                                    INNER JOIN dbo.ContractCastingRate ON dbo.ContractCastingRate.CastingId = dbo.CastingMaster.CastingId  
                                    INNER JOIN dbo.ContractMaster ON dbo.ContractMaster.ContractMasterID = dbo.ContractCastingRate.ContractMasterId  
                                                                     AND dbo.ContractMaster.ContractMasterID = @ContractMasterID  
                                      
                                    LEFT JOIN dbo.ContractWorkEntryTrans                            
                                    INNER JOIN dbo.ContractWorkEntryMaster ON dbo.ContractWorkEntryMaster.ContractWorkEntryMasterId = dbo.ContractWorkEntryTrans.ContractWorkEntryMasterId  
                                    AND dbo.ContractWorkEntryMaster.IsDeleted = 0 ON dbo.ContractWorkEntryTrans.KnockoutId = dbo.knockout.knockoutid  
                                                                                                                               AND ContractWorkEntryTrans.castingid = knockout.castingid  
                                                                                                                               AND dbo.ContractWorkEntryMaster.ContractMasterId = ContractMaster.ContractMasterID  
                                                                                                                                                                       
                          WHERE      ProductionDate BETWEEN @StartDate AND @EndDate  
                                    AND ( @CastingName IS NULL  
                                          OR CastingMaster.CastingName = @CastingName  
                                        )  
                                    AND ( @CastingId IS NULL  
                                          OR CastingMaster.CastingId = @CastingId  
                                        )  
                                    AND ( @MetalID IS NULL  
                                          OR MetalMaster.MetalID = @MetalID  
                                        )  
                                    AND ( @CustomerId IS NULL  
                                          OR CastingMaster.Dieid IN ( SELECT    dbo.CustomerPatternMapping.PatternId  
                                                                      FROM      CustomerPatternMapping  
                                                                      WHERE     CustomerId = @CustomerId  
                                                                                AND IsDeleted = 0  
                                                                      --UNION  
                                                                      --SELECT    dbo.CustomerDieMapping.DieId  
                                                                      --FROM      dbo.CustomerDieMapping  
                                                                      --WHERE     CustomerId = @CustomerId  
                                                                      --          AND IsDeleted = 0
                                                                                 )  
                                        )  
                                    AND dbo.ContractCastingRate.IsDeleted = 0  
                                    AND dbo.ContractMaster.IsDeleted = 0  
                                    AND dbo.knockout.IsDeleted = 0  
                                    AND dbo.ProductionBatch.IsDeleted = 0  
                                    AND ContractMaster.EntityID = @EntityID  
                          GROUP BY  ProductionBatch.batchID ,  
                                    ProductionBatch.batchno ,  
                                    ProductionBatch.ProductionDate ,  
                                    knockout.knockoutid ,  
                                    CastingMaster.CastingName ,  
                                    CastingMaster.CastingCode ,  
                                    CastingMaster.CastingId ,  
                                    MetalMaster.MetalName ,  
                                    MetalMaster.MetalId ,  
                                    knockout.productionqty ,  
                                    knockout.okqty ,  
                                    CastingMaster.CastingNetWeight ,  
                                    ContractCastingRate.Rate ,  
                                    ContractMaster.CostCalculationUOM  
                        ) ContractWork  
            END  
        IF @parameter = 2   -- Fetch For Contract  
            BEGIN  
                INSERT  INTO ContractWorkEntryMaster  
                        ( ContractWorkEntryMasterId ,  
                          ContractorID ,  
                          ContractMasterId ,  
                          IsDeleted ,  
                          CreatedOn ,  
                          EntityID ,  
                          CreatedBy  
                        )  
                VALUES  ( @ContractWorkEntryMasterId ,  
                          @ContractorID ,  
                          @ContractMasterId ,  
                          @IsDeleted ,  
                          @CreatedOn ,  
                          @EntityID ,  
                          @CreatedBy  
                        )  
                DECLARE ContractWorkEntryTrans CURSOR  
                FOR  
                    SELECT  Node.value('(knockoutid )[1]', 'int') AS 'knockoutid' ,  
                            Node.value('(ProductionBatchId )[1]', 'int') AS 'Rate' ,  
                            Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,  
                            Node.value('(Qty )[1]', 'int') AS 'Qty' ,  
                            Node.value('(Rate )[1]', 'float') AS 'Rate' ,  
                            Node.value('(UOM )[1]', 'varchar(50)') AS 'UOM' ,  
                            Node.value('(TotalAmount )[1]', 'float') AS 'TotalAmount' ,  
                            Node.value('(PerPcWeight )[1]', 'float') AS 'PerPcWeight' ,  
                            Node.value('(TotalWeight )[1]', 'float') AS 'TotalWeight'  
                    FROM    @ContractWorkEntryTransTable.nodes('/DocumentElement/ContractWorkEntryTransTable') AS TEMPXML ( Node )   
                OPEN ContractWorkEntryTrans;  
                FETCH NEXT FROM ContractWorkEntryTrans INTO @KnockoutId, @ProductionBatchId, @CastingId, @Qty, @Rate, @UOM, @TotalAmount, @PerPcWeight,  
                    @TotalWeight  
   
                WHILE ( @@FETCH_STATUS = 0 )  
                    BEGIN   
                        INSERT  INTO dbo.ContractWorkEntryTrans  
                                ( ContractWorkEntryMasterId ,  
                                  KnockoutId ,  
                                  ProductionBatchId ,  
                                  CastingId ,  
                                  Qty ,  
                                  Rate ,  
                                  UOM ,  
                                  TotalAmount ,  
                                  PerPcWeight ,  
                                  TotalWeight ,  
                                  IsDeleted  
                                )  
                        VALUES  ( @ContractWorkEntryMasterId , -- ContractWorkEntryMasterId - uniqueidentifier  
                                  @KnockoutId , -- KnockoutId - int  
                                  @ProductionBatchId , -- ProductionBatchId - int  
                                  @CastingId , -- CastingId - uniqueidentifier  
                                  @Qty , -- Qty - int  
                                  @Rate , -- Rate - float  
                                  @UOM , -- UOM - varchar(50)  
                                  @TotalAmount , -- TotalAmount - float  
                                  @PerPcWeight , -- PerPcWeight - float  
                                  @TotalWeight , -- TotalWeight - float  
                                  @IsDeleted  -- IsDeleted - bit  
                                )   
                            
                        FETCH NEXT FROM ContractWorkEntryTrans INTO @KnockoutId, @ProductionBatchId, @CastingId, @Qty, @Rate, @UOM, @TotalAmount, @PerPcWeight,  
                            @TotalWeight  
                    END   
                CLOSE ContractWorkEntryTrans;  
                DEALLOCATE ContractWorkEntryTrans;   
            END  
        IF @parameter = 3   -- Fetch For Contract  
            BEGIN  
                UPDATE  ContractWorkEntryMaster  
                SET     ContractorID = @ContractorID ,  
                        IsDeleted = @IsDeleted ,  
                        ModifiedOn = @ModifiedOn ,  
                        EntityID = @EntityID ,  
                        ModifiedBy = @ModifiedBy  
                WHERE   ContractWorkEntryMasterId = @ContractWorkEntryMasterId  
                DECLARE ContractWorkEntryTrans CURSOR  
                FOR  
                    SELECT  Node.value('(ContractWorkEntryTransId )[1]', 'uniqueidentifier') AS 'ContractWorkEntryTransId' ,  
                            Node.value('(KnockoutId )[1]', 'int') AS 'KnockoutId' ,  
                            Node.value('(ProductionBatchId )[1]', 'int') AS 'Rate' ,  
                            Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,  
                            Node.value('(Qty )[1]', 'int') AS 'Qty' ,  
                            Node.value('(Rate )[1]', 'float') AS 'Rate' ,  
                            Node.value('(UOM )[1]', 'varchar(50)') AS 'UOM' ,  
                            Node.value('(TotalAmount )[1]', 'float') AS 'TotalAmount' ,  
                            Node.value('(PerPcWeight )[1]', 'float') AS 'PerPcWeight' ,  
                            Node.value('(TotalWeight )[1]', 'float') AS 'TotalWeight'  
                    FROM    @ContractWorkEntryTransTable.nodes('/DocumentElement/ContractWorkEntryTransTable') AS TEMPXML ( Node )   
                OPEN ContractWorkEntryTrans;  
                FETCH NEXT FROM ContractWorkEntryTrans INTO @ContractWorkEntryTransId, @KnockoutId, @ProductionBatchId, @CastingId, @Qty, @Rate, @UOM,  
                    @TotalAmount, @PerPcWeight, @TotalWeight  
   
                WHILE ( @@FETCH_STATUS = 0 )  
                    BEGIN   
                        IF ( EXISTS ( SELECT    *  
                                      FROM      dbo.ContractWorkEntryTrans  
                                      WHERE     ContractWorkEntryTransID = @ContractWorkEntryTransId  
                                                AND IsDeleted = 0 ) )  
                            BEGIN  
                                UPDATE  ContractWorkEntryTrans  
                                SET     Qty = @Qty ,  
                                        Rate = @Rate ,  
                                        UOM = @UOM ,  
                                        TotalAmount = @TotalAmount ,  
                                        PerPcWeight = @PerPcWeight ,  
                                        TotalWeight = @TotalWeight ,  
                                        IsDeleted = ( CASE WHEN @Qty IS NULL THEN 1  
                                                           ELSE 0  
                                                      END )  
                                WHERE   ContractWorkEntryTransID = @ContractWorkEntryTransId   
                            END   
                        ELSE  
                            BEGIN  
                                IF @Qty IS NOT NULL  
                                   BEGIN  
                                        INSERT  INTO dbo.ContractWorkEntryTrans  
                                                ( ContractWorkEntryMasterId ,  
                                                  KnockoutId ,  
                                                  ProductionBatchId ,  
                                                  CastingId ,  
                                                  Qty ,  
                                                  Rate ,  
                                                  UOM ,  
                                                  TotalAmount ,  
                                                  PerPcWeight ,  
                                                  TotalWeight ,  
                                                  IsDeleted  
                                                )  
                                        VALUES  ( @ContractWorkEntryMasterId ,  
                                                  @KnockoutId ,  
                                                  @ProductionBatchId ,  
                                                  @CastingId ,  
                                                  @Qty ,  
                                                  @Rate ,  
                                                  @UOM ,  
                                                  @TotalAmount ,  
                                                  @PerPcWeight ,  
                                                  @TotalWeight ,  
                                                  @IsDeleted    
                                                )   
                                    END   
                            END   
                            
                        FETCH NEXT FROM ContractWorkEntryTrans INTO @ContractWorkEntryTransId, @KnockoutId, @ProductionBatchId, @CastingId, @Qty, @Rate, @UOM,  
                            @TotalAmount, @PerPcWeight, @TotalWeight  
                    END   
                CLOSE ContractWorkEntryTrans;  
                DEALLOCATE ContractWorkEntryTrans;   
            END  
              
              
              
        IF @parameter = 4   -- Delete from Contract Master  
            BEGIN  
  
                UPDATE  dbo.ContractWorkEntryMaster  
                SET     IsDeleted = '1' ,  
                        DeletedBy = @DeletedBy ,  
                        DeletedOn = @DeletedOn  
                WHERE   ContractWorkEntryMasterId = @ContractWorkEntryMasterId  
  
  
            END  
        IF @parameter = 5   -- Delete from Contract Master  
            BEGIN  
  
                UPDATE  ContractWorkEntryMaster  
                SET     IsDeleted = '0'  
                WHERE   ContractWorkEntryMasterId = @ContractWorkEntryMasterId  
  
  
            END  
  
        IF @parameter = 6  
    -- Fetch Contract Master Details  
            BEGIN  
                SELECT  ContractWorkEntryMasterId ,  
                        ContractorID ,  
                        IsDeleted ,  
                        CreatedBy ,  
                        CreatedOn ,  
                        ModifiedBy ,  
                        ModifiedOn ,  
                        DeletedBy ,  
                        DeletedOn ,  
                        EntityID  
                FROM    ContractWorkEntryMaster  
                WHERE   ContractWorkEntryMasterId = @ContractWorkEntryMasterId  
               
            END  
        IF @parameter = 7-- Fetch Contract Master Details  
            BEGIN  
                SELECT  ContractWorkEntryTrans.ContractWorkEntryTransID ,  
                        ContractWorkEntryMaster.ContractorID ,  
                        OperatorMaster.OperatorName ContractorName ,  
                        CAST(SUM(ContractWorkEntryTrans.Qty) AS VARCHAR(50)) AS Qty ,  
                        ContractWorkEntryTrans.Rate ,  
                        ContractWorkEntryTrans.UOM ,  
                        ContractWorkEntryTrans.TotalAmount ,  
                    ContractWorkEntryTrans.PerPcWeight CastingNetWeight ,  
                        ContractWorkEntryTrans.TotalWeight  
                FROM    ContractWorkEntryTrans  
                        INNER JOIN ContractWorkEntryMaster ON ContractWorkEntryMaster.ContractWorkEntryMasterId = ContractWorkEntryTrans.ContractWorkEntryMasterId  
                        INNER JOIN OperatorMaster ON ContractWorkEntryMaster.ContractorID = OperatorMaster.OperatorID  
                WHERE   ( ContractWorkEntryMaster.ContractMasterId = @ContractMasterId )  
                        AND ( ContractWorkEntryTrans.KnockoutId = @KnockoutId )  
                        AND (ContractWorkEntryTrans.ProductionBatchId =@HeatID)  
                        AND ContractWorkEntryMaster.IsDeleted = 0  
                        AND ContractWorkEntryTrans.IsDeleted = 0  
                GROUP BY ContractWorkEntryTrans.ContractWorkEntryTransID ,  
                        ContractWorkEntryMaster.ContractorID ,  
                        OperatorMaster.OperatorName ,  
                        ContractWorkEntryTrans.Rate ,  
                        ContractWorkEntryTrans.UOM ,  
                        ContractWorkEntryTrans.TotalAmount ,  
                        ContractWorkEntryTrans.PerPcWeight ,  
                        ContractWorkEntryTrans.TotalWeight  
            END  
              
        IF @parameter = 8-- Fetch Contract Master Details  
            BEGIN  
                DECLARE ContractWorkEntryTrans CURSOR  
                FOR  
                    SELECT  Node.value('(ContractWorkEntryTransID )[1]', 'uniqueidentifier') AS 'ContractWorkEntryTransId' ,  
                            Node.value('(Qty )[1]', 'int') AS 'Qty' ,  
                            Node.value('(TotalAmount )[1]', 'float') AS 'TotalAmount' ,  
                            Node.value('(TotalWeight )[1]', 'float') AS 'TotalWeight'  
                    FROM    @ContractWorkEntryTransTable.nodes('/DocumentElement/ContractWorkEntryTransTable') AS TEMPXML ( Node )   
                OPEN ContractWorkEntryTrans;  
                FETCH NEXT FROM ContractWorkEntryTrans INTO @ContractWorkEntryTransId, @Qty, @TotalAmount, @TotalWeight  
                WHILE ( @@FETCH_STATUS = 0 )  
                    BEGIN   
                        IF ( EXISTS ( SELECT    *  
                                      FROM      dbo.ContractWorkEntryTrans  
                                      WHERE     ContractWorkEntryTransID = @ContractWorkEntryTransId  
                                                AND IsDeleted = 0 ) )  
                            BEGIN  
                                UPDATE  ContractWorkEntryTrans  
                                SET     Qty = @Qty ,  
                                        TotalAmount = @TotalAmount ,  
                                        TotalWeight = @TotalWeight ,  
                                        IsDeleted = ( CASE WHEN @Qty IS NULL THEN 1  
                                                           ELSE 0  
                                                      END )  
                                WHERE   ContractWorkEntryTransID = @ContractWorkEntryTransId   
                            END   
                        FETCH NEXT FROM ContractWorkEntryTrans INTO @ContractWorkEntryTransId, @Qty, @TotalAmount, @TotalWeight  
   
                    END   
                CLOSE ContractWorkEntryTrans;  
                DEALLOCATE ContractWorkEntryTrans;   
            END  
    END  
  
  
    IF @parameter = 9  
        BEGIN  
            DECLARE @List VARCHAR(MAX)   
            SET @List = STUFF(( SELECT DISTINCT  
                                        ',''' + CAST(ContractWorkEntryMaster.ContractWorkEntryMasterId AS VARCHAR(50)) +''''  
                                FROM    ContractWorkEntryTrans  
                                        INNER JOIN ContractWorkEntryMaster ON ContractWorkEntryMaster.ContractWorkEntryMasterId = ContractWorkEntryTrans.ContractWorkEntryMasterId  
                                INNER JOIN ProductionBatch ON ContractWorkEntryTrans.ProductionBatchId = ProductionBatch.batchID  
                                WHERE   ( ProductionBatch.ProductionDate BETWEEN @StartDate AND @EndDate )  
                                        AND ( ( @ContractorId IS NULL )  
                                              OR ( ContractWorkEntryMaster.ContractorID = @ContractorId )  
                                            )  
                                        AND ( ContractWorkEntryMaster.ContractMasterId = @ContractMasterId )  
                              FOR  
                                XML PATH('')  
                              ), 1, 1, '')  
            DECLARE @ListDispatch VARCHAR(MAX)   
            SET @ListDispatch = STUFF(( SELECT DISTINCT  
                                                ',''' + CAST(ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId AS VARCHAR(50)) +''''  
                                        FROM    ContractWorkEntryDispatchTrans  
                                                INNER JOIN ContractWorkEntryDispatchMaster ON ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId = ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchMasterId  
                                                INNER JOIN dispatchmaster ON ContractWorkEntryDispatchTrans.DispatchId = dispatchmaster.DispatchID  
                                        WHERE   ( dispatchmaster.dispatchdate BETWEEN @StartDate AND @EndDate )  
                                                AND ( ContractWorkEntryDispatchMaster.ContractMasterId = @ContractMasterId )  
                                                AND ( @ContractorId IS NULL  
                                                      OR ContractWorkEntryDispatchMaster.ContractorID = @ContractorId  
                                                    )  
                                      FOR  
                                        XML PATH('')  
                                      ), 1, 1, '')              
            DELETE  ContractWorkEntryTrans  
            FROM    ContractWorkEntryTrans  
                    INNER JOIN dbo.ContractWorkEntryMaster ON dbo.ContractWorkEntryMaster.ContractWorkEntryMasterId = dbo.ContractWorkEntryTrans.ContractWorkEntryMasterId  
                    INNER JOIN ProductionBatch ON ContractWorkEntryTrans.ProductionBatchId = ProductionBatch.batchID  
            WHERE   ProductionDate BETWEEN @StartDate AND @EndDate  
                    AND ContractWorkEntryMaster.ContractMasterId = @ContractMasterId  
                    AND ( @ContractorId IS NULL  
                          OR ContractWorkEntryMaster.ContractorID = @ContractorId  
                        )  
            DELETE  dbo.ContractWorkEntryDispatchTrans  
            FROM    ContractWorkEntryDispatchTrans  
                    INNER JOIN dbo.ContractWorkEntryDispatchMaster ON dbo.ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId = dbo.ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchMasterId  
                    INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.ContractWorkEntryDispatchTrans.dispatchid  
            WHERE   dispatchdate BETWEEN @StartDate AND @EndDate  
                    AND ContractWorkEntryDispatchMaster.ContractMasterId = @ContractMasterId  
                    AND ( @ContractorId IS NULL  
                          OR ContractWorkEntryDispatchMaster.ContractorID = @ContractorId  
                        )  
            IF @List <> ''  
                BEGIN  
                 
                    SET @SQL = 'UPDATE  dbo.ContractWorkEntryMaster  
                    SET     IsDeleted = ( CASE WHEN ( SELECT    COUNT(*)  
                                                      FROM      ContractWorkEntryTrans  
                                                      WHERE     dbo.ContractWorkEntryTrans.ContractWorkEntryMasterId = dbo.ContractWorkEntryMaster.ContractWorkEntryMasterId  
                                                                AND IsDeleted = 0  
                                                    ) > 0 THEN 0  
                                               ELSE 1  
                                          END )  
                    FROM    ContractWorkEntryMaster  
                    WHERE   ContractWorkEntryMaster.ContractWorkEntryMasterId IN (' + @List + ')'  
                    EXEC(@SQL)  
                END  
            IF @ListDispatch <> ''  
                BEGIN  
  
                    SET @SQL = '  UPDATE  dbo.ContractWorkEntryDispatchMaster  
                    SET     IsDeleted = ( CASE WHEN ( SELECT    COUNT(*)  
                                                      FROM      ContractWorkEntryDispatchTrans  
                                                      WHERE     dbo.ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchMasterId = dbo.ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId  
                                                                AND IsDeleted = 0  
                                                    ) > 0 THEN 0  
                                               ELSE 1  
                                          END )  
                    FROM    ContractWorkEntryDispatchMaster  
                    WHERE   ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId IN ( ' + @ListDispatch + ' )'  
                    EXEC(@SQL)  
                       
                END  
                          
        END  
GO
