USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ProcessPerformNotification]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,megha>
-- update date: <Create 10 sep 2019,,>
-- Description:	<ProcessWise condition added and add flag for jobreturn>
-- =============================================
CREATE PROCEDURE [dbo].[ProcessPerformNotification] -- When Transfering from one process to other to notify user that it is ready for process execution
	@castingID Uniqueidentifier,
	@ProcessID Uniqueidentifier,
	@NextProcessID Uniqueidentifier,	
	@Transferqty int,
	@PartId Uniqueidentifier	,
	@FlagForMsg int = 0 ,--  flagformsg is 1 when this querey is call from jobreturn and pouring insert time
	--flagFormsg = 2 for rework
	@TotalWeight float = 0
AS
BEGIN
	
	Declare @Sequance int,@ProcessName varchar(100),@castingName varchar(50),@UserXML XML,@NotiTitle varchar(100),@ShortDescription varchar(MAX);

	  IF EXISTS ( SELECT  Code
                                FROM    NotificationPage
                                WHERE   Code = 'RFNPN'
                                        AND Isactive = 1 )
                        BEGIN							                          
            
                            IF @NextProcessID IS NOT NULL
                                BEGIN									
                                    SET @ProcessName = ( SELECT
                                                              ProcessName
                                                         FROM ProcessMaster
                                                         WHERE
                                                              ProcessId = @NextProcessID
                                                       )
                                    SET @castingName = ( SELECT
                                                              CastingName
                                                              + ' - '
                                                              + CastingCode
                                                         FROM CastingMaster
                                                         WHERE
                                                              CastingId = @PartId
                                                       )								
                                  
                                    IF EXISTS ( SELECT  NotificationConfiguration.UserId AS UserID
                                                FROM    NotificationConfiguration
                                                        INNER JOIN NotificationPage ON NotificationConfiguration.Code = NotificationPage.Code
                                                              AND NotificationPage.Code = 'RFNPN'
                                                        --- -- added by megha
                                                        ---- Process Wise user notification
														Inner Join NotificationProcessMapping on NotificationProcessMapping.Code = NotificationConfiguration.Code
														AND NotificationProcessMapping.UserID = NotificationConfiguration.UserId
														Where ProcessID = @NextProcessID
														------------------------
														 )
                                     
                                        BEGIN
                                            SET @UserXML = ( SELECT
                                                              ( SELECT
                                                              NotificationConfiguration.UserId AS UserID
                                                              FROM
                                                              NotificationConfiguration
                                                              INNER JOIN NotificationPage ON NotificationConfiguration.Code = NotificationPage.Code
                                                              AND NotificationPage.Code = 'RFNPN'
                                                              ---- added by megha
                                                              ---- Process Wise user notification
                                                              Inner Join NotificationProcessMapping on NotificationProcessMapping.Code = NotificationConfiguration.Code
														      AND NotificationProcessMapping.UserID = NotificationConfiguration.UserId
															  Where ProcessID = @NextProcessID 
															  --------------------
                                                              FOR
                                                              XML
                                                              PATH('UserDetail') ,
                                                              TYPE
                                                              )
                                                           FOR
                                                             XML
                                                              PATH('') ,
                                                              ROOT('DocumentElement')
                                                           )
											
											if @FlagForMsg = 0 Or  @FlagForMsg = 2
											begin
												SET @ShortDescription = CONVERT(VARCHAR(Max), @Transferqty)
													+ ' Castings of ('
													+ @castingName
													+ ') is ready for '
													+ @ProcessName 
													+ case when @FlagForMsg = 2 then ' Rework' else '' end
													+ '. Please initiate the process.';
											end
                                            else
                                            begin -- added by megha
												SET @ShortDescription = CONVERT(VARCHAR(Max), @Transferqty)
													+ ' Castings ('
													+ CONVERT(VARCHAR(Max), @TotalWeight)
													+ 'kg) is ready for '
													+ @ProcessName 
													+ '. Please initiate the process.';
                                            end
                                             SET @NotiTitle = 'Ready For ' + @ProcessName + '.' ;     
                                                
                                            EXEC dbo.InsertNotification @Type = 'ReadyForNextProcessNotification', -- uniqueidentifier
                                                @Title = @NotiTitle, 
                                                @ShortDescription = @ShortDescription,
                                                @UserXML = @UserXML
                                        END
                                END
						
                        END	
                        
           
END
GO
