USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SystemDepartment_Update]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SystemDepartment_Update] 
@DepartmentName Nvarchar(500),
@DepartmentID UNIQUEIDENTIFIER,
@ModifiedBy INT
AS
BEGIN
	begin try
	begin transaction SystemDepartment_Update

	Update
	SystemDepartment
	SET
	DepartmentName = @DepartmentName,
	--DepartmentCode = SUBSTRING(@DepartmentName, 1,7),
	ModifiedOn = GetDate(),
	ModifiedBy = @ModifiedBy
	Where
	DepartmentID = @DepartmentID

	

	commit transaction SystemDepartment_Update
	return 1
	end try
	begin catch
	rollback transaction SystemDepartment_Update
	return -1
	end catch


END
GO
