USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Payment_Receipt_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[Payment_Receipt_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
     @DispatchID BIGINT = 0 ,
     @CustomerId UNIQUEIDENTIFIER = NULL ,
    @StartDate DATETIME = NULL ,
    @IfActive BIT = 0 ,
    @EndDate DATETIME = NULL ,  
	@PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityId INT = 0 
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	        IF @Parameter = 1
            BEGIN
                IF @InitialLoad = 1
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT  TOP ( @PageSize )
                                            ROW_NUMBER() OVER ( ORDER BY a.ReceiptNo ASC ) AS RowNo ,* from (
                                    SElect distinct 
                                            PaymentReceiptMaster.ReceiptID ,
                                            CASE WHEN @IfActive = 1
                                                 THEN CustomerMaster.CustomerCode
                                                 ELSE CustomerMaster.CustomerName
                                            END CustomerName ,
                                            ReceiptNo ,
                                            CONVERT(VARCHAR(11), ReceiptDate, 106) AS [ReceiptDate] ,
                                            TransactionNo ,
                                            CONVERT(VARCHAR(11), ChequeDate, 106) AS [ChequeDate] ,
                                            BankList.BankName ,
                                            PaymentTypeName ,
                                            PaymentReceiptMaster.TotalAmount ,
                                            Remarks
                                  FROM      PaymentReceiptMaster
                                            INNER JOIN CustomerMaster ON PaymentReceiptMaster.customerID = CustomerMaster.CustomerId
                                            LEFT JOIN BankList ON BankList.BankId = PaymentReceiptMaster.bankId
                                            LEFT JOIN PaymentTypeMaster ON PaymentTypeMaster.PaymentTypeId = PaymentReceiptMaster.paymenttypeid
											---- Plant -----
											Inner join PaymentRecepitTrans on PaymentReceiptMaster.ReceiptID = PaymentRecepitTrans.ReceiptID
											inner join dispatchmaster on dispatchmaster.DispatchID = PaymentRecepitTrans.DispatchID
											------------
                                  WHERE     PaymentReceiptMaster.IsDeleted = 0
											AND PaymentReceiptMaster.EntityId = @EntityId
                                            AND ( ReceiptDate BETWEEN CONVERT(VARCHAR(11), @StartDate)
                                                              AND
                                                              CONVERT(VARCHAR(11), @EndDate) )
                                            AND ( @CustomerId IS NULL
                                                  OR PaymentReceiptMaster.CustomerId = @CustomerId
                                                )
                                            AND ( @DispatchID = 0
                                                  OR PaymentReceiptMaster.ReceiptID IN (
                                                  SELECT DISTINCT
                                                            ReceiptID
                                                  FROM      PaymentRecepitTrans
                                                            LEFT JOIN dispatchmaster ON dispatchmaster.DispatchID = PaymentRecepitTrans.DispatchID
                                                  WHERE     PaymentRecepitTrans.DispatchID = @DispatchID )
                                                )
                                            ANd (@PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR dispatchmaster.PlantId in (SELECT Item FROM @Plant
																				)
												)
                                            AND PaymentReceiptMaster.EntityID = @EntityId
                                    ) as a
                                ) AS PaymentDetails
                        ORDER BY RowNo 
                    END
                ELSE
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY a.ReceiptNo ASC ) AS RowNo ,* from (
									SElect distinct 
                                            PaymentReceiptMaster.ReceiptID ,
                                            CASE WHEN @IfActive = 1
                                                 THEN CustomerMaster.CustomerCode
                                                 ELSE CustomerMaster.CustomerName
                                            END CustomerName ,
                                            ReceiptNo ,
                                            CONVERT(VARCHAR(11), ReceiptDate, 106) AS [ReceiptDate] ,
                                            TransactionNo ,
                                            CONVERT(VARCHAR(11), ChequeDate, 106) AS [ChequeDate] ,
                                            BankList.BankName ,
                                            PaymentTypeName ,
                                            PaymentReceiptMaster.TotalAmount ,
                                            Remarks
                                  FROM      PaymentReceiptMaster
                                            INNER JOIN CustomerMaster ON PaymentReceiptMaster.customerID = CustomerMaster.CustomerId
                                            LEFT JOIN BankList ON BankList.BankId = PaymentReceiptMaster.bankId
                                            LEFT JOIN PaymentTypeMaster ON PaymentTypeMaster.PaymentTypeId = PaymentReceiptMaster.paymenttypeid
											---- Plant -----
											Inner join PaymentRecepitTrans on PaymentReceiptMaster.ReceiptID = PaymentRecepitTrans.ReceiptID
											inner join dispatchmaster on dispatchmaster.DispatchID = PaymentRecepitTrans.DispatchID
											------------
								WHERE     PaymentReceiptMaster.IsDeleted = 0
											AND PaymentReceiptMaster.EntityId = @EntityId
                                            AND ( ReceiptDate BETWEEN CONVERT(VARCHAR(11), @StartDate)
                                                              AND
                                                              CONVERT(VARCHAR(11), @EndDate) )
                                            AND ( @CustomerId IS NULL
                                                  OR PaymentReceiptMaster.CustomerId = @CustomerId
                                                )
                                            AND ( @DispatchID = 0
                                                  OR PaymentReceiptMaster.ReceiptID IN (
                                                  SELECT DISTINCT
                                                            ReceiptID
                                                  FROM      PaymentRecepitTrans
                                                            LEFT JOIN dispatchmaster ON dispatchmaster.DispatchID = PaymentRecepitTrans.DispatchID
                                                  WHERE     PaymentRecepitTrans.DispatchID = @DispatchID )
                                                )
											 ANd (@PlantIdString IS NULL
												  OR @PlantIdString = ''
												  OR dispatchmaster.PlantId in (SELECT Item FROM @Plant
																				)
												)
                                            AND PaymentReceiptMaster.EntityID = @EntityId
                                ) AS a
                                ) as PaymentDetails
                        WHERE   PaymentDetails.RowNo > ( @PageNumber
                                                         * @PageSize )
                        ORDER BY RowNo
                    END
            END
        IF @parameter = 2
            BEGIN
                SET @TotalRecords = ( SELECT    COUNT(*) from (
										select distinct PaymentReceiptMaster.ReceiptID
                                      FROM      PaymentReceiptMaster
                                                INNER JOIN CustomerMaster ON PaymentReceiptMaster.customerID = CustomerMaster.CustomerId
												---- Plant -----
												Inner join PaymentRecepitTrans on PaymentReceiptMaster.ReceiptID = PaymentRecepitTrans.ReceiptID
												inner join dispatchmaster on dispatchmaster.DispatchID = PaymentRecepitTrans.DispatchID
												------------
                                      WHERE     PaymentReceiptMaster.IsDeleted = 0
												AND PaymentReceiptMaster.EntityId = @EntityId
                                                AND ( ReceiptDate BETWEEN CONVERT(VARCHAR(11), @StartDate)
                                                              AND
                                                              CONVERT(VARCHAR(11), @EndDate) )
                                                AND ( @CustomerId IS NULL
                                                      OR PaymentReceiptMaster.CustomerId = @CustomerId
                                                    )
                                                AND ( @DispatchID = 0
                                                      OR PaymentReceiptMaster.ReceiptID IN (
                                                      SELECT DISTINCT
                                                              ReceiptID
                                                      FROM    PaymentRecepitTrans
                                                              LEFT JOIN dispatchmaster ON dispatchmaster.DispatchID = PaymentRecepitTrans.DispatchID
                                                      WHERE   PaymentRecepitTrans.DispatchID = @DispatchID )
                                                    )
                                                ANd (@PlantIdString IS NULL
												  OR @PlantIdString = ''
												  OR dispatchmaster.PlantId in (SELECT Item FROM @Plant
																				)
												)
                                                AND PaymentReceiptMaster.EntityID = @EntityId
                                                ) as a
                                    )
									
                RETURN @TotalRecords
            END
        
END
GO
