USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportCastingTransection]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Dhruvin>
-- Create date: <Create Date,,17-06-2020>
-- Description:	<Description,,Report Casting transection>
-- =============================================
CREATE PROCEDURE [dbo].[ReportCastingTransection]
	@CastingId UNIQUEIDENTIFIER ,
    @MetalId BIGINT ,
    @ProcessDateFrom DATETIME ,
    @ProcessDateTo DATETIME ,
    @IsTransaction BIT = 'true' 
	AS
--BEGIN
--	 DECLARE @TotalRecords INT ,
--            @CavityOrMold BIT ,
--            --@DieFlag BIT ,
--            @OpeningQty FLOAT ,
--            @TransactionQty FLOAT 

--                SET @OpeningQty = ( SELECT  ISNULL(SUM(TransactionQty), 0)
--                                    FROM    dbo.FGInventoryHistory
--                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.FGInventoryHistory.CastingId
--                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
--                                                              AND CastingMetal.MetalId = FGInventoryHistory.MetalId
--                                    WHERE   ( CastingMaster.CastingId = @CastingId )
--                                            AND ( CastingMetal.MetalId = @MetalId )
--                                            AND ProcessDate < DATEADD(day, 0,
--                                                              DATEDIFF(day, 0,
--                                                              CONVERT(DATETIME, @StartDate, 103)))
--                                  )
              
--                IF @IsTransaction = 'false'
--                    BEGIN	

--                        SELECT  ROW_NUMBER() OVER ( ORDER BY DATEADD(dd, 0,
--                                                              DATEDIFF(dd, 0,
--                                                              ProcessDate)) , SerialNo ) AS SrNo ,
--                                Tagging ,
--                                Process ,
--                                Tagging + ' Entry - ' + Process AS [Action] ,
--                                ProcessDate ,
--                                CastingName ,
--                                CastingCode ,
--                                ISNULL(@OpeningQty, 0) AS StockQty ,
--                                ISNULL(TransactionQty, 0) AS TransactionQty ,
--                                ISNULL(@OpeningQty, 0) + ISNULL(TransactionQty,
--                                                              0) AS BalanceQty ,
----                                ISNULL(TransactionQty, 0) AS TransactionQty ,
----                                ISNULL(CurrentStock, 0) AS BalanceQty ,
--                                CASE WHEN ISNULL(TransactionQty, 0) >= 0
--                                     THEN CAST(ISNULL(TransactionQty, 0) AS VARCHAR)
--                                     ELSE ''
--                                END AS InwardQty ,
--                                CASE WHEN ISNULL(TransactionQty, 0) < 0
--                                     THEN CAST(ISNULL(-TransactionQty, 0) AS VARCHAR)
--                                     ELSE ''
--                                END AS OutwardQty
--                        FROM    dbo.FGInventoryHistory
--                                INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.FGInventoryHistory.CastingId
--                                INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
--                                                           AND CastingMetal.MetalId = FGInventoryHistory.MetalId
--                        WHERE   ( CastingMaster.CastingId = @CastingId )
--                                AND ( CastingMetal.MetalId = @MetalId )
--                                AND ProcessDate BETWEEN @StartDate AND @EndDate
--                        --ORDER BY SerialNo

--                    END
--                ELSE
--                    BEGIN	

--                        SELECT  ROW_NUMBER() OVER ( ORDER BY DATEADD(dd, 0,
--                                                              DATEDIFF(dd, 0,
--                                                              ProcessDate)), Date, No ) AS SrNo ,
--                                CastingTransaction.*
--                        FROM    ( SELECT    'Production' AS [Action] ,
--                                            ProductionBatch.ProductionDate AS ProcessDate ,
--                                            CAST(ProductionBatch.CreatedOn AS SMALLDATETIME) AS Date ,
--                                            CastingName ,
--                                            CastingCode ,
--                                            ISNULL(@OpeningQty, 0) AS StockQty ,
--                                            ISNULL(knockout.productionqty, 0) AS TransactionQty ,
--                                            ISNULL(@OpeningQty, 0)
--                                            + ISNULL(knockout.productionqty, 0) AS BalanceQty ,
--                                            CAST(ISNULL(knockout.productionqty,
--                                                        0) AS VARCHAR) AS InwardQty ,
--                                            '' AS OutwardQty ,
--                                            1 AS No
--                                  FROM      dbo.knockout
--                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.knockout.castingid
--                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.knockout.batchID
--                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
--                                                              AND CastingMetal.MetalId = ProductionBatch.MetalId
--                                  WHERE     knockout.IsDeleted = 0
--                                            AND ( CastingMaster.CastingId = @CastingId )
--                                            AND ( CastingMetal.MetalId = @MetalId )
--                                            AND ProductionBatch.ProductionDate BETWEEN @StartDate
--                                                              AND
--                                                              @EndDate
--                                  UNION ALL
--                                  SELECT    'Dispatch' AS [Action] ,
--                                            dispatchmaster.dispatchdate AS ProcessDate ,
--                                            CAST (dispatchmaster.createdon AS SMALLDATETIME) AS Date ,
--                                            CastingName ,
--                                            CastingCode ,
--                                            ISNULL(@OpeningQty, 0) AS StockQty ,
--                                            -ISNULL(dispatchtrans.dispatchqty,
--                                                    0) AS TransactionQty ,
--                                            ISNULL(@OpeningQty, 0)
--                                            - ISNULL(dispatchtrans.dispatchqty,
--                                                     0) AS BalanceQty ,
--                                            '' AS InwardQty ,
--                                            CAST(ISNULL(dispatchtrans.dispatchqty,
--                                                        0) AS VARCHAR) AS OutwardQty ,
--                                            9 AS No
--                                  FROM      dbo.dispatchtrans
--                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
--                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.dispatchtrans.castingid
--                                            INNER JOIN OrderTranse ON OrderTranse.CustomerOrderId = dispatchtrans.orderid
--                                                              AND OrderTranse.CastingId = dispatchtrans.castingid
--                                                              AND OrderTranse.SrNo = dispatchtrans.orderserialno
--                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
--                                                              AND CastingMetal.MetalId = OrderTranse.MetalId
--                                  WHERE     dispatchtrans.IsDeleted = 0
--                                            AND CastingMaster.CastingId = @CastingId
--                                            AND ( CastingMetal.MetalId = @MetalId )
--                                            AND dispatchmaster.dispatchdate BETWEEN @StartDate
--                                                              AND
--                                                              @EndDate
--                                  UNION ALL
--                                  SELECT    'Opening Stock' AS [Action] ,
--                                            FGInventoryHistory.ProcessDate AS ProcessDate ,
--                                            CAST(FGInventoryHistory.InsertedDate AS SMALLDATETIME) AS Date ,
--                                            CastingName ,
--                                            CastingCode ,
--                                            ISNULL(@OpeningQty, 0) AS StockQty ,
--                                            ISNULL(TransactionQty, 0) AS TransactionQty ,
--                                            ISNULL(@OpeningQty, 0)
--                                            + ISNULL(TransactionQty, 0) AS BalanceQty ,
--                                            CAST(ISNULL(TransactionQty, 0) AS VARCHAR) AS InwardQty ,
--                                            '' AS OutwardQty ,
--                                            2 AS No
--                                  FROM      dbo.FGInventoryHistory
--                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.FGInventoryHistory.CastingId
--                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
--                                                              AND CastingMetal.MetalId = FGInventoryHistory.MetalId
--                                  WHERE     CastingMaster.CastingId = @CastingId
--                                            AND ( CastingMetal.MetalId = @MetalId )
--                                            AND ProcessDate BETWEEN @StartDate AND @EndDate
--                                            AND Tagging = 'Opening Stock'
--                                  UNION ALL
--                                  SELECT    'Rejection' AS [Action] ,
--                                            CastingFinalRejection.Date AS ProcessDate ,
--                                            CAST(ProductionBatch.CreatedOn AS SMALLDATETIME) AS Date ,
--                                            CastingName ,
--                                            CastingCode ,
--                                            ISNULL(@OpeningQty, 0) AS StockQty ,
--                                            -ISNULL(CastingFinalRejection.RejQty,
--                                                    0) AS TransactionQty ,
--                                            ISNULL(@OpeningQty, 0)
--                                            - ISNULL(CastingFinalRejection.RejQty,
--                                                     0) AS BalanceQty ,
--                                            '' AS InwardQty ,
--                                            CAST(ISNULL(CastingFinalRejection.RejQty,
--                                                        0) AS VARCHAR) AS OutwardQty ,
--                                            5 AS No
--                                  FROM      dbo.CastingFinalRejection
--                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.CastingFinalRejection.CastingID
--                                            --INNER JOIN dbo.knockout ON dbo.knockout.knockoutid = dbo.CastingFinalRejection.KnockoutID
--                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
--                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
--                                                              AND CastingMetal.MetalId = CastingFinalRejection.MetalId
--                                  WHERE     CastingMaster.CastingId = @CastingId
--                                            AND ( CastingMetal.MetalId = @MetalId )
--                                            AND CastingFinalRejection.RejectionDate BETWEEN @StartDate
--                                                              AND
--                                                              @EndDate
--                                            AND RejQty > 0
--                                            AND Stage != 3
                                            
--                                  UNION ALL
--                                  SELECT    'JobOut' AS [Action] ,
--                                            JobOutMaster.JODate AS ProcessDate ,
--                                            CAST(JobOutMaster.CreatedOn AS SMALLDATETIME) AS Date ,
--                                            CastingName ,
--                                            CastingCode ,
--                                            ISNULL(@OpeningQty, 0) AS StockQty ,
--                                            -ISNULL(JobOutTranse.OutwardQty, 0) AS TransactionQty ,
--                                            ISNULL(@OpeningQty, 0)
--                                            - ISNULL(JobOutTranse.OutwardQty,
--                                                     0) AS BalanceQty ,
--                                            '' AS InwardQty ,
--                                            CAST(ISNULL(JobOutTranse.OutwardQty,
--                                                        0) AS VARCHAR) AS OutwardQty ,
--                                            7 AS No
--                                  FROM      dbo.JobOutTranse
--                                            INNER JOIN dbo.JobOutMaster ON dbo.JobOutMaster.JOID = dbo.JobOutTranse.JOID
--                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.JobOutTranse.CastingID
--                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
--                                                              AND CastingMetal.MetalId = JobOutTranse.MetalId
--                                  WHERE     dbo.JobOutTranse.IsDeleted = 0
--											AND dbo.JobOutMaster.IsDeleted = 0
--											AND JobOutTranse.FromJOTransId = 0
--                                            AND CastingMaster.CastingId = @CastingId
--                                            AND ( CastingMetal.MetalId = @MetalId )
--                                            AND JobOutMaster.JODate BETWEEN @StartDate
--                                                              AND
--                                                              @EndDate
--                                  UNION ALL
--                                  SELECT    'JobReturn' AS [Action] ,
--                                            JobreturnMaster.JRDate AS ProcessDate ,
--                                            CAST(JobreturnMaster.CreatedOn AS SMALLDATETIME) AS Date ,
--                                            CastingName ,
--                                            CastingCode ,
--                                            ISNULL(@OpeningQty, 0) AS StockQty ,
--                                            ISNULL(JobReturnTranse.InwardQty,
--                                                   0) AS TransactionQty ,
--                                            ISNULL(@OpeningQty, 0)
--                                            + ISNULL(JobReturnTranse.InwardQty,
--                                                     0) AS BalanceQty ,
--                                            CAST(ISNULL(JobReturnTranse.InwardQty,
--                                                        0) AS VARCHAR) AS InwardQty ,
--                                            '' AS OutwardQty ,
--                                            8 AS No
--                                  FROM      dbo.JobreturnTranse
--                                            INNER JOIN dbo.JobreturnMaster ON dbo.JobReturnMaster.JRID = dbo.JobReturnTranse.JRID
--                                            INNER JOIN dbo.JobOutTranse ON dbo.JobOutTranse.JOTranseID = dbo.JobReturnTranse.JOTranseID
--                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.JobOutTranse.CastingID
--                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
--                                                              AND CastingMetal.MetalId = JobOutTranse.MetalId
--                                  WHERE     JobreturnTranse.IsDeleted = 0
--                                            AND CastingMaster.CastingId = @CastingId
--                                            AND ( CastingMetal.MetalId = @MetalId )
--                                            AND JobreturnMaster.JRDate BETWEEN @StartDate
--                                                              AND
--                                                              @EndDate
--                                  UNION ALL
--                                  SELECT    'Manage Rej Cust' AS [Action] ,
--                                            CustomerReturnMaster.Returndate AS ProcessDate ,
--                                            CAST (CustomerReturnMaster.CreatedOn AS SMALLDATETIME) AS Date ,
--                                            CastingName ,
--                                            CastingCode ,
--                                            ISNULL(@OpeningQty, 0) AS StockQty ,
--                                            ISNULL(CustomerReturnrejmgnt.OKQty,
--                                                   0) AS TransactionQty ,
--                                            ISNULL(@OpeningQty, 0)
--                                            + ISNULL(CustomerReturnrejmgnt.OKQty,
--                                                     0) AS BalanceQty ,
--                                            CAST(ISNULL(CustomerReturnrejmgnt.OKQty,
--                                                        0) AS VARCHAR) AS InwardQty ,
--                                            '' AS OutwardQty ,
--                                            6 AS No
--                                  FROM      dbo.CustomerReturnrejmgnt
--                                            INNER JOIN dbo.CustomerReturnTrans ON CustomerReturnTrans.ReturnTransID = CustomerReturnrejmgnt.CustomerReturnTransID
--                                            INNER JOIN dbo.CustomerReturnMaster ON dbo.CustomerReturnMaster.ReturnID = dbo.CustomerReturnTrans.ReturnID
--                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.CustomerReturnrejmgnt.CastingID
--                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
--                                                              AND CastingMetal.MetalId = CustomerReturnrejmgnt.MetalId
--                                  WHERE     CastingMaster.CastingId = @CastingId
--                                            AND ( CastingMetal.MetalId = @MetalId )
--                                            AND CustomerReturnMaster.Returndate BETWEEN @StartDate
--                                                              AND
--                                                              @EndDate
--                                            AND CustomerReturnrejmgnt.OKQty <> 0
                                                        
--                                  UNION ALL
--                                  SELECT    'Casting Purchase' AS [Action] ,
--                                            RawMaterialInward.InwardDate AS ProcessDate ,
--                                            CAST(RawMaterialInward.CreatedOn AS SMALLDATETIME) AS Date ,
--                                            CastingName ,
--                                            CastingCode ,
--                                            ISNULL(@OpeningQty, 0) AS StockQty ,
--                                            ISNULL(InwardCastingPurchase.AcceptedQty,
--                                                   0) AS TransactionQty ,
--                                            ISNULL(@OpeningQty, 0)
--                                            + ISNULL(InwardCastingPurchase.AcceptedQty,
--                                                     0) AS BalanceQty ,
--                                            CAST(ISNULL(InwardCastingPurchase.AcceptedQty,
--                                                        0) AS VARCHAR) AS InwardQty ,
--                                            '' AS OutwardQty ,
--                                            3 AS No
--                                  FROM      dbo.InwardCastingPurchase
--                                            INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.InwardCastingPurchase.InwardId
--                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.InwardCastingPurchase.CastingId
--                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
--                                                              AND CastingMetal.MetalId = InwardCastingPurchase.MetalId
--                                  WHERE     InwardCastingPurchase.IsDeleted = 0
--                                            AND CastingMaster.CastingId = @CastingId
--                                            AND ( CastingMetal.MetalId = @MetalId )
--                                            AND RawMaterialInward.InwardDate BETWEEN @StartDate
--                                                              AND
--                                                              @EndDate
--                                  UNION ALL
--                                  SELECT    'Stock Transfer' AS [Action] ,
--                                            ProcessDate ,
--                                            CAST(inserteddate AS SMALLDATETIME) AS Date ,
--                                            CastingName ,
--                                            CastingCode ,
--                                            ISNULL(@OpeningQty, 0) AS StockQty ,
--                                            ISNULL(FGInventoryHistory.TransactionQty,
--                                                   0) AS TransactionQty ,
--                                            ISNULL(@OpeningQty, 0)
--                                            + ISNULL(FGInventoryHistory.TransactionQty,
--                                                     0) AS BalanceQty ,
--                                            CASE WHEN ISNULL(TransactionQty, 0) >= 0
--                                                 THEN CAST(ISNULL(TransactionQty,
--                                                              0) AS VARCHAR)
--                                                 ELSE ''
--                                            END AS InwardQty ,
--                                            CASE WHEN ISNULL(TransactionQty, 0) < 0
--                                                 THEN CAST(ISNULL(-TransactionQty,
--                                                              0) AS VARCHAR)
--                                                 ELSE ''
--                                            END AS OutwardQty ,
--                                            4 AS No
--                                  FROM      dbo.FGInventoryHistory
--                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.FGInventoryHistory.castingid
--                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
--                                                              AND CastingMetal.MetalId = FGInventoryHistory.MetalId
--                                  WHERE     ( FGInventoryHistory.Tagging = 'StockTransfer' )
--                                            AND ProcessDate BETWEEN @StartDate AND @EndDate
--                                            AND CastingMaster.CastingId = @CastingId
--                                            AND ( CastingMetal.MetalId = @MetalId )
--                                ) AS CastingTransaction
                        
--                    END


	 DECLARE @TotalRecords INT ,
            @CavityOrMold BIT ,
            --@DieFlag BIT ,
            @OpeningQty FLOAT ,
            @TransactionQty FLOAT 

                SET @OpeningQty = ( SELECT  ISNULL(SUM(TransactionQty), 0)
                                    FROM    dbo.FGInventoryHistory
                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.FGInventoryHistory.CastingId
                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                              AND CastingMetal.MetalId = FGInventoryHistory.MetalId
                                    WHERE   ( CastingMaster.CastingId = @CastingId )
                                            AND ( CastingMetal.MetalId = @MetalId )
                                            AND CAST(ProcessDate AS DATE) < CAST(DATEADD(day, 0,
                                                              DATEDIFF(day, 0,
                                                              CONVERT(DATETIME, @ProcessDateFrom, 103))) AS DATE)
                                  )
              
                IF @IsTransaction = 'false'
                      BEGIN	

                        SELECT  ROW_NUMBER() OVER ( ORDER BY DATEADD(dd, 0,
                                                              DATEDIFF(dd, 0,
                                                              ProcessDate)) , SerialNo ) AS SrNo ,
                                Tagging ,
                                Process ,
                                Tagging + ' Entry - ' + Process AS [Action] ,
							   CONVERT(VARCHAR, CONVERT(datetime, ProcessDate, 103), 106) AS ProcessDate,
							   --ProcessDate ,
                                CastingName ,
                                CastingCode ,
                                ISNULL(@OpeningQty, 0) AS StockQty ,
                                ISNULL(TransactionQty, 0) AS TransactionQty ,
                                ISNULL(@OpeningQty, 0) + ISNULL(TransactionQty,
                                                              0) AS BalanceQty ,
--                                ISNULL(TransactionQty, 0) AS TransactionQty ,
--                                ISNULL(CurrentStock, 0) AS BalanceQty ,
                                CASE WHEN ISNULL(TransactionQty, 0) >= 0
                                     THEN CAST(ISNULL(TransactionQty, 0) AS VARCHAR)
                                     ELSE ''
                                END AS InwardQty ,
                                CASE WHEN ISNULL(TransactionQty, 0) < 0
                                     THEN CAST(ISNULL(-TransactionQty, 0) AS VARCHAR)
                                     ELSE ''
                                END AS OutwardQty
                        FROM    dbo.FGInventoryHistory
                                INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.FGInventoryHistory.CastingId
                                INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                           AND CastingMetal.MetalId = FGInventoryHistory.MetalId
                        WHERE   ( CastingMaster.CastingId = @CastingId )
                                AND ( CastingMetal.MetalId = @MetalId )
                                AND CAST(ProcessDate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE) AND CAST(@ProcessDateTo AS DATE)
                        --ORDER BY SerialNo

                    END
                ELSE
                      BEGIN	

                        SELECT  ROW_NUMBER() OVER ( ORDER BY DATEADD(dd, 0,
                                                              DATEDIFF(dd, 0,
                                                              ProcessDate)), CreatedOn, No ) AS SrNo ,
                                CastingTransaction.*,CAST(ProcessDate AS SMALLDATETIME) AS Date 
                        FROM    ( SELECT    'Production' AS [Action] ,
											CONVERT(VARCHAR, CONVERT(datetime, CTransection.ProcessDate, 103), 106) AS ProcessDate,
                                            --CTransection.ProcessDate AS ProcessDate ,
                                            CTransection.CreatedOn as CreatedOn ,
                                            CastingName ,
                                            CastingCode ,
                                            ISNULL(@OpeningQty, 0) AS StockQty ,
                                            ISNULL(CTransection.productionqty, 0) AS TransactionQty ,
                                            ISNULL(@OpeningQty, 0)
                                            + ISNULL(CTransection.productionqty, 0) AS BalanceQty ,
                                            CAST(ISNULL(CTransection.productionqty,
                                                        0) AS VARCHAR) AS InwardQty ,
                                            '' AS OutwardQty ,
                                            1 AS No,
											CTransection.batchno as RefNO,
											'' as PartyName
                                  FROM     [Data:CastingTransection] as CTransection
                                  WHERE  
                                          ( CTransection.CastingId = @CastingId )
                                            AND (  CTransection.MetalId = @MetalId )
                                            AND CAST(CTransection.ProcessDate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE)
                                                              AND
                                                              CAST(@ProcessDateTo AS DATE)
                                  UNION ALL
                                  SELECT    case when dispatchmaster.TypeOfVoucher = 2 then 'Return To Customer' when TypeOfVoucher = 1 then 'Stock Transfer' else 'Dispatch' end AS [Action] ,
                                            dispatchmaster.dispatchdate AS ProcessDate ,
                                            dispatchmaster.createdon as CreatedOn,
                                            CastingName ,
                                            CastingCode ,
                                            ISNULL(@OpeningQty, 0) AS StockQty ,
                                            -ISNULL(dispatchtrans.dispatchqty,
                                                    0) AS TransactionQty ,
                                            ISNULL(@OpeningQty, 0)
                                            - ISNULL(dispatchtrans.dispatchqty,
                                                     0) AS BalanceQty ,
                                            '' AS InwardQty ,
                                            CAST(ISNULL(dispatchtrans.dispatchqty,
                                                        0) AS VARCHAR) AS OutwardQty ,
                                            9 AS No,
											CASE 
											WHEN DispatchMaster.IsExport  = 0 THEN 
												ISNULL(DispatchMaster.Prefix, '') 
												+ ISNULL(DispatchMaster.Separator, '') 
												+ CONVERT(VARCHAR(50), DispatchMaster.DispatchSlipNo) 
												+ ISNULL(DispatchMaster.Separator, '') 
												+ ISNULL(DispatchMaster.Suffix, '')
											ELSE 
												ISNULL(DispatchMaster.ExpPrefix, '') 
												+ ISNULL(DispatchMaster.ExpSeparator, '') 
												+ CONVERT(VARCHAR(50), DispatchMaster.ExportNo) 
												+ ISNULL(DispatchMaster.ExpSeparator, '') 
												+ ISNULL(DispatchMaster.ExpSuffix, '')
										END  as RefNO,
											c.CustomerName  as PartyName
                                  FROM      dbo.dispatchtrans
                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
											inner join dbo.CustomerMaster c on c.CustomerId =    dbo.dispatchmaster.customerID 
                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.dispatchtrans.castingid
                                            INNER JOIN OrderTranse ON OrderTranse.CustomerOrderId = dispatchtrans.orderid
                                                              AND OrderTranse.CastingId = dispatchtrans.castingid
                                                              AND OrderTranse.SrNo = dispatchtrans.orderserialno
                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                              AND CastingMetal.MetalId = OrderTranse.MetalId
                                  WHERE     dispatchtrans.IsDeleted = 0
								            AND dispatchmaster.isProforma = 0 and IsPurchaseReturn = 0
											AND dispatchmaster.TypeOfVoucher NOT IN (1,4)
                                            AND CastingMaster.CastingId = @CastingId
                                            AND ( CastingMetal.MetalId = @MetalId )
                                            AND CAST(dispatchmaster.dispatchdate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE)
                                                              AND
                                                              CAST(@ProcessDateTo AS DATE)
                                            And dispatchmaster.NoStockMovement = 0
                                  UNION ALL
                                  SELECT    'Opening Stock' AS [Action] ,
                                            FGInventoryHistory.ProcessDate AS ProcessDate ,
                                            FGInventoryHistory.InsertedDate as CreatedOn,
                                            CastingName ,
                                            CastingCode ,
                                            ISNULL(@OpeningQty, 0) AS StockQty ,
                                            ISNULL(TransactionQty, 0) AS TransactionQty ,
                                            ISNULL(@OpeningQty, 0)
                                            + ISNULL(TransactionQty, 0) AS BalanceQty ,
                                            CAST(ISNULL(TransactionQty, 0) AS VARCHAR) AS InwardQty ,
                                            '' AS OutwardQty ,
                                            2 AS No,
											PB.batchno as RefNo,
											''  as PartyName
                                  FROM      dbo.FGInventoryHistory
                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.FGInventoryHistory.CastingId
											INNER JOIN dbo.ProductionBatch PB ON PB.batchID =  dbo.FGInventoryHistory.ProcessCode 
                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                              AND CastingMetal.MetalId = FGInventoryHistory.MetalId
                                  WHERE     CastingMaster.CastingId = @CastingId
                                            AND ( CastingMetal.MetalId = @MetalId )
                                            AND CAST(ProcessDate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE) AND CAST(@ProcessDateTo AS DATE)
                                            AND Tagging = 'Opening Stock'
                                  UNION ALL
                                  SELECT    'Rejection' AS [Action] ,
                                            CastingFinalRejection.RejectionDate AS ProcessDate ,
                                            Inhouserejmgnt.CreatedOn ,
                                            CastingName ,
                                            CastingCode ,
                                            ISNULL(@OpeningQty, 0) AS StockQty ,
                                            -ISNULL(CastingFinalRejection.RejQty,
                                                    0) AS TransactionQty ,
                                            ISNULL(@OpeningQty, 0)
                                            - ISNULL(CastingFinalRejection.RejQty,
                                                     0) AS BalanceQty ,
                                            '' AS InwardQty ,
                                            CAST(ISNULL(CastingFinalRejection.RejQty,
                                                        0) AS VARCHAR) AS OutwardQty ,
                                            5 AS No,
											ProductionBatch.batchno as RefNo,
											''  as PartyName
                                  FROM      dbo.CastingFinalRejection
											Inner Join Inhouserejmgnt On Inhouserejmgnt.RejInwardID = CastingFinalRejection.InwardID
                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.CastingFinalRejection.CastingID
                                            --INNER JOIN dbo.knockout ON dbo.knockout.knockoutid = dbo.CastingFinalRejection.KnockoutID
                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                              AND CastingMetal.MetalId = CastingFinalRejection.MetalId
                                  WHERE     CastingMaster.CastingId = @CastingId
                                            AND ( CastingMetal.MetalId = @MetalId )
                                            AND CAST(CastingFinalRejection.RejectionDate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE)
                                                              AND
                                                              CAST(@ProcessDateTo AS DATE)
                                            AND CastingFinalRejection.RejQty > 0
                                            AND Stage != 3
                                            
                                  UNION ALL
                                  SELECT    'JobOut' AS [Action] ,
                                            JobOutMaster.JODate AS ProcessDate ,
                                            JobOutMaster.CreatedOn ,
                                            CastingName ,
                                            CastingCode ,
                                            ISNULL(@OpeningQty, 0) AS StockQty ,
                                            -ISNULL(JobOutTranse.OutwardQty, 0) AS TransactionQty ,
                                            ISNULL(@OpeningQty, 0)
                                            - ISNULL(JobOutTranse.OutwardQty,
                                                     0) AS BalanceQty ,
                                            '' AS InwardQty ,
                                            CAST(ISNULL(JobOutTranse.OutwardQty,
                                                        0) AS VARCHAR) AS OutwardQty ,
                                            7 AS No,
											ISNULL(JobOutMaster.Prefix, '') 
											+ ISNULL(JobOutMaster.Separator, '') 
											+ CONVERT(VARCHAR(50), JobOutMaster.JONO) 
											+ ISNULL(JobOutMaster.Separator, '') 
											+ ISNULL(JobOutMaster.Suffix, '') 
											 as RefNo,
											c.CustomerName  as PartyName
                                  FROM      dbo.JobOutTranse
                                            INNER JOIN dbo.JobOutMaster ON dbo.JobOutMaster.JOID = dbo.JobOutTranse.JOID
											inner join CustomerMaster c on c.CustomerId =  dbo.JobOutMaster.SupplierID
                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.JobOutTranse.CastingID
                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                              AND CastingMetal.MetalId = JobOutTranse.MetalId
                                  WHERE     dbo.JobOutTranse.IsDeleted = 0
											AND dbo.JobOutMaster.IsDeleted = 0
											AND JobOutTranse.FromJOTransId = 0
                                            AND CastingMaster.CastingId = @CastingId
                                            AND ( CastingMetal.MetalId = @MetalId )
                                            AND CAST(JobOutMaster.JODate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE)
                                                              AND
                                                              CAST(@ProcessDateTo AS DATE)
                                  UNION ALL
                                  SELECT    'JobReturn' AS [Action] ,
                                            JobreturnMaster.JRDate AS ProcessDate ,
                                            JobreturnMaster.CreatedOn  ,
                                            CastingName ,
                                            CastingCode ,
                                            ISNULL(@OpeningQty, 0) AS StockQty ,
                                            ISNULL(JobReturnTranse.InwardQty,
                                                   0) AS TransactionQty ,
                                            ISNULL(@OpeningQty, 0)
                                            + ISNULL(JobReturnTranse.InwardQty,
                                                     0) AS BalanceQty ,
                                            CAST(ISNULL(JobReturnTranse.InwardQty,
                                                        0) AS VARCHAR) AS InwardQty ,
                                            '' AS OutwardQty ,
                                            8 AS No,
											ISNULL(JobreturnMaster.Prefix, '') 
											+ ISNULL(JobreturnMaster.Separator, '') 
											+ CONVERT(VARCHAR(50), JobreturnMaster.JRNO) 
											+ ISNULL(JobreturnMaster.Separator, '') 
											+ ISNULL(JobreturnMaster.Suffix, '') 
											 as RefNo,
											c.CustomerName  as PartyName
                                  FROM      dbo.JobreturnTranse
                                            INNER JOIN dbo.JobreturnMaster ON dbo.JobReturnMaster.JRID = dbo.JobReturnTranse.JRID
											inner join CustomerMaster c on c.CustomerId =  dbo.JobreturnMaster.SupplierID
                                            INNER JOIN dbo.JobOutTranse ON dbo.JobOutTranse.JOTranseID = dbo.JobReturnTranse.JOTranseID
                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.JobOutTranse.CastingID
                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                              AND CastingMetal.MetalId = JobOutTranse.MetalId
                                  WHERE     JobreturnTranse.IsDeleted = 0
                                            AND CastingMaster.CastingId = @CastingId
                                            AND ( CastingMetal.MetalId = @MetalId )
                                            AND CAST(JobreturnMaster.JRDate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE)
                                                              AND
                                                              CAST(@ProcessDateTo AS DATE)
                                  UNION ALL
                                  SELECT    'Manage Rej Cust' AS [Action] ,
                                            CustomerReturnMaster.Returndate AS ProcessDate ,
                                            CustomerReturnMaster.CreatedOn,
                                            CastingName ,
                                            CastingCode ,
                                            ISNULL(@OpeningQty, 0) AS StockQty ,
                                            ISNULL(CustomerReturnrejmgnt.OKQty,
                                                   0) AS TransactionQty ,
                                            ISNULL(@OpeningQty, 0)
                                            + ISNULL(CustomerReturnrejmgnt.OKQty,
                                                     0) AS BalanceQty ,
                                            CAST(ISNULL(CustomerReturnrejmgnt.OKQty,
                                                        0) AS VARCHAR) AS InwardQty ,
                                            '' AS OutwardQty ,
                                            6 AS No,
											ISNULL(CustomerReturnMaster.Prefix, '') 
											+ ISNULL(CustomerReturnMaster.Separator, '') 
											+ CONVERT(VARCHAR(50), CustomerReturnMaster.ReturnNo) 
											+ ISNULL(CustomerReturnMaster.Separator, '') 
											+ ISNULL(CustomerReturnMaster.Suffix, '') 
											 as RefNo,
											c.CustomerName  as PartyName
                                  FROM      dbo.CustomerReturnrejmgnt
                                            INNER JOIN dbo.CustomerReturnTrans ON CustomerReturnTrans.ReturnTransID = CustomerReturnrejmgnt.CustomerReturnTransID
                                            INNER JOIN dbo.CustomerReturnMaster ON dbo.CustomerReturnMaster.ReturnID = dbo.CustomerReturnTrans.ReturnID
											inner join CustomerMaster c on c.CustomerId =  dbo.CustomerReturnMaster.CustomerID 
                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.CustomerReturnrejmgnt.CastingID
                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                              AND CastingMetal.MetalId = CustomerReturnrejmgnt.MetalId
                                  WHERE     CastingMaster.CastingId = @CastingId
                                            AND ( CastingMetal.MetalId = @MetalId )
                                            AND CAST(CustomerReturnMaster.Returndate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE)
                                                              AND
                                                              CAST(@ProcessDateTo AS DATE)
                                            AND CustomerReturnrejmgnt.OKQty <> 0
                                                        
                                  UNION ALL
                                  SELECT    case when RawMaterialInward.IsForJobReturn = 1 then 'JobIn'  when RawMaterialInward.JobIn = 1 then 'Job Inward' else 'Casting Purchase'end  AS [Action] ,
                                            RawMaterialInward.InwardDate AS ProcessDate ,
                                            RawMaterialInward.CreatedOn ,
                                            CastingName ,
                                            CastingCode ,
                                            ISNULL(@OpeningQty, 0) AS StockQty ,
                                            ISNULL(InwardCastingPurchase.AcceptedQty,
                                                   0) AS TransactionQty ,
                                            ISNULL(@OpeningQty, 0)
                                            + ISNULL(InwardCastingPurchase.AcceptedQty,
                                                     0) AS BalanceQty ,
                                            CAST(ISNULL(InwardCastingPurchase.AcceptedQty,
                                                        0) AS VARCHAR) AS InwardQty ,
                                            '' AS OutwardQty ,
                                            3 AS No,
											ISNULL(RawMaterialInward.Prefix, '') 
											+ ISNULL(RawMaterialInward.Separator, '') 
											+ CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo ) 
											+ ISNULL(RawMaterialInward.Separator, '') 
											+ ISNULL(RawMaterialInward.Suffix, '') 
											 as RefNo,
											c.CustomerName  as PartyName
                                  FROM      dbo.InwardCastingPurchase
                                            INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.InwardCastingPurchase.InwardId
                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.InwardCastingPurchase.CastingId
											inner join CustomerMaster c on c.CustomerId =  dbo.RawMaterialInward.CustomerID 
                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                              AND CastingMetal.MetalId = InwardCastingPurchase.MetalId
                                  WHERE     InwardCastingPurchase.IsDeleted = 0
											AND isnull(IsMachineShopInward,0) = 0 
                                            AND CastingMaster.CastingId = @CastingId
                                            AND ( CastingMetal.MetalId = @MetalId )
                                            AND CAST(RawMaterialInward.InwardDate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE)
                                                              AND
                                                              CAST(@ProcessDateTo AS DATE)
                                  UNION ALL
                                  SELECT    'JobOut' AS [Action] ,
                                            JobOutMaster.JODate AS ProcessDate ,
                                            JobOutMaster.CreatedOn ,
                                            CastingName ,
                                            CastingCode ,
                                            ISNULL(@OpeningQty, 0) AS StockQty ,
                                            -ISNULL(JobOutItemBatch.Qty,
                                                    0) AS TransactionQty ,
                                            ISNULL(@OpeningQty, 0)
                                            - ISNULL(JobOutItemBatch.Qty,
                                                     0) AS BalanceQty ,
                                            '' AS InwardQty ,
                                            CAST(ISNULL(JobOutItemBatch.Qty,
                                                        0) AS VARCHAR) AS OutwardQty ,
                                            10 AS No,
											ISNULL(JobOutMaster.Prefix, '') 
											+ ISNULL(JobOutMaster.Separator, '') 
											+ CONVERT(VARCHAR(50), JobOutMaster.JONO) 
											+ ISNULL(JobOutMaster.Separator, '') 
											+ ISNULL(JobOutMaster.Suffix, '') 
											 as RefNo,
											c.CustomerName  as PartyName
                                  FROM      JobOutItemTrans  
											INNER JOIN JobOutItemBatch On JobOutItemBatch.JoItemTransId = JobOutItemTrans.JoItemTransId 
											--INNER JOIN CastingStockBatch On CastingStockBatch.Batchid = JobOutItemBatch.Id
											INNER JOIN JobOutTranse ON JobOutTranse.JOTranseID = JobOutItemTrans.Jo_TranseId  
											INNER JOIN JobOutMaster ON JobOutMaster.JOID  = JobOutTranse.JOID  
												inner join CustomerMaster c on c.CustomerId =  JobOutMaster.SupplierID
											INNER JOIN BOQTrans ON BOQTrans.BOQTransId = JobOutItemTrans.Bom_TranseId 
											INNER JOIN CastingMaster On CastingMaster.CastingId = BOQTrans.PurchaseItemId
                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                              AND CastingMetal.MetalId = JobOutItemBatch.MetalId
                                  WHERE     JobOutTranse.IsDeleted = 0 And JobOutMaster.IsDeleted = 0
                                            AND CastingMaster.CastingId = @CastingId
                                            AND ( CastingMetal.MetalId = @MetalId )
                                            AND CAST(JobOutMaster.JODate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE)
                                                              AND
                                                              CAST(@ProcessDateTo AS DATE)
                                  
                                  UNION ALL
                                  SELECT    'Stock Transfer' AS [Action] ,
                                            ProcessDate  ,
                                            inserteddate as CreatedOn ,
                                            CastingName ,
                                            CastingCode ,
                                            ISNULL(@OpeningQty, 0) AS StockQty ,
                                            ISNULL(FGInventoryHistory.TransactionQty,
                                                   0) AS TransactionQty ,
                                            ISNULL(@OpeningQty, 0)
                                            + ISNULL(FGInventoryHistory.TransactionQty,
                                                     0) AS BalanceQty ,
                                            CASE WHEN ISNULL(TransactionQty, 0) >= 0
                                                 THEN CAST(ISNULL(TransactionQty,
                                                              0) AS VARCHAR)
                                                 ELSE ''
                                            END AS InwardQty ,
                                            CASE WHEN ISNULL(TransactionQty, 0) < 0
                                                 THEN CAST(ISNULL(-TransactionQty,
                                                              0) AS VARCHAR)
                                                 ELSE ''
                                            END AS OutwardQty ,
                                            4 AS No,
											PB.batchno as RefNo,
											''  as PartyName
                                  FROM      dbo.FGInventoryHistory
                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.FGInventoryHistory.castingid
											INNER JOIN dbo.ProductionBatch PB ON PB.batchID =  dbo.FGInventoryHistory.ProcessCode 
                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                              AND CastingMetal.MetalId = FGInventoryHistory.MetalId
                                  WHERE     ( FGInventoryHistory.Tagging = 'StockTransfer' )
                                            AND CAST(ProcessDate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE) AND CAST(@ProcessDateTo AS DATE)
                                            AND CastingMaster.CastingId = @CastingId
                                            AND ( CastingMetal.MetalId = @MetalId )
								UNION ALL
                                SELECT    'Consumption' AS [Action] ,
                                            SandProduction.ProductionDate AS ProcessDate ,
                                            SandProduction.CreatedOn ,
                                            CastingName ,
                                            CastingCode ,
                                            ISNULL(@OpeningQty, 0) AS StockQty ,
                                            -ISNULL(BOMConsumption.Consumptionqty,
                                                    0) AS TransactionQty ,
                                            ISNULL(@OpeningQty, 0)
                                            - ISNULL(BOMConsumption.Consumptionqty,
                                                     0) AS BalanceQty ,
                                            '' AS InwardQty ,
                                            CAST(ISNULL(BOMConsumption.Consumptionqty,
                                                        0) AS VARCHAR) AS OutwardQty ,
                                            11 AS No,
											PB.batchno as RefNo,
											''  as PartyName
                                  FROM      BOMConsumption 
											Inner Join SandProduction On SandProduction.SandProductionId = BOMConsumption.SandProductionId
											INNER JOIN dbo.ProductionBatch PB ON PB.batchID =  dbo.SandProduction.ProductionBatchId 
											INNER JOIN CastingMaster On CastingMaster.CastingId = BOMConsumption.purchaseitemID
                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                    AND CastingMetal.MetalId = BOMConsumption.MetalId
                                  WHERE     BOMConsumption.IsDeleted = 0 And SandProduction.IsDeleted = 0
                                            AND CastingMaster.CastingId = @CastingId
                                            AND ( CastingMetal.MetalId = @MetalId )
                                            AND CAST(SandProduction.ProductionDate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE)
                                                              AND
                                                              CAST(@ProcessDateTo AS DATE)
                                UNION ALL
								SELECT		'Assembly Production' AS [Action] ,
                                            SandProduction.ProductionDate AS ProcessDate ,
                                            SandProduction.CreatedOn  ,
                                            CastingName ,
                                            CastingCode ,
                                            ISNULL(@OpeningQty, 0) AS StockQty ,
                                            ISNULL(SandProduction.Qty, 0) AS TransactionQty ,
                                            ISNULL(@OpeningQty, 0)
                                            + ISNULL(SandProduction.Qty, 0) AS BalanceQty ,
                                            CAST(ISNULL(SandProduction.Qty,
                                                        0) AS VARCHAR) AS InwardQty ,
                                            '' AS OutwardQty ,
                                            12 AS No,
											PB.batchno as RefNo,
											''  as PartyName
                                  FROM      SandProduction 
											INNER JOIN dbo.ProductionBatch PB ON PB.batchID =  dbo.SandProduction.ProductionBatchId
											Inner Join MetalMaster On MetalMaster.EntityID = SandProduction.EntityID
												and MetalMaster.IsAssembly = 1
											INNER JOIN CastingMaster On CastingMaster.CastingId = SandProduction.PurchaseItemId
                                            INNER JOIN CastingMetal ON CastingMetal.CastingId = CastingMaster.CastingId
                                                    AND CastingMetal.MetalId = MetalMaster.MetalId
                                  WHERE     SandProduction.IsDeleted = 0
                                            AND CastingMaster.CastingId = @CastingId
                                            AND ( CastingMetal.MetalId = @MetalId )
                                            AND CAST(SandProduction.ProductionDate AS DATE) BETWEEN CAST(@ProcessDateFrom AS DATE)
                                                              AND
                                                              CAST(@ProcessDateTo AS DATE)
                                ) AS CastingTransaction
                        
                    END
                    
                SELECT  ISNULL(SUM(RejectQty), 0) AS RejectedQty
				FROM    dbo.RejectionMaster
						INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.RejectionMaster.ProductionBatchId
				WHERE   IsInward = 0
						AND CastingID = @CastingId
						AND MetalID = @MetalID

				SELECT  ISNULL(SUM(Stock), 0) AS JOPendingQty
				FROM    dbo.CastingJOGradeStock
				WHERE   CastingID = @CastingId
						AND MetalID = @MetalID



 

GO
