USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchLastEntryDetailsOfStore]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<BIRVA>
-- Create date: <12-12-18>
-- Description:	<Fetch last details of PO, Inward, Issue , Rejection >
-- =============================================
-- =============================================
-- Author:		<Megha>
-- Description:	 <Added union for sales>
-- =============================================
CREATE PROCEDURE [dbo].[FetchLastEntryDetailsOfStore]
    @PurchaseItemId UNIQUEIDENTIFIER = NULL ,
    @IsInwardBatchWise BIT = 0,
    @EntityId int = 0
	, @PlantIdString VARCHAR(100) = NULL

AS
    BEGIN
    	--Commented by Ritik on 12-06-2025
		declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
        SELECT TOP 1
                ROW_NUMBER() OVER ( ORDER BY CONVERT(DATE, OrderDate) DESC , OASrNo DESC ) AS SrNo ,
                'PO' AS LABEL ,
                --CASE WHEN PurchaseOrder_Master.Prefix IS NULL THEN ''
                --     ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)
                --END + CASE WHEN PurchaseOrder_Master.Separator IS NULL THEN ''
                --           ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                --      END + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)
                --+ CASE WHEN PurchaseOrder_Master.Separator IS NULL THEN ''
                --       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                --  END + CASE WHEN PurchaseOrder_Master.Suffix IS NULL THEN ''
                --             ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)
                --        END
				ISNULL(PurchaseOrder_Master.Prefix,'')	
				+ ISNULL(PurchaseOrder_Master.Separator,'')	
				+ CONVERT(VARCHAR(50),PurchaseOrder_Master.PONo)
				+  ISNULL(PurchaseOrder_Master.Separator,'')
				+ISNULL(PurchaseOrder_Master.Suffix,'')
				AS No ,
                CONVERT(VARCHAR(11), OrderDate, 106) AS Date ,
                CONVERT(DECIMAL(18, 3), RequiredQty) AS Quantity ,
                CONVERT(DECIMAL(18, 2), Rates) AS Rate,
                UOMMaster.UOM
        FROM    dbo.PurchaseOrder_Master
                INNER JOIN dbo.PurchaseOrder_Trans ON dbo.PurchaseOrder_Trans.PurchaseOrderId = dbo.PurchaseOrder_Master.PurchaseOrderId
				INNER JOIN UOMMaster On UOMMaster.UOMid = PurchaseOrder_Trans.UOM
        WHERE   dbo.PurchaseOrder_Master.IsDeleted = 0
                AND dbo.PurchaseOrder_Trans.IsDeleted = 0
                AND PurchaseItemId = @PurchaseItemId
                AND PurchaseOrder_Master.EntityId = @EntityId
                    and    PurchaseOrder_Master.MaxVersion = 1 
					--added by Ritik on 15-10-2025
					 AND ( ISNULL(@PlantIdString,'') = ''  
									OR PurchaseOrder_Master.POPlantId IN (  
										SELECT Item FROM @Plant  
									)  
								) 
					--END
        UNION ALL
        SELECT TOP 1
                ROW_NUMBER() OVER ( ORDER BY CONVERT(DATE, InwardDate) DESC  , INWSrNo DESC ) AS SrNo ,
                'GRN' AS LABEL ,
                --CASE WHEN RawMaterialInward.Prefix IS NULL THEN ''
                --     ELSE CONVERT(VARCHAR(50), RawMaterialInward.Prefix)
                --END + CASE WHEN RawMaterialInward.Separator IS NULL THEN ''
                --           ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)
                --      END + CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo)
                --+ CASE WHEN RawMaterialInward.Separator IS NULL THEN ''
                --       ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)
                --  END + CASE WHEN RawMaterialInward.Suffix IS NULL THEN ''
                --             ELSE CONVERT(VARCHAR(50), RawMaterialInward.Suffix)
                --        END
				ISNULL(RawMaterialInward.Prefix,'')	
				+ ISNULL(RawMaterialInward.Separator,'')	
				+ CONVERT(VARCHAR(50),RawMaterialInward.INWSrNo)
				+  ISNULL(RawMaterialInward.Separator,'')
				+ISNULL(RawMaterialInward.Suffix,'')
				AS InwardNo ,
                CONVERT(VARCHAR(11), InwardDate, 106) AS InwardDate ,
                CONVERT(DECIMAL(18, 3), Quantity) AS Quantity ,
                CONVERT(DECIMAL(18, 2), Rate) AS Rate,
				UOMMaster.UOM
        FROM    dbo.RawMaterialInward
                INNER JOIN dbo.RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
				INNER JOIN UOMMaster ON UOMMaster.UOMid = RawMaterialInwardDetail.UnitOfMeasure
        WHERE   dbo.RawMaterialInward.IsDeleted = 0
                AND dbo.RawMaterialInwardDetail.IsDeleted = 0
                AND PurchaseItemId = @PurchaseItemId
                AND RawMaterialInward.EntityId = @EntityId
                AND dbo.RawMaterialInward.IsTransfer = 0
                AND RawMaterialInwardDetail.IsPattern =0
				--added by Ritik on 15-10-2025
					 AND ( ISNULL(@PlantIdString,'') = ''  
									OR RawMaterialInward.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								) 
					--END
        UNION ALL
        SELECT TOP 1
                ROW_NUMBER() OVER ( ORDER BY CONVERT(DATE, MaterialIssue.IssueDate) DESC  , IssueNo DESC ) AS SrNo ,
                'ISSUE' AS LABEL ,
                --CASE WHEN MaterialIssue.Prefix IS NULL THEN ''
                --     ELSE CONVERT(VARCHAR(50), MaterialIssue.Prefix)
                --END + CASE WHEN MaterialIssue.Separator IS NULL THEN ''
                --           ELSE CONVERT(VARCHAR(50), MaterialIssue.Separator)
                --      END + CONVERT(VARCHAR(50), MaterialIssue.IssueNo)
                --+ CASE WHEN MaterialIssue.Separator IS NULL THEN ''
                --       ELSE CONVERT(VARCHAR(50), MaterialIssue.Separator)
                --  END + CASE WHEN MaterialIssue.Suffix IS NULL THEN ''
                --             ELSE CONVERT(VARCHAR(50), MaterialIssue.Suffix)
                --        END
				ISNULL(MaterialIssue.Prefix,'')	
				+ ISNULL(MaterialIssue.Separator,'')	
				+ CONVERT(VARCHAR(50),MaterialIssue.IssueNo)
				+  ISNULL(MaterialIssue.Separator,'')
				+ISNULL(MaterialIssue.Suffix,'')
				AS IssueNo ,
                CONVERT(VARCHAR(11), dbo.MaterialIssue.IssueDate, 106) ,
                CONVERT(DECIMAL(18, 3), MaterialIssueTrans.Quantity) AS Quantity ,
                CONVERT(DECIMAL(18, 2), ISNULL(Rate,0)) AS Rate,
                UOMMaster.UOM
        FROM    dbo.MaterialIssue
                INNER JOIN dbo.MaterialIssueTrans ON dbo.MaterialIssueTrans.IssueId = dbo.MaterialIssue.IssueId
                --LEFT JOIN dbo.MaterialIssueBatchWise ON dbo.MaterialIssueBatchWise.MaterialIssueTransId = dbo.MaterialIssueTrans.MaterialIssueTransId
                --LEFT JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.PurchaseItemId = dbo.MaterialIssueTrans.PurchaseItemId
                --                                      AND dbo.RawInwBatchWiseStock.RawBatchId = dbo.MaterialIssueBatchWise.RawBatchId
                OUTER APPLY ( SELECT  TOP 1 Rate ,
                                    PurchaseItemId
                            FROM    dbo.RawMaterialInwardDetail
                                    INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.RawMaterialInwardDetail.InwardId
                            WHERE   RawMaterialInwardDetail.IsDeleted = 0
                                    AND  RawMaterialInwardDetail.IsPattern = 0
                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                    AND RawMaterialInwardDetail.PurchaseItemId = @PurchaseItemId
                                 --   AND InwardDate <= MaterialIssue.IssueDate
                                 AND cast(InwardDate as date) <=  cast(MaterialIssue.IssueDate as DATE) 
                                    AND RawMaterialInwardDetail.PurchaseItemId = dbo.MaterialIssueTrans.PurchaseItemId
                                    Order by InwardDate DESC
                          ) RawMaterialInwardDetail 
                                                      
                INNER JOin PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId = MaterialIssueTrans.PurchaseItemId
                INNER JOIN UOMMaster On UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
        WHERE   dbo.MaterialIssue.IsDeleted = 0
                AND dbo.MaterialIssueTrans.IsDeleted = 0
                AND MaterialIssueTrans.PurchaseItemId = @PurchaseItemId
                AND MaterialIssue.EntityID = @EntityId
                AND dbo.MaterialIssue.IsTransfer = 0
				--added by Ritik on 15-10-2025
					 AND ( ISNULL(@PlantIdString,'') = ''  
									OR MaterialIssue.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								) 
					--END
        UNION ALL
        SELECT TOP 1
                ROW_NUMBER() OVER ( ORDER BY CONVERT(DATE, RejectionDate) DESC  , RejectionCode DESC ) AS SrNo ,
                'REJECTION' AS LABEL ,
                --CASE WHEN Prefix IS NULL THEN ''
                --     ELSE CONVERT(VARCHAR(50), Prefix)
                --END + CASE WHEN Separator IS NULL THEN ''
                --           ELSE CONVERT(VARCHAR(50), Separator)
                --      END + CONVERT(VARCHAR(50), RejectionCode)
                --+ CASE WHEN Separator IS NULL THEN ''
                --       ELSE CONVERT(VARCHAR(50), Separator)
                --  END + CASE WHEN Suffix IS NULL THEN ''
                --             ELSE CONVERT(VARCHAR(50), Suffix)
                --        END AS RejectionCode ,
				--CASE WHEN RawMaterialRejectionMaster.Prefix IS NULL THEN ''
    --                 ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Prefix)
    --            END + CASE WHEN RawMaterialRejectionMaster.Separator IS NULL THEN ''
    --                       ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Separator)
    --                  END + CONVERT(VARCHAR(50), RejectionCode)
    --            + CASE WHEN RawMaterialRejectionMaster.Separator IS NULL THEN ''
    --                   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Separator)
    --              END + CASE WHEN RawMaterialRejectionMaster.Suffix IS NULL THEN ''
    --                         ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Suffix)
    --                    END
	              ISNULL(RawMaterialRejectionMaster.Prefix,'')	
				+ ISNULL(RawMaterialRejectionMaster.Separator,'')	
				+ CONVERT(VARCHAR(50),RawMaterialRejectionMaster.RejectionCode)
				+ ISNULL(RawMaterialRejectionMaster.Separator,'')
				+ ISNULL(RawMaterialRejectionMaster.Suffix,'')
						AS RejectionCode ,
                CONVERT(VARCHAR(11), RejectionDate, 106) ,
                CONVERT(DECIMAL(18, 3), RawMaterialRejectionItemTrans.Qty) AS Quantity ,
                CONVERT(DECIMAL(18, 2), ISNULL(Rate,0)) AS Rate,
                UOMMaster.UOM
        FROM    dbo.RawMaterialRejectionMaster
                INNER JOIN dbo.RawMaterialRejectionItemTrans ON dbo.RawMaterialRejectionItemTrans.RawMaterialRejectionId = dbo.RawMaterialRejectionMaster.RawMaterialRejectionId
                --LEFT JOIN dbo.RawMaterialRejectionBatchWise ON dbo.RawMaterialRejectionBatchWise.RawMaterialRejectionTransId = dbo.RawMaterialRejectionItemTrans.RawMaterialRejectionTransId
                --LEFT JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.PurchaseItemId = dbo.RawMaterialRejectionItemTrans.PurchaseItemId
                --                                      AND dbo.RawInwBatchWiseStock.RawBatchId = dbo.RawMaterialRejectionBatchWise.RawBatchId
               OUTER APPLY ( SELECT  TOP 1 Rate ,
                                    PurchaseItemId
                            FROM    dbo.RawMaterialInwardDetail
                                    INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.RawMaterialInwardDetail.InwardId
                            WHERE   RawMaterialInwardDetail.IsDeleted = 0
                                   AND  RawMaterialInwardDetail.IsPattern = 0
                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                    AND RawMaterialInwardDetail.PurchaseItemId = @PurchaseItemId
                                    And InwardDate <= RawMaterialRejectionMaster.RejectionDate
                                    AND RawMaterialInwardDetail.PurchaseItemId = dbo.RawMaterialRejectionItemTrans.PurchaseItemId
                                    Order by InwardDate DESC
                          ) RawMaterialInwardDetail
                INNER JOin PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId = RawMaterialRejectionItemTrans.PurchaseItemId
                INNER JOIN UOMMaster On UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
                LEFT JOIN InvoiceSeries ON InvoiceSeries.SeriesId = dbo.RawMaterialRejectionMaster.SeriesId
                --LEFT JOIN Prefix_Suffix AS ps On ps.PrefixSuffixId = InvoiceSeries.PrefixSuffixId
        WHERE   RawMaterialRejectionItemTrans.IsDeleted = 0
                AND RawMaterialRejectionItemTrans.PurchaseItemId = @PurchaseItemId
                AND RawMaterialRejectionMaster.EntityID = @EntityId
				--added by Ritik on 15-10-2025
					 AND ( ISNULL(@PlantIdString,'') = ''  
									OR RawMaterialRejectionMaster.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								) 
					--END
        UNION ALL
        SELECT TOP 1
                ROW_NUMBER() OVER ( ORDER BY CONVERT(DATE, InvoiceDate) DESC  , InvoiceNo DESC ) AS SrNo ,
                'SUPPLIER BILL' AS LABEL ,
                --CASE WHEN PurchaseInvoice.Prefix IS NULL THEN ''
                --     ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Prefix)
                --END + CASE WHEN PurchaseInvoice.Separator IS NULL THEN ''
                --           ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)
                --      END + CONVERT(VARCHAR(50), PurchaseInvoice.InvoiceNo)
                --+ CASE WHEN PurchaseInvoice.Separator IS NULL THEN ''
                --       ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)
                --  END + CASE WHEN PurchaseInvoice.Suffix IS NULL THEN ''
                --             ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Suffix)
                --        END 
				ISNULL(PurchaseInvoice.Prefix,'')	
				+ ISNULL(PurchaseInvoice.Separator,'')	
				+ CONVERT(VARCHAR(50),PurchaseInvoice.InvoiceNo)
				+  ISNULL(PurchaseInvoice.Separator,'')
				+ISNULL(PurchaseInvoice.Suffix,'')
						AS InvoiceNo ,
                CONVERT(VARCHAR(11), InvoiceDate, 106) AS InvoiceDate ,
                CONVERT(DECIMAL(18, 3), Qty) AS Quantity ,
                CONVERT(DECIMAL(18, 2), Rate) AS Rate,
                UOMMaster.UOM
        FROM    dbo.PurchaseInvoice
                INNER JOIN dbo.PurchaseInvoiceTrans ON dbo.PurchaseInvoiceTrans.PurchaseInvoiceId = dbo.PurchaseInvoice.PurchaseInvoiceId
				INNER JOIN UOMMaster On UOMMaster.UOMid =  PurchaseInvoiceTrans.UOM
        WHERE   dbo.PurchaseInvoice.IsDelete = 0
                AND dbo.PurchaseInvoiceTrans.IsDeleted = 0
                AND PurchaseItemId = @PurchaseItemId
                AND PurchaseInvoice.EntityId = @EntityId
                AND  PurchaseInvoiceTrans.IsPattern = 0
				--added by Ritik on 15-10-2025
					 AND ( ISNULL(@PlantIdString,'') = ''  
									OR PurchaseInvoice.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								) 
					--END
        UNION ALL
        SELECT TOP 1
                ROW_NUMBER() OVER ( ORDER BY CONVERT(DATE, ReturnDate) DESC  , ChallanNo DESC ) AS SrNo ,
                'GATEPASS OUT' AS LABEL ,
                --CASE WHEN OutwardMaster.Prefix IS NULL THEN ''
                --     ELSE CONVERT(VARCHAR(50), OutwardMaster.Prefix)
                --END + CASE WHEN OutwardMaster.Separator IS NULL THEN ''
                --           ELSE CONVERT(VARCHAR(50), OutwardMaster.Separator)
                --      END + CONVERT(VARCHAR(50), OutwardMaster.ChallanNo)
                --+ CASE WHEN OutwardMaster.Separator IS NULL THEN ''
                --       ELSE CONVERT(VARCHAR(50), OutwardMaster.Separator)
                --  END + CASE WHEN OutwardMaster.Suffix IS NULL THEN ''
                --             ELSE CONVERT(VARCHAR(50), OutwardMaster.Suffix)
                --        END 
				  ISNULL(OutwardMaster.Prefix,'')	
				+ ISNULL(OutwardMaster.Separator,'')	
				+ CONVERT(VARCHAR(50),OutwardMaster.ChallanNo)
				+ ISNULL(OutwardMaster.Separator,'')
				+ ISNULL(OutwardMaster.Suffix,'')
						AS ChallanNo ,
                CONVERT(VARCHAR(11), ReturnDate, 106) AS ReturnDate ,
                CONVERT(DECIMAL(18, 3), OutwardTrans.Qty) AS Quantity ,
                CONVERT(DECIMAL(18, 2), Rate) AS Rate,
                UOMMaster.UOM
        FROM    dbo.OutwardMaster
                INNER JOIN dbo.OutwardTrans ON dbo.OutwardTrans.OutwardId = dbo.OutwardMaster.OutwardId
                --LEFT JOIN dbo.OutwardBatchWise ON dbo.OutwardBatchWise.OutwardTransId = dbo.OutwardTrans.OutwardTransId
                --LEFT JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.PurchaseItemId = dbo.OutwardTrans.ItemId
                --                                      AND dbo.RawInwBatchWiseStock.RawBatchId = dbo.OutwardBatchWise.RawBatchId
                OUTER APPLY ( SELECT  TOP 1 Rate ,
                                    PurchaseItemId
                            FROM    dbo.RawMaterialInwardDetail
                                    INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.RawMaterialInwardDetail.InwardId
                            WHERE   RawMaterialInwardDetail.IsDeleted = 0
                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                    AND RawMaterialInwardDetail.PurchaseItemId = @PurchaseItemId
                                    AND InwardDate <= OutwardMaster.ReturnDate
                                    AND RawMaterialInwardDetail.PurchaseItemId = dbo.OutwardTrans.Itemid
                                    AND  RawMaterialInwardDetail.IsPattern = 0
                                    Order by InwardDate DESC
                          ) RawMaterialInwardDetail 
                INNER JOIN PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = OutwardTrans.ItemId
                INNER join UOMMaster On UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
        WHERE   dbo.OutwardMaster.IsDeleted = 0
                AND dbo.OutwardTrans.IsDeleted = 0
                AND ItemId = @PurchaseItemId
                AND OutwardMaster.EntityId = @EntityId
				--added by Ritik on 15-10-2025
					 AND ( ISNULL(@PlantIdString,'') = ''  
									OR OutwardMaster.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								) 
					--END
        UNION ALL
        SELECT TOP 1
                ROW_NUMBER() OVER ( ORDER BY CONVERT(DATE, ReturnDate) DESC  , ReturnNo DESC ) AS SrNo ,
                'GATEPASS IN' AS LABEL ,
                ReturnNo ,
                CONVERT(VARCHAR(11), ReturnDate, 106) AS ReturnDate ,
                CONVERT(DECIMAL(18, 3), InwardTrans.Qty) AS Quantity ,
                CONVERT(DECIMAL(18, 2), Rate) AS Rate,
                UOMMaster.UOM
        FROM    dbo.InwardMaster
                INNER JOIN dbo.InwardTrans ON dbo.InwardTrans.InwardId = dbo.InwardMaster.InwardId
                --LEFT JOIN dbo.InwardBatchWise ON dbo.InwardBatchWise.InwardTransId = dbo.InwardTrans.OutwardTransId
                --LEFT JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.PurchaseItemId = dbo.InwardTrans.PurchaseItemId
                --                                      AND dbo.RawInwBatchWiseStock.RawBatchId = dbo.InwardBatchWise.RawBatchId
               OUTER APPLY ( SELECT  TOP 1 Rate ,
                                    PurchaseItemId
                            FROM    dbo.RawMaterialInwardDetail
                                    INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.RawMaterialInwardDetail.InwardId
                            WHERE   RawMaterialInwardDetail.IsDeleted = 0
                                    AND  RawMaterialInwardDetail.IsPattern = 0
                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                    AND RawMaterialInwardDetail.PurchaseItemId = @PurchaseItemId
                                    AND InwardDate <= InwardMaster.ReturnDate
                                    AND RawMaterialInwardDetail.PurchaseItemId = dbo.InwardTrans.PurchaseItemId
                                    Order by InwardDate DESC
                          ) RawMaterialInwardDetail  
                INNER JOIN PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = InwardTrans.PurchaseItemId
                Inner JOIN UOMMaster On UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
        WHERE   dbo.InwardMaster.IsDeleted = 0
                AND dbo.InwardTrans.IsDeleted = 0
                AND InwardTrans.PurchaseItemId = @PurchaseItemId
                AND InwardMaster.EntityId = @EntityId
				
        UNION ALL 
		SELECT TOP 1
					ROW_NUMBER() OVER ( ORDER BY CONVERT(DATE, Dispatchdate) DESC  , Dispatchdate DESC ) AS SrNo ,
					'Sales' AS LABEL ,
					isnull(dispatchmaster.Prefix,'') 
					+ isnull(dispatchmaster.Separator,'') 
					+ CONVERT(VARCHAR(50),Dispatchslipno) 
					+isnull(dispatchmaster.Separator,'') 
					+  isnull(dispatchmaster.Suffix,'') as Dispatchslipno,
					CONVERT(VARCHAR(11), dispatchdate, 106) AS dispatchdate ,
					CONVERT(DECIMAL(18, 3), dispatchtrans.ItemRequiredQty) AS Quantity ,
					CONVERT(DECIMAL(18, 2), dispatchtrans.Rate) AS Rate,
					UOMMaster.UOM
		FROM		dispatchmaster 
					INNER JOIN dispatchtrans On dispatchtrans.dispatchid = dispatchmaster.DispatchID
					INNER JOIN PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = dispatchtrans.PurchaseItemID
					Inner join UOMMaster On UOMMaster.UOMid = PurchaseItemMaster.UnitOfMeasure
		WHERE		dispatchmaster.IsDeleted = 0
					AND dispatchtrans.IsDeleted = 0
					AND (dispatchtrans.PurchaseItemID  is not null Or  dispatchtrans.PurchaseItemID <> CAST(0x0 AS UNIQUEIDENTIFIER))
					AND dispatchmaster.isProforma  = 0
					AND dispatchtrans.PurchaseItemId = @PurchaseItemId
					AND dispatchmaster.EntityID = @EntityId
					--added by Ritik on 15-10-2025
					 AND ( ISNULL(@PlantIdString,'') = ''  
									OR dispatchmaster.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								) 
					--END
				
    END
GO
