USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CoatingDetails_ComboFill]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CoatingDetails_ComboFill]
@CoatID uniqueidentifier = NULL,
@MethodId uniqueidentifier = NULL,
@Parameter int  =0,
@EntityId Int = 0,
@IsDewaxing bit = 0
AS
BEGIN
	

	IF @Parameter = 1
	BEGIN
	if(@IsDewaxing = 1)
	begin
	 Select
		 CoatId as CoatID,
		 CoatName
		 from 
		 CoatMaster
		 WHERE isnull(Iswaxing,0) =@IsDewaxing 
	end
		 Select
		 CoatId as CoatID,
		 CoatName
		 from 
		 CoatMaster
		 WHERE isnull(Iswaxing,0) = @IsDewaxing
		 and (EntityID=@EntityId )
		 and IsDeleted = 0 
    END
	ELSE IF @Parameter = 2
	BEGIN 
			    SELECT 
			            DISTINCT
                        CastingName ,
                        MethodCoatingMaster.CoatID
						
                FROM    dbo.MethodCoatingMaster
				        Inner join PatternCastingMapping ON PatternCastingMapping.MethodId = MethodCoatingMaster.WaxJobCardID
						INNER JOIN CastingMaster ON CastingMaster.CastingId = PatternCastingMapping.CastingId
                WHERE   CastingMaster.IsDeleted = 0
                        AND MethodCoatingMaster.WaxCoatID = @CoatID 
                ORDER BY CastingName ASC
   END
   ELSE IF @Parameter = 3
   BEGIN


				 SELECT 
			            DISTINCT
                        CastingCode ,
                        CastingMaster.CastingId
                FROM    dbo.MethodCoatingMaster
				        Inner join PatternCastingMapping ON PatternCastingMapping.MethodId = MethodCoatingMaster.WaxJobCardID
						INNER JOIN CastingMaster ON CastingMaster.CastingId = PatternCastingMapping.CastingId
                WHERE   CastingMaster.IsDeleted = 0
                        AND MethodCoatingMaster.WaxCoatID = @CoatID 
                ORDER BY CastingCode ASC

	END
   ELSE IF @Parameter = 4
	BEGIN                
        
		

		IF @IsDewaxing = 1
		BEGIN

		 IF EXISTS(  SELECT  WaxCoatID AS CoatID ,
                                CoatName
                        FROM    MethodCoatingMaster
                        WHERE   SrNo = ( SELECT MAX(SrNo)
                                         FROM   MethodCoatingMaster
                                         WHERE  WaxJobCardID = @MethodId
                                                
                                       )
                                AND WaxJobCardID = @MethodId
								)
								BEGIN

								 SELECT  WaxCoatID AS CoatID ,
                                CoatName
								FROM    MethodCoatingMaster
								WHERE   SrNo = ( SELECT MAX(SrNo)
												 FROM   MethodCoatingMaster
                                         WHERE  WaxJobCardID = @MethodId
                                                
                                       )
                                AND WaxJobCardID = @MethodId
								

								END
								ELSE
								BEGIN
								  select 
									CAST(0x0 AS UNIQUEIDENTIFIER) AS CoatID,
									ItemCode AS CoatName 
									from 
									PurchaseItemMaster 
									where DieID = @MethodId
								END

		END
		ELSE
		BEGIN


                IF EXISTS ( SELECT  WaxCoatID AS CoatID ,
                                    CoatName
                            FROM    MethodCoatingMaster
                            WHERE   SrNo = ( SELECT SrNo - 1
                                             FROM   MethodCoatingMaster
                                                  
                                             WHERE  WaxJobCardID = @MethodId
                                                    AND WaxCoatID = @CoatID
                                           ) 
                                           AND WaxJobCardID = @MethodId
                                           )
                    BEGIN 
                        SELECT  WaxCoatID AS CoatID ,
                                CoatName
                        FROM    MethodCoatingMaster
                        WHERE   SrNo = ( SELECT SrNo - 1
                                         FROM   MethodCoatingMaster
                                         WHERE  WaxJobCardID = @MethodId
                                                AND WaxCoatID = @CoatID
                                       )
                                AND WaxJobCardID = @MethodId
                                       
                    END
          
                ELSE
                    BEGIN 
                        

						select 
						CAST(0x0 AS UNIQUEIDENTIFIER) AS CoatID,
						ItemCode AS CoatName 
						from 
						PurchaseItemMaster 
						where DieID = @MethodId

						--SELECT  
						--CAST(0x0 AS UNIQUEIDENTIFIER) AS CoatID ,
      --                          'Assembly' AS CoatName
        
                    END 
					
       END
    END
	ELSE IF @Parameter = 5
	BEGIN

	
	   
	   SELECT
	   WaxJobCardID as PatternId,
	   PatternMaster.PatternCode
	   
	   FROM
	   MethodCoatingMaster
	   inner join PatternMaster ON PatternMaster.PatternId = MethodCoatingMaster.WaxJobCardID
	   Where
	   WaxCoatID = @CoatID

	 

	END
	

END
GO
