USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeReimbursement]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_EmployeeReimbursement]
    @ReimbursementId int = 0 ,
    @ReimbursementName varchar(Max)=NULL ,
    @DeletedBY INT = 0,
	@EntityId int = 0,	
	@CreatedBy INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL , 
    @DeletedOn datetime= NULL,
    @IsDeleted Bit = 0 ,
    @Parameter INT = 0 ,   
    @EmployeeId int = 0 ,
    @ReimbursementAmount Decimal = 0 ,
    @ReimbursementDate datetime = null,
    @Id int = 0  
   
AS
   BEGIN  
   
        IF ( @Parameter = 1 )	-- Save Data in [EmpReimbursementMaster]
            BEGIN
            BEGIN TRANSACTION
            BEGIN TRY
      
             INSERT INTO [EmpReimbursementMaster]
							   ([ReimbursementName]
							   ,[CreatedBy]
							   ,[CreatedOn]	
							   ,[EntityId])
						 VALUES
							   (@ReimbursementName
							   ,@CreatedBy
							   ,GETDATE()							   
							   ,@EntityId)
				
               END TRY 
				 BEGIN Catch
						IF @@ERROR <> 0
						BEGIN
						 ROLLBACK TRANSACTION
			 				 return -1;
						END	
				END Catch
				  COMMIT TRANSACTION                
						RETURN 1 ;
            END     
            END    
              
           If @Parameter = 2	--Delete from [EmpReimbursementMaster]          
     
        BEGIN
          if NOT EXISTS(  select ReimbursementId from EmpReimbursementTrans 
						where ReimbursementId= @ReimbursementId and IsDeleted = 0)
			BEGIN
					UPDATE  [EmpReimbursementMaster]              
					SET     IsDeleted = @IsDeleted ,              
							DeletedBy = @DeletedBy ,              
							DeletedOn = GetDate()              
					WHERE   
							ReimbursementId = @ReimbursementId   
				  return 1        
			  END       
				  return -1 
                  
        END   
            
     
	     IF ( @Parameter = 3 )	-- Update Data in [EmpReimbursementMaster]
            BEGIN
            BEGIN TRANSACTION
            BEGIN TRY	
				 UPDATE   [EmpReimbursementMaster]
						SET 
							  [ReimbursementName] = @ReimbursementName					
							  ,[ModifiedBy] = @ModifiedBy
							  ,[ModifiedOn] = GetDate()							 
						 WHERE ReimbursementId= @ReimbursementId
			--	END  
               END TRY 
				 BEGIN Catch
						IF @@ERROR <> 0
						BEGIN
						 ROLLBACK TRANSACTION
			 				 return -1;
						END	
				END Catch
				  COMMIT TRANSACTION                
						RETURN 1 ;
            END    
            
       
     --   END  
     IF ( @Parameter = 4 ) --Fetch Reimbursement data for Edit 
		Begin
		
				SELECT [ReimbursementId]
					  ,[ReimbursementName]
					  ,[CreatedBy]
					  ,[CreatedOn]
					  ,[ModifiedBy]
					  ,[ModifiedOn]
					  ,[DeletedBy]
					  ,[DeletedOn]
					  ,[IsDeleted]
					  ,[EntityId]
				FROM [EmpReimbursementMaster]				
				where 	 EmpReimbursementMaster.IsDeleted = 0                                       
					    
						   AND   ( @EntityId=0
							  OR EmpReimbursementMaster.EntityId = @EntityId
							)    
					        
						   AND   ( @ReimbursementId = 0
							  OR EmpReimbursementMaster.ReimbursementId = @ReimbursementId
								 )
			
			
							 
			End
			
			
			   IF @Parameter = 5 -- Reimbursement Name must be unique(EmpReimbursementMaster) 
        BEGIN
            IF EXISTS ( SELECT  ReimbursementName
                        FROM    EmpReimbursementMaster
                             
                        WHERE   
                        LTRIM(RTRIM(UPPER(ReimbursementName))) = LTRIM(RTRIM(UPPER(@ReimbursementName)))
                      
						 AND ( @ReimbursementId = 0
                                  OR EmpReimbursementMaster.ReimbursementId <> @ReimbursementId
                                )
						 AND IsDeleted = 0    
							  
						 AND   ( @EntityId=0
							  OR EmpReimbursementMaster.EntityId = @EntityId)    
					           )
                                
                 RETURN 1
            ELSE
                RETURN 0
        END
        
        
        	
			   IF @Parameter = 6 -- Insert into EmpReimbursementTrans
			   
           BEGIN
           BEGIN TRANSACTION
           BEGIN TRY
      
				  INSERT INTO [EmpReimbursementTrans]
						   ([ReimbursementId]
						   ,[EmployeeId]
						   ,[Amount]
						   ,[ReimbursementDate]
						   ,[IsDeleted]
						   ,[CreatedBy]
						   ,[CreatedOn])
					 VALUES
						   (@ReimbursementId
						   ,@EmployeeId
						   ,@ReimbursementAmount
						   ,@ReimbursementDate
						   ,0
						   ,@CreatedBy
						   ,GETDATE()
						    )
						   
				 END TRY 
				 BEGIN Catch
						IF @@ERROR <> 0
						BEGIN
						 ROLLBACK TRANSACTION
			 				 return -1;
						END	
				END Catch
				  COMMIT TRANSACTION                
						RETURN 1 ;
            END   
			--	END
			
			   If @Parameter = 7	--Delete from [EmpReimbursementTrans]         
     	 BEGIN               
		  if NOT EXISTS(  select ID from EmpReimbursementTrans 
						where ID= @ID and IsPaid = 1)
						
			BEGIN
					UPDATE  EmpReimbursementTrans              
					SET     IsDeleted = @IsDeleted ,              
							DeletedBy = @DeletedBy ,              
							DeletedOn = GetDate()              
					WHERE   
							ID = @Id   
				   return 1        
			  END       
				  return -1        
		  END     
				 
               
			   If @Parameter = 8	--Fetch EmpReimbursementTrans data edit          
     
       
			BEGIN
					 SELECT	  Id 
							 ,EmpReimbursementTrans.[ReimbursementId]
							 ,EmpReimbursementMaster.ReimbursementName
							  ,EmpReimbursementTrans.[EmployeeId]
							  ,[Amount]
							  ,LEFT(CONVERT(VARCHAR, [ReimbursementDate], 106), 15) as	[ReimbursementDate]	
							  ,EmployeeDetails.EmployeeName + ' ' + isnull(EmployeeDetails.LastName,'') as EmployeeName 
							  ,[EmployeeDetails].[EmployeeCode] 
											  
                  FROM       EmpReimbursementTrans 
							 left join EmployeeDetails ON EmpReimbursementTrans.EmployeeId = EmployeeDetails.EmployeeId
							 left join EmpReimbursementMaster on EmpReimbursementTrans.ReimbursementId= EmpReimbursementMaster.ReimbursementId
							 
                     WHERE   				
                            EmpReimbursementMaster.Isdeleted = 0  
                          and EmployeeDetails.IsDelete= 0  
                          and EmpReimbursementTrans.IsDeleted = 0                                     
                        
                           AND   ( @EntityId =0
                              OR EmployeeDetails.EntityId = @EntityId
                            )    
                            
                           AND   ( @Id = 0
                              OR EmpReimbursementTrans.ID = @Id
                            )                              
               
			  END  
			  
			  IF ( @Parameter = 9 )	-- Update Data in EmpReimbursementTrans
            BEGIN
            BEGIN TRANSACTION
            BEGIN TRY	
			  UPDATE		EmpReimbursementTrans
						   SET 
							   [EmployeeId] = @EmployeeId							  
							  ,[Amount] = @ReimbursementAmount
							  ,[ReimbursementDate] = @ReimbursementDate	
							  ,[ReimbursementId] = @ReimbursementId						
							  ,[ModifiedBy] = @ModifiedBy
							  ,[ModifiedOn] = GetDate()							 
						 WHERE Id= @Id
			--	END  
               END TRY 
				 BEGIN Catch
						IF @@ERROR <> 0
						BEGIN
						 ROLLBACK TRANSACTION
			 				 return -1;
						END	
				END Catch
				  COMMIT TRANSACTION                
						RETURN 1 ;
            END          
       
            
				          
          
    							  
                                              
                                      



     

     


GO
