USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CastingWise_GradeProprty]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE  PROCEDURE [dbo].[CastingWise_GradeProprty]  
    @Parameter INT = 0 ,  
    @IsHeatwise INT = 0 ,  
    @IsCastCodeEnable INT = 0 ,  
    @PageNumber INT = 0 ,  
    @PageSize INT = 0 ,  
    @InitialLoad INT = 0 ,  
    @TotalRecords INT = 0 ,  
    @IsActive INT = 0 ,  
    @ModifiedOn DATETIME = NULL ,  
    @ModifiedBy INT = 0 ,  
    @IsDeleted INT = 0 ,  
    @CreatedBy INT = 0 ,  
    @CreatedOn DATETIME = NULL ,  
    @DeletedOn DATETIME = NULL ,  
    @DeletedBy INT = 0 ,  
    @EntityID INT = 0 ,  
    @Modified_By INT = 0 ,  
    @Date DATETIME = NULL ,  
    @EntryNo VARCHAR(50) = NULL ,  
    @MetalId BIGINT = 0 ,  
    @CastingId UNIQUEIDENTIFIER = NULL ,  
    @CastingName VARCHAR(100) = NULL ,  
    @CustomerId UNIQUEIDENTIFIER = NULL ,  
    @CastingCode VARCHAR(100) = NULL ,  
    @PropertyId BIGINT = NULL ,  
    @GradeId BIGINT = NULL ,  
    @ElementId INT =0,
    --@Che_Carbon_Min VARCHAR(50) = NULL ,  
    --@Che_Si_Min VARCHAR(50) = NULL ,  
    --@Che_Mg_Min VARCHAR(50) = NULL ,  
    --@Che_Mn_Min VARCHAR(50) = NULL ,  
    --@Che_S_Min VARCHAR(50) = NULL ,  
    --@Che_P_Min VARCHAR(50) = NULL ,  
    --@Che_Cr_Min VARCHAR(50) = NULL ,  
    --@Che_Ni_Min VARCHAR(50) = NULL ,  
    --@Che_Mo_Min VARCHAR(50) = NULL ,  
    --@Che_Cu_Min VARCHAR(50) = NULL ,  
    --@Che_Ti_Min VARCHAR(50) = NULL ,  
    --@Che_Al_Min VARCHAR(50) = NULL ,  
    --@Che_B_Min VARCHAR(50) = NULL ,  
    --@Che_NB_Min VARCHAR(50) = NULL ,  
    --@Che_V_Min VARCHAR(50) = NULL ,  
    --@Che_Carbon_Max VARCHAR(50) = NULL ,  
    --@Che_Si_Max VARCHAR(50) = NULL ,  
    --@Che_Mg_Max VARCHAR(50) = NULL ,  
    --@Che_Mn_Max VARCHAR(50) = NULL ,  
    --@Che_S_Max VARCHAR(50) = NULL ,  
    --@Che_P_Max VARCHAR(50) = NULL ,  
    --@Che_Cr_Max VARCHAR(50) = NULL ,  
    --@Che_Ni_Max VARCHAR(50) = NULL ,  
    --@Che_Mo_Max VARCHAR(50) = NULL ,  
    --@Che_Cu_Max VARCHAR(50) = NULL ,  
    --@Che_Ti_Max VARCHAR(50) = NULL ,  
    --@Che_Al_Max VARCHAR(50) = NULL ,  
    --@Che_B_Max VARCHAR(50) = NULL ,  
    --@Che_NB_Max VARCHAR(50) = NULL ,  
    --@Che_V_Max VARCHAR(50) = NULL ,  
    --@Me_Carbon_Min VARCHAR(50) = NULL ,  
    --@Me_Si_Min VARCHAR(50) = NULL ,  
    --@Me_Mn_Min VARCHAR(50) = NULL ,  
    --@Me_S_Min VARCHAR(50) = NULL ,  
    --@Me_Ra_Min VARCHAR(50) = NULL ,  
    --@Me_Bend_Test_Min VARCHAR(50) = NULL ,  
    --@Me_P_Min VARCHAR(50) = NULL ,  
    --@Me_Cr_Min VARCHAR(50) = NULL ,  
    --@Me_Ni_Min VARCHAR(50) = NULL ,  
    --@Me_Mo_Min VARCHAR(50) = NULL ,  
    --@Me_Cu_Min VARCHAR(50) = NULL ,  
    --@Me_Carbon_Max VARCHAR(50) = NULL ,  
    --@Me_Si_Max VARCHAR(50) = NULL ,  
    --@Me_Mn_Max VARCHAR(50) = NULL ,  
    --@Me_S_Max VARCHAR(50) = NULL ,  
    --@Me_Ra_Max VARCHAR(50) = NULL ,  
    --@Me_Bend_Test_Max VARCHAR(50) = NULL ,  
    --@Me_P_Max VARCHAR(50) = NULL ,  
    --@Me_Cr_Max VARCHAR(50) = NULL ,  
    --@Me_Ni_Max VARCHAR(50) = NULL ,  
    --@Me_Mo_Max VARCHAR(50) = NULL ,  
    --@Me_Cu_Max VARCHAR(50) = NULL ,  
    @Che_Carbon_TV FLOAT = NULL ,  
    @Che_Si_TV FLOAT = NULL ,  
    @Che_Mg_TV FLOAT = NULL ,  
    @Che_Mn_TV FLOAT = NULL ,  
    @Che_S_TV FLOAT = NULL ,  
    @Che_P_TV FLOAT = NULL ,  
    @Che_Cr_TV FLOAT = NULL ,  
    @Che_Ni_TV FLOAT = NULL ,  
    @Che_Mo_TV FLOAT = NULL ,  
    @Che_Cu_TV FLOAT = NULL ,  
    @Che_Ti_TV FLOAT = NULL ,  
    @Che_Al_TV FLOAT = NULL ,  
    @Che_B_TV FLOAT = NULL ,  
    @Che_NB_TV FLOAT = NULL ,  
    @Che_V_TV FLOAT = NULL ,  
    @Me_Carbon_TV FLOAT = NULL ,  
    @Me_Si_TV FLOAT = NULL ,  
    @Me_Mn_TV FLOAT = NULL ,  
    @Me_S_TV FLOAT = NULL ,  
    @Me_Ra_TV FLOAT = NULL ,  
    @Me_Bend_Test_TV FLOAT = NULL ,  
    @Me_P_TV FLOAT = NULL ,  
    @Me_Cr_TV FLOAT = NULL ,  
    @Me_Ni_TV FLOAT = NULL ,  
    @Me_Mo_TV FLOAT = NULL ,  
    @Me_Cu_TV FLOAT = 0 ,  
    @Customerflag VARCHAR(10) = NULL,  
    @MetalType INT = Null,  
    @minimum VARCHAR(50) = NULL ,  
    @maximum VARCHAR(50) = NULL ,  
    @MetalElementId UNIQUEIDENTIFIER = NULL,  
    @MetalGradeMappingTable AS XML = NULL,  
    @GradePropertyMappingTable AS XML = NULL,
    @GradePropertyMechMappingTable AS XML = NULL,  
    @GradePropertyHistoryMappingTable  XML = NULL,  
    @IsUpdateGradeProperty INT = 0,  
    @IsUpdateMechGradeProperty INT = 0,
    @Effective_date  DATETIME = NULL ,  
    @Effective_dateH  DATETIME = NULL ,  
    -- Added by Nikunj  
 @MS_Nodularity_Min VARCHAR(50) = NULL,  
 @MS_Nodularity_Max VARCHAR(50) = NULL,  
 @MS_Perlite_Min VARCHAR(50) = NULL,  
 @MS_Perlite_Max VARCHAR(50) = NULL,  
 @MS_Ferrite_Min VARCHAR(50) = NULL,  
 @MS_Ferrite_Max VARCHAR(50) = NULL,  
 @MS_Nodule_Count_Min VARCHAR(50) = NULL,  
 @MS_Nodule_Count_Max VARCHAR(50) = NULL,  
 @MS_NodulePerMMSquare_Min VARCHAR(50) = NULL,  
 @MS_NodulePerMMSquare_Max VARCHAR(50) = NULL ,  
 @IsUpdateGradePropertyMicro INT = 0 ,  
 @GradePropertyMicroMappingTable AS XML = NULL ,
 @GradePropertyMicroTCMappingTable as xml = null,  
 @MS_M6_Min VARCHAR(50) = NULL,  
 @MS_M6_Max VARCHAR(50) = NULL,  
 @MS_M7_Min VARCHAR(50) = NULL,  
 @MS_M7_Max VARCHAR(50) = NULL,  
 @MS_M8_Min VARCHAR(50) = NULL,  
 @MS_M8_Max VARCHAR(50) = NULL,  
 @MS_M9_Min VARCHAR(50) = NULL,  
 @MS_M9_Max VARCHAR(50) = NULL,  
 @MS_M10_Min VARCHAR(50) = NULL,  
 @MS_M10_Max VARCHAR(50) = NULL,
 @IsItemAnalysis bit = 0 
   
AS  
    BEGIN  
  
  
  Declare @TCMin varchar(10) , @TCMax varchar(10);
        SET NOCOUNT ON;  
  
    
        IF ( @Parameter = 1 )  --fETCH Customer NAme From Customer master  
            BEGIN     
                SELECT  DISTINCT  
                        CustomerMaster.CustomerName ,  
                        CustomerMaster.CustomerId  
                FROM    CustomerMaster 
                inner join  CustomerCompanyMapping on  CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
                WHERE   Customerflag = @Customerflag  
                        AND IsDeleted = 0 
                        AND CustomerCompanyMapping.CompanyId = @EntityID 
                ORDER BY CustomerName  
            END     
  
        IF @Parameter = 2  -- fetch grade From MetalMaster  
            BEGIN  
                 
                SELECT DISTINCT  
                        MetalMaster.MetalId ,  
                        MetalName  
                FROM    MetalMaster  
                        LEFT JOIN dbo.CastingMetal ON dbo.CastingMetal.metalid = dbo.MetalMaster.MetalId  
                        INNER JOIN CastingMaster ON CastingMaster.CastingId = CastingMetal.castingID  
                WHERE   MetalMaster.IsDeleted = 0  
                        AND ( @CastingId IS NULL  
                              OR CastingMetal.castingID = @CastingId  
                            )  
                        AND (@CastingName IS NULL  
                            OR CastingMaster.CastingName = @CastingName  
                            )  
                        AND (@IsItemAnalysis = 0 OR (@IsItemAnalysis = 1 AND CastingMetal.IsProductionGrade = 0)) 
                       -- AND MetalMaster.EntityID = @EntityID  
                              
                ORDER BY MetalName  
            END  
     
        IF @parameter = 3   -- Fetch Casting code Casting Name  
            BEGIN  
  
                SELECT DISTINCT  
                        CastingName ,  
                        CastingId ,  
                        CastingCode  
                FROM    CastingMaster  
                WHERE   CastingMaster.Isdeleted = 0  
                        AND ( @CustomerID IS NULL  
                              --OR CastingID IN (  
                              --SELECT    CastingID  
                              --FROM      CastingMaster ,  
                              --          CustomerDieMapping  
                              --WHERE     CastingMaster.DieiD = CustomerDieMapping.DieiD  
                              --          AND CustomerDieMapping.CustomerId = @CustomerId )  
                              OR CastingID IN (  
                              SELECT    CastingID  
                              FROM      CastingMaster ,  
                                        dbo.CustomerPatternMapping  
                              WHERE     CastingMaster.DieiD = CustomerPatternMapping.PatternId  
                                        AND CustomerPatternMapping.CustomerId = @CustomerId )  
                            )  
            END  
        IF @parameter = 4   --   
            BEGIN  
              
                SELECT  CastingwiseGradeProperty.CastingId ,  
                        CastingMaster.CastingCode ,  
                        CastingMaster.CastingName  
                FROM    dbo.CastingwiseGradeProperty  
                        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.CastingwiseGradeProperty.CastingId  
                WHERE   dbo.CastingwiseGradeProperty.IsDeleted = 0  
            END  
              
        IF @parameter = 5   --   
            BEGIN  
              
            IF (@IsUpdateGradeProperty = 0)  
            Begin  
      delete from CastingwiseMetalProperty where CastingId = @CastingId and Metalid = @GradeId   
     --and CastingID is null  
                    DECLARE GradePropertyCursor CURSOR
                        FOR
                            SELECT  Node.value('(MetalElementId )[1]',
                                               'int') AS 'MetalElementId' ,
                                    Node.value('(Minimum )[1]',
                                               'varchar(10)') AS 'Minimum' ,
                                    Node.value('(Maximum )[1]',
                                               'varchar(10)') AS 'Maximum'  ,
                                    Node.value('(TCMinimum )[1]',
                                               'varchar(10)') AS 'TCMinimum' ,
                                    Node.value('(TCMaximum )[1]',
                                               'varchar(10)') AS 'TCMaximum'                                             
                            FROM    @MetalGradeMappingTable.nodes('/DocumentElement/MetalGradeMappingTable')
                                    AS TEMPXML ( Node )	
                        OPEN GradePropertyCursor;

                        FETCH NEXT FROM GradePropertyCursor INTO @ElementId , @Minimum , @Maximum , @TCMin , @TCMax
				              
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
									
                                INSERT  INTO CastingwiseMetalProperty								
										(
											CastingId,
											MetalId,
											ElementId,
											MinValue,
											MaxValue,
											EffectiveDate,
											TCMin,
											TCMax
																			
                                        )
                                        VALUES
                                        (
											@CastingId,
											@GradeId,
											@ElementId,
											@Minimum,
											@Maximum,
											@Date,
											@TCMin,
											@TCMax
											
                                        )
									
                                FETCH NEXT FROM GradePropertyCursor INTO @ElementId , @Minimum , @Maximum , @TCMin , @TCMax
                            END
		     
		        
                        CLOSE GradePropertyCursor;
                        DEALLOCATE GradePropertyCursor;              

  
            END  
            
            IF (@IsUpdateMechGradeProperty = 0)  
            Begin  
      delete from CastingwiseMetalMechProperty where CastingId = @CastingId and MetalID = @GradeId   
     --and CastingID is null  
                    DECLARE GradeMechPropertyCursor CURSOR
                        FOR
                            SELECT  Node.value('(MetalElementId )[1]',
                                               'int') AS 'MetalElementId' ,
                                    Node.value('(Minimum )[1]',
                                               'varchar(10)') AS 'Minimum' ,
                                    Node.value('(Maximum )[1]',
                                               'varchar(10)') AS 'Maximum' ,
                                    Node.value('(TCMinimum )[1]',
                                               'varchar(10)') AS 'TCMinimum' ,
                                    Node.value('(TCMaximum )[1]',
                                               'varchar(10)') AS 'TCMaximum'                                              
                            FROM    @GradePropertyMechMappingTable.nodes('/DocumentElement/GradePropertyMechMappingTable')
                                    AS TEMPXML ( Node )	
                        OPEN GradeMechPropertyCursor;

                        FETCH NEXT FROM GradeMechPropertyCursor INTO @ElementId , @Minimum , @Maximum , @TCMin , @TCMax
				              
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
									
                                INSERT  INTO CastingwiseMetalMechProperty								
										(
											CastingId,
											MetalId,
											ElementId,
											MinValue,
											MaxValue,
											EffectiveDate,
											TCMin,
											TCMax
																			
                                        )
                                        VALUES
                                        (
											@CastingId,
											@GradeId,
											@ElementId,
											@Minimum,
											@Maximum,
											@Date,
											@TCMin,
											@TCMax
											
                                        )
									
                                FETCH NEXT FROM GradeMechPropertyCursor INTO @ElementId , @Minimum , @Maximum , @TCMin , @TCMax
                            END
		     
		        
                        CLOSE GradeMechPropertyCursor;
                        DEALLOCATE GradeMechPropertyCursor;              

  
            END  
              
            IF (@IsUpdateGradePropertyMicro = 0)  
			Begin  
		              
			 delete from MicroStructureGradeProperty where MetalId = @GradeId  and CastingId = @CastingId  
			 --and CastingID is null  
		                      
			 DECLARE MicroGradePropertyCursor CURSOR  
			  FOR  
			  SELECT         
			   Node.value('(MS_Nodularity_Min)[1]', 'varchar(50)') AS 'MS_Nodularity_Min',  
			   Node.value('(MS_Nodularity_Max )[1]', 'varchar(50)') AS 'MS_Nodularity_Max',  
			   Node.value('(MS_Perlite_Min )[1]', 'varchar(50)') AS 'MS_Perlite_Min',  
			   Node.value('(MS_Perlite_Max )[1]', 'varchar(50)') AS 'MS_Perlite_Max',  
			   Node.value('(MS_Ferrite_Min )[1]', 'varchar(50)') AS 'MS_Ferrite_Min',  
			   Node.value('(MS_Ferrite_Max )[1]', 'varchar(50)') AS 'MS_Ferrite_Max',  
			   Node.value('(MS_Nodule_Count_Min )[1]', 'varchar(50)') AS 'MS_Nodule_Count_Min',  
			   Node.value('(MS_Nodule_Count_Max )[1]', 'varchar(50)') AS 'MS_Nodule_Count_Max',  
			   Node.value('(MS_NodulePerMMSquare_Min )[1]', 'varchar(50)') AS 'MS_NodulePerMMSquare_Min',  
			   Node.value('(MS_NodulePerMMSquare_Max )[1]', 'varchar(50)') AS 'MS_NodulePerMMSquare_Max',         
			   Node.value('(MS_M6_Min)[1]', 'varchar(50)') AS 'MS_M6_Min',  
			   Node.value('(MS_M6_Max )[1]', 'varchar(50)') AS 'MS_M6_Max',         
			   Node.value('(MS_M7_Min)[1]', 'varchar(50)') AS 'MS_M7_Min',  
			   Node.value('(MS_M7_Max )[1]', 'varchar(50)') AS 'MS_M7_Max',  
			   Node.value('(MS_M8_Min)[1]', 'varchar(50)') AS 'MS_M8_Min',  
			   Node.value('(MS_M8_Max )[1]', 'varchar(50)') AS 'MS_M8_Max',  
			   Node.value('(MS_M9_Min)[1]', 'varchar(50)') AS 'MS_M9_Min',  
			   Node.value('(MS_M9_Max )[1]', 'varchar(50)') AS 'MS_M9_Max',  
			   Node.value('(MS_M10_Min)[1]', 'varchar(50)') AS 'MS_M10_Min',  
			   Node.value('(MS_M10_Max )[1]', 'varchar(50)') AS 'MS_M10_Max'  
		         
		         
		               
			  FROM    @GradePropertyMicroMappingTable.nodes('/DocumentElement/GradePropertyMicroMappingTable') AS TEMPXML ( Node )   
			 OPEN MicroGradePropertyCursor;  
		  
			   FETCH NEXT FROM MicroGradePropertyCursor INTO   
					 @MS_Nodularity_Min ,  
					 @MS_Nodularity_Max ,  
					 @MS_Perlite_Min ,  
					 @MS_Perlite_Max ,  
					 @MS_Ferrite_Min ,  
					 @MS_Ferrite_Max ,  
					 @MS_Nodule_Count_Min ,  
					 @MS_Nodule_Count_Max ,  
					 @MS_NodulePerMMSquare_Min ,  
					 @MS_NodulePerMMSquare_Max ,  
					 @MS_M6_Min ,  
					 @MS_M6_Max ,  
					 @MS_M7_Min ,  
					 @MS_M7_Max ,  
					 @MS_M8_Min ,  
					 @MS_M8_Max ,  
					 @MS_M9_Min ,  
					 @MS_M9_Max ,  
					 @MS_M10_Min ,  
					 @MS_M10_Max   
		                    
			   WHILE ( @@FETCH_STATUS = 0 )  
				BEGIN  
		           
				 INSERT  INTO MicroStructureGradeProperty  
				   ( MetalId ,  
					 CastingId ,  
					 MS_Nodularity_Min ,  
					 MS_Nodularity_Max ,  
					 MS_Perlite_Min ,  
					 MS_Perlite_Max ,  
					 MS_Ferrite_Min ,  
					 MS_Ferrite_Max ,  
					 MS_Nodule_Count_Min ,  
					 MS_Nodule_Count_Max ,  
					 MS_NodulePerMMSquare_Min ,  
					 MS_NodulePerMMSquare_Max ,  
					 MS_M6_Min ,  
					 MS_M6_Max ,               
					 MS_M7_Min ,  
					 MS_M7_Max ,  
					 MS_M8_Min ,  
					 MS_M8_Max ,  
					 MS_M9_Min ,  
					 MS_M9_Max ,  
					 MS_M10_Min ,  
					 MS_M10_Max                            
				   )  
				 VALUES  (   
					 @GradeId,  
					 @CastingId ,  
					 @MS_Nodularity_Min ,  
					 @MS_Nodularity_Max ,  
					 @MS_Perlite_Min ,  
					 @MS_Perlite_Max ,  
					 @MS_Ferrite_Min ,  
					 @MS_Ferrite_Max ,  
					 @MS_Nodule_Count_Min ,  
					 @MS_Nodule_Count_Max ,  
					 @MS_NodulePerMMSquare_Min ,  
					 @MS_NodulePerMMSquare_Max ,               
					 @MS_M6_Min ,  
					 @MS_M6_Max ,               
					 @MS_M7_Min ,  
					 @MS_M7_Max ,  
					 @MS_M8_Min ,  
					 @MS_M8_Max ,  
					 @MS_M9_Min ,  
					 @MS_M9_Max ,  
					 @MS_M10_Min ,  
					 @MS_M10_Max   
		                       
				   )  
		           
				 FETCH NEXT FROM MicroGradePropertyCursor INTO   
					 @MS_Nodularity_Min ,  
					 @MS_Nodularity_Max ,  
					 @MS_Perlite_Min ,  
					 @MS_Perlite_Max ,  
					 @MS_Ferrite_Min ,  
					 @MS_Ferrite_Max ,  
					 @MS_Nodule_Count_Min ,  
					 @MS_Nodule_Count_Max ,  
					 @MS_NodulePerMMSquare_Min ,  
					 @MS_NodulePerMMSquare_Max ,               
					 @MS_M6_Min ,  
					 @MS_M6_Max ,               
					 @MS_M7_Min ,  
					 @MS_M7_Max ,  
					 @MS_M8_Min ,  
					 @MS_M8_Max ,  
					 @MS_M9_Min ,  
					 @MS_M9_Max ,  
					 @MS_M10_Min ,  
					 @MS_M10_Max   
				END  
		         
		            
			 CLOSE MicroGradePropertyCursor;  
			 DEALLOCATE MicroGradePropertyCursor;       
			
			-- TC Min Max Update
				delete from MetalMicroTcProperty
				Where	Metalid = @GradeId	
						and castingId = @CastingId  
						
				-- Insert  Min and Max 
				
				DECLARE MicroGradePropertyCursor CURSOR
                FOR
                    SELECT  Node.value('(MicrostructureMetalElementId)[1]',
                                       'int') AS 'MicrostructureMetalElementId' ,
                            Node.value('(TCMicroMin)[1]',
                                       'varchar(10)') AS 'TCMicroMin' ,
                            Node.value('(TCMicroMax)[1]',
                                       'varchar(10)') AS 'TCMicroMax'                                             
                    FROM    @GradePropertyMicroTCMappingTable.nodes('/DocumentElement/GradePropertyMicroTCMappingTable')
                            AS TEMPXML ( Node )	
                OPEN MicroGradePropertyCursor;

                FETCH NEXT FROM MicroGradePropertyCursor INTO @ElementId , @TCMin , @TCMax
		              
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
							
                        INSERT  INTO MetalMicroTcProperty								
								(
									MetalId,
									CastingId,
									ElementId,
									TCMin,
									TCMax
																	
                                )
                                VALUES
                                (
									@GradeId,
									@CastingId , 
									@ElementId,
									@TCMin,
									@TCMax
									
                                )
							
                        FETCH NEXT FROM MicroGradePropertyCursor INTO @ElementId , @TCMin , @TCMax
                    END
     
        
                CLOSE MicroGradePropertyCursor;
                DEALLOCATE MicroGradePropertyCursor;  
			end  
              
    --            INSERT  INTO dbo.CastingwiseGradeProperty  
    --                    ( PropertyId ,  
    --         GradeId ,  
    --                      CastingId ,  
    --                      Date ,  
    --                      EntryNo ,  
    --                      Che_Carbon_Min ,  
    --                      Che_Si_Min ,  
    --                      Che_Mg_Min ,  
    --                      Che_Mn_Min ,  
    --                      Che_S_Min ,  
    --                      Che_P_Min ,  
    --                      Che_Cr_Min ,  
    --                      Che_Ni_Min ,  
    --                      Che_Mo_Min ,  
    --                      Che_Cu_Min ,  
    --                      Che_Ti_Min ,  
    --                      Che_Al_Min ,  
    --                      Che_B_Min ,  
    --                      Che_NB_Min ,  
    --                      Che_V_Min ,  
    --                      Che_Carbon_Max ,  
    --                      Che_Si_Max ,  
    --                      Che_Mg_Max ,  
    --                      Che_Mn_Max ,  
    --                      Che_S_Max ,  
    --                      Che_P_Max ,  
    --                      Che_Cr_Max ,  
    --                      Che_Ni_Max ,  
    --                      Che_Mo_Max ,  
    --                      Che_Cu_Max ,  
    --                      Che_Ti_Max ,  
    --                      Che_Al_Max ,  
    --                      Che_B_Max ,  
    --                      Che_NB_Max ,  
    --                      Che_V_Max ,  
    --                      Me_Carbon_Min ,  
    --                      Me_Si_Min ,  
    --                      Me_Mn_Min ,  
    --                      Me_S_Min ,  
    --                      Me_Ra_Min ,  
    --                      Me_Bend_Test_Min ,  
    --                      Me_P_Min ,  
    --                      Me_Cr_Min ,  
    --                      Me_Ni_Min ,  
    --                      Me_Mo_Min ,  
    --                      Me_Cu_Min ,  
    --                      Me_Carbon_Max ,  
    --                      Me_Si_Max ,  
    --                      Me_Mn_Max ,  
    --                      Me_S_Max ,  
    --                      Me_Ra_Max ,  
    --                      Me_Bend_Test_Max ,  
    --                      Me_P_Max ,  
    --                      Me_Cr_Max ,  
    --                      Me_Ni_Max ,  
    --                      Me_Mo_Max ,  
    --                      Me_Cu_Max ,  
    --                      Che_Carbon_TV ,  
    --                      Che_Si_TV ,  
    --                      Che_Mg_TV ,  
    --                      Che_Mn_TV ,  
    --                      Che_S_TV ,  
    --                      Che_P_TV ,  
    --                      Che_Cr_TV ,  
    --                      Che_Ni_TV ,  
    --                      Che_Mo_TV ,  
    --                      Che_Cu_TV ,  
    --                      Che_Ti_TV ,  
    --                      Che_Al_TV ,  
    --                      Che_B_TV ,  
    --                      Che_NB_TV ,  
    --                      Che_V_TV ,  
    --                      Me_Carbon_TV ,  
    --                      Me_Si_TV ,  
    --                      Me_Mn_TV ,  
    --                      Me_S_TV ,  
    --                      Me_Ra_TV ,  
    --                      Me_Bend_Test_TV ,  
    --                      Me_P_TV ,  
    --                      Me_Cr_TV ,  
    --                      Me_Ni_TV ,  
    --                      Me_Mo_TV ,  
    --                      CreatedBy ,  
    --                      CreatedOn ,  
    --                      ModifiedBy ,  
    --                      ModifiedOn ,  
    --                      IsDeleted ,  
    --                      EntityID  
    --                    )  
    --            VALUES  ( NEWID() , -- PropertyId - uniqueidentifier  
    --                      @GradeId , -- GradeId - bigint  
    --                      @CastingId , -- CastingId - uniqueidentifier  
    --                      @Date , -- Date - datetime  
    --                      @EntryNo , -- EntryNo - varchar(50)  
    --                      @Che_Carbon_Min ,  
    --                @Che_Si_Min ,  
    --                      @Che_Mg_Min ,  
    --                      @Che_Mn_Min ,  
    --                      @Che_S_Min ,  
    --                      @Che_P_Min ,  
    --                      @Che_Cr_Min ,  
    --                      @Che_Ni_Min ,  
    --                      @Che_Mo_Min ,  
    --                      @Che_Cu_Min ,  
    --                      @Che_Ti_Min ,  
    --                      @Che_Al_Min ,  
    --                      @Che_B_Min ,  
    --                      @Che_NB_Min ,  
    --                      @Che_V_Min ,  
    --                      @Che_Carbon_Max ,  
    --                      @Che_Si_Max ,  
    --                      @Che_Mg_Max ,  
    --                      @Che_Mn_Max ,  
    --                      @Che_S_Max ,  
    --                      @Che_P_Max ,  
    --                      @Che_Cr_Max ,  
    --                      @Che_Ni_Max ,  
    --                      @Che_Mo_Max ,  
    --                      @Che_Cu_Max ,  
    --                      @Che_Ti_Max ,  
    --                      @Che_Al_Max ,  
    --                      @Che_B_Max ,  
    --                      @Che_NB_Max ,  
    --                      @Che_V_Max ,  
    --                      @Me_Carbon_Min ,  
    --                      @Me_Si_Min ,  
    --                      @Me_Mn_Min ,  
    --                      @Me_S_Min ,  
    --                      @Me_Ra_Min ,  
    --                      @Me_Bend_Test_Min ,  
    --                      @Me_P_Min ,  
    --                      @Me_Cr_Min ,  
    --                      @Me_Ni_Min ,  
    --                      @Me_Mo_Min ,  
    --                      @Me_Cu_Min ,  
    --                      @Me_Carbon_Max ,  
    --                      @Me_Si_Max ,  
    --                      @Me_Mn_Max ,  
    --                      @Me_S_Max ,  
    --                      @Me_Ra_Max ,  
    --                      @Me_Bend_Test_Max ,  
    --                      @Me_P_Max ,  
    --                      @Me_Cr_Max ,  
    --                      @Me_Ni_Max ,  
    --                      @Me_Mo_Max ,  
    --                      @Me_Cu_Max ,  
    --                      @Che_Carbon_TV ,  
    --                      @Che_Si_TV ,  
    --                      @Che_Mg_TV ,  
    --                      @Che_Mn_TV ,  
    --                      @Che_S_TV ,  
    --                      @Che_P_TV ,  
    --                      @Che_Cr_TV ,  
    --                      @Che_Ni_TV ,  
    --                      @Che_Mo_TV ,  
    --                      @Che_Cu_TV ,  
    --                      @Che_Ti_TV ,  
    --                      @Che_Al_TV ,  
    --                      @Che_B_TV ,  
    --                      @Che_NB_TV ,  
    --                      @Che_V_TV ,  
    --                      @Me_Carbon_TV ,  
    --                      @Me_Si_TV ,  
    --                      @Me_Mn_TV ,  
    --                      @Me_S_TV ,  
    --                      @Me_Ra_TV ,  
    --                      @Me_Bend_Test_TV ,  
    --                      @Me_P_TV ,  
    --                      @Me_Cr_TV ,  
    --                      @Me_Ni_TV ,  
    --                      @Me_Mo_TV ,  
    --                      @CreatedBy ,  
    --                      @CreatedOn ,  
    --                      @ModifiedBy ,  
    --                      @ModifiedOn ,  
    --                      @IsDeleted ,  
    --                      @EntityID  
    --                    )  
                        
    --            delete from MetalGradeProperty where MetalId = @GradeId and CastingID = @CastingId  
                    
    --DECLARE MetalGradeCursor CURSOR  
    --   FOR  
    --    SELECT    
    --     Node.value('(MetalElementId )[1]', 'uniqueidentifier') AS 'MetalElementId',  
    --     Node.value('(Minimum )[1]', 'varchar(50)') AS 'Minimum',  
    --     Node.value('(Maximum )[1]', 'varchar(50)') AS 'Maximum',  
    --     Node.value('(Type )[1]', 'int') AS 'Type'         
    --    FROM    @MetalGradeMappingTable.nodes('/DocumentElement/MetalGradeMappingTable') AS TEMPXML ( Node )   
    --   OPEN MetalGradeCursor;  
  
    --   FETCH NEXT FROM MetalGradeCursor INTO @MetalElementId,@minimum,@maximum,@metaltype  
                    
    --   WHILE ( @@FETCH_STATUS = 0 )  
    --    BEGIN  
           
    --     insert into MetalGradeProperty  
    --     (  
    --      MetalGradeId,  
    --      MetalElementId,  
    --      MetalId,  
    --      CastingID,  
    --      Minimum,  
    --      Maximum,  
    --      MetalType  
    --     )  
    --     values   
    --     (  
    --      NEWID(),  
    --      @MetalElementId,  
    --      @GradeId,  
    --      @CastingId,  
    --      @minimum,  
    --      @maximum,  
    --      @metaltype  
    --     )  
           
    --     FETCH NEXT FROM MetalGradeCursor INTO @MetalElementId,@minimum,@maximum,@metaltype  
    --    END  
                 
                    
    --CLOSE MetalGradeCursor;  
    --DEALLOCATE MetalGradeCursor;  
             return 1
            END  
        IF @Parameter = 6  
            BEGIN  
                 
               if (@CastingId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))  
               begin  
                SELECT   
                        
                        ElementMaster.ElementName as Name,
                        MinValue as minimum,
                        MaxValue as Maximum,  
                        CONVERT(VARCHAR(60), Effectivedate, 113) AS Effective_date,
                        TCMin as TCMin,
                        TCMax as TCMax ,
                        Metalid ,
                        CastingwiseMetalProperty.ElementID as ChemicalMetalElementId,
                        ElementMaster.IsEquation
                FROM    dbo.CastingwiseMetalProperty 
                INNER JOIN ElementMaster on CastingwiseMetalProperty.elementid = ElementMaster.ElementId 
                WHERE   CastingId = @CastingId and MetalId = @GradeId  
              --  order by ElementMaster.ElementId  
              order by ElementMaster.Srno 
                
                 SELECT   
                        
                        MechElementMaster.ElementName as Name,
                        MinValue as minimum,
                        MaxValue as Maximum,  
                        CONVERT(VARCHAR(60), Effectivedate, 113) AS Effective_date ,
                        TCMin as TCMin,
                        TCMax as TCMax ,
                        Metalid ,
                        CastingwiseMetalMechProperty.ElementID as MechanicalMetalElementId
                FROM    dbo.CastingwiseMetalMechProperty 
                INNER JOIN MechElementMaster on CastingwiseMetalMechProperty.elementid = MechElementMaster.ElementId 
                WHERE   CastingId = @CastingId and MetalId = @GradeId  
                order by MechElementMaster.SequenceNo 
                
                
                END  
                ELSE  
                BEGIN  
                  
              --  select * from GradeProperty  
              --  select * from CastingwiseGradeProperty  
     SELECT				
                        ElementMaster.ElementName as Name,
                        MinValue as minimum,
                        MaxValue as Maximum,  
                        CONVERT(VARCHAR(60), Effectivedate, 113) AS Effective_date ,
                        TCMin as TCMin,
                        TCMax as TCMax ,
                        Metalid ,
                        MetalProperty.ElementID as ChemicalMetalElementId,
                        ElementMaster.IsEquation
			
                FROM    dbo.MetalProperty  
                 INNER JOIN ElementMaster on MetalProperty.elementid = ElementMaster.ElementId 
                WHERE   Metalid = @GradeId  
               -- order by ElementMaster.ElementId  
               order by ElementMaster.Srno 
                
                 SELECT				
                        MechElementMaster.ElementName as Name,
                        MinValue as minimum,
                        MaxValue as Maximum,  
                        CONVERT(VARCHAR(60), Effectivedate, 113) AS Effective_date ,
                        TCMin as TCMin,
                        TCMax as TCMax ,
                        Metalid ,
                        MetalMechProperty.ElementID as MechanicalMetalElementId
 
                FROM    dbo.MetalMechProperty  
                 INNER JOIN MechElementMaster on MetalMechProperty.elementid = MechElementMaster.ElementId 
                WHERE   Metalid = @GradeId  
               -- order by MechElementMaster.ElementId  
               order by MechElementMaster.SequenceNo 
                  
                END  
                 
                --SELECT  PropertyId ,  
                --        GradeId ,  
                --        Date ,  
                --        Che_Carbon_Min ,  
                --        Che_Si_Min ,  
                --        Che_Mg_Min ,  
                --        Che_Mn_Min ,  
                --        Che_S_Min ,  
                --        Che_P_Min ,  
                --        Che_Cr_Min ,  
                --        Che_Ni_Min ,  
                --        Che_Mo_Min ,  
                --        Che_Cu_Min ,  
                --        Che_Ti_Min ,  
                --        Che_Al_Min ,  
                --        Che_B_Min ,  
                --        Che_NB_Min ,  
                --        Che_V_Min ,  
                --        Che_Carbon_Max ,  
                --        Che_Si_Max ,  
                --        Che_Mg_Max ,  
                --       Che_Mn_Max ,  
                --        Che_S_Max ,  
                --        Che_P_Max ,  
                --        Che_Cr_Max ,  
                --        Che_Ni_Max ,  
                --        Che_Mo_Max ,  
                --        Che_Cu_Max ,  
                --        Che_Ti_Max ,  
                --        Che_Al_Max ,  
                --        Che_B_Max ,  
                --        Che_NB_Max ,  
                --        Che_V_Max ,  
                --        Me_Carbon_Min ,  
                --        Me_Si_Min ,  
                --        Me_Mn_Min ,  
                --        Me_S_Min ,  
                --        Me_Ra_Min ,  
                --        Me_Bend_Test_Min ,  
                --        Me_P_Min ,  
                --        Me_Cr_Min ,  
                --        Me_Ni_Min ,  
                --        Me_Mo_Min ,  
                --        Me_Cu_Min ,  
                --        Me_Carbon_Max ,  
                --        Me_Si_Max ,  
                --        Me_Mn_Max ,  
                --        Me_S_Max ,  
                --        Me_Ra_Max ,  
                --        Me_Bend_Test_Max ,  
                --        Me_P_Max ,  
                --        Me_Cr_Max ,  
                --        Me_Ni_Max ,  
                --        Me_Mo_Max ,  
                --        Me_Cu_Max ,  
                --        Che_Carbon_TV ,  
                --        Che_Si_TV ,  
                --        Che_Mg_TV ,  
                --        Che_Mn_TV ,  
                --        Che_S_TV ,  
                --        Che_P_TV ,  
                --        Che_Cr_TV ,  
                --        Che_Ni_TV ,  
                --        Che_Mo_TV ,  
                --        Che_Cu_TV ,  
                --        Che_Ti_TV ,  
                --        Che_Al_TV ,  
                --        Che_B_TV ,  
                --        Che_NB_TV ,  
                --        Che_V_TV ,  
                --        Me_Carbon_TV ,  
                --        Me_Si_TV ,  
                --        Me_Mn_TV ,  
                --        Me_S_TV ,  
                --        Me_Ra_TV ,  
                --        Me_Bend_Test_TV ,  
                --        Me_P_TV ,  
                --        Me_Cr_TV ,  
                --        Me_Ni_TV ,  
                --        Me_Mo_TV,  
                --        CONVERT(VARCHAR(60), Effective_date, 113) AS Effective_date ,  
                --        EntryNo  
                --FROM    dbo.CastingwiseGradeProperty  
                --WHERE   CastingId = @CastingId and GradeId = @GradeId  
                --order by EntryNo  
            END  
              
        IF @Parameter = 7  
            BEGIN 
            Begin transaction 
            if(Cast(@Date  as DATE) >= isnull((Select top 1 CAST(EffectiveDate as DATE) from CastingWiseMetalPropertyHistory 
										Where CastingId = @CastingId and Metalid = @GradeId 
										Order by CAST(EffectiveDate as DATE) desc),DATEADD(day,-1,Cast(@Date  as DATE))))
             BEGIN
				Update CastingWiseMetalProperty set EffectiveDate = @Date
				Where CastingId = @CastingId and Metalid = @GradeId 
		     END
			Else BEGIN
				rollBack transaction;
				Return -2;
		     END
		     
		     if(Cast(@Date  as DATE) >= isnull((Select top 1 CAST(EffectiveDate as DATE) from CastingWiseMetalMechPropertyHistory 
										Where CastingId = @CastingId and Metalid = @GradeId 
										Order by CAST(EffectiveDate as DATE) desc),DATEADD(day,-1,Cast(@Date  as DATE))))
             
			 BEGIN	
				Update CastingWiseMetalMechProperty set EffectiveDate = @Date
				Where CastingId = @CastingId and Metalid = @GradeId 
			 END 
			 Else
		     BEGIN
				rollBack transaction;
				Return -2;
		     END
		      
            IF (@IsUpdateGradeProperty = 0)  
            Begin  
				
				INSERT INTO CastingwiseMetalPropertyHistory (CastingId,MetalId,ElementId,MinValue,MaxValue,EffectiveDate , TCMin , TCMax) SELECT CastingId, MetalId,ElementId,MinValue,MaxValue,EffectiveDate, TCMin , TCMax FROM CastingwiseMetalProperty where CastingId = @CastingId and Metalid=@GradeId;  
						
                       
		  delete from CastingwiseMetalProperty where CastingId = @CastingId and Metalid = @GradeId   
     --and CastingID is null  
                    DECLARE GradePropertyCursor CURSOR
                        FOR
                            SELECT  Node.value('(MetalElementId )[1]',
                                               'int') AS 'MetalElementId' ,
                                    Node.value('(Minimum )[1]',
                                               'varchar(10)') AS 'Minimum' ,
                                    Node.value('(Maximum )[1]',
                                               'varchar(10)') AS 'Maximum'  ,
                                    Node.value('(TCMinimum )[1]',
                                               'varchar(10)') AS 'TCMinimum' ,
                                    Node.value('(TCMaximum )[1]',
                                               'varchar(10)') AS 'TCMaximum'                                             
                            FROM    @MetalGradeMappingTable.nodes('/DocumentElement/MetalGradeMappingTable')
                                    AS TEMPXML ( Node )	
                        OPEN GradePropertyCursor;

                        FETCH NEXT FROM GradePropertyCursor INTO @ElementId , @Minimum , @Maximum , @TCMin , @TCMax
				              
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
									
                                INSERT  INTO CastingwiseMetalProperty								
										(
											CastingId,
											MetalId,
											ElementId,
											MinValue,
											MaxValue,
											EffectiveDate,
											TCMin,
											TCMax
																			
                                        )
                                        VALUES
                                        (
											@CastingId,
											@GradeId,
											@ElementId,
											@Minimum,
											@Maximum,
											@Date,
											@TCMin,
											@TCMax
											
                                        )
									
                                FETCH NEXT FROM GradePropertyCursor INTO @ElementId , @Minimum , @Maximum , @TCMin , @TCMax
                            END
		     
		        
                        CLOSE GradePropertyCursor;
                        DEALLOCATE GradePropertyCursor;      

            END  
            
		     
             IF ( @IsUpdateMechGradeProperty = 0 )              
                    BEGIN              
                          
								INSERT INTO CastingWiseMetalMechPropertyHistory (CastingId, MetalId,ElementId,MinValue,MaxValue,EffectiveDate , TCMin , TCMax) SELECT CastingId, MetalId,ElementId,MinValue,MaxValue,EffectiveDate , TCMin , TCMax FROM CastingWiseMetalMechProperty where CastingId=@CastingId and MetaliD=@GradeId;  
						
								DELETE  FROM CastingWiseMetalMechProperty              
								WHERE   CastingId = @CastingId and MetalId = @GradeId               
						
							
                                  
                        DECLARE GradeMechPropertyCursor CURSOR
                        FOR
                            SELECT  Node.value('(MetalElementId )[1]',
                                               'int') AS 'MetalElementId' ,
                                    Node.value('(Minimum )[1]',
                                               'varchar(10)') AS 'Minimum' ,
                                    Node.value('(Maximum )[1]',
                                               'varchar(10)') AS 'Maximum' ,
                                    Node.value('(TCMinimum )[1]',
                                               'varchar(10)') AS 'TCMinimum' ,
                                    Node.value('(TCMaximum )[1]',
                                               'varchar(10)') AS 'TCMaximum'                                             
                            FROM    @GradePropertyMechMappingTable.nodes('/DocumentElement/GradePropertyMechMappingTable')
                                    AS TEMPXML ( Node )	
                        OPEN GradeMechPropertyCursor;

                        FETCH NEXT FROM GradeMechPropertyCursor INTO @ElementId , @Minimum , @Maximum , @TCMin , @TCMax
				              
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
									
                                INSERT  INTO CastingWiseMetalMechProperty								
										(
											CastingID,
											MetalId,
											ElementId,
											MinValue,
											MaxValue,
											EffectiveDate,
											TCMin,
											TCMax
																			
                                        )
                                        VALUES
                                        (
                                        @CastingId,
											@GradeId,
											@ElementId,
											@Minimum,
											@Maximum,
											@Date,
											@TCMin , 
											@TCMax
											
                                        )
									
                                FETCH NEXT FROM GradeMechPropertyCursor INTO @ElementId , @Minimum , @Maximum , @TCMin , @TCMax
                            END
		     
		        
                        CLOSE GradeMechPropertyCursor;
                        DEALLOCATE GradeMechPropertyCursor;             
                              
              
                    END  
					
   IF (@IsUpdateGradePropertyMicro = 0)  
    Begin  
              
     delete from MicroStructureGradeProperty where MetalId = @GradeId  and CastingId = @CastingId  
     --and CastingID is null  
                      
     DECLARE MicroGradePropertyCursor CURSOR  
      FOR  
      SELECT         
       Node.value('(MS_Nodularity_Min)[1]', 'varchar(50)') AS 'MS_Nodularity_Min',  
       Node.value('(MS_Nodularity_Max )[1]', 'varchar(50)') AS 'MS_Nodularity_Max',  
       Node.value('(MS_Perlite_Min )[1]', 'varchar(50)') AS 'MS_Perlite_Min',  
       Node.value('(MS_Perlite_Max )[1]', 'varchar(50)') AS 'MS_Perlite_Max',  
       Node.value('(MS_Ferrite_Min )[1]', 'varchar(50)') AS 'MS_Ferrite_Min',  
       Node.value('(MS_Ferrite_Max )[1]', 'varchar(50)') AS 'MS_Ferrite_Max',  
       Node.value('(MS_Nodule_Count_Min )[1]', 'varchar(50)') AS 'MS_Nodule_Count_Min',  
       Node.value('(MS_Nodule_Count_Max )[1]', 'varchar(50)') AS 'MS_Nodule_Count_Max',  
       Node.value('(MS_NodulePerMMSquare_Min )[1]', 'varchar(50)') AS 'MS_NodulePerMMSquare_Min',  
       Node.value('(MS_NodulePerMMSquare_Max )[1]', 'varchar(50)') AS 'MS_NodulePerMMSquare_Max',         
       Node.value('(MS_M6_Min)[1]', 'varchar(50)') AS 'MS_M6_Min',  
       Node.value('(MS_M6_Max )[1]', 'varchar(50)') AS 'MS_M6_Max',         
       Node.value('(MS_M7_Min)[1]', 'varchar(50)') AS 'MS_M7_Min',  
       Node.value('(MS_M7_Max )[1]', 'varchar(50)') AS 'MS_M7_Max',  
       Node.value('(MS_M8_Min)[1]', 'varchar(50)') AS 'MS_M8_Min',  
       Node.value('(MS_M8_Max )[1]', 'varchar(50)') AS 'MS_M8_Max',  
       Node.value('(MS_M9_Min)[1]', 'varchar(50)') AS 'MS_M9_Min',  
       Node.value('(MS_M9_Max )[1]', 'varchar(50)') AS 'MS_M9_Max',  
       Node.value('(MS_M10_Min)[1]', 'varchar(50)') AS 'MS_M10_Min',  
       Node.value('(MS_M10_Max )[1]', 'varchar(50)') AS 'MS_M10_Max'  
         
         
               
      FROM    @GradePropertyMicroMappingTable.nodes('/DocumentElement/GradePropertyMicroMappingTable') AS TEMPXML ( Node )   
     OPEN MicroGradePropertyCursor;  
  
       FETCH NEXT FROM MicroGradePropertyCursor INTO   
             @MS_Nodularity_Min ,  
             @MS_Nodularity_Max ,  
             @MS_Perlite_Min ,  
             @MS_Perlite_Max ,  
             @MS_Ferrite_Min ,  
             @MS_Ferrite_Max ,  
             @MS_Nodule_Count_Min ,  
             @MS_Nodule_Count_Max ,  
             @MS_NodulePerMMSquare_Min ,  
             @MS_NodulePerMMSquare_Max ,  
             @MS_M6_Min ,  
             @MS_M6_Max ,  
             @MS_M7_Min ,  
             @MS_M7_Max ,  
             @MS_M8_Min ,  
             @MS_M8_Max ,  
             @MS_M9_Min ,  
             @MS_M9_Max ,  
             @MS_M10_Min ,  
             @MS_M10_Max   
                    
       WHILE ( @@FETCH_STATUS = 0 )  
        BEGIN  
           
         INSERT  INTO MicroStructureGradeProperty  
           ( MetalId ,  
             CastingId ,  
             MS_Nodularity_Min ,  
             MS_Nodularity_Max ,  
             MS_Perlite_Min ,  
             MS_Perlite_Max ,  
             MS_Ferrite_Min ,  
             MS_Ferrite_Max ,  
             MS_Nodule_Count_Min ,  
             MS_Nodule_Count_Max ,  
             MS_NodulePerMMSquare_Min ,  
             MS_NodulePerMMSquare_Max ,  
             MS_M6_Min ,  
             MS_M6_Max ,               
             MS_M7_Min ,  
             MS_M7_Max ,  
             MS_M8_Min ,  
             MS_M8_Max ,  
             MS_M9_Min ,  
             MS_M9_Max ,  
             MS_M10_Min ,  
             MS_M10_Max                            
           )  
         VALUES  (   
             @GradeId,  
             @CastingId ,  
             @MS_Nodularity_Min ,  
             @MS_Nodularity_Max ,  
             @MS_Perlite_Min ,  
             @MS_Perlite_Max ,  
             @MS_Ferrite_Min ,  
             @MS_Ferrite_Max ,  
             @MS_Nodule_Count_Min ,  
             @MS_Nodule_Count_Max ,  
             @MS_NodulePerMMSquare_Min ,  
             @MS_NodulePerMMSquare_Max ,               
             @MS_M6_Min ,  
             @MS_M6_Max ,               
             @MS_M7_Min ,  
             @MS_M7_Max ,  
             @MS_M8_Min ,  
             @MS_M8_Max ,  
             @MS_M9_Min ,  
             @MS_M9_Max ,  
             @MS_M10_Min ,  
             @MS_M10_Max   
                       
           )  
           
         FETCH NEXT FROM MicroGradePropertyCursor INTO   
             @MS_Nodularity_Min ,  
             @MS_Nodularity_Max ,  
             @MS_Perlite_Min ,  
             @MS_Perlite_Max ,  
             @MS_Ferrite_Min ,  
             @MS_Ferrite_Max ,  
             @MS_Nodule_Count_Min ,  
             @MS_Nodule_Count_Max ,  
             @MS_NodulePerMMSquare_Min ,  
             @MS_NodulePerMMSquare_Max ,               
             @MS_M6_Min ,  
             @MS_M6_Max ,               
             @MS_M7_Min ,  
             @MS_M7_Max ,  
             @MS_M8_Min ,  
             @MS_M8_Max ,  
             @MS_M9_Min ,  
             @MS_M9_Max ,  
             @MS_M10_Min ,  
             @MS_M10_Max   
        END  
         
            
     CLOSE MicroGradePropertyCursor;  
     DEALLOCATE MicroGradePropertyCursor;       
            
        -- TC Min Max Update
		delete from MetalMicroTcProperty
		Where	Metalid = @GradeId	
				and castingId = @CastingId  
				
		-- Insert  Min and Max 
		
		DECLARE MicroGradePropertyCursor CURSOR
        FOR
            SELECT  Node.value('(MicrostructureMetalElementId)[1]',
                               'int') AS 'MicrostructureMetalElementId' ,
                    Node.value('(TCMicroMin)[1]',
                               'varchar(10)') AS 'TCMicroMin' ,
                    Node.value('(TCMicroMax)[1]',
                               'varchar(10)') AS 'TCMicroMax'                                             
            FROM    @GradePropertyMicroTCMappingTable.nodes('/DocumentElement/GradePropertyMicroTCMappingTable')
                    AS TEMPXML ( Node )	
        OPEN MicroGradePropertyCursor;

        FETCH NEXT FROM MicroGradePropertyCursor INTO @ElementId , @TCMin , @TCMax
              
        WHILE ( @@FETCH_STATUS = 0 )
            BEGIN
					
                INSERT  INTO MetalMicroTcProperty								
						(
							MetalId,
							CastingId,
							ElementId,
							TCMin,
							TCMax
															
                        )
                        VALUES
                        (
							@GradeId,
							@CastingId , 
							@ElementId,
							@TCMin,
							@TCMax
							
                        )
					
                FETCH NEXT FROM MicroGradePropertyCursor INTO @ElementId , @TCMin , @TCMax
            END


        CLOSE MicroGradePropertyCursor;
        DEALLOCATE MicroGradePropertyCursor;  
    end  
              
              
              
              
			commit transaction
			return 1
            END   
         
  IF @Parameter = 8 -- Fetch Record as per Metal Id and Casting ID  
            BEGIN     
   select   
    MGP.MetalElementId,MEM.Name,MGP.Minimum,MGP.Maximum,MGP.MetalType,MGP.MetalGradeId,MGP.MetalId   
   from MetalGradeProperty as MGP  
   INNER JOIN MetalElementMaster as MEM On MEM.MetalElementId = MGP.MetalElementId  
   where MGP.MetalId = @MetalId AND MGP.MetalType = @MetalType And MGP.CastingID = @CastingId  
   order by MEM.Code   
        END  
          
        IF @Parameter = 9-- Fetch Grade Property Columns  
        BEGIN     
   select top 1 * from CastingwiseGradeProperty  
        END        
             
        IF @Parameter = 10  
            BEGIN  
                SELECT  CastingMaster.CastingName,CastingMaster.CastingCode,MetalMaster.MetalName ,Che_Carbon_Min ,  
                        Che_Si_Min ,  
                        Che_Mg_Min ,  
                        Che_Mn_Min ,  
                        Che_S_Min ,  
                        Che_P_Min ,  
                        Che_Cr_Min ,  
                        Che_Ni_Min ,  
                        Che_Mo_Min ,  
                        Che_Cu_Min ,  
                        Che_Ti_Min ,  
                        Che_Al_Min ,  
                        Che_B_Min ,  
                        Che_NB_Min ,  
                        Che_V_Min ,  
                        Che_Carbon_Max ,  
                        Che_Si_Max ,  
                        Che_Mg_Max ,  
                        Che_Mn_Max ,  
                        Che_S_Max ,  
                        Che_P_Max ,  
                        Che_Cr_Max ,  
                        Che_Ni_Max ,  
                        Che_Mo_Max ,  
                        Che_Cu_Max ,  
                        Che_Ti_Max ,  
                        Che_Al_Max ,  
                        Che_B_Max ,  
                        Che_NB_Max ,  
                        Che_V_Max  
                        , (EntryNo-1) AS EntryNo
                FROM    CastingwiseGradeProperty  
      inner join CastingMaster on CastingMaster.CastingId = CastingwiseGradeProperty.CastingId  
      inner join MetalMaster on MetalMaster.MetalId = CastingwiseGradeProperty.GradeId  
                WHERE   (@MetalId = 0 or GradeId = @MetalId )  
                        AND (@CastingId is null or CastingwiseGradeProperty.CastingId = @CastingId)  
                        AND (@CastingName is null or CastingMaster.CastingName = @CastingName)     
                        AND ( @CustomerID IS NULL      
      --OR CastingMaster.CastingID IN (      
      --SELECT    CastingID      
      --FROM      CastingMaster ,      
      -- CustomerDieMapping      
      --WHERE     CastingMaster.DieiD = CustomerDieMapping.DieiD      
      -- AND CustomerDieMapping.CustomerId = @CustomerId )      
      OR CastingMaster.CastingID IN (      
      SELECT    CastingID      
      FROM      CastingMaster ,      
       dbo.CustomerPatternMapping      
      WHERE     CastingMaster.DieiD = CustomerPatternMapping.PatternId      
       AND CustomerPatternMapping.CustomerId = @CustomerId )      
    )   
                ORDER BY CastingwiseGradeProperty.CastingId,GradeId, EntryNo   
            END  
              
        IF @Parameter = 11  
            BEGIN  
                SELECT  CastingMaster.CastingName,CastingMaster.CastingCode,MetalMaster.MetalName ,Me_Carbon_Min ,  
                        Me_Si_Min ,  
                        Me_Mn_Min ,  
                        Me_S_Min ,  
                        Me_Ra_Min ,  
                        Me_P_Min ,  
                        Me_Cr_Min ,  
                        Me_Ni_Min ,  
                        Me_Mo_Min ,  
                        Me_Cu_Min ,  
                        Me_Carbon_Max ,  
                        Me_Si_Max ,  
                        Me_Mn_Max ,  
                        Me_S_Max ,  
                        Me_Ra_Max ,  
                        Me_P_Max ,  
                        Me_Cr_Max ,  
                        Me_Ni_Max ,  
                        Me_Mo_Max ,  
                        Me_Cu_Max  
                        , (EntryNo-1) AS EntryNo
                FROM    CastingwiseGradeProperty  
      inner join CastingMaster on CastingMaster.CastingId = CastingwiseGradeProperty.CastingId  
      inner join MetalMaster on MetalMaster.MetalId = CastingwiseGradeProperty.GradeId  
               where (@MetalId = 0 or GradeId = @MetalId )  
                        AND (@CastingId is null or CastingwiseGradeProperty.CastingId = @CastingId)  
                         AND (@CastingName is null or CastingMaster.CastingName = @CastingName)                          
                        AND ( @CustomerID IS NULL      
        --OR CastingMaster.CastingID IN (      
        --SELECT    CastingID      
        --FROM      CastingMaster ,      
        -- CustomerDieMapping      
        --WHERE     CastingMaster.DieiD = CustomerDieMapping.DieiD      
        -- AND CustomerDieMapping.CustomerId = @CustomerId )      
        OR CastingMaster.CastingID IN (      
        SELECT    CastingID      
        FROM      CastingMaster ,      
         dbo.CustomerPatternMapping      
        WHERE     CastingMaster.DieiD = CustomerPatternMapping.PatternId      
         AND CustomerPatternMapping.CustomerId = @CustomerId )      
      )   
                ORDER BY CastingwiseGradeProperty.CastingId,GradeId, EntryNo   
            END  
         
   
        IF @Parameter = 13      
            BEGIN      
         
               SELECT DISTINCT      
                        MetalName ,      
                        CastingMetal.MetalID    
                        , IsProductionGrade    
                FROM    dbo.CastingMetal       
                       inner join MetalMaster   on  MetalMaster.MetalId = CastingMetal.metalid  
                WHERE     
                         MetalMaster.IsDeleted = 0   
                         and CastingMetal.IsDeleted = 0  
                         and IsProductionGrade = 0     
                       AND (@CastingID is null or CastingID = @CastingID  )   
                        AND (@MetalId = 0 or CastingMetal.metalid = @MetalId  )  
                        and MetalMaster.EntityID = @EntityID   
                ORDER BY MetalName  
                    
             END 
        IF @Parameter = 14
			BEGIN
				SELECT DISTINCT CastingMaster.CastingId, CastingMaster.CastingCode FROM CastingwiseGradeProperty INNER JOIN CastingMaster ON CastingMaster.CastingId = CastingwiseGradeProperty.CastingId
				UNION
				SELECT DISTINCT CastingMaster.CastingId, CastingMaster.CastingCode FROM MicroStructureGradeProperty INNER JOIN CastingMaster ON CastingMaster.CastingId = MicroStructureGradeProperty.CastingId
				ORDER BY CastingCode
			END  
			
		IF @Parameter = 15  
            BEGIN  
                SELECT  PropertyId ,  
                        GradeId ,  
                        Date ,  
                        Che_Carbon_Min ,  
                        Che_Si_Min ,  
                        Che_Mg_Min ,  
                        Che_Mn_Min ,  
                        Che_S_Min ,  
                        Che_P_Min ,  
                        Che_Cr_Min ,  
                        Che_Ni_Min ,  
                        Che_Mo_Min ,  
                        Che_Cu_Min ,  
                        Che_Ti_Min ,  
                        Che_Al_Min ,  
                        Che_B_Min ,  
                        Che_NB_Min ,  
                        Che_V_Min ,  
                        Che_Carbon_Max ,  
                        Che_Si_Max ,  
                        Che_Mg_Max ,  
                        Che_Mn_Max ,  
                        Che_S_Max ,  
                        Che_P_Max ,  
                        Che_Cr_Max ,  
                        Che_Ni_Max ,  
                        Che_Mo_Max ,  
                        Che_Cu_Max ,  
                        Che_Ti_Max ,  
                        Che_Al_Max ,  
                        Che_B_Max ,  
                        Che_NB_Max ,  
                        Che_V_Max ,  
                        Me_Carbon_Min ,  
                        Me_Si_Min ,  
                        Me_Mn_Min ,  
                        Me_S_Min ,  
                        Me_Ra_Min ,  
                        Me_Bend_Test_Min ,  
                        Me_P_Min ,  
                        Me_Cr_Min ,  
                        Me_Ni_Min ,  
                        Me_Mo_Min ,  
                        Me_Cu_Min ,  
                        Me_Carbon_Max ,  
                        Me_Si_Max ,  
                        Me_Mn_Max ,  
                        Me_S_Max ,  
                        Me_Ra_Max ,  
                        Me_Bend_Test_Max ,  
                        Me_P_Max ,  
                        Me_Cr_Max ,  
                        Me_Ni_Max ,  
                        Me_Mo_Max ,  
                        Me_Cu_Max ,  
                        Che_Carbon_TV ,  
                        Che_Si_TV ,  
                        Che_Mg_TV ,  
                        Che_Mn_TV ,  
                        Che_S_TV ,  
                        Che_P_TV ,  
                        Che_Cr_TV ,  
                        Che_Ni_TV ,  
                        Che_Mo_TV ,  
                        Che_Cu_TV ,  
                        Che_Ti_TV ,  
                        Che_Al_TV ,  
                        Che_B_TV ,  
                        Che_NB_TV ,  
                        Che_V_TV ,  
                        Me_Carbon_TV ,  
                        Me_Si_TV ,  
                        Me_Mn_TV ,  
                        Me_S_TV ,  
						Me_Ra_TV ,  
                        Me_Bend_Test_TV ,  
                        Me_P_TV ,  
                        Me_Cr_TV ,  
                        Me_Ni_TV ,  
                        Me_Mo_TV,  
                        CONVERT(VARCHAR(60), Effective_date, 113) AS Effective_date ,  
                        EntryNo  
                FROM    dbo.CastingwiseGradeProperty  
                WHERE   CastingId = @CastingId
                order by EntryNo    
            END   
     
      
              
    END  
GO
