USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchPurchaseItemTerrifCode]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchPurchaseItemTerrifCode]
	-- Add the parameters for the stored procedure here
	@PurchaseItemId UNIQUEIDENTIFIER = NULL,
	@ItemName VARCHAR(50)=NULL,
	@ItemType VARCHAR(50)=NULL,
	@SupplierId  UNIQUEIDENTIFIER = NULL,
	@PendingAllocation BIT = 0 ,  
	@EntityID bigint = 0
AS
BEGIN
	SELECT  ROW_NUMBER() OVER ( ORDER BY ItemName ASC ) AS SrNo ,
                    PurchaseItemMaster.PurchaseItemId ,
                    ItemCode ,
                    PurchaseItemMaster.ItemName ,
                    PurchaseItemMaster.ItemType ,
                    TariffCode
      FROM    PurchaseItemMaster
              INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
      where PurchaseItemMaster.IsDeleted=0
      AND (@PurchaseItemId IS NULL
                      OR PurchaseItemMaster.PurchaseItemId = @PurchaseItemId)
                      AND ( @ItemName IS NULL
                          OR ItemName = @ItemName
                        )
                         AND ( @ItemType IS NULL
                          OR ItemType = @ItemType
                        )
                         AND ( @SupplierId IS NULL
                          OR PurchaseItemMaster.PurchaseItemId IN ( SELECT  PurchaseItemId
                                        FROM    dbo.CustomerPurchaseitemMappping
                                        WHERE   CustomerId = @SupplierId
                                                AND CustomerPurchaseitemMappping.IsDeleted = 0 )
                        )
                        AND PurchaseCompanyMapping.CompanyId = @EntityID
 
				   AND   ( @PendingAllocation = 0              
                              OR TariffCode IS NULL 
                              Or TariffCode = ''             
                            )   
                            AND PurchaseItemMaster.IsPattern = 0 
							
      
      --select * from CustomerPurchaseitemMappping
               
END
GO
