USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Employee_ESISummaryReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Employee_ESISummaryReport]
   @Parameter INT = 0 ,    
@EmployeeId int=0,
@EmployeeName varchar(100)=null,
@EmployeeCode nvarchar(50)=null,
@isActive bit=null, 
@isFilterActiveFlag INT = 0,
@IsDummy int=0,
@SysDepartmentID uniqueidentifier = null,
@CardNo VARCHAR(50) = NULL ,
@ShowInHR int = 1,
@isFilterDeleteFlag INT = 0, 
@EntityId INT = 0,
@eId uniqueidentifier = null,
@NoofDays int = 0,
@DateFrom datetime =null,
@DateTo datetime = null,
@CommonDataTypeId int = 0,
@CommonDataGroupId int = 0

  
AS
BEGIN
 
	If @Parameter = 1
	Begin
	 select EarningMaster.EarningTypeName ,
			EmployeeDetails.EmployeeCode,
			EmployeeDetails.EmployeeName + ' ' +EmployeeDetails.LastName as EmployeeName,	 
			EmployeeDetails.ESICNo,
			sum(PayOutDeduction.EmpDeductionAmount) As EmpDeductionAmount ,
			sum(EmployerDeductionAmount)  as EmployerDeductionAmount
	from PayOutDeduction 
		inner join PayOutMaster on PayoutDeduction.PayOutId= PayOutMaster.PayOutId        
        inner JOin EarningMaster on EarningMaster.EarningId = PayOutDeduction.TaxId 
        inner join EmployeeDetails on PayOutDeduction.EmployeeId = EmployeeDetails.EmployeeId
        Where 
             PayOutMaster.IsDeleted = 0
			 and PayOutMaster.EntityId = @EntityId				
			and (@EmployeeId = 0 or PayOutDeduction.EmployeeId= @EmployeeId)
			   	and EarningMaster.IssysGenerated = 1
				AND ( @DateFrom IS NULL
                    OR @DateTo IS NULL
                    OR PayOutMaster.PayOutMonth BETWEEN @DateFrom
                    AND
                    @DateTo) 
                and EarningMaster.TaxesType = 4
                
                and  ( @CommonDataTypeId = 0 
					  OR EmployeeDetails.TypeofEmployeeId = @CommonDataTypeId)
					  
 				and  ( @CommonDataGroupId = 0 
					  or EmployeeDetails.EmployeeGroupId = @CommonDataGroupId) 
					  
				--and EmployeeType= 1
				
                    group by EarningTypeName,EmployeeCode,EmployeeName,LastName,ESICNo 
                    --having sum(PayOutDeduction.EmpDeductionAmount) > 0 or
                    --sum(EmployerDeductionAmount) > 0 
                     order by EarningTypeName desc 
	
	End	
	
END
GO
