USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Moldbox_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE  PROCEDURE [dbo].[Moldbox_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,  
    @MoldBoxId UNIQUEIDENTIFIER = NULL ,     
    @EntityId INT = 0 
  
AS
BEGIN
	  
    IF @parameter = 1		-- Fetch MoldBoxName Master Details for Register
        BEGIN
            IF @InitialLoad = 1
                BEGIN
                    SELECT TOP ( @PageSize )
                            *
                    FROM    ( SELECT TOP ( @PageSize )
                                        ROW_NUMBER() OVER ( ORDER BY MoldBoxMaster.CreatedOn DESC ) AS SerialNo ,
                                        MoldBoxID ,
                                        MoldBoxName ,
                                        BoxVolume
                              FROM      MoldBoxMaster
                              WHERE     IsDeleted = 0
                                        AND ( @MoldBoxId IS NULL
                                              OR MoldBoxMaster.MoldBoxID = @MoldBoxId
                                            )
                                            and EntityId =@EntityId
                            ) AS MoldBoxMaster                           
                END
            ELSE
                BEGIN
                    SELECT TOP ( @PageSize )
                            *
                    FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY MoldBoxMaster.CreatedOn DESC ) AS SerialNo ,
                                        MoldBoxID ,
                                        MoldBoxName ,
                                        BoxVolume
                              FROM      MoldBoxMaster
                              WHERE     IsDeleted = 0
                                        AND ( @MoldBoxId IS NULL
                                              OR MoldBoxMaster.MoldBoxID = @MoldBoxId
                                            )
                                            and EntityId =@EntityId
                            ) AS MoldBoxMaster
                    WHERE   MoldBoxMaster.SerialNo > ( @PageNumber * @PageSize )
                  --  ORDER BY MoldBoxMaster.MoldBoxID desc 
                END
        END
 
    IF @parameter = 2 --Total Records Query
        BEGIN

            SET @TotalRecords = ( SELECT    COUNT(MoldBoxMaster.MoldBoxID )
                                  FROM      dbo.MoldBoxMaster
                                  WHERE     IsDeleted = 0
                                            AND ( @MoldBoxId IS NULL
                                                  OR MoldBoxMaster.MoldBoxID = @MoldBoxId
                                                )
                                                and EntityId =@EntityId
                                )
				--COMMIT TRANSACTION
            RETURN @TotalRecords
        END
        
        
    IF @parameter = 3
		BEGIN
			SELECT MldBxMstr.MoldBoxName ,MldBxMstr.BoxVolume ,
				
                     CASE WHEN MldBxTpBtmTrns.Type = 1 THEN 'Top(Cope)'
						 WHEN MldBxTpBtmTrns.Type = 2 THEN 'Cheek'
                         ELSE 'Bottom(Drag)'
                   END AS TopOrBottom ,
                   CAST(MldBxTpBtmTrns.Dimension1 AS DECIMAL(18, 2)) AS Dimension1 ,
                   CAST(MldBxTpBtmTrns.Dimension2 AS DECIMAL(18, 2)) AS Dimension2 ,
                   CAST(MldBxTpBtmTrns.Dimension3 AS DECIMAL(18, 2)) AS Dimension3 ,
                   Qty ,
                   CAST(( MldBxTpBtmTrns.Dimension1 * MldBxTpBtmTrns.Dimension2 * MldBxTpBtmTrns.Dimension3 ) AS DECIMAL(18,
                                                              2)) AS Volume
			FROM    dbo.MoldBoxTopBottomTrans as MldBxTpBtmTrns 
            inner join MoldBoxMaster as MldBxMstr on MldBxMstr.MoldBoxID = MldBxTpBtmTrns.MoldBoxID  and MldBxMstr.EntityId =@EntityId
            
            where 
            --MldBxMstr.MoldBoxID = @MoldBoxId and MldBxMstr.IsDeleted = 0
            ( @MoldBoxId IS NULL
                                                  OR MldBxMstr.MoldBoxID = @MoldBoxId
                                                ) and MldBxMstr.IsDeleted = 0
                                                
			order by MldBxMstr.MoldBoxName
		END
		
END
GO
