USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchJobReturnNo]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create     PROCEDURE [dbo].[FetchJobReturnNo]
	-- Add the parameters for the stored procedure here
	@ChallanNo varchar(Max) = null ,
	@JobOutId int ,
	@CastingId uniqueidentifier,
	@BatchId bigint ,
	@ProcessId uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select  CASE WHEN JobReturnTranse.WithoutProcess = 0 OR JobOutMaster.IsTransfer = 1 THEN 
			isnull(JobReturnMaster.Prefix,'') + Isnull(JobReturnMaster.Separator,'')+  JobReturnMaster.JRNO+ isnull(JobReturnMaster.Separator,'')
			+ isnull(JobReturnMaster.Suffix,'') +','+convert(varchar(Max),JRDate,106) end as JRNO,
			CASE WHEN JobReturnTranse.WithoutProcess = 0 OR JobOutMaster.IsTransfer = 1 THEN JobReturnTranse.JRTranseID end JRTranseID,
			CASE WHEN JobReturnTranse.WithoutProcess = 0 OR JobOutMaster.IsTransfer = 1 THEN JobOutTranse.OutwardQty end as OutwardQty,
			(isnull(JobReturnBatch.OkQty,0)- isnull(RejTab.RejQty,0)) as PendingQty
	from	JobReturnMaster
			inner Join JobReturnTranse on JobReturnTranse.JRID = JobReturnMaster.JRID
			inner Join JobOutTranse on JobOutTranse.JOTranseID = JobReturnTranse.JOTranseID
			inner Join JobOutMaster on JobOutMaster.JOID = JobOutTranse.JOID
			inner Join JobReturnBatch on JobReturnBatch.JRTranseID = JobReturnTranse.JRTranseID
						and JobReturnBatch.batchID = @batchID
						and JobReturnBatch.ProcessID = @ProcessID
			 LEFT JOIN (SELECT	JRTraId,
								SUM(RejectQty) as RejQty
                        FROM	RejectionMaster
                        WHERE	RejectionMaster.JOID = @JobOutId
								and RejectionMaster.PartId = @CastingId
								and RejectionMaster.ProductionBatchId = @batchID
								and RejectionMaster.ProcessId = @ProcessID
                        GROUP BY JRTraId
                        ) as RejTab ON RejTab.JRTraId = JobReturnTranse.JRTranseID
	Where	(@ChallanNo is null Or ChallanNo = @ChallanNo)
			And JobReturnTranse.JOID = @JobOutId
			And JobReturnMaster.IsDeleted = 0 
			And JobReturnTranse.IsDeleted = 0
			And JobOutTranse.PartId = @CastingId
			And (isnull(JobReturnBatch.OkQty,0)- isnull(RejTab.RejQty,0)) > 0 
	
END
GO
