USE [ICAST_IMS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_Bulk_PurchaseItem_In]    Script Date: 02-02-2026 10:54:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ankit Prajapati	
-- Create date: 22-11-2021
-- Description:	Bulk Insert Purchase items
-- =============================================
CREATE PROCEDURE [dbo].[SP_Bulk_PurchaseItem_In] 
@dtPurchaseItem TTPurchaseItem readonly,
@dtSupplierDetail TTCustomerPurchaseitemMappping readonly,
@dtParameter TTPurchaseItemParameterTranc readonly
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SET TRANSACTION ISOLATION LEVEL   
	READ UNCOMMITTED  

	declare 
	@dateTime datetime,
	@result int = 1,
	@ErrorMessage varchar(max)


	declare @temp_result table(
	IsSuccess int,
	ErrorMessage varchar(200)
	)

	begin tran	
	begin try

	set @dateTime = GETDATE();
	Insert into PurchaseItemMaster(EntityID, PurchaseItemId,ItemName, ItemCode, PurchaseItemGroupId, PurchaseItemCategoryId, 
	PurchaseItemTypeId, ShortCode, UnitOfMeasure, SecondaryUnitOfMeasure, ConversionRatio, ChargingMaterialType, 
	IsBOQ, IsMoldingMaterial, IsIssueAsConsumed, MinStockLevel, MaxStockLevel, OrderLeadTime, MinOrderQty, 
	StoreId, StoreLocation, PackingSize, Remarks, IsNonConsumable, IsCharge, CreatedOn, IsDeleted)
	select a.EntityId, a.PurchaseItemId,a.ItemName, a.ItemCode, a.GroupId, a.PurchaseItemCategoryId,
	a.PurchaseItemTypeId, a.ShortCode, a.UOMId, a.SecondaryUOMId, a.ConversionRatio, a.ChargingMaterialType,
	a.IsBOQ, a.IsMoldingMaterial, a.IsIssueAsConsumed, a.MinStockLevel, a.MaxStockLevel, a.OrderLeadTime, a.MinOrderQty,
	a.StoreId, a.StoreLocation, a.PackingSize, a.Remarks, a.IsNonConsumable, 0, @dateTime, 0
	from @dtPurchaseItem a

	Insert into CustomerPurchaseitemMappping(CustomerPurchaseId, PurchaseItemId, CustomerId, ProductName, IsDeleted)
	select NEWID(), b.PurchaseItemId, b.CustomerId, b.ProductName, 0   
	from @dtSupplierDetail b

	Insert into PurchaseItemParameterTranc(PurchaseItemParameterID,PurchaseItemId, ItemParameter)
	select NEWID(), c.PurchaseItemId, c.ItemParameter from @dtParameter c

	COMMIT TRANSACTION;		

	end try
	begin catch
		ROLLBACK TRANSACTION
		SET @result = -1 
		Set @ErrorMessage =(SELECT ERROR_MESSAGE() AS ErrorMessage);  
	end catch

	Insert into @temp_result(IsSuccess, ErrorMessage)
	Select @result, IsNull(@ErrorMessage,'') as 'ErrorMessage'

	select @result as IsSuccess, IsNull(@ErrorMessage,'') as ErrorMessage 
   	
END
GO
