USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PendingInward_WA]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Prashant>
-- Create date: <2024-03-15>
-- Description:	<Pending Inward Whatsapp API>
-- Refrence SP : ReportGetPODetails
-- =============================================

CREATE PROCEDURE [dbo].[PendingInward_WA] 
	@EntityID INT = 0
AS
BEGIN

	DECLARE @IsInward VARCHAR(50) = 'InInward'   
	DECLARE @OrderDateFrom DATETIME = (GETDATE() - 1) - 7
	DECLARE @OrderDateTo DATETIME = GETDATE() - 1	
	DECLARE @CustomerId UNIQUEIDENTIFIER = NULL  
	DECLARE @ItemId UNIQUEIDENTIFIER = NULL   
	DECLARE @ItemName VARCHAR(50) = NULL   
	DECLARE @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL 
	DECLARE @PurchaseItemSubGroupId UNIQUEIDENTIFIER = NULL   
	DECLARE @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL   
	DECLARE @PurchaseOrderId UNIQUEIDENTIFIER = NULL   
	DECLARE @CastingId UNIQUEIDENTIFIER = NULL   
	DECLARE @SeriesId INT = 0  
	--DECLARE @EntityID int = 0 ,  
	--DECLARE @PlantIdString VARCHAR(MAX) = NULL ,  
	DECLARE @CastingName VARCHAR(50) = NULL   
	DECLARE @StoreSummary  int = 0
	
	
	
	--declare @Plant table (Item int) 
	--if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	--begin
	--	Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	--End 
  
       SELECT  ROW_NUMBER() OVER ( ORDER BY Date DESC, PONo DESC ) AS SrNo ,  
                    *  
            FROM    ( SELECT  
                                        --ROW_NUMBER() OVER ( ORDER BY OrderDate ASC ) AS SrNo ,  
                                PODetails.CustomerName ,  
                                PODetails.PONo ,  
                                CONVERT(DATE, PODetails.OrderDate) AS Date ,  
                                
                                PODetails.ItemName ,  
                                (CASE WHEN PODetails.IsShortClose = 1 THEN 0 ELSE 
									(CASE WHEN ( PODetails.RequiredQty   - ISNULL(( (PODetails.InwardQty) ),   0) ) < 0 THEN 0  
										 ELSE PODetails.RequiredQty   - ISNULL(( (PODetails.InwardQty) ),   0)  
									END) 
                                END) AS PendingQty ,                               
                                (CASE WHEN PODetails.IsShortClose = 1 THEN 0 ELSE 
									(case when @IsInward  = 'InInward'  
									then (  
											(case when PODetails.RequiredQty>= ISNULL(PODetails.InwardQty,0) 
												then   ( ( PODetails.RequiredQty   - ISNULL(( (PODetails.InwardQty) ), 0) )   * PODetails.Rates ) 
													- (((PODetails.RequiredQty - ISNULL(((PODetails.InwardQty)), 0)) 
														* PODetails.Rates * ISNULL(Discount, 0))/ 100)
												else 0
												end) )  
										else (PODetails.RequiredQty * PODetails.Rates)  
										end  )
                                END ) AS PendingValue
                             
                               
                      FROM      [Data:PODetails] as PODetails  
								LEFT JOIN ( Select PurchaseItemId , SUM(ISNULL(Stock,0)) as Stock from InventoryDetails Group by PurchaseItemId) as Inventory ON PODetails.PurchaseItemId = Inventory.PurchaseItemId
                      WHERE     ( @IsInward IS NULL  
                                      OR PODetails.IsDelivered = 0  
                                    )  
                                And PODetails.IsShortclose = 0       
                                AND (@StoreSummary = 1 OR  ( CAST(DeliveryDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) ) )                          
                                 --AND ( CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )  
                                        --AND RequiredQty - AccesptedQty > 0  
                                AND ( @CustomerId IS NULL  
                                      OR PODetails.CustomerID = @CustomerId  
                                    )  
                                AND ( @ItemId IS NULL  
                                      OR PODetails.PurchaseItemId = @ItemId  
                                    )  
                                AND ( @ItemName IS NULL  
                                      OR PODetails.ItemName = @ItemName  
                                    )                                
                                AND ( @PurchaseOrderId IS NULL  
                                      OR PODetails.PurchaseOrderId = @PurchaseOrderId  
                                    )  
                                AND ( @PurchaseItemGroupId IS NULL  
                                      OR PODetails.PurchaseItemGroupId = @PurchaseItemGroupId  
                                    )  
                                AND ( @PurchaseItemSubGroupId IS NULL  
                                      OR PODetails.purchaseItemSubGroupId = @PurchaseItemSubGroupId  
                                    )  
                                AND ( @PurchaseItemTypeId IS NULL  
                                      OR PODetails.PurchaseItemtypeId = @PurchaseItemTypeId  
                                    )  
                                AND ( @CastingId IS NULL  
                                      OR 0 = 1  
                                    )  
                                AND ( @CastingName IS NULL  
                                      OR 0 = 1
                                    )  
                                AND ( @SeriesId = 0  
                                      OR PODetails.SeriesId = @SeriesId  
                                    )  
                                    ----------------------  
        --                        AND ( ISNULL(@PlantIdString,'') = ''  
								--	OR PODetails.POPlantId IN (  
								--		SELECT Item FROM @Plant  
								--	)  
								--)  
								AND PODetails.EntityID = @EntityId  
                                    -------------------------  
                      UNION ALL --Casting Purchase  
                      SELECT  
                                        --ROW_NUMBER() OVER ( ORDER BY OrderDate ASC ) AS SrNo ,  
                                CustomerMaster.CustomerName ,  
                                CASE WHEN PurchaseOrder_Master.Prefix IS NULL  
                                     THEN ''  
                                     ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)  
                                END  
                                + CASE WHEN PurchaseOrder_Master.Separator IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)  
                                  END  
                                + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)  
                                + CASE WHEN PurchaseOrder_Master.Separator IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)  
                                  END  
                                + CASE WHEN PurchaseOrder_Master.Suffix IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)  
                                  END AS PONo ,  
                                CONVERT(DATE, PurchaseOrder_Master.OrderDate) AS Date ,  
                                
                                CastingMaster.CastingName AS ItemName ,  
                               
                                (CASE WHEN PurchaseOrderCastingPurchaseTrans.IsShortClose = 1 THEN 0 ELSE 
									(RequiredQty  - ISNULL(( (InwardTable.AccesptedQty) ), 0))
								END) AS PendingQty ,  
                                
                                (CASE WHEN PurchaseOrderCastingPurchaseTrans.IsShortClose = 1 THEN 0 ELSE 
									( case when @IsInward  = 'InInward'  
										then((( RequiredQty - ISNULL(((InwardTable.AccesptedQty)), 0) ) * PurchaseOrderCastingPurchaseTrans.CustomerRates ))
										else (PurchaseOrderCastingPurchaseTrans.RequiredQty * PurchaseOrderCastingPurchaseTrans.CustomerRates)  
									end)
								END) AS PendingValue  
                                
                      FROM      PurchaseOrder_Master  
                                INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = PurchaseOrder_Master.CustomerID  
                                INNER JOIN PurchaseOrderCastingPurchaseTrans ON PurchaseOrderCastingPurchaseTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId  
                                INNER JOIN CastingMaster ON CastingMaster.CastingId = PurchaseOrderCastingPurchaseTrans.CastingId  
                                LEFT JOIN ( SELECT  InwardCastingPurchase.PurchaseOrderCastingPurchaseId AS PurchaseOrderTransId ,  
                                                    InwardCastingPurchase.CastingId AS PurchaseItemId ,  
                                                    SUM(InwardCastingPurchase.AcceptedQty) AS AccesptedQty  
                                            FROM    InwardCastingPurchase  
                                            WHERE   InwardCastingPurchase.IsDeleted = 0  
                                            GROUP BY InwardCastingPurchase.PurchaseOrderCastingPurchaseId ,  
                                                    InwardCastingPurchase.CastingId  
                                          ) AS InwardTable ON InwardTable.PurchaseItemId = PurchaseOrderCastingPurchaseTrans.CastingId  
                                                              AND InwardTable.PurchaseOrderTransId = PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId  
                                                              AND RequiredQty  
                                                              - ISNULL(( (InwardTable.AccesptedQty) ),  
                                                              0) > 0  
                      WHERE     PurchaseOrder_Master.IsDeleted = 0  
								And PurchaseOrderCastingPurchaseTrans.IsShortclose = 0
								and PurchaseOrderCastingPurchaseTrans.IsDeleted = 0
                                AND ( @IsInward IS NULL  
                                      OR PurchaseOrderCastingPurchaseTrans.IsDelivered = 0  
                                    )  
                                AND maxversion = 1  
                                 --AND ( CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )
                                AND (@StoreSummary = 1 OR  ( CAST(DeliveryDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) ) )                           
                                        --AND RequiredQty - AccesptedQty > 0  
                                AND ( @CustomerId IS NULL  
                                      OR PurchaseOrder_Master.CustomerID = @CustomerId  
                                    )  
                                AND ( @CastingId IS NULL  
                                      OR PurchaseOrderCastingPurchaseTrans.CastingId = @CastingId  
                                    )  
                                AND ( @CastingName IS NULL  
                                      OR CastingMaster.CastingName = @CastingName  
                                    )  
                                AND ( @PurchaseOrderId IS NULL  
                                      OR PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
                                    )  
                                AND ( @PurchaseItemGroupId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @PurchaseItemSubGroupId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @PurchaseItemTypeId IS NULL  
                                      OR 1 = 0  
								)  
                                AND ( @ItemId IS NULL  
                                      OR 0 = 1  
                                    )  
                                AND ( @SeriesId = 0  
                                      OR PurchaseOrder_Master.SeriesId = @SeriesId  
                                    )  
        --                        AND ( ISNULL(@PlantIdString,'') = ''  
								--	OR PurchaseOrder_Master.POPlantId IN (  
								--		SELECT Item FROM @Plant  
								--	)  
								--)  
								AND PurchaseOrder_Master.EntityID = @EntityId  
                                    -------------------------------------  
                      UNION ALL --Job Order  
                      SELECT  
                                        --ROW_NUMBER() OVER ( ORDER BY OrderDate ASC ) AS SrNo ,  
                                CustomerMaster.CustomerName ,  
                                CASE WHEN PurchaseOrder_Master.Prefix IS NULL  
                                     THEN ''  
                                     ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)  
                                END  
                                + CASE WHEN PurchaseOrder_Master.Separator IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)  
                                  END  
                                + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)  
                                + CASE WHEN PurchaseOrder_Master.Separator IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)  
                                  END  
                                + CASE WHEN PurchaseOrder_Master.Suffix IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)  
                                  END AS PONo ,  
                                CONVERT(DATE, PurchaseOrder_Master.OrderDate) AS Date ,  
                              
                                CastingMaster.CastingName AS ItemName ,  
                               
                                (CASE WHEN PurchaseJobOrderTrans.IsShortClose = 1 THEN 0 ELSE 
									(PurchasejobOrderTrans.OrderQty   - ISNULL(( (InwardTable.AccesptedQty) ), 0))
								END) AS PendingQty ,  
                                
								(CASE WHEN PurchaseJobOrderTrans.IsShortClose = 1 THEN 0 ELSE 
									(case when @IsInward  = 'InInward'  
										then (((PurchasejobOrderTrans.OrderQty - ISNULL(((InwardTable.AccesptedQty)), 0)) * PurchasejobOrderTrans.Rate))
										else (PurchasejobOrderTrans.OrderQty  * PurchasejobOrderTrans.Rate)  
									end )
                                END) AS PendingValue  
                               
                      FROM      PurchaseOrder_Master  
                                INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = PurchaseOrder_Master.CustomerID  
                                INNER JOIN PurchasejobOrderTrans ON PurchasejobOrderTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId  
                                INNER JOIN CastingMaster ON CastingMaster.CastingId = PurchasejobOrderTrans.CastingId  
                                LEFT JOIN ( SELECT  InwardJobCastingTranse.PurchaseJobOrderTranseID AS PurchaseOrderTransId ,  
                                                    InwardJobCastingTranse.CastingId AS PurchaseItemId ,  
                                                    SUM(InwardJobCastingTranse.InwardQty) AS AccesptedQty  
                                            FROM    InwardJobCastingTranse  
                                            WHERE   InwardJobCastingTranse.IsDeleted = 0  
                                            GROUP BY InwardJobCastingTranse.PurchaseJobOrderTranseID ,  
                                                    InwardJobCastingTranse.CastingId  
                                          ) AS InwardTable ON InwardTable.PurchaseItemId = PurchasejobOrderTrans.CastingId  
                                                              AND InwardTable.PurchaseOrderTransId = PurchasejobOrderTrans.JobOrderTransID  
                                                              AND PurchasejobOrderTrans.OrderQty  
                                                              - ISNULL(( (InwardTable.AccesptedQty) ),  
                                                              0) > 0  
                      WHERE     PurchaseOrder_Master.IsDeleted = 0
								And PurchasejobOrderTrans.IsShortClose = 0
								and PurchasejobOrderTrans.IsDeleted = 0
                                AND ( @IsInward IS NULL  
                                      OR PurchasejobOrderTrans.IsInward = 0  
                                    )  
                                AND maxversion = 1  
                                AND (@StoreSummary = 1 OR  ( CAST(DeliveryDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) ) )                          
                                 --AND ( CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )
                                        --AND RequiredQty - AccesptedQty > 0  
                                AND ( @CustomerId IS NULL  
                                      OR PurchaseOrder_Master.CustomerID = @CustomerId  
                                    )  
                                AND ( @CastingId IS NULL  
                                      OR PurchasejobOrderTrans.CastingId = @CastingId  
                                    )  
                                AND ( @CastingName IS NULL  
                                      OR CastingMaster.CastingName = @CastingName  
                                    )  
                                AND ( @PurchaseOrderId IS NULL  
                                      OR PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
                                    )  
                                AND ( @PurchaseItemGroupId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @PurchaseItemSubGroupId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @PurchaseItemTypeId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @ItemId IS NULL  
                                      OR 0 = 1  
                                    )  
                                AND ( @SeriesId = 0  
                                      OR PurchaseOrder_Master.SeriesId = @SeriesId  
                                   )  
        --                        AND ( ISNULL(@PlantIdString,'') = ''  
								--	OR PurchaseOrder_Master.POPlantId IN (  
								--		SELECT Item FROM @Plant  
								--	)  
								--)  
								AND PurchaseOrder_Master.EntityID = @EntityId  
                         --------------------------------------  
                      UNION ALL --Pattern Order  
                      SELECT  
                                        --ROW_NUMBER() OVER ( ORDER BY OrderDate ASC ) AS SrNo ,  
                                CustomerMaster.CustomerName ,  
                                CASE WHEN PurchaseOrder_Master.Prefix IS NULL  
                                     THEN ''  
                                     ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)  
                                END  
                           + CASE WHEN PurchaseOrder_Master.Separator IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)  
                                  END  
                                + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)  
                                + CASE WHEN PurchaseOrder_Master.Separator IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)  
                                  END  
                                + CASE WHEN PurchaseOrder_Master.Suffix IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)  
                                  END AS PONo ,  
                                CONVERT(DATE, PurchaseOrder_Master.OrderDate) AS Date ,  
                               
                                '' AS ItemName ,  
                               
                                (CASE WHEN PurchaseOrderPatternPurchaseTrans.IsShortClose = 1 THEN 0 ELSE 
									(RequiredQty   - ISNULL(( (InwardTable.AccesptedQty) ), 0))
								END) AS PendingQty ,  
                                
                                (CASE WHEN PurchaseOrderPatternPurchaseTrans.IsShortClose = 1 THEN 0 ELSE 
									(case when @IsInward  = 'InInward'  
									then(( ( RequiredQty - ISNULL(( (InwardTable.AccesptedQty) ), 0) ) * PurchaseOrderPatternPurchaseTrans.PurchaseRate))
									else (PurchaseOrderPatternPurchaseTrans.RequiredQty * PurchaseOrderPatternPurchaseTrans.PurchaseRate) 
                                  end)
                                END) AS PendingValue 
                                
                      FROM      PurchaseOrder_Master  
                                INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = PurchaseOrder_Master.CustomerID  
                                INNER JOIN PurchaseOrderPatternPurchaseTrans ON PurchaseOrderPatternPurchaseTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId  
                                INNER JOIN PatternMaster ON PatternMaster.PatternId = PurchaseOrderPatternPurchaseTrans.PatternId  
                                LEFT JOIN ( SELECT  PatternGRNdetail.PurchaseOrderPatternID AS PurchaseOrderTransId ,  
                                                    PatternGRNdetail.PatternID AS PurchaseItemId ,  
                                                    SUM(PatternGRNdetail.InwardQty) AS AccesptedQty  
                                            FROM    PatternGRNdetail  
                                            WHERE   PatternGRNdetail.IsDeleted = 0  
                                            GROUP BY PatternGRNdetail.PurchaseOrderPatternID ,  
                                                    PatternGRNdetail.PatternID  
                                          ) AS InwardTable ON InwardTable.PurchaseItemId = PurchaseOrderPatternPurchaseTrans.PatternId  
                                                              AND InwardTable.PurchaseOrderTransId = PurchaseOrderPatternPurchaseTrans.PurchaseOrderPatternId  
                                                              AND RequiredQty  
                                                              - ISNULL(( (InwardTable.AccesptedQty) ),  
									0) > 0  
                      WHERE     PurchaseOrder_Master.IsDeleted = 0 
								And PurchaseOrderPatternPurchaseTrans.IsShortClose = 0 
								and PurchaseOrderPatternPurchaseTrans.IsDeleted = 0
                                AND ( @IsInward IS NULL  
                                      OR PurchaseOrderPatternPurchaseTrans.IsInward = 0  
                                    )  
                                AND PurchaseOrder_Master.maxversion = 1  
                                AND (@StoreSummary = 1 OR  ( CAST(DeliveryDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) ) )                          
                                 --AND ( CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )
                                        --AND RequiredQty - AccesptedQty > 0  
                                AND ( @CustomerId IS NULL  
                                      OR PurchaseOrder_Master.CustomerID = @CustomerId  
                                    )  
                                AND ( @PurchaseOrderId IS NULL  
                                      OR PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
                                    )  
                                AND ( @PurchaseItemGroupId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @PurchaseItemSubGroupId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @PurchaseItemTypeId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @ItemId IS NULL  
                                      OR 0 = 1  
                                    )  
                                AND ( @CastingId IS NULL  
                                      OR 0 = 1  
                                    )  
                                AND ( @CastingName IS NULL  
                                      OR 0 = 1
                                    )  
                                AND ( @SeriesId = 0  
                                      OR PurchaseOrder_Master.SeriesId = @SeriesId  
                                    )  
        --                        AND ( ISNULL(@PlantIdString,'') = ''  
								--	OR PurchaseOrder_Master.POPlantId IN (  
								--		SELECT Item FROM @Plant  
								--	)  
								--)  
								AND PurchaseOrder_Master.EntityID = @EntityId   
                                    ---------------------------------------  
                      UNION ALL --For Core  
                      SELECT  
                                        --ROW_NUMBER() OVER ( ORDER BY OrderDate ASC ) AS SrNo ,  
                                CustomerMaster.CustomerName ,  
                                CASE WHEN PurchaseOrder_Master.Prefix IS NULL  
                                     THEN ''  
                                     ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)  
                                END  
                                + CASE WHEN PurchaseOrder_Master.Separator IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)  
                                  END  
                                + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)  
                                + CASE WHEN PurchaseOrder_Master.Separator IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)  
                                  END  
                                + CASE WHEN PurchaseOrder_Master.Suffix IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)  
                                  END AS PONo ,  
                                CONVERT(DATE, PurchaseOrder_Master.OrderDate) AS Date ,  
                               
                                '' AS ItemName ,  
                               
                               
                                (CASE WHEN PurchaseOrderCorePurchaseTrans.IsShortClose = 1 THEN 0 ELSE 
									(RequiredQty   - ISNULL(( (InwardTable.AccesptedQty) ), 0))
								END) AS PendingQty ,  
                                
                                (CASE WHEN PurchaseOrderCorePurchaseTrans.IsShortClose = 1 THEN 0 ELSE 
									(case when @IsInward  = 'InInward'  
										then((( RequiredQty - ISNULL(( (InwardTable.AccesptedQty) ), 0)) * PurchaseOrderCorePurchaseTrans.PurchaseRate))
										else (PurchaseOrderCorePurchaseTrans.RequiredQty * PurchaseOrderCorePurchaseTrans.PurchaseRate)
									end)
								END) AS PendingValue

                      FROM      PurchaseOrder_Master  
                                INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = PurchaseOrder_Master.CustomerID  
                                INNER JOIN PurchaseOrderCorePurchaseTrans ON PurchaseOrderCorePurchaseTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId  
                                INNER JOIN CoreBoxMaster ON CoreBoxMaster.CoreMasterID = PurchaseOrderCorePurchaseTrans.CoreBoxID  
                                LEFT JOIN ( SELECT  CoreGRNDetail.PurchaseOrderCoreBoxId AS PurchaseOrderTransId ,  
                                                    CoreGRNDetail.CoreBoxId AS PurchaseItemId ,  
                                                    SUM(CoreGRNDetail.InwardQty) AS AccesptedQty  
                                            FROM    CoreGRNDetail  
                                            WHERE   CoreGRNDetail.IsDeleted = 0  
                                            GROUP BY CoreGRNDetail.PurchaseOrderCoreBoxId ,  
                                                    CoreGRNDetail.CoreBoxId  
                                          ) AS InwardTable ON InwardTable.PurchaseItemId = PurchaseOrderCorePurchaseTrans.CoreBoxID  
                                                              AND InwardTable.PurchaseOrderTransId = PurchaseOrderCorePurchaseTrans.PurchaseOrderCoreBoxId  
                                                              AND RequiredQty  
                                                              - ISNULL(( (InwardTable.AccesptedQty) ),  
                                                              0) > 0  
                      WHERE     PurchaseOrder_Master.IsDeleted = 0
								And PurchaseOrderCorePurchaseTrans.IsShortClose = 0 
								and PurchaseOrderCorePurchaseTrans.IsDeleted = 0
                                AND ( @IsInward IS NULL  
                                      OR PurchaseOrderCorePurchaseTrans.IsInward = 0  
                                    )  
                                AND maxversion = 1  
                                AND (@StoreSummary = 1 OR  ( CAST(DeliveryDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) ) )                          
                                 --AND ( CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )
                                        --AND RequiredQty - AccesptedQty > 0  
                                AND ( @CustomerId IS NULL  
                                      OR PurchaseOrder_Master.CustomerID = @CustomerId  
                                    )  
                                AND ( @PurchaseOrderId IS NULL  
                                      OR PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
                                    )  
                                AND ( @PurchaseItemGroupId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @PurchaseItemSubGroupId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @PurchaseItemTypeId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @ItemId IS NULL  
									  OR 0 = 1  
                                    )  
                                AND ( @CastingId IS NULL  
                                      OR 0 = 1  
                                    )  
                                AND ( @CastingName IS NULL  
                                      OR 0 = 1
                                    )  
                                AND ( @SeriesId = 0  
                                      OR PurchaseOrder_Master.SeriesId = @SeriesId  
                                    )  
								--AND ( ISNULL(@PlantIdString,'') = ''  
								--   OR PurchaseOrder_Master.POPlantId IN (  
								--	SELECT Item FROM @Plant  
								--   )  
								-- )  
							   AND PurchaseOrder_Master.EntityID = @EntityId  
      
       UNION ALL -- SRN PENDING  
       SELECT  
                                        --ROW_NUMBER() OVER ( ORDER BY OrderDate ASC ) AS SrNo ,  
                                CustomerMaster.CustomerName ,  
                                CASE WHEN PurchaseOrder_Master.Prefix IS NULL  
                                     THEN ''  
                                     ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)  
                                END  
                                + CASE WHEN PurchaseOrder_Master.Separator IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)  
                                  END  
                                + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)  
                                + CASE WHEN PurchaseOrder_Master.Separator IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)  
                                  END  
                                + CASE WHEN PurchaseOrder_Master.Suffix IS NULL  
                                       THEN ''  
                                       ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)  
                                  END AS PONo ,  
                                CONVERT(DATE, PurchaseOrder_Master.OrderDate) AS Date ,  
                               
                                ServiceItemMaster.Item AS ItemName ,  
                               
                                (CASE WHEN PurchaseOrderServiceItemTrans.IsShortClose = 1 THEN 0 ELSE 
									(Qty   - ISNULL(( (InwardTable.AccesptedQty) ), 0))
								END) AS PendingQty ,  
                                (CASE WHEN PurchaseOrderServiceItemTrans.IsShortClose = 1 THEN 0 ELSE 
									(case when @IsInward = 'InInward'
										then (((Qty - ISNULL(( (InwardTable.AccesptedQty)), 0)) * PurchaseOrderServiceItemTrans.Rate))
										else (PurchaseOrderServiceItemTrans.Qty * PurchaseOrderServiceItemTrans.Rate)
									end)
                                END) AS PendingValue  
                      FROM      PurchaseOrder_Master  
                                INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = PurchaseOrder_Master.CustomerID  
                                INNER JOIN PurchaseOrderServiceItemTrans ON PurchaseOrderServiceItemTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId  
                                INNER JOIN ServiceItemMaster ON ServiceItemMaster.ServiceItemId = PurchaseOrderServiceItemTrans.ServiceItemId  
                                  
                                LEFT JOIN ( SELECT  TempTable.PurchaseOrderID AS PurchaseOrderTransId ,  
                                                    TempTable.ServiceItemId AS PurchaseItemId ,  
                                                    SUM(SRNServiceDetailsTrans.AcceptQty) AS AccesptedQty  
                                            FROM    PurchaseOrderServiceItemTrans as TempTable  
													inner join SRNServiceDetailsTrans 
															on TempTable.PurchaseOrderServiceItemID = SRNServiceDetailsTrans.PurchaseOrderServiceItemID  
                                            WHERE   SRNServiceDetailsTrans.IsDeleted = 0  
													and  ( @IsInward IS NULL  
																  OR TempTable.IsDelivered = 0  
																) 
                                            GROUP BY TempTable.PurchaseOrderID ,  
                                                    TempTable.ServiceItemId  
                                          ) AS InwardTable ON InwardTable.PurchaseOrderTransId = PurchaseOrderServiceItemTrans.PurchaseOrderID  
                and ServiceItemMaster.ServiceItemId = InwardTable.PurchaseItemId  
                and PurchaseOrderServiceItemTrans.ServiceItemId = InwardTable.PurchaseItemId  
                                                              AND Qty  
                                                              - ISNULL(( (InwardTable.AccesptedQty) ),  
                                                              0) > 0  
  WHERE     PurchaseOrder_Master.IsDeleted = 0  
			And PurchaseOrderServiceItemTrans.IsShortclose = 0
			and PurchaseOrderServiceItemTrans.IsDeleted = 0
        and CustomerMaster.IsDeleted = 0  
        and ServiceItemMaster.EntityID = @EntityID  
        and ServiceItemMaster.IsDeleted = 0  
        and ( @IsInward IS NULL  
							OR PurchaseOrderServiceItemTrans.IsDelivered = 0  
							)                                  
                                AND maxversion = 1  
                                AND (@StoreSummary = 1 OR  ( CAST(DeliveryDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) ) )                          
                                 --AND ( CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )
                                        --AND RequiredQty - AccesptedQty > 0  
                                AND ( @CustomerId IS NULL  
                                      OR PurchaseOrder_Master.CustomerID = @CustomerId  
                                    )  
                                AND ( @PurchaseOrderId IS NULL  
                                      OR PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
                                    )  
                                AND ( @PurchaseItemGroupId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @PurchaseItemSubGroupId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @PurchaseItemTypeId IS NULL  
                                      OR 1 = 0  
                                    )  
                                AND ( @ItemId IS NULL  
                                      OR 0 = 1  
                                    )  
                                AND ( @CastingId IS NULL  
                                      OR 0 = 1  
                                    )  
                                AND ( @CastingName IS NULL  
                                      OR 0 = 1
                                    )  
                                AND ( @SeriesId = 0  
                                      OR PurchaseOrder_Master.SeriesId = @SeriesId  
                                    )  
        --                        AND ( ISNULL(@PlantIdString,'') = ''  
								--	OR PurchaseOrder_Master.POPlantId IN (  
								--		SELECT Item FROM @Plant  
								--	)  
								--)  
								AND PurchaseOrder_Master.EntityID = @EntityID   
         
                    ) AS PendingInward  
                    
                     WHERE ((@IsInward = 'InInward' AND PendingInward.PendingQty > 0) OR ISNULL(@IsInward, '') != 'InInward')
END 




GO
