USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ManageCuttingEntry]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ManageCuttingEntry]
	-- Add the parameters for the stored procedure here
	@Parameter INT 
  , @ItemId UNIQUEIDENTIFIER = NULL
  , @MetalId BIGINT = 0
  , @ConsumeItemId UNIQUEIDENTIFIER = NULL
  , @CuttingToolId UNIQUEIDENTIFIER = NULL
  , @PlantId INT = 0
  , @ProductionDate DATETIME = NULL
  , @ProductionEndDate DATETIME = null
  , @BatchNo VARCHAR(50) = NULL
  , @OurEntryNo VARCHAR(15) = NULL
  , @Shift VARCHAR(50) = NULL
  , @StartTime DATETIME = NULL
  , @EndTime DATETIME = NULL
  , @OperatorId INT = 0
  , @CastingId UNIQUEIDENTIFIER = NULL
  , @PurchaseItemId UNIQUEIDENTIFIER = NULL
  , @HeatCode VARCHAR(50) = NULL
  , @ChargeTable AS XML = NULL
  , @chargingQnty FLOAT = 0
  , @IsExclude INT = 0
  , @IsEndPiece INT = 0
  , @ConsumptionID INT = 0
  , @BatchDetails XML = NULL
  , @ChargeName VARCHAR(50) = NULL
  , @stockqty FLOAT = 0
  , @PerPcWt FLOAT = 0
  , @TotalWt FLOAT = 0
  , @EndPieceItemId UNIQUEIDENTIFIER = NULL
  , @CreatedBy INT = 0
  , @EntityId INT = 0
  
  , @IsInwardBatchWise BIT = NULL
  , @ConsumptionMethod BIT = NULL
  , @OrderWisePouring INT = 0
  , @SinglePeiceCastingTraceability int = 0
  , @isHeatwise BIT = NULL
  , @isCastCodeEnable BIT = NULL
  , @CastCode XML = NULL
  
  , @BatchId INT = 0
  , @knockoutid INT = 0
  
  , @PageNumber INT = 0
  , @PageSize INT = 0
  , @PlantIdString VARCHAR(MAX) = NULL
  , @CastingName NVARCHAR(MAX) = ''
  , @DateFrom DATETIME = NULL
  , @DateTo DATETIME = NULL
  
  , @DeletedBy BIGINT = 0
  
  --, @PatternId UNIQUEIDENTIFIER = NULL
  , @ProcessID UNIQUEIDENTIFIER = NULL
  ,@PatternId UNIQUEIDENTIFIER = NULL
  ,@PatternRevisionID UNIQUEIDENTIFIER = NULL 
  ,@TargetQty int = 0 -- added by yashvant
  ,@XMLMaintenance XML = null
  ,@InTransit bit = 0
  ,@AddOnId1 int = 0
  ,@QtyPerBar int = 0
AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @result TABLE ( returnvalue INT );
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
	DECLARE @CreatedOn DATETIME = GETDATE(), @GUID_EMPTY UNIQUEIDENTIFIER = CAST(0x0 AS UNIQUEIDENTIFIER)
	, @finalokqty BIGINT, @Batchstockqty FLOAT
	
	DECLARE @SerialNoPR BIGINT = 0, @ConsumptionQty float = 0,  
    @TotalProductionCost FLOAT = 0 ,       
    @TotalChargingEntryWIthExclude float = 0

    -- Insert statements for procedure here
	IF(@Parameter = 1)	-- Forging Consume Item Fetch
	BEGIN
		SELECT	DISTINCT ForgingCuttingItem.PurchaseItemId, (pim.ItemName + '(' + pim.ItemCode + ')') AS Item
				, pim.ItemName, pim.ItemCode 
		FROM	ForgingCuttingItem
				INNER JOIN CastingProcess ON CastingProcess.CastingProcessID = ForgingCuttingItem.CastingProcessId
				INNER JOIN PurchaseItemMaster AS pim ON pim.PurchaseItemId = ForgingCuttingItem.PurchaseItemId
												AND pim.IsDeleted = 0
		WHERE	(@ItemId IS NULL OR CastingProcess.CastingID = @ItemId)
				AND (@MetalId = 0 OR CastingProcess.MetalId = @MetalId)
				AND ForgingCuttingItem.IsDeleted = 0
				AND CastingProcess.ProcessID = (
					SELECT TOP 1 ProcessMaster.ProcessId FROM ProcessMaster WHERE IsDefaultForging = 1 AND IsDeleted = 0
				)
	END
	
	ELSE IF(@Parameter = 2)	-- Forging Cutting Tool Fetch
	BEGIN
		SELECT	DISTINCT ForgingCuttingItem.EquipmentId, (mem.ItemName + '(' + mem.ItemCode + ')') AS Equipment
				, mem.ItemName as EquipmentName, mem.ItemCode as EquipmentCode
		FROM	ForgingCuttingItem
				INNER JOIN CastingProcess ON CastingProcess.CastingProcessID = ForgingCuttingItem.CastingProcessId
				INNER JOIN PurchaseItemMaster AS mem ON mem.PurchaseItemId = ForgingCuttingItem.EquipmentId and mem.IsEquipment =1 
												AND mem.IsDeleted = 0
		WHERE	(@ItemId IS NULL OR CastingProcess.CastingID = @ItemId)
				AND (@MetalId = 0 OR CastingProcess.MetalId = @MetalId)
				AND ForgingCuttingItem.IsDeleted = 0
				AND CastingProcess.ProcessID = (
					SELECT TOP 1 ProcessMaster.ProcessId FROM ProcessMaster WHERE IsDefaultForging = 1 AND IsDeleted = 0
				)
				AND (@ConsumeItemId IS NULL OR ForgingCuttingItem.PurchaseItemId = @ConsumeItemId)
	END
	
	ELSE IF(@Parameter = 3)	-- Forging Item + Cutting Tool Details Fetch
	BEGIN
		SELECT	DISTINCT ForgingCuttingItem.*
				, (pim.ItemName + '(' + pim.ItemCode + ')') AS EndPieceItem
				, (ISNULL(fid.Stock, 0) + ISNULL(Consumption.consumptionqty, 0)) AS Stock
				, ISNULL(CastingMetal.CastingNetWeight, 0) AS CastingNetWeight
		FROM	ForgingCuttingItem
				INNER JOIN CastingProcess ON CastingProcess.CastingProcessID = ForgingCuttingItem.CastingProcessId
				LEFT JOIN PurchaseItemMaster AS pim ON pim.PurchaseItemId = ForgingCuttingItem.EndPieceItemId
											AND pim.IsDeleted = 0
				LEFT JOIN FloorInventoryDetails AS fid ON fid.PurchaseItemId = ForgingCuttingItem.PurchaseItemId
											AND fid.PlantId = @PlantId and fid.Entity = @EntityId
				LEFT JOIN CastingMetal ON CastingMetal.castingID = CastingProcess.CastingID
											AND CastingMetal.metalid = CastingProcess.MetalId 
											AND CastingMetal.IsDeleted = 0
				LEFT JOIN Consumption ON (@MetalId = 0 OR Consumption.metalid = @MetalId)
											AND Consumption.purchaseitemID = ForgingCuttingItem.PurchaseItemId
											AND (Consumption.batchid = @BatchId)
		WHERE	(@ItemId IS NULL OR CastingProcess.CastingID = @ItemId)
				AND (@MetalId = 0 OR CastingProcess.MetalId = @MetalId)
				AND ForgingCuttingItem.IsDeleted = 0
				AND CastingProcess.ProcessID = (
					SELECT TOP 1 ProcessMaster.ProcessId FROM ProcessMaster WHERE IsDefaultForging = 1 AND IsDeleted = 0
				)
				AND (@ConsumeItemId IS NULL OR ForgingCuttingItem.PurchaseItemId = @ConsumeItemId)
				AND (@CuttingToolId IS NULL OR ForgingCuttingItem.EquipmentId = @CuttingToolId)
	END
	
	ELSE IF(@Parameter = 4)	-- Forging Cutting entry save
 	BEGIN
		BEGIN TRANSACTION
		BEGIN TRY 
        SET @SerialNoPR = (SELECT ISNULL(MAX(PRSrNo), 0) + 1 AS PRSrNo FROM ProductionBatch)
        
        SET @ProcessID = ( SELECT TOP 1 ProcessID FROM ProcessMaster WHERE IsDefaultForging = 1)

        IF EXISTS (SELECT batchno FROM dbo.ProductionBatch WHERE batchno = @BatchNo AND EntityId = @EntityId AND IsDeleted = 0)
        BEGIN
            IF EXISTS (	SELECT	batchID FROM dbo.ProductionBatch 
						WHERE	Shift = @Shift AND ProductionDate = @ProductionDate
								AND MetalID = @MetalId AND EntityId = @EntityId AND IsDeleted = 0)
            BEGIN
                ROLLBACK TRANSACTION
                
                SET @BatchId = (SELECT	batchID FROM dbo.ProductionBatch
								WHERE	Shift = @Shift AND ProductionDate = @ProductionDate AND MetalID = @MetalId
										AND EntityId = @EntityId AND batchno = @BatchNo)
										
                RETURN @BatchId
            END
            ELSE
            BEGIN
                SET @batchno = CAST(@batchno AS bigint) + 1
            END
        END

        INSERT INTO ProductionBatch (OurEntryNo, batchno, ProductionDate, MetalID, Furnace, Shift, PRSrNo
					, CreatedOn, CreatedBy, EntityId, StartTime, EndTime, EmployeeId, PlantID , IsRRAllocate
					, IsForging,EndDate,IsPouringDone )
		VALUES (@OurEntryNo, @BatchNo, @ProductionDate, @MetalId, 'F1', @Shift, @SerialNoPR
					, GETDATE(), @CreatedBy, @EntityId, @StartTime, @EndTime, @OperatorId, @PlantId, 0
					, 1,@ProductionEndDate,1)

       

        SET @BatchId = SCOPE_IDENTITY();
		
        set @TotalChargingEntryWIthExclude = 0    
        set @TotalProductionCost = 0  
        DECLARE chargingentry CURSOR FOR
        SELECT
            Node.value('(purchaseitemid )[1]', 'uniqueidentifier') AS 'purchaseitemid',
            Node.value('(metalid )[1]', 'bigint') AS 'metalid',
            Node.value('(chargingQnty )[1]', 'float') AS 'chargingQnty',
            Node.value('(Charge )[1]', 'Varchar(50)') AS 'Charge',
            Node.value('(ExcludeInConsumption )[1]', 'int') AS 'ExcludeInConsumption',
            Node.query('BatchDetails/*') AS 'BatchDetails',
            Node.value('(IsEndPiece )[1]', 'int') AS 'IsEndPiece'
        FROM @ChargeTable.nodes('/DocumentElement/ChargingTable')
        AS TEMPXML (Node)
        
        OPEN chargingentry;

        FETCH NEXT FROM chargingentry INTO @PurchaseItemId, @metalid,
			@chargingQnty, @ChargeName, @IsExclude, @BatchDetails, @IsEndPiece
        
        WHILE (@@FETCH_STATUS = 0)
        BEGIN
			
			IF(@IsEndPiece = 0)
			BEGIN
					
				IF ((SELECT Stock
					 FROM   FloorInventoryDetails
					 WHERE  PurchaseItemId = @PurchaseItemId
							AND Entity = @EntityId
							AND PlantId = @PlantId
				   ) < CONVERT(DECIMAL(18, 3), @chargingQnty)
				)
				BEGIN
					ROLLBACK TRANSACTION
					RETURN -2
				END
				
                set @TotalChargingEntryWIthExclude = @TotalChargingEntryWIthExclude  + @chargingQnty; 

				INSERT INTO Consumption (batchid, purchaseitemiD, metalid, ChargeName, consumptionqty,
							createdon, IsDeleted, CreatedBy, EntityId, IsExclude)
				VALUES (@BatchId, @PurchaseItemId, @MetalId, NULL, @chargingQnty
							, GETDATE(), 0, @CreatedBy, @EntityId, @IsExclude)

				 

				SET @ConsumptionID = SCOPE_IDENTITY();

				INSERT INTO dbo.ConsumptionBatchWise (ConsumptionBatchId, ConsumptionId, RawBatchId, Quantity)
					(	SELECT	NEWID(),
								@ConsumptionID,
								Node.value('(RawBatchId )[1]', 'int') AS 'RawBatchId',
								Node.value('(ConsumptionQty )[1]', 'float') AS 'ConsumptionQty'
						FROM	@BatchDetails.nodes('/DocumentElement/BatchDetails')
						AS TEMPXML (Node)
					)
					
				IF EXISTS (
					SELECT	1 
					FROM	ConsumptionBatchWise
							INNER JOIN FloorBatchWiseStock ON FloorBatchWiseStock.RawBatchId = ConsumptionBatchWise.RawBatchId
													AND FloorBatchWiseStock.PlantId = @PlantId
					WHERE	ConsumptionBatchWise.ConsumptionID = @ConsumptionID
							AND ((FloorBatchWiseStock.Stock - ConsumptionBatchWise.Quantity) < 0)
				)
				BEGIN
					ROLLBACK TRANSACTION
					RETURN -3
				END
 
				--SET @ProductionDate = (SELECT ProductionBatch.ProductionDate FROM ProductionBatch WHERE ProductionBatch.batchid = @BatchId)

				--SET @chargingQnty = -@chargingQnty 
				
					delete from @result
								INSERT  INTO @result
										( returnvalue
										)
						   
				EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @purchaseitemid, -- uniqueidentifier          
												@StockToAdd = @chargingQnty, -- float          
												@Tagging = 'Consumption', -- varchar(50)          
												@Process = 'Insert', -- varchar(50)          
												@ProcessCode = @ConsumptionID, -- varchar(max)          
												@ProcessDate = @ProductionDate, -- datetime          
												@UserID = @CreatedBy, -- bigint          
												@ConsumptionMethod = @ConsumptionMethod,
												@IsInwardBatchWise = @IsInwardBatchWise,
												@BatchDetails = @BatchDetails,
												@EntityId = @EntityId,
												@PlantId = @PlantId

							   
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
										
										
				 
				 exec dbo.ConsumptionTotalCost
						@PurchaseItemId = @purchaseitemid,
						@PageType = 0,
						@ConsumptionQty = @chargingQnty,
						@ConsumptionID = @ConsumptionID,
						@IsInwardBatchWise = @IsInwardBatchWise,
						@Date = @ProductionDate,
						@PlantId = @PlantId
						
				SET @ConsumptionQty = @chargingQnty;
		    END
		    
			IF(@IsEndPiece = 1 AND ISNULL(@EndPieceItemId, CAST(0x0 AS UNIQUEIDENTIFIER)) <> CAST(0x0 AS UNIQUEIDENTIFIER))
			BEGIN
			delete from @result
								INSERT  INTO @result
										( returnvalue
										)
				EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @EndPieceItemId, -- uniqueidentifier          
												@StockToAdd = @chargingQnty, -- float          
												@Tagging = 'Production', -- varchar(50)          
												@Process = 'Insert', -- varchar(50)          
												@ProcessCode = @BatchId, -- varchar(max)          
												@ProcessDate = @ProductionDate, -- datetime          
												@UserID = @CreatedBy, -- bigint          
												@ConsumptionMethod = @ConsumptionMethod,
												@IsInwardBatchWise = @IsInwardBatchWise,
												@BatchDetails = @BatchDetails,
												@EntityId = @EntityId,
												@PlantId = @PlantId
												
							   
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
										
										
			END
	        
		 
            -- Stock Manage End          
            FETCH NEXT FROM chargingentry INTO @purchaseitemid,
				@metalid, @chargingQnty, @ChargeName, @IsExclude, @BatchDetails, @IsEndPiece
        END

        CLOSE chargingentry;
        DEALLOCATE chargingentry;

		  Set @TotalProductionCost   = (Select Sum(Consumption.TotalCost) from Consumption Where batchid = @batchid and IsExclude = 0 and IsDeleted = 0) 
                
                UPDATE  ProductionBatch          
                SET     totalChargingQnty = @TotalChargingEntryWIthExclude ,  
                        TotalConsumedQtyWithExclude = @TotalChargingEntryWIthExclude ,
                        TotalCost = @TotalProductionCost      
                WHERE   batchID = @batchid   


        SET @PatternId = (SELECT TOP 1 Dieid FROM CastingMaster WHERE CastingId = @CastingId)
        
		SET @PatternRevisionID = ( 
			SELECT TOP 1 PatternRevisionId FROM   PatternMaster WHERE  PatternId = @PatternId 
		)
            
        INSERT INTO knockout (batchid, productionID, castingid, productionqty, okqty, rejectedqty,
				perpcweight, okqtytotalweight, rejectedqtytotalweight, reasonid, operatorId, patternId
				, HeatCode, CustomerCode, SandTypeId, PatternRevId
				, CuttingToolId, EndPieceItemId, ConsumptionQty, CreatedOn, CreatedBy,TargetQty,QtyPerBar)
		VALUES( @BatchId, 0, @CastingId, @stockqty, @stockqty, 0,
				@PerPcWt, @TotalWt, 0, 0, @OperatorId , @PatternId
				, @HeatCode, '', 0, @PatternRevisionID
				, @CuttingToolId, @EndPieceItemId, @ConsumptionQty, GETDATE(), @CreatedBy,@TargetQty,@QtyPerBar)
		
		SET @knockoutid = SCOPE_IDENTITY();
		
		 DECLARE	@Reason int =0,
			@TimeHr int = 0 ,
			@TimeMin int = 0
			
		--DECLARE MaintenanceTimeCursor CURSOR
		--	FOR
		--		SELECT  Node.value('(TimeInHr)[1]', 'int') AS 'TimeInHr' ,
		--				Node.value('(TimeInMin)[1]', 'int') AS 'TimeInMin' ,
		--				Node.value('(ReasonId)[1]', 'int') AS 'ReasonId'                       
		--		FROM    @XMLMaintenance.nodes('/DocumentElement/XMLMaintenance') AS TEMPXML ( Node ) 
		--			OPEN MaintenanceTimeCursor;

		--			FETCH NEXT FROM MaintenanceTimeCursor INTO @TimeHr, @TimeMin,@Reason
		--			WHILE ( @@FETCH_STATUS = 0 )
		--			BEGIN
						INSERT  INTO MSTimeDetail
								( 
								  ID,
								  MsProcessPerform ,
								  Knockoutid,
								  ReasonID,
								  TimeInHr,
								  TimeInMin
								  
								)
						SELECT
								  NEWID(), 
								  @ProcessID,
								  @knockoutid,
								   Node.value('(ReasonId)[1]', 'int') AS 'ReasonId',
								  Node.value('(TimeInHr)[1]', 'int') AS 'TimeInHr' ,
						          Node.value('(TimeInMin)[1]', 'int') AS 'TimeInMin' 
		                                                
				                    FROM    
				                    @XMLMaintenance.nodes('/DocumentElement/XMLMaintenance') AS TEMPXML ( Node )
								--)			
               
						--FETCH NEXT FROM MaintenanceTimeCursor INTO @TimeHr, @TimeMin,@Reason
					--END 

					--CLOSE MaintenanceTimeCursor;
					--DEALLOCATE MaintenanceTimeCursor
		
        
        
		--EXEC dbo.[UpdateCastingProductionInPattern] @PatternID = @PatternId, @Qty = @stockqty
		
		IF (@HeatCode IS NOT NULL AND @HeatCode <> '' 
			--AND @SinglePeiceCastingTraceability = 0
			--AND ((@OrderWisePouring = 0) OR ((SELECT ISNULL(IsTestBar, 0) FROM CastingMaster WHERE CastingId = @castingID) = 1))
		)
		BEGIN
			EXEC [dbo].[InsertUpdateHeatCode] @ProductionBatchID = @BatchId,
											@CastingID = @castingID,
											@HeatCode = @HeatCode,
											@Type = 0,
											@HeatCodeId = 0,
											@HeatCodeStock = @stockqty,
											@ProcessID = @ProcessID,
											@PlantId = @PlantId,
											@EntityId = @EntityId
		END
		
       
        
        IF @isHeatwise = 0 -- WITHOUT HEAT
		BEGIN

			EXEC [dbo].[FinishGoodStockUpdate] @CastingID = @CastingId,
											 @MetalID = @MetalId,
											 @StockToAdd = @stockqty,
											 @Tagging = N'Production',
											 @Process = N'Insert',
											 @ProcessCode = @knockoutid,
											 @ProcessDate = @ProductionDate,
											 @UserID = @CreatedBy,
											 @PlantId = @PlantId,
											 @EntityId = @EntityId
		  
		END 
		ELSE
		BEGIN -- WITH HEAT
			SET @CreatedOn = GETDATE();
			EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @CastingId,
											  @MetalID = @MetalId,
											  @StockToAdd = @stockqty,
											  @StockToRej = 0,
											  @ProcessID = @ProcessID,
											  @Tagging = N'Production',
											  @Process = N'Insert',
											  @ProcessCode = @knockoutid,
											  @productionbatchid = @BatchId,
											  @ProcessDate = @ProductionDate,
											  @isCastCodeEnable = @isCastCodeEnable,
											  @CastCode = @CastCode,
											  @KnockoutID = @KNOCKOUTID,
											  @UserID = @CreatedBy,
											  @EntityID = @EntityID,
											  @CreatedOn = @CreatedOn,
											  @BatchWeight = @PerPcWt,
											  @HeatCodeId = 0,
											  @PlantId = @PlantId,
	                                           @AddOnId1 = @AddOnId1
											  
		END
		 
        
			END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','chargingentry') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','chargingentry') > -1
				   BEGIN
					CLOSE chargingentry
				   END
				 DEALLOCATE chargingentry
				END	
			 return -1
			END	
        END Catch
        COMMIT TRANSACTION 
		RETURN 1
	END
	

	
	ELSE IF(@Parameter = 6)	-- Delete cutting for forging entry
		BEGIN
		BEGIN TRANSACTION
		BEGIN TRY 
		
		--HERE WE UPDATE MODIFIED ON AND POURING MODIFIED ON BOTH BECAUSE TRAIL LOG, WE NEED TO LOG OF BOTH PRODUCTION BATCH AND KNOCKOUT
		UPDATE	ProductionBatch
		SET		IsDeleted = 1,
				DeletedOn = GETDATE(),
				DeletedBy = @DeletedBy,
				PouringModifiedOn = GETDATE(),
				totalChargingQnty = 0,
				TotallossKG = 0,
				TotallossPER = 0,
				IsConsumptionEntered = 0
		WHERE	BatchID = @BatchId

---------------------------------------POURING-------------------------------------------------
		DECLARE @ConsumeQty FLOAT, @Availstock FLOAT 
		
		SELECT	@PlantId = PlantID, @EntityId = EntityId , @ProductionDate = ProductionDate
		FROM	ProductionBatch WHERE batchID = @BatchId
		
		SELECT @EndPieceItemId = EndPieceItemId, @ConsumeQty = ConsumptionQty FROM knockout WHERE batchid = @BatchId

		IF @isHeatwise = 1
		BEGIN
			SET @ProcessID = (SELECT TOP 1 ProcessId FROM ProcessMaster WHERE IsDefaultForging = 1)
		END

		SELECT	castingid, productionqty, okqty, RejectedQty, MetalID,
				knockoutid, ProductionDate, PatternId
		INTO	#temptableNew
		FROM	knockout,
				ProductionBatch
		WHERE	Knockout.batchid = Productionbatch.batchID
				AND Knockout.batchid = @batchid
				AND dbo.knockout.IsDeleted = 0
				--AND dbo.ProductionBatch.IsDeleted = 0

		-- Declare Cursor for Query                                    
		DECLARE pro_cusor CURSOR FOR
			
			SELECT	#temptableNew.[CastingID], #temptableNew.[OKQty], 
					#temptableNew.[MetalID], #temptableNew.[KnockoutID], #temptableNew.[ProductionDate]
			FROM	[dbo].[#temptableNew]

		OPEN pro_cusor -- Open Cursor                                    
		FETCH NEXT FROM pro_cusor INTO @CastingID, @stockqty,
			@MetalId, @knockoutid, @ProductionDate
		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			SET @Availstock = (	SELECT   Batchstock
								   FROM     CastingStockBatch
								   WHERE    CastingID = @CastingID
											AND ProcessID = @ProcessID
											AND MetalID = @MetalId
											AND CastingStockBatch.productionbatchID = @BatchId
											and CastingStockBatch.PlantID = @PlantId
											and CastingStockBatch.EntityId = @EntityId
											And CastingStockBatch.InTransit = @InTransit
											And CastingStockBatch.AddOnId1 = @AddOnId1
						      )
						 
			IF ( @Availstock < @stockqty )
				BEGIN
					Rollback TRANSACTION
					RETURN -1
				END	
				
			SET @finalokqty = -(@stockqty)

			IF @isHeatwise = 1
			BEGIN
				
				EXEC [dbo].[FinishGoodStockUpdateBATCH]	@CastingID = @CastingID,
														@CastingID2 = @CastingID,
														@MetalID = @MetalId,
														@StockToAdd = @finalokqty,
														@StockToRej = 0,
														@ProcessID = @ProcessID,
														@Tagging = N'Production',
														@Process = N'Delete',
														@ProcessCode = @knockoutid,
														@productionbatchid = @batchid,
														@ProcessDate = @ProductionDate,
														@UserID = @DeletedBy,
														@HeatCodeID = 0,
														@PlantId = @PlantId,
														@EntityId =@EntityId,
	                                                    @AddOnId1 = @AddOnId1

				 

			END
			ELSE
			BEGIN

				EXEC [dbo].[FinishGoodStockUpdate]	@CastingID = @CastingID,
													@CastingID2 = @CastingID,
													@MetalID = @MetalId,
													@StockToAdd = @finalokqty,
													@Tagging = N'Production',
													@Process = N'Delete',
													@ProcessCode = @knockoutid,
													@ProcessDate = @ProductionDate,
													@UserID = @DeletedBy,
													@PlantId = @PlantId,
													@EntityId = @EntityId
	                                               

				 

			END

			 
			FETCH NEXT FROM pro_cusor INTO @CastingID, @stockqty,
				@MetalId, @knockoutid, @ProductionDate;
		END;
		CLOSE pro_cusor; -- Close Cursor                                    
		DEALLOCATE pro_cusor;

		UPDATE Knockout SET IsDeleted = 1 ,DeletedOn = GETDATE(),
				DeletedBy = @DeletedBy WHERE BatchID = @batchid
 

		DROP TABLE #temptableNew

---------------------------------------MELTING-------------------------------------------------

		-- Consumption Delete Start
		
		DECLARE @qty float;

		DECLARE chargingentry CURSOR FOR
		
			SELECT ConsumptionId, purchaseitemID, consumptionqty FROM Consumption WHERE batchid = @BatchId AND IsDeleted = 0

		OPEN chargingentry;

		FETCH NEXT FROM chargingentry INTO @ConsumptionID, @purchaseitemid, @qty
		WHILE (@@FETCH_STATUS = 0)
		BEGIN

			UPDATE	Consumption
			SET		IsDeleted = 1,
					DeletedBY = @DeletedBY,
					DeletedOn = GETDATE()
			WHERE	ConsumptionID = @ConsumptionID
 

			SET @BatchDetails = (
				SELECT (
						SELECT RawBatchNo, ConsumptionBatchWise.RawBatchId, -Quantity AS TransactionQty
						FROM dbo.ConsumptionBatchWise
						INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.ConsumptionBatchWise.RawBatchId
						WHERE ConsumptionID = @ConsumptionID
					FOR xml PATH ('BatchDetails'), TYPE
				)
				FOR xml PATH (''), ROOT ('DocumentElement')
			)
			
			SET @qty = -@qty
			
					delete from @result
								INSERT  INTO @result
										( returnvalue
										)
			EXEC dbo.RawMaterialStockUpdate	@PurchaseItemID = @purchaseitemid, -- uniqueidentifier          
											@StockToAdd = @qty, -- float          
											@Tagging = 'Consumption', -- varchar(50)          
											@Process = 'Delete', -- varchar(50)          
											@ProcessCode = @ConsumptionID, -- varchar(max)          
											@ProcessDate = @ProductionDate, -- datetime          
											@UserID = @DeletedBY, -- bigint                               
											@ConsumptionMethod = @ConsumptionMethod,--          
											@IsInwardBatchWise = @IsInwardBatchWise,
											@BatchDetails = @BatchDetails,
											@EntityId = @EntityID,
											@PlantId = @PlantId

			    
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
										
										
			IF(ISNULL(@EndPieceItemId, @GUID_EMPTY) != @GUID_EMPTY)
			BEGIN
				
				IF ((SELECT Stock FROM   InventoryDetails 
					WHERE  PurchaseItemId = @EndPieceItemId AND Entity = @EntityId AND PlantId = @PlantId
                   ) < CONVERT(DECIMAL(18, 3), @ConsumeQty)
                )
				BEGIN
					ROLLBACK TRANSACTION
					RETURN -4
				END
				
				IF EXISTS (
					SELECT	1 
					FROM	ConsumptionBatchWise
							INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.ConsumptionBatchWise.RawBatchId
													AND dbo.RawInwBatchWiseStock.PlantId = @PlantId
							INNER JOIN dbo.RawInwBatchWiseStock AS EndPieceBatch ON EndPieceBatch.RawBatchNo = dbo.RawInwBatchWiseStock.RawBatchNo
													AND EndPieceBatch.PlantId = @PlantId
													AND EndPieceBatch.PurchaseItemId = @EndPieceItemId
					WHERE	ConsumptionBatchWise.ConsumptionID = @ConsumptionID
							AND ((EndPieceBatch.Qty - ConsumptionBatchWise.Quantity) < 0)
				)
				BEGIN
					ROLLBACK TRANSACTION
					RETURN -5
				END
				
				EXEC dbo.RawMaterialStockUpdate	@PurchaseItemID = @EndPieceItemId, -- uniqueidentifier
												@StockToAdd = @qty, -- float
												@Tagging = 'Production', -- varchar(50)
												@Process = 'Delete', -- varchar(50)
												@ProcessCode = @BatchId, -- varchar(max)
												@ProcessDate = @ProductionDate, -- datetime
												@UserID = @DeletedBY, -- bigint
												@ConsumptionMethod = @ConsumptionMethod,--
												@IsInwardBatchWise = @IsInwardBatchWise,
												@BatchDetails = @BatchDetails,
												@EntityId = @EntityID,
												@PlantId = @PlantId

				 
			END

			DELETE FROM dbo.ConsumptionBatchWise WHERE ConsumptionID = @ConsumptionID

			 

			DELETE FROM Consumption WHERE ConsumptionID = @ConsumptionID

			 
			-- Consumption Delete End 

			FETCH NEXT FROM chargingentry INTO @ConsumptionID,
			@purchaseitemid, @qty
		END

		CLOSE chargingentry;
		DEALLOCATE chargingentry;
		END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','pro_cusor') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','pro_cusor') > -1
				   BEGIN
					CLOSE pro_cusor
				   END
				 DEALLOCATE pro_cusor
				END	
				 	IF CURSOR_STATUS('global','chargingentry') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','chargingentry') > -1
				   BEGIN
					CLOSE chargingentry
				   END
				 DEALLOCATE chargingentry
				END	
			 return -6
			END	
        END Catch
		COMMIT TRANSACTION
		
		RETURN 1;
	END
	
	ELSE IF(@Parameter = 7)	-- get details for edit
	BEGIN
		SELECT
		Distinct	
		pb.batchID , pb.PlantID , pb.ProductionDate , pb.batchno
				, pb.OurEntryNo, pb.Shift, HRShiftMaster.ShiftId, pb.StartTime, pb.EndTime, pb.EmployeeId
				, knockout.castingid, cm.CastingName, pb.MetalID
				, Consumption.purchaseitemID, knockout.CuttingToolId, chc.HeatCode
				, knockout.ConsumptionQty, knockout.okqty, knockout.perpcweight, knockout.okqtytotalweight
				, knockout.EndPieceItemId, 
				(EndPieceItem.ItemName + '(' + EndPieceItem.ItemCode + ')') EndPieceItemName
				, Consumption.ConsumptionID
				,knockout.TargetQty,
				pb.EndDate,
				knockout.QtyPerBar
		FROM	ProductionBatch AS pb
				INNER JOIN knockout ON knockout.batchid = pb.batchID
				INNER JOIN CastingMaster AS cm ON cm.CastingId = knockout.castingid
				INNER JOIN Consumption ON Consumption.batchid = pb.batchID
				LEFT JOIN CastingHeatCode AS chc ON chc.CastingID = knockout.castingid
													AND chc.ProductionBatchID = knockout.batchid
													AND chc.Type = 0
				LEFT JOIN PurchaseItemMaster AS EndPieceItem ON EndPieceItem.PurchaseItemId = knockout.EndPieceItemId
				INNER JOIN HRShiftMaster ON HRShiftMaster.ShiftName = pb.Shift 
					and HRShiftMaster.EntityId = pb.EntityId
					and HRShiftMaster.ShiftType = 5
		WHERE	pb.IsDeleted = 0 AND pb.IsForging = 1
				AND pb.batchID = @BatchId
	END
	
	ELSE IF(@Parameter = 8)
	BEGIN
        set @TotalChargingEntryWIthExclude = 0    
		BEGIN TRANSACTION
		BEGIN TRY 
		IF EXISTS (SELECT 1 FROM ProductionBatch WHERE batchID = @BatchId AND IsDeleted = 1)
		BEGIN
		  COMMIT TRANSACTION
		  RETURN 2;
		END
		ELSE
		BEGIN
			--HERE WE UPDATE MODIFIED ON AND POURING MODIFIED ON BOTH BECAUSE TRAIL LOG, WE NEED TO LOG OF BOTH PRODUCTION BATCH AND KNOCKOUT
		  UPDATE dbo.ProductionBatch
		  SET Shift = @Shift,
			  ModifiedBY = @CreatedBY,
			  ModifiedOn = GETDATE(),
			  StartTime = @StartTime,
			  EndTime = @EndTime,
			  EmployeeId = @OperatorId,
			  EndDate = @ProductionEndDate,
			  PouringModifiedOn = GETDATE()
		  WHERE batchID = @BatchId
 
		END
		
		DECLARE chargingentry CURSOR FOR
			SELECT  Node.value('(purchaseitemid )[1]', 'uniqueidentifier') AS 'purchaseitemid',
					Node.value('(metalid )[1]', 'bigint') AS 'metalid',
					Node.value('(chargingQnty )[1]', 'float') AS 'chargingQnty',
					Node.value('(Charge )[1]', 'Varchar(50)') AS 'Charge',
					Node.value('(ExcludeInConsumption )[1]', 'int') AS 'ExcludeInConsumption',
					Node.value('(stockqty )[1]', 'float') AS 'stockqty',
					Node.query('BatchDetails/*') AS 'BatchDetails',
					Node.value('(IsEndPiece )[1]', 'int') AS 'IsEndPiece'
			FROM	@ChargeTable.nodes('/DocumentElement/ChargingTable')
		AS TEMPXML (Node)
		OPEN chargingentry;

		FETCH NEXT FROM chargingentry INTO @purchaseitemid, @metalid,
			@chargingQnty, @chargeName, @IsExclude, @Batchstockqty,
			@BatchDetails, @IsEndPiece

		WHILE (@@FETCH_STATUS = 0)
		BEGIN

			--IF NOT EXISTS (SELECT 1 FROM Consumption WHERE batchid = @BatchId AND purchaseitemID = @purchaseitemid AND EntityID = @entityID)
			--BEGIN
			--	INSERT INTO Consumption (batchid, purchaseitemiD, metalid, ChargeName, consumptionqty, createdon, IsDeleted,
			--				CreatedBy, EntityId, IsExclude)
			--	VALUES (@batchid, @purchaseitemid, @metalid, @chargeName, @chargingQnty, GETDATE(), 0
			--				, @CreatedBy, @EntityId, @IsExclude)

			--	IF @@Error <> 0
			--	  ROLLBACK TRANSACTION

			--	SET @ConsumptionID = SCOPE_IDENTITY();

			--	INSERT INTO dbo.ConsumptionBatchWise (ConsumptionBatchId,
			--				ConsumptionId,
			--				RawBatchId,
			--				Quantity)
			--	SELECT	NEWID(),
			--			@ConsumptionID,
			--			Node.value('(RawBatchId )[1]', 'int') AS 'RawBatchId',
			--			Node.value('(ConsumptionQty )[1]', 'float') AS 'ConsumptionQty'
			--	FROM	@BatchDetails.nodes('/DocumentElement/BatchDetails')
			--	AS TEMPXML (Node)
				
			--	IF @@Error <> 0
			--	  ROLLBACK TRANSACTION

			--	--SET @ProcessDate = (SELECT ProductionBatch.ProductionDate FROM ProductionBatch WHERE ProductionBatch.batchid = @batchid)

			--	--SET @chargingQnty = -@chargingQnty          
			--	EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @purchaseitemid, -- uniqueidentifier
			--									@StockToAdd = @chargingQnty, -- float
			--									@Tagging = 'Consumption', -- varchar(50)
			--									@Process = 'Insert', -- varchar(50)
			--									@ProcessCode = @ConsumptionID, -- varchar(max)
			--									@ProcessDate = @ProductionDate, -- datetime
			--									@UserID = @CreatedBy, -- bigint
			--									@ConsumptionMethod = @ConsumptionMethod,
			--									@IsInwardBatchWise = @IsInwardBatchWise,
			--									@BatchDetails = @BatchDetails,
			--									@EntityId = @EntityID,
			--									@PlantId = @PlantId

			--	IF @@Error <> 0
			--		ROLLBACK TRANSACTION
			--END
			--ELSE
			--BEGIN
			
			
			IF(@IsEndPiece = 0)
			BEGIN
				IF (@Batchstockqty > 0 AND
					((SELECT Stock
					 FROM   FloorInventoryDetails
					 WHERE  PurchaseItemId = @PurchaseItemId
							AND Entity = @EntityId
							AND PlantId = @PlantId
				   ) < CONVERT(DECIMAL(18, 3), @Batchstockqty))
				)
				BEGIN
					ROLLBACK TRANSACTION
					RETURN -2
				END
				
				set @TotalChargingEntryWIthExclude = @TotalChargingEntryWIthExclude  + @chargingQnty;   
				UPDATE Consumption
				SET consumptionqty = @chargingQnty,
					IsExclude = @IsExclude,
					ModifiedOn = GETDATE(),
					ModifiedBy = @CreatedBy
				WHERE batchid = @BatchId
				AND purchaseitemID = @purchaseitemid
				AND EntityID = @entityID

				SET @ConsumptionID = (
						SELECT consumptionID FROM dbo.Consumption
						WHERE batchid = @BatchId AND purchaseitemID = @purchaseitemid 
						AND EntityID = @entityID AND IsDeleted = 0)
				
				SELECT RawBatchId, ConsumptionID, Quantity
				INTO #OldConsumtionBatchTbl
				FROM dbo.ConsumptionBatchWise WHERE consumptionID = @ConsumptionID
				
				DELETE FROM dbo.ConsumptionBatchWise WHERE consumptionID = @ConsumptionID

				EXEC BatchWiseConsumptionEntry @BatchDetails = @BatchDetails,
											   @ConsumptionID = @ConsumptionID,
											   @ReferenceID = NULL
				
				IF (@Batchstockqty > 0 AND
					EXISTS (
					SELECT	1 
					FROM	ConsumptionBatchWise
							INNER JOIN FloorBatchWiseStock ON FloorBatchWiseStock.RawBatchId = ConsumptionBatchWise.RawBatchId
													AND FloorBatchWiseStock.PlantId = @PlantId
							LEFT JOIN #OldConsumtionBatchTbl AS OldTbl ON OldTbl.RawBatchId = ConsumptionBatchWise.RawBatchId
													AND OldTbl.ConsumptionID = ConsumptionBatchWise.ConsumptionID
					WHERE	ConsumptionBatchWise.ConsumptionID = @ConsumptionID
							AND (((FloorBatchWiseStock.Stock + OldTbl.Quantity) - ConsumptionBatchWise.Quantity) < 0)
							)
				)
				BEGIN
					ROLLBACK TRANSACTION
					RETURN -3
				END
				
				delete from @result
								INSERT  INTO @result
										( returnvalue
										)
				EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @purchaseitemid, -- uniqueidentifier          
												@StockToAdd = @Batchstockqty, -- float          
												@Tagging = 'Consumption', -- varchar(50)          
												@Process = 'Edit', -- varchar(50)          
												@ProcessCode = @ConsumptionID, -- varchar(max)          
												@ProcessDate = @ProductionDate, -- datetime          
												@UserID = @CreatedBy, -- bigint          
												@ConsumptionMethod = @ConsumptionMethod,
												@IsInwardBatchWise = @IsInwardBatchWise,
												@BatchDetails = @BatchDetails,
												@EntityId = @EntityID,
												@PlantId = @PlantId
				   
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
										
										
				exec dbo.ConsumptionTotalCost
					@PurchaseItemId = @purchaseitemid,
					@PageType = 0,
					@ConsumptionQty = @chargingQnty,
					@ConsumptionID = @ConsumptionID,
					@IsInwardBatchWise = @IsInwardBatchWise,
					@Date = @ProductionDate,
					@PlantId = @PlantId	
					
				SET @ConsumptionQty = @chargingQnty;
			END
			--END
			
			IF(@IsEndPiece = 1 AND ISNULL(@EndPieceItemId, CAST(0x0 AS UNIQUEIDENTIFIER)) <> CAST(0x0 AS UNIQUEIDENTIFIER))
			BEGIN
				IF (@Batchstockqty < 0 AND
					((SELECT Stock FROM   InventoryDetails 
					WHERE  PurchaseItemId = @EndPieceItemId AND Entity = @EntityId AND PlantId = @PlantId
                   ) < CONVERT(DECIMAL(18, 3), (-@Batchstockqty)))
                )
				BEGIN
					ROLLBACK TRANSACTION
					RETURN -4
				END
				
				IF (@Batchstockqty < 0 AND
					EXISTS (
					SELECT	1 
					FROM	ConsumptionBatchWise
							INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.ConsumptionBatchWise.RawBatchId
													AND dbo.RawInwBatchWiseStock.PlantId = @PlantId
							INNER JOIN dbo.RawInwBatchWiseStock AS EndPieceBatch ON EndPieceBatch.RawBatchNo = dbo.RawInwBatchWiseStock.RawBatchNo
													AND EndPieceBatch.PlantId = @PlantId
													AND EndPieceBatch.PurchaseItemId = @EndPieceItemId
							LEFT JOIN #OldConsumtionBatchTbl AS OldTbl ON OldTbl.RawBatchId = ConsumptionBatchWise.RawBatchId
													AND OldTbl.ConsumptionID = ConsumptionBatchWise.ConsumptionID
					WHERE	ConsumptionBatchWise.ConsumptionID = @ConsumptionID
							AND ((EndPieceBatch.Qty - (OldTbl.Quantity - ConsumptionBatchWise.Quantity)) < 0))
				)
				BEGIN
					ROLLBACK TRANSACTION
					RETURN -5
				END
				
					delete from @result
								INSERT  INTO @result
										( returnvalue
										)
				EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @EndPieceItemId, -- uniqueidentifier
												@StockToAdd = @Batchstockqty, -- float
												@Tagging = 'Production', -- varchar(50)
												@Process = 'Edit', -- varchar(50)
												@ProcessCode = @BatchId, -- varchar(max)
												@ProcessDate = @ProductionDate, -- datetime
												@UserID = @CreatedBy, -- bigint
												@ConsumptionMethod = @ConsumptionMethod,
												@IsInwardBatchWise = @IsInwardBatchWise,
												@BatchDetails = @BatchDetails,
												@EntityId = @EntityId,
												@PlantId = @PlantId
												   
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
										
										
			END
	        
			 

			FETCH NEXT FROM chargingentry INTO @purchaseitemid,
			@metalid, @chargingQnty, @chargeName, @IsExclude,
			@Batchstockqty, @BatchDetails, @IsEndPiece
		END

		CLOSE chargingentry;
		DEALLOCATE chargingentry;
		
		set @TotalProductionCost = (Select SUM(TotalCost) from Consumption Where batchid = @batchId and IsExclude = 0 and IsDeleted = 0)              
        UPDATE  ProductionBatch          
        SET     totalChargingQnty = @TotalChargingEntryWIthExclude , 
				TotalConsumedQtyWithExclude = @TotalChargingEntryWIthExclude,
				TotalCost = @TotalProductionCost         
        WHERE   batchID = @batchid               

		DROP TABLE #OldConsumtionBatchTbl
		
		-------------------------------------Pouring Entry-------------------------------------
		DECLARE @OldStockQty FLOAT = 0, @TransQty FLOAT = 0;
		
		SELECT	TOP 1 @knockoutid = knockoutid, @OldStockQty = okqty
		FROM	knockout 
		WHERE	knockout.castingid = @CastingId AND knockout.batchid = @BatchId AND IsDeleted = 0

		UPDATE	knockout
		SET		productionqty = @stockqty
				, okqty = @stockqty
				, perpcweight = @PerPcWt
				, okqtytotalweight = @TotalWt
				, operatorId = @OperatorId
				, HeatCode = @HeatCode
				, ConsumptionQty = @ConsumptionQty
				, ModifiedBy =@CreatedBy
				,ModifiedOn = GetDate()
				,TargetQty =@TargetQty
				,QtyPerBar = @QtyPerBar
		WHERE	knockout.knockoutid = @knockoutid
		
		SET @ProcessID = ( SELECT TOP 1 ProcessID FROM ProcessMaster WHERE IsDefaultForging = 1)
		
		delete from MSTimeDetail where Knockoutid = @knockoutid
		INSERT  INTO MSTimeDetail
								( 
								  ID,
								  MsProcessPerform ,
								  Knockoutid,
								  ReasonID,
								  TimeInHr,
								  TimeInMin
								  
								)
						SELECT
								  NEWID(), 
								  @ProcessID,
								  @knockoutid,
								   Node.value('(ReasonId)[1]', 'int') AS 'ReasonId',
								  Node.value('(TimeInHr)[1]', 'int') AS 'TimeInHr' ,
						          Node.value('(TimeInMin)[1]', 'int') AS 'TimeInMin' 
		                                                
				                    FROM    
				                    @XMLMaintenance.nodes('/DocumentElement/XMLMaintenance') AS TEMPXML ( Node )
		
		SET @TransQty = @stockqty - @OldStockQty
		
		
		DECLARE @ForgingAvailstock INT = 0
		SET @ForgingAvailstock = ( SELECT   Batchstock
							   FROM     CastingStockBatch
							   WHERE    CastingID = @CastingId
										AND ProcessID = @ProcessID
										AND MetalID = @MetalId
										AND CastingStockBatch.productionbatchID = @BatchId
										And CastingStockBatch.PlantId = @PlantId 
										and CastingStockBatch.EntityId = @EntityId
										and CastingStockBatch.InTransit = @InTransit
										and CastingStockBatch.AddOnId1 = @AddOnId1
										
						 )
					 
		IF (@ForgingAvailstock + @TransQty  < 0)
		BEGIN
			ROLLBACK TRANSACTION
			RETURN -6
		END	
		
		IF (@HeatCode IS NOT NULL AND @HeatCode <> '' 
			--AND @SinglePeiceCastingTraceability = 0
			--AND ((@OrderWisePouring = 0) OR ((SELECT ISNULL(IsTestBar, 0) FROM CastingMaster WHERE CastingId = @castingID) = 1))
		)
		BEGIN
			EXEC [dbo].[InsertUpdateHeatCode] @ProductionBatchID = @BatchId,
											@CastingID = @castingID,
											@HeatCode = @HeatCode,
											@Type = 0,
											@HeatCodeId = 0,
											@HeatCodeStock = @stockqty,
											@ProcessID = @ProcessID,
											@PlantId = @PlantId,
											 @EntityId = @EntityId
		END
		 
        
        IF @isHeatwise = 0 -- WITHOUT HEAT
		BEGIN

			EXEC [dbo].[FinishGoodStockUpdate] @CastingID = @CastingId,
											 @MetalID = @MetalId,
											 @StockToAdd = @TransQty,
											 @Tagging = N'Production',
											 @Process = N'EDIT',
											 @ProcessCode = @knockoutid,
											 @ProcessDate = @ProductionDate,
											 @UserID = @CreatedBy,
											 @PlantId = @PlantId,
											 @EntityId = @EntityId
		  
		END 
		ELSE
		BEGIN -- WITH HEAT
			SET @CreatedOn = GETDATE();
			
		 delete from @result 
            INSERT  INTO @result ( returnvalue )
			EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @CastingId,
											  @MetalID = @MetalId,
											  @StockToAdd = @TransQty,
											  @StockToRej = 0,
											  @ProcessID = @ProcessID,
											  @Tagging = N'Production',
											  @Process = N'EDIT',
											  @ProcessCode = @knockoutid,
											  @productionbatchid = @BatchId,
											  @ProcessDate = @ProductionDate,
											  @isCastCodeEnable = @isCastCodeEnable,
											  @CastCode = @CastCode,
											  @KnockoutID = @knockoutid,
											  @UserID = @CreatedBy,
											  @EntityID = @EntityId,
											  @CreatedOn = @CreatedOn,
											  @BatchWeight = @PerPcWt,
											  @HeatCodeId = 0,
											  @PlantId = @PlantId,
	                                          @AddOnId1 = @AddOnId1
											  
			IF (@@Error <> 0 OR ((SELECT returnvalue FROM @result) = 1) )
			BEGIN
				ROLLBACK TRANSACTION
				RETURN -6
			END
												  
		END
		 
        END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			 
			  	IF CURSOR_STATUS('global','chargingentry') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','chargingentry') > -1
				   BEGIN
					CLOSE chargingentry
				   END
				 DEALLOCATE chargingentry
				END	
			 return -1 
			END	
        END Catch
        COMMIT TRANSACTION
        
		RETURN 1
	END
	
END
GO
