USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[EmpRotationalShift_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[EmpRotationalShift_Register]
   @Parameter INT = 0 ,    
    @EmployeeId int=0,
@EmployeeName varchar(100)=null,
@EmployeeCode nvarchar(50)=null,
@ShowInHR int = 1,
@IsDeleted bit = 0,
@isFilterDeleteFlag INT = 0, 
@EntityId INT = 0,
@EarningId int = 0,
@DeletedBy int =0 ,
@DeletedOn Datetime = null ,
@Payrundate datetime = null,
@IsInitialExit bit = 0 ,
@EmployeeArrearsId int = 0 ,
@EmployeeDeptId int = 0,
@TypeofEmployeeId int = 0 
  
AS
BEGIN
 
	If @Parameter = 1
	Begin
		 select EmployeeName+' '+ LastName +'(' + EmployeeCode + ')' as EmployeeName, 
				EmployeeCode ,
				EmpRotationalShiftDetail.ShiftId,
				ShiftDate,
				EmpRotationalShiftDetail.ShiftSequence,
				ShiftDays,
				EmpRotationalShiftMaster.EmployeeId
			from EmployeeDetails 
			inner join EmpRotationalShiftMaster on EmployeeDetails.EmployeeId = EmpRotationalShiftMaster.EmployeeId
			inner join EmpRotationalShiftDetail on EmpRotationalShiftMaster.EmpRotationalShiftId = EmpRotationalShiftDetail.EmpRotationalShiftId
			--inner join HRShiftMaster on EmpRotationalShiftDetail.ShiftId  = HRShiftMaster.ShiftId
			where (@EmployeeId = 0 or EmployeeDetails.EmployeeId=@EmployeeId)			
			and (EmployeeDetails.IsDelete = 0)
			ANd EmployeeDetails.EntityId = @EntityId
			order by EmployeeCode, ShiftSequence
		
   
	End
      
      
      
   If @Parameter = 2
	Begin
		
		UPDATE  EmpRotationalShiftMaster
		SET     ShiftDate = null 
		WHERE   EmployeeId = @EmployeeId
		 
		UPDATE  EmpRotationalShiftDetail
		SET     IsDeleted = 1 ,
				DeletedBy = @DeletedBy , 
				DeletedOn = @DeletedOn
		WHERE   EmpRotationalShiftId in (select EmpRotationalShiftId from EmpRotationalShiftMaster
										where EmployeeId = @EmployeeId)
		
		 --delete from EmpShiftGeneration where 
			--						EmployeeId = @EmployeeId 
			--						and  ShiftDate > (select ShiftDate from EmpRotationalShiftMaster
			--											where EmployeeId = @EmployeeId )
		
   
	End
      
      End
GO
