USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[InsertBankName]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertBankName] 
	@BankName Varchar(50) = NULL
	
AS
BEGIN
	INSERT Banklist(BankId,BankName) values(NEWID(),@BankName)
END
GO
