USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GRNReports]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GRNReports]
  @InwardId UNIQUEIDENTIFIER = NULL 
   ,@PageType int = 0
   ,@JobOrderEnable bit = 0
   ,@IsMatInwJobWork int = 0
AS
BEGIN
	     
                SELECT  CASE WHEN RawMaterialInward.Prefix IS NULL THEN ''        
                             ELSE CONVERT(VARCHAR(50), RawMaterialInward.Prefix)        
                        END        
                        + CASE WHEN RawMaterialInward.Separator IS NULL        
                               THEN ''        
                               ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)        
                          END + CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo)        
                        + CASE WHEN RawMaterialInward.Separator IS NULL        
                               THEN ''        
                               ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)        
                          END        
                        + CASE WHEN RawMaterialInward.Suffix IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), RawMaterialInward.Suffix)        
                          END AS INWno ,        
                        RawMaterialInward.InwardDate ,        
                        RawMaterialInward.VehicleNo ,        
                        RawMaterialInward.BroughtBy ,        
                        RawMaterialInward.RefDocNo AS GateEntryNo ,        
                        RawMaterialInward.ChallanNo ,        
                        RawMaterialInward.ChallanDate ,        
                        RawMaterialInward.InvoiceNo ,        
                        RawMaterialInward.InvoiceDate ,        
                        RawMaterialInward.CustomerId ,        
                        (CASE WHEN ISNULL(RawMaterialInward.IsTransfer, 0) = 1 THEN plantmaster.PlantName
							ELSE CustomerMaster.CustomerName END) AS CustomerName ,        
                        InvoiceSeries.ReportTitle ,        
                        RawMaterialInward.WeightSlipNo ,        
                        RawMaterialInward.FreightAmount ,        
                        RawMaterialInward.RickshawFreight ,        
                        RawMaterialInward.LoadingUnloading ,        
                        RawMaterialInward.CreatedBy ,        
                        EmployeeDetails.EmployeeName ,        
                        WeightSlipNo ,        
                        LRNo      ,
                        RawMaterialInward.TransporterName  ,
                        RawMaterialInward.GrossWt,
                        RawMaterialInward.TareWt,
                        RawMaterialInward.NetWt ,                        
                        Case when RawMaterialInward.Modifiedon is null
                        then  CONVERT(VARCHAR(11), RawMaterialInward.CreatedOn, 106)+' '+CONVERT(VARCHAR(20),CONVERT(TIME, RawMaterialInward.CreatedOn),100)                          
                        else CONVERT(VARCHAR(11), RawMaterialInward.Modifiedon, 106) +' '+ CONVERT(VARCHAR(20),CONVERT(TIME, RawMaterialInward.Modifiedon),100) end as CreatedOn,
						plantmaster.PlantCode AS PlantCode
                FROM    RawMaterialInward        
                        LEFT JOIN CustomerMaster ON RawMaterialInward.CustomerId = CustomerMaster.CustomerId        
                        INNER JOIN InvoiceSeries ON InvoiceSeries.SeriesId = RawMaterialInward.SeriesId        
                        LEFT JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = RawMaterialInward.EmployeeId        
                        LEFT JOIN plantmaster ON plantmaster.plantid = RawMaterialInward.plantid
              
                WHERE   InwardId = @InwardId        
                        AND dbo.RawMaterialInward.IsDeleted = 0        
                               
  -- Added by Nikunj          
                if exists (Select * from RawMaterialInward Where InwardId = @InwardId and IsForJobReturn = 1 ) 
                Begin
				 set @PageType = 3
                End
				
                SELECT  isnull(PurchaseItemMaster.ItemCode,OtherItemCode) as ItemCode ,        
                        Isnull(PurchaseItemMaster.ItemName ,OtherItemName) as ItemName,        
                        Case When @IsMatInwJobWork=0 Then
							case when @PageType <> 3 then
							dbo.UOMMaster.UOM 
							else isnull(up.uom ,UOMTable.UOM) end
						else ISNULL((SELECT UOMMaster.UOM
								FROM UOMMaster 
								where UOMid=PurchaseItemMaster.UnitOfMeasure),'') end
                        as UOM ,
						Case When @IsMatInwJobWork=0 Then
							case when @PageType <> 3 then
							CONVERT(VARCHAR(11), PurchaseOrder_Master.OrderDate, 106)
							else CONVERT(VARCHAR(11), POM.OrderDate, 106) end
						else ISNULL((SELECT CONVERT(VARCHAR(11), OrderMaster.OrderDate, 106) 
								FROM OrderMaster 
								where CustomerOrderId=RawMaterialInwardDetail.PurchaseOrderId),'') end
                        as OrderDate ,
						Case When @IsMatInwJobWork=0 Then
							case when @PageType <> 3 then
							PurchaseOrder_Trans.RequiredQty 
							else PurchaseOrderServiceItemTrans.Qty end
						else ISNULL((SELECT  OrderTranse.RequiredQty
								FROM OrderTranse where OrderTranseId=RawMaterialInwardDetail.PurchaseOrderTransId),0) end
                        as RequiredQty ,
                        RawMaterialInwardDetail.Quantity ,        
                        RawMaterialInwardDetail.AcceptedQuantiy ,        
                        RawMaterialInwardDetail.RejectedQuantity ,        
                        case when @JobOrderEnable = 0 and @PageType = 3 then 0 else 
                        isnull(RawMaterialInwardDetail.SupplierBillQty,0) end as SupplierBillQty ,        
                        CASE WHEN ( RawMaterialInwardDetail.PendingQty < 0 )        
                             THEN 0        
                             ELSE RawMaterialInwardDetail.PendingQty        
                        END AS PendingQty , 
                       -- RawMaterialInwardDetail.PendingQty ,        
                        RawMaterialInwardDetail.TCNo ,        
                        CASE WHEN ( RawMaterialInwardDetail.TCReceived = 'false'        
                                    OR RawMaterialInwardDetail.TCReceived IS NULL        
                                  ) THEN 'No'        
                             ELSE 'Yes'        
                        END AS TCReceived ,        
                        RawMaterialInwardDetail.ItemRemarks ,        
                        RawMaterialInwardDetail.InwardId , 
						Case When @IsMatInwJobWork=0 Then
							case When @PageType <> 3 then
							( CONVERT(VARCHAR(11), ISNULL(PurchaseOrder_Master.Prefix, ''))      
								  + CONVERT(VARCHAR(11), ISNULL(PurchaseOrder_Master.Separator, ''))      
								  + CONVERT(VARCHAR(11), PurchaseOrder_Master.PONo)      
								  + CONVERT(VARCHAR(11), ISNULL(PurchaseOrder_Master.Separator, ''))      
								  + CONVERT(VARCHAR(11), ISNULL(PurchaseOrder_Master.Suffix, ''))      
							)
						else
						 ( CONVERT(VARCHAR(11), ISNULL(POM.Prefix, ''))      
								  + CONVERT(VARCHAR(11), ISNULL(POM.Separator, ''))      
								  + CONVERT(VARCHAR(11), POM.PONo)      
								  + CONVERT(VARCHAR(11), ISNULL(POM.Separator, ''))      
								  + CONVERT(VARCHAR(11), ISNULL(POM.Suffix, ''))      
							) end
						ELSE ISNULL((SELECT isnull(OrderMaster.Prefix,'') + 
											isnull(OrderMaster.Separator,'') +
											isnull(OrderMaster.OASrNo,'') +
											isnull(OrderMaster.Separator,'') +
											isnull(OrderMaster.Suffix,'') 
								FROM OrderMaster 
								where CustomerOrderId=RawMaterialInwardDetail.PurchaseOrderId),'') End 
                        AS PONo ,        
                        'Is Item' AS Parameter ,        
                        0 AS NoOfLoosePattern ,        
                        0 AS IsJobOrderPO ,        
                        '' AS DrawingNo ,        
                        '' AS PatternMaterial , 
						Case When @IsMatInwJobWork=0 Then ''
						ELSE
								isnull((SELECT  CastingMaster.CastingName        
                                FROM    CastingMaster        
                                WHERE   CastingMaster.CastingId in (select Top 1 CastingId 
																	from OrderTranse 
																	where OrderTranseId = RawMaterialInwardDetail.PurchaseOrderTransId)),'')        
						 end AS CastingName,        
						'' as JoNo,        
						'' AS ProcessName        
                FROM    RawMaterialInwardDetail 
						LEFT JOIN JobOutTranse On JobOutTranse.JoTranseId = RawMaterialInwardDetail.JoTranseId
						Left Join UOMMaster as UOMTable On UOMTable.UOMId = JobOutTranse.JOUOMId
						LEFT JOin RateContract On RateContract.RateContractId = JobOutTranse.RateContractId
                        Left JOIN PurchaseItemMaster ON RawMaterialInwardDetail.PurchaseItemId = PurchaseItemMaster.PurchaseItemId        
                        LEFT JOIN PurchaseOrderServiceItemTrans On PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID = dbo.RawMaterialInwardDetail.PurchaseOrderTransId and PurchaseOrderServiceItemTrans.IsDeleted = 0
						LEFT JOIN dbo.PurchaseOrder_Master as POM ON POM.PurchaseOrderId = PurchaseOrderServiceItemTrans.PurchaseOrderId      
						LEFT JOIN PurchaseOrder_Trans ON RawMaterialInwardDetail.PurchaseOrderTransId = PurchaseOrder_Trans.PurchaseOrderTransId and PurchaseOrder_Trans.IsDeleted = 0        
                        LEFT JOIN PurchaseOrder_Master ON PurchaseOrder_Trans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId        
                        LEFT JOIN dbo.UOMMaster ON dbo.UOMMaster.UOMid = dbo.RawMaterialInwardDetail.UnitOfMeasure        
						 left join UOMMaster as  up on up.UOMid = PurchaseOrderServiceItemTrans.UOMID  
                WHERE   RawMaterialInwardDetail.InwardId = @InwardId        
                        AND dbo.RawMaterialInwardDetail.IsDeleted = 0  and (@PageType != 3 Or  IsItemtype = 1 Or IsItemtype = 7) 
                        AND PurchaseItemMaster.IsPattern = 0 
                            
                UNION ALL        
                SELECT  dbo.PatternMaster.PatternCode AS ItemCode ,        
                        PatternMaster.PatternCode AS ItemName , 
                         case when @Pagetype<> 3 then 
							PurchaseOrderPatternPurchaseTrans.UOM 
                        else isnull(up.uom,UOMTable.UOM) end 
                        AS UOM ,             
                        case when @PageType <> 3 then
							CONVERT(VARCHAR(11), PurchaseOrder_Master.OrderDate, 106)
						else CONVERT(VARCHAR(11), POM.OrderDate, 106) end
                        as OrderDate ,       
                        case when @PageType <> 3 then
							PurchaseOrderPatternPurchaseTrans.RequiredQty 
						else PurchaseOrderServiceItemTrans.Qty end
                        as RequiredQty ,       
                        RawMaterialInwardDetail.Quantity AS Quantity ,        
                        RawMaterialInwardDetail.AcceptedQuantiy AS AcceptedQuantiy ,        
						'0' AS RejectedQuantity ,        
                        case when @PageType = 3 and @JobOrderEnable = 1 then RawMaterialInwardDetail.Quantity else 0 end AS SupplierBillQty , 
                         case when @PageType <> 3 then
							CASE WHEN ( ( PurchaseOrderPatternPurchaseTrans.RequiredQty        
                                      - RawMaterialInwardDetail.Quantity ) < 0 )        
                             THEN 0        
                             ELSE ( PurchaseOrderPatternPurchaseTrans.RequiredQty        
                                    - RawMaterialInwardDetail.Quantity )        
							END
						else CASE WHEN ( ( RawMaterialInwardDetail.PendingQty ) < 0 )        
                             THEN 0        
                             ELSE ( RawMaterialInwardDetail.PendingQty )        
							END 
                        end         
                        AS PendingQty ,        
                        IsPatternToBeMounted AS TCNo ,        
                        '' TCReceived ,        
                        RawMaterialInwardDetail.ItemRemarks as Remarks ,        
                        RawMaterialInwardDetail.InwardId ,        
						case when @PageType <> 3 then      
							( CONVERT(VARCHAR(11), ISNULL(PurchaseOrder_Master.Prefix, ''))      
                              + CONVERT(VARCHAR(11), ISNULL(PurchaseOrder_Master.Separator, ''))      
                              + CONVERT(VARCHAR(11), PurchaseOrder_Master.PONo)      
                              + CONVERT(VARCHAR(11), ISNULL(PurchaseOrder_Master.Separator, ''))      
                              + CONVERT(VARCHAR(11), ISNULL(PurchaseOrder_Master.Suffix, ''))      
                        )
                        else
							( CONVERT(VARCHAR(11), ISNULL(POM.Prefix, ''))      
                              + CONVERT(VARCHAR(11), ISNULL(POM.Separator, ''))      
                              + CONVERT(VARCHAR(11), POM.PONo)      
                              + CONVERT(VARCHAR(11), ISNULL(POM.Separator, ''))      
                              + CONVERT(VARCHAR(11), ISNULL(POM.Suffix, ''))      
                        ) end
                         AS PONo ,       
                        'Is Pattern' AS Parameter ,        
                        RawMaterialInwardDetail.NoOfLoosePattern ,        
                        0 AS IsJobOrderPO ,        
                        PatternMaster.DrawingNo AS DrawingNo ,        
                        PatternMaster.PatternMaterial AS PatternMaterial ,        
                        STUFF(( SELECT  ',' + CastingMaster.CastingName        
                                FROM    CastingMaster        
                                WHERE   CastingMaster.dieid = PatternMaster.PatternId        
                              FOR        
                                XML PATH('')        
                              ), 1, 1, '') AS CastingName,        
                        '' as JoNo,        
                        '' as ProcessName        
                FROM    dbo.RawMaterialInwardDetail
						LEFT JOIN JobOutTranse On JobOutTranse.JoTranseId = RawMaterialInwardDetail.JoTranseId
						Left Join UOMMaster as UOMTable On UOMTable.UOMID = JOBOUTTranse.JOUOMID
						LEFT JOin RateContract On RateContract.RateContractId = JobOutTranse.RateContractId     
                        LEFT JOIN dbo.PurchaseOrderPatternPurchaseTrans ON dbo.PurchaseOrderPatternPurchaseTrans.PurchaseOrderPatternId = dbo.RawMaterialInwardDetail.PurchaseOrderTransId and PurchaseOrderPatternPurchaseTrans.IsDeleted = 0       
                        INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.RawMaterialInwardDetail.InwardId        
                        INNER JOIN dbo.PatternMaster ON dbo.PatternMaster.PatternId = dbo.RawMaterialInwardDetail.PurchaseItemId        
                        Left JOIN PurchaseOrder_Master ON PurchaseOrderPatternPurchaseTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId 
                        LEFT JOIN PurchaseOrderServiceItemTrans On PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID = RawMaterialInwardDetail.PurchaseOrderTransId and PurchaseOrderServiceItemTrans.IsDeleted = 0
                        LEFT JOIN dbo.PurchaseOrder_Master as POM ON POM.PurchaseOrderId = PurchaseOrderServiceItemTrans.PurchaseOrderId      
                        left join UOMMaster as  up on up.UOMid = PurchaseOrderServiceItemTrans.UOMID  
                WHERE   RawMaterialInwardDetail.InwardId = @InwardId        
                        AND dbo.RawMaterialInwardDetail.IsDeleted = 0  
                        and (@PageType = 3 Or   PurchaseOrder_Master.PurchaseOrderId is not null) 
                        and RawMaterialInwardDetail.ispattern =1 
                ---------------Job Out for Other Process Item , Pattern and core box 
              
                UNION ALL        
                SELECT  case when InwardTrans.IsItemType = 6 then CoreBoxMaster.CoreMasterName else ItemCode
						end AS ItemCode ,        
                        case when InwardTrans.IsItemType = 6 then CoreBoxMaster.CoreMasterName  else ItemName
						end AS ItemName , 
                        UomMaster.UOM AS UOM ,             
                        CONVERT(VARCHAR(11), POM.OrderDate, 106) as OrderDate ,       
                        PurchaseOrderServiceItemTrans.Qty as RequiredQty ,       
                        InwardTrans.Qty AS Quantity ,        
                        InwardTrans.Qty AS AcceptedQuantiy ,        
						'0' AS RejectedQuantity ,        
                        case when @PageType = 3 and @JobOrderEnable = 1 then InwardTrans.Qty else 0 end  AS SupplierBillQty , 
                        CASE WHEN ( ( InwardTrans.PendingQty ) < 0 )        
                             THEN 0        
                             ELSE ( InwardTrans.PendingQty )        
							END 
                         AS PendingQty ,        
                        '' AS TCNo ,        
                        '' TCReceived ,        
                        '' as Remarks ,        
                        RawMaterialInward.InwardId ,        
						( CONVERT(VARCHAR(11), ISNULL(POM.Prefix, ''))      
                          + CONVERT(VARCHAR(11), ISNULL(POM.Separator, ''))      
                          + CONVERT(VARCHAR(11), POM.PONo)      
                          + CONVERT(VARCHAR(11), ISNULL(POM.Separator, ''))      
                          + CONVERT(VARCHAR(11), ISNULL(POM.Suffix, ''))      
                        ) 
                         AS PONo ,       
                        'Is Item' AS Parameter ,        
                        0 as NoOfLoosePattern ,        
                        0 AS IsJobOrderPO ,        
                        '' AS DrawingNo ,        
                        '' AS PatternMaterial ,        
                        '' AS CastingName,        
                        '' as JoNo,        
                        '' as ProcessName        
				FROM    InwardTrans
				INNER JOIN InwardMaster On InwardMaster.InwardId = InwardTrans.InwardId
				INNER JOIN RawMaterialInward On RawMaterialInward.InwardId = InwardMaster.RawMaterialInwardId
				Inner Join OutwardTrans On OutwardTrans.OutwardTransId = InwardTrans.OutwardTransId
				INNER JOIn JobOutItemTrans On JobOutItemTrans.JoItemTransId = OutwardTrans.JoItemTransId
				INNER JOIN JobOutTranse On JobOutTranse.JoTranseId = JobOutItemTrans.Jo_TranseId
				Left JOIN UOMMaster On UOMMaster.UOMId = JobOutTranse.JOUOMID
				Left Join SRNServiceDetailsTrans On SRNServiceDetailsTrans.JotranseId = JobOutTranse.JOTranseID
							and SRNServiceDetailsTrans.GatePassInInwardTransId = InwardTrans.InwardTransId
							and SRNServiceDetailsTrans.IsDeleted = 0
				LEFT JOIN dbo.PurchaseOrderServiceItemTrans ON PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID = SRNServiceDetailsTrans.PurchaseOrderServiceItemID  and PurchaseOrderServiceItemTrans.IsDeleted = 0     
				LEFT JOIN dbo.PurchaseOrder_Master as POM ON POM.PurchaseOrderId = PurchaseOrderServiceItemTrans.PurchaseOrderId  
				Left Join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId = JobOutTranse.CastingID 
				Left Join CoreBoxMaster On CoreBoxMaster.CoreMasterID = JobOutTranse.CastingID 
				WHERE   RawMaterialInward.InwardId = @InwardId    and (@PageType != 3 Or InwardTrans.IsItemType = 5 Or InwardTrans.IsItemType = 6 Or InwardTrans.IsItemType = 1)     
                        AND dbo.RawMaterialInward.IsDeleted = 0  and InwardTrans.Isdeleted = 0 and InwardMaster.Isdeleted = 0 
                        and JobOutTranse.RateContractId is null
			
                -------------------------------------------------------------
                UNION   ALL     
                SELECT  dbo.PatternMaster.PatternCode AS ItemCode ,        
                        PatternMaster.PatternCode AS ItemName ,        
                        UOMMaster.UOM AS UOM ,        
                        NULL AS OrderDate ,        
                        '0' AS RequiredQty ,        
                        RawMaterialInwardDetail.Quantity AS Quantity ,        
                        RawMaterialInwardDetail.AcceptedQuantiy AS AcceptedQuantiy ,        
                        '0' AS RejectedQuantity ,        
                        0 AS SupplierBillQty ,        
                        '0' AS PendingQty ,        
                        '0' AS TCNo ,        
                        '' TCReceived ,        
                        RawMaterialInwardDetail.ItemRemarks as Remarks ,        
                        RawMaterialInwardDetail.InwardId ,        
                        NULL AS PONo ,        
                        'Is Pattern' AS Parameter ,        
                        RawMaterialInwardDetail.NoOfLoosePattern ,        
                        0 AS IsJobOrderPO ,        
                        PatternMaster.DrawingNo AS DrawingNo ,        
                        PatternMaster.PatternMaterial AS PatternMaterial ,        
                        STUFF(( SELECT  ',' + CastingMaster.CastingName        
                                FROM    CastingMaster        
                                WHERE   CastingMaster.dieid = PatternMaster.PatternId        
								FOR        
                                XML PATH('')        
                              ), 1, 1, '') AS CastingName        
                        ,'' as JoNo,        
                        '' as ProcessName        
                FROM    dbo.RawMaterialInwardDetail 
                        INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.RawMaterialInwardDetail.InwardId        
                        INNER JOIN dbo.PatternMaster ON dbo.PatternMaster.PatternId = dbo.RawMaterialInwardDetail.PurchaseItemId
                        LEFT JOIN dbo.UOMMaster ON dbo.UOMMaster.UOMid = dbo.RawMaterialInwardDetail.UnitOfMeasure 
                                
                        --INNER JOIN PurchaseOrder_Master ON PurchaseOrderPatternPurchaseTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId        
                WHERE   RawMaterialInwardDetail.InwardId = @InwardId        
                        AND dbo.RawMaterialInwardDetail.IsDeleted = 0        
                        AND RawMaterialInwardDetail.PurchaseOrderTransId IS NULL 
                        And @pageType <> 3       
               
                UNION ALL        
                SELECT  case When @PageType <> 3 then       
							CoreMasterName 
                        else CoreBoxDetails.CoreBoxName end
                        AS ItemCode , 
                        Case when @pageType <> 3 then     
							CoreMasterName 
                        else CoreBoxDetails.CoreBoxName end
                        AS ItemName , 
                        case when @pageType <> 3 then
							PurchaseOrderCorePurchaseTrans.UOM 
                        else isnull(up.UOM,UOMMaster.UOM) end
                        AS UOM ,   
                        case when @PageType <> 3 then
							CONVERT(VARCHAR(11), PurchaseOrder_Master.OrderDate, 106)
						else CONVERT(VARCHAR(11), POM.OrderDate, 106) end
                        as OrderDate ,  
                        case when @pageType <> 3 then
							PurchaseOrderCorePurchaseTrans.RequiredQty
                        else PurchaseOrderServiceItemTrans.Qty end
                        AS RequiredQty ,       
                        CoreGRNDetail.InwardQty AS Quantity ,        
                        CoreGRNDetail.InwardQty AS AcceptedQuantiy ,        
                        '0' AS RejectedQuantity ,        
                        case when @PageType = 3 and @JobOrderEnable = 1 then CoreGrNDetail.InwardQty else 0 end   AS SupplierBillQty , 
                         case when @pageType <> 3 then
							 CASE WHEN ( ( PurchaseOrderCorePurchaseTrans.RequiredQty        
                                      - CoreGRNDetail.InwardQty ) < 0 ) THEN 0        
                             ELSE ( PurchaseOrderCorePurchaseTrans.RequiredQty        
                                    - CoreGRNDetail.InwardQty )        
							 END 
                        else  CASE WHEN ( (  CoreGRNDetail.PendingQty ) < 0 ) THEN 0        
                             ELSE ( CoreGRNDetail.PendingQty )        
							 END 
                        end
                        AS PendingQty ,        
                        '' AS TCNo ,        
                        '' TCReceived ,        
                        CoreGRNDetail.Remarks ,        
                        CoreGRNDetail.InwardId ,        
                        case when @PageType <> 3 then      
							( CONVERT(VARCHAR(11), ISNULL(PurchaseOrder_Master.Prefix, ''))      
								  + CONVERT(VARCHAR(11), ISNULL(PurchaseOrder_Master.Separator, ''))      
								  + CONVERT(VARCHAR(11), PurchaseOrder_Master.PONo)      
								  + CONVERT(VARCHAR(11), ISNULL(PurchaseOrder_Master.Separator, ''))      
								  + CONVERT(VARCHAR(11), ISNULL(PurchaseOrder_Master.Suffix, ''))      
							)
						else
							( CONVERT(VARCHAR(11), ISNULL(POM.Prefix, ''))      
							  + CONVERT(VARCHAR(11), ISNULL(POM.Separator, ''))      
							  + CONVERT(VARCHAR(11), POM.PONo)      
							  + CONVERT(VARCHAR(11), ISNULL(POM.Separator, ''))      
							  + CONVERT(VARCHAR(11), ISNULL(POM.Suffix, ''))      
							) end
						AS PONo ,        
                        'Is Core' AS Parameter ,        
                        CoreGRNDetail.NoOfLooseCore AS NoOfLoosePattern ,        
                        0 AS IsJobOrderPO ,        
                        PatternMaster.DrawingNo AS DrawingNo ,        
                        PatternMaster.PatternMaterial AS PatternMaterial ,        
                        STUFF(( SELECT  ',' + CastingMaster.CastingName        
                                FROM    CastingMaster        
                                WHERE   CastingMaster.dieid = PatternMaster.PatternId        
                              FOR        
                                XML PATH('')        
                              ), 1, 1, '') AS CastingName,        
                        '' as JoNo,        
                        '' as ProcessName        
                FROM    dbo.CoreGRNDetail
						LEFT JOIN JobOutTranse On JobOutTranse.JoTranseId = CoreGRNDetail.JoTranseId
						Left Join UOMMAster On UOMMAster.UOMId = joboutTranse.JOUOMId
						LEFT JOin RateContract On RateContract.RateContractId = JobOutTranse.RateContractId   
                        LEFT JOIN dbo.PurchaseOrderCorePurchaseTrans ON dbo.PurchaseOrderCorePurchaseTrans.PurchaseOrderCoreBoxId = dbo.CoreGRNDetail.PurchaseOrderCoreBoxId  AND PurchaseOrderCorePurchaseTrans.IsDeleted = 0      
                        INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.CoreGRNdetail.InwardId        
                        LEFT Join CoreBoxDetails On CoreBoxDetails.CoreBoxId = CoreGRNDetail.CoreBoxId
                        LEFT JOIN dbo.CoreBoxMaster ON dbo.CoreBoxMaster.CoreMasterID = dbo.CoreGRNDetail.CoreBoxID        
                        LEFT JOIN PurchaseOrder_Master ON PurchaseOrderCorePurchaseTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId        
                        INNER JOIN PatternMaster ON PatternMaster.PatternId = CoreGRNDetail.PatternID   
                        LEFT JOIN PurchaseOrderServiceItemTrans On PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID = CoreGRNDetail.PurchaseOrderCoreBoxId and PurchaseOrderServiceItemTrans.IsDeleted = 0
                        LEFT JOIN dbo.PurchaseOrder_Master as POM ON POM.PurchaseOrderId = PurchaseOrderServiceItemTrans.PurchaseOrderId      
                          left join UOMMaster as  up on up.UOMid = PurchaseOrderServiceItemTrans.UOMID                                         
                WHERE   CoreGRNDetail.InwardId = @InwardId        
                        AND dbo.CoreGRNDetail.IsDeleted = 0        
                --Harshad chauhan--        
     --           UNION ALL        
     --           SELECT  dbo.CoreBoxMaster.CoreMasterName AS ItemCode ,        
     --                   dbo.CoreBoxMaster.CoreMasterName AS ItemName ,        
     --                   dbo.PurchaseOrderCorePurchaseTrans.UOM ,        
     --                   CONVERT(VARCHAR(11), PurchaseOrder_Master.OrderDate, 106) AS OrderDate ,        
     --                   PurchaseOrderCorePurchaseTrans.RequiredQty ,        
     --                   CoreGRNDetail.InwardQty AS Quantity ,        
     --                   CoreGRNDetail.InwardQty AS AcceptedQuantiy ,        
     --                   '0' AS RejectedQuantity ,        
     --                   0 AS SupplierBillQty ,        
     --                   CASE WHEN ( ( PurchaseOrderCorePurchaseTrans.RequiredQty        
     --                                 - CoreGRNDetail.InwardQty ) < 0 ) THEN 0        
     --                        ELSE ( PurchaseOrderCorePurchaseTrans.RequiredQty        
     --                               - CoreGRNDetail.InwardQty )        
     --                   END AS PendingQty ,        
     --                   '' AS TCNo ,        
     --                   '' TCReceived ,        
     --                   CoreGRNDetail.Remarks ,        
     --                   CoreGRNDetail.InwardId ,        
     --                   CASE WHEN PurchaseOrder_Master.Prefix IS NULL THEN ''        
     --  ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Prefix)        
     --       END        
     --       +        
     --       CASE WHEN PurchaseOrder_Master.Separator IS NULL        
     --           THEN ''        
     --           ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Separator)        
     --       END         
     --       +         
     --       CONVERT(VARCHAR(20), PurchaseOrder_Master.PONo)        
     --       +        
     --       CASE WHEN PurchaseOrder_Master.Separator IS NULL        
     --  THEN ''        
     --           ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Separator)        
     --       END        
     --       +         
     --       CASE WHEN PurchaseOrder_Master.Suffix IS NULL         
     --  THEN ''        
     --           ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Suffix)        
     --       END         
     --AS PONo,        
     --                   'Is Core' AS Parameter ,        
     --                   CoreGRNDetail.NoOfLooseCore AS NoOfLoosePattern ,        
     --                   0 AS IsJobOrderPO ,        
     --                   '' AS DrawingNo ,        
     --                   DieMaster.DieType AS PatternMaterial ,        
     --                   STUFF(( SELECT  ',' + CastingMaster.CastingName        
     --                           FROM    CastingMaster        
     --                           WHERE   CastingMaster.dieid = DieMaster.dieid        
     --                         FOR        
     --                           XML PATH('')        
     --                         ), 1, 1, '') AS CastingName,        
     --                   '' as JoNo,        
     --                   '' as ProcessName        
     --           FROM    dbo.CoreGRNDetail        
     --                   INNER JOIN dbo.PurchaseOrderCorePurchaseTrans ON dbo.PurchaseOrderCorePurchaseTrans.PurchaseOrderCoreBoxId = dbo.CoreGRNDetail.PurchaseOrderCoreBoxId        
     --                   INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.CoreGRNdetail.InwardId        
     --                   INNER JOIN dbo.CoreBoxMaster ON dbo.CoreBoxMaster.CoreMasterID = dbo.CoreGRNDetail.CoreBoxID        
     --                   INNER JOIN PurchaseOrder_Master ON PurchaseOrderCorePurchaseTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId        
     --                   INNER JOIN DieMaster ON DieMaster.DieId = CoreGRNDetail.PatternID        
     --           WHERE   CoreGRNDetail.InwardId = @InwardId        
     --                   AND dbo.CoreGRNDetail.IsDeleted = 0        
                --Harshad Chauhan--        
 UNION ALL        
                SELECT  CastingMaster.CastingCode AS ItemCode ,        
                        CastingMaster.CastingName + '( '        
                        + MetalMaster.MetalName + ' ) ' AS ItemName ,        
                        PurchaseJobOrderTrans.UOM ,        
                        CONVERT(VARCHAR(11), PurchaseOrder_Master.OrderDate, 106) AS OrderDate ,        
                        PurchaseJobOrderTrans.OrderQty AS RequiredQty ,        
                        InwardJobCastingTranse.InwardQty AS Quantity ,        
                        InwardJobCastingTranse.InwardQty AS AcceptedQuantiy ,        
                        0 AS RejectedQuantity ,        
                        0 AS SupplierBillQty ,        
                        CASE WHEN ( InwardJobCastingTranse.PendingQty < 0 )        
                             THEN 0        
                             ELSE InwardJobCastingTranse.PendingQty        
                        END AS PendingQty ,        
                                
                       -- RawMaterialInwardDetail.PendingQty ,        
                        InwardJobCastingTranse.ReportNo AS TCNo ,        
                        CASE WHEN ( InwardJobCastingTranse.ReportReceived = 'false'        
                                    OR InwardJobCastingTranse.ReportReceived IS NULL        
                                  ) THEN 'No'        
                             ELSE 'Yes'        
                        END AS TCReceived ,        
                        '' AS ItemRemarks ,        
                        InwardJobCastingTranse.InwardID AS InwardId ,        
                        CASE WHEN PurchaseOrder_Master.Prefix IS NULL THEN ''        
       ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Prefix)        
            END        
            +        
            CASE WHEN PurchaseOrder_Master.Separator IS NULL        
                THEN ''        
                ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Separator)        
            END         
            +         
            CONVERT(VARCHAR(20), PurchaseOrder_Master.PONo)        
            +        
            CASE WHEN PurchaseOrder_Master.Separator IS NULL        
       THEN ''                    ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Separator)        
            END        
            +         
            CASE WHEN PurchaseOrder_Master.Suffix IS NULL         
       THEN ''        
                ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Suffix)        
            END         
     AS PONo,        
                        'Is Casting' AS Parameter ,        
                        0 AS NoOfLoosePattern ,        
                        1 AS IsJobOrderPO ,        
                        PatternMaster.DrawingNo AS DrawingNo ,        
                        PatternMaster.PatternMaterial AS PatternMaterial ,        
                        STUFF(( SELECT  ',' + CastingMaster.CastingName        
                                FROM    CastingMaster        
                                WHERE   CastingMaster.dieid = PatternMaster.PatternId        
                              FOR        
                                XML PATH('')        
                              ), 1, 1, '') AS CastingName,        
                        (isnull(JobOutMaster.Prefix,'') + isnull(JobOutMaster.Separator,'') + JobOutMaster.JONO        
                        + isnull(JobOutMaster.Separator,'') + isnull(jobOutMaster.Suffix,'') ) as JoNo,        
                        ProcessName        
                FROM    InwardJobCastingTranse        
      INNER JOIN JobReturnTranse On JobReturnTranse.JRTranseId =  InwardJobCastingTranse.JRTranseId        
                        INNER JOIN JobOutTranse On JobOutTranse.JoTranseID = JobReturnTranse.JoTranseID        
                        INNER JOIN JobOutmaster on joboutmaster.JoId = jobouttranse.JoId        
                        INNER JOIN ProcessMaster On ProcessMaster.ProcessId = JObOutMaster.ProcessId        
                        INNER JOIN CastingMaster ON CastingMaster.CastingId = InwardJobCastingTranse.CastingID        
                        INNER JOIN PurchaseJobOrderTrans ON PurchaseJobOrderTrans.JobOrderTransID = InwardJobCastingTranse.PurchaseJobOrderTranseID and PurchaseJobOrderTrans.IsDeleted = 0        
                        INNER JOIN MetalMaster ON MetalMaster.MetalId = PurchaseJobOrderTrans.MetalID        
                        INNER JOIN PurchaseOrder_Master ON PurchaseJobOrderTrans.PurchaseOrderID = PurchaseOrder_Master.PurchaseOrderId        
                        INNER JOIN PatternMaster ON PatternMaster.PatternId = CastingMaster.Dieid        
                WHERE   InwardJobCastingTranse.InwardID = @InwardId        
                        AND InwardJobCastingTranse.IsDeleted = 0        
                        AND JobOutTranse.Isdeleted = 0         
                        AND JobReturnTranse.Isdeleted = 0        
                        AND JobOutMaster.Isdeleted = 0        
      AND InwardJobCastingTranse.IsJobTransfer = 0  
      And @PageType <> 3      
         ------------ casting for job other Processses----
     UNION ALL        
            SELECT  CastingMaster.CastingCode AS ItemCode ,        
                    CastingMaster.CastingName + '( '        
                    + MetalMaster.MetalName + ' ) ' AS ItemName ,        
                    up.UOM as UOM ,        
                    CONVERT(VARCHAR(11), PurchaseOrder_Master.OrderDate, 106) AS OrderDate ,        
                    PurchaseOrderServiceItemTrans.qty AS RequiredQty ,        
                    InwardCastingPurchase.InwardQty AS Quantity ,        
                    InwardCastingPurchase.InwardQty AS AcceptedQuantiy ,        
                    0 AS RejectedQuantity ,        
                    case when @JobOrderEnable = 1 then InwardCastingPurchase.InwardQty else 0 end  AS SupplierBillQty ,        
                    CASE WHEN ( InwardCastingPurchase.PendingQty < 0 )        
                         THEN 0        
                         ELSE InwardCastingPurchase.PendingQty        
                    END AS PendingQty ,        
                            
                   -- RawMaterialInwardDetail.PendingQty ,        
                    InwardCastingPurchase.TCNo AS TCNo ,        
                    CASE WHEN ( InwardCastingPurchase.TCReceived = 'false'        
                                OR InwardCastingPurchase.TCReceived IS NULL        
                              ) THEN 'No'        
                         ELSE 'Yes'        
                    END AS TCReceived ,        
                    '' AS ItemRemarks ,        
                    InwardCastingPurchase.InwardID AS InwardId ,        
                    CASE WHEN PurchaseOrder_Master.Prefix IS NULL THEN ''        
				    ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Prefix)        
						END        
						+        
						CASE WHEN PurchaseOrder_Master.Separator IS NULL        
							THEN ''        
							ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Separator)        
						END         
						+         
						CONVERT(VARCHAR(20), PurchaseOrder_Master.PONo)        
						+        
						CASE WHEN PurchaseOrder_Master.Separator IS NULL        
				   THEN ''                    ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Separator)        
						END        
						+         
						CASE WHEN PurchaseOrder_Master.Suffix IS NULL         
				   THEN ''        
							ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Suffix)        
						END         
					AS PONo,        
                    'Is Casting' AS Parameter ,        
                    0 AS NoOfLoosePattern ,        
                    0 AS IsJobOrderPO ,        
                    PatternMaster.DrawingNo AS DrawingNo ,        
                    PatternMaster.PatternMaterial AS PatternMaterial ,        
                    STUFF(( SELECT  ',' + CastingMaster.CastingName        
                            FROM    CastingMaster        
                            WHERE   CastingMaster.dieid = PatternMaster.PatternId        
                          FOR        
                            XML PATH('')        
                          ), 1, 1, '') AS CastingName,        
                    (isnull(JobOutMaster.Prefix,'') + isnull(JobOutMaster.Separator,'') + JobOutMaster.JONO        
                    + isnull(JobOutMaster.Separator,'') + isnull(jobOutMaster.Suffix,'') ) as JoNo
                    , '' AS ProcessName        
			FROM    InwardCastingPurchase        
				    INNER JOIN JobOutTranse On JobOutTranse.JoTranseID = InwardCastingPurchase.JoTranseID        
                    
                    INNER JOIN JobOutMaster on joboutMaster.JoId = jobouttranse.JoId        
                    --INNER JOIN InwardCastingHeatDetails On InwardCastingHeatDetails.InwardcastingPurchaseId = InwardCastingPurchase.InwardCastingPurchaseId      
                    --INNER JOIN ProcessMaster On ProcessMaster.ProcessId = InwardCastingHeatDetails.ProcessId        
                    INNER JOIN CastingMaster ON CastingMaster.CastingId = InwardCastingPurchase.CastingID        
                    LEFT JOIN PurchaseOrderServiceItemTrans ON PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID = InwardCastingPurchase.PurchaseOrderCastingPurchaseID and PurchaseOrderServiceItemTrans.IsDeleted = 0       
                    INNER JOIN MetalMaster ON MetalMaster.MetalId = InwardCastingPurchase.MetalID        
                    LEFT JOIN PurchaseOrder_Master ON PurchaseOrderServiceItemTrans.PurchaseOrderID = PurchaseOrder_Master.PurchaseOrderId        
                    INNER JOIN PatternMaster ON PatternMaster.PatternId = CastingMaster.Dieid        
					 left join UOMMaster as  up on up.UOMid = PurchaseOrderServiceItemTrans.UOMID
            WHERE   InwardCastingPurchase.InwardID = @InwardId        
                    AND InwardCastingPurchase.IsDeleted = 0        
                    AND JobOutTranse.Isdeleted = 0           
                    AND JobOutMaster.Isdeleted = 0        
					And @PageType = 3                  
         ----   
            
                SELECT DISTINCT        
                        CompanyMaster.NameOfOrganization ,        
                        CompanyMaster.Address + ',' + CompanyMaster.City + ','        
                        + CompanyMaster.State + '.' AS CompanyFullAddress ,        
                        RawMaterialInward.Remarks        
                FROM    RawMaterialInward        
                        INNER JOIN CompanyMaster ON RawMaterialInward.EntityId = CompanyMaster.EntityId        
                WHERE   RawMaterialInward.InwardId = @InwardId        
                        AND dbo.RawMaterialInward.IsDeleted = 0        
        
                SELECT  PurchaseItemMaster.ItemCode ,        
                        PurchaseItemMaster.ItemName ,        
                        dbo.UOMMaster.UOM ,        
                        RawMaterialInwardDetail.Quantity ,        
                        RawMaterialInwardDetail.AcceptedQuantiy ,        
                        RawMaterialInwardDetail.RejectedQuantity ,        
                        RawMaterialInwardDetail.SupplierBillQty AS SupplierBillQty ,        
                        RawMaterialInwardDetail.PendingQty ,        
                        RawMaterialInwardDetail.TCNo ,        
                        CASE WHEN ( RawMaterialInwardDetail.TCReceived = 'false'        
                                    OR RawMaterialInwardDetail.TCReceived IS NULL        
                                  ) THEN 'No'        
                             ELSE 'Yes'        
                        END AS TCReceived ,        
                        RawMaterialInwardDetail.ItemRemarks        
                FROM    RawMaterialInwardDetail        
                        INNER JOIN PurchaseItemMaster ON RawMaterialInwardDetail.PurchaseItemId = PurchaseItemMaster.PurchaseItemId        
                        INNER JOIN dbo.UOMMaster ON dbo.UOMMaster.UOMid = dbo.RawMaterialInwardDetail.UnitOfMeasure        
                WHERE   RawMaterialInwardDetail.InwardId = @InwardId        
                        AND dbo.RawMaterialInwardDetail.IsDeleted = 0  
                        AND RawMaterialInwardDetail.Ispattern = 0      
                UNION --Added by yashvi        
                SELECT  CastingMaster.CastingCode AS ItemCode ,        
                        CastingMaster.CastingName AS ItemName ,        
                        PurchaseJobOrderTrans.UOM ,        
                        InwardJobCastingTranse.InwardQty AS Quantity ,        
                        InwardJobCastingTranse.InwardQty AS AcceptedQuantiy ,        
                        0 AS RejectedQuantity ,        
                        0 AS SupplierBillQty ,        
                        InwardJobCastingTranse.PendingQty AS PendingQty ,        
                        InwardJobCastingTranse.ReportNo AS TCNo ,        
                        CASE WHEN ( InwardJobCastingTranse.ReportReceived = 'false'        
                                    OR InwardJobCastingTranse.ReportReceived IS NULL        
                                  ) THEN 'No'        
                             ELSE 'Yes'        
                        END AS TCReceived ,        
                        '' AS ItemRemarks        
                FROM    InwardJobCastingTranse        
                        INNER JOIN CastingMaster ON CastingMaster.CastingId = InwardJobCastingTranse.CastingID        
                        INNER JOIN PurchaseJobOrderTrans ON PurchaseJobOrderTrans.JobOrderTransID = InwardJobCastingTranse.PurchaseJobOrderTranseID        
                WHERE   InwardJobCastingTranse.InwardID = @InwardId        
                        AND InwardJobCastingTranse.IsDeleted = 0  
						and PurchaseJobOrderTrans.IsDeleted = 0
        
              
END
GO
