USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[InsertUpdateBatchRate]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertUpdateBatchRate] 
	@RawBatchId int,
	@Rate float
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 BEGIN TRY 
			  
		if exists (Select 1 from BatchWiseRate where RawBatchId = @RawBatchId)
		Begin
			Update BatchWiseRate set rate = @Rate  where rawBatchid = @RawBatchId
		End
		else
		begin
			Insert into BatchWiseRate (id,rawBatchid,rate)
			Values(newid(),@RawBatchId,@Rate)
		end
	END TRY 
    BEGIN Catch
		return -1
	END Catch 
		return 1
END
GO
