USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[HeatNo_ProductionReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================          
-- Author:  <Author,,Name>          
-- Create date: <Create Date,,>          
-- Description: <Description,,>          
-- =============================================          
CREATE PROCEDURE [dbo].[HeatNo_ProductionReport]
    @EntityID INT = 0 ,          
	@FromDate DATETIME = NULL , 
	@ToDate DATETIME = NULL
AS          
    BEGIN          
    
		SET NOCOUNT ON;          
		
			SELECT Distinct pb.batchno,pb.batchID
            FROM    ProductionBatch as pb                              
            WHERE   pb.EntityId = @EntityId and pb.IsDeleted = 0
					AND ( (@FromDate IS NULL AND @ToDate IS NULL)         
							  OR CONVERT(DATE, ProductionDate) BETWEEN CONVERT(DATE, @FromDate) AND CONVERT(DATE, @ToDate)        
						)  
            order by pb.batchno 
END 
GO
