USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchDispatchOtherChargeTaxation]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchDispatchOtherChargeTaxation] 
	
	@DispatchId int
	
AS
BEGIN

	Declare @SrNo int;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

           Set @SrNo = (Select MIN(DispatchOtherCharges.SrNo) from DispatchOtherCharges inner join LedgerMaster on DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId
        where DispatchOtherCharges.DispatchId = @DispatchId
        and UnderTaxation in (1,2,3) )    -- This will find charges Above GST because on that Tax is going to calculate
                                                           
        Select sum(ChargeAmount) as Amount from DispatchOtherCharges INNER JOIN LedgerMaster
        ON DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId   
        INNER JOIN LedgerGroup on LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId     
        And DispatchOtherCharges.SrNo < @SrNo
        where DispatchOtherCharges.DispatchId = @DispatchId
        And (ChargeAmount is not null or ChargeAmount != 0)
        Having ISNULL(sum(ChargeAmount),0) > 0
        
        Set @SrNo = (Select MAX(DispatchOtherCharges.SrNo) from DispatchOtherCharges inner join LedgerMaster on DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId
        where DispatchOtherCharges.DispatchId = @DispatchId
        and UnderTaxation in (1,2,3) ) -- This will find charges Below GST because on that Tax is not going to calculate on that
        
        Select sum(ChargeAmount) as Amount from 
        DispatchOtherCharges INNER JOIN LedgerMaster ON DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId  
        INNER JOIN LedgerGroup on LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId               
        And DispatchOtherCharges.SrNo > @SrNo
        where DispatchOtherCharges.DispatchId = @DispatchId
        And (ChargeAmount is not null or ChargeAmount != 0) 
        Having ISNULL(sum(ChargeAmount),0) > 0
        
		if exists( select 1 from dispatchmaster Where DispatchId = @DispatchId  And TypeOfVoucher = 2 )
		Begin 
			Select	Sum(Round(dispatchtrans.TotalAmount * HSNIGST /100,2))  as TaxAmount  ,
					1 as UnderTaxation
			from	dispatchtrans 
					Inner Join dispatchmaster on dispatchmaster.DispatchID = dispatchtrans.dispatchid
			Where	dispatchtrans.DispatchId = @DispatchId  And dispatchtrans.IsDeleted = 0 
					and IsIGST  = 1
			union all
			Select	ROund(Sum(Round(dispatchtrans.TotalAmount * HSNIGST /100,2))/2,2)  as TaxAmount  ,
					2 as UnderTaxation
			from	dispatchtrans 
					Inner Join dispatchmaster on dispatchmaster.DispatchID = dispatchtrans.dispatchid
			Where	dispatchtrans.DispatchId = @DispatchId  And dispatchtrans.IsDeleted = 0 
					and IsIGST  = 0
			union all
			Select	Round(Sum(Round(dispatchtrans.TotalAmount * HSNIGST /100,2))/2,2)  as TaxAmount  ,
					3 as UnderTaxation
			from	dispatchtrans 
					Inner Join dispatchmaster on dispatchmaster.DispatchID = dispatchtrans.dispatchid
			Where	dispatchtrans.DispatchId = @DispatchId  And dispatchtrans.IsDeleted = 0 
					and IsIGST  = 0
		End
		Else
		Begin
        Select ChargeName,ISNULL(ChargeAmount,0) as TaxAmount , LedgerMaster.UnderTaxation , LedgerMaster.IsRoundOff as TaxRoundoff from 
        DispatchOtherCharges INNER JOIN LedgerMaster ON DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId                               
        where DispatchOtherCharges.DispatchId = @DispatchId  
        And LedgerMaster.UnderTaxation in (1,2,3)
		End
END
GO
