USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchPartDwgNoWeight]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[FetchPartDwgNoWeight]
    @CastingID Uniqueidentifier,
    @MetalID int=0,
    @ProcessID uniqueidentifier = null,
    @Parameter int
  , @P_CustomerId UNIQUEIDENTIFIER = NULL
  , @P_CondOfSupply INT = 0
  
AS
    BEGIN
    
		IF @Parameter = 1
		BEGIN
			SELECT DrawingNo,CastingNetWeight, AfterMachiningWeight,GrossWeight,RoughMachiningWeight from CastingMetal where castingID=@CastingID and metalid=@MetalID
        END  
        
        IF @Parameter = 2
        BEGIN
        
			Declare @PrevProcessID uniqueidentifier;
			IF EXISTS(Select ProcessID from CastingProcess where CastingID=@CastingID and MetalId=@MetalID and Sequence=(Select Sequence from CastingProcess where CastingID=@CastingID and MetalId=@MetalID and ProcessID=@ProcessID)-1)
			BEGIN							
				Set @PrevProcessID = (Select ProcessID from CastingProcess where CastingID=@CastingID and MetalId=@MetalID and Sequence=(Select Sequence from CastingProcess where CastingID=@CastingID and MetalId=@MetalID and ProcessID=@ProcessID)-1)
			
				Select Weight as CastingNetWeight from CastingPartNo where CastingId=@CastingID and MetalID=@MetalID and ProcessId=@PrevProcessID and isnull(CastingPartNo.IsDeleted,0) = 0
				
			END
			
        END 
        
        IF @Parameter = 3
        BEGIN
        
			Select Weight as CastingNetWeight from CastingPartNo where CastingId=@CastingID and MetalID=@MetalID and ProcessId=@ProcessID and isnull(CastingPartNo.IsDeleted,0) = 0
        
        END            
        
        IF @Parameter = 4
		BEGIN
			DECLARE @V_RateId INT = 0, @V_Rate FLOAT = 0, @V_UOM VARCHAR(50) = NULL
			SET @V_RateId = (	SELECT	TOP 1 RateID FROM CPRateMaster 
								WHERE	ISNULL(IsDeleted, 0) = 0 AND SupplierID = @P_CustomerId 
								AND CastingID = @CastingID AND MetalID = @MetalID 
								AND CondOfSupply = @P_CondOfSupply)
		
			IF (ISNULL(@V_RateId, 0) != 0)
			BEGIN
				IF EXISTS(SELECT TOP 1 1	FROM CPRateMaster 
											WHERE RateID = @V_RateId AND CAST(EffectiveDate AS DATE) <= CAST(GETDATE() AS DATE))
				BEGIN
					SELECT @V_Rate = Rate, @V_UOM = UOM FROM CPRateMaster WHERE RateID = @V_RateId
				END
				ELSE
				BEGIN
					SELECT TOP 1 @V_Rate = Rate, @V_UOM = UOM
					FROM CPRateMasterHistory
					WHERE	SupplierID = @P_CustomerId 
					AND CastingID = @CastingID AND MetalID = @MetalID 
					AND CondOfSupply = @P_CondOfSupply AND CAST(EffectiveDate AS DATE) <= CAST(GETDATE() AS DATE)
					ORDER BY CPRateHistoryId DESC
				END
			END
						
			DECLARE @Cond_Of_Supply NVARCHAR(100) = ''
			SELECT @Cond_Of_Supply = UniqueName FROM CommonData_Master WHERE [Group] = 'Cond_Of_Supply' AND CommonDataId = @P_CondOfSupply
			
			if exists (select * from CastingMaster where CastingId = @CastingID and ParentID is null)
			begin
			SELECT	(CASE WHEN @Cond_Of_Supply = 'Raw_Casting' THEN DrawingNo
						  WHEN @Cond_Of_Supply = 'Rough_Machining' THEN RoughMachineDrawing
						  WHEN @Cond_Of_Supply = 'Fully_Machined' THEN FullMachineDrawing
						  WHEN @Cond_Of_Supply = 'Assembly' THEN DrawingNo
						END
					) AS DrawingNo
					, (CASE WHEN @Cond_Of_Supply = 'Raw_Casting' THEN CastingNetWeight
							WHEN @Cond_Of_Supply = 'Rough_Machining' 
								THEN (CASE	WHEN ISNULL(RoughMachiningWeight, 0) != 0 THEN RoughMachiningWeight
											ELSE CastingNetWeight END)
							WHEN @Cond_Of_Supply = 'Fully_Machined' 
								THEN (CASE	WHEN ISNULL(AfterMachiningWeight, 0) != 0 THEN AfterMachiningWeight
											WHEN ISNULL(RoughMachiningWeight, 0) != 0 THEN RoughMachiningWeight
											ELSE CastingNetWeight END
								)
							WHEN @Cond_Of_Supply ='Assembly' 
							THEN CastingNetWeight
						END
					) AS POCastingWt
					, GrossWeight, CastingNetWeight, RoughMachiningWeight, AfterMachiningWeight
					, ISNULL(@V_Rate, 0) AS CastingRate, @V_UOM AS UOM
			FROM	CastingMetal 
			WHERE	CastingMetal.castingID = @CastingID AND CastingMetal.metalid=@MetalID
			end
			else
			begin
				SELECT	( DrawingNo
						  
					) AS DrawingNo
					, ( CastingNetWeight
							
					) AS POCastingWt
					, GrossWeight, CastingNetWeight, RoughMachiningWeight, AfterMachiningWeight
					, ISNULL(@V_Rate, 0) AS CastingRate, @V_UOM AS UOM
			FROM	CastingMetal 
			WHERE	CastingMetal.castingID = @CastingID AND CastingMetal.metalid=@MetalID
			end
					
        END  
    END
GO
