USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[InsertUpdateTaxTemplate]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertUpdateTaxTemplate]
    @Parameter INT = 0 ,
    @ChargesDetail AS XML = NULL ,
    @TemplateName VARCHAR(200) = NULL ,
    @IsDefault BIT = 0 ,
    @IsDefaultForPurchase BIT = 0 ,
    @TemplateID UNIQUEIDENTIFIER = NULL
  , @EntityID INT = 0
AS
    BEGIN

        IF @Parameter = 1
            BEGIN
	
                SET @TemplateID = NEWID();
	
                IF @IsDefault = 1
                BEGIN
                    UPDATE  TaxLedgerTemplateMaster
                    SET     isdefault = 0
                    WHERE CompanyID = @EntityID
                END  
				
				IF @IsDefaultForPurchase = 1
                BEGIN
                    UPDATE  TaxLedgerTemplateMaster
                    SET     isdefaultForPurchase = 0
                    WHERE CompanyID = @EntityID
                END
	
                INSERT  INTO TaxLedgerTemplateMaster
                        ( TemplateID ,
                          TemplateName ,
                          IsDefault ,
                          CompanyID,
						  IsDefaultForPurchase
                        )
                VALUES  ( @TemplateID ,
                          @TemplateName ,
                          @IsDefault ,
                          @EntityID,
						  @IsDefaultForPurchase
                        )
	
                INSERT  INTO TaxSequenceTemplateMaster
                        ( TaxTemplateId ,
                          SrNo ,
                          ChargeId ,
                          TaxLedgerTemplateID ,
                          CalculationID ,
                          particularChargeID
                        )
                        SELECT  NEWID() ,
                                Node.value('(SrNo )[1]', 'int') AS 'SrNo' ,
                                Node.value('(ChargeId )[1]', 'UniqueIdentifier') AS 'ChargeId' ,
                                @TemplateID ,
                                Node.value('(CalculationID )[1]', 'int') AS 'CalculationID' ,
                                Node.value('(ParticularChargeID )[1]',
                                           'UniqueIdentifier') AS 'ParticularChargeID'
                        FROM    @ChargesDetail.nodes('/DocumentElement/ChargesDetail')
                                AS TEMPXML ( Node )
		
            END
	
        IF @Parameter = 2
            BEGIN	
	
                IF @IsDefault = 1
                BEGIN
                    UPDATE  TaxLedgerTemplateMaster
                    SET     isdefault = 0
                    WHERE CompanyId = @EntityID
                END
			IF @IsDefaultForPurchase = 1
                BEGIN
                    UPDATE  TaxLedgerTemplateMaster
                    SET     isdefaultForPurchase = 0
                    WHERE CompanyId = @EntityID
                END

                UPDATE  TaxLedgerTemplateMaster
                SET     TemplateName = @TemplateName ,
                        isdefault = @IsDefault,
                        isdefaultForPurchase = @IsDefaultForPurchase
                WHERE   TemplateID = @TemplateID
	
                DELETE  FROM TaxSequenceTemplateMaster
                WHERE   TaxSequenceTemplateMaster.TaxLedgerTemplateID = @TemplateID
	
                INSERT  INTO TaxSequenceTemplateMaster
                        ( TaxTemplateId ,
                          SrNo ,
                          ChargeId ,
                          TaxLedgerTemplateID ,
                          CalculationID ,
                          particularChargeID
                        )
                        SELECT  NEWID() ,
                                Node.value('(SrNo )[1]', 'int') AS 'SrNo' ,
                                Node.value('(ChargeId )[1]', 'UniqueIdentifier') AS 'ChargeId' ,
                                @TemplateID ,
                                Node.value('(CalculationID )[1]', 'int') AS 'CalculationID' ,
                                Node.value('(ParticularChargeID )[1]',
                                           'UniqueIdentifier') AS 'ParticularChargeID'
                        FROM    @ChargesDetail.nodes('/DocumentElement/ChargesDetail')
                                AS TEMPXML ( Node )
		
            END
    END
GO
