USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PatternAssemblyProduction_Delete]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PatternAssemblyProduction_Delete]
@ProductionBatchId UNIQUEIDENTIFIER,
@DeletedBy INT
AS
BEGIN
	BEGIN  TRY
	BEGIN TRANSACTION PatternAssemblyProduction_Delete

	     declare
	     @PlantId Bigint,
		 @EntityId BigInt,
		 @PatternID uniqueidentifier,
		 @Stock int ,
		 @ProcessDate Datetime,
		 @UserId int,
		 @BatchNo Nvarchar(200),
		 @CastingCavityDet Nvarchar(Max),
		 @AssemblyID uniqueidentifier,
		 @MoldTypeId uniqueidentifier,
		 @OrderId uniqueidentifier = null

		 --IF EXISTS (select 1 from CoatingDetails where MethodID = MethodId and  CoatFromID = CAST(0x0 AS UNIQUEIDENTIFIER) and IsDeleted = 0)
		 --BEGIN
		 --  ROLLBACK TRANSACTION PatternAssemblyProduction_Delete
		 --  RETURN -4
		 --END
		 if exists(Select 1 from PatternProduction where ProductionBatchId = @ProductionBatchID AND IsAssembly = 1 and AvailDeWaxQty != NoOfShots)
		 begin
			rollback transaction
			return -4
		 end

		 IF NOT EXISTS(Select * from PatternProduction where ProductionBatchId = @ProductionBatchID AND IsAssembly = 1 AND IsDeleted  = 1)
		 BEGIN


		                    Select 
							@PlantId = PlantID ,
							@EntityId = EntityId,
							@PatternID = MethodId,
							@Stock = NoOfShots,
							@UserId = CreatedBy,
							@BatchNo = BatchNo,
							@CastingCavityDet = CastingCavityDet,
							@AssemblyID = DieID,
							@MoldTypeId = MoldTypeId
							,@OrderId = isnull(OrderTranseId,cast(0x0 as uniqueidentifier))
							from 
							PatternProduction 
							where 
							ProductionBatchId = @ProductionBatchID


						   declare @RawBatchNo Nvarchar(Max)

						   --IF Exists ( select 1 from RawInwBatchWiseStock where PurchaseItemId = @AssemblyID and Ref_Id = @MoldTypeId
						   --and StockTypeID = @PatternID and PlantId = @PlantId and EntityId = @EntityID)
						   --BEGIN

						    select top 1 @RawBatchNo = RawBatchNo from RawInwBatchWiseStock 
							where PurchaseItemId = @AssemblyID and StockTypeID = @PatternID and Ref_Id = @MoldTypeId
							and PlantId = @PlantId and EntityId = @EntityID and OrderTranseId = isnull(@OrderId , cast(0x0 as uniqueidentifier))

						   --END
						   --ELSE
						   --BEGIN
						   -- select top 1 @RawBatchNo = BatchNo from PatternProduction where DieID = @AssemblyID and MethodId = @PatternID  and IsAssembly = 1 and IsDeleted = 0 and PlantID = @PlantId order by CreatedOn
						   --END

						   --need to discuss
						  -- IF @RawBatchNo = @BatchNo
						  -- BEGIN

							 --  IF (select Count(*) from PatternProduction where MoldtypeId = @MoldTypeId and DieID = @AssemblyID and MethodId = @PatternID  and IsAssembly = 1 and IsDeleted = 0 and PlantID = @PlantId) > 1
							 --  BEGIN

						  --      ROLLBACK TRANSACTION PatternAssemblyProduction_Delete
							 --   RETURN -5

								--END
						  -- END
		                     
		                    select
							case when PatternProduction.NoOfShots > RawInwBatchWiseStock.Qty then 1 else 2 end IsExist
							into #IsCheckStock
							from 
							PatternProduction 
							Inner JOIN RawInwBatchWiseStock ON RawInwBatchWiseStock.StockTypeID = PatternProduction.MethodId
							WHERE
							PatternProduction.ProductionBatchId = @ProductionBatchID
							and RawInwBatchWiseStock.RawBatchNo = @RawBatchNo
							and RawInwBatchWiseStock.OrderTranseId = isnull(@OrderId, cast(0x0 as uniqueidentifier))
							and RawInwBatchWiseStock.PlantId = PatternProduction.PlantID
							and RawInwBatchWiseStock.EntityId = PatternProduction.EntityId
							And RawInwBatchWiseStock.Ref_Id = PatternProduction.MoldtypeId


							IF NOT EXISTS(SELECT * FROM #IsCheckStock WHERE  IsExist = 1)
							BEGIN


									DECLARE 
									@MasterJson Nvarchar(MAX),
									@MasterDet Nvarchar(MAX),
									@PatternConsDet Nvarchar(MAX)


							     SET  @PatternConsDet   = ( SELECT
						          '['+
                                 (STUFF(( SELECT DISTINCT              
                                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                                  FROM      
								  PatternProductionDetails
								  inner join PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = PatternProductionDetails.PatternID
								  where 
								  ProductionBatchID = @ProductionBatchID 
								  and ConsumptionDet <> '' 
								  AND PurchaseItemMaster.IsPatDieWax in (2,4)
                                  FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) +']' AS ConsumptionDet  )


								CREATE TABLE #PatternCons(ProductionBatchID uniqueidentifier,PurchaseItemId uniqueidentifier,BatchNo Nvarchar(200),TransactionQty decimal(18,2),RawBatchID int)
								IF ISJSON(@PatternConsDet) = 1
								BEGIN
								  
								   INSERT INTO #PatternCons(ProductionBatchID,PurchaseItemId,BatchNo,TransactionQty,RawBatchID)
								   Select
								   @ProductionBatchID as ProductionBatchID, 
								   PatternCon.PurchaseItemID,
								   PatternCon.RawBatchNo,
								   PatternCon.TransactionQty,
								   PatternCon.RawBatchId
								   from
								   OPENJSON(@PatternConsDet)
								   WITH
								   (
								   PurchaseItemID uniqueidentifier,
								   RawBatchNo Nvarchar(200),
								   TransactionQty decimal(18,2),
								   RawBatchId int
								   ) as PatternCon


								END



									SET @MasterJson = (
									
									SELECT*
									FROM
									(
									select 
									PatternProduction.ProductionBatchId as ProcessCode,
									PatternProduction.DieID as PatternID,
									PatternProduction.NoOfShots *(-1) as TransactionQty,
									---PatternProduction.BatchNo as RawBatchNo,
									@RawBatchNo as RawBatchNo,
									PatternProduction.PlantId,
									PatternProduction.EntityId,
									PatternProduction.ProductionDate as ProcessDate,
									PatternProduction.CreatedBy as UserId,
									isnull(@OrderId, cast(0x0 as uniqueidentifier)) as OrderTranseId
									from 
									PatternProduction
									WHERE
									PatternProduction.ProductionBatchId = @ProductionBatchID

									UNION ALL			

									SELECT
									PatternProduction.ProductionBatchID as ProcessCode,
									#PatternCons.PurchaseItemId  as PatternID,
									#PatternCons.TransactionQty as TransactionQty,
									#PatternCons.BatchNo COLLATE DATABASE_DEFAULT as  RawBatchNo,
									PatternProduction.PlantId,
									PatternProduction.EntityId,
									PatternProduction.ProductionDate as ProcessDate,
									PatternProduction.CreatedBy as UserId,
									isnull(@OrderId , cast(0x0 as uniqueidentifier)) as OrderTranseId
									from
									#PatternCons
									inner JOIN PatternProduction ON PatternProduction.ProductionBatchID  = #PatternCons.ProductionBatchID
									where
									#PatternCons.TransactionQty <> 0
									AND PatternProduction.ProductionBatchId = @ProductionBatchID
									) as t

									for json PATH
									)


							     SET    @MasterDet   = ( SELECT
						          '['+
                                 (STUFF(( SELECT DISTINCT              
                                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                                  FROM      
								  PatternProductionDetails
								  inner join PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = PatternProductionDetails.PatternID
								  where 
								  ProductionBatchID = @ProductionBatchID 
								  and ConsumptionDet <> '' 
								  AND PurchaseItemMaster.IsPatDieWax = 0
                                  FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) +']' AS ConsumptionDet  )


								-- Declare @MoldTypeId uniqueidentifier

								 --SELECT
								 -- CastCavity.CastingId,
								 -- CastCavity.Cavity
								 -- INTO #TempCastingCavitydelete
								 -- FROM
								 -- OPENJSON(@CastingCavityDet)
								 -- WITH
								 -- (
									--CastingId uniqueidentifier,
									--Cavity int
								 -- ) as CastCavity


								  --Select
								  --Distinct
								  --TOP 1
								  --@MoldTypeId = MoldTypeID
								  --from
								  --MoldInventoryType
								  --inner join #TempCastingCavitydelete ON MoldInventoryType.CastingId = #TempCastingCavitydelete.CastingId
								  --AND MoldInventoryType.Cavity = #TempCastingCavitydelete.Cavity
								  --and MoldInventoryType.PatternID = @PatternID


								 -- drop table #TempCastingCavitydelete

								  If @Stock > (select MoldInventory.MoldInventory from MoldInventory Where MoldInventory.MoldingTypeID = @MoldTypeId AND PlantId = @PlantID and MoldInventory.Type_ID = CAST(0x0 AS UNIQUEIDENTIFIER))
								  BEGIN

								  ROLLBACK TRANSACTION PatternAssemblyProduction_Delete
								  RETURN -4

								  END


			                   EXEC PatternStock_Management @JsonPattern = @MasterJson,
						       @JsonConsumption= @MasterDet ,
						       @PlantId = @PlantId,
						       @EntityId = @EntityId,
							   @Process = 'Delete',
							   @Tagging = 'PatternAssemblyProduction',
							   @BlockQty = 1




								 IF ISJSON(@CastingCavityDet) = 1
								 BEGIN

						
								 EXEC PatternMold_Management @CastingCavityJson = @CastingCavityDet,
								 @RawBatchNo = @RawBatchNo,
								 @PatternID = @PatternID,
								 @Stock= @Stock,
								 @PlantID = @PlantId,
								 @EntityID = @EntityId,
								 @Process ='Delete',
								 @ProcessCode = @ProductionBatchID,
								 @ProcessDate = @ProcessDate,
								 @Tagging = 'PatternAssemblyProduction',
								 @UserId =@UserId,
								 @IsCavityUpdated = 0,
								 @PreviousCastingCavity = NULL,
								 @AssemblyID = @AssemblyID,
								 @MoldTypeId = @MoldTypeId,
								 @OrderId = @OrderId

								 END


									 --Declare
									 --@RawBatchID INT,
									 --@ReferenceId uniqueidentifier
									 --SELECT @RawBatchID = RawBatchId from RawInwBatchWiseStock WHERE PurchaseItemId = @AssemblyID 
									 --AND  RawBatchNo = @BatchNo and PlantId = @PlantID AND EntityId = @EntityID

								 -- delete from MoldInventoryType where MoldTypeID in (Select Ref_Id from RawInwBatchWiseStock where RawBatchId = @RawBatchID)

								  --Delete from RawInwBatchWiseStock where RawBatchId = @RawBatchID

							      Update PatternProduction SET IsDeleted = 1,DeletedOn = GETDATE(),DeletedBy = @DeletedBy WHERE ProductionBatchID = @ProductionBatchID

								 -- delete from MoldInventory where  MoldInventory.MoldingTypeID = @MoldTypeId AND PlantId = @PlantID and MoldInventory.Type_ID = CAST(0x0 AS UNIQUEIDENTIFIER)


							END
							ELSE
							BEGIN

							    ROLLBACK TRANSACTION PatternAssemblyProduction_Delete
							    RETURN -2

							END



					     

			END
			ELSE
			BEGIN
			
			ROLLBACK TRANSACTION PatternAssemblyProduction_Delete
			RETURN -3

			END


	COMMIT TRANSACTION PatternAssemblyProduction_Delete
	RETURN 1
	END TRY
	BEGIN CATCH
	ROLLBACK TRANSACTION PatternAssemblyProduction_Delete
	--insert into test_1 select ERROR_MESSAGE()
	RETURN -1
	END CATCH
END
GO
