USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[OpeningStock]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[OpeningStock]
	-- Add the parameters for the stored procedure here
	
	@EntityID int = 0 , 
	@UserID INT = 0 ,
	@Createdon DATETIME = NULL ,
	@isCastCodeEnable INT = 0,
	@SinglePeiceCastingTraceability int = 0,
	@BatchXMl XML = null,
    @HeatCodeDetails AS XML = null
	
AS
BEGIN
    BEGIN TRANSACTION
	BEGIN TRY 
	
	DECLARE @result TABLE ( returnvalue INT );
	declare		@MHHeatCodeID INT,
				@MHBatchStockDiff INT,
				@MHIsDeleted INT,
				@HOldBatchStockDiff int,
				@MHOldBatchStockDiff int ,
				@MHNew int = 0,
				@HeatNo VARCHAR(20) ,
             -- @ProductionBatchID BIGINT ,
                @HeatDate DATETIME ,
                @entryno VARCHAR(12) ,
                @Prsrno BIGINT ,
                @CheckNewHeatOrNot bit,
                @CastCode XML,
                @Weight FLOAT = 0 ,
				@CurrentYearTwoDigit nvarchar(5) = '' ,
				@Month nvarchar(10) = '' , 
				@ProductionBatchID int = 0,
				@CurrentMonth nvarchar(5) = '',
				@CurrentYear nvarchar(5) = '',
				@MetalID BIGINT = 0 ,
				@castingID UNIQUEIDENTIFIER = NULL ,
				@Transferqty INT = 0 ,
				@HeatCode VARCHAR(50) = NULL ,
				@CustomerCode VARCHAR(50) = NULL ,
				@OperatorId INT = 0 ,
				@SandTypeId INT = 0 ,
				@HHeatCode VARCHAR(50) = NULL,
				@HProductionBatchID INT = 0,
				@HCastingID UNIQUEIDENTIFIER = NULL ,
				@HHeatCodeID INT = 0,
				@HIsDeleted  INT = 0,
				@HBatchStockDiff  INT = 0,
				@HProcessID   UNIQUEIDENTIFIER = NULL,
				@HHeatNo VARCHAR(50) = NULL,
				@PlantId INT = 0,
				@HeatCodeId bigint = 0,
				@ProcessID UNIQUEIDENTIFIER = NULL ,
				@HCustomerOrderId UNIQUEIDENTIFIER = NULL,
				@HCastingHeatCodeID UNIQUEIDENTIFIER = null
                
            DECLARE ModifyStock CURSOR
            FOR
                SELECT  Node.value('(CastingID )[1]', 'uniqueidentifier') AS 'CastingID' ,
                        Node.value('(HeatNo )[1]', 'varchar(20)') AS 'HeatNo' ,
                        Node.value('(HeatDate )[1]', 'datetime') AS 'HeatDate' ,
                        Node.value('(ModifyStock )[1]', 'int') AS 'ModifyStock' ,
                        Node.value('(ProductionBatchID )[1]', 'bigint') AS 'ProductionBatchID' ,
                        Node.value('(ProcessID )[1]', 'uniqueidentifier') AS 'ProcessID' ,
                        Node.value('(MetalID )[1]', 'int') AS 'MetalID' ,
                        Node.value('(HeatCode )[1]', 'varchar(50)') AS 'HeatCode' ,
                        Node.value('(CustomerCode )[1]', 'varchar(50)') AS 'CustomerCode' ,
                        Node.value('(OperatorId )[1]', 'int') AS 'OperatorId' ,
                        Node.value('(SandTypeId )[1]', 'int') AS 'SandTypeId' ,
                        Node.value('(PlantId )[1]', 'int') AS 'PlantId' ,
                        Node.query('CastCode/*') AS 'InnerXML'------                         
                FROM    @BatchXMl.nodes('/DocumentElement/BatchTable') AS TEMPXML ( Node ) 
            OPEN ModifyStock;

            FETCH NEXT FROM ModifyStock INTO @castingID, @HeatNo, @HeatDate,
                @Transferqty, @ProductionBatchID, @ProcessID, @MetalID,
                @HeatCode, @CustomerCode, @OperatorId, @SandTypeId, @PlantId, @CastCode
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN
                    SET @Weight = ( SELECT TOP 1 CastingNetWeight FROM    CastingMetal 
									WHERE   castingID = @castingID AND metalid = @MetalID )
                    
                    --SET @PlantId = (SELECT DISTINCT TOP 1 PlantId FROM PlantCastingMapping WHERE CastingId = @castingID)

                    IF @ProductionBatchID IS NULL
                        OR @ProductionBatchID = 0
                        BEGIN
							Set @CheckNewHeatOrNot = 1;
						
							
						set @Month =	(SELECT top 1 isnull(FinancialYear,1) as FinancialYear    
								FROM    dbo.configuration    
								where EntityID = @EntityID)
						
						set @CurrentYearTwoDigit = (select ( YEAR( GETDATE() ) % 100 ))	
						
						set @CurrentMonth = (SELECT SUBSTRING(CONVERT(nvarchar(6),getdate(), 112),5,2))	
						
						set @CurrentYear = (select ( year( GETDATE() )))
								
						SET @entryno = (	SELECT  ( '05' + @CurrentYearTwoDigit
                                          + @CurrentMonth
                                          + REPLACE(STR(ISNULL(MAX(CAST(SUBSTRING(OurEntryNo,
                                                              7, 5) AS BIGINT)),
                                                              0) + 1,
                                                        5),
                                                    SPACE(1), '0') ) AS 'EntryNo'
                                FROM    ProductionBatch
                                WHERE   ProductionDate BETWEEN CAST(@Month AS VARCHAR(2))
                                                              + '/01/'
                                                              + CAST(@CurrentYear AS VARCHAR(4))
                                                       AND    DATEADD(Second,
                                                              -1,
                                                              CAST(@Month AS VARCHAR(2))
                                                              + '/01/'
                                                              + CAST(@CurrentYear
                                                              + 1 AS VARCHAR(4)))
                                        AND EntityId = @EntityId  
                                        AND ProductionBatch.IsDeleted = 0)
                                        
                        
                            SET @Prsrno = ( SELECT  ISNULL(MAX(PrsrNo), 0) + 1
                                            FROM    ProductionBatch
                                          )     
					
                            INSERT  INTO ProductionBatch
                                    ( batchno ,
                                      OurEntryNo ,
                                      MetalID ,
                                      Furnace ,
                                      Shift ,
                                      ProductionDate ,
                                      PRSrNo ,
                                      CreatedBy ,
                                      CreatedOn ,
                                      BatchType ,
                                      EntityId ,
                                      PlantID
                                    )
                            VALUES  ( @HeatNo ,
                                      @entryno ,
                                      @MetalID ,
                                      'F1' ,
                                      'Shift1' ,
                                      @HeatDate ,
                                      @Prsrno ,
                                      @UserID ,
                                      GETDATE() ,
                                      1 ,
                                      @EntityID ,
                                      @PlantId
                                    )
					
                            SET @ProductionBatchID = @@IDENTITY;	
                           		
                        END
                 ----------------
                    UPDATE  ProductionBatch
                    SET     isHeatStockManuallyUpdate = 1
                    WHERE   batchID = @ProductionBatchID
					     
                    IF EXISTS ( SELECT  *
                                FROM    dbo.ModifyStock
                                WHERE   ProductionBatchId = @ProductionBatchID
                                        AND CastingId = @castingID
                                        And PlantId = @PlantId
                                        And EntityId = @EntityID )
                        BEGIN
                            UPDATE  dbo.ModifyStock
                            SET     Stock = Stock + @Transferqty ,
                                    HeatCode = @HeatCode ,
                                    CustomerCode = @CustomerCode
                            WHERE   ProductionBatchId = @ProductionBatchID
                                    AND CastingId = @castingID
                                    And PlantId = @PlantId
                                    And EntityId = @EntityID
                        END
                    ELSE
                        BEGIN
							set 	@CheckNewHeatOrNot = 0;
                            INSERT  INTO dbo.ModifyStock
                                    ( CastingId ,
                                      ProductionBatchId ,
                                      MetalId ,
                                      Stock ,
                                      SandTypeId ,
                                      HeatCode ,
                                      CustomerCode ,
                                      OperatorId ,
                                      CastingOpeningWeight,
                                      PlantId,
                                      EntityId
                                    )
                            VALUES  ( @castingID , -- CastingId - uniqueidentifier
                                      @ProductionBatchID , -- ProductionBatchId - bigint
                                      @MetalID , -- MetalId - int
                                      @Transferqty , -- Stock - bigint
                                      @SandTypeId , -- SandTypeId - int
                                      @HeatCode , -- HeatCode - varchar(50)
                                      @CustomerCode , -- CustomerCode - varchar(50)
                                      @OperatorId ,  -- OperatorId - int
                                      @Weight,
                                      @PlantId,
                                      @EntityID
                                    )
                                    
                           
                        END
					  
					  
					DECLARE @t1HeatPSand TABLE(HeatIID bigint ,BtStock int ,IsDelete int, MainBatchStock int ,IsNew int)
                    declare @TmpNew int = 0                                                 
                    
                    DECLARE HetDetails CURSOR
                    FOR
                        SELECT  
                        Node.value('(CastingHeatCodeID )[1]', 'uniqueidentifier') AS 'CastingHeatCodeID' ,                              
                        Node.value('(HeatCode )[1]', 'varchar(50)') AS 'HeatCode' ,                                 
                        Node.value('(ProductionBatchID )[1]', 'bigint') AS 'ProductionBatchID' ,                            
                        Node.value('(CastingID )[1]', 'uniqueidentifier') AS 'CastingID' ,
                        Node.value('(HeatCodeID )[1]', 'bigint') AS 'HeatCodeID' ,
                        Node.value('(IsDeleted )[1]', 'int') AS 'IsDeleted' ,
                        Node.value('(OldBatchStock )[1]', 'int') AS 'OldBatchStock',
                        Node.value('(BatchStockDiff )[1]', 'int') AS 'BatchStockDiff' ,
                        Node.value('(ProcessID )[1]', 'uniqueidentifier') AS 'ProcessID' ,  
                        Node.value('(batchno )[1]', 'varchar(50)') AS 'batchno',
						Node.value('(CustomerOrderId )[1]', 'uniqueidentifier') AS 'CustomerOrderId'
                        FROM @HeatCodeDetails.nodes('/DocumentElement/HeatCodeDetails')
                                AS TEMPXML ( Node ) 
                    OPEN HetDetails;
                    FETCH NEXT FROM HetDetails INTO @HCastingHeatCodeID
                    ,@HHeatCode, @HProductionBatchID,@HCastingID , @HHeatCodeID
                    ,@HIsDeleted, @HOldBatchStockDiff, @HBatchStockDiff   ,@HProcessID ,@HHeatNo, @HCustomerOrderId
                    WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                        
                        if (cast(@castingID as uniqueidentifier) = cast(@HCastingID  as uniqueidentifier) and ( cast(@HProcessID  as uniqueidentifier)  =cast(@ProcessID  as uniqueidentifier)) and ( cast(@HeatNo  as varchar(50))  =  cast(@HHeatNo  as varchar(50))))
						begin    
							
							if @HIsDeleted = 1 and @HHeatCodeID = 0
        					begin
        						select top 1 1 from CastingHeatCode
        					end
        					else
        					begin
								set @TmpNew = 0;
								                            		
								if @HIsDeleted = 1 and (select 1 from ProductionBatch where BatchId = @ProductionBatchID and BatchType != 0 ) = 1  
								begin
									set @HHeatCode = ''
								end
								
								if (@HIsDeleted = 0 OR @HHeatCodeID > 0)
								BEGIN
									if @HHeatCodeID = 0
									begin
										set @HHeatCodeID = (
												select (isnull(MAX(HeatCodeID),0) + 1 ) as MaxHeatCodeID from CastingHeatCode
											)
											
										set @TmpNew = 1;
									end
							
									insert into @t1HeatPSand(HeatIID,BtStock,IsDelete,MainBatchStock,IsNew) 
									values(@HHeatCodeID, @HBatchStockDiff, @HIsDeleted, @HOldBatchStockDiff, @TmpNew)
                            
									IF @HHeatCode IS NOT NULL										
									BEGIN					
										DECLARE @HeatCodeStock1 INT = (CASE WHEN @HIsDeleted = 1 THEN (0-@HOldBatchStockDiff) ELSE @HBatchStockDiff END)
										EXEC [dbo].[InsertUpdateHeatCode] @ProductionBatchID = @ProductionBatchID,
											@CastingID = @HCastingID,
											@HeatCode = @HHeatCode, @Type = 1,
											@HeatCodeId = @HHeatCodeID
											, @HCustOrderTranseID = @HCustomerOrderId
											, @HeatCodeStock = @HeatCodeStock1
											, @ProcessID = @ProcessID,
											@PlantId = @PlantId,
											@EntityID = @EntityID
									END
								END
							end
						end
                           
						FETCH NEXT FROM HetDetails INTO @HCastingHeatCodeID
						,@HHeatCode, @HProductionBatchID,@HCastingID , @HHeatCodeID
						,@HIsDeleted, @HOldBatchStockDiff, @HBatchStockDiff   ,@HProcessID ,@HHeatNo, @HCustomerOrderId
                    END                                
                    CLOSE HetDetails
                    DEALLOCATE HetDetails
                            
                    Set @HeatCodeId = 0;
                    IF ((@HeatCode IS NOT NULL AND @HeatCode <> '' and @SinglePeiceCastingTraceability = 0)
						AND (	((select permitir from permitir where Code = 'OWP') = 0)
							OR ((SELECT ISNULL(IsTestBar, 0) FROM CastingMaster where CastingId = @castingID) = 1)
						)
					)
                    BEGIN
                    
						
						DECLARE @HeatCodeStock INT = 0, @TB_CastingHeatCodeID UNIQUEIDENTIFIER = NULL;
						SELECT	@HeatCodeStock = HeatCodeStock, @TB_CastingHeatCodeID = CastingHeatCodeID
						FROM	CastingHeatCode 
						WHERE	CastingID = @castingID 
								AND ProductionBatchID = @ProductionBatchID 
								AND HeatCode =  @HeatCode AND HeatCodeID = 0 AND Type = 1
						
                        EXEC [dbo].[InsertUpdateHeatCode] @ProductionBatchID = @ProductionBatchID,
                            @CastingID = @castingID,
                            @HeatCode = @HeatCode, @Type = 1,
							@HeatCodeId = 0		
							, @HCustOrderTranseID = NULL
							, @HeatCodeStock = @Transferqty
							, @ProcessID = @ProcessID,
							@PlantId = @PlantId,
							@EntityID = @EntityID
							
                     END
					     
                    IF @ProductionBatchID IS NOT NULL OR @ProductionBatchID != 0
                    BEGIN
                        SET @HeatDate = ( SELECT    ProductionDate
                                          FROM      dbo.ProductionBatch
                                          WHERE     batchID = @ProductionBatchID
                                        )
					END            
					      
					if @SinglePeiceCastingTraceability = 1
					begin
						--  HeatIID bigint ,BtStock int ,IsDelete int
						set @MHHeatCodeID = 0
						set @MHBatchStockDiff = 0
						set @MHIsDeleted = 0
						set @MHOldBatchStockDiff = 0
						DECLARE HetDetails CURSOR
						FOR
							select HeatIID,BtStock,IsDelete,MainBatchStock,IsNew from @t1HeatPSand order by HeatIID                             

						OPEN HetDetails;
						FETCH NEXT FROM HetDetails INTO @MHHeatCodeID,@MHBatchStockDiff ,@MHIsDeleted ,@MHOldBatchStockDiff , @MHNew
                            
						WHILE ( @@FETCH_STATUS = 0 )
						BEGIN
                            
							if @MHIsDeleted = 1
							begin														
								set @MHBatchStockDiff = 0 - @MHOldBatchStockDiff
							end
							
							if @MHNew = 0
							begin 	
								delete from @result
                                INSERT  INTO @result
                                        ( returnvalue
                                        )
								EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,
									@MetalID = @MetalID,
									@StockToAdd = @MHBatchStockDiff, --@OK_Qty,
									@StockToRej = 0, --@Rejected_qty,
									@ProcessID = @ProcessID,
									@Tagging = N'Opening Stock',
									@Process = N'Edit',
									@ProcessCode = @ProductionBatchID,
									@productionbatchid = @ProductionBatchID,
									@ProcessDate = @HeatDate,
									@isCastCodeEnable = @isCastCodeEnable,
									@CastCode = @CastCode,
									--@KnockoutID = @KNOCKOUTID,
									@UserID = @UserID,
									@EntityID = @EntityID,
									@CreatedOn = @Createdon,
									@BatchWeight = @Weight,
									@HeatCodeId = @MHHeatCodeID,                        
									@Castingid2 = @castingID,
									@PlantId = @PlantId

								IF ( @@Error <> 0
                                    OR ( ( SELECT
                                            returnvalue
                                        FROM
                                            @result
                                        ) = 1 )
                                )
                                BEGIN
                                    ROLLBACK TRANSACTION
                                    RETURN -2
                                END
                                            	
							end
							else
							begin 
								
								delete from @result
                                INSERT  INTO @result
                                        ( returnvalue
                                        )
									EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,
									@MetalID = @MetalID,
									@StockToAdd = @MHBatchStockDiff, --@OK_Qty,
									@StockToRej = 0, --@Rejected_qty,
									@ProcessID = @ProcessID,
									@Tagging = N'Opening Stock',
									@Process = N'Insert',
									@ProcessCode = @ProductionBatchID,
									@productionbatchid = @ProductionBatchID,
									@ProcessDate = @HeatDate,
									@isCastCodeEnable = @isCastCodeEnable,
									@CastCode = @CastCode,
									--@KnockoutID = @KNOCKOUTID,
									@UserID = @UserID,
									@EntityID = @EntityID,
									@CreatedOn = @CreatedOn,
									@BatchWeight = @Weight,
									@HeatCodeId = @MHHeatCodeID,                        
									@Castingid2 = @castingID,
									@PlantId = @PlantId

								IF ( @@Error <> 0
                                    OR ( ( SELECT
                                            returnvalue
                                        FROM
                                            @result
                                        ) = 1 )
                                )
                                BEGIN
                                    ROLLBACK TRANSACTION
                                    RETURN -2
                                END
							end
								
							FETCH NEXT FROM HetDetails INTO @MHHeatCodeID,@MHBatchStockDiff ,@MHIsDeleted ,@MHOldBatchStockDiff , @MHNew
						END                                
						CLOSE HetDetails
						DEALLOCATE HetDetails
								   
					end
					else
					begin
						IF(	@SinglePeiceCastingTraceability = 0 AND ((select permitir from permitir where Code = 'OWP') = 1)
							AND ((SELECT ISNULL(IsTestBar, 0) FROM CastingMaster where CastingId = @castingid) = 0)
						)
						BEGIN
							
							set @MHHeatCodeID = 0
							set @MHBatchStockDiff = 0
							set @MHIsDeleted = 0
							set @MHOldBatchStockDiff = 0
							DECLARE HetDetails CURSOR
							FOR
								select HeatIID,BtStock,IsDelete,MainBatchStock,IsNew from @t1HeatPSand order by HeatIID                             

							OPEN HetDetails;
							FETCH NEXT FROM HetDetails INTO @MHHeatCodeID,@MHBatchStockDiff ,@MHIsDeleted ,@MHOldBatchStockDiff , @MHNew
	                            
							WHILE ( @@FETCH_STATUS = 0 )
							BEGIN
	                            
								if @MHIsDeleted = 1
								begin														
									set @MHBatchStockDiff = 0 - @MHOldBatchStockDiff
								end
								
								if @MHNew = 0
								begin
									delete from @result
									INSERT  INTO @result
                                        ( returnvalue
                                        )
									EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,
										@MetalID = @MetalID,
										@StockToAdd = @MHBatchStockDiff, --@OK_Qty,
										@StockToRej = 0, --@Rejected_qty,
										@ProcessID = @ProcessID,
										@Tagging = N'Opening Stock',
										@Process = N'Edit',
										@ProcessCode = @ProductionBatchID,
										@productionbatchid = @ProductionBatchID,
										@ProcessDate = @HeatDate,
										@isCastCodeEnable = @isCastCodeEnable,
										@CastCode = @CastCode,
										--@KnockoutID = @KNOCKOUTID,
										@UserID = @UserID,
										@EntityID = @EntityID,
										@CreatedOn = @Createdon,
										@BatchWeight = @Weight,
										@HeatCodeId = @MHHeatCodeID,                        
										@Castingid2 = @castingID,
										@PlantId = @PlantId
										IF ( @@Error <> 0
                                                OR ( ( SELECT
                                                        returnvalue
                                                    FROM
                                                        @result
                                                    ) = 1 )
                                            )
                                            BEGIN
                                                ROLLBACK TRANSACTION
                                                RETURN -2
                                            END
                                            	
								end
								else
								begin 
										delete from @result
										INSERT  INTO @result
                                        ( returnvalue
                                        )
										EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,
										@MetalID = @MetalID,
										@StockToAdd = @MHBatchStockDiff, --@OK_Qty,
										@StockToRej = 0, --@Rejected_qty,
										@ProcessID = @ProcessID,
										@Tagging = N'Opening Stock',
										@Process = N'Insert',
										@ProcessCode = @ProductionBatchID,
										@productionbatchid = @ProductionBatchID,
										@ProcessDate = @HeatDate,
										@isCastCodeEnable = @isCastCodeEnable,
										@CastCode = @CastCode,
										--@KnockoutID = @KNOCKOUTID,
										@UserID = @UserID,
										@EntityID = @EntityID,
										@CreatedOn = @CreatedOn,
										@BatchWeight = @Weight,
										@HeatCodeId = @MHHeatCodeID,                        
										@Castingid2 = @castingID,
										@PlantId = @PlantId
										IF ( @@Error <> 0
                                                OR ( ( SELECT
                                                        returnvalue
                                                    FROM
                                                        @result
                                                    ) = 1 )
                                            )
                                            BEGIN
                                                ROLLBACK TRANSACTION
                                                RETURN -2
                                            END
                                            	
								end
									
								FETCH NEXT FROM HetDetails INTO @MHHeatCodeID,@MHBatchStockDiff ,@MHIsDeleted ,@MHOldBatchStockDiff , @MHNew
							END                                
							CLOSE HetDetails
							DEALLOCATE HetDetails
						END
						ELSE
						BEGIN
							if(@Transferqty >0)
							BEGIN
								delete from @result
								INSERT  INTO @result
                                    ( returnvalue
                                    )
								EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,
									@MetalID = @MetalID,
									@StockToAdd = @Transferqty,
									@StockToRej = 0, 
									@ProcessID = @ProcessID,
									@Tagging = N'Opening Stock', 
									@Process = N'Insert',
									@ProcessCode = @ProductionBatchID,
									@productionbatchid = @ProductionBatchID,
									@ProcessDate = @HeatDate, 
									@UserID = @UserID,
									@HeatNo = @HeatNo,
									@isCastCodeEnable = @isCastCodeEnable,
									@CastCode = @CastCode, 
									@BatchWeight = @Weight,
									@HeatCodeId = @HeatCodeId,
									@Castingid2 = @castingID,
									@EntityID = @EntityID,
									@PlantId = @PlantId
								IF ( @@Error <> 0
                                    OR ( ( SELECT
                                            returnvalue
                                        FROM
                                            @result
                                        ) = 1 )
                                )
                                BEGIN
                                    ROLLBACK TRANSACTION
                                    RETURN -2
                                END
                                            	
							END
							ELSE
							BEGIN
								Set @HeatDate = getdate()
								delete from @result
                                INSERT  INTO @result
										( returnvalue
										)
								EXEC [dbo].[StockUploadAutoWithHeat] @CastingID = @castingID,
									@MetalID = @MetalID,
									@ProcessID = @ProcessID,
									@Stock = @Transferqty,
									@EntityID = @EntityID,
									@PlantId = @PlantId,
									@UserID = @UserID,
									@date = @HeatDate,
									@productionbatchid = @ProductionBatchID
									
							END
							if exists(select 1 from @result where returnvalue in(-1,-2,-3))
							begin
								 ROLLBACK TRANSACTION
								 return -1 
							end
							IF(	@SinglePeiceCastingTraceability = 0 AND ((select permitir from permitir where Code = 'OWP') = 1)
								AND ((SELECT ISNULL(IsTestBar, 0) FROM CastingMaster where CastingId = @castingid) = 1)
							)
							BEGIN
								IF((select 1 from ProductionBatch where Batchid = @ProductionBatchID and BatchType != 0)= 1 
								and  
								(@HeatCodeStock + @Transferqty) = 0)
								BEGIN
									UPDATE	CastingHeatCode 
									SET		HeatCode = '', HeatCodeStock = 0, ProductionBatchID = 0
									WHERE CastingHeatCodeID = @TB_CastingHeatCodeID
								END
							END
							
						END
					end	 
                        	   
                    DELETE FROM @t1HeatPSand 
                      	
                    FETCH NEXT FROM ModifyStock INTO @castingID, @HeatNo,
                        @HeatDate, @Transferqty, @ProductionBatchID,
                        @ProcessID, @MetalID, @HeatCode, @CustomerCode,
                        @OperatorId, @SandTypeId, @PlantId, @CastCode
                END 

            CLOSE ModifyStock;
            DEALLOCATE ModifyStock;
			END Try 
			BEGIN CAtch
				IF @@ERROR <> 0
				BEGIN
				 ROLLBACK TRANSACTION
				  IF CURSOR_STATUS('global','ModifyStock') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','ModifyStock') > -1
				   BEGIN
					CLOSE ModifyStock
				   END
				 DEALLOCATE ModifyStock
				END	
				IF CURSOR_STATUS('global','HetDetails') >= -1
					 BEGIN
					  IF CURSOR_STATUS('global','HetDetails') > -1
					   BEGIN
						CLOSE HetDetails
					   END
					 DEALLOCATE HetDetails
					END	
				 return -1 
				END	
			END Catch	
            COMMIT TRANSACTION
        return  1 
      
    
END
GO
