USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MSProcessPerform]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MSProcessPerform]
    @Parameter INT = 0 ,
    @castingID UNIQUEIDENTIFIER = NULL ,
    @MetalID BIGINT = 0 ,
    @ProcessID UNIQUEIDENTIFIER = NULL ,
    @MethodFlag INT = 0 ,
    @ProcessIDTransferTo UNIQUEIDENTIFIER = NULL ,
    @Transferqty INT = 0 ,
    @UserID INT = 0 ,
    @EntityID INT = 0 ,
    @PageNumber INT = 0 ,
    @PageSize INT = 0 ,
    @InitialLoad INT = 0 ,
    @castingName VARCHAR(100) = NULL ,
    @TotalRecords BIGINT = 0 ,
    @TransferID UNIQUEIDENTIFIER = NULL ,
    @BatchXMl AS XML = NULL ,
    @BatchREJXMl AS XML = NULL ,
    @isCastCodeEnable INT = 0 ,
    @CastCodeNo VARCHAR(50) = NULL ,
    @Createdon DATETIME = NULL ,
    @Cast_Code VARCHAR(50) = NULL ,
    @ProcessTransfer_Date VARCHAR(50) = NULL ,
    @ProcessTransfer_EndDate VARCHAR(50) = NULL ,
    @DateFrom DATETIME = NULL ,
    @DateTo DATETIME = NULL ,
    @HeatCode VARCHAR(50) = NULL ,
    @CustomerCode VARCHAR(50) = NULL ,
    @OperatorId INT = 0 ,
    @SandTypeId INT = 0 ,
    @ProductionBatchID BIGINT = 0 ,
    @ProcessFrom VARCHAR(50) = NULL ,
    @ProcessTo VARCHAR(50) = NULL ,
    @AutoProcess BIT = 0 ,            -- By default show all processes
    @ProcessType INT = 0 ,
    @StartTime Datetime=NULL,
    @EndTime DateTime=NULL,
    @NewIDRequired bit=0,
    @ContractorID int=0,
    @Weight float=0   ,
    @PartId uniqueidentifier=NULL ,
    @MachineId uniqueidentifier=NULL,
    @MSMSProcessPerformID Uniqueidentifier=NULL,
    @SetupStartTime Datetime=NULL,
    @SetupEndTime DateTime=NULL,
    @XMLBreakTime AS XML = NULL ,
    @XMLToolMapping AS XML = NULL ,
    @XMLMaintenance AS XML = NULL ,
    @Reason int =0,
    @PurchaseitemID Uniqueidentifier=NULL,
    @Qty int =0,
    @BreakReason VARCHAR(100) = NULL,
    @MSProcessPerformID UNIQUEIDENTIFIER = NULL,
    @Type INT = 0,
    @Transferqty_diff INT = 0,
    @OldBatchStock int =0,
    @ProcessFromPrev uniqueidentifier = null ,
    @ConsumptionDetails AS XML = NULL
  , @ConvertpartID UNIQUEIDENTIFIER = NULL,
	@IsSetupNotRequired bit = 0 ,
    @HeatID  varchar(500) =NULL ,
    @ParentID uniqueidentifier = null,
    @LastFewEntriesForWt int = 0,
	@TotalWt float = 0,
	@Srno int = 0,
	@Count int = 0,
	@remarks varchar(MAX) = null,
	@TimeHr int = 0 ,
	@TimeMin int = 0,
	@TargetQty int = 0,
	@ShiftId int =0,
	@DeletedBy int = 0,
	@ForBatchID int =0,
	@PlantId int =0,
	@InTransit bit = 0,
    @AddOnId1 int = 0,
    @ConsumptionMethod BIT = NULL,
    @IsInwardBatchWise BIT = NULL
AS
    DECLARE @InspectionPermiterFlag BIT , @IsProcessStockTransfer BIT, @ID UNIQUEIDENTIFIER ,  @TempStock INT ,
				@Sequance INT,
                @batchID BIGINT ,
                @batchstock INT ,
                @stockbatchID BIGINT,
                @UserXML AS XML ,
                @ShortDescription AS NVARCHAR(MAX) ,                
                @NotiTitle varchar(100),            
                 @batch_id BIGINT ,
                 @batch_stock INT ,
                @stock BIGINT ,
                @Heat_id BIGINT,
                @HeatCodeId BIGINT;;
        DECLARE @result TABLE ( returnvalue INT );          
    IF @parameter = 1
    BEGIN
           BEGIN TRANSACTION
           BEGIN try
            SET @InspectionPermiterFlag = ( SELECT  permitir FROM    permitir WHERE   Code = 'QC' ) 
                                          
			SET @IsProcessStockTransfer = ( SELECT permitir from permitir where Code = 'PST' )  
			
            DECLARE BatchStockBreakup CURSOR
            FOR
                SELECT  Node.value('(batchID )[1]', 'bigint') AS 'batchID' ,
                        Node.value('(stockbatchid )[1]', 'bigint') AS 'stockbatchid' ,
                        Node.value('(HeatCodeId )[1]', 'bigint') AS 'HeatCodeId' ,
                        Node.value('(TransferQty )[1]', 'int') AS 'TransferQty' ,                        
                        Node.value('(CastCode )[1]', 'varchar(50)') AS 'CastCode' ,
                        Node.value('(ProcessId)[1]', 'uniqueidentifier') AS 'ProcessId'    
                FROM    @BatchXMl.nodes('/DocumentElement/BatchTable') AS TEMPXML ( Node ) 
            OPEN BatchStockBreakup;

            FETCH NEXT FROM BatchStockBreakup INTO @batchID, @stockbatchID,@HeatCodeId,
                @batchStock, @CastCodeNo , @ProcessFrom
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN
					if @ProcessFromPrev is null Or @ProcessFromPrev != @ProcessFrom
					BEGIN
						set @ProcessFromPrev = @ProcessFrom
						SET @ID = NEWID();
						INSERT  INTO MSProcessPerformMaster
								( MSProcessPerformID ,
								  castingID ,
								  ProcessID ,     
								  FromProcessId,                 
								  MetalID ,
								  ProcessQty ,                      
								  ProcessPerformDate,
								  ProcessPerformEndDate,                      
								  StartTime,
								  EndTime,
								  CastingWeight,
								  ContractorID,
								  CreatedBY ,
								  EntityID ,
								  Createdon ,
								  MachineId,
								  ParentID,
								  SetupStartTime,
								  SetupEndTime, 
								  ConvertToPartID,
								  IsSetupNotRequired,
								  Remarks,
								  TargetQty,
								  ShiftId,
								  PlantId
								)
						VALUES  ( @ID ,
								  @PartId ,
								  @ProcessID ,    
								  @ProcessFrom,                 
								  @MetalID ,
								  0 ,
								  @ProcessTransfer_Date,
								  @ProcessTransfer_EndDate,
								  @StartTime,
								  @EndTime,
								  @Weight,
								  @ContractorID,	
								  @UserID ,
								  @EntityID ,
								  @Createdon,
								  @MachineId,
								  @castingID,
								  @SetupStartTime,
								  @SetupEndTime, 
								  @ConvertpartID,
								  @IsSetupNotRequired,
								  @remarks,
								  @TargetQty,
								  @ShiftId,
								  @PlantId
								)		
				 		
				   	DECLARE @tempReturn6 INT;
						EXEC @tempReturn6 =    [ItemConsumeDetail]
							@Parameter= 3, 
							@PlantId =@PlantId,
							@ProcessTransfer_Date =@ProcessTransfer_Date,
							@IsInwardBatchWise   = @IsInwardBatchWise,
							@UserID   =@UserID ,
							@ConsumptionMethod   = @ConsumptionMethod,
							@ConsumptionDetails =@ConsumptionDetails,
							@ProcessPerformID =@ID,
							@EntityID  = @EntityID
								 IF (@tempReturn6 = -7 OR @tempReturn6 = -1 OR @tempReturn6 = -4)
												BEGIN
												   ROLLBACK TRANSACTION
													RETURN @tempReturn6 ;
												END

					 
						DECLARE MaintenanceTimeCursor CURSOR
						FOR
							SELECT  Node.value('(TimeInHr)[1]', 'int') AS 'TimeInHr' ,
									Node.value('(TimeInMin)[1]', 'int') AS 'TimeInMin' ,
									Node.value('(ReasonId)[1]', 'int') AS 'ReasonId'                       
							FROM    @XMLMaintenance.nodes('/DocumentElement/XMLMaintenance') AS TEMPXML ( Node ) 
						OPEN MaintenanceTimeCursor;

						FETCH NEXT FROM MaintenanceTimeCursor INTO @TimeHr, @TimeMin,@Reason
						WHILE ( @@FETCH_STATUS = 0 )
							BEGIN
									INSERT  INTO MSTimeDetail
											( 
											  ID,
											  MsProcessPerform ,
											  ReasonID,
											  TimeInHr,
											  TimeInMin
											)
									VALUES  (
											  NEWID(), 
											  @ID ,
											  @Reason ,
											  @TimeHr,
											  @TimeMin
											)			
                    
			                        
								FETCH NEXT FROM MaintenanceTimeCursor INTO @TimeHr, @TimeMin,@Reason
							END 

						CLOSE MaintenanceTimeCursor;
						DEALLOCATE MaintenanceTimeCursor;
				
				
					END
                    
                    update MSProcessPerformMaster Set MSProcessPerformMaster.ProcessQty  = MSProcessPerformMaster.ProcessQty + @batchStock
						Where MSProcessPerformMaster.MSProcessPerformID = @ID and IsDeleted = 0
						
				-- Consumption Details
				
 
						 
                    INSERT  INTO MSProcessPerformBreakup
                            ( ID,
							  MSProcessPerformID ,
                              batchID ,
                              batchStock ,
                              Castcode
					        )
                    VALUES  ( NEWID(),
							  @ID ,
                              @stockbatchID ,
                              @batchstock ,
                              @CastCodeNo
					        )
				
                   
                    SET @TempStock = -@batchstock;
                    
                    delete from @result
					insert into @result (returnvalue)
                    EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @PartId,
                        @MetalID = @MetalID, @StockToAdd = @TempStock,
                        @StockToRej = 0, @ProcessID = @ProcessFrom,
                        @ProcessTransferTo = @ProcessID,
                        @Tagging = N'Process Perform', @Process = N'Insert',
                        @ProcessCode = @ID, @productionbatchid = @batchID,
                        @ProcessDate = @Createdon, @UserID = @UserID,
                        @CastCode_No = @CastCodeNo,
                        @CastingStockBatchID = @stockbatchID,
                        @isCastCodeEnable = @isCastCodeEnable,
                        @BatchWeight = @Weight,
                        @HeatCodeId = @HeatCodeId,
                        @CastingID2 = @ConvertpartID,
                        @PlantId =@PlantId,
                        @EntityID =@EntityId,
	                    @AddOnId1 = @AddOnId1
                        
                    IF (@@Error <> 0 OR ((SELECT returnvalue FROM @result) = 1))
                    BEGIN
                        ROLLBACK TRANSACTION
                        RETURN -2
                    END
                        
                    FETCH NEXT FROM BatchStockBreakup INTO @batchID,
                        @stockbatchID,@HeatCodeId, @batchStock, @CastCodeNo,@ProcessFrom
                END 

            CLOSE BatchStockBreakup;
            DEALLOCATE BatchStockBreakup;
            
			-- NOTIFICATION for next process user
           Declare @TempProcess varchar(50), @NextProcess uniqueidentifier,@InspectionRequired bit; 
           -- here casting id can be part as well as casting so compare it with part id in casting part no not casting id
           Set @InspectionRequired = (Select ISNULL(InspectionRequired,0) as InspectionRequired  from CastingPartNo  WHERE     PartId = @PartId and CastingId=@castingID
                                                        AND ProcessID = @ProcessID
                                                        And MetalId = @MetalID and Isnull(CastingPartNo.IsDeleted,0)=0)                                                
            IF @InspectionRequired = 1
                BEGIN
            
					EXEC [dbo].[ProcessInspectionNotification] @castingID =@castingID, @PartId = @PartId , @ProcessID=@ProcessID,@MetalID=@MetalID,@Transferqty=@Transferqty                               
					
                END                           
            ELSE
                BEGIN
                
					SET @Sequance = ( SELECT    Sequence
                                              FROM      dbo.CastingProcess
                                              WHERE     CastingID = @CastingId
                                                        AND ProcessID = @ProcessID
                                                        And MetalId = @MetalID
                                            )
                    
						 SET @NextProcess = ( SELECT ProcessID
                                                 FROM   dbo.CastingProcess
                                                 WHERE  CastingID = @CastingId
														And MetalId = @MetalID
                                                        AND Sequence = @Sequance
                                                        + 1
                                                       -- AND ProcessType = 0
                                               )
                                               
					IF @IsProcessStockTransfer = 1 -- If process transfer enable than show notification to that user
					BEGIN					
						EXEC [dbo].[ProcessTransferNotification] @castingID =@castingID, @PartId = @PartId, @ProcessID=@ProcessID,@NextProcessID=@NextProcess,@Transferqty=@Transferqty						
					END
					ELSE
					BEGIN
						-- Here @Processid will be passed because in procedure it will find next process and give notification that it is ready for next process
						EXEC [dbo].[ProcessPerformNotification] @castingID =@castingID, @PartId = @PartID , @ProcessID=@ProcessID,@NextProcessID=@NextProcess,@Transferqty=@Transferqty	        
					END                					
                END         
               
              
   --         -- Code for Actual Average Wt 
			--Exec dbo.MSProcessPerform
			--@Parameter = 14,
			--@UserID = @UserID
			--,@ParentId = @castingID,
			--@castingID = @PartId,
			--@MetalID = @MetalID,
			--@ProcessID =@ProcessID,
			--@LastFewEntriesForWt = @LastFewEntriesForWt
			  END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION  
			 	IF CURSOR_STATUS('global','BatchStockBreakup') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','BatchStockBreakup') > -1
				   BEGIN
					CLOSE BatchStockBreakup
				   END
				 DEALLOCATE BatchStockBreakup
				END	
			IF CURSOR_STATUS('global','MaintenanceTimeCursor') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','MaintenanceTimeCursor') > -1
				   BEGIN
					CLOSE MaintenanceTimeCursor
				   END
				 DEALLOCATE MaintenanceTimeCursor
				END	
			IF CURSOR_STATUS('global','ConsumptionDetailsCursor') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','ConsumptionDetailsCursor') > -1
				   BEGIN
					CLOSE ConsumptionDetailsCursor
				   END
				 DEALLOCATE ConsumptionDetailsCursor
				END	
				
			--Insert into test_1 Select 'Error :' + ERROR_MESSAGE()
			 return -1
			END	
        END Catch      
			COMMIT TRANSACTION
			RETURN 1
        END
    
    IF @parameter = 2
    BEGIN
			DECLARE @MachineTimeExists INT = (
				ISNULL(
					(SELECT TOP 1 1 from CastingPartNo 
					INNER JOIN PartMachineMapping ON PartMachineMapping.PPMappingID = CastingPartNo.PPMappingID
					where (@ConvertpartID IS NOt NULL OR CastingPartNo.PartId = @castingID )
					and CastingPartNo.MetalID = @MetalID
					and CastingPartNo.ProcessId = @ProcessID
					AND (@ConvertpartID IS NULL OR CastingPartNo.PartId = @ConvertpartID)
					AND (PartMachineMapping.MachineID = @MachineId) ), 0)
			)
			
			select ISNULL(PartMachineMapping.SetupTime,0) AS SetupTime
				,ISNULL(PartMachineMapping.SetupTimeSec,0) AS SetupTimeSec
				,ISNULL(PartMachineMapping.LoadingUnloadingTime,0) AS LoadingUnloadingTime
				,ISNULL(PartMachineMapping.LoadingUnloadingTimeSec ,0) AS LoadingUnloadingTimeSec
				,ISNULL(PartMachineMapping.Duration,0) AS Duration
				,ISNULL(PartMachineMapping.DurationSec ,0) AS DurationSec
				,case when ISNULL(PartMachineMapping.NoofPartProduce,0) <> 0 
					then PartMachineMapping.NoofPartProduce 
					else 1 end as NoofPartProduce
				,case when ISNULL(PartMachineMapping.NoOfUnloadingProduce,0) <> 0 
					then PartMachineMapping.NoOfUnloadingProduce 
					else 1 end as NoOfUnloadingProduce
					
			from CastingPartNo 
			INNER JOIN PartMachineMapping ON PartMachineMapping.PPMappingID = CastingPartNo.PPMappingID
			where ( @ConvertpartID IS NOT NULL or CastingPartNo.PartId = @castingID )
			and CastingPartNo.MetalID = @MetalID
			and CastingPartNo.ProcessId = @ProcessID
			AND (@ConvertpartID IS NULL OR CastingPartNo.PartId = @ConvertpartID)
			AND ((@MachineTimeExists = 1 AND PartMachineMapping.MachineID = @MachineId) 
					OR (@MachineTimeExists = 0 AND PartMachineMapping.MachineID = CAST(0x0 AS UNIQUEIDENTIFIER))
			)
			and Isnull(CastingPartNo.IsDeleted,0)=0

    
    END
         
	IF @parameter = 3
    BEGIN
    
			SELECT DISTINCT ProcessMaster.ProcessName,
			MSProcessPerformMaster.ProcessID AS ProcessID
			FROM MSProcessPerformMaster INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = MSProcessPerformMaster.ProcessID
        
    END
 
    
    IF @Parameter = 6 -- This is used to fetch ProcessPerform Heat detail
    BEGIN
    
    SELECT        MSProcessPerformMaster.MSProcessPerformID,
                        batchno AS HeatNo,
                        MSProcessPerformBreakup.batchID AS CastingStockBatchId ,
                        dbo.ProductionBatch.batchID AS ProductionbatchID ,
                        MetalName ,
                        MSProcessPerformBreakup.BatchStock AS TransferQty ,
                        ProcessMaster.ProcessName,
                        dbo.MSProcessPerformMaster.MetalID ,
                        dbo.MSProcessPerformMaster.CastingID ,
                        MSProcessPerformBreakup.CastCode ,
                        MSProcessPerformBreakup.ID,
                        CastingHeatCode.HeatCode
                FROM    MSProcessPerformMaster
                        INNER JOIN MSProcessPerformBreakup ON MSProcessPerformBreakup.MSProcessPerformID = MSProcessPerformMaster.MSProcessPerformID
                        INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.MSProcessPerformBreakup.batchID
                        INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
                        INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.MSProcessPerformMaster.MetalID
                        INNER JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = dbo.MSProcessPerformMaster.ProcessID
                        LEFT JOIN CastingHeatCode ON CastingHeatCode.ProductionBatchID = ProductionBatch.batchID
                        AND CastingHeatCode.CastingID = CastingStockBatch.CastingID
                WHERE   MSProcessPerformMaster.MSProcessPerformID = @MSProcessPerformID
                        AND MSProcessPerformBreakup.BatchStock > 0
                        and MSProcessPerformMaster.EntityID = @EntityID

    END
        
	
	IF @Parameter = 8 -- This is used to fetch Process Name 
	BEGIN
					
					
					SELECT    ROW_NUMBER() OVER ( ORDER BY MSProcessPerformMaster.Createdon DESC ) AS RowNo ,
								CastingName ,
								CastingCode ,
								Metalname ,							  
								CONVERT(VARCHAR(11), MSProcessPerformMaster.ProcessPerformDate, 106) AS [ProcessTransferDate] ,
								CONVERT(VARCHAR(11), MSProcessPerformMaster.ProcessPerformEndDate, 106) AS [ProcessTransferEndDate] ,
								
								CONVERT(VARCHAR(15), StartTime, 100) TransferStartTime ,
								CONVERT(VARCHAR(15), EndTime, 100) TransferEndTime ,
								ProcessMaster.PRocessName AS TransferTo , 
								p2.ProcessName AS TransferFrom ,
								MSProcessPerformMaster.ProcessQty AS TransferQty ,
								MSProcessPerformMaster.MSProcessPerformID AS ProcessTransferID ,
								MSProcessPerformMaster.CreatedON AS createdon,
								MSProcessPerformMaster.CreatedBy
					  FROM      dbo.MSProcessPerformMaster 
								inner join CastingMaster on 
								CastingMaster.CastingId = MSProcessPerformMaster.CastingID 
								--AND
								-- CastingMaster.CastingId = MSProcessPerformMaster.ParentID
								inner join MetalMaster on MetalMaster.MetalId =  MSProcessPerformMaster.MetalID
								inner join ProcessMaster on  ProcessMaster.ProcessId = MSProcessPerformMaster.ProcessID
							 	inner join  ProcessMaster p2 on MSProcessPerformMaster.FromProcessId = p2.ProcessID
								
					  WHERE   	MSProcessPerformMaster.ProcessQty > 0
								AND dbo.MSProcessPerformMaster.MSProcessPerformID = @MSProcessPerformID
								--AND ProcessMaster.AutoFromProcessID is NULL								
		   		              
					  SELECT	
								batchno AS HeatNo ,                       
								MSProcessPerformBreakup.BatchStock AS TransferQty ,
								HeatCode
		                      
						FROM    dbo.MSProcessPerformMaster
								INNER JOIN dbo.MSProcessPerformBreakup ON dbo.MSProcessPerformBreakup.MSProcessPerformID = dbo.MSProcessPerformMaster.MSProcessPerformID
								INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.MSProcessPerformBreakup.batchID
								INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
								Left join CastingHeatCode On ProductionBatch.batchID=CastingHeatCode.ProductionBatchID And MSProcessPerformMaster.CastingID=CastingHeatCode.CastingID
							  --  INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.InHouseProcessStockTransfer.MetalID
							 --   INNER JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = dbo.InHouseProcessStockTransfer.TransferFromProcessID
						WHERE   dbo.MSProcessPerformMaster.MSProcessPerformID = @MSProcessPerformID
								AND MSProcessPerformBreakup.BatchStock > 0								
    END
    
    IF @Parameter = 9
        BEGIN
        BEGIN TRANSACTION          
            SELECT  CastingID ,
					ConvertToPartID ,
                    MetalID ,
                    ProcessID ,
                    FromProcessID ,
                    batchID ,
                    batchStock,
                    PlantId
            INTO    #tempProcessPerform
            FROM    MSProcessPerformBreakup ,
                    MSProcessPerformMaster
            WHERE   MSProcessPerformBreakup.MSProcessPerformID = MSProcessPerformMaster.MSProcessPerformID
                    AND MSProcessPerformMaster.MSProcessPerformID = @MSProcessPerformID
					            
            DECLARE pro_cusor CURSOR
            FOR
                SELECT  #tempProcessPerform.[CastingID] ,
						#tempProcessPerform.[ConvertToPartID] ,
                        #tempProcessPerform.[MetalID] ,
                        #tempProcessPerform.[ProcessID] ,
                        #tempProcessPerform.[batchID] ,
                        #tempProcessPerform.[batchStock],
                        #tempProcessPerform.[PlantId]
                FROM    [dbo].[#tempProcessPerform] 
					
            OPEN pro_cusor -- Open Cursor
            FETCH NEXT FROM pro_cusor INTO @castingID, @ConvertPartID, @MetalID,
                @ProcessIDTransferTo, @batch_id, @batch_stock,@PlantId
            WHILE @@FETCH_STATUS = 0
                BEGIN
                     SELECT @Heat_id = productionbatchID , @HeatCodeId = HeatCodeId
                                     FROM   CastingStockBatch
                                     WHERE 
                                      Batchid = @batch_id
                                      and PlantId =@PlantId
                                            and EntityId =@EntityID
                                            and InTransit =@InTransit
                                            and AddOnId1 =@AddOnId1
                                   
                    SET @stock = ( SELECT   Batchstock
                                   FROM     CastingStockBatch
                                   WHERE    CastingID = @ConvertPartID--@castingID
                                            AND ProcessID = @ProcessIDTransferTo
                                            AND MetalID = @MetalID
                                            AND CastingStockBatch.productionbatchID = @Heat_id
                                            AND HeatCodeId=@HeatCodeId
                                            and PlantId =@PlantId
                                            and EntityId =@EntityID
                                            and InTransit =@InTransit
                                            and AddOnId1 =@AddOnId1
                                            
                                 )
                    IF ( @stock < @batch_stock )
                    BEGIN
                        COMMIT TRANSACTION
                        RETURN -1
					END
							
                    FETCH NEXT FROM pro_cusor
					INTO @castingID, @ConvertPartID, @MetalID, @ProcessIDTransferTo, @batch_id,
                        @batch_stock,@PlantId;
                END;
            CLOSE pro_cusor; -- Cloase Cursor
            DEALLOCATE pro_cusor;
			
			Update MSProcessPerformMaster set isdeleted=1,DeletedBy=@DeletedBy,DeletedOn= GetDate() where MSProcessPerformMaster.MSProcessPerformID=@MSProcessPerformID 
					
            DECLARE pro_cusor CURSOR
            FOR
                SELECT  #tempProcessPerform.[CastingID] ,
						#tempProcessPerform.[ConvertToPartID] ,
                        #tempProcessPerform.[MetalID] ,
                        #tempProcessPerform.[ProcessID] ,
                        #tempProcessPerform.[FromProcessID] ,
                        #tempProcessPerform.[batchID] ,
                        #tempProcessPerform.[batchStock],
                        #tempProcessPerform.[PlantId]
                FROM    [dbo].[#tempProcessPerform] 
					
            OPEN pro_cusor -- Open Cursor
            FETCH NEXT FROM pro_cusor INTO @castingID, @ConvertPartID, @MetalID,
                @ProcessIDTransferTo, @processID, @batch_id, @batch_stock, @PlantId
            WHILE @@FETCH_STATUS = 0
                BEGIN
                    SELECT @Heat_id = productionbatchID , @HeatCodeId = HeatCodeId
                                     FROM   CastingStockBatch
                                     WHERE 
                                      Batchid = @batch_id
                                      and
                                      PlantId =@PlantId
                                      and
                                      EntityId =EntityId 
                                      and 
                                      InTransit =@InTransit
                                       and AddOnId1 =@AddOnId1                                 
                    
                    declare @result1 table (returnvalue int);
			
					insert into @result1 (returnvalue)
                    EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,
                        @MetalID = @MetalID
                        , @StockToAdd = @batch_stock,@StockToRej = 0
                        , @ProcessID = @processID,
                        @ProcessTransferTo = @ProcessIDTransferTo,
                        @Tagging = N'Process Stock', @Process = N'Delete',
                        @ProcessCode = @Heat_id, @productionbatchid = @Heat_id,
                        @CastingStockBatchID = @batch_id,
                        @ProcessDate = @Createdon, @UserID = @UserID,
                        @HeatCodeId = @HeatCodeId,
                        @CastingID2 = @ConvertPartID,--@castingID
                        @PlantID =@PlantId,
                        @EntityID=@EntityId,
	                    @AddOnId1 = @AddOnId1
                   
                    IF (@@Error <> 0 OR ((SELECT returnvalue FROM @result1) = 1))
                    BEGIN
						COMMIT TRANSACTION
                        RETURN -2
                    END
							
                    FETCH NEXT FROM pro_cusor
					INTO @castingID, @ConvertPartID, @MetalID, @ProcessIDTransferTo,
                        @processID, @batch_id, @batch_stock , @PlantId;
                END;
            CLOSE pro_cusor; -- Cloase Cursor
            DEALLOCATE pro_cusor;		
            
            DROP TABLE #tempProcessPerform	
            
             -- Consumption Details
                
            
				   	DECLARE @tempReturn_ INT;
									EXEC @tempReturn_ = [ItemConsumeDetail]
							@Parameter= 5, 
							@PlantId =@PlantId,
						 
							@IsInwardBatchWise   = @IsInwardBatchWise,
							@UserID   =@DeletedBy  ,
							@ConsumptionMethod   = @ConsumptionMethod,
							@ConsumptionDetails =@ConsumptionDetails,
							@ProcessPerformID = @MSProcessPerformID,
							@EntityID  = @EntityID 
								 IF (@tempReturn_ = -7 OR @tempReturn_ = -1 OR @tempReturn_ = -4)
												BEGIN
												   ROLLBACK TRANSACTION
													RETURN @tempReturn_ ;
												END
            IF @@Error <> 0
				ROLLBACK TRANSACTION
                        
            --DELETE  FROM ProcessStockbatchbreackup
            --WHERE   ProcessStockbatchbreackup.ProcessTransferID = @TransferID
            
            IF @@Error <> 0
				ROLLBACK TRANSACTION
				
            COMMIT TRANSACTION
            RETURN 1;
        END
    
    IF @Parameter = 10 -- Get Deails when Edit
    BEGIN
    
				-- Get All Record from MS Process Perform Master
				SELECT              
						MSProcessPerformMaster.MSProcessPerformID,
						MSProcessPerformMaster.CastingID,
						MSProcessPerformMaster.ProcessID,
						MSProcessPerformMaster.MetalId,
						MSProcessPerformMaster.ProcessQty,
						MSProcessPerformMaster.ProcessPerformDate,
						MSProcessPerformMaster.ProcessPerformEndDate,
						MSProcessPerformMaster.StartTime,
						MSProcessPerformMaster.EndTime,
						MSProcessPerformMaster.CastingWeight,
						MSProcessPerformMaster.ContractorID,
						MSProcessPerformMaster.FromProcessId,
						MSProcessPerformMaster.MachineId,
						MSProcessPerformMaster.ParentID,
						MSProcessPerformMaster.SetupStartTime,
						MSProcessPerformMaster.SetupEndTime,
						CastingMaster.CastingName,
						MSProcessPerformMaster.ConvertToPartID,
						MSProcessPerformMaster.IsSetupNotRequired,
						MSProcessPerformMaster.remarks,
						MSProcessPerformMaster.ShiftId,
						MSProcessPerformMaster.PlantId
				FROM    MSProcessPerformMaster
						inner join CastingMaster on CastingMaster.CastingId = MSProcessPerformMaster.CastingID
						WHERE   MSProcessPerformMaster.MSProcessPerformID = @MSProcessPerformID
                        AND MSProcessPerformMaster.IsDeleted = 0
                      
                -- Heat wise record 
                  select 
						MSProcessPerformBreakup.ID,
						MSProcessPerformBreakup.MSProcessPerformID,
						ProductionBatch.batchID,
						ProductionBatch.batchno,
						isnull(MSProcessPerformBreakup.BatchStock,0) as BatchStock,
						MSProcessPerformBreakup.CastCode,
						MetalMaster.MetalId,
						MetalMaster.MetalName,
						ProcessMaster.ProcessId as processID,
						ProcessMaster.ProcessName,
						MSProcessPerformBreakup.batchID,
						CastingStockBatch.Batchid AS stockbatchid ,
						CastingHeatCode.HeatCode ,
                       ProductionBatch.ProductionDate,
                        CastingStockBatch.Weight as BatchWeight,
                        isnull(MSProcessPerformBreakup.BatchStock,0) as OldBatchStock
                        
                FROM    MSProcessPerformBreakup   
						inner join  MSProcessPerformMaster on MSProcessPerformMaster.MSProcessPerformID =    MSProcessPerformBreakup.MSProcessPerformID                
						inner join MetalMaster on MetalMaster.MetalId = MSProcessPerformMaster.MetalID
						inner join ProcessMaster on ProcessMaster.ProcessId = MSProcessPerformMaster.ProcessID
						INNER JOIN CastingStockBatch ON MSProcessPerformBreakup.batchID = CastingStockBatch.Batchid
                        inner join ProductionBatch on ProductionBatch.batchID = CastingStockBatch.productionbatchID
						LEFT JOIN CastingHeatCode ON CastingStockBatch.ProductionBatchID = CastingHeatCode.ProductionBatchID
                                                         AND CastingStockBatch.castingid = CastingHeatCode.CastingID 
                         
                WHERE   MSProcessPerformBreakup.MSProcessPerformID = @MSProcessPerformID
						AND MSProcessPerformMaster.IsDeleted = 0
				
				
				-- Break , Tool Change and Maintenance Record		
                  select 
						MSDownTimeDetails.ID,
						MSDownTimeDetails.MSProcessPerformID,
						MSDownTimeDetails.StartTime,
						MSDownTimeDetails.EndTime,						
						(case when MSDownTimeDetails.Type = '1' then BreakReason else ReasonMaster.Reason end) as Reason,
						MSDownTimeDetails.ReasonID,
						MSDownTimeDetails.BreakReason,
						MSDownTimeDetails.PurchaseitemID,
						MSDownTimeDetails.Qty,
						MSDownTimeDetails.Type,
						MSDownTimeDetails.Qty as OldQty
                FROM    MSDownTimeDetails   
						inner join  MSProcessPerformMaster on MSProcessPerformMaster.MSProcessPerformID =  MSDownTimeDetails.MSProcessPerformID                
						left join ReasonMaster on ReasonMaster.ReasonID = MSDownTimeDetails.ReasonID               
		       WHERE   MSDownTimeDetails.MSProcessPerformID = @MSProcessPerformID
						AND MSProcessPerformMaster.IsDeleted = 0
		
			 
       				
                
    END
        
    IF @parameter = 11 -- Update Machine Shop Record
      BEGIN
             BEGIN TRANSACTION
             BEGIN TRY 
             SET @InspectionPermiterFlag = ( SELECT  permitir
                                            FROM    permitir
                                            WHERE   Code = 'QC'
                                          ) 
                                          
            SET @IsProcessStockTransfer = ( SELECT permitir
											from permitir
											where Code = 'PST'
                                          )  

            SET @ID =@MSProcessPerformID;
            update MSProcessPerformMaster
                   set 
                     -- castingID = @PartId,
                    --  ProcessID = @ProcessID,     
                    --  FromProcessId = @ProcessFrom,                 
                    --  MetalID = @MetalID,
                     -- ProcessQty = @Transferqty,                      
                      ProcessPerformDate = @ProcessTransfer_Date,
                      ProcessPerformEndDate = @ProcessTransfer_EndDate,
                      StartTime = @StartTime,
                      EndTime = @EndTime,
                   --   CastingWeight = @Weight,
                      ContractorID = @ContractorID,
                      --CreatedBY = @UserID,
                      EntityID = @EntityID,
                      --Createdon = @Createdon,
                     -- MachineId = @MachineId,
                     -- ParentID = @castingID,
                      SetupStartTime = @SetupStartTime,
                      SetupEndTime = @SetupEndTime,
                     IsSetupNotRequired =@IsSetupNotRequired ,
                     remarks = @remarks ,
                     TargetQty = @TargetQty,
                     Shiftid = @ShiftId,
					 ModifiedOn = GETDATE(),
					 ModifiedBy = @UserID
			        where MSProcessPerformID = @ID
			        
			        
			 
      --      DECLARE BatchStockBreakup CURSOR
      --      FOR
      --          SELECT  Node.value('(batchID )[1]', 'bigint') AS 'batchID' ,
      --                  Node.value('(stockbatchid )[1]', 'bigint') AS 'stockbatchid' ,
      --                  Node.value('(HeatCodeId )[1]', 'bigint') AS 'HeatCodeId' ,
      --                  Node.value('(TransferQty )[1]', 'int') AS 'TransferQty' ,                        
      --                  Node.value('(CastCode )[1]', 'varchar(50)') AS 'CastCode' ,
      --                  Node.value('(OldBatchStock )[1]', 'int') AS 'OldBatchStock'  ,
      --                  Node.value('(ProcessId )[1]', 'uniqueidentifier') AS 'ProcessId'                       
      --          FROM    @BatchXMl.nodes('/DocumentElement/BatchTable') AS TEMPXML ( Node ) 
      --      OPEN BatchStockBreakup;

      --      FETCH NEXT FROM BatchStockBreakup INTO @batchID, @stockbatchID,@HeatCodeId,
      --          @batchStock, @CastCodeNo ,@OldBatchStock,@ProcessFrom
      --      WHILE ( @@FETCH_STATUS = 0 )
      --          BEGIN

					 --SET @TempStock =  @OldBatchStock - @batchstock
                     
      --              INSERT  INTO MSProcessPerformBreakup
      --                      ( ID,
						--	  MSProcessPerformID ,
      --                        batchID ,
      --                        batchStock ,
      --                        Castcode
					 --       )
      --              VALUES  ( NEWID(),
						--	  @ID ,
      --                        @stockbatchID ,
      --                        @TempStock ,
      --                        @CastCodeNo
					 --       )
				 
      --            --  SET @TempStock =  @OldBatchStock - @batchstock
                     
      --              EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,  
						--@CastingID2= @castingID ,              
      --                  @MetalID = @MetalID, @StockToAdd = @TempStock,
      --                  @StockToRej = 0, @ProcessID = @ProcessFrom,
      --                  @ProcessTransferTo = @ProcessID,
      --                  @Tagging = N'Process Perform', @Process = N'Insert',
      --                  @ProcessCode = @ID, @productionbatchid = @batchID,
      --                  @ProcessDate = @Createdon, @UserID = @UserID,
      --                  @CastCode_No = @CastCodeNo,
      --                  @CastingStockBatchID = @stockbatchID,
      --                  @isCastCodeEnable = @isCastCodeEnable,
      --                  @BatchWeight = @Weight,
      --                  @HeatCodeId = @HeatCodeId
                         
                        
      --              FETCH NEXT FROM BatchStockBreakup INTO @batchID,
      --                  @stockbatchID,@HeatCodeId, @batchStock, @CastCodeNo,@OldBatchStock,@ProcessFrom
      --          END 

      --      CLOSE BatchStockBreakup;
      --      DEALLOCATE BatchStockBreakup;
            
           
           -- Break Time
       
            
            -- Time Detail
             
            delete from MSTimeDetail where MSProcessPerform = @ID 
            DECLARE MaintenanceTimeCursor CURSOR
            FOR
                SELECT  Node.value('(TimeInHr)[1]', 'int') AS 'TimeInHr' ,
                        Node.value('(TimeInMin)[1]', 'int') AS 'TimeInMin' ,
                        Node.value('(ReasonId)[1]', 'int') AS 'ReasonId'                       
                FROM    @XMLMaintenance.nodes('/DocumentElement/XMLMaintenance') AS TEMPXML ( Node ) 
            OPEN MaintenanceTimeCursor;

            FETCH NEXT FROM MaintenanceTimeCursor INTO @TimeHr, @TimeMin,@Reason
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN

						INSERT  INTO MSTimeDetail
											( ID,
											  MsProcessPerform ,
											  ReasonID,
											  TimeInHr,
											  TimeInMin
											)
							VALUES  ( NEWID(),
									  @ID ,
									  @Reason ,
									  @TimeHr,
									  @TimeMin
									)		
                    
                        
                    FETCH NEXT FROM MaintenanceTimeCursor INTO @TimeHr, @TimeMin,@Reason
                END 

            CLOSE MaintenanceTimeCursor;
            DEALLOCATE MaintenanceTimeCursor;
             
             -- Consumption Details
			 
				   	DECLARE @tempReturn INT;
									EXEC @tempReturn= [ItemConsumeDetail]
							@Parameter= 4, 
							@PlantId =@PlantId,
							@ProcessTransfer_Date =@ProcessTransfer_Date,
							@IsInwardBatchWise   = @IsInwardBatchWise,
							@UserID   =@UserID  ,
							@ConsumptionMethod   = @ConsumptionMethod,
							@ConsumptionDetails =@ConsumptionDetails,
							@ProcessPerformID = @ID,
							@EntityID  = @EntityID 
								 IF (@tempReturn = -7 OR @tempReturn= -1 OR @tempReturn = -4)
												BEGIN
												   ROLLBACK TRANSACTION
													RETURN @tempReturn ;
												END 
            
  END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION  
			IF CURSOR_STATUS('global','MaintenanceTimeCursor') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','MaintenanceTimeCursor') > -1
				   BEGIN
					CLOSE MaintenanceTimeCursor
				   END
				 DEALLOCATE MaintenanceTimeCursor
				END	
			 
			 return -1
			END	
        END Catch      

             COMMIT TRANSACTION                                                                                            	
            RETURN 1 
            
     --         -- NOTIFICATION for next process user
     --      Declare @TempProcess1 varchar(50), @NextProcess1 uniqueidentifier,@InspectionRequired1 bit; 
     --      -- here casting id can be part as well as casting so compare it with part id in casting part no not casting id
     --      Set @InspectionRequired1 = (Select ISNULL(InspectionRequired,0) as InspectionRequired  from CastingPartNo  WHERE     PartId = @PartId and CastingId=@castingID
     --                                                   AND ProcessID = @ProcessID
     --                                                   And MetalId = @MetalID and Isnull(IsDeleted,0)=0)                                                
     --       IF @InspectionRequired1 = 1
     --           BEGIN
            
					--EXEC [dbo].[ProcessInspectionNotification] @castingID =@castingID, @PartId = @PartId , @ProcessID=@ProcessID,@MetalID=@MetalID,@Transferqty=@Transferqty                               
					
     --           END                           
     --       ELSE
     --           BEGIN
                
					--SET @Sequance = ( SELECT    Sequence
     --                                         FROM      dbo.CastingProcess
     --                                         WHERE     CastingID = @CastingId
     --                                                   AND ProcessID = @ProcessID
     --                                                   And MetalId = @MetalID
     --                                       )
                    
					--	 SET @NextProcess1 = ( SELECT ProcessID
     --                                            FROM   dbo.CastingProcess
     --                                            WHERE  CastingID = @CastingId
					--									And MetalId = @MetalID
     --                                                   AND Sequence = @Sequance
     --                                                   + 1
     --                                                  -- AND ProcessType = 0
     --                                          )
                                               
					--IF @IsProcessStockTransfer = 1 -- If process transfer enable than show notification to that user
					--BEGIN					
					--	EXEC [dbo].[ProcessTransferNotification] @castingID =@castingID, @PartId = @PartId, @ProcessID=@ProcessID,@NextProcessID=@NextProcess1,@Transferqty=@Transferqty						
					--END
					--ELSE
					--BEGIN
					--	-- Here @Processid will be passed because in procedure it will find next process and give notification that it is ready for next process
					--	EXEC [dbo].[ProcessPerformNotification] @castingID =@castingID, @PartId = @PartID , @ProcessID=@ProcessID,@NextProcessID=@NextProcess1,@Transferqty=@Transferqty	        
					--END                					
     --           END         
           
        END
    
    IF @Parameter = 12 -- Get Deails when Edit
    BEGIN    
				-- Break , Tool Change and Maintenance Record		
      --            select 
						--MSDownTimeDetails.ID,
						--MSDownTimeDetails.MSProcessPerformID,
						--cast (MSDownTimeDetails.StartTime as Datetime) as StartTime ,
						--cast ( MSDownTimeDetails.EndTime as Datetime) as EndTime ,						
						--(case when MSDownTimeDetails.Type = '1' then BreakReason else cast(ReasonMaster.ReasonID as varchar(100)) end) as Reason,
						--MSDownTimeDetails.ReasonID,
						--MSDownTimeDetails.BreakReason,
						--MSDownTimeDetails.PurchaseitemID,
						--MSDownTimeDetails.Qty,
						--MSDownTimeDetails.Type
      --          FROM    MSDownTimeDetails   
						--inner join  MSProcessPerformMaster on MSProcessPerformMaster.MSProcessPerformID =  MSDownTimeDetails.MSProcessPerformID                
						--left join ReasonMaster on ReasonMaster.ReasonID = MSDownTimeDetails.ReasonID               
		    --   WHERE   MSDownTimeDetails.MSProcessPerformID = @MSProcessPerformID
						--AND (@Type = 0 or MSDownTimeDetails.Type = @Type)
						--AND MSProcessPerformMaster.IsDeleted = 0
						Declare @KnockID int = 0
						
						 select top 1 @KnockID = knockoutid from knockout where batchid =@ForBatchID
						 
						
				Select  Reason,
						MsTimeDetail.ReasonId,
						TimeInHr,
						TimeInMin,
						Cast(TimeInHr as varchar(10) ) +'hr'+Cast(TimeInMin as varchar(10))+'min' as [Time]
				From	MsTimeDetail
						Inner Join ReasonMaster On ReasonMaster.ReasonID = MsTimeDetail.ReasonId
				Where	((isnull(@KnockID,0) = 0 and MsTimeDetail.MsProcessPerform  = @MSProcessPerformID )
							OR (isnull(MSTimeDetail.Knockoutid,0) = isnull(@KnockID,0) and isnull(@KnockID,0) != 0))
						and Pagetype=0
                
    END
    
    IF @Parameter = 13 -- This is used to fetch ProcessPerform Heat detail
    BEGIN
    
    SELECT              MSProcessPerformMaster.MSProcessPerformID,
                        batchno AS HeatNo,
                        MSProcessPerformBreakup.batchID AS CastingStockBatchId ,
                        dbo.ProductionBatch.batchID AS ProductionbatchID ,
                        MetalName ,
                        MSProcessPerformBreakup.BatchStock AS TransferQty ,
                        ProcessMaster.ProcessName,
                        dbo.MSProcessPerformMaster.MetalID ,
                        dbo.MSProcessPerformMaster.CastingID ,
                        MSProcessPerformBreakup.CastCode ,
                        MSProcessPerformBreakup.ID,
                        CastingHeatCode.HeatCode
                FROM    MSProcessPerformMaster
                        INNER JOIN MSProcessPerformBreakup ON MSProcessPerformBreakup.MSProcessPerformID = MSProcessPerformMaster.MSProcessPerformID
                        INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.MSProcessPerformBreakup.batchID
                        INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
                        INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.MSProcessPerformMaster.MetalID
                        INNER JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = dbo.MSProcessPerformMaster.ProcessID
                        LEFT JOIN CastingHeatCode ON CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeID
												AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
												And CastingHeatCode.CastingID = CastingStockBatch.CastingID
                WHERE   MSProcessPerformMaster.MSProcessPerformID = @MSProcessPerformID
                        AND MSProcessPerformBreakup.BatchStock > 0
    END
    IF @Parameter = 14
	 BEGIN
		--declare @num1 int
		--set @num1 = ( SELECT top 1 1 FROM MSProcessPerformMaster WHERE IsDeleted = 0 AND ContractorID= @ContractorID
		--		and ((ProcessPerformDate between @ProcessTransfer_Date and @ProcessTransfer_EndDate )
		--			Or (ProcessPerformEndDate between @ProcessTransfer_Date and @ProcessTransfer_EndDate ))
		--		AND ( @MSProcessPerformID IS NULL
  --                              OR MSProcessPerformMaster.MSProcessPerformID <> @MSProcessPerformID
  --                                          )
  --              AND MachineId = @MachineId)
			
			--if(@num1 = 1 )
			--begin
					if( @IsSetupNotRequired =1) 
					begin
					
						declare @Temp6 int =(
							SELECT top 1 1 FROM MSProcessPerformMaster WHERE IsDeleted = 0 AND ContractorID= @ContractorID
							and (
								((cast(cast(ProcessPerformDate as date) as datetime) + cast(StartTime as datetime ) )
								between (cast(cast(@ProcessTransfer_Date as date) as datetime) + cast(cast(@StartTime as timE) as datetime ))
									and (cast(cast(@ProcessTransfer_EndDate as date) as datetime) + cast(cast(@EndTime as time) as datetime )))
								Or 
								((cast(cast(ProcessPerformEndDate as date) as datetime) + cast(EndTime as datetime ) )
								between (cast(cast(@ProcessTransfer_Date as date) as datetime) + cast(cast(@StartTime as timE) as datetime ))
									and (cast(cast(@ProcessTransfer_EndDate as date) as datetime) + cast(cast(@EndTime as time) as datetime )))
								
								)
				
						--and ProcessPerformDate  = @ProcessTransfer_Date and ProcessPerformEndDate =@ProcessTransfer_EndDate
						--and StartTime >= cast(@StartTime as time) and EndTime	<= cast(@EndTime as time)
						
						AND ( @MSProcessPerformID IS NULL
                                              OR MSProcessPerformMaster.MSProcessPerformID <> @MSProcessPerformID
                                            ) 
                        
                        AND MachineId = @MachineId    )
						if(@Temp6 =1 )
						begin
							return -1
						end 
						
					
						--declare @Temp int =(
						--	SELECT top 1 1 FROM MSProcessPerformMaster WHERE IsDeleted = 0 AND ContractorID= @ContractorID
						--and ProcessPerformDate  = @ProcessTransfer_Date and ProcessPerformEndDate =@ProcessTransfer_EndDate
						----and StartTime <= cast(@StartTime as time) and EndTime	>= cast(@EndTime as time)
						--AND ( @MSProcessPerformID IS NULL
      --                                        OR MSProcessPerformMaster.MSProcessPerformID <> @MSProcessPerformID
      --                                      ) 
      --                  AND cast(@StartTime as time) BETWEEN StartTime AND EndTime
      --                  AND MachineId = @MachineId    )
						--if(@Temp =1 )
						--begin
						--	return -1
						--end 
						
						--declare @Temp3 int =(
						--	SELECT top 1 1 FROM MSProcessPerformMaster WHERE IsDeleted = 0 AND ContractorID= @ContractorID
						--and ProcessPerformDate  = @ProcessTransfer_Date and ProcessPerformEndDate =@ProcessTransfer_EndDate
						----and StartTime <= cast(@StartTime as time) and EndTime	>= cast(@EndTime as time)
						--AND ( @MSProcessPerformID IS NULL
      --                                        OR MSProcessPerformMaster.MSProcessPerformID <> @MSProcessPerformID
      --                                      ) 
      --                  AND cast(@EndTime as time) BETWEEN StartTime AND EndTime
      --                  AND MachineId = @MachineId   )
						--if(@Temp3 =1 )
						--begin
						--	return -1
						--end 
						
					end	
					else
					begin
					
					declare @Temp7 int =(
						SELECT top 1  1 FROM MSProcessPerformMaster WHERE IsDeleted = 0 AND ContractorID= @ContractorID
						And (
								((cast(cast(ProcessPerformDate as date) as datetime) + cast(SetupStartTime as datetime ) )
								between (cast(cast(@ProcessTransfer_Date as date) as datetime) + cast(cast(@SetupStartTime as time) as datetime ))
									and (cast(cast(@ProcessTransfer_EndDate as date) as datetime) + cast(cast(@EndTime as time) as datetime )))
								Or 
								((cast(cast(ProcessPerformEndDate as date) as datetime) + cast(EndTime as datetime ) )
								between (cast(cast(@ProcessTransfer_Date as date) as datetime) + cast(cast(@SetupStartTime as time) as datetime ))
									and (cast(cast(@ProcessTransfer_EndDate as date) as datetime) + cast(cast(@EndTime as time) as datetime )))
								
								)
								
						--and ProcessPerformDate  = @ProcessTransfer_Date and ProcessPerformEndDate =@ProcessTransfer_EndDate
						--and SetupStartTime >= cast(@SetupStartTime as time)  and  EndTime	 <=  cast(@EndTime as time) 
						AND ( @MSProcessPerformID IS NULL
                                              OR MSProcessPerformMaster.MSProcessPerformID <> @MSProcessPerformID
                                            )
                        AND MachineId = @MachineId
                                )
						if(@Temp7 =1 )
						begin
							return -1
						end 
						
						
					--declare @Temp1 int =(
					--	SELECT top 1  1 FROM MSProcessPerformMaster WHERE IsDeleted = 0 AND ContractorID= @ContractorID
					--	and ProcessPerformDate  = @ProcessTransfer_Date and ProcessPerformEndDate =@ProcessTransfer_EndDate
					--	--and SetupStartTime <= cast(@SetupStartTime as time)  and  EndTime	 >=  cast(@EndTime as time) 
					--	AND ( @MSProcessPerformID IS NULL
     --                                         OR MSProcessPerformMaster.MSProcessPerformID <> @MSProcessPerformID
     --                                       )
     --                   AND cast(@SetupStartTime as time) BETWEEN SetupStartTime AND EndTime
     --                   AND MachineId = @MachineId        )
					--	if(@Temp1 =1 )
					--	begin
					--		return -1
					--	end 
						
					--declare @Temp4 int =(
					--	SELECT top 1  1 FROM MSProcessPerformMaster WHERE IsDeleted = 0 AND ContractorID= @ContractorID
					--	and ProcessPerformDate  = @ProcessTransfer_Date and ProcessPerformEndDate =@ProcessTransfer_EndDate
					--	--and SetupStartTime <= cast(@SetupStartTime as time)  and  EndTime	 >=  cast(@EndTime as time) 
					--	AND ( @MSProcessPerformID IS NULL
     --                                         OR MSProcessPerformMaster.MSProcessPerformID <> @MSProcessPerformID
     --                                       )
     --                   AND cast(@EndTime as time) BETWEEN SetupStartTime AND EndTime
     --                   AND MachineId = @MachineId       )
					--	if(@Temp4 =1 )
					--	begin
					--		return -1
					--	end 
					end
			--end 
			return 0 
				  
    END
	
	
	--if @Parameter = 14
	--BEGIN
	--	if (@LastFewEntriesForWt > 0)
	--	BEGIN
	--		Select @TotalWt = SUM(CastingWeight),@Count = COUNT(MSProcessPerformID) from (
	--				Select top (@LastFewEntriesForWt) CastingWeight,MSProcessPerformMaster.MSProcessPerformID from MSProcessPerformMaster
	--				Where	CastingID = @castingID
	--						and MetalID = @MetalID 
	--						and ProcessID = @ProcessID
	--						and IsDeleted = 0
	--				Order by CreatedOn desc
	--			) as a
	--	if(@Count < @LastFewEntriesForWt)
	--		Begin
	--			set @LastFewEntriesForWt = @Count
	--		End	
	--	if exists ( select 1 from CastingPartNo 
	--	where PartId = @castingID and MetalID = @MetalID and ProcessId = @ProcessID and IsDeleted = 0)
	--	BEGIN
	--		Update CastingPartNo set ActAvgWeight = ROUND((@TotalWt/@LastFewEntriesForWt),2) 
	--		Where PartId = @castingID and MetalID = @MetalID and ProcessId = @ProcessID and IsDeleted = 0
	--	END
	--	ELSE
	--	BEGIN
	--		Set @Srno = (( select MAX(SrNo) from CastingPartNo  where PartId = @castingID and MetalId = @MetalID
	--		and ProcessID = @ProcessID and IsDeleted = 0)+1)
		
	--		Insert into CastingPartNo (PartId,CastingId,MetalID,ProcessId,Weight,ProcessCost,ReportId,SrNo,
	--		Duration,InspectionRequired,CostUOM,IsDeleted,CreatedBy,CreatedOn,ModifiedBy,ModifiedOn,DeletedBy,DeletedOn,
	--		NoofpartProduce,ActAvgWeight,SetupTime,LoadingUnloadingTime,DurationSec,SetupTimeSec,LoadingUnloadingTimeSec,
	--		NoOfUnloadingProduce,IsManualTime)
	--		values (@castingID,@ParentID,@MetalID,@ProcessID,0,0,'00000000-0000-0000-0000-000000000000',@Srno,
	--		0,0,0,0,@UserID,GETDATE(),null,null,null,null,
	--		0,@TotalWt,0,0,0,0,0,
	--		0,0)
	--	END
	--	END
	--END
    
GO
