USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CloseCavityStockMove]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[CloseCavityStockMove]
	-- Add the parameters for the stored procedure here
	@FromMoldTypeId uniqueidentifier,
	@ToMoldTypeId uniqueidentifier,
	@MoldQty bigint,
	@PlantId int,
	@Type_Id uniqueidentifier,
	@AssemblyId uniqueidentifier,
	@EntityId int,
	@RawBatchNo varchar(MaX) = null,
	@OrderTranseId uniqueidentifier = null
AS
BEGIN
	BEGIN  TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Update	MoldInventory set MoldInventory = MoldInventory - @MoldQty
	from	MoldInventory 
	Where	MoldingTypeID = @FromMoldTypeId
			and PlantId = @PlantId
			and Type_ID = @Type_Id

	if exists(	select 1 from MoldInventory 
				Where	MoldingTypeID = @ToMoldTypeId
						and PlantId = @PlantId
						and Type_ID = @Type_Id)
	BEGIN
		Update	MoldInventory set MoldInventory = MoldInventory + @MoldQty
		from	MoldInventory 
		Where	MoldingTypeID = @ToMoldTypeId
				and PlantId = @PlantId
				and Type_ID = @Type_Id
	END
	ELSE
	BEGIN
		Insert into MoldInventory ( MoldInventoryId,MoldingTypeID,MoldInventory,SandTypeID,PlantId,Type_ID)
		Values (newId(),@ToMoldTypeId,@MoldQty,0,@PlantId,@Type_Id)
	END
			
	Update  RawInwBatchWiseStock set qty = qty - @MoldQty
	from	RawInwBatchWiseStock 
	Where	PurchaseItemId = @AssemblyId
			and StockTypeID = @Type_Id
			and Ref_Id = @FromMoldTypeId
			and PlantId = @PlantId
			and EntityId = @EntityId
			and isnull(OrderTranseid, cast(0x0 as uniqueidentifier)) = isnull(@OrderTranseId,cast(0x0 as uniqueidentifier))

	if exists ( select 1 from RawInwBatchWiseStock 
				Where	PurchaseItemId = @AssemblyId
						and StockTypeID = @Type_Id
						and Ref_Id = @ToMoldTypeId
						and PlantId = @PlantId
						and EntityId = @EntityId
						and isnull(OrderTranseid, cast(0x0 as uniqueidentifier)) = isnull(@OrderTranseId,cast(0x0 as uniqueidentifier))
			)
	BEGIN
		Update  RawInwBatchWiseStock set qty = qty + @MoldQty
		from	RawInwBatchWiseStock 
		Where	PurchaseItemId = @AssemblyId
				and StockTypeID = @Type_Id
				and Ref_Id = @ToMoldTypeId
				and PlantId = @PlantId
				and EntityId = @EntityId
				and isnull(OrderTranseid, cast(0x0 as uniqueidentifier)) = isnull(@OrderTranseId,cast(0x0 as uniqueidentifier))
	END
	ELSE
	BEGIN
		
		Insert into RawInwBatchWiseStock (RawBatchNo,PurchaseItemId,qty,PlantId,EntityId,Status,Ref_Id,StockTypeID,OrderTranseId)
		values (@RawBatchNo,@AssemblyId,@MoldQty,@PlantId,@EntityId,1,@ToMoldTypeId,@Type_Id,@OrderTranseId)
	END
	END TRY
	BEGIN CATCH
		RETURN -1
	END CATCH
	RETURN 1
END
GO
