USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[HeatWiseInventoryReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HeatWiseInventoryReport]
    @Parameter INT = 0 ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @BatchID INT = 0 ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
    BEGIN
        IF @Parameter = 1
            BEGIN
                SELECT DISTINCT
                        CastingMaster.CastingId ,
                        CastingMaster.CastingName
                FROM    CastingMaster
                WHERE   CastingMaster.IsDeleted = 0
                        AND ( @PlantIdString IS NULL
                              OR @PlantIdString = ''
                              OR CastingId IN (
                              SELECT    CastingId
                              FROM      dbo.PlantCastingMapping
                                        INNER JOIN dbo.SplitString(@PlantIdString,
                                                              ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                            )
                        AND EntityID = @EntityId
                ORDER BY CastingName
            END
            
        IF @Parameter = 2
            BEGIN
                SELECT DISTINCT
                        CastingMaster.CastingId ,
                        CastingMaster.CastingCode
                FROM    CastingMaster
                WHERE   CastingMaster.IsDeleted = 0
                        AND ( @PlantIdString IS NULL
                              OR @PlantIdString = ''
                              OR CastingId IN (
                              SELECT    CastingId
                              FROM      dbo.PlantCastingMapping
                                        INNER JOIN dbo.SplitString(@PlantIdString,
                                                              ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                            )
                        AND EntityID = @EntityId
                ORDER BY CastingCode
            END
        SET NOCOUNT ON;
    
        IF @Parameter = 3
            BEGIN
                --SELECT DISTINCT
                --        ROW_NUMBER() OVER ( ORDER BY ProductionBatch.batchno ASC ) AS RowNo ,
                --        ProductionBatch.batchno ,
                --        productionqty ,
                --        SUM(ISNULL(CastingFinalRejection.RejQty, 0)) AS RejQty ,
                --        SUM(ISNULL(DispatchTable.Qty, 0)) AS DispatchQty ,
                --        ( productionqty
                --          - SUM(ISNULL(CastingFinalRejection.RejQty, 0))
                --          - SUM(ISNULL(DispatchTable.Qty, 0)) ) AS pendingqty
                --FROM    ProductionBatch
                --        INNER JOIN knockout ON knockout.batchid = ProductionBatch.batchID
                --        LEFT JOIN CastingFinalRejection ON CastingFinalRejection.ProductionBatchID = knockout.batchid
                --                                           AND CastingFinalRejection.CastingID = knockout.castingid
                --        LEFT JOIN ( SELECT  dispatchtrans.castingid ,
                --                            CastingStockBatch.productionbatchID ,
                --                            DispatchGradewise.Qty
                --                    FROM    dispatchtrans ,
                --                            DispatchGradewise ,
                --                            CastingStockBatch
                --                    WHERE   DispatchGradewise.DispatchTransID = dispatchtrans.dispatchtransid
                --                            AND CastingStockBatch.batchid = DispatchGradewise.BatchID
                --                  ) AS DispatchTable ON DispatchTable.castingid = knockout.castingid
                --                                        AND DispatchTable.productionbatchID = knockout.batchid
                --WHERE   ProductionBatch.IsDeleted = 0
                --        AND knockout.IsDeleted = 0
                --        AND knockout.castingid = @CastingID
                --GROUP BY ProductionBatch.batchno ,
                --        productionqty
                
                SELECT DISTINCT
                        ROW_NUMBER() OVER ( ORDER BY ProductionBatch.batchno ASC ) AS RowNo ,
                        ProductionBatch.batchno ,
                        productionqty ,
                        ISNULL(Rejection.RejQty, 0) AS RejQty ,
                        ISNULL(DispatchTable.Qty, 0) AS DispatchQty ,
                        ( productionqty - ISNULL(Rejection.RejQty, 0)
                          - ISNULL(DispatchTable.Qty, 0) ) AS pendingqty
                FROM    ProductionBatch
                        INNER JOIN knockout ON knockout.batchid = ProductionBatch.batchID
                        LEFT JOIN ( SELECT  SUM(ISNULL(CastingFinalRejection.RejQty,
                                                       0)) AS RejQty ,
                                            CastingID ,
                                            productionbatchID
                                    FROM    CastingFinalRejection
                                    GROUP BY CastingID ,
                                            ProductionBatchID
                                  ) AS Rejection ON Rejection.ProductionBatchID = knockout.batchid
                                                    AND Rejection.CastingID = knockout.castingid
                        LEFT JOIN ( SELECT  dispatchtrans.castingid ,
                                            CastingStockBatch.productionbatchID ,
                                            SUM(DispatchGradewise.Qty) AS Qty
                                    FROM    dispatchtrans ,
                                            DispatchGradewise ,
                                            CastingStockBatch
                                    WHERE   DispatchGradewise.DispatchTransID = dispatchtrans.dispatchtransid
                                            AND CastingStockBatch.batchid = DispatchGradewise.BatchID
                                            AND dispatchtrans.IsDeleted = 0
                                    GROUP BY productionbatchID ,
                                            dispatchtrans.castingid
                                  ) AS DispatchTable ON DispatchTable.castingid = knockout.castingid
                                                        AND DispatchTable.productionbatchID = knockout.batchid
                WHERE   ProductionBatch.IsDeleted = 0
                        AND knockout.IsDeleted = 0
                        AND knockout.castingid = @CastingID
                        AND ( @BatchID = 0
                              OR Productionbatch.Batchid = @batchID
                            )
            END
    
        IF @Parameter = 4
            BEGIN
			
                SELECT DISTINCT
                        ProductionBatch.batchno ,
                        ProductionBatch.batchID
                FROM    ProductionBatch
                        INNER JOIN knockout ON knockout.batchid = ProductionBatch.batchID
                WHERE   ProductionBatch.IsDeleted = 0
                        AND knockout.IsDeleted = 0
                        AND knockout.castingid = @CastingID
			
            END
    
    END
GO
