USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WareHouse_Register]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[WareHouse_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL ,  
	@LocationId int =null ,
@DispatchID BIGINT = 0  ,
@EntityId INT = 0 
,@CustomerID UNIQUEIDENTIFIER = NULL 
,@DateFrom DATETIME = NULL 
,@DateTo DATETIME = NULL  
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	Declare @CastingDisplay int = (select ShowCastingName from configuration where EntityID =@EntityId)  


       IF @Parameter = 1
        BEGIN
         IF @InitialLoad = 1
                    BEGIN 
                     SELECT DISTINCT TOP ( @PageSize )  * from (
						  SELECT DISTINCT ROW_NUMBER() OVER ( ORDER BY  LocationwiseInventory.LocationwiseInventoryId,dispatchtrans.dispatchid DESC ) AS SrNo ,
                              case when LocationwiseInventory.IsPurchaseItem=0 then    CastingMaster.CastingId else PurchaseItemMaster.PurchaseItemId  end as CastingId ,   case when LocationwiseInventory.IsPurchaseItem=0 then  ( case when @CastingDisplay= 0 then   CastingMaster.CastingName when  @CastingDisplay = 1 then CastingMaster.CastingCode else  CastingMaster.CastingName+'('+CastingMaster.CastingCode+')'  end )
                                else ( case when @CastingDisplay= 0 then   PurchaseItemMaster.ItemName when  @CastingDisplay = 1 then PurchaseItemMaster.ItemCode  else  PurchaseItemMaster.ItemName+'('+PurchaseItemMaster.ItemCode+')'  end )  end as CastingCode , 
                        
                              case when LocationwiseInventory.IsPurchaseItem=0 then    CastingMaster.CastingName else PurchaseItemMaster.ItemNAme end as CastingName ,   
                               -- MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty as dispatchqty  ,
                              --  dispatchmaster.Dispatchslipno, 
                           CASE WHEN DispatchMaster.Prefix IS NULL
                                                            OR DispatchMaster.Prefix = ''
                                                       THEN ''
                                                       ELSE CONVERT(VARCHAR(50), DispatchMaster.Prefix)
                                                            + CASE
                                                              WHEN DispatchMaster.Separator IS NULL
                                                              THEN ''
                                                              ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                              END
                                                  END
                                                  + CONVERT(VARCHAR(50), DispatchMaster.DispatchSlipNo)
                                                  + CASE WHEN DispatchMaster.Separator IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                    END
                                                  + CASE WHEN DispatchMaster.Suffix IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Suffix)
                                                    END 
                                                     as Dispatchslipno ,
                          LocationwiseInventory.LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid ,
                          	   CONVERT(VARCHAR(11), WarehouseDate, 106) as  WarehouseDate  ,
                          	  Warehouse.WareHouseId  ,
                          	 CustomerMaster.CustomerName,
                          	 PlantMaster.PlantName	 as LocationName 
                        FROM    dispatchmaster
                                INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                             --   INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                                INNER JOIN LocationwiseInventory ON LocationwiseInventory.DispatchId = dispatchmaster.DispatchID 
													and dispatchtrans.dispatchtransid = LocationwiseInventory.DispatchTransId and InTransist =1
								LEFT JOIN CastingMaster ON dispatchtrans.PartId = CastingMaster.CastingId and   LocationwiseInventory.IsPurchaseItem = 0 
                                LEFT JOIN PurchaseItemMaster on  PurchaseItemMaster.PurchaseItemId =dispatchtrans.PurchaseItemID   and   LocationwiseInventory.IsPurchaseItem = 1											
                                INNER JOIN Warehouse on warehouse.LocationwiseInventoryId=LocationwiseInventory.LocationwiseInventoryId 
                                INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
                                INNER JOIN PlantMaster on PlantMaster.PlantId = LocationwiseInventory.LocationId 
                            --       LEFT OUTER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId and MetalMaster.IsDeleted = 0
							  
                        WHERE  ( @DispatchID = 0
									  OR dispatchmaster.DispatchID =@DispatchID
                                     )   
                                      AND ( @CustomerID IS NULL
								  OR dispatchmaster.CustomerId = @CustomerID
									) 
                                AND dbo.dispatchtrans.IsDeleted = 0
                                 AND  ( @LocationId = 0
									  OR  LocationwiseInventory.LocationId =@LocationId
                                     ) 
                           and dispatchmaster.EntityID =@EntityId
                           AND ( @DateFrom IS NULL
                                                              OR @DateTo IS NULL
                                                              OR WarehouseDate BETWEEN @DateFrom
                                                              AND
                                                              @DateTo
                                                              
                                                            ) 
                        GROUP BY CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                          --      MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty  ,
                            dispatchmaster.Dispatchslipno,
                                  LocationwiseInventory.LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid   ,
                          	    WarehouseDate  ,
                          	  Warehouse.WareHouseId,
                          PurchaseItemMaster.PurchaseItemId,
                          PurchaseItemMaster.ItemCode,
                          PurchaseItemMaster.ItemName,
                         LocationwiseInventory.IsPurchaseItem ,
                          	 CustomerMaster.CustomerName ,
                          	 PlantMaster.PlantName	,
                        DispatchMaster.Prefix,
                        DispatchMaster.Separator,
                        DispatchMaster.Suffix 
                              ) as Tcc
                       WHERE   SrNo > ( @PageNumber * @PageSize ) 
                             END
                             
                              ELSE
                    BEGIN
				
                        SELECT TOP ( @PageSize )
                                *
                        FROM  (
                         SELECT DISTINCT ROW_NUMBER() OVER ( ORDER BY  LocationwiseInventory.LocationwiseInventoryId,dispatchtrans.dispatchid DESC ) AS SrNo ,
                                  case when LocationwiseInventory.IsPurchaseItem=0 then    CastingMaster.CastingId else PurchaseItemMaster.PurchaseItemId  end as CastingId ,  
                                case when LocationwiseInventory.IsPurchaseItem=0 then  ( case when @CastingDisplay= 0 then   CastingMaster.CastingName when  @CastingDisplay = 1 then CastingMaster.CastingCode else  CastingMaster.CastingName+'('+CastingMaster.CastingCode+')'  end )
                                else ( case when @CastingDisplay= 0 then   PurchaseItemMaster.ItemName when  @CastingDisplay = 1 then PurchaseItemMaster.ItemCode  else  PurchaseItemMaster.ItemName+'('+PurchaseItemMaster.ItemCode+')'  end )  end as CastingCode , 
                        
                              case when LocationwiseInventory.IsPurchaseItem=0 then    CastingMaster.CastingName else PurchaseItemMaster.ItemNAme end as CastingName ,   
                               -- MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty as dispatchqty  ,
                          --  dispatchmaster.Dispatchslipno, 
                           CASE WHEN DispatchMaster.Prefix IS NULL
                                                            OR DispatchMaster.Prefix = ''
                                                       THEN ''
                                                       ELSE CONVERT(VARCHAR(50), DispatchMaster.Prefix)
                                                            + CASE
                                                              WHEN DispatchMaster.Separator IS NULL
                                                              THEN ''
                                                              ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                              END
                                                  END
                                                  + CONVERT(VARCHAR(50), DispatchMaster.DispatchSlipNo)
                                                  + CASE WHEN DispatchMaster.Separator IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                    END
                                                  + CASE WHEN DispatchMaster.Suffix IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Suffix)
                                                    END 
                                                     as Dispatchslipno ,
                          LocationwiseInventory.LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid ,
                          	   CONVERT(VARCHAR(11), WarehouseDate, 106) as  WarehouseDate  ,
                          	  Warehouse.WareHouseId ,
                          	 CustomerMaster.CustomerName ,
                          	 PlantMaster.PlantName	 as LocationName 
                        FROM    dispatchmaster
                                INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                             --   INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                                INNER JOIN LocationwiseInventory ON LocationwiseInventory.DispatchId = dispatchmaster.DispatchID 
													and dispatchtrans.dispatchtransid = LocationwiseInventory.DispatchTransId and InTransist =1
								LEFT JOIN CastingMaster ON dispatchtrans.PartId = CastingMaster.CastingId and   LocationwiseInventory.IsPurchaseItem = 0 
                                LEFT JOIN PurchaseItemMaster on  PurchaseItemMaster.PurchaseItemId =dispatchtrans.PurchaseItemID   and   LocationwiseInventory.IsPurchaseItem = 1											
                                INNER JOIN Warehouse on warehouse.LocationwiseInventoryId=LocationwiseInventory.LocationwiseInventoryId 
                                INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
                                 INNER JOIN PlantMaster on PlantMaster.PlantId = LocationwiseInventory.LocationId 
                            --       LEFT OUTER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId and MetalMaster.IsDeleted = 0
							  
                        WHERE  ( @DispatchID = 0
									  OR dispatchmaster.DispatchID =@DispatchID
                                     )   
                                      AND ( @CustomerID IS NULL
								  OR dispatchmaster.CustomerId = @CustomerID
									) 
                                AND dbo.dispatchtrans.IsDeleted = 0
                               AND  ( @LocationId = 0
									  OR  LocationwiseInventory.LocationId =@LocationId
                                     ) 
                           and dispatchmaster.EntityID =@EntityId
                              AND ( @DateFrom IS NULL
                                                              OR @DateTo IS NULL
                                                              OR WarehouseDate BETWEEN @DateFrom
                                                              AND
                                                              @DateTo  
                                                            )  
                        GROUP BY CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                               -- MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty  ,
                            dispatchmaster.Dispatchslipno,
                                  LocationwiseInventory.LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid   ,
                           WarehouseDate ,
                          	  Warehouse.WareHouseId,
                          PurchaseItemMaster.PurchaseItemId,
                          PurchaseItemMaster.ItemCode,
                          PurchaseItemMaster.ItemName,
                         LocationwiseInventory.IsPurchaseItem ,
                          	 CustomerMaster.CustomerName ,
                          	 PlantMaster.PlantName	,
                        DispatchMaster.Prefix,
                        DispatchMaster.Separator,
                        DispatchMaster.Suffix 
                              ) as Tcc
                       WHERE   SrNo > ( @PageNumber * @PageSize ) 
                        END
        END	
        
        
             IF @Parameter = 2
        BEGIN
            SET @TotalRecords = ( SELECT    COUNT(1)
                                      FROM      ( SELECT DISTINCT 
                          LocationwiseInventory.LocationwiseInventoryId 
                     FROM    dispatchmaster
                                INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                             --   INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                                INNER JOIN LocationwiseInventory ON LocationwiseInventory.DispatchId = dispatchmaster.DispatchID 
													and dispatchtrans.dispatchtransid = LocationwiseInventory.DispatchTransId and InTransist =1
								LEFT JOIN CastingMaster ON dispatchtrans.PartId = CastingMaster.CastingId and   LocationwiseInventory.IsPurchaseItem = 0 
                                LEFT JOIN PurchaseItemMaster on  PurchaseItemMaster.PurchaseItemId =dispatchtrans.PurchaseItemID   and   LocationwiseInventory.IsPurchaseItem = 1											
                                INNER JOIN Warehouse on warehouse.LocationwiseInventoryId=LocationwiseInventory.LocationwiseInventoryId 
                                INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
                            --       LEFT OUTER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId and MetalMaster.IsDeleted = 0
							  
                        WHERE  ( @DispatchID = 0
									  OR dispatchmaster.DispatchID =@DispatchID
                                     )   
                                      AND ( @CustomerID IS NULL
								  OR dispatchmaster.CustomerId = @CustomerID
									) 
                                AND dbo.dispatchtrans.IsDeleted = 0 
                                AND  ( @LocationId = 0
									  OR  LocationwiseInventory.LocationId =@LocationId
                                     ) 
                           and dispatchmaster.EntityID =@EntityId
                              AND ( @DateFrom IS NULL
                                                              OR @DateTo IS NULL
                                                              OR WarehouseDate BETWEEN @DateFrom
                                                              AND
                                                              @DateTo  
                                                            )  
                        GROUP BY CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                               -- MetalMaster.MetalName ,
                                LocationwiseInventory.DispatchQty  ,
                            dispatchmaster.Dispatchslipno,
                                  LocationwiseInventory.LocationwiseInventoryId,
                          dispatchtrans.dispatchid,
                          dispatchtrans.dispatchtransid   ,
                           WarehouseDate ,
                          	  Warehouse.WareHouseId,
                          PurchaseItemMaster.PurchaseItemId,
                          PurchaseItemMaster.ItemCode,
                          PurchaseItemMaster.ItemName,
                         LocationwiseInventory.IsPurchaseItem
                                                ) AS c
                                    )
                RETURN @TotalRecords
        END   
END

GO
