USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GetDepartmentWiseAttendanceSummary]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetDepartmentWiseAttendanceSummary]
(
    @StartDate DATE,
    @EntityId INT,
    @EmployeeId INT = 0,
	@DepartmentId uniqueidentifier =null
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @columns NVARCHAR(MAX),
            @sql NVARCHAR(MAX),
            @registrationColumn NVARCHAR(MAX);

    ---- Build dynamic column list (Employee Groups)
    --WITH CategoryData AS (
    --    SELECT DISTINCT DisplayName
    --    FROM dbo.CommonData_Master
    --    WHERE [Group] = 'EmployeeGroup' 
    --      AND ISNULL(IsDeleted, 0) = 0
    --)
    --SELECT 
    --    @columns = STRING_AGG(QUOTENAME(DisplayName), ', '),
    --    @registrationColumn = STRING_AGG('ISNULL(' + QUOTENAME(DisplayName) + ', 0)', ' + ')
    --FROM CategoryData;

    ---- Build dynamic SQL
    --SET @sql = '
    --WITH AttendanceData AS (
    --    SELECT 
    --        sd.DepartmentID,
    --        SUM(CASE WHEN 
    --                    (CASE WHEN Holiday.HolidayDate IS NOT NULL THEN ''H''
    --                          WHEN EmployeeAttendance.StartTime IS NULL 
    --                               OR EmployeeAttendance.EndTime IS NULL 
    --                               OR IsConsiderAbsent = 1 
    --                          THEN ''A''
    --                          ELSE ''P'' END) = ''P'' 
    --             THEN 1 ELSE NULL END) AS PresentCount,
    --        COUNT(CASE WHEN 
    --                    (CASE WHEN Holiday.HolidayDate IS NOT NULL THEN ''H''
    --                          WHEN EmployeeAttendance.StartTime IS NULL 
    --                               OR EmployeeAttendance.EndTime IS NULL 
    --                               OR IsConsiderAbsent = 1 
    --                          THEN ''A''
    --                          ELSE ''P'' END) = ''A'' 
    --             THEN 1 ELSE NULL END) AS AbsentCount
    --    FROM dbo.EmployeeDetails
    --    LEFT JOIN EmployeeAttendance 
    --        ON EmployeeAttendance.EmployeeId = EmployeeDetails.EmployeeId 
    --        AND CAST(AttendanceDate AS DATE) = @StartDate
    --    LEFT JOIN CommonData_Master 
    --        ON EmployeeDetails.EmployeeGroupId = CommonData_Master.CommonDataId 
    --        AND CommonData_Master.IsDeleted = 0 
    --        AND [Group] = ''EmployeeGroup''
    --    LEFT JOIN SystemDepartment sd 
    --        ON EmployeeDetails.EmpDept_Id = sd.DepartmentID
    --    LEFT JOIN (
    --        SELECT HolidayDateMapping.HolidayDate, HolidayTemplateMapping.ParentId
    --        FROM HolidayMaster
    --        INNER JOIN HolidayTemplateMapping 
    --            ON HolidayTemplateMapping.HolidayId = HolidayMaster.HolidayId
    --        INNER JOIN HolidayDateMapping 
    --            ON HolidayDateMapping.HolidayId = HolidayMaster.HolidayId
    --        WHERE HolidayMaster.IsDeleted = 0
    --          AND CAST(HolidayDateMapping.HolidayDate AS DATE) = @StartDate
    --    ) AS Holiday 
    --        ON Holiday.ParentId = ISNULL(
    --            (SELECT TOP 1 TL.ParentId 
    --             FROM TemplateLog TL 
    --             WHERE TL.Emp_Id = EmployeeDetails.EmployeeId 
    --               AND CAST(TL.Date_Field AS DATE) <= @StartDate
    --            ), 
    --            EmployeeDetails.HolidayParentId
    --        )
    --    WHERE ((isActive = 1 AND IsInitialExit = 0) 
    --       OR (IsInitialExit = 1 AND InitialExitDate > @StartDate))
    --       AND dbo.EmployeeDetails.IsDelete = 0
    --       AND IsDummy = 0
    --       AND (EmployeeDetails.ShowInHR = 1)
    --       AND EmployeeDetails.EntityId = @EntityId
    --       AND (@EmployeeId = 0 OR EmployeeDetails.EmployeeId = @EmployeeId)
    --    GROUP BY  sd.DepartmentID
    --)
    --SELECT DepartmentName, 
    --       ISNULL(PresentCount,0) PresentCount, 
    --       ISNULL(AbsentCount,0) AbsentCount,
    --       ' + @registrationColumn + ' AS Registration, 
    --       ' + @columns + '
    --FROM (
    --    SELECT 
    --        sd.DepartmentName, 
    --        cd.DisplayName AS Category, 
    --        ad.PresentCount,
    --        ad.AbsentCount
    --    FROM dbo.SystemDepartment sd
    --    JOIN dbo.EmployeeDetails ed ON sd.DepartmentID = ed.EmpDept_Id
    --    JOIN dbo.CommonData_Master cd 
    --        ON ed.EmployeeGroupId = cd.CommonDataId
    --    INNER JOIN AttendanceData ad ON ad.DepartmentID = sd.DepartmentID
    --    WHERE cd.[Group] = ''EmployeeGroup''
    --      AND ISNULL(cd.IsDeleted, 0) = 0
    --      AND ISNULL(ed.IsDelete, 0) = 0
    --      AND ((isActive = 1 AND IsInitialExit = 0) 
    --         OR (IsInitialExit = 1 AND InitialExitDate > @StartDate))
    --      AND ed.IsDelete = 0
    --      AND IsDummy = 0
    --      AND (ed.ShowInHR = 1)
    --      AND ed.EntityId = @EntityId
    --      AND (@EmployeeId = 0 OR ed.EmployeeId = @EmployeeId)
    --) AS SourceTable
    --PIVOT (
    --    COUNT(Category) 
    --    FOR Category IN (' + @columns + ')
    --) AS PivotTable
    --ORDER BY DepartmentName;';

    ---- Execute with parameters safely
    --EXEC sp_executesql 
    --    @sql, 
    --    N'@StartDate DATE, @EntityId INT, @EmployeeId INT', 
    --    @StartDate=@StartDate, 
    --    @EntityId=@EntityId, 
    --    @EmployeeId=@EmployeeId;

	
		
		WITH AttendanceData AS (
			SELECT 
				sd.DepartmentID,
				sd.DepartmentName,
				SUM(CASE 
						WHEN h.HolidayDate IS NOT NULL THEN 0
						WHEN ea.StartTime IS NULL OR ea.EndTime IS NULL OR ea.IsConsiderAbsent = 1 THEN 0
						ELSE 1
					END) AS PresentCount,
				COUNT(CASE 
						WHEN h.HolidayDate IS NOT NULL THEN NULL
						WHEN ea.StartTime IS NULL OR ea.EndTime IS NULL OR ea.IsConsiderAbsent = 1 THEN 1
						ELSE NULL
					END) AS AbsentCount
			FROM dbo.EmployeeDetails ed
			LEFT JOIN dbo.EmployeeAttendance ea
				ON ea.EmployeeId = ed.EmployeeId 
				AND CAST(ea.AttendanceDate AS DATE) = @StartDate
			LEFT JOIN dbo.SystemDepartment sd 
				ON ed.EmpDept_Id = sd.DepartmentID
			LEFT JOIN dbo.CommonData_Master eg 
				ON ed.EmployeeGroupId = eg.CommonDataId 
				AND eg.[Group] = 'EmployeeGroup'
				AND ISNULL(eg.IsDeleted, 0) = 0
			LEFT JOIN (
				SELECT 
					hdm.HolidayDate, 
					htm.ParentId
				FROM HolidayMaster hm
				INNER JOIN HolidayTemplateMapping htm 
					ON htm.HolidayId = hm.HolidayId
				INNER JOIN HolidayDateMapping hdm 
					ON hdm.HolidayId = hm.HolidayId
				WHERE hm.IsDeleted = 0
				  AND CAST(hdm.HolidayDate AS DATE) = @StartDate
			) AS h ON h.ParentId = ISNULL(
							(SELECT TOP 1 TL.ParentId 
							 FROM TemplateLog TL 
							 WHERE TL.Emp_Id = ed.EmployeeId 
							   AND CAST(TL.Date_Field AS DATE) <= @StartDate),
							ed.HolidayParentId
					   )
			WHERE ((ed.IsActive = 1 AND ed.IsInitialExit = 0) 
				OR (ed.IsInitialExit = 1 AND ed.InitialExitDate > @StartDate))
			  AND ed.IsDelete = 0
			  AND ed.IsDummy = 0
			  AND ed.ShowInHR = 1
			  AND ed.EntityId = @EntityId
			  AND (@EmployeeId = 0 OR ed.EmployeeId = @EmployeeId)
			GROUP BY sd.DepartmentID, sd.DepartmentName
		)

		-- Main query
		SELECT 
			DENSE_RANK() OVER (ORDER BY ad.DepartmentName) AS SrNo,
			ad.DepartmentName,
			SUM(COUNT(CASE WHEN ed.EmployeeId IS NOT NULL THEN 1 END)) OVER (PARTITION BY ad.DepartmentName) AS Registration,
			ad.PresentCount,
			ad.AbsentCount,
			eg.DisplayName AS Category,
			COUNT(*) AS Value, -- Group-wise count (like pivot)
			SUM(COUNT(*)) OVER (PARTITION BY ad.DepartmentName) AS Total -- Total employees in that department
		FROM dbo.EmployeeDetails ed
		JOIN dbo.SystemDepartment sd ON ed.EmpDept_Id = sd.DepartmentID
		JOIN AttendanceData ad ON ad.DepartmentID = sd.DepartmentID
		JOIN dbo.CommonData_Master eg 
			ON ed.EmployeeGroupId = eg.CommonDataId
		WHERE eg.[Group] = 'EmployeeGroup'
		  AND ISNULL(eg.IsDeleted, 0) = 0
		  AND ed.IsDelete = 0
		  AND ed.IsDummy = 0
		  AND ed.ShowInHR = 1
		  AND ed.EntityId = @EntityId
		  AND (@EmployeeId = 0 OR ed.EmployeeId = @EmployeeId)
		  AND ((ed.IsActive = 1 AND ed.IsInitialExit = 0) 
			   OR (ed.IsInitialExit = 1 AND ed.InitialExitDate > @StartDate))
		AND (@DepartmentId IS NULL OR sd.DepartmentId = @DepartmentId)
		GROUP BY 
			ad.DepartmentName,
			ad.PresentCount,
			ad.AbsentCount,
			eg.DisplayName
		ORDER BY 
			ad.DepartmentName,
			eg.DisplayName;
END;
GO
