USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[LostFoamMoldingEntry_BatchDetails]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LostFoamMoldingEntry_BatchDetails]
	-- Add the parameters for the stored procedure here
	@MoldTypeID UNIQUEIDENTIFIER = NULL,
	@TypeId UNIQUEIDENTIFIER = NULL,
	@Method int = 0,
	@MoldingEntryId UNIQUEIDENTIFIER = NULL,
	@PlantId Int = 0,
	@EntityId int = 0,
	@AssemblyId UNIQUEIDENTIFIER = NULL,
	@PrintOrderNo bit = 0
AS
BEGIN
	

	Create Table #tempMoldConsbatchDet(RawbatchId int, Qty int,MethodId UNIQUEIDENTIFIER)
	
	declare @MoldConsumption Nvarchar(Max)
	declare @ConsJson Nvarchar(Max)

	if(@MoldingEntryId <> CAST(0x0 AS UNIQUEIDENTIFIER))
	BEGIN
	select 
	@MoldConsumption = Consumptiondet 
	from 
	MoldingEntryMaster where MoldingEntryMasterId = @MoldingEntryId

	                Select
					t.ConsumptionDet
					INTO #tempMoldBatch
					from
					Openjson(@MoldConsumption)
					WITH
					(
					ConsumptionDet Nvarchar(Max)
					)as t

					

					SET     @ConsJson  = ( SELECT
						       '['+
                                 (STUFF(( SELECT DISTINCT              
                                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                                  FROM      #tempMoldBatch where    ConsumptionDet  <> ''                    
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) +']' AS ConsumptionDet  )

                  INSERT INTO #tempMoldConsbatchDet (RawbatchId,Qty,MethodId)
                  Select
				  t.RawBatchId,
			      SUM(t.ConsumptionQty),
				  t.MethodId
				  from
				  Openjson(@ConsJson)
				  With
				  (RawBatchId int,
				   ConsumptionQty int,
				   MethodId uniqueidentifier
				  ) as t Where t.ConsumptionQty > 0
				  GROUP BY t.RawBatchId,t.MethodId

				  drop table #tempMoldBatch

			END




	declare @SRNo Nvarchar(200)

	Select @SRNo = SrNo  from MethodCoatingMaster where WaxCoatID = @TypeId


	SET @SRNo = CONCAT('-',@SRNo)

	--SELECT SUBSTRING(@String,1,LEN(@String)- LEN(@SRNo))

	--select @String


	Select
	
	RawInwBatchWiseStock.RawBatchId,
	RawInwBatchWiseStock.RawBatchNo,
	RawInwBatchWiseStock.Ref_Id as MoldTypeId,
	RawInwBatchWiseStock.PurchaseItemId as AssemblyId,
	RawInwBatchWiseStock.Qty + ISNULL(#tempMoldConsbatchDet.Qty,0) as BatchStock,
	0 as ConsumptionQty,
	RawInwBatchWiseStock.StockTypeId,
	( (CASE WHEN @PrintOrderNo = 0 THEN
		isnull(OrderMaster.WOPrefix,'')
		+Isnull(OrderMaster.WOSeparator,'')
		+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
		+Isnull(OrderMaster.WOSeparator,'')
		+Isnull(OrderMaster.WOSuffix,'')
	ELSE  
		isnull(OrderMaster.Prefix,'')
		+ isnull(OrderMaster.Separator,'')
		+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
		+ isnull(OrderMaster.Separator,'')
		+ isnull(OrderMaster.Suffix,'')
	END)
	+ '/' + CAST(OrderTranse.SrNo as varchar(150)) + '/' + CONVERT(VARCHAR(15), OrderTranse.DeliveryDate, 106)
	) AS CustomerOrderNo,
	OrderTranse.OrderTranseId
	--SUBSTRING(RawInwBatchWiseStock.RawBatchNo,1,LEN(RawInwBatchWiseStock.RawBatchNo)- LEN(@SRNo)) as RawbatchNo
	from
	RawInwBatchWiseStock
	
	Left Join OrderTranse on OrderTranse.OrderTranseId = RawInwBatchWiseStock.OrderTranseId
	left Join OrderMaster on OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
	--inner join PatternProduction ON PatternProduction.MethodId = RawInwBatchWiseStock.PurchaseItemId and PatternProduction.BatchNo =  SUBSTRING(RawInwBatchWiseStock.RawBatchNo,1,LEN(RawInwBatchWiseStock.RawBatchNo)- LEN(@SRNo)) 
	Left JOIN #tempMoldConsbatchDet ON #tempMoldConsbatchDet.RawbatchId = RawInwBatchWiseStock.RawBatchId and RawInwBatchWiseStock.PurchaseItemId = @AssemblyId
	where
	RawInwBatchWiseStock.Ref_Id = @MoldTypeID
	AND RawInwBatchWiseStock.StockTypeId = @TypeId
	AND RawInwBatchWiseStock.PurchaseItemId = @AssemblyId
	--AND PatternProduction.IsAssembly = 1
	--AND PatternProduction.IsDeleted = 0
	--AND RawInwBatchWiseStock.Qty > 0
	AND RawInwBatchWiseStock.PlantId = @PlantId
	 --ORDER BY 
		--		                     CASE WHEN (@Method = 0 OR @Method = 2)  THEN PatternProduction.ProductionDate END DESC,
		--		                     CASE WHEN (@Method = 0 OR @Method = 2)  THEN RawInwBatchWiseStock.RawBatchId END DESC,
		--		                     CASE WHEN @Method = 1 THEN PatternProduction.ProductionDate END ASC,
		--		                     CASE WHEN @Method = 1 THEN RawInwBatchWiseStock.RawBatchId END ASC

									 drop table #tempMoldConsbatchDet
									 

END
GO
