USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Casting_Purchase_Inward_ComboFill]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Casting_Purchase_Inward_ComboFill]
	-- Add the parameters for the stored procedure here
     @EntityId INT = 0  ,
     @DateFrom DATETIME = NULL ,      
     @DateTo DATETIME = NULL,
	 @Parameter INT = 0 -- HeatNo or HeatCode
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @Parameter = 1
	BEGIN
    
	select  CastingHeatCode.HeatCode 
		 FROM	RawMaterialInward as rm
		 INNER JOIN InwardCastingPurchase as icp on icp.InwardId = rm.InwardId 
		 inner join InwardCastingHeatDetails ON InwardCastingHeatDetails.InwardcastingPurchaseId = icp.InwardCastingPurchaseId
		 inner join CastingHeatCode ON CastingHeatCode.ProductionBatchID = InwardCastingHeatDetails.HeatId 
						AND CastingHeatCode.HeatCode<>'' 
        WHERE  rm.IsDeleted=0 
		        and icp.IsDeleted = 0
				AND CastingHeatCode.CastingID = icp.CastingId
                and rm.EntityID = @EntityID
                AND ( CAST(rm.InwardDate AS DATE) BETWEEN CAST(@DateFrom AS DATE) AND CAST(@DateTo AS DATE) )
				GROUP BY CastingHeatCode.HeatCode 

	END
	ELSE IF @Parameter = 2
	BEGIN

	     select 
		 ProductionBatch.batchID as BatchID,
	     ProductionBatch.batchno as BatchNo
		 FROM	RawMaterialInward as rm
		 INNER JOIN InwardCastingPurchase as icp on icp.InwardId = rm.InwardId 
		 inner join InwardCastingHeatDetails ON InwardCastingHeatDetails.InwardcastingPurchaseId = icp.InwardCastingPurchaseId
		 inner join ProductionBatch ON  ProductionBatch.batchID = InwardCastingHeatDetails.HeatId
        WHERE  rm.IsDeleted=0  
                and rm.EntityID = @EntityID
				and icp.IsDeleted = 0
                AND ( CAST(rm.InwardDate AS DATE) BETWEEN CAST(@DateFrom AS DATE) AND CAST(@DateTo AS DATE) )

				GROUP BY
				ProductionBatch.batchID,
	            ProductionBatch.batchno 

	END
			
END
GO
