USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Raw_Material_Rejection_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE  PROCEDURE [dbo].[Raw_Material_Rejection_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL ,  
	@DateFrom DATETIME = NULL ,
    @Dateto DATETIME = NULL ,
    @PurchaseItemId UNIQUEIDENTIFIER = NULL ,
    @RawMaterialRejectionId UNIQUEIDENTIFIER = NULL ,
    @IsInwardBatchWise BIT = NULL ,
    @SeriesId INT = 0,
    @EntityId INT = 0 ,
	@IsOnlyAssemblyMethod int = 0
  , @PrintOrderNo bit = 0

AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
		IF ( @Parameter = 1 )			--Fill Grid By Filter --Update By Megha
            BEGIN
                IF @InitialLoad = 1
                    BEGIN
						--Commented by Ritik on 12-06-2025

                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT TOP ( @PageSize )
                                            ROW_NUMBER() OVER(ORDER BY RejectionDate desc  ) AS SrNo ,
                                            RawMaterialRejectionMaster.RawMaterialRejectionId ,
          --                             (SELECT  CASE WHEN RawMaterialRejectionMaster.Prefix IS NULL
										--	 THEN ''
										--	 ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Prefix)
										--END
										--+ CASE WHEN RawMaterialRejectionMaster.Separator IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Separator)
										--  END
										--+ CONVERT(VARCHAR(50), dbo.RawMaterialRejectionMaster.RejectionCode)
										--+ CASE WHEN RawMaterialRejectionMaster.Separator IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Separator)
										--  END
										--+ CASE WHEN RawMaterialRejectionMaster.Suffix IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Suffix)
										--  END AS PatternIssueCode ) AS RejectionCode,
          --                              (SELECT  CASE WHEN RawMaterialRejectionMaster.Prefix IS NULL
										--	 THEN ''
										--	 ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Prefix)
										--END
										--+ CASE WHEN RawMaterialRejectionMaster.Separator IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Separator)
										--  END
										--+ CONVERT(VARCHAR(50), dbo.RawMaterialRejectionMaster.RejectionCode)
										--+ CASE WHEN RawMaterialRejectionMaster.Separator IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Separator)
										--  END
										--+ CASE WHEN RawMaterialRejectionMaster.Suffix IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Suffix)
										--  END AS PatternIssueCode )
										  ISNULL(RawMaterialRejectionMaster.Prefix,'')	
										+ ISNULL(RawMaterialRejectionMaster.Separator,'')	
										+ CONVERT(VARCHAR(50), RawMaterialRejectionMaster.RejectionCode)
										+ ISNULL(RawMaterialRejectionMaster.Separator,'')
										+ ISNULL(RawMaterialRejectionMaster.Suffix,'')
										  AS RejectionCode,
                                            --RawMaterialRejectionMaster.RejectionCode ,
                                            CONVERT(VARCHAR(11), RawMaterialRejectionMaster.RejectionDate, 106) AS RejectionDate ,
                                            RawMaterialRejectionItemTrans.PurchaseItemId ,
                                           -- PurchaseItemMaster.ItemName ,
										   CASE WHEN @IsOnlyAssemblyMethod = 1 
													 AND PatternMaster.RevisionNumber IS NOT NULL 
													 AND PatternMaster.RevisionNumber <> 0
												THEN PurchaseItemMaster.ItemName + ' - Rev' + CAST(PatternMaster.RevisionNumber AS VARCHAR)
												ELSE PurchaseItemMaster.ItemName
											END AS ItemName,

                                            RawMaterialRejectionItemTrans.Qty ,
                                            RawMaterialRejectionItemTrans.RejectionReason ,
                                            RawMaterialRejectionItemTrans.RawMaterialRejectionTransId ,
                                            RawMaterialRejectionItemTrans.IsInvoicePrepared
                                  FROM      RawMaterialRejectionMaster
                                            INNER JOIN RawMaterialRejectionItemTrans ON RawMaterialRejectionMaster.RawMaterialRejectionId = RawMaterialRejectionItemTrans.RawMaterialRejectionId
                                            INNER JOIN PurchaseItemMaster ON RawMaterialRejectionItemTrans.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
											LEFT JOIN dbo.InvoiceSeries ON dbo.InvoiceSeries.SeriesId = dbo.RawMaterialRejectionMaster.SeriesId
											Left join PatternMaster on PatternMaster.PatternId = PurchaseItemMaster.DieID
											--LEFT JOIN dbo.Prefix_Suffix ON dbo.RawMaterialRejectionMaster.PrefixSuffixId = dbo.InvoiceSeries.PrefixSuffixId
                                  WHERE     ( @RawMaterialRejectionId IS NULL
                                              OR RawMaterialRejectionMaster.RawMaterialRejectionId = @RawMaterialRejectionId
                                            )
                                            AND ( @PurchaseItemId IS NULL
                                                  OR RawMaterialRejectionItemTrans.PurchaseItemId = @PurchaseItemId
                                                )
                                            AND ( @DateFrom IS NULL
                                                  OR @DateTo IS NULL
                                                  OR CAST(RawMaterialRejectionMaster.RejectionDate AS DATE) BETWEEN CAST(@DateFrom AS DATE)
                                                              AND
                                                              CAST(@DateTo AS DATE)
                                                )
                                            AND RawMaterialRejectionItemTrans.IsDeleted = 0
                                            AND (@SeriesId is null Or @SeriesId = 0 Or RawMaterialRejectionMaster.SeriesId = @SeriesId)
                                            AND RawMaterialRejectionMaster.EntityID = @EntityID
											and (@IsOnlyAssemblyMethod = -1
												Or (@IsOnlyAssemblyMethod = 0 and PurchaseItemMaster.DieID is null)
												Or (@IsOnlyAssemblyMethod = 1 and PurchaseItemMaster.DieID is not null)
											)
                                            AND ( ISNULL(@PlantIdString, '') = ''
												OR RawMaterialRejectionMaster.PlantId IN (
													SELECT Item FROM @Plant 
												)
											) order by SrNo
                                ) S
									
                    END
				
                ELSE
                    BEGIN
						--Commented by Ritik on 12-06-2025

                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT    ROW_NUMBER() OVER(ORDER BY RejectionDate desc) AS SrNo ,
                                            RawMaterialRejectionMaster.RawMaterialRejectionId ,
          --                                  (SELECT  CASE WHEN RawMaterialRejectionMaster.Prefix IS NULL
										--	 THEN ''
										--	 ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Prefix)
										--END
										--+ CASE WHEN RawMaterialRejectionMaster.Separator IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Separator)
										--  END
										--+ CONVERT(VARCHAR(50), dbo.RawMaterialRejectionMaster.RejectionCode)
										--+ CASE WHEN RawMaterialRejectionMaster.Separator IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Separator)
										--  END
										--+ CASE WHEN RawMaterialRejectionMaster.Suffix IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Suffix)
										--  END AS PatternIssueCode ) AS RejectionCode,
										--(SELECT  CASE WHEN RawMaterialRejectionMaster.Prefix IS NULL
										--	 THEN ''
										--	 ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Prefix)
										--END
										--+ CASE WHEN RawMaterialRejectionMaster.Separator IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Separator)
										--  END
										--+ CONVERT(VARCHAR(50), dbo.RawMaterialRejectionMaster.RejectionCode)
										--+ CASE WHEN RawMaterialRejectionMaster.Separator IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Separator)
										--  END
										--+ CASE WHEN RawMaterialRejectionMaster.Suffix IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Suffix)
										--  END AS PatternIssueCode ) 
										  ISNULL(RawMaterialRejectionMaster.Prefix,'')	
										+ ISNULL(RawMaterialRejectionMaster.Separator,'')	
										+ CONVERT(VARCHAR(50), RawMaterialRejectionMaster.RejectionCode)
										+ ISNULL(RawMaterialRejectionMaster.Separator,'')
										+ ISNULL(RawMaterialRejectionMaster.Suffix,'')
										  AS RejectionCode,
                                            --RawMaterialRejectionMaster.RejectionCode ,
                                            CONVERT(VARCHAR(11), RawMaterialRejectionMaster.RejectionDate, 106) AS RejectionDate ,
                                            RawMaterialRejectionItemTrans.PurchaseItemId ,
                                          --  PurchaseItemMaster.ItemName ,
										     CASE WHEN @IsOnlyAssemblyMethod = 1 
													 AND PatternMaster.RevisionNumber IS NOT NULL 
													 AND PatternMaster.RevisionNumber <> 0
												THEN PurchaseItemMaster.ItemName + ' - Rev' + CAST(PatternMaster.RevisionNumber AS VARCHAR)
												ELSE PurchaseItemMaster.ItemName
											END AS ItemName,
                                            RawMaterialRejectionItemTrans.Qty ,
                                            RawMaterialRejectionItemTrans.RejectionReason ,
                                            RawMaterialRejectionItemTrans.RawMaterialRejectionTransId ,
                                            RawMaterialRejectionItemTrans.IsInvoicePrepared
                                  FROM      RawMaterialRejectionMaster
                                            INNER JOIN RawMaterialRejectionItemTrans ON RawMaterialRejectionMaster.RawMaterialRejectionId = RawMaterialRejectionItemTrans.RawMaterialRejectionId
                                            INNER JOIN PurchaseItemMaster ON RawMaterialRejectionItemTrans.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
											LEFT JOIN dbo.InvoiceSeries ON dbo.InvoiceSeries.SeriesId = dbo.RawMaterialRejectionMaster.SeriesId
											left join PatternMaster on PatternMaster.PatternId = PurchaseItemMaster.DieID
											--LEFT JOIN dbo.Prefix_Suffix ON dbo.RawMaterialRejectionMaster.PrefixSuffixId = dbo.InvoiceSeries.PrefixSuffixId
                                  WHERE     ( @RawMaterialRejectionId IS NULL
                                              OR RawMaterialRejectionMaster.RawMaterialRejectionId = @RawMaterialRejectionId
                                            )
                                            AND ( @PurchaseItemId IS NULL
                                                  OR RawMaterialRejectionItemTrans.PurchaseItemId = @PurchaseItemId
                                                )
                                            AND ( @DateFrom IS NULL
                                                  OR @DateTo IS NULL
                                                  OR CAST(RawMaterialRejectionMaster.RejectionDate AS DATE) BETWEEN CAST(@DateFrom AS DATE)
                                                              AND
                                                              CAST(@DateTo AS DATE)
                                                )
                                            AND RawMaterialRejectionItemTrans.IsDeleted = 0
                                            AND (@SeriesId is null Or @SeriesId = 0 Or RawMaterialRejectionMaster.SeriesId = @SeriesId)
                                            AND RawMaterialRejectionMaster.EntityID = @EntityID
											and (@IsOnlyAssemblyMethod = -1
												Or (@IsOnlyAssemblyMethod = 0 and PurchaseItemMaster.DieID is null)
												Or (@IsOnlyAssemblyMethod = 1 and PurchaseItemMaster.DieID is not null)
											)
                                            AND ( ISNULL(@PlantIdString, '') = ''
												OR RawMaterialRejectionMaster.PlantId IN (
													SELECT Item FROM @Plant 
												)
											)
                                ) S 
                        WHERE   SrNo > ( @PageNumber * @PageSize ) 
						order by SrNo
                    END		
					
            END
	
        IF ( @Parameter = 2 )	--	Total Record Display In paging Control
            BEGIN					
                SET @TotalRecords = ( SELECT    COUNT(1)
                                      FROM      ( SELECT    ROW_NUMBER() OVER ( ORDER BY SUBSTRING(Entryno,
                                                              3, 2) DESC, RawMaterialRejectionMaster.RejectionCode DESC ) AS SrNo ,
                                                            RawMaterialRejectionMaster.RawMaterialRejectionId ,
                                                            RawMaterialRejectionMaster.RejectionCode ,
                                                            CONVERT(VARCHAR(11), RawMaterialRejectionMaster.RejectionDate, 106) AS RejectionDate ,
                                                            RawMaterialRejectionItemTrans.PurchaseItemId ,
                                                            PurchaseItemMaster.ItemName ,
                                                            RawMaterialRejectionItemTrans.Qty ,
                                                            RawMaterialRejectionItemTrans.RejectionReason ,
                                                            RawMaterialRejectionItemTrans.RawMaterialRejectionTransId ,
                                                            RawMaterialRejectionItemTrans.IsInvoicePrepared
                                                  FROM      RawMaterialRejectionMaster
                                                            INNER JOIN RawMaterialRejectionItemTrans ON RawMaterialRejectionMaster.RawMaterialRejectionId = RawMaterialRejectionItemTrans.RawMaterialRejectionId
                                                            INNER JOIN PurchaseItemMaster ON RawMaterialRejectionItemTrans.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                                                  WHERE     ( @RawMaterialRejectionId IS NULL
                                                              OR RawMaterialRejectionMaster.RawMaterialRejectionId = @RawMaterialRejectionId
                                                            )
                                                            AND ( @PurchaseItemId IS NULL
                                                              OR RawMaterialRejectionItemTrans.PurchaseItemId = @PurchaseItemId
                                                              )
                                                            AND ( @DateFrom IS NULL
                                                              OR @DateTo IS NULL
                                                              OR CAST(RawMaterialRejectionMaster.RejectionDate AS DATE) BETWEEN CAST(@DateFrom AS DATE)
                                                              AND
                                                              CAST(@DateTo AS DATE)
                                                              )
                                                            AND RawMaterialRejectionItemTrans.IsDeleted = 0
                                                            AND RawMaterialRejectionMaster.EntityID = @EntityID
															and (@IsOnlyAssemblyMethod = -1
																Or (@IsOnlyAssemblyMethod = 0 and PurchaseItemMaster.DieID is null)
																Or (@IsOnlyAssemblyMethod = 1 and PurchaseItemMaster.DieID is not null)
															)
															AND ( ISNULL(@PlantIdString, '') = ''
																OR RawMaterialRejectionMaster.PlantId IN (
																	SELECT Item FROM @Plant 
																)
															)
                                                ) S
                                    )
                                    
                RETURN @TotalRecords
            END

      	
        IF ( @Parameter =  3 )
            BEGIN

--Upadte By Megha
				
                SELECT  ROW_NUMBER() OVER ( Order by RejectionDate DESC ) AS SrNo ,
                        RawMaterialRejectionMaster.RawMaterialRejectionId ,
          --              (SELECT  CASE WHEN RawMaterialRejectionMaster.Prefix IS NULL
										--	 THEN ''
										--	 ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Prefix)
										--END
										--+ CASE WHEN RawMaterialRejectionMaster.Separator IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Separator)
										--  END
										--+ CONVERT(VARCHAR(50), dbo.RawMaterialRejectionMaster.RejectionCode)
										--+ CASE WHEN RawMaterialRejectionMaster.Separator IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Separator)
										--  END
										--+ CASE WHEN RawMaterialRejectionMaster.Suffix IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), RawMaterialRejectionMaster.Suffix)
										--  END AS PatternIssueCode ) 
										  ISNULL(RawMaterialRejectionMaster.Prefix,'')	
										+ ISNULL(RawMaterialRejectionMaster.Separator,'')	
										+ CONVERT(VARCHAR(50), RawMaterialRejectionMaster.RejectionCode)
										+ ISNULL(RawMaterialRejectionMaster.Separator,'')
										+ ISNULL(RawMaterialRejectionMaster.Suffix,'')
										  AS RejectionCode,
                                  
                        --RawMaterialRejectionMaster.RejectionCode ,
                        CONVERT(VARCHAR(11), RawMaterialRejectionMaster.RejectionDate, 106) AS RejectionDate ,
                        Temp1.SupplierName AS SupplierName ,
                        RawMaterialRejectionItemTrans.PurchaseItemId ,
                        PurchaseItemMaster.ItemName ,
                        UOM AS Unit ,
                        case when @IsInwardBatchWise = 0 then ISNULL(RawMaterialRejectionItemTrans.Qty, 0)
						else Temp1.Quantity end AS Qty ,
                        ISNULL(Temp1.Rate, 0) AS Rate ,
                        ( Temp1.Quantity
                          * ISNULL(Temp1.Rate, 0) ) AS Value ,
                        RawMaterialRejectionItemTrans.RejectionReason ,
                        RawMaterialRejectionItemTrans.RawMaterialRejectionTransId ,
                        RawMaterialRejectionItemTrans.IsInvoicePrepared,
                        @IsInwardBatchWise as IsInwardBatchWise
                FROM    RawMaterialRejectionMaster
                        INNER JOIN RawMaterialRejectionItemTrans ON RawMaterialRejectionMaster.RawMaterialRejectionId = RawMaterialRejectionItemTrans.RawMaterialRejectionId
                        INNER JOIN PurchaseItemMaster ON RawMaterialRejectionItemTrans.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                        INNER JOIN dbo.UOMMaster ON dbo.UOMMaster.UOMid = dbo.PurchaseItemMaster.SecondaryUnitOfMeasure
                        
                        --LEFT JOIN dbo.RawMaterialRejectionBatchWise ON dbo.RawMaterialRejectionBatchWise.RawMaterialRejectionTransId = dbo.RawMaterialRejectionItemTrans.RawMaterialRejectionTransId
                        --LEFT JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.RawMaterialRejectionBatchWise.RawBatchId
                        --                                      AND dbo.RawInwBatchWiseStock.PurchaseItemId = dbo.RawMaterialRejectionItemTrans.PurchaseItemId
                        --LEFT JOIN dbo.RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.RawBatchNo = dbo.RawInwBatchWiseStock.RawBatchNo
                        --                                      AND dbo.RawMaterialInwardDetail.PurchaseItemId = dbo.RawMaterialRejectionItemTrans.PurchaseItemId
                        --LEFT JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.RawMaterialInwardDetail.InwardId
                        --LEFT JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId
                        LEFT JOIN (
							SELECT  RMRBW.RawMaterialRejectionTransId,RMID.Rate, CustomerName AS SupplierName,
								RMRBW.Quantity
							FROM RawMaterialRejectionBatchWise AS RMRBW
							LEFT JOIN dbo.RawInwBatchWiseStock AS RIBWS ON RIBWS.RawBatchId = RMRBW.RawBatchId
							LEFT JOIN RawMaterialInwardDetail AS RMID ON RMID.RawBatch_Id = RIBWS.RawBatchId
																	  AND RMID.IsDeleted = 0
																	  AND RIBWS.PurchaseItemId = RMID.PurchaseItemId
							INNER JOIN RawMaterialInward AS RMI ON RMID.InwardId = RMI.InwardId AND RMI.IsDeleted = 0  and IsTransfer = 0
							LEFT JOIN dbo.CustomerMaster AS CM ON CM.CustomerId = RMI.CustomerId AND CM.IsDeleted = 0
							WHERE	RMID.IsDeleted = 0
						) AS Temp1 ON Temp1.RawMaterialRejectionTransId = dbo.RawMaterialRejectionItemTrans.RawMaterialRejectionTransId

						LEFT JOIN dbo.InvoiceSeries ON dbo.InvoiceSeries.SeriesId = dbo.RawMaterialRejectionMaster.SeriesId
						--LEFT JOIN dbo.Prefix_Suffix ON dbo.RawMaterialRejectionMaster.PrefixSuffixId = dbo.InvoiceSeries.PrefixSuffixId
                     WHERE   ( @RawMaterialRejectionId IS NULL
                          OR RawMaterialRejectionMaster.RawMaterialRejectionId = @RawMaterialRejectionId
                        )
                        AND ( @PurchaseItemId IS NULL
                              OR RawMaterialRejectionItemTrans.PurchaseItemId = @PurchaseItemId
                            )
                        AND ( @DateFrom IS NULL
                              OR @DateTo IS NULL
                              OR CAST(RawMaterialRejectionMaster.RejectionDate AS DATE) BETWEEN CAST(@DateFrom AS DATE)
                                                              AND
                                                              CAST(@DateTo AS DATE)
                            )
                        AND RawMaterialRejectionItemTrans.IsDeleted = 0
                        --AND ( @IsInwardBatchWise = 1
                        --      OR Temp1.SupplierName IS NULL
                        --    )
                            AND (@SeriesId is null Or @SeriesId = 0 Or RawMaterialRejectionMaster.SeriesId = @SeriesId)
                        AND RawMaterialRejectionMaster.EntityID = @EntityID
						and (@IsOnlyAssemblyMethod = -1
								Or (@IsOnlyAssemblyMethod = 0 and PurchaseItemMaster.DieID is null)
								Or (@IsOnlyAssemblyMethod = 1 and PurchaseItemMaster.DieID is not null)
							)
                        AND ( ISNULL(@PlantIdString, '') = ''
							OR RawMaterialRejectionMaster.PlantId IN (
								SELECT Item FROM @Plant 
							)
						)
            END	
		
		IF ( @Parameter =  4 )
		BEGIN
			Select	
					( (CASE WHEN @PrintOrderNo = 0 THEN
						isnull(OrderMaster.WOPrefix,'')
						+Isnull(OrderMaster.WOSeparator,'')
						+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
						+Isnull(OrderMaster.WOSeparator,'')
						+Isnull(OrderMaster.WOSuffix,'')
					ELSE  
						isnull(OrderMaster.Prefix,'')
						+ isnull(OrderMaster.Separator,'')
						+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
						+ isnull(OrderMaster.Separator,'')
						+ isnull(OrderMaster.Suffix,'')
					END)
					+ '/' + CAST(OrderTranse.SrNo as varchar(150)) + '/' + CONVERT(VARCHAR(15), OrderTranse.DeliveryDate, 106)
					) AS CustomerOrderNo ,
					isnull(coatName,'Assembly') as CoatName,
					Quantity as Qty
			FROM    RawMaterialRejectionBatchWise
					Inner join RawInwBatchWiseStock on RawInwBatchWiseStock.RawBatchId = RawMaterialRejectionBatchWise.RawBatchId
					Left Join OrderTranse on OrderTranse.OrderTranseId = RawInwBatchWiseStock.OrderTranseId
					left Join OrderMaster on OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
								        
					Left Join CoatMaster on CoatMaster.CoatId = RawInwBatchWiseStock.StockTypeID
            Where	RawMaterialRejectionBatchWise.RawMaterialRejectionTransId = @RawMaterialRejectionId
		END
END

GO
