USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PendingOrderStatus]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Bhumin>
-- Create date: <Create Date,,27-04-2020>
-- Description:	<Description,,Pending order status report>
-- =============================================
-- PendingOrderStatus 1,'22,23,24,144', null, null, null,null, null,0,-1,0,-1,null,null,'OrderStatus','2023-05-01','2024-04-30',0,0,0
CREATE PROCEDURE [dbo].[PendingOrderStatus] 
    @EntityId INT = 0,
    @PlantIdString VARCHAR(10) = NULL,
    @CustomerId UNIQUEIDENTIFIER = NULL,
    @CustomerOrderNo VARCHAR(100) = NULL,
    @CastingID UNIQUEIDENTIFIER = NULL,
    @CastingName VARCHAR(200) = NULL,
    @MetalType VARCHAR(100) = NULL,
    @SeriesId INT = 0,
    @Priority INT = -1,
    @SandTypeID INT = 0,
    @Core INT = -1,
    @MoldlineId UNIQUEIDENTIFIER = NULL,
    @IsDelivered VARCHAR(10) = NULL,
    @pageType VARCHAR(50) = 'PendingOrder',
    @FromDate DATETIME = NULL,
    @ToDate DATETIME = NULL,
    @UserId INT = 0,
    @PrintCustomerCode INT = 0,
    @MetalID INT = 0,
    @OStatus VARCHAR(30) = 'All',
    @PortCode NVARCHAR(200) = NULL,
    @OrderApprovalRequire BIT = 0,    
    @customerGroupId UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Initialize @JobIn based on pageType
    DECLARE @JobIn BIT = CASE WHEN @pageType = 'JOBIN' THEN 1 ELSE 0 END;
    
    -- Build plant filter table
    DECLARE @Plant TABLE (Item INT PRIMARY KEY);
    
    IF @PlantIdString IS NOT NULL AND @PlantIdString != ''
    BEGIN
        INSERT INTO @Plant 
        SELECT Item FROM dbo.SplitString(@PlantIdString, ',');
    END
    ELSE 
    BEGIN
        INSERT INTO @Plant 
        SELECT PlantId FROM PlantMaster WHERE entityId = @EntityId;
    END

    -- Get user customer code setting
    DECLARE @UserCustCodeActv INT = ISNULL(
        (SELECT TOP 1 1 FROM UserCustomerCodeActive WHERE UserID = @UserId), 0
    );

    -- Pre-calculate date range for better performance
    DECLARE @FromDateFilter DATE = CAST(@FromDate AS DATE);
    DECLARE @ToDateFilter DATE = DATEADD(DAY, 1, CAST(@ToDate AS DATE));

    -- Main query with ROW_NUMBER
    SELECT 
        ROW_NUMBER() OVER (ORDER BY DeliveryDateOrderBy) AS SrNo,
        CustomerOrderId,
        OANo,
        CustomerOrderNo,
        CustomerName,
        [OrderDate],
        [Received Date],
        CastingId,
        CastingName,
        SerialNo,
        DWG,
        CastingCode,
        MetalGrade,
        CustomerId,
        IsDeleted,
        OrderPriority,
        Weight,
        RequiredQty,
        Dispatchqty,
        PendingQty,
        TotalOrderWeight,
        TotalOrderValue,
        TotalDispatchWeight,
        TotalDispatchValue,
        TotalPendingWeight,
        value,
        DeliveryDate,
        DeliveryDateOrderBy,
        PODAte,
        FilePath,
        OASrNo,
        OStatus,
        ShortCloseQty,
        ShortCloseReason,
        StdPkdQty,
        PortCode,
        UOM,
        IntCommitDate,
        OtherName,
        SrNo
    FROM (
        -- ========================================
        -- QUERY 1: Casting Orders
        -- ========================================
        SELECT        
            POSC.CustomerOrderId,
            POSC.OANo,
            POSC.CustomerOrderNo,
            CASE 
                WHEN @PrintCustomerCode = 1 AND @UserCustCodeActv = 1 
                THEN POSC.CustomerCode 
                ELSE POSC.CustomerName 
            END AS CustomerName,
            CONVERT(VARCHAR(11), POSC.PODATE, 106) AS [OrderDate],
            CONVERT(VARCHAR(11), POSC.OrderDate, 106) AS [Received Date],
            POSC.CastingId,
            POSC.CastingName,
            POSC.SrNo AS SerialNo,
            POSC.DrawingNo AS DWG,
            POSC.CastingCode,
            MM.MetalName AS MetalGrade,
            POSC.CustomerId,
            POSC.IsDeleted,
            CASE POSC.OrderPriority
                WHEN 0 THEN 'Low'
                WHEN 1 THEN 'Medium'
                ELSE 'High'
            END AS OrderPriority,
            POSC.PerPcWeight AS Weight,
            POSC.OrderQty AS RequiredQty,
            POSC.Dispatchqty,
            POSC.PendingQty,
            ROUND(POSC.TotalWeight, 3) AS TotalOrderWeight,
            ROUND(POSC.TotalOrderValue, 2) AS TotalOrderValue,
            ROUND(POSC.TotalDispatchWeight, 3) AS TotalDispatchWeight,
            ISNULL(ROUND(POSC.TotalDispatchAmount, 2), 0) AS TotalDispatchValue,
            ROUND(POSC.PerPcweight * POSC.PendingQty, 3) AS TotalPendingWeight,
            ROUND(POSC.TotalOrderPendingValue, 2) AS value,
            CONVERT(VARCHAR(11), POSC.DeliveryDate, 106) AS DeliveryDate,
            POSC.PODATE AS DeliveryDateOrderBy,
            POSC.PODAte,
            ISNULL(IP.FilePath, '') AS FilePath,
            POSC.OASrNo,
            CASE 
                WHEN POSC.IsDelivered = 1 THEN 'Delivered'
                WHEN POSC.IsShortClose = 1 THEN 'Short Close'
                ELSE 'Processing' 
            END AS OStatus,
            POSC.ShortCloseQty,
            ISNULL(POSC.ShortCloseReason, '') AS ShortCloseReason,
            POSC.StdPkdQty,
            POSC.PortCode,
            POSC.UOM,
            CONVERT(VARCHAR(11), POSC.IntCommitDate, 106) AS IntCommitDate,
            POSC.FloorName AS OtherName,
            POSC.SrNo
        FROM [Data:PendingOrderStatusCasting] POSC
        INNER JOIN MetalMaster MM 
            ON MM.MetalId = POSC.metalID
            AND (@MetalID = 0 OR MM.MetalId = @MetalID)
            AND (@MetalType IS NULL OR MM.MetalType = @MetalType)
        LEFT JOIN (
            SELECT 
                Id,
                FilePath,
                ROW_NUMBER() OVER(PARTITION BY Id ORDER BY Id) AS rownum
            FROM ImagePath
        ) IP 
            ON IP.Id = POSC.CastingId 
            AND IP.rownum = 1
        WHERE POSC.JobIn = @JobIn
            AND POSC.MaxVersion = 1
            AND POSC.IsScheduled = 0
            AND POSC.EntityId = @EntityId
            AND POSC.CustomerID = ISNULL(@CustomerId, POSC.CustomerID)
            AND POSC.CustomerOrderNo = ISNULL(@CustomerOrderNo, POSC.CustomerOrderNo)
            AND POSC.PartId = ISNULL(@CastingID, POSC.PartId)
            AND POSC.CastingName = ISNULL(@CastingName, POSC.CastingName)
            AND POSC.PortCode = ISNULL(@PortCode, POSC.PortCode)
            AND (@SeriesId = 0 OR POSC.SeriesId = @SeriesId)
            AND (
                ISNULL(@PlantIdString, '') = ''
                OR EXISTS (
                    SELECT 1 FROM @Plant P WHERE P.Item = POSC.PlantId
                )
            )
            AND (@Priority = -1 OR POSC.OrderPriority = @Priority)
            AND (
                @SandTypeID = 0
                OR EXISTS (
                    SELECT 1
                    FROM PatternMaster PM
                    WHERE PM.SandTypeID = @SandTypeID 
                        AND PM.PatternId = POSC.Dieid
                )
            )
            AND (
                @Core = -1
                OR (@Core = 0 AND NOT EXISTS (
                    SELECT 1 FROM CoreBoxMaster CBM 
                    WHERE CBM.PatternID = POSC.Dieid
                ))
                OR (@Core = 1 AND EXISTS (
                    SELECT 1 FROM CoreBoxMaster CBM 
                    WHERE CBM.PatternID = POSC.Dieid
                ))
            )
            AND (
                @MoldlineId IS NULL
                OR EXISTS (
                    SELECT 1
                    FROM PatternMaster PM
                    WHERE PM.MoldLineID = @MoldlineId
                        AND PM.PatternId = POSC.Dieid
                )
            )
            AND POSC.IsDelivered = ISNULL(@IsDelivered, POSC.IsDelivered)
            AND (
                @FromDate IS NULL 
                OR (POSC.PODate >= @FromDateFilter AND POSC.PODate < @ToDateFilter)
            )
            AND (
                @pagetype = 'OrderStatus' 
                OR (
                    (@pagetype = 'PendingOrder' OR @pageType = 'JOBIN')
                    AND POSC.IsShortclose = 0
                )
            )
            AND (@OrderApprovalRequire = 0 OR POSC.isapprove = 1)
            AND POSC.customerGroupId = ISNULL(@customerGroupId, POSC.customerGroupId)
            -- OStatus filter
            AND (
                @OStatus = 'All'
                OR (@OStatus = 'Delivered' AND POSC.IsDelivered = 1)
                OR (@OStatus = 'Short Close' AND POSC.IsShortClose = 1)
                OR (@OStatus = 'Processing' AND POSC.IsDelivered = 0 AND POSC.IsShortClose = 0)
            )

        UNION ALL

        -- ========================================
        -- QUERY 2: Service Orders
        -- ========================================
        SELECT        
            POSS.CustomerOrderId,
            POSS.OANo,
            POSS.CustomerOrderNo,
            CASE 
                WHEN @PrintCustomerCode = 1 AND @UserCustCodeActv = 1 
                THEN POSS.CustomerCode 
                ELSE POSS.CustomerName 
            END AS CustomerName,
            CONVERT(VARCHAR(11), POSS.PODATE, 106) AS [OrderDate],
            CONVERT(VARCHAR(11), POSS.OrderDate, 106) AS [Received Date],
            NULL AS CastingId,
            POSS.Item AS CastingName,
            '' AS SerialNo,
            '' AS DWG,
            POSS.ServiceNo AS CastingCode,
            '' AS MetalGrade,
            POSS.CustomerId,
            POSS.IsDeleted,
            'Medium' AS OrderPriority,
            '' AS Weight,
            POSS.Qty AS RequiredQty,
            POSS.Dispatchqty,
            POSS.PendingQty,
            '' AS TotalOrderWeight,
            ROUND(POSS.TotalOrderValue, 2) AS TotalOrderValue,
            '' AS TotalDispatchWeight,
            ROUND(POSS.ToTalDispatchAmount, 2) AS TotalDispatchValue,
            '' AS TotalPendingWeight,
            ROUND(POSS.TotalOrderPendingValue, 2) AS value,
            CONVERT(VARCHAR(11), ISNULL(POSS.SerDeliveryDate, GETDATE()), 106) AS DeliveryDate,
            POSS.PODate AS DeliveryDateOrderBy,
            POSS.PODate AS PODAte,
            '' AS FilePath,
            POSS.OASrNo,
            CASE 
                WHEN POSS.IsDelivered = 1 THEN 'Delivered'
                WHEN POSS.IsShortClose = 1 THEN 'Short Close'
                ELSE 'Processing' 
            END AS OStatus,
            POSS.ShortCloseQty,
            ISNULL(POSS.ShortCloseReason, '') AS ShortCloseReason,
            '' AS StdPkdQty,
            POSS.PortCode,
            POSS.unit AS UOM,
            '' AS IntCommitDate,
            '' AS OtherName,
            '' AS srno
        FROM [Data:PendingOrderStatusService] POSS
        WHERE @JobIn = 0
            AND POSS.MaxVersion = 1
            AND POSS.IsScheduled = 0
            AND POSS.EntityID = @EntityId
            AND POSS.CustomerID = ISNULL(@CustomerId, POSS.CustomerID)
            AND POSS.CustomerOrderNo = ISNULL(@CustomerOrderNo, POSS.CustomerOrderNo)
            -- Disabled filters for service orders
            AND @CastingID IS NULL
            AND @CastingName IS NULL
            AND @MetalType IS NULL
            AND @MetalID = 0
            AND @Priority = -1
            AND @SandTypeID = 0
            AND @Core = -1
            AND @MoldlineId IS NULL
            -- Active filters
            AND POSS.PortCode = ISNULL(@PortCode, POSS.PortCode)
            AND (@SeriesId = 0 OR POSS.SeriesId = @SeriesId)
            AND (
                ISNULL(@PlantIdString, '') = ''
                OR EXISTS (
                    SELECT 1 FROM @Plant P WHERE P.Item = POSS.PlantId
                )
            )
            AND POSS.IsDelivered = ISNULL(@IsDelivered, POSS.IsDelivered)
            AND (
                @FromDate IS NULL 
                OR (POSS.PODate >= @FromDateFilter AND POSS.PODate < @ToDateFilter)
            )
            AND (
                @pagetype = 'OrderStatus' 
                OR (@pagetype = 'PendingOrder' AND POSS.IsShortclose = 0)
            )
            AND (@OrderApprovalRequire = 0 OR POSS.isapprove = 1)
            AND POSS.customerGroupId = ISNULL(@customerGroupId, POSS.customerGroupId)
            -- OStatus filter
            AND (
                @OStatus = 'All'
                OR (@OStatus = 'Delivered' AND POSS.IsDelivered = 1)
                OR (@OStatus = 'Short Close' AND POSS.IsShortClose = 1)
                OR (@OStatus = 'Processing' AND POSS.IsDelivered = 0 AND POSS.IsShortClose = 0)
            )

        UNION ALL

        -- ========================================
        -- QUERY 3: Item/Purchase Orders
        -- ========================================
        SELECT 
            POSI.CustomerOrderId,
            POSI.OANo,
            POSI.CustomerOrderNo,
            CASE 
                WHEN @PrintCustomerCode = 1 AND @UserCustCodeActv = 1 
                THEN POSI.CustomerCode 
                ELSE POSI.CustomerName 
            END AS CustomerName,
            CONVERT(VARCHAR(11), POSI.PODATE, 106) AS [OrderDate],
            CONVERT(VARCHAR(11), POSI.OrderDate, 106) AS [Received Date],
            POSI.CastingId,
            POSI.ItemName AS CastingName,
            POSI.SrNo AS SerialNo,
            POSI.DrawingNo AS DWG,
            POSI.ItemCode AS CastingCode,
            '' AS MetalGrade,
            POSI.CustomerId,
            POSI.IsDeleted,
            CASE POSI.OrderPriority
                WHEN 0 THEN 'Low'
                WHEN 1 THEN 'Medium'
                ELSE 'High'
            END AS OrderPriority,
            POSI.PerPcWeight AS Weight,
            POSI.OrderQty AS RequiredQty,
            POSI.Dispatchqty,
            POSI.PendingQty,
            ROUND(POSI.TotalWeight, 3) AS TotalOrderWeight,
            ROUND(POSI.TotalOrderValue, 2) AS TotalOrderValue,
            ROUND(POSI.TotalDispatchWeight, 3) AS TotalDispatchWeight,
            ISNULL(ROUND(POSI.TotalDispatchAmount, 2), 0) AS TotalDispatchValue,
            ROUND(POSI.PerPcweight * POSI.PendingQty, 3) AS TotalPendingWeight,
            ROUND(POSI.TotalOrderPendingValue, 2) AS value,
            CONVERT(VARCHAR(11), POSI.DeliveryDate, 106) AS DeliveryDate,
            POSI.PODATE AS DeliveryDateOrderBy,
            POSI.PODAte,
            ISNULL(IP.FilePath, '') AS FilePath,
            POSI.OASrNo,
            CASE 
                WHEN POSI.IsDelivered = 1 THEN 'Delivered'
                WHEN POSI.IsShortClose = 1 THEN 'Short Close'
                ELSE 'Processing' 
            END AS OStatus,
            POSI.ShortCloseQty,
            ISNULL(POSI.ShortCloseReason, '') AS ShortCloseReason,
            '' AS StdPkdQty,
            POSI.PortCode,
            POSI.UOM,
            CONVERT(VARCHAR(11), POSI.IntCommitDate, 106) AS IntCommitDate,
            '' AS OtherName,
            POSI.SrNo
        FROM [Data:PendingOrderStatusItem] POSI
        LEFT JOIN (
            SELECT 
                Id,
                FilePath,
                ROW_NUMBER() OVER(PARTITION BY Id ORDER BY Id) AS rownum
            FROM ImagePath
        ) IP 
            ON IP.Id = POSI.CastingId 
            AND IP.rownum = 1
        WHERE POSI.JobIn = @JobIn
            AND POSI.MaxVersion = 1
            AND POSI.IsScheduled = 0
            AND POSI.EntityId = @EntityId
            AND POSI.CustomerID = ISNULL(@CustomerId, POSI.CustomerID)
            AND POSI.CustomerOrderNo = ISNULL(@CustomerOrderNo, POSI.CustomerOrderNo)
            AND POSI.PurchaseItemId = ISNULL(@CastingID, POSI.PurchaseItemId)
            AND POSI.ItemName = ISNULL(@CastingName, POSI.ItemName)
            AND POSI.PortCode = ISNULL(@PortCode, POSI.PortCode)
            AND (@SeriesId = 0 OR POSI.SeriesId = @SeriesId)
            AND (
                ISNULL(@PlantIdString, '') = ''
                OR EXISTS (
                    SELECT 1 FROM @Plant P WHERE P.Item = POSI.PlantId
                )
            )
            AND (@Priority = -1 OR POSI.OrderPriority = @Priority)
            -- Disabled filters
            AND @SandTypeID = 0
            AND @Core = -1
            AND @MoldlineId IS NULL
            AND @MetalType IS NULL
            AND @MetalID = 0
            -- Active filters
            AND POSI.IsDelivered = ISNULL(@IsDelivered, POSI.IsDelivered)
            AND (
                @FromDate IS NULL 
                OR (POSI.PODate >= @FromDateFilter AND POSI.PODate < @ToDateFilter)
            )
            AND (
                @pagetype = 'OrderStatus' 
                OR (
                    (@pagetype = 'PendingOrder' OR @pageType = 'JOBIN')
                    AND POSI.IsShortclose = 0
                )
            )
            AND (@OrderApprovalRequire = 0 OR POSI.isapprove = 1)
            AND POSI.customerGroupId = ISNULL(@customerGroupId, POSI.customerGroupId)
            -- OStatus filter
            AND (
                @OStatus = 'All'
                OR (@OStatus = 'Delivered' AND POSI.IsDelivered = 1)
                OR (@OStatus = 'Short Close' AND POSI.IsShortClose = 1)
                OR (@OStatus = 'Processing' AND POSI.IsDelivered = 0 AND POSI.IsShortClose = 0)
            )
    ) AS OrderTable
    ORDER BY DeliveryDateOrderBy ASC;
END
GO
