USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FinishGoodStockUpdateBATCH]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Batch submitted through debugger: SQLQuery2.sql|0|0|C:\Users\Dell\AppData\Local\Temp\~vsEE4B.sql  
  
/****** Object:  StoredProcedure [dbo].[FinishGoodStockUpdateBATCH]    Script Date: 02/18/2015 13:46:58 ******/  
  
  
CREATE PROCEDURE [dbo].[FinishGoodStockUpdateBATCH]  
    @CastingID UNIQUEIDENTIFIER ,  
    @MetalID BIGINT ,  
    @StockToAdd FLOAT ,  
    @StockToRej FLOAT ,  
    @Tagging VARCHAR(50) ,  
    @Process VARCHAR(50) ,  
    @ProcessCode VARCHAR(MAX) ,  
    @productionbatchid BIGINT = 0 ,  
    @ProcessDate DATETIME ,  
    @ProcessID UNIQUEIDENTIFIER ,  
    @UserID BIGINT ,  
    @CastingStockBatchID BIGINT = 0 ,  
    @ProcessTransferTo UNIQUEIDENTIFIER = NULL ,  
    @HeatNo VARCHAR(20) = NULL ,  
    -- Only for Castcode   
    @isCastCodeEnable BIT = NULL ,  
    @KnockoutID BIGINT = 0 ,  
    @RejBatchID BIGINT = 0 ,  
    @createdOn DATETIME = NULL ,  
    @EntityID INT = 0 ,  
    @RejectionID BIGINT = 0 ,  
    @CastCode XML = NULL ,  
    @CastCodeREJ XML = NULL ,  
    @CastCode_No VARCHAR(50) = NULL ,  
    @JOID BIGINT = 0 ,  
    @InhouseProcessId UNIQUEIDENTIFIER = NULL ,  
    @HistoryAdd BIT = 0 ,  
    @BatchWeight Float=0,  
    @HeatCodeId bigint=0,  
    @CastingID2 UNIQUEIDENTIFIER=NULL --- Only when part gets converted you need to pass from which casting it is converted to reduce stock of casting or part (because this procedure increase and decrease stock of casting but i ncase of two different cast
--ing you need to pass two different one.  
      ,@HEATCODE VARCHAR(Max) = null
      ,@Type int = 0
      ,@OrderTranseID uniqueidentifier = null
      ,@PlantId int = 0 
      ,@InTransit bit = 0
      ,@ToPlantId int = 0
      ,@AddOnId1 int = 0,
      @InTransitFrom bit = 0
      
      
    --END  
AS  
    BEGIN 
	BEGIN TRY 
          
        DECLARE @CurrentStock AS FLOAT ,  
            @CurrentREJStock AS FLOAT;  
        DECLARE @CastCodeNo VARCHAR(50) ,  
            @BatchStock INT; -- To check whether updated batch stock in table is more then 0 or not;   
              
             -- Need to add CastingID only in fginventory hostory instead of part id because history will have casting not part  
    -- Part is added for our reference only. As of now no use of it As on date 04Aug2018  
             Declare @ParentCastingid uniqueidentifier,@PartId uniqueidentifier , @ParentID uniqueidentifier;     
               
        IF ( @ProcessDate IS NULL )  
            BEGIN  
                SET @ProcessDate = GETDATE()  
            END   
        IF ( @Tagging = 'PRODUCTION'  
             OR @Tagging = 'REJECTION'  
             OR @Tagging = 'MANAGE REJ'  
             OR @Tagging = 'MANAGE REJ CUST'  
             OR @Tagging = 'Physical'  
             OR @Tagging = 'Opening Stock' 
             Or @Tagging = 'Order Mapping' 
             OR @Tagging = 'JobOut'  
             OR @Tagging = 'JobReturn'  
             OR @Tagging = 'StockTransfer'  
             OR @Tagging = 'Casting Purchase Inward'  
             Or @Tagging = 'JobIn'
           ) -- This block will execute when production will get insert  
            BEGIN  
    
                IF EXISTS ( SELECT  BatchID  
                            FROM    CastingStockBatch  
                            WHERE   productionbatchid = @productionbatchid  
                                    AND CastingID = @CastingID  
                                    AND ProcessID = @ProcessID  
                                    AND MetalID = @MetalID  
                                    AND HeatCodeID=@HeatCodeId
                                    And PlantID = @PlantId
                                    And EntityId = @EntityID
                                    and InTransit = @InTransit
                                    and AddonId1 = @AddOnId1
                                    and ToPlantId = @ToPlantId)  
                    BEGIN  
    
                        UPDATE  dbo.CastingStockBatch  
                        SET     Batchstock = batchstock + @StockToAdd ,  
								Weight	= (Case when @BatchWeight != 0 THEN @BatchWeight else CastingStockBatch.Weight end)  
                        WHERE   productionbatchid = @productionbatchid  
                                AND CastingID = @CastingID  
                                AND ProcessID = @ProcessID  
                                AND MetalID = @MetalID   
                                AND HeatCodeID=@HeatCodeId  
                                and PlantId = @PlantId
                                And EntityId = @EntityID 
                                and InTransit = @InTransit
                                and AddonId1 = @AddOnId1 
                                AND ToPlantId = @ToPlantId
                              
                          
                        SET @BatchStock = ( SELECT  Batchstock  
                                            FROM    CastingStockBatch  
                                            WHERE   productionbatchid = @productionbatchid  
                                                    AND CastingID = @CastingID  
                                                    AND ProcessID = @ProcessID  
                                                    AND MetalID = @MetalID  
                                                    AND HeatCodeID=@HeatCodeId 
                                                    and PlantId = @PlantId 
                                                    And EntityId = @EntityID 
                                                    and InTransit = @InTransit
													and AddonId1 = @AddOnId1
													and ToPlantId = @ToPlantId
                                          )     
                        IF @BatchStock < 0  
                        BEGIN  
						SELECT 1  
							RETURN  1
						END  
				        
                        IF @isCastCodeEnable = 1  
                            BEGIN  
                                SET @CastingStockBatchID = ( SELECT  
                                                              Batchid  
                                                             FROM  
                                                              CastingStockBatch  
                                                             WHERE  
                                                              productionbatchid = @productionbatchid  
                                                              AND CastingID = @CastingID  
                                                              AND ProcessID = @ProcessID  
                                                              AND MetalID = @MetalID  
                                                               AND HeatCodeID=@HeatCodeId  
                                                               
                                                           )  
                                                             
                               
                            END  
                          
                    END  
                ELSE  
                    BEGIN  
                        INSERT  INTO dbo.CastingStockBatch  
                                ( productionbatchID ,  
                                  CastingID ,  
                                  ProcessID ,  
                                  BatchStock ,  
                                  Weight,  
                                  MetalID ,  
                                  InsertedDate ,  
                                  HeatCodeId ,
                                  PlantId,
                                  EntityId ,
                                  InTransit,
                                  AddOnId1  ,
                                  ToPlantId                                                  
                                )  
                        VALUES  ( @productionbatchid ,  
                                  @CastingID ,  
                                  @ProcessID ,  
                                  @StockToAdd ,  
                                  @BatchWeight,  
                                  @MetalID ,  
                                  GETDATE(),  
                                  @HeatCodeId  ,
                                  @PlantId ,
                                  @EntityId,
                                  @InTransit,
                                  @AddOnId1,
                                  @ToPlantId
                                )  
                          
              
                        IF @isCastCodeEnable = 1  
                            BEGIN  
                                SET @CastingStockBatchID = @@IDENTITY  
                            END
                       
                    END      
         
                IF EXISTS ( SELECT  batchid  
                            FROM    CastingRejStockbatch  
                            WHERE   productionbatchid = @productionbatchid  
                                    AND castingid = @CastingID  
                                    AND processid = @ProcessID 
                                    And PlantId = @PlantId
                                    And EntityId = @EntityID)  
                    BEGIN  

                        UPDATE  CastingRejStockBatch  
                        SET     rejstock = rejstock + @StockToRej  
                        WHERE   productionbatchid = @productionbatchid  
                                AND castingid = @CastingID  
                                AND processid = @ProcessID  
                                and Plantid = @PlantId
                                and EntityId = @EntityID
          
              
                        IF @isCastCodeEnable = 1  
                            BEGIN  
								SET @RejBatchID = ( SELECT  Batchid  
                                                    FROM    CastingRejStockbatch  
                                                    WHERE   productionbatchid = @productionbatchid  
                                                            AND CastingID = @CastingID  
                                                            AND ProcessID = @ProcessID 
                                                           
                                                  )                  
                            END  
     
                    END  
                ELSE  
                    BEGIN  
                        INSERT  INTO CastingRejStockBatch  
                                ( productionbatchid ,  
                                  castingid ,  
                                  processid ,  
                                  rejstock,
                                  plantId ,
                                  EntityId 
								)  
                        VALUES  ( @productionbatchid ,  
                                  @CastingID ,  
                                  @ProcessID ,  
                                  @StockToRej ,
                                  @PlantId ,
                                  @EntityID
								)   
              
                        IF @isCastCodeEnable = 1  
                            BEGIN  
                                SET @RejBatchID = @@IDENTITY  
                            END  
                    END    
                 
            END     
  
    
 --This bLock is for In housePRocess stock Transfer  
  
        IF ( ( @Tagging = 'Process Stock'  
               OR @Tagging = 'Process Perform'  
               OR @Tagging = 'Internal Inward'
               OR @Tagging = 'Internal Transfer'
             )  
             AND ( @Process = 'INSERT'  
             OR @Process = 'EDIT'  
                   OR @Process = 'DELETE'  
                 )  
           )  
            BEGIN  
      
                UPDATE  CastingStockBatch  
                SET     BatchStock = BatchStock + @StockToAdd  
                WHERE   Batchid = @CastingStockBatchID     
                  
                  SET @BatchStock = ( SELECT  Batchstock  
                                            FROM    CastingStockBatch  
                                            WHERE   Batchid = @CastingStockBatchID     
                                          )     
                IF @BatchStock < 0  
				BEGIN  
				 SELECT 1  
				 RETURN   1
				END  
       
                --set @CurrentStock = @BatchStock       
            END  
  
  
--END   
  
-- This bLock is for Dispatch Insert  
  
        IF (( @Tagging = 'DISPATCH'  Or @Tagging = 'JOBOUTITEMCONSUMED' Or @Tagging = 'CONSUMPTION' OR @Tagging = 'ReturnToCustomer')
             AND ( @Process = 'INSERT'  
                   OR @Process = 'DELETE'  
                   OR @Process = 'EDIT'  
                 )  
           )  
            BEGIN  
      
                UPDATE  CastingStockBatch  
                SET     BatchStock = BatchStock + @StockToAdd  
                WHERE   Batchid = @CastingStockBatchID            
                  
                SET @BatchStock = ( SELECT  Batchstock  
                                            FROM    CastingStockBatch  
                                            WHERE   Batchid = @CastingStockBatchID     
                                          )     
                IF @BatchStock < 0  
				BEGIN  
				 SELECT 1  
				 RETURN   1
				END             
            END  
--END   
-- This block is for CastCode Entry    
        IF @isCastCodeEnable = 1  
            BEGIN  
                IF ( @Tagging = 'PRODUCTION'  
                     OR @Tagging = 'Physical'  
                     OR @Tagging = 'Opening Stock'
                     Or @Tagging = 'Order Mapping'  
                   )  
                    BEGIN  
                        IF ( @CastCode IS NOT NULL )  
                            BEGIN  
                                EXEC [dbo].[CastCodeTransaction] @CastingID = @castingID,  
                                    @KnockoutID = @KnockoutID,  
                                    @CastCode = @CastCode,  
                                    @productionbatchid = @ProductionBatchID,  
                                    @CastingStockBatchID = @CastingStockBatchID,  
                                    @CreatedOn = @CreatedOn,  
                                    @EntityID = @EntityID,  
                                    @Createdby = @UserID,  
                                    @Tag_Process = @Tagging, @okREJ = 0,  
                                    @RejectionDate = @ProcessDate,  
                                    @updatedQty = @StockToAdd  
                                       
                            END               
                    END  
                IF ( @Tagging = 'REJECTION' )  
                    BEGIN  
        
                        EXEC [dbo].[CastCodeTransaction] @CastingID = @castingID,  
                            @KnockoutID = @ProcessCode,  
                            @CastCode = @CastCodeREJ,  
                            @productionbatchid = @ProductionBatchID,  
                            @CastingStockRejBatchID = @RejBatchID,  
                            @Tag_Process = @Tagging, @CreatedOn = @CreatedOn,  
                            @EntityID = @EntityID, @Createdby = @UserID,  
                            @okREJ = 1, @CastingStockProcessId = @ProcessId,  
                            @RejectionDate = @ProcessDate, @JOID = @JOID,  
                            @InhouseProcessId = @InhouseProcessId  
                
        
                    END  
                IF ( @Tagging = 'MANAGE REJ CUST' )  
                    BEGIN  
        
                        EXEC [dbo].[CastCodeTransaction] @CastingID = @castingID,  
                            @KnockoutID = @KnockoutID,  
                            @CastCodeNo = @CastCode_No, @OkQty = @StockToAdd,  
                            @productionbatchid = @ProductionBatchID,  
                            @CastingStockBatchID = @CastingStockBatchID,  
                            @CastingStockRejBatchID = @RejBatchID,  
                            @Tag_Process = @Tagging--, @Process = @Process              
                
        
                    END  
                IF ( @Tagging = 'MANAGE REJ'  
                     AND @Process = 'INSERT'  
                   )  
                    BEGIN  
                        SET @CastCodeNo = ( SELECT  CastCodeno  
                                            FROM    RejectionMaster  
                                            WHERE   RejectionID = @RejectionID  
                                          )  
                        IF @StockToAdd > 0  
                            BEGIN  
                                  
                                IF EXISTS ( SELECT  CastCode  
                                            FROM    CastCodeBatch  
                                            WHERE   CastCode = @CastCodeNo )  
                                    BEGIN  
        
                                        UPDATE  CastCodeBatch  
                                        SET     Qty = Qty + @StockToAdd  
                                        WHERE   CastCode = @CastCodeNo  
                                                AND BatchID = @CastingStockBatchID   
                                        
                                    END  
                                ELSE  
                                    BEGIN  
         
                                        INSERT  INTO CastCodeBatch  
                                                ( BatchID ,  
                                                  CastCode ,  
                                                  Qty  
                                         )  
                                        VALUES  ( @CastingStockBatchID ,  
                                                  @CastCodeNo ,  
                                                  @StockToAdd  
                                                )  
                                    END   
                                      
                                UPDATE  dbo.CastCodeHistory  
                                SET     InwardOKQty = InwardOKQty  
                                        + @StockToAdd  
                                WHERE   CastCode = @CastCodeNo  
                                        AND CastingID = @castingID  
                                        AND IsDeleted = 0  
										
  
                            END  
                         
                        UPDATE  dbo.CastCodeHistory  
                        SET     InwardRejQty = InwardRejQty - @StockToRej  
                                - @StockToAdd  
                        WHERE   CastCode = @CastCodeNo  
                                AND CastingID = @castingID  
                                AND IsDeleted = 0                                                    
                                   
                        IF EXISTS ( SELECT  Castcode  
                                    FROM    CastCodeRejBatch  
                                    WHERE   CastCode = @CastCodeNo )  
                            BEGIN  
                                UPDATE  CastCodeRejBatch  
                                SET     Qty = Qty + @StockToRej + @StockToAdd  
                                WHERE   CastCode = @CastCodeNo  
                                        AND BatchID = @RejBatchID   
                                                                     
                            END            
                                  
                    END  
                      
                IF ( @Tagging = 'MANAGE REJ'  
                     AND @Process = 'DELETE'  
                   )  
                    BEGIN  
                           
        
                        SET @CastCodeNo = ( SELECT  CastCodeno  
                                            FROM    RejectionMaster  
                                            WHERE   RejectionID = @RejectionID  
                                          )  
        
                        IF EXISTS ( SELECT  CastCode  
                                    FROM    CastCodeBatch  
                                    WHERE   CastCode = @CastCodeNo )  
                            BEGIN  
        
                                UPDATE  CastCodeBatch  
                                SET     Qty = Qty + @StockToAdd  
                                WHERE   CastCode = @CastCodeNo  
                                        AND BatchID = @CastingStockBatchID   
                                           
                            END                                
                                      
                        UPDATE  dbo.CastCodeHistory  
                        SET     InwardOKQty = InwardOKQty + @StockToAdd  
                        WHERE   CastCode = @CastCodeNo  
                                AND CastingID = @castingID  
                                AND IsDeleted = 0  
                           
                    
                        IF ( @StockToRej > 0 )  
                            BEGIN  
                                UPDATE  dbo.CastCodeHistory  
                                SET     InwardRejQty = InwardRejQty  
                                        - @StockToRej - @StockToAdd  
                                WHERE   CastCode = @CastCodeNo  
                                        AND CastingID = @castingID  
                                        AND IsDeleted = 0  
                                      
                                          
                                IF EXISTS ( SELECT  Castcode  
                                            FROM    CastCodeRejBatch  
                                            WHERE   CastCode = @CastCodeNo )  
                                    BEGIN  
                                        UPDATE  CastCodeRejBatch  
                                        SET     Qty = Qty + @StockToRej  
                                                + @StockToAdd  
                                        WHERE   CastCode = @CastCodeNo  
                                                AND BatchID = @RejBatchID  
                                       
                                    END      
                            END              
                              
                    END  
                      
                IF ( (@Tagging = 'DISPATCH'  Or @Tagging = 'ReturnToCustomer')
                     AND @Process = 'INSERT'  
                   )  
                    BEGIN  
                        DECLARE @qty INT;            
                        IF EXISTS ( SELECT  CastCode  
                                    FROM    CastCodeBatch  
                                    WHERE   CastCode = @CastCode_No )  
                            BEGIN  
        
                                UPDATE  CastCodeHistory  
                                SET     IsDispatched = 1 ,  
                                        DispatchedQty = DispatchedQty  
                                        - @StockToAdd  
                                WHERE   CastCode = @CastCode_No  
                                        AND ProductionbatchID = @productionbatchid   
                                
          
                                UPDATE  CastCodeBatch  
                                SET     Qty = Qty + @StockToAdd  
                                WHERE   CastCode = @CastCode_No  
                                        AND BatchID = @CastingStockBatchID   
                               
        --set @qty = (select Qty from CastCodeBatch where CastCode=@CastCode_No and BatchID=@CastingStockBatchID)  
        --IF @@ERROR <> 0  
        --ROLLBACK TRANSACTION  
        --if(@qty = 0)  
        --BEGIN  
        -- delete from CastCodeBatch where CastCode=@CastCode_No and BatchID=@CastingStockBatchID  
        -- IF @@ERROR <> 0  
        -- ROLLBACK TRANSACTION  
        --END  
                            END                           
                    END   
                IF ( (@Tagging = 'DISPATCH'   Or @Tagging = 'ReturnToCustomer')
                     AND ( @Process = 'DELETE'  
                           OR @Process = 'EDIT'  
                         )  
                   )  
                    BEGIN  
                        DECLARE @Dis_qty INT;  
                        UPDATE  CastCodeHistory  
                        SET     DispatchedQty = DispatchedQty - @StockToAdd  
                        WHERE   CastCode = @CastCode_No  
                                AND ProductionbatchID = @productionbatchid   
                      
                        SET @Dis_qty = ( SELECT DispatchedQty                                           FROM   CastCodeHistory  
                                         WHERE  CastCode = @CastCode_No  
                                                AND ProductionbatchID = @productionbatchid  
                                       )  
                      
                        IF ( @Dis_qty = 0 )  
                            BEGIN  
                                UPDATE  CastCodeHistory  
                                SET     IsDispatched = 0  
                                WHERE   CastCode = @CastCode_No  
                                        AND ProductionbatchID = @productionbatchid   
                               
                            END   
          
                    
                        IF EXISTS ( SELECT  CastCode  
                                    FROM    CastCodeBatch  
                                    WHERE   CastCode = @CastCode_No )  
                            BEGIN        
                                UPDATE  CastCodeBatch  
                                SET     Qty = Qty + @StockToAdd  
                                WHERE   CastCode = @CastCode_No  
                                        AND BatchID = @CastingStockBatchID   
                                       
                            END   
                        ELSE  
                            BEGIN  
         
                                INSERT  INTO CastCodeBatch  
                                        ( BatchID ,  
                                          CastCode ,  
                                          Qty  
                                        )  
                                VALUES  ( @CastingStockBatchID ,  
                                          @CastCode_No ,  
                                          @StockToAdd  
                                        )  
                                      
         
                            END                          
                    END   
                IF ( @Tagging = 'StockTransfer' )  
                    BEGIN  
                        IF EXISTS ( SELECT  CastCode  
                                    FROM    CastCodeBatch  
                                    WHERE   CastCode = @CastCode_No  
                                            AND BatchID = @CastingStockBatchID )  
                            BEGIN        
                                UPDATE  CastCodeBatch  
                                SET     Qty = Qty + @StockToAdd  
                                WHERE   CastCode = @CastCode_No  
                                        AND BatchID = @CastingStockBatchID   
                                  
                            END   
                        ELSE  
                            BEGIN  
         
                                INSERT  INTO CastCodeBatch  
                                        ( BatchID ,  
                                          CastCode ,  
                                          Qty  
                                        )  
                                VALUES  ( @CastingStockBatchID ,  
                                          @CastCode_No ,  
                                          @StockToAdd  
                                        )  
                                       
         
                            END                          
                    END   
                IF ( @Tagging = 'PRocess Stock' )  
                    BEGIN  
       
                        UPDATE  CastCodeBatch  
  SET     Qty = Qty + @StockToAdd  
                        WHERE   CastCode = @CastCode_No  
                                AND BatchID = @CastingStockBatchID  
                               
       
                    END   
                IF ( @Tagging = 'JobOut' )  
                    BEGIN  
                        IF @StockToAdd != 0  
                            BEGIN  
                                DECLARE @JO_qty INT;            
                                IF EXISTS ( SELECT  CastCode  
                                            FROM    CastCodeBatch  
                                            WHERE   CastCode = @CastCode_No )  
                                    BEGIN  
          
                                        UPDATE  CastCodeHistory  
                                        SET     IsJobworked = 1 ,  
                                                JobworkedQty = JobworkedQty  
                                                - @StockToAdd  
                                        WHERE   CastCode = @CastCode_No  
                                                AND ProductionbatchID = @productionbatchid   
                                       

                                        SET @JO_qty = ( SELECT  
                                                              JobworkedQty  
                                                        FROM  CastCodeHistory  
                                                        WHERE CastCode = @CastCode_No  
                                                              AND ProductionbatchID = @productionbatchid  
                                                      )  
                                      

                                        IF ( @JO_qty = 0 )  
                                            BEGIN  
                                                UPDATE  CastCodeHistory  
                                                SET     IsJobworked = 0  
                                                WHERE   CastCode = @CastCode_No  
                                                        AND ProductionbatchID = @productionbatchid  
                                               

                                            END  
            
                                        SET @CastingStockBatchID = ( SELECT  
                                                              batchid  
                                                              FROM  
                                                              CastingStockBatch  
                                                              WHERE  
                                                              CastingID = @CastingID  
                                                              AND ProcessID = @ProcessId  
                                                              AND MetalID = @MetalID  
                                                              AND productionbatchID = @productionbatchid  
                                                              )  
                                        UPDATE  CastCodeBatch  
                                        SET     Qty = Qty + @StockToAdd  
                                        WHERE   CastCode = @CastCode_No  
                                                AND BatchID = @CastingStockBatchID   
                                        
										
                                    END   
                            END                        
                    END  
       
                IF ( @Tagging = 'JobReturn' )  
       BEGIN                   
                        IF EXISTS ( SELECT  CastCode  
                                    FROM    CastCodeBatch  
                                    WHERE   CastCode = @CastCode_No  
                                            AND BatchID = @CastingStockBatchID )  
                            BEGIN                                      
                                UPDATE  CastCodeBatch  
                                SET     Qty = Qty + @StockToAdd  
                                WHERE   CastCode = @CastCode_No  
                                        AND BatchID = @CastingStockBatchID   
                              
							  
                            END   
                        ELSE  
                            BEGIN  
                                INSERT  INTO CastCodeBatch  
                                        ( BatchID ,  
                                          CastCode ,  
                                          Qty  
                                        )  
                                VALUES  ( @CastingStockbatchID ,  
                                          @CastCode_No ,  
                                          @StockToAdd  
                                        )  
                               
							   
                            END                          
                    END  
            END  
--END    
    
    if ( @CastingID2 is not null and @Tagging <> 'JobReturn')
	Begin
		IF NOT EXISTS(	SELECT	1 
						from	CastingHeatCode 
						WHERE	CastingID = @CastingID2
								AND HeatCodeID = @HeatCodeId
								AND CastingHeatCode.ProductionBatchID = @productionbatchid
					)
		BEGIN
			select @ParentID = ISNULL(Parentid,castingid) from castingMaster  
			where castingid = @castingid and IsDeleted = 0
			
			
			IF EXISTS(	SELECT	1 
						from	CastingHeatCode 
						WHERE	CastingID = @ParentID
								AND HeatCodeID = @HeatCodeId
								AND CastingHeatCode.ProductionBatchID = @productionbatchid
					)
			BEGIN		
				SELECT	@HEATCODE = HeatCode ,
						@Type = Type,
						@OrderTranseID = OrderTranseID
				from	CastingHeatCode 
				WHERE	CastingID = @ParentID
						AND HeatCodeID = @HeatCodeId
						AND CastingHeatCode.ProductionBatchID = @productionbatchid
			

				INSERT INTO CastingHeatCode 
							(ProductionBatchID
							,CastingID,
							HeatCode,
							Type,
							HeatCodeID,
							OrderTranseID,
							HeatCodeStock)
				VALUES (@productionbatchid,
						@CastingID2,
						@HEATCODE,
						@Type,
						@HeatCodeId,
						@OrderTranseID,
						0)
				

            END
		END
		
	End
     
    if ( @CastingID is not null and @Tagging = 'JobReturn')
	Begin
		IF NOT EXISTS(	SELECT	1 
						from	CastingHeatCode 
						WHERE	CastingID = @CastingID
								AND HeatCodeID = isnull(@HeatCodeId,0)
								AND CastingHeatCode.ProductionBatchID = @productionbatchid
					)
		BEGIN
			select @ParentID = ISNULL(Parentid,castingid) from castingMaster  
			where castingid = @castingid2 and IsDeleted = 0 
			
			IF EXISTS(	SELECT	1 
						from	CastingHeatCode 
						WHERE	CastingID = @ParentID
								AND HeatCodeID = isnull(@HeatCodeId,0)
								AND CastingHeatCode.ProductionBatchID = @productionbatchid
					)
			BEGIN		
				SELECT	@HEATCODE = HeatCode ,
						@Type = Type,
						@OrderTranseID = OrderTranseID
				from	CastingHeatCode 
				WHERE	CastingID = @ParentID
						AND HeatCodeID = isnull(@HeatCodeId,0)
						AND CastingHeatCode.ProductionBatchID = @productionbatchid
				

				INSERT INTO CastingHeatCode 
							(ProductionBatchID
							,CastingID,
							HeatCode,
							Type,
							HeatCodeID,
							OrderTranseID,
							HeatCodeStock)
				VALUES (@productionbatchid,
						@CastingID,
						@HEATCODE,
						@Type,
						@HeatCodeId,
						@OrderTranseID,
						0)
				
				
            END
		END
		
	End
                       
--COMMON BLOCK  
  
--REJECTION  
  
        SET @CurrentREJStock = ( SELECT SUM(rejstock)  
                                 FROM   CastingRejStockBatch  
                                 WHERE  CastingID = @CastingID 
										and PlantId = @PlantId 
										and EntityId = @EntityID
                               )  
        
		

        IF @CurrentREJStock >= 0  
            BEGIN  
                IF EXISTS ( SELECT  CastingID  
                            FROM    CastingRejStock  
                            WHERE   CastingID = @CastingID 
									and plantid = @plantid
									And EntityId = @EntityID
									)  
                    BEGIN     
                        UPDATE  CastingRejStock  
                        SET     RejStock = @CurrentREJStock  
                        WHERE   CastingID = @CastingID 
								and plantId  = @PlantId  
								and EntityId = @EntityID
								
                     
					 
                    END  
                ELSE  
                    BEGIN  
                        INSERT  INTO CastingRejStock  
                                ( CastingID, RejStock,PlantId,EntityId )  
                        VALUES  ( @CastingID, @CurrentREJStock ,@PlantId,@EntityID)  
                        
						
                    END  
            END  
--END    
  
-- This block will work for stock update in Metalwise stock 
		if(@Tagging <> 'Internal Inward'
               and @Tagging <> 'Internal Transfer')
        BEGIN 
			SET @CurrentStock = ( SELECT    SUM(batchstock)  
								  FROM      Castingstockbatch  
								  WHERE     CastingID = @CastingID  
											AND ProcessID = @ProcessID  
											AND MetalID = @MetalID  
											And PlantId = @PlantId
											and EntityId = @EntityID
											And Intransit = @InTransit
								 )
        END  
        ELSE
        BEGIN
        
			SET @CurrentStock = ( SELECT    SUM(batchstock)  
								  FROM      Castingstockbatch  
								  WHERE     CastingID = @CastingID  
											AND ProcessID = @ProcessID  
											AND MetalID = @MetalID  
											And PlantId = @PlantId
											and EntityId = @EntityID
											And Intransit = @InTransitFrom
								 )
        END
                           
      

        
        IF EXISTS ( SELECT  *  
                    FROM    CastingGradeStock  
                    WHERE   castingID = @CastingID  
                            AND MetalID = @MetalID  
                            AND ProcessID = @ProcessID
                            and PlantId = @PlantId 
                            and Entityid = @EntityID
                            And Intransit = @InTransitFrom
                   )  
            BEGIN  
                UPDATE  CastingGradeStock  
                SET     Stock = @CurrentStock  
                WHERE   castingID = @CastingID  
                        AND MetalID = @MetalID  
                        AND ProcessID = @ProcessID 
                        and plantId = @PlantId 
                        and Entityid = @EntityID
                        And InTransit = @InTransitFrom
                          
                

            END  
        ELSE  
            BEGIN  
                  
                INSERT  INTO dbo.CastingGradeStock  
                        ( CastingID ,  
						  MetalID ,  
                          Stock ,  
                          ProcessID ,  
                          DefaultPosition ,
                          PlantId ,
                          EntityId,
                          InTransit
                        )  
                VALUES  ( @CastingID ,  
                          @MetalID ,  
                          @CurrentStock ,  
                          @ProcessID ,  
                          1 ,
                          @PlantId ,
                          @EntityID  ,
                          @InTransitFrom
                        )  
                          
             

            END  
        
-- Metal wise stock update over  
  
-- This block is for process wise stock  
        SET @CurrentStock = ( SELECT    SUM(Stock)  
                              FROM      CastingGradeStock  
                              WHERE     CastingID = @CastingID  
                                        AND ProcessID = @ProcessID  
                                        and PlantId = @PlantId
                                        and EntityId = @EntityId
                            )  

        IF EXISTS ( SELECT  *  
                    FROM    CastingProcessStock  
                    WHERE   castingID = @CastingID  
                            AND ProcessID = @ProcessID 
                            and PlantId= @PlantId
                            and EntityId = @EntityID)  
            BEGIN  
                UPDATE  CastingProcessStock  
                SET     CastingStock = @CurrentStock  
                WHERE   castingID = @CastingID  
                        AND ProcessID = @ProcessID 
                        and PlantId = @PlantId 
                        and EntityId = @EntityId
                          

            END  
        ELSE  
            BEGIN  
                  
                INSERT  INTO dbo.CastingProcessStock  
                        ( CastingID ,  
                          CastingStock ,  
                          ProcessID ,
                          PlantId,
                          EntityId                           
                        )  
                VALUES  ( @CastingID ,  
                          @CurrentStock ,  
                          @ProcessID  ,
                          @PlantId  ,
                          @EntityId                         
                        )  
                          

            END  
         
-- Process wise stock update over  
  
-- Total Stock update start  
        SET @CurrentStock = ( SELECT    SUM(CastingStock)  
                              FROM      CastingProcessStock  
                              WHERE     castingID = @CastingID 
										And PlantId = @PlantId
										and EntityId = @EntityId 
                            )  

        IF EXISTS ( SELECT  *  
                    FROM    CastingStock  
                    WHERE   castingID = @CastingID 
							and PlantId = @PlantId
							and EntityId = @EntityId)  
            BEGIN  
                UPDATE  CastingStock  
                SET     Stock = @CurrentStock  
                WHERE   castingID = @CastingID 
						and PlantId = @PlantId 
						and EntityId = @EntityId
             

            END  
        ELSE  
            BEGIN  
  
                INSERT  INTO CastingStock  
                        ( Stock, castingID ,PlantId,EntityId )  
                VALUES  ( @CurrentStock, @CastingID,@PlantId ,@EntityId)  
                
				
            END  
            
        IF ( @HistoryAdd = 0 )  
            BEGIN   
                IF @StockToAdd != 0  
                    BEGIN  
                      
					  SET @ParentID = (Select ParentID from CastingMaster where CastingId=@CastingID )  
					   IF @ParentID IS NOT NULL  
                        BEGIN  
							Set @ParentCastingid = @ParentID  
							Set @PartId = @CastingID  
						END   
						ELSE  
							Set @ParentCastingid = @CastingID  
                      
                        DECLARE @SerialNo INT  
                        SET @SerialNo = ISNULL(( SELECT MAX(SerialNo) + 1  
                                                 FROM   FGInventoryHistory  
                                               ), 1)  
                        INSERT  INTO FGInventoryHistory  
                                ( CastingID ,  
                                  CurrentStock ,  
                                  TransactionQty ,  
                                  Tagging ,  
                                  Process ,  
                                  ProcessCode ,  
                                  ProcessDate ,  
                                  InsertedDate ,  
                                  UserId ,  
                                  SerialNo,  
                                  MetalID,  
                                  PartId ,
                                  PlantId,
                                  EntityId,
                                  InTransit,
                                  ToPlantId,
                                  AddOnId1
                                )  
                        VALUES  ( @ParentCastingid ,  
                                  @CurrentStock ,  
                                  @StockToAdd ,  
                                  @Tagging ,  
                                  @Process ,  
                                  @ProcessCode ,  
                                  @ProcessDate ,  
                                  GETDATE() ,  
                                  @UserID ,  
                                  @SerialNo,  
                                  @MetalID,  
                                  @PartId  ,
                                  @PlantId,
                                  @EntityId,
                                  @InTransitFrom,
                                  @ToPlantId,
                                  @AddOnId1
                                )  
                       
                    END  
            END  
 --COMMON END  
        
        IF ( ( @Tagging = 'Process Stock'  
               OR @Tagging = 'Process Perform'  
               OR @Tagging = 'Internal Inward'  
               OR @Tagging = 'Internal Transfer'
             )  
             AND ( @Process = 'INSERT' 
					Or @Process = 'EDIT' 
                   OR @Process = 'DELETE'  
                 )  
           ) -- This block will execute when production will get insert  
            BEGIN  
				if(@Tagging  = 'Internal Inward')
				Begin
					set @PlantId = @ToPlantId;
					set @ToPlantId = 0
				end
                IF EXISTS ( SELECT  batchid  
                            FROM    CastingStockBatch  
                            WHERE   CastingID = @CastingID2  
                                    AND ProcessID = @ProcessTransferTo  
                                    AND MetalID = @MetalID  
                                    AND productionbatchID = @productionbatchid  
                                    AND HeatCodeID=@HeatCodeId
                                    and PlantId = @PlantId
                                    and EntityId = @EntityId
                                    and InTransit = @InTransit
                                    and AddOnId1 = @AddOnId1
                                    and ToPlantId = @ToPlantId )  
                BEGIN                      
                    UPDATE  CastingStockBatch  
                    SET     BatchStock = BatchStock - @StockToAdd,  
							Weight=@BatchWeight  
                    WHERE   CastingID = @CastingID2  
                            AND ProcessID = @ProcessTransferTo  
                            AND MetalID = @MetalID  
                            AND productionbatchID = @productionbatchid  
                            AND HeatCodeID=@HeatCodeId  
                            and PlantId = @PlantId
                            and EntityId = @EntityId
                            and InTransit = @InTransit
                            and AddOnId1 = @AddOnId1
                            and ToPlantId = @ToPlantId

							  SET @BatchStock = ( SELECT  Batchstock  
                                            FROM    CastingStockBatch  
                                            WHERE   CastingID = @CastingID2  
													AND ProcessID = @ProcessTransferTo  
													AND MetalID = @MetalID  
													AND productionbatchID = @productionbatchid  
													AND HeatCodeID=@HeatCodeId  
													and PlantId = @PlantId
													and EntityId = @EntityId
													and InTransit = @InTransit
													and AddOnId1 = @AddOnId1
													and ToPlantId = @ToPlantId
                                          )     
                        IF @BatchStock < 0  
                        BEGIN  
						SELECT 1  
							RETURN  1
						END  
				        
						 

                          
                END              
                ELSE  
                BEGIN  
                    INSERT  INTO CastingStockBatch  
                            ( productionbatchID ,  
                              CastingID ,  
                              ProcessID ,  
                              MetalID ,  
                              BatchStock ,  
                              Inserteddate,  
                              Weight,  
                              HeatCodeId  ,
                              PlantId,
                              EntityId,
                              InTransit,
                              AddOnId1,
                              ToPlantId
                            )  
                    VALUES  ( @productionbatchid ,  
                              @CastingID2 ,  
                              @ProcessTransferTo ,  
                              @MetalID ,  
                              -@StockToAdd ,  
                              @ProcessDate,  
                              @BatchWeight,  
                              @HeatCodeId  ,
                              @PlantId,
                              @EntityId,
                              @InTransit,
                              @AddOnId1,
                              @ToPlantId
                            )  
				END                                              
     
                IF @isCastCodeEnable = 1  
                    BEGIN    
                        DECLARE @NewBatchID BIGINT;  
                        SET @NewBatchID = ( SELECT  BatchID  
                                            FROM    CastingStockBatch  
                                            WHERE   CastingID = @CastingID2  
                                                    AND productionbatchID = @productionbatchid  
                                                    AND MetalID = @MetalID  
                                                    AND ProcessID = @ProcessTransferTo  
                                          )        
                        IF EXISTS ( SELECT  CastCode  
                                    FROM    CastCodeBatch  
                                    WHERE   CastCode = @CastCode_No  
                                            AND BatchID = @NewBatchID )  
                            UPDATE  CastCodeBatch  
                            SET     Qty = Qty - @StockToAdd  
                            WHERE   CastCode = @CastCode_No  
                                    AND BatchID = @NewBatchID   
                                                
                        ELSE  
                            INSERT  INTO CastCodeBatch  
                            VALUES  ( @NewBatchID, @CastCode_No, -@StockToAdd )   
                           
      
                        UPDATE  CastCodeHistory  
                        SET     IsProcessed = 1 ,  
                                ProcessedQty = ProcessedQty - @StockToAdd  
                        WHERE   CastCode = @CastCode_No  
                                AND ProductionbatchID = @productionbatchid  
                                
     
                    END  
     
   -- This block will work for stock update in Metalwise stock  
                SET @CurrentStock = ( SELECT    SUM(batchstock)  
                                      FROM      Castingstockbatch  
                                      WHERE     CastingID = @CastingID2  
                                                AND ProcessID = @ProcessTransferTo  
                                                AND MetalID = @MetalID 
                                                And PlantId = @PlantId 
                                                and EntityId = @EntityId
                                                And InTransit = @InTransit
                                    )  
              
                IF EXISTS ( SELECT  *  
                            FROM    CastingGradeStock  
                            WHERE   castingID = @CastingID2  
                                    AND MetalID = @MetalID  
                                    AND ProcessID = @ProcessTransferTo
                                    and PlantId = @PlantId 
                                    and EntityId = @EntityId
                                    and InTransit = @InTransit)  
                    BEGIN  
                        UPDATE  CastingGradeStock  
                        SET     Stock = @CurrentStock  
                        WHERE   castingID = @CastingID2  
                                AND MetalID = @MetalID  
                                AND ProcessID = @ProcessTransferTo
                                And PlantId = @PlantId  
                                And EntityId = @EntityId
                                AND InTransit= @InTransit
                          
                      
                    END  
                ELSE  
                    BEGIN  
                  
                        INSERT  INTO dbo.CastingGradeStock  
                                ( CastingID ,  
                                  MetalID ,  
                                  Stock ,  
                                  ProcessID ,  
                                  DefaultPosition ,
                                  PlantId ,
                                  EntityId,
                                  InTransit
                                )  
                        VALUES  ( @CastingID2 ,  
                                  @MetalID ,  
                                  @CurrentStock ,  
                                  @ProcessTransferTo ,  
                                  1    ,
                                  @PlantId,
                                  @EntityId,
                                  @InTransit
                                )  
                          
                       
                    END  
          
-- Metal wise stock update over  
  
-- This block is for process wise stock  
                SET @CurrentStock = ( SELECT    SUM(Stock)  
                                      FROM      CastingGradeStock  
                                      WHERE     CastingID = @CastingID2  
												AND ProcessID = @ProcessTransferTo  
												and PlantId = @PlantId
												and EntityId = @EntityId
                                    )  
               
                IF EXISTS ( SELECT  *  
                            FROM    CastingProcessStock  
                            WHERE   castingID = @CastingID2  
                                    AND ProcessID = @ProcessTransferTo
                                    and plantId = @PlantId 
                                    and EntityId = @EntityId)  
                    BEGIN  
                        UPDATE  CastingProcessStock  
                        SET     CastingStock = @CurrentStock  
                        WHERE   castingID = @CastingID2  
                                AND ProcessID = @ProcessTransferTo 
                                and PlantId = @PlantId 
                                and EntityId = @EntityId
                          
                    END  
                ELSE  
                    BEGIN  
                  
                        INSERT  INTO dbo.CastingProcessStock  
                                ( CastingID ,  
                                  CastingStock ,  
                                  ProcessID ,
                                  PlantId   ,
                                  EntityId                        
                                )  
                        VALUES  ( @CastingID2 ,  
                                  @CurrentStock ,  
                                  @ProcessTransferTo ,
                                  @PlantId ,
                                  @EntityId                           
                                )  
                          
                    END  
         
-- Process wise stock update over  
  
-- Total Stock update start  
                SET @CurrentStock = ( SELECT    SUM(CastingStock)  
                                      FROM      CastingProcessStock  
                                      WHERE     castingID = @CastingID2 
												and PlantId = @PlantId 
												And EntityId = @EntityId
                                    )  
              
                IF EXISTS ( SELECT  *  
                            FROM    CastingStock  
                            WHERE   castingID = @CastingID2 
									and PlantId = @PlantId
									And EntityId = @EntityId)  
                    BEGIN  
                        UPDATE  CastingStock  
                        SET     Stock = @CurrentStock  
                        WHERE   castingID = @CastingID2 
								and PlantId = @PlantId 
								And EntityId = @EntityId
                         
                    END  
                ELSE  
                    BEGIN  
  
                        INSERT  INTO CastingStock  
                                ( Stock, castingID,PlantId,EntityId )  
                        VALUES  ( @CurrentStock, @CastingID2,@PlantId,@EntityId )  
                       
                    END  
                IF ( @HistoryAdd = 0 )  
                    BEGIN   
                        IF @StockToAdd != 0  
                            BEGIN         
                                                      
                              
                            SET @ParentID = (Select ParentID from CastingMaster where CastingId=@CastingID2 )  
							IF @ParentID IS NOT NULL  
                            BEGIN  
								Set @ParentCastingid = @ParentID  
								Set @PartId = @CastingID2  
                            END   
                            ELSE  
								Set @ParentCastingid = @CastingID2  
                              
                              
                                   
                                SET @SerialNo = ISNULL(( SELECT  
                                                              MAX(SerialNo)  
                                                              + 1  
                                                         FROM FGInventoryHistory  
                                                       ), 1)  
                                INSERT  INTO FGInventoryHistory  
                                        ( CastingID ,  
                                          CurrentStock ,  
                                          TransactionQty ,  
										Tagging ,  
                                          Process ,  
                                          ProcessCode ,  
                                          ProcessDate ,  
                                          InsertedDate ,  
                                          UserId ,  
                                          SerialNo,  
                                          MetalID,  
                                          Partid ,
                                          PlantId ,
                                          EntityId,
                                          InTransit,
                                          ToPlantId,
                                          AddOnId1
                                        )  
                                VALUES  ( @ParentCastingid ,  
                                          @CurrentStock ,  
                                          -@StockToAdd ,  
                                          @Tagging ,  
                                          @Process ,  
                                          @ProcessCode ,  
                                          @ProcessDate ,  
                                          GETDATE() ,  
                                          @UserID ,  
                                          @SerialNo,  
                                          @MetalID,  
                                          @PartId ,
                                          @PlantId ,
                                          @EntityId,
                                          @InTransit,
                                          @ToPlantId,
                                          @AddOnId1
                                        )  
                               
                            END  
                    END  
               
            END  
  
  
        IF ( ( @Tagging = 'JobOut'  
               OR @Tagging = 'JobReturn'  
             )  
             AND ( @Process = 'INSERT'  
                   OR @Process = 'DELETE'  
                   OR @Process = 'EDIT'  
                 )  
           ) -- This block will execute when jobout will get insert  
            BEGIN  
    -- Jobout Stock Update  
                IF @StockToAdd != 0  
                    BEGIN   
                        IF EXISTS ( SELECT  batchid  
                                    FROM    CastingJOStockBatch  
                                    WHERE   CastingID = @CastingID2  
                                            AND ProcessID = @ProcessTransferTo  
                                            AND MetalID = @MetalID  
                                            AND productionbatchID = @productionbatchid   
                                            AND HeatCodeID = @HeatCodeId
                                            and PlantId = @PlantId
                                            and EntityId= @EntityId)  
                            BEGIN                  
                            UPDATE  CastingJOStockBatch  
                            SET     BatchStock = BatchStock - @StockToAdd  
                            WHERE   CastingID = @CastingID2  
                                    AND ProcessID = @ProcessTransferTo  
                                    AND MetalID = @MetalID  
                                    AND productionbatchID = @productionbatchid  
                                    AND HeatCodeID = @HeatCodeId 
                                    and PlantId= @PlantId
                                    and EntityId = @EntityId
                                     
                                   
                            END                  
						   ELSE  
						   BEGIN  
                            INSERT  INTO CastingJOStockBatch  
                                    ( productionbatchID ,  
                                      CastingID ,  
                                      ProcessID ,  
                                      MetalID ,  
                                      BatchStock ,  
                                      Inserteddate,  
                                      HeatCodeId ,
                                      PlantId ,
                                      EntityId
                                    )  
                            VALUES  ( @productionbatchid ,  
                                      @CastingID2 ,  
                                      @ProcessTransferTo ,  
                                      @MetalID ,  
                                      -@StockToAdd ,  
                                      @ProcessDate,  
                                      @HeatCodeId  ,
                                      @PlantId,
                                      @EntityId
                                    )  

                            END          
         
                        IF @IsCastCodeEnable = 1  
                            BEGIN  
                                DECLARE @CastingJobatchID BIGINT;  
                                SET @CastingJobatchID = ( SELECT  
                                                              batchid  
                                                          FROM  
                                                              CastingJOStockBatch  
                                                          WHERE  
                                                              CastingID = @CastingID2  
                                                              AND ProcessID = @ProcessTransferTo  
                                                              AND MetalID = @MetalID  
                                                              AND productionbatchID = @productionbatchid  
                                                        )  
         
                                IF EXISTS ( SELECT  CastCOde  
                                            FROM    CastCodeJOBatch  
                                            WHERE   BatchID = @CastingJobatchID  
                                                    AND CastCOde = @CastCode_No )  
                                    UPDATE  CastCodeJOBatch  
                                    SET     Qty = Qty - @StockToAdd  
                                    WHERE   BatchID = @CastingJobatchID  
                                            AND CastCOde = @CastCode_No  
                                            
                                ELSE  
                                    INSERT  INTO CastCodeJOBatch  
                                            ( BatchID ,  
                                              CastCode ,  
                                              Qty  
                                            )  
                                    VALUES  ( @CastingJobatchID ,  
                                              @CastCode_No ,  
                                              -@StockToAdd  
                                            )  
          
         
                            END  
         
       -- This block will work for JobOut stock update in Metalwise stock  
                        SET @CurrentStock = ( SELECT    SUM(batchstock)  
                                              FROM      CastingJOstockbatch  
                                              WHERE     CastingID = @CastingID2  
                                                        AND ProcessID = @ProcessTransferTo  
                                                        AND MetalID = @MetalID 
                                                        and PlantId = @PlantId 
                                                        And EntityId = @EntityId
                                            )  

                        IF EXISTS ( SELECT  *  
                                    FROM    CastingJOGradeStock  
                                    WHERE   castingID = @CastingID2  
                                            AND MetalID = @MetalID  
                                            AND ProcessID = @ProcessTransferTo
                                            and PlantId = @PlantId
                                            and EntityId = @EntityId )  
                            BEGIN  
                                UPDATE  CastingJOGradeStock  
                                SET     Stock = @CurrentStock  
                                WHERE   castingID = @CastingID2  
                                        AND MetalID = @MetalID  
                                        AND ProcessID = @ProcessTransferTo
                                        And PlantId = @PlantId
                                        And EntityId = @EntityId  
                              

                            END  
                        ELSE  
                         BEGIN  
                      
                                INSERT  INTO dbo.CastingJOGradeStock  
                                        ( CastingID ,  
                                          MetalID ,  
                                          Stock ,  
                                          ProcessID ,  
                                          DefaultPosition ,
                                          PlantId ,
                                          EntityId
          )  
                                VALUES  ( @CastingID2 ,  
                                          @MetalID ,  
                                          @CurrentStock ,  
                                          @ProcessTransferTo ,  
                                          1    ,
                                          @PlantId,
                                          @EntityId
          )  
                              

                            END  
              
    -- Metal wise JobOut stock update over  
  
    -- This block is for process wise JobOut stock  
                        SET @CurrentStock = ( SELECT    SUM(Stock)  
                                              FROM      CastingJOGradeStock  
                                              WHERE     CastingID = @CastingID2  
                                                        AND ProcessID = @ProcessTransferTo  
                                                        and PlantId = @PlantId
                                                        and EntityId = @EntityId
                                            )  
                       

                        IF EXISTS ( SELECT  *  
                                    FROM    CastingJOProcessStock  
                                    WHERE   castingID = @CastingID2  
                                            AND ProcessID = @ProcessTransferTo
                                            and PlantId = @PlantId
                                            and EntityId = @EntityId )  
                            BEGIN  
                                UPDATE  CastingJOProcessStock  
                                SET     CastingStock = @CurrentStock  
                                WHERE   castingID = @CastingID2  
                                        AND ProcessID = @ProcessTransferTo 
                                        and PlantId = @PlantId 
                                        and EntityId= @EntityId
                              
                               

                            END  
                        ELSE  
                            BEGIN  
                      
                                INSERT  INTO dbo.CastingJOProcessStock  
                                        ( CastingID ,  
                                          CastingStock ,  
                                          ProcessID ,
                                          PlantId ,
                                          EntityId                          
										)  
                                VALUES  ( @CastingID2 ,  
                                          @CurrentStock ,  
                                          @ProcessTransferTo ,
                                          @PlantId ,
                                          @EntityId                           
										)  
                              

                            END  
             
    -- Process wise JobOut stock update over  
  
    -- Total JobOut Stock update start  
                        SET @CurrentStock = ( SELECT    SUM(CastingStock)  
                                              FROM      CastingJOProcessStock  
                                              WHERE     castingID = @CastingID2 
														and PlantId = @PlantId 
														And EntityId = @EntityId
                                            )  
                        

                        IF EXISTS ( SELECT  TOP 1 castingid  
                                    FROM    CastingJOStock  
                                    WHERE   castingID = @CastingID2
											and PlantId = @PlantId
											And EntityId = @EntityId)  
                            BEGIN  
                                UPDATE  CastingJOStock  
                                SET     Stock = @CurrentStock  
                                WHERE   castingID = @CastingID2 
										and PlantId = @PlantId 
										And EntityId = @EntityId
                                

                            END  
                        ELSE  
						BEGIN  
  
                                INSERT  INTO CastingJOStock  
                                        ( Stock, castingID ,PlantId,EntityId)  
                                VALUES  ( @CurrentStock, @CastingID2,@PlantId,@EntityID )  
                              

                            END  
                    END  
--        IF @StockToAdd != 0  
--            BEGIN              
--            SET @SerialNo=ISNULL((SELECT MAX(SerialNo)+1 FROM FGInventoryHistory ),1)  
--                INSERT  INTO FGInventoryHistory  
--                        ( CastingID ,  
--                          CurrentStock ,  
--                          TransactionQty ,  
--                          Tagging ,  
--                          Process ,  
--                          ProcessCode ,  
--                          ProcessDate ,  
--                          InsertedDate ,  
--                          UserId,  
--                          SerialNo  
--                        )  
--                VALUES  ( @CastingID ,  
--                          @CurrentStock ,  
--                          -@StockToAdd ,  
--                          @Tagging ,  
--                          @Process ,  
--                          @ProcessCode ,  
--                          @ProcessDate ,  
--                          GETDATE() ,  
--                          @UserID,  
--                          @SerialNo  
--                        )  
--                IF @@ERROR <> 0  
--                    ROLLBACK TRANSACTION  
--            END  
       
       -- JobOut Stock Update Over  
       
       
               
            END  
    
          
                   
        END TRY 
        BEGIN CAtch
			select 1
			return 1
		END Catch   
			

    END  
	--return 1 for failed this result
	
GO
