USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GradeWiseMeltingCost]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------EXEC GradeWiseMeltingCost '01 jan 2021', '30 dec 2023', 1
--------------------EXEC GradeWiseMeltingCost '01 Apr 2023', '30 dec 2024', 1

CREATE PROCEDURE [dbo].[GradeWiseMeltingCost]

@StartDate DATETIME = NULL,
@EndDate DATETIME = NULL,
@IsInwardBatchWise BIT = NULL,
@MetalID int = 0
AS 

BEGIN

--------------------WITHOUT BATCH---------------------------------------------------------

		DECLARE @ProdBatchTbl TABLE(batchID INT, MetalID  INT)
		INSERT INTO @ProdBatchTbl
		SELECT	batchID, MetalID 
		FROM	ProductionBatch(NOLOCK) 
		WHERE	IsDeleted = 0
				AND CAST (ProductionDate as date) BETWEEN CAST (@StartDate as date) AND CAST ( @EndDate as date)
				AND (@MetalID = 0 OR MetalID =@MetalID)
		IF (@IsInwardBatchWise = 0)
		BEGIN

			DECLARE @NoOfRecentMonth int, @Date DATE, @SDate DATE, @EDate DATE;
			SET @NoOfRecentMonth = (SELECT top 1 NoOfRecentMonth FROM configuration)
			SET @Date = GETDATE()
			SET @SDate = DATEADD(d, -1, DATEADD(m, DATEDIFF(m, 0, @Date) + 1, 0))
			SET @EDate = DATEADD(MONTH, DATEDIFF(MONTH, 0, DATEADD( MM, -(@NoOfRecentMonth-1), @SDate )), 0)
		
			SELECT	A.Grade, A.ItemCode, A.ItemDescription, A.Unit, A.Qty,
					(CASE WHEN A.AvgRateRawDetail <> 0 THEN A.Qty*A.AvgRateRawDetail ELSE A.Qty*A.AvgRateMaster END) AS Value,
					((CASE WHEN A.AvgRateRawDetail <> 0 THEN A.Qty*A.AvgRateRawDetail ELSE A.Qty*A.AvgRateMaster END)/ A.PerKgRate) AS PerKgRate
			FROM
			(
				SELECT	MetalName AS Grade, ItemCode, ItemName AS ItemDescription, UOM.UOM AS Unit,
						SUM(ISNULL(Con.consumptionqty, 0)) AS Qty,
						ISNULL(RawInwDetail.AvgRate, 0) AS AvgRateRawDetail,
						ISNULL(RateMaster.AvgRate, 0) AS AvgRateMaster,
						TotalProduction.TotalProduction AS PerKgRate
				FROM	Consumption Con
						INNER JOIN @ProdBatchTbl PB ON PB.batchID = Con.batchid
						INNER JOIN MetalMaster MM ON MM.MetalId = PB.MetalID
						INNER JOIN PurchaseItemMaster PIM ON PIM.PurchaseItemId = Con.purchaseitemID
						INNER JOIN UOMMaster UOM ON UOM.UOMid = PIM.UnitOfMeasure
						LEFT JOIN  (
							
							SELECT	Prodtbl.MetalID, SUM(ISNULL(Con.consumptionqty, 0)) AS TotalProduction
							FROM	Consumption Con
									INNER JOIN @ProdBatchTbl AS Prodtbl ON Prodtbl.batchID = Con.batchid
									INNER JOIN PurchaseItemMaster PIM ON PIM.PurchaseItemId = Con.purchaseitemID
							WHERE	PIM.IsFoundryReturn = 0
									--AND PB.ProductionDate BETWEEN @StartDate AND @EndDate
							GROUP BY Prodtbl.MetalID
                                        
                        ) as TotalProduction on TotalProduction.MetalID = PB.MetalID
						LEFT JOIN (

							SELECT	RawInwDetail.PurchaseItemId,
									(SUM(ISNULL(Quantity, 0) * ISNULL(RawInwDetail.Rate, 0))
									/SUM(ISNULL(Quantity, 0))
									)AS AvgRate
							FROM	RawMaterialInwardDetail RawInwDetail
									INNER JOIN RawMaterialInward RawInw on RawInw.InwardId = RawInwDetail.InwardId
							WHERE	CAST(InwardDate AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
							GROUP BY RawInwDetail.PurchaseItemId

						) RawInwDetail ON RawInwDetail.PurchaseItemId = Con.purchaseitemID
						LEFT JOIN (

							SELECT	PurchaseItemId, SUM(ISNULL(RMRateMaster.Rate, 0))/COUNT(PurchaseItemId) AS AvgRate
							FROM	RMRateMaster 
							WHERE	RMRateMaster.Rate <> 0
							  AND RMRateMaster.IsPurchase = 1
							GROUP BY PurchaseItemId

						) RateMaster ON RateMaster.PurchaseItemId = Con.purchaseitemID
				WHERE	Con.IsDeleted = 0 AND PIM.IsFoundryReturn = 0
						--AND PB.IsDeleted = 0 
						--AND CAST (PB.ProductionDate as date) BETWEEN CAST (@StartDate as date) AND CAST ( @EndDate as date)
				GROUP BY MetalName, ItemCode, ItemName, UOM.UOM, ISNULL(RawInwDetail.AvgRate, 0),
						ISNULL(RateMaster.AvgRate, 0), TotalProduction.TotalProduction	
			) A	
			ORDER BY Grade, ItemCode
			OPTION (RECOMPILE)
		END	
		ELSE
		BEGIN

			----------------WITH BATCH--------------------------
			
			SELECT	MetalName AS Grade, ItemCode, ItemName AS ItemDescription, UOM.UOM AS Unit,
					SUM(consumptionqty) AS Qty,--SUM(ConBatch.Quantity) AS Qty,
					SUM(Con.TotalCost) AS [Value], --SUM(RawInwDetail.Rate*ConBatch.Quantity) AS [Value], 
					--SUM(RawInwDetail.Rate*ConBatch.Quantity) / TotalProduction.TotalProduction AS PerKgRate
					SUM(Con.TotalCost) / TotalProduction.TotalProduction AS PerKgRate
			FROM	(
				SELECT * FROM @ProdBatchTbl
			) PB
					INNER JOIN (
							SELECT batchid, purchaseitemID, ConsumptionID, TotalCost, consumptionqty
							FROM Consumption(NOLOCK) WHERE IsDeleted = 0 AND consumptionqty > 0
					) Con ON Con.batchid = PB.batchID
					INNER JOIN (
						SELECT MetalId, MetalName FROM MetalMaster(NOLOCK)
					) MM ON MM.MetalId = PB.MetalID
					INNER JOIN (
						SELECT PurchaseItemId, ItemName, ItemCode, UnitOfMeasure FROM PurchaseItemMaster(NOLOCK)
					) PIM ON PIM.PurchaseItemId = Con.purchaseitemID
					INNER JOIN (
						SELECT UOMid, UOM FROM UOMMaster(NOLOCK)
					) UOM ON UOM.UOMid = PIM.UnitOfMeasure
					--INNER JOIN (
					--	SELECT ConsumptionID, Quantity, RawBatchId FROM ConsumptionBatchWise(NOLOCK)
					--) ConBatch ON ConBatch.ConsumptionID = Con.ConsumptionID
					--INNER JOIN (
					--	SELECT RawBatchId, RawBatchNo FROM RawInwBatchWiseStock(NOLOCK)
					--) RawBatch ON RawBatch.RawBatchId = ConBatch.RawBatchId
					--INNER JOIN (
					--	SELECT DISTINCT RawBatchNo, PurchaseItemId, Rate FROM RawMaterialInwardDetail(NOLOCK)
					--) RawInwDetail ON RawInwDetail.RawBatchNo = RawBatch.RawBatchNo 
					--		AND RawInwDetail.PurchaseItemId = Con.purchaseitemID
					LEFT JOIN (
						SELECT	ProdTbl.MetalID, SUM(KO.productionqty*KO.perpcweight) AS TotalProduction
						FROM	knockout(NOLOCK) KO
								INNER JOIN @ProdBatchTbl AS ProdTbl ON ProdTbl.batchID = KO.batchid
						--		INNER JOIN ProductionBatch(NOLOCK) PB ON PB.batchID = KO.batchid
						--					AND PB.IsDeleted = 0
						--WHERE	CAST (ProductionDate as date) BETWEEN CAST (@StartDate as date) AND CAST ( @EndDate as date)
						GROUP BY ProdTbl.MetalID
					) AS TotalProduction ON TotalProduction.MetalID = PB.MetalID
						
			GROUP BY MetalName, ItemCode, ItemName, UOM.UOM, TotalProduction.TotalProduction
			ORDER BY MetalName, ItemCode
			OPTION (RECOMPILE)
						
		END
	
	end
GO
