USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Material_Issue]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Material_Issue]
    @Parameter INT = 0 ,
    @PurchaseItemId UNIQUEIDENTIFIER = NULL ,
    @IssueId UNIQUEIDENTIFIER = NULL ,
    @ItemName VARCHAR(50) = NULL ,
    @DateFrom DATETIME = NULL ,
    @DateTo DATETIME = NULL ,
    @ItemType VARCHAR(50) = NULL ,
    @ItemCode VARCHAR(50) = NULL ,
    @CustomerId UNIQUEIDENTIFIER = NULL ,
    @Quantity FLOAT = 0 ,
    @IssueDate DATETIME = NULL ,
    @Remarks VARCHAR(MAX) = NULL ,
    @IssueTo VARCHAR(50) = NULL ,
    @IsDeleted INT = 0 ,
    @CreatedBy INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @Modified_By INT = 0 ,
    @TransactionQty FLOAT = 0 ,
	@BatchTransactionQty FLOAT = 0 ,
	@DeleteBatchTransactionQty FLOAT = 0 ,
    @Tagging VARCHAR(20) = NULL ,
    @Process VARCHAR(10) = NULL ,
    @ProcessDate VARCHAR(20) = NULL ,
    @UserId BIGINT = 0 ,
    @PageNumber INT = 0 ,
    @PageSize INT = 0 ,
    @InitialLoad INT = 0 ,
    @TotalRecords INT = 0 ,
    @IsActive INT = 0 ,
    @Modified_On DATETIME = NULL ,
    @EntityID INT = 0 ,
    @DeletedOn DATETIME = NULL ,
    @DeletedBy INT = 0 ,
    @EntryNo VARCHAR(20) = NULL ,
    @IssueNo VARCHAR(20) = NULL ,
    @Prefix VARCHAR(50) = NULL ,
    @Suffix VARCHAR(50) = NULL ,
    @Separator VARCHAR(50) = NULL ,
    @MaterialIssueTransId UNIQUEIDENTIFIER = NULL ,
    @MaterialIssueTransTable XML = NULL ,
    @MaterialIssueTransDeleteTable XML = NULL ,
    @SrNo INT = NULL ,
    @ConsumptionMethod BIT = NULL ,
    --@IssueDepartment VARCHAR(50) = NULL ,
    @DepartmentId UNIQUEIDENTIFIER = NULL ,
    @StoreIndentIssueTransTable XML = NULL ,
    @StoreIndentTransID INT = 0 ,
    @IssueIndentDetail XML = NULL ,
    @IndentIssueXML XML = NULL ,
    @IsInwardBatchWise BIT = NULL ,
    @BatchDetails XML = NULL ,
    @RawBatchId INT = 0 ,
    @IssueQty FLOAT = 0 ,
    @RawBatchNo VARCHAR(50) = NULL ,
    @IssueBatchId UNIQUEIDENTIFIER = NULL ,
    @IssueForOtherPurpose BIT = 0 ,
    @SeriesID INT = 0 ,
    @EmployeeId INT = 0 ,
    @IsSampleSeries BIT = 0 ,
    @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL ,
    @PurchaseItemSubGroupId UNIQUEIDENTIFIER = NULL ,
    @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL 
  , @POPlantId BIGINT = 0
  , @PlantIdString NVARCHAR(MAX) = ''
  , @FromPlantId BIGINT = 0,
	@OnlyPurchaseItem int = 0
  , @PageType NVARCHAR(MAX) = ''
  , @IsReceived bit = 1 
  , @IsReturnAgainstTransfer int = 0 
  , @ModifiedDateTime Nvarchar(50) = Null,
  @IssueStatus bit = 0,
  @IsIssueAsConsumed bit = 0 
AS
BEGIN

	SET NOCOUNT ON;
		DECLARE @result TABLE ( returnvalue INT );
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
        DECLARE @CurrentStock FLOAT ,
            @UserXML AS XML ,
            @ShortDescription NVARCHAR(MAX),
            @CostCenterDet AS XML,
            @CoreCenterBatchDet as XML;
            
             Declare @CostBatchDet Xml,@IsTransfer INT
            
         IF @parameter = 1			--Insert value in Raw Material Inward
        BEGIN
			BEGIN TRANSACTION
			BEGIN try
			
                DECLARE @ISSUE_ID UNIQUEIDENTIFIER;
                
                IF (ISNULL(@SeriesID, 0) != 0)
                BEGIN
					--Commented by Ritik on 12-06-2025

					--SELECT  @Prefix = Prefix ,
					--		@Suffix = Suffix ,
					--		@Separator = Separator
					--FROM    Prefix_Suffix
					--WHERE   PrefixSuffixId = (
					--	SELECT TOP 1 PrefixSuffixId FROM InvoiceSeries WHERE SeriesId = @SeriesID
					--)

					SELECT top 1 @Prefix = Prefix ,
							@Suffix = Suffix ,
							@Separator = Separator
					FROM    Prefix_Suffix
					inner join invoiceseries on Prefix_Suffix.Invoice_SeriesId = invoiceseries.SeriesId
					 WHERE SeriesId = @SeriesID
					   and Applydate <= @IssueDate
					 order by Applydate desc
					
	            END
	            ELSE
	            BEGIN

					--Commented by Ritik on 12-06-2025

				--SELECT   @Prefix = Prefix ,
				--			@Suffix = Suffix ,
				--			@Separator = Separator
				--	FROM    Prefix_Suffix
				--	WHERE   Applydate <= @IssueDate
				--			AND Page_Name = 'Material Issue'

					SELECT top 1  @Prefix = Prefix ,
							@Suffix = Suffix ,
							@Separator = Separator
					FROM    Prefix_Suffix
					WHERE   Applydate <= @IssueDate
							AND Page_Name = 'Material Issue'
							order by Applydate desc
	            END
	                    
                SET @ISSUE_ID = NEWID();
                SET @IsTransfer = CASE WHEN @PageType = 'Transfer' THEN 1 ELSE 0 END

                INSERT  INTO MaterialIssue
                        ( IssueID ,
                          CreatedBy ,
                          CreatedOn ,
                          IsDeleted ,
                          EntityID ,
                          EntryNo ,
                          IssueNo ,
                          IssueTo ,
                          Remarks ,
                          Prefix ,
                          Suffix ,
                          Separator ,
                          IssueDate ,
                          DepartmentID ,
                          IssueForOtherPurpose ,
                          SeriesID ,
                          EmployeeId
                        , PlantId
                        , FromPlantId
                        , IsTransfer
                        )
                VALUES  ( @ISSUE_ID ,
                          @CreatedBy ,
                          @CreatedOn ,
                          @IsDeleted ,
                          @EntityID ,
                          @EntryNo ,
                          @IssueNo ,
                          @IssueTo ,
                          @Remarks ,
                          @Prefix ,
                          @Suffix ,
                          @Separator ,
                          @IssueDate ,
                          @DepartmentId ,
                          @IssueForOtherPurpose ,
                          @SeriesID ,
                          @EmployeeId
                        , @POPlantId
                        , @FromPlantId
                        , (CASE WHEN @PageType = 'Transfer' THEN 1 ELSE 0 END)
                        )
 

                DECLARE MaterialIssueTransDetails CURSOR
                FOR
                    SELECT  Node.value('(SrNo )[1]', 'int') AS 'SrNo' ,
                            Node.value('(PurchaseItemId )[1]',
                                       'uniqueidentifier') AS 'PurchaseItemId' ,
                            Node.value('(Quantity )[1]', 'float') AS 'Quantity' ,
                            Node.value('(Remarks )[1]', 'varchar(max)') AS 'Remarks' ,
                            Node.query('IndentIssueXML/*') AS 'IndentIssueXML' ,
                            Node.query('BatchDetails/*') AS 'BatchDetails',
                            Node.query('CostCenterDet/*') AS 'CostCenterDet',
                            Node.query('CostCenterBatchDet/*') AS 'CostCenterBatchDet'
                    FROM    @MaterialIssueTransTable.nodes('/DocumentElement/MaterialIssueTrans')
                            AS TEMPXML ( Node )	
                OPEN MaterialIssueTransDetails;

                FETCH NEXT FROM MaterialIssueTransDetails INTO @SrNo,
                    @PurchaseItemId, @Quantity, @Remarks, @IndentIssueXML,
                    @BatchDetails,@CostCenterDet,@CostBatchDet
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
					   IF ((SELECT Stock
							 FROM   dbo.InventoryDetails
							 WHERE  PurchaseItemId = @PurchaseItemId
									AND InventoryDetails.Entity = @EntityID
									AND InventoryDetails.PlantId = @FromPlantId
						   ) < CONVERT(DECIMAL(18, 3), @Quantity)
						)
						BEGIN
							ROLLBACK TRANSACTION
							RETURN -2
						END
						
                        SET @MaterialIssueTransId = NEWID();
                    
                        INSERT  INTO MaterialIssueTrans
                                ( MaterialIssueTransId ,
                                  IssueId ,
                                  PurchaseItemId ,
                                  SrNo ,
                                  Quantity ,
                                  Remarks ,
                                  IssueTo ,
                                  IsDeleted,
								  IssueStatus
                                )
                        VALUES  ( @MaterialIssueTransId ,
                                  @ISSUE_ID ,
                                  @PurchaseItemId ,
                                  @SrNo ,
                                  @Quantity ,
                                  @Remarks ,
                                  @IssueTo ,
                                  0,
								 ( SELECT   IsIssueAsConsumed FROM     dbo.PurchaseItemMaster WHERE    PurchaseItemId = @PurchaseItemId )
                                )
                                
                                IF @IsInwardBatchWise = 0 and  CAST(@CostCenterDet as Nvarchar(MAX)) != '' and @CostCenterDet IS NOT NULL
                                BEGIN
                                  INSERT INTO [dbo].[MaterialIssueCostCenterDet]
							      ([MaterialIssueTransId]
								  ,[RawBatchId]
								  ,[CostCenterId]
								  ,[Qty])
								   SELECT
								   @MaterialIssueTransId,
								   0,
								   Node.value('(CostCenterId)[1]','int') AS 'CostCenterId',
								   Node.value('(Cost)[1]','float') AS 'Cost'
								   FROM 
								   @CostCenterDet.nodes('/DocumentElement/CostCenterDet') AS TEMPXML ( Node )
								   WHERE Node.value('(Cost)[1]','float') <> 0
                                END
                                
						DECLARE BatchDetails_Cur CURSOR
                        FOR
							SELECT  Node.value('(RawBatchId )[1]',
                                                'int') AS 'RawBatchId' ,
                                    Node.value('(IssueQty)[1]',
                                                'float') AS 'IssueQty',
                                                Node.query('CostCenterBatchDet/*') AS 'CostCenterBatchDet'
                            FROM      @BatchDetails.nodes('/DocumentElement/BatchDetails')
                                    AS TEMPXML ( Node )
                        OPEN BatchDetails_Cur;

                        FETCH NEXT FROM BatchDetails_Cur  INTO @RawBatchId,@IssueQty,@CoreCenterBatchDet
                  
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
								IF ((SELECT Qty
									 FROM   dbo.RawInwBatchWiseStock as ribw
									 WHERE  ribw.PurchaseItemId = @PurchaseItemId
											AND ribw.PlantId = @FromPlantId
											AND ribw.RawBatchId = @RawBatchId
								   ) < CONVERT(DECIMAL(18, 3), @IssueQty)
								)
								BEGIN
									ROLLBACK TRANSACTION
									RETURN -2
								END
								
								
								IF EXISTS ( Select * from RawInwBatchWiseStock where RawBatchId = @RawBatchId and PurchaseItemId = @PurchaseItemId and Status = 0)
								BEGIN
								
								    ROLLBACK TRANSACTION
									RETURN -5
								
								END

								INSERT INTO dbo.MaterialIssueBatchWise
                                ( IssueBatchId ,
                                  MaterialIssueTransId ,
                                  RawBatchId ,
                                  Quantity
                                )
                                values
								( NEWID() ,
                                  @MaterialIssueTransId ,
                                  @RawBatchId,
								  @IssueQty
                                )
        --                        IF @CoreCenterBatchDet IS NOT NULL AND CAST(@CoreCenterBatchDet as NVARCHAR(MAX)) != ''
        --                        BEGIN
        --                           INSERT INTO [dbo].[MaterialIssueCostCenterDet]
							 --     ([MaterialIssueTransId]
								--  ,[RawBatchId]
								--  ,[CostCenterId]
								--  ,[Qty])
								--   SELECT
								--   @MaterialIssueTransId,
								--   Node.value('(RawBatchId)[1]','int') AS 'RawBatchId',
								--   Node.value('(CostCenterId)[1]','int') AS 'CostCenterId',
								--   Node.value('(Qty)[1]','float') AS 'Qty'
								--   FROM 
								--   @CoreCenterBatchDet.nodes('/DocumentElement/CostCenterDet') AS TEMPXML ( Node )
								--   where
								--   Node.value('(Qty)[1]','float') <> 0
								--END
			 
                                FETCH NEXT FROM BatchDetails_Cur  INTO @RawBatchId,@IssueQty,@CoreCenterBatchDet
                            END 
                        CLOSE BatchDetails_Cur;
                        DEALLOCATE BatchDetails_Cur;
                        
                         DECLARE CostBatchDetails CURSOR
                        FOR
                            SELECT  Node.value('(RawBatchId)[1]', 'int') AS 'RawBatchId' ,
                                    Node.query('CostCenterBatchDet/*') AS 'CostCenterBatchDet'
                            FROM    @CostBatchDet.nodes('/DocumentElement/CostBatchDet')
                                    AS TEMPXML ( Node )	
                        OPEN CostBatchDetails;
                
                        FETCH NEXT FROM CostBatchDetails INTO @RawBatchId,@CoreCenterBatchDet
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
                                
                                IF @CoreCenterBatchDet IS NOT NULL AND CAST(@CoreCenterBatchDet as NVARCHAR(MAX)) != ''
                                BEGIN
                                   
                                   --DELETE FROM MaterialIssueCostCenterDet Where RawBatchId = @RawBatchId and MaterialIssueTransId = @MaterialIssueTransId
                                   
                                   INSERT INTO [dbo].[MaterialIssueCostCenterDet]
							      ([MaterialIssueTransId]
								  ,[RawBatchId]
								  ,[CostCenterId]
								  ,[Qty])
								   SELECT
								   @MaterialIssueTransId,
								   Node.value('(RawBatchId)[1]','int') AS 'RawBatchId',
								   Node.value('(CostCenterId)[1]','int') AS 'CostCenterId',
								   Node.value('(Qty)[1]','float') AS 'Qty'
								   FROM 
								   @CoreCenterBatchDet.nodes('/DocumentElement/CostCenterDet') AS TEMPXML ( Node )
								   where
								   Node.value('(Qty)[1]','float') <> 0
								END
                                      
                            FETCH NEXT FROM CostBatchDetails INTO @RawBatchId,@CoreCenterBatchDet
                            END
                            
                            CLOSE CostBatchDetails;
                        DEALLOCATE CostBatchDetails;	


						 
						--if consuption method is true that is direct then dont reduce stock of charging item
                        SET @TransactionQty = -@Quantity
						
					delete from @result
									INSERT  INTO @result
											( returnvalue
											) 
                        EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemID, -- uniqueidentifier
                            @StockToAdd = @TransactionQty, -- float
                            @Tagging = @PageType, -- varchar(50)
                            @Process = 'Insert', -- varchar(50)
                            @ConsumptionMethod = @ConsumptionMethod,
                            @ProcessCode = @ISSUE_ID, -- varchar(max)
                            @ProcessDate = @IssueDate, -- datetime
                            @UserID = @CreatedBy, -- bigint
                            @IsInwardBatchWise = @IsInwardBatchWise,
                            @BatchDetails = @BatchDetails,
                            @IfIssueForOtherPurpose = @IssueForOtherPurpose
                          , @EntityId = @EntityID
                          , @PlantId = @POPlantId
                          , @FromPlantId = @FromPlantId
						  , @IsTransfer = @IsTransfer
						
                      	IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
										
                        
                        DECLARE IssueIndent CURSOR
                        FOR
                            SELECT  Node.value('(StoreIndentTransId )[1]',
                                               'bigint') AS 'StoreIndentTransId'
                            FROM    @IndentIssueXML .nodes('/DocumentElement/IssueIndentDetail')
                                    AS TEMPXML ( Node )	
                        OPEN IssueIndent;

                        FETCH NEXT FROM IssueIndent  INTO @StoreIndentTransID
                  
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
								if(@PageType = 'Transfer')
								begin
								UPDATE  StoreIndentTrans
                                SET     MaterialTransTransId = @MaterialIssueTransId  
                                WHERE   StoreIndentTransID = @StoreIndentTransID
								end
                            else
								begin
                                UPDATE  StoreIndentTrans
                                SET     IssueTransId = @MaterialIssueTransId ,
                                        MaterialIssuedFlag = '1'
                                WHERE   StoreIndentTransID = @StoreIndentTransID
                                end
			 
                                FETCH NEXT FROM IssueIndent  INTO @StoreIndentTransID
                  
                            END 
                        CLOSE IssueIndent;
                        DEALLOCATE IssueIndent;	

                        FETCH NEXT FROM MaterialIssueTransDetails INTO @SrNo,
                            @PurchaseItemId, @Quantity, @Remarks,
                            @IndentIssueXML, @BatchDetails,@CostCenterDet,@CostBatchDet
                    END 

                CLOSE MaterialIssueTransDetails;
                DEALLOCATE MaterialIssueTransDetails;
                
                --Added By Yashvi 
                
                IF @IsSampleSeries = 1
                    BEGIN
                
                        IF EXISTS ( SELECT  Code
                                    FROM    NotificationPage
                                    WHERE   Code = 'MSI'
                                            AND Isactive = 1 )
                            BEGIN
                            
                                SET @UserXML = ( SELECT ( SELECT
                                                              UserMaster.UserId AS UserID
                                                          FROM
                                                              MaterialIssue
                                                              INNER JOIN UserMaster ON UserMaster.EmployeeId = MaterialIssue.EmployeeId
                                                          WHERE
                                                              MaterialIssue.IssueId = @ISSUE_ID
                                                        FOR
                                                          XML PATH('UserDetail') ,
                                                              TYPE
                                                        )
                                               FOR
                                                 XML PATH('') ,
                                                     ROOT('DocumentElement')
                                               )
                
                                SET @ShortDescription = 'Material has been issued to you for sample inspection against issue no ('
                                    + ISNULL(@Prefix, '') + ISNULL(@Separator,
                                                              '') + @IssueNo
                                    + ISNULL(@Separator, '') + ISNULL(@suffix,
                                                              '') + ')';
                                
                                EXEC dbo.InsertNotification @Type = 'SampleInspectionNotification', -- uniqueidentifier
                                    @Title = 'Sample Inspection', -- float
                                    @ShortDescription = @ShortDescription,
                                    @UserXML = @UserXML
                            END
                    END
                    
                IF (@PageType = 'Transfer' AND EXISTS ( SELECT  Code FROM    NotificationPage WHERE   Code = 'MTN' AND Isactive = 1 ))
                BEGIN
                
                    SET @UserXML = ( SELECT ( SELECT UserMaster.UserId AS UserID
                                              FROM MaterialIssue
                                                  INNER JOIN UserMaster ON UserMaster.EmployeeId = MaterialIssue.EmployeeId
                                              WHERE MaterialIssue.IssueId = @ISSUE_ID
                                            FOR XML PATH('UserDetail') , TYPE )
										FOR XML PATH('') , ROOT('DocumentElement')
                                   )
                    
                    DECLARE @ToPlantCode NVARCHAR(MAX) = ( SELECT PlantCode FROM PlantMaster WHERE PlantId = @POPlantId )
    
                    SET @ShortDescription = 'Material has been transferred to (' + @ToPlantCode + ').';
                    
                    EXEC dbo.InsertNotification @Type = 'MaterialTransferNotification', -- uniqueidentifier
                        @Title = 'Material Transferred', -- float
                        @ShortDescription = @ShortDescription,
                        @UserXML = @UserXML
                        , @LookUPID1 = NULL
						, @LookUPID2 = @ISSUE_ID
                END
 
                END Try 
				BEGIN CAtch
					IF @@ERROR <> 0
					BEGIN
					 ROLLBACK TRANSACTION
					  	IF CURSOR_STATUS('global','MaterialIssueTransDetails') >= -1
							 BEGIN
							  IF CURSOR_STATUS('global','MaterialIssueTransDetails') > -1
							   BEGIN
								CLOSE MaterialIssueTransDetails
							   END
							 DEALLOCATE MaterialIssueTransDetails
							END	
						IF CURSOR_STATUS('global','IssueIndent') >= -1
							 BEGIN
							  IF CURSOR_STATUS('global','IssueIndent') > -1
							   BEGIN
								CLOSE IssueIndent
							   END
							 DEALLOCATE IssueIndent
							END
						IF CURSOR_STATUS('global','BatchDetails_Cur') >= -1
							BEGIN
							IF CURSOR_STATUS('global','BatchDetails_Cur') > -1
							BEGIN
							CLOSE BatchDetails_Cur
							END
							DEALLOCATE BatchDetails_Cur
						END	
					 return -1 
					END	
				END Catch
                
            COMMIT TRANSACTION
			
            RETURN 1		
            END

        ELSE IF @parameter = 2
        BEGIN 
            SELECT  ROW_NUMBER() OVER ( ORDER BY IssueDate DESC ) AS [Sr NO] ,
                    MaterialIssue.IssueId ,
                    MaterialIssue.IssueNo ,
                    MaterialIssue.EntryNo ,
                    MaterialIssue.IssueDate ,
                    -- IssueTo ,
                    ( EmployeeDetails.EmployeeName + '('
                        + EmployeeDetails.EmployeeCode + ')' ) AS IssueTo ,
                    --IssueDepartment ,
                    ISNULL(SystemDepartment.DepartmentName, '') AS IssueDepartment ,
                    ISNULL(MaterialIssue.DepartmentID,
                            CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)) AS DepartmentID ,
                    Remarks ,
                    '' AS BatchDetails ,
                    IssueForOtherPurpose ,
                    SeriesID ,
                    MaterialIssue.EmployeeId
                    , MaterialIssue.PlantId
                    , MaterialIssue.FromPlantId
                    , pmTo.PlantName AS ToPlantName
                    , pmFrom.PlantName AS FromPlantName
                    ,CONVERT(Nvarchar,MaterialIssue.ModifiedOn,20) as ModifiedOn
            FROM    MaterialIssue
                    INNER JOIN dbo.EmployeeDetails ON dbo.EmployeeDetails.EmployeeId = dbo.MaterialIssue.EmployeeId
                    LEFT JOIN SystemDepartment ON SystemDepartment.DepartmentID = MaterialIssue.DepartmentID
                    LEFT JOIN PlantMaster AS pmTo ON pmTo.PlantId = ISNULL(MaterialIssue.PlantId, 0)
                    LEFT JOIN PlantMaster AS pmFrom ON pmFrom.PlantId = ISNULL(MaterialIssue.FromPlantId, 0)				
            WHERE   ( MaterialIssue.IsDeleted = 0 )
                    AND ( @IssueId IS NULL
                            OR MaterialIssue.IssueId = @IssueId
                        )
            ORDER BY IssueDate DESC
        END

        ELSE IF @parameter = 3						 
            BEGIN
                BEGIN TRANSACTION
                begin try
                
                IF Exists (select * from MaterialIssue where IsDeleted = 1 and IssueId = @IssueId)
                begin
                   ROLLBACK TRANSACTION
					              RETURN -3
                end
                
                UPDATE  MaterialIssue
                SET     IsDeleted = @IsDeleted ,
                        DeletedBy = @DeletedBY ,
                        DeletedOn = @DeletedOn
                WHERE   ( IssueId = @IssueId )
                             
                SELECT TOP ( 1 )
                        @ProcessDate = MaterialIssue.IssueDate ,
                        @IssueForOtherPurpose = IssueForOtherPurpose
                      , @EntityID = EntityID
                      , @POPlantId = PlantId
                      , @FromPlantId = FromPlantId
					  , @IsTransfer = IsTransfer
                FROM    MaterialIssue
                WHERE   ( IssueId = @IssueId )                
                                   
                WHILE ( EXISTS ( SELECT MaterialIssueTransId ,
                                        PurchaseItemId ,
                                        Quantity,
										IssueStatus
                                 FROM   dbo.MaterialIssueTrans
                                 WHERE  ( IssueId = @IssueId )
                                        AND IsDeleted = 0 ) )
                    BEGIN			
                        SELECT TOP ( 1 )
                                @MaterialIssueTransId = MaterialIssueTransId ,
                                @PurchaseItemId = PurchaseItemId ,
                                @TransactionQty = Quantity,
								@IssueStatus  = IssueStatus
                        FROM    dbo.MaterialIssueTrans
                        WHERE   ( IssueId = @IssueId )
									AND IsDeleted = 0

						set	@IsIssueAsConsumed = (select IsIssueAsConsumed from PurchaseItemMaster where PurchaseItemId = @PurchaseItemId)

                      if(@IsIssueAsConsumed != @IssueStatus)
					  Begin 
					      ROLLBACK TRANSACTION
					              RETURN -4
					  End 

                        SET @BatchDetails = ( SELECT    ( SELECT
                                                              RawBatchNo ,
                                                              MaterialIssueBatchWise.RawBatchId ,
                                                              Quantity AS TransactionQty
                                                          FROM
                                                              dbo.MaterialIssueBatchWise
                                                              INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.MaterialIssueBatchWise.RawBatchId
                                                          WHERE
                                                              MaterialIssueTransId = @MaterialIssueTransId
                                                        FOR
                                                          XML PATH('BatchDetails') ,
                                                              TYPE
                                                        )
                                            FOR
                                              XML PATH('') ,
                                                  ROOT('DocumentElement')
                                            )

                        DECLARE DeleteBatchDetails CURSOR
                        FOR
                            SELECT  Node.value('(RawBatchId )[1]', 'int') AS 'RawBatchId' ,
                                    Node.value('(TransactionQty )[1]', 'float') AS 'TransactionQty'
                            FROM    @BatchDetails.nodes('/DocumentElement/BatchDetails')
                                    AS TEMPXML ( Node )	
                        OPEN DeleteBatchDetails;
                
                        FETCH NEXT FROM DeleteBatchDetails INTO @RawBatchId,@DeleteBatchTransactionQty
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
								IF(@PageType = 'Issue' and @IssueForOtherPurpose = 0
									and isnull((select 1 from PurchaseItemMaster 
									Where PurchaseItemMaster.PurchaseItemId = @PurchaseItemId and IsIssueAsConsumed = 0),0) = 1)
								BEGIN
									IF((CONVERT(DECIMAL(18, 3), @DeleteBatchTransactionQty)) > (SELECT	Stock FROM FloorBatchWiseStock as fbws
														WHERE	PurchaseItemId = @PurchaseItemID
																AND fbws.RawBatchId = @RawBatchId
																AND fbws.PlantId = @POPlantId
														)
									)
									BEGIN
										ROLLBACK TRANSACTION
										RETURN -2;
									END
                                END 
                    
                            DELETE FROM MaterialIssueCostCenterDet Where RawBatchId = @RawBatchId and MaterialIssueTransId = @MaterialIssueTransId
                            
                            
                            FETCH NEXT FROM DeleteBatchDetails INTO @RawBatchId,@DeleteBatchTransactionQty
                            END
                            
                            CLOSE DeleteBatchDetails;
                        DEALLOCATE DeleteBatchDetails;

						IF(@PageType = 'Issue' and @IssueForOtherPurpose = 0	
							and isnull((select 1 from purchaseitemmaster 
							where purchaseitemmaster.purchaseitemid = @purchaseitemid and isissueasconsumed = 0),0) = 1)
                        BEGIN
							IF((CONVERT(DECIMAL(18, 3), @TransactionQty)) > (SELECT	Stock FROM FloorInventoryDetails 
													WHERE	PurchaseItemId = @PurchaseItemID
															AND FloorInventoryDetails.Entity = @EntityID
															AND FloorInventoryDetails.PlantId = @POPlantId
													)
							)
							BEGIN
								ROLLBACK TRANSACTION
								RETURN -2;
							END
						END

						
							delete from @result
									INSERT  INTO @result
											( returnvalue
											)
						   
							EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemID, -- uniqueidentifier
                            @StockToAdd = @TransactionQty, -- float
                            @Tagging = @PageType, -- varchar(50)
                            @Process = 'Delete', -- varchar(50)
                            @ConsumptionMethod = @ConsumptionMethod,
                            @ProcessCode = @IssueId, -- varchar(max)
                            @ProcessDate = @ProcessDate, -- datetime
                            @UserID = @Deletedby, -- bigint
                            @IsInwardBatchWise = @IsInwardBatchWise,
                            @BatchDetails = @BatchDetails,
                            @IfIssueForOtherPurpose = @IssueForOtherPurpose
                          , @EntityId = @EntityID
                          , @PlantId = @POPlantId
                          , @FromPlantId = @FromPlantId
						  , @IsTransfer = @IsTransfer
                       
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
                        DELETE  FROM dbo.MaterialIssueBatchWise
                        WHERE   MaterialIssueTransId = @MaterialIssueTransId
                                AND @RawBatchId = @RawBatchId
                                
                      
                
                        UPDATE  dbo.MaterialIssueTrans
                        SET     IsDeleted = 1
                        WHERE   ( MaterialIssueTransId = @MaterialIssueTransId )
                        
                     
                    END
                    BEGIN
						if(@PageType = 'Transfer')
								begin
								 
									UPDATE StoreIndentTrans SET MaterialTransTransId = NULL WHERE MaterialTransTransId  IN (
										SELECT MaterialIssueTransId FROM MaterialIssueTrans WHERE IssueId = @IssueId
									)
								end
                            else
								begin
								UPDATE StoreIndentTrans SET MaterialIssuedFlag = 0, IssueTransId = NULL WHERE IssueTransId IN (
									SELECT MaterialIssueTransId FROM MaterialIssueTrans WHERE IssueId = @IssueId
								)	
                                end 
                                
						
					END
                    
			END Try 
				BEGIN CAtch
					IF @@ERROR <> 0
					BEGIN
					 ROLLBACK TRANSACTION					  
					 return -1
					END	
				END Catch
                COMMIT TRANSACTION
                return 1 
            END
		
        ELSE IF @parameter = 4--Update						
        BEGIN
			BEGIN TRANSACTION
			BEGIN try
                SELECT top 1  @Prefix = Prefix ,
							@Suffix = Suffix ,
							@Separator = Separator
                FROM    Prefix_Suffix
                WHERE   Applydate <= @issueDate
                        AND Invoice_SeriesId = @SeriesID
						order by Applydate desc
                
               
                IF @ModifiedDateTime IS NOT NULL OR @ModifiedDateTime <> ''
                begin
                
                IF EXISTS (select * from MaterialIssue Where IssueId = @IssueId and CAST(ModifiedOn as Nvarchar(50)) <> @ModifiedDateTime)
                begin
                 Rollback Transaction
                 Return -3
                end
                
                end

				SET @IsTransfer = CASE WHEN @PageType = 'Transfer' THEN 1 ELSE 0 END

                UPDATE  MaterialIssue
                SET     issueDate = @IssueDate ,
                        IssueTo = @IssueTo ,
                        DepartmentID = @DepartmentId ,
                        Remarks = @Remarks ,
                        ModifiedBy = @Modified_By ,
                        ModifiedOn = @Modified_On ,
                        IssueNo = @IssueNo ,
                        EntryNo = @EntryNo ,
                        EmployeeId = @EmployeeId
                      , PlantId = @POPlantId
                      , FromPlantId = @FromPlantId,
					    Prefix = @Prefix,
						Separator = @Separator,
						Suffix = @Suffix
                WHERE   ( IssueId = @IssueId )

             

                DECLARE MaterialIssueTransDetails CURSOR
                FOR
                    SELECT  Node.value('(SrNo )[1]', 'int') AS 'SrNo' ,
                            Node.value('(MaterialIssueTransId )[1]',
                                       'uniqueidentifier') AS 'MaterialIssueTransId' ,
                            Node.value('(PurchaseItemId )[1]',
                                       'uniqueidentifier') AS 'PurchaseItemId' ,
                            Node.value('(Quantity )[1]', 'float') AS 'Quantity' ,
                            Node.value('(TransactionQty )[1]', 'float') AS 'TransactionQty' ,
                            Node.value('(Remarks )[1]', 'varchar(max)') AS 'Remarks' ,
                            Node.query('IndentIssueXML/*') AS 'IndentIssueXML' ,
                            Node.query('BatchDetails/*') AS 'BatchDetails',
                            Node.query('CostCenterDet/*') AS 'CostCenterDet',
                            Node.query('CostCenterBatchDet/*') AS 'CostCenterBatchDet'
                    FROM    @MaterialIssueTransTable.nodes('/DocumentElement/MaterialIssueTrans')
                            AS TEMPXML ( Node )	
                OPEN MaterialIssueTransDetails;

                FETCH NEXT FROM MaterialIssueTransDetails INTO @SrNo,
                    @MaterialIssueTransId, @PurchaseItemId, @Quantity,
                    @TransactionQty, @Remarks, @IndentIssueXML, @BatchDetails, @CostCenterDet,@CostBatchDet
                
               
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                    
                    
                    
                        IF Exists(select * from MaterialIssueTrans where IsDeleted = 1 and MaterialIssueTransId = @MaterialIssueTransId and IssueId = @IssueId )
                        begin
                          ROLLBACK TRANSACTION
								RETURN -4;
                        end
                        
      --                  IF ((SELECT Stock
						--	 FROM   dbo.InventoryDetails
						--	 WHERE  PurchaseItemId = @PurchaseItemId
						--			AND InventoryDetails.Entity = @EntityID
						--			AND InventoryDetails.PlantId = @FromPlantId
						--   ) < CONVERT(DECIMAL(18, 3), @Quantity)
						--)
						--BEGIN
						--	ROLLBACK TRANSACTION
						--	RETURN -2
						--END
						
						
                        
                        IF ( EXISTS ( SELECT    *
                                      FROM      dbo.MaterialIssueTrans
                                      WHERE     MaterialIssueTransId = @MaterialIssueTransId
                                                AND IsDeleted = 0 ) )
                            BEGIN
                                UPDATE  MaterialIssueTrans
                                SET     SrNo = @SrNo ,
                                        Quantity = @Quantity ,
                                        IssueTo = @IssueTo ,
                                        IssueDate = @IssueDate , 
 
                                        Remarks = @Remarks--,
								--		IssueStatus =  ( SELECT   IsIssueAsConsumed FROM     dbo.PurchaseItemMaster WHERE    PurchaseItemId = @PurchaseItemId )
                                WHERE   MaterialIssueTransId = @MaterialIssueTransId
                                
                                IF EXISTS (select * from MaterialIssueCostCenterDet where MaterialIssueTransId = @MaterialIssueTransId)
                                BEGIN
                                IF @IsInwardBatchWise = 0 and  CAST(@CostCenterDet as Nvarchar(MAX)) != '' and @CostCenterDet IS NOT NULL
                                BEGIN
                                  DELETE FROM MaterialIssueCostCenterDet where MaterialIssueTransId = @MaterialIssueTransId
                                  INSERT INTO [dbo].[MaterialIssueCostCenterDet]
							      ([MaterialIssueTransId]
								  ,[RawBatchId]
								  ,[CostCenterId]
								  ,[Qty])
								   SELECT
								   @MaterialIssueTransId,
								   0,
								   Node.value('(CostCenterId)[1]','int') AS 'CostCenterId',
								   Node.value('(Cost)[1]','float') AS 'Cost'
								   FROM 
								   @CostCenterDet.nodes('/DocumentElement/CostCenterDet') AS TEMPXML ( Node )
								    WHERE Node.value('(Cost)[1]','float') <> 0
                                END 
                                END
                                
                                       if(@PageType = 'Transfer')
												begin 
													UPDATE  StoreIndentTrans
													SET     MaterialTransTransId = null --  CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) 
													WHERE   MaterialTransTransId  = @MaterialIssueTransId
												end
											else
												begin
													UPDATE  StoreIndentTrans
													SET     IssueTransId = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) ,
															MaterialIssuedFlag = '0'
													WHERE   IssueTransId = @MaterialIssueTransId
									    end 
												
                                
                                DECLARE IssueIndent CURSOR
                                FOR
                                    SELECT  Node.value('(StoreIndentTransId )[1]',
                                                       'bigint') AS 'StoreIndentTransId'
                                    FROM    @IndentIssueXML .nodes('/DocumentElement/IssueIndentDetail')
                                            AS TEMPXML ( Node )	
                                OPEN IssueIndent;

                                FETCH NEXT FROM IssueIndent  INTO @StoreIndentTransID
                  
                                WHILE ( @@FETCH_STATUS = 0 )
                                    BEGIN
										if(@PageType = 'Transfer')
												begin
												UPDATE  StoreIndentTrans
												SET     MaterialTransTransId = @MaterialIssueTransId  
												WHERE   StoreIndentTransID = @StoreIndentTransID
												end
											else
												begin
													 UPDATE  StoreIndentTrans
														SET     IssueTransId = @MaterialIssueTransId ,
																MaterialIssuedFlag = '1'
														WHERE   StoreIndentTransID = @StoreIndentTransID
												end   
			                
                                    
                                        FETCH NEXT FROM IssueIndent  INTO @StoreIndentTransID
                                    END 
                                CLOSE IssueIndent;
                                DEALLOCATE IssueIndent;	
                            END
                        ELSE
                            BEGIN
                                SET @MaterialIssueTransId = NEWID();
                            
                                INSERT  INTO MaterialIssueTrans
                                        ( MaterialIssueTransId ,
                                          IssueId ,
                                          PurchaseItemId ,
                                          SrNo ,
                                          Quantity ,
                                          IssueTo ,
                                          IssueDate ,
                                          Remarks ,
                                          IsDeleted  ,
										  IssueStatus
                                        )
                                VALUES  ( @MaterialIssueTransId ,
                                          @IssueId ,
                                          @PurchaseItemId ,
                                          @SrNo ,
                                          @Quantity ,
                                          @IssueTo ,
                                          @IssueDate ,
                                          @Remarks ,
                                          0,
										   ( SELECT   IsIssueAsConsumed FROM     dbo.PurchaseItemMaster WHERE    PurchaseItemId = @PurchaseItemId )
                                        )
                                        
                                IF @IsInwardBatchWise = 0 and  CAST(@CostCenterDet as Nvarchar(MAX)) != '' and @CostCenterDet IS NOT NULL
                                BEGIN
                                  INSERT INTO [dbo].[MaterialIssueCostCenterDet]
							      ([MaterialIssueTransId]
								  ,[RawBatchId]
								  ,[CostCenterId]
								  ,[Qty])
								   SELECT
								   @MaterialIssueTransId,
								   0,
								   Node.value('(CostCenterId)[1]','int') AS 'CostCenterId',
								   Node.value('(Cost)[1]','float') AS 'Cost'
								   FROM 
								   @CostCenterDet.nodes('/DocumentElement/CostCenterDet') AS TEMPXML ( Node )
								    WHERE Node.value('(Cost)[1]','float') <> 0
                                END
                                    
                                DECLARE IssueIndent CURSOR
                                FOR
                                    SELECT  Node.value('(StoreIndentTransId )[1]',
                                                       'bigint') AS 'StoreIndentTransId'
                                    FROM    @IndentIssueXML .nodes('/DocumentElement/IssueIndentDetail')
                                            AS TEMPXML ( Node )	
                                OPEN IssueIndent;

                                FETCH NEXT FROM IssueIndent  INTO @StoreIndentTransID
                  
                                WHILE ( @@FETCH_STATUS = 0 )
                                    BEGIN
											if(@PageType = 'Transfer')
												begin
												UPDATE  StoreIndentTrans
												SET     MaterialTransTransId = @MaterialIssueTransId  
												WHERE   StoreIndentTransID = @StoreIndentTransID
												end
											else
												begin
												UPDATE  StoreIndentTrans
												SET     IssueTransId = @MaterialIssueTransId ,
														MaterialIssuedFlag = '1'
												WHERE   StoreIndentTransID = @StoreIndentTransID
												end 
                                 
                                        FETCH NEXT FROM IssueIndent  INTO @StoreIndentTransID
                  
                                    END 
                                CLOSE IssueIndent;
                                DEALLOCATE IssueIndent;	
                            END
                                 
                        DECLARE BatchDetails CURSOR
                        FOR
                            SELECT  Node.value('(RawBatchId )[1]', 'int') AS 'RawBatchId' ,
                                    Node.value('(IssueQty )[1]', 'float') AS 'IssueQty' ,
									Node.value('(TransactionQty )[1]', 'float') AS 'TransactionQty' ,
                                    Node.value('(RawBatchNo )[1]',
                                               'varchar(50)') AS 'RawBatchNo' ,
                                    Node.value('(IssueBatchId )[1]',
                                               'uniqueidentifier') AS 'IssueBatchId'
                            FROM    @BatchDetails.nodes('/DocumentElement/BatchDetails')
                                    AS TEMPXML ( Node )	
                        OPEN BatchDetails;
                
                        FETCH NEXT FROM BatchDetails INTO @RawBatchId,
                            @IssueQty, @BatchTransactionQty,
                            @RawBatchNo, @IssueBatchId
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
								IF(@IssueBatchId IS NULL OR @IssueBatchId = CAST(0x0 AS uniqueidentifier))
								BEGIN
									SET @BatchTransactionQty = 0;
								END
								
								IF @BatchTransactionQty < 0
								BEGIN
								IF Exists(Select 
								*
								from 
								RawInwBatchWiseStock R
								where
							    R.RawBatchId = @RawBatchId
								and
								R.PlantId = @FromPlantId
								and
								(ABS(@BatchTransactionQty)) > R.Qty)
								begin
								  ROLLBACK TRANSACTION
								   RETURN -2;
								end
								END
								
								IF EXISTS ( Select * from RawInwBatchWiseStock where RawBatchId = @RawBatchId and Status = 0)
								BEGIN
								
								    ROLLBACK TRANSACTION
									RETURN -5
								
								END
								
								IF(@PageType = 'Issue' and @IssueForOtherPurpose = 0
									and isnull((select 1 from PurchaseItemMaster 
							       Where PurchaseItemMaster.PurchaseItemId = @PurchaseItemId and IsIssueAsConsumed = 0),0) = 1)
								BEGIN

									--IF( ((@BatchTransactionQty > 0) 
									--		AND ((CONVERT(DECIMAL(18, 3), @BatchTransactionQty)) > (
									--												SELECT	Stock FROM FloorBatchWiseStock as fbws 
									--												WHERE	fbws.PurchaseItemId = @PurchaseItemID
									--														AND fbws.RawBatchId = @RawBatchId
									--														AND fbws.PlantId = @POPlantId
									--											 )
									--		)
									--	)
									--	OR ((@BatchTransactionQty < 0) 
									--		AND ( - CONVERT(DECIMAL(18, 3), @BatchTransactionQty)) > (
									--												SELECT	Qty FROM RawInwBatchWiseStock as ribw
									--												WHERE	ribw.PurchaseItemId = @PurchaseItemID
									--														AND ribw.RawBatchId = @RawBatchId
									--														AND ribw.PlantId = @FromPlantId
									--											)
									--		)
									--)
									--BEGIN
									--	ROLLBACK TRANSACTION
									--	RETURN -2;
									--END
									
								IF @BatchTransactionQty > 0
								BEGIN
								IF Exists(Select 
								*
								from 
								FloorBatchWiseStock R
								where
							    R.RawBatchId = @RawBatchId
								and
								R.PlantId = @POPlantId
								and
								@BatchTransactionQty > R.Stock)
								begin
								  ROLLBACK TRANSACTION
								   RETURN -2;
								end
								END

								END
                            IF ( EXISTS ( SELECT    *
                                            FROM      dbo.MaterialIssueBatchWise
                                            WHERE     IssueBatchId = @IssueBatchId ) )
                                BEGIN
                                    UPDATE  dbo.MaterialIssueBatchWise
                                    SET     Quantity = @IssueQty
                                    WHERE   IssueBatchId = @IssueBatchId
                                END
                            ELSE
                                BEGIN
                                    INSERT  INTO dbo.MaterialIssueBatchWise
                                            ( IssueBatchId ,
                                                MaterialIssueTransId ,
                                                RawBatchId ,
                                                Quantity
                                            )
                                    VALUES  ( NEWID() ,
                                                @MaterialIssueTransId , -- 
                                                @RawBatchId , -- BatchId - int
                                                @IssueQty -- Quantity - float
                                            )
                                END
                                
                                 

                                
                                      
                            FETCH NEXT FROM BatchDetails INTO @RawBatchId,
                                @IssueQty, @BatchTransactionQty, 
                                @RawBatchNo, @IssueBatchId
                            END
                            
                            CLOSE BatchDetails;
                        DEALLOCATE BatchDetails;
                        
                        
                        

                        DELETE FROM MaterialIssueCostCenterDet Where  MaterialIssueTransId = @MaterialIssueTransId
                        DECLARE CostBatchDetails CURSOR
                        FOR
                            SELECT  Node.value('(RawBatchId )[1]', 'int') AS 'RawBatchId' ,
                                    Node.query('CostCenterBatchDet/*') AS 'CostCenterBatchDet'
                            FROM    @CostBatchDet.nodes('/DocumentElement/CostBatchDet')
                                    AS TEMPXML ( Node )	
                        OPEN CostBatchDetails;
                
                        FETCH NEXT FROM CostBatchDetails INTO @RawBatchId,@CoreCenterBatchDet
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
                                
                                IF @CoreCenterBatchDet IS NOT NULL AND CAST(@CoreCenterBatchDet as NVARCHAR(MAX)) != ''
                                BEGIN
                                   
                                   
                                   
                                   INSERT INTO [dbo].[MaterialIssueCostCenterDet]
							      ([MaterialIssueTransId]
								  ,[RawBatchId]
								  ,[CostCenterId]
								  ,[Qty])
								   SELECT
								   @MaterialIssueTransId,
								   Node.value('(RawBatchId)[1]','int') AS 'RawBatchId',
								   Node.value('(CostCenterId)[1]','int') AS 'CostCenterId',
								   Node.value('(Qty)[1]','float') AS 'Qty'
								   FROM 
								   @CoreCenterBatchDet.nodes('/DocumentElement/CostCenterDet') AS TEMPXML ( Node )
								   where
								   Node.value('(Qty)[1]','float') <> 0
								END
                                      
                            FETCH NEXT FROM CostBatchDetails INTO @RawBatchId,@CoreCenterBatchDet
                            END
                            
                            CLOSE CostBatchDetails;
                        DEALLOCATE CostBatchDetails;
                        
                        IF(@PageType = 'Transfer')
                        BEGIN
							IF( (@Quantity > @TransactionQty) 
									AND ((CONVERT(DECIMAL(18, 3), @Quantity) - CONVERT(DECIMAL(18, 3), @TransactionQty)) > (
																			SELECT	Stock FROM InventoryDetails 
																			WHERE	PurchaseItemId = @PurchaseItemID
																					AND InventoryDetails.Entity = @EntityID
																					AND InventoryDetails.PlantId = @FromPlantId
																		)
									)
							)
							BEGIN
								ROLLBACK TRANSACTION
								RETURN -2;
							END
                        END
                        ELSE IF(@PageType = 'Issue' and @IssueForOtherPurpose = 0
							and isnull((select 1 from PurchaseItemMaster 
							Where PurchaseItemMaster.PurchaseItemId = @PurchaseItemId and IsIssueAsConsumed = 0),0) = 1)
                        BEGIN
							IF( ((@Quantity < @TransactionQty) 
									AND ((CONVERT(DECIMAL(18, 3), @TransactionQty) - CONVERT(DECIMAL(18, 3), @Quantity)) > (
																			SELECT	Stock FROM FloorInventoryDetails 
																			WHERE	PurchaseItemId = @PurchaseItemID
																					AND FloorInventoryDetails.Entity = @EntityID
																					AND FloorInventoryDetails.PlantId = @POPlantId
																		 )
									)
								)
								OR ((@Quantity > @TransactionQty) 
									AND ((CONVERT(DECIMAL(18, 3), @Quantity) - CONVERT(DECIMAL(18, 3), @TransactionQty)) > (
																			SELECT	Stock FROM InventoryDetails 
																			WHERE	PurchaseItemId = @PurchaseItemID
																					AND InventoryDetails.Entity = @EntityID
																					AND InventoryDetails.PlantId = @FromPlantId
																		)
									)
								)
							)
							BEGIN
								ROLLBACK TRANSACTION
								RETURN -2;
							END
						END
						

                        SET @Quantity = @TransactionQty - @Quantity		
							delete from @result
									INSERT  INTO @result
											( returnvalue
											)
                        EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemID, -- uniqueidentifier
                            @StockToAdd = @Quantity, -- float
                            @Tagging = @PageType, -- varchar(50)
                            @Process = 'Edit', -- varchar(50)
                            @ConsumptionMethod = @ConsumptionMethod,
                            @ProcessCode = @IssueId, -- varchar(max)
                            @ProcessDate = @IssueDate, -- datetime
                            @UserID = @Modified_By,-- bigint
                            @IsInwardBatchWise = @IsInwardBatchWise,
                            @RawBatchNo = @RawBatchNo,
                            @BatchDetails = @BatchDetails,
                            @IfIssueForOtherPurpose = @IssueForOtherPurpose
                          , @EntityId = @EntityID
                          , @PlantId = @POPlantId
                          , @FromPlantId = @FromPlantId
						  , @IsTransfer = @IsTransfer
                       
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
										
                        FETCH NEXT FROM MaterialIssueTransDetails INTO @SrNo,
                            @MaterialIssueTransId, @PurchaseItemId, @Quantity,
                            @TransactionQty, @Remarks, @IndentIssueXML,
                            @BatchDetails, @CostCenterDet,@CostBatchDet
                            
                    END
                
                CLOSE MaterialIssueTransDetails;
				DEALLOCATE MaterialIssueTransDetails;
						
                DECLARE MaterialIssueTransDelete CURSOR
                FOR
                    SELECT  Node.value('(MaterialIssueTransId )[1]',
                                       'uniqueidentifier') AS 'MaterialIssueTransId'
                    FROM    @MaterialIssueTransDeleteTable.nodes('/DocumentElement/MaterialIssueTrans')
                            AS TEMPXML ( Node )	
                OPEN MaterialIssueTransDelete;

                FETCH NEXT FROM MaterialIssueTransDelete INTO @MaterialIssueTransId
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                        SELECT  @PurchaseItemId = PurchaseItemId ,
                                @TransactionQty = Quantity
                        FROM    dbo.MaterialIssueTrans
                        WHERE   ( MaterialIssueTransId = @MaterialIssueTransId )
                                --AND IsDeleted = 0
                                
						        IF @IsInwardBatchWise = 0
                                BEGIN
                                IF EXISTS(select * from MaterialIssueCostCenterDet where MaterialIssueTransId = @MaterialIssueTransId)
                                BEGIN
                                  DELETE FROM MaterialIssueCostCenterDet where MaterialIssueTransId = @MaterialIssueTransId
                                END
                                END
                            
                        SET @BatchDetails = ( SELECT    ( SELECT
                                                              RawBatchNo ,
                                                              MaterialIssueBatchWise.RawBatchId ,
                                                              Quantity AS TransactionQty
                                                          FROM
                                                              dbo.MaterialIssueBatchWise
                                                              INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.MaterialIssueBatchWise.RawBatchId
                                                          WHERE
                                                              MaterialIssueTransId = @MaterialIssueTransId
                                                        FOR
                                                          XML PATH('BatchDetails') ,
                                                              TYPE
                                                        )
                                            FOR
                                              XML PATH('') ,
                                                  ROOT('DocumentElement')
                                            )
                   
						
						DECLARE DeleteBatchDetails CURSOR
                        FOR
                            SELECT  Node.value('(RawBatchId )[1]', 'int') AS 'RawBatchId' ,
                                    Node.value('(TransactionQty )[1]', 'float') AS 'TransactionQty'
                            FROM    @BatchDetails.nodes('/DocumentElement/BatchDetails')
                                    AS TEMPXML ( Node )	
                        OPEN DeleteBatchDetails;
                
                        FETCH NEXT FROM DeleteBatchDetails INTO @RawBatchId,@DeleteBatchTransactionQty
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
								IF((CONVERT(DECIMAL(18, 3), @DeleteBatchTransactionQty)) > (SELECT	Stock FROM FloorBatchWiseStock as fbws
													WHERE	PurchaseItemId = @PurchaseItemID
															AND fbws.RawBatchId = @RawBatchId
															AND fbws.PlantId = @POPlantId
													)

								)
								BEGIN
									ROLLBACK TRANSACTION
									RETURN -2;
								END
								
								 DELETE FROM MaterialIssueCostCenterDet Where RawBatchId = @RawBatchId and MaterialIssueTransId = @MaterialIssueTransId
                                      
                            FETCH NEXT FROM DeleteBatchDetails INTO @RawBatchId,@DeleteBatchTransactionQty
                            END
                            
                            CLOSE DeleteBatchDetails;
                        DEALLOCATE DeleteBatchDetails;

                        
                        IF(@PageType = 'Issue' and @IssueForOtherPurpose = 0
							 and isnull((select 1 from PurchaseItemMaster 
							Where PurchaseItemMaster.PurchaseItemId = @PurchaseItemId and IsIssueAsConsumed = 0),0) = 1)
                        BEGIN
							IF((CONVERT(DECIMAL(18, 3), @TransactionQty)) > (SELECT	Stock FROM FloorInventoryDetails 
													WHERE	PurchaseItemId = @PurchaseItemID
															AND FloorInventoryDetails.Entity = @EntityID
															AND FloorInventoryDetails.PlantId = @POPlantId
													)
							)
							BEGIN
								ROLLBACK TRANSACTION
								RETURN -2;
							END
						END
                        	delete from @result
									INSERT  INTO @result
											( returnvalue
											)
						    EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemID, -- uniqueidentifier
                            @StockToAdd = @TransactionQty, -- float
                            @Tagging = @PageType, -- varchar(50)
                            @Process = 'Delete', -- varchar(50)
                            @ConsumptionMethod = @ConsumptionMethod,
                            @ProcessCode = @IssueId, -- varchar(max)
                            @ProcessDate = @IssueDate, -- datetime
                            @UserID = @Modified_By, -- bigint
                            @IsInwardBatchWise = @IsInwardBatchWise,
                            @BatchDetails = @BatchDetails,
                            @IfIssueForOtherPurpose = @IssueForOtherPurpose
                          , @EntityId = @EntityID
                          , @PlantId = @POPlantId
                          , @FromPlantId = @FromPlantId	
						  , @IsTransfer = @IsTransfer
                   
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
										
							
                   
                        DELETE  FROM dbo.MaterialIssueBatchWise
                        WHERE   MaterialIssueTransId = @MaterialIssueTransId
                        
                        UPDATE  dbo.MaterialIssueTrans
                        SET         IsDeleted = 1
                        WHERE   ( MaterialIssueTransId = @MaterialIssueTransId )
                        
                        BEGIN
                        
                        if(@PageType = 'Transfer')
								begin
									UPDATE StoreIndentTrans SET MaterialTransTransId = NULL 
									WHERE MaterialTransTransId = @MaterialIssueTransId
								end
                            else
								begin
										UPDATE StoreIndentTrans SET MaterialIssuedFlag = 0, IssueTransId = NULL 
										WHERE IssueTransId = @MaterialIssueTransId
                                end 
                                 
						END

                        FETCH NEXT FROM MaterialIssueTransDelete INTO @MaterialIssueTransId
                         
                    END
                
                CLOSE MaterialIssueTransDelete;
				DEALLOCATE MaterialIssueTransDelete;
				
				END Try 
				BEGIN CAtch
					IF @@ERROR <> 0
					BEGIN
					 ROLLBACK TRANSACTION
						IF CURSOR_STATUS('global','MaterialIssueTransDetails') >= -1
							 BEGIN
							  IF CURSOR_STATUS('global','MaterialIssueTransDetails') > -1
							   BEGIN
								CLOSE MaterialIssueTransDetails
							   END
							 DEALLOCATE MaterialIssueTransDetails
							END	
						IF CURSOR_STATUS('global','IssueIndent') >= -1
							 BEGIN
							  IF CURSOR_STATUS('global','IssueIndent') > -1
							   BEGIN
								CLOSE IssueIndent
							   END
							 DEALLOCATE IssueIndent
							END	
						IF CURSOR_STATUS('global','BatchDetails') >= -1
							 BEGIN
							  IF CURSOR_STATUS('global','BatchDetails') > -1
							   BEGIN
								CLOSE BatchDetails
							   END
							 DEALLOCATE BatchDetails
							END	
						IF CURSOR_STATUS('global','DeleteBatchDetails') >= -1
							 BEGIN
							  IF CURSOR_STATUS('global','DeleteBatchDetails') > -1
							   BEGIN
								CLOSE DeleteBatchDetails
							   END
							 DEALLOCATE DeleteBatchDetails
							END	
						IF CURSOR_STATUS('global','MaterialIssueTransDelete') >= -1
							 BEGIN
							  IF CURSOR_STATUS('global','MaterialIssueTransDelete') > -1
							   BEGIN
								CLOSE MaterialIssueTransDelete
							   END
							 DEALLOCATE MaterialIssueTransDelete
							END	 

					 return -1
					END	
				END Catch
				COMMIT TRANSACTION
				RETURN 1
            END

        ELSE IF @parameter = 5						-- Fetch Stock from Inventory Details
            BEGIN

                SELECT  StockId ,
                        Stock
                FROM    InventoryDetails
                WHERE   ( PurchaseItemId = @PurchaseItemId )
						AND InventoryDetails.Entity = @EntityID
						AND InventoryDetails.PlantId = @POPlantId

            END

        ELSE IF @parameter = 6						-- Fetch Item Code from Purchased Item 
            BEGIN

                SELECT  PurchaseItemMaster.PurchaseItemId ,
                        PurchaseItemMaster.ItemName ,
                        PurchaseItemMaster.ItemCode
                FROM    PurchaseItemMaster
                WHERE   IsDeleted = 0
--                        AND IsCharge = 0

            END

        ELSE IF @parameter = 7			-- Searching
            BEGIN 
                 SELECT  MaterialIssue.IssueId ,
                        MaterialIssue.PurchaseItemId ,
                        PurchaseItemMaster.ItemName ,
                        PurchaseItemMaster.ItemCode ,
                        MaterialIssue.Quantity ,
                       -- MaterialIssue.IssueTo ,
                        ( EmployeeDetails.EmployeeName + '('
                          + EmployeeDetails.EmployeeCode + ')' ) AS IssueTo , 
                       -- IssueDepartment ,
                        ISNULL(SystemDepartment.DepartmentName, '') AS IssueDepartment ,
                        ISNULL(MaterialIssue.DepartmentID,
                               CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)) AS DepartmentID ,
                        CONVERT(VARCHAR(11), MaterialIssue.IssueDate, 106) AS [Issue Date] ,
                        MaterialIssue.Remarks ,
                        InventoryDetails.Stock AS CurrentStock ,
                        ROW_NUMBER() OVER ( ORDER BY IssueDate DESC ) AS RowNo
                FROM    MaterialIssue
                        INNER JOIN PurchaseItemMaster ON MaterialIssue.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                        INNER JOIN InventoryDetails ON PurchaseItemMaster.PurchaseItemId = InventoryDetails.PurchaseItemId
                        INNER JOIN dbo.EmployeeDetails ON dbo.EmployeeDetails.EmployeeId = dbo.MaterialIssue.EmployeeId
                        LEFT JOIN SystemDepartment ON SystemDepartment.DepartmentID = MaterialIssue.DepartmentID
                WHERE   MaterialIssue.Isdeleted = 0
                        AND ( @PurchaseItemId IS NULL
                              OR MaterialIssue.PurchaseItemId = @PurchaseitemId
                            )
                        AND ( ( @EmployeeId = 0
                                OR @EmployeeId IS NULL
                              )
                              OR MaterialIssue.EmployeeId = @EmployeeId
                            )
                        AND ( @DateFrom IS NULL
                              OR @DateTo IS NULL
                              OR MaterialIssue.IssueDate BETWEEN @DateFrom
                                                         AND  @DateTo
                            )
                ORDER BY IssueDate DESC
            END
			
        ELSE IF @parameter = 8			-- Item Name Item Code olny that was issued Issued
            BEGIN
		
                SELECT  DISTINCT
                        PurchaseItemMaster.ItemName ,
                        PurchaseItemMaster.ItemCode ,
                        PurchaseItemMaster.PurchaseItemId
                FROM    PurchaseItemMaster
                        INNER JOIN dbo.MaterialIssueTrans ON dbo.MaterialIssueTrans.PurchaseItemId = dbo.PurchaseItemMaster.PurchaseItemId
                WHERE   MaterialIssueTrans.IsDeleted = 0  
				
            END			
			
        ELSE IF @Parameter = 9
            BEGIN
			    SELECT DISTINCT
                        issueto
                FROM    dbo.MaterialIssueTrans
                WHERE   IsDeleted = 0
			
            END
            --Updated by Megha
        
		ELSE IF @Parameter = 12
            BEGIN
			
                SELECT  PurchaseItemMaster.PurchaseItemID
                FROM    dbo.PurchaseItemMaster
                WHERE   PurchaseItemMaster.IsDeleted = 0
                        AND dbo.PurchaseItemMaster.PurchaseItemId = @PurchaseItemId
			
            END
        
		ELSE IF @Parameter = 13
            BEGIN
                SELECT  CAST (RIGHT('00' + CONVERT(VARCHAR(2), '4'), 2)
                        + RIGHT('00'
                                + CONVERT(VARCHAR(20), ( CAST(YEAR(DATEADD(Month,
                                                              -3, GETDATE())) AS VARCHAR(4))
                                                         % 100 )), 2)
                        + RIGHT('00' + CONVERT(VARCHAR(20), DATEPART(month,
                                                              GETDATE())), 2)
                        + CAST(( CASE WHEN MAX(MaterialIssue.EntryNo) IS NULL
                                      THEN '00001'
                                      ELSE SUBSTRING(CAST(CAST(MAX(MaterialIssue.EntryNo) AS BIGINT)
                                                     + 1 AS VARCHAR), 6, 6)
                                 END ) AS VARCHAR) AS VARCHAR) AS EntryNo
                FROM    MaterialIssue 
            END
        
		ELSE IF @Parameter = 14
            BEGIN
			
                SELECT  EntryNo
                FROM    MaterialIssue
                WHERE   ( IssueId = @IssueId )
            END
        
        ELSE IF @Parameter = 15 -- Select Material Issue Data By IssueId
            BEGIN
			declare @test nvarchar(max)
                SELECT  PurchaseItemMaster.ItemCode ,
                        PurchaseItemMaster.ItemName ,
                        CONVERT(VARCHAR(20), MaterialIssue.IssueDate, 106) AS IssueDate ,
                        MaterialIssue.IssueId ,
                        MaterialIssueTrans.PurchaseItemId AS Expr1 ,
                        --CASE WHEN MaterialIssue.Prefix IS NULL THEN ''
                        --     ELSE CONVERT(VARCHAR(50), MaterialIssue.Prefix)
                        --END
                        --+ CASE WHEN MaterialIssue.Separator IS NULL THEN ''
                        --       ELSE CONVERT(VARCHAR(50), MaterialIssue.Separator)
                        --  END + CONVERT(VARCHAR(50), MaterialIssue.IssueNo)
                        --+ CASE WHEN MaterialIssue.Separator IS NULL THEN ''
                        --       ELSE CONVERT(VARCHAR(50), MaterialIssue.Separator)
                        --  END + CASE WHEN MaterialIssue.Suffix IS NULL THEN ''
                        --             ELSE CONVERT(VARCHAR(50), MaterialIssue.Suffix)
                        --        END
						
						ISNULL(MaterialIssue.Prefix,'')	
						+ ISNULL(MaterialIssue.Separator,'')	
						+ CONVERT(VARCHAR(50), MaterialIssue.IssueNo)
						+ ISNULL(MaterialIssue.Separator,'')
						+ ISNULL(MaterialIssue.Suffix,'')
						AS IssueNo ,
                        MaterialIssueTrans.SrNo ,
                        MaterialIssueTrans.Quantity ,
                        Round((Batch.TotalRate / MaterialIssueTrans.Quantity),0) as AvgRate,
                       -- MaterialIssue.IssueTo ,
                       case when MaterialIssue.IsAutoIssue = 0 then 
                        ( EmployeeDetails.EmployeeName + '('
                          + EmployeeDetails.EmployeeCode + ')' ) 
                          else 'System' end
                          AS IssueTo ,
                        --IssueDepartment ,
                        ISNULL(SystemDepartment.DepartmentName, '') AS IssueDepartment ,
                        ISNULL(MaterialIssue.DepartmentID,
                               CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)) AS DepartmentID ,
                      --  MaterialIssueTrans.Remarks  ,
                        case when MaterialIssue.IsTransfer = 0 then MaterialIssueTrans.Remarks 
							else
							 case when (select COUNT(*) from StoreIndentTrans where MaterialTransTransId= MaterialIssueTrans.MaterialIssueTransId    )=0 then  MaterialIssueTrans.Remarks else
							
							 MaterialIssueTrans.Remarks  + ' Against requisition no : ' 
						+(  select distinct  
							  STUFF(
									 (SELECT  ',' +  sm.IndentCode 
									  --( sm.IndentCode + ' / ' + CONVERT(VARCHAR(20), sm.indentdate, 106) + ' / '
											--	 + 
											--	 (sme.EmployeeName + '(' + sme.EmployeeCode + ')')
											--	 + ' / ' +CONVERT(VARCHAR(20), Qty)) 
									  FROM StoreIndentTrans s
									   left join StoreIndentMaster sm on sm.StoreIndentID =s.StoreIndentID 
									 left JOIN dbo.EmployeeDetails sme ON sme.EmployeeId =sm.EmployeeId
									  where   s.MaterialTransTransId= MaterialIssueTrans.MaterialIssueTransId 
									  FOR XML PATH (''))
									  , 1, 1, '')   
							
                        ) 
                         end 
                         end as Remarks ,
                        MaterialIssue.Remarks IssueRemarks ,
                        MaterialIssueTrans.IsDeleted ,
                        MaterialIssue.CreatedBy ,
                        InvoiceSeries.ReportTitle
                        , FromPlantTbl.PlantName AS FromPlant
                        , ToPlantTbl.PlantName AS ToPlant,
                        (STUFF(
								 (	SELECT  Char(10) +   ( IndentCode + ' / ' + CONVERT(VARCHAR(20), indentdate, 106)
													  + ' / ' + RequiredBy + ' / '
													  + CONVERT(VARCHAR(20), Qty) ) 
									FROM    StoreIndentTrans
											INNER JOIN StoreIndentMaster ON StoreIndentMaster.StoreIndentID = StoreIndentTrans.StoreIndentID
											--INNER JOIN MaterialIssueTrans as mit ON mit.MaterialIssueTransId = case when @PageType='Issue' then  StoreIndentTrans.IssueTransId else StoreIndentTrans.MaterialTransTransId end 
									WHERE   StoreIndentTrans.IssueTransId = MaterialIssueTrans.MaterialIssueTransId 
								   
								  FOR XML PATH (''))
								  , 1, 1, '')  ) as IndentCode
                FROM    MaterialIssue
                        INNER JOIN MaterialIssueTrans ON MaterialIssue.IssueId = MaterialIssueTrans.IssueId
                        INNER JOIN PurchaseItemMaster ON MaterialIssueTrans.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                        INNER JOIN InvoiceSeries ON InvoiceSeries.SeriesId = MaterialIssue.SeriesId
                        Left JOIN dbo.EmployeeDetails ON dbo.EmployeeDetails.EmployeeId = dbo.MaterialIssue.EmployeeId
                        LEFT JOIN SystemDepartment ON SystemDepartment.DepartmentID = MaterialIssue.DepartmentID
                        LEFT JOIN PlantMaster AS FromPlantTbl ON FromPlantTbl.PlantId = MaterialIssue.FromPlantId
                        LEFT JOIN PlantMaster As ToPlantTbl ON ToPlantTbl.PlantId = MaterialIssue.PlantId
                        LEFT JOIN (
								Select MaterialIssueBatchWise.MaterialIssueTransId , sum(MaterialIssueBatchWise.Quantity * isnull(RawMaterialInwardDetail.Rate,0)) as TotalRate 
								from MaterialIssueBatchWise 
								inner join RawInwBatchWiseStock on MaterialIssueBatchWise.RawBatchId = RawInwBatchWiseStock.RawBatchId
								inner join RawMaterialInwardDetail on RawMaterialInwardDetail.RawBatchNo = RawInwBatchWiseStock.RawBatchNo
									and RawMaterialInwardDetail.PurchaseItemId = RawInwBatchWiseStock.PurchaseItemId
								INNER JOIN MaterialIssueTrans on MaterialIssueTrans.MaterialIssueTransId = MaterialIssueBatchWise.MaterialIssueTransId
									and MaterialIssueTrans.IssueId = @Issueid
								Group by MaterialIssueBatchWise.MaterialIssueTransId
                        ) as batch on batch.MaterialIssueTransId = MaterialIssueTrans.MaterialIssueTransId
                      --left join StoreIndentTrans as ss on ss.MaterialTransTransId= MaterialIssueTrans.MaterialIssueTransId
                      --  left join StoreIndentMaster sm on sm.StoreIndentID =ss.StoreIndentID 
                        --left JOIN dbo.EmployeeDetails sme ON sme.EmployeeId =sm.EmployeeId        
                WHERE   ( MaterialIssue.IssueId = @Issueid )
                        AND MaterialIssueTrans.IsDeleted = 0
            END
        
        ELSE IF @Parameter = 16 -- Get Max Issue no
            BEGIN
			
                SELECT  CASE WHEN MAX(IssueNo) IS NULL THEN 1
                             ELSE MAX(IssueNo) + 1
                        END AS IssueNo
                FROM    MaterialIssue 
   
            END
        
		ELSE IF @Parameter = 17 -- Get Max Issue no
        BEGIN
            SELECT  MaterialIssueTrans.SrNo ,
                    MaterialIssue.IssueId ,
                    MaterialIssueTrans.PurchaseItemId ,
                    PurchaseItemMaster.ItemName ,
                    PurchaseItemMaster.ItemCode ,
                    MaterialIssueTrans.Quantity ,
                    MaterialIssueTrans.Quantity TransactionQty ,
                    MaterialIssueTrans.Remarks ,
                    MaterialIssueTrans.MaterialIssueTransId ,
                    ( CASE WHEN (ISNULL(MaterialIssueTrans.IssueStatus, 0) = 0
								AND (PurchaseItemMaster.IsCharge = 1
										OR PurchaseItemMaster.IsBOQ = 1
										OR PurchaseItemMaster.IsMoldingMaterial = 1)
							)
                           THEN CAST(1 AS BIT)
                           ELSE CAST(0 AS BIT)
                      END ) AS IsCharge ,
                    dbo.MaterialIssueTrans.IsReceived,
                    (SELECT (	select MaterialIssueCostCenterDet.[CostCenterId] ,CostCenter ,ISNULL(SUM(Qty),0) as Cost
								from	MaterialIssueCostCenterDet 
										Inner JOIN CostCenterMasterNew ON CostCenterMasterNew.CostCenterId = MaterialIssueCostCenterDet.CostCenterId 
								where	MaterialIssueCostCenterDet.MaterialIssueTransId = MaterialIssueTrans.MaterialIssueTransId
								GROUP BY MaterialIssueCostCenterDet.[CostCenterId],CostCenter
						  --and
						  --MaterialIssueCostCenterDet.RawBatchId = 0
										FOR xml PATH ('CostCenterDet'), TYPE)
									FOR xml PATH (''), ROOT ('DocumentElement') 
					) as CostCenterDet,
					isnull(IssueStatus,0) as IssueStatus,
					isnull(IsIssueAsConsumed,0) as IsIssueAsConsumed
            FROM    MaterialIssue
                    INNER JOIN dbo.MaterialIssueTrans ON dbo.MaterialIssueTrans.IssueId = dbo.MaterialIssue.IssueId
                    INNER JOIN PurchaseItemMaster ON MaterialIssueTrans.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
            WHERE   MaterialIssueTrans.Isdeleted = 0
                    AND MaterialIssue.IssueId = @IssueId
                       
        END
        
        ELSE IF @Parameter = 18
            BEGIN

                SELECT DISTINCT
				           ISNULL(prefix,'')
						+ ISNULL(separator,'')
						+ CONVERT(VARCHAR(50), IssueNo)
						+ ISNULL(separator,'')
						+ ISNULL(suffix,'') AS IssueNo 
                        --Issueid
                FROM    dbo.MaterialIssue
                WHERE   IsDeleted = 0
						AND EntityID = @EntityID
						AND (	ISNULL(@PlantIdString,'') = ''
								OR MaterialIssue.PlantId IN (
									SELECT Item FROM @Plant
								)
						)
						AND ((@PageType = 'Transfer' AND IsTransfer = 1) OR (@PageType != 'Transfer' AND IsTransfer = 0))
						AND (@DateFrom IS NULL OR CAST(MaterialIssue.IssueDate AS DATE) >= CAST(@DateFrom AS DATE))
						AND (@DateTo IS NULL OR CAST(MaterialIssue.IssueDate AS DATE) <= CAST(@DateTo AS DATE))
                ORDER BY IssueNo
            END
        
        ELSE IF @parameter = 19						-- Fetch Stock from Inventory Details
            BEGIN
                IF @RawBatchId != 0
                    BEGIN
                        SELECT  ISNULL(SUM(Stock),0) AS Stock
								, UOMMaster.UOM
                        FROM    FloorBatchWiseStock
								INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = FloorBatchWiseStock.PurchaseItemId
								LEFT JOIN UOMMaster ON UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
                        WHERE   FloorBatchWiseStock.PurchaseItemId = @PurchaseItemId
                                AND RawBatchId = @RawBatchId
                                AND (@MaterialIssueTransId IS NULL
									OR PlantId =	(
													SELECT DISTINCT TOP 1 ISNULL(PlantId, 0) FROM MaterialIssue AS MI
													INNER JOIN MaterialIssueTrans AS MIT ON MI.IssueId = MIT.IssueId 
																							AND MIT.IsDeleted = 0
													WHERE MIT.MaterialIssueTransId = @MaterialIssueTransId
												)
								)
						GROUP BY UOMMaster.UOM
                    END
                ELSE
                    BEGIN				
                        SELECT  StockId ,
                                ISNULL(Stock,0) AS Stock
                                , UOMMaster.UOM
                        FROM    dbo.FloorInventoryDetails
								INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = dbo.FloorInventoryDetails.PurchaseItemId
								LEFT JOIN UOMMaster ON UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
                        WHERE   ( dbo.FloorInventoryDetails.PurchaseItemId = @PurchaseItemId )
								AND Entity = @EntityID
								AND (@FromPlantId = 0 OR PlantId = @FromPlantId)
								AND (@MaterialIssueTransId IS NULL
									OR PlantId =	(
													SELECT DISTINCT TOP 1 ISNULL(PlantId, 0) FROM MaterialIssue AS MI
													INNER JOIN MaterialIssueTrans AS MIT ON MI.IssueId = MIT.IssueId 
																							AND MIT.IsDeleted = 0
													WHERE MIT.MaterialIssueTransId = @MaterialIssueTransId
												)
								)
                    END
            END
            
        ELSE IF @Parameter = 20 -- Get Max Issue no
            BEGIN
                SELECT  MaterialIssueTrans.SrNo ,
                        MaterialIssue.IssueId ,
                        MaterialIssueTrans.PurchaseItemId ,
                        PurchaseItemMaster.ItemName ,
                        PurchaseItemMaster.ItemCode ,
                        MaterialIssueTrans.Quantity ,
                        MaterialIssueTrans.Quantity TransactionQty ,
                        MaterialIssueTrans.Remarks ,
                        MaterialIssueTrans.MaterialIssueTransId ,
                        ( CASE WHEN PurchaseItemMaster.IsCharge = 1
                                    OR PurchaseItemMaster.IsBOQ = 1
                                    OR PurchaseItemMaster.IsMoldingMaterial = 1
                               THEN CAST(1 AS BIT)
                               ELSE CAST(0 AS BIT)
                          END ) AS isCharge ,
                        MaterialIssue.IssueForOtherPurpose,
                        dbo.MaterialIssueTrans.IsReceived
                FROM    MaterialIssue
                        INNER JOIN dbo.MaterialIssueTrans ON dbo.MaterialIssueTrans.IssueId = dbo.MaterialIssue.IssueId
                        INNER JOIN PurchaseItemMaster ON MaterialIssueTrans.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                WHERE   MaterialIssueTrans.Isdeleted = 0
                        AND MaterialIssue.IssueId = @IssueId
                           
            END
              
        ELSE IF @Parameter = 21
            BEGIN
                SELECT 
                --DISTINCT
                       -- IssueTo
                        ( EmployeeDetails.EmployeeName + '('
                          + EmployeeDetails.EmployeeCode + ')' ) AS IssueTo
                FROM    dbo.MaterialIssue
                        INNER JOIN dbo.EmployeeDetails ON dbo.EmployeeDetails.EmployeeId = dbo.MaterialIssue.EmployeeId
                WHERE   IsDeleted = 0
						and EmployeeDetails.isActive = 1
                ORDER BY EmployeeDetails.EmployeeName ,
                        EmployeeDetails.EmployeeCode
            END
        
		ELSE IF @Parameter = 22
            BEGIN
                SELECT DISTINCT
                        ISNULL(SystemDepartment.DepartmentName, '') AS IssueDepartment ,
                        ISNULL(MaterialIssue.DepartmentID,
                               CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)) AS DepartmentID
                FROM    dbo.MaterialIssue
                        LEFT JOIN SystemDepartment ON SystemDepartment.DepartmentID = MaterialIssue.DepartmentID
                WHERE   IsDeleted = 0
                        AND IssueDepartment IS NOT NULL
                ORDER BY IssueDepartment
            END
            
        ELSE IF @Parameter = 23
            BEGIN
                SELECT  StoreIndentTransId ,
                        ( 
							  ISNULL(StoreIndentMaster.Prefix,'')	
							+ ISNULL(StoreIndentMaster.Separator,'')	
							+ CONVERT(VARCHAR(50), StoreIndentMaster.IndentCode)
							+ ISNULL(StoreIndentMaster.Separator,'')
							+ ISNULL(StoreIndentMaster.Suffix,'')
							+ ' / ' + CONVERT(VARCHAR(20), indentdate, 106)
                            + ' / ' + RequiredBy + ' / '
                            + CONVERT(VARCHAR(20), Qty) ) AS IndentCode						
                FROM    StoreIndentTrans
                        INNER JOIN StoreIndentMaster ON StoreIndentMaster.StoreIndentID = StoreIndentTrans.StoreIndentID
                        INNER JOIN MaterialIssueTrans ON MaterialIssueTrans.MaterialIssueTransId = case when @PageType='Issue' then  StoreIndentTrans.IssueTransId else StoreIndentTrans.MaterialTransTransId end 
                WHERE   MaterialIssueTrans.MaterialIssueTransId = @MaterialIssueTransId                 
            END
            
          --THIS WILL CHECK SELECTED SERIES IS SAMPLE SERIES OR NOT.
        ELSE IF ( @Parameter = 24 )
            BEGIN	
                SELECT  InvoiceSeries.IsSample
                FROM    InvoiceSeries
                WHERE   @SeriesId IS NULL
                        OR InvoiceSeries.SeriesId = @SeriesId
            END
        
        ELSE IF @Parameter = 25--ADDED BY YASHVI SHAH
            BEGIN
                DECLARE @ItemGroupID UNIQUEIDENTIFIER = ( SELECT TOP 1
                                                              PurchaseItemGroupId
                                                          FROM
                                                              InvoiceSeries
                                                          WHERE
                                                              InvoiceSeries.SeriesId = @SeriesID
                                                        )
        
        
                SELECT DISTINCT
                        PurchaseItemMaster.PurchaseItemId ,
                        PurchaseItemMaster.ItemName ,
                        PurchaseItemMaster.ItemCode
                FROM    PurchaseItemMaster
                        INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                WHERE   PurchaseItemMaster.IsDeleted = 0
						--AND CustomerPurchaseitemMappping.IsDeleted = 0
                        --AND CustomerPurchaseitemMappping.IsApproval = 1
                        AND ( @ItemGroupID IS NULL
                              OR PurchaseItemMaster.PurchaseItemGroupId = @ItemGroupID
                            )
                        AND ( @IsSampleSeries = 1
                              --OR CustomerPurchaseitemMappping.IsApproval = 1
								OR PurchaseItemMaster.PurchaseItemId NOT IN (
									SELECT	CustomerPurchaseitemMappping.PurchaseItemId FROM CustomerPurchaseitemMappping
									WHERE	CustomerPurchaseitemMappping.IsApproval IS NULL
											AND CustomerPurchaseitemMappping.PurchaseItemId NOT IN (
												SELECT ApprovedItemTbl.PurchaseItemId FROM CustomerPurchaseitemMappping AS ApprovedItemTbl 
												WHERE ApprovedItemTbl.IsApproval = 1
											)
								)
                            ) -- This will execute for non sample series. Sample 0 will execute this
                        AND ( @IsSampleSeries = 0
                              --OR CustomerPurchaseitemMappping.IsApproval IS NULL
                              OR PurchaseItemMaster.PurchaseItemId IN (
								SELECT	cpim.PurchaseItemId FROM CustomerPurchaseitemMappping AS cpim WHERE	cpim.IsApproval IS NULL
                              )
                            ) -- This will execute for sample series. Sample 1 will execue this
                        AND PurchaseCompanyMapping.CompanyId = @EntityID
                        --AND (PurchaseItemMaster.IsReturnSand = 0  AND PurchaseItemMaster.IsSandType = 0)
							
                --UNION
                --SELECT DISTINCT
                --        PurchaseItemMaster.PurchaseItemId ,
                --        PurchaseItemMaster.ItemName ,
                --        PurchaseItemMaster.ItemCode
                --FROM    PurchaseItemMaster
                --WHERE   PurchaseItemMaster.IsDeleted = 0
                --        AND (PurchaseItemMaster.IsFoundryReturn = 1 OR PurchaseItemMaster.IsSandType = 1)
                --        AND ( @ItemGroupID IS NULL
                --              OR PurchaseItemMaster.PurchaseItemGroupId = @ItemGroupID
                --        ) -- If non sample series itemgroup is there than only that group RR else all RR
                --        AND @IsSampleSeries = 0 -- If sample series than foundry return should not load
                --        AND PurchaseItemMaster.EntityID = @EntityID
							
				Order by ItemName
        
           
            END  
            
        ELSE IF ( @Parameter = 26 )
            BEGIN
                IF EXISTS ( SELECT  *
                            FROM    MaterialSampleInspectionMaster
                            WHERE   IssueId = @IssueId
                                    AND PurchaseItemId = @PurchaseItemId )
                    BEGIN
                        RETURN 1
                    END
                ELSE
                    RETURN 0
            END
		
		ELSE IF ( @Parameter = 27 )
        BEGIN
            IF EXISTS (SELECT 1 FROM StoreReturnTrans WHERE IssueId = @IssueId AND IsDeleted = 0)
                RETURN 1
            ELSE
                RETURN 0
        END
        
        ELSE IF ( @Parameter = 28 )
        BEGIN
            SELECT	CAST(0 AS bit) AS [Select] , CONVERT(VARCHAR(11), mi.IssueDate, 106) AS ChallanDate, mi.IssueNo AS ChallanNo
					, FromPlant.PlantName AS FromPlant , pim.ItemName, pim.ItemCode, pim.PurchaseItemId, mit.Quantity AS InwardQty , UOMM.UOM
					, pim.SecondaryUnitOfMeasure AS UOMID , mit.MaterialIssueTransId, mi.FromPlantId, mi.PlantId AS ToPlantId ,mi.IssueId 
				,FromPlant.PlantId as FromPlantId,pim.IsPattern
			FROM MaterialIssue AS mi
			INNER JOIN MaterialIssueTrans AS mit ON mit.IssueId = mi.IssueId and mit.IsDeleted = 0 and mit.IsReturnAgainstTransfer = 0
			INNER JOIN PurchaseItemMaster AS pim ON pim.PurchaseItemId = mit.PurchaseItemId
			INNER JOIN UOMMaster AS UOMM ON UOMM.UOMid = pim.SecondaryUnitOfMeasure
			INNER JOIN PlantMaster As FromPlant On FromPlant.PlantId = mi.FromPlantId
			INNER JOIN PlantMaster As ToPlant On ToPlant.PlantId = mi.PlantId
			where mi.IsTransfer = 1 AND mit.IsReceived = 0 AND mi.IsDeleted = 0 
					AND mi.PlantId = @FromPlantId 
			ORDER BY mi.IssueDate ASC
        END
         
        ELSE IF ( @Parameter = 29 ) -- Mold Inward Entry Page Grid (Added By Bijal)
        BEGIN
            SELECT	distinct CAST(0 AS bit) AS [Select] , CONVERT(VARCHAR(11), MoldTransTbl.ChallanDate, 106) AS ChallanDate, 
					MoldTransTbl.ChallanNo AS ChallanNo, FromPlant.PlantName AS FromPlant, pim.PatternCode, pim.PatternId, MoldTransTbl.Quantity
					, MoldTransTbl.MoldTransferTransId, MoldTransTbl.FromPlantId, MoldTransTbl.ToPlantId AS ToPlantId, MoldTransTbl.SandTypeID, st.SandType
			FROM (
				SELECT	mi.MoldTransfer_Id, ChallanDate, ChallanNo, FromPlantId, ToPlantId, mit.Quantity, mit.MoldTransferTransId, 
						mit.SandTypeID, mit.PatternId
				FROM (
					SELECT	MoldTransfer_Id, ChallanDate, ChallanNo, FromPlantId, ToPlantId
					FROM	MoldTransfer
					WHERE	MoldTransfer.IsDeleted = 0 
							AND MoldTransfer.ToPlantId =  @FromPlantId
				) AS mi
				INNER JOIN (
					SELECT	MoldTransferTrans.Quantity, MoldTransferTrans.MoldTransferTransId, MoldTransferTrans.MoldTransfer_Id, 
							MoldTransferTrans.SandTypeID, MoldTransferTrans.PatternId
					FROM	MoldTransferTrans
					where	MoldTransferTrans.IsReceived = 0 AND MoldTransferTrans.IsDeleted = 0
				) AS mit ON mit.MoldTransfer_Id = mi.MoldTransfer_Id
			) AS MoldTransTbl
			INNER JOIN (
				SELECT	PurchaseItemMaster.PurchaseItemId as PatternId, PurchaseItemMaster.ItemCode as PatternCode
				FROM	PurchaseItemMaster where IsPattern = 1
			) AS pim ON pim.PatternId = MoldTransTbl.PatternId
			INNER JOIN PlantMaster As FromPlant On FromPlant.PlantId = MoldTransTbl.FromPlantId
			INNER JOIN PlantMaster As ToPlant On ToPlant.PlantId = MoldTransTbl.ToPlantId
			inner join SandTypeMaster as st on st.SandTypeId = MoldTransTbl.SandTypeID 
			ORDER BY  ChallanDate ASC

        END
        
        ELSE IF ( @Parameter = 30 )  -- Core Inward Entry Page Grid (Added By Bijal)
        BEGIN
        
        
            SELECT distinct	CAST(0 AS bit) AS [Select] , CONVERT(VARCHAR(11), mi.ChallanDate, 106) AS ChallanDate, mi.ChallanNo AS ChallanNo
					, FromPlant.PlantName AS FromPlant , pim.PatternId, mit.Quantity  ,pim.CoreBoxName ,cm.CastingCode,cm.CastingName 
					  , mit.CoreTransferTrans_Id, mi.FromPlantId, mi.ToPlantId AS ToPlantId,c.SandTypeID, mit.CoreId--,mtc.MoldTypeId,mvt.Cavity
			FROM CoreTransfer AS mi
			INNER JOIN CoreTransferTrans AS mit ON mit.CoreTransfer_Id = mi.CoreTransfer_Id and mit.IsDeleted = 0
			INNER JOIN CoreBoxDetails AS pim ON pim.CoreBoxID = mit.CoreId
			INNER JOIN CoreBoxMaster AS c ON c.CoreMasterID =pim.CoreMasterID
			INNER JOIN PlantMaster As FromPlant On FromPlant.PlantId = mi.FromPlantId
			INNER JOIN PlantMaster As ToPlant On ToPlant.PlantId = mi.ToPlantId 
			INNER JOIN CastingMaster AS cm on cm.CastingId = mit.CastingId 
			where  mit.IsReceived = 0 AND mi.IsDeleted = 0  AND mit.IsDeleted = 0  
					AND mi.ToPlantId =  @FromPlantId
			ORDER BY  ChallanDate ASC
        END
    END
GO
