USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_DatabaseBackupPath]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Harshad Chauhan>
-- Create date: <Create Date,,10 jul 2024>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Fetch_DatabaseBackupPath] 
(
	-- Add the parameters for the stored procedure here
	@databaseName varchar(100) = 'Test'
)
AS
BEGIN

	SET NOCOUNT ON;
		DECLARE @path NVARCHAR(4000);
		
		EXEC master.dbo.xp_instance_regread
					N'HKEY_LOCAL_MACHINE',
					N'Software\Microsoft\MSSQLServer\MSSQLServer',N'BackupDirectory',
					@path OUTPUT, 
					'no_output'
    
            Set @path = @path + '\' + @databaseName + replace(convert(varchar, getdate(),101),'/','') + replace(convert(varchar, getdate(),108),':','') + '.bak'; 
                              
          Select @path AS DBBackPath
            
END
GO
