USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBankName]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateBankName]
	-- Add the parameters for the stored procedure here
	@BankId UNIQUEIDENTIFIER= NULL,
	@BankName VARCHAR(50)=NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Update BankList set bankname=@BankName where bankid=@BankId
END
GO
