USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_CostingReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[Fetch_CostingReport] -- this query just shift from report 42
	@StartDate DATETIME = NULL , 
    @PlantIdString VARCHAR(MAX) = NULL,
    @MetalId BIGINT = 0,          
    @EndDate DATETIME = NULL, 
    @RateType VARCHAR(100) = NULL ,    
    @MetalType VARCHAR(100) = NULL ,  
    @EntityID INT = 0 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	 
                 
            DECLARE @TotalProductionUse FLOAT = ISNULL(( SELECT        
                                                              SUM(productionqty        
         * perpcweight)        
                                                         FROM dbo.ProductionBatch        
                                                              INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID        
                                                              INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.ProductionBatch.MetalID        
                                                         WHERE        
                                                              ProductionDate BETWEEN @StartDate AND @EndDate        
                                                              AND ProductionBatch.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR ProductionBatch.PlantID IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                                       ), 0)        
                                                          
            DECLARE @TotalProductionKg FLOAT = ( SELECT SUM(productionqty        
                                                            * perpcweight)        
                                                 FROM   dbo.ProductionBatch        
                                                        INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID        
                                                        INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.ProductionBatch.MetalID        
                                                 WHERE  ProductionDate BETWEEN @StartDate AND @EndDate        
                                          AND ( @MetalID = 0        
                                                              OR ProductionBatch.MetalID = @MetalID        
                                                            )        
                                                        AND ( @MetalType IS NULL        
                                                              OR MetalType = @MetalType        
                                                            )        
                                                        AND ProductionBatch.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR ProductionBatch.PlantID IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                               )        
                               
            DECLARE @TotalProductionPer FLOAT = ( @TotalProductionKg * 100 )        
                / @TotalProductionUse                         
                    
            DECLARE @ConsumptionQtyWOFR FLOAT   = ( SELECT  SUM(consumptionqty) AS ConsumptionQty        
                                FROM    dbo.Consumption        
                                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.Consumption.batchid        
                                                            INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.Consumption.purchaseitemID        
                                                            INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.ProductionBatch.MetalID        
                                                    WHERE   ProductionDate BETWEEN @StartDate AND @EndDate        
                                                            AND IsFoundryReturn = 0        
                                                            AND ( @MetalID = 0        
                                                              OR ProductionBatch.MetalID = @MetalID        
                                                              )        
                                                            AND ( @MetalType IS NULL        
                                                              OR MetalType = @MetalType        
                              )        
                                                             AND ProductionBatch.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR ProductionBatch.PlantID IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                                  )         
            DECLARE @ConsumptionQtyOnlyFR FLOAT      = ( SELECT        
                                                              SUM(consumptionqty) AS ConsumptionQty        
                                                         FROM dbo.Consumption        
                                                              INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.Consumption.batchid        
                                                              INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.Consumption.purchaseitemID        
                                                              INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.ProductionBatch.MetalID        
                                                         WHERE        
                                                              ProductionDate BETWEEN @StartDate AND @EndDate        
                                                              AND IsFoundryReturn = 1        
                                                              AND ( @MetalID = 0        
                                                              OR ProductionBatch.MetalID = @MetalID        
                                                              )        
                                                              AND ( @MetalType IS NULL        
                                                              OR MetalType = @MetalType        
                                                              )        
                                                              AND ProductionBatch.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR ProductionBatch.PlantID IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                                       )         
                          
            DECLARE @ReclaimQty FLOAT  = ( SELECT   SUM(returnQty)        
                                           FROM     dbo.FoundryReturn        
                                                    INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.FoundryReturn.batchid        
INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.ProductionBatch.MetalID        
                                           WHERE    ProductionDate BETWEEN @StartDate AND @EndDate        
                                                    AND ( @MetalID = 0        
                                                          OR ProductionBatch.MetalID = @MetalID        
                                                        )        
                                                    AND ( @MetalType IS NULL        
                                                          OR MetalType = @MetalType        
                                                        )        
                                                     AND ProductionBatch.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR ProductionBatch.PlantID IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                         )        
                                                 
            DECLARE @TotalRejectionWeight FLOAT  = ( SELECT SUM(CastingFinalRejection.Weight) AS RejectionWeight        
                                                     FROM   dbo.CastingFinalRejection        
                                                   INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.CastingFinalRejection.MetalID        
                                                     WHERE  RejectionDate BETWEEN @StartDate AND @EndDate        
                                                            AND ( @MetalID = 0        
                                                              OR CastingFinalRejection.MetalID = @MetalID        
                                                              )        
                                                            AND ( @MetalType IS NULL        
                                                              OR MetalType = @MetalType        
                                                              )                                                                     
                                                   )        
            SELECT  ItemGroup ,        
                    ItemType ,        
                    ISNULL(ConsumableQty, 0) AS ConsumableQty ,        
                    ISNULL(PerKgFinishcasting, 0) AS PerKgFinishcasting ,        
                    MeterName ,        
                    ISNULL(@ReclaimQty, 0) AS ReclaimQty ,        
                    ISNULL(@TotalProductionKg, 0) AS TotalProductionKg ,        
                    ISNULL(@ConsumptionQtyWOFR + @ConsumptionQtyOnlyFR, 0) AS TotalMoltenMetal ,        
                    ISNULL(@TotalRejectionWeight, 0) AS TotalRejectionWeight        
            FROM    ( SELECT    'Cost Per KG' AS ItemGroup ,        
                                'Charging Material Cost' ItemType ,        
                               -- ISNULL(AvgRate.Rate, 0) Rate ,        
                              --  ISNULL(s.ConsumptionQty, 0) ConsumptionQty ,        
                              --  ( ISNULL(s.ConsumptionQty, 0) * ISNULL(AvgRate.Rate, 0) ) AS Total ,        
               0 AS ConsumableQty ,        
                             --   0 AS Total_ConsumableCost ,        
                                ISNULL(SUM(( ( ( ISNULL(s.ConsumptionQty, 0)        
                                                 * ISNULL(AvgRate.Rate, 0) )        
                                               / @ConsumptionQtyWOFR )        
                                             * @ConsumptionQtyOnlyFR )        
                    + ( ISNULL(s.ConsumptionQty, 0)        
                                               * ISNULL(AvgRate.Rate, 0) )        
                                           - ( @ReclaimQty        
                                               * ( ( ISNULL(s.ConsumptionQty,        
                                                 0)        
                                                     * ISNULL(AvgRate.Rate, 0) )        
                                                   / @ConsumptionQtyWOFR ) )),        
                                       0) / @TotalProductionKg AS PerKgFinishcasting ,        
                                ItemType MeterName ,        
                                0 AS No        
                      FROM      dbo.PurchaseItemMaster        
                                LEFT JOIN ( SELECT  SUM(consumptionqty) AS ConsumptionQty ,        
                                                    Consumption.purchaseitemID        
                                            FROM    dbo.Consumption        
                                                    INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.Consumption.batchid        
                                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.Consumption.purchaseitemID        
                                                    INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.ProductionBatch.MetalID        
                                            WHERE   ProductionDate BETWEEN @StartDate AND @EndDate        
                                                    AND IsFoundryReturn = 0        
                                                    AND ( @MetalID = 0        
                           OR ProductionBatch.MetalID = @MetalID        
                                                        )        
                                                    AND ( @MetalType IS NULL        
                                                          OR MetalType = @MetalType        
                                                        )        
                                                     AND ProductionBatch.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR ProductionBatch.PlantID IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                            GROUP BY Consumption.purchaseitemID        
                                          ) AS S ON S.purchaseitemID = dbo.PurchaseItemMaster.PurchaseItemId        
                                LEFT JOIN ( SELECT  CASE WHEN @RateType = 'MaxRate'        
                                                         THEN MAX(rate)        
                                                         ELSE ( CASE        
                                                              WHEN @RateType = 'MinRate'        
                                                              THEN MIN(rate)        
                                                              ELSE ISNULL(ROUND(SUM(PurchaseInvoiceTrans.TotalAmount)        
                                                              / ( CASE        
                                                              WHEN ISNULL(SUM(PurchaseInvoiceTrans.Qty),        
                                                              0) = 0 THEN 1        
                                                              ELSE SUM(PurchaseInvoiceTrans.Qty)        
                                                              END ), 2), 0)        
                                                              END )        
                                        END AS Rate ,        
                                                    PurchaseItemId        
                                            FROM    dbo.PurchaseInvoiceTrans        
                                                    INNER JOIN dbo.PurchaseInvoice ON dbo.PurchaseInvoice.PurchaseInvoiceId = dbo.PurchaseInvoiceTrans.PurchaseInvoiceId        
                                            WHERE   InvoiceDate BETWEEN @StartDate AND @EndDate        
AND PurchaseInvoice.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR PurchaseInvoice.PlantId IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                            GROUP BY PurchaseItemId        
                                          ) AS AvgRate ON AvgRate.PurchaseItemId = dbo.PurchaseItemMaster.PurchaseItemId        
                      WHERE     dbo.PurchaseItemMaster.IsCharge = 1                
                      GROUP BY  dbo.PurchaseItemMaster.ItemType        
                      UNION ALL        
                      SELECT    'Cost Per KG' AS ItemGroup ,        
                                'BOQ Cost' ItemType ,        
                               -- ISNULL(AvgRate.Rate, 0) Rate ,        
                              --  ISNULL(s.ConsumptionQty, 0) ConsumptionQty ,        
                              --  ( ISNULL(s.ConsumptionQty, 0) * ISNULL(AvgRate.Rate, 0) ) AS Total ,        
                                0 AS ConsumableQty ,        
                             --   0 AS Total_ConsumableCost ,        
                                ISNULL(SUM(( ( ( ISNULL(s.ConsumptionQty, 0)        
                                                 * ISNULL(AvgRate.Rate, 0) )        
                                               / @ConsumptionQtyWOFR )        
                                             * @ConsumptionQtyOnlyFR )        
                                           + ( ISNULL(s.ConsumptionQty, 0)        
                                               * ISNULL(AvgRate.Rate, 0) )        
                                           - ( @ReclaimQty        
                                               * ( ( ISNULL(s.ConsumptionQty,        
                                                            0)        
                                                     * ISNULL(AvgRate.Rate, 0) )        
                                                   / @ConsumptionQtyWOFR ) )),        
                                       0) / @TotalProductionKg AS PerKgFinishcasting ,        
                                ItemType MeterName ,        
                                0 AS No        
                      FROM      dbo.PurchaseItemMaster        
                                LEFT JOIN ( SELECT  SUM(ConsumedQty) AS ConsumptionQty ,        
                                                    HeatwiseBOQConsumption.purchaseitemID        
                                            FROM    dbo.HeatwiseBOQConsumption        
                                                    INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = HeatwiseBOQConsumption.Productionbatchid        
                                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.HeatwiseBOQConsumption.purchaseitemID        
                                                    INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.ProductionBatch.MetalID        
                                            WHERE   ProductionDate BETWEEN @StartDate AND @EndDate        
                                                    AND IsFoundryReturn = 0        
                                                    AND ( @MetalID = 0        
                                                          OR ProductionBatch.MetalID = @MetalID        
                                                        )        
                                                    AND ( @MetalType IS NULL        
                                                          OR MetalType = @MetalType        
     )        
                                                    AND ProductionBatch.EntityId = @EntityId        
                       AND ( ISNULL(@PlantIdString , '') = ''        
                 OR ProductionBatch.PlantID IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                            GROUP BY HeatwiseBOQConsumption.purchaseitemID        
                                          ) AS S ON S.purchaseitemID = dbo.PurchaseItemMaster.PurchaseItemId        
                                LEFT JOIN ( SELECT  CASE WHEN @RateType = 'MaxRate'        
                                                         THEN MAX(rate)        
                                                         ELSE ( CASE        
                                                              WHEN @RateType = 'MinRate'        
                                                              THEN MIN(rate)        
                                                              ELSE ISNULL(ROUND(SUM(PurchaseInvoiceTrans.TotalAmount)        
                                                              / ( CASE        
                                                              WHEN ISNULL(SUM(PurchaseInvoiceTrans.Qty),        
                                                              0) = 0 THEN 1        
                                                              ELSE SUM(PurchaseInvoiceTrans.Qty)        
                                                              END ), 2), 0)        
                                                              END )        
                                                    END AS Rate ,        
                                                    PurchaseItemId        
                                            FROM    dbo.PurchaseInvoiceTrans        
                                                    INNER JOIN dbo.PurchaseInvoice ON dbo.PurchaseInvoice.PurchaseInvoiceId = dbo.PurchaseInvoiceTrans.PurchaseInvoiceId        
                                            WHERE   InvoiceDate BETWEEN @StartDate AND @EndDate        
             AND PurchaseInvoice.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR PurchaseInvoice.PlantId IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                            GROUP BY PurchaseItemId        
                                          ) AS AvgRate ON AvgRate.PurchaseItemId = dbo.PurchaseItemMaster.PurchaseItemId        
                      WHERE     dbo.PurchaseItemMaster.IsBOQ = 1        
                      GROUP BY  dbo.PurchaseItemMaster.ItemType        
                      UNION ALL        
                      SELECT    'Cost Per KG' AS ItemGroup ,        
                                'Molding Consumption Cost' ItemType ,        
                               -- ISNULL(AvgRate.Rate, 0) Rate ,        
                              --  ISNULL(s.ConsumptionQty, 0) ConsumptionQty ,        
                              --  ( ISNULL(s.ConsumptionQty, 0) * ISNULL(AvgRate.Rate, 0) ) AS Total ,        
                                0 AS ConsumableQty ,        
                             --   0 AS Total_ConsumableCost ,        
                                ISNULL(SUM(( ( ( ISNULL(s.ConsumptionQty, 0)        
                                                 * ISNULL(AvgRate.Rate, 0) )        
                                               / @ConsumptionQtyWOFR )        
                                             * @ConsumptionQtyOnlyFR )        
                                           + ( ISNULL(s.ConsumptionQty, 0)        
                                               * ISNULL(AvgRate.Rate, 0) )        
                                           - ( @ReclaimQty        
                                               * ( ( ISNULL(s.ConsumptionQty,        
                                                            0)        
                                                     * ISNULL(AvgRate.Rate, 0) )        
                                                   / @ConsumptionQtyWOFR ) )),        
            0) / @TotalProductionKg AS PerKgFinishcasting ,        
                                ItemType MeterName ,        
                                0 AS No        
                      FROM      dbo.PurchaseItemMaster        
                                LEFT JOIN ( SELECT  SUM(ConsumedQty) AS ConsumptionQty ,        
                                                    MoldingConsumption.purchaseitemID        
                                            FROM    dbo.MoldingConsumption        
                                                    INNER JOIN dbo.MoldingEntryMaster ON dbo.MoldingEntryMaster.MoldingEntryMasterId = dbo.MoldingConsumption.MoldingEntryMasterID        
                                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.MoldingConsumption.purchaseitemID        
                                            WHERE   Date BETWEEN @StartDate AND @EndDate        
                                                    AND IsFoundryReturn = 0        
                                                    AND MoldingEntryMaster.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR MoldingEntryMaster.PlantId IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                            GROUP BY MoldingConsumption.purchaseitemID        
                     
                                          ) AS S ON S.purchaseitemID = dbo.PurchaseItemMaster.PurchaseItemId        
                                LEFT JOIN ( SELECT  CASE WHEN @RateType = 'MaxRate'        
                                                         THEN MAX(rate)        
                                                         ELSE ( CASE        
                                                              WHEN @RateType = 'MinRate'        
                                                              THEN MIN(rate)        
                                                            ELSE ISNULL(ROUND(SUM(PurchaseInvoiceTrans.TotalAmount)        
                                                              / ( CASE        
                                                              WHEN ISNULL(SUM(PurchaseInvoiceTrans.Qty),        
                                                              0) = 0 THEN 1        
                                                              ELSE SUM(PurchaseInvoiceTrans.Qty)        
                                                              END ), 2), 0)        
                                                              END )        
                                                    END AS Rate ,        
                                                    PurchaseItemId        
                                            FROM    dbo.PurchaseInvoiceTrans        
                                                    INNER JOIN dbo.PurchaseInvoice ON dbo.PurchaseInvoice.PurchaseInvoiceId = dbo.PurchaseInvoiceTrans.PurchaseInvoiceId        
                                            WHERE   InvoiceDate BETWEEN @StartDate AND @EndDate        
             AND PurchaseInvoice.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR PurchaseInvoice.PlantId IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                            GROUP BY PurchaseItemId        
                                          ) AS AvgRate ON AvgRate.PurchaseItemId = dbo.PurchaseItemMaster.PurchaseItemId        
                      WHERE     dbo.PurchaseItemMaster.IsMoldingMaterial = 1        
                      GROUP BY  dbo.PurchaseItemMaster.ItemType        
                      UNION ALL        
                      SELECT    'Cost Per KG' AS ItemGroup ,        
                                'Consumable Cost' AS ItemType ,        
                        --  ISNULL(AvgRate.Rate, 0) Rate ,        
                              --  0 AS ConsumptionQty ,        
                              --  0 AS Total ,        
                                SUM(ISNULL(Consumable.ConsumableQty, 0)) AS ConsumableQty ,        
                              --  ( ISNULL(Consumable.ConsumableQty, 0) * ISNULL(AvgRate.Rate, 0) ) AS Total_ConsumableCost ,        
                              --  0 AS TotalElectricMeterCost ,        
                                SUM(( ISNULL(Consumable.ConsumableQty, 0)        
                                      * ISNULL(AvgRate.Rate, 0) )        
                                    / @TotalProductionKg) AS PerKgFinishcasting ,        
                                ItemType MeterName ,        
                                1 AS No        
                      FROM      dbo.PurchaseItemMaster        
                                LEFT JOIN ( SELECT  CASE WHEN @RateType = 'MaxRate'        
                                                         THEN MAX(rate)        
                                                         ELSE ( CASE        
                                                              WHEN @RateType = 'MinRate'        
                                                              THEN MIN(rate)        
                                                              ELSE ISNULL(ROUND(SUM(PurchaseInvoiceTrans.TotalAmount)        
                                                              / ( CASE        
                                                              WHEN ISNULL(SUM(PurchaseInvoiceTrans.Qty),        
                                                              0) = 0 THEN 1        
                                                              ELSE SUM(PurchaseInvoiceTrans.Qty)        
                                                              END ), 2), 0)        
                                                              END )        
                                                    END AS Rate ,        
                                                    PurchaseItemId        
                                            FROM dbo.PurchaseInvoiceTrans        
                                                    INNER JOIN dbo.PurchaseInvoice ON dbo.PurchaseInvoice.PurchaseInvoiceId = dbo.PurchaseInvoiceTrans.PurchaseInvoiceId        
                                            WHERE   InvoiceDate BETWEEN @StartDate AND @EndDate        
             AND PurchaseInvoice.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR PurchaseInvoice.PlantId IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                            GROUP BY PurchaseItemId        
                                          ) AS AvgRate ON AvgRate.PurchaseItemId = dbo.PurchaseItemMaster.PurchaseItemId        
                                LEFT JOIN ( SELECT  SUM(dbo.MaterialIssueTrans.Quantity) AS ConsumableQty ,        
                                                    dbo.MaterialIssueTrans.PurchaseItemId        
                                            FROM    dbo.MaterialIssue        
                                                    INNER JOIN dbo.MaterialIssueTrans ON dbo.MaterialIssueTrans.IssueId = dbo.MaterialIssue.IssueId        
                                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.MaterialIssueTrans.PurchaseItemId        
                                            WHERE   IsIssueAsConsumed = 1        
                                                    AND dbo.MaterialIssue.IssueDate BETWEEN @StartDate        
                                                              AND        
                                                              @EndDate        
AND MaterialIssue.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR MaterialIssue.PlantId IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                                            GROUP BY dbo.MaterialIssueTrans.PurchaseItemId        
                                          ) AS Consumable ON Consumable.PurchaseItemId = dbo.PurchaseItemMaster.PurchaseItemId        
   GROUP BY  dbo.PurchaseItemMaster.ItemType        
                      UNION ALL        
                      SELECT    'Cost Per KG' AS ItemGroup ,        
                                'Electricity Cost' AS ItemType ,        
                              --  0 Rate ,        
                               -- 0 AS ConsumptionQty ,        
                               -- 0 AS Total ,        
                                ISNULL(CONSUMEUNIT, 0) AS CONSUMEUNIT ,        
                              --  0 AS Total_ConsumableCost ,        
                                ( ( ISNULL(SUM(ISNULL(( CONSUMEUNIT )        
                                                      * UnitCost        
                                                      * MultiplicationFactor,        
                                                      0)), 0)        
                                    * @TotalProductionPer ) / 100 )        
                                / @TotalProductionKg AS TotalElectricMeterCost ,        
                                MeterMaster.MeterName ,        
                                2 AS No        
                      FROM      dbo.MonthWiseMeterReading        
                                INNER JOIN dbo.MeterMaster ON dbo.MeterMaster.MeterCode = dbo.MonthWiseMeterReading.MeterName        
                      WHERE     UseFor = 1        
                                AND ExcludingCostingReport = 0        
                                --AND Month BETWEEN MONTH(@StartDate) AND MONTH(@EndDate)        
                                --AND Year BETWEEN YEAR(@StartDate) AND YEAR(@EndDate)        
                                AND DATENAME(mm, DATEADD(mm, Month, -1)) IN (        
                                SELECT  DATENAME(MONTH,        
                                                 DATEADD(MONTH, x.number,        
                         @StartDate)) AS MonthName        
                                FROM    master.dbo.spt_values x        
                                WHERE   x.type = 'P'        
                                        AND x.number <= DATEDIFF(MONTH,        
                                                              @StartDate,        
                                                              @EndDate) )        
                                        AND MeterMaster.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR MeterMaster.PlantId IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )        
                      GROUP BY  MeterMaster.MeterName ,        
                                CONSUMEUNIT        
                      UNION ALL        
                      SELECT    'Cost Per KG' AS ItemGroup ,        
                                'Furnace Cost' AS ItemType ,        
                              --  0 Rate ,        
                               -- 0 AS ConsumptionQty ,        
                                -- 0 AS Total ,        
                                ISNULL(CONSUMEUNIT, 0) AS CONSUMEUNIT ,        
                               -- 0 AS Total_ConsumableCost ,        
                                --CASE WHEN ( @TotalProductionUse = @TotalProductionKg )        
                                --     THEN ISNULL(SUM(ISNULL(( CONSUMEUNIT ) * UnitCost * MultiplicationFactor, 0)), 0) / @TotalProductionKg        
            --     ELSE ( ( ISNULL(SUM(ISNULL(( CONSUMEUNIT ) * UnitCost * MultiplicationFactor, 0)), 0) * @TotalProductionPer ) / 100 )        
                                --          / @TotalProductionKg        
                  --END AS TotalFurnaceCost ,        
                                ( ( ISNULL(SUM(ISNULL(( CONSUMEUNIT )        
                                                      * UnitCost        
                                                      * MultiplicationFactor,        
                                                      0)), 0)        
                                    * @TotalProductionPer ) / 100 )        
                                / @TotalProductionKg AS TotalFurnaceCost ,        
                                MeterMaster.MeterName ,        
    3 AS No        
                      FROM      dbo.MonthWiseMeterReading        
                                INNER JOIN dbo.MeterMaster ON dbo.MeterMaster.MeterCode = dbo.MonthWiseMeterReading.MeterName        
                      WHERE     UseFor = 2        
                                AND ExcludingCostingReport = 0        
                                --AND Month BETWEEN MONTH(@StartDate) AND MONTH(@EndDate)        
                                --AND Year BETWEEN YEAR(@StartDate) AND YEAR(@EndDate)        
                                AND DATENAME(mm, DATEADD(mm, Month, -1)) IN (        
                                SELECT  DATENAME(MONTH,        
                                                 DATEADD(MONTH, x.number,        
                                                         @StartDate)) AS MonthName        
                                FROM    master.dbo.spt_values x        
                                WHERE   x.type = 'P'        
                                        AND x.number <= DATEDIFF(MONTH,        
                                                              @StartDate,        
                                                              @EndDate) )        
                                        AND MeterMaster.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR MeterMaster.PlantId IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )                              
                      GROUP BY  MeterMaster.MeterName ,        
                                CONSUMEUNIT        
                      UNION ALL        
                      SELECT    'Cost Per KG' AS ItemGroup ,        
                    'Overhead Cost' AS ItemType ,        
                             --   0 Rate ,        
                             --   0 AS ConsumptionQty ,        
                              --  0 AS Total ,        
                                0 AS ConsumableQty ,        
                             --   0 AS Total_ConsumableCost ,        
                                ( ( SUM(COSt) * @TotalProductionPer ) / 100 )        
                                / @TotalProductionKg AS TotalOverheadCost ,        
                                SubCategoryName ,        
                                5 AS No        
                      FROM      dbo.OverheadCost        
                                INNER JOIN dbo.CostingCategoryTrans ON dbo.CostingCategoryTrans.CategoryTransId = dbo.OverheadCost.CategoryTransId        
                      WHERE     -- MonthNo BETWEEN MONTH(@StartDate) AND MONTH(@EndDate)        
                               -- AND Year BETWEEN YEAR(@StartDate) AND YEAR(@EndDate)        
                                DATENAME(mm, DATEADD(mm, MonthNo, -1)) IN (        
                                SELECT  DATENAME(MONTH,        
                                                 DATEADD(MONTH, x.number,        
                                                         @StartDate)) AS MonthName        
                                FROM    master.dbo.spt_values x        
                     WHERE   x.type = 'P'        
                                        AND x.number <= DATEDIFF(MONTH,        
                                                              @StartDate,        
                                                              @EndDate) )        
    AND OverheadCost.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR OverheadCost.PlantId IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )                              
                      GROUP BY  SubCategoryName        
                      UNION ALL        
                      SELECT    'Cost Per KG' AS ItemGroup ,        
                                'Labour Cost' AS ItemType ,        
                              --  0 Rate ,        
                               -- 0 AS ConsumptionQty ,        
                              --  0 AS Total ,        
                                0 AS ConsumableQty ,        
                              --  0 AS Total_ConsumableCost ,        
                                SUM(TotalAmount) / @TotalProductionKg AS LabourCost ,        
                                ContractName ,        
                                4 AS No        
                      FROM      dbo.ContractWorkEntryMaster        
                                INNER JOIN dbo.ContractWorkEntryTrans ON dbo.ContractWorkEntryTrans.ContractWorkEntryMasterId = dbo.ContractWorkEntryMaster.ContractWorkEntryMasterId        
                                INNER JOIN dbo.ContractMaster ON dbo.ContractMaster.ContractMasterID = dbo.ContractWorkEntryMaster.ContractMasterId        
                                WHERE        
                                 ContractMaster.EntityId = @EntityId        
                                                              AND ( ISNULL(@PlantIdString , '') = ''        
                 OR ContractMaster.PlantId IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))        
                  )           
                      GROUP BY  ContractName        
                    ) s        
            ORDER BY No ,        
                    MeterName        

END
GO
