USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ProductionReportSand]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- modified by:	<Hemani Vandra>
-- modified date: <10th Sept'19>
-- Description:	<Description,CastCode field is added based on env config castCodeEnabled flag>
-- =============================================
-- ProductionReportSand 0,0,null,null,'2022-01-01','2024-01-01',null,0,null,null,null,null,null,null,null,'1',1,1
CREATE PROCEDURE [dbo].[ProductionReportSand]
    @MetalID BIGINT = 0 ,
    @OperatorID BIGINT = 0 ,
    @DieID UNIQUEIDENTIFIER = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @ProductionDatefrom VARCHAR(20) = NULL ,
    @ProductionDateto VARCHAR(20) = NULL ,
    @ItemName VARCHAR(250) = NULL ,
    @BatchID INT = 0 ,
    @CustomerId UNIQUEIDENTIFIER = NULL ,
    @Furnace VARCHAR(50) = NULL ,
    @Shift VARCHAR(50) = NULL ,
    @HeatCode VARCHAR(50) = NULL ,
    @CustomerCode VARCHAR(50) = NULL,
    @MoldLineID Uniqueidentifier = NULL,
    @MetalType VARCHAR(100)=NULL,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0, 
	@IsWithheatProperty INT = 0,
	@NonCoreCasting bit = 0  
    
AS
BEGIN
	SET NOCOUNT ON;

	SET FMTONLY OFF

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	-----------------------------------------------ALL FILTERS AND INSERT INTO TABLE
	DECLARE @CustPatMap Table(PatternId UNIQUEIDENTIFIER)
	INSERT INTO @CustPatMap(PatternId)
	SELECT PatternId FROM dbo.CustomerPatternMapping(NOLOCK) WHERE CustomerId = @CustomerID

	DECLARE @ProdKnockTmpData TABLE(batchID BIGINT, ProductionDate DATETIME, MetalID INT, operatorID INT, knockoutid BIGINT
					, CustomerCode NVARCHAR(MAX), productionqty BIGINT, perpcweight FLOAT
					, castingid UNIQUEIDENTIFIER, Dieid UNIQUEIDENTIFIER, CastingName VARCHAR(500), CastingCode VARCHAR(500)
					, MetalName VARCHAR(500), MetalType VARCHAR(500), PatternCode VARCHAR(500), MoldLine VARCHAR(500))

	DECLARE @ProdKnockData TABLE(batchID BIGINT, ProductionDate DATETIME, MetalID INT, operatorID INT, knockoutid BIGINT
					, CustomerCode NVARCHAR(MAX), productionqty BIGINT, perpcweight FLOAT
					, castingid UNIQUEIDENTIFIER, Dieid UNIQUEIDENTIFIER, CastingName VARCHAR(500), CastingCode VARCHAR(500)
					, MetalName VARCHAR(500), MetalType VARCHAR(500), PatternCode VARCHAR(500), MoldLine VARCHAR(500)
					)

	INSERT INTO @ProdKnockTmpData(batchID, ProductionDate, MetalID, operatorID, knockoutid
					, CustomerCode, productionqty, perpcweight, castingid, Dieid
					, CastingName, CastingCode, MetalName, MetalType, PatternCode, MoldLine)
	SELECT	ProdKnockCastMtlData.*, PatMst.PatternCode, MldLnMst.MoldLine
	FROM	(

		SELECT	ProdKnockCastData.*, MetMst.MetalName, MetMst.MetalType
		FROM	(

			SELECT	ProdKnockData.*, CastMst.Dieid, CastMst.CastingName, CastMst.CastingCode
			FROM	(

				SELECT	ProdBtch.batchID, ProductionDate, ProdBtch.MetalID, knckt.operatorID, knckt.knockoutid
						, knckt.CustomerCode, knckt.productionqty, knckt.perpcweight, knckt.castingid
				FROM	(

					SELECT	batchID, ProductionDate, MetalID
					FROM	dbo.ProductionBatch(NOLOCK)
					WHERE	IsDeleted = 0 AND EntityID = @EntityId
							AND ( @PlantIdString IS NULL OR @PlantIdString = '' OR PlantID IN ( SELECT Item FROM @Plant))
							AND (CAST(ProductionDate AS DATE) BETWEEN CAST(@ProductionDatefrom AS DATE) AND CAST(@ProductionDateto AS  DATE))
							AND ( @Shift IS NULL OR @Shift = '' OR [Shift] = @Shift)
							AND ( @Furnace IS NULL OR @Furnace = '' OR Furnace = @Furnace)
							AND ( @BatchID = 0 OR batchID = @BatchID)
							AND ( @MetalID = 0 OR MetalID = @MetalID)
				) AS ProdBtch
					INNER JOIN (

							SELECT	batchid, castingid, operatorID, knockoutid, CustomerCode, productionqty, perpcweight
							FROM	dbo.knockout(NOLOCK)
							WHERE	productionqty <> 0 AND IsDeleted = 0
									AND ( @CastingID IS NULL OR castingid = @CastingID)
									AND ( @CustomerCode IS NULL OR @CustomerCode = '' OR CustomerCode = @CustomerCode)
									AND ( @OperatorID = 0 OR dbo.knockout.operatorID = @OperatorID)
									AND (@NonCoreCasting  = 0  or castingid not   in (select castingid from CoreCastingMapping) )
					) AS knckt ON ProdBtch.batchID = knckt.batchid 

			) AS ProdKnockData
			INNER JOIN dbo.CastingMaster(NOLOCK) AS CastMst ON ProdKnockData.castingid = CastMst.CastingId
					AND ( @ItemName IS NULL OR CastMst.CastingName = @ItemName)
					AND ( @CustomerId IS NULL OR (@CustomerId IS NOT NULL AND CastMst.Dieid IN ( SELECT * FROM @CustPatMap )))
					AND ( @DieID IS NULL OR CastMst.Dieid = @DieID)

		) As ProdKnockCastData
			INNER JOIN dbo.MetalMaster(NOLOCK) AS MetMst ON MetMst.MetalId = ProdKnockCastData.MetalID
									AND ( ISNULL(@MetalType, '') = '' OR MetMst.MetalType = @MetalType)

	) As ProdKnockCastMtlData
		INNER JOIN dbo.PatternMaster(NOLOCK) AS PatMst ON ProdKnockCastMtlData.Dieid = PatMst.PatternId
		LEFT JOIN dbo.MoldLineMaster(NOLOCK) AS MldLnMst ON MldLnMst.MoldLineID = PatMst.MoldLineID 
	WHERE ( @MoldLineID IS NULL OR PatMst.MoldLineID = @MoldLineID)
	ORDER BY ProductionDate ASC, batchID ASC

	-----------------------------------------------HEAT CODE DATA - START
	DECLARE @HeatCodeTbl TABLE(ProductionBatchId BIGINT, CastingId UNIQUEIDENTIFIER, HeatCodeId INT, HeatCode NVARCHAR(100))
	IF(ISNULL(@HeatCode, '') != '')
	BEGIN
		INSERT INTO @HeatCodeTbl(ProductionBatchID, CastingID, HeatCodeID, HeatCode)
		SELECT	DISTINCT ProductionBatchID, CastingID, HeatCodeID, HeatCode
		FROM	CastingHeatCode(NOLOCK) AS CastHeatCdTbl 
		WHERE	CastHeatCdTbl.HeatCode = @HeatCode
		
		INSERT INTO @ProdKnockData
		SELECT	DISTINCT ProdKnockData.*
		FROM	@ProdKnockTmpData AS ProdKnockData
				INNER JOIN @HeatCodeTbl AS HeatCodeTbl ON HeatCodeTbl.productionbatchID = ProdKnockData.batchID
							AND HeatCodeTbl.CastingID = ProdKnockData.castingid
	END
	ELSE
	BEGIN
		DECLARE @RowsOfCount INT = 4000;
		IF(@IsWithheatProperty = 0)
		BEGIN
			SET @RowsOfCount = 5000;
		END

		IF((SELECT COUNT(1) FROM @ProdKnockTmpData) <= @RowsOfCount)
		BEGIN
			INSERT INTO @ProdKnockData
			SELECT	ProdKnockData.*
			FROM	@ProdKnockTmpData AS ProdKnockData
		END
		ELSE
		BEGIN
			INSERT INTO @ProdKnockData
			SELECT	TOP (@RowsOfCount) ProdKnockData.*
			FROM	@ProdKnockTmpData AS ProdKnockData
		END

		INSERT INTO @HeatCodeTbl(ProductionBatchID, CastingID, HeatCodeID, HeatCode)
		SELECT	DISTINCT ProductionBatchID, CastingID, HeatCodeID, HeatCode
		FROM	CastingHeatCode(NOLOCK) AS CastHeatCdTbl 
		WHERE	EXISTS (SELECT 1 AS ProductionBatchID 
						FROM @ProdKnockData AS ProdKnockData
						WHERE ProdKnockData.batchID = CastHeatCdTbl.ProductionBatchID)
	END

	-----------------------------------------------DISPATCH DATA - START
	DECLARE @CastingStckbtchTbl TABLE(CastStckBatchid BIGINT, CastingID UNIQUEIDENTIFIER, productionbatchID BIGINT)
	INSERT INTO @CastingStckbtchTbl
	SELECT	CastingStockBatch.Batchid, CastingStockBatch.CastingID, CastingStockBatch.productionbatchID  
	FROM	CastingStockBatch(NOLOCK)
	WHERE	EXISTS (SELECT	1 FROM @ProdKnockData AS ProdKnockData 
					WHERE	ProdKnockData.batchID = CastingStockBatch.productionbatchID
							AND ProdKnockData.castingid = CastingStockBatch.castingid)

	DECLARE @DispGrdDt TABLE(CastStckBatchid BIGINT, Qty INT)
	INSERT INTO @DispGrdDt
	SELECT	DispGrdWs.BatchID, SUM(ISNULL(DispGrdWs.Qty, 0))
	FROM	DispatchGradewise(NOLOCK) AS DispGrdWs
	WHERE	EXISTS (SELECT 1 FROM @CastingStckbtchTbl As CastingStckbtchTbl WHERE CastingStckbtchTbl.CastStckBatchid = DispGrdWs.BatchID)
	GROUP BY DispGrdWs.BatchID

	DECLARE @DispatchTbl TABLE(productionbatchID BIGINT, castingid UNIQUEIDENTIFIER, DispatchQty INT)
	INSERT INTO @DispatchTbl
	SELECT	CastStckBtch.productionbatchID, CastStckBtch.castingid, SUM(DispGrdDt.Qty) AS DispatchQty
	FROM	@DispGrdDt AS DispGrdDt 
			INNER JOIN @CastingStckbtchTbl AS CastStckBtch ON DispGrdDt.CastStckBatchid = CastStckBtch.CastStckBatchid
	GROUP BY CastStckBtch.productionbatchID, CastStckBtch.CastingID
	-----------------------------------------------

	IF (@IsWithheatProperty = 1)
	BEGIN
		-----------------------------------------------HEAT PROPERTY DATA - START
		--DECLARE @HtPrprtDt TABLE (BatchId BIGINT, ChemSecondReading NVARCHAR(500)
		--				, MechSecondReading NVARCHAR(500), MicroSecondReading NVARCHAR(500))
		--INSERT INTO @HtPrprtDt
		--select	BatchId, ChemSecondReading, MechSecondReading, MicroSecondReading
		--from	HeatProperty(NOLOCK) 
		--WHERE	EXISTS (SELECT 1 FROM @ProdKnockData AS ProdKnockData WHERE ProdKnockData.batchID = HeatProperty.BatchId)

		DECLARE @HtPrprtDt TABLE (BatchId BIGINT, ChemSecondReading NVARCHAR(500)
						, MechSecondReading NVARCHAR(500), MicroSecondReading NVARCHAR(500))
		INSERT INTO @HtPrprtDt
		SELECT  
			COALESCE(h.BatchId, m.BatchId, mi.BatchId) AS BatchId,
			h.ChemSecondReading,
			m.MechSecondReading,
			mi.MicroSecondReading
		FROM HeatProperty h (NOLOCK)
		FULL JOIN MechanicalProperty m (NOLOCK) ON h.BatchId = m.BatchId
		FULL JOIN MicroProperty mi (NOLOCK) ON COALESCE(h.BatchId, m.BatchId) = mi.BatchId
		WHERE EXISTS (
			SELECT 1 
			FROM @ProdKnockData AS ProdKnockData 
			WHERE ProdKnockData.BatchId = COALESCE(h.BatchId, m.BatchId, mi.BatchId)
		)
	    AND ISNULL(M.ISDELETED,0) = 0
		AND ISNULL(M.ISFINAL,1) = 1
		
		-----------------------------------------------
		SELECT	RowNo, CONVERT(VARCHAR(15), ProductionDate, 106) AS ProductionDate, 
		ProductionData.BatchNo, 
		CastingName, CastingCode
				, PatternCode,  MetalName, MetalType, ISNULL(MoldLine, '') AS MoldLine,
				 ISNULL(HeatCode, '') AS HeatCode, Customercode, ProductionQty, (ProductionQty - ISNULL(insrej.Rej, 0)) as TotalOKQty, GrossWeight, [weight]
				, (ProductionQty * GrossWeight) as TotalGrossWeight, (ProductionQty * [weight]) as TotalNetWeight
				, ((ProductionQty - ISNULL(insrej.Rej, 0)) * [weight]) as OKNetWeight
				, ((ProductionQty - ISNULL(insrej.Rej, 0)) * GrossWeight) as OKGrossWeight
				, ISNULL(insrej.Rej, 0) as inspectionrej, isnull(insrej.rejWeight, 0) as Rejection
				, ((isnull(insrej.rejWeight, 0) / (ProductionQty * [weight])) * 100) as rejectionper
				, ISNULL(DispatchQty, 0) as DispatchQty, (ProductionQty - ISNULL(insrej.Rej, 0) - ISNULL(DispatchQty, 0)) as PendingQty
				, operator, LogsheetNo, ISNULL(MeltingTemp, '') AS MeltingTemp, ISNULL(FirstBoxPouringTemp, '' ) AS FirstBoxPouringTemp,
				ISNULL(LastBoxPouringTemp, '') AS LastBoxPouringTemp, CONVERT(TIME, StartTime) AS StartTime
				, CONVERT(TIME, EndTime) AS EndTime
				, (CASE	WHEN DATEDIFF(MINUTE, (cast(Cast(ProductionDate as date) as datetime)+CAST(CAST(StartTime AS TIME) AS DATETIME))
											, (cast(Cast(ProductionDate as date) as datetime)+ CAST(CAST(EndTime AS TIME) AS DATETIME))) < 0 
				 THEN  DATEDIFF(MINUTE, (cast(Cast(ProductionDate as date) as datetime)+CAST(CAST(StartTime AS TIME) AS DATETIME))
										, (cast(dateadd(day,1,Cast(ProductionDate as date)) as datetime)+ CAST(CAST(EndTime AS TIME) AS DATETIME)))
						ELSE DATEDIFF(MINUTE, (cast(Cast(ProductionDate as date) as datetime)+CAST(CAST(StartTime AS TIME) AS DATETIME))
										, (cast(Cast(ProductionDate as date) as datetime)+ CAST(CAST(EndTime AS TIME) AS DATETIME))) 
				END) AS Timeduration, 

				--(CASE	WHEN DATEDIFF(MINUTE, CAST(StartTime AS TIME), CAST(EndTime AS TIME)) < 0 THEN DATEDIFF(MINUTE, StartTime, EndTime) 
				--		ELSE DATEDIFF(MINUTE, CAST(StartTime AS TIME), CAST(EndTime AS TIME)) 
				--END) AS Timeduration, 
				Furnace ,  Shift 
				, ISNULL(HeatProperty.ChemSecondReading, '') AS ChemSecondReading,  
				ISNULL(HeatProperty.MechSecondReading, '') AS MechSecondReading,
				ISNULL(HeatProperty.MicroSecondReading, '') AS MicroSecondReading,
				sum(ProductionQty) over() as TotalProdQty, sum(ProductionQty - ISNULL(insrej.Rej,0)) over() as SumTotalOKQty
				, sum(GrossWeight) over() as Total_IndividualGrossWeight, sum(weight)over() as Total_IndividualNetWeight
				, SUM(ProductionQty * GrossWeight) over ()as Total_GrossWeight, SUM(ProductionQty * weight) over() as Total_NetWeight
				, sum((ProductionQty - ISNULL(insrej.Rej,0))*weight) over() as SumTotalOKWeight
				, Sum((ProductionQty - ISNULL(insrej.Rej,0))*GrossWeight) over() as SumTotalOKGrossWeight
				, Sum(ISNULL(insrej.Rej,0)) over() as TotalRej, Sum( isnull(insrej.rejWeight,0)) over() as TotalRejWt
				, SUM(ISNULL(DispatchQty,0)) over() as TotalDispatchQty
				, SUM((ProductionQty - ISNULL(insrej.Rej,0) - ISNULL(DispatchQty,0)))  over()  as TotalPendingQty
                                           
		FROM (
			
				SELECT	
						ROW_NUMBER() OVER (ORDER BY ProdKnockData.ProductionDate ASC, ProdKnockData.batchID ASC) AS RowNo
						, ProdKnockData.batchID
						, ProdTbl.ProductionDate, batchno, LogsheetNo, MeltingTemp, FirstBoxPouringTemp, 
						LastBoxPouringTemp, StartTime, EndTime, 
						Furnace, [Shift]
						, ISNULL(ProdKnockData.perpcweight, 0) AS [weight],
						ProdKnockData.productionqty AS ProductionQty, ProdKnockData.CustomerCode,
						MetalName, MetalType, ProdKnockData.MetalId
						, castmtl.GrossWeight, 
						CastingName, CastingCode, PatternCode, MoldLine, EmpDtls.EmployeeName AS operator,
						ProdKnockData.CastingId
				FROM	@ProdKnockData AS ProdKnockData
						INNER JOIN dbo.ProductionBatch(NOLOCK) AS ProdTbl ON ProdKnockData.batchID = ProdTbl.batchID
						INNER JOIN (
								SELECT EmployeeId, EmployeeName FROM dbo.EmployeeDetails(NOLOCK)
						) AS EmpDtls ON ProdKnockData.operatorID = EmpDtls.EmployeeId
						INNER JOIN (
								SELECT castingID, metalid, GrossWeight FROM dbo.CastingMetal(NOLOCK)
						) AS castmtl ON ProdKnockData.castingid = castmtl.castingID 
										AND ProdKnockData.MetalID = castmtl.metalid
		) AS ProductionData
	
		LEFT JOIN (
				SELECT	ProductionBatchID, CastingID, MetalID, SUM(CastFnlRej.RejQty) Rej, SUM(CastFnlRej.[Weight]) AS rejWeight 
				FROM	dbo.CastingFinalRejection AS CastFnlRej
				WHERE	RejQty > 0 AND CastFnlRej.IsInHouseRej = 1
				GROUP BY ProductionBatchID, CastingID, MetalID
		) AS insrej ON ProductionData.batchID = insrej.ProductionBatchID
						AND ProductionData.castingid = insrej.CastingID
						AND ProductionData.MetalID = insrej.MetalID
		
		LEFT JOIN (
				SELECT  DISTINCT Results.ProductionBatchID, Results.CastingID
						, (STUFF((	SELECT	', ' + FINAL.HeatCode
									FROM	(

											SELECT	InHeatCodeTbl.ProductionBatchID, InHeatCodeTbl.CastingID, InHeatCodeTbl.HeatCode 
											FROM	@HeatCodeTbl AS InHeatCodeTbl 
												
									) AS FINAL
									WHERE   (FINAL.ProductionBatchID = Results.ProductionBatchID AND FINAL.CastingID = Results.CastingID) 
								FOR XML PATH(''), TYPE ).value('(./text())[1]', 'NVARCHAR(500)'), 1, 2, '')
						) AS HeatCode
				FROM    @HeatCodeTbl AS Results
		) AS CastHtCdTbl ON CastHtCdTbl.ProductionBatchID = ProductionData.batchID
						AND CastHtCdTbl.CastingID = ProductionData.castingid

		LEFT JOIN @DispatchTbl AS DispatchTable ON DispatchTable.productionbatchID = ProductionData.batchid
						AND DispatchTable.castingid = ProductionData.castingid

		LEFT JOIN @HtPrprtDt As HeatProperty ON ProductionData.batchID = HeatProperty.BatchId
	
		ORDER BY RowNo ASC

	END
	ELSE
	BEGIN

		SELECT	RowNo, CONVERT(VARCHAR(15), ProductionDate, 106) AS ProductionDate, ProductionData.BatchNo, CastingName, CastingCode
				, PatternCode,  MetalName, MetalType, isnull(MoldLine, '') AS MoldLine,
				 ISNULL(HeatCode, '') AS HeatCode,  Customercode, ProductionQty, (ProductionQty - ISNULL(insrej.Rej, 0)) as TotalOKQty, GrossWeight, [weight]
				, (ProductionQty * GrossWeight) as TotalGrossWeight, (ProductionQty * [weight]) as TotalNetWeight
				, ((ProductionQty - ISNULL(insrej.Rej, 0)) * [weight]) as OKNetWeight
				, ((ProductionQty - ISNULL(insrej.Rej, 0)) * GrossWeight) as OKGrossWeight
				, ISNULL(insrej.Rej, 0) as inspectionrej, isnull(insrej.rejWeight, 0) as Rejection
				, ((isnull(insrej.rejWeight, 0) / (ProductionQty * [weight])) * 100) as rejectionper
				, ISNULL(DispatchQty, 0) as DispatchQty, (ProductionQty - ISNULL(insrej.Rej, 0) - ISNULL(DispatchQty, 0)) as PendingQty
				, operator, LogsheetNo, ISNULL(MeltingTemp, '') AS MeltingTemp, ISNULL(FirstBoxPouringTemp, '' ) AS FirstBoxPouringTemp,
				ISNULL(LastBoxPouringTemp, '') AS LastBoxPouringTemp, CONVERT(TIME, StartTime) AS StartTime
				, CONVERT(TIME, EndTime) AS EndTime
				, (CASE	WHEN DATEDIFF(MINUTE, (cast(Cast(ProductionDate as date) as datetime)+CAST(CAST(StartTime AS TIME) AS DATETIME))
											, (cast(Cast(ProductionDate as date) as datetime)+ CAST(CAST(EndTime AS TIME) AS DATETIME))) < 0 
				 THEN  DATEDIFF(MINUTE, (cast(Cast(ProductionDate as date) as datetime)+CAST(CAST(StartTime AS TIME) AS DATETIME))
										, (cast(dateadd(day,1,Cast(ProductionDate as date)) as datetime)+ CAST(CAST(EndTime AS TIME) AS DATETIME)))
						ELSE DATEDIFF(MINUTE, (cast(Cast(ProductionDate as date) as datetime)+CAST(CAST(StartTime AS TIME) AS DATETIME))
										, (cast(Cast(ProductionDate as date) as datetime)+ CAST(CAST(EndTime AS TIME) AS DATETIME))) 
				END) AS Timeduration
				--, (CASE	WHEN DATEDIFF(MINUTE, CAST(StartTime AS TIME), CAST(EndTime AS TIME)) < 0 THEN DATEDIFF(MINUTE, StartTime, EndTime) 
				--		ELSE DATEDIFF(MINUTE, CAST(StartTime AS TIME), CAST(EndTime AS TIME)) 
				--END) AS Timeduration
				, Furnace ,  Shift 
				, '' AS ChemSecondReading, '' AS MechSecondReading, '' AS MicroSecondReading
				, sum(ProductionQty) over() as TotalProdQty, sum(ProductionQty - ISNULL(insrej.Rej,0)) over() as SumTotalOKQty
				, sum(GrossWeight) over() as Total_IndividualGrossWeight, sum(weight)over() as Total_IndividualNetWeight
				, SUM(ProductionQty * GrossWeight) over ()as Total_GrossWeight, SUM(ProductionQty * weight) over() as Total_NetWeight
				, sum((ProductionQty - ISNULL(insrej.Rej,0))*weight) over() as SumTotalOKWeight
				, Sum((ProductionQty - ISNULL(insrej.Rej,0))*GrossWeight) over() as SumTotalOKGrossWeight
				, Sum(ISNULL(insrej.Rej,0)) over() as TotalRej, Sum( isnull(insrej.rejWeight,0)) over() as TotalRejWt
				, SUM(ISNULL(DispatchQty,0)) over() as TotalDispatchQty
				, SUM((ProductionQty - ISNULL(insrej.Rej,0) - ISNULL(DispatchQty,0)))  over()  as TotalPendingQty
                                           
		FROM (
			
				SELECT	
						ROW_NUMBER() OVER (ORDER BY ProdKnockData.ProductionDate ASC, ProdKnockData.batchID ASC) AS RowNo
						, ProdKnockData.batchID
						, ProdTbl.ProductionDate, batchno, LogsheetNo, MeltingTemp, FirstBoxPouringTemp, 
						LastBoxPouringTemp, StartTime, EndTime, 
						Furnace, [Shift]
						, ISNULL(ProdKnockData.perpcweight, 0) AS [weight],
						ProdKnockData.productionqty AS ProductionQty, ProdKnockData.CustomerCode,
						MetalName, MetalType, ProdKnockData.MetalId
						, castmtl.GrossWeight, 
						CastingName, CastingCode, PatternCode, MoldLine, EmpDtls.EmployeeName AS operator,
						ProdKnockData.CastingId
				FROM	@ProdKnockData AS ProdKnockData
						INNER JOIN dbo.ProductionBatch(NOLOCK) AS ProdTbl ON ProdKnockData.batchID = ProdTbl.batchID
						INNER JOIN (
								SELECT EmployeeId, EmployeeName FROM dbo.EmployeeDetails(NOLOCK)
						) AS EmpDtls ON ProdKnockData.operatorID = EmpDtls.EmployeeId
						INNER JOIN (
								SELECT castingID, metalid, GrossWeight FROM dbo.CastingMetal(NOLOCK)
						) AS castmtl ON ProdKnockData.castingid = castmtl.castingID 
										AND ProdKnockData.MetalID = castmtl.metalid
		) AS ProductionData
	
		LEFT JOIN (
				SELECT	ProductionBatchID, CastingID, MetalID, SUM(CastFnlRej.RejQty) Rej, SUM(CastFnlRej.[Weight]) AS rejWeight 
				FROM	dbo.CastingFinalRejection AS CastFnlRej
				WHERE	RejQty > 0 AND CastFnlRej.IsInHouseRej = 1
				GROUP BY ProductionBatchID, CastingID, MetalID
		) AS insrej ON ProductionData.batchID = insrej.ProductionBatchID
						AND ProductionData.castingid = insrej.CastingID
						AND ProductionData.MetalID = insrej.MetalID
		
		LEFT JOIN (
				SELECT  DISTINCT Results.ProductionBatchID, Results.CastingID
						, (STUFF((	SELECT	', ' + FINAL.HeatCode
									FROM	(

											SELECT	InHeatCodeTbl.ProductionBatchID, InHeatCodeTbl.CastingID, InHeatCodeTbl.HeatCode 
											FROM	@HeatCodeTbl AS InHeatCodeTbl 
												
									) AS FINAL
									WHERE   (FINAL.ProductionBatchID = Results.ProductionBatchID AND FINAL.CastingID = Results.CastingID) 
								FOR XML PATH(''), TYPE ).value('(./text())[1]', 'NVARCHAR(500)'), 1, 2, '')
						) AS HeatCode
				FROM    @HeatCodeTbl AS Results
		) AS CastHtCdTbl ON CastHtCdTbl.ProductionBatchID = ProductionData.batchID
						AND CastHtCdTbl.CastingID = ProductionData.castingid

		LEFT JOIN @DispatchTbl AS DispatchTable ON DispatchTable.productionbatchID = ProductionData.batchid
						AND DispatchTable.castingid = ProductionData.castingid

		ORDER BY RowNo ASC
	END

END
GO
