USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportCustomerWiseCastingWiseStockBreakUp]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
-- =============================================  
-- Author:  <Author,,Dhruvin>  
-- Create date: <Create Date,,17-06-2020>  
-- Description: <Description,,Report Customerwise castingwise stpck breakup>  
-- =============================================  
 CREATE PROCEDURE [dbo].[ReportCustomerWiseCastingWiseStockBreakUp]  
	@IsUOM BIT = 0 ,  
    @TransactionDateFrom DATETIME = NULL ,  
    @TransactionDateTo DATETIME = NULL ,  
    @CastingName VARCHAR(100) = NULL ,  
	@CastingId UNIQUEIDENTIFIER = NULL ,  
	@PlantIdString VARCHAR(MAX) = NULL,  
	@Active BIT = 0 ,  
    @CustomerID UNIQUEIDENTIFIER = NULL ,  
    @IsProductionDate BIT = 0 ,  
    @EntityID INT = 0,  
	@CustomerGroupId UNIQUEIDENTIFIER = NULL ,  
    --@MetalId BIGINT = 0 ,  
    @PatternId UNIQUEIDENTIFIER = NULL ,
    @Type int = 1 ,
	@PlantId int =0 ,
	@OrderApprovalRequire bit = 0
	
AS  
BEGIN  
       
       
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
		
 select   distinct   ROW_NUMBER() OVER ( ORDER BY CastingName ) AS SrNo ,temp.* , 
   (Case when UOM= 'Perkg' then temp.BalancedStockQty * Rate.Rate * Rate.CastingWeight 
   else temp.BalancedStockQty * Rate.Rate end) as CastingValue ,isnull( Rate.Rate , 0 ) as Rate 
   into #TEMP
   from (
            SELECT      
  
            distinct      
                    CastingList.CastingName ,  
                    CastingList.CastingCode ,  
                    PatternMaster.PatternCode ,  
                    --(ISNULL(knockoutTable.knockoutTotalOpening, 0) + ISNULL(AssemblyProduction.TotalOpening,0)
                    --+ ISNULL(InwardCastingPurchaseTable.InwardTotalOpening, 0)
                    --+ISNULL(FGInventoryHistoryTable.FGInventoryHistoryTotalOpening,0) - ISNULL(CastingFinalRejectionRejectionTotalOpening, 0)
                    --- ISNULL(dispatchtransactionTotal.TotalOpening, 0) - ISNULL(JobOuttransactionTotal.TotalOpening,0) - ISNULL(AssemblyConsumption.TotalOpening,0)
                    --) as OpeningStock,
					 (ISNULL(knockoutTable.knockoutqtyOpening, 0) + ISNULL(AssemblyProduction.QtyOpening,0)
                    + ISNULL(InwardCastingPurchaseTable.InwardqtyOpening, 0)
					+ ISNULL(InterPlantInward.InwardqtyOpening, 0)
                    +ISNULL(FGInventoryHistoryTable.FGInventoryHistoryqtyOpening,0) - ISNULL(CastingFinalRejectionRejectionQtyOpening, 0)
                    - ISNULL(dispatchtransactionTotal.dispatchqtyOpening, 0) - ISNULL(JobOuttransactionTotal.dispatchqtyOpening,0) - ISNULL(AssemblyConsumption.dispatchqtyOpening,0)
					- ISNULL(InterPlantTransfer.dispatchqtyOpening, 0) 
                    ) * Metal.CastingNetWeight as OpeningStock,

                    (ISNULL(knockoutTable.knockoutqtyOpening, 0) + ISNULL(AssemblyProduction.QtyOpening,0)
                    + ISNULL(InwardCastingPurchaseTable.InwardqtyOpening, 0)
					+ ISNULL(InterPlantInward.InwardqtyOpening, 0)
                    +ISNULL(FGInventoryHistoryTable.FGInventoryHistoryqtyOpening,0) - ISNULL(CastingFinalRejectionRejectionQtyOpening, 0)
                    - ISNULL(dispatchtransactionTotal.dispatchqtyOpening, 0) - ISNULL(JobOuttransactionTotal.dispatchqtyOpening,0) - ISNULL(AssemblyConsumption.dispatchqtyOpening,0)
					 - ISNULL(InterPlantTransfer.dispatchqtyOpening, 0)
                    ) as OpeningStockQuantity,
                    
                    
                    ISNULL(knockoutTable.knockoutTotalOpening, 0) + ISNULL(AssemblyProduction.TotalOpening,0) AS ProductionKGOpening ,  
                    ISNULL(knockoutTable.knockoutqtyOpening, 0) + ISNULL(AssemblyProduction.QtyOpening,0) AS ProductionQtyOpening ,  
                    ISNULL(InwardCastingPurchaseTable.InwardTotalOpening, 0) AS InwardKGOpening ,  
                    ISNULL(InwardCastingPurchaseTable.InwardqtyOpening, 0) AS InwardQtyOpening ,  
                    ISNULL(FGInventoryHistoryTable.FGInventoryHistoryTotalOpening,0) AS StockTransferKGOpening ,  
                    ISNULL(FGInventoryHistoryTable.FGInventoryHistoryqtyOpening,0) AS StockTransferQtyOpening ,  
                    ISNULL(CastingFinalRejectionRejectionTotalOpening, 0) AS RejectionKGOpening ,  
                    ISNULL(CastingFinalRejectionRejectionQtyOpening, 0) AS RejectionQtyOpening ,  
                    (ISNULL(dispatchtransactionTotal.TotalOpening, 0) + ISNULL(JobOuttransactionTotal.TotalOpening,0) + ISNULL(AssemblyConsumption.TotalOpening,0)) AS DispatchedKGOpening ,   
                    -- + ISNULL(DispatchSetCastingTotal.TotalOpening, 0)
                    (ISNULL(dispatchtransactionTotal.dispatchqtyOpening, 0)+(ISNULL(JobOuttransactionTotal.dispatchqtyOpening,0))+ ISNULL(AssemblyConsumption.dispatchqtyOpening,0))  AS DispatchedQtyOpening ,  
                    -- + ISNULL(DispatchSetCastingTotal.dispatchqtyOpening, 0) 
                    ISNULL(knockoutTable.knockoutTotal, 0) + isnull(AssemblyProduction.Total,0) AS ProductionKG ,  
                    ISNULL(knockoutTable.knockoutqty, 0) + ISNULL(AssemblyProduction.Qty,0) AS ProductionQty ,  
                    ISNULL(InwardCastingPurchaseTable.InwardTotal, 0) AS InwardKG ,  
                    ISNULL(InwardCastingPurchaseTable.Inwardqty, 0) AS InwardQty ,  
                    ISNULL(FGInventoryHistoryTable.FGInventoryHistoryTotal, 0) AS StockTransferKG ,  
                    ISNULL(FGInventoryHistoryTable.FGInventoryHistoryqty, 0) AS StockTransferQty ,  
                    ISNULL(CastingFinalRejectionRejectionTotal, 0) AS RejectionKG ,  
                    ISNULL(CastingFinalRejectionRejectionqty, 0) AS RejectionQty ,  
                    ISNULL(CastingFinalRejectionPartyRejectionTotal, 0) AS PartyRejectionKG ,  
                    ISNULL(CastingFinalRejectioPartyRejectionnqty, 0) AS PartyRejectionQty ,                 
                    (ISNULL(dispatchtransactionTotal.Total, 0) +(ISNULL(JobOuttransactionTotal.Total,0)) + ISNULL( AssemblyConsumption.Total,0)) AS DispatchedKG ,  
                    -- + ISNULL(DispatchSetCastingTotal.Total, 0) 
                    (ISNULL(dispatchtransactionTotal.dispatchqty, 0)+ ISNULL(JobOuttransactionTotal.dispatchqty,0) + ISNULL(AssemblyConsumption.dispatchqty,0))  AS DispatchedQty , 
                    -- + ISNULL(DispatchSetCastingTotal.dispatchqty, 0) 
                    --STUFF(( SELECT  ',' + dbo.DrawingNoMaster.DrawingNo  
                    --        FROM    CastingMaster  
                    --                INNER JOIN dbo.DrawingNoMaster ON dbo.DrawingNoMaster.CastingId = dbo.CastingMaster.CastingId  
                    --        WHERE   DrawingNoMaster.CastingId = CastingMaster.CastingId  
                    --      FOR  
                    --        XML PATH('')  
                    --      ), 1, 1, '') AS DrawingNo ,  
                    case when (ISNULL(knockoutTable.knockoutTotal, 0) + ISNULL(AssemblyProduction.Total,0)+ ISNULL(InwardCastingPurchaseTable.InwardTotal, 0)+ ISNULL(InterPlantInward.InwardTotal, 0)) >0 then 
					(ISNULL(CastingFinalRejectionRejectionTotal, 0) / ( (ISNULL(knockoutTable.knockoutTotal, 0) + ISNULL(AssemblyProduction.Total,0) + ISNULL(InwardCastingPurchaseTable.InwardTotal, 0) + ISNULL(InterPlantInward.InwardTotal, 0))) * 100) 
					else 0 end 
					as RejectionPer,
					
                    (ISNULL(CastingFinalRejectionPartyRejectionTotal, 0) / (case when (ISNULL(knockoutTable.knockoutTotal, 0) + ISNULL(AssemblyProduction.Total,0)
                    + ISNULL(InwardCastingPurchaseTable.InwardTotal, 0)  + ISNULL(InterPlantInward.InwardTotal, 0) ) > 0 then 
                    (ISNULL(knockoutTable.knockoutTotal, 0) + ISNULL(AssemblyProduction.Total,0)
                    + ISNULL(InwardCastingPurchaseTable.InwardTotal, 0)  + ISNULL(InterPlantInward.InwardTotal, 0) ) else 1 end) * 100) as PartyRejectionPer,
                    
                    --(ISNULL(knockoutTable.knockoutTotalOpening, 0) + ISNULL(AssemblyProduction.TotalOpening,0)
                    --+ ISNULL(InwardCastingPurchaseTable.InwardTotalOpening, 0)
                    --+ISNULL(FGInventoryHistoryTable.FGInventoryHistoryTotalOpening,0) - ISNULL(CastingFinalRejectionRejectionTotalOpening, 0)
                    --- ISNULL(dispatchtransactionTotal.TotalOpening, 0) - ISNULL(JobOuttransactionTotal.TotalOpening,0) - ISNULL(AssemblyConsumption.TotalOpening,0)
                    
                    --+ISNULL(knockoutTable.knockoutTotal, 0) + ISNULL(AssemblyProduction.Total,0)+ ISNULL(InwardCastingPurchaseTable.InwardTotal, 0) + ISNULL(FGInventoryHistoryTable.FGInventoryHistoryTotal, 0)
                    ---ISNULL(CastingFinalRejectionRejectionTotal, 0) - ISNULL(dispatchtransactionTotal.Total, 0) - ISNULL(JobOuttransactionTotal.Total,0) - ISNULL(AssemblyConsumption.Total,0)
                    --) AS BalancedStock ,
                    
					(ISNULL(knockoutTable.knockoutqtyOpening, 0) + ISNULL( AssemblyProduction.QtyOpening,0) + ISNULL(InwardCastingPurchaseTable.InwardqtyOpening, 0)
					+ ISNULL(InterPlantInward.InwardqtyOpening, 0)
                    +ISNULL(FGInventoryHistoryTable.FGInventoryHistoryqtyOpening,0) - ISNULL(CastingFinalRejectionRejectionQtyOpening, 0)
                    - ISNULL(dispatchtransactionTotal.dispatchqtyOpening, 0) - ISNULL(JobOuttransactionTotal.dispatchqtyOpening,0) - ISNULL(AssemblyConsumption.dispatchqtyOpening,0)
                      - ISNULL(InterPlantTransfer.dispatchqtyOpening, 0)
                    + ISNULL(knockoutTable.knockoutqty, 0) + ISNULL(AssemblyProduction.Qty,0) + ISNULL(InwardCastingPurchaseTable.Inwardqty, 0) 
					+ ISNULL(InterPlantInward.Inwardqty, 0) 
					+ ISNULL(FGInventoryHistoryTable.FGInventoryHistoryqty, 0)
                    - ISNULL(CastingFinalRejectionRejectionqty, 0) - ISNULL(dispatchtransactionTotal.dispatchqty, 0) - ISNULL(JobOuttransactionTotal.dispatchqty,0) - ISNULL(AssemblyConsumption.dispatchqty,0)
					- ISNULL(InterPlantTransfer.dispatchqty, 0)
                    
                    ) * Metal.CastingNetWeight AS BalancedStock, 

                    (ISNULL(knockoutTable.knockoutqtyOpening, 0) + ISNULL( AssemblyProduction.QtyOpening,0) + ISNULL(InwardCastingPurchaseTable.InwardqtyOpening, 0)
					+ ISNULL(InterPlantInward.InwardqtyOpening, 0)                    +ISNULL(FGInventoryHistoryTable.FGInventoryHistoryqtyOpening,0) - ISNULL(CastingFinalRejectionRejectionQtyOpening, 0)
                    - ISNULL(dispatchtransactionTotal.dispatchqtyOpening, 0) - ISNULL(JobOuttransactionTotal.dispatchqtyOpening,0) - ISNULL(AssemblyConsumption.dispatchqtyOpening,0)
                               - ISNULL(InterPlantTransfer.dispatchqtyOpening, 0)
                    + ISNULL(knockoutTable.knockoutqty, 0) + ISNULL(AssemblyProduction.Qty,0) + ISNULL(InwardCastingPurchaseTable.Inwardqty, 0) 
					+ ISNULL(InterPlantInward.Inwardqty, 0) 
					+ ISNULL(FGInventoryHistoryTable.FGInventoryHistoryqty, 0)
                    - ISNULL(CastingFinalRejectionRejectionqty, 0) - ISNULL(dispatchtransactionTotal.dispatchqty, 0) - ISNULL(JobOuttransactionTotal.dispatchqty,0) - ISNULL(AssemblyConsumption.dispatchqty,0)
                    		- ISNULL(InterPlantTransfer.dispatchqty, 0)
                    ) AS BalancedStockQty 
                    ,CastingList.castingId
					,isnull(CastingFinalRejectionRejectionqty,0) as inhouseRejQty
					,isnull(CastingFinalRejectioPartyRejectionnqty,0) as customerRejQty
					,ISNULL(InterPlantTransfer.dispatchqty, 0 ) as PlantTrnasfer
					,ISNULL(InterPlantInward.Inwardqty, 0 ) as PlantInward
					
                 --,'' as Metal
            FROM   CastingMaster AS CastingList 
					Inner Join (select	CastingMetal.CastingNetWeight, CastingMetal.castingID, 
										ROW_NUMBER() over(Partition by CastingMetal.castingId order by  CastingMetal.castingId) as srno 
								from	CastingMetal 
								where	IsDeleted = 0 and IsProductionGrade = 0 
								)
							as Metal on Metal.srno = 1 and Metal.castingID = CastingList.CastingId
					inner join dbo.PatternMaster ON CastingList.Dieid = dbo.PatternMaster.PatternId
                    LEFT JOIN ( SELECT  SUM(CASE WHEN CAST(ProductionDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN dbo.knockout.productionqty  
                                                      * dbo.knockout.perpcweight  
                                                 ELSE 0  
                                            END) knockoutTotalOpening ,  
                                        SUM(CASE WHEN CAST(ProductionDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN dbo.knockout.productionqty  
                                                 ELSE 0  
                                            END) knockoutqtyOpening ,  
                                        SUM(CASE WHEN CAST(ProductionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN dbo.knockout.productionqty  
                                                      * dbo.knockout.perpcweight  
                                                 ELSE 0  
                                            END) knockoutTotal ,  
                                        SUM(CASE WHEN CAST(ProductionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN dbo.knockout.productionqty  
                                                 ELSE 0  
                                            END) knockoutqty ,  
                                        dbo.knockout.castingid
                                         --,  dbo.ProductionBatch.MetalID  
                                FROM    dbo.knockout  
                                        INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.knockout.batchid  
                                        INNER JOIN CastingMaster CM ON CM.CastingId = dbo.knockout.castingid  
                                WHERE   knockout.IsDeleted = 0  
                                        AND dbo.ProductionBatch.IsDeleted = 0  
                                        AND ( @CastingId IS NULL  
                                              OR CM.CastingId = @CastingId  
                                            )  
                                        AND ( @CastingName IS NULL  
                                              OR CM.CastingName = @CastingName  
                                            )  
                                        AND ProductionDate <= @TransactionDateTo  
                                        AND ( @PlantIdString IS NULL  
                                              OR @PlantIdString = ''  
                                              OR knockout.CastingId IN (  
                                              SELECT    CastingId  
                                              FROM      dbo.PlantCastingMapping  
                                                         where PlantId in (SELECT Item FROM @Plant))  
                                            )  
                                        AND ProductionBatch.EntityID = @EntityId  
										AND (@PlantId = 0 OR ProductionBatch.PlantID =@PlantId)
                                GROUP BY knockout.CastingID 
                                --,  dbo.ProductionBatch.MetalID  
                              ) AS knockoutTable ON knockoutTable.castingid = CastingList.CastingId  
                                                --   AND knockoutTable.MetalID = CastingList.metalid  
                     
							LEFT JOIN (SELECT  SUM(CASE WHEN CAST(InwardDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN case when RawMaterialInward.IsForJobReturn = 0 then 
													 dbo.InwardCastingPurchase.AcceptedQty   
														  * InwardCastingPurchase.PerPcWeight
															--(case when RawMaterialInward.JobIn = 1 then OrderTranse.ApproxWeight 
															--else dbo.PurchaseOrderCastingPurchaseTrans.ApproxWeight end)
                                                 else dbo.InwardCastingPurchase.AcceptedQty  * InwardCastingPurchase.PerPcWeight
                                                 end 
                                                 ELSE 0  
                                            END) InwardTotalOpening ,  
                                        SUM(CASE WHEN CAST(InwardDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN dbo.InwardCastingPurchase.AcceptedQty  
                                                 ELSE 0  
                                            END) InwardqtyOpening ,  
                                        SUM(CASE WHEN CAST(InwardDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN case when RawMaterialInward.IsForJobReturn = 0 then dbo.InwardCastingPurchase.AcceptedQty  
                                                      *   InwardCastingPurchase.PerPcWeight
														--(case when RawMaterialInward.JobIn = 1 then OrderTranse.ApproxWeight 
														--	else dbo.PurchaseOrderCastingPurchaseTrans.ApproxWeight end)
												 else  InwardCastingPurchase.AcceptedQty * InwardCastingPurchase.PerPcWeight end
                                                 ELSE 0  
                                            END) InwardTotal ,  
                                        SUM(CASE WHEN CAST(InwardDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN dbo.InwardCastingPurchase.AcceptedQty  
                                                 ELSE 0  
                                            END) Inwardqty ,  
                                        pm.castingid 
                                        --,  dbo.InwardCastingPurchase.MetalID  
                                FROM    dbo.RawMaterialInward  
                                        INNER JOIN dbo.InwardCastingPurchase ON dbo.InwardCastingPurchase.InwardId = dbo.RawMaterialInward.InwardId  
                                        --LEFT JOIN PurchaseOrderCastingPurchaseTrans On PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseID = InwardCastingPurchase.PurchaseOrderCastingPurchaseID  
                                        --LEFT JOIN OrderTranse On OrderTranse.OrderTranseId = InwardCastingPurchase.PurchaseOrderCastingPurchaseID 
                                        INNER JOIN CastingMaster CM ON CM.CastingId = dbo.InwardCastingPurchase.castingid 
										
										inner join castingmaster pm on pm.CastingId = isnull(cm.ParentId,cm.castingId)
           --                             INNER JOIN CastingMetal On CastingMetal.castingID = CM.CastingId
											--and CastingMetal.metalid = InwardCastingPurchase.MetalID 
                                WHERE isnull(InwardCastingPurchase.IsDeleted,0) = 0 
										AND isnull(IsMachineShopInward,0) = 0 
										AND  RawMaterialInward.IsDeleted = 0  
                                          
                                        AND ( @CastingId IS NULL  
                                              OR pm.CastingId = @CastingId  
                                            )  
                                        AND ( @CastingName IS NULL  
                                              OR pm.CastingName = @CastingName  
                                            )  
                                        AND CAST(RawMaterialInward.InwardDate AS DATE) <= CAST(@TransactionDateTo AS DATE)
             --                           AND ( @PlantIdString IS NULL  
             --                                 OR @PlantIdString = ''  
             --                                 Or RawMaterialInward.PlantId in  
											  --(    
											  --SELECT Item FROM @Plant    
											  --)   
             --                           )  
                                        AND RawMaterialInward.EntityID = @EntityId  
										AND (@PlantId = 0 OR RawMaterialInward.PlantID =@PlantId)
                                        AND InwardCastingPurchase.InwardCastingPurchaseId NOT IN (
											SELECT icp.InwardCastingPurchaseId 
											FROM InwardCastingPurchase AS icp
											INNER JOIN PurchaseOrderCastingPurchaseTrans AS Pocpt 
																	ON Pocpt.PurchaseOrderCastingPurchaseId = icp.PurchaseOrderCastingPurchaseId
																	AND ISNULL(Pocpt.ReturnTransID, 0) != 0
                                        )
                                GROUP BY pm.CastingID 
                                --,  dbo.InwardCastingPurchase.MetalID  
							) as InwardCastingPurchaseTable ON InwardCastingPurchaseTable.castingid = CastingList.CastingId  
                                                   -- AND InwardCastingPurchaseTable.MetalID = CastingList.metalid  
                     
                    LEFT JOIN ( SELECT  SUM(CASE WHEN CAST(ProcessDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN FGInventoryHistory.TransactionQty  
                                                      * CastingMetal.CastingNetWeight  
                                                 ELSE 0  
                                            END) FGInventoryHistoryTotalOpening ,  
                                        SUM(CASE WHEN CAST(ProcessDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN FGInventoryHistory.TransactionQty  
                                                 ELSE 0  
                                            END) FGInventoryHistoryqtyOpening ,  
                                        SUM(CASE WHEN CAST(ProcessDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN FGInventoryHistory.TransactionQty  
                                                      * CastingMetal.CastingNetWeight  
                                                 ELSE 0  
                                            END) FGInventoryHistoryTotal ,  
                                        SUM(CASE WHEN CAST(ProcessDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                    THEN FGInventoryHistory.TransactionQty  
                                                 ELSE 0  
                                            END) FGInventoryHistoryqty ,  
                                        dbo.FGInventoryHistory.castingid
                                         --,  dbo.FGInventoryHistory.MetalId  
                                FROM    dbo.FGInventoryHistory  
                                        INNER JOIN dbo.CastingMaster CM ON CM.CastingId = dbo.FGInventoryHistory.CastingId  
                                        INNER JOIN dbo.CastingMetal ON dbo.CastingMetal.castingID = CM.CastingId  
                                                              AND dbo.CastingMetal.metalid = dbo.FGInventoryHistory.MetalId  
                                WHERE   ( FGInventoryHistory.Tagging = 'StockTransfer'  
                                          OR FGInventoryHistory.Tagging = 'Opening Stock'  
                                          OR Tagging = 'MANAGE REJ CUST'  
                                        )  
                                        AND ( @CastingId IS NULL  
                                              OR CM.CastingId = @CastingId  
                                            )  
                                        AND ( @CastingName IS NULL  
                                              OR CM.CastingName = @CastingName  
                                            )  
                                        AND CAST(ProcessDate AS DATE) <= CAST(@TransactionDateTo AS DATE)
                                        AND ( @PlantIdString IS NULL  
                                              OR @PlantIdString = ''  
                                              OR FGInventoryHistory.CastingId IN (  
                                              SELECT    CastingId  
                                              FROM      dbo.PlantCastingMapping  
                                                      where PlantId in (SELECT Item FROM @Plant) )  
                                            )  
                                        AND FGInventoryHistory.EntityID = @EntityId 
										AND (@PlantId = 0 OR FGInventoryHistory.PlantID =@PlantId)	
                                GROUP BY FGInventoryHistory.CastingID 
                                --,dbo.FGInventoryHistory.MetalId  
                              ) AS FGInventoryHistoryTable ON FGInventoryHistoryTable.castingid = CastingList.CastingId  
                                                            --  AND FGInventoryHistoryTable.MetalId = CastingList.metalid  
                    LEFT JOIN ( SELECT  SUM(CASE WHEN IsInHouseRej = 1  
                                                      AND ( ( @IsProductionDate = 1  
                                                              AND CAST(ProductionDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                            )  
                                                            OR ( @IsProductionDate = 0  
                                                              AND CAST(RejectionDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                              )  
                                                          )  
                                                 THEN CastingFinalRejection.Weight  
                                                 ELSE 0  
                                            END) CastingFinalRejectionRejectionTotalOpening ,  
                                        SUM(CASE WHEN IsInHouseRej = 1  
                                                      AND ( ( @IsProductionDate = 1  
                                                              AND CAST(ProductionDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                            )  
                                                            OR ( @IsProductionDate = 0  
                                                              AND CAST(RejectionDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                          )  
                                                          )  
                                                 THEN CastingFinalRejection.RejQty  
                                                 ELSE 0  
                                            END) CastingFinalRejectionRejectionqtyOpening ,  
                                        SUM(CASE WHEN IsInHouseRej = 1  
                                                      AND ( ( @IsProductionDate = 1  
                                                              AND CAST(ProductionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                            )  
                                                            OR ( @IsProductionDate = 0  
                                                              AND CAST(RejectionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                              )  
                                                          )  
                                                 THEN dbo.CastingFinalRejection.Weight  
                                                 ELSE 0  
                                            END) CastingFinalRejectionRejectionTotal ,  
                                        SUM(CASE WHEN IsInHouseRej = 1  
                                                      AND ( ( @IsProductionDate = 1  
                                                              AND CAST(ProductionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                            )  
                                                            OR ( @IsProductionDate = 0  
                                                              AND CAST(RejectionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                              )  
                                                          )  
                                                 THEN dbo.CastingFinalRejection.RejQty  
                                                 ELSE 0  
                                            END) CastingFinalRejectionRejectionqty ,  
                                        SUM(CASE WHEN IsInHouseRej = 0  
                                                      AND ( ( @IsProductionDate = 1  
                                                              AND CAST(ProductionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                            )  
                                                            OR ( @IsProductionDate = 0  
                                                              AND CAST(RejectionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                              )  
                                                          )  
                                                 THEN dbo.CastingFinalRejection.Weight  
                                                 ELSE 0  
                                            END) CastingFinalRejectionPartyRejectionTotal ,  
                                        SUM(CASE WHEN IsInHouseRej = 0  
                                                      AND ( ( @IsProductionDate = 1  
                                                              AND CAST(ProductionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                            )  
                                                            OR ( @IsProductionDate = 0  
                                                              AND CAST(RejectionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                              )  
                                                          )  
                                                 THEN dbo.CastingFinalRejection.RejQty  
                                                 ELSE 0  
                                            END) CastingFinalRejectioPartyRejectionnqty ,  
                                        CastingFinalRejection.CastingID 
									--	,
									--isnull(SUM(CASE WHEN IsInHouseRej = 1  THEN RejQty ELSE 0 END),0) AS inhouseRejQty,
									--isnull(SUM(CASE WHEN IsInHouseRej = 0  THEN RejQty ELSE 0 END),0) AS customerRejQty
                                        --,  CastingFinalRejection.MetalID  
                                FROM    dbo.CastingFinalRejection  
                                        INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID  
                                        INNER JOIN CastingMaster CM ON CM.CastingId = dbo.CastingFinalRejection.castingid  
                                                              AND dbo.ProductionBatch.IsDeleted = 0  
                                                              AND RejQty > 0  
                                                              AND ( @CastingId IS NULL  
                                                              OR CM.CastingId = @CastingId  
                                                              )  
                                                              AND ( @CastingName IS NULL  
                                                              OR CM.CastingName = @CastingName  
                                                              )  
                                WHERE   ( ( @IsProductionDate = 1  
                                            AND CAST(ProductionDate AS DATE) <= CAST(@TransactionDateTo AS DATE)
                                          )  
                                          OR ( @IsProductionDate = 0  
                                               AND CAST(RejectionDate AS DATE) <= CAST(@TransactionDateTo AS DATE)
                                             )  
                                        )  
                                        AND ( @PlantIdString IS NULL  
                                              OR @PlantIdString = ''  
                                              OR CastingFinalRejection.CastingId IN (  
                                              SELECT    CastingId  
                                              FROM      dbo.PlantCastingMapping  
                                                  where PlantId in (SELECT Item FROM @Plant) )  
                                            )  
                                        AND ProductionBatch.EntityID = @EntityId  
										AND (@PlantId = 0 OR CastingFinalRejection.PlantID =@PlantId)	
                                GROUP BY CastingFinalRejection.CastingID 
                                --,  CastingFinalRejection.MetalID  
                              ) AS CastingFinalRejectionTable ON CastingFinalRejectionTable.CastingID = CastingList.CastingId  
                                                            --  AND CastingFinalRejectionTable.MetalId = CastingList.metalid  
                    LEFT JOIN ( SELECT  SUM(CASE WHEN CAST(dispatchdate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN dbo.dispatchtrans.TotalWeight  
                                                 ELSE 0  
                                            END) TotalOpening ,  
                                        SUM(CASE WHEN CAST(dispatchdate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN dbo.dispatchtrans.dispatchqty  
                                                 ELSE 0  
                                            END) dispatchqtyOpening ,  
                                        SUM(CASE WHEN CAST(dispatchdate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN dbo.dispatchtrans.TotalWeight  
                                                 ELSE 0  
                                            END) Total ,  
                                        SUM(CASE WHEN CAST(dispatchdate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN dbo.dispatchtrans.dispatchqty  
                                                 ELSE 0  
                                            END) dispatchqty ,  
                                        dbo.dispatchtrans.castingid
                                         --,  dbo.OrderTranse.MetalID  
                                FROM    dbo.dispatchtrans  
                                        INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid  
                                        INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.dispatchtrans.orderid  
                                                              AND dbo.OrderTranse.CastingId = dbo.dispatchtrans.castingid  
                                                              AND dbo.OrderTranse.SrNo = dbo.dispatchtrans.orderserialno  
                                        INNER JOIN CastingMaster CM ON CM.CastingId = dispatchtrans.castingid  
                                WHERE   dispatchmaster.IsDeleted = 0  
                                        AND dispatchtrans.IsDeleted = 0 And IsPurchaseReturn = 0
										AND dispatchmaster.isProforma = 0  
                                        AND OrderTranse.Isdeleted = 0  
                                        AND ( @CustomerId IS NULL  
                                              OR dispatchmaster.CustomerId = @CustomerId  
                                            )  
                                        AND ( @CastingId IS NULL  
                                              OR CM.CastingId = @CastingId  
                                            )  
                                        AND ( @CastingName IS NULL  
                                              OR CM.CastingName = @CastingName  
                                            )  
                                        AND CAST(dispatchdate AS DATE) <= CAST(@TransactionDateTo AS DATE)
                                        AND ( @PlantIdString IS NULL  
                                              OR @PlantIdString = ''  
                                              OR dispatchtrans.CastingId IN (  
                                              SELECT    CastingId  
                                              FROM      dbo.PlantCastingMapping  
                                                       where PlantId in (SELECT Item FROM @Plant) )  
                                            )  
                                        AND dispatchmaster.EntityID = @EntityId 
										AND (@PlantId = 0 OR dispatchmaster.PlantID =@PlantId)	
                                GROUP BY dbo.dispatchtrans.castingid
                                 -- ,  dbo.OrderTranse.MetalID  
                              ) dispatchtransactionTotal ON dispatchtransactionTotal.castingid = CastingList.CastingId  
                                                          --  AND dispatchtransactionTotal.MetalID = CastingList.MetalID 
						LEFT JOIN ( SELECT  SUM(CASE WHEN CAST(JODate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN (CastingMetal.CastingNetWeight * JobOutItemBatch.Qty) 
                                                 ELSE 0  
                                            END) TotalOpening ,  
                                        SUM(CASE WHEN CAST(JODate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN JobOutItemBatch.Qty
                                                 ELSE 0  
                                            END) dispatchqtyOpening ,  
                                        SUM(CASE WHEN CAST(JODate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN (CastingMetal.CastingNetWeight * JobOutItemBatch.Qty) 
                                                 ELSE 0  
                                            END) Total ,  
                                        SUM(CASE WHEN CAST(JODate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN JobOutItemBatch.Qty  
                                                 ELSE 0  
                                            END) dispatchqty ,  
                                        BOQTrans.PurchaseItemId 
                                        -- ,  JobOutItemBatch.MetalID  
                                FROM    JobOutItemTrans  
										INNER JOIN JobOutItemBatch On JobOutItemBatch.JoItemTransId = JobOutItemTrans.JoItemTransId 
										--INNER JOIN CastingStockBatch On CastingStockBatch.Batchid = JobOutItemBatch.Id
                                        INNER JOIN JobOutTranse ON JobOutTranse.JOTranseID = JobOutItemTrans.Jo_TranseId  
                                        INNER JOIN JobOutMaster ON JobOutMaster.JOID  = JobOutTranse.JOID  
                                        INNER JOIN BOQTrans ON BOQTrans.BOQTransId = JobOutItemTrans.Bom_TranseId 
                                        INNER JOIN CastingMaster CM ON CM.CastingId = BOQTrans.PurchaseItemId 
                                        Inner Join CastingMetal On CastingMetal.castingID = CM.CastingId
                                        and CastingMetal.MetalId = JobOutItemBatch.MetalID 
                                WHERE   JobOutMaster.IsDeleted = 0  
                                        AND JobOutTranse.IsDeleted = 0  
                                        AND ( @CustomerId IS NULL  
                                              OR JobOutMaster.SupplierID = @CustomerId  
                                            )  
                                        AND ( @CastingId IS NULL  
                                              OR BOQTrans.PurchaseItemId = @CastingId  
                                            )  
                                        AND ( @CastingName IS NULL  
                                              OR CM.CastingName = @CastingName  
                                            )  
                                        AND CAST(JobOutMaster.JODate AS DATE) <= CAST(@TransactionDateTo AS DATE)
                                        AND ( @PlantIdString IS NULL  
                                              OR @PlantIdString = ''  
                                              OR JobOutMaster.PlantId IN (  
                                              SELECT Item FROM @Plant )  
                                            )  
                                        AND JobOutMaster.EntityID = @EntityId  
									 	AND (@PlantId = 0 OR JobOutMaster.PlantID =@PlantId)	
                                GROUP BY BOQTrans.PurchaseItemId 
                                --,  JobOutItemBatch.MetalID 
                              ) JobOuttransactionTotal ON JobOuttransactionTotal.PurchaseItemId = CastingList.CastingId  
                                                       
							LEFT JOIN ( SELECT  SUM(CASE WHEN CAST(SandProduction.ProductionDate AS DATE) 
											< CAST(@TransactionDateFrom AS DATE)
                                                 THEN (CastingMetal.CastingNetWeight * BOMConsumption.Consumptionqty) 
                                                 ELSE 0  
                                            END) TotalOpening ,  
                                        SUM(CASE WHEN CAST(SandProduction.ProductionDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN BOMConsumption.Consumptionqty
                                                 ELSE 0  
                                            END) dispatchqtyOpening ,  
                                        SUM(CASE WHEN CAST(SandProduction.ProductionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN (CastingMetal.CastingNetWeight * BOMConsumption.Consumptionqty) 
                                                 ELSE 0  
                                            END) Total ,  
                                        SUM(CASE WHEN CAST(SandProduction.ProductionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN BOMConsumption.Consumptionqty
                                                 ELSE 0  
                                            END) dispatchqty ,  
                                        BOMConsumption.PurchaseItemId 
                                        -- ,  JobOutItemBatch.MetalID  
                                FROM    BOMConsumption  
										INNER JOIN SandProduction On BOMConsumption.SandProductionId = SandProduction.SandProductionId 
										Inner Join CastingMetal On CastingMetal.castingID = BOMConsumption.purchaseitemID
											and BOMConsumption.MetalId = CastingMetal.metalid
										Inner Join CastingMaster CM On CM.CastingId = BOMConsumption.purchaseitemID
                                WHERE   BOMConsumption.IsDeleted = 0  
                                        AND SandProduction.IsDeleted = 0 
                                        AND ( @CastingId IS NULL  
                                              OR BOMConsumption.PurchaseItemId = @CastingId  
                                            )  
                                        AND ( @CastingName IS NULL  
                                              OR CM.CastingName = @CastingName  
                                            )  
                                        AND CAST(SandProduction.ProductionDate AS DATE) <= CAST(@TransactionDateTo AS DATE)
                                        AND ( @PlantIdString IS NULL  
                                              OR @PlantIdString = ''  
                                              OR SandProduction.PlantId IN (  
                                              SELECT Item FROM @Plant)  
                                            )  
                                        AND SandProduction.EntityID = @EntityId  
									  	AND (@PlantId = 0 OR SandProduction.PlantID =@PlantId)	
                                GROUP BY BOMConsumption.purchaseitemID 
                                --,  JobOutItemBatch.MetalID 
                              ) AssemblyConsumption ON AssemblyConsumption.PurchaseItemId = CastingList.CastingId 
                        LEFT JOIN ( SELECT  SUM(CASE WHEN CAST(SandProduction.ProductionDate AS DATE) 
											< CAST(@TransactionDateFrom AS DATE)
                                                 THEN (CastingMetal.CastingNetWeight * SandProduction.Qty) 
                                                 ELSE 0  
                                            END) TotalOpening ,  
                                        SUM(CASE WHEN CAST(SandProduction.ProductionDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN SandProduction.Qty
                                                 ELSE 0  
                                            END) QtyOpening ,  
                                        SUM(CASE WHEN CAST(SandProduction.ProductionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN (CastingMetal.CastingNetWeight * SandProduction.Qty) 
                                                 ELSE 0  
                                            END) Total ,  
                                        SUM(CASE WHEN CAST(SandProduction.ProductionDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN SandProduction.Qty
                                                 ELSE 0  
                                            END) Qty ,  
                                        SandProduction.PurchaseItemId 
                                        -- ,  JobOutItemBatch.MetalID  
                                FROM    SandProduction
										Inner Join CastingMetal On CastingMetal.castingID = SandProduction.PurchaseItemId
											and CastingMetal.metalid = (select top 1 MetalMaster.MetalId from MetalMaster Where IsAssembly = 1 )
										Inner Join CastingMaster CM On CM.CastingId = SandProduction.PurchaseItemId
                                WHERE   SandProduction.IsDeleted = 0 
                                        AND ( @CastingId IS NULL  
                                              OR SandProduction.PurchaseItemId = @CastingId  
                                            )  
                                        AND ( @CastingName IS NULL  
                                              OR CM.CastingName = @CastingName  
                                            )  
                                        AND CAST(SandProduction.ProductionDate AS DATE) <= CAST(@TransactionDateTo AS DATE)
                                        AND ( @PlantIdString IS NULL  
                                              OR @PlantIdString = ''  
                                              OR SandProduction.PlantId IN (  
                                              SELECT Item FROM @Plant)  
                                            )  
                                        AND SandProduction.EntityID = @EntityId 										
									  	AND (@PlantId = 0 OR SandProduction.PlantID =@PlantId)	
                                GROUP BY SandProduction.PurchaseItemId 
                                --,  JobOutItemBatch.MetalID 
                              ) AssemblyProduction ON AssemblyProduction.PurchaseItemId = CastingList.CastingId 
				LEFT JOIN ( SELECT  SUM(CASE WHEN CAST(dispatchdate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN dbo.dispatchtrans.TotalWeight  
                                                 ELSE 0  
                                            END) TotalOpening ,  
                                        SUM(CASE WHEN CAST(dispatchdate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN dbo.dispatchtrans.dispatchqty  
                                                 ELSE 0  
                                            END) dispatchqtyOpening ,  
                                        SUM(CASE WHEN CAST(dispatchdate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN dbo.dispatchtrans.TotalWeight  
                                                 ELSE 0  
                                            END) Total ,  
                                        SUM(CASE WHEN CAST(dispatchdate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN dbo.dispatchtrans.dispatchqty  
                                                 ELSE 0  
                                            END) dispatchqty ,  
                                        dbo.dispatchtrans.castingid
                                         --,  dbo.OrderTranse.MetalID  
                                FROM    dbo.dispatchtrans  
                                        INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid  
                                        INNER JOIN CastingMaster CM ON CM.CastingId = dispatchtrans.castingid  
                                WHERE   dispatchmaster.IsDeleted = 0  
                                        AND dispatchtrans.IsDeleted = 0 And IsPurchaseReturn = 0
										AND dispatchmaster.isProforma = 0  
                                        
                                        AND ( @CustomerId IS NULL  
                                              OR dispatchmaster.CustomerId = @CustomerId  
                                            )  
                                        AND ( @CastingId IS NULL  
                                              OR CM.CastingId = @CastingId  
                                            )  
                                        AND ( @CastingName IS NULL  
                                              OR CM.CastingName = @CastingName  
                                            )  
                                        AND CAST(dispatchdate AS DATE) <= CAST(@TransactionDateTo AS DATE)
                                        AND ( @PlantIdString IS NULL  
                                              OR @PlantIdString = ''  
                                              OR dispatchtrans.CastingId IN (  
                                              SELECT    CastingId  
                                              FROM      dbo.PlantCastingMapping  
                                                       where PlantId in (SELECT Item FROM @Plant) )  
                                            )  
                                        AND dispatchmaster.EntityID = @EntityId 
										AND dispatchmaster.TypeOfVoucher = 4 -- interplant casting transfer 
										AND (@PlantId = 0 OR dispatchmaster.PlantID =@PlantId)	
                                GROUP BY dbo.dispatchtrans.castingid ) as InterPlantTransfer
										ON InterPlantTransfer.castingid = CastingList.CastingId  
					LEFT JOIN (SELECT  SUM(CASE WHEN CAST(InwardDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN case when RawMaterialInward.IsForJobReturn = 0 then 
													 dbo.InwardCastingPurchase.AcceptedQty   
														  * InwardCastingPurchase.PerPcWeight
														 
                                                 else dbo.InwardCastingPurchase.AcceptedQty  * InwardCastingPurchase.PerPcWeight
                                                 end 
                                                 ELSE 0  
                                            END) InwardTotalOpening ,  
                                        SUM(CASE WHEN CAST(InwardDate AS DATE) < CAST(@TransactionDateFrom AS DATE)
                                                 THEN dbo.InwardCastingPurchase.AcceptedQty  
                                                 ELSE 0  
                                            END) InwardqtyOpening ,  
                                        SUM(CASE WHEN CAST(InwardDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN case when RawMaterialInward.IsForJobReturn = 0 then dbo.InwardCastingPurchase.AcceptedQty  
                                                      *   InwardCastingPurchase.PerPcWeight
												 else  InwardCastingPurchase.AcceptedQty * InwardCastingPurchase.PerPcWeight end
                                                 ELSE 0  
                                            END) InwardTotal ,  
                                        SUM(CASE WHEN CAST(InwardDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
                                                 THEN dbo.InwardCastingPurchase.AcceptedQty  
                                                 ELSE 0  
                                            END) Inwardqty ,  
                                        PM.castingid  
                                FROM    dbo.RawMaterialInward  
                                        INNER JOIN dbo.InwardCastingPurchase ON dbo.InwardCastingPurchase.InwardId = dbo.RawMaterialInward.InwardId  
										INNER JOIN CastingMaster CM ON CM.CastingId = dbo.InwardCastingPurchase.castingid
										inner join castingmaster pm on pm.CastingId = isnull(cm.ParentId,cm.castingId)
                                WHERE   isnull(InwardCastingPurchase.IsDeleted,0) = 0 
										AND isnull(IsMachineShopInward,0) =  1 
										AND  isnull( RawMaterialInward.IsDeleted,0) = 0  
                                        AND  RawMaterialInward.PageType = 2
                                        AND ( @CastingId IS NULL  
                                              OR PM.CastingId = @CastingId  
                                            )  
                                        AND ( @CastingName IS NULL  
                                              OR PM.CastingName = @CastingName  
                                            )  
                                        AND CAST(RawMaterialInward.InwardDate AS DATE) <= CAST(@TransactionDateTo AS DATE) 
                                        AND RawMaterialInward.EntityID = @EntityId  
										AND (@PlantId = 0 OR RawMaterialInward.PlantID =@PlantId)                                        
                                GROUP BY PM.CastingID  
							) as InterPlantInward ON InterPlantInward.castingid = CastingList.CastingId  

            WHERE   ( @CastingId IS NULL  
                      OR CastingList.CastingId = @CastingId  
                    )  
                    and CastingList.ParentId is null
					and CastingList.IsDeleted = 0
                    --AND ( @MetalId = 0  
                    --      OR CastingList.MetalId = @MetalId  
                    --    )  
                    AND ( @CastingName IS NULL  
                          OR CastingList.CastingName = @CastingName  
                        )  
                    AND ( @CustomerId IS NULL  
                          OR PatternMaster.PatternID IN (  
                          SELECT    dbo.CustomerPatternMapping.PatternId  
                          FROM      dbo.CustomerPatternMapping  
                          WHERE     CustomerPatternMapping.CustomerId = @CustomerId  
                                    AND dbo.CustomerPatternMapping.IsDeleted = 0 )  
                          --OR CastingList.CastingId IN (  
                          --SELECT    CastingId  
                          --FROM      dbo.DispatchSetCasting  
                          --          INNER JOIN dbo.DispatchSetItemTrans ON dbo.DispatchSetItemTrans.DispatchSetItemTransID = dbo.DispatchSetCasting.DispatchSetItemTransID  
                          --          INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.DispatchSetItemTrans.dispatchid  
                          --                                    AND dispatchmaster.CustomerID = @customerID )  
                        )  
                    AND ( @CustomerGroupId IS NULL  
                          OR PatternMaster.PatternID IN (  
                          SELECT    dbo.CustomerPatternMapping.PatternId  
                          FROM      dbo.CustomerPatternMapping  
                                    INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId  
                          WHERE     CustomerMaster.CustomerGroupId = @CustomerGroupId  
                                    AND dbo.CustomerPatternMapping.IsDeleted = 0 )  
                          --OR CastingMaster.CastingId IN (  
                          --SELECT    CastingId  
                          --FROM      dbo.DispatchSetCasting  
                          --          INNER JOIN dbo.DispatchSetItemTrans ON dbo.DispatchSetItemTrans.DispatchSetItemTransID = dbo.DispatchSetCasting.DispatchSetItemTransID  
                          --          INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.DispatchSetItemTrans.dispatchid  
                          --          INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.dispatchmaster.customerID  
                          --                                    AND CustomerMaster.CustomerGroupId = @CustomerGroupId )  
                        )  
                    AND ( @PatternId IS NULL  
                          OR PatternMaster.PatternID = @PatternId  
                        )  
                    AND ( @PlantIdString IS NULL  
                          OR @PlantIdString = ''  
                          OR CastingList.CastingId IN (  
                          SELECT    CastingId  
                          FROM      dbo.PlantCastingMapping  
                               where PlantId in (SELECT Item FROM @Plant) )  
                        )  
                    AND CastingList.EntityID = @EntityId  
            --WHERE   ( ProductionTempQty - OpeningStockTempQty  
            --          - RejectionTempQty - DispatchedTempQty ) > 0  
            --        OR ProdTempQty > 0  
           
            ) as temp  
            
             LEFT JOIN
            (
            
            SELECT CastingId,Rate,UOM,CastingWeight
			FROM 
			(
				SELECT   ROW_NUMBER() OVER (PARTITION BY RateDetail.CastingID ORDER BY EffectiveDate DESC) AS rn, *
				   From
				   (
					Select  dbo.FGRateMaster.CastingId, dbo.FGRateMaster.Rate AS Rate,dbo.FGRateMaster.UOM, FGRateMaster.FGWeight as CastingWeight, Cast(FGRateMaster.ApplyDate as Date) as EffectiveDate
											FROM          dbo.FGRateMaster INNER JOIN
																   dbo.CastingMaster ON dbo.FGRateMaster.CastingId = dbo.CastingMaster.CastingId INNER JOIN
																   dbo.CustomerPatternMapping ON dbo.CastingMaster.Dieid = dbo.CustomerPatternMapping.PatternId AND 
																   dbo.CustomerPatternMapping.CustomerId = dbo.FGRateMaster.CustomerId
				Where UOM is not null and UOM != '' 
				UNION ALL
				SELECT     dbo.FGRateMasterHistory.CastingId, dbo.FGRateMasterHistory.Rate AS Rate,dbo.FGRateMasterHistory.UOM,FGRateMasterHistory.FGWeight as CastingWeight, Cast(FGRateMasterHistory.ApplyDate as Date) as EffectiveDate
											FROM          dbo.FGRateMasterHistory INNER JOIN
																   dbo.CastingMaster ON dbo.FGRateMasterHistory.CastingId = dbo.CastingMaster.CastingId INNER JOIN
																   dbo.CustomerPatternMapping ON dbo.CastingMaster.Dieid = dbo.CustomerPatternMapping.PatternId AND 
																   dbo.CustomerPatternMapping.CustomerId = dbo.FGRateMasterHistory.CustomerId
				Where UOM is not null and UOM != '' 
				 ) As RateDetail where EffectiveDate <= Cast(@TransactionDateTo  As Date)   
				 AND ( @CastingId IS NULL  
                      OR RateDetail.CastingId = @CastingId  
                    )   
             
			) As Rate
			WHERE rn = 1
            ) as Rate on temp.CastingId = Rate.CastingId

	If (@Type = 0 )
	BEGIN
		Select * from #TEMP    
		ORDER BY SrNo
	END
	ELSE If (@Type = 1 )
	BEGIN
		Select a.*,ISNULL(orderQty,0) as orderQty from 
		(
			Select * from #TEMP
		) as a
		Left Join
		(
			Select SUM(isnull(OrderTranse.RequiredQty,0)) as orderQty,CastingId from OrderTranse
					inner Join OrderMaster On OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
			Where	OrderTranse.IsDeleted = 0 and IsScheduled = 0 and OrderMaster.IsDeleted = 0 and ( @OrderApprovalRequire = 0	OR isapprove = 1) --IsApprove added by Juhi Singh on 17-09-2025
					and IsShortclose = 0 --and JobIn = 0-- reason when dispatch/Job Out both consider in dispatch qty
					and CAST(OrderMaster.OrderDate AS DATE) BETWEEN CAST(@TransactionDateFrom AS DATE) AND CAST(@TransactionDateTo AS DATE)
			Group BY CastingId
		) as OrderTable
		On OrderTable.CastingId = a.CastingId
		where (isnull(OrderQty,0) > 0 or isnull(OpeningStockQuantity,0) > 0 or ISNULL(ProductionQtyOpening,0) > 0
		Or ISNULL(InwardQtyOpening,0) > 0 or Isnull(RejectionQtyOpening,0) > 0 Or isnull(DispatchedQtyOpening,0) > 0
		Or Isnull(ProductionQty,0) > 0 Or Isnull(InwardQty,0) > 0 Or Isnull(StockTransferQty,0) > 0 Or isnull(RejectionQty,0) > 0 
		Or isnull(PartyRejectionQty,0)> 0 Or Isnull(DispatchedQty,0) > 0 Or isnull(BalancedStockQty,0) >0 )  
		ORDER BY SrNo
	END    
    ELSE If (@Type = 2 )
	BEGIN     
		Select *,ISNULL(C.Cost,0) as NewRate ,ProductionQty * ISNULL(C.Cost,0) AS ProductionValue 
		,RejectionQty * ISNULL(C.Cost,0) AS RejectionValue 
		,PartyRejectionQty * ISNULL(C.Cost,0) AS PartyRejectionValue 
		,StockTransferQty * ISNULL(C.Cost,0) AS StockTransferValue 
		,DispatchedQty * ISNULL(C.Cost,0) AS DispatchedValue 
		,BalancedStockQty * ISNULL(C.Cost,0) AS BalancedStockValue 
		,InwardQty * ISNULL(C.Cost,0) AS InwardValue 
		from #TEMP    
		left join ConsumptionCostHistory C on C.CastingId =#TEMP.CastingId 
					AND YEAR(c.insertedon) = YEAR(@TransactionDateFrom)
					AND MONTH(c.insertedon) = MONTH(@TransactionDateFrom)
					AND C.EntityId =@EntityID 
		ORDER BY SrNo
	end
       DROP TABLE IF EXISTS #TEMP;     
END  
  
GO
