USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[EditLogMaterialReturn]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Khushbu joshi>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE[dbo].[EditLogMaterialReturn]
	@ReturnId uniqueidentifier = null,    
	@EntityID int = 0,
	@IfActive BIT = 0 
AS
BEGIN
	Declare @RevisionNo bigint = (select count(ReturnId)+1 from  [ICAST_IMS_LOG].[dbo].StoreReturnMaster where ReturnId= @ReturnId)
	 DECLARE @TableItem table (SrNoRevisionwise int,RevisionNo BIGINT ,SRDetailID int,ReturnId UNIQUEIDENTIFIER ,
                               ReturnTransId UNIQUEIDENTIFIER,ReturnNo varchar(Max) ,[ReturnDate] datetime ,Remarks varchar(Max),
							   SlipID UNIQUEIDENTIFIER,PurchaseItemId UNIQUEIDENTIFIER,IssueNo varchar(Max),ItemName Varchar(Max),
                               ItemCode Varchar(Max),IssueQuantity float,ReturnQuantity float,EntryNo Varchar(Max),
								ModifiedUserName varchar(100), InsertedDate  varchar(100) )
       
       
     INSERT INTO @TableItem
	 SELECT   DENSE_RANK() over(order by RevisionNo) AS SrNoRevisionwise,* FROM
			 (
						SELECT		SM.RevisionNo AS RevisionNo,
										ST.SRDetailID,
											SM.ReturnId ,
                                            CONVERT(UNIQUEIDENTIFIER, 0x00) as ReturnTransId,
                                             CASE WHEN SM.Prefix IS NULL THEN ''
												 ELSE CONVERT(VARCHAR(50), SM.Prefix)
											END
											+ CASE WHEN SM.Separator IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50),SM.Separator)
											  END
											+ CONVERT(VARCHAR(50), ReturnNo)
											+ CASE WHEN SM.Separator IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), SM.Separator)
											  END
											+ CASE WHEN SM.Suffix IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), SM.Suffix)
											  END AS ReturnNo ,
                                            CONVERT(VARCHAR(11), ReturnDate, 106) AS [ReturnDate] ,
                                            SM.Remarks ,
											CONVERT(UNIQUEIDENTIFIER, 0x00) as SlipID,
                                            --MaterialIssue.IssueId ,
                                            ST.PurchaseItemId ,
											  '' AS IssueNo,
                                            PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
                                            0 AS IssueQuantity ,
                                            --InventoryDetails.Stock AS AvailableQuantity ,
                                            ST.ReturnQty AS ReturnQuantity,
											'' as EntryNo,
											U.UserName AS ModifiedUserName,
											case when SM.ModifiedBy =0 or SM.ModifiedBy is null 
													then   SM.CreatedOn else SM.ModifiedOn end  AS InsertedDate    
                                FROM		[ICAST_IMS_LOG].[dbo].StoreReturnMaster SM
											INNER JOIN [ICAST_IMS_LOG].[dbo].StoreReturnDetails ST ON ST.ReturnId = SM.ReturnId and SM.IsDeleted=0
											and SM.RevisionNo=ST.RevisionNo
                                            INNER JOIN PurchaseItemMaster ON ST.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                                            INNER JOIN dbo.InventoryDetails ON InventoryDetails.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
																			--AND InventoryDetails.Entity = MaterialIssue.EntityID
																			AND ((SM.IsReturnAgainstTransfer = 0 AND 
																				InventoryDetails.PlantId = SM.PlantId)
																			)
											 LEFT JOIN  UserMaster AS U ON U.UserId  = case when  SM.ModifiedBy =0  or SM.ModifiedBy is null 
											 then    SM.CreatedBY else  SM.ModifiedBY end  
								WHERE     SM.Isdeleted = 0
								            and SM.IsInspection=0
                                            AND ST.IsDeleted = 0
											and SM.ReturnId = @ReturnId
                                            
                                UNION ALL 
                                
                                SELECT SM.RevisionNo AS RevisionNo,
											0 as SRDetailID,
											SM.ReturnId ,
                                            ReturnTransId ,
                                            CASE WHEN SM.Prefix IS NULL THEN ''
												 ELSE CONVERT(VARCHAR(50), SM.Prefix)
											END
											+ CASE WHEN SM.Separator IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50),SM.Separator)
											  END
											+ CONVERT(VARCHAR(50), ReturnNo)
											+ CASE WHEN SM.Separator IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), SM.Separator)
											  END
											+ CASE WHEN SM.Suffix IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), SM.Suffix)
											  END AS ReturnNo ,
                                            CONVERT(VARCHAR(11), ReturnDate, 106) AS [ReturnDate] ,
                                            SM.Remarks ,
                                            MaterialInspectionTrans.SlipID ,
                                            MaterialInspectionTrans.PurchaseItemId ,
                                            CASE WHEN MaterialInspectionMaster.Prefix IS NULL THEN ''
												 ELSE CONVERT(VARCHAR(50), MaterialInspectionMaster.Prefix)
											END
											+ CASE WHEN MaterialInspectionMaster.Separator IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), MaterialInspectionMaster.Separator)
											  END
											+ CONVERT(VARCHAR(50), MaterialInspectionMaster.SlipNo)
											+ CASE WHEN MaterialInspectionMaster.Separator IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), MaterialInspectionMaster.Separator)
											  END
											+ CASE WHEN MaterialInspectionMaster.Suffix IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), MaterialInspectionMaster.Suffix)
											  END AS IssueNo ,
                                            --CONVERT(VARCHAR(50), MaterialInspectionMaster.SlipNo) AS IssueNo ,
                                            PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
                                            MaterialInspectionTrans.SampleQty AS IssueQuantity ,
                                            --InventoryDetails.Stock AS AvailableQuantity ,
                                            ST.ReturnQty AS ReturnQuantity,
                                            MaterialInspectionMaster.EntryNo,
											U.UserName AS ModifiedUserName,
											case when SM.ModifiedBy =0 or SM.ModifiedBy is null 
													then   SM.CreatedOn else SM.ModifiedOn end  AS InsertedDate    
                                FROM		[ICAST_IMS_LOG].[dbo].StoreReturnMaster SM
                                            INNER JOIN [ICAST_IMS_LOG].[dbo].StoreReturnTrans ST ON ST.ReturnId = SM.ReturnId
											and SM.RevisionNo =ST.RevisionNo
                                            INNER JOIN MaterialInspectionMaster ON MaterialInspectionMaster.SlipId = ST.IssueId
                                            INNER JOIN MaterialInspectionTrans ON MaterialInspectionTrans.SlipID = MaterialInspectionMaster.slipid
                                                                                 AND MaterialInspectionTrans.PurchaseItemId = ST.PurchaseItemId
                                            INNER JOIN PurchaseItemMaster ON MaterialInspectionTrans.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                                            INNER JOIN RawMaterialInwardDetail AS rmid ON MaterialInspectionMaster.InwardID = rmid.InwardId
                                                                                  and MaterialInspectionMaster.RawmaterialDetailId = rmid.RawmaterialDetailId
											INNER JOIN PurchaseOrder_Master AS pom ON rmid.PurchaseOrderId = pom.PurchaseOrderId
											INNER JOIN dbo.InventoryDetails ON InventoryDetails.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
																			AND InventoryDetails.Entity = MaterialInspectionMaster.EntityID
																			AND InventoryDetails.PlantId =  pom.POPlantId
											
											 LEFT JOIN  UserMaster AS U ON U.UserId  = case when  SM.ModifiedBy =0  or SM.ModifiedBy is null 
											 then    SM.CreatedBY else  SM.ModifiedBY end  
                                	WHERE     SM.Isdeleted = 0
                                	and SM.IsInspection=1
                                            AND ST.IsDeleted = 0
                                            and SM.ReturnId = @ReturnId
        
               
          
       ) AS FINAL    
     
     INSERT INTO @TableItem
	 SELECT  @RevisionNo AS SrNoRevisionwise , * 
	 FROM (
						SELECT		@RevisionNo AS RevisionNo,
						StoreReturnDetails.SRDetailID,
											StoreReturnMaster.ReturnId ,
                                            CONVERT(UNIQUEIDENTIFIER, 0x00) as ReturnTransId,
                                             CASE WHEN StoreReturnMaster.Prefix IS NULL THEN ''
												 ELSE CONVERT(VARCHAR(50), StoreReturnMaster.Prefix)
											END
											+ CASE WHEN StoreReturnMaster.Separator IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50),StoreReturnMaster.Separator)
											  END
											+ CONVERT(VARCHAR(50), ReturnNo)
											+ CASE WHEN StoreReturnMaster.Separator IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), StoreReturnMaster.Separator)
											  END
											+ CASE WHEN StoreReturnMaster.Suffix IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), StoreReturnMaster.Suffix)
											  END AS ReturnNo ,
                                            CONVERT(VARCHAR(11), ReturnDate, 106) AS [ReturnDate] ,
                                            StoreReturnMaster.Remarks ,
											CONVERT(UNIQUEIDENTIFIER, 0x00) as SlipID,
                                            --MaterialIssue.IssueId ,
                                            StoreReturnDetails.PurchaseItemId ,
											  '' AS IssueNo,
                                            PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
                                            0 AS IssueQuantity ,
                                            --InventoryDetails.Stock AS AvailableQuantity ,
                                            StoreReturnDetails.ReturnQty AS ReturnQuantity,
											'' as EntryNo,
											U.UserName AS ModifiedUserName,
											case when StoreReturnMaster.ModifiedBy =0 or StoreReturnMaster.ModifiedBy is null 
													then   StoreReturnMaster.CreatedOn else StoreReturnMaster.ModifiedOn end  AS InsertedDate    
                                FROM		StoreReturnMaster
											INNER JOIN StoreReturnDetails ON StoreReturnDetails.ReturnId = StoreReturnMaster.ReturnId and StoreReturnDetails.IsDeleted=0
                                            INNER JOIN PurchaseItemMaster ON StoreReturnDetails.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                                            INNER JOIN dbo.InventoryDetails ON InventoryDetails.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
																			--AND InventoryDetails.Entity = MaterialIssue.EntityID
																			AND ((StoreReturnMaster.IsReturnAgainstTransfer = 0 AND 
																				InventoryDetails.PlantId = StoreReturnMaster.PlantId)
																			)
											 LEFT JOIN  UserMaster AS U ON U.UserId  = case when  StoreReturnMaster.ModifiedBy =0  or StoreReturnMaster.ModifiedBy is null 
											 then    StoreReturnMaster.CreatedBY else  StoreReturnMaster.ModifiedBY end  
								WHERE     StoreReturnMaster.Isdeleted = 0
								            and StoreReturnMaster.IsInspection=0
                                            AND dbo.StoreReturnDetails.IsDeleted = 0
											and StoreReturnMaster.ReturnId = @ReturnId
                                            
                                UNION ALL 
                                
                                SELECT @RevisionNo AS RevisionNo,
											0 as SRDetailID,
											StoreReturnMaster.ReturnId ,
                                            ReturnTransId ,
                                            CASE WHEN StoreReturnMaster.Prefix IS NULL THEN ''
												 ELSE CONVERT(VARCHAR(50), StoreReturnMaster.Prefix)
											END
											+ CASE WHEN StoreReturnMaster.Separator IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50),StoreReturnMaster.Separator)
											  END
											+ CONVERT(VARCHAR(50), ReturnNo)
											+ CASE WHEN StoreReturnMaster.Separator IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), StoreReturnMaster.Separator)
											  END
											+ CASE WHEN StoreReturnMaster.Suffix IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), StoreReturnMaster.Suffix)
											  END AS ReturnNo ,
                                            CONVERT(VARCHAR(11), ReturnDate, 106) AS [ReturnDate] ,
                                            StoreReturnMaster.Remarks ,
                                            MaterialInspectionTrans.SlipID ,
                                            MaterialInspectionTrans.PurchaseItemId ,
                                            CASE WHEN MaterialInspectionMaster.Prefix IS NULL THEN ''
												 ELSE CONVERT(VARCHAR(50), MaterialInspectionMaster.Prefix)
											END
											+ CASE WHEN MaterialInspectionMaster.Separator IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), MaterialInspectionMaster.Separator)
											  END
											+ CONVERT(VARCHAR(50), MaterialInspectionMaster.SlipNo)
											+ CASE WHEN MaterialInspectionMaster.Separator IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), MaterialInspectionMaster.Separator)
											  END
											+ CASE WHEN MaterialInspectionMaster.Suffix IS NULL THEN ''
												   ELSE CONVERT(VARCHAR(50), MaterialInspectionMaster.Suffix)
											  END AS IssueNo ,
                                            --CONVERT(VARCHAR(50), MaterialInspectionMaster.SlipNo) AS IssueNo ,
                                            PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
                                            MaterialInspectionTrans.SampleQty AS IssueQuantity ,
                                            --InventoryDetails.Stock AS AvailableQuantity ,
                                            StoreReturnTrans.ReturnQty AS ReturnQuantity,
                                            MaterialInspectionMaster.EntryNo,
											U.UserName AS ModifiedUserName,
											case when StoreReturnMaster.ModifiedBy =0 or StoreReturnMaster.ModifiedBy is null 
													then   StoreReturnMaster.CreatedOn else StoreReturnMaster.ModifiedOn end  AS InsertedDate    
                                FROM		StoreReturnMaster
                                            INNER JOIN StoreReturnTrans ON StoreReturnTrans.ReturnId = StoreReturnMaster.ReturnId
                                            INNER JOIN MaterialInspectionMaster ON MaterialInspectionMaster.SlipId = StoreReturnTrans.IssueId
                                            INNER JOIN MaterialInspectionTrans ON MaterialInspectionTrans.SlipID = MaterialInspectionMaster.slipid
                                                                                 AND MaterialInspectionTrans.PurchaseItemId = StoreReturnTrans.PurchaseItemId
                                            INNER JOIN PurchaseItemMaster ON MaterialInspectionTrans.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                                            INNER JOIN RawMaterialInwardDetail AS rmid ON MaterialInspectionMaster.InwardID = rmid.InwardId
                                                                                  and MaterialInspectionMaster.RawmaterialDetailId = rmid.RawmaterialDetailId
											INNER JOIN PurchaseOrder_Master AS pom ON rmid.PurchaseOrderId = pom.PurchaseOrderId
											INNER JOIN dbo.InventoryDetails ON InventoryDetails.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
																			AND InventoryDetails.Entity = MaterialInspectionMaster.EntityID
																			AND InventoryDetails.PlantId =  pom.POPlantId
											
											 LEFT JOIN  UserMaster AS U ON U.UserId  = case when  StoreReturnMaster.ModifiedBy =0  or StoreReturnMaster.ModifiedBy is null 
											 then    StoreReturnMaster.CreatedBY else  StoreReturnMaster.ModifiedBY end  
                                	WHERE     StoreReturnMaster.Isdeleted = 0
                                	and StoreReturnMaster.IsInspection=1
                                            AND dbo.StoreReturnTrans.IsDeleted = 0
                                            and StoreReturnMaster.ReturnId = @ReturnId
		) AS FINAL 	
	--select * from @TableItem
	
 select distinct CA.* 
       into #tempEditLogQuotationEntry
      from @TableItem  as t      
		CROSS APPLY (
			  Values
				 (1,t.SrNoRevisionwise,'User Name' , modifiedUSerName COLLATE DATABASE_DEFAULT,''),
				 (2,t.SrNoRevisionwise,'Inserted/Altered On' ,cast(InsertedDate  as varchar),''  ),
				 (3,t.SrNoRevisionwise,'Return Date' ,  CONVERT(VARCHAR(15),  [ReturnDate], 106)    ,''),
				 (4,t.SrNoRevisionwise,'Return No' , ReturnNo  COLLATE DATABASE_DEFAULT    ,''),				
				-- (6,t.SrNoRevisionwise,'Supplier Name' , SupplierName COLLATE DATABASE_DEFAULT ,''),
				 (7,t.SrNoRevisionwise,ItemName +'('+ ItemCode +')',
																	'Qty : ' +  CAst(ReturnQuantity  as varchar) + CHAR(10) 
																	,Cast(SRDetailID as varchar(50)))
																	,				
				 (8,t.SrNoRevisionwise,'Remarks' , CONVERT(VARCHAR(Max), Remarks, 106)  COLLATE DATABASE_DEFAULT ,'' )	
		  ) as CA (sr,SrNoRevisionwise,ColName, ColValue,TransId )  
		  where ColName is not null and CA.SrNoRevisionwise = t.SrNoRevisionwise
DECLARE @cols AS NVARCHAR(MAX) 
select @cols = STUFF((SELECT  ','  + QUOTENAME(SrNoRevisionwise) 
                    from #tempEditLogQuotationEntry group by  SrNoRevisionwise
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')    
   
    
declare @sql1 NVARCHAR(MAX) = '';		 
SET @sql1 ='
SELECT *
FROM   #tempEditLogQuotationEntry
PIVOT  
(  
  max(ColValue)  
  FOR SrNoRevisionwise IN ('+ @cols +' )  
) AS PivotTable order by cast(sr as int);  
';

EXECUTE sp_executesql @sql1;     	
drop table  #tempEditLogQuotationEntry



END
GO
