USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PatternProduction_Delete]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PatternProduction_Delete]
@ProductionBatchId UNIQUEIDENTIFIER,
@DeletedBy INT,
@PatternInspection bit
AS
BEGIN
	BEGIN  TRY
	BEGIN TRANSACTION PatternProduction_Delete

	     declare
	     @PlantId Bigint,
		 @EntityId BigInt,
		 @DieId uniqueidentifier,
		 @Noofshots INT

		 if(@PatternInspection = 1)
		 BEGIN
			if Exists(Select 1 from PatternProductionDetails where ProductionBatchId = @ProductionBatchID  and InspectionDone = 1 )
			begin
				rollback transaction 
				return -4
			end
		 END

		 IF NOT EXISTS(Select * from PatternProduction where ProductionBatchId = @ProductionBatchID AND IsDeleted  = 1)
		 BEGIN


		                    Select @PlantId = PlantID , @EntityId = EntityId , @DieId = DieID,@Noofshots = NoOfShots from PatternProduction 
							where ProductionBatchId = @ProductionBatchID
		                     
		                    select
							case when PatternProductionDetails.ProductionQty > RawInwBatchWiseStock.Qty then 1 else 2 end IsExist
							into #IsCheckStock
							from 
							PatternProductionDetails
							inner JOIN PatternProduction ON PatternProduction.ProductionBatchId = PatternProductionDetails.ProductionBatchId
							Inner JOIN RawInwBatchWiseStock ON RawInwBatchWiseStock.PurchaseItemId = PatternProductionDetails.PatternID
							WHERE
							PatternProductionDetails.ProductionBatchId = @ProductionBatchID
							and RawInwBatchWiseStock.RawBatchNo = PatternProduction.BatchNo
							and RawInwBatchWiseStock.PlantId = PatternProduction.PlantID
							and RawInwBatchWiseStock.EntityId = PatternProduction.EntityId
							And RawInwBatchWiseStock.OrderTranseId = PatternProductionDetails.OrderTranseId


							IF NOT EXISTS(SELECT * FROM #IsCheckStock WHERE  IsExist = 1)
							BEGIN


									DECLARE 
									@MasterJson Nvarchar(MAX),
									@MasterDet Nvarchar(MAX)



									SET @MasterJson = (select 
									PatternProductionDetails.ProductionBatchId as ProcessCode,
									PatternProductionDetails.PatternID,
									PatternProductionDetails.ProductionQty *(-1) as TransactionQty,
									PatternProduction.BatchNo as RawBatchNo,
									PatternProduction.PlantId,
									PatternProduction.EntityId,
									PatternProduction.ProductionDate as ProcessDate,
									PatternProduction.CreatedBy as UserId,
									PatternProductionDetails.OrderTranseId
									from 
									PatternProductionDetails
									inner JOIN PatternProduction ON PatternProduction.ProductionBatchId = PatternProductionDetails.ProductionBatchId
									WHERE
									PatternProductionDetails.ProductionBatchId = @ProductionBatchID
									for json PATH
									)


							    SET    @MasterDet   = ( SELECT
						          '['+
                                 (STUFF(( SELECT DISTINCT              
                                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                                  FROM      PatternProductionDetails where ProductionBatchID = @ProductionBatchID and ConsumptionDet <> ''                      
                                  FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) +']' AS ConsumptionDet  )
								
								declare @Status bit = (case when @Patterninspection = 1 then 0 else 1 end)

			                   EXEC PatternStock_Management @JsonPattern = @MasterJson,
						       @JsonConsumption= @MasterDet ,
						       @PlantId = @PlantId,
						       @EntityId = @EntityId,
							   @Process = 'Delete',
							   @Tagging = 'PatternProduction',
							   @Status = @Status


							  Update PatternProduction SET IsDeleted = 1,DeletedOn = GETDATE(),DeletedBy = @DeletedBy WHERE ProductionBatchID = @ProductionBatchID

                            SET @Noofshots = -@Noofshots
						    exec [InsertUpdate_ToolLife] 
							@ItemType =2
						   ,@ItemId =@DieID
						   ,@ItemUsedCount = @Noofshots
						   ,@EntityId   = @EntityID      
						   ,@CreatedBy  = @DeletedBy 

							END
							ELSE
							BEGIN

							    ROLLBACK TRANSACTION PatternProduction_Delete
							    RETURN -2

							END
			END
			ELSE
			BEGIN
			
			ROLLBACK TRANSACTION PatternProduction_Delete
			RETURN -3

			END


	COMMIT TRANSACTION PatternProduction_Delete
	RETURN 1
	END TRY
	BEGIN CATCH
	ROLLBACK TRANSACTION PatternProduction_Delete
	RETURN -1
	END CATCH
END
GO
