USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeGratuityReport]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_EmployeeGratuityReport]
	@Parameter INT = 0 ,   
   -- @DateFrom DATETIME = NULL , 
    @EntityId INT = 0,
    @EmployeeId int = 0,
    @CommonDataId int = 0,   
   -- @Dateto DATETIME = NULL,
    @IsDeleted int = null , 
    @EarningId int = 0 ,
    @CommonDataTypeId int = 0,
    @CommonDataGroupId int = 0,
    @EmployeeDeptId uniqueidentifier = null,  
    @currentEndDate datetime = null,
    @CurrentstartDate datetime = null
  
AS
   BEGIN  
   
			IF @Parameter = 1 
			   
          BEGIN
           
    						
    					 SELECT		 EmployeeDetails.EmployeeCode,
									 EmployeeDetails.EmployeeName + ' ' +EmployeeDetails.LastName as EmployeeName,										
									 GratuityValue + SUM(isnull(EmpGraduityDtl.Amount,0)) as Amount
									 from EmployeeDetails			
						             Left join EmpGraduityDtl on EmpGraduityDtl.EmployeeId = EmployeeDetails.EmployeeId 
								
                              WHERE     ( @EmployeeId = 0 
                                          OR EmployeeDetails.EmployeeId = @EmployeeId
                                        )                                         
                                         
										AND   EmployeeDetails.IsDelete = 0 
										AND EmployeeDetails.EntityId = @EntityId
										and EmployeeDetails.isActive = 1 				   
										--and EmployeeType= 1 										
										and  ( @CommonDataGroupId = 0 
											  OR EmployeeDetails.EmployeeGroupId = @CommonDataGroupId
												)  	
                                        and  ( @CommonDataTypeId = 0 
                                             OR EmployeeDetails.TypeofEmployeeId = @CommonDataTypeId
                                              ) 
                                        and  ( @EmployeeDeptId is null 
                                              OR EmployeeDetails.EmpDept_Id = @EmployeeDeptId
                                              )          	
										and EmployeeDetails.GratuityEligible =1	
										and EmployeeDetails.IsFinalSettlementDone =0
										  --and ( @DateFrom IS NULL
											--OR @DateTo IS NULL
											--OR EmpGraduityDtl.CalcMonth BETWEEN @DateFrom
											--AND
											--@DateTo)																	
					                    group by EmployeeCode,EmployeeName,LastName ,GratuityValue 
					                    having  GratuityValue + SUM(isnull(EmpGraduityDtl.Amount,0)) > 0
					                                  						
									
									
				
            END   
            END
GO
