USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Maintenance_SupervisorSelectByStatus]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Maintenance_SupervisorSelectByStatus]
    @Status BIT ,
    @EntityId NUMERIC(18, 0)
AS
    BEGIN
        SET NOCOUNT ON;
        SELECT  SupervisorId ,
                Name ,
                CreatedOn ,
                CreatedBy ,
                EntityId ,
                Status ,
                CASE WHEN ( SELECT  COUNT(SupervisorId)
                            FROM    dbo.MaintenancePreventiveScheduleMaster
                            WHERE   dbo.MaintenancePreventiveScheduleMaster.SupervisorId = dbo.MaintenanceSupervisor.SupervisorId
                          ) > 0 THEN 'False'
                     ELSE CAST('True' AS BIT)
                END AS Edit
        FROM    dbo.MaintenanceSupervisor
        WHERE EntityId = @EntityId
--        WHERE   ( Status = @Status )
--                AND ( EntityCode = @EntityCode )
    END
GO
