USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Sample_Material_Inspection_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[Sample_Material_Inspection_Register]
     
         
 @FromDate DATETIME = NULL,
	@ToDate DATETIME = NULL,
	@PurchaseItemId UNIQUEIDENTIFIER = NULL,
	@InwardId UNIQUEIDENTIFIER = NULL,
    @EntityId INT = 0 
  
AS
BEGIN
	 
	  
	SELECT MaterialSampleInspectionMaster.SampleInspectionId,
		   MaterialSampleInspectionMaster.InspectionNo,
		   MaterialSampleInspectionMaster.EntryNo,
		   CONVERT(VARCHAR(20),MaterialSampleInspectionMaster.InspectionDate,106) as InspectionDate,
		   EmployeeDetails.EmployeeName as InspectedBy,
		   CASE WHEN MaterialSampleInspectionMaster.IsApprove = 0 THEN
		   'Disapproved'
		   ELSE
		   'Approved'
		   END AS IsApprove,
		   MaterialSampleInspectionMaster.Remarks,
		   PurchaseItemMaster.ItemName,
		   PurchaseItemMaster.ItemCode,
		   CASE WHEN RawMaterialInward.Prefix IS NULL
                                                 THEN ''
                                                 ELSE CONVERT(VARCHAR(50), RawMaterialInward.Prefix)
                                            END
                                            + CASE WHEN RawMaterialInward.Separator IS NULL
                                                   THEN ''
                                                   ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)
                                              END
                                            + CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo)
                                            + CASE WHEN RawMaterialInward.Separator IS NULL
                                                   THEN ''
                                                   ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)
                                              END
                                            + CASE WHEN RawMaterialInward.Suffix IS NULL
                                                   THEN ''
                                                   ELSE CONVERT(VARCHAR(50), RawMaterialInward.Suffix)
                                              END AS GRNNo,
                                              CASE WHEN MaterialIssue.Prefix IS NULL
                                                 THEN ''
                                                 ELSE CONVERT(VARCHAR(50), MaterialIssue.Prefix)
                                            END
                                            + CASE WHEN MaterialIssue.Separator IS NULL
                                                   THEN ''
                                                   ELSE CONVERT(VARCHAR(50), MaterialIssue.Separator)
                                              END
                                            + CONVERT(VARCHAR(50), MaterialIssue.IssueNo)
                                            + CASE WHEN MaterialIssue.Separator IS NULL
                                                   THEN ''
                                                   ELSE CONVERT(VARCHAR(50), MaterialIssue.Separator)
                                              END
                                            + CASE WHEN MaterialIssue.Suffix IS NULL
                                                   THEN ''
                                                   ELSE CONVERT(VARCHAR(50), MaterialIssue.Suffix)
                                              END AS IssueNo,
                                              MaterialSampleInspectionMaster.PurchaseItemId,
                                              MaterialSampleInspectionMaster.IssueId,
                                              MaterialSampleInspectionMaster.InwardId
		   
	FROM MaterialSampleInspectionMaster INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = MaterialSampleInspectionMaster.PurchaseItemId
	INNER JOIN RawMaterialInward ON RawMaterialInward.InwardId = MaterialSampleInspectionMaster.InwardId
	INNER JOIN MaterialIssue ON MaterialIssue.IssueId = MaterialSampleInspectionMaster.IssueId
	left JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = MaterialSampleInspectionMaster.InspectedBy
	WHERE MaterialSampleInspectionMaster.Isdeleted = 0
	AND RawMaterialInward.IsDeleted = 0
	AND MaterialIssue.IsDeleted = 0
	AND (@PurchaseItemId IS NULL OR MaterialSampleInspectionMaster.PurchaseItemId =  @PurchaseItemId)
	AND (@InwardId IS NULL OR MaterialSampleInspectionMaster.InwardId = @InwardId)
	AND ((@FromDate IS NULL OR @ToDate IS NULL ) OR CAST(MaterialSampleInspectionMaster.InspectionDate AS DATE) BETWEEN CAST(@FromDate AS DATE) AND CAST(@ToDate AS DATE))
	 
	
END
GO
