USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_MoldTypeByAssembly]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create      PROCEDURE  [dbo].[Fetch_MoldTypeByAssembly]	
	@AssemblyID uniqueidentifier  
	
AS
BEGIN
		declare @MethodId uniqueidentifier = (select dieId from purchaseItemMaster where PurchaseItemId = @AssemblyID)
		select	'Combi-'+cast(ROW_NUMBER() Over(Partition by patternId Order by patternId ) as varchar(Max)) as Combi ,
					STUFF(( SELECT  ', ' + CastingMaster.CastingName+'('+CastingMaster.CastingCode+')' +' - ' + CAST(MoldInventoryType.Cavity   AS varchar(MAx))	      
							FROM    CastingMaster              
									INNER JOIN MoldInventoryType ON MoldInventoryType.CastingId = CastingMaster.CastingId              
							WHERE   MoldInventoryType.MoldTypeID = MoldTable.MoldTypeID                  
									FOR              
									  XML PATH('')              
						), 1, 1, '')  AS CastingWithCavity,
					* 
		from(
			Select	MoldTypeID,PatternId
			From	MoldInventoryType
			inner join MoldInventory on MoldInventory.MoldingTypeID = MoldInventoryType.MoldTypeID and MoldInventory > 0 
			Where	MoldInventoryType.PatternId = @MethodId 
			group by MoldTypeID,PatternId
		) as MoldTable
END
GO
