USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_MoltonMetalWeight]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Fetch_MoltonMetalWeight] 
@BatchID INT = 0 ,
@EntityId int = 0
AS
    BEGIN

        SELECT  MoltenMetalWeight AS MoltenMetalWeight,dbo.FurnaceMaster.Furnace
        FROM    dbo.ProductionBatch
                INNER JOIN dbo.FurnaceMaster ON dbo.FurnaceMaster.Furnace = dbo.ProductionBatch.Furnace
        WHERE   batchID = @BatchID
				AND FurnaceMaster.EntityId = @EntityId
        

    END
GO
