USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[DetailProductionReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE PROCEDURE [dbo].[DetailProductionReport]
@PlantIdString VARCHAR(MAX) = NULL ,   
	 @StartDate DATETIME = NULL ,        
    @EndDate DATETIME = NULL 
AS
BEGIN
		declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End          
	
				Select ROW_NUMBER() OVER ( ORDER BY ProductionDate DESC ) SrNo ,ProductionDate, NoofHeat, MoltenMetalQty, Round(TotalProWeight,3) AS TotalProductionWeight  , Round(OKWeight,3) As OKWeight , Round(RejWeight,3) As  TotalRejWeightinKG,RR As ReclaimedQtyinKG , LossQtyinKG ,Round(Yield,2) as Yield from (

   SELECT    
                        Cast(ProductionDate as date) As ProductionDate ,        
                        COUNT(*) AS NoofHeat,
                        SUM(ProductionBatch.totalChargingQnty) AS MoltenMetalQty ,
                         SUM(dbo.ProductionBatch.totallossKG) AS LossQtyinKG ,
                         SUM(RR + Ingot + BackToFurnace) As RR
						
                FROM    ProductionBatch  
                WHERE   dbo.ProductionBatch.IsDeleted = 0        
                        AND ProductionBatch.BatchType = 0 
                        AND Cast(ProductionDate as date) between @StartDate and @EndDate
                        AND ( ISNULL(@PlantIdString , '') = ''        
								OR ProductionBatch.PlantId IN (SELECT Item FROM @Plant)        
                            )        
                GROUP BY Cast(ProductionDate as date)       
                 
              ) as MeltingDataDateWise
              INNER JOIN    
              (SELECT Cast(ProductionDate as date) as ProDate,   SUM(knockout.okqtytotalweight + knockout.rejectedqtytotalweight)  as TotalProWeight,
              (SUM(knockout.okqtytotalweight + knockout.rejectedqtytotalweight) - ISNULL(RejWeight, 0)) as OkWeight , ISNULL(RejWeight, 0) as RejWeight,
              ( CASE WHEN SUM(PB1.totalChargingQnty) = 0  THEN NULL  ELSE  100 * ( SUM(productionqty  * perpcweight) - ISNULL(RejWeight, 0) )/ SUM(PB1.totalChargingQnty)  end) as Yield
                          FROM      dbo.knockout        
                                    INNER JOIN dbo.ProductionBatch PB1 ON dbo.knockout.batchid = PB1.batchID 
                                    LEFT JOIN ( SELECT  SUM(Weight) AS RejWeight ,        
                                                        Cast(RejectionDate as date) as RejDate      
                                                FROM    dbo.CastingFinalRejection
														Inner Join ProductionBatch PB2 On PB2.batchID = CastingFinalRejection.ProductionBatchID        
                                                WHERE   RejQty > 0      
														AND Cast(RejectionDate as date) between @StartDate and @EndDate
														and PB2.PlantID in (SELECT Item FROM @Plant)
                                                GROUP BY Cast(RejectionDate as date)       
                                              ) AS S       on S.RejDate = Cast(PB1.ProductionDate as DATE)
                          WHERE     PB1.IsDeleted = 0        
									AND PB1.BatchType = 0 
									AND dbo.knockout.IsDeleted = 0        
									AND Cast(ProductionDate as date) between @StartDate and @EndDate
					              AND ( ISNULL(@PlantIdString , '') = ''        
											OR PB1.PlantId IN (SELECT Item FROM @Plant)        
					                  )        
							GROUP BY Cast(ProductionDate as date)  ,  ISNULL(RejWeight, 0)     
                                    
               ) as ProdateDateWise on MeltingDataDateWise.ProductionDate = ProdateDateWise.ProDate
            
--                SELECT  ROW_NUMBER() OVER ( ORDER BY DATEADD(dd, 0,        
--                                                             DATEDIFF(dd, 0,        
--                                                              ProductionBatch.ProductionDate)) DESC ) SrNo ,        
--                        DATEADD(dd, 0, DATEDIFF(dd, 0, ProductionDate)) AS ProductionDate ,        
--                        COUNT(*) AS NoofHeat ,        
--                        SUM(ProductionBatch.totalChargingQnty) AS MoltenMetalQty ,        
--                        ( SELECT    SUM(knockout.okqtytotalweight        
--                                        + knockout.rejectedqtytotalweight)        
--                          FROM      dbo.knockout        
--                                    INNER JOIN dbo.ProductionBatch PB1 ON dbo.knockout.batchid = PB1.batchID        
--                          WHERE     DATEADD(dd, 0,        
--                                            DATEDIFF(dd, 0,        
--                                                     ProductionBatch.ProductionDate)) = DATEADD(dd,        
--                                                              0,        
--                                                              DATEDIFF(dd, 0,        
--                                                              PB1.ProductionDate))        
--                                    AND dbo.knockout.IsDeleted = 0        
--                                    AND PB1.IsDeleted = 0        
--                                    AND PB1.BatchType = 0
--                                     AND ( ISNULL(@PlantIdString , '') = ''        
--											OR PB1.PlantId IN (SELECT Item FROM @Plant)        
--                                            )         
--                        ) AS TotalProductionWeight ,        
--      --SUM(knockout.okqtytotalweight+knockout.rejectedqtytotalweight) AS TotalProductionWeight,        
--                        ( SELECT   -- SUM(knockout.okqtytotalweight)        
--                                    ROUND(ISNULL(SUM(productionqty        
--            * perpcweight), 0)        
--                                          - ISNULL(SUM(s.Weight), 0), 3)        
--                          FROM      dbo.knockout        
--                                    INNER JOIN dbo.ProductionBatch PB1 ON dbo.knockout.batchid = PB1.batchID        
--                                    LEFT JOIN ( SELECT  SUM(Weight) AS Weight ,        
--                                                        ProductionBatchID ,        
--                                                        CastingID        
--                                                FROM    dbo.CastingFinalRejection        
--                                                WHERE   RejQty > 0        
--                                                GROUP BY ProductionBatchID ,        
--                                                        CastingID        
--                                              ) AS S ON S.ProductionBatchID = PB1.BatchId        
--                                                        AND S.CastingID = dbo.knockout.castingid        
--                          WHERE     DATEADD(dd, 0,        
--                                            DATEDIFF(dd, 0,        
--                                                     ProductionBatch.ProductionDate)) = DATEADD(dd,        
--                                                              0,        
--                                                              DATEDIFF(dd, 0,        
--                                                              PB1.ProductionDate))        
--                                    AND dbo.knockout.IsDeleted = 0        
--                                    AND PB1.IsDeleted = 0        
--                                    AND PB1.BatchType = 0  
--                                    AND ( ISNULL(@PlantIdString , '') = ''        
--											OR PB1.PlantId IN (SELECT Item FROM @Plant)        
--                                            )       
--                        ) AS OKWeight ,        
----      --SUM(knockout.okqtytotalweight) AS OKWeight,        
----                        ( SELECT    SUM(RejectionMaster.RejectedQtyWeight)        
----                          FROM      dbo.knockout        
----                                    INNER JOIN dbo.RejectionMaster ON dbo.RejectionMaster.KnockoutID = dbo.knockout.knockoutid        
----                                    INNER JOIN dbo.ProductionBatch PB1 ON dbo.knockout.batchid = PB1.batchID        
----                          WHERE     DATEADD(dd, 0, DATEDIFF(dd, 0, ProductionBatch.ProductionDate)) = DATEADD(dd, 0, DATEDIFF(dd, 0, PB1.ProductionDate))        
----                                    AND Stage = 1        
----                                    AND dbo.knockout.IsDeleted = 0        
----                                    AND PB1.IsDeleted = 0        
----                                    AND PB1.BatchType = 0        
----                        ) AS FirstStageRejWeightinKG ,        
------      sum( RejectionMasterNewStage1.RejectedQtyWeight ) AS FirstStageRejWeightinKG,        
----                        ( SELECT    SUM(RejectionMaster.RejectedQtyWeight)        
----                          FROM      dbo.knockout        
----                                    INNER JOIN dbo.RejectionMaster ON dbo.RejectionMaster.KnockoutID = dbo.knockout.knockoutid        
----                                    INNER JOIN dbo.ProductionBatch PB1 ON dbo.knockout.batchid = PB1.batchID        
----                          WHERE     DATEADD(dd, 0, DATEDIFF(dd, 0, ProductionBatch.ProductionDate)) = DATEADD(dd, 0, DATEDIFF(dd, 0, PB1.ProductionDate))        
----                                    AND Stage = 2        
----                                    AND dbo.knockout.IsDeleted = 0        
----                                    AND PB1.IsDeleted = 0        
----                                    AND PB1.BatchType = 0        
----                        ) AS SecondStageRejWeightinKG ,        
------      sum( RejectionMasterNewStage2.RejectedQtyWeight ) AS SecondStageRejWeightinKG,        
----                        ( SELECT    SUM(RejectionMaster.RejectedQtyWeight)        
----                          FROM      dbo.knockout        
----                                    INNER JOIN dbo.RejectionMaster ON dbo.RejectionMaster.KnockoutID = dbo.knockout.knockoutid        
----                                    INNER JOIN dbo.ProductionBatch PB1 ON dbo.knockout.batchid = PB1.batchID        
----                          WHERE     DATEADD(dd, 0, DATEDIFF(dd, 0, ProductionBatch.ProductionDate)) = DATEADD(dd, 0, DATEDIFF(dd, 0, PB1.ProductionDate))        
----                                    AND ( Stage = 1        
----                                          OR Stage = 2        
----                                        )        
----                                    AND dbo.knockout.IsDeleted = 0        
----                                    AND PB1.IsDeleted = 0        
----                                    AND PB1.BatchType = 0        
----                        ) AS TotalRejWeightinKG ,        
--                        ( SELECT    SUM(Weight) AS RejWeight        
--                          FROM      dbo.CastingFinalRejection        
--                                    INNER JOIN dbo.ProductionBatch PB1 ON PB1.batchID = dbo.CastingFinalRejection.ProductionBatchID        
--                          WHERE     DATEADD(dd, 0,        
--                                            DATEDIFF(dd, 0,        
--                                                     ProductionBatch.ProductionDate)) = DATEADD(dd,        
--                                                              0,        
--                                                              DATEDIFF(dd, 0,        
--                                                              PB1.ProductionDate))        
--                                    AND IsDeleted = 0        
--                                    AND RejQty > 0 
--                                    AND ( ISNULL(@PlantIdString , '') = ''        
--								OR PB1.PlantId IN (SELECT Item FROM @Plant)        
--                            )       
--                        ) AS TotalRejWeightinKG ,        
----      sum(RejectionMasterNewStage1.RejectedQtyWeight+ RejectionMasterNewStage2.RejectedQtyWeight ) AS TotalRejWeightinKG,        
--                        ( SELECT    SUM(FoundryReturn.returnQty)        
--                          FROM      dbo.FoundryReturn        
--                                    INNER JOIN dbo.ProductionBatch PB1 ON dbo.FoundryReturn.batchid = PB1.batchID        
--                          WHERE     DATEADD(dd, 0,        
--                                            DATEDIFF(dd, 0,        
--                                                     ProductionBatch.ProductionDate)) = DATEADD(dd,        
--                                                              0,        
--                                                              DATEDIFF(dd, 0,        
--                                                              PB1.ProductionDate))        
--                                    AND FoundryReturn.IsDeleted = 0        
--                 AND PB1.IsDeleted = 0        
--                                    AND PB1.BatchType = 0   
--                                      AND ( ISNULL(@PlantIdString , '') = ''        
--											OR PB1.PlantId IN (SELECT Item FROM @Plant)        
--                                            )      
--                        ) AS ReclaimedQtyinKG ,        
--      --SUM(dbo.FoundryReturn.returnQty) AS ReclaimedQtyinKG,        
--                        SUM(dbo.ProductionBatch.totallossKG) AS LossQtyinKG ,        
--                        CASE WHEN SUM(ProductionBatch.totalChargingQnty) = 0        
--                             THEN NULL        
--                             ELSE ( SELECT  100 * ( SUM(productionqty        
--                                                        * perpcweight)        
--                                                    - ISNULL(SUM(Weight), 0) )        
--                                            / SUM(ProductionBatch.totalChargingQnty)        
--                                    FROM    dbo.knockout        
--                                            INNER JOIN dbo.ProductionBatch PB1 ON dbo.knockout.batchid = PB1.batchID        
--                                            LEFT JOIN ( SELECT        
--                                                              SUM(Weight) AS Weight ,        
--                                                              ProductionBatchID ,        
--                                                              CastingID        
--                                                        FROM  dbo.CastingFinalRejection        
--                                                        WHERE RejQty > 0        
--                                                        GROUP BY ProductionBatchID ,        
--                                                              CastingID        
--                                                      ) AS S ON S.ProductionBatchID = PB1.BatchId        
--                                                              AND S.CastingID = dbo.knockout.castingid        
--                                    WHERE   DATEADD(dd, 0,        
--                                                    DATEDIFF(dd, 0,        
--                                                             ProductionBatch.ProductionDate)) = DATEADD(dd,        
--                                                              0,        
--                                                              DATEDIFF(dd, 0,        
--                                                              PB1.ProductionDate))        
--                                            AND PB1.IsDeleted = 0        
--                                          --  AND PB1.BatchType = 0        
--                                            AND dbo.knockout.IsDeleted = 0  
--                                              AND ( ISNULL(@PlantIdString , '') = ''        
--											OR PB1.PlantId IN (SELECT Item FROM @Plant)        
--                                            )       
--                                  )        
--                        END AS Yield        
--       --SUM(knockout.okqtytotalweight+knockout.rejectedqtytotalweight)/SUM(ProductionBatch.totalChargingQnty) end AS Yield        
--                FROM    ProductionBatch        
--                WHERE   dbo.ProductionBatch.IsDeleted = 0        
--                        AND ProductionBatch.BatchType = 0 
--                        AND ( ISNULL(@PlantIdString , '') = ''        
--								OR ProductionBatch.PlantId IN (SELECT Item FROM @Plant)        
--                            )        
--                GROUP BY DATEADD(dd, 0,        
--                                 DATEDIFF(dd, 0,        
--                                          ProductionBatch.ProductionDate))        
--                HAVING  DATEADD(dd, 0,        
--                                DATEDIFF(dd, 0, ProductionBatch.ProductionDate)) BETWEEN DATEADD(dd,        
--                                                  0,        
--                                                              DATEDIFF(dd, 0,        
--                                                              @StartDate))        
--                                                              AND        
--                                                              DATEADD(dd, 0,        
--                                                              DATEDIFF(dd, 0,        
--                                                              @EndDate))        
             
END

GO
