USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[RateContract_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[RateContract_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL ,  
	  @SupplierID UNIQUEIDENTIFIER = NULL ,
    @processId UNIQUEIDENTIFIER = NULL ,
    @CastingId UNIQUEIDENTIFIER = NULL ,
    @IsAll INT = 1 ,
    @Block INT = 0,
    @PageName varchar(Max) = 'ForCasting',
    @ItemId uniqueidentifier = null,
    @BomId uniqueidentifier = null, 
    @CastingName VARCHAR(100) = NULL ,
    @EntityId INT = 0 
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	    IF @Parameter = 1
        BEGIN
		
            BEGIN
                IF @InitialLoad = 1
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT TOP ( @PageSize )
                                            ROW_NUMBER() OVER ( ORDER BY RateContractDate DESC, CustomerName ASC ) AS RowNo ,
                                            CustomerName ,
                                            ProcessMaster.ProcessName ,
											RPM.ProcessName as ReturnProcessName,
                                            CastingMaster.CastingName ,
                                            CastingMaster.CastingCode ,
                                            PartNo.CastingCode AS PartNo ,
                                            Rate ,
                                            UOM ,
                                            Discount ,
                                            CONVERT(VARCHAR(15), RateContractDate, 106) AS RateContractDate ,
                                            CONVERT(VARCHAR(15), RateEffectiveDateFrom, 106) AS RateEffectiveFrom ,
                                            CONVERT(VARCHAR(15), RateEffectiveDateTo, 106) AS RateEffectiveTo ,
                                            TotalAmount ,
                                            RateContractID ,
                                            RateContract.IsDeleted ,
                                            CASE WHEN RateContract.IsDefault = 'false'
                                                 THEN 'NO'
                                                 ELSE 'YES'
                                            END AS IsDefault,
                                            isnull(ServiceItemMaster.Item,'') as ServiceItem
                                  FROM      dbo.RateContract 
                                            INNER JOIN CastingMaster On RateContract.CastingID = CastingMaster.CastingID
                                            INNER JOIN CastingMaster AS PartNo On RateContract.PartId = PartNo.CastingId
											INNER JOIN CustomerMaster On RateContract.SupplierID = CustomerMaster.CustomerID
                                            Left JOIN ProcessMaster On RateContract.ProcessID = ProcessMaster.ProcessID
											Left JOIN ProcessMaster as RPM On RateContract.ReturnProcessID = RPM.ProcessID
                                            Left Join ServiceItemMaster On ServiceItemMaster.ServiceItemId = RateContract.ServiceItemId
												and ServiceItemMaster.IsDeleted = 0
                                  WHERE     ( @SupplierID IS NULL
                                                  OR RateContract.SupplierID = @SupplierID
                                                )
                                            AND ( @ProcessID IS NULL
                                                  OR RateContract.ProcessID = @ProcessiD
                                                )
                                            AND ( @CastingName IS NULL
                                                  OR CastingMaster.CastingName = @CastingName
                                                )   
                                                -- Added Nikunj                                             
                                            AND ( @CastingId IS NULL
                                                  OR CastingMaster.CastingId = @CastingId
                                                )
                                            AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR CastingMaster.CastingId IN (
                                                  SELECT    CastingId
                                                  FROM      dbo.PlantCastingMapping
                                                          where PlantId in (SELECT Item FROM @Plant))
                                                )
                                            AND RateContract.EntityID = @EntityId
                                            AND (@IsAll = 1 OR RateContract.IsDeleted = @Block)
                                            AND ((@PageName = 'ForCasting' and RateContract.ForOtherProcesses = 0 and JobIn = 0)
												Or(@PageName = 'JOBIN' and RateContract.JobIn = 1)
												Or(@PageName = 'JOBINFORPOURING' and RateContract.JobIn = 2))
                                UNION ALL
                                    ( SELECT TOP ( @PageSize )
                                            ROW_NUMBER() OVER ( ORDER BY RateContractDate DESC, CustomerName ASC ) AS RowNo ,
                                            CustomerName ,
                                            ProcessMaster.ProcessName as ProcessName ,
											'' as ReturnProcessName,
                                            BOQMaster.BOMName + '(' + BOQMaster.BOMCode +')' as  CastingName,
                                            case when BOQMaster.IsItemType = 1
													then (PurchaseItemMaster.ItemName + '(' + ItemCode + ')')
													else case when BOQMaster.IsItemType = 2
													then (CastingName + '(' + CastingCode + ')' )
													else case when BOQMaster.IsItemType = 3
													then ItemCode +'-(Mold)'
													else case when BOQMaster.IsItemType = 5
													then ItemCode  +'-(Pattern)'
													else CoreBoxName end end end end
                                            as CastingCode ,
                                            ServiceItemMaster.Item AS PartNo ,
                                            Rate ,
                                            RateContract.UOM ,
                                            Discount ,
                                            CONVERT(VARCHAR(15), RateContractDate, 106) AS RateContractDate ,
                                            CONVERT(VARCHAR(15), RateEffectiveDateFrom, 106) AS RateEffectiveFrom ,
                                            CONVERT(VARCHAR(15), RateEffectiveDateTo, 106) AS RateEffectiveTo ,
                                            RateContract.TotalAmount ,
                                            RateContractID ,
                                            RateContract.IsDeleted ,
                                            CASE WHEN RateContract.IsDefault = 'false'
                                                 THEN 'NO'
                                                 ELSE 'YES'
                                            END AS IsDefault,
                                            '' as ServiceItem
                                  FROM      dbo.RateContract 
											INNER JOIN ProcessMaster On RateContract.ProcessID = ProcessMaster.ProcessID
											INNER JOIN BOQMaster On BOQMaster.BOQId = RateContract.BOM_ID
														AND BOQMaster.IsDeleted = 0
											Left JOIN ServiceItemMaster On ServiceItemMaster.ServiceItemId = RateContract.ServiceItemId
															AND ServiceItemMaster.IsDeleted = 0
											INNER JOIN CustomerMaster On RateContract.SupplierID = CustomerMaster.CustomerID
                                            LEFT JOIN PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = RateContract.CastingID
														AND PurchaseItemMaster.IsDeleted = 0
                                            LEFT JOIN CastingMaster On CastingMaster.CastingId = RateContract.CastingID
														AND CastingMaster.IsDeleted = 0
                                            LEFT JOIN CoreBoxDetails On CoreBoxDetails.CoreBoxId = RateContract.CastingID
														AND CoreBoxDetails.IsDelete = 0
                                           -- LEFT JOIN PatternMaster On PatternMaster.PatternId = RateContract.CastingID 
														--AND PatternMaster.IsDeleted = 0
                                            
                                  WHERE     ( @SupplierID IS NULL
                                                  OR RateContract.SupplierID = @SupplierID
                                                )
                                            AND ( @ProcessID IS NULL
                                                  OR RateContract.ProcessID = @ProcessiD
                                                )
                                            AND ( @BomId  IS NULL
                                                  OR RateContract.BOM_ID = @BomId
                                                )   
                                                -- Added Nikunj                                             
                                            AND ( @ItemId IS NULL
                                                  OR RateContract.CastingId = @ItemId
                                                )
                                            --AND ( @PlantIdString IS NULL
                                            --      OR @PlantIdString = ''
                                            --      OR CastingMaster.CastingId IN (
                                            --      SELECT    CastingId
                                            --      FROM      dbo.PlantCastingMapping
                                            --                INNER JOIN dbo.SplitString(@PlantIdString,
                                            --                  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                                                  
                                            --    )
                                            AND RateContract.EntityID = @EntityId
                                            AND (@IsAll = 1 OR RateContract.IsDeleted = @Block)
                                            AND (@PageName = 'ForOtherProcesses' and RateContract.ForOtherProcesses = 1)
                                         )
                                ) AS RateContract
                        ORDER BY RowNo ASC
                    END
					
                ELSE
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY RateContractDate DESC, CustomerName ASC ) AS RowNo ,
                                            CustomerName ,
                                            ProcessMaster.ProcessName ,
											RPM.ProcessName as ReturnProcessName, 
                                            CastingMaster.CastingName ,
                                            CastingMaster.CastingCode ,
                                            PartNo.CastingCode AS PartNo ,
                                            Rate ,
                                            UOM,
                                            Discount ,
                                            CONVERT(VARCHAR(15), RateContractDate, 106) AS RateContractDate ,
                                            CONVERT(VARCHAR(15), RateEffectiveDateFrom, 106) AS RateEffectiveFrom ,
                                            CONVERT(VARCHAR(15), RateEffectiveDateTo, 106) AS RateEffectiveTo ,
                                            TotalAmount ,
                                            RateContractID ,
                                            RateContract.IsDeleted ,
                                            CASE WHEN RateContract.IsDefault = 'false'
                                                 THEN 'NO'
                                                 ELSE 'YES'
                                            END AS IsDefault,
                                            isnull(ServiceItemMaster.Item,'') as ServiceItem
                                  FROM      dbo.RateContract 
											INNER JOIN CustomerMaster On RateContract.SupplierID = CustomerMaster.CustomerID
                                            INNER JOIN CastingMaster On RateContract.CastingID = CastingMaster.CastingID
                                            Left JOIN ProcessMaster On RateContract.ProcessID = ProcessMaster.ProcessID
											Left JOIN ProcessMaster as RPM On RateContract.ReturnProcessID = RPM.ProcessID
                                            INNER JOIN CastingMaster AS PartNo On RateContract.PartId = PartNo.CastingId
                                            Left Join ServiceItemMaster On ServiceItemMaster.ServiceItemId = RateContract.ServiceItemId
												and ServiceItemMaster.IsDeleted = 0
                                  WHERE     ( @SupplierID IS NULL
                                                  OR RateContract.SupplierID = @SupplierID
                                                )
                                            AND ( @ProcessID IS NULL
                                                  OR RateContract.ProcessID = @ProcessiD
                                                )
                                            AND ( @CastingName IS NULL
                                                  OR CastingMaster.CastingName = @CastingName
                                                )
                                             -- Added Nikunj                                             
                                            AND ( @CastingId IS NULL
                                                  OR CastingMaster.CastingId = @CastingId
                                                )
                                            AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR CastingMaster.CastingId IN (
                                                  SELECT    CastingId
                                                  FROM      dbo.PlantCastingMapping
                                                          where PlantId in (SELECT Item FROM @Plant))
                                                )
                                            AND RateContract.EntityID = @EntityId
                                            AND (@IsAll = 1 OR RateContract.IsDeleted = @Block)
                                             AND ((@PageName = 'ForCasting' and RateContract.ForOtherProcesses = 0 and JobIn = 0)
												Or(@PageName = 'JOBIN' and RateContract.JobIn = 1)
												Or(@PageName = 'JOBINFORPOURING' and RateContract.JobIn = 2))
                                 UNION ALL
                                     SELECT 
                                            ROW_NUMBER() OVER ( ORDER BY RateContractDate DESC, CustomerName ASC ) AS RowNo ,
                                            CustomerName ,
                                            ProcessMaster.ProcessName as ProcessName ,
											'' as ReturnProcessName,
                                            BOQMaster.BOMName + '(' + BOQMaster.BOMCode +')' as  CastingName,
                                            case when BOQMaster.IsItemType = 1
													then (PurchaseItemMaster.ItemName + '(' + ItemCode + ')')
													else case when BOQMaster.IsItemType = 2
													then (CastingName + '(' + CastingCode + ')' )
													else case when BOQMaster.IsItemType = 3
													then ItemCode +'-(Mold)'
													else case when BOQMaster.IsItemType = 5
													then ItemCode  +'-(Pattern)'
													else CoreBoxName end end end end
                                            as CastingCode ,
                                            ServiceItemMaster.Item AS PartNo ,
                                            Rate ,
                                            RateContract.UOM ,
                                            Discount ,
                                            CONVERT(VARCHAR(15), RateContractDate, 106) AS RateContractDate ,
                                            CONVERT(VARCHAR(15), RateEffectiveDateFrom, 106) AS RateEffectiveFrom ,
                                            CONVERT(VARCHAR(15), RateEffectiveDateTo, 106) AS RateEffectiveTo ,
                                            RateContract.TotalAmount ,
                                            RateContractID ,
                                            RateContract.IsDeleted ,
                                            CASE WHEN RateContract.IsDefault = 'false'
                                                 THEN 'NO'
                                                 ELSE 'YES'
                                            END AS IsDefault,
                                            '' as ServiceItem
                                  FROM      dbo.RateContract
											INNER JOIN ProcessMaster On RateContract.ProcessID = ProcessMaster.ProcessID 
											INNER JOIN BOQMaster On BOQMaster.BOQId = RateContract.BOM_ID
														AND BOQMaster.IsDeleted = 0
											Left JOIN ServiceItemMaster On ServiceItemMaster.ServiceItemId = RateContract.ServiceItemId
															AND ServiceItemMaster.IsDeleted = 0
											INNER JOIN CustomerMaster On RateContract.SupplierID = CustomerMaster.CustomerID
                                            LEFT JOIN PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = RateContract.CastingID
														AND PurchaseItemMaster.IsDeleted = 0
                                            LEFT JOIN CastingMaster On CastingMaster.CastingId = RateContract.CastingID
														AND CastingMaster.IsDeleted = 0
                                            LEFT JOIN CoreBoxDetails On CoreBoxDetails.CoreBoxId = RateContract.CastingID
														AND CoreBoxDetails.IsDelete = 0
                                           -- LEFT JOIN PatternMaster On PatternMaster.PatternId = RateContract.CastingID 
												--		AND PatternMaster.IsDeleted = 0
                                            
                                  WHERE     ( @SupplierID IS NULL
                                                  OR RateContract.SupplierID = @SupplierID
                                                )
                                            AND ( @ProcessID IS NULL
                                                  OR RateContract.ProcessID = @ProcessiD
                                                )
                                            AND ( @BomId  IS NULL
                                                  OR RateContract.BOM_ID = @BomId
                                                )   
                                                -- Added Nikunj                                             
                                            AND ( @ItemId IS NULL
                                                  OR RateContract.CastingId = @ItemId
                                                )
                                            --AND ( @PlantIdString IS NULL
                                            --      OR @PlantIdString = ''
                                            --      OR CastingMaster.CastingId IN (
                                            --      SELECT    CastingId
                                            --      FROM      dbo.PlantCastingMapping
                                            --                INNER JOIN dbo.SplitString(@PlantIdString,
                                            --                  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                                                  
                                            --    )
                                            AND RateContract.EntityID = @EntityId
                                            AND (@IsAll = 1 OR RateContract.IsDeleted = @Block)
                                            AND (@PageName = 'ForOtherProcesses' and RateContract.ForOtherProcesses = 1)
  
                                ) AS RateContract
                        WHERE   RateContract.RowNo > ( @PageNumber * @PageSize )
                        ORDER BY RateContract.RowNo ASC
                    END
            END
        END	

    IF @Parameter = 2
        BEGIN
		
            SET @TotalRecords = 
								(Select Sum(Value) from
								( SELECT  DISTINCT
                                            Isnull(COUNT(1),0) as Value
                                  FROM      dbo.RateContract ,
                                            CastingMaster
                                  WHERE     RateContract.CastingID = CastingMaster.CastingID
                                            AND ( @SupplierID IS NULL
                                                  OR RateContract.SupplierID = @SupplierID
                                                )
                                            AND ( @ProcessID IS NULL
                                                  OR RateContract.ProcessID = @ProcessiD
                                                )
                                            AND ( @CastingName IS NULL
                                                  OR CastingMaster.CastingName = @CastingName
                                                )
                                              -- Added Nikunj                                             
                                            AND ( @CastingId IS NULL
                                                  OR CastingMaster.CastingId = @CastingId
                                                )
                                            AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR CastingMaster.CastingId IN (
                                                  SELECT    CastingId
                                                  FROM      dbo.PlantCastingMapping
                                                           where PlantId in (SELECT Item FROM @Plant))
                                                )
                                            AND RateContract.EntityID = @EntityId
                                            AND (@IsAll = 1 OR RateContract.IsDeleted = @Block)
                                             AND ((@PageName = 'ForCasting' and RateContract.ForOtherProcesses = 0 and JobIn = 0)
												Or(@PageName = 'JOBIN' and RateContract.JobIn = 1)
												Or(@PageName = 'JOBINFORPOURING' and RateContract.JobIn = 2))
                                  UNION ALL
                                  SELECT  DISTINCT
                                            Isnull(COUNT(1),0) as Value
                                  FROM      dbo.RateContract
                                  WHERE     ( @SupplierID IS NULL
                                                  OR RateContract.SupplierID = @SupplierID
                                                )
                                            AND ( @ProcessID IS NULL
                                                  OR RateContract.ProcessID = @ProcessiD
                                                )
                                            AND ( @BomId  IS NULL
                                                  OR RateContract.BOM_ID = @BomId
                                                )                                               
                                            AND ( @ItemId IS NULL
                                                  OR RateContract.CastingId = @ItemId
                                                )
                                            --AND ( @PlantIdString IS NULL
                                            --      OR @PlantIdString = ''
                                            --      OR CastingMaster.CastingId IN (
                                            --      SELECT    CastingId
                                            --      FROM      dbo.PlantCastingMapping
                                            --                INNER JOIN dbo.SplitString(@PlantIdString,
                                            --                  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                                                  
                                            --    )
                                            AND RateContract.EntityID = @EntityId
                                            AND (@IsAll = 1 OR RateContract.IsDeleted = @Block)
                                            AND (@PageName = 'ForOtherProcesses' and RateContract.ForOtherProcesses = 1)
  
                                 ) as a)
				--COMMIT TRANSACTION
            RETURN @TotalRecords
		
        END
        
                
    IF @Parameter =  3 -- For Download
        BEGIN
            SELECT  ROW_NUMBER() OVER ( ORDER BY RateContractDate DESC, CustomerName ASC ) AS RowNo ,
                    CustomerName ,
                    ProcessMaster.ProcessName ,
					RPM.ProcessName as ReturnProcessName,
                    CastingMaster.CastingName ,
                    CastingMaster.CastingCode ,
                    PartNo.CastingCode AS PartNo ,
                    Rate ,
                    UOM ,
                    Discount ,
                    CONVERT(VARCHAR(15), RateContractDate, 106) AS RateContractDate ,
                    CONVERT(VARCHAR(15), RateEffectiveDateFrom, 106) AS RateEffectiveFrom ,
                    CONVERT(VARCHAR(15), RateEffectiveDateTo, 106) AS RateEffectiveTo ,
                    TotalAmount ,
                    RateContractID ,
                    RateContract.IsDeleted ,
                    CASE WHEN RateContract.IsDefault = 'false' THEN 'NO'
                         ELSE 'YES'
                    END AS IsDefault,
                    ISNULL(ServiceItemMaster.Item,'') as ServiceItem
            FROM    dbo.RateContract
                    INNER JOIN CustomerMaster on RateContract.SupplierID = CustomerMaster.CustomerID
					INNER JOIN CastingMaster on RateContract.CastingID = CastingMaster.CastingID
                    INNER JOIN CastingMaster AS PartNo on RateContract.PartId = PartNo.CastingId
                    Left JOIN ProcessMaster On RateContract.ProcessID = ProcessMaster.ProcessID
					Left JOIN ProcessMaster as RPM On RateContract.ReturnProcessID = RPM.ProcessID
                    Left Join ServiceItemMaster On ServiceItemMaster.ServiceItemId = RateContract.ServiceItemId
                    and ServiceItemMaster.IsDeleted = 0
            WHERE   ( @SupplierID IS NULL
                          OR RateContract.SupplierID = @SupplierID
                        )
                    AND ( @ProcessID IS NULL
                          OR RateContract.ProcessID = @ProcessiD
                        )
                    AND ( @CastingName IS NULL
                          OR CastingMaster.CastingName = @CastingName
                        )
                                             -- Added Nikunj
                    AND ( @CastingId IS NULL
                          OR CastingMaster.CastingId = @CastingId
                        )
                     AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR CastingMaster.CastingId IN (
                                                  SELECT    CastingId
                                                  FROM      dbo.PlantCastingMapping
                                                        where PlantId in (SELECT Item FROM @Plant) )
                                                )
                    AND RateContract.EntityID = @EntityId      
                    AND (@IsAll = 1 OR RateContract.IsDeleted = @Block) 
                    AND ((@PageName = 'ForCasting' and RateContract.ForOtherProcesses = 0 and JobIn = 0)
							Or(@PageName = 'JOBIN' and RateContract.JobIn = 1)
							Or(@PageName = 'JOBINFORPOURING' and RateContract.JobIn = 2))
		UNION ALL
			 SELECT  ROW_NUMBER() OVER ( ORDER BY RateContractDate DESC, CustomerName ASC ) AS RowNo ,
                    CustomerName ,
                    ProcessMaster.ProcessName as ProcessName ,
					'' as ReturnProcessName,
                    BOQMaster.BOMName + '(' + BOQMaster.BOMCode +')' as  CastingName,
                    case when BOQMaster.IsItemType = 1
							then (PurchaseItemMaster.ItemName + '(' + ItemCode + ')')
							else case when BOQMaster.IsItemType = 2
							then (CastingName + '(' + CastingCode + ')' )
							else case when BOQMaster.IsItemType = 3 Or BOQMaster.IsItemType = 5
							then ItemCode 
							--else case when BOQMaster.IsItemType = 5
							--then PatternCode +'-(Pattern)'
							else CoreBoxName end end end --end
                    as CastingCode ,
                    ServiceItemMaster.Item AS PartNo ,
                    Rate ,
                    RateContract.UOM ,
                    Discount ,
                    CONVERT(VARCHAR(15), RateContractDate, 106) AS RateContractDate ,
                    CONVERT(VARCHAR(15), RateEffectiveDateFrom, 106) AS RateEffectiveFrom ,
                    CONVERT(VARCHAR(15), RateEffectiveDateTo, 106) AS RateEffectiveTo ,
                    RateContract.TotalAmount ,
                    RateContractID ,
                    RateContract.IsDeleted ,
                    CASE WHEN RateContract.IsDefault = 'false'
                         THEN 'NO'
                         ELSE 'YES'
                    END AS IsDefault,
                    '' as ServiceItem
          FROM      dbo.RateContract 
					INNER join ProcessMaster On ProcessMaster.ProcessId = RateContract.ProcessID
					INNER JOIN BOQMaster On BOQMaster.BOQId = RateContract.BOM_ID
								AND BOQMaster.IsDeleted = 0
					Left JOIN ServiceItemMaster On ServiceItemMaster.ServiceItemId = RateContract.ServiceItemId
									AND ServiceItemMaster.IsDeleted = 0
					INNER JOIN CustomerMaster On RateContract.SupplierID = CustomerMaster.CustomerID
                    LEFT JOIN PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = RateContract.CastingID
								AND PurchaseItemMaster.IsDeleted = 0
                    LEFT JOIN CastingMaster On CastingMaster.CastingId = RateContract.CastingID
								AND CastingMaster.IsDeleted = 0
                    LEFT JOIN CoreBoxDetails On CoreBoxDetails.CoreBoxId = RateContract.CastingID
								AND CoreBoxDetails.IsDelete = 0
                   -- LEFT JOIN PatternMaster On PatternMaster.PatternId = RateContract.CastingID 
								--AND PatternMaster.IsDeleted = 0
                    
          WHERE     ( @SupplierID IS NULL
                          OR RateContract.SupplierID = @SupplierID
                        )
                    AND ( @processId IS NULL
                          OR RateContract.ProcessID = @processId
                        )
                    AND ( @BomId  IS NULL
                          OR RateContract.BOM_ID = @BomId
                        )   
                        -- Added Nikunj                                             
                    AND ( @ItemId IS NULL
                          OR RateContract.CastingId = @ItemId
                        )
                    --AND ( @PlantIdString IS NULL
                    --      OR @PlantIdString = ''
                    --      OR CastingMaster.CastingId IN (
                    --      SELECT    CastingId
                    --      FROM      dbo.PlantCastingMapping
                    --                INNER JOIN dbo.SplitString(@PlantIdString,
                    --                  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                          
                    --    )
                    AND RateContract.EntityID = @EntityId
                    AND (@IsAll = 1 OR RateContract.IsDeleted = @Block)
                    AND (@PageName = 'ForOtherProcesses' and RateContract.ForOtherProcesses = 1)
                                         
        END
END
GO
