USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[DyePenetrantInspectionReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[DyePenetrantInspectionReport]
@DPTCId int=0,
@Active bit=0
AS

BEGIN


SELECT		DPTCNo,
			convert(varchar, DPTCDate, 106) as DPTCDate,
		case when @Active=1 then CMM.CustomerCode else  CMM.CustomerName end CustomerName,
			Dis.Address,
			SurfaceCond,
			RefStd,
			AcceptanceStd,
			SurfaceTemp,
			ModeOfPenetrant,
			TypeOFDeveloper,
			TypeOfCleaner,
			TypeOfPenetrant,
			PenetrateDwellTime,
			DeveloperDwellTime,
			PenetrantRemoval,
			
			 CASE WHEN Dis.Prefix IS NULL THEN ''
                         ELSE CONVERT(VARCHAR(50), Dis.Prefix)
                    END + CASE WHEN Dis.Separator IS NULL THEN ''
                               ELSE CONVERT(VARCHAR(50), Dis.Separator)
                          END
                    + CONVERT(VARCHAR(50), Dis.DispatchSlipNo)
                    + CASE WHEN Dis.Separator IS NULL THEN ''
                           ELSE CONVERT(VARCHAR(50), Dis.Separator)
                      END + CASE WHEN Dis.Suffix IS NULL THEN ''
                                 ELSE CONVERT(VARCHAR(50), Dis.Suffix)
                            END AS DispatchSlipNo ,
			MetalName,
			GradeStandard,
			DPTCMaster.Remarks,
			DPTCMaster.CreatedBy,
			Standard
FROM		DPTCMaster 		
			INNER JOIN dispatchmaster Dis
			ON Dis.DispatchID = DPTCMaster.InvoiceId	
			INNER JOIN MetalMaster MM
			on MM.MetalId = DPTCMaster.GradeId
			INNER JOIN CustomerMaster CMM
			ON CMM.CustomerId = Dis.CustomerID
			
WHERE		DPTCMaster.IsDeleted=0
			AND DPTCMaster.DPTCId = @DPTCId

	
	
	
SELECT		OM.CustomerOrderNo,
			CM.CastingCode,
			CM.CastingName,
			DPTCItemDetails.DwgNo,
			DPINo,
			PB.batchno,
			DPTCItemDetails.Qty,
			(Case when  DPTCItemDetails.Result = 1 then 'OK' ELSE (Case when DPTCItemDetails.Result = 2 THEN 'OK With Deviation' else 'Reject' end)  end) as Result
			
FROM		DPTCItemDetails		
			INNER JOIN ProductionBatch PB 
			ON PB.batchID = DPTCItemDetails.HeatID
			INNER JOIN CastingMaster CM
			ON CM.CastingId = DPTCItemDetails.CastingID
			INNER JOIN dispatchtrans DT
			ON DT.dispatchtransid = DPTCItemDetails.DispatchTransId
			INNER JOIN OrderMaster OM
			ON OM.CustomerOrderId = DT.orderid	
			INNER JOIN DPIMaster
			On DPIMaster.DPID = DPTCItemDetails.DPID
WHERE		DPTCItemDetails.DPTCId=@DPTCId
	
END
GO
