USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Coating_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[Coating_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,  
     
@CastingID UNIQUEIDENTIFIER = NULL ,
@OperatorID INT = 0 ,
@StartDate DATE = NULL ,
@Enddate DATE = NULL ,
@PlantIdString VARCHAR(MAX) = NULL ,  
@EntityId INT = 0,
@CoatingID UNIQUEIDENTIFIER = NULL,
@PageName Nvarchar(Max) = Null,
@PrintOrderNo bit = 0
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	 
        IF @Parameter = 1 -- Fetch Data for Register
            BEGIN
                IF @InitialLoad = 1
                    BEGIN 
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT 
                                            ROW_NUMBER() OVER ( ORDER BY CoatingDetails.CoatingDate DESC ) AS [SrNo] ,
                                            CoatingDetails.CoatingID AS [CoatingId] ,
                                            CoatingDetails.EntryNo ,
                                            CONVERT(VARCHAR(11), CoatingDetails.CoatingDate, 106) +' '+    CONVERT(VARCHAR, CoatingDetails.StartTime, 100)  AS [Date] ,
											CONVERT(VARCHAR(11), CoatingDetails.CoatingEndDate, 106)+' '+    CONVERT(VARCHAR, CoatingDetails.EndTime, 100)  AS [EndDate] ,
                                            HRShiftMaster.ShiftName as Shift ,
                                            ( EmployeeDetails.EmployeeName
                                              + ' ('
                                              + EmployeeDetails.EmployeeCode
                                              + ')' ) AS OperatorName ,
                                            CASE WHEN IsDeWaxing = 1 THEN 'DeWaxing' ELSE CT.CoatName END CoatToName ,
											--CASE WHEN CoatFromID = CAST(0x0 AS UNIQUEIDENTIFIER)
											--	 THEN PurchaseItemMaster.ItemCode
											--	 ELSE CF.CoatName
											--END AS CoatFromName ,
											isnull(CF.CoatName ,'Assembly') as CoatFromName,
											PatternMaster.PatternCode JobCardNo ,
											CoatingDetails.TransferQty,
                                            CoatingDetails.CoatToID,
											CoatingDetails.CoatFromID,
											CoatingDetails.MethodID,
											CoatingDetails.IsDeWaxing,
											STUFF(( SELECT  ',' + CastingName 														
												FROM    dbo.CastingMaster
													 inner join MoldInventoryType ON MoldInventoryType.MoldTypeID = CoatingDetails.MoldTypeId 
													and CastingMaster.CastingId = MoldInventoryType.CastingId
												FOR
												XML PATH('')
												), 1, 1, '') AS CastingName ,
											  STUFF(( SELECT  ',' + CastingCode 														
												FROM    dbo.CastingMaster
														inner join MoldInventoryType ON MoldInventoryType.MoldTypeID = CoatingDetails.MoldTypeId 
															and CastingMaster.CastingId = MoldInventoryType.CastingId
												FOR
												XML PATH('')
												), 1, 1, '') AS CastingCode,
													( (CASE WHEN @PrintOrderNo = 0 THEN
															isnull(OrderMaster.WOPrefix,'')
															+Isnull(OrderMaster.WOSeparator,'')
															+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
															+Isnull(OrderMaster.WOSeparator,'')
															+Isnull(OrderMaster.WOSuffix,'')
														ELSE  
															isnull(OrderMaster.Prefix,'')
															+ isnull(OrderMaster.Separator,'')
															+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
															+ isnull(OrderMaster.Separator,'')
															+ isnull(OrderMaster.Suffix,'')
														END)
														+ '/' + CAST(OrderTranse.SrNo as varchar(150)) + '/' + CONVERT(VARCHAR(15), OrderTranse.DeliveryDate, 106)
														) AS OrderLink 
											
                                  FROM      CoatingDetails
                                            INNER JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = CoatingDetails.OperatorID
										    INNER JOIN HRShiftMaster ON HRShiftMaster.ShiftId = CoatingDetails.ShiftId
                                            LEFT JOIN CoatMaster as CT ON CT.CoatId = CoatingDetails.CoatToID
											INNER JOIn PatternMaster ON PatternMaster.PatternId = CoatingDetails.MethodID
									        LEFT JOIN CoatMaster CF ON CF.CoatId = CoatingDetails.CoatFromID 
											Left JOIN PurchaseItemMaster ON PurchaseItemMaster.DieID  = CoatingDetails.MethodID
											Left Join OrderTranse on OrderTranse.OrderTranseId = CoatingDetails.OrderTranseId
			                                left Join OrderMaster on OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
										
                                  WHERE     ( @OperatorID = 0
                                              OR CoatingDetails.OperatorID = @OperatorID
                                            )
                                            AND ( @CastingID IS NULL
                                                  OR CoatingDetails.MethodId  in (select MethodId from CoatingDetails  where methodid in (select MethodId from PatternCastingMapping where CastingId = @CastingID))
                                                )
                                            AND ( CoatingDetails.CoatingDate BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                            AND CoatingDetails.IsDeleted = 0
                                            AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR CoatingDetails.PlantId in (SELECT Item FROM @Plant)
                                                )
                                            AND CoatingDetails.EntityID = @EntityId
											AND( (@PageName = 'Waxing' AND CoatingDetails.IsDeWaxing =1)
											OR (@PageName = 'Coating' AND ISNULL(CoatingDetails.IsDeWaxing,0) = 0))
                                            --AND OperatorMaster.IsDeleted = 0
                                ) AS WaxCoatingDetailMaster   WHERE   SrNo > ( @PageNumber * @PageSize )
                        ORDER BY SrNo
   
                    END
   
                ELSE
                    BEGIN
                        SELECT   TOP ( @PageSize ) *
                        FROM    ( SELECT
                                           ROW_NUMBER() OVER ( ORDER BY CoatingDetails.CoatingDate DESC ) AS [SrNo] ,
                                            CoatingDetails.CoatingID AS [CoatingId] ,
                                            CoatingDetails.EntryNo ,
                                            CONVERT(VARCHAR(11), CoatingDetails.CoatingDate, 106) +' '+    CONVERT(VARCHAR, CoatingDetails.StartTime, 100)  AS [Date] ,
											CONVERT(VARCHAR(11), CoatingDetails.CoatingEndDate, 106)+' '+    CONVERT(VARCHAR, CoatingDetails.EndTime, 100)  AS [EndDate] ,
                                            HRShiftMaster.ShiftName as Shift ,
                                            --CONVERT(VARCHAR, CoatingDetails.StartTime, 100) AS [StartTime] ,
                                            --CONVERT(VARCHAR, CoatingDetails.EndTime, 100) AS [EndTime] ,
                                            ( EmployeeDetails.EmployeeName
                                              + ' ('
                                              + EmployeeDetails.EmployeeCode
                                              + ')' ) AS OperatorName ,
                                            CASE WHEN IsDeWaxing = 1 THEN 'DeWaxing' ELSE CT.CoatName END CoatToName  ,
											--CASE WHEN CoatFromID = CAST(0x0 AS UNIQUEIDENTIFIER)
											--	 THEN PurchaseItemMaster.ItemCode
											--	 ELSE CF.CoatName
											--END AS CoatFromName ,
											isnull(CF.CoatName ,'Assembly') as CoatFromName,
											PatternMaster.PatternCode JobCardNo,
											CoatingDetails.TransferQty,
                                            CoatingDetails.CoatToID,
											CoatingDetails.CoatFromID,
											CoatingDetails.MethodID,
											CoatingDetails.IsDeWaxing,
											STUFF ((SELECT   ',' + CastingMaster.CastingName
											  FROM  CastingMaster 
											  inner join MoldInventoryType ON MoldInventoryType.MoldTypeID = CoatingDetails.MoldTypeId 
													and CastingMaster.CastingId = MoldInventoryType.CastingId
											  ORDER BY CastingName
											  FOR
											  XML PATH('')
											  ), 1, 1, '') AS CastingName ,
											  STUFF ((SELECT   ',' + CastingMaster.CastingCode
											  FROM  CastingMaster 
											  inner join MoldInventoryType ON MoldInventoryType.MoldTypeID = CoatingDetails.MoldTypeId 
													and CastingMaster.CastingId = MoldInventoryType.CastingId
											  ORDER BY CastingName
											  FOR
											  XML PATH('')
											  ), 1, 1, '') AS CastingCode,
											  ( (CASE WHEN @PrintOrderNo = 0 THEN
															isnull(OrderMaster.WOPrefix,'')
															+Isnull(OrderMaster.WOSeparator,'')
															+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
															+Isnull(OrderMaster.WOSeparator,'')
															+Isnull(OrderMaster.WOSuffix,'')
														ELSE  
															isnull(OrderMaster.Prefix,'')
															+ isnull(OrderMaster.Separator,'')
															+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
															+ isnull(OrderMaster.Separator,'')
															+ isnull(OrderMaster.Suffix,'')
														END)
														+ '/' + CAST(OrderTranse.SrNo as varchar(150)) + '/' + CONVERT(VARCHAR(15), OrderTranse.DeliveryDate, 106)
														) AS OrderLink 

                                  FROM      CoatingDetails
								            INNER JOIN HRShiftMaster ON HRShiftMaster.ShiftId = CoatingDetails.ShiftId
                                            INNER JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = CoatingDetails.OperatorID
                                            LEFT JOIN CoatMaster CT ON CT.CoatId = CoatingDetails.CoatToID
											INNER JOIn PatternMaster ON PatternMaster.PatternId = CoatingDetails.MethodID
											LEFT JOIN CoatMaster CF ON CF.CoatId = CoatingDetails.CoatFromID
											Left JOIN PurchaseItemMaster ON PurchaseItemMaster.DieID  = CoatingDetails.MethodID
											Left Join OrderTranse on OrderTranse.OrderTranseId = CoatingDetails.OrderTranseId
			                                left Join OrderMaster on OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
											
                                  WHERE     ( @OperatorID = 0
                                              OR CoatingDetails.OperatorID = @OperatorID
                                            )
                                            AND ( @CastingID IS NULL
                                                  OR CoatingDetails.MethodId  in (select MethodId from CoatingDetails  where methodid in (select MethodId from PatternCastingMapping where CastingId = @CastingID))
                                                )
                                            AND ( CoatingDetails.CoatingDate BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                            AND CoatingDetails.IsDeleted = 0
                                            AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR CoatingDetails.PlantId in (SELECT Item FROM @Plant)
                                                )
                                            AND CoatingDetails.EntityID = @EntityId
											AND( (@PageName = 'Waxing' AND CoatingDetails.IsDeWaxing =1) OR (@PageName = 'Coating' AND ISNULL(CoatingDetails.IsDeWaxing,0) = 0))
                                            --AND OperatorMaster.IsDeleted = 0
                                ) AS WaxAssemblyMaster
                        WHERE   SrNo > ( @PageNumber * @PageSize )
                        ORDER BY SrNo
  
                    END
   
            END   
       
        IF @Parameter = 2 -- Fetch Total Records for Register
            BEGIN     		 
                SET @TotalRecords = ( SELECT    COUNT(*)
                                       FROM      CoatingDetails
                                            INNER JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = CoatingDetails.OperatorID
                                            LEFT JOIN CoatMaster ON CoatMaster.CoatId = CoatingDetails.CoatToID
											INNER JOIN HRShiftMaster ON HRShiftMaster.ShiftId = CoatingDetails.ShiftId
                                  WHERE     ( @OperatorID = 0
                                              OR CoatingDetails.OperatorID = @OperatorID
                                            )
                                            AND ( @CastingID IS NULL
                                                  OR CoatingDetails.MethodId  in (select MethodId from CoatingDetails  where methodid in (select MethodId from PatternCastingMapping where CastingId = @CastingID))
                                                )
                                            AND ( CoatingDetails.CoatingDate BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                            AND CoatingDetails.IsDeleted = 0
                                            AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR CoatingDetails.PlantId in (SELECT Item FROM @Plant)
                                                )
                                            AND CoatingDetails.EntityID = @EntityId
											AND( (@PageName = 'Waxing' AND CoatingDetails.IsDeWaxing =1)
											OR (@PageName = 'Coating' AND ISNULL(CoatingDetails.IsDeWaxing,0) = 0))
                                               -- AND OperatorMaster.IsDeleted = 0
                                    )
					
		--COMMIT TRANSACTION
                RETURN @TotalRecords           
            END

		IF @Parameter = 3
		BEGIN


		 SELECT  STUFF(( SELECT  ',' + CastingMaster.CastingName
                                FROM    dbo.MethodCoatingMaster
				        Inner join PatternCastingMapping ON PatternCastingMapping.MethodId = MethodCoatingMaster.WaxJobCardID
						INNER JOIN CastingMaster ON CastingMaster.CastingId = PatternCastingMapping.CastingId
                WHERE   CastingMaster.IsDeleted = 0
                        AND MethodCoatingMaster.WaxCoatID = CoatingDetails.CoatToID
                                ORDER BY CastingName
                              FOR
                                XML PATH('')
                              ), 1, 1, '') AS CastingName ,


                        STUFF(( SELECT  ',' + CastingMaster.CastingCode
                                FROM    dbo.MethodCoatingMaster
				        Inner join PatternCastingMapping ON PatternCastingMapping.MethodId = MethodCoatingMaster.WaxJobCardID
						INNER JOIN CastingMaster ON CastingMaster.CastingId = PatternCastingMapping.CastingId
                      WHERE   CastingMaster.IsDeleted = 0
                        AND MethodCoatingMaster.WaxCoatID = CoatingDetails.CoatToID
                                ORDER BY CastingCode
                              FOR
                                XML PATH('')
                              ), 1, 1, '') AS CastingCode ,
                        CoatingDetails.TransferQty AS [ProductionQty] ,
                     
                        
                        PatternMaster.PatternCode JobCardNo ,
                        CoatingDetails.MethodID as JobCardID ,
                        CASE WHEN CoatFromID = CAST(0x0 AS UNIQUEIDENTIFIER)
                             THEN PurchaseItemMaster.ItemCode
                             ELSE CoatMaster.CoatName
                        END AS CoatFromName ,
                        CoatFromID
                FROM    CoatingDetails --WaxAssemblyTrans
				        INNER JOIn PatternMaster ON PatternMaster.PatternId = CoatingDetails.MethodID
                        LEFT JOIN CoatMaster ON CoatMaster.CoatId = CoatingDetails.CoatFromID
						Left JOIN PurchaseItemMaster ON PurchaseItemMaster.DieID  = CoatingDetails.MethodID
                WHERE   ( @CoatingID IS NULL
                          OR CoatingDetails.CoatingID = @CoatingID
                        )

		END
END

GO
