USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ManageLedgerGroup]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<Prashant>
-- Create date: <2023-05-26>
-- Description:	<Ledger Group Insert Update Delete>
-- =============================================
-- ManageLedgerGroup 4,5, 'b', 'b', 3,17,20,0

CREATE PROCEDURE [dbo].[ManageLedgerGroup] 
	@LedgerGroupId INT = NULL,
	@Parameter INT,
	@LedgerGroupName VARCHAR(250) = NULL,
	@LedgerUniqueCode VARCHAR(10) = NULL,
	@UnderOfLedgerID INT = NULL,
	@UserID INT = NULL,
	@PageSize INT = NULL,
	@PageNumber INT = NULL,
	@InitialLoad INT = NULL,
	@Prime INT = NULL
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @PrimaryUnderUniqueID INT, @GroupCategory INT, @NatureOfGroup INT
	
	SET @PrimaryUnderUniqueID = (SELECT PrimaryUnderUniqueID FROM LedgerGroup WHERE LedgerGroupId = @UnderOfLedgerID)
	IF(ISNULL(@PrimaryUnderUniqueID, 0) = 0)
	BEGIN
		SET @PrimaryUnderUniqueID = @UnderOfLedgerID
	END	

	DECLARE @IsProcced INT = 1

	IF(@Parameter = 1) -- Insert 
	BEGIN		
		BEGIN TRANSACTION
		BEGIN TRY
			DECLARE @ValidLedgerName INT = 0
			DECLARE @ValidLedgerCode INT = 0 
			
			--INSERT TIME CHECK VALIDATION
			SET @ValidLedgerName = (SELECT TOP 1 LedgerGroupId FROM LedgerGroup WHERE LedgerGroupName = @LedgerGroupName AND LedgerGroupId != @LedgerGroupId AND IsDeleted = 0)
			SET @ValidLedgerCode = (SELECT TOP 1 LedgerGroupId FROM LedgerGroup WHERE LedgerUniqueCode = @LedgerUniqueCode AND LedgerGroupId != @LedgerGroupId AND IsDeleted = 0)

			IF(ISNULL(@ValidLedgerName, 0) > 0) -- Ledger Group EXISTS
			BEGIN
				SET @IsProcced = 0
				COMMIT TRANSACTION
				RETURN -1; 
			END
			ELSE IF(ISNULL(@ValidLedgerCode, 0) > 0) -- Ledger Group Code EXISTS
			BEGIN
				SET @IsProcced = 0
				COMMIT TRANSACTION
				RETURN -2;
			END
			
			IF(@IsProcced = 1)
			BEGIN
				IF(ISNULL(@Prime, 0) = 0)
				BEGIN
					SELECT @GroupCategory = GroupCategory, @NatureOfGroup = NatureOfGroup FROM LedgerGroup WHERE LedgerGroupId = @PrimaryUnderUniqueID
				END
				ELSE 
				BEGIN	
					IF(ISNULL(@Prime, 0) = (select CommonDataId from CommonData_Master where CommonDataId = @Prime and [Group] = 'PrimNatureOfGroupSel' and [UniqueName] = 'Asset' )) -- Asset
					BEGIN
						SET @NatureOfGroup = (select CommonDataId from CommonData_Master where  [Group] = 'NatureOfGroup' and [UniqueName] = 'Current Assets' ) -- Current Assets
						SET @GroupCategory = (select CommonDataId from CommonData_Master where  [Group] = 'GroupCategory' and [UniqueName] = 'Balance Sheet' ) -- Balance Sheet
					END
					ELSE IF(ISNULL(@Prime, 0) = (select CommonDataId from CommonData_Master where CommonDataId = @Prime and [Group] = 'PrimNatureOfGroupSel' and [UniqueName] = 'Income' )) -- Income
					BEGIN
						SET @NatureOfGroup =  (select CommonDataId from CommonData_Master where  [Group] = 'NatureOfGroup' and [UniqueName] = 'Current Assets' ) -- Current Assets
						SET @GroupCategory =  (select CommonDataId from CommonData_Master where  [Group] = 'GroupCategory' and [UniqueName] = 'Profit & Loss A/c' ) -- Profit & Loss A/c
					END
					ELSE IF(ISNULL(@Prime, 0) =(select CommonDataId from CommonData_Master where CommonDataId = @Prime and [Group] = 'PrimNatureOfGroupSel' and [UniqueName] = 'Expense' )) -- Expense
					BEGIN
						SET @NatureOfGroup = (select CommonDataId from CommonData_Master where  [Group] = 'NatureOfGroup' and [UniqueName] = 'Current Liabilities' ) -- Current Liabilities
						SET @GroupCategory = (select CommonDataId from CommonData_Master where  [Group] = 'GroupCategory' and [UniqueName] = 'Profit & Loss A/c' ) -- Profit & Loss A/c
					END
					ELSE IF(ISNULL(@Prime, 0) = (select CommonDataId from CommonData_Master where CommonDataId = @Prime and [Group] = 'PrimNatureOfGroupSel' and [UniqueName] = 'Liabilities' )) -- Liabilities
					BEGIN
						SET @NatureOfGroup = (select CommonDataId from CommonData_Master where [Group] = 'NatureOfGroup' and [UniqueName] = 'Current Liabilities' ) -- Current Liabilities
						SET @GroupCategory = (select CommonDataId from CommonData_Master where [Group] = 'GroupCategory' and [UniqueName] = 'Profit & Loss A/c' ) -- Balance Sheet
					END

		
				END
				 
				IF NOT EXISTS (SELECT TOP 1 LedgerGroupId FROM LedgerGroup WHERE LedgerGroupId = @LedgerGroupId)
				BEGIN	
					DECLARE @LedgerGroupIDRet INT
					INSERT INTO LedgerGroup (LedgerGroupName, LedgerUniqueCode, UnderOfLedgerID, 
						PrimaryUnderUniqueID, IsSystemGenerate, GroupCategory, NatureOfGroup, PrimNatureOfGroupSel, UnderNatureOfGroup, Createdby, CreatedOn)
					VALUES (@LedgerGroupName, @LedgerUniqueCode, @UnderOfLedgerID, @PrimaryUnderUniqueID, 0, @GroupCategory, @NatureOfGroup, @Prime, 0, @UserID, GETDATE())
					
					SET @LedgerGroupIDRet = SCOPE_IDENTITY();
					--IF(ISNULL(@Prime, 0) > 0)
					--BEGIN
					--	UPDATE LedgerGroup SET UnderOfLedgerID = @LedgerGroupIDRet WHERE LedgerGroupId = @LedgerGroupIDRet
					--END

					COMMIT TRANSACTION
					RETURN 1;
				END
				ELSE
				BEGIN		
					IF EXISTS (SELECT LedgerGroupId FROM LedgerGroup WHERE LedgerGroupId = @LedgerGroupId)
					BEGIN
						UPDATE LedgerGroup SET 
							LedgerGroupName = @LedgerGroupName, LedgerUniqueCode = @LedgerUniqueCode, 
							UnderOfLedgerID = @UnderOfLedgerID, PrimaryUnderUniqueID = @PrimaryUnderUniqueID,
							GroupCategory = @GroupCategory, NatureOfGroup = @NatureOfGroup, PrimNatureOfGroupSel = @Prime,
							ModifiedBy = @UserID, ModifiedOn = GETDATE() 
						WHERE LedgerGroupId = @LedgerGroupId
						--IF(ISNULL(@Prime, 0) > 0)
						--BEGIN
						--	UPDATE LedgerGroup SET UnderOfLedgerID = @LedgerGroupId WHERE LedgerGroupId = @LedgerGroupId
						--END
						COMMIT TRANSACTION
						RETURN 1;
					END
					ELSE
					BEGIN
						COMMIT TRANSACTION
						RETURN -3;
					END
				END
			END
		END TRY
		BEGIN CATCH
			IF @@ERROR <> 0
			BEGIN	
				ROLLBACK TRANSACTION
				RETURN -1; 
			END
		END Catch
		COMMIT TRANSACTION
	END
	ELSE IF(@Parameter = 2) -- Delete
	BEGIN
	BEGIN TRANSACTION
		BEGIN TRY
			IF EXISTS (SELECT LedgerGroupId FROM LedgerGroup WHERE LedgerGroupId = @LedgerGroupId AND IsSystemGenerate = 0 )
			BEGIN
			if not exists (SELECT 1  FROM LedgerMaster WHERE LedgerGroupId = @LedgerGroupId AND Isdeleted = 0)
			  Begin
				UPDATE LedgerGroup SET 
					IsDeleted = 1, DeletedBy = @UserID, DeletedOn = GETDATE()
				WHERE LedgerGroupId = @LedgerGroupId  
			
				COMMIT TRANSACTION
				RETURN 1;
				End
				else 
				Begin 
					COMMIT TRANSACTION
					RETURN -3 ;
				End 
			END
			ELSE
			BEGIN
				COMMIT TRANSACTION
				RETURN -2;
			END
			
		END TRY
		BEGIN CATCH
			IF @@ERROR <> 0
			BEGIN	
				ROLLBACK TRANSACTION
				RETURN -1; 
			END
		END Catch
		COMMIT TRANSACTION
	END
	ELSE IF(@Parameter = 3) -- Select By ID
	BEGIN
	BEGIN TRANSACTION
		BEGIN TRY
			IF EXISTS (SELECT LedgerGroupId FROM LedgerGroup WHERE LedgerGroupId = @LedgerGroupId)
			BEGIN
				SELECT LG.LedgerUniqueCode, LG.UnderOfLedgerID AS LedgerGroupId, ISNULL(LG1.LedgerGroupName, 0) AS cmbUnderOfLedger,
				ISNULL(LG.PrimNatureOfGroupSel, 0) AS Prime, LG.LedgerGroupId AS MainLedgerGroupId, LG.LedgerGroupName, LG.IsSystemGenerate
				FROM LedgerGroup LG
					LEFT JOIN LedgerGroup LG1 ON LG1.LedgerGroupId = LG.UnderOfLedgerID
				WHERE LG.LedgerGroupId = @LedgerGroupId
			END
			ELSE
			BEGIN
				--SELECT 1
				COMMIT TRANSACTION
				RETURN -3;
			END
		END TRY
		BEGIN CATCH
			IF @@ERROR <> 0
			BEGIN	
				ROLLBACK TRANSACTION
				RETURN -1; 
			END
		END Catch
		COMMIT TRANSACTION
	END
	ELSE IF(@Parameter = 4) -- Fetch Record
	BEGIN
		BEGIN TRANSACTION
		BEGIN TRY
			SELECT TOP (@PageSize) * from (
				SELECT 	ROW_NUMBER() OVER ( ORDER BY LG.LedgerGroupId DESC ) AS RowNo,
				LG.LedgerGroupId, LG.LedgerGroupName, LG.LedgerUniqueCode, --LG.UnderOfLedgerID,			
				-- Case When LG.PrimaryUnderUniqueID = 0 then 'Primary' else  (LG1.LedgerGroupName) end AS UnderofLedger 
				ISNULL(LG1.LedgerGroupName, 'Primary')    AS UnderofLedger
				, CASE WHEN LG.IsSystemGenerate = 1 THEN  0 ELSE 1 END AS IsDeleted,
				LG.IsSystemGenerate
				
			FROM LedgerGroup LG
				LEFT JOIN LedgerGroup LG1 ON LG1.LedgerGroupId = LG.UnderOfLedgerID
			WHERE (LG.IsDeleted = 0 OR LG.IsDeleted = NULL)	
			 and (@LedgerGroupId = 0 OR LG.LedgerGroupId = @LedgerGroupId)	
				) AS LedgerGroupMaster
			WHERE LedgerGroupMaster.RowNo > ( @PageNumber * @PageSize )
			

			--SELECT 	ROW_NUMBER() OVER ( ORDER BY LG.LedgerGroupId ASC ) AS RowNo,
			--LG.LedgerGroupId,
			--LG.LedgerGroupName, LG.LedgerUniqueCode,
			----LG.UnderOfLedgerID,
			--	LG1.LedgerGroupName AS UnderofLedger, CASE WHEN LG.IsSystemGenerate = 1 THEN  0 ELSE 1 END AS IsDeleted
			--FROM LedgerGroup LG
			--	LEFT JOIN LedgerGroup LG1 ON LG1.LedgerGroupId = LG.UnderOfLedgerID
			--WHERE (LG.IsDeleted = 0 OR LG.IsDeleted = NULL)			
		END TRY
		BEGIN CATCH
			IF @@ERROR <> 0
			BEGIN	
				ROLLBACK TRANSACTION
				RETURN -1; 
			END
		END Catch
		COMMIT TRANSACTION
	END
	ELSE IF(@Parameter = 5) -- Get Total Record Count
	BEGIN
		DECLARE @TotalRecords INT
		SET @TotalRecords = (
								SELECT COUNT(1) FROM LedgerGroup 
								WHERE IsDeleted = 0 	 
								and (@LedgerGroupId = 0 OR LedgerGroupId = @LedgerGroupId)	
								)
		RETURN @TotalRecords 
	END	
	ELSE IF(@Parameter = 6) -- Bind Ledger Group
	BEGIN
		SELECT LedgerGroupId, LedgerGroupName 
		FROM LedgerGroup 
		WHERE IsDeleted = 0
	END

		ELSE IF(@Parameter = 7) -- Check ParentLedger GroupName
	BEGIN
				SELECT LG.LedgerGroupName
				FROM LedgerGroup LG
					LEFT JOIN LedgerGroup LG1 ON LG1.PrimaryUnderUniqueID = LG.LedgerGroupId
				WHERE  (@LedgerGroupId = 0 OR LG1.LedgerGroupId = @LedgerGroupId)
	END

END

GO
