USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Molding_Material_Consumption]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[Molding_Material_Consumption]
    @Parameter INT = 0 ,
    @ItemId UNIQUEIDENTIFIER = NULL ,
    @PatternId UNIQUEIDENTIFIER = NULL ,
    @StartDate DATE = NULL ,
    @EndDate DATE = NULL ,
    @InitialLoad INT = 0 ,
    @PageSize INT = 0 ,
    @PageNumber INT = 0 ,
    @IsSandConsumption BIT = 1 ,
    @IsBOQConsumption BIT = 1 ,
    @IsGroupWiseSandConsumption BIT = 0,
    @EntityId INT = 0,
    @PlantIdString VARCHAR(MAX) = NULL,
    @IsSummary bit =0,
	@CastingId UNIQUEIDENTIFIER = NULL ,
	@Isdatewise bit = 0 
AS
BEGIN
 DECLARE @TotalRecords INT
        SET @TotalRecords = 0
    
       
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	   IF @Parameter = 1 --Fetch data and show in grid
            BEGIN
               
                IF @InitialLoad = 1
                    BEGIN
         SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY PatternCode ) AS SrNo ,
                                            *
                                 FROM      ( 
                                  SELECT    PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
                                                        case when @IsSummary = 1 then null else   PM.ItemCode end as PatternCode ,
                                                        CONVERT(DECIMAL(18, 3), SUM(ISNULL(MoldingConsumption.ConsumedQty,
                                                              0))) AS [ConsumedQty],
														case when @IsSummary = 1 THEN NULL ELSE SUM(MoldingEntryMaster.OKQty) end as MoldQty,
													      case when @IsSummary = 1 then null else tabCasting.Casting end Casting,
														CAST(ISNULL(SUM(MoldingConsumption.TotalCost),0) as decimal(18,2)) as TotalCost,
														CASE WHEN SUM(MoldingConsumption.ConsumedQty) > 0 THEN CAST((ISNULL(SUM(MoldingConsumption.TotalCost),0) / ISNULL(SUM(MoldingConsumption.ConsumedQty),0)) as decimal(18,2)) ELSE 0 END Cost

                                              FROM      MoldingConsumption
                                                         INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.MoldingConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                            INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingConsumption.MoldingEntryMasterID
                                            INNER JOIN (Select MoldingEntryMasterId, patternid,CastingId, ROW_NUMBER() OVER (PARTITION BY MoldingEntryMasterId ORDER BY MoldingEntryMasterId DESC) AS rn from MoldingEntryTrans where IsDeleted=0 
											and (@PatternId is null or PatternId = @PatternId)
											AND (@CastingId is null or CastingId = @CastingId)) as PatternTable
                                            ON MoldingEntryMaster.MoldingEntryMasterId = PatternTable.MoldingEntryMasterId
                                            INNER JOIN PurchaseItemMaster as PM ON PM.PurchaseItemId = PatternTable.PatternID and PM.IsPattern = 1
                                            And rn=1
											   And Type=1
											INNER JOIN (SELECT 
														STRING_AGG(CAST(DistinctCasting.CastingName AS NVARCHAR(MAX)), ',') 
															WITHIN GROUP (ORDER BY DistinctCasting.CastingName) AS Casting,
														DistinctCasting.PatternId
													FROM 
														(
															SELECT DISTINCT
																CastingMaster.CastingName,
																MoldingEntryTrans.PatternId
															FROM 
																CastingMaster
															INNER JOIN 
																MoldingEntryTrans 
															ON  
																MoldingEntryTrans.CastingId = CastingMaster.CastingId
															WHERE 
																CastingMaster.IsDeleted = 0 
																AND MoldingEntryTrans.IsDeleted = 0
														) AS DistinctCasting
													GROUP BY 
														DistinctCasting.PatternId
														) as tabCasting ON tabCasting.PatternId = PatternTable.PatternId

											
                                              WHERE     ( @ItemId IS NULL
                                                          OR MoldingConsumption.PurchaseItemID = @ItemId
                                                        )
                                                       
                                                        AND ( MoldingEntryMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                                        AND ( MoldingEntryMaster.IsDeleted = 0 )
                                                        AND ( PurchaseItemMaster.IsDeleted = 0 )
                                                        AND ( PM.IsDeleted = 0 )
                                                        AND ( @IsBOQConsumption = 1 )
                                                        AND ( ISNULL(@PlantIdString, '') = ''        
															OR MoldingEntryMaster.PlantId IN (        
																SELECT Item FROM @Plant         
															)        
														)        
														AND MoldingEntryMaster.EntityID = @EntityID        
                                              GROUP BY  PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
														case when @IsSummary = 1 then null else tabCasting.Casting end,
                                                        case when @IsSummary = 1 then null else   PM.ItemCode end
                                              UNION 
                                              SELECT    PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
                                                        case when @IsSummary = 1 then null else   PM.ItemCode end as PatternCode ,
                                                        CONVERT(DECIMAL(18, 3), SUM(ISNULL(MoldingConsumption.ConsumedQty,
                                                              0))) AS [ConsumedQty],
														case when @IsSummary = 1 THEN NULL ELSE  SUM(MoldingEntryMaster.OKQty) end as MoldQty,
													    case when @IsSummary = 1 then null else tabCasting.Casting end as Casting,
														CAST(ISNULL(SUM(MoldingConsumption.TotalCost),0) as decimal(18,2)) as TotalCost,
														CASE WHEN SUM(MoldingConsumption.ConsumedQty) > 0 THEN CAST((ISNULL(SUM(MoldingConsumption.TotalCost),0) / ISNULL(SUM(MoldingConsumption.ConsumedQty),0)) as decimal(18,2)) ELSE 0 END Cost

                                              FROM      MoldingConsumption
                                                         INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = MoldingConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                                        INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingConsumption.MoldingEntryMasterID
                                                        INNER JOIN (Select MoldingEntryMasterId, patternid,CastingId, ROW_NUMBER() OVER (PARTITION BY MoldingEntryMasterId ORDER BY MoldingEntryMasterId DESC) AS rn from MoldingEntryTrans where IsDeleted=0
														and (@PatternId is null or PatternId = @PatternId)
														AND (@CastingId is null or CastingId = @CastingId)) as PatternTable
                                            ON MoldingEntryMaster.MoldingEntryMasterId = PatternTable.MoldingEntryMasterId
                                             INNER JOIN PurchaseItemMaster as PM ON PM.PurchaseItemId = PatternTable.PatternId and PM.IsPattern = 1
                                            And rn=1  And Type = 0
											   INNER JOIN (SELECT 
														STRING_AGG(CAST(DistinctCasting.CastingName AS NVARCHAR(MAX)), ',') 
															WITHIN GROUP (ORDER BY DistinctCasting.CastingName) AS Casting,
														DistinctCasting.PatternId
													FROM 
														(
															SELECT DISTINCT
																CastingMaster.CastingName,
																MoldingEntryTrans.PatternId
															FROM 
																CastingMaster
															INNER JOIN 
																MoldingEntryTrans 
															ON  
																MoldingEntryTrans.CastingId = CastingMaster.CastingId
															WHERE 
																CastingMaster.IsDeleted = 0 
																AND MoldingEntryTrans.IsDeleted = 0
														) AS DistinctCasting
													GROUP BY 
														DistinctCasting.PatternId
														) as tabCasting ON tabCasting.PatternId = PatternTable.PatternId
                                              WHERE     ( @ItemId IS NULL
                                                          OR MoldingConsumption.PurchaseItemID = @ItemId
                                                        )
                                                       
                                                        AND ( MoldingEntryMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                                        AND ( MoldingEntryMaster.IsDeleted = 0 )
                                                        AND ( PurchaseItemMaster.IsDeleted = 0 )
                                                        AND ( PM.IsDeleted = 0 )
                                                        AND ( @IsSandConsumption = 1 )
                                                        AND ( ISNULL(@PlantIdString, '') = ''        
															OR MoldingEntryMaster.PlantId IN (        
																SELECT Item FROM @Plant         
															)        
														)        
														AND MoldingEntryMaster.EntityID = @EntityID        
                                              GROUP BY  PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
														case when @IsSummary = 1 then null else tabCasting.Casting end ,
                                                        case when @IsSummary = 1 then null else   PM.ItemCode end
                                            ) AS MoldingMaterialConsumption
                                ) AS SS
                       
                        ORDER BY SS.SrNo
                                
                    END
                ELSE
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY PatternCode ) AS SrNo ,
                                            *
                                 FROM      ( 
                                  SELECT    PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
                                                        case when @IsSummary = 1 then null else   PM.ItemCode end as PatternCode ,
                                                        CONVERT(DECIMAL(18, 3), SUM(ISNULL(MoldingConsumption.ConsumedQty,
                                                              0))) AS [ConsumedQty],
														case when @IsSummary = 1 THEN NULL ELSE SUM(MoldingEntryMaster.OKQty) end as MoldQty,
													      case when @IsSummary = 1 then null else tabCasting.Casting end Casting,
														CAST(ISNULL(SUM(MoldingConsumption.TotalCost),0) as decimal(18,2)) as TotalCost,
														CASE WHEN SUM(MoldingConsumption.ConsumedQty) > 0 THEN CAST((ISNULL(SUM(MoldingConsumption.TotalCost),0) / ISNULL(SUM(MoldingConsumption.ConsumedQty),0)) as decimal(18,2)) ELSE 0 END Cost

                                              FROM      MoldingConsumption
                                                         INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.MoldingConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                            INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingConsumption.MoldingEntryMasterID
                                            INNER JOIN (Select MoldingEntryMasterId, patternid,CastingId, ROW_NUMBER() OVER (PARTITION BY MoldingEntryMasterId ORDER BY MoldingEntryMasterId DESC) AS rn from MoldingEntryTrans where IsDeleted=0 
											and (@PatternId is null or PatternId = @PatternId)
											AND (@CastingId is null or CastingId = @CastingId)) as PatternTable
                                            ON MoldingEntryMaster.MoldingEntryMasterId = PatternTable.MoldingEntryMasterId
                                            INNER JOIN PurchaseItemMaster as PM ON PM.PurchaseItemId = PatternTable.PatternID and PM.IsPattern = 1
                                            And rn=1
											   And Type=1
											INNER JOIN (SELECT 
														STRING_AGG(CAST(DistinctCasting.CastingName AS NVARCHAR(MAX)), ',') 
															WITHIN GROUP (ORDER BY DistinctCasting.CastingName) AS Casting,
														DistinctCasting.PatternId
													FROM 
														(
															SELECT DISTINCT
																CastingMaster.CastingName,
																MoldingEntryTrans.PatternId
															FROM 
																CastingMaster
															INNER JOIN 
																MoldingEntryTrans 
															ON  
																MoldingEntryTrans.CastingId = CastingMaster.CastingId
															WHERE 
																CastingMaster.IsDeleted = 0 
																AND MoldingEntryTrans.IsDeleted = 0
														) AS DistinctCasting
													GROUP BY 
														DistinctCasting.PatternId
														) as tabCasting ON tabCasting.PatternId = PatternTable.PatternId

											
                                              WHERE     ( @ItemId IS NULL
                                                          OR MoldingConsumption.PurchaseItemID = @ItemId
                                                        )
                                                       
                                                        AND ( MoldingEntryMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                                        AND ( MoldingEntryMaster.IsDeleted = 0 )
                                                        AND ( PurchaseItemMaster.IsDeleted = 0 )
                                                        AND ( PM.IsDeleted = 0 )
                                                        AND ( @IsBOQConsumption = 1 )
                                                        AND ( ISNULL(@PlantIdString, '') = ''        
															OR MoldingEntryMaster.PlantId IN (        
																SELECT Item FROM @Plant         
															)        
														)        
														AND MoldingEntryMaster.EntityID = @EntityID        
                                              GROUP BY  PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
														case when @IsSummary = 1 then null else tabCasting.Casting end,
                                                        case when @IsSummary = 1 then null else   PM.ItemCode end
                                              UNION 
                                              SELECT    PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
                                                        case when @IsSummary = 1 then null else   PM.ItemCode end as PatternCode ,
                                                        CONVERT(DECIMAL(18, 3), SUM(ISNULL(MoldingConsumption.ConsumedQty,
                                                              0))) AS [ConsumedQty],
														case when @IsSummary = 1 THEN NULL ELSE  SUM(MoldingEntryMaster.OKQty) end as MoldQty,
													    case when @IsSummary = 1 then null else tabCasting.Casting end as Casting,
														CAST(ISNULL(SUM(MoldingConsumption.TotalCost),0) as decimal(18,2)) as TotalCost,
														CASE WHEN SUM(MoldingConsumption.ConsumedQty) > 0 THEN CAST((ISNULL(SUM(MoldingConsumption.TotalCost),0) / ISNULL(SUM(MoldingConsumption.ConsumedQty),0)) as decimal(18,2)) ELSE 0 END Cost

                                              FROM      MoldingConsumption
                                                         INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = MoldingConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                                        INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingConsumption.MoldingEntryMasterID
                                                        INNER JOIN (Select MoldingEntryMasterId, patternid,CastingId, ROW_NUMBER() OVER (PARTITION BY MoldingEntryMasterId ORDER BY MoldingEntryMasterId DESC) AS rn from MoldingEntryTrans where IsDeleted=0
														and (@PatternId is null or PatternId = @PatternId)
														AND (@CastingId is null or CastingId = @CastingId)) as PatternTable
                                            ON MoldingEntryMaster.MoldingEntryMasterId = PatternTable.MoldingEntryMasterId
                                             INNER JOIN PurchaseItemMaster as PM ON PM.PurchaseItemId = PatternTable.PatternId and PM.IsPattern = 1
                                            And rn=1  And Type = 0
											   INNER JOIN (SELECT 
														STRING_AGG(CAST(DistinctCasting.CastingName AS NVARCHAR(MAX)), ',') 
															WITHIN GROUP (ORDER BY DistinctCasting.CastingName) AS Casting,
														DistinctCasting.PatternId
													FROM 
														(
															SELECT DISTINCT
																CastingMaster.CastingName,
																MoldingEntryTrans.PatternId
															FROM 
																CastingMaster
															INNER JOIN 
																MoldingEntryTrans 
															ON  
																MoldingEntryTrans.CastingId = CastingMaster.CastingId
															WHERE 
																CastingMaster.IsDeleted = 0 
																AND MoldingEntryTrans.IsDeleted = 0
														) AS DistinctCasting
													GROUP BY 
														DistinctCasting.PatternId
														) as tabCasting ON tabCasting.PatternId = PatternTable.PatternId
                                              WHERE     ( @ItemId IS NULL
                                                          OR MoldingConsumption.PurchaseItemID = @ItemId
                                                        )
                                                       
                                                        AND ( MoldingEntryMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                                        AND ( MoldingEntryMaster.IsDeleted = 0 )
                                                        AND ( PurchaseItemMaster.IsDeleted = 0 )
                                                        AND ( PM.IsDeleted = 0 )
                                                        AND ( @IsSandConsumption = 1 )
                                                        AND ( ISNULL(@PlantIdString, '') = ''        
															OR MoldingEntryMaster.PlantId IN (        
																SELECT Item FROM @Plant         
															)        
														)        
														AND MoldingEntryMaster.EntityID = @EntityID        
                                              GROUP BY  PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
														case when @IsSummary = 1 then null else tabCasting.Casting end ,
                                                        case when @IsSummary = 1 then null else   PM.ItemCode end
                                            ) AS MoldingMaterialConsumption
                                ) AS SS
                        WHERE   SS.SrNo BETWEEN ( ( @PageNumber * @PageSize )
                                                  + 1 )
                                        AND     ( ( @PageNumber + 1 )
                                                  * @PageSize )
                        ORDER BY SS.SrNo
                    END
	 
   
            END
   
        IF @Parameter = 2
            BEGIN
                SET @TotalRecords = ( SELECT    COUNT(1)
                                      FROM      ( SELECT    PurchaseItemMaster.ItemName ,
															PurchaseItemMaster.ItemCode ,
															 case when @IsSummary = 1 then null else   PM.ItemCode end as PatternCode
                                                   FROM      MoldingConsumption
                                                       INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.MoldingConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                            INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingConsumption.MoldingEntryMasterID
                                            INNER JOIN (Select MoldingEntryMasterId, patternid, ROW_NUMBER() OVER (PARTITION BY MoldingEntryMasterId ORDER BY MoldingEntryMasterId DESC) AS rn from MoldingEntryTrans where IsDeleted=0 
											and (@PatternId is null or PatternId = @PatternId)
											AND (@CastingId is null or CastingId = @CastingId)) as PatternTable
                                            ON MoldingEntryMaster.MoldingEntryMasterId = PatternTable.MoldingEntryMasterId
                                            INNER JOIN PurchaseItemMaster as PM ON PM.PurchaseItemId = PatternTable.PatternID and PM.IsPattern = 1
                                            And rn=1   And Type=1
                                              WHERE     ( @ItemId IS NULL
                                                          OR MoldingConsumption.PurchaseItemID = @ItemId
                                                        )
                                                       
                                                        AND ( MoldingEntryMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                                        AND ( MoldingEntryMaster.IsDeleted = 0 )
                                                        AND ( PurchaseItemMaster.IsDeleted = 0 )
                                                        AND ( pm.IsDeleted = 0 )
                                                        AND ( @IsBOQConsumption = 1 )
                                                        AND ( ISNULL(@PlantIdString, '') = ''        
															OR MoldingEntryMaster.PlantId IN (        
																SELECT Item FROM @Plant         
															)        
														)        
														AND MoldingEntryMaster.EntityID = @EntityID        
                                              GROUP BY  PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
                                                        case when @IsSummary = 1 then null else   PM.ItemCode end 
                                                  UNION 
                                                  SELECT    PurchaseItemMaster.ItemName ,
															PurchaseItemMaster.ItemCode ,
															 case when @IsSummary = 1 then null else   PM.ItemCode end  as PatternCode
                                                   FROM      MoldingConsumption
                                                         INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = MoldingConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                                        INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingConsumption.MoldingEntryMasterID
                                                        INNER JOIN (Select MoldingEntryMasterId, patternid, ROW_NUMBER() OVER (PARTITION BY MoldingEntryMasterId ORDER BY MoldingEntryMasterId DESC) AS rn from MoldingEntryTrans where IsDeleted=0
														and (@PatternId is null or PatternId = @PatternId)
														AND (@CastingId is null or CastingId = @CastingId)) as PatternTable
                                            ON MoldingEntryMaster.MoldingEntryMasterId = PatternTable.MoldingEntryMasterId
                                               INNER JOIN PurchaseItemMaster as PM ON PM.PurchaseItemId = PatternTable.PatternId and PM.IsPattern = 1
                                            And rn=1   And Type=0
                                              WHERE     ( @ItemId IS NULL
                                                          OR MoldingConsumption.PurchaseItemID = @ItemId
                                                        )
                                                       
                                                        AND ( MoldingEntryMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                                        AND ( MoldingEntryMaster.IsDeleted = 0 )
                                                        AND ( PurchaseItemMaster.IsDeleted = 0 )
                                                        AND ( PM.IsDeleted = 0 )
                                                        AND ( @IsSandConsumption = 1 )
                                                        AND ( ISNULL(@PlantIdString, '') = ''        
															OR MoldingEntryMaster.PlantId IN (        
																SELECT Item FROM @Plant         
															)        
														)        
														AND MoldingEntryMaster.EntityID = @EntityID        
                                              GROUP BY  PurchaseItemMaster.ItemName ,
                                                        PurchaseItemMaster.ItemCode ,
                                                      case when @IsSummary = 1 then null else   PM.ItemCode end 
                                                ) AS S
                                    )
						
                RETURN @TotalRecords
   
            END
    IF @Parameter = 3
            BEGIN
                IF ( @IsGroupWiseSandConsumption = 0 )
                    BEGIN
                        SELECT  ROW_NUMBER() OVER ( ORDER BY ItemCode ) AS SrNo ,
                                *
                        FROM    ( SELECT    PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
                                            case when @IsSummary = 1 then null else   PM.ItemCode end as PatternCode ,
                                            CONVERT(DECIMAL(18, 3), SUM(ISNULL(MoldingConsumption.ConsumedQty,
                                                              0))) AS [ConsumedQty],
															  case when @IsSummary = 1 THEN NULL ELSE  SUM(MoldingEntryMaster.OKQty) end as MoldQty,
															  case when @IsSummary = 1 THEN NULL ELSE tabCasting.Casting end  as Casting,
														CAST(ISNULL(SUM(MoldingConsumption.TotalCost),0) as decimal(18,2)) as TotalCost,
														CASE WHEN SUM(MoldingConsumption.ConsumedQty) > 0 THEN CAST((ISNULL(SUM(MoldingConsumption.TotalCost),0) / ISNULL(SUM(MoldingConsumption.ConsumedQty),0)) as decimal(18,2)) ELSE 0 END Cost,
														case when @Isdatewise = 1 then CONVERT(VARCHAR(15), MoldingEntryMaster.Date  , 106) else null end as Date 

                                  FROM      MoldingConsumption
                                             INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.MoldingConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                            INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingConsumption.MoldingEntryMasterID
                                            INNER JOIN (Select MoldingEntryMasterId, patternid, ROW_NUMBER() OVER (PARTITION BY MoldingEntryMasterId ORDER BY MoldingEntryMasterId DESC) AS rn from MoldingEntryTrans where IsDeleted=0 
											and (@PatternId is null or PatternId = @PatternId)
											AND (@CastingId is null or CastingId = @CastingId)) as PatternTable
                                            ON MoldingEntryMaster.MoldingEntryMasterId = PatternTable.MoldingEntryMasterId
                                            INNER JOIN PurchaseItemMaster as PM ON PM.PurchaseItemId = PatternTable.PatternID and PM.IsPattern = 1
                                            And rn=1
                                            And Type=1

											INNER JOIN (SELECT 
														STRING_AGG(CAST(DistinctCasting.CastingName AS NVARCHAR(MAX)), ',') 
															WITHIN GROUP (ORDER BY DistinctCasting.CastingName) AS Casting,
														DistinctCasting.PatternId
													FROM 
														(
															SELECT DISTINCT
																CastingMaster.CastingName,
																MoldingEntryTrans.PatternId
															FROM 
																CastingMaster
															INNER JOIN 
																MoldingEntryTrans 
															ON  
																MoldingEntryTrans.CastingId = CastingMaster.CastingId
															WHERE 
																CastingMaster.IsDeleted = 0 
																AND MoldingEntryTrans.IsDeleted = 0
														) AS DistinctCasting
													GROUP BY 
														DistinctCasting.PatternId
														) as tabCasting ON tabCasting.PatternId = PatternTable.PatternId


                                  WHERE     ( @ItemId IS NULL
                                              OR MoldingConsumption.PurchaseItemID = @ItemId
                                            )
                                           
                                            AND ( MoldingEntryMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                            AND ( MoldingEntryMaster.IsDeleted = 0 )
                                            AND ( PurchaseItemMaster.IsDeleted = 0 )
                                            AND ( PM.IsDeleted = 0 )
                                            AND ( @IsBOQConsumption = 1 )
                                            AND ( ISNULL(@PlantIdString, '') = ''        
												OR MoldingEntryMaster.PlantId IN (        
													SELECT Item FROM @Plant         
												)        
											)        
											AND MoldingEntryMaster.EntityID = @EntityID        
                                  GROUP BY  PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
											case when @IsSummary = 1 THEN NULL ELSE tabCasting.Casting end,
                                            case when @IsSummary = 1 then null else   PM.ItemCode end,
											case when @Isdatewise = 1 then CONVERT(VARCHAR(15), MoldingEntryMaster.Date  , 106)  else null end  

                                  UNION ALL
                                  SELECT    PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
                                           case when @IsSummary = 1 then null else   PM.ItemCode end as PatternCode ,
                                            CONVERT(DECIMAL(18, 3), SUM(ISNULL(MoldingConsumption.ConsumedQty,
                                                              0))) AS [ConsumedQty],
															  case when @IsSummary = 1 THEN NULL ELSE  SUM(MoldingEntryMaster.OKQty) end as MoldQty,
															  case when @IsSummary = 1 THEN NULL ELSE tabCasting.Casting end  as Casting,
														CAST(ISNULL(SUM(MoldingConsumption.TotalCost),0) as decimal(18,2)) as TotalCost,
														CASE WHEN SUM(MoldingConsumption.ConsumedQty) > 0 THEN CAST((ISNULL(SUM(MoldingConsumption.TotalCost),0) / ISNULL(SUM(MoldingConsumption.ConsumedQty),0)) as decimal(18,2)) ELSE 0 END Cost
														,
														case when @Isdatewise = 1 then CONVERT(VARCHAR(15), MoldingEntryMaster.Date  , 106)  else null end  

                                  FROM      MoldingConsumption
                                            INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = MoldingConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                            INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingConsumption.MoldingEntryMasterID
											INNER JOIN (Select MoldingEntryMasterId, patternid, ROW_NUMBER() OVER (PARTITION BY MoldingEntryMasterId ORDER BY MoldingEntryMasterId DESC) AS rn from MoldingEntryTrans where IsDeleted=0 
											and (@PatternId is null or PatternId = @PatternId)
											AND (@CastingId is null or CastingId = @CastingId)) as PatternTable
                                            ON MoldingEntryMaster.MoldingEntryMasterId = PatternTable.MoldingEntryMasterId
                                            INNER JOIN PurchaseItemMaster as PM ON PM.PurchaseItemId = PatternTable.PatternId and PM.IsPattern = 1
                                            And rn=1
                                            And Type=0
											INNER JOIN (SELECT 
														STRING_AGG(CAST(DistinctCasting.CastingName AS NVARCHAR(MAX)), ',') 
															WITHIN GROUP (ORDER BY DistinctCasting.CastingName) AS Casting,
														DistinctCasting.PatternId
													FROM 
														(
															SELECT DISTINCT
																CastingMaster.CastingName,
																MoldingEntryTrans.PatternId
															FROM 
																CastingMaster
															INNER JOIN 
																MoldingEntryTrans 
															ON  
																MoldingEntryTrans.CastingId = CastingMaster.CastingId
															WHERE 
																CastingMaster.IsDeleted = 0 
																AND MoldingEntryTrans.IsDeleted = 0
														) AS DistinctCasting
													GROUP BY 
														DistinctCasting.PatternId
														) as tabCasting ON tabCasting.PatternId = PatternTable.PatternId
                                  WHERE     ( @ItemId IS NULL
                                              OR MoldingConsumption.PurchaseItemID = @ItemId
                                            )
                                           
                                            AND ( MoldingEntryMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                            AND ( MoldingEntryMaster.IsDeleted = 0 )
                                            AND ( PurchaseItemMaster.IsDeleted = 0 )
                                            AND ( PM.IsDeleted = 0 )
                                            AND ( @IsSandConsumption = 1 )
                                            AND ( ISNULL(@PlantIdString, '') = ''        
												OR MoldingEntryMaster.PlantId IN (        
													SELECT Item FROM @Plant         
												)        
											)        
											AND MoldingEntryMaster.EntityID = @EntityID        
                                  GROUP BY  PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
											case when @IsSummary = 1 THEN NULL ELSE tabCasting.Casting end,
                                            case when @IsSummary = 1 then null else   PM.ItemCode end,
											case when @Isdatewise = 1 then CONVERT(VARCHAR(15), MoldingEntryMaster.Date  , 106)  else null end 

                                ) AS SS  
                    END
                ELSE
                    BEGIN
                        SELECT  ROW_NUMBER() OVER ( ORDER BY ItemCode ) AS SrNo ,
                                *
                        FROM    ( SELECT    PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
                                            CONVERT(DECIMAL(18, 3), SUM(ISNULL(MoldingConsumption.ConsumedQty,
                                                              0))) AS [ConsumedQty] ,
                                            SandType ,
                                            dbo.SandTypeMaster.SandTypeId,
											CAST(ISNULL(SUM(MoldingConsumption.TotalCost),0) as decimal(18,2)) as TotalCost,
											CASE WHEN SUM(MoldingConsumption.ConsumedQty) > 0 THEN CAST((ISNULL(SUM(MoldingConsumption.TotalCost),0) / ISNULL(SUM(MoldingConsumption.ConsumedQty),0)) as decimal(18,2)) ELSE 0 END as Cost
                                  FROM      MoldingConsumption
                                             INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = MoldingConsumption.PurchaseItemID and PurchaseItemMaster.IsPattern = 0
                                            INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingConsumption.MoldingEntryMasterID
                                            INNER JOIN (Select MoldingEntryMasterId , ROW_NUMBER() OVER (PARTITION BY MoldingEntryMasterId ORDER BY MoldingEntryMasterId DESC) AS rn from MoldingEntryTrans where IsDeleted=0
											and (@PatternId is null or PatternId = @PatternId)
											AND (@CastingId is null or CastingId = @CastingId)) as PatternTable
                                            ON MoldingEntryMaster.MoldingEntryMasterId = PatternTable.MoldingEntryMasterId
                                            And rn=1
                                            INNER JOIN dbo.SandTypeMaster ON dbo.SandTypeMaster.SandTypeId = dbo.MoldingEntryMaster.SandTypeId
                                            INNER JOIN dbo.SandTypePurchaseItemTrans ON (dbo.SandTypePurchaseItemTrans.PurchaseItemId = dbo.MoldingConsumption.PurchaseItemID or dbo.SandTypeMaster.PurchaseItemId = dbo.MoldingConsumption.PurchaseItemID)
                                            And SandTypeMaster.SandTypeId = SandTypePurchaseItemTrans.SandTypeID
                                            And Type=0
                                  WHERE     ( @ItemId IS NULL
                                              OR MoldingConsumption.PurchaseItemID = @ItemId
                                            )
                                            AND ( MoldingEntryMaster.Date BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                            AND SandTypeMaster.IsDeleted = 0
                                            AND ( MoldingEntryMaster.IsDeleted = 0 )
                                            AND ( PurchaseItemMaster.IsDeleted = 0 )
                                            AND ( ISNULL(@PlantIdString, '') = ''        
												OR MoldingEntryMaster.PlantId IN (        
													SELECT Item FROM @Plant         
												)        
											)        
											AND MoldingEntryMaster.EntityID = @EntityID        
                                  GROUP BY  PurchaseItemMaster.ItemName ,
                                            PurchaseItemMaster.ItemCode ,
                                            SandType ,
                                            dbo.SandTypeMaster.SandTypeId
                                ) AS SS
                            
                            
                    END
            END
END

GO
