USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_LostFoamMoldingEntryFromProcess]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Fetch_LostFoamMoldingEntryFromProcess]
@MoldingEntryMasterId UNIQUEIDENTIFIER 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	Declare @Json Nvarchar(Max),@ConsJson nvarchar(max),@AssemblyId uniqueidentifier,@MethodId uniqueidentifier,@StocktypeId uniqueidentifier,@CoatId uniqueidentifier
    
	IF EXISTS(select MoldingEntryMasterId from MoldingEntryMaster where MoldingEntryMasterId = @MoldingEntryMasterId and PageType = 1)
	BEGIN

	Select  @Json = Consumptiondet from MoldingEntryMaster where MoldingEntryMasterId = @MoldingEntryMasterId
				  
                  Select
				    t.MoldTypeID,
					t.StockTypeID,
					t.ConsumptionDet
					into #tempmoldtransaction
					from
					Openjson(@Json)
					WITH
					(
					MoldTypeID uniqueidentifier,
					StockTypeID uniqueidentifier,
					ConsumptionDet Nvarchar(Max)
					)as t

					
					SET     @ConsJson  = ( SELECT
						       '['+
                                 (STUFF(( SELECT DISTINCT              
                                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                                  FROM      #tempmoldtransaction where    ConsumptionDet  <> ''                    
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) +']' AS ConsumptionDet  )

					

				  Select
				  TOP 1
				   @AssemblyId = t.AssemblyId
				  from
				  Openjson(@ConsJson)
				  With
				  (
				   AssemblyId uniqueidentifier
				  ) as t

				  Select @MethodId = DieID from PurchaseItemMaster where PurchaseItemId = @AssemblyId
				  Select top 1 @StocktypeId = StockTypeID from #tempmoldtransaction

				  Declare @IsExists BIT = 0
				  IF EXISTS( select * from MethodCoatingMaster where MethodCoatingMaster.WaxJobCardID = @MethodId )
				  Begin
				  
				  SELECT @CoatId = WaxCoatID 
                        FROM    MethodCoatingMaster
                        WHERE   SrNo = ( SELECT MAX(SrNo)
                                         FROM   MethodCoatingMaster
                                         WHERE  WaxJobCardID = @MethodId
                                                --AND WaxCoatID = @StocktypeId
                                       )
                                AND WaxJobCardID = @MethodId

								SET @IsExists = 1

			     END
				 else
				 begin

				    set @CoatId = @MethodId

				 end

				  IF NOT EXISTS(select MethodCoatingMaster.WaxJobCardID from MethodCoatingMaster where WaxJobCardID = @MethodId AND WaxCoatID = @StocktypeId) and @IsExists = 1
				  BEGIN

				  RETURN 1

				  END
				  ELSE IF @CoatId <> @StocktypeId
				  BEGIN

				  RETURN 1

				  END
				  ELSE
				      RETURN 0
				  


				  DROP TABLE #tempmoldtransaction

	END
	ELSE
	     RETURN 0





END
GO
