USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[EditLogMeltingEntry]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Khushbu joshi>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE[dbo].[EditLogMeltingEntry]
	 @HeatNo bigint = 0   ,  
	@EntityID int = 0,
	@IfActive BIT = 0 ,
	@BatchID bigint = 0 ,
	@HeatCode VARCHAR(50) = NULL 
AS
BEGIN
	Declare @RevisionNo bigint = (select count(batchID)+1 from  [ICAST_IMS_LOG].[dbo].ProductionBatch where batchID= @BatchID)
	 DECLARE @TableItem table (SrNoRevisionwise int,RevisionNo BIGINT , BatchID  bigint,
								OurentryNo varchar(Max), HeatNo varchar(Max),ProductionDate Datetime,
								MetalName varchar(max),Furnace varchar(Max),Shift Varchar(Max),MoltenMetalQty float,
								ItemName  varchar(max),ItemCode  varchar(max),consumptionqty float,
								LogSheetNo varchar(Max) , StartTime Varchar(100), EndTime Varchar(100),
								SuperHeatTime Varchar(100), TimeDuration Varchar(100),	HeatTimeReason Varchar(Max),
								Electricalreadingfrom Varchar(100),Electricalreadingto Varchar(100),Electricalreadingused Varchar(100),MeltingTemp Varchar(100),
								FirstBoxPouringTemp Varchar(100),LastBoxPouringTemp Varchar(100),MeterMultiplicationFactor Varchar(100),ElectricMeterReadingUnitConsumed Varchar(100) ,NoOfLining varchar(100),ModifiedUserName varchar(100), InsertedDate  varchar(100) )


			  INSERT INTO @TableItem
	 SELECT   DENSE_RANK() over(order by RevisionNo) AS SrNoRevisionwise,* FROM
			 (
				 SELECT					PB.RevisionNo AS RevisionNo,
										PB.BatchID , 
										OurentryNo , 
										BatchNo as HeatNo ,
										CONVERT(VARCHAR(15), 
										ProductionDate, 106) AS ProductionDate ,
										MetalName,Furnace, 
										Shift  as Shift  , 
										ISNULL(totalChargingQnty, 0) AS MoltenMetalQty ,     
										ItemName,
										ItemCode,
										Con.consumptionqty,
										LogSheetNo,
										CONVERT(varchar(15),CAST(StartTime AS TIME),100) as StartTime,
										CONVERT(varchar(15),CAST(EndTime AS TIME),100) as EndTime,
										CONVERT(varchar(15),CAST(SuperHeatTime AS TIME),100) as SuperHeatTime,
										CONVERT(varchar(15),CAST(TimeDuration AS TIME),100) as TimeDuration,										
										HeatTimeReason,
										Electricalreadingfrom,
										Electricalreadingto,
										Electricalreadingused,
										MeltingTemp,
										FirstBoxPouringTemp,
										LastBoxPouringTemp,
										MeterMultiplicationFactor,
										ElectricMeterReadingUnitConsumed,
										NoOfLining,
										U.UserName AS ModifiedUserName,
									case when PB.ModifiedBy =0 or PB.ModifiedBy is null then   PB.CreatedOn else PB.ModifiedOn end  AS InsertedDate    
									FROM	[ICAST_IMS_LOG].[dbo].ProductionBatch PB
									Left join [ICAST_IMS_LOG].[dbo].Consumption con on PB.batchId = con.batchId
											and PB.RevisionNo =con.RevisionNo
									INNER JOIN MetalMaster ON PB.MetalID = MetalMaster.MetalID   
									LEFT JOIN  UserMaster AS U ON U.UserId  = case when  PB.ModifiedBy =0  or PB.ModifiedBy is null then PB.CreatedBY else  PB.ModifiedBY end  
									Left Join PurchaseItemMaster on Con.purchaseitemID = PurchaseItemMaster.PurchaseItemId
							WHERE PB.IsDeleted = 0		
								and PB.batchID = @BatchId   
								and consumptionqty>0
								
          
       ) AS FINAL    
     
     INSERT INTO @TableItem
	 SELECT  @RevisionNo AS SrNoRevisionwise , * 
	 FROM (
				SELECT @RevisionNo AS RevisionNo,
										ProductionBatch.BatchID , 
										OurentryNo , 
										BatchNo as HeatNo ,
										CONVERT(VARCHAR(15), 
										ProductionDate, 106) AS ProductionDate ,
										MetalName,Furnace, 
										Shift  as Shift  , 
										ISNULL(totalChargingQnty, 0) AS MoltenMetalQty ,  
										ItemName,
										ItemCode,
										Consumption.consumptionqty,
										LogSheetNo,
										CONVERT(varchar(15),CAST(StartTime AS TIME),100) as StartTime,
										CONVERT(varchar(15),CAST(EndTime AS TIME),100) as EndTime,
										CONVERT(varchar(15),CAST(SuperHeatTime AS TIME),100) as SuperHeatTime,
										CONVERT(varchar(15),CAST(TimeDuration AS TIME),100) as TimeDuration,
										HeatTimeReason,
										Electricalreadingfrom,
										Electricalreadingto,
										Electricalreadingused,
										MeltingTemp,
										FirstBoxPouringTemp,
										LastBoxPouringTemp,
										MeterMultiplicationFactor,
										ElectricMeterReadingUnitConsumed,
										NoOfLining,
										U.UserName AS ModifiedUserName,
									case when ProductionBatch.ModifiedBy =0 or ProductionBatch.ModifiedBy is null then   ProductionBatch.CreatedOn else ProductionBatch.ModifiedOn end  AS InsertedDate      
							FROM	ProductionBatch 
									Left join Consumption  on ProductionBatch.batchId = Consumption.batchId
									INNER JOIN MetalMaster ON ProductionBatch.MetalID = MetalMaster.MetalID   
									LEFT JOIN  UserMaster AS U ON U.UserId  = case when  ProductionBatch.ModifiedBy =0  or ProductionBatch.ModifiedBy is null then    ProductionBatch.CreatedBY else  ProductionBatch.ModifiedBY end  
									Left Join PurchaseItemMaster on Consumption.purchaseitemID = PurchaseItemMaster.PurchaseItemId
							WHERE ProductionBatch.IsDeleted = 0		
								and ProductionBatch.batchID = @BatchId      
								and consumptionqty>0
														            
        
		) AS FINAL 	
	
 select distinct CA.* 
       into #tempEditLogMeltingEntry
      from @TableItem  as t      
		CROSS APPLY (
			  Values
				 (1,t.SrNoRevisionwise,'User Name' , modifiedUSerName COLLATE DATABASE_DEFAULT,''),
				 (2,t.SrNoRevisionwise,'Inserted/Altered On' ,cast(InsertedDate  as varchar),''  ),
				 (3,t.SrNoRevisionwise,'Melting Date' ,  CONVERT(VARCHAR(15),  ProductionDate, 106)    ,''),
				 (4,t.SrNoRevisionwise,'Heat No' , HeatNo  COLLATE DATABASE_DEFAULT    ,''),				
				 (6,t.SrNoRevisionwise,'Metal Name' , MetalName COLLATE DATABASE_DEFAULT ,''),
				 (7,t.SrNoRevisionwise,ItemName +'('+ItemCode +')' ,
																	'Consumption Qty : ' +  CAst(consumptionqty  as varchar) + CHAR(10) 
																	,Cast('' as varchar(50)))
																	,				
				 (8,t.SrNoRevisionwise,'Furnace' , CAst(Furnace as varchar) COLLATE DATABASE_DEFAULT,''),
				 (9,t.SrNoRevisionwise,'Shift' , CAst(Shift as varchar) COLLATE DATABASE_DEFAULT,''),
				 (10,t.SrNoRevisionwise,'Molten Metal Qty' , CAst(MoltenMetalQty as varchar) COLLATE DATABASE_DEFAULT,''),
				 (11,t.SrNoRevisionwise,'Log Sheet No' , CAst(LogSheetNo as varchar) COLLATE DATABASE_DEFAULT,''),
				 (12,t.SrNoRevisionwise,'Melting Temp' , CAst(MeltingTemp as varchar) COLLATE DATABASE_DEFAULT,''),
				  (13,t.SrNoRevisionwise,'First Box Pouring Temp ' , CAst(FirstBoxPouringTemp as varchar) COLLATE DATABASE_DEFAULT,''),
				 (13,t.SrNoRevisionwise,'Last Box Pouring Temp' , CAst(LastBoxPouringTemp as varchar) COLLATE DATABASE_DEFAULT,''),
				 (14,t.SrNoRevisionwise,'Log Sheet No' , CAst(LogSheetNo as varchar) COLLATE DATABASE_DEFAULT,''),
				 (15,t.SrNoRevisionwise,'Time Details' ,  + 'Start Time : ' + CAst(StartTime as varchar) + CHAR(10) 
															+'End Time : '+  CAst(EndTime as varchar)  + CHAR(10)  
															+ 'Total Time : '+ CAst(TimeDuration as varchar)  + CHAR(10) 
															+'Super Heat Time : ' + CAst(SuperHeatTime as varchar) + CHAR(10) 
															+'Delay Reason : ' + CAst(HeatTimeReason as varchar),''),				
				 (16,t.SrNoRevisionwise,'Power Details' , + 'Start Unit : ' + CAst(Electricalreadingfrom as varchar) + CHAR(10) 
															+ 'End Unit : ' + CAst(Electricalreadingto as varchar) + CHAR(10) 
															+ 'Difference : ' + CAst(Electricalreadingused as varchar) + CHAR(10) 															
														    +'Multiplication Factor : ' +  CAst(MeterMultiplicationFactor as varchar) + CHAR(10)
															+'Unit Consumed : ' + CAst(ElectricMeterReadingUnitConsumed as varchar)
															,'')															  
		  ) as CA (sr,SrNoRevisionwise,ColName, ColValue,TransId )  
		  where ColName is not null and CA.SrNoRevisionwise = t.SrNoRevisionwise 
		  
DECLARE @cols AS NVARCHAR(MAX) 
select @cols = STUFF((SELECT  ','  + QUOTENAME(SrNoRevisionwise) 
                    from #tempEditLogMeltingEntry   group by  SrNoRevisionwise
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')    
   
    
declare @sql1 NVARCHAR(MAX) = '';		 
SET @sql1 ='
SELECT *
FROM   #tempEditLogMeltingEntry
PIVOT  
(  
  max(ColValue)  
  FOR SrNoRevisionwise IN ('+ @cols +' )  
) AS PivotTable order by cast(sr as int);  
';

EXECUTE sp_executesql @sql1;     	
drop table  #tempEditLogMeltingEntry



END
GO
