USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Set_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[Set_Register]
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,        
     @SetId UNIQUEIDENTIFIER = NULL ,
    @SetName VARCHAR(100) = NULL , 
     @CastingId UNIQUEIDENTIFIER = NULL ,
    @CastingName VARCHAR(100) = NULL ,
    @CustomerId UNIQUEIDENTIFIER = NULL  
 
  
AS
BEGIN
	   
            IF @InitialLoad = 1
                BEGIN
                    SELECT TOP ( @PageSize )
                            *
                    FROM    ( SELECT TOP ( @PageSize )
                                        ROW_NUMBER() OVER ( ORDER BY SetName ASC ) AS RowNo ,
                                        SetId ,
                                        SetName ,
                                        SetCode ,
                                        SetWeight ,
                                        DrawingNo ,
                                        Remarks ,
                                        IsDeleted ,
                                        CreatedBy ,
                                        CreatedOn ,
                                        ModifiedBy ,
                                        ModifiedOn ,
                                        DeletedBy ,
                                        DeletedOn ,
                                        EntityID ,
                                        IsSynced AS IsTallySync
                              FROM      SetMaster
                              WHERE     ( @SetId IS NULL
                                          OR SetId = @SetId
                                        )
                                        AND ( @SetName IS NULL
                                              OR SetName = @SetName
                                            )
                                        AND ( @CastingName IS NULL
                                              OR SetId IN (
                                              SELECT    SetId
                                              FROM      dbo.SetCastingMapping
                                                        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.SetCastingMapping.CastingId
                                              WHERE     CastingName = @CastingName
                                                        AND SetCastingMapping.IsDeleted = 0 )
                                            )
                                        AND ( @CastingId IS NULL
                                              OR SetId IN (
                                              SELECT    SetId
                                              FROM      dbo.SetCastingMapping
                                              WHERE     CastingId = @CastingId
                                                        AND SetCastingMapping.IsDeleted = 0 )
                                            )
                                        AND ( @CustomerId IS NULL
                                              OR SetId IN (
                                              SELECT    SetId
                                              FROM      dbo.SetCustomerMapping
                                              WHERE     CustomerId = @CustomerId
                                                        AND SetCustomerMapping.IsDeleted = 0 )
                                            )
                            ) AS SetMaster
                    WHERE   SetMaster.RowNo > ( @PageNumber * @PageSize )
                    ORDER BY SetName ASC
                END
            ELSE
                BEGIN
                    SELECT  *
                    FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY SetName ASC ) AS RowNo ,
                                        SetId ,
                                        SetName ,
                                        SetCode ,
                                        SetWeight ,
                                        DrawingNo ,
                                        Remarks ,
                                        IsDeleted ,
                                        CreatedBy ,
                                        CreatedOn ,
                                        ModifiedBy ,
                                        ModifiedOn ,
                                        DeletedBy ,
                                        DeletedOn ,
                                        EntityID ,
                                        IsSynced AS IsTallySync
                              FROM      SetMaster
                              WHERE     ( @SetId IS NULL
                                          OR SetId = @SetId
                                        )
                                        AND ( @SetName IS NULL
                                              OR SetName = @SetName
                                            )
                                        AND ( @CastingName IS NULL
                                              OR SetId IN (
                                              SELECT    SetId
                                              FROM      dbo.SetCastingMapping
                                                        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.SetCastingMapping.CastingId
                                              WHERE     CastingName = @CastingName
                                                        AND SetCastingMapping.IsDeleted = 0 )
                                            )
                                        AND ( @CastingId IS NULL
                                              OR SetId IN (
                                              SELECT    SetId
                                              FROM      dbo.SetCastingMapping
                                              WHERE     CastingId = @CastingId
                                                        AND SetCastingMapping.IsDeleted = 0 )
                                            )
                                        AND ( @CustomerId IS NULL
                                              OR SetId IN (
                                              SELECT    SetId
                                              FROM      dbo.SetCustomerMapping
                                              WHERE     CustomerId = @CustomerId
                                                        AND SetCustomerMapping.IsDeleted = 0 )
                                            )
                            ) AS SetMaster
                    WHERE   SetMaster.RowNo > ( @PageNumber * @PageSize )
                    ORDER BY SetName ASC
                END
                
           -- WHERE   IsDeleted = 0
            SELECT  COUNT(1) AS TotalRecords
            FROM    SetMaster
            WHERE   ( @SetId IS NULL
                      OR SetId = @SetId
                    )
                    AND ( @SetName IS NULL
                          OR SetName = @SetName
                        )
                    AND ( @CastingName IS NULL
                          OR SetId IN (
                          SELECT    SetId
                          FROM      dbo.SetCastingMapping
                                    INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.SetCastingMapping.CastingId
                          WHERE     CastingName = @CastingName
                                    AND SetCastingMapping.IsDeleted = 0 )
                        )
                    AND ( @CastingId IS NULL
                          OR SetId IN (
                          SELECT    SetId
                          FROM      dbo.SetCastingMapping
                          WHERE     CastingId = @CastingId
                                    AND SetCastingMapping.IsDeleted = 0 )
                        )
                    AND ( @CustomerId IS NULL
                          OR SetId IN (
                          SELECT    SetId
                          FROM      dbo.SetCustomerMapping
                          WHERE     CustomerId = @CustomerId
                                    AND SetCustomerMapping.IsDeleted = 0 )
                        )
                            
         
END

GO
