USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[LostFoamMoldingEntry_FetchAssembly]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LostFoamMoldingEntry_FetchAssembly]
@MethodID UNIQUEIDENTIFIER = NULL,
@Paramter INT = 0,
@MoldingEntryId UNIQUEIDENTIFIER = NULL,
@PlantId int = 0,
@MoldTypeId UNIQUEIDENTIFIER = NULL
AS
BEGIN


 IF @Paramter = 1
 BEGIN
   
                  declare @Json Nvarchar(Max),@AssemblyId UNIQUEIDENTIFIER
				  Create Table #tempEditCon(MoldTypeID UNIQUEIDENTIFIER,StockTypeID UNIQUEIDENTIFIER,Consumption INT,ConsumptionDet Nvarchar(Max))
				  if(@MoldingEntryId <> CAST(0x0 AS UNIQUEIDENTIFIER))
				  BEGIN
                  
				  Select  @Json = Consumptiondet from MoldingEntryMaster where MoldingEntryMasterId = @MoldingEntryId
				  INSERT INTO #tempEditCon(MoldTypeID,StockTypeID,Consumption,ConsumptionDet)
                  Select
					t.MoldTypeID,
					t.StockTypeID,
					t.Consumption,
					t.ConsumptionDet
					from
					Openjson(@Json)
					WITH
					(
					MoldTypeID uniqueidentifier,
					StockTypeID uniqueidentifier,
					Consumption int,
					ConsumptionDet Nvarchar(Max)
					)as t

					END

					Select @AssemblyId = PurchaseItemId from PurchaseItemMaster where DieID = @MethodID

					create table #tempmold (Stock INT,ReferenceId uniqueidentifier,AssemblyId uniqueidentifier,StockTypeID uniqueidentifier,EditConsumption INT,PatternId uniqueidentifier)

				IF NOT EXISTS( select * from MethodCoatingMaster where MethodCoatingMaster.WaxJobCardID = @MethodID )
				BEGIN
                INSERT INTO #tempmold (Stock,ReferenceId,AssemblyId,StockTypeID,EditConsumption,PatternId)
                Select
				Distinct
				 Sum(RawInwBatchWiseStock.Qty) + (ISNULL(#tempEditCon.Consumption,0)) As Stock,
				 RawInwBatchWiseStock.Ref_id as ReferenceId,
				 RawInwBatchWiseStock.PurchaseItemId as AssemblyId,
				 RawInwBatchWiseStock.StockTypeID,
				 (ISNULL(#tempEditCon.Consumption,0)) as EditConsumption,
				 @MethodID as PatternId
				 from
				 RawInwBatchWiseStock
				 Left JOIN #tempEditCon ON #tempEditCon.MoldTypeID = RawInwBatchWiseStock.Ref_id 
				 AND #tempEditCon.StockTypeID = RawInwBatchWiseStock.StockTypeID
				 Where
				  RawInwBatchWiseStock.PurchaseItemId = @AssemblyId
				 AND RawInwBatchWiseStock.StockTypeID = @MethodID
				 and RawInwBatchWiseStock.PlantId = @PlantId
				 and (@MoldTypeId is null Or RawInwBatchWiseStock.Ref_Id = @MoldTypeId)
				 group by ISNULL(#tempEditCon.Consumption,0),
					 RawInwBatchWiseStock.Ref_id ,
					 RawInwBatchWiseStock.PurchaseItemId,
					 RawInwBatchWiseStock.StockTypeID,
					 ISNULL(#tempEditCon.Consumption,0)

				 END
				 ELSE
				 BEGIN
				 INSERT INTO #tempmold (Stock,ReferenceId,AssemblyId,StockTypeID,EditConsumption,PatternId)
				 Select
				 Distinct
				 Sum(RawInwBatchWiseStock.Qty) + (ISNULL(#tempEditCon.Consumption,0)) As Stock,
				 RawInwBatchWiseStock.Ref_id as ReferenceId,
				 RawInwBatchWiseStock.PurchaseItemId as AssemblyId,
				 RawInwBatchWiseStock.StockTypeID,
				 (ISNULL(#tempEditCon.Consumption,0)) as EditConsumption,
				 @MethodID as PatternId
				 from
				 RawInwBatchWiseStock
				 INNER JOIN  MethodCoatingMaster ON MethodCoatingMaster.WaxCoatID = RawInwBatchWiseStock.StockTypeID
				 AND RawInwBatchWiseStock.PurchaseItemId = @AssemblyId
				 Left JOIN #tempEditCon ON #tempEditCon.MoldTypeID = RawInwBatchWiseStock.Ref_id AND #tempEditCon.StockTypeID = RawInwBatchWiseStock.StockTypeID
				 Where
				 MethodCoatingMaster.SrNo IN (select Max(SrNo) from MethodCoatingMaster where WaxJobCardID = @MethodID)
				 AND RawInwBatchWiseStock.PurchaseItemId = @AssemblyId
				 AND MethodCoatingMaster.WaxJobCardID = @MethodID
				  and RawInwBatchWiseStock.PlantId = @PlantId
				  
				 and (@MoldTypeId is null Or RawInwBatchWiseStock.Ref_Id = @MoldTypeId)
				 group by ISNULL(#tempEditCon.Consumption,0),
					 RawInwBatchWiseStock.Ref_id ,
					 RawInwBatchWiseStock.PurchaseItemId,
					 RawInwBatchWiseStock.StockTypeID,
					 ISNULL(#tempEditCon.Consumption,0)
				 END
				 --and RawInwBatchWiseStock.Qty > 0
				 --GROUP BY
				 --RawInwBatchWiseStock.Ref_id,
				 --RawInwBatchWiseStock.PurchaseItemId,
				 --RawInwBatchWiseStock.StockTypeID
				 --select * from #tempmold
				  SELECT  'Combi'          
                        + CONVERT(VARCHAR(4), ROW_NUMBER() OVER ( ORDER BY MoldInventoryType.MoldTypeId )) AS Combi ,          
                        MoldInventoryType.MoldTypeId AS MoldTypeID  ,      
                        CAST(#tempmold.Stock as Int) as Stock ,
						CASE WHEN (@MoldingEntryId <> CAST(0x0 AS UNIQUEIDENTIFIER)) THEN CAST( EditConsumption as int) ELSE CAST(0 as int) END Consumption,
						#tempmold.StockTypeID,
						'' as ConsumptionDet,
						#tempmold.AssemblyId
                FROM    dbo.MoldInventoryType  
				         INNER JOIn #tempmold ON #tempmold.PatternID = MoldInventoryType.PatternId 
                        Where 
						#tempmold.ReferenceId = MoldInventoryType.MoldTypeID
						AND
						MoldInventoryType.PatternID = @MethodID
						GROUP BY
						MoldInventoryType.MoldTypeId,
						#tempmold.Stock,
						#tempmold.StockTypeID,
						#tempmold.EditConsumption,
						#tempmold.AssemblyId

				  drop table #tempmold
				  drop table #tempEditCon

      --                SELECT  'Combi'          
      --                  + CONVERT(VARCHAR(4), ROW_NUMBER() OVER ( ORDER BY MoldInventoryType.MoldTypeId )) AS Combi ,          
      --                  MoldInventoryType.MoldTypeId AS MoldTypeID  ,      
      --                  SUM(dbo.RawInwBatchWiseStock.Qty) as Stock ,
						--CAST(0 as int) as Consumption

      --          FROM    dbo.MoldInventoryType  
				  --      INNER JOIn RawInwBatchWiseStock ON RawInwBatchWiseStock.PurchaseItemId = MoldInventoryType.PatternId
						--AND RawInwBatchWiseStock.ReferenceId = MoldInventoryType.MoldTypeID
      --                  Where MoldInventoryType.PatternID = @MethodID
						--AND RawInwBatchWiseStock.Qty > 0
						--GROUP BY
						--MoldInventoryType.MoldTypeId

	END
	ELSE IF @Paramter = 2
	BEGIN

	                        select 
							CastingMaster.CastingName,
							CastingMaster.CastingCode,
							CAST(MoldInventoryType.Cavity as INT) as Cavity,
							MoldInventoryType.CastingId
							from 
							MoldInventoryType 
							inner join CastingMaster ON CastingMaster.CastingId = MoldInventoryType.CastingId
							where 
							MoldTypeID = @MethodID



	END
	ELSE IF @Paramter = 3
	BEGIN

	                        SELECT 
                            ( CastingCode + '-' + CastingName ) AS Castings , 
							CAST(MoldInventoryType.Cavity as INT) as Cavity,
							MoldInventoryType.CastingId,
							2 as LooseOrMounted,
							ISNULL(WeightTable.GrossWeight, 0) AS GrossWt  ,              
                            MoldInventoryType.CastingId AS MultiCastingID,
							MoldInventoryType.MoldTypeID
							from 
							MoldInventoryType 
							Inner join CastingMaster ON CastingMaster.CastingId = MoldInventoryType.CastingId
							INNER JOIn PatternCastingMapping ON PatternCastingMapping.CastingId = MoldInventoryType.CastingId
							INNER JOIN ( SELECT ROW_NUMBER() OVER ( PARTITION BY CastingMetal.castingID ORDER BY CastingMetal.castingID DESC ) AS rn ,                
                                                CastingMetal.castingID ,                
                                               CastingMetal.GrossWeight,
											   PCM.PatternId
                                         FROM   CastingMetal                
                                                inner join PatternCastingMapping as PCM on PCM.CastingId = CastingMetal.castingID                
                                                INNER JOIN CastingMaster ON CastingMetal.castingID = CastingMaster.CastingId                
                                                and PCM.CastingId = CastingMaster.castingID                
                                                 --AND PCM.PatternId = PatternCastingMapping.PatternId                
                                                 AND CastingMaster.IsDeleted = 0                
                                       ) AS WeightTable ON WeightTable.castingID = PatternCastingMapping.CastingId   AND  PatternCastingMapping.PatternId = WeightTable.PatternId            
                                                           AND rn = 1  
							where 
							MoldInventoryType.PatternID =  @MethodID
							AND PatternCastingMapping.MethodId = MoldInventoryType.PatternID
							AND CastingMaster.CastingId = PatternCastingMapping.CastingId
							AND CastingMaster.IsDeleted = 0
							and (@MoldTypeId is null or MoldTypeID =@MoldTypeId )
							--AND MoldInventoryType.TypeId



	END
                        

END
GO
