USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Production_Planning_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE  PROCEDURE [dbo].[Production_Planning_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL ,  
    @CastingName VARCHAR(150) = NULL ,      
    @CastingId UNIQUEIDENTIFIER = NULL ,      
    @PatternId UNIQUEIDENTIFIER = NULL ,      
 @Furnace VARCHAR(50) = NULL ,      
    @Shift VARCHAR(50) = NULL ,      
    @DateFrom DATETIME = NULL ,      
    @DateTo DATETIME = NULL ,      
     @GradeId INT = 0 ,      
    @EntityId INT = 0 
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
            -- Fetch Register      
        IF ( @Parameter =1)      
            BEGIN       
                IF @InitialLoad = 1      
                    BEGIN      
                        
                        SELECT TOP ( @PageSize )      
                                *      
                        FROM    ( SELECT TOP ( @PageSize )      
                                            ROW_NUMBER() OVER ( ORDER BY PlanningMaster.Plandate ASC ) AS SrNo ,      
                                            PlanId ,      
                                            PlanningMaster.CastingId ,      
                                            GradeId ,      
											PlanningDetail.Furnace ,      
                                            PlanningDetail.Shift ,      
                                            CONVERT(VARCHAR(15), PlanningDetail.Plandate, 106) AS PlanDate ,      
                                            PlanQty ,      
                                            CastingCode ,      
                                            CastingName ,      
                                            CastingMetal.GrossWeight AS GrossWeight ,      
											(CastingMetal.GrossWeight * PlanQty) AS TotalWeight ,      
                                            MetalName ,      
                                            PlanningMaster.PatternId ,      
                                            PatternQty ,      
                                            PurchaseItemMaster.ItemCode as PatternCode ,      
                                            PlanningDetail.PlanMasterID      
                                  FROM      PlanningDetail      
											inner join dbo.PlanningMaster on PlanningMaster.PlanMasterID = PlanningDetail.PlanMasterID      
                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.PlanningMaster.CastingId      
                                            INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.PlanningMaster.GradeId      
                                            INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.CastingMaster.Dieid
                                            LEFT JOIN CastingMetal ON CastingMetal.castingID = CastingMaster.CastingId      
                                                              AND MetalMaster.MetalId = CastingMetal.metalid      
                                  WHERE     ( @CastingId IS NULL      
                                              OR PlanningMaster.CastingId = @CastingId      
                                            )      
                                            and PlanningMaster.IsDeleted = 0      
                                            AND ( @Furnace IS NULL      
                                                  OR PlanningDetail.Furnace = @Furnace      
                                                )      
                                            AND ( @Shift IS NULL      
                                                  OR PlanningDetail.Shift = @Shift      
                                                )      
                                            AND ( @GradeId = 0      
                                                  OR PlanningMaster.GradeId = @GradeId      
                                                )      
                                            AND ( @PatternId IS NULL      
                                                  OR PlanningMaster.PatternId = @PatternId      
                                                )      
                                            AND PlanningMaster.IsDeleted = 0 
                                            and PurchaseItemMaster.IsPattern = 1     
                                            AND ( @DateFrom IS NULL      
                                                  OR @DateTo IS NULL      
                                                  OR PlanningMaster.Plandate BETWEEN @DateFrom      
                                                              AND      
                                                              @DateTo      
                                                )      
                                            AND ( @PlantIdString IS NULL      
                                                  OR @PlantIdString = ''      
                                                  OR CastingMaster.castingid IN (      
                                                  SELECT    castingid      
                                                  FROM      dbo.PlantCastingMapping      
                                                           where PlantId in (SELECT Item FROM @Plant) )      
                                                )      
                                            AND CastingMaster.EntityID = @EntityId
                                ) s       
                                                 
                    END      
                ELSE      
                    BEGIN      
                          
                        SELECT TOP ( @PageSize )      
                                *      
                        FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY PlanningMaster.Plandate ASC ) AS SrNo ,      
                                            PlanId ,      
                                            PlanningMaster.CastingId ,      
											GradeId ,      
                                            PlanningDetail.Furnace ,      
                                            PlanningDetail.Shift ,      
                                            CONVERT(VARCHAR(15), PlanningDetail.Plandate, 106) AS PlanDate ,      
                                            PlanQty AS PlanedQty ,      
                                            CastingCode ,      
                                            CastingName ,      
                                            CastingMetal.GrossWeight AS GrossWeight ,      
                                            CastingMetal.GrossWeight * PlanQty AS TotalWeight ,      
                                            MetalName ,      
                                            PlanningMaster.PatternId ,      
                                            PatternQty ,      
                                            PurchaseItemMaster.ItemCode as PatternCode ,      
                                            PlanningDetail.PlanMasterID      
                                  FROM      PlanningDetail      
											inner join dbo.PlanningMaster on PlanningMaster.PlanMasterID = PlanningDetail.PlanMasterID      
                                            INNER JOIN CastingMaster ON dbo.CastingMaster.CastingId = dbo.PlanningMaster.CastingId      
                                            INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.PlanningMaster.GradeId      
                                            INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.CastingMaster.Dieid
                                            LEFT JOIN CastingMetal ON CastingMetal.castingID = CastingMaster.CastingId      
                                                              AND MetalMaster.MetalId = CastingMetal.metalid      
                                      
                                    WHERE     ( @CastingId IS NULL      
                                              OR PlanningMaster.CastingId = @CastingId      
                                            )      
                                            AND ( @Furnace IS NULL      
                                                  OR PlanningDetail.Furnace = @Furnace      
                                                )      
                                            AND ( @Shift IS NULL      
                                                  OR PlanningDetail.Shift = @Shift      
											)      
                                            AND ( @GradeId = 0      
                                                  OR PlanningMaster.GradeId = @GradeId      
                                                )      
                                            AND ( @PatternId IS NULL      
                                                  OR PlanningMaster.PatternId = @PatternId      
                                                )      
                                            AND PlanningMaster.IsDeleted = 0 
                                            AND PurchaseItemMaster.IsPattern = 1     
                                            AND ( @DateFrom IS NULL      
                                                  OR @DateTo IS NULL      
                                                  OR PlanningMaster.Plandate BETWEEN @DateFrom      
                                                              AND      
                                                 @DateTo      
                                                )      
                                            AND ( @PlantIdString IS NULL      
                                                  OR @PlantIdString = ''      
                                                  OR CastingMaster.castingid IN (      
                                                  SELECT    castingid      
                                                  FROM      dbo.PlantCastingMapping      
                                                          where PlantId in (SELECT Item FROM @Plant))      
                                                )      
											AND CastingMaster.EntityID = @EntityId
                                ) s      
                        WHERE   SrNo > ( @PageNumber * @PageSize )      
                              
                              
                    END       
            END      
                
         -- Fetch Total Records      
        IF ( @Parameter = 2 )      
            BEGIN             
      
                SET @TotalRecords = ( SELECT    COUNT(1)      
                                      FROM      ( SELECT    ROW_NUMBER() OVER ( ORDER BY PlanningMaster.Plandate ASC ) AS SrNo ,      
															PlanId ,      
															PlanningMaster.CastingId ,      
															GradeId ,      
															PlanningDetail.Furnace ,      
															PlanningDetail.Shift ,      
															CONVERT(VARCHAR(15), PlanningDetail.Plandate, 106) AS PlanDate ,      
															PlanQty AS PlanedQty ,      
															CastingCode ,      
															CastingName ,
															MetalName ,      
															PlanningMaster.PatternId ,      
															PatternQty ,      
															PurchaseItemMaster.ItemCode as PatternCode ,      
															PlanningDetail.PlanMasterID      
                                                  FROM		PlanningDetail      
															inner join dbo.PlanningMaster on PlanningMaster.PlanMasterID = PlanningDetail.PlanMasterID      
															INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.PlanningMaster.CastingId      
                                                            INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.PlanningMaster.GradeId      
                                                            INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.CastingMaster.Dieid
                                                            LEFT JOIN CastingMetal ON CastingMetal.castingID = CastingMaster.CastingId      
																		AND MetalMaster.MetalId = CastingMetal.metalid      
                                                            --LEFT JOIN dbo.CoreBoxMaster ON dbo.CoreBoxMaster.PatternID = dbo.PlanningMaster.PatternId      
                                                  WHERE     ( @CastingId IS NULL      
                                                              OR PlanningMaster.CastingId = @CastingId      
                                                            )      
                                                        AND ( @Furnace IS NULL      
                                                              OR PlanningDetail.Furnace = @Furnace      
                                                              )      
                                                            AND ( @Shift IS NULL      
                                                              OR PlanningDetail.Shift = @Shift      
                                                              )      
                                                            AND ( @GradeId = 0      
                                                              OR PlanningMaster.GradeId = @GradeId      
                                                              )      
                                                            AND ( @PatternId IS NULL      
                                                              OR PlanningMaster.PatternId = @PatternId      
                                                              )      
                                                            AND PlanningMaster.IsDeleted = 0 
                                                            AND PurchaseItemMaster.IsPattern = 1     
																AND ( @DateFrom IS NULL      
																	OR @DateTo IS NULL      
																	OR PlanningMaster.Plandate BETWEEN @DateFrom       AND	@DateTo      
                                                              )      
                                                            AND ( @PlantIdString IS NULL      
                                                              OR @PlantIdString = ''      
                                                              OR CastingMaster.castingid IN (      
                                                              SELECT      
                                                              castingid      
                                                              FROM      
																dbo.PlantCastingMapping      
                                                      where PlantId in (SELECT Item FROM @Plant))      
                                                              )      
                                                            AND CastingMaster.EntityID = @EntityId      
                                                            and PlanningMaster.IsDeleted = 0
                                                ) AS s      
                                    )      
                RETURN @TotalRecords      
                   
                       
            END      
                  
                 
        IF ( @Parameter = 3 )      
            BEGIN        
                       
        
                SELECT  ROW_NUMBER() OVER ( ORDER BY PlanningMaster.Plandate ASC ) AS SrNo ,      
                        PlanId ,      
                        PlanningMaster.CastingId ,      
                        GradeId ,      
                        PlanningDetail.Furnace ,      
                        PlanningDetail.Shift ,      
                        CONVERT(VARCHAR(15), PlanningDetail.Plandate, 106) AS PlanDate ,      
                        PlanQty AS PlannedQty ,      
                        CastingCode AS ItemCode ,      
                        CastingName AS ItemName ,      
                        CastingMetal.GrossWeight AS GrossWeight ,      
                        CastingMetal.GrossWeight * PlanQty AS TotalWeight ,
                        MetalName AS Grade ,      
                        MetalType ,      
                        PlanningMaster.PatternId ,      
                        PatternQty ,        
                        PurchaseItemMaster.ItemCode as PatternCode ,        
                        NameOfOrganization      
                FROM    PlanningMaster      
						inner join PlanningDetail on PlanningDetail.PlanMasterID = PlanningMaster.PlanMasterID      
                        INNER JOIN CastingMaster ON dbo.CastingMaster.CastingId = dbo.PlanningMaster.CastingId      
                        INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.PlanningMaster.GradeId      
                        INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.CastingMaster.Dieid
                        LEFT JOIN dbo.CompanyMaster ON dbo.CompanyMaster.EntityId = dbo.PlanningMaster.EntityId      
                        LEFT JOIN CastingMetal ON CastingMetal.castingID = CastingMaster.CastingId                                                      
													AND MetalMaster.MetalId = CastingMetal.metalid      
                WHERE   ( @CastingId IS NULL      
                          OR PlanningMaster.CastingId = @CastingId      
                        )      
                        AND ( @Furnace IS NULL      
                              OR PlanningDetail.Furnace = @Furnace      
                            )      
                        AND ( @Shift IS NULL      
                              OR PlanningDetail.Shift = @Shift      
                            )      
                        AND ( @GradeId = 0      
                              OR PlanningMaster.GradeId = @GradeId      
                            )      
                        AND ( @PatternId IS NULL      
                              OR PlanningMaster.PatternId = @PatternId      
                            )      
                        AND PlanningMaster.IsDeleted = 0  
                        AND PurchaseItemMaster.IsPattern = 1    
                        AND ( @DateFrom IS NULL      
                              OR @DateTo IS NULL      
                              OR PlanningMaster.Plandate BETWEEN @DateFrom      
                                                         AND  @DateTo      
                            )      
                        AND ( @PlantIdString IS NULL      
                              OR @PlantIdString = ''      
                              OR CastingMaster.castingid IN (      
                              SELECT    castingid      
                              FROM      dbo.PlantCastingMapping      
                                  where PlantId in (SELECT Item FROM @Plant) )      
                            )      
                        AND CastingMaster.EntityID = @EntityId
                                  
            END         
END

GO
