USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Process]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Delete_Process]
	@RouteCardId UNIQUEIDENTIFIER = NULL
	
AS
BEGIN
	DELETE  FROM RouteCardMaster
            WHERE   RouteCardId = @RouteCardId
    DELETE  FROM RouteCardTrans
			WHERE   RouteCardId = @RouteCardId  
END
GO
