USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Calibration_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 create  PROCEDURE [dbo].[Calibration_Register]
 @EquipmentId UNIQUEIDENTIFIER = NULL ,
   
    @SysDepartmentId UNIQUEIDENTIFIER = NULL,
       @DateFrom DATETIME = NULL ,
    @Dateto DATETIME = NULL ,
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,   
    @EntityId INT = 0 
  
AS
BEGIN
	      
    IF ( @Parameter = 1 )
        BEGIN	
        
            IF @InitialLoad = 1
                BEGIN
                    SELECT TOP ( @PageSize )
                            ROW_NUMBER() OVER ( ORDER BY S.CalibrationFrequencyReport DESC ) AS SrNo ,
                                        *
                    FROM    ( SELECT distinct TOP ( @PageSize )
                                        MaintenanceCalibrationMaster.EquipmentId ,
                                         ItemName as EquipmentName ,
										ItemCode as EquipmentCode ,
                                       -- MaintenanceEquipmentMaster.EquipmentCategory ,                                        
                                         (case when EquipmentCategoryId = 1 then 'Equipment' else 
											(case when EquipmentCategoryId = 2 then 'Jig/Fixture' else 
												(case when EquipmentCategoryId = 3 then 'Inspection Tool' else 
													(case when EquipmentCategoryId = 4 then 'Other' else '' end )
												 end )
											 end ) 
										end ) as EquipmentCategory,
                                        EquipmentCategoryId, 
                                        CONVERT(VARCHAR(15), MaintenanceCalibrationMaster.CalibrationDateReport, 106) AS CalibrationDateReport ,
                                        CONVERT(VARCHAR(15), MaintenanceCalibrationMaster.CalibrationFrequencyReport, 106) AS CalibrationFrequencyReport ,
                                        MaintenanceCalibrationMaster.RemindMeBefore ,
                                        MaintenanceCalibrationMaster.CalibrationId ,
                                        CalibrationBy ,
                                        CertificateNo ,
                                        MaintenanceCalibrationMaster.Remarks
                              FROM      MaintenanceCalibrationMaster
                                        INNER JOIN PurchaseItemMaster ON MaintenanceCalibrationMaster.EquipmentId = PurchaseItemMaster.PurchaseItemId AND IsEquipment = 1
										
                              WHERE     ( @EquipmentId IS NULL
                                          OR MaintenanceCalibrationMaster.EquipmentID = @EquipmentId
                                        )
                                         --adeed by megha
                                        AND ( @SysDepartmentId IS NULL
                                              OR PurchaseItemMaster. PurchaseItemId in (Select PurchaseItemId from PurchaseItemDepartmentMapping where DepartmentID in ( @SysDepartmentId))
                                            )  
                                       
                                        AND ( @DateFrom IS NULL
                                              OR @DateTo IS NULL
                                              OR MaintenanceCalibrationMaster.CalibrationDateReport BETWEEN @DateFrom
                                                              AND
                                                              @DateTo
                                            )
                                        --AND ( @DueFromDate IS NULL
                                        --      OR @DueToDate IS NULL
                                        --      OR MaintenanceCalibrationMaster.CalibrationFrequencyReport BETWEEN @DueFromDate
                                        --                      AND
                                        --                      @DueToDate
                                        --    )
                                           -- AND MaintenanceCalibrationMaster.IsDeleted = 0
                            ) S
                        
                END
							   
            ELSE
                BEGIN
                select TOP ( @PageSize ) * from (
                    SELECT 
                            ROW_NUMBER() OVER ( ORDER BY S.CalibrationFrequencyReport DESC ) AS SrNo ,
                                        *
                    FROM    ( SELECT distinct   MaintenanceCalibrationMaster.EquipmentId ,
                                        ItemName as EquipmentName ,
										ItemCode as EquipmentCode ,
                                       -- MaintenanceEquipmentMaster.EquipmentCategory ,
                                         (case when EquipmentCategoryId = 1 then 'Equipment' else 
											(case when EquipmentCategoryId = 2 then 'Jig/Fixture' else 
												(case when EquipmentCategoryId = 3 then 'Inspection Tool' else 
													(case when EquipmentCategoryId = 4 then 'Other' else '' end )
												 end )
											 end ) 
										end ) as EquipmentCategory,
										EquipmentCategoryId, 
                                        CONVERT(VARCHAR(15), MaintenanceCalibrationMaster.CalibrationDateReport, 106) AS CalibrationDateReport ,
                                        CONVERT(VARCHAR(15), MaintenanceCalibrationMaster.CalibrationFrequencyReport, 106) AS CalibrationFrequencyReport ,
                                        MaintenanceCalibrationMaster.RemindMeBefore ,
                                        MaintenanceCalibrationMaster.CalibrationId ,
                                        CalibrationBy ,
                                        CertificateNo ,
                                        MaintenanceCalibrationMaster.Remarks
                              FROM      MaintenanceCalibrationMaster
                                        INNER JOIN PurchaseItemMaster ON MaintenanceCalibrationMaster.EquipmentId = PurchaseItemMaster.PurchaseItemId AND IsEquipment = 1
										
                              WHERE     ( @EquipmentId IS NULL
                                          OR MaintenanceCalibrationMaster.EquipmentID = @EquipmentId
                                        )
                                         --adeed by megha
                                        AND ( @SysDepartmentId IS NULL
                                              OR PurchaseItemMaster. PurchaseItemId in (Select PurchaseItemId from PurchaseItemDepartmentMapping where DepartmentID in ( @SysDepartmentId))
                                            ) 
                                        
                                        AND ( @DateFrom IS NULL
                                              OR @DateTo IS NULL
                                              OR MaintenanceCalibrationMaster.CalibrationDateReport BETWEEN @DateFrom
                                                              AND
                                                              @DateTo
                                            )
                                        --AND ( @DueFromDate IS NULL
                                        --      OR @DueToDate IS NULL
                                        --      OR MaintenanceCalibrationMaster.CalibrationFrequencyReport BETWEEN @DueFromDate
                                        --                      AND
                                        --                      @DueToDate
                                        --    )
                                           -- AND MaintenanceAMC.IsDeleted = 0
                            ) S
                            ) M
                    WHERE   SrNo > ( @PageNumber * @PageSize )
                END		
					
        END
			
    IF ( @Parameter = 2 )	--	Total Record Display In paging Control
        BEGIN					
            SET @TotalRecords = ( SELECT    COUNT(*)
                                  FROM    
                                  (select distinct MaintenanceCalibrationMaster.CalibrationId 
                                  from  MaintenanceCalibrationMaster
                                            INNER JOIN PurchaseItemMaster ON MaintenanceCalibrationMaster.EquipmentId = PurchaseItemMaster.PurchaseItemId  AND IsEquipment = 1
											
                                  WHERE     ( @EquipmentId IS NULL
                                              OR MaintenanceCalibrationMaster.EquipmentId = @EquipmentId
                                            )
											 --adeed by megha
											AND ( @SysDepartmentId IS NULL
                                              OR PurchaseItemMaster. PurchaseItemId in (Select EquipmentId from PurchaseItemDepartmentMapping where DepartmentID in ( @SysDepartmentId))
                                            ) 
                                            AND ( @DateFrom IS NULL
                                                  OR @DateTo IS NULL
                                                  OR MaintenanceCalibrationMaster.CalibrationDateReport BETWEEN @DateFrom
                                                              AND
                                                              @DateTo
                                                )
                                            --AND ( @DueFromDate IS NULL
                                            --      OR @DueToDate IS NULL
                                            --      OR MaintenanceCalibrationMaster.CalibrationFrequencyReport BETWEEN @DueFromDate
                                            --                  AND
                                            --                  @DueToDate
                                            --    )
                                ) s
                                ) 
          
            RETURN @TotalRecords
        END
       	  
END

GO
