USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ICDiePatternInsert_MasterUpload]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ICDiePatternInsert_MasterUpload]
 @PatternId UNIQUEIDENTIFIER = NULL,
 @IsPatDieWax int = 0,
 @Created_By INt = 0,
 @PatternCode VARCHAR(200) = null,
 @EntityID INT = 0,
 @IsActive INT = 0 ,
 @Active_Deactive_Date DATETIME = NULL,
 @DieId UNIQUEIDENTIFIER = null,
 @PatternCavity INT = 0 ,
 @Weight FLOAT = 0,
 @Remarks Nvarchar(max) = nuLL,
 @CustomerXML  XML = null,
 @Parameter int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    begin try

	begin transaction 
	                    Declare 
						@BOQId UNIQUEIDENTIFIER,
						@SerialNo INT
           
		   declare @CustomerTable Table (CustomerId uniqueidentifier)
		   Insert into @CustomerTable 
		   SELECT  Node.value('(CustomerId)[1]', 'uniqueidentifier') AS 'CustomerId' 
           FROM    @CustomerXML.nodes('/DocumentElement/CustomerMapp') AS TEMPXML ( Node )	

		   IF @Parameter = 1
		   Begin
                    SET @PatternId = NEWID()     

                    INSERT  INTO PatternMaster
                        ( PatternId ,
                          PatternCode ,
                          CreatedByy ,
                          CreatedDate ,
                          IsDeleted ,
                          IsActive ,
                          PatternActiveDate ,
                          EntityID ,
                          IsPatDieWax,
                          PatternCavity,
                          Die_ID,
                          IsPatternAssembly,
                          PatternWeight,
                          Remarks,
						  PatternTypeId
                        )
                        VALUES
                        (@PatternId,
                         @PatternCode,
                         @Created_By ,
                         Getdate() ,
                         0,
                         @IsActive ,
                         @Active_Deactive_Date ,
                         @EntityID,
                         @IsPatDieWax,
                         @PatternCavity,
                         @DieId,
                         0 ,
                         @Weight,
                         @Remarks,
						 1						
						)
                    

					set @BOQId = NEWID() 
				     INSERT  INTO BOQMaster --item Consumption Details 
							( BOQId ,
							  CastingID  ,
							  MetalID  ,
							  EntityId ,
							  BOMCode ,
							  BOMQty ,							
							  IsForPouring ,
							  IsItemType ,
							  IsAssembly 
							)
                    Values( @BOQId ,
                            @PatternId ,
							0,
                            @EntityId,
							@PatternCode,							
							0,
							0,
							5,
							0
                            )

					
                    EXEC PurchasePattern_Insert @PurchaseItem_Id = @PatternId,@ItemName=@PatternCode,@CreatedBy=@Created_By,
					@EntityID=@EntityID,
					@IsPatternActive = @IsActive,
					@IsPatternDummy = 0,
					@IsPatDieWax = @IsPatDieWax,
					@ItemCode = @PatternCode,
					@NoOfPattern = 0,
					@IsAsset = 0,
			        @IsNonConsumable = 0,
					@IsPattern = 0,
					@IsBOQ = 1,
					@IsIssueAsConsumed = 0


					DELETE  FROM CustomerPatternMapping
                    WHERE   PatternId = @DieId

					SET @SerialNo = ISNULL(( SELECT MAX(SerialNo) + 1
                                    FROM   CustomerPatternMapping
                                    WHERE  PatternId = @DieId
                                ), 1)
                                           
					INSERT  INTO CustomerPatternMapping
							( CustomerPatternId ,
								PatternId ,
								CustomerId ,
								IsDeleted ,
								SerialNo
							)
					select  NEWID() ,
							@DieId ,
							cTable.CustomerId ,
							0 ,
							@SerialNo
					from @CustomerTable as cTable
                                

			End
		   if @Parameter = 2
		   begin
		            UPDATE  PatternMaster
                    SET     
                            PatternMaster.PatternCavity = @PatternCavity ,
                            PatternMaster.PatternWeight = @Weight ,
                            Remarks = @Remarks,
                            ModifiedBy = @Created_By ,
                            ModifiedDate = Getdate(),
							IsPatDieWax = @IsPatDieWax
                    WHERE   PatternMaster.PatternId = @PatternId

					EXEC PurchasePattern_Insert @PurchaseItem_Id = @PatternId,
						@ItemName=@PatternCode,
						@CreatedBy= @Created_By,
						@EntityID=@EntityID,
						@ItemCode = @PatternCode,
						@NoOfPattern = 0,
						@IsPatDieWax =@IsPatDieWax,
						@IsAsset = 0,
						@IsNonConsumable = 0

					DELETE  FROM CustomerPatternMapping
					WHERE   PatternId = @DieId

					SET @SerialNo = ISNULL(( SELECT MAX(SerialNo) + 1
                                    FROM   CustomerPatternMapping
                                    WHERE  PatternId = @DieId
                                ), 1)
                                           
                    INSERT  INTO CustomerPatternMapping
                            ( CustomerPatternId ,
                                PatternId ,
                                CustomerId ,
                                IsDeleted ,
                                SerialNo
                            )
					select  NEWID() ,
                            @DieId ,
                            cTable.CustomerId ,
                            0 ,
                            @SerialNo
					from @CustomerTable as cTable

		end

	commit transaction
	select 1

end try
begin catch
rollback transaction 
select -1

end catch



END
GO
