USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MachiningConsumableReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Rahil>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
--report Name - MachiningConsumableReport
--filters - 

-- =============================================
CREATE PROCEDURE [dbo].[MachiningConsumableReport]
	-- Add the parameters for the stored procedure here

@FromDate DATETIME = null,
@ToDate DATETIME = null,
@CastingName varchar(200) = NULL ,  
@CastingID UNIQUEIDENTIFIER = NULL,
@MachineId UNIQUEIDENTIFIER = NULL,
@PlantIdString NVARCHAR(MAX) = '',
@EntityId INT = 0

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	 
    -- Insert statements for procedure here

    -- Insert statements for procedure here
select	CastingMaster.CastingName as CastingName,
			CastingMaster.CastingCode,
			MachineName.ItemName AS MachineName,
			ProcessMaster.ProcessName As OperationName,
			TEMP.ItemName AS ItemName,
			MSProcessTbl.Qty, 
			MSProcessPerformMasterTbl.ProcessQty

	from 
	(
		SELECT	mscd.PurchaseitemID, 
				msppm.CastingID, 
				msppm.ProcessID, 
				msppm.MachineId
				, SUM(Qty) AS Qty
		FROM	ProcessConsumptionDetails AS mscd 
				INNER JOIN MSProcessPerformMaster AS msppm ON msppm.MSProcessPerformID = mscd.ProcessPerformID
				inner join CastingMaster on msppm.CastingID = CastingMaster.CastingId
		where msppm.IsDeleted = 0 and
			(
			(@FromDate IS NULL OR msppm.ProcessPerformDate >= @FromDate)
			AND (@ToDate IS NULL OR msppm.ProcessPerformDate <= @ToDate)
			)  
			and
			(@CastingID IS NULL OR msppm.CastingId = @CastingID )
			AND 
			(@PlantIdString IS NULL OR @PlantIdString = ''
				OR msppm.PlantId in (SELECT Item FROM @Plant)
			)
			and
				( @CastingName IS NULL or @CastingName = ''OR CastingMaster.CastingName = @CastingName 
				) 
				and  msppm.EntityID = @EntityId
			
		GROUP BY mscd.PurchaseitemID, 
				 msppm.CastingID, 
				 msppm.ProcessID, 
				 msppm.MachineId
	) AS MSProcessTbl 
	INNER JOIN 
		(
			SELECT	msppm.CastingID, 
					msppm.ProcessID, 
					msppm.MachineId, 
					SUM(msppm.ProcessQty) AS ProcessQty
					
			FROM	MSProcessPerformMaster AS msppm
			inner join CastingMaster on msppm.CastingID = CastingMaster.CastingId
			where msppm.ISDeleted = 0 and
			(
			(@FromDate IS NULL OR msppm.ProcessPerformDate >= @FromDate)
			AND (@ToDate IS NULL OR msppm.ProcessPerformDate <= @ToDate)
			)  
			and
			(@CastingID IS NULL OR msppm.CastingId = @CastingID )
			AND (@PlantIdString IS NULL OR @PlantIdString = ''
				OR msppm.PlantId in (SELECT Item FROM @Plant)
			) 
			and
			( @CastingName IS NULL or @CastingName = ''
		OR CastingMaster.CastingName = @CastingName 
		) and  msppm.EntityID = @EntityId
			
			GROUP BY msppm.CastingID, msppm.ProcessID, msppm.MachineId
		) AS MSProcessPerformMasterTbl ON MSProcessPerformMasterTbl.CastingID = MSProcessTbl.CastingID
									AND MSProcessPerformMasterTbl.MachineId = MSProcessTbl.MachineId
									AND MSProcessPerformMasterTbl.ProcessID = MSProcessTbl.ProcessID
	inner join CastingMaster on MSProcessTbl.CastingID = CastingMaster.CastingId
	inner join ProcessMaster on MSProcessTbl.ProcessID = ProcessMaster.ProcessId
	inner join PurchaseItemMaster as TEMP on MSProcessTbl.PurchaseitemID = TEMP.PurchaseItemId 
	inner join PurchaseItemMaster as MachineName on MSProcessTbl.MachineId = MachineName.PurchaseItemId
	 
order by CastingName, CastingCode


END

GO
