USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FloorValueReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	Tagging tags
CREATE PROCEDURE [dbo].[FloorValueReport]
	-- Add the parameters for the stored procedure here
	@StartDate datetime =null,
	@EndDate datetime =null,
	@EntityId int =0,
	@PurchaseItemId uniqueidentifier =  null,--'7E861B06-FD5D-420E-96A9-161C39670EC9',
	@GroupId uniqueidentifier = null,
	@SubGroupId uniqueidentifier = null,
	@TypeId uniqueidentifier = null,
	@IncludeZero BIT = 'true' ,
	@PlantId INt = 0
AS
BEGIN
	SET NOCOUNT ON;
	
	SET @StartDate = cast(@StartDate as date)
	SET @EndDate = cast(@EndDate as date)

		select	ItemName, ItemCode, UOM, [Group], [SubGroup], 
				(CASE WHEN OpeningQty != 0 THEN OpeningQty ELSE NULL END) AS OpeningQty, 
				(CASE WHEN OpeningValue != 0 THEN OpeningValue ELSE NULL END) AS OpeningValue,
				(CASE WHEN OpeningRate != 0 THEN OpeningRate ELSE NULL END) AS OpeningRate, 
				(CASE WHEN InwardQty != 0 THEN InwardQty ELSE NULL END) AS InwardQty, 
				(CASE WHEN InwardValue != 0 THEN InwardValue ELSE NULL END) AS InwardValue, 
				(CASE WHEN InwardRate!= 0 THEN InwardRate ELSE NULL END) AS InwardRate, 
				(CASE WHEN Outwardqty != 0 THEN Outwardqty ELSE NULL END) AS Outwardqty, 
				(CASE WHEN Outwardvalue != 0 THEN Outwardvalue ELSE NULL END) AS Outwardvalue, 
				(CASE WHEN OutwardRate != 0 THEN OutwardRate ELSE NULL END) AS OutwardRate, 
				(CASE WHEN BalanceQty != 0 THEN BalanceQty ELSE NULL END) AS BalanceQty, 
				(CASE WHEN BalanceValue != 0 THEN BalanceValue ELSE NULL END) AS BalanceValue, 
				(CASE WHEN BalanceRate != 0 THEN BalanceRate ELSE NULL END) AS BalanceRate,
				PurchaseItemId
		from	(
			Select	ItemName, ItemCode, UOMMaster.UOM,
					isnull(PurchaseItemGroupMaster.GroupName,'OTHER') as [Group],
					ISNULL(PurchaseItemCategoryMaster.CategoryName,'OTHER') as [SubGroup],
					Sum(OpeningQty) as OpeningQty,
					Round(Sum(OpeningQty*Rate),2) as OpeningValue,
					Round(case when Sum(OpeningQty) != 0 then (Sum(OpeningQty*Rate)/Sum(OpeningQty)) 
								else null end,2) as OpeningRate,
					sum(Inwardqty) as InwardQty, 
					Round(sum(Inwardqty* Rate),2) as InwardValue, 
					Round(case when sum(Inwardqty) != 0 then (sum(Inwardqty* Rate)/sum(Inwardqty)) 
						else null end,2) as InwardRate,
					abs(sum(Outwardqty)) as  Outwardqty,
					Round(abs(sum(Outwardqty*Rate)),2) as  Outwardvalue,
					Round(case when sum(Outwardqty) != 0 then (sum(Outwardqty* Rate)/sum(Outwardqty)) 
						else null end,2) as OutwardRate,
					(Sum(OpeningQty)+sum(Inwardqty)+sum(Outwardqty)) as BalanceQty, 
					Round((Sum(OpeningQty*Rate)+sum(Inwardqty* Rate) + sum(Outwardqty*Rate)),2) as BalanceValue,
					Round(case when (Sum(OpeningQty)+sum(Inwardqty)+sum(Outwardqty)) != 0 then 
						((Sum(OpeningQty*Rate)+sum(Inwardqty* Rate) + sum(Outwardqty*Rate))
						)/(Sum(OpeningQty)+sum(Inwardqty)+sum(Outwardqty)) else null end,2) 
						as BalanceRate,
					PurchaseItemMaster.PurchaseItemId
			From PurchaseItemMaster 
			Inner Join PurchaseCompanyMapping on PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
			Left Join (
		
			select  isnull(OpeningTransactionHistory.ItemId,TransactionHistory.ItemId) as PurchaseItemid,
					Case when pim.IsFoundryReturn = 1 then Isnull(RMRate.Rate,0) else isnull(BatchRate.rate,0) end as Rate,
					isnull(OpeningTransactionHistory.RawBatchId,TransactionHistory.RawBatchId) as rawBatchid,
					isnull(OpeningTransactionHistory.qty,0) as OpeningQty,
					isnull(TransactionHistory.Inwardqty,0) as Inwardqty,
					isnull(TransactionHistory.Outwardqty,0) as Outwardqty  
			from ( 
					select	SUM(Transactionqty) as qty, RawBatchId,ItemId 
					from	FloorHistoryTransaction
					where	(@PurchaseItemId is null Or ItemId = @PurchaseItemId)
							and cast(ProcessDate as date) < @StartDate
							and EntityId = @EntityId
							AND (@PlantId = 0 OR FloorHistoryTransaction.PlantId = @PlantId)
					Group by RawBatchId,ItemId
					having SUM(Transactionqty) != 0
				) as OpeningTransactionHistory 
			Full Join( 
						select	SUM(case when a.InOut = 0 then a.Transactionqty end) as Inwardqty,
								SUM(case when a.InOut = 1 then a.Transactionqty end) as Outwardqty,  
								a.RawBatchId ,
								a.ItemId
						from	FloorHistoryTransaction as a
						where	(@PurchaseItemId is null Or a.ItemId = @PurchaseItemId)
								and cast(a.ProcessDate as date) between @StartDate and @EndDate
								and a.EntityId = @EntityId
								AND (@PlantId = 0 OR a.PlantId = @PlantId)
						Group by a.RawBatchId,a.ItemId
					) as TransactionHistory on OpeningTransactionHistory.rawBatchId = TransactionHistory.rawBatchId
			inner Join PurchaseItemMaster pim on pim.PurchaseItemId = isnull(OpeningTransactionHistory.ItemId,TransactionHistory.ItemId)
			--Left Join (select Avg(Rate) as Rate,RawBatch_Id,PurchaseItemId from RawMaterialInwardDetail
			--		group by RawBatch_Id,PurchaseItemId
			--		) as InwardRate
			--		on InwardRate.PurchaseItemId = isnull(OpeningTransactionHistory.ItemId,TransactionHistory.ItemId)
			--		and InwardRate.RawBatch_Id = isnull(OpeningTransactionHistory.RawBatchId,TransactionHistory.RawBatchId)
			--Left Join (select Avg(Rate) as Rate,Raw_BatchId,PurchaseItemId from SandProduction
			--		group by Raw_BatchId,PurchaseItemId
			--		) as SandRate
			--		on SandRate.Raw_BatchId = isnull(OpeningTransactionHistory.RawBatchId,TransactionHistory.RawBatchId)
			Left Join (select Rate,RawBatchId from BatchWiseRate
					) as BatchRate
					on BatchRate.RawBatchId = isnull(OpeningTransactionHistory.RawBatchId,TransactionHistory.RawBatchId)
		
			Left Join (select avg(Rate) as Rate,RMRateMaster.PurchaseItemId from RMRateMaster 
						Inner Join PurchaseItemMaster pm on pm.PurchaseItemId = RMRateMaster.PurchaseItemId
						where IsFoundryReturn = 1
						  AND RMRateMaster.IsPurchase = 1
						group by RMRateMaster.PurchaseItemId
				) as RMRate on RMRate.PurchaseItemId = isnull(OpeningTransactionHistory.ItemId,TransactionHistory.ItemId)
			) as FinalTable 
			on PurchaseItemMaster.PurchaseItemId = FinalTable.PurchaseitemId
			Inner Join UOMMaster on UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
			Left Join PurchaseItemGroupMaster on PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId		
			LEFT JOIN PurchaseItemCategoryMaster ON PurchaseItemCategorymaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId
				and(@SubGroupId is null Or PurchaseItemCategoryMaster.PurchaseItemCategoryId = @SubGroupId)
		where (@GroupId is null Or PurchaseItemMaster.PurchaseItemGroupId = @GroupId)
				and(@SubGroupId is null Or PurchaseItemMaster.PurchaseItemCategoryId = @SubGroupId)
				and (@TypeId is null Or PurchaseItemMaster.PurchaseItemtypeId = @TypeId)
				and (@PurchaseItemId is null Or PurchaseItemMaster.purchaseItemId = @PurchaseItemId)
				And CompanyId = @EntityId
				and PurchaseItemMaster.IsPattern = 0
				and IsIssueAsConsumed = 0
				and PurchaseItemMaster.IsEquipment = 0
		Group by	ItemName,ItemCode,UOMMaster.UOM,
					isnull(PurchaseItemGroupMaster.GroupName,'OTHER') ,
					ISNULL(PurchaseItemCategoryMaster.CategoryName,'OTHER'),
					PurchaseItemMaster.PurchaseItemId
	) as a 
	where (@IncludeZero = 'true'  
				or ((ISNULL(BalanceQty, 0) + ISNULL(OpeningQty, 0) + ISNULL(InwardQty, 0) + ISNULL(Outwardqty, 0)) <> 0)
		)
	Order by ItemName
	OPTION (RECOMPILE);
END

GO
