USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MachineShopInward_SELECT]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 -- [dbo].[MachineShopInward_SELECT] 'F66EDF41-445C-47B7-BC48-1635D20AD6C2','InterPlantCasting'
CREATE PROCEDURE [dbo].[MachineShopInward_SELECT]
@InwardId UNIQUEIDENTIFIER = NULL,
@Page Nvarchar(200) = Null
AS
BEGIN

declare @PageType int

IF @Page = 'MachineShopInward'
begin
  set @PageType = 1
end
else
begin
  set @PageType = 2
end
	
select
InwardId,
CONVERT(Nvarchar(50),InwardDate,105) as InwardDate,
BroughtBy,
GateEntryNo,
ChallanNo,
VehicleNo,
CONVERT(Nvarchar(50),ChallanDate,105) as ChallanDate,
LRNo,
WeightSlipNo,
FreightAmount,
EmployeeId,
CreatedBy,
LoadingUnloading,
Remarks,
EntityId,
INWno,
INWSrNo,
SeriesId,
PlantId ,
GateInMasterId
from 
RawMaterialInward 
where 
InwardId = @InwardId  
and
PageType = @PageType

select 
(select Top 1 F.PlantName from dispatchtrans,dispatchmaster,PlantMaster F where dispatchmaster.DispatchID = dispatchtrans.dispatchid and dispatchtrans.dispatchtransid =ICP.DispatchTransID and dispatchmaster.PlantId = F.PlantId) as [From Plant],
ICP.InwardId,
ICP.CastingId,
ICP.MetalID,
Convert(varchar(20),RM.InwardDate , 106) as [Inward Date],
CastingMaster.CastingName as [Casting Name],
CastingMaster.CastingCode as [Casting Code],
metalmaster.MetalName as [Metal Name],
(select Top 1 ProcessName from ProcessMaster,dispatchtrans where ProcessMaster.ProcessId =dispatchtrans.ProcessTo and dispatchtrans.dispatchtransid = ICP.DispatchTransID) as [From Process],
InwardQty as [InwardQty],
AcceptedQty,
ProcessID,
PerPcWeight,
DispatchTransID,
RM.PlantId,
--F.PlantName [Inward Plant],
0 RejectionId

from 
InwardCastingPurchase ICP
INNER JOIN CastingMaster ON CastingMaster.castingID = ICP.CastingID
INNER JOIN metalmaster ON metalmaster.metalid = ICP.metalid,

RawMaterialInward RM
LEFT join PlantMaster as F ON F.PlantId = RM.PlantId

 where 
 RM.InwardId = @InwardId 
 and
 RM.InwardId = ICP.InwardId
 and
 RM.PageType = @PageType
 Order by CastingMaster.CastingName
 
select
                ROW_NUMBER() OVER ( ORDER BY RM.InwardDate DESC ) AS SrNo, 
                RM.InwardId,
		        CastingMaster.CastingName as [Casting Name],
		        CastingMaster.CastingCode as [Casting Code],
		        metalmaster.MetalName,
				(Select Top 1 ProcessName from ProcessMaster  where ProcessMaster.ProcessId = ICP.ProcessID ) as [Process],
				(select Top 1 ProcessName from ProcessMaster,dispatchtrans where ProcessMaster.ProcessId =dispatchtrans.ProcessTo and dispatchtrans.dispatchtransid = ICP.DispatchTransID) as [From Process],
				(select Top 1 F.PlantName from dispatchtrans,dispatchmaster,PlantMaster F where dispatchmaster.DispatchID = dispatchtrans.dispatchid and dispatchtrans.dispatchtransid =ICP.DispatchTransID and dispatchmaster.PlantId = F.PlantId) as [From Plant],
				ICP.InwardQty as [Inward Qty]
			
	
		from
		InwardCastingPurchase ICP
		INNER JOIN CastingMaster ON CastingMaster.castingID = ICP.CastingID
		INNER JOIN metalmaster ON metalmaster.metalid = ICP.metalid,
		RawMaterialInward RM
		
		left JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = RM.CreatedBy
		

		where
		ICP.InwardId = RM.InwardId
		AND
		RM.InwardId = @InwardId  
		and
		RM.PageType = @PageType
		
	   IF @Page = 'MachineShopInward'
       Select ProcessId,ProcessName from ProcessMaster where AutoProcess=0 and IsMachineShopInward =1 and IsDeleted =0
       else
       select Top 1 ProcessId from InwardCastingPurchase where InwardId =@InwardId
       
      

END
GO
