USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchsetMasterHSNCode]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchsetMasterHSNCode] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	SELECT distinct TariffCode from SetMaster where TariffCode IS NOT NULL and TariffCode!=' '
END
GO
