USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_MatchPlate_Machine]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Fetch_MatchPlate_Machine]
AS
BEGIN
 SELECT DISTINCT
                    MoldLine
            FROM    MatchPlateMaster
            WHERE   MoldLine IS NOT NULL
                    AND MoldLine != ''
                    AND IsDeleted = 0
END
GO
