USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchPatternWeight]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[FetchPatternWeight]
@PatternId uniqueidentifier 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select (PatternWeight* PatternCavity) as Weight from PatternMaster where PatternId = @PatternId
END
GO
