USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SalesVsReturn]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Bijal Patel>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE  [dbo].[SalesVsReturn]
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @CustomerID UNIQUEIDENTIFIER = NULL ,
    @CastingName VARCHAR(250) = NULL ,
    @DispatchID INT = 0 ,
    @Active BIT = 0 ,    
    @DispatchDateTo DATETIME = null ,
    @DispatchDateFrom DATETIME= null ,    
    @PlantIdString VARCHAR(Max) = NULL,
    @EntityId INT = 0,
	@parameter int = 0 ,
	@DispatchTransId bigint = 0 ,
	@MetalID int =0 ,
	@EditMode bit = 0 ,
	@PurchaseItemId  UNIQUEIDENTIFIER = NULL  ,
	@ItemName VARCHAR(250) = NULL,
	@SkipZeroRecords bit = 0
AS
BEGIN

declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
if(@parameter = 0 )
begin
SELECT * FROM (
	Select CASE WHEN @Active = 1 THEN CustomerCode
              ELSE CustomerName END CustomerName  ,InvNo , CM.CastingName, InvQty,Rate as InvRate,
			  SalesData.TotalAmount as InvValue
			, isnull(SUM(CR.ReturnQty),0 )  as ReturnQty, 
			CASE WHEN OrderTranse.UOM = 'PerPc' then 
			isnull(SUM(CR.ReturnQty )* 
			ISNULL(SUM(CR.ReturnQty * ISNULL(CR.ReturnRate, 0)) / NULLIF(SUM(CR.ReturnQty), 0), 0)
			,0 )
			else isnull(SUM(CR.ReturnQty * ISNULL(SalesData.weight ,0)  )* 
			ISNULL(SUM(CR.ReturnQty * ISNULL(CR.ReturnRate, 0)) / NULLIF(SUM(CR.ReturnQty), 0), 0) ,0 )
			end 
			AS ReturnValue
			, CM.CastingCode, OrderTranse.UOM
			,ISNULL(SUM(CR.ReturnQty * ISNULL(CR.ReturnRate, 0)) / NULLIF(SUM(CR.ReturnQty), 0), 0) AS ReturnRate
		 ,dispatchdate
		from (
		SELECT
				    ISNULL(CONVERT(varchar(50), DM.Prefix), '') +
					ISNULL(CONVERT(varchar(50), DM.Separator), '') +
					CONVERT(varchar(50), Dispatchslipno) +
					ISNULL(CONVERT(varchar(50), DM.Separator), '') +
					ISNULL(CONVERT(varchar(50), DM.Suffix), '')
					AS InvNo				
				,DT.dispatchqty AS InvQty
				,DM.customerID  
				,DT.PartId as  castingid  
				,DT.dispatchtransid
				,DT.Rate		
				,DT.orderid
				,DT.orderserialno
				,DM.dispatchdate 
				,DT.TotalAmount 
				,DT.weight
		 FROM 
		 dispatchmaster DM		 
		 INNER JOIN dispatchtrans DT ON DT.dispatchid = DM.DispatchID  
		 WHERE DM.IsDeleted = 0 AND DM.TypeOfVoucher = 0 AND DT.IsDeleted= 0 AND DM.isProforma = 0 
				AND  ( @CustomerID IS NULL
                  OR DM.customerID = @CustomerID
					 )
				 AND ( @DispatchID = 0
                      OR DM.DispatchID = @DispatchID
                    )
                AND ( @CastingID IS NULL
                      OR PartId = @CastingID
                    )
					 AND DM.EntityID = @EntityId
                 AND (@PlantIdString IS NULL 
							OR @PlantIdString = ''
							OR PlantID IN (
								SELECT * FROM dbo.SplitString(@PlantIdString, ',') )
							) 
                AND ( DispatchDate BETWEEN @DispatchDateFrom
                                    AND     @DispatchDateTo )
		 ) As SalesData
		 INNER JOIN CustomerMaster C ON C.CustomerId = SalesData.customerID 
		 INNER JOIN CastingMaster CM  ON CM.CastingId = SalesData.castingid  
		 INNER JOIN dbo.OrderMaster ON dbo.OrderMaster.CustomerID = SalesData.customerID 
                                                          AND SalesData.orderid = dbo.OrderMaster.CustomerOrderId 
         INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                                                          AND dbo.OrderTranse.PartId =SalesData.castingid  
                                                          AND dbo.OrderTranse.srno =  SalesData.orderserialno
                                                          AND dbo.OrderTranse.IsDeleted = 0
														   AND dbo.OrderTranse.Rejectionid = 0
		 LEFT JOIN CustomerReturnTrans CR on CR.DispatchTransID = SalesData.dispatchtransid
		 WHERE    ( @CastingName IS NULL
                      OR  CastingName = @CastingName 
                    )
						AND ( @ItemName IS NULL  
                                      OR 0 = 1
                                    )  
				AND (@SkipZeroRecords = 0 or CR.ReturnQty > 0)
		 Group BY CustomerName ,InvNo ,CastingName  ,InvQty  ,Rate ,CustomerCode, UOM,CastingCode,dispatchdate,SalesData.TotalAmount

		 union all 
		 Select CASE WHEN @Active = 1 THEN CustomerCode
              ELSE CustomerName END CustomerName  ,InvNo , CM.ItemName as  CastingName, InvQty,SalesData.Rate as InvRate
			,(InvQty* SalesData.Rate) as InvValue
			, isnull (SUM(CR.Quantity),0 )  as ReturnQty
			, isnull (SUM(CR.Quantity  ) * ISNULL(SUM(CR.Quantity * ISNULL(CR.Rate, 0)) / NULLIF(SUM(CR.Quantity), 0), 0)  ,0 ) AS ReturnValue
			,CM.ItemCode as  CastingCode, OrderTranse.UOM
			,ISNULL(SUM(CR.Quantity * ISNULL(CR.Rate, 0)) / NULLIF(SUM(CR.Quantity), 0), 0) AS ReturnRate
			,dispatchdate
		from (
		SELECT
				    ISNULL(CONVERT(varchar(50), DM.Prefix), '') +
					ISNULL(CONVERT(varchar(50), DM.Separator), '') +
					CONVERT(varchar(50), Dispatchslipno) +
					ISNULL(CONVERT(varchar(50), DM.Separator), '') +
					ISNULL(CONVERT(varchar(50), DM.Suffix), '')
					AS InvNo				
				,DT.ItemRequiredQty AS InvQty
				,DM.customerID  
				,DT.PurchaseItemID 
				,DT.dispatchtransid
				,DT.Rate		
				,DT.orderid
				,DT.orderserialno
				,DM.dispatchdate 
		 FROM 
		 dispatchmaster DM		 
		 INNER JOIN dispatchtrans DT ON DT.dispatchid = DM.DispatchID  
		 WHERE DM.IsDeleted = 0 AND DM.TypeOfVoucher = 0 AND DT.IsDeleted= 0 AND DM.isProforma = 0 
				AND  ( @CustomerID IS NULL
                  OR DM.customerID = @CustomerID
					 )
				 AND ( @DispatchID = 0
                      OR DM.DispatchID = @DispatchID
                    )
                --AND ( @CastingID IS NULL
                --      OR PartId = @CastingID
                --    )
					 AND DM.EntityID = @EntityId
                 AND (@PlantIdString IS NULL 
							OR @PlantIdString = ''
							OR PlantID IN (
								SELECT * FROM dbo.SplitString(@PlantIdString, ',') )
							) 
                AND ( DispatchDate BETWEEN @DispatchDateFrom
                                    AND     @DispatchDateTo )
		 ) As SalesData
		 INNER JOIN CustomerMaster C ON C.CustomerId = SalesData.customerID 
		 INNER JOIN PurchaseItemMaster CM  ON CM.PurchaseItemID = SalesData.PurchaseItemID  
		 INNER JOIN dbo.OrderMaster ON dbo.OrderMaster.CustomerID = SalesData.customerID 
                                                          AND SalesData.orderid = dbo.OrderMaster.CustomerOrderId 
         INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                                                          AND dbo.OrderTranse.PurchaseItemID =SalesData.PurchaseItemID  
                                                          AND dbo.OrderTranse.srno =  SalesData.orderserialno
                                                          AND dbo.OrderTranse.IsDeleted = 0 
														   AND dbo.OrderTranse.RawmaterialDetailId = 0 
		 LEFT JOIN RawMaterialInwardDetail CR on CR.DispatchTrans_ID = SalesData.dispatchtransid and CR.Isdeleted = 0 
		 WHERE    ( @ItemName IS NULL  
                                      OR CM.ItemName = @ItemName  
								)  
				AND ( @CastingName IS NULL  
                                      OR 0 = 1
                                    )  
				AND (@SkipZeroRecords = 0 or CR.Quantity > 0)
		 Group BY CustomerName ,InvNo ,ItemName  ,InvQty  ,SalesData.Rate ,CustomerCode, UOM,ItemCode ,dispatchdate
		  ) AS TEMP ORDER BY dispatchdate  DESC  
end
if(@parameter = 1 )
begin SELECT    
    OM.OASrNo AS OrderNo,
    OM.CustomerOrderNo,
    DT.DispatchQty,
    DT.DispatchTransID,
    DT.Rate,
    DT.TotalAmount
FROM 
    dbo.DispatchMaster DM
    INNER JOIN dbo.DispatchTrans DT ON DT.DispatchID = DM.DispatchID
   -- INNER JOIN dbo.CastingMaster CM ON CM.CastingId = DT.PartId
    INNER JOIN dbo.OrderMaster OM ON OM.CustomerID = DM.CustomerID
                                   AND DT.OrderID = OM.CustomerOrderId 
    LEFT JOIN dbo.CustomerReturnTrans CR ON CR.DispatchTransId = DT.DispatchTransID
WHERE 
    DM.DispatchID = @DispatchID
    AND DT.IsDeleted = 0
    AND DT.PartId = @CastingID
    AND DM.IsDeleted = 0
GROUP BY 
    OM.OASrNo,
    OM.CustomerOrderNo,
    DT.DispatchQty,
    DT.DispatchTransID,
    DT.Rate,
    DT.TotalAmount
HAVING 
    (DT.DispatchQty - ISNULL(SUM(CR.ReturnQty), 0)) > 0;

end
if(@parameter = 2 )
begin 

						SELECT  case when (DispatchQty - ISNULL(sum(CR.ReturnQty),0 ) ) < 0 then 0 else  (DispatchQty - ISNULL(sum(CR.ReturnQty),0 ) )    end   AS ReturnQty 
						FROM   dbo.dispatchmaster
								INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
								 left join dbo.CustomerReturnTrans  CR on CR.DispatchTransId=  dbo.dispatchtrans.dispatchtransid  
								 WHERE (DispatchTrans.isDeleted = 0)  AND  dbo.dispatchmaster.IsDeleted =0  
								 and (@DispatchTransId= 0 or  dbo.dispatchtrans.dispatchtransid  = @DispatchTransId)
								 	AND dbo.dispatchtrans.PartId = @CastingID and  dispatchmaster.DispatchID = @DispatchID 
									group by DispatchQty 
END 
if(@parameter = 3 )
begin
SELECT  
    ISNULL(DM.Prefix, '') +
    ISNULL(DM.Separator, '') +
    DM.DispatchSlipNo +
    ISNULL(DM.Separator, '') +
    ISNULL(DM.Suffix, '') + '-' +
    CONVERT(VARCHAR(15), DM.DispatchDate, 106 ) AS DispatchSlipWithDate,
    DM.DispatchID
FROM 
    dispatchmaster DM
OUTER APPLY (
    SELECT 
        SUM(DT.DispatchQty) AS TotalDispatchQty
    FROM dispatchtrans DT
    WHERE DT.DispatchID = DM.DispatchID
        AND (@CastingID IS NULL OR DT.PartID = @CastingID)
        AND DT.IsDeleted = 0
) AS DispatchData
OUTER APPLY (
    SELECT 
        SUM(ISNULL(CRT.ReturnQty, 0)) AS TotalReturnQty
    FROM dispatchtrans DT
    LEFT JOIN CustomerReturnTrans CRT ON CRT.DispatchTransId = DT.DispatchTransId
    WHERE DT.DispatchID = DM.DispatchID
        AND (@CastingID IS NULL OR DT.PartID = @CastingID)
        AND DT.IsDeleted = 0
) AS ReturnData
WHERE   
    DM.IsDeleted = 0
    AND DM.IsProforma = 0
    AND DM.EntityID = @EntityId
    AND (@PlantIdString IS NULL OR @PlantIdString = '' OR DM.PlantId IN (SELECT Item FROM @Plant))
    AND (@CustomerID IS NULL OR DM.CustomerID = @CustomerID)
    AND (
        DispatchData.TotalDispatchQty - ISNULL(ReturnData.TotalReturnQty, 0) > 0
        OR (@EditMode = 1 AND EXISTS (
            SELECT 1 
            FROM dispatchtrans DT2 
            WHERE DT2.DispatchID = DM.DispatchID AND DT2.DispatchTransId = @DispatchTransId
        ))
    )
ORDER BY 
    DispatchSlipWithDate;


--SELECT   DISTINCT  
--    ISNULL(DM.Prefix, '') +
--    ISNULL(DM.Separator, '') +
--    DM.DispatchSlipNo +
--    ISNULL(DM.Separator, '') +
--    ISNULL(DM.Suffix, '') + '-' +
--    CONVERT(VARCHAR(15), DM.DispatchDate, 106 ) AS DispatchSlipWithDate,
--    DM.DispatchID
--FROM 
--    dispatchmaster DM
--    INNER JOIN dispatchtrans DT ON DT.DispatchID = DM.DispatchID
--    LEFT JOIN CustomerReturnTrans CRT 
--        ON CRT.CastingDispatchId = DM.DispatchID 
--        AND CRT.DispatchTransId = DT.DispatchTransId
--WHERE   
--    (DM.IsDeleted = 0 OR DM.IsCancelled = 1)
--    AND (@PlantIdString IS NULL OR @PlantIdString = '' OR DM.PlantId IN (SELECT Item FROM @Plant))
--    AND DM.EntityID = @EntityId
--    AND (@CustomerID IS NULL OR DM.CustomerID = @CustomerID)
--    AND (
--        @CastingID IS NULL OR DM.DispatchID IN (
--            SELECT DispatchID 
--            FROM dispatchtrans 
--            WHERE PartID = @CastingID 
--              AND ( IsDeleted = 0)
--        )
--    )
--    AND DM.IsProforma = 0
--GROUP BY 
--    DM.DispatchID,
--    DM.Prefix,
--    DM.Separator,
--    DM.DispatchSlipNo,
--    DM.Suffix,
--    DM.DispatchDate, DT.DispatchQty 
--HAVING 
--   (
--       ( (DT.DispatchQty) - ISNULL(SUM(CRT.ReturnQty), 0)) > 0
--       OR 
--       (@EditMode = 1 AND 
--           EXISTS (
--               SELECT 1 
--               FROM dispatchtrans DT2 
--               WHERE DT2.DispatchID = DM.DispatchID AND DT2.dispatchtransid = @DispatchTransId
--           )
--       )
--   )
--ORDER BY 
--    DispatchSlipWithDate;
	 
end

if(@parameter = 4 )
begin

SELECT  
    ISNULL(DM.Prefix, '') +
    ISNULL(DM.Separator, '') +
    DM.DispatchSlipNo +
    ISNULL(DM.Separator, '') +
    ISNULL(DM.Suffix, '') + '-' +
    CONVERT(VARCHAR(15), DM.DispatchDate, 106 ) AS DispatchSlipWithDate,
    DM.DispatchID
FROM 
    dispatchmaster DM
OUTER APPLY (
    SELECT 
        SUM(DT.ItemRequiredQty) AS TotalDispatchQty
    FROM dispatchtrans DT
    WHERE DT.DispatchID = DM.DispatchID
        AND ( @PurchaseItemId IS NULL OR DT.PurchaseItemID  = @PurchaseItemId  )
        AND DT.IsDeleted = 0
) AS DispatchData
OUTER APPLY (
    SELECT 
        SUM(ISNULL(CRT.Quantity, 0)) AS TotalReturnQty
    FROM dispatchtrans DT
    LEFT JOIN RawMaterialInwardDetail CRT ON  CRT.DispatchTrans_Id = DT.DispatchTransId and CRT.ISdeleted = 0 
    WHERE DT.DispatchID = DM.DispatchID
	  AND ( @PurchaseItemId IS NULL OR DT.PurchaseItemID  = @PurchaseItemId  )
        AND DT.IsDeleted = 0
) AS ReturnData
WHERE   
    DM.IsDeleted = 0
    AND DM.IsProforma = 0
    AND DM.EntityID = @EntityId
    AND (@PlantIdString IS NULL OR @PlantIdString = '' OR DM.PlantId IN (SELECT Item FROM @Plant))
    AND (@CustomerID IS NULL OR DM.CustomerID = @CustomerID)
    AND (
        DispatchData.TotalDispatchQty - ISNULL(ReturnData.TotalReturnQty, 0) > 0
        OR (@EditMode = 1 AND EXISTS (
            SELECT 1 
            FROM dispatchtrans DT2 
            WHERE DT2.DispatchID = DM.DispatchID AND DT2.DispatchTransId = @DispatchTransId
        ))
    )
ORDER BY 
    DispatchSlipWithDate;
	
--SELECT   DISTINCT  
--    ISNULL(DM.Prefix, '') +
--    ISNULL(DM.Separator, '') +
--    DM.DispatchSlipNo +
--    ISNULL(DM.Separator, '') +
--    ISNULL(DM.Suffix, '') + '-' +
--    CONVERT(VARCHAR(15), DM.DispatchDate, 106 ) AS DispatchSlipWithDate,
--    DM.DispatchID
--FROM 
--    dispatchmaster DM
--    INNER JOIN dispatchtrans DT ON DT.DispatchID = DM.DispatchID
--    LEFT JOIN RawMaterialInwardDetail  CRT 
--        ON  CRT.DispatchTrans_Id = DT.DispatchTransId and CRT.ISdeleted = 0 
--WHERE   
--    (DM.IsDeleted = 0 OR DM.IsCancelled = 1)
--    AND (@PlantIdString IS NULL OR @PlantIdString = '' OR DM.PlantId IN (SELECT Item FROM @Plant))
--    AND DM.EntityID = @EntityId
--    AND (@CustomerID IS NULL OR DM.CustomerID = @CustomerID)
--    AND (
--        @PurchaseItemId IS NULL OR DM.DispatchID IN (
--            SELECT DispatchID 
--            FROM dispatchtrans 
--            WHERE PurchaseItemID  = @PurchaseItemId 
--              AND ( IsDeleted = 0)
--        )
--    )
--    AND DM.IsProforma = 0
--GROUP BY 
--    DM.DispatchID,
--    DM.Prefix,
--    DM.Separator,
--    DM.DispatchSlipNo,
--    DM.Suffix,
--    DM.DispatchDate, DT.ItemRequiredQty 
--HAVING 
--   (
--       ( (DT.ItemRequiredQty) - ISNULL(SUM(CRT.Quantity), 0)) > 0
--       OR 
--       (@EditMode = 1 AND 
--           EXISTS (
--               SELECT 1 
--               FROM dispatchtrans DT2 
--               WHERE DT2.DispatchID = DM.DispatchID AND DT2.dispatchtransid = @DispatchTransId
--           )
--       )
--   )
--ORDER BY 
--    DispatchSlipWithDate;
	 
end
if(@parameter = 5 )
begin
SELECT    
    OM.OASrNo AS OrderNo,
    OM.CustomerOrderNo,
    DT.ItemRequiredQty AS DispatchQty,
    DT.DispatchTransID,
    DT.Rate,
    DT.TotalAmount
FROM 
    dbo.DispatchMaster DM
    INNER JOIN dbo.DispatchTrans DT ON DT.DispatchID = DM.DispatchID 
    INNER JOIN dbo.OrderMaster OM ON OM.CustomerID = DM.CustomerID AND DT.OrderID = OM.CustomerOrderId 
    LEFT JOIN dbo.RawMaterialInwardDetail CR ON CR.DispatchTrans_Id = DT.DispatchTransID and CR.isdeleted = 0 
WHERE 
    DM.DispatchID = @DispatchID
    AND DT.IsDeleted = 0
    AND DT.PurchaseItemID = @PurchaseItemId
    AND DM.IsDeleted = 0
GROUP BY 
    OM.OASrNo,
    OM.CustomerOrderNo,
    DT.ItemRequiredQty,
    DT.DispatchTransID,
    DT.Rate,
    DT.TotalAmount
HAVING 
    (DT.ItemRequiredQty - ISNULL(SUM(CR.Quantity), 0)) > 0;
end
if(@parameter = 6 )
begin 
			SELECT  case when (ItemRequiredQty - ISNULL(sum(CR.Quantity),0 ) ) < 0 then 0 
								else  (ItemRequiredQty - ISNULL(sum(CR.Quantity),0 ) ) end AS ReturnQty 
						FROM   dbo.dispatchmaster
								INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
							    left join dbo.RawMaterialInwardDetail  CR on CR.DispatchTrans_Id=  dbo.dispatchtrans.dispatchtransid  and CR.isdeleted = 0 
					WHERE (DispatchTrans.isDeleted = 0)  AND  dbo.dispatchmaster.IsDeleted =0  
									AND  (@DispatchTransId= 0 or  dbo.dispatchtrans.dispatchtransid  = @DispatchTransId)
								 	AND dbo.dispatchtrans.PurchaseItemID = @PurchaseItemId  and  dispatchmaster.DispatchID = @DispatchID 
				    group by ItemRequiredQty 
END 

END
GO
