USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Update_EvaluationParameter]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Update_EvaluationParameter]
	@EvaDetails XML = null
AS
BEGIN
	Declare @Code Varchar(2), @Weightage int ;
	DECLARE EvaDetails CURSOR
            FOR
                SELECT  Node.value('(Code )[1]', 'nvarchar(50)') AS 'Code',
						Node.value('(Weightage )[1]', 'int') AS 'Weightage'
                    
                FROM    @EvaDetails.nodes('/DocumentElement/EvaDetails')
                        AS TEMPXML ( Node )
            OPEN    EvaDetails;
            FETCH NEXT FROM EvaDetails INTO @Code,@Weightage
            
             WHILE @@FETCH_STATUS = 0
                BEGIN
                 UPDATE  EvaluationParameterMaster
                            SET     Weightage=@Weightage
                            WHERE   ( EvaluationCode = @Code )
               
               IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                        
            FETCH NEXT FROM EvaDetails INTO @Code,@Weightage
            
             END
              CLOSE EvaDetails;
            DEALLOCATE EvaDetails;
            IF @@ERROR <> 0
                ROLLBACK TRANSACTION
END
GO
