USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WaxJobCard]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Bhumin
-- Create date: 10 Aug 2017
-- Description:	Wax Jobcard detail will get saved from this.
-- =============================================
CREATE PROCEDURE [dbo].[WaxJobCard] 
	-- Add the parameters for the stored procedure here
    @Parameter INT = 0 ,
    @JobCardID UNIQUEIDENTIFIER = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @JobCardNo VARCHAR(10) = NULL ,
    @WaxChargeID INT = 0 ,
    @WaxTemperature FLOAT = 0 ,
    @NozzleTemperature FLOAT = 0 ,
    @WaxGrade VARCHAR(50) = NULL ,
    @DwellTime FLOAT = 0 ,
    @ChillDetails VARCHAR(50) = NULL ,
    @WaxPatternWeight FLOAT = 0 ,
    @WaxPatternUOM INT = 0 ,
    @noofPatternPerTree INT = 0 ,
    @DownSprueSize VARCHAR(50) = NULL ,
    @DownSprueWeight FLOAT = 0 ,
    @DownSprueQty INT = 0 ,
    @DownSprueType VARCHAR(50) = NULL ,
    @CupSize VARCHAR(50) = NULL ,
    @CupWeight FLOAT = 0 ,
    @CupQty INT = 0 ,
    @BaseSize VARCHAR(50) = NULL ,
    @BaseWeight FLOAT = 0 ,
    @BaseQty INT = 0 ,
    @CastingTreeWeight FLOAT = 0 ,
    @CastingTreeWeightUOM INT = 0 ,
    @WaxTreeWeight FLOAT = 0 ,
    @WaxTreeWeightUOM INT = 0 ,
    @ShellWeightAfterDeWax FLOAT = 0 ,
    @ShellWeightAfterDeWaxUOM FLOAT = 0 ,
    @Remarks VARCHAR(MAX) = NULL ,
    @JobCardInGate XML = NULL ,
    @JobCardCoating XML = NULL ,
    @CreatedBy INT = 0 ,
    @ModifiedBy INT = 0 ,
    @DeletedBy INT = 0 ,
    @InitialLoad INT = 0 ,
    @PageSize INT = 0 ,
    @PageNumber INT = 0 ,
    @CastingName VARCHAR(100) = NULL ,
    @EntityId INT = 0 ,
    @TotalRecords INT = 0 ,
    @SetupId UNIQUEIDENTIFIER = NULL ,
    @SetupChargeId INT = 0 ,
    @SetupWeight FLOAT = 0 ,
    @Photo VARCHAR(MAX) = NULL ,
    @ImagePathId UNIQUEIDENTIFIER = NULL ,
    @ImagePathDetails AS XML = NULL ,
    @WaxJobCardTranseId UNIQUEIDENTIFIER = NULL ,
    @WaxPatternDetails AS XML = NULL ,
    @IngateDetails AS XML = NULL ,
    @ImageDetails AS XML = NULL ,
    @IngateSize VARCHAR(50) = NULL ,
    @IngateWeight FLOAT = 0 ,
    @ImageId UNIQUEIDENTIFIER = NULL ,
    @InGateID UNIQUEIDENTIFIER = NULL ,
    @IsDeletedWaxProduction INT = 0 ,
    @WaxTempUOM INT = 0 ,
    @NozzleTempUOM INT = 0 ,
    @SetupImageName VARCHAR(MAX) = NULL ,
    @RoomTempUOM INT = 0 ,
    @CastingIdString VARCHAR(MAX) = NULL ,
    @Count VARCHAR(10) = 0 ,
    @SrNo INT = 0 ,
    @SetupQty INT = 0 ,
    @InGateQty INT = 0 ,
    @DeleteImage VARCHAR(MAX) = NULL ,
    @ImageDelete AS XML = NULL 
    ,@OriginalName varchar(max) = null 
    --,
    --@PlantIdString VARCHAR(MAX) = NULL
AS
    BEGIN

        DECLARE @IsDeleted INT= 0;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;

     -- INSERT DATA IN TO WAX JOBCARD ,WAX JOBCARDTRANSE, INGATE TABLE AND COATING TABLE MASTER
		-- WAX JOBCARD MASTER : JOBCARD NO ,WAX TREE WEIGHT ,WAX TREE WEIGHT UOM , CASTING TREE WEIGHT, CASTING TREE WEIGHT UOM AND SHELL WEIGHT, SHELL WEIGHT UOM
		-- WAX JOBCARD TRANSE : CASTINGID ,WAX GRADE, NO OF PATTERN PER TREE, DWELL TIME, WAX CHARGEID , WAX PATTERN WEIGHT , WAX PATERN UOM,
		-- ARE MENDATORY
		-- IF INGATE DETAIL IS ENTERED THAN INGATESIZE AND INGATE WEIGHT ARE MENDATORY
		-- IF COATING DETAIL IS ENTERED THAN COAT NAME IS MANDATORY
       
        IF @Parameter = 1
            BEGIN
		
                SET @JobCardID = NEWID()
                INSERT  INTO WaxJobCardMaster
                        ( JobCardID ,
                          JobCardNo ,
                          DownSprueSize ,
                          DownSprueWeight ,
                          DownSprueQty ,
                          DownSprueType ,
                          CupSize ,
                          CupWeight ,
                          CupQty ,
                          BaseSize ,
                          BaseWeight ,
                          BaseQty ,
                          WaxTreeWeight ,
                          WaxTreeWeightUOM ,
                          CastingTreeWeight ,
                          CastingTreeWrightUOM ,
                          ShellWeightDeWax ,
                          ShellWeightDewaxUOM ,
                          Remarks ,
                          CreatedBy ,
                          CreatedOn ,
                          EntityId ,
                          SetupId ,
                          SetupChargeId ,
                          SetupWeight ,
                          SetupQty
                        )
                VALUES  ( @JobCardID ,
                          @JobCardNo ,
                          @DownSprueSize ,
                          @DownSprueWeight ,
                          @DownSprueQty ,
                          @DownSprueType ,
                          @CupSize ,
                          @CupWeight ,
                          @CupQty ,
                          @BaseSize ,
                          @BaseWeight ,
                          @BaseQty ,
                          @WaxTreeWeight ,
                          @WaxTreeWeightUOM ,
                          @CastingTreeWeight ,
                          @CastingTreeWeightUOM ,
                          @ShellWeightAfterDeWax ,
                          @ShellWeightAfterDeWaxUOM ,
                          @Remarks ,
                          @CreatedBy ,
                          GETDATE() ,
                          @EntityId ,
                          @SetupId ,
                          @SetupChargeId ,
                          @SetupWeight ,
                          @SetupQty
                        )
    
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
                
              --CURSOR USE FOR INASER DATA INTO WAXJOBCARDTRANSE, WAXINGATE AND IMAGEPATH
                     
                DECLARE WaxPatternDetail CURSOR
                FOR
                    SELECT  Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,
                            Node.value('(WaxChargeID )[1]', 'bigint') AS 'WaxChargeID' ,
                            Node.value('(NoofPatternPerTree )[1]', 'int') AS 'NoofPatternPerTree' ,
                            Node.value('(DwellTime )[1]', 'float') AS 'DwellTime' ,
                            Node.value('(ChillDetails )[1]', 'VARCHAR(100)') AS 'ChillDetails' ,
                            Node.value('(WaxTemperature )[1]', 'float') AS 'WaxTemperature' ,
                            Node.value('(WaxPatternWeight )[1]', 'float') AS 'WaxPatternWeight' ,
                            Node.value('(WaxPatternUOM )[1]', 'int') AS 'WaxPatternUOM' ,
                            Node.value('(NozzleTemperature )[1]', 'float') AS 'NozzleTemperature' ,
                            Node.value('(WaxTempUOM )[1]', 'int') AS 'WaxTempUOM' ,
                            Node.value('(NozzleTempUOM )[1]', 'int') AS 'NozzleTempUOM' ,
                            Node.query('IngateXML/*') AS 'IngateXML' ,
                            Node.query('ImageXML/*') AS 'ImageXML'
                    FROM    @WaxPatternDetails.nodes('/DocumentElement/WaxPatternDetail')
                            AS TEMPXML ( Node )
                
                OPEN WaxPatternDetail;  
                
                FETCH NEXT FROM WaxPatternDetail INTO @CastingID, @WaxChargeID,
                    @noofPatternPerTree, @DwellTime, @ChillDetails,
                    @WaxTemperature, @WaxPatternWeight, @WaxPatternUOM,
                    @NozzleTemperature, @WaxTempUOM, @NozzleTempUOM,
                    @IngateDetails, @ImageDetails
                
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN		
                    
                        SET @WaxJobCardTranseId = NEWID()			
                        INSERT  INTO dbo.WaxJobCardTranse
                                ( WaxJobCardTranseId ,
                                  JobCardID ,
                                  CastingID ,
                                  WaxChargeID ,
                                  NoofPatternPerTree ,
                                  DwellTime ,
                                  ChillDetails ,
                                  WaxTemperature ,
                                  WaxPatternWeight ,
                                  WaxPatternUOM ,
                                  NozzleTemperature ,
                                  WaxTempUOM ,
                                  NozzleTempUOM ,
                                  IsDeleted
                                )
                        VALUES  ( @WaxJobCardTranseId , -- WaxJobCardTranseId - uniqueidentifier
                                  @JobCardID , -- JobCardID - uniqueidentifier
                                  @CastingID , -- CastingID - uniqueidentifier
                                  @WaxChargeID , -- WaxChargeID - bigint
                                  @noofPatternPerTree , -- NoofPatternPerTree - int
                                  @DwellTime , -- DwellTime - float
                                  @ChillDetails , -- ChillDetails - varchar(100)
                                  @WaxTemperature , -- WaxTemperature - float
                                  @WaxPatternWeight , -- WaxPatternWeight - float
                                  @WaxPatternUOM , -- WaxPatternUOM - int
                                  @NozzleTemperature , -- NozzleTemperature - float,
                                  @WaxTempUOM ,
                                  @NozzleTempUOM ,
                                  0  -- IsDeleted - int
                                )
                                
                                --Insert Ingate Detail
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                   
                        DECLARE IngateDetail CURSOR
                        FOR
                            SELECT  Node.value('(InGateSize )[1]',
                                               'Varchar(50)') AS 'InGateSize' ,
                                    Node.value('(InGateWeight )[1]', 'float') AS 'InGateWeight' ,
                                    Node.value('(InGateQty )[1]', 'int') AS 'InGateQty'
                            FROM    @IngateDetails.nodes('/DocumentElement/IngateDetail')
                                    AS TEMPXML ( Node )
                
                        OPEN IngateDetail;  
                
                        FETCH NEXT FROM IngateDetail INTO @IngateSize,
                            @IngateWeight, @InGateQty
                
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN	   
                
                                INSERT  INTO dbo.WaxJobCardIngate
                                        ( InGateID ,
                                          WaxJobCardTranseId ,
                                          InGateSize ,
                                          InGateWeight ,
                                          InGateQty
                                        )
                                VALUES  ( NEWID() ,
                                          @WaxJobCardTranseId ,
                                          @IngateSize ,
                                          @IngateWeight ,
                                          @InGateQty
                                        )
                                IF @@ERROR <> 0
                                    ROLLBACK TRANSACTION
                          
                                FETCH NEXT FROM IngateDetail INTO @IngateSize,
                                    @IngateWeight, @InGateQty
                            END
                          
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION		
                        CLOSE IngateDetail;
                        DEALLOCATE IngateDetail;
                        
                     --End
                     
                     --Insert Imagepath
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
						DECLARE ImagePath CURSOR                
        			    FOR                
        			      SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
								  Node.value('(SrNo)[1]', 'int') AS 'SrNo'
								  ,Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName'
        			        FROM    @ImageDetails.nodes('/DocumentElement/PhotoImage') AS TEMPXML ( Node )                
        			                                    
        			    OPEN ImagePath;                
        			                        
        			    FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName              
        			    WHILE ( @@FETCH_STATUS = 0 )                
        			        BEGIN                                   
								EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id = @WaxJobCardTranseId ,@OriginalName = @OriginalName
        			            
        			            FETCH NEXT FROM ImagePath INTO @Photo, @SrNo    ,@OriginalName                         
        			            IF @@ERROR <> 0                
        			                ROLLBACK TRANSACTION                
        			        END                
        			                                    
        			    CLOSE ImagePath;                
        			    DEALLOCATE ImagePath;
                         
                    --END
                        FETCH NEXT FROM WaxPatternDetail INTO @CastingID,
                            @WaxChargeID, @noofPatternPerTree, @DwellTime,
                            @ChillDetails, @WaxTemperature, @WaxPatternWeight,
                            @WaxPatternUOM, @NozzleTemperature, @WaxTempUOM,
                            @NozzleTempUOM, @IngateDetails, @ImageDetails
                    
                    END    
                CLOSE WaxPatternDetail;
                DEALLOCATE WaxPatternDetail;
                
                --CURSOR END
              
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
             --     SET @SrNo = (SELECT * FROM dbo.WaxJobCoatingMaster WHERE jo)
                  
                INSERT  INTO dbo.WaxJobCoatingMaster
                        ( CoatID ,
                          WaxJobCardID ,
                          WaxCoatID ,
                          CoatName ,
                          CoatSpecification ,
                          DryTime ,
                          Humidity ,
                          RoomTemp ,
                          RoomTempUOM ,
                          Viscosity ,
                          PH ,
                          BacteriaCount ,
                          SrNo
                        )
                        SELECT  NEWID() ,
                                @JobCardID ,
                                Node.value('(CoatMasterId )[1]',
                                           'uniqueidentifier') AS 'CoatMasterId' ,
                                Node.value('(CoatName )[1]', 'varchar(50)') AS 'CoatName' ,
                                Node.value('(Specification )[1]',
                                           'varchar(100)') AS 'Specification' ,
                                Node.value('(DryTime )[1]', 'float') AS 'DryTime' ,
                                Node.value('(Humidity )[1]', 'varchar(50)') AS 'Humidity' ,
                                Node.value('(RoomTemp )[1]', 'varchar(50)') AS 'RoomTemp' ,
                                Node.value('(RoomTempUOM )[1]', 'int') AS 'RoomTempUOM' ,
                                Node.value('(Viscosity )[1]', 'varchar(50)') AS 'Viscosity' ,
                                Node.value('(PH )[1]', 'varchar(50)') AS 'PH' ,
                                Node.value('(BacteriaCount )[1]',
                                           'varchar(50)') AS 'BacteriaCount' ,
                                Node.value('(SrNo )[1]', 'int') AS 'SrNo'
                        FROM    @JobCardCoating.nodes('/DocumentElement/Coatingtable')
                                AS TEMPXML ( Node )

                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION 
            
            --Insert JobCardImage
            DECLARE ImagePath CURSOR                
        		FOR                
        		  SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
						  Node.value('(SrNo)[1]', 'int') AS 'SrNo'
						  ,Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName'
        		    FROM    @ImagePathDetails.nodes('/DocumentElement/ImagePath') AS TEMPXML ( Node )                
        		                                
        		OPEN ImagePath;                
        		                    
        		FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName 
        		WHILE ( @@FETCH_STATUS = 0 )                
        		    BEGIN                                   
						EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id = @JobCardID,@OriginalName = @OriginalName
        		        
        		        FETCH NEXT FROM ImagePath INTO @Photo, @SrNo  ,@OriginalName              
        		        IF @@ERROR <> 0                
        		            ROLLBACK TRANSACTION                
        		    END                
        		                                
        		CLOSE ImagePath;                
        		DEALLOCATE ImagePath;      
                --END
            END
        
        IF @Parameter = 2 -- Update JobCardMaster details
            BEGIN
    
            
                DECLARE @CoatMasterId UNIQUEIDENTIFIER ,
                    @CoatName VARCHAR(50) ,
                    @CoatSpecification VARCHAR(100) ,
                    @DryTime FLOAT ,
                    @Humidity VARCHAR(50) ,
                    @PH VARCHAR(50) ,
                    @RoomTemp VARCHAR(50) ,
                    @Viscosity VARCHAR(50) ,
                    @BacteriaCount VARCHAR(50) ,
                    @CoatID UNIQUEIDENTIFIER
                
                UPDATE  WaxJobCardMaster
                SET     DownSprueSize = @DownSprueSize ,
                        DownSprueWeight = @DownSprueWeight ,
                        DownSprueQty = @DownSprueQty ,
                        DownSprueType = @DownSprueSize ,
                        CupSize = @CupSize ,
                        CupWeight = @CupWeight ,
                        CupQty = @CupQty ,
                        BaseSize = @BaseSize ,
                        BaseWeight = @BaseWeight ,
                        BaseQty = @BaseQty ,
                        WaxTreeWeight = @WaxTreeWeight ,
                        WaxTreeWeightUOM = @WaxTreeWeightUOM ,
                        CastingTreeWeight = @CastingTreeWeight ,
                        CastingTreeWrightUOM = @CastingTreeWeightUOM ,
                        ShellWeightDeWax = @ShellWeightAfterDeWax ,
                        ShellWeightDewaxUOM = @ShellWeightAfterDeWaxUOM ,
                        Remarks = @Remarks ,
                        ModifiedBy = @ModifiedBy ,
                        ModifiedOn = GETDATE() ,
                        EntityId = @EntityId ,
                        SetupId = @SetupId ,
                        SetupChargeId = @SetupChargeId ,
                        SetupWeight = @SetupWeight ,
                        SetupQty = @SetupQty
                WHERE   JobCardID = @JobCardID	
              
            
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
                
              --CURSOR USE FOR INASER DATA INTO WAXJOBCARDTRANSE, WAXINGATE AND IMAGEPATH
                     
                DECLARE WaxPatternDetail CURSOR
                FOR
                    SELECT  Node.value('(WaxJobCardTranseId )[1]',
                                       'uniqueidentifier') AS 'WaxJobCardTranseId' ,
                            Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,
                            Node.value('(WaxChargeID )[1]', 'bigint') AS 'WaxChargeID' ,
                            Node.value('(NoofPatternPerTree )[1]', 'int') AS 'NoofPatternPerTree' ,
                            Node.value('(DwellTime )[1]', 'float') AS 'DwellTime' ,
                            Node.value('(ChillDetails )[1]', 'VARCHAR(100)') AS 'ChillDetails' ,
                            Node.value('(WaxTemperature )[1]', 'float') AS 'WaxTemperature' ,
                            Node.value('(WaxPatternWeight )[1]', 'float') AS 'WaxPatternWeight' ,
                            Node.value('(WaxPatternUOM )[1]', 'int') AS 'WaxPatternUOM' ,
                            Node.value('(NozzleTemperature )[1]', 'float') AS 'NozzleTemperature' ,
                            Node.value('(WaxTempUOM )[1]', 'int') AS 'WaxTempUOM' ,
                            Node.value('(NozzleTempUOM )[1]', 'int') AS 'NozzleTempUOM' ,
                            Node.query('IngateXML/*') AS 'IngateXML' ,
                            Node.query('ImageXML/*') AS 'ImageXML' ,
                            Node.value('(IsDeletedWaxProduction )[1]', 'int') AS 'IsDeletedWaxProduction'
                    FROM    @WaxPatternDetails.nodes('/DocumentElement/WaxPatternDetail')
                            AS TEMPXML ( Node )
                
                OPEN WaxPatternDetail;  
                
                FETCH NEXT FROM WaxPatternDetail INTO @WaxJobCardTranseId,
                    @CastingID, @WaxChargeID, @noofPatternPerTree, @DwellTime,
                    @ChillDetails, @WaxTemperature, @WaxPatternWeight,
                    @WaxPatternUOM, @NozzleTemperature, @WaxTempUOM,
                    @NozzleTempUOM, @IngateDetails, @ImageDetails,
                    @IsDeletedWaxProduction
                
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN		
                    
                        IF ( @WaxJobCardTranseId IS NULL )
                            OR ( @WaxJobCardTranseId = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) )
                            BEGIN
                               
                                SET @WaxJobCardTranseId = NEWID()			
                                INSERT  INTO dbo.WaxJobCardTranse
                                        ( WaxJobCardTranseId ,
                                          JobCardID ,
                                          CastingID ,
                                          WaxChargeID ,
                                          NoofPatternPerTree ,
                                          DwellTime ,
                                          ChillDetails ,
                                          WaxTemperature ,
                                          WaxPatternWeight ,
                                          WaxPatternUOM ,
                                          NozzleTemperature ,
                                          WaxTempUOM ,
                                          NozzleTempUOM ,
                                          IsDeleted
                                        )
                                VALUES  ( @WaxJobCardTranseId , -- WaxJobCardTranseId - uniqueidentifier
                                          @JobCardID , -- JobCardID - uniqueidentifier
                                          @CastingID , -- CastingID - uniqueidentifier
                                          @WaxChargeID , -- WaxChargeID - bigint
                                          @noofPatternPerTree , -- NoofPatternPerTree - int
                                          @DwellTime , -- DwellTime - float
                                          @ChillDetails , -- ChillDetails - varchar(100)
                                          @WaxTemperature , -- WaxTemperature - float
                                          @WaxPatternWeight , -- WaxPatternWeight - float
                                          @WaxPatternUOM , -- WaxPatternUOM - int
                                          @NozzleTemperature , -- NozzleTemperature - float,
                                          @WaxtempUOM ,
                                          @NozzleTempUOM ,
                                          0  -- IsDeleted - int
                                        )
                            END
                        ELSE
                            BEGIN
					
                                IF @IsDeletedWaxProduction = 1
                                    UPDATE  dbo.WaxJobCardTranse
                                    SET     IsDeleted = 1
                                    WHERE   WaxJobCardTranseId = @WaxJobCardTranseId
                               
                                ELSE
                                    UPDATE  dbo.WaxJobCardTranse
                                    SET     jobcardid = @JobCardID ,
                                            CastingID = @CastingID ,
                                            WaxChargeID = @WaxChargeID ,
                                            NoofPatternPerTree = @noofPatternPerTree ,
                                            DwellTime = @DwellTime ,
                                            ChillDetails = @ChillDetails ,
                                            WaxTemperature = @WaxTemperature ,
                                            WaxPatternWeight = @WaxPatternWeight ,
                                            WaxPatternUOM = @WaxPatternUOM ,
                                            NozzleTemperature = @NozzleTemperature ,
                                            WaxTempUOM = @WaxtempUOM ,
                                            NozzleTempUOM = @NozzletempUOM ,
                                            IsDeleted = 0
                                    WHERE   WaxJobCardTranseId = @WaxJobCardTranseId
                          
                            END
                                
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION 
               
                        DECLARE jobInGate CURSOR
                        FOR
                            SELECT  Node.value('(InGateSize )[1]',
                                               'varchar(50)') AS 'InGateSize' ,
                                    Node.value('(InGateWeight )[1]', 'float') AS 'InGateWeight' ,
                                    Node.value('(InGateQty )[1]', 'float') AS 'InGateQty' ,
                                    Node.value('(InGateID )[1]',
                                               'uniqueidentifier') AS 'InGateID' ,
                                    Node.value('(IsDeleted )[1]', 'int') AS 'IsDeleted'
                            FROM    @IngateDetails.nodes('/DocumentElement/IngateDetail')
                                    AS TEMPXML ( Node ) 
                        OPEN jobInGate;

                        FETCH NEXT FROM jobInGate INTO @InGateSize,
                            @InGateWeight, @InGateQty, @InGateID, @IsDeleted
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN

                                IF ( @InGateID IS NULL )
                                    OR ( @InGateID = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) )
                                    BEGIN
                                        INSERT  INTO dbo.WaxJobCardIngate
                                                ( InGateID ,
                                                  WaxJobCardTranseId ,
                                                  InGateSize ,
                                                  InGateWeight ,
                                                  InGateQty
                                                )
                                        VALUES  ( NEWID() ,
                                                  @WaxJobCardTranseId ,
                                                  @InGateSize ,
                                                  @InGateWeight ,
                                                  @InGateQty
                                                )
                                    END
                                ELSE
                                    BEGIN
					
                                        IF @IsDeleted = 1
                                            DELETE  FROM WaxJobCardIngate
                                            WHERE   InGateID = @InGateID
                                        ELSE
                                            UPDATE  WaxJobCardIngate
                                            SET     InGateSize = @InGateSize ,
                                                    InGateWeight = @InGateWeight ,
                                                    InGateQty = @InGateQty
                                            WHERE   InGateID = @InGateID
                                    END
                   
                                FETCH NEXT FROM jobInGate INTO @InGateSize,
                                    @InGateWeight, @InGateQty, @InGateID,
                                    @IsDeleted
                            END 

                        CLOSE jobInGate;
                        DEALLOCATE jobInGate;
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION 
            
                        --DELETE  FROM ImagePath
                        --WHERE   Id = @WaxJobCardTranseId
               
               
                        DECLARE ImagePath CURSOR
                        FOR
                            SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo'
                            FROM    @ImageDetails.nodes('/DocumentElement/PhotoImage')
                                    AS TEMPXML ( Node )
                            
                        OPEN ImagePath;
				
			         
                        FETCH NEXT FROM ImagePath INTO @Photo
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN                   
                                SET @ImagePathId = NEWID()
                                INSERT  INTO ImagePath
                                        ( ImagePathId ,
                                          Id ,
                                          FilePath
                                        )
                                VALUES  ( @ImagePathId ,
                                          @WaxJobCardTranseId ,
                                          @Photo
                                        )                           
                                IF @@ERROR <> 0
                                    ROLLBACK TRANSACTION
                
                                FETCH NEXT FROM ImagePath INTO @Photo
                                IF @@ERROR <> 0
                                    ROLLBACK TRANSACTION
                    
                            END
                            
                        CLOSE ImagePath;
                        DEALLOCATE ImagePath;   
               
                    --END
                    
                        FETCH NEXT FROM WaxPatternDetail INTO @WaxJobCardTranseId,
                            @CastingID, @WaxChargeID, @noofPatternPerTree,
                            @DwellTime, @ChillDetails, @WaxTemperature,
                            @WaxPatternWeight, @WaxPatternUOM,
                            @NozzleTemperature, @WaxTempUOM, @NozzleTempUOM,
                            @IngateDetails, @ImageDetails,
                            @IsDeletedWaxProduction
                    END    
                CLOSE WaxPatternDetail;
                DEALLOCATE WaxPatternDetail;
                
                --CURSOR END
            
                DECLARE jobCoaing CURSOR
                FOR
                    SELECT  Node.value('(CoatMasterId )[1]',
                                       'uniqueidentifier') AS 'CoatMasterId' ,
                            Node.value('(CoatName )[1]', 'varchar(50)') AS 'CoatName' ,
                            Node.value('(Specification )[1]', 'varchar(100)') AS 'Specification' ,
                            Node.value('(DryTime )[1]', 'float') AS 'DryTime' ,
                            Node.value('(Humidity )[1]', 'varchar(50)') AS 'Humidity' ,
                            Node.value('(RoomTemp )[1]', 'varchar(50)') AS 'RoomTemp' ,
                            Node.value('(RoomTempUOM )[1]', 'int') AS 'RoomTempUOM' ,
                            Node.value('(Viscosity )[1]', 'varchar(50)') AS 'Viscosity' ,
                            Node.value('(PH )[1]', 'varchar(50)') AS 'PH' ,
                            Node.value('(BacteriaCount )[1]', 'varchar(50)') AS 'BacteriaCount' ,
                            Node.value('(CoatID )[1]', 'uniqueidentifier') AS 'CoatID' ,
                            Node.value('(IsDeleted )[1]', 'int') AS 'IsDeleted' ,
                            Node.value('(SrNo )[1]', 'int') AS 'SrNo'
                    FROM    @JobCardCoating.nodes('/DocumentElement/Coatingtable')
                            AS TEMPXML ( Node ) 
                OPEN jobCoaing;

                FETCH NEXT FROM jobCoaing INTO @CoatMasterId, @CoatName,
                    @CoatSpecification, @DryTime, @Humidity,  @RoomTemp,
                    @RoomTempUOM, @Viscosity,@PH, @BacteriaCount, @CoatID,
                    @IsDeleted, @SrNo
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN 
                        IF ( @CoatID IS NULL )
                            OR ( @CoatID = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) )
                            BEGIN
						
                                INSERT  INTO dbo.WaxJobCoatingMaster
                                        ( CoatID ,
                                          WaxJobCardID ,
                                          WaxCoatID ,
                                          CoatName ,
                                          CoatSpecification ,
                                          DryTime ,
                                          Humidity ,
                                          RoomTemp ,
                                          RoomTempUOM ,
                                          Viscosity ,
                                          PH ,
                                          BacteriaCount ,
                                          SrNo
                                        )
                                VALUES  ( NEWID() ,
                                          @JobCardID ,
                                          @CoatMasterId ,
                                          @CoatName ,
                                          @CoatSpecification ,
                                          @DryTime ,
                                          @Humidity ,
                                          @RoomTemp ,
                                          @RoomTempUOM ,
                                          @Viscosity ,
                                          @PH ,
                                          @BacteriaCount ,
                                          @SrNo
                                        )
                            END
                        ELSE
                            BEGIN
					
                                IF @IsDeleted = 1
                                    DELETE  FROM WaxJobCoatingMaster
                                    WHERE   CoatID = @CoatID
                                ELSE
                                    BEGIN
                                        UPDATE  WaxJobCoatingMaster
                                        SET     WaxCoatID = @CoatMasterId ,
                                                CoatName = @CoatName ,
                                                CoatSpecification = @CoatSpecification ,
                                                DryTime = @DryTime ,
                                                Humidity = @Humidity ,
                                                PH = @PH ,
                                                RoomTemp = @RoomTemp ,
                                                RoomTempUOM = @RoomTempUOM ,
                                                Viscosity = @Viscosity ,
                                                BacteriaCount = @BacteriaCount
                                        WHERE   CoatID = @CoatID
                                    END
                            END
                   
                        FETCH NEXT FROM jobCoaing INTO @CoatMasterId,
                            @CoatName, @CoatSpecification, @DryTime, @Humidity,
                           @RoomTemp, @RoomTempUOM, @Viscosity,  @PH,
                            @BacteriaCount, @CoatID, @IsDeleted, @SrNo
                    END 

                CLOSE jobCoaing;
                DEALLOCATE jobCoaing;	
    
    declare @sr int = 1
     
   declare @temp uniqueidentifier 
   
DECLARE db_cursor CURSOR FOR 
SELECT  coatid 
FROM  WaxJobCoatingMaster
WHERE   WaxJobCardID =@JobCardID

OPEN db_cursor  
FETCH NEXT FROM db_cursor INTO @temp  

WHILE @@FETCH_STATUS = 0  
BEGIN  
       update  WaxJobCoatingMaster set SrNo= @sr where  coatid=@temp
set @sr=@sr+1
      FETCH NEXT FROM db_cursor INTO @temp 
END 

CLOSE db_cursor  
DEALLOCATE db_cursor     
                --END
      --Insert JobCardImage
                --DELETE  FROM ImagePath
                --WHERE   Id = @jobcardID
                DECLARE ImagePath CURSOR                
        		FOR                
        		  SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
						  Node.value('(SrNo)[1]', 'int') AS 'SrNo'
						  ,Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName'
        		    FROM    @ImagePathDetails.nodes('/DocumentElement/ImagePath') AS TEMPXML ( Node )                
        		                                
        		OPEN ImagePath;                
        		                    
        		FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName 
        		WHILE ( @@FETCH_STATUS = 0 )                
        		    BEGIN                                   
						EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id = @JobCardID,@OriginalName =@OriginalName
        		        
        		        FETCH NEXT FROM ImagePath INTO @Photo, @SrNo   ,@OriginalName             
        		        IF @@ERROR <> 0                
        		            ROLLBACK TRANSACTION                
        		    END                
        		                                
        		CLOSE ImagePath;                
        		DEALLOCATE ImagePath;        
                --END
                
                DECLARE DeleteImage CURSOR
                FOR
                    SELECT  Node.value('(DeleteImage)[1]', 'varchar(max)') AS 'DeleteImage'
                    FROM    @ImageDelete.nodes('/DocumentElement/ImageDelete')
                            AS TEMPXML ( Node )
                            
                OPEN DeleteImage;
                
                FETCH NEXT FROM DeleteImage INTO @DeleteImage
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN                   
                        
                        DELETE  FROM ImagePath
                        WHERE   Id = @JobCardID
                                AND FilePath = @DeleteImage
                        
                       
                                                        
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                
                        FETCH NEXT FROM DeleteImage INTO @DeleteImage
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                    END  
                CLOSE DeleteImage;;
                DEALLOCATE DeleteImage;;   
                
                IF @@Error <> 0
                    ROLLBACK TRANSACTION								
				
            END
        
        IF @Parameter = 4 -- Fetch Data of Assembly Detail from jobcard ID for assembly detail pop up in register and edit of job card
            BEGIN
    
                SELECT  WaxJobCardMaster.SetupId ,
                        SetupChargeId ,
                        SetupWeight ,
                        SetupQty ,
                        WaxJobCardMaster.DownSprueSize ,
                        WaxJobCardMaster.DownSprueWeight ,
                        WaxJobCardMaster.DownSprueQty ,
                        DownSprueType ,
                        WaxJobCardMaster.BaseSize ,
                        WaxJobCardMaster.BaseWeight ,
                        WaxJobCardMaster.BaseQty ,
                        WaxJobCardMaster.CupSize ,
                        WaxJobCardMaster.CupWeight ,
                        WaxJobCardMaster.CupQty ,
                        0 AS IsDeleted ,
                        SetupName ,
                        ChargeName
                FROM    WaxJobCardMaster
                        INNER JOIN WaxSetupMaster ON WaxSetupMaster.SetupId = WaxJobCardMaster.SetupId
                        INNER JOIN WaxChargeMaster ON WaxChargeMaster.ChargeID = WaxJobCardMaster.SetupChargeId
                WHERE   JobCardID = @JobCardID
                        AND WaxJobCardMaster.IsDeleted = 0
                        AND WaxJobCardMaster.EntityId = @EntityId
    
            END
    
        IF @Parameter = 5 -- Fetch Data of Coating Detail from jobcard ID for Coating detail pop up in register and edit of job card
            BEGIN
    
                SELECT  WaxJobCoatingMaster.CoatID AS CoatID ,
                        WaxCoatID AS CoatMasterId ,
                        COATMASTER.CoatName AS CoatName ,
                        CoatSpecification ,
                        Humidity ,
                        PH ,
                        Viscosity ,
                        RoomTemp ,
                        CASE WHEN RoomTempUOM = 0 THEN 'Celsius'
                             ELSE 'Fehrenheit'
                        END AS RoomTempUOM ,
                        WaxJobCoatingMaster.DryTime ,
                        BacteriaCount ,
                        0 AS IsDeleted,
                        SrNo
                FROM    WaxJobCoatingMaster
                        INNER JOIN COATMASTER ON WaxJobCoatingMaster.WaxCoatID = COATMASTER.CoatID
                WHERE   WaxJobCardID = @JobCardID 
                ORDER BY SrNo
    
            END
    
        IF @Parameter = 6 -- Fetch Jobcard detail of jobcard id for filling the edit page details
            BEGIN
		
                --SET  @WaxPatternUOM  = ( SELECT   UOM
                --                               FROM     dbo.configuration
                --                             )
		
                SELECT  JobCardNo ,
                        DownSprueSize ,
                        DownSprueWeight ,
                        DownSprueQty ,
                        DownSprueType ,
                        CupSize ,
                        CupWeight ,
                        CupQty ,
                        BaseSize ,
                        BaseWeight ,
                        BaseQty ,
                        SetupId ,
                        SetupChargeId ,
                        SetupQty ,
                        ISNULL(WaxTreeWeight, 0.00) AS WaxTreeWeight ,
                        WaxTreeWeight ,
                        WaxTreeWeightUOM ,
                        ISNULL(CastingTreeWeight, 0.00) AS CastingTreeWeight ,
                        CastingTreeWrightUOM ,
                        ISNULL(ShellWeightDeWax, 0.00) AS ShellWeightDeWax ,
                        ShellWeightDewaxUOM ,
                        WaxjobcardMaster.Remarks ,
                        'KG' AS WaxPatternUOM
                FROM    WaxJobCardMaster
                WHERE   JobCardID = @JobCardID
            END
    
      IF @Parameter = 7 -- Fetch JobCard Report data
            BEGIN
    
                SELECT  JobCardNo ,
                        WaxTreeWeight ,
                        CASE WHEN WaxTreeWeightUOM = 0 THEN 'KG'
                             ELSE 'GRAM'
                        END AS WaxTreeWeightUOM ,
                        CastingTreeWeight ,
                        CASE WHEN CastingTreeWrightUOM = 0 THEN 'KG'
                             ELSE 'GRAM'
                        END AS CastingTreeWrightUOM ,
                        ShellWeightDeWax ,
                        CASE WHEN ShellWeightDewaxUOM = 0 THEN 'KG'
                             ELSE 'GRAM'
                        END AS ShellWeightDewaxUOM ,
                        WaxjobcardMaster.Remarks ,
                        WaxJobCardMaster.DownSprueSize ,
                        WaxJobCardMaster.DownSprueWeight ,
                        WaxJobCardMaster.DownSprueQty ,
                        WaxJobCardMaster.DownSprueType ,
                        WaxJobCardMaster.BaseSize ,
                        WaxJobCardMaster.BaseWeight ,
                        WaxJobCardMaster.BaseQty ,
                        WaxJobCardMaster.CupSize ,
                        WaxJobCardMaster.CupWeight ,
                        WaxJobCardMaster.CupQty ,
                        SetupWeight ,
                        SetupQty ,
                        SetupName
                FROM    WaxJobCardMaster
                        INNER JOIN dbo.WaxSetupMaster ON dbo.WaxSetupMaster.SetupId = dbo.WaxJobCardMaster.SetupId
                WHERE   WaxJobCardMaster.JobCardID = @JobCardID
		
           
                SELECT  CoatName ,
                        CoatSpecification ,
                        Humidity ,
                        PH ,
                        Viscosity ,
                        RoomTemp ,
                        WaxJobCoatingMaster.DryTime ,
                        BacteriaCount
                FROM    WaxJobCoatingMaster
                WHERE   WaxJobCardID = @JobCardID
               
        
                SELECT  FilePath ,
                        NoofPatternPerTree ,
                        DwellTime ,
                        ChillDetails ,
                        WaxTemperature ,
                        WaxPatternWeight ,
                        CASE WHEN WaxPatternUOM = 0 THEN 'KG'
                             ELSE 'GRAM'
                        END AS WaxPatternUOM ,
                        NozzleTemperature ,
                        STUFF(( SELECT DISTINCT
                                        ',' + CustomerName
                                FROM    dbo.CustomerMaster
                                        INNER JOIN CustomerDieMapping ON CustomerDieMapping.CustomerId = CustomerMaster.CustomerId
                                        INNER JOIN PatternMaster ON PatternMaster.PatternId = CustomerDieMapping.DieId
                                                              AND castingmaster.CastingId = WaxJobCardTranse.CastingID
                                                              AND CastingMaster.Dieid = PatternMaster.PatternId
                              FOR
                                XML PATH('')
                              ), 1, 1, '') CustomerName ,
                        STUFF(( SELECT DISTINCT
                                        ',' + MetalName
                                FROM    dbo.MetalMaster
                                        INNER JOIN CastingMetal ON CastingMetal.metalid = MetalMaster.MetalId
                                                              AND CastingMetal.CastingId = WaxJobCardTranse.CastingID
                              FOR
                                XML PATH('')
                              ), 1, 1, '') MetalName ,
                        PatternMaster.PatternCode as DieCode ,
                        DieName ,
                        ChargeName ,
                        CastingName ,
                        CastingCode
                FROM    WaxJobCardTranse
                        INNER JOIN WaxJobCardMaster ON WaxJobCardMaster.JobCardID = WaxJobCardTranse.JobCardID
                        LEFT JOIN CastingMaster ON WaxJobCardTranse.CastingID = CastingMaster.CastingId
                        LEFT JOIN PatternMaster ON PatternMaster.PatternId = castingmaster.Dieid
                        LEFT JOIN ImagePath ON ImagePath.Id = WaxJobCardTranse.WaxJobCardTranseId
                        INNER JOIN WaxChargeMaster ON WaxChargeMaster.ChargeID = WaxJobCardTranse.WaxChargeID
                WHERE   WaxJobCardMaster.JobCardID = @JobCardID

                SELECT --TOP 1
                        CastingMaster.CastingName ,
                        CastingMetal.DrawingNo ,
                        CastingMetal.CastingNetWeight AS NetWeight ,
                        CastingMetal.GrossWeight ,
                        CastingMetal.Yield ,
                        MetalMaster.MetalName ,
                        Cavity AS NoOfCavities
                FROM    dbo.WaxJobCardTranse
                        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.WaxJobCardTranse.CastingID
                        INNER JOIN ( SELECT ROW_NUMBER() OVER ( PARTITION BY castingID ORDER BY MAX(GrossWeight) DESC, MAX(CastingNetWeight) DESC ) AS ROWID ,
                                            castingID ,
                                            metalid ,
                                            DrawingNo ,
                                            MAX(CastingNetWeight) AS CastingNetWeight ,
                                            MAX(GrossWeight) AS GrossWeight ,
                                            MAX(Yield) AS Yield
                                     FROM   CastingMetal
                                     GROUP BY castingID ,
                                            metalid ,
                                            DrawingNo
                                   ) CastingMetal ON CastingMaster.CastingId = CastingMetal.castingID
                                                     AND CastingMetal.ROWID = 1
                        INNER JOIN MetalMaster ON CastingMetal.metalid = MetalMaster.MetalId
                                                  AND ISNULL(MetalMaster.IsDeleted,
                                                             0) = 0
                        INNER JOIN dbo.WaxPatternMaster ON dbo.WaxPatternMaster.PatternId = dbo.CastingMaster.WaxPatternId
                WHERE   JobCardID = @JobCardID
                        AND CastingMaster.ParentID IS NULL
                          
		
   --Image
            
                SELECT TOP 1
                        ( CustomerName
                          + ( CASE WHEN SUM(CustomerCount) OVER ( ) > 1
                                   THEN '... (multiple)'
                                   ELSE ''
                              END ) ) AS CustomerName
                FROM    ( SELECT    COUNT(1) AS CustomerCount ,
                                    CustomerId
                          FROM      dbo.WaxJobCardTranse
                                    INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.WaxJobCardTranse.CastingID
                                    INNER JOIN dbo.WaxPatternMaster ON dbo.WaxPatternMaster.PatternId = dbo.CastingMaster.WaxPatternId
                                    INNER JOIN CustomerDieMapping ON dbo.CustomerDieMapping.DieId = dbo.WaxPatternMaster.DieId
                          WHERE     JobCardID = @JobCardID
                          GROUP BY  CustomerId
                        ) AS TEMP
                        INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = TEMP.CustomerId
		
            
                SELECT  PatternMaster.PatternCode as DieCode ,
                        PatternMaster.PatternMaterial as DieType ,
                        PatternMaster.NoOfPattern as DieQty ,
                        IsActive ,
                        dbo.PatternMaster.IsDeleted ,
                        LetterDetail ,
                        PatternMaster.PatternValue as DieValue ,
                        PatternMaster.PatternInsured as DieInsured ,
                        StoreName ,
                        PatternMaster.StoreLocation as DieLocation ,
                        Cavity AS NoOfCastingProduced ,
                        CONVERT(VARCHAR(11), PatternMaster.PatternInwardDate , 106) AS DieInwardDate ,
                        PatternMaster.PatternLife as DieLife ,
                        dbo.WaxPatternMaster.PatternCode ,
                        dbo.WaxPatternMaster.Cavity ,
                        dbo.WaxJobCardTranse.WaxPatternWeight AS Weight ,
                        dbo.WaxPatternMaster.IsPatternAssembly ,
                        dbo.WaxPatternMaster.Remarks ,
                        dbo.WaxJobCardIngate.InGateID ,
                        dbo.WaxJobCardIngate.InGateSize ,
                        dbo.WaxJobCardIngate.InGateWeight ,
                        dbo.WaxJobCardIngate.InGateQty ,
                        CASE WHEN WaxPatternUOM = 0 THEN 'KG'
                             ELSE 'GRAM'
                        END AS WaxPatternUOM ,
                        ( SELECT TOP 1
                                    FilePath
                          FROM      dbo.ImagePath
                          WHERE     Id = WaxPatternMaster.DieId
                        ) AS FilePath
                FROM    dbo.WaxJobCardTranse
                        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.WaxJobCardTranse.CastingID
                        INNER JOIN dbo.WaxPatternMaster ON dbo.WaxPatternMaster.PatternId = dbo.CastingMaster.WaxPatternId
                      --  INNER JOIN CustomerPatternMapping ON dbo.CustomerPatternMapping.PatternId = dbo.WaxPatternMaster.DieId
                        INNER JOIN dbo.PatternMaster ON dbo.PatternMaster.PatternId = dbo.WaxPatternMaster.DieId
                        LEFT JOIN dbo.StoreMaster ON dbo.StoreMaster.StoreId = dbo.PatternMaster.StoreId
                        LEFT JOIN dbo.WaxJobCardIngate ON dbo.WaxJobCardIngate.WaxJobCardTranseId = dbo.WaxJobCardTranse.WaxJobCardTranseId
                WHERE   JobCardID = @JobCardID
                   AND PatternMaster.IsPatDieWax = 2
                       
                SELECT  *
                FROM    ImagePath
                WHERE   Id IN ( SELECT  WaxJobCardMaster.JobCardID
                                FROM    dbo.WaxJobCardMaster
                                WHERE   JobCardID = @JobCardID )
		
		
                       
		        --SELECT  InGateSize ,
                --        InGateWeight
                --FROM    WaxJobCardIngate
                --        INNER JOIN WaxJobCardTranse ON WaxJobCardTranse.WaxJobCardTranseId = WaxJobCardIngate.WaxJobCardTranseId
                --        INNER JOIN WaxJobCardMaster ON WaxJobCardMaster.JobCardID = WaxJobCardTranse.JobCardID
                --WHERE   WaxJobCardMaster.JobCardID = @JobCardID
		
            END
            
            
    
        IF @Parameter = 8 -- Fetching of chill detail and dowsprue detail for insert page
            BEGIN
    
                SELECT DISTINCT
                        ChillDetails
                FROM    WaxJobCardTranse
             
                SELECT DISTINCT
                        DownSprueType
                FROM    WaxJobCardMaster
		
            END
    
        IF @Parameter = 9 -- Delete the Jobcard
            BEGIN
    
                UPDATE  WaxJobCardMaster
                SET     IsDeleted = 1 ,
                        DeletedBy = @DeletedBy ,
                        DeletedOn = GETDATE()
                WHERE   JobCardID = @JobCardID
                
                UPDATE  dbo.WaxJobCardTranse
                SET     IsDeleted = 1
                WHERE   JobCardID = @JobCardID 
    
            END
    
        IF @Parameter = 10  -- jobcardNo autoincrement
            BEGIN
    
                SELECT  RIGHT('0000'
                              + CONVERT(VARCHAR(5), ISNULL(MAX(JobCardNo), 0)
                              + 1), 5) AS JobCardNo
                FROM    WaxJobCardMaster
                WHERE   EntityId = @EntityId 
                and  IsDeleted = 0 
            END
            
        IF @Parameter = 11 -- Fetch JobworkCode for Register 
            BEGIN
                SELECT  JobCardID ,
                        JobCardNo
                FROM    WaxJobCardMaster
                WHERE   IsDeleted = 0
                        AND EntityId = @EntityId
            END
            
    
            
        IF @Parameter = 14 -- Delete Image from ImagePath
            BEGIN
                DELETE  FROM dbo.ImagePath
                WHERE   ImagePathId = @ImagePathId                  
            END	
            
        IF @Parameter = 15 --Fetch Wax Pattern Detail according to JobcardId
            BEGIN
                SELECT  WaxJobCardTranseId ,
                        WaxJobCardTranse.CastingID ,
                        CastingCode ,
                        CastingName ,
                        WaxJobCardTranse.WaxChargeID ,
                        ChargeName ,
                        NoofPatternPerTree ,
                        DwellTime ,
                        ChillDetails ,
                        WaxTemperature ,
                        WaxPatternWeight ,
                        CASE WHEN WaxPatternUOM = 0 THEN 'KG'
                             ELSE 'GRAM'
                        END AS WaxPatternUOM ,
                        NozzleTemperature ,
                        CASE WHEN WaxTempUOM = 0 THEN 'Celsius'
                             ELSE 'Fehrenheit'
                        END AS WaxTempUOM ,
                        CASE WHEN NozzleTempUOM = 0 THEN 'Celsius'
                             ELSE 'Fehrenheit'
                        END AS NozzleTempUOM ,
                        CASE WHEN WaxTempUOM = 0 THEN 'Celsius'
                             ELSE 'Fehrenheit'
                        END AS WaxTempUOM ,
                        CASE WHEN NozzleTempUOM = 0 THEN 'Celsius'
                             ELSE 'Fehrenheit'
                        END AS NozzleTempUOM ,
                        '' AS IngateXML ,
                        '' AS ImageXML ,
                        0 AS IsDeleted ,
                        ( NoofPatternPerTree * WaxPatternWeight ) AS TotalTreeWaxWeight ,
                        ( SELECT    MAX(GrossWeight)
                          FROM      dbo.CastingMetal
                          WHERE     castingID = WaxJobCardTranse.CastingID
                        ) AS GrossWeight ,
                        ISNULL(( SELECT SUM(InGateWeight * InGateQty)
                                 FROM   dbo.WaxJobCardIngate
                                 WHERE  WaxJobCardTranseId = WaxJobCardTranse.WaxJobCardTranseId
                               ), 0) AS InGateWeight
                FROM    WaxJobCardTranse
                        INNER JOIN CastingMaster ON CastingMaster.CastingId = WaxJobCardTranse.CastingID
                        INNER JOIN WaxChargeMaster ON WaxChargeMaster.ChargeID = WaxJobCardTranse.WaxChargeID
                WHERE   JobCardID = @JobCardID
                        AND WaxJobCardTranse.IsDeleted = 0
            END
            
        IF @Parameter = 16
            BEGIN
                SELECT  InGateID ,
                        InGateSize ,
                        InGateWeight
                FROM    WaxJobCardIngate
                WHERE   WaxJobCardTranseId = @WaxJobCardTranseId
            END
            
        IF @Parameter = 17
            BEGIN
                SELECT  InGateID ,
                        InGateSize ,
                        InGateWeight ,
                        InGateQty ,
                        0 AS IsDeleted
                FROM    WaxJobCardIngate
                WHERE   WaxJobCardIngate.WaxJobCardTranseId = @WaxJobCardTranseId
            END
            
        IF @Parameter = 19
            BEGIN
                DECLARE @SQL VARCHAR(MAX) 
             
                SET @SQL = '
                           select JobCardID from WaxJobCardTranse
                           where CastingId in (' + @CastingIdString + ')
                           and WaxJobCardTranse.IsDeleted=0
                           group by JobCardID
                           having count(JobCardID) =(' + @Count + ')'
                EXEC(@SQL)
            
            END
        --updated by megha
        IF @Parameter = 20
            BEGIN
        
                SELECT  CoatID ,
                        CoatName
                FROM    COATMASTER
                WHERE   IsDeleted = 0
						AND EntityID = @EntityId
                ORDER BY CoatName
        
            END    
        IF @Parameter = 21
            BEGIN
                SELECT  MAX(dbo.CastingMetal.GrossWeight) AS GrossWeight
                FROM    dbo.CastingMaster
                        INNER JOIN dbo.CastingMetal ON dbo.CastingMetal.castingID = dbo.CastingMaster.CastingId
                WHERE   CastingMetal.CastingId = @CastingId
            END
            
        IF @Parameter = 22
            BEGIN
                SELECT  WaxPatternMaster.Weight
                FROM    dbo.CastingMaster
                        INNER JOIN dbo.WaxPatternMaster ON dbo.WaxPatternMaster.PatternId = dbo.CastingMaster.WaxPatternId
                WHERE   CastingMaster.CastingId = @CastingId
            END
            end

GO
