USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[AnnaxureDet_Update]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AnnaxureDet_Update]
    @FactoryStuffingPermissionNo nvarchar(200) = null,
	@FileNo nvarchar(200) = null,
	@ExaminationDate datetime = null,
	@NameOfmanufacture nvarchar(200) = null ,
	@ManufacturesAddress nvarchar(200) = null,
	@NameOfExaminationOfficer nvarchar(200) = null,
	@DesignationOfExaminationOfficer nvarchar(200) = null,
	@NameOfSupervisorOfficer nvarchar(200) = null,
	@DesignationOfSupervisorOfficer nvarchar(200) = null,
	@Annexure10A bit = 0,
	@Annexure10B bit = 0,
	@Annexure10C nvarchar(200) = null,
	@Iscontainerised bit =0,
	@Annexure11A nvarchar(200) = null,
	@DispatchId int = 0,
	@IsExciseSealing bit = 0	
AS
BEGIN
    BEGIN TRY
	  BEGIN TRANSACTION AnnaxureDet_Update
	  
      UPDATE
      dispatchmaster
      SET
        FactoryStuffingPermissionNo=@FactoryStuffingPermissionNo,
		FileNo=@FileNo,
		ExaminationDate=@ExaminationDate,
		NameOfmanufacture=@NameOfmanufacture,
		ManufacturesAddress=@ManufacturesAddress,
		NameOfExaminationOfficer=@NameOfExaminationOfficer,
		DesignationOfExaminationOfficer=@DesignationOfExaminationOfficer,
		NameOfSupervisorOfficer=@NameOfSupervisorOfficer,
		DesignationOfSupervisorOfficer=@DesignationOfSupervisorOfficer,
		Annexure10A=@Annexure10A,
		Annexure10B=@Annexure10B,
		Annexure10C=@Annexure10C,
		Iscontainerised=@Iscontainerised,
		Annexure11A=@Annexure11A ,
		IsExciseSealing = @IsExciseSealing, 
		IsDoneAnnaxure = 1
		where 
		DispatchID = @DispatchId        
      
      
	  
	  COMMIT TRANSACTION AnnaxureDet_Update
	  SELECT '1'
	END TRY
	BEGIN CATCH
	  ROLLBACK TRANSACTION AnnaxureDet_Update
	  SELECT 'ERROR:'+ERROR_MESSAGE()
	END CATCH
END

GO
