USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ConsumptionReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Hemani Vandra>
-- Create date: <01-04-2019>
-- Description:	<Consumption Report (Core sand + molding )>
-- =============================================EXEC ConsumptionReport '2010-04-01', '2023-03-28', 1, 1, null, null, null, 1, null
CREATE PROCEDURE [dbo].[ConsumptionReport]
		-- Add the parameters for the stored procedure here
	@TransactionDateFrom DATETIME = NULL ,
	@TransactionDateTo DATETIME = NULL ,
	@InwardBatchWise BIT = NULL ,
	@RateType VARCHAR(MAX) = NULL ,
	@PurchaseItemId UNIQUEIDENTIFIER = NULL ,
	@PurchaseItemGroupId UNIQUEIDENTIFIER = NULL ,
	@PurchaseItemSubGroupId UNIQUEIDENTIFIER = NULL 
  , @EntityID INT = 0
  , @PlantIdString NVARCHAR(MAX) = ''
  
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
    
		SELECT	ROW_NUMBER() OVER (ORDER BY GroupName, SubGroupName, ItemName) AS SrNo,
				GroupName,
				SubGroupName,
				ItemName,
				CAST(Quantity AS decimal(18,3)) AS Quantity,
				UOM,
				CAST(TotalRate / Quantity AS decimal(18,3)) AS Rate,
				CAST(TotalRate AS decimal(18,3)) AS TotalRate
		FROM		(
			SELECT	CASE WHEN ItemData.GroupName IS NULL THEN 'Other'
							ELSE ItemData.GroupName END AS GroupName ,
					CASE WHEN ItemData.SubGroupName IS NULL THEN 'Other'
							ELSE ItemData.SubGroupName END AS SubGroupName ,
					ItemData.ItemName ,
					SUM(MoldingConsumption.ConsumedQty) as Quantity,
					ItemData.UOM ,
					SUM(ISNULL(MoldingConsumption.TotalCost, 0)) as TotalRate
			FROM	dbo.MoldingConsumption 
					INNER JOIN dbo.MoldingEntryMaster ON dbo.MoldingEntryMaster.MoldingEntryMasterId = dbo.MoldingConsumption.MoldingEntryMasterID
					INNER JOIN [Data:ItemData] as ItemData on Itemdata.PurchaseITemiD = dbo.MoldingConsumption.PurchaseItemID
			
			WHERE	dbo.MoldingEntryMaster.IsDeleted = 0
					AND ItemData.IsMoldingMaterial = 1
					AND dbo.MoldingEntryMaster.Date BETWEEN @TransactionDateFrom AND @TransactionDateTo
					AND (@PurchaseItemId IS NULL OR
									ItemData.PurchaseItemId = @PurchaseItemId
							)
						AND (@PurchaseItemGroupId IS NULL OR
									ItemData.PurchaseItemGroupId = @PurchaseItemGroupId
							)
						AND (@PurchaseItemSubGroupId IS NULL OR
									ItemData.PurchaseItemSubGroupId = @PurchaseItemSubGroupId
							)           
						AND MoldingEntryMaster.EntityID = @EntityID
						AND (	ISNULL(@PlantIdString,'') = ''
								OR MoldingEntryMaster.PlantId IN (
									 SELECT Item FROM @Plant
								)
						)
					    And MoldingConsumption.ConsumedQty > 0
			GROUP BY	ItemData.GroupName ,
						ItemData.SubGroupName ,
						ItemData.ItemName ,
						ItemData.UOM
			
			
			UNION
			--core sand consumption      
			SELECT	CASE WHEN ItemData.GroupName IS NULL
							THEN 'Other'
					ELSE ItemData.GroupName
					END AS GroupName ,
					CASE WHEN ItemData.SubGroupName IS NULL
							THEN 'Other'
					ELSE ItemData.SubGroupName
					END AS SubGroupName ,
					ItemData.ItemName ,
					SUM(CoreSandConsumption.ConsumedQty) as Quantity,
					ItemData.UOM ,
					SUM(ISNULL(CoreSandConsumption.TotalCost,0)) AS TotalRate
			FROM	dbo.CoreSandConsumption 
			        INNER JOIN [Data:ItemData] as ItemData on Itemdata.PurchaseITemiD = dbo.CoreSandConsumption.PurchaseItemID
					INNER JOIN dbo.CoreProduction 
					ON dbo.CoreProduction.CoreProductionId = dbo.CoreSandConsumption.CoreProductionId
					inner join CoreProductionMaster on CoreProduction.CoreProductionMasterId = CoreProductionMaster.CoreProductionMasterId
			WHERE	dbo.CoreProduction.IsDeleted = 0
					AND ItemData.IsMoldingMaterial = 1
					AND dbo.CoreProductionMaster.Date BETWEEN @TransactionDateFrom AND @TransactionDateTo
					AND (@PurchaseItemId IS NULL OR
								ItemData.PurchaseItemId = @PurchaseItemId
						)
					AND (@PurchaseItemGroupId IS NULL OR
								ItemData.PurchaseItemGroupId = @PurchaseItemGroupId
						)
					AND (@PurchaseItemSubGroupId IS NULL OR
								ItemData.PurchaseItemSubGroupId = @PurchaseItemSubGroupId
						)            
					AND CoreProduction.EntityID = @EntityID
					AND (	ISNULL(@PlantIdString,'') = ''
							OR CoreProduction.PlantId IN (
									SELECT Item FROM @Plant
							)
					)
					and CoreSandConsumption.ConsumedQty > 0
			GROUP BY	ItemData.GroupName ,
						ItemData.SubGroupName ,
						ItemData.ItemName ,
						ItemData.UOM
			            
			UNION 
			--boq consunsumption batch wise
			SELECT		CASE WHEN ItemData.GroupName IS NULL 
						THEN 'Other' 
						ELSE ItemData.GroupName
						END AS GroupName,
						CASE WHEN ItemData.SubGroupName IS NULL 
						THEN 'Other' 
						ELSE ItemData.SubGroupName
						END AS SubGroupName,
						ItemData.ItemName,
						SUM(HeatwiseBOQConsumption.ConsumedQty) as Quantity,
						ItemData.UOM ,
						SUM(ISNULL(HeatwiseBOQConsumption.TotalCost,0)) AS TotalRate
			FROM		dbo.HeatwiseBOQConsumption
						INNER JOIN [Data:ItemData] as ItemData on Itemdata.PurchaseITemiD = dbo.HeatwiseBOQConsumption.PurchaseItemID
						INNER JOIN dbo.ProductionBatch
						ON dbo.ProductionBatch.batchID = dbo.HeatwiseBOQConsumption.ProductionBatchID
			WHERE		dbo.ProductionBatch.ProductionDate BETWEEN @TransactionDateFrom AND @TransactionDateTo
						AND dbo.ProductionBatch.IsDeleted = 0
						AND ItemData.IsBOQ = 1
						AND (@PurchaseItemId IS NULL OR
									ItemData.PurchaseItemId = @PurchaseItemId
							)
						AND (@PurchaseItemGroupId IS NULL OR
									ItemData.PurchaseItemGroupId = @PurchaseItemGroupId
							)
						AND (@PurchaseItemSubGroupId IS NULL OR
									ItemData.PurchaseItemSubGroupId = @PurchaseItemSubGroupId
							) 
						AND ProductionBatch.EntityID = @EntityID
						AND (	ISNULL(@PlantIdString,'') = ''
								OR ProductionBatch.PlantId IN (
									 SELECT Item FROM @Plant
								)
						)
						and HeatwiseBOQConsumption.ConsumedQty > 0
			GROUP BY	ItemData.GroupName,
						ItemData.SubGroupName,
						ItemData.ItemName,
						ItemData.UOM
						
			UNION 

			--melting cost batch wise
			SELECT		CASE WHEN ItemData.GroupName IS NULL 
						THEN 'Other' 
						ELSE ItemData.GroupName
						END AS GroupName,
						CASE WHEN ItemData.SubGroupName IS NULL 
						THEN 'Other' 
						ELSE ItemData.SubGroupName
						END AS SubGroupName,
						ItemData.ItemName,
						SUM(Consumption.consumptionqty) as Quantity,
						ItemData.UOM ,
						SUM(ISNULL(Consumption.TotalCost,0)) AS TotalRate
			FROM		Consumption
						INNER JOIN [Data:ItemData] as ItemData on Itemdata.PurchaseITemiD = Consumption.purchaseitemID
						INNER JOIN ProductionBatch ON ProductionBatch.batchID = Consumption.batchid
						
			WHERE		Consumption.IsDeleted = 0
						AND ProductionBatch.IsDeleted = 0
						AND ItemData.IsCharge = 1
						AND ProductionBatch.ProductionDate BETWEEN @TransactionDateFrom AND @TransactionDateTo
						AND (@PurchaseItemId IS NULL OR
									ItemData.PurchaseItemId = @PurchaseItemId
							)
						AND (@PurchaseItemGroupId IS NULL OR
									ItemData.PurchaseItemGroupId = @PurchaseItemGroupId
							)
						AND (@PurchaseItemSubGroupId IS NULL OR
									ItemData.PurchaseItemSubGroupId = @PurchaseItemSubGroupId
							) 
						AND ProductionBatch.EntityID = @EntityID
						AND (	ISNULL(@PlantIdString,'') = ''
								OR ProductionBatch.PlantId IN (
									 SELECT Item FROM @Plant
								)
						)
						and Consumption.consumptionqty > 0
			GROUP BY	ItemData.GroupName,
						ItemData.SubGroupName,
						ItemData.ItemName,
						ItemData.UOM

		) AS a 
		OPTION(RECOMPILE)

END
GO
