USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchTallyConfiguration]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Bhumin>
-- Create date: <Create Date,,17-11-2018>
-- Description:	<Description,,It will fetch Tally configuration>
-- =============================================
CREATE PROCEDURE [dbo].[FetchTallyConfiguration] 
	-- Add the parameters for the stored procedure here
	@EntityId int =0 
AS
BEGIN
	
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TallyserverIP , TallyPort , TallyCompanyName  from TallyConfiguration where EntityID = @EntityId
END
GO
