USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeReimbursementRegister]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_EmployeeReimbursementRegister]
    @ReimbursementId int = 0 ,
    @ReimbursementName varchar(Max)=NULL ,
    @DeletedBY INT = 0,
	@EntityId int = 0,	
	@CreatedBy INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL , 
    @DeletedOn datetime= NULL,
    @IsDeleted Bit = 0 ,
    @Parameter INT = 0 ,
    @EarningId  int = 0 ,
    @EmployeeId int = 0 ,
    @DeductionAmount float = 0 ,
    @ApplicableDate datetime = null ,
    @Id int = 0 ,
    @TotalRecords INT = 0,
    @InitialLoad INT = 0,
    @PageNumber INT = 0,
    @PageSize INT = 0,
    @DateFrom DATETIME = NULL ,
    @Dateto DATETIME = NULL ,
    @ReimbursementAmount Decimal = 0 ,
    @ReimbursementDate datetime = null ,
    @Payout bit = 0,
    @Isall int = 0               
            
    
   
AS
   BEGIN  
   
	    
              IF ( @Parameter =  1 )	--	Total Record Display 
            BEGIN					
            SET @TotalRecords = (  SELECT    Count  (ID )                                
                                         
                                  FROM      EmpReimbursementTrans 
											 left join EmployeeDetails ON EmpReimbursementTrans.EmployeeId = EmployeeDetails.EmployeeId
											 left join EmpReimbursementMaster on EmpReimbursementTrans.ReimbursementId= EmpReimbursementMaster.ReimbursementId
											
                                       
                                     WHERE   				
                                            EmpReimbursementMaster.Isdeleted = 0
                                         and EmployeeDetails.IsDelete= 0    
                                         and EmpReimbursementTrans.IsDeleted = 0                                       
                                        
                                           AND   ( @EntityId =0
                                              OR EmployeeDetails.EntityId = @EntityId
                                            )    
                                            
                                           AND   ( @Id = 0
                                              OR EmpReimbursementTrans.ID = @Id
                                            )
                                              
                                              
                                             AND ( @DateFrom IS NULL
                                                  OR @DateTo IS NULL
                                                  OR EmpReimbursementTrans.ReimbursementDate BETWEEN @DateFrom
                                                              AND
                                                              @DateTo
                                                )  
                                                
                                           AND   ( @EmployeeId =0
                                              OR EmpReimbursementTrans.EmployeeId = @EmployeeId
                                            )   
                                            AND   ( @ReimbursementId = 0
                                              OR EmpReimbursementTrans.ReimbursementId = @ReimbursementId
                                            )  
                                            
                                          and ( @Isall=3  or ((EmpReimbursementTrans.IsPaid = @Payout )
                                          OR EmpReimbursementTrans.IsPaid = @Payout)
											 )  
                                                    
                                    )
                RETURN @TotalRecords
            END				
          		
      
       IF ( @Parameter = 2 )			--Fill Grid By Filter
            BEGIN
                IF @InitialLoad = 1
                    BEGIN   	SELECT	TOP (@PageSize) *
		FROM (
                     SELECT ROW_NUMBER() OVER ( ORDER BY Id DESC  ) AS SrNo 
												 ,EmpReimbursementTrans.ID
												 ,EmpReimbursementTrans.[ReimbursementId]
												 ,EmpReimbursementMaster.ReimbursementName
												  ,EmpReimbursementTrans.[EmployeeId]
												  ,[Amount]
												  ,LEFT(CONVERT(VARCHAR, [ReimbursementDate], 106), 15) as	[ReimbursementDate]	
												  ,EmployeeDetails.EmployeeName + ' ' + isnull(EmployeeDetails.LastName,'') as EmployeeName 
												  ,[EmployeeDetails].[EmployeeCode] 
												  ,EmpReimbursementTrans.IsPaid
											  
                                  FROM       EmpReimbursementTrans 
											 left join EmployeeDetails ON EmpReimbursementTrans.EmployeeId = EmployeeDetails.EmployeeId
											 left join EmpReimbursementMaster on EmpReimbursementTrans.ReimbursementId= EmpReimbursementMaster.ReimbursementId
											 
                                     WHERE   				
                                                EmpReimbursementMaster.Isdeleted = 0  
                                          and EmployeeDetails.IsDelete= 0 
                                          and EmpReimbursementTrans.IsDeleted = 0                                       
                                        
                                           AND   ( @EntityId =0
                                              OR EmployeeDetails.EntityId = @EntityId
                                            )    
                                            
                                           AND   ( @Id = 0
                                              OR EmpReimbursementTrans.ID = @Id
                                            )
                                              
                                              
                                             AND ( @DateFrom IS NULL
                                                  OR @DateTo IS NULL
                                                  OR EmpReimbursementTrans.ReimbursementDate BETWEEN @DateFrom
                                                              AND
                                                              @DateTo
                                                )  
                                                 
                                           AND   ( @EmployeeId =0
                                              OR EmpReimbursementTrans.EmployeeId = @EmployeeId
                                            )   
                                            
                                         AND   ( @ReimbursementId = 0
                                              OR EmpReimbursementTrans.ReimbursementId = @ReimbursementId
                                            )  
                                              
                                           
                                          and ( @Isall=3  or ((EmpReimbursementTrans.IsPaid = @Payout )
                                          OR EmpReimbursementTrans.IsPaid = @Payout)
											 )  
                                            
                                            ) AS TC
                                              
									
                    END
				
                ELSE
                 BEGIN
                   	SELECT	TOP (@PageSize) *
		      FROM ( SELECT ROW_NUMBER() OVER (ORDER BY Id DESC  ) AS SrNo 
												 ,EmpReimbursementTrans.ID
												 ,EmpReimbursementTrans.[ReimbursementId]
												  ,EmpReimbursementMaster.ReimbursementName
												  ,EmpReimbursementTrans.[EmployeeId]
												  ,[Amount]
												 ,LEFT(CONVERT(VARCHAR, [ReimbursementDate], 106), 15) as	[ReimbursementDate]									 
												  ,EmployeeDetails.EmployeeName + ' ' + isnull(EmployeeDetails.LastName,'') as EmployeeName 
												  ,[EmployeeDetails].[EmployeeCode] 
												  ,EmpReimbursementTrans.IsPaid
											  
                                      FROM       EmpReimbursementTrans 
											 left join EmployeeDetails ON EmpReimbursementTrans.EmployeeId = EmployeeDetails.EmployeeId
											 left join EmpReimbursementMaster on EmpReimbursementTrans.ReimbursementId= EmpReimbursementMaster.ReimbursementId
											 
                                     WHERE   				
                                                EmpReimbursementMaster.Isdeleted = 0
                                             and EmployeeDetails.IsDelete= 0   
                                             and EmpReimbursementTrans.IsDeleted = 0                                         
                                        
                                           AND   ( @EntityId =0
                                              OR EmployeeDetails.EntityId = @EntityId
                                            )    
                                            
                                           AND   ( @Id = 0
                                              OR EmpReimbursementTrans.ID = @Id
                                            )
                                              
                                              
                                             AND ( @DateFrom IS NULL
                                                  OR @DateTo IS NULL
                                                  OR EmpReimbursementTrans.ReimbursementDate BETWEEN @DateFrom
                                                              AND
                                                              @DateTo
                                                )  
                                                 
                                           AND   ( @EmployeeId =0
                                              OR EmpReimbursementTrans.EmployeeId = @EmployeeId
                                            )   
                                              
                                              AND   ( @ReimbursementId = 0
                                              OR EmpReimbursementTrans.ReimbursementId = @ReimbursementId
                                            ) 
                                            
                                              
                                          and ( (@Isall=3) or ((EmpReimbursementTrans.IsPaid = @Payout )
                                          OR EmpReimbursementTrans.IsPaid = @Payout)
											 )   
                                               ) AS TC
						WHERE SrNo > (@PageNumber * @PageSize)  
                    END		
					   END
      
       	IF @Parameter = 3 --Fetch EmployeeName for Register 
	Begin
		
			Select distinct EmpOtherDeduction.EmployeeId,
					EmployeeCode, 
					EmployeeName + ' ' + isnull(LastName,'') as EmployeeName 
			from EmpOtherDeduction  
			left join EmployeeDetails on EmpOtherDeduction.EmployeeId = EmployeeDetails.EmployeeId
			where
				EmployeeDetails.IsDelete = 0
				and EmployeeDetails.EntityId = @EntityId				
				and (@EmployeeId =0 or EmployeeDetails.EmployeeId= @EmployeeId)
				and EmployeeDetails.isActive = 1 
				and EmpOtherDeduction.IsActive = 1 			
			--	and EmployeeType= 1
				and EmpOtherDeduction.IsFromExited = 0 
				
			order by EmployeeName
		
		End
      
      
            
       	IF @Parameter = 4 --Fetch ReimbursementName for Register 
	Begin
		
		 SELECT EmpReimbursementMaster.[ReimbursementId]
				,EmpReimbursementMaster.ReimbursementName
												
				FROM   EmpReimbursementTrans    
				left join EmpReimbursementMaster on EmpReimbursementTrans.ReimbursementId= EmpReimbursementMaster.ReimbursementId
													 
         WHERE   				
                    EmpReimbursementMaster.Isdeleted = 0 
                    
               AND   ( @EntityId =0
                  OR EmpReimbursementMaster.EntityId = @EntityId
                )    
              
		End
		
		           
       	IF @Parameter = 5 --Fetch ReimbursementName for Register 
	Begin
		
			SELECT [ReimbursementId]
				  ,[ReimbursementName]
				  
			FROM	[EmpReimbursementMaster]
			inner join [EmpReimbursementTran] on [EmpReimbursementMaster].ReimbursementId = [EmpReimbursementTran].ReimbursementId
					
         WHERE   				
                    EmpReimbursementMaster.Isdeleted = 0 
                    
               AND   ( @EntityId =0
                  OR EmpReimbursementMaster.EntityId = @EntityId
                )    
              
		End
		
		  	IF @Parameter = 6 --Fetch EmployeeName for cmbo Register 
	Begin
		
			Select distinct EmpReimbursementTrans.EmployeeId,
					EmployeeCode, 
					EmployeeName + ' ' + isnull(LastName,'') as EmployeeName 
			from EmpReimbursementTrans  
			left join EmployeeDetails on EmpReimbursementTrans.EmployeeId = EmployeeDetails.EmployeeId			
			where
				EmployeeDetails.IsDelete = 0
				and EmpReimbursementTrans.IsDeleted = 0 
				and EmployeeDetails.EntityId = @EntityId				
				and (@EmployeeId =0 or EmployeeDetails.EmployeeId= @EmployeeId)
				and EmployeeDetails.isActive = 1 					
			--	and EmployeeType= 1
				
			order by EmployeeName
		
		End
      
            end
	
       


       

  



     

     

GO
