USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ServiceItem_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE  PROCEDURE [dbo].[ServiceItem_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
       @ServiceNo VARCHAR(50) = NULL ,    
	@PlantIdString VARCHAR(MAX) = NULL ,  
	@ItemType VARCHAR(50) = NULL ,    
	 @ServiceItemID UNIQUEIDENTIFIER = NULL ,    
    @EntityId INT = 0   , 
    @IsAll INT = 1 ,
     @Block INT = 0
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	IF @parameter = 1  
        BEGIN    
            IF @InitialLoad = 1    
                BEGIN    
                    SELECT TOP ( @PageSize )    
            *    
                    FROM    ( SELECT TOP ( @PageSize )    
                                        ROW_NUMBER() OVER ( ORDER BY ServiceItemMaster.Item ASC ) AS [SerialNo] ,    
                                        ServiceNo ,    
                                        Item ,    
                                        Type ,    
                                        Remark ,    
                                        ServiceItemID ,    
                                        ServiceItemMaster.IsDeleted ,    
                                        IsSynced as IsTallySync  ,
                                        UOMMaster.UOM as  ServiceUOM
                              FROM      ServiceItemMaster 
                             inner join UOMMaster on UOMMaster.UOMid =     ServiceItemMaster.ServiceUOM 
                              WHERE     ( @ServiceNo IS NULL    
                                          OR ServiceNo = @ServiceNo    
                                        )    
                                        AND ( @ItemType IS NULL    
                                              OR Type = @ItemType    
                                            )    
                                        AND ( @ServiceItemId IS NULL    
                                              OR ServiceItemID = @ServiceItemId    
                                            ) 
                                            --AND ServiceItemMaster.EntityID = @EntityID
                                        AND (@IsAll = 1 or (ServiceItemMaster.IsDeleted = @Block ))   
                            ) AS ServiceItem    
                    ORDER BY ServiceItem.[SerialNo]    
                END    
            ELSE    
                BEGIN    
                    SELECT TOP ( @PageSize )    
                            *    
                    FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY ServiceItemMaster.Item ASC ) AS [SerialNo] ,    
                                        ServiceNo ,    
                                        Item ,    
                                        Type ,    
                                        Remark ,    
                                        ServiceItemID ,    
                                        ServiceItemMaster.IsDeleted,    
                                        IsSynced as IsTallySync    ,
                                        UOMMaster.UOM as  ServiceUOM
                              FROM      ServiceItemMaster    
                             
                             inner join UOMMaster on UOMMaster.UOMid =     ServiceItemMaster.ServiceUOM  
                              WHERE     ( @ServiceNo IS NULL    
                                          OR ServiceNo = @ServiceNo    
                                        )    
                                        --AND ServiceItemMaster.EntityID = @EntityID
                                        AND ( @ItemType IS NULL    
                                              OR Type = @ItemType    
                                            )    
                                        AND ( @ServiceItemId IS NULL    
                                              OR ServiceItemID = @ServiceItemId    
                                            )
                                            
                                        AND (@IsAll = 1 or (ServiceItemMaster.IsDeleted = @Block ))    
                            ) AS ServiceItem    
                    WHERE   ServiceItem.[SerialNo] BETWEEN ( ( @PageNumber    
                                                              * @PageSize )    
                                                              + 1 )    
                                                    AND     ( ( @PageNumber    
                                                              + 1 )    
                                                              * @PageSize )    
                    ORDER BY ServiceItem.Item    
                END    
        END    
        
	IF @parameter = 2   
        BEGIN     
            SET @TotalRecords = ( SELECT    COUNT(ServiceItemMaster.ServiceItemId)    
                                  FROM      ServiceItemMaster    
                                  WHERE     ( @ServiceNo IS NULL    
                                              OR ServiceNo = @ServiceNo    
                                            )  
                                            
                                            --AND ServiceItemMaster.EntityID = @EntityID  
                                            AND ( @ServiceItemId IS NULL    
                                                  OR ServiceItemID = @ServiceItemId    
                           )    
                                            AND ( @ItemType IS NULL    
                                                  OR Type = @ItemType    
                                                )
                                            AND (@IsAll = 1 or (ServiceItemMaster.IsDeleted = @Block ))    
                                )    
          
            RETURN @TotalRecords    
        END    
END
GO
