USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchMoldboxByPattern]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchMoldboxByPattern]
	-- Add the parameters for the stored procedure here
	@PatternId UNIQUEIDENTIFIER = null
AS
BEGIN
	select MoldBoxMaster.MoldBoxID,MoldBoxMaster.MoldBoxName from MoldBoxMaster 
left join PatternMaster on patternmaster.moldboxid= MoldBoxMaster.MoldBoxID
where PatternId=@PatternId
END
GO
