USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchSandtypeByPattern]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchSandtypeByPattern]
	-- Add the parameters for the stored procedure here
	@PatternId UNIQUEIDENTIFIER = null
AS
BEGIN
	select SandTypeMaster.SandTypeId,SandTypeMaster.SandType from SandTypeMaster 
left join PatternMaster on patternmaster.SandTypeID= SandTypeMaster.SandTypeId
where PatternId=@PatternId
and SandTypeMaster.IsDeleted = 0
END
GO
