USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Manage_IcastDB]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Harshad Chauhan>
-- Create date: <10 Apr 2020>
-- Description:	<GENERATE Test_DEMO DB AND RESTORE Test>
--EXEC [dbo].[Manage_IcastDB]  @Parameter = 1
-- =============================================
CREATE PROCEDURE [dbo].[Manage_IcastDB]
	-- Add the parameters for the stored procedure here
	@Parameter INT = 0
  , @DbType NVARCHAR(50) = ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @path NVARCHAR(4000), @DefaultData nvarchar(4000), @DefaultLog nvarchar(512), @MasterData nvarchar(512), @MasterLog nvarchar(512)
	
    -- Insert statements for procedure here
	IF (@Parameter = 1)		--Backup Test And restore In Test_DEMO
	BEGIN
				
		IF DB_ID('Test_DEMO') IS NOT NULL
		BEGIN
		  ALTER DATABASE [Test_DEMO] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
		  DROP DATABASE [Test_DEMO];
		END
		
		IF(@@ERROR <> 0)
			ROLLBACK TRANSACTION
			
		--------------------------------------------------------------------------------------------------------------
		--SELECT 
		--  DB_NAME([database_id]) [database_name]
		--, [file_id]
		--, [type_desc] [file_type]
		--, [name] [logical_name]
		--, [physical_name]
		--FROM sys.[master_files]
		--WHERE [database_id] IN (DB_ID('Test'), DB_ID('Test_DEMO'))
		--ORDER BY [type], DB_NAME([database_id]);
		--------------------------------------------------------------------------------------------------------------
		
		EXEC master.dbo.xp_instance_regread N'HKEY_LOCAL_MACHINE', 
				N'Software\Microsoft\MSSQLServer\MSSQLServer',N'BackupDirectory', @path OUTPUT, 'no_output' 
		        
		EXEC ('BACKUP DATABASE [ICAST_IMS] TO DISK = ''' + @path + '\Test_BACKUP.bak''
		WITH CHECKSUM, COPY_ONLY, FORMAT, INIT, STATS = 10')
		
		IF(@@ERROR <> 0)
			ROLLBACK TRANSACTION
		--------------------------------------------------------------------------------------------------------------

		exec master.dbo.xp_instance_regread N'HKEY_LOCAL_MACHINE', 
				N'Software\Microsoft\MSSQLServer\MSSQLServer', N'DefaultData' , @DefaultData output

		exec master.dbo.xp_instance_regread N'HKEY_LOCAL_MACHINE', 
				N'Software\Microsoft\MSSQLServer\MSSQLServer', N'DefaultLog', @DefaultLog output
		----------------------------------------------------------
		
		exec master.dbo.xp_instance_regread N'HKEY_LOCAL_MACHINE'
				, N'Software\Microsoft\MSSQLServer\MSSQLServer\Parameters', N'SqlArg0', @MasterData output
		select @MasterData=substring(@MasterData, 3, 255)
		select @MasterData=substring(@MasterData, 1, len(@MasterData) - charindex('\', reverse(@MasterData)))

		exec master.dbo.xp_instance_regread N'HKEY_LOCAL_MACHINE'
				, N'Software\Microsoft\MSSQLServer\MSSQLServer\Parameters', N'SqlArg2', @MasterLog output
		select @MasterLog=substring(@MasterLog, 3, 255)
		select @MasterLog=substring(@MasterLog, 1, len(@MasterLog) - charindex('\', reverse(@MasterLog)))
		
		IF(@@ERROR <> 0)
			ROLLBACK TRANSACTION
		----------------------------------------------------------
		
		SET @DefaultData = ISNULL(@DefaultData, @MasterData)
		SET @DefaultLog = ISNULL(@DefaultLog, @MasterLog)

		EXEC ('
		RESTORE DATABASE [Test_DEMO] FROM DISK = ''' + @path + '\Test_BACKUP.bak''
		WITH CHECKSUM,
		MOVE ''Test'' TO ''' + @DefaultData + '\Test_DEMO.mdf'',
		MOVE ''Test_log'' TO ''' + @DefaultLog + '\Test_DEMO_log.LDF'',
		RECOVERY, REPLACE, STATS = 10;
		')
		
		IF(@@ERROR <> 0)
			ROLLBACK TRANSACTION
		
		EXEC ('UPDATE Test_DEMO.dbo.CompanyMaster SET NameOfOrganization = ''DEMO-''' + ' + NameOfOrganization')
		
		IF(@@ERROR <> 0)
		BEGIN
			RETURN 0;
		END
		ELSE
		BEGIN
			RETURN 1;
		END
		--------------------------------------------------------------------------------------------------------------
	END
	
	ELSE IF (@Parameter = 2)	-- Get version detail
	BEGIN
		IF (@DbType = '')
		BEGIN
			SELECT CurrentVersion FROM VersionDetails
		END
		ELSE IF (@DbType = 'DEMO')
		BEGIN
			EXEC('SELECT CurrentVersion FROM Test_DEMO.dbo.VersionDetails')
		END
	END
	
	ELSE IF (@Parameter = 3)	-- Check Demo DB Exists
	BEGIN
		IF DB_ID('Test_DEMO') IS NOT NULL
		BEGIN
			RETURN 1;
		END
		ELSE
		BEGIN
			RETURN 0;
		END
	END
	
	ELSE IF (@Parameter = 4)	-- Delete Demo Data
	BEGIN
		IF DB_ID('Test_DEMO') IS NOT NULL
		BEGIN
			ALTER DATABASE [Test_DEMO] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
			DROP DATABASE [Test_DEMO];
			
			IF(@@ERROR <> 0)
			BEGIN
				RETURN 0;
			END
			ELSE
			BEGIN	
				RETURN 1;
			END
		END
		ELSE
		BEGIN
			RETURN 0;
		END
	END
	
	ELSE IF (@Parameter = 5)	--Backup Test And restore In Test_OLD
	BEGIN
				
		IF DB_ID('Test_OLD') IS NOT NULL
		BEGIN
		  ALTER DATABASE [Test_OLD] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
		  DROP DATABASE [Test_OLD];
		END
		
		IF(@@ERROR <> 0)
			ROLLBACK TRANSACTION
			
		--------------------------------------------------------------------------------------------------------------
		--SELECT 
		--  DB_NAME([database_id]) [database_name]
		--, [file_id]
		--, [type_desc] [file_type]
		--, [name] [logical_name]
		--, [physical_name]
		--FROM sys.[master_files]
		--WHERE [database_id] IN (DB_ID('Test'), DB_ID('Test_OLD'))
		--ORDER BY [type], DB_NAME([database_id]);
		--------------------------------------------------------------------------------------------------------------
		 
		EXEC master.dbo.xp_instance_regread N'HKEY_LOCAL_MACHINE', 
				N'Software\Microsoft\MSSQLServer\MSSQLServer',N'BackupDirectory', @path OUTPUT, 'no_output' 
		        
		EXEC ('BACKUP DATABASE [ICAST_IMS] TO DISK = ''' + @path + '\Test_OLD_BACKUP.bak''
		WITH CHECKSUM, COPY_ONLY, FORMAT, INIT, STATS = 10')
		
		IF(@@ERROR <> 0)
			ROLLBACK TRANSACTION
		--------------------------------------------------------------------------------------------------------------
		
		exec master.dbo.xp_instance_regread N'HKEY_LOCAL_MACHINE', 
				N'Software\Microsoft\MSSQLServer\MSSQLServer', N'DefaultData' , @DefaultData output
		
		exec master.dbo.xp_instance_regread N'HKEY_LOCAL_MACHINE', 
				N'Software\Microsoft\MSSQLServer\MSSQLServer', N'DefaultLog', @DefaultLog output
		----------------------------------------------------------
		
		exec master.dbo.xp_instance_regread N'HKEY_LOCAL_MACHINE'
				, N'Software\Microsoft\MSSQLServer\MSSQLServer\Parameters', N'SqlArg0', @MasterData output
		select @MasterData=substring(@MasterData, 3, 255)
		select @MasterData=substring(@MasterData, 1, len(@MasterData) - charindex('\', reverse(@MasterData)))
		
		exec master.dbo.xp_instance_regread N'HKEY_LOCAL_MACHINE'
				, N'Software\Microsoft\MSSQLServer\MSSQLServer\Parameters', N'SqlArg2', @MasterLog output
		select @MasterLog=substring(@MasterLog, 3, 255)
		select @MasterLog=substring(@MasterLog, 1, len(@MasterLog) - charindex('\', reverse(@MasterLog)))
		
		IF(@@ERROR <> 0)
			ROLLBACK TRANSACTION			
		----------------------------------------------------------
		SET @DefaultData = ISNULL(@DefaultData, @MasterData)
		SET @DefaultLog = ISNULL(@DefaultLog, @MasterLog)

		EXEC ('
		RESTORE DATABASE [Test_OLD] FROM DISK = ''' + @path + '\Test_OLD_BACKUP.bak''
		WITH CHECKSUM,
		MOVE ''Test'' TO ''' + @DefaultData + '\Test_OLD.mdf'',
		MOVE ''Test_log'' TO ''' + @DefaultLog + '\Test_OLD.LDF'',
		RECOVERY, REPLACE, STATS = 10;
		')
		
		IF(@@ERROR <> 0)
			ROLLBACK TRANSACTION
		
		EXEC ('UPDATE Test_OLD.dbo.CompanyMaster SET NameOfOrganization = ''OLD-''' + ' + NameOfOrganization')
		
		IF(@@ERROR <> 0)
		BEGIN
			RETURN 0;
		END
		ELSE
		BEGIN
			RETURN 1;
		END
		--------------------------------------------------------------------------------------------------------------
	END
END
GO
