USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[EditLogHeatTreatment]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Khushbu joshi>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE             PROCEDURE[dbo].[EditLogHeatTreatment]
	@HTId UNIQUEIDENTIFIER = NULL   ,  
	@EntityID int = 0

	AS
BEGIN
	Declare @RevisionNo bigint = (select count(HTId)+1 from  [ICAST_IMS_LOG].[dbo].HTMaster where HTId= @HTId)
	 DECLARE @TableItem table (SrNoRevisionwise int,RevisionNo BIGINT , HTTransID  Uniqueidentifier,HTDate  Datetime,
								CycleNo varchar(Max),CycleType varchar(Max),OnTime Varchar(100),SoakStartTime Varchar(100),
								SoakTime Varchar(100), SoakTemp varchar(100),OffTime Varchar(100), CoolingMedia varchar(50),
								ChlorideContent varchar(50),PHValue varchar(50),WaterTempBeforeQuen Varchar(100), 
								WaterTempAfterQuen  varchar(100),Remarks varchar(Max),HeatNo Varchar(Max),
								MetalName Varchar(Max),CastingCode Varchar(Max),CastingName Varchar(Max),
								DwgNo varchar(Max),Qty int,Weight Varchar(100),SectionalThickness varchar(100),HeatCode varchar(Max),
								StartOperator varchar(Max), EndOperator Varchar(Max),
								QuenchingTime varchar(100), ModifiedUserName varchar(100), InsertedDate  varchar(100) )
       
       DECLARE @Consump TABLE(SrNoRevisionwise int,ItemName Varchar(Max),ItemCode Varchar(Max),ConsumptionQty float) 
     INSERT INTO @TableItem
	 SELECT   DENSE_RANK() over(order by RevisionNo) AS SrNoRevisionwise,* FROM
			 (
			 SELECT					HM.RevisionNo AS RevisionNo,
									HTTransID,
								CONVERT(VARCHAR, HTDate, 106) AS HTDate,
									(isnull(HM.Prefix,'') 
										+ isnull(HM.Separator,'') 
										+ CycleNo 
										+ ISNULL(HM.Separator,'') 
										+ ISNULL(HM.Suffix,'')) as CycleNo,
									HeatTreatmentCycle.CycleName as CycleType,
									 CONVERT(varchar(15),CAST(HM.StartTime AS TIME),100) as OnTime,
									 CONVERT(varchar(15),CAST(HM.SoakStartTime AS TIME),100) as SoakStartTime,
									(case when DATEDIFF(HH,SoakStartTime,HM.EndTime ) = 1 OR DATEDIFF(HH,SoakStartTime,HM.EndTime ) = 0
										then convert(varchar, DATEDIFF(minute,SoakStartTime,HM.EndTime ) / 60) + ':' + RIGHT('0' + CONVERT(varchar(2),DATEDIFF(minute,SoakStartTime,HM.EndTime)%60),2) + 'Hr'
										else 
										convert(varchar, DATEDIFF(minute,SoakStartTime,HM.EndTime ) / 60) + ':' + RIGHT('0' + CONVERT(varchar(2),DATEDIFF(minute,SoakStartTime,HM.EndTime)%60),2)+'Hrs'
										end) as SoakTime,
										CONVERT(VARCHAR, SoakTemp)+NCHAR(176)+'C' AS SoakTemp,
									 CONVERT(varchar(15),CAST(HM.EndTime AS TIME),100) as OffTime,
									CoolingMedia,
									ChlorideContent,
									PHValue,
									CONVERT(VARCHAR, WaterTempBeforeQuen)+NCHAR(176)+'C' AS WaterTempBeforeQuen,
									CONVERT(VARCHAR, WaterTempAfterQuen)+NCHAR(176)+'C' AS WaterTempAfterQuen,
									dbo.udf_StripHTML( HM.Remarks) as Remarks,
									--replace(HM.Remarks, '&lt;' collate Latin1_General_CS_AS, '<'  collate Latin1_General_CS_AS) as Remarks,
									batchno AS HeatNo,
							MetalName,
							CastingCode,
							CastingName,
							DwgNo,
							HT.Qty,
							(HT.Qty * HT.Weight) as Weight,
							ISNULL((Select MAX(SectionalThickness)as ST From CastingMaster WHERE CastingMaster.CastingId=HT.CastingId AND IsDeleted=0),0) as SectionalThickness
							, isnull(chc.HeatCode,'') as HeatCode,
							EmployeeDetails.EmployeeName + '('+ EmployeeDetails.EmployeeCode +')' as StartOperator ,
							ED.EmployeeName +'('+ ED.EmployeeCode +')' as EndOperator ,
							HM.QuenchingTime , 
								U.UserName AS ModifiedUserName,
								case when HM.ModifiedBy =0 or HM.ModifiedBy is null then   HM.CreatedOn else HM.ModifiedOn end  AS InsertedDate      
						FROM		[ICAST_IMS_LOG].[dbo].HTMaster HM
						inner join [ICAST_IMS_LOG].[dbo].HTItemDetails HT on HM.HTId = HT.HTId and HM.RevisionNo =HT.RevisionNo
						left join HeatTreatmentCycle on HeatTreatmentCycle.CycleId = HM.CycleTypeId
						INNER JOIN CastingMaster CM ON CM.CastingId = HT.CastingId
						INNER JOIN MetalMaster MM ON MM.MetalId = HT.MetalID
						INNER JOIN ProductionBatch PB ON PB.batchID = HT.HeatID
						LEft join CastingStockBatch csb On csb.Batchid = HT.BatchId
						Left join CastingHeatCode chc On chc.CastingID = csb.CastingID
							and chc.ProductionBatchID = csb.productionbatchID 
							and chc.HeatCodeID = csb.HeatCodeId
							and isnull(chc.HeatCode,'') <> ''	
						Left join EmployeeDetails  On EmployeeDetails.EmployeeId = HM.StartOperator
						Left join EmployeeDetails ED On ED.EmployeeId = HM.EndOperator
						LEFT JOIN  UserMaster AS U ON U.UserId  = case when  HM.ModifiedBy =0  or HM.ModifiedBy is null then    HM.CreatedBY else  HM.ModifiedBY end  
							WHERE		HT.IsDeleted = 0
								AND HT.HTId = @HTId	
          
    ) AS FINAL    
     
     INSERT INTO @TableItem
	 SELECT  @RevisionNo AS SrNoRevisionwise , * 
	 FROM (
				SELECT @RevisionNo AS RevisionNo,
								HTTransID,
								CONVERT(VARCHAR, HTDate, 106) AS HTDate,
									(isnull(HTMaster.Prefix,'') 
										+ isnull(HTMaster.Separator,'') 
										+ CycleNo 
										+ ISNULL(HTMaster.Separator,'') 
										+ ISNULL(HTMaster.Suffix,'')) as CycleNo,
									HeatTreatmentCycle.CycleName as CycleType,
									 CONVERT(varchar(15),CAST(HTMaster.StartTime AS TIME),100) as OnTime,
									 CONVERT(varchar(15),CAST(HTMaster.SoakStartTime AS TIME),100) as SoakStartTime,
									(case when DATEDIFF(HH,SoakStartTime,HTMaster.EndTime ) = 1 OR DATEDIFF(HH,SoakStartTime,HTMaster.EndTime ) = 0
										then convert(varchar, DATEDIFF(minute,SoakStartTime,HTMaster.EndTime ) / 60) + ':' + RIGHT('0' + CONVERT(varchar(2),DATEDIFF(minute,SoakStartTime,HTMaster.EndTime)%60),2) + 'Hr'
										else 
										convert(varchar, DATEDIFF(minute,SoakStartTime,HTMaster.EndTime ) / 60) + ':' + RIGHT('0' + CONVERT(varchar(2),DATEDIFF(minute,SoakStartTime,HTMaster.EndTime)%60),2)+'Hrs'
										end) as SoakTime,
										CONVERT(VARCHAR, SoakTemp)+NCHAR(176)+'C' AS SoakTemp,
									 CONVERT(varchar(15),CAST(HTMaster.EndTime AS TIME),100) as OffTime,
									CoolingMedia,
									ChlorideContent,
									PHValue,
									CONVERT(VARCHAR, WaterTempBeforeQuen)+NCHAR(176)+'C' AS WaterTempBeforeQuen,
									CONVERT(VARCHAR, WaterTempAfterQuen)+NCHAR(176)+'C' AS WaterTempAfterQuen,
									dbo.udf_StripHTML( HTMaster.Remarks) as Remarks,
									--replace(HTMaster.Remarks, '&lt;' collate Latin1_General_CS_AS, '<'  collate Latin1_General_CS_AS) as Remarks,
									batchno AS HeatNo,
							MetalName,
							CastingCode,
							CastingName,
							DwgNo,
							HTItemDetails.Qty,
							(HTItemDetails.Qty * HTItemDetails.Weight) as Weight,
							ISNULL((Select MAX(SectionalThickness)as ST From CastingMaster WHERE CastingMaster.CastingId=HTItemDetails.CastingId AND IsDeleted=0),0) as SectionalThickness
							, isnull(chc.HeatCode,'') as HeatCode,							
							EmployeeDetails.EmployeeName +'('+ EmployeeDetails.EmployeeCode +')' as StartOperator ,
							ED.EmployeeName +'('+ ED.EmployeeCode +')' as EndOperator ,
						    HTMaster.QuenchingTime , 
							U.UserName AS ModifiedUserName,
								case when HTMaster.ModifiedBy =0 or HTMaster.ModifiedBy is null then   HTMaster.CreatedOn else HTMaster.ModifiedOn end  AS InsertedDate      
							FROM		HTMaster
							inner join HTItemDetails  on HTMaster.HTId = HTItemDetails.HTId
							left join HeatTreatmentCycle on HeatTreatmentCycle.CycleId = HTMaster.CycleTypeId
							INNER JOIN CastingMaster CM ON CM.CastingId = HTItemDetails.CastingId
							INNER JOIN MetalMaster MM ON MM.MetalId = HTItemDetails.MetalID
							INNER JOIN ProductionBatch PB ON PB.batchID = HTItemDetails.HeatID
							LEft join CastingStockBatch csb On csb.Batchid = HTItemDetails.BatchId
							Left join CastingHeatCode chc On chc.CastingID = csb.CastingID
								and chc.ProductionBatchID = csb.productionbatchID 
								and chc.HeatCodeID = csb.HeatCodeId
								and isnull(chc.HeatCode,'') <> ''	
							Left join EmployeeDetails  On EmployeeDetails.EmployeeId = HTMaster.StartOperator
						    Left join EmployeeDetails ED On ED.EmployeeId = HTMaster.EndOperator
							LEFT JOIN  UserMaster AS U ON U.UserId  = case when  HTMaster.ModifiedBy =0  or HTMaster.ModifiedBy is null then    HTMaster.CreatedBY else  HTMaster.ModifiedBY end  
							WHERE		HTItemDetails.IsDeleted = 0
								AND HTMaster.HTId = @HTId



		) AS FINAL 	
	--select * from @TableItem
						
		insert INTO @Consump
	SELECT   do.RevisionNo ,ItemName,ItemCode,Qty as ConsumptionQty 
            FROM   [ICAST_IMS_LOG].[dbo].ProcessConsumptionDetails as do
			inner join PurchaseItemMaster on do.PurchaseitemID = PurchaseItemMaster.PurchaseItemId
            WHERE   do.ProcessPerformID = @HTId
            
     insert INTO @Consump  
           	SELECT  @RevisionNo ,ItemName,ItemCode,Qty as ConsumptionQty 
            FROM   ProcessConsumptionDetails
                  inner join PurchaseItemMaster on ProcessConsumptionDetails.PurchaseitemID = PurchaseItemMaster.PurchaseItemId
            WHERE   ProcessConsumptionDetails.ProcessPerformID = @HTId


 select distinct CA.* 
       into #tempEditLogHeatTreatment
      from @TableItem  as t 
	    left join @Consump as charge1 on charge1.SrNoRevisionwise=t.SrNoRevisionwise
		CROSS APPLY (
			  Values
				 (1,t.SrNoRevisionwise,'User Name' , modifiedUSerName COLLATE DATABASE_DEFAULT,''),
				 (2,t.SrNoRevisionwise,'Inserted/Altered On' ,cast(InsertedDate  as varchar),''  ),
				 (3,t.SrNoRevisionwise,'Heat Treatment Date' ,  CONVERT(VARCHAR(15),  HTDate, 106)    ,''),
				 (4,t.SrNoRevisionwise,'Cycle No' , CycleNo  COLLATE DATABASE_DEFAULT    ,''),				
				 (6,t.SrNoRevisionwise,'Cycle Type' , CycleType COLLATE DATABASE_DEFAULT ,''),
				 (7,t.SrNoRevisionwise,'Start Operator' , CONVERT(VARCHAR(Max), StartOperator, 106)  COLLATE DATABASE_DEFAULT ,'' )	,
				 (8,t.SrNoRevisionwise,CastingName +'('+CastingCode+')'  ,																	
																	+  'Metal Grade : ' + CAst(MetalName as varchar) 	+ CHAR(10) 																	
																	+  'Dwg No : ' + CAst(DwgNo as varchar)  + CHAR(10) 																	
																	+	'Qty : ' +  CAst(Qty as varchar) + CHAR(10)
																	+  'Weight : ' + CAst(Weight as varchar)  + CHAR(10)
																	,Cast(HTTransID as varchar(50))),	
(9,t.SrNoRevisionwise,ItemName +'('+ItemCode+')'  ,
																	
																	+ 'Consumption qty : ' + CAst(ConsumptionQty as varchar) 	+ CHAR(10) 																	
																	,Cast('' as varchar(50)))
																	,																		
				 (10,t.SrNoRevisionwise,'OnTime' , CAst(OnTime as varchar) COLLATE DATABASE_DEFAULT,''),				
				 (11,t.SrNoRevisionwise,'Soak Start Time' , CONVERT(VARCHAR(15), SoakStartTime, 106)  COLLATE DATABASE_DEFAULT ,'' )	,
				  (12,t.SrNoRevisionwise,'Soak Temp' , CONVERT(VARCHAR(15), SoakTemp, 106)  COLLATE DATABASE_DEFAULT ,'' )	,
				  (13,t.SrNoRevisionwise,'Quenching Time' , CONVERT(VARCHAR(15), QuenchingTime, 106)  COLLATE DATABASE_DEFAULT ,'' )	,				  
				 (14,t.SrNoRevisionwise,'Off Time' , CONVERT(VARCHAR(15), OffTime, 106)  COLLATE DATABASE_DEFAULT ,'' )	,
				 (15,t.SrNoRevisionwise,'Cooling Media' , CONVERT(VARCHAR(15), CoolingMedia, 106)  COLLATE DATABASE_DEFAULT ,'' )	,
				 (16,t.SrNoRevisionwise,'Chloride Content' , CONVERT(VARCHAR(15), ChlorideContent, 106)  COLLATE DATABASE_DEFAULT ,'' )	,
				 (17,t.SrNoRevisionwise,'PH Value' , CONVERT(VARCHAR(15), PHValue, 106)  COLLATE DATABASE_DEFAULT ,'' )	,
				 (18,t.SrNoRevisionwise,'Water Temp Before Quenching' , CONVERT(VARCHAR(15), WaterTempBeforeQuen, 106)  COLLATE DATABASE_DEFAULT ,'' )	,
				 (19,t.SrNoRevisionwise,'Water Temp Before Quenching' , CONVERT(VARCHAR(15), WaterTempAfterQuen, 106)  COLLATE DATABASE_DEFAULT ,'' )	,				
				 (20,t.SrNoRevisionwise,'End Operator' , CONVERT(VARCHAR(Max), EndOperator, 106)  COLLATE DATABASE_DEFAULT ,'' ),	
				 (21,t.SrNoRevisionwise,'Remarks' , CONVERT(VARCHAR(Max), Remarks, 106)  COLLATE DATABASE_DEFAULT ,'' )	
				 
		  ) as CA (sr,SrNoRevisionwise,ColName, ColValue,TransId )  
		  where ColName is not null and CA.SrNoRevisionwise = t.SrNoRevisionwise 
		  
DECLARE @cols AS NVARCHAR(MAX) 
select @cols = STUFF((SELECT  ','  + QUOTENAME(SrNoRevisionwise) 
                    from #tempEditLogHeatTreatment  group by  SrNoRevisionwise
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')    
   
    
declare @sql1 NVARCHAR(MAX) = '';		 
SET @sql1 ='
SELECT *
FROM   #tempEditLogHeatTreatment
PIVOT  
(  
  max(ColValue)  
  FOR SrNoRevisionwise IN ('+ @cols +' )  
) AS PivotTable order by cast(sr as int)
;  
';

EXECUTE sp_executesql @sql1;     	
drop table  #tempEditLogHeatTreatment

END
GO
