USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[AuthenticateUser]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- AuthenticateUser 'Elecon','202cb962ac59075b964b07152d234b70',1,'Company1'
CREATE PROCEDURE [dbo].[AuthenticateUser]
    @UserName VARCHAR(100) = NULL ,
    @Password VARCHAR(50) = NULL ,
    @EntityId INT = 0,
	@UserType VARCHAR(20) = 'Company'
AS
BEGIN		

	DECLARE @MenuId INT = (SELECT TOP 1 MenuId FROM MenuMaster(NOLOCK) WHERE ParentId = 0 and ID = 'REPORTS')
	DECLARE @DASHBOARDMenuId INT = (SELECT TOP 1 MenuId FROM MenuMaster(NOLOCK) WHERE ParentId = 0 and ID = 'DASHBOARD')
	DECLARE @Peritir INT = (SELECT TOP 1 permitir FROM permitir WHERE Code = 'COANA')

	IF(@UserType='Company')
	BEGIN
		
		DECLARE @StaticIP NVARCHAR(100) = '', @Port NVARCHAR(100) = ''
		select @StaticIP = CAST(StaticIP AS VARCHAR(100)), @Port = CAST([Port] AS VARCHAR(100)) from ServerConfiguration

		DECLARE @DefaultDashboard NVARCHAR(500) = (
			select	DefaultDashboard from UserMaster 
			WHERE	UserMaster.UserName = @UserName AND UserMaster.Password = @Password 
					AND UserMaster.CompanyId = @EntityID AND IsDeleted = 0
		)

		DECLARE @DASHBOARDID NVARCHAR(250) = ''
		IF(ISNULL(@DefaultDashboard, '') <> '' AND @DefaultDashboard != '-1' AND @DefaultDashboard != 'INBOX')
		BEGIN
			SET @DASHBOARDID = (SELECT ID FROM MenuMaster WHERE MenuId = @DefaultDashboard)
		END

		SELECT	UserId, UserName, UserMaster.UserType as UserTypeId, UserTypeMaster.UserType, '' AS CustomerName
				, CompanyMaster.EntityId, UserMaster.EmployeeId, @MenuId AS MenuId 
				, (
					SELECT  SUBSTRING((
						SELECT ',' + CAST(dbo.PlantUserMapping.PlantId AS VARCHAR(MAX)) AS 'data()' 
						FROM    dbo.PlantUserMapping
								INNER JOIN dbo.PlantMaster ON dbo.PlantMaster.PlantId = dbo.PlantUserMapping.PlantId
						WHERE   PlantMaster.EntityId = @EntityId
								AND dbo.PlantUserMapping.UserId = CompanyMaster.EntityId
						FOR XML PATH('')  ), 2 , 9999)
				) AS PlantIdString, @Peritir AS Peritir
				, (case when  UserMaster.DefaultDashboard = '-1' then 'INBOX' ELSE ISNULL( MenuMaster.ID,'') END) AS ID
				, @DASHBOARDMenuId AS DASHBOARDMenuId
				, (CASE WHEN ISNULL(@DASHBOARDID, '') = '' THEN ''
						ELSE 'http://' + @StaticIP + ':' + @Port + '/' + @DASHBOARDID + '?auth=iCastWebJi&ssnPlantId=#PlantId#&AUTH_TOKEN=#Token#' 
				END) AS DashboardURL
		FROM    UserMaster
				INNER JOIN UserTypeMaster ON UserTypeMaster.UserTypeId = CONVERT(INT, UserMaster.UserType)
				INNER JOIN CompanyMaster ON UserMaster.CompanyId = CompanyMaster.EntityId
				Left Join MenuMaster ON MenuMaster.MenuId = UserMaster.DefaultDashboard 
		WHERE	UserMaster.UserName = @UserName
				AND UserMaster.Password = @Password
				AND UserMaster.CompanyId = @EntityID
				AND IsDeleted = 0
	END
	ELSE
	BEGIN
		SELECT	wum.UserId, wum.WebUserName as UserName, cm.CustomerName,
				UserType as UserTypeId, @UserType AS UserType, wum.partyid AS PartyId
				, cm.EntityId, 0 AS EmployeeId, '' AS PlantIdString, @MenuId AS MenuId, @Peritir AS Peritir
		FROM    WebuserMaster as wum
				Inner Join CustomerMaster as cm On wum.partyid = cm.CustomerId 
		WHERE	wum.WebUserName = @UserName
				AND wum.WebPassword = @Password
				AND wum.Isdeleted = 0
	END
END
GO
