USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PendingBillPassReport]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[PendingBillPassReport]
	    
	@CustomerID UNIQUEIDENTIFIER = NULL,
	@InvoiceNo VARCHAR(50) = NULL,
	@InwardID uniqueidentifier = NULL,
	 @PurchaseInvoiceID UNIQUEIDENTIFIER = NULL
	 
	 
AS
BEGIN
	 
		Select CustomerMaster.CustomerName, 
			   PurchaseInvoice.SupplierInvoiceNo, 
			   Convert(varchar(15), PurchaseInvoice.SupplierInvoiceDate,106) as SupplierInvoiceDate,
			   CASE WHEN PurchaseInvoice.Prefix IS NULL THEN ''
                     ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Prefix)
                END
                + CASE WHEN PurchaseInvoice.Separator IS NULL
                       THEN ''
                       ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)
                  END + CONVERT(VARCHAR(50), PurchaseInvoice.InvoiceNo)
                + CASE WHEN PurchaseInvoice.Separator IS NULL
                       THEN ''
                       ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)
                  END
                + CASE WHEN PurchaseInvoice.Suffix IS NULL THEN ''
                       ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Suffix)
                  END AS InvoiceNo,
			   Convert(varchar(15), PurchaseInvoice.InvoiceDate, 106) as InvoiceDate,
			  ( STUFF(( SELECT  Distinct  ',' + CASE WHEN RawMaterialInward.Prefix IS NULL THEN ''
                             ELSE CONVERT(VARCHAR(50), RawMaterialInward.Prefix)
                        END
                        + CASE WHEN RawMaterialInward.Separator IS NULL
                               THEN ''
                               ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)
                          END + CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo)
                        + CASE WHEN RawMaterialInward.Separator IS NULL
                               THEN ''
                               ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)
                          END
                        + CASE WHEN RawMaterialInward.Suffix IS NULL THEN ''
                               ELSE CONVERT(VARCHAR(50), RawMaterialInward.Suffix)
                          END
                                          FROM      RawMaterialInward
                                                    INNER JOIN PurchaseInvoiceTrans ON PurchaseInvoiceTrans.InwardId = RawMaterialInward.InwardId
                                                  
                                          WHERE     ( PurchaseInvoiceTrans.PurchaseInvoiceId = PurchaseInvoice.PurchaseInvoiceId )                                                   
                                        FOR
                                          XML PATH('')
                                        ), 1, 1, '') ) AS InwardNo,
			   PurchaseInvoice.PurchaseInvoiceId
		From PurchaseInvoice
		Inner Join CustomerMaster on CustomerMaster.CustomerId=PurchaseInvoice.SupplierID
		Where PurchaseInvoice.IsBillChecked=0 And PurchaseInvoice.IsDelete=0
		AND ( @CustomerID IS NULL
			  OR CustomerMaster.CustomerId = @CustomerID)
		AND ( @InvoiceNo IS NULL
			  OR PurchaseInvoice.SupplierInvoiceNo = @InvoiceNo)
		AND ( @InwardID IS NULL
			  OR PurchaseInvoice.PurchaseInvoiceId in ( Select Distinct PurchaseInvoiceId from PurchaseInvoiceTrans where InwardId = @InwardID and PurchaseInvoiceTrans.IsPattern = 0 union 
			  Select Distinct PurchaseInvoiceId from  PurchaseInvoiceCastingPurchaseTrans inner join InwardCastingPurchase on
		 InwardCastingPurchase.InwardCastingPurchaseId=PurchaseInvoiceCastingPurchaseTrans.InwardCastingPurchaseId where InwardId = @InwardID union
		 Select Distinct PurchaseInvoiceId from  PurchaseInvoiceCastingPurchaseTrans inner join InwardJobCastingTranse on
		 InwardJobCastingTranse.InwardJobCastingTranseID=PurchaseInvoiceCastingPurchaseTrans.InwardCastingPurchaseId where InwardId = @InwardID
		 ) )
		
		AND ( @PurchaseInvoiceID IS NULL
			  OR PurchaseInvoice.PurchaseInvoiceId = @PurchaseInvoiceID)
		Order By PurchaseInvoice.InvoiceDate Asc
	 
END
GO
