USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[DailyProductionReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE  [dbo].[DailyProductionReport]  
 @EntityID INT = 0 ,     
 @ProductionDateFrom DATETIME = NULL  
 --@ProductionDateTo DATETIME = NULL ,  
 --@Furnace VARCHAR(100) = NULL ,  
 --@Shift VARCHAR(50) = NULL ,  
 --@CastingId UNIQUEIDENTIFIER = NULL ,                
 --@CastingName VARCHAR(100) = NULL ,          
 --@MetalId int = 0 ,  
 --@BatchId INT = 0        
AS  
BEGIN  
   
--select *  
--into #TempTable  
--from  
--exec GetFinalRejectionDataReasonwise   
  
--SELECT * INTO #MyTempTable FROM OPENROWSET('SQLNCLI', 'Data Source=ELLIPSIS-5\EIEXPRESS;Initial Catalog=iCast;Persist Security Info=True;User ID=sa;Password=BS@Ellip12;',  
--     'EXEC GetFinalRejectionDataReasonwise')  
       
--SELECT  *  
--INTO    #tmpTable  
--FROM    OPENQUERY('ELLIPSIS-5\\EIEXPRESS', 'EXEC GetFinalRejectionDataReasonwise')  
  
--INSERT INTO #TempTable  
--EXEC(@SqlStatement)  
  
Declare @CastingDisplay int = (select ShowCastingName from configuration where EntityID =@EntityId)  

   SELECT   
			 dbo.ProductionBatch.ProductionDate, dbo.ProductionBatch.batchno AS HeatNo, dbo.ProductionBatch.Furnace, dbo.ProductionBatch.Shift  
			, case when @CastingDisplay= 0 then   cs.CastingName when  @CastingDisplay = 1 then cs.CastingCode else  cs.CastingName+'('+cs.CastingCode+')'  end as Casting   
			,dbo.MetalMaster.MetalName,isnull (BW.BunchWeight,0) as BunchWt   
			,kk.perpcweight as CastingWt,  
			ISNULL(MT.Cavity,0) AS CavityPerMold,ISNULL( PourQty,0) AS PouredMold ,  
            ISNULL(dbo.ProductionBatch.totalChargingQnty, 0) AS TotalRMCharging,   
            kk.productionqty AS NoOfPcs ,  
            Production.TotalProductionWt AS TotalTappedLMWt,  
            (kk.perpcweight  *  kk.productionqty)  AS WtOfPouredCasting ,  
            ISNULL( BW.BunchWeight * PourQty ,0) AS TotalLMPoured,                        
            --ROUND(Production.TotalProductionWt * 100 / (CASE WHEN (ISNULL(ProductionBatch.totalChargingQnty, 1))   = 0 THEN 1 ELSE (ISNULL(ProductionBatch.totalChargingQnty, 1)) END), 2) AS Yield,  
           -- round( (ISNULL(( kk.perpcweight  *  kk.productionqty),1) /(  ISNULL( bw.BunchWeight * PourQty ,1) ) ) * 100 ,2) as Yield,  
			--Production.TotalProductionWt -  ISNULL( Production.BunchWeight * Production.PourQty ,0) as MetalSpillage ,  
			ROUND(ISNULL(dbo.ProductionBatch.totalChargingQnty, 0) -      Production.TotalProductionWt,2) as MetalSpillage,
            ISNULL(dbo.ProductionBatch.Electricalreadingused *  dbo.ProductionBatch.MeterMultiplicationFactor, 0) AS PowerConsumption,   
            ISNULL((Rejection.RejQty+kk.rejectedqty),0) as NoOfPcsRej ,  
            ISNULL(kk.perpcweight  * (Rejection.RejQty+kk.rejectedqty),0) as RejWt ,  
           ROUND(ISNULL(kk.perpcweight  * (Rejection.RejQty+kk.rejectedqty),0)  / (Isnull(kk.perpcweight  *  kk.productionqty,1) ) *100 ,2) AS RejWtPer,   
            ISNULL(    kk.productionqty /(ISNULL(Rejection.RejQty+kk.rejectedqty,1)) ,0)   as RejinQty  
            ,ProductionBatch.batchID AS ProductionBatchID,cs.CastingId,ProductionBatch.MetalID   
            ,RejectionReason.RejQty as ReasonRejQty ,RejectionReason.Reason ,RejectionReason.ReasonID  
            ,RejectionReason.DepartmentID,RejectionReason.DepartmentName  
   FROM   dbo.ProductionBatch  
       INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.ProductionBatch.MetalID   
       INNER JOIN  
            (SELECT     SUM(dbo.knockout.productionqty * dbo.knockout.perpcweight) AS TotalProductionWt, ProductionBatch_2.batchID AS HeatID  
							--,cs.CastingCode,cs.CastingName ,BW.BunchWeight ,cs.CastingId,knockout.perpcweight ,knockout.productionqty ,knockout.rejectedqty   
							--,MT.Cavity,  SUM( KM.PourQty) as PourQty
                            FROM          dbo.knockout   
           INNER JOIN dbo.ProductionBatch AS ProductionBatch_2 ON dbo.knockout.batchid = ProductionBatch_2.batchID  
          
                            WHERE      (ProductionBatch_2.IsDeleted = 0) AND (ProductionBatch_2.BatchType = 0) AND (dbo.knockout.IsDeleted = 0)  
                            GROUP BY ProductionBatch_2.batchID-- ,knockout.perpcweight ,knockout.productionqty,  
								--MT.Cavity  --  ,cs.CastingCode,cs.CastingName,cs.CastingId ,BW.BunchWeight,knockout.rejectedqty
          ) AS Production ON Production.HeatID = dbo.ProductionBatch.batchID   
          INNER JOIN knockout  kk  on kk.batchid =ProductionBatch.batchID
            INNER JOIN CastingMaster cs on cs.CastingId = kk.castingid   
           LEFT JOIN BunchWeightDetail BW ON BW.PatternID =cs.Dieid     
           LEFT JOIN KnockoutMoldTypeId KM ON KM.KnockoutId =kk.knockoutid    
           LEFT JOIN MoldInventoryType MT ON MT.MoldTypeID=KM.MoldTypeId 
      LEFT OUTER JOIN  
             (SELECT     SUM(dbo.CastingFinalRejection.Weight) AS TotalRejWt, ProductionBatch_1.batchID,sum(CastingFinalRejection.RejQty ) as RejQty,  
								CastingFinalRejection.CastingID,CastingFinalRejection.MetalID  
                            FROM          dbo.CastingFinalRejection  
                             INNER JOIN dbo.ProductionBatch AS ProductionBatch_1 ON dbo.CastingFinalRejection.ProductionBatchID = ProductionBatch_1.batchID                               
                            WHERE      (ProductionBatch_1.IsDeleted = 0) AND (ProductionBatch_1.BatchType = 0) and   IsInHouseRej = 1  
                            GROUP BY ProductionBatch_1.batchID,CastingFinalRejection.CastingID ,CastingFinalRejection.MetalID  
                            ) AS Rejection ON Rejection.batchID = dbo.ProductionBatch.batchID and Rejection.CastingID = kk.CastingId  
                            and Rejection.MetalID =ProductionBatch.MetalID    
        LEFT OUTER JOIN  
              (SELECT     CastingFinalRejection.RejQty,ReasonMaster.ReasonID,ReasonMaster.Reason ,ProductionBatch_1.batchID,CastingFinalRejection.CastingID
							 ,CastingFinalRejection.MetalID  ,systemdepartment.DepartmentName,systemdepartment.DepartmentID  
                            FROM          dbo.CastingFinalRejection  
                             INNER JOIN dbo.ProductionBatch AS ProductionBatch_1 ON dbo.CastingFinalRejection.ProductionBatchID = ProductionBatch_1.batchID                               
                             INNER JOIN ReasonMaster ON ReasonMaster.ReasonID = CastingFinalRejection.ReasonID AND ReasonMaster.CompanyId= @EntityId   
                             inner join SystemDepartment on systemdepartment.DepartmentID = ReasonMaster.SysDepartmentId   
                            WHERE      (ProductionBatch_1.IsDeleted = 0) AND (ProductionBatch_1.BatchType = 0) and   IsInHouseRej = 1                             
                            ) AS RejectionReason ON RejectionReason.batchID = dbo.ProductionBatch.batchID and RejectionReason.CastingID = kk.CastingId  and RejectionReason.MetalID =ProductionBatch.MetalID    
           
WHERE     (dbo.ProductionBatch.IsDeleted = 0)  
AND cast( ProductionDate  as date)= CAST( @ProductionDateFrom as date)  
  
                                 -- AND (dbo.ProductionBatch.BatchType = 0)  
         --AND ProductionDate BETWEEN @ProductionDateFrom  
         --                                                     AND  
         --                                                     @ProductionDateTo  
                                    --AND ( @Furnace IS NULL  
                                    --      OR Furnace = @Furnace  
                                    --    )  
                                    --AND (@CastingId   IS NULL  
                                    --      OR Production.CastingId = @CastingId  
                                    --    )   
                                    --    AND ( @CastingName   IS NULL  
                                    --      OR Production.CastingName = @CastingName )   
                                                                              
                          --AND ( @BatchId = 0  
                                    --      OR ProductionBatch.batchID = @BatchId  
                                    --    )  
                                    --    AND ( @MetalId  = 0  
                                    --      OR ProductionBatch.MetalID= @MetalId   
                                    --    )  
                                    --     AND ( @Shift IS NULL  
                                    --      OR Shift = @Shift  
                                    --    )    
                                    AND (ProductionBatch.EntityId = @EntityId)  
                                      
         ORDER BY ProductionDate DESC    
           
            
  select DISTINCT Date, Final.PatternId ,PatternCode  
     ,SUM(MoldQty) AS MoldQty 
     --, (SUM(RejectQty) +ISNULL( MoldingRej.RejQty,0 ) ) AS RejectedQty   
     --,( ISNULL( SUM(RejectQty) +ISNULL( MoldingRej.RejQty,0 ) ,0)*100 )/  SUM(MoldQty)  as RejPer  
	  , (SUM(RejectQty)) AS RejectedQty   
     ,( ISNULL( SUM(RejectQty) ,0)*100 )/  SUM(MoldQty)  as RejPer  
  FROM (  
   select DISTINCT MoldingEntryMaster.Date, PatternMaster.PatternId ,PatternMaster.PatternCode  
     ,MoldingEntryMaster.MoldQty,MoldingEntryMaster.RejectQty  
     from MoldingEntryMaster  
   inner join MoldingEntryTrans on MoldingEntryTrans.MoldingEntryMasterId = MoldingEntryMaster.MoldingEntryMasterId  
   inner join PatternMaster on PatternMaster.PatternId = MoldingEntryTrans.PatternId   
   where CAST( MoldingEntryMaster.Date  as Date)= CAST( @ProductionDateFrom as Date) and MoldingEntryMaster.IsDeleted= 0  and MoldingEntryTrans.IsDeleted= 0   
     and MoldingEntryMaster.EntityID = @EntityId   
  ) AS Final  
  --left join (  
  -- SELECT PatternId, EntityId, IsDeleted, SUM(RejQty) AS RejQty   
  -- FROM MoldingRej   
  -- WHERE IsDeleted = 0   
  --   AND CAST( MoldingRej.CreatedOn as Date ) = CAST( @ProductionDateFrom as Date)  
  -- GROUP BY PatternId, IsDeleted, EntityId  
  --) AS MoldingRej on MoldingRej.PatternId = Final.PatternId   --and MoldingRej.SandTypeId = MoldingEntryMaster.SandTypeId  
  --    and MoldingRej.IsDeleted=0 AND MoldingRej.EntityId =@EntityId    
  GROUP BY Date, Final.PatternId ,PatternCode--, MoldingRej.RejQty  
   
END  
GO
