USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchFurnaceCapacity]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FetchFurnaceCapacity]
   @FurnaceID int=0 ,  
   @EntityId int = 0
AS
			Declare @FurnaceCapacity int;
          Set @FurnaceCapacity= (Select FurnaceCapacity from FurnaceMaster where FurnaceId=@FurnaceID 
				and FurnaceMaster.EntityId = @EntityId
          )
			return @FurnaceCapacity
GO
