USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[App_ManageProduction]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Harshad Chauhan
-- Create date: <25 July 2019>
-- Description:	<Description,,>
--EXEC App_ManageProduction @p_parameter = 4, @P_UserId = 129, @P_CastingId = '8196F59C-7186-4843-A3D3-869E2727BBB4', @P_MetalId = 2
--EXEC App_ManageProduction @p_parameter = 5, @P_UserId = 129, @P_CastingId = '8196F59C-7186-4843-A3D3-869E2727BBB4', @P_MetalId = 2
--EXEC App_ManageProduction @p_parameter = 6, @P_CastingId = '8196F59C-7186-4843-A3D3-869E2727BBB4', @P_MetalId = 2,@P_FromProcessID ='E3FE75E4-4990-4E7F-9D51-0B3A5990490A'
-- =============================================

-- App_ManageProduction @P_Parameter = 7, @P_ProdBatchID = 5789, @P_PrintOrderNo = 0, @P_UserID = 28, @P_MenuId= 1033, @DisplayAllprocess= 1, @EntityID= 1, @PlantId= 1
-- App_ManageProduction 7, 0,null,null,0,null,null,840,null,
CREATE PROCEDURE [dbo].[App_ManageProduction]
	-- Add the parameters for the stored procedure here
	@P_Parameter INT
  , @SerialNoPR BIGINT = 0
  , @BatchNo VARCHAR(50) = NULL
  , @Furnace VARCHAR(20) = NULL
  , @Furnaceid INT = 0 
  , @Shift VARCHAR(50) = NULL
  , @ProductionDate DATETIME = NULL
  , @MetalId INT = 0
  , @BatchId INT = 0
  --, @OurEntryNo VARCHAR(15) = NULL
  , @CreatedBy INT = 0
  , @CreatedOn DATETIME = NULL
  , @EntityID INT = 0
  , @LogsheetNo VARCHAR(50) = NULL
  , @TimeDuration VARCHAR(50) = NULL
  , @Reason VARCHAR(MAX) = NULL
  , @FurnaceReadingStart FLOAT = NULL
  , @FurnaceReadingEnd FLOAT = NULL
  , @FurnaceReadingDiff FLOAT = NULL
  , @MeterReadingDiff FLOAT = NULL
  , @FurnaceMultiplicationFactor FLOAT = NULL
  --, @MeterMultiplicationFactor FLOAT = NULL
  , @MeltingTemp FLOAT = NULL
  , @FirstBoxPouringTemp FLOAT = NULL
  , @LastBoxPouringTemp FLOAT = NULL
  , @StartTime DATETIME = NULL
  , @EndTime DATETIME = NULL
  , @MeterReadingStart FLOAT = NULL
  , @MeterReadingEnd FLOAT = NULL
  , @FurnaceUnitConsumed FLOAT = NULL
  , @ElectricMeterReadingUnitConsumed FLOAT = NULL
  , @EmployeeId INT = 0 
  , @NoofHeat INT = 0
  
  , @LadleId UNIQUEIDENTIFIER = NULL
  , @SrNo VARCHAR(50) = NULL
  , @Temp FLOAT = 0
  , @TappingDetails AS XML = NULL
  , @TappingTime DATETIME = NULL
  
  , @purchaseitemid UNIQUEIDENTIFIER = NULL
  , @chargingQnty FLOAT = 0
  , @ChargeName VARCHAR(50) = NULL 
  , @IsExclude INT = 0
  
  , @ConsumptionID INT = 0
  , @BatchDetails XML = NULL
  , @ProcessDate DATETIME = NULL
  --, @ConsumptionMethod BIT = NULL
  --, @IsInwardBatchWise BIT = NULL
  , @TotalChargingEntry FLOAT = 0
  , @ChargeTable AS XML = NULL
  
  , @PartId uniqueidentifier=NULL
  , @ProcessID UNIQUEIDENTIFIER = NULL
  , @ProcessFrom VARCHAR(50) = NULL
  , @Transferqty INT = 0
  , @ProcessTransfer_Date VARCHAR(50) = NULL
  , @ProcessTransfer_EndDate VARCHAR(50) = NULL
  , @Weight FLOAT = 0
  , @ContractorID INT = 0
  , @UserID INT = 0
  , @MachineId UNIQUEIDENTIFIER = NULL
  , @castingID UNIQUEIDENTIFIER = NULL
  , @CastingName VARCHAR(100) = NULL 
  , @SetupStartTime DATETIME = NULL
  , @SetupEndTime DATETIME = NULL
  , @BatchXMl AS XML = NULL
  , @XMLBreakTime AS XML = NULL
  , @XMLToolMapping AS XML = NULL
  , @XMLMaintenance AS XML = NULL
  , @PlantId INT = 0
  , @PlanMasterID INT = 0
  
  , @P_UserID INT = 0
  , @P_CastingId UNIQUEIDENTIFIER = NULL
  , @P_MetalID INT = 0
  
  , @P_FromProcessID UNIQUEIDENTIFIER = NULL
  
  , @HeatCodeId BIGINT = 0
  
  , @P_ProcessID UNIQUEIDENTIFIER = NULL
  , @P_MenuId INT = 0
  , @P_ProdBatchID INT = 0
  , @P_PrintOrderNo INT = 0
  
  ,@CM BIT=0
  ,@IBW BIT=0
  
  ,@DisplayAllprocess BIT=0
  ,@TimeHr int = 0 ,
	@TimeMin int = 0,
	@TargetQty int = 0
  --,@Month INT=0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    -- Insert statements for procedure here
    
    DECLARE @Month INT = 0
    IF EXISTS(SELECT ISNULL(FinancialYear, 1) AS FinancialYear FROM dbo.configuration where EntityID=@EntityId)
    BEGIN
		SET @Month = (SELECT ISNULL(FinancialYear, 1) AS FinancialYear FROM dbo.configuration where EntityID=@EntityId)
    END
    
    IF (@Month = 0)
    BEGIN
        SET @Month = 1
    END
	
	DECLARE @Date DATETIME = CAST(@ProductionDate AS DATETIME)
    DECLARE @CurrentYear INT = YEAR(DATEADD(MONTH, -( @Month - 1 ), @Date))
    DECLARE @CurrentYearTwoDigit VARCHAR(2) = RIGHT('00' + CONVERT(VARCHAR(2), @CurrentYear % 100), 2)
    DECLARE @CurrentMonth VARCHAR(2) = RIGHT('00' + CONVERT(VARCHAR(20), DATEPART(month, @Date)), 2)
	DECLARE @PaddingZeros INT = 5

	DECLARE @stockbatchID BIGINT, @batchstock INT, @CastCodeNo VARCHAR(50) = NULL, @TempStock INT
			, @BreakReason VARCHAR(100) = NULL, @Qty INT = 0, @Sequance INT

	DECLARE @InspectionPermiterFlag BIT , @IsProcessStockTransfer BIT, @ID UNIQUEIDENTIFIER, @isCastCodeEnable INT
	DECLARE @P_UserType VARCHAR(100) = '', @ParentCastingID UNIQUEIDENTIFIER = NULL, @CastingParentId UNIQUEIDENTIFIER = NULL
	, @isRouteCardPrepared INT = 0, @IsDisplayAllprocess BIT = 0, @isProcessRightsGiven BIT = 0, @isProcessInspection BIT = 0
	IF (@P_Parameter = 1)
	BEGIN
    BEGIN TRANSACTION
		DECLARE @OurEntryNo VARCHAR(15) =
		(
			SELECT  ( '05' + @CurrentYearTwoDigit + @CurrentMonth
						+ REPLACE(STR(ISNULL(MAX(CAST(SUBSTRING(OurEntryNo,
						7, 5) AS BIGINT)), 0) + 1, @PaddingZeros), SPACE(1), '0') 
					) AS 'EntryNo'
			FROM    ProductionBatch
			WHERE   ProductionDate BETWEEN CAST(@Month AS VARCHAR(2)) + '/01/' + CAST(@CurrentYear AS VARCHAR(4))
								   AND    DATEADD(Second, -1, CAST(@Month AS VARCHAR(2)) + '/01/' + CAST(@CurrentYear + 1 AS VARCHAR(4)))
					AND EntityId = @EntityId
        )
    
		DECLARE @ConsumptionMethod BIT = ISNULL(@CM, 0)
		DECLARE @IsInwardBatchWise BIT = ISNULL(@IBW, 0)
		DECLARE @MeterMultiplicationFactor FLOAT = (
				SELECT TOP 1
                        ISNULL(MultiFactor, 0) AS MultiFactor
                FROM    MeterMaster
                        INNER JOIN MeterAssoFurnace ON MeterMaster.MeterCode = MeterAssoFurnace.MeterCode
                        INNER JOIN FurnaceMaster ON MeterAssoFurnace.Furnace = FurnaceMaster.Furnace
                WHERE   FurnaceMaster.FurnaceId = @Furnaceid			
		)
           
		SET @SerialNoPR = ( SELECT  ISNULL(MAX(PRSrNo), 0) + 1 AS PRSrNo FROM    ProductionBatch )
                   
        IF EXISTS ( SELECT  batchno FROM    dbo.ProductionBatch WHERE   batchno = @batchno AND IsDeleted = 0 )
        BEGIN
            IF EXISTS ( SELECT  batchID FROM    dbo.ProductionBatch
                        WHERE   Furnace = @Furnace AND Shift = @Shift AND ProductionDate = @ProductionDate
								AND MetalID = @MetalID AND IsDeleted = 0 )
            BEGIN
				--edit and cancel
                ROLLBACK TRANSACTION
                
                SET @batchid = (	SELECT	batchID FROM   dbo.ProductionBatch
									WHERE	Furnace = @Furnace AND Shift = @Shift AND ProductionDate = @ProductionDate
                                            AND MetalID = @MetalID AND batchno = @batchno)
                SELECT @batchid
                RETURN;
            END
            ELSE
            BEGIN
				--Increment Entry and Batch
                --  SET @OurEntryNo = CAST(@OurEntryNo AS BIGINT) + 1
				SET @batchno = CAST(@batchno AS BIGINT) + 1
            END
        END
                    
        INSERT  INTO ProductionBatch
                ( OurEntryNo , batchno , ProductionDate , MetalID , Furnace ,
                  Shift , PRSrNo , CreatedOn , CreatedBY , EntityId , LogsheetNo ,
                  TimeDuration , HeatTimeReason , Furnacereadingused , Electricalreadingused ,
                  FurnaceMultiplicationFactor , MeterMultiplicationFactor , MeltingTemp ,
                  FirstBoxPouringTemp , LastBoxPouringTemp , StartTime , EndTime ,
                  Furnacereadingfrom , Furnacereadingto , Electricalreadingfrom ,
                  Electricalreadingto , FurnaceUnitConsumed , ElectricMeterReadingUnitConsumed ,
                  EmployeeId , NoOfLining , PlantID , IsRRAllocate , PlanMasterID ,	SuperHeatTime
				)
        VALUES  ( @OurEntryNo , @batchno , @ProductionDate , @MetalID , @Furnace ,
                  @Shift , @SerialNoPR , @CreatedOn , @CreatedBY , @EntityId , @LogsheetNo ,
                  @TimeDuration , @Reason , @FurnaceReadingDiff , @MeterReadingDiff ,
                  @FurnaceMultiplicationFactor , @MeterMultiplicationFactor , @MeltingTemp ,
                  @FirstBoxPouringTemp , @LastBoxPouringTemp , @StartTime , @EndTime ,
                  @FurnaceReadingStart , @FurnaceReadingEnd , @MeterReadingStart ,
                  @MeterReadingEnd , @FurnaceUnitConsumed , @ElectricMeterReadingUnitConsumed ,
                  @EmployeeId , @NoofHeat , @PlantId , 0 , @PlanMasterID , NULL
                )

        IF @@ERROR <> 0
            ROLLBACK TRANSACTION
                    
        SET @BatchID = ( SELECT SCOPE_IDENTITY() )
                  
        DELETE  FROM TappingDetails WHERE   BatchId = @BatchId
            
        DECLARE TappingEntry CURSOR
        FOR
            SELECT  Node.value('(SrNo )[1]', 'Varchar(50)') AS 'SrNo' ,
                    Node.value('(LadleId )[1]', 'uniqueidentifier') AS 'LadleId' ,
                    Node.value('(Temp )[1]', 'float') AS 'Temp' ,
                    Node.value('(TappingTime )[1]', 'DateTime') AS 'TappingTime'
            FROM    @TappingDetails.nodes('/DocumentElement/TappingDetails')
                    AS TEMPXML ( Node ) 
        OPEN TappingEntry;

        FETCH NEXT FROM TappingEntry INTO @SrNo, @LadleId, @Temp, @TappingTime
        WHILE ( @@FETCH_STATUS = 0 )
        BEGIN
            SET @SrNo = ( SELECT    REPLACE(@SrNo, 'Tap', '')
                            );
            INSERT  INTO TappingDetails
                    ( BatchId , LadleId , SrNo , Temp , TappingTime )
            VALUES  ( @BatchId , @LadleId , @SrNo , @Temp , @TappingTime )
            
        FETCH NEXT FROM TappingEntry INTO @SrNo, @LadleId, @Temp, @TappingTime
        END 
	
        CLOSE TappingEntry;
        DEALLOCATE TappingEntry;
                  
        IF EXISTS ( SELECT  ID FROM    dbo.HeatLiningDetails WHERE   Furnaceid = @Furnaceid )
        BEGIN -- update
            UPDATE  HeatLiningDetails SET     NoofHeat = @NoofHeat WHERE   Furnaceid = @Furnaceid
        END
        ELSE
        BEGIN -- insert
            INSERT  INTO HeatLiningDetails
                    ( Furnaceid, NoofHeat )
            VALUES  ( @Furnaceid, @NoofHeat )
        END             
             
        DECLARE chargingentry CURSOR
        FOR
            SELECT  
				--Node.value('(batchid )[1]', 'bigint') AS 'newbatchid' ,
                    Node.value('(purchaseitemid )[1]',
                               'uniqueidentifier') AS 'purchaseitemid' ,
                    Node.value('(metalid )[1]', 'bigint') AS 'metalid' ,
                    Node.value('(chargingQnty )[1]', 'float') AS 'chargingQnty' ,
                    Node.value('(Charge )[1]', 'Varchar(50)') AS 'Charge' ,
                    Node.value('(ExcludeInConsumption )[1]', 'int') AS 'ExcludeInConsumption' ,
                    Node.query('BatchDetails/*') AS 'BatchDetails'
            FROM    @ChargeTable.nodes('/DocumentElement/ChargingTable')
                    AS TEMPXML ( Node ) 
        OPEN chargingentry;

        FETCH NEXT FROM chargingentry INTO @purchaseitemid, @metalid,
						@chargingQnty, @chargeName, @IsExclude, @BatchDetails
        WHILE ( @@FETCH_STATUS = 0 )
        BEGIN
            INSERT  INTO Consumption
                    ( batchid , purchaseitemiD , metalid , ChargeName , consumptionqty ,
                      createdon , IsDeleted , CreatedBy , EntityId , IsExclude )
            VALUES  ( @BatchId , @purchaseitemid , @metalid , @chargeName , @chargingQnty ,
                      GETDATE() , 0 , @CreatedBy , @EntityId , @IsExclude )
                        
            IF @@Error <> 0
                ROLLBACK TRANSACTION
                
            SET @ConsumptionID = ( SELECT   SCOPE_IDENTITY() )
                                 
            INSERT  INTO dbo.ConsumptionBatchWise
                    ( ConsumptionBatchId , ConsumptionId , RawBatchId , Quantity )
                    ( SELECT    NEWID() ,
                                @ConsumptionID ,
                                Node.value('(RawBatchId )[1]', 'int') AS 'RawBatchId' ,
                                Node.value('(ConsumptionQty )[1]', 'float') AS 'ConsumptionQty'
                      FROM      @BatchDetails.nodes('/DocumentElement/BatchDetails')
                                AS TEMPXML ( Node )
                    )
                        
            IF @@Error <> 0
                ROLLBACK TRANSACTION
                            
            SET @ProcessDate = (SELECT ProductionBatch.ProductionDate
								FROM   ProductionBatch
                                WHERE  ProductionBatch.batchid = @BatchId )
                                   
			--SET @chargingQnty = -@chargingQnty
            EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @purchaseitemid, -- uniqueidentifier
				@StockToAdd = @chargingQnty, -- float
                @Tagging = 'Consumption', -- varchar(50)
                @Process = 'Insert', -- varchar(50)
                @ProcessCode = @ConsumptionID, -- varchar(max)
                @ProcessDate = @ProcessDate, -- datetime
                @UserID = @CreatedBy, -- bigint
                @ConsumptionMethod = @ConsumptionMethod,
                @IsInwardBatchWise = @IsInwardBatchWise,
                @BatchDetails = @BatchDetails
              , @EntityId = @EntityID
              , @PlantId = @PlantId
              
            IF @@Error <> 0
                ROLLBACK TRANSACTION
                    
			-- Stock Manage End
            FETCH NEXT FROM chargingentry INTO @purchaseitemid, @metalid
							, @chargingQnty, @chargeName, @IsExclude, @BatchDetails
        END 
        CLOSE chargingentry;
        DEALLOCATE chargingentry;
                  
        UPDATE  ProductionBatch
        SET     totalChargingQnty = @TotalChargingEntry ,
                TotallossKG = 0 ,
                TotallossPER = 0 ,
                IsConsumptionEntered = 'True'
        WHERE   batchID = @batchid
        
        IF @@Error <> 0
            ROLLBACK TRANSACTION
    
        COMMIT TRANSACTION
        
        IF @@Error <> 0
			SELECT -1
		ELSE
			SELECT 1
    END
    
    ELSE IF (@P_Parameter = 2)
    BEGIN
    
		SELECT @castingID = Parentid FROM CastingMaster WHERE CastingId = @PartId
		IF (@castingID IS NOT NULL AND @castingID != CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))
			SET @castingID = @castingID
		ELSE
			SET @castingID = @PartId
		-------------------------------------------------------------------------------------------------------
		
		SET @InspectionPermiterFlag = ( SELECT  permitir FROM    permitir WHERE   Code = 'QC' )
		SET @IsProcessStockTransfer = ( SELECT permitir from permitir where Code = 'PST' )
		SET @isCastCodeEnable = ( SELECT permitir from permitir where Code = 'CCE' )
	   
		BEGIN TRANSACTION
	   
			--SET @ID = NEWID();
			
			--INSERT  INTO MSProcessPerformMaster
			--		( MSProcessPerformID ,
			--		  castingID ,
			--		  ProcessID ,     
			--		  FromProcessId,                 
			--		  MetalID ,
			--		  ProcessQty ,                      
			--		  ProcessPerformDate,
			--		  ProcessPerformEndDate,                      
			--		  StartTime,
			--		  EndTime,
			--		  CastingWeight,
			--		  ContractorID,
			--		  CreatedBY ,
			--		  EntityID ,
			--		  Createdon ,
			--		  MachineId,
			--		  ParentID,
			--		  SetupStartTime,
			--		  SetupEndTime
			--		)
			--VALUES  ( @ID ,
			--		  @PartId ,
			--		  @ProcessID ,    
			--		  @ProcessFrom ,                 
			--		  @MetalID ,
			--		  @Transferqty ,
			--		  @ProcessTransfer_Date,
			--		  @ProcessTransfer_EndDate,
			--		  @StartTime,
			--		  @EndTime,
			--		  @Weight,
			--		  @ContractorID,	
			--		  @UserID ,
			--		  @EntityID ,
			--		  @Createdon,
			--		  @MachineId,
			--		  @castingID,
			--		  @SetupStartTime,
			--		  @SetupEndTime
			--		)

			IF @@ERROR <> 0
				ROLLBACK TRANSACTION
			
			DECLARE @ProcessFromPrev UNIQUEIDENTIFIER = NULL
				
			DECLARE BatchStockBreakup CURSOR
			FOR
				SELECT  Node.value('(batchID )[1]', 'bigint') AS 'batchID' ,
						Node.value('(stockbatchid )[1]', 'bigint') AS 'stockbatchid' ,
						Node.value('(HeatCodeId )[1]', 'bigint') AS 'HeatCodeId' ,
						Node.value('(TransferStock )[1]', 'int') AS 'TransferStock',                        
                        Node.value('(CastCode )[1]', 'varchar(50)') AS 'CastCode' ,
                        Node.value('(ProcessID)[1]', 'uniqueidentifier') AS 'ProcessId'    
				FROM    @BatchXMl.nodes('/DocumentElement/BatchTable') AS TEMPXML ( Node ) 
			OPEN BatchStockBreakup;

			FETCH NEXT FROM BatchStockBreakup INTO @BatchId, @stockbatchID,@HeatCodeId, @batchStock
					, @CastCodeNo, @ProcessFrom
		    
			WHILE ( @@FETCH_STATUS = 0 )
			BEGIN
				
				if @ProcessFromPrev is null Or @ProcessFromPrev != @ProcessFrom
					BEGIN
						set @ProcessFromPrev = @ProcessFrom
						SET @ID = NEWID();
						INSERT  INTO MSProcessPerformMaster
								( MSProcessPerformID ,
								  castingID ,
								  ProcessID ,     
								  FromProcessId,                 
								  MetalID ,
								  ProcessQty ,                      
								  ProcessPerformDate,
								  ProcessPerformEndDate,                      
								  StartTime,
								  EndTime,
								  CastingWeight,
								  ContractorID,
								  CreatedBY ,
								  EntityID ,
								  Createdon ,
								  MachineId,
								  ParentID,
								  SetupStartTime,
								  SetupEndTime,
								  TargetQty
								)
						VALUES  ( @ID ,
								  @PartId ,
								  @ProcessID ,    
								  @ProcessFrom,                 
								  @MetalID ,
								  0 ,
								  @ProcessTransfer_Date,
								  @ProcessTransfer_EndDate,
								  @StartTime,
								  @EndTime,
								  @Weight,
								  @ContractorID,	
								  @UserID ,
								  @EntityID ,
								  @Createdon,
								  @MachineId,
								  @castingID,
								  @SetupStartTime,
								  @SetupEndTime,
								  @TargetQty
			                      
								)		
						IF @@Error <> 0
							ROLLBACK TRANSACTION
						
						-- Maintenance Time
						DECLARE MaintenanceTimeCursor CURSOR
						FOR
							SELECT  Node.value('(TimeInHr)[1]', 'int') AS 'TimeInHr' ,
									Node.value('(TimeInMin)[1]', 'int') AS 'TimeInMin' ,
									Node.value('(ReasonId)[1]', 'int') AS 'ReasonId'                       
							FROM    @XMLMaintenance.nodes('/DocumentElement/XMLMaintenance') AS TEMPXML ( Node )  
						OPEN MaintenanceTimeCursor;

						FETCH NEXT FROM MaintenanceTimeCursor INTO @TimeHr, @TimeMin,@Reason
						WHILE ( @@FETCH_STATUS = 0 )
						BEGIN

							INSERT  INTO MSTimeDetail
										( 
										  ID,
										  MsProcessPerform ,
										  ReasonID,
										  TimeInHr,
										  TimeInMin
										)
								VALUES  (
										  NEWID(), 
										  @ID ,
										  @Reason ,
										  @TimeHr,
										  @TimeMin
										)			
                   
							IF @@Error <> 0
								ROLLBACK TRANSACTION
					            
							FETCH NEXT FROM MaintenanceTimeCursor INTO @TimeHr, @TimeMin,@Reason
					        
						END 

						CLOSE MaintenanceTimeCursor;
						DEALLOCATE MaintenanceTimeCursor;
				     
					END
						          
                update MSProcessPerformMaster 
                Set MSProcessPerformMaster.ProcessQty  = MSProcessPerformMaster.ProcessQty + @batchStock
				Where MSProcessPerformMaster.MSProcessPerformID = @ID and IsDeleted = 0
					  
				INSERT  INTO MSProcessPerformBreakup
						( ID,
						  MSProcessPerformID ,
						  batchID ,
						  batchStock ,
						  Castcode
						)
				VALUES  ( NEWID(),
						  @ID ,
						  @stockbatchID ,
						  @batchstock ,
						  @CastCodeNo
						)

				IF @@ERROR <> 0
					ROLLBACK TRANSACTION

				SET @TempStock = -@batchstock;
		        
				DECLARE @result TABLE (returnvalue INT);

				INSERT INTO @result (returnvalue)
				EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @PartId,
					@MetalID = @MetalID, @StockToAdd = @TempStock,
					@StockToRej = 0, @ProcessID = @ProcessFrom,
					@ProcessTransferTo = @ProcessID,
					@Tagging = N'Process Perform', @Process = N'Insert',
					@ProcessCode = @ID, @productionbatchid = @BatchId,
					@ProcessDate = @Createdon, @UserID = @UserID,
					@CastCode_No = @CastCodeNo,
					@CastingStockBatchID = @stockbatchID,
					@isCastCodeEnable = @isCastCodeEnable,
					@BatchWeight = @Weight,
                    @HeatCodeId = @HeatCodeId
					, @CastingID2 = @PartId

				IF (@@ERROR <> 0 OR ((SELECT returnvalue FROM @result) = 1))
				BEGIN

					CLOSE BatchStockBreakup;
					DEALLOCATE BatchStockBreakup;

					ROLLBACK TRANSACTION
					SELECT -2
					RETURN;
				END
		            
				FETCH NEXT FROM BatchStockBreakup INTO @batchID, @stockbatchID,@HeatCodeId, @batchStock
						, @CastCodeNo, @ProcessFrom
			END 

			CLOSE BatchStockBreakup;
			DEALLOCATE BatchStockBreakup;

			IF @@Error <> 0
				ROLLBACK TRANSACTION
	     
			-- NOTIFICATION for next process user
			DECLARE @TempProcess VARCHAR(50), @NextProcess UNIQUEIDENTIFIER, @InspectionRequired BIT;
	    
			-- here casting id can be part as well as casting so compare it with part id in casting part no not casting id
			SET @InspectionRequired = (	SELECT	ISNULL(InspectionRequired,0) AS InspectionRequired  
										FROM	CastingPartNo  
										WHERE	PartId = @PartId AND CastingId = @castingID
												AND ProcessID = @ProcessID AND MetalId = @MetalID 
												AND ISNULL(CastingPartNo.IsDeleted, 0) = 0)
	    
		IF @InspectionRequired = 1
		BEGIN
			EXEC [dbo].[ProcessInspectionNotification]	@castingID = @castingID, @PartId = @PartId, @ProcessID = @ProcessID
														,@MetalID = @MetalID, @Transferqty = @Transferqty
		END                           
		ELSE
		BEGIN
			SET @Sequance = ( SELECT    Sequence
							  FROM      dbo.CastingProcess
							  WHERE     CastingID = @CastingId
										AND ProcessID = @ProcessID
										AND MetalId = @MetalID
									)
	        
				 SET @NextProcess = (	SELECT	ProcessID
										FROM	dbo.CastingProcess
										WHERE	CastingID = @CastingId
												AND MetalId = @MetalID
												AND Sequence = @Sequance + 1
											   -- AND ProcessType = 0
									   )
	                                   
			IF @IsProcessStockTransfer = 1 -- If process transfer enable than show notification to that user
			BEGIN					
				EXEC [dbo].[ProcessTransferNotification]	@castingID = @castingID, @PartId = @PartId, @ProcessID = @ProcessID
															,@NextProcessID = @NextProcess, @Transferqty = @Transferqty						
			END
			ELSE
			BEGIN
				-- Here @Processid will be passed because in procedure it will find next process and give notification that it is ready for next process
				EXEC [dbo].[ProcessPerformNotification] @castingID = @castingID, @PartId = @PartID, @ProcessID = @ProcessID
														,@NextProcessID = @NextProcess, @Transferqty = @Transferqty	        
			END                					
		END         

		COMMIT TRANSACTION
		
		IF @@Error <> 0
			SELECT -1
		ELSE
			SELECT 1
	END

	ELSE IF (@P_Parameter = 3)
	BEGIN
		IF (ISNULL(@PlanMasterID, '') != '' AND ISNULL(@PlanMasterID, '') != '0')
		BEGIN
			IF EXISTS ( SELECT 1 FROM ProductionBatch where PlanMasterID IN (SELECT Item FROM dbo.SplitString(@PlanMasterID, ',')) AND IsDeleted = 0 )
			BEGIN
				select 3
			END
			ELSE IF EXISTS ( SELECT 1 FROM MoldingEntryMaster where PlanMasterID IN (SELECT Item FROM dbo.SplitString(@PlanMasterID, ',')) AND IsDeleted = 0 )
			BEGIN
				select 1
			END
			ELSE IF EXISTS ( SELECT 1 FROM CoreProductionMaster where PlanMasterID IN (SELECT Item FROM dbo.SplitString(@PlanMasterID, ',')) AND IsDeleted = 0 )
			BEGIN
				select 2
			END
		END
		ELSE
		BEGIN
			RETURN 0
		END
	END
		
	ELSE IF (@P_Parameter = 4)
	BEGIN
		
		SELECT @P_UserType = utm.UserType FROM UserMaster AS um
		INNER JOIN UserTypeMaster AS utm ON um.UserType = utm.UserTypeId
		WHERE UserId = @P_UserID
		-------------------------------------------------------------------------------------------------------
		
		SELECT @CastingParentId = Parentid FROM CastingMaster WHERE CastingId = @P_CastingId
		IF (@CastingParentId IS NOT NULL AND @CastingParentId != CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))
			SET @ParentCastingID = @CastingParentId
		ELSE
			SET @ParentCastingID = @P_CastingId
			
		-------------------------------------------------------------------------------------------------------

		SELECT @isRouteCardPrepared = 1 FROM CastingProcess WHERE CastingID = @ParentCastingID AND MetalId = @P_MetalID
		-------------------------------------------------------------------------------------------------------

		set  @IsDisplayAllprocess = @DisplayAllprocess 
		-------------------------------------------------------------------------------------------------------

		IF (LOWER(@P_UserType) = 'admin')
			SET @isProcessRightsGiven = 0
		ELSE IF (@IsDisplayAllprocess = 1)
			SET @isProcessRightsGiven = 0
		ELSE
			SET @isProcessRightsGiven = 1
		
		if (( SELECT  permitir FROM    permitir WHERE   Code = 'QC' ) = 1)
			SET @isProcessInspection = 1

		-------------------------------------------------------------------------------------------------------
		--SELECT @P_UserType AS P_UserType, @CastingParentId AS CastingParentId, @isRouteCardPrepared AS isRouteCardPrepared
		--, @IsDisplayAllprocess AS IsDisplayAllprocess, @isProcessRightsGiven AS isProcessRightsGiven
		
		--DECLARE @FetchFromProcess TABLE(ProcessId UNIQUEIDENTIFIER, ProcessName NVARCHAR(1000), ProcessSequence INT)
		--DECLARE @FetchToProcess TABLE(ProcessId UNIQUEIDENTIFIER, ProcessName NVARCHAR(1000), ProcessSequence INT)
		
		IF (@isProcessRightsGiven = 0 AND @isRouteCardPrepared = 0) --// From Process Same as Entered // To Process Auto of "In"
        BEGIN
            --INSERT INTO @FetchFromProcess
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 5, @AutoProcess = 0;
        END
        ELSE IF (@isProcessRightsGiven = 1 AND @isRouteCardPrepared = 0) --// From Process Same as entered AUto=0 // To process Auto process of "In" with rights only
        BEGIN
            --INSERT INTO @FetchFromProcess
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 20, @UserID = @P_UserID, @IsStockTransReq = 1;
        END
        ELSE IF (@isProcessInspection = 0 AND @isProcessRightsGiven = 0 AND @isRouteCardPrepared = 1) --// From Process Same as Entered of Route // To Process Autoprocess of "In" with Routecard
        BEGIN
			--INSERT INTO @FetchFromProcess
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 30, @CastingID = @ParentCastingID, @MetalID = @P_MetalID;
        END
        ELSE IF (@isProcessInspection = 0 AND @isProcessRightsGiven = 1 AND @isRouteCardPrepared = 1) --// From process same as entered and with user rights // To process is auto if 'In' process with route card with user rights
        BEGIN
            --INSERT INTO @FetchFromProcess
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 30, @CastingID = @ParentCastingID, @MetalID = @P_MetalID
					, @UserID = @P_UserID, @IsStockTransReq = 1;
        END
        ELSE IF (@isProcessInspection = 1 AND @isProcessRightsGiven = 0 AND @isRouteCardPrepared = 1)
        BEGIN
            --INSERT INTO @FetchFromProcess
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 35, @CastingID = @ParentCastingID, @MetalID = @P_MetalID;
        END
        ELSE IF (@isProcessInspection = 1 AND @isProcessRightsGiven = 1 AND @isRouteCardPrepared = 1)
        BEGIN
            --INSERT INTO @FetchFromProcess
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 35, @CastingID = @ParentCastingID, @MetalID = @P_MetalID
					, @UserID = @P_UserID, @IsStockTransReq = 1
        END
        
        --SELECT  * FROM @FetchFromProcess
	END
	
	ELSE IF (@P_Parameter = 5)
	BEGIN
		--DECLARE @P_UserType VARCHAR(100) = ''
		SELECT @P_UserType = utm.UserType FROM UserMaster AS um
		INNER JOIN UserTypeMaster AS utm ON um.UserType = utm.UserTypeId
		WHERE UserId = @P_UserID
		-------------------------------------------------------------------------------------------------------
		--DECLARE @ParentCastingID UNIQUEIDENTIFIER = NULL, @CastingParentId UNIQUEIDENTIFIER = NULL
		
		SELECT @CastingParentId = Parentid FROM CastingMaster WHERE CastingId = @P_CastingId
		IF (@CastingParentId IS NOT NULL AND @CastingParentId != CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))
			SET @ParentCastingID = @CastingParentId
		ELSE
			SET @ParentCastingID = @P_CastingId
		-------------------------------------------------------------------------------------------------------

		--DECLARE @isRouteCardPrepared INT = 0
		SELECT @isRouteCardPrepared = 1 FROM CastingProcess WHERE CastingID = @ParentCastingID AND MetalId = @P_MetalID
		-------------------------------------------------------------------------------------------------------

		--DECLARE @IsDisplayAllprocess BIT = 0
		set @IsDisplayAllprocess = @DisplayAllprocess 
		-------------------------------------------------------------------------------------------------------

		--DECLARE @isProcessRightsGiven BIT = 0
		IF (LOWER(@P_UserType) = 'admin')
			SET @isProcessRightsGiven = 0
		ELSE IF (@IsDisplayAllprocess = 1)
			SET @isProcessRightsGiven = 0
		ELSE
			SET @isProcessRightsGiven = 1
		
		--DECLARE @isProcessInspection BIT = 0
		if (( SELECT  permitir FROM    permitir WHERE   Code = 'QC' ) = 1)
			SET @isProcessInspection = 1

		-------------------------------------------------------------------------------------------------------
		--SELECT @P_UserType AS P_UserType, @CastingParentId AS CastingParentId, @isRouteCardPrepared AS isRouteCardPrepared
		--, @IsDisplayAllprocess AS IsDisplayAllprocess, @isProcessRightsGiven AS isProcessRightsGiven
		
		--DECLARE @FetchFromProcess TABLE(ProcessId UNIQUEIDENTIFIER, ProcessName NVARCHAR(1000), ProcessSequence INT)
		--DECLARE @FetchToProcess TABLE(ProcessId UNIQUEIDENTIFIER, ProcessName NVARCHAR(1000), ProcessSequence INT)
		
		IF (@isProcessRightsGiven = 0 AND @isRouteCardPrepared = 0) --// From Process Same as Entered // To Process Auto of "In"
        BEGIN
            --INSERT INTO @FetchToProcess
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 32;
        END
        ELSE IF (@isProcessRightsGiven = 1 AND @isRouteCardPrepared = 0) --// From Process Same as entered AUto=0 // To process Auto process of "In" with rights only
        BEGIN
            --INSERT INTO @FetchToProcess
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 21, @UserID = @P_UserID, @AutoProcess = 0, @IsStockTransReq = 1;
        END
        ELSE IF (@isProcessInspection = 0 AND @isProcessRightsGiven = 0 AND @isRouteCardPrepared = 1) --// From Process Same as Entered of Route // To Process Autoprocess of "In" with Routecard
        BEGIN
            --// the second Parameter is used for To process and from Process right check
            --// 0 means check to process rights and 1 means from process rights
            --INSERT INTO @FetchToProcess
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 36, @CastingID = @ParentCastingID, @MetalID = @P_MetalID
					, @IsStockTransReq = 1, @IsFromprocess = 0;
        END
        ELSE IF (@isProcessInspection = 0 AND @isProcessRightsGiven = 1 AND @isRouteCardPrepared = 1) --// From process same as entered and with user rights // To process is auto if 'In' process with route card with user rights
        BEGIN
            --INSERT INTO @FetchToProcess
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 36, @CastingID = @ParentCastingID, @MetalID = @P_MetalID
					, @UserID = @P_UserID, @IsStockTransReq = 1, @IsFromprocess = 0;
        END
        ELSE IF (@isProcessInspection = 1 AND @isProcessRightsGiven = 0 AND @isRouteCardPrepared = 1)
        BEGIN
            --INSERT INTO @FetchToProcess
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 33, @CastingID = @ParentCastingID, @MetalID = @P_MetalID
					, @IsStockTransReq = 1;
        END
        ELSE IF (@isProcessInspection = 1 AND @isProcessRightsGiven = 1 AND @isRouteCardPrepared = 1)
        BEGIN
			--INSERT INTO @FetchToProcess
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 36, @CastingID = @ParentCastingID, @MetalID = @P_MetalID
					, @UserID = @P_UserID, @IsStockTransReq = 1, @IsFromprocess = 0;
        END
        
        --SELECT * FROM @FetchToProcess
	END
	
	ELSE IF (@P_Parameter = 6)
	BEGIN
		--DECLARE @ParentCastingID UNIQUEIDENTIFIER = NULL, @CastingParentId UNIQUEIDENTIFIER = NULL
		
		SELECT @CastingParentId = Parentid FROM CastingMaster WHERE CastingId = @P_CastingId
		IF (@CastingParentId IS NOT NULL AND @CastingParentId != CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))
			SET @ParentCastingID = @CastingParentId
		ELSE
			SET @ParentCastingID = @P_CastingId
		-------------------------------------------------------------------------------------------------------

		--DECLARE @isRouteCardPrepared INT = 0
		SELECT @isRouteCardPrepared = 1 FROM CastingProcess WHERE CastingID = @ParentCastingID AND MetalId = @P_MetalID
		IF(@isRouteCardPrepared = 1)
		BEGIN
			DECLARE @EarlierProcesstbl TABLE (ProcessId UNIQUEIDENTIFIER)
			
			INSERT INTO @EarlierProcesstbl
			EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 19, @ProcessID = @P_FromProcessID
					, @CastingID = @ParentCastingID, @MetalID = @P_MetalID, @IsStockTransReq = 1
					
			IF EXISTS (SELECT 1 FROM @EarlierProcesstbl)
				SELECT * FROM @EarlierProcesstbl
			ELSE
				SELECT CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) AS ProcessId
		END
		ELSE
		BEGIN
			SELECT CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) AS ProcessId
		END
		-------------------------------------------------------------------------------------------------------
	END
	
	ELSE IF (@P_Parameter = 7)
	BEGIN
		------------------------------------------------------------------------------------------------

		DECLARE @HeatWiseCastingTbl TABLE(CastingId UNIQUEIDENTIFIER, CastingName NVARCHAR(1000), CastingCode NVARCHAR(1000)
				, MetalId INT, MetalName NVARCHAR(500), batchID INT, ProductionDate DATETIME, HeatNo NVARCHAR(500), StockBatchId INT
				, ProcessId UNIQUEIDENTIFIER, FromProcess NVARCHAR(500), HeatCodeID INT, HeatCode NVARCHAR(500)
				, BatchStock INT, TransferQty INT, CastingWeight DECIMAL(18, 3), isRouteCardPrepared INT, CastingPartCount INT
				, DrawingNo NVARCHAR(500), NewEntry INT, IsDeleted INT, HeatwiseEntry NVARCHAR(MAX), CustomerOrderNo NVARCHAR(500)
				, ConvertPartId UNIQUEIDENTIFIER, dgvCastingStockProcessId UNIQUEIDENTIFIER)

		DECLARE @HeatWiseFinalCastingTbl TABLE(CastingId UNIQUEIDENTIFIER, PartId UNIQUEIDENTIFIER, CastingName NVARCHAR(500)
				, CastingCode NVARCHAR(500), MetalID INT, Grade NVARCHAR(500), StockBatchId INT, ProcessIDFrom UNIQUEIDENTIFIER
				, ProcessName NVARCHAR(500), HeatCodeID INT, HeatCode NVARCHAR(500), batchID INT, HeatNo NVARCHAR(500)
				, BatchStock INT, TransferQty INT, Weight DECIMAL(18,3), ConvertPartId UNIQUEIDENTIFIER, CastingPartCount INT
				, DrawingNo NVARCHAR(500), HeatwiseEntry NVARCHAR(500), IsDeleted INT, NewEntry INT, CustomerOrderNo NVARCHAR(500))

		DECLARE --@CastingId UNIQUEIDENTIFIER, 
				--@CastingName NVARCHAR(1000), 
				@CastingCode NVARCHAR(1000)--, @MetalId INT
				, @MetalName NVARCHAR(500)--, @batchID INT
				, @HeatNo NVARCHAR(500)--, @StockBatchId INT, @ProcessId UNIQUEIDENTIFIER
				, @FromProcess NVARCHAR(500)--, @HeatCodeID INT
				, @HeatCode NVARCHAR(500)--, @BatchStock INT, @TransferQty INT
				, @CastingWeight DECIMAL(18, 3)--, @isRouteCardPrepared INT
				, @CastingPartCount INT
				, @DrawingNo NVARCHAR(500), @NewEntry INT, @IsDeleted INT, @HeatwiseEntry NVARCHAR(MAX), @CustomerOrderNo NVARCHAR(500)
				
		DECLARE @FetchProcess TABLE(ProcessId UNIQUEIDENTIFIER, ProcessName NVARCHAR(1000), ProcessSequence INT, IsDefault BIT)
				
		DECLARE --@ParentCastingID UNIQUEIDENTIFIER = NULL, @CastingParentId UNIQUEIDENTIFIER = NULL, 
			@IsInspectionReq INT = 0
			, @IsTransferModuleOn INT = 0--, @IsDisplayAllprocess BIT = 0
			, @P_ProcessFrom UNIQUEIDENTIFIER = NULL
			, @EarlierProcess UNIQUEIDENTIFIER = NULL, @isProcessTransfer BIT = 0
			--, @isProcessInspection BIT = 0, @P_UserType VARCHAR(100) = '', @isProcessRightsGiven BIT = 0
			, @ConvertPartId UNIQUEIDENTIFIER = NULL, @dgvCastingStockProcessId UNIQUEIDENTIFIER = NULL
		-------------------------------------------------------------------------------------------------------
		
		IF(@P_ProcessID IS NULL)
		BEGIN
			SELECT @P_ProcessID = MenuValue FROM MenuParameter WHERE LOWER(MenuKey) = 'processid' AND MenuId = @P_MenuId
		END

		SET @IsDisplayAllprocess = @DisplayAllprocess 

		IF (( SELECT permitir from permitir where Code = 'PST' ) = 1)
			SET @isProcessTransfer = 1

		if (( SELECT  permitir FROM    permitir WHERE   Code = 'QC' ) = 1)
			SET @isProcessInspection = 1

		SELECT @P_UserType = utm.UserType FROM UserMaster AS um
		INNER JOIN UserTypeMaster AS utm ON um.UserType = utm.UserTypeId
		WHERE UserId = @P_UserID

		IF (LOWER(@P_UserType) = 'admin')
			SET @isProcessRightsGiven = 0
		ELSE IF (@IsDisplayAllprocess = 1)
			SET @isProcessRightsGiven = 0
		ELSE
			SET @isProcessRightsGiven = 1
		---------------------------------------------------------------------------------
		INSERT INTO @HeatWiseCastingTbl		
		--EXEC InHouseProcess_stockTransfer @parameter = 53, @ProductionBatchID = @P_ProdBatchID
		--		, @ProcessID = @P_ProcessID, @PrintOrderNo = @P_PrintOrderNo

		--exec InHouseProcess_stockTransfer @Parameter = 53, @ProductionBatchID = P_ProdBatchID, @ProcessID = @ProcessID, 
		--@PrintOrderNo = 1, @CycleID = 0, @EntityId = 1, @PlantId = 1, @PlantIdString = '1', --@castingID = 'e4cd2d2d-d67e-48e7-b3f2-42f8ae33a61e',
		--@PageType = 0, @MethodFlag = 0


		EXEC InHouseProcess_stockTransfer @Parameter = 53, @ProductionBatchID = @P_ProdBatchID, @ProcessID = @P_ProcessID,
		@PrintOrderNo = @P_PrintOrderNo, @EntityId = @EntityID, @PlantId = @PlantId, @castingID = @CastingId
		, @castingName = @CastingName, @CycleId = 0, @PageType = 0, @MethodFlag = 0
		
		DECLARE HeatWiseCastingTbl CURSOR FOR
			SELECT * FROM @HeatWiseCastingTbl
	
		OPEN HeatWiseCastingTbl;

			FETCH NEXT FROM HeatWiseCastingTbl INTO @CastingId, @CastingName, @CastingCode
					, @MetalId, @MetalName, @batchID, @ProductionDate, @HeatNo, @StockBatchId
					, @ProcessId, @FromProcess, @HeatCodeID, @HeatCode
					, @BatchStock, @TransferQty, @CastingWeight, @isRouteCardPrepared, @CastingPartCount
					, @DrawingNo, @NewEntry, @IsDeleted, @HeatwiseEntry, @CustomerOrderNo, @ConvertPartId, @dgvCastingStockProcessId
		
		
		WHILE ( @@FETCH_STATUS = 0 )
		BEGIN
			
			BEGIN
				
				SET @EarlierProcess = NULL;
				
				SELECT @CastingParentId = Parentid FROM CastingMaster WHERE CastingId = @CastingId
				IF (@CastingParentId IS NOT NULL AND @CastingParentId != CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))
					SET @ParentCastingID = @CastingParentId
				ELSE
					SET @ParentCastingID = @CastingId
				-------------------------------------------------------------------------------------------------------
				--SELECT @P_UserType AS P_UserType, @CastingParentId AS CastingParentId, @isRouteCardPrepared AS isRouteCardPrepared
				--, @IsDisplayAllprocess AS IsDisplayAllprocess, @isProcessRightsGiven AS isProcessRightsGiven
				
				IF (@isRouteCardPrepared = 1)
				BEGIN
					--SELECT @P_ProcessID AS P_ProcessID, @isProcessTransfer AS isProcessTransfer, @isProcessInspection AS isProcessInspection
					--, @isProcessRightsGiven AS isProcessRightsGiven
					
					IF (@isProcessTransfer = 0 AND @isProcessInspection = 0 AND @isProcessRightsGiven = 0)
					BEGIN
					
						INSERT INTO @FetchProcess(ProcessId, ProcessName, ProcessSequence, IsDefault)
						EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 30, @CastingID = @ParentCastingID, @MetalID = @MetalID
					END
					ELSE IF (@isProcessTransfer = 0 AND @isProcessInspection = 0 AND @isProcessRightsGiven = 1)
					BEGIN
						INSERT INTO @FetchProcess
						EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 30, @CastingID = @ParentCastingID, @MetalID = @MetalID, @UserID = @P_UserID
					
					END
					ELSE IF (@isProcessTransfer = 0 AND @isProcessInspection = 1 AND @isProcessRightsGiven = 0)
					BEGIN
						INSERT INTO @FetchProcess(ProcessId, ProcessName, ProcessSequence)
						EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 35, @CastingID = @ParentCastingID, @MetalID = @MetalID
					END
					ELSE IF (@isProcessTransfer = 0 AND @isProcessInspection = 1 AND @isProcessRightsGiven = 1)
					BEGIN
						INSERT INTO @FetchProcess(ProcessId, ProcessName, ProcessSequence)
						EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 35, @CastingID = @ParentCastingID, @MetalID = @MetalId, @UserID = @P_UserID
					END
					ELSE IF (@isProcessTransfer = 1 AND @isProcessRightsGiven = 0) -- When transfer module enable no need to check inspection flag. because transfer will be done only from 'in' process. user rights need to check
					BEGIN
						INSERT INTO @FetchProcess(ProcessId, ProcessName, ProcessSequence)
						EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 33, @CastingID = @ParentCastingID, @MetalID = @MetalId, @ProcessTo = @P_ProcessID
					END
					ELSE IF (@isProcessTransfer = 1 AND @isProcessRightsGiven = 1)
					BEGIN
						IF(LOWER(@P_UserType) = 'admin')
						BEGIN
							INSERT INTO @FetchProcess(ProcessId, ProcessName, ProcessSequence)
							EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 36, @CastingID = @ParentCastingID, @MetalID = @MetalId, @ProcessTo = @P_ProcessID
						END
						ELSE
						BEGIN
							INSERT INTO @FetchProcess(ProcessId, ProcessName, ProcessSequence)
							EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 36, @CastingID = @ParentCastingID, @MetalID = @MetalId, @UserID = @P_UserID, @ProcessTo = @P_ProcessID
						END
			
					END
					
					--SELECT * FROM @FetchProcess
					
					IF EXISTS(SELECT 1 FROM @FetchProcess)
					BEGIN
						DECLARE @processPartId UNIQUEIDENTIFIER = @CastingId
						
						--DECLARE @EarlierProcesstbl TABLE (ProcessId UNIQUEIDENTIFIER)
						
						IF (@isProcessTransfer = 0 AND @isProcessInspection = 0)
						BEGIN
						--PRINT 1
							INSERT INTO @EarlierProcesstbl
							EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 44, @CastingID = @ParentCastingID
							, @MetalID = @MetalId, @ProcessID = @P_ProcessID
						END
						ELSE IF (@isProcessTransfer = 0 AND @isProcessInspection = 1)
						BEGIN
						--PRINT 2
							INSERT INTO @EarlierProcesstbl
							EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 40, @CastingID = @ParentCastingID
							, @MetalID = @MetalId, @ProcessID = @P_ProcessID, @PartId = @processPartId
						END
						ELSE
						BEGIN
						--PRINT 3
							INSERT INTO @EarlierProcesstbl
							EXEC [dbo].[InHouseProcess_stockTransfer] @Parameter = 41, @CastingID = @ParentCastingID
							, @MetalID = @MetalId, @ProcessID = @P_ProcessID, @PartId = @processPartId, @IsStockTransReq = 1
						END
						
						SELECT @EarlierProcess = ProcessId FROM @EarlierProcesstbl				
					END
				END
				-------------------------------------------------------------------------------------------------------
		
				IF (@EarlierProcess IS NOT NULL)
				BEGIN
				
					IF(@ProcessId = @EarlierProcess)
					BEGIN
						INSERT INTO @HeatWiseFinalCastingTbl
						VALUES(	@ParentCastingID, @CastingId, @CastingName, @CastingCode, @MetalId, @MetalName
								, @StockBatchId, @ProcessId, @FromProcess, @HeatCodeID, @HeatCode, @batchID
								, @HeatNo, @BatchStock, @TransferQty, @CastingWeight,@ConvertPartId
								, @CastingPartCount, @DrawingNo, @HeatwiseEntry, @IsDeleted, @NewEntry, @CustomerOrderNo
						)
					END
				END
				ELSE
				BEGIN
					INSERT INTO @HeatWiseFinalCastingTbl
					VALUES(	@ParentCastingID, @CastingId, @CastingName, @CastingCode, @MetalId, @MetalName
							, @StockBatchId, @ProcessId, @FromProcess, @HeatCodeID, @HeatCode, @batchID
							, @HeatNo, @BatchStock, @TransferQty, @CastingWeight, @ConvertPartId
							, @CastingPartCount, @DrawingNo, @HeatwiseEntry, @IsDeleted, @NewEntry, @CustomerOrderNo
					)
				END
				
				DELETE FROM @FetchProcess
			END
	
			FETCH NEXT FROM HeatWiseCastingTbl INTO @CastingId, @CastingName, @CastingCode
					, @MetalId, @MetalName, @batchID,  @ProductionDate, @HeatNo, @StockBatchId
					, @ProcessId, @FromProcess, @HeatCodeID, @HeatCode
					, @BatchStock, @TransferQty, @CastingWeight, @isRouteCardPrepared, @CastingPartCount
					, @DrawingNo, @NewEntry, @IsDeleted, @HeatwiseEntry, @CustomerOrderNo, @ConvertPartId, @dgvCastingStockProcessId
		END 
		CLOSE HeatWiseCastingTbl;
		DEALLOCATE HeatWiseCastingTbl;
						
		SELECT CastingId as dgvCastingID,
			MetalID as	dgvMetalID,
			TransferQty as	dgvTransferQty,
			BatchStock as dgvBatchstock,
			Weight as dgvCastingWeight,
			ProcessIDFrom as dgvFromProcessId,
			PartId as	dgvPartId,
			batchID as	dgvbatchID,
			ConvertPartId as dgvConvertPartId,
			CastingPartCount as	dgvConvertPartCount,
			HeatCodeID as	dgvHeatCodeID,
			CastingCode as dgvCastingCode,
			HeatCode as dgvHeatCode,
			ProcessName as dgvProcessName,
			CastingName as dgvCastingName,
			Grade as dgvGrade,
			HeatNo asdgvHeatNo,
			DrawingNo as dgvDrawingNo,
			HeatwiseEntry asdgvHeatWiseEntry,
			CustomerOrderNo as dgvCustomerOrderNo ,
			StockBatchId as	dgvStockBatchId  FROM @HeatWiseFinalCastingTbl

	END
	
	ELSE IF (@P_Parameter=8)
	BEGIN
		SELECT MenuValue as ProcessID FROM MenuParameter WHERE LOWER(MenuKey) = 'processid' AND MenuId = @P_MenuId
	END
END


GO
