USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Charts]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- MODIFIED BY:	<HEMANI VANDRA>
-- LAST MODIFICATION DATE: <19th Nov'19>
-- DESCRIPTION:	<dynamic date filter added in all dashboard report para 1, 2, 15, 19
--				query changed in para 22, 5, 9, 11, 14, 15, 20 >
-- =============================================
CREATE PROCEDURE [dbo].[Charts]
    @Parameter INT = 0 ,
    @No INT = 0 ,
    @CustomerId UNIQUEIDENTIFIER = NULL ,
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    @CastingId UNIQUEIDENTIFIER = NULL ,
    @IfActive bit=0,
    @Unit VARCHAR(50) = NULL ,
	@PlantIdString VARCHAR(Max) = NULL,
    @EntityId INT = 0,
    @FYear  VARCHAR(50) = NULL  
AS
    BEGIN
	
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
        SET NOCOUNT ON;

		------------BY HEMANI
		DECLARE @Start INT,
				@End INT,
				@FinancialYear INT = (SELECT top 1 FinancialYear FROM configuration) ,
				@StartYear DATE ,
				@EndYear DATE ,
				@PrevStartYear DATE ,
				@PrevEndYear DATE ;
			

		SELECT		TOP 1
					@Start = StartYear,
					@End = EndYear,
					@StartYear = StartDate,
					@EndYear = EndDate
		FROM		FetchFinancialYearDynamically(@FinancialYear)
		
        SET @PrevStartYear =  DATEADD(YEAR, -1, @StartDate) ;

        SET @PrevEndYear = DATEADD(YEAR, -1, @EndDate) ;
		-----------DONE BY HEMANI

        IF @Parameter = 1  -- Month Wise Order Chart
            BEGIN

				SELECT		ROW_NUMBER() OVER (ORDER BY filter, MonthInDigit ASC) AS SrNo,
							Months,
							TotalOrder,
							TotalWeight,
							filter
				FROM		(
								SELECT		DATENAME(MONTH, OrderDate) AS Months,
											MONTH(OrderDate) AS MonthInDigit ,
											SUM(Amount) + SUM(ISNULL(dbo.OrderServiceItemTrans.TotalAmount, 0)) AS TotalOrder ,
											SUM(TotalWeight) AS TotalWeight ,
											CASE WHEN ( MONTH(OrderDate) > @FinancialYear - 1 ) THEN 1 ELSE 2 END AS filter
								FROM		dbo.OrderMaster
											LEFT JOIN dbo.OrderTranse 
											ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
											AND dbo.OrderTranse.IsDeleted = 0
											AND ( @CastingId IS NULL
												OR OrderTranse.CastingId = @CastingId
												)
											LEFT JOIN dbo.OrderServiceItemTrans 
											ON dbo.OrderServiceItemTrans.CustomerOrderID = dbo.OrderMaster.CustomerOrderId
											AND dbo.OrderServiceItemTrans.IsDeleted = 0
								WHERE		( ( (MONTH(OrderDate) > @FinancialYear - 1) AND ( YEAR(OrderDate) = @Start ) )
													OR ( (MONTH(OrderDate) < @FinancialYear ) AND ( YEAR(OrderDate) = @End ) ) )
											AND ( @CustomerId IS NULL
													OR OrderMaster.CustomerID = @CustomerId
												)
											AND (@PlantIdString IS NULL 
												OR @PlantIdString = ''
												OR OrderMaster.PlantID IN (
													SELECT Item FROM @Plant )
												)
											AND OrderMaster.EntityID = @EntityId
											AND OrderMaster.MaxVersion = 1
											AND OrderMaster.IsScheduled = 0
								GROUP BY	MONTH(OrderDate) ,
											DATENAME(MONTH, OrderDate)
							) AS A

            END
      

        IF @Parameter = 3 -- Monthwise sales
            BEGIN
            
                SELECT  *
                FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY MONTH(dispatchdate) ASC ) AS SrNo ,
                                    DATENAME(MONTH, dispatchdate) AS Months ,
                                    SUM(dispatchmaster.TotalAmount) AS TotalSales ,
                                    1 AS filter
                          FROM      dbo.dispatchmaster
                                    INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
                          WHERE     MONTH(dispatchdate) > 3
                                    AND ( YEAR(dispatchdate) % 100 ) = CONVERT(VARCHAR(4), ( YEAR(GETDATE() + 1) % 100 ))
                                    AND ( @CustomerId IS NULL
                                          OR dispatchmaster.CustomerID = @CustomerId
                                        )
                                    AND ( @CastingId IS NULL
                                          OR dispatchtrans.CastingId = @CastingId
                                        )
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.dispatchmaster.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.dispatchmaster.EntityID = @EntityId
                                    AND dbo.dispatchtrans.IsDeleted = 0
                          GROUP BY  MONTH(dispatchdate) ,
                                    DATENAME(MONTH, dispatchdate)
                          UNION
                          SELECT    ROW_NUMBER() OVER ( ORDER BY MONTH(dispatchdate) ASC ) AS SrNo ,
                                    DATENAME(MONTH, dispatchdate) AS Months ,
                                    SUM(dispatchmaster.TotalAmount) AS TotalSales ,
                                    2 AS filter
                          FROM      dbo.dispatchmaster
                                    INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
                          WHERE     MONTH(dispatchdate) < 4
                                    AND ( YEAR(dispatchdate) % 100 ) = CONVERT(VARCHAR(4), ( YEAR(GETDATE() + 1) % 100 ) + 1)
                                    AND ( @CustomerId IS NULL
                                          OR dispatchmaster.CustomerID = @CustomerId
                                        )
                                    AND ( @CastingId IS NULL
                                          OR dispatchtrans.CastingId = @CastingId
                                        )
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.dispatchmaster.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.dispatchmaster.EntityID = @EntityId
                                    AND dbo.dispatchtrans.IsDeleted = 0
                          GROUP BY  MONTH(dispatchdate) ,
                                    DATENAME(MONTH, dispatchdate)
                        ) AS s
                ORDER BY filter
            END
        IF @Parameter = 4 -- Order Vs sales
            BEGIN
                        
                SELECT  *
                FROM    ( SELECT    LEFT(DATENAME(MONTH, OrderDate), 3) AS Months ,
                                    SUM(Amount) AS TotalOrder ,
                                    'TotalOrder' AS yAxix
                          FROM      dbo.OrderMaster
                                    INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                          WHERE     ( @CustomerId IS NULL
                                      OR OrderMaster.CustomerID = @CustomerId
                                    )
                                    AND ( @CastingId IS NULL
                                          OR OrderTranse.CastingId = @CastingId
                                        )
                                    AND dbo.OrderTranse.IsDeleted = 0
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.OrderMaster.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.OrderMaster.EntityID = @EntityId
                          GROUP BY  MONTH(OrderDate) ,
                                    DATENAME(MONTH, OrderDate)
                        ) AS s PIVOT
                        ( SUM(TotalOrder) FOR Months IN ( jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec ) )AS pvt
                UNION
                SELECT  *
                FROM    ( SELECT    LEFT(DATENAME(MONTH, dispatchdate), 3) AS Months ,
                                    SUM(dispatchmaster.TotalAmount) AS TotalSales ,
                                    'TotalSales' AS TotalOrder
                          FROM      dbo.dispatchmaster
                                    INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
                          WHERE     ( @CustomerId IS NULL
                                      OR dispatchmaster.CustomerID = @CustomerId
                                    )
                                    AND ( @CastingId IS NULL
                                          OR dispatchtrans.CastingId = @CastingId
                                        )
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.dispatchmaster.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.dispatchmaster.EntityID = @EntityId
                                    AND dbo.dispatchtrans.IsDeleted = 0
                          GROUP BY  MONTH(dispatchdate) ,
                                    DATENAME(MONTH, dispatchdate)
                        ) AS s PIVOT
						( SUM(TotalSales) FOR Months IN ( jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec ) )AS pvt;
            END
            
          

        IF @Parameter = 11  --Last Production---------------CHANGED BY HEMANI
        BEGIN
               
			SET @StartDate = (	SELECT		TOP 1 
											ProductionBatch.ProductionDate 
								FROM		ProductionBatch 
								WHERE		IsDeleted=0 
											AND BatchType=0
											AND dbo.ProductionBatch.EntityID = @EntityId              
											AND ( ISNULL(@PlantIdString,'') = ''              
												OR dbo.ProductionBatch.PlantId IN (              
													SELECT Item FROM @Plant )              
											)  
								ORDER BY	batchID DESC
							 )

			SELECT		ISNULL((
							SELECT		SUM(PlanQty * GrossWeight) AS PlanWeight
							FROM		PlanningMaster
										INNER JOIN CastingMaster
										ON CastingMaster.CastingId = PlanningMaster.CastingId
							WHERE		PlanningMaster.IsDeleted = 0
										AND CastingMaster.IsDeleted = 0
										AND ( @PlantIdString IS NULL              
											  OR @PlantIdString = ''              
											  OR dbo.CastingMaster.CastingId IN (              
											  SELECT    CastingId              
											  FROM      dbo.PlantCastingMapping              
														where PlantId in (SELECT Item FROM @Plant) )              
											)              
										AND dbo.CastingMaster.EntityID = @EntityID 
						), 0) AS PlanWeight,
						SUM(ProductionTable.ProductionWeight) AS ProductionWeight,
						SUM(ConsumptionData.ConsumptionQty) AS MoltenMetal,
						ROUND(SUM(ProductionTable.ProductionWeight) / SUM(ConsumptionData.ConsumptionQty), 2) AS Yeild,
						SUM(RRReturn.ReturnQty) AS FoundryReturn,
						SUM(ProductionTable.RejectedQtyTotalWeight) AS TotalRejectedWeight,
						SUM(ProductionBatch.totallossKG) AS TotalLossInKg,
						ROUND(SUM(ProductionBatch.totallossKG) / SUM(ConsumptionData.ConsumptionQty) * 100, 2) AS TotalLossPer
			FROM		ProductionBatch
						INNER JOIN (
							SELECT		batchid,
										ROUND(SUM(productionqty * perpcweight), 2) AS ProductionWeight,
										SUM(rejectedqtytotalweight) AS RejectedQtyTotalWeight
							FROM		knockout
							WHERE		IsDeleted = 0
							GROUP BY	batchid
						) AS ProductionTable
						ON ProductionTable.batchid = ProductionBatch.batchID
						LEFT JOIN (
							SELECT		batchid, 
										SUM(consumptionqty) AS ConsumptionQty
							FROM		Consumption
							WHERE		IsDeleted = 0
							GROUP BY	batchid
						) AS ConsumptionData
						ON ConsumptionData.batchid = ProductionBatch.batchID
						LEFT JOIN (
							SELECT		batchid,	
										SUM(returnQty) AS ReturnQty
							FROM		FoundryReturn 
							WHERE		IsDeleted = 0
							GROUP BY	batchid
						) AS RRReturn
						ON RRReturn.batchid = ProductionBatch.batchID
			WHERE		ProductionBatch.IsDeleted = 0
						AND ProductionBatch.ProductionDate = @StartDate
						AND ProductionBatch.EntityID = @EntityId              
						AND ( ISNULL(@PlantIdString,'') = ''              
							OR ProductionBatch.PlantId IN (              
								SELECT Item FROM @Plant )              
						) 

        END
            
    
        IF @Parameter = 13  -- Sales Summary ----------------------DYNAMIC FINANCIAL YEAR WISE DATE FILTER BY HEMANI
            BEGIN
        
                SELECT  ( SELECT    CONVERT(VARCHAR(20), ( CAST(( Round(ISNULL(SUM(dbo.dispatchtrans.TotalAmount - (dispatchtrans.TotalAmount*DisPer/100) ), 0),2) ) AS MONEY) ), 1) AS CurrentMonth
                          FROM      dbo.dispatchtrans
                                    INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
                          WHERE     ( MONTH(dispatchdate) = MONTH(GETDATE()) )
                                    AND dispatchdate BETWEEN @StartYear AND @EndYear
                                    AND dbo.dispatchmaster.IsDeleted = 0
                                    AND dbo.dispatchtrans.IsDeleted = 0
									AND  dbo.dispatchmaster.ISPROFORMA = 0
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.dispatchmaster.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.dispatchmaster.EntityID = @EntityId
                        ) AS CurrentMonth ,
                        ( SELECT    CONVERT(VARCHAR(20), ( CAST(( Round(ISNULL(SUM(dbo.dispatchtrans.TotalAmount - (dispatchtrans.TotalAmount*DisPer/100) ), 0),2) ) AS MONEY) ), 1) AS CurrentYear
                          FROM      dbo.dispatchtrans
                                    INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
                          WHERE     dispatchdate BETWEEN @StartYear AND @EndYear
                                    AND dbo.dispatchmaster.IsDeleted = 0
                                    AND dbo.dispatchtrans.IsDeleted = 0
									AND  dbo.dispatchmaster.ISPROFORMA = 0
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.dispatchmaster.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.dispatchmaster.EntityID = @EntityId
                        ) AS CurrentYear ,
                        ( SELECT    CONVERT(VARCHAR(20), ( CAST(( Round(ISNULL(SUM(dbo.dispatchtrans.TotalAmount - (dispatchtrans.TotalAmount*DisPer/100) ), 0),2) ) AS MONEY) ), 1) AS PrevMonth
                          FROM      dbo.dispatchtrans
                                    INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
                          WHERE     ( MONTH(dispatchdate) = MONTH(GETDATE()) - 1 )
                                    AND dispatchdate BETWEEN ( @StartYear ) AND ( @EndYear )
                                    AND dbo.dispatchmaster.IsDeleted = 0
                                    AND dbo.dispatchtrans.IsDeleted = 0
									AND  dbo.dispatchmaster.ISPROFORMA = 0
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.dispatchmaster.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.dispatchmaster.EntityID = @EntityId
                        ) AS PrevMonth ,
                        ( SELECT    CONVERT(VARCHAR(20), ( CAST(( Round(ISNULL(SUM(dbo.dispatchtrans.TotalAmount - (dispatchtrans.TotalAmount*DisPer/100) ), 0),2) ) AS MONEY) ), 1) AS PrevYear
                          FROM      dbo.dispatchtrans
                                    INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
                          WHERE     dispatchdate BETWEEN @PrevStartYear AND @PrevEndYear
                                    AND dbo.dispatchmaster.IsDeleted = 0
                                    AND dbo.dispatchtrans.IsDeleted = 0
									AND  dbo.dispatchmaster.ISPROFORMA = 0
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.dispatchmaster.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.dispatchmaster.EntityID = @EntityId
                        ) AS PrevYear ,
                        ( SELECT    CONVERT(VARCHAR(20), ( CAST(( Round(ISNULL(SUM(dbo.dispatchtrans.TotalAmount - (dispatchtrans.TotalAmount*DisPer/100) ), 0),2) ) AS MONEY) ), 1) AS CurrentMonthPrevYear
                          FROM      dbo.dispatchtrans
                                    INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
                          WHERE     MONTH(dispatchdate) = MONTH(GETDATE())
                                    AND dispatchdate BETWEEN @PrevStartYear AND @PrevEndYear
                                    AND dbo.dispatchmaster.IsDeleted = 0
                                    AND dbo.dispatchtrans.IsDeleted = 0
									AND  dbo.dispatchmaster.ISPROFORMA = 0
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.dispatchmaster.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.dispatchmaster.EntityID = @EntityId
                        ) AS CurrentMonthPrevYear 
            END
        IF @Parameter = 14 -- monthwise purchase ----DYNAMIC FINANCIAL YEAR WISE DATE FILTER BY HEMANI
            BEGIN

				SELECT		ROW_NUMBER() OVER (ORDER BY filter, MonthInDigit ASC) AS SrNo,
							Months,
							filter,
							TotalAmount
				FROM		(
								SELECT		DATENAME(MONTH, Orderdate) AS Months,
											MONTH(Orderdate) AS MonthInDigit,
											CASE WHEN ( MONTH(OrderDate) > @FinancialYear - 1 ) THEN 1 ELSE 2 END AS filter,
											SUM(PurchaseOrder_Trans.TotalAmount) + SUM(ISNULL(dbo.PurchaseOrderCastingPurchaseTrans.TotalAmount, 0)) 
											+ SUM(ISNULL(dbo.PurchaseOrderServiceItemTrans.TotalAmount, 0)) AS TotalAmount
								FROM		dbo.PurchaseOrder_Master
											LEFT JOIN dbo.PurchaseOrder_Trans 
											ON dbo.PurchaseOrder_Trans.PurchaseOrderId = dbo.PurchaseOrder_Master.PurchaseOrderId
											AND dbo.PurchaseOrder_Trans.IsDeleted = 0
											LEFT JOIN dbo.PurchaseOrderCastingPurchaseTrans 
											ON dbo.PurchaseOrderCastingPurchaseTrans.PurchaseOrderId = dbo.PurchaseOrder_Master.PurchaseOrderId
											AND dbo.PurchaseOrderCastingPurchaseTrans.IsDeleted = 0
											LEFT JOIN PurchaseOrderServiceItemTrans 
											ON PurchaseOrderServiceItemTrans.PurchaseOrderID = PurchaseOrder_Master.PurchaseOrderId and PurchaseOrderServiceItemTrans.IsDeleted = 0                                                   
								WHERE		( ( (MONTH(OrderDate) > @FinancialYear - 1) AND ( YEAR(OrderDate) = @Start ) )
													OR ( (MONTH(OrderDate) < @FinancialYear ) AND ( YEAR(OrderDate) = @End ) ) )
											AND dbo.PurchaseOrder_Master.IsDeleted = 0
											AND PurchaseOrder_Master.maxversion=1
											AND (@PlantIdString IS NULL 
												OR @PlantIdString = ''
												OR dbo.PurchaseOrder_Master.POPlantID IN (
													SELECT Item FROM @Plant )
												)
											AND dbo.PurchaseOrder_Master.EntityID = @EntityId
								GROUP BY	MONTH(OrderDate) ,
											DATENAME(MONTH, OrderDate)
							) AS A

            END
        IF @Parameter = 15 -- Purchase Summary--DYNAMIC FINANCIAL YEAR WISE DATE FILTER BY HEMANI
            BEGIN
                   
                   --Edited By Roopal Amount in Comma Separated
                        
                SELECT  ( SELECT    CONVERT(VARCHAR(20), ( CAST(( ISNULL(SUM(PurchaseInvoice.TotalAmount), 0) ) AS MONEY) ), 1) AS CurrentMonth
                          FROM      dbo.PurchaseInvoice
                                    --LEFT JOIN dbo.PurchaseInvoiceTrans ON dbo.PurchaseInvoiceTrans.PurchaseInvoiceId = dbo.PurchaseInvoice.PurchaseInvoiceId
                                    --                                      AND dbo.PurchaseInvoiceTrans.IsDeleted = 0
                                    --LEFT JOIN dbo.PurchaseInvoiceCastingPurchaseTrans ON dbo.PurchaseInvoiceCastingPurchaseTrans.PurchaseInvoiceId = dbo.PurchaseInvoice.PurchaseInvoiceId
                                    --                                                     AND dbo.PurchaseInvoiceCastingPurchaseTrans.IsDeleted = 0
                          WHERE     ( MONTH(InvoiceDate) = MONTH(GETDATE()) )
                                    AND ( InvoiceDate BETWEEN @StartYear AND @Endyear )
                                    AND dbo.PurchaseInvoice.IsDelete = 0
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.PurchaseInvoice.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.PurchaseInvoice.EntityID = @EntityId
                        ) AS CurrentMonth ,
                        ( SELECT    CONVERT(VARCHAR(20), ( CAST(( ISNULL(SUM(PurchaseInvoice.TotalAmount), 0) ) AS MONEY) ), 1) AS CurrentYear
                          FROM      dbo.PurchaseInvoice
                                    --LEFT JOIN dbo.PurchaseInvoiceTrans ON dbo.PurchaseInvoiceTrans.PurchaseInvoiceId = dbo.PurchaseInvoice.PurchaseInvoiceId
                                    --                                      AND dbo.PurchaseInvoiceTrans.IsDeleted = 0
                                    --LEFT JOIN dbo.PurchaseInvoiceCastingPurchaseTrans ON dbo.PurchaseInvoiceCastingPurchaseTrans.PurchaseInvoiceId = dbo.PurchaseInvoice.PurchaseInvoiceId
                                    --                                                     AND dbo.PurchaseInvoiceCastingPurchaseTrans.IsDeleted = 0
                          WHERE     ( InvoiceDate BETWEEN @StartYear AND @Endyear )
                                    AND dbo.PurchaseInvoice.IsDelete = 0
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.PurchaseInvoice.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.PurchaseInvoice.EntityID = @EntityId
                        ) AS CurrentYear ,
                        ( SELECT    CONVERT(VARCHAR(20), ( CAST(( ISNULL(SUM(PurchaseInvoice.TotalAmount), 0) ) AS MONEY) ), 1) AS CurrentMonth
                          FROM      dbo.PurchaseInvoice
                                    --LEFT JOIN dbo.PurchaseInvoiceTrans ON dbo.PurchaseInvoiceTrans.PurchaseInvoiceId = dbo.PurchaseInvoice.PurchaseInvoiceId
                                    --                                      AND dbo.PurchaseInvoiceTrans.IsDeleted = 0
                                    --LEFT JOIN dbo.PurchaseInvoiceCastingPurchaseTrans ON dbo.PurchaseInvoiceCastingPurchaseTrans.PurchaseInvoiceId = dbo.PurchaseInvoice.PurchaseInvoiceId
                                    --                                                     AND dbo.PurchaseInvoiceCastingPurchaseTrans.IsDeleted = 0
                          WHERE     ( MONTH(InvoiceDate) = MONTH(GETDATE()) - 1 )
                                    AND dbo.PurchaseInvoice.IsDelete = 0
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.PurchaseInvoice.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.PurchaseInvoice.EntityID = @EntityId
                        ) AS PrevMonth ,
                        ( SELECT    CONVERT(VARCHAR(20), ( CAST(( ISNULL(SUM(PurchaseInvoice.TotalAmount), 0) ) AS MONEY) ), 1) AS CurrentMonth
                          FROM      dbo.PurchaseInvoice
                                    --LEFT JOIN dbo.PurchaseInvoiceTrans ON dbo.PurchaseInvoiceTrans.PurchaseInvoiceId = dbo.PurchaseInvoice.PurchaseInvoiceId
                                    --                                      AND dbo.PurchaseInvoiceTrans.IsDeleted = 0
                                    --LEFT JOIN dbo.PurchaseInvoiceCastingPurchaseTrans ON dbo.PurchaseInvoiceCastingPurchaseTrans.PurchaseInvoiceId = dbo.PurchaseInvoice.PurchaseInvoiceId
                                    --                                                     AND dbo.PurchaseInvoiceCastingPurchaseTrans.IsDeleted = 0
                          WHERE     InvoiceDate BETWEEN @PrevStartYear AND @PrevEndyear
                                    AND dbo.PurchaseInvoice.IsDelete = 0
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.PurchaseInvoice.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.PurchaseInvoice.EntityID = @EntityId
                        ) AS PrevYear ,
                        ( SELECT    CONVERT(VARCHAR(20), ( CAST(( ISNULL(SUM(PurchaseInvoice.TotalAmount), 0) ) AS MONEY) ), 1) AS CurrentMonth
                          FROM      dbo.PurchaseInvoice
                                    --LEFT JOIN dbo.PurchaseInvoiceTrans ON dbo.PurchaseInvoiceTrans.PurchaseInvoiceId = dbo.PurchaseInvoice.PurchaseInvoiceId
                                    --                                      AND dbo.PurchaseInvoiceTrans.IsDeleted = 0
                                    --LEFT JOIN dbo.PurchaseInvoiceCastingPurchaseTrans ON dbo.PurchaseInvoiceCastingPurchaseTrans.PurchaseInvoiceId = dbo.PurchaseInvoice.PurchaseInvoiceId
                                    --                                                     AND dbo.PurchaseInvoiceCastingPurchaseTrans.IsDeleted = 0
                          WHERE     MONTH(InvoiceDate) = MONTH(GETDATE())
                                    AND InvoiceDate BETWEEN @PrevStartYear AND @PrevEndyear
                                    AND dbo.PurchaseInvoice.IsDelete = 0
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.PurchaseInvoice.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.PurchaseInvoice.EntityID = @EntityId
                        ) AS CurrentMonthPrevYear 
               
            END
      
        IF @Parameter = 17 --Metal Groupwise Order
            BEGIN
                SELECT  MetalType ,
                        SUM(dbo.OrderTranse.TotalAmount) AS TotalOrder
                        --SUM(TotalWeight) AS TotalWeight
                FROM    dbo.OrderTranse
                        INNER JOIN dbo.OrderMaster ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                        INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.OrderTranse.MetalID
                WHERE   ( @CustomerID IS NULL
                          OR dbo.OrderMaster.CustomerID = @CustomerID
                        )
                        AND ( dbo.OrderMaster.OrderDate BETWEEN @StartDate AND @EndDate )
                        AND dbo.OrderTranse.IsDeleted = 0
						--added by yashvi
                        AND OrderMaster.IsScheduled= 0
						AND (@PlantIdString IS NULL 
							OR @PlantIdString = ''
							OR dbo.OrderMaster.PlantID IN (
								SELECT Item FROM @Plant )
							)
						AND dbo.OrderMaster.EntityID = @EntityId
                GROUP BY MetalType
            END
        IF @Parameter = 18 --Inquiry Vs Order
            BEGIN
                SELECT  ( SELECT    COUNT(*)
                          FROM      dbo.OrderMaster
                          WHERE     ( @CustomerID IS NULL
                                      OR dbo.OrderMaster.CustomerID = @CustomerID
                                    )
                                    AND ( dbo.OrderMaster.OrderDate BETWEEN @StartDate AND @EndDate )
                                    AND OrderMaster.IsScheduled= 0
									AND (@PlantIdString IS NULL 
										OR @PlantIdString = ''
										OR dbo.OrderMaster.PlantID IN (
											SELECT Item FROM @Plant )
										)
									AND dbo.OrderMaster.EntityID = @EntityId
                        ) AS TotalOrder ,
                        ( SELECT    COUNT(*)
                          FROM      dbo.InquiryMaster
                          WHERE     ( @CustomerID IS NULL
                                      OR dbo.InquiryMaster.CustomerID = @CustomerID
                                    )
                                    AND ( dbo.InquiryMaster.InquiryDate BETWEEN @StartDate AND @EndDate )
                        ) AS TotalInquiry
             
                        
            END
            
					
        IF @Parameter = 19 --Top 5 Customer By Tonage IN KG--DYNAMIC FINANCIAL YEAR WISE DATE FILTER BY HEMANI
            BEGIN
                
                SELECT TOP 5
                        ROW_NUMBER() OVER ( ORDER BY ISNULL(SUM(dbo.dispatchtrans.TotalWeight), 0) DESC ) AS SrNo ,
                        ISNULL(SUM(dbo.dispatchtrans.TotalWeight), 0) AS TotalWeight ,
                         case when @IfActive=1 then CustomerMaster.CustomerCode else CustomerMaster.CustomerName end CustomerName
                FROM    dbo.dispatchtrans
                        INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
                        INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.dispatchmaster.customerID
                WHERE   dbo.dispatchtrans.IsDeleted = 0
                        AND dbo.dispatchmaster.IsDeleted = 0
                        AND ( dispatchdate BETWEEN @StartYear AND @EndYear )
						AND (@PlantIdString IS NULL 
							OR @PlantIdString = ''
							OR dbo.dispatchmaster.PlantID IN (
								SELECT Item FROM @Plant )
							)
						AND dbo.dispatchmaster.EntityID = @EntityId
                GROUP BY CustomerMaster.CustomerName,CustomerMaster.CustomerCode
					
                
            END 
   
        IF @Parameter = 21 --Stock Out items
            BEGIN

				SELECT  DISTINCT ItemName ,
						ItemCode ,
						UOM ,
						SUM(Stock) OVER(PARTITION BY dbo.InventoryDetails.PurchaseItemId,dbo.InventoryDetails.Entity) AS Stock,
						ISNULL(MinStockLevel, 0) AS SafetyStock
				FROM    dbo.PurchaseItemMaster
						INNER JOIN dbo.InventoryDetails ON dbo.InventoryDetails.PurchaseItemId = dbo.PurchaseItemMaster.PurchaseItemId
															and dbo.InventoryDetails.Entity = dbo.PurchaseItemMaster.entityid
						INNER JOIN dbo.UOMMaster ON UOMMaster.UOMid = dbo.PurchaseItemMaster.UnitOfMeasure
				WHERE   dbo.PurchaseItemMaster.IsDeleted = 0
						And Stock < ISNULL(MinStockLevel, 0)	--Added by bhumin sir
						and dbo.PurchaseItemMaster.EntityID = @EntityId
						and PurchaseItemMaster.IsReturnSand = 0

            END

           
            -- Use in POFollowUp [Supplier Name Link]
        IF @Parameter = 23
            BEGIN
                SELECT  Email ,
                        ContactNo
                FROM    ContactMaster
                WHERE   CustomerId = @CustomerId
            END
           
            
    END
GO
