USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GetNotificationForWhatsappMessage]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Prashant>
-- Create date: <2024-08-20>
-- Description:	<Get Notification for send whatasapp>
-- =============================================
CREATE PROCEDURE [dbo].[GetNotificationForWhatsappMessage]

AS
BEGIN

	SET NOCOUNT ON;

	--SELECT WhatsappNotificationsId, ShortDescription 
	--FROM WhatsappNotifications
	--WHERE IsSend = 0


	SELECT WhatsappNotificationsId, ShortDescription, UM.UserId, 
		ISNULL(EmployeeName, '') + ' ' + ISNULL(LastName, '') AS UserName, MobileNo
	FROM WhatsappNotifications WN 
		INNER JOIN NotificationUserMapping NUM ON NUM.NotificationId = WN.NotificationsId		
		LEFT JOIN UserMaster UM ON UM.UserId = NUM.UserId
		LEFT JOIN EmployeeDetails ED ON ED.EmployeeId = UM.EmployeeId
	WHERE IsSend = 0
	
	UPDATE WhatsappNotifications SET IsSend = 1
	
END
GO
