USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Update_MoldingEntryMasterBunchWeight]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Harshad Chauhan>
-- Create date: <30 Jan 2021>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Update_MoldingEntryMasterBunchWeight]
	-- Add the parameters for the stored procedure here
	@Parameter INT 
  , @MoldingEntryMasterId UNIQUEIDENTIFIER = NULL
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF (@Parameter = 1)
	BEGIN
		UPDATE MoldingEntryMaster
		SET MoldingEntryMaster.BunchWeight = Final2.UpdatedBunchweight
		FROM (
			SELECT *
			FROM (
				select	FindCastingWeight.Dieid, FindCastingWeight.GrossWeight
						, met.Qty, mem.MoldQty, mem.BunchWeight, met.Moldingfrom
						, met.MoldingEntryMasterId, met.MoldingEntryTransId
						, SUM(GrossWeight*Qty*MoldQty) OVER(PARTITION BY met.MoldingEntryMasterId) AS UpdatedBunchweight
				from MoldingEntryTrans AS met
				INNER JOIN MoldingEntryMaster AS mem ON mem.MoldingEntryMasterId = met.MoldingEntryMasterId
				INNER JOIN PatternMaster AS pm ON pm.PatternId = met.PatternId
				LEFT JOIN (
						SELECT * FROM (
								SELECT	ROW_NUMBER() OVER(PARTITION BY CastingMaster.Dieid ORDER BY CastingMetal.GrossWeight DESC) AS TopWeightNo
										, CastingMaster.Dieid, CastingMaster.CastingId AS CastingId
										, CastingMetal.GrossWeight
								FROM	CastingMetal
										INNER JOIN CastingMaster ON CastingMetal.castingID = CastingMaster.CastingId
												AND ParentID IS NULL AND CastingMaster.IsDeleted = 0
												AND CastingMetal.IsDeleted = 0 AND CastingMetal.IsProductionGrade = 0
										INNER JOIN PatternMaster ON PatternMaster.PatternId = CastingMaster.Dieid
																AND PatternMaster.PatternTypeId = 1 and PatternMaster.IsAnotherMethoding = 0
										--INNER JOIN MoldingEntryTrans ON (CastingMaster.CastingId = MoldingEntryTrans.CastingId
										--								OR (ISNULL(MoldingEntryTrans.CastingId, CAST(0x0 as UNIQUEIDENTIFIER)) = CAST(0x0 as UNIQUEIDENTIFIER)
										--									AND CastingMaster.Dieid = MoldingEntryTrans.PatternId))
						) AS Final WHERE Final.TopWeightNo = 1
						
						UNION 
						
						SELECT * FROM ( 
								SELECT	ROW_NUMBER() OVER ( PARTITION BY CastingMetal.castingID ORDER BY CastingMetal.castingID DESC ) AS rn ,
										PCM.PatternId, CastingMetal.castingID ,
										CastingMetal.GrossWeight
								FROM	CastingMetal
										inner join PatternCastingMapping as PCM on PCM.CastingId = CastingMetal.castingID
																			AND PCM.NoOfCavities > 0
										INNER JOIN CastingMaster ON CastingMetal.castingID = CastingMaster.CastingId
														and PCM.CastingId = CastingMaster.castingID AND CastingMaster.IsDeleted = 0
										--INNER JOIN MoldingEntryTrans ON (CastingMaster.CastingId = MoldingEntryTrans.CastingId
										--								OR (ISNULL(MoldingEntryTrans.CastingId, CAST(0x0 as UNIQUEIDENTIFIER)) = CAST(0x0 as UNIQUEIDENTIFIER)
										--									AND CastingMaster.Dieid = MoldingEntryTrans.PatternId))
						) AS WeightTable WHERE rn = 1
				) AS FindCastingWeight ON (FindCastingWeight.Dieid = met.PatternId
											AND (FindCastingWeight.CastingId = met.CastingId
												OR (ISNULL(met.CastingId, CAST(0x0 AS UNIQUEIDENTIFIER)) = CAST(0x0 AS UNIQUEIDENTIFIER))))
				WHERE mem.IsDeleted = 0 AND met.IsDeleted = 0
				 AND met.Moldingfrom != 3
			) AS Final
			WHERE CAST(Final.BunchWeight AS DECIMAL) <> CAST(Final.UpdatedBunchweight AS DECIMAL)
			AND (@MoldingEntryMasterId IS NULL OR Final.MoldingEntryMasterId = @MoldingEntryMasterId)
		) AS Final2
		WHERE Final2.MoldingEntryMasterId = MoldingEntryMaster.MoldingEntryMasterId
	END
END
GO
