USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[DispatchAdvice_Register_Delete]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[DispatchAdvice_Register_Delete]
	@DispatchAdviceTransId UNIQUEIDENTIFIER = NULL,
	@DispatchAdviceId UNIQUEIDENTIFIER = NULL,
	@Deleted_By INT = 0 ,
    @Deleted_On DATETIME = NULL ,
    @EntityId INT = 0,
    @PackingId UNIQUEIDENTIFIER = NULL,
    @DispatchAdviceCastingId UNIQUEIDENTIFIER = NULL
AS
    BEGIN  
		BEGIN TRANSACTION
		BEGIN TRY 
		
		       if Exists(SELECT  *     
                                    FROM    DispatchAdvice      
                                    WHERE   DispatchAdviceId =  @DispatchAdviceId  and IsDeleted = 1 ) 
                                    begin
                                       ROLLBACK TRANSACTION
					                   RETURN -3
                                    end 

        IF EXISTS (SELECT * from DispatchAdvice where DispatchAdviceId = @DispatchAdviceId and IsDone = 1)
		BEGIN
		   ROLLBACK TRANSACTION
		   return -2
		END
		
   --       -- Updated by Juhi Singh on 30-09-2025
			--UPDATE orderTrans
			--SET 
			--	orderTrans.dispatch_outward = CASE WHEN pb.BatchType = 3 THEN orderTrans.dispatch_outward - dispatchadviceItem.Quantity ELSE orderTrans.dispatch_outward END,
   --             orderTrans.dispatch_inward = CASE WHEN pb.BatchType <> 3 OR pb.BatchType IS NULL THEN orderTrans.dispatch_inward - dispatchadviceItem.Quantity	ELSE orderTrans.dispatch_inward END
			--FROM OrderTranse AS orderTrans
			--JOIN DispatchAdviceTrans AS dispatchadviceItem
			--	ON orderTrans.CustomerOrderId = dispatchadviceItem.CustomerOrderId
			--	AND orderTrans.CastingId = dispatchadviceItem.CastingId
			--	AND dispatchadviceItem.DispatchAdviceId = @DispatchAdviceId
			--	AND dispatchadviceItem.EntityId = @EntityId
			--JOIN DispatchAdviceHeatwise AS dispatchAdviceBatch
			--	ON dispatchAdviceBatch.DispatchAdviceTransId = dispatchadviceItem.DispatchAdviceTransId
			--JOIN CastingStockBatch AS csb 
			--	ON csb.BatchId = dispatchAdviceBatch.BatchId
			--JOIN ProductionBatch AS pb 
			--	ON pb.BatchId = csb.ProductionBatchID;
			---- Updated by Juhi Singh on 30-09-2025
        Update DispatchAdvice set IsDeleted = 1 ,DeletedOn = @Deleted_On,DeletedBy =  @Deleted_By   where  DispatchAdvice.DispatchAdviceId = @DispatchAdviceId
        delete from DispatchAdviceHeatwise where DispatchAdviceHeatwise.DispatchAdviceTransId in( 
        select DispatchAdviceTrans.DispatchAdviceTransId from DispatchAdviceTrans where  DispatchAdviceTrans.DispatchAdviceId = @DispatchAdviceId )
        
        Update DispatchAdviceTrans set isdeleted = 1, DeletedOn = @Deleted_On, DeletedBy = @Deleted_By where DispatchAdviceTrans.DispatchAdviceId = @DispatchAdviceId AND EntityId=@EntityId
        
      
         END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION 		
			 return -1 
			END	
        END Catch
        COMMIT TRANSACTION
        
        RETURN 1;
	END
GO
