USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateEwayDistance]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Ankit Prajapati	
-- Create date: 14-05-2023
-- Description:	Update actual EwayBill distance in DispatchMaster
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdateEwayDistance]
@dispatchId bigint, 
@ewbNo bigint,
@distanceInKM int,
@type int,
@uni_Id uniqueidentifier = null
AS
BEGIN
BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	update EwayDetails
	set DistanceInKM = @distanceInKM
	where ((@dispatchId != 0 and ID = @dispatchId)
		Or (@uni_Id is not null and UniqueId = @uni_Id))
	and EWayBillNo = @ewbNo
	and type = @type


	select 1;

END TRY
BEGIN CATCH
   select 0;
END CATCH
END


GO
