USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[NotificationLogReport]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author Name: < YASHVI SHAH >
-- Create date: < 30 OCTOBER 2017 >
-- Description:	<This Procedure is used for NotificatioLog Report>
-- =============================================
CREATE PROCEDURE [dbo].[NotificationLogReport]
	@Parameter INT = 0,
	@UserId INT = 0,
	@Title  VARCHAR(150) = NULL,
	@StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL,
    @ID UNIQUEIDENTIFIER = NULL,
    @IsNotificationOrReminder INT = 0,
    @IsRead BIT = 'false',
    @IsNotRead BIT = 'false',
    @UserIdFrom INT = 0,
    @UserIdTo   INT = 0
    
AS
BEGIN
	 IF @Parameter = 1 --This Will Fetch UserId and UserName
	 BEGIN
	 
	 SELECT DISTINCT NotificationUserMapping.UserId,
			UserMaster.UserName
			FROM NotificationUserMapping
			INNER JOIN UserMaster ON UserMaster.UserId = NotificationUserMapping.UserId
			order by UserName
	 END
	 
	 IF @Parameter = 2 --This Will Fetch Title
	 BEGIN
	 
	 SELECT DISTINCT Notifications.Title FROM Notifications order by Title 
	 
	 END
	 
	 IF @Parameter = 3 
	 BEGIN
	 
	  
        Select  Notifications.Title,
                NotificationUserMapping.UserId as [UserId],
				NotificationUserMapping.NotificationId AS [ID],
        UserMaster.UserName,
        CASE WHEN NotificationUserMapping.IsMarkedAsRead = 1 THEN
				'YES'
		ELSE
			 'NO'
		END AS ReadOrNot,
		Convert(Varchar(50),NotificationUserMapping.ReadOn,100) AS [ReadOn],
		Convert(varchar(50),NotificationUserMapping.CreatedOn,100) AS [CreatedOn],
		1 AS [IsNotificationOrReminder],
		CASE WHEN NotificationUserMapping.ReadOn IS NOT NULL AND NotificationUserMapping.CreatedOn IS NOT NULL THEN 
		ISNULL(DATEDIFF(Minute,
                                          NotificationUserMapping.CreatedOn,
                                           NotificationUserMapping.ReadOn),0) 
       
        
        END AS [Difference],
        '' AS [Diff],
        Notifications.ShortDescription as [Description]
		FROM Notifications
		INNER JOIN NotificationUserMapping
		ON Notifications.Id = NotificationUserMapping.NotificationId
		INNER JOIN UserMaster ON UserMaster.UserId = NotificationUserMapping.UserId
		
		
      WHERE ( @UserId = 0 OR  NotificationUserMapping.UserId = @UserId)
       AND ( @Title IS NULL OR Notifications.Title = @Title)
   AND ( NotificationUserMapping.CreatedOn BETWEEN @StartDate
                                                 AND   @EndDate )
          AND ( @IsRead = 'false'
                              OR ( NotificationUserMapping.IsMarkedAsRead <> 0 )
                            )
                    AND ( @IsNotRead = 'false'
                              OR ( NotificationUserMapping.IsMarkedAsRead <> 1 )
                            )
         
      ORDER BY Convert(DATETIME,NotificationUserMapping.CreatedOn,100) DESC
	 
	 END
	 
	 IF @Parameter = 4 -- Fetch Title which shows in PopUp
	 BEGIN
	
	
	 SELECT Reminder.Note AS [Title] 
			FROM 
			Reminder
			order by [Title]
	 
	 END
	
	 
	 IF @Parameter = 5 -- Fetch From User
	 BEGIN
	 
	 SELECT DISTINCT Reminder.CreatedBy AS [UserId],
			UserMaster.UserName
			FROM Reminder
			INNER JOIN UserMaster ON UserMaster.UserId = Reminder.CreatedBy
			order by UserName
	 END
	 
	 
	 IF @Parameter = 6 -- Fetch To User
	 BEGIN
	 
	 SELECT DISTINCT Reminder.ReminderCreateForUser AS [UserId],
			UserMaster.UserName
			FROM Reminder
			INNER JOIN UserMaster ON UserMaster.UserId = Reminder.ReminderCreateForUser
			order by UserName 
	 END
	 
	 IF @Parameter = 7 --For Reminder
	 BEGIN
	 
	 Select    Reminder.Note [Title],
		       Reminder.CreatedBy  as [UserId],
		       Reminder.ReminderId AS [ID],
		       UserMaster.UserName as [UserFrom],
		       UserMaster1.UserName as [UserTo],
		       CASE WHEN Reminder.IsRead = 1 THEN
				'YES'
		ELSE
			 'NO'
		END AS ReadOrNot,
		Convert(varchar(50),Reminder.ReadOnTime,100) AS [ReadOn],
		Convert(varchar(50),RemindeR.ReminderTime,100) AS [CreatedOn],
		0 AS [IsNotificationOrReminder],
		CASE WHEN Reminder.ReadOnTime IS NOT NULL AND Reminder.CreatedOn IS NOT NULL THEN 
		ISNULL(DATEDIFF(Minute,
                                          Reminder.CreatedOn,
                                          Reminder.ReadOnTime),0) 
       
        
        END AS [Difference],
         '' AS [Diff]
         , dbo.EmployeeDetails.ProfilePic
		FROM Reminder
		INNER JOIN UserMaster 
		ON UserMaster.UserId = Reminder.CreatedBy
		INNER JOIN UserMaster AS UserMaster1 ON UserMaster1.UserId = Reminder.ReminderCreateForUser
		LEFT JOIN dbo.EmployeeDetails on dbo.UserMaster.EmployeeId = dbo.EmployeeDetails.EmployeeId AND ISNULL(dbo.EmployeeDetails.IsDelete, 0) = 0
		
      WHERE ( @UserIdFrom = 0 OR  Reminder.CreatedBy = @UserIdFrom)
      AND   ( @UserIdTo = 0 OR  Reminder.ReminderCreateForUser = @UserIdTo)
       AND ( @Title IS NULL OR Reminder.Note = @Title)
   AND ( Reminder.CreatedOn BETWEEN @StartDate
                                                 AND   @EndDate )
          AND ( @IsRead = 'false'
                              OR ( Reminder.IsRead <> 0 )
                            )
          AND ( @IsNotRead = 'false'
                              OR ( Reminder.IsRead <> 1 )
                            )
      ORDER BY Convert(DATETIME,Reminder.CreatedOn,100) DESC

	 END
	 
	 
IF @Parameter = 8 --For Sender Confirmation Grid
	 BEGIN
	 
	 Select    Reminder.Note [Title],
		       Reminder.CreatedBy  as [UserId],
		       Reminder.ReminderId AS [ID],
		       UserMaster.UserName as [UserFrom],
		       UserMaster1.UserName as [UserTo],
		       CASE WHEN Reminder.IsRead = 1 THEN
				'YES'
		ELSE
			 'NO'
		END AS ReadOrNot,
		Convert(varchar(50),Reminder.ReadOnTime,100) AS [ReadOn],
		Convert(varchar(50),RemindeR.ReminderTime,100) AS [CreatedOn],
		0 AS [IsNotificationOrReminder],
		CASE WHEN Reminder.ReadOnTime IS NOT NULL AND Reminder.CreatedOn IS NOT NULL THEN 
		ISNULL(DATEDIFF(Minute,
                                          Reminder.CreatedOn,
                                          Reminder.ReadOnTime),0) 
       
        
        END AS [Difference],
         '' AS [Diff]
         , dbo.EmployeeDetails.ProfilePic
		FROM Reminder
		INNER JOIN UserMaster 
		ON UserMaster.UserId = Reminder.CreatedBy
		INNER JOIN UserMaster AS UserMaster1 ON UserMaster1.UserId = Reminder.ReminderCreateForUser
		LEFT JOIN dbo.EmployeeDetails on dbo.UserMaster.EmployeeId = dbo.EmployeeDetails.EmployeeId AND ISNULL(dbo.EmployeeDetails.IsDelete, 0) = 0
		
      WHERE IsSenderApproved = 0
		AND   ( @UserIdTo = 0 OR  Reminder.ReminderCreateForUser = @UserIdTo)
		AND ( Reminder.CreatedOn BETWEEN @StartDate AND @EndDate )
		AND (Reminder.CreatedBy = @UserId)
      ORDER BY Convert(DATETIME,Reminder.CreatedOn,100) DESC

	 END
	 
IF @Parameter = 9 -- Fetch To User
	 BEGIN
	 
	 SELECT DISTINCT Reminder.ReminderCreateForUser AS [UserId],
			UserMaster.UserName
			FROM Reminder
			INNER JOIN UserMaster ON UserMaster.UserId = Reminder.ReminderCreateForUser
			Where IsSenderApproved = 0 
				AND (Reminder.CreatedBy = @UserId) order by UserName
	 END
	 
	
END
GO
