USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_MoldingInspectionEntry]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_MoldingInspectionEntry]
	-- Add the parameters for the stored procedure here
    @Parameter INT = 0 ,
    @MoldingEntryMaster_Date DATE = NULL ,
    @InspectionID INT = 0 ,
    @InspectionDate DATE = NULL ,
    @StartTime TIME = NULL ,
    @EndTime TIME = NULL ,
    @CreatedBy INT = NULL ,
    @CreatedOn DATETIME = NULL ,
    @MoldInspectionTransID INT = NULL ,
    @MoldingEntryMasterID UNIQUEIDENTIFIER = NULL ,
    @MoldCheckListId INT = 0 ,
    @CheckListID INT = 0 ,
    @Status INT = NULL ,
    @Remarks VARCHAR(MAX) = NULL ,
    @MoldInspectionValue VARCHAR(MAX) = NULL ,
    @CheckListValue VARCHAR(MAX) = NULL ,
    @MoldInspectionValueXML XML = NULL ,
    @CheckListValueXML XML = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL,
    @EntityId INT = 0
AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;
declare @PatternIdTable table (Item UNIQUEIDENTIFIER) 
        IF @Parameter = 1
            BEGIN
            Insert into @PatternIdTable SELECT item  FROM CustomerPatternMappingFunctionWithCasting(@PlantIdString)     
                SELECT DISTINCT
                        PatternMaster.PatternCode AS PatternCode ,
                        ( EmployeeDetails.EmployeeName + '/'
                          + EmployeeDetails.EmployeeCode ) AS Molder ,
                        SandTypeMaster.SandType AS SandType ,
                        MoldingEntryMaster.MoldQty AS NoOfMold ,
                        MoldingEntryMaster.MoldingEntryMasterId AS MoldingEntryMasterId
                FROM    MoldingEntryTrans
                        INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingEntryTrans.MoldingEntryMasterId
                        INNER JOIN PatternMaster ON MoldingEntryTrans.PatternId = PatternMaster.PatternId
                        INNER JOIN EmployeeDetails ON MoldingEntryMaster.MolderId = EmployeeDetails.EmployeeId
                        INNER JOIN SandTypeMaster ON MoldingEntryMaster.SandTypeId = SandTypeMaster.SandTypeId
                        AND SandTypeMaster.IsDeleted = 0
                WHERE   MoldingEntryTrans.IsDeleted = 0
                        AND EmployeeDetails.IsDelete = 0
                        AND MoldingEntryMaster.IsDeleted = 0
                        AND PatternMaster.IsDeleted = 0
                        AND MoldingEntryMaster.Date = @MoldingEntryMaster_Date
                        AND ( MoldingEntryMaster.IsInspectionDone IS NULL
                              OR MoldingEntryMaster.IsInspectionDone = 0
                            )
                        AND ( @PlantIdString IS NULL
                              OR @PlantIdString = ''
                              OR MoldingEntryTrans.PatternId IN (
                              select item from @PatternIdTable )
                            )
                        AND MoldingEntryMaster.EntityID = @EntityId	
                            delete from @PatternIdTable;
	
            END
        IF @Parameter = 2
            BEGIN
                SELECT DISTINCT
                        MoldCheckList.Checklist ,
                        MoldCheckList.ID
                FROM    MoldCheckList
                WHERE   IsDeleted = 0
            END
        IF @Parameter = 3
            BEGIN           
			   BEGIN TRANSACTION
				BEGIN TRY
                SET @CreatedOn = GETDATE();
           
                INSERT  INTO MoldInspectionMaster
                        ( InspectionDate ,
                          StartTime ,
                          EndTime ,
                          CreatedBy ,
                          CreatedOn
                        )
                VALUES  ( @InspectionDate ,
                          @StartTime ,
                          @EndTime ,
                          @CreatedBy ,
                          @CreatedOn
                        )
              
                SET @InspectionID = SCOPE_IDENTITY(); 
              
		--"MoldInspectionCursor" is a Cursor name that will be declared
                DECLARE MoldInspectionCursor CURSOR --Create Cursor for MoldInspectionCursor amc xml file
                FOR
                    SELECT  Node.value('(MoldingEntryMasterID )[1]',
                                       'UNIQUEIDENTIFIER') AS 'MoldingEntryMasterID'
                    FROM    @MoldInspectionValueXML.nodes('/DocumentElement/Mold_Inspection') --Table name "Mold_Inspection"
                            AS TEMPXML ( Node ) 
                OPEN	MoldInspectionCursor;
		        
                FETCH NEXT FROM MoldInspectionCursor INTO @MoldingEntryMasterID
                WHILE ( @@FETCH_STATUS = 0 ) --While Loop
                    BEGIN
            	
                        INSERT  INTO MoldInspectionTrans
                                ( InspectionID ,
                                  MoldingEntryMasterID
                                )
                        VALUES  ( @InspectionID ,
                                  @MoldingEntryMasterID
                                )
                        
                        UPDATE  MoldingEntryMaster
                        SET     IsInspectionDone = 1
                        WHERE   MoldingEntryMasterID = @MoldingEntryMasterID
                        FETCH NEXT FROM MoldInspectionCursor INTO @MoldInspectionValue
                    END 

                CLOSE MoldInspectionCursor;
                DEALLOCATE MoldInspectionCursor;
                
                
                --"CheckListCursor" is a Cursor name that will be declared
                DECLARE CheckListCursor CURSOR --Create Cursor for CheckListCursor amc xml file
                FOR
                    SELECT  Node.value('(CheckListID )[1]', 'INT') AS 'CheckListID' ,
                            Node.value('(Status )[1]', 'Bit') AS 'Status' ,
                            Node.value('(Remarks )[1]', 'Varchar(Max)') AS 'Remarks'
                    FROM    @CheckListValueXML.nodes('/DocumentElement/CheckList') --Table name "CheckList"
                            AS TEMPXML ( Node ) 
                OPEN	CheckListCursor;
		        
                FETCH NEXT FROM CheckListCursor INTO @CheckListID, @Status,
                    @Remarks
                WHILE ( @@FETCH_STATUS = 0 ) --While Loop
                    BEGIN
                        INSERT  INTO MoldInspectionChecklistTrans
                                ( InspectionID ,
                                  CheckListID ,
                                  Status ,
                                  Remarks
                                )
                        VALUES  ( @InspectionID ,
                                  @CheckListID ,
                                  @Status ,
                                  @Remarks
                                )
                           
                        FETCH NEXT FROM CheckListCursor INTO @CheckListID,
                            @Status, @Remarks
                    END 

                CLOSE CheckListCursor;
                DEALLOCATE CheckListCursor;
            END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','MoldInspectionCursor') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','MoldInspectionCursor') > -1
				   BEGIN
					CLOSE MoldInspectionCursor
				   END
				 DEALLOCATE MoldInspectionCursor
				END
				IF CURSOR_STATUS('global','CheckListCursor') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','CheckListCursor') > -1
				   BEGIN
					CLOSE CheckListCursor
				   END
				 DEALLOCATE CheckListCursor
				END		
			 return
			END	
        END Catch
		Commit TRANSACTION		
            END
	
        IF @Parameter = 4
            BEGIN
                SELECT  MoldInspectionMaster.InspectionDate ,
                        CONVERT(VARCHAR(15), CAST(MoldingEntryMaster.StartTime AS TIME), 100) AS StartTime ,
                        CONVERT(VARCHAR(15), CAST(MoldingEntryMaster.EndTime AS TIME), 100) AS EndTime ,
                        MoldingEntryMaster.MoldQty ,
                        ISNULL(PatternMaster.LetterDetail, '') AS LetterDetail ,
                        SandTypeMaster.SandType AS SandType ,
                        ( EmployeeDetails.EmployeeName + ' '
                          + ISNULL(EmployeeDetails.MiddleName, '') + ' '
                          + ISNULL(EmployeeDetails.LastName, '') ) AS Molder ,
                        ISNULL(edetail.EmployeeName + ' '
                               + ISNULL(edetail.MiddleName, '') + ' '
                               + ISNULL(edetail.LastName, ''),
                               UserMaster.UserName) AS InspectedBy ,
                        PatternMaster.PatternCode
                FROM    MoldingEntryMaster
                        INNER JOIN EmployeeDetails ON MoldingEntryMaster.MolderId = EmployeeDetails.EmployeeId
                        INNER JOIN MoldInspectionTrans ON MoldingEntryMaster.MoldingEntryMasterId = MoldInspectionTrans.MoldingEntryMasterID
                        INNER JOIN MoldInspectionMaster ON MoldInspectionTrans.InspectionID = MoldInspectionMaster.InspectionID
                        INNER JOIN MoldingEntryTrans ON MoldingEntryMaster.MoldingEntryMasterId = MoldingEntryTrans.MoldingEntryMasterId
                        INNER JOIN PatternMaster ON PatternMaster.PatternId = MoldingEntryTrans.PatternId
                        INNER JOIN SandTypeMaster ON MoldingEntryMaster.SandTypeId = SandTypeMaster.SandTypeId
                        AND SandTypeMaster.IsDeleted = 0
                        INNER JOIN UserMaster ON UserMaster.UserId = MoldInspectionMaster.CreatedBy
                        LEFT JOIN EmployeeDetails AS edetail ON UserMaster.EmployeeId = edetail.EmployeeId
                WHERE   MoldingEntryMaster.IsDeleted = 0
                        AND MoldingEntryMaster.MoldingEntryMasterId = @MoldingEntryMasterID
		
                SELECT  MoldInspectionChecklistTrans.Status ,
                        MoldInspectionChecklistTrans.Remarks AS Remark ,
                        MoldCheckList.Checklist ,
                        MoldCheckList.Type
                FROM    MoldInspectionChecklistTrans
                        INNER JOIN MoldCheckList ON MoldInspectionChecklistTrans.CheckListID = MoldCheckList.ID
                        INNER JOIN MoldInspectionTrans ON MoldInspectionTrans.InspectionID = MoldInspectionChecklistTrans.InspectionID
                WHERE   MoldInspectionTrans.MoldingEntryMasterID = @MoldingEntryMasterID
                        AND MoldCheckList.IsDeleted = 0
		
            END
    END
GO
