USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeDetails]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_EmployeeDetails](
@Parameter int=0,
@EmployeeId int=0,
@EmployeeName varchar(100)=null,
@EmployeeCode nvarchar(50)=null,
@Gender varchar(50)=null,
@EntityId int =0,
@ShiftId int=0,
@IsDummy int=0,
@ShowInHR int = 1,
@isActive bit=null,
@MiddleName varchar(100)=null,
@LastName varchar(100)=null,
@OtherName varchar(50)=null,
@DOB datetime=null,
@Salary float=0,
@JoiningDate datetime=null,
@EmployeeType int=0,
@DepartmentDetail XML = NULL,
@CreatedBy int =0,
@CreatedOn datetime = null,
--@Shift varchar (100) = null,
@Isdelete int =0,
@isEmpCodeOrName int = 0,
@SysDepartmentID uniqueidentifier = null,
@IsDeleteEmployee int=0,
@ShiftName varchar(50)=null,
@StartTime datetime=null,
@EndTime datetime = null,
@ShortCode varchar(10)=null,
@EntityIdShift int =0,
@isFilterDeleteFlag INT = 0,      
@isFilterActiveFlag INT = 0,
@productionDetail AS XML = NULL ,
@ProcessId UNIQUEIDENTIFIER = NULL ,
@DepartmentCode varchar(20) = NULL,
@EMPType INT =0,
@SysDepartMentMapping bit=0,
@DepartmentId uniqueidentifier = null
, @EmailID NVARCHAR(500) = NULL
, @MobileNo VARCHAR(100) = NULL
, @ProfilePic IMAGE = NULL,
@ShiftType int = 1,
@Capacity int =1,
@ProcessDetail  AS XML = NULL ,
@CardNo VARCHAR(50) = NULL ,
@ShiftTypeNew INT = 0 ,
@lblTempText VARCHAR(100) = NULL ,
@lblNo INT = 0,
@IsForging INT = 0,
@ContractorId int = 0,
@ModifiedBy int =0,
@DeletedBy int =0  ,
@EquipmentId uniqueidentifier = null,
@WeekOff int =0,
@ModeOfPayment int = 0,
@AccountNo varchar(30)= null,
@IFSCNo varchar(30)= null,
@BankName varchar(30)= null,
@BenificiaryName varchar(30)= null,
@UANNo varchar(30)= null,
@PFNo varchar(30)= null,
@ESICNo varchar(30)= null,
@BasicAmount float = 0,
@ConveyanceAllowance float = 0,
@HRAAllowance float = 0,
@SpecialAllowance float = 0 ,
@IncentiveAllowance float = 0,
@PFEligible bit = 0,
@ESICEligible bit = 0,
@PTEligible bit = 0,
@PFAmount float = 0,
@ESICAmount float = 0,
@PTAmount float = 0,
@EffectiveFrom datetime=null,
@Photo VARCHAR(MAX) = NULL,
@ImagePathDetails AS XML = NULL,
@SrNo INT = 0,
@ImagePathId UNIQUEIDENTIFIER = NULL,
@ImageName VARCHAR(MAX) = NULL,
@DeleteImage VARCHAR(max) = NULL,
@ImageDelete AS XML = NULL ,
@AllowanceDetail AS XML = NULL ,
@AllowanceId uniqueidentifier = null,
@Amount float = null,
@YearlyAmount float = null,
@IsDeleted bit = null,
@Id UNIQUEIDENTIFIER = NULL
--@EffectiveDate datetime = null
,@OriginalName varchar(max) = null ,
@EarningId int = 0,
@TemplateId UNIQUEIDENTIFIER = NULL,
@TemplateDetail AS XML = NULL, 
@TemplateName varchar(max) = null,
@ModifiedOn  datetime=null,
@DeletedOn datetime=null ,
@EmployerContributionType int = 0,
@EmpContributionType int =0,
@EmpContributionAmount float = 0,
@EmployerContributionAmount float = 0,
@EmpContributionPerRate float = 0,
@EmployerContributionPerRate float = 0,
@ESIAmount float = 0,
@EPFAmount float = 0,
@EDLIAmount float= 0,
@AdminCharge float = 0,
@DeductionDetail as XML = NULL,
@DeductionId int = 0,
@DeductionType int = 0 ,
@GrossPay float= 0,
@LabourWelEligible bit = 0, 
@EmployeeGroupId int = 0,
@TypeofEmployeeId int = 0,
@PANNumber varchar(50) = null,
@AadharCardNo varchar(Max) = null,
@LicenceNo varchar(Max) = null,
@HistoryId int= 0  ,
@TaxRegime int= 0  ,
@OTCalculation bit = 0,
@IsCheckMachineCode bit =0,
@FinalSettlementDate datetime = null,
@InitialExitDate datetime = null,
@IsInitialExit bit = 0,
@CommonDataId int = 0 ,
--@PayOutMonth datetime = null,
@EffectiveDate datetime =null,
@OldEffectiveDate datetime =null,
@OldSalary decimal =0,
@NewSalary decimal =0,
@Arrears decimal = 0 ,
@DifferenceAmount decimal = 0, 
@DifferenceMonth decimal = 0 ,
@EarningIdForArrears int = 0 ,
@IsHistory int  = 0,
@SalCalculatedOn bit = 0  ,
@EmployeeDeptId int = 0,
@configmonth int = 0 ,
@CurrentstartDate datetime = null,
@currentEndDate datetime = null,
@monthdiff int = 0 ,
@diff float = 0,
@GratuityEligible bit = 0,
@GratuityPer float = 0 ,
@BonusEligible bit = 0 ,
@BonusPer float = 0, 
@BonusApplicableon int = 0 ,
@BonusDetail  as XML = NULL,
@Months int = 0,
@TwelveEightHoursBasis bit = 0,
@GratuityValue float = 0 ,
@IsAllowance int = 0 ,
@IsEarning int = 0 ,
@RevisedValue int = 0,
@LWFAmount float = 0,
@HolidayParentId uniqueidentifier = null,
@BankId uniqueidentifier = null,
@EsicEnddate Datetime = null
 )
	
AS	
	DECLARE @TotalLeave int = 0,@FYStartDate smalldatetime, @FYEndDate smalldatetime
	if @Parameter = 1
	BEGIN
	Declare @eId uniqueidentifier  = newid()
	
	declare 
            @CostCenterId int,
            @CostRatio float
	
	if(@EmployeeGroupId != 0)
		Begin
		if EXISTS(select 1 From leaveallocationMaster where CommonDataId = @EmployeeGroupId and EntityId =@EntityId and IsDeleted = 0)
		begin
			set @TotalLeave =(select isnull(TotalLeave,0) From leaveallocationMaster where CommonDataId = @EmployeeGroupId and EntityId =@EntityId and IsDeleted = 0)
		end
		END

	   insert into EmployeeDetails(EmployeeName,
								   CardNo,
								   EmployeeCode,
								   Gender,
								   EntityId,
								   ShiftId,
								   IsDummy,
								   ShowInHR,
								   isActive,
								   MiddleName,
								   LastName,
								   OtherName,
								   DOB,
								   Salary,
								   JoiningDate,
								   EmployeeType,
								   IsDelete,								  
								   EmailId, 
								   MobileNo, 
								   ProfilePic , 
								   ContractorId,
								   CreatedBy,
								   CreatedOn,
								   WeekOff,
								   ModeOfPayment,
								   AccountNo,
								   IFSCNo,
								   BankName,
								   BenificiaryName,
								   UANNo,PFNo,
								   ESICNo,
								   PFEligible,
								   ESICEligible,
								   PTEligible,
								   PFAmount,
								   ESICAmount,
								   PTAmount,
								   EffectiveFrom,
								   eId
							    ,EmployerContributionType
							   ,EmpContributionType
							   ,EmpContributionAmount
							   ,EmployerContributionAmount
							   ,EmpContributionPerRate
							   ,EmployerContributionPerRate
							   ,TemplateId
							   ,ESIAmount
							   ,EPFAmount
							   ,EDLIAmount
							   ,AdminCharge
							   ,GrossPay
							   ,LabourWelEligible
							   ,EmployeeGroupId
							   ,TypeofEmployeeId
							   ,TotalLeave
							   ,PANNumber
							   ,AadharCardNo
							   ,LicenceNo
							   ,TaxRegime
							 --  ,BasicAmount
							 , OTCalculation
							 ,IsInitialExit
							 ,InitialExitDate
							 ,FinalSettlementDate
							 ,SalCalculatedOn
							 ,EmpDept_Id
							 ,GratuityEligible
							 ,GratuityPer
							 ,BonusEligible
							 ,BonusPer
							 ,BonusApplicableon
							 ,TwelveEightHoursBasis
							 ,GratuityValue
							 ,LWFAmount
							 ,HolidayParentId
							 ,BankId
							   )
				values(@EmployeeName,
								@CardNo,
								@EmployeeCode,
								@Gender,
								@EntityId,
								@ShiftId,
								@IsDummy,
								@ShowInHR,
								@isActive,
								@MiddleName,
								@LastName,
								@OtherName,
								@DOB,
								@Salary,
								@JoiningDate,
								@EmployeeType,
								@IsDeleteEmployee,								
								 @EmailID, 
								 @MobileNo,
								  @ProfilePic , 
								  @ContractorId,
								  @CreatedBy,
								  GETDATE(),
								  @WeekOff,
								  @ModeOfPayment,
								  @AccountNo,
								  @IFSCNo,
								  @BankName,
								  @BenificiaryName,
								  @UANNo,
								  @PFNo,
								  @ESICNo,
								  @PFEligible,
								  @ESICEligible,
								  @PTEligible,
								  @PFAmount,
								  @ESICAmount,
								  @PTAmount,
								  @EffectiveFrom,
								  @eId,
								 @EmployerContributionType
							   ,@EmpContributionType
							   ,CAST(@EmpContributionAmount AS decimal(18,2)) 
							   ,CAST(@EmployerContributionAmount AS decimal(18,2)) 
							   ,CAST(@EmpContributionPerRate AS decimal(18,2)) 
							   ,CAST(@EmployerContributionPerRate AS decimal(18,2))
							   ,@TemplateId
							   , @ESIAmount
							   ,@EPFAmount
							   ,@EDLIAmount
							   ,@AdminCharge
							   ,cast(@GrossPay as decimal(10,2))
							   ,@LabourWelEligible
							    ,@EmployeeGroupId
							   ,@TypeofEmployeeId
							   ,@TotalLeave							  
							   ,@PANNumber
							   ,@AadharCardNo
							   ,@LicenceNo
							   ,@TaxRegime
							  -- ,@BasicAmount
							  ,@OTCalculation
							   ,@IsInitialExit
							 ,@InitialExitDate
							 ,@FinalSettlementDate
							 ,@SalCalculatedOn
							 ,@SysDepartmentID
							 ,@GratuityEligible
							 ,@GratuityPer
							 ,@BonusEligible
							 ,@BonusPer
							 ,@BonusApplicableon
							 ,@TwelveEightHoursBasis
							 ,@GratuityValue
							 ,@LWFAmount
							 ,@HolidayParentId
							 ,@BankId
							  )
							   
		set @EmployeeID = SCOPE_IDENTITY();
							   
		if(@EmployeeGroupId != 0)
		Begin
		
				   INSERT INTO [EmployeeLeaveAllocation]
							   ([EmployeeId]
							   ,[LeaveTypeId]
							   ,[NoofLeave])
							   
					    select @EmployeeId,LeaveTypeId,NoofLeave 
					    from LeaveAllocationTrans where LeaveAllocationId in
							(select LeaveAllocationId
							From leaveallocationMaster where CommonDataId = @EmployeeGroupId and EntityId = @EntityId ) 
							
							--Update actual Leave
						--	set @configmonth = (select FinancialYear from configuration where EntityID = @EntityId)
							set @configmonth = (select LeaveApplicableMonth from HRConfiguration where EntityID = @EntityId)

							set @CurrentstartDate  = (select top 1  StartDate  from dbo.FetchFinancialYearDynamically(@configmonth))
											
							set @currentEndDate	= (select top 1  EndDate from dbo.FetchFinancialYearDynamically(@configmonth))

							set @monthdiff =  (SELECT DATEDIFF(MONTH, @JoiningDate, @currentEndDate +1 ) )


							if(@JoiningDate between @CurrentstartDate and @currentEndDate)    --@JoiningYear = @startYear
							Begin 	
							update	EmployeeLeaveAllocation 
									set ActAllocatedLeave =  CAST(CEILING((((@monthdiff * EmployeeLeaveAllocation.NoofLeave) / 12  )) * 2)/2 AS DECIMAL(8,1))		
									where EmployeeId = @employeeId
							end

						else 
							Begin
							update	EmployeeLeaveAllocation 
									set ActAllocatedLeave =  EmployeeLeaveAllocation.NoofLeave
									where EmployeeId = @employeeId


							End 
							
							if(@JoiningDate between @CurrentstartDate and @currentEndDate)     --set Total leave different 
							Begin 
								 set @diff = ( select SUM(ActAllocatedLeave)   - CAST(CEILING((((@monthdiff * sum(EmployeeLeaveAllocation.NoofLeave)) / 12  )) * 2)/2 AS DECIMAL(8,1))   as LeaveExtra from EmployeeLeaveAllocation 
												 Where EmployeeId = @EmployeeId )
												 
												if(@diff> 0)
												Begin 
												update top (1) EmployeeLeaveAllocation 
												set ActAllocatedLeave =  	ActAllocatedLeave - @diff
												where EmployeeId = @EmployeeId  
												and EmployeeLeaveId = (select top 1 EmployeeLeaveId from  EmployeeLeaveAllocation
																		where EmployeeId = @EmployeeId  
																		order by NoofLeave desc  ) 
	

												End
							End	
							-------End actual leave update
						
				
		--set @TotalLeave =(select TotalLeave From leaveallocationMaster where CommonDataId = @EmployeeGroupId) 
		
		End
		
			    -- IF(@ImageName IS NOT NULL)
							--BEGIN
							--	SET @ImagePathId = NEWID()  

							--	INSERT  INTO ImagePath  
							--			( ImagePathId ,  
							--			  Id ,  
							--			  FilePath  
							--			)  
							--	VALUES  ( @ImagePathId ,  
							--			  @EmployeeImageId ,  
							--			  @ImageName  
							--			)
							--END
			
	    --insert into EmployeeHistory(Id,
					--				EffectiveDate,
					--				BasicAmount,
					--				ConveyanceAllowance,
					--				HRAAllowance,
					--				SpecialAllowance,
					--				IncentiveAllowance,
					--				PFAmount,
					--				ESIAmount,
					--				PTEAmount,
					--				EmployeeId)

					--	values(NEWID(),
					--			@EffectiveFrom,
					--			@BasicAmount,
					--			@ConveyanceAllowance,
					--			@HRAAllowance,
					--			@SpecialAllowance,
					--			@IncentiveAllowance,
					--			@PFAmount,
					--			@ESICAmount,
					--			@PTAmount,
					--			@EmployeeID)
				-- Insert into 	AllowanceDetail			
				 DECLARE AllowanceDetail CURSOR 
                 FOR
                SELECT  Node.value('(EarningId)[1]', 'int') AS 'EarningId',					
						Node.value('(Amount)[1]', 'float') AS 'Amount'	,						
						Node.value('(EffectiveDate)[1]', 'datetime') AS 'EffectiveDate'					  
											
				      
                FROM    @AllowanceDetail.nodes('/DocumentElement/AllowanceDetail')
                        AS TEMPXML ( Node )
                            
            OPEN AllowanceDetail;
				
            FETCH NEXT FROM AllowanceDetail INTO @EarningId,@Amount,@EffectiveFrom
           
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN                   
                    
                    IF(@Amount>0)
                    BEGIN
						INSERT  INTO EmployeeEarning
								(	[Id]
								   ,[EarningId]
								   ,[employeeId]
								   ,[Amount]
								   ,[IsDeleted]
								   ,[EntityId]
								   ,[CreatedBy]
								   ,[CreatedOn] 
															
								)
						VALUES  ( NEWID() ,
								 @EarningId,
								 @EmployeeId,
								 @Amount,
								 0,
								 @EntityId,
								 @CreatedBy,
								  GETDATE()
	                                                   
								)
                  END           
        --                INSERT  INTO AllowanceHistory
        --                    (	[Id] ,
								--[EffectiveDate] ,
								--[EmployeeId],								
								--[AllowanceId], 
								--[Amount]
        --                    )
        --            VALUES  ( NEWID() ,
        --                      @EffectiveFrom ,
        --                      @EmployeeID ,                             
        --                      @AllowanceId,
        --                      @Amount       
        --                    )	
								
                                             
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                
                    FETCH NEXT FROM AllowanceDetail INTO @EarningId,@Amount,@EffectiveFrom
                     
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                    
                END
                            
            CLOSE AllowanceDetail;
            DEALLOCATE AllowanceDetail; 				
		
			 DECLARE DeductionDetail CURSOR 
                 FOR
                SELECT  Node.value('(DeductionId)[1]', 'int') AS 'DeductionId',
                		Node.value('(DeductionType)[1]', 'int') AS 'DeductionType',			
						Node.value('(Amount)[1]', 'float') AS 'Amount'	,						
						Node.value('(IsAllowance)[1]', 'bit') AS 'IsAllowance'					  
											
				      
                FROM    @DeductionDetail.nodes('/DocumentElement/EmployeeDeductionTrans')
                        AS TEMPXML ( Node )
                            
            OPEN DeductionDetail;
				
            FETCH NEXT FROM DeductionDetail INTO @DeductionId,@DeductionType,@Amount,@IsAllowance
           
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN                   
                    
			INSERT INTO [EmpSalDeductionMaster]
					   ([id]
					   ,[DeductionId]
					   ,[DeductionType]
					   ,[Amount]
					   ,[EmployeeId]
					   ,[IsAllowance]
					   )
				 VALUES
					   (NEWID()
					   ,@DeductionId
					   ,@DeductionType
					   ,@Amount
					   ,@EmployeeId
					   ,@IsAllowance
					   )
                                             
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                
                    FETCH NEXT FROM DeductionDetail INTO @DeductionId,@DeductionType,@Amount,@IsAllowance
                     
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                    
                END
                            
            CLOSE DeductionDetail;
            DEALLOCATE DeductionDetail; 
            
             DECLARE BonusDetail CURSOR 
                 FOR
                SELECT  Node.value('(Month)[1]', 'int') AS 'Month'
                FROM    @BonusDetail.nodes('/DocumentElement/BonusDetail')
                        AS TEMPXML ( Node )
                            
            OPEN BonusDetail;
				
            FETCH NEXT FROM BonusDetail INTO @Months
           
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN                   
                    
                    IF(@Months>0)
                    BEGIN
						INSERT  INTO EmpBonusPayOn
									( [EmployeeId]
									  ,[Month]				
									)
							VALUES  (
									 @EmployeeId,
									 @Months	                                                   
									)
					 END           
       
                                             
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                
                    FETCH NEXT FROM BonusDetail INTO @Months
                     
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                    
                END
                            
            CLOSE BonusDetail;
            DEALLOCATE BonusDetail; 	
		
			DECLARE DepartmentDetail CURSOR
					FOR
						SELECT  Node.value('(DepartmentId)[1]', 'uniqueidentifier') AS 'DepartmentId'
						FROM    @DepartmentDetail.nodes('/DocumentElement/DepartmentDetail')
								AS TEMPXML ( Node )
	                            
			OPEN DepartmentDetail;
			
			FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
	   
			WHILE ( @@FETCH_STATUS = 0 )
				BEGIN                   
	            
					INSERT  INTO EmployeeDepartmentMapping
							( 
							  EmployeeID ,
							  DepartmentId 
							)
					VALUES  ( 
							  @EmployeeID ,
							  @DepartmentId 
							)
	                                     
					IF @@ERROR <> 0
						ROLLBACK TRANSACTION
	        
					FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
	             
					IF @@ERROR <> 0
						ROLLBACK TRANSACTION
	            
				END
	                    
			CLOSE DepartmentDetail;
			DEALLOCATE DepartmentDetail; 
	        
					INSERT INTO [EmpShiftGeneration]  --employee added then Add in shift Generation
						   ([EmployeeId]
						   ,[ShiftId]	
						   ,[ShiftDate]  
						   ,[ShiftSequence])
					 VALUES
						   (@EmployeeID
						   ,@ShiftId
						   ,null
						   ,1)
	        
            
			-- Production Process Mapping
            DECLARE ProductionProcessDetail CURSOR
            FOR
                SELECT  
                Node.value('(ProcessId)[1]', 'uniqueidentifier') AS 'ProcessId'
                --Node.value('(CostCenterId)[1]', 'int') AS 'CostCenterId',
                --Node.value('(CostRatio)[1]', 'float') AS 'CostRatio'
                FROM    @productionDetail.nodes('/DocumentElement/productionDetail')
                        AS TEMPXML ( Node )
                            
            OPEN ProductionProcessDetail;
				
            FETCH NEXT FROM ProductionProcessDetail INTO @ProcessId--,@CostCenterId,@CostRatio
           
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN                   
                    
                    INSERT  INTO ProductionProcessMapping
                            (	ProdProcessMappingId ,
								EmpReferenceId ,
								ProcessId ,
								Type
								--CostCenterId,
								--CostRatio 
                            )
                    VALUES  ( NEWID() ,
                              @EmployeeID ,
                              @ProcessId ,
                              0
                              --@CostCenterId,
                              --@CostRatio
                            )
                                             
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                
                    FETCH NEXT FROM ProductionProcessDetail INTO @ProcessId--,@CostCenterId,@CostRatio
                     
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                    
                END
                            
            CLOSE ProductionProcessDetail;
            DEALLOCATE ProductionProcessDetail; 
            
            DECLARE ImagePath CURSOR                
           			 FOR                
           			   SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
								  Node.value('(SrNo)[1]', 'int') AS 'SrNo'
								   ,Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName'
           			     FROM	@ImagePathDetails.nodes('/DocumentElement/ImagePath') AS TEMPXML ( Node )                
           			                                 
           			 OPEN ImagePath;                
           			                     
           			 FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName 
           			 WHILE ( @@FETCH_STATUS = 0 )                
           			     BEGIN                                  
								EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id =  @eId,@OriginalName = @OriginalName
           			         
           			         FETCH NEXT FROM ImagePath INTO @Photo, @SrNo ,@OriginalName         
           			         IF @@ERROR <> 0                
           			             ROLLBACK TRANSACTION                
           			     END                
           			                                 
           			 CLOSE ImagePath;                
           			 DEALLOCATE ImagePath;
					--End Sahil

					IF @@ERROR <> 0
						ROLLBACK TRANSACTION
						
					
            
        
	END

	IF @Parameter = 2
	BEGIN
		IF EXISTS (Select EmployeeCode from EmployeeDetails where EmployeeCode=@EmployeeCode and EmployeeDetails.IsDelete = 0 
					--and EmployeeType= 1
					)
			Return 1;
		else
			Return 0;
	END

	IF @Parameter = 3
	Begin
		if @isEmpCodeOrName = 0
		BEGIN
			Select EmployeeCode from EmployeeDetails
			where (@SysDepartmentID is null or EmployeeId in ( select EmployeeId from EmployeeDepartmentMapping where DepartmentID=@SysDepartmentID ))		
				--and(@IsDummy=2 Or IsDummy=@IsDummy)
				and EmployeeDetails.IsDelete = 0
				and EmployeeDetails.EntityId = @EntityId
				and EmployeeDetails.isActive = 1
				--and EmployeeType= 1
			order by EmployeeCode
		END
		else
		BEGIN
			Select EmployeeName from EmployeeDetails
			where (@SysDepartmentID is null or EmployeeId in ( select EmployeeId from EmployeeDepartmentMapping where DepartmentID=@SysDepartmentID ))
				--and(@IsDummy=2 Or IsDummy=@IsDummy)
				and EmployeeDetails.IsDelete = 0
				and EmployeeDetails.EntityId = @EntityId
				and EmployeeDetails.isActive = 1
				--and EmployeeType= 1
			order by EmployeeName
		END	
	End

	
	If @Parameter = 5
	Begin
		if (@ShiftType = 1)
		begin
		select 
			ShiftId,
			ShiftName , 
			CONVERT(varchar(15),CAST(StartTime AS TIME),100) as StartTime , 
			CONVERT(varchar(15),CAST(EndTime AS TIME),100) as EndTime , 
			ShortCode , 
			EntityId , 
			IsDelete ,
			isnull(ShiftType,1) as ShiftType ,
			isnull(Capacity,1) as 	Capacity 		
			from HRShiftMaster 
			where IsDelete = 0
			and ShiftType = 1
			AND EntityId = @EntityId
		end
		begin
		select 
			ShiftId,
			ShiftName , 
			CONVERT(varchar(15),CAST(StartTime AS TIME),100) as StartTime , 
			CONVERT(varchar(15),CAST(EndTime AS TIME),100) as EndTime , 
			ShortCode , 
			EntityId , 
			IsDelete ,
			isnull(ShiftType,1) as ShiftType ,
			isnull(Capacity,1) as 	Capacity 		
			from HRShiftMaster 
			where IsDelete = 0
		   -- and (@ShiftTypeNew = 0 OR ShiftType > 1)	
			and ShiftType > 1
			AND EntityId = @EntityId
			AND (@ShiftTypeNew = 0 OR ShiftType = @ShiftTypeNew)
		end
			--and ShiftType = @ShiftType
	End

	If @Parameter = 6
	Begin
		--insert into EmpShift(Shift,CreatedBy,CreatedOn,Isdelete) values(@Shift,@CreatedBy,@CreatedOn,@Isdelete);
		insert into HRShiftMaster(ShiftName,StartTime,EndTime,ShortCode,EntityId,IsDelete,ShiftType,Capacity) values(@ShiftName,@StartTime,@EndTime,@ShortCode,@EntityIdShift,@Isdelete,@ShiftType,@Capacity);
		
		
			
			
		if(@ShiftType = 5)
		begin		
			set @ShiftId = SCOPE_IDENTITY();	
			delete from ShiftProcessMapping where ShiftID = @ShiftId
		
			 DECLARE ProcessDetail CURSOR
                FOR
                    SELECT  Node.value('(ProcessId)[1]', 'uniqueidentifier') AS 'ProcessId'
                    FROM    @ProcessDetail.nodes('/DocumentElement/ProcessDetail')
                            AS TEMPXML ( Node )
                            
                OPEN ProcessDetail;
				
                FETCH NEXT FROM ProcessDetail INTO @ProcessId
           
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN                   
                    
                        INSERT  INTO ShiftProcessMapping
                                ( 
                                  ShiftID ,
                                  ProcessID 
                                )
                        VALUES  ( 
                                  @ShiftId ,
                                  @ProcessId
                                )
                                             
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                
                        FETCH NEXT FROM ProcessDetail INTO @ProcessId
                     
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                    
                    END
                            
                CLOSE ProcessDetail;
                DEALLOCATE ProcessDetail; 
		
		end
	
		
	End

	If @Parameter = 7
	Begin
		--update EmpShift set Shift = @Shift where ShiftID = @ShiftId;
		
		update HRShiftMaster 
			set ShiftName = @ShiftName,
				StartTime=@StartTime,
				EndTime=@EndTime,
				ShortCode=@ShortCode,
				ShiftType =@ShiftType,
				Capacity = @Capacity
			where ShiftID = @ShiftId;
				
		if(@ShiftType = 5)
		begin			
			delete from ShiftProcessMapping where ShiftID = @ShiftId
		
			 DECLARE ProcessDetail CURSOR
                FOR
                    SELECT  Node.value('(ProcessId)[1]', 'uniqueidentifier') AS 'ProcessId'
                    FROM    @ProcessDetail.nodes('/DocumentElement/ProcessDetail')
                            AS TEMPXML ( Node )
                            
                OPEN ProcessDetail;
				
                FETCH NEXT FROM ProcessDetail INTO @ProcessId
           
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN                   
                    
                        INSERT  INTO ShiftProcessMapping
                                ( 
                                  ShiftID ,
                                  ProcessID 
                                )
                        VALUES  ( 
                                  @ShiftId ,
                                  @ProcessId
                                )
                                             
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                
                        FETCH NEXT FROM ProcessDetail INTO @ProcessId
                     
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                    
                    END
                            
                CLOSE ProcessDetail;
                DEALLOCATE ProcessDetail; 
		
		end
	
	End

	If @Parameter = 8
	Begin
		update HRShiftMaster set Isdelete = 1 where ShiftID = @ShiftId;
		
	End

	if @Parameter = 9
	Begin
		Select * from EmployeeDepartmentMapping
		where EmployeeID=@EmployeeId;
	End

	if @Parameter = 10
	
	    Begin
	    set @eId  = (select  eid from EmployeeDetails where EmployeeId=@EmployeeId )
	    IF( @eId is null) 
	    BEGIN 
	    set @eId = newid()
	    END
	    
	    if (@EffectiveFrom > (Select EffectiveFrom from EmployeeDetails where EmployeeId=@EmployeeId ) )
				Begin
				
				INSERT INTO [SalaryHistoryMaster]
						   ([EffectiveDate]
						   ,[CTC]
						   ,[EPFAmount]
						   ,[EDLIAmount]
						   ,[AdminCharge]
						   ,[ESIAmount]						 
						   ,[EmployeeId]
						   ,[IsRevisedSalary])
					
						   (select EffectiveFrom
						   ,Salary
						   ,EPFAmount
						   ,EDLIAmount
						   ,AdminCharge
						   ,ESIAmount						 
						   ,EmployeeId 
						   ,@RevisedValue 
						   from EmployeeDetails Where EmployeeId= @EmployeeId
						   )
						   
			set @HistoryId =  SCOPE_IDENTITY();			   
						   				   	
			INSERT INTO [SalaryHistoryTrans]
					   ([EmployeeId]
					   ,[EarningId]
					   ,[Amount]
					   ,[HistoryId])
				 
					   (select employeeId
					   ,EarningId
					   ,Amount
					   ,@HistoryId from EmployeeEarning where employeeId = @EmployeeId) 
			   	  
		                set @IsHistory = 1 
		                
						--set @OldEffectiveDate = (select top 1 EffectiveFrom from EmployeeDetails 
						--							where EmployeeId = @EmployeeId and EmployeeDetails.IsDelete = 0 
						--							and EmployeeDetails.EntityId = @EntityId
						--							and EmployeeDetails.isActive = 1 )
	             
									
                
			End		
	    
	  if(@EmployeeGroupId != 0)
		Begin
			if(@EmployeeGroupId > 0 )		
			Begin
			if EXISTS(select 1 From leaveallocationMaster where CommonDataId = @EmployeeGroupId and EntityId =@EntityId and IsDeleted = 0)
			begin
				set @TotalLeave =(select isnull(TotalLeave,0) From leaveallocationMaster where CommonDataId = @EmployeeGroupId and EntityId = @EntityId and IsDeleted = 0)
			end
			END
		end
				
				update EmployeeDetails set	EmployeeCode=@EmployeeCode,
							EmployeeName=@EmployeeName,
							CardNo=@CardNo,
							IsDummy=@IsDummy,
							ShowInHR=@ShowInHR,
							isActive=@isActive,
							MiddleName=@MiddleName,
							LastName=@LastName,
							DOB=@DOB,
							Salary=@Salary,
							JoiningDate=@JoiningDate,
							EmployeeType=@EmployeeType,
							Gender=@Gender,
					    	ShiftId=@ShiftId,
							OtherName=@OtherName,						
							 EmailId = @EmailID
							, MobileNo = @MobileNo
							, ProfilePic = @ProfilePic,
						 ContractorId= @ContractorId
							,ModifiedBy=@ModifiedBy
							,ModifiedOn=GETDATE(),
							WeekOff= @WeekOff,
							ModeOfPayment= @ModeOfPayment ,
							AccountNo=@AccountNo,
							IFSCNo=@IFSCNo,
							BankName=@BankName,
							BenificiaryName =@BenificiaryName,
							UANNo=@UANNo,
							PFNo=@PFNo,
							ESICNo=@ESICNo,							
							PFEligible=@PFEligible,
							ESICEligible=@ESICEligible,
							PTEligible=@PTEligible,
							PFAmount=@PFAmount,
							ESICAmount=@ESICAmount,
							PTAmount=@PTAmount,
							EffectiveFrom=@EffectiveFrom
						   ,EmployerContributionType = @EmployerContributionType
						   ,EmpContributionType = @EmpContributionType
						   ,EmpContributionAmount = CAST(@EmpContributionAmount AS decimal(18,2)) 
						   ,EmployerContributionAmount = CAST(@EmployerContributionAmount AS decimal(18,2))
						   ,EmpContributionPerRate = CAST(@EmpContributionPerRate AS decimal(18,2)) 
						   ,EmployerContributionPerRate = CAST(@EmployerContributionPerRate AS decimal(18,2))
						   ,ESIAmount = @ESIAmount
						   ,EPFAmount = @EPFAmount
						   ,EDLIAmount = @EDLIAmount
						   ,AdminCharge = @AdminCharge
						   ,LabourWelEligible= @LabourWelEligible
						   ,GrossPay= cast(@GrossPay as decimal(10,2))
						  ,eId = @eId
						  ,EmployeeGroupId = @EmployeeGroupId
						  ,TypeofEmployeeId = @TypeofEmployeeId
						--  ,TotalLeave = @TotalLeave						
						  ,PANNumber=@PANNumber
						  ,AadharCardNo=@AadharCardNo
						  ,LicenceNo=@LicenceNo
						 ,TaxRegime =@TaxRegime 
						 ,OTCalculation =@OTCalculation
						 ,SalCalculatedOn= @SalCalculatedOn
						 ,EmpDept_Id = @SysDepartmentID,
						 GratuityEligible = @GratuityEligible,
						 GratuityPer = @GratuityPer,
						 BonusEligible = @BonusEligible,
						 BonusPer = @BonusPer ,
						 BonusApplicableon	=@BonusApplicableon	,
						 TwelveEightHoursBasis = @TwelveEightHoursBasis,	
						 GratuityValue	=@GratuityValue	,
						 LWFAmount	=@LWFAmount,
						 HolidayParentId = @HolidayParentId,
						 BankId        = @BankId,
						 EsicEnddate  = @EsicEnddate
					where
						EmployeeId = @EmployeeId;
							
							
		--	if(@EmployeeGroupId != 0 ) Commented by Juhi Singh on 13-06-2025
		IF (
			@EmployeeGroupId != 0 AND NOT EXISTS (SELECT 1
												  FROM EmployeeDetails ed
												  WHERE ed.EmployeeId = @EmployeeId
												  AND ed.LeaveAllocationId = 0
												  AND EXISTS (
															   SELECT 1 
															   FROM EmployeeLeaveAllocation ela
															   WHERE ela.EmployeeId = @EmployeeId
    														 )
						                         )
		 )
		Begin
				delete from EmployeeLeaveAllocation where EmployeeId = @EmployeeId
		
				   INSERT INTO [EmployeeLeaveAllocation]
							   ([EmployeeId]
							   ,[LeaveTypeId]
							   ,[NoofLeave])
							   
					    select @EmployeeId,LeaveTypeId,NoofLeave 
					    from LeaveAllocationTrans where LeaveAllocationId in
							(select LeaveAllocationId
							From leaveallocationMaster where CommonDataId = @EmployeeGroupId  and EntityId = @EntityId ) 
							--Update actual Leave
						--	set @configmonth = (select FinancialYear from configuration where EntityID = @EntityId)
							set @configmonth = (select LeaveApplicableMonth from HRConfiguration where EntityID = @EntityId)

							set @CurrentstartDate  = (select top 1  StartDate  from dbo.FetchFinancialYearDynamically(@configmonth))
											
							set @currentEndDate	= (select top 1  EndDate from dbo.FetchFinancialYearDynamically(@configmonth))

							set @monthdiff =  (SELECT DATEDIFF(MONTH, @JoiningDate, @currentEndDate +1 ) )


                           	update EmployeeDetails 
							   set TotalLeave = @TotalLeave
                             where EmployeeId = @employeeId

							if(@JoiningDate between @CurrentstartDate and @currentEndDate)    --@JoiningYear = @startYear
							Begin 	
							update	EmployeeLeaveAllocation 
									set ActAllocatedLeave =  CAST(CEILING((((@monthdiff * EmployeeLeaveAllocation.NoofLeave) / 12  )) * 2)/2 AS DECIMAL(8,1))		
									where EmployeeId = @employeeId
							end
				
                       else 
							Begin
							update	EmployeeLeaveAllocation 
									set ActAllocatedLeave =  EmployeeLeaveAllocation.NoofLeave
									where EmployeeId = @employeeId
									
						------end actual leave update


		End 			
				if(@JoiningDate between @CurrentstartDate and @currentEndDate)    --set Total leave different 
				 Begin 			
					 set @diff = ( select SUM(ActAllocatedLeave)   - CAST(CEILING((((@monthdiff * sum(EmployeeLeaveAllocation.NoofLeave)) / 12  )) * 2)/2 AS DECIMAL(8,1))   as LeaveExtra from EmployeeLeaveAllocation 
								  Where EmployeeId = @EmployeeId )
													 
								if(@diff> 0)
								Begin 
								update top (1) EmployeeLeaveAllocation 
								set ActAllocatedLeave =  	ActAllocatedLeave - @diff
								where EmployeeId = @EmployeeId  
								and EmployeeLeaveId = (select top 1 EmployeeLeaveId from  EmployeeLeaveAllocation
														where EmployeeId = @EmployeeId  
														order by NoofLeave desc  ) 


								End
				
				End
		
		End
			 Delete  from EmployeeEarning 
			  where  employeeid =@EmployeeId and EntityId = @EntityId
			DECLARE AllowanceDetail CURSOR 
                 FOR
                SELECT  Node.value('(EarningId)[1]', 'int') AS 'EarningId',					
						Node.value('(Amount)[1]', 'float') AS 'Amount'	,
						Node.value('(EffectiveDate)[1]', 'datetime') AS 'EffectiveDate'					
				      
                FROM    @AllowanceDetail.nodes('/DocumentElement/AllowanceDetail')
                        AS TEMPXML ( Node )
                            
            OPEN AllowanceDetail;
				
            FETCH NEXT FROM AllowanceDetail INTO @EarningId,@Amount,@EffectiveFrom
           
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN                   
                    
           --       IF (@EarningId = (Select EarningId from EmployeeEarning 
									  --where  EarningId = @EarningId 
									  --and  employeeid =@EmployeeId))
					 -- Begin 
      --                 update  EmployeeEarning                        
						--set  		--id = @Id,
						--		EarningId = @EarningId,
						--		employeeid = @employeeid,
						--		Amount = @Amount								
						--	--	IsDeleted = @IsDeleted
						--where	EarningId = @EarningId 
						--and		employeeid = @employeeid
      --               End   
      --         else
      --             Begin  
						
									  
							IF(@Amount>0)
							BEGIN 
									INSERT  INTO EmployeeEarning
											(	[id] ,
												[EarningId]								 ,
												[employeeid],
												[Amount] ,
												[IsDeleted] ,
												[EntityId],
												[CreatedBy] ,
												[CreatedOn] 
												
												
											)
									VALUES  ( NEWID() ,
											  @EarningId ,
											  @EmployeeID ,
											  @Amount,
											  0 ,
											  @EntityId,
											  @CreatedBy,
											  GETDATE()          
											 )
							--END	     
                 End    
    	
                                             
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                
                    FETCH NEXT FROM AllowanceDetail INTO @EarningId,@Amount,@EffectiveFrom
                     
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                    
                END
                            
            CLOSE AllowanceDetail;
            DEALLOCATE AllowanceDetail; 
			
				if exists(Select * from EmpSalDeductionMaster where EmployeeId = @EmployeeId) 
                begin  
					DELETE  FROM EmpSalDeductionMaster 
						WHERE EmployeeId = @EmployeeId	
                end  
                   
			 DECLARE DeductionDetail CURSOR 
                 FOR
                SELECT  Node.value('(DeductionId)[1]', 'int') AS 'DeductionId',
                		Node.value('(DeductionType)[1]', 'int') AS 'DeductionType',			
						Node.value('(Amount)[1]', 'float') AS 'Amount',							
						Node.value('(IsAllowance)[1]', 'bit') AS 'IsAllowance'					  
											
				      
                FROM    @DeductionDetail.nodes('/DocumentElement/EmployeeDeductionTrans')
                        AS TEMPXML ( Node )
                            
            OPEN DeductionDetail;
				
            FETCH NEXT FROM DeductionDetail INTO @DeductionId,@DeductionType,@Amount,@IsAllowance
           
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN    
                           
                  Begin  
					INSERT INTO [EmpSalDeductionMaster]
							   ([id]
							   ,[DeductionId]
							   ,[DeductionType]
							   ,[Amount]
							   ,[EmployeeId]
							   ,[IsAllowance]
							   )
						 VALUES
							   (NEWID()
							   ,@DeductionId
							   ,@DeductionType
							   ,@Amount
							   ,@EmployeeId
							   ,@IsAllowance
							   )
						   End                          
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                
                    FETCH NEXT FROM DeductionDetail INTO @DeductionId,@DeductionType,@Amount,@IsAllowance
                     
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                    
                END
                            
            CLOSE DeductionDetail;
            DEALLOCATE DeductionDetail; 
            	
            	
            	
            	if exists(Select * from EmpBonusPayOn where EmployeeId = @EmployeeId) 
                begin  
					DELETE  FROM EmpBonusPayOn 
						WHERE EmployeeId = @EmployeeId	
                end 
            	
				DECLARE BonusDetail CURSOR  ---Bonus Details
				 FOR
				SELECT  Node.value('(Month)[1]', 'int') AS 'Month'
				FROM    @BonusDetail.nodes('/DocumentElement/BonusDetail')
						AS TEMPXML ( Node )
                            
			OPEN BonusDetail;
				
			FETCH NEXT FROM BonusDetail INTO @Months
           
			WHILE ( @@FETCH_STATUS = 0 )
				BEGIN                   
                    
					IF(@Months>0)
					BEGIN
						INSERT  INTO EmpBonusPayOn
									( [EmployeeId]
									  ,[Month]				
									)
							VALUES  (
									 @EmployeeId,
									 @Months	                                                   
									)
					 END           
       
                                             
					IF @@ERROR <> 0
						ROLLBACK TRANSACTION
                
					FETCH NEXT FROM BonusDetail INTO @Months
                     
					IF @@ERROR <> 0
						ROLLBACK TRANSACTION
                    
				END
                            
			CLOSE BonusDetail;
			DEALLOCATE BonusDetail; 	
            
            
			
				--if @isActive = 1
				--	update EmployeeDetails set LeavingDate = null where EmployeeId=@EmployeeId;
				
				set @EmployeeID = 	@EmployeeId;	
				DELETE  FROM EmployeeDepartmentMapping
                WHERE   EmployeeId = @EmployeeId
                   
                DECLARE DepartmentDetail CURSOR
                FOR
                    SELECT  Node.value('(DepartmentId)[1]', 'uniqueidentifier') AS 'DepartmentId'
                    FROM    @DepartmentDetail.nodes('/DocumentElement/DepartmentDetail')
                            AS TEMPXML ( Node )
                            
                OPEN DepartmentDetail;
				
                FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
           
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN                   
                    
                        INSERT  INTO EmployeeDepartmentMapping
                                ( 
                                  EmployeeID ,
                                  DepartmentId 
                                )
                        VALUES  ( 
                                  @EmployeeID ,
                                  @DepartmentId 
                                )
                                             
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                
                        FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
                     
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                    
                    END
                            
                CLOSE DepartmentDetail;
                DEALLOCATE DepartmentDetail; 
  
                 if (@IsHistory =  1)
				Begin ----------Calculation of Arrears Start
					

							set @EffectiveDate = (select top 1 EffectiveFrom from EmployeeDetails 
														where EmployeeId = @EmployeeId and EmployeeDetails.IsDelete = 0 
														and EmployeeDetails.EntityId = @EntityId
														and EmployeeDetails.isActive = 1 )

							set @OldEffectiveDate = (select Top 1 PayOutMonth from PayOutMaster
													Left join PayOutTrans on  PayOutMaster.PayOutId = PayOutTrans.PayOutId
													Left join EmployeeDetails on PayOutTrans.EmployeeId = EmployeeDetails.EmployeeId
													where EmployeeDetails.EmployeeId = @EmployeeId
													and PayOutMaster.IsDeleted = 0 
													and EmployeeDetails.IsDelete = 0 
													and EmployeeDetails.EntityId = @EntityId
													and EmployeeDetails.isActive = 1 
													order by PayOutMaster.PayOutId desc )
																				 
													 
							--set @DifferenceMonth =	(SELECT DATEDIFF(month,@OldEffectiveDate , @EffectiveDate))
								set @DifferenceMonth =	(SELECT DATEDIFF(month,@EffectiveDate,@OldEffectiveDate ))
								set @DifferenceMonth = @DifferenceMonth +1
							if(@DifferenceMonth > 0)
							Begin	
							set @NewSalary = (select top 1 GrossPay from EmployeeDetails 
														where EmployeeId = @EmployeeId 
														and EmployeeDetails.IsDelete = 0 
														and EmployeeDetails.EntityId = @EntityId
														and EmployeeDetails.isActive = 1 )
							
							set @HistoryId = (select top 1 SalaryHistoryMaster.Id 
													 from SalaryHistoryMaster 
													 left join EmployeeDetails on SalaryHistoryMaster.EmployeeId =EmployeeDetails.EmployeeId
													 where SalaryHistoryMaster.EmployeeId = @EmployeeId
													  and SalaryHistoryMaster.IsDeleted = 0 
													 and EmployeeDetails.EntityId = @EntityId
													 and EmployeeDetails.isActive = 1
													  Order by SalaryHistoryMaster.Id desc )
													 
							set @OldSalary = (select SUM(Amount) as Amount
													 from SalaryHistoryMaster 
													 left join SalaryHistoryTrans on SalaryHistoryMaster.Id = SalaryHistoryTrans.HistoryId
													 left join EmployeeDetails on SalaryHistoryMaster.EmployeeId =EmployeeDetails.EmployeeId
													 where SalaryHistoryMaster.EmployeeId = @EmployeeId
													  and SalaryHistoryMaster.IsDeleted = 0 
													 and EmployeeDetails.EntityId = @EntityId
													 and EmployeeDetails.isActive = 1 
													 and SalaryHistoryMaster.Id= @HistoryId )
													 
							set @DifferenceAmount = @NewSalary - @OldSalary

							set @Arrears = @DifferenceMonth * @DifferenceAmount
							
							set @EarningIdForArrears = (select Top 1 EarningId from EarningMaster where 
															EarningTypeName = 'ARREARS'
															and IsDeleted = 0 )

						if(@DifferenceAmount>0)
						Begin						
							INSERT INTO [EmpArrears] -- Insert Arrears in to EmpArrears table 
									   ([EmployeeId]
									   ,[EarningId]
									   ,[Amount]
									   ,[CreatedBy]
									   ,[CreatedOn]							  
									   ,[IsDeleted]
									   ,[GrossPayDiff]
									   ,[MonthDiff]
									   )
								 VALUES
									   (@EmployeeId
									   ,@EarningIdForArrears
									   ,@Arrears
									   ,@CreatedBy
									   ,GETDATE()
									   ,0
									   ,@DifferenceAmount
									   ,@DifferenceMonth)
							End
		                
		                End
									 -----------Calculation of Arrears Start End
                
			End		
			             
			if  exists (select 1 from EmpShiftGeneration where EmployeeId=@EmployeeId and ShiftDate is null)	
			Begin	   
			   UPDATE [EmpShiftGeneration] --employee added then Add in shift Generation
					SET [ShiftId] = @ShiftId,	
						[shiftDate]	= null			
				 WHERE EmployeeId=@EmployeeId
			End
		        
                -- Production Process Mapping
                                        
                DELETE FROM ProductionProcessMapping WHERE EmpReferenceId = @EmployeeID
							                
				DECLARE ProductionProcessDetail CURSOR
				FOR
					SELECT  
					Node.value('(ProcessId)[1]', 'uniqueidentifier') AS 'ProcessId'
					--Node.value('(CostCenterId)[1]', 'int') AS 'CostCenterId',
                    --Node.value('(CostRatio)[1]', 'float') AS 'CostRatio'
					FROM    @productionDetail.nodes('/DocumentElement/productionDetail')
							AS TEMPXML ( Node )
	                            
				OPEN ProductionProcessDetail;
					
				FETCH NEXT FROM ProductionProcessDetail INTO @ProcessId--,@CostCenterId,@CostRatio
	            
				WHILE ( @@FETCH_STATUS = 0 )
					BEGIN
													                   								                    
						INSERT  INTO ProductionProcessMapping
								(	ProdProcessMappingId ,
									EmpReferenceId ,
									ProcessId ,
									Type
									--CostCenterId,
									--CostRatio
								)
						VALUES  ( NEWID() ,
								  @EmployeeID ,
								  @ProcessId ,
								  0
								  --@CostCenterId,
								  --@CostRatio
								)
	                                             
						IF @@ERROR <> 0
							ROLLBACK TRANSACTION
	                
						FETCH NEXT FROM ProductionProcessDetail INTO @ProcessId--,@CostCenterId,@CostRatio
	                     
						IF @@ERROR <> 0
							ROLLBACK TRANSACTION
	                    
					END
	                            
				CLOSE ProductionProcessDetail;
				DEALLOCATE ProductionProcessDetail;
				
			 DECLARE ImagePath CURSOR                
           			 FOR                
           			   SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
								  Node.value('(SrNo)[1]', 'int') AS 'SrNo'
								  ,Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName'
           			     FROM	@ImagePathDetails.nodes('/DocumentElement/ImagePath') AS TEMPXML ( Node )                
           			                                 
           			 OPEN ImagePath;                
           			                     
           			 FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName 
           			 WHILE ( @@FETCH_STATUS = 0 )                
           			     BEGIN                                  
								EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id =  @eId,@OriginalName = @OriginalName
           			         
           			         FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName        
           			         IF @@ERROR <> 0                
           			             ROLLBACK TRANSACTION                
           			     END                
           			                                 
           			 CLOSE ImagePath;                
           			 DEALLOCATE ImagePath;
                      
                DECLARE DeleteImage CURSOR
                FOR
                    SELECT  Node.value('(DeleteImage)[1]', 'varchar(max)') AS 'DeleteImage'
                    FROM    @ImageDelete.nodes('/DocumentElement/ImageDelete')
                            AS TEMPXML ( Node )
                            
                OPEN DeleteImage;
                
                FETCH NEXT FROM DeleteImage INTO @DeleteImage
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN                   
                        
                        DELETE  FROM ImagePath
                        WHERE   Id = @eId
                                AND FilePath = @DeleteImage
                        
                       
                                                        
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                
                        FETCH NEXT FROM DeleteImage INTO @DeleteImage
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                    END  
                CLOSE DeleteImage;;
                DEALLOCATE DeleteImage;;   
                
				IF EXISTS (select UserId from WhatsappUserMapping where UserId = @EmployeeId)
				BEGIN
					DELETE	WUM				
					FROM WhatsappUserMapping WUM
						LEFT JOIN EmployeeDetails ED ON ED.EmployeeId = WUM.UserId 
							AND ED.MobileNo = WUM.MobileNo AND isDelete = 0
					WHERE WUM.UserId = @EmployeeId AND ED.EmployeeId IS NULL
				END

                IF @@Error <> 0
                    ROLLBACK TRANSACTION	
			
				IF(@TwelveEightHoursBasis = 1)
				BEGIN
				DECLARE @ShiftStartTime TIME, @ShiftEndTime TIME,@LastPayRun DATETIME;; 

				select top 1 @LastPayRun = PayOutMonth from PayOutMaster where IsDeleted = 0

					SELECT	@ShiftStartTime = HRShiftMaster.StartTime, @ShiftEndTime = EndTime, 
													@ShiftId = EmpShiftGeneration.shiftId
											FROM	HRShiftMaster(NOLOCK)						
													INNER JOIN EmpShiftGeneration(NOLOCK) ON HRShiftMaster.ShiftId = EmpShiftGeneration.ShiftId
											WHERE	EmpShiftGeneration.EmployeeId = @EmployeeId
													and (ShiftDate > CAST(@LastPayRun AS DATE)  or ShiftDate is null)
				   IF(@ShiftStartTime > @ShiftEndTime)
					  BEGIN
						UPDATE EmployeeAttendance
						SET
							--ActEndTime = @Logtime,
							EndTime = CONVERT(TIME, DATEADD(MINUTE, DATEDIFF(MINUTE, CONVERT(TIME, DATEADD(MINUTE, DATEDIFF(MINUTE, StartTime, CAST(ActEndTime AS TIME)) - DATEDIFF(MINUTE, CAST(@ShiftStartTime AS TIME), CAST(@ShiftEndTime AS TIME)), '00:00:00')), CAST(ActEndTime AS TIME)), '00:00:00')),

							--ActHours = CASE
							--			WHEN ActAwayHrs IS NULL THEN CONVERT(VARCHAR(12), DATEADD(MINUTE, DATEDIFF(MINUTE, CAST(StartTime AS TIME), CAST(ActEndTime AS TIME)), 0), 114)
							--			ELSE CONVERT(VARCHAR(12), DATEADD(MINUTE, DATEDIFF(MINUTE, ActAwayHrs, DATEADD(MINUTE, DATEDIFF(MINUTE, CAST(StartTime AS TIME), CAST(ActEndTime AS TIME)), 0)), 0), 114)
							--		  END,

							[Hours] = CASE
										WHEN AwayHrs IS NULL THEN CONVERT(VARCHAR(12), DATEADD(MINUTE, DATEDIFF(MINUTE, CAST(StartTime AS TIME), CAST(CONVERT(TIME, DATEADD(MINUTE, DATEDIFF(MINUTE, CONVERT(TIME, DATEADD(MINUTE, DATEDIFF(MINUTE, StartTime, CAST(ActEndTime AS TIME)) - DATEDIFF(MINUTE, CAST(@ShiftStartTime AS TIME), CAST(@ShiftEndTime AS TIME)), '00:00:00')), CAST(ActEndTime AS TIME)), '00:00:00')) AS TIME)), 0), 114)
									   else 
																				CONVERT(varchar(12), 
																				DATEADD(minute,DATEDIFF(MINUTE, AwayHrs, 
																				DATEADD(minute, DATEDIFF(MINUTE, CAST(StartTime AS TIME) , 
																				CAST(	CONVERT(TIME, DATEADD(MINUTE, 
																					DATEDIFF(MINUTE, CONVERT(TIME, DATEADD(MINUTE, DATEDIFF(MINUTE, StartTime, Cast(ActEndTime AS TIME))  -  DATEDIFF(MINUTE,  CAST(@ShiftStartTime AS TIME),  CAST(@ShiftEndTime  AS TIME)), '00:00:00'))
																					, CAST(ActEndTime AS TIME) 
																					)
																					, '00:00:00'))  AS TIME)), 0)
																					), 0), 114)				
										END
						WHERE EmployeeId = @EmployeeId 
						  AND CAST(AttendanceDate + 1 AS DATE) > CAST(@LastPayRun AS DATE)
					END
				 ELSE
				   BEGIN
					  UPDATE	EmployeeAttendance
						 SET		--ActEndTime = EndTime,
																	 EndTime = 	CONVERT(TIME, DATEADD(MINUTE, 
																					DATEDIFF(MINUTE, CONVERT(TIME, DATEADD(MINUTE, DATEDIFF(MINUTE, StartTime, Cast(ActEndTime AS TIME))  -  DATEDIFF(MINUTE,  CAST(@ShiftStartTime AS TIME),  CAST(@ShiftEndTime  AS TIME)), '00:00:00'))																
																							, CAST(ActEndTime AS TIME) 
																					)
																					, '00:00:00'))										
																--,[ActHours] = case when ActAwayHrs is  null then
																--					CONVERT(varchar(12), DATEADD(minute, DATEDIFF(MINUTE, CAST(StartTime AS TIME) , CAST(@Logtime AS TIME)), 0), 114)	
																--					else 
																--					CONVERT(varchar(12),
																--									DATEADD(minute,DATEDIFF(MINUTE, ActAwayHrs,DATEADD(minute, DATEDIFF(MINUTE, CAST(StartTime AS TIME) , CAST(@Logtime AS TIME)), 0)
																--									), 0), 114) end	
																,[Hours] = case when AwayHrs is  null then 
																			 CONVERT(varchar(12), DATEADD(minute, DATEDIFF(MINUTE, CAST(StartTime AS TIME) , 
																			CAST(	CONVERT(TIME, DATEADD(MINUTE, 
																				DATEDIFF(MINUTE, CONVERT(TIME, DATEADD(MINUTE, DATEDIFF(MINUTE, StartTime, Cast(ActEndTime AS TIME))  -  DATEDIFF(MINUTE,  CAST(@ShiftStartTime AS TIME),  CAST(@ShiftEndTime  AS TIME)), '00:00:00'))																
																						, CAST(ActEndTime AS TIME) 
																				)
																				, '00:00:00'))  AS TIME)), 0), 114)	
																			else CONVERT(varchar(12),
																			DATEADD(minute,DATEDIFF(MINUTE, AwayHrs,DATEADD(minute, DATEDIFF(MINUTE, CAST(StartTime AS TIME) , 
																			CAST(	CONVERT(TIME, DATEADD(MINUTE, 
																					DATEDIFF(MINUTE, CONVERT(TIME, DATEADD(MINUTE, DATEDIFF(MINUTE, StartTime, Cast(ActEndTime AS TIME))  -  DATEDIFF(MINUTE,  CAST(@ShiftStartTime AS TIME),  CAST(@ShiftEndTime  AS TIME)), '00:00:00'))																
																							, CAST(ActEndTime AS TIME) 
																					)
																					, '00:00:00'))  AS TIME)), 0)
																					), 0), 114)	end
														WHERE	EmployeeId = @EmployeeId AND CAST(AttendanceDate AS DATE) > CAST(@LastPayRun AS DATE)	
					 END

  END;
						
						
	end

	if @Parameter = 11
	Begin
	update EmployeeDetails set IsDelete=1,DeletedBy=@DeletedBy,DeletedOn =GetDate() where EmployeeId=@EmployeeId 
	--and EmployeeType= 1
	end

	--if @Parameter =12
--Begin
--Select * from HRShiftMaster where IsDelete=0;
--End

	if @Parameter = 13
	Begin
		select EmployeeId,(EmployeeName + ' (' + EmployeeCode + ')') as EmployeeName from EmployeeDetails 
		where IsDelete=0
			and EmployeeDetails.isActive = 1
			and (@EmployeeId = 0 or EmployeeId=@EmployeeId)
			and 
			( @DepartmentID is null or EmployeeDetails.EmployeeId in 
				(			
					select EmployeeDepartmentMapping.EmployeeID  
					from  EmployeeDepartmentMapping 
					inner join SystemDepartment on SystemDepartment.DepartmentID = EmployeeDepartmentMapping.DepartmentID
					where (SystemDepartment.DepartmentID = @DepartmentID )
				)
			)
			And EmployeeDetails.EntityId = @EntityId			
		--	and EmployeeType= 1
			
			
	end
	
	-- Nikunj Added 29-08-2018
	-- Fetch Employee Name by Department code wise
	if @Parameter = 14
	Begin		
			select 
			--EmployeeDetails.EmployeeId as OperatorID,EmployeeDetails.EmployeeName as OperatorName 
			EmployeeDetails.EmployeeId as OperatorID,(EmployeeDetails.EmployeeName + ' (' + EmployeeDetails.EmployeeCode + ')') as OperatorName
			from EmployeeDetails
			inner join EmployeeDepartmentMapping on EmployeeDepartmentMapping.EmployeeID = EmployeeDetails.EmployeeId
			inner join SystemDepartment on SystemDepartment.DepartmentID = EmployeeDepartmentMapping.DepartmentID
			where 
					(@DepartmentCode is NULL 
						or SystemDepartment.DepartmentCode IN (SELECT * FROM dbo.SplitString(@DepartmentCode, ','))
					)--'CORE'
					and EmployeeDetails.IsDelete = 0 AND EmployeeDetails.isActive = 1
					AND EmployeeDetails.EntityId = @EntityId					
				--	and EmployeeType= 1
			group by EmployeeDetails.EmployeeId,EmployeeDetails.EmployeeName, EmployeeDetails.EmployeeCode
			order by EmployeeDetails.EmployeeName
	end
	
	-- Fetch Employee Name by Department code wise and EmployeeTypeWise
	if @Parameter = 15
	Begin		
			select	EmployeeDetails.EmployeeId as OperatorID
					, (EmployeeDetails.EmployeeName + ' (' + EmployeeDetails.EmployeeCode + ')') as OperatorName
			from EmployeeDetails
			inner join EmployeeDepartmentMapping on EmployeeDepartmentMapping.EmployeeID = EmployeeDetails.EmployeeId
			inner join SystemDepartment on SystemDepartment.DepartmentID = EmployeeDepartmentMapping.DepartmentID
			LEFT JOIN ProductionProcessMapping ON ProductionProcessMapping.EmpReferenceId = EmployeeDetails.EmployeeId
            LEFT JOIN ProcessMaster ON ProductionProcessMapping.ProcessId = ProcessMaster.ProcessId
			where	(@DepartmentCode is NULL or SystemDepartment.DepartmentCode = @DepartmentCode )--'CORE')
					AND (@EMPType = 0 or EmployeeDetails.EmployeeType = @EMPType)
					and EmployeeDetails.IsDelete = 0
					AND EmployeeDetails.EntityId = @EntityId					
					--and EmployeeType= 1
					and (@ProcessID is null or ProcessMaster.ProcessId = @ProcessID)
					and EmployeeDetails.isActive = 1
			group by EmployeeDetails.EmployeeId,EmployeeDetails.EmployeeName, EmployeeDetails.EmployeeCode
			order by EmployeeDetails.EmployeeName
	end
	
	-- Fetch Departmentdetail by department code
	if @Parameter = 16
	Begin		
			select DISTINCT SystemDepartment.DepartmentID ,SystemDepartment.DepartmentCode ,SystemDepartment.DepartmentName , SystemDepartment.SeqNo
			from SystemDepartment 
			where (@DepartmentCode is NULL or SystemDepartment.DepartmentCode = @DepartmentCode )--'CORE')
			--and SystemDepartment.ifActice = 1	
			order by SystemDepartment.SeqNo		
			
	end
	
	-- Check department is available or not when update time record
	if @Parameter = 17
	Begin		
	
	IF EXISTS (
	select DISTINCT EmployeeDetails.EmployeeId as OperatorID,EmployeeDetails.EmployeeName as OperatorName 
			from EmployeeDetails
			inner join EmployeeDepartmentMapping on EmployeeDepartmentMapping.EmployeeID = EmployeeDetails.EmployeeId
			inner join SystemDepartment on SystemDepartment.DepartmentID = EmployeeDepartmentMapping.DepartmentID
			where EmployeeDetails.EmployeeId = @EmployeeId and SystemDepartment.DepartmentCode = @DepartmentCode	
			and EmployeeDetails.IsDelete = 0
			and EmployeeDetails.isActive = 1			
			--and EmployeeType= 1
	)
			Return 1;
		else
			Return 0;
			
	end
	
	if @Parameter = 18
	Begin		
	
		IF @SysDepartMentMapping = 1
		BEGIN
		
		   IF @ProcessID IS NOT NULL AND @IsCheckMachineCode = 1
		   BEGIN
		   IF EXISTS (Select * from ProcessMaster Where ProcessID = @ProcessID and IsMachineShop = 1 and IsDeleted = 0)
		   Begin
		      SET @DepartmentCode = 'MCH'
		   EnD
		   END
		
			select	EmployeeDetails.EmployeeId as OperatorID,(EmployeeName + ' (' + EmployeeCode + ')') as OperatorName
			from	EmployeeDetails
					inner join EmployeeDepartmentMapping on EmployeeDepartmentMapping.EmployeeID = EmployeeDetails.EmployeeId
					inner join SystemDepartment on SystemDepartment.DepartmentID = EmployeeDepartmentMapping.DepartmentID			
					LEFT JOIN ProductionProcessMapping ON ProductionProcessMapping.EmpReferenceId = EmployeeDetails.EmployeeId
            WHERE   EmployeeDetails.IsDelete=0	
					AND EmployeeDetails.EntityId = @EntityId
					AND (@EmployeeType = 0 or EmployeeDetails.EmployeeType = @EmployeeType)		
					AND (@DepartmentCode IS NULL oR SystemDepartment.DepartmentCode = @DepartmentCode)
					and EmployeeDetails.isActive = 1					
					--and EmployeeType= 1
					AND ((@IsForging = 0 and (@ProcessID is null or ProductionProcessMapping.ProcessId = @ProcessID))
						OR (@IsForging = 1 AND ProcessID = (SELECT TOP 1 pm.ProcessId FROM ProcessMaster AS pm WHERE pm.IsDefaultForging = 1 AND pm.IsDeleted =0))
					)
			group by EmployeeDetails.EmployeeId,EmployeeDetails.EmployeeName,EmployeeDetails.EmployeeCode
			order by EmployeeDetails.EmployeeName
			
		END
		ELSE
		BEGIN
		
			select	DISTINCT EmployeeDetails.EmployeeId as OperatorID,EmployeeDetails.EmployeeName as OperatorName 
			from	EmployeeDetails
			WHERE   EmployeeDetails.IsDelete=0
					AND EmployeeDetails.EntityId = @EntityId		
					AND (@EmployeeType = 0 or EmployeeDetails.EmployeeType = @EmployeeType)	
					and EmployeeDetails.isActive = 1					
					--and EmployeeType= 1		
			order by EmployeeDetails.EmployeeName
		END
 
	
		END
		if @Parameter = 19
	Begin	
	select DepartmentID from SystemDepartment 
	where DepartmentCode=@DepartmentCode
	end
	
	If @Parameter = 20
	Begin
		
		SELECT	DISTINCT
				HRShiftMaster.ShiftId,
				ShiftName 		
		FROM	HRShiftMaster 
				LEFT JOIN ShiftProcessMapping ON ShiftProcessMapping.ShiftId = HRShiftMaster.ShiftId
		WHERE	IsDelete = 0
				--and ShiftType > 1			 
			--	AND ( ShiftType = @ShiftType) 
						AND (@EquipmentId IS NULL and  ShiftType = @ShiftType
					OR (@EquipmentId IS NOT NULL and ShiftType IN (5,7))
				)
				
				AND EntityId = @EntityId
				AND (@ProcessId IS NULL OR ProcessID = @ProcessId)
				AND (@IsForging = 0 
					OR (@IsForging = 1 AND ProcessID = (SELECT TOP 1 pm.ProcessId FROM ProcessMaster AS pm WHERE pm.IsDefaultForging = 1 AND pm.IsDeleted =0))
				)
	End
	
	IF @Parameter = 21
	BEGIN
		Select CardNo from EmployeeDetails
		where CardNo IS NOT NULL and CardNo <> ''
			and EmployeeDetails.IsDelete = 0
			And EmployeeDetails.EntityId = @EntityId
			and EmployeeDetails.isActive = 1
			--and EmployeeType= 1
		order by CardNo
	END
	
	If @Parameter = 22	--Fetch Start and End Time From Shift Master on selection change of Shift
	BEGIN
		
		SELECT 
			CONVERT(varchar(15),CAST(StartTime AS TIME),100) as StartTime , 
			CONVERT(varchar(15),CAST(EndTime AS TIME),100) as EndTime		
		FROM HRShiftMaster 
		WHERE IsDelete = 0
			AND ShiftId = @ShiftId
			AND EntityId = @EntityId
	END
	
	If @Parameter = 23	--Fetch Heat Treatment Time Popup Label Text
	BEGIN
		SELECT 
			ISNULL(HTTemperatureLabel1, '') AS TempLabel1 ,
			ISNULL(HTTemperatureLabel2, '') AS TempLabel2 ,
			ISNULL(HTTemperatureLabel3, '') AS TempLabel3 ,
			ISNULL(HTTemperatureLabel4, '') AS TempLabel4
		FROM ReportConfiguration
	END
	
	If @Parameter = 24
		BEGIN
			IF (@lblNo = 1)
				BEGIN
					UPDATE ReportConfiguration SET HTTemperatureLabel1 = @lblTempText
				END
			IF (@lblNo = 2)
				BEGIN
					UPDATE ReportConfiguration SET HTTemperatureLabel2 = @lblTempText
				END
			IF (@lblNo = 3)
				BEGIN
					UPDATE ReportConfiguration SET HTTemperatureLabel3 = @lblTempText
				END
			IF (@lblNo = 4)
				BEGIN
					UPDATE ReportConfiguration SET HTTemperatureLabel4 = @lblTempText
				END
		END
		
	If @Parameter = 25	--Fetch Invoice Report Footer Height Changable
	BEGIN
		SELECT 
			ISNULL(IsInvoiceFooterHeightChangable, 0) AS IsChangable
		FROM ReportConfiguration
	END
	
		If @Parameter = 26	--Fetch Earning Details
	BEGIN
		SELECT EarningId,
			   EarningTypeName
		FROM EarningMaster
		where 
		    EarningMaster.IsDeleted= 0 
		    and IsSysGenerated= 0
		    and IsEarning = 1
		--	AND (@EntityId = 0 or EarningMaster.EntityId = @EntityId)		
			AND (@EarningId =0  or EarningMaster.EarningId = @EarningId)	
			AND PayType= 0
			 and Isadditional =0
			order by EarningSequence
		
	END
	
	
	   IF ( @Parameter = 27 )	-- Save Data in EmployeeTemplateMaster, EmployeeTemplateTrans
            BEGIN
			BEGIN TRANSACTION
            BEGIN TRY
    IF NOT EXISTS ( SELECT  TemplateId FROM EmployeeTemplateMaster WHERE   TemplateId = @TemplateId )
         BEGIN
                SET @TemplateId = NEWID()			
						INSERT INTO [EmployeeTemplateMaster]
					   ([TemplateId]
					   ,[TemplateName]
					   ,[IsDeleted]
					   ,[EntityId]
					   ,[CreatedBy]
					   ,[CreatedOn]
					   ,[ModifiedBy]
					   ,[ModifiedOn]
					   ,[DeletedBy]
					   ,[DeletedOn])
				 VALUES
					   (@TemplateId
					   ,@TemplateName
					   ,@IsDeleted
					   ,@EntityId
					   ,@CreatedBy
					   ,@CreatedOn 
					   ,@ModifiedBy 
					   ,@ModifiedOn
					   ,@DeletedBy
					   ,@DeletedOn)
					   
					   
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION	
                       DECLARE Detail CURSOR
                FOR
                    SELECT  
                           -- Node.value('(SrNo )[1]', 'int') AS 'SrNo' ,                           
                            Node.value('(EarningId )[1]', 'int') AS 'EarningId' ,                          
                            Node.query('TemplateDetail/*') AS 'TemplateDetail'
                    FROM    @TemplateDetail.nodes('/DocumentElement/EmployeeTemplateTrans')
                            AS TEMPXML ( Node )
						
                OPEN Detail;	
         
                FETCH NEXT FROM Detail INTO  
                    @EarningId,
                    @TemplateDetail
                    
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN			
		
					
                        SET @Id = NEWID()						
					  
                      INSERT INTO  [EmployeeTemplateTrans]
								   ([Id]
								   ,[TemplateId]
								   ,[EarningId])
								   
						 VALUES(@Id,
								@TemplateId,
								@EarningId                        
                                )							
                        
                     FETCH NEXT FROM Detail INTO                      
								@EarningId,
								@TemplateDetail
			END
			             
            END    
               END TRY 
				 BEGIN Catch
						IF @@ERROR <> 0
						BEGIN
						 ROLLBACK TRANSACTION
			 				 return -1;
						END	
				END Catch
				  COMMIT TRANSACTION                
						RETURN 1 ;
            END  
            
            	If @Parameter = 28	--Delete Template Data          
     
        BEGIN
                UPDATE  EmployeeTemplateMaster              
                SET     IsDeleted = @Isdeleted ,              
                        DeletedBy = @DeletedBy ,              
                        DeletedOn = @DeletedOn              
                WHERE   TemplateId = @TemplateId   
                and     EntityId = @EntityId            
        END       
             
            
           IF ( @Parameter = 29 )	-- Update Data in EmployeeTemplateMaster, EmployeeTemplateTrans
            BEGIN
            BEGIN TRANSACTION
            BEGIN TRY	
                UPDATE EmployeeTemplateMaster
                   SET   [TemplateName] = @TemplateName
						  ,[IsDeleted] = @IsDeleted
						  ,[EntityId] = @EntityId						  
						  ,[ModifiedBy] = @ModifiedBy
						  ,[ModifiedOn] = @ModifiedOn
						  ,[DeletedBy] = @DeletedBy
						  ,[DeletedOn] = @DeletedOn
					 WHERE TemplateId = @TemplateId
					 
					 
					       IF @@ERROR <> 0
                    ROLLBACK TRANSACTION	
                if exists(Select * from EmployeeTemplateTrans where TemplateId = @TemplateId) 
                begin  
					DELETE  FROM EmployeeTemplateTrans 
						WHERE TemplateId = @TemplateId	
                end  
                   
                       DECLARE Detail CURSOR
                FOR
                    SELECT                                                     
                            Node.value('(EarningId )[1]', 'int') AS 'EarningId' ,                          
                            Node.query('TemplateDetail/*') AS 'TemplateDetail'
                    FROM    @TemplateDetail.nodes('/DocumentElement/EmployeeTemplateTrans')
                            AS TEMPXML ( Node )
						
                OPEN Detail;	
         
                FETCH NEXT FROM Detail INTO  
                    @EarningId,
                    @TemplateDetail
                    
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN										
					
                        SET @Id = NEWID()						
					  
                      INSERT INTO  [EmployeeTemplateTrans]
								   ([Id]
								   ,[TemplateId]
								   ,[EarningId])
								   
						 VALUES(@Id,
								@TemplateId,
								@EarningId                        
                                )							
                        
                     FETCH NEXT FROM Detail INTO                      
								@EarningId,
								@TemplateDetail
		
            END  
               END TRY 
				 BEGIN Catch
						IF @@ERROR <> 0
						BEGIN
						 ROLLBACK TRANSACTION
			 				 return -1;
						END	
				END Catch
				  COMMIT TRANSACTION                
						RETURN 1 ;
            END    
         
 
          IF ( @Parameter = 30 )	-- Fetch EarningDetails for Generate Earning sequence
										--(if add template then template wise or earning wise)
            BEGIN
         
          if(@TemplateId = CAST(0x0 AS UNIQUEIDENTIFIER))
            Begin
                SELECT  EarningMaster.EarningId,
						EarningMaster.EarningTypeName,							
					 CASE WHEN (EarningMaster.CalculationType  = 1)   
				                                          
             THEN 
						 CASE WHEN (EarningMaster.EarningTypeId  = 1)                                             
                     THEN                                            
					   CAST(EarningMaster.Amount  AS VARCHAR(50)) + '% of CTC'  
											
                          WHEN (EarningMaster.EarningTypeId  != 1)
                     THEN                                            
					   CAST(EarningMaster.Amount  AS VARCHAR(50)) + '% of BASIC'  
					  end 
					  end as CalculationName,
					  EarningMaster.CalculationType,
					  EarningMaster.Amount as EarAmount,
					  EarningMaster.EarningTypeId, 
					  isnull(EPFMaster.IsIncInCTC,0) as IsIncInCTC,
					  isnull(ESIMaster.IsIncInCTC,0) as ESIIsIncInCTC,	
					  IsConsiderEPF,
					  IsConsiderESI,
					  isnull(EPFMaster.IsEDLIIncInCTC,0) as IsEDLIIncInCTC,
					  isnull(EPFMaster.IsIncAdminChargeInCTC,0) as IsIncAdminChargeInCTC,					
					  EPFConsideron	,
					  ESIAmountRange,
					  isnull(LWFIsIncInCTC,0) as LWFIsIncInCTC	,
					   IsEligibleESIC
                FROM    EarningMaster 	         
                left join EPFMaster on EPFMaster.EntityId = @EntityId  	
                left join ESIMaster on ESIMaster.EntityId= @EntityId 
                left join CompanyMaster on  CompanyMaster.EntityId= @EntityId 				
                Where 
                						--(@EarningId IS NULL
                --      OR EarningMaster.EarningId = @EarningId)
                      EarningMaster.IsDeleted=0
               --     and EPFMaster.EntityId = @EntityId   
                      and IsEarning = 1
                      and IsSysGenerated= 0 
                      and PayType = 0 
                      and Isadditional =0
                      order by EarningSequence                  
             End
           Else  
				Begin
				SELECT  EarningMaster.EarningId,
						EarningMaster.EarningTypeName,
						EarningMaster.EarningTypeId ,
				 CASE WHEN (EarningMaster.CalculationType  = 1)   
				                                          
             THEN 
						 CASE WHEN (EarningMaster.EarningTypeId  = 1)                                             
                     THEN                                            
					   CAST(EarningMaster.Amount  AS VARCHAR(50)) + '% of CTC'  
											
                          WHEN (EarningMaster.EarningTypeId  != 1)
                     THEN                                            
					   CAST(EarningMaster.Amount  AS VARCHAR(50)) + '% of BASIC'  
					  end 
					  end as CalculationName,
					EarningMaster.CalculationType,
					EarningMaster.Amount as EarAmount,
					EarningMaster.EarningTypeId,
					isnull(EPFMaster.IsIncInCTC,0) as IsIncInCTC,
					isnull(ESIMaster.IsIncInCTC,0) as ESIIsIncInCTC,
					IsConsiderEPF,
					IsConsiderESI,
				    isnull(EPFMaster.IsEDLIIncInCTC,0) as IsEDLIIncInCTC,
				    isnull(EPFMaster.IsIncAdminChargeInCTC,0) as IsIncAdminChargeInCTC,
					EPFConsideron,
					ESIAmountRange,
					isnull(LWFIsIncInCTC,0) as LWFIsIncInCTC,			 	 
					  IsEligibleESIC  			
                FROM    EarningMaster 
						inner join EmployeeTemplateTrans on EarningMaster.EarningId = EmployeeTemplateTrans.EarningId	
						inner join EmployeeTemplateMaster on EmployeeTemplateMaster.TemplateId= EmployeeTemplateTrans.TemplateId
					    left join EPFMaster on EPFMaster.EntityId= @EntityId	
						left join ESIMaster on ESIMaster.EntityId= @EntityId
						left join CompanyMaster on  CompanyMaster.EntityId= @EntityId 					
					--	inner join EarningType on EarningMaster.EarningTypeId = EarningType.EarningTypeId		
                Where (@TemplateId IS NULL
                      OR EmployeeTemplateMaster.TemplateId = @TemplateId)
                      and EarningMaster.IsDeleted=0
                      and (EmployeeTemplateMaster.IsDeleted = 0 or EmployeeTemplateMaster.IsDeleted is null)
                      and EmployeeTemplateMaster.EntityId = @EntityId 
                      and IsEarning = 1
                      and IsSysGenerated= 0  
                      order by EarningSequence   
				End 
            END
            
            
       
          IF ( @Parameter = 31 )	-- Fetch EPF details 
            
            BEGIN     
            SELECT EPFId    
				  ,EmpContributionType
				  ,EmployerContributionType
				  ,EmpContributionAmount
				  ,EmployerContributionAmount
				  ,IsIncInCTC      
			FROM EPFMaster 
			Inner join CompanyMaster on EPFMaster.EntityId = CompanyMaster.EntityId
		
			WHERE 
				 (@EntityId IS NULL
                  OR EPFMaster.EntityId = @EntityId)
                  and CompanyMaster.IsDelete=0                
                 
			
			END
			
			 IF ( @Parameter = 32 )	-- Fetch ESI details 
            
            BEGIN     
            SELECT ESIId 
				  ,EmpContributionPerRate
				  ,EmployerContributionPerRate				 
				  ,IsIncInCTC      
			FROM ESIMaster 
			Inner join CompanyMaster on ESIMaster.EntityId = CompanyMaster.EntityId
		
			WHERE 
				 (@EntityId IS NULL
                  OR ESIMaster.EntityId = @EntityId)
                  and CompanyMaster.IsDelete=0  
			END
			
				
			 IF ( @Parameter = 33 )	-- Fetch Deduction details 
            
            BEGIN     
            SELECT isnull(ESIMaster.IsIncInCTC,0) as ESIIsIncInCTC ,			 
				   isnull(EPFMaster.IsIncInCTC,0) as EPFIsIncInCTC,					 
				   isnull(EPFMaster.IsEDLIIncInCTC,0) as IsEDLIIncInCTC,
				   isnull(EPFMaster.IsIncAdminChargeInCTC,0) as IsIncAdminChargeInCTC,
				   isnull(CompanyMaster.LWFIsIncInCTC ,0) as  LWFIsIncInCTC
			FROM ESIMaster 
			Inner join CompanyMaster on ESIMaster.EntityId = CompanyMaster.EntityId
			inner join EPFMaster on EPFMaster.EntityId = CompanyMaster.EntityId
		
			WHERE 
				 (@EntityId IS NULL
                  OR ESIMaster.EntityId = @EntityId)
                  and CompanyMaster.IsDelete=0  
			END
		
    
            IF ( @Parameter = 34 )	-- Fetch Min Date from PayoutMaster            
            BEGIN     
				select top 1   DATEADD(DD,-(DAY(PayOutMonth)), DATEADD(MM, 1, PayOutMonth)) as PayOutMonth 
				from PayOutMaster 
				inner join PayOutTrans on  PayOutTrans.PayOutId = PayOutMaster.PayOutId
			WHERE 
				 (@EntityId IS NULL
                  OR PayOutMaster.EntityId = @EntityId)
                  and PayOutMaster.IsDeleted=0  
				  and (@EmployeeId = 0 or PayOutTrans.EmployeeId =@EmployeeId )
                  order by PayOutMaster.PayOutId desc
			END
     
			IF ( @Parameter = 35 )	-- Fetch Min Wage from HRConfiguration            
            BEGIN     
				select  CommonDataId,
						MinWageAmount
				from HRMinWageConfiguration 
		
			WHERE 
				 (@EntityId IS NULL
                  OR HRMinWageConfiguration.EntityId = @EntityId)
                  and (@CommonDataId= 0
                  OR HRMinWageConfiguration.CommonDataId = @CommonDataId)
                  
                  
			END
      
      
			       	 IF ( @Parameter = 36 )	-- Payout done
            
            BEGIN     
				select 1 as value
						from PayOutMaster 
						inner join PayOutTrans on PayOutMaster.PayOutId = PayOutTrans.PayOutId 
						right join EmployeeDetails on PayOutTrans.EmployeeId = EmployeeDetails.EmployeeId
						where Isdeleted =0 and PayOutTrans.EmployeeId = @EmployeeId
						and PayOutMaster.EntityId = @EntityId order by PayOutMaster.PayOutId desc		
                  
                  
			END
			
			       	 IF ( @Parameter = 37 )	-- Payout done
            
				BEGIN     
						SELECT EarningId,
							   EarningTypeName as DeductionName,
							   PayslipName as DeductionNameinPayslip,
							   DeductionType,
						 Case when IsEarning = 0 
							then	CASE WHEN (DeductionType = 0) THEN  'Pre-Tax' 
								   WHEN (DeductionType = 1) THEN  'Post-Tax'               
								   end 
							else '-' end as DeductionTypeName ,
	  					Case when IsEarning = 0 then 'Deduction'
							else 'Allowance' end as IsAllowanceorDeduction						
				 
					FROM EarningMaster				
					where 
						(@EarningId =0 or EarningId= @EarningId)
						and (IsDeleted = 0)			
						and (IsEarning = @IsEarning) 
						and IsSysGenerated= 0 			
						and IsRuntime = 0 
						and IsAdditional = 1 
						ORDER BY EarningTypeName	
			                  
			                  
				END
			
			    	 IF ( @Parameter = 38 )	-- DepartMapped not Deleted 
            
					BEGIN 
						 
						 select isnull(1,0) as EmployeeDeptId
						 from EmployeeDetails 
						 where EmpDept_Id = @SysDepartmentID
							and EmployeeDetails.IsDelete = 0 
							and	EmployeeDetails.EntityId = @EntityId	
		                 
				                  
					END
					
					
			    	 IF ( @Parameter = 39 )	-- Currency Code
            
					BEGIN
						-- SET NOCOUNT ON added to prevent extra result sets from
						select Code from CurrencyMaster where IsDefault = 1  
					END

					IF ( @Parameter = 40 )	-- added by yashvant
					BEGIN 
						 
						 select 
						 EmployeeDetails.EmployeeId,
						 (EmployeeName + ' (' + EmployeeCode + ')') as EmployeeName
						 from EmployeeDetails 
						 inner join SystemDepartment on SystemDepartment.DepartmentID = EmployeeDetails.EmpDept_Id
						 where ( @SysDepartmentID IS NULL OR EmpDept_Id = @SysDepartmentID)
							and EmployeeDetails.IsDelete = 0 
							and	EmployeeDetails.EntityId = @EntityId	
		                 
				                  
					END

					IF (@Parameter = 41)
					BEGIN
					DECLARE @month INT;
					DECLARE @StartYear INT;
					DECLARE @FYStartDate1 DATE;

						SELECT @month = LeaveApplicableMonth 
						FROM HRConfiguration 
						WHERE EntityId = @EntityId;

                     if @month is not null
					   BEGIN
							-- Fetch Financial Year Start and End Date for the given CreatedOn month
							SELECT TOP 1 @StartYear = StartYear
							FROM FetchFinancialYearDynamically(MONTH(@month))
							 SET @FYStartDate1 = DATEFROMPARTS(@StartYear, @month, 1);

						
							-- Check if any PayOutMonth exists in the same month and year as the HolidayDate
							IF EXISTS (
								SELECT 1
								FROM PayOutMaster WITH (NOLOCK)
								WHERE CAST(PayOutMonth AS DATE) BETWEEN CAST(@FYStartDate1 AS DATE) AND CAST(@CreatedOn AS DATE)
								  AND IsDeleted = 0
								  AND EntityId = @EntityId
								  --AND EXISTS (
									 -- SELECT 1
									 -- FROM HolidayTemplateMapping HTM
									 -- JOIN HolidayDateMapping HDM ON HTM.HolidayId = HDM.HolidayId
									 -- WHERE HTM.ParentId = @HolidayParentId
										--AND MONTH(HDM.HolidayDate) = MONTH(PayOutMaster.PayOutMonth)
										--AND YEAR(HDM.HolidayDate) = YEAR(PayOutMaster.PayOutMonth)
										--AND HTM.IsActive = 1
								  --)
							)
							BEGIN
								RETURN 1;  -- Matching payout found for the holiday month
							END
							ELSE
							BEGIN
								RETURN 0;  -- No matching payout found
							END
					  END
				   ELSE
						BEGIN
							RETURN 0;  -- No matching payout found
						END
					END
           IF (@Parameter = 42)
		   BEGIN
				DECLARE @lastpaymonth DATETIME;
			--	DECLARE @FYStartDate DATE, @FYEndDate DATE;
			   SELECT @month = LeaveApplicableMonth 
				 FROM HRConfiguration 
				WHERE EntityId = @EntityId;
     
				IF @month IS NOT NULL
				 BEGIN
					-- Fetch Financial Year Start and End Date for the given CreatedOn month
					SELECT TOP 1 @StartYear = StartYear
					  FROM FetchFinancialYearDynamically(MONTH(@month))
					   SET @FYStartDate1 = DATEFROMPARTS(@StartYear, @month, 1);
				

					-- Fetch the most recent PayOutMonth (before or on @CreatedOn) for the given EntityId
					SELECT TOP 1 @lastpaymonth = PayOutMonth
					FROM PayOutMaster WITH (NOLOCK)
					WHERE CAST(PayOutMonth AS DATE) BETWEEN CAST(@FYStartDate1 AS DATE) AND CAST(@CreatedOn AS DATE)
					  AND IsDeleted = 0
					  AND EntityId = @EntityId
					ORDER BY PayOutMonth DESC;

					-- If a valid PayOutMonth is found, insert into TemplateLog
					IF @lastpaymonth IS NOT NULL
					BEGIN
						INSERT INTO TemplateLog (emp_id, parentid, date_field)
						VALUES (@EmployeeId, @HolidayParentId, EOMONTH(@lastpaymonth));
					END
					ELSE
					BEGIN
						-- Handle the case where no valid PayOutMonth was found
						PRINT 'No valid PayOutMonth found for the given criteria.';
					END
				 END
              END

		    IF (@Parameter = 43)
		   BEGIN
		      update EmployeeDetails
			    set HolidayParentId = @HolidayParentId
			  where EntityId = @EntityId
			    and EmployeeId = @EmployeeId
		   END
GO
