USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_Purchase_Return_GST]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_Purchase_Return_GST] 
	@Parameter INT = 0 ,
	@ApprovePermitter BIT = 0,
	@ApproveLevel BIT=0,
	@PurchaseItemId UNIQUEIDENTIFIER = NULL ,
	@SupplierID UNIQUEIDENTIFIER = NULL ,
	@IsApproveFinal INT = 0 ,
	@IsApprove INT = 0 ,
	@EntityId INT = 0 ,
	@IsBatchWise INT = 1
    
AS
BEGIN
	IF @Parameter = 1				-- Fetch item Type from Purchase Item Master
            BEGIN
            
            if @IsBatchWise = 1
				begin
										select

										RRIT.RawMaterialRejectionTransId 
                                        , RRIT.PurchaseItemId
                                        ,RRIT.RawMaterialRejectionTransId
                                        ,PIM.ItemName 
                                        ,PIM.ItemCode
                                        , ISNULL(RRIT.Qty ,0) AS Qty 
                                        ,isnull( POT.Rates ,0) as Rate                                          
							  			,(ISNULL(RRIT.Qty,0) * POT.Rates) as  Amount
										,PIM.TariffCode
										,POT.PurchaseOrderTransId
										,isnull(CGST,0) as CGST
										,isnull(SGST,0) as SGST
										,isnull(IGST,0) as 	IGST					
										,isnull(IsNull(RRIT.Qty,0)* IsNull((isnull( POT.Rates ,0) - (( isnull( POT.Discount ,0) * isnull( POT.Rates ,0))/100)),0) * CGST/100,0) AS CGSTPER
										,isnull(IsNull(RRIT.Qty,0)* IsNull((isnull( POT.Rates ,0)  - ((isnull( POT.Discount ,0) * isnull( POT.Rates ,0))/100)),0) * SGST/100,0) AS SGSTPER
										,isnull(IsNull(RRIT.Qty,0)* IsNull((isnull( POT.Rates ,0)  - ((isnull( POT.Discount ,0) * isnull( POT.Rates ,0))/100)),0) * IGST/100,0) AS IGSTPER
         
										from RawMaterialRejectionItemTrans as RRIT
										
										inner join RawMaterialRejectionBatchWise as RRBW on RRBW.RawMaterialRejectionTransId = RRIT.RawMaterialRejectionTransId
										inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = RRIT.PurchaseItemId
										inner join RawInwBatchWiseStock as RBWS on RBWS.RawBatchId = RRBW.RawBatchId AND RBWS.PurchaseItemId = PIM.PurchaseItemId and RBWS.PurchaseItemId = RRIT.PurchaseItemId
										inner join RawMaterialInwardDetail as  RMID on RMID.RawBatchNo = RBWS.RawBatchNo and RMID.PurchaseItemId = PIM.PurchaseItemId
										inner join PurchaseOrder_Trans as POT on POT.PurchaseOrderTransId = RMID.PurchaseOrderTransId and PIM.PurchaseItemId = POT.PurchaseItemId
										inner join PurchaseOrder_Master as POM on POM.PurchaseOrderId = POT.PurchaseOrderId and RMID.PurchaseOrderId = POM.PurchaseOrderId
										LEFT JOIN HSNGSTMapping ON HSNGSTMapping.HSNCode=PIM.TariffCode
										LEFT JOIN TaxMaster ON TaxMaster.TaxTemplateId=HSNGSTMapping.TaxTemplateId

                        where 
										POM.IsDeleted =0 
										AND POT.IsDeleted = 0
										AND RMID.IsDeleted =0
										AND PIM.IsDeleted =0 
										AND  RRIT.IsDeleted =0
										AND (RRIT.IsInvoicePrepared = 0 or RRIT.IsInvoicePrepared is null)

                        				AND ( @SupplierID IS NULL
															  OR ( POM.CustomerID = @SupplierID )
															)
									                                        
                                        group by 
											RRIT.RawMaterialRejectionTransId 
											, RRIT.PurchaseItemId
											,RRIT.RawMaterialRejectionTransId
											,PIM.ItemName 
											,PIM.ItemCode
											, RRIT.Qty 
											,POT.Rates                                          
											,(RRIT.Qty)
											, POT.Rates
											,PIM.TariffCode
											,POT.PurchaseOrderTransId
											,CGST 
											,SGST 
											,IGST
				                            ,POT.Discount
                                        
                   end
                else
                begin
                   
							 select 
                                           RRIT.RawMaterialRejectionTransId 
                                        , RRIT.PurchaseItemId
                                        ,RRIT.RawMaterialRejectionTransId
                                        ,PIM.ItemName 
                                        ,PIM.ItemCode
                                        , ISNULL(RRIT.Qty ,0) AS Qty 
                                        ,isnull( POT.Rates ,0) as Rate                                          
							  			,(ISNULL(RRIT.Qty,0) * POT.Rates) as  Amount
										,PIM.TariffCode
										,POT.PurchaseOrderTransId
										,isnull(CGST,0) as CGST
										,isnull(SGST,0) as SGST
										,isnull(IGST,0) as 	IGST					
										,isnull(IsNull(RRIT.Qty,0)* IsNull((isnull( POT.Rates ,0) - (( isnull( POT.Discount ,0) * isnull( POT.Rates ,0))/100)),0) * CGST/100,0) AS CGSTPER
										,isnull(IsNull(RRIT.Qty,0)* IsNull((isnull( POT.Rates ,0)  - ((isnull( POT.Discount ,0) * isnull( POT.Rates ,0))/100)),0) * SGST/100,0) AS SGSTPER
										,isnull(IsNull(RRIT.Qty,0)* IsNull((isnull( POT.Rates ,0)  - ((isnull( POT.Discount ,0) * isnull( POT.Rates ,0))/100)),0) * IGST/100,0) AS IGSTPER
         
                                          
                                  from RawMaterialRejectionItemTrans as RRIT
										
										inner join RawMaterialRejectionBatchWise as RRBW on RRBW.RawMaterialRejectionTransId = RRIT.RawMaterialRejectionTransId
										inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = RRIT.PurchaseItemId
										inner join RawInwBatchWiseStock as RBWS on RBWS.RawBatchId = RRBW.RawBatchId AND RBWS.PurchaseItemId = PIM.PurchaseItemId and RBWS.PurchaseItemId = RRIT.PurchaseItemId
										inner join RawMaterialInwardDetail as  RMID on RMID.RawBatchNo = RBWS.RawBatchNo and RMID.PurchaseItemId = PIM.PurchaseItemId
										inner join PurchaseOrder_Trans as POT on POT.PurchaseOrderTransId = RMID.PurchaseOrderTransId and PIM.PurchaseItemId = POT.PurchaseItemId
										inner join PurchaseOrder_Master as POM on POM.PurchaseOrderId = POT.PurchaseOrderId and RMID.PurchaseOrderId = POM.PurchaseOrderId
										LEFT JOIN HSNGSTMapping ON HSNGSTMapping.HSNCode=PIM.TariffCode
										LEFT JOIN TaxMaster ON TaxMaster.TaxTemplateId=HSNGSTMapping.TaxTemplateId
                   
									WHERE                                                        
                                        ( @SupplierID IS NULL
										OR ( POM.CustomerID = @SupplierID )
										)
                                        AND 
                                        RRIT.IsDeleted = 0
                                        AND (RRIT.IsInvoicePrepared = 0 or RRIT.IsInvoicePrepared is null)
                                            
                                        group by 
											RRIT.RawMaterialRejectionTransId 
											, RRIT.PurchaseItemId
											,RRIT.RawMaterialRejectionTransId
											,PIM.ItemName 
											,PIM.ItemCode
											, RRIT.Qty 
											,POT.Rates                                          
											,(RRIT.Qty)
											, POT.Rates
											,PIM.TariffCode
											,POT.PurchaseOrderTransId
											,CGST 
											,SGST 
											,IGST
				                            ,POT.Discount
                   
					END
            END
            
    IF @Parameter = 2				-- Fetch item Type from Purchase Item Master
            BEGIN
            
			if @IsBatchWise = 1
				begin

					select distinct							
									RRIT.RawMaterialRejectionTransId 
                                        , RRIT.PurchaseItemId
                                        ,RRIT.RawMaterialRejectionTransId
                                        ,PIM.ItemName 
                                        ,PIM.ItemCode
                                        , ISNULL(RRIT.Qty ,0) AS Qty 
                                        ,isnull( POT.Rates ,0) as Rate                                          
							  			,(ISNULL(RRIT.Qty,0) * POT.Rates) as  Amount
										,PIM.TariffCode
										,POT.PurchaseOrderTransId
										,CGST 
										,SGST 
										,IGST						
										,IsNull(RRIT.Qty,0)* IsNull((isnull( POT.Rates ,0) - (( isnull( POT.Discount ,0) * isnull( POT.Rates ,0))/100)),0) * CGST/100 AS CGSTPER
										,IsNull(RRIT.Qty,0)* IsNull((isnull( POT.Rates ,0)  - ((isnull( POT.Discount ,0) * isnull( POT.Rates ,0))/100)),0) * SGST/100 AS SGSTPER
										,IsNull(RRIT.Qty,0)* IsNull((isnull( POT.Rates ,0)  - ((isnull( POT.Discount ,0) * isnull( POT.Rates ,0))/100)),0) * IGST/100 AS IGSTPER
                                          
                                  
                                  from RawMaterialRejectionItemTrans as RRIT
									inner join RawMaterialRejectionBatchWise as RRBW on RRBW.RawMaterialRejectionTransId = RRIT.RawMaterialRejectionTransId
									inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = RRIT.PurchaseItemId
									inner join RawInwBatchWiseStock as RBWS on RBWS.RawBatchId = RRBW.RawBatchId AND RBWS.PurchaseItemId = PIM.PurchaseItemId and RBWS.PurchaseItemId = RRIT.PurchaseItemId
									inner join RawMaterialInwardDetail as  RMID on RMID.RawBatchNo = RBWS.RawBatchNo and RMID.PurchaseItemId = PIM.PurchaseItemId
									inner join PurchaseOrder_Trans as POT on POT.PurchaseOrderTransId = RMID.PurchaseOrderTransId and PIM.PurchaseItemId = POT.PurchaseItemId
									inner join PurchaseOrder_Master as POM on POM.PurchaseOrderId = POT.PurchaseOrderId and RMID.PurchaseOrderId = POM.PurchaseOrderId
									LEFT JOIN HSNGSTMapping ON HSNGSTMapping.HSNCode=PIM.TariffCode
									LEFT JOIN TaxMaster ON TaxMaster.TaxTemplateId=HSNGSTMapping.TaxTemplateId
         
					                       
			                        where
					                        
											POM.IsDeleted =0 
											AND POT.IsDeleted = 0
											AND RMID.IsDeleted =0
											AND PIM.IsDeleted =0 
											AND  RRIT.IsDeleted =0
											AND (RRIT.IsInvoicePrepared = 0 or RRIT.IsInvoicePrepared is null)
	                        				
					                        AND ( @PurchaseItemId IS NULL
															  OR ( POT.PurchaseItemId = @PurchaseItemId )
															)
											AND ( @SupplierID IS NULL
															  OR ( POM.CustomerID = @SupplierID )
															)
											
                                         group by 
											RRIT.RawMaterialRejectionTransId 
                                        , RRIT.PurchaseItemId
                                        , RRIT.RawMaterialRejectionTransId
                                        , PIM.ItemName 
                                        , PIM.ItemCode
                                        , RRIT.Qty 
                                        , POT.Rates                                          
										,(RRIT.Qty)
										, POT.Rates
										,PIM.TariffCode
										,POT.PurchaseOrderTransId
										,PIM.TariffCode
										,CGST 
										,SGST 
										,IGST
										,POT.Discount
                                            
                      end
                else
                begin
                   
							select 
                                           RRIT.RawMaterialRejectionTransId 
                                        , RRIT.PurchaseItemId
                                        ,RRIT.RawMaterialRejectionTransId
                                        ,PIM.ItemName 
                                        ,PIM.ItemCode
                                        , ISNULL(RRIT.Qty ,0) AS Qty 
                                        ,isnull( POT.Rates ,0) as Rate                                          
							  			,(ISNULL(RRIT.Qty,0) * POT.Rates) as  Amount
										,PIM.TariffCode
										,POT.PurchaseOrderTransId
										,isnull(CGST,0) as CGST
										,isnull(SGST,0) as SGST
										,isnull(IGST,0) as 	IGST					
										,isnull(IsNull(RRIT.Qty,0)* IsNull((isnull( POT.Rates ,0) - (( isnull( POT.Discount ,0) * isnull( POT.Rates ,0))/100)),0) * CGST/100,0) AS CGSTPER
										,isnull(IsNull(RRIT.Qty,0)* IsNull((isnull( POT.Rates ,0)  - ((isnull( POT.Discount ,0) * isnull( POT.Rates ,0))/100)),0) * SGST/100,0) AS SGSTPER
										,isnull(IsNull(RRIT.Qty,0)* IsNull((isnull( POT.Rates ,0)  - ((isnull( POT.Discount ,0) * isnull( POT.Rates ,0))/100)),0) * IGST/100,0) AS IGSTPER
         
                                          
                                  from RawMaterialRejectionItemTrans as RRIT
										
										inner join RawMaterialRejectionBatchWise as RRBW on RRBW.RawMaterialRejectionTransId = RRIT.RawMaterialRejectionTransId
										inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = RRIT.PurchaseItemId
										inner join RawInwBatchWiseStock as RBWS on RBWS.RawBatchId = RRBW.RawBatchId AND RBWS.PurchaseItemId = PIM.PurchaseItemId and RBWS.PurchaseItemId = RRIT.PurchaseItemId
										inner join RawMaterialInwardDetail as  RMID on RMID.RawBatchNo = RBWS.RawBatchNo and RMID.PurchaseItemId = PIM.PurchaseItemId
										inner join PurchaseOrder_Trans as POT on POT.PurchaseOrderTransId = RMID.PurchaseOrderTransId and PIM.PurchaseItemId = POT.PurchaseItemId
										inner join PurchaseOrder_Master as POM on POM.PurchaseOrderId = POT.PurchaseOrderId and RMID.PurchaseOrderId = POM.PurchaseOrderId
										LEFT JOIN HSNGSTMapping ON HSNGSTMapping.HSNCode=PIM.TariffCode
										LEFT JOIN TaxMaster ON TaxMaster.TaxTemplateId=HSNGSTMapping.TaxTemplateId
					                        
									WHERE                                                        
                                        ( @PurchaseItemId IS NULL
															  OR ( POT.PurchaseItemId = @PurchaseItemId )
															)
											AND ( @SupplierID IS NULL
															  OR ( POM.CustomerID = @SupplierID )
															)
                                        AND 
                                        RRIT.IsDeleted = 0
                                        AND (RRIT.IsInvoicePrepared = 0 or RRIT.IsInvoicePrepared is null)
                                            
                                        group by 
											RRIT.RawMaterialRejectionTransId 
											, RRIT.PurchaseItemId
											,RRIT.RawMaterialRejectionTransId
											,PIM.ItemName 
											,PIM.ItemCode
											, RRIT.Qty 
											,POT.Rates                                          
											,(RRIT.Qty)
											, POT.Rates
											,PIM.TariffCode
											,POT.PurchaseOrderTransId
											,CGST 
											,SGST 
											,IGST
				                            ,POT.Discount
                   
					END
            END
            
    IF @Parameter = 3				-- Fetch item Name and Code from Purchase Item Master
            BEGIN
            
				if @IsBatchWise = 1
				begin
					select distinct						
                                           PIM.PurchaseItemId                                          
                                          ,PIM.ItemName 
                                          ,PIM.ItemCode                                          				
										                                         
                                    from RawMaterialRejectionItemTrans as RRIT
									inner join RawMaterialRejectionBatchWise as RRBW on RRBW.RawMaterialRejectionTransId = RRIT.RawMaterialRejectionTransId
									inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = RRIT.PurchaseItemId
									inner join RawInwBatchWiseStock as RBWS on RBWS.RawBatchId = RRBW.RawBatchId AND RBWS.PurchaseItemId = PIM.PurchaseItemId and RBWS.PurchaseItemId = RRIT.PurchaseItemId
									inner join RawMaterialInwardDetail as  RMID on RMID.RawBatchNo = RBWS.RawBatchNo and RMID.PurchaseItemId = PIM.PurchaseItemId
									inner join PurchaseOrder_Trans as POT on POT.PurchaseOrderTransId = RMID.PurchaseOrderTransId and PIM.PurchaseItemId = POT.PurchaseItemId
									inner join PurchaseOrder_Master as POM on POM.PurchaseOrderId = POT.PurchaseOrderId and RMID.PurchaseOrderId = POM.PurchaseOrderId
									LEFT JOIN HSNGSTMapping ON HSNGSTMapping.HSNCode=PIM.TariffCode
									LEFT JOIN TaxMaster ON TaxMaster.TaxTemplateId=HSNGSTMapping.TaxTemplateId
         
					                       
			                        where
					                        
											POM.IsDeleted =0 
											AND POT.IsDeleted = 0
											AND RMID.IsDeleted =0
											AND PIM.IsDeleted =0 
											AND  RRIT.IsDeleted =0
											AND (RRIT.IsInvoicePrepared = 0 or RRIT.IsInvoicePrepared is null)
	                        				
					                        	
											AND ( @SupplierID IS NULL
															  OR ( POM.CustomerID = @SupplierID )
															)
											
										
										group by                                            
                                           PIM.PurchaseItemId                                          
                                          ,PIM.ItemName 
                                          ,PIM.ItemCode  
                 end
                 else
                   begin
                   
							 	 select 
                                           PIM.PurchaseItemId                                          
                                          ,PIM.ItemName 
                                          ,PIM.ItemCode 
                                          
                                  from RawMaterialRejectionItemTrans as RRIT
										
										inner join RawMaterialRejectionBatchWise as RRBW on RRBW.RawMaterialRejectionTransId = RRIT.RawMaterialRejectionTransId
										inner join PurchaseItemMaster as PIM on PIM.PurchaseItemId = RRIT.PurchaseItemId
										inner join RawInwBatchWiseStock as RBWS on RBWS.RawBatchId = RRBW.RawBatchId AND RBWS.PurchaseItemId = PIM.PurchaseItemId and RBWS.PurchaseItemId = RRIT.PurchaseItemId
										inner join RawMaterialInwardDetail as  RMID on RMID.RawBatchNo = RBWS.RawBatchNo and RMID.PurchaseItemId = PIM.PurchaseItemId
										inner join PurchaseOrder_Trans as POT on POT.PurchaseOrderTransId = RMID.PurchaseOrderTransId and PIM.PurchaseItemId = POT.PurchaseItemId
										inner join PurchaseOrder_Master as POM on POM.PurchaseOrderId = POT.PurchaseOrderId and RMID.PurchaseOrderId = POM.PurchaseOrderId
										LEFT JOIN HSNGSTMapping ON HSNGSTMapping.HSNCode=PIM.TariffCode
										LEFT JOIN TaxMaster ON TaxMaster.TaxTemplateId=HSNGSTMapping.TaxTemplateId
					                       
         
					                       
			                        where				                        
											POM.IsDeleted =0 
											AND POT.IsDeleted = 0
											AND RMID.IsDeleted =0
											AND PIM.IsDeleted =0 
											AND  RRIT.IsDeleted =0
											AND (RRIT.IsInvoicePrepared = 0 or RRIT.IsInvoicePrepared is null)
	                        									                        	
											AND ( @SupplierID IS NULL
															  OR ( POM.CustomerID = @SupplierID )
															)
									       
			                               group by                                            
                                           PIM.PurchaseItemId                                          
                                          ,PIM.ItemName 
                                          ,PIM.ItemCode 
					                       
					END                                        
            END    
    
END
GO
