USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_NoOfMolds_By_PatternAndFurnace]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Fetch_NoOfMolds_By_PatternAndFurnace]
	@PatternId UNIQUEIDENTIFIER = NULL,
	@Furnace VARCHAR(50) = NULL 
AS
BEGIN
	SELECT MatchPlateCode,NoOfBoxes from MatchPlateFurnaceTranse
	Inner JOIN MatchPlateMaster on MatchPlateMaster.MatchPlateId = MatchPlateFurnaceTranse.MatchPlateId
	INNER JOIN MatchPlateTranse on MatchPlateTranse.MatchPlateId = MatchPlateFurnaceTranse.MatchPlateId
	WHERE PatternId = @PatternId And Furnace = @Furnace AND MatchPlateMaster.IsDeleted = 0
END
GO
