USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FinishGoodStockUpdate]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[FinishGoodStockUpdate]
    @CastingID UNIQUEIDENTIFIER ,
    @MetalID BIGINT ,
    @StockToAdd FLOAT ,
    @StockToAddJo FLOAT = 0 ,
    @Tagging VARCHAR(50) ,
    @Process VARCHAR(50) ,
    @ProcessCode VARCHAR(MAX) ,
    @ProcessDate DATETIME ,
    @UserID BIGINT,
    @CastingID2 UNIQUEIDENTIFIER=NULL,
    @PlantId int,
    @EntityId int
AS
    BEGIN
        BEGIN TRANSACTION
        declare @InTransit int = 0
         -- Need to add CastingID only in fginventory hostory instead of part id because transaction history will have casting not part
		 -- Part is added for our reference only. As of now no use of it As on date 04Aug2018
             Declare @ParentCastingid uniqueidentifier,@PartId uniqueidentifier , @ParentID uniqueidentifier;   
        
        DECLARE @CurrentStock AS FLOAT 
        IF ( @ProcessDate IS NULL )
            BEGIN
                SET @ProcessDate = GETDATE()
            END 


        IF @@ERROR <> 0
            ROLLBACK TRANSACTION
        IF EXISTS ( SELECT  *
                    FROM    CastingGradeStock
                    WHERE   castingID = @CastingID
                            AND MetalID = @MetalID 
                            And PlantId = @PlantId
                            and EntityId = @EntityId
                            and InTransit = @InTransit)
            BEGIN
                UPDATE  CastingGradeStock
                SET     Stock = stock + @StockToAdd
                WHERE   castingID = @CastingID
                        AND MetalID = @MetalID
                        and PlantId = @PlantId
                        And EntityId = @EntityId
                        and InTransit = @InTransit
                        
                        IF @@ERROR <> 0
            ROLLBACK TRANSACTION
            END
        ELSE
            BEGIN
                
                INSERT  INTO dbo.CastingGradeStock
                        ( CastingID ,
                          MetalID ,
                          Stock ,
                          DefaultPosition,
                          PlantId,
                          EntityId
                        )
                VALUES  ( @CastingID ,
                          @MetalID ,
                          @StockToAdd ,
                          1  ,
                          @PlantId,
                          @EntityId
                        )
                        IF @@ERROR <> 0
            ROLLBACK TRANSACTION
            END
        IF @@ERROR <> 0
            ROLLBACK TRANSACTION

        SET @CurrentStock = ( SELECT    SUM(stock)
                              FROM      CastingGradeStock
                              WHERE     castingID = @CastingID
										and PlantId = @PlantId
										and EntityId = @EntityId
                            )
        IF @@ERROR <> 0
            ROLLBACK TRANSACTION
        IF EXISTS ( SELECT  *
                    FROM    CastingStock
                    WHERE   castingID = @CastingID
							and Plantid = @PlantId 
							and EntityId = @EntityId)
            BEGIN
                UPDATE  CastingStock
                SET     Stock = @CurrentStock
                WHERE   castingID = @CastingID
						and PlantId = @PlantId
						and EntityId = @EntityId
                IF @@ERROR <> 0
            ROLLBACK TRANSACTION
            END
        ELSE
            BEGIN

                INSERT  INTO CastingStock
                        ( Stock, castingID,PlantId,EntityId )
                VALUES  ( @CurrentStock, @CastingID ,@PlantId,@EntityId)
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
            END

        IF @@ERROR <> 0
            ROLLBACK TRANSACTION
        IF @StockToAdd != 0
            BEGIN
                DECLARE @SerialNo INT;
                
                SET @ParentID = (Select ParentID from CastingMaster where CastingId=@CastingID )
						 IF @ParentID IS NOT NULL
                            BEGIN
								Set @ParentCastingid = @ParentID
								Set @PartId = @CastingID
                            END 
                            ELSE
								Set @ParentCastingid = @CastingID
                
                SET @SerialNo = ISNULL(( SELECT MAX(SerialNo) + 1
                                         FROM   FGInventoryHistory
                                       ), 1)
                INSERT  INTO FGInventoryHistory
                        ( CastingID ,
                          CurrentStock ,
                          TransactionQty ,
                          Tagging ,
                          Process ,
                          ProcessCode ,
                          ProcessDate ,
                          InsertedDate ,
                          UserId ,
                          SerialNo,
                          MetalId,
                          PartId,
                          PlantId,
                          EntityId
                        )
                VALUES  ( @ParentCastingid ,
                          @CurrentStock ,
                          @StockToAdd ,
                          @Tagging ,
                          @Process ,
                          @ProcessCode ,
                          @ProcessDate ,
                          GETDATE() ,
                          @UserID ,
                          @SerialNo,
                          @MetalID ,
                          @PartId,
                          @PlantId,
                          @EntityId
                        )
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
            END
      
      -- Stock Update In Casting JobOut Stock
      -- Start --
        IF ( @Tagging = 'JOBOUT'
             OR @Tagging = 'JOBRETURN'
           )
            BEGIN
                SET @StockToAddJo = -@StockToAddJo
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
                IF EXISTS ( SELECT  TOP 1 CastingID
                            FROM    CastingJOGradeStock
                            WHERE   castingID = @CastingID2
                                    AND MetalID = @MetalID 
                                    and PlantId= @PlantId
                                    and EntityId = @EntityId)
                    BEGIN
                        UPDATE  CastingJOGradeStock
                        SET     Stock = stock + @StockToAddJo
                        WHERE   castingID = @CastingID2
                                AND MetalID = @MetalID
                                and PlantId = @PlantId
                                And EntityId = @EntityId
                                IF @@ERROR <> 0
            ROLLBACK TRANSACTION
                    END
                ELSE
                    BEGIN
                
                        INSERT  INTO dbo.CastingJOGradeStock
                                ( CastingID ,
                                  MetalID ,
                                  Stock ,
                                  DefaultPosition,
                                  PlantId,
                                  EntityId
                                  
                                )
                        VALUES  ( @CastingID2 ,
                                  @MetalID ,
                                  @StockToAddJo ,
                                  1  ,
                                  @PlantId,
                                  @EntityId
                                  
                                )
                    END
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION

                SET @CurrentStock = ( SELECT    SUM(stock)
                                      FROM      CastingJOGradeStock
                                      WHERE     castingID = @CastingID2
												and PlantId = @PlantId
												and EntityId = @EntityId
                                    )
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
                IF EXISTS ( SELECT  TOP 1 castingid
                            FROM    CastingJOStock
                            WHERE   castingID = @CastingID2
									and PlantId = @PlantId
									and EntityId = @EntityId )
                    BEGIN
                        UPDATE  CastingJOStock
                        SET     Stock = @CurrentStock
                        WHERE   castingID = @CastingID2
								and PlantId = @PlantId
								and EntityId = @EntityId
                        
                        IF @@ERROR <> 0
            ROLLBACK TRANSACTION
                    END
                ELSE
                    BEGIN

                        INSERT  INTO CastingJOStock
                                ( Stock, castingID,PlantId ,EntityId)
                        VALUES  ( @CurrentStock, @CastingID2,@PlantId ,@EntityId)
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                    END

                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
            END
       -- End --     
      
        COMMIT TRANSACTION

    END
GO
