USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Rr_Allocation_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[Rr_Allocation_Register]
     
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,   
@StartDate DATE = NULL ,
	@ItemId UNIQUEIDENTIFIER = NULL,	
    @Enddate DATE = NULL ,  
    @EntityId INT = 0 
  
AS
BEGIN
	   
			SELECT		PurchaseItemId,
						ItemName,
						ItemCode,			
						RRAssignDate,
						ShowRRAssignDate,
						RRQty AS Qty,
						PostingDate,
						--CASE WHEN SUM(Status) > 0
						--	 THEN 1
						--ELSE 
						CASE WHEN sum(AcceptedQty) = RRQty
								  THEN 0
								  ELSE 1
							--END
						END AS Status
			FROM		(			
							SELECT		PurchaseItemMaster.PurchaseItemId,
										PurchaseItemMaster.ItemName,
										PurchaseItemMaster.ItemCode,
										RREntry.BatchId,
										RREntryMaster.RRAssignDate,
										RREntryMaster.ShowRRAssignDate,
										ReturnQty,
										AcceptedQty,
										RREntryMaster.RRQty,
										RREntryMaster.PostingDate,
										--case when Convert(decimal(18,3),ReturnQty)  != CONVERT(Decimal(18,3), AcceptedQty)
										--then 	1 else 
										0
										-- end 
										as Status
							FROM		(			
											SELECT		RREntryMaster.PurchaseItemId,
														RREntryTrans.BatchId,
														cast (RREntryMaster.PostingDate as DATE) AS ShowRRAssignDate, 			
														CONVERT(VARCHAR(15), cast (RREntryMaster.CreatedOn as DATE), 106) AS RRAssignDate,
														SUM(RREntryTrans.AcceptedQty) AS AcceptedQty,
														CONVERT(VARCHAR(15), cast (RREntryMaster.PostingDate as DATE), 106) AS PostingDate
											FROM		RREntryMaster
														INNER JOIN RREntryTrans
														ON RREntryMaster.RRMasterId = RREntryTrans.RRMasterId
											WHERE		RREntryMaster.EntityId = @EntityID
											GROUP BY	RREntryMaster.PurchaseItemId,
														RREntryTrans.BatchId,
														cast (RREntryMaster.PostingDate as DATE),
														CONVERT(VARCHAR(15), cast (RREntryMaster.CreatedOn as DATE), 106) ,
														CONVERT(VARCHAR(15), cast (RREntryMaster.PostingDate as DATE), 106)
										) AS 	RREntry
										INNER JOIN (
											SELECT		RREntryMaster.PurchaseItemId,
														cast (RREntryMaster.PostingDate as DATE) AS ShowRRAssignDate, 			
														CONVERT(VARCHAR(15), cast (RREntryMaster.CreatedOn as DATE), 106) AS RRAssignDate,
														SUM(RRQty) AS RRQty,
														CONVERT(VARCHAR(15), cast (RREntryMaster.PostingDate as DATE), 106) AS PostingDate
											FROM		RREntryMaster
											WHERE		RREntryMaster.EntityId = @EntityID
											GROUP BY	RREntryMaster.PurchaseItemId,
														cast (RREntryMaster.PostingDate as DATE),
														CONVERT(VARCHAR(15), cast (RREntryMaster.CreatedOn as DATE), 106) ,
														CONVERT(VARCHAR(15), cast (RREntryMaster.PostingDate as DATE), 106)
										) AS RREntryMaster
										ON RREntryMaster.PurchaseItemId = RREntry.PurchaseItemId
										AND RREntryMaster.ShowRRAssignDate = RREntry.ShowRRAssignDate
										LEFT JOIN (
											SELECT		purchaseitemID,
														batchid,
														SUM(returnQty) AS ReturnQty,
														FoundryReturn.IsDeleted
											FROM		FoundryReturn
											WHERE		FoundryReturn.IsDeleted = 0
														AND	FoundryReturn.EntityId = @EntityID
											GROUP BY	purchaseitemID,
														batchid, FoundryReturn.IsDeleted
										) AS FoundryReturn
										ON FoundryReturn.purchaseitemID = RREntry.PurchaseItemId
										AND FoundryReturn.batchid = RREntry.BatchId
										INNER JOIN PurchaseItemMaster
										ON PurchaseItemMaster.PurchaseItemId = RREntry.PurchaseItemId
							WHERE		PurchaseItemMaster.IsDeleted = 0
										AND FoundryReturn.IsDeleted = 0
										AND (@ItemId is null 
											or PurchaseItemMaster.PurchaseItemId=@ItemId)
										AND RREntryMaster.ShowRRAssignDate  between @StartDate and @EndDate
						
						) AS FINAL
			GROUP BY	PurchaseItemId,
						ItemName,
						ItemCode,			
						RRAssignDate,
						ShowRRAssignDate,
						RRQty	,
						PostingDate
						
			order by ShowRRAssignDate desc,ItemName asc	

	   
END

GO
