USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CastingDimInspection_UPDATE]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CastingDimInspection_UPDATE]   
    @ReportNo VARCHAR(10) = NULL ,    
    @InspectionDate DATETIME = NULL ,    
    @CastingId UNIQUEIDENTIFIER = NULL ,    
    @CreatedBy INT = 0 ,    
    @ModifiedBy INT = 0 ,    
    @DeletedBy INT = 0 ,    
    @EntityId INT = 0 ,    
    @EntryNo VARCHAR(20) = NULL ,    
    @SeriesId INT = 0 ,    
    @Prefix VARCHAR(10) = NULL ,    
    @Separator VARCHAR(3) = NULL ,    
    @Suffix VARCHAR(10) = NULL ,    
    @CastingDimId INT = 0 ,    
    @OrderId UNIQUEIDENTIFIER = NULL ,    
    @CastingName VARCHAR(MAX) = NULL ,      
    @XMLDimInspDetails AS XML = NULL ,      
    @XMLDimInspRejDetails AS XML = NULL ,    
    @StartDate DATE = NULL ,    
    @EndDate DATE = NULL ,    
    @TotalRecords INT = 0 ,    
    @InitialLoad INT = 0 ,    
    @PageNumber INT = 0 ,    
    @PageSize INT = 0 ,    
    @Note VARCHAR(MAX) = NULL ,    
    @InspectionQty INT = 0 ,    
    @UpdateSrNo INT = 0 ,    
    @SrNo INT = 0 , -- SrNo - int    
    @ParameterId INT = 0 , -- ParameterId - int    
    @ColumnSrNo INT = 0 , -- ColumnSrNo - int    
    @ObserDim VARCHAR(200) = NULL , -- ObserDim - float    
    @Remarks VARCHAR(MAX) = NULL ,    
    @SampleQty INT = 0 ,    
    @batchstock INT = 0 ,    
    @stockbatchID BIGINT = 0 ,    
    @BatchXMl AS XML = NULL ,    
    @MetalID BIGINT = 0 ,    
    @ProcessID UNIQUEIDENTIFIER = NULL ,    
    @DrawingNo VARCHAR(200) = NULL ,    
    @ISOCode VARCHAR(50) = NULL ,    
    @IsStatic INT = 0 ,    
    @ProcessIDTransferTo UNIQUEIDENTIFIER = NULL ,    
    @TempStock INT = 0 ,    
    @isCastCodeEnable INT = 0 ,    
    @UserID INT = 0 ,    
    @batchID BIGINT = 0 ,    
    @BatchWeight FLOAT = 0 ,    
    @CastCodeNo VARCHAR(50) = NULL ,    
    @Heat_id BIGINT = 0 ,    
    @PlantIdString VARCHAR(MAX) = NULL ,
    @MeasuringTechId INT = 0     
    ,@SurfaceCondition varchar(MaX) = null
    ,@IsCastingInspecsion int = 0
    ,@ProcessIdString varchar(MaX) = null
    ,@Query varchar(MaX) = null
    ,@CastingIdString varchar(MaX) = null
    ,@ReasonID bigint = 0,
    @RejectQty bigint = 0 ,
    @ParameterDetailId bigint = 0,
    @SeriesType int = 0,
	@XMLDimReasonWiseInsp AS XML = NULL,
	@XMLDimMachineShopWiseInsp AS XML = NULL,
	@ReasonRejID bigint = 0,
	@CastingDimInspReasonWiseRejID bigint = 0,
	@RejectionQtyWeight float =0,
    @PlantId int = 0,
    @InTransit bit = 0,
	@AddOnId1 int = 0,
	@IsMachineshopRej int =0,
	@ModifiedOn nvarchar(50) = null,
	@IsStockEdit bit = 0,
	@dtHeatCode Xml
	 
AS
BEGIN
	
	BEGIN TRY
	BEGIN TRANSACTION 
	
	declare @result int = 0
	Declare	@HeatCodeId bigint, 
			@castingDimInspRejId bigint,
			@KnockoutID INT ,
			@ProductionBatchId int,
			@OrderTransId uniqueidentifier ,
			@CreatedOn datetime ,
			@ParentId uniqueidentifier ,
			@RejectionID int ,
			@RejInwardId bigint,
			@batch_id BIGINT ,    
            @batch_stock INT ,
			@EmployeeId bigint = null 
            
                IF Exists (Select * from CastingDimInspMaster where CastingDimId = @CastingDimId  and  IsDeleted =1)
                begin
                   ROLLBACK TRANSACTION
					RETURN -4
                end
                
            
                IF EXISTS (select * from CastingDimInspMaster where CastingDimId = @CastingDimId and ModifiedOn IS NOT NULL)
                begin              
                IF Exists (Select * from CastingDimInspMaster where CastingDimId = @CastingDimId  and  Convert(Nvarchar,ModifiedOn,20) <> @ModifiedOn )
                begin
                   ROLLBACK TRANSACTION
					RETURN -3
                end
                end
            
                  
	
				if exists ( select 1 from CastingDimInspRejTrans Where RejQty > 0  and CastingDimInspRejTrans.CastingDimId = @CastingDimId  )
				BEGIN
					DECLARE isconvertCursor CURSOR
					FOR
						Select	CastingFinalRejection.RejectionID
						from	CastingDimInspReasonWiseRej 
								Inner Join CastingFinalRejection On CastingFinalRejection.CastingDimInspReasonWiseRejID =CastingDimInspReasonWiseRej.CastingDimInspReasonWiseRejID
						where	CastingDimInspReasonWiseRej.CastingDimId = @CastingDimId

					OPEN isconvertCursor -- Open Cursor
					FETCH NEXT FROM isconvertCursor INTO @RejectionID
					WHILE @@FETCH_STATUS = 0
					BEGIN

						declare @Isconverted int = 0 
						exec @Isconverted = dbo.sp_Isconverted
						@RejectionId = @RejectionId

						if (@Isconverted = 1 and @RejectionId <> 0)
						BEGIN
							RollBack Transaction
							return -2;
						End
					FETCH NEXT FROM isconvertCursor INTO @RejectionID
					END
					CLOSE isconvertCursor; -- Cloase Cursor
					DEALLOCATE isconvertCursor;

				END
			    
					--Commented by Ritik on 12-06-2025

                --SELECT  @Prefix = Prefix ,    
                --        @Suffix = Suffix ,    
                --        @Separator = Separator    
                --FROM    Prefix_Suffix    
                --WHERE   Applydate <= @InspectionDate    
                --        AND PrefixSuffixId = ( SELECT   PrefixSuffixId    
                --                               FROM     InvoiceSeries    
                --                               WHERE    SeriesId = @SeriesId    
                --                             )  
				
				 SELECT top 1 @Prefix = Prefix ,    
                        @Suffix = Suffix ,    
                        @Separator = Separator    
                FROM    Prefix_Suffix    
                WHERE   Applydate <= @InspectionDate    
                        AND Invoice_SeriesId = @SeriesId
				order by Applydate desc							 
                                             
                if exists(select Top 1 * from CastingPartNo where CastingId=@CastingId and ProcessId= @ProcessID and IsDeleted=0) 
				BEGIN
					set @RejectionQtyWeight = (select Top 1 [Weight] from CastingPartNo where CastingId=@CastingId and ProcessId= @ProcessID and IsDeleted=0)
				END
				ELSE
				BEGIN
					set @RejectionQtyWeight = (select Top 1 CastingNetWeight from CastingMetal where CastingId=@CastingId AND IsDeleted=0)
				END
				
                UPDATE  dbo.CastingDimInspMaster    
                SET     EntryNo = @EntryNo , -- EntryNo - varchar(50)    
                        ReportNo = @ReportNo , -- ReportNo - varchar(50)    
                        SeriesId = @SeriesId , -- SeriesId - int    
                        InspectionDate = @InspectionDate , -- InspectionDate - datetime    
                        InspectionQty = @InspectionQty , -- InspectionQty - float    
                        CastingId = @CastingId , -- CastingId - uniqueidentifier    
                        OrderId = @OrderId , -- OrderId - uniqueidentifier    
                        ModifiedBy = @ModifiedBy ,    
                        ModifiedOn = GETDATE() ,    
                        Note = @Note , -- Note - varchar(max)    
                        UpdateSrNo = @UpdateSrNo ,    
                        Prefix = @Prefix ,    
                        Separator = @Separator ,    
                        Suffix = @Suffix ,    
                        SampleQty = @SampleQty ,    
                        DrawingNo = @DrawingNo,   
                        SurfaceCondition = @SurfaceCondition    
                WHERE   CastingDimId = @CastingDimId    
   -----------------------trans detail    
                IF EXISTS ( SELECT  *    
                            FROM    CastingDimInspTrans    
                            WHERE   CastingDimId = @CastingDimId )    
  
                    BEGIN    
                    DELETE FROM  CastingDimInspTrans WHERE CastingDimId = @CastingDimId
                    END
                        
                    --added by yashvant
                               
                               if (select COUNT(*) FROM @XMLDimInspDetails.nodes('/DocumentElement/CastingInspectionTable') TEMPXML (Node))  > 0
                               BEGIN
								   INSERT  INTO dbo.CastingDimInspTrans    
									( CastingDimId ,    
									  SrNo ,    
									  ParameterId ,    
									  ColumnSrNo ,    
									  ObserDim ,    
									  Remarks ,
									  MeasuringTechId
									  )
                               
                                   SELECT
                                   @CastingDimId,  
                                   --Node.value('(CastingDimTranId)[1]', 'int') AS 'CastingDimTranId' ,
                                   Node.value('(SrNo)[1]', 'int') AS 'SrNo' ,    
                                   Node.value('(ParameterId)[1]', 'int') AS 'ParameterId' ,    
                                   Node.value('(ColumnSrNo)[1]', 'int') AS 'ColumnSrNo' ,    
                                   Node.value('(ObserDim)[1]', 'varchar(200)') AS 'ObserDim' ,    
                                   Node.value('(Remarks)[1]', 'varchar(Max)') AS 'Remarks'  ,
                                   Node.value('(MeasuringTechId)[1]', 'int') AS 'MeasuringTechId'
                                   --into #CastingDimTrans
                                  FROM @XMLDimInspDetails.nodes('/DocumentElement/CastingInspectionTable')    
                                  AS TEMPXML ( Node )
                                  
                                  --UPDATE
                                  --CastingDimInspTrans
                                  --SET
                                       
                                  --CastingDimInspTrans.SrNo = #CastingDimTrans.SrNo,    
                                  --CastingDimInspTrans.ParameterId = #CastingDimTrans.ParameterId ,    
                                  --CastingDimInspTrans.ColumnSrNo = #CastingDimTrans.ColumnSrNo ,    
                                  --CastingDimInspTrans.ObserDim = #CastingDimTrans.ObserDim ,    
                                  --CastingDimInspTrans.Remarks = #CastingDimTrans.Remarks,
                                  --CastingDimInspTrans.MeasuringTechId = #CastingDimTrans.MeasuringTechId
                                  --FROM
                                  --#CastingDimTrans 
                                  --WHERE
                                  --#CastingDimTrans.CastingDimId = CastingDimInspTrans.CastingDimId
                                  --and
                                  --#CastingDimTrans.CastingDimTranId = CastingDimInspTrans.CastingDimTranId
                                  
                                  --DROP TABLE #CastingDimTrans
                                  
                                  END 
                                  
                                  declare @IsStaticEdit bit = 0
                            IF EXISTS (SELECT  *    
                            FROM    CastingDimInspMaster    
                            WHERE   CastingDimId = @CastingDimId    
                                    AND IsStatic = 0 ) AND @IsStockEdit = 0
                                    begin
                                     if (select COUNT(*) FROM @BatchXMl.nodes('/DocumentElement/BatchTable') TEMPXML (Node))  > 0
                                     begin
                                     
                                     DELETE FROM CastingDimInspHeatWise where CastingDimId = @CastingDimId
                                  
                DECLARE BatchStockBreakup CURSOR    
                FOR    
                    SELECT  Node.value('(stockbatchid )[1]', 'bigint') AS 'stockbatchid' ,    
                            Node.value('(TransferQty)[1]', 'int') AS 'TransferQty' ,    
                            Node.value('(batchID)[1]', 'bigint') AS 'batchID' ,    
                            Node.value('(HeatCodeId)[1]', 'bigint') AS 'HeatCodeId' ,                                
                            Node.value('(BatchWeight)[1]', 'float') AS 'BatchWeight' ,    
                            Node.value('(CastCode)[1]', 'varchar(50)') AS 'CastCode'   ,
                            Node.value('(RejectionQty)[1]', 'int') AS 'RejectionQty'
                    FROM    @BatchXMl.nodes('/DocumentElement/BatchTable') AS TEMPXML ( Node )     
                OPEN BatchStockBreakup;    
    
                FETCH NEXT FROM BatchStockBreakup INTO @stockbatchID,    
                    @batchStock, @batchID,@HeatCodeId, @BatchWeight, @CastCodeNo,@RejectQty    
                WHILE ( @@FETCH_STATUS = 0 )    
                    BEGIN    
    
                        INSERT  INTO CastingDimInspHeatWise    
                                ( CastingDimId ,    
                                  BatchId ,    
                                  Qty,
                                  RejectQty    
								)    
                        VALUES  ( @CastingDimId ,    
                                  @stockbatchID ,    
                                  @batchStock,
                                  @RejectQty    
								)         
                          
                           
                                                               
     
                        FETCH NEXT FROM BatchStockBreakup INTO @stockbatchID,    
                            @batchStock, @batchID,@HeatCodeId, @BatchWeight, @CastCodeNo,@RejectQty
                    END     
					
                CLOSE BatchStockBreakup;    
                DEALLOCATE BatchStockBreakup; 
                
                END
                END
                                  
                                  
                                  if(@SampleQty <> @InspectionQty)
                                  begin
                                    IF EXISTS ( SELECT  *    
									FROM    CastingDimInspHeatCodeDet    
									WHERE   CastingDimId = @CastingDimId )  
									BEGIN    
									DELETE FROM  CastingDimInspHeatCodeDet WHERE CastingDimId = @CastingDimId
									END
                                  END
                                    
                                  
                                   if (select COUNT(*) FROM @dtHeatCode.nodes('/DocumentElement/dtHeatCode') TEMPXML (Node))  > 0
								   BEGIN
	                                    --DELETE FROM  CastingDimInspHeatCodeDet WHERE CastingDimId = @CastingDimId
	                                    
	                                IF EXISTS ( SELECT  *    
									FROM    CastingDimInspHeatCodeDet    
									WHERE   CastingDimId = @CastingDimId )  
									BEGIN    
									DELETE FROM  CastingDimInspHeatCodeDet WHERE CastingDimId = @CastingDimId
									END
									
										INSERT INTO [dbo].[CastingDimInspHeatCodeDet]
									   ([CastingDimId]
									   ,[HeatCodeId]
									   ,[SampleID])
							           
									   SELECT
									   @CastingDimId,  
									   Node.value('(HeatCodeId)[1]', 'int') AS 'HeatCodeId' ,    
									   Node.value('(Quantity)[1]', 'int') AS 'Quantity'
									  FROM @dtHeatCode.nodes('/DocumentElement/dtHeatCode')    
									  AS TEMPXML ( Node )
	           
									END
                                  
                    --END
             
             IF EXISTS (SELECT  *    
                            FROM    CastingDimInspMaster    
                            WHERE   CastingDimId = @CastingDimId    
                                    AND IsStatic = 1 ) AND @IsStockEdit = 0
             BEGIN
                    
             	    
                
				--- this code is for rejection delete 
				DECLARE rej_cusor CURSOR
				FOR
					SELECT DISTINCT RejectionMaster.RejectionID,RejectQty,RejectionMaster.CastingId,RejectionMaster.PartId,RejectionMaster.RejectionDate,
							RejectionMaster.KnockoutId,CastingStockProcessId,Inhouserejmgnt.RejInwardId,rejectionMaster.ProductionBatchId,RejectionMaster.EntityId
					From	RejectionMaster
							Inner Join CastingDimInspReasonWiseRej on RejectionMaster.CastingDimInspReasonWiseRejID = RejectionMaster.CastingDimInspReasonWiseRejID
							and RejectionMaster.CastingDimId = CastingDimInspReasonWiseRej.CastingDimId
							--Inner Join CastingDimInspRejTrans on RejectionMaster.CastingDimRejTranId = CastingDimInspRejTrans.CastingDimInspRejID
							Inner Join ProductionBatch On ProductionBatch.BatchId = RejectionMaster.ProductionBatchId
							Left Join Inhouserejmgnt On Inhouserejmgnt.RejectionID = RejectionMaster.RejectionId
					Where	RejectionMaster.CastingDimId = @CastingDimId
							and RejectionMaster.IsFromInhouseQc = 1
						
				OPEN rej_cusor -- Open Cursor
				FETCH NEXT FROM rej_cusor INTO @RejectionID, @RejectQty,@ParentId, @CastingId,@InspectionDate,
					@KnockoutID ,@ProcessID ,@RejInwardId,@ProductionBatchId,@EntityID
				WHILE @@FETCH_STATUS = 0
				BEGIN
					Set @MetalID = (select MetalId from ProductionBatch Where batchID = @ProductionBatchId)
					set @result =0 
					Exec @result = dbo.ManageRejection
						@Parameter = 50,
						@RejInwardID = @RejInwardId,
						@DeletedBy = @UserID,
						@IsHeatWise = 1,
						@EntityId =@EntityId
					if(@result != 1)
					begin
						rollback transaction
						select @result
						return @result
					end
					set @result =0 	
					Exec  @result = dbo.SP_ONHOLDREJ_DELETE
						@Parameter = 2,  @PartId = @CastingId,@RejectionID = @RejectionID,
						@Rejectionqty = @RejectQty, @Metal_ID = @MetalID, @KnockoutID = @KnockoutID, @PId = @ProcessID,
						@batchid = @ProductionBatchId,@EntityID = @EntityID, @Createdon = @Createdon,@CreatedBY = @DeletedBy,
						@PlantId =@PlantId

					if(@result != 1)
					begin
						rollback transaction
						select @result
						return @result
					end	
				FETCH NEXT FROM rej_cusor INTO @RejectionID, @RejectQty,@ParentId, @CastingId,@InspectionDate,
					@KnockoutID ,@ProcessID ,@RejInwardId,@ProductionBatchId,@EntityID
				END
				CLOSE rej_cusor; -- Cloase Cursor
				DEALLOCATE rej_cusor;		   
                             
            
			--- delete Stock from Batch table
			---------------    
                   SET @CreatedOn = ( SELECT   CreatedOn    
                                           FROM     CastingDimInspMaster    
                                           WHERE    CastingDimId = @CastingDimId    
                                         )    
                           
                        SELECT  CastingDimInspMaster.CastingId AS CastingID ,    
                                MetalID ,    
                                ProcessId ,    
                                CastingDimInspHeatWise.BatchId ,    
                                Qty AS batch_stock  
                                INTO  #temp1    
                        FROM    CastingDimInspHeatWise   
                                INNER JOIN CastingDimInspMaster ON CastingDimInspMaster.CastingDimId = CastingDimInspHeatWise.CastingDimId    
                                INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = CastingDimInspHeatWise.BatchId    
                        WHERE   CastingDimInspMaster.CastingDimId = @CastingDimId 
                                --AND
                                --CastingDimInspHeatWise.BatchId not in (Select stockbatchid from #TempBatchDet)
                                
   
                        DECLARE pro_cusor CURSOR    
                        FOR    
                            SELECT  #temp1.[CastingID] ,    
                                    #temp1.[MetalID] ,    
                                    #temp1.[ProcessId] ,    
                                    #temp1.[batchID] ,    
                                    #temp1.[batch_stock]    
                            FROM    [dbo].[#temp1]     
                    
                        OPEN pro_cusor -- Open Cursor    
                        FETCH NEXT FROM pro_cusor INTO @castingID, @MetalID,    
                            @processID, @batch_id, @batch_stock    
                
                        WHILE @@FETCH_STATUS = 0    
                            BEGIN    
                    
                                SELECT @Heat_id =  productionbatchID , @HeatCodeId = HeatCodeId    
                                                 FROM   CastingStockBatch    
                                 WHERE  Batchid = @batch_id    
                                                   
                                SET @ProcessIDTransferTo = ( SELECT    
                                                              ProcessId    
                                                             FROM    
                                                              ProcessMaster    
                                                             WHERE    
                                                              ProcessName = ( SELECT    
                                                              ProcessName    
                                                              + ' Inspection'    
                                                              FROM    
                                                              ProcessMaster    
                                                              WHERE    
                                                              ProcessId = @ProcessId    
                                                              AND IsDeleted = 0
                                                              )    
                                                              AND IsDeleted = 0
                                                           );    
								set @result = 0
                                EXEC @result= [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,    
                                    @MetalID = @MetalID,    
                                    @StockToAdd = @batch_stock,    
                                    @StockToRej = 0, @ProcessID = @processID,    
                                    @ProcessTransferTo = @ProcessIDTransferTo,    
                                    @Tagging = N'Process Stock',    
                                    @Process = N'Delete',    
                                    @ProcessCode = @Heat_id,    
                                    @productionbatchid = @Heat_id,    
                                    @CastingStockBatchID = @batch_id,    
                                    @ProcessDate = @CreatedOn,    
                                    @UserID = @DeletedBy,    
                                    @CastingId2 = @CastingID,    
                                    @HeatCodeId = @HeatCodeId, 
                                    @PlantId =@PlantId,
                                    @EntityId =@EntityId,
                                    @InTransit =@InTransit,
                                    @AddOnId1 =@AddOnId1
                                if(@result = 1)
								begin
									rollback transaction
								
									select -1
									return -1
								end
                            
                            
                                FETCH NEXT FROM pro_cusor INTO @castingID,    
                                    @MetalID, @processID, @batch_id,    
                                    @batch_stock    
                            END;    
                    
                        CLOSE pro_cusor; -- Close Cursor    
                        DEALLOCATE pro_cusor;      
                        DROP TABLE #temp1    
                    
                    
            
        
        DELETE FROM CastingDimInspReasonWiseRej where CastingDimId = @CastingDimId
        DELETE FROM CastingDimInspRejTrans where CastingDimId = @CastingDimId
        DELETE FROM CastingDimInspHeatWise where CastingDimId = @CastingDimId
        
        Declare @RejDate DateTime
        select @RejDate = InspectionDate from CastingDimInspMaster where CastingDimId = @CastingDimId 
        
             ---------------------------------------Batch details      
                DECLARE BatchStockBreakup CURSOR    
                FOR    
                    SELECT  Node.value('(stockbatchid )[1]', 'bigint') AS 'stockbatchid' ,    
                            Node.value('(TransferQty)[1]', 'int') AS 'TransferQty' ,    
                            Node.value('(batchID)[1]', 'bigint') AS 'batchID' ,    
                            Node.value('(HeatCodeId)[1]', 'bigint') AS 'HeatCodeId' ,                                
                            Node.value('(BatchWeight)[1]', 'float') AS 'BatchWeight' ,    
                            Node.value('(CastCode)[1]', 'varchar(50)') AS 'CastCode'   ,
                            Node.value('(RejectionQty)[1]', 'int') AS 'RejectionQty'
                    FROM    @BatchXMl.nodes('/DocumentElement/BatchTable') AS TEMPXML ( Node )     
                OPEN BatchStockBreakup;    
    
                FETCH NEXT FROM BatchStockBreakup INTO @stockbatchID,    
                    @batchStock, @batchID,@HeatCodeId, @BatchWeight, @CastCodeNo,@RejectQty    
                WHILE ( @@FETCH_STATUS = 0 )    
                    BEGIN    
    
                        INSERT  INTO CastingDimInspHeatWise    
                                ( CastingDimId ,    
                                  BatchId ,    
                                  Qty,
                                  RejectQty    
								)    
                        VALUES  ( @CastingDimId ,    
                                  @stockbatchID ,    
                                  @batchStock,
                                  @RejectQty    
								)         
                          
                           
                                SET @ProcessIDTransferTo = ( SELECT    
                                                              ProcessId    
                                                             FROM    
                                                              ProcessMaster    
                                                             WHERE    
                                                              ProcessName = ( SELECT    
                                                              ProcessName    
                                                              + ' Inspection'    
                                                              FROM    
                                                              ProcessMaster    
                                                              WHERE    
                                                              ProcessId = @ProcessId    
                                                              AND IsDeleted = 0
                                                              )    
                                                              AND IsDeleted = 0
                                                           );    
								   
                                SET @TempStock = -@batchStock   
								set @result = 0
                                EXEC @result = [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,    
                                    @MetalID = @MetalID,    
                                    @StockToAdd = @TempStock, @StockToRej = 0,    
                                    @ProcessID = @ProcessID,    
                                    @ProcessTransferTo = @ProcessIDTransferTo,    
                                    @Tagging = N'Process Stock',    
                                    @Process = N'Insert',    
                                    @ProcessCode = @CastingDimId,    
                                    @productionbatchid = @batchID,    
                                    @ProcessDate = @RejDate,    
                                    @UserID = @UserID,    
                                    @CastCode_No = @CastCodeNo,    
                                    @isCastCodeEnable = @isCastCodeEnable,    
                                    @CastingStockBatchID = @stockbatchID,    
                                    @BatchWeight = @BatchWeight,    
                                    @HeatcodeId = @HeatCodeId,    
                                    @CastingId2 = @CastingID ,
                                    @EntityId =@EntityId,
                                    @PlantId =@PlantId,
                                    @InTransit =@InTransit,
                                    @AddOnId1 =@AddOnId1   
							   if(@result = 1)
							   begin
									rollback transaction
									select -1
									return -1
							   end
                                
     
                        FETCH NEXT FROM BatchStockBreakup INTO @stockbatchID,    
                            @batchStock, @batchID,@HeatCodeId, @BatchWeight, @CastCodeNo    ,@RejectQty
                    END     
					
                CLOSE BatchStockBreakup;    
                DEALLOCATE BatchStockBreakup; 
     
   ----------------------- rej trans detail -----------------------IsStatic = 1 (route available)    
                  
					DECLARE DimnDetailCursor CURSOR  
					FOR    
						SELECT  Node.value('(ID)[1]', 'int') AS 'ID' ,    
								Node.value('(Value)[1]', 'int') AS 'Value' ,
								Node.value('(StockBatchId)[1]', 'int') AS 'StockBatchId'
						FROM    @XMLDimInspRejDetails.nodes('/DocumentElement/CastingInspRejTable')    
								AS TEMPXML ( Node )    
					OPEN DimnDetailCursor    
					FETCH NEXT FROM DimnDetailCursor INTO @ParameterDetailId,@RejectQty,@stockbatchID
	      
					WHILE @@FETCH_STATUS = 0    
						BEGIN 
							if(isnull(@RejectQty,0) <> 0)
							BEGIN
								If Exists (select 1 from CastingDimInspRejTrans Where castingDimId = @CastingDimId and ParameterDetailId = @ParameterDetailId)
								BEGIN
									Set @castingDimInspRejId = (select castingDimInspRejId from CastingDimInspRejTrans 
																Where castingDimId = @CastingDimId and ParameterDetailId = @ParameterDetailId)
									
									Update CastingDimInspRejTrans set RejQty = RejQty+ @RejectQty Where castingDimInspRejId = @castingDimInspRejId
									   
								end
								ELSE
								BEGIN     
									INSERT  INTO dbo.CastingDimInspRejTrans    
											( CastingDimId ,    
											  ParameterDetailId ,    
											  RejQty
											)    
									VALUES  ( @CastingDimId , -- CastingDimId - int    
											  @ParameterDetailId,
											  @RejectQty
											)
									  
									set @castingDimInspRejId = SCOPE_IDENTITY();   
								END
								----Rejection Detail with final Rejection 
		                        
								
								 
							END
							--==========================================
						
							-------------------------------------------
							FETCH NEXT FROM DimnDetailCursor INTO @ParameterDetailId,@RejectQty,@stockbatchID 
						END    
					CLOSE DimnDetailCursor;    
					DEALLOCATE DimnDetailCursor; 

					---Machineshop
					DECLARE DimnMachineshopWiseRejCursor CURSOR    
					FOR    
						SELECT  Node.value('(ReasonID)[1]', 'int') AS 'ID' ,    
								Node.value('(Value)[1]', 'int') AS 'Value' ,
								Node.value('(StockBatchId)[1]', 'int') AS 'StockBatchId',
								Node.value('(IsMachineshopRej)[1]', 'int') AS 'IsMachineshopRej',								
								Node.value('(OperatorId)[1]', 'bigint') AS 'OperatorId'
						FROM    @XMLDimMachineShopWiseInsp.nodes('/DocumentElement/CastingInspMachineshopWiseRejTable')    
								AS TEMPXML ( Node )    
					OPEN DimnMachineshopWiseRejCursor    
					FETCH NEXT FROM DimnMachineshopWiseRejCursor INTO @ReasonRejID,@RejectQty,@stockbatchID,@IsMachineshopRej,@EmployeeId
	      
					WHILE @@FETCH_STATUS = 0    
						BEGIN 
							if(isnull(@RejectQty,0) <> 0)
							BEGIN
								If Exists (select 1 from CastingDimInspReasonWiseRej Where CastingDimId = @CastingDimId and ReasonID = @ReasonRejID and isnull(IsMachineshopRej,0)=@IsMachineshopRej)
								BEGIN
									Set @CastingDimInspReasonWiseRejID = (select CastingDimInspReasonWiseRejID from CastingDimInspReasonWiseRej 
																Where castingDimId = @CastingDimId and ReasonID = @ReasonRejID and isnull(IsMachineshopRej,0)=@IsMachineshopRej)
									   
									Update CastingDimInspReasonWiseRej set RejQty = RejQty+ @RejectQty Where CastingDimInspReasonWiseRejID = @CastingDimInspReasonWiseRejID
								end
								ELSE
								BEGIN     
									INSERT  INTO dbo.CastingDimInspReasonWiseRej    
											( CastingDimId ,    
											  ReasonID ,    
											  RejQty,
											  IsMachineshopRej
											  ,OperatorId
											)    
									VALUES  ( @CastingDimId , -- CastingDimId - int    
											  @ReasonRejID,
											  @RejectQty,
											  @IsMachineshopRej,@EmployeeId
											)
									set @CastingDimInspReasonWiseRejID = SCOPE_IDENTITY();   
								END
							END
							--==========================================
							--==========Rejection Reason wise ==========
		                        
								Set @KnockoutID  = isnull(( select knockoutid from knockout 
														Where batchid =  @batchID and IsDeleted = 0 and castingid = @CastingId),0) 
								   
								set @BatchWeight  = (@RejectionQtyWeight * @RejectQty)
								
								set @OrderTransId = (select CastingHeatCode.OrderTranseID from CastingHeatCode
															Inner join CastingStockBatch On CastingStockBatch.CastingID = CastingHeatCode.CastingID 
															and CastingStockBatch.HeatCodeId = CastingHeatCode.HeatCodeID
															and CastingStockBatch.productionbatchID = CastingHeatCode.ProductionBatchID
													where CastingStockBatch.Batchid = @stockbatchID
													)
								   
								select @HeatCodeID = HeatcodeId ,@ProductionBatchId = ProductionBatchId from CastingStockBatch Where Batchid = @stockbatchID		
								
	                     		set @CreatedOn = GETDATE()
								set @result = 0       
								Exec @result = [dbo].[OnHoldRejectionEntry]
									@KnockoutID = @KnockoutID,@Rejectionqty= @RejectQty, @Weight = @BatchWeight,                                    
									@ReasonID = @ReasonRejID, @Metal_ID = @MetalID, @batchid = @ProductionBatchId,
									@HHeatCodeID = @HeatCodeID, @IsHeatwise = 1, @ProcessId = @ProcessID, @PId = @ProcessIDTransferTo,                                    
									@JOID =0,@CastingID =@CastingId, @CastCode = null ,   
									@IsRework = 0 , @ReworkProcessId = null ,@PendingQty =0  ,
									@OrderTranseID = @OrderTransId ,@EquipmentId =null ,@EmployeeId =@EmployeeId,
									@IsCastCodeEnable = @IsCastCodeEnable,@CreatedBY= @UserID,@CreatedON= @CreatedOn,
									@EntityId = @EntityId,@RejectionDate = @RejDate,@PageType = 0,
									@Remarks = @Note,@InspAgainstFinalRej = 1, @IsQcInspection = 1,
									--@ParameterDetailId = @ParameterDetailId, @CastingDimRejTransId = @castingDimInspRejId ,
									@SeriesType = @SeriesType,@InspectionQty = @InspectionQty
									,@CastingDimId = @CastingDimId
									,@CastingDimInspReasonWiseRejID=@CastingDimInspReasonWiseRejID
									,@PlantId =@PlantId
										
							if(@result != 1)
							begin
								rollback transaction
								select -1
								return -1
							end
							-------------------------------------------
							FETCH NEXT FROM DimnMachineshopWiseRejCursor INTO @ReasonRejID,@RejectQty,@stockbatchID,@IsMachineshopRej,@EmployeeId 
						END    
					CLOSE DimnMachineshopWiseRejCursor;    
					DEALLOCATE DimnMachineshopWiseRejCursor;

					----Foundary Rejection wise
	                DECLARE DimnReasonWiseRejCursor CURSOR  
					FOR    
						SELECT  Node.value('(ReasonID)[1]', 'int') AS 'ID' ,    
								Node.value('(Value)[1]', 'int') AS 'Value' ,
								Node.value('(StockBatchId)[1]', 'int') AS 'StockBatchId',
								Node.value('(IsMachineshopRej)[1]', 'int') AS 'IsMachineshopRej',								
								Node.value('(OperatorId)[1]', 'bigint') AS 'OperatorId'
						FROM    @XMLDimReasonWiseInsp.nodes('/DocumentElement/CastingInspReasonWiseRejTable')    
								AS TEMPXML ( Node )    
					OPEN DimnReasonWiseRejCursor    
					FETCH NEXT FROM DimnReasonWiseRejCursor INTO @ReasonRejID,@RejectQty,@stockbatchID,@IsMachineshopRej,@EmployeeId
	      
					WHILE @@FETCH_STATUS = 0    
						BEGIN 
							if(isnull(@RejectQty,0) <> 0)
							BEGIN
								If Exists (select 1 from CastingDimInspReasonWiseRej Where CastingDimId = @CastingDimId and ReasonID = @ReasonRejID and isnull(IsMachineshopRej,0)=@IsMachineshopRej)
								BEGIN
									Set @CastingDimInspReasonWiseRejID = (select CastingDimInspReasonWiseRejID from CastingDimInspReasonWiseRej 
																Where castingDimId = @CastingDimId and ReasonID = @ReasonRejID and isnull(IsMachineshopRej,0)=@IsMachineshopRej)
									    
									Update CastingDimInspReasonWiseRej set RejQty = RejQty+ @RejectQty Where CastingDimInspReasonWiseRejID = @CastingDimInspReasonWiseRejID
									
								end
								ELSE
								BEGIN     
									INSERT  INTO dbo.CastingDimInspReasonWiseRej    
											( CastingDimId ,    
											  ReasonID ,    
											  RejQty,
											  IsMachineshopRej  
											  ,OperatorId
											)    
									VALUES  ( @CastingDimId , -- CastingDimId - int    
											  @ReasonRejID,
											  @RejectQty,
											  @IsMachineshopRej,@EmployeeId
											)
											
									set @CastingDimInspReasonWiseRejID = SCOPE_IDENTITY();   
								END
								----Rejection Detail with final Rejection 
		                        
								--==========Rejection Reason wise ==========
		                        
								Set @KnockoutID  = isnull(( select knockoutid from knockout 
														Where batchid =  @batchID and IsDeleted = 0 and castingid = @CastingId),0) 
								
								set @BatchWeight  = (@RejectionQtyWeight * @RejectQty)
								
								set @OrderTransId = (select CastingHeatCode.OrderTranseID from CastingHeatCode
															Inner join CastingStockBatch On CastingStockBatch.CastingID = CastingHeatCode.CastingID 
															and CastingStockBatch.HeatCodeId = CastingHeatCode.HeatCodeID
															and CastingStockBatch.productionbatchID = CastingHeatCode.ProductionBatchID
													where CastingStockBatch.Batchid = @stockbatchID
													)
								select @HeatCodeID = HeatcodeId ,@ProductionBatchId = ProductionBatchId from CastingStockBatch Where Batchid = @stockbatchID		
								
								set @CreatedOn = GETDATE()			
								
								set @result = 0
	                     		Exec @result = [dbo].[OnHoldRejectionEntry]
									@KnockoutID = @KnockoutID,@Rejectionqty= @RejectQty, @Weight = @BatchWeight,                                    
									@ReasonID = @ReasonRejID, @Metal_ID = @MetalID, @batchid = @ProductionBatchId,
									@HHeatCodeID = @HeatCodeID, @IsHeatwise = 1, @ProcessId = @ProcessID, @PId = @ProcessIDTransferTo,                                    
									@JOID =0,@CastingID =@CastingId, @CastCode = null ,   
									@IsRework = 0 , @ReworkProcessId = null ,@PendingQty =0  ,
									@OrderTranseID = @OrderTransId ,@EquipmentId =null ,@EmployeeId = @EmployeeId,
									@IsCastCodeEnable = @IsCastCodeEnable,@CreatedBY= @UserID,@CreatedON= @CreatedOn,
									@EntityId = @EntityId,@RejectionDate = @RejDate,@PageType = 0,
									@Remarks = @Note,@InspAgainstFinalRej = 1, @IsQcInspection = 1,
									-- casting dim Insp
									--@ParameterDetailId = @ParameterDetailId, @CastingDimRejTransId = @castingDimInspRejId ,
									@SeriesType = @SeriesType,@InspectionQty = @InspectionQty
								,@CastingDimId = @CastingDimId
								,@CastingDimInspReasonWiseRejID=@CastingDimInspReasonWiseRejID
								,@PlantId =@PlantId
								If(@result != 1)
								begin
									rollback transaction
									select -1
									return -1
								end
							END
							--==========================================
						
							-------------------------------------------
							FETCH NEXT FROM DimnReasonWiseRejCursor INTO @ReasonRejID,@RejectQty,@stockbatchID,@IsMachineshopRej ,@EmployeeId
						END    
					CLOSE DimnReasonWiseRejCursor;    
					DEALLOCATE DimnReasonWiseRejCursor; 
                
                
                END
	
	END TRY
	BEGIN  CATCH
	ROLLBACK TRANSACTION 
	RETURN -1 
	END CATCH
	
	COMMIT TRANSACTION 
	select 1
	RETURN 1
	
END

GO
