USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[HeatCode_InHouse_Rejection_Entry]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================          
-- Author:  <Author,,Name>          
-- Create date: <Create Date,,>          
-- Description: <Description,,>          
-- =============================================          
CREATE  PROCEDURE [dbo].[HeatCode_InHouse_Rejection_Entry]
    @EntityID INT = 0 ,          
	@FromDate DATETIME = NULL , 
	@ToDate DATETIME = NULL,
	@CastingId UNIQUEIDENTIFIER = NULL
AS          
    BEGIN          
    
		SET NOCOUNT ON;          
		
		---- sp Production Parameter  72
		SELECT DISTINCT HeatCode                                    
        FROM    CastingHeatCode                                    
        INNER JOIN RejectionMaster ON CastingHeatCode.ProductionBatchID = RejectionMaster.ProductionBatchId                                    
                                        AND CastingHeatCode.CastingID = RejectionMaster.CastingID                                    
                                        AND HeatCode <> ''                     
                                        AND ( @CastingId IS NULL                                    
                                            OR RejectionMaster.castingid = @CastingId                                    
                                            )                                    
		INNER JOIN dbo.ProductionBatch ON ProductionBatch.batchID = CastingHeatCode.ProductionBatchID                                    
        WHERE  ProductionBatch.EntityId = @EntityId 


		--SELECT Distinct chc.HeatCode                                    
  --          FROM    RejectionMaster as rm 
		--	Inner Join knockout knc on knc.CastingID=rm.CastingID and knc.IsDeleted=0
		--	inner join ProductionBatch as pb ON pb.batchID=knc.batchid and pb.ISDeleted = 0  
		--	INNer Join CastingHeatCode as chc on chc.ProductionBatchID = pb.batchID and chc.HeatCode <> ''
  --          WHERE   (@Castingid is null or rm.CastingID=@Castingid)
		--			AND rm.EntityId = @EntityId
		--			AND ( (@FromDate IS NULL AND @ToDate IS NULL)         
		--					  OR CONVERT(DATE, RejectionDate) BETWEEN CONVERT(DATE, @FromDate) AND CONVERT(DATE, @ToDate)        
		--				)  
END 
GO
