USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ModifyStockRMBatchWiseInsert]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModifyStockRMBatchWiseInsert]
    @PurchaseItemId UNIQUEIDENTIFIER = NULL ,
    @Stock FLOAT = 0 ,
    @EffectiveDate varchar(100) = NULL ,
    @opening_stock XML = NULL ,
    @CreatedBy INT = 0 ,
    @IsInwardBatchWise BIT = NULL ,
    @RawBatchNo VARCHAR(50) = NULL ,
    @RawBatchId INT = 0,
    @EntityId INT = 0,
    -- Added by Nikunj
    @InwardQty FLOAT = 0 ,
    @inwardId UNIQUEIDENTIFIER = NULL,
    @inwardDate DATETIME = NULL ,
    @differencelbl float = 0 ,
    @Parameter INT = 0 ,
    @OSRegularEntry as int = 0 ,
    @Rates float = 0 ,
    @CreatedOn as DATETIME = NULL ,
    @INWno as varchar(100) = NULL ,
    @BatchNo as varchar(100) = NULL ,
    @SeriesId as int =0 ,
    @Prefix as varchar(100) = NULL ,
    @Suffix as varchar(100) = NULL ,
    @Separator as varchar(100) = NULL ,
    @PrefixSufixId as int =0 ,
    @UOM as UNIQUEIDENTIFIER = NULL,
    @ConversionRatio as int =0,
    @ShielfLife as int =0,
    @IsinspectionRequired as int = 0 ,
    @MfgDate as Datetime = null ,
    @SumOfStock as FLOAT =0 ,
    @TransactionQty as FLOAT =0 ,
    @RawmaterialDetailId as int = 0,
    @PlantId int = 0, 
    @PrimaryConversionRatio float= 0  ,
    @ConvertedStock float =0,
    @PageType nvarchar(100) = NULL  
    
AS
    BEGIN
	DECLARE @result TABLE ( returnvalue INT );
		declare @CheckBatchNo varchar(200) ,
		@PrevRate float = 0,
		@InventoryId uniqueidentifier ,
		@PrevQty float = 0;
		
		if @EntityId = 0
		begin
			set @EntityId = (select top 1 EntityId from CompanyMaster where ISNULL(IsDelete,0) = 0)
		end

		IF @Parameter = 0
        BEGIN
        
		BEGIN TRANSACTION
		BEGIN TRY
        DECLARE Stock CURSOR
        FOR
            SELECT  Node.value('(PurchaseItemId )[1]', 'uniqueidentifier') AS 'PurchaseItemId' ,
                    Node.value('(Stock )[1]', 'float') AS 'Stock' ,
                    Node.value('(RawBatchNo )[1]', 'varchar(50)') AS 'RawBatchNo' ,
                    Node.value('(RawBatchId )[1]', 'Int') AS 'RawBatchId',
                    Node.value('(InwardQty )[1]', 'float') AS 'InwardQty' ,
                    Node.value('(inwardDate )[1]', 'DateTime') AS 'inwardDate'   ,
                    Node.value('(inwardId )[1]', 'uniqueidentifier') AS 'inwardId'  ,
                    Node.value('(differencelbl )[1]', 'float') AS 'differencelbl' 
            FROM    @opening_stock.nodes('/DocumentElement/openingStock') AS TEMPXML ( Node )

        OPEN Stock;

        FETCH NEXT FROM Stock INTO @PurchaseItemId, @Stock, @RawBatchNo, @RawBatchId , @InwardQty ,@inwardDate, @inwardId , @differencelbl


        WHILE ( @@FETCH_STATUS = 0 )
            BEGIN   
           		set @PrimaryConversionRatio =(Select ISNULL(QtyPrimaryUOM,1) as QtyPrimaryUOM from PurchaseItemMaster where PurchaseItemId = @PurchaseItemId) 		        
            	set @ConversionRatio = (Select ISNULL(ConversionRatio,1) as ConversionRatio from PurchaseItemMaster where PurchaseItemId = @PurchaseItemId)
		
		set @ConvertedStock = ((@InwardQty/@PrimaryConversionRatio)*@ConversionRatio)
		 
					update	RawMaterialInwardDetail 		
					set		Quantity = @InwardQty, AcceptedQuantiy = @InwardQty,
							ConvertedAcceptedQuantity = @ConvertedStock,
							ConvertedInwardQuantity = @ConvertedStock
					from	RawMaterialInwardDetail 
							inner join RawInwBatchWiseStock on RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId 
															and RawInwBatchWiseStock.RawBatchNo = RawMaterialInwardDetail.RawBatchNo
							--inner join RawMaterialInward on RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId
							--								and RawMaterialInward.PlantId = RawInwBatchWiseStock.PlantId
							
					where	RawMaterialInwardDetail.PurchaseItemId = @PurchaseItemId  		
							and  RawInwBatchWiseStock.RawBatchNo = @RawBatchNo
							--and RawMaterialInward.InwardId = @inwardId							
					
					Declare @FetchRawBatchId  AS INT = 0
					 SET @FetchRawBatchId =( SELECT rawbatchid 
					 from RawInwBatchWiseStock 
					 inner join RawMaterialInwardDetail on RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId 
							and RawInwBatchWiseStock.RawBatchNo = RawMaterialInwardDetail.RawBatchNo
					 inner join RawMaterialInward on RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId
							and RawMaterialInward.PlantId = RawInwBatchWiseStock.PlantId	
					 where RawInwBatchWiseStock.RawBatchNo = @RawBatchNo 
					 and RawInwBatchWiseStock.PurchaseItemId=@PurchaseItemId
					 and RawMaterialInward.InwardId = @inwardId
					 
					 )
      
						INSERT INTO OpeningStockRM(OpeningStockRMId,PurchaseItemId,RawBatchId,Stock,CreatedBy,CreatedOn,EntityId)
						Values(NEWID(),@PurchaseItemId,@FetchRawBatchId,@Stock,@CreatedBy,Getdate(),@EntityId)
            
				 
					
					set @PlantId = (select PlantId from RawMaterialInward where InwardId = @inwardId)	
								
						delete from @result
						INSERT  INTO @result
										( returnvalue
										)
		
                EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemId, -- uniqueidentifier
                    @StockToAdd = @differencelbl, -- @Stock, -- float
                    @Tagging = 'Inward', -- varchar(50)
                    @Process = 'Edit', -- varchar(50)
                    @ProcessCode = @inwardId, -- varchar()
                    @ProcessDate =  @inwardDate, -- datetime
                    @UserID = @CreatedBy, -- bigint
                    @IsInwardBatchWise = @IsInwardBatchWise , 
                    @RawBatchNo = @RawBatchNo
                    ,@EntityId = @EntityId
                    ,@PlantId = @PlantId

								IF ( @@Error <> 0
                                     OR ( ( SELECT  returnvalue
                                            FROM    @result
                                          ) = -7 )
                                   )
                                    BEGIN
                                        ROLLBACK TRANSACTION
                                        RETURN -7
                                    END         
			    
            
                FETCH NEXT FROM Stock INTO @PurchaseItemId, @Stock, @RawBatchNo, @RawBatchId , @InwardQty ,@inwardDate, @inwardId , @differencelbl  
		
            END

        CLOSE Stock

        DEALLOCATE Stock;
		END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			 
			  	IF CURSOR_STATUS('global','Stock') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','Stock') > -1
				   BEGIN
					CLOSE Stock
				   END
				 DEALLOCATE Stock
				END	
			 return -1
			END	
        END Catch 

        COMMIT TRANSACTION
         return 1
        END
        
        IF @Parameter = 1
        BEGIN
		BEGIN TRANSACTION
		BEGIN try
			
			IF EXISTS ( SELECT  RawBatchNo
                        FROM    RawMaterialInwardDetail
                        WHERE   RawBatchNo = ( @Prefix + '' + @RawBatchNo + '' +  @Suffix)
                                AND ( @RawmaterialDetailId = 0
                                      OR RawmaterialDetailId != @RawmaterialDetailId
                                    )
                                AND (@PurchaseItemId is null or RawMaterialInwardDetail.PurchaseItemId = @PurchaseItemId)
                                AND IsDeleted = 0 )
              begin
				rollback TRANSACTION
                RETURN 2
               end
              --if exists( select 1 from PurchaseItemMaster Where PurchaseItemId = @PurchaseItemId and IsFoundryReturn = 1)
              --BEGIN
				if exists(	select	RawInwBatchWiseStock.RawBatchNo from RawInwBatchWiseStock
							where	RawBatchNo = ( @Prefix + '' + @RawBatchNo + '' +  @Suffix)
									AND ( @RawmaterialDetailId = 0)
									AND RawInwBatchWiseStock.PurchaseItemId = @PurchaseItemId
									)
				begin
				rollback TRANSACTION
                RETURN 2
               end		
              --END
			set @SeriesId = 0; --(select isnull(SeriesId,0) from InvoiceSeries where SeriesType = 3 and IsDefault = 1)
			
			--set @PrefixSufixId = (select isnull(SeriesId,0) from InvoiceSeries where SeriesId = @SeriesId)
						
			--set @Prefix = (select isnull(Prefix,'') as Prefix from Prefix_Suffix where PrefixSuffixId = @PrefixSufixId)
			--set @Suffix = (select isnull(Suffix,'') as Suffix from Prefix_Suffix where PrefixSuffixId = @PrefixSufixId)
			--set @Separator = (select isnull(Separator,'') as Separator from Prefix_Suffix where PrefixSuffixId = @PrefixSufixId)
			
			set @UOM = (Select UnitOfMeasure from PurchaseItemMaster where PurchaseItemId = @PurchaseItemId)
			set @ConversionRatio = (Select ISNULL(ConversionRatio,1) as ConversionRatio from PurchaseItemMaster where PurchaseItemId = @PurchaseItemId)
			set @ShielfLife = (Select ISNULL(ShelfLife,0) as ShelfLife from PurchaseItemMaster where PurchaseItemId = @PurchaseItemId)
			set @IsinspectionRequired = (Select ISNULL(IsInspectionRequired ,0) as IsInspectionRequired from PurchaseItemMaster where PurchaseItemId = @PurchaseItemId)
			set @PrimaryConversionRatio =(Select ISNULL(QtyPrimaryUOM,1) as QtyPrimaryUOM from PurchaseItemMaster where PurchaseItemId = @PurchaseItemId) 
			
			if @ShielfLife > 0
			begin
				set	@MfgDate = (Getdate()+@ShielfLife) -- As MyDate DATEADD(DD,,@MfgDate)				
			end
			
			if @OSRegularEntry = 0 AND @PageType = 'RM'
			begin			
				if @RawmaterialDetailId = 0 
				begin
				-- insert grnbatch
					set @inwardId = NEWID();
															
					insert into RawMaterialInward (InwardId,InwardDate,CreatedBy,CreatedOn,IsDeleted,EntityId,INWno, INWSrNo,SeriesId,CustomerId,Prefix,Suffix,Separator,PlantId)
                    values(@inwardId, @inwardDate,@CreatedBy,@CreatedOn,0,@EntityId,@INWno,@RawBatchNo,@SeriesId,(CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)),@Prefix,@Suffix,@Separator,@PlantId) 
                        
                    insert into RawMaterialInwardDetail 
                    (InwardId,PurchaseItemId,Quantity,AcceptedQuantiy,CreatedBy,CreatedOn,IsDeleted,EntityId,INWDeatilSrNo,UnitOfMeasure,
                                                    ConversionRatio,RawBatchNo,MfgDate,StoreID,Location,TestResult,IsRACDone,Rate,IsInspectionDone
                                                    ,ConvertedAcceptedQuantity,ConvertedRejectedQuantity,ConvertedInwardQuantity) 
                    values(@inwardId,@PurchaseItemId,@Stock,@Stock,@CreatedBy,@CreatedOn,0,@EntityId,1,@UOM ,
                                                    @ConversionRatio , ( @Prefix + '' + @RawBatchNo + '' +  @Suffix) , @MfgDate ,
                                                     (CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)), '',1,1,@Rates,1
                                                   ,@ConvertedStock,0,@ConvertedStock ) 
                                                  
					set @RawmaterialDetailId = SCOPE_IDENTITY()
					
					if exists( select 1 from PurchaseItemMaster Where PurchaseItemId = @PurchaseItemId and IsFoundryReturn = 1)
					BEGIN
						exec FoundryReturnRate
						@PageType = 4,
						@PurchaseItemID = @PurchaseItemId,
						@PrevRR = 0,
						@RR = @ConvertedStock,
						@PrevRate = 0,
						@Rate = @Rates,
						@UserID = @CreatedBy,
						@I_ID = @RawmaterialDetailId
					END
					if @ShielfLife > 0
					begin
						insert into RawInwBatchWiseStock (RawBatchNo,PurchaseItemId,Qty,ExpDate,PlantId,EntityId)
                                     values(( @Prefix + '' + @RawBatchNo + '' +  @Suffix),@PurchaseItemId, @ConvertedStock --((@Stock/@PrimaryConversionRatio) * @ConversionRatio)
                                     , @MfgDate,@PlantId,@EntityId)
                        set @RawBatchid = (Select rawBatchId from RawInwBatchWiseStock where RawBatchNo = ( @Prefix + '' + @RawBatchNo + '' +  @Suffix)
											and PurchaseItemId = @PurchaseItemId and PlantId = @PlantId and EntityId = @EntityId
											)
					end
					else
					begin
						insert into RawInwBatchWiseStock (RawBatchNo,PurchaseItemId,Qty,PlantId,EntityId) 
                                                       values(( @Prefix + '' + @RawBatchNo + '' +  @Suffix),@PurchaseItemId, @ConvertedStock --  ((@Stock/@PrimaryConversionRatio) * @ConversionRatio)
                                                       ,@PlantId,@EntityId)
                         set @RawBatchid = (Select rawBatchId from RawInwBatchWiseStock where RawBatchNo = ( @Prefix + '' + @RawBatchNo + '' +  @Suffix)
											and PurchaseItemId = @PurchaseItemId and PlantId = @PlantId and EntityId = @EntityId
											)
					end	
					
					set @SumOfStock =  (select isnull(SUM(Qty),0) as Stock  from RawInwBatchWiseStock where PurchaseItemId = @PurchaseItemId and PlantId = @PlantId and EntityId = @EntityId)
			
					IF EXISTS(SELECT 1 FROM InventoryDetails where Entity = @EntityId AND PurchaseItemId = @PurchaseItemId and PlantId = @PlantId)
					begin
					update InventoryDetails set  Stock = @SumOfStock where Entity = @EntityId AND PurchaseItemId = @PurchaseItemId and PlantId = @PlantId
                    end
                    else                    
                    begin						
						insert into InventoryDetails(StockId,PurchaseItemId,Stock,Entity,PlantId)
						values (NEWID() , @PurchaseItemId,@SumOfStock , @EntityId,@PlantId)
                    end             
                           
                   set @TransactionQty =@ConvertedStock --  ((@Stock/@PrimaryConversionRatio) * @ConversionRatio)
                   
                   set @InventoryId= NEWID()
                   insert into InventoryTransactionHistory (InventoryId, PurchaseItemId,CurrentStock,TransactionQty,Tagging,Process,
                                            ProcessCode,ProcessDate,UserId,SerialNo,POPlantId ,InsertedDate,EntityId)
                   values(@InventoryId , @PurchaseItemId, @SumOfStock,@TransactionQty ,'Inward', 'Insert', @inwardId,@inwardDate
                                             ,@CreatedBy , (select (Max(SerialNo) + 1) as SerialNo from InventoryTransactionHistory) ,@PlantId ,GETDATE(),@EntityId)    
                       
                    Insert into BatchWiseStockHistory(BacthStockId, InventoryId,BatchId,PlantId, Qty)
					Values(NEWID(),@InventoryId,@RawBatchId,@PlantId , @TransactionQty)  
					
					if exists(select 1 from TaggingTable where Tagging = 'Inward' and IsTransfer = 0)
					Begin
						
						Insert into MaterialHistoryTransaction(InOut,Tagging,IsStoreOrFloor,Itemid,ConsiderForAll,TransactionQty,RawBatchId,EntityId,PlantId,ProcessDate,CreatedOn)
						select InOut,TaggingType,IsFloor,@PurchaseItemId,0,@TransactionQty, @RawBatchId,@EntityId,@PlantId,@inwardDate,GetDate()
						from TaggingTable
						where Tagging in ('Inward') and IsTransfer = 0

						update RawMaterialInwardDetail set RawBatch_Id = @RawBatchId where RawmaterialDetailId = @RawmaterialDetailId
						IF @@Error <> 0
							ROLLBACK  TRANSACTION

							
						--exec InsertUpdateBatchRate 
						--@RawBatchId = @RawBatchId,
						--@Rate = @Rates
						--IF @@Error <> 0
						--	ROLLBACK  TRANSACTION
					END
						
                      
				end
				else
				begin
					set @PrevRate = (select Rate from RawMaterialInwardDetail Where RawmaterialDetailId = @RawmaterialDetailId)
					set @PrevQty = (select ConvertedAcceptedQuantity from RawMaterialInwardDetail Where RawmaterialDetailId = @RawmaterialDetailId)
					
					set @inwardId = (select top 1 InwardId from RawMaterialInwardDetail where RawmaterialDetailId = @RawmaterialDetailId )
			
					
					--insert into RawMaterialInward (InwardId,InwardDate,CreatedBy,CreatedOn,IsDeleted,EntityId,INWno, INWSrNo,SeriesId,CustomerId,Prefix,Suffix,Separator)
                  --  values(@inwardId, @inwardDate,@CreatedBy,@CreatedOn,0,@EntityId,@INWno,@BatchNo,@SeriesId,(CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)),@Prefix,@Suffix,@Separator) 
                        
                     update    RawMaterialInward
                     set
                     InwardDate = @inwardDate,
                     ModifiedBy = @CreatedBy,
                     ModifiedOn = @CreatedOn 
                     where InwardId = @inwardId
                        
                    --insert into RawMaterialInwardDetail 
                    --(InwardId,PurchaseItemId,Quantity,AcceptedQuantiy,CreatedBy,CreatedOn,IsDeleted,EntityId,INWDeatilSrNo,UnitOfMeasure,
                    --                                ConversionRatio,RawBatchNo,MfgDate,StoreID,Location,TestResult,IsRACDone,Rate,IsInspectionDone) 
                    --values(@inwardId,@PurchaseItemId,@Stock,@Stock,@CreatedBy,@CreatedOn,0,@EntityId,1,@UOM ,
                    --                                @ConversionRatio , @RawBatchNo , @MfgDate , (CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)), '',1,1,@Rates,1) 
                                                  
					
					update    RawMaterialInwardDetail
                     set
                     Quantity = (@Stock + ISNULL(RejectedQuantity, 0)),
                     AcceptedQuantiy = @Stock, 
                     Rate = @Rates,
                     ModifiedBy = @CreatedBy,
                     ModifiedOn = @CreatedOn ,
                     ConvertedAcceptedQuantity = @ConvertedStock,  --@Stock, 
                     ConvertedInwardQuantity = (@ConvertedStock + ISNULL(ConvertedRejectedQuantity, 0)) --@Stock
                     where RawmaterialDetailId = @RawmaterialDetailId
                     and RawBatchNo = @RawBatchNo
					
					if exists( select 1 from PurchaseItemMaster Where PurchaseItemId = @PurchaseItemId and IsFoundryReturn = 1)
					BEGIN
						exec FoundryReturnRate
						@PageType = 4,
						@PurchaseItemID = @PurchaseItemId,
						@PrevRR = @PrevQty,
						@RR = @ConvertedStock,
						@PrevRate = @PrevRate,
						@Rate = @Rates,
						@UserID = @CreatedBy,
						@I_ID = @RawmaterialDetailId
					END
					
					if @ShielfLife > 0
					begin						                                  
                             update    RawInwBatchWiseStock
								 set			 					
								 Qty =  Qty + @differencelbl , --((@differencelbl/@PrimaryConversionRatio )* @ConversionRatio  ) , --(@ConversionRatio * @differencelbl) ,
								 ExpDate = @MfgDate
								 where PurchaseItemId = @PurchaseItemId
								 and RawBatchNo = @RawBatchNo 
								 and PlantId = @PlantId
								 and EntityId = @EntityId
								set @RawBatchId = (select RawBatchid from RawInwBatchWiseStock  where PurchaseItemId = @PurchaseItemId
								 and RawBatchNo = @RawBatchNo 
								 and PlantId = @PlantId
								 and EntityId = @EntityId) 
					end
					else
					begin
						      
                                update    RawInwBatchWiseStock
								 set								
								 Qty = Qty +  @differencelbl -- ((@differencelbl/@PrimaryConversionRatio )* @ConversionRatio  ) -- (@ConversionRatio * @differencelbl)
								 where PurchaseItemId = @PurchaseItemId
								 and RawBatchNo = @RawBatchNo  
								 and PlantId =@PlantId 
								 and EntityId = @EntityId  
						set @RawBatchId = (select RawBatchid from RawInwBatchWiseStock  where PurchaseItemId = @PurchaseItemId
								 and RawBatchNo = @RawBatchNo 
								 and PlantId = @PlantId
								 and EntityId = @EntityId)               
					end	
					
					set @SumOfStock =  (select isnull(SUM(Qty),0) as Stock  from RawInwBatchWiseStock where PurchaseItemId = @PurchaseItemId and PlantId =@PlantId and EntityId = @EntityId)
			
					IF EXISTS(SELECT 1 FROM InventoryDetails where Entity = @EntityId AND PurchaseItemId = @PurchaseItemId and PlantId = @PlantId)
					begin
					update InventoryDetails set  Stock = @SumOfStock where Entity = @EntityId AND PurchaseItemId = @PurchaseItemId and PlantId = @PlantId
                    end
                    else                    
                    begin						
						insert into InventoryDetails(StockId,PurchaseItemId,Stock,Entity,PlantId)
						values (NEWID() , @PurchaseItemId,@SumOfStock , @EntityId,@PlantId)
                    end           
                           
                   set @TransactionQty =@ConvertedStock-- ((@Stock/@PrimaryConversionRatio) * @ConversionRatio)
                   
                   set @InventoryId= NEWID()
                   insert into InventoryTransactionHistory (InventoryId, PurchaseItemId,CurrentStock,TransactionQty,Tagging,Process,
                                            ProcessCode,ProcessDate,UserId,SerialNo , POPlantId,InsertedDate)
                   values(@InventoryId , @PurchaseItemId, @SumOfStock,(@TransactionQty - isnull(@PrevQty,0)),'Inward', 'Edit', @inwardId,@inwardDate
                                             ,@CreatedBy , (select (Max(SerialNo) + 1) as SerialNo from InventoryTransactionHistory) ,@PlantId ,GETDATE())    
                               
					Insert into BatchWiseStockHistory(BacthStockId, InventoryId,BatchId,PlantId, Qty)
					Values(NEWID(),@InventoryId,@RawBatchId,@PlantId , (@TransactionQty - isnull(@PrevQty,0)))  
              
					if exists(select 1 from TaggingTable where Tagging = 'Inward' and IsTransfer = 0)
					Begin
						
						Insert into MaterialHistoryTransaction(InOut,Tagging,IsStoreOrFloor,Itemid,ConsiderForAll,TransactionQty,RawBatchId,EntityId,PlantId,ProcessDate,CreatedOn)
						select InOut,TaggingType,IsFloor,@PurchaseItemId,0,(@TransactionQty - isnull(@PrevQty,0)), @RawBatchId,@EntityId,@PlantId,@inwardDate,GetDate()
						from TaggingTable
						where Tagging in ('Inward') and IsTransfer = 0

						update RawMaterialInwardDetail set RawBatch_Id = @RawBatchId where RawmaterialDetailId = @RawmaterialDetailId
						IF @@Error <> 0
							ROLLBACK  TRANSACTION

						--exec InsertUpdateBatchRate 
						--@RawBatchId = @RawBatchId,
						--@Rate = @Rates
						--IF @@Error <> 0
						--	ROLLBACK  TRANSACTION
					END
					
					--select * from RawMaterialInwardDetail
					
				end				
			end
				ELSE
			BEGIN
			   IF @PageType = 'PATTERN'
			   BEGIN
			    
			    
				if EXISTS (Select TOP 1 RawBatchNo from RawMaterialInwardDetail 
						  inner Join RawMaterialInward on RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId
						  where PurchaseItemId = @PurchaseItemId and IsPattern = 1 And RawMaterialInwardDetail.IsDeleted = 0  And IsTransfer = 0
						  and plantId = @PlantId   )
				BEGIN
			     
				  set @RawBatchNo = (Select TOP 1  RawBatchNo from RawMaterialInwardDetail 
								  inner Join RawMaterialInward on RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId
								  where PurchaseItemId = @PurchaseItemId and IsPattern = 1 And RawMaterialInwardDetail.IsDeleted = 0  And IsTransfer = 0
								   and plantId = @PlantId )
				 

			    END
				ELSE
				BEGIN



				     set @RawBatchNo = (Select SUBSTRING(ItemCode,1,46) +'-PB' from PurchaseItemMaster 
									where PurchaseItemId = @PurchaseItemId)


				END
			    
			      IF NOT EXISTS(Select RawMaterialInwardDetail.RawBatchNo from 
				  RawMaterialInwardDetail 
				  INNER JOIN RawMaterialInward ON RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId
				  where RawBatchNo = @RawBatchNo and IsTransfer = 0 
				  and PurchaseItemId = @PurchaseItemId 
				  AND RawMaterialInward.PlantId = @PlantId
				  and IsOpening = 1
				   AND RawMaterialInwardDetail.IsDeleted = 0)
			      BEGIN

				  Declare @Month INT, @CurrentYear INT,@PaddingZeros INT = 5,@InwSrNo Nvarchar(20)
				   Select @Month = FinancialYear from configuration where  EntityID = @EntityId
				  SET @CurrentYear = YEAR(DATEADD(MONTH, -( @Month - 1 ), @inwardDate))
                 
                                
								
								
								
								SET @InwSrNo = (SELECT

								 ( REPLACE(STR(ISNULL(MAX(CAST(ISNULL(INWSrNo,
                                                              0) AS BIGINT)),
                                                             0) + 1,
                                                      @PaddingZeros), SPACE(1),
                                                  '0') ) AS 'InwNo'

                                FROM                              
								RawMaterialInward
								inner join RawMaterialInwardDetail ON RawMaterialInwardDetail.InwardId =  RawMaterialInward.InwardId
                                WHERE   InwardDate BETWEEN CAST(@Month AS VARCHAR(2))
                                                           + '/01/'
                                                           + CAST(@CurrentYear AS VARCHAR(4))
                                                   AND     DATEADD(Second, -1,
                                                              CAST(@Month AS VARCHAR(2))
                                                              + '/01/'
                                                              + CAST(@CurrentYear
                                                              + 1 AS VARCHAR(4)))
                                        AND RawMaterialInward.EntityId = @EntityId
                                        AND RawMaterialInward.IsDeleted = 0
                                        AND RawMaterialInward.IsTransfer = 0
                                        AND RawMaterialInward.SeriesID = 0 and plantId = @PlantId
										AND RawMaterialInwardDetail.IsOpening = 1
										and RawMaterialInwardDetail.IsPattern = 1
										AND RawMaterialInwardDetail.IsDeleted = 0
										)
			      
			        set @inwardId = NEWID();
															
					insert into RawMaterialInward (InwardId,InwardDate,CreatedBy,CreatedOn,IsDeleted,EntityId,INWno, INWSrNo,SeriesId,CustomerId,Prefix,Suffix,Separator,PlantId)
                    values(@inwardId, @inwardDate,@CreatedBy,@CreatedOn,0,@EntityId,@INWno,@InwSrNo,@SeriesId,(CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)),@Prefix,@Suffix,@Separator,@PlantId) 
                        
                    insert into RawMaterialInwardDetail 
                    (InwardId,PurchaseItemId,Quantity,AcceptedQuantiy,CreatedBy,CreatedOn,IsDeleted,EntityId,INWDeatilSrNo,UnitOfMeasure,
                                                    ConversionRatio,RawBatchNo,MfgDate,StoreID,Location,TestResult,IsRACDone,Rate,IsInspectionDone
                                                    ,ConvertedAcceptedQuantity,ConvertedRejectedQuantity,ConvertedInwardQuantity,IsPattern,IsOpening) 
                    values(@inwardId,@PurchaseItemId,@Stock,@Stock,@CreatedBy,@CreatedOn,0,@EntityId,1,@UOM ,
                                                    @ConversionRatio , @RawBatchNo , @MfgDate ,
                                                     (CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)), '',1,1,@Rates,1
                                                   ,@ConvertedStock,0,@ConvertedStock,1,1 )
                                                   
                         SET @inwardDate = GETDATE()                         
                         EXEC Update_PatternPurchaseItem 
                         @ItemID = @PurchaseItemId,
                         @PlantID = @PlantId,
                         @EntityID = @EntityId,
                         @Stock = @ConvertedStock,
                         @Tagging = 'Opening',
                         @Process = N'Insert',
                         @ProcessCode = @inwardId,
                         @ProcessDate = @inwardDate,
                         @UserId = @CreatedBy,
                         @RawInwBatchWise = @IsInwardBatchWise 
                                                   
                                                   
                                                   
			      END
			      ELSE
			      BEGIN
			      
			      
			       -- SELECT @RawmaterialDetailId = RawmaterialDetailId from RawMaterialInwardDetail where RawBatchNo = @RawBatchNo and PurchaseItemId = @PurchaseItemId and IsOpening = 1

				   SELECT 
			        @RawmaterialDetailId = RawmaterialDetailId 
			        from 
			        RawMaterialInwardDetail
			        INNER JOIN RawMaterialInward ON RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId 
			        where 
			        RawBatchNo = @RawBatchNo 
					And IsTransfer = 0
			        and 
			        PurchaseItemId = @PurchaseItemId 
			        and RawMaterialInwardDetail.IsOpening = 1
			        AND RawMaterialInward.PlantId = @PlantId
			        
			        set @PrevQty = (select ConvertedAcceptedQuantity from RawMaterialInwardDetail Where RawmaterialDetailId = @RawmaterialDetailId)
					
					set @inwardId = (select top 1 InwardId from RawMaterialInwardDetail where RawmaterialDetailId = @RawmaterialDetailId )
					
			        update    RawMaterialInward
                     set
                     InwardDate = @inwardDate,
                     ModifiedBy = @CreatedBy,
                     ModifiedOn = @CreatedOn 
                     where InwardId = @inwardId
                     
                     
                     update    RawMaterialInwardDetail
                     set
                     Quantity = (@Stock + ISNULL(RejectedQuantity, 0)),
                     AcceptedQuantiy = @Stock, 
                     Rate = @Rates,
                     ModifiedBy = @CreatedBy,
                     ModifiedOn = @CreatedOn ,
                     ConvertedAcceptedQuantity = @ConvertedStock,  --@Stock, 
                     ConvertedInwardQuantity = (@ConvertedStock + ISNULL(ConvertedRejectedQuantity, 0)) --@Stock
                     where RawmaterialDetailId = @RawmaterialDetailId
                     --and RawBatchNo = @RawBatchNo
                     
                     SET @inwardDate = GETDATE()
                     EXEC Update_PatternPurchaseItem 
                         @ItemID = @PurchaseItemId,
                         @PlantID = @PlantId,
                         @EntityID = @EntityId,
                         @Stock = @differencelbl,
                         @Tagging = 'Opening',
                         @Process = N'Edit',
                         @ProcessCode = @inwardId,
                         @ProcessDate = @inwardDate,
                         @UserId = @CreatedBy,
                         @RawInwBatchWise = @IsInwardBatchWise
			      
			      END
			    
			   
			   END
			
			
			 
			
			END
			--else
   --         begin
            
			--	-- select * from RawInwBatchWiseStock
			--	if @RawmaterialDetailId = 0
			--	begin
			--		insert into RawInwBatchWiseStock
			--		(RawBatchNo,PurchaseItemId,Qty,ExpDate ,PlantId)
			--		values (@RawBatchNo,@PurchaseItemId,@ConvertedStock--((@Stock/@PrimaryConversionRatio) * @ConversionRatio)
			--		,@MfgDate ,@PlantId )
					
			--		set @SumOfStock =  (select isnull(SUM(Qty),0) as Stock  from RawInwBatchWiseStock where PurchaseItemId = @PurchaseItemId and PlantId = @PlantId)
			
					
			--		if exists ( select top 1 * from InventoryDetails where PurchaseItemId = @PurchaseItemId and PlantId = @PlantId and Entity = @EntityId)
			--		begin
			--			update InventoryDetails set  Stock = @SumOfStock , Entity = @EntityId where PurchaseItemId = @PurchaseItemId and PlantId = @PlantId and Entity = @EntityId
                               
   --                     end
   --                     else
   --                     begin
			--				insert into InventoryDetails ( StockId,PurchaseItemId,Stock ,Entity ,PlantId)
			--				values (NEWID() , @PurchaseItemId ,@SumOfStock,@EntityId,@PlantId)
   --                     end   
   --                        set @TransactionQty =@ConvertedStock -- ((@Stock/@PrimaryConversionRatio) * @ConversionRatio)
   --                        insert into InventoryTransactionHistory (InventoryId, PurchaseItemId,CurrentStock,TransactionQty,Tagging,Process,
   --                                                 ProcessCode,ProcessDate,UserId,SerialNo ,InsertedDate,POPlantId,EntityId)
   --                        values(NEWID() , @PurchaseItemId, @SumOfStock,@TransactionQty ,'opening stock', 'Edit', @inwardId,@inwardDate
   --                                                  ,@CreatedBy , (select (Max(SerialNo) + 1) as SerialNo from InventoryTransactionHistory),GETDATE(),@PlantId,@EntityId )    
                               
					
			--	end
			--	else
			--	begin
				
			--	--update RawInwBatchWiseStock
			--	--set
			--	--Qty = @Stock
			--	--, ExpDate = @EffectiveDate
			--	--where RawBatchId = @RawmaterialDetailId
				
			--	if @ShielfLife > 0
			--		begin						                                  
   --                          update    RawInwBatchWiseStock
			--					 set								
			--					 Qty =  @Stock,
			--					 ExpDate = @MfgDate
			--					 where PurchaseItemId = @PurchaseItemId
			--					 and RawBatchNo = @RawBatchNo 
			--					 and PlantId = @PlantId
								 
			--		end
			--		else
			--		begin
						      
   --                                 update    RawInwBatchWiseStock
			--					 set								
			--					 Qty = @Stock
			--					 where PurchaseItemId = @PurchaseItemId
			--					 and RawBatchNo = @RawBatchNo
			--					 and PlantId = @PlantId                   
			--		end	
				
				
			--	set @SumOfStock =  (select isnull(SUM(Qty),0) as Stock  from RawInwBatchWiseStock where PurchaseItemId = @PurchaseItemId and PlantId = @PlantId)
			
			--		if exists (select * from InventoryDetails where PurchaseItemId = @PurchaseItemId and PlantId = @PlantId and Entity = @EntityId)
			--		begin
			--		update InventoryDetails set  Stock = @SumOfStock , Entity = @EntityId where PurchaseItemId = @PurchaseItemId and PlantId = @PlantId and Entity = @EntityId
   --                    end
   --                    else
   --                    begin
			--			insert into InventoryDetails (StockId , PurchaseItemId,Stock,Entity,PlantId)
			--			values (NEWID() , @PurchaseItemId , @SumOfStock,@EntityId,@PlantId)
   --                    end
                               
                         
   --                        set @TransactionQty =@ConvertedStock-- ((@Stock/@PrimaryConversionRatio) * @ConversionRatio)
   --                        insert into InventoryTransactionHistory (InventoryId, PurchaseItemId,CurrentStock,TransactionQty,Tagging,Process,
   --                                                 ProcessCode,ProcessDate,UserId,SerialNo,InsertedDate,POPlantId,EntityId)
   --                        values(NEWID() , @PurchaseItemId, @SumOfStock,@TransactionQty ,'opening stock', 'Edit', @inwardId,@inwardDate
   --                                                  ,@CreatedBy , (select (Max(SerialNo) + 1) as SerialNo from InventoryTransactionHistory),GETDATE(),@PlantId,@EntityId )    
                               
				
			--	END
   --         end   
            
            
				
        END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			 
			 return  -1
			END	
        END Catch
		Commit TRANSACTION	                           
		RETURN 1
        END
       
       IF @Parameter = 2
        BEGIN
			IF EXISTS ( SELECT  RawBatchNo
                        FROM    RawMaterialInwardDetail
                        WHERE   RawBatchNo = @BatchNo
                                AND ( RawmaterialDetailId = 0
                                      OR RawmaterialDetailId != @RawmaterialDetailId
                                    )
                                AND (@PurchaseItemId is null or RawMaterialInwardDetail.PurchaseItemId = @PurchaseItemId)
                                AND IsDeleted = 0 )
                RETURN 1
            ELSE
                RETURN 0
        END
       
       IF @Parameter = 3
        BEGIN
			 SELECT  isnull(RawMaterialInward.PlantId,0) as PlantId
                        FROM    RawMaterialInwardDetail
                        inner join RawMaterialInward on RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId
                        WHERE  (@RawmaterialDetailId = 0 or  RawMaterialInwardDetail.RawmaterialDetailId = @RawmaterialDetailId )
								AND (@PurchaseItemId is null or RawMaterialInwardDetail.PurchaseItemId = @PurchaseItemId)                        
                                AND RawMaterialInwardDetail.IsDeleted = 0 
                                and RawMaterialInward.IsDeleted= 0   
                                and RawMaterialInward.PlantId > 0                    
        END
       
    END
GO
