USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MonthWiseProductionDetail]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- MonthWiseProductionDetail 0,'2020-01-01','2024-01-01',null,null,'1',1
CREATE PROCEDURE [dbo].[MonthWiseProductionDetail]
    @IsProductionDate BIT = 0 ,
    @StartYear DATETIME = NULL , -- use for financial year
    @EndYear DATETIME = NULL ,	 -- use for financial year
    @CastingId UNIQUEIDENTIFIER = NULL ,
    @CastingName VARCHAR(150) = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
    BEGIN
	SET FMTONLY OFF;
  
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
   --Remove Commented Code if it work properly
        --IF ( @IsProductionDate = 1 )
        --    BEGIN
               
        --        SELECT  *
        --        FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY MONTH(ProductionDate) ASC ) AS [RowNo] ,
        --                            DATENAME(MONTH, ProductionDate) AS Months ,
        --                            ISNULL(SUM(productionqty), 0) AS Productionqty ,
        --                            ISNULL(ROUND(( SUM(productionqty
        --                                               * perpcweight) ), 2, 1),
        --                                   0) AS TotalProductionWeight ,
        --                            ISNULL(( InhouseRej.RejQty ), 0) AS InhouseRejQty ,
        --                            ISNULL(ROUND(( InhouseRej.RejWeight ), 2,
        --                                         1), 0) AS InhouseRejWeight ,
        --                            ISNULL(( PartyRej.RejQty ), 0) AS PartyRejQty ,
        --                            ISNULL(ROUND(( PartyRej.RejWeight ), 2,
        --                                         1), 0) AS PartyRejWeight ,                                                                       
        --                            ISNULL(( s.dispatchqty ), 0) AS Dispatchqty ,
        --                            ISNULL(ROUND(( s.DispatchTotalWeight ), 2,
        --                                         1), 0) AS DispatchTotalWeight ,
        --                            1 AS filter
        --                  FROM      dbo.ProductionBatch
        --                            INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID
        --                            LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                      ProductionDate) AS Months ,
        --                                                ISNULL(SUM(RejQty), 0) AS RejQty ,
        --                                                ISNULL(SUM(Weight), 0) AS RejWeight
        --                                        FROM    CastingFinalRejection
        --                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
        --                                        WHERE   IsInHouseRej=1
        --                                                AND ( ( @IsProductionDate = 1
        --                                                      AND ProductionDate BETWEEN @StartYear AND @EndYear
        --                                                      )
        --                                                      OR ( @IsProductionDate = 0
        --                                                      AND RejectionDate BETWEEN @StartYear AND @EndYear
        --                                                      )
        --                                                    )
        --                                                AND RejQty > 0
        --                                                AND ProductionBatch.IsDeleted = 0
        --                                        GROUP BY DATENAME(MONTH,
        --                                                      ProductionDate)
        --                                      ) AS InhouseRej ON InhouseRej.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                            LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                      ProductionDate) AS Months ,
        --                                                ISNULL(SUM(RejQty), 0) AS RejQty ,
        --                                                ISNULL(SUM(Weight), 0) AS RejWeight
        --                                        FROM    CastingFinalRejection
        --                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
        --                                        WHERE   IsInHouseRej=0
        --                                                AND ( ( @IsProductionDate = 1
        --                                                      AND ProductionDate BETWEEN @StartYear AND @EndYear
        --                                                      )
        --                                                      OR ( @IsProductionDate = 0
        --                                                      AND RejectionDate BETWEEN @StartYear AND @EndYear
        --                                                      )
        --                                                    )
        --                                                AND RejQty > 0
        --                                                AND ProductionBatch.IsDeleted = 0
        --                                        GROUP BY DATENAME(MONTH,
        --                                                      ProductionDate)
        --                                      ) AS PartyRej ON PartyRej.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                            LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                      dispatchdate) AS Months ,
        --                                                SUM(dbo.dispatchtrans.dispatchqty) dispatchqty ,
        --                                                SUM(dbo.dispatchtrans.TotalWeight) AS DispatchTotalWeight
        --                                        FROM    dbo.dispatchtrans
        --                                                INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
        --                                        WHERE   dbo.dispatchtrans.IsDeleted = 0
        --                                                AND dispatchdate BETWEEN @StartYear AND @EndYear
        --                                                AND dbo.dispatchmaster.IsDeleted = 0
        --                                        GROUP BY DATENAME(MONTH,
        --                                                      dispatchdate)
        --                                      ) AS s ON s.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                  WHERE     MONTH(ProductionDate) > 3
        --                            AND ProductionDate BETWEEN @StartYear AND @EndYear
        --                            AND dbo.knockout.IsDeleted = 0
        --                            AND dbo.ProductionBatch.IsDeleted = 0
        --                  GROUP BY  DATENAME(MONTH, ProductionDate) ,
        --                            MONTH(ProductionDate) ,
        --                            s.dispatchqty ,
        --                            s.DispatchTotalWeight ,
        --                            InhouseRej.RejQty ,
        --                            InhouseRej.RejWeight ,
        --                            PartyRej.RejQty ,
        --                            PartyRej.RejWeight
        --                  UNION
        --                  SELECT    ROW_NUMBER() OVER ( ORDER BY MONTH(ProductionDate) ASC ) AS [RowNo] ,
        --                            DATENAME(MONTH, ProductionDate) AS Months ,
        --                            ISNULL(SUM(productionqty), 0) AS Productionqty ,
        --                            ISNULL(ROUND(( SUM(productionqty
        --                                               * perpcweight) ), 2, 1),
        --                                   0) AS TotalProductionWeight ,
        --                            ISNULL(( InhouseRej.RejQty ), 0) AS InhouseRejQty ,
        --                            ISNULL(ROUND(( InhouseRej.RejWeight ), 2,
        --                                         1), 0) AS InhouseRejWeight ,
        --                            ISNULL(( PartyRej.RejQty ), 0) AS PartyRejQty ,
        --                            ISNULL(ROUND(( PartyRej.RejWeight ), 2,
        --                                         1), 0) AS PartyRejWeight ,                                   
        --                            ISNULL(( s.dispatchqty ), 0) AS Dispatchqty ,
        --                            ISNULL(ROUND(( s.DispatchTotalWeight ), 2,
        --                                         1), 0) AS DispatchTotalWeight ,
        --                            2 AS filter
        --                  FROM      dbo.ProductionBatch
        --                            INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID
        --                            LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                      ProductionDate) AS Months ,
        --                                                ISNULL(SUM(RejQty), 0) AS RejQty ,
        --                                                ISNULL(SUM(Weight), 0) AS RejWeight
        --                                        FROM    CastingFinalRejection
        --                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
        --                                        WHERE   ( ( @IsProductionDate = 1
        --                                                    AND ProductionDate BETWEEN @StartYear AND @EndYear
        --                                                  )
        --                                                  OR ( @IsProductionDate = 0
        --                                                      AND RejectionDate BETWEEN @StartYear AND @EndYear
        --                                                     )
        --                                                )
        --                                                AND IsInHouseRej=1
        --                                                AND RejQty > 0
        --                                                AND ProductionBatch.IsDeleted = 0
        --                                        GROUP BY DATENAME(MONTH,
        --                                                      ProductionDate)
        --                                      ) AS InhouseRej ON InhouseRej.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                            LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                      ProductionDate) AS Months ,
        --                                                ISNULL(SUM(RejQty), 0) AS RejQty ,
        --                                                ISNULL(SUM(Weight), 0) AS RejWeight
        --                                        FROM    CastingFinalRejection
        --                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
        --                                        WHERE   ( ( @IsProductionDate = 1
        --                                                    AND ProductionDate BETWEEN @StartYear AND @EndYear
        --                                                  )
        --                                                  OR ( @IsProductionDate = 0
        --                                                      AND RejectionDate BETWEEN @StartYear AND @EndYear
        --                                                     )
        --                                                )
        --                                                AND IsInHouseRej=0
        --                                                AND RejQty > 0
        --                                                AND ProductionBatch.IsDeleted = 0
        --                                        GROUP BY DATENAME(MONTH,
        --                                                      ProductionDate)
        --                                      ) AS PartyRej ON PartyRej.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                            LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                      dispatchdate) AS Months ,
        --                                                SUM(dbo.dispatchtrans.dispatchqty) dispatchqty ,
        --                                                SUM(dbo.dispatchtrans.TotalWeight) AS DispatchTotalWeight
        --                                        FROM    dbo.dispatchtrans
        --                                                INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
        --                                        WHERE   dispatchdate BETWEEN @StartYear AND @EndYear
        --                                                AND dbo.dispatchtrans.IsDeleted = 0
        --                                                AND dbo.dispatchmaster.IsDeleted = 0
        --                                        GROUP BY DATENAME(MONTH,
        --                                                      dispatchdate)
        --                                      ) AS s ON s.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                  WHERE     MONTH(ProductionDate) < 4
        --                            AND ProductionDate BETWEEN @StartYear AND @EndYear
        --                            AND dbo.knockout.IsDeleted = 0
        --                            AND dbo.ProductionBatch.IsDeleted = 0
        --                  GROUP BY  DATENAME(MONTH, ProductionDate) ,
        --                            MONTH(ProductionDate) ,
        --                            s.dispatchqty ,
        --                            s.DispatchTotalWeight ,
        --                            InhouseRej.RejQty ,
        --                            InhouseRej.RejWeight ,
        --                            PartyRej.RejQty ,
        --                            PartyRej.RejWeight
        --                ) AS S
        --        ORDER BY filter
        --    END
   
        --ELSE
        --    SELECT  *
        --    FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY MONTH(ProductionDate) ASC ) AS [RowNo] ,
        --                        DATENAME(MONTH, ProductionDate) AS Months ,
        --                        ISNULL(SUM(productionqty), 0) AS Productionqty ,
        --                        ISNULL(ROUND(( SUM(productionqty * perpcweight) ),
        --                                     2, 1), 0) AS TotalProductionWeight ,
        --                        ISNULL(( InhouseRej.RejQty ), 0) AS InhouseRejQty ,
        --                        ISNULL(ROUND(( InhouseRej.RejWeight ), 2, 1),
        --                               0) AS InhouseRejWeight ,
        --                        ISNULL(( PartyRej.RejQty ), 0) AS PartyRejQty ,
        --                        ISNULL(ROUND(( PartyRej.RejWeight ), 2, 1),
        --                               0) AS PartyRejWeight ,                               
        --                        ISNULL(( s.dispatchqty ), 0) AS Dispatchqty ,
        --                        ISNULL(ROUND(( s.DispatchTotalWeight ), 2, 1),
        --                               0) AS DispatchTotalWeight ,
        --                        1 AS filter
        --              FROM      dbo.ProductionBatch
        --                        INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID
        --                        LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                     RejectionDate) AS Months ,
        --                                            ISNULL(SUM(RejQty), 0) AS RejQty ,
        --                                            ISNULL(SUM(Weight), 0) AS RejWeight
        --                                    FROM    CastingFinalRejection
        --                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
        --                                    WHERE   IsInHouseRej=1
        --                                            AND RejectionDate BETWEEN @StartYear AND @EndYear
        --                                            AND RejQty > 0
        --                                            AND ProductionBatch.IsDeleted = 0
        --                                    GROUP BY DATENAME(MONTH,
        --                                                      RejectionDate)
        --                                  ) AS InhouseRej ON InhouseRej.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                        LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                     RejectionDate) AS Months ,
        --                                            ISNULL(SUM(RejQty), 0) AS RejQty ,
        --                                            ISNULL(SUM(Weight), 0) AS RejWeight
        --                                    FROM    CastingFinalRejection
        --                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
        --                                    WHERE   IsInHouseRej=0
        --                                            AND RejectionDate BETWEEN @StartYear AND @EndYear
        --                                            AND RejQty > 0
        --                                            AND ProductionBatch.IsDeleted = 0
        --                                    GROUP BY DATENAME(MONTH,
        --                                                      RejectionDate)
        --                                  ) AS PartyRej ON PartyRej.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                        LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                     dispatchdate) AS Months ,
        --                                            SUM(dbo.dispatchtrans.dispatchqty) dispatchqty ,
        --                                            SUM(dbo.dispatchtrans.TotalWeight) AS DispatchTotalWeight
        --                                    FROM    dbo.dispatchtrans
        --                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
        --                                    WHERE   dbo.dispatchtrans.IsDeleted = 0
        --                                            AND dispatchdate BETWEEN @StartYear AND @EndYear
        --                                            AND dbo.dispatchmaster.IsDeleted = 0
        --                                    GROUP BY DATENAME(MONTH,
        --                                                      dispatchdate)
        --                                  ) AS s ON s.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --              WHERE     MONTH(ProductionDate) > 3
        --                        AND ProductionDate BETWEEN @StartYear AND @EndYear
        --                        AND dbo.knockout.IsDeleted = 0
        --                        AND dbo.ProductionBatch.IsDeleted = 0
        --              GROUP BY  DATENAME(MONTH, ProductionDate) ,
        --                        MONTH(ProductionDate) ,
        --                        s.dispatchqty ,
        --                        s.DispatchTotalWeight ,
        --                        InhouseRej.RejQty ,
        --                        InhouseRej.RejWeight ,
        --                        PartyRej.RejQty ,
        --                        PartyRej.RejWeight
        --              UNION
        --              SELECT    ROW_NUMBER() OVER ( ORDER BY MONTH(ProductionDate) ASC ) AS [RowNo] ,
        --                        DATENAME(MONTH, ProductionDate) AS Months ,
        --                        ISNULL(SUM(productionqty), 0) AS Productionqty ,
        --                        ISNULL(ROUND(( SUM(productionqty * perpcweight) ),
        --                                     2, 1), 0) AS TotalProductionWeight ,
        --                        ISNULL(( InhouseRej.RejQty ), 0) AS InhouseRejQty ,
        --                        ISNULL(ROUND(( InhouseRej.RejWeight ), 2, 1),
        --                               0) AS InhouseRejWeight ,
        --                        ISNULL(( PartyRej.RejQty ), 0) AS PartyRejQty ,
        --                        ISNULL(ROUND(( PartyRej.RejWeight ), 2, 1),
        --                               0) AS PartyRejWeight ,                               
        --                        ISNULL(( s.dispatchqty ), 0) AS Dispatchqty ,
        --                        ISNULL(ROUND(( s.DispatchTotalWeight ), 2, 1),
        --                               0) AS DispatchTotalWeight ,
        --                        2 AS filter
        --              FROM      dbo.ProductionBatch
        --                        INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID
        --                        LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                     RejectionDate) AS Months ,
        --                                            ISNULL(SUM(RejQty), 0) AS RejQty ,
        --                                            ISNULL(SUM(Weight), 0) AS RejWeight
        --                                    FROM    CastingFinalRejection
        --                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
        --                                    WHERE   RejectionDate BETWEEN @StartYear AND @EndYear
        --                                            AND IsInHouseRej=1
        --                                            AND RejQty > 0
        --                                            AND ProductionBatch.IsDeleted = 0
        --                                    GROUP BY DATENAME(MONTH,
        --                                                      RejectionDate)
        --                                  ) AS InhouseRej ON InhouseRej.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                        LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                     RejectionDate) AS Months ,
        --                                            ISNULL(SUM(RejQty), 0) AS RejQty ,
        --                                            ISNULL(SUM(Weight), 0) AS RejWeight
        --                                    FROM    CastingFinalRejection
        --                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
        --                                    WHERE   RejectionDate BETWEEN @StartYear AND @EndYear
        --                                            AND IsInHouseRej=0
        --                                            AND RejQty > 0
        --                                            AND ProductionBatch.IsDeleted = 0
        --                                    GROUP BY DATENAME(MONTH,
        --                                                      RejectionDate)
        --                                  ) AS PartyRej ON PartyRej.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                        LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                     dispatchdate) AS Months ,
        --                                            SUM(dbo.dispatchtrans.dispatchqty) dispatchqty ,
        --                                            SUM(dbo.dispatchtrans.TotalWeight) AS DispatchTotalWeight
        --                                    FROM    dbo.dispatchtrans
        --                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
        --                                    WHERE   dispatchdate BETWEEN @StartYear AND @EndYear
        --                                            AND dbo.dispatchtrans.IsDeleted = 0
        --                                            AND dbo.dispatchmaster.IsDeleted = 0
        --                                    GROUP BY DATENAME(MONTH,
        --                                                      dispatchdate)
        --                                  ) AS s ON s.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --              WHERE     MONTH(ProductionDate) < 4
        --                        AND ProductionDate BETWEEN @StartYear AND @EndYear
        --                        AND dbo.knockout.IsDeleted = 0
        --                        AND dbo.ProductionBatch.IsDeleted = 0
        --              GROUP BY  DATENAME(MONTH, ProductionDate) ,
        --                        MONTH(ProductionDate) ,
        --                        s.dispatchqty ,
        --                        s.DispatchTotalWeight ,
        --                        InhouseRej.RejQty ,
        --                        InhouseRej.RejWeight ,
        --                        PartyRej.RejQty ,
        --                        PartyRej.RejWeight
        --            ) AS S
        --    ORDER BY filter
        
	SET @StartYear = CAST(@StartYear AS DATE)
	SET @EndYear = CAST(@EndYear AS DATE)
            
        SELECT  *
        FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY IntMnthProdDate ASC ) AS [RowNo] ,
                            SrtMnthProdDate AS Months, --DATENAME(MONTH, ProductionDate) AS Months ,
							ISNULL(MnthProdQty, 0) AS Productionqty, --ISNULL(SUM(productionqty), 0) AS Productionqty ,
                            TtlProdWt AS TotalProductionWeight ,
                            ISNULL(( InhouseRej.RejQty ), 0) AS InhouseRejQty ,
                            ISNULL(ROUND(( InhouseRej.RejWeight ), 2, 1), 0) AS InhouseRejWeight ,
                            ISNULL(( PartyRej.RejQty ), 0) AS PartyRejQty ,
                            ISNULL(ROUND(( PartyRej.RejWeight ), 2, 1), 0) AS PartyRejWeight ,
                            ISNULL(( s.dispatchqty ), 0) AS Dispatchqty ,
                            ISNULL(ROUND(( s.DispatchTotalWeight ), 2, 1), 0) AS DispatchTotalWeight ,
                            1 AS filter
                  FROM      (
						SELECT	MONTH(ProductionDate) AS IntMnthProdDate, DATENAME(MONTH, ProductionDate) AS SrtMnthProdDate, 
								ISNULL(SUM(productionqty), 0) AS MnthProdQty, 
								ISNULL(ROUND(( SUM(productionqty * perpcweight) ), 2, 1), 0) AS TtlProdWt
						FROM	dbo.ProductionBatch
								INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID
						WHERE   MONTH(ProductionDate) > 3
								AND ProductionDate BETWEEN @StartYear AND @EndYear
								AND dbo.knockout.IsDeleted = 0
								AND dbo.ProductionBatch.IsDeleted = 0
								--added by ritik 0n 30-10-2025
								AND (	@PlantIdString IS NULL OR @PlantIdString = ''
										OR ProductionBatch.PlantId IN (SELECT Item FROM @Plant)
								)
								--end
								 --AND ( @PlantIdString IS NULL
									--  OR @PlantIdString = ''
									--  OR knockout.CastingId IN (
									--  SELECT    CastingId
									--  FROM      dbo.PlantCastingMapping
									--		   where PlantId in (SELECT Item FROM @Plant))
									--)
								AND ProductionBatch.EntityID = @EntityId
						GROUP BY MONTH(ProductionDate), DATENAME(MONTH, ProductionDate)
				  ) AS ProdKnckTbl
                            LEFT JOIN ( SELECT  CASE WHEN ( @IsProductionDate = 1 )
                                                     THEN DATENAME(MONTH,
                                                              ProductionDate)
                                                     ELSE DATENAME(MONTH,
                                                              RejectionDate)
                                                END AS Months ,
                                                ISNULL(SUM(RejQty), 0) AS RejQty ,
                                                ISNULL(SUM(Weight), 0) AS RejWeight
                                        FROM    CastingFinalRejection
                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
                                        WHERE   IsInHouseRej = 1
                                                AND ( ( @IsProductionDate = 1
                                                        AND ProductionDate BETWEEN @StartYear AND @EndYear
                                                      )
                                                      OR ( @IsProductionDate = 0
                                                           AND RejectionDate BETWEEN @StartYear AND @EndYear
                                                         )
                                                    )
                                                AND RejQty > 0
                                                AND ProductionBatch.IsDeleted = 0
												--added by ritik 0n 30-10-2025
												AND (	@PlantIdString IS NULL OR @PlantIdString = ''
														OR CastingFinalRejection.PlantId IN (SELECT Item FROM @Plant)
												)
												--end
                                                --AND ( @PlantIdString IS NULL
                                                --      OR @PlantIdString = ''
                                                --      OR CastingFinalRejection.CastingId IN (
                                                --      SELECT  CastingId
                                                --      FROM    dbo.PlantCastingMapping
                                                --          where PlantId in (SELECT Item FROM @Plant) )
                                                --    )
                                                AND ProductionBatch.EntityID = @EntityId
                                        GROUP BY CASE WHEN ( @IsProductionDate = 1 )
                                                      THEN DATENAME(MONTH,
                                                              ProductionDate)
                                                      ELSE DATENAME(MONTH,
                                                              RejectionDate)
                                                 END
                                      ) AS InhouseRej ON InhouseRej.Months = ProdKnckTbl.SrtMnthProdDate--DATENAME(MONTH, ProductionDate)
                            LEFT JOIN ( SELECT  CASE WHEN ( @IsProductionDate = 1 )
                                                     THEN DATENAME(MONTH,
                                                              ProductionDate)
                                                     ELSE DATENAME(MONTH,
                                                              RejectionDate)
                                                END AS Months ,
                                                ISNULL(SUM(RejQty), 0) AS RejQty ,
                                                ISNULL(SUM(Weight), 0) AS RejWeight
                                        FROM    CastingFinalRejection
                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
                                        WHERE   IsInHouseRej = 0
                                                AND ( ( @IsProductionDate = 1
                                                        AND ProductionDate BETWEEN @StartYear AND @EndYear
                                                      )
                                                      OR ( @IsProductionDate = 0
                                                           AND RejectionDate BETWEEN @StartYear AND @EndYear
                                                         )
                                                    )
                                                AND RejQty > 0
                                                AND ProductionBatch.IsDeleted = 0
												--added by ritik 0n 30-10-2025
												AND (	@PlantIdString IS NULL OR @PlantIdString = ''
														OR CastingFinalRejection.PlantId IN (SELECT Item FROM @Plant)
												)
												--end
                                                --AND ( @PlantIdString IS NULL
                                                --      OR @PlantIdString = ''
                                                --      OR CastingFinalRejection.CastingId IN (
                                                --      SELECT  CastingId
                                                --      FROM    dbo.PlantCastingMapping
                                                --             where PlantId in (SELECT Item FROM @Plant) )
                                                --    )
                                                AND ProductionBatch.EntityID = @EntityId
                                        GROUP BY CASE WHEN ( @IsProductionDate = 1 )
                                                      THEN DATENAME(MONTH,
                                                              ProductionDate)
                                                      ELSE DATENAME(MONTH,
                                                              RejectionDate)
                                                 END
                                      ) AS PartyRej ON PartyRej.Months = ProdKnckTbl.SrtMnthProdDate--DATENAME(MONTH, ProductionDate)
                            LEFT JOIN ( SELECT  DATENAME(MONTH, dispatchdate) AS Months ,
                                                SUM(dbo.dispatchtrans.dispatchqty) dispatchqty ,
                                                SUM(dbo.dispatchtrans.TotalWeight) AS DispatchTotalWeight
                                        FROM    dbo.dispatchtrans
                                                INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
                                        WHERE   dbo.dispatchtrans.IsDeleted = 0
                                                AND dispatchdate BETWEEN @StartYear AND @EndYear
                                                AND dbo.dispatchmaster.IsDeleted = 0
                                                AND dispatchmaster.isProforma = 0
												AND dispatchmaster.TypeOfVoucher  = 0
												--added by ritik 0n 30-10-2025
												AND (	@PlantIdString IS NULL OR @PlantIdString = ''
														OR dispatchmaster.PlantId IN (SELECT Item FROM @Plant)
												)
												--end
                                            --    AND ( @PlantIdString IS NULL
                                            --          OR @PlantIdString = ''
                                            --          OR dispatchtrans.CastingId IN (
                                            --          SELECT  CastingId
                                            --          FROM    dbo.PlantCastingMapping
                                            --where PlantId in (SELECT Item FROM @Plant) )
                                            --        )
                                                AND dispatchmaster.EntityID = @EntityId
                                        GROUP BY DATENAME(MONTH, dispatchdate)
                                      ) AS s ON s.Months = ProdKnckTbl.SrtMnthProdDate--DATENAME(MONTH, ProductionDate)
                  --GROUP BY  SrtMnthProdDate,--DATENAME(MONTH, ProductionDate) ,
                  --          IntMnthProdDate,--MONTH(ProductionDate) ,
                  --          s.dispatchqty ,
                  --          s.DispatchTotalWeight ,
                  --          InhouseRej.RejQty ,
                  --          InhouseRej.RejWeight ,
                  --          PartyRej.RejQty ,
                  --          PartyRej.RejWeight
                  UNION
                  SELECT    ROW_NUMBER() OVER ( ORDER BY IntMnthProdDate ASC ) AS [RowNo] ,
                            SrtMnthProdDate AS Months, --DATENAME(MONTH, ProductionDate) AS Months ,
							ISNULL(MnthProdQty, 0) AS Productionqty, --ISNULL(SUM(productionqty), 0) AS Productionqty ,
                            TtlProdWt AS TotalProductionWeight ,
                            ISNULL(( InhouseRej.RejQty ), 0) AS InhouseRejQty ,
                            ISNULL(ROUND(( InhouseRej.RejWeight ), 2, 1), 0) AS InhouseRejWeight ,
                            ISNULL(( PartyRej.RejQty ), 0) AS PartyRejQty ,
                            ISNULL(ROUND(( PartyRej.RejWeight ), 2, 1), 0) AS PartyRejWeight ,
                            ISNULL(( s.dispatchqty ), 0) AS Dispatchqty ,
                            ISNULL(ROUND(( s.DispatchTotalWeight ), 2, 1), 0) AS DispatchTotalWeight ,
                            2 AS filter
                  FROM      (
						SELECT	MONTH(ProductionDate) AS IntMnthProdDate, DATENAME(MONTH, ProductionDate) AS SrtMnthProdDate, 
								ISNULL(SUM(productionqty), 0) AS MnthProdQty, 
								ISNULL(ROUND(( SUM(productionqty * perpcweight) ), 2, 1), 0) AS TtlProdWt
						FROM	dbo.ProductionBatch
								INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID
						WHERE	MONTH(ProductionDate) < 4
								AND ProductionDate BETWEEN @StartYear AND @EndYear
								AND dbo.knockout.IsDeleted = 0
								AND dbo.ProductionBatch.IsDeleted = 0
								--added by ritik 0n 30-10-2025
												AND (	@PlantIdString IS NULL OR @PlantIdString = ''
														OR ProductionBatch.PlantId IN (SELECT Item FROM @Plant)
												)
												--end
								--AND ( @PlantIdString IS NULL
								--	  OR @PlantIdString = ''
								--	  OR knockout.CastingId IN (
								--	  SELECT    CastingId
								--	  FROM      dbo.PlantCastingMapping
								--		where PlantId in (SELECT Item FROM @Plant) )
								--	)
								AND ProductionBatch.EntityID = @EntityId
						GROUP BY MONTH(ProductionDate), DATENAME(MONTH, ProductionDate)
				  ) AS ProdKnckTbl
                            LEFT JOIN ( SELECT  CASE WHEN ( @IsProductionDate = 1 )
                                                     THEN DATENAME(MONTH,
                                                              ProductionDate)
                                                     ELSE DATENAME(MONTH,
                                                              RejectionDate)
                                                END AS Months ,
                                                ISNULL(SUM(RejQty), 0) AS RejQty ,
                                                ISNULL(SUM(Weight), 0) AS RejWeight
                                        FROM    CastingFinalRejection
                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
                                        WHERE   ( ( @IsProductionDate = 1
                                                    AND ProductionDate BETWEEN @StartYear AND @EndYear
                                                  )
                                                  OR ( @IsProductionDate = 0
                                                       AND RejectionDate BETWEEN @StartYear AND @EndYear
                                                     )
                                                )
                                                AND IsInHouseRej = 1
                                                AND RejQty > 0
                                                AND ProductionBatch.IsDeleted = 0
												--added by ritik 0n 30-10-2025
												AND (	@PlantIdString IS NULL OR @PlantIdString = ''
														OR CastingFinalRejection.PlantId IN (SELECT Item FROM @Plant)
												)
												--end
                                                --AND ( @PlantIdString IS NULL
                                                --      OR @PlantIdString = ''
                                                --      OR CastingFinalRejection.CastingId IN (
                                                --      SELECT  CastingId
                                                --      FROM    dbo.PlantCastingMapping
                                                --         where PlantId in (SELECT Item FROM @Plant) )
                                                --    )
                                                AND ProductionBatch.EntityID = @EntityId
                                        GROUP BY CASE WHEN ( @IsProductionDate = 1 )
                                                      THEN DATENAME(MONTH,
                                                              ProductionDate)
                                                      ELSE DATENAME(MONTH,
                                                              RejectionDate)
                                                 END
                                      ) AS InhouseRej ON InhouseRej.Months = ProdKnckTbl.SrtMnthProdDate--DATENAME(MONTH, ProductionDate)
                            LEFT JOIN ( SELECT  CASE WHEN ( @IsProductionDate = 1 )
                                                     THEN DATENAME(MONTH,
                                                              ProductionDate)
                                                     ELSE DATENAME(MONTH,
                                                              RejectionDate)
                                                END AS Months ,
                                                ISNULL(SUM(RejQty), 0) AS RejQty ,
                                                ISNULL(SUM(Weight), 0) AS RejWeight
                                        FROM    CastingFinalRejection
                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
                                        WHERE   ( ( @IsProductionDate = 1
                                                    AND ProductionDate BETWEEN @StartYear AND @EndYear
                                                  )
                                                  OR ( @IsProductionDate = 0
                                                       AND RejectionDate BETWEEN @StartYear AND @EndYear
                                                     )
                                                )
                                                AND IsInHouseRej = 0
                                                AND RejQty > 0
                                                AND ProductionBatch.IsDeleted = 0
												--added by ritik 0n 30-10-2025
												AND (	@PlantIdString IS NULL OR @PlantIdString = ''
														OR CastingFinalRejection.PlantId IN (SELECT Item FROM @Plant)
												)
												--end
                                                --AND ( @PlantIdString IS NULL
                                                --      OR @PlantIdString = ''
                                                --      OR CastingFinalRejection.CastingId IN (
                                                --      SELECT  CastingId
                                                --      FROM    dbo.PlantCastingMapping
                                                --           where PlantId in (SELECT Item FROM @Plant) )
                                                --    )
                                                AND ProductionBatch.EntityID = @EntityId
                                        GROUP BY CASE WHEN ( @IsProductionDate = 1 )
                                                      THEN DATENAME(MONTH,
                                                              ProductionDate)
                                                      ELSE DATENAME(MONTH,
                                                              RejectionDate)
                                                 END
                                      ) AS PartyRej ON PartyRej.Months = ProdKnckTbl.SrtMnthProdDate--DATENAME(MONTH, ProductionDate)
                            LEFT JOIN ( SELECT  DATENAME(MONTH, dispatchdate) AS Months ,
                                                SUM(dbo.dispatchtrans.dispatchqty) dispatchqty ,
                                                SUM(dbo.dispatchtrans.TotalWeight) AS DispatchTotalWeight
                                        FROM    dbo.dispatchtrans
                                                INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
                                        WHERE   dispatchdate BETWEEN @StartYear AND @EndYear
                                                AND dbo.dispatchtrans.IsDeleted = 0
                                                AND dbo.dispatchmaster.IsDeleted = 0
                                                AND dispatchmaster.isProforma = 0
												AND dispatchmaster.TypeOfVoucher  = 0
												--added by ritik 0n 30-10-2025
												AND (	@PlantIdString IS NULL OR @PlantIdString = ''
														OR dispatchmaster.PlantId IN (SELECT Item FROM @Plant)
												)
												--end
                                                --AND ( @PlantIdString IS NULL
                                                --      OR @PlantIdString = ''
                                                --      OR dispatchtrans.CastingId IN (
                                                --      SELECT  CastingId
                                                --      FROM    dbo.PlantCastingMapping
                                                --where PlantId in (SELECT Item FROM @Plant) )
                                                --    )
                                                AND dispatchmaster.EntityID = @EntityId
                                        GROUP BY DATENAME(MONTH, dispatchdate)
                                      ) AS s ON s.Months = ProdKnckTbl.SrtMnthProdDate--DATENAME(MONTH, ProductionDate)
                  --GROUP BY  ProdKnckTbl.SrtMnthProdDate,--DATENAME(MONTH, ProductionDate) ,
                  --          ProdKnckTbl.IntMnthProdDate,--MONTH(ProductionDate) ,
                  --          s.dispatchqty ,
                  --          s.DispatchTotalWeight ,
                  --          InhouseRej.RejQty ,
                  --          InhouseRej.RejWeight ,
                  --          PartyRej.RejQty ,
                  --          PartyRej.RejWeight
                ) AS S
        ORDER BY filter
    END
   
   --Remove Commented Code if it work properly     --ELSE
        --    SELECT  *
        --    FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY MONTH(ProductionDate) ASC ) AS [RowNo] ,
        --                        DATENAME(MONTH, ProductionDate) AS Months ,
        --                        ISNULL(SUM(productionqty), 0) AS Productionqty ,
        --                        ISNULL(ROUND(( SUM(productionqty * perpcweight) ),
        --                                     2, 1), 0) AS TotalProductionWeight ,
        --                        ISNULL(( InhouseRej.RejQty ), 0) AS InhouseRejQty ,
        --                        ISNULL(ROUND(( InhouseRej.RejWeight ), 2, 1),
        --                               0) AS InhouseRejWeight ,
        --                        ISNULL(( PartyRej.RejQty ), 0) AS PartyRejQty ,
        --                        ISNULL(ROUND(( PartyRej.RejWeight ), 2, 1),
        --                               0) AS PartyRejWeight ,                               
        --                        ISNULL(( s.dispatchqty ), 0) AS Dispatchqty ,
        --                        ISNULL(ROUND(( s.DispatchTotalWeight ), 2, 1),
        --                               0) AS DispatchTotalWeight ,
        --                        1 AS filter
        --              FROM      dbo.ProductionBatch
        --                        INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID
        --                        LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                     RejectionDate) AS Months ,
        --                                            ISNULL(SUM(RejQty), 0) AS RejQty ,
        --                                            ISNULL(SUM(Weight), 0) AS RejWeight
        --                                    FROM    CastingFinalRejection
        --                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
        --                                    WHERE   IsInHouseRej=1
        --                                            AND RejectionDate BETWEEN @StartYear AND @EndYear
        --                                            AND RejQty > 0
        --                                            AND ProductionBatch.IsDeleted = 0
        --                                    GROUP BY DATENAME(MONTH,
        --                                                      RejectionDate)
        --                                  ) AS InhouseRej ON InhouseRej.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                        LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                     RejectionDate) AS Months ,
        --                                            ISNULL(SUM(RejQty), 0) AS RejQty ,
        --                                            ISNULL(SUM(Weight), 0) AS RejWeight
        --                                    FROM    CastingFinalRejection
        --                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
        --                                    WHERE   IsInHouseRej=0
        --                                            AND RejectionDate BETWEEN @StartYear AND @EndYear
        --                                            AND RejQty > 0
        --                                            AND ProductionBatch.IsDeleted = 0
        --                                    GROUP BY DATENAME(MONTH,
        --                                                      RejectionDate)
        --                                  ) AS PartyRej ON PartyRej.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                        LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                     dispatchdate) AS Months ,
        --                                            SUM(dbo.dispatchtrans.dispatchqty) dispatchqty ,
        --                                            SUM(dbo.dispatchtrans.TotalWeight) AS DispatchTotalWeight
        --                                    FROM    dbo.dispatchtrans
        --                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
        --                                    WHERE   dbo.dispatchtrans.IsDeleted = 0
        --                                            AND dispatchdate BETWEEN @StartYear AND @EndYear
        --                                            AND dbo.dispatchmaster.IsDeleted = 0
        --                                    GROUP BY DATENAME(MONTH,
        --                                                      dispatchdate)
        --                                  ) AS s ON s.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --              WHERE     MONTH(ProductionDate) > 3
        --                        AND ProductionDate BETWEEN @StartYear AND @EndYear
        --                        AND dbo.knockout.IsDeleted = 0
        --                        AND dbo.ProductionBatch.IsDeleted = 0
        --              GROUP BY  DATENAME(MONTH, ProductionDate) ,
        --                        MONTH(ProductionDate) ,
        --                        s.dispatchqty ,
        --                        s.DispatchTotalWeight ,
        --                        InhouseRej.RejQty ,
        --                        InhouseRej.RejWeight ,
        --                        PartyRej.RejQty ,
        --                        PartyRej.RejWeight
        --              UNION
        --              SELECT    ROW_NUMBER() OVER ( ORDER BY MONTH(ProductionDate) ASC ) AS [RowNo] ,
        --                        DATENAME(MONTH, ProductionDate) AS Months ,
        --                        ISNULL(SUM(productionqty), 0) AS Productionqty ,
        --                        ISNULL(ROUND(( SUM(productionqty * perpcweight) ),
        --                                     2, 1), 0) AS TotalProductionWeight ,
        --                        ISNULL(( InhouseRej.RejQty ), 0) AS InhouseRejQty ,
        --                        ISNULL(ROUND(( InhouseRej.RejWeight ), 2, 1),
        --                               0) AS InhouseRejWeight ,
        --                        ISNULL(( PartyRej.RejQty ), 0) AS PartyRejQty ,
        --                        ISNULL(ROUND(( PartyRej.RejWeight ), 2, 1),
        --                               0) AS PartyRejWeight ,                               
        --                        ISNULL(( s.dispatchqty ), 0) AS Dispatchqty ,
        --                        ISNULL(ROUND(( s.DispatchTotalWeight ), 2, 1),
        --                               0) AS DispatchTotalWeight ,
        --                        2 AS filter
        --              FROM      dbo.ProductionBatch
        --                        INNER JOIN dbo.knockout ON dbo.knockout.batchid = dbo.ProductionBatch.batchID
        --                        LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                     RejectionDate) AS Months ,
        --                                            ISNULL(SUM(RejQty), 0) AS RejQty ,
        --                                            ISNULL(SUM(Weight), 0) AS RejWeight
        --                                    FROM    CastingFinalRejection
        --                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
        --                                    WHERE   RejectionDate BETWEEN @StartYear AND @EndYear
        --                                            AND IsInHouseRej=1
        --                                            AND RejQty > 0
        --                                            AND ProductionBatch.IsDeleted = 0
        --                                    GROUP BY DATENAME(MONTH,
        --                                                      RejectionDate)
        --                                  ) AS InhouseRej ON InhouseRej.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                        LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                     RejectionDate) AS Months ,
        --                                            ISNULL(SUM(RejQty), 0) AS RejQty ,
        --                                            ISNULL(SUM(Weight), 0) AS RejWeight
        --                                    FROM    CastingFinalRejection
        --                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID
        --                                    WHERE   RejectionDate BETWEEN @StartYear AND @EndYear
        --                                            AND IsInHouseRej=0
        --                                            AND RejQty > 0
        --                                            AND ProductionBatch.IsDeleted = 0
        --                                    GROUP BY DATENAME(MONTH,
        --                                                      RejectionDate)
        --                                  ) AS PartyRej ON PartyRej.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --                        LEFT JOIN ( SELECT  DATENAME(MONTH,
        --                                                     dispatchdate) AS Months ,
        --                                            SUM(dbo.dispatchtrans.dispatchqty) dispatchqty ,
        --                                            SUM(dbo.dispatchtrans.TotalWeight) AS DispatchTotalWeight
        --                                    FROM    dbo.dispatchtrans
        --                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
        --                                    WHERE   dispatchdate BETWEEN @StartYear AND @EndYear
        --                                            AND dbo.dispatchtrans.IsDeleted = 0
        --                                            AND dbo.dispatchmaster.IsDeleted = 0
        --                                    GROUP BY DATENAME(MONTH,
        --                                                      dispatchdate)
        --                                  ) AS s ON s.Months = DATENAME(MONTH,
        --                                                      ProductionDate)
        --              WHERE     MONTH(ProductionDate) < 4
        --                        AND ProductionDate BETWEEN @StartYear AND @EndYear
        --                        AND dbo.knockout.IsDeleted = 0
        --                        AND dbo.ProductionBatch.IsDeleted = 0
        --              GROUP BY  DATENAME(MONTH, ProductionDate) ,
        --                        MONTH(ProductionDate) ,
        --                        s.dispatchqty ,
        --                        s.DispatchTotalWeight ,
        --                        InhouseRej.RejQty ,
        --                        InhouseRej.RejWeight ,
        --                        PartyRej.RejQty ,
        --                        PartyRej.RejWeight
        --            ) AS S
        --    ORDER BY filter
GO
