USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchHSNdetailByDispatchId]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchHSNdetailByDispatchId]
	-- Add the parameters for the stored procedure here
	@DispatchmasterID BIGINT = 0 
	 
AS
BEGIN

--DECLARE @CastingID UNIQUEIDENTIFIER = NULL ,
--	 @TerrifCode VARCHAR(50)=NULL
--	  DECLARE FetchGST CURSOR
--    FOR
--        SELECT  dispatchtrans.castingid AS CastingID
--        FROM    dispatchtrans
--        WHERE   ( dispatchtrans.dispatchid = @DispatchmasterID )
--                AND dispatchtrans.IsDeleted = 0
--        ORDER BY dispatchtrans.srno
--    OPEN FetchGST
--    FETCH NEXT FROM FetchGST INTO @CastingId

--    WHILE ( @@FETCH_STATUS = 0 )
--        BEGIN
        
--            DECLARE FetchGSTNo CURSOR
--            FOR
--                SELECT  TerrifCode
--                FROM    CastingMaster
--                WHERE   CastingId = @CastingId
--            OPEN FetchGSTNO    
            
--            FETCH NEXT FROM FetchGSTNO INTO @TerrifCode   
            
--            WHILE ( @@FETCH_STATUS = 0 )
--                BEGIN
--                    SELECT  CGST ,
--                            SGST ,
--                            IGST
--                    FROM    taxmaster
--                            INNER JOIN HSNGSTMapping ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId
--                    WHERE   HSNGSTMapping.HSNCode = @TerrifCode
                    
--                    FETCH NEXT FROM FetchGSTNO INTO @TerrifCode      
--                END 
--            IF @@ERROR <> 0
--                ROLLBACK TRANSACTION	
--            CLOSE FetchGSTNO;
--            DEALLOCATE FetchGSTNO;
            
--            FETCH NEXT FROM FetchGST INTO @CastingId 
            
--        END 
--    IF @@ERROR <> 0
--        ROLLBACK TRANSACTION	
--    CLOSE FetchGST;
--    DEALLOCATE FetchGST;

SELECT  CGST ,
        SGST ,
        IGST,HSNCode
FROM    taxmaster
        INNER JOIN HSNGSTMapping ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId
        --INNER JOIN dbo.CastingMaster ON HSNCode = TerrifCode
        INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.TArifFCode =HSNCode
   WHERE     dispatchtrans.dispatchid = @DispatchmasterID AND dispatchtrans.IsDeleted = 0
 order by dispatchtrans.srno 

                
 
END
GO
