USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[HeatPropertyReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[HeatPropertyReport]
	
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL,   
    @Batchid bigint = 0,
    @CastingId uniqueidentifier = NULL,
    @Metalid int = 0,
    @CastingName varchar(100) = NULL,
    @CustomerId uniqueidentifier = NULL,
    @EntityId INT = 0,
	@All bit =0,
	@PlantIDString varchar(50)=NULL
    
AS
    BEGIN
	   	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End

    if(@All = 0 )
	begin
	 -- CTE to filter ProductionBatch records based on common filters
WITH FilteredProductionBatch AS (
    SELECT pb.batchID, pb.batchno, pb.MetalID,  pb.ProductionDate, pb.PlantID
    FROM ProductionBatch pb
    INNER JOIN MetalMaster mm ON mm.MetalId = pb.MetalID
    WHERE pb.IsDeleted = 0
      AND mm.IsDeleted = 0
      AND pb.EntityId = @EntityId
      AND CAST(pb.ProductionDate AS date) BETWEEN CAST(@StartDate AS date) AND CAST(@EndDate AS date)
      AND (
            @PlantIdString IS NULL 
            OR @PlantIdString = ''
            OR pb.PlantID IN (SELECT Item FROM @Plant)
          )
      AND (
            @BatchId = 0 
            OR pb.batchID = @BatchId
          )
      AND (
            @MetalId = 0 
            OR pb.MetalID = @MetalId
          )
),
FilteredBatchIDs AS (
    SELECT DISTINCT pb.batchID
    FROM FilteredProductionBatch pb
    LEFT JOIN knockout k ON k.batchID = pb.batchID AND k.IsDeleted = 0
    LEFT JOIN CastingMaster cm ON cm.CastingId = k.castingid AND cm.IsDeleted = 0
    LEFT JOIN CustomerPatternMapping cpm ON cm.Dieid = cpm.PatternId
    LEFT JOIN CustomerDieMapping cdm ON cm.Dieid = cdm.DieId
    WHERE 
        (@CastingId IS NULL OR k.castingid = @CastingId)
        AND (
            @CastingName IS NULL 
            OR cm.CastingName = @CastingName
        )
        AND (
            @CustomerId IS NULL 
            OR cpm.CustomerId = @CustomerId 
            OR cdm.CustomerId = @CustomerId
        )
)
SELECT 
    fpb.batchID,
    fpb.batchno,
    mm.MetalName,
    hp.ChemFirstReading AS ChemFirstReading,
    hp.ChemSecondReading AS ChemSecondReading,
    hp.ChemThirdReading AS ChemThirdReading,
    fpb.ProductionDate,
    'Chemical Properties' AS GroupName
FROM FilteredProductionBatch fpb
INNER JOIN HeatProperty hp ON hp.BatchId = fpb.batchID
INNER JOIN MetalMaster mm ON mm.MetalId = fpb.MetalID
WHERE fpb.batchID IN (SELECT batchID FROM FilteredBatchIDs)

UNION ALL

SELECT 
    fpb.batchID,
	--CASE 
 --   WHEN hp.InspectionRefId IS NOT NULL AND hp.InspectionRefId <> ''
 --   THEN fpb.batchno + '-' + hp.BatchNo
 --   ELSE fpb.batchno
	--END AS batchNo,
    fpb.batchno,
    mm.MetalName,
    hp.MechFirstReading AS ChemFirstReading,
    hp.MechSecondReading AS ChemSecondReading,
    hp.MechThirdReading AS ChemThirdReading,
    fpb.ProductionDate,
    'Mechanical Properties' AS GroupName
FROM FilteredProductionBatch fpb
INNER JOIN MechanicalProperty hp ON hp.BatchId = fpb.batchID
INNER JOIN MetalMaster mm ON mm.MetalId = fpb.MetalID
WHERE fpb.batchID IN (SELECT batchID FROM FilteredBatchIDs)
  and hp.isdeleted = 0
  and (hp.IsFinal = 1 or hp.InspectionRefId IS  NULL or hp.InspectionRefId = '') and hp.IsDeleted = 0

UNION ALL

SELECT 
    fpb.batchID,
    fpb.batchno,
    mm.MetalName,
    hp.MicroFirstReading AS ChemFirstReading,
    hp.MicroSecondReading AS ChemSecondReading,
    '' AS ChemThirdReading,
    fpb.ProductionDate,
    'Micro Structure Properties' AS GroupName
FROM FilteredProductionBatch fpb
INNER JOIN MicroProperty hp ON hp.BatchId = fpb.batchID
INNER JOIN MetalMaster mm ON mm.MetalId = fpb.MetalID
WHERE fpb.batchID IN (SELECT batchID FROM FilteredBatchIDs)

ORDER BY ProductionDate DESC

    
    end 

else
	begin
	SELECT 
    pb.BatchID,
	--CASE 
 --   WHEN combined.InspectionRefId IS NOT NULL AND combined.InspectionRefId <> ''
 --   THEN pb.batchno + '-' + combined.BatchNo
 --   ELSE pb.batchno
	--END AS batchNo,
    pb.BatchNo,
    mm.MetalName,
    pb.ProductionDate,
    readings.ReadingData,
    readings.ReadingName,
    readings.srno,
    readings.GroupName
FROM
(
    SELECT 
        COALESCE(hp.BatchId, mp.BatchId, mic.BatchId) AS BatchId,
        hp.ChemFirstReading,
        hp.ChemSecondReading,
        hp.ChemThirdReading,
        mp.MechFirstReading,
        mp.MechSecondReading,
        mp.MechThirdReading,
        mic.MicroFirstReading,
        mic.MicroSecondReading,
		mp.isdeleted,
		MP.InspectionRefId,
		mp.BatchNo
    FROM HeatProperty hp
    FULL JOIN MechanicalProperty mp ON hp.BatchId = mp.BatchId
    FULL JOIN MicroProperty mic ON COALESCE(hp.BatchId, mp.BatchId) = mic.BatchId
	where (mp.IsFinal = 1  or mp.InspectionRefId IS  NULL or mp.InspectionRefId = '') and mp.IsDeleted = 0

) AS combined
INNER JOIN ProductionBatch pb ON pb.BatchID = combined.BatchId
INNER JOIN MetalMaster mm ON mm.MetalId = pb.MetalID
CROSS APPLY (
    VALUES 
        (combined.ChemFirstReading,  'First Reading',  1, 'Chemical Properties'),
        (combined.ChemSecondReading, 'Second Reading', 2, 'Chemical Properties'),
        (combined.ChemThirdReading,  'Third Reading',  3, 'Chemical Properties'),
        (combined.MechFirstReading,  'First Reading',  1, 'Mechanical Properties'),
        (combined.MechSecondReading, 'Second Reading', 2, 'Mechanical Properties'),
        (combined.MechThirdReading,  'Third Reading',  3, 'Mechanical Properties'),
        (combined.MicroFirstReading, 'First Reading',  1, 'Micro Structure Properties'),
        (combined.MicroSecondReading,'Second Reading',2, 'Micro Structure Properties')
) AS readings(ReadingData, ReadingName, srno, GroupName)
WHERE 
    readings.ReadingData IS NOT NULL AND readings.ReadingData <> ''
    AND (@CastingId IS NULL OR pb.BatchID IN (
        SELECT DISTINCT BatchID FROM knockout 
        WHERE CastingId = @CastingId AND IsDeleted = 0
    ))
    AND (@BatchId = 0 OR pb.BatchID = @BatchId)
    AND (@MetalId = 0 OR pb.MetalID = @MetalId)
    AND (@CastingName IS NULL OR pb.BatchID IN (
        SELECT DISTINCT BatchID FROM knockout 
        INNER JOIN CastingMaster cm ON knockout.CastingId = cm.CastingId 
        WHERE cm.CastingName = @CastingName AND cm.IsDeleted = 0
    ))
    AND (@CustomerId IS NULL OR pb.BatchID IN (
        SELECT DISTINCT BatchID FROM knockout 
        INNER JOIN CastingMaster cm ON knockout.CastingId = cm.CastingId 
        INNER JOIN CustomerPatternMapping cpm ON cm.DieId = cpm.PatternId 
        WHERE cpm.CustomerId = @CustomerId
    ))
    AND mm.IsDeleted = 0
    AND pb.IsDeleted = 0
    AND pb.EntityId = @EntityId
    AND CAST(pb.ProductionDate AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
    AND (
        @PlantIdString IS NULL OR 
        @PlantIdString = '' OR 
        pb.PlantID IN (SELECT Item FROM @Plant)
    )
	and ISNULL(combined.isdeleted,0) = 0

ORDER BY 
    pb.BatchID,
    srno,
    pb.ProductionDate DESC;

-- SELECT 
--    pb.batchID,
--    pb.batchno,
--    mm.MetalName,
--    ReadingData,
--    ReadingName,
--    pb.ProductionDate,
--    srno,
--    GroupName
--FROM 
--    HeatProperty hp
--INNER JOIN 
--    ProductionBatch pb ON pb.batchID = hp.BatchId
--INNER JOIN 
--    MetalMaster mm ON mm.MetalId = pb.MetalID
--CROSS APPLY (
--    VALUES 
--        (hp.ChemFirstReading,  'First Reading',  1, 'Chemical Properties'),
--        (hp.ChemSecondReading, 'Second Reading', 2, 'Chemical Properties'),
--        (hp.ChemThirdReading,  'Third Reading',  3, 'Chemical Properties'),
--        (hp.MechFirstReading,  'First Reading',  1, 'Mechanical Properties'),
--        (hp.MechSecondReading, 'Second Reading', 2, 'Mechanical Properties'),
--        (hp.MechThirdReading,  'Third Reading',  3, 'Mechanical Properties'),
--        (hp.MicroFirstReading, 'First Reading',  1, 'Micro Structure Properties'),
--        (hp.MicroSecondReading,'Second Reading',2, 'Micro Structure Properties')
--) AS readings(ReadingData, ReadingName, srno, GroupName)
--WHERE
--    readings.ReadingData IS NOT NULL AND readings.ReadingData <> ''
--    AND (@castingid IS NULL OR pb.batchID IN (
--        SELECT DISTINCT batchID FROM knockout 
--        WHERE castingid = @CastingId AND IsDeleted = 0
--    ))
--    AND (@Batchid = 0 OR pb.batchID = @Batchid)
--    AND (@Metalid = 0 OR pb.MetalID = @Metalid)
--    AND (@CastingName IS NULL OR pb.batchID IN (
--        SELECT DISTINCT batchID FROM knockout 
--        INNER JOIN CastingMaster cm ON knockout.castingid = cm.CastingId 
--        WHERE cm.CastingName = @CastingName AND cm.IsDeleted = 0
--    ))
--    AND (@CustomerId IS NULL OR pb.batchID IN (
--        SELECT DISTINCT batchID FROM knockout 
--        INNER JOIN CastingMaster cm ON knockout.castingid = cm.CastingId 
--        INNER JOIN CustomerPatternMapping cpm ON cm.Dieid = cpm.PatternId 
--        WHERE cpm.CustomerId = @CustomerId
--    ))
--    AND mm.IsDeleted = 0
--    AND pb.IsDeleted = 0
--    AND pb.EntityId = @EntityId
--    AND CAST(pb.productiondate AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
--    AND (
--        @PlantIdString IS NULL OR 
--        @PlantIdString = '' OR 
--        pb.PlantID IN (SELECT Item FROM @Plant)
--    )
--ORDER BY 
--    pb.batchID,
--    srno,
--    pb.ProductionDate DESC;

	end

END
GO
