USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportPendingInvoice]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ReportPendingInvoice '2020-01-01', '2024-03-01', NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'',1
CREATE  PROCEDURE [dbo].[ReportPendingInvoice]  
 @InwardDateFrom DATETIME,  
    @InwardDateTo DATETIME ,  
    @CustomerId UNIQUEIDENTIFIER = NULL ,  
    @ItemId UNIQUEIDENTIFIER = NULL ,  
    @ItemName VARCHAR(50) = NULL ,  
    @PurchaseOrderId UNIQUEIDENTIFIER = NULL ,  
    @CastingId UNIQUEIDENTIFIER = NULL ,  
    @CastingName VARCHAR(MAX) = NULL,  
    @PurchaseItemGroupId  UNIQUEIDENTIFIER = NULL,  
    @PurchaseItemSubGroupId  UNIQUEIDENTIFIER = NULL,  
    @PurchaseItemTypeId  UNIQUEIDENTIFIER = NULL,  
    @PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityID int = 0  
AS  
BEGIN  
   
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
Select Final.*,(isnull(PurchaseOrder_Master.Prefix,'')   
				+ isnull(PurchaseOrder_Master.Separator,'')   
				+ PONo   
				+ isnull(PurchaseOrder_Master.Separator,'')   
				+ isnull(PurchaseOrder_Master.Suffix,'') ) as PONo 
from ( SELECT  CustomerName AS SupplierName ,  
                        ISNULL(ChallanNo , '') AS ChallanNo,  
                        ISNULL(CONVERT(VARCHAR(11), ChallanDate, 106), '') AS ChallanDate ,  
                        InwardNo AS InwardNo ,  
                        CONVERT(VARCHAR(11), InwardDate, 106) AS InwardDate ,  
                        ISNULL(InvoiceNo , '') AS InvoiceNo,  
                        ISNULL(CONVERT(VARCHAR(11), InvoiceDate, 106) , '') AS InvoiceDate ,  
                        ItemCode ,  
                        ItemName ,  
                        PendingInvoice.UOM ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(Quantity, 0) )) AS VARCHAR) AS Quantity ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(AcceptedQuantiy,  
                                                              0) )) AS VARCHAR) AS AcceptedQuantiy ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(RejectedQuantity,  
                                                              0) )) AS VARCHAR) AS RejectedQuantity ,  
                        ISNULL(CAST(CONVERT(DECIMAL(18, 2), ( ISNULL(AcceptedQuantiy,  
                                                              0) * Rates  
                                                       - ( ISNULL(AcceptedQuantiy,  
        0) * Rates  
                                                           * Discount / 100 ) )) AS VARCHAR), 0) AS Pendingvalue,
														   PendingInvoice.PurchaseOrderId as PurchaseOrder_Id
                FROM  [Data:PendingInvoice] as PendingInvoice  
                WHERE    
                         CAST(InwardDate AS DATE) BETWEEN CAST(@InwardDateFrom AS DATE) AND CAST(@InwardDateTo AS DATE)
                        AND ( @CustomerId IS NULL  
                              OR PendingInvoice.CustomerId = @CustomerId  
                            )  
                        AND ( @ItemId IS NULL  
                              OR PendingInvoice.PurchaseItemId = @ItemId  
                            )  
                        AND ( @PurchaseOrderId IS NULL  
                              OR PendingInvoice.PurchaseOrderId = @PurchaseOrderId  
                            )  
                        AND ( @ItemName IS NULL  
                              OR ItemName = @Itemname  
                            )  
                        AND ( @CastingId IS NULL  
                              OR 0 = 1  
                            )  
                        AND ( @CastingName IS NULL  
                              OR 0 = 1  
                            )  
                        AND ( @PurchaseItemGroupId IS NULL  
         OR PendingInvoice.PurchaseItemGroupId = @PurchaseItemGroupId  
       )  
      AND ( @PurchaseItemSubGroupId IS NULL  
         OR PendingInvoice.PurchaseItemCategoryId = @PurchaseItemSubGroupId  
       )  
      AND ( @PurchaseItemTypeId IS NULL  
         OR PendingInvoice.PurchaseItemtypeId = @PurchaseItemTypeId  
       )  
       AND ( ISNULL(@PlantIdString,'') = ''  
          OR PendingInvoice.POPlantId IN (  
           SELECT Item FROM @Plant  
          )  
        )  
       AND PendingInvoice.EntityID = @EntityId  
                --ORDER BY InwardDate ASC  
                --SERVICE ITEM  
                UNION all  
                SELECT  CustomerName AS SupplierName ,  
                        '' AS ChallanNo ,  
                        '' AS ChallanDate ,  
                        '' AS InwardNo ,  
                        '' AS InwardDate ,  
                        '' AS InvoiceNo ,  
                        '' AS InvoiceDate ,  
                        ServiceNo AS ItemCode ,  
                        ServiceItemMaster.Item AS ItemName ,  
                        ISNULL(UOMMaster.UOM,'') AS  Unit ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(PurchaseOrderServiceItemTrans.Qty,  
                                                              0) )) AS VARCHAR) AS Quantity ,  
                        CAST(CONVERT(DECIMAL(18, 3), ISNULL(Invoicetable.InvoiceQty,  
                                                            0)) AS VARCHAR) AS AcceptedQuantiy ,  
                        CAST(CONVERT(DECIMAL(18, 3), 0) AS VARCHAR) AS RejectedQuantity ,  
                        CAST(CONVERT(DECIMAL(18, 2), ( ( ISNULL(PurchaseOrderServiceItemTrans.Qty,  
                                                              0)  
                                                         - ISNULL(Invoicetable.InvoiceQty,  
                                                              0) )  
                                                       * PurchaseOrderServiceItemTrans.Rate )) AS VARCHAR) AS Pendingvalue,
													   PurchaseOrder_Master.PurchaseOrderId as PurchaseOrder_Id
                FROM    PurchaseOrderServiceItemTrans  
                        INNER JOIN dbo.PurchaseOrder_Master ON dbo.PurchaseOrder_Master.PurchaseOrderId = dbo.PurchaseOrderServiceItemTrans.PurchaseOrderID  
                        INNER JOIN dbo.ServiceItemMaster ON dbo.ServiceItemMaster.ServiceItemId = dbo.PurchaseOrderServiceItemTrans.ServiceItemId  
                        INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.PurchaseOrder_Master.CustomerId  
						INNER JOIN InvoiceSeries on InvoiceSeries.SeriesId = PurchaseOrder_Master.SeriesID and InvoiceSeries.IsSample = 0
						LEFT JOIN UOMMaster ON UOMMaster.UOMid =PurchaseOrderServiceItemTrans.UOMID  
                        LEFT JOIN ( SELECT  PurchaseOrderServiceItemID ,  
                                            ServiceItemId ,  
                                            SrNo ,  
                                            SUM(Qty) AS InvoiceQty  
                        FROM    PurchaseInvoiceServiceItemTrans  
                                    WHERE   IsDeleted = 0  
                                    GROUP BY PurchaseOrderServiceItemID ,  
                                            ServiceItemId ,  
                                            SrNo  
                                  ) AS Invoicetable ON Invoicetable.PurchaseOrderServiceItemID = PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID  
                                                       AND Invoicetable.ServiceItemId = PurchaseOrderServiceItemTrans.ServiceItemId  
                                                       AND Invoicetable.SrNo = PurchaseOrderServiceItemTrans.SrNo  
                WHERE   dbo.PurchaseOrder_Master.IsDeleted = 0 
				        and PurchaseOrderServiceItemTrans.IsDeleted = 0
						and ServiceItemMaster.EntityID = @EntityId  
                        AND ISNULL(PurchaseOrderServiceItemTrans.ISDelivered,  
                                   0) = 0  
                        AND ( @CustomerId IS NULL  
                              OR dbo.PurchaseOrder_Master.CustomerId = @CustomerId  
                            )  
                        AND ( @CastingId IS NULL  
                              OR 0 = 1  
                            )  
                        AND ( @CastingName IS NULL  
                              OR 0 = 1  
                            ) 
							AND ( @PurchaseOrderId IS NULL  
                              OR PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
                            )
      AND ( ISNULL(@PlantIdString,'') = ''  
         OR PurchaseOrder_Master.POPlantId IN (  
          SELECT Item FROM @Plant  
         )  
       )  
      AND PurchaseOrder_Master.EntityID = @EntityId  
     AND PurchaseOrderServiceItemTrans .IsShortclose=0 
     and PurchaseOrder_Master.maxversion = 1
                UNION ALL  
                --Casting Purchase  
                SELECT  CustomerName AS SupplierName ,  
                        ChallanNo ,  
                        CONVERT(VARCHAR(11), ChallanDate, 106) AS ChallanDate ,  
                               CASE WHEN RawMaterialInward.Prefix IS NULL      
                                                             THEN ''      
                                                             ELSE CONVERT(VARCHAR(50), RawMaterialInward.Prefix)      
                                                        END      
                                                        + CASE      
															  WHEN RawMaterialInward.Separator IS NULL      
                                                              THEN ''      
                                                              ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                                                          END      
                                                        + CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo)      
                                                        + CASE      
                                                              WHEN RawMaterialInward.Separator IS NULL      
                                                              THEN ''      
                                                              ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                                                          END      
                                                        + CASE      
                                                              WHEN RawMaterialInward.Suffix IS NULL      
                                                              THEN ''      
                                                              ELSE CONVERT(VARCHAR(50), RawMaterialInward.Suffix)      
                                                          END AS InwardNo ,  
                        CONVERT(VARCHAR(11), InwardDate, 106) AS InwardDate ,  
                        InvoiceNo ,  
                        CONVERT(VARCHAR(11), InvoiceDate, 106) AS InvoiceDate ,  
                        CastingMaster.CastingCode AS ItemCode ,  
                        CastingMaster.CastingName AS ItemName ,  
                        PurchaseOrderCastingPurchaseTrans.UOM AS UOM ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(InwardCastingPurchase.InwardQty,  
                                                              0) )) AS VARCHAR) AS Quantity ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(InwardCastingPurchase.AcceptedQty,  
                                                              0) )) AS VARCHAR) AS AcceptedQuantiy ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(InwardCastingPurchase.RejectedQty,  
                                                              0) )) AS VARCHAR) AS RejectedQuantity ,  
                   CASE WHEN UOM='PerPc' THEN 
				   CAST(CONVERT(DECIMAL(18, 2), ( ISNULL(InwardCastingPurchase.AcceptedQty,  
                                                              0)  
                                                       * PurchaseOrderCastingPurchaseTrans.CustomerRates )) AS VARCHAR)
					ELSE CAST(CONVERT(DECIMAL(18, 2), ( ISNULL(InwardCastingPurchase.AcceptedQty,  
                                                              0)  
                                                       * PurchaseOrderCastingPurchaseTrans.CustomerRates  * PurchaseOrderCastingPurchaseTrans.ApproxWeight  ) ) AS VARCHAR)
													   END 
													   AS Pendingvalue,
													   PurchaseOrderCastingPurchaseTrans.PurchaseOrderId as PurchaseOrder_Id
                FROM    dbo.RawMaterialInward  
                        INNER JOIN dbo.InwardCastingPurchase ON dbo.InwardCastingPurchase.InwardId = dbo.RawMaterialInward.InwardId  
                        INNER JOIN CastingMaster ON CastingMaster.CastingId = InwardCastingPurchase.CastingId  
                        INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId  
                        INNER JOIN PurchaseOrderCastingPurchaseTrans ON dbo.PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId = dbo.InwardCastingPurchase.PurchaseOrderCastingPurchaseId  
      INNEr JOIN PurchaseOrder_Master ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderCastingPurchaseTrans.PurchaseOrderId  
	  INNER JOIN InvoiceSeries on InvoiceSeries.SeriesId = PurchaseOrder_Master.SeriesID and InvoiceSeries.IsSample = 0
                WHERE   dbo.RawMaterialInward.IsDeleted = 0  
                        AND dbo.InwardCastingPurchase.IsDeleted = 0  
                        AND ISNULL(InwardCastingPurchase.IsInvoiced, 0) = 0  
                        AND CAST(InwardDate AS DATE) BETWEEN CAST(@InwardDateFrom AS DATE) AND CAST(@InwardDateTo AS DATE)
                        AND ( @CustomerId IS NULL  
                              OR dbo.RawMaterialInward.CustomerId = @CustomerId  
                            )  
                        AND ( @PurchaseOrderId IS NULL  
                              OR PurchaseOrderCastingPurchaseTrans.PurchaseOrderId = @PurchaseOrderId  
                            )  
                        AND ( @CastingId IS NULL  
                              OR CastingMaster.CastingId = @CastingId  
                            )  
                        AND ( @CastingName IS NULL  
                              OR CastingName = @CastingName  
                            )  
                        AND ( @ItemId IS NULL  
                              OR 0 = 1  
                            )  
                        AND ( @ItemName IS NULL  
                              OR 0 = 1  
                            )  
                              
      AND ( ISNULL(@PlantIdString,'') = ''  
         OR PurchaseOrder_Master.POPlantId IN (  
          SELECT Item FROM @Plant  
         )  
       )  
      AND PurchaseOrder_Master.EntityID = @EntityId   
     and PurchaseOrder_Master.maxversion = 1
                UNION ALL --Job Order  
                SELECT  CustomerName AS SupplierName ,  
                        ChallanNo ,  
                        CONVERT(VARCHAR(11), ChallanDate, 106) AS ChallanDate ,  
                                CASE WHEN RawMaterialInward.Prefix IS NULL      
                                                             THEN ''      
                                                             ELSE CONVERT(VARCHAR(50), RawMaterialInward.Prefix)      
                                                        END      
                                                        + CASE      
															  WHEN RawMaterialInward.Separator IS NULL      
                                                              THEN ''      
                                                              ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                                                          END      
                                                        + CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo)      
                                                        + CASE      
                                                              WHEN RawMaterialInward.Separator IS NULL      
                                                              THEN ''      
                                                              ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                                                          END      
                                                        + CASE      
                                                              WHEN RawMaterialInward.Suffix IS NULL      
                                                              THEN ''      
                                                              ELSE CONVERT(VARCHAR(50), RawMaterialInward.Suffix)      
                                                          END AS InwardNo ,  
                        CONVERT(VARCHAR(11), InwardDate, 106) AS InwardDate ,  
                        InvoiceNo ,  
                        CONVERT(VARCHAR(11), InvoiceDate, 106) AS InvoiceDate ,  
                        CastingMaster.CastingCode AS ItemCode ,  
                        CastingMaster.CastingName AS ItemName ,  
                        PurchasejobOrderTrans.UOM AS UOM ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(InwardJobCastingTranse.InwardQty,  
                                                              0) )) AS VARCHAR) AS Quantity ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(InwardJobCastingTranse.InwardQty,  
                                                              0) )) AS VARCHAR) AS AcceptedQuantiy ,  
                        CAST(CONVERT(DECIMAL(18, 3), 0) AS VARCHAR) AS RejectedQuantity ,  
                        CAST(CONVERT(DECIMAL(18, 2), ( ISNULL(InwardJobCastingTranse.InwardQty,  
                                                              0)  
                                                       * PurchasejobOrderTrans.Rate )) AS VARCHAR) AS Pendingvalue,
													   InwardJobCastingTranse.PurchaseOrderId as PurchaseOrder_Id
                FROM    dbo.RawMaterialInward  
                        INNER JOIN dbo.InwardJobCastingTranse ON dbo.InwardJobCastingTranse.InwardId = dbo.RawMaterialInward.InwardId  
                        INNER JOIN CastingMaster ON CastingMaster.CastingId = InwardJobCastingTranse.CastingId  
                        INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId  
                        INNER JOIN PurchasejobOrderTrans ON dbo.PurchasejobOrderTrans.JobOrderTransID = dbo.InwardJobCastingTranse.PurchaseJobOrderTranseID  
						  INNEr JOIN PurchaseOrder_Master ON PurchaseOrder_Master.PurchaseOrderId =PurchasejobOrderTrans.PurchaseOrderID  
						  INNER JOIN InvoiceSeries on InvoiceSeries.SeriesId = PurchaseOrder_Master.SeriesID and InvoiceSeries.IsSample = 0
						  INNER JOIN JobReturnTranse ON  JobReturnTranse.JRTranseID = InwardJobCastingTranse.JRTranseID  and JobReturnTranse.WithoutProcess  = 0
                WHERE   dbo.RawMaterialInward.IsDeleted = 0  
                        AND dbo.InwardJobCastingTranse.IsDeleted = 0  
                        AND ISNULL(InwardJobCastingTranse.IsDelivered, 0) = 0  
                        AND CAST(InwardDate AS DATE) BETWEEN CAST(@InwardDateFrom AS DATE) AND CAST(@InwardDateTo AS DATE)
                        AND ( @CustomerId IS NULL  
                              OR dbo.RawMaterialInward.CustomerId = @CustomerId  
                            )  
                        AND ( @PurchaseOrderId IS NULL  
                              OR InwardJobCastingTranse.PurchaseOrderId = @PurchaseOrderId  
                            )  
                        AND ( @CastingId IS NULL  
                              OR CastingMaster.CastingId = @CastingId  
                            )  
                        AND ( @CastingName IS NULL  
                              OR CastingName = @CastingName  
                            )  
                        AND ( @ItemId IS NULL  
                              OR 0 = 1  
                            )  
                        AND ( @ItemName IS NULL  
                              OR 0 = 1  
                            )  
                              
      AND ( ISNULL(@PlantIdString,'') = ''  
         OR PurchaseOrder_Master.POPlantId IN (  
          SELECT Item FROM @Plant  
         )  
       )  
      AND PurchaseOrder_Master.EntityID = @EntityId   
     and PurchaseOrder_Master.maxversion = 1
                UNION ALL --Pattern Order  
                SELECT  CustomerName AS SupplierName ,  
                        ChallanNo ,  
                        CONVERT(VARCHAR(11), ChallanDate, 106) AS ChallanDate ,  
                                CASE WHEN RawMaterialInward.Prefix IS NULL      
                                                             THEN ''      
                                                             ELSE CONVERT(VARCHAR(50), RawMaterialInward.Prefix)      
                                                        END      
                                                        + CASE      
															  WHEN RawMaterialInward.Separator IS NULL      
                                                              THEN ''      
                                                              ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                                                          END      
                                                        + CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo)      
                                                        + CASE      
                                                              WHEN RawMaterialInward.Separator IS NULL      
                                                              THEN ''      
                                                              ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                                                          END      
                                                        + CASE      
                                                              WHEN RawMaterialInward.Suffix IS NULL      
                                                              THEN ''      
                                                              ELSE CONVERT(VARCHAR(50), RawMaterialInward.Suffix)      
                                                          END AS InwardNo ,  
                        CONVERT(VARCHAR(11), InwardDate, 106) AS InwardDate ,  
                        InvoiceNo ,  
                        CONVERT(VARCHAR(11), InvoiceDate, 106) AS InvoiceDate ,  
                        PurchaseItemMaster.ItemCode ,  
                        '' AS ItemName ,  
                        PurchaseOrderPatternPurchaseTrans.UOM AS UOM ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(RawMaterialInwardDetail.Quantity,  
                                                              0) )) AS VARCHAR) AS Quantity ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(RawMaterialInwardDetail.Quantity,  
                                                              0) )) AS VARCHAR) AS AcceptedQuantiy ,  
                        CAST(CONVERT(DECIMAL(18, 3), 0) AS VARCHAR) AS RejectedQuantity ,  
                        CAST(CONVERT(DECIMAL(18, 2), ( ISNULL(RawMaterialInwardDetail.Quantity,  
                                                              0)  
                                                       * PurchaseOrderPatternPurchaseTrans.PurchaseRate )) AS VARCHAR) AS Pendingvalue,  
													   PurchaseOrderPatternPurchaseTrans.PurchaseOrderId as PurchaseOrder_Id
                FROM    dbo.RawMaterialInward  
                        INNER JOIN dbo.RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId  
                        INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId  
                        INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId  
                        INNER JOIN PurchaseOrderPatternPurchaseTrans ON dbo.PurchaseOrderPatternPurchaseTrans.PurchaseOrderPatternId = dbo.RawMaterialInwardDetail.PurchaseOrderTransId  
      INNEr JOIN PurchaseOrder_Master ON PurchaseOrder_Master.PurchaseOrderId =PurchaseOrderPatternPurchaseTrans.PurchaseOrderId 
	  INNER JOIN InvoiceSeries on InvoiceSeries.SeriesId = PurchaseOrder_Master.SeriesID and InvoiceSeries.IsSample = 0
                WHERE   dbo.RawMaterialInward.IsDeleted = 0  
                        AND dbo.RawMaterialInwardDetail.IsDeleted = 0  
                        and RawMaterialInwardDetail.IsPattern = 1
                        AND PurchaseItemMaster.IsPattern = 1
                        AND ISNULL(RawMaterialInwardDetail.IsInvoicePrepared, 0) = 0  
                        AND CAST(InwardDate AS DATE) BETWEEN CAST(@InwardDateFrom AS DATE) AND CAST(@InwardDateTo AS DATE)
                        AND ( @CustomerId IS NULL  
                              OR dbo.RawMaterialInward.CustomerId = @CustomerId  
                            )  
                        AND ( @PurchaseOrderId IS NULL  
                              OR PurchaseOrderPatternPurchaseTrans.PurchaseOrderId = @PurchaseOrderId  
                            )  
                        AND ( @CastingId IS NULL  
                              OR 0 = 1  
                            )  
                        AND ( @CastingName IS NULL  
                              OR 0 = 1  
                            )  
                        AND ( @ItemId IS NULL  
                              OR 0 = 1  
                            )  
         AND ( @ItemName IS NULL  
                              OR 0 = 1  
                            )  
                              
      AND ( ISNULL(@PlantIdString,'') = ''  
         OR PurchaseOrder_Master.POPlantId IN (  
          SELECT Item FROM @Plant  
         )  
       )  
      AND PurchaseOrder_Master.EntityID = @EntityId  
     and PurchaseOrder_Master.maxversion = 1 
                UNION ALL --For Core  
                SELECT  CustomerName AS SupplierName ,  
                        ChallanNo ,  
                        CONVERT(VARCHAR(11), ChallanDate, 106) AS ChallanDate ,  
                                CASE WHEN RawMaterialInward.Prefix IS NULL      
                                                             THEN ''      
                                                             ELSE CONVERT(VARCHAR(50), RawMaterialInward.Prefix)      
                                                        END      
                                                        + CASE      
															  WHEN RawMaterialInward.Separator IS NULL      
                                                              THEN ''      
                                                              ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                                                          END      
                                                        + CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo)      
                                                        + CASE      
                                                              WHEN RawMaterialInward.Separator IS NULL      
                                                              THEN ''      
                                                              ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                                                          END      
                                                        + CASE      
                                                              WHEN RawMaterialInward.Suffix IS NULL      
                                                              THEN ''      
                                                              ELSE CONVERT(VARCHAR(50), RawMaterialInward.Suffix)      
                                                          END AS InwardNo ,  
                        CONVERT(VARCHAR(11), InwardDate, 106) AS InwardDate ,  
                        InvoiceNo ,  
                        CONVERT(VARCHAR(11), InvoiceDate, 106) AS InvoiceDate ,  
                        CoreBoxMaster.CoreMasterName AS ItemCode ,  
                        '' AS ItemName ,  
                        PurchaseOrderCorePurchaseTrans.UOM AS UOM ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(CoreGRNDetail.InwardQty,  
                                                              0) )) AS VARCHAR) AS Quantity ,  
                        CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(CoreGRNDetail.InwardQty,  
                                                              0) )) AS VARCHAR) AS AcceptedQuantiy ,  
                        CAST(CONVERT(DECIMAL(18, 3), 0) AS VARCHAR) AS RejectedQuantity ,  
                        CAST(CONVERT(DECIMAL(18, 2), ( ISNULL(CoreGRNDetail.InwardQty,  
                                                              0)  
                                                       * PurchaseOrderCorePurchaseTrans.PurchaseRate )) AS VARCHAR) AS Pendingvalue,
													   PurchaseOrderCorePurchaseTrans.PurchaseOrderId as PurchaseOrder_Id
                FROM    dbo.RawMaterialInward  
                        INNER JOIN CoreGRNDetail ON dbo.CoreGRNDetail.InwardId = dbo.RawMaterialInward.InwardId  
                        INNER JOIN CoreBoxMaster ON CoreBoxMaster.CoreMasterID = CoreGRNDetail.CoreBoxId  
                        INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId  
                        INNER JOIN PurchaseOrderCorePurchaseTrans ON dbo.PurchaseOrderCorePurchaseTrans.PurchaseOrderCoreBoxId = dbo.CoreGRNDetail.PurchaseOrderCoreBoxId  
               INNEr JOIN PurchaseOrder_Master ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderCorePurchaseTrans.PurchaseOrderId
			   INNER JOIN InvoiceSeries on InvoiceSeries.SeriesId = PurchaseOrder_Master.SeriesID and InvoiceSeries.IsSample = 0
                WHERE   dbo.RawMaterialInward.IsDeleted = 0  
                        AND dbo.CoreGRNDetail.IsDeleted = 0  
                        AND ISNULL(CoreGRNDetail.IsInvoicePrepared, 0) = 0  
                        AND CAST(InwardDate AS DATE) BETWEEN CAST(@InwardDateFrom AS DATE) AND CAST(@InwardDateTo AS DATE)
                        AND ( @CustomerId IS NULL  
                              OR dbo.RawMaterialInward.CustomerId = @CustomerId  
                            )  
                        AND ( @PurchaseOrderId IS NULL  
                              OR PurchaseOrderCorePurchaseTrans.PurchaseOrderId = @PurchaseOrderId  
                            )  
                        AND ( @CastingId IS NULL  
                              OR 0 = 1  
                            )  
                        AND ( @ItemId IS NULL  
                              OR 0 = 1  
                            )  
                        AND ( @ItemName IS NULL  
                              OR 0 = 1  
                            )  
                              
      AND ( ISNULL(@PlantIdString,'') = ''  
         OR PurchaseOrder_Master.POPlantId IN (  
          SELECT Item FROM @Plant  
         )  
       )  
      AND PurchaseOrder_Master.EntityID = @EntityId 
     and PurchaseOrder_Master.maxversion = 1 
	 
) as Final
Inner Join PurchaseOrder_Master on PurchaseOrder_Master.PurchaseOrderId = Final.PurchaseOrder_Id
      --          UNION ALL  
      --          SELECT  CustomerName AS SupplierName ,  
      --                  ChallanNo ,  
      --                  CONVERT(VARCHAR(11), ChallanDate, 106) AS ChallanDate ,  
      --                  INWSrNo AS InwardNo ,  
      --                  CONVERT(VARCHAR(11), InwardDate, 106) AS InwardDate ,  
      --                  InvoiceNo ,  
      --                  CONVERT(VARCHAR(11), InvoiceDate, 106) AS InvoiceDate ,  
      --                  DieMaster.DieCode AS ItemCode ,  
      --                  DieMaster.DieName AS ItemName ,  
      --                  PurchaseOrderDiePurchaseTranse.UOM AS UOM ,  
      --                  CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(DieGRNDetail.InwardQty,  
      --                                                        0) )) AS VARCHAR) AS Quantity ,  
      --                  CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(DieGRNDetail.InwardQty,  
      --                                                        0) )) AS VARCHAR) AS AcceptedQuantiy ,  
      --                  CAST(CONVERT(DECIMAL(18, 3), 0) AS VARCHAR) AS RejectedQuantity ,  
      --                  CAST(CONVERT(DECIMAL(18, 2), ( ISNULL(DieGRNDetail.InwardQty,  
      --                                                        0)  
      --                                                 * PurchaseOrderDiePurchaseTranse.PurchaseRate )) AS VARCHAR) AS Pendingvalue  
      --          FROM    dbo.RawMaterialInward  
      --                  INNER JOIN DieGRNDetail ON dbo.DieGRNDetail.InwardId = dbo.RawMaterialInward.InwardId  
      --                  INNER JOIN DieMaster ON DieMaster.DieId = DieGRNDetail.DieId  
      --                  INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId  
      --                  INNER JOIN PurchaseOrderDiePurchaseTranse ON dbo.PurchaseOrderDiePurchaseTranse.PurchaseOrderDieId = dbo.DieGRNDetail.PurchaseOrderDieID  
      --INNEr JOIN PurchaseOrder_Master ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderDiePurchaseTranse.PurchaseOrderId  
      --          WHERE   dbo.RawMaterialInward.IsDeleted = 0  
      --                  AND dbo.DieGRNDetail.IsDeleted = 0  
      --                  AND ISNULL(DieGRNDetail.IsInvoicePrepared, 0) = 0  
      --                  AND InwardDate BETWEEN @InwardDateFrom AND @InwardDateTo  
      --                  AND ( @CustomerId IS NULL  
      --                        OR dbo.RawMaterialInward.CustomerId = @CustomerId  
      --                      )  
      --                  AND ( @PurchaseOrderId IS NULL  
      --                        OR PurchaseOrderDiePurchaseTranse.PurchaseOrderId = @PurchaseOrderId  
      --                      )  
      --                  AND ( @CastingId IS NULL  
      --                        OR 0 = 1  
      --                      )  
      --                  AND ( @CastingName IS NULL  
      --                        OR 0 = 1  
      --                      )  
      --                  AND ( @ItemId IS NULL  
      --                        OR 0 = 1  
      --                      )  
      --                  AND ( @ItemName IS NULL  
      --                        OR 0 = 1  
      --                      )  
                              
      --AND ( ISNULL(@PlantIdString,'') = ''  
      --   OR PurchaseOrder_Master.POPlantId IN (  
      --    SELECT Item FROM @Plant  
      --   )  
      -- )  
      --AND PurchaseOrder_Master.EntityID = @EntityId  
END  
  
GO
