USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Employeep_PaySlipReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Employeep_PaySlipReport]
  @Parameter INT = 0 ,    
    @EmployeeId int=0,
@EmployeeName varchar(100)=null,
@EmployeeCode nvarchar(50)=null,
@isActive bit=null, 
@isFilterActiveFlag INT = 0,
@IsDummy int=0,
@SysDepartmentID uniqueidentifier = null,
@CardNo VARCHAR(50) = NULL ,
@ShowInHR int = 1,
@isFilterDeleteFlag INT = 0, 
@EntityId INT = 0,
@eId uniqueidentifier = null,
@NoofDays int = 0,
@monthStart datetime =null,
@monthEnd datetime = null,
@PayOutId int = 0 ,
@DateFrom datetime = null,
@DateTo datetime = null

  
AS
BEGIN
 
	If @Parameter = 1
	Begin
	
	DECLARE @PaySlipAllowMaxSeq TINYINT = (SELECT MAX(EarningSequence) FROM EarningMaster(NOLOCK) WHERE IsEarning = 1)

	SELECT *  
	INTO  #TempTable 
	 FROM ( Select -- PayOutAllowance.EmployeeId,
	      1 as num, 'Earning' as GroupName,
		-- PayOutAllowance.EmployeeId,
		--case when EarningTypeName = 'ARREARS'
		--then  999999
		--else EarningMaster.SrNo end as SrNo,	
		case when EarningTypeName = 'ARREARS' then  999999
			 when EarningTypeName = 'Bonus' then  99999999
			 WHEN IsAdditional = 1 OR IsRuntime = 1 THEN CAST(@PaySlipAllowMaxSeq + 1 AS TINYINT)
			else EarningMaster.EarningSequence end as EarningSequence,
		EmpDtl.CardNo,
		EmpDtl.EmployeeCode,
		EmpDtl.EntityId,
		EmpDtl.ShiftId,				
		ISNULL(EmpDtl.EmployeeName,'') +' '+ISNULL(EmpDtl.MiddleName,'')+' '+ISNULL(EmpDtl.LastName,'') as  EmployeeName,
		LEFT(CONVERT(VARCHAR, EmpDtl.DOB, 106), 15) as
		DOB,
		EmpDtl.Salary,
		LEFT(CONVERT(VARCHAR, EmpDtl.JoiningDate, 106), 15) as
		JoiningDate,
		Eshft.ShiftName,				
		WeekOff,
		ModeOfPayment,
		AccountNo,
		IFSCNo,
		BankName,
		BenificiaryName,
		UANNo,PFNo,
		ESICNo,	
		PFAmount,
		ESICAmount,
		PTAmount,
		EffectiveFrom,
		--EarningTypeName,
		--PayslipName as EarningTypeName,
	 --   PayOutAllowance.Amount as Amount,
		(CASE	WHEN ISNULL(EmpOtherDeduction.Id, 0) = 0 THEN EarningMaster.EarningTypeName
						ELSE 'Other Allowance' END) EarningTypeName,
				--PayOutAllowance.Amount as Amount
			    sum(PayOutAllowance.Amount) as Amount,
	    datename(m,PayOutMonth)+' '+cast(datepart(yyyy,PayOutMonth) as varchar) as MonthYear,
	    --STUFF((select DISTINCT  ', ' + CAST(DepartmentName as varchar(max)) from EmployeeDepartmentMapping 
				 --inner join SystemDepartment on EmployeeDepartmentMapping.DepartmentID = SystemDepartment.DepartmentID
				 --where  EmployeeID  = @EmployeeId 
				 -- FOR XML PATH('')) , 1, 1, '')  AS DepartmentName,
				 DepartmentName,
				isnull(PayOutTrans.MonthWorkDay,0) as NoofDaysinMonth, 
				isnull(PayOutTrans.PayableDays,0) as NoofDays
	  
	  
	from EmployeeDetails as EmpDtl
	left join HRShiftMaster as Eshft On Eshft.ShiftID = EmpDtl.ShiftId
	left join PayOutMaster on PayOutMaster.IsDeleted = 0 
				and (PayOutMaster.PayOutId=@PayOutId)
	left JOIN PayOutTrans ON PayOutMaster.PayOutId = PayOutTrans.PayOutId 
				AND PayOutTrans.EmployeeId = EmpDtl.EmployeeId 
	left join PayOutAllowance on EmpDtl.EmployeeId = PayOutAllowance.EmployeeId	
					and (PayOutAllowance.PayOutId=@PayOutId)
	left join EarningMaster on  EarningMaster.EarningId = PayOutAllowance.AllowanceId
	LEFT join EmpOtherDeduction on EmpOtherDeduction.PayoutId = PayOutAllowance.PayOutId
							AND EmpOtherDeduction.EmployeeId = PayOutAllowance.EmployeeId
							AND EmpOtherDeduction.EarningId = PayOutAllowance.AllowanceId
							AND EmpOtherDeduction.[Type] = 0
							and EmpOtherDeduction.IsActive = 1
	left join SystemDepartment sydp on EmpDtl.EmpDept_Id = sydp.DepartmentID
where	
		(@EmployeeId = 0 or EmpDtl.EmployeeId=@EmployeeId)
	--	and (@EmployeeCode is null or EmpDtl.EmployeeCode=@EmployeeCode) 
		--and (@PayOutId = 0 or PayOutAllowance.PayOutId=@PayOutId)
		ANd EmpDtl.EntityId = @EntityId
		--and EmployeeType= 1					
	    and (EmpDtl.IsDelete = 0)
   		and  ( @DateFrom IS NULL
							OR @DateTo IS NULL
							OR PayOutMaster.PayOutMonth BETWEEN @DateFrom
							AND
					@DateTo)
	group by	EarningMaster.SrNo ,EmpDtl.CardNo, EmpDtl.EmployeeCode,EmpDtl.EntityId,EmpDtl.ShiftId,
				EmpDtl.EmployeeName,EmpDtl.MiddleName,EmpDtl.LastName, EmpDtl.DOB, DOB,EmpDtl.Salary, EmpDtl.JoiningDate,
				JoiningDate, Eshft.ShiftName, WeekOff, ModeOfPayment, AccountNo, IFSCNo, BankName, BenificiaryName, UANNo,PFNo,
				ESICNo,	PFAmount, ESICAmount, PTAmount, EffectiveFrom,EarningMaster.EarningTypeName,PayOutMonth	,EmpOtherDeduction.Id,
				PayOutTrans.MonthWorkDay , PayOutTrans.PayableDays, EarningMaster.IsAdditional, EarningMaster.IsRuntime
				, EarningMaster.EarningSequence,DepartmentName
	   )as temp
	 
	 
union 

 select 2 as num, 'Deduction' as GroupName, * 
 from(	Select  --EmpDtl.EmployeeId,
				EarningMaster.SrNo as EarningSequence ,	
				--EarningMaster.EarningSequence,			
				EmpDtl.CardNo,
				EmpDtl.EmployeeCode,
				EmpDtl.EntityId,
				EmpDtl.ShiftId,				
				ISNULL(EmpDtl.EmployeeName,'') +' '+ISNULL(EmpDtl.MiddleName,'')+' '+ISNULL(EmpDtl.LastName,'') as  EmployeeName,
				LEFT(CONVERT(VARCHAR, EmpDtl.DOB, 106), 15) as
				DOB,EmpDtl.Salary,
				LEFT(CONVERT(VARCHAR, EmpDtl.JoiningDate, 106), 15) as
				JoiningDate,
				Eshft.ShiftName,	
				WeekOff,
				ModeOfPayment,
				AccountNo,
				IFSCNo,
				BankName,
				BenificiaryName,
				UANNo,PFNo,
				ESICNo,	
				PFAmount,
				ESICAmount,
				PTAmount,
				EffectiveFrom,
				(CASE	WHEN ISNULL(EmpOtherDeduction.Id, 0) = 0 THEN EarningMaster.EarningTypeName
						ELSE 'Other Deduction' END)EarningTypeName,
				--PayOutAllowance.Amount as Amount
			    sum(PayOutDeduction.EmpDeductionAmount) as EmpDeductionAmount,
			     datename(m,PayOutMonth)+' '+cast(datepart(yyyy,PayOutMonth) as varchar) as MonthYear,
			  --   STUFF((select DISTINCT  ', ' + CAST(DepartmentName as varchar(max)) from EmployeeDepartmentMapping 
				 --inner join SystemDepartment on EmployeeDepartmentMapping.DepartmentID = SystemDepartment.DepartmentID
				 --where  EmployeeID  = @EmployeeId 
				 -- FOR XML PATH('')) , 1, 1, '')  AS DepartmentName,
				 DepartmentName,
				  isnull(PayOutTrans.MonthWorkDay,0) as NoofDaysinMonth,
				  isnull(PayOutTrans.PayableDays,0) as NoofDays
	  
					
			from EmployeeDetails as EmpDtl
			left join HRShiftMaster as Eshft On Eshft.ShiftID = EmpDtl.ShiftId		
			left join PayOutMaster on PayOutMaster.IsDeleted = 0 
			and (PayOutMaster.PayOutId=@PayOutId)
			left JOIN PayOutTrans ON PayOutMaster.PayOutId = PayOutTrans.PayOutId 
			AND PayOutTrans.EmployeeId = EmpDtl.EmployeeId 
			left join PayOutDeduction on EmpDtl.EmployeeId = PayOutDeduction.EmployeeId  
			--and EmpDeductionAmount>0 
								and (@PayOutId = 0 or PayOutDeduction.PayOutId=@PayOutId)
			left join EarningMaster on  EarningMaster.EarningId = PayOutDeduction.TaxId			
			left join EmpOtherDeduction on EmpOtherDeduction.PayoutId = PayOutDeduction.PayOutId
							AND EmpOtherDeduction.EmployeeId = PayOutDeduction.EmployeeId
							AND EmpOtherDeduction.EarningId = PayOutDeduction.TaxId
							AND EmpOtherDeduction.[Type] = 0
							and EmpOtherDeduction.IsActive = 1	
			left join SystemDepartment sydp on EmpDtl.EmpDept_Id = sydp.DepartmentID
	
where	
		(@EmployeeId = 0 or EmpDtl.EmployeeId=@EmployeeId)
		--and (@PayOutId = 0 or PayOutDeduction.PayOutId=@PayOutId)
	--	and (@EmployeeCode is null or EmpDtl.EmployeeCode=@EmployeeCode) 
		ANd EmpDtl.EntityId = @EntityId	
	--	and EmployeeType= 1		
	   and (EmpDtl.IsDelete = 0)
  		and  ( @DateFrom IS NULL
							OR @DateTo IS NULL
							OR PayOutMaster.PayOutMonth BETWEEN @DateFrom
							AND
					@DateTo)
	  	group by EarningMaster.SrNo ,EmpDtl.CardNo, EmpDtl.EmployeeCode,EmpDtl.EntityId,EmpDtl.ShiftId, EmpDtl.EmployeeName,EmpDtl.MiddleName,
				EmpDtl.LastName, EmpDtl.DOB, DOB,EmpDtl.Salary, EmpDtl.JoiningDate, JoiningDate, Eshft.ShiftName, WeekOff, ModeOfPayment,
				AccountNo, IFSCNo, BankName, BenificiaryName, UANNo,PFNo, ESICNo,	 PFAmount, ESICAmount, PTAmount,
				EffectiveFrom,EarningMaster.EarningTypeName,PayOutMonth	,EmpOtherDeduction.Id, PayOutTrans.MonthWorkDay , PayOutTrans.PayableDays,
				DepartmentName
				--,PayOutDeduction.EmpDeductionAmount
				--,EarningMaster.EarningSequence
				   ) as temp 
				 --order by SrNo
				-- order by EarningSequence
	    
	     
union 

 select 3 as num, 'DeductionEmployer' as GroupName, * 
 from(	Select  --EmpDtl.EmployeeId,
				EarningMaster.SrNo as EarningSequence ,	
				--EarningMaster.EarningSequence,			
				EmpDtl.CardNo,
				EmpDtl.EmployeeCode,
				EmpDtl.EntityId,
				EmpDtl.ShiftId,				
				ISNULL(EmpDtl.EmployeeName,'') +' '+ISNULL(EmpDtl.MiddleName,'')+' '+ISNULL(EmpDtl.LastName,'') as  EmployeeName,
				LEFT(CONVERT(VARCHAR, EmpDtl.DOB, 106), 15) as
				DOB,EmpDtl.Salary,
				LEFT(CONVERT(VARCHAR, EmpDtl.JoiningDate, 106), 15) as
				JoiningDate,
				Eshft.ShiftName,	
				WeekOff,
				ModeOfPayment,
				AccountNo,
				IFSCNo,
				BankName,
				BenificiaryName,
				UANNo,PFNo,
				ESICNo,	
				PFAmount,
				ESICAmount,
				PTAmount,
				EffectiveFrom,
				(CASE	WHEN ISNULL(EmpOtherDeduction.Id, 0) = 0 THEN EarningMaster.EarningTypeName
						ELSE 'Other Deduction' END)EarningTypeName,
				--PayOutAllowance.Amount as Amount
			    sum(PayOutDeduction.EmployerDeductionAmount) as EmployerDeductionAmount,
			     datename(m,PayOutMonth)+' '+cast(datepart(yyyy,PayOutMonth) as varchar) as MonthYear,
			  --   STUFF((select DISTINCT  ', ' + CAST(DepartmentName as varchar(max)) from EmployeeDepartmentMapping 
				 --inner join SystemDepartment on EmployeeDepartmentMapping.DepartmentID = SystemDepartment.DepartmentID
				 --where  EmployeeID  = @EmployeeId 
				 -- FOR XML PATH('')) , 1, 1, '')  AS DepartmentName,
				 DepartmentName,
				isnull(PayOutTrans.MonthWorkDay,0) as NoofDaysinMonth, 
				isnull(PayOutTrans.PayableDays,0) as NoofDays
	  
					
			from EmployeeDetails as EmpDtl
			left join HRShiftMaster as Eshft On Eshft.ShiftID = EmpDtl.ShiftId	
		    left join PayOutMaster on PayOutMaster.IsDeleted = 0 
					and (PayOutMaster.PayOutId=@PayOutId)
			left JOIN PayOutTrans ON PayOutMaster.PayOutId = PayOutTrans.PayOutId 
					AND PayOutTrans.EmployeeId = EmpDtl.EmployeeId 
			left join PayOutDeduction on EmpDtl.EmployeeId = PayOutDeduction.EmployeeId  	
					and (@PayOutId = 0 or PayOutDeduction.PayOutId=@PayOutId)
			left join EarningMaster on  EarningMaster.EarningId = PayOutDeduction.TaxId			
			LEFT join EmpOtherDeduction on EmpOtherDeduction.PayoutId = PayOutDeduction.PayOutId
							AND EmpOtherDeduction.EmployeeId = PayOutDeduction.EmployeeId
							AND EmpOtherDeduction.EarningId = PayOutDeduction.TaxId
							AND EmpOtherDeduction.[Type] = 0
							and EmpOtherDeduction.IsActive = 1
			left join SystemDepartment sydp on EmpDtl.EmpDept_Id = sydp.DepartmentID
where	
		(@EmployeeId = 0 or EmpDtl.EmployeeId=@EmployeeId)
		--and (@PayOutId = 0 or PayOutDeduction.PayOutId=@PayOutId)
	--	and (@EmployeeCode is null or EmpDtl.EmployeeCode=@EmployeeCode) 
		ANd EmpDtl.EntityId = @EntityId	
	--	and EmployeeType= 1		
	   and (EmpDtl.IsDelete = 0)
  		and  ( @DateFrom IS NULL
							OR @DateTo IS NULL
							OR PayOutMaster.PayOutMonth BETWEEN @DateFrom
							AND
					@DateTo)
	  	group by EarningMaster.SrNo ,EmpDtl.CardNo, EmpDtl.EmployeeCode,EmpDtl.EntityId,EmpDtl.ShiftId, EmpDtl.EmployeeName,EmpDtl.MiddleName,
				EmpDtl.LastName, EmpDtl.DOB, DOB,EmpDtl.Salary, EmpDtl.JoiningDate, JoiningDate, Eshft.ShiftName, WeekOff, ModeOfPayment,
				AccountNo, IFSCNo, BankName, BenificiaryName, UANNo,PFNo, ESICNo,	 PFAmount, ESICAmount, PTAmount,
				EffectiveFrom,EarningMaster.EarningTypeName,PayOutMonth	,EmpOtherDeduction.Id, PayOutTrans.MonthWorkDay , PayOutTrans.PayableDays,
				DepartmentName
				--,PayOutDeduction.EmpDeductionAmount
				--,EarningMaster.EarningSequence
				  ) as temp 
				 --order by SrNo
				 order by EarningSequence





select * FROM #TempTable
			   
select EarningTypeName, SUM(Amount) as EarningAmount,EarningSequence  FROM #TempTable
 where Groupname ='Earning'
 GROUP BY EarningTypeName,EarningSequence 
  order by EarningSequence
  
-- select EarningTypeName, SUM(Amount) as DeductionAmount,EarningSequence FROM #TempTable
-- where Groupname ='Deduction' and Amount> 0 
--GROUP BY EarningTypeName,EarningSequence  


-- select EarningTypeName, SUM(Amount) as DeductionAmount,EarningSequence FROM #TempTable
-- where Groupname ='DeductionEmployer' and Amount> 0 
--GROUP BY EarningTypeName,EarningSequence 

if exists ( select 1 FROM #TempTable where Groupname ='Deduction' and Amount> 0 GROUP BY EarningTypeName,EarningSequence )
	Begin 
		 select EarningTypeName , isnull(SUM(Amount),0) as DeductionAmount,EarningSequence FROM #TempTable
		 where Groupname ='Deduction' 
		 --and Amount> 0 
		 GROUP BY EarningTypeName,EarningSequence 
	End   
Else 
	Begin 
		 select 'Deduction Amount'  as EarningTypeName,
				 '0' as DeductionAmount	
				
			
	End


if exists (select 1 FROM #TempTable where Groupname ='DeductionEmployer' and Amount> 0  GROUP BY EarningTypeName )
	Begin
		 select EarningTypeName, SUM(Amount) as DeductionAmount FROM #TempTable
		 where Groupname ='DeductionEmployer' 
		-- and Amount> 0 
		GROUP BY EarningTypeName 
		
    End 
 Else 
 	Begin 
		 select 'Deduction Amount'  as EarningTypeName,
				 '0' as DeductionAmount	
				
			
	End

drop table #TempTable
	End

END




GO
