USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MoldBoxNew]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[MoldBoxNew]
	  @Parameter INT = 0 
	 ,@Length FLOAT = NULL  
     ,@Width FLOAT = NULL 
     ,@Height FLOAT = NULL 
     ,@UnitOfMeasure UNIQUEIDENTIFIER = NULL 
     ,@ItemName VARCHAR(100) = NULL 
     ,@CreatedBy INT = 0   
     ,@CreatedOn DATETIME = NULL 
     ,@PurchaseItemId UNIQUEIDENTIFIER = NULL 
     ,@EntityID INT = 0    
     ,@PlantId int = 0
     ,@ModifiedBy INT = 0  
     ,@ModifiedOn DATETIME = NULL 
     ,@Qty float = null
     ,@DeletedBy  INT = 0    
     ,@DeletedOn DATETIME = NULL 
AS
BEGIN
if(@Parameter =1 )
begin
   IF EXISTS ( SELECT  ItemName  
                            FROM    dbo.PurchaseItemMaster  
                            WHERE   ItemCode = @ItemName 
									And EntityID = @EntityID
									and IsAsset = 1 )  
                    BEGIN  
                        ROLLBACK TRANSACTION  
                        RETURN -2  
                    END  
                    
 SET @PurchaseItemId = NEWID()  
		INSERT INTO [dbo].[PurchaseItemMaster]
				   ([PurchaseItemId]
				   ,[ItemName]
				   ,[ItemCode]           
				   ,[UnitOfMeasure]
				   ,[SecondaryUnitOfMeasure]
				   ,[ConversionRatio]          
				   ,[CreatedBy]
				   ,[CreatedOn] 
				   ,[IsDeleted]  
				   ,[EntityID]  
				   ,[IsNonConsumable] 
				   ,[Length]
				   ,[Width]
				   ,[Height] 
				   ,[IsAsset]
				   ,[IsCharge]
				   ,[IsMoldBox]
				    )  
				   Values 
				   (
				   @PurchaseItemId
				   ,@ItemName
				   ,@ItemName
				   ,@UnitOfMeasure
				   ,@UnitOfMeasure
				   ,1
				   ,@CreatedBy
				   ,@CreatedOn
				   ,0
				   ,@EntityID
				   ,1 
				   ,@Length
				   ,@Width
				   ,@Height
				   ,1
				   ,0
				   ,1
				   )      
				   
				     IF @@ERROR <> 0  
                    ROLLBACK TRANSACTION   
                    
				   
			INSERT  INTO InventoryDetails  ( PurchaseItemID, Stock,Entity,PlantId )  
                Values (@PurchaseItemId,@Qty, @EntityID, @PlantId)
                
                  IF @@ERROR <> 0  
                    ROLLBACK TRANSACTION   
                    
		      INSERT  INTO PurchaseCompanyMapping
                    ( Id ,
                      PurchaseItemId ,
                      CompanyId                     
                    )
                    Values( NEWID() ,
                            @PurchaseItemId ,
                            @EntityId
                            )
				 IF @@ERROR <> 0  
                    ROLLBACK TRANSACTION 
                    
        RETURN 1       
             
end

if(@Parameter =2 )
begin
		Update [dbo].[PurchaseItemMaster] set 
				   
				   [ItemName]=@ItemName
				   ,[ItemCode]=@ItemName           
				   ,[UnitOfMeasure]=@UnitOfMeasure
				   ,[SecondaryUnitOfMeasure]=@UnitOfMeasure 
				   ,[ModifiedBy]=@ModifiedBy
				   ,[ModifiedOn] =@ModifiedOn 
				   ,[Length]=@Length
				   ,[Width]=@Width
				   ,[Height] =@Height
				   where PurchaseItemId=@PurchaseItemId
				     
				Update  InventoryDetails set Stock =@Qty where  PurchaseItemId=@PurchaseItemId and PlantId=@PlantId
				
				update MoldBoxTopBottomTrans set Dimension1 = @Length,Dimension2 =  @Width, Dimension3 = @Height  where BoxId = @PurchaseItemId 
				Declare @MoldBoxId uniqueidentifier = (select top 1 Moldboxid  from  MoldBoxTopBottomTrans   where BoxId = @PurchaseItemId )
   Declare @BoxVolume float = 0 
            DECLARE C1 CURSOR
            FOR
                SELECT dimension1,dimension2,dimension3,Qty FROM MoldBoxTopBottomTrans WHERE MOLDBOXID =@MoldBoxId
            OPEN C1
            FETCH NEXT FROM C1 INTO  @Length,@Width, @Height, @Qty 	
 
            WHILE @@FETCH_STATUS = 0
                BEGIN 
                  set @BoxVolume += (@Length*@Width* @Height )
                  
                    FETCH NEXT FROM C1 INTO  @Length,@Width, @Height, @Qty 	
                END
            CLOSE C1;
            DEALLOCATE C1;
            update MoldBoxMaster set BoxVolume= @BoxVolume where 	MoldBoxID =@MoldBoxId			
				        IF @@ERROR <> 0  
                    ROLLBACK TRANSACTION   
                    
            RETURN 1   
             
end

if(@Parameter =3 )
begin
		Update [dbo].[PurchaseItemMaster] set 
				   IsDeleted =1 ,
				   DeletedBy=@DeletedBy,
				   DeletedOn=@DeletedOn		
				   where PurchaseItemId=@PurchaseItemId 
             
end


if(@Parameter =4 )
begin
			Select distinct PurchaseItemMaster.PurchaseItemId,ItemCode,Length,Width,Height,UnitOfMeasure,
				UOMMaster.UOM ,sum(InventoryDetails.Stock) as Qty,PlantId 
		 from PurchaseItemMaster 
		 inner join UOMMaster on UOMMaster.UOMid = PurchaseItemMaster.UnitOfMeasure
		 inner join PurchasecompanyMapping on PurchasecompanyMapping.PurchaseItemId =PurchaseItemMaster.PurchaseItemId
		 inner join InventoryDetails on InventoryDetails.PurchaseItemId =PurchaseItemMaster.PurchaseItemId and InventoryDetails.Entity = PurchasecompanyMapping.CompanyId 
		 
		 where IsAsset = 1 and PurchaseItemMaster.IsDeleted = 0  and IsMoldBox =1
		  and PurchasecompanyMapping.CompanyId =@EntityID 
		 and PurchaseItemMaster.IsEquipment= 0
		 group by PurchaseItemMaster.PurchaseItemId,ItemCode,Length,Width,Height,UnitOfMeasure,UOM,PlantId
		 order by ItemCode
end

  IF (@Parameter = 5)
        BEGIN
            IF EXISTS ( SELECT  ItemName
                        FROM   PurchaseItemMaster                               
                        WHERE   --CustomerName = CustomerName
                        LTRIM(RTRIM(UPPER(ItemName))) = LTRIM(RTRIM(UPPER(@ItemName)))
                                AND ( @PurchaseItemId IS NULL
                                      OR PurchaseItemMaster.PurchaseItemId <> @PurchaseItemId
                                    )
                              and  IsAsset = 1 and PurchaseItemMaster.IsDeleted = 0  
							  and PurchaseItemMaster.EntityID =@EntityID 
							 and PurchaseItemMaster.IsEquipment= 0)
                                
                RETURN 1
            ELSE
                RETURN 0
        END
END


GO
