USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_deliveryChallan]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[Fetch_deliveryChallan]
	-- Add the parameters for the stored procedure here
	@OrderServiceItemID uniqueidentifier = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Select	ReturnChallanNo,
			ISNULL(dispatchtrans.dispatchqty, 0) as ReturnQty,
			
			CastingCode,
			MetalName
	from    dispatchtrans 
			inner Join OrderTranse on OrderTranse.CustomerOrderId = dispatchtrans.orderid
				and OrderTranse.SrNo = dispatchtrans.orderserialno
				and OrderTranse.CastingId = dispatchtrans.castingid
			Inner Join OrderServiceItemTrans On OrderServiceItemTrans.OrderTranId = OrderTranse.OrderTranseId
			INNER JOIN dispatchmaster  ON dispatchtrans.Dispatchid = DispatchMaster.DispatchID
			inner Join CastingMaster on CastingMaster.CastingId = dispatchtrans.PartId
			Inner join MetalMaster on MetalMaster.MetalId = OrderTranse.MetalId
	Where	dispatchtrans.IsDeleted = 0 and dispatchMaster.IsProforma = 0 
			and TypeOfVoucher = 2 and dispatchmaster.NoStockMovement = 0
			and dispatchtrans.WithOutProcess = 0
			and OrderServiceItemTrans.OrderServiceItemID = @OrderServiceItemID
				
				
END
GO
