USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WaxSetupUp]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Roopal
-- Create date: 14 Aug 2017
-- Description:	Wax Setup detail will get saved from this.
-- =============================================
CREATE PROCEDURE [dbo].[WaxSetupUp]
	-- Add the parameters for the stored procedure here
    @Parameter INT = 0 ,
    @SetupId UNIQUEIDENTIFIER = NULL ,
    @WaxChargeID INT = 0 ,
    @SetupName VARCHAR(100) = NULL ,
    @DownSprueSize VARCHAR(50) = NULL ,
    @DownSprueWeight FLOAT = 0 ,
    @DownSprueQty INT = 0 ,
    @CupSize VARCHAR(50) = NULL ,
    @CupWeight FLOAT = 0 ,
    @CupQty INT = 0 ,
    @BaseSize VARCHAR(50) = NULL ,
    @BaseWeight FLOAT = 0 ,
    @BaseQty INT = 0 ,
    @CreatedBy INT = 0 ,
    @ModifiedBy INT = 0 ,
    @DeletedBy INT = 0 ,
    @EntityId INT = 0
AS
    BEGIN
        DECLARE @IsDeleted INT= 0;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;

    -- Insert Data into WaxSetupMaster
    -- SETUPNAME,WAX CHARGEID,DOWNSPRUE WEIGHT,DOWN SPRUE QTY,CUP WEIGHT,CUP QTY,BASE WEIGHT,BASE QTY ARE MANDATORY
        IF @Parameter = 1
            BEGIN
                SET @SetupId = NEWID()
                INSERT  INTO WaxSetupMaster
                        ( setupid ,
                          setupname ,
                          WaxChargeID ,
                          DownSprueSize ,
                          DownSprueWeight ,
                          DownSprueQty ,
                          CupSize ,
                          CupWeight ,
                          CupQty ,
                          BaseSize ,
                          BaseWeight ,
                          BaseQty ,
                          CreatedBy ,
                          CreatedOn ,
                          EntityId
                        )
                VALUES  ( @SetupId ,
                          @SetupName ,
                          @WaxChargeID ,
                          @DownSprueSize ,
                          @DownSprueWeight ,
                          @DownSprueQty ,
                          @CupSize ,
                          @CupWeight ,
                          @CupQty ,
                          @BaseSize ,
                          @BaseWeight ,
                          @BaseQty ,
                          @CreatedBy ,
                          GETDATE() ,
                          @EntityId
                        )
            END
            
        IF @Parameter = 2 -- Update WaxSetupMaster details
            BEGIN
                UPDATE  WaxSetupMaster
                SET     setupname = @setupname ,
                        WaxChargeID = @WaxChargeID ,
                        DownSprueSize = @Downspruesize ,
                        DownSprueWeight = @DownSprueWeight ,
                        DownSprueQty = @DownSprueQty ,
                        CupSize = @CupSize ,
                        CupWeight = @CupWeight ,
                        CupQty = @CupQty ,
                        BaseSize = @BaseSize ,
                        BaseWeight = @BaseWeight ,
                        BaseQty = @BaseQty ,
                        ModifiedBy = @ModifiedBy ,
                        ModifiedOn = GETDATE() ,
                        EntityId = @EntityId
                WHERE   Setupid = @setupid
                       
            END
            
        IF @Parameter = 3 --FETCH DATA FROM WaxSetupMaster,WaxChargeMaster
            BEGIN
                SELECT  setupId ,
                        setupname ,
                        WaxChargeID ,
                        ChargeName ,
                        DownSprueSize ,
                        DownSprueweight ,
                        DownSprueQty ,
                        CupSize ,
                        CupWeight ,
                        CupQty ,
                        BaseSize ,
                        BaseWeight ,
                        BaseQty
                FROM    WaxSetupMaster
                        INNER JOIN WaxChargeMaster ON WaxChargeMaster.ChargeID = WaxSetupMaster.WaxChargeID
                WHERE   WaxSetupMaster.IsDeleted = 0
            END
            
        IF @Parameter = 4 -- Delete the WaxSetupMaster
            BEGIN
    
                UPDATE  WaxSetupMaster
                SET     IsDeleted = 1 ,
                        DeletedBy = @DeletedBy ,
                        DeletedOn = GETDATE()
                WHERE   setupId = @setupId
    
            END
            
        IF @Parameter = 5 --fetch Chargename which are available in WaxSetupMaster
            BEGIN             -- This parameter use in Jobbcard
                SELECT  WaxChargeID ,
                        ChargeName
                FROM    WaxSetupMaster
                        INNER JOIN WaxChargeMaster ON WaxChargeMaster.ChargeID = WaxSetupMaster.WaxChargeID
                WHERE   WaxSetupMaster.IsDeleted = 0
                        AND setupId = @setupId
            END
                        
        IF @Parameter = 6 --fetch Setup Detail which are available in WaxSetupMaster according to SetupCharge
            BEGIN             -- This parameter use in Jobbcard
                     
                SELECT  DownSprueSize ,
                        DownSprueweight ,
                        DownSprueQty ,
                        CupSize ,
                        CupWeight ,
                        CupQty ,
                        BaseSize ,
                        BaseWeight ,
                        BaseQty
                FROM    WaxSetupMaster
                WHERE   WaxSetupMaster.IsDeleted = 0
                         AND setupId = @setupId
            END
    END
GO
