USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_DieRegisterReportById]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_DieRegisterReportById] --- old sp name : SP_DieRegisterReport 
 @dieid VARCHAR(50)  
AS  
    SELECT  dmast.PatternId as DieId ,  
            dmast.PatternCode as DieCode ,  
            dmast.DieName ,  
            dmast.PatternMaterial as DieType ,  
            dmast.StoreLocation as DieLocation ,  
            dmast.Plunger_Size ,  
            dmast.Metal_Tempreture ,  
            dmast.No_of_Removables ,  
            dmast.NoOfPatternOnMatchPlate as No_of_Cavity ,  
            dmast.Best_Production_Hour ,  
            dmast.Shot_Weight ,  
             0 as Casting_Weight ,  
            0 as GrossWt ,  
            0 as NetWt ,  
            0 as RunnerRiserWt ,  
            dmast.Loss_On ,  
            dmast.LossWt ,  
            dmast.LossPercent ,  
            dmast.Remarks ,  
            dmast.CreatedByy as Created_by ,  
            dmast.CreatedDate as  Created_Date ,  
            dmast.ModifiedBy as  Modified_By ,  
            dmast.ModifiedDate as  Modified_Date ,  
            dmast.IsDeleted ,  
            dmast.IsActive AS IsActiveDiemast ,  
            0 as IsAllcustomer ,  
            '' as DieStatusId ,  
            dmast.PatternId AS Expr1 ,  
            dmast.IsActive ,  
            dmast.Reason ,  
            DenzingIndexNo,  
            GrainSize,  
            DieTempreture,  
            DegassingTime,  
            PouringTime,  
            SolidificationTime,  
            Humidity,  
            DieExpiryShots,  
            CONVERT(VARCHAR(20), PatternActiveDate  , 106) AS Active_Deactive_Date  
    FROM    dbo.PatternMaster AS dmast  
            -- INNER JOIN dbo.DieStatusDetails AS diestatus ON dmast.DieId = diestatus.DieId  
    WHERE   dmast.PatternId = @dieid  
    ORDER BY PatternActiveDate  DESC  
    
    
    SELECT  mem.ItemName EquipmentName ,  
           -- dbo.MachineMaster.MachineName ,  
            mem.ItemCode as MachineName,   
            --mem.RatePerShot ,  
            dbo.DieMachineMapping.DieId ,  
            dbo.DieMachineMapping.MachineId ,  
            dbo.DieMachineMapping.Priority ,  
            dbo.DieMachineMapping.Limit_Switch ,  
            dbo.DieMachineMapping.Phase1 ,  
            dbo.DieMachineMapping.Phase2 ,  
            dbo.DieMachineMapping.Phase3 ,  
            dbo.DieMachineMapping.T1 ,  
            dbo.DieMachineMapping.T2 ,  
            dbo.DieMachineMapping.T3 ,  
            dbo.DieMachineMapping.T4  
    FROM    dbo.DieMachineMapping  
            --INNER JOIN dbo.MachineMaster ON dbo.DieMachineMapping.MachineId = dbo.MachineMaster.MachineId  
            inner join PurchaseItemMaster AS mem on mem.PurchaseItemId = DieMachineMapping.MachineId AND mem.IsDeleted = 0  AND IsEquipment = 1 
  
    WHERE   dbo.DieMachineMapping.DieId = @dieid  
GO
