USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_PackingDetail]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_PackingDetail]
    @DispatchID VARCHAR(50)
AS
    SELECT  * ,
            CASE WHEN totalweight = 0 OR qtyperbox=0 THEN 0
                 ELSE totalweight / qtyperbox
            END AS perpcweight
    FROM    packaging pack ,
            dispatchmaster dispatchmaster ,
            CastingMaster castmaster
    WHERE   pack.dispatchid = dispatchmaster.dispatchid
            AND castmaster.castingid = pack.castingid
            AND dispatchmaster.DispatchID = @DispatchID
			AND qtyperbox<>0
GO
