USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportPendingOrderWiseMold]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Gautam Parmar>
-- Create date: <Create Date,,25th July 2023>
-- Description:	<Description,pending mold based on Order wise>
-- =============================================
CREATE PROCEDURE [dbo].[ReportPendingOrderWiseMold]
    @Startdate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
	@CastingId UNIQUEIDENTIFIER = NULL ,
    @PatternId UNIQUEIDENTIFIER = NULL ,
	@PlantIdString VARCHAR(MAX) = NULL ,
    @EntityID INT = 0,
	@PrintOrderNo BIT =0,
	@OrderId UNIQUEIDENTIFIER = NULL
AS
BEGIN
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
		
    SET NOCOUNT ON;

	SELECT		SrNo,
				PatternCode,
				CastingName,
				CastingCode,
				CustomerOrderNo,
				MetalName,
				Mold,
				MoldQty,
				PlanQty,
				case when RequiredMold < 0 then 0 
				  when RequiredMold > 0 and NoOfPatternOnMatchPlate > 0 then  RequiredMold/NoOfPatternOnMatchPlate
				  else RequiredMold
				end
				AS RequiredMold,
				PatternId,
				NoOfPatternOnMatchPlate as NoOfPatternOnMatchPlate,
				MoldPlanQty,
				RequiredMoldForProduction,
				PendingPlanQty,
			--	CASE WHEN RequiredMold - Mold - MoldPlanQty<0 THEN 0 ELSE RequiredMold - Mold - MoldPlanQty END AS TobePlannedMold,
				CASE WHEN case when RequiredMold < 0 then 0 
				  when RequiredMold > 0 and NoOfPatternOnMatchPlate > 0 then  RequiredMold/NoOfPatternOnMatchPlate
				  else RequiredMold
				end - MoldPlanQty<0 THEN 0 
				ELSE case when RequiredMold < 0 then 0 
				  when RequiredMold > 0 and NoOfPatternOnMatchPlate > 0 then  RequiredMold/NoOfPatternOnMatchPlate
				  else RequiredMold
				end- MoldPlanQty END AS TobePlannedMold,
			--	round(GrossWeight * MoldQty,3) as GrossWeight,
			    GrossWeightMold  as GrossWeight,
				--round(CASE WHEN (RequiredMold - Mold <0)
				--	THEN 0 ELSE isnull((RequiredMold - Mold)* CAST(Cavity AS float) * GrossWeight,0) END
				--,3) AS PendingWeight,
				(case when RequiredMold < 0 then 0 
				  when RequiredMold > 0 and NoOfPatternOnMatchPlate > 0 then  RequiredMold/NoOfPatternOnMatchPlate
				  else RequiredMold
				end * ISNULL(GrossWeightMold,0))PendingWeight,
				isnull(round(MoldInventory * GrossWeightMold,3),0) AS MoldedGrossWight
	FROM		(

		SELECT		ROW_NUMBER() OVER ( ORDER BY PatternMaster.PatternCode ) AS SrNo,
					PatternMaster.PatternId,
					PatternMaster.PatternCode,
					PatternMaster.PatternTypeId,
					OrderTable.OrderTranseId,
					OrderTable.CustomerOrderNo,
					OrderTable.MetalName,
					OrderTable.CastingName,
					OrderTable.CastingCode,
					MoldInventoryTable.Cavity,
					PatternMaster.NoOfPatternOnMatchPlate,
					Mold.MoldInventory as MoldInventory,
					ISNULL(MoldInventoryTable.MoldInventory, 0) / case when ISNULL(MoldInventoryTable.Cavity,0)=0 then 1 else ISNULL(MoldInventoryTable.Cavity,1) end AS Mold,
					--ISNULL(MoldInventoryTable.MoldInventory, 0) AS MoldQty,
					ISNULL(MoldingInventory.planmold, 0) *	isnull(PatternMaster.NoOfPatternOnMatchPlate,1)  AS MoldQty,
					
					CASE WHEN SUM(ISNULL(OrderTable.OrderQty, 0)) - SUM(ISNULL(OrderTable.DispatchQty, 0) )
					- ISNULL(PlanTable.PlanQty, 0) - ISNULL(StockTable.Stock, 0) - SUM(ISNULL(CastingJOStock.stock, 0)) < 0 
					THEN 0 ELSE 
					SUM(ISNULL(OrderTable.OrderQty, 0)) - SUM(ISNULL(OrderTable.DispatchQty, 0) )
					- ISNULL(PlanTable.PlanQty, 0) - ISNULL(StockTable.Stock, 0) - SUM(ISNULL(CastingJOStock.stock, 0))
					END AS  PlanQty,
					--CEILING(cast(CASE WHEN SUM(ISNULL(OrderTable.OrderQty, 0)) - SUM(ISNULL(OrderTable.DispatchQty, 0) )
					--- ISNULL(PlanTable.PlanQty, 0) - ISNULL(StockTable.Stock, 0) - SUM(ISNULL(CastingJOStock.stock, 0)) < 0 
					--THEN 0 ELSE 
					--SUM(ISNULL(OrderTable.OrderQty, 0)) - SUM(ISNULL(OrderTable.DispatchQty, 0) )
					--- ISNULL(PlanTable.PlanQty, 0) - ISNULL(StockTable.Stock, 0) - SUM(ISNULL(CastingJOStock.stock, 0))
					--END as float) / cast(case when ISNULL(MoldInventoryTable.Cavity,0)=0 then 1 else ISNULL(MoldInventoryTable.Cavity,1) end as float)
					--) AS RequiredMold,
				   		CEILING(cast(CASE WHEN SUM(ISNULL(OrderTable.OrderQty, 0)) - SUM(ISNULL(OrderTable.DispatchQty, 0) )
					- ISNULL(PlanTable.PlanQty, 0) - ISNULL(StockTable.Stock, 0) - SUM(ISNULL(CastingJOStock.stock, 0)) < 0 
					THEN 0 ELSE 
					SUM(ISNULL(OrderTable.OrderQty, 0)) - SUM(ISNULL(OrderTable.DispatchQty, 0) )
					- (ISNULL(PlanTable.PlanQty, 0)) - ISNULL(StockTable.Stock, 0) - SUM(ISNULL(CastingJOStock.stock, 0)) - ISNULL(Mold.MoldInventory * PatternMaster.NoOfPatternOnMatchPlate, 0)
					END as float) / cast(case when ISNULL(MoldInventoryTable.Cavity,0)=0 then 1 else ISNULL(MoldInventoryTable.Cavity,1) end as float)
					) AS RequiredMold,
					ISNULL(MoldPlanningTable.MoldPlannedQty,0) as AvailMold,
					ISNULL(MoldingInventory.planmold,0) as MoldPlanQty,
					
					--PatternMaster.NoOfPatternOnMatchPlate,
					CEILING(cast((CASE WHEN ISNULL(SUM(ISNULL(OrderTable.OrderQty, 0)) - SUM(ISNULL(OrderTable.DispatchQty, 0) )
						- ISNULL(PlanTable.PlanQty, 0) - ISNULL(StockTable.Stock, 0) - SUM(ISNULL(CastingJOStock.stock, 0))
						- ISNULL(MoldInventoryTable.MoldInventory, 0) 
						, 0) < 0
							THEN 0
					ELSE ISNULL(SUM(ISNULL(OrderTable.OrderQty, 0)) - SUM(ISNULL(OrderTable.DispatchQty, 0) )
					- ISNULL(PlanTable.PlanQty, 0) - ISNULL(StockTable.Stock, 0) - SUM(ISNULL(CastingJOStock.stock, 0))
						- ISNULL(MoldInventoryTable.MoldInventory, 0) 
						, 0)
					END) as float) / cast(case when ISNULL(MoldInventoryTable.Cavity,0)=0 then 1 else ISNULL(MoldInventoryTable.Cavity,1) end as float)
					) AS RequiredMoldForProduction,
					CASE WHEN ISNULL(SUM(ISNULL(OrderTable.OrderQty, 0)) - SUM(ISNULL(OrderTable.DispatchQty, 0) )
							- SUM(ISNULL(CastingStock.stock, 0)) - SUM(ISNULL(CastingJOStock.stock, 0))
							, 0) > 0 
							THEN ISNULL(SUM(ISNULL(OrderTable.OrderQty, 0)) - SUM(ISNULL(OrderTable.DispatchQty, 0) )
							- SUM(ISNULL(CastingStock.stock, 0)) - SUM(ISNULL(CastingJOStock.stock, 0))
							, 0)
					ELSE 0 END 
					AS PendingPlanQty,
					0 AS TobePlannedMold,
					ISNULL(CastingMetalTable.GrossWeight, 0) AS GrossWeight,
					CASE WHEN ISNULL(SUM(ISNULL(OrderTable.OrderQty, 0)) - SUM(ISNULL(OrderTable.DispatchQty, 0) )
									- SUM(ISNULL(CastingStock.stock, 0)) - SUM(ISNULL(CastingJOStock.stock, 0))
									- ISNULL(MoldInventoryTable.MoldInventory, 0)
									, 0) < 0
							THEN 0
					ELSE ISNULL(SUM(ISNULL(OrderTable.OrderQty, 0)) - SUM(ISNULL(OrderTable.DispatchQty, 0) )
									- SUM(ISNULL(CastingStock.stock, 0)) - SUM(ISNULL(CastingJOStock.stock, 0))
									- ISNULL(MoldInventoryTable.MoldInventory, 0)
									, 0) * ISNULL(CastingMetalTable.GrossWeight, 0)
					END AS PendingWeight,
					ISNULL(MoldInventoryTable.MoldInventory, 0) * ISNULL(CastingMetalTable.GrossWeight, 0) AS MoldedGrossWight,
					ISNULL(dbo.BunchWeightDetail.BunchWeight, 0) AS GrossWeightMold
		FROM		PatternMaster
		            LEFT JOIN dbo.BunchWeightDetail ON dbo.BunchWeightDetail.PatternID = dbo.PatternMaster.PatternId
					LEFT JOIN (
						SELECT		CastingMaster.Dieid AS PatternId,
									CastingMaster.CastingName,
									CastingMaster.CastingCode,
									OrderTranse.OrderTranseId,
									CASE WHEN @PrintOrderNo = 0 THEN (
					((
							--CASE WHEN OrderMaster.WOPrefix IS NULL THEN '' ELSE CONVERT(varchar(50), OrderMaster.WOPrefix) END
							--+ CASE WHEN OrderMaster.WOSeparator IS NULL THEN '' ELSE CONVERT(varchar(50), OrderMaster.WOSeparator) END
							--+ CONVERT(varchar(50), OrderMaster.OASrNo) 
							--+ CASE WHEN OrderMaster.WOSeparator IS NULL THEN '' ELSE CONVERT(varchar(50), OrderMaster.WOSeparator) END
							--+ CASE WHEN OrderMaster.WOSuffix IS NULL THEN '' ELSE CONVERT(varchar(50), OrderMaster.WOSuffix)
							--END
							OrderMaster.CustomerOrderNo
						))
						+ '/' +
						CAST(OrderTranse.SrNo AS varchar(150)) + '/' +
						CONVERT(varchar(15), OrderTranse.DeliveryDate, 106)
					)
					ELSE (
						((
							CASE WHEN OrderMaster.Prefix IS NULL THEN '' ELSE CONVERT(varchar(50), OrderMaster.Prefix) END
							+ CASE WHEN OrderMaster.Separator IS NULL THEN '' ELSE CONVERT(varchar(50), OrderMaster.Separator) END
							+ CONVERT(varchar(50), OrderMaster.OASrNo)
							+ CASE WHEN OrderMaster.Separator IS NULL THEN '' ELSE CONVERT(varchar(50), OrderMaster.Separator) END
							+ CASE WHEN OrderMaster.Suffix IS NULL THEN '' ELSE CONVERT(varchar(50), OrderMaster.Suffix)
						END))
						+ '/' +
						CAST(OrderTranse.SrNo AS varchar(150)) + '/' +
						CONVERT(varchar(15), OrderTranse.DeliveryDate, 106)
					)
				END AS CustomerOrderNo,
								   MetalName,
									--SUM(OrderTranse.RequiredQty) AS OrderQty,
									SUM(OrderTranse.Inhouse_Qty) AS OrderQty,
									SUM(ISNULL(DispatchTable.DispatchQty, 0)) AS DispatchQty
						FROM		OrderMaster
									INNER JOIN OrderTranse
									ON OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
									Inner Join MetalMaster on MetalMaster.MetalId = OrderTranse.MetalID
									INNER JOIN CastingMaster
									ON CastingMaster.CastingId = OrderTranse.CastingId
									LEFT JOIN (
										SELECT		dispatchtrans.orderid,
													dispatchtrans.orderserialno,
													SUM(dispatchtrans.dispatchqty) AS DispatchQty
										FROM		dispatchtrans
													INNER JOIN dispatchmaster
													ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
										WHERE		dispatchtrans.IsDeleted = 0
													AND dispatchmaster.IsDeleted = 0
													--AND CAST(dispatchmaster.dispatchdate AS DATE) BETWEEN CAST(@Startdate AS DATE) AND CAST(@EndDate AS DATE)
										GROUP BY	dispatchtrans.orderid,
													dispatchtrans.orderserialno
									) AS DispatchTable
									ON DispatchTable.orderid = OrderMaster.CustomerOrderId
									AND DispatchTable.orderserialno = OrderTranse.SrNo
						WHERE		OrderMaster.IsDeleted = 0
									AND OrderTranse.IsDeleted = 0
									AND CastingMaster.IsDeleted = 0
									AND OrderTranse.IsDelivered = 0
									AND OrderTranse.IsShortclose = 0
									AND OrderMaster.maxversion = 1
									AND CAST(OrderMaster.OrderDate AS DATE) BETWEEN CAST(@Startdate AS DATE) AND CAST(@EndDate AS DATE)
									AND ( @CastingId IS NULL
											OR OrderTranse.CastingId = @CastingId
									)
						GROUP BY	CastingMaster.Dieid,CastingMaster.CastingName,
									CastingMaster.CastingCode,OrderTranse.OrderTranseId,OrderMaster.Prefix,OrderMaster.Separator,
									OrderMaster.OASrNo,OrderMaster.Suffix,OrderMaster.WOPrefix,OrderMaster.WOSeparator,OrderMaster.OASrNo,
									OrderMaster.CustomerOrderNo,OrderMaster.WOSuffix,MetalName,OrderTranse.SrNo,OrderTranse.DeliveryDate
					) AS OrderTable
					ON OrderTable.PatternId = PatternMaster.PatternId
					LEFT JOIN (              
						SELECT  dbo.OrderTranse.OrderTranseId,              
						   SUM(dbo.PlanningMaster.PlanQty) AS PlanQty              
						FROM  dbo.PlanningMaster              
						   INNER JOIN dbo.OrderTranse              
						   ON dbo.OrderTranse.OrderTranseId = dbo.PlanningMaster.CustomerOrderId              
						WHERE  dbo.OrderTranse.IsDeleted = 0              
						   AND dbo.PlanningMaster.IsDeleted = 0              
						   AND CAST(dbo.PlanningMaster.Plandate AS DATE) >= CONVERT(DATE, GETDATE())              
						GROUP BY dbo.OrderTranse.OrderTranseId               
						  ) AS PlanTable              
					   ON PlanTable.OrderTranseId = OrderTable.OrderTranseId              
         
					LEFT JOIN (      
					SELECT  CastingHeatCode.OrderTranseId,      
						SUM(Isnull(CastingStockBatch.BatchStock,0)) as Stock      
					FROM  CastingStockBatch      
						LEFT JOIN CastingHeatCode On CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeId      
							AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID      
							AND CastingHeatCode.CastingID = CastingStockBatch.CastingID      
						LEFT JOIN OrderTranse On OrderTranse.OrderTranseId = CastingHeatCode.OrderTranseID      
					GROUP BY CastingHeatCode.OrderTranseID      
					HAVING  SUM(CastingStockBatch.BatchStock) > 0      
					)   AS  StockTable      
					ON StockTable.OrderTranseId = OrderTable.OrderTranseId
					LEFT JOIN (
						SELECT		CastingMaster.Dieid AS PatternId,
									SUM(stock) AS stock
						FROM		CastingStock
									INNER JOIN CastingMaster
									ON CastingStock.castingid = CastingMaster.CastingId
						WHERE		CastingMaster.IsDeleted = 0
						GROUP BY	CastingMaster.Dieid
					) AS CastingStock
					ON CastingStock.PatternId = PatternMaster.PatternId
					LEFT JOIN (
							SELECT		CastingMaster.Dieid AS PatternId,
										SUM(stock) AS stock
							FROM		CastingJOStock
										INNER JOIN CastingMaster
										ON CastingJOStock.castingid = CastingMaster.CastingId
							WHERE		CastingMaster.IsDeleted = 0
							GROUP BY	CastingMaster.Dieid
					) AS CastingJOStock
					ON CastingJOStock.PatternId = PatternMaster.PatternId
					LEFT JOIN (
						SELECT		CastingMaster.Dieid AS PatternId,
									MAX(CastingMetal.GrossWeight) AS GrossWeight
						FROM		CastingMetal
									INNER JOIN CastingMaster
									ON CastingMaster.CastingId = CastingMetal.castingID 
						WHERE		CastingMetal.IsDeleted = 0
									AND CastingMaster.IsDeleted = 0
						GROUP BY	CastingMaster.Dieid 
					) AS CastingMetalTable
					ON CastingMetalTable.PatternID = PatternMaster.PatternId
					LEFT JOIN (
						select OrderTransID,SUM(ISNULL(case when isnull(Final.MoldQty,0) >= isnull(MoldPlanningDetail.PlanQty,0) 
									then 0 else isnull(isnull(MoldPlanningDetail.PlanQty,0)-isnull(Final.MoldQty,0),0) end,0)) as MoldPlannedQty   
						from MoldPlanningDetail   
						inner join MoldPlanningMaster on MoldPlanningMaster.PlanMasterId = MoldPlanningDetail.PlanMasterId 
						left Join (
							select MoldingEntryMaster.PlanMasterId,SUM(MoldingEntryMaster.MoldQty) as MoldQty from MoldingEntryMaster 
							where MoldingEntryMaster.IsDeleted=0 
							Group by MoldingEntryMaster.PlanMasterId
						) as Final on Final.PlanMasterId = MoldPlanningDetail.PlanMasterId
						where Cast(MoldPlanningMaster.PlanDate as date) >= Cast(GETDATE() as date)
						group by OrderTransID
					) AS MoldPlanningTable
					ON MoldPlanningTable.OrderTransID = OrderTable.OrderTranseId
					LEFT JOIN ( SELECT  isnull(sum(MoldPlanningDetail.PlanQty),0) as planmold,
										MoldPlanningDetail.PatternId,
										MoldPlanningDetail.OrderTransID
								FROM     MoldPlanningDetail-- on MoldPlanningDetail.PatternID = MoldingInventory.PatternId
								GROUP BY MoldPlanningDetail.PatternId,MoldPlanningDetail.OrderTransID
					) AS MoldingInventory ON MoldingInventory.OrderTransID = OrderTable.OrderTranseId
						LEFT JOIN (SELECT SUM(MoldInventory ) AS MoldInventory, MoldInventoryType.PatternID,MoldPlanningDetail.OrderTransID
								FROM  dbo.MoldInventory
								innner join MoldInventoryType on MoldTypeID = MoldingTypeID
								inner join MoldPlanningDetail on MoldPlanningDetail.PatternID = MoldInventoryType.PatternId
                                GROUP BY MoldInventoryType.PatternID,OrderTransID) AS Mold ON Mold.OrderTransID = OrderTable.OrderTranseId
					LEFT JOIN (
						SELECT		MoldInventoryType.PatternID,
									MoldingCastingHeatCode.OrderTranseID,MoldInventoryType.Cavity,
									SUM(MoldingCastingHeatCode.AvlStock) AS MoldInventory,
									SUM(MoldInventory.MoldInventory) AS stock
						FROM		MoldInventory
									INNER JOIN MoldInventoryType
									ON MoldInventoryType.MoldTypeID = MoldInventory.MoldingTypeID
									INNER JOIN MoldingCastingHeatCode
									ON MoldingCastingHeatCode.MoldTypeID = MoldInventory.MoldingTypeID
									ANd MoldInventoryType.CastingId=MoldingCastingHeatCode.CastingID
									ANd MoldingCastingHeatCode.IsDeleted=0
						GROUP BY	MoldInventoryType.PatternID,MoldingCastingHeatCode.OrderTranseID,MoldInventoryType.Cavity
					) AS MoldInventoryTable
				  ON MoldInventoryTable.PatternID = PatternMaster.PatternId
					AND MoldInventoryTable.OrderTranseID = OrderTable.OrderTranseId
					LEFT JOIN ( Select ISNULL(SUM(MoldPlanning.Qty),0) as MoldPlanQty,PatternId 
					                                                FROM MoldPlanning 
																where CAST(Date AS DATE) Between CAST(@Startdate AS DATE) AND CAST(@EndDate AS DATE) Group by PatternID
					) AS MoldPlan ON MoldPlan.PatternId = PatternMaster.PatternId
		WHERE		PatternMaster.IsDeleted = 0
					and OrderTable.OrderTranseId IS NOT NULL
					AND ( @CastingId IS NULL
							OR PatternMaster.PatternId IN (
								SELECT		dieid
								FROM		CastingMaster
								WHERE		IsDeleted = 0
											AND CastingId = @CastingId 
						)
					)
					AND ( @PatternId IS NULL
							OR PatternMaster.PatternId = @PatternId
					)
					AND ( @OrderId IS NULL
							OR OrderTable.OrderTranseId = @OrderId
					)
					AND ( @PlantIdString IS NULL
                                OR @PlantIdString = ''
                                OR PatternMaster.PatternId IN (
                                SELECT    CastingMaster.Dieid
                                FROM      dbo.PlantCastingMapping
										INNER JOIN CastingMaster
										ON CastingMaster.CastingId = PlantCastingMapping.CastingId
                                        where PlantId in (SELECT Item FROM @Plant))
                    )
					AND PatternMaster.EntityID = @EntityID
		GROUP BY	PatternMaster.PatternId,
					PatternMaster.PatternCode,
					PatternMaster.PatternTypeId,
					OrderTable.OrderTranseId,
					OrderTable.CustomerOrderNo,
					OrderTable.MetalName,
					OrderTable.CastingName,
					OrderTable.CastingCode,
					MoldInventoryTable.MoldInventory,
					MoldInventoryTable.Cavity,
					MoldPlanningTable.MoldPlannedQty,
					--PatternMaster.NoOfPatternOnMatchPlate,
					CastingMetalTable.GrossWeight,
					ISNULL(PlanTable.PlanQty, 0) ,
					ISNULL(StockTable.Stock, 0),
					BunchWeightDetail.BunchWeight,

					MoldingInventory.planmold
					,Mold.MoldInventory
					,PatternMaster.NoOfPatternOnMatchPlate
					-- MoldInventoryTable.stock
	) AS A
	where A.PlanQty > 0
	
END
GO
