USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_Company_Mapping]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_Company_Mapping]
	@CompanyMapping CompanyMappingTable readonly,
    @Parameter INT = 0 ,
    @IfActualCustomer INT = 0 ,  
    @CustomerName VARCHAR(50) = NULL ,   
    @Customerflag VARCHAR(5) = NULL ,   
    @UserID INT = 0 ,
    @Active BIT = 0 ,
    @CustomerType VARCHAR(50) = NULL ,
    @CustomerCategory VARCHAR(50) = NULL ,  
    @CustomerId UNIQUEIDENTIFIER = NULL ,
    @Created_By INT = 0 ,
    @Created_On DATETIME = NULL ,
    @Modified_By INT = 0 ,
    @IsDeleted INT = 0 ,
    @Modified_On DATETIME = NULL ,
    @PageNumber INT = 0 ,
    @PageSize INT = 0 ,
    @InitialLoad INT = 0 ,
    @TotalRecords INT = 0 ,
    @IsActive INT = 0 ,
    @DeletedBy INT = 0 ,
    @VendorCode VARCHAR(50) = NULL ,
    @CustomerCode VARCHAR(25) = NULL ,
    @DeletedOn DATETIME = NULL ,    
    @PlantIdString VARCHAR(MAX) = NULL,
    @pi_PlantID int = 0 ,
    @castingid UNIQUEIDENTIFIER = NULL ,
    @Id UNIQUEIDENTIFIER = NULL, 
  @type int=0 ,
  @XMLPlantDetails XML = NULL,
  @CompanyId int=0 ,
  @EntityId NVARCHAR(500) = NULL,
  @PurchaseItemId UNIQUEIDENTIFIER = NULL,
  @PatternId UNIQUEIDENTIFIER = NULL,
  @IsForging int = 0 ,
  @Name VARCHAR(50) = NULL,
  @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL,
  @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL,
  @PurchaseItemCategoryId UNIQUEIDENTIFIER = NULL,
  @PlantId int =0,
  @Count int= 0
  
    
   
AS
IF @Parameter = 1 -- for Fatch name for Filters
BEGIN 
 iF(@type= 0 Or @type= 1)--CUSTOMER  or --SUPPLIER
	BEGIN
		SELECT  CustomerMaster.CustomerId as Id,
                CustomerName as Name
        FROM    CustomerMaster
        WHERE   IsDeleted = 0
                AND ((@type = 0 and Customerflag = 'C')
					Or(@type = 1 and Customerflag = 'S')
                )
        ORDER BY CustomerName ASC
	End
	
 iF(@type= 2)--CASTING 
	BEGIN
		
	Select	distinct
			CastingName as Id,
			CastingName as Name
	from	CastingMaster
	where	CastingMaster.IsDeleted=0 
			and (@Id is null Or CastingMaster.CastingId = @Id)
			and ParentID Is null
	Order by CastingName asc
END
	
iF(@type= 3)--Pattern
	BEGIN
	select	 PatternMaster.PatternId as Id  ,
			PatternCode + ' ' + '(' + DieName + ')'  as Name
			
	from	PatternMaster 
	where	PatternMaster.IsDeleted=0 and IsDummy  = 0
	Order by PatternCode asc
END

	
	iF(@type= 4) --purchaseItemMaster
	BEGIN
		SELECT 	PurchaseItemMaster.PurchaseItemId as Id ,
				ItemName   as Name
		FROM	PurchaseItemMaster  
		WHERE	IsDeleted = 0  
				and 
				IsEquipment=0
				and
				ISNULL(IsSandType,0) = 0
				and IsPattern = 0 
				
		ORDER BY ItemName asc
	End
END

  IF @parameter = 2 --Fetch Data from Type Combo 
        BEGIN

		select 'Customer Master' as Name,
			   'Customer Master' as Code, 0 as Id
		union all
		select 'Supplier Master' as Name,
			   'Supplier Master' as Code, 1 as Id
		union all
		select 'Casting Master' as Name,
			   'Casting Master' as Code,  2 as Id
		union all
		select 'Patterm/Die Master' as Name,
			   'Patterm/Die Master' as Code,  3 as Id
		union all
		select 'Purchase Item Master' as Name,
			   'Purchase Item Master' as Code,  4 as Id
      
  END

    IF @parameter = 3 --Fetch Data from Customer Master
        BEGIN

            SELECT  CustomerId ,
                    CustomerName
            FROM    dbo.CustomerMaster
            WHERE   CustomerName = @CustomerName

        END
        
      IF @parameter = 4 --Fetch Data from filters
        BEGIN
      If(@type=0)
      BEGIN      
		select distinct CustomerName as Name,
			   isnull(CustomerCode,CustomerName) as Code,
			   CustomerMaster.CustomerId as Id 
		from CustomerMaster --for customer Fetch data 
				inner JOIN CustomerCompanyMapping ON CustomerMaster.CustomerId= CustomerCompanyMapping.CustomerId
				Where CustomerMaster.IsDeleted=0  and Customerflag = 'C' 
			     AND ( @Id IS NULL          
				OR CustomerMaster.CustomerId =  @Id             
				)
				order by CustomerName

		END		
	
		ELSE If(@type=1)
		BEGIN
		select distinct  CustomerName as Name,
			   isnull(CustomerCode,CustomerName) as Code,
			   CustomerMaster.CustomerId as Id  
		from CustomerMaster --for Supply Fetch data 
 			  inner  JOIN CustomerCompanyMapping ON CustomerMaster.CustomerId= CustomerCompanyMapping.CustomerId
			  where   CustomerMaster.IsDeleted=0 and Customerflag = 'S'  
			    AND ( @Id IS NULL          
				OR CustomerMaster.CustomerId = @Id                
				)  
				order by CustomerName
				 
			  END
		
	    ELSE If(@type=2)
	    BEGIN
		select distinct CastingName as Name,
			   CastingCode as Code ,
			   CastingMaster.CastingId as Id 
		from CastingMaster --for Casting Fetch Data 
				inner JOIN CastingCompanyMapping ON CastingMaster.CastingId= CastingCompanyMapping.CastingId
				where   CastingMaster.IsDeleted=0 
				 AND ( @Id IS NULL          
				OR CastingMaster.CastingId = @Id                
				)  
				--and CastingMaster.IsForging = 0 
				and CastingMaster.ParentID Is null
				And (@Name IS NULL          
				OR CastingMaster.CastingName = @Name                
				)
				order by CastingName
			
		END
		
		ELSE  If(@type=3)
		BEGIN
		select distinct PatternCode as Name,
			   PatternCode as Code,
			   PatternMaster.PatternId as Id  
		from PatternMaster -- for DieMaster(Casting) Fetch Data 
				inner JOIN PurchaseCompanyMapping ON PatternMaster.PatternId= PurchaseCompanyMapping.PurchaseItemId
				where  PatternMaster.IsDeleted=0
				 AND ( @Id IS NULL          
				OR PatternMaster.PatternId = @Id                
				) 

				and IsDummy  = 0
				-- and PatternMaster.IsPatDieWax = 1
				order by Name
		 END
		
		 ELSE If(@type=4)
		 BEGIN
		select distinct ItemName as Name,
			   ItemCode as Code,
			   PurchaseItemMaster.PurchaseItemId as Id  
		from PurchaseItemMaster -- for PurchaseItemMaster Fetch Data 
			  inner JOIN PurchaseCompanyMapping ON PurchaseItemMaster.PurchaseItemId= PurchaseCompanyMapping.PurchaseItemId
			  where 
			    PurchaseItemMaster.IsDeleted=0 
				AND PurchaseItemMaster.IsPattern = 0						   
			    and
				ISNULL(IsSandType,0) = 0
			    AND 
			    ( @Id IS NULL          
				OR PurchaseItemMaster.PurchaseItemId = @Id                
				)  
				AND	PurchaseItemMaster.IsEquipment=0 and  
				( @PurchaseItemGroupId IS NULL          
				OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId                
				) and
				( @PurchaseItemTypeId IS NULL          
				OR PurchaseItemMaster.PurchaseItemTypeId = @PurchaseItemTypeId                
				) and
				( @PurchaseItemCategoryId IS NULL          
				OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId                
				) 
					 
				 order by Name
		END

        END

      IF @parameter = 5 --Fetch Entity and OrganizationName(plant details)
        BEGIN

            SELECT  EntityId,NameOfOrganization
            FROM    dbo.CompanyMaster    
          
        END
        
      IF @parameter = 6 --Mapping Details 
        BEGIN

		select	CustomerName as Name,
				CustomerCode as Code,
				CustomerMaster.CustomerId as Id,
				CustomerCompanyMapping.CompanyId as EntityId,
				NameOfOrganization  
		from	CustomerMaster --for customer Fetch data 
				INNER JOIN CustomerCompanyMapping ON CustomerMaster.CustomerId= CustomerCompanyMapping.CustomerId
				Inner JOIN CompanyMaster ON CompanyMaster.EntityId= CustomerCompanyMapping.CompanyId
				Where  ((@type=0 and CustomerMaster.IsDeleted=0 and Customerflag = 'C' )
				Or(@type=1 and CustomerMaster.IsDeleted=0 and Customerflag = 'S' ))
				and (@Id is null Or CustomerMaster.CustomerId = @Id)
						
		union all
		select CastingName as Name,
				CastingCode as Code ,
				CastingMaster.CastingId as Id,
				CastingCompanyMapping.CompanyId as EntityId,
				NameOfOrganization 
		from	CastingMaster --for Casting Fetch Data 
				INNER JOIN CastingCompanyMapping ON CastingMaster.CastingId= CastingCompanyMapping.CastingId
				Inner JOIN CompanyMaster ON CompanyMaster.EntityId= CastingCompanyMapping.CompanyId
				where @type=2 and CastingMaster.IsDeleted=0 and CastingMaster.ParentID is null
				and (@Id is null Or CastingMaster.CastingId = @Id)
				and (@Name is null Or @Name = '' Or CastingMaster.CastingName = @Name)
		union all
		select PatternCode as Name,
				PatternCode as Code,
				PatternMaster.PatternId as Id,
				PurchaseCompanyMapping.CompanyId as EntityId,
				NameOfOrganization 
	    from	PatternMaster -- for DieMaster(Pattern) Fetch Data 
				INNER JOIN PurchaseCompanyMapping ON PatternMaster.PatternId= PurchaseCompanyMapping.PurchaseItemId
				Inner JOIN CompanyMaster ON CompanyMaster.EntityId= PurchaseCompanyMapping.CompanyId
				where @type=3 and PatternMaster.IsDeleted=0 and IsDummy  = 0
				and (@Id is null  Or PatternMaster.PatternId = @Id)
	
		union all
		select	ItemName as Name,
				ItemCode as Code,
				PurchaseItemMaster.PurchaseItemId as Id,
				PurchaseCompanyMapping.CompanyId as EntityId,
				NameOfOrganization   
		from	PurchaseItemMaster -- for PurchaseItemMaster Fetch Data 
				INNER JOIN PurchaseCompanyMapping ON PurchaseItemMaster.PurchaseItemId= PurchaseCompanyMapping.PurchaseItemId
				Inner JOIN CompanyMaster ON CompanyMaster.EntityId= PurchaseCompanyMapping.CompanyId
		where	PurchaseItemMaster.IsDeleted=0 			
				AND	
				PurchaseItemMaster.IsEquipment=0 	
				AND PurchaseItemMaster.IsPattern =0							
				and
				ISNULL(IsSandType,0) = 0
				and @type=4	
				and  ( @Id IS NULL          
					OR PurchaseItemMaster.PurchaseItemId = @Id                
					)   
				and  ( @PurchaseItemGroupId IS NULL          
					OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId                
					) 
				and( @PurchaseItemTypeId IS NULL          
					OR PurchaseItemMaster.PurchaseItemTypeId = @PurchaseItemTypeId                
					) 
				and( @PurchaseItemCategoryId IS NULL          
					OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId                
					) 	

        END
        if(@Parameter = 7)
        
        BEGIN
         BEGIN TRANSACTION
                BEGIN TRY
			if(@type = 0 Or @type = 1 or @type = 2)
			BEGIN			 
				select a.* , PlantMaster.PlantId 
					Into #temp
					from(
					Select Id,CM.EntityId
					From @CompanyMapping as CM
					inner Join (select Count(PlantId) as Cn,EntityId From PlantMaster as Pm 
								Where Pm.IsDeleted = 0 and IswareHouse = 0
								Group by entityId
								having COUNT(PlantId) = 1
								) as a on a.EntityId = CM.EntityId
							) as a
					inner Join PlantMaster On PlantMaster.EntityId = a.EntityId and IswareHouse = 0
					
			END	
			If(@type = 0 Or @type = 1)
			BEGIN
			
				Delete from CustomerCompanyMapping
				Where CustomerId In ( 
				Select Id from  @CompanyMapping as CM )
				
				Insert into CustomerCompanyMapping
				select NEWID(),Id,EntityId from @CompanyMapping 
				
				DELETE  FROM PlantCustomerMapping 
				WHERE PlantCustomerMapping.PlantCustomerId in (select Pcm.PlantCustomerId from #temp as a 				
										inner Join PlantMaster PM on a.EntityId = PM.EntityId
										Inner Join PlantCustomerMapping Pcm On Pcm.CustomerId = a.ID
											and Pcm.PlantId = PM.PlantId										
									Where IsWarehouse = 0 and PM.IsDeleted = 0
									
									)
													
				INSERT  INTO PlantCustomerMapping  ( CustomerId , PlantId )
				(select a.Id,a.plantId from #temp as a) 
				--select a.Id,plantId from #temp 	as a
				--select a.Id,a.plantId  from #temp as a 				
										
			
				--							inner Join PlantMaster PM on PM.PlantId = a.PlantId
				--								and a.EntityId = PM.EntityId
				--							Inner Join PlantCustomerMapping PCM on PCM.CustomerId = a.ID
				--inner Join @CompanyMapping as CM on CM.EntityId = a.Entity
				--where ID in(select ID from @CompanyMapping  ) 
				
			END
			
			If(@type = 2)
			BEGIN
			                    
				Delete from CastingCompanyMapping
				Where CastingId In ( 
				Select Id from  @CompanyMapping as CM )
				DELETE  FROM CastingCompanyMapping WHERE CastingId IN (  
					SELECT CastingId FROM CastingMaster WHERE ParentID = @CastingId  
				)  
				
				Insert into CastingCompanyMapping
				select NEWID(),Id,EntityId from @CompanyMapping 
				
				DELETE  FROM PlantCastingMapping 
				WHERE PlantCastingMapping.PlantCastingId in (select Pcm.PlantCastingId from #temp as a 				
										inner Join PlantMaster PM on a.EntityId = PM.EntityId
										Inner Join PlantCastingMapping Pcm On Pcm.CastingId = a.ID
											and Pcm.PlantId = PM.PlantId
									Where IsWarehouse = 0 and PM.IsDeleted = 0
									)
													
				INSERT  INTO PlantCastingMapping  ( CastingId , PlantId )
				(select a.Id,a.plantId from #temp as a) 
					
					
			END
			
	   	
			If(@type = 3)
			BEGIN
			
				Delete from PurchaseCompanyMapping
				Where PurchaseItemId In ( 
				Select Id from  @CompanyMapping as CM )
				
				Insert into PurchaseCompanyMapping
				select NEWID(),Id,EntityId from @CompanyMapping 
				

				--added by yashvant
				INSERT INTO Inventorydetails (StockId,PurchaseItemId,Stock,Entity,PlantId)
				select
				DISTINCT
				NEWID(),
				PurchaseCompanyMapping.PurchaseItemId,
				0,
				PurchaseCompanyMapping.CompanyId,
				PlantMaster.PlantId
				from
				PurchaseItemMaster
				inner join PurchaseCompanyMapping On PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
				left join InventoryDetails ON InventoryDetails.PurchaseItemId = PurchaseCompanyMapping.PurchaseItemId and InventoryDetails.Entity = PurchaseCompanyMapping.CompanyId
				left join PlantMaster ON PlantMaster.EntityId = PurchaseCompanyMapping.CompanyId 
				where
				PurchaseItemMaster.IsDeleted = 0
				AND InventoryDetails.PurchaseItemId IS NULL
				AND InventoryDetails.PlantId IS NULL
					
			END
			
			If(@type = 4)
			BEGIN			
               
				Delete from PurchaseCompanyMapping
				Where PurchaseItemId In ( 
				Select Id from  @CompanyMapping as CM )
				
				Insert into PurchaseCompanyMapping
				select NEWID(),Id,EntityId from @CompanyMapping 						
				  	
	    END
	   END TRY 
			 BEGIN Catch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			 	 return -1;
			END	
        END Catch
          COMMIT TRANSACTION                
                RETURN 1 ;
            END	
            
      
 
        
          
        IF ( @Parameter = 8 )--fetch code for combo
        BEGIN 
			iF(@type = 0 Or @type = 1)--CUSTOMER --SUPPLIER
			BEGIN
				SELECT  CustomerMaster.CustomerId as Id,
						case when isnull(CustomerCode,'') = '' then CustomerName else CustomerCode end as Code
				FROM    CustomerMaster
				WHERE   IsDeleted = 0
						AND ((@type = 0 and Customerflag = 'C')
							Or(@type = 1 and Customerflag = 'S')
						)
				ORDER BY CustomerName ASC
			End
		      
          
	iF(@type= 2)--CASTING 
	BEGIN
		Select	distinct
				CastingId as Id,
				CastingCode as Code
		from	CastingMaster
		where	CastingMaster.IsDeleted=0  
				and ( @Name is null Or @Name = '' Or CastingMaster.CastingName = @Name )
				and ParentID is null
		Order by CastingCode asc
	END
	
	
	
	
	 iF(@type= 3)--Pattern
	BEGIN
		select PatternMaster.PatternId as Id ,
				(PatternCode + case when isnull(DieName,'') = '' then '' else ' (' + isnull(DieName,'') + ')' end)  as Code
		from	PatternMaster 
		where  PatternMaster.IsDeleted=0 and  PatternMaster.IsMethod=0 and IsDummy  = 0
		order by PatternCode
	
	End
	
	
	iF(@type= 4) --purchaseItemMaster
	BEGIN
		SELECT 	PurchaseItemMaster.PurchaseItemId as Id ,
				ItemCode as Code
		FROM	PurchaseItemMaster  
		WHERE	IsDeleted = 0  
				and 
				IsEquipment=0
				and
				ISNULL(IsSandType,0) = 0
				AND
				PurchaseItemMaster.IsPattern = 0
				
		ORDER BY ItemCode asc
	End
END

	


              

		


        
        
       
GO
