USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Customer_Return_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE  PROCEDURE [dbo].[Customer_Return_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL ,  
	@Active BIT = 0 , 
	  @CastingID UNIQUEIDENTIFIER = NULL ,          
    @Castingname VARCHAR(250) = NULL ,          
     @CustomerID UNIQUEIDENTIFIER = NULL ,      
    @ReturnID INT = 0 ,   
    @IsPending INT = 0 ,    
     @DateFrom DATETIME = NULL,          
    @DateTo DATETIME = NULL,
    @heatid BIGINT = 0 ,
     @HeatCode nvarchar(100) = '',      
    @EntityId INT = 0 ,
    @CreatedBy int = 0,
	@SeriesId int = 0
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	         
   IF @parameter =  1   -- Searching          
        BEGIN           
            IF @InitialLoad = 1          
                BEGIN          
                
                    SELECT TOP ( @PageSize )          
                            *          
                    FROM    ( SELECT TOP ( @PageSize )      
					ROW_NUMBER() OVER ( ORDER BY customerreturnMaster.ReturnDate DESC, ReturnNo DESC ) AS RowNo ,
                                        --ROW_NUMBER() OVER ( ORDER BY SUBSTRING(CustomerReturnMaster.Entryno,          
                                        --                      3, 2) DESC, ReturnNo DESC ) AS RowNo ,          
                                        CustomerReturnMaster.ReturnID ,          
                                        CASE WHEN CustomerReturnMaster.Prefix IS NULL          
                                             THEN ''          
                                             ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Prefix)          
                                        END          
                                        + CASE WHEN CustomerReturnMaster.Separator IS NULL          
                                               THEN ''          
                                               ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Separator)          
                                          END          
                                        + CONVERT(VARCHAR(50), CustomerReturnMaster.ReturnNo)          
                                        + CASE WHEN CustomerReturnMaster.Separator IS NULL          
                                               THEN ''          
                                               ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Separator)          
                                          END          
                                        + CASE WHEN CustomerReturnMaster.Suffix IS NULL          
                                               THEN ''          
                                               ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Suffix)          
                                          END AS ReturnNo ,          
                                        CONVERT(VARCHAR(15), CustomerReturnMaster.ReturnDate, 106) AS ReturnDate ,          
                                        CASE WHEN @Active = 1          
                                             THEN CustomerMaster.CustomerCode          
											 ELSE CustomerMaster.CustomerName          
                                        END CustomerName ,          
                                        CASE WHEN CustomerReturnMaster.RefDocNo IS NULL OR CustomerReturnMaster.RefDocNo = ''          
                                             THEN CONVERT(VARCHAR(15), CustomerReturnMaster.RefDocDate, 106)           
                                             ELSE CAST(CustomerReturnMaster.RefDocNo AS VARCHAR)+ CHAR(10) + CONVERT(VARCHAR(15), CustomerReturnMaster.RefDocDate, 106)          
                                        END           
                                        as RefDocNoAndDate,          
                                        GatePassNo,       
                                        CastingMaster.CastingCode ,          
                                        CastingMaster.CastingName ,          
                                        MetalMaster.MetalName, 
										 batchno as HeatNo,
										  HeatCode ,        
                                        CustomerReturnTrans.ReturnQty ,          
                                        cast( (CASE WHEN ISNULL(CastingMetal.InvoiceWeight, 0) = 0 THEN CastingMetal.CastingNetWeight          
											 ELSE CastingMetal.InvoiceWeight END) as decimal(18,3)) AS PerPCWeight          
										  , cast(CAST((CASE WHEN ISNULL(CastingMetal.InvoiceWeight, 0) = 0 THEN CastingMetal.CastingNetWeight          
											 ELSE CastingMetal.InvoiceWeight END) AS FLOAT)           
										   * CAST(CustomerReturnTrans.ReturnQty AS FLOAT) as decimal(18,3)          
										) as TotalWeight,          
                                        ReasonMaster.Reason ,          
                                        CustomerReturnMaster.Notes ,          
                                        CASE WHEN CustomerReturnTrans.IsInwarded = 'TRUE'          
                                             THEN 'YES'          
                                             ELSE 'NO'          
											 END AS IsInwarded ,          
                                        CustomerReturnMaster.CreatedBy,
                                       Isnull(dmaster.prefix,'')
									  + isnull(dmaster.Separator,'')
									  + isnull(dmaster.Dispatchslipno,'')
									  + isnull(dmaster.Separator,'')
									  + isnull(dmaster.Suffix,'')
										 +'-'+Convert(varchar(15),dmaster.dispatchdate ,106) AS DispatchNo 										
                              FROM      dbo.CustomerReturnMaster           
										INNER  JOIN dbo.CustomerReturnTrans ON CustomerReturnTrans.ReturnID = CustomerReturnMaster.ReturnID          
										Left Join ProductionBatch On ProductionBatch.batchID = CustomerReturnTrans.HeatID
										Left Join dispatchmaster dmaster  On dmaster.DispatchID = CustomerReturnTrans.castingdispatchid
										
										INNER JOIN dbo.CustomerMaster ON CustomerMaster.CustomerId =CustomerReturnMaster.CustomerID           
                                        INNER JOIN dbo.ReasonMaster ON CustomerReturnTrans.ReasonID = ReasonMaster.ReasonID           
                                        INNER JOIN dbo.CastingMaster ON CastingMaster.CastingId = CustomerReturnTrans.PartId
                                        INNER JOIN CastingMetal ON	CastingMetal.MetalId = CustomerReturnTrans.MetalID 
																	AND CastingMetal.castingID = dbo.CustomerReturnTrans.PartId
                                        INNER JOIN dbo.MetalMaster ON MetalMaster.MetalId = CastingMetal.metalid          
                              WHERE     (@CastingID IS NULL          
                                              OR CastingMaster.CastingID = @CastingID          
                                            )          
                                        AND ( @CastingID IS NULL          
                                              OR CastingMaster.CastingID = @CastingID          
                                            )          
                                        AND ( @CastingName IS NULL          
                                              OR CastingMaster.CastingName = @CastingName          
                                            )          
										AND ( @CustomerID IS NULL          
                                              OR CustomerMaster.CustomerId = @CustomerID          
                                            )          
                                        AND ( @ReturnID = 0          
                                              OR CustomerReturnMaster.ReturnID = @ReturnID          
                                            )          
                                        AND IsInwarded = @IsPending          
                                        AND ( @PlantIdString IS NULL          
                                              OR @PlantIdString = ''          
                                              OR CustomerReturnMaster.PlantID         
                                              in (SELECT Item FROM @Plant)          
                                            )          
                                        AND CustomerReturnmaster.EntityID = @EntityId          
                                        AND ( @DateFrom IS NULL OR @DateTo IS NULL OR CAST(CustomerReturnMaster.Returndate AS DATE) BETWEEN CAST(@DateFrom AS DATE) AND CAST(@DateTo AS DATE))          
										And (@heatid = 0 
											Or CustomerReturnTrans.HeatID = @heatid)
										And (@HeatCode = '' Or @HeatCode = ''
											Or CustomerReturnTrans.HeatCode = @HeatCode)
										And (@SeriesId = 0
											Or CustomerReturnMaster.SeriesId = @SeriesId)
                            ) AS CustomerReturnMaster          
          
                END          
          
            ELSE          
                BEGIN          
               
                    SELECT TOP ( @PageSize )          
                            *          
                    FROM    ( SELECT    
										ROW_NUMBER() OVER ( ORDER BY customerreturnMaster.ReturnDate DESC, ReturnNo DESC ) AS RowNo ,

					--ROW_NUMBER() OVER ( ORDER BY SUBSTRING(CustomerReturnMaster.Entryno,          
     --                                                         3, 2) DESC, ReturnNo DESC ) AS RowNo ,          
                                        CustomerReturnMaster.ReturnID ,          
                                CASE WHEN CustomerReturnMaster.Prefix IS NULL          
                                             THEN ''          
                                             ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Prefix)          
                                        END          
                                        + CASE WHEN CustomerReturnMaster.Separator IS NULL          
                                               THEN ''          
                                               ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Separator)          
                                          END          
                                        + CONVERT(VARCHAR(50), CustomerReturnMaster.ReturnNo)          
                                        + CASE WHEN CustomerReturnMaster.Separator IS NULL          
                                               THEN ''          
                                               ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Separator)          
                                          END          
                                        + CASE WHEN CustomerReturnMaster.Suffix IS NULL          
											   THEN ''          
                                               ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Suffix)          
                                          END AS ReturnNo ,          
                                        CONVERT(VARCHAR(15), CustomerReturnMaster.ReturnDate, 106) AS ReturnDate ,          
                                        CASE WHEN @Active = 1          
                                             THEN CustomerMaster.CustomerCode          
                                             ELSE CustomerMaster.CustomerName          
                                        END CustomerName ,          
                                         CASE WHEN CustomerReturnMaster.RefDocNo IS NULL OR CustomerReturnMaster.RefDocNo = ''          
                                             THEN CONVERT(VARCHAR(15), CustomerReturnMaster.RefDocDate, 106)           
											 ELSE CAST(CustomerReturnMaster.RefDocNo AS VARCHAR)+ CHAR(10) + CONVERT(VARCHAR(15), CustomerReturnMaster.RefDocDate, 106)          
                                        END           
                                        as RefDocNoAndDate,   
										 GatePassNo,    
                                      CastingMaster.CastingCode ,          
                                        CastingMaster.CastingName ,          
                                        MetalMaster.MetalName,  
										  batchno as HeatNo,
										  HeatCode  ,                 
                                        CustomerReturnTrans.ReturnQty ,          
                                        cast( (CASE WHEN ISNULL(CastingMetal.InvoiceWeight, 0) = 0 THEN CastingMetal.CastingNetWeight          
											 ELSE CastingMetal.InvoiceWeight END) as decimal(18,3)) AS PerPCWeight          
										  , cast(CAST((CASE WHEN ISNULL(CastingMetal.InvoiceWeight, 0) = 0 THEN CastingMetal.CastingNetWeight          
											 ELSE CastingMetal.InvoiceWeight END) AS FLOAT)           
										   * CAST(CustomerReturnTrans.ReturnQty AS FLOAT) as decimal(18,3)          
										) as TotalWeight,          
										ReasonMaster.Reason ,          
                                        CustomerReturnMaster.Notes ,          
                                        CASE WHEN CustomerReturnTrans.IsInwarded = 'TRUE'          
                                             THEN 'YES'          
                                             ELSE 'NO'          
                                        END AS IsInwarded,          
                                        CustomerReturnMaster.CreatedBy ,
                                         Isnull(dmaster.prefix,'')
										  + isnull(dmaster.Separator,'')
										  + isnull(dmaster.Dispatchslipno,'')
										  + isnull(dmaster.Separator,'')
										  + isnull(dmaster.Suffix,'') 
										  +'-'+Convert(varchar(15),dmaster.dispatchdate ,106) AS DispatchNo 
                              FROM      dbo.CustomerReturnMaster           
										INNER  JOIN dbo.CustomerReturnTrans ON CustomerReturnTrans.ReturnID = CustomerReturnMaster.ReturnID 
										Left Join ProductionBatch  on ProductionBatch.batchID = CustomerReturnTrans.HeatID         
										Left Join dispatchmaster dmaster  On dmaster.DispatchID = CustomerReturnTrans.castingdispatchid
										
										INNER JOIN dbo.CustomerMaster ON CustomerMaster.CustomerId =CustomerReturnMaster.CustomerID           
                                        INNER JOIN dbo.ReasonMaster ON CustomerReturnTrans.ReasonID = ReasonMaster.ReasonID           
                                        INNER JOIN dbo.CastingMaster ON CastingMaster.CastingId = CustomerReturnTrans.PartId
                                        INNER JOIN CastingMetal ON	CastingMetal.MetalId = CustomerReturnTrans.MetalID 
																	AND dbo.CastingMetal.castingID = dbo.CustomerReturnTrans.PartId
                                        INNER JOIN dbo.MetalMaster ON MetalMaster.MetalId = CastingMetal.metalid          
                              WHERE     (@CastingID IS NULL          
                                              OR CastingMaster.CastingID = @CastingID          
                                            )          
                                        AND ( @CastingID IS NULL          
                                              OR CastingMaster.CastingID = @CastingID          
                                            )          
                                        AND ( @CastingName IS NULL          
                                              OR CastingMaster.CastingName = @CastingName          
                                            )          
                                        AND ( @CustomerID IS NULL          
                                              OR CustomerMaster.CustomerId = @CustomerID          
                                            )          
                                        AND ( @ReturnID = 0          
                                              OR CustomerReturnMaster.ReturnID = @ReturnID          
										)          
                                        AND IsInwarded = @IsPending          
                                        AND ( @PlantIdString IS NULL          
                                              OR @PlantIdString = ''          
                                              OR CustomerReturnMaster.PlantID         
                                              in (SELECT Item FROM @Plant)          
                                            )          
                                        AND CustomerReturnmaster.EntityID = @EntityId          
                                        AND ( @DateFrom IS NULL OR @DateTo IS NULL OR CAST(CustomerReturnMaster.Returndate AS DATE) BETWEEN CAST(@DateFrom AS DATE) AND CAST(@DateTo AS DATE))
										And (@heatid = 0 
											Or CustomerReturnTrans.HeatID = @heatid)
										And (@HeatCode = '' Or @HeatCode = ''
											Or CustomerReturnTrans.HeatCode = @HeatCode)
										And (@SeriesId = 0
											Or CustomerReturnMaster.SeriesId = @SeriesId)
                            ) AS CustomerReturnMaster          
							WHERE   CustomerReturnMaster.RowNo > ( @PageNumber * @PageSize )
                END          
        END          
   IF @parameter = 2 --Total Records Query          
        BEGIN          
            SET @TotalRecords = (           
                      
            SELECT    COUNT(1)          
                                  FROM            
                                  (          
                                   SELECT ROW_NUMBER() OVER ( ORDER BY customerreturnMaster.ReturnDate DESC, ReturnNo DESC ) AS RowNo ,           
                                        --ROW_NUMBER() OVER ( ORDER BY SUBSTRING(Entryno,          
                                        --                      3, 2) DESC, ReturnNo DESC ) AS RowNo ,          
                                        CustomerReturnMaster.ReturnID ,          
          --                              CASE WHEN CustomerReturnMaster.Prefix IS NULL          
          --                                   THEN ''          
          --                                   ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Prefix)          
          --                              END          
										--+ CASE WHEN CustomerReturnMaster.Separator IS NULL          
          --                                     THEN ''          
          --                                     ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Separator)          
          --                                END          
          --                              + CONVERT(VARCHAR(50), CustomerReturnMaster.ReturnNo)          
          --                              + CASE WHEN CustomerReturnMaster.Separator IS NULL          
          --                                     THEN ''          
          --                                     ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Separator)         
          --                                END          
          --                              + CASE WHEN CustomerReturnMaster.Suffix IS NULL          
          --                                     THEN ''          
          --                                     ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Suffix)          
          --                                END
										    Isnull(CustomerReturnMaster.prefix,'')
										  + isnull(CustomerReturnMaster.Separator,'')
										  + CONVERT(VARCHAR(50), CustomerReturnMaster.ReturnNo)  
										  + isnull(CustomerReturnMaster.Separator,'')
										  + isnull(CustomerReturnMaster.Suffix,'') 
										  AS ReturnNo ,          
                                        CONVERT(VARCHAR(15), CustomerReturnMaster.ReturnDate, 106) AS ReturnDate ,          
                                        CASE WHEN @Active = 1          
                                             THEN CustomerMaster.CustomerCode          
                                             ELSE CustomerMaster.CustomerName          
                                        END CustomerName ,          
                                        CASE WHEN CustomerReturnMaster.RefDocNo IS NULL OR CustomerReturnMaster.RefDocNo = ''          
                                             THEN CONVERT(VARCHAR(15), CustomerReturnMaster.RefDocDate, 106)           
                                             ELSE CAST(CustomerReturnMaster.RefDocNo AS VARCHAR)+ CHAR(10) + CONVERT(VARCHAR(15), CustomerReturnMaster.RefDocDate, 106)          
                                        END           
                                        as RefDocNoAndDate,          
                                                  
                                        CastingMaster.CastingCode ,          
                                        CastingMaster.CastingName ,          
                                        MetalMaster.MetalName,          
                                        CustomerReturnTrans.ReturnQty ,          
                                        cast( (CASE WHEN ISNULL(CastingMetal.InvoiceWeight, 0) = 0 THEN CastingMetal.CastingNetWeight          
											 ELSE CastingMetal.InvoiceWeight END) as decimal(18,3)) AS PerPCWeight          
											, cast(CAST((CASE WHEN ISNULL(CastingMetal.InvoiceWeight, 0) = 0 THEN CastingMetal.CastingNetWeight          
											 ELSE CastingMetal.InvoiceWeight END) AS FLOAT)           
										   * CAST(CustomerReturnTrans.ReturnQty AS FLOAT) as decimal(18,3)          
										) as TotalWeight,          
                                        ReasonMaster.Reason ,          
                                        CustomerReturnMaster.Notes ,          
                                        CASE WHEN CustomerReturnTrans.IsInwarded = 'TRUE'          
                                             THEN 'YES'          
                                             ELSE 'NO'          
                                        END AS IsInwarded ,          
                                        CustomerReturnMaster.CreatedBy          
                              FROM  dbo.CustomerReturnMaster           
										INNER  JOIN dbo.CustomerReturnTrans ON CustomerReturnTrans.ReturnID = CustomerReturnMaster.ReturnID          
										INNER JOIN dbo.CustomerMaster ON CustomerMaster.CustomerId =CustomerReturnMaster.CustomerID           
                                        INNER JOIN dbo.ReasonMaster ON CustomerReturnTrans.ReasonID = ReasonMaster.ReasonID           
                                        INNER JOIN dbo.CastingMaster ON CastingMaster.CastingId = CustomerReturnTrans.PartId
										INNER JOIN CastingMetal ON CastingMetal.MetalId = CustomerReturnTrans.MetalID 
																AND CastingMetal.castingID = dbo.CustomerReturnTrans.PartId
										INNER JOIN dbo.MetalMaster ON MetalMaster.MetalId = CastingMetal.metalid          
                                       
							  WHERE		( @CastingID IS NULL          
                                              OR CastingMaster.CastingID = @CastingID          
                                            )          
                                        AND ( @CastingName IS NULL          
                                              OR CastingMaster.CastingName = @CastingName          
                                            )          
                                        AND ( @CustomerID IS NULL          
                                              OR CustomerMaster.CustomerId = @CustomerID          
                                            )          
                                        AND ( @ReturnID = 0          
                                              OR CustomerReturnMaster.ReturnID = @ReturnID          
                                            )          
                                            AND IsInwarded = @IsPending          
                                            AND ( @PlantIdString IS NULL          
                                              OR @PlantIdString = ''          
                                              OR CustomerReturnMaster.PlantID         
                                              in (SELECT Item FROM @Plant)          
                                            )          
                                            AND CustomerReturnMaster.EntityID = @EntityId          
                                            AND ( @DateFrom IS NULL OR @DateTo IS NULL OR CAST(CustomerReturnMaster.Returndate AS DATE) BETWEEN CAST(@DateFrom AS DATE) AND CAST(@DateTo AS DATE))          
											And (@heatid = 0 
											Or CustomerReturnTrans.HeatID = @heatid)
											And (@HeatCode = '' Or @HeatCode = ''
											Or CustomerReturnTrans.HeatCode = @HeatCode)
											And (@SeriesId = 0
											Or CustomerReturnMaster.SeriesId = @SeriesId)
                              ) as tblCustomerReturn          
                                         
                                )          
                   
            RETURN @TotalRecords          
        END          
                       
  IF @parameter = 3    -- Searching          
        BEGIN           
            SELECT   ROW_NUMBER() OVER ( ORDER BY customerreturnMaster.ReturnDate DESC, ReturnNo DESC ) AS RowNo ,
			--ROW_NUMBER() OVER ( ORDER BY SUBSTRING(customerreturnMaster.Entryno, 3, 2) DESC, ReturnNo DESC ) AS RowNo ,          
                                        CustomerReturnMaster.ReturnID ,          
                                        --CASE WHEN CustomerReturnMaster.Prefix IS NULL          
                                        --     THEN ''          
                                        --     ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Prefix)          
                                        --END          
                                        --+ CASE WHEN CustomerReturnMaster.Separator IS NULL          
                                        --       THEN ''          
                                        --       ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Separator)          
                                        --  END          
                                        --+ CONVERT(VARCHAR(50), CustomerReturnMaster.ReturnNo)          
                                        --+ CASE WHEN CustomerReturnMaster.Separator IS NULL          
                                        --       THEN ''          
                                        --       ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Separator)          
                                        --  END          
                                        --+ CASE WHEN CustomerReturnMaster.Suffix IS NULL          
                                        --       THEN ''          
                                        --       ELSE CONVERT(VARCHAR(50), CustomerReturnMaster.Suffix)          
                                        --  END
										   Isnull(CustomerReturnMaster.prefix,'')
										  + isnull(CustomerReturnMaster.Separator,'')
										  + CONVERT(VARCHAR(50), CustomerReturnMaster.ReturnNo)  
										  + isnull(CustomerReturnMaster.Separator,'')
										  + isnull(CustomerReturnMaster.Suffix,'') 
										  AS ReturnNo ,          
                                      --  CONVERT(VARCHAR(15), CustomerReturnMaster.ReturnDate, 106) AS ReturnDate ,   
									  CustomerReturnMaster.ReturnDate AS ReturnDate , 
                                        CASE WHEN @Active = 1          
                                             THEN CustomerMaster.CustomerCode          
                                             ELSE CustomerMaster.CustomerName          
                                        END CustomerName ,          
                                        CASE WHEN CustomerReturnMaster.RefDocNo IS NULL OR CustomerReturnMaster.RefDocNo = ''          
                                             THEN --CONVERT(VARCHAR(15), CustomerReturnMaster.RefDocDate, 106)   
											     CONVERT(VARCHAR(50), CustomerReturnMaster.RefDocDate)
                                             ELSE CAST(CustomerReturnMaster.RefDocNo AS VARCHAR)+ CHAR(10) +
											 CONVERT(VARCHAR(50), CustomerReturnMaster.RefDocDate)-- CONVERT(VARCHAR(15), CustomerReturnMaster.RefDocDate, 106)          
                                        END           
                                        as RefDocNoAndDate,          
                                                  
                                        CastingMaster.CastingCode ,          
                                        CastingMaster.CastingName ,          
                                        MetalMaster.MetalName,          
                                        CustomerReturnTrans.ReturnQty ,          
                                        cast( (CASE WHEN ISNULL(CastingMetal.InvoiceWeight, 0) = 0 THEN CastingMetal.CastingNetWeight          
											ELSE CastingMetal.InvoiceWeight END) as decimal(18,3)) AS PerPCWeight          
										  , cast(CAST((CASE WHEN ISNULL(CastingMetal.InvoiceWeight, 0) = 0 THEN CastingMetal.CastingNetWeight          
											 ELSE CastingMetal.InvoiceWeight END) AS FLOAT)           
										   * CAST(CustomerReturnTrans.ReturnQty AS FLOAT) as decimal(18,3)          
										) as TotalWeight,          
                                        ReasonMaster.Reason ,          
                                        CustomerReturnMaster.Notes ,          
                                        CASE WHEN CustomerReturnTrans.IsInwarded = 'TRUE'          
                                             THEN 'YES'          
                                             ELSE 'NO'          
                                        END AS IsInwarded ,          
                                        CustomerReturnMaster.CreatedBy     
                                        , isnull(CustomerReturnTrans.HeatCode,'') as HeatCode ,
                                         Isnull(dmaster.prefix,'')
									  + isnull(dmaster.Separator,'')
									  + isnull(dmaster.Dispatchslipno,'')
									  + isnull(dmaster.Separator,'')
									  + isnull(dmaster.Suffix,'') +'-'+Convert(varchar(15),dmaster.dispatchdate ,106) AS DispatchNo,
									  batchno as HeatNo,
										HeatCode  ,GatePassNo,
										ReturnRate, 
								        ISNULL(ReturnQty, 0) * ISNULL(ReturnRate, 0) AS Amount

                              FROM  dbo.CustomerReturnMaster           
										INNER  JOIN dbo.CustomerReturnTrans ON CustomerReturnTrans.ReturnID = CustomerReturnMaster.ReturnID      
										Left Join ProductionBatch On ProductionBatch.batchID = CustomerReturnTrans.HeatID    
										Left Join dispatchmaster dmaster On dmaster.DispatchID = CustomerReturnTrans.castingDispatchid
										--and dmaster.IsDeleted = 0
										INNER JOIN dbo.CustomerMaster ON CustomerMaster.CustomerId =CustomerReturnMaster.CustomerID           
                                        INNER JOIN dbo.ReasonMaster ON CustomerReturnTrans.ReasonID = ReasonMaster.ReasonID           
                                        INNER JOIN dbo.CastingMaster ON CastingMaster.CastingId = CustomerReturnTrans.PartId
										INNER JOIN CastingMetal ON CastingMetal.MetalId = CustomerReturnTrans.MetalID 
																	AND dbo.CastingMetal.castingID = dbo.CustomerReturnTrans.PartId
										INNER JOIN dbo.MetalMaster ON MetalMaster.MetalId = CastingMetal.metalid          
                                       
                              WHERE     ( @CastingID IS NULL          
                                              OR CastingMaster.CastingID = @CastingID          
                                            )       
                                        AND ( @CastingName IS NULL          
                                              OR CastingMaster.CastingName = @CastingName          
                                            )          
                                        AND ( @CustomerID IS NULL          
                                              OR CustomerMaster.CustomerId = @CustomerID          
                                            )          
                                        AND ( @ReturnID = 0          
                                              OR CustomerReturnMaster.ReturnID = @ReturnID          
                                            )          
                                            AND IsInwarded = @IsPending          
                                            AND ( @PlantIdString IS NULL          
                                              OR @PlantIdString = ''          
                                              OR CustomerReturnMaster.PlantID         
                                              in (SELECT Item FROM @Plant)          
                                            )           
                                            AND CustomerReturnMaster.EntityID = @EntityId          
                                            AND ( @DateFrom IS NULL OR @DateTo IS NULL OR CAST(CustomerReturnMaster.Returndate AS DATE) BETWEEN CAST(@DateFrom AS DATE) AND CAST(@DateTo AS DATE))
                                        
										
										And (@heatid = 0 
											Or CustomerReturnTrans.HeatID = @heatid)
										And (@HeatCode = '' Or @HeatCode = ''
											Or CustomerReturnTrans.HeatCode = @HeatCode)
											And (@SeriesId = 0
											Or CustomerReturnMaster.SeriesId = @SeriesId)
                         
        END          
    
END

GO
