USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Maintenance_PreventiveMaintenanceMasterSelectByID]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Maintenance_PreventiveMaintenanceMasterSelectByID]
@ID numeric(18,0)
AS
BEGIN
	SET NOCOUNT ON;
SELECT     dbo.MaintenancePreventiveMaintenanceMaster.ID, dbo.MaintenancePreventiveMaintenanceMaster.Supervisor, dbo.MaintenancePreventiveMaintenanceMaster.PerformedBy, 
                      dbo.MaintenancePreventiveMaintenanceMaster.OtherReminderSubject, dbo.MaintenancePreventiveMaintenanceMaster.OtherReminderDetails, 
                      dbo.MaintenancePreventiveMaintenanceMaster.OtherReminderDate, dbo.MaintenancePreventiveMaintenanceMaster.ReminderTo, dbo.MaintenancePreventiveMaintenanceMaster.Date, 
                      dbo.MaintenancePreventiveMaintenanceMaster.InsertedDate, dbo.MaintenancePreventiveMaintenanceMaster.EntityCode, dbo.MaintenancePreventiveMaintenanceMaster.Status, 
                      dbo.MaintenanceSupervisor.Name as SupervisorName, dbo.MaintenancePreventiveMaintenanceMaster.InsertedBy
FROM         dbo.Supervisor INNER JOIN
                      dbo.MaintenancePreventiveMaintenanceMaster ON dbo.MaintenanceSupervisor.ID = MaintenancePreventiveMaintenanceMaster.Supervisor
WHERE     (MaintenancePreventiveMaintenanceMaster.ID = @ID) 
END
GO
