USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PatternStock_Management]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PatternStock_Management]
@JsonPattern Nvarchar(max),
@JsonConsumption Nvarchar(max),
@PlantId BigInt,
@EntityId BigInt,
@Process Varchar(100),
@Tagging NVARCHAR(200),
@Status bit = 1,
@BlockQty bit = 0
AS
BEGIN
	
	BEGIN TRY
	BEGIN TRANSACTION PatternStock_Management



	DECLARE 
    @ProcessCode NVARCHAR(200),
    @ProcessDate DateTime ,
    @UserId INT


   CREATE TABLE #PatternProd(PatternID uniqueidentifier,TransactionQty Float,RawBatchNo varchar(100),PlantId int,EntityId int,
   ProcessDate DateTime,UserId int,ProcessCode Nvarchar(100),AutoID uniqueidentifier,OrderTranseId uniqueidentifier)
   CREATE TABLE #ItemCons(PurchaseItemId uniqueidentifier,TransactionQty Float,RawBatchId Int,
   PlantId bigint,EntityId bigInt, IsBlockQty bit )

   INSERT INTO #PatternProd(PatternID,TransactionQty,RawBatchNo,PlantId,EntityId,ProcessDate,UserId,ProcessCode,OrderTranseId)
   Select
   TabMaster.PatternID,
   TabMaster.TransactionQty,
   TabMaster.RawBatchNo,
   TabMaster.PlantId,
   TabMaster.EntityId,
   TabMaster.ProcessDate,
   TabMaster.UserId,
   TabMaster.ProcessCode,
   TabMaster.OrderTranseId
   from 
   OPENJSON(@JsonPattern)
   WITH
   (
     PatternID uniqueidentifier,
	 TransactionQty Float,
	 RawBatchNo varchar(100),
	 PlantId int,
	 EntityId int,
	 ProcessDate DateTime,
	 UserId int,
	 ProcessCode Nvarchar(100),
	 OrderTranseId uniqueidentifier
   ) as TabMaster


   SELECT
   TOP 1
   @ProcessCode = ProcessCode,
   @ProcessDate = ProcessDate,
   @UserId = UserId
   FROM
   #PatternProd


           INSERT INTO [dbo].[RawInwBatchWiseStock]
           ([RawBatchNo]
           ,[PurchaseItemId]
           ,[Qty]          
           ,[PlantId]
           ,[EntityId]
		   ,[OrderTranseId]
		   ,[Status]
            )
			SELECT
			#PatternProd.RawBatchNo,
			#PatternProd.PatternID,
			0,
			#PatternProd.PlantId,
			#PatternProd.EntityId,
			#PatternProd.OrderTranseId,
			@Status

		    FROM
			#PatternProd
			Left Join RawInwBatchWiseStock ON RawInwBatchWiseStock.PurchaseItemId = #PatternProd.PatternID
			AND RawInwBatchWiseStock.PlantId = #PatternProd.PlantId
			AND RawInwBatchWiseStock.EntityId = #PatternProd.EntityId
			--and RawInwBatchWiseStock.OrdertranseID = #PatternProd.OrderTranseId
			AND RawInwBatchWiseStock.RawBatchNo = #PatternProd.RawBatchNo COLLATE DATABASE_DEFAULT 
			where
			 RawInwBatchWiseStock.PurchaseItemId IS NULL
			
			
           UPDATE
		   RawInwBatchWiseStock
		   SET
		   Qty = Qty + #PatternProd.TransactionQty,
		   OrderTranseId = #PatternProd.OrderTranseId,
		   Status = @Status
		   from
		   #PatternProd
		   where
		    RawInwBatchWiseStock.PurchaseItemId = #PatternProd.PatternID
			AND RawInwBatchWiseStock.PlantId = #PatternProd.PlantId
			AND RawInwBatchWiseStock.EntityId = #PatternProd.EntityId
			--and RawInwBatchWiseStock.OrdertranseID = #PatternProd.OrderTranseId
			AND RawInwBatchWiseStock.RawBatchNo = #PatternProd.RawBatchNo COLLATE DATABASE_DEFAULT


			Select
			Distinct
			PatternID
			into #UpdateItemId
			from
			#PatternProd

			Select
			RawInwBatchWiseStock.PurchaseItemId,
			SUM(RawInwBatchWiseStock.Qty) as Stock,
			RawInwBatchWiseStock.PlantId,
			RawInwBatchWiseStock.EntityId
			INTO #InventoryStock
			from
			RawInwBatchWiseStock
			Inner Join #UpdateItemId ON RawInwBatchWiseStock.PurchaseItemId = #UpdateItemId.PatternID
			AND RawInwBatchWiseStock.PlantId = @PlantId
			AND RawInwBatchWiseStock.EntityId = @EntityId
			
			--AND RawInwBatchWiseStock.RawBatchNo = #PatternProd.RawBatchNo COLLATE DATABASE_DEFAULT
			GROUP BY
			RawInwBatchWiseStock.PurchaseItemId,
			RawInwBatchWiseStock.PlantId,
			RawInwBatchWiseStock.EntityId



			Update
					InventoryDetails
					SET
					Stock = #InventoryStock.Stock
					FROM 
					#InventoryStock
					WHERE
					InventoryDetails.PurchaseItemId = #InventoryStock.PurchaseItemId
					AND InventoryDetails.PlantId = #InventoryStock.PlantId
					AND InventoryDetails.Entity = #InventoryStock.EntityId


					UPDATE PatternMaster
					SET PatternMaster.NoOfPattern = ISNULL(SUMStock.Stock, 0)
					FROM PatternMaster
					LEFT JOIN (
						SELECT 
							PurchaseItemId,
							SUM(Stock) AS Stock
						FROM #InventoryStock
						GROUP BY PurchaseItemId
					) AS SUMStock ON PatternMaster.PatternId = SUMStock.PurchaseItemId

			

			Select
			Distinct
			PatternID,
			NEWID() as AutoID
			into #UpdateAutoID
			from
			#PatternProd

			UPDATE
			  #PatternProd
			  SET
			  #PatternProd.AutoID = #UpdateAutoID.AutoID
			  FROM
			  #UpdateAutoID
			  WHERE
			  #UpdateAutoID.PatternID = #PatternProd.PatternID

			Insert into MaterialHistoryTransaction(InOut,Tagging,IsStoreOrFloor,ItemId,ConsiderForAll,TransactionQty,RawBatchId,EntityId,PlantId,ProcessDate,CreatedOn)
			SELECT		TaggingTable.InOut,TaggingType,TaggingTable.IsFloor,RawInwBatchWiseStock.PurchaseItemId,0,#PatternProd.TransactionQty,RawInwBatchWiseStock.RawBatchId,
						RawInwBatchWiseStock.entityId,#PatternProd.PlantId,@ProcessDate,GETDATE()
			from		#PatternProd
						inner join RawInwBatchWiseStock ON RawInwBatchWiseStock.PurchaseItemId = #PatternProd.PatternID
								AND RawInwBatchWiseStock.PlantId = #PatternProd.PlantId
								AND RawInwBatchWiseStock.EntityId = #PatternProd.EntityId
								and RawInwBatchWiseStock.OrderTranseID = #PatternProd.OrderTranseId
								AND RawInwBatchWiseStock.RawBatchNo = #PatternProd.RawBatchNo COLLATE DATABASE_DEFAULT
						Inner Join TaggingTable on TaggingTable.IsFloor = 0  and TaggingTable.IsTransfer = 0
							and ((@Tagging = 'PatternProduction' and TaggingTable.Tagging = 'Inward')
								Or (@Tagging = 'PatternAssemblyProduction' and TaggingTable.Tagging = 'CONSUMPTION'))


			INSERT INTO dbo.BatchWiseStockHistory
                    (
                    BacthStockId ,
                    InventoryId ,
                    BatchId ,
                    Qty, 
                    PlantId
                    )
            SELECT
			NEWID() ,
            #PatternProd.AutoID ,
			RawInwBatchWiseStock.RawBatchId,
			#PatternProd.TransactionQty,
			#PatternProd.PlantId
			from
			#PatternProd
			inner join RawInwBatchWiseStock ON 
			RawInwBatchWiseStock.PurchaseItemId = #PatternProd.PatternID
		AND RawInwBatchWiseStock.PlantId = #PatternProd.PlantId
		AND RawInwBatchWiseStock.EntityId = #PatternProd.EntityId
		and RawInwBatchWiseStock.OrdertranseID = #PatternProd.OrderTranseId
		AND RawInwBatchWiseStock.RawBatchNo = #PatternProd.RawBatchNo COLLATE DATABASE_DEFAULT
						


     DECLARE @SerialNo INT
     SET @SerialNo = ISNULL(( SELECT MAX(SerialNo)  FROM   InventoryTransactionHistory ), 1)
    
      INSERT  INTO InventoryTransactionHistory
                        ( 
						  InventoryId,
						  PurchaseItemId ,
                          CurrentStock ,
                          TransactionQty ,
                          Tagging ,
                          Process ,
                          ProcessCode ,
                          ProcessDate ,
                          InsertedDate ,
                          UserId ,
                          SerialNo
                        , EntityId
						, POPlantId
                        )
						SELECT
						#PatternProd.AutoID,
						#PatternProd.PatternID,
						InventoryDetails.Stock,
						SUM(#PatternProd.TransactionQty),
						@Tagging,
						@Process,
						@ProcessCode,
						@ProcessDate,
						GETDATE(),
						@UserId,
						@SerialNo + (ROW_NUMBER() OVER(ORDER BY #PatternProd.PatternID)) ,
						@EntityId,
						@PlantID
						from
						#PatternProd
						INNER JOIN InventoryDetails ON InventoryDetails.PurchaseItemId = #PatternProd.PatternID
						AND InventoryDetails.PlantID = #PatternProd.PlantId
						AND InventoryDetails.Entity = #PatternProd.EntityId

						AND #PatternProd.TransactionQty <> 0
						GROUP BY
						#PatternProd.AutoID,
						#PatternProd.PatternID,
						InventoryDetails.Stock
						 

        --Only Floor Item Stock Consume
			IF ISJSON(@JsonConsumption) = 1
			BEGIN
			
			INSERT INTO #ItemCons(PurchaseItemId,RawBatchId,TransactionQty,PlantId,EntityId,IsBlockQty)
			Select
			Cons.PurchaseItemID,
			Cons.RawBatchId,
			CASE WHEN @Process = 'Insert' OR @Process = 'Edit' THEN SUM(Cons.TransactionQty)*(-1) ELSE SUM(Cons.TransactionQty) END TransactionQty,
			@PlantId as PlantId,
			@EntityId as EntityId,
			case when @BlockQty = 1 And IsNonConsumable = 1 then 1 else 0 end as IsBlockQty
			from
			OPENJSON(@JsonConsumption)
			WITH
			(PurchaseItemID uniqueidentifier,
			 RawBatchId int,
			 TransactionQty Float
			 ) as Cons
			 inner Join PurchaseItemMaster pim on pim.PurchaseItemId = cons.PurchaseItemId
			 GROUP BY
			 Cons.PurchaseItemID,
			 Cons.RawBatchId,
			 IsNonConsumable


			 Update
			 FloorBatchWiseStock
			 SET 
			 FloorBatchWiseStock.Stock = case when IsBlockQty = 0 then CAST(FloorBatchWiseStock.Stock as decimal(18,3)) + CAST(#ItemCons.TransactionQty as decimal(18,3))
			 else FloorBatchWiseStock.stock end,
			 FloorBatchWiseStock.BlockQty = case when IsBlockQty = 1 then CAST(FloorBatchWiseStock.BlockQty as decimal(18,3)) - CAST(#ItemCons.TransactionQty as decimal(18,3))
			 else FloorBatchWiseStock.BlockQty end
			 FROM
			 #ItemCons
			 WHERE
			 FloorBatchWiseStock.PurchaseItemId = #ItemCons.PurchaseItemId
			 AND FloorBatchWiseStock.RawBatchId = #ItemCons.RawBatchId
			 AND FloorBatchWiseStock.PlantId = #ItemCons.PlantId
			 AND FloorBatchWiseStock.EntityId = #ItemCons.EntityId
			 AND #ItemCons.TransactionQty <> 0

			Insert into FloorHistoryTransaction (InOut,Tagging,ItemId,TransactionQty,RawBatchId,EntityId,PlantId,ProcessDate,CreatedOn)
			select	InOut,TaggingType,Itemcon.PurchaseItemId,Itemcon.TransactionQty,Itemcon.RawBatchId,@EntityId,@PlantId,@ProcessDate,GetDate()
			From	#ItemCons as Itemcon
					inner Join TaggingTable on 1 = 1 and Tagging = 'CONSUMPTION' and IsFloor = 1
			where	Itemcon.TransactionQty <> 0 And IsBlockQty = 0
			
			 Select
			Distinct
			PurchaseItemId
			into #FloorItemUpdate
			from
			#ItemCons

			 Select
			 FloorBatchWiseStock.PurchaseItemId,
			 FloorBatchWiseStock.PlantId,
			 FloorBatchWiseStock.EntityId,
			 SUM(FloorBatchWiseStock.Stock) as Stock
			 Into #FloorInventoryStock
			 from
			 FloorBatchWiseStock
			 inner join #FloorItemUpdate ON #FloorItemUpdate.PurchaseItemId = FloorBatchWiseStock.PurchaseItemId
			 WHERE
			      FloorBatchWiseStock.PlantId = @PlantId
			 AND  FloorBatchWiseStock.EntityId = @EntityId
			 
			 GROUP BY
			 FloorBatchWiseStock.PurchaseItemId,
			 FloorBatchWiseStock.PlantId,
			 FloorBatchWiseStock.EntityId



			 UPDATE
			 FloorInventoryDetails
			 SET
			 FloorInventoryDetails.Stock =  #FloorInventoryStock.Stock
			 FROM
			 #FloorInventoryStock
			 WHERE
			 #FloorInventoryStock.PurchaseItemId =  FloorInventoryDetails.PurchaseItemId
			 AND  #FloorInventoryStock.PlantId =  FloorInventoryDetails.PlantId
			 AND  #FloorInventoryStock.EntityId =  FloorInventoryDetails.Entity

			END



    DROP Table #PatternProd
	COMMIT TRANSACTION PatternStock_Management
	RETURN 1
	END TRY
	BEGIN CATCH
	ROLLBACK TRANSACTION PatternStock_Management
	RETURN -1
	END CATCH


END
GO
