USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_CustomerCastingHSNTaxMapping]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create procedure
CREATE PROCEDURE [dbo].[SP_CustomerCastingHSNTaxMapping]
    @Parameter INT = 0,                       -- 1=Insert, 2=Update, 3=Delete, 4=Get
    @MappingID UNIQUEIDENTIFIER = NULL,
    @CustomerID UNIQUEIDENTIFIER = NULL,
    @CastingID UNIQUEIDENTIFIER = NULL,
    @HSNCode VARCHAR(50) = NULL,
    @TaxTemplateId INT = NULL,
    @CreatedBy INT = NULL,
    @ModifiedBy INT = NULL,
    @RowTimestamp DATETIME = NULL            -- For concurrency check
AS
BEGIN
    SET NOCOUNT ON;

    -- ============================
    -- INSERT
    -- ============================
    IF @Parameter = 1
    BEGIN
        BEGIN TRANSACTION;
        BEGIN TRY
            IF EXISTS (
                SELECT 1 
                FROM dbo.CustomerCastingHSNTaxMapping
                WHERE CustomerID = @CustomerID
                  AND CastingID = @CastingID
            )
            BEGIN
                ROLLBACK TRANSACTION;
                RETURN -2; -- Duplicate mapping
            END

            INSERT INTO dbo.CustomerCastingHSNTaxMapping
                (CustomerID, CastingID, HSNCode, TaxTemplateId, CreatedBy, CreatedOn, RowTimestamp)
            VALUES
                (@CustomerID, @CastingID, @HSNCode, @TaxTemplateId, @CreatedBy, GETDATE(), GETDATE());

            --SET @MappingID = SCOPE_IDENTITY();
            COMMIT TRANSACTION;
            RETURN 1;
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION;
            RETURN -1;
        END CATCH
    END

    -- ============================
    -- UPDATE
    -- ============================
    ELSE IF @Parameter = 2
    BEGIN
        IF @MappingID IS NULL OR @RowTimestamp IS NULL
        BEGIN
            RETURN -3; -- Missing MappingID or timestamp
        END

        BEGIN TRANSACTION;
        BEGIN TRY
            IF NOT EXISTS (
                SELECT 1
                FROM dbo.CustomerCastingHSNTaxMapping
                WHERE MappingID = @MappingID
                  AND RowTimestamp = @RowTimestamp
            )
            BEGIN
                ROLLBACK TRANSACTION;
                RETURN -5; -- Concurrency issue
            END

            UPDATE dbo.CustomerCastingHSNTaxMapping
            SET 
                CustomerID = @CustomerID,
                CastingID = @CastingID,
                HSNCode = @HSNCode,
                TaxTemplateId = @TaxTemplateId,
                ModifiedBy = @ModifiedBy,
                ModifiedOn = GETDATE(),
                RowTimestamp = GETDATE()
            WHERE MappingID = @MappingID;

            COMMIT TRANSACTION;
            RETURN 1;
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION;
            RETURN -1;
        END CATCH
    END

    -- ============================
    -- DELETE
    -- ============================
    ELSE IF @Parameter = 3
    BEGIN
        IF @MappingID IS NULL OR @RowTimestamp IS NULL
        BEGIN
            RETURN -3; -- Missing MappingID or timestamp
        END

        BEGIN TRANSACTION;
        BEGIN TRY
            IF NOT EXISTS (
                SELECT 1
                FROM dbo.CustomerCastingHSNTaxMapping
                WHERE MappingID = @MappingID
                  AND RowTimestamp = @RowTimestamp
            )
            BEGIN
                ROLLBACK TRANSACTION;
                RETURN -5; -- Concurrency issue
            END

            DELETE FROM dbo.CustomerCastingHSNTaxMapping
            WHERE MappingID = @MappingID;

            COMMIT TRANSACTION;
            RETURN 1;
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION;
            RETURN -1;
        END CATCH
    END

    -- ============================
    -- GET / SELECT
    -- ============================
    ELSE IF @Parameter = 4
    BEGIN
       SELECT 
			CCHTM.MappingId,
			CCHTM.CustomerId,
			CM.CustomerName,
			CCHTM.CastingId as CastingIds,
			CASTM.CastingName as CastingNames,
			CASTM.CastingCode,
			CCHTM.TaxTemplateId,
			TM.TemplateName,
			CCHTM.ROWTIMESTAMP,
			CCHTM.HSNCode
		FROM dbo.CustomerCastingHSNTaxMapping AS CCHTM
		INNER JOIN dbo.CustomerMaster AS CM 
			ON CCHTM.CustomerId = CM.CustomerId
		INNER JOIN dbo.CastingMaster AS CASTM 
			ON CCHTM.CastingID = CASTM.CastingId
		INNER JOIN dbo.TaxMaster AS TM 
			ON CCHTM.TaxTemplateId = TM.TaxTemplateId
        WHERE (@MappingID IS NULL OR CCHTM.MappingID = @MappingID)
          AND (@CustomerID IS NULL OR CCHTM.CustomerID = @CustomerID)
          AND (@CastingID IS NULL OR CCHTM.CastingID = @CastingID);
         -- AND (@HSNCode IS NULL OR CCHTM.HSNCode = @HSNCode)
          --AND (@TaxTemplateId IS NULL OR @TaxTemplateId = 0 OR  CCHTM.TaxTemplateId = @TaxTemplateId);
    END
    ELSE
    BEGIN
        RETURN -4; -- Invalid Parameter
    END
END
GO
