USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Foundry_Returns_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Foundry_Returns_Register 1,0,20,0,0,0,1,null,null,null,null,1
 CREATE  PROCEDURE [dbo].[Foundry_Returns_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,     
    @MetalID BIGINT = 0 ,
    @RRType INT = 0,
    @ItemId UNIQUEIDENTIFIER = NULL ,  
    @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL ,  
    @PurchaseItemCategoryId UNIQUEIDENTIFIER = NULL ,  
    @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL ,   
    @EntityId INT = 0 
  
AS
BEGIN 
        IF @parameter =  1 -- Searching  
            BEGIN  
                IF @InitialLoad = 1  
                    BEGIN  
                        SELECT TOP ( @PageSize )  
                                *  
                        FROM    ( SELECT DISTINCT TOP ( @PageSize )  
                                            ROW_NUMBER() OVER ( ORDER BY PurchaseItemMaster.ItemName ASC ) AS RowNo ,  
                                            PurchaseItemMaster.ItemCode ,  
                                            PurchaseItemMaster.ItemName AS [PurchaseItem] ,  
                                            PurchaseItemMaster.PurchaseItemTypeId ,  
                                            PurchaseItemTypeMaster.TypeName ,  
                                           -- PurchaseItemMaster.ItemType ,  
                                            UOM ,  
                                            PurchaseItemMaster.Remarks ,  
                                            PurchaseItemMaster.PurchaseItemId ,  
                                            dbo.PurchaseItemMaster.IsDeleted ,  
                                            PurchaseItemMaster.metalId ,  
                                            MetalMaster.MetalName ,  
                                            PurchaseItemMaster.PurchaseItemCategoryId ,  
                                            PurchaseItemMaster.PurchaseItemGroupId ,  
                                            PurchaseItemCategoryMaster.CategoryName ,  
                                            PurchaseItemGroupMaster.GroupName ,
                                            CASE WHEN RRType = 1
											THEN 'RR'
											WHEN RRType=2 THEN 'Back To Furnace'
											ELSE 'Ingot' 
											END AS RRType,  
											--PurchaseItemMaster.Cost,  
                                            ( SELECT TOP 1  
                                                        RATE  
                                              FROM      RMRATEMASTER  
                                              WHERE     CustomerId IS NULL  
                                                        AND PurchaseItemId = PurchaseItemMaster.PurchaseItemId 
														AND RMRateMaster.IsPurchase = 1
                                            ) AS Cost ,  
                                            ( SELECT TOP 1  
                                                        CONVERT(VARCHAR, ApplyDate, 106) AS ApplyDate  
                                              FROM      RMRateMasterHistory  
                                              WHERE     CustomerId IS NULL  
                                                        AND PurchaseItemId = PurchaseItemMaster.PurchaseItemId  
                                              ORDER BY  CreatedOn DESC  
                                            ) AS ApplyDate  
                                  FROM      PurchaseItemMaster  
                                            LEFT JOIN UOMMaster ON UOMMASTER.UOMid = PurchaseItemMaster.UnitOfMeasure  
                                            LEFT JOIN MetalMaster ON MetalMaster.MetalId = PurchaseItemMaster.METALId  
                                            LEFT JOIN PurchaseItemTypeMaster ON PurchaseItemTypeMaster.PurchaseItemTypeId = PurchaseItemMaster.PurchaseItemtypeId  
                                            LEFT JOIN PurchaseItemCategoryMaster ON PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId  
                                            LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId  
                                            LEFT JOIN RRMetalMapping ON PurchaseItemMaster.PurchaseItemId = RRMetalMapping.PurchaseItemId  
                                            INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemID 
                                  WHERE     --( PurchaseItemMaster.IsDeleted = 0 )  
                                       -- AND   
                                            ( @ItemId IS NULL  
                                              OR PurchaseItemMaster.PurchaseItemId = @itemId  
                                            )  
                                            --AND ( @ItemType IS NULL  
                                            --      OR PurchaseItemMaster.ItemType = @ItemType  
                                            --    )  
                                            AND ( @PurchaseItemTypeId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemTypeId = @PurchaseItemTypeId  
                                                )  
                                            AND ( @PurchaseItemCategoryId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId  
                                                )  
                                            AND ( @PurchaseItemGroupId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId  
                                                )
                                            AND ( @RRType = 0
                                                  OR ISNULL(PurchaseItemMaster.RRType, 0) = @RRType
                                                )  
                                            --AND ( @MetalId = 0  
                                            --      OR PurchaseItemMaster.MetalId = @MetalID  
                                            --    )  
                                            AND ( @MetalId = 0  
                                                  OR RRMetalMapping.PurchaseItemId IN (  
                                                  SELECT    dbo.RRMetalMapping.PurchaseItemId  
                                                  FROM      dbo.RRMetalMapping  
                                                  WHERE     RRMetalMapping.MetalId = @metalid )  
                                                )  
                                            AND IsFoundryReturn = 1  
                                           AND PurchaseCompanyMapping.CompanyId=@EntityID
                                  GROUP BY  PurchaseItemMaster.ItemCode ,  
                                            PurchaseItemMaster.ItemName ,  
                                            PurchaseItemMaster.PurchaseItemTypeId ,  
                                            PurchaseItemTypeMaster.TypeName ,  
                                            UOM ,  
                                            PurchaseItemMaster.Remarks ,  
                                            PurchaseItemMaster.PurchaseItemId ,  
                                            dbo.PurchaseItemMaster.IsDeleted ,  
                                            PurchaseItemMaster.metalId ,  
                                            MetalMaster.MetalName ,  
                                            PurchaseItemMaster.PurchaseItemCategoryId ,  
                                            PurchaseItemMaster.PurchaseItemGroupId ,  
                                            PurchaseItemCategoryMaster.CategoryName ,  
                                            PurchaseItemGroupMaster.GroupName,
                                            PurchaseItemMaster.RRType   
                                            --PurchaseItemMaster.Cost  
                                ) AS PurchaseItemMaster  
                        ORDER BY PurchaseItemMaster.[PurchaseItem] ASC                          
                    END  
  
                ELSE  
                    BEGIN  
                        SELECT TOP ( @PageSize )  
                                *  
                        FROM    ( SELECT DISTINCT  
                                            ROW_NUMBER() OVER ( ORDER BY PurchaseItemMaster.ItemName ASC ) AS RowNo ,  
                                            PurchaseItemMaster.ItemCode ,  
                                            PurchaseItemMaster.ItemName AS [PurchaseItem] ,  
                                            PurchaseItemTypeMaster.TypeName ,  
                                            UOM ,  
                                            PurchaseItemMaster.Remarks ,  
                                            PurchaseItemMaster.PurchaseItemId ,  
                                            dbo.PurchaseItemMaster.IsDeleted ,  
                                            PurchaseItemMaster.metalId ,  
                                            MetalMaster.MetalName ,  
                                            PurchaseItemMaster.PurchaseItemCategoryId ,  
                                            PurchaseItemMaster.PurchaseItemGroupId ,  
                                            PurchaseItemCategoryMaster.CategoryName ,  
                                            PurchaseItemGroupMaster.GroupName ,
                                            CASE WHEN RRType = 1
											THEN 'RR'
											WHEN RRType=2 THEN 'Back To Furnace'
											ELSE 'Ingot' 
											END AS RRType,  
                                            --PurchaseItemMaster.Cost,  
                                            ( SELECT TOP 1  
                                                        RATE  
                                              FROM      RMRATEMASTER  
                                              WHERE     CustomerId IS NULL  
                                                        AND PurchaseItemId = PurchaseItemMaster.PurchaseItemId  
														AND RMRateMaster.IsPurchase = 1
                                            ) AS Cost ,  
                                            ( SELECT TOP 1  
                                                        CONVERT(VARCHAR, ApplyDate, 106)  
                                              FROM      RMRateMasterHistory  
                                              WHERE     CustomerId IS NULL  
                                                        AND PurchaseItemId = PurchaseItemMaster.PurchaseItemId  
                                              ORDER BY  CreatedOn DESC  
                                            ) AS ApplyDate  
                                  FROM      PurchaseItemMaster  
                                            LEFT JOIN UOMMaster ON UOMMASTER.UOMid = PurchaseItemMaster.UnitOfMeasure  
                                            LEFT JOIN MetalMaster ON MetalMaster.MetalId = PurchaseItemMaster.METALId  
                                            LEFT JOIN PurchaseItemTypeMaster ON PurchaseItemTypeMaster.PurchaseItemTypeId = PurchaseItemMaster.PurchaseItemtypeId  
                                            LEFT JOIN PurchaseItemCategoryMaster ON PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId  
                                            LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId  
                                            LEFT JOIN RRMetalMapping ON PurchaseItemMaster.PurchaseItemId = RRMetalMapping.PurchaseItemId  
                                            INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemID 
                                  WHERE     --  ( PurchaseItemMaster.IsDeleted = 0 )  
                                    
                                      --  AND   
                                            ( @ItemId IS NULL  
                                              OR PurchaseItemMaster.PurchaseItemId = @itemId  
                                            )  
                                            --AND ( @ItemType IS NULL  
                                            --      OR PurchaseItemMaster.ItemType = @ItemType  
                                            --    )  
                                            AND ( @PurchaseItemTypeId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemTypeId = @PurchaseItemTypeId  
                                                )  
                                            AND ( @PurchaseItemCategoryId IS NULL  
                                             OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId  
                                                )  
                                            AND ( @PurchaseItemGroupId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId  
                                                )
                                            AND ( @RRType = 0  
                                                  OR ISNULL(PurchaseItemMaster.RRType, 0) = @RRType
                                                )  
                                            --AND ( @MetalId = 0  
                                            --      OR PurchaseItemMaster.MetalId = @MetalID  
                                            --    )  
                                            AND ( @MetalId = 0  
                                                  OR RRMetalMapping.PurchaseItemId IN (  
                                                  SELECT    dbo.RRMetalMapping.PurchaseItemId  
                                                  FROM      dbo.RRMetalMapping  
                                                  WHERE     RRMetalMapping.MetalId = @metalid )  
                                                )  
                                            AND IsFoundryReturn = 1  
                                            AND PurchaseCompanyMapping.CompanyId=@EntityID
                                  GROUP BY  PurchaseItemMaster.ItemCode ,  
                                            PurchaseItemMaster.ItemName ,  
                                            PurchaseItemMaster.PurchaseItemTypeId ,  
                                            PurchaseItemTypeMaster.TypeName ,  
                                            UOM ,  
                                            PurchaseItemMaster.Remarks ,  
                                            PurchaseItemMaster.PurchaseItemId ,  
                                            dbo.PurchaseItemMaster.IsDeleted ,  
                                            PurchaseItemMaster.metalId ,  
                                            MetalMaster.MetalName ,  
                                            PurchaseItemMaster.PurchaseItemCategoryId ,  
                                            PurchaseItemMaster.PurchaseItemGroupId ,  
                                            PurchaseItemCategoryMaster.CategoryName ,  
                                            PurchaseItemGroupMaster.GroupName ,
                                            PurchaseItemMaster.RRType 
                                            --PurchaseItemMaster.Cost  
                                ) AS PurchaseItemMaster  
                        WHERE   PurchaseItemMaster.RowNo > ( @PageNumber  
                                                             * @PageSize )  
                        ORDER BY PurchaseItemMaster.[PurchaseItem] ASC  
                    END  
            END   
        IF @parameter = 2  --Total Records Query  
            BEGIN  
                SET @TotalRecords = ( SELECT    COUNT(1)  
                                      FROM      ( SELECT    PurchaseItemMaster.PurchaseItemId  
                                                  FROM      PurchaseItemMaster  
                                                            LEFT JOIN UOMMaster ON UOMMASTER.UOMid = PurchaseItemMaster.UnitOfMeasure  
                                                            LEFT JOIN MetalMaster ON MetalMaster.MetalId = PurchaseItemMaster.METALId  
                                                            LEFT JOIN PurchaseItemTypeMaster ON PurchaseItemTypeMaster.PurchaseItemTypeId = PurchaseItemMaster.PurchaseItemtypeId  
                                                            LEFT JOIN PurchaseItemCategoryMaster ON PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId  
                                                            LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId  
                                                            LEFT JOIN RRMetalMapping ON PurchaseItemMaster.PurchaseItemId = RRMetalMapping.PurchaseItemId  
                                                            INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemID 
                                                  WHERE     --  ( PurchaseItemMaster.IsDeleted = 0 )  
                                    
                                      --  AND   
                                                            ( @ItemId IS NULL  
                                                              OR PurchaseItemMaster.PurchaseItemId = @itemId  
                                                            )  
                                            --AND ( @ItemType IS NULL  
                                            --      OR PurchaseItemMaster.ItemType = @ItemType  
                                            --    )  
                                                            AND ( @PurchaseItemTypeId IS NULL  
                                                              OR PurchaseItemMaster.PurchaseItemTypeId = @PurchaseItemTypeId  
                                                              )  
                                                            AND ( @PurchaseItemCategoryId IS NULL  
                                                              OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId  
                                                              )  
                                                            AND ( @PurchaseItemGroupId IS NULL  
                                                              OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId  
                                                              )  
															  AND ( @RRType = 0  
                                                  OR ISNULL(PurchaseItemMaster.RRType, 0) = @RRType
                                                ) 
                                            --AND ( @MetalId = 0  
                                            --      OR PurchaseItemMaster.MetalId = @MetalID  
                                            --    )  
                                                            AND ( @MetalId = 0  
                                                              OR RRMetalMapping.PurchaseItemId IN (  
                                                              SELECT  
                                                              dbo.RRMetalMapping.PurchaseItemId  
                                                              FROM  
                                                              dbo.RRMetalMapping  
                                                              WHERE  
                                                              RRMetalMapping.MetalId = @metalid )  
                                                              )  
                                                            AND IsFoundryReturn = 1  
                                                            AND PurchaseCompanyMapping.CompanyId=@EntityID
                                                  GROUP BY  PurchaseItemMaster.ItemCode ,  
                                                            PurchaseItemMaster.ItemName ,  
                                                            PurchaseItemMaster.PurchaseItemTypeId ,  
                                                            PurchaseItemTypeMaster.TypeName ,  
                                                            UOM ,  
                                                            PurchaseItemMaster.Remarks ,  
                                                            PurchaseItemMaster.PurchaseItemId ,  
                                                            dbo.PurchaseItemMaster.IsDeleted ,  
                                                            PurchaseItemMaster.metalId ,  
                                                            MetalMaster.MetalName ,  
                                                            PurchaseItemMaster.PurchaseItemCategoryId ,  
                                                            PurchaseItemMaster.PurchaseItemGroupId ,  
                                                            PurchaseItemCategoryMaster.CategoryName ,  
                                                            PurchaseItemGroupMaster.GroupName  
                                              ) AS TempCount  
                                    )  
        
                RETURN @TotalRecords  
            END  
  
END

GO
