USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[HRPayRoll]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--21 Nov 2019 - Harshad Chauhan - Add shiftid in where condition in Param 10, 11
CREATE PROCEDURE [dbo].[HRPayRoll]
    @Parameter INT = 0 ,
    @EmployeeId INT = 0 ,
    @ShiftId INT = 0 ,
    @ShiftDetail XML = NULL ,
    @EffectiveDate DATETIME = NULL ,
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    @IsDummy BIT = NULL ,
    @RemoveAll BIT = NULL ,
    @RemoveEmployeeCode BIT = NULL ,
    @EmployeeCode VARCHAR(100) = NULL ,
    @AddOrRemoveHrsStartTime INT = 0 ,
    @AddOrRemoveHrsEndTime INT = 0 ,
    @EmployeeName VARCHAR(150) = NULL ,
    @Gender VARCHAR(50) = NULL ,
    @EntityId INT = 0 ,
    @Time TIME = NULL ,
    @isActive INT = 0 ,
    @isFilterDeleteFlag INT = 0 ,
    @isFilterActiveFlag INT = 1
AS
    BEGIN
        SET NOCOUNT ON;
        --IF ( @Parameter = 1 )
        --    BEGIN
        --        SELECT  EmployeeId ,
        --                EmployeeName ,
        --                EmployeeCode ,
        --                Gender ,
        --                EmployeeDetails.ShiftId ,
        --                0 AS IsUpdated ,
        --                IsDummy ,
        --                CASE WHEN isActive = 0 THEN 'InActive'
        --                     ELSE 'Active'
        --                END AS isActive
        --        FROM    dbo.EmployeeDetails
        --        ORDER BY EmployeeCode
        --    END
            
        IF ( @Parameter = 2 )
            BEGIN
                SELECT  ShiftId ,
                        ShiftName
                FROM    dbo.HRShiftMaster
				WHERE	EntityId = @EntityId
            END
        
        IF ( @Parameter = 3 )
            BEGIN
            
            
                DECLARE ShiftDetail CURSOR
                FOR
                    SELECT  Node.value('(EmployeeId )[1]', 'int') AS 'EmployeeId' ,
                            Node.value('(EmployeeCode )[1]', 'varchar(150)') AS 'EmployeeCode' ,
                            Node.value('(EmployeeName )[1]', 'varchar(150)') AS 'EmployeeName' ,
                            Node.value('(Gender )[1]', 'varchar(50)') AS 'Gender' ,
                            Node.value('(ShiftId )[1]', 'int') AS 'ShiftId' ,
                            Node.value('(IsDummy )[1]', 'bit') AS 'IsDummy' ,
                            Node.value('(isActive )[1]', 'int') AS 'isDeleteFlag'
                    FROM    @ShiftDetail.nodes('/DocumentElement/ShiftDetail')
                            AS TEMPXML ( Node )		

                OPEN ShiftDetail;

                FETCH NEXT FROM ShiftDetail INTO @EmployeeId, @EmployeeCode,
                    @EmployeeName, @Gender, @ShiftId, @IsDummy, @isActive
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                    
					
                        UPDATE  dbo.DeviceLog
                        SET     ShiftId = @ShiftId
                      --  SELECT DeviceLog.*  
                        FROM    dbo.DeviceLog
                                INNER JOIN dbo.EmployeeDetails ON DeviceLog.Empcode = dbo.EmployeeDetails.EmployeeCode
                        WHERE   dbo.EmployeeDetails.EmployeeId = @EmployeeId
                                AND Logdate >= DATEADD(dd, 0,
                                                       DATEDIFF(dd, 0,
                                                              @EffectiveDate)) 
					
					         
                        IF @@Error <> 0
                            ROLLBACK TRANSACTION
                            
                        UPDATE  dbo.DeviceLogDummy
                        SET     ShiftId = @ShiftId
                      --  SELECT DeviceLog.*  
                        FROM    dbo.DeviceLogDummy
                                INNER JOIN dbo.EmployeeDetails ON DeviceLogDummy.Empcode = dbo.EmployeeDetails.EmployeeCode
                        WHERE   dbo.EmployeeDetails.EmployeeId = @EmployeeId
                                AND Logdate >= DATEADD(dd, 0,
                                                       DATEDIFF(dd, 0,
                                                              @EffectiveDate)) 
					
					         
                        IF @@Error <> 0
                            ROLLBACK TRANSACTION
                        IF ( @EmployeeId != 0 )
                            BEGIN      
                                UPDATE  dbo.EmployeeDetails
                                SET     EmployeeName = @EmployeeName ,
                                        EmployeeCode = @EmployeeCode ,
                                        Gender = @Gender ,
                                        ShiftId = @ShiftId ,
                                        IsDummy = @IsDummy ,
                                        isActive = @isActive
                                WHERE   EmployeeId = @EmployeeId
                            END
                        ELSE
                            BEGIN
                                INSERT  INTO dbo.EmployeeDetails
                                        ( EmployeeName ,
                                          EmployeeCode ,
                                          Gender ,
                                          EntityId ,
                                          ShiftId ,
                                          IsDummy ,
                                          isActive
                                        )
                                VALUES  ( @EmployeeName , -- EmployeeName - varchar(100)
                                          @EmployeeCode , -- EmployeeCode - nvarchar(50)
                                          @Gender , -- Gender - varchar(50)
                                          @EntityId , -- EntityId - int
                                          @ShiftId , -- ShiftId - int
                                          @IsDummy ,  -- IsDummy - int
                                          @isActive  -- isDeleteFlag - int
                                        )
                        	
                            END
                        
                        IF @@Error <> 0
                            ROLLBACK TRANSACTION
					
                        FETCH NEXT FROM ShiftDetail INTO @EmployeeId,
                            @EmployeeCode, @EmployeeName, @Gender, @ShiftId,
                            @IsDummy, @isActive
                    END 

                CLOSE ShiftDetail;
                DEALLOCATE ShiftDetail;	
				
            END		
        

        
        IF ( @Parameter = 6 )
            BEGIN
                SELECT  EmployeeCode
                FROM    dbo.EmployeeDetails
                WHERE   ( @IsDummy = 2
                          OR IsDummy = @IsDummy
                        )
                        AND EmployeeDetails.IsDelete = 0
                        AND EmployeeDetails.EntityId = @EntityId
                       -- and EmployeeDetails.isActive = 1
                ORDER BY EmployeeCode
            
            END
        
        IF ( @Parameter = 7 )
            BEGIN
                IF ( @RemoveAll = 1 )
                    BEGIN
                        DELETE  FROM dbo.DeviceLogDummy
                        WHERE   Logdate = @EffectiveDate
                    END
                ELSE
                    BEGIN
                        IF ( @RemoveEmployeeCode = 1 )
                            BEGIN
                                DELETE  FROM dbo.DeviceLogDummy
                                WHERE   Logdate = @EffectiveDate
                                        AND Empcode = @EmployeeCode
                            END
                        ELSE
                            BEGIN
                                UPDATE  dbo.DeviceLogDummy
                                SET     Logtime = DATEADD(minute,
                                                          @AddOrRemoveHrsStartTime,
                                                          Logtime)
                                WHERE   Logtime = ( SELECT TOP 1
                                                            Logtime
                                                    FROM    dbo.DeviceLogDummy
                                                    WHERE   Logdate = @EffectiveDate
                                                            AND Empcode = @EmployeeCode
                                                  )
                                        AND dbo.DeviceLogDummy.Empcode = @EmployeeCode
                 
                                UPDATE  dbo.DeviceLogDummy
                                SET     Logtime = DATEADD(minute,
                                                          @AddOrRemoveHrsEndTime,
                                                          Logtime)
                                WHERE   Logtime = ( SELECT TOP 1
                                                            Logtime
                                                    FROM    dbo.DeviceLogDummy
                                                    WHERE   Logdate = @EffectiveDate
                                                            AND Empcode = @EmployeeCode
                                                    ORDER BY Logtime DESC
                                                  )
                                        AND dbo.DeviceLogDummy.Empcode = @EmployeeCode
                 
                            END
                    END
            END
            
        IF ( @Parameter = 10 )
            BEGIN
       
                SELECT  DeviceLog.Empcode ,
                        EmployeeDetails.EmployeeName ,
                        COUNT(DeviceLog.Empcode) ,
                        CASE WHEN COUNT(*) % 2 = 0 THEN 'EVEN'
                             ELSE 'ODD'
                        END AS [Punch]
                FROM    DeviceLog
                        INNER JOIN EmployeeDetails ON EmployeeDetails.EmployeeCode = DeviceLog.Empcode
                WHERE   DeviceLog.Logdate = @StartDate
                        AND DeviceLog.Logtime <= @Time
                        AND ( EmployeeDetails.isActive = @isFilterActiveFlag
                              OR EmployeeDetails.isActive = @isFilterDeleteFlag
                            )
                        AND (EmployeeDetails.ShowInHR = 1)
                        AND dbo.EmployeeDetails.IsDelete = 0
                        AND DeviceLog.ShiftId IN (
							select ShiftId from dbo.HRShiftMaster WHERE @Time BETWEEN StartTime AND EndTime
							 AND EntityId = @EntityId
                        )
                        AND EmployeeDetails.EntityId = @EntityId
                GROUP BY DeviceLog.Empcode ,
                        EmployeeDetails.EmployeeName
    
       
            END
        
        IF ( @Parameter = 11 )
            BEGIN
       
                SELECT  DeviceLogDummy.Empcode ,
                        EmployeeDetails.EmployeeName ,
                        COUNT(DeviceLogDummy.Empcode) ,
                        CASE WHEN COUNT(*) % 2 = 0 THEN 'EVEN'
                             ELSE 'ODD'
                        END AS [Punch]
                FROM    DeviceLogDummy
                        INNER JOIN EmployeeDetails ON EmployeeDetails.EmployeeCode = DeviceLogDummy.Empcode
                WHERE   DeviceLogDummy.Logdate = @StartDate
                        AND DeviceLogDummy.Logtime <= @Time
                        AND ( EmployeeDetails.isActive = @isFilterActiveFlag
                              OR EmployeeDetails.isActive = @isFilterDeleteFlag
                            )
                        AND (EmployeeDetails.ShowInHR = 1)
                        AND dbo.EmployeeDetails.IsDelete = 0
                        AND DeviceLogDummy.ShiftId IN (
							select ShiftId from dbo.HRShiftMaster WHERE @Time BETWEEN StartTime AND EndTime
							 AND EntityId = @EntityId
                        )
                        AND EmployeeDetails.EntityId = @EntityId
                GROUP BY DeviceLogDummy.Empcode ,
                        EmployeeDetails.EmployeeName
    
       
            END
        
        --IF ( @Parameter = 12 )
        --    BEGIN
        --        SELECT  empDtl.* ,
        --                hrsft.ShiftName
        --        FROM    EmployeeDetails AS empDtl
        --                LEFT JOIN HRShiftMaster AS hrsft ON empDtl.ShiftId = hrsft.ShiftId
        --        WHERE   empDtl.isActive = 0
   
        --    END
	
        IF ( @Parameter = 13 )
            BEGIN
                SELECT  EmployeeId ,
                        EmployeeName ,
                        EmployeeCode ,
                        Gender ,
                        EmployeeDetails.ShiftId ,
                        0 AS IsUpdated ,
                        IsDummy ,
                        isActive
                FROM    dbo.EmployeeDetails
                WHERE   isActive = 1
						AND (EmployeeDetails.ShowInHR = 1)
						AND EmployeeDetails.EntityId = @EntityId
						
                ORDER BY EmployeeCode
            END	
		
    END

GO
