USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_AllCostingCategory]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Fetch_AllCostingCategory]
@EntityId int = 0 
AS
    BEGIN 
        SELECT  *
        FROM    costingcategorymaster where EntityId =@EntityId
    END
GO
