USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[EditLogSRNEntry]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Bijal Patel>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE      PROCEDURE [dbo].[EditLogSRNEntry]
	 @InwardId UNIQUEIDENTIFIER = NULL 
   ,@PageType int = 0
   ,@JobOrderEnable bit = 0
   ,@IsMatInwJobWork int = 0,
   @EntityId int = 0
AS
BEGIN

    Declare @RevisionNo bigint = (select count(InwardId)+1 from  [ICAST_IMS_LOG].[dbo].RawMaterialInward where InwardId= @InwardId)

DECLARE @TableMAIn table (SrNoRevisionwise int,INWno  varchar(300),  InwardDate Datetime ,
							 VehicleNo  varchar(50),BroughtBy   varchar (50)  ,GateEntryNo   varchar (50), ChallanNo   varchar (50)  ,
							 ChallanDate   datetime   ,InvoiceNo   varchar (50)  ,InvoiceDate   datetime   ,CustomerName  varchar(300) ,  WeightSlipNo   varchar (50)  ,
							 FreightAmount   float   ,RickshawFreight   float   ,
							 LoadingUnloading   float   ,EmployeeName varchar(300) , LRNo   varchar (100)  ,Remarks Varchar(Max),
							GrossWt float, TareWt float,NetWt float ,TransporterName  varchar (Max) , ModifiedUserName varchar(100), InsertedDate  varchar(100) 
					 ) 
 
insert INTO @TableMAIn    
		SELECT  DENSE_RANK() over( order by  RevisionNo) AS SrNoRevisionwise,
		     CASE WHEN rm.Prefix IS NULL THEN ''        
      ELSE CONVERT(VARCHAR(50), rm.Prefix)        
                    END        
                    +         
                    CASE WHEN rm.Separator IS NULL        
      THEN ''        
      ELSE CONVERT(VARCHAR(50), rm.Separator)        
                    END         
                    +         
                    CONVERT(VARCHAR(50), rm.INWSrNo)        
                    +         
                    CASE WHEN rm.Separator IS NULL        
      THEN ''        
      ELSE CONVERT(VARCHAR(50), rm.Separator)        
                    END        
                    +         
                    CASE WHEN rm.Suffix IS NULL         
      THEN ''        
      ELSE CONVERT(VARCHAR(50), rm.Suffix)        
                    END AS INWno ,        
                        rm.InwardDate ,        
                        rm.VehicleNo ,        
                        rm.BroughtBy ,        
                        rm.RefDocNo AS GateEntryNo ,        
                        rm.ChallanNo ,        
                        rm.ChallanDate ,        
                        rm.InvoiceNo ,        
                        rm.InvoiceDate ,   
                        CustomerMaster.CustomerName , 
                        rm.WeightSlipNo ,        
						rm.FreightAmount ,        
                        rm.RickshawFreight ,        
                        rm.LoadingUnloading ,  
                        EmployeeDetails.EmployeeName ,     
                        LRNo  ,
						Remarks,
						GrossWt,
						TareWt,
						NetWt,
						TransporterName,
						 U.UserName AS ModifiedUserName,
						case when		RM.ModifiedBy =0 or RM.ModifiedBy is null then   RM.CreatedOn else RM.ModifiedOn end  AS InsertedDate      
                FROM    [ICAST_IMS_LOG].[dbo].RawMaterialInward   rm      
                        INNER JOIN CustomerMaster ON rm.CustomerId = CustomerMaster.CustomerId        
					    INNER JOIN InvoiceSeries ON InvoiceSeries.SeriesId = rm.SeriesId        
                        LEFT JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = rm.EmployeeId   
						LEFT JOIN  UserMaster AS U ON U.UserId  = case when  RM.ModifiedBy =0  or RM.ModifiedBy is null then RM.CreatedBY else  RM.ModifiedBY end  
                WHERE   rm.InwardId = @InwardId        
                        AND rm.IsDeleted = 0        
                                
  
 insert INTO @TableMAIn     
  	SELECT  @RevisionNo AS SrNoRevisionwise,
	  CASE WHEN RawMaterialInward.Prefix IS NULL THEN ''        
      ELSE CONVERT(VARCHAR(50), RawMaterialInward.Prefix)        
                    END        
                    +         
                    CASE WHEN RawMaterialInward.Separator IS NULL        
      THEN ''        
      ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)        
                    END         
                    +         
                    CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo)        
                    +         
                    CASE WHEN RawMaterialInward.Separator IS NULL        
      THEN ''        
      ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)        
                    END        
                    +         
                    CASE WHEN RawMaterialInward.Suffix IS NULL         
      THEN ''        
      ELSE CONVERT(VARCHAR(50), RawMaterialInward.Suffix)        
                    END AS INWno ,        
                       RawMaterialInward.InwardDate ,        
                        RawMaterialInward.VehicleNo ,        
                        RawMaterialInward.BroughtBy ,        
                        RawMaterialInward.RefDocNo AS GateEntryNo ,        
                        RawMaterialInward.ChallanNo ,        
                        RawMaterialInward.ChallanDate ,        
                        RawMaterialInward.InvoiceNo ,        
                        RawMaterialInward.InvoiceDate ,   
                        CustomerMaster.CustomerName , 
                        RawMaterialInward.WeightSlipNo ,        
						RawMaterialInward.FreightAmount ,        
                        RawMaterialInward.RickshawFreight ,        
                        RawMaterialInward.LoadingUnloading ,  
                        EmployeeDetails.EmployeeName ,     
                        LRNo     ,
						Remarks,
						GrossWt,
						TareWt,
						NetWt,
						TransporterName,
						 U.UserName AS ModifiedUserName,
						case when		RawMaterialInward.ModifiedBy =0 or RawMaterialInward.ModifiedBy is null 
								then RawMaterialInward.CreatedOn else RawMaterialInward.ModifiedOn end  AS InsertedDate      
                FROM    RawMaterialInward        
                        INNER JOIN CustomerMaster ON RawMaterialInward.CustomerId = CustomerMaster.CustomerId        
						INNER JOIN InvoiceSeries ON InvoiceSeries.SeriesId = RawMaterialInward.SeriesId        
                        LEFT JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = RawMaterialInward.EmployeeId 
						LEFT JOIN  UserMaster AS U ON U.UserId  = case when  RawMaterialInward.ModifiedBy =0  or RawMaterialInward.ModifiedBy is null 
						then RawMaterialInward.CreatedBY else  RawMaterialInward.ModifiedBY end  
              
                WHERE   RawMaterialInward.InwardId = @InwardId        
                        AND dbo.RawMaterialInward.IsDeleted = 0   
         		
	   
DECLARE @TableItem table (SrNoRevisionwise int, ServiceNo varchar(100), Item  varchar(300),
						 Remark  varchar(Max), Unit  varchar(300),SupplierBillQty float ,AcceptQty float ,
						 Rate   float   ,PONo varchar(100),Amount float ,SRNServiceDetailID uniqueidentifier	 ) 
 insert into @TableItem 
     SELECT   SRN.RevisionNo  as SrNoRevisionwise,
      ServiceItemMaster.ServiceNo,        
     ServiceItemMaster.Item,        
     ServiceItemMaster.Remark,        
     UOMMaster.UOM as Unit,        
     SRN.SupplierBillQty,     
	 SRN.AcceptQty,
     SRN.Rate,        
      CASE WHEN PurchaseOrder_Master.Prefix IS NULL THEN ''        
       ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Prefix)        
            END        
            +        
            CASE WHEN PurchaseOrder_Master.Separator IS NULL        
                THEN ''        
                ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Separator)        
            END         
            +         
            CONVERT(VARCHAR(20), PurchaseOrder_Master.PONo)        
            +        
            CASE WHEN PurchaseOrder_Master.Separator IS NULL        
       THEN ''        
                ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Separator)        
            END        
            +         
            CASE WHEN PurchaseOrder_Master.Suffix IS NULL         
       THEN ''        
                ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Suffix)        
            END         
     AS PONo,        
     CAST(ISNULL(SRN.Rate,0) * ISNULL(SRN.SupplierBillQty, 0)AS int) AS Amount,
	 SRNServiceDetailID
    FROM  [ICAST_IMS_LOG].[dbo].SRNServiceDetailsTrans    SRN 
     INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = SRN.InwardId        
     INNER JOIN dbo.PurchaseOrderServiceItemTrans ON dbo.PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID = SRN.PurchaseOrderServiceItemID        
     INNER JOIN PurchaseOrder_Master ON PurchaseOrder_Master.PurchaseOrderId = dbo.PurchaseOrderServiceItemTrans.PurchaseOrderID        
     INNER JOIN dbo.ServiceItemMaster ON dbo.ServiceItemMaster.ServiceItemId = dbo.PurchaseOrderServiceItemTrans.ServiceItemId        
	 left join UOMMaster on UOMMaster.UOMid = PurchaseOrderServiceItemTrans.UOMID
    WHERE SRN.InwardId=@InwardId        
    -- and ServiceItemMaster.EntityID = @EntityID   
	 and SRN.IsDeleted = 0 
    				

 insert into @TableItem 
			SELECT @RevisionNo as SrNoRevisionwise,
			ServiceItemMaster.ServiceNo,        
     ServiceItemMaster.Item,        
     ServiceItemMaster.Remark,        
     UOMMaster.UOM as Unit,        
     SRNServiceDetailsTrans.SupplierBillQty,   
	 SRNServiceDetailsTrans.AcceptQty,
     SRNServiceDetailsTrans.Rate,        
      CASE WHEN PurchaseOrder_Master.Prefix IS NULL THEN ''        
       ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Prefix)        
            END        
            +        
            CASE WHEN PurchaseOrder_Master.Separator IS NULL        
                THEN ''        
                ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Separator)        
            END         
            +         
            CONVERT(VARCHAR(20), PurchaseOrder_Master.PONo)        
            +        
            CASE WHEN PurchaseOrder_Master.Separator IS NULL        
       THEN ''        
                ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Separator)        
            END        
            +         
            CASE WHEN PurchaseOrder_Master.Suffix IS NULL         
       THEN ''        
                ELSE CONVERT(NVARCHAR(50), PurchaseOrder_Master.Suffix)        
            END         
     AS PONo,        
     CAST(ISNULL(SRNServiceDetailsTrans.Rate,0) * ISNULL(SRNServiceDetailsTrans.SupplierBillQty, 0)AS int) AS Amount ,
	 SRNServiceDetailID
    FROM SRNServiceDetailsTrans        
			 INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.SRNServiceDetailsTrans.InwardId        
			 INNER JOIN dbo.PurchaseOrderServiceItemTrans ON dbo.PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID = dbo.SRNServiceDetailsTrans.PurchaseOrderServiceItemID        
			 INNER JOIN PurchaseOrder_Master ON PurchaseOrder_Master.PurchaseOrderId = dbo.PurchaseOrderServiceItemTrans.PurchaseOrderID        
			 INNER JOIN dbo.ServiceItemMaster ON dbo.ServiceItemMaster.ServiceItemId = dbo.PurchaseOrderServiceItemTrans.ServiceItemId        
			 left join UOMMaster on UOMMaster.UOMid = PurchaseOrderServiceItemTrans.UOMID
			WHERE SRNServiceDetailsTrans.InwardId=@InwardId        
			 --and ServiceItemMaster.EntityID = @EntityID 
			 and SRNServiceDetailsTrans.IsDeleted = 0 
      

					--select * from @TableItem
			  
     -- select * from @TableMAIn 
      select distinct CA.* 
       into #tempEditLogSRNEntry
      from @TableMAIn  as t
	   inner join @TableItem  as item  on  item.SrNoRevisionwise = t.SrNoRevisionwise
		CROSS APPLY (
			  Values
				 (1,t.SrNoRevisionwise,'User Name' , modifiedUSerName COLLATE DATABASE_DEFAULT,'' ),
				 (2,t.SrNoRevisionwise,'Inserted/Altered On' ,cast(InsertedDate  as varchar) ,''),
				 (3,t.SrNoRevisionwise,'SRN Date' ,  CONVERT(VARCHAR(15),  inwarddate, 106) ,''   ),
				 (4,t.SrNoRevisionwise,   'SRN No'  , inwno COLLATE DATABASE_DEFAULT ,''),
				 (5,t.SrNoRevisionwise,'Supplier Name',  CustomerName COLLATE DATABASE_DEFAULT,''),
				-- (6,t.SrNoRevisionwise,'Billing Address' , BillingAddress COLLATE DATABASE_DEFAULT ),
				 (7,t.SrNoRevisionwise,Item +'('+ServiceNo+')' ,
				  
				   'PO No : ' + CAst(PONo as varchar)+
				   + CHAR(10) +  'Supplier Bill Qty : ' + CAst( SupplierBillQty  as varchar)	
				   + CHAR(10) +  'Accepted Qty : ' + CAst( AcceptQty  as varchar)
				   + CHAR(10) +  'UOM : ' +  CAst(Unit as varchar)
				   + CHAR(10) +  'Rate: ' +  CAst(Rate as varchar)
				   + CHAR(10) +  'Amount : ' +  CAst(Amount as varchar)
				    ,Cast(SRNServiceDetailID as varchar(50)) ),
				(8,t.SrNoRevisionwise,'Challan No',ChallanNo COLLATE DATABASE_DEFAULT,''),
				(9,t.SrNoRevisionwise,'Challan Date',   CONVERT(VARCHAR(15),  ChallanDate, 106)  COLLATE DATABASE_DEFAULT,''),
				(10,t.SrNoRevisionwise,'Invoice No',  INVoiceno COLLATE DATABASE_DEFAULT,''),
				(11,t.SrNoRevisionwise,'Invioce Date',  CONVERT(VARCHAR(15),  InvoiceDate, 106)   COLLATE DATABASE_DEFAULT,''),
				(12,t.SrNoRevisionwise,'Brought By',  BroughtBy COLLATE DATABASE_DEFAULT,''),
				(13,t.SrNoRevisionwise,'Vehicle No',  VehicleNo COLLATE DATABASE_DEFAULT,''),				
				(14,t.SrNoRevisionwise,'L.R. No', LRNo  COLLATE DATABASE_DEFAULT,''),
				(15,t.SrNoRevisionwise,'Weight SlipNo',  WeightSlipNo    COLLATE DATABASE_DEFAULT,''),
				(16,t.SrNoRevisionwise,'Freight Amount', cast(FreightAmount as varchar) COLLATE DATABASE_DEFAULT,''),
				(17,t.SrNoRevisionwise,'Tempo Charge', cast(RickshawFreight as varchar) COLLATE DATABASE_DEFAULT,''),
				(18,t.SrNoRevisionwise,'Unloading Charge', cast(LoadingUnloading as varchar) COLLATE DATABASE_DEFAULT,''),
				(19,t.SrNoRevisionwise,'Checked By', cast(EmployeeName as varchar) COLLATE DATABASE_DEFAULT,''),				
				(20,t.SrNoRevisionwise,'Gross Wt',   cast(GrossWt as varchar) COLLATE DATABASE_DEFAULT,''),	
				(21,t.SrNoRevisionwise,'Tare Wt',   cast(TareWt as varchar) COLLATE DATABASE_DEFAULT,''),	
				(22,t.SrNoRevisionwise,'Net Wt',   cast(NetWt as varchar) COLLATE DATABASE_DEFAULT,''),	
				(23,t.SrNoRevisionwise,'Transporter Name',  TransporterName COLLATE DATABASE_DEFAULT,''),	
				(24,t.SrNoRevisionwise,'Remarks', cast(Remarks as varchar) COLLATE DATABASE_DEFAULT,'')
				
		  ) as CA (sr,SrNoRevisionwise,ColName, ColValue ,TransId )  
		  where ColName is not null and CA.SrNoRevisionwise = t.SrNoRevisionwise 
DECLARE @cols AS NVARCHAR(MAX) 
select @cols = STUFF((SELECT  ','  + QUOTENAME(SrNoRevisionwise) 
                    from #tempEditLogSRNEntry  group by  SrNoRevisionwise
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')    
   
    
declare @sql1 NVARCHAR(MAX) = '';		 
SET @sql1 ='
SELECT *
FROM   #tempEditLogSRNEntry
PIVOT  
(  
  max(ColValue)  
  FOR SrNoRevisionwise IN ('+ @cols +' )  
) AS PivotTable order by cast(sr as int);  
';

EXECUTE sp_executesql @sql1;     
 drop table #tempEditLogSRNEntry



END


GO
