USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Purchase_Item_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE  PROCEDURE [dbo].[Purchase_Item_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL ,  
	@PurchaseItemTypeId UNIQUEIDENTIFIER = NULL ,  
    @PurchaseItemCategoryId UNIQUEIDENTIFIER = NULL ,  
    @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL ,   
    @SysDepartmentID UNIQUEIDENTIFIER = NULL ,  
    @CustomerId UNIQUEIDENTIFIER = NULL ,  
    @ItemId UNIQUEIDENTIFIER = NULL ,  
    @IsAll INT = 1 ,
	@Block INT = 0,
    @EntityId INT = 0 
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	  
        IF @parameter = 1   -- Searching  
            BEGIN  
                IF @InitialLoad = 1  
                    BEGIN  
                        SELECT TOP ( @PageSize )  
                                *  
                        FROM    ( SELECT DISTINCT TOP ( @PageSize )  
                                            ROW_NUMBER() OVER ( ORDER BY [PurchaseItem] ASC ) AS RowNo ,  
                                            PItem. *  
                                           from ( select distinct   
                                            PurchaseItemMaster.ItemCode ,  
                                            PurchaseItemMaster.ItemName AS [PurchaseItem] ,  
                                            PurchaseItemMaster.ItemType ,  
                                            u.UOM ,  
                                            um.UOM AS SecondaryUnitOfMeasure ,  
                                            PurchaseItemMaster.ConversionRatio ,  
                                            CASE WHEN IsCharge = 'false'  
                                                 THEN 'NO'  
                                                 ELSE 'YES'  
                                            END AS ChargingMaterial ,  
                                            CASE WHEN IsBOQ = 0 THEN 'NO'  
                                                 ELSE 'YES'  
                                            END AS IsBOQ ,  
                                            CASE WHEN IsMoldingMaterial = 0  
                                                 THEN 'NO'  
                                                 ELSE 'YES'  
                                            END AS IsMoldingMaterial ,  
                                            CASE WHEN IsIssueAsConsumed = 0  
                                                 THEN 'NO'  
                                                 ELSE 'YES'  
                                            END AS IsIssueAsConsumed ,  
                                            MinStockLevel ,  
                                            MaxStockLevel ,  
                                            MinOrderQty ,  
                                            OrderLeadTime ,  
                                            PurchaseItemMaster.Remarks ,  
                                            PurchaseItemMaster.PurchaseItemId ,  
                                            dbo.PurchaseItemMaster.IsDeleted ,  
                                            PurchaseItemMaster.PurchaseItemTypeId ,  
                                            PurchaseItemTypeMaster.TypeName ,  
                                            PurchaseItemMaster.PurchaseItemCategoryId ,  
                                            PurchaseItemCategoryMaster.CategoryName ,  
                                            PurchaseItemMaster.PurchaseItemGroupId ,  
                                            PurchaseItemGroupMaster.GroupName ,  
                                            PurchaseItemMaster.PackingSize ,  
                                            PurchaseItemMaster.StoreLocation ,  
                                            PurchaseItemMaster.ShelfLife ,  
                                            StoreMaster.StoreName ,  
                                            PurchaseItemMaster.ShortCode ,  
                                            PurchaseItemMaster.isSynced AS IsTallySync  
                                  FROM      PurchaseItemMaster  
                                            LEFT JOIN UOMMaster AS u ON u.UOMid = PurchaseItemMaster.UnitOfMeasure  
                                            LEFT JOIN UOMMaster AS um ON um.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure  
                                            LEFT JOIN PurchaseItemTypeMaster ON PurchaseItemTypeMaster.PurchaseItemTypeId = PurchaseItemMaster.PurchaseItemTypeId  
                                            LEFT JOIN PurchaseItemCategoryMaster ON PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId  
                                            LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId  
                                            LEFT JOIN StoreMaster ON PurchaseItemMaster.StoreId = StoreMaster.StoreId  
                                            left join PurchaseItemDepartmentMapping on PurchaseItemDepartmentMapping.purchaseItemID = PurchaseItemMaster.PurchaseItemId  
                                            INNER JOIN PurchaseCompanyMapping ON  PurchaseCompanyMapping.PurchaseItemId  = PurchaseItemMaster.PurchaseItemId 
                                  WHERE     -- ( PurchaseItemMaster.IsDeleted = 0 )  
                                       -- AND   
                                            ( @ItemId IS NULL OR PurchaseItemMaster.PurchaseItemId = @itemId )  
                                            AND ( @PurchaseItemTypeId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemTypeId = @PurchaseItemTypeId  
                                                )  
                                            AND ( @PurchaseItemCategoryId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId  
                                                )  
                                            AND ( @PurchaseItemGroupId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId  
                                                )  
                                            AND ( @CustomerId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemId IN (  
                                                  SELECT    PurchaseItemID  
                                                  FROM      CustomerPurchaseitemMappping  
                                                  WHERE     CustomerId = @CustomerId )  
                                                )  
                                            AND IsFoundryReturn = 'False'  
                                            AND LossItem IS NULL  
                                            and PurchaseCompanyMapping.CompanyId = @EntityId 
                                            AND (@IsAll = 1 or (dbo.PurchaseItemMaster.IsDeleted = @Block )) 
                                            AND ( @SysDepartmentID IS NULL  
												  OR PurchaseItemDepartmentMapping.DepartmentID = @SysDepartmentID  
												)  
											AND isnull(IsReturnSand,0) = 0
											AND IsEquipment = 0
											and isnull(IsSandType ,0) = 0
											AND IsAsset = 0 
											AND PurchaseItemMaster.IsPattern = 0
           ) as PItem  
                                ) AS PurchaseItemMaster  
                        ORDER BY PurchaseItemMaster.[PurchaseItem] ASC  
                    END  
  
                ELSE  
                    BEGIN  
                        SELECT TOP ( @PageSize )  
                                *  
                        FROM    ( SELECT DISTINCT  
                                            ROW_NUMBER() OVER ( ORDER BY [PurchaseItem] ASC ) AS RowNo ,  
                                            PItem.*  
                                            from  
                                              
                                            ( select distinct   
                                            PurchaseItemMaster.ItemCode ,  
                                            PurchaseItemMaster.ItemName AS [PurchaseItem] ,  
                                            PurchaseItemMaster.ItemType ,  
                                            u.UOM ,  
                                            um.UOM AS SecondaryUnitOfMeasure ,  
                                            PurchaseItemMaster.ConversionRatio ,  
                                            CASE WHEN IsCharge = 'false'  
                                                 THEN 'NO'  
                                                 ELSE 'YES'  
                                            END AS ChargingMaterial ,  
                                            CASE WHEN IsBOQ = 0 THEN 'NO'  
                                                 ELSE 'YES'  
                                            END AS IsBOQ ,  
                                            CASE WHEN IsMoldingMaterial = 0  
                                                 THEN 'NO'  
                                                 ELSE 'YES'  
                                            END AS IsMoldingMaterial ,  
                                            CASE WHEN IsIssueAsConsumed = 0  
                                                 THEN 'NO'  
                                                 ELSE 'YES'  
                                            END AS IsIssueAsConsumed ,  
                                            MinStockLevel ,  
                                            MaxStockLevel ,  
                                            MinOrderQty ,  
                                            OrderLeadTime ,  
                                            PurchaseItemMaster.Remarks ,  
                                            PurchaseItemMaster.PurchaseItemId ,  
                                            dbo.PurchaseItemMaster.IsDeleted ,  
                                            PurchaseItemMaster.PurchaseItemTypeId ,  
                                            PurchaseItemTypeMaster.TypeName ,  
                                            PurchaseItemMaster.PurchaseItemCategoryId ,  
                                            PurchaseItemCategoryMaster.CategoryName ,  
                                            PurchaseItemMaster.PurchaseItemGroupId ,  
                                            PurchaseItemGroupMaster.GroupName ,  
                                            PurchaseItemMaster.PackingSize ,  
                                            PurchaseItemMaster.StoreLocation ,  
                                            PurchaseItemMaster.ShelfLife ,  
                                            StoreMaster.StoreName ,  
                                            PurchaseItemMaster.ShortCode ,  
                                            PurchaseItemMaster.isSynced AS IsTallySync  
                                  FROM      PurchaseItemMaster  
                                            LEFT JOIN UOMMaster AS u ON u.UOMid = PurchaseItemMaster.UnitOfMeasure  
                                            LEFT JOIN UOMMaster AS um ON um.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure  
                                            LEFT JOIN PurchaseItemTypeMaster ON PurchaseItemTypeMaster.PurchaseItemTypeId = PurchaseItemMaster.PurchaseItemTypeId  
                                            LEFT JOIN PurchaseItemCategoryMaster ON PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId  
                                            LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId  
                                            LEFT JOIN StoreMaster ON PurchaseItemMaster.StoreId = StoreMaster.StoreId  
											left join PurchaseItemDepartmentMapping on PurchaseItemDepartmentMapping.purchaseItemID = PurchaseItemMaster.PurchaseItemId  
											INNER JOIN PurchaseCompanyMapping ON  PurchaseCompanyMapping.PurchaseItemId  = PurchaseItemMaster.PurchaseItemId 
                                  WHERE     -- ( PurchaseItemMaster.IsDeleted = 0 )  
                                       -- AND   
                                            ( @ItemId IS NULL OR PurchaseItemMaster.PurchaseItemId = @itemId )  
                                            AND ( @PurchaseItemTypeId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemTypeId = @PurchaseItemTypeId  
                                                )  
                                            AND ( @PurchaseItemCategoryId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId  
                                                )  
                                            AND ( @PurchaseItemGroupId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId  
                                                )  
                                            AND ( @CustomerId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemId IN (  
                                                  SELECT    PurchaseItemID  
                                                  FROM      CustomerPurchaseitemMappping  
                                                  WHERE     CustomerId = @CustomerId )  
                                                )  
                                            AND IsFoundryReturn = 'False'  
                                            AND LossItem IS NULL  
                                            and PurchaseCompanyMapping.CompanyId = @EntityId 
                                            AND (@IsAll = 1 or (dbo.PurchaseItemMaster.IsDeleted = @Block )) 
                                            AND ( @SysDepartmentID IS NULL  
												  OR PurchaseItemDepartmentMapping.DepartmentID = @SysDepartmentID  
												) 
											AND isnull(IsReturnSand,0) = 0
											AND IsEquipment = 0 
											and isnull(IsSandType ,0) = 0
											AND IsAsset = 0 
											AND PurchaseItemMaster.IsPattern = 0
           ) as PItem  
                                ) AS PurchaseItemMaster  
                        WHERE   PurchaseItemMaster.RowNo > ( @PageNumber  
                                                             * @PageSize )  
                        ORDER BY PurchaseItemMaster.[PurchaseItem] ASC  
                    END  
            END  
      
        IF @parameter = 2 --Total Records Query  
            BEGIN  
                SET @TotalRecords = ( SELECT DISTINCT  
                                                COUNT(PurchaseItemMaster.PurchaseItemId )  
                                      FROM      PurchaseItemMaster  
                                                LEFT JOIN UOMMaster AS u ON u.UOMid = PurchaseItemMaster.UnitOfMeasure  
                                                LEFT JOIN UOMMaster AS um ON um.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure  
                                                LEFT JOIN PurchaseItemTypeMaster ON PurchaseItemTypeMaster.PurchaseItemTypeId = PurchaseItemMaster.PurchaseItemTypeId  
                                                LEFT JOIN PurchaseItemCategoryMaster ON PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId  
                                                LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId  
                                                INNER JOIN PurchaseCompanyMapping ON  PurchaseCompanyMapping.PurchaseItemId  = PurchaseItemMaster.PurchaseItemId 
                                      WHERE     
                                                ( @ItemId IS NULL OR PurchaseItemMaster.PurchaseItemId = @itemId )  
                                                AND ( @PurchaseItemTypeId IS NULL  
                                                      OR PurchaseItemMaster.PurchaseItemTypeId = @PurchaseItemTypeId  
                                                    )  
                                                AND ( @PurchaseItemCategoryId IS NULL  
                                                      OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId  
                                                    )  
                                                AND ( @PurchaseItemGroupId IS NULL  
                                                      OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId  
                                                    )  
                                                AND ( @CustomerId IS NULL  
                                                      OR PurchaseItemMaster.PurchaseItemId IN (  
                                                      SELECT  PurchaseItemID  
                                                      FROM    CustomerPurchaseitemMappping  
                                                      WHERE   CustomerId = @CustomerId )  
                                                    )  
                                                AND IsFoundryReturn = 'False'  
                                                AND LossItem IS NULL                                            
                                            and PurchaseCompanyMapping.CompanyId = @EntityId 
                                            AND (@IsAll = 1 or (dbo.PurchaseItemMaster.IsDeleted = @Block )) 
                                            AND isnull(IsReturnSand,0) = 0
                                           AND IsEquipment = 0 
                                           and isnull(IsSandType ,0) = 0
                                           AND IsAsset = 0 
                                           AND PurchaseItemMaster.IsPattern = 0
                                    )  
                RETURN @TotalRecords  
            END  
            
             
        IF @parameter = 3   
            BEGIN  
                SELECT  ROW_NUMBER() OVER ( ORDER BY PItem.ItemName ASC ) AS SrNo ,  
      PItem.* from  
      ( select distinct   
                        PurchaseItemMaster.ItemCode ,  
                        PurchaseItemMaster.ItemName ,  
                        PITM.TypeName AS ItemType ,  
                       -- PurchaseItemMaster.ItemType ,  
                        u.UOM ,  
                        um.UOM AS SecondaryUnitOfMeasure ,  
                        PurchaseItemMaster.ConversionRatio ,  
                        PurchaseItemMaster.Remarks ,  
                        CASE WHEN IsCharge = 'false' THEN 'NO'  
                             ELSE 'YES'  
                        END AS ChargingMaterial ,  
                        CASE WHEN IsBOQ = 0 THEN 'NO'  
                             ELSE 'YES'  
                        END AS IsBOQ ,  
                        CASE WHEN IsMoldingMaterial = 0 THEN 'NO'  
                             ELSE 'YES'  
                        END AS IsMoldingMaterial ,  
                        CASE WHEN IsIssueAsConsumed = 0 THEN 'NO'  
                             ELSE 'YES'  
                        END AS IsIssueAsConsumed ,  
                        MinStockLevel ,  
                        MaxStockLevel ,  
                        MinOrderQty ,  
                        OrderLeadTime ,  
                        PurchaseItemMaster.PurchaseItemId ,  
                        dbo.PurchaseItemMaster.IsDeleted ,  
                        StoreMaster.StoreName ,  
                        PurchaseItemMaster.ShortCode ,  
                        PurchaseItemMaster.PackingSize ,  
                        PurchaseItemMaster.StoreLocation ,  
                        PurchaseItemMaster.ShelfLife ,  
                        PICM.CategoryName AS CategoryName ,  
                        PIGM.GroupName AS GroupName  
                FROM    PurchaseItemMaster  
                        LEFT JOIN UOMMaster AS u ON u.UOMid = PurchaseItemMaster.UnitOfMeasure  
                        LEFT JOIN StoreMaster ON PurchaseItemMaster.StoreId = StoreMaster.StoreId  
                        LEFT JOIN UOMMaster AS um ON um.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure  
                        LEFT JOIN PurchaseItemTypeMaster AS PITM ON PurchaseItemMaster.PurchaseItemtypeId = PITM.PurchaseItemTypeId  
                        LEFT JOIN PurchaseItemGroupMaster AS PIGM ON PurchaseItemMaster.PurchaseItemGroupId = PIGM.PurchaseItemGroupId  
                        LEFT JOIN PurchaseItemCategoryMaster AS PICM ON PurchaseItemMaster.PurchaseItemCategoryId = PICM.PurchaseItemCategoryId  
                        left join PurchaseItemDepartmentMapping on PurchaseItemDepartmentMapping.purchaseItemID = PurchaseItemMaster.PurchaseItemId 
                        INNER JOIN PurchaseCompanyMapping ON  PurchaseCompanyMapping.PurchaseItemId  = PurchaseItemMaster.PurchaseItemId  
                WHERE   
                --( PurchaseItemMaster.IsDeleted = 0 )  AND   
                        ( @ItemId IS NULL OR PurchaseItemMaster.PurchaseItemId = @itemId )  
                        AND ( @CustomerId IS NULL  
                              OR PurchaseItemMaster.PurchaseItemId IN (  
                              SELECT    PurchaseItemID  
                              FROM      CustomerPurchaseitemMappping  
                              WHERE     CustomerId = @CustomerId )  
                            )  
                        AND ( @PurchaseItemTypeId IS NULL  
                              OR PurchaseItemMaster.PurchaseItemTypeId = @PurchaseItemTypeId  
                            )  
                        AND ( @PurchaseItemCategoryId IS NULL  
                              OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId  
                            )  
                        AND ( @PurchaseItemGroupId IS NULL  
                              OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId  
                            )  
                        AND IsFoundryReturn = 'False'  
                        AND LossItem IS NULL  
                        and PurchaseCompanyMapping.CompanyId = @EntityId 
                        AND (@IsAll = 1 or (dbo.PurchaseItemMaster.IsDeleted = @Block ))  
                        AND ( @SysDepartmentID IS NULL  
							 OR PurchaseItemDepartmentMapping.DepartmentID = @SysDepartmentID  
						   )  
						AND isnull(IsReturnSand,0) = 0
						 AND IsEquipment = 0
						 and isnull(IsSandType ,0) = 0
						 AND IsAsset = 0 
						 AND PurchaseItemMaster.IsPattern = 0
       ) as PItem  
            END      
   
END
GO
