USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReturnSandDetails]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Yashvi Shah>
-- Create date: <18 June 2018>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ReturnSandDetails]
	@Parameter INT = 0,
	@Code VARCHAR(5) = NULL,
	@ItemName  VARCHAR(50) = NULL,
	@ItemCode VARCHAR(50) = NULL,
	@CreatedBy INT = 0,
	@ModifiedBy INT = 0,
	@EntityId INT = 0,
	@ReturnSandID UNIQUEIDENTIFIER = NULL
AS
BEGIN
	IF @Parameter = 1 --INSERT QUERY
	BEGIN
	 INSERT  INTO ReturnSandMaster
                                ( ReturnSandID ,
                                  ItemName ,
                                  ItemCode,
                                  CreatedBy,
                                  CreatedOn,
                                  IsDeleted,
                                  EntityId
                                )
                        VALUES  ( NEWID() ,  
								  @ItemName,
								  @ItemCode,
								  @CreatedBy,
								  GETDATE(),
								  0,
								  @EntityId
								  )
								  
	END
	
	IF @Parameter = 2 --UPDATE QUERY
	BEGIN
	UPDATE ReturnSandMaster
	SET ReturnSandMaster.ItemName = @ItemName,
	ReturnSandMaster.ModifiedBy = @ModifiedBy,
	ReturnSandMaster.ModifiedOn = GETDATE()
	WHERE ReturnSandMaster.ReturnSandID = @ReturnSandID
	END
	
	
	IF @Parameter = 3 --FETCH ALL DATA
	BEGIN
	SELECT ReturnSandMaster.ReturnSandID,
		   ReturnSandMaster.ItemName,
		   ReturnSandMaster.ItemCode
	       FROM ReturnSandMaster
	       WHERE IsDeleted = 0
	       ORDER BY ItemName
	END
	
	IF @Parameter = 4 --DELETE DATA
	BEGIN
	--THIS WILL CHECK IF @RETURNSANDID IS EXIST IN SANDTYPEPURCHASEITEMTRANS.PURCHASEITEMID COLUMN THEN
	--WE CANNOT DELETE THE RECORD.

	IF NOT EXISTS(SELECT SandTypePurchaseItemTrans.PurchaseItemId FROM SandTypePurchaseItemTrans
				WHERE SandTypePurchaseItemTrans.PurchaseItemId = @ReturnSandID AND SandTypePurchaseItemTrans.IsDeleted = 0)
				BEGIN
				
	DELETE FROM ReturnSandMaster
	WHERE (@ReturnSandID IS NULL OR ReturnSandMaster.ReturnSandID = @ReturnSandID)
				END
				ELSE
				BEGIN
				Return 1;
				END
	
	END
	
	
	IF @Parameter = 5 -- THIS WILL CHECK IF DUPLICATE CODE IS EXIST OR NOT.
	BEGIN
	
	 DECLARE @Exists INT
	 IF EXISTS(SELECT ReturnSandMaster.ReturnSandID
	           FROM ReturnSandMaster
	           WHERE ReturnSandMaster.ItemCode = @ItemCode
	           AND IsDeleted = 0)
      BEGIN
            SET @Exists = 1
      END
      ELSE
      BEGIN
            SET @Exists = 0
      END
 
      RETURN @Exists
	
	END
	
END
GO
