USE [ICAST_IMS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_Validate_Plant_Name]    Script Date: 02-02-2026 10:54:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ankit Prajapati	
-- Create date: 30-09-2021
-- Description:	Validate Plant name and return plant Id
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Validate_Plant_Name]
@plantName varchar(100)	
AS
BEGIN
  SET NOCOUNT ON;
  if exists(select 1 from [dbo].[PlantMaster] where IsDeleted = 0 and Lower(PlantName) = Lower(@plantName))  
	begin  
	SELECT top 1 PlantId from [dbo].[PlantMaster] where IsDeleted = 0 and Lower(PlantName) = Lower(@plantName)  
	end  
  else  
	begin  
    select 0 as PlantId;
	end  
END
GO
