USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchPrefix_Suffix]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchPrefix_Suffix] 
	@SeriesID INT = 0,
	@Applydate DATETIME = NULL
AS
--Declare @v_cnt int = 0;
BEGIN
--if @Applydate is not null
--BEGIN
--	select @v_cnt = count(1)
--		from Prefix_Suffix p
--		where p.Invoice_SeriesId =@SeriesId
--		and cast(p.Applydate as date) <= cast(@Applydate as date)
--END

	--if  @v_cnt = 0
	--BEGIN
	
	--		SELECT 
	--	   '' as Prefix,
	--	   '' as Separator,
	--	   '' as Suffix ,
 --         CAST('1753-01-01' AS date) AS Applydate;
	--	 END
	--else
	 BEGIN
	     SELECT top 1 
		   IsRawMaterial,
		   isProforma,
		   isnull(Prefix_Suffix.Prefix,'') as Prefix,
		   isnull(Prefix_Suffix.Separator,'') as Separator,
		   isnull(Prefix_Suffix.Suffix,'') as Suffix ,
		   cast(Prefix_Suffix.Applydate as date) as Applydate
		   FROM InvoiceSeries
		   INNER JOIN Prefix_Suffix
		   ON InvoiceSeries.SeriesId = Prefix_Suffix.Invoice_SeriesId
		   --InvoiceSeries.PrefixSuffixId = Prefix_Suffix.PrefixSuffixId
		   WHERE InvoiceSeries.SeriesId = @SeriesID
		    and cast(Prefix_Suffix.Applydate as date) <= cast(@Applydate as date)
		   order by Prefix_Suffix.Applydate desc;
	 END
	
END
GO
