USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Sp_HeatTreatmentCycle]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_HeatTreatmentCycle]
	-- Add the parameters for the stored procedure here
	@Parameter int = 0,
	@CycleName varchar(Max) = null,
	@CycleId int = 0,
	@Description varchar(Max) = null,
	@MetalId int = 0,
	@TCID bigint = 0 ,
	@DispatchID int =0 ,
	@TCDate DATE = NULL,
	@TCNo varchar(50) = null,
	@CastingID uniqueidentifier = null,
	@Id INT = 0,
	@ProcessSeq INT = 0,
	@ShortCode VARCHAR(120) = NULL
	, @Weights decimal(18,3) = 0
	, @CycleTime int = 0
	,@EntityID int = 0
	,@NonMandatory BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    if @Parameter = 1
    begin
		Insert into HeatTreatmentCycle
					(CycleName , Description,EntityID,NonMandatory)
		values(@CycleName,@Description,0,@NonMandatory)
		
		SET 
			@Id = SCOPE_IDENTITY();
					
		SET @ProcessSeq = (SELECT MAX(ProcessSequence) + 1 AS ProSeq FROM ProcessMaster)
		SET @ShortCode  = Cast(@CycleName as varchar(3))
		declare @Sequence int = 1;
		while((Select top 1 1 from ProcessMaster Where ShortCode = @ShortCode) = 1)
		begin
			Set @ShortCode = Cast(@ShortCode as varchar(3)) + Cast(@Sequence as varchar(2))
			Set @Sequence = @Sequence+1
		end	
		
		BEGIN
			INSERT INTO ProcessMaster(ProcessName, IsDeleted, CreatedBy, CreatedOn, IsDefault, AutoProcess, ProcessSequence, ShortCode, IsMachineShop, MenuStatus, IsReworkProcess, TmpProcess, IsStockTransReq, IsHT, IsFoundryReturn, InhouseProcessWaitTime, IsQCProcess, QCSeq, CycleId)
			VALUES(@CycleName, 0, 0, GETDATE(), 0, 0, @ProcessSeq, @ShortCode, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, @Id)
		END
					
    end
    --update HeatTreatmentCycle page
    if @Parameter = 2
    begin
		Update HeatTreatmentCycle 
		Set CycleName = @CycleName,
			Description = @Description,
			NonMandatory = @NonMandatory
		Where CycleId = @CycleId
				
		SET @ShortCode = SUBSTRING(@CycleName,1,2)
		UPDATE ProcessMaster
		SET ProcessName = @CycleName,
			ShortCode = @ShortCode
		Where CycleId = @CycleId
    end
    --delete record Heattreament cycle page
    if @Parameter = 3
    begin
		Delete from HeatTreatmentCycle Where CycleId = @CycleId 
		
		
		UPDATE ProcessMaster
		SET IsDeleted = 1
		Where CycleId = @CycleId
    end
	
	-- fetch detail in Heattreament cycle page
	if @Parameter = 4 
	begin
		Select 
	   ROW_NUMBER() OVER ( ORDER BY HeatTreatmentCycle.CycleId asc ) AS SrNo 
	  ,[CycleId]
      ,[CycleName]
      ,[Description]
      ,[Weights]
      ,[CycleTime]
      ,[EntityID]
      ,CASE WHEN [NonMandatory]  = 1 THEN 'YES' ELSE 'NO' END NonMandatory
      ,ISNULL(NonMandatory,0) as IsNonMandatory
	  ,(CAST( isnull(HeatTreatmentCycle.Weights,0) as nvarchar(50)) + '/' + CAST( isnull(HeatTreatmentCycle.CycleTime,0) as nvarchar(50))) as ViewCycleTime 
		 from 
		 HeatTreatmentCycle 
		
		
		 order by CycleId asc
	
	end
	
	--Check Cycle Name already exist
	if @Parameter = 5
	begin
		Select * from HeatTreatmentCycle 
		Where CycleName = @CycleName 
		and (@CycleId = 0 or CycleId != @CycleId)
		--and EntityID = @EntityID
		
	end
	
	--Fetch Description for showing and add in Heattreatment cycle tab in metal master
	if @Parameter = 6
	Begin
		Select HeatTreatmentCycle.Description, ISNULL(Weights,0.00) as Weights ,ISNULL(CycleTime,0) as CycleTime 
		from HeatTreatmentCycle 
		Where CycleId = @CycleId
		--and EntityID = @EntityID
		
	end
	
	--Check If HTCycel is mapped with metal Detail
	if @Parameter = 7
	begin
		Select * from HeatTreatmentCycleMapping 
		inner join HeatTreatmentCycle on HeatTreatmentCycle.CycleId = HeatTreatmentCycleMapping.CycleId
		Where HeatTreatmentCycleMapping.CycleId = @CycleId
		--and HeatTreatmentCycle.EntityID = @EntityID
		--and HeatTreatMentCycleMapping.EntityID = @EntityID
		
	end
	
	--Fetch CycleID and CycleName from MetalID If HTCycel is mapped with metal Detail
	if @Parameter = 8
	begin
		select HeatTreatmentCycle.CycleId,HeatTreatmentCycle.CycleName,HeatTreatMentCycleMapping.SrNo from HeatTreatmentCycle
		inner join HeatTreatMentCycleMapping on HeatTreatMentCycleMapping.CycleId  = HeatTreatmentCycle.CycleId
		where  MetalId = @MetalId
		--and HeatTreatmentCycle.EntityID = @EntityID
		--and HeatTreatMentCycleMapping.EntityID = @EntityID
		
		order by HeatTreatMentCycleMapping.SrNo
	end
	
	
	--Fetch HeatNo SockTemp , Time , cooling ,cycleno , date from MetalID and Cycle ID
	if @Parameter = 9
	begin
			select distinct
				1 as Select_,
				ProductionBatch.batchno as HeatNo,
				HTMaster.SoakTemp,				
				(CAST(DATEDIFF(second, HTMaster.SoakStartTime , HTMaster.EndTime) / 60 / 60 % 24  AS NVARCHAR(50)) + ' hrs '
					+ CAST(DATEDIFF(second, HTMaster.SoakStartTime ,HTMaster.EndTime ) / 60 % 60 AS NVARCHAR(50)) + ' min') as SoakTime,
				
				HTMaster.SoakStartTime,
				HTMaster.EndTime,
				ISNULL(HTMaster.CoolingMedia , '' ) as CoolingMedia,
				--HTMaster.CycleNo,
				(isnull(HTMaster.Prefix,'') 
					+ isnull(HTMaster.Separator,'') 
					+ HTMaster.CycleNo 
					+ ISNULL(HTMaster.Separator,'') 
					+ ISNULL(HTMaster.Suffix,'')) as CycleNo,
				( CONVERT(VARCHAR(50), HTMaster.HTDate, 106)) as HeatDate,
				--( CONVERT(VARCHAR(50), HTMaster.HTDate, 106)) as HeatDate,
				HTMaster.HTDate,
				HTMaster.HTId,
				HTMaster.CycleTypeId,			
				HTItemDetails.HTTransID,
				HTItemDetails.HeatID
				--, HTItemDetails.MetalID
				--, DispatchID
			from HTMaster
				inner join HTItemDetails on HTItemDetails.HTId = HTMaster.HTId
				inner join ProductionBatch on ProductionBatch.batchID = HTItemDetails.HeatID
				INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.productionbatchID = dbo.ProductionBatch.batchID
                INNER JOIN dbo.DispatchGradewise ON dbo.DispatchGradewise.BatchID = dbo.CastingStockBatch.Batchid
                INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchtransid = dbo.DispatchGradewise.DispatchTransID
                  
				and DispatchGradewise.MetalID = HTItemDetails.MetalID 
				and dispatchtrans.castingid = HTItemDetails.CastingId    
			where 
				DispatchID = @DispatchID
				and	HTMaster.CycleTypeId = @CycleId
				and HTItemDetails.MetalID = @MetalId
				and ProductionBatch.IsDeleted = 0
				and HTMaster.IsDeleted = 0
				And (@CastingID is null Or dispatchtrans.castingid = @CastingID)
			order by HTMaster.HTDate desc
			
			--select 
			--	1 as Select_,
			--	ProductionBatch.batchno as HeatNo,
			--	HTMaster.SoakTemp,				
			--	(CAST(DATEDIFF(second, HTMaster.SoakStartTime , HTMaster.EndTime) / 60 / 60 % 24  AS NVARCHAR(50)) + ' hrs '
			--		+ CAST(DATEDIFF(second, HTMaster.SoakStartTime ,HTMaster.EndTime ) / 60 % 60 AS NVARCHAR(50)) + ' min') as SoakTime,
				
			--	HTMaster.SoakStartTime,
			--	HTMaster.EndTime,
			--	ISNULL(HTMaster.CoolingMedia , '' ) as CoolingMedia,
			--	HTMaster.CycleNo,
			--	( CONVERT(VARCHAR(50), HTMaster.HTDate, 106)) as HeatDate,
			--	HTMaster.HTDate,
			--	HTMaster.HTId,
			--	HTMaster.CycleTypeId,			
			--	HTItemDetails.HTTransID,
			--	HTItemDetails.HeatID
				
			--from HTMaster
			--	inner join HTItemDetails on HTItemDetails.HTId = HTMaster.HTId
			--	inner join ProductionBatch on ProductionBatch.batchID = HTItemDetails.HeatID
			--where HTMaster.CycleTypeId = @CycleId
			--	and HTItemDetails.MetalID = @MetalId
			--	and ProductionBatch.IsDeleted = 0
			--	and HTMaster.IsDeleted = 0
			--order by HTMaster.HTDate desc
	end
	
	--Fetch Edit Time HeatNo SockTemp , Time , cooling ,cycleno , date from MetalID and Cycle ID
	if @Parameter = 10
	begin		
			select 
				1 as Select_,
				ProductionBatch.batchno as HeatNo,
				HTMaster.SoakTemp,				
				(CAST(DATEDIFF(second, HTMaster.SoakStartTime , HTMaster.EndTime) / 60 / 60 % 24  AS NVARCHAR(50)) + ' hrs '
					+ CAST(DATEDIFF(second, HTMaster.SoakStartTime ,HTMaster.EndTime ) / 60 % 60 AS NVARCHAR(50)) + ' min') as SoakTime,
				
				HTMaster.SoakStartTime,
				HTMaster.EndTime,
				ISNULL(HTMaster.CoolingMedia , '' ) as CoolingMedia,
				--HTMaster.CycleNo,
				(isnull(HTMaster.Prefix,'') 
					+ isnull(HTMaster.Separator,'') 
					+ HTMaster.CycleNo 
					+ ISNULL(HTMaster.Separator,'') 
					+ ISNULL(HTMaster.Suffix,'')) as CycleNo,
				( CONVERT(VARCHAR(50), HTMaster.HTDate, 106)) as HeatDate,
				--( CONVERT(VARCHAR(50), HTMaster.HTDate, 106)) as HeatDate,
				HTMaster.HTDate,
				HTMaster.HTId,
				HTMaster.CycleTypeId,			
				HTItemDetails.HTTransID,
				HTItemDetails.HeatID				
			from Test_HeatTreatment
				inner join HTMaster on Test_HeatTreatment.HTId = HTMaster.HTId
				inner join HTItemDetails on HTItemDetails.HTTransID = Test_HeatTreatment.HTTransID
				inner join ProductionBatch on ProductionBatch.batchID = Test_HeatTreatment.HeatID
				--inner join Test_Certficate on Test_Certficate.TCNo = Test_HeatTreatment.TCNo
				--	and Test_Certficate.TCDate = Test_HeatTreatment.TCDate
			where 
				Test_HeatTreatment.TCId = @TCID
				--and CAST(Test_HeatTreatment.TCDate AS DATE) = CAST(@TCDate AS DATE)
				and ProductionBatch.IsDeleted = 0
				and HTMaster.IsDeleted = 0
				and (@CycleId = 0 or Test_HeatTreatment.CycleTypeId = @CycleId)
				--and Test_Certficate.isDeleted = 0
			order by HTMaster.HTDate desc
	end
	if @Parameter = 11
	begin
		Select * from HeatTreatmentCycle 
		Inner Join HTMaster on HeatTreatmentCycle.CycleId = HTMaster.CycleTypeId
		Inner Join HTItemDetails On HTItemDetails.HTId = HTMaster.HTId
		Where MetalId = @MetalId
		--and HeatTreatmentCycle.EntityID = @EntityID
		
		and CycleId = @CycleId
		and HTMaster.IsDeleted = 0 
	end

	--update HeatTreatmentCycle Cycle Time
    if @Parameter = 12
    begin
		Update HeatTreatmentCycle 
		Set Weights = @Weights,
			CycleTime = @CycleTime
		Where CycleId = @CycleId
		--and HeatTreatmentCycle.EntityID = @EntityID
		
    end
    
END
GO
