USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[HeatNo_CustomerReturn_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================          
-- Author:  <Author,,Name>          
-- Create date: <Create Date,,>          
-- Description: <Description,,>          
-- =============================================          
CREATE PROCEDURE [dbo].[HeatNo_CustomerReturn_Register]
    @EntityID INT = 0 ,          
	@FromDate DATETIME = NULL , 
	@ToDate DATETIME = NULL,
	@CastingId UNIQUEIDENTIFIER = NULL
AS          
    BEGIN          
    
		SET NOCOUNT ON;          
		
		---- sp Production Parameter 120
			SELECT DISTINCT                                    
					BatchNo as HeatNo,
					BatchId                                     
			FROM    CustomerReturnMaster                                     
					INNER JOIN CustomerReturnTrans ON CustomerReturnMaster.ReturnId = CustomerReturnTrans.ReturnId 
					Inner Join ProductionBatch On ProductionBatch.BatchId = CustomerReturnTrans.heatId                                   
					AND ( @CastingId IS NULL                                    
							OR CustomerReturnTrans.PartId = @CastingId                                    
							)                                                                        
			WHERE   ProductionBatch.EntityId = @EntityId
					AND ( (@FromDate IS NULL AND @ToDate IS NULL)         
							OR CONVERT(DATE, Returndate) BETWEEN CONVERT(DATE, @FromDate) AND CONVERT(DATE, @ToDate)        
                        ) 
                   
END 
GO
