USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[JRNO_JobReturn_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================          
-- Author:  <Author,,Name>          
-- Create date: <Create Date,,>          
-- Description: <Description,,>          
-- =============================================          
CREATE PROCEDURE [dbo].[JRNO_JobReturn_Register]
    @EntityID INT = 0 ,          
	@FromDate DATETIME = NULL , 
	@ToDate DATETIME = NULL,
	@PlantIdString VARCHAR(MAX) = NULL,
	@PageName varchar(50)=null
AS          
    BEGIN          
    
		SET NOCOUNT ON;          
		declare @Plant table (Item int) 
		if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
		begin
			Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
		End
		---- sp SP_JobReturn Parameter  11
			SELECT DISTINCT
                    JRID ,
					  ISNULL(Prefix,' ')
					+ ISNULL(Separator,' ')
                    + CONVERT(VARCHAR(50),JRNO) + ' / ' + CONVERT(VARCHAR(20), JRDate, 106)
					+ ISNULL(Separator,' ')
					+ ISNULL(Suffix,' ')
					AS JRNO
            FROM    dbo.JobReturnMaster
            WHERE   IsDeleted = 0   
					AND ( @PlantIdString IS NULL OR @PlantIdString = '' Or JobReturnMaster.PlantId in (SELECT Item FROM @Plant))
                    AND JobReturnMaster.EntityID = @EntityId 
					AND cast(JobReturnMaster.JRDate as date) BETWEEN cast(@FromDate as date) AND cast(@ToDate as date)        
					AND (@PageName IS NULL OR
							(@PageName  = 'ITCMapping5C' and JobReturnMaster.IsDispatchFromSupplier = 1  ))
END 
GO
