USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[InvoiceExcel]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InvoiceExcel]
	    @IfActive BIT = 0 ,        
	      @IsExport BIT = 0 ,        
	        @EntityID INT = 0,        
	         @CustomerID UNIQUEIDENTIFIER = NULL ,        
    @CastingId UNIQUEIDENTIFIER = NULL ,
           @StartDate DATETIME = NULL ,        
    @EndDate DATETIME = NULL ,        
@ChallanNo VARCHAR(100) = NULL ,    
 @SeriesId INT = 0 ,        
@InvoiceNo VARCHAR(50) = NULL ,        
    @DispatchSlipNo VARCHAR(50) = NULL ,   
    
    @CastingName VARCHAR(100) = NULL ,    
    @PlantIdString VARCHAR(MAX) = NULL,       
    @ps_PageName varchar(Max) = NULL         
AS
BEGIN
declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	            
             SELECT ROW_NUMBER() OVER ( ORDER BY a.DispatchID DESC ) AS SrNo,*        
            FROM (        
                SELECT  --ROW_NUMBER() OVER ( ORDER BY dispatchmaster.Dispatchslipno DESC ) AS SrNo ,        
                        CASE WHEN @IfActive = 1        
                             THEN CustomerMaster.CustomerCode        
                             ELSE CustomerMaster.CustomerName        
                        END CustomerName ,        
                        dispatchmaster.customerID ,        
       CASE WHEN dispatchmaster.Prefix IS NULL         
        THEN ''        
       ELSE CONVERT(VARCHAR(50), dispatchmaster.Prefix)        
        END +         
       CASE WHEN dispatchmaster.Separator IS NULL         
        THEN ''        
                            ELSE CONVERT(VARCHAR(50), dispatchmaster.Separator)        
        END +         
       CONVERT(VARCHAR(50), dispatchmaster.Dispatchslipno) +        
       CASE WHEN dispatchmaster.Separator IS NULL         
        THEN ''        
                           ELSE CONVERT(VARCHAR(50), dispatchmaster.Separator)        
        END +         
         CASE WHEN dispatchmaster.Suffix IS NULL         
        THEN ''        
                           ELSE CONVERT(VARCHAR(50), dispatchmaster.Suffix)        
        END AS InvoiceNo ,        
                        dispatchmaster.EntryNo ,        
                        CONVERT(VARCHAR(11), dispatchmaster.dispatchdate, 106) AS InvoiceDate ,        
                        ISNULL(dispatchmaster.GrossAmount, 0) AS 'TotalAmountExTax' ,        
                        ISNULL(dispatchmaster.TotalAmount, 0) AS 'TotalAmountInclTax' ,        
                        ISNULL(dispatchmaster.GrossAmountInCurrency, 0) AS 'TotalAmountExTaxInCurrency' ,        
                        ISNULL(dispatchmaster.TotalAmountInCurrency, 0) AS 'TotalAmountInclTaxInCurrency' ,        
                        dispatchmaster.DispatchID ,        
                        CurrencyMaster.Symbol ,        
                        --ISNULL(dispatchmaster.PfCharges, 0) AS PfCharges ,        
                         0 as PfCharges,        
                        ISNULL(dispatchmaster.Excise, 0) AS Excise ,        
                        ISNULL(dispatchmaster.PatternExcise, 0) AS PatternExcise ,        
                        ISNULL(dispatchmaster.AddVat, 0) AS AddVat ,        
                        ISNULL(dispatchmaster.AddDutyAmount, 0) AS AddDutyAmount ,        
                        ISNULL(dispatchmaster.EduCess, 0) AS EduCess ,        
                        ISNULL(dispatchmaster.HighEduCess, 0) AS HighEduCess ,        
                        ISNULL(dispatchmaster.Carting, 0) AS Carting ,        
                        CASE WHEN dispatchmaster.InvoiceType = 'Tax Invoice'        
                             THEN ISNULL(dispatchmaster.Vat, 0)        
                             ELSE '0'        
                        END AS Vat ,        
                        CASE WHEN dispatchmaster.InvoiceType = 'Retail Invoice'        
                             THEN ISNULL(dispatchmaster.Vat, 0)        
                             ELSE '0'        
                        END AS CST ,        
                        ISNULL(SUM(dbo.dispatchtrans.TotalWeight), 0) AS TotalWeight ,        
                        dbo.dispatchmaster.SoldAgainstForm ,        
                        ISNULL(payamount.PaymentAmount, 0) AS PaymentAmount ,        
                        --ISNULL(dispatchmaster.DisAmount, 0) AS DisAmount ,        
                        ISNULL(dispatchmaster.ExpDisAmount, 0) AS DisAmount ,        
                        ISNULL(IncoTerms,'') AS IncoTerms ,        
                        ISNULL(dispatchmaster.CurrencyMultiplier, 0) AS CurrencyMultiplier        
                        ,Dispatchmaster.dispatchdate        
                FROM    dispatchmaster        
                        INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId        
                        LEFT JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid        
                                                   AND ( dispatchtrans.IsDeleted = 0 )        
                        INNER JOIN dbo.CurrencyMaster ON dbo.CurrencyMaster.CurrencyID = dbo.dispatchmaster.Currency        
                        LEFT JOIN ( SELECT  SUM(PaymentAmount) AS PaymentAmount ,        
                                            DispatchID        
                                    FROM    PaymentRecepitTrans        
                                    GROUP BY DispatchID        
                                  ) payamount ON payamount.DispatchID = dispatchmaster.DispatchID        
                         
                WHERE   ( dispatchmaster.IsInvoice = 'INVOICE' )        
                        AND ( dispatchmaster.IsExport = @IsExport )        
                        AND ( dispatchmaster.IsDeleted = 0 )        
                        AND ( @CustomerID IS NULL        
                              OR DispatchMaster.CustomerID = @CustomerID        
                            )        
                        AND ( @InvoiceNo IS NULL        
                              OR RefInvNo = @InvoiceNo        
                            )        
                        AND ( @DispatchSlipNo IS NULL        
                              OR dispatchmaster.DispatchID = @DispatchSlipNo        
                            )        
                        --AND ( @CastingID IS NULL        
                        --      OR dispatchmaster.DispatchID IN (        
                        --      SELECT DISTINCT        
                        --                DispatchID        
                        --      FROM      DispatchTrans        
                        --      WHERE     CastingiD = @CastingID )        
                        --    )        
                        --AND ( @CastingName IS NULL        
                        --      OR dispatchmaster.DispatchID IN (        
                        --      SELECT DISTINCT        
                        --                DispatchID        
                        --      FROM      DispatchTrans        
    --                INNER JOIN CastingMaster ON CastingMaster.CastingID = DispatchTrans.CastingID        
                        --      WHERE     CastingName = @CastingName )        
                        --    )        
                        AND  ((@ps_PageName = 'CustomerOrder' and( @CastingID IS NULL        
                                                  OR dispatchmaster.DispatchID IN (        
                                                  SELECT DISTINCT        
                                                        DispatchID        
                                              FROM      DispatchTrans        
                                              WHERE     castingid = @CastingID        
                                                            AND IsDeleted = 0 ))        
                                                )        
            OR  (@ps_PageName = 'RawMaterial' and (@CastingID IS NULL        
               OR dispatchmaster.DispatchID IN (        
               SELECT DISTINCT        
                DispatchID        
                                              FROM      DispatchTrans        
               WHERE     PurchaseItemID = @CastingID        
                AND IsDeleted = 0 )        
             ))        
                                                )        
                                            AND ((@ps_PageName = 'CustomerOrder' and (@CastingName IS NULL        
                                                  OR dispatchmaster.DispatchID IN (        
                                                  SELECT DISTINCT        
                                                        DispatchID        
                                              FROM      DispatchTrans ,        
                                                        CastingMaster        
                                    WHERE     CastingMaster.CastingId = DispatchTrans.PartId        
                                                            AND CastingName = @CastingName        
                                                            AND DispatchTrans.IsDeleted = 0 ))        
                                                )        
            OR (@ps_PageName = 'RawMaterial' and (@CastingName IS NULL        
               OR dispatchmaster.DispatchID IN (        
               SELECT DISTINCT        
               DispatchID        
            FROM  DispatchTrans ,        
               PurchaseItemMaster        
                                                  WHERE     PurchaseItemMaster.PurchaseItemId = DispatchTrans.PurchaseItemID        
                                                            AND PurchaseItemMaster.ItemName = @CastingName        
                                                            AND DispatchTrans.IsDeleted = 0 ))        
             )        
            )        
                    AND ( @StartDate IS NULL        
                              OR @EndDate IS NULL        
                              OR DispatchMaster.DispatchDate BETWEEN @StartDate        
                                                             AND        
                                                              @EndDate        
                            )        
                        AND ( @ChallanNo IS NULL        
                              OR ChallanNo = @ChallanNo        
                            )        
                        AND ( @SeriesId = 0        
                              OR SeriesId = @SeriesId        
                            )        
                        AND dispatchmaster.EntityID = @EntityId        
                        AND (@PlantIdString IS NULL         
      OR @PlantIdString = ''        
      OR DispatchMaster.PlantID IN (        
       SELECT Item FROM @Plant )        
      )        
       --AND ( (@ps_PageName = 'CustomerOrder' and Dispatchmaster.Dispatchid          
       -- in (SElect dispatchid from dispatchtrans where CastingId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)))        
       --Or (@ps_PageName = 'RawMaterial' and Dispatchmaster.Dispatchid in        
       -- (SElect dispatchid from dispatchtrans where PurchaseItemId is not null Or         
       --             PurchaseItemId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)))        
       --)        
       AND ( (@ps_PageName = 'CustomerOrder' and Dispatchmaster.Dispatchid          
           in (SElect dispatchid from dispatchtrans where CastingId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)        
            UNION ALL (SELECT DispatchID from DispatchSetItemTrans where IsDeleted = 0)        
            UNION ALL (SELECT Dispatchid from DispatchServiceItemTrans where IsDeleted = 0)))        
          Or (@ps_PageName = 'RawMaterial' and Dispatchmaster.Dispatchid in        
           (SElect dispatchid from dispatchtrans where PurchaseItemId is not null Or         
                       PurchaseItemId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)))        
          )        
                GROUP BY dispatchmaster.Dispatchslipno ,        
                        dispatchmaster.EntryNo ,        
                        dispatchmaster.customerID ,        
                        dispatchmaster.GrossAmount ,        
                        dispatchmaster.TotalAmount ,        
                        dispatchmaster.DispatchID ,        
                        CustomerMaster.CustomerName ,        
                        CustomerMaster.CustomerCode ,        
                        dispatchmaster.dispatchdate ,        
                        dispatchmaster.GrossAmountInCurrency ,        
                        dispatchmaster.totalAmountInCurrency ,        
                        CurrencyMaster.Symbol ,        
                        dispatchmaster.PfCharges ,        
                   dispatchmaster.Excise ,        
                        dispatchmaster.PatternExcise ,        
                        dispatchmaster.EduCess ,        
                        dispatchmaster.HighEduCess ,        
                        dispatchmaster.Carting ,        
                        dispatchmaster.Vat ,        
                        dispatchmaster.AddVat ,        
                        dispatchmaster.AddDutyAmount ,        
                        dispatchmaster.InvoiceType ,        
                        dispatchmaster.SoldAgainstForm ,        
                        payamount.PaymentAmount ,        
                        dispatchmaster.ExpDisAmount ,        
                        dispatchmaster.prefix ,        
                        dispatchmaster.Suffix ,        
                        dispatchmaster.Separator ,        
                        dispatchmaster.IncoTerms ,        
                        dispatchmaster.CurrencyMultiplier        
                                
        
    ) as a        
                ORDER BY a.dispatchDate desc        
              --  ORDER BY dispatchmaster.DispatchID        
              
              
              
      -- Charges detail with dispatch        
              
                SELECT  dispatchmaster.DispatchID ,        
                        CASE WHEN LedgerMaster.ChargeId IS NULL        
                             THEN CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)        
                     ELSE LedgerMaster.ChargeId        
                        END AS ChargeId ,        
                        LedgerMaster.ChargeName ,        
                        CASE WHEN @IsExport = 0        
       THEN ISNULL(DispatchOtherCharges.ChargeAmount, 0)        
       ELSE ISNULL(ChargeAmountInCurrency, 0) END AS ChargeAmount ,        
                        DispatchOtherCharges.SrNo AS ChargeSrNo        
                FROM    dispatchmaster        
                        LEFT JOIN DispatchOtherCharges ON DispatchOtherCharges.DispatchId = dispatchmaster.DispatchID        
                        LEFT JOIN LedgerMaster ON LedgerMaster.ChargeID = DispatchOtherCharges.ChargeId        
                WHERE   ( dispatchmaster.IsInvoice = 'INVOICE' )        
                        AND ( dispatchmaster.IsExport = @IsExport )        
                        AND ( dispatchmaster.IsDeleted = 0 )        
                        AND ( @CustomerID IS NULL        
                              OR DispatchMaster.CustomerID = @CustomerID        
                            )        
                        AND ( @InvoiceNo IS NULL        
 OR RefInvNo = @InvoiceNo        
                            )        
                        AND ( @DispatchSlipNo IS NULL        
                              OR dispatchmaster.DispatchID = @DispatchSlipNo        
                            )        
                        --AND ( @CastingID IS NULL        
                        --      OR dispatchmaster.DispatchID IN (        
                        --      SELECT DISTINCT        
                        --                DispatchID        
                        --      FROM      DispatchTrans        
                        --      WHERE     CastingiD = @CastingID )        
                        --    )        
                        --AND ( @CastingName IS NULL        
                        --      OR dispatchmaster.DispatchID IN (        
                        --      SELECT DISTINCT        
                        --                DispatchID        
                        --      FROM      DispatchTrans        
                        --                INNER JOIN CastingMaster ON CastingMaster.CastingID = DispatchTrans.CastingID        
                        --      WHERE CastingName = @CastingName )        
                        --    )        
                        AND  ((@ps_PageName = 'CustomerOrder' and( @CastingID IS NULL        
                  OR dispatchmaster.DispatchID IN (        
                                                  SELECT DISTINCT        
                                                        DispatchID        
                                              FROM      DispatchTrans        
                                              WHERE     castingid = @CastingID        
                                                            AND IsDeleted = 0 ))        
                                                )        
            OR  (@ps_PageName = 'RawMaterial' and (@CastingID IS NULL        
               OR dispatchmaster.DispatchID IN (        
               SELECT DISTINCT        
                DispatchID        
                                              FROM      DispatchTrans        
               WHERE     PurchaseItemID = @CastingID        
                AND IsDeleted = 0 )        
             ))        
                                                )        
                                            AND ((@ps_PageName = 'CustomerOrder' and (@CastingName IS NULL        
                                                  OR dispatchmaster.DispatchID IN (        
                                                  SELECT DISTINCT        
                                                        DispatchID        
                                              FROM      DispatchTrans ,        
                                                        CastingMaster        
                                                  WHERE     CastingMaster.CastingId = DispatchTrans.PartId        
                                                            AND CastingName = @CastingName        
                                                            AND DispatchTrans.IsDeleted = 0 ))        
                              )        
            OR (@ps_PageName = 'RawMaterial' and (@CastingName IS NULL        
               OR dispatchmaster.DispatchID IN (        
               SELECT DISTINCT        
               DispatchID        
            FROM  DispatchTrans ,        
               PurchaseItemMaster        
                                                  WHERE     PurchaseItemMaster.PurchaseItemId = DispatchTrans.PurchaseItemID        
                                                            AND PurchaseItemMaster.ItemName = @CastingName        
                                                            AND DispatchTrans.IsDeleted = 0 ))        
             )        
            )        
                        AND ( @StartDate IS NULL        
                              OR @EndDate IS NULL        
                              OR DispatchMaster.DispatchDate BETWEEN @StartDate        
                                                             AND        
                                                              @EndDate        
 )        
                        AND ( @ChallanNo IS NULL        
                              OR ChallanNo = @ChallanNo        
                            )        
                        AND ( @SeriesId = 0        
                              OR SeriesId = @SeriesId        
                            )        
                            AND (@PlantIdString IS NULL         
       OR @PlantIdString = ''        
       OR DispatchMaster.PlantID IN (        
        SELECT Item FROM @Plant )        
       )        
       --AND ( (@ps_PageName = 'CustomerOrder' and Dispatchmaster.Dispatchid          
       -- in (SElect dispatchid from dispatchtrans where CastingId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)))        
       --Or (@ps_PageName = 'RawMaterial' and Dispatchmaster.Dispatchid in        
       -- (SElect dispatchid from dispatchtrans where PurchaseItemId is not null Or         
       --             PurchaseItemId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)))        
       --)        
       AND ( (@ps_PageName = 'CustomerOrder' and Dispatchmaster.Dispatchid          
  in (SElect dispatchid from dispatchtrans where CastingId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)        
            UNION ALL (SELECT DispatchID from DispatchSetItemTrans where IsDeleted = 0)        
            UNION ALL (SELECT Dispatchid from DispatchServiceItemTrans where IsDeleted = 0)))        
          Or (@ps_PageName = 'RawMaterial' and Dispatchmaster.Dispatchid in        
           (SElect dispatchid from dispatchtrans where PurchaseItemId is not null Or         
                       PurchaseItemId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)))        
          )        
       And dispatchmaster.entityid = @EntityId        
                --GROUP BY dispatchmaster.Dispatchslipno ,        
                --        dispatchmaster.DispatchID ,        
                --        dispatchmaster.customerID ,        
                --        LedgerMaster.ChargeId ,        
                --        LedgerMaster.ChargeName ,        
                --        DispatchOtherCharges.ChargeAmount ,        
                --        DispatchOtherCharges.SrNo        
                --ORDER BY --DispatchOtherCharges.SrNo ,        
                      --  dispatchmaster.DispatchID        
                
                            

END

GO
