USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Update_FoundryReturn]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Update_FoundryReturn]
    @PurchaseItemID UNIQUEIDENTIFIER ,
    @StockToAdd FLOAT = 0,
   -- @Tagging VARCHAR(50) ,
    @Process VARCHAR(50) ,
    @ProcessCode VARCHAR(MAX) ,
    @ProcessDate DATETIME ,
    @UserID BIGINT ,
    @ConsumptionMethod BIT = NULL ,
    @IsInwardBatchWise BIT = 0 ,
    @RawBatchNo VARCHAR(50) = NULL ,
    @BatchDetails XML = NULL ,
    @RawBatchId INT = 0 ,
    @TransactionQty FLOAT = 0,
    @ExpiryDate DATETIME = NULL,
    @ItemSizePara VARCHAR(50) = NULL,
    @IfIssueForOtherPurpose bit=0  -- If issue for other purpose flag is on then no need to transfer to on floor stock even if it is Charging or boq or molding material
	, @PlantId int = 0
	, @EntityID int = 0
AS
    BEGIN
        BEGIN TRANSACTION
        
        SET @RawBatchNo = ( SELECT TOP 1 ItemName FROM  dbo.PurchaseItemMaster
                                                        WHERE PurchaseItemId = @PurchaseItemID
                                                      ) + '-RB'  
          
        if exists ( SELECT  top 1 RawBatchId
                                        FROM    dbo.RawInwBatchWiseStock
                                        WHERE   PurchaseItemId = @PurchaseItemID
												AND RawBatchNo = @RawBatchNo
												AND PlantId = @PlantId
												and EntityId = @EntityID
												)
		begin                                          
			SET @RawBatchId = ( SELECT  top 1 RawBatchId
                                        FROM    dbo.RawInwBatchWiseStock
                                        WHERE   PurchaseItemId = @PurchaseItemID
												AND RawBatchNo = @RawBatchNo 
												AND PlantId = @PlantId
												and EntityId = @EntityID 
												) 
		end
		else
		begin
			insert into RawInwBatchWiseStock (PurchaseItemId , RawBatchNo,Qty,PlantId,EntityId)
			values (@PurchaseItemID,@RawBatchNo,0,@PlantId,@EntityID)
			
			SET @RawBatchId = SCOPE_IDENTITY();			
		end							                                      
                           
        if @IsInwardBatchWise = 1
        begin               
			IF EXISTS ( SELECT  * FROM    dbo.FloorBatchWiseStock
						WHERE   PurchaseItemID = @PurchaseItemID 
								and RawBatchId = @RawBatchId
								and PlantId = @PlantId
								and EntityId = @EntityID)
			BEGIN
			             
				UPDATE  FloorBatchWiseStock
				SET     stock = stock + @StockToAdd
				WHERE   PurchaseItemID = @PurchaseItemID
				and RawBatchId = @RawBatchId
			    and PlantId = @PlantId
			    and EntityId = @EntityID

				IF @@Error <> 0
				ROLLBACK  TRANSACTION
			                       
				Insert into FloorHistoryTransaction (InOut,Tagging,ItemId,TransactionQty,RawBatchId,EntityId,PlantId,ProcessDate,CreatedOn)
				select	InOut,TaggingType,@PurchaseItemId,@StockToAdd,@RawBatchId,@EntityId,@PlantId,@ProcessDate,GetDate()
				From	TaggingTable Where Tagging =  'Foundry Return' and IsFloor = 1
								 
					IF @@Error <> 0
					ROLLBACK  TRANSACTION
			END
			ELSE
			BEGIN								
				INSERT  INTO dbo.FloorBatchWiseStock
						( BatchStockId,PurchaseItemId, Stock ,RawBatchId ,PlantId ,EntityId)
				VALUES  ( NEWID(), @PurchaseItemID, -- PurchaseItemId - uniqueidentifier
							@StockToAdd  -- Stock - numeric
							, @RawBatchId
							,@PlantId
							,@EntityID
							)	
							IF @@Error <> 0
								ROLLBACK  TRANSACTION
									
				Insert into FloorHistoryTransaction (InOut,Tagging,ItemId,TransactionQty,RawBatchId,EntityId,PlantId,ProcessDate,CreatedOn)
				select	InOut,TaggingType,@PurchaseItemId,@StockToAdd,@RawBatchId,@EntityId,@PlantId,@ProcessDate,GetDate()
				From	TaggingTable Where Tagging =  'Foundry Return' and IsFloor = 1
								 
					IF @@Error <> 0
					ROLLBACK  TRANSACTION
			                                  
			END  
        end
         
        IF EXISTS ( SELECT  * FROM    dbo.FloorInventoryDetails
                            WHERE   PurchaseItemID = @PurchaseItemID
                            and PlantId = @PlantId
                            and Entity = @EntityID
                             )
                    BEGIN
             
                        UPDATE  FloorInventoryDetails
                        SET     stock = stock + @StockToAdd
                        WHERE   PurchaseItemID = @PurchaseItemID
                        and PlantId = @PlantId
                            and Entity = @EntityID
                         IF @@Error <> 0
                            ROLLBACK  TRANSACTION
                        
                    END
                ELSE
                    BEGIN
                        INSERT  INTO dbo.FloorInventoryDetails
                                ( StockId, PurchaseItemId, Stock ,PlantId,Entity )
                        VALUES  ( NEWID(), @PurchaseItemID, -- PurchaseItemId - uniqueidentifier
                                  @StockToAdd  -- Stock - numeric
								  ,  @PlantId
								  ,  @EntityID
                                  )	
                                   IF @@Error <> 0
                                        ROLLBACK  TRANSACTION
                                  
                    END           
          
                     
        COMMIT TRANSACTION

    END
GO
