USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Dewaxing_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[Dewaxing_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,  
     
    @CastingID UNIQUEIDENTIFIER = NULL ,
@OperatorID INT = 0 ,
@StartDate DATE = NULL ,
    @Enddate DATE = NULL ,
    
	@PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityId INT = 0 
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	 
              IF @Parameter = 1 -- Fetch Data for Register
            BEGIN
    
                IF @InitialLoad = 1
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT --TOP ( @PageSize )
                                            ROW_NUMBER() OVER ( ORDER BY EntryNo DESC ) AS SerialNo ,
                                            WaxDewaxingID ,
                                            EntryNo ,
                                            CONVERT(VARCHAR(11), DeWaxingDate, 106) AS DeWaxingDate ,
                                            Shift ,
                                            CONVERT(VARCHAR, StartTime, 100) AS [StartTime] ,
                                            CONVERT(VARCHAR, EndTime, 100) AS [EndTime] ,
                                            ItemName AS WaxReturnTo ,
                                            ReturnQty ,
                                            ( EmployeeDetails.EmployeeName
                                              + ' ('
                                              + EmployeeDetails.EmployeeCode
                                              + ')' ) AS OperatorName
                                  FROM      dbo.WaxDewaxingMaster
                                            INNER JOIN EmployeeDetails ON WaxDewaxingMaster.OperatorID = EmployeeDetails.EmployeeId
                                            INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.WaxDeWaxingMaster.PurchaseItemID
                                  WHERE     WaxDewaxingMaster.IsDeleted = 0
                                            AND ( @Enddate IS NULL
                                                  OR DewaxingDate BETWEEN @Startdate AND @Enddate
                                                )
                                            AND ( @CastingID IS NULL
                                                  OR WaxDeWaxingMaster.WaxDewaxingID IN (
                                                  SELECT DISTINCT
                                                            WaxDewaxingID
                                                  FROM      dbo.WaxDeWaxingDetails
                                                            INNER JOIN dbo.WaxDeWaxingDetailsTrans ON dbo.WaxDeWaxingDetailsTrans.DeWaxingDetailId = dbo.WaxDeWaxingDetails.DeWaxingDetailId
                                                            INNER JOIN WaxAssemblyMaster ON WaxAssemblyMaster.WaxAssemblyTypeID = WaxDeWaxingDetailsTrans.WaxAssemblyTypeID
                                                            INNER JOIN WaxAssemblyTrans ON WaxAssemblyTrans.AssemblyID = WaxAssemblyMaster.AssemblyID
                                                  WHERE     WaxAssemblyTrans.CastingID = @CastingID )
                                                )
                                            AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR WaxDeWaxingMaster.WaxDewaxingID IN (
                                                  SELECT DISTINCT
                                                            WaxDewaxingID
                                                  FROM      dbo.WaxDeWaxingDetails
                                                            INNER JOIN dbo.WaxDeWaxingDetailsTrans ON dbo.WaxDeWaxingDetailsTrans.DeWaxingDetailId = dbo.WaxDeWaxingDetails.DeWaxingDetailId
                                                            INNER JOIN WaxAssemblyMaster ON WaxAssemblyMaster.WaxAssemblyTypeID = WaxDeWaxingDetailsTrans.WaxAssemblyTypeID
                                                            INNER JOIN WaxAssemblyTrans ON WaxAssemblyTrans.AssemblyID = WaxAssemblyMaster.AssemblyID
                                                  WHERE     WaxAssemblyTrans.CastingID IN (
                                                            SELECT
                                                              CastingId
                                                            FROM
                                                              dbo.PlantCastingMapping
                                                              where PlantId in (SELECT Item FROM @Plant) ) )
                                                )
                                            AND WaxDeWaxingMaster.EntityID = @EntityId
                                ) AS DeWaxing
                        ORDER BY SerialNo
                    END
                ELSE
                    BEGIN
			
                        SELECT  *
                        FROM    ( SELECT TOP ( @PageSize )
                                            ROW_NUMBER() OVER ( ORDER BY EntryNo DESC ) AS SerialNo ,
                                            WaxDewaxingID ,
                                            EntryNo ,
                                            CONVERT(VARCHAR(11), DeWaxingDate, 106) AS DeWaxingDate ,
                                            Shift ,
                                            CONVERT(VARCHAR, StartTime, 100) AS [StartTime] ,
                                            CONVERT(VARCHAR, EndTime, 100) AS [EndTime] ,
                                            ItemName AS WaxReturnTo ,
                                            ReturnQty ,
                                            ( EmployeeDetails.EmployeeName
                                              + ' ('
                                              + EmployeeDetails.EmployeeCode
                                              + ')' ) AS OperatorName
                                  FROM      dbo.WaxDeWaxingMaster
                                            INNER JOIN EmployeeDetails ON WaxDeWaxingMaster.OperatorID = EmployeeDetails.EmployeeId
                                            INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.WaxDeWaxingMaster.PurchaseItemID
                                  WHERE     WaxDeWaxingMaster.IsDeleted = 0
                                            AND ( @Enddate IS NULL
                                                  OR DewaxingDate BETWEEN @Startdate AND @Enddate
                                                )
                                            AND ( @CastingID IS NULL
                                                  OR WaxDeWaxingMaster.WaxDewaxingID IN (
                                                  SELECT DISTINCT
                                                            WaxDewaxingID
                                                  FROM      dbo.WaxDeWaxingDetails
                                                            INNER JOIN dbo.WaxDeWaxingDetailsTrans ON dbo.WaxDeWaxingDetailsTrans.DeWaxingDetailId = dbo.WaxDeWaxingDetails.DeWaxingDetailId
                                                            INNER JOIN WaxAssemblyMaster ON WaxAssemblyMaster.WaxAssemblyTypeID = WaxDeWaxingDetailsTrans.WaxAssemblyTypeID
                                                            INNER JOIN WaxAssemblyTrans ON WaxAssemblyTrans.AssemblyID = WaxAssemblyMaster.AssemblyID
                                                  WHERE     WaxAssemblyTrans.CastingID = @CastingID )
                                                )
                                            AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR WaxDeWaxingMaster.WaxDewaxingID IN (
                                                  SELECT DISTINCT
                                                            WaxDewaxingID
                                                  FROM      dbo.WaxDeWaxingDetails
                                                            INNER JOIN dbo.WaxDeWaxingDetailsTrans ON dbo.WaxDeWaxingDetailsTrans.DeWaxingDetailId = dbo.WaxDeWaxingDetails.DeWaxingDetailId
                                                            INNER JOIN WaxAssemblyMaster ON WaxAssemblyMaster.WaxAssemblyTypeID = WaxDeWaxingDetailsTrans.WaxAssemblyTypeID
                                                            INNER JOIN WaxAssemblyTrans ON WaxAssemblyTrans.AssemblyID = WaxAssemblyMaster.AssemblyID
                                                  WHERE     WaxAssemblyTrans.CastingID IN (
                                                            SELECT
                                                              CastingId
                                                            FROM
                                                              dbo.PlantCastingMapping
                                                             where PlantId in (SELECT Item FROM @Plant) ) )
                                                )
                                            AND WaxDeWaxingMaster.EntityID = @EntityId
                                ) AS DeWaxing
                        WHERE   SerialNo > ( @PageNumber * @PageSize )
                        ORDER BY SerialNo
			
                    END
            END
      
        IF @Parameter  = 2 -- Fetch Total Records for Register
            BEGIN     		 
                SET @TotalRecords = ( SELECT    COUNT(1)
                                      FROM      dbo.WaxDeWaxingMaster
                                                INNER JOIN EmployeeDetails ON WaxDeWaxingMaster.OperatorID = EmployeeDetails.EmployeeId
                                                INNER JOIN dbo.WaxDeWaxingDetails ON dbo.WaxDeWaxingDetails.WaxDewaxingID = dbo.WaxDeWaxingMaster.WaxDewaxingID
                                                INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.WaxDeWaxingDetails.CastingID
                                      WHERE     WaxDeWaxingMaster.IsDeleted = 0
                                                AND ( @Enddate IS NULL
                                                      OR DewaxingDate BETWEEN @Startdate AND @Enddate
                                                    )
                                                AND ( @CastingId IS NULL
                                                      OR WaxDeWaxingDetails.CastingID = @CastingId
                                                    )
                                                AND ( @PlantIdString IS NULL
                                                      OR @PlantIdString = ''
                                                      OR WaxDeWaxingMaster.WaxDewaxingID IN (
                                                      SELECT DISTINCT
                                                              WaxDewaxingID
                                                      FROM    dbo.WaxDeWaxingDetails
                                                              INNER JOIN dbo.WaxDeWaxingDetailsTrans ON dbo.WaxDeWaxingDetailsTrans.DeWaxingDetailId = dbo.WaxDeWaxingDetails.DeWaxingDetailId
                                                              INNER JOIN WaxAssemblyMaster ON WaxAssemblyMaster.WaxAssemblyTypeID = WaxDeWaxingDetailsTrans.WaxAssemblyTypeID
                                                              INNER JOIN WaxAssemblyTrans ON WaxAssemblyTrans.AssemblyID = WaxAssemblyMaster.AssemblyID
                                                      WHERE   WaxAssemblyTrans.CastingID IN (
                                                              SELECT
                                                              CastingId
                                                              FROM
                                                              dbo.PlantCastingMapping
                                                            where PlantId in (SELECT Item FROM @Plant) ) )
                                                    )
                                                AND WaxDeWaxingMaster.EntityID = @EntityId
                                    )
		
                RETURN @TotalRecords                 
            END
     
END

GO
