USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[App_ManagCharts]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Harshad Chauhan>
-- Create date: <04 Sep 2019>
-- Description:	<Parameter 1 : Dashboard values for Sales, Purchase, Production, Rejection>
--EXEC App_ManagCharts @P_Parameter = 1, @P_PageName = 'sales', 'purchase', 'production', 'rejection'
-- =============================================
CREATE PROCEDURE [dbo].[App_ManagCharts]
	-- Add the parameters for the stored procedure here
	@P_Parameter INT = 0
  , @P_PageName VARCHAR(100) = NULL
  , @P_PageCycle VARCHAR(100) = NULL
  , @P_CustomerId VARCHAR(100) = NULL
  
  , @PlantIdString VARCHAR(100) = NULL
  , @EntityID INT = 0 
  ,@ShowCastingName bit=0,
  @UserId int =0,
  @PrintCustomerCode int =0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End

	DECLARE @FM INT, @M INT, @FinancialStartDate DATETIME, @FinancialEndDate DATETIME
	SET @FM = (SELECT ISNULL(FinancialYear, 4) FROM configuration where EntityID=@EntityID)	-- Month number from where Fiscal year is starting.
	SET @M = MONTH(GETDATE()) -- Get Current Month Number

	IF @M >= @FM  -- Depending on Current Month Fiscal year is considered  i.e. FY  2010-2011 or 2011-2012
	BEGIN
		SELECT  @FinancialStartDate = DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-@M+@FM, 0)
				, @FinancialEndDate = DATEADD(s, -1, DATEADD(YEAR, +1, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-@M+@FM, 0)))
	END
	ELSE
	BEGIN
		SELECT	@FinancialStartDate = DATEADD(yy, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-@M+@FM, 0))
				, @FinancialEndDate = DATEADD(s, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE())-@M+@FM, 0))
	END
	
    IF(@P_Parameter = 1)
    BEGIN
		
		IF(LOWER(@P_PageName) = 'sales')
		BEGIN
			SELECT	ISNULL(SUM(ISNULL(Yesterday_Total, 0)), 0) AS Yesterday_Total, ISNULL(SUM(ISNULL(Today_Total, 0)), 0) AS Today_Total
					, ISNULL(SUM(ISNULL(TM_Total, 0)), 0) AS TM_Total, ISNULL(SUM(ISNULL(TY_Total, 0)), 0) AS TY_Total
					, cast(0 as decimal) AS Yesterday_Total_Weight, cast(0 as decimal) AS Today_Total_Weight
					,cast(0 as decimal) AS TM_Total_Weight, cast(0 as decimal) AS TY_Total_Weight
			FROM (
				SELECT	(CASE	WHEN (CAST(dispatchdate AS DATE) = CAST((GETDATE() - 1) AS DATE))
								THEN CONVERT(DECIMAL(18, 3) , SUM(ISNULL(TotalAmount, 0))) END
						) AS Yesterday_Total
						, (CASE	WHEN (CAST(dispatchdate AS DATE) = CAST(GETDATE() AS DATE))
								THEN CONVERT(DECIMAL(18, 3) , SUM(ISNULL(TotalAmount, 0))) END
						) AS Today_Total
						, (CASE	WHEN (	MONTH(dispatchdate) = MONTH(GETDATE()) AND YEAR(dispatchdate) = YEAR(GETDATE())
										AND CAST(dispatchdate AS DATE) <= CAST(GETDATE() AS DATE))
								THEN CONVERT(DECIMAL(18, 3) , SUM(ISNULL(TotalAmount, 0))) END
						) AS TM_Total
						, (CASE	WHEN (	(CAST(dispatchdate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) AND CAST(@FinancialEndDate AS DATE))
										AND CAST(dispatchdate AS DATE) <= CAST(GETDATE() AS DATE))
								THEN CONVERT(DECIMAL(18, 3) , SUM(ISNULL(TotalAmount, 0))
						) END) AS TY_Total
				FROM	dispatchmaster 
				WHERE	ISNULL(IsDeleted, 0) = 0
						AND EntityId = @EntityId
						AND TypeOfVoucher = 0 
						AND isProforma = 0
						--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR dispatchmaster.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
				GROUP BY dispatchdate
			) AS FINALTABLE 
		END
		ELSE IF(LOWER(@P_PageName) = 'purchase')
		BEGIN
			SELECT	ISNULL(SUM(ISNULL(Yesterday_Total, 0)), 0) AS Yesterday_Total, ISNULL(SUM(ISNULL(Today_Total, 0)), 0) AS Today_Total
					, ISNULL(SUM(ISNULL(TM_Total, 0)), 0) AS TM_Total, ISNULL(SUM(ISNULL(TY_Total, 0)), 0) AS TY_Total
					,cast(0 as decimal) AS Yesterday_Total_Weight,cast(0 as decimal) AS Today_Total_Weight
					,cast(0 as decimal) AS TM_Total_Weight, cast(0 as decimal) AS TY_Total_Weight
			FROM (
				SELECT	(CASE	WHEN (CAST(InvoiceDate AS DATE) = CAST((GETDATE() - 1) AS DATE))
								THEN CONVERT(DECIMAL(18, 3) , SUM(ISNULL(TotalAmount, 0))) END
						) AS Yesterday_Total
						, (CASE	WHEN (CAST(InvoiceDate AS DATE) = CAST(GETDATE() AS DATE))
								THEN CONVERT(DECIMAL(18, 3) , SUM(ISNULL(TotalAmount, 0))) END
						) AS Today_Total
						, (CASE	WHEN (	MONTH(InvoiceDate) = MONTH(GETDATE()) AND YEAR(InvoiceDate) = YEAR(GETDATE())
										AND CAST(InvoiceDate AS DATE) <= CAST(GETDATE() AS DATE))
								THEN CONVERT(DECIMAL(18, 3) , SUM(ISNULL(TotalAmount, 0))) END
						) AS TM_Total
						, (CASE	WHEN (	(CAST(InvoiceDate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) AND CAST(@FinancialEndDate AS DATE))
										AND CAST(InvoiceDate AS DATE) <= CAST(GETDATE() AS DATE))
								THEN CONVERT(DECIMAL(18, 3) , SUM(ISNULL(TotalAmount, 0))
						) END) AS TY_Total
				FROM	PurchaseInvoice 
				WHERE	ISNULL(IsDelete, 0) = 0
						AND EntityId = @EntityId
						--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR PurchaseInvoice.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
				GROUP BY InvoiceDate
			) AS FINALTABLE 
		END
		ELSE IF(LOWER(@P_PageName) = 'production')
		BEGIN
			SELECT	  CAST( ISNULL(SUM(ISNULL(Yesterday_Total, 0)), 0) as decimal) AS Yesterday_Total,  cast (ISNULL(SUM(ISNULL(Today_Total, 0)), 0)  as decimal) AS Today_Total
					, CAST( ISNULL(SUM(ISNULL(TM_Total, 0)), 0) as decimal) AS TM_Total,  cast( ISNULL(SUM(ISNULL(TY_Total, 0)), 0) as decimal) AS TY_Total
					, CAST( ISNULL(SUM(ISNULL(Yesterday_Total_Weight, 0)), 0) as decimal) AS Yesterday_Total_Weight, CAST( ISNULL(SUM(ISNULL(Today_Total_Weight, 0)), 0) as decimal) AS Today_Total_Weight
					, CAST( ISNULL(SUM(ISNULL(TM_Total_Weight, 0)), 0) as decimal) AS TM_Total_Weight, CAST( ISNULL(SUM(ISNULL(TY_Total_Weight, 0)), 0) as decimal)  AS TY_Total_Weight
			FROM (
				SELECT (CASE	WHEN (CAST(pb.ProductionDate AS DATE) = CAST((GETDATE() - 1) AS DATE))
								THEN SUM(ISNULL(productionqty, 0)) END
						) AS Yesterday_Total
						, (CASE	WHEN (CAST(pb.ProductionDate AS DATE) = CAST(GETDATE() AS DATE))
								THEN SUM(ISNULL(productionqty, 0)) END
						) AS Today_Total
						, (CASE	WHEN (	MONTH(pb.ProductionDate) = MONTH(GETDATE()) AND YEAR(pb.ProductionDate) = YEAR(GETDATE())
										AND CAST(pb.ProductionDate AS DATE) <= CAST(GETDATE() AS DATE))
								THEN SUM(ISNULL(productionqty, 0)) END
						) AS TM_Total
						, (CASE	WHEN (	(CAST(pb.ProductionDate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) AND CAST(@FinancialEndDate AS DATE))
										AND CAST(pb.ProductionDate AS DATE) <= CAST(GETDATE() AS DATE))
								THEN SUM(ISNULL(productionqty, 0)) END
						) AS TY_Total
						, (CASE	WHEN (CAST(pb.ProductionDate AS DATE) = CAST((GETDATE() - 1) AS DATE))
								THEN SUM(ISNULL(productionqty, 0) * ISNULL(perpcweight, 0)) END
						) AS Yesterday_Total_Weight
						, (CASE	WHEN (CAST(pb.ProductionDate AS DATE) = CAST(GETDATE() AS DATE))
								THEN SUM(ISNULL(productionqty, 0) * ISNULL(perpcweight, 0)) END
						) AS Today_Total_Weight
						, (CASE	WHEN (	MONTH(pb.ProductionDate) = MONTH(GETDATE()) AND YEAR(pb.ProductionDate) = YEAR(GETDATE())
										AND CAST(pb.ProductionDate AS DATE) <= CAST(GETDATE() AS DATE))
								THEN SUM(ISNULL(productionqty, 0) * ISNULL(perpcweight, 0)) END
						) AS TM_Total_Weight
						, (CASE	WHEN (	(CAST(pb.ProductionDate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) AND CAST(@FinancialEndDate AS DATE))
										AND CAST(pb.ProductionDate AS DATE) <= CAST(GETDATE() AS DATE))
								THEN SUM(ISNULL(productionqty, 0) * ISNULL(perpcweight, 0)) END
						) AS TY_Total_Weight
				FROM	(
						SELECT	batchid, productionqty, perpcweight 
						FROM	knockout(NOLOCK)
						WHERE	ISNULL(knockout.IsDeleted, 0) = 0
				) AS Knckt
						INNER JOIN (
							SELECT	ProductionBatch.batchID, ProductionBatch.ProductionDate
							FROM	ProductionBatch(NOLOCK)
							WHERE	ISNULL(ProductionBatch.IsDeleted, 0) = 0 AND ISNULL(ProductionBatch.BatchType, 0) = 0 
									AND ProductionBatch.EntityId = @EntityId
									--added by Ritik on 15-10-2025
									 AND (@PlantIdString IS NULL 
									OR @PlantIdString = ''
									OR ProductionBatch.PlantID IN (
										SELECT Item FROM @Plant)
									)
									--end
						) AS pb ON pb.batchID = Knckt.batchid
				GROUP BY pb.ProductionDate
			) AS FINALTABLE
		END
		ELSE IF(LOWER(@P_PageName) = 'rejection')
		BEGIN
			SELECT	  CAST( ISNULL(SUM(ISNULL(Yesterday_Total, 0)), 0) as decimal) AS Yesterday_Total,  cast (ISNULL(SUM(ISNULL(Today_Total, 0)), 0)  as decimal) AS Today_Total
					, CAST( ISNULL(SUM(ISNULL(TM_Total, 0)), 0) as decimal) AS TM_Total,  cast( ISNULL(SUM(ISNULL(TY_Total, 0)), 0) as decimal) AS TY_Total
					, CAST( ISNULL(SUM(ISNULL(Yesterday_Total_Weight, 0)), 0) as decimal) AS Yesterday_Total_Weight, CAST( ISNULL(SUM(ISNULL(Today_Total_Weight, 0)), 0) as decimal) AS Today_Total_Weight
					, CAST( ISNULL(SUM(ISNULL(TM_Total_Weight, 0)), 0) as decimal) AS TM_Total_Weight, CAST( ISNULL(SUM(ISNULL(TY_Total_Weight, 0)), 0) as decimal)  AS TY_Total_Weight
			FROM (
				SELECT (CASE	WHEN (CAST(RejectionDate AS DATE) = CAST((GETDATE() - 1) AS DATE))
								THEN SUM(ISNULL(RejQty, 0)) END
						) AS Yesterday_Total
						, (CASE	WHEN (CAST(RejectionDate AS DATE) = CAST(GETDATE() AS DATE))
								THEN SUM(ISNULL(RejQty, 0)) END
						) AS Today_Total
						, (CASE	WHEN (	MONTH(RejectionDate) = MONTH(GETDATE()) AND YEAR(RejectionDate) = YEAR(GETDATE())
										AND CAST(RejectionDate AS DATE) <= CAST(GETDATE() AS DATE))
								THEN SUM(ISNULL(RejQty, 0)) END
						) AS TM_Total
						, (CASE	WHEN (	(CAST(RejectionDate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) AND CAST(@FinancialEndDate AS DATE))
										AND CAST(RejectionDate AS DATE) <= CAST(GETDATE() AS DATE))
								THEN SUM(ISNULL(RejQty, 0)) END
						) AS TY_Total
						, (CASE	WHEN (CAST(RejectionDate AS DATE) = CAST((GETDATE() - 1) AS DATE))
								THEN SUM(ISNULL(CastingFinalRejection.Weight, 0)) END
						) AS Yesterday_Total_Weight
						, (CASE	WHEN (CAST(RejectionDate AS DATE) = CAST(GETDATE() AS DATE))
								THEN SUM(ISNULL(CastingFinalRejection.Weight, 0)) END
						) AS Today_Total_Weight
						, (CASE	WHEN (	MONTH(RejectionDate) = MONTH(GETDATE()) AND YEAR(RejectionDate) = YEAR(GETDATE())
										AND CAST(RejectionDate AS DATE) <= CAST(GETDATE() AS DATE))
								THEN SUM(ISNULL(CastingFinalRejection.Weight, 0)) END
						) AS TM_Total_Weight
						, (CASE	WHEN (	(CAST(RejectionDate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) AND CAST(@FinancialEndDate AS DATE))
										AND CAST(RejectionDate AS DATE) <= CAST(GETDATE() AS DATE))
								THEN SUM(ISNULL(CastingFinalRejection.Weight, 0)) END
						) AS TY_Total_Weight
				FROM	CastingFinalRejection
						INNER JOIN MetalMaster MM ON MM.MetalId = CastingFinalRejection.MetalID
				WHERE CastingFinalRejection.EntityId = @EntityID
				--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR CastingFinalRejection.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
				GROUP BY RejectionDate
			) AS FINALTABLE 
		END
    END
    
    ELSE IF(@P_Parameter = 2)
    BEGIN
        DECLARE @UserCustCodeActv INT = ISNULL((SELECT TOP 1 1 FROM UserCustomerCodeActive WHERE UserID = @UserId), 0)
		IF(LOWER(@P_PageName) = 'sales')
		BEGIN
			SELECT	dispatchmaster.customerID AS CustomerId, 
			        (CASE WHEN (@PrintCustomerCode = 1 AND @UserCustCodeActv = 1) 
						  THEN IsNull(cm.CustomerCode,'') 
					      ELSE cm.CustomerName 
					END) CustomerName,			        
					ROUND( SUM(ISNULL(TotalAmount, 0)),2) AS TotalAmount
			FROM	dispatchmaster 
					INNER JOIN CustomerMaster AS cm ON cm.CustomerId = dispatchmaster.customerID
			WHERE	dispatchmaster.EntityID = @EntityID 
					AND TypeOfVoucher = 0 
					AND isProforma = 0
					AND ISNULL(dispatchmaster.IsDeleted, 0) = 0
					AND (
						(@P_PageCycle = 'Yesterday' AND (CAST(dispatchdate AS DATE) = CAST((GETDATE() - 1) AS DATE)))
						OR (@P_PageCycle = 'Today' AND (CAST(dispatchdate AS DATE) = CAST(GETDATE() AS DATE)))
						OR (@P_PageCycle = 'TM' 
							AND (MONTH(dispatchdate) = MONTH(GETDATE()) AND YEAR(dispatchdate) = YEAR(GETDATE())
								AND CAST(dispatchdate AS DATE) <= CAST(GETDATE() AS DATE)
							))
						OR (@P_PageCycle = 'TY' 
							AND ((CAST(dispatchdate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) 
																	AND CAST(@FinancialEndDate AS DATE))
								AND CAST(dispatchdate AS DATE) <= CAST(GETDATE() AS DATE)
							))
					)
					--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR dispatchmaster.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
			GROUP BY dispatchmaster.customerID, cm.CustomerName, cm.CustomerCode
			ORDER BY TotalAmount desc --cm.CustomerName
		END
		ELSE IF(LOWER(@P_PageName) = 'purchase')
		BEGIN
			SELECT	PurchaseInvoice.SupplierID AS CustomerId,
			(CASE WHEN (@PrintCustomerCode = 1 AND @UserCustCodeActv = 1) 
						  THEN IsNull(cm.CustomerCode,'') 
					      ELSE cm.CustomerName 
					END) CustomerName, 
		ROUND(	SUM(ISNULL(TotalAmount, 0)),2) AS TotalAmount
			FROM	PurchaseInvoice
					INNER JOIN CustomerMaster AS cm ON cm.CustomerId = PurchaseInvoice.SupplierID
			WHERE	PurchaseInvoice.EntityId = @EntityID AND ISNULL(PurchaseInvoice.IsDelete, 0) = 0
					AND (
						(@P_PageCycle = 'Yesterday' AND (CAST(InvoiceDate AS DATE) = CAST((GETDATE() - 1) AS DATE)))
						OR (@P_PageCycle = 'Today' AND (CAST(InvoiceDate AS DATE) = CAST(GETDATE() AS DATE)))
						OR (@P_PageCycle = 'TM' 
							AND (MONTH(InvoiceDate) = MONTH(GETDATE()) AND YEAR(InvoiceDate) = YEAR(GETDATE())
								AND CAST(InvoiceDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
						OR (@P_PageCycle = 'TY' 
							AND ((CAST(InvoiceDate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) 
																	AND CAST(@FinancialEndDate AS DATE))
								AND CAST(InvoiceDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
					)
					--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR PurchaseInvoice.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
			GROUP BY PurchaseInvoice.SupplierID, cm.CustomerName, cm.CustomerCode
			ORDER BY  TotalAmount desc
		END
		--ELSE IF(LOWER(@P_PageName) = 'production')
		--BEGIN
		--	SELECT	CAST(0x0 AS UNIQUEIDENTIFIER) AS CustomerId, '' AS CustomerName, 0 AS TotalAmount
		--END
		--ELSE IF(LOWER(@P_PageName) = 'rejection')
		--BEGIN
		--	SELECT	CAST(0x0 AS UNIQUEIDENTIFIER) AS CustomerId, '' AS CustomerName, 0 AS TotalAmount
		--END
    END
    
    ELSE IF(@P_Parameter = 3)
    BEGIN
    Declare @CastingDisplay int = (select ShowCastingName from configuration where EntityID =@EntityId)    
		--Declare @ShowCastingName bit;
		--Set @ShowCastingName = (Select ShowCastingName from configuration)
		IF(LOWER(@P_PageName) = 'sales')
		BEGIN
			
			Select ItemName ,CAST( SUM( TotalWeight)  as decimal(18,2)) as TotalWeight,CAST( SUM( TotalAmount)  as decimal(18,2))  as TotalAmount
			 , CastingName ,CastingCode
			from 
			(
			
			Select (Case when @ShowCastingName = 1 then CastingName else CastingCode end) as ItemName , TotalWeight , dispatchtrans.TotalAmount as TotalAmount
					
					,CastingMaster.CastingName
					,CastingMaster.CastingCode
			From dispatchtrans 
			INNER JOIN dispatchmaster ON dispatchtrans.dispatchid = dispatchmaster.DispatchID
			INNER JOIN CastingMaster ON CastingMaster.CastingId = dispatchtrans.castingid
			where dispatchmaster.EntityId = @EntityID 
			AND TypeOfVoucher = 0 AND isProforma = 0
			AND dispatchtrans.isdeleted=0 and Dispatchmaster.IsDeleted  =0
			AND (
						(@P_PageCycle = 'Yesterday' AND (CAST(dispatchdate AS DATE) = CAST((GETDATE() - 1) AS DATE)))
						OR (@P_PageCycle = 'Today' AND (CAST(dispatchdate AS DATE) = CAST(GETDATE() AS DATE)))
						OR (@P_PageCycle = 'TM' 
							AND (MONTH(dispatchdate) = MONTH(GETDATE()) AND YEAR(dispatchdate) = YEAR(GETDATE())
								AND CAST(dispatchdate AS DATE) <= CAST(GETDATE() AS DATE)
							))
						OR (@P_PageCycle = 'TY' 
							AND ((CAST(dispatchdate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) 
																	AND CAST(@FinancialEndDate AS DATE))
								AND CAST(dispatchdate AS DATE) <= CAST(GETDATE() AS DATE)
							))
					)
			And (@P_CustomerId IS NULL OR Dispatchmaster.customerID = @P_CustomerId)
			--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR dispatchmaster.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
			UNION
			Select Item  as ItemName , 0 as TotalWeight , DispatchServiceItemTrans.TotalAmount as TotalAmount
			
					,Item  as CastingName
					,ServiceNo as  CastingCode
			From DispatchServiceItemTrans 
			INNER JOIN dispatchmaster ON DispatchServiceItemTrans.dispatchid = dispatchmaster.DispatchID
			INNER JOIN OrderServiceItemTrans on OrderServiceItemTrans.OrderServiceItemID = DispatchServiceItemTrans.OrderServiceItemTransID
								And OrderServiceItemTrans.SrNo = DispatchServiceItemTrans.SrNo
			INNER JOIN ServiceItemMaster ON ServiceItemMaster.ServiceItemId = OrderServiceItemTrans.ServiceItemId
			where dispatchmaster.EntityId = @EntityID AND DispatchServiceItemTrans.isdeleted=0 and Dispatchmaster.IsDeleted  =0
			AND (
						(@P_PageCycle = 'Yesterday' AND (CAST(dispatchdate AS DATE) = CAST((GETDATE() - 1) AS DATE)))
						OR (@P_PageCycle = 'Today' AND (CAST(dispatchdate AS DATE) = CAST(GETDATE() AS DATE)))
						OR (@P_PageCycle = 'TM' 
							AND (MONTH(dispatchdate) = MONTH(GETDATE()) AND YEAR(dispatchdate) = YEAR(GETDATE())
								AND CAST(dispatchdate AS DATE) <= CAST(GETDATE() AS DATE)
							))
						OR (@P_PageCycle = 'TY' 
							AND ((CAST(dispatchdate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) 
																	AND CAST(@FinancialEndDate AS DATE))
								AND CAST(dispatchdate AS DATE) <= CAST(GETDATE() AS DATE)
							))
					)
			And (@P_CustomerId IS NULL OR Dispatchmaster.customerID = @P_CustomerId)
			--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR dispatchmaster.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
			UNION
			
			Select  PurchaseItemMaster.ItemName as ItemName , 0 as TotalWeight , dispatchtrans.TotalAmount as TotalAmount
				,PurchaseItemMaster.ItemName  as CastingName
					,PurchaseItemMaster.ItemCode as  CastingCode
			From dispatchtrans 
			INNER JOIN dispatchmaster ON dispatchtrans.dispatchid = dispatchmaster.DispatchID
			INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = dispatchtrans.PurchaseItemID
			where dispatchmaster.EntityId = @EntityID
			AND TypeOfVoucher = 0 AND isProforma = 0
			AND dispatchtrans.isdeleted=0 and Dispatchmaster.IsDeleted  =0
			AND (
						(@P_PageCycle = 'Yesterday' AND (CAST(dispatchdate AS DATE) = CAST((GETDATE() - 1) AS DATE)))
						OR (@P_PageCycle = 'Today' AND (CAST(dispatchdate AS DATE) = CAST(GETDATE() AS DATE)))
						OR (@P_PageCycle = 'TM' 
							AND (MONTH(dispatchdate) = MONTH(GETDATE()) AND YEAR(dispatchdate) = YEAR(GETDATE())
								AND CAST(dispatchdate AS DATE) <= CAST(GETDATE() AS DATE)
							))
						OR (@P_PageCycle = 'TY' 
							AND ((CAST(dispatchdate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) 
																	AND CAST(@FinancialEndDate AS DATE))
								AND CAST(dispatchdate AS DATE) <= CAST(GETDATE() AS DATE)
							))
					)
			And (@P_CustomerId IS NULL OR Dispatchmaster.customerID = @P_CustomerId)
			--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR dispatchmaster.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
			) as SalesDate
			Group by ItemName,CastingName,CastingCode
			Order by TotalAmount DESC
		END
		ELSE IF(LOWER(@P_PageName) = 'purchase')
		BEGIN
		
		
			Select ItemName , CAST( SUM( TotalAmount)  as decimal(18,2)) as TotalAmount,CastingName,CastingCode from 
			(
		
			Select ItemName , PurchaseInvoiceTrans.TotalAmount as TotalAmount 
				,PurchaseItemMaster.ItemName  as CastingName
					,PurchaseItemMaster.ItemCode as  CastingCode
			from PurchaseInvoice 
			INNER JOIN PurchaseInvoiceTrans ON PurchaseInvoice.PurchaseInvoiceId = PurchaseInvoiceTrans.PurchaseInvoiceId
			INNER JOIN PurchaseItemMaster ON PurchaseInvoiceTrans.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
			And PurchaseInvoice.IsDelete=0 and PurchaseInvoiceTrans.IsDeleted = 0 and PurchaseInvoiceTrans.IsPattern = 0
			AND (
						(@P_PageCycle = 'Yesterday' AND (CAST(InvoiceDate AS DATE) = CAST((GETDATE() - 1) AS DATE)))
						OR (@P_PageCycle = 'Today' AND (CAST(InvoiceDate AS DATE) = CAST(GETDATE() AS DATE)))
						OR (@P_PageCycle = 'TM' 
							AND (MONTH(InvoiceDate) = MONTH(GETDATE()) AND YEAR(InvoiceDate) = YEAR(GETDATE())
								AND CAST(InvoiceDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
						OR (@P_PageCycle = 'TY' 
							AND ((CAST(InvoiceDate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) 
																	AND CAST(@FinancialEndDate AS DATE))
								AND CAST(InvoiceDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
					)
					And (@P_CustomerId IS NULL OR PurchaseInvoice.SupplierID = @P_CustomerId)
					AND PurchaseInvoice.EntityId = @EntityID
					--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR PurchaseInvoice.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
					UNION
					Select ServiceItemMaster.Item as ItemName , PurchaseInvoiceServiceItemTrans.TotalAmount as TotalAmount 
					,Item  as CastingName
					,ServiceNo as  CastingCode
					from PurchaseInvoice 
					INNER JOIN PurchaseInvoiceServiceItemTrans ON PurchaseInvoice.PurchaseInvoiceId = PurchaseInvoiceServiceItemTrans.PurchaseInvoiceId
			INNER JOIN ServiceItemMaster ON PurchaseInvoiceServiceItemTrans.ServiceItemId = ServiceItemMaster.ServiceItemId
			And PurchaseInvoice.IsDelete=0 and PurchaseInvoiceServiceItemTrans.IsDeleted = 0
			AND (
						(@P_PageCycle = 'Yesterday' AND (CAST(InvoiceDate AS DATE) = CAST((GETDATE() - 1) AS DATE)))
						OR (@P_PageCycle = 'Today' AND (CAST(InvoiceDate AS DATE) = CAST(GETDATE() AS DATE)))
						OR (@P_PageCycle = 'TM' 
							AND (MONTH(InvoiceDate) = MONTH(GETDATE()) AND YEAR(InvoiceDate) = YEAR(GETDATE())
								AND CAST(InvoiceDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
						OR (@P_PageCycle = 'TY' 
							AND ((CAST(InvoiceDate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) 
																	AND CAST(@FinancialEndDate AS DATE))
								AND CAST(InvoiceDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
					)
					And (@P_CustomerId IS NULL OR PurchaseInvoice.SupplierID = @P_CustomerId)
					AND PurchaseInvoice.EntityId = @EntityID
					--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR PurchaseInvoice.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
					UNION
					Select PurchaseItemMaster.ItemCode as ItemName , PurchaseInvoiceTrans.TotalAmount as TotalAmount 
					,''  as CastingName
					,PurchaseItemMaster.ItemCode as  CastingCode
					from PurchaseInvoice 
					INNER JOIN PurchaseInvoiceTrans ON PurchaseInvoice.PurchaseInvoiceId = PurchaseInvoiceTrans.PurchaseInvoiceId
			INNER JOIN PurchaseItemMaster ON PurchaseInvoiceTrans.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
			And PurchaseInvoice.IsDelete=0 and PurchaseInvoiceTrans.IsDeleted = 0 and PurchaseInvoiceTrans.Ispattern = 1
			AND (
						(@P_PageCycle = 'Yesterday' AND (CAST(InvoiceDate AS DATE) = CAST((GETDATE() - 1) AS DATE)))
						OR (@P_PageCycle = 'Today' AND (CAST(InvoiceDate AS DATE) = CAST(GETDATE() AS DATE)))
						OR (@P_PageCycle = 'TM' 
							AND (MONTH(InvoiceDate) = MONTH(GETDATE()) AND YEAR(InvoiceDate) = YEAR(GETDATE())
								AND CAST(InvoiceDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
						OR (@P_PageCycle = 'TY' 
							AND ((CAST(InvoiceDate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) 
																	AND CAST(@FinancialEndDate AS DATE))
								AND CAST(InvoiceDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
					)
					And (@P_CustomerId IS NULL OR PurchaseInvoice.SupplierID = @P_CustomerId)
					AND PurchaseInvoice.EntityId = @EntityID
					--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR PurchaseInvoice.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
					UNION
					Select (Case when @ShowCastingName = 1 then CastingName else CastingCode end) as ItemName , PurchaseInvoiceCastingPurchaseTrans.TotalAmount as TotalAmount 
					 ,CastingMaster.CastingName ,
					 CastingMaster.CastingCode 
					
					from PurchaseInvoice INNER JOIN PurchaseInvoiceCastingPurchaseTrans ON PurchaseInvoice.PurchaseInvoiceId = PurchaseInvoiceCastingPurchaseTrans.PurchaseInvoiceId
			INNER JOIN CastingMaster ON PurchaseInvoiceCastingPurchaseTrans.CastingID = CastingMaster.CastingID
			And PurchaseInvoice.IsDelete=0 and PurchaseInvoiceCastingPurchaseTrans.IsDeleted = 0
			AND (
						(@P_PageCycle = 'Yesterday' AND (CAST(InvoiceDate AS DATE) = CAST((GETDATE() - 1) AS DATE)))
						OR (@P_PageCycle = 'Today' AND (CAST(InvoiceDate AS DATE) = CAST(GETDATE() AS DATE)))
						OR (@P_PageCycle = 'TM' 
							AND (MONTH(InvoiceDate) = MONTH(GETDATE()) AND YEAR(InvoiceDate) = YEAR(GETDATE())
								AND CAST(InvoiceDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
						OR (@P_PageCycle = 'TY' 
							AND ((CAST(InvoiceDate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) 
																	AND CAST(@FinancialEndDate AS DATE))
								AND CAST(InvoiceDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
					)
					And (@P_CustomerId IS NULL OR PurchaseInvoice.SupplierID = @P_CustomerId)
					AND PurchaseInvoice.EntityId = @EntityID
					--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR PurchaseInvoice.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
					) as PIData
					Group by ItemName,CastingCode,CastingName
					Order by TotalAmount DESC
		END
		ELSE IF(LOWER(@P_PageName) = 'production')
		BEGIN
		
			
		
			Select (Case when @ShowCastingName = 1 then CastingName else CastingCode end) as ItemName,SUM(productionqty) as Qty 
			, CAST( SUM((productionqty * perpcweight))  as decimal(18,2))   as TotalWeight 
		 ,CastingMaster.CastingName ,
					 CastingMaster.CastingCode 
			from ProductionBatch 
			INNER JOIN knockout on ProductionBatch.batchID = knockout.batchid
			INNER JOIN CastingMaster ON CastingMaster.CastingId = knockout.castingid
					And ProductionBatch.IsDeleted = 0 and BatchType=0
					AND ProductionBatch.EntityId = @EntityID
					AND ISNULL(knockout.IsDeleted, 0) = 0
			AND (
						(@P_PageCycle = 'Yesterday' AND (CAST(ProductionDate AS DATE) = CAST((GETDATE() - 1) AS DATE)))
						OR (@P_PageCycle = 'Today' AND (CAST(ProductionDate AS DATE) = CAST(GETDATE() AS DATE)))
						OR (@P_PageCycle = 'TM' 
							AND (MONTH(ProductionDate) = MONTH(GETDATE()) AND YEAR(ProductionDate) = YEAR(GETDATE())
								AND CAST(ProductionDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
						OR (@P_PageCycle = 'TY' 
							AND ((CAST(ProductionDate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) 
																	AND CAST(@FinancialEndDate AS DATE))
								AND CAST(ProductionDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
					)	
					--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR ProductionBatch.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
					Group by (Case when @ShowCastingName = 1 then CastingName else CastingCode end)  , CastingMaster.CastingName,CastingMaster.CastingCode
					Order by TotalWeight DESC	
		END
		ELSE IF(LOWER(@P_PageName) = 'rejection')
		BEGIN
			Select (Case when @ShowCastingName = 1 then CastingName else CastingCode end) as ItemName,sum(RejQty) as Qty ,
			  CAST(sum(CastingFinalRejection.Weight)   as decimal(18,2))   as TotalWeight 
			   ,CastingMaster.CastingName ,
					 CastingMaster.CastingCode 
			from CastingFinalRejection 
			INNER JOIN CastingMaster ON CastingMaster.CastingId = CastingFinalRejection.castingid	
			AND CastingFinalRejection.EntityId = @EntityID	
			--added by Ritik on 15-10-2025
						 AND ( ISNULL(@PlantIdString,'') = ''  
									OR CastingFinalRejection.PlantId IN (  
										SELECT Item FROM @Plant  
									)  
								)  
						--end
			AND (
						(@P_PageCycle = 'Yesterday' AND (CAST(CastingFinalRejection.RejectionDate AS DATE) = CAST((GETDATE() - 1) AS DATE)))
						OR (@P_PageCycle = 'Today' AND (CAST(RejectionDate AS DATE) = CAST(GETDATE() AS DATE)))
						OR (@P_PageCycle = 'TM' 
							AND (MONTH(RejectionDate) = MONTH(GETDATE()) AND YEAR(RejectionDate) = YEAR(GETDATE())
								AND CAST(RejectionDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
						OR (@P_PageCycle = 'TY' 
							AND ((CAST(RejectionDate AS DATE) BETWEEN CAST(@FinancialStartDate AS DATE) 
																	AND CAST(@FinancialEndDate AS DATE))
								AND CAST(RejectionDate AS DATE) <= CAST(GETDATE() AS DATE)
							))
					)
					
					Group by (Case when @ShowCastingName = 1 then CastingName else CastingCode end)    , CastingMaster.CastingName,CastingMaster.CastingCode
					Order by TotalWeight DESC
		END
    END
    
    ELSE IF(@P_Parameter=4)--Sales Analysis Chart
    BEGIN
        SET NOCOUNT ON;
        
        DECLARE @startDate DATE= CAST(MONTH(GETDATE()) AS VARCHAR) + '/' + '01/' + +CAST(YEAR(GETDATE()) AS VARCHAR)
  -- mm/dd/yyyy
        DECLARE @endDate DATE= GETDATE();
        DECLARE @MonthendDate DATE= DATEADD(s, -1, DATEADD(mm, DATEDIFF(m, 0, @startDate) + 1, 0));
 -- mm/dd/yyyy
             
        WITH    LEVEL1
                  AS ( SELECT   [Date] = DATEADD(Day, Number, @startDate)
                       FROM     master..spt_values
                       WHERE    Type = 'P'
                                AND DATEADD(day, Number, @startDate) <= @MonthendDate
                     ),
                LEVEL2
                  AS ( SELECT   DATE ,
                                ISNULL(TotalDeliverdAmount, 0) AS TotalDeliverdAmount
                       FROM     LEVEL1
                                LEFT JOIN ( SELECT  ROUND(SUM(dbo.dispatchmaster.TotalAmount	
                                                             ),
                                                          2) AS TotalDeliverdAmount ,
                                                    CONVERT(DATE, dispatchdate) AS dispatchdate
                                            FROM    dbo.dispatchmaster
                                                    --INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
                                            WHERE   dispatchdate BETWEEN @startDate AND @MonthendDate
													AND dispatchmaster.IsDeleted = 0
													AND dispatchmaster.TypeOfVoucher = 0 
                                                    --AND dispatchtrans.IsDeleted = 0
													AND dbo.dispatchmaster.isproforma = 0
                                                    --AND ( @PlantIdString IS NULL
                                                    --      OR @PlantIdString = ''
                                                    --      OR CastingId IN (
                                                    --      SELECT
                                                    --          CastingId
                                                    --      FROM
                                                    --          dbo.PlantCastingMapping
                                                    --          INNER JOIN dbo.SplitString(@PlantIdString,
                                                    --          ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                                                    --    )
                                                    AND EntityID = @EntityId
                                            GROUP BY dispatchdate
                                          ) AS S ON S.dispatchdate = LEVEL1.Date
                     )
            SELECT  DATE ,
                    TotalDeliverdAmount
            FROM    LEVEL2
            
    END
    
    
END
GO
