USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Sp_PandingProductionReport]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Sp_PandingProductionReport]
    @parameter INT = 0 ,
    @MetalID BIGINT = 0 ,
    @DieID UNIQUEIDENTIFIER = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @ItemName VARCHAR(250) = NULL
AS
    SELECT  ROW_NUMBER() OVER ( ORDER BY CastingCode ASC ) AS SrNo ,
            DieCode ,
            CastingName ,
            CastingCode ,
            OrderTable.MetalName AS MEtalname ,
            ISNULL(ORderTable.OrderQty, 0) AS OrderQty ,
            ISNULL(DispatchTable.DispatchQty, 0) AS DispatchQty ,
            CastingGradeStock.Stock AS Stock ,
            ( CASE WHEN ORderTable.OrderQty - ISNULL(DispatchTable.DispatchQty, 0) - Stock < 0 THEN 0
                   ELSE ORderTable.OrderQty - ISNULL(DispatchTable.DispatchQty, 0) - Stock
              END ) AS ShortQty ,
            CAST(CastingMaster.CastingNetWeight AS NUMERIC(18, 3)) AS Weight ,
            ( CASE WHEN ORderTable.OrderQty - ISNULL(DispatchTable.DispatchQty, 0) - Stock < 0 THEN 0.000
                   ELSE CAST(( ORderTable.OrderQty - ISNULL(DispatchTable.DispatchQty, 0) - Stock ) * CastingMaster.CastingNetWeight AS NUMERIC(18, 3))
              END ) AS TotalWeight
    FROM    DieMaster ,
            CastingGradeStock ,
            CastingMaster
            INNER JOIN ( SELECT CastingID ,
                                MetalMaster.MetalID ,
                                MetalName ,
                                SUM(RequiredQty) AS OrderQty
                         FROM   OrderTranse
                                INNER JOIN dbo.OrderMaster ON dbo.OrderMaster.CustomerOrderId = dbo.OrderTranse.CustomerOrderId ,
                                MetalMaster
                         WHERE  OrderTranse.MetalID = MetalMaster.MEtalID
                                AND OrderTranse.Isdeleted = 0
                                AND OrderMaster.Isdeleted = 0
                                AND OrderMaster.maxversion = 1
                                AND Isshortclose = 0
                                AND IsDelivered = 0
                                AND ( @MetalID = 0
                                      OR MetalMaster.MetalID = @MetalID
                                    )
                         GROUP BY CastingID ,
                                MetalMaster.MetalID ,
                                MetalMaster.MetalName
                         UNION ALL
                         SELECT CastingID ,
                                MetalMaster.MetalID ,
                                MetalName ,
                                SUM(RequiredQty * dbo.SetCastingMapping.Qty) AS OrderQty
                         FROM   dbo.OrderSetItemTrans
                                INNER JOIN dbo.SetCastingMapping ON dbo.SetCastingMapping.SetId = dbo.OrderSetItemTrans.SetId
                                                                    AND OrderSetItemTrans.IsDeleted = 0
                                INNER JOIN dbo.OrderMaster ON dbo.OrderMaster.CustomerOrderId = dbo.OrderSetItemTrans.CustomerOrderId ,
                                MetalMaster
                         WHERE  SetCastingMapping.MetalID = MetalMaster.MEtalID
                                AND OrderMaster.Isdeleted = 0
                                AND OrderSetItemTrans.Isdeleted = 0
                                AND OrderMaster.maxversion = 1
                                AND Isshortclose = 0
                                AND IsDelivered = 0
                                AND ( @MetalID = 0
                                      OR MetalMaster.MetalID = @MetalID
                                    )
                         GROUP BY CastingID ,
                                MetalMaster.MetalID ,
                                MetalMaster.MetalName
                       ) AS ORderTable ON CastingMaster.CastingID = OrderTable.CastingID
            LEFT JOIN ( SELECT  CastingID ,
                                MetalID ,
                                SUM(Qty) AS DispatchQty
                        FROM    DispatchTrans ,
                                DispatchGradewise
                        WHERE   DispatchTrans.DispatchTransID = DispatchGradewise.DispatchTransID
                                AND IsDeleted = 0
                        GROUP BY CastingID ,
                                MetalID
                        UNION ALL
                        SELECT  CastingID ,
                                MetalID ,
                                SUM(dbo.DispatchSetItemTrans.Qty * dbo.SetCastingMapping.Qty) AS DispatchQty
                        FROM    dbo.DispatchSetItemTrans
                                INNER JOIN dbo.SetCastingMapping ON dbo.SetCastingMapping.SetId = dbo.DispatchSetItemTrans.SetId
                                                                    AND SetCastingMapping.IsDeleted = 0
                        WHERE   dbo.DispatchSetItemTrans.IsDeleted = 0
                                AND dbo.SetCastingMapping.IsDeleted = 0
                        GROUP BY CastingID ,
                                MetalID
                      ) AS DispatchTable ON CastingMaster.CastingID = DispatchTable.CastingiD
                                            AND OrderTable.MetalID = DispatchTable.MetalID
    WHERE   CastingMAster.DieID = DieMAster.DieID
            AND CastingMaster.CastingID = CastingGradeStock.CastingID
            AND OrderTable.MetalID = CastingGradeStock.MetalID
            AND ( @DieID IS NULL
                  OR DieMaster.DieID = @DieID
                )
            AND ( @CastingID IS NULL
                  OR CastingMaster.CastingID = @CastingID
                )
            AND ( @ItemName IS NULL
                  OR CastingMaster.CastingName = @ItemName
                )

			--Group by CastingCode,MetalName						
    ORDER BY CastingCode ASC
GO
