USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_MeltingSummary]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Nikunj Goletar>
-- Create date: <Create Date,,08/23/2018>
-- Description:	<Description,,Melting Summary Report>

-- Author - megha
-- Create view For Parameter 1
-- =============================================SP_MeltingSummary 1 , '2018-01-01', '2019-12-01'
CREATE PROCEDURE [dbo].[SP_MeltingSummary]  
    @ProductionDateTo DATETIME = null ,
    @ProductionDateFrom DATETIME =  null,
    @OperatorID INT = 0 ,
    @Furnace VARCHAR(100) = NULL ,
    @Shift VARCHAR(50) = NULL ,
    @BatchId INT = 0 ,
    @EntityId INT = 0,
    @PlantIdString varchar(MaX) = null
AS
BEGIN 
    
	SET FMTONLY OFF;

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
				--directly using view taking time when exec from sp or code
				--create temp table to above timeout 
				Select * into #temp FROM [Data:MeltingSummary] 
                
                
                SELECT  ROW_NUMBER() OVER ( ORDER BY ProductionDateOrderBy ,BatchId asc) SrNo ,
                                    *
                FROM    ( SELECT    CONVERT(VARCHAR(15), ProductionDate, 106) AS ProductionDate ,
									ProductionDate AS ProductionDateOrderBy ,
                                    HeatNo ,
                                    MeltingSummary.Furnace as Furnace ,
									MeltingSummary.NoOfLining,
                                    Shift ,
                                    MetalName ,
                                    Melter ,
                                    CAST(MoltenMetalQty As DECIMAL) AS MoltenMetalQty ,
                                    TotalProductionWeight ,
									OKWeight ,
                                    TotalRejWeightinKG ,
                                    Yield ,
                                    RejPer ,
                                    UnitConsumed,
                                    ISNULL(UnitPerKg, 0) AS UnitPerKg ,
                                    ReclaimedQtyinKG ,
                                    CAST(LossQtyinKG As DECIMAL(18,2)) As LossQtyinKG ,
                                    LossQtyinKGForTotal ,
                                    MTime ,
                                    MetalId ,
                                    MeltingSummary.BatchId as BatchId,
                                    ISNULL(SUBSTRING(FurnaceMaster.ShortCode,1,3), '') as FShortCode,
                                    RRQty,IgnotQty  ,BackToFurnanceQty,TotalPouring
									,(cast(MoltenMetalQty - LossQtyinKGForTotal as decimal(18,2)) ) as LMQty
						  FROM		#temp as MeltingSummary
						  LEFT JOIN FurnaceMaster on MeltingSummary.Furnace = FurnaceMaster.Furnace
						  and FurnaceMaster.EntityId = MeltingSummary.EntityId and FurnaceMaster.IsDeleted = 0
						 
						WHERE     ProductionDate BETWEEN @ProductionDateFrom AND @ProductionDateTo
									AND ( @Furnace IS NULL OR MeltingSummary.Furnace = @Furnace)
                                    AND ( @Shift IS NULL OR Shift = @Shift )
                                    AND ( @OperatorID = 0 OR EmployeeId = @OperatorID)
                                    AND ( @BatchId = 0 OR MeltingSummary.batchID = @BatchId)
                                    AND (MeltingSummary.EntityId = @EntityId)
                                    
                                    AND (@PlantIdString IS NULL OR @PlantIdString = ''
											OR MeltingSummary.PlantID IN ( SELECT Item FROM @Plant ) )
                        ) AS s
                ORDER BY ProductionDateOrderBy	,s.BatchId asc
                
                
				drop table #temp
            END
	
 
GO
