USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_RequirementMaster]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Yashvi Shah>
-- Create date: <30 December 2017>
-- Description:	<This procedure is used to enter special requirement.>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RequirementMaster]
	@Parameter INT = 0,
	@Code VARCHAR(5) = NULL,
	@SpRequirement VARCHAR(MAX) = NULL,
	@SpRequirementID UNIQUEIDENTIFIER = NULL,
	@ProcessId UNIQUEIDENTIFIER = NULL,
	@ProcessDetail AS XML = NULL ,
	@productionDetail AS XML = NULL ,
	@DepartmentId uniqueidentifier = null,
	@DepartmentDetail XML = NULL
AS
BEGIN
	IF @Parameter = 1 --INSERT
	BEGIN
	
	--DECLARE @ProcessId UNIQUEIDENTIFIER
	SET @SpRequirementID = NEWID()
	
	INSERT INTO SPRequirementMaster(SPRequirementID,Code,SPRequirement) VALUES 
	(@SpRequirementID,@Code,@SpRequirement)
	
						DECLARE DepartmentDetail CURSOR
                FOR
                    SELECT  Node.value('(DepartmentId)[1]', 'uniqueidentifier') AS 'DepartmentId'
                    FROM    @DepartmentDetail.nodes('/DocumentElement/DepartmentDetail')
                            AS TEMPXML ( Node )
                            
        OPEN DepartmentDetail;
		
        FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
   
        WHILE ( @@FETCH_STATUS = 0 )
            BEGIN                   
            
                INSERT  INTO SPRequirementDepartmentMapping
                        ( 
                          SPRequirementId ,
                          DepartmentId 
                        )
                VALUES  ( 
                          @SpRequirementID ,
                          @DepartmentId 
                        )
                                     
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
        
                FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
             
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
            
            END
                    
        CLOSE DepartmentDetail;
        DEALLOCATE DepartmentDetail; 
        
        
        -- Production Process Mapping
            DECLARE ProductionProcessDetail CURSOR
            FOR
                SELECT  Node.value('(ProcessId)[1]', 'uniqueidentifier') AS 'ProcessId'
                FROM    @productionDetail.nodes('/DocumentElement/productionDetail')
                        AS TEMPXML ( Node )
                            
            OPEN ProductionProcessDetail;
				
            FETCH NEXT FROM ProductionProcessDetail INTO @ProcessId
           
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN                   
                    
                    INSERT  INTO ProductionProcessMapping
                            (	ProdProcessMappingId ,
								ReferenceId ,
								ProcessId ,
								Type 
                            )
                    VALUES  ( NEWID() ,
                              @SpRequirementID ,
                              @ProcessId ,
                              2
                            )
                                             
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                
                    FETCH NEXT FROM ProductionProcessDetail INTO @ProcessId
                     
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                    
                END
                            
            CLOSE ProductionProcessDetail;
            DEALLOCATE ProductionProcessDetail; 
	
	END
	
	IF @Parameter = 2 --UPDATE
	BEGIN
			UPDATE SPRequirementMaster
				SET SPRequirementMaster.SPRequirement = @SpRequirement
				WHERE SPRequirementMaster.SPRequirementID = @SpRequirementID
	
	
			DELETE  FROM SPRequirementDepartmentMapping
                WHERE   SPRequirementId = @SpRequirementID
                   
                DECLARE DepartmentDetail CURSOR
                FOR
                    SELECT  Node.value('(DepartmentId)[1]', 'uniqueidentifier') AS 'DepartmentId'
                    FROM    @DepartmentDetail.nodes('/DocumentElement/DepartmentDetail')
                            AS TEMPXML ( Node )
                            
                OPEN DepartmentDetail;
				
                FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
           
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN                   
                    
                        INSERT  INTO SPRequirementDepartmentMapping
                                ( 
                                  SPRequirementId ,
                                  DepartmentId 
                                )
                        VALUES  ( 
                                  @SpRequirementID ,
                                  @DepartmentId 
                                )
                                             
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                
                        FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
                     
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                    
                    END
                            
                CLOSE DepartmentDetail;
                DEALLOCATE DepartmentDetail; 
                
                -- Production Process Mapping
                                            
                DELETE FROM ProductionProcessMapping WHERE ReferenceId = @SpRequirementID
							                
				DECLARE ProductionProcessDetail CURSOR
				FOR
					SELECT  Node.value('(ProcessId)[1]', 'uniqueidentifier') AS 'ProcessId'
					FROM    @productionDetail.nodes('/DocumentElement/productionDetail')
							AS TEMPXML ( Node )
	                            
				OPEN ProductionProcessDetail;
					
				FETCH NEXT FROM ProductionProcessDetail INTO @ProcessId
	            
				WHILE ( @@FETCH_STATUS = 0 )
					BEGIN
													                   								                    
						INSERT  INTO ProductionProcessMapping
								(	ProdProcessMappingId ,
									ReferenceId ,
									ProcessId ,
									Type 
								)
						VALUES  ( NEWID() ,
								  @SpRequirementID ,
								  @ProcessId ,
								  2
								)
	                                             
						IF @@ERROR <> 0
							ROLLBACK TRANSACTION
	                
						FETCH NEXT FROM ProductionProcessDetail INTO @ProcessId
	                     
						IF @@ERROR <> 0
							ROLLBACK TRANSACTION
	                    
					END
	                            
				CLOSE ProductionProcessDetail;
				DEALLOCATE ProductionProcessDetail; 
				
	
	
					
	
	END
	
	IF @Parameter = 3 --Fetch All Data
	BEGIN
	SELECT SPRequirementMaster.SPRequirementID,
	       SPRequirementMaster.Code,
	       SPRequirementMaster.SPRequirement
	       FROM SPRequirementMaster
	       WHERE (@Code IS NULL OR Code = @Code)
				AND (@SpRequirementID IS NULL OR SPRequirementID = @SpRequirementID)
	END
	
	IF @Parameter = 4 --Delete
	BEGIN
	 IF EXISTS ( SELECT  SPRequirementID
                            FROM    SPRequirementMaster
                            WHERE   SPRequirementID IN (
                                    SELECT  SPRequirementID
                                    FROM    CustomerMasterTestingCharge
                                    WHERE   SPRequirementID = @SPRequirementID ) )
                    BEGIN                     
	          
                        RETURN 0;
                    END
                    ELSE
                    BEGIN
	
	DELETE FROM SPRequirementMaster
	WHERE (@SpRequirementID IS NULL OR SPRequirementMaster.SPRequirementID = @SpRequirementID)
	
	--DELETE FROM SPRequirementProcessMapping
	--WHERE (@SpRequirementID IS NULL OR SPRequirementProcessMapping.SPRequirementID = @SpRequirementID)
	
	
	Return 1;
	END
	END
	
	IF @Parameter = 5 -- This will check if duplicate code is exist or not.
	BEGIN
	
	 DECLARE @Exists INT
	 IF EXISTS(SELECT SPRequirementMaster.SPRequirementID 
	           FROM SPRequirementMaster
	           WHERE SPRequirementMaster.Code = @Code)
      BEGIN
            SET @Exists = 1
      END
      ELSE
      BEGIN
            SET @Exists = 0
      END
 
      RETURN @Exists
	
	END
	
	IF @Parameter = 6 -- Fetch Process as Per SpRequirement.
	BEGIN	
            SELECT  *                    
            FROM    SPRequirementDepartmentMapping
            WHERE   SPRequirementId = @SpRequirementID
	END
	
	IF @Parameter = 7
	BEGIN
		SELECT SPRequirementID,SPRequirement,Code FROM SPRequirementMaster
	END
	
END
GO
