USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportContractorWiseAmountBreakup]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ReportContractorWiseAmountBreakup]
	@PlantIdString VARCHAR(MAX) =null ,  
    @EntityId INT = 0 ,
    @IsDayWise bit = 0,
      @StartDate DATETIME = null ,        
    @EndDate DATETIME =null,       
     @CastingName VARCHAR(100) = NULL ,        
    @ProcessID UNIQUEIDENTIFIER = NULL ,       
    @ContractMasterId UNIQUEIDENTIFIER = NULL ,        
    @ContractorId INT = 0 ,         
    @CustomerID UNIQUEIDENTIFIER = NULL ,        
    @CastingId UNIQUEIDENTIFIER = NULL  ,
	@ComponentID UNIQUEIDENTIFIER = NULL
  
AS
BEGIN
	         declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
                 
     
       -- ============================ Casting wise temp table ==============================        
                  
	set @ProcessID = (select top 1 ProcessId from ProcessMaster where isdeleted = 0 and IsDefault = 1 and AutoProcess = 0)  

	select * into #tempCastingWiseBreakupWithHeat
	from	( SELECT	ContractMaster.ContractName,
						EmployeeDetails.EmployeeName AS ContractorName ,
						cm.CastingName ,        
						cm.CastingCode,   
                        Sum(CASE WHEN CostCalculationUOM = 'Per Kg'        
								THEN ppb.BatchStock        
								* CastingWeight * (ContractCastingRate.RATE)        
								ELSE ppb.BatchStock * ContractCastingRate.RATE        
								END) AS QtyWeight,        
                            ProcessPerformMaster.MetalId,
                        Sum(ppb.BatchStock) as TotalQty,
                        Sum(ppb.BatchStock * CastingWeight) as TotalWt,
						pb.BatchNo,
						convert(varchar, ProcessPerformDate, 106) as ProcessPerformDate
				FROM	ProcessPerformMaster
						Inner Join (select castingName,castingCode,castingId from castingMaster 
									where ParentId is null and	(@castingId is null or castingID= @CastingId)
											AND ( @CastingName IS NULL OR castingMaster.CastingName = @CastingName)
											and	(@ComponentID is null or ComponentID= @ComponentID)
											AND ( @CustomerId IS NULL        
													OR CastingMaster.Dieid IN (        
													SELECT    PatternId        
													FROM      CustomerPatternMapping        
													WHERE     ( CustomerId = @CustomerId )        
															AND ( IsDeleted = 0 ))
												)  
									) as cm on cm.CastingId = ProcessPerformMaster.ParentID
						Inner Join ProcessPerformBreakup ppb on ppb.ProcessPerformID = ProcessPerformMaster.ProcessPerformID
						Inner join CastingStockBatch csb on csb.Batchid = ppb.batchID
						Inner Join ProductionBatch  pb on pb.BatchId = csb.productionbatchID
						Inner join ContractCastingRate On ContractCastingRate.castingid = ProcessPerformMaster.ParentID  
						Inner Join EmployeeDetails On EmployeeDetails.EmployeeId = ProcessPerformMaster.ContractorID      
						Inner join ContractMaster On ContractMaster.ContractMasterID = ContractCastingRate.ContractMasterId        
						AND ContractCastingRate.MetalID = ProcessPerformMaster.MetalId        
						AND ContractMaster.ProcessId = ProcessPerformMaster.ProcessID        
						AND (ContractMaster.ContractorId = EmployeeDetails.EmployeeId Or ContractMaster.ContractorId  = EmployeeDetails.ContractorId)    
					  	and ProcessPerformMaster.PlantId = ContractMaster.PlantId
				WHERE	ProcessPerformMaster.Isdeleted = 0        
						and ContractCastingRate.isDeleted = 0        
						and ContractMaster.IsDeleted = 0        
						and ContractMaster.ProductionorDispatch = 1        
						and	ProcessPerformDate BETWEEN @StartDate AND @EndDate        
						AND ( @PlantIdString IS NULL OR @PlantIdString = '' OR ProcessPerformMaster.ParentID IN (        
								SELECT	CastingId        
								FROM	dbo.PlantCastingMapping        
								where	PlantId in (SELECT Item FROM @Plant))        
								) 
						AND ( @ContractMasterId IS NULL        
								OR ContractMaster.ContractMasterId = @ContractMasterId        
							)        
						AND (  @ContractorId = 0            
								OR ContractMaster.ContractorID = @ContractorId        
							)        
						 
						AND ProcessPerformMaster.EntityID = @EntityId        
				GROUP BY ProcessPerformMaster.ProcessID ,        
						ProcessPerformMaster.ContractorID ,        
						ProcessPerformMaster.ParentID ,  
						ProcessPerformMaster.MetalId  ,
						ContractMaster.ContractName,
						EmployeeDetails.EmployeeName,
						cm.CastingName ,        
						cm.CastingCode,  
						pb.BatchNo,
						convert(varchar, ProcessPerformDate, 106)
                         
                UNION all        
                SELECT		processPerform.ContractName,
							processPerform.EmployeeName AS ContractorName ,
							cm.CastingName ,        
							cm.CastingCode , 
							SUM(CASE WHEN CostCalculationUOM = 'Per Kg'        
							THEN (case when Dispatch.Qty > isnull(processPerform.ProcessQty,0) then (processPerform.ProcessQty * AvgWeight) else DisWeight end) 
								* ContractCastingRate.Rate 
							ELSE (case when Dispatch.Qty > isnull(processPerform.ProcessQty,0) then processPerform.ProcessQty else Dispatch.Qty end) 
								* ContractCastingRate.Rate        
							END) AS QtyWeight,
							Dispatch.MetalId , 
							Sum(case when Dispatch.Qty > isnull(processPerform.ProcessQty,0) then processPerform.ProcessQty else Dispatch.Qty end) as TotalQty, 
							Sum(case when Dispatch.Qty > isnull(processPerform.ProcessQty,0) then (processPerform.ProcessQty * AvgWeight) else DisWeight end)  as TotalWt ,
							pb.batchno,
							ProcessPerformDate
				from		(	select Sum(DispatchGradewise.Qty) as qty,
										dispatchtrans.castingid,
										CastingStockBatch.MetalID,
										Sum(dispatchtrans.weight * DispatchGradewise.Qty) as DisWeight,
										Sum(DispatchGradewise.qty * dispatchtrans.weight) /Sum(DispatchGradewise.qty ) as AvgWeight,
										CastingStockBatch.productionbatchID,
										convert(varchar, DispatchMaster.DispatchDate, 106) as ProcessPerformDate  
								from	DispatchGradewise
										Inner Join dispatchtrans on dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
										Inner join dispatchMaster on dispatchMaster.dispatchId = dispatchtrans.dispatchId
										inner join CastingStockBatch On CastingStockBatch.Batchid = DispatchGradewise.BatchID 
								where	dispatchMaster.IsDeleted = 0 And TypeOfVoucher in(0,5) And isProforma = 0
										and dispatchtrans.IsDeleted = 0
										and  cast(dispatchMaster.dispatchdate as date) BETWEEN @StartDate AND @EndDate
										AND ( @CastingId IS NULL        
												OR dispatchtrans.CastingId = @CastingId        
											)
										And dispatchMaster.EntityID = @EntityId    
								group by dispatchtrans.castingid,
										CastingStockBatch.MetalID,
										CastingStockBatch.productionbatchID	,
										convert(varchar, DispatchMaster.DispatchDate, 106)
							) as Dispatch
							Inner Join (select castingName,castingCode,castingId from castingMaster 
										where ParentId is null and	(@castingId is null or castingID= @CastingId)
												AND ( @CastingName IS NULL OR castingMaster.CastingName = @CastingName)
												and	(@ComponentID is null or ComponentID= @ComponentID)
												AND ( @CustomerId IS NULL        
														OR CastingMaster.Dieid IN (        
														SELECT    PatternId        
														FROM      CustomerPatternMapping        
														WHERE     ( CustomerId = @CustomerId )        
																AND ( IsDeleted = 0 ))
													)  
										) as cm on cm.CastingId = Dispatch.castingid
							inner join (select	ParentID ,
												ProcessPerformMaster.MetalID,
												csb.productionbatchID,
												Sum(ProcessPerformBreakup.BatchStock) as ProcessQty,
												ContractMaster.ContractMasterID,
											--	Sum(ProcessPerformBreakup.BatchStock * ProcessPerformMaster.CastingWeight) as CastingWeight,
												CostCalculationUOM,
												EmployeeName,
												ContractName
										from	ProcessPerformMaster    
												Inner join ProcessPerformBreakup On ProcessPerformBreakup.ProcessPerformID = ProcessPerformMaster.ProcessPerformID 
												Inner join CastingStockBatch csb On csb.Batchid = ProcessPerformBreakup.batchID  
												inner Join EmployeeDetails On EmployeeDetails.EmployeeId = ProcessPerformMaster.ContractorID
												inner join ContractMaster On ContractMaster.ProcessId = ProcessPerformMaster.ProcessID 
													and (ContractMaster.ContractorId = EmployeeDetails.ContractorID   
															Or ContractMaster.ContractorId = EmployeeDetails.EmployeeId)
															and ProcessPerformMaster.PlantId = ContractMaster.PlantId
										Where	ProcessPerformMaster.IsDeleted = 0  
												and ContractMaster.IsDeleted = 0         
												and ContractMaster.ProductionorDispatch = 0        
												AND ( @PlantIdString IS NULL        
														OR @PlantIdString = ''        
														OR ProcessPerformMaster.ParentID IN (        
														SELECT        
															CastingId        
														FROM        
															dbo.PlantCastingMapping        
															where PlantId in (SELECT Item FROM @Plant) )        
													)        
												AND ProcessPerformMaster.EntityID = @EntityId 
																      
												AND ( @ContractMasterId IS NULL        
														OR ContractMaster.ContractMasterId = @ContractMasterId        
													)        
												AND (  @ContractorId = 0            
														OR ContractMaster.ContractorID = @ContractorId        
													)  
												AND ( ISNULL(@PlantIdString , '') = ''        
														OR ContractMaster.PlantId IN (SELECT item FROM @plant)        
													)           
												AND ContractMaster.EntityID = @EntityId  
												
										  Group by  ProcessPerformMaster.ProcessID ,   --i use group by instead of distinct, data duplicate fetch in this usb query due to 1 heat is Proess more than one time     
													ProcessPerformMaster.ContractorID ,        
													ProcessPerformMaster.ParentID ,
													ProcessPerformMaster.MetalID,
													csb.productionbatchID,
													ContractMaster.ContractMasterID,
													CastingWeight,
													CostCalculationUOM,
													EmployeeName,
													ContractName
										) as processPerform On processPerform.ParentID = Dispatch.CastingID
										and processPerform.MetalID = Dispatch.MetalID
										and processPerform.productionbatchID = Dispatch.productionbatchID
							Inner Join ProductionBatch pb on pb.batchID = Dispatch.productionbatchID
							inner join ContractCastingRate On ContractCastingRate.ContractMasterId = processPerform.ContractMasterID        
								and ContractCastingRate.CastingId = Dispatch.CastingID        
								and ContractCastingRate.MetalId = Dispatch.MetalId        
					WHERE	ContractCastingRate.isDeleted = 0        
							
                  Group by  processPerform.ContractName,
							processPerform.EmployeeName,
							cm.CastingName ,        
							cm.CastingCode ,                
							Dispatch.MetalId ,
							pb.batchno,
							ProcessPerformDate
				--machine shop
				Union all
				SELECT	ContractMaster.ContractName,
						EmployeeDetails.EmployeeName AS ContractorName ,
						cm.CastingName ,        
						cm.CastingCode,   
                        Sum(CASE WHEN CostCalculationUOM = 'Per Kg'        
								THEN ppb.BatchStock        
								* CastingWeight * (ContractCastingRate.RATE)        
								ELSE ppb.BatchStock     * ContractCastingRate.RATE        
								END) AS QtyWeight,        
                            MSProcessPerformMaster.MetalId,
                        Sum(ppb.BatchStock) as TotalQty,
                        Sum(ppb.BatchStock * CastingWeight) as TotalWt,
						pb.BatchNo,
						convert(varchar, MSProcessPerformMaster.ProcessPerformDate, 106) as ProcessPerformDate
				FROM	MSProcessPerformMaster
						Inner Join (select castingName,castingCode,castingId from castingMaster 
									where ParentId is null and	(@castingId is null or castingID= @CastingId)
											AND ( @CastingName IS NULL OR castingMaster.CastingName = @CastingName)
											and	(@ComponentID is null or ComponentID= @ComponentID)
											AND ( @CustomerId IS NULL        
													OR CastingMaster.Dieid IN (        
													SELECT    PatternId        
													FROM      CustomerPatternMapping        
													WHERE     ( CustomerId = @CustomerId )        
															AND ( IsDeleted = 0 ))
												)  
									) as cm on cm.CastingId = MSProcessPerformMaster.ParentID
						Inner Join MSProcessPerformBreakup ppb on ppb.MSProcessPerformID = MSProcessPerformMaster.MSProcessPerformID
						Inner join CastingStockBatch csb on csb.Batchid = ppb.batchID
						Inner Join ProductionBatch  pb on pb.BatchId = csb.productionbatchID
						Inner join ContractCastingRate On ContractCastingRate.castingid = MSProcessPerformMaster.ParentID  
						Inner Join EmployeeDetails On EmployeeDetails.EmployeeId = MSProcessPerformMaster.ContractorID      
						Inner join ContractMaster On ContractMaster.ContractMasterID = ContractCastingRate.ContractMasterId        
						AND ContractCastingRate.MetalID = MSProcessPerformMaster.MetalId        
						AND ContractMaster.ProcessId = MSProcessPerformMaster.ProcessID        
						AND (ContractMaster.ContractorId = EmployeeDetails.EmployeeId Or ContractMaster.ContractorId  = EmployeeDetails.ContractorId)  
						and MSProcessPerformMaster.PlantId = ContractMaster.PlantId
				WHERE	MSProcessPerformMaster.Isdeleted = 0        
						and ContractCastingRate.isDeleted = 0        
						and ContractMaster.IsDeleted = 0        
						and ContractMaster.ProductionorDispatch = 1        
						and	ProcessPerformDate BETWEEN @StartDate AND @EndDate        
						AND ( @PlantIdString IS NULL OR @PlantIdString = '' OR MSProcessPerformMaster.ParentID IN (        
								SELECT	CastingId        
								FROM	dbo.PlantCastingMapping        
								where	PlantId in (SELECT Item FROM @Plant))        
								) 
						AND ( @ContractMasterId IS NULL        
								OR ContractMaster.ContractMasterId = @ContractMasterId        
							)        
						AND (  @ContractorId = 0            
								OR ContractMaster.ContractorID = @ContractorId        
							)        
						 
						AND MSProcessPerformMaster.EntityID = @EntityId        
				GROUP BY MSProcessPerformMaster.ProcessID ,        
						MSProcessPerformMaster.ContractorID ,        
						MSProcessPerformMaster.ParentID ,  
						MSProcessPerformMaster.MetalId  ,
						ContractMaster.ContractName,
						EmployeeDetails.EmployeeName,
						cm.CastingName ,        
						cm.CastingCode,  
						pb.BatchNo,
						convert(varchar, MSProcessPerformMaster.ProcessPerformDate, 106) 
                         
                UNION all        
                SELECT		processPerform.ContractName,
							processPerform.EmployeeName AS ContractorName ,
							cm.CastingName ,        
							cm.CastingCode , 
							SUM(CASE WHEN CostCalculationUOM = 'Per Kg'        
							THEN (case when Dispatch.Qty > isnull(processPerform.ProcessQty,0) then (processPerform.ProcessQty * AvgWeight) else DisWeight end) 
								* ContractCastingRate.Rate 
							ELSE (case when Dispatch.Qty > isnull(processPerform.ProcessQty,0) then processPerform.ProcessQty else Dispatch.Qty end) 
								* ContractCastingRate.Rate        
							END) AS QtyWeight,
							Dispatch.MetalId , 
							Sum(case when Dispatch.Qty > isnull(processPerform.ProcessQty,0) then processPerform.ProcessQty else Dispatch.Qty end) as TotalQty, 
							Sum(case when Dispatch.Qty > isnull(processPerform.ProcessQty,0) then (processPerform.ProcessQty * AvgWeight) else DisWeight end)  as TotalWt ,
							
							pb.batchno,
							ProcessPerformDate
				from		(	select Sum(DispatchGradewise.Qty) as qty,
										Sum(DispatchGradewise.qty * dispatchtrans.weight) as DisWeight,
										Sum(DispatchGradewise.qty * dispatchtrans.weight) /Sum(DispatchGradewise.qty ) as AvgWeight,
										dispatchtrans.castingid,
										CastingStockBatch.MetalID,
										CastingStockBatch.productionbatchID	,
										convert(varchar, dispatchMaster.dispatchdate, 106) as ProcessPerformDate
								from	DispatchGradewise
										Inner Join dispatchtrans on dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
										Inner join dispatchMaster on dispatchMaster.dispatchId = dispatchtrans.dispatchId
										inner join CastingStockBatch On CastingStockBatch.Batchid = DispatchGradewise.BatchID 
								where	dispatchMaster.IsDeleted = 0 And TypeOfVoucher in(0,5) And isProforma = 0
										and dispatchtrans.IsDeleted = 0
										and  cast(dispatchMaster.dispatchdate as date) BETWEEN @StartDate AND @EndDate
										AND ( @CastingId IS NULL        
												OR dispatchtrans.CastingId = @CastingId        
											)
										And dispatchMaster.EntityID = @EntityId    
								group by dispatchtrans.castingid,
										CastingStockBatch.MetalID,
										CastingStockBatch.productionbatchID	,
										convert(varchar, dispatchMaster.dispatchdate, 106)
							) as Dispatch
							Inner Join (select castingName,castingCode,castingId from castingMaster 
										where ParentId is null and	(@castingId is null or castingID= @CastingId)
												AND ( @CastingName IS NULL OR castingMaster.CastingName = @CastingName)
												and	(@ComponentID is null or ComponentID= @ComponentID)
												AND ( @CustomerId IS NULL        
														OR CastingMaster.Dieid IN (        
														SELECT    PatternId        
														FROM      CustomerPatternMapping        
														WHERE     ( CustomerId = @CustomerId )        
																AND ( IsDeleted = 0 ))
													)  
										) as cm on cm.CastingId = Dispatch.castingid
							inner join (select	ParentID ,
												msProcessPerformMaster.MetalID,
												csb.productionbatchID,
												Sum(MsProcessPerformBreakup.BatchStock) as ProcessQty,
												ContractMaster.ContractMasterID,
												--Sum(MsProcessPerformBreakup.BatchStock * MSProcessPerformMaster.CastingWeight) as CastingWeight,
												CostCalculationUOM,
												EmployeeName,
												ContractName
										from	MSProcessPerformMaster    
												Inner join MsProcessPerformBreakup On MsProcessPerformBreakup.msProcessPerformID = MSProcessPerformMaster.msProcessPerformID 
												Inner join CastingStockBatch csb On csb.Batchid = msProcessPerformBreakup.batchID  
												inner Join EmployeeDetails On EmployeeDetails.EmployeeId = msProcessPerformMaster.ContractorID
												inner join ContractMaster On ContractMaster.ProcessId = msProcessPerformMaster.ProcessID 
													and (ContractMaster.ContractorId = EmployeeDetails.ContractorID   
															Or ContractMaster.ContractorId = EmployeeDetails.EmployeeId) 
														and MSProcessPerformMaster.PlantId = ContractMaster.PlantId
										Where	MSProcessPerformMaster.IsDeleted = 0  
												and ContractMaster.IsDeleted = 0         
												and ContractMaster.ProductionorDispatch = 0        
												AND ( @PlantIdString IS NULL        
														OR @PlantIdString = ''        
														OR msProcessPerformMaster.ParentID IN (        
														SELECT        
															CastingId        
														FROM        
															dbo.PlantCastingMapping        
															where PlantId in (SELECT Item FROM @Plant) )        
													)        
												AND msProcessPerformMaster.EntityID = @EntityId 
																      
												AND ( @ContractMasterId IS NULL        
														OR ContractMaster.ContractMasterId = @ContractMasterId        
													)        
												AND (  @ContractorId = 0            
														OR ContractMaster.ContractorID = @ContractorId        
													)  
												AND ( ISNULL(@PlantIdString , '') = ''        
														OR ContractMaster.PlantId IN (SELECT item FROM @plant)        
													)           
												AND ContractMaster.EntityID = @EntityId  
												
										  Group by  msProcessPerformMaster.ProcessID ,   --i use group by instead of distinct, data duplicate fetch in this usb query due to 1 heat is Proess more than one time     
													msProcessPerformMaster.ContractorID ,        
													msProcessPerformMaster.ParentID ,
													msProcessPerformMaster.MetalID,
													csb.productionbatchID,
													ContractMaster.ContractMasterID,
													CastingWeight,
													CostCalculationUOM,
													EmployeeName,
													ContractName
										) as processPerform On processPerform.ParentID = Dispatch.CastingID
										and processPerform.MetalID = Dispatch.MetalID
										and processPerform.productionbatchID = Dispatch.productionbatchID
							Inner Join ProductionBatch pb on pb.batchID = Dispatch.productionbatchID
							inner join ContractCastingRate On ContractCastingRate.ContractMasterId = processPerform.ContractMasterID        
								and ContractCastingRate.CastingId = Dispatch.CastingID        
								and ContractCastingRate.MetalId = Dispatch.MetalId        
					WHERE	ContractCastingRate.isDeleted = 0        
							
                  Group by  processPerform.ContractName,
							processPerform.EmployeeName,
							cm.CastingName ,        
							cm.CastingCode ,                
							Dispatch.MetalId ,
							pb.batchno,
							ProcessPerformDate
                      --pouring rate        
                      --production flag on                  
				UNION all        
                SELECT  dbo.ContractMaster.ContractName ,        
						dbo.EmployeeDetails.EmployeeName AS ContractorName ,
						cm.CastingName ,        
						cm.CastingCode ,
                        SUM(ISNULL(dbo.knockout.productionqty, 0)  
                            * (CASE WHEN contractMAster.CostCalculationUOM = 'Per Pc' THEN 1
								ELSE (case when ContractMaster.OnGrossWeight = 1 then  ISNULL( knockout.GrossWeight,0)  
											else  ISNULL(dbo.knockout.perpcweight,0) end )
								END)
                                * ContractCastingRate.Rate )         
						AS QtyWeight, 
                        ProductionBatch.MetalId , 
						Sum(productionQty) as TotalQty, 
						Sum(productionqty * 
							(CASE WHEN ContractMaster.CostCalculationUOM = 'Per Pc' THEN 1
								ELSE (case when ContractMaster.OnGrossWeight = 1 then  ISNULL( knockout.GrossWeight,0)  
											else  ISNULL(dbo.knockout.perpcweight,0) end )
								END)
							) as TotalWt,
						ProductionBatch.Batchno,
						convert(varchar, ProductionBatch.ProductionDate, 106) as ProcessPerformDate
                FROM   dbo.knockout    
						Inner Join (select castingName,castingCode,castingId from castingMaster 
									where ParentId is null and	(@castingId is null or castingID= @CastingId)
											AND ( @CastingName IS NULL OR castingMaster.CastingName = @CastingName)
											and	(@ComponentID is null or ComponentID= @ComponentID)
											AND ( @CustomerId IS NULL        
													OR CastingMaster.Dieid IN (        
													SELECT    PatternId        
													FROM      CustomerPatternMapping        
													WHERE     ( CustomerId = @CustomerId )        
															AND ( IsDeleted = 0 ))
												)  
									) as cm on cm.CastingId = knockout.castingid
                        INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.knockout.batchid     
                        inner join  CastingMetal on CastingMetal.castingID = knockout.castingid   and CastingMetal.metalid =ProductionBatch.MetalId   
                        Inner Join EmployeeDetails On EmployeeDetails.EmployeeId = knockout.OperatorID
                        inner join contractMaster on (contractMaster.ContractorId = EmployeeDetails.Employeeid
											Or EmployeeDetails.ContractorId = ContractMaster.ContractorId)
											and ContractMaster.PlantId = ProductionBatch.PlantID
                        inner join ContractCastingRate on ContractCastingRate.ContractMasterId = dbo.ContractMaster.ContractMasterID        
								And ContractCastingRate.MetalId = ProductionBatch.MetalId        
								and ProductionBatch.PlantId = ContractMaster.PlantId        
								And ContractMaster.ProcessId = @ProcessID        
								and ContractCastingRate.castingid = knockout.castingid        
                WHERE  dbo.knockout.IsDeleted = 0        
						And ContractMaster.Isdeleted = 0        
                        and ContractCastingRate.Isdeleted = 0        
                        and ContractMaster.ProductionorDispatch = 1        
                        AND dbo.ProductionBatch.IsDeleted = 0        
                        AND ProductionDate BETWEEN @StartDate AND @EndDate        
                        AND ProductionBatch.EntityID = @EntityId 
						And COntractMaster.ProcessId = @ProcessID         
						       
						AND ( @ContractMasterId IS NULL        
								OR ContractMaster.ContractMasterId = @ContractMasterId        
							)        
						AND (  @ContractorId = 0            
								OR ContractMaster.ContractorID = @ContractorId        
							)        
						       
						AND ( ISNULL(@PlantIdString , '') = ''        
											OR ContractMaster.PlantId IN (SELECT item FROM @plant)        
										)           
						AND ContractMaster.EntityID = @EntityId 
                GROUP BY dbo.knockout.operatorID ,        
                        dbo.knockout.castingid,         
                        ProductionBatch.MetalId  ,
						ProductionBatch.Batchno,
						convert(varchar, ProductionBatch.ProductionDate, 106),
						cm.CastingName ,        
						cm.CastingCode ,
						dbo.EmployeeDetails.EmployeeName ,
                        dbo.ContractMaster.ContractName                   
      --dispatch flag on        
                      UNION all        
                      SELECT    ContractName ,        
                                EmployeeName AS ContractorName ,
                                CastingName ,        
                                CastingCode , 
								SUM(CASE WHEN CostCalculationUOM = 'Per Kg'        
								THEN (case when Dispatch.Qty > isnull(KnockOutDetails.ProQty,0) then (KnockOutDetails.ProQty * AvgWeight) else DisWeight end) 
									* ContractCastingRate.Rate 
								ELSE (case when Dispatch.Qty > isnull(KnockOutDetails.ProQty,0) then KnockOutDetails.ProQty else Dispatch.Qty end) 
									* ContractCastingRate.Rate        
								END) AS QtyWeight,
								Dispatch.MetalId , 
								Sum(case when Dispatch.Qty > isnull(KnockOutDetails.ProQty,0) then KnockOutDetails.ProQty else Dispatch.Qty end) as TotalQty, 
								Sum(case when Dispatch.Qty > isnull(KnockOutDetails.ProQty,0) then (KnockOutDetails.ProQty * AvgWeight) else DisWeight end)  as TotalWt ,
							    
								batchNo
								,ProcessPerformDate
                      FROM      (select	Sum(DispatchGradewise.Qty) as qty,
										 Sum(DispatchGradewise.Qty * dbo.dispatchtrans.weight) as DisWeight,
										 Sum(DispatchGradewise.qty * dispatchtrans.weight) /Sum(DispatchGradewise.qty ) as AvgWeight,
										dispatchtrans.castingid,
										CastingStockBatch.MetalID,
										CastingStockBatch.productionbatchID	,
										convert(varchar, dispatchMaster.dispatchdate, 106) as ProcessPerformDate
								from	DispatchGradewise
										Inner Join dispatchtrans on dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
										Inner join dispatchMaster on dispatchMaster.dispatchId = dispatchtrans.dispatchId
										inner join CastingStockBatch On CastingStockBatch.Batchid = DispatchGradewise.BatchID 
								where	dispatchMaster.IsDeleted = 0 And TypeOfVoucher in(0,5) And isProforma = 0
										and dispatchtrans.IsDeleted = 0
										and  cast(dispatchMaster.dispatchdate as date) BETWEEN @StartDate AND @EndDate
										AND ( @CastingId IS NULL        
												OR dispatchtrans.CastingId = @CastingId        
											)
										And dispatchMaster.EntityID = @EntityId    
								group by dispatchtrans.castingid,
										CastingStockBatch.MetalID,
										CastingStockBatch.productionbatchID	,
										convert(varchar, dispatchMaster.dispatchdate, 106)
							) as Dispatch
							Inner Join (select castingName,castingCode,castingId from castingMaster 
										where ParentId is null and	(@castingId is null or castingID= @CastingId)
												AND ( @CastingName IS NULL OR castingMaster.CastingName = @CastingName)
												and	(@ComponentID is null or ComponentID= @ComponentID)
												AND ( @CustomerId IS NULL        
														OR CastingMaster.Dieid IN (        
														SELECT    PatternId        
														FROM      CustomerPatternMapping        
														WHERE     ( CustomerId = @CustomerId )        
																AND ( IsDeleted = 0 ))
													)  
										) as cm on cm.CastingId = Dispatch.castingid
                            INNER JOIN ( SELECT dbo.knockout.castingid , 
												ProductionBatch.MetalId,   
												ProductionBatch.BatchId,
												Sum(knockout.productionqty ) as ProQty,
												ContractMaster.ContractMasterID,
												--Sum(knockout.productionqty 
												--*
												--(CASE WHEN ContractMaster.CostCalculationUOM = 'Per Pc' THEN 1
												--	ELSE (case when ContractMaster.OnGrossWeight = 1 then  ISNULL( knockout.GrossWeight,0)  
												--				else  ISNULL(dbo.knockout.perpcweight,0) end )
												--END)
												--) as knocWeight,
												CostCalculationUOM,
                                                ContractName , 
												EmployeeName, 
												BatchNo
                                        FROM	dbo.knockout        
												INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.knockout.batchid  
												Inner Join EmployeeDetails On EmployeeDetails.EmployeeId = knockout.OperatorID
												INNER join ContractMaster On (ContractMaster.ContractorId = EmployeeDetails.EmployeeId
																Or ContractMaster.ContractorId = EmployeeDetails.ContractorId )
																and ProductionBatch.PlantId = ContractMaster.PlantId  
                                        WHERE	dbo.knockout.IsDeleted = 0        
												and contractMAster.Isdeleted = 0   
												and ContractMaster.ProductionorDispatch = 0        
												AND dbo.ProductionBatch.IsDeleted = 0 
												AND ( @CastingId IS NULL        
												  OR knockout.CastingId = @CastingId        
												) 
												AND ( @ContractMasterId IS NULL        
													  OR ContractMaster.ContractMasterId = @ContractMasterId        
													)        
												AND (  @ContractorId = 0            
													  OR ContractMaster.ContractorID = @ContractorId        
													) 
												AND ( ISNULL(@PlantIdString , '') = ''        
													  OR ContractMaster.PlantId IN (SELECT item	 FROM @plant	)        
													) 
												and contractMaster.Processid = @ProcessID   
												AND ProductionBatch.EntityID = @EntityId        
                                        GROUP BY dbo.knockout.castingid , 
												ProductionBatch.MetalId,   
												ProductionBatch.BatchId,
												ContractMaster.ContractMasterID,
												CostCalculationUOM,
                                                ContractName , 
												EmployeeName, 
												BatchNo  
                                    ) AS KnockOutDetails on KnockOutDetails.castingid = Dispatch.castingid
									And KnockOutDetails.MetalID = Dispatch.MetalID
									And KnockOutDetails.batchID = Dispatch.productionbatchID
									Inner join ContractCastingRate On dbo.ContractCastingRate.ContractMasterId = KnockOutDetails.ContractMasterID        
														And ContractCastingRate.MetalId = KnockOutDetails.MetalId        
														ANd ContractCastingRate.CastingId = KnockOutDetails.CastingID  
                      WHERE     ContractCastingRate.isDeleted = 0  
                      GROUP BY  ContractName ,        
                                EmployeeName,
                                CastingName ,        
                                CastingCode , 
                                dispatch.MetalID   
								,batchNo
								,ProcessPerformDate
					union all 

					SELECT	ContractMaster.ContractName,
						EmployeeDetails.EmployeeName AS ContractorName ,
						cm.CastingName ,        
						cm.CastingCode,   
                        Sum(CASE WHEN CostCalculationUOM = 'Per Kg'        
								THEN SandProduction.Qty        
								* CastingNetWeight * (ContractCastingRate.RATE)        
								ELSE SandProduction.Qty * ContractCastingRate.RATE        
								END) AS QtyWeight,        
                            ContractCastingRate.MetalId,
                        Sum(SandProduction.Qty) as TotalQty,
                        Sum(SandProduction.Qty * CastingNetWeight) as TotalWt,
						SandProduction.BatchNo,
						convert(varchar,SandProduction.ProductionDate, 106) as ProcessPerformDate
				FROM	SandProduction
						 
						Inner Join (select castingName,castingCode,castingId from castingMaster 
									where ParentId is null 
									and	(@castingId is null or castingID= @CastingId)
											AND ( @CastingName IS NULL OR castingMaster.CastingName = @CastingName)
											and	(@ComponentID is null or ComponentID= @ComponentID)
											AND ( @CustomerId IS NULL        
													OR CastingMaster.Dieid IN (        
													SELECT    PatternId        
													FROM      CustomerPatternMapping        
													WHERE     ( CustomerId = @CustomerId )        
															AND ( IsDeleted = 0 ))
												)  
									) as cm on cm.CastingId = SandProduction.PurchaseItemId
						Inner join CastingMetal on CastingMetal.castingID= SandProduction.PurchaseItemId
						Inner join ContractCastingRate On ContractCastingRate.castingid = SandProduction.PurchaseItemId
						Inner Join EmployeeDetails On EmployeeDetails.EmployeeId = SandProduction.OperatorId      
						Inner join ContractMaster On ContractMaster.ContractMasterID = ContractCastingRate.ContractMasterId        
						AND ContractCastingRate.MetalID = CastingMetal.MetalId              
					 	AND (ContractMaster.ContractorId = SandProduction.OperatorId)
					 	AND (ContractMaster.ContractorId = EmployeeDetails.EmployeeId Or ContractMaster.ContractorId  = EmployeeDetails.ContractorId)    
						and SandProduction.PlantId = ContractMaster.PlantId
				WHERE	SandProduction.Isdeleted = 0        
						and ContractCastingRate.isDeleted = 0        
						and ContractMaster.IsDeleted = 0        
						and ContractMaster.ProductionorDispatch = 1        
						and	SandProduction.ProductionDate BETWEEN @StartDate AND @EndDate        
						AND ( @PlantIdString IS NULL OR @PlantIdString = '' OR SandProduction.PurchaseItemId IN (        
								SELECT	CastingId        
								FROM	dbo.PlantCastingMapping        
								where	PlantId in (SELECT Item FROM @Plant))        
								) 
						AND ( @ContractMasterId IS NULL        
								OR ContractMaster.ContractMasterId = @ContractMasterId        
							)        
						AND (  @ContractorId = 0            
								OR ContractMaster.ContractorID = @ContractorId        
							)        
						 
						AND SandProduction.EntityID = @EntityId    
						GROUP BY 
						SandProduction.OperatorId ,        
						SandProduction.PurchaseItemId,  
						ContractCastingRate.MetalId  ,
						ContractMaster.ContractName,
						EmployeeDetails.EmployeeName,
						cm.CastingName ,        
						cm.CastingCode,  
						SandProduction.BatchNo,
						convert(varchar, SandProduction.ProductionDate, 106)

						union all
				SELECT		processPerform.ContractName,
							processPerform.EmployeeName AS ContractorName ,
							cm.CastingName ,        
							cm.CastingCode , 
							SUM(CASE WHEN CostCalculationUOM = 'Per Kg'        
							THEN (case when Dispatch.Qty > isnull(processPerform.ProcessQty,0) then (processPerform.ProcessQty * AvgWeight) else DisWeight end) 
								* ContractCastingRate.Rate 
							ELSE (case when Dispatch.Qty > isnull(processPerform.ProcessQty,0) then processPerform.ProcessQty else Dispatch.Qty end) 
								* ContractCastingRate.Rate        
							END) AS QtyWeight,
							Dispatch.MetalId , 
							Sum(case when Dispatch.Qty > isnull(processPerform.ProcessQty,0) then processPerform.ProcessQty else Dispatch.Qty end) as TotalQty, 
							Sum(case when Dispatch.Qty > isnull(processPerform.ProcessQty,0) then (processPerform.ProcessQty * AvgWeight)  else DisWeight end)  as TotalWt ,
							pb.batchno,
							ProcessPerformDate
				from		(	select Sum(DispatchGradewise.Qty) as qty,
										dispatchtrans.castingid,
										CastingStockBatch.MetalID,
										Sum(dispatchtrans.weight * DispatchGradewise.Qty) as DisWeight,
										Sum(DispatchGradewise.qty * dispatchtrans.weight) /Sum(DispatchGradewise.qty ) as AvgWeight,
										CastingStockBatch.productionbatchID,
										convert(varchar, DispatchMaster.DispatchDate, 106) as ProcessPerformDate  
								from	DispatchGradewise
										Inner Join dispatchtrans on dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
										Inner join dispatchMaster on dispatchMaster.dispatchId = dispatchtrans.dispatchId
										inner join CastingStockBatch On CastingStockBatch.Batchid = DispatchGradewise.BatchID 
								where	dispatchMaster.IsDeleted = 0 And TypeOfVoucher in(0,5) And isProforma = 0
										and dispatchtrans.IsDeleted = 0
									 	and  cast(dispatchMaster.dispatchdate as date) BETWEEN @StartDate AND @EndDate
										AND ( @CastingId IS NULL        
												OR dispatchtrans.CastingId = @CastingId        
											)
										And dispatchMaster.EntityID = @EntityId    
								group by dispatchtrans.castingid,
										CastingStockBatch.MetalID,
										CastingStockBatch.productionbatchID	,
										convert(varchar, DispatchMaster.DispatchDate, 106)
							) as Dispatch
							Inner Join (select castingName,castingCode,castingId from castingMaster 
										where ParentId is null and	(@castingId is null or castingID= @CastingId)
												AND ( @CastingName IS NULL OR castingMaster.CastingName = @CastingName)
													and	(@ComponentID is null or ComponentID= @ComponentID)
												AND ( @CustomerId IS NULL        
														OR CastingMaster.Dieid IN (        
														SELECT    PatternId        
														FROM      CustomerPatternMapping        
														WHERE     ( CustomerId = @CustomerId )        
																AND ( IsDeleted = 0 ))
													)  
										) as cm on cm.CastingId = Dispatch.castingid
							inner join (select  SandProduction.PurchaseItemId as 	ParentID ,
												CastingMetal.MetalID,
												SandProduction.ProductionBatchId,
												Sum(SandProduction.Qty) as ProcessQty,
												ContractMaster.ContractMasterID,
											--	Sum(SandProduction.Qty * CastingNetWeight) as CastingWeight,
												CostCalculationUOM,
												EmployeeName,
												ContractName 
										from	SandProduction     
												 
												Inner join CastingMetal on CastingMetal.castingID= SandProduction.PurchaseItemId
												Inner Join EmployeeDetails On EmployeeDetails.EmployeeId = SandProduction.OperatorId      
												Inner join ContractMaster On   (ContractMaster.ContractorId = SandProduction.OperatorId)
															and SandProduction.PlantId = ContractMaster.PlantId 
															and (ContractMaster.ContractorId = EmployeeDetails.ContractorID   
																Or ContractMaster.ContractorId = EmployeeDetails.EmployeeId)
										Where	SandProduction.IsDeleted = 0  
												and ContractMaster.IsDeleted = 0         
												and ContractMaster.ProductionorDispatch = 0        
												AND ( @PlantIdString IS NULL        
														OR @PlantIdString = ''        
														OR SandProduction.PurchaseItemId IN (        
														SELECT        
															CastingId        
														FROM        
															dbo.PlantCastingMapping        
															where PlantId in (SELECT Item FROM @Plant) )        
													)        
												AND SandProduction.EntityID = @EntityId 
																      
												AND ( @ContractMasterId IS NULL        
														OR ContractMaster.ContractMasterId = @ContractMasterId        
													)        
												AND (  @ContractorId = 0            
														OR ContractMaster.ContractorID = @ContractorId        
													)  
												AND ( ISNULL(@PlantIdString , '') = ''        
														OR ContractMaster.PlantId IN (SELECT item FROM @plant)        
													)           
												AND ContractMaster.EntityID = @EntityId  
												
										  Group by  SandProduction.PurchaseItemId ,
													CastingMetal.MetalID,
													SandProduction.productionbatchID,
													ContractMaster.ContractMasterID,
													CastingNetWeight,
													CostCalculationUOM,
													EmployeeName,
													ContractName 
										) as processPerform On processPerform.ParentID = Dispatch.CastingID
										and processPerform.MetalID = Dispatch.MetalID
										and processPerform.productionbatchID = Dispatch.productionbatchID
							Inner Join ProductionBatch pb on pb.batchID = Dispatch.productionbatchID
							inner join ContractCastingRate On ContractCastingRate.ContractMasterId = processPerform.ContractMasterID        
								and ContractCastingRate.CastingId = Dispatch.CastingID        
								and ContractCastingRate.MetalId = Dispatch.MetalId      
								  
					WHERE	ContractCastingRate.isDeleted = 0        
							
                  Group by  processPerform.ContractName,
							processPerform.EmployeeName,
							cm.CastingName ,        
							cm.CastingCode ,                
							Dispatch.MetalId ,
							pb.batchno,
							ProcessPerformDate

                    ) as HeatwiseDetail

    SELECT  ROW_NUMBER() OVER ( ORDER BY ContractorName, CastingName ) AS SrNo ,        
            ContractorName ,        
            CastingName ,        
            CastingCode ,
            A.MetalId,        
            MetalName,     
			ProcessPerformDate,
            SUM(QtyWeight) AS TotalCost ,
            Sum(TotalQty) as TotalQty,
			Sum(TotalWt) as TotalWt       
    into #tempCastingContractWiseBreakup        
	FROM    (	Select * from #tempCastingWiseBreakupWithHeat)as  A        
						Inner join MetalMaster On MetalMaster.MetalId = A.MetalId        
				GROUP BY ContractorName ,        
						CastingName ,        
						CastingCode,        
						A.MetalId,        
						MetalName  ,
						ProcessPerformDate

    SELECT  ROW_NUMBER() OVER ( ORDER BY ContractorName, CastingName ) AS SrNo ,        
            ContractorName ,        
            CastingName ,        
            CastingCode ,
            A.MetalId,        
            MetalName,       
            SUM(QtyWeight) AS TotalCost ,
            Sum(TotalQty) as TotalQty,
			Sum(TotalWt) as TotalWt ,
			BatchNo,
			ProcessPerformDate
    into #tempCastingContractWiseHeatwiseBreakup        
	FROM    (	Select * from #tempCastingWiseBreakupWithHeat)as  A        
						Inner join MetalMaster On MetalMaster.MetalId = A.MetalId        
				GROUP BY ContractorName ,        
						CastingName ,        
						CastingCode,        
						A.MetalId,        
						MetalName,
						batchno,
						ProcessPerformDate
--===================================Core wise temp table=================        
        
SELECT  ROW_NUMBER() OVER ( ORDER BY ContractorName, ProcessPerformDate,CoreBoxName, PatternCode ) AS SrNo ,        
                    ContractorName ,        
                    CoreBoxName ,        
                    PatternCode ,        convert(Varchar,A.ProcessPerformDate,106) as ProcessPerformDate,
                    SUM(QtyWeight) AS TotalCost        
            into #tempCoreTable        
            FROM    ( SELECT    ContractMaster.ContractName ,        
                                EmployeeDetails.EmployeeName AS ContractorName ,        
                                ContractMaster.CostCalculationUOM ,        
                                CoreBoxDetails.CoreBoxName ,        
                                PatternMaster.PatternCode ,CoreProduction.ProcessPerformDate as ProcessPerformDate,        
                                SUM(QtyWeight) as QtyWeight        
                      FROM      ContractMaster        
                                INNER JOIN ContractCoreRate ON ContractMaster.ContractMasterID = ContractCoreRate.ContractMasterID        
                                INNER JOIN ( SELECT CoreProduction.CoreId ,        
                                                    CoreProductionMaster.CoreMakerId , CoreProductionMaster.[Date]  as ProcessPerformDate,     
                                                    SUM(CASE WHEN CostCalculationUOM = 'Per Kg'        
													  THEN CoreQty * CoreWeight *  Rate        
													  ELSE CoreQty * Rate        
													 END) AS QtyWeight,        
                                                    CoreProduction.PlantId        
											FROM    CoreProduction        
													inner join CoreProductionMaster on CoreProductionMaster.CoreProductionMasterId = CoreProduction.CoreProductionMasterId        
													Inner Join employeeDetails On EmployeeDetails.EmployeeId = CoreProductionMaster.CoreMakerId
													Inner Join ContractMaster On ContractMaster.ContractorId = EmployeeDetails.EmployeeId
																	Or ContractMaster.ContractorId = EmployeeDetails.ContractorId        
													 inner join ContractCoreRate On ContractCoreRate.ContractMasterID = ContractMaster.ContractMasterID        
													 AND ContractCoreRate.CoreId = CoreProduction.CoreId        
                                                     AND CoreProduction.PlantId = ContractMaster.PlantId        
                                            WHERE  CoreProduction.IsDeleted = 0        
													 and ContractMaster.IsDeleted = 0        
													 and ContractCoreRate.IsDeleted = 0        
													 AND ContractMaster.ProductionorDispatch = 1        
                                                    AND CoreProductionMaster.Date BETWEEN @StartDate AND @EndDate        
                                             GROUP BY CoreProduction.CoreId ,        
                                                    CoreProductionMaster.CoreMakerId,    CoreProductionMaster.[Date],    
                                                    CoreProduction.PlantId        
                                           ) AS CoreProduction ON       
												 ContractCoreRate.CoreId = CoreProduction.CoreId        
                                                AND CoreProduction.PlantId = ContractMaster.PlantId   
                                Inner Join EmployeeDetails em On em.EmployeeId = CoreProduction.CoreMakerId
                                   and (em.EmployeeId = ContractMaster.ContractorId Or em.ContractorId = ContractMaster.ContractorId )  
                                   
                                INNER JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = ContractMaster.ContractorId        
                                INNER JOIN CoreBoxDetails ON CoreBoxDetails.CoreBoxID = ContractCoreRate.CoreId        
                                INNER JOIN PatternMaster ON PatternMaster.PatternId = CoreBoxDetails.PatternID        
                      WHERE     ContractMaster.IsDeleted = 0        
                
                                AND ContractMaster.ProductionorDispatch = 1        
                                AND ContractCoreRate.IsDeleted = 0        
                                AND ( @ContractMasterId IS NULL        
                                      OR ContractMaster.ContractMasterId = @ContractMasterId        
                                    )        
                                AND (  @ContractorId = 0            
                                      OR ContractMaster.ContractorID = @ContractorId        
                                    )        
                                AND ( ISNULL(@PlantIdString , '') = ''        
                                          OR ContractMaster.PlantId IN (SELECT item	 FROM @plant)        
                                        )           
                                AND ContractMaster.EntityID = @EntityId        
                      GROUP BY  ContractMaster.ContractName ,        
                                ContractMaster.CostCalculationUOM ,        
                                EmployeeDetails.EmployeeName ,        
                                CoreBoxDetails.CoreBoxName ,        
                                PatternMaster.PatternCode ,CoreProduction.ProcessPerformDate       
                    ) A        
            GROUP BY ContractorName ,        
                    CoreBoxName ,        
                    PatternCode  ,A.ProcessPerformDate      

---====================== Pattern Wise Temp Table =================================        
            SELECT  ROW_NUMBER() OVER ( ORDER BY ContractorName, ProcessPerformDate,PatternCode ) AS SrNo ,        
                    ContractorName ,        
                    PatternCode , convert(varchar,A.ProcessPerformDate,106) as ProcessPerformDate,       
                    SUM(QtyWeight * Rate) AS TotalCost
                    into #tempPatternTable        
            FROM    ( SELECT    ContractMaster.ContractName ,        
                                EmployeeDetails.EmployeeName AS ContractorName ,        
                                ContractMaster.CostCalculationUOM ,        
                                PatternMaster.PatternId,PatternMaster.PatternCode ,  MoldingEntry.ProcessPerformDate as ProcessPerformDate,     
                                AVG(ContractMoldingRate.Rate) AS Rate ,        
                                SUM(CASE WHEN CostCalculationUOM = 'Per Kg'        
                                         THEN Weight        
                                         ELSE Qty        
                                    END) AS QtyWeight        
                      FROM      ContractMaster        
                                INNER JOIN ContractMoldingRate ON ContractMaster.ContractMasterID = ContractMoldingRate.ContractMasterID        
                                INNER JOIN ( SELECT MoldingEntryTrans.PatternId ,        
                                      MoldingEntryMaster.MolderId ,  MoldingEntryMaster.[Date] as ProcessPerformDate,      
                                                   -- SUM(MoldingEntryMaster.MoldQty) AS Qty ,      -- Commented by Juhi Singh on 11-12-2025
												    SUM(MoldingEntryMaster.OKQty) AS Qty ,      
                                                    SUM(MoldingEntryMaster.BunchWeight) AS Weight,        
                                                    MoldingEntryMaster.PlantId        
                                             FROM   MoldingEntryTrans        
                                                    INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingEntryTrans.MoldingEntryMasterId        
                                             WHERE  MoldingEntryMaster.IsDeleted = 0        
                                                    AND MoldingEntryTrans.IsDeleted = 0        
                                                    AND MoldingEntryMaster.Date BETWEEN @StartDate AND @EndDate        
                                                    AND MoldingEntryMaster.EntityID = @EntityId        
                                             GROUP BY MoldingEntryTrans.PatternId ,        
                                                    MoldingEntryMaster.MolderId,        
                                                    MoldingEntryMaster.PlantId,MoldingEntryMaster.[Date]        
                                           ) AS MoldingEntry ON   
                                                               MoldingEntry.PatternId = ContractMoldingRate.PatternId        
                                                              AND MoldingEntry.PlantId = ContractMaster.PlantId   
								Inner Join EmployeeDetails em On em.EmployeeId = MoldingEntry.MolderId
										And (em.EmployeeId = ContractMaster.ContractorId Or em.ContractorId = ContractMaster.ContractorId )          
                                INNER JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = ContractMaster.ContractorId        
                                INNER JOIN PatternMaster ON PatternMaster.PatternId = ContractMoldingRate.PatternId        
                      WHERE     ContractMaster.IsDeleted = 0        
                
                                AND ContractMaster.ProductionorDispatch = 1        
                                AND ContractMoldingRate.IsDeleted = 0        
                                AND ( @ContractMasterId IS NULL        
                                      OR ContractMaster.ContractMasterId = @ContractMasterId        
                                    )        
                                AND (  @ContractorId = 0            
                                      OR ContractMaster.ContractorID = @ContractorId        
                                    )        
                                     AND ( ISNULL(@PlantIdString , '') = ''        
                                                  OR ContractMaster.PlantId IN (SELECT item FROM @plant)        
                                                )           
                                                    AND ContractMaster.EntityID = @EntityId        
                      GROUP BY  ContractMaster.ContractName ,        
                                ContractMaster.CostCalculationUOM ,        
                                EmployeeDetails.EmployeeName , PatternMaster.PatternID,       
                                PatternMaster.PatternCode ,MoldingEntry.ProcessPerformDate       
                    ) A        
            GROUP BY ContractorName ,        
                    PatternCode,A.ProcessPerformDate    
        
            
---======================CONTRACTOR SUMMARY ============================            
SELECT  ROW_NUMBER() OVER ( ORDER BY ContractorName ) AS SrNo ,        
        ContractorName ,        
        SUM(TotalRate) AS TotalCost        
            FROM    (
					  SELECT    ContractorName , SUM(TotalCost) AS TotalRate        
                      FROM      (         
									 select SrNo ,ContractorName ,PatternCode ,TotalCost        
									 from  #tempPatternTable        
								) A        
                      GROUP BY  ContractorName        
                              
--CORE RATE        
UNION        
                      SELECT    ContractorName , SUM(TotalCost) AS TotalRate        
                      FROM      (         
										 select SrNo , ContractorName ,        
										 CoreBoxName , PatternCode ,        
										 TotalCost        
								                 
									   from  #tempCoreTable        
                                ) A        
                      GROUP BY  ContractorName        
                              
UNION        
        
-- casting rate        
                              
       SELECT    ContractorName , SUM(TotalCost) AS TotalRate        
                      FROM      ( 
									SELECT  SrNo ,ContractorName ,        
									TotalCost        
									from #tempCastingContractWiseBreakup         
								) as A        
						   GROUP BY ContractorName        
      ) A        
     GROUP BY ContractorName        
                
           
           
 if(@IsDayWise = 0)
          BEGIN
          
---======================CONTRACTOR WISE CASTING WISE AMOUNT BREAKUP============================
				SELECT  ROW_NUMBER() OVER ( ORDER BY ContractorName, CastingName ) AS SrNo , ContractorName ,        
				CastingName ,CastingCode ,MetalName,
				SUM(Totalqty)as TotalQty,SUM(TotalWt)as TotalWt ,SUM(TotalCost)     as TotalCost  
				from  #tempCastingContractWiseBreakup  where TotalCost > 0
				group by ContractorName ,CastingName ,CastingCode ,MetalId,MetalName
				      
---======================CONTRACTOR WISE PATTERN WISE AMOUNT BREAKUP============================     
				select    ROW_NUMBER() OVER ( ORDER BY ContractorName, PatternCode ) AS SrNo , 
				ContractorName ,PatternCode , sum(TotalCost)  as TotalCost      
				from      #tempPatternTable where TotalCost > 0
				GROUP BY  ContractorName  ,PatternCode  
				
---======================CONTRACTOR WISE CORE WISE AMOUNT BREAKUP============================        
        
				select    ROW_NUMBER() OVER ( ORDER BY ContractorName, CoreBoxName, PatternCode ) AS SrNo , 
				ContractorName ,CoreBoxName ,PatternCode , sum(TotalCost)  as TotalCost       
				from  #tempCoreTable  where TotalCost > 0
				GROUP BY  ContractorName ,CoreBoxName ,PatternCode    				
---======================CONTRACTOR WISE CASTING WISE HEAT WISE AMOUNT BREAKUP============================
				SELECT  ROW_NUMBER() OVER ( ORDER BY ContractorName, CastingName ) AS SrNo , ContractorName ,        
				CastingName ,CastingCode ,MetalName,batchno as HeatNo,
				SUM(Totalqty)as TotalQty,SUM(TotalWt)as TotalWt ,SUM(TotalCost)     as TotalCost  
				from  #tempCastingContractWiseHeatwiseBreakup   where TotalCost > 0
				group by ContractorName ,CastingName ,CastingCode ,MetalId,MetalName,batchno
				
		END
		else
		Begin
		
---======================CONTRACTOR WISE CASTING WISE AMOUNT BREAKUP============================   
				SELECT  SrNo ,ContractorName ,CastingName ,CastingCode ,MetalName,
				Totalqty,TotalWt ,TotalCost,ProcessPerformDate        
				from  #tempCastingContractWiseBreakup    where TotalCost > 0
				
---======================CONTRACTOR WISE PATTERN WISE AMOUNT BREAKUP============================     				
				 SELECT  SrNo ,ContractorName ,PatternCode , ProcessPerformDate, TotalCost
                 FROM  #tempPatternTable   where TotalCost > 0

---======================CONTRACTOR WISE CORE WISE AMOUNT BREAKUP============================        
        
				select  SrNo , ContractorName ,CoreBoxName ,PatternCode , TotalCost,ProcessPerformDate        
				from  #tempCoreTable        where TotalCost > 0
			
---======================CONTRACTOR WISE CASTING WISE HEAT WISE AMOUNT BREAKUP============================   
				SELECT  SrNo ,ContractorName ,CastingName ,CastingCode,MetalName,
				Totalqty,TotalWt ,TotalCost,ProcessPerformDate  ,batchno as  Heatno      
				from  #tempCastingContractWiseHeatwiseBreakup    where TotalCost > 0
        end     
        
        drop table #tempCastingContractWiseBreakup
        drop table #tempCoreTable 
        drop table #tempPatternTable
		drop table #tempCastingContractWiseHeatwiseBreakup
      
   
           
          
            --SELECT  ROW_NUMBER() OVER ( ORDER BY ContractorName, CoreBoxName, PatternCode ) AS SrNo ,        
            --        ContractorName ,        
            --        CoreBoxName ,        
            --        PatternCode ,        
            --        SUM(QtyWeight * Rate) AS TotalCost        
            --FROM    ( SELECT    ContractMaster.ContractName ,        
            --                    EmployeeDetails.EmployeeName AS ContractorName ,        
            --                    ContractMaster.CostCalculationUOM ,        
            --                    CoreBoxDetails.CoreBoxName ,        
            --                    PatternMaster.PatternCode ,        
            --                    AVG(ContractCoreRate.Rate) AS Rate ,        
            --                    SUM(CASE WHEN CostCalculationUOM = 'Per Kg'        
            --                             THEN Qty * Weight        
            --                             ELSE Qty        
            --                        END) AS QtyWeight        
            --          FROM      ContractMaster        
            --                    INNER JOIN ContractCoreRate ON ContractMaster.ContractMasterID = ContractCoreRate.ContractMasterID        
            --                    INNER JOIN ( SELECT CoreId ,        
            --                                        CoreProductionMaster.CoreMakerId ,        
            --                                        SUM(CoreQty) AS Qty ,        
            --                                        SUM(CoreWeight) AS Weight,        
          --                                        PlantId        
            --                                 FROM   CoreProduction        
            --                                 inner join CoreProductionMaster on CoreProductionMaster.CoreProductionMasterId = CoreProduction.CoreProductionMasterId        
            --                                 WHERE  CoreProduction.IsDeleted = 0        
            --                                        AND CoreProductionMaster.Date BETWEEN @StartDate AND @EndDate        
            --                                 GROUP BY CoreId ,        
            --                                        CoreProductionMaster.CoreMakerId,        
            --                                        PlantId        
            --                               ) AS CoreProduction ON CoreProduction.CoreMakerId = ContractMaster.ContractorId        
            --                                                  AND ContractCoreRate.CoreId = CoreProduction.CoreId        
            --                                                  AND CoreProduction.PlantId = ContractMaster.PlantId        
            --                    INNER JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = ContractMaster.ContractorId        
            --                    INNER JOIN CoreBoxDetails ON CoreBoxDetails.CoreBoxID = ContractCoreRate.CoreId        
            --                    INNER JOIN PatternMaster ON PatternMaster.PatternId = CoreBoxDetails.PatternID        
            --          WHERE     ContractMaster.IsDeleted = 0        
       --                    AND ContractMaster.ProductionorDispatch = 1        
            --                    AND ContractCoreRate.IsDeleted = 0        
            --                    AND ( @ContractMasterId IS NULL        
            --                          OR ContractMaster.ContractMasterId = @ContractMasterId        
            --                        )        
            --                    AND (  @ContractorId = 0            
            --                          OR ContractMaster.ContractorID = @ContractorId        
            --                        )        
            --                            AND ( ISNULL(@PlantIdString , '') = ''        
            --                                      OR ContractMaster.PlantId IN (SELECT Item FROM @Plant)        
            --                                    )           
            --                                        AND ContractMaster.EntityID = @EntityId        
            --          GROUP BY  ContractMaster.ContractName ,        
            --                    ContractMaster.CostCalculationUOM ,        
            --                    EmployeeDetails.EmployeeName ,        
            --                    CoreBoxDetails.CoreBoxName ,        
            --                    PatternMaster.PatternCode        
            --        ) A        
            --GROUP BY ContractorName ,        
            --        CoreBoxName ,        
            --        PatternCode        
        
            
            --SELECT  ROW_NUMBER() OVER ( ORDER BY Tbl.Contractor ) SrNo ,        
            --        Tbl.Contractor ,        
            --        Tbl.OperatorID ,        
            --        ROUND(SUM(Tbl.TotalAmount), 2) AS TotalAmount        
            --FROM    ( SELECT    OperatorMaster.OperatorName AS Contractor ,        
            --                    OperatorMaster.OperatorID ,        
            --                    SUM(ContractWorkEntryTrans.TotalAmount) AS TotalAmount        
            --          FROM      ContractWorkEntryMaster        
            --                    INNER JOIN ContractWorkEntryTrans ON ContractWorkEntryMaster.ContractWorkEntryMasterId = ContractWorkEntryTrans.ContractWorkEntryMasterId        
            --                    INNER JOIN OperatorMaster ON ContractWorkEntryMaster.ContractorID = OperatorMaster.OperatorID        
            --                INNER JOIN CastingMaster ON CastingMaster.CastingId = ContractWorkEntryTrans.CastingId        
            --                    INNER JOIN ProductionBatch ON ContractWorkEntryTrans.ProductionBatchId = ProductionBatch.batchID        
            --          WHERE     ProductionBatch.ProductionDate BETWEEN @StartDate        
            --                                                  AND        
            --                                                  @EndDate        
            --                    AND ( ContractWorkEntryTrans.IsDeleted = 0 )        
            --                    AND ( ContractWorkEntryMaster.IsDeleted = 0 )        
            --                    AND ( @CastingId IS NULL        
            --                          OR CastingMaster.CastingId = @CastingId        
            --                        )        
            --                    AND ( @CastingName IS NULL        
            --                          OR CastingMaster.CastingName = @CastingName        
            --                        )        
            --                    AND ( @ContractMasterId IS NULL        
            --                          OR ContractWorkEntryMaster.ContractMasterId = @ContractMasterId        
            --                        )        
            --                    AND (  @ContractorId = 0            
            --                          OR ContractWorkEntryMaster.ContractorID = @ContractorId        
            --                        )        
            --                    AND ( @CustomerId IS NULL        
            --                          OR CastingMaster.Dieid IN (        
            --                          SELECT    PatternId        
            --                          FROM      CustomerPatternMapping        
            --                          WHERE     ( CustomerId = @CustomerId )        
            --                                    AND ( IsDeleted = 0 )        
            --                          UNION        
            --                          SELECT    DieId        
            --                          FROM      CustomerDieMapping        
            --                          WHERE     ( CustomerId = @CustomerId )        
            --                                    AND ( IsDeleted = 0 ) )        
            --                        )        
            --          GROUP BY  OperatorMaster.OperatorID ,        
            --                    OperatorMaster.OperatorName        
            --          UNION        
            --          SELECT    OperatorMaster.OperatorName Contractor ,        
            --                    OperatorMaster.OperatorID OperatorID ,        
            --                    SUM(ContractWorkEntryDispatchTrans.TotalAmount) TotalAmount        
            --          FROM      ContractWorkEntryDispatchMaster        
            --                    INNER JOIN ContractWorkEntryDispatchTrans ON ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId = ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchMasterId        
            --                    INNER JOIN OperatorMaster ON ContractWorkEntryDispatchMaster.ContractorID = OperatorMaster.OperatorID        
            --                    INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.ContractWorkEntryDispatchTrans.CastingId        
            --                    INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.ContractWorkEntryDispatchTrans.dispatchid        
            --          WHERE     dispatchmaster.DispatchDate BETWEEN @StartDate        
            --                                                AND        
            --                                                  @EndDate        
            --                    AND ContractWorkEntryDispatchTrans.IsDeleted = 0        
            --           AND ContractWorkEntryDispatchMaster.IsDeleted = 0        
            --   AND ( @CastingId IS NULL        
            --                          OR dbo.CastingMaster.CastingId = @CastingId        
            --                        )        
            --                    AND ( @CastingName IS NULL        
            --                          OR dbo.CastingMaster.CastingName = @CastingName        
            --                        )        
            --                    AND ( @ContractMasterId IS NULL        
            --                          OR dbo.ContractWorkEntryDispatchMaster.ContractMasterId = @ContractMasterId        
            --                        )        
            --                    AND (  @ContractorId = 0            
            --                          OR dbo.ContractWorkEntryDispatchMaster.ContractorId = @ContractorId        
            --                        )        
            --                    AND ( @CustomerId IS NULL        
            --                          OR CastingMaster.Dieid IN (        
            --                          SELECT    dbo.CustomerPatternMapping.PatternId        
            --                          FROM      CustomerPatternMapping        
            --                          WHERE     CustomerId = @CustomerId        
            --                                    AND IsDeleted = 0        
            --                          UNION        
            --                          SELECT    dbo.CustomerDieMapping.DieId        
            --                          FROM      dbo.CustomerDieMapping        
            --                          WHERE     CustomerId = @CustomerId        
            --                                    AND IsDeleted = 0 )        
            --                        )        
            --          GROUP BY  OperatorMaster.OperatorID ,        
            --                    OperatorMaster.OperatorName        
            --        ) Tbl        
            --GROUP BY Tbl.OperatorID ,        
            --        Tbl.Contractor        
            --SELECT  ROW_NUMBER() OVER ( ORDER BY Tbl.Contractor, Tbl.CastingName ) SrNo ,        
            --        Tbl.Contractor ,        
            --        Tbl.OperatorID ,        
            --        Tbl.CastingName ,        
            --        Tbl.CastingCode ,        
            --        Tbl.CastingId ,        
            --        SUM(Tbl.TotalAmount) TotalAmount        
            --FROM    ( SELECT    OperatorMaster.OperatorName AS Contractor ,        
            --                    OperatorMaster.OperatorID ,        
            --                    CastingMaster.CastingName ,        
            --                    CastingMaster.CastingCode ,        
            --                    CastingMaster.CastingId ,        
            --                    SUM(ContractWorkEntryTrans.TotalAmount) AS TotalAmount        
            --          FROM      ContractWorkEntryMaster        
            --                    INNER JOIN ContractWorkEntryTrans ON ContractWorkEntryMaster.ContractWorkEntryMasterId = ContractWorkEntryTrans.ContractWorkEntryMasterId        
            --                    INNER JOIN OperatorMaster ON ContractWorkEntryMaster.ContractorID = OperatorMaster.OperatorID        
            --                    INNER JOIN CastingMaster ON ContractWorkEntryTrans.CastingId = CastingMaster.CastingId        
            --                    INNER JOIN ProductionBatch ON ContractWorkEntryTrans.ProductionBatchId = ProductionBatch.batchID        
            --          WHERE     ( ContractWorkEntryTrans.IsDeleted = 0 )        
            --                    AND ProductionBatch.ProductionDate BETWEEN @StartDate        
            --                                                  AND        
            --                                                  @EndDate        
            --                    AND ( ContractWorkEntryMaster.IsDeleted = 0 )        
            --                    AND ( @CastingId IS NULL        
       --                          OR dbo.CastingMaster.CastingId = @CastingId        
            --                        )        
            --                    AND ( @CastingName IS NULL        
            --                          OR dbo.CastingMaster.CastingName = @CastingName        
            --                        )        
            --                    AND ( @ContractMasterId IS NULL        
            --                          OR dbo.ContractWorkEntryMaster.ContractMasterId = @ContractMasterId        
            --                        )        
            --                    AND (  @ContractorId = 0            
            --                          OR dbo.ContractWorkEntryMaster.ContractorId = @ContractorId        
            --                        )        
            --                    AND ( @CustomerId IS NULL        
            --                          OR CastingMaster.Dieid IN (        
            --                          SELECT    dbo.CustomerPatternMapping.PatternId        
            --                          FROM      CustomerPatternMapping        
            --                          WHERE     CustomerId = @CustomerId        
            --                                    AND IsDeleted = 0        
            --                          UNION        
            --                          SELECT    dbo.CustomerDieMapping.DieId        
            --                          FROM      dbo.CustomerDieMapping        
            --                          WHERE     CustomerId = @CustomerId        
            --                                    AND IsDeleted = 0 )        
            --                        )        
            --          GROUP BY  OperatorMaster.OperatorID ,        
            --                    OperatorMaster.OperatorName ,        
            --                    CastingMaster.CastingName ,        
            --                    CastingMaster.CastingCode ,        
            --                    CastingMaster.CastingId        
            --          UNION        
            --          SELECT    OperatorMaster.OperatorName Contractor ,        
            --                    OperatorMaster.OperatorID ,                --                    CastingMaster.CastingName ,        
            --                    CastingMaster.CastingCode ,        
            --                    CastingMaster.CastingId ,        
            --                    SUM(ContractWorkEntryDispatchTrans.TotalAmount) TotalAmount        
            --          FROM      ContractWorkEntryDispatchMaster        
            --                    INNER JOIN ContractWorkEntryDispatchTrans ON ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId = ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchMasterId        
            --                    INNER JOIN OperatorMaster ON ContractWorkEntryDispatchMaster.ContractorID = OperatorMaster.OperatorID        
            --                    INNER JOIN CastingMaster ON ContractWorkEntryDispatchTrans.CastingId = CastingMaster.CastingId        
            --                    INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.ContractWorkEntryDispatchTrans.dispatchid        
            --          WHERE     dispatchmaster.dispatchdate BETWEEN @StartDate        
            --                                                AND        
            --                                                  @EndDate        
            --                    AND ContractWorkEntryDispatchTrans.IsDeleted = 0        
            --                    AND ContractWorkEntryDispatchMaster.IsDeleted = 0        
            --                    AND ( @CastingId IS NULL        
            --                          OR dbo.CastingMaster.CastingId = @CastingId        
            --                        )        
            --                    AND ( @CastingName IS NULL        
            --                          OR dbo.CastingMaster.CastingName = @CastingName        
            --                        )        
            --                 AND ( @ContractMasterId IS NULL        
            --                          OR dbo.ContractWorkEntryDispatchMaster.ContractMasterId = @ContractMasterId        
            --                        )        
            --      AND (  @ContractorId = 0            
            --                          OR dbo.ContractWorkEntryDispatchMaster.ContractorId = @ContractorId        
            --                        )        
            --                    AND ( @CustomerId IS NULL        
            --                          OR CastingMaster.Dieid IN (        
            --                          SELECT    dbo.CustomerPatternMapping.PatternId        
            --                          FROM      CustomerPatternMapping        
            --                          WHERE     CustomerId = @CustomerId        
            --                                    AND IsDeleted = 0        
            --                          UNION        
            --                          SELECT    dbo.CustomerDieMapping.DieId        
            --                          FROM      dbo.CustomerDieMapping        
            --                          WHERE     CustomerId = @CustomerId        
            --                                    AND IsDeleted = 0 )        
            --                        )        
            --          GROUP BY  OperatorMaster.OperatorID ,        
            --                    OperatorMaster.OperatorName ,        
            --                    CastingMaster.CastingName ,        
            --                    CastingMaster.CastingCode ,        
            --                    CastingMaster.CastingId        
            --        ) Tbl        
            --GROUP BY Tbl.OperatorID ,        
            --        Tbl.Contractor ,        
            --        Tbl.CastingName ,        
            --        Tbl.CastingCode ,        
            --        Tbl.CastingId        
            --IF @ContractMasterID IS NOT NULL        
            --    BEGIN        
            --        SELECT  ROW_NUMBER() OVER ( ORDER BY Tbl.Contractor, Tbl.ProductionDate DESC, Tbl.CastingName ) SrNo ,        
            --                *        
            --        FROM    ( SELECT    OperatorMaster.OperatorName AS Contractor ,        
            --        OperatorMaster.OperatorID ,        
            --                            ProductionBatch.BatchNo ,        
            --                            ProductionBatch.ProductionDate ,        
            --                            CastingMaster.CastingName ,        
            --                            CastingMaster.CastingCode ,        
            --                            CastingMaster.CastingId ,        
            --                            knockout.productionqty ,        
            --                            ContractMaster.ContractName ,        
            --                            ContractWorkEntryTrans.Qty ,        
            --                            ContractWorkEntryTrans.Rate ,        
            --                            ContractWorkEntryTrans.UOM ,        
            --                            ContractWorkEntryTrans.PerPcWeight ,        
            --                            ContractWorkEntryTrans.TotalWeight ,        
            --                            ContractWorkEntryTrans.TotalAmount ,        
            --                            dbo.ProductionBatch.batchno AS HeatNo        
            --                  FROM      ContractWorkEntryMaster        
            --                            INNER JOIN ContractWorkEntryTrans ON ContractWorkEntryMaster.ContractWorkEntryMasterId = ContractWorkEntryTrans.ContractWorkEntryMasterId        
            --                            INNER JOIN OperatorMaster ON ContractWorkEntryMaster.ContractorID = OperatorMaster.OperatorID        
            --                         INNER JOIN CastingMaster ON ContractWorkEntryTrans.CastingId = CastingMaster.CastingId        
            --                            INNER JOIN ProductionBatch ON ContractWorkEntryTrans.ProductionBatchId = ProductionBatch.batchID        
            --                            INNER JOIN dbo.knockout ON dbo.knockout.knockoutid = dbo.ContractWorkEntryTrans.KnockoutId        
            --                            INNER JOIN dbo.ContractMaster ON dbo.ContractMaster.ContractMasterID = dbo.ContractWorkEntryMaster.ContractMasterId        
            --                  WHERE     ( ContractWorkEntryTrans.IsDeleted = 0 )        
            --                            AND ProductionBatch.ProductionDate BETWEEN @StartDate        
            --                                                  AND        
            --                                                  @EndDate        
            --                            AND ( ContractWorkEntryMaster.IsDeleted = 0 )        
            --                            AND ( @CastingId IS NULL        
            --                                  OR dbo.CastingMaster.CastingId = @CastingId        
            --                                )        
            --                            AND ( @CastingName IS NULL        
            --                                  OR dbo.CastingMaster.CastingName = @CastingName        
            --                                )        
            --                            AND ( @ContractMasterId IS NULL        
            --                                  OR dbo.ContractWorkEntryMaster.ContractMasterId = @ContractMasterId        
            --                                )        
            --                            AND (  @ContractorId = 0            
            --                                  OR dbo.ContractWorkEntryMaster.ContractorId = @ContractorId        
            --                                )        
            --                            AND ( @CustomerId IS NULL        
            --                                  OR CastingMaster.Dieid IN (        
            --                                  SELECT    dbo.CustomerPatternMapping.PatternId        
            --                                  FROM      CustomerPatternMapping        
            --                                  WHERE     CustomerId = @CustomerId        
            --                                            AND IsDeleted = 0        
            --                                  UNION        
            --         SELECT    dbo.CustomerDieMapping.DieId        
            --                                  FROM      dbo.CustomerDieMapping        
            --                                  WHERE     CustomerId = @CustomerId        
            --                                            AND IsDeleted = 0 )        
            --                                )        
            --                  UNION ALL        
            --                  SELECT    OperatorMaster.OperatorName AS Contractor ,        
            --                            OperatorMaster.OperatorID ,        
            --                            dispatchmaster.Dispatchslipno BatchNo ,        
            --                            dispatchmaster.Dispatchdate ProductionDate ,        
            --                            CastingMaster.CastingName ,        
            --                            CastingMaster.CastingCode ,        
            --                            CastingMaster.CastingId ,        
            --                            dispatchtrans.DispatchQty ,        
            --                            ContractMaster.ContractName ,        
            --                            ContractWorkEntryDispatchTrans.Qty ,        
            --                            ContractWorkEntryDispatchTrans.Rate ,        
            --                            ContractWorkEntryDispatchTrans.UOM ,        
       --                            ContractWorkEntryDispatchTrans.PerPcWeight ,        
            --                            ContractWorkEntryDispatchTrans.TotalWeight ,        
            --                            ContractWorkEntryDispatchTrans.TotalAmount ,        
            --            dbo.ProductionBatch.batchno AS HeatNo        
            --                  FROM      ContractWorkEntryDispatchMaster        
            --                            INNER JOIN ContractWorkEntryDispatchTrans ON ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId = ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchMasterId        
            --                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = ContractWorkEntryDispatchTrans.HeatId        
            --                            INNER JOIN OperatorMaster ON ContractWorkEntryDispatchMaster.ContractorID = OperatorMaster.OperatorID        
            --                            INNER JOIN CastingMaster ON ContractWorkEntryDispatchTrans.CastingId = CastingMaster.CastingId        
            --                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.ContractWorkEntryDispatchTrans.dispatchid        
            --                            INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchtransid = dbo.ContractWorkEntryDispatchTrans.DispatchTransId        
            --                            INNER JOIN dbo.ContractMaster ON dbo.ContractMaster.ContractMasterID = dbo.ContractWorkEntryDispatchMaster.ContractMasterId        
            --                  WHERE     dispatchmaster.dispatchdate BETWEEN @StartDate        
            --                                                  AND        
            --                                                  @EndDate        
            --                            AND ContractWorkEntryDispatchTrans.IsDeleted = 0        
            --                            AND ContractWorkEntryDispatchMaster.IsDeleted = 0        
            --                            AND ( @CastingId IS NULL        
            --                                  OR dbo.CastingMaster.CastingId = @CastingId        
            --                                )        
            --                            AND ( @CastingName IS NULL        
            --                                  OR dbo.CastingMaster.CastingName = @CastingName        
            --                                )        
            --                            AND ( @ContractMasterId IS NULL        
            --                                  OR dbo.ContractWorkEntryDispatchMaster.ContractMasterId = @ContractMasterId        
    --                                )        
            --                            AND (  @ContractorId = 0            
            --                                  OR dbo.ContractWorkEntryDispatchMaster.ContractorId = @ContractorId        
            --                                )        
            --                            AND ( @CustomerId IS NULL        
            --                                  OR CastingMaster.Dieid IN (        
            --                                  SELECT    dbo.CustomerPatternMapping.PatternId        
            --                                  FROM      CustomerPatternMapping        
            --                                  WHERE     CustomerId = @CustomerId        
            --                                            AND IsDeleted = 0        
            --                                  UNION        
            --                                  SELECT    dbo.CustomerDieMapping.DieId        
            --                                  FROM      dbo.CustomerDieMapping        
            --                                  WHERE     CustomerId = @CustomerId        
            --                                            AND IsDeleted = 0 )        
            --             )        
            --                  UNION ALL        
            --                  SELECT    OperatorMaster.OperatorName AS Contractor ,        
            --                            OperatorMaster.OperatorID ,        
            --                            dispatchmaster.Dispatchslipno BatchNo ,        
            --                            dispatchmaster.Dispatchdate ProductionDate ,        
            --                            CastingMaster.CastingName ,        
            --                            CastingMaster.CastingCode ,        
            --                            CastingMaster.CastingId ,        
            --                            DispatchSetCasting.DispatchedQty ,        
            --                            ContractMaster.ContractName ,        
            --                            ContractWorkEntryDispatchTrans.Qty ,        
            --                            ContractWorkEntryDispatchTrans.Rate ,        
            --                            ContractWorkEntryDispatchTrans.UOM ,        
            --                            ContractWorkEntryDispatchTrans.PerPcWeight ,        
   --                            ContractWorkEntryDispatchTrans.TotalWeight ,        
            --                            ContractWorkEntryDispatchTrans.TotalAmount ,        
            --                            dbo.ProductionBatch.batchno AS HeatNo        
            --                  FROM      ContractWorkEntryDispatchMaster        
            --                            INNER JOIN ContractWorkEntryDispatchTrans ON ContractWorkEntryDispatchMaster.ContractWorkEntryDispatchMasterId = ContractWorkEntryDispatchTrans.ContractWorkEntryDispatchMasterId        
            --                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.ContractWorkEntryDispatchTrans.HeatId        
            --                            INNER JOIN OperatorMaster ON ContractWorkEntryDispatchMaster.ContractorID = OperatorMaster.OperatorID        
            --                            INNER JOIN CastingMaster ON ContractWorkEntryDispatchTrans.CastingId = CastingMaster.CastingId        
            --                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.ContractWorkEntryDispatchTrans.dispatchid        
            --                            INNER JOIN dbo.DispatchSetCasting ON dbo.DispatchSetCasting.DispatchSetCastingId = dbo.ContractWorkEntryDispatchTrans.DispatchSetCastingId        
            --                            INNER JOIN dbo.ContractMaster ON dbo.ContractMaster.ContractMasterID = dbo.ContractWorkEntryDispatchMaster.ContractMasterId        
            --                  WHERE     dispatchmaster.dispatchdate BETWEEN @StartDate        
            --                                                  AND        
            --                                                  @EndDate        
            --                            AND ContractWorkEntryDispatchTrans.IsDeleted = 0        
            --                            AND ContractWorkEntryDispatchMaster.IsDeleted = 0        
            --                            AND ( @CastingId IS NULL        
            --                                  OR dbo.CastingMaster.CastingId = @CastingId        
            --                                )        
            --                            AND ( @CastingName IS NULL        
            --                                  OR dbo.CastingMaster.CastingName = @CastingName        
            --                                )        
            --                            AND ( @ContractMasterId IS NULL        
            --                                  OR dbo.ContractWorkEntryDispatchMaster.ContractMasterId = @ContractMasterId        
            --                                )        
            --                            AND (  @ContractorId = 0            
            --                OR dbo.ContractWorkEntryDispatchMaster.ContractorId = @ContractorId        
            --                                )        
            --                            AND ( @CustomerId IS NULL        
            --                                  OR CastingMaster.Dieid IN (        
            --                                  SELECT    dbo.CustomerPatternMapping.PatternId        
            --                                  FROM      CustomerPatternMapping        
            --                                  WHERE     CustomerId = @CustomerId        
            --                                            AND IsDeleted = 0        
            --                                  UNION        
            --                                  SELECT    dbo.CustomerDieMapping.DieId        
            --                                  FROM      dbo.CustomerDieMapping        
            --                                  WHERE     CustomerId = @CustomerId        
            --                                            AND IsDeleted = 0 )        
            --                                )        
            --                ) Tbl        
            --    END        
                            
            --SELECT  ProductionorDispatch        
            --FROM    dbo.ContractMaster        
            --WHERE   ContractMasterID = @ContractMasterID        
                
                 
                  
END
GO
