USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_FGRate]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Sp_FGRate 13
CREATE PROCEDURE [dbo].[SP_FGRate]  
    @Parameter INT = 0 ,  
    @RateDetails AS XML = NULL ,  
    @FGRateId UNIQUEIDENTIFIER = NULL ,  
    @RMRateId UNIQUEIDENTIFIER = NULL ,  
    @CustomerId UNIQUEIDENTIFIER = NULL ,  
    @CastingId UNIQUEIDENTIFIER = NULL ,  
    @PurchaseItemId UNIQUEIDENTIFIER = NULL ,  
    @MetalId INT = NULL ,  
    @Rate float = NULL , 
    @RoughMRate float =  0,
    @FullyMRate float = 0 ,
    @UOM VARCHAR(50) = NULL ,   
    @RoughMUOM VARCHAR(50) = NULL ,  
    @FullyMUOM VARCHAR(50) = NULL , 
	@RoughMCost float = 0 ,
	@FullyMCost float = 0 ,
    @ApplyDate DATETIME = NULL ,  
    @CreatedBy INT = 0 ,  
    @CreatedOn DATETIME = NULL ,  
    @ModifiedBy INT = 0 ,  
    @TotalRecords INT = 0 ,  
    @PageNumber INT = 0 ,  
    @PageSize INT = 0 ,  
    @InitialLoad INT = 0 ,  
    @ModifiedOn DATETIME = NULL ,  
    @Currency FLOAT = 0 ,  
    @CurrencyMultiplier FLOAT = 0 ,  
    @CastingName VARCHAR(100) = NULL ,  
    @ShowHistory BIT = 0 ,   
    @CustomerOrderID UNIQUEIDENTIFIER = NULL ,  
    @OrderTranseID UNIQUEIDENTIFIER = NULL ,  
    @OrderSrNo INT = 0 ,  
    @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL ,  
    @PurchaseItemSubGroupId UNIQUEIDENTIFIER = NULL ,  
    @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL ,  
    @P_CastingSupplierId UNIQUEIDENTIFIER = NULL ,  
    @P_CastingCondOfSupply INT = 0 ,  
    @P_CastingRateId INT = 0 ,  
    @P_DeletedBy INT = 0 ,  
    @PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityId INT = 0  
  , @UOMCP VARCHAR(50) = NULL  ,
	@FgWeight float = 0,
	@PrintOrderNo bit = 0,
	@FromDate datetime = null,
	@ToDate datetime = null,
	@IsBulk bit = 0 ,
	@SandTypeId int = 0,
	@AssemblyRate float = 0 ,
	@AssemblyUOM varchar(Max) = null,
	@MoldingProcessId UNIQUEIDENTIFIER = NULL,
	@ApplyAllPendingOrder BIT = 0,
	@Discount Float = NULL,
	@NonePendingOrder BIT =0,
	@ComponentID UNIQUEIDENTIFIER = NULL ,
	@IsMaterUpload bit = 0, -- Added by Juhi Singh on 17-07-2025
	@OrderApprovalRequire bit = 0,
	@IsPurchase bit = 1

    
AS  
    BEGIN TRANSACTION 
     
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
    IF @Parameter = 1 --Insert FG Rate Master  
        BEGIN  
          
            DECLARE @FGRate_Id UNIQUEIDENTIFIER ,
            @DiffRatePerKg float = 0 ,
            @PrevRoughCost float = 0 ,
            @PrevFullyCost float = 0,
            @PrevRate float = 0,
            @FGtype int =0
            
            if(@IsBulk = 1 and @IsMaterUpload = 0)
            BEGIN
				if exists( Select 1 from CastingMaster Where CastingId = @CastingId and IsAssembly = 1)
				Begin
					Set @AssemblyRate = @Rate
					Set @AssemblyUOM = @UOM 
					Set @Rate = 0
					Set @UOM = ''
				End
				else
				begin
				Select	@PrevRoughCost = RoughMCost ,@PrevFullyCost = FullyMCost ,@PrevRate = Rate,
						@RoughMUOM = RoughMUOM,@FullyMUOM = FullyMUOM,
						@RoughMRate = RoughMRate, @FullyMRate = FullyMRate
				FROM	dbo.FGRateMaster  
				WHERE   CustomerId = @CustomerId  
						AND CastingId = @CastingId  
						AND MetalId = @MetalId
						
				Set @DiffRatePerKg = @Rate - @PrevRate
				
				if(@UOM = 'PerKg')
				BEGIN
					if(@RoughMUOM = 'PerKg')
					BEGIN
						Set @RoughMCost = @PrevRoughCost + (@DiffRatePerKg)
					END
					ELSE
					BEGIN
						Set @RoughMCost = @PrevRoughCost + (@DiffRatePerKg * @FgWeight)
					END
					if(@FullyMUOM = 'PerKg')
					BEGIN
						Set @FullyMCost = @PrevFullyCost + (@DiffRatePerKg)
					END
					ELSE
					BEGIN
						Set @FullyMCost = @PrevFullyCost + (@DiffRatePerKg * @FgWeight)
					END
				END
				ELSE
				BEGIN
					Set @RoughMCost = @PrevRoughCost + @DiffRatePerKg
					Set @FullyMCost = @PrevFullyCost + @DiffRatePerKg
				END
				end
				
            END
			
			IF(@IsMaterUpload =1)
			 begin
				Select	@RoughMCost = RoughMCost ,@FullyMCost = FullyMCost ,--@PrevRate = Rate,
						@RoughMUOM = RoughMUOM,@FullyMUOM = FullyMUOM,
						@RoughMRate = RoughMRate, @FullyMRate = FullyMRate
				FROM	dbo.TempFGRateMaster  
				WHERE   CustomerId = @CustomerId  
						AND CastingId = @CastingId  
						AND MetalId = @MetalId
			  END
            
            IF EXISTS(	  SELECT    1 
                          FROM      dbo.FGRateMaster  
                          WHERE     CustomerId = @CustomerId  
                                    AND CastingId = @CastingId  
                                    AND MetalId = @MetalId
                                    And cast(ApplyDate  as DATE) <= cast(@ApplyDate as DATE))  
                BEGIN  
                  
					 IF EXISTS(	  SELECT    1  
								  FROM      dbo.FGRateMaster  
								  WHERE     CustomerId = @CustomerId  
											AND CastingId = @CastingId  
											AND MetalId = @MetalId
											And cast(ApplyDate  as DATE) < cast(@ApplyDate as DATE)
								)
					begin
									  
						INSERT  INTO dbo.FGRateMasterHistory  
								( CustomerId ,  
								  CastingId ,  
								  MetalId ,  
								  Rate ,  
								  UOM ,  
								  ApplyDate ,  
								  CreatedBy ,  
								  CreatedOn ,  
								  Currency ,  
								  CurrencyMultiplier,
								  FGWeight ,
								  RoughMRate,
								  FullyMRate,
								  RoughMCost,
								  FullyMCost,
								  RoughMUOM,
								  FullyMUOM,
								  AssemblyRate,
								  AssemblyUOM
							 )  
						SELECT  CustomerId ,  
								CastingId ,  
								MetalId ,  
								Rate ,  
								UOM ,  
								ApplyDate ,  
								CreatedBy ,  
								GETDATE() ,  
								Currency ,  
								CurrencyMultiplier ,
								FGWeight,
								RoughMRate,
								FullyMRate,
								RoughMCost,
								FullyMCost,
								RoughMUOM,
								FullyMUOM,
								AssemblyRate,
								AssemblyUOM
						FROM    dbo.FGRateMaster  
						WHERE   CustomerId = @CustomerId  
								AND CastingId = @CastingId 
										And MetalId = @MetalId 
						IF @@ERROR <> 0  
							ROLLBACK TRANSACTION  
					end			 
                    -- Update for Raw Casting 
                                 
					UPDATE  dbo.FGRateMaster  
					SET     Rate = case when Isnull(@Rate ,0) > 0 then @Rate  else Rate end ,  
							UOM = CASE WHEN ISNULL(@UOM,'' ) != '' then @UOM else UOM end,  
							ApplyDate = @ApplyDate ,  
							Currency = @Currency ,  
							CurrencyMultiplier = @CurrencyMultiplier ,  
							ModifiedBy= @CreatedBy,
							ModifiedOn = GETDATE()  ,
							FgWeight = @FgWeight,
							RoughMRate = case when isnull(@RoughMCost ,0) > 0 then @RoughMRate else RoughMRate end ,
							FullyMRate = case when isnull(@FullyMCost ,0) > 0 then @FullyMRate else FullyMRate end ,
							RoughMCost = case when isnull(@RoughMCost ,0) > 0 then @RoughMCost else RoughMCost end,
							FullyMCost = case when isnull(@FullyMCost ,0) > 0 then @FullyMCost else FullyMCost end,
							RoughMUOM = case when isnull(@RoughMCost ,0) > 0 then @RoughMUOM else RoughMUOM end,
							FullyMUOM = case when isnull(@FullyMCost ,0) > 0 then @FullyMUOM else FullyMUOM end ,
							AssemblyRate = case when isnull(@AssemblyRate ,0) > 0 then @AssemblyRate else AssemblyRate end ,
							AssemblyUOM = case when isnull(@AssemblyRate ,0) > 0 then @AssemblyUOM else AssemblyUOM end
					WHERE   CustomerId = @CustomerId  
							AND CastingId = @CastingId  
							AND MetalId = @MetalId  
						set @FGRate_Id  = (select top 1  FGrateId from  FGRateMaster  WHERE CustomerId = @CustomerId AND CastingId = @CastingId AND MetalId = @MetalId   )
					IF @@ERROR <> 0  
						ROLLBACK TRANSACTION  
                   
                        
                END 
			ELSE IF Exists(		SELECT    1 
								FROM      dbo.FGRateMaster  
								WHERE     CustomerId = @CustomerId  
                                    AND CastingId = @CastingId  
                                    AND MetalId = @MetalId
                                    And cast(ApplyDate  as DATE) > cast(@ApplyDate as DATE)
                                )
                                and isnull(( SELECT    TOP 1  cast(ApplyDate  as DATE)
											FROM      dbo.FGRateMasterHistory  
											WHERE     CustomerId = @CustomerId  
												AND CastingId = @CastingId  
												AND MetalId = @MetalId
											 ORDER BY ApplyDate DESC), DATEADD(day,-1, cast(@ApplyDate as DATE))) < cast(@ApplyDate as DATE)
											 
					BEGIN
					INSERT INTO  [dbo].[FGRateDeleteHistory]
							   ([FGRateHistoryId]
							   ,[CustomerId]
							   ,[CastingId]
							   ,[MetalId]
							   ,[Rate]
							   ,[UOM]
							   ,[ApplyDate]
							   ,[CreatedBy]
							   ,[CreatedOn]
							   ,[Currency]
							   ,[CurrencyMultiplier]
							   ,[RoughMUOM]
							   ,[FullyMUOM]
							   ,[RoughMRate]
							   ,[FullyMRate]
							   ,[RoughMCost]
							   ,[FullyMCost]
							   ,[FGWeight]
							   ,[AssemblyRate]
							   ,[AssemblyUOM]
							   ,[IsUpdated])
					  SELECT  
								NEWID(),
								CustomerId ,  
								CastingId ,  
								MetalId ,  
								Rate ,  
								UOM ,  
								ApplyDate ,  
								CreatedBy ,  
								GETDATE() ,  
								Currency ,  
								CurrencyMultiplier ,
								RoughMUOM,
								FullyMUOM,
								RoughMRate,
								FullyMRate,
								RoughMCost,
								FullyMCost,
								FGWeight,
								AssemblyRate,
								AssemblyUOM ,
								1
						FROM    dbo.FGRateMaster  
						WHERE   CustomerId = @CustomerId  
								AND CastingId = @CastingId 
										And MetalId = @MetalId
					 
						UPDATE  dbo.FGRateMaster  
						SET     Rate = case when Isnull(@Rate ,0) > 0 then @Rate  else Rate end ,  
								UOM = CASE WHEN ISNULL(@UOM,'' ) != '' then @UOM else UOM end,  
								ApplyDate = @ApplyDate ,  
								Currency = @Currency ,  
								CurrencyMultiplier = @CurrencyMultiplier ,  
								ModifiedBy= @CreatedBy,
								ModifiedOn = GETDATE()  ,
								FgWeight = @FgWeight,
								RoughMRate = case when isnull(@RoughMCost ,0) > 0 then @RoughMRate else RoughMRate end ,
								FullyMRate = case when isnull(@FullyMCost ,0) > 0 then @FullyMRate else FullyMRate end ,
								RoughMCost = case when isnull(@RoughMCost ,0) > 0 then @RoughMCost else RoughMCost end,
								FullyMCost = case when isnull(@FullyMCost ,0) > 0 then @FullyMCost else FullyMCost end,
								RoughMUOM = case when isnull(@RoughMCost ,0) > 0 then @RoughMUOM else RoughMUOM end,
								FullyMUOM = case when isnull(@FullyMCost ,0) > 0 then @FullyMUOM else FullyMUOM end ,
								AssemblyRate = case when isnull(@AssemblyRate ,0) > 0 then @AssemblyRate else AssemblyRate end ,
								AssemblyUOM = case when isnull(@AssemblyRate ,0) > 0 then @AssemblyUOM else AssemblyUOM end
						WHERE   CustomerId = @CustomerId  
								AND CastingId = @CastingId  
								AND MetalId = @MetalId  
						set @FGRate_Id  = (select top 1  FGrateId from  FGRateMaster  WHERE CustomerId = @CustomerId AND CastingId = @CastingId AND MetalId = @MetalId   )	
						IF @@ERROR <> 0  
							ROLLBACK TRANSACTION 
					END
                                    
			ELSE If EXISTS (SELECT      1  
							  FROM      dbo.FGRateMaster  
							  WHERE     CustomerId = @CustomerId  
										AND CastingId = @CastingId  
										AND MetalId = @MetalId
                            ) 
                BEGIN
					  INSERT  INTO dbo.FGRateMasterHistory  
                            ( CustomerId ,  
                              CastingId ,  
                              MetalId ,  
                              Rate ,  
                              UOM ,  
                              ApplyDate ,  
                              CreatedBy ,  
                              CreatedOn ,  
                              Currency ,  
                              CurrencyMultiplier,
                              FGWeight ,
                              RoughMRate,
                              FullyMRate,
                              RoughMCost,
                              FullyMCost,
                              RoughMUOM,
                              FullyMUOM,
                              AssemblyRate,
                              AssemblyUOM
                         )  
					VALUES  ( @CustomerID ,  
                              @CastingId ,  
                              @MetalId ,  
                              isnull(@Rate,0) ,  
                              isnull(@UOM ,''),  
                              @ApplyDate ,  
                              @CreatedBy ,  
                              GETDATE() , 
                              @Currency ,  
                              @CurrencyMultiplier,
                              @FgWeight ,
                              @RoughMRate,
                              @FullyMRate,
                              @RoughMCost,
                              @FullyMCost,
                              @RoughMUOM ,
                              @FullyMUOM,
                              @AssemblyRate,
                              @AssemblyUOM
                            )  
						IF @@ERROR <> 0  
							ROLLBACK TRANSACTION  
					
					  Update FGRateMasterHistory
							-- as cast
					  Set	Rate =  case when UOM = 'PerPc' 
										then Round((Rate - isnull(@FullyMRate,0) - Isnull(@RoughMRate,0)),2)  
									else Rate 
									end ,
							-- rough Mac
							RoughMRate = isnull(@RoughMRate,0),
							RoughMUOM = isnull(@RoughMUOM,''),
							RoughMCost = case when isnull(@RoughMRate,0) != 0 then 
												case when UOM = 'PerKg' 
													then Round(@RoughMRate + (Rate * FGWeight),2)  
												else RoughMCost 
												end
										else case when isnull(@FullyMRate,0) != 0 then 
													case when UOM = 'PerKg' 
														then Round((Rate * FGWeight),2)  
													else FullyMCost 
													end
										end 
										end,
							-- fully mac
							FullyMRate = isnull(@FullyMRate,0) ,
							FullyMUOM = isnull(@FullyMUOM,''),
							FullyMCost = case when isnull(@FullyMRate,0) != 0 then 
													case when UOM = 'PerKg' 
														then Round(@FullyMRate + isnull(@RoughMRate,0)+ (Rate * FGWeight),2)  
													else FullyMCost 
													end
										 else case when isnull(@RoughMRate,0) != 0 then 
												case when UOM = 'PerKg' 
													then Round(@RoughMRate + (Rate * FGWeight),2)  
												else RoughMCost 
												end
										end end,
							-- Assembly 
							AssemblyRate = ISNULL(@AssemblyRate,0),
							AssemblyUOM = ISNULL(@AssemblyUOM,'')
					 WHERE  CustomerId = @CustomerId  
							AND CastingId = @CastingId  
							AND MetalId = @MetalId	
							AND (Cast(FGRateMasterHistory.ApplyDate  as DATE) >= Cast(@ApplyDate as DATE)) 	
							AND Isnull(FullyMRate,0) = 0 and Isnull(RoughMRate,0) = 0	
							ANd (isnull(@RoughMRate,0) + ISNULL(@FullyMRate,0)) > 0
							
				set @FGRate_Id  = (select top 1  FGRateHistoryId from  FGRateMasterHistory  WHERE CustomerId = @CustomerId 
									AND CastingId = @CastingId AND MetalId = @MetalId order by CreatedOn desc  )
				set @FGtype =1
                END
            ELSE  
                BEGIN 
                    INSERT  INTO FGRateMaster  
                            ( CustomerID ,  
                              CastingID ,  
                              MetalId ,  
                              Rate ,  
                              UOM ,  
							  ApplyDate ,  
                              CreatedBY ,  
                              CreatedOn ,  
                              ModifiedBy ,  
                              ModifiedOn ,  
                              Currency ,  
                              CurrencyMultiplier,
                              FgWeight ,
                              RoughMRate,
                              FullyMRate,
                              RoughMCost,
                              FullyMCost,
                              RoughMUOM,
                              FullyMUOM,
                              AssemblyRate,
                              AssemblyUOM
                            )  
                    VALUES  ( @CustomerID ,  
                              @CastingId ,  
                              @MetalId ,  
                              @Rate ,  
                              @UOM ,  
                              @ApplyDate ,  
                              @CreatedBy ,  
                              GETDATE() ,  
                              0 ,  
                              null ,  
                              @Currency ,  
                              @CurrencyMultiplier,
                              @FgWeight ,
                              @RoughMRate,
                              @FullyMRate,
                              @RoughMCost,
                              @FullyMCost,
                              @RoughMUOM,
                              @FullyMUOM,
                              Isnull(@AssemblyRate,0),
                              ISNULL(@AssemblyUOM,'')
                            )  
                    IF @@ERROR <> 0  
                        ROLLBACK TRANSACTION  
               set @FGRate_Id  = (select top 1  FGrateId from  FGRateMaster  WHERE CustomerId = @CustomerId AND CastingId = @CastingId AND MetalId = @MetalId   )	
				
                       
                END  
                
               --THIS CODE IS ADDED BY YASHVI   
               -- This SP will find pending order from apply date and update the rate , uom and currency  

			 IF(@NonePendingOrder = 0)
                 EXEC [dbo].[UpdatePendingOrderRate] @CustomerId = @CustomerId,  
                    @MetalId = @MetalId, @CastingId = @CastingId,  
                    @ApplyDate = @ApplyDate, @UOM = @UOM, @Rate = @Rate,  
                    @Currency = @Currency  ,
                    @RoughMUOM =@RoughMUOM,@FullyMUOM = @FullyMUOM,
                    --@RoughMRate = @RoughMRate,@FullyMRate= @FullyMRate,
                    @RoughMCost = @RoughMCost,@FullyMCost = @FullyMCost,
                    @AssemblyCost = @AssemblyRate,@AssemblyUOM = @AssemblyUOM,
					@ApplyAllPendingOrder=@ApplyAllPendingOrder,
					@FGRateId = @FGRate_Id ,@FGtype = @FGtype
                 
                if(@IsMaterUpload = 1)
				Begin
				  delete from TempFGRateMaster	WHERE   CustomerId = @CustomerId  
							AND CastingId = @CastingId  
							AND MetalId = @MetalId  
				end
                
         END  
  
    IF @parameter = 2 -- Fetch  From Casting Mater Usit CustomerID  
	 if(@IsMaterUpload = 0)
        BEGIN 
			Select ROW_NUMBER() OVER ( ORDER BY CastingName ASC ) AS RowNo ,* 
			from ( 
            SELECT   
                    CastingMaster.CastingId ,  
                    CastingCode ,  
                    CastingName ,  
                    dbo.CastingMetal.metalid ,  
                    dbo.MetalMaster.MetalName ,  
                    CASE WHEN Fgrate.Rate IS NULL THEN 0  
                         ELSE Fgrate.Rate  
                    END AS Rate ,  
                    CASE WHEN Fgrate.UOM IS NULL THEN ''  
                         ELSE Fgrate.UOM  
                    END AS UOM ,  
                    CAST(ISNULL(Fgrate.Currency, 1) AS INT) AS Currency ,  
                    CONVERT(VARCHAR(50), CASE WHEN Fgrate.ApplyDate IS NULL  
                                              THEN GETDATE()  
                                              ELSE Fgrate.ApplyDate  
                                         END, 106) AS Date ,  
                    --ISNULL(CastingMetal.CastingNetWeight, 0) 
                    Fgrate.FgWeight AS CastingNetWeight  
            FROM    CastingMaster
					Inner Join PatternMaster On PatternMaster.PatternId = CastingMaster.Dieid  
                    INNER JOIN dbo.CastingMetal ON dbo.CastingMetal.castingID = dbo.CastingMaster.CastingId  
					AND dbo.CastingMetal.IsDeleted = 0  
					--AND dbo.CastingMetal.IsProductionGrade = 0  
                    INNER JOIN dbo.MetalMaster ON dbo.CastingMetal.metalid = dbo.MetalMaster.metalid 
                    Inner join FGRateMaster as  Fgrate On Fgrate.CastingId = CastingMaster.CastingId
								and Fgrate.MetalId = MetalMaster.MetalId
								and Fgrate.CustomerId = @CustomerId 
                    --LEFT JOIN ( SELECT  *  
                    --            FROM    FGRateMaster  
                    --            WHERE   CustomerId = @CustomerId  
                    --          ) AS Fgrate ON Fgrate.castingID = CastingMaster.CastingId  
                    --                         AND dbo.MetalMaster.MetalId = Fgrate.MetalId  
            WHERE   ( CastingMaster.DieID IN (  
                      SELECT    PatternID  
                      FROM      CustomerPatternMapping  
                      WHERE     @CustomerId IS NULL  
                                OR CustomerId = @CustomerId )  
                      --OR dbo.CastingMaster.Dieid IN (  
                      --SELECT    DieId  
                      --FROM      dbo.CustomerDieMapping  
                      --WHERE     @CustomerId IS NULL  
                      --          OR CustomerId = @CustomerId )  
                    )  
                    AND CastingMaster.Isdeleted = 0  
                    AND ( @CastingName IS NULL  
                          OR CastingName = @CastingName  
                        )
                    AND ( @CastingId IS NULL  
                          OR CastingMaster.CastingId = @CastingId  
                        )  
                    AND ( @MetalId IS NULL  
                          OR CastingMetal.metalid = @MetalId  
                        )
                    ANd (@SandTypeId = 0 Or  PatternMaster.SandTypeID = @SandTypeId) AND CastingMaster.IsAssembly = 0
				   AND ( @MoldingProcessId IS NULL  
							  OR PatternMaster.MoldingProcessId = @MoldingProcessId
							) 
				AND (@ComponentID is null   Or CastingMaster.ComponentID = @ComponentID)  
            Union all 
            SELECT  CastingMaster.CastingId ,  
                    CastingCode ,  
                    CastingName ,  
                    dbo.CastingMetal.metalid ,  
                    dbo.MetalMaster.MetalName ,  
                    CASE WHEN Fgrate.AssemblyRate IS NULL THEN 0  
                         ELSE Fgrate.AssemblyRate  
                    END AS Rate ,  
                    CASE WHEN Fgrate.AssemblyUOM IS NULL THEN ''  
                         ELSE Fgrate.AssemblyUOM  
                    END AS UOM ,  
                    CAST(ISNULL(Fgrate.Currency, 1) AS INT) AS Currency ,  
                    CONVERT(VARCHAR(50), CASE WHEN Fgrate.ApplyDate IS NULL  
                                              THEN GETDATE()  
                                              ELSE Fgrate.ApplyDate  
                                         END, 106) AS Date ,  
                    --ISNULL(CastingMetal.CastingNetWeight, 0) 
                    Fgrate.FgWeight AS CastingNetWeight  
            FROM    CastingMaster
					Inner Join PatternMaster On PatternMaster.PatternId = CastingMaster.Dieid  
                    INNER JOIN dbo.CastingMetal ON dbo.CastingMetal.castingID = dbo.CastingMaster.CastingId  
					AND dbo.CastingMetal.IsDeleted = 0  
					--AND dbo.CastingMetal.IsProductionGrade = 0  
                    INNER JOIN dbo.MetalMaster ON dbo.CastingMetal.metalid = dbo.MetalMaster.metalid 
                    Inner join FGRateMaster as  Fgrate On Fgrate.CastingId = CastingMaster.CastingId
								and Fgrate.MetalId = MetalMaster.MetalId
								and Fgrate.CustomerId = @CustomerId 
                    --LEFT JOIN ( SELECT  *  
                    --            FROM    FGRateMaster  
                    --            WHERE   CustomerId = @CustomerId  
                    --          ) AS Fgrate ON Fgrate.castingID = CastingMaster.CastingId  
                    --                         AND dbo.MetalMaster.MetalId = Fgrate.MetalId  
            WHERE   ( CastingMaster.DieID IN (  
                      SELECT    PatternID  
                      FROM      CustomerPatternMapping  
                      WHERE     @CustomerId IS NULL  
                                OR CustomerId = @CustomerId )  
                      --OR dbo.CastingMaster.Dieid IN (  
                      --SELECT    DieId  
                      --FROM      dbo.CustomerDieMapping  
                      --WHERE     @CustomerId IS NULL  
                      --          OR CustomerId = @CustomerId )  
                    )  
                    AND CastingMaster.Isdeleted = 0  
                    AND ( @CastingName IS NULL  
                          OR CastingName = @CastingName  
                        )
                    AND ( @CastingId IS NULL  
                          OR CastingMaster.CastingId = @CastingId  
                        )  
                    AND ( @MetalId IS NULL  
                          OR CastingMetal.metalid = @MetalId  
                        )
                    ANd (@SandTypeId = 0 Or  PatternMaster.SandTypeID = @SandTypeId) 
                    AND CastingMaster.IsAssembly = 1
                    AND ( @MoldingProcessId IS NULL  
							  OR PatternMaster.MoldingProcessId = @MoldingProcessId
							) 
					AND (@ComponentID is null   Or CastingMaster.ComponentID = @ComponentID)  
                    ) as a 
            ORDER BY CastingName ASC  
               
                  
                  
        END  
	 else
	   Begin
	   	Select ROW_NUMBER() OVER ( ORDER BY CastingName ASC ) AS RowNo ,* 
			from ( 
            SELECT   
                    CastingMaster.CastingId ,  
                    CastingCode ,  
                    CastingName ,  
                    dbo.CastingMetal.metalid ,  
                    dbo.MetalMaster.MetalName ,  
                    CASE WHEN Fgrate.Rate IS NULL THEN 0  
                         ELSE Fgrate.Rate  
                    END AS Rate ,  
                    CASE WHEN Fgrate.UOM IS NULL THEN ''  
                         ELSE Fgrate.UOM  
                    END AS UOM ,  
                    CAST(ISNULL(Fgrate.Currency, 1) AS INT) AS Currency ,  
                    --CONVERT(VARCHAR(50), CASE WHEN Fgrate.ApplyDate IS NULL  
                    --                          THEN GETDATE()  
                    --                          ELSE Fgrate.ApplyDate  
                    --                     END, 106) AS Date , 
					Fgrate.ApplyDate AS Date ,
					RATE.ApplyDate AS VDATE,
                    Fgrate.FgWeight AS CastingNetWeight  
            FROM    CastingMaster
					Inner Join PatternMaster On PatternMaster.PatternId = CastingMaster.Dieid  
                    INNER JOIN dbo.CastingMetal ON dbo.CastingMetal.castingID = dbo.CastingMaster.CastingId  
					AND dbo.CastingMetal.IsDeleted = 0  
				    INNER JOIN dbo.MetalMaster ON dbo.CastingMetal.metalid = dbo.MetalMaster.metalid 
                    Inner join TempFGRateMaster as  Fgrate On Fgrate.CastingId = CastingMaster.CastingId
								and Fgrate.MetalId = MetalMaster.MetalId
								and Fgrate.CustomerId = @CustomerId 
					LEFT JOIN   FGRateMaster as  RATE On RATE.CastingId = CastingMaster.CastingId
								and RATE.MetalId = MetalMaster.MetalId
								and RATE.CustomerId = @CustomerId 
                  
            WHERE   ( CastingMaster.DieID IN (  
                      SELECT    PatternID  
                      FROM      CustomerPatternMapping  
                      WHERE     @CustomerId IS NULL  
                                OR CustomerId = @CustomerId )  
                    )  
                    AND CastingMaster.Isdeleted = 0  
                    AND ( @CastingName IS NULL  
                          OR CastingName = @CastingName  
                        )
                    AND ( @CastingId IS NULL  
                          OR CastingMaster.CastingId = @CastingId  
                        )  
                    AND ( @MetalId IS NULL  
                          OR CastingMetal.metalid = @MetalId  
                        )
                    ANd (@SandTypeId = 0 Or  PatternMaster.SandTypeID = @SandTypeId) AND CastingMaster.IsAssembly = 0
				   AND ( @MoldingProcessId IS NULL  
							  OR PatternMaster.MoldingProcessId = @MoldingProcessId
							) 
				AND (@ComponentID is null   Or CastingMaster.ComponentID = @ComponentID)  
            Union all 
            SELECT  CastingMaster.CastingId ,  
                    CastingCode ,  
                    CastingName ,  
                    dbo.CastingMetal.metalid ,  
                    dbo.MetalMaster.MetalName ,  
                    CASE WHEN Fgrate.AssemblyRate IS NULL THEN 0  
                         ELSE Fgrate.AssemblyRate  
                    END AS Rate ,  
                    CASE WHEN Fgrate.AssemblyUOM IS NULL THEN ''  
                         ELSE Fgrate.AssemblyUOM  
                    END AS UOM ,  
                    CAST(ISNULL(Fgrate.Currency, 1) AS INT) AS Currency ,  
                    --CONVERT(VARCHAR(50), CASE WHEN Fgrate.ApplyDate IS NULL  
                    --                          THEN GETDATE()  
                    --                          ELSE Fgrate.ApplyDate  
                    --                     END, 106) AS Date ,  
					Fgrate.ApplyDate AS DATE,
					RATE.ApplyDate AS VDATE,
                    Fgrate.FgWeight AS CastingNetWeight  
            FROM    CastingMaster
					Inner Join PatternMaster On PatternMaster.PatternId = CastingMaster.Dieid  
                    INNER JOIN dbo.CastingMetal ON dbo.CastingMetal.castingID = dbo.CastingMaster.CastingId  
					AND dbo.CastingMetal.IsDeleted = 0  
					INNER JOIN dbo.MetalMaster ON dbo.CastingMetal.metalid = dbo.MetalMaster.metalid 
                    Inner join TempFGRateMaster as  Fgrate On Fgrate.CastingId = CastingMaster.CastingId
								and Fgrate.MetalId = MetalMaster.MetalId
								and Fgrate.CustomerId = @CustomerId 
					LEFT JOIN   FGRateMaster as  RATE On RATE.CastingId = CastingMaster.CastingId
								and RATE.MetalId = MetalMaster.MetalId
								and RATE.CustomerId = @CustomerId 
            WHERE   ( CastingMaster.DieID IN (  
                      SELECT    PatternID  
                      FROM      CustomerPatternMapping  
                      WHERE     @CustomerId IS NULL  
                                OR CustomerId = @CustomerId )  
                     
                    )  
                    AND CastingMaster.Isdeleted = 0  
                    AND ( @CastingName IS NULL  
                          OR CastingName = @CastingName  
                        )
                    AND ( @CastingId IS NULL  
                          OR CastingMaster.CastingId = @CastingId  
                        )  
                    AND ( @MetalId IS NULL  
                          OR CastingMetal.metalid = @MetalId  
                        )
                    ANd (@SandTypeId = 0 Or  PatternMaster.SandTypeID = @SandTypeId) 
                    AND CastingMaster.IsAssembly = 1
                    AND ( @MoldingProcessId IS NULL  
							  OR PatternMaster.MoldingProcessId = @MoldingProcessId
							) 
					AND (@ComponentID is null   Or CastingMaster.ComponentID = @ComponentID)  
                    ) as a 
            ORDER BY CastingName ASC  
	    End
          
    IF @Parameter = 3 --Insert RM Rate Master  
        BEGIN  
          
            DECLARE @RMRate_Id UNIQUEIDENTIFIER  
            SET @RMRate_Id = NEWID()  
            
       IF EXISTS(	  SELECT    1  
                          FROM      dbo.RMRateMaster  
                          WHERE     CustomerId = @CustomerId  
                                    AND PurchaseItemId = @PurchaseItemId
                                    And cast(ApplyDate  as DATE) <= cast(@ApplyDate as DATE))  
                BEGIN  
                  
					 IF EXISTS(	   SELECT    1 
                          FROM      dbo.RMRateMaster  
                          WHERE     CustomerId = @CustomerId  
                                    AND PurchaseItemId = @PurchaseItemId
											And cast(ApplyDate  as DATE) < cast(@ApplyDate as DATE)
								)
					begin
									  
						    INSERT  INTO dbo.RMRateMasterHistory  
                                    ( RMRateHistoryId ,  
                                      CustomerId ,  
                                      PurchaseItemId ,  
                                      Rate ,  
                                      UOM ,  
                                      ApplyDate ,  
                                      CreatedBy ,  
                                      CreatedOn ,  
                                      Currency ,  
                                      CurrencyMultiplier ,
                                      Discount ,
									  IsPurchase
                                 )  
                                    SELECT  @RMRate_Id ,  
                                            CustomerId ,  
                                            PurchaseItemId ,  
                                            Rate ,  
                                            UOM ,  
                                           ApplyDate,--CAST(ApplyDate AS DATE) ,  
                                            @CreatedBy ,  
                                            GETDATE() ,  
                                            Currency ,  
                                            CurrencyMultiplier ,
                                            Discount ,
											IsPurchase
                                    FROM    dbo.RMRateMaster  
                                    WHERE   CustomerId = @CustomerId  
                                            AND PurchaseItemId = @PurchaseItemId  
						IF @@ERROR <> 0  
							ROLLBACK TRANSACTION  
					end			 
                    -- Update for Raw Casting 
                     UPDATE  dbo.RMRateMaster  
                            SET     Rate = @Rate ,  
                                    UOM = @UOM ,  
                                    ApplyDate =@ApplyDate,-- CAST(@ApplyDate AS DATE) ,  
                                    Currency = @Currency ,  
                                    CurrencyMultiplier = @CurrencyMultiplier ,  
                                    ModifiedOn = GETDATE()  ,
                                    ModifiedBy =@CreatedBy,
                                    Discount = @Discount 
                            WHERE   CustomerId = @CustomerId  
                                    AND PurchaseItemId = @PurchaseItemId  
                                  --  AND CAST(ApplyDate AS DATE) = CAST(@ApplyDate AS DATE)  
						
					IF @@ERROR <> 0  
						ROLLBACK TRANSACTION  
                   
                        
                END 
			ELSE IF Exists(		SELECT   1  
                          FROM      dbo.RMRateMaster  
                          WHERE     CustomerId = @CustomerId  
                                    AND PurchaseItemId = @PurchaseItemId
                                    And cast(ApplyDate  as DATE) > cast(@ApplyDate as DATE)
                                )
                                 and isnull(( SELECT    TOP 1  cast(ApplyDate  as DATE)
											FROM      dbo.RMRateMasterHistory  
											WHERE       CustomerId = @CustomerId  
										    AND PurchaseItemId = @PurchaseItemId
											 ORDER BY ApplyDate DESC), DATEADD(day,-1, cast(@ApplyDate as DATE))) < cast(@ApplyDate as DATE)
											  
                       
					BEGIN
					INSERT INTO  [dbo].[RMRateDeleteHistory]
								   ([RMRateHistoryId]
								   ,[CustomerId]
								   ,[PurchaseItemId]
								   ,[Rate]
								   ,[UOM]
								   ,[ApplyDate]
								   ,[CreatedBy]
								   ,[CreatedOn]
								   ,[Currency]
								   ,[CurrencyMultiplier]
								   ,[IsUpdated]
								   ,[IsPurchase]
								    )
						  SELECT  NEWID() ,  
                                            CustomerId ,  
                                            PurchaseItemId ,  
                                            Rate ,  
                                            UOM ,  
                                           ApplyDate,--CAST(ApplyDate AS DATE) ,  
                                            @CreatedBy ,  
                                            GETDATE() ,  
                                            Currency ,  
                                            CurrencyMultiplier 
                                            ,1
											,@IsPurchase
                                    FROM    dbo.RMRateMaster  
                                    WHERE   CustomerId = @CustomerId  
                                            AND PurchaseItemId = @PurchaseItemId  


				     UPDATE  dbo.RMRateMaster  
                            SET     Rate = @Rate ,  
                                    UOM = @UOM ,  
                                    ApplyDate = @ApplyDate, --CAST(@ApplyDate AS DATE) ,  
                                    Currency = @Currency ,  
                                    CurrencyMultiplier = @CurrencyMultiplier ,  
                                    ModifiedOn = GETDATE()  ,
                                    ModifiedBy =@CreatedBy,
                                    Discount = @Discount 
                            WHERE   CustomerId = @CustomerId  
                                    AND PurchaseItemId = @PurchaseItemId   
							
						IF @@ERROR <> 0  
							ROLLBACK TRANSACTION 
					END
                                    
			ELSE If EXISTS (SELECT      1  
                          FROM      dbo.RMRateMaster  
                          WHERE     CustomerId = @CustomerId  
                                    AND PurchaseItemId = @PurchaseItemId
                            ) 
                BEGIN
					
                                    INSERT  INTO dbo.RMRateMasterHistory  
                                            ( RMRateHistoryId ,  
                                              CustomerId ,  
                                              PurchaseItemId ,  
                                              Rate ,  
                                              UOM ,  
                                              ApplyDate ,  
                                              CreatedBy ,  
                                              CreatedOn ,  
                                              Currency ,  
                                              CurrencyMultiplier,
                                              Discount  ,
											  IsPurchase
                                         )  
                                    VALUES  ( NEWID() ,  
                                              @CustomerID ,  
                                              @PurchaseItemId ,  
                                              @Rate ,  
                                              @UOM ,  
                                             @ApplyDate,-- CAST(@ApplyDate AS DATE) ,  
                                              @CreatedBy ,  
                                              GETDATE() ,  
                                              @Currency ,  
                                              @CurrencyMultiplier,
                                              @Discount,
											  @IsPurchase
                                            )   
						IF @@ERROR <> 0  
							ROLLBACK TRANSACTION  
					  --UPDATE  RMRateMasterHistory  
       --                             SET     Rate = @Rate ,  
       --                                     UOM = @UOM ,  
       --                                    -- ApplyDate = CAST(@ApplyDate AS DATE) ,  
       --                                     Currency = @Currency ,  
       --                                     CurrencyMultiplier = @CurrencyMultiplier ,
       --                                     Discount = @Discount 
       --                             WHERE     
       --                                     CustomerId = @CustomerId  
       --                                   AND PurchaseItemId = @PurchaseItemId  
       --                                   AND CAST(ApplyDate AS DATE)  >=  CAST(@ApplyDate AS DATE)  
                                      
					  
                END
            ELSE  
                BEGIN 
                  INSERT  INTO RMRateMaster  
                            ( RMRateId ,  
                              CustomerID ,  
                              PurchaseItemId ,  
                              Rate ,  
                              UOM ,  
                              ApplyDate ,  
                              CreatedBY ,  
                              CreatedOn ,   
                              Currency ,  
                              CurrencyMultiplier ,
                              Discount ,
							  IsPurchase
                            )  
                    VALUES  ( @RMRate_Id ,  
                              @CustomerID ,  
						      @PurchaseItemId ,  
                              @Rate ,  
                              @UOM ,  
                              @ApplyDate,--CAST(@ApplyDate AS DATE) ,  
                              @CreatedBy,  
                              GETDATE() ,  
                              @Currency ,  
                              @CurrencyMultiplier,
                              @Discount ,
							  @IsPurchase
                            )  
                              
                    IF @@ERROR <> 0  
                        ROLLBACK TRANSACTION  
                       
                END  
        
     --       IF ( EXISTS ( SELECT    *  
     --                     FROM      dbo.RMRateMaster  
     --                     WHERE     CustomerId = @CustomerId  
     --                               AND PurchaseItemId = @PurchaseItemId ) )  
     --           BEGIN  
                  
     ----LATEST RATE FROM RMRATEMASTER  
     --               DECLARE @TempDate DATE = ( SELECT   RMRateMaster.ApplyDate  
     --                                          FROM     RMRateMaster  
     --                                          WHERE    CustomerId = @CustomerId  
     --                                                   AND PurchaseItemId = @PurchaseItemId  
     --                                        )  
                                 
                              
                                               
     --               IF ( CAST(@ApplyDate AS DATE) <= @TempDate )  
     --                   BEGIN  
                    
     --                       IF ( CAST(@ApplyDate AS DATE) = @TempDate )  
     --                           BEGIN  
                         
     --                               UPDATE  RMRateMasterHistory  
     --                               SET     Rate = @Rate ,  
     --                                       UOM = @UOM ,  
     --                                       ApplyDate = CAST(@ApplyDate AS DATE) ,  
     --                                       Currency = @Currency ,  
     --                                       CurrencyMultiplier = @CurrencyMultiplier ,
     --                                       Discount = @Discount 
     --                               WHERE     
     --                                       CustomerId = @CustomerId  
     --                                     AND PurchaseItemId = @PurchaseItemId  
     --                                     AND CAST(ApplyDate AS DATE) = CAST(@ApplyDate AS DATE)  
                                      
     --                               UPDATE  dbo.RMRateMaster  
     --                               SET     Rate = @Rate ,  
     --                                       UOM = @UOM ,  
     --                                       ApplyDate = CAST(@ApplyDate AS DATE) ,  
     --                                       Currency = @Currency ,  
     --                                       CurrencyMultiplier = @CurrencyMultiplier ,  
     --                                       ModifiedOn = GETDATE()  ,
     --                                       ModifiedBy=@CreatedBy,
     --                                       Discount = @Discount 
     --                               WHERE    
     --                                     CustomerId = @CustomerId  
     --                                     AND PurchaseItemId = @PurchaseItemId  
     --                                     AND CAST(ApplyDate AS DATE) = CAST(@ApplyDate AS DATE)  
                                     
     --                               IF @@ERROR <> 0  
     --                                   ROLLBACK TRANSACTION          
                                      
     --                           END     
     --                       ELSE  
     --                           BEGIN  
     --    --IF APPLY DATE IS LESS THEN CURRENT RATE DATE THEN IT WILL STORE IT IN HISTORY TABLE.  
                                
     --                               INSERT  INTO dbo.RMRateMasterHistory  
     --                                       ( RMRateHistoryId ,  
     --                                         CustomerId ,  
     --                                         PurchaseItemId ,  
     --                                         Rate ,  
     --                                         UOM ,  
     --                                         ApplyDate ,  
     --                                         CreatedBy ,  
     --                                         CreatedOn ,  
     --                                         Currency ,  
     --                                         CurrencyMultiplier,
     --                                         Discount  
     --                                    )  
     --                               VALUES  ( NEWID() ,  
     --                                         @CustomerID ,  
     --                                         @PurchaseItemId ,  
     --                                         @Rate ,  
     --                                         @UOM ,  
     --                                         CAST(@ApplyDate AS DATE) ,  
     --                                         @CreatedBy ,  
     --                                         GETDATE() ,  
     --                                         @Currency ,  
     --                                         @CurrencyMultiplier,
     --                                         @Discount  
     --                                       )   
     --                           END    
     --                   END    
     --               ELSE  
     --                   BEGIN  
                    
     --                       INSERT  INTO dbo.RMRateMasterHistory  
     --                               ( RMRateHistoryId ,  
     --                                 CustomerId ,  
     --                                 PurchaseItemId ,  
     --                                 Rate ,  
     --                                 UOM ,  
     --                                 ApplyDate ,  
     --                                 CreatedBy ,  
     --                                 CreatedOn ,  
     --                                 Currency ,  
     --                                 CurrencyMultiplier ,
     --                                 Discount 
     --                            )  
     --                               SELECT  @RMRate_Id ,  
     --                                       CustomerId ,  
     --                                       PurchaseItemId ,  
     --                                       Rate ,  
     --                                       UOM ,  
     --                                       CAST(ApplyDate AS DATE) ,  
     --                                       @CreatedBy ,  
     --                                       GETDATE() ,  
     --                                       Currency ,  
     --                                       CurrencyMultiplier ,
     --                                       Discount 
     --                               FROM    dbo.RMRateMaster  
     --                               WHERE   CustomerId = @CustomerId  
     --                                       AND PurchaseItemId = @PurchaseItemId  
                                      
                                      
     --                       UPDATE  dbo.RMRateMaster  
     --                       SET     Rate = @Rate ,  
     --                               UOM = @UOM ,  
     --                               ApplyDate = CAST(@ApplyDate AS DATE) ,  
     --                               Currency = @Currency ,  
     --                               CurrencyMultiplier = @CurrencyMultiplier ,  
     --                               ModifiedOn = GETDATE()  ,
     --                               ModifiedBy =@CreatedBy,
     --                               Discount = @Discount 
     --                       WHERE   CustomerId = @CustomerId  
     --                               AND PurchaseItemId = @PurchaseItemId  
     --                               AND CAST(ApplyDate AS DATE) = CAST(@TempDate AS DATE)  
                      
     --                       IF @@ERROR <> 0  
     --                           ROLLBACK TRANSACTION  
     --                   END  
                    
     --           END  
     --       ELSE  
     --           BEGIN  
     --               INSERT  INTO RMRateMaster  
     --                       ( RMRateId ,  
     --                         CustomerID ,  
     --                         PurchaseItemId ,  
     --                         Rate ,  
     --                         UOM ,  
     --                         ApplyDate ,  
     --                         CreatedBY ,  
     --                         CreatedOn ,   
     --                         Currency ,  
     --                         CurrencyMultiplier ,
     --                         Discount 
     --                       )  
     --               VALUES  ( @RMRate_Id ,  
     --                         @CustomerID ,  
					--	      @PurchaseItemId ,  
     --                         @Rate ,  
     --                         @UOM ,  
     --                         CAST(@ApplyDate AS DATE) ,  
     --                         @CreatedBy,  
     --                         GETDATE() ,  
     --                         @Currency ,  
     --                         @CurrencyMultiplier,
     --                         @Discount  
     --                       )  
                              
     --               IF @@ERROR <> 0  
     --                   ROLLBACK TRANSACTION  
     --           END  
        END    
          
    IF @parameter = 4 -- Fetch  Supplir By Item  
        BEGIN  
Declare @CurrencyId float =(select top 1  CurrencyId from CurrencyMaster where isdefault = 1 )
            SELECT  CustomerMaster.CustomerName ,  
                    CustomerMaster.CustomerId ,  
                    CASE WHEN Rmrate.Rate IS NULL THEN 0  
                         ELSE Rmrate.Rate  
                    END AS Rate ,
                    --CASE WHEN Rmrate.Discount IS NULL THEN 0  
                    --     ELSE Rmrate.Discount  
                    --END AS Discount ,
                    Rmrate.Discount,
                    UOMMaster.UOMid ,  
                    UOMMaster.UOM ,
                    CONVERT(VARCHAR(50), CASE WHEN Rmrate.ApplyDate IS NULL  
                                              THEN GETDATE()  
                                              ELSE Rmrate.ApplyDate  
                                         END, 106) AS Date ,  
                      
                    PurchaseItemMaster.ItemName ,  
                    PurchaseItemMaster.ItemCode ,  
                    PurchaseItemMaster.PurchaseItemId ,
                    CAST(ISNULL(Rmrate.Currency, @CurrencyId) AS INT) as Currency
                    
                  
                   
            FROM    CustomerMaster  
                    JOIN CustomerPurchaseitemMappping ON CustomerMaster.CustomerId = CustomerPurchaseitemMappping.CustomerId  
                    JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = CustomerPurchaseitemMappping.PurchaseItemId  
                    JOIN UOMMaster ON PurchaseItemMaster.UnitOfMeasure = UOMMaster.UOMid  
                    LEFT JOIN ( SELECT  *  
                                FROM    RMRateMaster  
                                WHERE   ( @PurchaseItemId IS NULL  
                                          OR PurchaseItemId = @PurchaseItemId  
                                        )  
                                        AND ( @CustomerId IS NULL  
                                              OR RMRateMaster.CustomerId = @CustomerId  
                                            )  
                                          
                              ) AS Rmrate ON Rmrate.CustomerId = CustomerMaster.CustomerId  
                                             AND Rmrate.PurchaseItemID = PurchaseItemMaster.PurchaseItemID  
            WHERE   ( @PurchaseItemId IS NULL  
                      OR CustomerPurchaseitemMappping.PurchaseItemId = @PurchaseItemId  
                    )  
                    AND ( @CustomerId IS NULL  
                          OR CustomerPurchaseitemMappping.CustomerId = @CustomerId  
                        )  
                    AND CustomerMaster.Isdeleted = 0  
                    and CustomerMaster.EntityId = @EntityId  
					AND PurchaseItemMaster.Isdeleted = 0  
  
        END  
          
    IF @parameter = 5  
        BEGIN  
          
            SET @TotalRecords = ( SELECT    COUNT(*)  
                                  FROM      CastingMaster  
                                            INNER JOIN dbo.CastingMetal ON dbo.CastingMetal.castingID = dbo.CastingMaster.CastingId  
                                            INNER JOIN dbo.MetalMaster ON dbo.CastingMetal.metalid = dbo.MetalMaster.metalid  
                                            LEFT JOIN ( SELECT  
                                                              *  
                                                        FROM  FGRateMaster  
                                                        WHERE CustomerId = @CustomerId  
                                                      ) AS Fgrate ON Fgrate.castingID = CastingMaster.CastingId  
                                                              AND dbo.MetalMaster.MetalId = Fgrate.MetalId  
                                  WHERE     CastingMaster.DieID IN (  
              SELECT  PatternID  
                                            FROM    CustomerPatternMapping  
                                            WHERE   @CustomerId IS NULL  
                                                    OR CustomerId = @CustomerId )  
                                            AND CastingMaster.Isdeleted = 0  
                                            AND ( @CastingName IS NULL  
                                                  OR CastingMaster.CastingName = @CastingName  
                                                )  
                                )  
            COMMIT TRANSACTION  
            RETURN @TotalRecords  
        END  
          
    IF @parameter = 6 -- Fetch FGRate for Customer Order  
        BEGIN  
			if(isnull(@P_CastingCondOfSupply,0) != 0)
			BEGIN
				SELECT  case When @P_CastingCondOfSupply = 1 then Rate else case when @P_CastingCondOfSupply = 2 then RoughMCost 
				else case when @P_CastingCondOfSupply = 3 then FullyMCost else AssemblyRate end end end as Rate,
						case When @P_CastingCondOfSupply = 1 then UOM else case when @P_CastingCondOfSupply = 2 then RoughMUOM 
						else case when @P_CastingCondOfSupply = 3 then  FullyMUOM else AssemblyUOM end end end as UOM,
						Currency
				FROM    FGRateMaster  
				WHERE   CustomerId = @CustomerId  
						AND CastingId = @CastingID  
						AND MetalId = @MetalId  
            END
            ELSE
            BEGIN
				SELECT  isnull(Rate,0) as Rate,
						isnull(RoughMRate,0) as RoughMRate,
						isnull(FullyMRate,0) as FullyMRate,
						isnull(RoughMCost,0) as RoughMCost,
						isnull(FullyMCost,0) as FullyMCost,
						isnull(UOM,'') as UOM,
						isnull(RoughMUOM,'') as RoughMUOM,
						isnull(FullyMUOM,'') as FullyMUOM,
						ISNULL(AssemblyRate,0) as AssemblyRate,
						ISNULL(AssemblyUOM,'') as AssemblyUOM,
						Currency,
						ApplyDate
				FROM    FGRateMaster  
				WHERE   CustomerId = @CustomerId  
						AND CastingId = @CastingID  
						AND MetalId = @MetalId 
            END
        END  
          
    IF @parameter = 7 -- Fetch RMRate for Purchase Order  
        BEGIN  
            SELECT  *  ,CAST(ISNULL(RMRateMaster.Currency, 0) AS INT) as CurrencyId
            FROM    dbo.RMRateMaster  
            WHERE   CustomerId = @CustomerId  
                    AND PurchaseItemId = @PurchaseItemId  
					AND RMRateMaster.IsPurchase = 1
        END  
          
       
           
    IF @parameter = 9 -- Fetch CastingRateHistory Report Sub  
        BEGIN  
            SELECT  --DISTINCT  
					cast(Round(isnull(Rate ,0),2) as varchar(Max)) + case when ISNULL(UOM,'') != '' then '/' + UOM else '' end as Rate,  
					cast(Round(isnull(RoughMCost ,0),2) as varchar(MaX)) + case when ISNULL(RoughMUOM,'') != '' then '/' + RoughMUOM else '' end as RoughMRate,  
					cast(Round(isnull(FullyMCost,0),2) as varchar(MaX)) + case when ISNULL(FullyMUOM,'') != '' then '/' + FullyMUOM else '' end as FullyMRate,  
                    cast(Round(isnull(RoughMRate ,0) + isnull(FullyMRate ,0) ,2) as varchar(Max))
					+ case when ISNULL(RoughMUOM,'') != '' then '/' + RoughMUOM 
						else case when ISNULL(FullyMUOM,'') != '' 
						then FullyMUOM  else '' end end as MachiningRate,    
                    ApplyDate AS CreatedOn  ,
                    FGRateHistoryId
            FROM    FGRateMasterHistory  
            WHERE   Castingid = @CastingID  
                    AND MetalId = @MetalID  
                    AND CustomerId = @CustomerId  
                    And cast(FGRateMasterHistory.ApplyDate as DATE) between cast(@FromDate as Date) and cast(@ToDate as DATE)
				   
        END  
        -- ROW_NUMBER() OVER (ORDER BY CreatedOn DESC) AS SrNo,  
           
    IF @parameter = 10 -- Fetch CastingRateHistory Report View  
        BEGIN  
            IF @ShowHistory = 1  
                BEGIN  
                    SELECT DISTINCT  
                            'true' AS Showhistory ,  
                            CustomerName ,  
                            MetalName ,  
                            CastingMaster.CastingName AS Item ,  
                            CastingMaster.CastingCode AS ItemCode ,  
                            CastingMaster.CastingId AS Id ,  
                            FGRateMaster.Rate AS BasicPrice ,  
                            FGRateMasterHistory.Rate AS ItemRate ,  
                            FGRateMaster.UOM ,  
                            FGRateMasterHistory.UOM AS UOM_History ,  
                            FGRateMasterHistory.ApplyDate AS EffectiveDate ,  
                            '' AS Unit ,  
                            CurrencyMaster.Symbol + ' '  
                            + CurrencyMaster.Currency AS Currency  
                    FROM    FGRateMaster  
                            INNER JOIN CastingMaster ON FGRateMaster.castingid = CastingMaster.castingid  
                            INNER JOIN MetalMaster ON FGRateMaster.metalid = MetalMaster.metalid  
                            INNER JOIN CustomerMaster ON FGRateMaster.customerid = CustomerMaster.customerid  
                            INNER JOIN dbo.CurrencyMaster ON dbo.CurrencyMaster.CurrencyID = dbo.FGRateMaster.Currency  
                            LEFT JOIN FGRateMasterHistory ON CastingMaster.CastingId = FGRateMasterHistory.CastingId  
                                                             AND FGRateMasterHistory.metalid = MetalMaster.metalid  
                                                             AND FGRateMasterHistory.customerid = CustomerMaster.customerid  
                    WHERE   ( @CustomerId IS NULL  
                              OR CustomerMaster.CustomerId = @CustomerId  
                            )  
                            AND ( @CastingID IS NULL  
                                  OR CastingMaster.CastingId = @CastingID  
                                )  
                            AND ( @CastingName IS NULL  
                                  OR CastingMaster.CastingName = @CastingName  
                                )  
                            AND ( @MetalId IS NULL  
                                  OR MetalMaster.MetalId = @MetalId  
                                )  
                                -----------------------------------------  
      --AND FGRateMaster.EntityID = @EntityId  
      AND ( @PlantIdString IS NULL  
         OR @PlantIdString = ''  
         OR FGRateMaster.CastingId IN (  
          SELECT  CastingId  
          FROM    dbo.PlantCastingMapping  
            where PlantId in (SELECT Item FROM @Plant)) )  
         
      --------------------------------------------------------  
                    ORDER BY CustomerName ,  
                            MetalName ,  
                            CastingMaster.CastingName ,  
                            FGRateMasterHistory.ApplyDate DESC  
                END  
          
            ELSE  
                BEGIN  
                    SELECT DISTINCT  
                            'true' AS Showhistory ,  
                            CustomerName ,  
                            MetalName ,  
                            CastingMaster.CastingName AS Item ,  
                            CastingMaster.CastingCode AS ItemCode ,  
                            CastingMaster.CastingId AS Id ,  
                            FGRateMaster.Rate AS BasicPrice ,  
                            '' AS ItemRate ,  
                            '' AS UOM ,  
                            '' AS UOM_History ,  
                            FGRateMaster.ApplyDate AS EffectiveDate ,  
                            '' AS Unit ,  
                            CurrencyMaster.Symbol + ' '  
                            + CurrencyMaster.Currency AS Currency  
                    FROM    FGRateMaster  
                            INNER JOIN CastingMaster ON FGRateMaster.castingid = CastingMaster.castingid  
                            INNER JOIN MetalMaster ON FGRateMaster.metalid = MetalMaster.metalid  
                            INNER JOIN CustomerMaster ON FGRateMaster.customerid = CustomerMaster.customerid  
                            INNER JOIN dbo.CurrencyMaster ON dbo.CurrencyMaster.CurrencyID = dbo.FGRateMaster.Currency  
                    WHERE   ( @CustomerId IS NULL  
                              OR CustomerMaster.CustomerId = @CustomerId  
                            )  
                            AND ( @CastingID IS NULL  
                                  OR CastingMaster.CastingId = @CastingID  
                                )  
                            AND ( @CastingName IS NULL  
                                  OR CastingMaster.CastingName = @CastingName  
                                )  
                            AND ( @MetalId IS NULL  
                                  OR MetalMaster.MetalId = @MetalId  
                                )  
                    ORDER BY CustomerName ,  
                            MetalName ,  
                            CastingMaster.CastingName ,  
                            FGRateMaster.ApplyDate DESC  
                END   
        END   
          
    IF @parameter = 11   -- Fetch Casting code Casting Name  
        BEGIN  
  
            --SELECT DISTINCT  
            --        MetalName ,  
            --        MetalMaster.MetalId  
            --FROM    dbo.MetalMaster  
            --        INNER JOIN dbo.CastingMetal ON dbo.CastingMetal.MetalId = dbo.MetalMaster.MetalId  
            --        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.CastingMetal.castingID  
            --WHERE   CastingMaster.DieId IN (  
            --        SELECT  DieId  
            --        FROM    CustomerDieMapping  
            --        WHERE   @CustomerId IS NULL  
            --                OR CustomerId = @CustomerId )  
            --        AND CastingMaster.Isdeleted = 0  
            --        AND ( @PlantIdString IS NULL  
            --              OR @PlantIdString = ''  
            --              OR CastingMaster.CastingId IN (  
            --              SELECT    CastingId  
            --              FROM      dbo.PlantCastingMapping  
            --                        INNER JOIN dbo.SplitString(@PlantIdString,  
            --                                                  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )  
            --            )  
            --        AND CastingMaster.EntityID = @EntityId  
            --UNION ALL  
            SELECT DISTINCT  
                    MetalName ,  
                    MetalMaster.MetalId  
            FROM    dbo.MetalMaster  
                    INNER JOIN dbo.CastingMetal ON dbo.CastingMetal.MetalId = dbo.MetalMaster.MetalId  
                    INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.CastingMetal.castingID  
                    INNER JOIN dbo.CastingCompanyMapping ON dbo.CastingMaster.CastingId = dbo.CastingCompanyMapping.castingID 
            WHERE   CastingMaster.DieID IN (  
                    SELECT  PatternID  
                    FROM    CustomerPatternMapping  
                    WHERE   ( @CustomerId IS NULL  
                              OR CustomerId = @CustomerId  
                            ) )  
                    AND CastingMaster.Isdeleted = 0  
                    AND ( @PlantIdString IS NULL  
                          OR @PlantIdString = ''  
                          OR CastingMaster.CastingId IN (  
                          SELECT    CastingId  
                          FROM      dbo.PlantCastingMapping  
                                    where PlantId in (SELECT Item FROM @Plant) )  
                        )  
                    AND CastingCompanyMapping.CompanyId = @EntityId  
  
  
        END  
          
    
          
    IF @parameter = 13  
        BEGIN  
            SELECT  DISTINCT  
                    Rate ,  
                    UOMMaster.UOM ,  
                    ApplyDate AS CreatedOn,  
                    RMRateHistoryId,
                    Discount 
            FROM    RMRateMasterHistory  
                    INNER JOIN UOMMaster ON UOMMaster.UOMid = RMRateMasterHistory.UOM  
            WHERE   ( @PurchaseItemId IS NULL  
                      OR PurchaseItemId = @PurchaseItemId  
                    )  
                    AND ( @CustomerId IS NULL  
                          OR CustomerId = @CustomerId  
                        )  
            ORDER BY ApplyDate DESC
        END  
        
        
    IF @parameter = 14 -- Fetch RawMaterialRateHistory Report View  
        BEGIN  
            IF @ShowHistory = 1  
                BEGIN  
                    SELECT DISTINCT  
                            CustomerName ,  
                            PurchaseItemMaster.ItemName ,  
                            PurchaseItemMaster.ItemCode ,  
                            RMRateMaster.Rate AS BasicPrice ,  
                            ISNULL(RMRateMasterHistory.Rate, 0) AS ItemRate ,  
                            UOMMaster.UOM AS UOM_History ,  
                            RMRateMasterHistory.ApplyDate AS EffectiveDate ,  
                            '' AS Unit  
                    FROM    RMRateMaster  
                            INNER JOIN PurchaseItemMaster ON RMRateMaster.PurchaseItemId = PurchaseItemMaster.PurchaseItemId  
                            INNER JOIN CustomerMaster ON RMRateMaster.customerid = CustomerMaster.customerid  
                            LEFT JOIN RMRateMasterHistory ON PurchaseItemMaster.PurchaseItemId = RMRateMasterHistory.PurchaseItemId  
                                                             AND RMRateMasterHistory.customerid = CustomerMaster.customerid  
                            LEFT JOIN UOMMaster ON UOMMaster.UOMid = RMRateMasterHistory.UOM  
                    WHERE   ( @CustomerId IS NULL  
                              OR CustomerMaster.CustomerId = @CustomerId  
                            )  
                            AND ( @PurchaseItemId IS NULL  
                                  OR PurchaseItemMaster.PurchaseItemId = @PurchaseItemId  
                                )  
                            AND ( @PurchaseItemGroupId IS NULL  
                                  OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId  
                                )  
                            AND ( @PurchaseItemSubGroupId IS NULL  
                                  OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemSubGroupId  
                                )  
                            AND ( @PurchaseItemTypeId IS NULL  
                                  OR PurchaseItemMaster.PurchaseItemtypeId = @PurchaseItemTypeId  
                                ) 
								AND RMRateMaster.IsPurchase = 1
                    ORDER BY CustomerName ,  
                            PurchaseItemMaster.ItemName ,  
                            PurchaseItemMaster.ItemCode ,  
                            RMRateMasterHistory.ApplyDate DESC  
                              
                             
                END  
          
            ELSE  
                BEGIN  
                    SELECT DISTINCT  
                            CustomerName ,  
                            PurchaseItemMaster.ItemName ,  
                            PurchaseItemMaster.ItemCode ,  
                            RMRateMaster.Rate AS BasicPrice ,  
                            '' AS ItemRate ,  
                            '' AS UOM_History ,  
                            RMRateMaster.ApplyDate AS EffectiveDate ,  
                            '' AS Unit  
                    FROM    RMRateMaster  
                            INNER JOIN PurchaseItemMaster ON RMRateMaster.PurchaseItemId = PurchaseItemMaster.PurchaseItemId  
                            INNER JOIN CustomerMaster ON RMRateMaster.customerid = CustomerMaster.customerid  
                    WHERE   ( @CustomerId IS NULL  
                              OR CustomerMaster.CustomerId = @CustomerId  
                            )  
                            AND ( @PurchaseItemId IS NULL  
                                  OR PurchaseItemMaster.PurchaseItemId = @PurchaseItemId  
                                )  
                            AND ( @PurchaseItemGroupId IS NULL  
                                  OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId  
                                )  
                            AND ( @PurchaseItemSubGroupId IS NULL  
                                  OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemSubGroupId  
                                )  
                            AND ( @PurchaseItemTypeId IS NULL  
                                  OR PurchaseItemMaster.PurchaseItemtypeId = @PurchaseItemTypeId  
                                )  
								AND RMRateMaster.IsPurchase = 1
                    ORDER BY CustomerName ,  
                            PurchaseItemMaster.ItemName ,  
                            PurchaseItemMaster.ItemCode ,  
                            RMRateMaster.ApplyDate DESC  
                END   
        END   
          
    COMMIT TRANSACTION  
     --added by yashvi  
     --This will fetch pending Order detail  
    IF @parameter = 15  
        BEGIN  
        declare @HistoryDate Datetime = isnull(( SELECT    TOP 1  cast(ApplyDate  as DATE)
											FROM      dbo.FGRateMasterHistory  
											WHERE     CustomerId = @CustomerId  
												AND CastingId = @CastingId  
												AND MetalId = @MetalId
											 ORDER BY ApplyDate DESC), DATEADD(day,-1, cast(@ApplyDate as DATE)))
			if (@IsMaterUpload = 0)
            --IF EXISTS ( 
			SELECT   ( (CASE WHEN Cast(@PrintOrderNo as varchar(MaX)) = 0 THEN
						(CASE WHEN OrderMaster.WOPrefix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.WOPrefix) END
						+ CASE WHEN OrderMaster.WOSeparator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.WOSeparator) END
						+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
						+ CASE WHEN OrderMaster.WOSeparator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.WOSeparator) END
						+ CASE WHEN OrderMaster.WOSuffix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.WOSuffix) END)
					ELSE           
						(CASE WHEN OrderMaster.Prefix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.Prefix) END
						+ CASE WHEN OrderMaster.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.Separator) END
						+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
						+ CASE WHEN OrderMaster.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.Separator) END
						+ CASE WHEN OrderMaster.Suffix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.Suffix) END)
					END)
					+ '/' + CAST(OrderTranse.SrNo as varchar(150)) + '/' + CONVERT(VARCHAR(15), OrderMaster.OrderDate, 106)
					) AS [Customer Order No / Order Date] ,
					--CustomerName as [Customer Name],CustomerCode as [Customer Code],
					CastingName as [Casting Name],CastingCode as [Casting Code],
					MetalName as [Grade],CommonData_Master.DisplayName as [Cond Of Supply] ,
					OrderTranse.CondOfSupply as CondOfSupplyId, 
					Isnull(OrderTranse.CustomerRates,0) as [Order Rate], 
					case when @IsBulk = 1 then  
						Case when OrderTranse.CondOfSupply = '1' then ISNULL(Rate,OrderTranse.CustomerRates)
						else case when OrderTranse.CondOfSupply = '2' then ISNULL(RoughMCost,OrderTranse.CustomerRates)
						else case when OrderTranse.CondOfSupply = '3' then ISNULL(FullyMCost,OrderTranse.CustomerRates)
						else case when OrderTranse.CondOfSupply != '0' then ISNULL(AssemblyRate,OrderTranse.CustomerRates)
						end end end end
					else Isnull(OrderTranse.CustomerRates,0) end as [New Rate], 
					OrderTranse.UOM as [Order UOM],
					isnull(FGRateMaster.FGWeight,OrderTranse.ApproxWeight) as [Weight],
					CASE WHEN 
					(isnull(Cast(FGRateMaster.ApplyDate as DATe),Cast(@ApplyDate as date)) <= Cast(@ApplyDate as date)									
					     		AND Cast(@ApplyDate as date) <= Cast(OrderMaster.Orderdate as Date))
					     		OR 
					     		(Cast(FGRateMaster.ApplyDate as DATe) > Cast(@ApplyDate as date)
					     		and @HistoryDate <  Cast(@ApplyDate as date)
					     		and Cast(@ApplyDate as date) <= Cast(OrderMaster.Orderdate as Date)
					     		)
					     		OR
					     		(Cast(FGRateMaster.ApplyDate as DATe) > Cast(@ApplyDate as date)
					     		and  Cast(OrderMaster.Orderdate as Date) >= Cast(@ApplyDate as date)
					     		and  Cast(OrderMaster.Orderdate as Date) <  Cast(FGRateMaster.ApplyDate as DATe)
					     		)
					     		
				 		 --  Cast(@ApplyDate as date) <= Cast(OrderMaster.Orderdate  as DATE)
					 THEN 'AFTER'
					ELSE 'BEFORE' END AS EffectiveApplyDate
			FROM    OrderMaster  
					INNER JOIN OrderTranse ON OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId 
					Inner Join CastingMaster On CastingMaster.CastingId = OrderTranse.PartId
					Inner Join MetalMaster On MetalMaster.MetalId = OrderTranse.MetalID 
					Inner Join CommonData_Master On CommonData_Master.CommonDataId = OrderTranse.CondOfSupply 
					and CommonData_Master.[Group] = 'Cond_Of_Supply'
					Inner Join CustomerMaster On CustomerMaster.CustomerId = OrderMaster.CustomerId
					LEFT JOIN FGRateMaster ON FGRateMaster.CastingId = OrderTranse.PartId  
								AND FGRateMaster.MetalId = OrderTranse.MetalID  
								And FGRateMaster.CustomerId = OrderMaster.CustomerID
			WHERE   ( @CustomerId IS NULL  
					  OR OrderMaster.CustomerID = @CustomerId  
					)  
					AND ( isnull(@MetalId,0) = 0  
						  OR OrderTranse.MetalID = @MetalId  
						)  
					AND ( @CastingId IS NULL  
						  OR OrderTranse.PartId = @CastingId  
						)
					--AND (Cast(OrderMaster.Orderdate  as DATE) >= Cast(@ApplyDate as DATE))
					----AND ( CONVERT(VARCHAR(20), OrderMaster.Orderdate, 106) >= CONVERT(VARCHAR(20), @ApplyDate, 106) )  
					--AND(( Cast(@ApplyDate as date) >= isnull(Cast(FGRateMaster.ApplyDate as DATe),Cast(@ApplyDate as date)))
					--	Or (Cast(OrderMaster.Orderdate  as DATE) < Cast(FGRateMaster.ApplyDate as DATe))
					--)
					AND OrderMaster.IsDeleted = 0  
					AND OrderTranse.IsDeleted = 0  
					AND OrderTranse.IsDelivered = 0  
					AND OrderTranse.IsShortclose = 0 
					AND (isnull(@CastingName,'') = '' Or CastingMaster.CastingName = @CastingName)
					And (@OrderApprovalRequire = 0 or IsApprove = 1 ) -- Added By juhi on 08-09-2025
					order by CastingName

			else
			SELECT   ( (CASE WHEN Cast(@PrintOrderNo as varchar(MaX)) = 0 THEN
						(CASE WHEN OrderMaster.WOPrefix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.WOPrefix) END
						+ CASE WHEN OrderMaster.WOSeparator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.WOSeparator) END
						+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
						+ CASE WHEN OrderMaster.WOSeparator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.WOSeparator) END
						+ CASE WHEN OrderMaster.WOSuffix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.WOSuffix) END)
					ELSE           
						(CASE WHEN OrderMaster.Prefix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.Prefix) END
						+ CASE WHEN OrderMaster.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.Separator) END
						+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
						+ CASE WHEN OrderMaster.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.Separator) END
						+ CASE WHEN OrderMaster.Suffix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), OrderMaster.Suffix) END)
					END)
					+ '/' + CAST(OrderTranse.SrNo as varchar(150)) + '/' + CONVERT(VARCHAR(15), OrderMaster.OrderDate, 106)
					) AS [Customer Order No / Order Date] ,
					--CustomerName as [Customer Name],CustomerCode as [Customer Code],
					CastingName as [Casting Name],CastingCode as [Casting Code],
					MetalName as [Grade],CommonData_Master.DisplayName as [Cond Of Supply] ,
					OrderTranse.CondOfSupply as CondOfSupplyId, 
					Isnull(OrderTranse.CustomerRates,0) as [Order Rate], 
					case when @IsBulk = 1 then  
						Case when OrderTranse.CondOfSupply = '1' then ISNULL(Rate,OrderTranse.CustomerRates)
						else case when OrderTranse.CondOfSupply = '2' then ISNULL(RoughMCost,OrderTranse.CustomerRates)
						else case when OrderTranse.CondOfSupply = '3' then ISNULL(FullyMCost,OrderTranse.CustomerRates)
						else case when OrderTranse.CondOfSupply != '0' then ISNULL(AssemblyRate,OrderTranse.CustomerRates)
						end end end end
					else Isnull(OrderTranse.CustomerRates,0) end as [New Rate], 
					OrderTranse.UOM as [Order UOM],
					isnull(TempFGRateMaster.FGWeight,OrderTranse.ApproxWeight) as [Weight],
					CASE WHEN 
					(isnull(Cast(TempFGRateMaster.ApplyDate as DATe),Cast(@ApplyDate as date)) <= Cast(@ApplyDate as date)									
					     		AND Cast(@ApplyDate as date) <= Cast(OrderMaster.Orderdate as Date))
					     		OR 
					     		(Cast(TempFGRateMaster.ApplyDate as DATe) > Cast(@ApplyDate as date)
					     		and @HistoryDate <  Cast(@ApplyDate as date)
					     		and Cast(@ApplyDate as date) <= Cast(OrderMaster.Orderdate as Date)
					     		)
					     		OR
					     		(Cast(TempFGRateMaster.ApplyDate as DATe) > Cast(@ApplyDate as date)
					     		and  Cast(OrderMaster.Orderdate as Date) >= Cast(@ApplyDate as date)
					     		and  Cast(OrderMaster.Orderdate as Date) <  Cast(TempFGRateMaster.ApplyDate as DATe)
					     		)
					     		
				 		 --  Cast(@ApplyDate as date) <= Cast(OrderMaster.Orderdate  as DATE)
					 THEN 'AFTER'
					ELSE 'BEFORE' END AS EffectiveApplyDate
			FROM    OrderMaster  
					INNER JOIN OrderTranse ON OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId 
					Inner Join CastingMaster On CastingMaster.CastingId = OrderTranse.PartId
					Inner Join MetalMaster On MetalMaster.MetalId = OrderTranse.MetalID 
					Inner Join CommonData_Master On CommonData_Master.CommonDataId = OrderTranse.CondOfSupply 
					and CommonData_Master.[Group] = 'Cond_Of_Supply'
					Inner Join CustomerMaster On CustomerMaster.CustomerId = OrderMaster.CustomerId
					LEFT JOIN TempFGRateMaster ON TempFGRateMaster.CastingId = OrderTranse.PartId  
								AND TempFGRateMaster.MetalId = OrderTranse.MetalID  
								And TempFGRateMaster.CustomerId = OrderMaster.CustomerID
			WHERE   ( @CustomerId IS NULL  
					  OR OrderMaster.CustomerID = @CustomerId  
					)  
					AND ( isnull(@MetalId,0) = 0  
						  OR OrderTranse.MetalID = @MetalId  
						)  
					AND ( @CastingId IS NULL  
						  OR OrderTranse.PartId = @CastingId  
						)
					AND OrderMaster.IsDeleted = 0  
					AND OrderTranse.IsDeleted = 0  
					AND OrderTranse.IsDelivered = 0  
					AND OrderTranse.IsShortclose = 0 
					AND (isnull(@CastingName,'') = '' Or CastingMaster.CastingName = @CastingName)
					And (@OrderApprovalRequire = 0 or IsApprove = 1 ) -- Added By juhi on 08-09-2025
					order by CastingName
					--)  
            --    BEGIN   
            --        RETURN 0--Means Order Is Pending  
            --    END  
            --ELSE  
            --    BEGIN  
            --        RETURN 1  
            --    END  
    
       
        END  
       
    IF ( @parameter = 16 ) -- Fetch Casting purchase rate data  
        BEGIN  
            DECLARE @EmptyGuid UNIQUEIDENTIFIER = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)  
    
            SELECT  ROW_NUMBER() OVER ( ORDER BY CPrm.RateID DESC ) AS Row_No ,  
                    CPrm.RateID ,  
                    CPrm.SupplierID ,  
                    Custm.CustomerName AS SupplierName ,  
                    Castm.CastingName ,  
                    CPrm.CastingID ,  
                    Castm.CastingCode ,  
                    CPrm.MetalID ,  
                    mm.MetalName ,  
                    CPrm.CondOfSupply AS CondOfSupplyId ,  
                    cdm.DisplayName AS CondOnSupply ,  
                    Rate AS CastingRate ,  
                    CONVERT(VARCHAR(11), CPrm.EffectiveDate, 106) AS [EffectDate] ,  
                    CPrm.UOM AS UOMCP  
            FROM    CPRateMaster AS CPrm  
                    INNER JOIN CustomerMaster AS Custm ON CPrm.SupplierID = Custm.CustomerId  
                    INNER JOIN CastingMaster AS Castm ON CPrm.CastingID = Castm.CastingId  
                    INNER JOIN MetalMaster AS mm ON CPrm.MetalID = mm.MetalId  
                    INNER JOIN CommonData_Master AS cdm ON CPrm.CondOfSupply = cdm.CommonDataId 
                    Inner join CastingCompanyMapping On CastingCompanyMapping.CastingId = Castm.CastingId
            WHERE   ISNULL(CPrm.IsDeleted, 0) = 0  
                    AND ( ( @CustomerId IS NULL  
                            OR @CustomerId = @EmptyGuid  
                          )  
                          OR CPrm.SupplierID = @CustomerId  
                        )  
                    AND ( ( @CastingId IS NULL  
                            OR @CastingId = @EmptyGuid  
                          )  
                          OR CPrm.CastingID = @CastingId  
                        )  
                    AND ( ( ISNULL(@CastingName, '') = '' )  
                          OR Castm.CastingName = @CastingName  
                        )  
                    AND ( ISNULL(@MetalId, 0) = 0  
                          OR CPrm.MetalID = @MetalId  
                        )  
                    AND ( @P_CastingCondOfSupply = 0  
                          OR CPrm.CondOfSupply = @P_CastingCondOfSupply  
                        )  
                    AND ( @P_CastingRateId = 0  
                          OR CPrm.RateID = @P_CastingRateId  
                        )  
     AND ( @PlantIdString IS NULL  
        OR @PlantIdString = ''  
        OR CPrm.CastingID IN (  
         SELECT  CastingId  
         FROM    dbo.PlantCastingMapping  
          where PlantId in (SELECT Item FROM @Plant) 
        )  
     )  
     AND CastingCompanyMapping.CompanyId = @EntityId  
        END  
    
    IF ( @Parameter = 17 ) -- Insert Casting purchase data  
        BEGIN  
            DECLARE @CastingRateId INT = 0  
            SET @CastingRateId = ( SELECT TOP 1  
                                            RateID  
                                   FROM     CPRateMaster  
                                   WHERE    ISNULL(IsDeleted, 0) = 0  
                                            AND SupplierID = @P_CastingSupplierId  
                                            AND CastingID = @CastingId  
                                            AND MetalID = @MetalId  
                                            AND CondOfSupply = @P_CastingCondOfSupply  
                                 )  
    
            IF ( ISNULL(@CastingRateId, 0) = 0 )  
                BEGIN  
                    INSERT  INTO [dbo].[CPRateMaster]  
                            ( [SupplierID] ,  
                              [CastingID] ,  
                              [MetalID] ,  
             [CondOfSupply] ,  
                              [Rate] ,  
                              [EffectiveDate] ,  
                              [CreatedBy] ,  
                              [CreatedOn] ,  
                              UOM  
                            )  
                    VALUES  ( @P_CastingSupplierId ,  
                              @CastingId ,  
                              @MetalId ,  
                              @P_CastingCondOfSupply ,  
                              @Rate ,  
                              @ApplyDate ,  
                              @CreatedBy ,  
                              GETDATE() ,  
                              @UOMCP  
                            )  
  
                    IF @@ERROR <> 0  
                        BEGIN  
                            ROLLBACK TRANSACTION  
                            RETURN -1  
                        END  
                    ELSE  
                        BEGIN   
                            RETURN 0  
                        END  
                END  
            ELSE  
                BEGIN  
                    RETURN -2  
                END  
        END  
    
    IF ( @Parameter = 18 )  
        BEGIN  
            IF EXISTS ( SELECT TOP 1  
                                1  
                        FROM    CPRateMaster  
                        WHERE   RateID = @P_CastingRateId  
                                AND CAST(EffectiveDate AS DATE) <= CAST(@ApplyDate AS DATE) )  
                BEGIN  
                    INSERT  INTO [dbo].[CPRateMasterHistory]  
                            ( [RateID] ,  
                              [SupplierID] ,  
                              [CastingID] ,  
                              [MetalID] ,  
                              [CondOfSupply] ,  
                              [Rate] ,  
                              [EffectiveDate] ,  
                              [CreatedBy] ,  
                              [CreatedOn] ,  
                              [UOM]  
                            )  
                            SELECT  RateID ,  
                                    SupplierID ,  
                                    CastingID ,  
                                    MetalID ,  
                                    CondOfSupply ,  
                                    Rate ,  
                                    EffectiveDate ,  
                                    @ModifiedBy ,  
                                    GETDATE() ,  
                                    UOM  
                            FROM    [dbo].[CPRateMaster]  
                            WHERE   RateID = @P_CastingRateId  
     
                    UPDATE  [dbo].[CPRateMaster]  
                    SET     [CondOfSupply] = @P_CastingCondOfSupply ,  
                            [Rate] = @Rate ,  
                            [EffectiveDate] = @ApplyDate ,  
                            [ModifiedBy] = @ModifiedBy ,  
                            [ModifiedOn] = GETDATE() ,  
                            [UOM] = @UOMCP  
                    WHERE   RateID = @P_CastingRateId  
     
                    IF @@ERROR <> 0  
                        BEGIN  
                            ROLLBACK TRANSACTION  
                            RETURN -1  
                        END  
                    ELSE  
                        BEGIN   
                            RETURN 1  
                        END  
                END  
            ELSE  
                BEGIN  
                    RETURN 0  
                END  
        END  
    
    IF ( @Parameter = 19 )  
        BEGIN  
            UPDATE  CPRateMaster  
            SET     IsDeleted = 1 ,  
                    DeletedBy = @P_DeletedBy ,  
                    DeletedOn = GETDATE()  
            WHERE   RateID = @P_CastingRateId  
        END  
         
   IF @parameter = 20 -- Fetch FGRate for Jobwork Out  
        BEGIN  
            SELECT Top 1 Rate ,UOM 
            FROM    FGRateMaster  
            WHERE   CastingId = @CastingID  
                    AND MetalId = @MetalId  
        END 
        
     IF @parameter = 21 -- Fetch Value for Jobwork Out  
        BEGIN  
            SELECT Top 1 Rate  as Value
            FROM    RMRateMaster  
            WHERE   PurchaseItemId = @CastingID 
			AND RMRateMaster.IsPurchase = 1
             
			Union All 
			Select top 1 MoldValue as Value
			from PatternMaster 
			where PatternId = @CastingId
			
			Union All
			Select top 1 CoreValue as Value
			from CoreBoxDetails
			Where CoreBoxID = @CastingId
			and IsDelete = 0	
                   
        END  
         IF @parameter = 22
        BEGIN 
			select CastingCode ,CastingName ,MetalName from CastingMaster
				inner join CastingMetal on CastingMetal.CastingId = CastingMaster.CastingId
				inner join MetalMaster on CastingMetal.metalid = MetalMaster.MetalId
				Inner join CastingCompanyMapping On CastingCompanyMapping.CastingId = CastingMaster.CastingId
			where CastingCompanyMapping.CompanyId = @EntityId and 
				CastingMaster.castingid not in (select CastingId from FGRateMaster where   FGRateMaster.MetalId =CastingMetal.metalid )
				and CastingMaster.IsDeleted = 0 
				order by CastingCode,CastingName
		end
		 IF @Parameter = 23 --Insert FG Rate Master Into Temproary Table Added by Juhi
      BEGIN
				INSERT INTO TempFGRateMaster  
				( CustomerID,  
				  CastingID,  
				  MetalId,  
				  Rate,  
				  UOM,  
				  ApplyDate,  
				  CreatedBY,  
				  CreatedOn,  
				  ModifiedBy,  
				  ModifiedOn,  
				  Currency,  
				  CurrencyMultiplier,
				  FgWeight,
				  RoughMRate,
				  FullyMRate,
				  RoughMCost,
				  FullyMCost,
				  RoughMUOM,
				  FullyMUOM,
				  AssemblyRate,
				  AssemblyUOM
				)  
			VALUES  
				( @CustomerID,  
				  @CastingId,  
				  @MetalId,  
				  @Rate,  
				  @UOM,  
				  @ApplyDate,  
				  @CreatedBy,  
				  GETDATE(),  
				  0,  
				  NULL,  
				  @Currency,  
				  @CurrencyMultiplier,
				  @FgWeight,
				  @RoughMRate,
				  @FullyMRate,
				  @RoughMCost,
				  @FullyMCost,
				  @RoughMUOM,
				  @FullyMUOM,
				  ISNULL(@AssemblyRate, 0),
				  ISNULL(@AssemblyUOM, '')
				);  

		end
		 IF @Parameter = 24 
      BEGIN
	  Declare @CurrencyIds float =(select top 1  CurrencyId from CurrencyMaster where isdefault = 1 )

	  if exists (select 1 from RMRateMaster where RMRateMaster.CustomerId = @CustomerId 
	  AND (
							@PurchaseItemId IS NULL 
							OR RMRateMaster.PurchaseItemId = @PurchaseItemId
						)
	  --AND RMRateMaster.PurchaseItemId = @PurchaseItemId
	  )
	  Begin
				SELECT  
						C.CustomerName,  
						C.CustomerId,  
						P.ItemName,  
						P.ItemCode, 
						U.UOMid,  
						U.UOM,
						CAST(ISNULL(R.Currency, @CurrencyIds) AS INT) AS FGCURRENCY,
						ISNULL(R.Rate, CAST(0 AS DECIMAL)) AS Rate,
						CAST(R.Discount AS DECIMAL) AS Discount,
						CONVERT(VARCHAR(50), ISNULL(R.ApplyDate, GETDATE()), 106) AS [Date],
						P.PurchaseItemId
					FROM 
						RMRateMaster AS R
						INNER JOIN CustomerMaster AS C 
							ON C.CustomerId = R.CustomerId
						INNER JOIN PurchaseItemMaster AS P 
							ON P.PurchaseItemId = R.PurchaseItemId
						LEFT JOIN UOMMaster AS U 
							ON P.UnitOfMeasure = U.UOMid
					WHERE  
						C.CustomerFlag = 'C'
						AND R.IsPurchase = 0
						AND C.IsDeleted = 0
						AND P.IsDeleted = 0
						AND (
							@PurchaseItemId IS NULL 
							OR R.PurchaseItemId = @PurchaseItemId
						)
						AND (
							@CustomerId IS NULL 
							OR R.CustomerId = @CustomerId
						);
				End
				ELSE
				BEGIN
					SELECT  
							C.CustomerName,
							C.CustomerId,
							P.ItemName,
							P.ItemCode,
							P.UnitOfMeasure AS UOMid,
							U.UOM,
							CAST(@CurrencyIds AS INT) AS FGCURRENCY,
							CAST(0 AS DECIMAL) AS Rate,
							CAST(0 AS DECIMAL) AS Discount,
							CONVERT(VARCHAR(50), GETDATE(), 106) AS [Date],
							@PurchaseItemId AS PurchaseItemId
						FROM 
							CustomerMaster AS C
							CROSS APPLY (
								SELECT TOP 1 
									PIM.UnitOfMeasure,
									PIM.ItemName,
									PIM.ItemCode
								FROM PurchaseItemMaster AS PIM
								WHERE 
									PIM.PurchaseItemId = @PurchaseItemId
									AND PIM.IsDeleted = 0
							) AS P
							LEFT JOIN UOMMaster AS U 
								ON P.UnitOfMeasure = U.UOMid
						WHERE  
							C.CustomerFlag = 'C'
							AND C.IsDeleted = 0
							AND C.EntityId = @EntityId
							AND (
								@CustomerId IS NULL
								OR C.CustomerId = @CustomerId
							);
					
				END
		end
          if(@Parameter = 25)
		  begin
		   select * 
		   from RMRateMaster r
		   WHERE  
							r.IsPurchase = 0
							AND (
								r.CustomerId = @CustomerId
							)
							AND (
							 R.PurchaseItemId = @PurchaseItemId
						)
						 And cast(r.ApplyDate  as DATE) <= cast(@ApplyDate as DATE) 

						order by r.ApplyDate desc
		  end


	
GO
