USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[DepartmentWiseMaterialIssueReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Hemani >
-- Create date: <02May2018>
-- Description:	<This will show the department wise material issue>
-- =============================================DepartmentWiseMaterialIssueReport '2018-04-01', '2019-03-28', 1
CREATE PROCEDURE [dbo].[DepartmentWiseMaterialIssueReport]
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    @IsInwardBatchWise BIT = NULL ,
	@PurchaseItemId UNIQUEIDENTIFIER = NULL ,
	@IssueTo VARCHAR(50) = NULL ,
    @IssueNo VARCHAR(50) = NULL ,
    @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL ,
    @PurchaseItemSubGroupId UNIQUEIDENTIFIER = NULL ,
    @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL 
  , @EntityID INT = 0
  , @PlantIdString NVARCHAR(MAX) = ''
  , @DepartmentID UNIQUEIDENTIFIER = NULL 
  , @IsTransfer BIT = 0
  , @IsReceived bit = 1
  , @IsReturnAgainstTransfer int = 0 
AS
BEGIN

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
-------------------------------------added by Hemani------------------------------------

IF ( @IsInwardBatchWise = 0 )
BEGIN
----------------------------------without batch-------------------------
SELECT		CASE WHEN dbo.PurchaseItemMaster.ShortCode IS NULL OR dbo.PurchaseItemMaster.ShortCode = ''
			THEN dbo.PurchaseItemMaster.ItemCode
			ELSE dbo.PurchaseItemMaster.ShortCode
			END AS ShortCode,
			dbo.PurchaseItemMaster.ItemName,
			dbo.UOMMaster.UOM,
			ISNULL(dbo.SystemDepartment.DepartmentName, 'Other') AS IssueDepartment,
			SUM(dbo.MaterialIssueTrans.Quantity) AS Quantity,
			CAST(SUM(dbo.MaterialIssueTrans.Quantity * ISNULL(RawMaterial.Rate, 0)) AS DECIMAL(10, 2))AS Value
FROM		dbo.MaterialIssue
			INNER JOIN dbo.MaterialIssueTrans
			ON dbo.MaterialIssueTrans.IssueId = dbo.MaterialIssue.IssueId
			INNER JOIN dbo.PurchaseItemMaster
			ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.MaterialIssueTrans.PurchaseItemId
			INNER JOIN dbo.UOMMaster 
			ON dbo.UOMMaster.UOMid = dbo.PurchaseItemMaster.SecondaryUnitOfMeasure
			LEFT JOIN dbo.SystemDepartment
			ON dbo.SystemDepartment.DepartmentID = dbo.MaterialIssue.DepartmentID
			LEFT JOIN (
				SELECT		dbo.RawMaterialInwardDetail.PurchaseItemId,
							SUM(ISNULL(Quantity, 0) * ISNULL(Rate, 0)) / SUM(ISNULL(Quantity, 0)) AS Rate
				FROM		dbo.RawMaterialInward
							INNER JOIN dbo.RawMaterialInwardDetail
							ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
				WHERE		dbo.RawMaterialInward.InwardDate BETWEEN @StartDate AND @EndDate
							AND dbo.RawMaterialInward.IsDeleted = 0
							AND dbo.RawMaterialInwardDetail.IsDeleted = 0
				GROUP BY	dbo.RawMaterialInwardDetail.PurchaseItemId
			) AS RawMaterial
			ON RawMaterial.PurchaseItemId = dbo.MaterialIssueTrans.PurchaseItemId
WHERE		dbo.MaterialIssue.IsDeleted = 0
			AND dbo.MaterialIssueTrans.IsDeleted = 0
			AND dbo.MaterialIssue.IssueForOtherPurpose = 0
			AND ( @StartDate IS NULL
                  OR @EndDate IS NULL
                  OR CAST(MaterialIssue.IssueDate AS DATE) BETWEEN CAST(@StartDate AS DATE)
                                                              AND
                                                              CAST(@EndDate AS DATE)
                )
			AND ( @PurchaseItemId IS NULL
						OR MaterialIssueTrans.PurchaseItemId = @PurchaseItemId
                )
            AND (@DepartmentId is null 
												OR MaterialIssue.DepartmentID = @DepartmentId
											)
            AND ( @IssueTo IS NULL
                        OR MaterialIssueTrans.IssueTo = @IssueTo
                )
            AND ( ( @IssueNo = ''       
                            OR @IssueNo IS NULL        
                          ) 
					
                        OR MaterialIssue.IssueNo = @IssueNo
                )
            AND ( @PurchaseItemGroupId IS NULL
						OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId
				)
			AND ( @PurchaseItemSubGroupId IS NULL
						OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemSubGroupId
				)
			AND ( @PurchaseItemTypeId IS NULL
						OR PurchaseItemMaster.PurchaseItemTypeId = @PurchaseItemTypeId
				)
			AND MaterialIssue.EntityID = @EntityID
			AND (	ISNULL(@PlantIdString,'') = ''
					OR ((@IsTransfer = 1 AND MaterialIssue.FromPlantId IN (SELECT Item FROM @Plant ))
						OR (@IsTransfer = 0 AND MaterialIssue.PlantId IN (SELECT Item FROM @Plant ))
					)
			)
			AND MaterialIssue.IsTransfer = @IsTransfer
			AND (@IsReceived = 1 OR MaterialIssueTrans.IsReceived = @IsReceived)  
			and (@IsReturnAgainstTransfer = 0 OR MaterialIssueTrans.IsReturnAgainstTransfer= @IsReturnAgainstTransfer)      
GROUP BY	dbo.PurchaseItemMaster.ItemName,
			dbo.UOMMaster.UOM,
			dbo.PurchaseItemMaster.ShortCode,
			dbo.SystemDepartment.DepartmentName,
			dbo.PurchaseItemMaster.PurchaseItemId,
			dbo.PurchaseItemMaster.ItemCode,
			RawMaterial.Rate
			
END 
ELSE 
BEGIN 
--------------------------------with batch------------------------------------
SELECT		CASE WHEN dbo.PurchaseItemMaster.ShortCode IS NULL OR dbo.PurchaseItemMaster.ShortCode = ''
			THEN dbo.PurchaseItemMaster.ItemCode
			ELSE dbo.PurchaseItemMaster.ShortCode
			END AS ShortCode,
			dbo.PurchaseItemMaster.ItemName,
			dbo.UOMMaster.UOM,
			ISNULL(dbo.SystemDepartment.DepartmentName, 'Other') AS IssueDepartment,
			SUM(dbo.MaterialIssueBatchWise.Quantity) AS Quantity,
			CAST(SUM(dbo.MaterialIssueBatchWise.Quantity * ISNULL(RawMaterialInwardDetail.Rate, 0)) AS DECIMAL(18, 2)) AS Value
FROM		dbo.MaterialIssueBatchWise
			INNER JOIN dbo.MaterialIssueTrans
			ON dbo.MaterialIssueTrans.MaterialIssueTransId = dbo.MaterialIssueBatchWise.MaterialIssueTransId
			INNER JOIN dbo.MaterialIssue
			ON dbo.MaterialIssue.IssueId = dbo.MaterialIssueTrans.IssueId
			INNER JOIN dbo.PurchaseItemMaster
			ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.MaterialIssueTrans.PurchaseItemId
			INNER JOIN dbo.UOMMaster 
			ON dbo.UOMMaster.UOMid = dbo.PurchaseItemMaster.SecondaryUnitOfMeasure
			LEFT JOIN dbo.SystemDepartment
			ON dbo.SystemDepartment.DepartmentID = dbo.MaterialIssue.DepartmentID
			INNER JOIN RawInwBatchWiseStock 
			ON RawInwBatchWiseStock.RawBatchId = dbo.MaterialIssueBatchWise.RawBatchId
            LEFT JOIN ( SELECT
                                                              PurchaseItemId ,
                                                              RawBatchNo ,
                                                              rate
                                                        FROM  RawMaterialInwardDetail
                                                        GROUP BY PurchaseItemId ,
                                                              RawBatchNo ,
                                                              rate
                                                      ) AS RawMaterialInwardDetail ON RawMaterialInwardDetail.PurchaseItemId = dbo.MaterialIssueTrans.PurchaseItemID
                                                              AND RawMaterialInwardDetail.RawBatchNo = RawInwBatchWiseStock.RawBatchNo
WHERE		dbo.MaterialIssue.IsDeleted = 0
			AND dbo.MaterialIssueTrans.IsDeleted = 0
			AND dbo.MaterialIssue.IssueForOtherPurpose = 0
			AND ( @StartDate IS NULL
                  OR @EndDate IS NULL
                  OR CAST(MaterialIssue.IssueDate AS DATE) BETWEEN CAST(@StartDate AS DATE)
                                                              AND
                                                              CAST(@EndDate AS DATE)
                )
			AND ( @PurchaseItemId IS NULL
						OR MaterialIssueTrans.PurchaseItemId = @PurchaseItemId
                )
            AND ( @IssueTo IS NULL
                        OR MaterialIssueTrans.IssueTo = @IssueTo
                )
            AND (@DepartmentId is null 
												OR MaterialIssue.DepartmentID = @DepartmentId
											)
            AND (( @IssueNo = ''       
                            OR @IssueNo IS NULL        
                          ) 
                        OR MaterialIssue.IssueNo = @IssueNo
                )
            AND ( @PurchaseItemGroupId IS NULL
						OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId
				)
			AND ( @PurchaseItemSubGroupId IS NULL
						OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemSubGroupId
				)
			AND ( @PurchaseItemTypeId IS NULL
						OR PurchaseItemMaster.PurchaseItemTypeId = @PurchaseItemTypeId
				)
			AND MaterialIssue.EntityID = @EntityID
			AND (	ISNULL(@PlantIdString,'') = ''
					OR ((@IsTransfer = 1 AND MaterialIssue.FromPlantId IN (SELECT Item FROM @Plant ))
						OR (@IsTransfer = 0 AND MaterialIssue.PlantId IN (SELECT Item FROM @Plant ))
					)
			)
			AND MaterialIssue.IsTransfer = @IsTransfer
			AND (@IsReceived = 1 OR MaterialIssueTrans.IsReceived = @IsReceived) 
			and (@IsReturnAgainstTransfer = 0 OR MaterialIssueTrans.IsReturnAgainstTransfer= @IsReturnAgainstTransfer)      
GROUP BY	dbo.PurchaseItemMaster.ItemName,
			dbo.UOMMaster.UOM,
			dbo.PurchaseItemMaster.ShortCode,
			dbo.SystemDepartment.DepartmentName,
			dbo.PurchaseItemMaster.ItemCode,
			RawMaterialInwardDetail.Rate

END 

	
END
GO
