USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WebReportPendingProduction]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[WebReportPendingProduction]
    @MetalID BIGINT = 0 ,
    @DieID UNIQUEIDENTIFIER = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @CustomerID UNIQUEIDENTIFIER = NULL ,
    @IsSandDie VARCHAR(15) = NULL ,
    @ItemName VARCHAR(250) = NULL ,
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    @MetalType VARCHAR(50) = NULL ,
    @OrderNo VARCHAR(50) = NULL ,
    @PatternId UNIQUEIDENTIFIER = NULL ,
    @MoldType VARCHAR(100) = NULL ,
    @PageIndex INT = 0 ,
    @PageSize INT = 0 ,
    @SortBy VARCHAR(50) = '' ,
    @SortOrder VARCHAR(50) = ''
AS
    IF @IsSandDie = 'False'
        BEGIN
		
            SELECT  *
            FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY CASE WHEN @SortOrder <> 'Desc' THEN CASE WHEN @SortBy = 'Casting Name' THEN CastingName
                                                                                                      WHEN @SortBy = 'Die Code' THEN DieCode
                                                                                                      WHEN @SortBy = 'MEtal name' THEN MEtalname
                                                                                                      WHEN @SortBy = 'Casting Code' THEN CastingCode
                                                                                                 END
                                                             END, CASE WHEN @SortOrder = 'Desc' THEN CASE WHEN @SortBy = 'Casting Name' THEN CastingName
                                                                                                          WHEN @SortBy = 'Die Code' THEN DieCode
                                                                                                          WHEN @SortBy = 'MEtal name' THEN MEtalname
                                                                                                          WHEN @SortBy = 'Casting Code' THEN CastingCode
                                                                                                     END
                                                                  END DESC, CASE WHEN @SortOrder <> 'Desc' THEN CASE WHEN @SortBy = 'CastingId' THEN CastingId
                                                                                                                END
                                                                            END, CASE WHEN @SortOrder = 'Desc'
                                                                                      THEN CASE WHEN @SortBy = 'CastingId' THEN CastingId
                                                                                           END
                                                                                 END DESC, CASE WHEN @SortOrder <> 'Desc'
                                                                                                THEN CASE WHEN @SortBy = 'Order Qty' THEN OrderQty
                                                                                                          WHEN @SortBy = 'Safety Stock' THEN SafetyStock
                                                                                                          WHEN @SortBy = 'Dispatch Qty' THEN DispatchQty
                                                                                                          WHEN @SortBy = 'Plan Qty' THEN PlanQty
                                                                                                          WHEN @SortBy = 'Stock' THEN Stock
                                                                                                          WHEN @SortBy = 'Short Qty' THEN ShortQty
                                                                                                     END
                                                                                           END, CASE WHEN @SortOrder = 'Desc'
                                                                                                     THEN CASE WHEN @SortBy = 'Order Qty' THEN OrderQty
                                                                                                               WHEN @SortBy = 'Safety Stock' THEN SafetyStock
                                                                                                               WHEN @SortBy = 'Dispatch Qty' THEN DispatchQty
                                                                                                               WHEN @SortBy = 'Plan Qty' THEN PlanQty
                                                                                                               WHEN @SortBy = 'Stock' THEN Stock
                                                                                                               WHEN @SortBy = 'Short Qty' THEN ShortQty
                                                                                                          END
                                                                                                END DESC, CASE WHEN @SortOrder <> 'Desc'
                                                                                                               THEN CASE WHEN @SortBy = 'Weight' THEN Weight
                                                                                                                         WHEN @SortBy = 'Total Weight'
                                                                                                                         THEN TotalWeight
                                                                                                                         WHEN @SortBy = 'Gross Weight'
                                                                                                                         THEN GrossWeight
                                                                                                                         WHEN @SortBy = 'Total Gross Weight'
                                                                                                                         THEN TotalGrossWeight
                                                                                                                    END
                                                                                                          END, CASE WHEN @SortOrder = 'Desc'
                                                                                                                    THEN CASE WHEN @SortBy = 'Weight'
                                                                                                                              THEN Weight
                                                                                                                              WHEN @SortBy = 'Total Weight'
                                                                                                                              THEN TotalWeight
                                                                                                                              WHEN @SortBy = 'Gross Weight'
                                                                                                                              THEN GrossWeight
                                                                                                                              WHEN @SortBy = 'Total Gross Weight'
                                                                                                                              THEN TotalGrossWeight
                                                                                                                         END
                                                                                                               END DESC, CASE WHEN @SortOrder <> 'Desc'
                                                                                                                              THEN CastingName
                                                                                                                         END, CASE WHEN @SortOrder = 'Desc'
                                                                                                                                   THEN CastingName
                                                                                                                              END DESC ) AS SrNo ,
                                *
                      FROM      ( SELECT    DieCode ,
                                            CastingName ,
                                            CastingCode ,
                                            CastingMaster.CastingId ,
                                            ORderTable.MetalName AS MEtalname ,
                                            ISNULL(ORderTable.OrderQty, 0) AS OrderQty ,
                                            ISNULL(CastingMaster.SafetyStock, 0) AS SafetyStock ,
                                            ISNULL(DispatchTable.DispatchQty, 0) AS DispatchQty ,
                                            ISNULL(PlanTable.PlanQty, 0) AS PlanQty ,
                                            ( ISNULL(CastingStock.stock, 0) + ISNULL(dbo.CastingJOStock.stock, 0) ) AS Stock ,
                                            ( CASE WHEN ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0) - ISNULL(DispatchTable.DispatchQty,
                                                                                                                                       0)
                                                        - ISNULL(dbo.CastingStock.stock, 0) - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0) < 0
                                                   THEN 0
                                                   ELSE ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0) - ISNULL(DispatchTable.DispatchQty,
                                                                                                                                       0)
                                                        - ISNULL(dbo.CastingStock.stock, 0) - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0)
                                              END ) AS ShortQty ,
                                            CAST(CastingMaster.CastingNetWeight AS NUMERIC(18, 3)) AS Weight ,
                                            ( CASE WHEN ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0) - ISNULL(DispatchTable.DispatchQty,
                                                                                                                                       0)
                                                        - ISNULL(dbo.CastingStock.stock, 0) - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0) < 0
                                                   THEN 0.000
                                                   ELSE CAST(( ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0)
                                                               - ISNULL(DispatchTable.DispatchQty, 0) - ISNULL(dbo.CastingStock.stock, 0)
                                                               - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0) )
                                                        * CastingMaster.CastingNetWeight AS NUMERIC(18, 3))
                                              END ) AS TotalWeight ,
                                            CAST(CastingMaster.GrossWeight AS NUMERIC(18, 3)) AS GrossWeight ,
                                            ( CASE WHEN ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0) - ISNULL(DispatchTable.DispatchQty,
                                                                                                                                       0)
                                                        - ISNULL(dbo.CastingStock.stock, 0) - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0) < 0
                                                   THEN 0.000
                                                   ELSE CAST(( ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0)
                                                               - ISNULL(DispatchTable.DispatchQty, 0) - ISNULL(dbo.CastingStock.stock, 0)
                                                               - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0) )
                                                        * CastingMaster.GrossWeight AS NUMERIC(18, 3))
                                              END ) AS TotalGrossWeight ,
                                            COUNT(1) OVER ( ) AS TotalCount
                                  FROM      CastingMaster
                                            INNER JOIN DieMaster ON CastingMaster.Dieid = DieMaster.DieId
                                            INNER JOIN CastingStock ON CastingMaster.CastingId = CastingStock.castingid
                                            LEFT  JOIN dbo.CastingJOStock ON dbo.CastingJOStock.castingid = dbo.CastingMaster.CastingId
                                            LEFT JOIN ( SELECT  CastingId ,
                                                                MetalMaster.MetalId ,
                                                                MetalName ,
                                                                SUM(RequiredQty) AS OrderQty
                                                        FROM    OrderTranse
                                                                INNER JOIN OrderMaster ON OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
                                                                INNER JOIN MetalMaster ON OrderTranse.MetalID = MetalMaster.MetalId
                                                        WHERE   OrderMaster.maxversion = 1
                                                                AND OrderTranse.IsDeleted = 0
                                                                AND IsShortclose = 0
                                                                AND IsDelivered = 0
                                                                AND DeliveryDate BETWEEN @StartDate AND @EndDate
                                                                AND ( @MetalID = 0
                                                                      OR MetalMaster.MetalId = @MetalID
                                                                    )
                                                                AND ( @CustomerID IS NULL
                                                                      OR OrderMaster.CustomerID = @CustomerID
                                                                    )
                                                                AND ( @MetalType IS NULL
                                                                      OR dbo.MetalMaster.MetalType = @MetalType
                                                                    )
                                                                AND ( @OrderNo IS NULL
                                                                      OR dbo.OrderMaster.CustomerOrderNo = @OrderNo
                                                                    )
                                                        GROUP BY CastingId ,
                                                                MetalMaster.MetalId ,
                                                                MetalMaster.MetalName
                                                      ) AS ORderTable ON CastingMaster.CastingId = ORderTable.CastingId
                                            LEFT JOIN ( SELECT  castingid ,
                                                                MetalID ,
                                                                SUM(Qty) AS DispatchQty
                                                        FROM    dispatchtrans
                                                                INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                                                                INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
                                                        WHERE   dispatchtrans.IsDeleted = 0
                                                                AND ( @CustomerID IS NULL
                                                                      OR dbo.dispatchmaster.customerID = @CustomerID
                                                                    )
                                                        GROUP BY castingid ,
                                                                MetalID
                                                      ) AS DispatchTable ON CastingMaster.CastingId = DispatchTable.castingid
                                                                            AND ORderTable.MetalId = DispatchTable.MetalID
                                            LEFT JOIN ( SELECT  CastingId ,
                                                                SUM(PlanQty) AS PlanQty
                                                        FROM    PlanningMaster
                                                        WHERE   PlanningMaster.IsDeleted = 0
                                                        GROUP BY CastingId
                                                      ) AS PlanTable ON CastingMaster.CastingId = PlanTable.CastingId
                                  WHERE     ( @DieID IS NULL
                                              OR DieMaster.DieId = @DieID
                                            )
                                            AND ( @CastingID IS NULL
                                                  OR CastingMaster.CastingId = @CastingID
                                                )
                                            AND ( @ItemName IS NULL
                                                  OR CastingMaster.CastingName = @ItemName
                                                )
                                            AND ( @CustomerID IS NULL
                                                  OR ( dbo.CastingMaster.Dieid IN (
                                                       SELECT   DieId
                                                       FROM     dbo.CustomerDieMapping
                                                                INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerDieMapping.CustomerId
                                                       WHERE    dbo.CustomerMaster.CustomerId = @CustomerID ) )
                                                )
                                            AND ( ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0) - ISNULL(DispatchTable.DispatchQty, 0)
                                                  - ISNULL(dbo.CastingStock.stock, 0) - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0) ) > 0       

			--Group by CastingCode,MetalName						
                                ) AS MiddleTable
                    ) AS Temp
            WHERE   SrNo BETWEEN ( ( @PageIndex - 1 ) * @PageSize ) + 1 AND ( @PageIndex * @PageSize );
	
        END;
    ELSE
        BEGIN
            SELECT  *
            FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY CASE WHEN @SortOrder <> 'Desc' THEN CASE WHEN @SortBy = 'Casting Name' THEN CastingName
                                                                                                      WHEN @SortBy = 'Die Code' THEN DieCode
                                                                                                      WHEN @SortBy = 'MEtal name' THEN MEtalname
                                                                                                      WHEN @SortBy = 'Casting Code' THEN CastingCode
                                                                                                 END
                                                             END, CASE WHEN @SortOrder = 'Desc' THEN CASE WHEN @SortBy = 'Casting Name' THEN CastingName
                                                                                                          WHEN @SortBy = 'Die Code' THEN DieCode
                                                                                                          WHEN @SortBy = 'MEtal name' THEN MEtalname
                                                                                                          WHEN @SortBy = 'Casting Code' THEN CastingCode
                                                                                                     END
                                                                  END DESC, CASE WHEN @SortOrder <> 'Desc' THEN CASE WHEN @SortBy = 'CastingId' THEN CastingId
                                                                                                                END
                                                                            END, CASE WHEN @SortOrder = 'Desc'
                                                                                      THEN CASE WHEN @SortBy = 'CastingId' THEN CastingId
                                                                                           END
                                                                                 END DESC, CASE WHEN @SortOrder <> 'Desc'
                                                                                                THEN CASE WHEN @SortBy = 'Order Qty' THEN OrderQty
                                                                                                          WHEN @SortBy = 'Safety Stock' THEN SafetyStock
                                                                                                          WHEN @SortBy = 'Dispatch Qty' THEN DispatchQty
                                                                                                          WHEN @SortBy = 'Plan Qty' THEN PlanQty
                                                                                                          WHEN @SortBy = 'Stock' THEN Stock
                                                                                                          WHEN @SortBy = 'Short Qty' THEN ShortQty
                                                                                                     END
                                                                                           END, CASE WHEN @SortOrder = 'Desc'
                                                                                                     THEN CASE WHEN @SortBy = 'Order Qty' THEN OrderQty
                                                                                                               WHEN @SortBy = 'Safety Stock' THEN SafetyStock
                                                                                                               WHEN @SortBy = 'Dispatch Qty' THEN DispatchQty
                                                                                                               WHEN @SortBy = 'Plan Qty' THEN PlanQty
                                                                                                               WHEN @SortBy = 'Stock' THEN Stock
                                                                                                               WHEN @SortBy = 'Short Qty' THEN ShortQty
                                                                                                          END
                                                                                                END DESC, CASE WHEN @SortOrder <> 'Desc'
                                                                                                               THEN CASE WHEN @SortBy = 'Weight' THEN Weight
                                                                                                                         WHEN @SortBy = 'Total Weight'
                                                                                                                         THEN TotalWeight
                                                                                                                         WHEN @SortBy = 'Gross Weight'
                                                                                                                         THEN GrossWeight
                                                                                                                         WHEN @SortBy = 'Total Gross Weight'
                                                                                                                         THEN TotalGrossWeight
                                                                                                                    END
                                                                                                          END, CASE WHEN @SortOrder = 'Desc'
                                                                                                                    THEN CASE WHEN @SortBy = 'Weight'
                                                                                                                              THEN Weight
                                                                                                                              WHEN @SortBy = 'Total Weight'
                                                                                                                              THEN TotalWeight
                                                                                                                              WHEN @SortBy = 'Gross Weight'
                                                                                                                              THEN GrossWeight
                                                                                                                              WHEN @SortBy = 'Total Gross Weight'
                                                                                                                              THEN TotalGrossWeight
                                                                                                                         END
                                                                                                               END DESC, CASE WHEN @SortOrder <> 'Desc'
                                                                                                                              THEN CastingName
                                                                                                                         END, CASE WHEN @SortOrder = 'Desc'
                                                                                                                                   THEN CastingName
                                                                                                                              END DESC ) AS SrNo ,
                                *
                      FROM      ( SELECT    PatternCode AS DieCode ,
                                            CastingMaster.CastingId ,
                                            CastingName ,
                                            CastingCode ,
                                            ORderTable.MetalName AS MEtalname ,
                                            ISNULL(ORderTable.OrderQty, 0) AS OrderQty ,
                                            ISNULL(CastingMaster.SafetyStock, 0) AS SafetyStock ,
                                            ISNULL(ORderTable.DispatchQty, 0) AS DispatchQty ,
                                            ISNULL(PlanTable.PlanQty, 0) AS PlanQty ,
                                            ( ISNULL(CastingStock.stock, 0) + ISNULL(dbo.CastingJOStock.stock, 0) ) AS Stock ,
                                            ( CASE WHEN ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0) - ISNULL(ORderTable.DispatchQty, 0)
                                                        - ISNULL(dbo.CastingStock.stock, 0) - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0) < 0
                                                   THEN 0
                                                   ELSE ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0) - ISNULL(ORderTable.DispatchQty, 0)
                                                        - ISNULL(dbo.CastingStock.stock, 0) - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0)
                                              END ) AS ShortQty ,
                                            CAST(CastingMaster.CastingNetWeight AS NUMERIC(18, 3)) AS Weight ,
                                            ( CASE WHEN ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0) - ISNULL(ORderTable.DispatchQty, 0)
                                                        - ISNULL(dbo.CastingStock.stock, 0) - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0) < 0
                                                   THEN 0.000
                                                   ELSE CAST(( ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0)
                                                               - ISNULL(ORderTable.DispatchQty, 0) - ISNULL(dbo.CastingStock.stock, 0)
                                                               - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0) )
                                                        * CastingMaster.CastingNetWeight AS NUMERIC(18, 3))
                                              END ) AS TotalWeight ,
                                            CAST(CastingMaster.GrossWeight AS NUMERIC(18, 3)) AS GrossWeight ,
                                            ( CASE WHEN ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0) - ISNULL(ORderTable.DispatchQty, 0)
                                                        - ISNULL(dbo.CastingStock.stock, 0) - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0) < 0
                                                   THEN 0.000
                                                   ELSE CAST(( ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0)
                                                               - ISNULL(ORderTable.DispatchQty, 0) - ISNULL(dbo.CastingStock.stock, 0)
                                                               - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0) )
                                                        * CastingMaster.GrossWeight AS NUMERIC(18, 3))
                                              END ) AS TotalGrossWeight ,
                                            COUNT(1) OVER ( ) AS TotalCount
                                  FROM      CastingMaster
                                            INNER JOIN PatternMaster ON CastingMaster.Dieid = PatternMaster.PatternId
                                            INNER JOIN CastingStock ON CastingMaster.CastingId = CastingStock.castingid
                                                       --AND ISNULL(CastingStock.stock,
                                                       --       0) < SafetyStock
                                            LEFT JOIN dbo.CastingJOStock ON dbo.CastingJOStock.castingid = dbo.CastingMaster.CastingId
                                                            --AND ISNULL(dbo.CastingJOStock.stock,
                                                            --  0) < SafetyStock
                                            LEFT JOIN ( SELECT  CastingId ,
                                                                SUM(PlanQty) AS PlanQty
                                                        FROM    PlanningMaster
                                                        WHERE   PlanningMaster.IsDeleted = 0
                                                        GROUP BY CastingId
                                                      ) AS PlanTable ON CastingMaster.CastingId = PlanTable.CastingId
                                            LEFT JOIN ( SELECT  OrderUnioned.CastingId ,
                                                                OrderUnioned.MetalId ,
                                                                OrderUnioned.MetalName ,
                                                                SUM(OrderUnioned.OrderQty) OrderQty ,
                                                                SUM(OrderUnioned.DispatchQty) AS DispatchQty
                                                        FROM    ( SELECT    CastingId ,
                                                                            MetalMaster.MetalId ,
                                                                            MetalName ,
                                                                            SUM(RequiredQty) AS OrderQty ,
                                                                            SUM(DispatchTable.DispatchQty) AS DispatchQty
                                                                  FROM      OrderTranse
                                                                            INNER JOIN OrderMaster ON OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
                                                                            INNER JOIN MetalMaster ON OrderTranse.MetalID = MetalMaster.MetalId
                                                                            LEFT JOIN ( SELECT  orderid ,
                                                                                                orderserialno ,
                                                                                                SUM(dispatchqty) AS DispatchQty
                                                                                        FROM    dispatchtrans
                                                                                        WHERE   IsDeleted = 0
                                                                                        GROUP BY orderid ,
                                                                                                orderserialno
                                                                                      ) AS DispatchTable ON OrderTranse.CustomerOrderId = DispatchTable.orderid
                                                                                                            AND OrderTranse.SrNo = DispatchTable.orderserialno
                                                                                                            AND dbo.OrderTranse.IsDeleted = 0
                                                                  WHERE     OrderMaster.maxversion = 1
                                                                            AND OrderTranse.IsDeleted = 0
                                                                            AND IsShortclose = 0
                                                                            AND IsDelivered = 0
                                                                            AND DeliveryDate BETWEEN @StartDate AND @EndDate
                                                                            AND ( @MetalID = 0
                                                                                  OR MetalMaster.MetalId = @MetalID
                                                                                )
                                                                            AND ( @CustomerID IS NULL
                                                                                  OR OrderMaster.CustomerID = @CustomerID
                                                                                )
                                                                            AND ( @MetalType IS NULL
                                                                                  OR dbo.MetalMaster.MetalType = @MetalType
                                                                                )
                                                                            AND ( @OrderNo IS NULL
                                                                                  OR dbo.OrderMaster.CustomerOrderNo = @OrderNo
                                                                                )
                                                                  GROUP BY  CastingId ,
                                                                            MetalMaster.MetalId ,
                                                                            MetalMaster.MetalName
                                                                  UNION ALL
                                                                  SELECT    dbo.SetCastingMapping.CastingId ,
                                                                            MetalMaster.MetalId ,
                                                                            MetalName ,
                                                                            SUM(RequiredQty * dbo.SetCastingMapping.Qty) AS OrderQty ,
                                                                            SUM(DispatchTable.DispatchQty) AS DispatchQty
                                                                  FROM      dbo.OrderSetItemTrans
                                                                            INNER JOIN dbo.SetCastingMapping ON dbo.SetCastingMapping.SetId = dbo.OrderSetItemTrans.SetId
                                                                                                                AND OrderSetItemTrans.IsDeleted = 0
                                                                            INNER JOIN dbo.OrderMaster ON dbo.OrderMaster.CustomerOrderId = dbo.OrderSetItemTrans.CustomerOrderId
                                                                            INNER JOIN MetalMaster ON SetCastingMapping.MetalId = MetalMaster.MetalId
                                                                            LEFT JOIN ( SELECT  OrderSetItemTransID ,
                                                                                                CastingId ,
                                                                                                SUM(dbo.DispatchSetCasting.DispatchedQty) AS DispatchQty
                                                                                        FROM    dbo.DispatchSetCasting
                                                                                                INNER JOIN dbo.DispatchSetItemTrans ON dbo.DispatchSetItemTrans.DispatchSetItemTransID = dbo.DispatchSetCasting.DispatchSetItemTransID
                                                                                        WHERE   DispatchSetItemTrans.IsDeleted = 0
                                                                                        GROUP BY OrderSetItemTransID ,
                                                                                                CastingId
                                                                                      ) AS DispatchTable ON dbo.OrderSetItemTrans.OrderSetItemTransID = DispatchTable.OrderSetItemTransID
                                                                                                            AND dbo.SetCastingMapping.CastingId = DispatchTable.CastingId
                                                                  WHERE     OrderMaster.IsDeleted = 0
                                                                            AND OrderMaster.maxversion = 1
                                                                            AND IsShortClose = 0
                                                                            AND isDelivered = 0
                                                                            AND OrderSetItemTrans.IsDeleted = 0
                                                                            AND DeliveryDate BETWEEN @StartDate AND @EndDate
                                                                            AND ( @MetalID = 0
                                                                                  OR MetalMaster.MetalId = @MetalID
                                                                                )
                                                                            AND ( @CustomerID IS NULL
                                                                                  OR OrderMaster.CustomerID = @CustomerID
                                                                                )
                                                                            AND ( @MetalType IS NULL
                                                                                  OR dbo.MetalMaster.MetalType = @MetalType
                                                                                )
                                                                            AND ( @OrderNo IS NULL
                                                                                  OR dbo.OrderMaster.CustomerOrderNo = @OrderNo
                                                                                )
                                                                  GROUP BY  dbo.SetCastingMapping.CastingId ,
                                                                            MetalMaster.MetalId ,
                                                                            MetalMaster.MetalName
                                                                ) OrderUnioned
                                                        GROUP BY OrderUnioned.CastingId ,
                                                                OrderUnioned.MetalId ,
                                                                OrderUnioned.MetalName
                                                      ) AS ORderTable ON CastingMaster.CastingId = ORderTable.CastingId
                                  WHERE     --AND ( @DieID IS NULL
                    --      OR DieMaster.DieID = @DieID
                    --    )
                                            ( @CastingID IS NULL
                                              OR CastingMaster.CastingId = @CastingID
                                            )
                                            AND ( @ItemName IS NULL
                                                  OR CastingMaster.CastingName = @ItemName
                                                )
                                            AND ( @CustomerID IS NULL
                                                  OR ( dbo.CastingMaster.Dieid IN (
                                                       SELECT   CustomerPatternMapping.PatternId
                                                       FROM     dbo.CustomerPatternMapping
                                                                INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId
                                                       WHERE    dbo.CustomerMaster.CustomerId = @CustomerID ) )
                                                )
                                            AND ( @PatternId IS NULL
                                                  OR PatternMaster.PatternId = @PatternId
                                                )
                                            AND ( @MoldType IS NULL
                                                  OR PatternMaster.MoldType = @MoldType
                                                )
                                            AND ( ISNULL(ORderTable.OrderQty, 0) + ISNULL(CastingMaster.SafetyStock, 0) - ISNULL(ORderTable.DispatchQty, 0)
                                                  - ISNULL(dbo.CastingStock.stock, 0) - ISNULL(dbo.CastingJOStock.stock, 0) - ISNULL(PlanTable.PlanQty, 0) ) > 0
			--Group by CastingCode,MetalName
                                ) AS MiddleTable
                    ) AS Temp
            WHERE   SrNo BETWEEN ( ( @PageIndex - 1 ) * @PageSize ) + 1 AND ( @PageIndex * @PageSize );
                   
        END;
GO
