USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PackingDetails_Select]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PackingDetails_Select]
@DispatchId int = 0
AS
BEGIN
	
select
Distinct
dispatchtrans.PartId as CastingID,
CastingMaster.CastingName,
dispatchtrans.dispatchqty as Quantity,
OrderTranse.MetalID,
dispatchtrans.orderid as CustomerOrderId,
dispatchtrans.Weight,
CASE WHEN ISNULL(TabPack.DispatchID,0) > 0 THEN 1 ELSE 0 END IsExist,
dispatchtrans.srno as orderserialno,
OrderTranse.OrderTranseId,
dispatchmaster.MarksPackage,
dispatchmaster.PackageNoandKind,
ISNULL(dispatchmaster.GrossWeight,0) as GrossWeight,
MetalMaster.MetalName,
CastingCode
from
dispatchtrans
inner join dispatchmaster ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
inner join OrderTranse ON OrderTranse.PartId = dispatchtrans.PartId 
and OrderTranse.CustomerOrderId = dispatchtrans.orderid 
and OrderTranse.SrNo = dispatchtrans.orderserialno 
inner join CastingMaster ON CastingMaster.CastingId = dispatchtrans.PartId
inner join MetalMaster ON MetalMaster.MetalId = OrderTranse.MetalID 
--inner join DispatchGradewise ON DispatchGradewise.DispatchTransID = dispatchtrans.dispatchtransid
left join
(
Select
top 1 DispatchID
from  
DispatchAdvicePackingDetail where dispatchid = @DispatchId 
) as TabPack ON TabPack.DispatchID = dispatchtrans.dispatchid
where
dispatchtrans.dispatchid = @DispatchId
and
OrderTranse.IsDeleted = 0
and dispatchtrans.IsDeleted = 0
and dispatchmaster.IsDeleted = 0

END

GO
