USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_PONumberFilter]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
	
--	Report Use Filter 

-- Pending Reject - QC
--declare @InwardId uniqueidentifier
--declare @PurchaseOrderId uniqueidentifier 
--declare @DateFrom datetime
--declare @DateTo datetime
--declare @SupplierId uniqueidentifier

--IncomingInspectionReport QC
--declare	@PurchaseOrderId uniqueidentifier 
--declare	@PurchaseItemId uniqueidentifier 
--declare	@CustomerId uniqueidentifier 
--declare	@PurchaseItemGroupId uniqueidentifier 
--declare	@PurchaseItemSubGroupId uniqueidentifier 
--declare	@PurchaseItemTypeId uniqueidentifier 
--declare	@StartDate datetime 
--declare	@EndDate datetime 

-- PendingReturnableGatePass -- Stores
--declare	@CustomerId uniqueidentifier 
--declare	@PurchaseItemId uniqueidentifier 
--declare	@PurchaseOrderId uniqueidentifier


-- Pending Inward Report -- Purchase
--declare	@EntityId INT 
--declare	@IsInward VARCHAR(50)
--declare	@StoreSummary 
--declare	@CustomerId UNIQUEIDENTIFIER 
--declare	@OrderDateFrom DATETIME 
--declare	@OrderDateTo DATETIME 
--declare	@PurchaseItemGroupId uniqueidentifier 
--declare	@PurchaseItemSubGroupId uniqueidentifier
--declare	@PurchaseOrderId uniqueidentifier 
--declare	@PurchaseItemTypeId uniqueidentifier 
--declare	@ItemId  UNIQUEIDENTIFIER 
--declare	@CastingId  UNIQUEIDENTIFIER 
--declare	@CastingName  VARCHAR(50) 
--declare	@SeriesId INT 
--declare	@ItemName varchar(200)



-- =============================================

-- =============================================
-- Author:		<Prashant>
-- Create date: <2023-08-03>
-- Description:	<PO Number Filter>
-- =============================================
-- SP_PONumberFilter 1,'','123'
 --EXEC [dbo].[SP_PONumberFilter] @EntityId = 1, @PlantIdString = '1', @IsInward = 0, @OrderDateFrom = '28 dec 2023', @OrderDateTo = '31 mar 2024'
	--	, @ReportType = 'PendingInwardReport'
CREATE PROCEDURE [dbo].[SP_PONumberFilter]
    @EntityId INT,
    @PlantIdString VARCHAR(MAX) = NULL,
    @PONo VARCHAR(100) = '',
    @InwardId UNIQUEIDENTIFIER = NULL,
    @PurchaseOrderId UNIQUEIDENTIFIER = NULL,
    @DateFrom DATETIME = NULL,
    @DateTo DATETIME = NULL,
    @SupplierId UNIQUEIDENTIFIER = NULL,
    @PurchaseItemId UNIQUEIDENTIFIER = NULL,
    @CustomerId UNIQUEIDENTIFIER = NULL,
    @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL,
    @PurchaseItemSubGroupId UNIQUEIDENTIFIER = NULL,
    @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL,
    @StartDate DATETIME = NULL,
    @EndDate DATETIME = NULL,
    @IsInward VARCHAR(50) = NULL,
    @StoreSummary INT = 0,
    @OrderDateFrom DATETIME = NULL,
    @OrderDateTo DATETIME = NULL,
    @ItemId UNIQUEIDENTIFIER = NULL,
    @CastingId UNIQUEIDENTIFIER = NULL,
    @CastingName VARCHAR(50) = NULL,
    @SeriesId INT = 0,
    @ItemName varchar(200) = NULL,
    @ReportType VARCHAR(100) = ''
AS
BEGIN

    DECLARE @Plant TABLE (Item INT)
    IF (@PlantIdString IS NOT NULL And @PlantIdString != '')
    BEGIN
        INSERT INTO @Plant
        SELECT Item
        FROM dbo.SplitString(@PlantIdString, ',')
    END
	
    IF (@ReportType = 'IncomingInspectionReport') -- QC
    BEGIN
        SELECT * FROM ( SELECT DISTINCT
            (Case
                 when POM.Prefix Is Null Then
                     ''
                 else
                     CONVERT(varchar(50), POM.Prefix)
             End + Case
                       when POM.Separator Is Null Then
                           ''
                       else
                           CONVERT(varchar(50), POM.Separator)
                   End + Convert(varchar(50), POM.PONo) + Case
                                                              when POM.Separator Is Null Then
                                                                  ''
                                                              else
                                                                  CONVERT(varchar(50), POM.Separator)
                                                          End + Case
                                                                    when POM.Suffix Is Null Then
                                                                        ''
                                                                    else
                                                                        CONVERT(varchar(50), POM.Suffix)
                                                                End
            ) As PONo,
            POM.PurchaseOrderId as PurchaseOrderId
        from MaterialInspectionMaster as MiM
            inner join RawMaterialInward as RMI
                on RMI.InwardId = MiM.InwardID
            inner join CustomerMaster as CM
                on RMI.CustomerId = CM.CustomerId
            inner join RawMaterialInwardDetail as RMID
                On RMID.InwardId = RMI.InwardId
            inner join PurchaseOrder_Trans as POT
                on POT.PurchaseOrderTransId = RMID.PurchaseOrderTransId
            inner join PurchaseOrder_Master as POM
                on POM.CustomerID = CM.CustomerId
                   and POM.PurchaseOrderId = POT.PurchaseOrderId
            inner join UOMMaster as UoM
                On UoM.UOMid = RMID.UnitOfMeasure
            Inner Join MaterialInspectionTrans as MiT
                On MiM.SlipId = MiT.SlipID
            inner join PurchaseItemMaster as PIM
                on PIM.PurchaseItemId = RMID.PurchaseItemId
                   and POT.PurchaseItemId = PIM.PurchaseItemId
                   and MiT.PurchaseItemID = PIM.PurchaseItemId
        where MiM.IsDeleted = 0
              and POM.maxversion = 1
              AND RMID.Ispattern = 0
              and MiT.IsTested = 0
              and PIM.IsInspectionRequired = 1			  
              AND (
                      @InwardId IS NULL
                      OR RMI.InwardId = @InwardId
                  )
              AND (
                      @DateFrom IS NULL
                      OR @DateTo IS NULL
                      OR RMI.InwardDate
              BETWEEN @DateFrom AND @DateTo
                  )
              AND (
                      @PurchaseOrderId IS NULL
                      OR POM.PurchaseOrderId = @PurchaseOrderId
                  )
              AND (
                      @SupplierID IS NULL
                      OR RMI.CustomerId = @SupplierID
                  )
			AND POM.EntityId = @EntityId
			AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR POM.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
				  ) AS PONotbl
		ORDER BY PONotbl.PONo DESC
				
    END
    ELSE IF (@ReportType = 'PendingRejection') -- QC
    BEGIN
        SELECT CASE
                   WHEN PurchaseOrder_Master.Prefix IS NULL THEN
                       ''
                   ELSE
                       CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)
               END + CASE
                         WHEN PurchaseOrder_Master.Separator IS NULL THEN
                             ''
                         ELSE
                             CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                     END + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)
               + CASE
                     WHEN PurchaseOrder_Master.Separator IS NULL THEN
                         ''
                     ELSE
                         CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                 END + CASE
                           WHEN PurchaseOrder_Master.Suffix IS NULL THEN
                               ''
                           ELSE
                               CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)
                       END AS PONo,
               RawMaterialInwardDetail.PurchaseOrderId as PurchaseOrderId
        FROM RawMaterialInward
            INNER JOIN RawMaterialInwardDetail
                ON RawMaterialInwardDetail.InwardId = RawMaterialInward.InwardId
                   AND RawMaterialInwardDetail.IsDeleted = 0 AND RawMaterialInwardDetail.IsPattern = 0
            INNER JOIN PurchaseItemMaster
                ON RawMaterialInwardDetail.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                   AND PurchaseItemMaster.IsDeleted = 0
            INNER JOIN CustomerMaster
                ON RawMaterialInward.CustomerId = CustomerMaster.CustomerId
                   AND CustomerMaster.IsDeleted = 0
            INNER JOIN dbo.PurchaseOrder_Trans
                ON dbo.PurchaseOrder_Trans.PurchaseOrderTransId = RawMaterialInwardDetail.PurchaseOrderTransId
                   AND dbo.PurchaseOrder_Trans.IsDeleted = 0
            INNER JOIN dbo.PurchaseOrder_Master
                ON dbo.PurchaseOrder_Master.PurchaseOrderId = dbo.PurchaseOrder_Trans.PurchaseOrderId
                   AND dbo.PurchaseOrder_Master.IsDeleted = 0
            INNER JOIN dbo.UOMMaster
                ON dbo.UOMMaster.UOMid = dbo.PurchaseOrder_Trans.UOM
                   AND dbo.UOMMaster.IsDeleted = 0
        WHERE (
                  @PurchaseItemId IS NULL
                  OR PurchaseItemMaster.PurchaseItemId = @PurchaseItemId
              )
              AND (
                      @CustomerId IS NULL
                      OR RawMaterialInward.CustomerId = @CustomerId
                  )
              AND (
                      @PurchaseOrderId IS NULL
                      OR RawMaterialInwardDetail.PurchaseOrderId = @PurchaseOrderId
                  )
              AND (
                      @StartDate IS NULL
                      OR @EndDate IS NULL
                      OR RawMaterialInward.InwardDate
              BETWEEN @StartDate AND @EndDate
                  )
              AND (
                      @PurchaseItemGroupId IS NULL
                      OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId
                  )
              AND (
                      @PurchaseItemSubGroupId IS NULL
                      OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemSubGroupId
                  )
              AND (
                      @PurchaseItemTypeId IS NULL
                      OR PurchaseItemMaster.PurchaseItemtypeId = @PurchaseItemTypeId
                  )
              AND dbo.RawMaterialInward.IsDeleted = 0
			  AND PurchaseOrder_Master.EntityId = @EntityId
			  AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
				  ORDER BY OrderDate ASC 
    END
    ELSE IF (@ReportType = 'PendingReturnableGatePass') --Store
    BEGIN
        SELECT * FROM ( SELECT ISNULL(PONo, '') AS PONo,
               OutwardTrans.PurchaseOrderId as PurchaseOrderId
        FROM OutwardTrans
            INNER JOIN OutwardMaster
                ON OutwardMaster.OutwardId = OutwardTrans.OutwardId
            LEFT JOIN CustomerMaster
                ON CustomerMaster.CustomerId = OutwardMaster.SupplierId
            INNER JOIN PurchaseItemMaster
                ON PurchaseItemMaster.PurchaseItemId = OutwardTrans.ItemId
            LEFT JOIN PurchaseOrder_Master
                ON PurchaseOrder_Master.PurchaseOrderId = OutwardTrans.PurchaseOrderId
        WHERE OutwardMaster.IsDeleted = 0
              and isnull(OutwardTrans.IsDeleted, 0) = 0
              AND IsPending = 1
              AND IsReturnable = 'true'
              AND (
                      @CustomerId IS NULL
                      OR OutwardMaster.SupplierId = @CustomerId
                  )
              AND (
                      @PurchaseOrderId IS NULL
                      OR OutwardTrans.PurchaseOrderId = @PurchaseOrderId
                  )
              AND (
                      @PurchaseItemId IS NULL
                      OR OutwardTrans.ItemId = @PurchaseItemId
                  )
				AND PurchaseOrder_Master.EntityId = @EntityId
				AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
        UNION
        SELECT '' AS PONo,
               cast(0x00 as Uniqueidentifier) as PurchaseOrderId
        FROM OutwardOtherDetails
            INNER JOIN OutwardMaster
                ON OutwardMaster.OutwardId = OutwardOtherDetails.OutwardId
            LEFT JOIN CustomerMaster
                ON CustomerMaster.CustomerId = OutwardMaster.SupplierId
        WHERE OutwardMaster.IsDeleted = 0
              and isnull(OutwardOtherDetails.IsDeleted, 0) = 0
              AND IsPending = 1
              AND IsReturnable = 'true'
              AND (
                      @CustomerId IS NULL
                      OR OutwardMaster.SupplierId = @CustomerId
                  )) AS PONotbl

		ORDER BY PONotbl.PONo DESC
		
    END
    ELSE IF (@ReportType = 'PendingInwardReport') -- Purchase
    BEGIN
        SELECT * FROM ( SELECT PODetails.PONo,
               PODetails.PurchaseOrderId
        FROM [Data:PODetails] as PODetails
            LEFT JOIN
            (
                Select PurchaseItemId,
                       SUM(ISNULL(Stock, 0)) as Stock
                from InventoryDetails
                Group by PurchaseItemId
            ) as Inventory
                ON PODetails.PurchaseItemId = Inventory.PurchaseItemId
        WHERE (
                  @IsInward IS NULL
                  OR PODetails.IsDelivered = 0
              )
              And PODetails.IsShortclose = 0
              AND (
                      @StoreSummary = 1
                      OR (CAST(OrderDate AS DATE)
              BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE)
                         )
                  )
              --AND ( CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )  
              --AND RequiredQty - AccesptedQty > 0  
              AND (
                      @CustomerId IS NULL
                      OR PODetails.CustomerID = @CustomerId
                  )
              AND (
                      @ItemId IS NULL
                      OR PODetails.PurchaseItemId = @ItemId
                  )
              AND (
                      @ItemName IS NULL
                      OR PODetails.ItemName = @ItemName
                  )
              AND (
                      @PurchaseOrderId IS NULL
                      OR PODetails.PurchaseOrderId = @PurchaseOrderId
                  )
              AND (
                      @PurchaseItemGroupId IS NULL
                      OR PODetails.PurchaseItemGroupId = @PurchaseItemGroupId
                  )
              AND (
                      @PurchaseItemSubGroupId IS NULL
                      OR PODetails.purchaseItemSubGroupId = @PurchaseItemSubGroupId
                  )
              AND (
                      @PurchaseItemTypeId IS NULL
                      OR PODetails.PurchaseItemtypeId = @PurchaseItemTypeId
                  )
              AND (
                      @CastingId IS NULL
                      OR 0 = 1
                  )
              AND (
                      @CastingName IS NULL
                      OR 0 = 1
                  )
              AND (
                      @SeriesId = 0
                      OR PODetails.SeriesId = @SeriesId
                  )
              ----------------------  
              AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PODetails.POPlantId IN (
                                                    SELECT Item FROM @Plant
                                                )
                  )
            
        -------------------------  
        UNION ALL --Casting Purchase  
        SELECT CASE
                   WHEN PurchaseOrder_Master.Prefix IS NULL THEN
                       ''
                   ELSE
                       CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)
               END + CASE
                         WHEN PurchaseOrder_Master.Separator IS NULL THEN
                             ''
                         ELSE
                             CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                     END + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)
               + CASE
                     WHEN PurchaseOrder_Master.Separator IS NULL THEN
                         ''
                     ELSE
                         CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                 END + CASE
                           WHEN PurchaseOrder_Master.Suffix IS NULL THEN
                               ''
                           ELSE
                               CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)
                       END AS PONo,
               PurchaseOrder_Master.PurchaseOrderId
        FROM PurchaseOrder_Master
            INNER JOIN CustomerMaster
                ON CustomerMaster.CustomerId = PurchaseOrder_Master.CustomerID
            INNER JOIN PurchaseOrderCastingPurchaseTrans
                ON PurchaseOrderCastingPurchaseTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId
            INNER JOIN CastingMaster
                ON CastingMaster.CastingId = PurchaseOrderCastingPurchaseTrans.CastingId
            LEFT JOIN
            (
                SELECT InwardCastingPurchase.PurchaseOrderCastingPurchaseId AS PurchaseOrderTransId,
                       InwardCastingPurchase.CastingId AS PurchaseItemId,
                       SUM(InwardCastingPurchase.AcceptedQty) AS AccesptedQty
                FROM InwardCastingPurchase
                WHERE InwardCastingPurchase.IsDeleted = 0
                GROUP BY InwardCastingPurchase.PurchaseOrderCastingPurchaseId,
                         InwardCastingPurchase.CastingId
            ) AS InwardTable
                ON InwardTable.PurchaseItemId = PurchaseOrderCastingPurchaseTrans.CastingId
                   AND InwardTable.PurchaseOrderTransId = PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId
                   AND RequiredQty - ISNULL(((InwardTable.AccesptedQty)), 0) > 0
        WHERE PurchaseOrder_Master.IsDeleted = 0
              And PurchaseOrderCastingPurchaseTrans.IsShortclose = 0
			  And PurchaseOrderCastingPurchaseTrans.IsDeleted = 0
              AND (
                      @IsInward IS NULL
                      OR PurchaseOrderCastingPurchaseTrans.IsDelivered = 0
                  )
              AND maxversion = 1
              --AND ( CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )
              AND (
                      @StoreSummary = 1
                      OR (CAST(OrderDate AS DATE)
              BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE)
                         )
                  )
              --AND RequiredQty - AccesptedQty > 0  
              AND (
                      @CustomerId IS NULL
                      OR PurchaseOrder_Master.CustomerID = @CustomerId
                  )
              AND (
                      @CastingId IS NULL
                      OR PurchaseOrderCastingPurchaseTrans.CastingId = @CastingId
                  )
              AND (
                      @CastingName IS NULL
                      OR CastingMaster.CastingName = @CastingName
                  )
              AND (
                      @PurchaseOrderId IS NULL
                      OR PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId
                  )
              AND (
                      @PurchaseItemGroupId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @PurchaseItemSubGroupId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @PurchaseItemTypeId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @ItemId IS NULL
                      OR 0 = 1
                  )
              AND (
                      @SeriesId = 0
                      OR PurchaseOrder_Master.SeriesId = @SeriesId
                  )
              AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
              AND PurchaseOrder_Master.EntityID = @EntityId
			  AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
        -------------------------------------  
        UNION ALL --Job Order  
        SELECT CASE
                   WHEN PurchaseOrder_Master.Prefix IS NULL THEN
                       ''
                   ELSE
                       CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)
               END + CASE
                         WHEN PurchaseOrder_Master.Separator IS NULL THEN
                             ''
                         ELSE
                             CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                     END + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)
               + CASE
                     WHEN PurchaseOrder_Master.Separator IS NULL THEN
                         ''
                     ELSE
                         CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                 END + CASE
                           WHEN PurchaseOrder_Master.Suffix IS NULL THEN
                               ''
                           ELSE
                               CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)
                       END AS PONo,
               PurchaseOrder_Master.PurchaseOrderId
        FROM PurchaseOrder_Master
            INNER JOIN CustomerMaster
                ON CustomerMaster.CustomerId = PurchaseOrder_Master.CustomerID
            INNER JOIN PurchasejobOrderTrans
                ON PurchasejobOrderTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId
            INNER JOIN CastingMaster
                ON CastingMaster.CastingId = PurchasejobOrderTrans.CastingId
            LEFT JOIN
            (
                SELECT InwardJobCastingTranse.PurchaseJobOrderTranseID AS PurchaseOrderTransId,
                       InwardJobCastingTranse.CastingId AS PurchaseItemId,
                       SUM(InwardJobCastingTranse.InwardQty) AS AccesptedQty
                FROM InwardJobCastingTranse
                WHERE InwardJobCastingTranse.IsDeleted = 0
                GROUP BY InwardJobCastingTranse.PurchaseJobOrderTranseID,
                         InwardJobCastingTranse.CastingId
            ) AS InwardTable
                ON InwardTable.PurchaseItemId = PurchasejobOrderTrans.CastingId
                   AND InwardTable.PurchaseOrderTransId = PurchasejobOrderTrans.JobOrderTransID
                   AND PurchasejobOrderTrans.OrderQty - ISNULL(((InwardTable.AccesptedQty)), 0) > 0
        WHERE PurchaseOrder_Master.IsDeleted = 0
              And PurchasejobOrderTrans.IsShortClose = 0
              AND (
                      @IsInward IS NULL
                      OR PurchasejobOrderTrans.IsInward = 0
                  )
              AND maxversion = 1
			  AND PurchasejobOrderTrans.IsDeleted = 0
              AND (
                      @StoreSummary = 1
                      OR (CAST(OrderDate AS DATE)
              BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE)
                         )
                  )
              --AND ( CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )
              --AND RequiredQty - AccesptedQty > 0  
              AND (
                      @CustomerId IS NULL
                      OR PurchaseOrder_Master.CustomerID = @CustomerId
                  )
              AND (
                      @CastingId IS NULL
                      OR PurchasejobOrderTrans.CastingId = @CastingId
                  )
              AND (
                      @CastingName IS NULL
                      OR CastingMaster.CastingName = @CastingName
                  )
              AND (
                      @PurchaseOrderId IS NULL
                      OR PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId
                  )
              AND (
                      @PurchaseItemGroupId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @PurchaseItemSubGroupId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @PurchaseItemTypeId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @ItemId IS NULL
                      OR 0 = 1
                  )
              AND (
                      @SeriesId = 0
                      OR PurchaseOrder_Master.SeriesId = @SeriesId
                  )
              AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
              AND PurchaseOrder_Master.EntityID = @EntityId
			  AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
        --------------------------------------  
        UNION ALL --Pattern Order  
        SELECT CASE
                   WHEN PurchaseOrder_Master.Prefix IS NULL THEN
                       ''
                   ELSE
                       CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)
               END + CASE
                         WHEN PurchaseOrder_Master.Separator IS NULL THEN
                             ''
                         ELSE
                             CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                     END + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)
               + CASE
                     WHEN PurchaseOrder_Master.Separator IS NULL THEN
                         ''
                     ELSE
                         CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                 END + CASE
                           WHEN PurchaseOrder_Master.Suffix IS NULL THEN
                               ''
                           ELSE
                               CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)
                       END AS PONo,
               PurchaseOrder_Master.PurchaseOrderId
        FROM PurchaseOrder_Master
            INNER JOIN CustomerMaster
                ON CustomerMaster.CustomerId = PurchaseOrder_Master.CustomerID
            INNER JOIN PurchaseOrderPatternPurchaseTrans
                ON PurchaseOrderPatternPurchaseTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId
            INNER JOIN PurchaseItemMaster
                ON PurchaseItemMaster.PurchaseItemId = PurchaseOrderPatternPurchaseTrans.PatternId and PurchaseItemMaster.IsPattern = 1
            LEFT JOIN
            (
                SELECT RawMaterialInwardDetail.PurchaseOrderTransId,
                       RawMaterialInwardDetail.PurchaseItemId,
                       SUM(RawMaterialInwardDetail.Quantity) AS AccesptedQty
                FROM  RawMaterialInwardDetail
                WHERE RawMaterialInwardDetail.IsDeleted = 0 and RawMaterialInwardDetail.IsPattern = 1
                GROUP BY RawMaterialInwardDetail.PurchaseOrderTransId,
                         RawMaterialInwardDetail.PurchaseItemId
            ) AS InwardTable
                ON InwardTable.PurchaseItemId = PurchaseOrderPatternPurchaseTrans.PatternId
                   AND InwardTable.PurchaseOrderTransId = PurchaseOrderPatternPurchaseTrans.PurchaseOrderPatternId
                   AND RequiredQty - ISNULL(((InwardTable.AccesptedQty)), 0) > 0
        WHERE PurchaseOrder_Master.IsDeleted = 0
              And PurchaseOrderPatternPurchaseTrans.IsShortClose = 0
			  and PurchaseOrderPatternPurchaseTrans.IsDeleted = 0
              AND (
                      @IsInward IS NULL
                      OR PurchaseOrderPatternPurchaseTrans.IsInward = 0
                  )
              AND maxversion = 1
              AND (
                      @StoreSummary = 1
                      OR (CAST(OrderDate AS DATE)
              BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE)
                         )
                  )
              --AND ( CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )
              --AND RequiredQty - AccesptedQty > 0  
              AND (
                      @CustomerId IS NULL
                      OR PurchaseOrder_Master.CustomerID = @CustomerId
                  )
              AND (
                      @PurchaseOrderId IS NULL
                      OR PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId
                  )
              AND (
                      @PurchaseItemGroupId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @PurchaseItemSubGroupId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @PurchaseItemTypeId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @ItemId IS NULL
                      OR 0 = 1
                  )
              AND (
                      @CastingId IS NULL
                      OR 0 = 1
                  )
              AND (
                      @CastingName IS NULL
                      OR 0 = 1
                  )
              AND (
                      @SeriesId = 0
                      OR PurchaseOrder_Master.SeriesId = @SeriesId
                  )
              AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
              AND PurchaseOrder_Master.EntityID = @EntityId
			  AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
        ---------------------------------------  
        UNION ALL --For Core  
        SELECT CASE
                   WHEN PurchaseOrder_Master.Prefix IS NULL THEN
                       ''
                   ELSE
                       CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)
               END + CASE
                         WHEN PurchaseOrder_Master.Separator IS NULL THEN
                             ''
                         ELSE
                             CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                     END + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)
               + CASE
                     WHEN PurchaseOrder_Master.Separator IS NULL THEN
                         ''
                     ELSE
                         CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                 END + CASE
                           WHEN PurchaseOrder_Master.Suffix IS NULL THEN
                               ''
                           ELSE
                               CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)
                       END AS PONo,
               PurchaseOrder_Master.PurchaseOrderId
        FROM PurchaseOrder_Master
            INNER JOIN CustomerMaster
                ON CustomerMaster.CustomerId = PurchaseOrder_Master.CustomerID
            INNER JOIN PurchaseOrderCorePurchaseTrans
                ON PurchaseOrderCorePurchaseTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId
            INNER JOIN CoreBoxMaster
                ON CoreBoxMaster.CoreMasterID = PurchaseOrderCorePurchaseTrans.CoreBoxID
            LEFT JOIN
            (
                SELECT CoreGRNDetail.PurchaseOrderCoreBoxId AS PurchaseOrderTransId,
                       CoreGRNDetail.CoreBoxId AS PurchaseItemId,
                       SUM(CoreGRNDetail.InwardQty) AS AccesptedQty
                FROM CoreGRNDetail
                WHERE CoreGRNDetail.IsDeleted = 0
                GROUP BY CoreGRNDetail.PurchaseOrderCoreBoxId,
                         CoreGRNDetail.CoreBoxId
            ) AS InwardTable
                ON InwardTable.PurchaseItemId = PurchaseOrderCorePurchaseTrans.CoreBoxID
                   AND InwardTable.PurchaseOrderTransId = PurchaseOrderCorePurchaseTrans.PurchaseOrderCoreBoxId
                   AND RequiredQty - ISNULL(((InwardTable.AccesptedQty)), 0) > 0
        WHERE PurchaseOrder_Master.IsDeleted = 0
              And PurchaseOrderCorePurchaseTrans.IsShortClose = 0
			  and PurchaseOrderCorePurchaseTrans.IsDeleted = 0
              AND (
                      @IsInward IS NULL
                      OR PurchaseOrderCorePurchaseTrans.IsInward = 0
                  )
              AND maxversion = 1
              AND (
                      @StoreSummary = 1
                      OR (CAST(OrderDate AS DATE)
              BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE)
                         )
                  )
              --AND ( CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )
              --AND RequiredQty - AccesptedQty > 0  
              AND (
                      @CustomerId IS NULL
                      OR PurchaseOrder_Master.CustomerID = @CustomerId
                  )
              AND (
                      @PurchaseOrderId IS NULL
                      OR PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId
                  )
              AND (
                      @PurchaseItemGroupId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @PurchaseItemSubGroupId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @PurchaseItemTypeId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @ItemId IS NULL
                      OR 0 = 1
                  )
              AND (
                      @CastingId IS NULL
                      OR 0 = 1
                  )
              AND (
                      @CastingName IS NULL
                      OR 0 = 1
                  )
              AND (
                      @SeriesId = 0
                      OR PurchaseOrder_Master.SeriesId = @SeriesId
                  )
              AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
              AND PurchaseOrder_Master.EntityID = @EntityId
			  AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
        UNION ALL -- SRN PENDING  
        SELECT CASE
                   WHEN PurchaseOrder_Master.Prefix IS NULL THEN
                       ''
                   ELSE
                       CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)
               END + CASE
                         WHEN PurchaseOrder_Master.Separator IS NULL THEN
                             ''
                         ELSE
                             CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                     END + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)
               + CASE
                     WHEN PurchaseOrder_Master.Separator IS NULL THEN
                         ''
                     ELSE
                         CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)
                 END + CASE
                           WHEN PurchaseOrder_Master.Suffix IS NULL THEN
                               ''
                           ELSE
                               CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)
                       END AS PONo,
               PurchaseOrder_Master.PurchaseOrderId
        FROM PurchaseOrder_Master
            INNER JOIN CustomerMaster
                ON CustomerMaster.CustomerId = PurchaseOrder_Master.CustomerID
            INNER JOIN PurchaseOrderServiceItemTrans
                ON PurchaseOrderServiceItemTrans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId
            INNER JOIN ServiceItemMaster
                ON ServiceItemMaster.ServiceItemId = PurchaseOrderServiceItemTrans.ServiceItemId
            LEFT JOIN
            (
                SELECT TempTable.PurchaseOrderID AS PurchaseOrderTransId,
                       TempTable.ServiceItemId AS PurchaseItemId,
                       SUM(SRNServiceDetailsTrans.AcceptQty) AS AccesptedQty
                FROM PurchaseOrderServiceItemTrans as TempTable
                    inner join SRNServiceDetailsTrans
                        on TempTable.PurchaseOrderServiceItemID = SRNServiceDetailsTrans.PurchaseOrderServiceItemID
                WHERE SRNServiceDetailsTrans.IsDeleted = 0
                      and (
                              @IsInward IS NULL
                              OR TempTable.IsDelivered = 0
                          )
                GROUP BY TempTable.PurchaseOrderID,
                         TempTable.ServiceItemId
            ) AS InwardTable
                ON InwardTable.PurchaseOrderTransId = PurchaseOrderServiceItemTrans.PurchaseOrderID
                   and ServiceItemMaster.ServiceItemId = InwardTable.PurchaseItemId
                   and PurchaseOrderServiceItemTrans.ServiceItemId = InwardTable.PurchaseItemId
                   AND Qty - ISNULL(((InwardTable.AccesptedQty)), 0) > 0
        WHERE PurchaseOrder_Master.IsDeleted = 0
              And PurchaseOrderServiceItemTrans.IsShortclose = 0
			  And PurchaseOrderServiceItemTrans.IsDeleted = 0
              and CustomerMaster.IsDeleted = 0
              and ServiceItemMaster.EntityID = @EntityID
              and ServiceItemMaster.IsDeleted = 0
              and (
                      @IsInward IS NULL
                      OR PurchaseOrderServiceItemTrans.IsDelivered = 0
                  )
              AND maxversion = 1
              AND (
                      @StoreSummary = 1
                      OR (CAST(OrderDate AS DATE)
              BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE)
                         )
                  )
              --AND ( CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )
              --AND RequiredQty - AccesptedQty > 0  
              AND (
                      @CustomerId IS NULL
                      OR PurchaseOrder_Master.CustomerID = @CustomerId
                  )
              AND (
                      @PurchaseOrderId IS NULL
                      OR PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId
                  )
              AND (
                      @PurchaseItemGroupId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @PurchaseItemSubGroupId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @PurchaseItemTypeId IS NULL
                      OR 1 = 0
                  )
              AND (
                      @ItemId IS NULL
                      OR 0 = 1
                  )
              AND (
                      @CastingId IS NULL
                      OR 0 = 1
                  )
              AND (
                      @CastingName IS NULL
                      OR 0 = 1
                  )
              AND (
                      @SeriesId = 0
                      OR PurchaseOrder_Master.SeriesId = @SeriesId
                  )
              AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
              AND PurchaseOrder_Master.EntityID = @EntityID
			  AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
				  ) AS PoNotbl
			order by PoNotbl.PONo desc
		
    END
    ELSE IF(@ReportType = 'Marketing')
    BEGIN
        SELECT PurchaseOrderId,
               (ISNULL(PurchaseOrder_Master.Prefix, '') + ISNULL(PurchaseOrder_Master.Separator, '') + PONo
                + ISNULL(PurchaseOrder_Master.Separator, '') + ISNULL(PurchaseOrder_Master.Suffix, '')
               ) AS PONo
        FROM PurchaseOrder_Master
        WHERE EntityId = @EntityId
              AND IsDeleted = 0
              AND PONo LIKE '%' + @PONo + '%'
              AND (
                      ISNULL(@PlantIdString, '') = ''
                      OR PurchaseOrder_Master.POPlantId IN (
                                                               SELECT Item FROM @Plant
                                                           )
                  )
        ORDER BY PurchaseOrder_Master.PONo ASC
    END


END
GO
