USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Update_Route_master]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_Route_master]
	@ModifiedBy INT = 0 ,
	@ModifiedON DATETIME = NULL ,
   -- @IsDeleted INT = 0,
    @RouteCardId UNIQUEIDENTIFIER = NULL,
    @RouteCardTransId UNIQUEIDENTIFIER = NULL,
    @ProcessId UNIQUEIDENTIFIER = NULL ,
    @Sequence INT = 0,
    @CreatedBy INT = 0 ,
    @CreatedON DATETIME = NULL,
    @RouteCardDetails AS XML = NULL,
    @DeleteProcessList VARCHAR(MAX) = NULL,
    @SQL VARCHAR(MAX) = NULL
    , @IsRawCasting bit = 0
    , @EntityID int  = 0
AS
BEGIN

	Declare @Type int;


				UPDATE  RouteCardMaster
                SET  
                        ModifiedBy = @ModifiedBy ,
                        ModifiedOn = @ModifiedOn 
                        --IsDeleted = @IsDeleted
                WHERE   RouteCardId = @RouteCardId
                and EntityID = @EntityID
				
            
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
                

                DECLARE RouteCardDetails CURSOR
                FOR
                    SELECT  Node.value('(SrNo )[1]', 'int') AS 'Sequence' ,
                            Node.value('(ProcessId )[1]', 'UniqueIdentifier') AS 'ProcessId',
                            Node.value('(RouteCardTransId )[1]', 'UniqueIdentifier') AS 'RouteCardTransId',
                            Node.value('(Type )[1]', 'int') AS 'Type'
                            , Node.value('(IsRawCasting )[1]', 'bit') AS 'IsRawCasting'
                    FROM    @RouteCardDetails.nodes('/DocumentElement/RouteCardTrans') AS TEMPXML ( Node )
                OPEN    RouteCardDetails;
                FETCH NEXT FROM RouteCardDetails INTO @Sequence, @ProcessId,@RouteCardTransId,@Type , @IsRawCasting
         
                WHILE @@FETCH_STATUS = 0
                    BEGIN
                        IF ( @RouteCardTransId IS NULL
                             OR @RouteCardTransId = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)
                            
                           )
                           BEGIN
                                SET @RouteCardTransId = NEWID()
                                INSERT  INTO RouteCardTrans
                                        ( RouteCardTransId ,
                                          RouteCardId ,
                                          ProcessId ,
                                          ProcessType,
                                          Sequence ,
                                          CreatedBy ,
                                          CreatedOn ,
                                          IsDeleted
                                          ,IsRawCasting
                                        )
                                VALUES  ( @RouteCardTransId ,
                                          @RouteCardId ,
                                          @ProcessId ,
                                          @Type,
                                          @Sequence ,
                                          @CreatedBy ,
                                          @CreatedOn ,
                                          0
                                          ,@IsRawCasting
                                        )
                            END
                            
                        ELSE
                            BEGIN
                                UPDATE  RouteCardTrans
                                SET     RouteCardId = @RouteCardId ,
                                        ProcessId = @ProcessId ,
                                        ProcessType = @Type,
                                        Sequence = @Sequence ,
                                        ModifiedBy = @ModifiedBy ,
                                        ModifiedOn = @ModifiedOn 
                                        , IsRawCasting = @IsRawCasting
                                       -- IsDeleted = @IsDeleted
                                WHERE   ( RouteCardTransId = @RouteCardTransId )
                            END
                        FETCH NEXT FROM RouteCardDetails INTO @Sequence, @ProcessId,@RouteCardTransId,@Type, @IsRawCasting
                    END
                CLOSE RouteCardDetails;
                DEALLOCATE RouteCardDetails;
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
                IF ( @DeleteProcessList IS NOT NULL
                     AND @DeleteProcessList != ''
                   )
                    BEGIN
                        SET @SQL = 'update dbo.RouteCardTrans set IsDeleted=1 WHERE RouteCardTransId in (' + @DeleteProcessList + ')'
                      -- SET @SQL = 'delete from dbo.RouteCardTrans WHERE RouteCardTransId in (' + @DeleteProcessList + ')'
                        
                        EXEC(@SQL)
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
                    END
                RETURN 1		
               
END
GO
