USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[HeatSwap]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HeatSwap]
    @Parameter INT = 0 ,
    @ProcessTransferID UNIQUEIDENTIFIER = NULL ,
    @BatchID INT = 0 ,
    @CastingStockBatchId INT = 0 ,
    @NewCastingStockBatchID INT = 0 ,
    @Qty INT = 0 ,
    @ProductionBatchId INT = 0 ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @MetalID INT = 0 ,
    @Createdon DATETIME = NULL ,
    @UserId INT = 0 ,
    @FromProcessID UNIQUEIDENTIFIER = NULL ,
    @ToProcessID UNIQUEIDENTIFIER = NULL ,
    @isCastCodeEnable INT = 0 ,
    @CastCodeNo VARCHAR(50) = NULL ,
    @BatchXMl XML = NULL ,
    @HeatId INT = 0 ,
    @Id INT = 0
    --@CastCode var
AS
    BEGIN
        SET NOCOUNT ON;

        IF ( @Parameter = 1 )
            BEGIN	
                SELECT  InHouseProcessStockTransfer.ProcessTransferID ,
                        batchno AS HeatNo ,
                        dbo.ProcessStockbatchbreackup.batchID AS CastingStockBatchId ,
                        dbo.ProductionBatch.batchID AS ProductionbatchID ,
                        MetalName ,
                        ProcessStockbatchbreackup.batchStock AS TransferQty ,
                        ProcessStockbatchbreackup.batchStock AS TransferStockQty ,
                        TransferFromProcessID ,
                        ProcessName ,
                        dbo.InHouseProcessStockTransfer.MetalID ,
                        dbo.InHouseProcessStockTransfer.CastingID ,
                        CastCode ,
                        ID,
                        CastingHeatCode.HeatCode
                FROM    dbo.InHouseProcessStockTransfer
                        INNER JOIN dbo.ProcessStockbatchbreackup ON dbo.ProcessStockbatchbreackup.ProcessTransferID = dbo.InHouseProcessStockTransfer.ProcessTransferID
                        INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.ProcessStockbatchbreackup.batchID
                        INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
                        LEFT JOIN CastingHeatCode ON CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeID 
												AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
												And CastingHeatCode.CastingID = CastingStockBatch.CastingID
                        INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.InHouseProcessStockTransfer.MetalID
                        INNER JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = dbo.InHouseProcessStockTransfer.TransferFromProcessID
                WHERE   dbo.InHouseProcessStockTransfer.ProcessTransferID = @ProcessTransferID
                        AND ProcessStockbatchbreackup.BatchStock > 0
  
            END
        IF ( @Parameter = 2 )
            BEGIN
            
                SELECT DISTINCT
                        ProductionBatch.BatchID AS BatchID ,
                        BatchNo
                FROM    ProductionBatch
                        INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.productionbatchID = dbo.ProductionBatch.batchID
                        LEFT JOIN dbo.ProcessStockbatchbreackup ON dbo.ProcessStockbatchbreackup.batchID = dbo.CastingStockBatch.Batchid
                WHERE   ProductionBatch.IsDeleted = 0
                        AND CastingID = @CastingID
                        AND CastingStockBatch.MetalID = @MetalID
                        AND ProcessID = @FromProcessID
                        AND CastingStockBatch.BatchStock > 0
            END
            
        IF ( @Parameter = 3 )
            BEGIN
            
            
                DECLARE BatchStockBreakup CURSOR
                FOR
                    SELECT  Node.value('(CastingStockBatchId )[1]', 'bigint') AS 'CastingStockBatchId' ,
                            Node.value('(Qty )[1]', 'int') AS 'Qty' ,
                            Node.value('(NewBatchID )[1]', 'bigint') AS 'NewBatchID' ,
                            Node.value('(CastCode )[1]', 'varchar(50)') AS 'CastCode' ,
                            Node.value('(Id )[1]', 'int') AS 'Id'
                    FROM    @BatchXMl.nodes('/DocumentElement/BatchTable') AS TEMPXML ( Node ) 
                OPEN BatchStockBreakup;

                FETCH NEXT FROM BatchStockBreakup INTO @CastingStockBatchId,
                    @Qty, @BatchID, @CastCodeNo, @Id
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN


                        --UPDATE  dbo.CastingStockBatch
                        --SET     BatchStock = BatchStock + @Qty
                        --WHERE   Batchid = @CastingStockBatchId
            
                        --IF @@Error <> 0
                        --    ROLLBACK TRANSACTION
                        --IF ( @isCastCodeEnable = 1 )
                        --    BEGIN
                        --        IF EXISTS ( SELECT  *
                        --                    FROM    dbo.CastCodeBatch
                        --                    WHERE   Batchid = @CastingStockBatchId )
                        --            BEGIN
                        --                UPDATE  dbo.CastCodeBatch
                        --                SET     Qty = @Qty
                        --                WHERE   Batchid = @CastingStockBatchId
                        --            END
                        --        ELSE
                        --            BEGIN
                        --                INSERT  INTO dbo.CastCodeBatch
                        --                        ( BatchID ,
                        --                          CastCode ,
                        --                          Qty
                        --                        )
                        --                VALUES  ( @CastingStockBatchId , -- BatchID - bigint
                        --                          @CastCodeNo , -- CastCode - varchar(50)
                        --                          @Qty  -- Qty - int
              	         --                       )
                        --            END
              
                        --    END
            --New BatchId assign
                        SET @CastingID = ( SELECT   CastingID
                                           FROM     dbo.InHouseProcessStockTransfer
                                           WHERE    ProcessTransferID = @ProcessTransferID
                                         )
                        SET @MetalID = ( SELECT MetalID
                                         FROM   dbo.InHouseProcessStockTransfer
                                         WHERE  ProcessTransferID = @ProcessTransferID
                                       )
                        SET @ToProcessID = ( SELECT TransferToProcessID
                                             FROM   dbo.InHouseProcessStockTransfer
                                             WHERE  ProcessTransferID = @ProcessTransferID
                                           )
                    
                        SET @FromProcessID = ( SELECT   TransferFromProcessID
                                               FROM     dbo.InHouseProcessStockTransfer
                                               WHERE    ProcessTransferID = @ProcessTransferID
                                             )
                        SET @ProductionBatchId = ( SELECT   productionbatchID
                                                   FROM     dbo.CastingStockBatch
                                                   WHERE    Batchid = @CastingStockBatchId
                                                 )
                    
                    
                        DECLARE @AvailableStock INT;
            
                        SET @AvailableStock = ( SELECT  BatchStock
                                                FROM    dbo.CastingStockBatch
                                                WHERE   productionbatchID = @ProductionBatchId
                                                        AND CastingID = @CastingID
                                                        AND MetalID = @MetalID
                                                        AND ProcessID = @ToProcessID
                                              )						
                        IF ( @AvailableStock <= 0
                             OR @AvailableStock < @Qty
                           )
                            RETURN -1
                                
                        SET @AvailableStock = ( SELECT  BatchStock
                                                FROM    dbo.CastingStockBatch
                                                WHERE   productionbatchID = @BatchId
                                                        AND CastingID = @CastingID
                                                        AND MetalID = @MetalID
                                                        AND ProcessID = @FromProcessID
                                              )						
                        IF ( @AvailableStock <= 0
                             OR @AvailableStock < @Qty
                           )
                            RETURN -1
                            
                        EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,
                            @MetalID = @MetalID, @StockToAdd = @Qty,
                            @StockToRej = 0, @ProcessID = @FromProcessID,
                            @Tagging = N'StockTransfer', @Process = N'',
                            @ProcessCode = 0,
                            @productionbatchid = @ProductionBatchId, --OldBatchId
                            @ProcessDate = @Createdon, @UserID = @UserID,
                            @CastCode_No = @CastCodeNo,
                            @isCastCodeEnable = @isCastCodeEnable,
                            @HistoryAdd = 1,
                            @CastingStockBatchID = @CastingStockBatchID
            
                        IF @@Error <> 0
                            ROLLBACK TRANSACTION
                       
                            
                        SET @Qty = -@Qty;
                        EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,
                            @MetalID = @MetalID, @StockToAdd = @Qty,
                            @StockToRej = 0, @ProcessID = @ToProcessID,
                            @Tagging = N'StockTransfer', @Process = N'',
                            @ProcessCode = 0,
                            @productionbatchid = @ProductionBatchId, --OldBatchId
                            @ProcessDate = @Createdon, @UserID = @UserID,
                            @CastCode_No = @CastCodeNo,
                            @isCastCodeEnable = @isCastCodeEnable,
                            @HistoryAdd = 1,
                            @CastingStockBatchID = @CastingStockBatchID
                        IF @@Error <> 0
                            ROLLBACK TRANSACTION
            
                      
                        SET @NewCastingStockBatchID = ( SELECT
                                                              Batchid
                                                        FROM  dbo.CastingStockBatch
                                                        WHERE productionbatchID = @BatchId
                                                              AND CastingID = @CastingID
                                                              AND MetalID = @MetalID
                                                              AND ProcessID = @FromProcessID
                                                      )
             
                        EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,
                            @MetalID = @MetalID, @StockToAdd = @Qty,
                            @StockToRej = 0, @ProcessID = @FromProcessID,
                            @Tagging = N'StockTransfer', @Process = N'',
                            @ProcessCode = 0, @productionbatchid = @BatchId, --NewBatchId
                            @ProcessDate = @Createdon, @UserID = @UserID,
                            @CastCode_No = @CastCodeNo,
                            @isCastCodeEnable = @isCastCodeEnable,
                            @HistoryAdd = 1,
                            @CastingStockBatchID = @NewCastingStockBatchID
                            
                            
                        SET @Qty = -@Qty
                            
                        EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @castingID,
                            @MetalID = @MetalID, @StockToAdd = @Qty,
                            @StockToRej = 0, @ProcessID = @ToProcessID,
                            @Tagging = N'StockTransfer', @Process = N'',
                            @ProcessCode = 0, @productionbatchid = @BatchId, --NewBatchId
                            @ProcessDate = @Createdon, @UserID = @UserID,
                            @CastCode_No = @CastCodeNo,
                            @isCastCodeEnable = @isCastCodeEnable,
                            @HistoryAdd = 1,
                            @CastingStockBatchID = @NewCastingStockBatchID
                            
                        IF ( @Id <> 0 )
                            BEGIN
                                UPDATE  dbo.ProcessStockbatchbreackup
                                SET     batchID = @NewCastingStockBatchID
                                WHERE   ProcessTransferID = @ProcessTransferID
                                        AND batchID = @CastingStockBatchId
                                        AND ID = @Id
                            END
                        ELSE
                            BEGIN
                                UPDATE  dbo.ProcessStockbatchbreackup
                                SET     batchStock = batchStock - @Qty
                                WHERE   ProcessTransferID = @ProcessTransferID
                                        AND batchID = @CastingStockBatchId
                                        
                                INSERT  INTO dbo.ProcessStockbatchbreackup
                                        ( ProcessTransferID ,
                                          batchID ,
                                          batchStock ,
                                          CastCode
                                        )
                                VALUES  ( @ProcessTransferID , -- ProcessTransferID - uniqueidentifier
                                          @NewCastingStockBatchID , -- batchID - bigint
                                          @Qty , -- batchStock - int
                                          ''  -- CastCode - varchar(50)
                                        )
                        
                            END
                      
                        IF @@Error <> 0
                            ROLLBACK TRANSACTION
                            
                        INSERT  INTO dbo.SwapHeatHistory
                                ( ProcessTransferID ,
                                  OldCastingStockBatchId ,
                                  NewCastingStockBatchId ,
                                  CreatedBy ,
                                  CreatedOn
                                )
                        VALUES  ( @ProcessTransferID , -- ProcessTransferID - uniqueidentifier
                                  @CastingStockBatchId , -- OldCastingStockBatchId - bigint
                                  @NewCastingStockBatchID , -- NewCastingStockBatchId - bigint
                                  @UserId , -- CreatedBy - int
                                  @CreatedOn  -- CreatedOn - datetime
                                ) 
                        FETCH NEXT FROM BatchStockBreakup INTO @CastingStockBatchId,
                            @Qty, @BatchID, @CastCodeNo, @Id
                    END 

                CLOSE BatchStockBreakup;
                DEALLOCATE BatchStockBreakup;
                
                
                DECLARE DeleteSameBatchNo CURSOR
                FOR
                    SELECT  batchID
                    FROM    dbo.ProcessStockbatchbreackup
                    WHERE   ProcessTransferID = @ProcessTransferID
                    GROUP BY batchID
                    HAVING  COUNT(batchID) > 1
                    
                OPEN DeleteSameBatchNo;

                FETCH NEXT FROM DeleteSameBatchNo INTO @BatchID
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                    
                        DECLARE @TotalbatchStock INT;
                        
                        SET @TotalbatchStock = ( SELECT SUM(batchStock)
                                                 FROM   dbo.ProcessStockbatchbreackup
                                                 WHERE  batchID = @BatchID
                                                        AND ProcessTransferID = @ProcessTransferID
                                               )
                        DELETE  FROM dbo.ProcessStockbatchbreackup
                        WHERE   batchID = @BatchID
                                AND ProcessTransferID = @ProcessTransferID
                        
                        INSERT  INTO dbo.ProcessStockbatchbreackup
                                ( ProcessTransferID ,
                                  batchID ,
                                  batchStock ,
                                  CastCode
                                )
                        VALUES  ( @ProcessTransferID , -- ProcessTransferID - uniqueidentifier
                                  @BatchID , -- batchID - bigint
                                  @TotalbatchStock , -- batchStock - int
                                  ''  -- CastCode - varchar(50)
                                )
                       
                        FETCH NEXT FROM DeleteSameBatchNo INTO @BatchID   
                    END 

                CLOSE DeleteSameBatchNo;
                DEALLOCATE DeleteSameBatchNo;
                
                RETURN 1;
            END
            
        IF ( @Parameter = 4 )
            BEGIN
              
                SELECT DISTINCT
                        CastCode ,
                        productionbatchID
                FROM    dbo.CastingStockBatch
                        INNER JOIN dbo.CastCodeBatch ON dbo.CastCodeBatch.BatchID = dbo.CastingStockBatch.Batchid
                WHERE   ( @HeatId = 0
                          OR productionbatchID = @HeatId
                        )
            END
            
              
        IF ( @Parameter = 5 )
            BEGIN
                  
                SET @AvailableStock = ( SELECT  BatchStock
                                        FROM    dbo.CastingStockBatch
                                        WHERE   productionbatchID = @ProductionBatchId
                                                AND CastingID = @CastingID
                                                AND MetalID = @MetalID
                                                AND ProcessID = @FromProcessID
                                      )
                                      
                RETURN @AvailableStock
            END
    END
GO
