USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[HeatCode_HeatPropertiesEntry_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================          
-- Author:  <Author,,Name>          
-- Create date: <Create Date,,>          
-- Description: <Description,,>          
-- =============================================          
CREATE PROCEDURE [dbo].[HeatCode_HeatPropertiesEntry_Register]
    @EntityID INT = 0 ,          
	@ToDate DATETIME = NULL,
	@HeatCode varchar(100)=null,
	@CastingId UNIQUEIDENTIFIER = NULL,
	@Before15Days BIT = 0,
	@ProductionDate DATETIME = NULL,
	@FetchAll BIT = 0,
	@BatchNo VARCHAR(50) = NULL,
	@PlantIdString VARCHAR(MAX) = NULL 
   
AS          
    BEGIN          
    
		SET NOCOUNT ON;          
	    	declare @Plant table (Item int) 
		if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
		begin
			Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
		End

	   select distinct CHC.HeatCode --,CHC.HeatCodeID--, Productionbatch.productiondate 
			   FROM dbo.CastingHeatCode CHC
			   INNER JOIN dbo.CastingStockBatch CSB ON CSB.CastingID = CHC.CastingID AND CSB.productionbatchID = CHC.ProductionBatchID
			   LEFT JOIN dbo.ProductionBatch PB ON PB.batchID = CSB.productionbatchID
		 WHERE isnull(CHC.HeatCode,'') <> ''  
				AND PB.IsDeleted = 0    
				and (@Castingid is null or CHC.castingid = @Castingid)      
				and (@heatcode IS NULL or CHC.HeatCode = @heatcode) 
				and (@BatchNo IS NULL or PB.batchno = @BatchNo)      
				AND pb.EntityID = @EntityId 
				AND( (@ProductionDate IS NULL AND @ToDate IS NULL) OR CONVERT(DATE, ProductionDate) BETWEEN CONVERT(DATE, @ProductionDate) AND CONVERT(DATE, @ToDate)) 
				AND (@PlantIdString IS NULL OR @PlantIdString = '' -- Added by Juhi Singh 08/12/2025
                    OR PB.PlantID IN (SELECT Item FROM @Plant)
						)
		order by HeatCode
				
			
		
		------ sp HeatProperties Parameter 23
		--IF ( @FetchAll = 1)      
		--BEGIN      
		--	select distinct CHC.HeatCode,CHC.HeatCodeID--, Productionbatch.productiondate 
		--	FROM dbo.CastingHeatCode CHC
		--	INNER JOIN dbo.CastingStockBatch CSB ON CSB.CastingID = CHC.CastingID AND CSB.productionbatchID = CHC.ProductionBatchID
		--	LEFT JOIN dbo.ProductionBatch PB ON PB.batchID = CSB.productionbatchID
		--	WHERE isnull(CHC.HeatCode,'') <> ''   
		--		AND PB.IsDeleted = 0       
		--		and (@Castingid is null or CHC.CastingID = @Castingid)      
		--		and (@heatcode IS NULL or CHC.HeatCode = @heatcode)  
		--		and (@BatchNo IS NULL or PB.batchno = @BatchNo)      
		--		AND PB.EntityId = @EntityId   
		--	order by HeatCode
		--END      
		--ELSE  IF ( @Before15Days = 1 )      
		--	BEGIN   
		--       select distinct CHC.HeatCode,CHC.HeatCodeID--, Productionbatch.productiondate 
		--	   FROM dbo.CastingHeatCode CHC
		--	   INNER JOIN dbo.CastingStockBatch CSB ON CSB.CastingID = CHC.CastingID AND CSB.productionbatchID = CHC.ProductionBatchID
		--	   LEFT JOIN dbo.ProductionBatch PB ON PB.batchID = CSB.productionbatchID
		--	   WHERE isnull(CHC.HeatCode,'') <> ''  
		--			AND PB.IsDeleted = 0    
		--		    and (@Castingid is null or CHC.castingid = @Castingid)      
		--		    and (@heatcode IS NULL or CHC.HeatCode = @heatcode)   
		--			and (@BatchNo IS NULL or PB.batchno = @BatchNo)  
		--		    AND Pb.EntityID = @EntityId 
		--			AND( (@ProductionDate IS NULL AND @ToDate IS NULL)       
		--			  OR CONVERT(DATE, ProductionDate) BETWEEN CONVERT(DATE, @ProductionDate) AND CONVERT(DATE, @ToDate)      
		--			 )      
		--		order by HeatCode
		--	END      
		--	ELSE      
		--	BEGIN           
      
		--	   select distinct CHC.HeatCode,CHC.HeatCodeID--, Productionbatch.productiondate 
		--	   FROM dbo.CastingHeatCode CHC
		--	   INNER JOIN dbo.CastingStockBatch CSB ON CSB.CastingID = CHC.CastingID AND CSB.productionbatchID = CHC.ProductionBatchID
		--	   LEFT JOIN dbo.ProductionBatch PB ON PB.batchID = CSB.productionbatchID
		--	   WHERE isnull(CHC.HeatCode,'') <> ''  
		--			AND PB.IsDeleted = 0    
		--			and (@Castingid is null or CHC.castingid = @Castingid)      
		--			and (@heatcode IS NULL or CHC.HeatCode = @heatcode) 
		--			and (@BatchNo IS NULL or PB.batchno = @BatchNo)      
		--			AND pb.EntityID = @EntityId 
		--			AND( (@ProductionDate IS NULL AND @ToDate IS NULL) OR CONVERT(DATE, ProductionDate) BETWEEN CONVERT(DATE, @ProductionDate) AND CONVERT(DATE, @ToDate))            
		--		order by HeatCode
		--	END                  
    
END 
GO
