USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_DieRegisterReport]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_DieRegisterReport] @dieid VARCHAR(50)
AS
    SELECT  dmast.DieId ,
            dmast.DieCode ,
            dmast.DieName ,
            dmast.DieType ,
            dmast.DieLocation ,
            dmast.Plunger_Size ,
            dmast.Metal_Tempreture ,
            dmast.No_of_Removables ,
            dmast.No_of_Cavity ,
            dmast.Best_Production_Hour ,
            dmast.Shot_Weight ,
            dmast.Casting_Weight ,
            dmast.GrossWt ,
            dmast.NetWt ,
            dmast.RunnerRiserWt ,
            dmast.Loss_On ,
            dmast.LossWt ,
            dmast.LossPercent ,
            dmast.Remarks ,
            dmast.Created_by ,
            dmast.Created_Date ,
            dmast.Modified_By ,
            dmast.Modified_Date ,
            dmast.IsDeleted ,
            dmast.IsActive AS IsActiveDiemast ,
            dmast.IsAllcustomer ,
            diestatus.DieStatusId ,
            diestatus.DieId AS Expr1 ,
            diestatus.IsActive ,
            diestatus.Reason ,
            DenzingIndexNo,
            GrainSize,
            DieTempreture,
            DegassingTime,
            PouringTime,
            SolidificationTime,
            Humidity,
            DieExpiryShots,
            CONVERT(VARCHAR(20), diestatus.Active_Deactive_Date, 106) AS Active_Deactive_Date
    FROM    dbo.DieMaster AS dmast
            INNER JOIN dbo.DieStatusDetails AS diestatus ON dmast.DieId = diestatus.DieId
    WHERE   dmast.DieId = @dieid
    ORDER BY Active_Deactive_Date DESC
  
  
    SELECT  mem.ItemName as EquipmentName ,
           -- dbo.MachineMaster.MachineName ,
            mem.ItemCode as MachineName, 
            --mem.RatePerShot ,
            dbo.DieMachineMapping.DieId ,
            dbo.DieMachineMapping.MachineId ,
            dbo.DieMachineMapping.Priority ,
            dbo.DieMachineMapping.Limit_Switch ,
            dbo.DieMachineMapping.Phase1 ,
            dbo.DieMachineMapping.Phase2 ,
            dbo.DieMachineMapping.Phase3 ,
            dbo.DieMachineMapping.T1 ,
            dbo.DieMachineMapping.T2 ,
            dbo.DieMachineMapping.T3 ,
            dbo.DieMachineMapping.T4
    FROM    dbo.DieMachineMapping
            --INNER JOIN dbo.MachineMaster ON dbo.DieMachineMapping.MachineId = dbo.MachineMaster.MachineId
            inner join PurchaseItemMaster AS mem on mem.PurchaseItemId = DieMachineMapping.MachineId AND mem.IsDeleted = 0 AND IsEquipment = 1

    WHERE   dbo.DieMachineMapping.DieId = @dieid
GO
