USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SandTestingParameterRegister]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE  PROCEDURE [dbo].[SandTestingParameterRegister]
  @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,  
	@DateFrom DATETIME = NULL , 
    @EntityId INT = 0,
    @TempletId UNIQUEIDENTIFIER = NULL
  
AS
BEGIN
	    
              IF ( @Parameter =  1 )	--	Total Record Display 
            BEGIN					
                SET @TotalRecords = (  SELECT    Count(TempletId)
                                                  FROM      SandParameterMaster                                                          
                                                  WHERE     ( @TempletId IS NULL
                                              OR SandParameterMaster.TempletId = @TempletId
                                            )                                         
                                         
                                           AND  SandParameterMaster.IsDeleted = 0                                       
                                        
                                            AND SandParameterMaster.EntityId = @EntityId  
                                              
                                    )
                RETURN @TotalRecords
            END				
          		
      
       IF ( @Parameter = 2 )			--Fill Grid By Filter
            BEGIN
                IF @InitialLoad = 1
                    BEGIN
                      	SELECT	TOP (@PageSize) *
		FROM (	SELECT ROW_NUMBER() OVER ( ORDER BY SandParameterMaster.TempletName DESC  ) AS SrNo ,
                                           SandParameterMaster.TempletId,
                                           SandParameterMaster.TempletName,
                                           SandParameterMaster.CreatedOn as Date                                     
                                        
                                  FROM      SandParameterMaster
                                       
                                  WHERE     ( @TempletId IS NULL
                                              OR SandParameterMaster.TempletId = @TempletId
                                            )                                         
                                         
                                           AND  SandParameterMaster.IsDeleted = 0                                       
                                        
                                            AND SandParameterMaster.EntityId = @EntityId     
                                            ) AS TC
						     
									
                    END
				
                ELSE
                 BEGIN
                        	SELECT	TOP (@PageSize) *
		      FROM (  SELECT   ROW_NUMBER() OVER ( ORDER BY SandParameterMaster.TempletName DESC  ) AS SrNo ,
                                           SandParameterMaster.TempletId,
                                           SandParameterMaster.TempletName,
                                           SandParameterMaster.CreatedOn as Date                                       
                                        
                                  FROM      SandParameterMaster
                                    
                                  WHERE     ( @TempletId IS NULL
                                              OR SandParameterMaster.TempletId = @TempletId
                                            ) 
                                           AND  SandParameterMaster.IsDeleted = 0                                       
                                        
                                            AND SandParameterMaster.EntityId = @EntityId
                                                ) AS TC
						WHERE SrNo > (@PageNumber * @PageSize)  
                           
                    END		
					
            END
            
            
       IF ( @Parameter = 3 )		--Fetch ParameterName For Register
            BEGIN
             SELECT ROW_NUMBER() OVER ( ORDER BY SandParameterTrans.SrNo   ) AS SrNo ,
                                           SandParameterMaster.TempletId,
                                           SandParameterTrans.ParameterId, 
                                           SandParameterTrans.ParameterName,
                                             CASE WHEN (SandParameterTrans.Specification = 1) and  (SandParameterTrans.Max=0)
                                             
                                            THEN                                            
											 'MIN ' + CAST(SandParameterTrans.Min  AS VARCHAR(50)) + CAST(SandParameterTrans.Text  AS VARCHAR(500)) 
											
                                                 WHEN (SandParameterTrans.Specification = 1) and (SandParameterTrans.Min=0)
                                            THEN
                                            
											 'MAX ' + CAST(SandParameterTrans.Max  AS VARCHAR(50)) + CAST(SandParameterTrans.Text  AS VARCHAR(500))
											 
											     WHEN (SandParameterTrans.Specification = 1)and (SandParameterTrans.Min != '' ) and (SandParameterTrans.Max != '')
											  
                                            THEN
                                            
											 	CAST(SandParameterTrans.Min  AS VARCHAR(50)) + '-' + CAST(SandParameterTrans.Max  AS VARCHAR(50)) + CAST(SandParameterTrans.Text  AS VARCHAR(500))  
									            WHEN (SandParameterTrans.Specification = 2) 
                                            THEN
											 CAST(SandParameterTrans.Text AS VARCHAR(500))
											end as Specification
                                        
                                  FROM      SandParameterMaster
                                            INNER JOIN SandParameterTrans ON SandParameterMaster.TempletId = SandParameterTrans.TempletId
                                  WHERE     ( SandParameterMaster.TempletId = @TempletId
                                            )                                          
                                             
                                           AND  SandParameterTrans.IsDeleted = 0  
            END
END
GO
