USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchCompanyImage]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchCompanyImage]
	-- Add the parameters for the stored procedure here
	@ImageType VARCHAR(50)=NULL
	, @EntityID int = 0
AS
BEGIN 
	select Photo from companyImage where ImageType=@ImageType and EntityID =@EntityID
END
GO
