USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchBatchNumbersByPattern]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE   PROCEDURE [dbo].[FetchBatchNumbersByPattern]
      @PatternId UNIQUEIDENTIFIER ,
	  @entityId int,
	  @PlantId int 

	   AS
  BEGIN
      SET NOCOUNT ON;

      SELECT	PatternProduction.BatchNo,
				PatternProduction.ProductionBatchID
      FROM		PatternProductionDetails ppd
				Inner Join PatternProduction on PatternProduction.ProductionBatchID = ppd.ProductionBatchID
      WHERE		ppd.PatternId = @PatternId
				AND ppd.InspectionDone = 0
				and PatternProduction.EntityId = @entityId
				and PatternProduction.IsDeleted = 0 
				and IsAssembly = 0
				and PlantId = @PlantId
	group by	PatternProduction.BatchNo,
				PatternProduction.ProductionBatchID,
				PatternProduction.ProductionDate
      ORDER BY PatternProduction.ProductionDate DESC, PatternProduction.BatchNo
  END
  
GO
