USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ScheduleDelivery]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ScheduleDelivery null,'1',1,null,null,null,0,'2020-01-01','2024-01-01'
CREATE PROCEDURE [dbo].[ScheduleDelivery]
	@CustomerId UNIQUEIDENTIFIER = NULL ,	
	@PlantIDString varchar(10)=NULL,
	@EntityID int = 0,
	@CastingId uniqueidentifier = null,
	@CustomerOrderID uniqueidentifier = null,
	@CastingName varchar(200) = null,
	@ISPending bit=0,
	@DeliveryDateFrom DateTime,
	@DeliveryDateTo DateTime,
	@OrderApprovalRequire bit = 0,
	@customerGroupId  uniqueidentifier = null 
	
AS
BEGIN
      	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
								select distinct
								ROW_NUMBER() OVER ( ORDER BY OrderView.DeliveryDate ASC , OrderView.OASrNo DESC ) AS RowNo ,
                                OrderView.DeliveryDate AS DeliveryDate ,
                                OrderView.CustomerName ,
                                OrderView.CastingName ,
                                OrderView.CastingCode ,
								OrderView.CustomerOrderId as CustomerOrder_Id,
                                OrderView.CustomerOrderNo ,
                                OrderView.OASrNoPS AS OASrNo ,
                                CONVERT(VARCHAR(20), OrderView.OrderDate, 106) AS OrderDate,
                                OrderView.Metal ,
                                OrderView.RequiredQty ,
                                ISNULL(OrderView.DispatchQty, 0) AS dispatchqty ,
                                OrderView.RequiredQty - OrderView.DispatchQty AS PendingQty ,
                                OrderView.IsShortclose ,
                                OrderView.stock ,
                                CAST(OrderView.ApproxWeight AS DECIMAL(18, 3)) AS ApproxWeight ,
                                CAST(( ( OrderView.RequiredQty - ISNULL(OrderView.DispatchQty, 0) ) * OrderView.ApproxWeight ) AS DECIMAL(18, 3)) AS TotalNetWeight ,
                                CAST(( ( OrderView.RequiredQty - ISNULL(OrderView.DispatchQty, 0) ) * OrderView.GrossWeight ) AS DECIMAL(18, 3)) AS TotalGrossWeight ,
                                ( CASE WHEN OrderView.UOM = 'PerKg'
                                       THEN CAST(( ( OrderView.RequiredQty - ISNULL(OrderView.DispatchQty, 0) ) * OrderView.CustomerRates * OrderView.ApproxWeight ) AS DECIMAL(18, 3))
                                       ELSE CAST(( ( OrderView.RequiredQty - ISNULL(OrderView.DispatchQty, 0) ) * OrderView.CustomerRates ) AS DECIMAL(18, 3))
                                  END ) AS TotalValue
								,CAST(OrderView.ApproxWeight * OrderView.stock  AS DECIMAL(18, 3)) AS AvailableWeight 
                        FROM    [Data:OrderView] As OrderView
                        WHERE    JobIn=0 and ( OrderView.maxversion = 1 )
                                AND ( OrderView.IsDelivered = 0 )
                                AND ( OrderView.DeliveryDate BETWEEN @DeliveryDateFrom AND @DeliveryDateTo )
                                AND ( @CustomerID IS NULL
                                      OR OrderView.CustomerID = @CustomerID
                                    )
                                AND ( @CastingId IS NULL
                                      OR OrderView.CastingId = @CastingId
                                    )
                                AND ( @CustomerOrderID IS NULL
                                      OR OrderView.CustomerOrderId = @CustomerOrderID
                                    )
                                AND ( @CastingName IS NULL
                                      OR OrderView.CastingName = @CastingName
                                    )
                               
                                AND OrderView.IsScheduled = 0
                                -----------------------------------------
                                AND OrderView.EntityID = @EntityId
                                ------Plant------
                                AND (@PlantIdString IS NULL 
								OR @PlantIdString = ''
								OR OrderView.PlantID IN (
									SELECT Item FROM @Plant )
								)
								And  ( @OrderApprovalRequire = 0 OR isapprove = 1) -- Added by Juhi Singh 03-09-2025
								AND ( @customerGroupId  IS NULL
                                      OR OrderView.customerGroupId= @customerGroupId 
                                    )
								ORDER BY OrderView.DeliveryDate ASC
							--select distinct
       --                         OrderTranse.DeliveryDate AS DeliveryDate ,
       --                         CustomerMaster.CustomerName ,
       --                         CastingMaster.CastingName ,
       --                         CastingMaster.CastingCode ,
       --                         OrderMaster.CustomerOrderNo ,
       --                         OrderMaster.OASrNo ,
       --                         CONVERT(VARCHAR(20), OrderMaster.OrderDate, 106) AS OrderDate,
       --                         OrderTranse.Metal ,
       --                         OrderTranse.RequiredQty ,
       --                         ISNULL(DispatchTable.DispatchQty, 0) AS dispatchqty ,
       --                         OrderTranse.RequiredQty - ISNULL(DispatchTable.DispatchQty, 0) AS PendingQty ,
       --                         OrderTranse.IsShortclose ,
       --                         CastingStock.stock ,
       --                         CAST(OrderTranse.ApproxWeight AS DECIMAL(18, 3)) AS ApproxWeight ,
       --                         CAST(( ( OrderTranse.RequiredQty - ISNULL(DispatchTable.DispatchQty, 0) ) * OrderTranse.ApproxWeight ) AS DECIMAL(18, 3)) AS TotalNetWeight ,
       --                         CAST(( ( OrderTranse.RequiredQty - ISNULL(DispatchTable.DispatchQty, 0) ) * CastingMetal.GrossWeight ) AS DECIMAL(18, 3)) AS TotalGrossWeight ,
       --                         ( CASE WHEN OrderTranse.UOM = 'PerKg'
       --                                THEN CAST(( ( OrderTranse.RequiredQty - ISNULL(DispatchTable.DispatchQty, 0) ) * OrderTranse.CustomerRates * ApproxWeight ) AS DECIMAL(18, 3))
       --                                ELSE CAST(( ( OrderTranse.RequiredQty - ISNULL(DispatchTable.DispatchQty, 0) ) * OrderTranse.CustomerRates ) AS DECIMAL(18, 3))
       --                           END ) AS TotalValue
       --                 FROM    OrderTranse
       --                         INNER JOIN CastingMaster ON OrderTranse.PartId = CastingMaster.CastingId
       --                         INNER JOIN CastingMetal ON CastingMaster.CastingId = CastingMetal.Castingid
       --                                                    AND OrderTranse.MetalID = CastingMetal.MetalID
       --                         INNER JOIN OrderMaster ON OrderTranse.CustomerOrderId = OrderMaster.CustomerOrderId
       --                         INNER JOIN CustomerMaster ON OrderMaster.CustomerID = CustomerMaster.CustomerId
       --                         INNER JOIN ( 
       --                                      SELECT SUM(stock) AS stock , castingid , MetalID
       --                                      FROM   dbo.CastingGradeStock
       --                                      GROUP BY CastingId , MetalID
       --                                    ) AS CastingStock ON CastingMaster.CastingId = CastingStock.castingid
       --                                                       AND CastingStock.MetalID = dbo.OrderTranse.MetalID
       --                         LEFT JOIN (
							--		SELECT		dbo.dispatchtrans.orderid,
							--					dbo.dispatchtrans.orderserialno,
							--					SUM(dispatchqty) AS DispatchQty
							--		FROM		dbo.dispatchmaster
							--					INNER JOIN dbo.dispatchtrans
							--					ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
							--		WHERE		dbo.dispatchmaster.IsDeleted = 0
							--					AND dbo.dispatchtrans.IsDeleted = 0
							--					AND dbo.dispatchmaster.isProforma = 0
							--		GROUP BY	dbo.dispatchtrans.orderid,
							--					dbo.dispatchtrans.orderserialno
							--	) AS DispatchTable ON DispatchTable.orderid = dbo.OrderMaster.CustomerOrderId
							--						AND DispatchTable.orderserialno = dbo.OrderTranse.SrNo
       --                 WHERE   ( OrderMaster.maxversion = 1 )
       --                         AND ( OrderTranse.IsDelivered = 0 )
       --                         AND ( OrderTranse.DeliveryDate BETWEEN @DeliveryDateFrom AND @DeliveryDateTo )
       --                         AND ( @CustomerID IS NULL
       --                               OR OrderMaster.CustomerID = @CustomerID
       --                             )
       --                         AND ( @CastingId IS NULL
       --                               OR CastingMaster.CastingId = @CastingId
       --                             )
       --                         AND ( @CustomerOrderID IS NULL
       --                               OR dbo.OrderMaster.CustomerOrderId = @CustomerOrderID
       --                             )
       --                         AND ( @CastingName IS NULL
       --                               OR CastingMaster.CastingName = @CastingName
       --                             )
       --                         AND dbo.CustomerMaster.IsDeleted = 0
       --                         AND CastingMaster.IsDeleted = 0
       --                         AND OrderTranse.IsShortclose = 0
       --                         AND OrderTranse.IsDeleted = 0
       --                         AND OrderMaster.IsScheduled = 0
       --                         -----------------------------------------
       --                         AND OrderMaster.EntityID = @EntityId
       --                         ------Plant------
       --                         AND (@PlantIdString IS NULL 
							--	OR @PlantIdString = ''
							--	OR OrderMaster.PlantID IN (
							--		SELECT Item FROM @Plant )
							--	)
							--	 ) as OrderTranse
						--UNION
									
      --                  SELECT		
      --                  --TOP ( @PageSize )
						--			ROW_NUMBER() OVER ( ORDER BY OrderSetItemTrans.DeliveryDate ASC , OASrNo DESC ) AS RowNo ,
      --                              CONVERT(VARCHAR(20), OrderSetItemTrans.DeliveryDate, 106) AS DeliveryDate ,
      --                              CustomerMaster.CustomerName ,
      --                              CastingMaster.CastingName ,
      --                              CastingMaster.CastingCode ,
      --                              OrderMaster.CustomerOrderNo ,
      --                              OrderMaster.OASrNo ,
      --                              CONVERT(VARCHAR(11), OrderMaster.OrderDate, 106) AS OrderDate ,
      --                              MetalMaster.MetalName Metal ,
      --                              ( OrderSetItemTrans.RequiredQty
      --                                * SetCastingMapping.Qty ) RequiredQty ,
      --                              ISNULL(DispatchTable.DispatchQty,
      --                                     0) AS dispatchqty ,
      --                                     ( OrderSetItemTrans.RequiredQty
      --                                * SetCastingMapping.Qty )
      --                              - ISNULL(DispatchTable.DispatchQty,
      --                                     0) AS PendingQty ,
      --                              OrderSetItemTrans.IsShortclose ,
      --                              CastingStock.stock ,
      --                              CAST(OrderSetItemTrans.SetWeight AS DECIMAL(18,
      --                                        3)) AS ApproxWeight ,
      --                              CAST(( OrderSetItemTrans.RequiredQty
      --                                     - ISNULL(DispatchTable.DispatchQty,
      --                                     0) )
      --                              * OrderSetItemTrans.SetWeight AS DECIMAL(18,
      --                                        3)) AS TotalNetWeight ,
      --                              CAST(( OrderSetItemTrans.RequiredQty
      --                                     - ISNULL(DispatchTable.DispatchQty,
      --                                     0) )
      --                              * CastingMetal.GrossWeight AS DECIMAL(18,
      --                                        3)) AS TotalGrossWeight ,
      --                              CAST (( OrderSetItemTrans.RequiredQty
      --                                      - ISNULL(DispatchTable.DispatchQty,
      --                                     0) )
      --                              * OrderSetItemTrans.CustomerRate AS DECIMAL(18,
      --                                        3)) AS TotalValue
      --                  FROM		dbo.OrderSetItemTrans
      --                              INNER JOIN SetCastingMapping ON dbo.SetCastingMapping.SetId = dbo.OrderSetItemTrans.SetId
      --                              INNER JOIN CastingMaster ON SetCastingMapping.CastingId = CastingMaster.CastingId
      --                              INNER JOIN MetalMaster ON MetalMaster.MetalId = SetCastingMapping.MetalId
      --                              INNER JOIN CastingMetal ON CastingMaster.Castingid = CastingMetal.CastingID
      --                                        AND MetalMaster.MetalID = CastingMetal.MetalID
      --                              INNER JOIN OrderMaster ON OrderSetItemTrans.CustomerOrderId = OrderMaster.CustomerOrderId
      --                              INNER JOIN CustomerMaster ON OrderMaster.CustomerID = CustomerMaster.CustomerId
      --                              INNER JOIN ( 
      --                                        SELECT
      --                                        SUM(stock) AS stock , castingid , MetalID
      --                                        FROM dbo.CastingGradeStock
      --                                        GROUP BY CastingId , MetalID
      --                              ) AS CastingStock ON CastingMaster.CastingId = CastingStock.castingid
      --                                        AND CastingStock.MetalID = dbo.SetCastingMapping.MetalID
						--			LEFT JOIN (
						--					SELECT		dbo.DispatchSetItemTrans.OrderSetItemTransID,
						--								dbo.DispatchSetCasting.CastingId,
						--								SUM(DispatchedQty) AS DispatchQty
						--					FROM		dbo.DispatchSetItemTrans
						--								INNER JOIN dbo.DispatchSetCasting
						--								ON dbo.DispatchSetCasting.DispatchSetItemTransID = dbo.DispatchSetItemTrans.DispatchSetItemTransID
						--								INNER JOIN dbo.dispatchmaster
						--								ON dbo.dispatchmaster.DispatchID = dbo.DispatchSetItemTrans.DispatchId
						--					WHERE		dbo.DispatchSetCasting.ISDeleted = 0
						--								AND dbo.DispatchSetItemTrans.IsDeleted = 0
						--								AND dbo.dispatchmaster.IsDeleted = 0
						--								AND isProforma = 0
						--					GROUP BY	dbo.DispatchSetItemTrans.OrderSetItemTransID,
						--								dbo.DispatchSetCasting.CastingId
						--			) AS DispatchTable ON DispatchTable.CastingId = dbo.CastingMaster.CastingId
						--					AND DispatchTable.OrderSetItemTransID = dbo.OrderSetItemTrans.OrderSetItemTransID
      --                  WHERE		( OrderMaster.maxversion = 1 )
      --                              AND ( OrderSetItemTrans.IsDelivered = 0 )
      --                              AND OrderMaster.IsScheduled = 0
      --                              AND ( OrderSetItemTrans.DeliveryDate BETWEEN @DeliveryDateFrom AND @DeliveryDateTo )
      --                              AND ( @CustomerID IS NULL
      --                                    OR OrderMaster.CustomerID = @CustomerID
      --                                  )
      --                              AND ( @CastingId IS NULL
      --                                    OR CastingMaster.CastingId = @CastingId
      --                                  )
      --                              AND ( @CastingName IS NULL
      --                                    OR dbo.CastingMaster.CastingName = @CastingName
      --                                  )
      --                              AND ( @CustomerOrderID IS NULL
      --                                    OR dbo.OrderMaster.CustomerOrderId = @CustomerOrderID
      --                                  )
      --                              AND dbo.CustomerMaster.IsDeleted = 0
      --                              AND CastingMaster.IsDeleted = 0
      --                              AND OrderSetItemTrans.IsDeleted = 0
      --                              AND OrderSetItemTrans.IsShortclose = 0
						--ORDER BY OrderTranse.DeliveryDate ASC
                
        
END

GO
