USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SelectLedger]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Bhumin>
-- Create date: <Create Date,,27-08-2020>
-- Description:	<Description,,To insert ledger group>
-- =============================================
CREATE PROCEDURE [dbo].[SelectLedger]
	@LedgerGroup varchar(500)	,
	@entityId int,
	@IsPurchaseGroup int =0 -- sales-0, purchase - 1 
AS
    BEGIN 
       declare @SalesGroup varchar(50 ) = 'Sales Accounts'
	   declare @PurchaseGroup varchar(50 ) = 'Purchase Accounts'
       Select	ChargeId as LedgerId ,ChargeName as   LedgerName ,Taxper,LedgerGroup.LedgerGroupName
				,PreDefineTaxesDuties.TaxValue,
				case when isnull(GSTNatureOfTransaction.TallyEnum,0) = 31 and LedgerMaster.Taxability != 1 
				then 0 else 1 end as IsTaxMatch  ,IsCostCenterApplicable
       from		LedgerMaster 
			   INNER JOIN LedgerGroup on LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId		
			   LEFT JOIN LedgerGroup AS PrimLedgerGroup on PrimLedgerGroup.LedgerGroupId = LedgerGroup.PrimaryUnderUniqueID
			   LEFT JOIN PreDefineTaxesDuties ON PreDefineTaxesDuties.TaxValue = LedgerMaster.UnderTaxation 
			   Left join GSTNatureOfTransaction on GSTNatureOfTransaction.id = LedgerMaster.NatureOfTransaction
       where 
       --LedgerMaster.EntityID = @entityId 
       --and 
       LedgerMaster.Isdeleted = 0
         and  IsStockAffect = 1  
      --and(@IsPurchaseGroup= 0 or LedgerGroup.LedgerGroupName not  in (Select * From SplitString( @SalesGeoup ,',' )))
      -- and(@IsPurchaseGroup= 1 or LedgerGroup.LedgerGroupName   in (Select * From SplitString( @SalesGeoup ,',' )) )
	  	 AND (
			(	@IsPurchaseGroup= 0 
				AND ((ISNULL(LedgerGroup.LedgerGroupName, '') NOT in (Select LedgerGroupName From LedgerGroup where LedgerGroupName = @PurchaseGroup ))
					and (ISNULL(PrimLedgerGroup.LedgerGroupName, '') NOT in (Select LedgerGroupName From LedgerGroup where LedgerGroupName = @PurchaseGroup ))
				)
			)
			OR  
			(@IsPurchaseGroup= 1 
				AND (ISNULL(LedgerGroup.LedgerGroupName, '') NOT in (Select LedgerGroupName From LedgerGroup where LedgerGroupName = @SalesGroup )
					AND ISNULL(PrimLedgerGroup.LedgerGroupName, '') NOT in (Select LedgerGroupName From LedgerGroup where LedgerGroupName = @SalesGroup )
				)
			)
		 )		       
          
    END
          




GO
