USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[temp]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[temp]
    @DispatchID INT = NULL ,
    @Parameter INT = 0 ,
    @CustomerId VARCHAR(15) = NULL
AS
    BEGIN
        SELECT  DispatchID ,
                Dispatchslipno
        FROM    dispatchmaster
        WHERE   ( DispatchID = @DispatchID )

        SELECT  CustomerId ,
                CustomerName
        FROM    CustomerMaster
        WHERE   ( CustomerId = @CustomerId )
    END
GO
