USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SpectroServiceConfig]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Harshad Chauhan>
-- Create date: <28 Feb 2025>
-- Description:	<>
-- =============================================
CREATE   PROCEDURE [dbo].[SpectroServiceConfig]
	-- Add the parameters for the stored procedure here
(
	@Parameter INT = 0,
	@MachineName NVARCHAR(200) = NULL,
	@FolderPath NVARCHAR(MAX) = NULL,
	
	@IsConfigUpdate BIT = 0,
	@ClientSpectroKey NVARCHAR(MAX) = NULL,
	@TxtValueRowStartText NVARCHAR(MAX) = NULL,
	@TxtElementStartIndex NVARCHAR(MAX) = NULL,
	@TxtSampleNoIndex NVARCHAR(MAX) = NULL
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@Parameter = 1)
	BEGIN
		SELECT * FROM SpectroServiceConfiguration
		WHERE MachineName = ISNULL(@MachineName, '')
	END
	ELSE IF(@Parameter = 2)
	BEGIN
		IF(@IsConfigUpdate = 1)
		BEGIN
			IF EXISTS(SELECT 1 FROM SpectroServiceConfiguration WHERE MachineName = ISNULL(@MachineName, ''))
			BEGIN
				UPDATE	SpectroServiceConfiguration 
				SET		ClientSpectroKey = @ClientSpectroKey,
						TxtValueRowStartText = @TxtValueRowStartText,
						TxtElementStartIndex = @TxtElementStartIndex,
						TxtSampleNoIndex = @TxtSampleNoIndex
				WHERE	MachineName = ISNULL(@MachineName, '')
			END
			ELSE
			BEGIN
				INSERT INTO SpectroServiceConfiguration(MachineName, ClientSpectroKey, TxtValueRowStartText
								, TxtElementStartIndex, TxtSampleNoIndex)
					VALUES(@MachineName, @ClientSpectroKey, @TxtValueRowStartText, @TxtElementStartIndex, @TxtSampleNoIndex)
			END
		END
		ELSE
		BEGIN
			IF EXISTS(SELECT 1 FROM SpectroServiceConfiguration WHERE MachineName = ISNULL(@MachineName, ''))
			BEGIN
				UPDATE SpectroServiceConfiguration SET FolderPath = @FolderPath WHERE MachineName = ISNULL(@MachineName, '')
			END
			ELSE
			BEGIN
				INSERT INTO SpectroServiceConfiguration(MachineName, FolderPath)
					VALUES(@MachineName, @FolderPath)
			END
		END
	END
	
	ELSE IF @Parameter =  3
        BEGIN
	
			select permitir from permitir where Code='CELL'
        END
		
	ELSE IF @Parameter =  4
        BEGIN
			SELECT TOP 1 * FROM [configuration]
        END
            
END
GO
