USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ExportInvoice_TaxUpdate]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ExportInvoice_TaxUpdate]

@DispatchID int = 0,
@SalesAgainstFormExport Nvarchar(100) = NULL,
@CurrencyMultiplier DECIMAL(18,2) = 1,
@IsExport int = 1,
@DispatchInsert int = 0
AS
BEGIN
	
	BEGIN TRY
	BEGIN TRANSACTION ExportInvoice_TaxUpdate
	
	IF @IsExport = 1 and @DispatchInsert = 0
	BEGIN
			
			   DECLARE @DOC_SrNo INT = 0, @DOC_ChargeId UNIQUEIDENTIFIER = NULL, @DOC_ChargePer DECIMAL(18, 2) = 0, @DOC_ChargeAmount DECIMAL(18, 3) = 0
					, @DOC_FinalChargeAmount DECIMAL(18, 2) = 0, @ChargePer DECIMAL(18, 2) = null
					, @DOC_IsRoundOff BIT = 0, @DOC_ApplyTaxForExport BIT = 0, @DOC_IsRoundOffVal INT = 0,
					@EntityID int = 0,--@TaxbleInCurrency FLOAT = 0,
					 @TaxableAmount FLOAT = 0,
					@DispatchOtherChargeID UNIQUEIDENTIFIER = NULL,
					 @GrandTotalDispatch DECIMAL(18, 2) = 0 , @DOC_ChargeAmountwoOther DECIMAL(18, 3) = 0
				
				
				
				select	@EntityID = EntityID,
						@TaxableAmount = TaxableAmount,
						@GrandTotalDispatch = GrossAmount  
				from	dispatchmaster 
				where	DispatchID = @DispatchID
				
				Declare @InvoiceTaxable INT = ( SELECT	InvoiceTaxable
														 FROM   dbo.configuration
														 where EntityID = @EntityID
													   )
				Declare @InvoiceTaxableRate FLOAT = ( SELECT	InvoiceTaxableRate
														 FROM   dbo.configuration
														 where EntityID = @EntityID
													   )
			                
				if (
						select distinct count(igst) from(
						select DISTINCT DT.HSNIGST as igst from dispatchtrans  as DT
						--left join HSNGSTMapping as HGSTM on DT.TariffCode = HGSTM.HSNCode
						--left join TaxMaster as TM on TM.TaxTemplateId = HGSTM.TaxTemplateId
						where DT.dispatchid = @DispatchID and DT.IsDeleted = 0
						UNION
						select DISTINCT  DT.HSNIGST as igst from DispatchServiceItemTrans as DT
						--left join HSNGSTMapping as HGSTM on DT.TariffCode = HGSTM.HSNCode
						--left join TaxMaster as TM on TM.TaxTemplateId = HGSTM.TaxTemplateId
						where DT.IsDeleted = 0 AND DT.dispatchid = @DispatchID) as a
				) <= 1
				BEGIN
					set @ChargePer = (	SELECT TOP 1 IGST FROM (
											select DISTINCT DT.HSNIGST as IGST from dispatchtrans  as DT
											--left join HSNGSTMapping as HGSTM on DT.TariffCode = HGSTM.HSNCode
											--left join TaxMaster as TM on TM.TaxTemplateId = HGSTM.TaxTemplateId
											where DT.dispatchid =@DispatchID and DT.IsDeleted = 0
											UNION
											select DISTINCT DT.HSNIGST as IGST from DispatchServiceItemTrans as DT
											--left join HSNGSTMapping as HGSTM on DT.TariffCode = HGSTM.HSNCode
											--left join TaxMaster as TM on TM.TaxTemplateId = HGSTM.TaxTemplateId
											where DT.IsDeleted = 0 AND DT.dispatchid =@DispatchID
										) AS Final
									)
									
									--SET @InvoiceTaxableRate = @ChargePer
				END	
				IF @InvoiceTaxable = 2
				BEGIN
					set @InvoiceTaxableRate = 
						(	SELECT Max(IGST) FROM (
								select DISTINCT DT.HSNIGST as IGST from dispatchtrans  as DT
								--left join HSNGSTMapping as HGSTM on DT.TariffCode = HGSTM.HSNCode
								--left join TaxMaster as TM on TM.TaxTemplateId = HGSTM.TaxTemplateId
								where DT.dispatchid = @DispatchID and DT.IsDeleted = 0
								UNION
								select DISTINCT  DT.HSNIGST as IGST from DispatchServiceItemTrans as DT
								--left join HSNGSTMapping as HGSTM on DT.TariffCode = HGSTM.HSNCode
								--left join TaxMaster as TM on TM.TaxTemplateId = HGSTM.TaxTemplateId
								where DT.IsDeleted = 0 AND DT.dispatchid = @DispatchID
							) AS Final
						)
												
				END	
			 
						Update 
						DispatchOtherCharges
						SET
						ChargePer = null,
						ChargeAmount = null,
						ChargeAmountInCurrency = null	
						from DispatchOtherCharges 
						inner Join LedgerMaster on LedgerMaster.ChargeId = DispatchOtherCharges.ChargeId
						Where 
						DispatchID = @DispatchID
						And ApplyTaxForExport = 1
		    
			DECLARE Cur_DispatchOtherCharges CURSOR
			FOR
				SELECT	
						DispatchOtherCharges.ChargeID ,
						Dt.hsnIGST as ChargePer ,  
						Dt.TotalAmtWithChargeAmtInCurrency *@CurrencyMultiplier as ChargeAmount,
						DispatchOtherChargesid,
						--Dt.TotalAmountInCurrency
						Dt.TotalAmountWithDiscountInCurrency*@CurrencyMultiplier
				FROM    DispatchOtherCharges
						inner Join LedgerMaster on LedgerMaster.ChargeId = DispatchOtherCharges.ChargeId
						 
						Inner Join dispatchtrans  as DT on DT.dispatchId = DispatchOtherCharges.dispatchId
				where	DT.dispatchid = @DispatchID
						And ApplyTaxForExport = 1
						and @SalesAgainstFormExport = 'Rebate'
						and DT.IsDeleted = 0
				UNION All
				SELECT	
						DispatchOtherCharges.ChargeID ,
						Dt.hsnIGST as ChargePer ,  
						Dt.TotalAmtWithChargeAmtInCurrency*@CurrencyMultiplier as ChargeAmount,
						DispatchOtherChargesid,
						---Dt.TotalAmountInCurrency
						Dt.TotalAmountWithDiscountInCurrency*@CurrencyMultiplier 
				from	DispatchOtherCharges
						inner Join LedgerMaster on LedgerMaster.ChargeId = DispatchOtherCharges.ChargeId
						Inner Join DispatchServiceItemTrans as DT on DT.dispatchId = DispatchOtherCharges.dispatchId
				where	DT.IsDeleted = 0 AND DT.dispatchid = @DispatchID
						And ApplyTaxForExport = 1
						and @SalesAgainstFormExport = 'Rebate'
			OPEN Cur_DispatchOtherCharges;

			FETCH NEXT FROM Cur_DispatchOtherCharges INTO  @DOC_ChargeId, @DOC_ChargePer, @DOC_ChargeAmount,@DispatchOtherChargeID,
			@DOC_ChargeAmountwoOther
			WHILE ( @@FETCH_STATUS = 0 )
			BEGIN
						        
				SELECT	@DOC_IsRoundOff = ISNULL(IsRoundOff, 0), @DOC_ApplyTaxForExport = ISNULL(ApplyTaxForExport, 0)
				FROM	LedgerMaster WHERE ChargeId = @DOC_ChargeId
				
				SET @DOC_IsRoundOffVal = (CASE WHEN @DOC_IsRoundOff = 1 THEN 0 ELSE 2 END)

				if(@InvoiceTaxable = 0)
				BEGIN
					SET @DOC_FinalChargeAmount = Round((Round(@DOC_ChargeAmount,2)*@DOC_ChargePer/100) ,2)
						
				END
				ELSE 
				BEGIN
					SET @DOC_FinalChargeAmount = Round((Round(@DOC_ChargeAmountWoOther,2)*@DOC_ChargePer/100)  + ((Round(@DOC_ChargeAmount,2) - round(@DOC_ChargeAmountWoOther,2))*@InvoiceTaxableRate/100) ,2)
				End	
					
				IF @SalesAgainstFormExport = 'Rebate' AND  @DOC_ApplyTaxForExport = 1
				BEGIN
					Update 
					DispatchOtherCharges
					SET
					ChargePer = (CASE WHEN @IsExport = 1 AND @DOC_ApplyTaxForExport = 1 AND @SalesAgainstFormExport = 'Rebate' THEN @ChargePer ELSE @DOC_ChargePer END),
					ChargeAmount =isnull(ChargeAmount,0)+ (CASE WHEN (@IsExport = 1 AND @DOC_ApplyTaxForExport = 0) THEN ROUND((@DOC_FinalChargeAmount ), 2)
							else ROUND((@DOC_FinalChargeAmount),2) END),
					ChargeAmountInCurrency = isnull(ChargeAmountInCurrency,0) + (CASE WHEN @IsExport = 1 THEN (CASE WHEN @DOC_ApplyTaxForExport = 1 THEN NULL ELSE @DOC_FinalChargeAmount END) END)
						
					Where 
					DispatchID = @DispatchID
					and DispatchOtherChargesid = @DispatchOtherChargeID	
					
				END
				
		        
				FETCH NEXT FROM Cur_DispatchOtherCharges INTO  @DOC_ChargeId, @DOC_ChargePer, @DOC_ChargeAmount,@DispatchOtherChargeID,
				@DOC_ChargeAmountwoOther
			END 

			CLOSE Cur_DispatchOtherCharges;
			DEALLOCATE Cur_DispatchOtherCharges;
		    		
			update DispatchOtherCharges set ChargeAmount = ROUND(ChargeAmountInCurrency * @CurrencyMultiplier,2)
			From DispatchOtherCharges
			inner join dispatchmaster on dispatchmaster.DispatchID = DispatchOtherCharges.DispatchId
			inner Join LedgerMaster on LedgerMaster.ChargeId = DispatchOtherCharges.ChargeId
			left join TaxSequenceTemplateMaster on TaxSequenceTemplateMaster.TaxLedgerTemplateID = dispatchmaster.TaxLedgerTemplateID and CalculationID != 5
			Where DispatchOtherCharges.DispatchId= @DispatchID
			and ApplyTaxForExport = 0
			--and 
			
			
			--IF @InvoiceTaxableRate > 0 OR @ChargePer > 0
			--BEGIN
			--update DispatchOtherCharges set ChargePer = CASE WHEN @ChargePer > 0 THEN @ChargePer  ELSE @InvoiceTaxableRate END
			--From DispatchOtherCharges
			--inner Join LedgerMaster on LedgerMaster.ChargeId = DispatchOtherCharges.ChargeId
			--INNER JOIN LedgerGroup on LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId  
			--Where DispatchId= @DispatchID
			--    and LedgerMaster.ApplyTaxForExport = 0
			--    And DispatchOtherCharges.SrNo < (isnull((Select MIN(DispatchOtherCharges.SrNo) 
			--														from DispatchOtherCharges inner join LedgerMaster on DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId
			--														where DispatchOtherCharges.DispatchId = @DispatchID
			--														and UnderTaxation in (1,2,3)),0) )
			--END
			
			
    Declare
    @OtherChargeAmount DECIMAL(18, 2) = 0 ,
    @SubTotal DECIMAL(18, 2) = 0 ,
    @TmpSbTotal DECIMAL(18, 2) = 0 ,
    @DiffsRnd DECIMAL(18, 2) = 0,
    @TotalAmountInCurrency FLOAT = NULL
    
    
			 DECLARE @DisplayCurrencyRoundOff BIT = ( SELECT DisplayCurrencyRoundOff
                                             FROM   dbo.configuration
                                             where EntityID = @EntityID
                                           )  
	
    IF ( @IsExport = 1 ) 
        BEGIN
                
            SET @OtherChargeAmount = ( SELECT   ISNULL(SUM(ISNULL(ChargeAmount, 0)), 0) AS ChargeAmount
                                       FROM     DispatchOtherCharges
                                       WHERE    DispatchId = @DispatchID
                                     )
										
            SET @SubTotal = ( (@OtherChargeAmount + @GrandTotalDispatch) );
				
            IF ( @DisplayCurrencyRoundOff = 1 )
                BEGIN
				
                    SET @TmpSbTotal = ( SELECT FLOOR(@SubTotal) )--( SELECT ROUND(@SubTotal, 0) ) -- (CAST(@SubTotal AS INT));
				
                    IF ( @SubTotal > @TmpSbTotal )
                        BEGIN
														
                            SET @DiffsRnd = @SubTotal - @TmpSbTotal
                            IF ( @DiffsRnd >= 0.5 )
                                BEGIN
                                    SET @DiffsRnd = ( @TmpSbTotal + 1 )
                                        - @SubTotal;
                                    SET @SubTotal = @TmpSbTotal + 1
							
                                END
                            ELSE
                                BEGIN
                                    SET @DiffsRnd = ( @TmpSbTotal
                                                      - @SubTotal );
                                    SET @SubTotal = @TmpSbTotal									
                                END
                        END
                    ELSE
                        BEGIN
                            SET @DiffsRnd = @TmpSbTotal - @SubTotal;
                            IF ( @DiffsRnd >= 0.5 )
                                BEGIN
                                    SET @DiffsRnd = ( @SubTotal + 1 )
                                        - @TmpSbTotal;
                                    SET @SubTotal = @SubTotal + 1
							
                                END
                            ELSE
                                BEGIN
                                    SET @DiffsRnd = @SubTotal
                                        - @TmpSbTotal;
                                    SET @SubTotal = @SubTotal									
                                END
                        END
				
					
                END
				
				--set @SubTotal= (Convert.ToDouble(Net_Amount.ToString('f0')) - Net_Amount).ToString('f2');
            SET @TotalAmountInCurrency = CASE WHEN ( @DisplayCurrencyRoundOff = 0 )
                                              THEN 
                                              --@GrandTotalDispatch 
                                              --(@OtherChargeAmount + @GrandTotalDispatch)
                                                   @SubTotal
                                              ELSE
                                            --  (@OtherChargeAmount + @GrandTotalDispatch) 
                                                   ( @SubTotal )
                                             -- @GrandTotalDispatch
                                              --( @TotalAmount* @CurrencyMultiplier)
                                         END 
            
            UPDATE  dbo.dispatchmaster
            SET     
                    TotalAmount = @TotalAmountInCurrency ,
                    RoundOff = @DiffsRnd
            WHERE   DispatchID = @DispatchID
            
              
        END  
	END
	
	
            
          COMMIT TRANSACTION ExportInvoice_TaxUpdate
          END TRY
          BEGIN CATCH
          
          ROLLBACK TRANSACTION ExportInvoice_TaxUpdate
          
          END CATCH
            
END

GO
