USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[RT_Inspection_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[RT_Inspection_Register]
   @Parameter INT = 0 ,     
	@PlantIdString VARCHAR(MAX) = NULL ,  
	   @TotalRecords INT = 0 ,
    @InitialLoad INT = 0 ,
    @PageNumber INT = 0 ,
    @PageSize INT = 0 ,
	   @StartDate DATE = NULL ,
    @EndDate DATE = NULL , 
    
    @CastingName VARCHAR(MAX) = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
   @RTID INT = 0 ,
    @MetalID INT = 0 ,
    @EntityId INT = 0 
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	         IF @Parameter = 1--For Register
            BEGIN
                IF @InitialLoad = 1
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT TOP ( @PageSize )
                                            ROW_NUMBER() OVER ( ORDER BY RTMaster.Createdon DESC ) AS RowNo ,
                                            RTMaster.RTID AS RTID ,
                                            ( ISNULL(RTMaster.Prefix, '')
                                              + ISNULL(RTMaster.Separator, '')
                                              + RTMaster.RTNo
                                              + ISNULL(RTMaster.Separator, '')
                                              + ISNULL(RTMaster.Suffix, '') ) AS RTNo ,
                                            CastingName ,
                                            CastingCode ,
                                            CONVERT(VARCHAR(11), RTMaster.RTDate, 106) AS RTDate ,
                                            EntryNo ,
                                            batchno AS HeatWise ,
                                            M1.Parameter AS SourceStrength ,
                                            M2.Parameter AS Screen ,
                                            M3.Parameter AS Technique ,
                                            M4.Parameter AS Acceptance ,
                                            M5.Parameter AS Film ,
                                            M6.Parameter AS SourceSize ,
                                            M7.Parameter AS LeadFront ,
                                            M8.Parameter AS LeadBack ,
                                            M9.Parameter AS TestedArea ,
                                            M10.Parameter AS Evaluation ,
                                            M11.Parameter AS ProcedureRef
                                  FROM      RTMaster
                                            INNER JOIN CastingMaster ON RTMaster.CastingID = CastingMaster.CastingId
                                            INNER JOIN CastingStockBatch ON CastingStockBatch.batchID = RTMaster.BatchId
                                            INNER JOIN ProductionBatch ON ProductionBatch.batchID = CastingStockBatch.productionbatchID
                                            LEFT JOIN RTInspectionParameter AS M1 ON M1.id = RTMaster.SourceStrength
                                            LEFT JOIN RTInspectionParameter AS M2 ON M2.id = RTMaster.Sceen
                                            LEFT JOIN RTInspectionParameter AS M3 ON M3.id = RTMaster.Technique
                                            LEFT JOIN RTInspectionParameter AS M4 ON M4.id = RTMaster.Acceptance
                                            LEFT JOIN RTInspectionParameter AS M5 ON M5.id = RTMaster.Film
                                            LEFT JOIN RTInspectionParameter AS M6 ON M6.id = RTMaster.SourceSize
                                            LEFT JOIN RTInspectionParameter AS M7 ON M7.id = RTMaster.LeadThicknessFront
                                            LEFT JOIN RTInspectionParameter AS M8 ON M8.id = RTMaster.LeadThicknessBack
                                            LEFT JOIN RTInspectionParameter AS M9 ON M9.id = RTMaster.TestedAreaRT
                                            LEFT JOIN RTInspectionParameter AS M10 ON M10.id = RTMaster.Evaluation
                                            LEFT JOIN RTInspectionParameter AS M11 ON M11.id = RTMaster.ProcedureRef
                                  WHERE     ( RTMaster.Isdeleted IS NULL
                                              OR RTMaster.Isdeleted = 0
                                            )
                                            AND ( @CastingID IS NULL
                                                  OR RTMaster.CastingID = @CastingID
                                                )
                                            AND ( @RTID IS NULL
                                                  OR @RTID = 0
                                                  OR RTMaster.RTId = @RTID
                                                )
                                            AND ( RTMaster.RTDate BETWEEN @StartDate AND @EndDate )
                                            AND ( @CastingName IS NULL
                                                  OR CastingMaster.CastingName = @CastingName
                                                )
                                            --AND ( @PlantIdString IS NULL
                                            --      OR @PlantIdString = ''
                                            --      OR RTMaster.CastingId IN (
                                            --      SELECT    CastingId
                                            --      FROM      dbo.PlantCastingMapping
                                            --                INNER JOIN dbo.SplitString(@PlantIdString,
                                            --                  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                                            --    )
                                            
                                            AND RTMaster.EntityID = @EntityId
                                            ------------Plant------------------
                                             AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR RTMaster.PlantID in(select Item from
																@plant)
                                                )
                                            -------------------------------
                                ) AS ProcessPerform
                        ORDER BY RowNo 
    
    
                    END					
                ELSE
                    BEGIN
                        SELECT  *
                        FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY RTMaster.Createdon DESC ) AS RowNo ,
                                            RTMaster.RTID AS RTID ,
                                            ( ISNULL(RTMaster.Prefix, '')
                                              + ISNULL(RTMaster.Separator, '')
                                              + RTMaster.RTNo
                                              + ISNULL(RTMaster.Separator, '')
                                              + ISNULL(RTMaster.Suffix, '') ) AS RTNo ,
                                            CastingName ,
                                            CastingCode ,
                                            CONVERT(VARCHAR(11), RTMaster.RTDate, 106) AS RTDate ,
                                            EntryNo ,
                                            batchno AS HeatWise ,
                                            M1.Parameter AS SourceStrength ,
                                            M2.Parameter AS Screen ,
                                            M3.Parameter AS Technique ,
                                            M4.Parameter AS Acceptance ,
                                            M5.Parameter AS Film ,
                                            M6.Parameter AS SourceSize ,
                                            M7.Parameter AS LeadFront ,
                                            M8.Parameter AS LeadBack ,
                                            M9.Parameter AS TestedArea ,
                                            M10.Parameter AS Evaluation ,
                                            M11.Parameter AS ProcedureRef
                                  FROM      RTMaster
                                            INNER JOIN CastingMaster ON RTMaster.CastingID = CastingMaster.CastingId
                                            INNER JOIN CastingStockBatch ON CastingStockBatch.batchID = RTMaster.BatchId
                                            INNER JOIN ProductionBatch ON ProductionBatch.batchID = CastingStockBatch.productionbatchID
                                            LEFT JOIN RTInspectionParameter AS M1 ON M1.id = RTMaster.SourceStrength
                                            LEFT JOIN RTInspectionParameter AS M2 ON M2.id = RTMaster.Sceen
                                            LEFT JOIN RTInspectionParameter AS M3 ON M3.id = RTMaster.Technique
                                            LEFT JOIN RTInspectionParameter AS M4 ON M4.id = RTMaster.Acceptance
                                            LEFT JOIN RTInspectionParameter AS M5 ON M5.id = RTMaster.Film
                                            LEFT JOIN RTInspectionParameter AS M6 ON M6.id = RTMaster.SourceSize
                                            LEFT JOIN RTInspectionParameter AS M7 ON M7.id = RTMaster.LeadThicknessFront
                                            LEFT JOIN RTInspectionParameter AS M8 ON M8.id = RTMaster.LeadThicknessBack
                                            LEFT JOIN RTInspectionParameter AS M9 ON M9.id = RTMaster.TestedAreaRT
                                            LEFT JOIN RTInspectionParameter AS M10 ON M10.id = RTMaster.Evaluation
                                            LEFT JOIN RTInspectionParameter AS M11 ON M11.id = RTMaster.ProcedureRef
                                  WHERE     ( RTMaster.Isdeleted IS NULL
                                              OR RTMaster.Isdeleted = 0
                                            )
                                            AND ( @castingID IS NULL
                                                  OR RTMaster.CastingID = @CastingID
                                                )
                                            AND ( @RTID IS NULL
                                                  OR @RTID = 0
                                                  OR RTMaster.RTId = @RTID
                                                )
                                            AND ( RTMaster.RTDate BETWEEN @StartDate AND @EndDate )
                                            AND ( @CastingName IS NULL
                                                  OR CastingMaster.CastingName = @CastingName
                                                )
                                            --AND ( @PlantIdString IS NULL
                                            --      OR @PlantIdString = ''
                                            --      OR RTMaster.CastingId IN (
                                            --      SELECT    CastingId
                                            --      FROM      dbo.PlantCastingMapping
                                            --                INNER JOIN dbo.SplitString(@PlantIdString,
                                            --                  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                                            --    )
                                            AND RTMaster.EntityID = @EntityId
                                             ------------Plant------------------
                                            AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR RTMaster.PlantID in(select Item from
																 @Plant)
                                                )
                                            -------------------------------
                                ) AS ProcessPerform
                        ORDER BY RowNo 
                    END
		

            END
   
        IF @Parameter = 2 --Fetch Total Records
            BEGIN
    
                SET @TotalRecords = ( SELECT    COUNT(RTMaster.RTID)
                                      FROM      RTMaster
                                                INNER JOIN CastingMaster ON RTMaster.CastingID = CastingMaster.CastingId
                                                INNER JOIN CastingStockBatch ON CastingStockBatch.batchID = RTMaster.BatchId
                                                INNER JOIN ProductionBatch ON ProductionBatch.batchID = CastingStockBatch.productionbatchID
                                                LEFT JOIN RTInspectionParameter
                                                AS M1 ON M1.id = RTMaster.SourceStrength
                                                LEFT JOIN RTInspectionParameter
                                                AS M2 ON M2.id = RTMaster.Sceen
                                                LEFT JOIN RTInspectionParameter
                                                AS M3 ON M3.id = RTMaster.Technique
                                                LEFT JOIN RTInspectionParameter
                                                AS M4 ON M4.id = RTMaster.Acceptance
                                                LEFT JOIN RTInspectionParameter
                                                AS M5 ON M5.id = RTMaster.Film
                                                LEFT JOIN RTInspectionParameter
                                                AS M6 ON M6.id = RTMaster.SourceSize
                                                LEFT JOIN RTInspectionParameter
                                                AS M7 ON M7.id = RTMaster.LeadThicknessFront
                                                LEFT JOIN RTInspectionParameter
                                                AS M8 ON M8.id = RTMaster.LeadThicknessBack
                                                LEFT JOIN RTInspectionParameter
                                                AS M9 ON M9.id = RTMaster.TestedAreaRT
                                                LEFT JOIN RTInspectionParameter
                                                AS M10 ON M10.id = RTMaster.Evaluation
                                                LEFT JOIN RTInspectionParameter
                                                AS M11 ON M11.id = RTMaster.ProcedureRef
                                      WHERE     ( RTMaster.Isdeleted IS NULL
                                                  OR RTMaster.Isdeleted = 0
                                                )
                                                AND ( @castingID IS NULL
                                                      OR RTMaster.CastingID = @CastingID
                                                    )
                                                AND ( @RTID IS NULL
                                                      OR @RTID = 0
                                                      OR RTMaster.RTId = @RTID
                                                    )
                                                AND ( RTMaster.RTDate BETWEEN @StartDate AND @EndDate )
                                                AND ( @CastingName IS NULL
                                                      OR CastingMaster.CastingName = @CastingName
                                                    )
                                                --AND ( @PlantIdString IS NULL
                                                --      OR @PlantIdString = ''
                                                --      OR RTMaster.CastingId IN (
                                                --      SELECT  CastingId
                                                --      FROM    dbo.PlantCastingMapping
                                                --              INNER JOIN dbo.SplitString(@PlantIdString,
                                                --              ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                                                --    )
                                                AND RTMaster.EntityID = @EntityId
                                                 ------------Plant------------------
												AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR RTMaster.PlantID in(select Item from
																 @Plant)
                                                )
                                            -------------------------------
                                    )  
                RETURN @TotalRecords
    
            END
    
END
GO
