USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ItemWiseCostCenter_Select]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ItemWiseCostCenter_Select]
 @PurchaseItemId UNIQUEIDENTIFIER = NULL,
 @EntityId int=0,
 @Parameter int = 1,
 @IssueTransId UNIQUEIDENTIFIER = NULL
AS
BEGIN

IF @Parameter = 1
BEGIN	
select 
CostCenterMasterNew.CostCenterId,
CostCenter,
CAST(0 as decimal(18,3)) as Cost 
from 
CostCenterItemMapping
INNER JOIN CostCenterMasterNew ON CostCenterMasterNew.CostCenterId = CostCenterItemMapping.CostCenterId
INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = CostCenterItemMapping.PurchaseItemId
where
CostCenterItemMapping.PurchaseItemId = @PurchaseItemId
and
PurchaseItemMaster.IsIssueAsConsumed = 1
END
ELSE IF @Parameter = 2
BEGIN
select 
CostCenterMasterNew.CostCenterId,
CostCenter,
ISNULL(SUM(MaterialIssueCostCenterDet.Qty),0) as Cost 
from 
CostCenterItemMapping
INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = CostCenterItemMapping.PurchaseItemId
INNER JOIN CostCenterMasterNew ON CostCenterMasterNew.CostCenterId = CostCenterItemMapping.CostCenterId
LEFT JOIN MaterialIssueCostCenterDet ON MaterialIssueCostCenterDet.CostCenterId = CostCenterItemMapping.CostCenterId and MaterialIssueCostCenterDet.MaterialIssueTransId = @IssueTransId
where
CostCenterItemMapping.PurchaseItemId = @PurchaseItemId
and PurchaseItemMaster.IsIssueAsConsumed = 1
GROUP BY 
CostCenterMasterNew.CostCenterId,
CostCenter


END


END

GO
