USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_RTMaster]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Megha,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RTMaster]
	-- Add the parameters for the stored procedure here
    @Parameter INT = 0 ,
    @RTNo VARCHAR(10) = NULL ,
    @RTDate DATETIME = NULL ,
    @SourceStrength INT = 0 ,
    @Screen INT = 0 ,
    @Technique INT = 0 ,
    @Acceptance INT = 0 ,
    @Film INT = 0 ,
    @SourceSize INT = 0 ,
    @LeadFront INT = 0 ,
    @LeadBack INT = 0 ,
    @TestedArea INT = 0 ,
    @Evaluation INT = 0 ,
    @ProcedureRef INT = 0 ,
    @CreatedBy INT = 0 ,
    @ModifiedBy INT = 0 ,
    @DeletedBy INT = 0 ,
    @EntityId INT = 0 ,
    @EntryNo VARCHAR(20) = NULL ,
    @SeriesId INT = 0 ,
    @Prefix VARCHAR(10) = NULL ,
    @Separator VARCHAR(3) = NULL ,
    @Suffix VARCHAR(10) = NULL ,
    @RTID INT = 0 ,
    @RTTransId INT = 0 ,
    @Location VARCHAR(50) = NULL ,
    @Thick VARCHAR(50) = NULL ,
    @DensityMin VARCHAR(50) = NULL ,
    @DensityMax VARCHAR(50) = NULL ,
    @IQIS VARCHAR(50) = NULL ,
    @IQIF VARCHAR(50) = NULL ,
    @Sensitivity VARCHAR(50) = NULL ,
    @Source VARCHAR(50) = NULL ,
    @SFD VARCHAR(50) = NULL ,
    @FilmSize1 FLOAT = 0 ,
    @FilmSize2 FLOAT = 0 ,
    @Finding INT = 0 ,
    @Classification INT = 0 ,
    @Remark VARCHAR(MAX) = 0 ,
    @XMLRTInspDetails AS XML = NULL ,
    @StartDate DATE = NULL ,
    @EndDate DATE = NULL ,
    @TotalRecords INT = 0 ,
    @InitialLoad INT = 0 ,
    @PageNumber INT = 0 ,
    @PageSize INT = 0 ,
    @CastingName VARCHAR(MAX) = NULL ,
    @DrawingNo VARCHAR(200) = NULL ,
    @MetailId INT = 0 ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @PrintOrderNo BIT = 0,
    @SingleOrderWise int = 0,
    @OrderId UNIQUEIDENTIFIER = NULL ,
    @MetalID int = 0 ,
    @CastingId UNIQUEIDENTIFIER = NULL ,
    @BatchId BIGINT = NULL ,
    @StockbatchID int = 0,
    @FromProcessID UNIQUEIDENTIFIER = NULL,
    @HeatCodeID int = 0,
    @ProcessIDTo UNIQUEIDENTIFIER = null,
    @Createdon date = null,
    @Weight float = 0,
    @EditTime int = 0,
    @ParentCastingID uniqueidentifier = null,
    @OrderWisePouring Bit = 0,
    @OrderTranseID uniqueidentifier = null
    ,@Sequance int = 0,
    @Sequance2 int = 0,
    @IsStockTransReqNot int = 0,
    @IsProcessStockTransfer BIT = 0,
    @PlantId int = 0,
    @InTransit bit = 0,
	@AddOnId1 int = 0
    
AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
    -- Insert statements for procedure here
        IF @Parameter = 1
            BEGIN
				-- Notifiction------					
				Set @OrderWisePouring = (Select permitir.permitir from permitir where Code = 'OWP')      
				
				----------------------
				SET @ProcessIDTo = (Select top 1 ProcessID from ProcessMaster WHERE QCSeq = '1' And AutoProcess = 0 And IsQCProcess = 1 and IsDeleted = 0)

					--Commented by Ritik on 12-06-2025

                --SELECT  @Prefix = Prefix ,
                --        @Suffix = Suffix ,
                --        @Separator = Separator
                --FROM    Prefix_Suffix
                --WHERE   Applydate <= @RTDate
                --        AND PrefixSuffixId = ( SELECT   PrefixSuffixId
                --                               FROM     InvoiceSeries
                --                               WHERE    SeriesId = @SeriesId
                --                             )

				SELECT top 1  @Prefix = Prefix ,
                        @Suffix = Suffix ,
                        @Separator = Separator
                FROM    Prefix_Suffix
                WHERE   Applydate <= @RTDate
                        AND Invoice_SeriesId = @SeriesId
                order by Applydate desc
		
                SET @RTID = ISNULL(( SELECT MAX(RTID)
                                     FROM   RTMaster
                                   ), 0) + 1
                                   
                if exists(Select * from permitir where Code = 'OWP' and permitir = 1)
                BEGIN
					if exists(Select 1 from permitir where Code = 'SPCT' and permitir = 1)
					begin
						set @StockbatchID = (	Select	Batchid from CastingStockBatch
												Where	CastingID = @CastingId
														AND MetalID = @MetalID
														AND ProcessID = @FromProcessID
														AND productionbatchID = @BatchId
														AND	HeatCodeId = @HeatCodeID
														and PlantId = @PlantId
													and EntityId = @EntityId
													and InTransit = @InTransit
													and AddOnId1 = @AddOnId1
											)
						IF @@Error <> 0
                            ROLLBACK TRANSACTION
                    
					end
					else 
					begin
						set @StockbatchID = (	Select	top 1 Batchid from CastingStockBatch
														INNER JOIN	CastingHeatCode On CastingHeatCode.CastingID = CastingStockBatch.CastingID
																	and CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID
																	and CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeId
																	and CastingHeatCode.OrderTranseID = @OrderId
												Where	CastingStockBatch.CastingID = @CastingId
														AND MetalID = @MetalID
														AND ProcessID = @FromProcessID
														AND CastingStockBatch.productionbatchID = @BatchId
														AND	CastingStockBatch.HeatCodeId = @HeatCodeID
														and CastingStockBatch.PlantId = @PlantId
													and CastingStockBatch.EntityId = @EntityId
													and CastingStockBatch.InTransit = @InTransit
													and CastingStockBatch.AddOnId1 = @AddOnId1
														
											)
						IF @@Error <> 0
                            ROLLBACK TRANSACTION
                    
					end
                END
                ELSE
                BEGIN
					set @StockbatchID = (	Select	Batchid from CastingStockBatch
											Where	CastingID = @CastingId
													AND MetalID = @MetalID
													AND ProcessID = @FromProcessID
													AND productionbatchID = @BatchId
													AND	HeatCodeId = ISNULL(@HeatCodeID,0)
													and PlantId = @PlantId
													and EntityId = @EntityId
													and InTransit = @InTransit
													and AddOnId1 = @AddOnId1
											)
					IF @@Error <> 0
                            ROLLBACK TRANSACTION
                    
                END
					INSERT  INTO RTMaster
                        ( RTID ,
                          RTNo ,
                          RTDate ,
                          CastingID ,
                          BatchId ,
                          SourceStrength ,
                          Sceen ,
                          Technique ,
                          Acceptance ,
                          Film ,
                          SourceSize ,
                          LeadThicknessFront ,
                          LeadThicknessBack ,
                          TestedAreaRT ,
                          Evaluation ,
                          ProcedureRef ,
                          CreatedBy ,
                          CreatedOn ,
                          ModifiedBy ,
                          ModifiedOn ,
                          Isdeleted ,
                          DeletedBy ,
                          DeletedOn ,
                          EntityId ,
                          EntryNo ,
                          SeriesId ,
                          Prefix ,
                          Separator ,
                          Suffix ,
                          OrderId ,
                          DrawingNo,
                          PlantId
                        )
                VALUES  ( @RTID ,
                          @RTNo ,
                          @RTDate ,
                          @CastingId ,
                          @StockbatchID ,
                          @SourceStrength ,
                          @Screen ,
                          @Technique ,
                          @Acceptance ,
                          @Film ,
                          @SourceSize ,
                          @LeadFront ,
                          @LeadBack ,
                          @TestedArea ,
                          @Evaluation ,
                          @ProcedureRef ,
                          @CreatedBy ,
                          GETDATE() ,
                          @ModifiedBy ,
                          NULL ,-- ModifiedOn
                          0 ,--Isdeleted
                          @DeletedBy ,
                          NULL , -- DeletedOn
                          @EntityId ,
                          @EntryNo ,
                          @SeriesId ,
                          @Prefix ,
                          @Separator ,
                          @Suffix ,
                          @OrderId ,
                          @DrawingNo,
                          @PlantId
                        )
                     IF @@Error <> 0
                            ROLLBACK TRANSACTION
                       
                    set @Createdon  = GETDATE();
                    set @Weight = (Select top 1 Weight from CastingStockBatch where Batchid = @Stockbatchid)
                    set @HeatCodeId = (Select HeatCodeId from CastingStockBatch where Batchid = @Stockbatchid)
                    
                     -- Notifiction------
					if(@OrderWisePouring = 1)
					BEGIN
							Set @OrderTranseID = @OrderId;
							IF @@Error <> 0
								ROLLBACK TRANSACTION
						END
					--------------------------
                    DECLARE @result2 TABLE ( returnvalue INT );
			    
                    INSERT  INTO @result2
                            ( returnvalue
                            )
                    EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @CastingID,
							@MetalID = @MetalID, 
							@StockToAdd = -1,
							@StockToRej = 0, 
							@ProcessID = @FromProcessID,
							@ProcessTransferTo = @ProcessIDTo,
							@Tagging = N'Process Perform',
							@Process = N'Insert', 
							@ProcessCode = @RTID,
							@productionbatchid = @batchID,
							@ProcessDate = @Createdon, 
							@UserID = @CreatedBy,
							@CastCode_No = NULL,
							@CastingStockBatchID = @StockbatchID,
							@isCastCodeEnable = 0,
							@BatchWeight = @Weight,
							@HeatCodeId = @HeatCodeId,
							@Castingid2 = @CastingID,
							@PlantId = @PlantId,
							@EntityId = @EntityId,
							@AddOnId1 = @AddOnId1
                        
                    IF ( @@Error <> 0
                         OR ( ( SELECT  returnvalue
                                FROM    @result2
                              ) = 1 )
                       )
                        BEGIN
                            ROLLBACK TRANSACTION
                            RETURN -2
                        END
                    IF @@Error <> 0
                        ROLLBACK TRANSACTION
                    
                    -- NOTIFICATION for next process user
				 SET @IsProcessStockTransfer = ( SELECT  permitir
											FROM    permitir
											WHERE   Code = 'PST'
										  ) 
				DECLARE @TempProcess VARCHAR(50) ,
					@NextProcess UNIQUEIDENTIFIER ;
	          
				SET @Sequance = ( SELECT  DISTINCT  Sequence
										  FROM      dbo.CastingProcess
										  WHERE     CastingID = @CastingId
													AND ProcessID = @ProcessIDTo
													AND MetalId = @MetalID
										)
	                    
				if(@OrderWisePouring = 1)
				BEGIN
					Set @Sequance2 = (Select top 1 CastingProcess.Sequence FRom CastingProcess
										inner join ProcessMaster PM On PM.ProcessId = CastingProcess.ProcessID
										where Sequence > @Sequance
										and IsQCProcess = 0
										and CastingID = @castingID
										and MetalId = @MetalID
									  )
					
					
						Set @NextProcess = (Select	top 1 ProductionProcessMapping.ProcessId
											from	OrderSpecialRequirement 
													Inner join SPRequirementDepartmentMapping On SPRequirementDepartmentMapping.SPRequirementID = OrderSpecialRequirement.SPRequirementId
													Inner join SystemDepartment On SystemDepartment.DepartmentId = SPRequirementDepartmentMapping.DepartmentId
													INNER Join ProductionProcessMapping On ProductionProcessMapping.ReferenceId = SPRequirementDepartmentMapping.SPRequirementId
													INNER Join CastingProcess On CastingProcess.ProcessID = ProductionProcessMapping.ProcessId
															AND CastingProcess.CastingID = @castingID
															AND CastingProcess.MetalId = @MetalID
															And Sequence > @Sequance 
															And (@Sequance2 = 0 Or Sequence <= @Sequance2)
											Where	OrderSpecialRequirement.OrderTranseId = @OrderTranseID
													Order by Sequence asc
											)
						if(@NextProcess is null)
						BEGIN
							Set @NextProcess = (Select top 1 CastingProcess.ProcessID from CastingProcess 
												inner join ProcessMaster On ProcessMaster.ProcessId = CastingProcess.ProcessID
												Where CastingID = @castingID
												and MetalId = @MetalID
												And Sequence = @Sequance2
												and IsQCProcess = 0)
						END	
						set @IsStockTransReqNot  = 0
						SELECT  @IsStockTransReqNot = IsStockTransReq
						FROM    ProcessMaster
						WHERE   ProcessId = @NextProcess
	                                               
						IF ( @IsProcessStockTransfer = 1
							 AND @IsStockTransReqNot = 1
						   ) -- If process transfer enable than show notification to that user
							BEGIN					
								EXEC [dbo].[ProcessTransferNotification] @castingID = @castingID,
									@PartId = @CastingID, @ProcessID = @ProcessIDTo,
									@NextProcessID = @NextProcess,
									@Transferqty = 1
															
							END
						ELSE
							BEGIN
							-- Here @Processid will be passed because in procedure it will find next process and give notification that it is ready for next process
								EXEC [dbo].[ProcessPerformNotification] @castingID = @castingID,
									@PartId = @CastingID, @ProcessID = @ProcessIDTo,
									@NextProcessID = @NextProcess,
									@Transferqty = 1	        
							END                					
	        
				END
				Else
				BEGIN
					
					SET @NextProcess = ( SELECT DISTINCT ProcessID
										 FROM   dbo.CastingProcess
										 WHERE  CastingID = @CastingId
												AND MetalId = @MetalID
												AND Sequence = @Sequance + 1
													   -- AND ProcessType = 0
									   )
	                                   
					set @IsStockTransReqNot  = 0
					SELECT  @IsStockTransReqNot = IsStockTransReq
					FROM    ProcessMaster
					WHERE   ProcessId = @NextProcess
	                                           
					IF ( @IsProcessStockTransfer = 1
					 AND @IsStockTransReqNot = 1
				   ) -- If process transfer enable than show notification to that user
					BEGIN					
						EXEC [dbo].[ProcessTransferNotification] @castingID = @castingID,
							@PartId = @CastingID, @ProcessID = @ProcessIDTo,
							@NextProcessID = @NextProcess,
							@Transferqty = 1						
					END
				ELSE
					BEGIN
					-- Here @Processid will be passed because in procedure it will find next process and give notification that it is ready for next process
						EXEC [dbo].[ProcessPerformNotification] @castingID = @castingID,
							@PartId = @CastingID, @ProcessID = @ProcessIDTo,
							@NextProcessID = @NextProcess,
							@Transferqty = 1	        
					END                					
				END                                                   
				
				-------------------------------------------
	---------------------------------------------------------------------------------------	trans					
			
                DECLARE RtInspectionCursor CURSOR --added by megha
                FOR
                    SELECT  Node.value('(dgvLocation)[1]', 'varchar(50)') AS 'dgvLocation' ,
                            Node.value('(dgvThick)[1]', 'varchar(50)') AS 'dgvThick' ,
                            Node.value('(dgvMinDensity)[1]', 'varchar(50)') AS 'dgvMinDensity' ,
                            Node.value('(dgvMaxDensity)[1]', 'varchar(50)') AS 'dgvMaxDensity' ,
                            Node.value('(dgvIQIS)[1]', 'varchar(50)') AS 'dgvIQIS' ,
                            Node.value('(dgvIQIF)[1]', 'varchar(50)') AS 'dgvIQIF' ,
                            Node.value('(dgvSensitivity)[1]', 'varchar(Max)') AS 'dgvSensitivity' ,
                            Node.value('(dgvSource)[1]', 'varchar(Max)') AS 'dgvSource' ,
                            Node.value('(dgvSFD)[1]', 'varchar(Max)') AS 'dgvSFD' ,
                            Node.value('(dgvFilm1)[1]', 'float') AS 'dgvFilm1' ,
                            Node.value('(dgvFilm2)[1]', 'float') AS 'dgvFilm2' ,
                            Node.value('(dgvFindingId)[1]', 'int') AS 'dgvFindingId' ,
                            Node.value('(dgvClassifId)[1]', 'int') AS 'dgvClassifId' ,
                            Node.value('(dgvRemark)[1]', 'varchar(Max)') AS 'dgvRemark'
                    FROM    @XMLRTInspDetails.nodes('/DocumentElement/RTInspectionTable')
                            AS TEMPXML ( Node )
                OPEN RtInspectionCursor
                FETCH NEXT FROM RtInspectionCursor INTO @Location, @Thick,
                    @DensityMin, @DensityMax, @IQIS, @IQIF, @Sensitivity,
                    @Source, @SFD, @FilmSize1, @FilmSize2, @Finding,
                    @Classification, @Remark 
		 
                WHILE @@FETCH_STATUS = 0
                    BEGIN  
                        INSERT  INTO RTTrans
                                ( RTId ,
                                  Location ,
                                  Thick ,
                                  DensityMin ,
                                  DensityMax ,
                                  IQIS ,
                                  IQIF ,
                                  Sensitivity ,
                                  Source ,
                                  SFD ,
                                  FilmSize1 ,
                                  FilmSize2 ,
                                  Findings ,
                                  Classification ,
                                  Remarks
								)
                        VALUES  ( @RTId ,
                                  @Location ,
                                  @Thick ,
                                  @DensityMin ,
                                  @DensityMax ,
                                  @IQIS ,
                                  @IQIF ,
                                  @Sensitivity ,
                                  @Source ,
                                  @SFD ,
                                  @FilmSize1 ,
                                  @FilmSize2 ,
                                  @Finding ,
                                  @Classification ,
                                  @Remark
								)
							
                        FETCH NEXT FROM RtInspectionCursor INTO @Location,
                            @Thick, @DensityMin, @DensityMax, @IQIS, @IQIF,
                            @Sensitivity, @Source, @SFD, @FilmSize1,
                            @FilmSize2, @Finding, @Classification, @Remark 
                    END
                CLOSE RtInspectionCursor;
                DEALLOCATE RtInspectionCursor;
	------------------------------------------------------------------------------------------						
            END	
        IF @Parameter = 2
            BEGIN
				--Commented by Ritik on 12-06-2025

                --SELECT  @Prefix = Prefix ,
                --        @Suffix = Suffix ,
                --        @Separator = Separator
                --FROM    Prefix_Suffix
                --WHERE   Applydate <= @RTDate
                --        AND PrefixSuffixId = ( SELECT   PrefixSuffixId
                --                               FROM     InvoiceSeries
                --                               WHERE    SeriesId = @SeriesId
                --                             )

				 SELECT top 1  @Prefix = Prefix ,
                        @Suffix = Suffix ,
                        @Separator = Separator
                FROM    Prefix_Suffix
                WHERE   Applydate <= @RTDate
                        AND Invoice_SeriesId = @SeriesId
               order by Applydate desc


                UPDATE  RTMaster
                SET     RTNo = @RTNo ,
                        RTDate = @RTDate ,
                        --CastingID = @CastingID ,
                        --BatchId = @BatchId ,
                        SourceStrength = @SourceStrength ,
                        Sceen = @Screen ,
                        Technique = @Technique ,
                        Acceptance = @Acceptance ,
                        Film = @Film ,
                        SourceSize = @SourceSize ,
                        LeadThicknessFront = @LeadFront ,
                        LeadThicknessBack = @LeadBack ,
                        TestedAreaRT = @TestedArea ,
                        Evaluation = @Evaluation ,
                        ProcedureRef = @ProcedureRef ,
                        ModifiedBy = @ModifiedBy ,
                        ModifiedOn = GETDATE() ,
                        EntryNo = @EntryNo ,
                        SeriesId = @SeriesId ,
                        Prefix = @Prefix ,
                        Separator = @Separator ,
                        Suffix = @Suffix ,
                        --OrderId = @OrderId ,
                        DrawingNo = @DrawingNo
                WHERE   RTID = @RTID
	---------------------------------------------------------------------------------------	trans					
                DELETE  FROM RTTrans
                WHERE   RTId = @RTID 
			
                DECLARE RtInspectionCursor CURSOR --added by megha
                FOR
                    SELECT  Node.value('(dgvLocation)[1]', 'varchar(50)') AS 'dgvLocation' ,
                            Node.value('(dgvThick)[1]', 'varchar(50)') AS 'dgvThick' ,
                            Node.value('(dgvMinDensity)[1]', 'varchar(50)') AS 'dgvMinDensity' ,
                            Node.value('(dgvMaxDensity)[1]', 'varchar(50)') AS 'dgvMaxDensity' ,
                            Node.value('(dgvIQIS)[1]', 'varchar(50)') AS 'dgvIQIS' ,
                            Node.value('(dgvIQIF)[1]', 'varchar(50)') AS 'dgvIQIF' ,
                            Node.value('(dgvSensitivity)[1]', 'varchar(Max)') AS 'dgvSensitivity' ,
                            Node.value('(dgvSource)[1]', 'varchar(Max)') AS 'dgvSource' ,
                            Node.value('(dgvSFD)[1]', 'varchar(Max)') AS 'dgvSFD' ,
                            Node.value('(dgvFilm1)[1]', 'float') AS 'dgvFilm1' ,
                            Node.value('(dgvFilm2)[1]', 'float') AS 'dgvFilm2' ,
                            Node.value('(dgvFindingId)[1]', 'int') AS 'dgvFindingId' ,
                            Node.value('(dgvClassifId)[1]', 'int') AS 'dgvClassifId' ,
                            Node.value('(dgvRemark)[1]', 'varchar(Max)') AS 'dgvRemark'
                    FROM    @XMLRTInspDetails.nodes('/DocumentElement/RTInspectionTable')
                            AS TEMPXML ( Node )
                OPEN RtInspectionCursor
                FETCH NEXT FROM RtInspectionCursor INTO @Location, @Thick,
                    @DensityMin, @DensityMax, @IQIS, @IQIF, @Sensitivity,
                    @Source, @SFD, @FilmSize1, @FilmSize2, @Finding,
                    @Classification, @Remark 
		 
                WHILE @@FETCH_STATUS = 0
                    BEGIN  
                        INSERT  INTO RTTrans
                                ( RTId ,
                                  Location ,
                                  Thick ,
                                  DensityMin ,
                                  DensityMax ,
                                  IQIS ,
                                  IQIF ,
                                  Sensitivity ,
                                  Source ,
                                  SFD ,
                                  FilmSize1 ,
                                  FilmSize2 ,
                                  Findings ,
                                  Classification ,
                                  Remarks
								)
                        VALUES  ( @RTId ,
                                  @Location ,
                                  @Thick ,
                                  @DensityMin ,
                                  @DensityMax ,
                                  @IQIS ,
                                  @IQIF ,
                                  @Sensitivity ,
                                  @Source ,
                                  @SFD ,
                                  @FilmSize1 ,
                                  @FilmSize2 ,
                                  @Finding ,
                                  @Classification ,
                                  @Remark
								)
							
                        FETCH NEXT FROM RtInspectionCursor INTO @Location,
                            @Thick, @DensityMin, @DensityMax, @IQIS, @IQIF,
                            @Sensitivity, @Source, @SFD, @FilmSize1,
                            @FilmSize2, @Finding, @Classification, @Remark 
                    END
                CLOSE RtInspectionCursor;
                DEALLOCATE RtInspectionCursor;
	-------	
            END
	
  
        IF @Parameter = 5
            BEGIN
                SELECT DISTINCT
                --CAST(RTNo AS VARCHAR(10)) as RTNo
                        RTMaster.RTID ,
                        ( (ISNULL(RTMaster.Prefix, '')
                          + ISNULL(RTMaster.Separator, '')
                          + CAST(RTNo AS VARCHAR(10))
                          + ISNULL(RTMaster.Separator, '')
                          + ISNULL(RTMaster.Suffix, '')) ) AS RTNo
                FROM    RTMaster
                WHERE   ( IsDeleted IS NULL
                          OR IsDeleted = 0
                        )
                        AND ( RTMaster.RTDate BETWEEN @StartDate AND @EndDate )
                        AND ( @PlantIdString IS NULL
                              OR @PlantIdString = ''
                              OR RTMaster.CastingId IN (
                              SELECT    CastingId
                              FROM      dbo.PlantCastingMapping
                                     where PlantId in (SELECT Item FROM @Plant))
                            )
                        AND RTMaster.EntityID = @EntityId                             
            END
        IF @Parameter = 6-- Select Query for edit 
            BEGIN
    --Master
                SELECT DISTINCT
                        RTMaster.* ,
                        CastingStockBatch.ProcessID ,
                        CastingStockBatch.MetalID,
                        CastingStockBatch.productionbatchID 
                FROM    RTMaster
                        INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = RTMaster.BatchId 
                WHERE   RTMaster.Isdeleted = 0
                        AND RTMaster.RTID = @RTID
                        and CastingStockBatch.PlantId = RTMaster.PlantId
                        and CastingStockBatch.EntityId = RTMaster.EntityId
                        and CastingStockBatch.InTransit = @InTransit
                        and CastingStockBatch.AddOnId1 = @AddOnId1
		 
   --Trans	 
                SELECT  RTTrans.* ,
                        M1.RTShortCode AS FindingsName ,
                        M2.RTShortCode AS ClassificationName
                FROM    RTTrans
                        INNER JOIN RTMaster ON RTMaster.RTID = RTTrans.RTId
                        LEFT JOIN RTResultparameter AS M1 ON M1.ID = RTTrans.Findings
                        LEFT JOIN RTResultparameter AS M2 ON M2.ID = RTTrans.Classification
                WHERE   RTMaster.Isdeleted = 0
                        AND RTMaster.RTID = @RTID
		 
            END    
     
        IF @Parameter = 7 -- delete query 
            BEGIN
				SET @ProcessIDTo = (Select top 1 ProcessID from ProcessMaster WHERE QCSeq = '1' And AutoProcess = 0 And IsQCProcess = 1 and IsDeleted = 0)
                
                
                Select @PlantId = PlantId,@EntityId = EntityId from RTMaster where RTID = @RTID
                
                UPDATE  RTMaster
                SET     Isdeleted = 1 ,
                        DeletedBy = @DeletedBy ,
                        DeletedOn = GETDATE()
                WHERE   RTID = @RTID
                IF @@Error <> 0
                            ROLLBACK TRANSACTION
                    
                Select	@CastingID = CastingID,
						@MetalID = Metalid,
						@FromProcessID = ProcessID,
						@StockbatchID = Batchid,
						@Weight = Weight,
						@HeatCodeId = HeatCodeId,
						@BatchId = productionbatchID
				From	CastingStockBatch
                Where	Batchid = (select Batchid from RTMaster where RTID = @RTID)
                IF @@Error <> 0
                            ROLLBACK TRANSACTION
                    
                DECLARE @result3 TABLE ( returnvalue INT );
			    
                    INSERT  INTO @result3
                            ( returnvalue
                            )
                    EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @CastingID,
							@MetalID = @MetalID, 
							@StockToAdd = 1,
							@StockToRej = 0, 
							@ProcessID = @FromProcessID,
							@ProcessTransferTo = @ProcessIDTo,
							@Tagging = N'Process Perform',
							@Process = N'DELETE', 
							@ProcessCode = @RTID,
							@productionbatchid = @batchID,
							@ProcessDate = @Createdon, 
							@UserID = @CreatedBy,
							@CastCode_No = NULL,
							@CastingStockBatchID = @StockbatchID,
							@isCastCodeEnable = 0,
							@BatchWeight = @Weight,
							@HeatCodeId = @HeatCodeId,
							@Castingid2 = @CastingID,
							@PlantId = @PlantId,
							@EntityId = @EntityId,
							@AddOnId1 = @AddOnId1
                        
                    IF ( @@Error <> 0
                         OR ( ( SELECT  returnvalue
                                FROM    @result3
                              ) = 1 )
                       )
                       
                        BEGIN
                            ROLLBACK TRANSACTION
                            RETURN -2
                        END
                IF @@Error <> 0
                    ROLLBACK TRANSACTION
                    
            END  
     --Report query
        IF @Parameter = 8
            BEGIN
                SELECT  RTMaster.CreatedBy ,
                        ( ISNULL(RTMaster.Prefix, '')
                          + ISNULL(RTMaster.Separator, '') + RTMaster.RTNo
                          + ISNULL(RTMaster.Separator, '')
                          + ISNULL(RTMaster.Suffix, '') ) AS RTNo ,
                        CastingName ,
                        CastingCode ,
                        CONVERT(VARCHAR(11), RTMaster.RTDate, 106) AS RTDate ,
                        EntryNo ,
                        batchno AS HeatNo ,
                        CustomerName ,
                        CustomerCode ,
                        OrderDate ,
                        OrderMaster.CustomerOrderNo AS OrderNo ,
                        RTMaster.DrawingNo ,
                        MetalName ,
                        ReportTitle ,
                        M1.Parameter AS SourceStrength ,
                        M2.Parameter AS Screen ,
                        M3.Parameter AS Technique ,
                        M4.Parameter AS AcceptanceAsPer ,
                        M5.Parameter AS Film ,
                        M6.Parameter AS SourceSize ,
                        M7.Parameter AS LeadFront ,
                        M8.Parameter AS LeadBack ,
                        M9.Parameter AS TestedArea ,
                        M10.Parameter AS EvaluationAsPer ,
                        M11.Parameter AS ProcedureRef
                FROM    RTMaster
                        INNER JOIN CastingMaster ON RTMaster.CastingID = CastingMaster.CastingId
                        INNER JOIN CastingStockBatch ON CastingStockBatch.batchID = RTMaster.BatchId
                        INNER JOIN ProductionBatch ON ProductionBatch.batchID = CastingStockBatch.productionbatchID
                        INNER JOIN MetalMaster ON MetalMaster.MetalId = CastingStockBatch.MetalID
                        INNER JOIN OrderTranse ON OrderTranse.OrderTranseId = RTMaster.OrderId
                        INNER JOIN OrderMaster On OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
                        INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = OrderMaster.CustomerID
                        LEFT JOIN RTInspectionParameter AS M1 ON M1.id = RTMaster.SourceStrength
                        LEFT JOIN RTInspectionParameter AS M2 ON M2.id = RTMaster.Sceen
                        LEFT JOIN RTInspectionParameter AS M3 ON M3.id = RTMaster.Technique
                        LEFT JOIN RTInspectionParameter AS M4 ON M4.id = RTMaster.Acceptance
                        LEFT JOIN RTInspectionParameter AS M5 ON M5.id = RTMaster.Film
                        LEFT JOIN RTInspectionParameter AS M6 ON M6.id = RTMaster.SourceSize
                        LEFT JOIN RTInspectionParameter AS M7 ON M7.id = RTMaster.LeadThicknessFront
                        LEFT JOIN RTInspectionParameter AS M8 ON M8.id = RTMaster.LeadThicknessBack
                        LEFT JOIN RTInspectionParameter AS M9 ON M9.id = RTMaster.TestedAreaRT
                        LEFT JOIN RTInspectionParameter AS M10 ON M10.id = RTMaster.Evaluation
                        LEFT JOIN RTInspectionParameter AS M11 ON M11.id = RTMaster.ProcedureRef
                        INNER JOIN InvoiceSeries ON InvoiceSeries.SeriesId = RTMaster.SeriesId
                WHERE   RTID = @RTID
                        AND RTMaster.Isdeleted = 0
				
                SELECT  ROW_NUMBER() OVER ( ORDER BY RTTrans.RTTransID ASC ) AS SrNo ,
                        Location ,
                        Thick ,
                        DensityMin AS MinDensity ,
                        DensityMax AS MaxDensity ,
                        IQIS ,
                        IQIF ,
                        Sensitivity ,
                        Source ,
                        SFD ,
                        ( CONVERT(VARCHAR(50), FilmSize1, 3) + 'X'
                          + CONVERT(VARCHAR(50), FilmSize2, 3) ) AS FilmSize ,
                        Remarks ,
                        M1.RTShortCode AS Findings ,
                        M2.RTShortCode AS Classification
                FROM    RTTrans
                        INNER JOIN RTMaster ON RTMaster.RTID = RTTrans.RTId
                        LEFT JOIN RTResultparameter AS M1 ON M1.ID = RTTrans.Findings
                        LEFT JOIN RTResultparameter AS M2 ON M2.ID = RTTrans.Classification
                WHERE   RTMaster.Isdeleted = 0
                        AND RTMaster.RTID = @RTID
		
                SELECT  Source + ' Sq in '
                        + CONVERT(VARCHAR(15), SUM(FilmSize1 * FilmSize2)) AS FilmSize
                FROM    dbo.RTTrans
                WHERE   Source IS NOT NULL
                        AND RTId = @RTID
                GROUP BY Source

                SELECT  R.RTShortCode + ' - ' + R.RTShortCodeDetail AS FullForm
                FROM    dbo.RTTrans
                        INNER  JOIN dbo.RTResultparameter AS R ON RTTrans.Findings = R.ID
                WHERE   RTId = @RTID
                UNION
                SELECT  R.RTShortCode + ' - ' + R.RTShortCodeDetail AS FullForm
                FROM    dbo.RTTrans
                        INNER  JOIN dbo.RTResultparameter AS R ON RTTrans.Classification = R.ID
                WHERE   RTId = @RTID
		
                SELECT  ISNULL(CONVERT(VARCHAR(15), SUM(FilmSize1 * FilmSize2)),
                               0) AS FilmSize
                FROM    dbo.RTTrans
                WHERE   Source IS NOT NULL
                        AND RTId = @RTID
                        
                SELECT  Source
                FROM    dbo.RTTrans
                WHERE   Source IS NOT NULL
                        AND RTId = @RTID
                GROUP BY Source
                
            END
            
        --IF @Parameter = 9
        --    BEGIN
        --        SELECT DISTINCT
        --    --(isnull(OrderMaster.Prefix,'') + isnull(OrderMaster.Separator,'') +OrderMaster.OASrNo+isnull(OrderMaster.Separator,'') + isnull(OrderMaster.Suffix,'')) as OAno , 
        --                OrderMaster.CustomerOrderNo AS OAno ,
        --                OrderMaster.CustomerOrderId
        --        FROM    CastingStockBatch --INNer join ProductionBatch on CastingStockBatch.productionbatchID = ProductionBatch.batchID
        --                INNER JOIN PouringOrderDetails ON PouringOrderDetails.batchID = CastingStockBatch.productionbatchID
        --                INNER JOIN knockout ON knockout.knockoutid = PouringOrderDetails.knockoutid
        --                INNER JOIN OrderTranse ON OrderTranse.CastingId = Knockout.castingid
        --                                          AND PouringOrderDetails.OrderTransId = OrderTranse.OrderTranseId
        --                INNER JOIN OrderMaster ON OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
        --        WHERE   CastingStockBatch.Batchid = @BatchId
        --                AND knockout.castingid = @CastingId
        --                AND OrderTranse.IsShortclose = 0
        --                AND OrderTranse.IsDeleted = 0
        --                AND OrderMaster.IsDeleted = 0
				
        --    END
			
        IF @Parameter = 10
            BEGIN
				IF @SingleOrderWise = 0
				BEGIN
					SELECT DISTINCT --CastingName,
				--(isnull(OrderMaster.Prefix,'') + isnull(OrderMaster.Separator,'') +OrderMaster.OASrNo + isnull(OrderMaster.Separator,'') + isnull(OrderMaster.Suffix,'')) as OAno , 
                        --OrderMaster.CustomerOrderNo AS OAno ,
                        CASE WHEN @PrintOrderNo = 0 THEN 
                        --CASE WHEN OrderMaster.WOPrefix IS NULL THEN ''
                        --     ELSE CONVERT(VARCHAR(50), OrderMaster.WOPrefix)
                        --END + CASE WHEN OrderMaster.WOSeparator IS NULL THEN ''
                        --           ELSE CONVERT(VARCHAR(50), OrderMaster.WOSeparator)
                        --      END + CONVERT(VARCHAR(50), OrderMaster.OASrNo)
                        --+ CASE WHEN OrderMaster.WOSeparator IS NULL THEN ''
                        --       ELSE CONVERT(VARCHAR(50), OrderMaster.WOSeparator)
                        --  END + CASE WHEN OrderMaster.WOSuffix IS NULL THEN ''
                        --             ELSE CONVERT(VARCHAR(50), OrderMaster.WOSuffix)
                        --        END

								  ISNULL(OrderMaster.WOPrefix,'')	
								+ ISNULL(OrderMaster.WOSeparator,'')	
								+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
								+ ISNULL(OrderMaster.WOSeparator,'')
								+ ISNULL(OrderMaster.WOSuffix,'')

                        ELSE 
                        --CASE WHEN OrderMaster.Prefix IS NULL THEN ''
                        --     ELSE CONVERT(VARCHAR(50), OrderMaster.Prefix)
                        --END + CASE WHEN OrderMaster.Separator IS NULL THEN ''
                        --           ELSE CONVERT(VARCHAR(50), OrderMaster.Separator)
                        --      END + CONVERT(VARCHAR(50), OrderMaster.OASrNo)
                        --+ CASE WHEN OrderMaster.Separator IS NULL THEN ''
                        --       ELSE CONVERT(VARCHAR(50), OrderMaster.Separator)
                        --  END + CASE WHEN OrderMaster.Suffix IS NULL THEN ''
                        --             ELSE CONVERT(VARCHAR(50), OrderMaster.Suffix)
                                --END

								ISNULL(OrderMaster.Prefix,'')	
								+ ISNULL(OrderMaster.Separator,'')	
								+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
								+ ISNULL(OrderMaster.Separator,'')
								+ ISNULL(OrderMaster.Suffix,'')
                        END AS OAno,
                        OrderMaster.CustomerOrderId
                FROM    OrderMaster
                        INNER JOIN OrderTranse ON OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
                         inner join MetalMaster oN MetalMaster.MetalId = OrderTranse.MetalID
						--inner join CastingMaster On CastingMaster.CastingId = OrderTranse.CastingId
                WHERE   OrderMaster.IsDeleted = 0
						--ANd OrderMaster.IsDispatched = 0
						
						AND ((@ParentCastingID is null and  PartId = @CastingId)
							Or (CastingId = @ParentCastingID))
						ANd ((@EditTime = 1) Or 
							( OrderTranse.IsDelivered = 0
							AND OrderTranse.IsShortclose = 0
							AND OrderTranse.IsDeleted = 0
							)
                        )
                        AND ((MetalMaster.MetalID = @MetalID) Or (MetalMaster.ProductionGradeId = @MetalID))
                        --and (@PlantId =0 OR OrderMaster.PlantId = @PlantId)
                END
                ELSE
                BEGIN
				
					WITH RecursiveBOQ AS (
						-- Anchor: Start with a specific top-level assembly (CastingId)
						SELECT 
							bm.CastingId AS AssemblyId,
							bt.PurchaseItemId AS ChildCastingOrAssemblyId,
							1 AS Level,
							bt.Qty AS Quantity,
							bt.MetalId
						FROM BOQMaster bm
						INNER JOIN BOQTrans bt ON bm.BOQId = bt.BOQId and bt.IsItemType = 2
						WHERE bm.IsAssembly = 1 and bm.entityId = @EntityId
						UNION ALL
						-- Recursive: Go deeper by linking to the next BOQMaster via PurchaseItemId
						SELECT 
							r.AssemblyId,
							bt.PurchaseItemId AS ChildCastingOrAssemblyId,
							r.Level + 1 AS Level,
							r.Quantity * bt.Qty AS Quantity,
							bt.MetalId
						FROM RecursiveBOQ r
						INNER JOIN BOQMaster bm ON r.ChildCastingOrAssemblyId = bm.CastingId
						INNER JOIN BOQTrans bt ON bm.BOQId = bt.BOQId and bt.IsItemType = 2
						Where  ((@MetalId = 0) 
										Or (bt.MetalID = @MetalId ) 
										Or (bt.MetalID in (Select MetalId from MetalMaster(NOLOCK) where ProductionGradeId = @MetalId))
								)
					)
					SELECT
							AssemblyId,
							ChildCastingOrAssemblyId,
							Isnull(ParentId,CastingMaster.CastingId) as ParentId,
							RecursiveBOQ.MetalId,
							Quantity
					into	#Assembly
					FROM	RecursiveBOQ
							inner Join CastingMaster on CastingMaster.CastingId  = ChildCastingOrAssemblyId
					Where	Isnull(ParentId,CastingMaster.CastingId) = @CastingId 
		
					select * into #AssemblyTable
					from(
						select * from #Assembly
						union all
						select	Isnull(@ParentcastingId, @CastingId ) as AssemblyId,
								Isnull(@ParentcastingId, @CastingId ) as ChildCastingOrAssemblyId,
								Isnull(@ParentcastingId, @CastingId ) as ParentId,
								@MetalId as MetalId,
								1 as Quantity
					) as a
					drop table #Assembly
					
					SELECT DISTINCT
                        CASE WHEN @PrintOrderNo = 0 THEN 
								  ISNULL(OrderMaster.WOPrefix,'')	
								+ ISNULL(OrderMaster.WOSeparator,'')	
								+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
								+ ISNULL(OrderMaster.WOSeparator,'')
								+ ISNULL(OrderMaster.WOSuffix,'')
						+ '/' + Cast(OrderTranse.SrNo as varchar(MAX)) +'/' +  CONVERT(VARCHAR(15), OrderTranse.DeliveryDate, 106) 
                       
                        ELSE 
                                  ISNULL(OrderMaster.Prefix,'')	
								+ ISNULL(OrderMaster.Separator,'')	
								+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
								+ ISNULL(OrderMaster.Separator,'')
								+ ISNULL(OrderMaster.Suffix,'')
                        + '/' + Cast(OrderTranse.SrNo as varchar(MAX)) +'/' +  CONVERT(VARCHAR(15), OrderTranse.DeliveryDate, 106)
                        END AS OAno,
                        OrderTranse.OrderTranseId as CustomerOrderId
                FROM    OrderMaster
                        INNER JOIN OrderTranse ON OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
						inner Join #AssemblyTable On #AssemblyTable.AssemblyId  = OrderTranse.CastingId
						--and ( #AssemblyTable.MetalId = OrderTranse.MetalID 
						--Or #AssemblyTable.MainMetalId = OrderTranse.MetalID)
                        inner join MetalMaster oN MetalMaster.MetalId = OrderTranse.MetalID
                WHERE   OrderMaster.IsDeleted = 0
                        --AND OrderTranse.IsDeleted = 0
                        ANd ((@EditTime = 1) Or 
							( OrderTranse.IsDelivered = 0
							AND OrderTranse.IsShortclose = 0
							AND OrderTranse.IsDeleted = 0
							)
                        )
       --                 AND ((@ParentCastingID is null and  PartId = @CastingId)
							--Or (CastingId = @ParentCastingID))
                        --AND OrderTranse.IsShortclose = 0
                        --AND ((MetalMaster.MetalID = @MetalID) Or (MetalMaster.ProductionGradeId = @MetalID))
                        --and (@PlantId =0 OR OrderMaster.PlantId = @PlantId)
				drop table #AssemblyTable
			   END
            END
			
        IF @Parameter = 11
            BEGIN
                SELECT DISTINCT
                        DrawingNo
                FROM    CastingMetal
                WHERE   castingID = @CastingId
                        AND metalid = @MetailId
                        AND DrawingNo IS NOT NULL
                        AND DrawingNo <> ''
                UNION
                SELECT DISTINCT
                        RoughMachineDrawing
                FROM    CastingMetal
                WHERE   castingID = @CastingId
                        AND metalid = @MetailId
                        AND RoughMachineDrawing IS NOT NULL
                        AND RoughMachineDrawing <> ''
                UNION
                SELECT DISTINCT
                        FullMachineDrawing
                FROM    CastingMetal
                WHERE   castingID = @CastingId
                        AND metalid = @MetailId
                        AND FullMachineDrawing IS NOT NULL
                        AND FullMachineDrawing <> ''
					
            END
            
            IF @Parameter = 12
			BEGIN
				SET @ProcessIDTo = (Select top 1 Processid from ProcessMaster Where QCSeq like '1' and AutoProcess = 0 and IsDeleted = 0 and IsQCProcess = 1)
				IF EXISTS(
					Select	1
					from	RTMaster
							INNER JOIN CastingStockBatch as PrevCSB On PrevCSB.Batchid = RTMaster.BatchID
							INNER JOIN CastingStockBatch AS CSB On CSB.CastingID = RTMaster.CastingID
										AND CSB.productionbatchID = PrevCSB.productionbatchID
										AND CSB.HeatCodeId = PrevCSB.HeatCodeId
										AND CSB.MetalID = PrevCSB.MetalID
										AND CSB.ProcessID = @ProcessIDTo
					WHERE	RTMaster.RTID = @RTID 
							AND CSB.BatchStock < 1
							AND RTMaster.Isdeleted = 0
							and CSB.PlantId = RTMaster.PlantId
							and CSB.EntityId = RTMaster.EntityId
							and CSB.InTransit = @InTransit
							and CSB.AddOnId1 = @AddOnId1)
				BEGIN
					Return 0
				END
				ELSE
				BEGIN
					Return 1
				END
				
			END
			IF @Parameter = 13
			BEGIN
			SELECT	distinct
					batchno,
					Productionbatch.batchID
			from	ProductionBatch
					Inner join CastingStockBatch csb on csb.productionbatchID = ProductionBatch.batchID
			WHERE	IsDeleted = 0
					AND csb.CastingID = @CastingId
					AND	csb.MetalID = @MetailId
					and csb.PlantId = @PlantId
					and csb.EntityId = @EntityId
					and csb.InTransit = @InTransit
					and csb.AddOnId1 = @AddOnId1
					and csb.BatchStock > 0
					and csb.ProcessID = @FromProcessID
			
			END
    END
GO
