USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[StockTransferBreakUp]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- StockTransferBreakUp '2020-01-01', '2025-01-01', 'e3cf82df-0e36-4739-b92a-83ea92346691'
CREATE PROCEDURE [dbo].[StockTransferBreakUp]
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    @CustomerId UNIQUEIDENTIFIER = NULL
AS
    BEGIN
        SELECT  CastingCode ,
                CastingName ,
                ProcessDate ,
                ISNULL(ROUND(( FGInventoryHistory.TransactionQty * dbo.CastingMaster.CastingNetWeight ), 3), 0) AS TransferKg ,
                ROUND(FGInventoryHistory.TransactionQty, 2) AS TransferQty
        FROM    dbo.FGInventoryHistory
                INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.FGInventoryHistory.castingid
                INNER JOIN dbo.CustomerPatternMapping ON dbo.CastingMaster.Dieid = dbo.CustomerPatternMapping.PatternId
        WHERE   CustomerPatternMapping.CustomerId = @CustomerId
                AND ( FGInventoryHistory.Tagging = 'StockTransfer'
                      OR FGInventoryHistory.Tagging = 'Opening Stock'
                    )
                AND ProcessDate BETWEEN CONVERT(DATETIME, @StartDate, 103) AND CONVERT(DATETIME, @EndDate, 103)
        ORDER BY ProcessDate 
    END
GO
