USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_DMRegister]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create         PROCEDURE [dbo].[SP_DMRegister]
    @Parameter INT = 0 ,        
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad int = 0,        
    @TotalRecords INT = 0 ,   
	@DateFrom DATETIME = NULL , 
	@DateTo DATETIME = NULL ,
	@PurchaseItemId uniqueidentifier = NULL ,
	@PlantIdString VARCHAR(MAX) = NULL  ,
    @EntityId INT = 0 ,
	@CastingId uniqueidentifier = null,
	@CastingName VARCHAR(100) = NULL ,
	@SandProductionId  int = 0 ,	
	@InspectorName VARCHAR(Max) = NULL ,
	@CreatedBy int = 0 ,
	@CreatedOn DateTime = null,	
	@DMMasterId uniqueidentifier = null,
	@Isdeleted int =0,
	@DeletedBy int =0 ,
	@DeletedOn datetime= NULL ,
	@assemblyHeatId bigint = 0,
	@assemblyHeatCode varchar(50) = NULL,
	@ConsumedHeatId bigint = 0,
	@ConsumedHeatCode varchar(50) = NULL,
	@dmTransId uniqueidentifier = null,
	@UserId INT = 0 , 
	@AccessType INT = 0   
  
AS
BEGIN

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End	

	 IF ( @Parameter =  1 )	--	Total Record Display 
            BEGIN				
			
				select	BOMConsumption.SandProductionId
				into	#ConsumedFilter_
				from	CastingStockBatch 
						Inner Join BOMConsumptionBatchWise on BOMConsumptionBatchWise.StockBatchId = CastingStockBatch.Batchid
						Inner Join BOMConsumption on BOMConsumption.BOMConsumptionID = BOMConsumptionBatchWise.BOMConsumptionID
								and BOMConsumption.ItemType = 2
						Inner Join CastingMaster On CastingMaster.CastingId = BOMConsumption.PurchaseItemId
						Left Join (
								select ProductionBatchID,HeatcodeId, castingid  from castingHeatcode where Heatcode = @ConsumedHeatCode -- consumed Heatcode
							) as HeatcodeTable on HeatcodeTable.CastingID = CastingStockBatch.CastingID
							and HeatcodeTable.HeatCodeID = CastingStockBatch.HeatCodeId
							and HeatcodeTable.ProductionBatchID = CastingStockBatch.productionbatchID
				where  (  @ConsumedHeatCode is null Or  HeatcodeTable.HeatCodeID = CastingStockBatch.HeatCodeId)-- consumed Heatcode
						and ( @ConsumedHeatId = 0 Or CastingStockBatch.productionbatchID = @ConsumedHeatId)-- consumed heatno
						AND( @CastingId IS NULL
                        OR BOMConsumption.purchaseitemID =@CastingId
						)
						AND (@CastingName IS NULL OR  castingMaster.castingName = @CastingName )   
				Group by BOMConsumption.SandProductionId
			
				select	SandProductionId
				Into	#AssemblyFilter
				from	SandProduction
						inner Join CastingStockBatch csb on csb.CastingID = SandProduction.PurchaseItemId
						and csb.productionbatchID = SandProduction.ProductionBatchId
						Inner Join CastingHeatCode On castingHeatcode.CastingID = csb.CastingID
						and CastingHeatCode.ProductionBatchID = csb.productionbatchID
				where ( @assemblyHeatId =0           
								OR SandProduction.ProductionBatchId   = @assemblyHeatId              
							)
						AND ( @assemblyHeatCode IS NULL              
								OR CastingHeatCode.HeatCode  = @assemblyHeatCode
						)
				Group by SandProductionId

              SET @TotalRecords = (  SELECT    Count  (DmTrans.SandProductionId )                                
                                     FROM	DMMaster 
											INNER join DmTrans on DMMaster.Id = DmTrans.DMMasterId
											INNER Join SandProduction on DmTrans.SandProductionId =  SandProduction.SandProductionId 
											left Join #ConsumedFilter_ as con on con.SandProductionId = DmTrans.SandProductionId
											Left Join #AssemblyFilter as Pro on Pro.SandProductionId = DMTrans.SandProductionId
									WHERE   SandProduction.IsDeleted = 0  
											AND (IsSandProduction = 2)
											AND (cast(@DateFrom as Date) IS NULL                                      
                                              OR Cast(@DateTo as Date) IS NULL                                      
                                              OR Cast(DMMaster.DMDate as Date) BETWEEN Cast(@DateFrom as Date) AND Cast(@DateTo as Date)                                      
											)  
											AND( @CastingId IS NULL
												OR SandProduction.SandProductionId = con.SandProductionId
											)
											AND (@CastingName IS NULL OR  SandProduction.SandProductionId = con.SandProductionId)              
											AND ( @PurchaseItemId IS NULL
												  OR SandProduction.PurchaseItemId = @PurchaseItemId
												)	                       									                                        
											AND SandProduction.EntityID = @EntityId 
											
											AND( @SandProductionId = 0 
													  OR SandProduction.SandProductionId = @SandProductionId
													)
											AND( @DMMasterId is null
													  OR DMMaster.Id = @DMMasterId  )	
											AND( @InspectorName is null
													  OR DMMaster.InspectorName = @InspectorName )	
											AND ( @assemblyHeatId =0           
												   OR SandProduction.ProductionBatchId  = @assemblyHeatId              
												)
											AND ( @assemblyHeatCode IS NULL OR SandProduction.SandProductionId  = Pro.SandProductionId)
											and  (  @ConsumedHeatCode is null Or DmTrans.SandProductionId = con.SandProductionId)
											and  (  @ConsumedHeatId = 0  Or DmTrans.SandProductionId = con.SandProductionId) 
											and DMMaster.IsDeleted = 0    
											)
                RETURN @TotalRecords
            END				
          		
      
       IF ( @Parameter = 2 )			--Fill Grid By Filter
            BEGIN

				select	BOMConsumption.SandProductionId
				into	#ConsumedFilter
				from	CastingStockBatch 
						Inner Join BOMConsumptionBatchWise on BOMConsumptionBatchWise.StockBatchId = CastingStockBatch.Batchid
						Inner Join BOMConsumption on BOMConsumption.BOMConsumptionID = BOMConsumptionBatchWise.BOMConsumptionID
								and BOMConsumption.ItemType = 2
						Inner Join CastingMaster On CastingMaster.CastingId = BOMConsumption.PurchaseItemId
						Left Join (
								select ProductionBatchID,HeatcodeId, castingid  from castingHeatcode where Heatcode = @ConsumedHeatCode -- consumed Heatcode
							) as HeatcodeTable on HeatcodeTable.CastingID = CastingStockBatch.CastingID
							and HeatcodeTable.HeatCodeID = CastingStockBatch.HeatCodeId
							and HeatcodeTable.ProductionBatchID = CastingStockBatch.productionbatchID
				where  (  @ConsumedHeatCode is null Or  HeatcodeTable.HeatCodeID = CastingStockBatch.HeatCodeId)-- consumed Heatcode
						and ( @ConsumedHeatId = 0 Or CastingStockBatch.productionbatchID = @ConsumedHeatId)-- consumed heatno
						AND( @CastingId IS NULL
                        OR BOMConsumption.purchaseitemID =@CastingId
						)
						AND (@CastingName IS NULL OR  castingMaster.castingName = @CastingName )   
				Group by BOMConsumption.SandProductionId
			
				select	SandProductionId
				Into	#AssemblyFilter_
				from	SandProduction
						inner Join CastingStockBatch csb on csb.CastingID = SandProduction.PurchaseItemId
						and csb.productionbatchID = SandProduction.ProductionBatchId
						Inner Join CastingHeatCode On castingHeatcode.CastingID = csb.CastingID
						and CastingHeatCode.ProductionBatchID = csb.productionbatchID
				where ( @assemblyHeatId =0           
								OR SandProduction.ProductionBatchId   = @assemblyHeatId              
							)
						AND ( @assemblyHeatCode IS NULL              
								OR CastingHeatCode.HeatCode  = @assemblyHeatCode
						)
				group by SandProductionId

  				SELECT	TOP (@PageSize) * FROM (
					SELECT	ROW_NUMBER() OVER ( ORDER BY DMDate desc ,Dmno desc) AS SrNo ,
							DmTrans.SandProductionId ,                                      
							ROW_NUMBER() OVER ( ORDER BY DMDate desc ,Dmno desc) AS [Serial No] ,                              
							isnull(SandProduction.BatchNo,'') as BatchNo , 
							DMNo,
							LEFT(CONVERT(VARCHAR, DmDate, 106), 15) as DmDate,
							InspectorName,
							CONVERT(VARCHAR(15), SandProduction.ProductionDate, 106) AS ProductionDate ,                                      
							CastingName +'('+CastingCode+')' as ItemName , 
							cast(ISNULL(Qty, 0)  AS int) AS Qty  ,    
							isnull(RawBatchNo,0) as RawBatchNo ,
							SandProduction.PurchaseItemId,                                      
							SandProduction.ProductionBatchId,                                       
							CONVERT(VARCHAR(15), SandProduction.EndDate, 106) AS  EndDate ,
							DMMasterId,
							DmTrans.Id as TransId
					FROM	DMMaster 
							INNER join DmTrans on DMMaster.Id = DmTrans.DMMasterId
							INNER Join  SandProduction on DmTrans.SandProductionId =  SandProduction.SandProductionId                                    
							Inner Join CastingMaster On CastingMaster.CastingId = SandProduction.PurchaseItemId
							left Join #ConsumedFilter as con on con.SandProductionId = DmTrans.SandProductionId
							left Join #AssemblyFilter_ as pro on pro.SandProductionId = DmTrans.SandProductionId
                    WHERE   SandProduction.IsDeleted = 0  
							AND (IsSandProduction = 2)
							AND (cast(@DateFrom as Date) IS NULL                                      
                                OR Cast(@DateTo as Date) IS NULL                                      
                                OR Cast(DMMaster.DMDate as Date) BETWEEN Cast(@DateFrom as Date) AND Cast(@DateTo as Date)                                      
							)  
							AND( @CastingId IS NULL
								OR SandProduction.SandProductionId = con.SandProductionId
							)
							AND (@CastingName IS NULL OR  SandProduction.SandProductionId = con.SandProductionId)    
							
							AND ( @PurchaseItemId IS NULL
									OR SandProduction.PurchaseItemId = @PurchaseItemId
								)	                       									                                        
							AND SandProduction.EntityID = @EntityId 
											
							AND( @SandProductionId = 0 
										OR SandProduction.SandProductionId = @SandProductionId
									)
							AND( @DMMasterId is null
										OR DMMaster.Id = @DMMasterId  )	
							AND( @InspectorName is null
										OR DMMaster.InspectorName = @InspectorName )	
							AND ( @assemblyHeatId =0           
									OR SandProduction.ProductionBatchId  = @assemblyHeatId              
								)
							AND ( @assemblyHeatCode IS NULL OR SandProduction.SandProductionId  = Pro.SandProductionId)
							and  (  @ConsumedHeatCode is null Or DmTrans.SandProductionId = con.SandProductionId)
							and  (  @ConsumedHeatId = 0  Or DmTrans.SandProductionId = con.SandProductionId) 
							and DMMaster.IsDeleted = 0    
							
                        ) AS TC where  TC.SrNo > ( @PageNumber  * @PageSize ) 
					
            END
	

	IF (@Parameter = 3) --DMNo

          BEGIN   
			select	Id,
					DMNo
			from DMMaster
			where EntityId = @EntityId
			and IsDeleted = 0
			Group By DMNo,Id
	      End

	IF (@Parameter = 4) -- Inspector Fill           
        BEGIN           
            SELECT  InspectorName
            FROM    DMMaster              
            WHERE   IsDeleted = 0  
					ANd DMMaster.EntityId = @EntityID     
			Group By InspectorName

        END   

      IF (@Parameter = 5)  --Delete Data from DMMaster        
		 BEGIN 		
			UPDATE  DMMaster              
			SET     IsDeleted = @IsDeleted ,              
					DeletedBy = @DeletedBy ,              
					DeletedOn = @DeletedOn              
			WHERE   Id = @DMMasterId     
				
			delete from DMTrans where DMMasterId = @DMMasterId
			return 1  
			 
		 END  	  

		IF (@Parameter = 6)  --Edit Details    
       BEGIN 		
			UPDATE  DMMaster              
			SET     IsDeleted = @IsDeleted ,              
					DeletedBy = @DeletedBy ,              
					DeletedOn = @DeletedOn              
			WHERE   Id = @DMMasterId                  
			return 1  
			 
      END  

		IF ( @Parameter = 7 )			--Report Data
		BEGIN
			select	BOMConsumption.SandProductionId
			into	#ConsumedFilterReport
			from	CastingStockBatch 
					Inner Join BOMConsumptionBatchWise on BOMConsumptionBatchWise.StockBatchId = CastingStockBatch.Batchid
					Inner Join BOMConsumption on BOMConsumption.BOMConsumptionID = BOMConsumptionBatchWise.BOMConsumptionID --and BOMConsumption.ItemType = 2
					Inner Join castingmaster on castingMaster.CastingId = BOMConsumption.purchaseitemID
					Inner join SandProduction on SandProduction.SandProductionId = BOMConsumption.SandProductionId
					Left Join (
							select ProductionBatchID,HeatcodeId, castingid,HeatCode  from castingHeatcode where   Heatcode =@ConsumedHeatCode-- consumed Heatcode
						) as HeatcodeTable on HeatcodeTable.CastingID = CastingStockBatch.CastingID
						and HeatcodeTable.HeatCodeID = CastingStockBatch.HeatCodeId
						and HeatcodeTable.ProductionBatchID = CastingStockBatch.productionbatchID
			where  (  @ConsumedHeatCode is null Or  HeatcodeTable.HeatCodeID = CastingStockBatch.HeatCodeId)-- consumed Heatcode
					and ( @ConsumedHeatId = 0 Or CastingStockBatch.productionbatchID = @ConsumedHeatId)-- consumed heatno
					and (@CastingName is null or CastingMaster.CastingName = @castingName )
					AND( @CastingId IS NULL  OR CastingMaster.CastingId =@CastingId  ) 
			group by BOMConsumption.SandProductionId


			select  SandProduction.SandProductionId
			into	#ConsumedFilterReportAssembly
			from	SandProduction 
			inner join castingheatcode on SandProduction.ProductionBatchId = castingheatcode.ProductionBatchID
			and SandProduction.PurchaseItemId = castingheatcode.CastingID
			and  (@assemblyHeatCode is null Or  HeatCode = @assemblyHeatCode)
			and ( @assemblyHeatId = 0 Or SandProduction.ProductionBatchId = @assemblyHeatId)--
			group by SandProduction.SandProductionId
		

		select ROW_NUMBER() OVER ( ORDER BY actualDMDate desc ,Dmno desc) AS SrNo ,
					Isnull(conspurchaseItemMaster.ItemName,consCastingMaster.castingName) as CastingName,
					Isnull(conspurchaseItemMaster.ItemCode,consCastingMaster.castingcode) as CastingCode,
					DMTable.* ,CastingConsumption.*,AssCastingMaster.CastingName as ItemName
				from
			(
					SELECT  DmTrans.SandProductionId ,  
                            isnull(SandProduction.BatchNo,'') as BatchNo , 
							DMNo,
							LEFT(CONVERT(VARCHAR, DmDate, 106), 15) as DmDate,
							InspectorName,
							CONVERT(VARCHAR(15), SandProduction.ProductionDate, 106) AS ProductionDate ,                                      
							BOMConsumption.purchaseitemID as consumptionItemId,
                            cast(ISNULL(Qty, 0)  AS int) AS Qty  ,    
                            SandProduction.PurchaseItemId as assemblyItemId,                                      
                            SandProduction.ProductionBatchId, 
							DMMasterId,
							DmTrans.Id as TransId,
							BOMConsumption.BOMConsumptionID,
							BOMConsumption.ItemType	,
							DmDate as actualDMDate
                    FROM	DMMaster 
							INNER join DmTrans on DMMaster.Id = DmTrans.DMMasterId
							INNER Join SandProduction on DmTrans.SandProductionId =  SandProduction.SandProductionId 
							Inner Join BOMConsumption on  BOMConsumption.SandProductionId =  SandProduction.SandProductionId						
							left Join #ConsumedFilterReport as con on con.SandProductionId = DmTrans.SandProductionId
							left Join #ConsumedFilterReportAssembly as conAss on conAss.SandProductionId = DmTrans.SandProductionId
                    WHERE   SandProduction.IsDeleted = 0  
							and (( @ConsumedHeatCode is null and @ConsumedHeatId = 0  and @CastingName is  null and  @CastingId is null ) 
								or con.SandProductionId = DmTrans.SandProductionId) 
								
							and (( @assemblyHeatCode is  null and @assemblyHeatId = 0 ) 
								or conAss.SandProductionId = DmTrans.SandProductionId)
							AND IsSandProduction = 2
                            AND ( cast(@DateFrom as Date) IS NULL                                      
                                              OR Cast(@DateTo as Date) IS NULL                                      
                                              OR Cast(DMMaster.DMDate as Date) BETWEEN Cast(@DateFrom as Date) AND Cast(@DateTo as Date)                                      
											)  
							--AND( @CastingId IS NULL
       --                             OR BOMConsumption.purchaseitemID =@CastingId ) 
									
							AND( @PurchaseItemId IS NULL
                                        OR SandProduction.PurchaseItemId = @PurchaseItemId
                                    )	                       									                                        
							AND SandProduction.EntityID = @EntityId
							AND( @SandProductionId = 0 
                                        OR SandProduction.SandProductionId = @SandProductionId
                                    )
							AND( @DMMasterId is null
                                        OR DMMaster.Id = @DMMasterId  )	
							AND( @InspectorName is null
                                        OR DMMaster.InspectorName = @InspectorName )	
							--AND ( @assemblyheatNo =0           
							--		OR SandProduction.ProductionBatchId   = @assemblyheatNo              
							--	)	
								
							and DMMaster.IsDeleted = 0 
				) as DMTable
				Cross Apply (select	Heatcode,
									pb.Batchno as RawBatchNo
							from	BOMConsumptionBatchWise 
									Inner join CastingStockBatch csb on csb.Batchid = BOMConsumptionBatchWise.StockBatchId
									Inner Join ProductionBatch pb on pb.batchID = csb.productionbatchID
									Inner Join castingHeatcode on castingHeatcode.CastingID = csb.CastingID
											and CastingHeatCode.ProductionBatchID = csb.productionbatchID
											and castingHeatcode.HeatCodeID = csb.HeatCodeId
							Where	BOMConsumptionBatchWise.BOMConsumptionID = DMTable.BOMConsumptionID and DMTable.ItemType = 2 
							and BOMConsumptionBatchWise.Quantity != 0
						
									
							union all
							select	'' as Heatcode,
									RawBatchNo as RawBatchNo
							from	BOMConsumptionBatchWise 
									Inner join RawInwBatchWiseStock riw on riw.RawBatchId = BOMConsumptionBatchWise.RawBatchId
									and BOMConsumptionBatchWise.RawBatchId != 0
							Where	BOMConsumptionBatchWise.BOMConsumptionID = DMTable.BOMConsumptionID and DMTable.ItemType = 1
							and BOMConsumptionBatchWise.Quantity != 0
							
						) as CastingConsumption
			
				Left Join castingMaster consCastingMaster on consCastingMaster.CastingId = DMTable.consumptionItemId
				Left Join purchaseItemMaster conspurchaseItemMaster on conspurchaseItemMaster.purchaseItemId = DMTable.consumptionItemId
				Left Join castingMaster AssCastingMaster on AssCastingMaster.CastingId = DMTable.assemblyItemId	
			
					
            END

	   IF ( @Parameter = 8 )  --user rights
            BEGIN   
              
                IF EXISTS ( SELECT  ApproveLevel  
                            FROM    ApprovalUserRights  
                            WHERE   UserId = @UserId  
                                    AND Type = @AccessType and EntityID = @EntityID)  
                    BEGIN  
                        DECLARE @ApproveLevel INT = ( SELECT  ApproveLevel  
                                                      FROM    ApprovalUserRights  
                                                      WHERE   UserId = @UserId  
                                                              AND Type = @AccessType  
                                                              and EntityID = @EntityID  
                                                    );  
                        RETURN @ApproveLevel;  
                    END   
				 ELSE  
                    BEGIN  
                        RETURN -1;  
                    END  
              
                --RETURN (  SELECT ApproveLevel FROM ApprovalUserRights  
                --WHERE   UserId=@UserId  
               --  )  
            END  
END

GO
