USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[UpdateHSNGSTTemplate]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateHSNGSTTemplate]
	-- Add the parameters for the stored procedure here
	@HSNGSTMappingId UNIQUEIDENTIFIER = NULL,
	@HSNCode Varchar(50)=null,
	@TaxTemplateId INT=0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update HSNGSTMapping SET HSNCode=@HSNCode,TaxTemplateId =@TaxTemplateId where HSNGSTMappingId=@HSNGSTMappingId 
END
GO
