USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[EditLogInquiry]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Bijal Patel>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[EditLogInquiry]
	 @InquiryId UNIQUEIDENTIFIER = NULL ,
	 @EntityId int = 0 ,
	 @IfActive bit= 0 --passed in code 
AS
BEGIN
						
	Declare @RevisionNo bigint = (select count(InquiryId)+1 from  [ICAST_IMS_LOG].[dbo].InquiryMaster where InquiryId= @InquiryId)
	 DECLARE @TableItem table (SrNoRevisionwise int,RevisionNo BIGINT ,InquiryNo varchar(50) ,
							   InquiryAbout varchar(50), Reference varchar(50), InquiryDate datetime,ContactPerson varchar(50) ,
							   InquiryType varchar(50), EntryNo varchar(50), ItemName varchar(50),  Grade varchar(50) ,
							   DrawingNo varchar(50),NetWeightPerPc float,  Remarks varchar(max),RegretReason varchar(50),
							   InquiryId UNIQUEIDENTIFIER ,InquiryTransId UNIQUEIDENTIFIER,CustomerName varchar(max), ModifiedUserName varchar(100) ,
							   InsertedDate  varchar(100) )
       
    INSERT INTO @TableItem
	 SELECT   DENSE_RANK() over(order by RevisionNo) AS SrNoRevisionwise,* FROM
			 (
								 SELECT	IM.RevisionNo   ,     
									 ( ISNULL(IM.Prefix, '') 
										+ ISNULL(IM.Separator, '') 
										+ IM.InquiryNo
										+ ISNULL(IM.Separator, '') 
										+ ISNULL(IM.Suffix, '') 
										) AS InquiryNo ,
										 InquiryAbout,
										 Reference,		
										 CONVERT(VARCHAR(11), IM.InquiryDate, 106) AS [InquiryDate] ,
										 IM.ContactPerson ,
										 IM.InquiryType ,
										 EntryNo,
										IT.ItemName ,
										IT.Grade ,
										DrawingNo ,
										CONVERT(DECIMAL(10, 3), NetWeightPerPc) AS NetWeightPerPc ,
										Remarks ,	
										RegretReason,
										IM.InquiryId ,
										InquiryTransId,
										case when @IfActive=1 
											then case when  CustomerMaster.CustomerCode = '' 
											then  CustomerMaster.CustomerName 
											else isnull(CustomerMaster.CustomerCode,CustomerMaster.CustomerName) end  
											else CustomerMaster.CustomerName end CustomerName  ,
										 U.UserName AS ModifiedUserName,
						case when		IM.ModifiedBy =0 or IM.ModifiedBy is null then   IM.CreatedOn else IM.ModifiedOn end  AS InsertedDate      
								FROM    [ICAST_IMS_LOG].[dbo].InquiryMaster as IM										
										INNER JOIN [ICAST_IMS_LOG].[dbo].InquiryTrans IT ON IT.InquiryId = IM.InquiryId and IM.RevisionNo =IT.RevisionNo									
										 INNER JOIN CustomerMaster ON IM.CustomerId = CustomerMaster.CustomerId
										 LEFT JOIN  UserMaster AS U ON U.UserId  = case when  IM.ModifiedBy =0  or IM.ModifiedBy is null then    IM.CreatedBY else  IM.ModifiedBY end  


								WHERE   IM.InquiryId = @InquiryId
									AND IT.IsDeleted = 0
          
     ) AS FINAL    
     
    
     INSERT INTO @TableItem
	 SELECT  @RevisionNo AS SrNoRevisionwise , * 
	 FROM (
				SELECT @RevisionNo AS RevisionNo,									
                        ( ISNULL(InquiryMaster.Prefix, '') 
                        + ISNULL(InquiryMaster.Separator, '') 
                        + InquiryMaster.InquiryNo
                        + ISNULL(InquiryMaster.Separator, '') 
                        + ISNULL(InquiryMaster.Suffix, '') 
                        ) AS InquiryNo , 	
						 InquiryAbout,
						 Reference,                  
					    CONVERT(VARCHAR(11), InquiryMaster.InquiryDate, 106) AS [InquiryDate] ,
                        InquiryMaster.ContactPerson , 
					    InquiryMaster.InquiryType ,
					    EntryNo,
                        dbo.InquiryTrans.ItemName ,
                        dbo.InquiryTrans.Grade ,
                        dbo.InquiryTrans.DrawingNo ,
                        CONVERT(DECIMAL(10, 3), InquiryTrans.NetWeightPerPc) AS NetWeightPerPc ,
                        dbo.InquiryTrans.Remarks ,                     
                        dbo.InquiryTrans.RegretReason,
						InquiryMaster.InquiryId ,					
						InquiryTransId,
						case when @IfActive=1 
								then case when  CustomerMaster.CustomerCode = '' 
								then  CustomerMaster.CustomerName 
								else isnull(CustomerMaster.CustomerCode,CustomerMaster.CustomerName) end  
							    else CustomerMaster.CustomerName end CustomerName  ,
						 U.UserName AS ModifiedUserName,
						case when InquiryMaster.ModifiedBy =0 or InquiryMaster.ModifiedBy is null then   InquiryMaster.CreatedOn else InquiryMaster.ModifiedOn end  AS InsertedDate      
                FROM    InquiryMaster                       
                        INNER JOIN dbo.InquiryTrans ON dbo.InquiryTrans.InquiryId = dbo.InquiryMaster.InquiryId		
						 INNER JOIN CustomerMaster ON InquiryMaster.CustomerId = CustomerMaster.CustomerId
						 LEFT JOIN  UserMaster AS U ON U.UserId  = case when  InquiryMaster.ModifiedBy =0  or InquiryMaster.ModifiedBy is null then    InquiryMaster.CreatedBY else  InquiryMaster.ModifiedBY end  

              	WHERE   InquiryMaster.InquiryId = @InquiryId
						AND InquiryTrans.IsDeleted = 0
                    
        
		) AS FINAL

		   
 select distinct CA.* 
       into #tempEditLogInquiry
      from @TableItem  as t      
		CROSS APPLY (
			  Values
				 (1,t.SrNoRevisionwise,'User Name' , modifiedUSerName COLLATE DATABASE_DEFAULT,''),
				 (2,t.SrNoRevisionwise,'Inserted/Altered On' ,cast(InsertedDate  as varchar) ,'' ),
				 (3,t.SrNoRevisionwise,'Inquiry Date' ,  CONVERT(VARCHAR(15),  InquiryDate, 106) ,'' ),
				 (4,t.SrNoRevisionwise,'Inquiry No' , InquiryNo COLLATE DATABASE_DEFAULT,'' ),				
				 (6,t.SrNoRevisionwise,'Customer Name' , CustomerName COLLATE DATABASE_DEFAULT,'' ),
				 (7,t.SrNoRevisionwise,ItemName, 
																		'Grade: ' +  CAst(Grade  as varchar) + CHAR(10)  
																	+	'Drawing No: ' +  CAst(DrawingNo as varchar) + CHAR(10)  
																	+  'Net wt(Kg) : ' + CAst(NetWeightPerPc as varchar) COLLATE DATABASE_DEFAULT + CHAR(10) 
																	,cast(InquiryTransId as Varchar(Max))),
				 (8,t.SrNoRevisionwise,'Inquiry About' , CAst(InquiryAbout as varchar) COLLATE DATABASE_DEFAULT,''  ),
				 (9,t.SrNoRevisionwise,'Contact Person' , CAst(ContactPerson as varchar) COLLATE DATABASE_DEFAULT,'' ),
				  (10,t.SrNoRevisionwise,'Reference' , CAst(Reference as varchar) COLLATE DATABASE_DEFAULT,''),
				 (11,t.SrNoRevisionwise,'Inquiry Type' , CAst(InquiryType as varchar) COLLATE DATABASE_DEFAULT,''  )
				
			
		  ) as CA (sr,SrNoRevisionwise,ColName, ColValue,TransId )  
		  where ColName is not null and CA.SrNoRevisionwise = t.SrNoRevisionwise 
		  
DECLARE @cols AS NVARCHAR(MAX) 
select @cols = STUFF((SELECT  ','  + QUOTENAME(SrNoRevisionwise) 
                    from #tempEditLogInquiry  group by  SrNoRevisionwise
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')    
   
    
declare @sql1 NVARCHAR(MAX) = '';		 
SET @sql1 ='
SELECT *
FROM   #tempEditLogInquiry
PIVOT  
(  
  max(ColValue)  
  FOR SrNoRevisionwise IN ('+ @cols +' )  
) AS PivotTable order by cast(sr as int);  
';

EXECUTE sp_executesql @sql1;     	
drop table  #tempEditLogInquiry
END
GO
