USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GetDeadItemList]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
create   PROCEDURE  [dbo].[GetDeadItemList]
@EntityId int = 0,
@Days int  = 0 ,
@PurchaseItemID UNIQUEIDENTIFIER = null,
@PurchaseItemGroupId UNIQUEIDENTIFIER = null,
@PurchaseItemSubGroupId UNIQUEIDENTIFIER = null,
@PurchaseItemTypeId UNIQUEIDENTIFIER = null 
AS
	BEGIN	 	
	select ItemName,ItemCode,Stock,
				ISNULL(PurchaseItemGroupMaster.GroupName,'Other') as GroupName,
				ISNULL(PurchaseItemCategoryMaster.CategoryName,'Other') as SubGroupName,StockTable.PurchaseItemId
		from(select sum(isnull(InventoryDetails.Stock ,0)) as Stock,
                     PurchaseItemId  
                     from        InventoryDetails
                     Where        Entity = @EntityId and stock > 0
					 group by   PurchaseItemId       
            ) as StockTable
            inner join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId =StockTable.PurchaseItemId
			LEFT JOIN PurchaseItemGroupMaster on PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId
			LEFT JOIN PurchaseItemCategoryMaster on PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId
	   where NOT EXISTS (select 1 from  MaterialIssueTrans 
                                       inner join MaterialIssue  on MaterialIssueTrans.IssueId = MaterialIssue.IssueId and MaterialIssue.IsDeleted = 0  
                                       where        MaterialIssueTrans.IsDeleted = 0 and cast(MaterialIssue.IssueDate as date)
                                              between cast( DATEADD(DAY, -@days, GETDATE()) as date)  and  cast(getdate() as date)
                                              and StockTable.PurchaseItemId = MaterialIssueTrans.PurchaseItemId
                                              and MaterialIssue.EntityID = @EntityId and MaterialIssue.IsTransfer = 0                                        
                                )
						and PurchaseItemMaster.IsDeleted = 0                         
                        and PurchaseItemMaster.IsPattern = 0 
						And ISNULL(IsPatternDummy,0) = 0
						And IsEquipment =0   
						And (@PurchaseItemID IS NULL or PurchaseItemMaster.PurchaseItemId = @PurchaseItemID)
						And (@PurchaseItemGroupId IS NULL or PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId)
						ANd (@PurchaseItemSubGroupId IS NULL OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemSubGroupId)
						And (@PurchaseItemTypeId IS NULL OR PurchaseItemMaster.PurchaseItemtypeId = @PurchaseItemTypeId)
		
END
GO
