USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WebReportAccountPayable]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WebReportAccountPayable]
 
@CustomerID UNIQUEIDENTIFIER = NULL ,
@StartDate DATETIME = NULL ,
@EndDate DATETIME = NULL ,
@PageIndex INT = 0 ,
@PageSize INT = 0 ,
@SortBy VARCHAR(50) = '' ,
@SortOrder VARCHAR(50) = ''
AS
BEGIN
  BEGIN
  SELECT  *
	FROM    (
			SELECT 
			ROW_NUMBER() OVER ( ORDER BY PurchaseInvoice.SupplierID DESC ) AS SrNo ,
			
        CustomerMaster.CustomerName ,
        PurchaseInvoice.SupplierID, ISNULL(SUM(payamount.PaymentAmount),0) AS PaymentAmount ,
        ISNULL(SUM(TotalAmount),0) AS TotalAmount,
        CASE WHEN (SUM(TotalAmount) - ISNULL(SUM(payamount.PaymentAmount), 0))>0 THEN ( SUM(TotalAmount) - ISNULL(SUM(payamount.PaymentAmount), 0) )
                             ELSE '0'
                        END AS DueAmount ,
                         COUNT(1) OVER ( ) AS TotalCount --Shabbir
FROM    PurchaseInvoice
        LEFT JOIN ( SELECT PurchaseInvoiceId ,
                            SUM(AccountPayableTrans.PaymentAmount) AS PaymentAmount
                     FROM   AccountPayableTrans
                     GROUP BY PurchaseInvoiceId
                   ) payamount ON payamount.PurchaseInvoiceId = PurchaseInvoice.PurchaseInvoiceId
        INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = PurchaseInvoice.SupplierID
       WHERE SupplierInvoiceDate BETWEEN @StartDate AND @EndDate 
        and(@CustomerId IS NULL
       OR CustomerMaster.CustomerId=@CustomerId)
       And PurchaseInvoice.IsDelete=0
GROUP BY PurchaseInvoice.SupplierID,CustomerName
			 ) AS s
			 WHERE   SrNo BETWEEN ( ( @PageIndex - 1 ) * @PageSize ) + 1 AND ( @PageIndex * @PageSize )
                            --ORDER BY s.CustomerName
		END
      
END
GO
