USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GradeWiseProductionChart]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EXEC [dbo].[GradeWiseProductionChart] '01 apr 2022', '31 mar 2024', '1,2,3', 1
CREATE PROCEDURE [dbo].[GradeWiseProductionChart] 
(
	@StartDate datetime = NULL,
	@EndDate datetime = NULL,
	@PlantIdString varchar(max) = NULL,
	@EntityId int = 0
)
AS
BEGIN

	DECLARE @Plant TABLE ( Item int )
	IF (@PlantIdString IS NOT NULL AND @PlantIdString != '')
	BEGIN
		INSERT INTO @Plant
			SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	END

	DECLARE @ProdBatchTbl TABLE(batchID INT, MetalID INT)
	INSERT INTO @ProdBatchTbl
		SELECT	ProdBatch.batchID, ProdBatch.MetalID
		FROM	dbo.ProductionBatch AS ProdBatch
		WHERE	(CAST(ProdBatch.ProductionDate AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE))
				AND ProdBatch.IsDeleted = 0
				AND ProdBatch.BatchType = 0
				AND ProdBatch.EntityID = @EntityId
				AND (ISNULL(@PlantIdString, '') = ''
					OR ProdBatch.PlantId IN (SELECT Item FROM @Plant)
				)

	DECLARE @Knckt_TtlKG FLOAT = 0
	SET @Knckt_TtlKG = (
		SELECT	SUM(knockout.productionqty * dbo.knockout.perpcweight)
		FROM	@ProdBatchTbl AS TblProdBatch
				INNER JOIN dbo.knockout ON dbo.knockout.batchid = TblProdBatch.batchID
							AND dbo.knockout.IsDeleted = 0
	)

	SELECT	TOP 8 MetalName, ProdBatchTbl.MetalID AS metalid, @Knckt_TtlKG AS TotalKg,
			(SUM(Knckt.GradewiseWeight)) AS GradewiseWeight,
			(ROUND((SUM(Knckt.GradewiseWeight) * 100) / (@Knckt_TtlKG), 2)) AS ProductionPer,
			SUM(Knckt.productionqty) AS TotalProduction
	FROM	@ProdBatchTbl AS ProdBatchTbl
			INNER JOIN (
				SELECT	dbo.knockout.batchid, dbo.knockout.productionqty, (dbo.knockout.productionqty * dbo.knockout.perpcweight) AS GradewiseWeight
				FROM	dbo.knockout
						INNER JOIN @ProdBatchTbl AS InrProdBatchTbl ON InrProdBatchTbl.batchID = dbo.knockout.batchid
				WHERE	IsDeleted = 0
			) AS Knckt ON Knckt.batchid = ProdBatchTbl.batchID
						
			INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = ProdBatchTbl.MetalID
	GROUP BY ProdBatchTbl.MetalID, MetalName
	ORDER BY ProductionPer DESC

	OPTION(RECOMPILE)

END
GO
