USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PatternAmortiseCostReport]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[PatternAmortiseCostReport]  
    @StartDate DATETIME = NULL ,  
    @EndDate DATETIME = NULL ,  
    @CustomerID UNIQUEIDENTIFIER = NULL ,  
    @PatternID UNIQUEIDENTIFIER = NULL ,  
    @PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityId INT = 0  
AS  
    BEGIN   
    declare @PatternIdTable table (Item UNIQUEIDENTIFIER) 
    Insert into @PatternIdTable SELECT item  FROM CustomerPatternMappingFunction(@PlantIdString)     
        SELECT  PatternCode ,  
                NoOfCastingProduced AS TotalCastingProduced ,  
                ISNULL(knockoutTable.ProductionQty, 0) AS ProductionQty ,  
                CONVERT(DECIMAL(18, 3), ISNULL(knockoutTable.TotalWeight, 0)) AS Weight ,  
                ( CASE WHEN ISNULL(PatternLife, 0) = 0 THEN 0  
                       ELSE CONVERT(DECIMAL(18, 2), ( PatternValue  
                                                      / PatternLife )  
                            * ISNULL(knockoutTable.ProductionQty, 0))  
                  END ) AS PatternAmortiseCost ,  
                ( CASE WHEN ISNULL(PatternLife, 0) = 0 THEN 0  
                       ELSE CONVERT(DECIMAL(18, 2), ( PatternValue  
                                                      / PatternLife )  
                            * NoOfCastingProduced)  
                  END ) AS Totalcost ,  
                ( STUFF(( SELECT    ', ' + CastingMaster.CastingName  
                          FROM      CastingMaster  
                          WHERE     ( CastingMaster.Dieid = PatternMaster.PatternId )  
                        FOR  
                          XML PATH('')  
                        ), 1, 1, '') ) AS Casting  
        FROM    PatternMaster  
                LEFT JOIN ( SELECT  PatternID ,  
                                    SUM(ProductionQty) AS ProductionQty ,  
                                    SUM(ProductionQty * PerPcWeight) AS TotalWeight  
                            FROM    Knockout  
                                    INNER JOIN ProductionBatch ON knockout.batchid = ProductionBatch.batchID  
                            WHERE   BatchType = 0  
                                    AND ProductionBatch.IsDeleted = 0  
         AND knockout.IsDeleted = 0  
                                    AND ProductionDate BETWEEN @StartDate AND @EndDate  
                                    AND ( @PatternID IS NULL OR knockout.PatternId = @PatternID )  
                            GROUP BY PatternId  
                          ) AS knockoutTable ON PatternMaster.PatternId = knockoutTable.PatternId  
        WHERE   ( @PatternID IS NULL  
                  OR PatternMaster.PatternId = @PatternID  
                )  
                AND ( @CustomerID IS NULL  
                      OR PatternMaster.PatternId IN (  
                      SELECT    PatternId  
                      FROM      CustomerPatternMapping  
                      WHERE     CustomerId = @CustomerID )  
                    )  
                AND PatternMaster.IsDeleted = 0  
				AND PatternMaster.IsDummy = 0
                AND ( @PlantIdString IS NULL  
                      OR @PlantIdString = ''  
                      OR PatternMaster.PatternId IN (  
                      select item from @PatternIdTable)  
                    )  
                AND PatternMaster.EntityID = @EntityId  
       delete from @PatternIdTable;
     
    END  
GO
