USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchProcessName]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchProcessName]

@AutoProcess bit=0
, @IsDefault bit=0
,@IsInspProcess bit = 0
,@IsForging bit = 0

AS
    BEGIN
        Select *
		From
		(
			SELECT  ProcessName,ProcessID,
			( CASE WHEN ProcessMaster.ShortCode = NULL
									OR ProcessMaster.ShortCode = ''
							   THEN ProcessMaster.ProcessName
							   ELSE ProcessMaster.ShortCode
						  END ) as ShortCode
			FROM    dbo.ProcessMaster
			WHERE   
				   (@AutoProcess = 1 or	AutoProcess = 0 Or @IsForging = 1)
				   And (@IsDefault = 1 OR IsDefault = 0)
                
					AND IsDeleted = 0
				 ANd (@IsForging = 0 Or IsDefaultForging = 1)
					And (@IsInspProcess = 0 Or ProcessMaster.IsInspectionProcess = @IsInspProcess )
			--ORDER BY ProcessSequence
		) as InsProcess

		Union All
		select 'FR' as ProcessName,CAST(0x0 AS uniqueidentifier) as ProcessID,'FR' as ShortCode

    END
GO
