USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchAutoMoldPlanning]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Bhumin Mashruwala>
-- Create date: <Create Date, 04 Feb 2019>
-- Description:	<Description, Fetch Auto Mold plan>
-- =============================================
-- modified by:	<Hemani Vandra>
-- Last Modification Date: <9th Nov'19>
-- Description:	<all the changes in calender grid, capacity, planning calender>
-- =============================================
CREATE PROCEDURE [dbo].[FetchAutoMoldPlanning] 

@StartDate date,
@EndDate date,
@FilterSandOrCasting Varchar(100) = NULL,
@ShiftCode varchar(50) = NULL ,
@EntityId INT = 0

AS
BEGIN

Declare @TotalDailyMinute int;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Select isnull(SandTypeMaster.SandType,'Other Sand') as SandType ,  
			SUM(NoOfMold) as Qty , 
			Convert(varchar(10),CONVERT(date,PlanDateStartTime,105),105) as PlanDate,
			--Cast(PlanDateStartTime as Date) as PlanDate,
			AutoMoldPlan.ShiftId ,
			HRShiftMaster.ShortCode as ShiftName
			from AutoMoldPlan
INNER JOIN CastingMaster ON AutoMoldPlan.CastingID = CastingMaster.CastingId
INNER JOIN PatternMaster ON CastingMaster.Dieid = PatternMaster.PatternId
INNER JOIN HRShiftMaster ON AutoMoldPlan.ShiftId = HRShiftMaster.ShiftId
LEFT JOIN MoldLineMaster ON PatternMaster.MoldLineID = MoldLineMaster.MoldLineID
LEFT JOIN SandTypeMaster ON PatternMaster.SandTypeID = SandTypeMaster.SandTypeId
where Cast(PlanDateStartTime as Date) >= @StartDate and Cast(PlanDateEndTime as Date) <= @EndDate  
AND (@FilterSandOrCasting is null or isnull(SandTypeMaster.SandType,'Other Sand') in (@FilterSandOrCasting))
--AND AutoMoldPlan.EntityId = @EntityId
-- AND (@ShiftCode is null or HRShiftMaster.ShortCode = @ShiftCode)
 Group by Convert(varchar(10),CONVERT(date,PlanDateStartTime,105),105)
 --Cast(PlanDateStartTime as Date) 
 , SandTypeMaster.SandType  
 , AutoMoldPlan.ShiftId,			HRShiftMaster.ShortCode


---------------------------------CHANGED BY HEMANI---------------------
SELECT		0 AS SelectRecord ,
			'' AS ImageControl,
			CONVERT(VARCHAR(10), CONVERT(DATE, PlanDateStartTime, 105), 105) AS PlanDate,
			0 as IsJobWorkProcess,
			0 as srno,
			CastingMaster.CastingName,
			isnull(SandTypeMaster.SandType,'Other Sand') as SandType , 
			PatternMaster.PatternCode AS Code, 	 
			SUM(NoOfMold) AS Qty , 
			0.000 AS PlanWeight ,	
			AutoMoldPlan.CastingId,
			AutoMoldPlan.OrderTransID,
			IsLockPlanning,
			CONVERT(VARCHAR(10),CONVERT(DATE, PlanDateStartTime, 105), 105) AS PlanDateStartTime,
			--CAST(PlanDateStartTime AS DATE) AS PlanDate,   
			AutoMoldPlan.ID ,
			CAST(0x0 AS UNIQUEIDENTIFIER) AS CoreID,
			'' AS ShortCode,
			MetalMaster.MetalName,
			ProductionGradeTable.MetalName AS ProductionGrade,
			CastingMetal.DrawingNo,
			CastingMetal.RoughMachineDrawing,
			CastingMetal.FullMachineDrawing,
			ImageTable.FilePath,
			CastingMaster.FloorName AS OtherName
FROM		AutoMoldPlan
			INNER JOIN CastingMaster 
			ON AutoMoldPlan.CastingID = CastingMaster.CastingId
			INNER JOIN PatternMaster 
			ON CastingMaster.Dieid = PatternMaster.PatternId
			LEFT JOIN MoldLineMaster 
			ON PatternMaster.MoldLineID = MoldLineMaster.MoldLineID
			LEFT JOIN SandTypeMaster 
			ON PatternMaster.SandTypeID = SandTypeMaster.SandTypeId
			INNER JOIN OrderTranse
			ON OrderTranse.OrderTranseId = AutoMoldPlan.OrderTransID
			INNER JOIN CastingMetal
			ON CastingMetal.castingID = CastingMaster.CastingId
			AND CastingMetal.metalid = OrderTranse.MetalId
			INNER JOIN MetalMaster
			ON MetalMaster.MetalId = OrderTranse.MetalId
			LEFT JOIN MetalMaster ProductionGradeTable
			ON ProductionGradeTable.MetalId = MetalMaster.ProductionGradeId
			LEFT JOIN (
				SELECT		Id,
							FilePath
				FROM		(
								SELECT		ROW_NUMBER() OVER (PARTITION BY Id ORDER BY ImagePathId) AS SrNo,
											Id,
											FilePath
								FROM		ImagePath
							) AS A
				WHERE		SrNo = 1
			) AS ImageTable
			ON ImageTable.Id = CastingMaster.CastingId
WHERE		CAST(PlanDateStartTime AS DATE) >= @StartDate AND CAST(PlanDateEndTime AS DATE) <= @EndDate  
			AND ( @FilterSandOrCasting IS NULL 
					OR isnull(SandTypeMaster.SandType,'Other Sand') IN ( @FilterSandOrCasting )
				)
				--AND AutoMoldPlan.EntityId = @EntityId
			--AND ( @ShiftCode IS NULL 
			--		OR HRShiftMaster.ShortCode = @ShiftCode
			--	)
 GROUP BY	CONVERT(VARCHAR(10), CONVERT(DATE, PlanDateStartTime, 105), 105),
			--CAST(PlanDateStartTime AS DATE) 
			isnull(SandTypeMaster.SandType,'Other Sand'),
			CastingMaster.CastingName, 
			PatternMaster.PatternCode,
			AutoMoldPlan.CastingId,
			AutoMoldPlan.OrderTransID,
			IsLockPlanning,
			CAST(PlanDateStartTime AS DATE),
			AutoMoldPlan.ID,
			MetalMaster.MetalName,
			ProductionGradeTable.MetalName,
			CastingMetal.DrawingNo,
			CastingMetal.RoughMachineDrawing,
			CastingMetal.FullMachineDrawing,
			CastingMaster.FloorName,
			ImageTable.FilePath



--Set @TotalDailyMinute = ( Select SUM((DATEDIFF(MINUTE, StartTime, EndTime))) as PlanDate from HRShiftMaster where ShiftType=2)


--Select 
--	((100 * SUM((DATEDIFF(MINUTE, PlanDateStartTime, PlanDateEndTime))))/@TotalDailyMinute) as OccupiedPer, 
--	Convert(varchar(10),CONVERT(date,PlanDateStartTime,105),105) as PlanDate,
--	 'MOLDING' as ShiftName , AutoMoldPlan.ShiftId
--	-- Cast(PlanDateStartTime as Date)  as PlanDate 	
--	from AutoMoldPlan 
--	where Cast(PlanDateStartTime as Date) >= @StartDate and Cast(PlanDateEndTime as Date) <= @EndDate 
--Group by Convert(varchar(10),CONVERT(date,PlanDateStartTime,105),105) ,
--AutoMoldPlan.ShiftId 
--Cast(PlanDateStartTime as Date) 


Select ( PLANData.OccupiedTime * 100 / DATEDIFF(minute,HRShiftMaster.StartTime, HRShiftMaster.EndTime)) as OccupiedPer, PlanDate,PlanData.ShiftId , ShortCode as ShiftName from (						
select Sum(DATEDIFF(Minute,PlanDateStartTime,PlanDateEndTime)) AS OccupiedTime , CONVERT(VARCHAR(10), PlanDateStartTime, 105) AS PlanDate	,ShiftId 	FROM		AutoMoldPlan
	WHERE		(CAST(PlanDateStartTime AS DATE) >= CAST(@StartDate AS DATE)
				AND CAST(PlanDateEndTime AS DATE) <= CAST(@EndDate AS DATE))
				--AND AutoMoldPlan.EntityId = @EntityId
				
	GROUP BY	
	CONVERT(VARCHAR(10), PlanDateStartTime, 105),
				ShiftId				
				) As PlanData INNER JOIN HRShiftMaster on 	PlanData.ShiftId = HRShiftMaster.ShiftId

END
GO
