USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_ProductionWithRejection]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
--EXEC Fetch_ProductionWithRejection @DateFrom = '01 apr 2023', @DateTo = '31 mar 2024', @EntityId = 1, @PlantIdString = '1,2,3,4,5'
--EXEC Fetch_ProductionWithRejection @DateFrom = '01 sep 2023', @DateTo = '31 mar 2024', @EntityId = 1, @PlantIdString = '1,2,3,4,5'
-- =============================================
CREATE PROCEDURE [dbo].[Fetch_ProductionWithRejection] 
	-- Add the parameters for the stored procedure here
	@ProcessID uniqueidentifier = null,
	@DateFrom datetime = null,
	@DateTo datetime  = null,
	@EntityId int = 0,
	@PlantIdString varchar(Max) = null,
	@CastingId Uniqueidentifier = null,
	@MetalId int = 0,
	@CastingName varchar(Max) = null,
	@ProcessName varchar(100) = null,
	@ComponentId uniqueidentifier = NULL,
	@MetalType varchar(50)= null 
      
AS
BEGIN
	
	DECLARE @Plant TABLE (Item int)
	DECLARE	@TotalInsQty int = 0, @TotalInsWt float = 0.00;
	IF (@PlantIdString IS NOT NULL AND @PlantIdString != '')
	BEGIN
		INSERT INTO @Plant
			SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	END

	SELECT	ROW_NUMBER() OVER (PARTITION BY fgrateMaster.castingId, MetalMaster.ProductionGradeId ORDER BY fgrateMaster.castingId, MetalMaster.ProductionGradeId) AS Rw,
			AVG(FGRateMaster.Rate) AS TotalRate,
			FGRateMaster.CastingId,
			FGRateMaster.MetalId,
			MetalMaster.ProductionGradeId,
			FGRateMaster.UOM 
	INTO	#FGRATE
	FROM	FGRateMaster(NOLOCK)
			INNER JOIN MetalMaster(NOLOCK) ON MetalMaster.MetalId = FGRateMaster.MetalId
	WHERE	(@CastingId IS NULL OR FGRateMaster.CastingId = @CastingId)
	GROUP BY FGRateMaster.CastingID, FGRateMaster.MetalID, MetalMaster.ProductionGradeId, FGRateMaster.UOM

	IF (@ProcessID IS NULL AND @ProcessName = 'FR')
	BEGIN
		SET @ProcessID = CAST(0x0 AS uniqueidentifier)
	END

	IF ((ISNULL(@ProcessName, '') = '' AND @ProcessID IS NULL))
	BEGIN
		SELECT	@TotalInsQty = SUM(PPM.ProcessQty), 
				@TotalInsWt = ROUND((SUM(ISNULL(PPM.ProcessQty, 0) * CastingWeight)), 1)
		FROM	ProcessPerformMaster(NOLOCK) PPM
				INNER JOIN ProcessMaster(NOLOCK) Pm ON Pm.ProcessId = PPM.ProcessID AND Pm.IsDeleted = 0
				INNER JOIN CastingMaster(NOLOCK) ON CastingMaster.CastingId = PPM.CastingID AND CastingMaster.IsDeleted = 0
				INNER JOIN MetalMaster(NOLOCK) ON MetalMaster.MetalId = PPM.MetalID 
		WHERE	Pm.IsInspectionProcess = 1
				AND PPM.IsDeleted = 0 
				AND Pm.IsInspectionSeq = 1
				AND CAST(PPM.ProcessPerformDate AS date) BETWEEN CAST(@DateFrom AS date) AND CAST(@DateTo AS date)
				AND PPM.EntityID = @EntityId
				AND (@ProcessID IS NULL OR PPM.ProcessID = @ProcessID)
				AND (@CastingId IS NULL OR PPM.ParentID = @CastingId)
				AND (@MetalId = 0 OR PPM.MetalID = @MetalId)
				AND (@CastingName IS NULL OR @CastingName = '' OR CastingMaster.CastingName = @CastingName)
				AND (@PlantIdString IS NULL OR @PlantIdString = '' 
					OR castingMaster.CastingId IN (SELECT castingid FROM dbo.PlantCastingMapping WHERE PlantId IN (SELECT Item FROM @Plant))
				)
				AND (@ComponentId IS NULL OR CastingMaster.ComponentId = @ComponentId)
				AND (@MetalType IS NULL OR MetalMaster.MetalType = @MetalType)

		set @TotalInsQty = @TotalInsQty
	
		SELECT	@TotalInsQty = isnull(@TotalInsQty ,0) + isnull(SUM(ISNULL(cdim.InspectionQty, 0)),0),
				@TotalInsWt = isnull(@TotalInsWt,0) + Isnull(SUM(ISNULL(cdim.InspectionQty * RejectionQtyWeight, 0)) ,0)
		FROM	CastingDimInspMaster AS cdim
				INNER JOIN CastingMaster ON CastingMaster.CastingId = cdim.CastingID
								AND CastingMaster.IsDeleted = 0
		WHERE	cdim.IsDeleted = 0
				and exists (select 1 from 
								CastingDimInspReasonWiseRej
								inner Join RejectionMaster on RejectionMaster.CastingDimInspReasonWiseRejID = CastingDimInspReasonWiseRej.CastingDimInspReasonWiseRejID
								INNER JOIN ProductionBatch ON ProductionBatch.batchID = RejectionMaster.productionbatchID
								INNER JOIN MetalMaster AS mm ON mm.MetalId = ProductionBatch.MetalID
							where  CastingDimInspReasonWiseRej.CastingDimId = cdim.CastingDimId
								AND ISNULL(CastingDimInspReasonWiseRej.IsMachineshopRej, 0) = 1
							AND (@MetalId = 0 OR mm.MetalID = @MetalId)
							AND (@MetalType IS NULL OR MM.MetalType = @MetalType)
						)
				AND CAST(cdim.CreatedOn AS date) BETWEEN CAST(@DateFrom AS date) AND CAST(@DateTo AS date)
				AND cdim.EntityID = @EntityId 
				AND (@CastingId IS NULL OR cdim.CastingId = @CastingId)
				AND (@CastingName IS NULL OR @CastingName = '' OR CastingMaster.CastingName = @CastingName)
				AND (@PlantIdString IS NULL OR @PlantIdString = ''
					OR cdim.PlantId IN (SELECT Item FROM @Plant))
				AND (@ComponentId IS NULL OR CastingMaster.ComponentId = @ComponentId)
							
			
	END

	--; WITH CTE AS (
		SELECT	PPM.ProcessPerformID, PPM.ProcessQty, PPM.CastingId, PPM.ProcessID, PPM.MetalID, CastingWeight, PM.ShortCode, PM.IsInspectionSeq,
				CastingName, CastingCode, MetalName
		INTO	##CTE_PPMst
		FROM	ProcessPerformMaster(NOLOCK) AS PPM
				INNER JOIN ProcessMaster(NOLOCK) PM ON PM.ProcessId = PPM.ProcessID 
				INNER JOIN CastingMaster(NOLOCK) ON CastingMaster.CastingId = PPM.CastingID
				INNER JOIN MetalMaster(NOLOCK) ON MetalMaster.MetalId = PPM.MetalID
		WHERE	PM.IsInspectionProcess = 1
				AND PPM.IsDeleted = 0 --and ReasonMaster.ReasonID != 0
				AND PPM.EntityID = @EntityId
				AND CAST(PPM.ProcessPerformDate AS date) BETWEEN CAST(@DateFrom AS date) AND CAST(@DateTo AS date)
				AND (@ProcessID IS NULL OR PPM.ProcessID = @ProcessID)
				AND (@PlantIdString IS NULL OR @PlantIdString = ''
					OR castingMaster.CastingId IN (SELECT castingid FROM dbo.PlantCastingMapping WHERE PlantId IN (SELECT Item FROM @Plant)))
				AND (@CastingId IS NULL OR PPM.ParentID = @CastingId)
				AND (@MetalId = 0 OR PPM.MetalID = @MetalId)
				AND (@CastingName IS NULL OR @CastingName = '' OR CastingMaster.CastingName = @CastingName)
				AND (@ProcessID IS NULL OR (@ProcessName != 'FR' AND @ProcessID != CAST(0x0 AS uniqueidentifier)))
				AND (@ComponentId IS NULL OR CastingMaster.ComponentId = @ComponentId)
				AND (@MetalType IS NULL OR MetalMaster.MetalType = @MetalType)
	--)

	SELECT	ProcessPerformBreakupId, RejectionID 
	INTO	##RAI_TmpRejMst
	FROM	RejectionMaster(NOLOCK)
			INNER JOIN ProcessPerformBreakup(NOLOCK) ON RejectionMaster.ProcessPerformBreakupId = ProcessPerformBreakup.ID
			INNER JOIN ##CTE_PPMst AS PrcPrfmMst ON PrcPrfmMst.ProcessPerformID = ProcessPerformBreakup.ProcessPerformID
			
	SELECT	MAX(RowNum) OVER (PARTITION BY Final2.CastingId) AS MetalCount,
			Final2.*
	FROM (

		SELECT DENSE_RANK() OVER (PARTITION BY CastingId ORDER BY CAStingName, rownum2) AS RowNum, *
		FROM (
			SELECT *
			FROM (
				SELECT	ProcPrfrmTbl.Rownum2, ProcPrfrmTbl.CastingName, ProcPrfrmTbl.CastingCode, ProcPrfrmTbl.MetalId
						, ProcPrfrmTbl.MetalName, ProcPrfrmTbl.CastingId, isnull(ReasonMaster.ReasonID,0) as ReasonID
						, isnull(ReasonMaster.ReasonShortCode,'') as Reason, ReasonMaster.Reason as ReasonName
						, Sum(isnull(CastingFinalRejection.RejQty,0)) as RejectQty
						, ProcPrfrmTbl.ProcessId, ProcPrfrmTbl.ProcessName, ProcPrfrmTbl.ProductionQty, ProcPrfrmTbl.InspectionQty
						, ProcPrfrmTbl.InspWeight, ProcPrfrmTbl.IsInspectionSeq
						, round((Sum(isnull(CastingFinalRejection.RejQty,0)) * ProcPrfrmTbl.PPMTableCastingWeight),1) as  TotalWeight
						, isnull(@TotalInsQty,0) as TotalInspectionQty, round(isnull(@TotalInsWt,0),1) as TotalInspWeight
						, round(((case when isnull(FGTable.UOM,'') = 'PerKg' 
										then isnull((Sum(isnull(CastingFinalRejection.RejQty,0)) * ProcPrfrmTbl.PPMTableCastingWeight),0)
									else isnull(Sum(isnull(CastingFinalRejection.RejQty,0)) ,0) end)
									* isnull(FGTable.TotalRate,0)), 1
						) as TotalRate
				FROM (
						SELECT	CAST(PrcPrfmMst.CastingID AS nvarchar(100)) + CAST(PrcPrfmMst.MetalID AS nvarchar(10)) AS Rownum2,
								CastingName, CastingCode, PrcPrfmMst.MetalID, MetalName, PrcPrfmMst.CastingID AS CastingId,
								PrcPrfmMst.ProcessId, PrcPrfmMst.ShortCode AS ProcessName, 
								0 AS ProductionQty, PPMTable.InspectionQty, ROUND((PPMTable.InspWeight), 1) AS InspWeight, PrcPrfmMst.IsInspectionSeq,
								PPMTable.CastingWeight AS PPMTableCastingWeight, --ROUND((SUM(ISNULL(CastingFinalRejection.RejQty, 0)) * PPMTable.CastingWeight), 1) AS TotalWeight,
								ISNULL(@TotalInsQty, 0) AS TotalInspectionQty, ROUND(ISNULL(@TotalInsWt, 0), 1) AS TotalInspWeight
								, ProcessPerformBreakup.ID
						FROM	##CTE_PPMst AS PrcPrfmMst
							INNER JOIN (
								SELECT	ProcessPerformBreakup.ProcessPerformID, ProcessPerformBreakup.batchID, ProcessPerformBreakup.ID 
								FROM	ProcessPerformBreakup(NOLOCK)
										INNER JOIN ##CTE_PPMst AS PrcPrfmMst ON PrcPrfmMst.ProcessPerformID = ProcessPerformBreakup.ProcessPerformID
							) AS ProcessPerformBreakup ON ProcessPerformBreakup.ProcessPerformID = PrcPrfmMst.ProcessPerformID
							INNER JOIN (
						
								SELECT	SUM(InrPPMst.ProcessQty) AS InspectionQty, InrPPMst.CastingId, InrPPMst.ProcessID, InrPPMst.MetalID,
										AVG(InrPPMst.CastingWeight) AS CastingWeight, 
										(SUM(ISNULL(InrPPMst.ProcessQty, 0)) * AVG(InrPPMst.CastingWeight)) AS InspWeight
								FROM	##CTE_PPMst AS InrPPMst
								GROUP BY InrPPMst.CastingID, InrPPMst.ProcessId, InrPPMst.MetalID
						
							) AS PPMTable ON PPMTable.CastingID = PrcPrfmMst.CastingID
									AND PPMTable.ProcessID = PrcPrfmMst.ProcessID 
									AND PPMTable.MetalID = PrcPrfmMst.MetalID
						) AS ProcPrfrmTbl
						LEFT JOIN (
							SELECT	ProcessPerformBreakupId, RejectionID 
							FROM	RejectionMaster(NOLOCK)
						) AS RejectionMaster ON RejectionMaster.ProcessPerformBreakupId = ProcPrfrmTbl.ID
						LEFT JOIN (
							SELECT RejectionID, RejInwardID FROM Inhouserejmgnt(NOLOCK)
						) AS Inhouserejmgnt ON Inhouserejmgnt.RejectionID = RejectionMaster.RejectionID
						LEFT JOIN (
							SELECT	InwardID, ReasonID, PartId, MetalID, RejQty FROM CastingFinalRejection(NOLOCK)
							WHERE	CastingFinalRejection.IsInHouseRej = 1 
						) AS CastingFinalRejection ON CastingFinalRejection.InwardID = Inhouserejmgnt.RejInwardID
						LEFT JOIN ReasonMaster(NOLOCK) ON ReasonMaster.ReasonID = CastingFinalRejection.ReasonID
						LEFT JOIN CastingMetal(NOLOCK) ON CastingMetal.castingID = CastingFinalRejection.PartId
											AND CastingMetal.metalid = CastingFinalRejection.MetalID
											AND CastingMetal.IsDeleted = 0
						LEFT JOIN #FGRATE AS FGTable ON FGTable.CastingID = CastingFinalRejection.PartId
											AND ((CastingMetal.IsProductionGrade = 1
													AND FGTable.ProductionGradeId = CastingFinalRejection.MetalID
													AND FGTable.Rw = 1)
												OR (CastingMetal.IsProductionGrade = 0 AND FGTable.MetalId = CastingFinalRejection.MetalID)
											)
				WHERE	(@ProcessID IS NULL
							OR (@ProcessName != 'FR' AND @ProcessID != CAST(0x0 AS uniqueidentifier)))						
				GROUP BY ProcPrfrmTbl.Rownum2, ProcPrfrmTbl.CastingName, ProcPrfrmTbl.CastingCode, ProcPrfrmTbl.MetalId
						, ProcPrfrmTbl.MetalName, ProcPrfrmTbl.CastingId, ReasonMaster.ReasonID
						, ReasonMaster.ReasonShortCode, ReasonMaster.Reason, ProcPrfrmTbl.ProcessId, ProcPrfrmTbl.ProcessName
						, ProcPrfrmTbl.ProductionQty, ProcPrfrmTbl.InspectionQty, ProcPrfrmTbl.InspWeight, ProcPrfrmTbl.IsInspectionSeq
						, ProcPrfrmTbl.PPMTableCastingWeight, FGTable.UOM, FGTable.TotalRate
			) AS SemiFinal
			INNER JOIN (
				SELECT	SUM(IntPPMst.ProcessQty) AS ProcessWiseInspQty, IntPPMst.ProcessId AS processid1,
						ROUND((SUM(ISNULL(IntPPMst.ProcessQty, 0) * IntPPMst.CastingWeight)), 1) AS ProcessInspWeight
				FROM	##CTE_PPMst AS IntPPMst
				GROUP BY IntPPMst.ProcessId
			) AS processwiseTotal ON SemiFinal.ProcessId = processwiseTotal.processid1

			UNION ALL

			SELECT	fr.Rownum2, fr.CastingName, fr.CastingCode, fr.MetalId, fr.MetalName, fr.CastingId, fr.ReasonID, fr.Reason, fr.ReasonName,
					fr.RejectQty AS RejectQty, fr.ProcessId, fr.ProcessName, fr.ProductionQty,
					InspectionCastingWise.InspectionQty,
					InspectionCastingWise.InspWeight, fr.IsInspectionSeq,
					fr.TotalWeight, fr.TotalInspectionQty,
					ROUND(TotalInspWeight, 1) AS TotalInspWeight, ROUND(TotalRate, 1) AS TotalRate,
			
					PWT.ProcessWiseInspQty, fr.ProcessId AS processid1, PWT.ProcessInspWeight
					
			FROM (
				SELECT	Rownum2, CastingName, CastingCode, MetalId, MetalName, CastingId, ReasonID, Reason, ReasonName,
						SUM(ISNULL(RejectQty, 0)) AS RejectQty, ProcessId, ProcessName, ProductionQty,
						IsInspectionSeq,
						ROUND((SUM(ISNULL(RejectQty, 0)) * TotalWeight), 1) AS TotalWeight, TotalInspectionQty,
						ROUND(TotalInspWeight, 1) AS TotalInspWeight, ROUND(TotalRate, 1) AS TotalRate
				FROM (
					SELECT	CAST(cm.CastingId AS nvarchar(100)) + CAST(ISNULL(mm.MetalId, '') AS nvarchar(10)) AS Rownum2,
							cm.CastingName, cm.CastingCode, mm.MetalId, mm.MetalName, cm.CastingId, ISNULL(ReasonMaster.ReasonID, 0) AS ReasonID, 
							ISNULL(ReasonMaster.ReasonShortCode, '') AS Reason, ReasonMaster.Reason AS ReasonName, SUM(ISNULL(cdirwr.RejQty, 0)) AS RejectQty,
							CAST(0x0 AS uniqueidentifier) AS ProcessId, 'FR' AS ProcessName, 0 AS ProductionQty,
							--(castingWiseTotal.InspectionQty) as InspectionQty, castingWiseTotal.InspWeight, 
							4 AS IsInspectionSeq,
							cdim.RejectionQtyWeight AS TotalWeight, ISNULL(@TotalInsQty, 0) AS TotalInspectionQty, ISNULL(@TotalInsWt, 0) AS TotalInspWeight,
							((CASE WHEN ISNULL(FGTable.UOM, '') = 'PerKg' 
									THEN ISNULL((SUM(ISNULL(cdirwr.RejQty, 0)) * cdim.RejectionQtyWeight), 0)
								ELSE ISNULL(SUM(ISNULL(cdirwr.RejQty, 0)), 0) END) 
							* ISNULL(FGTable.TotalRate, 0)) AS TotalRate
					FROM	CastingDimInspMaster AS cdim
							
							INNER JOIN CastingDimInspReasonWiseRej AS cdirwr ON cdim.CastingDimId = cdirwr.CastingDimId
											AND ISNULL(cdirwr.IsMachineshopRej, 0) = 1
							and InspectionQty > 0
							INNER JOIN CastingMaster AS cm ON cm.CastingId = cdim.CastingID AND cm.IsDeleted = 0
							INNER JOIN RejectionMaster ON RejectionMaster.CastingDimInspReasonWiseRejID = cdirwr.CastingDimInspReasonWiseRejID
							INNER JOIN ProductionBatch ON ProductionBatch.batchID = RejectionMaster.productionbatchID
							INNER JOIN MetalMaster AS mm ON mm.MetalId = ProductionBatch.MetalID
							INNER JOIN Inhouserejmgnt ON Inhouserejmgnt.RejectionID = RejectionMaster.RejectionID
							INNER JOIN CastingFinalRejection ON CastingFinalRejection.InwardID = Inhouserejmgnt.RejInwardID
											AND CastingFinalRejection.IsInHouseRej = 1
							INNER JOIN ReasonMaster ON ReasonMaster.ReasonID = CastingFinalRejection.ReasonID
							INNER JOIN CastingMetal ON CastingMetal.castingID = CastingFinalRejection.PartId
											AND CastingMetal.metalid = CastingFinalRejection.MetalID
											AND CastingMetal.IsDeleted = 0
							LEFT JOIN #FGRATE AS FGTable ON FGTable.CastingID = CastingFinalRejection.PartId
											AND ((CastingMetal.IsProductionGrade = 1 AND FGTable.ProductionGradeId = CastingFinalRejection.MetalID AND FGTable.Rw = 1)
												OR (CastingMetal.IsProductionGrade = 0 AND FGTable.MetalId = CastingFinalRejection.MetalID)
											)
							--LEFT JOIN (
							--	SELECT FRIW.CastingId, SUM(FRIW.InspectionQty) AS InspectionQty, (SUM(FRIW.InspectionQty) * FRIW.RejectionQtyWeight) AS InspWeight
							--	FROM (
							--		SELECT	DISTINCT CastingMaster.CastingId, Final.InspectionQty, ISNULL(cdim.RejectionQtyWeight, 0) AS RejectionQtyWeight
							--		FROM	CastingDimInspMaster AS cdim
							--				INNER JOIN CastingDimInspReasonWiseRej ON CastingDimInspReasonWiseRej.CastingDimId = cdim.CastingDimId
							--								AND ISNULL(CastingDimInspReasonWiseRej.IsMachineshopRej, 0) = 1
							--				INNER JOIN CastingMaster ON CastingMaster.CastingId = cdim.CastingID
							--								AND CastingMaster.IsDeleted = 0
							--				INNER JOIN RejectionMaster ON RejectionMaster.CastingDimInspReasonWiseRejID = CastingDimInspReasonWiseRej.CastingDimInspReasonWiseRejID
							--				INNER JOIN ProductionBatch ON ProductionBatch.batchID = RejectionMaster.productionbatchID
							--				INNER JOIN MetalMaster AS mm ON mm.MetalId = ProductionBatch.MetalID
							--				INNER JOIN (
							--					SELECT	cdim.CastingId, SUM(ISNULL(cdim.InspectionQty, 0)) AS InspectionQty
							--					FROM	CastingDimInspMaster AS cdim
							--							INNER JOIN CastingDimInspReasonWiseRej ON CastingDimInspReasonWiseRej.CastingDimId = cdim.CastingDimId
							--											AND ISNULL(CastingDimInspReasonWiseRej.IsMachineshopRej, 0) = 1
							--							INNER JOIN CastingMaster ON CastingMaster.CastingId = cdim.CastingID
							--											AND CastingMaster.IsDeleted = 0
							--							INNER JOIN RejectionMaster ON RejectionMaster.CastingDimInspReasonWiseRejID = CastingDimInspReasonWiseRej.CastingDimInspReasonWiseRejID
							--							INNER JOIN ProductionBatch ON ProductionBatch.batchID = RejectionMaster.productionbatchID
							--							INNER JOIN MetalMaster AS mm ON mm.MetalId = ProductionBatch.MetalID
							--					WHERE	cdim.IsDeleted = 0
							--							AND CAST(cdim.CreatedOn AS date) BETWEEN CAST(@DateFrom AS date) AND CAST(@DateTo AS date)
							--							AND cdim.EntityID = @EntityId 
							--							AND (@CastingId IS NULL OR cdim.CastingId = @CastingId)
							--							AND (@MetalId = 0 OR mm.MetalID = @MetalId)
							--							AND (@CastingName IS NULL OR @CastingName = '' OR CastingMaster.CastingName = @CastingName)
							--							AND (@PlantIdString IS NULL OR @PlantIdString = ''
							--								OR cdim.PlantId IN (SELECT Item FROM @Plant))
							--							AND (@ComponentId IS NULL OR CastingMaster.ComponentId = @ComponentId)
							--							AND (@MetalType IS NULL OR MM.MetalType = @MetalType)
							--					GROUP BY cdim.CastingId
							--				) AS Final ON cdim.CastingId = Final.CastingId
							--		WHERE	cdim.IsDeleted = 0
							--				AND CAST(cdim.CreatedOn AS date) BETWEEN CAST(@DateFrom AS date) AND CAST(@DateTo AS date)
							--				AND cdim.EntityID = @EntityId
							--				AND (@CastingId IS NULL OR cdim.CastingId = @CastingId) 
							--				AND (@MetalId = 0 OR mm.MetalID = @MetalId)
							--				AND (@CastingName IS NULL OR @CastingName = '' OR CastingMaster.CastingName = @CastingName)
							--				AND (@PlantIdString IS NULL OR @PlantIdString = '' 
							--					OR cdim.PlantId IN (SELECT Item FROM @Plant) 
							--				)
							--				AND (@ComponentId IS NULL OR CastingMaster.ComponentId = @ComponentId)
							--				AND (@MetalType IS NULL OR MM.MetalType = @MetalType)
							--	) AS FRIW
							--	GROUP BY FRIW.CastingId, FRIW.RejectionQtyWeight
							--) AS castingWiseTotal ON castingWiseTotal.CastingId = cdim.CastingId
					WHERE	cdim.IsDeleted = 0
							AND CAST(cdim.CreatedOn AS date) BETWEEN CAST(@DateFrom AS date) AND CAST(@DateTo AS date)
							AND cdim.EntityID = @EntityId
							AND (@CastingId IS NULL OR cdim.CastingId = @CastingId)
							AND (@CastingName IS NULL OR @CastingName = '' OR cm.CastingName = @CastingName)
							AND (@ProcessName = 'FR' OR @ProcessName = '')
							AND (@ProcessID IS NULL OR (@ProcessName = 'FR' AND @ProcessID = CAST(0x0 AS uniqueidentifier)))
							AND (@PlantIdString IS NULL OR @PlantIdString = ''
								OR cm.CastingId IN (SELECT castingid FROM dbo.PlantCastingMapping WHERE PlantId IN (SELECT Item FROM @Plant))
							)
					GROUP BY cm.CastingName, cm.CastingCode, ReasonMaster.ReasonID, ReasonMaster.ReasonShortCode, ReasonMaster.Reason,
							--cdim.InspectionQty, 
							mm.MetalName, mm.MetalId, cm.CastingId, FGTable.TotalRate, ISNULL(FGTable.UOM, ''),
							cdim.RejectionQtyWeight--, castingWiseTotal.InspectionQty, castingWiseTotal.InspWeight
				) AS FinalFoundaryRet
				WHERE --InspectionQty > 0 AND 
						RejectQty > 0
				GROUP BY Rownum2, CastingName, CastingCode, MetalId, MetalName, CastingId, ReasonID, Reason, ReasonName, ProcessId, ProcessName, 
						ProductionQty, IsInspectionSeq, TotalWeight, TotalInspectionQty, TotalInspWeight, TotalRate
			) AS fr

			INNER JOIN (
					SELECT	cdim.CastingId, SUM(ISNULL(cdim.InspectionQty, 0)) AS InspectionQty,SUM(ISNULL(cdim.InspectionQty * RejectionQtyWeight, 0)) AS InspWeight
					FROM	CastingDimInspMaster AS cdim
							INNER JOIN CastingMaster ON CastingMaster.CastingId = cdim.CastingID
											AND CastingMaster.IsDeleted = 0
					WHERE	cdim.IsDeleted = 0
							and exists (select 1 from 
											CastingDimInspReasonWiseRej
											inner Join RejectionMaster on RejectionMaster.CastingDimInspReasonWiseRejID = CastingDimInspReasonWiseRej.CastingDimInspReasonWiseRejID
											INNER JOIN ProductionBatch ON ProductionBatch.batchID = RejectionMaster.productionbatchID
											INNER JOIN MetalMaster AS mm ON mm.MetalId = ProductionBatch.MetalID
										where  CastingDimInspReasonWiseRej.CastingDimId = cdim.CastingDimId
											AND ISNULL(CastingDimInspReasonWiseRej.IsMachineshopRej, 0) = 1
										AND (@MetalId = 0 OR mm.MetalID = @MetalId)
										AND (@MetalType IS NULL OR MM.MetalType = @MetalType)
									)
							AND CAST(cdim.CreatedOn AS date) BETWEEN CAST(@DateFrom AS date) AND CAST(@DateTo AS date)
							AND cdim.EntityID = @EntityId 
							AND (@CastingId IS NULL OR cdim.CastingId = @CastingId)
							AND (@CastingName IS NULL OR @CastingName = '' OR CastingMaster.CastingName = @CastingName)
							AND (@PlantIdString IS NULL OR @PlantIdString = ''
								OR cdim.PlantId IN (SELECT Item FROM @Plant))
							AND (@ComponentId IS NULL OR CastingMaster.ComponentId = @ComponentId)
							
					GROUP BY cdim.CastingId
				) AS InspectionCastingWise ON fr.CastingId = InspectionCastingWise.CastingId
			INNER JOIN (
					SELECT	SUM(ISNULL(cdim.InspectionQty, 0)) AS ProcessWiseInspQty,SUM(ISNULL(cdim.InspectionQty * RejectionQtyWeight, 0)) AS ProcessInspWeight
					FROM	CastingDimInspMaster AS cdim
							INNER JOIN CastingMaster ON CastingMaster.CastingId = cdim.CastingID
											AND CastingMaster.IsDeleted = 0
					WHERE	cdim.IsDeleted = 0
							and exists (select 1 from 
											CastingDimInspReasonWiseRej
											inner Join RejectionMaster on RejectionMaster.CastingDimInspReasonWiseRejID = CastingDimInspReasonWiseRej.CastingDimInspReasonWiseRejID
											INNER JOIN ProductionBatch ON ProductionBatch.batchID = RejectionMaster.productionbatchID
											INNER JOIN MetalMaster AS mm ON mm.MetalId = ProductionBatch.MetalID
										where  CastingDimInspReasonWiseRej.CastingDimId = cdim.CastingDimId
											AND ISNULL(CastingDimInspReasonWiseRej.IsMachineshopRej, 0) = 1
										AND (@MetalId = 0 OR mm.MetalID = @MetalId)
										AND (@MetalType IS NULL OR MM.MetalType = @MetalType)
									)
							AND CAST(cdim.CreatedOn AS date) BETWEEN CAST(@DateFrom AS date) AND CAST(@DateTo AS date)
							AND cdim.EntityID = @EntityId 
							AND (@CastingId IS NULL OR cdim.CastingId = @CastingId)
							AND (@CastingName IS NULL OR @CastingName = '' OR CastingMaster.CastingName = @CastingName)
							AND (@PlantIdString IS NULL OR @PlantIdString = ''
								OR cdim.PlantId IN (SELECT Item FROM @Plant))
							AND (@ComponentId IS NULL OR CastingMaster.ComponentId = @ComponentId)
							
				) AS PWT ON 1= 1
			--LEFT JOIN (
			--	SELECT	ProcessId, SUM(ISNULL(ProcessWiseInspQty, 0)) AS ProcessWiseInspQty, ROUND(SUM(ISNULL(ProcessInspWeight, 0)), 1) AS ProcessInspWeight
			--	FROM (
			--		SELECT	CAST(0x0 AS uniqueidentifier) AS ProcessId, SUM(FRIW.InspectionQty) AS ProcessWiseInspQty, 
			--				(SUM(FRIW.InspectionQty) * FRIW.RejectionQtyWeight) AS ProcessInspWeight
			--		FROM (
			--			SELECT	DISTINCT CastingMaster.CastingId, Final.InspectionQty, ISNULL(cdim.RejectionQtyWeight, 0) AS RejectionQtyWeight
			--			FROM	CastingDimInspMaster AS cdim
			--					INNER JOIN CastingDimInspReasonWiseRej ON CastingDimInspReasonWiseRej.CastingDimId = cdim.CastingDimId
			--									AND ISNULL(CastingDimInspReasonWiseRej.IsMachineshopRej, 0) = 1
			--					INNER JOIN CastingMaster ON CastingMaster.CastingId = cdim.CastingID
			--									AND CastingMaster.IsDeleted = 0
			--					INNER JOIN RejectionMaster ON RejectionMaster.CastingDimInspReasonWiseRejID = CastingDimInspReasonWiseRej.CastingDimInspReasonWiseRejID
			--					INNER JOIN ProductionBatch ON ProductionBatch.batchID = RejectionMaster.productionbatchID
			--					INNER JOIN MetalMaster AS mm ON mm.MetalId = ProductionBatch.MetalID
			--					INNER JOIN (
			--						SELECT	cdim.CastingId, SUM(ISNULL(cdim.InspectionQty, 0)) AS InspectionQty
			--						FROM	CastingDimInspMaster AS cdim
			--								INNER JOIN CastingDimInspReasonWiseRej ON CastingDimInspReasonWiseRej.CastingDimId = cdim.CastingDimId
			--												AND ISNULL(CastingDimInspReasonWiseRej.IsMachineshopRej, 0) = 1
			--								INNER JOIN CastingMaster ON CastingMaster.CastingId = cdim.CastingID
			--												AND CastingMaster.IsDeleted = 0
			--								INNER JOIN RejectionMaster ON RejectionMaster.CastingDimInspReasonWiseRejID = CastingDimInspReasonWiseRej.CastingDimInspReasonWiseRejID
			--								INNER JOIN ProductionBatch ON ProductionBatch.batchID = RejectionMaster.productionbatchID
			--								INNER JOIN MetalMaster AS mm ON mm.MetalId = ProductionBatch.MetalID
			--						WHERE	cdim.IsDeleted = 0
			--								AND CAST(cdim.CreatedOn AS date) BETWEEN CAST(@DateFrom AS date) AND CAST(@DateTo AS date)
			--								AND cdim.EntityID = @EntityId
			--								AND (@CastingId IS NULL OR cdim.CastingId = @CastingId)
			--								AND (@MetalId = 0 OR mm.MetalID = @MetalId)
			--								AND (@CastingName IS NULL OR @CastingName = '' OR CastingMaster.CastingName = @CastingName)
			--								AND (@PlantIdString IS NULL OR @PlantIdString = '' OR cdim.PlantId IN (SELECT Item FROM @Plant) )
			--								AND (@ComponentId IS NULL OR CastingMaster.ComponentId = @ComponentId) 
			--								AND (@MetalType IS NULL OR mm.MetalType = @MetalType)
			--						GROUP BY cdim.CastingId
			--					) AS Final ON cdim.CastingId = Final.CastingId
			--			WHERE	cdim.IsDeleted = 0
			--					AND CAST(cdim.CreatedOn AS date) BETWEEN CAST(@DateFrom AS date) AND CAST(@DateTo AS date)
			--					AND cdim.EntityID = @EntityId
			--					AND (@CastingId IS NULL OR cdim.CastingId = @CastingId)
			--					AND (@MetalId = 0 OR mm.MetalID = @MetalId)
			--					AND (@CastingName IS NULL OR @CastingName = '' OR CastingMaster.CastingName = @CastingName)
			--					AND (@PlantIdString IS NULL OR @PlantIdString = '' OR cdim.PlantId IN (SELECT Item FROM @Plant) )
			--					AND (@ComponentId IS NULL OR CastingMaster.ComponentId = @ComponentId)
			--					AND (@MetalType IS NULL OR mm.MetalType = @MetalType)) AS FRIW
			--			GROUP BY FRIW.CastingId, FRIW.RejectionQtyWeight
			--	) AS final 
			--	GROUP BY ProcessId
			--) AS PWT ON fr.ProcessId = PWT.ProcessId
		) AS Final
	) AS Final2
	ORDER BY Final2.CastingID, Final2.IsInspectionSeq
	OPTION(RECOMPILE)

	--DROP TABLE #FGRATE
	DROP TABLE ##CTE_PPMst
	DROP TABLE ##RAI_TmpRejMst
END
GO
