USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_MarkParameter]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Fetch_MarkParameter]
	AS
BEGIN	
	SELECT FromMarks,'To' AS [Symbol], ToMarks, Rank from EvaluationMarks
END
GO
