USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Sp_EquipmentProductivetime]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Harshad Chauhan>
-- Create date: <22 Aug 2019>
-- Description:	<Equipment Productive time>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_EquipmentProductivetime]
	-- Add the parameters for the stored procedure here
	@Parameter INT = 0 ,
    @ProductionDate DATE = NULL ,
    @MeterName VARCHAR(50) = NULL ,
    @MultiplicationFactor FLOAT = 0 ,
    @MonthNo INT = 0 ,
    @Year INT = 0 ,
    @ConsumeUnit FLOAT = 0 ,
    @MRSummaryDetail XML = NULL ,
    @MeterCode VARCHAR(50) = NULL ,
    @MeterType bit = 0,
    @ExcludingCostingReport BIT=0,
    @AssoFurnace as XML = NULL,
    @MultiFactor float=0,
    @Furnace varchar(20) = null,
    @BatchId int=0,
    @EntityID INT = 0 
    , @EquipmentId UNIQUEIDENTIFIER = NULL
    , @TotalProdTime TIME(7) = NULL
    , @ProductiveTimeReading XML = NULL
    , @CreatedBy INT = 0
	, @MonthlyProdTime VARCHAR(100) = NULL
    
AS
BEGIN
        SET NOCOUNT ON;

        IF ( @Parameter = 1 )
            BEGIN
            
                DECLARE ProductiveTimeReading CURSOR
                FOR
                    SELECT  Node.value('(ProductionDate)[1]', 'Date') AS 'ProductionDate' ,
                            Node.value('(TotalProdTime)[1]', 'TIME(7)') AS 'TotalProdTime'
                    FROM    @ProductiveTimeReading.nodes('/DocumentElement/ProductiveTimeReading') AS TEMPXML ( Node )
            
                OPEN ProductiveTimeReading;
            
                FETCH NEXT FROM ProductiveTimeReading INTO @ProductionDate, @TotalProdTime
                
                WHILE ( @@FETCH_STATUS = 0 )
                BEGIN
                    IF NOT EXISTS (	SELECT  * FROM dbo.EquipementProductiveReading 
									WHERE	ProductionDate = @ProductionDate AND EquipmentId = @EquipmentId
					)
                    BEGIN
                        INSERT INTO [dbo].[EquipementProductiveReading]
							   ([ProductionDate]
							   ,[EquipmentId]
							   ,[ProductiveTime]
							   ,[CreatedOn]
							   ,[CreatedBy]
							   ,[ModifiedOn]
							   ,[ModifiedBy])
						 VALUES
							   (@ProductionDate
							   ,@EquipmentId
							   ,@TotalProdTime
							   ,GETDATE()
							   ,@CreatedBy
							   ,NULL
							   ,NULL)
					END
                    ELSE
                    BEGIN
                        UPDATE	[dbo].[EquipementProductiveReading]
						SET		[ProductiveTime] = @TotalProdTime
								,[ModifiedOn] = GETDATE()
								,[ModifiedBy] = @CreatedBy
						WHERE	[ProductionDate] = @ProductionDate
								AND [EquipmentId] = @EquipmentId
					END
					
                FETCH NEXT FROM ProductiveTimeReading INTO @ProductionDate, @TotalProdTime
                END
                
                CLOSE ProductiveTimeReading
                DEALLOCATE ProductiveTimeReading;
                
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION

                        IF NOT EXISTS (	SELECT  * FROM dbo.MonthWiseEquipProdReading 
										WHERE	EquipmentId = @EquipmentId AND Year = @Year AND Month = @MonthNo
						)
						BEGIN
                            INSERT INTO [dbo].[MonthWiseEquipProdReading]
								   ([Month]
								   ,[Year]
								   ,[EquipmentId]
								   ,[TotalProductiveTime])
							 VALUES
								   (@MonthNo
								   ,@Year
								   ,@EquipmentId
								   ,@MonthlyProdTime
								   )
						END
                        ELSE
                        BEGIN
                            UPDATE	[dbo].[MonthWiseEquipProdReading]
							SET		[TotalProductiveTime] = @MonthlyProdTime
							WHERE	EquipmentId = @EquipmentId AND Year = @Year AND Month = @MonthNo
						END
					
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
            END
            
        IF ( @Parameter = 2 )
        BEGIN
            SELECT  epr.EquipementProductiveReadingId,
                    epr.ProductionDate AS [Days] ,
                    epr.EquipmentId
                    , CONVERT(VARCHAR(5),ISNULL(epr.ProductiveTime, '00:00:00'),108) AS TotalProdTime
                    , ISNULL(mwepr.TotalProductiveTime, '00:00') AS TotalProductiveTime
            FROM    dbo.EquipementProductiveReading AS epr
					INNER JOIN MonthWiseEquipProdReading AS mwepr ON epr.EquipmentId = mwepr.EquipmentId
															AND MONTH(epr.ProductionDate) = (mwepr.Month)
															AND YEAR(epr.ProductionDate) = (mwepr.Year)
            WHERE   epr.EquipmentId = @EquipmentId
                    AND MONTH(ProductionDate) = @MonthNo
                    AND YEAR(ProductionDate) = @Year
            ORDER BY ProductionDate
        END
    END
GO
