USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[DispatchAdvicePending_Select]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DispatchAdvicePending_Select]
@DateFrom Datetime = null,
@DateTo Datetime = null,
@EntityID int = 0,
@PlantIdString VARCHAR(MAX) = null,
@CustomerID UNIQUEIDENTIFIER = NULL,
@DispatchAdviceId UNIQUEIDENTIFIER = NULL
AS
BEGIN
	
	Select 
	
	                          CustomerMaster.CustomerName, 
	                          CASE WHEN DispatchAdvice.Prefix IS NULL
                                    OR DispatchAdvice.Prefix = ''
                                THEN ''
                                ELSE CONVERT(VARCHAR(50), DispatchAdvice.Prefix)
                                    + CASE
                                        WHEN DispatchAdvice.Separator IS NULL
                                        THEN ''
                                        ELSE CONVERT(VARCHAR(50), DispatchAdvice.Separator)
                                        END
                            END
                            + CONVERT(VARCHAR(50), DispatchAdvice.DispatchAdviceNo)
                            + CASE WHEN DispatchAdvice.Separator IS NULL
                                    THEN ''
                                    ELSE CONVERT(VARCHAR(50), DispatchAdvice.Separator)
                            END
                            + CASE WHEN DispatchAdvice.Suffix IS NULL
                                    THEN ''
                                    ELSE CONVERT(VARCHAR(50), DispatchAdvice.Suffix)
                            END AS DispatchAdviceNo,
                            Convert(varchar(15),DispatchAdviceDate ,106) as DispatchAdviceDate,
                            CastingMaster.CastingName,
                            CastingMaster.CastingCode,
                            DispatchAdviceTrans.Quantity,
                            DispatchAdviceTrans.CastingWeight,
                            (DispatchAdviceTrans.Quantity * DispatchAdviceTrans.CastingWeight) as [TotalWeight]
                            
                            
                            
                            
	from
	DispatchAdvice
	INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = DispatchAdvice.CustomerId
	inner join DispatchAdviceTrans ON DispatchAdviceTrans.DispatchAdviceId = DispatchAdvice.DispatchAdviceId
	inner join CastingMaster ON CastingMaster.CastingId = DispatchAdviceTrans.CastingId
	Where
	IsDone = 0
	AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  Or DispatchAdvice.PlantID in (
														SELECT * from  dbo.SplitString(@PlantIdString, ',')
                                                    ))
      AND DispatchAdvice.EntityId = @EntityID
      AND (@DateFrom IS NULL OR CAST(DispatchAdvice.DispatchAdviceDate AS DATE) >= CAST(@DateFrom AS DATE))
	  AND (@DateTo IS NULL OR CAST(DispatchAdvice.DispatchAdviceDate AS DATE) <= CAST(@DateTo AS DATE))
	  AND  (@DispatchAdviceId is null OR DispatchAdvice.DispatchAdviceId = @DispatchAdviceId)
      AND  (@CustomerID is NULL OR DispatchAdvice.customerID = @CustomerID)
	
END

GO
