USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PatternProduction_ComboFill]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PatternProduction_ComboFill]
	-- Add the parameters for the stored procedure here
@PlantIdString Nvarchar(MAX),
@EntityID int
AS
BEGIN
	

	SELECT  DISTINCT
                        ProductionBatchID ,
                        batchno
                FROM    PatternProduction
                WHERE   IsDeleted = 0
						AND EntityID = @EntityID
						AND ( @PlantIdString IS NULL
								OR @PlantIdString = ''
								OR  PlantId IN ( SELECT * FROM dbo.SplitString(@PlantIdString,',') )
							)

END
GO
