USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[DispatchVsReturnData]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[DispatchVsReturnData]
    @CustomerID UNIQUEIDENTIFIER = NULL ,
    @DispatchDateFrom DateTime = null,--'04/01/2021' ,
    @DispatchDateTo DateTime = null,--'12/31/2021'
	@EntityId INT = 0,
	@PlantIdString NVARCHAR(MAX) = ''
 As
 BEGIN 

	 IF (CONVERT(UNIQUEIDENTIFIER, 0x00)) = @CustomerID
	 Begin
		SET @CustomerID = null
	 END

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
		
	SELECT	MONTH(Returndate) AS ReturnMonth ,
            YEAR(Returndate) as ReturnYear,
            DATENAME(MONTH, Returndate) as ReturndateMonth,
            SUM(ISNULL(CRT.ReturnQty, 0) * CastingNetWeight) AS ReturnWt
    INTO	#ReturnData
    FROM    CustomerReturnMaster CRM
            INNER JOIN CustomerReturnTrans CRT ON CRM.ReturnID = CRT.ReturnID
            INNER JOIN CastingMetal ON CastingMetal.castingID = CRT.CastingID 
            and CastingMetal.metalid = CRT.MetalID
     Where  (@CustomerID IS NULL OR CRM.CustomerID = @CustomerID )
			AND CRM.Returndate between @DispatchDateFrom and @DispatchDateTo        
			AND CRM.EntityId = @EntityId
			AND ( @PlantIdString IS NULL OR @PlantIdString = ''
					OR CRM.PlantId IN (SELECT Item FROM @Plant)
			)
	GROUP BY MONTH(Returndate), YEAR(Returndate), DATENAME(MONTH, Returndate)
    
    SELECT	CRT.CastingID, 
            SUM(ISNULL(CRT.ReturnQty, 0) * CastingNetWeight) AS ReturnWt--,
    INTO	#ReturnDataCastingWise        
    FROM    CustomerReturnMaster CRM
            INNER JOIN CustomerReturnTrans CRT ON CRM.ReturnID = CRT.ReturnID
            INNER JOIN CastingMetal ON CastingMetal.castingID = CRT.CastingID 
            and CastingMetal.metalid = CRT.MetalID
     Where (@CustomerID IS NULL OR CRM.CustomerID = @CustomerID )AND
			CRM.Returndate between @DispatchDateFrom and @DispatchDateTo 
			AND CRM.EntityId = @EntityId
			AND ( @PlantIdString IS NULL OR @PlantIdString = ''
					OR CRM.PlantId IN (SELECT Item FROM @Plant)
			)
	GROUP BY CRT.CastingID 
	                        
	SELECT  ISNULL(DispatchYear,ReturnData.ReturnYear) AS DispatchYear ,
            ISNULL(DispatchMonthInDigit,ReturnData.ReturnMonth) AS DispatchMonthInDigit ,
            isnull(MonthField,ReturndateMonth)  AS MonthField ,
            Round((ISNULL(DisWt,0)),3) AS DisWt ,
            Round(ISNULL(ReturnData.ReturnWt, 0),3) AS ReturnWeight
    FROM    (SELECT	YEAR(dispatchdate) AS DispatchYear ,
					MONTH(dispatchdate) AS DispatchMonthInDigit ,
					DATENAME(MONTH, dispatchdate) AS MonthField ,
					Round(SUM(ISNULL(DisWt.TotalWeight,0)),3) AS DisWt
			From	dispatchtrans as DisWt
					INNER JOIN dispatchmaster as DisMas ON DisMas.DispatchID = DisWt.dispatchid
			WHERE   DisMas.IsDeleted = 0
					AND DisWt.IsDeleted = 0
					AND DisMas.isProforma = 0
					AND (@CustomerID IS NULL OR DisMas.CustomerID = @CustomerID)
					And DisMas.TypeOfVoucher = 0
					AND DisMas.dispatchdate between @DispatchDateFrom and @DispatchDateTo
					AND DisMas.EntityId = @EntityId
					AND ( @PlantIdString IS NULL OR @PlantIdString = ''
							OR DisMas.PlantId IN (SELECT Item FROM @Plant)
					)
			GROUP BY  YEAR(dispatchdate) ,
					MONTH(dispatchdate) ,
					DATENAME(MONTH, dispatchdate)
			) as DispatchTable
			Full Join (Select * from #ReturnData )as ReturnData 
			 ON ReturnData.ReturnMonth = DispatchTable.DispatchMonthInDigit
                AND ReturnData.ReturnYear = DispatchTable.DispatchYear
	Order by ISNULL(DispatchYear,ReturnData.ReturnYear) , ISNULL(DispatchMonthInDigit,ReturnData.ReturnMonth)

     select CastingMaster.CastingCode,CastingMaster.CastingName,
			Round(isnull(DisWt,0),3) as DisWt,
			Round(ISNULL(ReturnData.ReturnWt, 0),3) as ReturnWeight 
     From(
     
			SELECT		DisWt.castingid,
						--CastingMaster.CastingCode,
						Round(SUM(ISNULL(DisWt.TotalWeight,0)),3) AS DisWt
			  FROM      dispatchtrans as DisWt
						INNER JOIN dispatchmaster as DisMas ON DisMas.DispatchID = DisWt.dispatchid
						--Inner join CastingMaster ON CastingMaster.CastingId = DisWt.castingid
			  WHERE     DisMas.IsDeleted = 0
						AND DisWt.IsDeleted = 0
						AND DisMas.isProforma = 0
						AND (@CustomerID IS NULL OR DisMas.CustomerID = @CustomerID)
						And DisMas.TypeOfVoucher = 0
						AND DisMas.dispatchdate between @DispatchDateFrom and @DispatchDateTo
						AND DisMas.EntityId = @EntityId
						AND ( @PlantIdString IS NULL OR @PlantIdString = ''
								OR DisMas.PlantId IN (SELECT Item FROM @Plant)
						)
			  GROUP BY  DisWt.castingid--,
						--CastingMaster.CastingCode--,
        ) as DispatchTable
        Full Join (Select * from #ReturnDataCastingWise ) as ReturnData 
			 ON ReturnData.CastingId = DispatchTable.CastingId
		Inner Join CastingMaster On ((CastingMaster.CastingId = DispatchTable.castingid) Or (CastingMaster.CastingId = ReturnData.castingId))
                
          
 END			
			
			
GO
