USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_CanteenDeviceId]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create      PROCEDURE [dbo].[SP_CanteenDeviceId]
--	@Parameter INT = 0 ,
	@EntityId INT = 0 ,  
  --  @isFilterDeleteFlag INT = 0 ,
  --  @isFilterActiveFlag INT = 1,
    @StartDate DATETIME = null,
    @EndDate DATETIME = null ,
  --  @IsGroupWise bit = 0,
   -- @IsDepartWise BIT = 0,
   -- @ActualWorkingTime bit = 0,
	@EmployeeId INT = 0
AS
BEGIN
		
      --  BEGIN
        
		DECLARE @MonthDateTbl TABLE(DateofMonth DATETIME)
		DECLARE @EmpContrPayableDays INT = 26,@DeviceId INT =0;
	    DECLARE @DaysOfMonth INT = (SELECT DATEDIFF(DAY, @StartDate, @EndDate + 1));
	   	DECLARE @EmpDtlData TABLE(EmployeeId INT,EmployeeCode NVARCHAR(250), EmployeeName NVARCHAR(250),EmployeeType INT,
				EmployeeGroupId INT, WeekOff INT, EntityId INT, HolidayParentId UNIQUEIDENTIFIER)

       
		SELECT	@EmpContrPayableDays = WageDays, @DeviceId = CanteenDeviceId
		FROM	dbo.[HRConfiguration](NOLOCK) WHERE EntityID = @EntityID

        ;WITH Date_Result(DateofWeek) AS (
		SELECT @StartDate
		UNION ALL
		SELECT DATEADD(day, 1, DateofWeek) DateofWeek
		FROM Date_Result
		WHERE DateofWeek < @EndDate)

		INSERT INTO @MonthDateTbl
	     select Dateofweek from Date_result OPTION (MaxRecursion 0)
	    INSERT INTO @EmpDtlData
		SELECT	empdtl.EmployeeId, empdtl.EmployeeCode,empdtl.EmployeeName,empdtl.EmployeeType,-- empdtl.GrossPay, empdtl.JoiningDate, empdtl.InitialExitDate
				--, empdtl.SalCalculatedOn, empdtl.ShiftId,
				empdtl.EmployeeGroupId, empdtl.WeekOff, empdtl.EntityId, empdtl.HolidayParentId
		FROM	dbo.EmployeeDetails(NOLOCK) AS empdtl,DeviceLog D
		WHERE	empdtl.EmployeeCode = d.Empcode
		        AND empdtl.isActive = 1 AND ISNULL(empdtl.IsDelete, 0) = 0  AND empdtl.GrossPay > 0 AND empdtl.EntityId = @EntityId
				--AND CAST(DATEADD(month, DATEDIFF(month, 0, empdtl.JoiningDate), 0) AS date) <= CAST(@StartDate AS DATE)
				AND ((	ISNULL(@EmployeeId, 0) = 0 
						AND (ISNULL(empdtl.IsInitialExit, 0) = 0
							OR (ISNULL(empdtl.IsInitialExit, 0) = 1 AND ISNULL(empdtl.IsFinalSettlementDone, 0) = 0
								AND CAST(empdtl.FinalSettlementDate AS DATE) > CAST(@EndDate AS DATE)
							)
						)
					) 
					OR empdtl.EmployeeId = @EmployeeId
				)
				AND (EmployeeType = 1)	
				
				SELECT 
				        Final.EmployeeId,
						Final.EmployeeCode, 
						Final.EmployeeName, 
						COUNT(DISTINCT CAST(a.LogDate AS DATE)) AS PunchCount,
						(CASE 
							WHEN Final.EmployeeType = 1 
							THEN (@DaysOfMonth - Final.TtlWeekOfDay) 
								
							ELSE @EmpContrPayableDays
						END) AS MonthlyWorkinDays--,Final.wf,Final.TtlWeekOfDay,@DaysOfMonth,Final.HOLIDAY --Final.IsPayOnWorkingDays--,final.HoliDayTbl
					FROM 
						DeviceLog a
					JOIN 
						@EmpDtlData e ON a.Empcode = e.EmployeeCode
						AND CAST(a.Logdate AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
					LEFT JOIN (
						SELECT 
							empdtls.EmployeeId, 
							empdtls.EmployeeCode, 
							empdtls.EmployeeType, 
                        	--(ISNULL(MonthDateTbl.TotalWeekOffDays, 0) + ISNULL(HoliDayTbl.HolidayCount, 0)) AS TtlWeekOfDay,
							(ISNULL(Offdays.totaloffdays, 0)) AS TtlWeekOfDay,
						--	DATEDIFF(DAY, CAST(@StartDate AS DATE), CAST(empdtls.InitialExitDate + 1 AS DATE)) AS ExitMonthWorkingDay,
							empdtls.EmployeeName,
							empdtls.EntityId
						FROM 
							@EmpDtlData AS empdtls
						LEFT JOIN dbo.CommonData_Master(NOLOCK) AS cdmst 
							ON cdmst.CommonDataId = ISNULL(empdtls.EmployeeGroupId, 0) 
							AND ISNULL(cdmst.IsDeleted, 0) = 0
						LEFT JOIN dbo.EmpGroupWiseLeaveImapct(NOLOCK) AS EmpGrpWLImp 
							ON EmpGrpWLImp.CommonDataId = cdmst.CommonDataId
						LEFT JOIN dbo.CommonData_Master(NOLOCK) AS cdmstWkDys 
							ON cdmstWkDys.[Group] = 'WeekDays' 
							AND ISNULL(cdmstWkDys.IsDeleted, 0) = 0 
							AND cdmstWkDys.UniqueName = empdtls.WeekOff
						OUTER APPLY (select count(totaloffdays)as totaloffdays from(
							SELECT 
								MonthDateTbl.DateofMonth AS totaloffdays
							FROM 
								@MonthDateTbl AS MonthDateTbl 
							WHERE 
								DATENAME(dw, MonthDateTbl.DateofMonth) = cdmstWkDys.DisplayName
						   UNION

                           SELECT 
								HoliDateMap.HolidayDate AS totaloffdays
							FROM 
								dbo.HolidayMaster (NOLOCK)
							INNER JOIN HolidayDateMapping (NOLOCK) AS HoliDateMap
								ON HoliDateMap.HolidayId = HolidayMaster.HolidayId
							INNER JOIN HolidayTemplateMapping (NOLOCK) AS HoliTempMap
								ON HoliTempMap.HolidayId = HolidayMaster.HolidayId
							INNER JOIN EmployeeDetails AS empdtls
								ON (@EmployeeId = 0 OR empdtls.EmployeeId = @EmployeeId)

							OUTER APPLY (
								SELECT TOP 1 TL.ParentId 
								FROM TemplateLog TL 
								WHERE 
									TL.Emp_Id = empdtls.EmployeeId 
									AND CAST(TL.Date_Field AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
							) AS TLFiltered

							WHERE 
								CAST(Holiday_Date AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
								AND HoliTempMap.ParentId = ISNULL(TLFiltered.ParentId, empdtls.HolidayParentId)

							--	SELECT 
							--	HoliDateMap.HolidayDate AS totaloffdays
							--FROM 
							--	dbo.HolidayMaster(NOLOCK) 
							--INNER JOIN HolidayDateMapping(NOLOCK) AS HoliDateMap
							--     on HoliDateMap.HolidayId = HolidayMaster.HolidayId
							--INNER JOIN HolidayTemplateMapping(NOLOCK) AS HoliTempMap 
							--	ON HoliTempMap.HolidayId = HolidayMaster.HolidayId
							--WHERE 
							--	CAST(Holiday_Date AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
							--	AND HoliTempMap.ParentId = empdtls.HolidayParentId
						) AS Offdays)AS Offdays
					) AS Final ON a.Empcode = Final.EmployeeCode
					WHERE 
						e.EntityId = @EntityId
						AND a.DeviceId = @DeviceId
						and (@EmployeeId = 0 or Final.EmployeeId = @EmployeeId)
					GROUP BY 
						final.EmployeeId,Final.EmployeeCode, Final.EmployeeName, Final.EmployeeType,  Final.TtlWeekOfDay--,Final.HOLIDAY,Final.wf,Final.IsPayOnWorkingDays,
 RETURN
END

					 
GO
