USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_CategoryAndSubCategory]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Fetch_CategoryAndSubCategory]
@EntityId int = 0 
AS
    BEGIN 
        SELECT  costingcategorymaster.CategoryId ,
                CategoryName ,
                SubCategoryName ,
                CategoryTransId
        FROM    costingcategorymaster
                INNER JOIN costingcategorytrans ON CostingCategoryMaster.CategoryId = costingcategorytrans.CategoryId
                WHERE EntityId  =@EntityId  
    END
GO
