USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PatternLifePercentage_INSERT]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PatternLifePercentage_INSERT]
@XmlData Xml,
@PatternID uniqueidentifier = NULL
AS
BEGIN

BEGIN TRY
	 
	 BEGIN TRANSACTION PatternLifePercentage_INSERT
	
	        INSERT 
	        INTO 
	        [dbo].[PatternLifePercentage]
           ([PatternID]
           ,[Percentage]
           ,[IsUsed]
           ,[PageType])
           SELECT
           @PatternID,
           x.d.value('Percentage[1]','float'),
           0,
           x.d.value('PageType[1]','nvarchar(200)')
           FROM
           @XmlData.nodes('/dsXmlData/dtPercentage')x(d)
           
           SELECT '1'
	 COMMIT TRANSACTION PatternLifePercentage_INSERT
	 END TRY
	 BEGIN CATCH
	 SELECT 'ERROR : '+ERROR_MESSAGE()
	 ROLLBACK TRANSACTION PatternLifePercentage_INSERT
	 END CATCH
END

GO
