USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[InsertPaymentDetail]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertPaymentDetail]
	-- Add the parameters for the stored procedure here
	@PaymentType VARCHAR(50)=NULL
AS
BEGIN
	Insert into paymenttypemaster(PaymentTypeId,PaymentTypeName)
	Values(NEWID(),@PaymentType)
END
GO
