USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_Notification]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_Notification]
    @parameter INT = 0 ,
    @IsSeen BIT = 0 ,
    @UserId INT = 0 ,
    @NotificationId UNIQUEIDENTIFIER = NULL ,
    @PurchaseOrderTransId UNIQUEIDENTIFIER = NULL ,
    @CustomerOrderId UNIQUEIDENTIFIER = NULL ,
    @PurchaseItemId UNIQUEIDENTIFIER = NULL ,
    @CastingId UNIQUEIDENTIFIER = NULL ,
    @PurchaseOrderId UNIQUEIDENTIFIER = NULL ,
    @JOID INT = 0 ,
    @CreatedBy INT = 0 ,
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    @PageCode VARCHAR(11) = NULL
AS
    BEGIN
	
        IF @parameter = 1
            BEGIN
                IF ( @IsSeen = 0 )
                    BEGIN
                        SELECT  COUNT(*) AS TotalOrder ,
                                PageCode
                        FROM    Notification
                                INNER JOIN NotificationPage ON NotificationPage.Code = Notification.PageCode
                        WHERE   IsSeen = 0
                                AND Notification.UserId = @UserId
                                AND NotificationDate = CONVERT(DATE, GETDATE(), 106)
                 --  AND NotificationDate BETWEEN CONVERT(DATE ,@Startdate) AND CONVERT(DATE,@EndDate)
                        GROUP BY PageCode
                    END
                ELSE
                    BEGIN
             --SELECT  PageCode
             --   FROM    Notification
             --           inner join NotificationPage on NotificationPage.Code=Notification.PageCode
             --   WHERE   IsSeen = 1 AND Notification.UserId = @UserId
             --      AND NotificationDate BETWEEN CONVERT(DATE ,@Startdate) AND CONVERT(DATE,@EndDate)
                        SELECT  COUNT(*) AS TotalOrder ,
                                PageCode
                        FROM    Notification
                                INNER JOIN NotificationPage ON NotificationPage.Code = Notification.PageCode
                        WHERE   IsSeen = 1
                                AND Notification.UserId = @UserId
                                AND NotificationDate = CONVERT(DATE, GETDATE(), 106)
                 --  AND NotificationDate BETWEEN CONVERT(DATE ,@Startdate) AND CONVERT(DATE,@EndDate)
                        GROUP BY PageCode
                    END
            END
           
 
      
            
        IF @parameter = 2   -- Insert Data into Notification
            BEGIN
           -- Start POFollwUp
              
                DECLARE POFollowUp CURSOR
                FOR
                    SELECT  PurchaseOrder_Master.PurchaseOrderId ,
                            CreatedBy
                    FROM    PurchaseOrder_Master
                            INNER JOIN PurchaseOrder_Trans ON PurchaseOrder_Trans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId
                    WHERE   CONVERT(DATE, DeliveryDate, 106) = CONVERT(DATE, GETDATE(), 106)
                            AND PurchaseOrder_Trans.IsDeleted = 0
                            AND PurchaseOrder_Trans.IsDelivered = 0
                                                
                OPEN POFollowUp;
            
                FETCH NEXT FROM POFollowUp INTO @PurchaseOrderId, @CreatedBy
                            
                
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                         
                         IF EXISTS(SELECT * FROM NotificationConfiguration where Code='PO' and UserId=@CreatedBy)
                         BEGIN
                         
                        IF NOT EXISTS ( SELECT  *
                                        FROM    Notification
                                        WHERE   NotificationDate = CONVERT(DATE, GETDATE(), 106)
                                                AND PageCodeId = CONVERT(VARCHAR(MAX), @PurchaseOrderId)
                                                AND UserId = @CreatedBy )
                            BEGIN  
                                INSERT  INTO dbo.Notification
                                        ( NotificationDate ,
                                          PageCode ,
                                          UserId ,
                                          PageCodeId ,
                                          IsSeen
			                            )
                                VALUES  ( GETDATE() , -- NotificationDate - date
                                          'PO' , -- PageCode - varchar(50)
                                          @CreatedBy , -- UserId - int
                                          @PurchaseOrderId , -- PageCodeId - Varchar(Max)
                                          0  -- IsSeen - int
			                            )     
                            END   
                            END 
                        FETCH NEXT FROM POFollowUp INTO @PurchaseOrderId,
                            @CreatedBy
                    END 
                         
                CLOSE POFollowUp

                DEALLOCATE POFollowUp;       
                                  
                          -- END POFollwUp
                           
                           
           -- Start TodayDispatch
              
                DECLARE TodayDispatch CURSOR
                FOR
                    SELECT  OrderMaster.CustomerOrderId ,
                            createdby
                    FROM    OrderMaster
                            INNER JOIN OrderTranse ON OrderTranse.CustomerOrderId = OrderMaster.CustomerOrderId
                    WHERE   CONVERT(DATE, DeliveryDate, 106) = CONVERT(DATE, GETDATE(), 106)
                            AND OrderTranse.IsDeleted = 0
                            AND isdelivered = 0
                          
                OPEN TodayDispatch;
            
                FETCH NEXT FROM TodayDispatch INTO @CustomerOrderId,
                    @CreatedBy
                
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                    
                     IF EXISTS(SELECT * FROM NotificationConfiguration where Code='TD' and UserId=@CreatedBy)
                         BEGIN
                        IF NOT EXISTS ( SELECT  *
                                        FROM    Notification
                                        WHERE   NotificationDate = CONVERT(DATE, GETDATE(), 106)
                                                AND PageCodeId = CONVERT(VARCHAR(MAX), @CustomerOrderId)
                                                AND UserId = @CreatedBy
                                                AND PageCode = 'TD' )
                            BEGIN  
                                INSERT  INTO dbo.Notification
                                        ( NotificationDate ,
                                          PageCode ,
                                          UserId ,
                                          PageCodeId ,
                                          IsSeen
			                            )
                                VALUES  ( GETDATE() , -- NotificationDate - date
                                          'TD' , -- PageCode - varchar(50)
                                          @CreatedBy , -- UserId - int
                                          @CustomerOrderId , -- PageCodeId - Varchar(Max)
                                          0  -- IsSeen - int
			                            )     
                            END
                            END
                        FETCH NEXT FROM TodayDispatch INTO @CustomerOrderId,
                            @CreatedBy
                    END                   
                CLOSE TodayDispatch
                DEALLOCATE TodayDispatch;       
                -- END TodayDispatch
                              
               -- Start StockOutItem
              
                DECLARE StockOutItem CURSOR
                FOR
                    SELECT  PurchaseItemMaster.PurchaseItemId ,
                            CreatedBy
                    FROM    PurchaseItemMaster
                            INNER JOIN InventoryDetails ON InventoryDetails.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                    WHERE   Stock <= ISNULL(MinStockLevel, 0)
                            AND PurchaseItemMaster.IsDeleted = 0
                
                OPEN StockOutItem;
            
                FETCH NEXT FROM StockOutItem INTO @PurchaseItemId, @CreatedBy
                            
                
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                     IF EXISTS(SELECT * FROM NotificationConfiguration where Code='SI' and UserId=@CreatedBy)
                         BEGIN
                        IF NOT EXISTS ( SELECT  *
                                        FROM    Notification
                                        WHERE   NotificationDate = CONVERT(DATE, GETDATE(), 106)
                                                AND PageCodeId = CONVERT(VARCHAR(MAX), @PurchaseItemId)
                                                AND UserId = @CreatedBy )
                            BEGIN 
                                INSERT  INTO dbo.Notification
                                        ( NotificationDate ,
                                          PageCode ,
                                          UserId ,
                                          PageCodeId ,
                                          IsSeen
			                            )
                                VALUES  ( GETDATE() , -- NotificationDate - date
                                          'SI' , -- PageCode - varchar(50)
                                          @CreatedBy , -- UserId - int
                                          @PurchaseItemId , -- PageCodeId - Varchar(Max)
                                          0  -- IsSeen - int
			                            )     
                            END 
                            END 
                        FETCH NEXT FROM StockOutItem INTO @PurchaseItemId,
                            @CreatedBy
                              
                    END 
                                      
                CLOSE StockOutItem

                DEALLOCATE StockOutItem;       
                  
                    
                 -- END StockOutItem
                                               
                -- Start CastingStockOut
              
                DECLARE CastingStockOut CURSOR
                FOR
                    SELECT  CastingMaster.CastingId ,
                            CreatedBy
                    FROM    CastingMaster
                            INNER JOIN CastingStock ON CastingStock.castingid = CastingMaster.CastingId
                    WHERE   Stock <= ISNULL(openingstock, 0)
                            AND CastingMaster.IsDeleted = 0
                      
                               
                OPEN CastingStockOut;
            
                FETCH NEXT FROM CastingStockOut INTO @CastingId, @CreatedBy
                            
                
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                    IF EXISTS(SELECT * FROM NotificationConfiguration where Code='CS' and UserId=@CreatedBy)
                         BEGIN
                        IF NOT EXISTS ( SELECT  *
                                        FROM    Notification
                                        WHERE   NotificationDate = CONVERT(DATE, GETDATE(), 106)
                                                AND PageCodeId = CONVERT(VARCHAR(MAX), @CastingId)
                                                AND UserId = @CreatedBy )
                            BEGIN 
                                INSERT  INTO dbo.Notification
                                        ( NotificationDate ,
                                          PageCode ,
                                          UserId ,
                                          PageCodeId ,
                                          IsSeen
			                            )
                                VALUES  ( GETDATE() , -- NotificationDate - date
                                          'CS' , -- PageCode - varchar(50)
                                          @CreatedBy , -- UserId - int
                                          @CastingId , -- PageCodeId - Varchar(Max)
                                          0  -- IsSeen - int
			                            )     
                            END
                            END    
                        FETCH NEXT FROM CastingStockOut INTO @CastingId,
                            @CreatedBy
                    END

                CLOSE CastingStockOut

                DEALLOCATE CastingStockOut;       
                
                    
                   -- END CastingStockOut
                           
                            
               -- Start JobReturnFollowUp
              
                DECLARE JobReturnFollowUp CURSOR
                FOR
                    SELECT  JobOutMaster.JOID ,
                            CreatedBy
                    FROM    JobOutMaster
                            INNER JOIN JobOutTranse ON JobOutTranse.JOID = JobOutMaster.JOID
                    WHERE   CONVERT(DATE, DeliveryDate, 106) = CONVERT(DATE, GETDATE(), 106)
                            AND JobOutTranse.IsDeleted = 0
                      
                               
                OPEN JobReturnFollowUp;
            
                FETCH NEXT FROM JobReturnFollowUp INTO @JOID, @CreatedBy
                            
                
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                    IF EXISTS(SELECT * FROM NotificationConfiguration where Code='JR' and UserId=@CreatedBy)
                         BEGIN
                        IF NOT EXISTS ( SELECT  *
                                        FROM    Notification
                                        WHERE   NotificationDate = CONVERT(DATE, GETDATE(), 106)
                                                AND PageCodeId = CONVERT(VARCHAR(MAX), @JOID)
                                                AND UserId = @CreatedBy )
                            BEGIN
                                INSERT  INTO dbo.Notification
                                        ( NotificationDate ,
                                          PageCode ,
                                          UserId ,
                                          PageCodeId ,
                                          IsSeen
			                            )
                                VALUES  ( GETDATE() , -- NotificationDate - date
                                          'JR' , -- PageCode - varchar(50)
                                          @CreatedBy , -- UserId - int
                                          CONVERT(VARCHAR(50), @JOID) , -- PageCodeId - Varchar(Max)
                                          0  -- IsSeen - int
			                            )     
                            END   
                            END      
                        FETCH NEXT FROM JobReturnFollowUp INTO @JOID,
                            @CreatedBy
                   
                    END
                CLOSE JobReturnFollowUp

                DEALLOCATE JobReturnFollowUp;       
                 
                    
   -- END JobReturnFollowUp
        
            END
            
             IF @parameter = 3  --Fetch Data from Notification Table
            BEGIN
                SELECT  NotificationId ,
                        NotificationDate ,
                        PageCode ,
                        UserId
                FROM    Notification
                WHERE   UserId = @UserId
                and NotificationDate=CONVERT(DATE, GETDATE(), 106)
                        AND IsSeen = 0
                      
            END
            
        IF @parameter = 4
            BEGIN
            
                SELECT  CastingName ,
                        CastingCode ,
                        Stock ,
                        ISNULL(openingstock, 0) AS SafetyStock ,
                        UserName
                FROM    CastingMaster
                        INNER JOIN CastingStock ON CastingStock.castingid = CastingMaster.CastingId
                        INNER JOIN UserMaster ON UserMaster.UserId = CastingMaster.CreatedBy
                WHERE   Stock <= ISNULL(openingstock, 0)
                        AND CastingMaster.IsDeleted = 0 
                      
            END
           
        IF @parameter = 5
            BEGIN
           -- Jobout Popup
                SELECT  CustomerName ,
                        CastingCode ,
                        CastingName ,
                        OutwardQty ,
                        UserName
                FROM    JobOutMaster
                        INNER JOIN JobOutTranse ON JobOutTranse.JOID = JobOutMaster.JOID
                        INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = JobOutMaster.SupplierID
                        INNER JOIN CastingMaster ON CastingMaster.CastingId = JobOutTranse.CastingID
                        INNER JOIN UserMaster ON UserMaster.UserId = JobOutMaster.CreatedBy
                WHERE   CustomerMaster.Customerflag = 'S'
                        AND CONVERT(DATE, DeliveryDate, 106) = CONVERT(DATE, GETDATE(), 106)
                        AND JobOutTranse.IsDeleted = 0 

            END
           
        IF @parameter = 6
            BEGIN
           
                SELECT  CustomerName ,
                        OAno ,
                        CONVERT(VARCHAR(11), OrderDate, 106) AS [OrderDate] ,
                        RequiredQty ,
                        UserName
                FROM    OrderMaster
                        INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = OrderMaster.CustomerID
                        INNER JOIN OrderTranse ON OrderTranse.CustomerOrderId = OrderMaster.CustomerOrderId
                        INNER JOIN UserMaster ON UserMaster.UserId = OrderMaster.CreatedBy
                WHERE   CONVERT(DATE, DeliveryDate, 106) = CONVERT(DATE, GETDATE(), 106)
                        AND OrderTranse.IsDeleted = 0
                        AND IsDelivered = 0 
            END
            
        IF @parameter = 7
            BEGIN
                UPDATE  Notification
                SET     IsSeen = 1
                --WHERE   NotificationId = @NotificationId
                WHERE   PageCode = @PageCode
                 and UserId=@UserId
               
            
            END
            
        IF @parameter = 8
            BEGIN
                SELECT  CustomerName ,
                        OAno ,
                        CONVERT(VARCHAR(11), OrderDate, 106) AS OrderDate ,
                        UserName
                FROM    OrderMaster
                        INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = OrderMaster.CustomerID
                        INNER JOIN UserMaster ON UserMaster.UserId = OrderMaster.CreatedBy
                WHERE   CONVERT(DATE, OrderDate, 106) = CONVERT(DATE, GETDATE(), 106) 
            END
            
        IF @parameter = 9
            BEGIN
                SELECT  NotificationId ,
                        PageCode
                FROM    Notification
                WHERE   IsSeen = 0
                        AND Notification.UserId = @UserId
          
         --   AND NotificationDate BETWEEN CONVERT(DATE ,@Startdate) AND CONVERT(DATE,@EndDate)
            END
            
             
    END
GO
