USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PurchaseAmountTrendMoMChart]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Hemani Vandra>
-- Create date: <Create Date,,>
-- Description:	<Description,it gives financial year wise purchase amount>
-- =============================================
-- modified by:	<Author,,Hemani Vandra>
-- Create date: <Create Date,5th Sept'19>
-- Description:	<Description,Para3 deleted, Para 2 Changed: purchase amount for 3 fianancial year dynamically based on FetchFinancialYearDynamically function>
-- =============================================
CREATE PROCEDURE [dbo].[PurchaseAmountTrendMoMChart]
    @Parameter INT = 0 ,
    @PlantIdString VARCHAR(MAX) = NULL,
    @EntityId INT = 0
AS
    BEGIN
    
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
	if (@Parameter = 1)
	begin 
		Declare @StartingMonthForFY int;
		SET @StartingMonthForFY = (SELECT FinancialYear FROM configuration where EntityID = @EntityId)   

		SELECT		RowNo,
					InvoiceDate,
					DAY(InvoiceDate) AS DateField,
					QuarterField,
					InvoiceYear,
					(CASE	WHEN @StartingMonthForFY = 1
								THEN CONVERT(VARCHAR, InvoiceYear)
							WHEN InvoiceMonthInDigit < @StartingMonthForFY
								THEN CONVERT(VARCHAR, InvoiceYear-1) + '-'+ CONVERT(VARCHAR, InvoiceYear)
							ELSE  CONVERT(VARCHAR, InvoiceYear) + '-'+ CONVERT(VARCHAR, InvoiceYear + 1)
					END ) as FinancialYear,
					InvoiceMonthInDigit,
					MonthField,
					InvoiceAmount
		FROM
		(
			SELECT		1 AS RowNo,
						CONVERT(VARCHAR(10), InvoiceDate, 20) AS InvoiceDate,
						(CASE WHEN MONTH(InvoiceDate) BETWEEN @StartingMonthForFY AND @StartingMonthForFY+2
								  THEN 'Q1'
						WHEN MONTH(InvoiceDate) BETWEEN @StartingMonthForFY +3 AND @StartingMonthForFY+5
								 THEN 'Q2'
						WHEN MONTH(InvoiceDate) BETWEEN @StartingMonthForFY+6 AND @StartingMonthForFY+8
								 THEN 'Q3'
						WHEN MONTH(InvoiceDate) BETWEEN @StartingMonthForFY+9 AND @StartingMonthForFY+11
								 THEN 'Q4'
						END) AS QuarterField,
						YEAR(InvoiceDate) AS InvoiceYear,
						MONTH(InvoiceDate) AS InvoiceMonthInDigit,
						DATENAME(MONTH, InvoiceDate) AS MonthField,
						SUM(ISNULL(TotalAmount, 0)) AS InvoiceAmount
			FROM		PurchaseInvoice 
			WHERE		IsDelete = 0
						AND MONTH(InvoiceDate) > @StartingMonthForFY - 1
						AND ( ISNULL(@PlantIdString , '') = ''
							  OR PurchaseInvoice.PlantId IN (SELECT Item FROM @Plant)
							)
						AND PurchaseInvoice.EntityId = @EntityId
			GROUP BY	InvoiceDate

			UNION

			SELECT		2 AS RowNo,
						CONVERT(VARCHAR(10), InvoiceDate, 20) AS InvoceDate,
						(CASE WHEN MONTH(InvoiceDate) BETWEEN @StartingMonthForFY-12 AND @StartingMonthForFY-10
								  THEN 'Q1'
						WHEN MONTH(InvoiceDate) BETWEEN @StartingMonthForFY -9 AND @StartingMonthForFY-7
								 THEN 'Q2'
						WHEN MONTH(InvoiceDate) BETWEEN @StartingMonthForFY-6 AND @StartingMonthForFY-4
								 THEN 'Q3'
						WHEN MONTH(InvoiceDate) BETWEEN @StartingMonthForFY-3 AND @StartingMonthForFY-1
								 THEN 'Q4'
						END) AS QuarterField,
						YEAR(InvoiceDate) AS InvoiceYear,
						MONTH(InvoiceDate) AS InvoiceMonthInDigit,
						DATENAME(MONTH, InvoiceDate) AS MonthField,
						SUM(ISNULL(TotalAmount, 0)) AS InvoiceAmount
			FROM		PurchaseInvoice 
			WHERE		IsDelete = 0
						AND MONTH(InvoiceDate) < @StartingMonthForFY
						AND ( ISNULL(@PlantIdString , '') = ''
							  OR PurchaseInvoice.PlantId IN (SELECT Item FROM @Plant)
							)
						AND PurchaseInvoice.EntityId = @EntityId
			GROUP BY	InvoiceDate

		) A

	END

    IF ( @Parameter = 2 )
		BEGIN

			SET @StartingMonthForFY = (
				select FinancialYear from configuration
				where EntityID = @EntityId
			);
			
			IF @StartingMonthForFY = 0
			BEGIN
				SET @StartingMonthForFY = 1 ;
			END

			SELECT		S.*, SS.*,
						CASE WHEN S.SrNo = 1 THEN ISNULL(F1.TotalAmount, 0)
						ELSE ISNULL(F2.TotalAmount, 0) END
						AS TotalAmount
			FROM		(
							SELECT    DATENAME(MONTH, CONVERT(VARCHAR(50), year(GetDate()))+'-' + CAST(number AS VARCHAR(2)) + '-1') Month ,
									  number ,
									  1 AS SrNo
							FROM      master..spt_values
							WHERE     Type = 'P'
									  AND number BETWEEN @StartingMonthForFY AND 12
							UNION
							SELECT    DATENAME(MONTH, CONVERT(VARCHAR(50), year(GetDate()))+'-' + CAST(number AS VARCHAR(2)) + '-1') MONTH ,
									  number ,
									  2 AS SrNo
							FROM      master..spt_values
							WHERE     Type = 'P'
									  AND number BETWEEN 1 AND @StartingMonthForFY - 1						
						) AS S
						CROSS JOIN (
							SELECT		FinancialYear AS Year, 
										StartYear, 
										EndYear 
							FROM		FetchFinancialYearDynamically(@StartingMonthForFY)
						) AS SS
						LEFT JOIN (
                            SELECT		DATENAME(MONTH, InvoiceDate) Months ,
										ROUND(ISNULL(SUM(dbo.PurchaseInvoice.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
										YEAR(InvoiceDate) AS Year1
							FROM		dbo.PurchaseInvoice
							WHERE		dbo.PurchaseInvoice.IsDelete = 0
                                        AND MONTH(InvoiceDate) > @StartingMonthForFY - 1 
										AND ( ISNULL(@PlantIdString , '') = ''
										  OR PurchaseInvoice.PlantId IN (SELECT Item FROM @Plant)
										)
										AND PurchaseInvoice.EntityId = @EntityId             
							GROUP BY	DATENAME(month, InvoiceDate) ,
										YEAR(InvoiceDate)
						) AS F1
						ON S.MONTH = F1.Months
						AND SS.StartYear = F1.Year1
						LEFT JOIN (
							SELECT		DATENAME(MONTH, InvoiceDate) Months ,
										ROUND(ISNULL(SUM(dbo.PurchaseInvoice.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
										YEAR(InvoiceDate) AS Year1
							FROM		dbo.PurchaseInvoice
							WHERE		dbo.PurchaseInvoice.IsDelete = 0
                                        AND MONTH(InvoiceDate) < @StartingMonthForFY  
										AND ( ISNULL(@PlantIdString , '') = ''
										  OR PurchaseInvoice.PlantId IN (SELECT Item FROM @Plant)
										)
										AND PurchaseInvoice.EntityId = @EntityId             
							GROUP BY	DATENAME(month, InvoiceDate) ,
										YEAR(InvoiceDate)
						) AS F2
						ON S.MONTH = F2.Months
						AND SS.EndYear = F2.Year1
			ORDER BY	Srno, 
						number
						
		END
    END
GO
