USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[App_ManageCharge]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Harshad Chauhan
-- Create date: 23 July 2019
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[App_ManageCharge]
	-- Add the parameters for the stored procedure here
	@P_Parameter INT=0
  , @initialLoad INT = 0
  , @PlantId INT = 0
  , @batchid BIGINT = 0
  , @MetalID BIGINT = 0
  , @ChargeName VARCHAR(50) = NULL
  , @Type CHAR(10) = NULL
  , @PlanMasterID INT = 0
    
  ,@ConsumptionMethod INT=0
  ,@EntityId INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    --DECLARE @ConsumptionMethod INT = ISNULL((SELECT TOP 1 permitir FROM permitir WHERE Code = 'CM'), 0)
    
	IF(@P_Parameter = 1)
	BEGIN
        IF @ConsumptionMethod = 1
        BEGIN
            IF @initialLoad = 1
            BEGIN
                SELECT  ROW_NUMBER() OVER ( ORDER BY ChargeID DESC ) AS SerialNo ,
                        cm.MetalID , ratio , ChargeID , ChargeName AS Charge, ItemName , cm.purchaseItemId 
                        , ISNULL(id.Stock, 0) AS Stock , ISNULL(id.Stock, 0) AS StockTemp ,
                        Type 
                        , (
							SELECT  dbo.FloorBatchWiseStock.RawBatchId ,
									RawBatchNo ,
									CONVERT(DECIMAL(18, 3), Stock) AS BatchStock ,
									dbo.RawInwBatchWiseStock.PurchaseItemId ,
									CONVERT(DECIMAL(18, 3), Qty) AS Qty ,
									0.000 AS TransactionQty ,
									0.000 AS ConsumptionQty ,
									CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) AS ConsumptionBatchId
									, 0.000 AS ActualQty
							FROM    dbo.FloorBatchWiseStock
									INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.FloorBatchWiseStock.RawBatchId
																	  AND RawInwBatchWiseStock.PurchaseItemId = FloorBatchWiseStock.PurchaseItemId
							WHERE   RawInwBatchWiseStock.PurchaseItemId = cm.purchaseItemId
							        AND CONVERT(DECIMAL(18, 3), Stock) > 0
									--AND (@PlantId = 0 OR FloorBatchWiseStock.PlantId  = @PlantId)
							ORDER BY RawBatchId ASC
							for XML PATH, ROOT('ItemWiseBatchWiseStock')
                        ) AS BatchDetails
                        , ISNULL(cm.ExcludeInConsumption, 0) AS ExcludeInConsumption
                FROM    ChargeMaster cm
                        INNER JOIN MetalMaster AS mm ON cm.MetalId = mm.MetalId
                        INNER JOIN PurchaseItemMaster pm ON cm.purchaseItemId = pm.purchaseItemId
                        INNER JOIN InventoryDetails AS id ON id.purchaseItemId = cm.purchaseItemId
															AND CONVERT(DECIMAL(18, 3), Stock) > 0
															 AND id.Entity = cm.EntityId
															 AND (ISNULL(@PlantId, 0) = 0 OR id.PlantId = @PlantId)
															 AND (ISNULL(@batchid, 0) = 0 
																  OR id.PlantId = (
																	SELECT PlantID FROM ProductionBatch 
																	WHERE batchID = @batchid
																  )
															 )
                WHERE   cm.MetalId = @MetalId
                        AND isDefault = 'True'
                        AND cm.isDeleted != 1
                        AND (ISNULL(@Type, '') = '' OR cm.Type = @Type)
                        AND ( @ChargeName is null or chargeName = @ChargeName )
                ORDER BY ChargeID DESC
            END
            ELSE
            BEGIN
                SELECT  ROW_NUMBER() OVER ( ORDER BY ChargeID DESC ) AS SerialNo ,
                        cm.MetalID , ratio , ChargeID , ChargeName AS Charge, ItemName , cm.purchaseItemId 
                        , ISNULL(id.Stock, 0) AS Stock , ISNULL(id.Stock, 0) AS StockTemp ,
                        Type 
                        , (
                        SELECT  dbo.FloorBatchWiseStock.RawBatchId ,
									RawBatchNo ,
									CONVERT(DECIMAL(18, 3), Stock) AS BatchStock ,
									dbo.RawInwBatchWiseStock.PurchaseItemId ,
									CONVERT(DECIMAL(18, 3), Qty) AS Qty ,
									0.000 AS TransactionQty ,
									0.000 AS ConsumptionQty ,
									CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) AS ConsumptionBatchId
									, 0.000 AS ActualQty
							FROM    dbo.FloorBatchWiseStock
									INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.FloorBatchWiseStock.RawBatchId
																	  AND RawInwBatchWiseStock.PurchaseItemId = FloorBatchWiseStock.PurchaseItemId
							WHERE   RawInwBatchWiseStock.PurchaseItemId = cm.purchaseItemId
							        AND CONVERT(DECIMAL(18, 3), Stock) > 0
									--AND (@PlantId = 0 OR FloorBatchWiseStock.PlantId  = @PlantId)
							ORDER BY RawBatchId ASC
							for XML PATH, ROOT('ItemWiseBatchWiseStock')
                        ) AS BatchDetails
                        , ISNULL(cm.ExcludeInConsumption, 0) AS ExcludeInConsumption
                FROM    ChargeMaster cm
                        INNER JOIN MetalMaster AS mm ON cm.MetalId = mm.MetalId
                        INNER JOIN PurchaseItemMaster pm ON cm.purchaseItemId = pm.purchaseItemId
                        INNER JOIN InventoryDetails AS id ON id.purchaseItemId = cm.purchaseItemId
															AND CONVERT(DECIMAL(18, 3), Stock) > 0
															 AND id.Entity = cm.EntityId
															 AND (ISNULL(@PlantId, 0) = 0 OR id.PlantId = @PlantId)
															 AND (ISNULL(@batchid, 0) = 0 
																  OR id.PlantId = (
																	SELECT PlantID FROM ProductionBatch 
																	WHERE batchID = @batchid
																  )
															 )
                WHERE   cm.MetalId = @MetalId
                        AND chargeName = @ChargeName
                        AND cm.isDeleted != 1
                        AND (ISNULL(@Type, '') = '' OR cm.Type = @Type)
                ORDER BY ChargeID DESC
            END
        END
        ELSE
        BEGIN
            IF @initialLoad = 1
            BEGIN
                SELECT  ROW_NUMBER() OVER ( ORDER BY ChargeID DESC ) AS SerialNo ,
                        cm.MetalID , ratio , ChargeID , ChargeName AS Charge, ItemName , cm.purchaseItemId 
                        , ISNULL(id.Stock, 0) AS Stock , ISNULL(id.Stock, 0) AS StockTemp ,
                        Type 
                        , (
                        SELECT  dbo.FloorBatchWiseStock.RawBatchId ,
									RawBatchNo ,
									CONVERT(DECIMAL(18, 3), Stock) AS BatchStock ,
									dbo.RawInwBatchWiseStock.PurchaseItemId ,
									CONVERT(DECIMAL(18, 3), Qty) AS Qty ,
									0.000 AS TransactionQty ,
									0.000 AS ConsumptionQty ,
									CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) AS ConsumptionBatchId
									, 0.000 AS ActualQty
							FROM    dbo.FloorBatchWiseStock
									INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.FloorBatchWiseStock.RawBatchId
																	  AND RawInwBatchWiseStock.PurchaseItemId = FloorBatchWiseStock.PurchaseItemId
							WHERE   RawInwBatchWiseStock.PurchaseItemId = cm.purchaseItemId
							        AND CONVERT(DECIMAL(18, 3), Stock) > 0
									--AND (@PlantId = 0 OR FloorBatchWiseStock.PlantId  = @PlantId)
							ORDER BY RawBatchId ASC
							for XML PATH, ROOT('ItemWiseBatchWiseStock')
                        ) AS BatchDetails
                        , ISNULL(cm.ExcludeInConsumption, 0) AS ExcludeInConsumption
                FROM    ChargeMaster cm
                        INNER JOIN MetalMaster AS mm ON cm.MetalId = mm.MetalId
                        INNER JOIN PurchaseItemMaster pm ON cm.purchaseItemId = pm.purchaseItemId
                        LEFT JOIN FloorInventoryDetails AS id ON id.purchaseItemId = cm.purchaseItemId
															AND CONVERT(DECIMAL(18, 3), Stock) > 0
															  AND id.Entity = cm.EntityId
															  AND (ISNULL(@PlantId, 0) = 0 OR id.PlantId = @PlantId)
															  AND (ISNULL(@batchid, 0) = 0 
															  	    OR id.PlantId = (
																	  SELECT PlantID FROM ProductionBatch 
																	  WHERE batchID = @batchid
																    )
															   )
                WHERE   cm.MetalId = @MetalId
                        AND isDefault = 'True'
                        AND cm.isDeleted != 1
                        AND (ISNULL(@Type, '') = '' OR cm.Type = @Type)
                        AND ( @ChargeName is null or chargeName = @ChargeName )
                ORDER BY ChargeID DESC
            END
            ELSE
            BEGIN
                SELECT  ROW_NUMBER() OVER ( ORDER BY ChargeID DESC ) AS SerialNo ,
                        cm.MetalID , ratio , ChargeID , ChargeName AS Charge, ItemName , cm.purchaseItemId 
                        , ISNULL(id.Stock, 0) AS Stock , ISNULL(id.Stock, 0) AS StockTemp ,
                        Type 
                        , (
                        SELECT  dbo.FloorBatchWiseStock.RawBatchId ,
									RawBatchNo ,
									CONVERT(DECIMAL(18, 3), Stock) AS BatchStock ,
									dbo.RawInwBatchWiseStock.PurchaseItemId ,
									CONVERT(DECIMAL(18, 3), Qty) AS Qty ,
									0.000 AS TransactionQty ,
									0.000 AS ConsumptionQty ,
									CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) AS ConsumptionBatchId
									, 0.000 AS ActualQty
							FROM    dbo.FloorBatchWiseStock
									INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.FloorBatchWiseStock.RawBatchId
																	  AND RawInwBatchWiseStock.PurchaseItemId = FloorBatchWiseStock.PurchaseItemId
							WHERE   RawInwBatchWiseStock.PurchaseItemId = cm.purchaseItemId
							        AND CONVERT(DECIMAL(18, 3), Stock) > 0
									--AND (@PlantId = 0 OR FloorBatchWiseStock.PlantId  = @PlantId)
							ORDER BY RawBatchId ASC
							for XML PATH, ROOT('ItemWiseBatchWiseStock')
                        ) AS BatchDetails
                        , ISNULL(cm.ExcludeInConsumption, 0) AS ExcludeInConsumption
                FROM    ChargeMaster cm
                        INNER JOIN MetalMaster AS mm ON cm.MetalId = mm.MetalId
                        INNER JOIN PurchaseItemMaster pm ON cm.purchaseItemId = pm.purchaseItemId
                        LEFT JOIN FloorInventoryDetails AS id ON id.purchaseItemId = cm.purchaseItemId
															AND CONVERT(DECIMAL(18, 3), Stock) > 0
															  AND id.Entity = cm.EntityId
															  AND (ISNULL(@PlantId, 0) = 0 OR id.PlantId = @PlantId)
															  AND (ISNULL(@batchid, 0) = 0 
																   OR id.PlantId = (
																	 SELECT PlantID FROM ProductionBatch 
																	 WHERE batchID = @batchid
																   )
															  )
                WHERE   cm.MetalId = @MetalId
                        AND chargeName = @ChargeName
                        AND cm.isDeleted != 1
                        AND (ISNULL(@Type, '') = '' OR cm.Type = @Type)
                ORDER BY ChargeID DESC
            END
        END
    END
    
    ELSE IF (@P_Parameter = 2)
    BEGIN
		IF @ConsumptionMethod = 1
		BEGIN        
			SELECT  ROW_NUMBER() OVER ( ORDER BY ChargeID DESC ) AS SerialNo,
					cm.MetalID , ratio , ChargeID , cm.ChargeName 
					, (pm.ItemName + '(' + pm.ItemCode + ')')  as ItemName
					, cm.purchaseItemId ,
					ISNULL(id.Stock, 0) AS Stock , ISNULL(id.Stock, 0) AS StockTemp , Type ,
					(
						SELECT * FROM (
							
							SELECT  dbo.RawInwBatchWiseStock.RawBatchId ,
									RawBatchNo ,
									CONVERT(DECIMAL(18, 3), Stock) AS BatchStock ,
									dbo.RawInwBatchWiseStock.PurchaseItemId ,
									Qty ,
									0.000 AS TransactionQty ,
									0.000 AS ConsumptionQty ,
									CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) AS ConsumptionBatchId
									, 0.000 AS ActualQty
							FROM    dbo.RawInwBatchWiseStock
							WHERE   RawInwBatchWiseStock.PurchaseItemId = cm.purchaseItemId
									AND dbo.RawInwBatchWiseStock.Qty > 0
									AND (ISNULL(@PlantId, 0) = 0 OR dbo.RawInwBatchWiseStock.PlantId  = @PlantId)
									--AND (NOT EXISTS (
									--		select * from DailyMPPlanConsumptionBatchWise As dmppcbw
									--		INNER JOIN DailyMPPlanConsumption AS dmppc 
									--					ON dmppc.DailyMPPlanConsumption_Id = dmppcbw.DailyMPPlanConsumption_Id
									--		WHERE dmppc.PlanMasterID = @PlanMasterID AND dmppc.PurchaseItemId = cm.purchaseItemId
									--	)
									--)
					
						) AS FINAL
						ORDER BY RawBatchId ASC
							for XML PATH, ROOT('ItemWiseBatchWiseStock')
                    ) AS BatchDetails,
					cm.ExcludeInConsumption ,
					ROUND(ISNULL(Consumption.consumptionqty, 0), 3) AS consumptionqty ,
					ROUND(ISNULL(Consumption.consumptionQty, 0), 3) AS hidenqty ,
					ISNULL(Consumption.ConsumptionID, 0) AS ConsumptionID,
					UOMMaster.UOM,
					pm.ChargingMaterialType
			FROM    ChargeMaster cm
					INNER JOIN MetalMaster AS mm ON cm.MetalId = mm.MetalId
					INNER JOIN PurchaseItemMaster pm ON cm.purchaseItemId = pm.purchaseItemId
					INNER JOIN InventoryDetails AS id ON id.purchaseItemId = cm.purchaseItemId
														AND cm.EntityId = id.Entity AND id.PlantId = @PlantId
					--LEFT JOIN DailyMPPlanConsumption AS dmppc ON dmppc.PurchaseItemId = cm.purchaseitemiD
					--										AND dmppc.PlanMasterID = @PlanMasterID
					LEFT JOIN Consumption ON Consumption.ChargeName = cm.ChargeName
                                        AND mm.MetalId = Consumption.metalid AND Consumption.purchaseitemID = cm.purchaseItemId
										AND pm.purchaseItemId = Consumption.purchaseitemID
										AND ( @batchid IS NULL OR Consumption.batchid = @BatchId)
					LEFT JOIN UOMMaster ON UOMMaster.UOMid = pm.SecondaryUnitOfMeasure
			WHERE   cm.MetalId = @MetalId AND isDefault = 'True' --AND cm.isDeleted != 1 
					AND cm.Type = 'C'
					AND ( @ChargeName IS NULL OR cm.ChargeName = @ChargeName )
			ORDER BY ChargeID DESC
		END        
		ELSE        
		BEGIN        
			Declare @Method int = 0
			Select	@Method = InvMethodItem from configuration 
			where	EntityID = @EntityId

			SELECT  ROW_NUMBER() OVER ( ORDER BY ChargeID DESC ) AS SerialNo ,        
					cm.MetalID , ratio , ChargeID , cm.ChargeName 
					, (pm.ItemName + '(' + pm.ItemCode + ')')  as ItemName
					, cm.purchaseItemId ,
					ROUND(ISNULL(id.Stock, 0), 3) + ROUND(ISNULL(Consumption.consumptionqty, 0), 3) AS Stock 
					, ROUND(ISNULL(id.Stock, 0), 3) + ROUND(ISNULL(Consumption.consumptionqty, 0), 3) AS StockTemp 
					, Type,
					(
						SELECT  dbo.FloorBatchWiseStock.RawBatchId ,
								dbo.RawInwBatchWiseStock.RawBatchNo ,
								CAST(cast(isnull(Quantity,0) as float) + Stock AS DECIMAL(18, 3)) AS BatchStock ,
								dbo.RawInwBatchWiseStock.PurchaseItemId ,
								CAST(Qty AS DECIMAL(18, 3)) AS Qty,
								0.000 AS TransactionQty ,
								cast(isnull(Quantity ,0) as DECIMAL(18, 3)) AS ConsumptionQty ,
								isnull(ConsumptionBatchId ,CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)) as ConsumptionBatchId,
								isnull(dbo.ConsumptionBatchWise.ConsumptionID ,0) as ConsumptionID ,
								isnull(ConsumptionBatchWise.ReferenceID, cast(cast(0 as binary ) as uniqueidentifier) ) as ReferenceID,
								cast(isnull(Quantity,0) AS DECIMAL(18, 3)) AS ActualQty
						FROM    dbo.FloorBatchWiseStock
								INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.FloorBatchWiseStock.RawBatchId
								Left Join ConsumptionBatchWise On ConsumptionBatchWise.RawBatchId = FloorBatchWiseStock.RawBatchId
										and ConsumptionBatchWise.Quantity > 0
										AND ConsumptionBatchWise.ConsumptionID = Consumption.ConsumptionID
										--and (@ReferenceID Is null Or ConsumptionBatchWise.ReferenceID = @ReferenceID)
										--and (@ConsumptionID = 0 Or ConsumptionBatchWise.ConsumptionID = @ConsumptionID)
								Left Join (select 
												ROW_NUMBER() over(Partition by rawBatchNo Order by InwardDate desc) as rw, 
												RawMaterialInward.InwardDate as InwDate,
												RawMaterialInwardDetail.RawBatchNo
										from	RawMaterialInwardDetail 
												INNER JOIN RawMaterialInward ON RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId
										WHERE	PurchaseItemId = cm.purchaseItemId 
												and RawMaterialInward.IsDeleted = 0 
												and RawMaterialInwardDetail.IsDeleted = 0 
												and RawMaterialInward.PlantId = @PlantId 
												and RawMaterialInward.EntityId = @EntityId
												and RawMaterialInward.IsTransfer = 0
										--order by InwardDate desc
										Union
										select	ROW_NUMBER() over(Partition by rawBatchNo Order by ProductionDate desc) as rw, 
												ProductionDate as InwDate,
												RawBatchNo 
										from	SandProduction 
										where	SandProduction.IsDeleted = 0  --AND SandProduction.PurchaseItemId = @PurchaseItemId 
												and SandProduction.PlantId = @PlantId AND SandProduction.EntityID = @EntityId  
							) as TabInw ON TabInw.RawBatchNo = RawInwBatchWiseStock.RawBatchNo and rw = 1
						WHERE   RawInwBatchWiseStock.PurchaseItemId = cm.purchaseItemId
								AND (FloorBatchWiseStock.Stock > 0 OR ConsumptionBatchWise.Quantity > 0)
								AND (ISNULL(@PlantId, 0) = 0 OR FloorBatchWiseStock.PlantId  = @PlantId)
								--AND (NOT EXISTS (
								--		select * from DailyMPPlanConsumptionBatchWise As dmppcbw
								--		INNER JOIN DailyMPPlanConsumption AS dmppc 
								--							ON dmppc.DailyMPPlanConsumption_Id = dmppcbw.DailyMPPlanConsumption_Id
								--		WHERE dmppc.PlanMasterID = @PlanMasterID
								--		AND dmppc.PurchaseItemId = cm.purchaseItemId
								--	)
								--)
						ORDER BY 
										 CASE WHEN (@Method = 0 OR @Method = 2)  THEN TabInw.InwDate END DESC,
										 CASE WHEN (@Method = 0 OR @Method = 2)  THEN RawInwBatchWiseStock.RawBatchId END DESC,
										 CASE WHEN @Method = 1 THEN TabInw.InwDate END ASC,
										 CASE WHEN @Method = 1 THEN RawInwBatchWiseStock.RawBatchId END ASC
						--) AS FINAL
						--ORDER BY RawBatchId ASC
							for XML PATH, ROOT('ItemWiseBatchWiseStock')
                    ) AS BatchDetails,
					cm.ExcludeInConsumption ,          
                    ROUND(ISNULL(Consumption.consumptionqty, 0), 3) AS consumptionqty, --ROUND(ISNULL(dmppc.Qty, 0), 3) AS consumptionqty ,
					ROUND(ISNULL(Consumption.consumptionQty, 0), 3) AS hidenqty ,
					ISNULL(Consumption.ConsumptionID, 0) AS ConsumptionID,
					UOMMaster.UOM,
					pm.ChargingMaterialType
			FROM    ChargeMaster cm        
					INNER JOIN MetalMaster AS mm ON cm.MetalId = mm.MetalId        
					INNER JOIN PurchaseItemMaster pm ON cm.purchaseItemId = pm.purchaseItemId        
					LEFT JOIN FloorInventoryDetails AS id ON id.purchaseItemId = cm.purchaseItemId        
							AND cm.EntityId = id.Entity AND id.PlantId = @PlantId        
					--LEFT JOIN DailyMPPlanConsumption AS dmppc ON dmppc.PurchaseItemId = cm.purchaseitemiD
					--										AND dmppc.PlanMasterID = @PlanMasterID
					LEFT JOIN Consumption ON Consumption.ChargeName = cm.ChargeName          
                            AND mm.MetalId = Consumption.metalid AND Consumption.purchaseitemID = cm.purchaseItemId
                            AND pm.purchaseItemId = Consumption.purchaseitemID
                            AND (@batchid IS NULL OR Consumption.batchid = @BatchId)
					LEFT JOIN UOMMaster ON UOMMaster.UOMid = pm.SecondaryUnitOfMeasure
			WHERE   cm.MetalId = @MetalId        
					AND ((@initialLoad = 1 AND isDefault = 'True') OR @initialLoad = 0)
					AND cm.isDeleted != 1
					AND cm.Type = 'C'
					AND ( @ChargeName IS NULL OR cm.ChargeName = @ChargeName)
			ORDER BY Sequence
		END
	END
END
GO
