USE [ICAST_IMS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_Validate_Entity_Name]    Script Date: 02-02-2026 10:54:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[SP_Validate_Entity_Name]    
@entityName varchar(100)    
as    
BEGIN    
  if exists(select 1 from CompanyMaster where IsDelete = 0 and Lower(NameOfOrganization) = Lower(@entityName))  
  begin  
  SELECT top 1 EntityId from CompanyMaster where IsDelete= 0 and Lower(NameOfOrganization) = Lower(@entityName)  
  end  
  else  
  begin  
    select 0 as EntityId;  
  end  
END 
GO
