USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportStockTransection]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ReportStockTransection]
	@PurchaseItemID UNIQUEIDENTIFIER = NULL ,   
    @IssueDateFrom DATETIME ,
    @IssueDateTo DATETIME ,
    @IsTransaction BIT = 'true' ,
    @EntityID INT = 0
	AS
BEGIN
		DECLARE @TotalRecords INT ,
            @CavityOrMold BIT ,
            --@DieFlag BIT ,
            @OpeningQty FLOAT ,
            @TransactionQty FLOAT 
    
        SET @TransactionQty = ( SELECT  ISNULL(SUM(TransactionQty), 0)
                                FROM    InventoryTransactionHistory
                                        INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.InventoryTransactionHistory.PurchaseItemId
                                WHERE   PurchaseItemMaster.PurchaseItemId = @PurchaseItemID
                                        AND CAST(ProcessDate AS DATE) < CAST(DATEADD(day, 0, DATEDIFF(day, 0, CONVERT(DATETIME, @IssueDateFrom, 103))) AS DATE)
                                        --AND InventoryTransactionHistory.ProcessCode NOT IN (
                                        --    SELECT CAST(MaterialIssue.IssueId AS NVARCHAR(100)) FROM MaterialIssue(NOLOCK) WHERE IsTransfer = 1
                                        --    UNION
                                        --    SELECT CAST(RawMaterialInward.InwardId AS NVARCHAR(100)) FROM RawMaterialInward(NOLOCK) WHERE IsTransfer = 1
                                        --)
                              )
        SET @OpeningQty = @TransactionQty
        
		IF @IsTransaction = 'false'
            BEGIN
                SELECT  ROW_NUMBER() OVER ( ORDER BY DATEADD(dd, 0,
                                                      DATEDIFF(dd, 0,
                                                      ProcessDate)) , SerialNo ) AS SrNo ,
                        Tagging ,
                        Process ,
                        Tagging + ' Entry - ' + Process AS [Action] ,
                        ProcessDate ,
                        ItemName AS CastingName ,
                        ItemCode AS CastingCode ,
                        ISNULL(@OpeningQty, 0) AS StockQty ,
                        ISNULL(TransactionQty, 0) AS TransactionQty ,
                        CAST(ROUND(ISNULL(@OpeningQty, 0)
                                   + ISNULL(TransactionQty, 0), 3) AS NUMERIC(36,
                                                      3)) AS BalanceQty ,
                        CASE WHEN ISNULL(TransactionQty, 0) >= 0
                             THEN CAST(ROUND(ISNULL(TransactionQty, 0),
                                             3) AS VARCHAR)
                             ELSE ''
                        END AS InwardQty ,
                        CASE WHEN ISNULL(TransactionQty, 0) < 0
                             THEN CAST(ROUND(ISNULL(-TransactionQty, 0),
                                             3) AS VARCHAR)
                             ELSE ''
                        END AS OutwardQty ,
                        ISNULL(CASE WHEN Tagging = 'ISSUE'
                             THEN
                                  ( MaterialIssue.EmployeeName + '('
                                    + MaterialIssue.EmployeeCode + ')' )
                             WHEN Tagging = 'INWARD' THEN CustomerMaster.CustomerName
                             WHEN Tagging = 'SalesItem' THEN cm.CustomerName
                             WHEN Tagging = 'Outward Return'
                             THEN ( CASE WHEN OutwardMaster.IssueTo = ''
                                         THEN CustomerMAster.CustomerName
                                         ELSE OutwardMaster.IssueTo
                                    END )
                             WHEN Tagging = 'Challan Inward' THEN ''
                             ELSE ''
                        END, '') AS IssueToSupplier ,
                        CASE WHEN Tagging = 'ISSUE' THEN  ISNULL(MaterialIssue.Prefix, '') + 
ISNULL(MaterialIssue.Separator, '') +
CONVERT(VARCHAR(50), MaterialIssue.IssueNo) +
ISNULL(MaterialIssue.Separator, '') +
ISNULL(MaterialIssue.Suffix, '') 
                             WHEN Tagging = 'INWARD' THEN  ISNULL(CONVERT(VARCHAR(50), RawMaterialInward.Prefix), '') +
ISNULL(CONVERT(VARCHAR(50), RawMaterialInward.Separator), '') +
ISNULL(CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo), '') +
ISNULL(CONVERT(VARCHAR(50), RawMaterialInward.Separator), '') +
ISNULL(CONVERT(VARCHAR(50), RawMaterialInward.Suffix), '')  
                             ELSE ''
                        END AS RefNo
                FROM    dbo.InventoryTransactionHistory
                        INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.InventoryTransactionHistory.PurchaseItemId
						LEFT JOIN ( SELECT  MaterialIssue.* ,
                                            EmployeeDetails.EmployeeName ,
                                            EmployeeDetails.EmployeeCode
                                    FROM    MaterialIssue
                                            INNER JOIN dbo.EmployeeDetails ON dbo.EmployeeDetails.EmployeeId = dbo.MaterialIssue.EmployeeId
                                            and EmployeeDetails.isActive = 1
                                            --AND MaterialIssue.IsTransfer = 0
                                  ) AS MaterialIssue ON InventoryTransactionHistory.ProcessCode = CAST(MaterialIssue.IssueId AS VARCHAR(MAX))
                        LEFT  JOIN dbo.RawMaterialInward ON InventoryTransactionHistory.ProcessCode = CAST(RawMaterialInward.InwardId AS VARCHAR(MAX)) 
										--AND RawMaterialInward.IsTransfer = 0
                        LEFT JOIN OutwardMaster ON InventoryTransactionHistory.ProcessCode = CAST(OutwardMaster.OutwardId AS VARCHAR(MAX))
                        LEFT JOIN InwardMaster ON InventoryTransactionHistory.ProcessCode = CAST(InwardMaster.InwardId AS VARCHAR(MAX))
                        LEFT JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId
                                                       or dbo.CustomerMaster.CustomerId = OutwardMaster.SupplierId
                        LEFT JOIN dispatchmaster On CAST(dispatchmaster.DispatchID  as varchar(Max))= InventoryTransactionHistory.ProcessCode
						LEFT JOIN dbo.CustomerMaster  Cm ON Cm.CustomerId = dbo.dispatchmaster.CustomerId
                           
                WHERE   ( PurchaseItemMaster.PurchaseItemId = @PurchaseItemID )
                        AND CAST(ProcessDate AS DATE) BETWEEN CAST(@IssueDateFrom AS DATE) AND CAST(@IssueDateTo AS DATE)
                        and  (ISNULL(TransactionQty, 0) <> 0 or ISNULL(TransactionQty, 0) <> 0)
       --                 AND InventoryTransactionHistory.ProcessCode NOT IN (
							--SELECT CAST(RawMaterialInward.InwardId AS VARCHAR(MAX)) FROM RawMaterialInward WHERE IsTransfer = 1
       --                 )
       --                 AND InventoryTransactionHistory.ProcessCode NOT IN (
							--SELECT CAST(MaterialIssue.IssueId AS VARCHAR(MAX)) FROM MaterialIssue WHERE IsTransfer = 1
       --                 )

            END
        ELSE
            BEGIN	
                SELECT  ROW_NUMBER() OVER ( ORDER BY DATEADD(dd, 0,
                                                      DATEDIFF(dd, 0,
                                                      ProcessDate)), Date ) AS SrNo ,
                        StockTransaction.*
                FROM    ( SELECT    'Issue' AS [Action] ,
                                    STKTransection.IssueDate AS ProcessDate ,
                                    STKTransection.CreatedOn AS Date ,
                                    ItemName AS CastingName ,
                                    ItemCode AS CastingCode ,
                                    ISNULL(@OpeningQty, 0) AS StockQty ,
                                    -ISNULL(STKTransection.Quantity
                                            - ( ISNULL(STKTransection.qty,
                                                      0) ), 0) AS TransactionQty ,
                                    ISNULL(@OpeningQty, 0)
                                    - ( ISNULL(STKTransection.Quantity
                                               - ( ISNULL(STKTransection.qty,
                                                      0) ), 0) ) AS BalanceQty ,
                                    '' AS InwardQty ,
                                    CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(STKTransection.Quantity
                                                      - ( ISNULL(STKTransection.qty,
                                                      0) ), 0) )) AS VARCHAR) AS OutwardQty ,
                                   -- MaterialIssue.IssueTo AS IssueToSupplier ,
                                    ISNULL(( STKTransection.EmployeeName
                                      + '('
                                      + STKTransection.EmployeeCode
                                      + ')' ), '') AS IssueToSupplier ,
									  ISNULL(CONVERT(VARCHAR(50), STKTransection.Prefix), '') +
ISNULL(CONVERT(VARCHAR(50), STKTransection.Separator), '') +
ISNULL(CONVERT(VARCHAR(50), STKTransection.IssueNo), '') +
ISNULL(CONVERT(VARCHAR(50), STKTransection.Separator), '') +
ISNULL(CONVERT(VARCHAR(50), STKTransection.Suffix), '')
  AS RefNo
                          FROM    [Data:StockTransection] as STKTransection
                          WHERE     
                                    STKTransection.PurchaseItemId = @PurchaseItemID
                                    AND CAST(STKTransection.IssueDate AS DATE) BETWEEN CAST(@IssueDateFrom AS DATE) AND CAST(@IssueDateTo AS DATE)
                                     AND (
                                    ISNULL(STKTransection.Quantity
                                               - ( ISNULL(STKTransection.qty,
                                                      0) ), 0) <> 0
                                                      
                                                      OR
                                                      
                                               (CONVERT(DECIMAL(18, 3), ( ISNULL(STKTransection.Quantity
                                                      - ( ISNULL(STKTransection.qty,
                                                      0) ), 0) )))<> 0       
                                    )    
                                    AND STKTransection.EntityID = @EntityId                     
                                                     
                          UNION ALL
                          SELECT    'Inward' AS [Action] ,
                                    RawMaterialInward.InwardDate AS ProcessDate ,
                                    RawMaterialInward.CreatedOn AS Date ,
                                    ItemName AS CastingName ,
                                    ItemCode AS CastingCode ,
                                    ISNULL(@OpeningQty, 0) AS StockQty ,
                                    ( ISNULL(RawMaterialInwardDetail.ConvertedAcceptedQuantity,
                                             0)
                                       ) AS TransactionQty ,
                                    --ISNULL(@OpeningQty, 0)
                                    --+ ( ISNULL(RawMaterialInwardDetail.AcceptedQuantiy,
                                    --           0)
                                    --    * PurchaseItemMaster.ConversionRatio ) AS BalanceQty ,
                                    --CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(RawMaterialInwardDetail.AcceptedQuantiy,
                                    --                  0)
                                    --                  * PurchaseItemMaster.ConversionRatio )) AS VARCHAR) AS InwardQty ,
                                     ISNULL(@OpeningQty, 0) + ( ISNULL(RawMaterialInwardDetail.ConvertedAcceptedQuantity, 0) ) AS BalanceQty ,
                                    CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(RawMaterialInwardDetail.ConvertedAcceptedQuantity,
                                                      0)
                                                       )) AS VARCHAR) AS InwardQty , 
                                    '' AS OutwardQty ,
                                    ISNULL(CustomerName + '/'
                                    + PurchaseOrder_Master.PONo, '') AS IssueToSupplier ,
                                   ISNULL(CONVERT(VARCHAR(50), RawMaterialInward.Prefix), '') +
ISNULL(CONVERT(VARCHAR(50), RawMaterialInward.Separator), '') +
ISNULL(CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo), '') +
ISNULL(CONVERT(VARCHAR(50), RawMaterialInward.Separator), '') +
ISNULL(CONVERT(VARCHAR(50), RawMaterialInward.Suffix), '')   AS RefNo
                          FROM      dbo.RawMaterialInwardDetail
                                    LEFT JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.RawMaterialInwardDetail.InwardId
												AND RawMaterialInward.IsDeleted = 0
												AND CAST( RawMaterialInward.InwardDate  as DATE) BETWEEN CAST(@IssueDateFrom AS DATE)
                                                      AND CAST(@IssueDateTo AS DATE)
                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId
                                    LEFT JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId
                                    LEFT JOIN dbo.PurchaseOrder_Master ON dbo.PurchaseOrder_Master.PurchaseOrderId = dbo.RawMaterialInwardDetail.PurchaseOrderId
                          WHERE     RawMaterialInwardDetail.IsDeleted = 0
                                    AND PurchaseItemMaster.PurchaseItemId = @PurchaseItemID
                                    --AND (CONVERT(DECIMAL(18, 3), ( ISNULL(RawMaterialInwardDetail.AcceptedQuantiy, 0)
                                    --                  * PurchaseItemMaster.ConversionRatio ))) <> 0
                                    AND (CONVERT(DECIMAL(18, 3), ( ISNULL(RawMaterialInwardDetail.ConvertedAcceptedQuantity, 0)
                                                       ))) <> 0 
                                    AND RawMaterialInward.EntityID = @EntityId
                                    --AND RawMaterialInward.IsTransfer = 0
                          UNION ALL
                          SELECT    'Outward Challan' AS [Action] ,
                                    OutwardMaster.ReturnDate AS ProcessDate ,
                                    OutwardMaster.CreatedOn AS Date ,
                                    ItemName AS CastingName ,
                                    ItemCode AS CastingCode ,
                                    ISNULL(@OpeningQty, 0) AS StockQty ,
                                    -ISNULL(OutwardTrans.Qty, 0) AS TransactionQty ,
                                    ISNULL(@OpeningQty, 0)
                                    - ISNULL(OutwardTrans.Qty, 0) AS BalanceQty ,
                                    '' AS InwardQty ,
                                    CAST(CONVERT(DECIMAL(18, 3), ISNULL(OutwardTrans.Qty,
                                                      0)) AS VARCHAR) AS OutwardQty ,
                                    ISNULL(( CASE WHEN OutwardMaster.IssueTo = ''
                                           THEN Customername
                                           ELSE OutwardMaster.IssueTo
                                      END ), '') AS IssueToSupplier ,
                                cast(    OutwardMaster.ChallanNo  as varchar)  AS RefNo
                          FROM      dbo.OutwardTrans
                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.OutwardTrans.ItemId
                                    INNER JOIN dbo.OutwardMaster ON dbo.OutwardMaster.OutwardId = dbo.OutwardTrans.OutwardId
                                    LEFT JOIN dbo.CustomerMaster ON OutwardMaster.SupplierId = CustomerMaster.CustomerId
                                  --  INNER JOIN dbo.InventoryTransactionHistory ON dbo.InventoryTransactionHistory.PurchaseItemId = dbo.PurchaseItemMaster.PurchaseItemId
                          WHERE     OutwardTrans.IsDeleted = 0
                                    AND PurchaseItemMaster.PurchaseItemId = @PurchaseItemID
                                    AND CAST(OutwardMaster.ReturnDate AS DATE) BETWEEN CAST(@IssueDateFrom AS DATE)
                                                      AND
                                                      CAST(@IssueDateTo AS DATE)
                                     and (CONVERT(DECIMAL(18, 3), ISNULL(OutwardTrans.Qty,
                                                      0))) <> 0
                                    AND OutwardMaster.EntityID = @EntityId
                          UNION ALL
                          SELECT    'Challan Inward' AS [Action] ,
                                    InwardMaster.ReturnDate AS ProcessDate ,
                                    InwardMaster.CreatedOn AS Date ,
                                    ItemName AS CastingName ,
                                    ItemCode AS CastingCode ,
                                    ISNULL(@OpeningQty, 0) AS StockQty ,
                                    ISNULL(InwardTrans.Qty, 0) AS TransactionQty ,
                                    ISNULL(@OpeningQty, 0)
                                    + ISNULL(InwardTrans.Qty, 0) AS BalanceQty ,
                                    CAST(CONVERT(DECIMAL(18, 3), ISNULL(InwardTrans.Qty,
                                                      0)) AS VARCHAR) AS InwardQty ,
                                    '' AS OutwardQty ,
                                    '' AS IssueToSupplier ,
                                  cast(  InwardMaster.ReturnNo as varchar)  AS RefNo
                          FROM      dbo.InwardTrans
                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.InwardTrans.PurchaseItemId
                                    INNER JOIN dbo.InwardMaster ON dbo.InwardMaster.InwardId = dbo.InwardTrans.InwardId
                                    --INNER JOIN dbo.InventoryTransactionHistory ON dbo.InventoryTransactionHistory.PurchaseItemId = dbo.PurchaseItemMaster.PurchaseItemId
                          WHERE     InwardTrans.IsDeleted = 0
                                    AND PurchaseItemMaster.PurchaseItemId = @PurchaseItemID
                                    AND CAST(InwardMaster.ReturnDate AS DATE) BETWEEN CAST(@IssueDateFrom AS DATE)
                                                      AND
                                                      CAST(@IssueDateTo AS DATE)
                                    AND (CONVERT(DECIMAL(18, 3), ISNULL(InwardTrans.Qty,
                                                      0)))  <> 0
                                                      
                                    AND InwardMaster.EntityID = @EntityId
                          UNION ALL
                          SELECT    'Stock Adjustment' AS [Action] ,
                                    CONVERT(VARCHAR(20), InventoryTransactionHistory.ProcessDate, 106) AS ProcessDate ,
                                    CONVERT(VARCHAR(20), InventoryTransactionHistory.ProcessDate, 106) AS Date ,
                                    ItemName AS CastingName ,
                                    ItemCode AS CastingCode ,
                                    ISNULL(SUM(@OpeningQty), 0) AS StockQty ,
                                    ISNULL(SUM(TransactionQty), 0) AS TransactionQty ,
                                    ISNULL(SUM(@OpeningQty), 0)
                                    + ISNULL(SUM(TransactionQty), 0) AS BalanceQty ,
                                    CASE WHEN SUM(TransactionQty) > 0
                                         THEN CAST(ISNULL(SUM(TransactionQty),
                                                      0) AS VARCHAR)
                                         ELSE ''
                                    END AS InwardQty ,
                                    CASE WHEN SUM(TransactionQty) < 0
                                         THEN CAST(ISNULL(SUM(-TransactionQty),
                                                      0) AS VARCHAR)
                                         ELSE ''
                                    END AS OutwardQty ,
--                                            CAST(ISNULL(SUM(TransactionQty), 0) AS VARCHAR) AS InwardQty ,
--                                            '' AS OutwardQty ,
                                    '' AS IssueToSupplier ,
                                    '' AS RefNo
                          FROM      dbo.InventoryTransactionHistory
                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.InventoryTransactionHistory.PurchaseItemId
                          WHERE     ( PurchaseItemMaster.PurchaseItemId = @PurchaseItemID )
                                    AND CAST(ProcessDate AS DATE) BETWEEN CAST(@IssueDateFrom AS DATE) AND CAST(@IssueDateTo AS DATE)
                                    AND (Tagging = 'Stock Adjustment'
                                    or Tagging = 'opening stock')
                                    AND PurchaseItemMaster.EntityID = @EntityId
                          GROUP BY  CONVERT(VARCHAR(20), InventoryTransactionHistory.ProcessDate, 106) ,
                                    ItemName ,
                                    ItemCode
                          HAVING    ISNULL(SUM(TransactionQty), 0) != 0
                          UNION ALL
                          SELECT    'Foundry Return' AS [Action] ,
                                    dbo.ProductionBatch.ProductionDate AS ProcessDate ,
                                    FoundryReturn.createdon AS Date ,
                                    ItemName AS CastingName ,
                                    ItemCode AS CastingCode ,
                                    ISNULL(@OpeningQty, 0) AS StockQty ,
                                    ISNULL(FoundryReturn.returnQty, 0) AS TransactionQty ,
                                    ISNULL(@OpeningQty, 0)
                                    + ISNULL(FoundryReturn.returnQty,
                                             0) AS BalanceQty ,
                                    CAST(CONVERT(DECIMAL(18, 3), ISNULL(FoundryReturn.returnQty,
                                                      0)) AS VARCHAR) AS InwardQty ,
                                    '' AS OutwardQty ,
                                    '' AS IssueToSupplier ,
                                    '' AS RefNo
                          FROM      dbo.FoundryReturn
                                    INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.FoundryReturn.batchid
                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.FoundryReturn.PurchaseItemId
                          WHERE     FoundryReturn.IsDeleted = 0
                                    AND PurchaseItemMaster.PurchaseItemId = @PurchaseItemID
                                    AND CAST(ProductionBatch.ProductionDate AS DATE) BETWEEN CAST(@IssueDateFrom AS DATE)
                                                      AND
                                                      CAST(@IssueDateTo AS DATE)
                                     AND (CONVERT(DECIMAL(18, 3), ISNULL(FoundryReturn.returnQty,
                                                      0))) <> 0 
                                    AND FoundryReturn.EntityID = @EntityId
                          UNION ALL
                          SELECT    'Convert To RM' AS [Action] ,
                                    InventoryTransactionHistory.ProcessDate AS ProcessDate ,
                                    InventoryTransactionHistory.InsertedDate AS Date ,
                                    ItemName AS CastingName ,
                                    ItemCode AS CastingCode ,
                                    ISNULL(@OpeningQty, 0) AS StockQty ,
                                    ISNULL(InventoryTransactionHistory.TransactionQty,
                                           0) AS TransactionQty ,
                                    ISNULL(@OpeningQty, 0)
                                    + ISNULL(TransactionQty, 0) AS BalanceQty ,
                                    --CAST(ISNULL(TransactionQty, 0) AS VARCHAR) AS InwardQty ,
                                   -- '' AS OutwardQty ,
                                    CASE WHEN ( TransactionQty ) > 0
                                         THEN CAST(ISNULL(( TransactionQty ),
                                                      0) AS VARCHAR)
                                         ELSE ''
                                    END AS InwardQty ,
                                    CASE WHEN ( TransactionQty ) < 0
                                         THEN CAST(ISNULL(( -TransactionQty ),
                                                      0) AS VARCHAR)
                                         ELSE ''
                                    END AS OutwardQty ,
                                    '' AS IssueToSupplier ,
                                    '' AS RefNo
                          FROM      InventoryTransactionHistory
                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.InventoryTransactionHistory.PurchaseItemId
                          WHERE     PurchaseItemMaster.PurchaseItemId = @PurchaseItemID
                                    AND CAST(ProcessDate AS DATE) BETWEEN CAST(@IssueDateFrom AS DATE) AND CAST(@IssueDateTo AS DATE)
                                    AND Tagging = 'Convert To RM'
                                    and ISNULL(( TransactionQty ),
                                                      0) <> 0
                                                      
                                    AND PurchaseItemMaster.EntityID = @EntityId
                          UNION ALL
                          SELECT    'RawMaterialRejection' AS [Action] ,
                                    RawMaterialRejectionMaster.RejectionDate AS ProcessDate ,
                                    RawMaterialRejectionMaster.CreatedOn AS Date ,
                                    ItemName AS CastingName ,
                                    ItemCode AS CastingCode ,
                                    ISNULL(@OpeningQty, 0) AS StockQty ,
                                    -ISNULL(RawMaterialRejectionItemTrans.Qty,
                                            0) AS TransactionQty ,
                                    ISNULL(@OpeningQty, 0)
                                    - ISNULL(RawMaterialRejectionItemTrans.Qty,
                                             0) AS BalanceQty ,
                                    '' AS InwardQty ,
                                    CAST(CONVERT(DECIMAL(18, 3), ISNULL(RawMaterialRejectionItemTrans.Qty,
                                                      0)) AS VARCHAR) AS OutwardQty ,
                                    '' AS IssueToSupplier ,
                                    '' AS RefNo
                          FROM      RawMaterialRejectionItemTrans
                                    INNER JOIN RawMaterialRejectionMaster ON dbo.RawMaterialRejectionMaster.RawMaterialRejectionId = dbo.RawMaterialRejectionItemTrans.RawMaterialRejectionId
                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.RawMaterialRejectionItemTrans.PurchaseItemId
                          WHERE     RawMaterialRejectionItemTrans.IsDeleted = 0
                                    AND PurchaseItemMaster.PurchaseItemId = @PurchaseItemID
                                    AND CAST(RawMaterialRejectionMaster.RejectionDate AS DATE) BETWEEN CAST(@IssueDateFrom AS DATE)
                                                      AND
                                                      CAST(@IssueDateTo AS DATE)
                                     and (CONVERT(DECIMAL(18, 3), ISNULL(RawMaterialRejectionItemTrans.Qty,
                                                      0))   ) <> 0 
                                    AND RawMaterialRejectionMaster.EntityID = @EntityId
                        UNION ALL
                        SELECT		'Sales' AS [Action],
									Dispatchmaster.DispatchDate AS ProcessDate ,
                                    Dispatchmaster.CreatedOn AS Date ,
                                    PurchaseItemMaster.ItemName AS CastingName ,
                                    PurchaseItemMaster.ItemCode AS CastingCode ,
                                    ISNULL(@OpeningQty, 0) AS StockQty ,
                                    -ISNULL(DispatchGradewise.PurchaseItemQty * PurchaseItemMaster.ConversionRatio,
                                            0) AS TransactionQty ,
                                    ISNULL(@OpeningQty, 0)
                                    - ISNULL(DispatchGradewise.PurchaseItemQty* PurchaseItemMaster.ConversionRatio,
                                             0) AS BalanceQty ,
                                    '' AS InwardQty ,
                                    CAST(CONVERT(DECIMAL(18, 3), ISNULL(DispatchGradewise.PurchaseItemQty * PurchaseItemMaster.ConversionRatio,
                                                      0)) AS VARCHAR) AS OutwardQty ,
                                    CustomerMaster.CustomerName AS IssueToSupplier ,
                                    '' AS RefNo
						FROM		Dispatchtrans
									Inner Join DispatchGradewise On DispatchGradewise.DispatchTransID = dispatchtrans.dispatchtransid
									INNER JOIN dispatchmaster On dispatchmaster.dispatchid = dispatchtrans.dispatchid
									INNER JOIN PurchaseItemMaster On PurchaseItemMaster.PurchaseitemID = dispatchtrans.PurchaseItemID
									LEFT JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.dispatchmaster.CustomerId
                        WHERE		dispatchmaster.ISdeleted = 0
									And IsFloorStock = 0
									AND dispatchtrans.Isdeleted = 0
									AND dispatchmaster.Isproforma = 0
									AND dispatchmaster.EntityID = @EntityId
									AND CAST(dispatchmaster.DispatchDate AS DATE) BETWEEN CAST(@IssueDateFrom AS DATE)
                                                      AND
                                                      CAST(@IssueDateTo AS DATE)
                                    AND dispatchtrans.PurchaseItemId = @PurchaseItemID
                        UNION ALL
                        SELECT		'Production' AS [Action] ,
                                    SandProduction.ProductionDate AS ProcessDate ,
                                    SandProduction.CreatedOn AS Date ,
                                    ItemName AS CastingName ,
                                    ItemCode AS CastingCode ,
                                    ISNULL(@OpeningQty, 0) AS StockQty ,
                                    ( ISNULL(SandProduction.Qty, 0) ) AS TransactionQty ,
                                    ISNULL(@OpeningQty, 0) + ( ISNULL(SandProduction.Qty, 0)) AS BalanceQty ,
                                    CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(SandProduction.Qty, 0))) AS VARCHAR) AS InwardQty ,
                                    '' AS OutwardQty ,
                                    '' AS IssueToSupplier ,
                                    '' AS RefNo
                        FROM		SandProduction
                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = SandProduction.PurchaseItemId
                        WHERE		SandProduction.IsDeleted = 0
                                    AND PurchaseItemMaster.PurchaseItemId = @PurchaseItemID
                                    AND SandProduction.EntityID = @EntityId
						
						UNION ALL
						
						SELECT		'Production' AS [Action] ,
                                    ProductionBatch.ProductionDate AS ProcessDate ,
                                    ProductionBatch.CreatedOn AS Date ,
                                    ItemName AS CastingName ,
                                    ItemCode AS CastingCode ,
                                    ISNULL(@OpeningQty, 0) AS StockQty ,
                                    ( ISNULL(knockout.ConsumptionQty, 0) ) AS TransactionQty ,
                                    ISNULL(@OpeningQty, 0) + ( ISNULL(knockout.ConsumptionQty, 0)) AS BalanceQty ,
                                    CAST(CONVERT(DECIMAL(18, 3), ( ISNULL(knockout.ConsumptionQty, 0))) AS VARCHAR) AS InwardQty ,
                                    '' AS OutwardQty ,
                                    '' AS IssueToSupplier ,
                                    '' AS RefNo
                        FROM		knockout
                                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = knockout.EndPieceItemId
                                    INNER JOIN ProductionBatch ON ProductionBatch.batchID = knockout.batchid
                        WHERE		ProductionBatch.IsDeleted = 0
                                    AND ProductionBatch.IsForging = 1
                                    AND PurchaseItemMaster.PurchaseItemId = @PurchaseItemID
                                    AND ProductionBatch.EntityID = @EntityId
						
                        ) AS StockTransaction
            END
END
GO
