USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[UpdateLedger]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Bhumin>
-- Create date: <Create Date,,27-08-2020>
-- Description:	<Description,,To insert ledger group>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateLedger]
	@parameter int,    
	@LedgerId uniqueidentifier,
	@ledgerName varchar(250) = null,
	@UnderGroupId int=0,
	@UserId int = 0	,
    @TaxPer float =0 
AS
    BEGIN
       
       IF @parameter = 1
       BEGIN
			
		update LedgerMaster set ChargeName = @ledgerName --, LedgerGroupId = @UnderGroupId 
		, ModifiedBy = @UserId , ModifiedOn = GetDate(),Taxper =@Taxper
		Where ChargeId = @LedgerId	       
                                         
          Return 1;
       END
       
       IF @parameter = 2
       BEGIN
       
			update LedgerMaster set isdeleted=1, deletedby = @UserId , deletedon = GetDate()
			Where ChargeId = @LedgerId	
								
       
       return 1;
       END   
       
       
          
    END



GO
