USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WebReportDropDownOption]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


    
    CREATE PROCEDURE [dbo].[WebReportDropDownOption]  
    @parameter INT = 0 ,  
    @CustomerId UNIQUEIDENTIFIER = NULL   
AS  
    IF @parameter = 1   -- Customer  
        BEGIN  
 select m.CustomerId as OptionValue, m.CustomerName as OptionText from CustomerMaster m where m.Customerflag='C' and IsDeleted != 1 order by m.CustomerName ASC;  
             
        END  
  
IF @parameter = 2   -- casting Name  
        BEGIN  
 --select m.CastingId as OptionValue, m.CastingName as OptionText from castingmaster m where m.IsDeleted = '0' order by m.CastingName;  
        
      --SELECT DISTINCT  
      --              CastingId as OptionValue, CastingName as OptionText  
      --      FROM    CastingMaster  
      --      WHERE   DieId IN ( SELECT   DieId  
      --                         FROM     CustomerDieMapping  
      --                         WHERE    @CustomerId IS NULL  
      --                                  OR CustomerId = @CustomerId )  
      --              AND CastingMaster.Isdeleted = 0 --and (@CastingId is null or CastingId = @CastingId)  
      --      UNION ALL  
            SELECT DISTINCT  
                   CastingId as OptionValue, CastingName as OptionText  
            FROM    CastingMaster  
            WHERE   DieID IN ( SELECT   PatternID  
                               FROM     CustomerPatternMapping  
                               WHERE    ( @CustomerId IS NULL  
                                          OR CustomerId = @CustomerId  
                                        ) )  
                    AND CastingMaster.Isdeleted = 0  
  
  
             
        END  
          
        IF @parameter = 3   -- casting code  
        BEGIN  
 --select m.CastingId as OptionValue, m.CastingCode as OptionText from castingmaster m where m.IsDeleted = '0' order by m.CastingCode;  
        
      --SELECT  CastingId as OptionValue,  
      --              CastingCode as OptionText  
      --      FROM    CastingMaster  
      --      WHERE   DieId IN ( SELECT   DieId  
      --                         FROM     CustomerDieMapping  
      --                         WHERE    @CustomerId IS NULL  
      --                                  OR CustomerId = @CustomerId )  
      --              AND CastingMaster.Isdeleted = 0  
      --      UNION ALL  
            SELECT  CastingId as OptionValue,  
                    CastingCode as OptionText  
            FROM    CastingMaster  
            WHERE   DieID IN ( SELECT   PatternID  
                               FROM     CustomerPatternMapping  
                               WHERE    @CustomerId IS NULL  
                                        OR CustomerId = @CustomerId )  
                    AND CastingMaster.Isdeleted = 0  
             
        END  
          
        IF @parameter = 4   -- Metal Name  
        BEGIN  
 select m.MetalId as OptionValue, m.MetalName as OptionText from MetalMaster m where m.IsDeleted='0' order by m.MetalName asc;  
             
        END  
          
          
      IF @parameter = 5   -- Supplier NAme  
        BEGIN  
 select m.CustomerId as OptionValue, m.CustomerName as OptionText from CustomerMaster m where m.Customerflag='S' and IsDeleted != 1 order by m.CustomerName ASC;  
             
        END    
          
         IF @parameter = 6   -- ItemCode / PurhchaserItem Code  
        BEGIN  
  SELECT  CustomerPurchaseitemMappping.PurchaseItemId as OptionValue,  
                        PurchaseItemMaster.ItemCode as OptionText  
                FROM    CustomerPurchaseitemMappping  
                        INNER JOIN PurchaseItemMaster ON CustomerPurchaseitemMappping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId  
                WHERE   ( @CustomerId IS NULL  
                          OR CustomerId = @CustomerId  
                        )  
                        AND CustomerPurchaseitemMappping.IsDeleted = 0         
        END         
          
    
  IF @parameter = 7   -- ItemName / PurhchaserItem Name  
        BEGIN  
  SELECT Distinct PurchaseItemMaster.PurchaseItemId as OptionValue,  
  PurchaseItemMaster.ItemName as OptionText  
                FROM    CustomerPurchaseitemMappping  
                        INNER JOIN PurchaseItemMaster ON CustomerPurchaseitemMappping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId  
                WHERE   ( @CustomerId IS NULL  
                          OR CustomerId = @CustomerId  
                        )  
                        AND CustomerPurchaseitemMappping.IsDeleted = 0        
        END        
          
          
IF @Parameter = 8 --Metal Group  
        BEGIN   
            SELECT DISTINCT  
                    dbo.MetalMaster.MetalType as OptionValue,  
                    dbo.MetalMaster.MetalType as OptionText  
            FROM    dbo.MetalMaster  
            WHERE   IsDeleted = 0  
                    AND dbo.MetalMaster.MetalType IS NOT NULL  
        END          
          
IF @Parameter = 9 --Process/Job Type  
        BEGIN   
           select m.ProcessId as OptionValue,m.ProcessName as OptionText from ProcessMaster m where m.IsDeleted=0 order by m.ProcessName ASC;  
        END           
          
          
  IF @Parameter = 10 --get CustomerName from party ID for dispalyinh name on main page  
        BEGIN   
          select m.CustomerName as CustomerName from CustomerMaster m where m.CustomerId=@CustomerId;  
        END  
GO
