USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_AllSubCategory]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Fetch_AllSubCategory] @CategoryId INT = 0
AS
    BEGIN
	
        SELECT  CategoryTransId ,
                SubCategoryName
               -- CategoryId
        FROM    dbo.CostingCategoryTrans
        WHERE   CategoryId = @CategoryId
    END
GO
