USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ServiceItemMasterSP]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ServiceItemMasterSP]    
    @parameter INT = 0 ,    
    @Item VARCHAR(500) = NULL ,    
    @ItemType VARCHAR(50) = NULL ,    
    @Remark VARCHAR(MAX) = NULL ,    
    @CreatedBy INT = 0 ,    
    @CreatedOn DATETIME = NULL ,    
    @ModifiedBy INT = 0 ,    
    @ModifiedOn DATETIME = NULL ,    
    @IsDeleted BIT = 'false' ,    
    @DeletedBy NUMERIC(18, 0) = 0 ,    
    @DeletedOn DATETIME = NULL ,    
    @ServiceNo VARCHAR(50) = NULL ,    
    @ServiceItemID UNIQUEIDENTIFIER = NULL ,    
    @EntityCode NUMERIC(18, 0) = 0 ,    
    @InitialLoad INT = 0 ,    
    @PageSize INT = 0 ,    
    @PageNumber INT = 0 ,    
    @ServiceItemList XML = NULL ,    
    @TerrifCode VARCHAR(50) = NULL,    
    @LedgerType int=0    
    ,@SpRequirenmentID uniqueidentifier = null 
    ,@PurchaseOrderID UNIQUEIDENTIFIER=NULL
    , @CustomerId UNIQUEIDENTIFIER=NULL
    , @EntityID int  = 0
    , @IsAll INT = 1 
    , @Block INT = 0
    , @IsJobService INT = 0,
    @ServiceUOM varchar(50) = null,
    @PendingAllocation BIT = 0 ,
    @TariffCode varchar(50) = null 
	 	 ,@LedgerId UNIQUEIDENTIFIER = NULL
AS    
    DECLARE @TotalRecords INT    
    SET @TotalRecords = 0    
    IF @parameter = 1   -- Insert ServiceItemMaster Master    
        BEGIN    
            SET @ServiceItemID = NEWID()    
            INSERT  INTO ServiceItemMaster    
                    ( ServiceItemID ,    
                      Item ,    
                      Type ,    
                      Remark ,    
                      ServiceNo ,    
                      CreatedOn ,    
                      CreatedBy ,    
                      IsDeleted ,    
                      LedgerType  
                      , EntityID  
                      , IsJobService
                      , ServiceUOM
                      ,TariffCode
					   	 ,LedgerId 
                    )    
            VALUES  ( @ServiceItemID ,    
                      @Item ,    
                      @ItemType ,    
                      @Remark ,    
                      @ServiceNo ,    
                      @CreatedOn ,    
                      @CreatedBy ,    
                      @IsDeleted ,    
                      @LedgerType  ,
                      @EntityID
                      ,@IsJobService
                      ,@ServiceUOM
                      ,@TariffCode
					  ,@LedgerId 
                    )    
        END    
    
    IF @parameter = 2   -- Fetch ServiceItemMaster Master Details    
        BEGIN    
-- used for combobx binging dont change sequence    
            SELECT  ROW_NUMBER() OVER ( ORDER BY ServiceItemMaster.Item ASC ) AS [Serial No] ,    
                    ServiceItemMaster.ServiceItemID ,    
                    ServiceNo ,    
                    Item ,    
                    Type ,    
                    Remark ,    
                    LedgerType,    
                    IsDeleted    
                    , IsJobService
                    , ISNULL(ServicePoAvail.PoCreated, 0) AS PoCreated,
                    ServiceUOM,
                    TariffCode,
                    isnull((	
						select 1 from PurchaseOrderServiceItemTrans Where ServiceItemId = @ServiceItemID  and IsDeleted = 0
						Union  Select 1 from OrderServiceItemTrans Where ServiceItemId = @ServiceItemID and IsDeleted = 0) 
						,0) as IsUsed 
						,LedgerId 
            FROM    ServiceItemMaster    
					LEFT JOIN (
							select	DISTINCT POSIT.ServiceItemId, 1 AS PoCreated 
							from	PurchaseOrderServiceItemTrans AS POSIT
									INNER JOIN PurchaseOrder_Master AS POM ON POSIT.PurchaseOrderID = POM.PurchaseOrderId
														AND POM.maxversion = 1 AND POM.IsDeleted = 0 and POSIT.IsDeleted = 0
							--WHERE ServiceItemId = ServiceItemMaster.ServiceItemId
					) AS ServicePoAvail ON ServicePoAvail.ServiceItemId = ServiceItemMaster.ServiceItemId
            WHERE   ( @ServiceNo IS NULL    
                      OR ServiceNo = @ServiceNo    
                    )    
                    --AND ServiceItemMaster.EntityID = @EntityID
                    AND ( @ServiceItemId IS NULL    
                          OR ServiceItemMaster.ServiceItemID = @ServiceItemId    
                        )    
            ORDER BY ServiceItemMaster.Item ASC    
           -- WHERE   IsDeleted = 0    
    
        END    
    
    IF @parameter = 3   -- Update ServiceItemMaster Master    
        BEGIN    
            UPDATE  ServiceItemMaster    
            SET     Item = @Item ,    
                    Type = @ItemType ,    
                    Remark = @Remark ,    
                    ServiceNo = @ServiceNo ,    
                    ModifiedBy = @ModifiedBy ,    
                    ModifiedOn = @ModifiedOn ,    
                    LedgerType = @LedgerType ,
                    IsJobService = @IsJobService,
                    ServiceUOM = @ServiceUOM,
                    TariffCode = @TariffCode
                    ,LedgerId =@LedgerId 
                    
            WHERE   ServiceItemID = @ServiceItemID  
					--AND ServiceItemMaster.EntityID = @EntityID  
    
        END    
    
    IF @parameter = 4   -- Delete from ServiceItemMaster Master    
        BEGIN    
    
            UPDATE  ServiceItemMaster    
            SET     IsDeleted = '1' ,    
                    DeletedBy = @DeletedBy ,    
                    DeletedOn = GETDATE()    
            WHERE   ServiceItemID = @ServiceItemID  
					--AND ServiceItemMaster.EntityID = @EntityID  
    
    
        END    
    IF @parameter = 5   -- Delete from ServiceItemMaster Master    
        BEGIN    
    
            UPDATE  ServiceItemMaster    
            SET     IsDeleted = '0'    
            WHERE   ServiceItemID = @ServiceItemID 
				--AND ServiceItemMaster.EntityID = @EntityID   
    
    
        END    
    IF @parameter = 6    
        BEGIN    
            SELECT    DISTINCT    
                    Type AS ItemType    
            FROM    ServiceItemMaster    
            WHERE   Type IS NOT NULL    
            --AND ServiceItemMaster.EntityID = @EntityID
 AND Type != ''    
        END    
    
   
    IF @parameter = 9   -- Check Duplication    
        BEGIN     
            SELECT  ROW_NUMBER() OVER ( ORDER BY ServiceItemMaster.Item ASC ) AS [Serial No] ,    
                    ServiceItemID ,    
                    ServiceNo ,    
                    Item ,    
                    Type ,    
                    Remark ,    
                    IsDeleted    
            FROM    ServiceItemMaster    
            WHERE   ServiceNo = @ServiceNo  
					--AND ServiceItemMaster.EntityID = @EntityID  
                    AND ( @ServiceItemId IS NULL    
                          OR ServiceItemID <> @ServiceItemId    
                        )    
            ORDER BY ServiceItemMaster.Item ASC    
                
        END    
    IF @parameter = 10   -- Check Duplication    
        BEGIN     
            SELECT  DISTINCT    
                    Item    
                    , ServiceItemId
            FROM    ServiceItemMaster    
            WHERE   ( @ServiceItemId IS NULL     OR ServiceItemID = @ServiceItemId     )    
                    --AND ServiceItemMaster.EntityID = @EntityID
                    AND (ISNULL(@ItemType, '') = '' OR Type = @ItemType)
                    AND (@IsJobService = 2 OR ServiceItemMaster.IsJobService = @IsJobService)
                    AND (@IsAll = 1 or (ServiceItemMaster.IsDeleted = @Block ))   
            ORDER BY ServiceItemMaster.Item ASC    
                
        END    
    IF @parameter = 11   -- Check Duplication    
        BEGIN     
            SELECT  DISTINCT    
                    ServiceItemId ,    
                    ServiceNo    
            FROM    ServiceItemMaster    
            WHERE   ( @Item IS NULL     OR Item = @Item     )   
                   -- AND ServiceItemMaster.EntityID = @EntityID 
                    AND (@IsJobService = 2 OR ServiceItemMaster.IsJobService = @IsJobService)
                    AND (@IsAll = 1 or (ServiceItemMaster.IsDeleted = @Block ))   
            ORDER BY ServiceItemMaster.ServiceNo ASC    
                
        END    
    IF @parameter = 12   -- Delete from ServiceItemMaster Master    
        BEGIN    
            SELECT  ROW_NUMBER() OVER ( ORDER BY ServiceItemMaster.Item ASC ) AS [Serial No] ,    
                    Item ,    
                    ServiceNo ,    
                    Type ,    
                    Remark ,    
                    TariffCode ,    
                    ServiceItemID ,    
                    IsDeleted    
            FROM    ServiceItemMaster    
            WHERE   ( @ServiceNo IS NULL    
                      OR ServiceNo = @ServiceNo    
                    )    
                    --AND ServiceItemMaster.EntityID = @EntityID
                    AND ( @ItemType IS NULL    
                          OR Type = @ItemType    
                        )    
                    AND ( @ServiceItemId IS NULL    
                          OR ServiceItemID = @ServiceItemId    
                        )    
                    AND ( @Item IS NULL    
                          OR Item = @Item    
                        )   
                    AND   ( @PendingAllocation = 0              
                              OR TariffCode IS NULL 
                              Or TariffCode = ''             
                            )    
        END    
    
    
    IF @parameter = 13   -- Delete from ServiceItemMaster Master    
        BEGIN    
    
            DECLARE TerrifCursor CURSOR    
            FOR    
                SELECT  Node.value('(ServiceItemId )[1]', 'uniqueidentifier') AS 'ServiceItemId'    
                FROM    @ServiceItemList.nodes('/DocumentElement/CastTerrif')    
                        AS TEMPXML ( Node )     
            OPEN TerrifCursor;    
    
            FETCH NEXT FROM TerrifCursor INTO @ServiceItemId    
                  
            WHILE ( @@FETCH_STATUS = 0 )    
                BEGIN    
                    UPDATE  dbo.ServiceItemMaster    
                    SET     TariffCode = @TerrifCode    
                    WHERE   ServiceItemId = @ServiceItemId  
							--AND ServiceItemMaster.EntityID = @EntityID  
                    FETCH NEXT FROM TerrifCursor INTO @ServiceItemId    
                END    
                 
                    
            CLOSE TerrifCursor;    
            DEALLOCATE TerrifCursor;    
        END    
    IF @parameter = 14    
        BEGIN    
            SELECT  ServiceItemMaster.TariffCode ,    
                    CGST ,    
                    SGST ,    
                    IGST    
            FROM    dbo.ServiceItemMaster    
                    INNER JOIN dbo.HSNGSTMapping ON HSNGSTMapping.HSNCode = ServiceItemMaster.TariffCode    
                    LEFT JOIN TaxMaster ON TaxMaster.TaxTemplateId = HSNGSTMapping.TaxTemplateId    
            WHERE   ServiceItemId = @ServiceItemId  and TariffCode != ''  and TariffCode is not null 
					--AND ServiceItemMaster.EntityID = @EntityID   
            
        END    
            
    IF @parameter = 15   -- Delete from ServiceItemMaster Master    
        BEGIN    
   UPDATE  dbo.ServiceItemMaster SET TariffCode = @TerrifCode    
   WHERE   ServiceItemId = @ServiceItemId
			--AND ServiceItemMaster.EntityID = @EntityID;                             
        END    
            
     IF @parameter = 16    
     BEGIN    
         
  Select Top 1 ServiceItemMaster.ServiceItemId as ItemId , 
		(ServiceItemMaster.Item + ' - ' + ServiceItemMaster.ServiceNo) as Item , LedgerType as LedgerId 
		from ServiceItemMaster 
		--where  ServiceItemMaster.EntityID = @EntityID
		order by CreatedOn desc    
         
     END    
         
     If @parameter = 17    
     BEgin    
  Select * from SPRequirementMaster    
  Where		(@SpRequirenmentID is null  
			or SPRequirementMaster.SPRequirementID = @SpRequirenmentID) 
		  AND   ( @PendingAllocation = 0              
                              OR TarrifCode IS NULL 
                              Or TarrifCode = ''             
                            )     
  Order by Code    
     End    
         
    IF @parameter = 18    
        BEGIN    
    
            DECLARE TerrifCursor CURSOR    
            FOR    
                SELECT  Node.value('(SPRequirementID)[1]', 'uniqueidentifier') AS 'SPRequirementID'    
                FROM    @ServiceItemList.nodes('/DocumentElement/CastTerrif')    
                        AS TEMPXML ( Node )     
            OPEN TerrifCursor;    
    
            FETCH NEXT FROM TerrifCursor INTO @ServiceItemId    
                  
            WHILE ( @@FETCH_STATUS = 0 )    
                BEGIN    
                    UPDATE  dbo.SPRequirementMaster    
                    SET     TarrifCode = @TerrifCode    
                    WHERE   SPRequirementID = @ServiceItemId    
                    FETCH NEXT FROM TerrifCursor INTO @ServiceItemId    
                END    
                 
                    
            CLOSE TerrifCursor;    
            DEALLOCATE TerrifCursor;    
        END    
          
        -- Added By Mayur   
         IF @parameter = 19     
			BEGIN     
				SELECT DISTINCT
				PurchaseOrderServiceItemTrans.ServiceItemId ,
				Item
				FROM dbo.PurchaseOrderServiceItemTrans			
					inner join  purchaseorder_Master   on PurchaseOrderServiceItemTrans.PurchaseOrderID = purchaseorder_Master.PurchaseOrderId
					INNER JOIN dbo.ServiceItemMaster ON dbo.ServiceItemMaster.ServiceItemId = dbo.PurchaseOrderServiceItemTrans.ServiceItemId
			
				WHERE   
					dbo.PurchaseOrder_Master.IsDeleted = 0 
					--AND ServiceItemMaster.EntityID = @EntityID
					AND dbo.PurchaseOrder_Master.maxversion = 1  
					AND (@CustomerId is null or customerid = @CustomerId ) 
					and ServiceItemMaster.IsDeleted = 0
					AND PurchaseOrderServiceItemTrans.IsShortclose = 0
					And PurchaseOrderServiceItemTrans.IsDelivered = 0
					AND (@PurchaseOrderID IS NULL OR PurchaseOrderServiceItemTrans.PurchaseOrderID = @PurchaseOrderID)
					AND (dbo.ServiceItemMaster.IsJobService = 0)
					and PurchaseOrderServiceItemTrans.IsDeleted = 0
	                
	                
			END 
        
        IF @parameter = 20
        BEGIN
			SELECT	ServiceItemId,
					Item
			FROM	ServiceItemMaster
			WHERE	IsDeleted = 0
					--And EntityID = @EntityID
					AND (dbo.ServiceItemMaster.IsJobService = 1)
        END
        
        IF @parameter = 21	
        BEGIN
			SELECT	UOM,
					UOMId -- added by megha
			FRom	ServiceItemMaster
					inner join UOMMaster on UOMMaster.UOMid =ServiceItemMaster.ServiceUOM 
			Where	ServiceItemId = @ServiceItemID
        END
        
        IF @parameter = 22
        BEGIN
        
			Select TOP 1 ServiceNo from ServiceItemMaster --where EntityID = @EntityID
			 order by CreatedOn DESC
        
        END
GO
