USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PurchaseOrderAmendLetterRDLC]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    -- =============================================  
-- Author:  <Yashvi Shah>  
-- Create date: <19 April 2018>  
-- Description: <Description,,>  
-- =============================================  
CREATE  PROCEDURE [dbo].[PurchaseOrderAmendLetterRDLC]  
@PurchaseOrderId UNIQUEIDENTIFIER = null,   
@OANo varchar(Max)  = null,
@EntityID int = 0  
AS  
BEGIN  
   
 --Table 0  
 Select CustomerMaster.CustomerName,PurchaseOrder_Master.CustomerAddress,  
 CASE WHEN PurchaseOrder_Master.Prefix  
                                  + PurchaseOrder_Master.Separator  
                                  + PurchaseOrder_Master.Suffix IS NULL  
                             THEN PurchaseOrder_Master.PONo  
                             ELSE CONVERT(VARCHAR(11), PurchaseOrder_Master.Prefix)  
                                  + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)  
                                  + CONVERT(VARCHAR(11), PurchaseOrder_Master.PONo)  
                                  + CONVERT(VARCHAR(11), PurchaseOrder_Master.Separator)  
                                  + CONVERT(VARCHAR(11), PurchaseOrder_Master.Suffix)  
                        END AS PONo,  
 Convert(varchar(20),PurchaseOrder_Master.OrderDate,106) as OrderDate,  
 InvoiceSeries.ReportTitle  
  from PurchaseOrder_Master INNER JOIN CustomerMaster  
 ON PurchaseOrder_Master.CustomerID = CustomerMaster.CustomerId  
 INNER JOIN InvoiceSeries ON InvoiceSeries.SeriesId = PurchaseOrder_Master.SeriesID  
 Where PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
 AND PurchaseOrder_Master.maxversion = 1  
   
   
DECLARE @MAX INT = (SELECT MAX(PurchaseOrder_Master.AmendVersion) FROM PurchaseOrder_Master WHERE   PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId AND maxversion = 1 )  
DECLARE @MAX2 INT  = @MAX - 1  
DECLARE @TmpVersion INT = (select Max(PurchaseOrder_Master.Version) from PurchaseOrder_Master where PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId AND AmendVersion = @MAX2)  
  

--DECLARE @MAXVersion INT = (SELECT MAX(PurchaseOrder_Master.Version) FROM PurchaseOrder_Master WHERE   PurchaseOrder_Master.OAno = @OANo )  
--DECLARE @MAXVersion2 INT = @MAXVersion - 1  
   
   
 --Table 1  
   
 --For Regular Order  
   --select
   --Distinct
   --ItemName,
   --POQty,
   --AmendQty,
   --PORate,
   --AmendRate,
   --DeliveryDate,
   --AmendDate,
   --POType,
   --Currency
   --from
   --(
 select PurchaseItemMaster.ItemName,  
     AmendTable.RequiredQty AS POQty,  
        PurchaseOrder_Trans.RequiredQty AS AmendQty,  
    CAST(  AmendTable.Rates   AS VARCHAR)  AS PORate,  
        --PurchaseOrder_Trans.Rates AS AmendRate,  
        case when PurchaseOrder_Master.IsImport = 1 then CAST( PurchaseOrder_Trans.RateInCurrency AS VARCHAR) else  CAST(PurchaseOrder_Trans.Rates AS VARCHAR)  end    AS AmendRate,
     AmendTable.AmDate as DeliveryDate,  
     Convert(varchar(20),PurchaseOrder_Trans.DeliveryDate,106) AS AmendDate,  
     'Regular PO' + cast(PurchaseOrder_Trans.PurchaseOrderTransId as varchar(MaX)) as POType  ,
    CurrencyMaster.Code as Currency
        FROM PurchaseOrder_Master 
        INNER JOIN PurchaseOrder_Trans  ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrder_Trans.PurchaseOrderId  
       INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = PurchaseOrder_Trans.PurchaseItemId  
      INNER JOIN CurrencyMaster ON  CurrencyMaster.CurrencyID =  PurchaseOrder_Master.Currency
       INNER JOIN (  
       SELECT ROW_NUMBER() Over(Partition by PurchaseOrder_Trans.PurchaseOrderTransId order by PurchaseOrder_Trans.RevisionNo asc) as rw,
	   PurchaseOrder_Trans.RequiredQty,--PurchaseOrder_Trans.Rates,  
        case when PurchaseOrder_Master.IsImport = 1 then PurchaseOrder_Trans.RateInCurrency else  PurchaseOrder_Trans.Rates  end  AS Rates, 
       Convert(varchar(20),PurchaseOrder_Trans.DeliveryDate,106) as AmDate,PurchaseItemMaster.PurchaseItemId  
    ,PurchaseOrderTransId
	FROM [ICAST_IMS_LOG].[dbo].PurchaseOrder_Master  as PurchaseOrder_Master 
    INNER JOIN  [ICAST_IMS_LOG].[dbo].PurchaseOrder_Trans  as PurchaseOrder_Trans 
       ON  PurchaseOrder_Master.PurchaseOrderId = PurchaseOrder_Trans.PurchaseOrderId   
	   And PurchaseOrder_Trans.RevisionNo = PurchaseOrder_Master.RevisionNo
       INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = PurchaseOrder_Trans.PurchaseItemId  
       WHERE PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  AND PurchaseOrder_Master.AmendVersion = @MAX2) AS AmendTable   
       ON  AmendTable.PurchaseItemId = PurchaseItemMaster.PurchaseItemId  
	   and AmendTable.PurchaseOrderTransId = PurchaseOrder_Trans.PurchaseOrderTransId
	   and rw = 1
       Where PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
       AND maxversion = 1 
	   and PurchaseOrder_Trans.IsDeleted = 0
       
         
        UNION ALL  
         
       --For Service Item  
         
       select ServiceItemMaster.Item AS ItemName,  
     AmendTable.Qty AS POQty,  
        PurchaseOrderServiceItemTrans.Qty AS AmendQty,  
     CAST( AmendTable.Rate AS VARCHAR) AS PORate,  
       CAST( PurchaseOrderServiceItemTrans.Rate  AS VARCHAR) AS AmendRate,  
     AmendTable.AmDate as DeliveryDate,  
     '-' AS AmendDate ,  
      'Service Item' + cast(PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID as varchar(MaX)) as POType  ,
    CurrencyMaster.Code as Currency
    FROM dbo.PurchaseOrder_Master  
                        INNER JOIN dbo.PurchaseOrderServiceItemTrans ON dbo.PurchaseOrder_Master.PurchaseOrderId = dbo.PurchaseOrderServiceItemTrans.PurchaseOrderId  
                        INNER JOIN dbo.ServiceItemMaster ON dbo.PurchaseOrderServiceItemTrans.ServiceItemId = dbo.ServiceItemMaster.ServiceItemId  
                        INNER JOIN CurrencyMaster ON  CurrencyMaster.CurrencyID =  PurchaseOrder_Master.Currency
      --and ServiceItemMaster.EntityID = @EntityID  
       INNER JOIN (  
       SELECT 
	   ROW_NUMBER() Over(Partition by PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID order by PurchaseOrderServiceItemTrans.RevisionNo asc) as rw,
	   PurchaseOrderServiceItemTrans.Qty,PurchaseOrderServiceItemTrans.Rate,  
       '-' as AmDate,ServiceItemMaster.ServiceItemId  ,PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID
    FROM [ICAST_IMS_LOG].[dbo].PurchaseOrder_Master as PurchaseOrder_Master
    INNER JOIN  [ICAST_IMS_LOG].[dbo].PurchaseOrderServiceItemTrans  as PurchaseOrderServiceItemTrans 
       ON  PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderServiceItemTrans.PurchaseOrderId  
	   And PurchaseOrderServiceItemTrans.RevisionNo = PurchaseOrder_Master.RevisionNo
       INNER JOIN ServiceItemMaster ON ServiceItemMaster.ServiceItemId = PurchaseOrderServiceItemTrans.ServiceItemId 
	   
       WHERE PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  AND  PurchaseOrder_Master.AmendVersion = @MAX2 ) AS AmendTable   
       ON  AmendTable.ServiceItemId = ServiceItemMaster.ServiceItemId 
	   and AmendTable.rw = 1  
	   and AmendTable.PurchaseOrderServiceItemID = PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID  
       Where PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
       AND maxversion = 1  
	   and PurchaseOrderServiceItemTrans.IsDeleted = 0
       
         
        UNION ALL  
         
       --For CastingPurchase  
         
        select CastingMaster.CastingName AS ItemName,  
     AmendTable.RequiredQty AS POQty,  
        PurchaseOrderCastingPurchaseTrans.RequiredQty AS AmendQty,  
    CAST( AmendTable.CustomerRates AS VARCHAR) AS PORate,  
       CAST( PurchaseOrderCastingPurchaseTrans.CustomerRates AS VARCHAR) AS AmendRate,  
     AmendTable.AmDate as DeliveryDate,  
     Convert(varchar(20),PurchaseOrderCastingPurchaseTrans.DeliveryDate,106) AS AmendDate ,  
     'Casting Purchase' + cast(PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId as varchar(MaX)) as  POType  ,
    CurrencyMaster.Code as Currency
        FROM PurchaseOrder_Master
		INNER JOIN PurchaseOrderCastingPurchaseTrans
        ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderCastingPurchaseTrans.PurchaseOrderId  
       INNER JOIN CastingMaster ON CastingMaster.CastingId = PurchaseOrderCastingPurchaseTrans.CastingId  
      INNER JOIN CurrencyMaster ON  CurrencyMaster.CurrencyID =  PurchaseOrder_Master.Currency 
       INNER JOIN (  
       SELECT 
	   ROW_NUMBER() Over(Partition by PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId order by PurchaseOrderCastingPurchaseTrans.RevisionNo asc) as rw,
	   PurchaseOrderCastingPurchaseTrans.RequiredQty,PurchaseOrderCastingPurchaseTrans.CustomerRates,  
       Convert(varchar(20),PurchaseOrderCastingPurchaseTrans.DeliveryDate,106) as AmDate,CastingMaster.CastingId,
	   PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId
    FROM  [ICAST_IMS_LOG].[dbo].PurchaseOrder_Master  as PurchaseOrder_Master 
    INNER JOIN   [ICAST_IMS_LOG].[dbo].PurchaseOrderCastingPurchaseTrans as PurchaseOrderCastingPurchaseTrans  
       ON  PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderCastingPurchaseTrans.PurchaseOrderId  
	   And PurchaseOrderCastingPurchaseTrans.RevisionNo = PurchaseOrder_Master.RevisionNo
       INNER JOIN CastingMaster ON CastingMaster.CastingId = PurchaseOrderCastingPurchaseTrans.CastingId  
       WHERE PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId   AND  PurchaseOrder_Master.AmendVersion = @MAX2) AS AmendTable   
       ON  AmendTable.CastingId = CastingMaster.CastingId  
	   and rw = 1
	   and AmendTable.PurchaseOrderCastingPurchaseId  = PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId
       Where PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
       AND maxversion = 1 
	   AND PurchaseOrderCastingPurchaseTrans.IsDeleted = 0
      
   
    UNION ALL  
     
   --For JobOrder  
     
     select CastingMaster.CastingName AS ItemName,  
     AmendTable.OrderQty AS POQty,  
        PurchasejobOrderTrans.OrderQty AS AmendQty,  
    CAST( AmendTable.Rate AS VARCHAR) AS PORate,  
     CAST(   PurchasejobOrderTrans.Rate  AS VARCHAR)AS AmendRate,  
     AmendTable.AmDate as DeliveryDate,  
     Convert(varchar(20),PurchasejobOrderTrans.DeliveryDate,106) AS AmendDate ,  
     'JobOrder'+ cast(PurchasejobOrderTrans.JobOrderTransID as varchar(MaX))  as POType  ,
    CurrencyMaster.Code as Currency
        FROM PurchaseOrder_Master
		INNER JOIN PurchasejobOrderTrans
        ON PurchaseOrder_Master.PurchaseOrderId = PurchasejobOrderTrans.PurchaseOrderId  
       INNER JOIN CastingMaster ON CastingMaster.CastingId = PurchasejobOrderTrans.CastingID  
      INNER JOIN CurrencyMaster ON  CurrencyMaster.CurrencyID =  PurchaseOrder_Master.Currency 
       INNER JOIN (  
       SELECT 
	   ROW_NUMBER() Over(Partition by PurchasejobOrderTrans.JobOrderTransID order by PurchasejobOrderTrans.RevisionNo asc) as rw,
	   PurchasejobOrderTrans.OrderQty,PurchasejobOrderTrans.Rate,  
       Convert(varchar(20),PurchasejobOrderTrans.DeliveryDate,106) as AmDate,CastingMaster.CastingId ,PurchasejobOrderTrans.JobOrderTransID 
    FROM [ICAST_IMS_LOG].[dbo].PurchaseOrder_Master as PurchaseOrder_Master  
    INNER JOIN  [ICAST_IMS_LOG].[dbo].PurchasejobOrderTrans as PurchasejobOrderTrans   
       ON  PurchaseOrder_Master.PurchaseOrderId = PurchasejobOrderTrans.PurchaseOrderId 
	   And PurchasejobOrderTrans.RevisionNo = PurchaseOrder_Master.RevisionNo
       INNER JOIN CastingMaster ON CastingMaster.CastingId = PurchasejobOrderTrans.CastingId  
       WHERE PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId AND  PurchaseOrder_Master.AmendVersion = @MAX2) AS AmendTable   
       ON  AmendTable.CastingId = CastingMaster.CastingId 
	   and rw = 1
	   and AmendTable.JobOrderTransID = PurchasejobOrderTrans.JobOrderTransID 
       Where PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
       AND maxversion = 1  
	   and PurchasejobOrderTrans.IsDeleted = 0
      
   
    UNION ALL  
     
   --For Pattern Order  
    select DISTINCT PatternMaster.PatternCode AS ItemName,  
     AmendTable.RequiredQty AS POQty,  
        PurchaseOrderPatternPurchaseTrans.RequiredQty AS AmendQty,  
    CAST( AmendTable.PurchaseRate AS VARCHAR) AS PORate,  
     CAST(   PurchaseOrderPatternPurchaseTrans.PurchaseRate AS VARCHAR) AS AmendRate,  
     AmendTable.AmDate as DeliveryDate,  
     Convert(varchar(20),PurchaseOrderPatternPurchaseTrans.DeliveryDate,106) AS AmendDate ,  
     'Pattern Order' + cast(PurchaseOrderPatternPurchaseTrans.PurchaseOrderPatternId as varchar(MaX)) as POType  ,
    CurrencyMaster.Code as Currency
        FROM PurchaseOrder_Master INNER JOIN PurchaseOrderPatternPurchaseTrans  
        ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderPatternPurchaseTrans.PurchaseOrderId  
       INNER JOIN PatternMaster ON PatternMaster.PatternId = PurchaseOrderPatternPurchaseTrans.PatternId  
      INNER JOIN CurrencyMaster ON  CurrencyMaster.CurrencyID =  PurchaseOrder_Master.Currency 
       INNER JOIN (  
       SELECT 
	   ROW_NUMBER() Over(Partition by PurchaseOrderPatternPurchaseTrans.PurchaseOrderPatternId order by PurchaseOrderPatternPurchaseTrans.RevisionNo asc) as rw,
	   PurchaseOrderPatternPurchaseTrans.RequiredQty,PurchaseOrderPatternPurchaseTrans.PurchaseRate,  
       Convert(varchar(20),PurchaseOrderPatternPurchaseTrans.DeliveryDate,106) as AmDate,PatternMaster.PatternId,
	   PurchaseOrderPatternPurchaseTrans.PurchaseOrderPatternId
    FROM [ICAST_IMS_LOG].[dbo].PurchaseOrder_Master   as PurchaseOrder_Master
    INNER JOIN  [ICAST_IMS_LOG].[dbo].PurchaseOrderPatternPurchaseTrans as PurchaseOrderPatternPurchaseTrans   
       ON  PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderPatternPurchaseTrans.PurchaseOrderId
	   And PurchaseOrderPatternPurchaseTrans.RevisionNo = PurchaseOrder_Master.RevisionNo
       INNER JOIN PatternMaster ON PatternMaster.PatternId = PurchaseOrderPatternPurchaseTrans.PatternId  
       WHERE PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId AND  PurchaseOrder_Master.AmendVersion = @MAX2  ) AS AmendTable   
       ON  AmendTable.PatternId = PatternMaster.PatternId
	   and rw = 1
	   and PurchaseOrderPatternPurchaseTrans.PurchaseOrderPatternId = AmendTable.PurchaseOrderPatternId
       Where PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
       AND PurchaseOrder_Master.maxversion = 1  
	   and PurchaseOrderPatternPurchaseTrans.IsDeleted = 0
          
         
         
    --   UNION ALL  
         
    --    select DISTINCT DieMaster.DieName AS ItemName,  
    -- AmendTable.RequiredQty AS POQty,  
    --    PurchaseOrderDiePurchaseTranse.RequiredQty AS AmendQty,  
    -- AmendTable.PurchaseRate AS PORate,  
    --    PurchaseOrderDiePurchaseTranse.PurchaseRate AS AmendRate,  
    -- AmendTable.AmDate as DeliveryDate,  
    -- Convert(varchar(20),PurchaseOrderDiePurchaseTranse.DeliveryDate,106) AS AmendDate ,  
    -- 'Die Order' as POType  
    --    FROM PurchaseOrder_Master INNER JOIN PurchaseOrderDiePurchaseTranse  
    --    ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderDiePurchaseTranse.PurchaseOrderId  
    --   INNER JOIN DieMaster ON DieMaster.DieId = PurchaseOrderDiePurchaseTranse.DieId  
    --   INNER JOIN (  
    --   SELECT PurchaseOrderDiePurchaseTranse.RequiredQty,PurchaseOrderDiePurchaseTranse.PurchaseRate,  
    --   Convert(varchar(20),PurchaseOrderDiePurchaseTranse.DeliveryDate,106) as AmDate,DieMaster.DieId  
    --FROM PurchaseOrder_Master   
    --INNER JOIN  PurchaseOrderDiePurchaseTranse   
    --   ON  PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderDiePurchaseTranse.PurchaseOrderId   
    --   INNER JOIN DieMaster ON DieMaster.DieId = PurchaseOrderDiePurchaseTranse.DieId  
    --   WHERE PurchaseOrder_Master.OAno = @OANo AND  PurchaseOrder_Master.AmendVersion = @MAX2  AND PurchaseOrder_Master.Version = @TmpVersion ) AS AmendTable   
    --   ON  AmendTable.DieId = DieMaster.DieId  
    --   Where PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
    --   AND maxversion = 1  
      
         
       UNION ALL  
         
       --For Core Order  
  select CoreBoxMaster.CoreMasterName AS ItemName,  
     AmendTable.RequiredQty AS POQty,  
        PurchaseOrderCorePurchaseTrans.RequiredQty AS AmendQty,  
   CAST(  AmendTable.PurchaseRate AS VARCHAR) AS PORate,  
    CAST(    PurchaseOrderCorePurchaseTrans.PurchaseRate   AS VARCHAR) AS AmendRate,  
     AmendTable.AmDate as DeliveryDate,  
     Convert(varchar(20),PurchaseOrderCorePurchaseTrans.DeliveryDate,106) AS AmendDate ,  
     'Core Order' + cast(PurchaseOrderCorePurchaseTrans.PurchaseOrderCoreBoxId as varchar(MaX)) as POType  ,
    CurrencyMaster.Code as Currency
        FROM PurchaseOrder_Master INNER JOIN PurchaseOrderCorePurchaseTrans  
        ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderCorePurchaseTrans.PurchaseOrderId  
       INNER JOIN CoreBoxMaster ON CoreBoxMaster.CoreMasterID = PurchaseOrderCorePurchaseTrans.CoreBoxID  
      INNER JOIN CurrencyMaster ON  CurrencyMaster.CurrencyID =  PurchaseOrder_Master.Currency 
       INNER JOIN (  
       SELECT 
	   ROW_NUMBER() Over(Partition by PurchaseOrderCorePurchaseTrans.PurchaseOrderCoreBoxId order by PurchaseOrderCorePurchaseTrans.RevisionNo asc) as rw,
	   PurchaseOrderCorePurchaseTrans.RequiredQty,PurchaseOrderCorePurchaseTrans.PurchaseRate,  
       Convert(varchar(20),PurchaseOrderCorePurchaseTrans.DeliveryDate,106) as AmDate,CoreBoxMaster.CoreMasterID,
	   PurchaseOrderCorePurchaseTrans.PurchaseOrderCoreBoxId
    FROM [ICAST_IMS_LOG].[dbo].PurchaseOrder_Master as PurchaseOrder_Master  
    INNER JOIN  [ICAST_IMS_LOG].[dbo].PurchaseOrderCorePurchaseTrans as PurchaseOrderCorePurchaseTrans  
       ON  PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderCorePurchaseTrans.PurchaseOrderId  
	   And PurchaseOrderCorePurchaseTrans.RevisionNo = PurchaseOrder_Master.RevisionNo
       INNER JOIN CoreBoxMaster ON CoreBoxMaster.CoreMasterID = PurchaseOrderCorePurchaseTrans.CoreBoxID  
       WHERE PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId AND  PurchaseOrder_Master.AmendVersion = @MAX2  ) AS AmendTable   
       ON  AmendTable.CoreMasterID= CoreBoxMaster.CoreMasterID 
	   and rw = 1
	   and PurchaseOrderCorePurchaseTrans.PurchaseOrderCoreBoxId = AmendTable.PurchaseOrderCoreBoxId
       Where PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId  
       AND maxversion = 1  
	   and PurchaseOrderCorePurchaseTrans.IsDeleted = 0
	   --) as t
         
         
   
   
   
 --Table 2  
  SELECT  CompanyMaster.NameOfOrganization  
    FROM    CompanyMaster  
      
    --Table 3  
    SELECT  *  
    FROM    PageSetting  
    WHERE   name = 'Purchase Order'  
    and EntityID = @EntityID  
      
   
END  
GO
