USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchPendingOrder]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Birva>
-- Create date: <28/3/19,,>
-- Description:	<fetch pending order for dispatch planning,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchPendingOrder]
    @CustomerId UNIQUEIDENTIFIER = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;

        SELECT --CustomerName
                CastingName ,
                CastingCode ,
                dbo.OrderTranse.CastingID ,
                MetalName ,
                ISNULL(CastingMetal.DrawingNo,'') as DrawingNo,
                SUM(RequiredQty - ( ISNULL(dispatchqty, 0) )) AS OrderQty ,
               -- SUM(RequiredQty) AS OrderQty ,
                CONVERT(DECIMAL(10, 3), SUM(OrderTranse.TotalWeight)
                / SUM(RequiredQty)) AS PerPcWeight ,
                CONVERT(DECIMAL(10, 3), SUM(OrderTranse.TotalWeight)
                / SUM(RequiredQty)) * ( SUM(RequiredQty)
                                        - SUM(ISNULL(dispatchqty, 0)) ) AS TotalWeight ,
               -- CONVERT(DECIMAL(10, 3), SUM(OrderTranse.TotalWeight)) AS TotalWeight ,
                0 AS EnteredQty ,
                0.000 AS EnteredTotalWeight
        FROM    dbo.OrderMaster
                INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.OrderMaster.CustomerID
                INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.OrderTranse.CastingId
                INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.OrderTranse.MetalID
                Inner Join CastingMetal On CastingMetal.castingID = CastingMaster.CastingId
						and CastingMetal.metalid = MetalMaster.MetalId
                LEFT JOIN ( SELECT  SUM(ISNULL(dispatchqty, 0)) dispatchqty ,
                                    castingid ,
                                    orderserialno ,
                                    orderid
                            FROM    dbo.dispatchtrans
                            WHERE   dispatchtrans.IsDeleted = 0
                            GROUP BY castingid ,
                                    orderserialno ,
                                    orderid
                          ) AS dispatchtrans ON dispatchtrans.castingid = dbo.OrderTranse.CastingId
                                                AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
                                                AND dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
        WHERE   dbo.CastingMaster.IsDeleted = 0
                AND dbo.OrderMaster.IsDeleted = 0
                AND dbo.OrderTranse.IsDeleted = 0
                AND IsDelivered = 0
                AND OrderMaster.CustomerId = @CustomerId
                AND IsScheduled = 0
                and IsShortclose = 0
                AND ( @PlantIdString IS NULL
                      OR @PlantIdString = ''
                      OR OrderTranse.CastingId IN (
                      SELECT    CastingId
                      FROM      dbo.PlantCastingMapping
                                INNER JOIN dbo.SplitString(@PlantIdString, ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                    )
                AND OrderMaster.EntityID = @EntityId
        GROUP BY CustomerName ,
                CastingName ,
                CastingCode ,
                dbo.OrderTranse.CastingId ,
                MetalName,
                ISNULL(CastingMetal.DrawingNo,'')
		ORDER BY CastingName , MetalName                
                
        SELECT	CastingName,
                CastingCode ,
                dbo.OrderTranse.CastingID ,
                MetalName ,
                CustomerOrderNo ,
                SUM(RequiredQty - ISNULL(dispatchqty, 0)) AS RequiredQty ,
                AVG( OrderTranse.TotalWeight / RequiredQty ) AS PerPcWeight ,
                SUM(OrderTranse.TotalWeight) as TotalWeight ,
                isnull(CastingMetal.DrawingNo ,'') as DrawingNo
        FROM    dbo.OrderMaster
                INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.OrderMaster.CustomerID
                INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.OrderTranse.CastingId
                INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.OrderTranse.MetalID
                Inner Join CastingMetal On CastingMetal.castingID = CastingMaster.CastingId
						and CastingMetal.metalid = MetalMaster.MetalId	 
                LEFT JOIN ( SELECT  SUM(ISNULL(dispatchqty, 0)) dispatchqty ,
                                    castingid ,
                                    orderserialno ,
                                    orderid
                            FROM    dbo.dispatchtrans
                            WHERE   dispatchtrans.IsDeleted = 0
                            GROUP BY castingid ,
                                    orderserialno ,
                                    orderid
                          ) AS dispatchtrans ON dispatchtrans.castingid = dbo.OrderTranse.CastingId
                                                AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
                                                AND dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
        WHERE   dbo.CastingMaster.IsDeleted = 0
                AND dbo.OrderMaster.IsDeleted = 0
                AND dbo.OrderTranse.IsDeleted = 0
                AND IsDelivered = 0
                AND OrderMaster.CustomerId = @CustomerId
                AND IsScheduled = 0
				and IsShortclose = 0
                AND ( @PlantIdString IS NULL
                      OR @PlantIdString = ''
                      OR OrderTranse.CastingId IN (
                      SELECT    CastingId
                      FROM      dbo.PlantCastingMapping
                                INNER JOIN dbo.SplitString(@PlantIdString, ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                    )
                AND OrderMaster.EntityID = @EntityId
        Group by 
				CastingCode ,
				CastingName,
                dbo.OrderTranse.CastingID ,
                MetalName ,
                CustomerOrderNo ,
                isnull(CastingMetal.DrawingNo ,'')	
      Order by CastingName  , CastingCode
    END
GO
