USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CoreStockReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
       
-- =============================================  
-- Author:  <Author,,Hemani Vandra>  
-- Create date: <Create Date,, 5th Aug, 2019>  
-- Description: <Description,,displays the balanced core stock, opening core stock, production and rejection CoreQty>  
-- =============================================  
-- modified by: <Hemani Vandra>  
-- modified date: <12th Sept'19>  
-- Description: <plantid and entityid added>  
-- =============================================CoreStockReport 1, '2019-04-01', '2020-03-28', 'b44bd9cf-ea9b-43b6-bdc9-307540df0511'  
CREATE  PROCEDURE [dbo].[CoreStockReport]  
 -- Add the parameters for the stored procedure here  
  @Parameter INT = 0 ,  
  @StartDate DATETIME = NULL ,  
  @EndDate DATETIME = NULL ,  
  @CastingId UNIQUEIDENTIFIER = NULL ,  
  @CoreId UNIQUEIDENTIFIER = NULL ,  
  @CastingName VARCHAR(MAX) = NULL ,  
  @EntityID INT = 0 ,  
  @PlantIdString VARCHAR(MAX) = NULL ,  
  @ViewPartNo int = 1  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  

  declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
    -- Insert statements for procedure here  
IF @Parameter = 1  
BEGIN  
  
 SELECT  ROW_NUMBER() over (order by CoreBoxDetails.CoreBoxName) as SrNo,   
    CoreBoxDetails.CoreBoxName  
    , SUM(CoreProduction.CoreQty) AS ProductionQty      
    , SUM(CoreProduction.RejectedQty) + isnull(SUM(BetweenDateCoreRejFromRejPage.OpeningRej),0) AS RejectedQty  
    , ISNULL(CoreConsumption.Qty, 0) + ISNULL(MoldConsumedCore.Qty, 0) AS ConsumedQty  
      
    , ISNULL((  
     
     ISNULL((SELECT  SUM(ISNULL(CoreTransactionHistory.TransactionQty, 0)) AS Qty  
     FROM  CoreTransactionHistory  
     WHERE  CoreTransactionHistory.CoreId = CoreBoxDetails.CoreBoxID  
        AND CAST(CoreTransactionHistory.ProcessDate AS DATE) <= CAST(@StartDate AS DATE)  
        AND Tagging = 'Stock Entry'  
     ), 0)   
     + ISNULL(OpeningCoreProdRej.ProdQty, 0) - ISNULL(OpeningCoreProdRej.RejQty, 0)   
     - isnull(SUM(OpeningCoreRejFromRejPage.OpeningRej),0)  
     - ISNULL(OpeningCoreConsume.Qty, 0) - ISNULL(OpeningMoldConsumedCore.Qty, 0)  
     
    ), 0) AS OpeningStock  
      
    ,(  
    ISNULL((SELECT SUM(CoreTransactionHistory.TransactionQty) AS Qty  
      FROM  CoreTransactionHistory  
      WHERE  CoreTransactionHistory.CoreId = CoreBoxDetails.CoreBoxID  
         AND CAST(CoreTransactionHistory.ProcessDate AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)  
         AND Tagging = 'Stock Entry'  
     ), 0)   
       
    ) AS StockAdjustment  
      
    , (   
     ISNULL((  
        SELECT SUM(Qty) AS Qty FROM (  
        SELECT  SUM(CoreTransactionHistory.TransactionQty) AS Qty  
        FROM  CoreTransactionHistory  
        WHERE  CoreTransactionHistory.CoreId = CoreBoxDetails.CoreBoxID  
           AND CAST(CoreTransactionHistory.ProcessDate AS DATE) <= CAST(@StartDate AS DATE)  
           AND Tagging = 'Stock Entry'  
      ) AS FINAL   
     ), 0)  
        
     + SUM(CoreProduction.CoreQty) - SUM(CoreProduction.RejectedQty)  
     - isnull(SUM(OpeningCoreRejFromRejPage.OpeningRej),0)  
     - ISNULL(CoreConsumption.Qty, 0) - ISNULL(MoldConsumedCore.Qty, 0)   
    
     + ISNULL(OpeningCoreProdRej.ProdQty, 0) - ISNULL(OpeningCoreProdRej.RejQty, 0)   
     - ISNULL(OpeningCoreConsume.Qty, 0) - ISNULL(OpeningMoldConsumedCore.Qty, 0)  
     - isnull(SUM(BetweenDateCoreRejFromRejPage.OpeningRej),0) -- N Changes  
    ) AS BalancedQty      
 FROM  CoreBoxDetails  
    INNER JOIN CoreProduction ON CoreProduction.CoreId = CoreBoxDetails.CoreBoxID  
    INNER JOIN CoreProductionMaster ON CoreProductionMaster.CoreProductionMasterId = CoreProduction.CoreProductionMasterId  
    left join (      
    Select CoreRej.CoreId , SUM(CoreRej.RejQty) as OpeningRej  
    From CoreRej  
    Where CAST(CoreRej.CreatedOn as DATE) < CAST(@StartDate AS DATE)  
    And IsDeleted=0  
    Group by CoreId  
    ) As OpeningCoreRejFromRejPage  
    ON OpeningCoreRejFromRejPage.CoreId = CoreBoxDetails.CoreBoxID  
      
    left join (      
    Select CoreRej.CoreId , SUM(CoreRej.RejQty) as OpeningRej  
    From CoreRej  
    Where CAST(CoreRej.CreatedOn as DATE) Between CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)  
    And IsDeleted=0  
    Group by CoreId  
    ) As BetweenDateCoreRejFromRejPage  
    ON BetweenDateCoreRejFromRejPage.CoreId = CoreBoxDetails.CoreBoxID  
                  
    LEFT JOIN (  
      
     SELECT CoreProduction.CoreId, SUM(ISNULL(CoreProduction.CoreQty, 0)) AS ProdQty  
       ,  SUM(ISNULL(CoreProduction.RejectedQty, 0)) AS RejQty  
     FROM CoreProduction   
     INNER JOIN CoreProductionMaster ON CoreProductionMaster.CoreProductionMasterId = CoreProduction.CoreProductionMasterId  
     WHERE CAST(coreproductionmaster.Date AS DATE) < CAST(@StartDate AS DATE)  
       AND CoreProduction.IsDeleted = 0 AND CoreProductionMaster.IsDeleted = 0  
     GROUP BY CoreProduction.CoreId  
       
    ) AS OpeningCoreProdRej On OpeningCoreProdRej.CoreId = CoreBoxDetails.CoreBoxID  
      
    LEFT JOIN (  
      
     SELECT  CoreId, SUM(HeatwiseCoreConsumption.CoreConsumedQty) AS Qty  
     FROM  HeatwiseCoreConsumption  
        inner join ProductionBatch on ProductionBatch.batchID = HeatwiseCoreConsumption.ProductionBatchID  
     WHERE  CAST(ProductionBatch.ProductionDate AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)  
        and ProductionBatch.IsDeleted = 0  
     GROUP BY CoreId  
       
    ) AS CoreConsumption ON CoreConsumption.CoreId = CoreBoxDetails.CoreBoxID  
      
    LEFT JOIN (  
      
     SELECT  CoreId, SUM(HeatwiseCoreConsumption.CoreConsumedQty) AS Qty  
     FROM  HeatwiseCoreConsumption  
        inner join ProductionBatch on ProductionBatch.batchID = HeatwiseCoreConsumption.ProductionBatchID  
     WHERE  CAST(ProductionBatch.ProductionDate AS DATE) < CAST(@StartDate AS DATE)  
        and ProductionBatch.IsDeleted = 0  
     GROUP BY CoreId  
       
    ) AS OpeningCoreConsume ON OpeningCoreConsume.CoreId = CoreBoxDetails.CoreBoxID  
      
    LEFT JOIN (  
     SELECT  CoreBoxID AS CoreId, SUM(MoldingConsumedCore.ConsumedCore) AS Qty  
     FROM  MoldingConsumedCore  
        inner join MoldingEntryTrans on MoldingEntryTrans.MoldingEntryTransId = MoldingConsumedCore.MoldingEntryTransId  
        INNER JOIN MoldingEntryMaster AS mem ON mem.MoldingEntryMasterId = MoldingEntryTrans.MoldingEntryMasterId  
                AND mem.IsDeleted = 0  
     WHERE  CAST(mem.Date AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)  
        and MoldingEntryTrans.IsDeleted = 0  
     GROUP BY CoreBoxID  
    ) AS MoldConsumedCore ON MoldConsumedCore.CoreId = CoreBoxDetails.CoreBoxID  
      
    LEFT JOIN (  
      
     SELECT  CoreBoxID AS CoreId, SUM(MoldingConsumedCore.ConsumedCore) AS Qty  
     FROM  MoldingConsumedCore  
        inner join MoldingEntryTrans on MoldingEntryTrans.MoldingEntryTransId = MoldingConsumedCore.MoldingEntryTransId  
        INNER JOIN MoldingEntryMaster AS mem ON mem.MoldingEntryMasterId = MoldingEntryTrans.MoldingEntryMasterId  
                AND mem.IsDeleted = 0  
     WHERE  CAST(mem.Date AS DATE) < CAST(@StartDate AS DATE)  
        and MoldingEntryTrans.IsDeleted = 0  
     GROUP BY CoreBoxID  
       
    ) AS OpeningMoldConsumedCore ON OpeningMoldConsumedCore.CoreId = CoreBoxDetails.CoreBoxID  
 WHERE  CAST(coreproductionmaster.Date AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)  
    AND CoreProduction.IsDeleted = 0 AND CoreProductionMaster.IsDeleted=0  
    AND CoreBoxDetails.IsDelete = 0  
    AND ( @CoreId IS NULL   
       OR CoreBoxDetails.CoreBoxID = @CoreId )   
    AND ( @CastingId IS NULL   
       OR CoreBoxDetails.PatternID IN (  
        SELECT  CastingMaster.Dieid  
        FROM  CastingMaster  
        WHERE  CastingMaster.CastingId = @CastingId )  
     )  
    AND (@PlantIdString IS NULL   
      OR @PlantIdString = ''  
      OR CoreProduction.PlantID IN (  
       SELECT Item FROM @Plant )  
     )  
    AND CoreProductionMaster.EntityID = @EntityID  
 GROUP BY  CoreBoxDetails.CoreBoxName,  
    CoreBoxDetails.CoreBoxID,  
    CoreConsumption.Qty,  
    MoldConsumedCore.Qty  
    , ISNULL(OpeningCoreProdRej.ProdQty, 0)   
    , ISNULL(OpeningCoreProdRej.RejQty, 0)   
    , ISNULL(OpeningCoreConsume.Qty, 0)   
    , ISNULL(OpeningMoldConsumedCore.Qty, 0)  
 ORDER BY CoreBoxDetails.CoreBoxName  
  
END  
  
  
IF @Parameter = 2------------DISPLAYS CASTINGNAME  
BEGIN  
  
 SELECT  DISTINCT  
    CastingName  
 FROM  CastingMaster
  inner join CastingCompanyMapping on CastingCompanyMapping.CastingId = CastingMaster.CastingId    
 WHERE  Dieid IN (  
     SELECT  CoreCastingMapping.PatternID  
     FROM  CoreBoxDetails    
	 INNER JOIN CoreCastingMapping ON CoreCastingMapping.CoreBoxID = CoreBoxDetails.CoreBoxID
     WHERE  CoreBoxDetails.IsDelete = 0  
    )  
    AND (@ViewPartNo = 1 or ParentID is null)   
    AND CastingMaster.IsDeleted = 0  
    AND ( @PlantIdString IS NULL  
      OR @PlantIdString = ''  
      OR CastingMaster.castingid IN (  
       SELECT    castingid  
                            FROM      dbo.PlantCastingMapping  
                                  where PlantId in (SELECT Item FROM @Plant)  
      )  
     )  
    AND CastingCompanyMapping.CompanyId = @EntityId  
  
END   
  
  
IF @Parameter = 3--------------DISPLAYS CASTINGCODE  
BEGIN  
  
 SELECT  CastingCode,  
    CastingName,  
    CastingMaster.CastingId  
 FROM  CastingMaster 
 inner join CastingCompanyMapping on CastingCompanyMapping.CastingId = CastingMaster.CastingId  
 WHERE  Dieid IN (  
     SELECT  CoreCastingMapping.PatternID  
     FROM  CoreBoxDetails  
	 INNER JOIN CoreCastingMapping ON CoreCastingMapping.CoreBoxID = CoreBoxDetails.CoreBoxID
     WHERE  CoreBoxDetails.IsDelete = 0  
    )  
    AND (@ViewPartNo = 1 or ParentID is null)   
    AND CastingMaster.IsDeleted = 0  
    AND ( @PlantIdString IS NULL  
      OR @PlantIdString = ''  
      OR CastingMaster.castingid IN (  
       SELECT    castingid  
                            FROM      dbo.PlantCastingMapping  
                                      where PlantId in (SELECT Item FROM @Plant)
      )  
     )  
    AND CastingCompanyMapping.CompanyId = @EntityId  
  
END  
  
  
IF @Parameter = 4------------------CASTINGNAME TO CASTINGCODE  
BEGIN  
  
 SELECT  DISTINCT   
    dbo.CastingMaster.CastingID AS CastingId,  
    dbo.CastingMaster.CastingCode  AS CastingCode  
 FROM  CastingMaster 
 inner join CastingCompanyMapping on CastingCompanyMapping.CastingId = CastingMaster.CastingId   
 WHERE  Dieid IN (  
     SELECT  PatternID  
     FROM  CoreBoxDetails   
     WHERE  CoreBoxDetails.IsDelete = 0  
    )  
    AND (@ViewPartNo = 1 or ParentID is null)   
    AND CastingMaster.IsDeleted = 0  
    AND dbo.CastingMaster.CastingName = @CastingName  
    AND ( @PlantIdString IS NULL  
      OR @PlantIdString = ''  
      OR CastingMaster.castingid IN (  
       SELECT    castingid  
                            FROM      dbo.PlantCastingMapping  
                                   where PlantId in (SELECT Item FROM @Plant)
      )  
     )  
    AND CastingCompanyMapping.CompanyId = @EntityId  
  
END  
  
  
IF @Parameter = 5------------------CASTINGCODE TO CASTINGNAME  
BEGIN  
  
    SELECT  DISTINCT   
    dbo.CastingMaster.CastingID AS CastingId,  
    dbo.CastingMaster.CastingName  AS CastingName  
 FROM  CastingMaster 
 inner join CastingCompanyMapping on CastingCompanyMapping.CastingId = CastingMaster.CastingId   
 WHERE  Dieid IN (  
     SELECT  PatternID  
     FROM  CoreBoxDetails   
     WHERE  CoreBoxDetails.IsDelete = 0  
    )  
    AND CastingMaster.IsDeleted = 0  
    AND dbo.CastingMaster.CastingID = @CastingId  
    AND ( @PlantIdString IS NULL  
      OR @PlantIdString = ''  
      OR CastingMaster.castingid IN (  
       SELECT    castingid  
                            FROM      dbo.PlantCastingMapping  
                                   where PlantId in (SELECT Item FROM @Plant)
      )  
     )  
    AND CastingCompanyMapping.CompanyId = @EntityId  
  
END  
  
IF @Parameter = 6  
BEGIN  
 SELECT  CoreBoxID,  
    CoreBoxName,
    UsedFor  
 FROM  CoreBoxDetails  
 WHERE  IsDelete = 0  
    AND ( ISNULL(@PlantIdString, '') = ''  
      or exists ( select 1 from PatternCastingMapping
					inner join PlantCastingMapping ON PatternCastingMapping.CastingId = PlantCastingMapping.CastingId
					inner join @Plant as plant on plant.Item = PlantCastingMapping.PlantId
					where  PatternCastingMapping.PatternId = CoreBoxDetails.PatternID
				)
		or exists (select 1 FROM PlantCastingMapping
					INNER JOIN CastingMaster ON CastingMaster.CastingId = PlantCastingMapping.CastingId 
					inner join @Plant as plant on plant.Item = PlantCastingMapping.PlantId
					where CastingMaster.dieid = CoreBoxDetails.PatternID	
			)
   )  
    AND exists (  
     SELECT  1 
     FROM   PurchaseItemMaster  
			inner join PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
     WHERE  PurchaseCompanyMapping.CompanyId = @EntityID  and PurchaseItemMaster.IsPattern = 1
			and CoreBoxDetails.PatternId = purchaseitemmaster.PurchaseItemId
    )  
    order by CoreBoxName
	 
END  
  
END
GO
