USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PatternOutwardStockUpdate]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PatternOutwardStockUpdate]
	-- Add the parameters for the stored procedure here
	 @PatternId UNIQUEIDENTIFIER,
	 @StockAdd INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   	update PatternMaster set NoOfPattern=isnull(NoOfPattern,0)+isnull(@StockAdd,0) where PatternId=@PatternId
END
GO
