USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[NotificationPatternLife]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--[dbo].[NotificationPatternLife] 'PatternLifeNotification','Die Life Notification','2024-05-30'
CREATE PROCEDURE [dbo].[NotificationPatternLife]
	@Type VARCHAR(50),
	@Title VARCHAR(150),
	--@ShortDescription VARCHAR(250),
	@CreatedOn DATETIME
AS
BEGIN
	
	
	--set @CreatedOn = GETDATE()
	Declare @ShortDescription nvarchar(max),@UserXML as XML;
	DECLARE @CompanyId INT = 0,@Name Nvarchar(500)
	
	DECLARE die_cusor CURSOR
	FOR
		SELECT	Distinct UserMaster.CompanyId FROM NotificationConfiguration
				INNER JOIN UserMaster ON UserMaster.UserId = NotificationConfiguration.UserId
		WHERE	Code = 'PLN' --and CompanyId = 9
	OPEN die_cusor -- Open Cursor
	FETCH NEXT FROM die_cusor INTO @CompanyId
	WHILE @@FETCH_STATUS = 0
	BEGIN
	
	--drop table #PatternCode
		select * into #PatternCode  FROM
        (
                    Select ROW_NUMBER() OVER (PARTITION BY PatternCode ORDER BY TabPat.Percentage DESC) as SrNo,PatternCode,TabPat.ID,TabPat.Percentage,PatternMaster.PatternID 
					From 
					PatternMaster
					inner join PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PatternMaster.PatternId
					Inner Join ToolLife On ToolLife.ItemId = PatternMaster.PatternId
					inner join PatternLifePercentage as TabPat ON TabPat.PatternID = PatternMaster.PatternID
					
					Where PurchaseCompanyMapping.CompanyId = @CompanyId AND PatternMaster.IsDeleted=0 AND TabPat.IsUsed = 0 and PurchaseCompanyMapping.PurchaseItemId = ToolLife.ItemId
					AND ToolLife.ItemUsedCount >= ((PatternMaster.PatternLife * TabPat.Percentage)/100) and [IsPatDieWax] = 0 and isnull(PatternLife,0) > 0
					
					UNION
					
					Select ROW_NUMBER() OVER (PARTITION BY PatternCode ORDER BY TabPat.Percentage DESC) as SrNo,PatternCode,TabPat.ID, TabPat.Percentage,PatternMaster.PatternID 
					From PatternMaster
					     inner join PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PatternMaster.PatternId
						Inner Join ToolLife On ToolLife.ItemId = PatternMaster.PatternId
						inner join PatternLifePercentage as TabPat ON TabPat.PatternID = PatternMaster.PatternID
					
					Where PurchaseCompanyMapping.CompanyId = @CompanyId AND PatternMaster.IsDeleted=0 AND TabPat.IsUsed = 0 and PurchaseCompanyMapping.PurchaseItemId = ToolLife.ItemId
					AND ToolLife.ItemUsedCount >= ((PatternMaster.DieExpiryShots *TabPat.Percentage)/100) and ([IsPatDieWax] = 1 Or [IsPatDieWax] = 3) and ISNULL(DieExpiryShots,0) > 0
					
					Union 
					
					Select 1 as SrNo,CoreBoxMaster.CoreMasterName, 0 as ID, 0 as Percentage,CoreBoxMaster.CoreMasterID as PatternID From CoreBoxMaster
						Inner Join ToolLife On ToolLife.ItemId = CoreBoxMaster.CoreMasterID 
					Where CoreBoxMaster.EntityID = @CompanyId AND CoreBoxMaster.IsDelete=0
					AND ToolLife.ItemUsedCount >= ((CoreBoxMaster.CoreExpectedLife * 90)/100) and ISNULL(CoreExpectedLife,0) > 0
					
					) as t where SrNo = 1
					
					--select * from #PatternCode
					
		IF EXISTS (select 1 from #PatternCode)
		BEGIN
		
		
		--print 'enter'
		
			IF ((Select COUNT(PatternCode) as c From 
				(	select PatternCode from #PatternCode)as a	
			
			) > 1
			)
			BEGIN
			
			--print 'enter in multiple pattern'
			
				set @ShortDescription = 'For multiple Tool''s, Tool life is about to complete. Please do the needful.';
			END
			ELSE
			BEGIN
			
			
			--print 'enter in single pattern'
			
				DECLARE @PatternCodeString NVARCHAR(MAX) = '',@Count varchar(8) = '0',@TotalCount varchar(8) = '0',@Percentage varchar(8) = '0';
				SET @PatternCodeString = (SELECT  #PatternCode.PatternID From #PatternCode)  
				
				
				print @PatternCodeString
				
				
				Set @TotalCount = 
				(Select isnull(patternlife,0) + isnull(DieExpiryShots,0) from PatternMaster where PatternId = @PatternCodeString and IsDeleted = 0
				union 
				Select CoreExpectedLife from CoreBoxMaster where CoreBoxMaster.CoreMasterID = @PatternCodeString and IsDelete = 0
				)
				
				SET @Percentage = ISNULL((select Percentage from PatternLifePercentage where ID in (SELECT  #PatternCode.ID From #PatternCode) ),90)
						
				Set @Count = (Select ItemUsedCount from ToolLife where ItemId in (
				select PatternID from PatternMaster where PatternId= @PatternCodeString and IsDeleted = 0
				union 
				Select CoreMasterID from CoreBoxMaster where CoreBoxMaster.CoreMasterID = @PatternCodeString  and CoreBoxMaster.IsDelete = 0
				))		 
				--set @ShortDescription = @PatternCodeString + ' life is about to complete. it is used ' + @Count  + ' out of total life ' + @TotalCount + '. Please do the needful.';
				
				
				SET @Name = (SELECT  #PatternCode.PatternCode From #PatternCode) 
				
				SET @ShortDescription = @Name +' life is reached '+ @Percentage + '%'+', it is used ' + @Count + ' out of ' + @TotalCount + ' life. Please take necessary action.'
			END
		
			IF EXISTS (SELECT NotificationConfiguration.UserId AS UserID FROM NotificationConfiguration 
					INNER jOIN NotificationPage on NotificationConfiguration.Code = NotificationPage.Code 
												and NotificationPage.Code = 'PLN' and IsActive = 1
					INNER JOIN UserMaster ON UserMaster.UserId = NotificationConfiguration.UserId
												AND UserMaster.CompanyId = @CompanyId
			)
			BEGIN
				SET @UserXML = ( SELECT
								  ( SELECT UserId AS UserID
									FROM NotificationConfiguration 
									INNER jOIN NotificationPage on	NotificationConfiguration.Code = NotificationPage.Code
																	and NotificationPage.Code = 'PLN'
																	AND UserId IN (select UserId from UserMaster WHERE CompanyId = @CompanyId)
									FOR XML PATH('UserDetail') , TYPE )
								FOR XML PATH('') , ROOT('DocumentElement') )
		
				DECLARE @LookUpId2 UNIQUEIDENTIFIER = CAST(0x0 AS UNIQUEIDENTIFIER)
				
				
				--Print 'short description' + @ShortDescription 
				
				--print @CompanyId
				--IF @ShortDescription IS NOT NULL
				--BEGIN
				EXEC dbo.InsertNotification @Type = @Type, -- uniqueidentifier
					@Title = @Title, -- float
					@ShortDescription = @ShortDescription,
					@UserXML = @UserXML
					, @LookUPID1 = NULL
					, @LookUPID2 = @LookUpId2
					
				--END
			END
			
			
			UPDATE 
			PatternLifePercentage
			SET
			IsUsed = 1
			from
			#PatternCode
			WHERE
			#PatternCode.PatternID = PatternLifePercentage.PatternID
			and
			PatternLifePercentage.IsUsed = 0
			and
			PatternLifePercentage.Percentage <= #PatternCode.Percentage
			
		END	
		
		
		IF OBJECT_ID('tempdb..#PatternCode') IS NOT NULL
           DROP TABLE #PatternCode
		--drop table #PatternCode

	FETCH NEXT FROM die_cusor
	INTO @CompanyId
	END

	CLOSE die_cusor; -- Cloase Cursor
	DEALLOCATE die_cusor;
END

GO
