USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_TDSMaster]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     PROCEDURE [dbo].[SP_TDSMaster]
	@CreatedBy INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL , 
    @DeletedOn datetime= NULL,
    @IsDeleted Bit = 0 ,
    @Parameter INT = 0 ,
	@TDSDetails AS XML = NULL,
	@StartRange float =0
	,@EndRange float = 0 
	,@TaxPercentage float = 0 
	,@RegimeType int = 0
	,@TDSTaxType int = 0 
	,@EndRangeIsMax bit = 0,
	@TDSRegimeType int  = 0 ,
	@SurchargeRegimeType int = 0 ,
	@TDSTaxMasterId int =0
    
AS
BEGIN  
   
    IF ( @Parameter = 1 )	-- Get details
    BEGIN
		SELECT	* FROM	TDSTaxMaster
    END
              
  ELSE IF ( @Parameter = 2 )	-- Insert Data in TDSTaxMaster
    BEGIN
		BEGIN TRANSACTION
		BEGIN TRY	
        
				delete  from TDSTaxMaster 
				where (TDSTaxType =1 and RegimeType  = @TDSRegimeType) 
				delete  from TDSTaxMaster 
				where (TDSTaxType = 2 and RegimeType =@SurchargeRegimeType)
				delete  from TDSTaxMaster 
				where TDSTaxType IN ( 3,4,5)
            	DECLARE TDSDetails CURSOR
								FOR
									SELECT 
											Node.value('(StartRange )[1]', 'float') AS 'StartRange',
											Node.value('(EndRange )[1]', 'float') AS 'EndRange' ,
											Node.value('(TaxPercentage )[1]', 'float') AS 'TaxPercentage' ,
											Node.value('(RegimeType )[1]', 'int') AS 'RegimeType' ,
											Node.value('(TDSTaxType )[1]', 'int') AS 'TDSTaxType' ,
											Node.value('(EndRangeIsMax )[1]', 'bit') AS 'EndRangeIsMax' 
									FROM    @TDSDetails.nodes('/DocumentElement/TDSDetail')
											AS TEMPXML ( Node )
                OPEN TDSDetails;
              
                FETCH NEXT FROM TDSDetails INTO @StartRange, @EndRange, @TaxPercentage,@RegimeType,@TDSTaxType,@EndRangeIsMax
                WHILE ( @@FETCH_STATUS = 0 )
                 BEGIN 
					   BEGIN 
								 INSERT INTO [TDSTaxMaster]
						   ([StartRange]
						   ,[EndRange]
						   ,[TaxPercentage]
						   ,[RegimeType]
						   ,[TDSTaxType]
						   ,[EndRangeIsMax]
						   ,[IsActive]
						   ,[CreatedDate]
						   ,[CreatedBy]
						  )
					 VALUES
						   (@StartRange
						   ,@EndRange
						   ,@TaxPercentage
						   ,@RegimeType
						   ,@TDSTaxType
						   ,@EndRangeIsMax
						   ,1
						   ,GETDATE()
						   ,@CreatedBy)
						END   

					set @TDSTaxMasterId = SCOPE_IDENTITY();
					DECLARE @TaxAmtBeforeSlab FLOAT = isnull((select (sum(((EndRange-StartRange+1) * TaxPercentage)/100)) from TDSTaxMaster 
					where EndRangeIsMax = 0 and RegimeType = @RegimeType and TDSTaxType = @TDSTaxType and EndRange<@startRange), 0)
					update TDSTaxMaster set TaxAmtBeforeSlb = @TaxAmtBeforeSlab where TDSTaxMasterId = @TDSTaxMasterId  
					update TDSTaxMaster set TaxAmtBeforeSlb = 0 where TDSTaxType in(3,4,5)

					IF @@ERROR <> 0
                     ROLLBACK TRANSACTION
                     FETCH NEXT FROM TDSDetails INTO @StartRange, @EndRange, @TaxPercentage,@RegimeType,@TDSTaxType,@EndRangeIsMax
					END 
					CLOSE TDSDetails;
                    DEALLOCATE TDSDetails;

					
        END TRY 
		BEGIN Catch
			IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRANSACTION
			 		return -1;
			END
		END Catch

		COMMIT TRANSACTION
			RETURN 1;
    END
	
END    
GO
