USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchCastingWiseMatchplate]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchCastingWiseMatchplate]
	-- Add the parameters for the stored procedure here
	@CastingId UNIQUEIDENTIFIER = NULL
AS
BEGIN
	select MatchPlateMaster.MatchPlateId,MatchPlateMaster.MatchPlateCode from MatchPlateMaster
			inner join MatchPlateTranse on MatchPlateTranse.MatchPlateId = MatchPlateMaster.MatchPlateId
			inner join PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = MatchPlateTranse.PatternId
			where @CastingId IS NULL
			OR PurchaseItemMaster.PurchaseItemId IN ( SELECT  Dieid
							  FROM      CastingMaster
							  WHERE     CastingId = @CastingId )
			AND dbo.PurchaseItemMaster.IsPatternActive = 1 and PurchaseItemMaster.IsPattern = 1
END
GO
