USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_RawBatchno]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Fetch_RawBatchno]
    @RawBatchNo VARCHAR(50) = NULL
AS
    BEGIN
	
        SELECT  MAX(RawBatchNo) AS RawBatchNo
        FROM    dbo.RawInwBatchWiseStock
        WHERE   RawBatchNo LIKE @RawBatchNo

    END
GO
