USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_Supplier]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Fetch_Supplier 0, '2018-01-01', '2024-03-31'
CREATE PROCEDURE [dbo].[Fetch_Supplier]
(
    @WithItemDetails BIT = NULL ,
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL,
    @SupplierID uniqueidentifier = null,
    @ItemGroupID uniqueidentifier = null,
    @ItemSubGroupID uniqueidentifier = null,
    @ItemTypeID uniqueidentifier = null,
    @EntityID int = 0
)
AS
    BEGIN
	--select ROW_NUMBER() OVER ( ORDER BY CustomerMaster.CustomerName ASC ) AS SrNo,
	--CustomerName as SupplierName from CustomerMaster where IsDeleted=0  and Customerflag='S' order by CustomerName
	

        DECLARE @QualityWeightage FLOAT ,
            @QualityCutMarks FLOAT ,
            @TimelyDelivery FLOAT ,
            @TimelyDeliveryCutMarks FLOAT ,
            @Service FLOAT ,
            @ServiceCutMarks FLOAT ,
            @TypeOfVendor FLOAT ,
            @TypeOfVendorCutMarks FLOAT ,
            @Price FLOAT ,
            @PriceCutMarks FLOAT
    
        SELECT  @QualityWeightage = Weightage ,
                @QualityCutMarks = CutMarks
        FROM    dbo.EvaluationParameterMaster
        WHERE   EvaluationCode = 'QC'
                                    
        SELECT  @TimelyDelivery = Weightage ,
                @TimelyDeliveryCutMarks = CutMarks
        FROM    dbo.EvaluationParameterMaster
        WHERE   EvaluationCode = 'TD'
                                  

        SELECT  @Service = Weightage ,
                @ServiceCutMarks = CutMarks
        FROM    dbo.EvaluationParameterMaster
        WHERE   EvaluationCode = 'SR'
                                 
        SELECT  @TypeOfVendor = Weightage ,
                @TypeOfVendorCutMarks = CutMarks
        FROM    dbo.EvaluationParameterMaster
        WHERE   EvaluationCode = 'TV'
   
        SELECT  @Price = Weightage ,
                @PriceCutMarks = CutMarks
        FROM    dbo.EvaluationParameterMaster
        WHERE   EvaluationCode = 'PC'
        
        DECLARE @IsPercentageWise FLOAT =  ( SELECT TOP 1
                                                    IsPercentageWise
                                            FROM    dbo.EvaluationParameterMaster
                                          )
                                          
        DECLARE @Parameter INT = (	SELECT S_Evalution FROM dbo.ReportConfiguration	)
        
        IF (@Parameter = 1)
        BEGIN
        
        IF ( @WithItemDetails = 1 )
            BEGIN
                IF ( @IsPercentageWise = 1 )
                    BEGIN
                        SELECT  ROW_NUMBER() OVER ( ORDER BY CustomerMaster.CustomerName ASC ) AS SrNo ,
                                CustomerName AS SupplierName ,
                               (case when PurchaseItemMaster.ItemName IS null then CastingMaster.CastingName else PurchaseItemMaster.ItemName end) as ItemName ,
                               (case when PurchaseItemMaster.ItemCode IS null then CastingMaster.CastingCode else PurchaseItemMaster.ItemCode end) as ItemCode ,
                                CASE WHEN ( COUNT(RawMaterialTotalInward.InwardID) > 0 )
                                     THEN ROUND(@TimelyDelivery - ( ( ( ( COUNT(RawMaterialDelayInward.InwardId) * 100 )
                                                                        / ISNULL(COUNT(RawMaterialTotalInward.InwardID), 1) ) * @TimelyDelivery ) / 100 ), 0)
                                     ELSE ROUND(@TimelyDelivery - ( ( ( ( COUNT(RawMaterialDelayInward.InwardId) * 100 ) / 1 ) * @TimelyDelivery ) / 100 ), 0)
                                END AS DeliveryMarks ,
                                CASE WHEN ( SUM(ISNULL(Quantity, 0)) > 0 )
                                     THEN ROUND(@QualityWeightage - ( ( ( SUM(ISNULL(RejectedQuantity, 0)) * 100 ) / SUM(ISNULL(Quantity, 0)) )
                                                                      * @QualityWeightage ) / 100, 0)
                                     ELSE ROUND(@QualityWeightage - ( ( ( SUM(ISNULL(RejectedQuantity, 0)) * 100 ) / 1 ) * @QualityWeightage ) / 100, 0)
                                END AS QualityMarks ,
                                @Service AS ServiceMarks ,
                                @TypeOfVendor AS TypeOfVendorMarks ,
                                @Price AS PriceMarks ,
                                ( CASE WHEN ( COUNT(RawMaterialTotalInward.InwardID) > 0 )
                                       THEN ROUND(@TimelyDelivery - ( ( ( ( COUNT(RawMaterialDelayInward.InwardId) * 100 )
                                                                          / ISNULL(COUNT(RawMaterialTotalInward.InwardID), 1) ) * @TimelyDelivery ) / 100 ), 0)
                                       ELSE ROUND(@TimelyDelivery - ( ( ( ( COUNT(RawMaterialDelayInward.InwardId) * 100 ) / 1 ) * @TimelyDelivery ) / 100 ), 0)
                                  END ) + ( CASE WHEN ( SUM(ISNULL(Quantity, 0)) > 0 )
                                                 THEN ROUND(@QualityWeightage - ( ( ( SUM(ISNULL(RejectedQuantity, 0)) * 100 ) / SUM(ISNULL(Quantity, 0)) )
                                                                                  * @QualityWeightage ) / 100, 0)
                                                 ELSE ROUND(@QualityWeightage - ( ( ( SUM(ISNULL(RejectedQuantity, 0)) * 100 ) / 1 ) * @QualityWeightage ) / 100,
                                                            0)
                                            END ) + @Service + @TypeOfVendor + @Price AS TotalMarks ,
                                ( SELECT    TOP 1 Rank
                                  FROM      dbo.EvaluationMarks
                                  WHERE     ( ( CASE WHEN ( COUNT(RawMaterialTotalInward.InwardID) > 0 )
                                                     THEN ROUND(@TimelyDelivery - ( ( ( ( COUNT(RawMaterialDelayInward.InwardId) * 100 )
                                                                                        / ISNULL(COUNT(RawMaterialTotalInward.InwardID), 1) ) * @TimelyDelivery )
                                                                                    / 100 ), 0)
                                                     ELSE ROUND(@TimelyDelivery - ( ( ( ( COUNT(RawMaterialDelayInward.InwardId) * 100 ) / 1 ) * @TimelyDelivery )
                                                                                    / 100 ), 0)
                                                END ) + ( CASE WHEN ( SUM(ISNULL(Quantity, 0)) > 0 )
                                                               THEN ROUND(@QualityWeightage - ( ( ( SUM(ISNULL(RejectedQuantity, 0)) * 100 )
                                                                                                  / SUM(ISNULL(Quantity, 0)) ) * @QualityWeightage ) / 100, 0)
                                                               ELSE ROUND(@QualityWeightage - ( ( ( SUM(ISNULL(RejectedQuantity, 0)) * 100 ) / 1 )
                                                                                                * @QualityWeightage ) / 100, 0)
                                                          END ) + @Service + @TypeOfVendor + @Price BETWEEN FromMarks
                                                                                                    AND     ToMarks )
                                ) AS Rank
                        FROM    CustomerMaster
						INNER join CustomerCompanyMapping on CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
                                INNER  JOIN ( SELECT DISTINCT
                                                        Convert(varchar(50),dbo.RawMaterialInwardDetail.RawmaterialDetailId) AS InwardID ,
                                                        dbo.RawMaterialInwardDetail.PurchaseItemId ,
                                                        CustomerId
                                              FROM      dbo.RawMaterialInward
                                                        INNER JOIN RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
                                              WHERE     InwardDate BETWEEN @StartDate AND @EndDate
                                                        AND dbo.RawMaterialInward.IsDeleted = 0
                                                        AND RawMaterialInwardDetail.IsDeleted = 0
														And RawMaterialInward.JobIn = 0
														AND RawMaterialInwardDetail.JoTranseId=0
														AND RawMaterialInwardDetail.IsPattern = 0
                                              GROUP BY  dbo.RawMaterialInwardDetail.RawmaterialDetailId ,
                                                        dbo.RawMaterialInwardDetail.PurchaseItemId ,
                                                        CustomerId
                                              UNION
                                              SELECT DISTINCT
                                                        Convert(varchar(50),dbo.InwardJobCastingTranse.InwardJobCastingTranseID) AS InwardID ,
                                                        dbo.InwardJobCastingTranse.CastingID as PurchaseItemId ,
                                                        CustomerId
                                              FROM      dbo.RawMaterialInward
                                                        INNER JOIN InwardJobCastingTranse ON dbo.InwardJobCastingTranse.InwardId = dbo.RawMaterialInward.InwardId                                                   
                                              WHERE     
                                              InwardDate BETWEEN @StartDate AND @EndDate
                                                        AND dbo.RawMaterialInward.IsDeleted = 0
                                                        AND InwardJobCastingTranse.IsDeleted = 0
														And RawMaterialInward.JobIn = 0
														AND InwardJobCastingTranse.JRTranseID=0
                                              GROUP BY  dbo.InwardJobCastingTranse.InwardJobCastingTranseID ,
                                                        dbo.InwardJobCastingTranse.CastingID ,
                                                        CustomerId  
                                              UNION
                                              SELECT DISTINCT
                                                        Convert(varchar(50),dbo.InwardCastingPurchase.InwardCastingPurchaseId) AS InwardID ,
                                                        dbo.InwardCastingPurchase.CastingID as PurchaseItemId ,
                                                        CustomerId
                                              FROM      dbo.RawMaterialInward
                                                        INNER JOIN InwardCastingPurchase ON dbo.InwardCastingPurchase.InwardId = dbo.RawMaterialInward.InwardId                                                   
                                              WHERE     InwardDate BETWEEN @StartDate AND @EndDate
                                                        AND dbo.RawMaterialInward.IsDeleted = 0
                                                        AND InwardCastingPurchase.IsDeleted = 0
														And RawMaterialInward.JobIn = 0
														AND InwardCastingPurchase.JoTranseId=0
                                              GROUP BY  dbo.InwardCastingPurchase.InwardCastingPurchaseId ,
                                                        dbo.InwardCastingPurchase.CastingID ,
                                                        CustomerId                    
                                            ) AS RawMaterialTotalInward ON RawMaterialTotalInward.CustomerId = CustomerMaster.CustomerId
                                LEFT JOIN ( SELECT DISTINCT
                                                    Convert(varchar(50),dbo.RawMaterialInwardDetail.RawmaterialDetailId) AS InwardId ,
                                                    dbo.RawMaterialInwardDetail.PurchaseItemId ,
                                                    CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
                                                    INNER JOIN dbo.PurchaseOrder_Trans ON dbo.PurchaseOrder_Trans.PurchaseOrderTransId = dbo.RawMaterialInwardDetail.PurchaseOrderTransId
                                            WHERE   InwardDate BETWEEN @StartDate AND @EndDate
                                                    AND DATEDIFF(day, DeliveryDate, InwardDate) > 0
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND RawMaterialInwardDetail.IsDeleted = 0
                                                    AND RawMaterialInwardDetail.IsPattern = 0
													And RawMaterialInward.JobIn = 0
													AND RawMaterialInwardDetail.JoTranseId=0
													AND PurchaseOrder_Trans.IsDeleted = 0
                                            GROUP BY dbo.RawMaterialInwardDetail.RawmaterialDetailId ,
                                                    dbo.RawMaterialInwardDetail.PurchaseItemId ,
                                                    CustomerId
                                            UNION
                                            SELECT DISTINCT
                                                    Convert(varchar(50),dbo.InwardJobCastingTranse.InwardJobCastingTranseID) AS InwardId ,
                                                    dbo.InwardJobCastingTranse.CastingID as PurchaseItemId ,
                                                    CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN InwardJobCastingTranse ON dbo.InwardJobCastingTranse.InwardId = dbo.RawMaterialInward.InwardId
                                                    INNER JOIN dbo.PurchaseJobOrderTrans ON dbo.PurchaseJobOrderTrans.JobOrderTransID = dbo.InwardJobCastingTranse.PurchaseJobOrderTranseID
                                            WHERE   
                                            InwardDate BETWEEN @StartDate AND @EndDate
                                                    AND DATEDIFF(day, DeliveryDate, InwardDate) > 0
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND InwardJobCastingTranse.IsDeleted = 0
													And RawMaterialInward.JobIn = 0
													AND InwardJobCastingTranse.JRTranseID=0
													AND PurchaseJobOrderTrans.IsDeleted = 0
                                            GROUP BY dbo.InwardJobCastingTranse.InwardJobCastingTranseID ,
                                                    dbo.InwardJobCastingTranse.CastingID ,
                                                    CustomerId    
                                            UNION
                                            SELECT DISTINCT
                                                    Convert(varchar(50),dbo.PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId) AS InwardId ,
                                                    dbo.InwardCastingPurchase.CastingID as PurchaseItemId ,
                                                    CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN InwardCastingPurchase ON dbo.InwardCastingPurchase.InwardId = dbo.RawMaterialInward.InwardId
                                                    INNER JOIN dbo.PurchaseOrderCastingPurchaseTrans ON dbo.PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId = dbo.InwardCastingPurchase.PurchaseOrderCastingPurchaseId
                                            WHERE   InwardDate BETWEEN @StartDate AND @EndDate
                                                    AND DATEDIFF(day, DeliveryDate, InwardDate) > 0
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND InwardCastingPurchase.IsDeleted = 0
													And RawMaterialInward.JobIn = 0
													AND InwardCastingPurchase.JoTranseId=0
													and PurchaseOrderCastingPurchaseTrans.IsDeleted = 0
                                            GROUP BY dbo.PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId ,
                                                    dbo.InwardCastingPurchase.CastingID ,
                                                    CustomerId                
                                          ) AS RawMaterialDelayInward ON RawMaterialDelayInward.CustomerId = CustomerMaster.CustomerId
                                                                         AND RawMaterialTotalInward.InwardID = RawMaterialDelayInward.InwardId
                                LEFT JOIN ( SELECT  Convert(varchar(50),dbo.RawMaterialInwardDetail.RawmaterialDetailId) as InwardId ,
                                                    SUM(Quantity) AS Quantity ,
                                                    SUM(RejectedQuantity) AS RejectedQuantity ,
                                                    ( SUM(RejectedQuantity) * 100 ) / SUM(Quantity) AS RejPer ,
                                                    dbo.RawMaterialInwardDetail.PurchaseItemId ,
                                                    CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
                                            WHERE   InwardDate BETWEEN @StartDate AND @EndDate
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND RawMaterialInwardDetail.IsDeleted = 0
                                                    AND RawMaterialInwardDetail.IsPattern = 0
													And RawMaterialInward.JobIn = 0
													AND RawMaterialInwardDetail.JoTranseId=0
                                            GROUP BY CustomerId ,
                                                    dbo.RawMaterialInwardDetail.PurchaseItemId ,
                                                    dbo.RawMaterialInwardDetail.RawmaterialDetailId
                                            UNION
                                            
                                            SELECT  Convert(varchar(50),dbo.InwardCastingPurchase.InwardCastingPurchaseId) as InwardId ,
                                                    SUM(InwardQty) AS Quantity ,
                                                    SUM(RejectedQty) AS RejectedQuantity ,
                                                    ( SUM(RejectedQty) * 100 ) / SUM(InwardQty) AS RejPer ,
                                                    dbo.InwardCastingPurchase.CastingId as PurchaseItemId ,
                                                    CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN InwardCastingPurchase ON dbo.InwardCastingPurchase.InwardId = dbo.RawMaterialInward.InwardId
                                            WHERE   InwardDate BETWEEN @StartDate AND @EndDate
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND InwardCastingPurchase.IsDeleted = 0
													And RawMaterialInward.JobIn = 0
													AND InwardCastingPurchase.JoTranseId=0
                                            GROUP BY CustomerId ,
                                                    dbo.InwardCastingPurchase.CastingId ,
                                                    dbo.InwardCastingPurchase.InwardCastingPurchaseId        
                                          ) AS rs ON rs.CustomerId = CustomerMaster.CustomerId
                                                     AND RawMaterialTotalInward.InwardID = rs.InwardId
                                LEFT JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = RawMaterialTotalInward.PurchaseItemId
                                LEFT JOIN CastingMaster ON CastingMaster.CastingId = RawMaterialTotalInward.PurchaseItemId
                        WHERE   CustomerMaster.IsDeleted = 0
                                AND Customerflag = 'S'
                                AND (@ItemGroupID is null 
									or CustomerMaster.CustomerGroupId = @ItemGroupID)
								AND (@ItemSubGroupID is null
									Or CustomerMaster.CustomerCategoryId = @ItemSubGroupID)
								AND (@ItemTypeID is null
									Or CustomerMaster.CustomerTypeId = @ItemTypeID)
								AND (@SupplierID is null 
									Or CustomerMaster.CustomerId = @SupplierID)
								AND (@EntityID = 0 
									Or CustomerCompanyMapping.CompanyId = @EntityID)
                        GROUP BY CustomerMaster.CustomerId ,
                                CustomerName ,
                                RawMaterialTotalInward.PurchaseItemId ,
                                ItemName ,
                                ItemCode,
                                CastingCode,
                                CastingName
                        ORDER BY CustomerName 
						OPTION(RECOMPILE)
                    END
          
                ELSE
                    BEGIN 
          
                        SELECT  ROW_NUMBER() OVER ( ORDER BY CustomerMaster.CustomerName ASC ) AS SrNo ,
                                CustomerName AS SupplierName ,
                                ItemName ,
                                ItemCode ,
                                CASE WHEN ( @TimelyDelivery - ( COUNT(RawMaterialDelayInward.InwardId) * @TimelyDeliveryCutMarks ) < 0 ) THEN 0
                                     ELSE @TimelyDelivery - ( COUNT(RawMaterialDelayInward.InwardId) * @TimelyDeliveryCutMarks )
                                END AS DeliveryMarks ,
                                CASE WHEN ( @QualityWeightage - ( COUNT(rs.InwardId) * @QualityCutMarks ) < 0 ) THEN 0
                                     ELSE @QualityWeightage - ( COUNT(rs.InwardId) * @QualityCutMarks )
                                END AS QualityMarks ,
                                CASE WHEN ( @Service - ( COUNT(PurchaseOrder_Master.PurchaseOrderId) * @ServiceCutMarks ) < 0 ) THEN 0
                                     ELSE @Service - ( COUNT(PurchaseOrder_Master.PurchaseOrderId) * @ServiceCutMarks )
                                END AS ServiceMarks ,
                                CASE WHEN picm.CategoryName = 'MANUFACTURER' THEN @TypeOfVendor
                                     ELSE ( @TypeOfVendor - @TypeOfVendorCutMarks )
                                END AS TypeOfVendorMarks ,
                                CASE WHEN picm.CategoryName = 'MANUFACTURER' THEN @Price
                                     ELSE ( @Price - @PriceCutMarks )
                                END AS PriceMarks ,
                                ( ( CASE WHEN ( @TimelyDelivery - ( COUNT(RawMaterialDelayInward.InwardId) * @TimelyDeliveryCutMarks ) < 0 ) THEN 0
                                         ELSE @TimelyDelivery - ( COUNT(RawMaterialDelayInward.InwardId) * @TimelyDeliveryCutMarks )
                                    END ) + ( CASE WHEN ( @QualityWeightage - ( COUNT(rs.InwardId) * @QualityCutMarks ) < 0 ) THEN 0
                                                   ELSE @QualityWeightage - ( COUNT(rs.InwardId) * @QualityCutMarks )
                                              END ) + ( CASE WHEN ( @Service - ( COUNT(PurchaseOrder_Master.PurchaseOrderId) * @ServiceCutMarks ) < 0 ) THEN 0
                                                             ELSE @Service - ( COUNT(PurchaseOrder_Master.PurchaseOrderId) * @ServiceCutMarks )
                                                        END ) + ( CASE WHEN picm.CategoryName = 'MANUFACTURER' THEN @TypeOfVendor
                                                                       ELSE ( @TypeOfVendor - @TypeOfVendorCutMarks )
                                                                  END ) + ( CASE WHEN picm.CategoryName = 'MANUFACTURER' THEN @Price
                                                                                 ELSE ( @Price - @PriceCutMarks )
                                                                            END ) ) AS TotalMarks ,
                                ( SELECT    TOP 1 Rank
                                  FROM      dbo.EvaluationMarks
                                  WHERE     ( ( CASE WHEN ( @TimelyDelivery - ( COUNT(RawMaterialDelayInward.InwardId) * @TimelyDeliveryCutMarks ) < 0 ) THEN 0
                                                     ELSE @TimelyDelivery - ( COUNT(RawMaterialDelayInward.InwardId) * @TimelyDeliveryCutMarks )
                                                END ) + ( CASE WHEN ( @QualityWeightage - ( COUNT(rs.InwardId) * @QualityCutMarks ) < 0 ) THEN 0
                                                               ELSE @QualityWeightage - ( COUNT(rs.InwardId) * @QualityCutMarks )
                                                          END )
                                              + ( CASE WHEN ( @Service - ( COUNT(PurchaseOrder_Master.PurchaseOrderId) * @ServiceCutMarks ) < 0 ) THEN 0
                                                       ELSE @Service - ( COUNT(PurchaseOrder_Master.PurchaseOrderId) * @ServiceCutMarks )
                                                  END ) + ( CASE WHEN picm.CategoryName = 'MANUFACTURER' THEN @TypeOfVendor
                                                                 ELSE ( @TypeOfVendor - @TypeOfVendorCutMarks )
                                                            END ) + ( CASE WHEN picm.CategoryName = 'MANUFACTURER' THEN @Price
                                                                           ELSE ( @Price - @PriceCutMarks )
                                                                      END ) ) BETWEEN FromMarks
                                                                              AND     ToMarks
                                ) AS Rank
                        FROM    CustomerMaster
						        INNER join CustomerCompanyMapping on CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
								LEFT JOIN PurchaseItemCategoryMaster AS picm ON picm.PurchaseItemCategoryId = CustomerMaster.CustomerCategoryId
                                INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.CustomerId = dbo.CustomerMaster.CustomerId
								And RawMaterialInward.JobIn = 0
                                INNER JOIN dbo.RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId AND RawMaterialInwardDetail.IsPattern = 0
                                LEFT JOIN ( SELECT DISTINCT
                                                    dbo.RawMaterialInward.InwardId AS InwardId ,
                                                    dbo.RawMaterialInwardDetail.PurchaseItemId ,
                                                    CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
                                                    INNER JOIN dbo.PurchaseOrder_Trans ON dbo.PurchaseOrder_Trans.PurchaseOrderTransId = dbo.RawMaterialInwardDetail.PurchaseOrderTransId
                                            WHERE   DATEDIFF(day, DeliveryDate, InwardDate) > 0
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND RawMaterialInwardDetail.IsDeleted = 0
													And RawMaterialInward.JobIn = 0
													AND RawMaterialInwardDetail.JoTranseId=0
													and PurchaseOrder_Trans.IsDeleted = 0
                                            GROUP BY dbo.RawMaterialInward.InwardId ,
                                                    dbo.RawMaterialInwardDetail.PurchaseItemId ,
                                                    CustomerId
                                          ) AS RawMaterialDelayInward ON RawMaterialDelayInward.CustomerId = CustomerMaster.CustomerId
                                                                         AND RawMaterialInward.InwardID = RawMaterialDelayInward.InwardId
                                                                         AND RawMaterialDelayInward.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId
                                LEFT JOIN ( SELECT  dbo.RawMaterialInward.InwardId ,
                                                    SUM(Quantity) AS Quantity ,
                                                    SUM(RejectedQuantity) AS RejectedQuantity ,
                                                    dbo.RawMaterialInwardDetail.PurchaseItemId ,
                                                    CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
                                            WHERE   dbo.RawMaterialInward.IsDeleted = 0
                                                    AND RawMaterialInwardDetail.IsDeleted = 0
                                                    AND RejectedQuantity > 0
													And RawMaterialInward.JobIn = 0
													AND RawMaterialInwardDetail.JoTranseId=0
													AND RawMaterialInwardDetail.IsPattern = 0
                                            GROUP BY CustomerId ,
                                                    dbo.RawMaterialInwardDetail.PurchaseItemId ,
                                                    dbo.RawMaterialInward.InwardId
                                          ) AS rs ON rs.CustomerId = CustomerMaster.CustomerId
                                                     AND RawMaterialInward.InwardID = rs.InwardId
                                                     AND rs.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId
                                LEFT JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId
                                LEFT JOIN ( SELECT  CustomerID ,
                                                    PurchaseOrderId
                                            FROM    dbo.PurchaseOrder_Master
                                            WHERE   PurchaseOrder_Master.Delivery NOT LIKE '%OFFICE%'
                                                    AND maxversion > 0
                                                    AND OrderDate BETWEEN @StartDate AND @EndDate
                                          ) AS PurchaseOrder_Master ON PurchaseOrder_Master.CustomerID = dbo.CustomerMaster.CustomerId
                                                                       AND PurchaseOrder_Master.PurchaseOrderId = dbo.RawMaterialInwardDetail.PurchaseOrderId
                        WHERE   CustomerMaster.IsDeleted = 0
                                AND Customerflag = 'S'
                                AND (@ItemGroupID is null 
									or CustomerMaster.CustomerGroupId = @ItemGroupID)
								AND (@ItemSubGroupID is null
									Or CustomerMaster.CustomerCategoryId = @ItemSubGroupID)
								AND (@ItemTypeID is null
									Or CustomerMaster.CustomerTypeId = @ItemTypeID)
								AND (@SupplierID is null 
									Or CustomerMaster.CustomerId = @SupplierID)
								AND (@EntityID = 0 
									Or CustomerCompanyMapping.CompanyId = @EntityID)
                        GROUP BY CustomerMaster.CustomerId ,
                                CustomerName ,
                                dbo.RawMaterialInwardDetail.PurchaseItemId ,
                                ItemName ,
                                ItemCode ,
                                PurchaseItemMaster.PurchaseItemId 
                                , picm.CategoryName
                        ORDER BY CustomerName 
						OPTION(RECOMPILE)
                    END 
            END
          
        ELSE
            BEGIN 
                IF ( @IsPercentageWise = 1 )
                    BEGIN
                       SELECT  ROW_NUMBER() OVER ( ORDER BY CustomerMaster.CustomerName ASC ) AS SrNo ,
                                CustomerName AS SupplierName ,
                                CASE WHEN ( COUNT(RawMaterialTotalInward.InwardID) > 0 )
                                     THEN ROUND(@TimelyDelivery - ( ( ( ( COUNT(RawMaterialDelayInward.InwardId) * 100 )
                                                                        / ISNULL(COUNT(RawMaterialTotalInward.InwardID), 1) ) * @TimelyDelivery ) / 100 ), 0)
                                     ELSE ROUND(@TimelyDelivery - ( ( ( ( COUNT(RawMaterialDelayInward.InwardId) * 100 ) / 1 ) * @TimelyDelivery ) / 100 ), 0)
                                END AS DeliveryMarks ,
                                CASE WHEN ( SUM(ISNULL(Quantity, 0)) > 0 )
                                     THEN ROUND(@QualityWeightage - ( ( ( SUM(ISNULL(RejectedQuantity, 0)) * 100 ) / SUM(ISNULL(Quantity, 0)) )
                                                                      * @QualityWeightage ) / 100, 0)
                                     ELSE ROUND(@QualityWeightage - ( ( ( SUM(ISNULL(RejectedQuantity, 0)) * 100 ) / 1 ) * @QualityWeightage ) / 100, 0)
                                END AS QualityMarks ,
                                @Service AS ServiceMarks ,
                                @TypeOfVendor AS TypeOfVendorMarks ,
                                @Price AS PriceMarks ,
                                ( CASE WHEN ( COUNT(RawMaterialTotalInward.InwardID) > 0 )
                                       THEN ROUND(@TimelyDelivery - ( ( ( ( COUNT(RawMaterialDelayInward.InwardId) * 100 )
                                                                          / ISNULL(COUNT(RawMaterialTotalInward.InwardID), 1) ) * @TimelyDelivery ) / 100 ), 0)
                                       ELSE ROUND(@TimelyDelivery - ( ( ( ( COUNT(RawMaterialDelayInward.InwardId) * 100 ) / 1 ) * @TimelyDelivery ) / 100 ), 0)
                                  END ) + ( CASE WHEN ( SUM(ISNULL(Quantity, 0)) > 0 )
                                                 THEN ROUND(@QualityWeightage - ( ( ( SUM(ISNULL(RejectedQuantity, 0)) * 100 ) / SUM(ISNULL(Quantity, 0)) )
                                                                                  * @QualityWeightage ) / 100, 0)
                                                 ELSE ROUND(@QualityWeightage - ( ( ( SUM(ISNULL(RejectedQuantity, 0)) * 100 ) / 1 ) * @QualityWeightage ) / 100,
                                                            0)
                                            END ) + @Service + @TypeOfVendor + @Price AS TotalMarks ,
                                ( SELECT    TOP 1 Rank
                                  FROM      dbo.EvaluationMarks
                                  WHERE     ( ( CASE WHEN ( COUNT(RawMaterialTotalInward.InwardID) > 0 )
                                                     THEN ROUND(@TimelyDelivery - ( ( ( ( COUNT(RawMaterialDelayInward.InwardId) * 100 )
                                                                                        / ISNULL(COUNT(RawMaterialTotalInward.InwardID), 1) ) * @TimelyDelivery )
                                                                                    / 100 ), 0)
                                                     ELSE ROUND(@TimelyDelivery - ( ( ( ( COUNT(RawMaterialDelayInward.InwardId) * 100 ) / 1 ) * @TimelyDelivery )
                                                                                    / 100 ), 0)
                                                END ) + ( CASE WHEN ( SUM(ISNULL(Quantity, 0)) > 0 )
                                                               THEN ROUND(@QualityWeightage - ( ( ( SUM(ISNULL(RejectedQuantity, 0)) * 100 )
                                                                                                  / SUM(ISNULL(Quantity, 0)) ) * @QualityWeightage ) / 100, 0)
                                                               ELSE ROUND(@QualityWeightage - ( ( ( SUM(ISNULL(RejectedQuantity, 0)) * 100 ) / 1 )
                                                                                                * @QualityWeightage ) / 100, 0)
                                                          END ) + @Service + @TypeOfVendor + @Price BETWEEN FromMarks
                                                                                                    AND     ToMarks )
                                ) AS Rank
                        FROM    CustomerMaster
						        INNER join CustomerCompanyMapping on CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
                                INNER  JOIN ( SELECT DISTINCT
                                                        Convert(varchar(50),dbo.RawMaterialInwardDetail.RawmaterialDetailId ) AS InwardID ,
                                                        CustomerId
                                              FROM      dbo.RawMaterialInward
                                                        INNER JOIN RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
                                              WHERE     
                                              InwardDate BETWEEN @StartDate AND @EndDate
                                                        AND dbo.RawMaterialInward.IsDeleted = 0
                                                        AND RawMaterialInwardDetail.IsDeleted = 0
														And RawMaterialInward.JobIn = 0
														AND RawMaterialInwardDetail.JoTranseId=0
														AND RawMaterialInwardDetail.IsPattern = 0
                                              GROUP BY  dbo.RawMaterialInwardDetail.RawmaterialDetailId ,
                                                        CustomerId
                                              UNION
                                              -- Job work data
                                              SELECT DISTINCT
                                                        Convert(varchar(50),dbo.InwardJobCastingTranse.InwardJobCastingTranseID ) AS InwardID ,
                                                        CustomerId
                                              FROM      dbo.RawMaterialInward
                                                        INNER JOIN InwardJobCastingTranse ON dbo.InwardJobCastingTranse.InwardId = dbo.RawMaterialInward.InwardId
                                              WHERE     
                                              InwardDate BETWEEN @StartDate AND @EndDate
                                                        AND dbo.RawMaterialInward.IsDeleted = 0
                                                        AND InwardJobCastingTranse.IsDeleted = 0
														And RawMaterialInward.JobIn = 0
														AND InwardJobCastingTranse.JRTranseID=0
                                              GROUP BY  dbo.InwardJobCastingTranse.InwardJobCastingTranseID ,
                                                        CustomerId  
                                              UNION
                                              --Casting Purchase Data
                                              SELECT DISTINCT
                                                        Convert(varchar(50),dbo.InwardCastingPurchase.InwardCastingPurchaseId ) AS InwardID ,
                                                        CustomerId
                                              FROM      dbo.RawMaterialInward
                                                        INNER JOIN InwardCastingPurchase ON dbo.InwardCastingPurchase.InwardId = dbo.RawMaterialInward.InwardId
                                              WHERE     
                                              InwardDate BETWEEN @StartDate AND @EndDate
                                                        AND dbo.RawMaterialInward.IsDeleted = 0
                                                        AND InwardCastingPurchase.IsDeleted = 0
														And RawMaterialInward.JobIn = 0
														AND InwardCastingPurchase.JoTranseId=0
                                              GROUP BY  dbo.InwardCastingPurchase.InwardCastingPurchaseId ,
                                                        CustomerId                    
                                            ) AS RawMaterialTotalInward ON RawMaterialTotalInward.CustomerId = CustomerMaster.CustomerId
                                LEFT JOIN ( SELECT DISTINCT
                                                    Convert(varchar(50),dbo.RawMaterialInwardDetail.RawmaterialDetailId ) AS InwardID ,
                                                        CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
                                                    INNER JOIN dbo.PurchaseOrder_Trans ON dbo.PurchaseOrder_Trans.PurchaseOrderTransId = dbo.RawMaterialInwardDetail.PurchaseOrderTransId
                                            WHERE   
                                            InwardDate BETWEEN @StartDate AND @EndDate
                                                    AND DATEDIFF(day, DeliveryDate, InwardDate) > 0
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND RawMaterialInwardDetail.IsDeleted = 0
													And RawMaterialInward.JobIn = 0
													AND RawMaterialInwardDetail.JoTranseId=0
													AND RawMaterialInwardDetail.IsPattern = 0
													and PurchaseOrder_Trans.IsDeleted = 0
                                            GROUP BY dbo.RawMaterialInwardDetail.RawmaterialDetailId ,
                                                    CustomerId
                                             uNION
                                             --job work data
                                             SELECT DISTINCT
                                                     Convert(varchar(50),dbo.InwardJobCastingTranse.InwardJobCastingTranseID ) AS InwardID ,
                                                        CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN InwardJobCastingTranse ON dbo.InwardJobCastingTranse.InwardId = dbo.RawMaterialInward.InwardId
                                                    INNER JOIN dbo.PurchaseJobOrderTrans ON dbo.PurchaseJobOrderTrans.JobOrderTransID = dbo.InwardJobCastingTranse.PurchaseJobOrderTranseID
                                            WHERE   
                                            InwardDate BETWEEN @StartDate AND @EndDate
                                                    AND DATEDIFF(day, DeliveryDate, InwardDate) > 0
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND InwardJobCastingTranse.IsDeleted = 0
													And RawMaterialInward.JobIn = 0
													AND InwardJobCastingTranse.JRTranseID=0
                                            GROUP BY dbo.InwardJobCastingTranse.InwardJobCastingTranseID ,
                                                    CustomerId     
                                            UNION
                                            --casting purchase data
                                            SELECT DISTINCT
                                                     Convert(varchar(50),dbo.InwardCastingPurchase.InwardCastingPurchaseId ) AS InwardID ,
                                                        CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN InwardCastingPurchase ON dbo.InwardCastingPurchase.InwardId = dbo.RawMaterialInward.InwardId
                                                    INNER JOIN dbo.PurchaseOrderCastingPurchaseTrans ON dbo.PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId = dbo.InwardCastingPurchase.PurchaseOrderCastingPurchaseId
                                            WHERE   
                                            InwardDate BETWEEN @StartDate AND @EndDate
                                                    AND DATEDIFF(day, DeliveryDate, InwardDate) > 0
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND InwardCastingPurchase.IsDeleted = 0
													And RawMaterialInward.JobIn = 0
													AND InwardCastingPurchase.JoTranseId=0
													and PurchaseOrderCastingPurchaseTrans.IsDeleted = 0
                                            GROUP BY dbo.InwardCastingPurchase.InwardCastingPurchaseId ,
                                                    CustomerId               
                                          ) AS RawMaterialDelayInward ON RawMaterialDelayInward.CustomerId = CustomerMaster.CustomerId
                                                                         AND RawMaterialTotalInward.InwardID = RawMaterialDelayInward.InwardId
                                LEFT JOIN ( SELECT  Convert(varchar(50),dbo.RawMaterialInwardDetail.RawmaterialDetailId) as InwardId ,
                                                    SUM(Quantity) AS Quantity ,
                                                    SUM(ISNULL(RejectedQuantity,0)) AS RejectedQuantity ,
                                                    ( SUM(isnull(RejectedQuantity,0)) * 100 ) / SUM(Quantity) AS RejPer ,
                                                    CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
                                            WHERE   
                                            InwardDate BETWEEN @StartDate AND @EndDate
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND RawMaterialInwardDetail.IsDeleted = 0
                                                    AND Quantity > 0
													And RawMaterialInward.JobIn = 0
													AND RawMaterialInwardDetail.JoTranseId=0
													AND RawMaterialInwardDetail.IsPattern = 0
                                            GROUP BY CustomerId ,
                                                    dbo.RawMaterialInwardDetail.RawmaterialDetailId
                                            UNION
                                            --casting purchase
                                            SELECT  Convert(varchar(50),dbo.InwardCastingPurchase.InwardCastingPurchaseId) as InwardId ,
                                                    SUM(InwardQty) AS Quantity ,
                                                    SUM(RejectedQty) AS RejectedQuantity ,
                                                    ( SUM(RejectedQty) * 100 ) / SUM(InwardQty) AS RejPer ,
                                                    CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN InwardCastingPurchase ON dbo.InwardCastingPurchase.InwardId = dbo.RawMaterialInward.InwardId
                                            WHERE   
                                            InwardDate BETWEEN @StartDate AND @EndDate
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND InwardCastingPurchase.IsDeleted = 0
                                                    And InwardQty > 0
													And RawMaterialInward.JobIn = 0
													AND InwardCastingPurchase.JoTranseId=0
                                            GROUP BY CustomerId ,
                                                    dbo.InwardCastingPurchase.InwardCastingPurchaseId        
                                          ) AS rs ON rs.CustomerId = CustomerMaster.CustomerId
                                                     AND RawMaterialTotalInward.InwardID = rs.InwardId
                        WHERE   IsDeleted = 0
                                AND Customerflag = 'S' 
                                AND (@SupplierID is null 
									Or CustomerMaster.CustomerId = @SupplierID)
                        GROUP BY CustomerMaster.CustomerId ,
                                CustomerName
                        ORDER BY CustomerName 
						OPTION(RECOMPILE)
                    END
                ELSE
                    BEGIN 
                        SELECT  ROW_NUMBER() OVER ( ORDER BY CustomerMaster.CustomerName ASC ) AS SrNo ,
                                CustomerName AS SupplierName ,
                                CASE WHEN ( @TimelyDelivery - ( COUNT(RawMaterialDelayInward.InwardId) * @TimelyDeliveryCutMarks ) < 0 ) THEN 0
                                     ELSE @TimelyDelivery - ( COUNT(RawMaterialDelayInward.InwardId) * @TimelyDeliveryCutMarks )
                                END AS DeliveryMarks ,
                                CASE WHEN ( @QualityWeightage - ( COUNT(rs.InwardId) * @QualityCutMarks ) < 0 ) THEN 0
                                     ELSE @QualityWeightage - ( COUNT(rs.InwardId) * @QualityCutMarks )
                                END AS QualityMarks ,
                               CASE WHEN ( @Service - ( COUNT(PurchaseOrder_Master.PurchaseOrderId) * @ServiceCutMarks ) < 0 ) THEN 0
                                     ELSE @Service - ( COUNT(PurchaseOrder_Master.PurchaseOrderId) * @ServiceCutMarks )
                                END AS ServiceMarks ,
                                CASE WHEN picm.CategoryName = 'MANUFACTURER' THEN @TypeOfVendor
                                     ELSE ( @TypeOfVendor - @TypeOfVendorCutMarks )
                                END AS TypeOfVendorMarks ,
                                CASE WHEN picm.CategoryName = 'MANUFACTURER' THEN @Price
                                     ELSE ( @Price - @PriceCutMarks )
                                END AS PriceMarks ,
                                ( ( CASE WHEN ( @TimelyDelivery - ( COUNT(RawMaterialDelayInward.InwardId) * @TimelyDeliveryCutMarks ) < 0 ) THEN 0
                                         ELSE @TimelyDelivery - ( COUNT(RawMaterialDelayInward.InwardId) * @TimelyDeliveryCutMarks )
                                    END ) + ( CASE WHEN ( @QualityWeightage - ( COUNT(rs.InwardId) * @QualityCutMarks ) < 0 ) THEN 0
                                                   ELSE @QualityWeightage - ( COUNT(rs.InwardId) * @QualityCutMarks )
                                              END ) + ( CASE WHEN ( @Service - ( COUNT(PurchaseOrder_Master.PurchaseOrderId) * @ServiceCutMarks ) < 0 ) THEN 0
                                                             ELSE @Service - ( COUNT(PurchaseOrder_Master.PurchaseOrderId) * @ServiceCutMarks )
                                                        END ) + ( CASE WHEN picm.CategoryName = 'MANUFACTURER' THEN @TypeOfVendor
                                                                       ELSE ( @TypeOfVendor - @TypeOfVendorCutMarks )
                                                                  END ) + ( CASE WHEN picm.CategoryName = 'MANUFACTURER' THEN @Price
                                                                                 ELSE ( @Price - @PriceCutMarks )
                                                                            END ) ) AS TotalMarks ,
                                ( SELECT    TOP 1 Rank
                                  FROM      dbo.EvaluationMarks
                                  WHERE     ( ( CASE WHEN ( @TimelyDelivery - ( COUNT(RawMaterialDelayInward.InwardId) * @TimelyDeliveryCutMarks ) < 0 ) THEN 0
                                                     ELSE @TimelyDelivery - ( COUNT(RawMaterialDelayInward.InwardId) * @TimelyDeliveryCutMarks )
                                                END ) + ( CASE WHEN ( @QualityWeightage - ( COUNT(rs.InwardId) * @QualityCutMarks ) < 0 ) THEN 0
                                                               ELSE @QualityWeightage - ( COUNT(rs.InwardId) * @QualityCutMarks )
                                                          END )
                                              + ( CASE WHEN ( @Service - ( COUNT(PurchaseOrder_Master.PurchaseOrderId) * @ServiceCutMarks ) < 0 ) THEN 0
                                                       ELSE @Service - ( COUNT(PurchaseOrder_Master.PurchaseOrderId) * @ServiceCutMarks )
                                                  END ) + ( CASE WHEN picm.CategoryName = 'MANUFACTURER' THEN @TypeOfVendor
                                                                 ELSE ( @TypeOfVendor - @TypeOfVendorCutMarks )
                                                            END ) + ( CASE WHEN picm.CategoryName = 'MANUFACTURER' THEN @Price
                                                                           ELSE ( @Price - @PriceCutMarks )
                                                                      END ) ) BETWEEN FromMarks
                                                                              AND     ToMarks
                                ) AS Rank
                        FROM    CustomerMaster
						        INNER join CustomerCompanyMapping on CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
								LEFT JOIN PurchaseItemCategoryMaster AS picm ON picm.PurchaseItemCategoryId = CustomerMaster.CustomerCategoryId
                                INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.CustomerId = dbo.CustomerMaster.CustomerId
								And RawMaterialInward.JobIn = 0
                                INNER JOIN dbo.RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId AND RawMaterialInwardDetail.IsPattern = 0
                                LEFT JOIN ( SELECT DISTINCT
                                                    dbo.RawMaterialInward.InwardId AS InwardId ,
                                                    CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
                                                    INNER JOIN dbo.PurchaseOrder_Trans ON dbo.PurchaseOrder_Trans.PurchaseOrderTransId = dbo.RawMaterialInwardDetail.PurchaseOrderTransId
                                            WHERE   InwardDate BETWEEN @StartDate AND @EndDate
                                                    AND DATEDIFF(day, DeliveryDate, InwardDate) > 0
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND RawMaterialInwardDetail.IsDeleted = 0
													And RawMaterialInward.JobIn = 0
													AND RawMaterialInwardDetail.JoTranseId=0
													AND RawMaterialInwardDetail.IsPattern = 0
													and PurchaseOrder_Trans.IsDeleted = 0
                                            GROUP BY dbo.RawMaterialInward.InwardId ,
                                                    CustomerId
                                          ) AS RawMaterialDelayInward ON RawMaterialDelayInward.CustomerId = CustomerMaster.CustomerId
                                                                         AND RawMaterialInward.InwardID = RawMaterialDelayInward.InwardId
                                LEFT JOIN ( SELECT  dbo.RawMaterialInward.InwardId ,
                                                    SUM(Quantity) AS Quantity ,
                                                    SUM(RejectedQuantity) AS RejectedQuantity ,
                                                    CustomerId
                                            FROM    dbo.RawMaterialInward
                                                    INNER JOIN RawMaterialInwardDetail ON dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
                                            WHERE   InwardDate BETWEEN @StartDate AND @EndDate
                                                    AND dbo.RawMaterialInward.IsDeleted = 0
                                                    AND RawMaterialInwardDetail.IsDeleted = 0
                                                    AND RejectedQuantity > 0
													And RawMaterialInward.JobIn = 0
													AND RawMaterialInwardDetail.JoTranseId=0
                                            GROUP BY CustomerId ,
                                                    dbo.RawMaterialInward.InwardId
                                          ) AS rs ON rs.CustomerId = CustomerMaster.CustomerId
                                                     AND RawMaterialInward.InwardID = rs.InwardId
                                LEFT JOIN ( SELECT  CustomerID ,
                                                    PurchaseOrderId
                                            FROM    dbo.PurchaseOrder_Master
                                            WHERE   PurchaseOrder_Master.Delivery NOT LIKE '%OFFICE%'
                                                    AND maxversion > 0 AND OrderDate BETWEEN @StartDate AND @EndDate
                                          ) AS PurchaseOrder_Master ON PurchaseOrder_Master.CustomerID = dbo.CustomerMaster.CustomerId
                                                                       AND PurchaseOrder_Master.PurchaseOrderId = dbo.RawMaterialInwardDetail.PurchaseOrderId
                        WHERE   CustomerMaster.IsDeleted = 0
                                AND dbo.RawMaterialInward.IsDeleted = 0
                                AND Customerflag = 'S'
								AND (@ItemGroupID is null 
									or CustomerMaster.CustomerGroupId = @ItemGroupID)
								AND (@ItemSubGroupID is null
									Or CustomerMaster.CustomerCategoryId = @ItemSubGroupID)
								AND (@ItemTypeID is null
									Or CustomerMaster.CustomerTypeId = @ItemTypeID)
								AND (@SupplierID is null 
									Or CustomerMaster.CustomerId = @SupplierID)
								AND (@EntityID = 0 
									Or CustomerCompanyMapping.CompanyId = @EntityID)
                        GROUP BY CustomerMaster.CustomerId ,
                                CustomerName 
                                , picm.CategoryName
                        ORDER BY CustomerName 
						OPTION(RECOMPILE)
                    END 
            END
            
       
            
        END 
		ELSE 
		BEGIN
		
-------------------------------------------------------		

/* 
for Delivery Rating we have covered 2 cases:
1) inward within 30 days of deliverydate (For D1, D2, D3, D4, D5)
2) inward date above 30 days of deliverydate(D5)
*/

		SELECT  'below30' AS daysDiff,
				CASE WHEN SUM(Quantity) * 100/RequiredQty >= 90 AND DATEDIFF(day, CAST(DeliveryDate AS DATE),CAST(InwardDate AS DATE)) <= 15
					THEN 'D1'
				WHEN SUM(Quantity) * 100/RequiredQty BETWEEN 80 AND 90
					THEN 'D2'
				WHEN SUM(Quantity) * 100/RequiredQty BETWEEN 50 AND 80
					THEN 'D3'
				WHEN SUM(Quantity) * 100/RequiredQty BETWEEN 20 AND 50
					THEN 'D4'
				ELSE 'D5'
				END  AS DeliverySlot,
                SUM(Quantity) AS inwardQty,
                RequiredQty AS RequiredQty,
                SUM(Quantity) * 100/RequiredQty AS Percentage,
                CustomerMaster.CustomerName as SupplierName,
                CustomerMaster.CustomerId,
                PurchaseOrder_Trans.PurchaseOrderTransId,
                PurchaseItemMaster.ItemName,
                PurchaseItemMaster.ItemCode
        INTO    #tempPurchaseOrderTransId
        FROM    RawMaterialInwardDetail
                INNER JOIN RawMaterialInward ON RawMaterialInwardDetail.InwardId = RawMaterialInward.InwardId
				And RawMaterialInward.JobIn = 0
                INNER JOIN PurchaseOrder_Trans ON RawMaterialInwardDetail.PurchaseOrderTransId = PurchaseOrder_Trans.PurchaseOrderTransId
                INNER JOIN customermaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId
				INNER join CustomerCompanyMapping on CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
                INNER JOIN PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId
        WHERE   InwardDate BETWEEN @StartDate AND @EndDate
				AND InwardDate <=  DATEADD(day, 30, DeliveryDate)
				AND RawMaterialInwardDetail.IsPattern = 0
				AND (@ItemGroupID is null 
					or CustomerMaster.CustomerGroupId = @ItemGroupID)
				AND (@ItemSubGroupID is null
					Or CustomerMaster.CustomerCategoryId = @ItemSubGroupID)
				AND (@ItemTypeID is null
					Or CustomerMaster.CustomerTypeId = @ItemTypeID)
				AND (@SupplierID is null 
					Or CustomerMaster.CustomerId = @SupplierID)
				AND (@EntityID = 0 
					Or CustomerCompanyMapping.CompanyId = @EntityID)                                  
        GROUP BY CustomerMaster.CustomerName,
                PurchaseOrder_Trans.PurchaseOrderTransId,
                CustomerMaster.CustomerId,
                PurchaseItemMaster.ItemName,
                PurchaseItemMaster.ItemCode,
                RequiredQty,
                CAST(DeliveryDate AS DATE),
                CAST(InwardDate AS DATE)
		OPTION(RECOMPILE)

------------------------------------------------------------------------------------
	
		IF (@WithItemDetails = 1)
		BEGIN 
		
SELECT		a.SupplierName,
			a.ItemName,
			a.ItemCode,
			SUM(a.Q) AS Q,
			SUM(a.Q1) AS Q1,
			SUM(a.Q2) AS Q2,
			SUM(a.Q3) AS Q3,
			CASE WHEN ISNULL(SUM(a.Q), 0)= 0
			THEN 0
			ELSE (SUM(a.Q1)+SUM(a.Q2)*0.08+SUM(a.Q3)*0.00)*100/SUM(a.Q)
			END  AS QualityRating
INTO		#TempQualityWithDetail
FROM	
(

				Select		dbo.CustomerMaster.CustomerName AS SupplierName,
							dbo.PurchaseItemMaster.ItemName,
							dbo.PurchaseItemMaster.ItemCode, 
							CASE WHEN dbo.RawMaterialInwardDetail.TestResult IS NOT NULL 
							THEN
							Count(*)
							ELSE 0 END  as Q ,
							CASE WHEN dbo.RawMaterialInwardDetail.TestResult = 1
							THEN
							Count(*)
							ELSE 0 END  as Q1 ,
							CASE WHEN dbo.RawMaterialInwardDetail.TestResult = 2
							THEN
							Count(*)
							ELSE 0 END  as Q2,
							CASE WHEN dbo.RawMaterialInwardDetail.TestResult IS NULL
							THEN
							Count(*)
							ELSE 0 END  as Q3 
				from		dbo.RawMaterialInwardDetail 
							INNER JOIN dbo.RawMaterialInward 
							on dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
							And RawMaterialInward.JobIn = 0
							INNER JOIN dbo.PurchaseOrder_Trans 
							on dbo.RawMaterialInwardDetail.PurchaseOrderTransId = dbo.PurchaseOrder_Trans.PurchaseOrderTransId
							INNER JOIN dbo.PurchaseItemMaster
							ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId
							INNER JOIN dbo.CustomerMaster
							ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId
							INNER join CustomerCompanyMapping on CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
				Where		dbo.RawMaterialInward.InwardDate between @StartDate AND @EndDate
							and dbo.RawMaterialInwardDetail.TestResult IS NOT NULL 
							and PurchaseOrder_Trans.IsDelivered=1
							AND RawMaterialInwardDetail.IsPattern = 0
							AND PurchaseOrder_Trans.IsDeleted = 0
							AND (@ItemGroupID is null 
								or CustomerMaster.CustomerGroupId = @ItemGroupID)
							AND (@ItemSubGroupID is null
								Or CustomerMaster.CustomerCategoryId = @ItemSubGroupID)
							AND (@ItemTypeID is null
								Or CustomerMaster.CustomerTypeId = @ItemTypeID)
							AND (@SupplierID is null 
								Or CustomerMaster.CustomerId = @SupplierID)
							AND (@EntityID = 0 
								Or CustomerCompanyMapping.CompanyId = @EntityID)
				GROUP BY	dbo.CustomerMaster.CustomerName,
							dbo.PurchaseItemMaster.ItemName,
							dbo.PurchaseItemMaster.ItemCode,
							dbo.RawMaterialInwardDetail.TestResult
							
) AS a				
GROUP BY a.SupplierName,
			a.ItemName,
			a.ItemCode
OPTION(RECOMPILE)
--------------------------------------------------------------------------------------------------

              
SELECT		SupplierName,
			ItemName,
			ItemCode,
			SUM(D1) AS D1,
			SUM(D2) AS D2,
			SUM(D3) AS D3,
			SUM(D4) AS D4,
			SUM(D5) AS D5,
			SUM(D1)+SUM(D2)+SUM(D3)+SUM(D4)+SUM(D5) AS D,
			CASE WHEN SUM(D1)+SUM(D2)+SUM(D3)+SUM(D4)+SUM(D5) = 0
				THEN 0
			ELSE	
			(SUM(D1)+SUM(D2)*0.08+SUM(D3)*0.05+SUM(D4)*0.03+SUM(D5)*0.00)*100/(SUM(D1)+SUM(D2)+SUM(D3)+SUM(D4)+SUM(D5))
			END AS DeliveryRating
INTO		#TempDeliveryWithDetail
FROM	
(        


SELECT		SupplierName,
			PurchaseOrderTransId,
			ItemName,
			ItemCode,
			CASE WHEN DeliverySlot = 'D1'
				THEN COUNT(*)
			ELSE 0 
			END AS 'D1',
			CASE WHEN DeliverySlot = 'D2'
				THEN COUNT(*)
			ELSE 0 
			END AS 'D2',
			CASE WHEN DeliverySlot = 'D3'
				THEN COUNT(*)
			ELSE 0 
			END AS 'D3',
			CASE WHEN DeliverySlot = 'D4'
				THEN COUNT(*)
			ELSE 0 
			END AS 'D4',
			CASE WHEN DeliverySlot = 'D5'
				THEN COUNT(*)
			ELSE 0 
			END AS 'D5'
FROM	
(

		SELECT  'below30' AS daysDiff,
				CASE WHEN SUM(Quantity) * 100/RequiredQty >= 90 AND DATEDIFF(day, CAST(DeliveryDate AS DATE),CAST(InwardDate AS DATE)) <= 15
					THEN 'D1'
				WHEN SUM(Quantity) * 100/RequiredQty BETWEEN 80 AND 90
					THEN 'D2'
				WHEN SUM(Quantity) * 100/RequiredQty BETWEEN 50 AND 80
					THEN 'D3'
				WHEN SUM(Quantity) * 100/RequiredQty BETWEEN 20 AND 50
					THEN 'D4'
				ELSE 'D5'
				END  AS DeliverySlot,
                SUM(Quantity) AS inwardQty,
                RequiredQty AS RequiredQty,
                SUM(Quantity) * 100/RequiredQty AS Percentage,
                CustomerMaster.CustomerName as SupplierName,
                PurchaseOrder_Trans.PurchaseOrderTransId,
                PurchaseItemMaster.ItemName,
                PurchaseItemMaster.ItemCode
        FROM    RawMaterialInwardDetail
                INNER JOIN RawMaterialInward ON RawMaterialInwardDetail.InwardId = RawMaterialInward.InwardId
				And RawMaterialInward.JobIn = 0
                INNER JOIN PurchaseOrder_Trans ON RawMaterialInwardDetail.PurchaseOrderTransId = PurchaseOrder_Trans.PurchaseOrderTransId
                INNER JOIN customermaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId
				INNER join CustomerCompanyMapping on CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
                INNER JOIN PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId
        WHERE   InwardDate BETWEEN @StartDate AND @EndDate
                AND RawMaterialInwardDetail.IsPattern = 0
				AND InwardDate <=  DATEADD(day, 30, DeliveryDate)
				AND (@ItemGroupID is null 
					or CustomerMaster.CustomerGroupId = @ItemGroupID)
				AND (@ItemSubGroupID is null
					Or CustomerMaster.CustomerCategoryId = @ItemSubGroupID)
				AND (@ItemTypeID is null
					Or CustomerMaster.CustomerTypeId = @ItemTypeID)
				AND (@SupplierID is null 
					Or CustomerMaster.CustomerId = @SupplierID)
				AND (@EntityID = 0 
					Or CustomerCompanyMapping.CompanyId = @EntityID)
                --AND RawMaterialInward.CustomerId = @SupplierID
--And DATEDIFF(day ,  CAST(PurchaseOrder_Trans.DeliveryDate as date),CAST(InwardDate as date) ) <= 0
                AND PurchaseOrder_Trans.IsDelivered = 1
                AND TestResult IS NOT NULL
				AND PurchaseOrder_Trans.IsDeleted = 0
        GROUP BY CustomerMaster.CustomerName,
                PurchaseOrder_Trans.PurchaseOrderTransId,
                PurchaseItemMaster.ItemName,
                PurchaseItemMaster.ItemCode,
                RequiredQty,
                CAST(DeliveryDate AS DATE),
                CAST(InwardDate AS DATE)
                
        UNION 
        
        SELECT  'above30' AS daysDiff,
				'D5' AS DeliverySlot,
                SUM(Quantity) AS inwardQty,
                RequiredQty AS RequiredQty,
                SUM(Quantity) * 100/RequiredQty AS Percentage,
                CustomerMaster.CustomerName as SupplierName,
                PurchaseOrder_Trans.PurchaseOrderTransId,
                PurchaseItemMaster.ItemName,
                PurchaseItemMaster.ItemCode
        FROM    RawMaterialInwardDetail
                INNER JOIN RawMaterialInward ON RawMaterialInwardDetail.InwardId = RawMaterialInward.InwardId
				And RawMaterialInward.JobIn = 0
                INNER JOIN PurchaseOrder_Trans ON RawMaterialInwardDetail.PurchaseOrderTransId = PurchaseOrder_Trans.PurchaseOrderTransId
                INNER JOIN customermaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId
				INNER join CustomerCompanyMapping on CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
                INNER JOIN PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId
        WHERE   InwardDate between @StartDate AND @EndDate
                AND RawMaterialInwardDetail.IsPattern = 0
				AND InwardDate > DATEADD(day, 30, DeliveryDate)
				AND (@ItemGroupID is null 
					or CustomerMaster.CustomerGroupId = @ItemGroupID)
				AND (@ItemSubGroupID is null
					Or CustomerMaster.CustomerCategoryId = @ItemSubGroupID)
				AND (@ItemTypeID is null
					Or CustomerMaster.CustomerTypeId = @ItemTypeID)
				AND (@SupplierID is null 
					Or CustomerMaster.CustomerId = @SupplierID)
				AND (@EntityID = 0 
					Or CustomerCompanyMapping.CompanyId = @EntityID)
				and PurchaseOrder_Trans.PurchaseOrderTransId NOT IN (
																			SELECT PurchaseOrderTransId 
																			FROM 	#tempPurchaseOrderTransId
																	)
                AND PurchaseOrder_Trans.IsDelivered = 1
				AND PurchaseOrder_Trans.IsDeleted = 0
                AND TestResult IS NOT NULL
        GROUP BY CustomerMaster.CustomerName,
                PurchaseOrder_Trans.PurchaseOrderTransId,
                PurchaseItemMaster.ItemName,
                PurchaseItemMaster.ItemCode,
                RequiredQty
                
 ) AS a               
GROUP BY	SupplierName,
			ItemName,
			ItemCode,
			PurchaseOrderTransId  ,
			DeliverySlot
) as b
GROUP BY	SupplierName,
			ItemName,
			ItemCode
OPTION(RECOMPILE)
                
  
  SELECT	ROW_NUMBER() OVER (ORDER BY #TempDeliveryWithDetail.SupplierName, #TempDeliveryWithDetail.ItemName,
			#TempDeliveryWithDetail.ItemCode) AS SrNo,
			#TempDeliveryWithDetail.SupplierName,
			#TempDeliveryWithDetail.ItemName,
			#TempDeliveryWithDetail.ItemCode,
			CONVERT(DECIMAL(18, 2), #TempDeliveryWithDetail.DeliveryRating) AS DeliveryRating,
			CONVERT(DECIMAL(18, 2), #TempQualityWithDetail.QualityRating) AS QualityRating,
			CONVERT(DECIMAL(18, 2),(#TempDeliveryWithDetail.DeliveryRating+#TempQualityWithDetail.QualityRating)/2) AS TotalMarks
  FROM		#TempDeliveryWithDetail
			INNER JOIN #TempQualityWithDetail   
			ON  #TempDeliveryWithDetail.SupplierName = #TempQualityWithDetail.SupplierName
			AND #TempDeliveryWithDetail.ItemName = #TempQualityWithDetail.ItemName
			AND #TempDeliveryWithDetail.ItemCode = #TempQualityWithDetail.ItemCode
    OPTION(RECOMPILE)
		END 
		ELSE
		BEGIN
		
SELECT		a.SupplierName,
			SUM(a.Q) AS Q,
			SUM(a.Q1) AS Q1,
			SUM(a.Q2) AS Q2,
			SUM(a.Q3) AS Q3,
			CASE WHEN ISNULL(SUM(a.Q), 0)= 0
			THEN 0
			ELSE CAST ((SUM(a.Q1)+SUM(a.Q2)*0.08+SUM(a.Q3)*0.00)*100/SUM(a.Q) as INT)
			END  AS QualityRating
INTO		#TempQualityWithoutDetail
FROM	
(

				Select		dbo.CustomerMaster.CustomerName AS SupplierName,
							dbo.PurchaseItemMaster.ItemName,
							dbo.PurchaseItemMaster.ItemCode, 
							CASE WHEN dbo.RawMaterialInwardDetail.TestResult IS NOT NULL 
							THEN
							Count(*)
							ELSE 0 END  as Q ,
							CASE WHEN dbo.RawMaterialInwardDetail.TestResult = 1
							THEN
							Count(*)
							ELSE 0 END  as Q1 ,
							CASE WHEN dbo.RawMaterialInwardDetail.TestResult = 2
							THEN
							Count(*)
							ELSE 0 END  as Q2,
							CASE WHEN dbo.RawMaterialInwardDetail.TestResult IS NULL
							THEN
							Count(*)
							ELSE 0 END  as Q3 
				from		dbo.RawMaterialInwardDetail 
							INNER JOIN dbo.RawMaterialInward 
							on dbo.RawMaterialInwardDetail.InwardId = dbo.RawMaterialInward.InwardId
							And RawMaterialInward.JobIn = 0
							INNER JOIN dbo.PurchaseOrder_Trans 
							on dbo.RawMaterialInwardDetail.PurchaseOrderTransId = dbo.PurchaseOrder_Trans.PurchaseOrderTransId
							INNER JOIN dbo.PurchaseItemMaster
							ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId
							INNER JOIN dbo.CustomerMaster
							ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId
							INNER join CustomerCompanyMapping on CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
				Where		dbo.RawMaterialInward.InwardDate between @StartDate AND @EndDate
							and dbo.RawMaterialInwardDetail.TestResult IS NOT NULL 
							AND RawMaterialInwardDetail.IsPattern = 0
							AND PurchaseOrder_Trans.IsDeleted = 0
							AND (@ItemGroupID is null 
								or CustomerMaster.CustomerGroupId = @ItemGroupID)
							AND (@ItemSubGroupID is null
								Or CustomerMaster.CustomerCategoryId = @ItemSubGroupID)
							AND (@ItemTypeID is null
								Or CustomerMaster.CustomerTypeId = @ItemTypeID)
							AND (@SupplierID is null 
								Or CustomerMaster.CustomerId = @SupplierID)
							AND (@EntityID = 0 
								Or CustomerCompanyMapping.CompanyId = @EntityID)
							--and PurchaseOrder_Trans.IsDelivered=1
							--And RawMaterialInwardDetail.IsInspectionDone=1
				GROUP BY	dbo.CustomerMaster.CustomerName,
							dbo.PurchaseItemMaster.ItemName,
							dbo.PurchaseItemMaster.ItemCode,
							dbo.RawMaterialInwardDetail.TestResult
							
) AS a				
GROUP BY a.SupplierName
ORDER BY a.SupplierName
OPTION(RECOMPILE)
----------------------------------------------------------------------------------------------
              
SELECT		SupplierName,
			SUM(D1) AS D1,
			SUM(D2) AS D2,
			SUM(D3) AS D3,
			SUM(D4) AS D4,
			SUM(D5) AS D5,
			SUM(D1)+SUM(D2)+SUM(D3)+SUM(D4)+SUM(D5) AS D,
			CASE WHEN SUM(D1)+SUM(D2)+SUM(D3)+SUM(D4)+SUM(D5) = 0
				THEN 0
			ELSE	
			(SUM(D1)+SUM(D2)*0.08+SUM(D3)*0.05+SUM(D4)*0.03+SUM(D5)*0.00)*100/(SUM(D1)+SUM(D2)+SUM(D3)+SUM(D4)+SUM(D5))
			END AS DeliveryRating
INTO		#TempDeliveryWithoutDetail
FROM	
(        


SELECT		SupplierName,
			PurchaseOrderTransId,
			ItemName,
			ItemCode,
			CASE WHEN DeliverySlot = 'D1'
				THEN COUNT(*)
			ELSE 0 
			END AS 'D1',
			CASE WHEN DeliverySlot = 'D2'
				THEN COUNT(*)
			ELSE 0 
			END AS 'D2',
			CASE WHEN DeliverySlot = 'D3'
				THEN COUNT(*)
			ELSE 0 
			END AS 'D3',
			CASE WHEN DeliverySlot = 'D4'
				THEN COUNT(*)
			ELSE 0 
			END AS 'D4',
			CASE WHEN DeliverySlot = 'D5'
				THEN COUNT(*)
			ELSE 0 
			END AS 'D5'
FROM	
(

		SELECT  'below30' AS daysDiff,
				CASE WHEN SUM(Quantity) * 100/RequiredQty >= 90 AND DATEDIFF(day, CAST(DeliveryDate AS DATE),CAST(InwardDate AS DATE)) <= 15
					THEN 'D1'
				WHEN SUM(Quantity) * 100/RequiredQty BETWEEN 80 AND 90
					THEN 'D2'
				WHEN SUM(Quantity) * 100/RequiredQty BETWEEN 50 AND 80
					THEN 'D3'
				WHEN SUM(Quantity) * 100/RequiredQty BETWEEN 20 AND 50
					THEN 'D4'
				END  AS DeliverySlot,
                SUM(Quantity) AS inwardQty,
                RequiredQty AS RequiredQty,
                SUM(Quantity) * 100/RequiredQty AS Percentage,
                CustomerMaster.CustomerName as SupplierName,
                PurchaseOrder_Trans.PurchaseOrderTransId,
                PurchaseItemMaster.ItemName,
                PurchaseItemMaster.ItemCode
        FROM    RawMaterialInwardDetail
                INNER JOIN RawMaterialInward ON RawMaterialInwardDetail.InwardId = RawMaterialInward.InwardId
				And RawMaterialInward.JobIn = 0
                INNER JOIN PurchaseOrder_Trans ON RawMaterialInwardDetail.PurchaseOrderTransId = PurchaseOrder_Trans.PurchaseOrderTransId
                INNER JOIN customermaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId
				INNER join CustomerCompanyMapping on CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
                INNER JOIN PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId
        WHERE   InwardDate between @StartDate AND @EndDate
				AND InwardDate <=  DATEADD(day, 30, DeliveryDate)
				AND RawMaterialInwardDetail.IsPattern = 0
                --AND RawMaterialInward.CustomerId = @SupplierID
--And DATEDIFF(day ,  CAST(PurchaseOrder_Trans.DeliveryDate as date),CAST(InwardDate as date) ) <= 0
                AND PurchaseOrder_Trans.IsDelivered = 1
				AND PurchaseOrder_Trans.IsDeleted = 0
                AND TestResult IS NOT NULL
                AND (@ItemGroupID is null 
					or CustomerMaster.CustomerGroupId = @ItemGroupID)
				AND (@ItemSubGroupID is null
					Or CustomerMaster.CustomerCategoryId = @ItemSubGroupID)
				AND (@ItemTypeID is null
					Or CustomerMaster.CustomerTypeId = @ItemTypeID)
				AND (@SupplierID is null 
					Or CustomerMaster.CustomerId = @SupplierID)
				AND (@EntityID = 0 
					Or CustomerCompanyMapping.CompanyId = @EntityID)
        GROUP BY CustomerMaster.CustomerName,
                PurchaseOrder_Trans.PurchaseOrderTransId,
                PurchaseItemMaster.ItemName,
                PurchaseItemMaster.ItemCode,
                RequiredQty,
                CAST(DeliveryDate AS DATE),
                CAST(InwardDate AS DATE)
                
        UNION 
        
        SELECT  'above30' AS daysDiff,
				'D5' AS DeliverySlot,
                SUM(Quantity) AS inwardQty,
                RequiredQty AS RequiredQty,
                SUM(Quantity) * 100/RequiredQty AS Percentage,
                CustomerMaster.CustomerName as SupplierName,
                PurchaseOrder_Trans.PurchaseOrderTransId,
                PurchaseItemMaster.ItemName,
                PurchaseItemMaster.ItemCode
        FROM    RawMaterialInwardDetail
                INNER JOIN RawMaterialInward ON RawMaterialInwardDetail.InwardId = RawMaterialInward.InwardId
				And RawMaterialInward.JobIn = 0
                INNER JOIN PurchaseOrder_Trans ON RawMaterialInwardDetail.PurchaseOrderTransId = PurchaseOrder_Trans.PurchaseOrderTransId
                INNER JOIN customermaster ON dbo.CustomerMaster.CustomerId = dbo.RawMaterialInward.CustomerId
				INNER join CustomerCompanyMapping on CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
                INNER JOIN PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId
        WHERE   InwardDate BETWEEN @StartDate AND @EndDate
				AND InwardDate > DATEADD(day, 30, DeliveryDate)
				AND RawMaterialInwardDetail.IsPattern = 0
                --AND RawMaterialInward.CustomerId = @SupplierID
--And DATEDIFF(day ,  CAST(PurchaseOrder_Trans.DeliveryDate as date),CAST(InwardDate as date) ) <= 0
                AND PurchaseOrder_Trans.IsDelivered = 1
				AND PurchaseOrder_Trans.IsDeleted = 0
                AND PurchaseOrder_Trans.PurchaseOrderTransId NOT IN (SELECT PurchaseOrderTransId 
																			FROM 	#tempPurchaseOrderTransId)
                AND TestResult IS NOT NULL
                AND (@ItemGroupID is null 
					or CustomerMaster.CustomerGroupId = @ItemGroupID)
				AND (@ItemSubGroupID is null
					Or CustomerMaster.CustomerCategoryId = @ItemSubGroupID)
				AND (@ItemTypeID is null
					Or CustomerMaster.CustomerTypeId = @ItemTypeID)
				AND (@SupplierID is null 
					Or CustomerMaster.CustomerId = @SupplierID)
				AND (@EntityID = 0 
					Or CustomerCompanyMapping.CompanyId = @EntityID)
        GROUP BY CustomerMaster.CustomerName,
                PurchaseOrder_Trans.PurchaseOrderTransId,
                PurchaseItemMaster.ItemName,
                PurchaseItemMaster.ItemCode,
                RequiredQty
                
 ) AS a               
GROUP BY	SupplierName,
			ItemName,
			ItemCode,
			PurchaseOrderTransId  ,
			DeliverySlot
) as b
GROUP BY	SupplierName
OPTION(RECOMPILE)
                
 SELECT		ROW_NUMBER() OVER (ORDER BY #TempDeliveryWithoutDetail.SupplierName) AS SrNo,
			#TempDeliveryWithoutDetail.SupplierName,
			CONVERT(DECIMAL(18, 2), #TempDeliveryWithoutDetail.DeliveryRating) AS DeliveryRating,
			CONVERT(DECIMAL(18, 2), isnull(#TempQualityWithoutDetail.QualityRating, 0)) AS QualityRating,
			CONVERT(DECIMAL(18, 2),(#TempDeliveryWithoutDetail.DeliveryRating+isnull(#TempQualityWithoutDetail.QualityRating, 0))/2) AS TotalMarks
 FROM		#TempDeliveryWithoutDetail   
			left join #TempQualityWithoutDetail
			ON #TempQualityWithoutDetail.SupplierName =   #TempDeliveryWithoutDetail.SupplierName          
		OPTION(RECOMPILE)

		end
		 END

        SELECT  EvaluationCode ,
                EvaluationParameterName ,
                Weightage ,
                CutMarks,
                IsPercentageWise
        FROM    dbo.EvaluationParameterMaster
		OPTION(RECOMPILE)
        
   SELECT S_Evalution FROM dbo.ReportConfiguration	
   OPTION(RECOMPILE)
   
  
end
GO
