USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SaveAutoPlanning]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- modified by :<Hemani Vandra>
-- last modification date: <12th Nov'19>
-- Description:	<all changes related to planning calender>
-- =============================================
CREATE PROCEDURE [dbo].[SaveAutoPlanning]

	@OrderTransID UNIQUEIDENTIFIER, 
	@Casting_ID UNIQUEIDENTIFIER, 
	@ProcessID UNIQUEIDENTIFIER = null, 
	@PlanQty INT, 
	@ProcessWt FLOAT , 
	@ProcessName VARCHAR(100) = null,
	@WorkDateStartTime DATETIME,  
	@WorkdateEndTime DATETIME,
	@ShiftID INT,
	@ProcessType INT ,-- 1 for molding , 2 for core making , 3 for pouring , 4 for cool off , 5 for processes
	@SrNo INT,
	@IsJobWorkProcess INT,
	@PourID INT = 0,
	@SupplierId UNIQUEIDENTIFIER,
	@EntityId int = 0,
	@ProcessIDHT uniqueidentifier = null,
	@IsDone int = 0

AS
BEGIN
  Declare @DeductDays int = 0;
			IF @PlanQty > 0 
			BEGIN									
    
				DECLARE @TimeDiff INT;
			
				SET @TimeDiff = DATEDIFF(MINUTE , @WorkDateStartTime   ,  @WorkdateEndTime);
				
				
				IF @ProcessType <> 4
					EXEC @DeductDays = 
					dbo.[CheckHoliday] 
						@Date = @WorkDateStartTime
						,@EntityId = @EntityId
				
					SET @WorkDateStartTime = DATEADD(DAY , -@DeductDays , @WorkDateStartTime)	;						
					SET @WorkdateEndTime = DATEADD(MI, @TimeDiff, @WorkDateStartTime) ;
				
				----Check if it is holiday or not								
				--IF EXISTS (
				--	SELECT		Holiday_Date 
				--	FROM		HolidayMaster 
				--	WHERE		Holiday_Date = CONVERT(DATE, @WorkDateStartTime)
				--)
				--BEGIN	
								
				--	SET @WorkDateStartTime = DATEADD(DAY , -1 , @WorkDateStartTime)	;						
				--	SET @WorkdateEndTime = DATEADD(MI, @TimeDiff, @WorkDateStartTime) ;

				--END	
				
				---- Check if today is week off or not
				--IF ( DATEPART(DW, @WorkDateStartTime) = ( SELECT	WeekOffDay 
				--										  FROM		configuration)
				--   )
				--BEGIN	
							
				--	SET @WorkDateStartTime = DATEADD(DAY, -1, @WorkDateStartTime) ;		
				--	SET @WorkdateEndTime = DATEADD(MI, @TimeDiff, @WorkDateStartTime) ;	
							
				--END					
		
				--Check if start datetime is less than current date or not
				IF CONVERT(DATE, @WorkDateStartTime) < CONVERT(DATE, GETDATE()) -- if work date less than todays date then it should be todays date so start DATE will be same else start date will be -1 day
				BEGIN

					SET @WorkDateStartTime = GETDATE();
					if 	(@ProcessType = 5 and (@SrNo = 1 or @SrNo = 2))		
					begin	
						SET @WorkdateEndTime = DATEADD(MI, 2, @WorkDateStartTime) ;		
					end
					else
					begin
						SET @WorkdateEndTime = DATEADD(MI, @TimeDiff, @WorkDateStartTime) ;		
					end
																						
				END	
				
				INSERT INTO ##TempPlan
				SELECT		@OrderTransID, 
							@Casting_ID , 
							@ProcessID ,
							@ProcessName, 
							@PlanQty , 
							(@PlanQty * @ProcessWt) AS TotalWeight , 
							@WorkDateStartTime AS StartTime,  
							@WorkdateEndTime AS EndTime , 
							@ShiftID, 
							@SrNo ,
							@IsJobWorkProcess,
							@SupplierId
							--,
							--Isnull(@IsDone,0),
							--@ProcessType;					 
				
				IF @ProcessType = 5
				BEGIN

					INSERT INTO AutoProductionProcessPlan (
									OrderTransID,
									CastingID,
									ProcessID,
									PlanQty,
									Weight,
									PlanDateStartTime,
									PlanDateEndTime,
									ShiftId,
									SrNo,
									IsJobWorkProcess,
									SupplierId,
									EntityId,
									ProcessIdHTCycle
								)
					SELECT		@OrderTransID, 
								@Casting_ID , 
								@ProcessID , 
								@PlanQty , 
								(@PlanQty * @ProcessWt) AS TotalWeight , 
								@WorkDateStartTime AS StartTime,  
								@WorkdateEndTime AS EndTime,
								@ShiftID,
								@SrNo,
								@IsJobWorkProcess,
								@SupplierId ,
								@EntityId,
								@ProcessIDHT	
												 
				END	

				IF @ProcessType = 3
				BEGIN

					--IF EXISTS (
					--	SELECT		*
					--	FROM		AutoPourPlan
					--	WHERE		OrdertransID = @OrderTransID
					--				AND SrNo = @SrNo
					--)
					--BEGIN
					
					--	UPDATE		AutoPourPlan
					--	SET			PlanDateStartTime = @WorkDateStartTime,
					--				PlanDateEndTime = @WorkdateEndTime
					--	WHERE		OrdertransID = @OrderTransID
					--				AND SrNo = @SrNo

					--END
					--ELSE 
					--BEGIN

						INSERT INTO AutoPourPlan (
										OrderTransID,
										CastingID,
										PourQty,
										Weight,
										PlanDateStartTime,
										PlanDateEndTime,
										ShiftId, 
										SrNo,
										EntityId
									)
						SELECT		@OrderTransID, 
									@Casting_ID , 
									@PlanQty , 
									(@PlanQty * @ProcessWt) as TotalWeight , 
									@WorkDateStartTime as StartTime,  
									@WorkdateEndTime as EndTime ,
									@ShiftID, 
									@SrNo,
									@EntityId									
					
				--	END

				END				
					
				IF @ProcessType = 2
				BEGIN

					INSERT INTO AutoCorePlan (
									OrderTransID,
									CastingID,
									CoreID,
									CoreQty,
									Weight,
									PlanDateStartTime,
									PlanDateEndTime,
									ShiftId, 
									SrNo,
									EntityId
								)
					SELECT		@OrderTransID, 
								@Casting_ID,
								@ProcessID , 
								@PlanQty , 
								(@PlanQty * @ProcessWt) AS TotalWeight , 
								@WorkDateStartTime AS StartTime,  
								@WorkdateEndTime AS EndTime,
								@ShiftId, 
								@SrNo,
								@EntityId	
																
				END

				IF @ProcessType = 1
				BEGIN			
								
					INSERT INTO AutoMoldPlan (
									OrderTransID,
									CastingID,
									NoOfMold,
									Weight,
									PlanDateStartTime,
									PlanDateEndTime,
									ShiftId, 
									SrNo,
									PourID,
									EntityId
								)
					SELECT		@OrderTransID, 
								@Casting_ID , 
								@PlanQty , 
								(@PlanQty * @ProcessWt) AS TotalWeight , 
								@WorkDateStartTime AS StartTime,  
								@WorkdateEndTime AS EndTime,
								@ShiftId, 
								@SrNo,
								@PourID,
								@EntityId												
				
				END

			END

END
GO
