USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchConvertToPartNoFromCastingProcess]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[FetchConvertToPartNoFromCastingProcess]
    @CastingID Uniqueidentifier,
    @MetalID int,
    @ProcessID Uniqueidentifier,
    @Parameter int
AS
    BEGIN
    
		IF @Parameter = 1
		BEGIN
			IF EXISTS (Select PartID from CastingPartNo where CastingId=@CastingID and MetalID=@MetalID and ProcessId=@ProcessID And isnull(CastingPartNo.IsDeleted,0)=0)
			BEGIN
				SELECT DISTINCT  CastingMaster.CastingId as CastingId , CastingMaster.CastingCode as CastingCode
				FROM    CastingPartNo 
				INNER JOIN CastingMaster ON CastingPartNo.PartId = CastingMaster.CastingId
				where CastingPartNo.CastingId=@CastingID 
				And CastingPartNo.MetalID=@MetalID 
				and ProcessId=@ProcessID
				And isnull(CastingPartNo.IsDeleted,0)=0
			END
			ELSE
				Select CastingId,Castingcode from CastingMaster where CastingId=@CastingID
        END               
							
    END
GO
