USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmpDailyAttendPerformance]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[SP_EmpDailyAttendPerformance]
	@Parameter INT = 0 ,
	@EntityId INT = 0 ,  
    @isFilterDeleteFlag INT = 0 ,
    @isFilterActiveFlag INT = 1,
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    @IsGroupWise bit = 0,
    @EmployeeId int = 0 ,
     @IsDepartWise BIT = 0,
    @ActualWorkingTime bit = 0

AS
BEGIN
		IF ( @Parameter =1 )
        BEGIN

		SELECT   EmployeeCode AS EmployeeCode ,
				 EmployeeDetails.CardNo, 
				 (ISNULL(EmployeeName, '') + ' '+ ISNULL(LastName, '') ) AS EmployeeName ,
				  CASE WHEN EmployeeAttendance.StartTime is null /*or IsConsiderAbsent = 1*/  then  
					      '-' else  isnull(ShiftName,'')  end  AS Shift ,	
				 CASE WHEN EmployeeAttendance.StartTime is null /*or IsConsiderAbsent = 1*/  then  
					      '-' else CONVERT(varchar(5),  HRShiftMaster.StartTime, 108) end as StartTime,		
			     CASE WHEN EmployeeAttendance.StartTime is null /*or IsConsiderAbsent = 1*/ then  
					      '-' else CONVERT(varchar(5),  HRShiftMaster.EndTime, 108) end as EndTime,
				 CASE WHEN EmployeeAttendance.StartTime is null /*or IsConsiderAbsent = 1*/  then  
					      '-' else  CONVERT(varchar(5), EmployeeAttendance.StartTime, 108) end as InTime,				   
				 CASE WHEN EmployeeAttendance.StartTime is null /*or IsConsiderAbsent = 1*/  then  
					      '-' else 
						  Case When @ActualWorkingTime = 1 
							 then CONVERT(varchar(5), EmployeeAttendance.ActEndTime, 108)
							 else CONVERT(varchar(5), EmployeeAttendance.EndTime, 108) end end as OutTime,
				 -- EmployeeAttendance.EndTime as OutTime ,
				  convert(char(8),Hours, 8)  as HoursWorked,
							 
				  CASE  When Holiday.HolidayDate is not null then
					     'H'
					    WHEN EmployeeAttendance.StartTime is null or EmployeeAttendance.EndTime is null or IsConsiderAbsent = 1  then  
					      'A' 
					    else 'P' end  as Status, 
				  CASE WHEN EmployeeAttendance.StartTime is null or IsConsiderAbsent = 1  then  
					      '00:00' else 
						  case when (HRShiftMaster.StartTime  > EmployeeAttendance.StartTime ) then
						  convert(varchar(5),DateDiff(s, EmployeeAttendance.StartTime,HRShiftMaster.StartTime )/3600)+':'+convert(varchar(5),DateDiff(s, EmployeeAttendance.StartTime,HRShiftMaster.StartTime )%3600/60) 
						  else '00:00' end end as  EarlyArrival,

				   CASE WHEN EmployeeAttendance.StartTime is null or IsConsiderAbsent = 1  then  
					    '00:00' else  case when ( EmployeeAttendance.StartTime > HRShiftMaster.StartTime ) then
						        convert(varchar(5),DateDiff(s,HRShiftMaster.StartTime, EmployeeAttendance.StartTime)/3600)+':'+convert(varchar(5),DateDiff(s, HRShiftMaster.StartTime, EmployeeAttendance.StartTime )%3600/60)
								else '00:00' end end as  LateArrival,
				  CASE WHEN EmployeeAttendance.StartTime is null or IsConsiderAbsent = 1  then  
					      '00:00' else case when ( EmployeeAttendance.EndTime < HRShiftMaster.EndTime ) then				 
						  convert(varchar(5),DateDiff(s, EmployeeAttendance.EndTime, HRShiftMaster.EndTime)/3600)+':'+convert(varchar(5),DateDiff(s, EmployeeAttendance.EndTime, HRShiftMaster.EndTime )%3600/60) 
						  else '00:00' end end as EarlyDeparture , 	
				  	  
				  CASE WHEN EmployeeAttendance.StartTime is null or IsConsiderAbsent = 1  then  
					      '00:00' else case when ( EmployeeAttendance.EndTime > HRShiftMaster.EndTime ) then				 
								  convert(varchar(5),DateDiff(s,HRShiftMaster.EndTime,EmployeeAttendance.EndTime)/3600)+':'+convert(varchar(5),DateDiff(s, HRShiftMaster.EndTime,EmployeeAttendance.EndTime)%3600/60) 
								  else '00:00' end end as LateDeparture , 
				  
				   CASE WHEN EmployeeAttendance.StartTime is null or IsConsiderAbsent = 1  then  
					      '00:00' else CONVERT(varchar(5), EmployeeAttendance.AwayHrs, 108) end as AwayHrs,
				  case when @IsGroupWise =  1	then		
				  case when EmployeeGroupId = 0  then 'Other' else CommonData_Master.DisplayName end 
				  else ' ' end as GroupName,
							  
				  EmployeeGroupId,
				  EmployeeDetails.EmployeeId,
				  
				  case when EmployeeGroupId = 0 then '99999'
				  else  Row_number() Over(Partition by EmployeeGroupId order by EmployeeGroupId) end   as rw,	
			
				 CASE WHEN EmployeeAttendance.StartTime is null or IsConsiderAbsent = 1  then  
					      '00:00' else
						  case when EmployeeDetails.OTCalculation  = 1 then		
						  CASE  WHEN DATEDIFF(MINUTE, EmployeeAttendance.StartTime, EmployeeAttendance.EndTime) >
						   (
							   CAST(SUBSTRING(ShiftHR, 1, CHARINDEX(':', ShiftHR) - 1) AS INT) * 60 +
							   CAST(SUBSTRING(ShiftHR, CHARINDEX(':', ShiftHR) + 1, 2) AS INT)
						   ) then	
						 -- case when ( (convert(varchar(5),DateDiff(s,  EmployeeAttendance.StartTime,EmployeeAttendance.EndTime )/3600)+':'+convert(varchar(5),DateDiff(s,EmployeeAttendance.StartTime,EmployeeAttendance.EndTime )%3600/60) ) > ShiftHR) then	
						  (convert(varchar(5),DateDiff(s,  ShiftHR,EmployeeAttendance.Hours )/3600)+':'+convert(varchar(5),DateDiff(s, ShiftHR,EmployeeAttendance.Hours)%3600/60) )
						  end else '00:00' end end  as OT ,
				   case when @IsGroupWise =  1	then		
									case when (EmpDept_Id IS NULL  or EmpDept_Id = CAST(0x0 AS UNIQUEIDENTIFIER)) 
									then 'Other' else DepartmentName end 
									else ' ' end as DepartmentName	,
				 case when (EmpDept_Id is null  or EmpDept_Id = CAST(0x0 AS UNIQUEIDENTIFIER)) then 
				     '99999'
				 else  Row_number() Over(Partition by EmpDept_Id order by EmpDept_Id ) end   as rw1	,
				 EmpDept_Id,
			      CASE WHEN EmployeeAttendance.StartTime is null or IsConsiderAbsent = 1  then  
					      '00:00' else
						Case When @ActualWorkingTime = 1 
						then convert(char(5),ActHours, 8) 
						else convert(char(5),Hours, 8) end end as WorkDuration	
			         
		   FROM  dbo.EmployeeDetails

		   left join  EmployeeAttendance on EmployeeAttendance.EmployeeId = EmployeeDetails.EmployeeId and cast(AttendanceDate as DATE)= cast(@StartDate  as DATE) 	   
			left join   ( SELECT	*,
							case when StartTime > EndTime
							then   CONVERT(varchar(5), DATEADD(minute, DATEDIFF(MINUTE, 
									CONVERT(DATETIME, CONVERT(CHAR(8), GETDATE(), 112)  + ' ' + CONVERT(CHAR(8), StartTime, 108)), 
									DATEADD(DAY, 1, CONVERT(DATETIME, CONVERT(CHAR(8), GETDATE(), 112)  + ' ' + CONVERT(CHAR(8), EndTime, 108)))
								), 0) , 114)
							else  (convert(varchar(5),DateDiff(s,  HRShiftMaster.StartTime,HRShiftMaster.EndTime )/3600)+':'+convert(varchar(5),DateDiff(s,HRShiftMaster.StartTime,HRShiftMaster.EndTime )%3600/60) ) end AS ShiftHR
					 FROM HRShiftMaster
				     ) AS HRShiftMaster  on HRShiftMaster.ShiftId = EmployeeAttendance.shiftId
			   --AS HRShiftMaster  on HRShiftMaster.ShiftId = EmployeeDetails.ShiftId
			  -- left join EmployeeAttendance on EmployeeAttendance.EmployeeId = EmployeeDetails.EmployeeId and cast(AttendanceDate as DATE)= cast(@StartDate  as DATE)
			   left join CommonData_Master on EmployeeDetails.EmployeeGroupId = CommonData_Master.CommonDataId
						 and CommonData_Master.IsDeleted = 0 and [Group] = 'EmployeeGroup' 
			   left join SystemDepartment sydp on EmployeeDetails.EmpDept_Id = sydp.DepartmentID
					and sydp.ifActice = 1  
				LEFT JOIN (
							-- Step 1: The Derived Table to Join the Holiday Information
							SELECT HolidayDateMapping.HolidayDate,HolidayTemplateMapping.ParentId
							  FROM HolidayMaster
							INNER JOIN HolidayTemplateMapping 
								ON HolidayTemplateMapping.HolidayId = HolidayMaster.HolidayId
							INNER JOIN HolidayDateMapping 
								ON HolidayDateMapping.HolidayId = HolidayMaster.HolidayId
							WHERE 
								HolidayMaster.IsDeleted = 0
								AND CAST(HolidayDateMapping.HolidayDate AS DATE) = CAST(@StartDate AS DATE)
						) AS Holiday 
							ON Holiday.ParentId = ISNULL(
								-- Step 2: OUTER APPLY for TemplateLog logic
								(SELECT TOP 1 TL.ParentId 
								 FROM TemplateLog TL 
								 WHERE 
									 TL.Emp_Id = EmployeeDetails.EmployeeId 
									 AND CAST(TL.Date_Field AS DATE) <= CAST(@StartDate AS DATE)
								), 
								EmployeeDetails.HolidayParentId
							)


       --       left join(
			               
			    --           select HolidayDateMapping.HolidayDate,HolidayTemplateMapping.ParentId
						 --    from HolidayMaster , HolidayTemplateMapping ,HolidayDateMapping
							--where HolidayTemplateMapping.HolidayId = HolidayMaster.HolidayId 
							--  and HolidayDateMapping.HolidayId = HolidayMaster.HolidayId
							--  and HolidayMaster.Isdeleted = 0
       --                       and  cast(HolidayDateMapping.HolidayDate as DATE)= cast(@StartDate  as DATE) 
			    --        ) as Holiday on  Holiday.ParentId = EmployeeDetails.HolidayParentId

			
			   where (	(isActive=1 and IsInitialExit = 0 )
						--or (isActive=0) 
						or  (IsInitialExit = 1  and InitialExitDate > @StartDate ) 
					)
					AND dbo.EmployeeDetails.IsDelete = 0
					 AND IsDummy = 0
					 AND (EmployeeDetails.ShowInHR = 1)
					 AND EmployeeDetails.EntityId = @EntityId
				--	 and EmployeeType= 1
					 and (@EmployeeId= 0 or EmployeeDetails.EmployeeId= @EmployeeId)	
			         
					group by  EmployeeGroupId 
					,CommonData_Master.DisplayName,EmployeeCode,EmployeeName,ShiftName,
					EmployeeAttendance.StartTime,EmployeeAttendance.EndTime,
					LastName,AttendanceDate,EmployeeAttendance.Hours,
					HRShiftMaster.StartTime,
					HRShiftMaster.EndTime,EmployeeDetails.EmployeeId,
					EmployeeAttendance.AwayHrs,
					EmployeeDetails.CardNo,
					EmployeeDetails.OTCalculation ,
					ShiftHR,departmentName,ActHours,EmployeeAttendance.ActEndTime,
					IsConsiderAbsent,EmpDept_Id,Holiday.HolidayDate
					
					  order by rw,rw1,[groupname],departmentName, EmployeeGroupId  ,EmpDept_Id, EmployeeCode
  END
  
END

GO
