USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ProcesswiseTransferData]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ProcesswiseTransferData]
    @ProcessId UNIQUEIDENTIFIER = NULL ,
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL,
     @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
        SET NOCOUNT ON;
        SELECT  CONVERT(VARCHAR(11), ProcessTransferDate, 106) AS Date ,
                SUM(TransferQty * CastingMetal.CastingNetWeight) AS Qty
        FROM    dbo.InHouseProcessStockTransfer
                INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.InHouseProcessStockTransfer.CastingID
                INNER JOIN dbo.CastingMetal ON dbo.CastingMetal.castingID = dbo.CastingMaster.CastingId
                
        WHERE   TransferToProcessID = @ProcessId
                AND ProcessTransferDate BETWEEN @StartDate
                                        AND     @EndDate
                AND ( @PlantIdString IS NULL
                      OR @PlantIdString = ''
                      OR InHouseProcessStockTransfer.CastingId IN (
                      SELECT    CastingId
                      FROM      dbo.PlantCastingMapping
                         where PlantId in (SELECT Item FROM @Plant) )
                    )
                AND InHouseProcessStockTransfer.EntityID = @EntityId
        GROUP BY ProcessTransferDate
        ORDER BY ProcessTransferDate
        
         
    END
GO
