USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Set]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Set 7
CREATE PROCEDURE [dbo].[Set]
    @parameter INT = NULL ,
    @SetId UNIQUEIDENTIFIER = NULL ,
    @SetName VARCHAR(100) = NULL ,
    @SetCode VARCHAR(100) = NULL ,
    @DrawingNo VARCHAR(50) = NULL ,
    @Remarks VARCHAR(MAX) = NULL ,
    @SetWeight FLOAT = NULL ,
    @SetRate FLOAT = NULL ,
    @TotalCastingQty INT = NULL ,
    @IsDeleted INT = NULL ,
    @CreatedBy INT = NULL ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = NULL ,
    @ModifiedOn DATETIME = NULL ,
    @DeletedBy INT = NULL ,
    @DeletedOn DATETIME = NULL ,
    @EntityID INT = NULL ,
    @SetCastingMappingTable XML = NULL ,
    @SetCustomerMappingTable XML = NULL ,
    @SetCastingMappingDeleteList VARCHAR(MAX) = NULL ,
    @CastingId UNIQUEIDENTIFIER = NULL ,
    @CastingName VARCHAR(100) = NULL ,
    @CustomerId UNIQUEIDENTIFIER = NULL ,
    @PageNumber INT = 0 ,
    @PageSize INT = 0 ,
    @InitialLoad INT = 0 ,
    @Rate FLOAT = NULL ,
    @ApplyDate DATETIME = NULL ,
    @ShowHistory BIT = NULL ,
    @Currency INT = 0 ,
    @CurrencyMultiplier FLOAT = 0 ,
    @TariffCodeXML XML = NULL ,
    @TariffCode VARCHAR(50) = NULL ,
    @MetalId INT = 0 ,
    @PlantIdString VARCHAR(MAX) = NULL,
    @PendingAllocation BIT = 0   
    ,@PlantId int = 0
AS
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
    DECLARE @SetCastingMappingID UNIQUEIDENTIFIER ,
        @Qty INT ,
        @SrNo INT ,
        @SQL VARCHAR(MAX) ,
        @TotalRecords INT
    IF @parameter = 1			-- Insert Set Master
        BEGIN
            SET @SetId = NEWID()
            INSERT  INTO dbo.SetMaster
                    ( SetId ,
                      SetName ,
                      SetCode ,
                      SetWeight ,
                      DrawingNo ,
                      Remarks ,
                      IsDeleted ,
                      CreatedBy ,
                      CreatedOn ,
                      EntityID
                    )
            VALUES  ( @SetId ,
                      @SetName ,
                      @SetCode ,
                      @SetWeight ,
                      @DrawingNo ,
                      @Remarks ,
                      @IsDeleted ,
                      @CreatedBy ,
                      @CreatedOn ,
                      @EntityID
                    )
            DECLARE SetCastingMap CURSOR
            FOR
                SELECT  Node.value('(SrNo )[1]', 'int') AS 'SrNo' ,
                        Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,
                        Node.value('(MetalId )[1]', 'int') AS 'MetalId' ,
                        Node.value('(Qty )[1]', 'int') AS 'Qty'
                FROM    @SetCastingMappingTable.nodes('/DocumentElement/SetCastingMappingTable')
                        AS TEMPXML ( Node )	
            OPEN SetCastingMap;
            FETCH NEXT FROM SetCastingMap INTO @SrNo, @CastingId, @MetalId,
                @Qty
 
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN 
                    INSERT  INTO SetCastingMapping
                            ( SetId ,
                              CastingId ,
                              MetalId ,
                              Qty ,
                              IsDeleted ,
                              SrNo
                            )
                    VALUES  ( @SetId ,
                              @CastingId ,
                              @MetalId ,
                              @Qty ,
                              @IsDeleted ,
                              @SrNo
                            )
                    FETCH NEXT FROM SetCastingMap INTO @SrNo, @CastingId,
                        @MetalId, @Qty
                END 
            CLOSE SetCastingMap;
            DEALLOCATE SetCastingMap;	
            DECLARE SetCustomerMap CURSOR
            FOR
                SELECT  Node.value('(SrNo )[1]', 'int') AS 'SrNo' ,
                        Node.value('(CustomerId )[1]', 'uniqueidentifier') AS 'CastingId'
                FROM    @SetCustomerMappingTable.nodes('/DocumentElement/SetCustomerMappingTable')
                        AS TEMPXML ( Node )	
            OPEN SetCustomerMap;
            FETCH NEXT FROM SetCustomerMap INTO @SrNo, @CustomerId
 
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN 
                    INSERT  INTO dbo.SetCustomerMapping
                            ( SetId ,
                              CustomerId ,
                              IsDeleted ,
                              SrNo
                            )
                    VALUES  ( @SetId ,
                              @CustomerId ,
                              @IsDeleted ,
                              @SrNo
                            )
                    FETCH NEXT FROM SetCustomerMap INTO @SrNo, @CustomerId
                END 
            CLOSE SetCustomerMap;
            DEALLOCATE SetCustomerMap;	
        END

    IF @parameter = 2			-- Fetch Set Master Details
        BEGIN
            IF @InitialLoad = 1
                BEGIN
                    SELECT TOP ( @PageSize )
                            *
                    FROM    ( SELECT TOP ( @PageSize )
                                        ROW_NUMBER() OVER ( ORDER BY SetName ASC ) AS RowNo ,
                                        SetId ,
                                        SetName ,
                                        SetCode ,
                                        SetWeight ,
                                        DrawingNo ,
                                        Remarks ,
                                        IsDeleted ,
                                        CreatedBy ,
                                        CreatedOn ,
                                        ModifiedBy ,
                                        ModifiedOn ,
                                        DeletedBy ,
                                        DeletedOn ,
                                        EntityID ,
                                        IsSynced AS IsTallySync
                              FROM      SetMaster
                              WHERE     ( @SetId IS NULL
                                          OR SetId = @SetId
                                        )
                                        AND ( @SetName IS NULL
                                              OR SetName = @SetName
                                            )
                                        AND ( @CastingName IS NULL
                                              OR SetId IN (
                                              SELECT    SetId
                                              FROM      dbo.SetCastingMapping
                                                        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.SetCastingMapping.CastingId
                                              WHERE     CastingName = @CastingName
                                                        AND SetCastingMapping.IsDeleted = 0 )
                                            )
                                        AND ( @CastingId IS NULL
                                              OR SetId IN (
                                              SELECT    SetId
                                              FROM      dbo.SetCastingMapping
                                              WHERE     CastingId = @CastingId
                                                        AND SetCastingMapping.IsDeleted = 0 )
                                            )
                                        AND ( @CustomerId IS NULL
                                              OR SetId IN (
                                              SELECT    SetId
                                              FROM      dbo.SetCustomerMapping
                                              WHERE     CustomerId = @CustomerId
                                                        AND SetCustomerMapping.IsDeleted = 0 )
                                            )
                            ) AS SetMaster
                    WHERE   SetMaster.RowNo > ( @PageNumber * @PageSize )
                    ORDER BY SetName ASC
                END
            ELSE
                BEGIN
                    SELECT  *
                    FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY SetName ASC ) AS RowNo ,
                                        SetId ,
                                        SetName ,
                                        SetCode ,
                                        SetWeight ,
                                        DrawingNo ,
                                        Remarks ,
                                        IsDeleted ,
                                        CreatedBy ,
                                        CreatedOn ,
                                        ModifiedBy ,
                                        ModifiedOn ,
                                        DeletedBy ,
                                        DeletedOn ,
                                        EntityID ,
                                        IsSynced AS IsTallySync
                              FROM      SetMaster
                              WHERE     ( @SetId IS NULL
                                          OR SetId = @SetId
                                        )
                                        AND ( @SetName IS NULL
                                              OR SetName = @SetName
                                            )
                                        AND ( @CastingName IS NULL
                                              OR SetId IN (
                                              SELECT    SetId
                                              FROM      dbo.SetCastingMapping
                                                        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.SetCastingMapping.CastingId
                                              WHERE     CastingName = @CastingName
                                                        AND SetCastingMapping.IsDeleted = 0 )
                                            )
                                        AND ( @CastingId IS NULL
                                              OR SetId IN (
                                              SELECT    SetId
                                              FROM      dbo.SetCastingMapping
                                              WHERE     CastingId = @CastingId
                                                        AND SetCastingMapping.IsDeleted = 0 )
                                            )
                                        AND ( @CustomerId IS NULL
                                              OR SetId IN (
                                              SELECT    SetId
                                              FROM      dbo.SetCustomerMapping
                                              WHERE     CustomerId = @CustomerId
                                                        AND SetCustomerMapping.IsDeleted = 0 )
                                            )
                            ) AS SetMaster
                    WHERE   SetMaster.RowNo > ( @PageNumber * @PageSize )
                    ORDER BY SetName ASC
                END
                
           -- WHERE   IsDeleted = 0
            SELECT  COUNT(*) AS TotalRecords
            FROM    SetMaster
            WHERE   ( @SetId IS NULL
                      OR SetId = @SetId
                    )
                    AND ( @SetName IS NULL
                          OR SetName = @SetName
                        )
                    AND ( @CastingName IS NULL
                          OR SetId IN (
                          SELECT    SetId
                          FROM      dbo.SetCastingMapping
                                    INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.SetCastingMapping.CastingId
                          WHERE     CastingName = @CastingName
                                    AND SetCastingMapping.IsDeleted = 0 )
                        )
                    AND ( @CastingId IS NULL
                          OR SetId IN (
                          SELECT    SetId
                          FROM      dbo.SetCastingMapping
                          WHERE     CastingId = @CastingId
                                    AND SetCastingMapping.IsDeleted = 0 )
                        )
                    AND ( @CustomerId IS NULL
                          OR SetId IN (
                          SELECT    SetId
                          FROM      dbo.SetCustomerMapping
                          WHERE     CustomerId = @CustomerId
                                    AND SetCustomerMapping.IsDeleted = 0 )
                        )
                            
        END

    IF @parameter = 3			-- Update Set Master
        BEGIN
            UPDATE  SetMaster
            SET     SetName = @SetName ,
                    SetCode = @SetCode ,
                    SetWeight = @SetWeight ,
                    DrawingNo = @DrawingNo ,
                    Remarks = @Remarks ,
                    ModifiedBy = @ModifiedBy ,
                    ModifiedOn = @ModifiedOn ,
                    EntityID = @EntityID
            WHERE   ( SetId = @SetId )
            
            DECLARE SetCastingMap CURSOR
            FOR
                SELECT  Node.value('(SetCastingMappingId )[1]',
                                   'uniqueidentifier') AS 'SetCastingMappingId' ,
                        Node.value('(SrNo )[1]', 'int') AS 'SrNo' ,
                        Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,
                        Node.value('(MetalId )[1]', 'int') AS 'MetalId' ,
                        Node.value('(Qty )[1]', 'int') AS 'Qty'
                FROM    @SetCastingMappingTable.nodes('/DocumentElement/SetCastingMappingTable')
                        AS TEMPXML ( Node )	
            OPEN SetCastingMap;
            FETCH NEXT FROM SetCastingMap INTO @SetCastingMappingId, @SrNo,
                @CastingId, @MetalId, @Qty
 
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN 
                    IF ( EXISTS ( SELECT    SetCastingMappingid
                                  FROM      dbo.SetCastingMapping
                                  WHERE     SetCastingMappingId = @SetCastingMappingId
                                            AND IsDeleted = 0 ) )
                        BEGIN 
                            UPDATE  SetCastingMapping
                            SET     CastingId = @CastingId ,
                                    MetalId = @MetalId ,
                                    Qty = @Qty ,
                                    SrNo = @SrNo
                            WHERE   SetCastingMappingId = @SetCastingMappingId
                        END 
                    ELSE
                        BEGIN 
                            INSERT  INTO SetCastingMapping
                                    ( SetId ,
                                      CastingId ,
                                      MetalId ,
                                      Qty ,
                                      IsDeleted ,
                                      SrNo
                                    )
                            VALUES  ( @SetId ,
                                      @CastingId ,
                                      @MetalId ,
                                      @Qty ,
                                      0 ,
                                      @SrNo
                                    )
                        END 
                    FETCH NEXT FROM SetCastingMap INTO @SetCastingMappingId,
                        @SrNo, @CastingId, @MetalId, @Qty
                END 
            CLOSE SetCastingMap;
            DEALLOCATE SetCastingMap;	
            
            IF @SetCastingMappingDeleteList IS NOT NULL
                BEGIN
                    SET @SQL = ' UPDATE dbo.SetCastingMapping SET IsDeleted=1 WHERE SetCastingMappingID IN ('
                        + @SetCastingMappingDeleteList + ')'
                    EXEC(@SQL)
                END 
                
            DELETE  FROM dbo.SetCustomerMapping
            WHERE   setid = @SetId
            DECLARE SetCustomerMap CURSOR
            FOR
                SELECT  Node.value('(SrNo )[1]', 'int') AS 'SrNo' ,
                        Node.value('(CustomerId )[1]', 'uniqueidentifier') AS 'CastingId'
                FROM    @SetCustomerMappingTable.nodes('/DocumentElement/SetCustomerMappingTable')
                        AS TEMPXML ( Node )	
            OPEN SetCustomerMap;
            FETCH NEXT FROM SetCustomerMap INTO @SrNo, @CustomerId
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN 
                    INSERT  INTO dbo.SetCustomerMapping
                            ( SetId, CustomerId, IsDeleted, SrNo )
                    VALUES  ( @SetId, @CustomerId, 0, @SrNo )
                    FETCH NEXT FROM SetCustomerMap INTO @SrNo, @CustomerId
                END 
            CLOSE SetCustomerMap;
            DEALLOCATE SetCustomerMap;
            
        END

    IF @parameter = 4			-- Delete from Set Master
        BEGIN

            UPDATE  SetMaster
            SET     IsDeleted = '1' ,
                    DeletedBy = @DeletedBy ,
                    DeletedOn = @DeletedOn
            WHERE   Setid = @SetId


        END
    IF @parameter = 5			-- Delete from Set Master
        BEGIN

            UPDATE  SetMaster
            SET     IsDeleted = '0'
            WHERE   Setid = @SetId


        END

    IF @parameter = 6
 			-- Fetch Set Master Details
        BEGIN

            SELECT  SetId ,
                    SetName ,
                    SetCode ,
                    SetWeight ,
                    DrawingNo ,
                    Remarks ,
                    IsDeleted ,
                    CreatedBy ,
                    CreatedOn ,
                    ModifiedBy ,
                    ModifiedOn ,
                    DeletedBy ,
                    DeletedOn ,
                    EntityID
            FROM    SetMaster
            WHERE   SetId = @SetId
            SELECT  SetCastingMapping.SetCastingMappingID ,
                    SetCastingMapping.SetId ,
                    SetCastingMapping.CastingId ,
                    SetCastingMapping.MetalId ,
                    MetalMaster.MetalName ,
                    SetCastingMapping.Qty ,
                    CastingMaster.CastingNetWeight AS CastingPerPcWeight ,
                    SetCastingMapping.Qty * CastingMaster.CastingNetWeight AS CastingNetWeight ,
                    SetCastingMapping.IsDeleted ,
                    SetCastingMapping.SrNo ,
                    CastingMaster.CastingName ,
                    CastingMaster.CastingCode
            FROM    SetCastingMapping
                    INNER JOIN CastingMaster ON SetCastingMapping.CastingId = CastingMaster.CastingId
                    INNER JOIN dbo.MetalMaster ON SetCastingMapping.MetalId = MetalMaster.MetalId
            WHERE   ( SetCastingMapping.SetId = @SetId )
                    AND SetCastingMapping.IsDeleted = 0
            ORDER BY dbo.SetCastingMapping.SrNo
            SELECT  SetCustomerMapping.SetCustomerMappingID ,
                    SetCustomerMapping.SetId ,
                    SetCustomerMapping.CustomerId ,
                    SetCustomerMapping.IsDeleted ,
                    SetCustomerMapping.SrNo ,
                    CustomerMaster.CustomerName
            FROM    SetCustomerMapping
                    INNER JOIN CustomerMaster ON SetCustomerMapping.CustomerId = CustomerMaster.CustomerId
            WHERE   ( SetCustomerMapping.SetId = @SetId )
                    AND ( SetCustomerMapping.IsDeleted = 0 )
            ORDER BY dbo.SetCustomerMapping.SrNo

        END
    IF @Parameter = 7
        BEGIN

            SELECT DISTINCT
                    SetName
            FROM    dbo.SetMaster
            WHERE   IsDeleted = 0
                    AND ( @SetId IS NULL
                          OR SetId = @SetId
                        )
                    AND ( @CustomerId IS NULL
                          OR SetId IN (
                          SELECT    SetId
                          FROM      dbo.SetCustomerMapping
                          WHERE     CustomerId = @CustomerId
                                    AND SetCustomerMapping.IsDeleted = 0 )
                        )
                     AND EntityID = @EntityID
            ORDER BY SetName ASC

        END


    IF @Parameter = 8
        BEGIN

            SELECT DISTINCT
                    SetID ,
                    SetCode
            FROM    dbo.SetMaster
            WHERE   IsDeleted = 0
                    AND ( @SetName IS NULL
                          OR SetName = @SetName
                        )
                    AND ( @CustomerId IS NULL
                          OR SetId IN (
                          SELECT    SetId
                          FROM      dbo.SetCustomerMapping
                          WHERE     CustomerId = @CustomerId
                                    AND SetCustomerMapping.IsDeleted = 0 )
                        )
                     AND EntityID = @EntityID
            ORDER BY SetCode ASC

        END

    IF @Parameter = 9
        BEGIN

            SELECT  dbo.SetMaster.SetID
            FROM    dbo.SetMaster
            WHERE   SetCode = @SetCode
                    AND ( @SetID IS NULL
                          OR SetID <> @SetID
                        )
            ORDER BY SetCode ASC

        END



    IF @Parameter = 10
        BEGIN



            DECLARE @SetRate_Id UNIQUEIDENTIFIER
            IF ( EXISTS ( SELECT    *
                          FROM      dbo.SetRateMaster
                          WHERE     CustomerId = @CustomerId
                                    AND SetId = @SetId ) )
                BEGIN
                    INSERT  INTO dbo.SetRateMasterHistory
                            ( CustomerId ,
                              SetId ,
                              Rate ,
                              ApplyDate ,
                              CreatedBy ,
                              CreatedOn ,
                              Currency ,
                              CurrencyMultiplier
	                        )
                            SELECT  CustomerId ,
                                    SetId ,
                                    Rate ,
                                    ApplyDate ,
                                    @CreatedBy,
                                    GETDATE() ,
                                    Currency ,
                                    CurrencyMultiplier
                            FROM    dbo.SetRateMaster
                            WHERE   CustomerId = @CustomerId
                                    AND SetId = @SetId
                                    
                                    
                    UPDATE  dbo.SetRateMaster
                    SET     Rate = @Rate ,
                            ApplyDate = @ApplyDate ,
                            Currency = @Currency ,
                            CurrencyMultiplier = @CurrencyMultiplier ,
                            ModifiedOn = GETDATE(),
                            ModifiedBy=@CreatedBy
                    WHERE   CustomerId = @CustomerId
                            AND SetId = @SetId
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
            
                END
            ELSE
                BEGIN
                    INSERT  INTO SetRateMaster
                            ( CustomerID ,
                              SetID ,
                              Rate ,
                              ApplyDate ,
                              CreatedBY ,
                              CreatedOn ,
                              ModifiedBy ,
                              ModifiedOn ,
                              Currency ,
                              CurrencyMultiplier
                            )
                    VALUES  ( @CustomerID ,
                              @SetId ,
                              @Rate ,
                              @ApplyDate ,
                              @CreatedBy ,
                              GETDATE() ,
                              0 ,
                              null ,
                              @Currency ,
                              @CurrencyMultiplier
                            )
                    IF @@ERROR <> 0
                        ROLLBACK TRANSACTION
                END
        END
                                
                                
    IF @parameter = 11	-- Fetch  From Set Mater Usit CustomerID
        BEGIN
            SELECT  ROW_NUMBER() OVER ( ORDER BY SetName ASC ) AS RowNo ,
                    SetMaster.SetId ,
                    SetCode ,
                    SetName ,
                    CASE WHEN SetRateMaster.Rate IS NULL THEN 0
                         ELSE SetRateMaster.Rate
                    END AS Rate ,
                    CAST(ISNULL(SetRateMaster.Currency, 1) AS INT) AS Currency ,
                    CONVERT(VARCHAR(50), CASE WHEN SetRateMaster.ApplyDate IS NULL
                                              THEN GETDATE()
                                              ELSE SetRateMaster.ApplyDate
                                         END, 106) AS Date
            FROM    SetMaster
                    LEFT JOIN SetRateMaster ON SetRateMaster.SetID = SetMaster.SetId
                                               AND CustomerId = @CustomerId
            WHERE   SetMaster.Isdeleted = 0
                    AND ( @SetName IS NULL
                          OR SetName = @SetName
                        )
                    AND SetMaster.SetId IN (
                    SELECT DISTINCT
                            SetId
                    FROM    dbo.SetCustomerMapping
                    WHERE   SetCustomerMapping.CustomerId = @CustomerId )
            ORDER BY SetName ASC
              
                    
                
                
                
        END
        
    IF @parameter = 12
        BEGIN
        
            SET @TotalRecords = ( SELECT    COUNT(*)
                                  FROM      SetMaster
                                            LEFT JOIN SetRateMaster ON SetRateMaster.SetID = SetMaster.SetId
                                                              AND CustomerId = @CustomerId
                                  WHERE     SetMaster.Isdeleted = 0
                                            AND ( @SetName IS NULL
                                                  OR SetMaster.SetName = @SetName
                                                )
                                            AND SetMaster.SetId IN (
                                            SELECT DISTINCT
                                                    SetId
                                            FROM    dbo.SetCustomerMapping
                                            WHERE   SetCustomerMapping.CustomerId = @CustomerId )
                                )
            RETURN @TotalRecords
        END
    IF @parameter = 13 -- Fetch SetRate for Customer Order
        BEGIN
            SELECT  *
            FROM    SetRateMaster
            WHERE   CustomerId = @CustomerId
                    AND SetId = @SetID
        END
  
    IF @parameter = 16			-- Fetch Set Master Details
        BEGIN
            SELECT  ROW_NUMBER() OVER ( ORDER BY SetName ASC ) AS RowNo ,
                    SetId ,
                    SetName ,
                    SetCode ,
                    SetWeight ,
                    DrawingNo ,
                    Remarks ,
                    TariffCode ,
                    IsDeleted ,
                    CreatedBy ,
                    CreatedOn ,
                    ModifiedBy ,
                    ModifiedOn ,
                    DeletedBy ,
                    DeletedOn ,
                    EntityID
            FROM    SetMaster
            WHERE   ( @SetId IS NULL
                      OR SetId = @SetId
                    )
                    AND ( @SetName IS NULL
                          OR SetName = @SetName
                        )
                    AND ( @CustomerId IS NULL
                          OR SetId IN (
                          SELECT    SetId
                          FROM      dbo.SetCustomerMapping
                          WHERE     CustomerId = @CustomerId
                                    AND SetCustomerMapping.IsDeleted = 0 )
                        )
                     AND EntityID = @EntityID
                        AND   ( @PendingAllocation = 0              
                              OR TariffCode IS NULL 
                              Or TariffCode = ''             
                            )              
           
                            
        END  
    IF @parameter = 17
        BEGIN
            DECLARE TarrifCursor CURSOR
            FOR
                SELECT  Node.value('(SetID )[1]', 'uniqueidentifier') AS 'SetId'
                FROM    @TariffCodeXML.nodes('/DocumentElement/CastTerrif') AS TEMPXML ( Node )	
            OPEN TarrifCursor;

            FETCH NEXT FROM TarrifCursor INTO @SetId
              
            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN
                    UPDATE  dbo.SetMaster
                    SET     TariffCode = @TariffCode
                    WHERE   SetId = @SetId
                    FETCH NEXT FROM TarrifCursor INTO @SetId
                END
            CLOSE TarrifCursor;
            DEALLOCATE TarrifCursor;
        END
    IF @parameter = 18
        BEGIN
            SELECT  CastingMaster.CastingName ,
                    CastingMaster.CastingCode ,
                    CastingMaster.CastingId ,
                    MetalMaster.MetalName ,
                    MetalMaster.MetalId ,
                    SetCastingMapping.Qty AS RequiredQtyPerSet ,
                    CastingGradeStock.Stock
            FROM    SetCastingMapping
                    INNER JOIN CastingMaster ON SetCastingMapping.CastingId = CastingMaster.CastingId
                    INNER JOIN dbo.CastingGradeStock ON CastingMaster.CastingId = CastingGradeStock.castingID
                    INNER JOIN MetalMaster ON CastingGradeStock.metalid = MetalMaster.MetalId
            WHERE   ( SetCastingMapping.SetId = @SetId )
                    AND ( SetCastingMapping.IsDeleted = 0 )
        
        END
        

    IF @Parameter = 19
        BEGIN

            SELECT DISTINCT
                    SetMaster.SetID ,
                    SetCode
            FROM    dbo.SetMaster
                    INNER JOIN dbo.OrderSetItemTrans ON dbo.OrderSetItemTrans.SetId = dbo.SetMaster.SetId
                                                        AND OrderSetItemTrans.IsDeleted = 0
                                                        AND OrderSetItemTrans.isDelivered = 0
                                                        AND OrderSetItemTrans.IsShortClose = 0
                    INNER JOIN dbo.OrderMaster ON dbo.OrderSetItemTrans.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                                                  AND ( dbo.OrderMaster.maxversion = 1 )
                                                  AND ( dbo.OrderMaster.IsDeleted = 0 )
            WHERE   SetMaster.IsDeleted = 0
                    AND ( @SetName IS NULL
                          OR SetName = @SetName
                        )
                    AND ( @CustomerId IS NULL
                          OR SetMaster.SetId IN (
                          SELECT    SetId
                          FROM      dbo.SetCustomerMapping
                          WHERE     CustomerId = @CustomerId
                                    AND SetCustomerMapping.IsDeleted = 0 )
                        )
                    AND ( @PlantId is null
					Or @PlantId = 0
					Or OrderMaster.PlantId = @PlantId)
            ORDER BY SetCode ASC

        END
    IF @Parameter = 20
        BEGIN

            SELECT DISTINCT
                    SetName
            FROM    dbo.SetMaster
                    INNER JOIN dbo.OrderSetItemTrans ON dbo.OrderSetItemTrans.SetId = dbo.SetMaster.SetId
                                                        AND OrderSetItemTrans.IsDeleted = 0
                                                        AND OrderSetItemTrans.isDelivered = 0
                                                        AND OrderSetItemTrans.IsShortClose = 0
                    INNER JOIN dbo.OrderMaster ON dbo.OrderSetItemTrans.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                                                  AND ( dbo.OrderMaster.maxversion = 1 )
                                                  AND ( dbo.OrderMaster.IsDeleted = 0 )
            WHERE   SetMaster.IsDeleted = 0
                    AND ( @SetId IS NULL
                          OR SetMaster.SetId = @SetId
                        )
                    AND ( @CustomerId IS NULL
                          OR SetMaster.SetId IN (
                          SELECT    SetId
                          FROM      dbo.SetCustomerMapping
                          WHERE     CustomerId = @CustomerId
                                    AND SetCustomerMapping.IsDeleted = 0 )
                        )
                    AND ( @PlantId is null
						Or @PlantId = 0
						Or OrderMaster.PlantId = @PlantId)
            ORDER BY SetName ASC

        END
    IF @Parameter = 21
        BEGIN
            SELECT  DISTINCT
                    Rate ,
                    'Per Set' AS UOM ,
                    ApplyDate AS CreatedOn ,
                    CurrencyMaster.Symbol + ' ' + CurrencyMaster.Currency AS Currency
            FROM    SetRateMasterHistory
                    INNER JOIN dbo.CurrencyMaster ON dbo.CurrencyMaster.CurrencyID = dbo.SetRateMasterHistory.Currency
            WHERE   SetId = @SetId
                    AND CustomerId = @CustomerId 


        END
    IF @parameter = 22
        BEGIN
            SELECT  SetMaster.TariffCode ,
                    CGST ,
                    SGST ,
                    IGST
            FROM    dbo.SetMaster
                    INNER JOIN dbo.HSNGSTMapping ON HSNGSTMapping.HSNCode = dbo.SetMaster.TariffCode
                    LEFT JOIN TaxMaster ON TaxMaster.TaxTemplateId = HSNGSTMapping.TaxTemplateId
            WHERE   SetId = @SetId
        
        END
        
    IF @parameter = 23
        BEGIN
            UPDATE  dbo.SetMaster
            SET     TariffCode = @TariffCode
            WHERE   SetId = @SetId      
        END
        
    IF @parameter = 24
        BEGIN
        
            SELECT  SetMaster.setID AS ItemId ,
                    ( SetMaster.SetName + ' - ' + SetCode ) AS Item ,
                    'Set' AS GroupName ,
                    'PerSet' AS UOM ,
                    3 AS DecimalPlace ,
                    SetMaster.TariffCode AS HSNCode ,
                    TaxMaster.IGST ,
                    TariffCodeHeading.TariffHeading AS HSN
            FROM    SetMaster
                    LEFT JOIN HSNGSTMapping ON SetMaster.TariffCode = HSNGSTMapping.HSNCode
                    LEFT JOIN TaxMaster ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId
                    LEFT JOIN TariffCodeHeading ON SetMaster.TariffCode = TariffCodeHeading.TariffCode
            WHERE   SetMaster.IsDeleted = 0
            ORDER BY SetMaster.CreatedOn DESC
        
        END
GO
