USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FETCH_CoatingANDDewaxing_Detail]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,> 
-- =============================================
CREATE   PROCEDURE [dbo].[FETCH_CoatingANDDewaxing_Detail]
	@CoatToId uniqueidentifier = null,--'38A30C67-9170-4FDD-9292-61B13D703600',--'F0141CB0-FEAF-4717-84E0-E0388A29FBF9',-- 
	@EntityId int = 0,
	@CastingId uniqueidentifier = null,
	@CastingName varchar(Max) = null,
	@PlantId int = 0,
	@PrintOrderNo bit = 0

AS
BEGIN
	--select * into #castingMetalTable from(
	--select	castingID ,GrossWeight, ROW_NUMBER() Over(Partition by castingId Order by grossweight desc) as Rw 
	--from	CastingMetal 
	--) as a where a.rw = 1

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(	Select	top 1 CoatId
		from	CoatMaster
		WHERE	Iswaxing = 1
		) = @CoatToId
	BEGIN
		Select	
			'Combi-'+cast(ROW_NUMBER() Over( PARTITION BY Method.PatternId  Order by MoldingTypeID ) as varchar(Max)) as Combi,
				Isnull(CoatMaster.CoatId ,cast(0x0 as uniqueidentifier)) as CoatFromId,
				isnull(CoatMaster.CoatName ,'Assembly') as CoatFrom,
				Method.PatternId as MethodId,
				(Method.Patterncode +  '('+ PurchaseItemMaster.ItemName +')') as MethodCode,
				STUFF(( SELECT DISTINCT              
                                            ',' + CastingMaster.CastingCode   +' - ' + CAST(isnull(MoldInventoryType.Cavity,'')    AS varchar(MAx))           
                                  FROM      CastingMaster              
                                            INNER JOIN PatternCastingMapping ON PatternCastingMapping.CastingId = CastingMaster.CastingId 
											INNER JOIN MoldInventoryType ON MoldInventoryType.CastingId = CastingMaster.CastingId and MoldInventoryType.MoldTypeID =	Moldtable.MoldingTypeID 
                                  WHERE     PatternCastingMapping.MethodId = Method.PatternID                        
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '')  AS CastingCode  ,
				STUFF(( SELECT DISTINCT              
                                            ',' + CastingMaster.CastingName  +' - ' + CAST(isnull(MoldInventoryType.Cavity,'')   AS varchar(MAx))            
                                  FROM      CastingMaster              
                                            INNER JOIN PatternCastingMapping ON PatternCastingMapping.CastingId = CastingMaster.CastingId    
											INNER JOIN MoldInventoryType ON MoldInventoryType.CastingId = CastingMaster.CastingId  and MoldInventoryType.MoldTypeID =	Moldtable.MoldingTypeID
                                  WHERE     PatternCastingMapping.MethodId = Method.PatternID                         
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '')  AS CastingName  ,
				Moldtable.MoldStock as Stock,
				Moldtable.MoldStock as TransferQty,
				Moldtable.Wt as MethodWeight,
				Moldtable.MoldingTypeID as MoldTypeid,
				Moldtable.OrderTranseId,
				( (CASE WHEN @PrintOrderNo = 0 THEN
					isnull(OrderMaster.WOPrefix,'')
					+Isnull(OrderMaster.WOSeparator,'')
					+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
					+Isnull(OrderMaster.WOSeparator,'')
					+Isnull(OrderMaster.WOSuffix,'')
				ELSE  
					isnull(OrderMaster.Prefix,'')
					+ isnull(OrderMaster.Separator,'')
					+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
					+ isnull(OrderMaster.Separator,'')
					+ isnull(OrderMaster.Suffix,'')
				END)
				+ '/' + CAST(OrderTranse.SrNo as varchar(150)) + '/' + CONVERT(VARCHAR(15), OrderTranse.DeliveryDate, 106)
				) AS CustomerOrderNo 
		from
			 (	select	MoldInventoryType.PatternID,
								MoldInventory.MoldingTypeID,
								MoldInventory.Type_ID,
								RawInwBatchWiseStock.Qty as MoldStock,
								Sum(MoldInventoryType.cavity * PatternMaster.PatternWeight) as Wt,
								RawInwBatchWiseStock.OrderTranseId
						from	MoldInventoryType
								Inner Join MoldInventory on MoldInventory.MoldingTypeID = MoldInventoryType.MoldTypeID
								Inner Join RawInwBatchWiseStock on RawInwBatchWiseStock.Ref_Id = MoldInventoryType.MoldTypeID
										and RawInwBatchWiseStock.PlantId = MoldInventory.PlantId
										and ((RawInwBatchWiseStock.StockTypeID = MoldInventoryType.PatternID and MoldInventory.Type_ID = cast(0x0 as uniqueidentifier))
											or RawInwBatchWiseStock.StockTypeID = MoldInventory.Type_ID)
								Inner Join PatternCastingMapping on PatternCastingMapping.MethodId = MoldInventoryType.PatternID
								inner Join castingMaster on CastingMaster.Dieid = PatternCastingMapping.PatternId
									and MoldInventoryType.CastingId = castingMaster.CastingId
								
								Inner Join PatternMaster on castingMaster.WaxPatternId = PatternMaster.PatternId
								Inner Join PurchaseCompanyMapping pcm on pcm.PurchaseItemId = PatternMaster.PatternId
								
								--Inner Join #castingMetalTable on #castingMetalTable.castingID = castingMaster.CastingId
								
						where	PatternMaster.IsPatDieWax = 2
								and pcm.CompanyId = @EntityId
								and MoldInventory.PlantId = @PlantId
								and RawInwBatchWiseStock.Qty > 0
						group by MoldInventoryType.PatternID,
								MoldInventory.MoldingTypeID,
								MoldInventory.Type_ID,
								RawInwBatchWiseStock.Qty,
								RawInwBatchWiseStock.OrderTranseId
					) as Moldtable 
			Left Join OrderTranse on OrderTranse.OrderTranseId = Moldtable.OrderTranseId
			left Join OrderMaster on OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
			Inner Join PatternMaster as Method on Method.PatternId = Moldtable.PatternID
			Inner Join PurchaseItemMaster on PurchaseItemMaster.DieID = Method.PatternID
			Left Join ( 
			select	ROW_NUMBER() Over(Partition by WaxJobCardId Order by WaxJobCardId,MethodCoatingMaster.srno desc) as rw,
					MethodCoatingMaster.WaxCoatID as CoatFromId,
					MethodCoatingMaster.WaxJobCardID,
					MethodCoatingMaster.IsIgnoreProduction
			from	MethodCoatingMaster
		) as LastCoatDetail on Moldtable.PatternID = LastCoatDetail.WaxJobCardID
			and LastCoatDetail.IsIgnoreProduction <> 1
			and LastCoatDetail.rw = 1
		Left Join CoatMaster on CoatMaster.CoatID = LastCoatDetail.CoatFromId and CoatMaster.IsDeleted = 0
		Where	Method.IsDeleted = 0
				and (@CastingId Is null Or exists (select 1 from PatternCastingMapping inner Join CastingMaster on CastingMaster.CastingId = PatternCastingMapping.CastingId and PatternCastingMapping.MethodId = method.PatternId where CastingMaster.castingId = @CastingId))
				and (@CastingName Is null Or exists (select 1 from PatternCastingMapping inner Join CastingMaster on CastingMaster.CastingId = PatternCastingMapping.CastingId and PatternCastingMapping.MethodId = method.PatternId where castingName = @CastingName))
				and (Moldtable.Type_ID = isnull(LastCoatDetail.CoatFromId ,cast(0x0 as uniqueidentifier)))
				
	END
	ELSE
	BEGIN
		Select	'Combi-'+cast(ROW_NUMBER() Over( PARTITION BY Method.PatternId  Order by MoldingTypeID ) as varchar(Max)) as Combi,
				LastCoatDetail.CoatFromId,
				isnull(CoatMaster.CoatName ,'Assembly')as CoatFrom,
				Method.PatternId as MethodId,
				(Method.Patterncode +  '('+ PurchaseItemMaster.ItemName +')')  as MethodCode,
				STUFF(( SELECT DISTINCT              
                                            ',' + CastingMaster.CastingCode +' - ' + CAST(isnull(MoldInventoryType.Cavity,'')    AS varchar(MAx))             
                                  FROM      CastingMaster              
                                            INNER JOIN PatternCastingMapping ON PatternCastingMapping.CastingId = CastingMaster.CastingId 
											INNER JOIN MoldInventoryType ON MoldInventoryType.CastingId = CastingMaster.CastingId and MoldInventoryType.MoldTypeID =	Moldtable.MoldingTypeID 
                                  WHERE     PatternCastingMapping.MethodId = Method.PatternID                 
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '')  AS CastingCode  ,
				STUFF(( SELECT DISTINCT              
                                            ',' + CastingMaster.CastingName     +' - ' + CAST(isnull(MoldInventoryType.Cavity,'')   AS varchar(MAx))         
                                  FROM      CastingMaster              
                                            INNER JOIN PatternCastingMapping ON PatternCastingMapping.CastingId = CastingMaster.CastingId 
											INNER JOIN MoldInventoryType ON MoldInventoryType.CastingId = CastingMaster.CastingId and MoldInventoryType.MoldTypeID =	Moldtable.MoldingTypeID 
                                  WHERE     PatternCastingMapping.MethodId = Method.PatternID                      
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '')  AS CastingName  ,
				Moldtable.MoldStock as Stock,
				Moldtable.MoldStock as TransferQty,
				Moldtable.Wt as MethodWeight,
				Moldtable.MoldingTypeID		 as MoldTypeid,
				Moldtable.OrderTranseId,
				( (CASE WHEN @PrintOrderNo = 0 THEN
					isnull(OrderMaster.WOPrefix,'')
					+Isnull(OrderMaster.WOSeparator,'')
					+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
					+Isnull(OrderMaster.WOSeparator,'')
					+Isnull(OrderMaster.WOSuffix,'')
				ELSE  
					isnull(OrderMaster.Prefix,'')
					+ isnull(OrderMaster.Separator,'')
					+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
					+ isnull(OrderMaster.Separator,'')
					+ isnull(OrderMaster.Suffix,'')
				END)
				+ '/' + CAST(OrderTranse.SrNo as varchar(150)) + '/' + CONVERT(VARCHAR(15), OrderTranse.DeliveryDate, 106)
				) AS CustomerOrderNo  
		from (
				select	case when Srno = 1 then cast(0x0 as uniqueidentifier) else (select FromcoatMethod.WaxCoatID from MethodCoatingMaster as FromcoatMethod 
											where FromcoatMethod.WaxJobCardID = MethodCoatingMaster.WaxJobCardID
											and FromcoatMethod.srNo = (MethodCoatingMaster.srNo -1)) end
						as CoatFromId,
						MethodCoatingMaster.WaxJobCardID,
						MethodCoatingMaster.IsIgnoreProduction
				from	MethodCoatingMaster
				where	WaxCoatID = @CoatToId
			) as LastCoatDetail
			Inner Join (	select	MoldInventoryType.PatternID,
								MoldInventory.MoldingTypeID,
								MoldInventory.Type_ID,
								RawInwBatchWiseStock.Qty as MoldStock,
								Sum(MoldInventoryType.cavity * PatternMaster.PatternWeight) as Wt,
								RawInwBatchWiseStock.OrderTranseId
						from	MoldInventoryType
								Inner Join MoldInventory on MoldInventory.MoldingTypeID = MoldInventoryType.MoldTypeID
								Inner Join RawInwBatchWiseStock on RawInwBatchWiseStock.Ref_Id = MoldInventoryType.MoldTypeID
										and ((RawInwBatchWiseStock.StockTypeID = MoldInventoryType.PatternID and MoldInventory.Type_ID = cast(0x0 as uniqueidentifier))
											or RawInwBatchWiseStock.StockTypeID = MoldInventory.Type_ID)
										AND RawInwBatchWiseStock.PLANTID = MoldInventory.PlantId
								Inner Join PatternCastingMapping on PatternCastingMapping.MethodId = MoldInventoryType.PatternID
								inner Join castingMaster on CastingMaster.Dieid = PatternCastingMapping.PatternId
									and MoldInventoryType.CastingId = castingMaster.CastingId
								--Inner Join BOQTrans on MoldInventoryType.PatternID = BOQTrans.BOQId
								Inner Join PatternMaster on castingMaster.WaxPatternId = PatternMaster.PatternId
								Inner Join PurchaseCompanyMapping pcm on pcm.PurchaseItemId = PatternMaster.PatternId
								
								--Inner Join #castingMetalTable on #castingMetalTable.castingID = castingMaster.CastingId
								
						where	pcm.CompanyId = @EntityId
								and Qty > 0
								and MoldInventory.PlantId = @PlantId
						group by MoldInventoryType.PatternID,
								MoldInventory.MoldingTypeID,
								MoldInventory.Type_ID,
								RawInwBatchWiseStock.Qty,
								RawInwBatchWiseStock.OrderTranseId

					) as Moldtable on Moldtable.PatternID = LastCoatDetail.WaxJobCardID
					and Moldtable.Type_ID = LastCoatDetail.CoatFromId
					and LastCoatDetail.IsIgnoreProduction <> 1
					
			Left Join OrderTranse on OrderTranse.OrderTranseId = Moldtable.OrderTranseId
			left Join OrderMaster on OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId

			Inner Join PatternMaster as Method on Method.PatternId = LastCoatDetail.WaxJobCardID
			Inner Join PurchaseItemMaster on PurchaseItemMaster.DieID = Method.PatternID
			Left Join CoatMaster on CoatMaster.CoatID = LastCoatDetail.CoatFromId and CoatMaster.IsDeleted = 0
			
	Where	Method.IsDeleted = 0
			and (@CastingId Is null Or exists (select 1 from PatternCastingMapping inner Join CastingMaster on CastingMaster.CastingId = PatternCastingMapping.CastingId and PatternCastingMapping.MethodId = method.PatternId where CastingMaster.castingId = @CastingId))
			and (@CastingName Is null Or exists (select 1 from PatternCastingMapping inner Join CastingMaster on CastingMaster.CastingId = PatternCastingMapping.CastingId and PatternCastingMapping.MethodId = method.PatternId where castingName = @CastingName))
				
	END

	--drop table #castingMetalTable
END

GO
