USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Sp_PurchaseReport]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_PurchaseReport]
    @DateFrom DATETIME = NULL ,        
    @DateTo DATETIME = NULL ,        
    @SupplierId UNIQUEIDENTIFIER = NULL ,        
    @InvoiceNo VARCHAR(50) = NULL ,  
    @PurchaseInvoiceId UNIQUEIDENTIFIER = NULL , 
    @EntityId INT = 0 ,
	@PlantIdString VARCHAR(MAX) = NULL 
       
AS
    BEGIN
	 declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End 

select * INTO  #TempTable1 
	 FROM( select 
	           PurchaseInvoice.PurchaseInvoiceId,
			  CustomerMaster.GSTNo as PartyGSTTIN,
		       case when cast(RegistrationType as Varchar(50)) = 0 then 'Unknown' 
				when cast(RegistrationType as Varchar(50)) = 1 then 'Registered'
				when cast(RegistrationType as Varchar(50)) = 2 then 'Consumer' 
				when cast(RegistrationType as Varchar(50)) = 3 then 'Composition' 
				when cast(RegistrationType as Varchar(50)) = 4 then 'Unregistered'  
		      else 'Unregistered' end as GSTPartyType,
		      CustomerMaster.VendorCode as PartyCode,
			  CustomerMaster.CustomerName as PartyDescription,										   
			  CustomerMaster.TaxNo3 as PANNO,										   
			  StateMaster.StateCode as PartyStateCode,
			  StateMaster.State as PartyState,
			  InvoiceSeries.InvoiceSeriesName as VoucherType,
			  TAB1.ChargeAmount as ChargeAmount ,		     
		      TAB2.TotalTaxes as TotalTaxes , 		 
		     (PurchaseInvoice.NetAmount- ExpDisAmount + isnull(ChargeAmount ,0) )as TotalItemValue  		  
	
	from        PurchaseInvoice        
                inner JOIN CustomerMaster ON PurchaseInvoice.BillerId = CustomerMaster.CustomerId                                   
                Left join StateMaster on PurchaseInvoice.StateId =StateMaster.StateId 
                inner join InvoiceSeries on PurchaseInvoice.SeriesId = InvoiceSeries.SeriesId
                 Left join ( 
					
								Select	sum(ISNULL(PurchaseInvoiceOtherCharges.ChargeAmount,0)) as ChargeAmount,
											PurchaseInvoiceOtherCharges.PurchaseInvoiceID 
									from	PurchaseInvoiceOtherCharges 
											Left join PurchaseInvoice on PurchaseInvoiceOtherCharges.PurchaseInvoiceID = PurchaseInvoice.PurchaseInvoiceId
											INNER JOIN LedgerMaster ON PurchaseInvoiceOtherCharges.ChargeId = LedgerMaster.ChargeId   
											INNER JOIN LedgerGroup on LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId     
											And PurchaseInvoiceOtherCharges.SrNo < (isnull((Select MIN(PurchaseInvoiceOtherCharges.SrNo) 
																			from PurchaseInvoiceOtherCharges inner join LedgerMaster on PurchaseInvoiceOtherCharges.ChargeId = LedgerMaster.ChargeId
											where PurchaseInvoiceOtherCharges.PurchaseInvoiceID = PurchaseInvoice.PurchaseInvoiceId 
											and UnderTaxation in (1,2,3)),0) )
											 group by PurchaseInvoiceOtherCharges.PurchaseInvoiceID 
						  ) as TAB1  on  TAB1.PurchaseInvoiceID =  PurchaseInvoice.PurchaseInvoiceId  
				Left join ( 
						select sum(isnull(PurchaseInvoiceOtherCharges.ChargeAmount,0)) as TotalTaxes,								
									PurchaseInvoiceOtherCharges.PurchaseInvoiceID 
						 from  PurchaseInvoiceOtherCharges 
						inner join LedgerMaster on PurchaseInvoiceOtherCharges.ChargeId = LedgerMaster.ChargeId and 
						 UnderTaxation  in (1,2,3) 
						 group by PurchaseInvoiceOtherCharges.PurchaseInvoiceID ) as TAB2 on  TAB2.PurchaseInvoiceID =  PurchaseInvoice.PurchaseInvoiceId   
                               
  where                PurchaseInvoice.IsDelete = 0
                  and  PurchaseInvoice.EntityId = @EntityId
				  and  PurchaseInvoice.PlantId in (select item from @Plant) -- Added by Juhi Singh on 12-08-2025
                AND ( @SupplierID IS NULL        
                      OR PurchaseInvoice.SupplierID = @SupplierID        
                    )    
                AND ( @PurchaseInvoiceId IS NULL        
                      OR PurchaseInvoice.PurchaseInvoiceId = @PurchaseInvoiceId        
                    ) 
                AND ( PurchaseInvoice.InvoiceDate BETWEEN @DateFrom 
                                  AND        
							@DateTo 
                    )  
                 ) as temp1

	 
  SELECT  ROW_NUMBER() OVER ( PARTITION BY PurchaseInvoiceId ORDER BY PurchaseInvoiceId ) AS SrNo ,        
                        * INTO  #TempTable2 
	 FROM       
                  (   (
                SELECT     
			PurchaseInvoice.PurchaseInvoiceId, 
			PurchaseInvoice.IsGST,  
		    case when PurchaseInvoice.ReverseChargeApplicable = 1 then 'Yes'
		    else 'No' end as ReverseChargeApplicable , 
		     Case when PurchaseInvoice.IsGST = 1 then 'Intra State' 
		     else  'Inter State' end as  IsGSTState ,  
		     'IG' Eligibility,
		     CASE WHEN PurchaseInvoice.Prefix IS NULL THEN ''        
                             ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Prefix)        
                        END        
                        + CASE WHEN PurchaseInvoice.Separator IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)        
                          END + CONVERT(VARCHAR(50), PurchaseInvoice.InvoiceNo)        
                        + CASE WHEN PurchaseInvoice.Separator IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)        
                          END        
                        + CASE WHEN PurchaseInvoice.Suffix IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Suffix)        
                          END AS VoucherNo ,     
		   -- PurchaseInvoice.InvoiceNo as VoucherNo,
		    CONVERT(VARCHAR(11),  PurchaseInvoice.InvoiceDate, 106) AS VoucherDate,
		    PurchaseInvoice.SupplierInvoiceNo,
		     CONVERT(VARCHAR(11),  PurchaseInvoice.SupplierInvoiceDate, 106) AS SupplierInvoiceDate,
		      (CASE WHEN PurchaseOrder_Master.Prefix IS NULL      
                 THEN ''      
                 ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)      
            END      
            + CASE      
				  WHEN PurchaseOrder_Master.Separator IS NULL      
                  THEN ''      
                  ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
              END      
            + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)      
            + CASE      
                  WHEN PurchaseOrder_Master.Separator IS NULL      
                  THEN ''      
                  ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
              END      
            + CASE      
                  WHEN PurchaseOrder_Master.Suffix IS NULL      
                  THEN ''      
                  ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)      
              END) AS PoNO,
		    --PurchaseOrder_Master.OASrNo  as PoNO , 
		     CONVERT(VARCHAR(11),  PurchaseOrder_Master.OrderDate, 106) AS OrderDate,
		   -- RawMaterialInward.INWSrNo  as GRNNo,
			(CASE WHEN RawMaterialInward.Prefix IS NULL      
                     THEN ''     
                     ELSE  RawMaterialInward.Prefix      
                END      
                + CASE      
					  WHEN RawMaterialInward.Separator IS NULL      
                      THEN ''      
                      ELSE  RawMaterialInward.Separator      
                  END      
                +  RawMaterialInward.INWSrNo     
                + CASE      
                      WHEN RawMaterialInward.Separator IS NULL      
                      THEN ''      
                      ELSE  RawMaterialInward.Separator     
                  END      
                + CASE      
                      WHEN RawMaterialInward.Suffix IS NULL      
                      THEN ''      
                      ELSE  RawMaterialInward.Suffix     
                  END) as GRNNo,
             convert(VARCHAR(11),RawMaterialInward.InwardDate,106) AS GRNDate,
             PurchaseInvoice.Remarks as Narration,
		    PurchaseInvoiceTrans.TariffCode as HSNSACCode,
		     CASE WHEN (CustomerPurchaseitemMappping.ProductName IS NOT NULL AND CustomerPurchaseitemMappping.ProductName <> '')                             
                        THEN          PurchaseItemMaster.ItemName + ' - ' + CustomerPurchaseitemMappping.ProductName           
                        ELSE          PurchaseItemMaster.ItemName           
                        END AS [Item] ,
		    PurchaseItemMaster.Itemcode,
		     LedgerMaster.ChargeName as PurchaseServiceAccountDescription,
		     UOMMaster.UOM,		
		     PurchaseInvoiceTrans.Qty,
		     PurchaseInvoiceTrans.Rate,
		    PurchaseInvoiceTrans.TotalAmount as TotalAmount,		  
		    PurchaseInvoice.RoundedAmount,		  
		    PurchaseInvoiceTrans.TotalAmount as TotalTaxableValue,	
		    PurchaseInvoiceTrans.HSNIGST AS  GSTRate ,
		    PurchaseInvoiceTrans.HSNIGST/2 AS   CGSTBasicRate,        
			PurchaseInvoiceTrans.HSNIGST/2 AS  SGSTUTGSTBasicRate  ,
			PurchaseInvoice.TotalAmount as TotalVoucherInvoiceAmount 
										
          FROM        PurchaseInvoice                     
                    inner join  PurchaseInvoiceTrans  on   PurchaseInvoice.PurchaseInvoiceId= PurchaseInvoiceTrans.PurchaseInvoiceId                          
                    
                      inner join RawMaterialInward  on RawMaterialInward.InwardId = PurchaseInvoiceTrans.InwardId        
                     INNER JOIN RawMaterialInwardDetail ON PurchaseInvoiceTrans.RawmaterialDetailId = RawMaterialInwardDetail.RawmaterialDetailId        
                                    INNER JOIN PurchaseOrder_Master ON RawMaterialInwardDetail.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId        
                                    INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = PurchaseInvoiceTrans.PurchaseItemId  
                                     left JOIN CustomerPurchaseitemMappping ON CustomerPurchaseitemMappping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId  
                 AND CustomerPurchaseitemMappping.CustomerId = PurchaseInvoice.SupplierID  
                                    INNER JOIN UOMMaster ON PurchaseInvoiceTrans.UOM = UOMMaster.UOMid              
                      LEFT JOIN dbo.HSNGSTMapping ON dbo.HSNGSTMapping.HSNCode = dbo.PurchaseInvoiceTrans.TariffCode        
                                    LEFT JOIN dbo.TaxMaster ON dbo.TaxMaster.TaxTemplateId = dbo.HSNGSTMapping.TaxTemplateId
                        Left join LedgerMaster on   LedgerMaster.chargeId =  PurchaseInvoiceTrans.PurchaseUnderledgerId
			
                               
                      WHERE         
                              
                                       PurchaseInvoice.IsDelete = 0
                                  and PurchaseInvoiceTrans.IsDeleted= 0
                                  and  PurchaseInvoice.EntityId = @EntityId
								    and  PurchaseInvoice.PlantId in (select item from @Plant) -- Added by Juhi Singh on 12-08-2025
                                AND ( @SupplierID IS NULL        
                                      OR PurchaseInvoice.SupplierID = @SupplierID        
                                    )    
                                AND ( @PurchaseInvoiceId IS NULL        
                                      OR PurchaseInvoice.PurchaseInvoiceId = @PurchaseInvoiceId        
                                    ) 
                                AND ( PurchaseInvoice.InvoiceDate BETWEEN @DateFrom 
                                                  AND        
											@DateTo 
                                    )  
	
					
							  -- AS TEMP1  --ItemDetails
					
			union all
				
		
			 SELECT     
			PurchaseInvoice.PurchaseInvoiceId,
			PurchaseInvoice.IsGST,  
		    case when PurchaseInvoice.ReverseChargeApplicable = 1 then 'Yes'
		    else 'No' end as ReverseChargeApplicable , 
		     Case when PurchaseInvoice.IsGST = 1 then 'Intra State' 
		     else  'Inter State' end as  IsGSTState ,  
		    'IS' Eligibility,
		      CASE WHEN PurchaseInvoice.Prefix IS NULL THEN ''        
                             ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Prefix)        
                        END        
                        + CASE WHEN PurchaseInvoice.Separator IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)        
                          END + CONVERT(VARCHAR(50), PurchaseInvoice.InvoiceNo)        
                        + CASE WHEN PurchaseInvoice.Separator IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)        
                          END        
                        + CASE WHEN PurchaseInvoice.Suffix IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Suffix)        
                          END AS VoucherNo , 
		   -- PurchaseInvoice.InvoiceNo as VoucherNo,		   
		     CONVERT(VARCHAR(11),  PurchaseInvoice.InvoiceDate, 106) AS VoucherDate,
		    PurchaseInvoice.SupplierInvoiceNo,
		     CONVERT(VARCHAR(11),   PurchaseInvoice.SupplierInvoiceDate, 106) AS SupplierInvoiceDate,
		      (CASE WHEN PurchaseOrder_Master.Prefix IS NULL      
                 THEN ''      
                 ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)      
            END      
            + CASE      
				  WHEN PurchaseOrder_Master.Separator IS NULL      
                  THEN ''      
                  ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
              END      
            + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)      
            + CASE      
                  WHEN PurchaseOrder_Master.Separator IS NULL      
                  THEN ''      
                  ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
              END      
            + CASE      
                  WHEN PurchaseOrder_Master.Suffix IS NULL      
                  THEN ''      
                  ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)      
              END) AS PoNO,			   
		   -- PurchaseOrder_Master.OASrNo as PoNO , 
		    CONVERT(VARCHAR(11),  PurchaseOrder_Master.OrderDate, 106) AS OrderDate,
		      ServiceItemMaster.ServiceNo   as GRNNo,
             convert(VARCHAR(11),ServiceItemMaster.CreatedOn,106) AS GRNDate,
             PurchaseInvoice.Remarks as Narration,
		    PurchaseInvoiceServiceItemTrans.TariffCode as HSNSACCode,
		     ServiceItemMaster.Item  AS [Item] ,
		    ServiceItemMaster.Type as ItemCode,
		     LedgerMaster.ChargeName as PurchaseServiceAccountDescription,
		     UOMMaster.UOM,		
		     PurchaseInvoiceServiceItemTrans.Qty,
		     PurchaseInvoiceServiceItemTrans.Rate,
		    PurchaseInvoiceServiceItemTrans.TotalAmount as TotalAmount,		
		    PurchaseInvoice.RoundedAmount,	
		    PurchaseInvoiceServiceItemTrans.TotalAmount as TotalTaxableValue,	
		    PurchaseInvoiceServiceItemTrans.HSNIGST AS  GSTRate ,
		    PurchaseInvoiceServiceItemTrans.HSNIGST/2 AS   CGSTBasicRate,        
			PurchaseInvoiceServiceItemTrans.HSNIGST/2 AS  SGSTUTGSTBasicRate,
			PurchaseInvoice.TotalAmount as TotalVoucherInvoiceAmount   
										
          FROM      PurchaseInvoice                      
                    inner join  PurchaseInvoiceServiceItemTrans  on   PurchaseInvoice.PurchaseInvoiceId= PurchaseInvoiceServiceItemTrans.PurchaseInvoiceId  
                    INNER JOIN PurchaseOrderServiceItemTrans ON PurchaseInvoiceServiceItemTrans.PurchaseOrderServiceItemID = PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID        
                    INNER JOIN PurchaseOrder_Master ON PurchaseOrderServiceItemTrans.PurchaseOrderID = PurchaseOrder_Master.PurchaseOrderId
								and PurchaseOrder_Master.IsDeleted = 0   
								and PurchaseInvoice.BillerId = PurchaseOrder_Master.CustomerID 
								AND PurchaseOrderServiceItemTrans.IsDeleted = 0
								--and PurchaseOrder_Master.IsApprove = 1 
								--and PurchaseOrder_Master.IsApproveFinal = 1 
									and PurchaseOrder_Master.maxversion = 1
                    inner join ServiceItemMaster on ServiceItemMaster.ServiceItemId = PurchaseInvoiceServiceItemTrans.ServiceItemId                       											
                   inner join UOMMaster on UOMMaster.UOMid = ServiceItemMaster.ServiceUOM  
				   Left join LedgerMaster on   LedgerMaster.chargeId =  PurchaseInvoiceServiceItemTrans.PurchaseUnderledgerId
	                         
                      WHERE      
                                       PurchaseInvoice.IsDelete = 0
                                  and PurchaseInvoiceServiceItemTrans.IsDeleted= 0
								   
                                  and  PurchaseInvoice.EntityId = @EntityId
								    and  PurchaseInvoice.PlantId in (select item from @Plant) -- Added by Juhi Singh on 12-08-2025
                                AND ( @SupplierID IS NULL        
                                      OR PurchaseInvoice.SupplierID = @SupplierID        
                                    )    
                                AND ( @PurchaseInvoiceId IS NULL        
                                      OR PurchaseInvoice.PurchaseInvoiceId = @PurchaseInvoiceId        
                                    ) 
                                AND ( PurchaseInvoice.InvoiceDate BETWEEN @DateFrom 
                                                  AND        
											@DateTo 
                                    )  
	
							--  as Temp2	 --servicedetails
					Union all 
					
			 SELECT     
			PurchaseInvoice.PurchaseInvoiceId,
			PurchaseInvoice.IsGST,  
		    case when PurchaseInvoice.ReverseChargeApplicable = 1 then 'Yes'
		    else 'No' end as ReverseChargeApplicable , 
		     Case when PurchaseInvoice.IsGST = 1 then 'Intra State' 
		     else  'Inter State' end as  IsGSTState , 
		    'IG' Eligibility,
		      CASE WHEN PurchaseInvoice.Prefix IS NULL THEN ''        
                             ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Prefix)        
                        END        
                        + CASE WHEN PurchaseInvoice.Separator IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)        
                          END + CONVERT(VARCHAR(50), PurchaseInvoice.InvoiceNo)        
                        + CASE WHEN PurchaseInvoice.Separator IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)        
                          END        
                        + CASE WHEN PurchaseInvoice.Suffix IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Suffix)        
                          END AS VoucherNo , 
		    --PurchaseInvoice.InvoiceNo as VoucherNo,
		     convert(VARCHAR(11),PurchaseInvoice.InvoiceDate,106) AS VoucherDate,
		    PurchaseInvoice.SupplierInvoiceNo,
		     convert(VARCHAR(11),PurchaseInvoice.SupplierInvoiceDate,106) AS SupplierInvoiceDate,
		      (CASE WHEN PurchaseOrder_Master.Prefix IS NULL      
                 THEN ''      
                 ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)      
            END      
            + CASE      
				  WHEN PurchaseOrder_Master.Separator IS NULL      
                  THEN ''     
                  ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
              END      
            + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)      
            + CASE      
                  WHEN PurchaseOrder_Master.Separator IS NULL      
                  THEN ''    
                  ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
              END      
            + CASE      
                  WHEN PurchaseOrder_Master.Suffix IS NULL      
                  THEN ''     
                  ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)      
              END) AS PoNO,
		    -- PurchaseOrder_Master.OASrNo as PoNO , 
		      convert(VARCHAR(11), PurchaseOrder_Master.OrderDate,106) AS OrderDate,		    
		     --RawMaterialInward.INWSrNo   as GRNNo,
		      (CASE WHEN RawMaterialInward.Prefix IS NULL      
					 THEN ''     
					 ELSE  RawMaterialInward.Prefix      
				END      
				+ CASE      
					  WHEN RawMaterialInward.Separator IS NULL      
					  THEN ''      
					  ELSE  RawMaterialInward.Separator      
				  END      
				+  RawMaterialInward.INWSrNo     
				+ CASE      
					  WHEN RawMaterialInward.Separator IS NULL      
					  THEN ''      
					  ELSE  RawMaterialInward.Separator     
				  END      
				+ CASE      
					  WHEN RawMaterialInward.Suffix IS NULL      
					  THEN ''      
					  ELSE  RawMaterialInward.Suffix     
				  END) as GRNNo,
             convert(VARCHAR(11),RawMaterialInward.InwardDate,106) AS GRNDate,
             PurchaseInvoice.Remarks as Narration,
		    PurchaseInvoiceCastingPurchaseTrans.TariffCode as HSNSACCode,
		     CastingMaster.CastingName  AS [Item] ,
		    CastingMaster.CastingCode as ItemCode,
		     LedgerMaster.ChargeName as PurchaseServiceAccountDescription,
		     'Per Pcs' UOM,		
		     PurchaseInvoiceCastingPurchaseTrans.Qty,
		     PurchaseInvoiceCastingPurchaseTrans.Rate,
		    PurchaseInvoiceCastingPurchaseTrans.TotalAmount as TotalAmount,		 
		    PurchaseInvoice.RoundedAmount,	 
		    PurchaseInvoiceCastingPurchaseTrans.TotalAmount as TotalTaxableValue,	
		    PurchaseInvoiceCastingPurchaseTrans.HSNIGST AS  GSTRate ,
		    PurchaseInvoiceCastingPurchaseTrans.HSNIGST/2 AS   CGSTBasicRate,        
			PurchaseInvoiceCastingPurchaseTrans.HSNIGST/2 AS  SGSTUTGSTBasicRate,
			PurchaseInvoice.TotalAmount as TotalVoucherInvoiceAmount 
										
          FROM      PurchaseInvoice 
                     inner join  PurchaseInvoiceCastingPurchaseTrans  on   PurchaseInvoice.PurchaseInvoiceId= PurchaseInvoiceCastingPurchaseTrans.PurchaseInvoiceId                                               
                    INNER JOIN dbo.InwardCastingPurchase ON PurchaseInvoiceCastingPurchaseTrans.InwardCastingPurchaseId = InwardCastingPurchase.InwardCastingPurchaseId        
                    INNER JOIN RawMaterialInward ON RawMaterialInward.InwardId = InwardCastingPurchase.InwardId
                     INNER JOIN dbo.PurchaseOrderCastingPurchaseTrans ON InwardCastingPurchase.PurchaseOrderCastingPurchaseId = PurchaseOrderCastingPurchaseTrans.PurchaseOrderCastingPurchaseId    
                    inner join CastingMaster on CastingMaster.CastingId = PurchaseInvoiceCastingPurchaseTrans.CastingId                    
                    inner  JOIN PurchaseOrder_Master ON PurchaseOrderCastingPurchaseTrans.PurchaseOrderId= PurchaseOrder_Master.PurchaseOrderID	
										and PurchaseOrder_Master.IsDeleted = 0  
										and PurchaseInvoice.BillerId = PurchaseOrder_Master.CustomerID  
										--and PurchaseOrder_Master.IsApprove = 1 
										--and PurchaseOrder_Master.IsApproveFinal = 1 
											and PurchaseOrder_Master.maxversion = 1 
				Left join LedgerMaster on   LedgerMaster.chargeId =  PurchaseInvoiceCastingPurchaseTrans.PurchaseUnderledgerId
			
                           
                      WHERE        
                                       PurchaseInvoice.IsDelete = 0
                                  and PurchaseInvoiceCastingPurchaseTrans.IsDeleted = 0
                                  and  PurchaseInvoice.EntityId = @EntityId
								  and  PurchaseInvoice.PlantId in (select item from @Plant) -- Added by Juhi Singh on 12-08-2025
                                AND ( @SupplierID IS NULL        
                                      OR PurchaseInvoice.SupplierID = @SupplierID        
                                    )    
                                and ( @PurchaseInvoiceId IS NULL        
                                      OR PurchaseInvoice.PurchaseInvoiceId = @PurchaseInvoiceId        
                                    ) 
                                AND (  PurchaseInvoice.InvoiceDate BETWEEN @DateFrom 
                                                  AND        
											@DateTo 
                                    )  
	
						
							  --as Temp3  -- Casting Details 
					
					
					union all 	
		  SELECT     
			 PurchaseInvoice.PurchaseInvoiceId,
			 PurchaseInvoice.IsGST,  
		    case when PurchaseInvoice.ReverseChargeApplicable = 1 then 'Yes'
		    else 'No' end as ReverseChargeApplicable , 
		     Case when PurchaseInvoice.IsGST = 1 then 'Intra State' 
		     else  'Inter State' end as  IsGSTState , 
		    'IG' Eligibility,
		      CASE WHEN PurchaseInvoice.Prefix IS NULL THEN ''        
                             ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Prefix)        
                        END        
                        + CASE WHEN PurchaseInvoice.Separator IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)        
                          END + CONVERT(VARCHAR(50), PurchaseInvoice.InvoiceNo)        
                        + CASE WHEN PurchaseInvoice.Separator IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Separator)        
                          END        
                        + CASE WHEN PurchaseInvoice.Suffix IS NULL THEN ''        
                               ELSE CONVERT(VARCHAR(50), PurchaseInvoice.Suffix)        
                          END AS VoucherNo , 
		    --PurchaseInvoice.InvoiceNo as VoucherNo,
		     convert(VARCHAR(11), PurchaseInvoice.InvoiceDate,106) AS VoucherDate,
		    PurchaseInvoice.SupplierInvoiceNo,
		    convert(VARCHAR(11),  PurchaseInvoice.SupplierInvoiceDate,106) AS SupplierInvoiceDate,
		     (CASE WHEN PurchaseOrder_Master.Prefix IS NULL      
                 THEN ''  
                 ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Prefix)      
            END      
            + CASE      
				  WHEN PurchaseOrder_Master.Separator IS NULL      
                  THEN ''     
                  ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
              END      
            + CONVERT(VARCHAR(50), PurchaseOrder_Master.PONo)      
            + CASE      
                  WHEN PurchaseOrder_Master.Separator IS NULL      
                  THEN ''     
                  ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Separator)      
              END      
            + CASE      
                  WHEN PurchaseOrder_Master.Suffix IS NULL      
                  THEN ''      
                  ELSE CONVERT(VARCHAR(50), PurchaseOrder_Master.Suffix)      
              END) AS PoNO,
		    --PurchaseOrder_Master.OASrNo as PoNO , 
		     CONVERT(VARCHAR(11),  PurchaseOrder_Master.OrderDate, 106) AS OrderDate,
		     --RawMaterialInward.INWSrNo   as GRNNo,
		      (CASE WHEN RawMaterialInward.Prefix IS NULL      
					 THEN ''     
					 ELSE  RawMaterialInward.Prefix      
				END      
				+ CASE      
					  WHEN RawMaterialInward.Separator IS NULL      
					  THEN ''      
					  ELSE  RawMaterialInward.Separator      
				  END      
				+  RawMaterialInward.INWSrNo     
				+ CASE      
					  WHEN RawMaterialInward.Separator IS NULL      
					  THEN ''      
					  ELSE  RawMaterialInward.Separator     
				  END      
				+ CASE      
					  WHEN RawMaterialInward.Suffix IS NULL      
					  THEN ''      
					  ELSE  RawMaterialInward.Suffix     
				  END) as GRNNo,
             convert(VARCHAR(11),RawMaterialInward.InwardDate,106) AS GRNDate,
             PurchaseInvoice.Remarks as Narration,
		    PurchaseInvoicePatternTrans.TariffCode as HSNSACCode,
		     PatternMaster.DieName  AS [Item] ,
		    PatternMaster.PatternCode as ItemCode,
		     LedgerMaster.ChargeName as PurchaseServiceAccountDescription,
		     'Nos' as UOM,		
		     PurchaseInvoicePatternTrans.Qty,
		     PurchaseInvoicePatternTrans.Rate,
		    PurchaseInvoicePatternTrans.TotalAmount as TotalAmount,		  
		    PurchaseInvoice.RoundedAmount,		
		    PurchaseInvoicePatternTrans.TotalAmount as TotalTaxableValue,	
		    PurchaseInvoicePatternTrans.HSNIGST AS  GSTRate ,
		    PurchaseInvoicePatternTrans.HSNIGST/2 AS   CGSTBasicRate,        
			PurchaseInvoicePatternTrans.HSNIGST/2 AS  SGSTUTGSTBasicRate,
			PurchaseInvoice.TotalAmount as TotalVoucherInvoiceAmount  
										
          FROM      PurchaseInvoice 
                     inner join  PurchaseInvoicePatternTrans  on   PurchaseInvoice.PurchaseInvoiceId= PurchaseInvoicePatternTrans.PurchaseInvoiceId 
                     INNER JOIN PatternGRNdetail AS pGrnd ON ((purchaseinvoicepatterntrans.InwardDetailId = pGrnd.InwardDetailID AND purchaseinvoicepatterntrans.DieInwardDetailId IS NULL) OR (purchaseinvoicepatterntrans.DieInwardDetailId = pGrnd.InwardDetailID AND purchaseinvoicepatterntrans.InwardDetailId IS NULL)) 
								AND ISNULL(pGrnd.IsDeleted,0) = 0   
                    INNER JOIN RawMaterialInward ON RawMaterialInward.InwardId =  pgrnd.InwardId
                     INNER JOIN PatternMaster ON (purchaseinvoicepatterntrans.PatternId = PatternMaster.PatternId OR purchaseinvoicepatterntrans.DieId = PatternMaster.PatternId) AND ISNULL(PatternMaster.IsDeleted,0) = 0   
                    left JOIN PurchaseOrder_Trans ON PatternMaster.PatternId = PurchaseInvoicePatternTrans.DieId and PurchaseOrder_Trans.IsDeleted = 0
                     Left  JOIN PurchaseOrder_Master ON PurchaseOrder_Trans.PurchaseOrderID = PurchaseOrder_Master.PurchaseOrderID
									and PurchaseInvoice.BillerId = PurchaseOrder_Master.CustomerID  
										--and PurchaseOrder_Master.IsApprove = 1 
										--and PurchaseOrder_Master.IsApproveFinal = 1  
											and PurchaseOrder_Master.maxversion = 1
				   Left join LedgerMaster on   LedgerMaster.chargeId =  PurchaseInvoicePatternTrans.PurchaseUnderledgerId
			
                               
                      WHERE        
                               
                                       PurchaseInvoice.IsDelete = 0
                                 and PurchaseInvoicePatternTrans.IsDeleted = 0
                                 and  PurchaseInvoice.EntityId = @EntityId
								 and  PurchaseInvoice.PlantId in (select item from @Plant) -- Added by Juhi Singh on 12-08-2025
                                AND ( @SupplierID IS NULL        
                                      OR PurchaseInvoice.SupplierID = @SupplierID        
                                    )    
                                and ( @PurchaseInvoiceId IS NULL        
                                      OR PurchaseInvoice.PurchaseInvoiceId = @PurchaseInvoiceId        
                                    ) 
                                AND (  PurchaseInvoice.InvoiceDate BETWEEN @DateFrom 
                                                  AND        
											@DateTo 
                                    )  

							  ) 
							  	) as dispatch 
							  
					
		  SELECT Tble1.* ,
		  Tble2.SrNo,
		  Tble2.PurchaseInvoiceId, 
			Tble2.IsGST,  
		   Tble2.ReverseChargeApplicable , 
		    Tble2.IsGSTState ,  
		  Tble2.Eligibility,
		    Tble2.VoucherNo ,      
		   Tble2.VoucherDate,
		    Tble2.SupplierInvoiceNo,
		     Tble2.SupplierInvoiceDate,
		      Tble2.PoNO, 
		     Tble2.OrderDate, 
			Tble2.GRNNo,
             Tble2.GRNDate,
             Tble2.Narration,
		    Tble2.HSNSACCode,
		    Tble2.[Item] ,
		    Tble2.Itemcode,
		     Tble2.PurchaseServiceAccountDescription,
		     Tble2.UOM,		
		     Tble2.Qty,
		     Tble2.Rate,
		    Tble2.TotalAmount,		  
		    Tble2.RoundedAmount,		  
		    Tble2.TotalTaxableValue,	
		    case when Tble1.GSTPartyType = 'Unregistered'  then 0  else Tble2.GSTRate end as GSTRate  ,
		     case when Tble1.GSTPartyType = 'Unregistered'  then 0  else Tble2.CGSTBasicRate end as CGSTBasicRate,        
			  case when Tble1.GSTPartyType = 'Unregistered'  then 0  else Tble2.SGSTUTGSTBasicRate end as SGSTUTGSTBasicRate  ,
			Tble2.TotalVoucherInvoiceAmount 

		  FROM #TempTable1 As Tble1
		  inner  join #TempTable2 AS Tble2 ON Tble1.PurchaseInvoiceId = Tble2.PurchaseInvoiceId
		  
		  drop table #TempTable1
		  drop table #TempTable2
    
    
    END

GO
