USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GRN_ItemNameCode]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GRN_ItemNameCode]
--copy from Material_inward 63, 64 Parameter In Version 3_3_0

	-- Add the parameters for the stored procedure here
	    @Parameter INT = 0,
	    @ApprovePermitter bit = 0,
	    @ApproveLevel BIT= 0  ,
		@IsApproveFinal BIT = NULL ,  
		@IsApprove BIT = NULL ,  
		@IsSampleSeries BIT = 0 ,     
		@CustomerId UNIQUEIDENTIFIER = NULL , 
	    @EntityId int = 0
AS
BEGIN
	IF @Parameter = 1      
            BEGIN      
                
                --SET @ApprovePermitter = ( SELECT    permitir.permitir      
                --                          FROM      permitir      
                --                          WHERE     Code = 'APP'      
                --                        )      
                                              
                 
                --SET @ApproveLevel = ( SELECT    ApproveLevel      
                --                      FROM      configuration      
                --                      where EntityID = @EntityId    
                --                    )      
                     
                SELECT DISTINCT      
                        PurchaseOrder_Trans.PurchaseItemId ,      
                        ItemCode AS ItemCode      
                FROM    PurchaseOrder_Trans      
                        INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = PurchaseOrder_Trans.PurchaseItemId 
                        INNER JOIN PurchaseCompanyMapping ON  PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId     
                        INNER JOIN PurchaseOrder_Master ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrder_Trans.PurchaseOrderId      
                        INNER JOIN CustomerPurchaseitemMappping ON CustomerPurchaseitemMappping.CustomerId = @CustomerId
									and	PurchaseOrder_Trans.purchaseItemId = CustomerPurchaseitemMappping.PurchaseItemId
               WHERE   --( SELECT    COUNT(*)      
                --          FROM      dbo.PurchaseOrder_Trans      
                --          WHERE     purchaseorder_Trans.IsDelivered = 0      
                --                    AND purchaseorder_Trans.IsDeleted = 0      
                --                    AND PurchaseOrder_Trans.purchaseorderid = purchaseorder_Master.purchaseorderid      
                --        ) > 0  
                        purchaseorder_Trans.IsDelivered = 0  
                        AND purchaseorder_Trans.IsDeleted = 0   
                        AND dbo.PurchaseOrder_Master.IsDeleted = 0      
                        AND dbo.PurchaseOrder_Master.maxversion = 1      
                        AND PurchaseOrder_Master.CustomerID = @CustomerId      
                        AND PurchaseCompanyMapping.CompanyId = @entityId 
                        and PurchaseCompanyMapping.PurchaseItemId  =  PurchaseOrder_Trans.PurchaseItemId     
                        AND ( @ApprovePermitter = 0      
                              OR ( @ApproveLevel = 0      
                                   OR IsApproveFinal = @IsApproveFinal      
                                 )      
                            )      
                        AND ( @ApprovePermitter = 0      
                              OR ( @ApproveLevel = 1      
                                   OR IsApprove = @IsApprove      
                                 )      
                            ) 
                        and ((@IsSampleSeries = 0 and IsApproval IS NOT NULL)
							Or(@IsSampleSeries = 1 and IsApproval is null))
                        
                        --AND ( @IsSampleSeries = 0      
                        --      OR PurchaseItemMaster.PurchaseItemId IN (      
                        --      SELECT    CustomerPurchaseitemMappping.PurchaseItemId      
                        --      FROM      CustomerPurchaseitemMappping      
                        --      WHERE     IsApproval IS NULL )      
                        --    )      
                        --AND ( @IsSampleSeries = 1      
                        --      OR PurchaseItemMaster.PurchaseItemId IN (      
                        --      SELECT    CustomerPurchaseitemMappping.PurchaseItemId      
                        --      FROM      CustomerPurchaseitemMappping      
                        --      WHERE     IsApproval IS NOT NULL )      
                        --    )      
              
            END      
                  
        IF @Parameter = 2      
            BEGIN      
                
          --      SET @ApprovePermitter = ( SELECT    permitir.permitir      
          --                                FROM      permitir      
          --                                WHERE Code = 'APP'      
          --                              )      
                        
          --         --SET @ApprovePermitter = ( SELECT    permitir.permitir      
          --         --                       FROM      permitir      
          --         --                       WHERE     PageName = 'SUPPLIER APPROVAL'      
          --         --                     )                     
                   
          --      SET @ApproveLevel = ( SELECT    ApproveLevel      
          --                            FROM      configuration      
          --where EntityID = @EntityId    
          --                          )      
                     
                SELECT DISTINCT      
                        PurchaseItemMaster.ItemName AS ItemName ,      
                        PurchaseItemMaster.PurchaseItemId      
                FROM    PurchaseOrder_Trans      
                        INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = PurchaseOrder_Trans.PurchaseItemId 
                        INNER JOIN PurchaseCompanyMapping ON  PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId 
                        INNER JOIN PurchaseOrder_Master ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrder_Trans.PurchaseOrderId      
						INNER JOIN CustomerPurchaseitemMappping ON CustomerPurchaseitemMappping.CustomerId = @CustomerId 
									and	PurchaseOrder_Trans.purchaseItemId = CustomerPurchaseitemMappping.PurchaseItemId
                WHERE   
						--( SELECT    COUNT(*)      
      --                    FROM      dbo.PurchaseOrder_Trans      
      --                    WHERE     purchaseorder_Trans.IsDelivered = 0      
      --                              AND purchaseorder_Trans.IsDeleted = 0      
      --                              AND PurchaseOrder_Trans.purchaseorderid = purchaseorder_Master.purchaseorderid      
      --                  ) > 0      
      --                   
                        dbo.PurchaseOrder_Master.IsDeleted = 0    
						AND purchaseorder_Trans.IsDelivered = 0   
						AND purchaseorder_Trans.IsDeleted = 0  
                        AND dbo.PurchaseOrder_Master.maxversion = 1      
                        AND PurchaseOrder_Master.customerid = @CustomerId      
                        AND PurchaseCompanyMapping.CompanyId = @entityId 
                        and PurchaseCompanyMapping.PurchaseItemId =  PurchaseOrder_Trans.PurchaseItemId   
                        AND ( @ApprovePermitter = 0      
                              OR ( @ApproveLevel = 0      
                                   OR IsApproveFinal = @IsApproveFinal      
                                 )      
                            )      
                        AND ( @ApprovePermitter = 0      
                              OR ( @ApproveLevel = 1      
                                   OR IsApprove = @IsApprove      
                                 )      
                            )  
                        
                        and ((@IsSampleSeries = 0 and IsApproval IS NOT NULL)
							Or(@IsSampleSeries = 1 and IsApproval is null))    
                        --AND ( @IsSampleSeries = 0      
                        --      OR PurchaseItemMaster.PurchaseItemId IN (      
                        --      SELECT    CustomerPurchaseitemMappping.PurchaseItemId      
                        --      FROM      CustomerPurchaseitemMappping      
                        --      WHERE     IsApproval IS NULL )      
                        --    )      
                        --AND ( @IsSampleSeries = 1      
                        --      OR PurchaseItemMaster.PurchaseItemId IN (      
                        --      SELECT    CustomerPurchaseitemMappping.PurchaseItemId      
                        --      FROM      CustomerPurchaseitemMappping      
                        --      WHERE     IsApproval IS NOT NULL )      
                        --    )      
                              
              
            END      
            
END

GO
