USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GetDispatchDataAPI]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create     PROCEDURE [dbo].[GetDispatchDataAPI]
(
	-- Add the parameters for the stored procedure here
	@Parameter INT = 1,
	@CompanyCode NVARCHAR(25) = NULL,
	@DispatchOrdersTransfer  XML = NULL
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @EntityId INT = (SELECT Top 1 EntityId FROM CompanyMaster WHERE IsDelete = 0 AND CompanyCode = @CompanyCode)
	DECLARE @InvoiceApproval BIT = (SELECT permitir.permitir FROM permitir WHERE Code = 'APP')
	DECLARE @Config_ApproveLevel BIT = (SELECT TOP 1 ApproveLevel FROM configuration WHERE EntityID = @EntityId)
	
	IF (@Parameter = 1)
	BEGIN
	select	'Dispatch' AS ReportType,
			(
				(CASE	WHEN dm.Prefix IS NULL OR dm.Prefix = '' THEN '' ELSE CONVERT(VARCHAR(50), dm.Prefix) END)
				+ (CASE WHEN dm.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), dm.Separator) END)
				+ CONVERT(VARCHAR(50), dm.DispatchSlipNo)
				+ (CASE WHEN dm.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), dm.Separator) END)
				+ (CASE WHEN dm.Suffix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), dm.Suffix) END)
			) AS DispatchNumber,
			cm.CustomerName AS CustomerName, CONVERT(VARCHAR(15), DispatchDate, 106) AS DispatchDate,
			CastMst.CastingCode AS PartNumber, CastMst.CastingName AS Product,
			(dt.dispatchqty * dt.[weight]) AS BlackWeigth, '' AS Unique_ID,
			dt.dispatchqty AS Quantity,
			OrdMstTbl.CustomerOrderNo AS Cust_OrderNo,
			CONVERT(varchar(15), OrdMstTbl.OrderDate, 106) AS OrderDate,
			dm.ShippingAddressLIne1 AS DelAdd1,
			dm.ShippingAddressLIne2 AS DelAdd2,
			(	REPLACE(REPLACE(REPLACE(
					TRIM(REPLACE(REPLACE(dm.ShippingAddress, dm.ShippingAddressLIne1, ''), dm.ShippingAddressLIne2, ''))
				, CHAR(13) + CHAR(10), ''), CHAR(13), ''), CHAR(10), '')
			) AS DelAdd3,
			CityMaster.City AS City,
			CountryMaster.CountryName AS Country,
			dm.ConsigneePincode AS Pincode,
			CAST(dt.dispatchtransid AS NVARCHAR(100)) AS DispatchUniqueId
	from	dispatchtrans AS dt
			inner join dispatchmaster AS dm ON dm.DispatchID = dt.dispatchid
			INNER JOIN CustomerMaster AS cm ON dm.CustomerID = cm.CustomerID
			INNER JOIN (
				SELECT	CastingId, CastingName, CastingCode FROM CastingMaster
			) AS CastMst ON CastMst.CastingId = dt.PartId
			OUTER APPLY (
					SELECT	DrawingNo, CustomerOrderNo, OrderDate, ReceivedDate, Prefix, Separator, OASrNo, Suffix, MetMst.MetalName
					FROM	dbo.OrderTranse AS CustOrdTrns
							INNER JOIN dbo.OrderMaster AS CustOrmMst ON CustOrmMst.CustomerOrderId = CustOrdTrns.CustomerOrderId 
											AND CustOrmMst.IsDeleted = 0
							INNER JOIN (
									SELECT MetalId, MetalName FROM dbo.MetalMaster
							) AS MetMst ON MetMst.MetalId = CustOrdTrns.MetalID 
					WHERE	CustOrdTrns.IsDeleted = 0
							AND CustOrdTrns.CustomerOrderId = dt.orderid 
							AND CustOrdTrns.CastingId = dt.PartId 
							AND  dt.orderserialno = CustOrdTrns.SrNo 
			) AS OrdMstTbl
			LEFT JOIN CityMaster ON CityMaster.CityId = dm.ShippingCityId
			LEFT JOIN CountryMaster ON CountryMaster.CountryId = dm.CountryId
	WHERE	dm.IsDeleted = 0 AND dm.IsDeleted = 0 AND dt.IsDispatchAdvice = 0 AND dm.isProforma = 0 AND dm.TypeOfVoucher = 0
			AND dm.EntityID = @EntityId
			AND (@InvoiceApproval = 1 
				AND ((@Config_ApproveLevel = 0 AND IsApprove = 1 AND ISNULL(IsDisapprove, 0) = 0)
					OR (@Config_ApproveLevel = 1 AND IsApproveFinal = 1 AND ISNULL(IsDisapprove, 0) = 0)
				)
			)
			AND NOT EXISTS(
				SELECT 1 FROM DispatchTransferDetails AS dtd
				WHERE dtd.ThirdPartyTransfer = 1 AND CAST(dt.dispatchtransid AS varchar(50)) = dtd.dispatchtransid
			)
	UNION ALL

	select	'Dispatch' AS ReportType,
			(
				(CASE	WHEN dm.Prefix IS NULL OR dm.Prefix = '' THEN '' ELSE CONVERT(VARCHAR(50), dm.Prefix) END)
				+ (CASE WHEN dm.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), dm.Separator) END)
				+ CONVERT(VARCHAR(50), dm.DispatchSlipNo)
				+ (CASE WHEN dm.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), dm.Separator) END)
				+ (CASE WHEN dm.Suffix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), dm.Suffix) END)
			) AS DispatchNumber,
			cm.CustomerName AS CustomerName, CONVERT(VARCHAR(15), DispatchDate, 106) AS DispatchDate,
			CastMst.ItemCode AS PartNumber, CastMst.ItemName AS Product,
			(dt.dispatchqty * dt.[weight]) AS BlackWeigth, '' AS Unique_ID, dt.dispatchqty AS Quantity,
			OrdMstTbl.CustomerOrderNo AS Cust_OrderNo,
			CONVERT(varchar(15), OrdMstTbl.OrderDate, 106) AS OrderDate,
			dm.ShippingAddressLIne1 AS DelAdd1,
			dm.ShippingAddressLIne2 AS DelAdd2,
			(	REPLACE(REPLACE(REPLACE(
					TRIM(REPLACE(REPLACE(dm.ShippingAddress, dm.ShippingAddressLIne1, ''), dm.ShippingAddressLIne2, ''))
				, CHAR(13) + CHAR(10), ''), CHAR(13), ''), CHAR(10), '')
			) AS DelAdd3,
			CityMaster.City AS City,
			CountryMaster.CountryName AS Country,
			dm.ConsigneePincode AS Pincode,
			CAST(dt.dispatchtransid AS NVARCHAR(100)) AS DispatchUniqueId
	from	dispatchtrans AS dt
			inner join dispatchmaster AS dm ON dm.DispatchID = dt.dispatchid
			INNER JOIN CustomerMaster AS cm ON dm.CustomerID = cm.CustomerID
			INNER JOIN (
				SELECT	PurchaseItemId, ItemName, ItemCode FROM PurchaseItemMaster
			) AS CastMst ON CastMst.PurchaseItemId = dt.PurchaseItemID
			OUTER APPLY (
					SELECT	DrawingNo, CustomerOrderNo, OrderDate, ReceivedDate, Prefix, Separator, OASrNo, Suffix, MetMst.MetalName
					FROM	dbo.OrderTranse AS CustOrdTrns
							INNER JOIN dbo.OrderMaster AS CustOrmMst ON CustOrmMst.CustomerOrderId = CustOrdTrns.CustomerOrderId 
											AND CustOrmMst.IsDeleted = 0
							INNER JOIN (
									SELECT MetalId, MetalName FROM dbo.MetalMaster
							) AS MetMst ON MetMst.MetalId = CustOrdTrns.MetalID 
					WHERE	CustOrdTrns.IsDeleted = 0
							AND CustOrdTrns.CustomerOrderId = dt.orderid 
							AND CustOrdTrns.PurchaseItemId = dt.PurchaseItemId 
							AND  dt.orderserialno = CustOrdTrns.SrNo 
			) AS OrdMstTbl
			LEFT JOIN CityMaster ON CityMaster.CityId = dm.ShippingCityId
			LEFT JOIN CountryMaster ON CountryMaster.CountryId = dm.CountryId
	WHERE	dm.IsDeleted = 0 AND dm.IsDeleted = 0 AND dt.IsDispatchAdvice = 0 AND dm.isProforma = 0 AND dm.TypeOfVoucher = 0
			AND dm.EntityID = @EntityId
			AND (@InvoiceApproval = 1 
				AND ((@Config_ApproveLevel = 0 AND IsApprove = 1 AND ISNULL(IsDisapprove, 0) = 0)
					OR (@Config_ApproveLevel = 1 AND IsApproveFinal = 1 AND ISNULL(IsDisapprove, 0) = 0)
				)
			)
			AND NOT EXISTS(
				SELECT 1 FROM DispatchTransferDetails AS dtd
				WHERE dtd.ThirdPartyTransfer = 1 AND CAST(dt.dispatchtransid AS varchar(50)) = dtd.dispatchtransid
			)

	UNION ALL

	select	'Dispatch' AS ReportType,
			(
				(CASE	WHEN dm.Prefix IS NULL OR dm.Prefix = '' THEN '' ELSE CONVERT(VARCHAR(50), dm.Prefix) END)
				+ (CASE WHEN dm.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), dm.Separator) END)
				+ CONVERT(VARCHAR(50), dm.DispatchSlipNo)
				+ (CASE WHEN dm.Separator IS NULL THEN '' ELSE CONVERT(VARCHAR(50), dm.Separator) END)
				+ (CASE WHEN dm.Suffix IS NULL THEN '' ELSE CONVERT(VARCHAR(50), dm.Suffix) END)
			) AS DispatchNumber,
			cm.CustomerName AS CustomerName, CONVERT(VARCHAR(15), DispatchDate, 106) AS DispatchDate,
			ServiceItemMaster.ServiceNo AS PartNumber, ServiceItemMaster.Item AS Product,
			0 AS BlackWeigth, '' AS Unique_ID, dt.Qty AS Quantity,
			OrderMaster.CustomerOrderNo AS Cust_OrderNo,
			CONVERT(varchar(15), OrderMaster.OrderDate, 106) AS OrderDate,
			dm.ShippingAddressLIne1 AS DelAdd1,
			dm.ShippingAddressLIne2 AS DelAdd2,
			(	REPLACE(REPLACE(REPLACE(
					TRIM(REPLACE(REPLACE(dm.ShippingAddress, dm.ShippingAddressLIne1, ''), dm.ShippingAddressLIne2, ''))
				, CHAR(13) + CHAR(10), ''), CHAR(13), ''), CHAR(10), '')
			) AS DelAdd3,
			CityMaster.City AS City,
			CountryMaster.CountryName AS Country,
			dm.ConsigneePincode AS Pincode,
			CAST(dt.DispatchServiceItemTransID AS NVARCHAR(100)) AS dispatchtransid
	from	DispatchServiceItemTrans AS dt
			inner join dispatchmaster AS dm ON dm.DispatchID = dt.dispatchid
			INNER JOIN CustomerMaster AS cm ON dm.CustomerID = cm.CustomerID
			INNER JOIN dbo.OrderServiceItemTrans ON dt.OrderServiceItemTransID = dbo.OrderServiceItemTrans.OrderServiceItemID
			INNER JOIN OrderMaster ON dbo.OrderMaster.CustomerOrderId = dbo.OrderServiceItemTrans.CustomerOrderId
			INNER JOIN dbo.ServiceItemMaster ON dbo.ServiceItemMaster.ServiceItemId = OrderServiceItemTrans.ServiceItemId
			LEFT JOIN CityMaster ON CityMaster.CityId = dm.ShippingCityId
			LEFT JOIN CountryMaster ON CountryMaster.CountryId = dm.CountryId
	WHERE	dm.IsDeleted = 0 AND dm.IsDeleted = 0 AND dm.isProforma = 0 AND dm.TypeOfVoucher = 0
			AND dm.EntityID = @EntityId
			AND (@InvoiceApproval = 1 
				AND ((@Config_ApproveLevel = 0 AND dm.IsApprove = 1 AND ISNULL(dm.IsDisapprove, 0) = 0)
					OR (@Config_ApproveLevel = 1 AND IsApproveFinal = 1 AND ISNULL(dm.IsDisapprove, 0) = 0)
				)
			)
			AND NOT EXISTS(
				SELECT 1 FROM DispatchTransferDetails AS dtd
				WHERE dtd.ThirdPartyTransfer = 1 AND CAST(dt.DispatchServiceItemTransID AS NVARCHAR(100)) = dtd.dispatchtransid
			)

	--ORDER BY dt.dispatchtransid asc
	END

	ELSE IF (@Parameter = 2)
	BEGIN

		INSERT INTO DispatchTransferDetails (dispatchtransid, ThirdPartyTransfer)
		SELECT 
			NodeItem.value('(DispatchUniqueId)[1]', 'nvarchar(50)') AS dispatchtransid,
			NodeItem.value('(Status)[1]', 'int') AS ThirdPartyTransfer
		FROM @DispatchOrdersTransfer.nodes('/DocumentElement/DispatchOrdersTransfer') AS TEMPXML(NodeItem)

		RETURN 1
	END
END
GO
