USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchAllCharges]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
-- FetchAllCharges 1,0
CREATE PROCEDURE [dbo].[FetchAllCharges]
	@EntityId int = 0 ,
	@LedgerGroupId INT = 0 ,
	@LedgerNameId UNIQUEIDENTIFIER = NULL,
	@IsAll INT = 1 ,    
    @Block INT =0 
AS
BEGIN
	SELECT ChargeId,ChargeName,(Case when IsRoundOff=1 then 'Yes' else 'No' end) as Roundoff,
	UnderTaxation,LedgerMaster.ChargeName AS TaxName,LedgerGroup.LedgerGroupName ,LedgerMaster.LedgerGroupId  ,LedgerMaster.EntityId ,LedgerMaster.Taxper, Taxability, 
	(Case when IsGSTApplicable = 1 then 'Yes' else 'No' end) as IsGSTApplicable,
	ISNULL(IsTDSApplicable,0) as IsTDSApplicable ,TdsRateName,TaxType , NatureOfTransaction, 
	--ISNULL(AccountHolderName, '') AS AccountHolderName, ISNULL(AccountNo, 0) AS AccountNo, ISNULL(IFSCode,'') AS IFSCode,
	--ISNULL(SWIFTCode, '') AS SWIFTCode, ISNULL(BankName, '') AS BankName, ISNULL(Branch,'') AS Branch, ISNULL(BSRCode, '') AS BSRCode,
	--ISNULL(OpeningBalance, '') AS OpeningBalance, CAST(AsPerDateOpeningBalance AS DATE) AS AsPerDateOpeningBalance, ISNULL(ODLimit, '') AS ODLimit, 
	--CAST(ODLimitDate AS DATE) AS ODLimitDates,
	IsStockAffect,IsCostCenterApplicable,LedgerMaster.IsDeleted
	 from LedgerMaster
	 INNER JOIN LedgerGroup ON LedgerGroup.LedgerGroupId = LedgerMaster.LedgerGroupId 
	 WHERE --LedgerMaster.EntityId = @EntityId 
	      --  LedgerMaster.IsDeleted = 0 
				(@LedgerGroupId = 0 OR LedgerMaster.LedgerGroupId = @LedgerGroupId)
			AND (@LedgerNameId IS NULL OR LedgerMaster.ChargeId = @LedgerNameId)
			AND (@IsAll = 1 or (LedgerMaster.IsDeleted= @Block ))  
	ORDER BY ChargeName
END
GO
