USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Mold_Inward_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[Mold_Inward_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL , 
	 @DateFrom DATETIME = NULL ,      
    @DateTo DATETIME = NULL ,      
    @MoldInward_Id INT   =0,
    @EntityId INT = 0   ,
    @SandTypeID INT =0,
    @PatternId UNIQUEIDENTIFIER = NULL,
        @StartDate DATETIME = NULL ,        
    @EndDate DATETIME = NULL  

  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
		IF (@parameter = 1)  --  Get Mold Inward Data
        BEGIN  
			   SELECT TOP ( @PageSize ) *   
			   FROM (  
				 SELECT ROW_NUMBER() OVER(ORDER BY MoldInwardTransId DESC) AS RowNo  
				   , COUNT(MoldInwardTransId) OVER() TotalRecords  
				   , *   
				 FROM (  
				   select CONVERT(VARCHAR(11), mt.InwardDate, 106) AS InwardDate
						, mt.INWno, pm.ItemCode as PatternCode, stm.SandType -- , mit.Cavity
						, mts.Quantity           
						, mtt.MoldTransferTrans_Id , mt.MoldInward_Id, mtt.MoldInwardTransId ,stm.SandTypeId--,mit.MoldTypeId 
						,mt.ToPlantId,pm.PurchaseItemId as PatternId
						, FromPlantTbl.PlantCode AS FromPlant
						, ToPlantTbl.PlantCode AS ToPlant
				   from MoldInward AS mt  
						INNER JOIN MoldInwardTrans AS mtt ON mtt.MoldInward_Id = mt.MoldInward_Id and mtt.IsDeleted = 0  
						INNER JOIN MoldTransferTrans AS mts ON mts.MoldTransferTransId = mtt.MoldTransferTrans_Id
						INNER JOIN MoldTransfer ON MoldTransfer.MoldTransfer_Id = mts.MoldTransfer_Id
						--INNER JOIN MoldTransferTransCavity AS mttc ON mttc.MoldTransferTrans_Id = mts.MoldTransferTransId  
						INNER JOIN PurchaseItemMaster AS pm ON pm.PurchaseItemId = mts.PatternId  
						INNER JOIN SandTypeMaster AS stm ON stm.SandTypeId = mts.SandTypeId  
						--INNER JOIN MoldInventoryType AS mit ON mit.MoldTypeID = mttc.MoldTypeId   
						LEFT JOIN PlantMaster AS FromPlantTbl ON FromPlantTbl.PlantId = MoldTransfer.FromPlantId
						LEFT JOIN PlantMaster AS ToPlantTbl ON ToPlantTbl.PlantId = MoldTransfer.ToPlantId
				   WHERE  mts.IsReceived =  1 and  mt.IsDeleted = 0  
						AND mt.EntityId =@EntityId  
						AND pm.IsPattern = 1  
						AND ( ISNULL(@PlantIdString,'') = ''  
							OR mt.ToPlantId IN (  
								SELECT Item FROM @Plant
							)  
						)  
						AND (ISNULL(@MoldInward_Id, '') = '' OR mt.MoldInward_Id = @MoldInward_Id)  
						AND (ISNULL(@SandTypeId, 0) = 0 OR mts.SandTypeId = @SandTypeId)  
						AND (@PatternId IS NULL OR mts.PatternId = @PatternId)  
						--  AND (ISNULL(@TransferBy, 0) = 0 OR mt.TransferBy = @TransferBy)  
						AND ( @DateFrom IS NULL OR @DateTo IS NULL  
							OR CAST(mt.InwardDate AS DATE) BETWEEN CAST(@DateFrom AS DATE) AND CAST(@DateTo AS DATE)  
						)  
			           
				 ) AS Final  
			   ) AS ResponseTable  
			   WHERE RowNo > ( @PageNumber * @PageSize )  
        END 
        
        	IF(@parameter = 2) --Mold Inward Register Download Report Data
			BEGIN
				SELECT CONVERT(VARCHAR(11), mt.InwardDate, 106) AS InwardDate
						, mt.INWno AS InwardNo
						, mt.ChallanNo
						, CONVERT(VARCHAR(11), mt.ChallanDate, 106) AS ChallanDate
						, pm.ItemCode as PatternCode
						, stm.SandType
						, mts.Quantity           
						, PlantMaster.PlantName AS PlantName
						, WeightSlipNo AS WtSlipNo
						, FreightAmount AS FreightCharge
						, RickshawFreight
						, LoadingUnloading AS UnloadingCharge
						, mt.Remarks
						, '' AS CastingName
				FROM MoldInward AS mt  
						INNER JOIN MoldInwardTrans AS mtt ON mtt.MoldInward_Id = mt.MoldInward_Id and mtt.IsDeleted = 0  
						INNER JOIN MoldTransferTrans AS mts ON mts.MoldTransferTransId = mtt.MoldTransferTrans_Id
						INNER JOIN PurchaseItemMaster AS pm ON pm.PurchaseItemId = mts.PatternId  
						INNER JOIN SandTypeMaster AS stm ON stm.SandTypeId = mts.SandTypeId  
						INNER JOIN PlantMaster ON PlantMaster.PlantId = mt.ToPlantId
				WHERE  mt.IsDeleted = 0 AND mt.EntityId = @EntityID
						AND ( @DateFrom IS NULL OR @DateTo IS NULL
								OR CAST(mt.InwardDate AS DATE) BETWEEN CAST(@DateFrom AS DATE) AND CAST(@DateTo AS DATE)
							)
						AND ( ISNULL(@PlantIdString,'') = ''  
							OR mt.ToPlantId IN (  
								SELECT Item FROM @Plant  
							)  
						)  
						and pm.IsPattern = 1 
						AND (ISNULL(@MoldInward_Id, '') = '' OR mt.MoldInward_Id = @MoldInward_Id)  
						AND (ISNULL(@SandTypeId, 0) = 0 OR mts.SandTypeId = @SandTypeId)  
						AND (@PatternId IS NULL OR mts.PatternId = @PatternId)
			END 
END
GO
