USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CastingProductionTrendChartDrillThrough]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--SELECT * FROM ProductionBatch
--SELECT * FROM knockout

-----------------------------CastingProductionTrendChartDrillThrough
--RowNo
--DateField
--ProductionDate(All the dates)
--ProductionQuarter
--ProductionYear
--ProductionWeight

CREATE PROCEDURE [dbo].[CastingProductionTrendChartDrillThrough]
    @StartYear INT = 0 ,
    @ProductionMonth VARCHAR(MAX) = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @CastingName VARCHAR(MAX) = NULL ,
    @MetalID BIGINT = 0 ,
    @MetalName VARCHAR(MAX) = NULL ,
    @MetalType VARCHAR(MAX) = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
    BEGIN
		-------------------------------------------------------
        DECLARE @StartingMonthForFY INT;
        SET @StartingMonthForFY = ( SELECT FinancialYear FROM [configuration] where EntityID = @EntityId)
		-------------------------------------------------------
		DECLARE @ProductionData TABLE(ProductionDate VARCHAR(100), ProductionWeight FLOAT)
		INSERT INTO @ProductionData
		SELECT  CONVERT(VARCHAR(10), ProductionDate, 20) AS ProductionDate
				, SUM(ISNULL(productionqty, 0) * ISNULL(perpcWeight, 0)) AS ProductionWeight
		FROM    ProductionBatch PB
				INNER JOIN knockout KO ON KO.batchid = PB.batchID
				INNER JOIN CastingMaster CM ON CM.CastingId = KO.castingid
				INNER JOIN MetalMaster MM ON MM.MetalId = PB.MetalID
		WHERE   PB.IsDeleted = 0
				AND KO.IsDeleted = 0
				AND CM.IsDeleted = 0
				AND MM.IsDeleted = 0
				AND ( @StartYear IS NULL OR YEAR(ProductionDate) = @StartYear )
				AND ( @ProductionMonth IS NULL OR DATENAME(MONTH, ProductionDate) = @ProductionMonth )
				AND ( @CastingID IS NULL OR CM.CastingID = @CastingId )
				AND ( @CastingName IS NULL OR CM.CastingName = @CastingName )
				AND ( @MetalId = 0 OR MM.MetalID = @MetalId )
				AND ( @MetalName IS NULL OR MM.MetalName = @MetalName )
				AND ( @MetalType IS NULL OR MM.MetalType = @MetalType )
				AND ( @PlantIdString IS NULL OR @PlantIdString = ''
						OR KO.CastingId IN ( 
							SELECT	CastingId FROM dbo.PlantCastingMapping 
							INNER JOIN dbo.SplitString(@PlantIdString, ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
				)
				AND PB.EntityID = @EntityId
				GROUP BY ProductionDate
		-------------------------------------------------------
        SELECT  1 AS RowNo , CONVERT(VARCHAR, DAY(date)) AS DateField , CONVERT(VARCHAR(10), date, 20) AS ProductionDate ,
                ( CASE WHEN MONTH(date) BETWEEN @StartingMonthForFY AND     @StartingMonthForFY + 2 THEN 'Q1'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY + 3 AND     @StartingMonthForFY + 5 THEN 'Q2'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY + 6 AND     @StartingMonthForFY + 8 THEN 'Q3'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY + 9 AND     @StartingMonthForFY + 11 THEN 'Q4'
                  END ) AS QuarterField ,
                YEAR(date) AS ProductionYear ,
                ISNULL(A.ProductionWeight, 0) AS ProductionWeight
        FROM    GetdateByMonth(DATEADD(m, MONTH(CAST('01' + @ProductionMonth + '2010' AS DATETIME)) - 1, DATEADD(yyyy, @StartYear - 1900, 0)),
					DATEADD(d, -1, DATEADD(m, MONTH(CAST('01' + @ProductionMonth + '2010' AS DATETIME)), DATEADD(yyyy, @StartYear - 1900, 0)))
				)
                LEFT JOIN ( 
					SELECT	* FROM @ProductionData AS ProductionData
					WHERE	MONTH(ProductionDate) > @StartingMonthForFY - 1
                ) A ON A.ProductionDate = date
        WHERE   MONTH(date) > @StartingMonthForFY - 1
        
		UNION

        SELECT  2 AS RowNo , CONVERT(VARCHAR, DAY(date)) AS DateField , CONVERT(VARCHAR(10), date, 20) AS ProductionDate ,
                ( CASE WHEN MONTH(date) BETWEEN @StartingMonthForFY - 12 AND     @StartingMonthForFY - 10 THEN 'Q1'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY - 9 AND     @StartingMonthForFY - 7 THEN 'Q2'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY - 6 AND     @StartingMonthForFY - 4 THEN 'Q3'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY - 3 AND     @StartingMonthForFY - 1 THEN 'Q4'
                  END ) AS QuarterField ,
                YEAR(date) AS ProductionYear ,
                ISNULL(A.ProductionWeight, 0) AS ProductionWeight
        FROM    GetdateByMonth(DATEADD(m, MONTH(CAST('01' + @ProductionMonth + '2010' AS DATETIME)) - 1, DATEADD(yyyy, @StartYear - 1900, 0)),
					DATEADD(d, -1, DATEADD(m, MONTH(CAST('01' + @ProductionMonth + '2010' AS DATETIME)), DATEADD(yyyy, @StartYear - 1900, 0)))
				)
                LEFT JOIN ( 
					SELECT	* FROM @ProductionData AS ProductionData
                    WHERE   MONTH(ProductionDate) < @StartingMonthForFY
				) A ON A.ProductionDate = date
        WHERE   MONTH(date) < @StartingMonthForFY
		-------------------------------------------------------
    END
GO
