USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MachineShopInward_INSERT]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- MachineShopInward_INSERT'<dsXmlData>\r\n  <dtMaster>\r\n    <InwardId>00000000-0000-0000-0000-000000000000</InwardId>\r\n    <InwardDate>2022-11-09T00:00:00+05:30</InwardDate>\r\n    <BroughtBy />\r\n    <GateEntryNo />\r\n    <ChallanNo />\r\n    <VehicleNo />\r\n    <ChallanDate>2022-11-09T12:32:41+05:30</ChallanDate>\r\n    <LRNo />\r\n    <WeightSlipNo />\r\n    <FreightAmount>0</FreightAmount>\r\n    <CreatedBy>108</CreatedBy>\r\n    <LoadingUnloading>0</LoadingUnloading>\r\n    <Remarks />\r\n    <EntityId>41</EntityId>\r\n    <INWno>00009</INWno>\r\n    <INWSrNo>68221100009</INWSrNo>\r\n    <SeriesId>238</SeriesId>\r\n    <PlantId>74</PlantId>\r\n  </dtMaster>\r\n  <dtDetails>\r\n    <InwardId>00000000-0000-0000-0000-000000000000</InwardId>\r\n    <CastingId>4b5f2486-f7db-4575-a0c5-f56dee2d6fe5</CastingId>\r\n    <MetalID>165</MetalID>\r\n    <InwardQty>150</InwardQty>\r\n    <AcceptedQty>150</AcceptedQty>\r\n    <ProcessID>bab8dabb-fe9d-4421-abcd-faef9fc74874</ProcessID>\r\n    <PerPcWeight>9</PerPcWeight>\r\n    <DispatchTransID>1591</DispatchTransID>\r\n  </dtDetails>\r\n</dsXmlData>','True','InterPlantCastingInward',0
CREATE PROCEDURE [dbo].[MachineShopInward_INSERT]
@XmlData Xml,
@InTransit bit = 0,
@Page Nvarchar(200) = Null,
@AddOnId1 int = 0
AS
BEGIN
	 BEGIN TRY
	 
	 BEGIN TRANSACTION MachineShopInward_INSERT
	 
	 DECLARE 
	 @InwardId UNIQUEIDENTIFIER = NULL,
	 @CustomerID UNIQUEIDENTIFIER = NULL,
	 @InwardHeatID UNIQUEIDENTIFIER = NULL,
	 @PageType int,
	 @FromProcessID UNIQUEIDENTIFIER,
	 @ToProcessID UNIQUEIDENTIFIER
	 

	 Set @CustomerID = '00000000-0000-0000-0000-000000000000'
	 set @InwardId = NEWID()
	 
	 IF @Page = 'MachineShopInward'
	 begin
	    Set @PageType = 1
	 end
	 else
	 begin
	    set @PageType = 2
	 end
	 
	   INSERT 
	   INTO 
	   RawMaterialInward
	   (
	    InwardId,
		InwardDate,
		BroughtBy,
		GateEntryNo,
		VehicleNo,
		ChallanDate,
		LRNo,
		WeightSlipNo,
		FreightAmount,
		CreatedBy,
		EmployeeId,
		LoadingUnloading,
		Remarks,
		IsMachineShopInward,
		CustomerId,
		EntityID,
		CreatedOn,
		INWno,
        INWSrNo,
        SeriesId,
        PlantId,
		GateInMasterId,
        PageType
         
		)
		SELECT
		             @InwardId
					,x.d.value('InwardDate[1]','datetime')
					,x.d.value('BroughtBy[1]','nvarchar(500)')
					,x.d.value('GateEntryNo[1]','nvarchar(100)')
					,x.d.value('VehicleNo[1]','nvarchar(100)')
					,x.d.value('ChallanDate[1]','Datetime')
					,x.d.value('LRNo[1]','nvarchar(100)')
					,x.d.value('WeightSlipNo[1]','nvarchar(100)')
					,x.d.value('FreightAmount[1]','decimal(18,2)')
					,x.d.value('CreatedBy[1]','int')
					,x.d.value('EmployeeId[1]','int')
					,x.d.value('LoadingUnloading[1]','decimal(18,2)')
					,x.d.value('Remarks[1]','nvarchar(500)')
					,1
					,@CustomerID
					,x.d.value('EntityId[1]','bigint')
					,GETDATE()
					,x.d.value('INWno[1]','nvarchar(50)')
					,x.d.value('INWSrNo[1]','nvarchar(50)')
					,x.d.value('SeriesId[1]','bigint')
					,x.d.value('PlantId[1]','int')
					,x.d.value('GateInMasterId[1]','uniqueidentifier')
					,@PageType
	
		FROM
		@XmlData.nodes('/dsXmlData/dtMaster')x(d)
		
		 
		print @InwardId
		
		
		Select @ToProcessID = ProcessId from ProcessMaster where AutoProcess=0 and IsMachineShopInward =1 and IsDeleted = 0
		
		Insert 
		Into 
		InwardCastingPurchase
		(
			InwardId,
			CastingId,
			MetalID,
			InwardQty,
			AcceptedQty,
			ProcessID,
			PerPcWeight,
			DispatchTransID,
			RejectionId
		)
		
		SELECT
					 @InwardId
					,x.d.value('CastingId[1]','nvarchar(MAX)')
					,x.d.value('MetalID[1]','int')
					,x.d.value('InwardQty[1]','int')
					,x.d.value('AcceptedQty[1]','int')
					,CASE WHEN @Page = 'MachineShopInward' THEN @ToProcessID ELSE x.d.value('ProcessID[1]','nvarchar(MAX)') END
					,x.d.value('PerPcWeight[1]','decimal(18,2)')
					,x.d.value('DispatchTransID[1]','int')
					,x.d.value('RejectionId[1]','int')
		FROM
		@XmlData.nodes('/dsXmlData/dtDetails')x(d)
		
		Declare @PlantID int,@EntityID int,@ToPlantId int,@DTransId int,@DispatchId int
		
		Select @ToPlantId = PlantID,@EntityID=EntityId from RawMaterialInward where InwardId =@InwardId
		
		
		Insert
		into
		InwardCastingHeatDetails
		(
		InwardCastingHeatDetailsId,
		InwardcastingPurchaseId,
		HeatId,
		ProcessId,
		Qty,
		BatchId)
		select
		NEWID(),
		ICP.InwardCastingPurchaseId,
		CS.productionbatchID,
		dispatchtrans.ProcessTo,--ICP.ProcessID,
		DG.Qty,
		CS.BatchID
		from
		InwardCastingPurchase ICP
		inner join DispatchGradewise as DG ON DG.DispatchTransID = ICP.DispatchTransID and DG.MetalID=ICP.MetalID 
		Inner join dispatchtrans On dispatchtrans.dispatchtransid = DG.DispatchTransID
		inner Join CastingStockBatch CSF On CSF.Batchid =DG.BatchID
		Inner join CastingStockBatch CS On CS.CastingID = CSF.CastingID
					and CS.MetalID = CSF.MetalID 
					And CS.productionbatchID = CSF.productionbatchID
					And CS.ProcessID = case when @PageType = 2 then CSF.ProcessID else dispatchtrans.ProcessTo end
					And CS.HeatCodeId = CSF.HeatCodeId
					And CS.PlantId = CSF.PlantId 
					and CS.EntityId = CSF.EntityId
					AnD CS.ToPlantId = case when @PageType = 2 then @ToPlantId else 0  end
					AND CS.InTransit = case when @PageType = 2 then 1 else 0 end
		where ICP.InwardId = @InwardId
	
		
		Declare @MetalID int,@InwardQty float,@CASTINGID UNIQUEIDENTIFIER,
		@DispatchTransID int, 
		@ProcessDate Datetime,
		@CreatedBy int,

		@HeatID bigint,
		@HeatCodeId int,
		
		@Createdon datetime,
		@UserID int,
		@CastingStockBatchID bigint,
		@BatchStock INT,
		@CurrentStock AS FLOAT,   
        @CastCodeNo VARCHAR(50),
        @ParentCastingid uniqueidentifier,
        @PartId uniqueidentifier ,
        @ParentID uniqueidentifier,
        @Weight FLOAT = 0,
        @CastPurchaseID uniqueidentifier,
		@RejectionId int;
      --  @ValidRejectionId INT;
        
        
        
        
                DECLARE CuTransId CURSOR
		        FOR
		        
		        Select  InwardCastingPurchaseId,DispatchTransID,castingid,Rejectionid,InwardQty,PerPcWeight from InwardCastingPurchase where InwardId = @InwardId
		        
		        OPEN CuTransId
		        FETCH NEXT FROM CuTransId INTO @CastPurchaseID,@DispatchTransID,@CASTINGID,@RejectionId,@InwardQty,@CurrentStock
		        WHILE(@@FETCH_STATUS=0)
		        BEGIN
		        
		        
		        select @DispatchId = dispatchid from dispatchtrans Where DispatchTransID = @DispatchTransID
		
		        select @PlantID = PlantId from dispatchmaster where DispatchID =@DispatchId
		        
		        
        
         IF @Page = 'MachineShopInward'
          BEGIN
          
           DECLARE CuInward CURSOR
		        FOR
		        
		        
		        
		       select
		        ICP.CastingId,
				ICP.MetalID,
				HD.Qty,
				ICP.DispatchTransID,
				RM.CreatedBy,
				ICP.ProcessID,
				HD.ProcessId,
				CS.productionbatchID,
				RM.EntityID,
				CS.HeatCodeId,
				RM.CreatedOn,
				RM.CreatedBy,
				CS.BatchID,
				ICP.PerPcWeight
				
		    from
		    RawMaterialInward RM
		    Inner join InwardCastingPurchase as ICP ON ICP.InwardId = RM.InwardId
		    Inner join InwardCastingHeatDetails as HD ON HD.InwardcastingPurchaseId =ICP.InwardCastingPurchaseId
		    Inner join CastingStockBatch CS ON CS.BatchId = HD.BatchId 
		    where
		    ICP.InwardId = @InwardId
			and
			ISNULL(RM.IsDeleted,0) =0
			--and  
			--ICP.MetalID=CS.MetalID
			--and
			--ICP.ProcessID = CS.ProcessID
			--and
			--CS.InTransit =0
			--AND
			--CS.PlantId = @PlantID
			--AND
			--CS.EntityId =@EntityId
			and
			ICP.InwardCastingPurchaseId = @CastPurchaseID
			--and
   --         ICP.CastingId = CS.CastingId
	
				OPEN CuInward
		        FETCH NEXT FROM CuInward INTO @CASTINGID,@MetalID,@InwardQty,@DispatchTransID,@CreatedBy,@ToProcessID,@FromProcessID,@HeatID,@EntityID,@HeatCodeId,@Createdon,@UserID,@CastingStockBatchID,@Weight
		        WHILE(@@FETCH_STATUS=0)
		        BEGIN
		        
		        --Select @ToProcessID = ProcessId from ProcessMaster where AutoProcess=0 and IsMachineShopInward =1 and IsDeleted = 0
	 
		        Set @InwardQty = (-1) * @InwardQty
		        
		         EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @CASTINGID,
                                @MetalID = @MetalID, @StockToAdd =  @InwardQty,
                                @StockToRej = 0, @ProcessID = @FromProcessID,
                                @ProcessTransferTo = @ToProcessID,
                                @Tagging = N'Internal Inward',
                                @Process = N'Insert', @ProcessCode = @DispatchTransID,
                                @productionbatchid = @HeatID,
                                @ProcessDate = @Createdon, @UserID = @UserID,
                                @CastCode_No = 0,
                                @CastingStockBatchID = @CastingStockBatchID,
                                @isCastCodeEnable = 0,
                                @BatchWeight = @Weight,
                                @HeatCodeId = @HeatCodeId,
                                @CASTINGID2 = @CASTINGID,
                                @PlantId = @PlantId,
								@AddOnId1 = @AddOnId1,
								@InTransit =0,
								@EntityID =@EntityID,
								@InTransitFrom = 0,
								@ToPlantId =@PlantId
                                
			   
                Update dispatchtrans set IsInward  = 1 where dispatchtransid = @DispatchTransID
                
                  
		        FETCH NEXT FROM CuInward INTO @CASTINGID,@MetalID,@InwardQty,@DispatchTransID,@CreatedBy,@ToProcessID,@FromProcessID,@HeatID,@EntityID,@HeatCodeId,@Createdon,@UserID,@CastingStockBatchID,@Weight
		        END
		        CLOSE CuInward
		        DEALLOCATE CuInward
          
          END
          else
          begin
		       IF (@RejectionId IS NOT NULL AND @RejectionId > 0)
					BEGIN
					IF  (SELECT RejQty FROM CastingfinalRejectionInTranist
								WHERE EntityId = @EntityID
								  and PlantId = @PlantId
								  and ToPlantid = @ToPlantId
								  and RejectionID = @RejectionId
								  and CastingID = @CASTINGID
								  and InTransit = 1
							) >= @InwardQty
							BEGIN
							
						Update  CastingfinalRejectionInTranist
						        set RejQty = RejQty + (-@InwardQty),
								    Weight = Weight + (-@CurrentStock)
								WHERE EntityId = @EntityID
								  and PlantId = @PlantId
								  and ToPlantid = @ToPlantId
								  and RejectionID = @RejectionId
								  and CastingID = @CASTINGID
								  and InTransit = 1
                        IF EXISTS (
								SELECT 1
								FROM CastingfinalRejectionInTranist
								WHERE EntityId = @EntityID
								  and PlantId = @ToPlantId
								  and RejectionID = @RejectionId
								  and CastingID = @CASTINGID
								  and InTransit = 0
							)
							BEGIN
							   Update  CastingfinalRejectionInTranist
						        set RejQty = RejQty + @InwardQty,
								    Weight = Weight + @CurrentStock
								WHERE EntityId = @EntityID
								  and PlantId = @ToPlantId
								  and RejectionID = @RejectionId
								  and CastingID = @CASTINGID
								  and InTransit = 0
							END
							ELSE
							BEGIN
							 INSERT INTO CastingfinalRejectionInTranist (castingid, RejQty, weight, intransit, plantid, entityid, rejectionid)
							                                     values (@CASTINGID, @InwardQty,@CurrentStock,0,@ToPlantId,@EntityID,@RejectionId)
																	
							END
						
				        
						  Update dispatchtrans set IsInward  = 1 where dispatchtransid = @DispatchTransID
				      END 
					END
				--END
		    else
			 BEGIN
			   
		        DECLARE CuInward CURSOR
		        FOR
		        
		       
		       select
		        ICP.CastingId,
				ICP.MetalID,
				HD.Qty,
				ICP.DispatchTransID,
				RM.CreatedBy,
				ICP.ProcessID,
				CS.productionbatchID,
				RM.EntityID,
				CS.HeatCodeId,
				RM.CreatedOn,
				RM.CreatedBy,
				CS.BatchID,
				ICP.PerPcWeight
		from
		RawMaterialInward RM
		 Inner join InwardCastingPurchase as ICP ON ICP.InwardId = RM.InwardId
		 Inner join InwardCastingHeatDetails as HD ON HD.InwardcastingPurchaseId =ICP.InwardCastingPurchaseId
		 Inner join CastingStockBatch CS ON CS.BatchId = HD.BatchId 
		where
		ICP.InwardId = @InwardId
		and
		ISNULL(RM.IsDeleted,0) =0
		and  
		ICP.MetalID=CS.MetalID
		--and
		--ICP.ProcessID = CS.ProcessID
		--and
		--CS.InTransit =@InTransit
		--AND
		--CS.ToPlantId =@ToPlantId
		--AND
		--CS.PlantId =@PlantId
		--AND
		--CS.EntityId =@EntityId
		and
        ICP.InwardCastingPurchaseId = @CastPurchaseID
        --and
        --ICP.CastingId = CS.CastingId
	
				OPEN CuInward
		        FETCH NEXT FROM CuInward INTO @CASTINGID,@MetalID,@InwardQty,@DispatchTransID,@CreatedBy,@FromProcessID,@HeatID,@EntityID,@HeatCodeId,@Createdon,@UserID,@CastingStockBatchID,@Weight
		        WHILE(@@FETCH_STATUS=0)
		        BEGIN
		
                  
		     
		        Set @InwardQty = -@InwardQty
		        
		        
						DECLARE @result3 TABLE (
							returnvalue int
						);
						INSERT INTO @result3 (returnvalue)
		                        EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @CASTINGID,
                                @MetalID = @MetalID, @StockToAdd =  @InwardQty,
                                @StockToRej = 0, @ProcessID = @FromProcessID,
                                @ProcessTransferTo = @FromProcessID,
                                @Tagging = N'Internal Inward',
                                @Process = N'Insert', @ProcessCode = @DispatchTransID,
                                @productionbatchid = @HeatID,
                                @ProcessDate = @Createdon, @UserID = @UserID,
                                @CastCode_No = 0,
                                @CastingStockBatchID = @CastingStockBatchID,
                                @isCastCodeEnable = 0,
                                @BatchWeight = @Weight,
                                @HeatCodeId = @HeatCodeId,
                                @CASTINGID2 = @CASTINGID,
                                @PlantId = @PlantId,
								@AddOnId1 = @AddOnId1,
								@InTransit =0,
								@EntityID =@EntityID,
								@ToPlantId =@ToPlantId,
								@InTransitFrom = 1
								
								IF (@@Error <> 0 OR ((SELECT returnvalue FROM @result3)= 1))
						BEGIN
							ROLLBACK TRANSACTION
							SELECT -2
							RETURN -2
						END
                                
			   
                 Update dispatchtrans set IsInward  = 1 where dispatchtransid = @DispatchTransID
  
                  
		        FETCH NEXT FROM CuInward INTO @CASTINGID,@MetalID,@InwardQty,@DispatchTransID,@CreatedBy,@FromProcessID,@HeatID,@EntityID,@HeatCodeId,@Createdon,@UserID,@CastingStockBatchID,@Weight
		        END
		        CLOSE CuInward
		        DEALLOCATE CuInward
		        
		        end
		    END
		        FETCH NEXT FROM CuTransId INTO @CastPurchaseID,@DispatchTransID,@CASTINGID,@RejectionId,@InwardQty,@CurrentStock
		        END
				
		        CLOSE CuTransId
		        DEALLOCATE CuTransId      
		
		
		

	 SELECT '1'
	 COMMIT TRANSACTION MachineShopInward_INSERT
	 END TRY
	 BEGIN CATCH
	 SELECT  'ERROR : ' + ERROR_MESSAGE() AS ErrorMessage,
        ERROR_LINE() AS ErrorLine,
        ERROR_PROCEDURE() AS ErrorProcedure,
        ERROR_NUMBER() AS ErrorNumber,
        ERROR_SEVERITY() AS ErrorSeverity,
        ERROR_STATE() AS ErrorState;
	 ROLLBACK TRANSACTION MachineShopInward_INSERT
	 END CATCH


END
GO
