USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FgRateReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,MEGHA>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FgRateReport]
	@CustomerId uniqueidentifier = null,
	@CastingId uniqueidentifier = null,
	@MetalId int = 0 ,
	@FromDate datetime = null,
	@ToDate datetime = null,
	@CastingName varchar(MaX) = null ,
	@ShowHistory bit = 0,
	@PlantIdString varchar(MaX) = null,
	@EntityId int = 0
AS
BEGIN
	SET NOCOUNT ON;
	
    Select	FgRate.CustomerName,FgRate.CustomerCode,
			FgRate.CastingName,FgRate.CastingCode,
			FgRate.MetalName,
			Convert(varchar(50),FgRate.Apply_Date ,106) as ApplyDate ,
			Round(FgRate.RateHistory,2) as RateHistory,
			Round(FgRate.MachiningRatePerPc,2) as MachiningRatePerPc,
			Round((Isnull(FgRate.RateHistory,0) - isnull(FgRate.MachiningRatePerPc,0)),2) as CastingRatePerPc,
			Round(case when ISNULL(FgRate.FGWeight,0) != 0 
				then (Isnull(FgRate.RateHistory,0) - isnull(FgRate.MachiningRatePerPc,0)) / FgRate.FGWeight 
				else 0 end,2) as CastingRatePerkg,
			'PerPc' As UOM,
			Currency,
			round(FgRate.FGWeight,3) as FGWeight,
			CastingId,RoughMachiningRatePerPc,FullyMachiningRatePerPc,
			ROW_NUMBER() Over( Partition by customerName, customercode,castingId, MetalName 
				Order by CustomerName,CustomerCode,CastingId,MetalName,IsCurrent desc, Apply_Date desc , CreatedOn desc) as Rowno
	into	#TempTable		
    From (
			select	CustomerName,CustomerCode,
					CastingName,CastingCode,MetalName,
					FGWeight,
					Cast(ApplyDate as DATE) as Apply_Date,
					Round(case when (ISNULL(RoughMUOM,'') = 'PerKg' Or ISNULL(FullyMUOM,'') = 'PerKg')
						then ISNULL(FullyMCost,0) * isnull(FGWeight,0) 
						else ISNULL(FullyMCost,0) end,2) as RateHistory,
						
					Round(case when (ISNULL(RoughMUOM,'') = 'PerKg' Or ISNULL(FullyMUOM,'') = 'PerKg')
					then (ISNULL(RoughMRate,0) + ISNULL(FullyMRate,0)) * isnull(FGWeight,0)
					else (ISNULL(RoughMRate,0) + ISNULL(FullyMRate,0)) end ,2) as MachiningRatePerPc,
					
					Round(case when (ISNULL(RoughMUOM,'') = 'PerKg' )
					then (ISNULL(RoughMCost,0)  ) * isnull(FGWeight,0)
					else (ISNULL(RoughMCost,0)  ) end ,2) as RoughMachiningRatePerPc,
					
					Round(case when (  ISNULL(FullyMUOM,'') = 'PerKg')
					then (  ISNULL(FullyMCost,0)) * isnull(FGWeight,0)
					else (  ISNULL(FullyMCost,0)) end ,2) as FullyMachiningRatePerPc,
					
					FGRateMaster.CastingId,
					CurrencyMaster.Currency,
					FGRateMaster.CreatedOn,
					1 as IsCurrent
			from	FGRateMaster
					Inner Join CustomerMaster On CustomerMaster.CustomerId = FGRateMaster.CustomerId
					Inner Join CastingMaster On CastingMaster.CastingId = FGRateMaster.CastingId
					Inner join MetalMaster On MetalMaster.MetalId = FGRateMaster.MetalId
					Inner join CurrencyMaster On CurrencyMaster.CurrencyID = FGRateMaster.Currency
			where  (@CustomerId is null Or FGRateMaster.CustomerId = @CustomerId)
					And (@CastingId Is null Or FGRateMaster.CastingId = @CastingId)
					And (@CastingName is null Or @CastingName = '' Or CastingMaster.CastingName = @CastingName)
					And ( @MetalId = 0 Or FGRateMaster.MetalId = @MetalId)
					And cast(FGRateMaster.ApplyDate as DATE) between cast(@FromDate as Date) and cast(@ToDate as DATE)
					AND CastingMaster.EntityID = @EntityId
			Union All
			select	CustomerName,CustomerCode,
					CastingName,CastingCode,MetalName,
					FGWeight,
					Cast(ApplyDate as DATE) as Apply_Date,
					case when (ISNULL(RoughMUOM,'') = 'PerKg' Or ISNULL(FullyMUOM,'') = 'PerKg')
						then ISNULL(FullyMCost,0) * isnull(FGWeight,0) 
						else ISNULL(FullyMCost,0) end as RateHistory,
					case when (ISNULL(RoughMUOM,'') = 'PerKg' Or ISNULL(FullyMUOM,'') = 'PerKg')
					then (ISNULL(RoughMRate,0) + ISNULL(FullyMRate,0)) * isnull(FGWeight,0)
					else (ISNULL(RoughMRate,0) + ISNULL(FullyMRate,0)) end as MachiningRatePerPc,
					
					Round(case when (ISNULL(RoughMUOM,'') = 'PerKg' )
					then (ISNULL(RoughMCost,0)  ) * isnull(FGWeight,0)
					else (ISNULL(RoughMCost,0)  ) end ,2) as RoughMachiningRatePerPc,
					
					Round(case when (  ISNULL(FullyMUOM,'') = 'PerKg')
					then (  ISNULL(FullyMCost,0)) * isnull(FGWeight,0)
					else (  ISNULL(FullyMCost,0)) end ,2) as FullyMachiningRatePerPc,
					
					FGRateMasterHistory.CastingId,
					CurrencyMaster.Currency,
					FGRateMasterHistory.CreatedOn,
					0 as IsCurrent
			from	FGRateMasterHistory
					Inner Join CustomerMaster On CustomerMaster.CustomerId = FGRateMasterHistory.CustomerId
					Inner Join CastingMaster On CastingMaster.CastingId = FGRateMasterHistory.CastingId
					Inner join MetalMaster On MetalMaster.MetalId = FGRateMasterHistory.MetalId
					Inner join CurrencyMaster On CurrencyMaster.CurrencyID = FGRateMasterHistory.Currency
			where  (@CustomerId is null Or FGRateMasterHistory.CustomerId = @CustomerId)
					And (@CastingId Is null Or FGRateMasterHistory.CastingId = @CastingId)
					And (@CastingName is null Or @CastingName = '' Or CastingMaster.CastingName = @CastingName)
					And ( @MetalId = 0 Or FGRateMasterHistory.MetalId = @MetalId)
					And cast(FGRateMasterHistory.ApplyDate as DATE) between cast(@FromDate as Date) and cast(@ToDate as DATE)
					AND CastingMaster.EntityID = @EntityId
					AND @ShowHistory <> 0 
		) as FgRate
	WHERE (@PlantIdString IS NULL OR @PlantIdString = ''
				OR CastingId IN (
					SELECT CastingId FROM dbo.PlantCastingMapping 
					INNER JOIN dbo.SplitString(@PlantIdString, ',') ON Item = CONVERT(varchar(max), PlantId))
			)
	Order by CustomerName,CustomerCode,CastingId,MetalName,IsCurrent desc, Apply_Date desc , CreatedOn desc
	
	select *,
	Round(isnull(CastingRatePerkg,0) - isnull((Select CastingRatePerkg from #TempTable as RevTable 
						Where RevTable.castingId = Main.CastingId
								And RevTable.MetalName = Main.MetalName
								And RevTable.CustomerName = Main.CustomerName
								And RevTable.CustomerCode = Main.CustomerCode
								And RevTable.RowNo = Main.RowNo + 1) ,Main.CastingRatePerkg) ,2) as RevRate
	from #TempTable as Main 
	drop table #TempTable
END
GO
