USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_MPInspction]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:<Megha>
-- =============================================
CREATE PROCEDURE [dbo].[SP_MPInspction]
    @Parameter INT = 0 ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @MetalID INT = 0 ,
    @ProcessID UNIQUEIDENTIFIER = NULL ,
    @ProcessIDFrom UNIQUEIDENTIFIER = NULL,
    @ContractorID INT = 0 ,
    @MachineId UNIQUEIDENTIFIER = NULL ,
    @StartTime DATETIME = NULL ,
    @EndTime DATETIME = NULL ,
    @ProcessTransfer_Date DATETIME = NULL ,
    @BatchXMl AS XML = NULL ,
    @EntityID INT = 0 ,
    @Transferqty INT = 0 ,
    @UserID INT = 0 ,
    @MPNo VARCHAR(6) = NULL ,
    @EntryNo VARCHAR(20) = NULL ,
    @SurfaceCond VARCHAR(100) = NULL ,
    @StageOfTest VARCHAR(100) = NULL ,
    @ProdSpacing VARCHAR(100) = NULL ,
    @MPCurrent VARCHAR(100) = NULL ,
    @TestTemp VARCHAR(100) = NULL ,
    @TestType VARCHAR(100) = NULL ,
    @ProcedureRef VARCHAR(100) = NULL ,
    @AcceptanceStd VARCHAR(100) = NULL ,
    @TestingMethod VARCHAR(100) = NULL ,
    @MagnetizingCurrent VARCHAR(100) = NULL ,
    @TestedArea VARCHAR(100) = NULL ,
    @MagnetizationMedium VARCHAR(100) = NULL ,
    @TC_Item AS XML = NULL ,
    @MPTCId INT = 0 ,
    @Remarks VARCHAR(MAX) = NULL ,
    @CreatedBy INT = 0 ,
    @MPTCNo VARCHAR(100) = NULL ,
    @MPTCDate DATETIME = NULL ,
    @InvoiceID INT = 0 ,
    @GradeId INT = 0 ,
    @IsHeatwise INT = 0 ,
    @DispatchID BIGINT = 0 ,
    @CastCodeEnable INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL ,
    @MPTCTransID INT = 0 ,
    @DispatchTransId INT = 0 ,
    @DwgNo VARCHAR(100) = NULL ,
    @MPINo VARCHAR(MAX) = NULL ,
    @HeatID INT = 0 ,
    @Qty INT = 0 ,
    @Result INT = 0 ,
    @StartDate DATE = NULL ,
    @EndDate DATE = NULL ,
    @TotalRecords INT = 0 ,
    @InitialLoad INT = 0 ,
    @PageNumber INT = 0 ,
    @PageSize INT = 0 ,
    @MPID UNIQUEIDENTIFIER = NULL ,
    @DeletedBy INT = 0 ,
    @DeletedOn DATETIME = NULL ,
   ---------------------------------
    @MP_ID UNIQUEIDENTIFIER = NULL ,
	-----------------------
    @_SurfaceCondition INT = 0 ,
    @_StageOfTest INT = 0 ,
    @_ProdSpacing INT = 0 ,
    @_MPCurrent INT = 0 ,
    @_TestTemp INT = 0 ,
    @_TestType INT = 0 ,
    @_ProcedureRef INT = 0 ,
    @_AccepStd INT = 0 ,
    @_TestingMethod INT = 0 ,
    @_MagnetizingCurrent INT = 0 ,
    @_TestedArea INT = 0 ,
    @_MagnetizationMedium INT = 0 ,
    @UpdatedBy INT = 0 ,
    @UpdatedOn DATETIME = NULL ,
    @MPIDString VARCHAR(MAX) = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL,
    @Weight float = null,
    @HeatCodeId int = 0,
    @CastCodeNo int = 0,
    @isCastCodeEnable bit = 0,
    @NotUserDateFilter int = 0,
    @OrderWisePouring Bit = 0,
    @OrderTranseID uniqueidentifier = null
    ,@Sequance int = 0,
    @Sequance2 int = 0,
    @IsStockTransReqNot int = 0,
    @IsProcessStockTransfer BIT = 0,
    @CastingName VARCHAR(100) = NULL,
    @PlantId int = 0,
    @InTransit bit = 0,
	@AddOnId1 int = 0
    
    ----------------------------
AS
    DECLARE @ID UNIQUEIDENTIFIER ,
        @batchID BIGINT ,
        @batchstock INT ,
        @stockbatchID BIGINT ,
        @TempStock INT 
                
         
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
    BEGIN
     --INSERT QUERY
        IF @Parameter = 1
            BEGIN
    
                BEGIN TRANSACTION
				-- Notifiction------					
				Set @OrderWisePouring = (Select permitir.permitir from permitir where Code = 'OWP')      
				if(@OrderWisePouring = 1)
				BEGIN
					Create table OrderDetail
					(
						OrderTranseID uniqueidentifier,
						TransferQty int
					)
				END
				----------------------
				
                SET @ID = NEWID()
                SET @CreatedOn = GETDATE()
           
                INSERT  INTO MPIMaster
                        ( MPID ,
                          MPINo ,
                          EntryNo ,
                          CastingID ,
                          MetalID ,
                          ProcessIDTo ,
                          ProcessQty ,
                          ProcessDate ,
                          StartTime ,
                          EndTime ,
                          OperatorID ,
                          MachineID ,
                          CreatedBy ,
                          CreatedOn ,
                          EntityID ,
                          SurfaceCondition ,
                          StageOfTest ,
                          ProdSpacing ,
                          MPCurrent ,
                          TestTemp ,
                          TestType ,
                          ProcedureRef ,
                          AccepStd ,
                          TestingMethod ,
                          MagnetizingCurrent ,
                          TestedArea ,
                          MagnetizationMedium,
                          PlantId
                        )
                VALUES  ( @ID ,
                          @MPNo ,
                          @EntryNo ,
                          @CastingID ,
                          @MetalID ,
                          @ProcessID ,
                          @Transferqty ,
                          @ProcessTransfer_Date ,
                          @StartTime ,
                          @EndTime ,
                          @ContractorID ,
                          @MachineId ,
                          @UserID ,
                          @CreatedOn ,
                          @EntityID ,
                          @_SurfaceCondition ,
                          @_StageOfTest ,
                          @_ProdSpacing ,
                          @_MPCurrent ,
                          @_TestTemp ,
                          @_TestType ,
                          @_ProcedureRef ,
                          @_AccepStd ,
                          @_TestingMethod ,
                          @_MagnetizingCurrent ,
                          @_TestedArea ,
                          @_MagnetizationMedium,
                          @PlantId   
			            )	
			        	
                IF @@Error <> 0
                    ROLLBACK TRANSACTION
                
                DECLARE BatchStockBreakup CURSOR
                FOR
                    SELECT  Node.value('(stockbatchid )[1]', 'bigint') AS 'stockbatchid' ,
                            Node.value('(TransferQty )[1]', 'int') AS 'TransferQty',
                            Node.value('(FromProcessID )[1]', 'uniqueidentifier') AS 'FromProcessID'
                    FROM    @BatchXMl.nodes('/DocumentElement/BatchTable') AS TEMPXML ( Node ) 
                OPEN BatchStockBreakup;

                FETCH NEXT FROM BatchStockBreakup INTO @stockbatchID,
                    @batchStock,@ProcessIDFrom
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                        INSERT  INTO MPIHeatDetails
                                ( MPITransID ,
                                  MPID ,
                                  BatchID ,
                                  Qty,
                                  FromProcessID
					            )
                        VALUES  ( NEWID() ,
                                  @ID ,
                                  @stockbatchID ,
                                  @batchstock ,
                                  @ProcessIDFrom
					            )     
					      
                        IF @@Error <> 0
                            ROLLBACK TRANSACTION
                    
						
					SET @TempStock = - @batchStock;
                    SET @batchID = (Select productionbatchID From CastingStockBatch where Batchid = @stockbatchID)
					SET @Weight = (Select CastingStockBatch.Weight from CastingStockBatch where Batchid = @stockbatchID)
					SET @HeatCodeId = (Select CastingStockBatch.HeatCodeId from CastingStockBatch where Batchid = @stockbatchID)
                    
                    -- Notifiction------
					if(@OrderWisePouring = 1)
					BEGIN
							
							Set @OrderTranseID = (Select top 1 OrderTranseID from CastingHeatCode
													Where CastingID = @castingid
													and ProductionBatchID = @batchID
													and HeatCodeID = @HeatCodeId
												  )
							IF @@Error <> 0
								ROLLBACK TRANSACTION
								
							if not exists(Select top 1 OrderTranseId from OrderDetail where OrderDetail.OrderTranseID = @OrderTranseID)
							Begin
								Insert into OrderDetail (OrderTranseId,TransferQty)
								values(@OrderTranseID, @batchstock)
							end
							else
							begin
								update OrderDetail set TransferQty = TransferQty + @batchstock
								where OrderDetail.OrderTranseID = @OrderTranseID
							end
							
							IF @@Error <> 0
								ROLLBACK TRANSACTION
						END
					--------------------------
                    DECLARE @result2 TABLE ( returnvalue INT );
			
                    INSERT  INTO @result2
                            ( returnvalue
                            )
                    EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @CastingID,
							@MetalID = @MetalID, 
							@StockToAdd = @TempStock,
							@StockToRej = 0, 
							@ProcessID = @ProcessIDFrom,
							@ProcessTransferTo = @ProcessID,
							@Tagging = N'Process Perform',
							@Process = N'Insert', 
							@ProcessCode = @ID,
							@productionbatchid = @batchID,
							@ProcessDate = @Createdon, 
							@UserID = @UserID,
							@CastCode_No = @CastCodeNo,
							@CastingStockBatchID = @stockbatchID,
							@isCastCodeEnable = @isCastCodeEnable,
							@BatchWeight = @Weight,
							@HeatCodeId = @HeatCodeId,
							@Castingid2 = @CastingID,
							@PlantId = @PlantId,
							@EntityId = @EntityId,
							@AddOnId1 = @AddOnId1
                        
                    IF ( @@Error <> 0
                         OR ( ( SELECT  returnvalue
                                FROM    @result2
                              ) = 1 )
                       )
                        BEGIN
                            ROLLBACK TRANSACTION
                            RETURN -2
                        END
                        
                        FETCH NEXT FROM BatchStockBreakup INTO @stockbatchID,
                            @batchStock,@ProcessIDFrom
                    END 

                CLOSE BatchStockBreakup;
                DEALLOCATE BatchStockBreakup;
            
				-- NOTIFICATION for next process user
				 SET @IsProcessStockTransfer = ( SELECT  permitir
											FROM    permitir
											WHERE   Code = 'PST'
										  ) 
				DECLARE @TempProcess VARCHAR(50) ,
					@NextProcess UNIQUEIDENTIFIER ;
	          
				SET @Sequance = ( SELECT  DISTINCT  Sequence
										  FROM      dbo.CastingProcess
										  WHERE     CastingID = @CastingId
													AND ProcessID = @ProcessID
													AND MetalId = @MetalID
										)
	                    
				if(@OrderWisePouring = 1)
				BEGIN
					Set @Sequance2 = (Select top 1 CastingProcess.Sequence FRom CastingProcess
										inner join ProcessMaster PM On PM.ProcessId = CastingProcess.ProcessID
										where Sequence > @Sequance
										and IsQCProcess = 0
										and CastingID = @castingID
										and MetalId = @MetalID
									  )
					
					DECLARE OrderCursor CURSOR
					FOR
						SELECT  OrderTranseID,
								TransferQty
						FROM    OrderDetail
							
					OPEN OrderCursor -- Open Cursor
					FETCH NEXT FROM OrderCursor INTO @OrderTranseId,@batchstock
					WHILE @@FETCH_STATUS = 0
					BEGIN
						Set @NextProcess = (Select	top 1 ProductionProcessMapping.ProcessId
											from	OrderSpecialRequirement 
													Inner join SPRequirementDepartmentMapping On SPRequirementDepartmentMapping.SPRequirementID = OrderSpecialRequirement.SPRequirementId
													Inner join SystemDepartment On SystemDepartment.DepartmentId = SPRequirementDepartmentMapping.DepartmentId
													INNER Join ProductionProcessMapping On ProductionProcessMapping.ReferenceId = SPRequirementDepartmentMapping.SPRequirementId
													INNER Join CastingProcess On CastingProcess.ProcessID = ProductionProcessMapping.ProcessId
															AND CastingProcess.CastingID = @castingID
															AND CastingProcess.MetalId = @MetalID
															And Sequence > @Sequance 
															And (@Sequance2 = 0 Or Sequence <= @Sequance2)
											Where	OrderSpecialRequirement.OrderTranseId = @OrderTranseID
													Order by Sequence asc
											)
						if(@NextProcess is null)
						BEGIN
							Set @NextProcess = (Select top 1 CastingProcess.ProcessID from CastingProcess 
												inner join ProcessMaster On ProcessMaster.ProcessId = CastingProcess.ProcessID
												Where CastingID = @castingID
												and MetalId = @MetalID
												And Sequence = @Sequance2
												and IsQCProcess = 0)
						END	
						set @IsStockTransReqNot  = 0
						SELECT  @IsStockTransReqNot = IsStockTransReq
						FROM    ProcessMaster
						WHERE   ProcessId = @NextProcess
	                                               
						IF ( @IsProcessStockTransfer = 1
							 AND @IsStockTransReqNot = 1
						   ) -- If process transfer enable than show notification to that user
							BEGIN					
								EXEC [dbo].[ProcessTransferNotification] @castingID = @castingID,
									@PartId = @CastingID, @ProcessID = @ProcessID,
									@NextProcessID = @NextProcess,
									@Transferqty = @batchstock
															
							END
						ELSE
							BEGIN
							-- Here @Processid will be passed because in procedure it will find next process and give notification that it is ready for next process
								EXEC [dbo].[ProcessPerformNotification] @castingID = @castingID,
									@PartId = @CastingID, @ProcessID = @ProcessID,
									@NextProcessID = @NextProcess,
									@Transferqty = @batchstock	        
							END                					
	        
						FETCH NEXT FROM OrderCursor INTO @OrderTranseId,@batchstock
					END
					CLOSE OrderCursor; -- Close Cursor
					DEALLOCATE OrderCursor;
					
				END
				Else
				BEGIN
					
					SET @NextProcess = ( SELECT DISTINCT ProcessID
										 FROM   dbo.CastingProcess
										 WHERE  CastingID = @CastingId
												AND MetalId = @MetalID
												AND Sequence = @Sequance + 1
													   -- AND ProcessType = 0
									   )
	                                   
					set @IsStockTransReqNot  = 0
					SELECT  @IsStockTransReqNot = IsStockTransReq
					FROM    ProcessMaster
					WHERE   ProcessId = @NextProcess
	                                           
					IF ( @IsProcessStockTransfer = 1
					 AND @IsStockTransReqNot = 1
				   ) -- If process transfer enable than show notification to that user
					BEGIN					
						EXEC [dbo].[ProcessTransferNotification] @castingID = @castingID,
							@PartId = @CastingID, @ProcessID = @ProcessID,
							@NextProcessID = @NextProcess,
							@Transferqty = @Transferqty						
					END
				ELSE
					BEGIN
					-- Here @Processid will be passed because in procedure it will find next process and give notification that it is ready for next process
						EXEC [dbo].[ProcessPerformNotification] @castingID = @castingID,
							@PartId = @CastingID, @ProcessID = @ProcessID,
							@NextProcessID = @NextProcess,
							@Transferqty = @Transferqty	        
					END                					
				END                                                   
				
				if(@OrderWisePouring = 1)
				BEGIN
					Drop table OrderDetail
				end
				-------------------------------------------
                COMMIT TRANSACTION                                                                                    	
            
            END
     
      -- SurfaceCond
        IF @Parameter = 2
            BEGIN
                SELECT DISTINCT
                        SurfaceCond
                FROM    MPTCMaster
                WHERE   SurfaceCond IS NOT NULL
                        AND SurfaceCond <> ''
                        AND MPTCMaster.IsDeleted = 0
                ORDER BY SurfaceCond
            END
     
     -- StageOfTest
        IF @Parameter = 3
            BEGIN
                SELECT DISTINCT
                        StageOfTest
                FROM    MPTCMaster
                WHERE   StageOfTest IS NOT NULL
                        AND StageOfTest <> ''
                        AND MPTCMaster.IsDeleted = 0
                ORDER BY StageOfTest
            END
     
     -- ProdSpacing
        IF @Parameter = 4
            BEGIN
                SELECT DISTINCT
                        ProdSpacing
                FROM    MPTCMaster
                WHERE   ProdSpacing IS NOT NULL
                        AND ProdSpacing <> ''
                        AND MPTCMaster.IsDeleted = 0
                ORDER BY ProdSpacing
            END
     
     -- MPCurrent
        IF @Parameter = 5
            BEGIN
                SELECT DISTINCT
                        MPCurrent
                FROM    MPTCMaster
                WHERE   MPCurrent IS NOT NULL
                        AND MPCurrent <> ''
                        AND MPTCMaster.IsDeleted = 0
                ORDER BY MPCurrent
            END
     
     -- TestTemp
        IF @Parameter = 6
            BEGIN
                SELECT DISTINCT
                        TestTemp
                FROM    MPTCMaster
                WHERE   TestTemp IS NOT NULL
                        AND TestTemp <> ''
                        AND MPTCMaster.IsDeleted = 0
                ORDER BY TestTemp
            END
     
     -- TestType
        IF @Parameter = 7
            BEGIN
                SELECT DISTINCT
                        TestType
                FROM    MPTCMaster
                WHERE   TestType IS NOT NULL
                        AND TestType <> ''
                        AND MPTCMaster.IsDeleted = 0
                ORDER BY TestType
            END
     
     -- ProcedureRef
        IF @Parameter = 8
            BEGIN
                SELECT DISTINCT
                        ProcedureRef
                FROM    MPTCMaster
                WHERE   ProcedureRef IS NOT NULL
                        AND ProcedureRef <> ''
                        AND MPTCMaster.IsDeleted = 0
                ORDER BY ProcedureRef
            END
     
     -- AcceptanceStd
        IF @Parameter = 9
            BEGIN
                SELECT DISTINCT
                        AcceptanceStd
                FROM    MPTCMaster
                WHERE   AcceptanceStd IS NOT NULL
                        AND AcceptanceStd <> ''
                        AND MPTCMaster.IsDeleted = 0
                ORDER BY AcceptanceStd
            END
     
     -- TestingMethod
        IF @Parameter = 10
            BEGIN
                SELECT DISTINCT
                        TestingMethod
                FROM    MPTCMaster
                WHERE   TestingMethod IS NOT NULL
                        AND TestingMethod <> ''
                        AND MPTCMaster.IsDeleted = 0
                ORDER BY TestingMethod
            END
     
     -- MagnetizingCurrent
        IF @Parameter = 11
            BEGIN
                SELECT DISTINCT
                        MagnetizingCurrent
                FROM    MPTCMaster
                WHERE   MagnetizingCurrent IS NOT NULL
                        AND MagnetizingCurrent <> ''
                        AND MPTCMaster.IsDeleted = 0
                ORDER BY MagnetizingCurrent
            END
     
     -- TestedArea     
        IF @Parameter = 12
            BEGIN
                SELECT DISTINCT
                        TestedArea
                FROM    MPTCMaster
                WHERE   TestedArea IS NOT NULL
                        AND TestedArea <> ''
                        AND MPTCMaster.IsDeleted = 0
                ORDER BY TestedArea
            END
     
     -- MagnetizationMedium
        IF @Parameter = 13
            BEGIN
                SELECT DISTINCT
                        MagnetizationMedium
                FROM    MPTCMaster
                WHERE   MagnetizationMedium IS NOT NULL
                        AND MagnetizationMedium <> ''
                        AND MPTCMaster.IsDeleted = 0
                ORDER BY MagnetizationMedium
            END
     
        IF @Parameter = 14  ----Insert data into Test_Certificate and Update Invoice_Master
            BEGIN
                BEGIN TRANSACTION
                --SELECT  @Prefix = Prefix ,
                --        @Suffix = Suffix ,
                --        @Separator = Separator
                --FROM    Prefix_Suffix
                --WHERE   Applydate <= @TCDate
                --        AND Page_Name = 'TC'

				
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION	
                    
                 
                   
                    
                INSERT  INTO MPTCMaster
                        ( MPTCNo ,
                          MPTCDate ,
                          EntryNo ,
                          InvoiceID ,
                          GradeId ,
                          MachineId ,
                          SurfaceCond ,
                          StageOfTest ,
                          ProdSpacing ,
                          MPCurrent ,
                          TestTemp ,
                          TestType ,
                          ProcedureRef ,
                          AcceptanceStd ,
                          TestingMethod ,
                          MagnetizingCurrent ,
                          TestedArea ,
                          MagnetizationMedium ,
                          Remarks ,
                          CreatedBy ,
                          CreatedOn ,
                          EntityID ,
                          IsDeleted
                        )
                VALUES  ( @MPTCNo ,
                          @MPTCDate ,
                          @EntryNo ,
                          @InvoiceID ,
                          @GradeId ,
                          @MachineId ,
                          @SurfaceCond ,
                          @StageOfTest ,
                          @ProdSpacing ,
                          @MPCurrent ,
                          @TestTemp ,
                          @TestType ,
                          @ProcedureRef ,
                          @AcceptanceStd ,
                          @TestingMethod ,
                          @MagnetizingCurrent ,
                          @TestedArea ,
                          @MagnetizationMedium ,
                          @Remarks ,
                          @CreatedBy ,
                          @CreatedOn ,
                          @EntityID ,
                          0
                        )
              
                SET @MPTCId = @@IDENTITY;
               
                DECLARE DispatchDetails CURSOR
                FOR
                    SELECT  Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,
                            Node.value('(DispatchTransId )[1]', 'bigint') AS 'DispatchTransId' ,
                            Node.value('(DrawingNo )[1]', 'varchar(100)') AS 'DrawingNo' ,
                            Node.value('(MPID )[1]', 'uniqueidentifier') AS 'MPID' ,
                            Node.value('(HeatID )[1]', 'bigint') AS 'HeatID' ,
                            Node.value('(Qty )[1]', 'int') AS 'Qty' ,
                            Node.value('(Result )[1]', 'varchar(50)') AS 'Result'
                    FROM    @TC_Item.nodes('/DocumentElement/TC_Item') AS TEMPXML ( Node )
                --  @DispatchTable.nodes('/DocumentElement/DispatchDetails')
                    --    AS TEMPXML ( Node )	
                OPEN DispatchDetails;

                FETCH NEXT FROM DispatchDetails INTO @CastingID,
                    @DispatchTransId, @DwgNo, @MPID, @HeatID, @Qty, @Result
							
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                    
                
                    
                        INSERT  INTO MPTCItemDetails
                                ( MPTCId ,
                                  CastingID ,
                                  DispatchTransId ,
                                  DwgNo ,
                                  MPID ,
                                  HeatID ,
                                  Qty ,
                                  Result                        
                                )
                        VALUES  ( @MPTCId ,
                                  @CastingID ,
                                  @DispatchTransId ,
                                  @DwgNo ,
                                  @MPID ,
                                  @HeatID ,
                                  @Qty ,
                                  @Result
							
                                )
                                            
                        FETCH NEXT FROM DispatchDetails INTO @CastingID,
                            @DispatchTransId, @DwgNo, @MPID, @HeatID, @Qty,
                            @Result
                    END 

                CLOSE DispatchDetails;
                DEALLOCATE DispatchDetails;	
              
                  
                        
                        
                COMMIT TRANSACTION     
			 
            END
        
        IF @Parameter = 15
            BEGIN

                IF ( @IsHeatwise = 0 )
                    BEGIN
                        SELECT DISTINCT
                                CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                DispatchGradewise.Qty dispatchqty 
                               -- OrderTranse.Metal ,
                               -- OrderTranse.MetalID
                        FROM    dispatchmaster
                                INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                                INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                                INNER JOIN CastingMaster ON dispatchtrans.castingid = CastingMaster.CastingId
                                INNER JOIN OrderMaster ON dispatchtrans.orderid = OrderMaster.CustomerOrderId
                               -- INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                                INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
                                LEFT OUTER JOIN MPTCMaster ON MPTCMaster.InvoiceID = dispatchmaster.DispatchID
                                                              AND ( MPTCMaster.IsDeleted = 0 )
                                LEFT OUTER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId
                        WHERE   ( dispatchmaster.DispatchID = @DispatchID )
                                AND dbo.dispatchtrans.IsDeleted = 0
                        GROUP BY CastingMaster.CastingId ,
                                CastingMaster.CastingCode ,
                                CastingMaster.CastingName ,
                                MetalMaster.MetalName ,
                                DispatchGradewise.Qty 
                                --OrderTranse.Metal ,
                                --OrderTranse.MetalID 
                     
                    END
                ELSE
                    BEGIN 
                        SELECT  *
                        FROM    ( SELECT    dispatchtrans.CastingId ,
                                            CastingMaster.CastingCode ,
                                            CastingMaster.CastingName ,
                                            MetalMaster.MetalName ,
                                            dispatchtrans.DispatchTransID ,
                                            ISNULL(( SELECT SUM(DispatchGradewise.qty)
                                                     FROM   DispatchGradewise
                                                            INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.DispatchGradewise.BatchID
                                                     WHERE  DispatchGradewise.DispatchTransID = dispatchtrans.DispatchTransID
                                                            AND productionbatchID IN (
                                                            SELECT
                                                              productionbatchID
                                                            FROM
                                                              dbo.MPIMaster
                                                              INNER JOIN dbo.MPIHeatDetails ON dbo.MPIHeatDetails.MPID = dbo.MPIMaster.MPID
                                                              INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.MPIHeatDetails.BatchID
                                                            WHERE
                                                              MPIMaster.CastingID = dbo.dispatchtrans.castingid
                                                              AND MPIMaster.MetalID = dbo.OrderTranse.MetalID
                                                              AND csb.Batchid = dbo.CastingStockBatch.Batchid
                                                              AND MPINo = ( SELECT
                                                              MAX(MPINo)
                                                              FROM
                                                              dbo.MPIMaster
                                                              INNER JOIN dbo.MPIHeatDetails ON dbo.MPIHeatDetails.MPID = dbo.MPIMaster.MPID
                                                              INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.MPIHeatDetails.BatchID
                                                              WHERE
                                                              MPIMaster.CastingID = dbo.dispatchtrans.castingid
                                                              AND MPIMaster.MetalID = dbo.DispatchGradewise.MetalID
                                                              AND IsDeleted = 0
															  and MPIMaster.EntityId = @EntityID
                                                              )
                                                              AND IsDeleted = 0 )
                                                   ), 0) AS dispatchqty ,
                                            ProductionBatch.batchno ,
                                            dispatchmaster.DispatchID ,
                                            OrderTranse.DrawingNo ,
                                            ProductionBatch.batchID AS HeatID ,
                                            ( SELECT    MAX(MPINo) AS MPINo
                                              FROM      dbo.MPIMaster
                                                        INNER JOIN dbo.MPIHeatDetails ON dbo.MPIHeatDetails.MPID = dbo.MPIMaster.MPID
                                                        INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.MPIHeatDetails.BatchID
                                              WHERE     MPIMaster.CastingID = dbo.dispatchtrans.castingid
                                                        AND MPIMaster.MetalID = dbo.OrderTranse.MetalID
                                           -- AND csb.Batchid = dbo.CastingStockBatch.Batchid
														and MPIMaster.EntityId = @EntityID
                                                        AND IsDeleted = 0
                                            ) AS MPINo ,
                                            ( SELECT TOP 1
                                                        MPID
                                              FROM      dbo.MPIMaster
                                              WHERE     MPINo = ( SELECT
                                                              MAX(MPINo)
                                                              FROM
                                                              dbo.MPIMaster
                                                              INNER JOIN dbo.MPIHeatDetails ON dbo.MPIHeatDetails.MPID = dbo.MPIMaster.MPID
                                                              INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.MPIHeatDetails.BatchID
                                                              WHERE
                                                              MPIMaster.CastingID = dbo.dispatchtrans.castingid
                                                              AND MPIMaster.MetalID = dbo.OrderTranse.MetalID
                                                             -- AND csb.Batchid = dbo.CastingStockBatch.Batchid
															  and MPIMaster.EntityId = @EntityID
                                                              AND IsDeleted = 0
                                                              )
                                                        AND IsDeleted = 0		
														and EntityId = @EntityID
                                              GROUP BY  MPID
                                            ) AS MPID ,
                                            CastingStockBatch.Batchid
                                  FROM      dispatchmaster
                                            INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                                            INNER JOIN CastingMaster ON dispatchtrans.castingid = CastingMaster.CastingId
                                            INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.dispatchtrans.orderid
                                                              AND OrderTranse.srno = dispatchtrans.orderserialno
                                                              AND OrderTranse.CastingId = dispatchtrans.CastingId
                                            INNER JOIN CastingMetal ON CastingMetal.castingID = CastingMaster.CastingId
                                                              AND CastingMetal.metalid = OrderTranse.MetalId
                                            INNER JOIN MetalMaster ON CastingMetal.MetalID = MetalMaster.MetalId
                                            INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.CastingId = dispatchtrans.castingid
                                            INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
                                  WHERE     ( dispatchmaster.DispatchID = @DispatchID )
                                            AND dispatchmaster.IsDeleted = 0
                                            AND productionbatchID IN (
                                            SELECT  productionbatchID
                                            FROM    dbo.MPIMaster
                                                    INNER JOIN dbo.MPIHeatDetails ON dbo.MPIHeatDetails.MPID = dbo.MPIMaster.MPID
                                                    INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.MPIHeatDetails.BatchID
                                            WHERE   MPIMaster.CastingID = dbo.dispatchtrans.castingid
                                                    AND MPIMaster.MetalID = dbo.OrderTranse.MetalID
                                                    AND csb.Batchid = dbo.CastingStockBatch.Batchid
                                                    AND MPINo = ( SELECT
                                                              MAX(MPINo)
                                                              FROM
                                                              dbo.MPIMaster
                                                              INNER JOIN dbo.MPIHeatDetails ON dbo.MPIHeatDetails.MPID = dbo.MPIMaster.MPID
                                                              INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.MPIHeatDetails.BatchID
                                                              WHERE
                                                              MPIMaster.CastingID = dbo.dispatchtrans.castingid
                                                   -- AND MPIMaster.MetalID = dbo.DispatchGradewise.MetalID
                                                              AND IsDeleted = 0
															  and MPIMaster.EntityId = @EntityID
                                                              ) )
                                ) AS TEMP
                        WHERE   TEMP.dispatchqty != 0
  --SELECT   dispatchtrans.CastingId ,
  --                              CastingMaster.CastingCode ,
  --                              CastingMaster.CastingName ,
  --                              MetalMaster.MetalName ,
  --                              dispatchtrans.DispatchTransID ,
  --                              SUM(DispatchGradewise.qty) AS dispatchqty ,
  --                              ProductionBatch.batchno ,
  --                              dispatchmaster.DispatchID ,
  --                              OrderTranse.DrawingNo ,
  --                              ProductionBatch.batchID AS HeatID ,
  --                              ( SELECT    MAX(MPINo) AS MPINo
  --                                FROM      dbo.MPIMaster
  --                                          INNER JOIN dbo.MPIHeatDetails ON dbo.MPIHeatDetails.MPID = dbo.MPIMaster.MPID
  --                                          Left JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.MPIHeatDetails.BatchID
  --                                WHERE     MPIMaster.CastingID = dbo.dispatchtrans.castingid
  --                                          AND MPIMaster.MetalID = dbo.DispatchGradewise.MetalID
  --                                          AND IsDeleted = 0
  --                              ) AS MPINo ,
  --                              ( SELECT TOP 1
  --                                          MPID
  --                                FROM      dbo.MPIMaster
  --                                WHERE     MPINo = ( SELECT  MAX(MPINo)
  --                                                    FROM    dbo.MPIMaster
  --                                                            INNER JOIN dbo.MPIHeatDetails ON dbo.MPIHeatDetails.MPID = dbo.MPIMaster.MPID
  --                                                            INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.MPIHeatDetails.BatchID
  --                                                    WHERE   MPIMaster.CastingID = dbo.dispatchtrans.castingid
  --                                                            AND MPIMaster.MetalID = dbo.DispatchGradewise.MetalID
  --                                                            AND IsDeleted = 0
  --                                                  )
  --                                          AND IsDeleted = 0
  --                                GROUP BY  MPID
  --                              ) AS MPID ,
  --                              CastingStockBatch.Batchid
  --                     FROM     dispatchmaster
  --                              INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
  --                              INNER JOIN CastingMaster ON dispatchtrans.castingid = CastingMaster.CastingId
  --                              INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
  --                              INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.DispatchGradewise.BatchID
  --                              INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
  --                              INNER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId
  --                              INNER JOIN CastingMetal ON CastingMetal.castingID = CastingMaster.CastingId
  --                                                         AND CastingMetal.metalid = DispatchGradewise.MetalId
  --                              INNER JOIN OrderMaster ON dispatchtrans.orderid = OrderMaster.CustomerOrderId
  --                              INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                                 
  --                     WHERE    ( dispatchmaster.DispatchID =@DispatchID )
  --                     ANd dispatchmaster.IsDeleted = 0
  --                              --AND CastingStockBatch.Batchid IN (
  --                              --SELECT  batchID
  --                              --FROM    MPIHeatDetails
  --                              --        INNER JOIN MPIMASTER ON MPIHeatDetails.MPID = MPIMASTER.MPID
  --                              --WHERE   IsDeleted = 0 )
  --                     GROUP BY dispatchtrans.DispatchTransID ,
  --                              dispatchtrans.CastingId ,
  --                              CastingMaster.CastingCode ,
  --                              CastingMaster.CastingName ,
  --                              MetalMaster.MetalName ,
  --                              ProductionBatch.batchno ,
  --                              dispatchmaster.DispatchID ,
  --                              OrderTranse.DrawingNo ,
  --                              ProductionBatch.batchID ,
  --                              DispatchGradewise.MetalID ,
  --                              CastingStockBatch.Batchid
                                
                                
                       --    SELECT   dispatchtrans.CastingId ,
                       --         CastingMaster.CastingCode ,
                       --         CastingMaster.CastingName ,
                       --         MetalMaster.MetalName ,
                       --         dispatchtrans.DispatchTransID ,
                       --         SUM(DispatchGradewise.qty) AS dispatchqty ,
                       --         ProductionBatch.batchno ,
                       --         dispatchmaster.DispatchID ,
                       --         OrderTranse.DrawingNo ,
                       --         ProductionBatch.batchID AS HeatID 
                           
                       --         ,
                       --         ( SELECT    MAX(MPINo) AS MPINo
                       --           FROM      dbo.MPIMaster
                       --                     INNER JOIN dbo.MPIHeatDetails ON dbo.MPIHeatDetails.MPID = dbo.MPIMaster.MPID
                       --                     INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.MPIHeatDetails.BatchID
                       --           WHERE     MPIMaster.CastingID = dbo.dispatchtrans.castingid
                       --                     AND MPIMaster.MetalID = dbo.DispatchGradewise.MetalID
                       --                     AND csb.Batchid = dbo.CastingStockBatch.Batchid
                       --                     AND IsDeleted = 0
                       --         ) AS MPINo ,
                       --         ( SELECT TOP 1
                       --                     MPID
                       --           FROM      dbo.MPIMaster
                       --           WHERE     MPINo = ( SELECT  MAX(MPINo)
                       --                               FROM    dbo.MPIMaster
                       --                                       INNER JOIN dbo.MPIHeatDetails ON dbo.MPIHeatDetails.MPID = dbo.MPIMaster.MPID
                       --                                       INNER JOIN dbo.CastingStockBatch csb ON csb.Batchid = dbo.MPIHeatDetails.BatchID
                       --                               WHERE   MPIMaster.CastingID = dbo.dispatchtrans.castingid
                       --                                       AND MPIMaster.MetalID = dbo.DispatchGradewise.MetalID
                       --                                       AND csb.Batchid = dbo.CastingStockBatch.Batchid
                       --                                       AND IsDeleted = 0
                       --                             )
                       --                     AND IsDeleted = 0
                       --           GROUP BY  MPID
                       --         ) AS MPID ,
                       --         CastingStockBatch.Batchid
                       --FROM     dispatchmaster
                       --         INNER JOIN dispatchtrans ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
                       --         INNER JOIN CastingMaster ON dispatchtrans.castingid = CastingMaster.CastingId
                       --         INNER JOIN DispatchGradewise ON dispatchtrans.dispatchtransid = DispatchGradewise.DispatchTransID
                       --         INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.DispatchGradewise.BatchID
                       --         INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
                       --         INNER JOIN MetalMaster ON DispatchGradewise.MetalID = MetalMaster.MetalId
                       --         INNER JOIN CastingMetal ON CastingMetal.castingID = CastingMaster.CastingId
                       --                                    AND CastingMetal.metalid = DispatchGradewise.MetalId
                       --         INNER JOIN OrderMaster ON dispatchtrans.orderid = OrderMaster.CustomerOrderId
                       --         INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                                 
                       --WHERE    ( dispatchmaster.DispatchID = @DispatchID )
                       --ANd dispatchmaster.IsDeleted = 0
                       --         AND CastingStockBatch.Batchid IN (
                       --         SELECT  batchID
                       --         FROM    MPIHeatDetails
                       --                 INNER JOIN MPIMASTER ON MPIHeatDetails.MPID = MPIMASTER.MPID
                       --         WHERE   IsDeleted = 0 )
                       --GROUP BY dispatchtrans.DispatchTransID ,
                       --         dispatchtrans.CastingId ,
                       --         CastingMaster.CastingCode ,
                       --         CastingMaster.CastingName ,
                       --         MetalMaster.MetalName ,
                       --         ProductionBatch.batchno ,
                       --         dispatchmaster.DispatchID ,
                       --         OrderTranse.DrawingNo ,
                       --         ProductionBatch.batchID ,
                       --         DispatchGradewise.MetalID ,
                       --         CastingStockBatch.Batchid
                                
                               
                    END

            END
            
     
        IF @Parameter = 17
            BEGIN
                SELECT DISTINCT
                        MPTCNo
                FROM    MPTCMaster
                WHERE   ( IsDeleted = NULL
                          OR IsDeleted = 0
                        )
                        -----------------Plant----------------
						AND ( @PlantIdString IS NULL
									  OR @PlantIdString = ''
									  OR MPTCMaster.InvoiceID IN (
									  SELECT    DispatchID
									  FROM      dbo.dispatchmaster
									  WHERE     PlantId IN (
												SELECT Item  from  @Plant))
									)
						AND MPTCMaster.EntityID = @EntityId
						---------------------------------------
            END
     
    
        IF @Parameter = 19
            BEGIN
                SELECT DISTINCT
                        CASE WHEN DispatchMaster.Prefix IS NULL THEN ''
                             ELSE CONVERT(VARCHAR(50), DispatchMaster.Prefix)
                        END
                        + CASE WHEN DispatchMaster.Separator IS NULL THEN ''
                               ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                          END
                        + CONVERT(VARCHAR(50), DispatchMaster.DispatchSlipNo)
                        + CASE WHEN DispatchMaster.Separator IS NULL THEN ''
                               ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                          END
                        + CASE WHEN DispatchMaster.Suffix IS NULL THEN ''
                               ELSE CONVERT(VARCHAR(50), DispatchMaster.Suffix)
                          END AS DispatchSlipNo ,
                        dispatchmaster.DispatchID
                FROM    MPTCMaster
                        JOIN dispatchmaster ON MPTCMaster.InvoiceID = dispatchmaster.DispatchID
                WHERE   MPTCMaster.IsDeleted = 0
                        -----------------Plant----------------
						AND ( @PlantIdString IS NULL
									  OR @PlantIdString = ''
									  OR MPTCMaster.InvoiceID IN (
									  SELECT    DispatchID
									  FROM      dbo.dispatchmaster
									  WHERE     PlantId IN (
												SELECT Item  from  @Plant))
									)
						AND MPTCMaster.EntityID = @EntityId
						---------------------------------------
                
            END
     
        IF @Parameter = 20
            BEGIN
                SELECT DISTINCT
                        MetalMaster.MetalName ,
                        MetalMaster.MetalId
                FROM    MPTCMaster
                        JOIN MetalMaster ON MetalMaster.MetalId = MPTCMaster.GradeId
                Where	MetalMaster.EntityID = @EntityID
						-----------------Plant----------------
						AND ( @PlantIdString IS NULL
									  OR @PlantIdString = ''
									  OR MPTCMaster.InvoiceID IN (
									  SELECT    DispatchID
									  FROM      dbo.dispatchmaster
									  WHERE     PlantId IN (
											SELECT Item  from  @Plant))
									)
						
						---------------------------------------
                        
            END
     
      
    
        IF @Parameter = 23--Delete
            BEGIN
                BEGIN TRANSACTION
                
                
                
                IF NOT EXISTS ( SELECT  *
                                FROM    MPTCMaster
                                        INNER JOIN MPTCItemDetails ON MPTCMaster.MPTCId = MPTCItemDetails.MPTCId
                                WHERE   IsDeleted = 0
                                        AND MPTCItemDetails.MPID = @MPID )
                    BEGIN
						SET @ProcessID = (Select ProcessIDTo from MPIMaster where MPID = @MPID and IsDeleted = 0)
						
						SET @PlantId = (Select PlantId from MPIMaster where MPID = @MPID and IsDeleted = 0)
						
						SET @EntityID = (Select EntityID from MPIMaster where MPID = @MPID and IsDeleted = 0)
						
						SELECT	BatchID,Qty,FromProcessID
						INTO	#HEATWISEDETAIL
						FROM	MPIHeatDetails
						WHERE	MPIHeatDetails.MPID  = @MPID
						
						SELECT  @CastingID = Castingid,
								@MetalID = MetalId,
								@ProcessID = ProcessIDTo
						FROM	MPIMaster 
						WHERE	MPID = @MPID
                        UPDATE  MPIMaster
                        SET     MPIMaster.Isdeleted = 1 ,
                                MPIMaster.DeletedBy = @DeletedBy ,
                                MPIMaster.DeletedOn = @DeletedOn
                        WHERE   MPIMaster.MPID = @MPID
                        
                        DECLARE BatchStockBreakup CURSOR
						FOR
							SELECT	BatchID,QTY,FromProcessID
							FROM	#HEATWISEDETAIL
						OPEN BatchStockBreakup;

						FETCH NEXT FROM BatchStockBreakup INTO @stockbatchID,
							@batchStock,@ProcessIDFrom
						WHILE ( @@FETCH_STATUS = 0 )
						BEGIN
						
						SET @batchID = (Select productionbatchID From CastingStockBatch where Batchid = @stockbatchID)
						SET @Weight = (Select CastingStockBatch.Weight from CastingStockBatch where Batchid = @stockbatchID)
						SET @HeatCodeId = (Select CastingStockBatch.HeatCodeId from CastingStockBatch where Batchid = @stockbatchID)
						
						DECLARE @result3 TABLE ( returnvalue INT );
				
						INSERT  INTO @result3
								( returnvalue
								)
						EXEC [dbo].[FinishGoodStockUpdateBATCH] @CastingID = @CastingID,
								@MetalID = @MetalID, 
								@StockToAdd = @batchStock,
								@StockToRej = 0, 
								@ProcessID = @ProcessIDFrom,
								@ProcessTransferTo = @ProcessID,
								@Tagging = N'Process Perform',
								@Process = N'DELETE', 
								@ProcessCode = @MPID,
								@productionbatchid = @batchID,
								@ProcessDate = @DeletedOn, 
								@UserID = @DeletedBy,
								@CastCode_No = @CastCodeNo,
								@CastingStockBatchID = @stockbatchID,
								@isCastCodeEnable = @isCastCodeEnable,
								@BatchWeight = @Weight,
								@HeatCodeId = @HeatCodeId,
								@CastingId2 = @CastingID,
								@PlantId = @PlantId,
								@EntityId = @EntityId,
								@AddOnId1 = @AddOnId1
	                        
						IF ( @@Error <> 0
							 OR ( ( SELECT  returnvalue
									FROM    @result3
								  ) = 1 )
						   )
							BEGIN
								ROLLBACK TRANSACTION
								 RETURN 0
							END
                        
						FETCH NEXT FROM BatchStockBreakup INTO @stockbatchID,
							@batchStock,@ProcessIDFrom
						END
						CLOSE BatchStockBreakup;
						DEALLOCATE BatchStockBreakup;
            
                        COMMIT TRANSACTION  
                        RETURN 1
                    END
				
				
                IF @@Error <> 0
                    ROLLBACK TRANSACTION
                    
                COMMIT TRANSACTION  
                RETURN 0
                              
            END
    
        IF @Parameter = 24--Delete
            BEGIN
                BEGIN TRANSACTION
                UPDATE  MPTCMaster
                SET     MPTCMaster.Isdeleted = 1 ,
                        MPTCMaster.DeletedBy = @DeletedBy ,
                        MPTCMaster.DeletedOn = @DeletedOn
                WHERE   MPTCMaster.MPTCId = @MPTCId
            
                IF @@Error <> 0
                    ROLLBACK TRANSACTION
                COMMIT TRANSACTION
            END
    
        IF @Parameter = 25
            BEGIN
                BEGIN TRANSACTION
                SELECT  MPTCNo ,
                        MPTCDate ,
                        MPTCMaster.EntryNo ,
                        InvoiceID ,
                        GradeId ,
                        MachineId ,
                        SurfaceCond ,
                        StageOfTest ,
                        ProdSpacing ,
                        MPCurrent ,
                        TestTemp ,
                        TestType ,
                        ProcedureRef ,
                        AcceptanceStd ,
                        TestingMethod ,
                        MagnetizingCurrent ,
                        TestedArea ,
                        MagnetizationMedium ,
                        Remarks ,
                        CustomerMaster.CustomerId ,
                        dispatchmaster.DispatchID
                FROM    MPTCMaster
                        LEFT JOIN dispatchmaster ON dispatchmaster.DispatchID = MPTCMaster.InvoiceID
                        LEFT JOIN CustomerMaster ON CustomerMaster.CustomerId = dispatchmaster.customerID
                WHERE   MPTCMaster.MPTCId = @MPTCId
                        AND dispatchmaster.IsDeleted = 0
                        AND CustomerMaster.IsDeleted = 0	
			
                SELECT  CastingMaster.CastingId ,
                        CastingMaster.CastingCode ,
                        CastingMaster.CastingName ,
                        MetalMaster.MetalName AS MetalName ,
                        MetalMaster.MetalId AS MetalId ,
                        MPTCItemDetails.DwgNo AS DrawingNo ,
                        MPTCItemDetails.Qty AS dispatchqty ,
                        MPINo ,
                        MPIMaster.MPID ,
                        Result ,
                        ProductionBatch.batchno AS batchno ,
                        dispatchtransid AS DispatchTransId ,
                        ProductionBatch.batchID AS HeatID
                FROM    MPTCItemDetails
                        JOIN MPIMaster ON MPIMaster.MPID = MPTCItemDetails.MPID
                        JOIN CastingMaster ON CastingMaster.CastingId = MPTCItemDetails.CastingID
                        JOIN MPTCMaster ON MPTCMaster.MPTCId = MPTCItemDetails.MPTCId
                        JOIN MetalMaster ON MetalMaster.MetalId = MPTCMaster.GradeId
                        JOIN ProductionBatch ON ProductionBatch.batchID = MPTCItemDetails.HeatID
                WHERE   MPTCMaster.MPTCId = @MPTCId
                COMMIT TRANSACTION
            END
    
        IF @Parameter = 26
            BEGIN
                UPDATE  MPTCMaster
                SET     MPTCNo = @MPTCNo ,
                        MPTCDate = @MPTCDate ,
                        InvoiceID = @InvoiceID ,
                        GradeId = @GradeId ,
                        MachineId = @MachineId ,
                        SurfaceCond = @SurfaceCond ,
                        StageOfTest = @StageOfTest ,
                        ProdSpacing = @ProdSpacing ,
                        MPCurrent = @MPCurrent ,
                        TestTemp = @TestTemp ,
                        TestType = @TestType ,
                        ProcedureRef = @ProcedureRef ,
                        AcceptanceStd = @AcceptanceStd ,
                        TestingMethod = @TestingMethod ,
                        MagnetizingCurrent = @MagnetizingCurrent ,
                        TestedArea = @TestedArea ,
                        MagnetizationMedium = @MagnetizationMedium ,
                        Remarks = @Remarks,
                        ModifiedBy=@ModifiedBy,
                        ModifiedOn =@ModifiedOn
                WHERE   MPTCMaster.MPTCId = @MPTCId
                
                DELETE  FROM MPTCItemDetails
                WHERE   MPTCId = @MPTCId
               
                DECLARE DispatchDetails CURSOR
                FOR
                    SELECT  Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId' ,
                            Node.value('(DispatchTransId )[1]', 'bigint') AS 'DispatchTransId' ,
                            Node.value('(DrawingNo )[1]', 'varchar(100)') AS 'DrawingNo' ,
                            Node.value('(MPID )[1]', 'uniqueidentifier') AS 'MPID' ,
                            Node.value('(HeatID )[1]', 'bigint') AS 'HeatID' ,
                            Node.value('(Qty )[1]', 'int') AS 'Qty' ,
                            Node.value('(Result )[1]', 'varchar(50)') AS 'Result'
                    FROM    @TC_Item.nodes('/DocumentElement/TC_Item') AS TEMPXML ( Node )
                --  @DispatchTable.nodes('/DocumentElement/DispatchDetails')
                    --    AS TEMPXML ( Node )	
                OPEN DispatchDetails;

                FETCH NEXT FROM DispatchDetails INTO @CastingID,
                    @DispatchTransId, @DwgNo, @MPID, @HeatID, @Qty, @Result
							
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                    
                
                        INSERT  INTO MPTCItemDetails
                                ( MPTCId ,
                                  CastingID ,
                                  DispatchTransId ,
                                  DwgNo ,
                                  MPID ,
                                  HeatID ,
                                  Qty ,
                                  Result                        
                                )
                        VALUES  ( @MPTCId ,
                                  @CastingID ,
                                  @DispatchTransId ,
                                  @DwgNo ,
                                  @MPID ,
                                  @HeatID ,
                                  @Qty ,
                                  @Result
							
                                )
                                            
                        FETCH NEXT FROM DispatchDetails INTO @CastingID,
                            @DispatchTransId, @DwgNo, @MPID, @HeatID, @Qty,
                            @Result
                    END 

                CLOSE DispatchDetails;
                DEALLOCATE DispatchDetails;	
              
            END
     
        IF @Parameter = 27
            BEGIN
                SELECT  *
                FROM    MPIMaster
                WHERE   MPID = @MP_ID
                        AND IsDeleted = 0
            END
      --Update QUERY
        IF @Parameter = 28
            BEGIN
                SET @UpdatedOn = GETDATE()
                UPDATE  MPIMaster
                SET     MPINo = @MPNo ,
                        EntryNo = @EntryNo ,
                        StartTime = @StartTime ,
                        EndTime = @EndTime ,
                        OperatorID = @ContractorID ,
                        MachineID = @MachineId ,
                        EntityID = @EntityID ,
                        SurfaceCondition = @_SurfaceCondition ,
                        StageOfTest = @_StageOfTest ,
                        ProdSpacing = @_ProdSpacing ,
                        MPCurrent = @_MPCurrent ,
                        TestTemp = @_TestTemp ,
                        TestType = @_TestType ,
                        ProcedureRef = @_ProcedureRef ,
                        AccepStd = @_AccepStd ,
                        TestingMethod = @_TestingMethod ,
                        MagnetizingCurrent = @_MagnetizingCurrent ,
                        TestedArea = @_TestedArea ,
                        MagnetizationMedium = @_MagnetizationMedium ,
                        UpdatedBy = @UserID ,
                        UpdatedOn = @UpdatedOn
                WHERE   MPID = @MP_ID
           	       	
                IF @@Error <> 0
                    ROLLBACK TRANSACTION
                
            
            
            END
     
        --IF @Parameter = 29
        --    BEGIN
        --        IF EXISTS ( SELECT  MPINo
        --                    FROM    MPIMaster
        --                    WHERE   MPINo = @MPINo
        --                            AND IsDeleted = 0
        --                            AND ( @MPID IS NULL
        --                                  OR MPID <> @MPID
        --                                ) )
        --            BEGIN
        --                RETURN 1
        --            END
        --        ELSE
        --            RETURN 0
        --    END
    
        IF @Parameter = 30
            BEGIN
			
   --             DECLARE @Query VARCHAR(MAX) = '
   --             SELECT * from MPIMaster where MPID IN ('
   --                 + @MPIDString + ')
			--and IsDeleted = 0'
			
   --             EXEC(@Query)
                
                DECLARE @Query VARCHAR(MAX) = '
                SELECT 
                
                M1.Parameter AS SurfaceCondition ,
                M2.Parameter AS StageOfTest ,
                M3.Parameter AS ProdSpacing ,
                M4.Parameter AS MPCurrent ,
                M5.Parameter AS TestTemp ,
                M6.Parameter AS TestType ,
                M7.Parameter AS ProcedureRef ,
                M8.Parameter AS AccepStd ,
                M9.Parameter AS TestingMethod ,
                M10.Parameter AS MagnetizingCurrent ,
                M11.Parameter AS TestedArea ,
                M12.Parameter AS MagnetizationMedium              
                ,                
                (+''(''+PurchaseItemMaster.ItemCode + '') /'' + PurchaseItemMaster.ItemName) as MachineName
                , PurchaseItemMaster.PurchaseItemId as MachineId 
                
				FROM      MPIMaster
				
				LEFT JOIN MPInspectionParameter
                AS M1 ON M1.id = MPIMaster.SurfaceCondition
                LEFT JOIN MPInspectionParameter
                AS M2 ON M2.id = MPIMaster.StageOfTest
                LEFT JOIN MPInspectionParameter
                AS M3 ON M3.id = MPIMaster.ProdSpacing
                LEFT JOIN MPInspectionParameter
                AS M4 ON M4.id = MPIMaster.MPCurrent
                LEFT JOIN MPInspectionParameter
                AS M5 ON M5.id = MPIMaster.TestTemp
                LEFT JOIN MPInspectionParameter
                AS M6 ON M6.id = MPIMaster.TestType
                LEFT JOIN MPInspectionParameter
                AS M7 ON M7.id = MPIMaster.ProcedureRef
                LEFT JOIN MPInspectionParameter
                AS M8 ON M8.id = MPIMaster.AccepStd
                LEFT JOIN MPInspectionParameter
                AS M9 ON M9.id = MPIMaster.TestingMethod
                LEFT JOIN MPInspectionParameter
                AS M10 ON M10.id = MPIMaster.MagnetizingCurrent
                LEFT JOIN MPInspectionParameter
                AS M11 ON M11.id = MPIMaster.TestedArea
                LEFT JOIN MPInspectionParameter
                AS M12 ON M12.id = MPIMaster.MagnetizationMedium    
                LEFT JOIN PurchaseItemMaster 
                ON MPIMaster.MachineID = PurchaseItemMaster.PurchaseItemId and PurchaseItemMaster.IsEquipment = 1
                                   
                where MPID IN (' + @MPIDString + ')
			and MPIMaster.IsDeleted = 0'
			
                EXEC(@Query)
            END
            
        IF @Parameter = 31
            BEGIN
                SELECT DISTINCT
                        MPINo +'/'+CAST(ProcessDate as varchar(MaX)) as MPINo,
                        MPID
                FROM    MPIMaster
                WHERE   IsDeleted = 0
                        AND ((@NotUserDateFilter  = 1) or  MPIMaster.ProcessDate BETWEEN @StartDate
                                                    AND     @EndDate )
                                                    
                        AND ( @PlantIdString IS NULL
                              OR @PlantIdString = ''
                              OR MPIMaster.CAstingId IN (
                              SELECT    CastingId
                              FROM      dbo.PlantCastingMapping
                                      where PlantId in (SELECT Item FROM @Plant))
                            )
                        AND MPIMaster.EntityID = @EntityId
				Order by MPINo desc
                                                                             
            END
            
        IF @Parameter = 32
            BEGIN
                IF NOT EXISTS ( SELECT  *
                                FROM    MPTCMaster
                                        INNER JOIN MPTCItemDetails ON MPTCMaster.MPTCId = MPTCItemDetails.MPTCId
                                WHERE   IsDeleted = 0
                                        AND MPTCItemDetails.MPID = @MPID )
                    BEGIN
                        RETURN 1
                    END  
                ELSE
                    BEGIN
                        RETURN 0
                    END
                        
            END
            
        IF @Parameter = 33
		BEGIN
		
		Select @PlantId = PlantId,@EntityID = EntityID from MPIMaster where MPID = @MPID
		
			IF EXISTS(
				Select	1
				from	MPIMaster
						INNER JOIN MPIHeatDetails On MPIHeatDetails.MPID = MPIMaster.MPID
						INNER JOIN CastingStockBatch as PrevCSB On PrevCSB.Batchid = MPIHeatDetails.BatchID
						INNER JOIN CastingStockBatch AS CSB On CSB.CastingID = MPIMaster.CastingID
									AND CSB.productionbatchID = PrevCSB.productionbatchID
									AND CSB.HeatCodeId = PrevCSB.HeatCodeId
									AND CSB.MetalID = PrevCSB.MetalID
									AND CSB.ProcessID = MPIMaster.ProcessIDTo
									AND CSB.PlantId = PrevCSB.PlantId
									AND CSB.EntityId = PrevCSB.EntityId
									AND CSB.InTransit = PrevCSB.InTransit
									AND CSB.AddOnId1 = PrevCSB.AddOnId1
									
				WHERE	MPIMaster.MPID = @MPID 
						AND CSB.BatchStock < MPIHeatDetails.Qty 
						AND MPIMaster.IsDeleted = 0
						and CSB.PlantId = @PlantId
									and CSB.EntityId = @EntityID
									and CSB.InTransit = @InTransit
									and CSB.AddOnId1 = @AddOnId1)
			BEGIN
				Return 0
			END
			ELSE
			BEGIN
				Return 1
			END
			
		END
		
		IF @Parameter = 34	--For Report
            BEGIN
				SELECT
                                                MPIMaster.MPID AS ProcessPerformID ,
                                                CastingName ,
                                                CastingCode ,
                                                Metalname ,
                                        -------------------
                                                MPINo ,
                                                M1.Parameter AS SurfaceCondition ,
                                                M2.Parameter AS StageOfTest ,
                                                M3.Parameter AS ProdSpacing ,
                                                M4.Parameter AS MPCurrent ,
                                                M5.Parameter AS TestTemp ,
                                                M6.Parameter AS TestType ,
                                                M7.Parameter AS ProcedureRef ,
                                                M8.Parameter AS AccepStd ,
                                                M9.Parameter AS TestingMethod ,
                                                M10.Parameter AS MagnetizingCurrent ,
                                                M11.Parameter AS TestedArea ,
                                                M12.Parameter AS MagnetizationMedium ,
                                        ------------------
                                                CONVERT(VARCHAR(11), MPIMaster.ProcessDate, 106) AS [ProcessPerformDate] ,
                                                CONVERT(VARCHAR(15), StartTime, 100) StartTime ,
                                                CONVERT(VARCHAR(15), EndTime, 100) EndTime ,
                                                --ProcessMaster.ProcessName AS [PerformProcess] ,
                                                MPIMaster.ProcessQty ,
                                                EmployeeDetails.EmployeeName AS OperatorName
                                      FROM      MPIMaster
                                                INNER JOIN CastingMaster ON MPIMaster.CastingID = CastingMaster.CastingId
                                                INNER JOIN MetalMaster ON MPIMaster.MetalID = MetalMaster.MetalId
                                                --INNER JOIN ProcessMaster ON MPIMaster.ProcessID = ProcessMaster.ProcessId
                                                INNER JOIN EmployeeDetails ON MPIMaster.OperatorID = EmployeeDetails.EmployeeId 
                                        -------------
                                                LEFT JOIN MPInspectionParameter
                                                AS M1 ON M1.id = MPIMaster.SurfaceCondition
                                                LEFT JOIN MPInspectionParameter
                                                AS M2 ON M2.id = MPIMaster.StageOfTest
                                                LEFT JOIN MPInspectionParameter
                                                AS M3 ON M3.id = MPIMaster.ProdSpacing
                                                LEFT JOIN MPInspectionParameter
                                                AS M4 ON M4.id = MPIMaster.MPCurrent
                                                LEFT JOIN MPInspectionParameter
                                                AS M5 ON M5.id = MPIMaster.TestTemp
                                                LEFT JOIN MPInspectionParameter
                                                AS M6 ON M6.id = MPIMaster.TestType
                                                LEFT JOIN MPInspectionParameter
                                                AS M7 ON M7.id = MPIMaster.ProcedureRef
                                                LEFT JOIN MPInspectionParameter
                                                AS M8 ON M8.id = MPIMaster.AccepStd
                                                LEFT JOIN MPInspectionParameter
                                                AS M9 ON M9.id = MPIMaster.TestingMethod
                                                LEFT JOIN MPInspectionParameter
                                                AS M10 ON M10.id = MPIMaster.MagnetizingCurrent
                                                LEFT JOIN MPInspectionParameter
                                                AS M11 ON M11.id = MPIMaster.TestedArea
                                                LEFT JOIN MPInspectionParameter
                                                AS M12 ON M12.id = MPIMaster.MagnetizationMedium
                                        
                                        ----------
                                      WHERE     ProcessQty > 0
                                                AND MPIMaster.Isdeleted = 0
                                                AND ( @CastingName IS NULL
                                                      OR CastingName = @CastingName
                                                    )
                                                AND ( @castingID IS NULL
                                                      OR MPIMaster.CastingID = @castingID
                                                    )
                                                AND ( @MetalID = 0
                                                      OR MPIMaster.MetalID = @MetalID
                                                    )
                                                AND ( MPIMaster.ProcessDate BETWEEN @StartDate
                                                              AND
                                                              @EndDate )
                                                --AND ( @ProcessID IS NULL
                                                --      OR MPIMaster.ProcessID = @ProcessID
                                                --    )
                                                AND ( @ContractorID = 0
                                                      OR MPIMaster.OperatorID = @ContractorID
                                                    )
                                           ------------------         
                                                AND ( @MPID IS NULL
                                                      OR MPIMaster.MPID = @MPID
                                                    )
                                          --------------------
                                                AND ( @PlantIdString IS NULL
                                                      OR @PlantIdString = ''
                                                      OR MPIMaster.CAstingId IN (
                                                      SELECT  CastingId
                                                      FROM    dbo.PlantCastingMapping
                                                         where PlantId in (SELECT Item FROM @Plant) )
                                                    )
                                                AND MPIMaster.EntityID = @EntityId
                        END
       
    END
GO
