USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Setup_Production_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[Setup_Production_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL , 
	    @CastingID UNIQUEIDENTIFIER = NULL , 
	    @StartDate DATE = NULL ,
    @Enddate DATE = NULL ,
     @MachineID UNIQUEIDENTIFIER = NULL ,
    @WaxSetupID UNIQUEIDENTIFIER = NULL , 
    @EntityId INT = 0 
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	    IF @Parameter = 1-- Fetch Data for Register
            BEGIN
    
                IF @InitialLoad = 1
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT TOP ( @PageSize )
                                            ROW_NUMBER() OVER ( ORDER BY WaxSetupProduction.ProductionDate DESC ) AS SerialNo ,
                                            EntryNo ,
                                            CONVERT(VARCHAR(11), ProductionDate, 106) AS ProductionDate ,
                                            Shift ,
                                            CONVERT(VARCHAR, StartTime, 100) AS [StartTime] ,
                                            CONVERT(VARCHAR, EndTime, 100) AS [EndTime] ,
                                            ( EmployeeDetails.EmployeeName
                                              + ' ('
                                              + EmployeeDetails.EmployeeCode
                                              + ')' ) AS OperatorName ,
                                          --  MachineName ,
                                            ( '('
                                              + PurchaseItemMaster.ItemCode
                                              + ') / '
                                              + PurchaseItemMaster.ItemName) AS MachineName ,
                                            WaxSetupID
                                  FROM      dbo.WaxSetupProduction
                                            INNER JOIN EmployeeDetails ON WaxSetupProduction.OperatorID = EmployeeDetails.EmployeeId
                                          --  INNER JOIN MachineMaster ON WaxSetupProduction.MachineID = MachineMaster.EquipmentId
                                            INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = WaxSetupProduction.MachineID and PurchaseItemMaster.IsEquipment = 1
                                  WHERE     WaxSetupProduction.IsDeleted = 0
                                            AND ( @WaxSetupID IS NULL
                                                  OR WaxSetupID = @WaxSetupID
                                                )
                                            AND ( @Enddate IS NULL
                                                  OR ProductionDate BETWEEN @Startdate AND @Enddate
                                                )
                                            AND ( @MachineId IS NULL
                                                  OR WaxSetupProduction.MachineId = @MachineId
                                                )
                                            AND ( @CastingID IS NULL
                                                  OR CastingID = @CastingID
                                                )
                                            AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR WaxSetupProduction.CastingId IN (
                                                  SELECT    CastingId
                                                  FROM      dbo.PlantCastingMapping
                                                           where PlantId in (SELECT Item FROM @Plant))
                                                )
                                            AND WaxSetupProduction.EntityID = @EntityId
                                ) AS PatternProduction
                        ORDER BY SerialNo
                    END
                ELSE
                    BEGIN
			
                        SELECT  *
                        FROM    ( SELECT TOP ( @PageSize )
                                            ROW_NUMBER() OVER ( ORDER BY WaxSetupProduction.ProductionDate DESC ) AS SerialNo ,
                                            EntryNo ,
                                            CONVERT(VARCHAR(11), ProductionDate, 106) AS ProductionDate ,
                                            Shift ,
                                            CONVERT(VARCHAR, StartTime, 100) AS [StartTime] ,
                                            CONVERT(VARCHAR, EndTime, 100) AS [EndTime] ,
                                            ( EmployeeDetails.EmployeeName
                                              + ' ('
                                              + EmployeeDetails.EmployeeCode
                                              + ')' ) AS OperatorName ,
                                          
                                           -- MachineName ,
                                            ( '('
                                              + PurchaseItemMaster.ItemCode
                                              + ') / '
                                              + PurchaseItemMaster.ItemName) AS MachineName ,
                                            WaxSetupID
                                  FROM      WaxSetupProduction
                                            INNER JOIN EmployeeDetails ON WaxSetupProduction.OperatorID = EmployeeDetails.EmployeeId
                                           -- INNER JOIN MachineMaster ON WaxSetupProduction.MachineID = MachineMaster.EquipmentId
                                            INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = WaxSetupProduction.MachineID and PurchaseItemMaster.IsEquipment = 1
                                  WHERE     WaxSetupProduction.IsDeleted = 0
                                            AND ( @WaxSetupID IS NULL
                                                  OR WaxSetupID = @WaxSetupID
                                                )
                                            AND ( @Enddate IS NULL
                                                  OR ProductionDate BETWEEN @Startdate AND @Enddate
                                                )
                                            AND ( @MachineId IS NULL
                                                  OR WaxSetupProduction.MachineId = @MachineId
                                                )
                                            AND ( @CastingID IS NULL
                                                  OR CastingID = @CastingID
                                                )
                                            AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR WaxSetupProduction.CastingId IN (
                                                  SELECT    CastingId
                                                  FROM      dbo.PlantCastingMapping
                                                          where PlantId in (SELECT Item FROM @Plant))
                                                )
                                            AND WaxSetupProduction.EntityID = @EntityId
                                ) AS PatternProduction
                        WHERE   SerialNo > ( @PageNumber * @PageSize )
                        ORDER BY SerialNo
			
                    END
            END    
        IF @Parameter = 2 -- Fetch Total Records for Register
            BEGIN     		 
                SET @TotalRecords = ( SELECT    COUNT(1)
                                      FROM      WaxSetupProduction
                                      WHERE     WaxSetupProduction.IsDeleted = 0
                                                AND ( @WaxSetupID IS NULL
                                                      OR WaxSetupID = @WaxSetupID
                                                    )
                                                AND ( @Enddate IS NULL
                                                      OR ProductionDate BETWEEN @Startdate AND @Enddate
                                                    )
                                                AND ( @MachineId IS NULL
                                                      OR WaxSetupProduction.MachineId = @MachineId
                                                    )
                                                AND ( @CastingID IS NULL
                                                      OR CastingID = @CastingID
                                                    )
                                                AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR WaxSetupProduction.CastingId IN (
                                                  SELECT    CastingId
                                                  FROM      dbo.PlantCastingMapping
                                                          where PlantId in (SELECT Item FROM @Plant))
                                                )
                                            AND WaxSetupProduction.EntityID = @EntityId
                                    )
		
                --COMMIT TRANSACTION
                RETURN @TotalRecords                 
            END	
    
END

GO
