USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PackingWeighDet_Select]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PackingWeighDet_Select] 
@DispatchID int = 0
AS
BEGIN
	
	
		--select
		--	DispatchAdviceCastingDetail.PackingId,
		--	COUNT(DispatchAdviceCastingDetail.PackingId) as [PCount]
		--	into #TempPacking
		--	from 
		--	DispatchAdvicePackingDetail INNER JOIN 
		--	 DispatchAdviceCastingDetail ON DispatchAdvicePackingDetail.PackingId = DispatchAdviceCastingDetail.PackingId
		-- WHERE 
		-- DispatchAdvicePackingDetail.IsCastingOrAnother = 1
		-- AND DispatchID = @DispatchID
		-- group by DispatchAdviceCastingDetail.PackingId

	
	SELECT 
	     DispatchAdvicePackingDetail.Packaging,
         DispatchAdvicePackingDetail.PackageWeight as [CastingTotalWeight],
         --DispatchAdviceCastingDetail.CastingQty as [Quantity],
        -- DispatchAdviceCastingDetail.TotalWeight as [Weight],
        DispatchAdvicePackingDetail.TotalPackageWeight as [Total],
		 --CASE WHEN #TempPacking.PCount > 0 THEN DispatchAdvicePackingDetail.TotalPackageWeight/#TempPacking.PCount ELSE DispatchAdvicePackingDetail.TotalPackageWeight END [Total],
		 DispatchAdvicePackingDetail.PackageId,
		 'Casting' as Packed
		 FROM DispatchAdvicePackingDetail 
		 --INNER JOIN DispatchAdviceCastingDetail ON DispatchAdvicePackingDetail.PackingId = DispatchAdviceCastingDetail.PackingId
		-- INNER JOIN #TempPacking ON DispatchAdvicePackingDetail.PackingId = #TempPacking.PackingId
		 WHERE 
		 DispatchAdvicePackingDetail.IsCastingOrAnother = 1
		 AND DispatchID = @DispatchID
		 
		 --DROP Table #TempPacking
		
                    
END
GO
