USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WebReportPendingInward]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WebReportPendingInward]
 
    @CustomerID UNIQUEIDENTIFIER = NULL ,
    @ItemId UNIQUEIDENTIFIER = NULL ,
    @ItemName VARCHAR(50) = NULL ,
    @PurchaseOrderId UNIQUEIDENTIFIER = NULL ,
   
    @EndDate DATETIME = NULL ,
    @StartDate DATETIME = NULL ,
	@PageIndex INT = 0 ,
	@PageSize INT = 0 ,
	@SortBy VARCHAR(50) = '' ,
	@SortOrder VARCHAR(50) = ''
AS
BEGIN
  BEGIN
  SELECT  *
	FROM    (
			 SELECT    ROW_NUMBER() OVER ( ORDER BY OrderDate ASC ) AS SrNo ,
                                        CustomerMaster.CustomerName ,
                                        PurchaseOrder_Master.PONo ,
                                        CONVERT(VARCHAR(11), PurchaseOrder_Master.OrderDate, 106) AS OrderDate ,
                                        PurchaseItemMaster.ItemCode ,
                                        PurchaseItemMaster.ItemName ,
                                        UOMMaster.UOM ,
                                        PurchaseOrder_Trans.RequiredQty AS OrderQuantity ,
                                        ISNULL(( (InwardTable.AccesptedQty) ), 0) AS ReceivedQty ,
                                        RequiredQty - ISNULL(( (InwardTable.AccesptedQty) ), 0) AS PendingQty ,
                                        (RequiredQty - ISNULL(( (InwardTable.AccesptedQty) ), 0)) * Rates AS PendingValue,
                                        COUNT(1) OVER ( ) AS TotalCount --Shabbir
                              FROM      PurchaseOrder_Master
                                        INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = PurchaseOrder_Master.CustomerID
                                        INNER JOIN PurchaseOrder_Trans ON PurchaseOrder_Trans.PurchaseOrderId = PurchaseOrder_Master.PurchaseOrderId
                                        INNER JOIN PurchaseItemMaster ON PurchaseOrder_Trans.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                                        INNER JOIN UOMMaster ON PurchaseItemMaster.UnitOfMeasure = UOMMaster.UOMid
                                        LEFT JOIN ( SELECT  RawMaterialInwardDetail.PurchaseOrderTransId ,
                                                            RawMaterialInwardDetail.PurchaseItemId ,
                                                            SUM(dbo.RawMaterialInwardDetail.AcceptedQuantiy) AS AccesptedQty
                                                    FROM    dbo.RawMaterialInwardDetail
                                                    WHERE   RawMaterialInwardDetail.IsDeleted = 0
                                                    GROUP BY RawMaterialInwardDetail.PurchaseOrderTransId ,
                                                            RawMaterialInwardDetail.PurchaseItemId
                                                  ) AS InwardTable ON InwardTable.PurchaseItemId = PurchaseOrder_Trans.PurchaseItemId
                                                                      AND InwardTable.PurchaseOrderTransId = PurchaseOrder_Trans.PurchaseOrderTransId
                              WHERE     PurchaseOrder_Master.IsDeleted = 0
                                        AND PurchaseOrder_Trans.IsDelivered = 0
										AND PurchaseOrder_Trans.IsDeleted = 0
                                        AND RequiredQty - AccesptedQty > 0
                                        AND ( OrderDate BETWEEN @StartDate AND @EndDate )
                                        AND ( @CustomerId IS NULL
                                              OR PurchaseOrder_Master.CustomerID = @CustomerId
                                            )
                                        AND ( @ItemId IS NULL
                                              OR PurchaseOrder_Trans.PurchaseItemId = @ItemId
                                            )
                                        AND ( @ItemName IS NULL
                                              OR PurchaseItemMaster.ItemName = @ItemName
                                            )
                                        AND ( @ItemName IS NULL
                                              OR PurchaseItemMaster.ItemName = @ItemName
                                            )
                                        AND ( @PurchaseOrderId IS NULL
                                              OR PurchaseOrder_Master.PurchaseOrderId = @PurchaseOrderId
                                            )

           
			 ) AS s
			 WHERE   SrNo BETWEEN ( ( @PageIndex - 1 ) * @PageSize ) + 1 AND ( @PageIndex * @PageSize )
                            
		END
      
END
GO
