USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PatternProduction_Insert]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PatternProduction_Insert]
@XmlData XML,
@PatternInspection bit
AS
BEGIN
	
	BEGIN TRY
	   BEGIN TRANSACTION PatternProduction_Insert

	     DECLARE 
		 @ProductionBatchID uniqueidentifier,
		 @PlantId Bigint,
		 @EntityId BigInt,
		 @BatchNo Nvarchar(200),
		 @DieId uniqueidentifier,
		 @Noofshots INT,
		 @CreatedBy INT


		SELECT
		@PlantId = x.d.value('PlantId[1]','Bigint'),
		@EntityId = x.d.value('EntityId[1]','Bigint'),
		@BatchNo = x.d.value('BatchNo[1]','nvarchar(100)'),
		@DieId = x.d.value('DieId[1]','uniqueidentifier'),
		@Noofshots = x.d.value('NoOfShots[1]','int'),
		@CreatedBy = x.d.value('CreatedBy[1]','int')
		FROM
		@XmlData.nodes('/dsXmlData/dtMaster')x(d)


		IF EXISTS(Select * from PatternProduction where BatchNo = @BatchNo and IsAssembly = 0 AND IsDeleted = 0)
		BEGIN

		ROLLBACK TRANSACTION PatternProduction_Insert
		RETURN -3

		END

		SET @ProductionBatchID = NEWID()

		INSERT INTO
			[dbo].[PatternProduction]
			([ProductionBatchID]
			,[EntryNo]
			,[BatchNo]
			,[ProductionDate]
			,[ProductionEndDate]
			,[ShiftID]
			,[StartTime]
			,[EndTime]
			,[NoOfShots]
			,[MachineID]
			,[OperatorID]
			,[DieId]
			,[PlantID]
			,[EntityId]
			,[CreatedBy]
			,[CreatedOn]
			)
		SELECT
				@ProductionBatchID
			,x.d.value('EntryNo[1]','nvarchar(200)')
			,x.d.value('BatchNo[1]','nvarchar(100)')
			,x.d.value('ProductionDate[1]','datetime')
			,x.d.value('ProductionEndDate[1]','datetime')
			,x.d.value('ShiftId[1]','int')
			,x.d.value('StartTime[1]','Datetime')
			,x.d.value('EndTime[1]','Datetime')
			,x.d.value('NoOfShots[1]','int')
			,x.d.value('MachineID[1]','uniqueidentifier')
			,x.d.value('OperatorId[1]','int')
			,x.d.value('DieId[1]','uniqueidentifier')
			,x.d.value('PlantId[1]','int')
			,x.d.value('EntityId[1]','bigint')
			,x.d.value('CreatedBy[1]','int')
			,GETDATE()
		FROM
		    @XmlData.nodes('/dsXmlData/dtMaster')x(d)

		SELECT
		@PlantId = x.d.value('PlantId[1]','Bigint'),
		@EntityId = x.d.value('EntityId[1]','Bigint')
		FROM
		@XmlData.nodes('/dsXmlData/dtMaster')x(d)

		SELECT
			NEWID() as ProductionBatchDetId
			,@ProductionBatchID AS ProductionBatchId
			,x.d.value('PatternId[1]','uniqueidentifier') as PatternId
			,x.d.value('ProductionQty[1]','int') as ProductionQty
			,x.d.value('Cavity[1]','int') as Cavity
			,x.d.value('ConsumptionDet[1]','Nvarchar(MAX)') as ConsumptionDet
			,x.d.value('OrderId[1]','uniqueidentifier') as OrderId

			INTO #ProdDet
		FROM
		        @XmlData.nodes('/dsXmlData/dtDetails')x(d)

		INSERT INTO 
			[dbo].[PatternProductionDetails]
			([ProductionBatchDetID]
			,[ProductionBatchID]
			,[PatternID]
			,[ProductionQty]
			,[Cavity]
			,[ConsumptionDet]
			,[OrderTranseId],
			InspectionDone)
			SELECT
			ProductionBatchDetId,
			ProductionBatchId,
			PatternId,
			ProductionQty,
			Cavity,
			ConsumptionDet,
			orderId,
			( case when @PatternInspection = 1 then 0 else 1 end)
			FROM
			#ProdDet
						  
	    DROP TABLE #ProdDet

		DECLARE 
		@MasterJson Nvarchar(MAX),
		@MasterDet Nvarchar(MAX)

		SET @MasterJson = (select 
		PatternProductionDetails.ProductionBatchId as ProcessCode,
		PatternProductionDetails.PatternID,
		PatternProductionDetails.ProductionQty as TransactionQty,
		PatternProduction.BatchNo as RawBatchNo,
		PatternProduction.PlantId,
		PatternProduction.EntityId,
		PatternProduction.ProductionDate as ProcessDate,
	--	PatternProduction.ProductionEndDate,
		PatternProduction.CreatedBy as UserId,
		PatternProductionDetails.ProductionBatchDetID,
		PatternProductionDetails.OrderTranseId
		from 
		PatternProductionDetails
		inner JOIN PatternProduction ON PatternProduction.ProductionBatchId = PatternProductionDetails.ProductionBatchId
		WHERE
		PatternProductionDetails.ProductionBatchId = @ProductionBatchID
		for json PATH
		)


		SET    @MasterDet   = ( SELECT
				'['+
                    (STUFF(( SELECT DISTINCT              
                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                    FROM      PatternProductionDetails where ProductionBatchID = @ProductionBatchID   and  ConsumptionDet  <> ''                    
                FOR              
                    XML PATH('')              
                ), 1, 1, '') ) +']' AS ConsumptionDet  )


        Select
		Cons.PurchaseItemID,
		Cons.RawBatchId,
		SUM(Cons.TransactionQty)  TransactionQty,
		@PlantId as PlantId,
		@EntityId as EntityId
		INTO #InsertFloorStock
		from
		OPENJSON(@MasterDet)
		WITH
		(PurchaseItemID uniqueidentifier,
			RawBatchId int,
			TransactionQty Float
			) as Cons
		GROUP BY
		Cons.PurchaseItemID,
		Cons.RawBatchId

					
		SELECT 
			j.PurchaseItemID,
			j.RawBatchId,
			j.TransactionQty,
			ppd.ProductionBatchDetID
		INTO	#InsertFloorStock1
		FROM PatternProductionDetails ppd
		Inner join PatternProduction on PatternProduction.ProductionBatchID = ppd.ProductionBatchID
		CROSS APPLY OPENJSON(ppd.ConsumptionDet)
		WITH (
			PurchaseItemID UNIQUEIDENTIFIER,
			RawBatchId BIGINT,
			TransactionQty DECIMAL(18,2)
		) AS j
		Where PatternProduction.IsAssembly = 0
		and Isnull(consumptiondet,'') <> ''
		and PatternProduction.ProductionBatchID = @ProductionBatchID
				
							
		select
		case when Cast(#InsertFloorStock.TransactionQty as decimal(18,3))  > CAST(FloorBatchWiseStock.Stock as decimal(18,3)) then 1 else 2 end IsExist
		into #IsCheckFloorStock
		from 
		FloorBatchWiseStock
		Inner JOIN #InsertFloorStock ON #InsertFloorStock.PurchaseItemID = FloorBatchWiseStock.PurchaseItemId
		WHERE
			FloorBatchWiseStock.RawBatchId = #InsertFloorStock.RawBatchId
		and FloorBatchWiseStock.PlantId = #InsertFloorStock.PlantID
		and FloorBatchWiseStock.EntityId = #InsertFloorStock.EntityId

				        
		If EXISTS(SELECT * from #IsCheckFloorStock where IsExist = 1)
		BEGIN
				ROLLBACK TRANSACTION PatternProduction_Insert
				RETURN -2
		END
		ELSE
			declare @Status bit = ( case when @PatternInspection = 1 then 0 else 1 end)
			EXEC PatternStock_Management @JsonPattern  =  @MasterJson,
			@JsonConsumption= @MasterDet ,
			@PlantId = @PlantId,
			@EntityId = @EntityId,
			@Process = 'Insert',
			@Tagging = 'PatternProduction',
			@Status =@Status

			exec [InsertUpdate_ToolLife] 
			@ItemType =2
			,@ItemId =@DieID
			,@ItemUsedCount =@Noofshots 
			,@EntityId   = @EntityID      
			,@CreatedBy  = @CreatedBy
		
		update	PPD
		set		totalcost = cost
		from	PatternProductionDetails as PPD
		Inner Join(
		select	sum(a.TransactionQty * BatchWiseRate.Rate) as cost, ProductionBatchDetID
		from	#InsertFloorStock1  as a
				Inner Join BatchWiseRate on BatchWiseRate.RawBatchId = a.RawBatchId
		group by ProductionBatchDetID
		) as fnl on fnl.ProductionBatchDetID = PPD.ProductionBatchDetID
			
	   COMMIT TRANSACTION PatternProduction_Insert
	   RETURN 1
	END TRY
	BEGIN CATCH
	   ROLLBACK TRANSACTION PatternProduction_Insert
	   RETURN -1
	END CATCH


END
GO
