USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_ICDieCodeFromCasting]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Birva>
-- Create date: <21-08-18>
-- Description:	<Fecth only Lost Wax and Lost Form Die for investment casting pages,,>
-- =============================================
CREATE PROCEDURE [dbo].[Fetch_ICDieCodeFromCasting]
    @CastingId UNIQUEIDENTIFIER = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL,
	@EntityId INT = 0
AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;
	declare @PatternIdTable table (Item UNIQUEIDENTIFIER) 
								Insert into @PatternIdTable SELECT item  FROM CustomerPatternMappingFunction(@PlantIdString)     
								

        SELECT DISTINCT
                PatternMaster.PatternCode AS DieCode ,
                PatternMaster.PatternId AS DieId
        FROM    dbo.PatternMaster
		        inner join PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PatternMaster.PatternId
                left JOIN dbo.CastingMaster ON dbo.CastingMaster.Dieid = dbo.PatternMaster.PatternId 
        WHERE   PatternMaster.IsDeleted = 0
		        AND IsPatDieWax in (2,4)								
                AND PatternMaster.Die_Id IS NULL
			    AND PurchaseCompanyMapping.CompanyId = @EntityId
				AND ( @CastingId IS NULL OR CastingId = @CastingId)
                --AND ( @PlantIdString IS NULL OR @PlantIdString = ''                
                --          OR PatternMaster.PatternId IN ( select item from @PatternIdTable )
                --    )
                     delete from @PatternIdTable;
    END
GO
