USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ExportDetails_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ExportDetails_Register]
@DateFrom Datetime = null,
@DateTo Datetime = null,
@EntityID int = 0,
@PlantIdString VARCHAR(MAX) = null,
@DispatchID int =0,
@CustomerID UNIQUEIDENTIFIER = NULL,
@Parameter INT = 0 ,    
@PageNumber INT = 0 ,                
@PageSize INT = 0 ,                
@InitialLoad INT = 0 ,                
@TotalRecords INT = 0 
AS
BEGIN

    declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
	IF @Parameter = 1
	BEGIN
	
	   IF @InitialLoad = 1
	   BEGIN
	   
	      SELECT 
	      TOP ( @PageSize )
	      *
	      from
	      (
	                    SELECT TOP ( @PageSize ) 
	                        --ROW_NUMBER() OVER ( ORDER BY dispatchmaster.DispatchSlipNo DESC ) AS [SerialNo],
	                        ROW_NUMBER() OVER ( ORDER BY ExportDate DESC, Cast(ExportNo as int) DESC ) AS SerialNo,
							 CASE WHEN DispatchMaster.ExpPrefix IS NULL
                                    OR DispatchMaster.ExpPrefix = ''
                                THEN ''
                                ELSE CONVERT(VARCHAR(50), DispatchMaster.ExpPrefix)
                                    + CASE
                                        WHEN DispatchMaster.ExpSeparator IS NULL
                                        THEN ''
                                        ELSE CONVERT(VARCHAR(50), DispatchMaster.ExpSeparator)
                                        END
                            END
                            + CONVERT(VARCHAR(50), DispatchMaster.ExportNo)
                            + CASE WHEN DispatchMaster.ExpSeparator IS NULL
                                    THEN ''
                                    ELSE CONVERT(VARCHAR(50), DispatchMaster.ExpSeparator)
                            END
                            + CASE WHEN DispatchMaster.ExpSuffix IS NULL
                                    THEN ''
                                    ELSE CONVERT(VARCHAR(50), DispatchMaster.ExpSuffix)
                            END AS InvoiceNo ,
                            CustomerMaster.CustomerName as Customer,
                            Convert(varchar(15),ExportDate ,106) as InvoiceDate,
                            DispatchID,
                            dispatchmaster.EntryNo,
                            dispatchmaster.PreCarriageBy,
                            dispatchmaster.PortofDischarge,
                            dispatchmaster.SalesAgainstFormExport,
                            dispatchmaster.ModeOfTransportExport,
                            dispatchmaster.FinalDestination,
                            dispatchmaster.PlantID
                            
						 
						  
						  
						  
                    FROM    dispatchmaster
                            left join CustomerMaster ON CustomerMaster.CustomerId = dispatchmaster.customerID
                    WHERE   
                        dispatchmaster.isDeleted = 0 
                        AND dispatchmaster.EntityID = @EntityID
                        AND dispatchmaster.IsDoneExportDetails = 1
                        and dispatchmaster.IsExport = 1
                        AND  (@DispatchID = 0 OR dispatchmaster.DispatchID = @DispatchID)
                        AND  (@CustomerID is NULL OR dispatchmaster.customerID = @CustomerID)
						AND (@DateFrom IS NULL OR CAST(dispatchmaster.DispatchDate AS DATE) >= CAST(@DateFrom AS DATE))
						AND (@DateTo IS NULL OR CAST(dispatchmaster.DispatchDate AS DATE) <= CAST(@DateTo AS DATE))
						AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  Or dispatchmaster.PlantID in (
														SELECT * from  dbo.SplitString(@PlantIdString, ',')
                                                    )
                                                 )
    
                        
                        ) as t --order by EntryNo,InvoiceDate desc
       END
       ELSE
       BEGIN
           SELECT 
	      TOP ( @PageSize )
	      *
	      from
	      (
	                    SELECT 
	                        ROW_NUMBER() OVER ( ORDER BY ExportDate DESC, Cast(ExportNo as int) DESC ) AS SerialNo,
	                        --ROW_NUMBER() OVER ( ORDER BY dispatchmaster.DispatchSlipNo DESC ) AS [SerialNo],
							 CASE WHEN DispatchMaster.ExpPrefix IS NULL
                                    OR DispatchMaster.ExpPrefix = ''
                                THEN ''
                                ELSE CONVERT(VARCHAR(50), DispatchMaster.ExpPrefix)
                                    + CASE
                                        WHEN DispatchMaster.ExpSeparator IS NULL
                                        THEN ''
                                        ELSE CONVERT(VARCHAR(50), DispatchMaster.ExpSeparator)
                                        END
                            END
                            + CONVERT(VARCHAR(50), DispatchMaster.ExportNo)
                            + CASE WHEN DispatchMaster.ExpSeparator IS NULL
                                    THEN ''
                                    ELSE CONVERT(VARCHAR(50), DispatchMaster.ExpSeparator)
                            END
                            + CASE WHEN DispatchMaster.ExpSuffix IS NULL
                                    THEN ''
                                    ELSE CONVERT(VARCHAR(50), DispatchMaster.ExpSuffix)
                            END AS InvoiceNo ,
                            CustomerMaster.CustomerName as Customer,
                            Convert(varchar(15),ExportDate ,106) as InvoiceDate,
                            DispatchID,
                            dispatchmaster.EntryNo,
                            dispatchmaster.PreCarriageBy,
                            dispatchmaster.PortofDischarge,
                            dispatchmaster.SalesAgainstFormExport,
                            dispatchmaster.ModeOfTransportExport,
                            dispatchmaster.FinalDestination,
                            dispatchmaster.PlantID
						 
						  
						  
						  
                    FROM    dispatchmaster
                            left join CustomerMaster ON CustomerMaster.CustomerId = dispatchmaster.customerID
                    WHERE   
                            dispatchmaster.isDeleted = 0 
                        AND dispatchmaster.EntityID = @EntityID
                        AND dispatchmaster.IsDoneExportDetails = 1
                        and dispatchmaster.IsExport = 1
                        AND  (@DispatchID = 0 OR dispatchmaster.DispatchID = @DispatchID)
                        AND  (@CustomerID is NULL OR dispatchmaster.customerID =@CustomerID)
						AND (@DateFrom IS NULL OR CAST(dispatchmaster.DispatchDate AS DATE) >= CAST(@DateFrom AS DATE))
						AND (@DateTo IS NULL OR CAST(dispatchmaster.DispatchDate AS DATE) <= CAST(@DateTo AS DATE))
						AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  Or dispatchmaster.PlantID in (
														SELECT * from  dbo.SplitString(@PlantIdString, ',')
                                                    )
                                                 )
    
                        
                        ) as t WHERE   t.SerialNo > ( @PageNumber
                                                            * @PageSize )
                        
                         ---order by EntryNo,InvoiceDate desc
       END
    END
    ELSE IF @Parameter = 2
    BEGIN
                    SELECT 
	                        @TotalRecords = COUNT(*)
                    FROM    dispatchmaster
                            left join CustomerMaster ON CustomerMaster.CustomerId = dispatchmaster.customerID
                    WHERE   
                        dispatchmaster.isDeleted = 0 
                        AND dispatchmaster.EntityID = @EntityID
                        AND dispatchmaster.IsDoneExportDetails = 1
                        and dispatchmaster.IsExport = 1
                        AND  (@DispatchID = 0 OR dispatchmaster.DispatchID = @DispatchID)
                        AND  (@CustomerID is NULL OR dispatchmaster.customerID =@CustomerID)
						AND (@DateFrom IS NULL OR CAST(dispatchmaster.DispatchDate AS DATE) >= CAST(@DateFrom AS DATE))
						AND (@DateTo IS NULL OR CAST(dispatchmaster.DispatchDate AS DATE) <= CAST(@DateTo AS DATE))
						AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  Or dispatchmaster.PlantID in (
														SELECT * from  dbo.SplitString(@PlantIdString, ',')
                                                    )
                                                 )
                       SELECT @TotalRecords as [Total]
    END
	
END
GO
