USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Maintenance_SP_Breakdown_Master]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Maintenance_SP_Breakdown_Master]
    @EquipmentId UNIQUEIDENTIFIER = NULL ,
    @BreakdownId UNIQUEIDENTIFIER = NULL ,
    @EquipmentName VARCHAR(100) = NULL ,
    @MAXRepairingId UNIQUEIDENTIFIER = NULL ,
    @EquipmentCode VARCHAR(150) = NULL ,
   -- @EquipmentCategory VARCHAR(100) = NULL ,
    @EquipmentCategoryId int = 0 ,
    @Department VARCHAR(50) = NULL ,
    @FromDate VARCHAR(50) = NULL ,
    @ToDate VARCHAR(50) = NULL ,
    @FromTime VARCHAR(50) = NULL ,
    @ToTime VARCHAR(50) = NULL ,
    @ReASonOfBreakdown VARCHAR(250) = NULL ,
    @Status VARCHAR = 0 ,
    @Hours VARCHAR(50) = 0 ,
    @CreatedOn VARCHAR(50) = NULL ,
    @EntityId BIGINT = 0 ,
    @Parameter BIGINT = 0 ,
    @sub AS XML = NULL ,
    @Operator VARCHAR(50) = NULL ,
    @Detail VARCHAR(250) = NULL ,
    @SupervisorName VARCHAR(50) = NULL ,
    @StartDate VARCHAR(50) = NULL ,
    @EndDate VARCHAR(50) = NULL ,
    @RepairedBy VARCHAR(50) = NULL ,
    @RepairBy VARCHAR(50) = NULL ,
    @RepairingDetails VARCHAR(MAX) = NULL ,
    @PartyName VARCHAR(50) = NULL ,
    @RepairingId UNIQUEIDENTIFIER = NULL ,
    @Repairing_Flag VARCHAR(50) = NULL ,
    @IsRepair VARCHAR(50) = NULL ,
    @RepairingTransId UNIQUEIDENTIFIER = NULL ,
    @Particulars VARCHAR(200) = NULL ,
    @Qty FLOAT = NULL ,
    @UOM VARCHAR(50) = NULL ,
    @Price FLOAT = NULL ,
    @Rate FLOAT = NULL ,
    @BreakDownEdit XML = NULL ,
    @BreakDownDelete XML = NULL ,
    @CreatedBy INT = 0 ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL ,
    @TotalRate FLOAT = 0 ,
    @TotalCost FLOAT = 0 ,
    @EntryNo VARCHAR(100) = NULL ,
    @DateFrom DATETIME = NULL ,
    @DateTo DATETIME = NULL ,
    @TotalRecords INT = 0 ,
    @InitialLoad INT = 0 ,
    @PageNumber INT = 0 ,
    @PageSize INT = 0
    ,@BreakDownArea varchar(Max) = null
    ,@DepartmentID uniqueidentifier = null ,
    @ImagePathId UNIQUEIDENTIFIER = NULL ,  
    @ImageUpload AS XML = NULL ,  
    @ImageDelete AS XML = NULL ,  
    @DeleteImage VARCHAR(MAX) = NULL ,
    @Photo VARCHAR(MAX) = NULL ,
    @ImagePathDetails AS XML = NULL ,
    @BreakdownNo varchar(20) = null ,
    @DeletedBy int = 0 ,
    @PendingResolve int = 0 ,
    @SrNo INT = 0
    ,@OriginalName varchar(max) = null 
   
AS
    DECLARE @_Item_Id AS VARCHAR(50) ,
        @_Qty FLOAT ,
        @_Rate FLOAT ,
        @_CreatedOn VARCHAR(50)
    
    DECLARE @UserXML as XML, @ShortDescription varchar(MAX);
    
    BEGIN TRANSACTION
	
    IF ( @Parameter = 1 )--fetch equipment name from equipment code
        BEGIN
            --SELECT DISTINCT  MaintenanceBreakdownMaster.EquipmentId ,
            --        PurchaseItemMaster.EquipmentName ,
            --        PurchaseItemMaster.EquipmentCode ,
            --        PurchaseItemMaster.EquipmentCategory ,
            --        PurchaseItemMaster.Department
            --FROM    MaintenanceBreakdownMaster
            --        INNER JOIN PurchaseItemMaster ON MaintenanceBreakdownMaster.EquipmentId = PurchaseItemMaster.EquipmentId
            --WHERE   ( MaintenanceBreakdownMaster.IsDeleted = 0 )   
            
            
            SELECT DISTINCT  PurchaseItemMaster.PurchaseItemId as EquipmentId ,
					PurchaseItemMaster.ItemName as  EquipmentName ,
                    PurchaseItemMaster.ItemCode as  EquipmentCode 
            FROM    MaintenanceBreakdownMaster
                    INNER JOIN PurchaseItemMaster ON MaintenanceBreakdownMaster.EquipmentId = PurchaseItemMaster.PurchaseItemId   and PurchaseItemMaster.IsEquipment = 1 
            WHERE   ( MaintenanceBreakdownMaster.IsDeleted = 0 AND PurchaseItemMaster.EntityId = @EntityId)
            
            
            IF @@ERROR <> 0
                ROLLBACK TRANSACTION	 
        END
		
    ELSE IF ( @Parameter = 2 )--fetch equipment code from equipment name
            BEGIN
                SELECT DISTINCT  ItemCode as  EquipmentCode ,
                        PurchaseItemId as EquipmentId
                FROM    PurchaseItemMaster WITH ( NOLOCK )
                WHERE   PurchaseItemId = @EquipmentId
                        AND EntityId = @EntityId and PurchaseItemMaster.IsEquipment = 1 
			
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION	 
            END
		
    ELSE IF ( @Parameter = 3 )--insert into breakdown mASter
		BEGIN
		
			SET @BreakdownId = NEWID()

			INSERT  INTO MaintenanceBreakdownMaster
					( BreakdownId ,
					  EquipmentId ,
					  FromDate ,
					  FromTime ,
					  ToDate ,
					  ToTime ,
					  ReASonOfBreakdown ,
					  Status ,
					  CreatedOn ,
					  EntityId ,
					  NoOfHours ,
					  Operator ,
					  Detail ,
					  IsRepair ,
					  CreatedBy ,
					  --ModifiedBy ,
					  --ModifiedOn ,
					  TotalCost ,
					  EntryNo,
					  BreakDownArea,
					  BreakdownNo
					)
			VALUES  ( @BreakdownId ,
					  @EquipmentId ,
					  @FromDate ,
					  @FromTime ,
					  @ToDate ,
					  @ToTime ,
					  @ReASonOfBreakdown ,
					  @Status ,
					  @CreatedOn ,
					  @EntityId ,
					  @Hours ,
					  @Operator ,
					  @Detail ,
					  @IsRepair ,
					  @CreatedBy ,
					--  @ModifiedBy ,
					 -- @ModifiedOn ,
					  @TotalCost ,
					  @EntryNo,
					  @BreakDownArea,
					  @BreakdownNo
					)
			DECLARE ImagePath CURSOR                
            FOR                
              SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
					  Node.value('(SrNo)[1]', 'int') AS 'SrNo'
					     ,Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName'
                FROM    @ImageUpload.nodes('/DocumentElement/ImageUpload') AS TEMPXML ( Node )                
                                            
            OPEN ImagePath;                
                                
            FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName
            WHILE ( @@FETCH_STATUS = 0 )                
                BEGIN                                   
					EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id = @BreakdownId ,@OriginalName = @OriginalName
                    
                    FETCH NEXT FROM ImagePath INTO @Photo, @SrNo ,@OriginalName            
                    IF @@ERROR <> 0                
                        ROLLBACK TRANSACTION                
                END                
                                            
            CLOSE ImagePath;                
            DEALLOCATE ImagePath;
			
			--insert breakdown repairing detail end
            IF @@ERROR <> 0
                ROLLBACK TRANSACTION	 
                
            IF EXISTS (SELECT NotificationConfiguration.UserId AS UserID FROM NotificationConfiguration 
					INNER jOIN NotificationPage on NotificationConfiguration.Code = NotificationPage.Code 
												and NotificationPage.Code = 'BON' and IsActive = 1
					INNER JOIN UserMaster ON UserMaster.UserId = NotificationConfiguration.UserId
												AND UserMaster.CompanyId = @EntityId
			)
			BEGIN
				SET @UserXML = ( SELECT ( 
										SELECT	UserId AS UserID FROM NotificationConfiguration 
										WHERE	Code='BON' 
												AND UserId IN (select UserId from UserMaster WHERE CompanyId = @EntityId)
										
									FOR XML PATH('UserDetail') , TYPE )
								FOR XML PATH('') , ROOT('DocumentElement'))
				
				DECLARE @Equipment NVARCHAR(MAX) = ''
				SET @Equipment = (SELECT ItemName + '(' + ItemCode + ')' FROM PurchaseItemMaster WHERE PurchaseItemId = @EquipmentId  and PurchaseItemMaster.IsEquipment = 1)
				
				SET @ShortDescription = 'Breakdown Occurred for the (' + @Equipment + '). Please check and do the needful.';
			
				EXEC dbo.InsertNotification @Type = 'BreakdownOccurredNotification', -- uniqueidentifier
					@Title = 'Breakdown Occurred', -- float
					@ShortDescription = @ShortDescription,
					@UserXML = @UserXML
					, @LookUPID1 = NULL
					, @LookUPID2 = @BreakdownId
			END
		END
		
      ELSE IF ( @Parameter = 4 )--fetch breakdown detail for update
                    BEGIN
                        SELECT DISTINCT MaintenanceBreakdownMaster.BreakdownId ,
                                PurchaseItemMaster.PurchaseItemId	as  EquipmentId ,
                                ItemName as  EquipmentName ,
                                ItemCode as  EquipmentCode ,
                                FromDate ,
                                FromTime ,
                                ToDate ,
                                ToTime ,
                                ReASonOfBreakdown ,
                                --RIGHT(CONVERT(varchar, DATEADD(s, NoOfHours * 60, 0), 108),5) NoOfHours,
                                (select CONVERT(VARCHAR(10), ( (  cast((NoOfHours * 3600) as int) % 86400 ) / 3600 ) + ((  cast((NoOfHours * 3600) as int) / 86400 ) * 24)) + ':'
											+ CONVERT(VARCHAR(10), ( ( (  cast((NoOfHours * 3600) as int) % 86400 ) % 3600 ) / 60 ))
												) as NoOfHours,
                                Operator ,
                                Detail ,
                                TotalCost ,
                                EntryNo,
                                BreakDownArea,
                                BreakdownNo
                        FROM    PurchaseItemMaster WITH ( NOLOCK )
                                INNER JOIN MaintenanceBreakdownMaster WITH ( NOLOCK ) --left join MaintenancePreventiveMaintenanceMaster on MaintenancePreventiveMaintenanceMaster.BreakdownId=MaintenanceBreakdownMaster.BreakdownId  

--left join MaintenanceBreakDownRepairingTrans on MaintenanceBreakDownRepairingTrans.RepairingId=  MaintenancePreventiveMaintenanceMaster.RepairingId
                                ON PurchaseItemMaster.PurchaseItemId = MaintenanceBreakdownMaster.EquipmentId and PurchaseItemMaster.IsEquipment = 1
                        WHERE   MaintenanceBreakdownMaster.BreakdownId = @BreakdownId
                               -- AND MaintenanceBreakdownMaster.EntityId = @EntityId
		
                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION	 
                    END
		
     ELSE IF ( @Parameter = 5 )--update breakdown mASter 
                        BEGIN
			
                            UPDATE  MaintenanceBreakdownMaster
                            SET     -- EquipmentId = @EquipmentId ,
                                    FromDate = @FromDate ,
                                    FromTime = @FromTime ,
                                    --ToDate = @ToDate ,
                                    --ToTime = @ToTime ,
                                    ReASonOfBreakdown = @ReASonOfBreakdown ,
                                    Status = @Status ,
                                  --  CreatedOn = @CreatedOn ,
                                    EntityId = @EntityId ,
                                  --  NoOfHours = @Hours ,
                                    Operator = @Operator ,
                                    Detail = @Detail ,
                                    --IsRepair = @IsRepair ,
                                  --  CreatedBy = @CreatedBy ,
                                    ModifiedBy = @ModifiedBy ,
                                    ModifiedOn = @ModifiedOn 
                                  --  ,TotalCost = @TotalCost
                                    ,BreakDownArea = @BreakDownArea
                            WHERE   BreakdownId = @BreakdownId
                                    --AND EntityId = @EntityId

                          --  IF ( @RepairingId IS NULL )
--                           IF ( @RepairingId IS NULL )
--                            OR ( @RepairingId = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) )
--                                BEGIN
						
--                                    SET @RepairingId = NEWID()
						
--                                    INSERT  INTO MaintenanceBreakDownRepairingMaster
--                                            ( RepairingId ,
--                                              BreakDownId ,
--                                              SupervisorName ,
--                                              RepairedBy ,
--                                              RepairingDetails ,
--                                              PartyName ,
--                                              CreatedOn ,
--                                              EntityId ,
--                                              CreatedBy ,
--                                              ModifiedBy ,
--                                              ModifiedOn 
--                                            )
--                                    VALUES  ( @RepairingId ,
--                                              @BreakdownId ,
--                                              @SupervisorName ,
--                                              @RepairedBy ,
--                                              @RepairingDetails ,
--                                              @PartyName ,
--                                              @CreatedOn ,
--                                              @EntityId ,
--                                              @CreatedBy ,
--                                              @ModifiedBy ,
--                                              @ModifiedOn
--                                            )
--                                END    
--                            ELSE
--                                BEGIN
							
--                                    UPDATE  dbo.MaintenanceBreakDownRepairingMaster
--                                    SET     SupervisorName = @SupervisorName ,
--                                            RepairedBy = @RepairedBy ,
--                                            RepairingDetails = @RepairingDetails ,
--                                            PartyName = @PartyName
--                                    WHERE   RepairingId = @RepairingId
--                                END
							
--                            DECLARE BreakDownEdit CURSOR
--                            FOR
--                                SELECT  Node.value('(RepairingTransId )[1]',
--                                                   'uniqueidentifier') AS 'RepairingTransId' ,
--                                        Node.value('(Particulars)[1]',
--                                                   'varchar(200)') AS 'Particulars' ,
--                                        Node.value('(Qty)[1]', 'float') AS 'Qty' ,
--                                        Node.value('(Rate)[1]', 'float') AS 'Rate' ,
--                                        Node.value('(UOM)[1]', 'varchar(50)') AS 'UOM' ,
--                                        Node.value('(TotalRate)[1]', 'float') AS 'TotalRate'
--                                FROM    @sub.nodes('/DocumentElement/MaintenanceBreakDownRepairingTrans')
--                                        AS TEMPXML ( Node )
                                                
--                            OPEN BreakDownEdit  
--                            FETCH NEXT FROM BreakDownEdit INTO @RepairingTransId,
--                                @Particulars, @Qty, @Rate, @UOM, @TotalRate
                                        
--                            WHILE ( @@FETCH_STATUS = 0 )
--                                BEGIN
--                                    IF ( @RepairingTransId IS NULL )
--                                        OR ( @RepairingTransId = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) )
--                                        BEGIN
											
--                                            INSERT  INTO MaintenanceBreakDownRepairingTrans
--                                                    ( RepairingId ,
--                                                      Particulars ,
--                                                      Qty ,
--                                                      Price ,
--                                                      UOM ,
--                                                      CreatedOn ,
--                                                      EntityId
--                                                    )
--                                            VALUES  ( @RepairingId ,
--                                                      @Particulars ,
--                                                      @Qty ,
--                                                      @Rate ,
--                                                      @UOM ,
--                                                      @CreatedOn ,
--                                                      @EntityId
--                                                    )
--                                        END
--                                    ELSE
--                                        BEGIN
--                                            UPDATE  dbo.MaintenanceBreakDownRepairingTrans
--                                            SET     Particulars = @Particulars ,
--                                                    Qty = @Qty ,
--                                                    Price = @Rate ,
--                                                    UOM = @UOM
--                                            WHERE   ( RepairingTransId = @RepairingTransId )
--                                        END
--                                    FETCH NEXT FROM BreakDownEdit INTO @RepairingTransId,
--                                        @Particulars, @Qty, @Rate, @UOM,
--                                        @TotalRate
--                                END
--                            CLOSE BreakDownEdit;
--                            DEALLOCATE BreakDownEdit;
                                	
                                
                            
--                            DECLARE BreakDownDelete CURSOR
--                            FOR
--                                SELECT  Node.value('(RepairingTransId )[1]',
--                                                   'uniqueidentifier') AS 'RepairingTransId'
--                                FROM    @BreakDownDelete.nodes('/DocumentElement/MaintenanceBreakDownRepairingTrans')
--                                        AS TEMPXML ( Node )
                                        
--                            OPEN BreakDownDelete  
--                            FETCH NEXT FROM BreakDownDelete INTO @RepairingTransId

--                            WHILE ( @@FETCH_STATUS = 0 )
--                                BEGIN
----                                    DELETE  FROM dbo.MaintenanceBreakDownRepairingTrans
--                                    UPDATE  MaintenanceBreakDownRepairingTrans
--                                    SET     IsDeleted = 1
--                                    WHERE   ( RepairingTransId = @RepairingTransId )
--                                    FETCH NEXT FROM BreakDownDelete INTO @RepairingTransId
--                                END
--                            CLOSE BreakDownDelete;
--                            DEALLOCATE BreakDownDelete;	
                            
                            DECLARE ImagePath CURSOR                
        				    FOR                
        				      SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
									  Node.value('(SrNo)[1]', 'int') AS 'SrNo'
									     ,Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName'
        				        FROM    @ImageUpload.nodes('/DocumentElement/ImageUpload') AS TEMPXML ( Node )                
        				                                    
        				    OPEN ImagePath;                
        				                        
        				    FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName
        				    WHILE ( @@FETCH_STATUS = 0 )                
        				        BEGIN                                   
									EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id = @BreakdownId ,@OriginalName = @OriginalName
        				            
        				            FETCH NEXT FROM ImagePath INTO @Photo, @SrNo ,@OriginalName              
        				            IF @@ERROR <> 0                
        				                ROLLBACK TRANSACTION                
        				        END                
        				                                    
        				    CLOSE ImagePath;                
        				    DEALLOCATE ImagePath;
                            
            				DECLARE DeleteImage CURSOR  
            				FOR  
            				    SELECT  Node.value('(DeleteImage)[1]', 'varchar(max)') AS 'DeleteImage'  
            				    FROM    @ImageDelete.nodes('/DocumentElement/ImageDelete') AS TEMPXML ( Node )  
            				                  
            				OPEN DeleteImage;  
            				      
            				FETCH NEXT FROM DeleteImage INTO @DeleteImage  
            				WHILE ( @@FETCH_STATUS = 0 )  
            				    BEGIN                     
            				              
            				        DELETE  FROM ImagePath  
            				        WHERE   Id = @BreakdownId  
            				                AND FilePath = @DeleteImage  
            				                                          
            				        IF @@ERROR <> 0  
            				            ROLLBACK TRANSACTION  
            				      
            				        FETCH NEXT FROM DeleteImage INTO @DeleteImage  
            				        IF @@ERROR <> 0  
            				            ROLLBACK TRANSACTION  
            				    END    
            				CLOSE DeleteImage;
            				DEALLOCATE DeleteImage;
                            
                        END
		ELSE IF ( @Parameter = 6 )--Delete breakdown status
                            BEGIN
                                DELETE  MaintenanceBreakdownMaster
                                WHERE   BreakdownId = @BreakdownId
                                      --  AND EntityId = @EntityId
			
                                IF @@ERROR <> 0
                                    ROLLBACK TRANSACTION	 
                            END


     IF ( @Parameter = 8 )	--fetch repairing detail for edit	
        BEGIN
            SELECT  
					--ROW_NUMBER() OVER ( ORDER BY MaintenanceBreakDownRepairingTrans.RepairingId ASC ) AS SrNo ,
                    --MaintenanceBreakDownRepairingTrans.Particulars ,
                    --MaintenanceBreakDownRepairingTrans.Qty AS Qty ,
                    --MaintenanceBreakDownRepairingTrans.Price AS Rate ,
                    --( MaintenanceBreakDownRepairingTrans.Qty
                    --  * MaintenanceBreakDownRepairingTrans.Price ) AS TotalRate ,
                    MaintenanceBreakDownRepairingMaster.SupervisorName ,
                    MaintenanceBreakDownRepairingMaster.RepairedBy ,
                    MaintenanceBreakDownRepairingMaster.RepairingDetails ,
                    MaintenanceBreakDownRepairingMaster.PartyName ,
                    --MaintenanceBreakDownRepairingTrans.UOM ,
                    --MaintenanceBreakDownRepairingTrans.RepairingTransId ,
                    MaintenanceBreakDownRepairingMaster.BreakDownId ,
                    MaintenanceBreakDownRepairingMaster.RepairingId,
					SupervisorId
            FROM    MaintenanceBreakDownRepairingMaster
                    --LEFT JOIN MaintenanceBreakDownRepairingTrans ON MaintenanceBreakDownRepairingTrans.RepairingId = MaintenanceBreakDownRepairingMaster.RepairingId
            WHERE   MaintenanceBreakDownRepairingMaster.BreakdownId = @BreakdownId
                    AND dbo.MaintenanceBreakDownRepairingMaster.IsDeleted = 0
                   
                    SELECT  ROW_NUMBER() OVER ( ORDER BY MaintenanceBreakDownRepairingTrans.RepairingId ASC ) AS SrNo ,
                    MaintenanceBreakDownRepairingTrans.Particulars ,
                    MaintenanceBreakDownRepairingTrans.Qty AS Qty ,
                    MaintenanceBreakDownRepairingTrans.Price AS Rate ,
                    ( MaintenanceBreakDownRepairingTrans.Qty
                      * MaintenanceBreakDownRepairingTrans.Price ) AS TotalRate ,
                    MaintenanceBreakDownRepairingMaster.SupervisorName ,
                    MaintenanceBreakDownRepairingMaster.RepairedBy ,
                    MaintenanceBreakDownRepairingMaster.RepairingDetails ,
                    MaintenanceBreakDownRepairingMaster.PartyName ,
                    MaintenanceBreakDownRepairingTrans.UOM ,
                    MaintenanceBreakDownRepairingTrans.RepairingTransId ,
                    MaintenanceBreakDownRepairingMaster.BreakDownId ,
                    MaintenanceBreakDownRepairingMaster.RepairingId
            FROM    MaintenanceBreakDownRepairingMaster
                    LEFT JOIN MaintenanceBreakDownRepairingTrans ON MaintenanceBreakDownRepairingTrans.RepairingId = MaintenanceBreakDownRepairingMaster.RepairingId
            WHERE   MaintenanceBreakDownRepairingMaster.BreakdownId = @BreakdownId
                    AND dbo.MaintenanceBreakDownRepairingTrans.IsDeleted = 0
        END

    IF ( @Parameter = 9 ) --check equipment exist in breakdown
        BEGIN
            SELECT  *
            FROM    MaintenanceBreakdownMaster
            WHERE   EquipmentId = @EquipmentId
                    AND EntityId = @EntityId
        END
   
     COMMIT TRANSACTION
  
        -- Fetch Area(added by megha)
	If @Parameter = 11
	begin
		Select distinct BreakDownArea from MaintenanceBreakdownMaster 
		where BreakDownArea is not null 
		and BreakDownArea != ''
		and IsDeleted = 0
	end
	
	IF @Parameter = 12	--Fetch Image Added by Sahil
        BEGIN  
            IF ( @BreakdownId IS NULL  
                 OR @BreakdownId = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)  
               )  
                BEGIN  
          
                    SET @BreakdownId = ( SELECT   BreakdownId  
                                               FROM     MaintenanceBreakdownMaster  
                                               WHERE    BreakdownId = @BreakdownId  
                                )  
                END  
          
            SELECT  ImagePath.Id AS BreakdownId ,  
                    ImagePath.FilePath  ,
                    ImagePath.OriginalName
            FROM    ImagePath  
            WHERE   ImagePath.Id = @BreakdownId  
                    
        END
   	IF @Parameter = 13	--Fetch BreeakDown No 
        BEGIN   
            SELECT   isnull(BreakdownNo,'')BreakdownNo,BreakdownId,ItemName + '(' + ItemCode +')' AS Equipment
					,MaintenanceBreakdownMaster.EquipmentId ,FromDate	,FromTime
            FROM    MaintenanceBreakdownMaster  
				INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = MaintenanceBreakdownMaster.EquipmentId   and PurchaseItemMaster.IsEquipment = 1
			     
            WHERE   MaintenanceBreakdownMaster.IsDeleted = 0   AND BreakdownId not in ( select BreakdownId  from MaintenanceBreakDownRepairingMaster  where IsDeleted =  0 )
					and MaintenanceBreakdownMaster.EquipmentId = ISNULL(@EquipmentId, MaintenanceBreakdownMaster.EquipmentId )
					and MaintenanceBreakdownMaster.BreakdownId = ISNULL(@BreakdownId, MaintenanceBreakdownMaster.BreakdownId )
					 AND  MaintenanceBreakdownMaster.EntityId = @EntityId   
                    
        END     
    IF @Parameter = 14	--Insert BreakDownResolvedEntry 
        BEGIN   
        IF ( @Repairing_Flag IS NOT NULL
                         AND @Repairing_Flag = 'Repairing_Detail'
                       )
                        BEGIN
							 UPDATE  MaintenanceBreakdownMaster
								SET     
                                    ToDate = @ToDate ,
                                    ToTime = @ToTime , 
                                    NoOfHours = @Hours  ,
                                    TotalCost = @TotalCost
								 WHERE   BreakdownId = @BreakdownId 


                            SET @RepairingId = NEWID()

                            INSERT  INTO MaintenanceBreakDownRepairingMaster
                                    ( RepairingId ,
                                      BreakDownId ,
                                      SupervisorId ,
                                      RepairedBy ,
                                      RepairingDetails ,
                                      PartyName ,
                                      CreatedOn ,
                                      EntityId ,
                                      CreatedBy
                                    )
                            VALUES  ( @RepairingId ,
                                      @BreakdownId ,
                                      @SupervisorName ,
                                      @RepairedBy ,
                                      @RepairingDetails ,
                                      @PartyName ,
                                      GETDATE() ,
                                      @EntityId ,
                                      @CreatedBy 
                                    )


                            INSERT  INTO MaintenanceBreakDownRepairingTrans
                                    ( RepairingId ,
                                      Particulars ,
                                      Qty ,
                                      Price ,
                                      UOM ,
                                      CreatedOn ,
                                      EntityId
                                    )
                                    SELECT  @RepairingId ,
                                            Node.value('(Particulars)[1]',
                                                       'varchar(200)') AS 'Particulars' ,
                                            Node.value('(Qty)[1]', 'float') AS 'Qty' ,
                                            Node.value('(Rate)[1]', 'float') AS 'Rate' ,
                                            Node.value('(UOM)[1]',
                                                       'varchar(50)') AS 'UOM' ,
                                            GetDate() ,
                                            @EntityId
                                    FROM    @sub.nodes('/DocumentElement/MaintenanceBreakDownRepairingTrans')
                                            AS TEMPXML ( Node )
                                            
                            --Save Image by Sahil
                            DECLARE ImagePath CURSOR                
        				    FOR                
        				      SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
									  Node.value('(SrNo)[1]', 'int') AS 'SrNo'
									   ,Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName'
        				        FROM    @ImagePathDetails.nodes('/DocumentElement/ImagePath') AS TEMPXML ( Node )                
        				                                    
        				    OPEN ImagePath;                
        				                        
        				    FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName
        				    WHILE ( @@FETCH_STATUS = 0 )                
        				        BEGIN                                   
									EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id = @RepairingId ,@OriginalName = @OriginalName
        				            
        				            FETCH NEXT FROM ImagePath INTO @Photo, @SrNo ,@OriginalName          
        				            IF @@ERROR <> 0                
        				                ROLLBACK TRANSACTION                
        				        END                
        				                                    
        				    CLOSE ImagePath;                
        				    DEALLOCATE ImagePath;
               				 --End
                            
							RETURN 1 ;                                            
                        END
        END   
   IF @Parameter = 15 --Update BreakDownResolvedEntry 
		BEGIN
		 UPDATE  MaintenanceBreakdownMaster
								SET     
                                    ToDate = @ToDate ,
                                    ToTime = @ToTime , 
                                    NoOfHours = @Hours   ,
                                    TotalCost = @TotalCost
								 WHERE   BreakdownId = @BreakdownId 
								 
		    IF ( @RepairingId IS NULL )
                            OR ( @RepairingId = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) )
                                BEGIN
						
                                    SET @RepairingId = NEWID()
						
                                    INSERT  INTO MaintenanceBreakDownRepairingMaster
                                            ( RepairingId ,
                                              BreakDownId ,
                                              SupervisorId ,
                                              RepairedBy ,
                                              RepairingDetails ,
                                              PartyName ,
                                              CreatedOn ,
                                              EntityId ,
                                              CreatedBy ,
                                              ModifiedBy ,
                                              ModifiedOn 
                                            )
                                    VALUES  ( @RepairingId ,
                                              @BreakdownId ,
                                              @SupervisorName ,
                                              @RepairedBy ,
                                              @RepairingDetails ,
                                              @PartyName ,
                                              GETDATE() ,
                                              @EntityId ,
                                              @ModifiedBy ,
                                              @ModifiedBy ,
                                              GETDATE()
                                            )
                                END    
                            ELSE
                                BEGIN
							
                                    UPDATE  dbo.MaintenanceBreakDownRepairingMaster
                                    SET     SupervisorId = @SupervisorName ,
                                            RepairedBy = @RepairedBy ,
                                            RepairingDetails = @RepairingDetails ,
                                            PartyName = @PartyName,
                                            ModifiedBy=@ModifiedBy,
                                            ModifiedOn = GetDate()
                                    WHERE   RepairingId = @RepairingId
                                END
							
                            DECLARE BreakDownEdit CURSOR
                            FOR
                                SELECT  Node.value('(RepairingTransId )[1]',
                                                   'uniqueidentifier') AS 'RepairingTransId' ,
                                        Node.value('(Particulars)[1]',
                                                   'varchar(200)') AS 'Particulars' ,
                                        Node.value('(Qty)[1]', 'float') AS 'Qty' ,
                                        Node.value('(Rate)[1]', 'float') AS 'Rate' ,
                                        Node.value('(UOM)[1]', 'varchar(50)') AS 'UOM' ,
                                        Node.value('(TotalRate)[1]', 'float') AS 'TotalRate'
                                FROM    @sub.nodes('/DocumentElement/MaintenanceBreakDownRepairingTrans')
                                        AS TEMPXML ( Node )
                                                
                            OPEN BreakDownEdit  
                            FETCH NEXT FROM BreakDownEdit INTO @RepairingTransId,
                                @Particulars, @Qty, @Rate, @UOM, @TotalRate
                                        
                            WHILE ( @@FETCH_STATUS = 0 )
                                BEGIN
                                    IF ( @RepairingTransId IS NULL )
                                        OR ( @RepairingTransId = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER) )
                                        BEGIN
											
                                            INSERT  INTO MaintenanceBreakDownRepairingTrans
                                                    ( RepairingId ,
                                                      Particulars ,
                                                      Qty ,
                                                      Price ,
                                                      UOM ,
                                                      CreatedOn ,
                                                      EntityId
                                                    )
                                            VALUES  ( @RepairingId ,
                                                      @Particulars ,
                                                      @Qty ,
                                                      @Rate ,
                                                      @UOM ,
                                                      GETDATE(),
                                                      @EntityId
                                                    )
                                        END
                                    ELSE
                                        BEGIN
                                            UPDATE  dbo.MaintenanceBreakDownRepairingTrans
                                            SET     Particulars = @Particulars ,
                                                    Qty = @Qty ,
                                                    Price = @Rate ,
                                                    UOM = @UOM
                                            WHERE   ( RepairingTransId = @RepairingTransId )
                                        END
                                    FETCH NEXT FROM BreakDownEdit INTO @RepairingTransId,
                                        @Particulars, @Qty, @Rate, @UOM,
                                        @TotalRate
                                END
                            CLOSE BreakDownEdit;
                            DEALLOCATE BreakDownEdit;
                                	
                                
                            
                            DECLARE BreakDownDelete CURSOR
                            FOR
                                SELECT  Node.value('(RepairingTransId )[1]',
                                                   'uniqueidentifier') AS 'RepairingTransId'
                                FROM    @BreakDownDelete.nodes('/DocumentElement/MaintenanceBreakDownRepairingTrans')
                                        AS TEMPXML ( Node )
                                        
                            OPEN BreakDownDelete  
                            FETCH NEXT FROM BreakDownDelete INTO @RepairingTransId

                            WHILE ( @@FETCH_STATUS = 0 )
                                BEGIN
--                                    DELETE  FROM dbo.MaintenanceBreakDownRepairingTrans
                                    UPDATE  MaintenanceBreakDownRepairingTrans
                                    SET     IsDeleted = 1
                                    WHERE   ( RepairingTransId = @RepairingTransId )
                                    FETCH NEXT FROM BreakDownDelete INTO @RepairingTransId
                                END
                            CLOSE BreakDownDelete;
                            DEALLOCATE BreakDownDelete;
                            
                        --Delete Image
						DECLARE DeleteImage CURSOR                
        			    FOR                
        			        SELECT  Node.value('(DeleteImage)[1]', 'varchar(max)') AS 'DeleteImage'                
        			        FROM    @ImageDelete.nodes('/DocumentElement/ImageDelete') AS TEMPXML ( Node )                
        			                                    
        			    OPEN DeleteImage;                
        			                        
        			    FETCH NEXT FROM DeleteImage INTO @DeleteImage                
        			    WHILE ( @@FETCH_STATUS = 0 )                
        			        BEGIN                                   
        			                                
        			            DELETE  FROM ImagePath                
        			            WHERE   Id = @RepairingId                
        			                    AND FilePath = @DeleteImage                
        			                                
        			                               
        			                         
        			            IF @@ERROR <> 0                
        			                ROLLBACK TRANSACTION                
        			                        
        			            FETCH NEXT FROM DeleteImage INTO @DeleteImage                
        			            IF @@ERROR <> 0                
        			                ROLLBACK TRANSACTION                
        			        END                  
        			    CLOSE DeleteImage;            
        			    DEALLOCATE DeleteImage;
        			    
        			    --Insert New Image
        			    DECLARE ImagePath CURSOR                
        			    FOR                
        			      SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
								  Node.value('(SrNo)[1]', 'int') AS 'SrNo'
        			        FROM    @ImagePathDetails.nodes('/DocumentElement/ImagePath') AS TEMPXML ( Node )                
        			                                    
        			    OPEN ImagePath;                
        			                        
        			    FETCH NEXT FROM ImagePath INTO @Photo, @SrNo
        			    WHILE ( @@FETCH_STATUS = 0 )                
        			        BEGIN                                   
								EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id = @RepairingId
        			            
        			            FETCH NEXT FROM ImagePath INTO @Photo, @SrNo               
        			            IF @@ERROR <> 0                
        			                ROLLBACK TRANSACTION                
        			        END                
        			                                    
        			    CLOSE ImagePath;                
        			    DEALLOCATE ImagePath;

        			    IF @@Error <> 0                
        			        ROLLBACK TRANSACTION	
                            
                        return 1;    
                            
		END     
	IF @Parameter = 16 --Fetch BreeakDown Equipment No 
        BEGIN   
            SELECT   distinct ItemName + '(' + ItemCode +')' AS Equipment
					,MaintenanceBreakdownMaster.EquipmentId 
            FROM    MaintenanceBreakdownMaster  
				INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = MaintenanceBreakdownMaster.EquipmentId  and PurchaseItemMaster.IsEquipment = 1
			 
            WHERE   MaintenanceBreakdownMaster.IsDeleted = 0   
					AND BreakdownId not in ( 
						select BreakdownId  from MaintenanceBreakDownRepairingMaster WHERE MaintenanceBreakDownRepairingMaster.IsDeleted = 0)
					and MaintenanceBreakdownMaster.BreakdownId = ISNULL(@BreakdownId, MaintenanceBreakdownMaster.BreakdownId )
					AND  MaintenanceBreakdownMaster.EntityId = @EntityId   
                    and MaintenanceBreakdownMaster.EquipmentId = ISNULL(@EquipmentId, MaintenanceBreakdownMaster.EquipmentId )
        END      
 	IF @Parameter = 17  --Fetch BreeakDown   No 
        BEGIN   
            SELECT   distinct isnull(BreakdownNo,'')BreakdownNo,BreakdownId 
            FROM    MaintenanceBreakdownMaster  
				      WHERE   MaintenanceBreakdownMaster.IsDeleted = 0  
					 AND  MaintenanceBreakdownMaster.EntityId = @EntityId    
        END            
        IF @Parameter =  20  --Fetch BreeakDown Equipment No 
        BEGIN   
            SELECT   distinct ItemName + '(' + ItemCode+')' AS Equipment
					,MaintenanceBreakdownMaster.EquipmentId 
            FROM    MaintenanceBreakdownMaster  
				INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = MaintenanceBreakdownMaster.EquipmentId and PurchaseItemMaster.IsEquipment = 1 
			 
            WHERE   MaintenanceBreakdownMaster.IsDeleted = 0   
					and MaintenanceBreakdownMaster.BreakdownId = ISNULL(@BreakdownId, MaintenanceBreakdownMaster.BreakdownId )
					 AND  MaintenanceBreakdownMaster.EntityId = @EntityId   
                    and MaintenanceBreakdownMaster.EquipmentId = ISNULL(@EquipmentId, MaintenanceBreakdownMaster.EquipmentId )
        END  

	IF @Parameter =  21   
        BEGIN   
            SELECT  Count(*) as Count
            FROM    MaintenanceBreakDownRepairingMaster 
            WHERE   MaintenanceBreakDownRepairingMaster.IsDeleted = 0   
					and MaintenanceBreakDownRepairingMaster.BreakdownId = @BreakdownId
					
					
        END    
	IF @Parameter =  22   
        BEGIN   
            update  MaintenanceBreakDownRepairingMaster 
             set IsDeleted = 1 ,DeletedBy = @DeletedBy ,DeletedOn = GetDate()
					 where  MaintenanceBreakDownRepairingMaster.BreakdownId = @BreakdownId
					 
			 DELETE FROM ImagePath WHERE Id = @BreakdownId
			
			UPDATE  MaintenanceBreakdownMaster
								SET     
                                    ToDate = MaintenanceBreakdownMaster.CreatedOn,
                                    ToTime =  MaintenanceBreakdownMaster.CreatedOn , 
                                    NoOfHours = 0   ,
                                    TotalCost = 0
								 WHERE   BreakdownId = @BreakdownId  
								 
					 return 1 ;
					
        END  
 	IF @Parameter =  23
        BEGIN   
            select Count(*) as Count from   MaintenanceBreakdownMaster 
            left join MaintenanceBreakDownRepairingMaster on MaintenanceBreakDownRepairingMaster.BreakdownId =  MaintenanceBreakdownMaster.BreakdownId and MaintenanceBreakDownRepairingMaster.IsDeleted = 0 
              where    MaintenanceBreakdownMaster.EquipmentId  =@EquipmentId  and RepairingId is null and MaintenanceBreakdownMaster.IsDeleted =  0 
					
        END    
		
	
GO
