USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MeltingDetailDownload]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Rahil>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MeltingDetailDownload]
	-- Add the parameters for the stored procedure here
@Shift VARCHAR(50) = NULL,
@BatchId int = 0  ,
@FromDate DATETIME = NULL ,
@operatorid INT = 0 ,
@Furnace VARCHAR(50) = NULL ,  
@PlantIdString VARCHAR(MAX) = NULL ,                                    
@ToDate DATETIME = NULL ,
@EntityID INT = 0,
@AssemblyNotFetch bit = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
    -- Insert statements for procedure here
		SELECT	ProductionBatch.BatchID , 
				ROW_NUMBER() OVER ( ORDER BY  
				DATEDIFF(dd,0,ProductionBatch.ProductionDate) DESC ,BatchId desc) AS [Serial No] , 
				OurentryNo , 
				BatchNo as HeatNo ,
				CONVERT(VARCHAR(15), 
				ProductionDate, 106) AS ProductionDate ,
				MetalName,Furnace, 
				Shift  as Shift  , 
				ISNULL(totalChargingQnty, 0) AS MoltenMetalQty                                    
		FROM	ProductionBatch INNER JOIN MetalMaster ON ProductionBatch.MetalID = MetalMaster.MetalID               
		WHERE ProductionBatch.IsDeleted = 0		
		And(isnull(@AssemblyNotFetch,0) = 0 Or (isnull(@AssemblyNotFetch,0) = 1 and ProductionBatch.IsAssembly = 0))
		And (@Shift is null Or @Shift = '' Or ProductionBatch.Shift = @Shift) And (@Furnace is null Or @Furnace = '' Or PRoductionBatch.Furnace = @Furnace)                           
		AND ProductionBatch.BatchType = 0 AND ( @BatchId = 0                                    
                                              OR ProductionBatch.batchID = @BatchId                                    
                                       )                                    
                                        AND ( @FromDate IS NULL                                    
                                              OR @ToDate IS NULL                                    
                                              OR ProductionDate BETWEEN @FromDate AND @ToDate                                    
											)                                    
                                        AND ( @OperatorId = 0                                    
                                              OR ProductionBatch.EmployeeId = @OperatorId                                    
                                            )                                    
                                        AND ( ISNULL(@PlantIdString,'') = ''                                    
										   OR ProductionBatch.PlantId IN (                                    
											SELECT Item FROM @Plant)                                    
										  )                                    
										AND ProductionBatch.EntityID = @EntityId                                    
										AND ProductionBatch.IsForging = 0

END
GO
