USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[DispatchData]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Bhumin Mashruwala>
-- Create date: <Create Date, 29 Jan 2021>
-- Description:	<Description, To fetch Dispatch data with Taxation>
-- =============================================
CREATE PROCEDURE [dbo].[DispatchData] 
	-- Add the parameters for the stored procedure here	
	@IfActive int = 0,
	@IsExport bit = 0,
	@CustomerID uniqueidentifier = null,
	@InvoiceNo varchar(50) = null,
	@Dispatchid bigint=0,
	@ps_PageName varchar(50) = null,
	@CastingID uniqueidentifier = null,
	@CastingName varchar(100) = null,
	@ChallanNo varchar(50) = null,
	@SeriesID int = 0,
	@DispatchDateFrom date,
	@DispatchDateTo date,
	@PlantIdString varchar(50) = null,
	@EntityId int=0,
	@CondOfSupply int = 0,
    @ItemName varchar(Max) = null,
    @PurchaseItemId uniqueidentifier = null,
    @Isporfoma int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
	 SELECT ROW_NUMBER() OVER (  ORDER BY DispatchDate DESC , Cast(DispatchSlipNo as int) DESC  ) AS SrNo,*        
            FROM (        
                SELECT  --ROW_NUMBER() OVER ( ORDER BY dispatchmaster.Dispatchslipno DESC ) AS SrNo ,        
                        CASE WHEN @IfActive = 1        
                             THEN isnull(Dispatch.CustomerCode ,Dispatch.CustomerName)       
                             ELSE Dispatch.CustomerName        
                        END CustomerName ,        
                        Dispatch.customerID ,        
						Dispatch.InvoiceNo AS InvoiceNo ,        
                        Dispatch.EntryNo ,        
                        CONVERT(VARCHAR(11), Dispatch.dispatchdate, 106) AS InvoiceDate ,        
                        ISNULL(Dispatch.GrossAmount, 0) AS 'TotalAmountExTax' ,        
                        ISNULL(Dispatch.TotalAmount, 0) AS 'TotalAmountInclTax' ,        
                        ISNULL(Dispatch.GrossAmountInCurrency, 0) AS 'TotalAmountExTaxInCurrency' ,        
                        ISNULL(Dispatch.TotalAmountInCurrency, 0) AS 'TotalAmountInclTaxInCurrency' ,        
                        Dispatch.DispatchID AS DispatchID,        
                        Dispatch.Symbol AS Symbol,                                      
                         0 as PfCharges,        
                        ISNULL(Dispatch.Excise, 0) AS Excise ,        
                        ISNULL(Dispatch.PatternExcise, 0) AS PatternExcise ,        
                        ISNULL(Dispatch.AddVat, 0) AS AddVat ,        
                        ISNULL(Dispatch.AddDutyAmount, 0) AS AddDutyAmount ,        
                        ISNULL(Dispatch.EduCess, 0) AS EduCess ,        
                        ISNULL(Dispatch.HighEduCess, 0) AS HighEduCess ,        
                        ISNULL(Dispatch.Carting, 0) AS Carting ,        
                        CASE WHEN Dispatch.InvoiceType = 'Tax Invoice'        
                             THEN ISNULL(Dispatch.Vat, 0)        
                             ELSE '0'        
                        END AS Vat ,        
                        CASE WHEN Dispatch.InvoiceType = 'Retail Invoice'        
                             THEN ISNULL(Dispatch.Vat, 0)        
                             ELSE '0'        
                        END AS CST ,        
                        ISNULL(SUM(Dispatch.TotalWeight), 0) AS TotalWeight ,        
                        Dispatch.SoldAgainstForm ,                                   
                        ISNULL(Dispatch.ExpDisAmount, 0) AS DisAmount ,        
                        ISNULL(Dispatch.IncoTerms,'') AS IncoTerms ,        
                        ISNULL(Dispatch.CurrencyMultiplier, 0) AS CurrencyMultiplier ,						
                        Dispatch.dispatchdate  ,
						sum(ISNULL((Dispatch.DispatchQty), 0)) + sum(isnull(Dispatch.ItemRequiredQty,0)) + isnull(ServiceQty,0)  AS TotalQty,
						DispatchSlipNo
   ---+ sum(isnull(DispatchServiceItemTrans.Qty,0)) AS TotalQty
                FROM    [Data:DispatchData] as Dispatch		
				 LEFT  JOIN ( SELECT SUM(ISNULL(Qty, 0)) as ServiceQty,
									DispatchId
								FROM DispatchServiceItemTrans 
								WHERE  DispatchServiceItemTrans.IsDeleted = 0 
								AND DispatchServiceItemTrans.QtyAddtoInvoice = 1
								group by DispatchId )  as servicedetails on Dispatch.DispatchID = servicedetails.DispatchId
                WHERE   ( Dispatch.IsInvoice = 'INVOICE' )        
                        AND ( Dispatch.IsExport = @IsExport )                               
                        AND ( @CustomerID IS NULL        
                              OR Dispatch.CustomerID = @CustomerID        
                            )        
                        AND ( @InvoiceNo IS NULL        
                              OR Dispatch.RefInvNo = @InvoiceNo        
                            )        
                        AND ( @Dispatchid =0        
                              OR Dispatch.DispatchID = @Dispatchid        
                            )                                    
                        AND ( (
                       -- (@ps_PageName = 'CustomerOrder' Or @ps_PageName = 'DELIVERYCHALLAN') and
                        ( @CastingID IS NULL        
                                                  OR Dispatch.DispatchID IN (        
                                                  SELECT DISTINCT        
                                                        DispatchID        
                                              FROM      DispatchTrans  
											    inner join CastingMaster on CastingMaster.CastingId = DispatchTrans.PartId 
                                              WHERE     ( ParentID = @CastingID or castingmaster.castingid = @castingid)
                                                            AND DispatchTrans.IsDeleted = 0 ))        
                                                )        
						AND  ((@PurchaseItemId IS NULL        
								   OR Dispatch.DispatchID IN (        
								   SELECT DISTINCT        
									DispatchID        
														 FROM      DispatchTrans        
								   WHERE     PurchaseItemID = @PurchaseItemId        
									AND IsDeleted = 0 )        
								 )) )               
                     AND ((
                     --(@ps_PageName = 'CustomerOrder' Or @ps_PageName = 'DELIVERYCHALLAN')and 
                     (@CastingName IS NULL        
                                          OR Dispatch.DispatchID IN (        
                                          SELECT DISTINCT        
                                                DispatchID        
                                      FROM      DispatchTrans
									    inner join CastingMaster on CastingMaster.CastingId = DispatchTrans.PartId 
												  inner Join castingMaster pm on pm.CastingId = isnull(castingMaster.Parentid,castingMaster.castingId)
												 
									 WHERE      (castingMaster.castingName= @CastingName or pm.castingName= @CastingName )      
                                                    AND DispatchTrans.IsDeleted = 0 ))        
                                        )        
								AND ( (@ItemName IS NULL        
								   OR Dispatch.DispatchID IN (        
								   SELECT DISTINCT        
								   DispatchID        
								FROM  DispatchTrans ,        
								   PurchaseItemMaster        
							  WHERE     PurchaseItemMaster.PurchaseItemId = DispatchTrans.PurchaseItemID        
										AND PurchaseItemMaster.ItemName = @ItemName        
										AND DispatchTrans.IsDeleted = 0 ))        
									)    )    
						        
                    AND ( @DispatchDateFrom IS NULL        
                              OR @DispatchDateTo IS NULL        
                              OR Dispatch.DispatchDate BETWEEN @DispatchDateFrom        
                                                             AND        
                                                              @DispatchDateTo        
                            )        
                        AND ( @ChallanNo IS NULL        
                              OR Dispatch.ChallanNo = @ChallanNo        
                            )        
                        AND ( @SeriesId = 0        
                              OR Dispatch.SeriesId = @SeriesId        
                            )        
                        AND Dispatch.EntityID = @EntityId        
                        AND (@PlantIdString IS NULL         
						  OR @PlantIdString = ''        
						  OR Dispatch.PlantID IN (        
						   SELECT Item FROM @Plant )        
						  )   
		AND ( (@ps_PageName = 'CustomerOrder' and (TypeOfVoucher = 0 Or  TypeOfVoucher = 3) )
		
		OR (@ps_PageName = 'TransferToMachineShopDept' And TypeOfVoucher=1)
		Or (@ps_PageName = 'DELIVERYCHALLAN' and TypeOfVoucher = 2)
		OR (@ps_PageName = 'StockTransfer' and  IsnuLL(TypeOfVoucher,0) = 5)
		)     
         
       --AND ( (((@ps_PageName = 'CustomerOrder'  and TypeOfVoucher = 0) or (@ps_PageName = 'DELIVERYCHALLAN' and TypeOfVoucher = 2)) 
       --and Dispatch.Dispatchid          
       --    in (SElect dispatchid from dispatchtrans where CastingId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)        
       --     UNION ALL (SELECT DispatchID from DispatchSetItemTrans where IsDeleted = 0)        
       --     UNION ALL (SELECT Dispatchid from DispatchServiceItemTrans where IsDeleted = 0)))        
       --   Or (@ps_PageName = 'RawMaterial' and Dispatch.Dispatchid in        
       --    (SElect dispatchid from dispatchtrans where PurchaseItemId is not null Or         
       --                PurchaseItemId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)))        
       --   ) 
          And( isnull(@CondOfSupply,0) = 0 Or Dispatch.DispatchID 
				In (Select dispatchtrans.dispatchid from dispatchtrans
					Inner Join OrderTranse on OrderTranse.CustomerOrderId = dispatchtrans.orderid 
								and OrderTranse.CastingId = dispatchtrans.castingid
								and OrderTranse.SrNo = dispatchtrans.orderserialno
					Where dispatchtrans.IsDeleted = 0 and OrderTranse.IsDeleted = 0 
					and OrderTranse.CondOfSupply= @CondOfSupply
								)
				)    
				 AND ((@Isporfoma =1 AND  Dispatch.isProforma = 1 )
											 OR (@Isporfoma =0 AND  Dispatch.isProforma = 0)
											 )	   
                GROUP BY 
						Dispatch.InvoiceNo ,        
                        Dispatch.EntryNo ,        
                        Dispatch.customerID ,        
                        Dispatch.GrossAmount ,        
                        Dispatch.TotalAmount ,        
                        Dispatch.DispatchID ,        
                        Dispatch.CustomerName ,        
                        Dispatch.CustomerCode ,        
                        Dispatch.dispatchdate ,        
                        Dispatch.GrossAmountInCurrency ,        
                        Dispatch.totalAmountInCurrency ,        
                        Dispatch.Symbol ,        
                      --  Dispatch.PfCharges ,        
						Dispatch.Excise ,        
                        Dispatch.PatternExcise ,        
                        Dispatch.EduCess ,        
                        Dispatch.HighEduCess ,        
                        Dispatch.Carting ,        
                        Dispatch.Vat ,        
                        Dispatch.AddVat ,        
                        Dispatch.AddDutyAmount ,        
                        Dispatch.InvoiceType ,        
                        Dispatch.SoldAgainstForm ,        
                      --  payamount.PaymentAmount ,        
                        Dispatch.ExpDisAmount ,        
                        --Dispatch.prefix ,        
                        --Dispatch.Suffix ,        
                        --Dispatch.Separator ,        
                        Dispatch.IncoTerms ,        
                        Dispatch.CurrencyMultiplier ,
						ServiceQty,
						DispatchSlipNo
						
                                
        
    ) as a        
                ORDER BY a.dispatchDate desc        
              --  ORDER BY dispatchmaster.DispatchID        
              
              
              
      -- Charges detail with dispatch        
              
                SELECT  dispatchmaster.DispatchID ,        
                        CASE WHEN LedgerMaster.ChargeId IS NULL        
                             THEN CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)        
                     ELSE LedgerMaster.ChargeId        
                        END AS ChargeId ,        
                        LedgerMaster.ChargeName ,        
                        CASE WHEN @IsExport = 0        
       THEN ISNULL(DispatchOtherCharges.ChargeAmount, 0)        
       ELSE ISNULL(ChargeAmountInCurrency, 0) END AS ChargeAmount ,        
                        DispatchOtherCharges.SrNo AS ChargeSrNo        
                FROM    dispatchmaster        
                        LEFT JOIN DispatchOtherCharges ON DispatchOtherCharges.DispatchId = dispatchmaster.DispatchID        
                        LEFT JOIN LedgerMaster ON LedgerMaster.ChargeID = DispatchOtherCharges.ChargeId        
                WHERE   ( dispatchmaster.IsInvoice = 'INVOICE' )        
                        AND ( dispatchmaster.IsExport = @IsExport )        
                        AND ( dispatchmaster.IsDeleted = 0 )        
                        AND ( @CustomerID IS NULL        
                              OR DispatchMaster.CustomerID = @CustomerID        
                            )        
                        AND ( @InvoiceNo IS NULL        
 OR RefInvNo = @InvoiceNo        
                            )        
                        AND ( @Dispatchid = 0        
                              OR dispatchmaster.DispatchID = @Dispatchid        
                            )        
                        --AND ( @CastingID IS NULL        
                        --      OR dispatchmaster.DispatchID IN (        
                        --      SELECT DISTINCT        
                        --                DispatchID        
                        --      FROM      DispatchTrans        
                        --      WHERE     CastingiD = @CastingID )        
                        --    )        
                        --AND ( @CastingName IS NULL        
                        --      OR dispatchmaster.DispatchID IN (        
                        --      SELECT DISTINCT        
                        --                DispatchID        
                        --      FROM      DispatchTrans        
                        --                INNER JOIN CastingMaster ON CastingMaster.CastingID = DispatchTrans.CastingID        
                        --      WHERE CastingName = @CastingName )        
                        --    )        
                        AND  (@ps_PageName = 'CustomerOrder' and( @CastingID IS NULL        
                  OR dispatchmaster.DispatchID IN (        
                                                  SELECT DISTINCT        
                                                        DispatchID        
                                              FROM      DispatchTrans  
											    inner join CastingMaster on CastingMaster.CastingId = DispatchTrans.PartId 
                                              WHERE      isnull(ParentID,CastingMaster.CastingId ) = @CastingID        
                                                            AND DispatchTrans.IsDeleted = 0 ))        
                                                )        
            OR  (@ps_PageName = 'CustomerOrder' and (@PurchaseItemId IS NULL        
               OR dispatchmaster.DispatchID IN (        
               SELECT DISTINCT        
                DispatchID        
                                              FROM      DispatchTrans        
               WHERE     PurchaseItemID = @PurchaseItemId        
                AND IsDeleted = 0 )        
             ))        
                                                       
            AND ((@ps_PageName = 'CustomerOrder' and (@CastingName IS NULL        
                      OR dispatchmaster.DispatchID IN (        
                      SELECT DISTINCT        
                                                DispatchID        
                                      FROM      DispatchTrans
									    inner join CastingMaster on CastingMaster.CastingId = DispatchTrans.PartId 
												  inner Join castingMaster pm on pm.CastingId = isnull(castingMaster.Parentid,castingMaster.castingId)
												 
									 WHERE      (castingMaster.castingName= @CastingName or pm.castingName= @CastingName )      
                                                    AND DispatchTrans.IsDeleted = 0 ))        
			)        
            OR (@ps_PageName = 'CustomerOrder' and (@ItemName IS NULL        
               OR dispatchmaster.DispatchID IN (        
               SELECT DISTINCT        
               DispatchID        
            FROM  DispatchTrans ,        
               PurchaseItemMaster        
              WHERE     PurchaseItemMaster.PurchaseItemId = DispatchTrans.PurchaseItemID        
                        AND PurchaseItemMaster.ItemName = @ItemName        
                        AND DispatchTrans.IsDeleted = 0 ))        
             )  )      
                    
                        AND ( @DispatchDateFrom IS NULL        
                              OR @DispatchDateTo IS NULL        
                              OR DispatchMaster.DispatchDate BETWEEN @DispatchDateFrom        
                                                             AND        
                                                              @DispatchDateTo        
 )        
                        AND ( @ChallanNo IS NULL        
                              OR ChallanNo = @ChallanNo        
                            )        
                        AND ( @SeriesId = 0        
                              OR SeriesId = @SeriesId        
                            )        
                            AND (@PlantIdString IS NULL         
       OR @PlantIdString = ''        
       OR DispatchMaster.PlantID IN (        
        SELECT Item FROM @Plant )        
       )        
       --AND ( (@ps_PageName = 'CustomerOrder' and Dispatchmaster.Dispatchid          
       -- in (SElect dispatchid from dispatchtrans where CastingId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)))        
       --Or (@ps_PageName = 'RawMaterial' and Dispatchmaster.Dispatchid in        
       -- (SElect dispatchid from dispatchtrans where PurchaseItemId is not null Or         
       --             PurchaseItemId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)))        
       --)        
  --     AND ( (@ps_PageName = 'CustomerOrder' and Dispatchmaster.Dispatchid          
  --in (SElect dispatchid from dispatchtrans where CastingId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)        
  --          UNION ALL (SELECT DispatchID from DispatchSetItemTrans where IsDeleted = 0)        
  --          UNION ALL (SELECT Dispatchid from DispatchServiceItemTrans where IsDeleted = 0)))        
  --        Or (@ps_PageName = 'RawMaterial' and Dispatchmaster.Dispatchid in        
  --         (SElect dispatchid from dispatchtrans where PurchaseItemId is not null Or         
  --                     PurchaseItemId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)))        
  --        )       
		AND ( (@ps_PageName = 'CustomerOrder' and (TypeOfVoucher = 0 or TypeOfVoucher = 3 )
				OR (@ps_PageName = 'StockTransfer' and  IsnuLL(TypeOfVoucher,0) = 5))
			
			--OR (@ps_PageName = 'TransferToMachineShopDept' And DispatchMaster.TypeOfVoucher=1)
			--Or (@ps_PageName = 'DELIVERYCHALLAN' and dispatchmaster.TypeOfVoucher = 2)
			)
       And dispatchmaster.entityid = @EntityId   
        AND ((@Isporfoma =1 AND  DispatchMaster.isProforma = 1 )
											 OR (@Isporfoma =0 AND  DispatchMaster.isProforma = 0)
											 )	
END
GO
