USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PackingDetails_FromDispatchAdvice]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[PackingDetails_FromDispatchAdvice]
@DispatchAdviceId uniqueidentifier = null
AS
BEGIN
	
select
Distinct
DispatchAdviceTrans.CastingID,
CastingMaster.CastingName,
DispatchAdviceTrans.Quantity as Quantity,
OrderTranse.MetalID,
OrderTranse.CustomerOrderId as CustomerOrderId,
DispatchAdviceTrans.CastingWeight as [Weight],
CASE WHEN ISNULL(TabPack.DispatchAdviceId,CAST(0x0 AS UNIQUEIDENTIFIER)) <> CAST(0x0 AS UNIQUEIDENTIFIER) THEN 1 ELSE 0 END IsExist,
OrderTranse.srno as orderserialno,
OrderTranse.OrderTranseId,
'' as MarksPackage,
'' as PackageNoandKind,
CAST(0 as Float) as GrossWeight,
MetalMaster.MetalName,CastingCode
from
DispatchAdviceTrans
inner join OrderTranse ON OrderTranse.OrderTranseId = DispatchAdviceTrans.OrderTransId 
and OrderTranse.PartId = DispatchAdviceTrans.CastingId 
--and OrderTranse.SrNo = DispatchAdviceTrans.SrNo 
inner join CastingMaster ON CastingMaster.CastingId = DispatchAdviceTrans.castingid
inner join MetalMaster ON MetalMaster.MetalId = OrderTranse.MetalID 
--inner join DispatchGradewise ON DispatchGradewise.DispatchTransID = dispatchtrans.dispatchtransid
left join
(
Select
top 1 DispatchAdviceId
from  
DispatchAdvicePackingDetail where DispatchAdvicePackingDetail.DispatchAdviceId = @DispatchAdviceId 
) as TabPack ON TabPack.DispatchAdviceId = DispatchAdviceTrans.DispatchAdviceId
where
DispatchAdviceTrans.DispatchAdviceId = @DispatchAdviceId
and
OrderTranse.IsDeleted = 0
and DispatchAdviceTrans.IsDeleted = 0


END


GO
