USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PayrollSummaryReport]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[PayrollSummaryReport] 
	@DateFrom Datetime= null  ,
	@DateTo Datetime = null ,
	@EntityId int =0 ,
	@EmployeeId int = 0 ,
	@Parameter INT = 0 ,
	@CommonDataTypeId int = 0,
	@CommonDataGroupId int = 0

AS
BEGIN
IF(@Parameter = 0)
BEGIN
		SELECT *  
			INTO  #TempTable 
			 FROM (
		select 1 as num, 'Earning' as GroupName, EarningMaster.EarningTypeName ,ISNULL( SUM(PayOutAllowance.Amount),0)  as GrossPay ,
		--SrNo 
		--case when EarningTypeName = 'ARREARS'
		--then  999999
		--else SrNo end as SrNo 
		case when EarningTypeName = 'ARREARS'
		then  999999
		else EarningSequence end as SrNo 
		from PayOutMaster
		inner join PayOutAllowance on  PayOutAllowance.PayOutId = PayOutMaster.PayOutId  
		inner join EarningMaster on  EarningMaster.EarningId = PayOutAllowance.AllowanceId and EarningMaster.IsDeleted = 0 
		 left join EmployeeDetails  on  EmployeeDetails.EmployeeId = PayOutAllowance.EmployeeId  
		 where IsEarning = 1 and PayOutMaster.IsDeleted = 0  and  PayOutMaster.EntityId = @EntityId
		   and PayOutMonth between @DateFrom and @DateTo and   (@EmployeeId = 0 or PayOutAllowance.EmployeeId= @EmployeeId)
		   	and    ( @CommonDataTypeId = 0 
						  OR EmployeeDetails.TypeofEmployeeId = @CommonDataTypeId
						)
             	and    ( @CommonDataGroupId = 0 
						  or EmployeeDetails.EmployeeGroupId = @CommonDataGroupId
						) 
			--	and EmployeeType= 1					

		 group by EarningTypeName,--SrNo 
				EarningSequence
				
		 union  
		 select 2 as num,  'Benefits' as GroupName, EarningTypeName,ISNULL( ( ISNULL(EmpDeductionAmount,0)+ISNULL(EmployerDeductionAmount,0)),0) as GrossPay ,SrNo  
		 from(
		 Select earningmaster.EarningTypeName, sum(EmpDeductionAmount)EmpDeductionAmount , sum(EmployerDeductionAmount)EmployerDeductionAmount ,SrNo  
		  from PayOutDeduction inner join PayOutMaster on PayOutDeduction.payoutid = PayOutMaster.PayOutId 
		  inner  join EarningMaster on EarningMaster.EarningId = PayOutDeduction.TaxId and TaxesType   IN (3,5,6,4,7)
		   left join EmployeeDetails  on  EmployeeDetails.EmployeeId = PayOutDeduction.EmployeeId  
		  --and IsSysGenerated = 1 and DeductionType = 0 or ( TaxesType=7  and TaxesType <> 2)
		  where    PayOutMaster.EntityId = @EntityId and PayOutMaster.IsDeleted = 0 
		   and PayOutMonth between @DateFrom and @DateTo  and   (@EmployeeId = 0 or PayOutDeduction.EmployeeId= @EmployeeId) 
		   	and    ( @CommonDataTypeId = 0 
						  OR EmployeeDetails.TypeofEmployeeId = @CommonDataTypeId
						)
             	and    ( @CommonDataGroupId = 0 
						  or EmployeeDetails.EmployeeGroupId = @CommonDataGroupId
						) 
					--	and EmployeeType= 1						

		 group by EarningTypeName ,SrNo  
		 ) as temp 
		 union 
		 select 3 as num, 'Other Deduction' as GroupName, EarningTypeName,ISNULL( ( ISNULL(EmpDeductionAmount,0)+ISNULL(EmployerDeductionAmount,0)),0) as GrossPay ,SrNo  
		 from(
		 Select earningmaster.EarningTypeName, sum(EmpDeductionAmount)EmpDeductionAmount , sum(EmployerDeductionAmount)EmployerDeductionAmount ,SrNo  
		  from PayOutDeduction inner join PayOutMaster on PayOutDeduction.payoutid = PayOutMaster.PayOutId 
		  inner  join EarningMaster on EarningMaster.EarningId = PayOutDeduction.TaxId and IsSysGenerated = 0
		  left join EmployeeDetails  on  EmployeeDetails.EmployeeId = PayOutDeduction.EmployeeId 
		   where   PayOutMaster.EntityId = @EntityId and PayOutMaster.IsDeleted = 0 
		   and PayOutMonth between @DateFrom and @DateTo  and   (@EmployeeId = 0 or PayOutDeduction.EmployeeId= @EmployeeId)
		   	and    ( @CommonDataTypeId = 0 
						  OR EmployeeDetails.TypeofEmployeeId = @CommonDataTypeId
						)
             	and    ( @CommonDataGroupId = 0 
						  or EmployeeDetails.EmployeeGroupId = @CommonDataGroupId
						) 
					--	and EmployeeType= 1						
 
		 group by EarningTypeName ,SrNo  
		 ) as temp 
		 union 
		 select 4 as num, 'Taxes' as GroupName, EarningTypeName,ISNULL( ( ISNULL(EmpDeductionAmount,0)+ISNULL(EmployerDeductionAmount,0)),0)  as GrossPay ,SrNo  
		 from(
		 Select earningmaster.EarningTypeName, sum(EmpDeductionAmount)EmpDeductionAmount , sum(EmployerDeductionAmount)EmployerDeductionAmount ,SrNo  
		  from PayOutDeduction inner join PayOutMaster on PayOutDeduction.payoutid = PayOutMaster.PayOutId 
		  inner  join EarningMaster on EarningMaster.EarningId = PayOutDeduction.TaxId and TaxesType   IN (1,2,8,9)
		  left join EmployeeDetails  on  EmployeeDetails.EmployeeId = PayOutDeduction.EmployeeId 
		  
		   where    PayOutMaster.EntityId = @EntityId and PayOutMaster.IsDeleted = 0 
		   and PayOutMonth between @DateFrom and @DateTo  and   (@EmployeeId = 0 or PayOutDeduction.EmployeeId= @EmployeeId) 
		   	and    ( @CommonDataTypeId = 0 
						  OR EmployeeDetails.TypeofEmployeeId = @CommonDataTypeId
						)
             	and    ( @CommonDataGroupId = 0 
						  or EmployeeDetails.EmployeeGroupId = @CommonDataGroupId
						) 
					--	and EmployeeType= 1						

		 group by EarningTypeName ,SrNo  
		 ) as temp 
		 )as temp  order by num,srno
		 
		 select * FROM #TempTable-- order by num asc  
		  
		  drop table #TempTable
		  select isnull(SUM(NetPay),0) as TotalNetPay  from PayOutMaster
	inner join payouttrans on payouttrans.PayOutId = PayOutMaster.PayOutId   
	 left join EmployeeDetails  on  EmployeeDetails.EmployeeId = payouttrans.EmployeeId   
	  where    PayOutMaster.EntityId = @EntityId and PayOutMaster.IsDeleted = 0 
		   and PayOutMonth between @DateFrom and @DateTo  and   (@EmployeeId = 0 or payouttrans.EmployeeId= @EmployeeId) 
		   	and    ( @CommonDataTypeId = 0 
						  OR EmployeeDetails.TypeofEmployeeId = @CommonDataTypeId
						)
             	and    ( @CommonDataGroupId = 0 
						  or EmployeeDetails.EmployeeGroupId = @CommonDataGroupId
						) 
						--and EmployeeType= 1						

END
IF(@Parameter = 1)
BEGIN
		SELECT *  
			INTO  #TempTable1 
			 FROM (
		select 1 as num, 'Earning' as GroupName,  CAST(DATENAME(MONTH, PayOutMonth) AS CHAR(3)) + '-' + CONVERT(VARCHAR(4),YEAR(PayOutMonth)) AS MonthYear, 
		EarningMaster.EarningTypeName ,ISNULL( SUM(PayOutAllowance.Amount),0)  as GrossPay ,
		--SrNo  ,
		case when EarningTypeName = 'ARREARS'
		then  999999
		else SrNo end as SrNo,	
		PayOutMonth
		
			from PayOutMaster
		inner join PayOutAllowance on  PayOutAllowance.PayOutId = PayOutMaster.PayOutId  
		inner join EarningMaster on  EarningMaster.EarningId = PayOutAllowance.AllowanceId and EarningMaster.IsDeleted = 0 
		 left join EmployeeDetails  on  EmployeeDetails.EmployeeId = PayOutAllowance.EmployeeId  
		 where IsEarning = 1 and PayOutMaster.IsDeleted = 0  and  PayOutMaster.EntityId = @EntityId
		   and PayOutMonth between @DateFrom and @DateTo and   (@EmployeeId = 0 or PayOutAllowance.EmployeeId= @EmployeeId)
		   	and    ( @CommonDataTypeId = 0 
						  OR EmployeeDetails.TypeofEmployeeId = @CommonDataTypeId
						)
             	and    ( @CommonDataGroupId = 0 
						  or EmployeeDetails.EmployeeGroupId = @CommonDataGroupId
						) 
				--		and EmployeeType= 1					

		 group by EarningTypeName,SrNo ,PayOutMonth
				
		 union  
		 select 2 as num,  'Benefits' as GroupName,   CAST(DATENAME(MONTH, PayOutMonth) AS CHAR(3)) + '-' + CONVERT(VARCHAR(4),YEAR(PayOutMonth)) AS MonthYear,
		 EarningTypeName,ISNULL( ( ISNULL(EmpDeductionAmount,0) ),0) as GrossPay ,SrNo  ,PayOutMonth
		 from(
		 Select earningmaster.EarningTypeName, sum(EmpDeductionAmount)EmpDeductionAmount , sum(EmployerDeductionAmount)EmployerDeductionAmount ,SrNo  ,PayOutMonth
		  from PayOutDeduction inner join PayOutMaster on PayOutDeduction.payoutid = PayOutMaster.PayOutId 
		  inner  join EarningMaster on EarningMaster.EarningId = PayOutDeduction.TaxId and TaxesType   IN (3,5,6,4,7)
		    left join EmployeeDetails  on  EmployeeDetails.EmployeeId = PayOutDeduction.EmployeeId  
		  
		  where    PayOutMaster.EntityId = @EntityId and PayOutMaster.IsDeleted = 0 
		   and PayOutMonth between @DateFrom and @DateTo  and   (@EmployeeId = 0 or PayOutDeduction.EmployeeId= @EmployeeId) 
		   	and    ( @CommonDataTypeId = 0 
						  OR EmployeeDetails.TypeofEmployeeId = @CommonDataTypeId
						)
             	and    ( @CommonDataGroupId = 0 
						  or EmployeeDetails.EmployeeGroupId = @CommonDataGroupId
						) 
						--and EmployeeType= 1						

		 group by EarningTypeName ,SrNo  ,PayOutMonth
		 ) as temp 
		 union 
		 select 3 as num, 'Other Deduction' as GroupName,  CAST(DATENAME(MONTH, PayOutMonth) AS CHAR(3)) + '-' + CONVERT(VARCHAR(4),YEAR(PayOutMonth)) AS MonthYear,
		  EarningTypeName,ISNULL( ( ISNULL(EmpDeductionAmount,0)+ISNULL(EmployerDeductionAmount,0)),0) as GrossPay ,SrNo  ,PayOutMonth
		 from(
		 Select earningmaster.EarningTypeName, sum(EmpDeductionAmount)EmpDeductionAmount , sum(EmployerDeductionAmount)EmployerDeductionAmount ,SrNo  ,PayOutMonth
		  from PayOutDeduction inner join PayOutMaster on PayOutDeduction.payoutid = PayOutMaster.PayOutId 
		  inner  join EarningMaster on EarningMaster.EarningId = PayOutDeduction.TaxId and IsSysGenerated = 0 --and DeductionType = 0 
		   left join EmployeeDetails  on  EmployeeDetails.EmployeeId = PayOutDeduction.EmployeeId  
		   where    PayOutMaster.EntityId = @EntityId and PayOutMaster.IsDeleted = 0 
		   and PayOutMonth between @DateFrom and @DateTo  and   (@EmployeeId = 0 or PayOutDeduction.EmployeeId= @EmployeeId) 
		   	and    ( @CommonDataTypeId = 0 
						  OR EmployeeDetails.TypeofEmployeeId = @CommonDataTypeId
						)
             	and    ( @CommonDataGroupId = 0 
						  or EmployeeDetails.EmployeeGroupId = @CommonDataGroupId
						) 
						--and EmployeeType= 1
					

		 group by EarningTypeName ,SrNo  ,PayOutMonth
		 ) as temp 
		 union 
		 select 4 as num, 'Taxes' as GroupName,   CAST(DATENAME(MONTH, PayOutMonth) AS CHAR(3)) + '-' + CONVERT(VARCHAR(4),YEAR(PayOutMonth)) AS MonthYear,
		 EarningTypeName,ISNULL( ( ISNULL(EmpDeductionAmount,0)+ISNULL(EmployerDeductionAmount,0)),0)  as GrossPay ,SrNo  ,PayOutMonth
		 from(
		 Select earningmaster.EarningTypeName, sum(EmpDeductionAmount)EmpDeductionAmount , sum(EmployerDeductionAmount)EmployerDeductionAmount ,SrNo ,PayOutMonth 
		  from PayOutDeduction inner join PayOutMaster on PayOutDeduction.payoutid = PayOutMaster.PayOutId 
		  inner  join EarningMaster on EarningMaster.EarningId = PayOutDeduction.TaxId and TaxesType   IN (1,2,8,9)
		   left join EmployeeDetails  on  EmployeeDetails.EmployeeId = PayOutDeduction.EmployeeId  
		  --and IsSysGenerated = 1  and DeductionType in (1,2,8,9) 
		   where    PayOutMaster.EntityId = @EntityId and PayOutMaster.IsDeleted = 0 
		   and PayOutMonth between @DateFrom and @DateTo   and   (@EmployeeId = 0 or PayOutDeduction.EmployeeId= @EmployeeId) 
		   	and    ( @CommonDataTypeId = 0 
						  OR EmployeeDetails.TypeofEmployeeId = @CommonDataTypeId
						)
             	and    ( @CommonDataGroupId = 0 
						  or EmployeeDetails.EmployeeGroupId = @CommonDataGroupId
						) 
					--	and EmployeeType= 1
						

		 group by EarningTypeName ,SrNo ,PayOutMonth 
		 ) as temp 
		 )as temp  order by num,srno
		 
		 select * FROM #TempTable1-- order by num asc 
		
		drop table #TempTable1
		 select isnull(SUM(NetPay),0) as TotalNetPay ,   CAST(DATENAME(MONTH, PayOutMonth) AS CHAR(3)) + '-' + CONVERT(VARCHAR(4),YEAR(PayOutMonth)) AS MonthYear
		  from PayOutMaster
	inner join payouttrans on payouttrans.PayOutId = PayOutMaster.PayOutId 
	 left join EmployeeDetails  on  EmployeeDetails.EmployeeId = payouttrans.EmployeeId  
	  where    PayOutMaster.EntityId = @EntityId and PayOutMaster.IsDeleted = 0 
		   and PayOutMonth between @DateFrom and @DateTo  and   (@EmployeeId = 0 or payouttrans.EmployeeId= @EmployeeId)
		   	and    ( @CommonDataTypeId = 0 
						  OR EmployeeDetails.TypeofEmployeeId = @CommonDataTypeId
						)
             	and    ( @CommonDataGroupId = 0 
						  or EmployeeDetails.EmployeeGroupId = @CommonDataGroupId
						) 
					--	and EmployeeType= 1						
 
		    group by  PayOutMonth 
		   
END   
 
END




GO
