USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PaymentReceipt]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PaymentReceipt]
    @Parameter INT = 0 ,
    @DispatchID BIGINT = 0 ,
    @EntryNo VARCHAR(20) = NULL ,
    @receiptNo BIGINT = 0 ,
    @receiptDate DATE = NULL ,
    @paymentAmount FLOAT = 0 ,
    @RefNo VARCHAR(50) = NULL ,
    @userid INT = 0 ,
    @PageNumber INT = 0 ,
    @PageSize INT = 0 ,
    @InitialLoad INT = 0 ,
    @TotalRecords INT = 0 ,
    @InvoiceNo VARCHAR(100) = NULL ,
    @ReceiptId UNIQUEIDENTIFIER = NULL ,
    @CustomerId UNIQUEIDENTIFIER = NULL ,
    @InvoiceDetail AS XML = NULL ,
    @BankId UNIQUEIDENTIFIER = NULL ,
    @PaymentTypeId UNIQUEIDENTIFIER = NULL ,
    @BankName VARCHAR(20) = NULL ,
    @PaymentTypeName VARCHAR(20) = NULL ,
    @ChequeDate DATETIME = NULL ,
    @TransactionNo VARCHAR(50) = NULL ,
    @TotalAMount FLOAT = 0 ,
    @Remark VARCHAR(MAX) = NULL ,
    @StartDate DATETIME = NULL ,
    @IfActive BIT = 0 ,
    @EndDate DATETIME = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
    BEGIN
    
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
        IF @Parameter = 1
            BEGIN 
                SELECT  DispatchId, DispatchslipNo
                FROM    dispatchmaster
                WHERE   dispatchmaster.IsDeleted = 0   
						AND (@PlantIdString IS NULL OR @PlantIdString = ''
							  OR dispatchmaster.PlantId in (SELECT Item FROM @Plant )
						) AND EntityID = @EntityID
            END	
            
        IF @Parameter = 2
            BEGIN 
                SELECT  CONVERT(VARCHAR(15), dispatchdate, 106) AS Invoicedate ,
                        dispatchmaster.customerID ,
                        CustomerName ,
                        dispatchmaster.TotalAmount AS BilledAmount ,
                        ISNULL(PaymentRecepitTrans.Amount, 0) AS ReceivedAmount ,
                        ( TotalAmount - ISNULL(PaymentRecepitTrans.Amount, 0) ) AS DueAmount
                FROM    dispatchmaster
                        INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
                        LEFT JOIN ( SELECT  DispatchID ,
                                            SUM(paymentAmount) AS Amount
                                    FROM    PaymentRecepitTrans
                                    WHERE   DispatchID = @DispatchID
                                    GROUP BY dispatchid
                                  ) AS PaymentRecepitTrans ON PaymentRecepitTrans.DispatchiD = dispatchmaster.DispatchID
                WHERE   dispatchmaster.IsDeleted = 0
                        AND dispatchmaster.DispatchID = @DispatchID
            END	
            
        IF @Parameter = 3
            BEGIN 
            BEGIN TRANSACTION
		BEGIN TRY
                SET @ReceiptId = NEWID()
                INSERT  INTO PaymentReceiptMaster
                        ( ReceiptID ,
                          EntryNo ,
                          ReceiptNo ,
                          ReceiptDate ,
                          CustomerId ,
                          TransactionNo ,
                          ChequeDate ,
                          BankID ,
                          PaymentTypeID ,
                          TotalAmount ,
                          Remarks ,
                          CreatedBy ,
                          CreatedOn ,
                          IsDeleted,
                          EntityId
				        )
                VALUES  ( @ReceiptId ,
                          @EntryNo ,
                          @receiptNo ,
                          @receiptDate ,
                          @CustomerId ,
                          @TransactionNo ,
                          @ChequeDate ,
                          @BankId ,
                          @PaymentTypeId ,
                          @TotalAMount ,
                          @Remark ,
                          @userid ,
                          GETDATE() ,
                          0,
                          @EntityId
				        )
               
                
                DECLARE PaymentTrans CURSOR
                FOR
					SELECT  Node.value('(DispatchID )[1]', 'int') AS 'DispatchID' ,
                            Node.value('(paymentAmount )[1]', 'float') AS 'paymentAmount'
                    FROM    @InvoiceDetail.nodes('/DocumentElement/InvoiceDetail')
                            AS TEMPXML ( Node )
                 OPEN PaymentTrans;
            
                FETCH NEXT FROM PaymentTrans INTO @DispatchId,@paymentAmount
                WHILE ( @@FETCH_STATUS = 0 )
                BEGIN 
                    
                INSERT  INTO PaymentRecepitTrans
                        ( ReceptTransId ,
                          ReceiptID ,
                          DispatchID ,
                          PaymentAmount                          
                        )
				values( NEWID() ,
                        @ReceiptId ,
                        @DispatchID ,
                        @paymentAmount
                       )
									      

				Exec dbo.PaymentReceipt
					@Parameter = 13,
					@DispatchID = @DispatchID
					
						
                FETCH NEXT FROM PaymentTrans INTO @DispatchId,@paymentAmount
                END
                CLOSE PaymentTrans
                DEALLOCATE PaymentTrans;
                END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','PaymentTrans') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','PaymentTrans') > -1
				   BEGIN
					CLOSE PaymentTrans
				   END
				 DEALLOCATE PaymentTrans
				END	
			 return -1
			END	
        END Catch
		Commit TRANSACTION	
		return 1
            END	
            
            
        IF @Parameter = 4
            BEGIN
       
                SELECT DISTINCT
                        PaymentRecepitTrans.DispatchID ,
                        CASE WHEN DispatchMaster.Prefix IS NULL
                                                            OR DispatchMaster.Prefix = ''
                                                       THEN ''
                                                       ELSE CONVERT(VARCHAR(50), DispatchMaster.Prefix)
                                                            + CASE
                                                              WHEN DispatchMaster.Separator IS NULL
                                                              THEN ''
                                                              ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                              END
                                                  END
                                                  + CONVERT(VARCHAR(50), DispatchMaster.DispatchSlipNo)
                                                  + CASE WHEN DispatchMaster.Separator IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                    END
                                                  + CASE WHEN DispatchMaster.Suffix IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Suffix)
                                                    END as Dispatchslipno
                FROM	PaymentReceiptMaster
						INNER JOIN PaymentRecepitTrans ON PaymentReceiptMaster.ReceiptID = PaymentRecepitTrans.ReceiptID
                        INNER JOIN dispatchmaster ON dispatchmaster.DispatchID = PaymentRecepitTrans.DispatchID AND dispatchmaster.IsDeleted=0
                where (@PlantIdString IS NULL
						  OR @PlantIdString = ''
						  OR dispatchmaster.PlantId in (SELECT Item FROM @Plant
														)
						)   
						AND PaymentReceiptMaster.IsDeleted = 0   
						AND PaymentReceiptMaster.EntityID = @EntityID  
						AND ((@StartDate is null AND @EndDate is null) OR (cast(PaymentReceiptMaster.ReceiptDate as date) BETWEEN cast(@StartDate as date) AND cast(@EndDate as date)))
            END
        

        
        IF @parameter = 7
            BEGIN 
             
            BEGIN TRANSACTION
            BEGIN try
                UPDATE  PaymentReceiptMaster
                SET     IsDeleted = 1 ,
                        DeletedBy = @userid ,
                        DeletedOn = GETDATE()
                WHERE   ReceiptID = @ReceiptId
                
                DECLARE PaymentTrans CURSOR
                FOR
					Select	dispatchId 
					from	PaymentRecepitTrans 
					Where	ReceiptID = @ReceiptId
                OPEN PaymentTrans;
            
                FETCH NEXT FROM PaymentTrans INTO @DispatchId
                WHILE ( @@FETCH_STATUS = 0 )
                BEGIN 
                 
                DELETE  FROM PaymentRecepitTrans
                WHERE   ReceiptID = @ReceiptId and DispatchID = @DispatchID
                   
				Exec dbo.PaymentReceipt
					@Parameter = 13,
					@DispatchID = @DispatchID
					IF @@ERROR <> 0
						ROLLBACK TRANSACTION
						
                FETCH NEXT FROM PaymentTrans INTO @DispatchId
                END
                CLOSE PaymentTrans
                DEALLOCATE PaymentTrans;
                
                end try 
                  BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','PaymentTrans') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','PaymentTrans') > -1
				   BEGIN
					CLOSE PaymentTrans
				   END
				 DEALLOCATE PaymentTrans
				END	
			 return -1
			END	
        END Catch
		Commit TRANSACTION	
               	RETURN 1;
            END
        

        IF @Parameter = 8
            BEGIN
                SELECT  PaymentReceiptMaster.ReceiptID ,
                        PaymentReceiptMaster.EntryNo ,
                        ReceiptNo ,
                        ReceiptDate ,
                        PaymentReceiptMaster.CustomerId ,
                        CustomerName ,
                        TransactionNo ,
                        Chequedate ,
                        Bankid ,
                        PaymentTypeID ,
                        TotalAmount ,
                        Remarks,
                        (Select top 1 PlantID from dispatchmaster
								inner join PaymentRecepitTrans on PaymentRecepitTrans.DispatchID = dispatchmaster.DispatchID
								inner join PaymentReceiptMaster on PaymentReceiptMaster.ReceiptID = PaymentRecepitTrans.ReceiptID
						 where  PaymentReceiptMaster.ReceiptID = @ReceiptId
						 ) as PlantID
                FROM    PaymentReceiptMaster
                        INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = PaymentReceiptMaster.CustomerId
                WHERE   PaymentReceiptMaster.ReceiptID = @ReceiptId
                
              
            END      
        IF @Parameter = 9
            BEGIN
            BEGIN TRANSACTION
		BEGIN TRY
                UPDATE  PaymentReceiptMaster
                SET     ReceiptDate = @receiptDate ,
                        ModifiedBy = @userid ,
                        CustomerId = @CustomerId ,
                        TransactionNo = @TransactionNo ,
                        ChequeDate = @ChequeDate ,
                        BankID = @BankId ,
                        PaymentTypeID = @PaymentTypeId ,
                        TotalAmount = @TotalAMount ,
                        Remarks = @Remark ,
                        ModifiedOn = GETDATE() ,
                        IsDeleted = 0
                WHERE   ReceiptID = @ReceiptId
                          
                
                update dispatchmaster Set IsPaymentDone = 0
                from dispatchmaster 
                inner Join PaymentRecepitTrans on PaymentRecepitTrans.DispatchID = dispatchmaster.dispatchId
                 WHERE   ReceiptID = @ReceiptId 
                 
                DELETE  FROM PaymentRecepitTrans
                WHERE   ReceiptID = @ReceiptId 
                
                DECLARE PaymentTrans CURSOR
                FOR
					SELECT  Node.value('(DispatchID )[1]', 'int') AS 'DispatchID' ,
                            Node.value('(paymentAmount )[1]', 'float') AS 'paymentAmount'
                    FROM    @InvoiceDetail.nodes('/DocumentElement/InvoiceDetail')
                            AS TEMPXML ( Node )
                 OPEN PaymentTrans;
            
                FETCH NEXT FROM PaymentTrans INTO @DispatchId,@paymentAmount
                WHILE ( @@FETCH_STATUS = 0 )
                BEGIN 
                    
                INSERT  INTO PaymentRecepitTrans
                        ( ReceptTransId ,
                          ReceiptID ,
                          DispatchID ,
                          PaymentAmount                          
                        )
				values( NEWID() ,
                        @ReceiptId ,
                        @DispatchID ,
                        @paymentAmount
                       )
									       
             
				Exec dbo.PaymentReceipt
					@Parameter = 13,
					@DispatchID = @DispatchID
					
						
                FETCH NEXT FROM PaymentTrans INTO @DispatchId,@paymentAmount
                END
                CLOSE PaymentTrans
                DEALLOCATE PaymentTrans;
                END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','PaymentTrans') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','PaymentTrans') > -1
				   BEGIN
					CLOSE PaymentTrans
				   END
				 DEALLOCATE PaymentTrans
				END	
			 return -1 
			END	
        END Catch
		Commit TRANSACTION	
               return 1 
            END 

        IF @Parameter = 10
            BEGIN
                ----SELECT  dispatchmaster.DispatchID ,
                ----        DispatchslipNo
                ----FROM    dispatchmaster 
                ----WHERE   IsDeleted = 0 
                
                --SELECT  dispatchmaster.DispatchID ,
                --        DispatchslipNo
                --FROM    dispatchmaster
                --        LEFT JOIN ( SELECT  DispatchID ,
                --                            SUM(paymentAmount) AS Amount
                --                    FROM    PaymentRecepitTrans
                --                   -- WHERE   DispatchID = @DispatchID
                --                    GROUP BY dispatchid
                --                  ) AS PaymentRecepitTrans ON PaymentRecepitTrans.DispatchiD = dispatchmaster.DispatchID
                --WHERE   IsDeleted = 0
                --        AND Amount < TotalAmount
                --        AND customerID = @CustomerId
                IF NOT EXISTS ( SELECT  customerid
                                FROM    PaymentReceiptMaster
                                WHERE   customerid = @CustomerId )
                    BEGIN
                        SELECT  dispatchmaster.DispatchID ,
                                DispatchslipNo
                        FROM    dispatchmaster
                        WHERE   IsDeleted = 0
                                AND customerid = @CustomerId 
                    END
                ELSE
                    BEGIN
                        SELECT  dispatchmaster.DispatchID ,
                                DispatchslipNo
                        FROM    dispatchmaster
                                --LEFT JOIN ( SELECT  DispatchID ,
                                --                    SUM(paymentAmount) AS Amount
                                --            FROM    PaymentRecepitTrans
                                --   -- WHERE   DispatchID = @DispatchID
                                --            GROUP BY dispatchid
                                --          ) AS PaymentRecepitTrans ON PaymentRecepitTrans.DispatchiD = dispatchmaster.DispatchID
                        WHERE   IsDeleted = 0
                                and IsPaymentDone = 0
                                AND customerID = @CustomerId
                    END
            END 
            
        IF @Parameter = 11
            BEGIN
            
                SELECT  ROW_NUMBER() OVER ( ORDER BY PaymentRecepitTrans.DispatchID ASC ) AS SrNo ,
                        PaymentRecepitTrans.ReceptTransId ,
                        PaymentRecepitTrans.DispatchID ,
                        CASE WHEN DispatchMaster.Prefix IS NULL
                                                            OR DispatchMaster.Prefix = ''
                                                       THEN ''
                                                       ELSE CONVERT(VARCHAR(50), DispatchMaster.Prefix)
                                                            + CASE
                                                              WHEN DispatchMaster.Separator IS NULL
                                                              THEN ''
                                                              ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                              END
                                                  END
                                                  + CONVERT(VARCHAR(50), DispatchMaster.DispatchSlipNo)
                                                  + CASE WHEN DispatchMaster.Separator IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                    END
                                                  + CASE WHEN DispatchMaster.Suffix IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Suffix)
                                                    END AS Dispatchslipno ,
                        PaymentAmount  ,
                        CONVERT(VARCHAR(11), dispatchdate, 106) AS [Invoicedate] 
                FROM    PaymentRecepitTrans
                        LEFT JOIN dispatchmaster ON dispatchmaster.DispatchID = PaymentRecepitTrans.DispatchID                        
                WHERE   ReceiptID = @ReceiptId
            END
            
        IF @Parameter = 12
            BEGIN
                SELECT  PaymentRecepitTrans.DispatchID ,
                        DispatchSlipNo ,
                        CONVERT(VARCHAR(11), dispatchmaster.dispatchdate, 106) AS [InvoiceDate] ,
                        dispatchmaster.TotalAmount AS BilledAmount ,
                        isnull(PaymentReceipt_Trans.Amount,0) - isnull(PaymentAmount,0) AS ReceivedAmount ,
                        ( TotalAmount
                          - ISNULL(PaymentReceipt_Trans.Amount, 0) 
                          + isnull(PaymentRecepitTrans.PaymentAmount,0)
                          ) AS DueAmount ,
                        PaymentAmount ,
                        CONVERT(VARCHAR(11), dispatchdate, 106) AS [Invoicedate] ,
                        1 AS IsManuallyChange,
                        0 AS OLDReceivedAmount 
                FROM    PaymentRecepitTrans
                        Left JOIN dispatchmaster ON dispatchmaster.DispatchID = PaymentRecepitTrans.DispatchID
                        LEFT JOIN ( SELECT  PaymentRecepitTrans.dispatchid ,
                                            SUM(paymentAmount) AS Amount
                                    FROM    PaymentRecepitTrans
											INNER JOIN PaymentReceiptMaster ON PaymentReceiptMaster.ReceiptID = PaymentRecepitTrans.ReceiptID  
											Inner Join dispatchmaster On dispatchmaster.DispatchID = PaymentRecepitTrans.DispatchID                                 
                                    WHERE   PaymentReceiptMaster.IsDeleted=0
                                    GROUP BY PaymentRecepitTrans.DispatchID
                                  ) AS PaymentReceipt_Trans ON PaymentReceipt_Trans.DispatchID = dispatchmaster.DispatchID
                WHERE   PaymentRecepitTrans.ReceiptID = @ReceiptId order by  dispatchmaster.dispatchdate desc
            END
            
        IF @Parameter = 13
		BEGIN
			if exists(	SELECT  1
						FROM    dispatchmaster
								INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId
								LEFT JOIN ( SELECT  DispatchID ,
													SUM(paymentAmount) AS Amount
											FROM    PaymentRecepitTrans
											Inner Join PaymentReceiptMaster On PaymentReceiptMaster.ReceiptID = PaymentRecepitTrans.ReceiptID
											WHERE   DispatchID = @DispatchID
											and IsDeleted = 0
											GROUP BY dispatchid
										  ) AS PaymentRecepitTrans ON PaymentRecepitTrans.DispatchiD = dispatchmaster.DispatchID
						WHERE   dispatchmaster.IsDeleted = 0
								AND dispatchmaster.DispatchID = @DispatchID
								and(TotalAmount - ISNULL(PaymentRecepitTrans.Amount, 0))  > 0
                )
			BEGIN
				update dispatchmaster Set IsPaymentDone = 0 Where DispatchID = @DispatchID
			END
			ELSE
			BEGIN
				update dispatchmaster Set IsPaymentDone = 1 Where DispatchID = @DispatchID
			END
		END   
    
    END
GO
