USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[QuotationReports]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[QuotationReports]
	@IfActive BIT = 0 ,        
	@QuotationId UNIQUEIDENTIFIER = null ,        
    @EntityID INT = 0,
	@PageType int = 0,
	 @ModuleName VARCHAR(50) = NULL 
AS
BEGIN
	          
          if(@PageType = 0)
			BEGIN
                Select  t.* from (

                                    SELECT 
                                    DISTINCT                  
                                    QuotationItemTrans.QuotationItemTransId ,        
                                    QuotationItemTrans.ItemName ,        
                                    QuotationItemTrans.Grade ,        
                                    QuotationItemTrans.DrawingNo ,                
                                    QuotationItemTrans.NetWeightPerPc ,        
                                    QuotationItemTrans.RequiredQty ,        
                                    QuotationItemTrans.TotalWeight ,        
                                    QuotationItemTrans.UOM ,        
                                    Currencymaster.symbol AS Currencysymbol ,  
									Currencymaster.Currency,
                                   isnull(QuotationItemTrans.QuotePrice, 0) AS QuotePrice,
									--ISNULL(Currencymaster.symbol, '') + ' ' + CAST(ISNULL(QuotationItemTrans.QuotePrice, 0) AS VARCHAR) AS QuotePrice,

                                    QuotationItemTrans.Amount ,        
                                    QuotationMaster.FinalTotalAmount ,                                         
                                   -- CASE WHEN InquiryMaster.Prefix IS NULL THEN ''        
                                   -- ELSE CONVERT(VARCHAR(50), InquiryMaster.Prefix)        
                                   -- END        
                                   --+ CASE WHEN InquiryMaster.Separator IS NULL THEN ''        
                                   --  ELSE CONVERT(VARCHAR(50), InquiryMaster.Separator)        
                                   --  END        
                                   --+ CONVERT(VARCHAR(50), InquiryMaster.InquiryNo)        
                                   --+ CASE WHEN InquiryMaster.Separator IS NULL THEN ''        
                                   --  ELSE CONVERT(VARCHAR(50), InquiryMaster.Separator)        
                                   -- END        
                                   --+ CASE WHEN InquiryMaster.Suffix IS NULL THEN ''        
                                   --  ELSE CONVERT(VARCHAR(50), InquiryMaster.Suffix)        
                                   -- END AS InquiryNo,      
                                    --InquiryMaster.InquiryNo ,        
                                    QuotationMaster.CreatedBy AS CreatedBy ,        
                                    '1.Regular' TypeOfItem ,        
                                    --ISNULL(QuotationItemParameter.PatternCost        
                                    --+ QuotationItemParameter.MountingRequireCost        
                                    --+ QuotationItemParameter.CoreCost        
                                    --+ QuotationItemParameter.MoldingCost        
                                    --+ QuotationItemParameter.JigCost,0) AS DevelopmentCost ,        
                                    --ISNULL(QuotationItemParameter.PatternTime        
                                    --+ QuotationItemParameter.MountingRequireTime        
                                    --+ QuotationItemParameter.CoreTime        
                                    --+ QuotationItemParameter.MoldingTime        
                                    --+ QuotationItemParameter.JigTime,0) AS DevelopmentTime ,        
                                    ISNULL(InvoiceSeries.ReportTitle, '') AS ReportTitle ,
                                    1 as Priority,
                                    QuotationItemTrans.Remarks,
									QuotationItemTrans.MachineDrawingNo,
									QuotationItemTrans.MachineCost,
									QuotationItemTrans.PackingCost,
									QuotationItemTrans.MachineQuotePrice,
									QuotationItemTrans.qty,
									QuotationItemTrans.PatternCavity,
									QuotationItemTrans.PatternCost,
									QuotationItemTrans.MatchPlateSize,
									ISNULL(CAST(TRY_CAST(QuotationItemTrans.FrictionGating AS FLOAT) AS INT), 0)AS FrictionGating,
									 --isnull(QuotationItemTrans.FrictionGating, 0) AS FrictionGating,
									 QuotationItemTrans.NoOfCoreBoxes,
									 QuotationItemTrans.discount,
									 QuotationItemTrans.grandtotal
                          FROM      QuotationMaster        
                                    INNER JOIN QuotationItemTrans ON QuotationItemTrans.QuotationId = QuotationMaster.QuotationId        
                                    LEFT JOIN dbo.QuotationItemParameter ON dbo.QuotationItemParameter.QuotationItemTransId = dbo.QuotationItemTrans.QuotationItemTransId        
                                    LEFT JOIN InquiryTrans ON QuotationItemTrans.InquiryTransId = InquiryTrans.InquiryTransId        
                                    LEFT JOIN InquiryMaster ON InquiryTrans.InquiryId = InquiryMaster.InquiryId        
                                    --LEFT OUTER JOIN QuotationProcess ON QuotationItemTrans.QuotationItemTransId = QuotationProcess.QuotationItemTransId        
                                    INNER JOIN CurrencyMaster ON CurrencyMaster.CurrencyID = QuotationItemTrans.Currency        
                                    INNER JOIN InvoiceSeries ON InvoiceSeries.SeriesId = QuotationMaster.SeriesId        
                          WHERE     QuotationMaster.QuotationId = @QuotationId        
                                    AND ISNULL(QuotationItemTrans.IsDeleted,0) = 0        
                                    AND ISNULL(QuotationItemTrans.IsRegreted,0) = 0
                                    
                                    union
                                    Select
                                   
                                    QuotationProcess.QuotationItemTransId,
                                    QuotationProcess.Processes as ItemName,
                                    Null as Grade ,        
                                    Null as DrawingNo ,                
                                    Null as NetWeightPerPc ,        
                                    Null as RequiredQty ,        
                                    Null AS TotalWeight ,        
                                    QuotationProcess.UOM ,        
                                    Currencymaster.symbol AS Currencysymbol , 
									Currencymaster.Currency,
                                    Isnull(QuotationProcess.Rate,0) as  QuotePrice,      
                                    --Cast(QuotationProcess.Rate as Nvarchar(100)) + ' ' + Cast(Currencymaster.symbol as Nvarchar(100)) as QuotePrice,        
                                    QuotationProcess.Rate ,        
                                    QuotationProcess.Rate ,                                                  
                                    --cAST('' AS NVARCHAR) as InquiryNo ,        
                                    QuotationMaster.CreatedBy AS CreatedBy ,        
                                    'AddOn' TypeOfItem ,        
                                    -- 0 AS DevelopmentCost ,        
                                     --0 AS DevelopmentTime ,        
                                     '' AS ReportTitle,
                                     2 as Priority,
                                     '' as Remarks,
									'' PackingCost,
									'' MachineCost,
									'' MachineQuotePrice,
									'' qty,
									0 PatternCavity,
									0 PatternCost,
                                    '' MachineDrawingNo,
									'' MatchPlateSize,
									0 FrictionGating,
									'' NoOfCoreBoxes,
									 QuotationItemTrans.discount,
									 QuotationItemTrans.grandtotal
                                    FROM      
                                    QuotationMaster        
                                    INNER JOIN QuotationItemTrans ON QuotationItemTrans.QuotationId = QuotationMaster.QuotationId            
                                    Inner Join QuotationProcess ON QuotationItemTrans.QuotationItemTransId = QuotationProcess.QuotationItemTransId        
                                    INNER JOIN CurrencyMaster ON CurrencyMaster.CurrencyID = QuotationItemTrans.Currency              
                          WHERE     QuotationMaster.QuotationId = @QuotationId        
                                    AND ISNULL(QuotationItemTrans.IsDeleted,0) = 0        
                                    AND ISNULL(QuotationItemTrans.IsRegreted,0) = 0
                                    
                          --          union
                                    
                          --          SELECT 
                                     
                          --          NULL AS QuotationItemTransId ,        
                          --          QuotationServiceItemTrans.ItemName ,        
                          --          NULL AS Grade ,        
                          --          NULL AS DrawingNo ,                
                          --          QuotationServiceItemTrans.NetWeight ,        
                          --          QuotationServiceItemTrans.Qty ,        
                          --          0.000 AS TotalWeight ,        
                          --          QuotationServiceItemTrans.UOM ,        
                          --          NULL AS Currencysymbol ,        
                          --          QuotationServiceItemTrans.RateOffered  as QuotePrice,        
                          --          QuotationServiceItemTrans.Amount ,        
                          --          QuotationMaster.FinalTotalAmount ,        
                          --          0 AS DeliveryTime ,        
                          --          InquiryMaster.InquiryNo ,        
                          --          QuotationMaster.CreatedBy AS CreatedBy ,        
                          --          '2.ServiceItem' TypeOfItem ,        
                          --          0 AS DevelopmentCost ,        
                          --          0 AS DevelopmentTime ,        
                          --          ISNULL(InvoiceSeries.ReportTitle, '') AS ReportTitle,
                          --          3 as Priority,
                          --          '' Remarks         
                          --FROM      QuotationMaster        
                          --          INNER JOIN QuotationServiceItemTrans ON QuotationMaster.QuotationId = QuotationServiceItemTrans.QuotationId        
                          --          INNER JOIN InquiryServiceItemTrans ON QuotationServiceItemTrans.QuotationServiceItemTransId = InquiryServiceItemTrans.QuotationServiceItemTransId        
                          --          INNER JOIN InquiryMaster ON InquiryServiceItemTrans.InquiryId = InquiryMaster.InquiryId        
      
                          --          INNER JOIN InvoiceSeries ON InvoiceSeries.SeriesId = QuotationMaster.SeriesId        
                          --WHERE     QuotationMaster.QuotationId = @QuotationId        
                          --          AND QuotationServiceItemTrans.IsDeleted = 0        
                          --          AND ( QuotationServiceItemTrans.IsRegreted = 0 )
                           ) as T   order by t.QuotationItemTransId,t.Priority 
             END
		   ELSE
			 BEGIN
				 SELECT
					QuotationItemTrans.QuotationItemTransId,
					QuotationItemTrans.ItemName,
					QuotationItemTrans.Grade,
					QuotationItemTrans.DrawingNo,
					QuotationItemTrans.NetWeightPerPc,
					QuotationItemTrans.RequiredQty,
					QuotationItemTrans.TotalWeight,
					QuotationItemTrans.UOM,
					CurrencyMaster.symbol AS Currencysymbol,
					Currencymaster.Currency,
					ISNULL(QuotationItemTrans.QuotePrice, 0) AS QuotePrice,
					QuotationItemTrans.Amount,
					QuotationMaster.FinalTotalAmount,
					QuotationMaster.CreatedBy,
					'1.Regular' AS TypeOfItem,
					ISNULL(InvoiceSeries.ReportTitle, '') AS ReportTitle,
					QuotationItemTrans.srno AS Priority,
					QuotationItemTrans.Remarks,
					QuotationItemTrans.MachineDrawingNo,
					QuotationItemTrans.MachineCost,
					QuotationItemTrans.PackingCost,
					QuotationItemTrans.MachineQuotePrice,
					QuotationItemTrans.qty,
					ISNULL(QuotationItemTrans.PatternCavity, 0) AS PatternCavity,
					--QuotationItemTrans.PatternCavity,
					ISNULL(QuotationItemTrans.PatternCost, 0) AS PatternCost,
					--QuotationItemTrans.PatternCost,
					QuotationItemTrans.MatchPlateSize,
					ISNULL(CAST(TRY_CAST(QuotationItemTrans.FrictionGating AS FLOAT) AS INT), 0)AS FrictionGating,
					--COALESCE(NULLIF(QuotationItemTrans.FrictionGating, ''), 0) FrictionGating,
					--ISNULL(QuotationItemTrans.FrictionGating, 0) AS FrictionGating,
					QuotationItemTrans.NoOfCoreBoxes,
					QuotationProcess.Processes AS ProcessName  ,-- Each row will now have one process
					QuotationProcess.Rate as ProcessRate,
					QuotationProcess.UOM as ProcessUOM,
					 QuotationItemTrans.discount,
									 QuotationItemTrans.grandtotal
				FROM
					QuotationMaster
					INNER JOIN QuotationItemTrans ON QuotationItemTrans.QuotationId = QuotationMaster.QuotationId
					LEFT JOIN CurrencyMaster ON CurrencyMaster.CurrencyID = QuotationItemTrans.Currency
					LEFT JOIN InvoiceSeries ON InvoiceSeries.SeriesId = QuotationMaster.SeriesId
					LEFT JOIN QuotationProcess ON QuotationProcess.QuotationItemTransId = QuotationItemTrans.QuotationItemTransId
				WHERE
					QuotationMaster.QuotationId = @QuotationId        
					AND ISNULL(QuotationItemTrans.IsDeleted, 0) = 0
				Order by QuotationItemTrans.srNo asc, isnull(QuotationProcess.srno,0) asc
						END
		--       SELECT 
					--	QuotationMaster.QuotationId,        
					--	CASE WHEN QuotationMaster.Prefix IS NULL THEN ''        
					--		 ELSE CONVERT(VARCHAR(50), QuotationMaster.Prefix)        
					--	END        
					--	+ CASE WHEN QuotationMaster.Separator IS NULL THEN ''        
					--		   ELSE CONVERT(VARCHAR(50), QuotationMaster.Separator)        
					--	  END        
					--	+ CONVERT(VARCHAR(50), QuotationMaster.QuotationNo)        
					--	+ CASE WHEN QuotationMaster.Separator IS NULL THEN ''        
					--		   ELSE CONVERT(VARCHAR(50), QuotationMaster.Separator)        
					--	  END        
					--	+ CASE WHEN QuotationMaster.Suffix IS NULL THEN ''        
					--		   ELSE CONVERT(VARCHAR(50), QuotationMaster.Suffix)        
					--	  END AS QuotationNo,        

					--	CASE WHEN @IfActive = 1        
					--		 THEN CustomerMaster.CustomerCode        
					--		 ELSE CustomerMaster.CustomerName        
					--	END AS CustomerName,        
					--	QuotationMaster.CustomerId,        
					--	CONVERT(VARCHAR(11), QuotationMaster.QuotationDate, 113) AS QuotationDate,

					--	-- InquiryNo as comma-separated values
					--	STUFF((
					--		SELECT ', ' + ISNULL(IM.Prefix, '') + ISNULL(IM.Separator, '') +
					--			   ISNULL(IM.InquiryNo, '') + ISNULL(IM.Separator, '') +
					--			   ISNULL(IM.Suffix, '')
					--		FROM dbo.QuotationItemTrans QIT2
					--		INNER JOIN dbo.InquiryTrans IT ON IT.InquiryTransId = QIT2.InquiryTransId
					--		INNER JOIN dbo.InquiryMaster IM ON IM.InquiryId = IT.InquiryId
					--		WHERE QIT2.QuotationId = QuotationMaster.QuotationId
					--		FOR XML PATH(''), TYPE
					--	).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS InquiryNo,  -- Remove the first comma and space

					--	-- InquiryDate as comma-separated values
					--	STUFF((
					--		SELECT ', ' + CONVERT(VARCHAR(11), IM.InquiryDate, 113)
					--		FROM dbo.QuotationItemTrans QIT2
					--		INNER JOIN dbo.InquiryTrans IT ON IT.InquiryTransId = QIT2.InquiryTransId
					--		INNER JOIN dbo.InquiryMaster IM ON IM.InquiryId = IT.InquiryId
					--		WHERE QIT2.QuotationId = QuotationMaster.QuotationId
					--		FOR XML PATH(''), TYPE
					--	).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS InquiryDate,  -- Remove the first comma and space

					--	-- Other columns as needed
					--	QuotationMaster.InquiryId,        
					--	QuotationMaster.FinalTotalAmount,        
					--	AddressMaster.Area,        
					--	AddressMaster.Street,        
					--	StateMaster.State,        
					--	AddressMaster.Pincode,        
					--	CompanyMaster.ContactNo,        
					--	Email,        
					--	CityMaster.City,        
					--	InquiryMaster.Reference,        
					--	CompanyMaster.NameOfOrganization, 
					--	CompanyMaster.Address AS CompanyAddress,
					--	CompanyMaster.AddLine2,
					--	CompanyMaster.Area,
					--	CompanyMaster.City,
					--	CompanyMaster.State,
					--	CompanyMaster.Pincode,
					--	CompanyMaster.CityId,
					--	CompanyMaster.StateId,
					--	CompanyMaster.ContactPersonName,
					--	CompanyMaster.ContactNo,
					--	CompanyMaster.MobileNo,
					--	CompanyMaster.FaxNo,
					--	CompanyMaster.TAXNo1,
					--	CompanyMaster.TAXNo2,
					--	CompanyMaster.TAXNo3,
					--	CompanyMaster.TAXNo4,
					--	CompanyMaster.TAXNo5,
					--	CompanyMaster.TAXNo6,
					--	CompanyMaster.TAXNo7,
					--	CompanyMaster.TAXNo8,
					--	CompanyMaster.Range,
					--	CompanyMaster.CommisioneRate,
					--	CompanyMaster.Devision,
					--	CompanyMaster.Email_Id,
					--	CompanyMaster.MailServer,
					--	CompanyMaster.IsSandOrDie,
					--	CompanyMaster.IsHeatwise,
					--	CompanyMaster.CommisioneRateAddress,
					--	CompanyMaster.BinNo,
					--	CompanyMaster.IECCode
					--FROM 
					--	QuotationMaster        
					--	LEFT JOIN dbo.QuotationItemTrans ON dbo.QuotationItemTrans.QuotationId = dbo.QuotationMaster.QuotationId        
					--	LEFT JOIN AddressMaster ON QuotationMaster.CustomerId = AddressMaster.CustomerId        
					--	LEFT JOIN CompanyMaster ON QuotationMaster.EntityId = CompanyMaster.EntityId        
					--	LEFT JOIN dbo.InquiryTrans ON dbo.QuotationItemTrans.InquiryTransId = dbo.InquiryTrans.InquiryTransId        
					--	LEFT JOIN dbo.InquiryMaster ON dbo.InquiryMaster.InquiryId = dbo.InquiryTrans.InquiryId        
					--	LEFT JOIN dbo.CityMaster ON dbo.CityMaster.Cityid = dbo.AddressMaster.City        
					--	LEFT JOIN dbo.StateMaster ON dbo.StateMaster.StateId = dbo.CityMaster.StateId        
					--	LEFT JOIN dbo.ContactMaster ON dbo.ContactMaster.CustomerId = dbo.QuotationMaster.CustomerId        
					--	INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = QuotationMaster.CustomerId 
					--WHERE   
					--	QuotationMaster.QuotationId = @QuotationId;

					SELECT  QuotationMaster.QuotationId ,        
							CASE WHEN QuotationMaster.Prefix IS NULL THEN ''        
								 ELSE CONVERT(VARCHAR(50), QuotationMaster.Prefix)        
							END        
							+ CASE WHEN QuotationMaster.Separator IS NULL THEN ''        
								   ELSE CONVERT(VARCHAR(50), QuotationMaster.Separator)        
							  END        
							+ CONVERT(VARCHAR(50), QuotationMaster.QuotationNo)        
							+ CASE WHEN QuotationMaster.Separator IS NULL THEN ''        
								   ELSE CONVERT(VARCHAR(50), QuotationMaster.Separator)        
							  END        
							+ CASE WHEN QuotationMaster.Suffix IS NULL THEN ''        
								   ELSE CONVERT(VARCHAR(50), QuotationMaster.Suffix)        
							  END AS QuotationNo ,        
							CASE WHEN @IfActive = 1        
								 THEN CustomerMaster.CustomerCode        
								 ELSE CustomerMaster.CustomerName        
							END CustomerName ,        
							QuotationMaster.CustomerId ,        
							QuotationMaster.QuotationDate ,
		   --                 convert(varchar(11),  QuotationMaster.QuotationDate, 113) AS QuotationDate, 
							 --ISNULL(InquiryMaster.Prefix,'') + ISNULL(InquiryMaster.Separator,'')
		   --                  +ISNULL(InquiryMaster.InquiryNo,'') +ISNULL(InquiryMaster.Separator,'') 
		   --                  +ISNULL(InquiryMaster.Suffix,'') as InquiryNo,
							 -- convert(varchar(11),   InquiryMaster.InquiryDate, 113) AS InquiryDate,
							 --,
						   -- QuotationMaster.InquiryNo ,  
						   -- InquiryNo as comma-separated values
							STUFF((
									SELECT ', ' + ISNULL(DistinctInquiries.Prefix, '') + ISNULL(DistinctInquiries.Separator, '') +
										   ISNULL(DistinctInquiries.InquiryNo, '') + ISNULL(DistinctInquiries.Separator, '') +
										   ISNULL(DistinctInquiries.Suffix, '')
									FROM (
										SELECT DISTINCT IM.Prefix, IM.Separator, IM.InquiryNo, IM.Suffix
										FROM dbo.QuotationItemTrans QIT2
										INNER JOIN dbo.InquiryTrans IT ON IT.InquiryTransId = QIT2.InquiryTransId
										INNER JOIN dbo.InquiryMaster IM ON IM.InquiryId = IT.InquiryId
										WHERE QIT2.QuotationId = QuotationMaster.QuotationId
									) AS DistinctInquiries  -- Ensuring distinct InquiryNo combinations
									FOR XML PATH(''), TYPE
								).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS InquiryNo,  -- Remove the first comma and space

							-- InquiryDate as comma-separated values
							-- InquiryDate as comma-separated values with DISTINCT
							STUFF((
								SELECT ', ' + CONVERT(VARCHAR(11), DistinctInquiryDates.InquiryDate, 113)
								FROM (
									SELECT DISTINCT IM.InquiryDate
									FROM dbo.QuotationItemTrans QIT2
									INNER JOIN dbo.InquiryTrans IT ON IT.InquiryTransId = QIT2.InquiryTransId
									INNER JOIN dbo.InquiryMaster IM ON IM.InquiryId = IT.InquiryId
									WHERE QIT2.QuotationId = QuotationMaster.QuotationId
								) AS DistinctInquiryDates  -- Ensuring distinct InquiryDate values
								FOR XML PATH(''), TYPE
							).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS InquiryDate , -- Remove the first comma and space

							QuotationMaster.InquiryId ,        
							QuotationMaster.FinalTotalAmount ,        
							--AddressMaster.Area ,        
							--AddressMaster.Street ,        
							--StateMaster.State ,        
							--AddressMaster.Pincode ,        
							CompanyMaster.ContactNo ,        
							Email ,        
							--CityMaster.City ,        
							InquiryMaster.Reference ,        
							CompanyMaster.NameOfOrganization , 
							CompanyMaster.Address as  CompanyAddress,
							CompanyMaster.AddLine2,
							CompanyMaster.Area,
							CompanyMaster.city,
							CompanyMaster.State,
							CompanyMaster.Pincode,
							--CAst(CompanyMaster.Address  as varchar) + CHAR(10)  +
							--CAst(CompanyMaster.AddLine2  as varchar) + CHAR(10)  +
							-- --CompanyMaster.Address + CHAR(13) + CHAR(10) +
							----CompanyMaster.AddLine2 + ', ' + CompanyMaster.Area + CHAR(13) + CHAR(10) +
							--CompanyMaster.City + ', ' + CompanyMaster.State + ', ' + CompanyMaster.Pincode 
						  -- As CompanyAddress,
						   CompanyMaster.CityId,
						   CompanyMaster.StateId,
						   CompanyMaster.ContactPersonName,
						   CompanyMaster.ContactNo,
						   CompanyMaster.MobileNo,
						   CompanyMaster.FaxNo,
						   CompanyMaster.TAXNo1,
						   CompanyMaster.TAXNo2,
						   CompanyMaster.TAXNo3,
						   CompanyMaster.TAXNo4,
						   CompanyMaster.TAXNo5,
						   CompanyMaster.TAXNo6,
						   CompanyMaster.TAXNo7,
						   CompanyMaster.TAXNo8,
						   CompanyMaster.Range,
						   CompanyMaster.CommisioneRate,
						   CompanyMaster.Devision,
						   CompanyMaster.Email_Id,
						   CompanyMaster.MailServer,
						   CompanyMaster.IsSandOrDie,
						   CompanyMaster.IsHeatwise,
						   CompanyMaster.CommisioneRateAddress,
						   CompanyMaster.BinNo,
						   CompanyMaster.IECCode,
						   CompanyMaster.BranchCode,
						   CompanyMaster.Ut1BondNo,
						   CompanyMaster.UT1Date,
						   CompanyMaster.UT1AcceptedBy,
						   CompanyMaster.RebateDate,
						   CompanyMaster.RebateEntryNo,
						   CompanyMaster.FactoryStuffingPermissionNo,
						   CompanyMaster.GSTNo,
						   --CompanyMaster.TANNo,
						   --CompanyMaster.PERIODICITYOFGSTR,
							QuotationMaster.Terms ,        
							QuotationMaster.QuotationRemarks AS Remarks ,
							QuotationMaster.CustomerName CustomerFullName,
							QuotationMaster.CustomerAddress,
							CustomerMaster.GSTNo CustomerGST,
							QuotationMaster.PersonName ,
							QuotationMaster.CustomerContact CustomerContactDetail, 
							 QuotationMaster.ContactEmail,
							QuotationMaster.incoterm,
							QuotationMaster.paymentterm,
							QuotationMaster.IsRevice
					FROM    QuotationMaster        
							LEFT JOIN dbo.QuotationItemTrans ON dbo.QuotationItemTrans.QuotationId = dbo.QuotationMaster.QuotationId        
							LEFT  JOIN AddressMaster ON QuotationMaster.CustomerId = AddressMaster.CustomerId        
							LEFT JOIN CompanyMaster ON QuotationMaster.EntityId = CompanyMaster.EntityId        
							LEFT JOIN dbo.InquiryTrans ON dbo.QuotationItemTrans.InquiryTransId = dbo.InquiryTrans.InquiryTransId        
							LEFT JOIN dbo.InquiryMaster ON dbo.InquiryMaster.InquiryId = dbo.InquiryTrans.InquiryId        
							LEFT JOIN dbo.CityMaster ON dbo.CityMaster.Cityid = dbo.AddressMaster.City        
							LEFT JOIN dbo.StateMaster ON dbo.StateMaster.StateId = dbo.CityMaster.StateId        
							LEFT JOIN dbo.ContactMaster ON dbo.ContactMaster.CustomerId = dbo.QuotationMaster.CustomerId        
							INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = QuotationMaster.CustomerId        
					WHERE   ( QuotationMaster.QuotationId = @QuotationId )   
				
        
					SELECT  *        
					FROM    PageSetting        
					WHERE   name = 'Quotation'        
					 and EntityID = @EntityID        
        
            
       
					SELECT  QuotationItemParameter.QuotationItemParameterId ,        
							QuotationItemParameter.PrimerCoating ,        
							ISNULL(QuotationItemParameter.PrimerCoatingRemarks, '') PrimerCoatingRemarks ,        
							QuotationItemParameter.PrimerCost ,        
							QuotationItemParameter.PrimerTime ,        
							QuotationItemParameter.PackingRequirment ,        
							QuotationItemParameter.PackingRequirmentremarks ,        
							QuotationItemParameter.PackagingCost ,        
							QuotationItemParameter.PackagingTime ,        
							QuotationItemTrans.ItemName ,        
							QuotationItemParameter.Delivery ,        
							QuotationItemParameter.Transportation ,        
							QuotationItemParameter.TransportationRemarks ,        
							QuotationItemParameter.TransportationCost ,        
							QuotationItemParameter.TransportationTime ,        
							QuotationItemParameter.PatternToBeDevelop ,        
							QuotationItemParameter.PatternToBeDevelopRemarks ,        
							QuotationItemParameter.PatternCost ,        
							QuotationItemParameter.PatternTime ,        
							QuotationItemParameter.MountingRequire ,        
							QuotationItemParameter.MountingRequireRemarks ,        
							QuotationItemParameter.MountingRequireCost ,        
							QuotationItemParameter.MountingRequireTime ,        
							QuotationItemParameter.CoreRequire ,        
							QuotationItemParameter.CoreRequireRemarks ,        
							QuotationItemParameter.CoreCost ,        
							QuotationItemParameter.CoreTime ,        
							QuotationItemParameter.MoldingRequire ,        
							QuotationItemParameter.MoldingRequireRemarks ,        
							QuotationItemParameter.MoldingCost ,        
							QuotationItemParameter.MoldingTime ,        
							QuotationItemParameter.JigRequire ,        
							QuotationItemParameter.JigCost ,        
							QuotationItemParameter.JigTime ,        
						QuotationItemParameter.HeatTreatmentRequire ,        
							QuotationItemParameter.HeatTreatmentRequireRemarks ,        
							QuotationItemParameter.HeatTreatmentCost ,        
							QuotationItemParameter.HeatTreatmentTime ,        
							QuotationItemParameter.TestBarRequire ,        
							QuotationItemParameter.TestBarRequireRemarks ,        
							QuotationItemParameter.TestBarRequireCost ,        
							QuotationItemParameter.TestBarRequireTime ,        
							QuotationItemParameter.NDTRequire ,        
							QuotationItemParameter.NDTRequireRemarks ,        
							QuotationItemParameter.NDTTotalCost ,        
							QuotationItemParameter.NDTTotalTime ,        
							QuotationItemParameter.DestructiveTesting ,        
							QuotationItemParameter.DestructiveTestingRemarks ,        
							QuotationItemParameter.DestructiveTestingCost ,        
							QuotationItemParameter.DestructiveTestingTime ,        
							QuotationItemParameter.DimensionInspectionReport ,        
							QuotationItemParameter.DimensionInspectionReportRemarks ,        
							QuotationItemParameter.DimensionReportTotalCost ,        
							QuotationItemParameter.DimensionReportTotalTime        
					FROM    QuotationItemParameter        
							INNER JOIN QuotationItemTrans ON QuotationItemParameter.QuotationItemTransId = QuotationItemTrans.QuotationItemTransId        
					WHERE   ( QuotationItemTrans.QuotationId = @QuotationId )        
							AND QuotationItemParameter.PrimerCoating IS NOT NULL         
        
		  BEGIN

            DECLARE @SQL VARCHAR(MAX) ,
                @Columns VARCHAR(MAX)
            SET @Columns = STUFF(( SELECT   ',' + dbo.CustomLabelText.LabelName
                                   FROM     dbo.CustomLabelText
                                   WHERE    ( @ModuleName IS NULL
                                              OR ModuleName = @ModuleName
                                            )
                                            and EntityID = @EntityID
                                   ORDER BY srno
                                 FOR
                                   XML PATH('')
                                 ), 1, 1, '')
            SET @SQL = '
            SELECT  *
            FROM    ( SELECT    LabelDisplayName ,
                                LabelName
                      FROM      CustomLabelText
                      where EntityID = ' +   Convert(varchar(10), @EntityID) + '
                    ) CustomLabelTextTable PIVOT 
            ( MAX(LabelDisplayName) FOR LabelName IN ( ' + @Columns + ' ) ) PIVOTTable'
          
            EXEC(@SQL)
        END

END
GO
