USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchWaxDieCostModificationDetail]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Birva>
-- Create date: <3/8/18>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchWaxDieCostModificationDetail]
	-- Add the parameters for the stored procedure here
    @DieId UNIQUEIDENTIFIER = NULL ,
    @CheckIssueDate BIT = 0,
    @IsApprove BIT = NULL ,
    @IsApproveFinal BIT = NULL
AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;

        DECLARE @MaxIssueDste DATETIME= ( SELECT    MAX(IssueDate)
                                          FROM      PatternIssueMaster
                                                    INNER JOIN PatternIssueTrans ON PatternIssueTrans.PatternIssueId = PatternIssueMaster.PatternIssueId
                                          WHERE     PatternIssueTrans.PatternId = @DieId
                                        )  

        
        DECLARE @OrderApprovePermitter BIT= ( SELECT    permitir.permitir
                                              FROM      permitir
                                              WHERE     PageName = 'APPROVAL'
                                            )
        DECLARE @OrderApproveLevel BIT= ( SELECT    ApproveLevel
                                          FROM      configuration
                                        )
        SELECT  PurchaseOrder_Master.OASrNo AS OrderNo ,
                CONVERT(VARCHAR(11), PurchaseOrder_Master.OrderDate, 106) AS [OrderDate] ,
                CustomerMaster.CustomerName AS SupplierName ,
                PurchaseOrderDiePurchaseTranse.Amount ,
                PurchaseOrderDiePurchaseTranse.Description
        FROM    PurchaseOrderDiePurchaseTranse
                INNER JOIN PurchaseOrder_Master ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderDiePurchaseTranse.PurchaseOrderId
                INNER JOIN CustomerMaster ON CustomerMaster.CustomerId = PurchaseOrder_Master.CustomerID
                INNER JOIN dbo.DieMaster ON dbo.DieMaster.DieId = dbo.PurchaseOrderDiePurchaseTranse.DieId
        WHERE   ( @DieId IS NULL
                  OR PurchaseOrderDiePurchaseTranse.DieId = @DieId
                )
                AND ( @CheckIssueDate = 0
                      OR OrderDate BETWEEN @MaxIssueDste AND GETDATE()
                    )
                AND PurchaseOrderDiePurchaseTranse.DieNewOrRepair = 1
                AND PurchaseOrderDiePurchaseTranse.IsDeleted = 0
                AND PurchaseOrder_Master.IsDeleted = 0
                AND PurchaseOrder_Master.maxversion = 1
                AND ( @OrderApprovePermitter = 0
                      OR ( @OrderApproveLevel = 0
                           OR IsApproveFinal = @IsApproveFinal
                         )
                    )
                AND ( @OrderApprovePermitter = 0
                      OR ( @OrderApproveLevel = 1
                           OR IsApprove = @IsApprove
                         )
                    )
                AND IsWaxDie = 1
    END
GO
