USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Manage_Rejection_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Manage_Rejection_Register] 
(
	@Parameter int = 0,
	@PageNumber int = 0,
	@PageSize int = 0,
	@InitialLoad int = 0,
	@TotalRecords int = 0,
	@PlantIdString varchar(max) = NULL,
	@CASTINGID uniqueidentifier = NULL,
	@CastingName varchar(250) = NULL,
	@IsCastCodeEnable bit = NULL,
	@IncludeZero bit = 1,
	@DateFrom datetime = NULL,
	@DateTo datetime = NULL,
	@EntityId int = 0,
	@HeatCode varchar(100) = NULL,
	@ReasonID bigint = 0,
	@InhouseProcessID uniqueidentifier = NULL,
	@BatchID bigint = 0,
	@IsPurchaseCasting BIT = 0
)

AS
BEGIN

	DECLARE @Plant TABLE (Item int)
	IF (@PlantIdString IS NOT NULL AND @PlantIdString != '')
	BEGIN
		INSERT INTO @Plant
			SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	END

	IF @parameter = 1
	BEGIN
		--IF (@IsCastCodeEnable = 0)
		--BEGIN
			SELECT	TOP (@PageSize) *
			FROM (
					SELECT	DISTINCT ROW_NUMBER() OVER (ORDER BY Inhouserejmgnt.RejectionDate DESC) AS SrNo,
							CastingCode, CastingName, MetalName, ProcessMaster.ProcessName, OKQty,
							Inhouserejmgnt.rejqty,
							CONVERT(decimal(18, 3), 
								(CASE WHEN RejectionMaster.IsRework = 1 AND ISNULL(CastingFinalRejection.Weight, 0) != 0 THEN CastingFinalRejection.Weight
										ELSE RejectedQtyWeight END)
								/ (ISNULL(Inhouserejmgnt.rejqty, 0) + ISNULL(Inhouserejmgnt.OKQty, 0) + ISNULL(Inhouserejmgnt.ReworkQty, 0))
							) AS CastingnetWeight,
							CONVERT(decimal(18, 3), 
								(CASE WHEN RejectionMaster.IsRework = 1 AND ISNULL(CastingFinalRejection.Weight, 0) != 0 THEN CastingFinalRejection.Weight
										ELSE RejectedQtyWeight END)
							) AS TotalWeight,
							Inhouserejmgnt.RejInwardId, 0 AS InwardID, CONVERT(varchar(11), Inhouserejmgnt.RejectionDate, 106) AS RejectionDate,
							BatchNo AS HeatNo, Inhouserejmgnt.MetalId, Inhouserejmgnt.ReworkQty,
							(CASE WHEN Inhouserejmgnt.ReworkQty > 0 THEN '1' ELSE '0' END) AS IsRework,
							ISNULL(RejectionMaster.PendingQty, 0) AS TotalPendingQty, RejectQty AS TotalRejection,
							Inhouserejmgnt.Remarks, ReasonMaster.Reason, ReasonMaster.ReasonID, RejectionMaster.ProcessId,
							ISNULL(CastingHeatCode.HeatCode, '') AS HeatCode, Inhouserejmgnt.PlantId,
							isnull(CastingFinalRejection.IsDeassemble ,0 ) as IsDeassemble
					FROM	Inhouserejmgnt
							INNER JOIN CastingMaster ON CastingMaster.CastingID = Inhouserejmgnt.PartId
							INNER JOIN MetalMaster ON Inhouserejmgnt.MetalID = MetalMaster.MetalId
							LEFT JOIN CastingFinalRejection ON CastingFinalRejection.InwardID = Inhouserejmgnt.RejInwardID--and CastingFinalRejection.PartId = Inhouserejmgnt.PartId
									and CastingFinalRejection.IsInHouseRej = 1
							INNER JOIN ReasonMaster ON ReasonMaster.ReasonID = Inhouserejmgnt.ReasonID
							INNER JOIN dbo.RejectionMaster ON dbo.RejectionMaster.RejectionID = dbo.Inhouserejmgnt.RejectionID
							inner JOIN ProductionBatch ON Inhouserejmgnt.BatchID = ProductionBatch.batchID
							LEFT JOIN ProcessMaster ON ProcessMaster.ProcessId = RejectionMaster.ProcessId
							LEFT JOIN CastingHeatCode ON CastingHeatCode.ProductionBatchID = RejectionMaster.ProductionBatchId
											AND CastingHeatCode.CastingID = RejectionMaster.CastingID
											AND CastingHeatCode.HeatCodeID = RejectionMaster.HeatCodeId
							
					WHERE	(@CastingID IS NULL OR CastingMaster.CastingID = @CastingID )
							AND (@CastingName IS NULL OR CastingName = @CastingName )
							AND (@IncludeZero = 1 OR (ISNULL(Inhouserejmgnt.OKQty, 0) <> 0) )
							AND (ISNULL(@PlantIdString, '') = '' OR Inhouserejmgnt.PlantId IN (SELECT Item FROM @Plant) )
							AND RejectionMaster.EntityID = @EntityId
							AND (@InhouseProcessID IS NULL OR RejectionMaster.ProcessId = @InhouseProcessID)
							AND (@ReasonID = 0 OR Inhouserejmgnt.ReasonID = @ReasonID)
							AND (@HeatCode IS NULL OR CastingHeatCode.HeatCode = @HeatCode)
							AND (@batchid = 0 OR ProductionBatch.BatchID = @batchid)
							AND (@IsPurchaseCasting = 0 oR BatchType = 3)
							AND (@DateFrom IS NULL OR CAST(Inhouserejmgnt.RejectionDate AS DATE) >= CAST(@DateFrom AS DATE))
							AND (@DateTo IS NULL OR CAST(Inhouserejmgnt.RejectionDate AS DATE) <= CAST(@DateTo AS DATE))
			) AS ManageRejection
			WHERE ManageRejection.SrNo BETWEEN ((@PageNumber * @PageSize) + 1) AND ((@PageNumber + 1) * @PageSize)
			ORDER BY ManageRejection.SrNo
		--END
		--ELSE
		--BEGIN
		--	SELECT TOP (@PageSize) * 
		--	FROM (
		--			SELECT	DISTINCT TOP (@PageSize) ROW_NUMBER() OVER (ORDER BY Inhouserejmgnt.RejectionDate DESC) AS SrNo,
		--					CastingCode, CastingName, MetalName, ProcessMaster.ProcessName, OKQty, Inhouserejmgnt.Rejqty,
		--					CONVERT(decimal(18, 3), 
		--						(CASE WHEN RejectionMaster.IsRework = 1 AND ISNULL(CastingFinalRejection.Weight, 0) != 0 THEN CastingFinalRejection.Weight
		--								ELSE RejectedQtyWeight END)
		--						/ (ISNULL(Inhouserejmgnt.rejqty, 0) + ISNULL(Inhouserejmgnt.OKQty, 0) + ISNULL(Inhouserejmgnt.ReworkQty, 0))
		--					) AS CastingnetWeight,
		--					CONVERT(decimal(18, 3), 
		--						(CASE WHEN RejectionMaster.IsRework = 1 AND ISNULL(CastingFinalRejection.Weight, 0) != 0 THEN CastingFinalRejection.Weight
		--								ELSE RejectedQtyWeight END)
		--					) AS TotalWeight,
		--					Inhouserejmgnt.RejInwardId, 0 AS InwardID, Inhouserejmgnt.MetalId, '' castcodeNo,
		--					CONVERT(varchar(11), Inhouserejmgnt.RejectionDate, 106) AS RejectionDate, BatchNo AS HeatNo, Inhouserejmgnt.ReworkQty,
		--					(CASE WHEN Inhouserejmgnt.ReworkQty > 0 THEN '1' ELSE '0' END) AS IsRework,
		--					ISNULL(RejectionMaster.PendingQty, 0) AS TotalPendingQty, RejectQty AS TotalRejection, Inhouserejmgnt.Remarks,
		--					ReasonMaster.Reason, ReasonMaster.ReasonID, RejectionMaster.ProcessId, ISNULL(CastingHeatCode.HeatCode, '') AS HeatCode
		--					, Inhouserejmgnt.PlantId,
		--					isnull(CastingFinalRejection.IsDeassemble ,0 ) as IsDeassemble
		--			FROM	Inhouserejmgnt
		--					INNER JOIN CastingMaster ON CastingMaster.CastingID = Inhouserejmgnt.PartId
		--					INNER JOIN MetalMaster ON Inhouserejmgnt.MetalID = MetalMaster.MetalId
		--					LEFT JOIN CastingFinalRejection ON CastingFinalRejection.InwardID = Inhouserejmgnt.RejInwardID --and CastingFinalRejection.PartId = Inhouserejmgnt.PartId
		--					              and CastingFinalRejection.IsInHouseRej = 1
		--					INNER JOIN ReasonMaster ON ReasonMaster.ReasonID = Inhouserejmgnt.ReasonID
		--					INNER JOIN ProductionBatch ON Inhouserejmgnt.BatchID = ProductionBatch.batchID
		--					INNER JOIN RejectionMaster ON RejectionMaster.RejectionID = Inhouserejmgnt.RejectionID
		--					LEFT JOIN ProcessMaster ON ProcessMaster.ProcessId = RejectionMaster.ProcessId
		--					LEFT JOIN CastingHeatCode ON CastingHeatCode.ProductionBatchID = RejectionMaster.ProductionBatchId
		--									AND CastingHeatCode.CastingID = RejectionMaster.CastingID
		--									AND CastingHeatCode.HeatCodeID = RejectionMaster.HeatCodeId
		--			WHERE	(@CastingID IS NULL OR CastingMaster.CastingID = @CastingID )
		--					AND (@CastingName IS NULL OR CastingMaster.CastingName = @CastingName )
		--					AND (@IncludeZero = 1 OR (ISNULL(Inhouserejmgnt.OKQty, 0) <> 0) )
		--					AND (ISNULL(@PlantIdString, '') = '' OR Inhouserejmgnt.PlantId IN (SELECT Item FROM @Plant) )
		--					AND RejectionMaster.EntityID = @EntityId
		--					AND (@InhouseProcessID IS NULL OR RejectionMaster.ProcessId = @InhouseProcessID)
		--					AND (@ReasonID = 0 OR Inhouserejmgnt.ReasonID = @ReasonID)
		--					AND (@HeatCode IS NULL OR CastingHeatCode.HeatCode = @HeatCode)
		--					AND (@batchid = 0 OR ProductionBatch.BatchID = @batchid)
		--					AND (@DateFrom IS NULL OR CAST(Inhouserejmgnt.RejectionDate AS DATE) >= CAST(@DateFrom AS DATE))
		--					AND (@DateTo IS NULL OR CAST(Inhouserejmgnt.RejectionDate AS DATE) <= CAST(@DateTo AS DATE))
		--	) AS ManageRejection
		--	WHERE	ManageRejection.SrNo BETWEEN ((@PageNumber * @PageSize) + 1) AND ((@PageNumber + 1) * @PageSize)
		--	ORDER BY ManageRejection.SrNo
		--END
	
	END

	ELSE IF @parameter = 2
	BEGIN
		--IF (@IsCastCodeEnable = 0)
		--BEGIN

			SET @TotalRecords = (
					SELECT	COUNT(1)
					FROM	Inhouserejmgnt
							INNER JOIN CastingMaster ON CastingMaster.CastingID = Inhouserejmgnt.CastingID
							INNER JOIN MetalMaster ON Inhouserejmgnt.MetalID = MetalMaster.MetalId
							inner JOIN ProductionBatch ON Inhouserejmgnt.BatchID = ProductionBatch.batchID
							INNER JOIN RejectionMaster ON RejectionMaster.RejectionID = Inhouserejmgnt.RejectionID
							LEFT JOIN CastingHeatCode ON CastingHeatCode.ProductionBatchID = RejectionMaster.ProductionBatchId
											AND CastingHeatCode.CastingID = RejectionMaster.CastingID
											AND CastingHeatCode.HeatCodeID = RejectionMaster.HeatCodeId
							
					WHERE	(@CastingID IS NULL OR CastingMaster.CastingID = @CastingID )
							AND (@CastingName IS NULL OR CastingName = @CastingName )
							AND (@IncludeZero = 1 OR (ISNULL(Inhouserejmgnt.OKQty, 0) <> 0) )
							--AND (@PlantIdString IS NULL OR @PlantIdString = '' 
							--		OR Inhouserejmgnt.CAstingId IN (SELECT CastingId FROM dbo.PlantCastingMapping WHERE PlantId IN (SELECT Item FROM @Plant))
							--)
							AND (ISNULL(@PlantIdString, '') = '' OR Inhouserejmgnt.PlantId IN (SELECT Item FROM @Plant) )
							AND Inhouserejmgnt.EntityID = @EntityId
							AND (@InhouseProcessID IS NULL OR RejectionMaster.ProcessId = @InhouseProcessID)
							AND (@ReasonID = 0 OR RejectionMaster.ReasonID = @ReasonID)
							AND (@HeatCode IS NULL OR CastingHeatCode.HeatCode = @HeatCode)
							AND (@batchid = 0 OR ProductionBatch.BatchID = @batchid)
							AND (@IsPurchaseCasting = 0 oR BatchType = 3)
							AND (@DateFrom IS NULL OR CAST(Inhouserejmgnt.RejectionDate AS DATE) >= CAST(@DateFrom AS DATE))
							AND (@DateTo IS NULL OR CAST(Inhouserejmgnt.RejectionDate AS DATE) <= CAST(@DateTo AS DATE))
			)

		--END
		--ELSE
		--BEGIN

		--	SET @TotalRecords = (
		--			SELECT	COUNT(1) 
		--			FROM	Inhouserejmgnt
		--					INNER JOIN CastingMaster ON CastingMaster.CastingID = Inhouserejmgnt.CastingID
		--					INNER JOIN MetalMaster ON Inhouserejmgnt.MetalID = MetalMaster.MetalId
		--					INNER JOIN ProductionBatch ON Inhouserejmgnt.BatchID = ProductionBatch.batchID
		--					INNER JOIN RejectionMaster ON RejectionMaster.RejectionID = Inhouserejmgnt.RejectionID
		--					LEFT JOIN CastingHeatCode ON CastingHeatCode.ProductionBatchID = RejectionMaster.ProductionBatchId
		--									AND CastingHeatCode.CastingID = RejectionMaster.CastingID
		--									AND CastingHeatCode.HeatCodeID = RejectionMaster.HeatCodeId
							
		--			WHERE	(@CastingID IS NULL OR CastingMaster.CastingID = @CastingID)
		--					AND (@CastingName IS NULL OR CastingName = @CastingName )
		--					AND (@IncludeZero = 1 OR (ISNULL(Inhouserejmgnt.OKQty, 0) <> 0) )
		--					--AND (@PlantIdString IS NULL OR @PlantIdString = '' 
		--					--	OR Inhouserejmgnt.CAstingId IN (SELECT CastingId FROM dbo.PlantCastingMapping WHERE PlantId IN (SELECT Item FROM @Plant))
		--					--)
		--					AND (ISNULL(@PlantIdString, '') = '' OR Inhouserejmgnt.PlantId IN (SELECT Item FROM @Plant) )
		--					AND Inhouserejmgnt.EntityID = @EntityId
		--					AND (@InhouseProcessID IS NULL OR RejectionMaster.ProcessId = @InhouseProcessID)
		--					AND (@ReasonID = 0 OR RejectionMaster.ReasonID = @ReasonID)
		--					AND (@HeatCode IS NULL OR CastingHeatCode.HeatCode = @HeatCode)
		--					AND (@batchid = 0 OR ProductionBatch.BatchID = @batchid)
		--					AND (@DateFrom IS NULL OR CAST(Inhouserejmgnt.RejectionDate AS DATE) >= CAST(@DateFrom AS DATE))
		--					AND (@DateTo IS NULL OR CAST(Inhouserejmgnt.RejectionDate AS DATE) <= CAST(@DateTo AS DATE))
		--	)

		--END


		RETURN @TotalRecords
	END

	ELSE IF @parameter = 3
	BEGIN

		--IF (@IsCastCodeEnable = 0)
		--BEGIN

			SELECT	ROW_NUMBER() OVER (ORDER BY Inhouserejmgnt.RejectionDate DESC) AS SrNo,
					CastingCode, CastingName, MetalName, ProcessMaster.ProcessName, OKQty, Inhouserejmgnt.Rejqty,
					CONVERT(decimal(18, 3), 
						(CASE WHEN RejectionMaster.IsRework = 1 AND ISNULL(CastingFinalRejection.Weight, 0) != 0 THEN CastingFinalRejection.Weight
								ELSE RejectedQtyWeight END)
						/ (ISNULL(Inhouserejmgnt.rejqty, 0) + ISNULL(Inhouserejmgnt.OKQty, 0) + ISNULL(Inhouserejmgnt.ReworkQty, 0))
					) AS CastingnetWeight,
					CONVERT(decimal(18, 3), 
						(CASE WHEN RejectionMaster.IsRework = 1 AND ISNULL(CastingFinalRejection.Weight, 0) != 0 THEN CastingFinalRejection.Weight
								ELSE RejectedQtyWeight END)
					) AS TotalWeight,
					Inhouserejmgnt.RejInwardId, 0 AS InwardID, CONVERT(varchar(11), Inhouserejmgnt.RejectionDate, 106) AS RejectionDate,
					BatchNo AS HeatNo, Inhouserejmgnt.MetalId, Inhouserejmgnt.ReworkQty, Inhouserejmgnt.Remarks, ReasonMaster.Reason,
					ISNULL(CastingHeatCode.HeatCode, '') AS HeatCode
			FROM	Inhouserejmgnt
					INNER JOIN CastingMaster ON CastingMaster.CastingID = Inhouserejmgnt.CastingID
					INNER JOIN MetalMaster ON Inhouserejmgnt.MetalID = MetalMaster.MetalId
					LEFT JOIN CastingFinalRejection ON CastingFinalRejection.InwardID = Inhouserejmgnt.RejInwardID and CastingFinalRejection.IsInHouseRej = 1
					INNER JOIN ReasonMaster ON ReasonMaster.ReasonID = Inhouserejmgnt.ReasonID
					INNER JOIN dbo.RejectionMaster ON dbo.RejectionMaster.RejectionID = dbo.Inhouserejmgnt.RejectionID
					LEFT JOIN ProcessMaster ON ProcessMaster.ProcessId = RejectionMaster.ProcessId
					inner JOIN ProductionBatch ON Inhouserejmgnt.BatchID = ProductionBatch.batchID
					LEFT JOIN CastingHeatCode ON CastingHeatCode.ProductionBatchID = RejectionMaster.ProductionBatchId
									AND CastingHeatCode.CastingID = RejectionMaster.CastingID
									AND CastingHeatCode.HeatCodeID = RejectionMaster.HeatCodeId
			WHERE	(@CastingID IS NULL OR CastingMaster.CastingID = @CastingID )
					AND (@CastingName IS NULL OR CastingName = @CastingName )
					AND (@IncludeZero = 1 OR (ISNULL(Inhouserejmgnt.OKQty, 0) <> 0) )
					AND (ISNULL(@PlantIdString, '') = '' OR Inhouserejmgnt.PlantId IN (SELECT Item FROM @Plant) )
					AND RejectionMaster.EntityID = @EntityId
					AND (@InhouseProcessID IS NULL OR RejectionMaster.ProcessId = @InhouseProcessID)
					AND (@ReasonID = 0 OR Inhouserejmgnt.ReasonID = @ReasonID)
					AND (@HeatCode IS NULL OR CastingHeatCode.HeatCode = @HeatCode)
					AND (@batchid = 0 OR ProductionBatch.BatchID = @batchid)
					AND (@IsPurchaseCasting = 0 oR BatchType = 3)
					AND (@DateFrom IS NULL OR CAST(Inhouserejmgnt.RejectionDate AS DATE) >= CAST(@DateFrom AS DATE))
					AND (@DateTo IS NULL OR CAST(Inhouserejmgnt.RejectionDate AS DATE) <= CAST(@DateTo AS DATE))

		--END
		--ELSE
		--BEGIN

		--	SELECT	ROW_NUMBER() OVER (ORDER BY Inhouserejmgnt.RejectionDate DESC) AS SrNo,
		--			CastingCode, CastingName, MetalName, ProcessMaster.ProcessName, OKQty, Inhouserejmgnt.Rejqty, CastingnetWeight,
		--			(ISNULL(rejqty, 0) + ISNULL(Inhouserejmgnt.OKQty, 0) + ISNULL(Inhouserejmgnt.ReworkQty, 0)) * CastingnetWeight AS TotalWeight,
		--			Inhouserejmgnt.RejInwardId, 0 AS InwardID, Inhouserejmgnt.MetalId, '' castcodeNo,
		--			CONVERT(varchar(11), Inhouserejmgnt.RejectionDate, 106) AS RejectionDate,
		--			BatchNo AS HeatNo, Inhouserejmgnt.ReworkQty, Inhouserejmgnt.Remarks, ReasonMaster.Reason, ISNULL(CastingHeatCode.HeatCode, '') AS HeatCode
		--	FROM	Inhouserejmgnt
		--			INNER JOIN CastingMaster ON CastingMaster.CastingID = Inhouserejmgnt.CastingID
		--			INNER JOIN MetalMaster ON Inhouserejmgnt.MetalID = MetalMaster.MetalId
		--			INNER JOIN ReasonMaster ON ReasonMaster.ReasonID = Inhouserejmgnt.ReasonID
		--			INNER JOIN ProductionBatch ON Inhouserejmgnt.BatchID = ProductionBatch.batchID
		--			INNER JOIN RejectionMaster ON RejectionMaster.RejectionID = Inhouserejmgnt.RejectionID
		--			LEFT JOIN ProcessMaster ON ProcessMaster.ProcessId = RejectionMaster.ProcessId
		--			LEFT JOIN CastingHeatCode ON CastingHeatCode.ProductionBatchID = RejectionMaster.ProductionBatchId
		--				AND CastingHeatCode.CastingID = RejectionMaster.CastingID
		--				AND CastingHeatCode.HeatCodeID = RejectionMaster.HeatCodeId
		--	WHERE	(@CastingID IS NULL OR CastingMaster.CastingID = @CastingID )
		--			AND (@CastingName IS NULL OR CastingName = @CastingName )
		--			AND (@IncludeZero = 1 OR (ISNULL(Inhouserejmgnt.OKQty, 0) <> 0) )
		--			AND (ISNULL(@PlantIdString, '') = '' OR Inhouserejmgnt.PlantId IN (SELECT Item FROM @Plant) )
		--			AND RejectionMaster.EntityID = @EntityId
		--			AND (@InhouseProcessID IS NULL OR RejectionMaster.ProcessId = @InhouseProcessID)
		--			AND (@ReasonID = 0 OR Inhouserejmgnt.ReasonID = @ReasonID)
		--			AND (@HeatCode IS NULL OR CastingHeatCode.HeatCode = @HeatCode)
		--			AND (@batchid = 0 OR ProductionBatch.BatchID = @batchid)
		--			AND (@DateFrom IS NULL OR CAST(Inhouserejmgnt.RejectionDate AS DATE) >= CAST(@DateFrom AS DATE))
		--			AND (@DateTo IS NULL OR CAST(Inhouserejmgnt.RejectionDate AS DATE) <= CAST(@DateTo AS DATE))

		--END

	END

END
GO
