USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[HeatNo_Casting_Rejection_Entry]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================          
-- Author:  <Author,,Name>          
-- Create date: <Create Date,,>          
-- Description: <Description,,>          
-- =============================================          
CREATE PROCEDURE [dbo].[HeatNo_Casting_Rejection_Entry]
    @EntityID INT = 0 ,          
	@FromDate DATETIME = NULL , 
	@ToDate DATETIME = NULL,
	@CastingId UNIQUEIDENTIFIER = NULL
AS          
    BEGIN          
    
		SET NOCOUNT ON;          
		---- sp Production Parameter  25
			SELECT  BatchID ,                                    
                    BatchNo                                    
            FROM    ProductionBatch                                    
            WHERE   ISDeleted = 0    
					AND (@Castingid is null or Batchid in   
					(  select Batchid from knockout where Castingid=@Castingid and isdeleted=0 ))                                   
					--AND ( ISNULL(@PlantIdString,'') = ''                                    
					--OR ProductionBatch.PlantId IN (SELECT Item FROM @Plant))                                    
					AND dbo.ProductionBatch.EntityId = @EntityId                                    
            order by BatchNo

			--SELECT Distinct pb.batchID ,                                    
   --                 pb.batchno                                    
   --         FROM    RejectionMaster as rm 
			--Inner Join knockout knc on knc.CastingID=rm.CastingID and knc.IsDeleted=0
			--inner join ProductionBatch as pb ON pb.batchID=knc.batchid and pb.ISDeleted = 0                                
   --         WHERE   (@Castingid is null or rm.CastingID=@Castingid)
			--		AND rm.EntityId = @EntityId
			--		AND ( (@FromDate IS NULL AND @ToDate IS NULL)         
			--				  OR CONVERT(DATE, RejectionDate) BETWEEN CONVERT(DATE, @FromDate) AND CONVERT(DATE, @ToDate)        
			--			)  
   --         order by pb.batchno 

END 
GO
