USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CustomerwiseCastingDetail]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CustomerwiseCastingDetail]
     @StartDate DATETIME = NULL ,        
    @EndDate DATETIME = NULL ,        
     @CustomerID UNIQUEIDENTIFIER = NULL 
    
AS
BEGIN
      
            SELECT  SrNo ,        
                    CastingName ,        
                    CastingCode ,        
                    CastingNetWeight ,        
                    ProductionKGOpening ,        
                    OpeningStockKGOpening ,        
                    RejectionKGOpening ,        
                    DispatchedKGOpening ,        
                    ProductionKG ,        
                    OpeningStockKG ,        
                    RejectionKG ,        
                    MachiningRejectionKG ,        
                    DispatchedKG        
            FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY CastingMaster.CastingName ) AS SrNo ,        
                                CastingMaster.CastingName ,        
                                CastingMaster.CastingCode ,        
                                CastingMetal.CastingNetWeight ,        
                                ISNULL(( SELECT CAST(SUM(dbo.knockout.productionqty        
                                                         * dbo.knockout.perpcweight) AS VARCHAR(50))        
                                                + '/'        
                                                + CAST(SUM(dbo.knockout.productionqty) AS VARCHAR(50))        
                                         FROM   dbo.knockout        
                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.knockout.batchid        
                                         WHERE  dbo.knockout.castingid = dbo.CastingMaster.CastingId        
                                                AND knockout.IsDeleted = 0        
                                                AND dbo.ProductionBatch.IsDeleted = 0        
                                                AND ProductionDate < @StartDate        
                                       ), '0/0') AS ProductionKGOpening ,        
                                ISNULL(( SELECT SUM(dbo.knockout.productionqty)        
                                         FROM   dbo.knockout        
                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.knockout.batchid        
                                      WHERE  dbo.knockout.castingid = dbo.CastingMaster.CastingId        
                                                AND knockout.IsDeleted = 0        
                                                AND dbo.ProductionBatch.IsDeleted = 0        
                                                AND ProductionDate < @StartDate        
           ), 0) AS ProductionTempQty ,        
                                ISNULL(( SELECT ( SUM(FGInventoryHistory.TransactionQty) )        
                                         FROM   dbo.FGInventoryHistory        
                                                INNER JOIN dbo.CastingMaster CM ON CM.CastingId = dbo.FGInventoryHistory.CastingId        
        WHERE  dbo.FGInventoryHistory.castingid = dbo.CastingMaster.CastingId        
                                                AND ( FGInventoryHistory.Tagging = 'Opening Stock' )        
                                                AND ProcessDate < @StartDate        
                                       ), 0) AS OpeningStockTempQty ,        
                                ISNULL(( SELECT ( SUM(dbo.CastingFinalRejection.RejQty) )        
                                         FROM   dbo.CastingFinalRejection        
                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID        
                                         WHERE  dbo.CastingFinalRejection.castingid = dbo.CastingMaster.CastingId        
                                     AND dbo.ProductionBatch.IsDeleted = 0        
                                                AND CastingFinalRejection.RejQty > 0        
                                                AND ProductionDate < @StartDate        
                                       ), 0) AS RejectionTempQty ,        
                                ISNULL(( SELECT ( SUM(dispatchqty) )        
                                         FROM   ( SELECT    SUM(dbo.dispatchtrans.dispatchqty) dispatchqty        
                                                  FROM      dbo.dispatchtrans        
                                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid        
                                                  WHERE     dbo.dispatchtrans.castingid = dbo.CastingMaster.CastingId        
                                                            AND dispatchmaster.IsDeleted = 0        
                                                            AND dispatchtrans.IsDeleted = 0        
                                                            AND dispatchdate < @StartDate        
                                                  UNION ALL        
                                                  SELECT    SUM(DispatchSetCasting.DispatchedQty) dispatchqty        
                                                  FROM      dbo.DispatchSetCasting        
                                                            INNER JOIN dbo.DispatchSetItemTrans ON dbo.DispatchSetItemTrans.DispatchSetItemTransID = dbo.DispatchSetCasting.DispatchSetItemTransID        
                                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.DispatchSetItemTrans.dispatchid        
                                                            INNER JOIN dbo.CastingMaster CM ON CM.CastingId = dbo.DispatchSetCasting.CastingId        
                                                  WHERE     dbo.DispatchSetCasting.castingid = dbo.CastingMaster.CastingId        
                                                            AND dispatchmaster.IsDeleted = 0        
                                                            AND DispatchSetCasting.IsDeleted = 0        
                                                            AND DispatchSetItemTrans.IsDeleted = 0        
                                                            AND dispatchdate < @StartDate        
                                                ) AS Tbl        
  ), 0) AS DispatchedTempQty ,        
                                ISNULL(( SELECT ( SUM(dbo.knockout.productionqty) )        
                                         FROM   dbo.knockout        
         INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.knockout.batchid        
                                         WHERE  dbo.knockout.castingid = dbo.CastingMaster.CastingId        
                                                AND knockout.IsDeleted = 0        
                                                AND dbo.ProductionBatch.IsDeleted = 0        
                                                AND ProductionDate BETWEEN @StartDate AND @EndDate        
                   ), 0) AS ProdTempQty ,        
                                ISNULL(( SELECT CAST(SUM(FGInventoryHistory.TransactionQty        
                                                         * CM.CastingNetWeight) AS VARCHAR(50))        
                                                + '/'        
                                                + CAST(SUM(FGInventoryHistory.TransactionQty) AS VARCHAR(50))        
                                         FROM   dbo.FGInventoryHistory        
                                                INNER JOIN dbo.CastingMaster CM ON CM.CastingId = dbo.FGInventoryHistory.CastingId        
                                         WHERE  dbo.FGInventoryHistory.castingid = dbo.CastingMaster.CastingId        
                                           AND ( FGInventoryHistory.Tagging = 'Opening Stock' )        
                                                AND ProcessDate < @StartDate        
                                       ), '0/0') AS OpeningStockKGOpening ,        
                                ISNULL(( SELECT CAST(SUM(dbo.CastingFinalRejection.RejQty        
                                                         * dbo.CastingFinalRejection.Weight) AS VARCHAR(50))        
                                                + '/'        
                                                + CAST(SUM(dbo.CastingFinalRejection.RejQty) AS VARCHAR(50))        
                                         FROM   dbo.CastingFinalRejection        
                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID        
                                         WHERE  dbo.CastingFinalRejection.castingid = dbo.CastingMaster.CastingId        
                                                AND dbo.ProductionBatch.IsDeleted = 0        
                                                AND ProductionDate < @StartDate        
                                       ), '0/0') AS RejectionKGOpening ,        
                                ISNULL(( SELECT CAST(SUM(Total) AS VARCHAR(50))        
                                                + '/'        
                                                + CAST(SUM(dispatchqty) AS VARCHAR(50))        
                                         FROM   ( SELECT    SUM(dbo.dispatchtrans.TotalWeight) Total ,        
                                                            SUM(dbo.dispatchtrans.dispatchqty) dispatchqty        
                                                  FROM      dbo.dispatchtrans        
                                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid        
                                                  WHERE     dbo.dispatchtrans.castingid = dbo.CastingMaster.CastingId        
                                                            AND dispatchmaster.IsDeleted = 0        
                                                            AND dispatchtrans.IsDeleted = 0        
                                                            AND dispatchdate < @StartDate        
                                                  UNION ALL        
                                                  SELECT    SUM(DispatchSetCasting.DispatchedQty        
                                                              * CM.CastingNetWeight) Total ,        
     SUM(DispatchSetCasting.DispatchedQty) dispatchqty     
                                                  FROM      dbo.DispatchSetCasting        
                                                            INNER JOIN dbo.DispatchSetItemTrans ON dbo.DispatchSetItemTrans.DispatchSetItemTransID = dbo.DispatchSetCasting.DispatchSetItemTransID        
                                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.DispatchSetItemTrans.dispatchid        
                                                            INNER JOIN dbo.CastingMaster CM ON CM.CastingId = dbo.DispatchSetCasting.CastingId        
                   WHERE     dbo.DispatchSetCasting.castingid = dbo.CastingMaster.CastingId        
                                                            AND dispatchmaster.IsDeleted = 0        
                                                            AND DispatchSetCasting.IsDeleted = 0        
                                                            AND DispatchSetItemTrans.IsDeleted = 0        
                                                            AND dispatchdate < @StartDate        
                                                ) AS Tbl        
                                       ), '0/0') AS DispatchedKGOpening ,        
                                ISNULL(( SELECT CAST(SUM(dbo.knockout.productionqty        
                                                         * dbo.knockout.perpcweight) AS VARCHAR(50))        
                                                + '/'        
                                                + CAST(SUM(dbo.knockout.productionqty) AS VARCHAR(50))        
                                         FROM   dbo.knockout        
                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.knockout.batchid        
                                         WHERE  dbo.knockout.castingid = dbo.CastingMaster.CastingId        
                                                AND knockout.IsDeleted = 0        
                                                AND dbo.ProductionBatch.IsDeleted = 0        
                                                AND ProductionDate BETWEEN @StartDate AND @EndDate        
                                       ), '0/0') AS ProductionKG ,        
                                ISNULL(( SELECT CAST(SUM(FGInventoryHistory.TransactionQty        
                                                         * CM.CastingNetWeight) AS VARCHAR(50))        
                                                + '/'        
                                                + CAST(SUM(FGInventoryHistory.TransactionQty) AS VARCHAR(50))        
                                         FROM   dbo.FGInventoryHistory        
                                                INNER JOIN dbo.CastingMaster CM ON CM.CastingId = dbo.FGInventoryHistory.CastingId        
                                         WHERE  dbo.FGInventoryHistory.castingid = dbo.CastingMaster.CastingId        
                                                AND ( FGInventoryHistory.Tagging = 'Opening Stock' )        
                                                AND ProcessDate BETWEEN @StartDate AND @EndDate        
                                       ), '0/0') AS OpeningStockKG ,        
                                ISNULL(( SELECT CAST(SUM(dbo.CastingFinalRejection.RejQty        
                                                         * dbo.CastingFinalRejection.Weight) AS VARCHAR(50))        
                                                + '/'        
                                                + CAST(SUM(dbo.CastingFinalRejection.RejQty) AS VARCHAR(50))        
                                         FROM   dbo.CastingFinalRejection        
                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID        
                                         WHERE  dbo.CastingFinalRejection.castingid = dbo.CastingMaster.CastingId        
                                                AND dbo.ProductionBatch.IsDeleted = 0        
                                             AND IsInHouseRej = 1        
                                                AND ProductionDate BETWEEN @StartDate AND @EndDate        
                                       ), '0/0') AS RejectionKG ,        
                                ISNULL(( SELECT CAST(SUM(dbo.CastingFinalRejection.RejQty        
                                                         * dbo.CastingFinalRejection.Weight) AS VARCHAR(50))        
                                                + '/'        
                                                + CAST(SUM(dbo.CastingFinalRejection.RejQty) AS VARCHAR(50))        
                                         FROM   dbo.CastingFinalRejection        
                                                INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingFinalRejection.ProductionBatchID        
                                         WHERE  dbo.CastingFinalRejection.castingid = dbo.CastingMaster.CastingId        
                                                AND dbo.ProductionBatch.IsDeleted = 0        
                                                AND IsInHouseRej = 0        
                                                AND ProductionDate BETWEEN @StartDate AND @EndDate        
                                       ), '0/0') AS MachiningRejectionKG ,        
                                ISNULL(( SELECT CAST(SUM(Total) AS VARCHAR(50))        
                                                + '/'        
                                                + CAST(SUM(dispatchqty) AS VARCHAR(50))        
                                         FROM   ( SELECT    SUM(dbo.dispatchtrans.TotalWeight) Total ,        
                                                            SUM(dbo.dispatchtrans.dispatchqty) dispatchqty        
                                                  FROM      dbo.dispatchtrans        
                                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid        
                                                  WHERE     dbo.dispatchtrans.castingid = dbo.CastingMaster.CastingId        
                                                            AND dispatchmaster.IsDeleted = 0        
                                                            AND dispatchtrans.IsDeleted = 0        
                                                            AND dispatchdate BETWEEN @StartDate AND @EndDate        
                                                            AND ( @CustomerId IS NULL        
                                                              OR dispatchmaster.CustomerId = @CustomerId        
                                                              )        
                                                  UNION ALL        
                                                  SELECT    SUM(dbo.DispatchSetCasting.DispatchedQty        
                                                              * CM.CastingNetWeight) Total ,        
                                                            SUM(DispatchSetCasting.DispatchedQty) dispatchqty        
                                                  FROM      dbo.DispatchSetCasting        
                                                            INNER JOIN dbo.CastingMaster CM ON CM.CastingId = dbo.DispatchSetCasting.CastingId        
                                                            INNER JOIN dbo.DispatchSetItemTrans ON dbo.DispatchSetItemTrans.DispatchSetItemTransID = dbo.DispatchSetCasting.DispatchSetItemTransID        
                                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.DispatchSetItemTrans.dispatchid        
                                                  WHERE     dbo.DispatchSetCasting.castingid = dbo.CastingMaster.CastingId        
                                                            AND dispatchmaster.IsDeleted = 0        
                                                            AND DispatchSetCasting.IsDeleted = 0        
                                                            AND DispatchSetItemTrans.IsDeleted = 0        
                                                       AND dispatchdate BETWEEN @StartDate AND @EndDate        
                                                            AND ( @CustomerId IS NULL        
                                                              OR dispatchmaster.CustomerId = @CustomerId        
                                                              )        
                                                ) AS tbl        
                                       ), '0/0') AS DispatchedKG        
                      FROM   dbo.CastingMaster        
                                INNER JOIN dbo.CastingMetal ON dbo.CastingMetal.castingID = dbo.CastingMaster.CastingId        
                      WHERE     ( dbo.CastingMaster.Dieid IN (        
                                  SELECT    dbo.CustomerPatternMapping.PatternId        
                                  FROM      dbo.CustomerPatternMapping        
                                  WHERE     CustomerPatternMapping.CustomerId = @CustomerId )        
                                  OR CastingMaster.CastingId IN (        
                                  SELECT    CastingId        
                                  FROM      dbo.DispatchSetCasting        
                                            INNER JOIN dbo.DispatchSetItemTrans ON dbo.DispatchSetItemTrans.DispatchSetItemTransID = dbo.DispatchSetCasting.DispatchSetItemTransID        
                                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.DispatchSetItemTrans.dispatchid        
                                                              AND dispatchmaster.CustomerID = @customerID )        
                                )        
                      GROUP BY  CastingMaster.CastingName ,        
                                CastingMaster.CastingCode ,        
                                CastingMaster.CastingID ,        
                                CastingMetal.CastingNetWeight        
                    ) S        
            WHERE   ( ProductionTempQty - OpeningStockTempQty        
                      - RejectionTempQty - DispatchedTempQty ) > 0        
                    OR ProdTempQty > 0        
                  
                  
END

GO
