USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ManageWhatsappManualConfig]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Prashant>
-- Create date: <2024-05-15>
-- Description:	<Manage Whatsapp Manual Config>
-- =============================================

CREATE PROCEDURE [dbo].[ManageWhatsappManualConfig]
	@Parameter int,
	@Id int = 0,
	@WhatsappConfigID int = 0,
	@EntityId int = 0,
	@IsEnable bit = 0,
	@TemplateName varchar(max) = NULL,
	@TemplateId varchar(100) = NULL
AS
BEGIN

	SET NOCOUNT ON;

	IF(@Parameter = 1) -- For User Map time entry insert
	BEGIN
		IF NOT EXISTS(SELECT Id FROM WhatsappManualConfig WHERE WhatsappConfigID = @WhatsappConfigID)
		BEGIN
			INSERT INTO WhatsappManualConfig (WhatsappConfigID, EntityId, IsEnable, CreatedOn, ModifiedOn)
			VALUES (@WhatsappConfigID, @EntityId, @IsEnable, GETDATE(), GETDATE())
		END 
	END 
	ELSE IF(@Parameter = 2) -- Enable / Disable click 
	BEGIN
		IF NOT EXISTS(SELECT Id FROM WhatsappManualConfig WHERE WhatsappConfigID = @WhatsappConfigID)
		BEGIN
			INSERT INTO WhatsappManualConfig (WhatsappConfigID, EntityId, IsEnable, CreatedOn, ModifiedOn)
			VALUES (@WhatsappConfigID, @EntityId, @IsEnable, GETDATE(), GETDATE())
		END 
		ELSE
		BEGIN
			UPDATE WhatsappManualConfig 
			SET WhatsappConfigID = @WhatsappConfigID, EntityId = @EntityId, IsEnable = @IsEnable, ModifiedOn = GETDATE()
			WHERE WhatsappConfigID = @WhatsappConfigID AND EntityId = @EntityId
		END 
	END 
	ELSE IF(@Parameter = 3) -- Bind in Template load time
	BEGIN
		SELECT IsEnable 
		FROM WhatsappManualConfig 
		WHERE WhatsappConfigID = @WhatsappConfigID AND EntityId = @EntityId
	END 
	ELSE IF(@Parameter = 4) -- Check send Message time 
	BEGIN
		SELECT IsEnable FROM WhatsappManualConfig wmc
			INNER JOIN WhatsappConfig wc ON wc.id = wmc.WhatsappConfigID
		WHERE TemplateName = @TemplateName AND wmc.EntityId = @EntityId AND TemplateId = @TemplateId

	END 
END

GO
