USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Insert_MatchPlate_master]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Insert_MatchPlate_master]
	@MatchPlateCode VARCHAR(50) = NULL,
	@MatchPlateName VARCHAR(50) = NULL,
	@MatchPlateSize VARCHAR(50) = NULL ,
	@MatchPlateType VARCHAR(50) = NULL,
	@MoldLineID uniqueidentifier = NULL,
	@BunchWeight FLOAT = 0,
	@SandRatio FLOAT = 0,
	@SandWeight FLOAT = 0,
	 @IsDeleted INT = 0 ,
    @Created_By INT = 0 ,
     @Created_On DATETIME = NULL ,
    @Modified_By INT = 0 ,
    @Modified_On DATETIME = NULL,
    @EntityID INT = 0,
    @MatchPlateId UNIQUEIDENTIFIER = NULL,
    @MatchPlateDetails AS XML = NULL,
    @MatchPlateFurnaceTranseDetails AS XML = NULL,
    @MoldboxId uniqueidentifier = NULL
AS
BEGIN
		SET @MatchPlateId = NEWID()
		
                INSERT  INTO MatchPlateMaster
                        ( MatchPlateId ,
                          MatchPlateCode ,
                          MatchPlateName ,
                          MatchPlateSize ,
                          MatchPlateType ,
                          MoldLineID ,
                          BunchWeight ,
                          SandRatio ,
                          SandWeight ,
                          CreatedBy ,
                          CreatedOn ,
                          EntityID ,
                          MoldboxId
                        )
                VALUES  ( @MatchPlateId ,
                          @MatchPlateCode ,
                          @MatchPlateName ,
                          @MatchPlateSize ,
                          @MatchPlateType ,
                          @MoldLineID ,
                          @BunchWeight ,
                          @SandRatio ,
                          @SandWeight ,
                          @Created_By ,
                          @Created_On ,
                          @EntityID,
                          @MoldboxId                  
                        )
			
                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
                
                  INSERT  INTO MatchPlateTranse
                    (
                      MatchPlateId ,
                      PatternId ,
                      NoOfCavity 
                      --SrNo,
                      --CastingId
                    )
                    SELECT  @MatchPlateId ,
                               
                                Node.value('(PatternId )[1]',
                                           'UniqueIdentifier') AS 'PatternId' ,                               
                                Node.value('(NoOfCavity )[1]', 'int') AS 'NoOfCavity'
                                --Node.value('(SrNo )[1]', 'int') AS 'SrNo',
                                --Node.value('(CastingId )[1]',
                                --           'UniqueIdentifier') AS 'CastingId' 
                                
                     FROM    @MatchPlateDetails.nodes('/DocumentElement/MatchPlateTranse')
                                AS TEMPXML ( Node )
                                
                                
                  IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
                    
                   INSERT  INTO dbo.MatchPlateFurnaceTranse
                        ( MatchPlateId ,                          
                          Furnace ,
                          NoOfBoxes 
			            )
			       SELECT  @MatchPlateId , 
                               
                                Node.value('(Furnace )[1]',
                                           'varchar(50)') AS 'Furnace' , 
                                Node.value('(NoOfBoxes )[1]', 'int') AS 'NoOfBoxes' 
                        FROM    @MatchPlateFurnaceTranseDetails.nodes('/DocumentElement/MatchPlateFurnaceTranse')
                                AS TEMPXML ( Node )
 
END
GO
