USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Update_DepartmentMaster]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Update_DepartmentMaster]
	@DepartmentId INT = NULL,
	@DepartmentName VARCHAR(30) = NULL,
	@DepartmentCode VARCHAR(30) = NULL
AS
BEGIN
	
            UPDATE  dbo.DepartmentMaster
            SET     DepartmentName = @DepartmentName ,
                    DepartmentCode = @DepartmentCode
            WHERE   DepartmentId = @DepartmentId

      
END
GO
