USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ItemWiseOrderVsDispatchReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================  
-- Author:  <YASHVI SHAH>  
-- Create date: <2 NOV 2017>  
-- Description: <This procedure is used to show item wise Order vs Dispatch Report>  
-- =============================================  
--ItemWiseOrderVsDispatchReport 1, '2019-04-01', '2020-03-28', 0, 0, 1  
CREATE PROCEDURE [dbo].[ItemWiseOrderVsDispatchReport]  
    @Parameter INT = 0 ,  
    @DateFrom DATETIME = NULL ,  
    @DateTo DATETIME = NULL ,  
    @Flag BIT = 0 ,  
    @Active BIT = 0 ,  
    @ExcludeZero BIT = 0 ,  
    @CustomerId UNIQUEIDENTIFIER = NULL ,  
    @castingID UNIQUEIDENTIFIER = NULL ,  
    @PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityId INT = 0 ,
	@OrderApprovalRequire bit = 0
AS  
    BEGIN  
    
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
        IF @Parameter = 1  
            BEGIN  
   
    IF ( @Flag = 0 )  
                    BEGIN   
   
                        SELECT  ROW_NUMBER() OVER ( ORDER BY a.CastingName ) AS RowNo ,  
                                *, CASE WHEN TotalOrderWeight  <> 0 and TotalDispatchWeight <> 0 THEN CAST (((TotalDispatchWeight/TotalOrderWeight) * 100) as decimal(18,2)) 
                                ELSE 0--(((TotalOrderWeight - TotalDispatchWeight)/ 1) * 100)
                                END WieghtPer
                        FROM    ( SELECT    CastingMaster.CastingCode ,  
                                            CastingMaster.CastingName ,  
                                            ISNULL(OrderTranse.RequiredQty, 0) AS [TotalOrderQty] ,  
                                            ISNULL(CAST(( OrderTranse.TotalWeight ) AS DECIMAL(18,  
                                                              3)), 0) AS [TotalOrderWeight] ,  
                                            ISNULL(OrderTranse.TotalAmount, 0) AS [OrderValue] ,  
                                            ISNULL(dispatch.dispatchqty, 0) AS [TotalDispatchQty] ,  
                                            CASE WHEN ( CAST(( dispatch.TotalWeight ) AS DECIMAL(18,  
                                                              3)) ) < 0 THEN 0  
                                                 ELSE ISNULL(CAST(( dispatch.TotalWeight ) AS DECIMAL(18,  
                                                              3)), 0)  
                                            END TotalDispatchWeight ,  
                                            ISNULL(dispatch.TotalAmount, 0) AS [TotalDispatchAmount] ,  
                                            CASE WHEN ( ISNULL(OrderTranse.RequiredQty,  
                                                              0)  
                                                        - ISNULL(dispatch.dispatchqty,  
                                                              0) ) < 0 THEN 0  
                                                 ELSE ISNULL(OrderTranse.RequiredQty,  
                                                             0)  
                                                      - ISNULL(dispatch.dispatchqty,  
                                                              0)  
                                            END TotalPendingQty ,  
                                            CASE WHEN ( CAST(ISNULL(OrderTranse.TotalWeight,  
                                                              0)  
                                                        - ISNULL(dispatch.TotalWeight,  
                                                              0) AS DECIMAL(18,  
                                                              3)) ) < 0 THEN 0  
                                                 ELSE CAST(ISNULL(OrderTranse.TotalWeight,  
                                                              0)  
                                                      - ISNULL(dispatch.TotalWeight,  
                                                              0) AS DECIMAL(18,  
                                                              3))  
                                            END TotalPendingWeight ,  
                                            CASE WHEN ( ISNULL(OrderTranse.TotalAmount,  
                                                              0)  
                                                        - ISNULL(dispatch.TotalAmount,  
                                                              0) ) < 0 THEN 0  
                                  ELSE ISNULL(OrderTranse.TotalAmount,  
                                                             0)  
                                                      - ISNULL(dispatch.TotalAmount,  
                                                              0)  
                                            END TotalPendingAmount ,  
                                            (isnull(CastingStock.stock,0) + isnull(CastingJoStock.Stock,0)) as Stock  ,  
                                            ISNULL(knockoutTable.ProductionQty,  
                                                   0) AS ProductionQty ,  
                                            ISNULL(CAST(knockoutTable.ProductionWeight AS DECIMAL(10,  
                                                              3)), 0) AS ProductionWeight ,  
                                            ISNULL(RejectionTable.RejQty, 0) AS RejQty ,  
                                            ISNULL(CAST(RejectionTable.RejWeight AS DECIMAL(10,  
                                                              3)), 0) AS RejWeight  
                                  FROM      CastingMaster  
                                            Left JOIN (
														Select	SUM(stock) as Stock,castingid from CastingStock 
														group by castingid 
														) as CastingStock ON CastingStock.castingid = CastingMaster.CastingId  
                                            Left JOIN (
														Select	SUM(stock) as Stock,castingid from CastingJoStock 
														group by castingid 
														) as CastingJoStock ON CastingJoStock.castingid = CastingMaster.CastingId  
                                            
                                            LEFT JOIN ( SELECT  
                                                              OrderTranse.CastingId AS CastingID ,  
                                                              SUM(OrderTranse.RequiredQty) AS RequiredQty ,  
                                                              SUM(OrderTranse.TotalAmount) AS TotalAmount ,  
                                                              SUM(OrderTranse.TotalWeight) AS TotalWeight  
                                                        FROM  OrderTranse  
                                                              INNER JOIN OrderMaster ON OrderTranse.CustomerOrderId = OrderMaster.CustomerOrderId  
                                                        WHERE OrderDate BETWEEN @DateFrom AND @DateTo  
                                                              AND OrderMaster.maxversion = 1  
                                                              AND OrderTranse.isdeleted = 0  
                                                              AND OrderMaster.IsDeleted = 0  
                                                              AND OrderTranse.IsShortclose = 0  
                                                              AND OrderMaster.IsScheduled = 0  
                                                              And OrderMaster.JobIn = 0
                                                              AND ( @PlantIdString IS NULL  
                                                              OR @PlantIdString = ''  
                                                              OR CastingId IN (  
                                                              SELECT  
                                                              CastingId  
                                                              FROM  
                                                              dbo.PlantCastingMapping  
                                                              where PlantId in (SELECT Item FROM @Plant) )  
                                                              )  
                                                              AND OrderMaster.EntityID = @EntityId  
															  AND ( @OrderApprovalRequire = 0
																	OR isapprove = 1)
                                                        GROUP BY CastingId  
                                                      ) AS OrderTranse ON OrderTranse.CastingId = CastingMaster.CastingId    
              
           -- LEFT JOIN (SELECT dispatchtrans.CastingId,dispatchtrans.dispatchqty,dispatchtrans.TotalAmount,dispatchtrans.TotalWeight from dispatchtrans) as dispatch ON dispatch.CastingId = CastingMaster.CastingId  
                                            LEFT JOIN ( SELECT  
                                                              knockout.CastingId ,  
                                                              SUM(knockout.productionqty) AS ProductionQty ,  
                                                              SUM(knockout.productionqty  
                                                              * knockout.perpcweight) AS ProductionWeight  
                                                        FROM  knockout  
                                                              INNER JOIN ProductionBatch ON knockout.batchid = ProductionBatch.batchID  
                                                              AND ProductionDate BETWEEN @DateFrom AND @DateTo  
                                                              AND ProductionBatch.isdeleted = 0  
                                                              AND BatchType = 0  
                                                              AND knockout.IsDeleted = 0  
                                                              AND ( @PlantIdString IS NULL  
                                                              OR @PlantIdString = ''  
                                                              OR knockout.CastingId IN (  
                                                              SELECT  
                                                              CastingId  
                                                              FROM  
                                                              dbo.PlantCastingMapping  
                                                            where PlantId in (SELECT Item FROM @Plant))  
                                                              )  
                                                              AND EntityID = @EntityId  
                                                        GROUP BY castingid  
                                                      ) AS knockoutTable ON knockoutTable.CastingId = CastingMaster.CastingId  
                                            LEFT JOIN ( SELECT  
                                                              Castingid ,  
                                                              SUM(Rejqty) AS RejQty ,  
                                                              SUM(CastingFinalRejection.Weight) AS RejWeight  
                                                        FROM  CastingFinalRejection  
                                                        WHERE RejectionDate BETWEEN @DateFrom AND @DateTo  
                                                              AND IsInHouseRej = 1  
                                                              AND ( @PlantIdString IS NULL  
                                                              OR @PlantIdString = ''  
                                                              OR CastingFinalRejection.CastingId IN (  
                                                              SELECT  
                                                              CastingId  
                                                              FROM  
                                                              dbo.PlantCastingMapping  
                                                            where PlantId in (SELECT Item FROM @Plant) )  
                                                              )  
                                                        GROUP BY CastingID  
                                                      ) AS RejectionTable ON RejectionTable.CastingID = CastingMaster.CastingId  
               
            -- INNER JOIN OrderMaster ON OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId  
            --INNER JOIN  CastingMaster ON OrderTranse.CastingId = Castingmaster.castingid   
                                            LEFT JOIN ( SELECT                                                                dispatchtrans.castingid ,  
                                                              SUM(dispatchtrans.DispatchQty) AS DispatchQty ,  
                                                              SUM(dispatchtrans.TotalWeight) AS TotalWeight ,  
                                                              SUM(dispatchtrans.TotalAmount) AS TotalAmount  
                                                        FROM  dispatchtrans  
                                                              INNER JOIN DispatchMaster ON dispatchtrans.dispatchid = DispatchMaster.dispatchid  
                                                        WHERE dispatchtrans.IsDeleted = 0 
															  And TypeOfVoucher = 0 
                                                              AND dispatchmaster.IsDeleted = 0  
                                                              AND isProforma = 0  
                                                              AND dispatchmaster.dispatchdate BETWEEN @DateFrom  
                                                              AND  
                                                              @DateTo  
                                                              AND ( @PlantIdString IS NULL  
                                                              OR @PlantIdString = ''  
                                                              OR Dispatchtrans.CastingId IN (  
                                                              SELECT  
                                                              CastingId  
                                                              FROM  
                                                              dbo.PlantCastingMapping  
                                                            where PlantId in (SELECT Item FROM @Plant) )  
                                                              )  
                                                              AND EntityID = @EntityId  
                                                        GROUP BY dispatchtrans.castingid  
                                                      ) AS dispatch ON dispatch.castingid = CastingMaster.CastingId  
            
           -- LEFT join knockout on knockout.castingid = CastingMaster.CastingId  
          --  inner join CastingFinalRejection on CastingFinalRejection.CastingID = CastingMaster.CastingId  
           -- WHERE (@castingID IS NULL OR OrderTranse.CastingId = @castingID)  
           -- AND   (@CustomerId IS NULL OR OrderMaster.CustomerID = @CustomerId)  
           -- AND   (OrderMaster.OrderDate BETWEEN @DateFrom  
            --                               AND  
            --     
                                  WHERE     ( @castingID IS NULL  
                                              OR CastingMaster.CastingId = @castingID  
                                            )  
                                            AND ( @CustomerId IS NULL  
                                                  OR CastingMaster.Dieid IN (  
                                                  SELECT    PatternId  
                                                  FROM      CustomerPatternMapping  
                                                  WHERE     CustomerId = @CustomerId  
                                                  --UNION  
                                                  --SELECT    Dieid AS PatternID  
                                                  --FROM      CustomerDieMapping  
                                                  --WHERE     CustomerId = @CustomerId
                                                   )  
                                                )  
                                            AND ( @PlantIdString IS NULL  
                                                  OR @PlantIdString = ''  
                                                  OR CastingMaster.CastingId IN (  
                                                  SELECT    CastingId  
                                                  FROM      dbo.PlantCastingMapping  
                                                           where PlantId in (SELECT Item FROM @Plant))  
                                                )  
                                            AND CastingMaster.EntityID = @EntityId  
            --Added By Yashvi for not showning Part   
     AND CastingMaster.ParentID IS NULL  
                                ) AS a  
                        WHERE   ( @ExcludeZero = 0  
                                  OR a.TotalOrderQty + a.ProductionQty  
                                  + a.RejQty + a.TotalDispatchQty <> 0  
                                )              
                    END   
                ELSE  
                    BEGIN   
       
                        SELECT  ROW_NUMBER() OVER ( ORDER BY CustomerName, castingname, castingcode, metalname ) AS RowNo ,  
                                aa.*  
                        FROM    ( SELECT  DISTINCT  
                                            CASE WHEN @Active = 1  
                                                 THEN dbo.CustomerMaster.CustomerCode  
                                                 ELSE dbo.CustomerMaster.CustomerName  
                                            END AS CustomerName ,  
   --case when @Active=1 then CustomerMaster.CustomerCode else  CustomerMaster.CustomerName end CustomerName,  
   --dbo.CustomerMaster.CustomerName,  
   --dbo.CustomerMaster.CustomerCode,  
                                            dbo.CastingMaster.CastingName ,  
                                            dbo.CastingMaster.CastingCode ,  
                                            dbo.MetalMaster.MetalName ,  
                                            a.CastingNetWeight ,  
                                            a.OrderedQty AS TotalOrderQty ,  
                                            a.ProductionQty ,  
                                            a.RejectionQty AS RejQty ,  
                                            a.DispatchQty AS TotalDispatchQty ,  
                                            a.CurrentStock AS Stock,  
                                            a.SchQty AS SchBalance ,  
                                            a.SchWeight  
                                  FROM      ( SELECT    CustomerId ,  
                                                        PatternId  
                                              FROM      CustomerPatternMapping  
                                              --UNION  
                                              --SELECT    CustomerId ,  
                                              --          DieId  
                                              --FROM      dbo.CustomerDieMapping  
                                            ) AS b  
                                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.Dieid = b.PatternId  
                                            INNER JOIN dbo.CastingMetal ON dbo.CastingMetal.castingID = dbo.CastingMaster.CastingId  
                                            INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.CastingMetal.metalid  
                                            INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = b.CustomerId  
                                            LEFT JOIN ( SELECT  
                                                              dbo.CastingMetal.castingID ,  
                                                              dbo.CastingMetal.metalid ,  
                                                              dbo.CastingMetal.CastingNetWeight ,  
                                                              ISNULL(OrderTable.RequiredQty,  
                                                              0) AS OrderedQty ,  
                                                              ISNULL(ProductionTable.ProductionQty,  
                                                              0) AS ProductionQty ,  
                                                              ISNULL(RejectionTable.RejQty,  
                                                              0) AS RejectionQty ,  
                                                              ISNULL(DispatchTable.DispatchQty,  
                                                              0) AS DispatchQty ,  
                                                             (ISNULL(SUM(CastingGradeStock.Stock),  
                                                              0) + ISNULL(SUM(CastingJoGradeStock.Stock),  
                                                              0)) AS CurrentStock ,  
                                                              ISNULL(OrderTable.RequiredQty,  
                                                              0)  
                                                              - ISNULL(DispatchTable.DispatchQty,  
                                                              0) AS SchQty ,  
                                                              ( ISNULL(OrderTable.RequiredQty,  
                                                              0)  
                                                              - ISNULL(DispatchTable.DispatchQty,  
                                                              0) )  
                                                              * dbo.CastingMetal.CastingNetWeight AS SchWeight  
                                                        FROM  dbo.CastingMetal  
                                                              LEFT JOIN (	Select SUM(Stock) as Stock , CastingID ,MetalID from CastingGradeStock
																			Group By CastingID,MetalID 
																		) 
																		as CastingGradeStock ON CastingGradeStock.CastingID = dbo.CastingMetal.castingID  
																	AND CastingGradeStock.MetalID = dbo.CastingMetal.metalid  
                                                              LEFT JOIN (	Select SUM(Stock) as Stock , CastingID ,MetalID 
																			from CastingjoGradeStock
																			Group By CastingID,MetalID 
																		) 
																		as CastingjoGradeStock ON CastingjoGradeStock.CastingID = dbo.CastingMetal.castingID  
																	AND CastingjoGradeStock.MetalID = dbo.CastingMetal.metalid  
                                                              
                                                              LEFT JOIN ( SELECT  
                                                              dbo.OrderTranse.CastingId AS CastingID ,  
                                                              dbo.OrderTranse.MetalID ,  
                                                              SUM(dbo.OrderTranse.RequiredQty) AS RequiredQty ,  
                                                              SUM(dbo.OrderTranse.TotalAmount) AS TotalAmount ,  
                                                              SUM(dbo.OrderTranse.TotalWeight) AS TotalWeight  
                                                              FROM  
                                                              dbo.OrderTranse  
                                                              INNER JOIN dbo.OrderMaster ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId  
                                                              WHERE  
                                                              dbo.OrderMaster.OrderDate BETWEEN @DateFrom  
                                                              AND  
                                                              @DateTo  
                                                              AND dbo.OrderMaster.maxversion = 1  
                                                              AND dbo.OrderTranse.isdeleted = 0  
                                                              AND dbo.OrderMaster.IsDeleted = 0  
                                                              AND dbo.OrderTranse.IsShortclose = 0  
                                                              AND dbo.OrderMaster.IsScheduled = 0  
                                                              and OrderMaster.JobIn = 0
                                                              ANd (@PlantIdString is null  
																 Or @PlantIdString = ''  
																 Or OrderMaster.PlantId in   
																 (select Item from @Plant)  
																  )  
                                                              AND EntityID = @EntityId  
															  AND ( @OrderApprovalRequire = 0
																	OR isapprove = 1)
                                                              GROUP BY dbo.OrderTranse.CastingId ,  
                                                              dbo.OrderTranse.MetalID  
                                                              ) AS OrderTable ON OrderTable.CastingID = dbo.CastingMetal.castingID  
                                                              AND OrderTable.MetalID = dbo.CastingMetal.metalid  
                                                              LEFT JOIN ( SELECT  
																dbo.knockout.CastingId ,  
                                                              dbo.ProductionBatch.MetalID ,  
                                                              SUM(dbo.knockout.productionqty) AS ProductionQty ,  
                                                              SUM(dbo.knockout.productionqty  
                                                              * dbo.knockout.perpcweight) AS ProductionWeight  
                                                              FROM  
                                                              dbo.knockout  
                                                              INNER JOIN dbo.ProductionBatch ON dbo.knockout.batchid = dbo.ProductionBatch.batchID  
                                                              AND dbo.ProductionBatch.ProductionDate BETWEEN @DateFrom  
                                                              AND  
                                                              @DateTo  
                                                              AND dbo.ProductionBatch.isdeleted = 0  
                                                              AND dbo.ProductionBatch.BatchType = 0  
                                                              AND dbo.knockout.IsDeleted = 0  
                                                              AND ( @PlantIdString IS NULL  
                                                              OR @PlantIdString = ''  
                                                              OR knockout.CastingId IN (  
                                                              SELECT  
                                                              CastingId  
                                                              FROM  
                                                              dbo.PlantCastingMapping  
                                                            where PlantId in (SELECT Item FROM @Plant))  
                                                              )  
                                                              AND EntityID = @EntityId  
                                                              GROUP BY dbo.knockout.CastingId ,  
                                                              dbo.ProductionBatch.MetalID  
                                                              ) AS ProductionTable ON ProductionTable.castingid = dbo.CastingMetal.castingID  
                                                              AND ProductionTable.MetalID = dbo.CastingMetal.metalid  
                                                              LEFT JOIN ( SELECT  
                                                              dbo.CastingFinalRejection.CastingID ,  
                                                              dbo.CastingFinalRejection.MetalID ,  
                                                              SUM(dbo.CastingFinalRejection.Rejqty) AS RejQty ,  
                                                              SUM(dbo.CastingFinalRejection.Weight) AS RejWeight  
                                                              FROM  
                                                              dbo.CastingFinalRejection  
                                                              WHERE  
                                                              dbo.CastingFinalRejection.RejectionDate BETWEEN @DateFrom  
                                                              AND  
                                                              @DateTo  
                                                              AND dbo.CastingFinalRejection.IsInHouseRej = 1  
                                                              AND ( @PlantIdString IS NULL  
                                                              OR @PlantIdString = ''  
																OR CastingFinalRejection.CastingId IN (  
                                                              SELECT  
                                                              CastingId  
                                                              FROM  
                                                              dbo.PlantCastingMapping  
                                                            where PlantId in (SELECT Item FROM @Plant) )  
                                                              )  
                                                              GROUP BY dbo.CastingFinalRejection.CastingID ,  
                                                              dbo.CastingFinalRejection.MetalID  
                                                              ) AS RejectionTable ON RejectionTable.CastingID = dbo.CastingMetal.castingID  
                                                              AND RejectionTable.MetalID = dbo.CastingMetal.metalid  
                                                              LEFT JOIN ( SELECT  
                                                              dbo.dispatchtrans.castingid ,  
                                                              dbo.OrderTranse.MetalID ,  
                                                              SUM(dbo.dispatchtrans.DispatchQty) AS DispatchQty ,  
                                                              SUM(dbo.dispatchtrans.TotalWeight) AS TotalWeight ,  
                                                              SUM(dbo.dispatchtrans.TotalAmount) AS TotalAmount  
                                                              FROM  
                                                              dbo.dispatchtrans  
                                                              INNER JOIN dbo.DispatchMaster ON dbo.dispatchtrans.dispatchid = dbo.DispatchMaster.dispatchid  
                                                              INNER JOIN dbo.OrderMaster ON dbo.OrderMaster.CustomerOrderId = dbo.dispatchtrans.orderid  
                                                              INNER JOIN dbo.OrderTranse ON dbo.OrderTranse.CustomerOrderId = dbo.OrderMaster.CustomerOrderId  
                                                              AND dbo.dispatchtrans.orderserialno = dbo.OrderTranse.SrNo  
                                                              WHERE  
                                                              dbo.dispatchtrans.IsDeleted = 0 
                                                              and DispatchMaster.TypeOfVoucher = 0 
                                                              AND dbo.dispatchmaster.IsDeleted = 0  
                                                              AND isProforma = 0  
                                                              AND dbo.dispatchmaster.dispatchdate BETWEEN @DateFrom  
                                                              AND  
                                                              @DateTo  
                                                              AND ( @PlantIdString IS NULL  
                                                              OR @PlantIdString = ''  
																OR dispatchtrans.CastingId IN (  
                                                              SELECT  
                                                              CastingId  
                                                              FROM  
                                                              dbo.PlantCastingMapping  
                                                            where PlantId in (SELECT Item FROM @Plant) )  
                                                              )  
                                                              GROUP BY dbo.dispatchtrans.castingid ,  
                                                              dbo.OrderTranse.MetalID  
                                                              ) AS DispatchTable ON DispatchTable.castingid = dbo.CastingMetal.castingID  
                                                              AND DispatchTable.MetalID = dbo.CastingMetal.metalid  
    --WHERE dbo.CastingMetal.castingID = 'B5A8E629-8F7B-4A43-9427-518F322E9121'  
                                                        GROUP BY dbo.CastingMetal.castingID ,  
                                       dbo.CastingMetal.metalid ,  
                                                              dbo.CastingMetal.CastingNetWeight ,  
                                                              OrderTable.RequiredQty ,  
                                                              ProductionTable.ProductionQty ,  
                                                              RejectionTable.RejQty ,  
                                                              DispatchTable.DispatchQty  
                                                      ) AS a ON a.castingID = dbo.CastingMaster.CastingId  
                                                              AND a.metalid = dbo.CastingMetal.metalid  
                                  WHERE     ( @castingID IS NULL  
                                              OR dbo.CastingMaster.CastingId = @castingID  
                                            )  
                                            AND ( @CustomerId IS NULL  
                                                  OR b.CustomerId = @CustomerId  
                                                )  
                                            AND ( @ExcludeZero = 0  
                                                  OR a.OrderedQty  
                                                  + a.ProductionQty  
                                                  + a.RejectionQty  
                                                  + a.DispatchQty <> 0  
                                                )  
                                            AND ( @PlantIdString IS NULL  
                                                  OR @PlantIdString = ''  
                                                  OR CastingMaster.CastingId IN (  
                                                  SELECT    CastingId  
                                                  FROM      dbo.PlantCastingMapping  
                                                          where PlantId in (SELECT Item FROM @Plant) )  
                                                )  
                                ) AS aa  
--WHERE  CustomerName <> ''  
       
                    END                  
     
            END  
    END  
GO
