USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ScheduleBalance]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ScheduleBalance]        
    @CastingID UNIQUEIDENTIFIER = null,--= '8CD327A1-BD31-4564-8721-6EE1420574A4' ,       
    @EntityId INT = 0,--9,          
    @PlantIdString VARCHAR(MAX)= null,--'20,21' ,    
    @StartDate DATETIME = null,--'03-01-2022' ,          
    @EndDate DATETIME = null,--'03-28-2022' ,              
    @CustomerID UNIQUEIDENTIFIER = NULL ,          
    @Active BIT = 0,          
    @MetalID BIGINT = 0 ,          
    @DieID UNIQUEIDENTIFIER = NULL ,      
    @PatternId UNIQUEIDENTIFIER = NULL ,          
    @ItemName VARCHAR(250) = NULL ,          
    @MetalType VARCHAR(50) = NULL ,                     
    @OrderNo varchar(100) = null,        
    @AvailPattern BIT = 0 ,          
    @Priority INT = -1 ,-- 0 means Low,1 means Medium,2 means High          
    @SandTypeID INT = 0 ,          
    @Core INT = -1 --0 means with Core , 1 means Without Core,             
  
AS  
  
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
Declare  @OrderQty int , @DispatchQty int , @Currentstock int , @pendingQty int , @SrNo int,@ProductionGrade bit , @IsOrderAvailable bit , @IsProductionGradeAvailable bit,@ProductionGradeId int, @RejectionQtyIn int, @RejectionQtyCu int , @PartId uniqueidentifier,@ProductionQty int , @ProWeight float , @RejWeightIn float, @RejWeightCu float, @RemainStock int, @tmpQty int ;  
  
IF EXISTS (SELECT 1 
FROM INFORMATION_SCHEMA.TABLES 
WHERE TABLE_NAME='RemainStockForCasting3') 
BEGIN
	drop table RemainStockForCasting3
END
			
CREATE TABLE RemainStockForCasting3  
                    (  
                      CastingID UNIQUEIDENTIFIER ,  
                      MetalId int ,  
                      RemainStock INT  
                    )  
  
Select * into #PPendingProductionTable from(  
SELECT  DISTINCT ROW_NUMBER() OVER (ORDER BY MetalMaster.ProductionGrade DESC , CastingMaster.Castingid asc , MetalMaster.MetalID asc) AS SrNo,  
 dbo.CustomerMaster.customerid ,   
     isnull(CastingMaster.ParentID,CastingMaster.CastingId) as CastingID,         
      CustomerName,          
                  --  PatternCode AS DieCode ,          
                    CastingName ,                 
                    MetalMaster.MetalName AS MEtalname ,          
                    MetalMaster.MetalId ,          
                --    MoldLineMaster.MoldLine ,          
                    SUM(ISNULL(ORderTable.ScheduleQty, 0)) AS ScheduleQty ,    
                    SUM(ISNULL(OrderTable.ScheduleWeight,0)) as ScheduleWeight,        
                    SUM(ISNULL(ORderTable.PPO, 0)) AS OrderQty ,    
                    SUM(ISNULL(OrderTable.PPOWeight,0)) as OrderWeight,        
                    SUM(ISNULL(CastingMetal.SafetyStock, 0)) AS SafetyStock ,          
                    SUM(ISNULL(DispatchTable.DispatchQty, 0)) AS DispatchQty ,   
                    SUM(ISNULL(DispatchTable.DispatchWeight,0)) as DispatchWeight,         
                    SUM(ISNULL(PlanTable.PlanQty, 0)) AS PlanQty ,          
                    0 as Stock ,    
                    0 AS ShortQty ,    
                    CAST(isnull(CastingMetal.CastingNetWeight,0) AS NUMERIC(18, 3)) AS Weight ,    
                    CAST(0 AS NUMERIC(18, 3)) AS TotalWeight ,    
                    CAST(isnull(CastingMetal.GrossWeight,0) AS NUMERIC(18, 3)) AS GrossWeight ,    
                    CAST(0 AS NUMERIC(18, 3)) AS TotalGrossWeight ,    
                 --   SandTypeMaster.SandType,    
                    0 AS ProductionQty,    
                    Cast(0 as Float) AS ProductionWeight,  
                    0 AS RejectionQtyInHouse,  
                    0 As RejectionQtyCustomer,  
                    Cast(0 as float) AS RejectionWeightInhouse,  
                    CAST(0 as float) AS RejectionWeightCustomer,  
                    MetalMaster.ProductionGradeId,  
                    MetalMaster.ProductionGrade ,  
                    --isnull(OrderTable.OrderPriority,1) as Priority,  
                    isnull(CommonData_Master.DisplayName,'Medium') as Priority,  
                     ISNULL (CastingMetal.InvoiceWeight, 0) as InvoiceWeight  
            FROM    CastingMaster 
					Inner Join CastingCompanyMapping on CastingCompanyMapping.CastingId = castingMaster.CastingId
                    LEFT JOIN PatternMaster ON CastingMAster.DieID = PatternMaster.PatternID          
       --             INNER JOIN (  
       --   SELECT CustomerId, PatternId ,          ROW_NUMBER() OVER (PARTITION BY CustomerPatternMapping.patternid ORDER BY patternid DESC) AS rn        FROM CustomerPatternMapping   
       --Where ( @CustomerID IS NULL          
       --                   OR dbo.CustomerPatternMapping.CustomerId = @CustomerID)  
      -- UNION  
         
      -- SELECT CustomerID,DieId ,         ROW_NUMBER() OVER (PARTITION BY CustomerDieMapping.DieId ORDER BY DieId DESC) AS rn       FROM CustomerDieMapping   
      --WHERE   ( @CustomerID IS NULL          
      --                    OR dbo.CustomerDieMapping.CustomerId = @CustomerID)     
         
                    --) AS a                 
                    --ON a.PatternId = dbo.CastingMaster.Dieid  
                    INNER JOIN CastingMetal ON CastingMaster.CastingId = CastingMetal.castingID          
                    INNER JOIN MetalMaster ON MetalMaster.MetalId = CastingMetal.MetalId          
       
                    LEFT JOIN ( SELECT  CastingId ,          
                                        SUM(PlanQty) AS PlanQty ,          
                                        Plandate          
                                FROM    PlanningMaster          
                                WHERE   PlanningMaster.IsDeleted = 0          
                                        AND CAST(PlanningMaster.Plandate AS DATE) >= CONVERT(DATE, GETDATE())    
										and entityId = @EntityId
                                GROUP BY CastingId ,          
          Plandate          
                              ) AS PlanTable ON CastingMaster.CastingId = PlanTable.CastingId          
                    LEFT JOIN ( SELECT                 
             OrderTranse.CastingId ,          
                                                    OrderTranse.MetalID ,                                                                                                          
                                                    dbo.OrderMaster.CustomerID,          
                                                    SUM(CASE WHEN IsScheduled=1 AND CAST(IntCommitDate AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
               THEN OrderTranse.RequiredQty  
               ELSE 0  
             END) AS ScheduleQty,  
                                                    SUM(CASE WHEN IsScheduled=1 AND CAST(IntCommitDate AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
               THEN OrderTranse.RequiredQty * ApproxWeight  
               ELSE 0  
             END) AS ScheduleWeight,  
                                                    SUM(CASE WHEN IsScheduled=0 AND IsDelivered=0  
               THEN (OrderTranse.RequiredQty - ISNULL(Disp.DispQty,0))  
               ELSE 0  
             END) AS PPO,  
              SUM(CASE WHEN IsScheduled=0 AND IsDelivered=0  
               THEN (OrderTranse.RequiredQty - ISNULL(Disp.DispQty,0))*OrderTranse.ApproxWeight  
               ELSE 0  
             END) AS PPOWeight,  
              MAX(CASE WHEN CAST(IntCommitDate AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
				THEN OrderTranse.OrderStatus ELSE 0 END) as OrderPriority  
               
             FROM      OrderTranse  
             --LEFT JOIN (Select top 1 OT.OrderTranseId,OT.OrderPriority from OrderTranse OT   
             --   INNER JOIN OrderMaster OM on OM.CustomerOrderId = OT.CustomerOrderId  
             --   Where OM.IsDeleted = 0 and OT.IsDeleted = 0  
             --   Order by IntCommitDate DESC)   
             --   as OrderTranseTable  On OrderTranseTable.OrderTranseId = OrderTranse.OrderTranseId         
                                                    INNER JOIN ORderMaster ON OrderMaster.CustomerOrderiD = OrderTranse.CustomerORderID                                                            
                                         --           INNER JOIN CastingMaster ON CastingMaster.CastingId = OrderTranse.PartId          
                                         --           INNER JOIN CastingMetal ON CastingMaster.CastingId = CastingMetal.castingID          
                                         --AND CastingMetal.metalid = OrderTranse.MetalId  
                                                    LEFT JOIN (Select OrderID , orderserialno,CastingID , SUM(DispatchTrans.dispatchqty) as DispQty from dispatchtrans INNER JOIN dispatchmaster on   
                                                    dispatchtrans.dispatchid = dispatchmaster.DispatchID where dispatchmaster.IsDeleted = 0 AND dispatchtrans.IsDeleted = 0 Group by OrderID , orderserialno,CastingID)  
                                                    As Disp on Disp.orderid = OrderTranse.CustomerOrderId AND Disp.castingid = OrderTranse.CastingId  
                                                    And Disp.orderserialno = OrderTranse.SrNo  
                                                    --LEFT JOIN OrderTranse AS scheduletable          
                                                    --ON OrderTranse.OrderTranseId = scheduletable.ScheduleId          
                                          WHERE     OrderMaster.maxversion = 1          
                                                    AND OrderTranse.Isdeleted = 0          
                                                    AND OrderTranse.Isshortclose = 0 
                                                    And OrderTranse.IsDelivered = 0                                                             
             AND ( @MetalID = 0          
                                                          OR OrderTranse.MetalID = @MetalID          
                                                        )          
                                                    AND ( @CustomerID IS NULL          
                                                          OR ORderMaster.CustomerID = @CustomerID          
                                                        )                                                                     
                                                    AND ( @OrderNo IS NULL          
                                                          OR dbo.OrderMaster.CustomerOrderNo = @OrderNo          
               )          
             AND (@PlantIdString IS NULL           
               OR @PlantIdString = ''          
               OR dbo.OrderMaster.PlantID IN (          
             SELECT Item FROM @Plant )          
               )          
             AND dbo.OrderMaster.EntityID = @EntityId            
                                                     
             Group by OrderTranse.CastingId ,          
                                                    OrderTranse.MetalID ,                                                                                                          
                                                    dbo.OrderMaster.CustomerID   
                                                    --,  
                                                    --OrderTranseTable.OrderPriority   
                        ) as OrderTable                                  
      ON CastingMaster.CastingID = OrderTable.CastingID          
      AND CastingMetal.metalid = ORderTable.MetalId  
      and ( ScheduleQty > 0)
      INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = OrderTable.CustomerID 
	  Inner Join CustomerCompanyMapping on CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
		and CustomerCompanyMapping.CompanyId = @EntityId
                            
      --AND ORderTable.CustomerID = CustomerMaster.CustomerId    
      Left join CommonData_Master on OrderTable.OrderPriority = CommonData_Master.CommonDataId  
             and CommonData_Master.[Group] = 'Order_Status'  
     LEFT JOIN (         SELECT          
                                                             dispatchmaster.customerID,      
                                                             dispatchtrans.castingid,  
                                                             OrderTranse.MetalID,  
                                                              SUM(Dispatchqty) AS DispatchQty ,  
                                                              SUM(DispatchQty * Weight) as DispatchWeight         
                                                              FROM          
                                                              dispatchtrans          
                                       INNER JOIN dbo.dispatchmaster          
                                                              ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid          
                                                              INNER JOIN OrderTranse ON OrderTranse.CustomerOrderId = dispatchtrans.orderid  
                                                              And OrderTranse.SrNo = dispatchtrans.orderserialno  
                                                              And OrderTranse.CastingId = dispatchtrans.castingid  
                                                              WHERE  
                                                              CAST(dispatchdate AS DATE) between CAST(@StartDate AS DATE) and CAST(@EndDate AS DATE)
                                                              AND dbo.dispatchmaster.IsDeleted = 0          
                                                              AND dbo.dispatchtrans.IsDeleted = 0          
                                                              AND dispatchmaster.isProforma = 0  
															  and dispatchmaster.EntityID = @EntityId
                                                              GROUP BY dispatchmaster.customerID,      
                                                             dispatchtrans.castingid,  
                                                             OrderTranse.MetalID         
                                                              ) AS DispatchTable ON   
                                                              DispatchTable.customerID = CustomerMaster.CustomerId  
                                                              And DispatchTable.castingid = CastingMaster.CastingId  
                                                              And DispatchTable.MetalID = CastingMetal.metalid                          
            Where    
            ( @DieID IS NULL          
                          OR CastingMaster.DieID = @DieID          
                        )    
                      AND          
                    ( @CastingID IS NULL          
                      OR CastingMaster.CastingID = @CastingID          
                    )     
                    --AND (@Priority = -1 or CastingMaster.Priority = @Priority)       
                    AND ( @ItemName IS NULL          
                          OR CastingMaster.CastingName = @ItemName          
                        )          
                    AND ( @CustomerID IS NULL          
                          OR dbo.CustomerMaster.CustomerId = @CustomerID           
                        )          
                    AND ( @PatternId IS NULL          
                          OR PatternMaster.PatternId = @PatternId          
                        )                 
                    --AND ( @AvailPattern = 0          
                    --      OR ( ISNULL(PatternMaster.NoOfPattern, 0) > 0 )          
                    --    )                            
                    AND ( @SandTypeID = 0          
                          OR PatternMaster.SandTypeID = @SandTypeID          
                        )          
                              --0 means With Core and 1 means Without Core so we take -1 as null           
                    AND ( @Core = -1          
                          OR ( @Core = 0          
                               OR PatternMaster.PatternId NOT IN (          
                               SELECT DISTINCT          
                                        PatternMaster.PatternId          
                               FROM     PatternMaster          
                                        INNER JOIN CoreBoxMaster ON PatternMaster.PatternId = CoreBoxMaster.PatternID )          
                             )          
                        )          
                    AND ( @Core = -1          
                          OR ( @Core = 1          
                               OR Patternmaster.PatternId IN ( SELECT DISTINCT          
                           PatternId    
                                             FROM          
                                                              CoreBoxMaster )          
                             )          
                        )          
          --added by yashvi          
                         --BEGIN          
                    AND ( @MetalType IS NULL          
                          OR dbo.CastingMaster.CastingId IN (          
                          SELECT    castingID          
                          FROM      CastingMetal          
                                    INNER JOIN MetalMaster ON CastingMetal.metalid = MetalMaster.MetalId          
                          WHERE     MetalMaster.MetalType = @MetalType )          
                        )          
                    AND ( @MetalID = 0          
                          OR dbo.CastingMaster.CastingId IN (          
                          SELECT    castingID          
                          FROM      CastingMetal          
                                    INNER JOIN MetalMaster ON CastingMetal.metalid = MetalMaster.MetalId          
                          WHERE     MetalMaster.MetalId = @MetalID )          
                        )          
     AND ( @PlantIdString IS NULL          
                          OR @PlantIdString = ''          
                          OR CastingMaster.castingid IN (          
                          SELECT    castingid          
                          FROM      dbo.PlantCastingMapping          
                                      where PlantId in (SELECT Item FROM @Plant) )          
                        )          
                    AND CastingCompanyMapping.CompanyId = @EntityId   
          -- CastingName = 'Lower Turret (D Type 37 STN) 395' AND  
                     AND CastingMetal.IsProductionGrade = 0  
                     And CastingMaster.IsDeleted = 0  
                     AND ParentID IS NULL                  
            group by dbo.CustomerMaster.customerid ,    
                    dbo.CustomerMaster.CustomerCode,    
                    dbo.CustomerMaster.CustomerName,    
                --    PatternCode ,    
                    CastingName ,    
                    --CastingCode ,    
                    --CastingMaster.CastingId ,    
                    MetalMaster.MetalName ,    
                    MetalMaster.MetalId ,    
               --     MoldLineMaster.MoldLine,    
               --     SandTypeMaster.SandType,    
                    CastingMetal.CastingNetWeight,    
                    CastingMetal.GrossWeight  ,  
                    CastingMaster.ParentID,CastingMaster.CastingId ,  
                    MetalMaster.ProductionGrade,  
     MetalMaster.ProductionGradeId,  
     OrderTable.OrderPriority  
     , CastingMetal.InvoiceWeight  
     , isnull(CommonData_Master.DisplayName,'Medium')  
       
) aS a       
          
DECLARE PendingProCursor CURSOR  
                                FOR  
                          
Select CastingID , MetalID , ScheduleQty , DispatchQty , SrNo , ProductionGrade,ProductionGradeId  from #PPendingProductionTable  
ORDER BY #PPendingProductionTable.ProductionGrade DESC , #PPendingProductionTable.Castingid asc , #PPendingProductionTable.MetalID asc   
  
OPEN PendingProCursor -- Open Cursor  
                                FETCH NEXT FROM PendingProCursor INTO   
          @CastingID , @MEtalID , @OrderQty , @DispatchQty , @SrNO , @ProductionGrade,@ProductionGradeId  
WHILE @@FETCH_STATUS = 0  
BEGIN  
       -----------  
		Set @RejectionQtyIn = 0;  
        Set @RejectionQtyCu = 0;  
        set @ProductionQty = 0;  
        Set @ProWeight = 0;  
        Set @RejWeightIn = 0;  
        Set @RejWeightCu = 0;  
        Set @pendingQty = (Case when (@OrderQty - @DispatchQty) > 0 then (@OrderQty - @DispatchQty) else 0 end) ;  
        IF NOT EXISTS(Select SRNo from #PPendingProductionTable where Castingid=@CastingID and MetalID=@MEtalID and Srno>@SrNo)  
        BEGIN  
         Select @RejectionQtyIn = ISNULL(SUM(CASE WHEN Stage != 3 THEN CastingFinalRejection.RejQty ELSE 0 END),0), @RejWeightIn = ISNULL(SUM(CASE WHEN Stage != 3 THEN CastingFinalRejection.Weight ELSE 0 END),0),  
             @RejectionQtyCu = ISNULL(SUM(CASE WHEN Stage = 3 THEN CastingFinalRejection.RejQty ELSE 0 END),0), @RejWeightCu = ISNULL(SUM(CASE WHEN Stage = 3 THEN CastingFinalRejection.Weight ELSE 0 END),0)  
         from CastingFinalRejection where CastingID=@CastingID and MetalID=@MEtalID And CAST(RejectionDate AS DATE) Between CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
		 and EntityId = @EntityId
         Select @ProductionQty =     isnull(Sum(knockout.productionqty),0) , @ProWeight = ISNULL(SUM( knockout.productionqty * knockout.perpcweight),0) from ProductionBatch  
                INNER JOIN knockout On knockout.batchid = ProductionBatch.batchID  
                 where ProductionBatch.IsDeleted = 0 AND knockout.IsDeleted = 0  
                 AND CastingID = @CastingID and MetalID=@MEtalID And CAST(ProductionDate AS DATE) Between CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
				 and entityId = @EntityId
                
        END  
        IF EXISTS ( SELECT  CastingID  
              FROM    RemainStockForCasting3  
              WHERE   Castingid = @CastingID And MetalId=@MEtalID 
			  )  
           BEGIN  
              
            SET @Currentstock = ( SELECT   ISNULL(Sum(RemainStock),0) AS Stock  
                   FROM      RemainStockForCasting3  
                   WHERE     Castingid = @CastingID And MetalId=@MEtalID  
                 )   
              
           END                
           ELSE  
           BEGIN  
              
            SET @Currentstock = ( Select SUM(Stock) from (  
                   SELECT    ISNULL(sum(Stock),0) as Stock  
                   FROM      CastingGradeStock  
							 --Inner Join CastingMaster On CastingMaster.CastingId = CastingGradeStock.CastingID
                   WHERE     Castingid = @CastingID And CastingGradeStock.MetalId=@MetalID  and entityId = @EntityId
                     
                   UNION ALL  
                     
                   SELECT    ISNULL(sum(Stock),0) as Stock  
                   FROM      CastingJOGradeStock
                   -- Inner Join CastingMaster On CastingMaster.CastingId = CastingJOGradeStock.CastingID  
                   WHERE     Castingid = @CastingID And CastingJOGradeStock.MetalId=@MetalID   and entityId = @EntityId
                   
                   ) as Stock  
                 )  
               INSERT INTO RemainStockForCasting3 (CastingID, MetalID , RemainStock)        
                VALUES (@CastingID , @MEtalID , @CurrentStock)  
           END  
             
           If (@ProductionGrade = 1)  
            BEGIN  
             Set @IsProductionGradeAvailable = 0;  
             IF EXISTS (Select Castingid from #PPendingProductionTable where Castingid = @CastingID  
             ANd Metalid in (Select Distinct MetaliD from MetalMaster where ProductionGradeId =@MEtalID))               
              Set @IsOrderAvailable = 1;               
             ELSE  
              Set @IsOrderAvailable = 0;  
            END  
            ELSE  
            BEGIN  
             Set @IsOrderAvailable = 0;  
             IF ((Select ProductionGradeID from MetalMaster where MetalId=@MEtalID) <> 0)  
              Set @IsProductionGradeAvailable = 1;  
             Else   
              Set @IsProductionGradeAvailable = 0;  
            END  
             
           IF  (@Currentstock > 0)  
           BEGIN  
            IF ( @CurrentStock >= @pendingQty )  
             BEGIN     
               
              IF EXISTS(Select SRNo from #PPendingProductionTable where Castingid=@CastingID and MetalID=@MEtalID and Srno>@SrNo)  
              BEGIN   
				-- this will not execute, i think ( megha)
               Update #PPendingProductionTable set Stock += @pendingQty where Srno=@SrNo                                      
               Update RemainStockForCasting3 set RemainStock=RemainStock-@pendingQty where CastingID=@CastingID and MetalID=@MEtalID  
                                 
              END  
              ELSE  
              BEGIN  
               IF(@IsOrderAvailable = 0)  
               BEGIN  
                Update #PPendingProductionTable set Stock += @CurrentStock where Srno=@SrNo  
                Update RemainStockForCasting3 set RemainStock=0 where CastingID=@CastingID and MetalID=@MEtalID  
               END  
               ELSE  
               BEGIN  
                Update #PPendingProductionTable set Stock += @pendingQty where Srno=@SrNo                                      
                Update RemainStockForCasting3 set RemainStock=RemainStock-@pendingQty where CastingID=@CastingID and MetalID=@MEtalID  
               END  
              END  
             END    
            ELSE  
             BEGIN  
                
              Update #PPendingProductionTable set Stock += @CurrentStock where Srno=@SrNo  
              Update RemainStockForCasting3 set RemainStock=0 where CastingID=@CastingID and MetalID=@MEtalID  
                         
             END   
           END 
           IF (@IsProductionGradeAvailable = 1)  -- this is work when normal grade Order check
             BEGIN  
             
              IF NOT EXISTS(Select SRNo from #PPendingProductionTable where Castingid=@CastingID and MetalID=@MEtalID and Srno>@SrNo)  
              AND NOT EXISTS(Select SRNo from #PPendingProductionTable where Castingid=@CastingID and MetalID=@ProductionGradeId and Srno<@SrNo)  
              BEGIN  
              -- tis cdtn work when PG order Not exist ( but Rej and  Prodctn done with Prd grade)
				  Select @RejectionQtyIn += ISNULL(SUM(CASE WHEN Stage != 3 THEN CastingFinalRejection.RejQty ELSE 0 END),0), @RejWeightIn += ISNULL(SUM(CASE WHEN Stage != 3 THEN CastingFinalRejection.Weight ELSE 0 END),0),  
					  @RejectionQtyCu += ISNULL(SUM(CASE WHEN Stage = 3 THEN CastingFinalRejection.RejQty ELSE 0 END),0), @RejWeightCu += ISNULL(SUM(CASE WHEN Stage = 3 THEN CastingFinalRejection.Weight ELSE 0 END),0)  
				  from CastingFinalRejection
				  where CastingID=@CastingID and MetalID=@ProductionGradeId And CAST(RejectionDate AS DATE) Between CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
				   and entityId = @EntityId
				  Select  @ProductionQty += isnull(Sum(ProductionQty),0) , @ProWeight += ISNULL(SUM(ProductionQty * PerPcWeight ), 0) from ProductionBatch  
					INNER JOIN knockout On knockout.batchid = ProductionBatch.batchID  
					where ProductionBatch.IsDeleted = 0 and knockout.IsDeleted = 0  
					AND CastingID=@CastingID and MetalID=@ProductionGradeId And CAST(ProductionBatch.ProductionDate AS DATE) Between CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE) 
					 and entityId = @EntityId
           
              END  
              IF EXISTS ( SELECT  CastingID  
               FROM    RemainStockForCasting3  
               WHERE   Castingid = @CastingID And MetalId=@ProductionGradeId )  
                BEGIN  
                   
                 SET @Currentstock = ( SELECT   ISNULL(Sum(RemainStock),0) AS Stock  
                        FROM      RemainStockForCasting3  
                        WHERE     Castingid = @CastingID And MetalId=@ProductionGradeId  
                      )   
                   
                END                
                ELSE  
                BEGIN  
                   
                 SET @Currentstock = ( Select SUM(Stock) from (  
							SELECT    ISNULL(sum(Stock),0) as Stock  
						   FROM      CastingGradeStock  
						   WHERE     Castingid = @CastingID And CastingGradeStock.MetalId=@ProductionGradeId   and entityId = @EntityId
		                     
						   UNION ALL  
		                     
						   SELECT    ISNULL(sum(Stock),0) as Stock  
						   FROM      CastingJOGradeStock
						   WHERE    Castingid = @CastingID And CastingJOGradeStock.MetalId=@ProductionGradeId   and entityId = @EntityId
                    
                        ) as Stock  
                      )  
                    INSERT INTO RemainStockForCasting3 (CastingID, MetalID , RemainStock)        
                     VALUES (@CastingID , @ProductionGradeId , @CurrentStock)  
                END  
			
              IF(@Currentstock > 0)  
              BEGIN  
               IF NOT EXISTS(Select SRNo from #PPendingProductionTable where Castingid=@CastingID and MetalID=@MEtalID and Srno>@SrNo)
               and Not exists (Select SRNo from #PPendingProductionTable where Castingid=@CastingID and ProductionGradeId=@ProductionGradeId and Srno>@SrNo)  
               BEGIN  
                Update #PPendingProductionTable set Stock= stock + ISNULL(@Currentstock,0) where Srno=@SrNo                                      
                Update RemainStockForCasting3 set RemainStock=0 where CastingID=@CastingID and MetalID=@ProductionGradeId  
               END   
               ELSE  
               BEGIN  
               
				Set @pendingQty = (Case when (@OrderQty - @DispatchQty) > 0 then (@OrderQty - @DispatchQty) else 0 end) ;  
				Set @pendingQty = case when (@pendingQty - (Select Stock from #PPendingProductionTable where Srno=@SrNo))  > 0 then (@pendingQty - (Select Stock from #PPendingProductionTable where Srno=@SrNo)) else 0 end 
                IF(@Currentstock > @pendingQty)  
                BEGIN  
                 Update #PPendingProductionTable set Stock= stock + @pendingQty where Srno=@SrNo                                      
                 Update RemainStockForCasting3 set RemainStock=RemainStock-@pendingQty where CastingID=@CastingID and MetalID=@ProductionGradeId  
                END  
                ELSE  
                BEGIN  
                 Update #PPendingProductionTable set Stock= stock + @Currentstock where Srno=@SrNo                                      
                 Update RemainStockForCasting3 set RemainStock=0 where CastingID=@CastingID and MetalID=@ProductionGradeId  
                END                                  
               END   
              END                                                      
             END
             
           IF EXISTS(Select Castingid from CastingMaster where ParentID=@CastingID and ParentID is not null)  
           BEGIN  
             
            IF NOT EXISTS(Select SRNo from #PPendingProductionTable where Castingid=@CastingID and MetalID=@MEtalID and Srno>@SrNo)  
             BEGIN  
              Select @RejectionQtyIn += ISNULL(SUM(CASE WHEN Stage != 3 THEN CastingFinalRejection.RejQty ELSE 0 END),0), @RejWeightIn += ISNULL(SUM(CASE WHEN Stage != 3 THEN CastingFinalRejection.Weight ELSE 0 END),0),  
                  @RejectionQtyCu += ISNULL(SUM(CASE WHEN Stage = 3 THEN CastingFinalRejection.RejQty ELSE 0 END),0), @RejWeightCu += ISNULL(SUM(CASE WHEN Stage = 3 THEN CastingFinalRejection.Weight ELSE 0 END),0)  
              from CastingFinalRejection where CastingID  in (Select distinct CastingID from CastingMaster where ParentID=@CastingID)  
              and MetalID=@MEtalID And CAST(RejectionDate AS DATE) Between CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)  and entityId = @EntityId
               
              
             END  
              
			 SET @Currentstock = ( Select SUM(Stock) from (  
					   SELECT    ISNULL(sum(Stock),0) as Stock  
					   FROM      CastingGradeStock  
								 --Inner Join CastingMaster On CastingMaster.CastingId = CastingGradeStock.CastingID
					   WHERE     Castingid  in (Select distinct CastingID from CastingMaster where ParentID=@CastingID)
								And CastingGradeStock.MetalId=@MetalID   and entityId = @EntityId
	                     
					   UNION ALL  
	                     
					   SELECT    ISNULL(sum(Stock),0) as Stock  
					   FROM      CastingJOGradeStock
					   -- Inner Join CastingMaster On CastingMaster.CastingId = CastingJOGradeStock.CastingID  
					   WHERE     Castingid  in (Select distinct CastingID from CastingMaster where ParentID=@CastingID)
									And CastingJOGradeStock.MetalId=@MetalID   and entityId = @EntityId
	                   
					   ) as Stock  
					 )  
            
             IF EXISTS ( SELECT  CastingID  
              FROM    RemainStockForCasting3  
              WHERE   Castingid in (Select distinct CastingID from CastingMaster where ParentID=@CastingID)
						And MetalId=@MEtalID )  
			   BEGIN  
	              
				Set @Currentstock = (Select Isnull(Sum(Isnull(RemainStock,0)),0) from RemainStockForCasting3 
								Where CastingID in (Select distinct CastingID from CastingMaster where ParentID=@CastingID)
										and MetalId = @MetalID) 
			   END                
			   ELSE  
			   BEGIN  
				   INSERT INTO RemainStockForCasting3 (CastingID, MetalID , RemainStock)        
					 Select CastingId,@MetalID, SUM(Stock) as stock from (  
					   SELECT    ISNULL(sum(Stock),0) as Stock ,CastingGradeStock.CastingID
					   FROM      CastingGradeStock  
								 --Inner Join CastingMaster On CastingMaster.CastingId = CastingGradeStock.CastingID
					   WHERE     Castingid  in (Select distinct CastingID from CastingMaster where ParentID=@CastingID)
								And CastingGradeStock.MetalId=@MetalID   and entityId = @EntityId
					   group by CastingID 
					   UNION ALL  
	                     
					   SELECT    ISNULL(sum(Stock),0) as Stock,CastingJOGradeStock.CastingID  
					   FROM      CastingJOGradeStock
					    WHERE     Castingid  in (Select distinct CastingID from CastingMaster where ParentID=@CastingID)
									And CastingJOGradeStock.MetalId=@MetalID   and entityId = @EntityId
	                   group by CastingID 
					   ) as Stock 
					   group by CastingID   
					
					Set @Currentstock = (Select Isnull(Sum(Isnull(RemainStock,0)),0) from RemainStockForCasting3 
									Where CastingID in (Select distinct CastingID from CastingMaster where ParentID=@CastingID)
											and MetalId = @MetalID) 
					
			END  
          
            
			If (@ProductionGrade = 1)  
            BEGIN  
             Set @IsProductionGradeAvailable = 0;  
             IF EXISTS (Select Castingid from #PPendingProductionTable where Castingid = @CastingID  
             ANd Metalid in (Select Distinct MetalId from MetalMaster where ProductionGradeId =@MEtalID))               
              Set @IsOrderAvailable = 1;               
             ELSE  
              Set @IsOrderAvailable = 0;  
            END  
            ELSE  
            BEGIN  
             Set @IsOrderAvailable = 0;  
             IF ((Select ProductionGradeID from MetalMaster where MetalId=@MetalID) <> 0)  
              Set @IsProductionGradeAvailable = 1;  
             Else   
              Set @IsProductionGradeAvailable = 0;  
            END  
            Set @pendingQty =  (Case when (@OrderQty - @DispatchQty) > 0 then (@OrderQty - @DispatchQty) else 0 end)
            Set @pendingQty =  case when (@pendingQty - (Select Stock from #PPendingProductionTable where Srno=@SrNo))  > 0 then (@pendingQty - (Select Stock from #PPendingProductionTable where Srno=@SrNo)) else 0 end
			
            IF  (@Currentstock > 0)  
           BEGIN  
            IF ( @CurrentStock >= @pendingQty )  
             BEGIN     
               
              IF EXISTS(Select SRNo from #PPendingProductionTable where Castingid=@CastingID 
              and MetalID=@MEtalID and Srno>@SrNo)  
              BEGIN   
				-- this will not execute, i think ( megha)
               Update #PPendingProductionTable set Stock += isnull(@pendingQty,0) where Srno=@SrNo                                      
               
               Set @tmpQty = @pendingQty
               DECLARE RemainStockCursor CURSOR  
			   FOR       
				select CastingId, RemainStock from RemainStockForCasting3 Where CastingID in (Select distinct CastingID from CastingMaster 
				where ParentID=@CastingID) ANd Metalid = @MEtalID
						
				OPEN RemainStockCursor -- Open Cursor  
				FETCH NEXT FROM RemainStockCursor INTO   
						  @PartId, @RemainStock 
				WHILE @@FETCH_STATUS = 0  
				BEGIN  
					 if(@tmpQty > 0)
					 BEGIn
						 if(@RemainStock >= @tmpQty)
						 BEGIN
							Update RemainStockForCasting3 set RemainStock=RemainStock-@tmpQty where CastingID=@PartId 
								and MetalID=@MEtalID 
							set @tmpQty = 0
						 END
						 else
						 BEGIN
							Update RemainStockForCasting3 set RemainStock=0 where CastingID=@PartId 
								and MetalID=@MEtalID
							set @tmpQty = @tmpQty - @RemainStock
						 END
					 END
				FETCH NEXT FROM RemainStockCursor INTO   
						  @PartId, @RemainStock
				END
                CLOSE RemainStockCursor; -- Close Cursor  
				DEALLOCATE RemainStockCursor;  
                  
              END  
              ELSE  
              BEGIN  
               IF(@IsOrderAvailable = 0)  
               BEGIN  
                Update #PPendingProductionTable set Stock += isnull(@CurrentStock,0) where Srno=@SrNo  
                Update RemainStockForCasting3 set RemainStock=0 where  CastingID in (Select distinct CastingID from CastingMaster 
				where ParentID=@CastingID) and MetalID=@MEtalID  
               END  
               ELSE  
               BEGIN  
                Update #PPendingProductionTable set Stock += isnull(@pendingQty,0) where Srno=@SrNo                                      
                --Update RemainStockForCasting3 set RemainStock=RemainStock-@pendingQty where CastingID=@CastingID and MetalID=@MEtalID  
				 Set @tmpQty = @pendingQty
				   DECLARE RemainStockCursor CURSOR  
				   FOR       
					select CastingId, RemainStock from RemainStockForCasting3 Where CastingID in (Select distinct CastingID from CastingMaster 
					where ParentID=@CastingID) ANd Metalid = @MEtalID
							
					OPEN RemainStockCursor -- Open Cursor  
					FETCH NEXT FROM RemainStockCursor INTO   
							  @PartId, @RemainStock 
					WHILE @@FETCH_STATUS = 0  
					BEGIN  
						 if(@tmpQty > 0)
						 BEGIn
							 if(@RemainStock >= @tmpQty)
							 BEGIN
								Update RemainStockForCasting3 set RemainStock=RemainStock-@tmpQty where CastingID=@PartId 
									and MetalID=@MEtalID 
								set @tmpQty = 0
							 END
							 else
							 BEGIN
								Update RemainStockForCasting3 set RemainStock=0 where CastingID=@PartId 
									and MetalID=@MEtalID
								set @tmpQty = @tmpQty - @RemainStock
							 END
						 END
					FETCH NEXT FROM RemainStockCursor INTO   
							  @PartId, @RemainStock
					END
					CLOSE RemainStockCursor; -- Close Cursor  
					DEALLOCATE RemainStockCursor;  
	                  
               END  
              END  
             END    
            ELSE  
             BEGIN
              Update #PPendingProductionTable set Stock += isnull(@CurrentStock,0) where Srno=@SrNo  
              Update RemainStockForCasting3 set RemainStock=0 where  CastingID in (Select distinct CastingID from CastingMaster 
				where ParentID=@CastingID) and MetalID=@MEtalID  
                         
             END   
           END   
            IF (@IsProductionGradeAvailable = 1)  
             BEGIN  
             
              IF NOT EXISTS(Select SRNo from #PPendingProductionTable where Castingid=@CastingID and MetalID=@MEtalID and Srno>@SrNo)  
              AND NOT EXISTS(Select SRNo from #PPendingProductionTable where Castingid=@CastingID and MetalID=@ProductionGradeId and Srno<@SrNo)  
              BEGIN  
              -- this cdtn work when PG order Not exist ( but Rej and  Prodctn done with Prd grade)
              Select @RejectionQtyIn += ISNULL(SUM(CASE WHEN Stage != 3 THEN CastingFinalRejection.RejQty ELSE 0 END),0), @RejWeightIn += ISNULL(SUM(CASE WHEN Stage != 3 THEN CastingFinalRejection.Weight ELSE 0 END),0),  
                  @RejectionQtyCu += ISNULL(SUM(CASE WHEN Stage = 3 THEN CastingFinalRejection.RejQty ELSE 0 END),0), @RejWeightCu += ISNULL(SUM(CASE WHEN Stage = 3 THEN CastingFinalRejection.Weight ELSE 0 END),0)  
              from              CastingFinalRejection                  
               where CastingID in   
								(Select distinct CastingID from CastingMaster where ParentID=@CastingID) 
								 and MetalID=@ProductionGradeId And CAST(RejectionDate AS DATE) Between CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
								  and entityId = @EntityId
             
              END  
                   
              IF EXISTS ( SELECT  CastingID  
               FROM    RemainStockForCasting3  
               WHERE   Castingid  In (Select distinct CastingID from CastingMaster where ParentID=@CastingID) 
               And MetalId=@ProductionGradeId )  
                BEGIN  
    
					SET @Currentstock = ( SELECT   ISNULL(Sum(RemainStock),0) AS Stock  
                        FROM      RemainStockForCasting3  
                        WHERE     Castingid in   
								(Select distinct CastingID from CastingMaster where ParentID=@CastingID) 
								 And MetalId=@ProductionGradeId  
                      )   
                   
                END                
                ELSE  
                BEGIN  
                    INSERT INTO RemainStockForCasting3 (CastingID, MetalID , RemainStock) 
					Select CastingId,@ProductionGradeId, SUM(Stock) as stock from 
					(  
					   SELECT    ISNULL(sum(Stock),0) as Stock ,CastingGradeStock.CastingID
					   FROM      CastingGradeStock  
								 --Inner Join CastingMaster On CastingMaster.CastingId = CastingGradeStock.CastingID
					   WHERE     Castingid  in (Select distinct CastingID from CastingMaster where ParentID=@CastingID)
								And CastingGradeStock.MetalId=@ProductionGradeId   and entityId = @EntityId
					   group by CastingID 
					   
					   UNION ALL 
					   SELECT    ISNULL(sum(Stock),0) as Stock,CastingJOGradeStock.CastingID  
					   FROM      CastingJOGradeStock
					   -- Inner Join CastingMaster On CastingMaster.CastingId = CastingJOGradeStock.CastingID  
					   WHERE     Castingid  in (Select distinct CastingID from CastingMaster where ParentID=@CastingID)
									And CastingJOGradeStock.MetalId=@ProductionGradeId   and entityId = @EntityId
	                   group by CastingID 
					) as Stock 
					group by CastingID   
					
				   SET @Currentstock = ( SELECT   ISNULL(Sum(RemainStock),0) AS Stock  
                    FROM      RemainStockForCasting3  
                    WHERE     Castingid in   
							(Select distinct CastingID from CastingMaster where ParentID=@CastingID) 
							 And MetalId=@ProductionGradeId  
                  )
                END  
              
              IF(@Currentstock > 0)  
              BEGIN  
               IF NOT EXISTS(Select SRNo from #PPendingProductionTable where Castingid=@CastingID and MetalID=@MEtalID and Srno>@SrNo)  
               and Not exists (Select SRNo from #PPendingProductionTable where Castingid=@CastingID and ProductionGradeId=@ProductionGradeId and Srno>@SrNo)
               BEGIN
                Update #PPendingProductionTable set Stock= stock + ISNULL(@Currentstock,0) where Srno=@SrNo                                      
                Update RemainStockForCasting3 set RemainStock=0 where CastingID in   
								(Select distinct CastingID from CastingMaster where ParentID=@CastingID)  and MetalID=@ProductionGradeId  
				
				
               END   
               ELSE  
               BEGIN 
               
				Set @pendingQty =  (Case when (@OrderQty - @DispatchQty) > 0 then (@OrderQty - @DispatchQty) else 0 end)
				Set @pendingQty = case when (@pendingQty - (Select Stock from #PPendingProductionTable where Srno=@SrNo))   > 0 then (@pendingQty - (Select Stock from #PPendingProductionTable where Srno=@SrNo))  else 0 end
                
                IF(@Currentstock > @pendingQty)  
                BEGIN  
                 Update #PPendingProductionTable set Stock= stock + @pendingQty where Srno=@SrNo                                       
				 Set @tmpQty = @pendingQty
				   DECLARE RemainStockCursor CURSOR  
				   FOR       
					select CastingId, RemainStock from RemainStockForCasting3 Where CastingID in (Select distinct CastingID from CastingMaster 
					where ParentID=@CastingID) ANd Metalid = @ProductionGradeId
							
					OPEN RemainStockCursor -- Open Cursor  
					FETCH NEXT FROM RemainStockCursor INTO   
							  @PartId, @RemainStock 
					WHILE @@FETCH_STATUS = 0  
					BEGIN  
						 if(@tmpQty > 0)
						 BEGIn
							 if(@RemainStock >= @tmpQty)
							 BEGIN
								Update RemainStockForCasting3 set RemainStock=RemainStock-@tmpQty where CastingID=@PartId 
									and MetalID=@ProductionGradeId 
								set @tmpQty = 0
							 END
							 else
							 BEGIN
								Update RemainStockForCasting3 set RemainStock=0 where CastingID=@PartId 
									and MetalID=@ProductionGradeId
								set @tmpQty = @tmpQty - @RemainStock
							 END
						 END
					FETCH NEXT FROM RemainStockCursor INTO   
							  @PartId, @RemainStock
					END
					CLOSE RemainStockCursor; -- Close Cursor  
					DEALLOCATE RemainStockCursor;  
	                 
				 
                END  
                ELSE  
                BEGIN  
                 Update #PPendingProductionTable set Stock= stock + @Currentstock where Srno=@SrNo                                      
                 Update RemainStockForCasting3 set RemainStock=0 where CastingID in   
								(Select distinct CastingID from CastingMaster where ParentID=@CastingID)  and MetalID=@ProductionGradeId  
                
                END                                  
               END   
              END                                                      
             END    
           
        
           END    
        Update #PPendingProductionTable set ShortQty= (Case when ScheduleQty-DispatchQty-Stock >= 0 then ScheduleQty-DispatchQty-Stock else 0 end) , RejectionQtyInhouse = ISNULL(@RejectionQtyIn,0) , RejectionQtyCustomer =  ISNULL(@RejectionQtyCu,0) , ProductionQty = ISNULL(@ProductionQty,0) , RejectionWeightInhouse = ISNULL(@RejWeightIn,0) ,RejectionWeightCustomer = ISNULL(@RejWeightCu,0) , ProductionWeight = ISNULL(@ProWeight ,0) where Srno=@SrNo  
        Update #PPendingProductionTable set TotalWeight = (ShortQty * Weight),TotalGrossWeight = (ShortQty * GrossWeight) where Srno=@SrNo  
          -----------------END              
         
  
                                      
     FETCH NEXT FROM PendingProCursor  
  INTO   
  @CastingID , @MEtalID , @OrderQty , @DispatchQty  , @SrNO  , @ProductionGrade ,@ProductionGradeId        
 END   
 CLOSE PendingProCursor; -- Close Cursor  
 DEALLOCATE PendingProCursor;  
  
if @AvailPattern = 0  
begin  
select Case when MAX(rwNO) OVER(PARTITION BY CastingId,MetalId) = 1 then 1 else 2 end as CustomerCount, * FROM (
select (DENSE_RANK() OVER(PARTITION BY CastingId,MetalId ORDER BY CastingId,MetalId,Rownum2)) as rwNO,*
From(
	Select CAST(CastingId AS NVARCHAR(100)) + CAST(MetalId AS NVARCHAR(10))  + CAST(CustomerId AS NVARCHAR(100)) AS Rownum2,* 
	from #PPendingProDuctionTable   
	Where ( #PPendingProDuctionTable.ScheduleQty > 0 OR #PPendingProDuctionTable.DispatchQty > 0   
	OR #PPendingProDuctionTable.ProductionQty > 0  OR #PPendingProDuctionTable.RejectionQtyInHouse > 0  
	OR #PPendingProDuctionTable.RejectionQtyCustomer > 0)  
	AND (@Priority = -1 or #PPendingProductionTable.Priority = @Priority)  
) as a
) as b
--order by CustomerName,Castingname,Metalname  
end  
else  
begin  
select Case when MAX(rwNO) OVER(PARTITION BY CastingId,MetalId) = 1 then 1 else 2 end as CustomerCount, * FROM (
select (DENSE_RANK() OVER(PARTITION BY CastingId,MetalId ORDER BY CastingId,MetalId,Rownum2)) as rwNO,*
From(
 Select CAST(CastingId AS NVARCHAR(100)) + CAST(MetalId AS NVARCHAR(10))  + CAST(CustomerId AS NVARCHAR(100)) AS Rownum2,* 
  from #PPendingProDuctionTable   
Where ( ShortQty > 0 )  
AND (@Priority = -1 or #PPendingProductionTable.Priority = @Priority)  
) as a
) as b
--order by CustomerName,Castingname,Metalname  
end  
  
DROP TAble #PPendingProDuctionTable  
DROP TABLE RemainStockForCasting3   
  
GO
