USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_RFQ]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Sahil>
-- Create date: <30-09-2020>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RFQ]
	@Parameter INT = 0,
	@EntityId INT = 0,
	@RFQId BIGINT = 0,
	@SeriesId INT = 0,
	@RFQNo VARCHAR(50) = NULL,
	@EntryNo VARCHAR(50) = NULL,
	@RFQDate DATETIME = NULL,
	@PlantId INT = 0,
	@BillingAddress VARCHAR(MAX) = NULL,
	@DeliveryAddress VARCHAR(MAX) = NULL,
	@SupplierId UNIQUEIDENTIFIER = NULL,
	@PaymentTerm VARCHAR(100) = NULL,
	@DeliveryTerm VARCHAR(100) = NULL,
	@ModeofDispatch VARCHAR(100) = NULL,
	@PaymentMethod VARCHAR(100) = NULL,
	@Packing VARCHAR(100) = NULL,
	@Insurance VARCHAR(100) = NULL,
	@Remark VARCHAR(MAX) = NULL,
	@Prefix VARCHAR(50) = NULL,
	@Suffix VARCHAR(50) = NULL,
	@Separator VARCHAR(50) = NULL,
	@CreatedBy INT = 0,
	@CreatedOn DATETIME = NULL,
	@ModifiedBy INT = 0,
	@ModifiedOn DATETIME = NULL,
	@IsDeleted INT = 0,
	@DeletedBy INT = 0,
	@DeletedOn DATETIME = NULL,
	@PurchaseItemId UNIQUEIDENTIFIER = NULL,
	@IsPurchaseIndentApprove BIT = 0 ,
	@IsShortClose BIT = 0 ,
	@IsDelivered BIT = 0 ,
	@SupplierDetails XML = NULL ,
	@SupplierDeleted XML = NULL ,
	@ItemDetails XML = NULL ,
	@UOMID UNIQUEIDENTIFIER = NULL ,
	@Qty FLOAT = 0 ,
	@IndentTransID INT = 0 ,
	@PageSize int = 0,
	@PageNumber int = 0,
	@InitialLoad int = 0 ,
	@FromDate DATETIME = NULL ,
	@ToDate DATETIME = NULL ,
	@TotalRecords INT = 0,
	@MasterId INT = 0,
	@InquiryNo INT = 0,
	@QuoteNo VARCHAR(50) = NULL,
	@QuoteDate DATETIME = NULL ,
	@QuotationId BIGINT = 0 ,
	@Rates FLOAT = 0 , 
	@CurrencyId INT = 0, 
	@Amount FLOAT = 0, 
	@DeliveryTime VARCHAR(50) = NULL,
	@Remarks VARCHAR(500) = NULL,
	@RFQTransId BIGINT = 0,
	@ImageName VARCHAR(MAX) = NULL,
	@ImagePathId UNIQUEIDENTIFIER = NULL,
	@IsRFQRequired BIT = 0 ,
	@MaxVersion INT = 1,
	@RevisedId INT = 0,
	@QuotationTransId BIGINT = 0,
	@ItemDeleted XML = NULL ,
	@QuoteTransId BIGINT = 0,
	@QuoteId BIGINT = 0,
	@ItemParameter NVARCHAR(1000) = NULL,
	@ItemWiseSrNo INT = 0,
	@IsQuotationPrepare INT = 2,
	@SupplierQuoteDate DateTime =null,
    @SupplierQuoteNo Varchar(50) =null,
     @ImagePathDetails AS XML = NULL ,
	   @IsApprove BIT = 0 
AS
BEGIN

declare @OriginalName VARCHAR(MAX) = NULL,
@Photo VARCHAR(MAX) = NULL ,
@SrNo INT = 0  ,@PaymentTerms VARCHAR(100) = NULL,@DeliveryTerms VARCHAR(100) = NULL,@FrieghtCharge VARCHAR(100) = NULL
   
	IF @Parameter = 1	--Fetch Plant Address on Plant Selection Change in RFQEntry Page
		BEGIN
			SELECT PlantAddress, City, State, CountryName  FROM PlantMaster
					LEFT JOIN CityMaster ON PlantMaster.CityId = CityMaster.CityId
					LEFT JOIN StateMaster ON CityMaster.StateId = StateMaster.StateId
					LEFT JOIN dbo.CountryMaster ON dbo.CountryMaster.CountryId = dbo.StateMaster.CountryId 
			WHERE PlantId = @PlantId AND PlantMaster.IsDeleted = 0 AND EntityId = @EntityId
		END
	
	IF @Parameter = 2	--Fetch Item Name for Item Name PopUp
		BEGIN
			SELECT 
			PurchaseItemMaster.PurchaseItemId, 
			ItemName 
			FROM 
			PurchaseItemMaster 
			inner join PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
			WHERE IsDeleted = 0 
			 AND PurchaseCompanyMapping.CompanyId = @EntityId 
			AND IsRFQRequired = 1 
			and PurchaseItemMaster.IsPattern = 0 
			Order  By ItemName
		END
	
	IF @Parameter = 3	--Fetch UOM on ItemName Selection Change
		BEGIN
			SELECT UOM, UOMid FROM PurchaseItemMaster INNER JOIN UOMMaster ON UOMMaster.UOMid = PurchaseItemMaster.UnitOfMeasure WHERE PurchaseItemId = @PurchaseItemId
		END
		
	IF @Parameter = 4 -- Featch Indent Data
    BEGIN
        if(@IsPurchaseIndentApprove = 1)
        Begin
            SELECT	DISTINCT
                    ROW_NUMBER() OVER ( ORDER BY CONVERT(VARCHAR(11), IndentMaster.IndentDate, 106) DESC ) AS SRNo ,
                    IndentMaster.IndentID ,
                    CONVERT(VARCHAR(11), IndentMaster.IndentDate, 106) AS [IndentDate] ,
                    isnull(SystemDepartment.DepartmentName,'') as Department,
                    isnull(IndentMaster.DepartmentID,CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)) as DepartmentID,
                     
                    (EmployeeDetails.EmployeeName + '(' + EmployeeDetails.EmployeeCode + ')') as RequiredBy ,
                    IndentMaster.IndentCode AS Indent_Code ,
                    PurchaseItemMaster.ItemCode ,
                    PurchaseItemMaster.ItemName ,
                    dbo.IndentMaster.IsDeleted ,
                    PurchaseItemMaster.PurchaseItemId ,
                    CONVERT(VARCHAR(11), IndentTrans.RequiredByDate, 106) AS RequiredDate ,
                    dbo.UOMMaster.UOM ,
                    IndentTrans.Qty - IndentTrans.OrderQty AS RequiredQty ,
                    IndentTrans.PurposeOfUse AS Purpose ,
                    IndentTrans.Remarks ,
                    IndentTrans.IndentTransID ,
                    --CASE WHEN IndentTrans.Rate IS NULL THEN 1
                    --     ELSE Rate
                    --END 
                    IndentTrans.Rate AS Rate ,
                    dbo.IndentTrans.IsShortClose ,
                    dbo.IndentTrans.IsDelivered ,
                    UOMMaster.UOMid ,
                    TariffCode ,
                    ISNULL(CGST,0) AS CGST ,
                    ISNULL(SGST,0) AS SGST ,
                    ISNULL(IGST,0) AS IGST ,
                    PurchaseItemMaster.ToleranceOn,
                    PurchaseItemMaster.Tolerance,
                    PurchaseItemMaster.ToleranceType
                    
            FROM    dbo.IndentMaster
                    INNER JOIN dbo.IndentTrans ON dbo.IndentTrans.IndentID = dbo.IndentMaster.IndentID
                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.IndentTrans.PurchaseItemId
                    INNER JOIN dbo.UOMMaster ON dbo.UOMMaster.UOMId = dbo.IndentTrans.UOM
                    --INNER JOIN dbo.CustomerPurchaseitemMappping ON dbo.CustomerPurchaseitemMappping.PurchaseItemId = dbo.IndentTrans.PurchaseItemId
                    INNER JOIN dbo.EmployeeDetails ON dbo.EmployeeDetails.EmployeeId = dbo.IndentMaster.EmployeeId                    
                    INNER JOIN SystemDepartment ON SystemDepartment.DepartmentID = IndentMaster.DepartmentID
                    
                    LEFT JOIN HSNGSTMapping ON HSNGSTMapping.HSNCode = PurchaseItemMaster.TariffCode
                    LEFT JOIN TaxMaster ON TaxMaster.TaxTemplateId = HSNGSTMapping.TaxTemplateId
            WHERE   PurchaseItemMaster.IsRFQRequired = @IsRFQRequired
                    AND (IndentMaster.EntityId = @EntityId)
                    AND IndentTrans.IsShortClose = @IsShortClose AND IndentTrans.IsDelivered = @IsDelivered
                    And IndentMaster.IsApprove=0
        End
        Else
        Begin
			SELECT	DISTINCT
                    ROW_NUMBER() OVER ( ORDER BY CONVERT(VARCHAR(11), IndentMaster.IndentDate, 106) DESC ) AS SRNo ,
                    IndentMaster.IndentID ,
                    CONVERT(VARCHAR(11), IndentMaster.IndentDate, 106) AS [IndentDate] ,
                    isnull(SystemDepartment.DepartmentName,'') as Department,
                    isnull(IndentMaster.DepartmentID,CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)) as DepartmentID,
                     
                    (EmployeeDetails.EmployeeName + '(' + EmployeeDetails.EmployeeCode + ')') as RequiredBy ,
                    IndentMaster.IndentCode AS Indent_Code ,
                    PurchaseItemMaster.ItemCode ,
                    PurchaseItemMaster.ItemName ,
                    dbo.IndentMaster.IsDeleted ,
                    PurchaseItemMaster.PurchaseItemId ,
                    CONVERT(VARCHAR(11), IndentTrans.RequiredByDate, 106) AS RequiredDate ,
                    dbo.UOMMaster.UOM ,
                    IndentTrans.Qty - IndentTrans.OrderQty AS RequiredQty ,
                    IndentTrans.PurposeOfUse AS Purpose ,
                    IndentTrans.Remarks ,
                    IndentTrans.IndentTransID ,
                    --CASE WHEN IndentTrans.Rate IS NULL THEN 1
                    --     ELSE Rate
                    --END 
                    IndentTrans.Rate AS Rate ,
                    dbo.IndentTrans.IsShortClose ,
                    dbo.IndentTrans.IsDelivered ,
                    UOMMaster.UOMid ,
                    TariffCode ,
                    ISNULL(CGST,0) AS CGST ,
                    ISNULL(SGST,0) AS SGST ,
                    ISNULL(IGST,0) AS IGST ,
                    PurchaseItemMaster.ToleranceOn,
                    PurchaseItemMaster.Tolerance,
                    PurchaseItemMaster.ToleranceType
                    
            FROM    dbo.IndentMaster
                    INNER JOIN dbo.IndentTrans ON dbo.IndentTrans.IndentID = dbo.IndentMaster.IndentID
                    INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.IndentTrans.PurchaseItemId
                    INNER JOIN dbo.UOMMaster ON dbo.UOMMaster.UOMId = dbo.IndentTrans.UOM
                    --INNER JOIN dbo.CustomerPurchaseitemMappping ON dbo.CustomerPurchaseitemMappping.PurchaseItemId = dbo.IndentTrans.PurchaseItemId
                    INNER JOIN dbo.EmployeeDetails ON dbo.EmployeeDetails.EmployeeId = dbo.IndentMaster.EmployeeId                    
                    INNER JOIN SystemDepartment ON SystemDepartment.DepartmentID = IndentMaster.DepartmentID
                    
                    LEFT JOIN HSNGSTMapping ON HSNGSTMapping.HSNCode = PurchaseItemMaster.TariffCode
                    LEFT JOIN TaxMaster ON TaxMaster.TaxTemplateId = HSNGSTMapping.TaxTemplateId
            WHERE   PurchaseItemMaster.IsRFQRequired = @IsRFQRequired
                    AND (IndentMaster.EntityId = @EntityId)
                    AND IndentTrans.IsShortClose = @IsShortClose AND IndentTrans.IsDelivered = @IsDelivered
        End
    END
    
      IF @Parameter = 5 --Insert Data
		BEGIN
		BEGIN TRANSACTION
		BEGIn try
			IF NOT EXISTS(SELECT MasterId FROM RFQMaster)
				BEGIN
					SET @MasterId = 1
				END
			ELSE
				BEGIN
					SET @MasterId = (SELECT MAX(ISNULL(MasterId, 0)) + 1 AS MasterId FROM RFQMaster)
				END
			--Commented by Ritik on 12-06-2025

			--SELECT  @Prefix = Prefix ,
   --                     @Suffix = Suffix ,
   --                     @Separator = Separator
   --             FROM    Prefix_Suffix
   --             WHERE   Applydate <= @RFQDate
   --                     AND PrefixSuffixId = ( SELECT   PrefixSuffixId
   --                                            FROM     InvoiceSeries
   --                                            WHERE    SeriesId = @SeriesId
   --                                          )

   SELECT top 1 @Prefix = Prefix ,
                        @Suffix = Suffix ,
                        @Separator = Separator
                FROM    Prefix_Suffix
                WHERE   Applydate <= @RFQDate
                        AND Invoice_SeriesId = @SeriesId
                      	order by Applydate desc

                                             
            DECLARE Supplier CURSOR
            FOR
                SELECT  Node.value('(CustomerId )[1]', 'UNIQUEIDENTIFIER') AS 'CustomerId'
                FROM    @SupplierDetails.nodes('/DocumentElement/SupplierDetails')
                        AS TEMPXML ( Node )
			
            OPEN Supplier;
			
            FETCH NEXT FROM Supplier INTO @SupplierId

            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN			
					IF NOT EXISTS(SELECT InquiryNo FROM RFQMaster)
						BEGIN
							SET @InquiryNo = 1
						END
					ELSE
						BEGIN
							SET @InquiryNo = (SELECT MAX(ISNULL(InquiryNo, 0)) + 1 AS InquiryNo FROM RFQMaster WHERE EntityId = @EntityId AND IsDeleted = 0)
						END
                
                    INSERT  INTO RFQMaster
                            ( SeriesId ,
                              RFQNo ,
                              EntryNo ,
                              RFQDate ,
                              PlantId ,
                              BillingAddress ,
                              DeliveryAddress ,
                              SupplierId ,
                              PaymentTerm ,
                              DeliveryTerm ,
                              ModeOfDispatch ,
                              PaymentMethod ,
                              Packing ,
                              Insurance ,
                              Remark ,
                              Prefix ,
                              Suffix ,
                              Separator ,
                              CreatedBy ,
                              CreatedOn ,
                              IsDeleted ,
                              EntityId ,
                              MasterId ,
                              InquiryNo
                            )
                    VALUES  (@SeriesId ,
                             @RFQNo ,
                             @EntryNo ,
                             @RFQDate ,
                             @PlantId ,
                             @BillingAddress ,
                             @DeliveryAddress ,
                             @SupplierId ,
                             @PaymentTerm ,
                             @DeliveryTerm ,
                             @ModeofDispatch ,
                             @PaymentMethod ,
                             @Packing ,
                             @Insurance ,
                             @Remark ,
                             @Prefix ,
                             @Suffix ,
                             @Separator ,
                             @CreatedBy ,
                             GETDATE() ,
                             @IsDeleted ,
                             @EntityId ,
                             @MasterId ,
                             @InquiryNo
                            )
                            
                        SET @RFQId = SCOPE_IDENTITY();
                        
                    DECLARE ItemDetail CURSOR
           			 FOR
           			     SELECT  Node.value('(ItemId )[1]', 'UNIQUEIDENTIFIER') AS 'PurchaseItemId' ,
           						 Node.value('(UOMID )[1]', 'UNIQUEIDENTIFIER') AS 'UOMID' ,
           			             Node.value('(RequiredQuantity )[1]', 'float') AS 'Qty' ,
           			             Node.value('(IndentTransID )[1]', 'INT') AS 'IndentTransID'
           			     FROM    @ItemDetails.nodes('/DocumentElement/ItemDetails')
           			             AS TEMPXML ( Node )
						
           			 OPEN ItemDetail;
         
           			 FETCH NEXT FROM ItemDetail INTO @PurchaseItemId, @UOMID, @Qty, @IndentTransID

           			 WHILE ( @@FETCH_STATUS = 0 )
           			     BEGIN			
           			         INSERT  INTO RFQTrans
           			                 ( RFQId ,
           			                   PurchaseItemId ,
           			                   UOMId ,
           			                   Qty ,
           			                   IndentTransID
           			                 )
           			         VALUES  ( @RFQId ,
           			                   @PurchaseItemId ,
           			                   @UOMID ,
           			                   @Qty ,
           			                   @IndentTransID
           			                 )
           			                 
           			     SET @RFQTransId = SCOPE_IDENTITY();
           			         
           			         DECLARE ItemParameter CURSOR
           						 FOR
           						     (SELECT ISNULL(ItemParameter, '') AS ItemParameter, ItemWiseSRNO FROM PurchaseItemParameterTranc WHERE PurchaseItemId = @PurchaseItemId)
									
           						 OPEN ItemParameter;
									
           						 FETCH NEXT FROM ItemParameter INTO @ItemParameter, @ItemWiseSRNO

           						 WHILE ( @@FETCH_STATUS = 0 )
           						     BEGIN
           								if(@ItemParameter <> '')
           									BEGIN
												INSERT INTO RFQ_ItemParameter
           												( RFQTransId,
           												  ItemParameter,
           												  PurchaseItemId,
           												  ItemWiseSrNo
           												)
           										VALUES	( @RFQTransId,
           												  @ItemParameter,
           												  @PurchaseItemId,
           												  @ItemWiseSrNo
           												)
											END
											FETCH NEXT FROM ItemParameter INTO @ItemParameter, @ItemWiseSRNO
           						     END
           						 
           						 CLOSE ItemParameter;
           						 DEALLOCATE ItemParameter;
           			                 
           			         FETCH NEXT FROM ItemDetail INTO @PurchaseItemId, @UOMID, @Qty, @IndentTransID
           			     END
           			 	
           			 CLOSE ItemDetail;
           			 DEALLOCATE ItemDetail;
                    
                            
                    FETCH NEXT FROM Supplier INTO @SupplierId
                END
           	
            CLOSE Supplier;
            DEALLOCATE Supplier;
            
             END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			 
			 IF CURSOR_STATUS('global','Supplier') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','Supplier') > -1
				   BEGIN
					CLOSE Supplier
				   END
				 DEALLOCATE Supplier
				END	
			IF CURSOR_STATUS('global','ItemDetail') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','ItemDetail') > -1
				   BEGIN
					CLOSE ItemDetail
				   END
				 DEALLOCATE ItemDetail
				END	
			IF CURSOR_STATUS('global','ItemParameter') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','ItemParameter') > -1
				   BEGIN
					CLOSE ItemParameter
				   END
				 DEALLOCATE ItemParameter
				END	
			 

			 return
			END	
        END Catch
		Commit TRANSACTION	
		
		END
	
	
	IF @Parameter = 6 --Fetch RFQ No
		BEGIN		
            SELECT DISTINCT RFQMaster.MasterId ,
                    --CASE WHEN Prefix IS NULL THEN ''
                    --     ELSE CONVERT(VARCHAR(50), Prefix)
                    --END
                    --+ CASE WHEN Separator IS NULL THEN ''
                    --       ELSE CONVERT(VARCHAR(50), Separator)
                    --  END + CONVERT(VARCHAR(50), RFQNo)
                    --+ CASE WHEN Separator IS NULL THEN ''
                    --       ELSE CONVERT(VARCHAR(50), Separator)
                    --  END + CASE WHEN Suffix IS NULL THEN ''
                    --             ELSE CONVERT(VARCHAR(50), Suffix)
                    --        END
							  ISNULL(Prefix,'')	
							+ ISNULL(Separator,'')	
							+ CONVERT(VARCHAR(50), RFQNo)
							+ ISNULL(Separator,'')
							+ ISNULL(Suffix,'')
							AS RFQNo,
                            RFQDate 
            FROM    RFQMaster
						INNER JOIN RFQTrans ON RFQTrans.RFQId = RFQMaster.RFQId
						left JOIN Quotation_Trans ON Quotation_Trans.RFQTransId = RFQTrans.RFQTransId
						
						 
            WHERE   RFQMaster.IsDeleted = 0
                    AND RFQMaster.EntityId = @EntityId
                      -- AND (@IsQuotationPrepare = 2 OR IsQuotationPrepared = @IsQuotationPrepare)
         --            AND (@IsQuotationPrepare = 2 OR 
							  --RFQTrans.PurchaseItemId not in (select PurchaseItemId from QuotationCompare where QuotationCompare.MasterID = RFQMaster.MasterID
									--					and RFQMaster.EntityId =QuotationCompare.EntityId )) 
				
							    AND (@IsQuotationPrepare = 2 OR 
							   RFQTrans.PurchaseItemId not in (select PurchaseItemId from QuotationCompare where QuotationCompare.MasterID = RFQMaster.MasterID
									 					and RFQMaster.EntityId =QuotationCompare.EntityId )) 	
							 							
            ORDER BY RFQMaster.RFQDate desc 
        END	
        
  
	IF @Parameter = 9   --Fetch RFQ Register Item Grid Data
		BEGIN
			SELECT  ROW_NUMBER() OVER(ORDER BY RFQTransId)AS SrNo ,
					PurchaseItemMaster.ItemName,
					UOMMaster.UOM, 
					RFQTrans.Qty, 
					--CASE WHEN IndentMaster.Prefix IS NULL THEN ''
					--				ELSE CONVERT(VARCHAR(50), IndentMaster.Prefix)
     --   		         		END
     --   		         		   + CASE WHEN IndentMaster.Separator IS NULL THEN ''
     --   		         		          ELSE CONVERT(VARCHAR(50), IndentMaster.Separator)
     --   		         		     END + CONVERT(VARCHAR(50), IndentMaster.IndentNo)
     --   		         		   + CASE WHEN IndentMaster.Separator IS NULL THEN ''
     --   		         		          ELSE CONVERT(VARCHAR(50), IndentMaster.Separator)
     --   		         		     END + CASE WHEN IndentMaster.Suffix IS NULL THEN ''
     --   		                         ELSE CONVERT(VARCHAR(50), IndentMaster.Suffix)
     --   		                    END

									  ISNULL(IndentMaster.Prefix,'')	
								    + ISNULL(IndentMaster.Separator,'')	
								    + CONVERT(VARCHAR(50), IndentMaster.IndentNo)
								    + ISNULL(IndentMaster.Separator,'')
								    + ISNULL(IndentMaster.Suffix,'')
									AS IndentNo ,
        		    CASE WHEN RFQTrans.IsQuotationPrepared = 1 THEN 'YES'
        				ELSE 'NO'
        				END AS QuotationPrepared
					--ISNULL(IndentMaster.IndentNo, '') AS IndentNo 
			FROM RFQTrans
					INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = RFQTrans.PurchaseItemId
					INNER JOIN UOMMaster ON UOMMaster.UOMId = RFQTrans.UOMId
					LEFT JOIN IndentTrans ON IndentTrans.IndentTransID = RFQTrans.IndentTransID
					LEFT JOIN IndentMaster ON IndentMaster.IndentID = IndentTrans.IndentID
			WHERE RFQId = @RFQId AND RFQTrans.IsDeleted = 0 AND PurchaseItemMaster.IsPattern  = 0
		END	
	
	IF @Parameter = 10 --Delete record from rfq register
		BEGIN
		BEGIN TRANSACTION
		BEGIN try
			--UPDATE  dbo.IndentTrans  
   --                             SET     IsDelivered = 0 
   --                             WHERE   IndentTransID IN (select IndentTransID FROM RFQTrans Inner join RFQMaster ON RFQMaster.RFQId = RFQTrans.RFQId WHERE MasterId = @MasterId AND EntityId = @EntityId)
            UPDATE RFQTrans SET IsDeleted = 1, DeletedBy = @DeletedBy, DeletedOn = GETDATE() WHERE RFQTrans.RFQId IN (SELECT RFQId FROM RFQMaster WHERE MasterId = @MasterId AND EntityId = @EntityId)
            
			UPDATE RFQMaster SET IsDeleted = 1, DeletedBy = @DeletedBy, DeletedOn = GetDate() WHERE MasterId = @MasterId AND EntityId = @EntityId
		END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  
			 return
			END	
        END Catch
        COMMIT TRANSACTION
		END
		
	IF @Parameter = 11 --Fetch Record for RFQ Entry Edit
		BEGIN
			SELECT  RFQId,
					SeriesId,
					RFQNo,
					ISNULL((ISNULL(Prefix, '') + ISNULL(Separator, '')          
    			                + RFQNo + ISNULL(Separator, '') + ISNULL(Suffix, '') ) , '') AS lblRFQNo,
					EntryNo,
					RFQDate,
					PlantId,
					BillingAddress,
					DeliveryAddress,
					SupplierId,
					CustomerMaster.CustomerName AS SupplierName ,
					PaymentTerm,
					DeliveryTerm,
					ModeOfDispatch,
					PaymentMethod,
					Packing,
					Insurance,
					Remark
			FROM RFQMaster INNER JOIN CustomerMaster ON CustomerId = SupplierId WHERE MasterId = @MasterId AND RFQMaster.IsDeleted = 0 AND RFQMaster.EntityId = @EntityId


			SELECT  ROW_NUMBER() OVER(ORDER BY RFQTransId)AS SrNo ,
					RFQTrans.PurchaseItemId,
					PurchaseItemMaster.ItemName,
					RFQTrans.UOMId,
					UOMMaster.UOM, 
					RFQTrans.Qty,
					RFQTrans.IndentTransId,
					IsQuotationPrepared,
					RFQTransId 
			FROM RFQTrans
					INNER JOIN RFQMaster ON RFQMaster.RFQId = RFQTrans.RFQId
					INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = RFQTrans.PurchaseItemId
					INNER JOIN UOMMaster ON UOMMaster.UOMId = RFQTrans.UOMId
					LEFT JOIN IndentTrans ON IndentTrans.IndentTransID = RFQTrans.IndentTransID
					LEFT JOIN IndentMaster ON IndentMaster.IndentID = IndentTrans.IndentID
			WHERE RFQTrans.RFQId = @RFQId AND RFQTrans.IsDeleted = 0
	END
	
	IF @Parameter = 12 --Update RFQ Entry
		BEGIN
		BEGIN TRANSACTION
		BEGIN try
			--UPDATE  dbo.IndentTrans  
   --                             SET     IsDelivered = 0 
   --                             WHERE   IndentTransID IN (select IndentTransID FROM RFQTrans Inner join RFQMaster ON RFQMaster.RFQId = RFQTrans.RFQId WHERE MasterId = @MasterId AND EntityId = @EntityId)
			
		
			--DELETE FROM RFQTrans WHERE RFQId IN (SELECT RFQId FROM RFQMaster WHERE MasterId = @MasterId AND EntityId = @EntityId)
			
			DECLARE ItemDeleted CURSOR
            FOR
                SELECT  Node.value('(ItemId )[1]', 'uniqueidentifier') AS 'PurchaseItemId'
                FROM    @ItemDeleted.nodes('/DocumentElement/ItemDeleted')
                        AS TEMPXML ( Node )
			
            OPEN ItemDeleted;
			
            FETCH NEXT FROM ItemDeleted INTO @PurchaseItemId

            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN
					UPDATE RFQTrans SET IsDeleted = 1, DeletedBy = @ModifiedBy, DeletedOn = GETDATE() where PurchaseItemId = @PurchaseItemId AND RFQId IN (SELECT RFQId FROM RFQMaster WHERE MasterId = @MasterId AND EntityId = @EntityId AND RFQTrans.IsDeleted = 0)
					
					FETCH NEXT FROM ItemDeleted INTO @PurchaseItemId
                END
            
            CLOSE ItemDeleted;
            DEALLOCATE ItemDeleted;
			
		
			DECLARE SupplierDeleted CURSOR
            FOR
                SELECT  Node.value('(CustomerId )[1]', 'UNIQUEIDENTIFIER') AS 'CustomerId'
                FROM    @SupplierDeleted.nodes('/DocumentElement/SupplierDeleted')
                        AS TEMPXML ( Node )
			
            OPEN SupplierDeleted;
			
            FETCH NEXT FROM SupplierDeleted INTO @SupplierId

            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN
					UPDATE RFQMaster SET IsDeleted = 1, DeletedBy = @ModifiedBy, DeletedOn = GETDATE() WHERE MasterId = @MasterId AND SupplierId = @SupplierId AND EntityId = @EntityId
					
					FETCH NEXT FROM SupplierDeleted INTO @SupplierId
                END
            
            CLOSE SupplierDeleted;
            DEALLOCATE SupplierDeleted;
            
			
			--SELECT  @Prefix = Prefix ,
   --                     @Suffix = Suffix ,
   --                     @Separator = Separator
   --             FROM    Prefix_Suffix
   --             WHERE   Applydate <= @RFQDate
   --                     AND PrefixSuffixId = ( SELECT   PrefixSuffixId
   --                                            FROM     InvoiceSeries
   --                                            WHERE    SeriesId = @SeriesId
   --                                          )

   SELECT top 1 @Prefix = Prefix ,
                        @Suffix = Suffix ,
                        @Separator = Separator
                FROM    Prefix_Suffix
                WHERE   Applydate <= @RFQDate
                        AND Invoice_SeriesId = @SeriesId
				 	order by Applydate desc

		
			DECLARE Supplier CURSOR
            FOR
                SELECT  Node.value('(CustomerId )[1]', 'UNIQUEIDENTIFIER') AS 'CustomerId'
                FROM    @SupplierDetails.nodes('/DocumentElement/SupplierDetails')
                        AS TEMPXML ( Node )
			
            OPEN Supplier;
			
            FETCH NEXT FROM Supplier INTO @SupplierId

            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN
					IF EXISTS(SELECT * FROM RFQMaster WHERE MasterId = @MasterId AND SupplierId = @SupplierId AND EntityId = @EntityId AND IsDeleted = 0)
						BEGIN
							UPDATE RFQMaster SET
									--SeriesId = @SeriesId,
									--RFQNo = @RFQNo,
									--EntryNo = @EntryNo,
									--RFQDate = @RFQDate,
									PlantId = @PlantId,
									BillingAddress = @BillingAddress,
									DeliveryAddress = @DeliveryAddress,
									PaymentTerm = @PaymentTerm,
									DeliveryTerm = @DeliveryTerm,
									ModeOfDispatch = @ModeofDispatch,
									PaymentMethod = @PaymentMethod,
									Packing = @Packing,
									Insurance = @Insurance,
									Remark = @Remark,
									Prefix = @Prefix,
									Suffix = @Suffix,
									Separator = @Separator,
									ModifiedBy = @ModifiedBy ,
									ModifiedOn = GETDATE()
									--InquiryNo = @InquiryNo
							WHERE MasterId = @MasterId AND SupplierId = @SupplierId AND EntityId = @EntityId
							
							SET @RFQId = (SELECT RFQId FROM RFQMaster WHERE MasterId = @MasterId AND SupplierId = @SupplierId AND EntityId = @EntityId AND IsDeleted = 0)
						END
					ELSE
						BEGIN
							IF NOT EXISTS(SELECT InquiryNo FROM RFQMaster)
								BEGIN
									SET @InquiryNo = 1
								END
							ELSE
								BEGIN
									SET @InquiryNo = (SELECT MAX(ISNULL(InquiryNo, 0)) + 1 AS InquiryNo FROM RFQMaster WHERE EntityId = @EntityId AND IsDeleted = 0)
								END
						
							INSERT  INTO RFQMaster
                            ( SeriesId ,
                              RFQNo ,
                              EntryNo ,
                              RFQDate ,
                              PlantId ,
                              BillingAddress ,
                              DeliveryAddress ,
                              SupplierId ,
                              PaymentTerm ,
                              DeliveryTerm ,
                              ModeOfDispatch ,
                              PaymentMethod ,
                              Packing ,
                              Insurance ,
                              Remark ,
                              Prefix ,
                              Suffix ,
                              Separator ,
                              CreatedBy ,
                              CreatedOn ,
                              IsDeleted ,
                              EntityId ,
                              MasterId ,
                              InquiryNo
                            )
                    VALUES  (@SeriesId ,
                             @RFQNo ,
                             @EntryNo ,
                             @RFQDate ,
                             @PlantId ,
                             @BillingAddress ,
                             @DeliveryAddress ,
                             @SupplierId ,
                             @PaymentTerm ,
                             @DeliveryTerm ,
                             @ModeofDispatch ,
                             @PaymentMethod ,
                             @Packing ,
                             @Insurance ,
                             @Remark ,
                             @Prefix ,
                             @Suffix ,
                             @Separator ,
                             @ModifiedBy ,
                             GETDATE() ,
                             @IsDeleted ,
                             @EntityId ,
                             @MasterId ,
                             @InquiryNo
                            )
                            
                            SET @RFQId = SCOPE_IDENTITY();
						END
					
					DECLARE ItemDetail CURSOR
           			 FOR
           			     SELECT  Node.value('(ItemId )[1]', 'UNIQUEIDENTIFIER') AS 'PurchaseItemId' ,
           						 Node.value('(UOMID )[1]', 'UNIQUEIDENTIFIER') AS 'UOMID' ,
           			             Node.value('(RequiredQuantity )[1]', 'float') AS 'Qty' ,
           			             Node.value('(IndentTransID )[1]', 'INT') AS 'IndentTransID' ,
           			             Node.value('(RFQTransId )[1]', 'BIGINT') AS 'RFQTransId'
           			     FROM    @ItemDetails.nodes('/DocumentElement/ItemDetails')
           			             AS TEMPXML ( Node )
						
           			 OPEN ItemDetail;
         
           			 FETCH NEXT FROM ItemDetail INTO @PurchaseItemId, @UOMID, @Qty, @IndentTransID, @RFQTransId

           			 WHILE ( @@FETCH_STATUS = 0 )
           			     BEGIN
           					IF (@RFQTransId = 0)
           						BEGIN
           							INSERT  INTO RFQTrans
           			    		             ( RFQId ,
           			    		               PurchaseItemId ,
           			    		               UOMId ,
           			    		               Qty ,
           			    		               IndentTransID
           			    		             )
           			    		     VALUES  ( @RFQId ,
           			    		               @PurchaseItemId ,
           			    		               @UOMID ,
           			    		               @Qty ,
           			    		               @IndentTransID
           			    		             )
           			    		             
           			    		     SET @RFQTransId = SCOPE_IDENTITY();
           						END
           					ELSE
           						BEGIN
           							DELETE FROM RFQ_ItemParameter WHERE RFQTransId = @RFQTransId
           						END
           			         
           						DECLARE ItemParameter CURSOR
           						 FOR
           						     (SELECT ItemParameter, ItemWiseSRNO FROM PurchaseItemParameterTranc WHERE PurchaseItemId = @PurchaseItemId)
									
           						 OPEN ItemParameter;
									
           						 FETCH NEXT FROM ItemParameter INTO @ItemParameter, @ItemWiseSRNO

           						 WHILE ( @@FETCH_STATUS = 0 )
           						     BEGIN
											INSERT INTO RFQ_ItemParameter
           											( RFQTransId,
           											  ItemParameter,
           											  PurchaseItemId,
           											  ItemWiseSrNo
           											)
           									VALUES	( @RFQTransId,
           											  @ItemParameter,
           											  @PurchaseItemId,
           											  @ItemWiseSrNo
           											)
											
											FETCH NEXT FROM ItemParameter INTO @ItemParameter, @ItemWiseSRNO
           						     END
           						 	
           						     
           						 CLOSE ItemParameter;
           						 DEALLOCATE ItemParameter;
           						  
           			         
           			         FETCH NEXT FROM ItemDetail INTO @PurchaseItemId, @UOMID, @Qty, @IndentTransID, @RFQTransId
           			     END
           			 	
           			 CLOSE ItemDetail;
           			 DEALLOCATE ItemDetail;
                    
                            
                    FETCH NEXT FROM Supplier INTO @SupplierId
                END
             	
            CLOSE Supplier;
            DEALLOCATE Supplier;
         
         END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			 
			  IF CURSOR_STATUS('global','ItemDeleted') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','ItemDeleted') > -1
				   BEGIN
					CLOSE ItemDeleted
				   END
				 DEALLOCATE ItemDeleted
				END	
			IF CURSOR_STATUS('global','SupplierDeleted') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','SupplierDeleted') > -1
				   BEGIN
					CLOSE SupplierDeleted
				   END
				 DEALLOCATE SupplierDeleted
				END	
			IF CURSOR_STATUS('global','Supplier') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','Supplier') > -1
				   BEGIN
					CLOSE Supplier
				   END
				 DEALLOCATE Supplier
				END	
			IF CURSOR_STATUS('global','ItemDetail') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','ItemDetail') > -1
				   BEGIN
					CLOSE ItemDetail
				   END
				 DEALLOCATE ItemDetail
				END	
			IF CURSOR_STATUS('global','ItemParameter') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','ItemParameter') > -1
				   BEGIN
					CLOSE ItemParameter
				   END
				 DEALLOCATE ItemParameter
				END	

			 return
			END	
        END Catch
		Commit TRANSACTION		
		END
	
	
	IF @Parameter = 14 --Fetch record for RFQ Register Download Grid Report
		BEGIN
			SELECT 
			--CASE WHEN RFQMaster.Prefix IS NULL THEN ''
			--			ELSE CONVERT(VARCHAR(50), RFQMaster.Prefix)
   --     		    END
   --     		       + CASE WHEN RFQMaster.Separator IS NULL THEN ''
   --     		              ELSE CONVERT(VARCHAR(50), RFQMaster.Separator)
   --     		         END + CONVERT(VARCHAR(50), RFQNo)
   --     		       + CASE WHEN RFQMaster.Separator IS NULL THEN ''
   --     		              ELSE CONVERT(VARCHAR(50), RFQMaster.Separator)
   --     		         END + CASE WHEN RFQMaster.Suffix IS NULL THEN ''
   --     		             ELSE CONVERT(VARCHAR(50), RFQMaster.Suffix)
   --     		        END
						
						  ISNULL(RFQMaster.Prefix,'')	
						+ ISNULL(RFQMaster.Separator,'')	
						+ CONVERT(VARCHAR(50), RFQNo)
						+ ISNULL(RFQMaster.Separator,'')
					    + ISNULL(RFQMaster.Suffix,'')
						AS RFQNo ,
					CONVERT(VARCHAR(11), RFQDate, 106) AS RFQDate ,
					RFQMaster.InquiryNo ,
					RFQMaster.BillingAddress ,
					RFQMaster.DeliveryAddress ,
					RFQMaster.PaymentTerm ,
					RFQMaster.DeliveryTerm AS DelivTerm ,
					RFQMaster.PaymentMethod ,
					RFQMaster.ModeOfDispatch ,
					RFQMaster.Packing ,
					RFQMaster.Insurance ,
					RFQMaster.Remark ,
					CustomerMaster.CustomerName AS SupplierName ,
					CustomerMaster.GSTNo ,
					CONVERT(VARCHAR(200), AddressMaster.Street) + CONVERT(VARCHAR(200), AddressMaster.Area) + CONVERT(VARCHAR(50), CityMaster.City) + CONVERT(VARCHAR(50), StateMaster.State) + CASE WHEN AddressMaster.Pincode > 0
                         THEN CONVERT(VARCHAR(50), AddressMaster.Pincode)
                         ELSE ''
                         END
                     + CountryName AS SupplierAddress,
                     
                     STUFF(( SELECT DISTINCT ',' + CHAR(10) + 
					 CONVERT(VARCHAR(100), 
					 --CASE WHEN IndentMaster.Prefix IS NULL THEN ''
						--	ELSE CONVERT(VARCHAR(50), IndentMaster.Prefix)
      --  		        END
      --  		           + CASE WHEN IndentMaster.Separator IS NULL THEN ''
      --  		                  ELSE CONVERT(VARCHAR(50), IndentMaster.Separator)
      --  		             END + CONVERT(VARCHAR(50), IndentMaster.IndentNo)
      --  		           + CASE WHEN IndentMaster.Separator IS NULL THEN ''
      --  		                  ELSE CONVERT(VARCHAR(50), IndentMaster.Separator)
      --  		             END + CASE WHEN IndentMaster.Suffix IS NULL THEN ''
      --  		                 ELSE CONVERT(VARCHAR(50), IndentMaster.Suffix)
      --  		            END
							
							          ISNULL(IndentMaster.Prefix,'')	
								    + ISNULL(IndentMaster.Separator,'')	
								    + CONVERT(VARCHAR(50), IndentMaster.IndentNo)
								    + ISNULL(IndentMaster.Separator,'')
								    + ISNULL(IndentMaster.Suffix,'')
							)
                                FROM    dbo.IndentTrans 
                                INNER JOIN IndentMaster ON IndentMaster.IndentCode = IndentMaster.IndentCode
																	AND IndentMaster.IndentID = dbo.IndentTrans.IndentID
								WHERE dbo.IndentTrans.IndentTransID IN (
									SELECT IndentTransID FROM RFQTrans WHERE RFQTrans.RFQId = RFQMaster.RFQId AND RFQMaster.EntityId = @EntityId AND RFQTrans.IsDeleted = 0
								)
                              FOR 
                                XML PATH('')
                              ), 1, 2, '') AS IndentNo ,
                           InvoiceSeries.ReportTitle
                              
			FROM RFQMaster 
						INNER JOIN CustomerMaster ON CustomerId = SupplierId
						LEFT JOIN AddressMaster ON AddressMaster.CustomerId = SupplierId
						LEFT JOIN CityMaster ON AddressMaster.City = CityMaster.CityId
						LEFT JOIN StateMaster ON CityMaster.StateId = StateMaster.StateId
						LEFT JOIN dbo.CountryMaster ON dbo.CountryMaster.CountryId = dbo.StateMaster.CountryId
						INNER JOIN InvoiceSeries ON InvoiceSeries.SeriesId = RFQMaster.SeriesId
			WHERE RFQMaster.RFQId = @RFQId AND RFQMaster.EntityId = @EntityId
			
			
			SELECT DISTINCT RFQTrans.PurchaseItemId,
					PurchaseItemMaster.ItemName,
					UOMMaster.UOM, 
					RFQTrans.Qty,
					--CASE WHEN IndentMaster.Prefix IS NULL THEN ''
					--		ELSE CONVERT(VARCHAR(50), IndentMaster.Prefix)
     --   		        END
     --   		           + CASE WHEN IndentMaster.Separator IS NULL THEN ''
     --   		                  ELSE CONVERT(VARCHAR(50), IndentMaster.Separator)
     --   		             END + CONVERT(VARCHAR(50), IndentMaster.IndentNo)
     --   		           + CASE WHEN IndentMaster.Separator IS NULL THEN ''
     --   		                  ELSE CONVERT(VARCHAR(50), IndentMaster.Separator)
     --   		             END + CASE WHEN IndentMaster.Suffix IS NULL THEN ''
     --   		                 ELSE CONVERT(VARCHAR(50), IndentMaster.Suffix)
     --   		            END
							  ISNULL(IndentMaster.Prefix,'')	
							+ ISNULL(IndentMaster.Separator,'')	
						    + CONVERT(VARCHAR(50), IndentMaster.IndentNo)
							+ ISNULL(IndentMaster.Separator,'')
							+ ISNULL(IndentMaster.Suffix,'')
							AS IndentNo,
        		    
        		    (SELECT DISTINCT (  
       					 SELECT DISTINCT STUFF((   
       					   
       					 SELECT    
       					  '|' + CAST(ROW_NUMBER() OVER ( ORDER BY  ItemWiseSrNo asc ) AS VARCHAR(2))  
       					                                             + '. '    
       					  + ItemParameter
       					         
       					 FROM RFQ_ItemParameter   
       					 WHERE RFQ_ItemParameter.RFQTransId = RFQTrans.RFQTransId
       					   
       					                       FOR  
       					                         XML PATH('')  
       					                       ), 1, 1, '')) AS ItemName  
       					                       ) as ItemParameters,
       					                       
       					 ( SELECT DISTINCT (  
       					 SELECT DISTINCT STUFF(( SELECT  ',' +  ItemQualityParaMapping.Element +  '   ' +   
       					       CASE WHEN ItemQualityParaMapping.MinValue = 0   
       					        THEN Convert(varchar(20),ItemQualityParaMapping.MaxValue) + '  Max   '  
       					        WHEN ItemQualityParaMapping.MaxValue = 0   
       					        THEN   
       					        Convert(varchar(20),ItemQualityParaMapping.MinValue) + ' Min'   
       					        ELSE Convert(varchar(20),ItemQualityParaMapping.MinValue) + ' - ' + Convert(varchar(20),ItemQualityParaMapping.MaxValue)     
       					 END
       					 FROM ItemQualityParaMapping   
       					 WHERE ItemQualityParaMapping.PurchaseItemID = TmpTable.PurchaseItemID  
       					 Order By ItemQualityParaMapping.SeqNo   
       					                       FOR  
       					                         XML PATH('')  
       					                       ), 1, 1, '')) AS ItemName  
       					                       ) as ScrapElement,  
       					                       RFQMaster.CreatedBy  
       					                 , '' as SPRequirement  
       					                , '' as AlterNativeName  
       					                , '' as DrawingNo
        		            
			FROM RFQTrans
					INNER JOIN RFQMaster ON RFQMaster.RFQId = RFQTrans.RFQId
					INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = RFQTrans.PurchaseItemId
					INNER JOIN UOMMaster ON UOMMaster.UOMId = RFQTrans.UOMId
					LEFT JOIN IndentTrans ON IndentTrans.IndentTransID = RFQTrans.IndentTransID AND RFQTrans.IsDeleted = 0
					LEFT JOIN IndentMaster ON IndentMaster.IndentID = IndentTrans.IndentID
					LEFT JOIN ItemQualityParaMapping as TmpTable on TmpTable.PurchaseItemId = PurchaseItemMaster.PurchaseItemId  
			WHERE RFQTrans.RFQId = @RFQId AND RFQTrans.IsDeleted = 0
			
			
				SELECT TmpTable.Element ,     
				   case when isnull(TmpTable.MinValue,0) = 0 then '-' else cast(TmpTable.MinValue as varchar(50)) end as Min ,  
				   case when isnull(TmpTable.MaxValue,0) = 0 then '-' else cast(TmpTable.MaxValue as varchar(50)) end as Max ,  
				   TmpTable.SeqNo ,  
				   dbo.PurchaseItemMaster.PurchaseItemId as ItemId            
				 FROM RFQTrans
							INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = RFQTrans.PurchaseItemId
							left join ItemQualityParaMapping as TmpTable on TmpTable.PurchaseItemId = PurchaseItemMaster.PurchaseItemId  
				                          
				             WHERE     RFQTrans.RFQId = @RFQId AND RFQTrans.IsDeleted = 0
				             and ( TmpTable.Element is not null ) and (TmpTable.MinValue > 0 or TmpTable.MaxValue > 0)  
				               group by   TmpTable.Element,TmpTable.MinValue,TmpTable.MaxValue,TmpTable.SeqNo    , dbo.PurchaseItemMaster.PurchaseItemId           
				               Order By TmpTable.SeqNo
			END	
		
	IF @Parameter = 15 --Fetch Record for Load from RFQ
		BEGIN
			SELECT  ROW_NUMBER() OVER(ORDER BY RFQTransId)AS SrNo ,
					RFQTransId ,
					ItemName, 
					RFQTrans.PurchaseItemId AS ItemId, 
					RFQTrans.UOMId AS UOMID, 
					UOM, 
					RFQTrans.Qty,
					--CASE WHEN Prefix IS NULL THEN ''
     --                    ELSE CONVERT(VARCHAR(50), Prefix)
     --               END
     --               + CASE WHEN Separator IS NULL THEN ''
     --                      ELSE CONVERT(VARCHAR(50), Separator)
     --                 END + CONVERT(VARCHAR(50), RFQNo)
     --               + CASE WHEN Separator IS NULL THEN ''
     --                      ELSE CONVERT(VARCHAR(50), Separator)
     --                 END + CASE WHEN Suffix IS NULL THEN ''
     --                            ELSE CONVERT(VARCHAR(50), Suffix)
     --                       END
							
							  ISNULL(Prefix,'')	
							+ ISNULL(Separator,'')	
							+ CONVERT(VARCHAR(50), RFQNo)
							+ ISNULL(Separator,'')
							+ ISNULL(Suffix,'')
							AS RFQNo 			FROM RFQTrans 
					INNER JOIN RFQMaster ON RFQMaster.RFQId = RFQTrans.RFQId 
					INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = RFQTrans.PurchaseItemId
					INNER JOIN UOMMaster ON UOMMaster.UOMid = RFQTrans.UOMID
			WHERE RFQMaster.IsDeleted = 0 AND RFQMaster.EntityId = @EntityId AND SupplierId = @SupplierId AND RFQTrans.IsQuotationPrepared = 0 AND RFQTrans.IsDeleted = 0
		END
		
	IF @Parameter = 16 --Fill Item Name Based on Supplier
		BEGIN
			SELECT DISTINCT ItemName, 
					RFQTrans.PurchaseItemId AS ItemId
			FROM RFQTrans 
					INNER JOIN RFQMaster ON RFQMaster.RFQId = RFQTrans.RFQId 
					INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = RFQTrans.PurchaseItemId
			WHERE RFQMaster.IsDeleted = 0 AND RFQMaster.EntityId = @EntityId AND SupplierId = @SupplierId AND RFQTrans.IsDeleted = 0
		END
		
	IF @Parameter = 17 --Fill UOM Based on Supplier
		BEGIN
			SELECT DISTINCT UOM ,
					RFQTrans.UOMId AS UOMID
			FROM RFQTrans 
					INNER JOIN RFQMaster ON RFQMaster.RFQId = RFQTrans.RFQId 
					INNER JOIN UOMMaster ON UOMMaster.UOMid = RFQTrans.UOMID
			WHERE RFQMaster.IsDeleted = 0 AND RFQMaster.EntityId = @EntityId AND SupplierId = @SupplierId AND RFQTrans.IsDeleted = 0
		END	
	
	IF @Parameter = 18 --Insert Quotation Data
		BEGIN
		BEGIN TRANSACTION
		BEGIN try
		Declare @QuotationImageIdRevise  uniqueidentifier 
			IF @RevisedId <> 0
				BEGIN
					UPDATE  dbo.RFQTrans  
                                SET     IsQuotationPrepared = 0 
                                WHERE   RFQTransId IN (SELECT RFQTransId FROM Quotation_Trans WHERE QuotationId = @RevisedId)
					UPDATE Quotation_Master SET MaxVersion = 0 WHERE QuotationId = @RevisedId AND EntityId = @EntityId
					set @QuotationImageIdRevise = (select top 1 QuotationImageId from Quotation_Master where  MaxVersion = 0 and  QuotationId = @RevisedId AND EntityId = @EntityId)
				END
			
			--SELECT  @Prefix = Prefix ,
   --                     @Suffix = Suffix ,
   --                     @Separator = Separator
   --             FROM    Prefix_Suffix
   --             WHERE   Applydate <= @QuoteDate
   --                     AND PrefixSuffixId = ( SELECT   PrefixSuffixId
   --                                            FROM     InvoiceSeries
   --                                            WHERE    SeriesId = @SeriesId
   --                                          )

   SELECT top 1 @Prefix = Prefix ,
                        @Suffix = Suffix ,
                        @Separator = Separator
                FROM    Prefix_Suffix
                WHERE   Applydate <= @QuoteDate
                        AND Invoice_SeriesId = @SeriesId
				 	order by Applydate desc


     Declare @QuotationImageId uniqueidentifier  = newid()
                    INSERT  INTO Quotation_Master
                            ( SeriesId ,
                              SupplierId ,
                              QuoteNo ,
                              Prefix ,
                              Suffix ,
                              Separator ,
                              EntryNo ,
                              QuoteDate ,
                              CreatedBy ,
                              CreatedOn ,
                              IsDeleted ,
                              EntityId ,
                              MaxVersion ,
                              RevisedId, 
                              QuotationImageId,
                              SupplierQuoteDate,
                              SupplierQuoteNo
                            )
                    VALUES  (@SeriesId ,
                             @SupplierId ,
                             @QuoteNo ,
                             @Prefix ,
                             @Suffix ,
                             @Separator ,
                             @EntryNo ,
                             @QuoteDate ,
                             @CreatedBy ,
                             GETDATE() ,
                             @IsDeleted ,
                             @EntityId ,
                             @MaxVersion ,
                             @RevisedId,
                             @QuotationImageId,
                             @SupplierQuoteDate,
                             @SupplierQuoteNo
                            )
                            
                        SET @QuotationId = SCOPE_IDENTITY();
                        
       --                 IF(@ImageName IS NOT NULL)
							--BEGIN
							--	SET @ImagePathId = NEWID()  

							--	INSERT  INTO ImagePath  
							--			( ImagePathId ,  
							--			  Id ,  
							--			  FilePath  
							--			)  
							--	VALUES  ( @ImagePathId ,  
							--			  @QuotationImageId ,  
							--			  @ImageName  
							--			)
							--END
						if(@ImagePathDetails is null  and  @RevisedId <> 0)
						begin
								INSERT  INTO ImagePath ( ImagePathId, Id, FilePath, SrNo,OriginalName,IntId,Type)                
				select NEWID(),@QuotationImageId,FilePath,SrNo,OriginalName,IntId,Type  from ImagePath where   Id   =@QuotationImageIdRevise
			
						end	   			 
			DECLARE ImagePath CURSOR                
            FOR                
              SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
					  Node.value('(SrNo)[1]', 'int') AS 'SrNo',
					   Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName'
                FROM    @ImagePathDetails.nodes('/DocumentElement/ImagePath') AS TEMPXML ( Node )                
                                            
            OPEN ImagePath;                
                                
            FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName
            WHILE ( @@FETCH_STATUS = 0 )                
                BEGIN                                   
					EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id = @QuotationImageId ,@OriginalName=@OriginalName
					
                    FETCH NEXT FROM ImagePath INTO @Photo, @SrNo ,@OriginalName              
                    IF @@ERROR <> 0                
                        ROLLBACK TRANSACTION                
                END                
                                            
            CLOSE ImagePath;                
            DEALLOCATE ImagePath; 


                        
                    DECLARE ItemDetail CURSOR
           			 FOR
           			     SELECT  Node.value('(ItemId )[1]', 'UNIQUEIDENTIFIER') AS 'PurchaseItemId' ,
           						 Node.value('(UOMID )[1]', 'UNIQUEIDENTIFIER') AS 'UOMID' ,
           			             Node.value('(Qty )[1]', 'float') AS 'Qty' ,
           			             Node.value('(Rates )[1]', 'float') AS 'Rates' ,
           			             Node.value('(CurrencyId )[1]', 'int') AS 'CurrencyId' ,
           			             Node.value('(Amount )[1]', 'float') AS 'Amount' ,
           			             Node.value('(DeliveryTime )[1]', 'varchar(50)') AS 'DeliveryTime' ,
           			             Node.value('(Remark )[1]', 'varchar(500)') AS 'Remarks' ,
           			             Node.value('(RFQTransId)[1]', 'bigint') AS 'RFQTransId',
           			             Node.value('(PaymentTerms )[1]', 'varchar(100)') AS 'PaymentTerms' ,
           			             Node.value('(DeliveryTerms )[1]', 'varchar(100)') AS 'DeliveryTerms' ,
           			             Node.value('(FrieghtCharge )[1]', 'varchar(100)') AS 'FrieghtCharge' 
           			     FROM    @ItemDetails.nodes('/DocumentElement/ItemDetails')
           			             AS TEMPXML ( Node )
						
           			 OPEN ItemDetail;
         
           			 FETCH NEXT FROM ItemDetail INTO @PurchaseItemId, @UOMID, @Qty, @Rates, @CurrencyId, @Amount, @DeliveryTime, @Remarks, 
           			 @RFQTransId,@PaymentTerms,@DeliveryTerms,@FrieghtCharge

           			 WHILE ( @@FETCH_STATUS = 0 )
           			     BEGIN			
           			         INSERT  INTO Quotation_Trans
           			                 ( QuotationId,
           							   ItemId ,
           			                   UOMID ,
           			                   Qty ,
           			                   Rates ,
           			                   CurrencyId ,
           			                   Amount,
           			                   DeliveryTime ,
           			                   Remark ,
           			                   RFQTransId,PaymentTerms,DeliveryTerms,FrieghtCharge
           			                 )
           			         VALUES  ( @QuotationId,
           			                   @PurchaseItemId ,
           			                   @UOMID ,
           			                   @Qty ,
           			                   @Rates ,
           			                   @CurrencyId ,
           			                   @Amount ,
           			                   @DeliveryTime ,
           			                   @Remarks ,
           			                   @RFQTransId,@PaymentTerms,@DeliveryTerms,@FrieghtCharge
           			                 )
           			                 
           			         UPDATE  dbo.RFQTrans  
                                SET     IsQuotationPrepared = 1  
                                WHERE   RFQTransId = @RFQTransId
           			                 
           			         FETCH NEXT FROM ItemDetail INTO @PurchaseItemId, @UOMID, @Qty, @Rates, @CurrencyId, @Amount, @DeliveryTime, @Remarks, @RFQTransId
           			         ,@PaymentTerms,@DeliveryTerms,@FrieghtCharge
           			     END
           			 	
           			 CLOSE ItemDetail;
           			 DEALLOCATE ItemDetail;
         END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			 IF CURSOR_STATUS('global','ItemDetail') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','ItemDetail') > -1
				   BEGIN
					CLOSE ItemDetail
				   END
				 DEALLOCATE ItemDetail
				END	
			 
			 return
			END	
        END Catch
		Commit TRANSACTION	           
		END	
	
	IF @Parameter = 19 --Fetch Quote No for Quotation Register
		BEGIN		
            SELECT DISTINCT QuotationId ,
                    --CASE WHEN Prefix IS NULL THEN ''
                    --     ELSE CONVERT(VARCHAR(50), Prefix)
                    --END
                    --+ CASE WHEN Separator IS NULL THEN ''
                    --       ELSE CONVERT(VARCHAR(50), Separator)
                    --  END + CONVERT(VARCHAR(50), QuoteNo)
                    --+ CASE WHEN Separator IS NULL THEN ''
                    --       ELSE CONVERT(VARCHAR(50), Separator)
                    --  END + CASE WHEN Suffix IS NULL THEN ''
                    --             ELSE CONVERT(VARCHAR(50), Suffix)
                    --        END
							
							ISNULL(Prefix,'')	
						  + ISNULL(Separator,'')	
						  + CONVERT(VARCHAR(50), QuoteNo)
						  + ISNULL(Separator,'')
						  + ISNULL(Suffix,'')
							AS QuoteNo
            FROM    Quotation_Master
            WHERE   IsDeleted = 0
                    AND EntityId = @EntityId
                    AND MaxVersion = 1
            ORDER BY QuoteNo ASC
        END	
       
  	
	IF @Parameter = 22 --Fetch Quotation Register Item Grid Data
		BEGIN
			SELECT  ROW_NUMBER() OVER(ORDER BY QuotationTransId)AS SrNo ,
					PurchaseItemMaster.ItemName,
					UOMMaster.UOM, 
					Quotation_Trans.Qty, 
					  CAST( Quotation_Trans.Rates  as varchar) +' ' +CurrencyMaster.Code AS  Rates,
					Quotation_Trans.Amount,
					Quotation_Trans.DeliveryTime,
					 --CASE WHEN Prefix IS NULL THEN ''
      --                   ELSE CONVERT(VARCHAR(50), Prefix)
      --              END
      --              + CASE WHEN Separator IS NULL THEN ''
      --                     ELSE CONVERT(VARCHAR(50), Separator)
      --                END + CONVERT(VARCHAR(50), RFQNo)
      --              + CASE WHEN Separator IS NULL THEN ''
      --                     ELSE CONVERT(VARCHAR(50), Separator)
      --                END + CASE WHEN Suffix IS NULL THEN ''
      --                           ELSE CONVERT(VARCHAR(50), Suffix)
      --                      END
							  ISNULL(Prefix,'')	
							+ ISNULL(Separator,'')	
							+ CONVERT(VARCHAR(50), RFQNo)
							+ ISNULL(Separator,'')
							+ ISNULL(Suffix,'')
							AS RFQNo
			FROM Quotation_Trans
					INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = Quotation_Trans.ItemId
					INNER JOIN UOMMaster ON UOMMaster.UOMId = Quotation_Trans.UOMID
					INNER JOIN RFQTrans ON RFQTrans.RFQTransId= Quotation_Trans.RFQTransId
					INNER JOIN RFQMaster ON RFQTrans.RFQId= RFQMaster.RFQId
					INNER JOIN CurrencyMaster ON CurrencyMaster.CurrencyID = Quotation_Trans.CurrencyId 
			WHERE Quotation_Trans.QuotationId = @QuotationId
		END	
		
	IF @Parameter = 23 --Delete record from Quotation register
		BEGIN
		BEGIN TRANSACTION
		BEGIN try
			UPDATE  dbo.RFQTrans  
                                SET     IsQuotationPrepared = 0  
                                WHERE   RFQTransId IN(select RFQTransId from Quotation_Master inner join Quotation_Trans ON Quotation_Trans.QuotationId = Quotation_Master.QuotationId WHERE Quotation_Master.QuotationId = @QuotationId AND EntityId = @EntityId)
		
			UPDATE Quotation_Master SET IsDeleted = 1, DeletedBy = @DeletedBy, DeletedOn = GetDate() WHERE QuotationId = @QuotationId AND EntityId = @EntityId
		END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION 
			 return
			END	
        END Catch
		Commit TRANSACTION	
		END
		
	IF @Parameter = 24	--Fetch Image
        BEGIN  
            --SELECT TOP 1 ImagePath.IntId AS ImageId ,  
            --        ImagePath.FilePath 
            --FROM    ImagePath  
            --WHERE   ImagePath.IntId = @QuotationId  
               SELECT TOP 1 ImagePath.Id AS ImageId ,  
                    ImagePath.FilePath ,
                    ImagePath.OriginalName
            FROM    ImagePath  
            WHERE   ImagePath.Id = (select  QuotationImageId  from  Quotation_Master where QuotationId =@QuotationId  )       
                     
        END
        
    IF @Parameter = 25	--Fetch Company Address for RFQ Entry
		BEGIN
			SELECT NameOfOrganization,
				Address,
				AddLine2,
				Area,
				Pincode,
				City,
				State 
			FROM CompanyMaster WHERE EntityId = @EntityId AND IsDelete = 0
		END
		
	IF @Parameter = 26	--Check Indent Already Exist or Not
		BEGIN
			IF EXISTS(SELECT IndentTransID FROM RFQTrans INNER JOIN RFQMaster ON RFQMaster.RFQId = RFQTrans.RFQId WHERE EntityId = @EntityId AND RFQMaster.IsDeleted = 0 AND IndentTransID = @IndentTransID AND RFQTrans.IsDeleted = 0)
				return 1;
			ELSE 
				return 0;
		END
	
	IF @Parameter = 27 --Fetch Record for Quotation Entry Edit
		BEGIN
			SELECT  QuotationId,
					SeriesId,
					QuoteNo,
					ISNULL((ISNULL(Prefix, '') + ISNULL(Separator, '')          
    			                + QuoteNo + ISNULL(Separator, '') + ISNULL(Suffix, '') ) , '') AS lblQuoteNo,
					EntryNo,
					QuoteDate,
					SupplierId,
					ImagePath.FilePath,
					SupplierQuoteDate,
                    SupplierQuoteNo
			FROM Quotation_Master 
					INNER JOIN CustomerMaster ON CustomerId = SupplierId
					LEFT JOIN ImagePath ON Id =(select QuotationImageId from  Quotation_Master where QuotationId = @QuotationId )       -- QuotationId
			WHERE QuotationId = @QuotationId AND Quotation_Master.IsDeleted = 0 AND Quotation_Master.EntityId = @EntityId


			SELECT  ROW_NUMBER() OVER(ORDER BY QuotationTransId)AS SrNo ,
					QuotationTransId,
					Quotation_Trans.QuotationId,
					ItemId,
					ItemName,
					UOM,
					Quotation_Trans.UOMID,
					Quotation_Trans.Qty,
					Rates,
					Currency,
					Quotation_Trans.CurrencyId,
					Amount,
					DeliveryTime,
					Remark,
					RFQTransId,PaymentTerms,DeliveryTerms,FrieghtCharge
					, (CASE WHEN (ISNULL((
								SELECT TOP 1 1 FROM PurchaseOrder_Trans 
								INNER JOIN PurchaseOrder_Master AS pom ON pom.PurchaseOrderId = PurchaseOrder_Trans.PurchaseOrderId
																and pom.IsDeleted = 0 and pom.maxversion = 1
								where PurchaseOrder_Trans.IsDeleted = 0 and PurchaseOrder_Trans.QuotationTransId = Quotation_Trans.QuotationTransId), 0) = 1) 
						THEN 1 ELSE 0 END
					) AS IsPoPrepared
			FROM Quotation_Trans
					INNER JOIN Quotation_Master ON Quotation_Master.QuotationId = Quotation_Trans.QuotationId
					INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = Quotation_Trans.ItemId
					INNER JOIN UOMMaster ON UOMMaster.UOMId = Quotation_Trans.UOMID
					INNER JOIN CurrencyMaster ON CurrencyMaster.CurrencyID = Quotation_Trans.CurrencyId
			WHERE Quotation_Trans.QuotationId = @QuotationId
	END	
	
	IF @Parameter = 28
		BEGIN
		declare @QuotationIamgeId  uniqueidentifier =(select ISNULL(  QuotationImageId,newid()) from  Quotation_Master where QuotationId =@QuotationId  )
			
          DECLARE ImagePath CURSOR                
            FOR                
              SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
					  Node.value('(SrNo)[1]', 'int') AS 'SrNo',
					   Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName'
                FROM    @ImagePathDetails.nodes('/DocumentElement/ImagePath') AS TEMPXML ( Node )                
                                            
            OPEN ImagePath;                
                                
            FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName
            WHILE ( @@FETCH_STATUS = 0 )                
                BEGIN      
					 delete from imagepath where id=@QuotationIamgeId                             
					EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id = @QuotationIamgeId,@OriginalName=@OriginalName
					
                    FETCH NEXT FROM ImagePath INTO @Photo, @SrNo ,@OriginalName              
                    IF @@ERROR <> 0                
                        ROLLBACK TRANSACTION                
                END                
                                            
            CLOSE ImagePath;                
            DEALLOCATE ImagePath; 
            
			--IF(@ImageName IS NOT NULL)
			--	BEGIN
			--		IF EXISTS(SELECT * FROM ImagePath WHERE Id = @QuotationIamgeId)
			--			BEGIN
			--				UPDATE ImagePath  
			--					SET	FilePath = @ImageName
			--				WHERE  Id = @QuotationIamgeId
			--			END
			--		ELSE
			--			BEGIN
			--					SET @ImagePathId = NEWID()  

			--					INSERT  INTO ImagePath  
			--							( ImagePathId ,  
			--							  Id ,  
			--							  FilePath  
			--							)  
			--					VALUES  ( @ImagePathId ,  
			--							  @QuotationIamgeId ,  
			--							  @ImageName  
			--							)
			--			END
			--	END
			
				UPDATE Quotation_Master SET ModifiedBy = @ModifiedBy, ModifiedOn = GETDATE(),
				SupplierQuoteDate = @SupplierQuoteDate, SupplierQuoteNo = @SupplierQuoteNo WHERE QuotationId = @QuotationId AND EntityId = @EntityId
				 AND IsDeleted = 0
				
				DECLARE ItemDeleted CURSOR
				FOR
					SELECT  Node.value('(QuotationTransId )[1]', 'BIGINT') AS 'QuotationTransId'
					FROM    @ItemDeleted.nodes('/DocumentElement/ItemDeleted')
                        AS TEMPXML ( Node )
			
            OPEN ItemDeleted;
			
            FETCH NEXT FROM ItemDeleted INTO @QuotationTransId

            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN
					UPDATE  dbo.RFQTrans  
                                SET     IsQuotationPrepared = 0 
                                WHERE   RFQTransId IN (SELECT RFQTransId FROM Quotation_Trans WHERE QuotationTransId = @QuotationTransId)               
					DELETE FROM Quotation_Trans WHERE QuotationTransId = @QuotationTransId
					
					FETCH NEXT FROM ItemDeleted INTO @QuotationTransId
                END
            IF @@ERROR <> 0
                ROLLBACK TRANSACTION		
                
            CLOSE ItemDeleted;
            DEALLOCATE ItemDeleted;
			
				DECLARE ItemDetail CURSOR
           			 FOR
           			     SELECT  Node.value('(ItemId )[1]', 'UNIQUEIDENTIFIER') AS 'PurchaseItemId' ,
           						 Node.value('(UOMID )[1]', 'UNIQUEIDENTIFIER') AS 'UOMID' ,
           			             Node.value('(Qty )[1]', 'float') AS 'Qty' ,
           			             Node.value('(Rates )[1]', 'float') AS 'Rates' ,
           			             Node.value('(CurrencyId )[1]', 'int') AS 'CurrencyId' ,
           			             Node.value('(Amount )[1]', 'float') AS 'Amount' ,
           			             Node.value('(DeliveryTime )[1]', 'varchar(50)') AS 'DeliveryTime' ,
           			             Node.value('(Remark )[1]', 'varchar(500)') AS 'Remarks' ,
           			             Node.value('(RFQTransId)[1]', 'bigint') AS 'RFQTransId' ,
           			             Node.value('(QuotationTransId)[1]', 'bigint') AS 'QuoteTransId' ,
           			             Node.value('(QuotationId)[1]', 'bigint') AS 'QuoteId'   ,
           			             Node.value('(PaymentTerms )[1]', 'varchar(100)') AS 'PaymentTerms' ,
           			             Node.value('(DeliveryTerms )[1]', 'varchar(100)') AS 'DeliveryTerms' ,
           			             Node.value('(FrieghtCharge )[1]', 'varchar(100)') AS 'FrieghtCharge' 
           			     FROM    @ItemDetails.nodes('/DocumentElement/ItemDetails')
           			             AS TEMPXML ( Node )
						
           			 OPEN ItemDetail;
         
           			 FETCH NEXT FROM ItemDetail INTO @PurchaseItemId, @UOMID, @Qty, @Rates, @CurrencyId, @Amount, @DeliveryTime, @Remarks,
           			  @RFQTransId, @QuoteTransId, @QuoteId,@PaymentTerms,@DeliveryTerms,@FrieghtCharge

           			 WHILE ( @@FETCH_STATUS = 0 )
           			     BEGIN
           					IF EXISTS(SELECT * FROM Quotation_Trans WHERE QuotationTransId = @QuoteTransId)
								BEGIN
									UPDATE Quotation_Trans
										SET  Qty = @Qty,
           			        		         Rates = @Rates,
           			        		         CurrencyId = @CurrencyId,
           			        		         Amount = @Amount,
           			        		         DeliveryTime = @DeliveryTime,
           			        		         Remark = @Remarks,
           			        		         PaymentTerms = @PaymentTerms,
											 DeliveryTerms =@DeliveryTerms,
											 FrieghtCharge =@FrieghtCharge											 
           			        		WHERE QuotationTransId = @QuoteTransId
								END
							ELSE
								BEGIN
           			        		 INSERT  INTO Quotation_Trans
           			        		         ( QuotationId,
           									   ItemId ,
           			        		           UOMID ,
           			        		           Qty ,
           			        		           Rates ,
           			        		           CurrencyId ,
           			        		           Amount,
           			        		           DeliveryTime ,
           			        		           Remark ,
           			        		           RFQTransId,PaymentTerms,DeliveryTerms,FrieghtCharge
           			        		         )
           			        		 VALUES  ( @QuotationId,
           			        		           @PurchaseItemId ,
           			        		           @UOMID ,
           			        		           @Qty ,
           			        		           @Rates ,
           			        		           @CurrencyId ,
           			        		           @Amount ,
           			        		           @DeliveryTime ,
           			        		           @Remarks ,
           			        		           @RFQTransId,@PaymentTerms,@DeliveryTerms,@FrieghtCharge
           			        		         )
           			        		         
           			        		 UPDATE  dbo.RFQTrans  
                            		    SET     IsQuotationPrepared = 1  
                            		    WHERE   RFQTransId = @RFQTransId
           			            END
           			             
           			         FETCH NEXT FROM ItemDetail INTO @PurchaseItemId, @UOMID, @Qty, @Rates, @CurrencyId, @Amount, @DeliveryTime, @Remarks,
           			          @RFQTransId, @QuoteTransId, @QuoteId,@PaymentTerms,@DeliveryTerms,@FrieghtCharge
           			     END
           			 IF @@ERROR <> 0
           			     ROLLBACK TRANSACTION		
           			 CLOSE ItemDetail;
           			 DEALLOCATE ItemDetail;
			
		END
		
	IF @Parameter = 29	--Check Quotation is Prepared or Not
		BEGIN
			SELECT IsQuotationPrepared FROM RFQTrans WHERE RFQTrans.RFQId IN (SELECT RFQTrans.RFQId FROM RFQTrans INNER JOIN RFQMaster ON RFQMaster.RFQId = RFQTrans.RFQId WHERE EntityId = @EntityId AND RFQMaster.IsDeleted = 0 AND MasterId = @MasterId) AND RFQTrans.IsDeleted = 0
		END
		
	IF (@parameter = 30)
        BEGIN
			IF EXISTS (SELECT TOP 1 1 FROM PurchaseOrder_Trans 
						INNER JOIN PurchaseOrder_Master AS pom ON pom.PurchaseOrderId = PurchaseOrder_Trans.PurchaseOrderId
														and pom.IsDeleted = 0 and pom.maxversion = 1
						where PurchaseOrder_Trans.IsDeleted = 0 and PurchaseOrder_Trans.QuotationTransId IN (
							select Quotation_Trans.QuotationTransId from Quotation_Trans where Quotation_Trans.QuotationId = @QuotationId
						)
			)
                RETURN 1
            ELSE
                RETURN 0
        END
        
    IF(@Parameter = 31)
		BEGIN
		SELECT  
		--CASE WHEN RFQMaster.Prefix IS NULL THEN ''
  --                       ELSE CONVERT(VARCHAR(50), RFQMaster.Prefix)
  --                  END
  --                  + CASE WHEN RFQMaster.Separator IS NULL THEN ''
  --                         ELSE CONVERT(VARCHAR(50), RFQMaster.Separator)
  --                    END + CONVERT(VARCHAR(50), RFQNo)
  --                  + CASE WHEN RFQMaster.Separator IS NULL THEN ''
  --                         ELSE CONVERT(VARCHAR(50), RFQMaster.Separator)
  --                    END + CASE WHEN RFQMaster.Suffix IS NULL THEN ''
  --                               ELSE CONVERT(VARCHAR(50), RFQMaster.Suffix)
  --                          END
							
							  ISNULL(RFQMaster.Prefix,'')	
							+ ISNULL(RFQMaster.Separator,'')	
							+ CONVERT(VARCHAR(50), RFQMaster.RFQNo)
							+ ISNULL(RFQMaster.Separator,'')
							+ ISNULL(RFQMaster.Suffix,'')
							AS RFQNo,
                    CONVERT(VARCHAR(11), RFQDate, 106) AS RFQDate,
					ItemName,
					RFQTrans.Qty, 
					QoutationDtls.Rates, 
					QoutationDtls.Symbol AS CurrencySymbol, QoutationDtls.CurrencyCode,
					DeliveryTime, 
					CustomerName AS SupplierName,
					RFQMaster.SupplierId,
					UOM,
					'http://someaction?rowid=' + CAST(QoutationDtls.QuotationId AS VARCHAR(100)) AS QuotationId,
					'http://FileName=' + FilePath AS FilePath,
					QoutationDtls.PaymentTerms,
					QoutationDtls.DeliveryTerms,
					FrieghtCharge,
					QoutationDtls.Remark ,
					case when LastPO.IsImport = 1 then CAST( Round((Rateincurrency - ((Rateincurrency*ISNULL(Discount,0))/100)),2) as varchar)   else CAST(  Round((LastPO.Rates - ((LastPO.Rates*ISNULL(Discount,0))/100)),2)  as varchar) end  + ' ' + LastPO.CurrencyCode  as Rate
			FROM RFQMaster 
					INNER JOIN RFQTrans ON RFQTrans.RFQId = RFQMaster.RFQId 
					LEFT JOIN (
						SELECT	Quotation_Trans.RFQTransId, Quotation_Master.SupplierId, Quotation_Master.QuotationImageId
								,Quotation_Trans.Rates,DeliveryTime,Quotation_Master.QuotationId,Quotation_Trans.PaymentTerms,
								Quotation_Trans.DeliveryTerms,FrieghtCharge,
								Quotation_Trans.Remark  ,QuotationTransId, CurrencyMaster.Symbol   ,CurrencyMaster.Code as CurrencyCode	
						FROM	Quotation_Master
								LEFT  JOIN Quotation_Trans ON Quotation_Master.QuotationId = Quotation_Trans.QuotationId
								LEFT JOIN CurrencyMaster ON CurrencyMaster.CurrencyID =  Quotation_Trans.CurrencyId 
						WHERE	Quotation_Master.IsDeleted = 0 
								AND Quotation_Master.MaxVersion = 1
					) AS QoutationDtls ON QoutationDtls.RFQTransId = RFQTrans.RFQTransId
										AND RFQMaster.SupplierId = QoutationDtls.SupplierId
					INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = RFQTrans.PurchaseItemId
					INNER JOIN UOMMaster ON UOMMaster.UOMId = RFQTrans.UOMId
					INNER JOIN CustomerMaster ON CustomerId = RFQMaster.SupplierId
					LEFT JOIN ImagePath ON ImagePath.Id = QoutationDtls.QuotationImageId
					OUTER APPLY
								(
									SELECT TOP 1
										   POM.PurchaseOrderId,
										   POM.IsImport,
										   POM.OrderDate,
										   POT.Rates,
										   POT.Rateincurrency,
										   POT.Discount,
										   CM.Code AS CurrencyCode
									FROM PurchaseOrder_Master POM
									LEFT JOIN PurchaseOrder_Trans POT 
										   ON POT.PurchaseOrderId = POM.PurchaseOrderId
									LEFT JOIN CurrencyMaster CM 
										   ON CM.CurrencyID = POM.Currency
									WHERE POM.CustomerID = CustomerMaster.CustomerId
									AND POT.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
									  AND POM.MaxVersion = 1
									  AND POT.IsDeleted = 0 
									  AND POM.IsDeleted = 0
						              AND POM.maxversion = 1 
									  AND POT.IsShortclose = 0 
									  AND POM.EntityId = 1
									 and (@IsApprove = 0 Or IsApprove = 1 )

									ORDER BY POM.OrderDate DESC
								) AS LastPO
					WHERE MasterId = @MasterId
						AND RFQMaster.EntityId = @EntityId AND RFQMaster.IsDeleted = 0
						AND ( @PurchaseItemId IS NULL OR 
								RFQTrans.PurchaseItemId=@PurchaseItemId)
								--	ORDER BY QuotationTransId DESC
			--SELECT  CASE WHEN RFQMaster.Prefix IS NULL THEN ''
   --                      ELSE CONVERT(VARCHAR(50), RFQMaster.Prefix)
   --                 END
   --                 + CASE WHEN RFQMaster.Separator IS NULL THEN ''
   --                        ELSE CONVERT(VARCHAR(50), RFQMaster.Separator)
   --                   END + CONVERT(VARCHAR(50), RFQNo)
   --                 + CASE WHEN RFQMaster.Separator IS NULL THEN ''
   --                        ELSE CONVERT(VARCHAR(50), RFQMaster.Separator)
   --                   END + CASE WHEN RFQMaster.Suffix IS NULL THEN ''
   --                              ELSE CONVERT(VARCHAR(50), RFQMaster.Suffix)
   --                         END AS RFQNo,
   --                 CONVERT(VARCHAR(11), RFQDate, 106) AS RFQDate,
			--		ItemName,
			--		RFQTrans.Qty, 
			--		Quotation_Trans.Rates, 
			--		DeliveryTime, 
			--		CustomerName AS SupplierName,
			--		RFQMaster.SupplierId,
			--		UOM,
			--		'http://someaction?rowid=' + CAST(Quotation_Master.QuotationId AS VARCHAR(100)) AS QuotationId,
			--		'http://FileName=' + FilePath AS FilePath,
			--		Quotation_Trans.PaymentTerms,
			--		Quotation_Trans.DeliveryTerms,
			--		FrieghtCharge,
			--		Quotation_Trans.Remark 
			--FROM RFQMaster 
			--		INNER JOIN RFQTrans ON RFQTrans.RFQId = RFQMaster.RFQId 
			--		LEFT JOIN Quotation_Trans ON Quotation_Trans.RFQTransId = RFQTrans.RFQTransId
			--		LEFT JOIN Quotation_Master ON Quotation_Master.QuotationId = Quotation_Trans.QuotationId
			--							AND Quotation_Master.SupplierId = RFQMaster.SupplierId
			--							AND Quotation_Master.IsDeleted = 0 AND Quotation_Master.MaxVersion = 1
			--		INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = RFQTrans.PurchaseItemId
			--		INNER JOIN UOMMaster ON UOMMaster.UOMId = RFQTrans.UOMId
			--		INNER JOIN CustomerMaster ON CustomerId = RFQMaster.SupplierId
			--		LEFT JOIN ImagePath ON ImagePath.Id = Quotation_Master.QuotationImageId --(select QuotationImageId  from  Quotation_Master where QuotationId = Quotation_Master.QuotationId  ) --IntId = Quotation_Master.QuotationId
			--WHERE MasterId = @MasterId
			--			AND RFQMaster.EntityId = @EntityId AND RFQMaster.IsDeleted = 0
			--			AND ( @PurchaseItemId IS NULL OR 
			--					RFQTrans.PurchaseItemId=@PurchaseItemId)
			--						ORDER BY QuotationTransId DESC
		END
	
END
GO
