USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Process_Rights]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Process_Rights] 
	-- Add the parameters for the stored procedure here
    @Parameter INT = 0 ,
    @UserId INT = 0 ,
    @ProcessId UNIQUEIDENTIFIER = NULL ,
    @IsFromProcess INT = 0 ,
    @ProcessRightTable AS XML = NULL ,
    @ProcessRightTableTo AS XML = NULL,
    @AutoProcess BIT = 0 
    , @EntityId INT = 0
    
AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;

    -- Insert statements for procedure here
        IF @Parameter = 1
            BEGIN
                SELECT  UserId ,
                        username
                FROM    UserMaster
                inner join UserTypeMaster on UserTypeMaster.UserTypeId=usermaster.UserType
                where UserTypeMaster.UserType!='admin'
                AND IsDeleted = 0
                AND UserMaster.CompanyId = @EntityId
            END
	 
        IF @Parameter = 2
            BEGIN
                --SELECT --DISTINCT
                --        ProcessMaster.ProcessId ,
                --        ProcessName,
                --        IsFromprocess
                --FROM    ProcessMaster
                --        INNER JOIN ProcessRight ON ProcessRight.ProcessId = ProcessMaster.ProcessId 
                --WHERE   Userid = @UserId
                select processmaster.ProcessId,processname from processmaster where ProcessMaster.IsDeleted=0
            END
	 
        IF @Parameter = 3
            BEGIN
               
                   -- Start XML for Process From 
               delete from ProcessRight where UserId=@UserId  
                DECLARE ProcessDetail CURSOR
                FOR
                    SELECT  Node.value('(ProcessId )[1]', 'Uniqueidentifier') AS 'ProcessId'
                    FROM    @ProcessRightTable .nodes('/DocumentElement/ProcessData')
                            AS TEMPXML ( Node )	
                OPEN ProcessDetail;
                FETCH NEXT FROM ProcessDetail  INTO @processId
                  
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                    
                        INSERT  INTO ProcessRight
                                ( userid ,
                                  ProcessId ,
                                  IsFromprocess
                                )
                        VALUES  ( @Userid ,
                                  @ProcessId ,
                                  1
                                )
                            
                        IF @@Error <> 0
                            ROLLBACK  TRANSACTION
                        FETCH NEXT FROM ProcessDetail  INTO @processId
                    END
                            
                CLOSE ProcessDetail;
                          --End XML for Process From    
                             -- Start XML For Process To 
                              
                DECLARE ProcessDetailTo CURSOR
                FOR
                    SELECT  Node.value('(ProcessId )[1]', 'Uniqueidentifier') AS 'ProcessId'
                    FROM    @ProcessRightTableTo .nodes('/DocumentElement/ProcessDataTo')
                            AS TEMPXML ( Node )	
                OPEN ProcessDetailTo;
                FETCH NEXT FROM ProcessDetailTo  INTO @processId
                  
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                        INSERT  INTO ProcessRight
                                ( userid ,
                                  ProcessId ,
                                  IsFromprocess
                                )
                        VALUES  ( @Userid ,
                                  @ProcessId ,
                                  0
                                )
                            
                        IF @@Error <> 0
                            ROLLBACK  TRANSACTION
                        FETCH NEXT FROM ProcessDetailTo  INTO @processId
                    END
                            
                CLOSE ProcessDetailTo;
                              --End XML for ProcessTo
     
            END
            
            If @Parameter=4
            begin
             SELECT --DISTINCT
                        ProcessMaster.ProcessId                        
                FROM    ProcessMaster
                        INNER JOIN ProcessRight ON ProcessRight.ProcessId = ProcessMaster.ProcessId 
                WHERE   Userid = @UserId and IsFromprocess=1 and ProcessMaster.IsDeleted=0
            end
            
             If @Parameter=5
            begin
             SELECT --DISTINCT
                        ProcessMaster.ProcessId
                FROM    ProcessMaster
                        INNER JOIN ProcessRight ON ProcessRight.ProcessId = ProcessMaster.ProcessId 
                WHERE   Userid = @UserId and IsFromprocess=0 and ProcessMaster.IsDeleted=0 --and ProcessMaster.AutoProcess=@AutoProcess
            end        
            
            
               If @Parameter=5
            begin
             SELECT --DISTINCT
                        ProcessMaster.ProcessId
                FROM    ProcessMaster
                        INNER JOIN ProcessRight ON ProcessRight.ProcessId = ProcessMaster.ProcessId 
                WHERE   Userid = @UserId and IsFromprocess=0 and ProcessMaster.IsDeleted=0 
            end 
    END
GO
