USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Material_Inward_Delete]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Material_Inward_Delete]
	 @SupplierQty FLOAT =0,    
    @IsHeatwise INT = 0 ,      
    @PurchaseItemId UNIQUEIDENTIFIER = NULL ,      
    @InwardID UNIQUEIDENTIFIER = NULL ,      
    @PurchaseOrderId UNIQUEIDENTIFIER = NULL ,      
    @ItemName VARCHAR(50) = NULL ,      
    @ItemType VARCHAR(50) = NULL ,      
    @ItemCode VARCHAR(50) = NULL ,      
    @CustomerId UNIQUEIDENTIFIER = NULL ,      
    @CurrentStock FLOAT = 0 ,      
    @DateFrom DATETIME = NULL ,      
    @DateTo DATETIME = NULL ,      
    @Quantity FLOAT = 0 ,      
    @AcceptedQuantiy FLOAT = 0 ,      
    @RejectedQuantity FLOAT = 0 ,      
    @ItemRemarks VARCHAR(100) = NULL ,      
    @UserId INT = 0 ,      
    @CheckedBy INT = 0 ,      
    @Remarks VARCHAR(MAX) = NULL ,      
    @RefDocNo VARCHAR(50) = NULL ,      
    @InwardDate DATETIME = NULL ,      
    @IsDeleted INT = 0 ,      
    @CreatedBy INT = 0 ,      
    @CreatedOn DATETIME = NULL ,      
    @Modified_By INT = 0 ,      
    @Modified_On DATETIME = NULL ,      
    @TransactionQty FLOAT = 0 ,      
    @Tagging VARCHAR(50) = NULL ,      
    @Process VARCHAR(50) = NULL ,      
    @ProcessCode INT = 0 ,      
    @ProcessDate DATETIME = NULL ,      
    @PageNumber INT = 0 ,      
    @PageSize INT = 0 ,      
    @InitialLoad INT = 0 ,      
    @TotalRecords INT = 0 ,      
    @IsActive INT = 0 ,      
    @InsertedDate DATETIME = NULL ,      
    @EntityId INT = 0 ,      
    @DeletedOn DATETIME = NULL ,      
    @DeletedBy INT = 0 ,      
    @INWSrNo VARCHAR(20) = NULL ,      
    @INWno VARCHAR(20) = NULL ,      
    @MaterialDetails AS XML = NULL ,      
    @CastingPurchaseDetails AS XML = NULL ,      
    @INWDeatilSrNo BIGINT = 0 ,      
    @INWBatchNo VARCHAR(50) = NULL ,      
    @RawmaterialDetailId BIGINT = 0 ,      
    @PurchaseOrderTransId UNIQUEIDENTIFIER = NULL ,      
    @CastingID UNIQUEIDENTIFIER = NULL ,      
    @MetalID BIGINT = NULL ,      
    @PurchaseOrderCastingPurchaseId UNIQUEIDENTIFIER = NULL ,      
    @CastingName VARCHAR(100) = NULL ,      
    @Editmode BIT = 0 ,      
    @IsDelivered BIT = NULL ,      
    @InwardCastingPurchaseId UNIQUEIDENTIFIER = NULL ,      
    @UnitOfMeasure UNIQUEIDENTIFIER = NULL ,      
    @ConversionRatio FLOAT = NULL ,      
    @CastingPurchaseDelete XML = NULL ,      
    @VehicleNo VARCHAR(50) = NULL ,      
    @LRNo VARCHAR(50) = NULL ,      
    @LRDetails VARCHAR(50) = NULL ,      
    @BroughtBy VARCHAR(50) = NULL ,      
    @GateEntryNo VARCHAR(50) = NULL ,      
    @ChallanNo VARCHAR(50) = NULL ,      
    @ChallanDate DATETIME = NULL ,      
    @InvoiceNo VARCHAR(50) = NULL ,      
    @InvoiceDate DATETIME = NULL ,      
    @PendingQty FLOAT = NULL ,      
    @TCRecieved BIT = NULL ,      
    @IsInwardBatchWise BIT = NULL ,      
    @RawBatchNo VARCHAR(50) = NULL ,      
    @RawMaterialInwardBatchWiseDelete XML = NULL ,      
    @IsApprove BIT = NULL ,      
    @IsApproveFinal BIT = NULL ,      
    @SupplierId UNIQUEIDENTIFIER = NULL ,      
    @CastingInwardPendingQty FLOAT = 0 ,      
    @PatternId UNIQUEIDENTIFIER = NULL ,      
    @PatternDetail AS XML = NULL ,      
    @PurchaseOrderPatternId UNIQUEIDENTIFIER = NULL ,      
    @IsInward BIT = NULL ,      
    @InwardDetailId UNIQUEIDENTIFIER = NULL ,      
    @PatternRemarks VARCHAR(MAX) = NULL ,      
    @PatternTransactionQty INT = 0 ,      
    @PatternDelete AS XML = NULL ,      
    @CorePatternId UNIQUEIDENTIFIER = NULL ,      
    @CoreBoxId UNIQUEIDENTIFIER = NULL ,      
    @CoreDetail AS XML = NULL ,      
    @PurchaseOrderCoreboxId UNIQUEIDENTIFIER = NULL ,      
    @CoreInwardQty INT = 0 ,      
    @CorePendingQty INT = 0 ,      
    @CoreRemarks VARCHAR(MAX) = 0 ,      
    @IsCoreInward BIT = NULL ,      
    @InwardCoreDetailId UNIQUEIDENTIFIER = NULL ,      
    @CoreTransactionQty INT = 0 ,      
    @CoreDelete AS XML = NULL ,      
    @SeriesId INT = 0 ,      
    @NoOfLoosePattern INT = 0 ,      
    @NoOfLoosePatternTransQty INT = 0 ,      
    @NoOfLooseCore INT = 0 ,      
    @NoOfLooseCoreTranseQty INT = 0 ,      
    @ChkCustomer BIT = NULL ,      
    @Prefix VARCHAR(50) = NULL ,      
    @Separator VARCHAR(50) = NULL ,      
    @Suffix VARCHAR(50) = NULL ,      
    @StoreId UNIQUEIDENTIFIER = NULL ,      
    @Location VARCHAR(100) = NULL ,      
    @StoreLocationP VARCHAR(250) = NULL ,      
    @StoreLocationC VARCHAR(250) = NULL ,      
    @WeightSlipNo VARCHAR(50) = NULL ,      
    @FreightAmount FLOAT = NULL ,      
    @RickshawFreight FLOAT = NULL ,      
    @LoadingUnloading FLOAT = NULL ,      
    @ItemSizePara NVARCHAR(MAX) = NULL ,      
    @StoreIdP UNIQUEIDENTIFIER = NULL ,      
    @StoreIdC UNIQUEIDENTIFIER = NULL ,      
    @SupplierBillQty FLOAT = NULL ,      
    @ISupplierBillQty INT = 0 ,      
    @SeriesType INT = 0 ,      
    @IsRejection BIT = 0 ,      
    @Rate FLOAT = NULL ,      
    @Sr_No VARCHAR(20) = NULL ,      
          
    -- Nikunj Added 20-08-2018       
    @Qty FLOAT = NULL ,      
    @InwardCastingHeatDetailsId UNIQUEIDENTIFIER = NULL ,      
    @HeatWiseXML AS XML = NULL ,      
    @HeatNumber VARCHAR(100) = NULL ,      
    @HeatHeatCode VARCHAR(100) = NULL ,      
    @batchID INT = NULL ,      
    @ProcessIds UNIQUEIDENTIFIER = NULL ,      
    @HeatProcessName VARCHAR(100) = NULL ,      
    @Heat_Date DATETIME = NULL ,      
    @HeatQty FLOAT = 0 ,      
    @IsNewHeat BIT = 0 ,      
    @DiffHeatQty FLOAT = 0 ,      
    @HProcessID UNIQUEIDENTIFIER = NULL ,      
    @CastingWeight FLOAT = 0 ,      
    @IsDeleteHeat FLOAT = 0 ,      
    @DELETEHEATID INT = 0 ,      
    @tmpQuantity FLOAT = 0 ,      
    @IsPatternOrDieCasting BIT = NULL ,      
    @IsSampleSeries BIT = 0 ,      
    @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL ,      
    @PurchaseItemSubGroupId UNIQUEIDENTIFIER = NULL ,      
    @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL ,      
    @PS_PurchaseOrderId VARCHAR(MAX) = NULL ,      
    @PlantIdString VARCHAR(MAX) = NULL      
  , @POPlantId INT = 0      
  , @IsPOEnable BIT = NULL      
  , @InwPlantId INT = 0      
  , @HeatCodeDetails AS XML = NULL      
  , @HCastingHeatCodeID UNIQUEIDENTIFIER = NULL      
  , @HHeatCode VARCHAR(50) = NULL      
  , @HProductionBatchID INT = 0      
  , @HCastingID UNIQUEIDENTIFIER = NULL       
  , @HHeatCodeID INT = 0      
  , @HIsDeleted  INT = 0      
  , @HBatchStockDiff  INT = 0      
  , @SinglePeiceCastingTraceability int = 0      
  , @MHHeatCodeID INT = 0      
  , @MHBatchStockDiff INT = 0      
  , @MHIsDeleted INT = 0      
  , @HOldBatchStockDiff int = 0      
  , @MHOldBatchStockDiff int = 0      
  , @MHNew int = 0       
  , @NewBatchNo VARCHAR(50) = NULL      
  ,@ServiceItemId UNIQUEIDENTIFIER =null      
  ,@PurchaseOrderServiceItemID UNIQUEIDENTIFIER=NULL    
  ,@ServiceDetail XML=NULL    
  ,@AcceptQty float=0    
  ,@ServiceDetailDelete XML=NULL    
  ,@SRNServiceDetailID UNIQUEIDENTIFIER = NULL  ,    
  @OnlyPurchaseItem int = 0     
  , @SRNDetail int = 0    
  , @IsEdit int = 0    
      
  , @HCustomerOrderId UNIQUEIDENTIFIER = NULL    
 ,@ReturnID int = 0    
 ,@IsFromCustomerReturn int = 0    
 , @Version int = 0,    
 @Month nvarchar(10) = '' ,     
    @CurrentYearTwoDigit nvarchar(5) = '' ,    
    @CurrentMonth nvarchar(5) = '',    
    @CurrentYear nvarchar(5) = ''     
    , @IsInwardForPlant BIT = 0
    --Added by Bijal  
    ,@MoldTypeId UNIQUEIDENTIFIER = null
    ,@SandTypeID INT =0
	,@MoldTransferTransId INT   =0
    ,@MoldInward_Id INT   =0
    ,@CoreTransferTrans_Id int =0 
    ,@CoreId UNIQUEIDENTIFIER = null
    ,@CoreInward_Id int = 0
    ,@CoreTransfer_Id int = 0 
    ,@TempStock  INT = 0 
    ,@IsReceived bit = 1 
    ,@PageType int = 0, -- 0 = Raw material inward register, 1 SRN service register, 2 Inward From Plant , 3 Job Retun register for Other Processes, 4 for JobInward
    @ImagePathDetails AS XML = NULL ,  
    @Photo VARCHAR(MAX) = NULL ,  
    @ImagePathId UNIQUEIDENTIFIER = NULL ,
    @DeleteImage VARCHAR(50) = NULL ,
    @ImageDelete XML = NULL ,
    @ConvertedAcceptedQuantity  float = 0 ,
    @ConvertedRejectedQuantity float = 0  ,
    @ConvertedInwardQuantity float = 0  ,
    @PatternPORate float = 0,
    @CoreRate float = 0 ,
    @CRate float = 0 ,
    @PerPcWeight float =0 ,
    @BillOfEntry datetime =null,
    @CurrencyMultiplier DECIMAL(18,2) = 0 ,
    @Currency int =0,
    @ModifiedDateTime Nvarchar(50) = Null
    ,@OriginalName varchar(max) = null,
	@IsIntimationSlip BIT = 0,
    @PrintOrderNo BIT = 0,
	@IsMatInwJobWork int = 0,
	@RawStockStatus int = 0,
	@GrossWt float= null,
	@TareWt float= null,
	@NetWt float= null,
	@TransporterName varchar(100) = null ,
	@GateInMasterId uniqueidentifier = null 
AS
BEGIN
	Declare @BATCHXML xml;		
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	 declare @InTransit bit = 0 ,
    @AddonId1 int = 0
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	declare @PatternIdTable table (Item UNIQUEIDENTIFIER) 
        DECLARE @InwardQty FLOAT ,      
            @AcceptedQty FLOAT ,      
            @RejectedQty FLOAT ,      
            @TCReceived BIT ,      
            @HeatID BIGINT ,      
            @HeatNo VARCHAR(100) ,      
            @PrSrno BIGINT ,      
            @HeatDate VARCHAR(20) ,      
            @entryno VARCHAR(20) ,      
            @TCNo VARCHAR(50) ,      
            @ProcessID UNIQUEIDENTIFIER ,      
            @HeatCode VARCHAR(50) ,      
            @MfgDate DATETIME ,      
            @ExpDate DATETIME ,      
            @InwardJobCastingTranseID UNIQUEIDENTIFIER ,      
            @ApprovePermitter BIT = 0 ,      
            @ApproveLevel BIT= 0,      
 @HeatCodeId bigint,     
            @ServiceDetails XML = NULL,    
            @CheckNewHeatOrNot bit;;      
        DECLARE @OldInwardAcceptedQty FLOAT;      
        DECLARE @OldInwardRejectedQty FLOAT;      
        DECLARE @Inward_Id UNIQUEIDENTIFIER;      
              
        DECLARE @ApprovePatternPermitter BIT;      
        DECLARE @ApproveatternLevel BIT;      
        DECLARE @TmpPlantId INT;      
	SET NOCOUNT ON;
   
             BEGIN TRANSACTION 
             BEGIN TRY 
             
             
              if Exists(SELECT  1   
						FROM    RawMaterialInward      
                        WHERE   RawMaterialInward.InwardID = @InwardId and IsDeleted = 1 ) 
				begin
					ROLLBACK TRANSACTION
					RETURN -2
				end 

              declare @StockDeduct bit   
              select @StockDeduct = permitir.permitir from permitir where Code = 'SDII'                   
                                    
                if Exists (SELECT	1
							FROM    RawmaterialInwardDetail      
									INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.RawMaterialInwardDetail.InwardId      
									Inner JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId      
							WHERE   RawMaterialInward.InwardID = @InwardId      
									AND dbo.RawMaterialInwardDetail.IsDeleted = 0  
									and RawMaterialInwardDetail.IsInspectionDone = 1
									and PurchaseItemMaster.IsInspectionRequired = 1
									and RawmaterialInwardDetail.IsPattern = 0 
						)
                BEGIN
                    ROLLBACK TRANSACTION
					RETURN -6
                END 
                            
                 
				if Exists( 
						Select	1
						from	MaterialInspectionMaster
								inner join RawMaterialInwardDetail ON RawMaterialInwardDetail.RawmaterialDetailId = MaterialInspectionMaster.RawmaterialDetailId
								inner join PurchaseItemMaster ON  PurchaseItemMaster.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
						where	MaterialInspectionMaster.InwardID = @InwardId
								and	RawMaterialInwardDetail.InwardId = MaterialInspectionMaster.InwardId
								and MaterialInspectionMaster.IsDeleted = 0
								and RawMaterialInwardDetail.IsDeleted = 0
								and ISNULL(PurchaseItemMaster.IsInspectionRequired,0) = 1  
								And @StockDeduct = 0
						)
				Begin
                        ROLLBACK TRANSACTION
					    RETURN -6
                END 

				                 
                UPDATE  RawMaterialInward      
                SET     IsDeleted = @IsDeleted ,      
                        DeletedBy = @DeletedBy ,      
                        DeletedOn = @DeletedOn      
				WHERE   ( InwardId = @InwardId )    

				                     
               SELECT  @Inwarddate = InwardDate , @InwPlantId = PlantId, @EntityID = EntityId FROM    RawMaterialInward      
                                    WHERE   RawMaterialInward.InwardID = @InwardId      
                                  
                                  
                
                                        
            -- Delete Item Detail START   
			
			set @BATCHXML = 
			(
				Select	ISNULL(RawMaterialInwardDetail.RawBatch_Id,0) as RawBatchId,
						RawMaterialInwardDetail.RawBatchNo,
						RawMaterialInwardDetail.PurchaseItemId,
						cast(-RawMaterialInwardDetail.ConvertedAcceptedQuantity as decimal(18,3)) as TransactionQty,
						RawMaterialInwardDetail.ExpDate ,
						RawMaterialInwardDetail.ItemSizePara,
						@InwardID as ProcessCode,
						--case when @RawStockStatus = 2 Or @RawStockStatus = 4 then 0 when @RawStockStatus = 1 then 1 
						--when @RawStockStatus = 3 and pim.IsInspectionRequired = 1 then 0 else 1 end 
						1 as [Status]
				From	RawMaterialInwardDetail 
						inner join PurchaseItemMaster as pim on pim.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
				Where	InwardId = @InwardID
						and RawMaterialInwardDetail.IsDeleted = 0
						and RawMaterialInwardDetail.IsPattern = 0
						
						
				For XML RAW('BatchDetails'),ROOT('DocumentElement'),ELEMENTS
			)  
			
			Declare @ResultTable table (Result int)
			insert into @ResultTable(Result)
			exec dbo.STORESTOCKUPDATE
			@IsBatchWise = @IsInwardBatchWise,
			@PlantId =  @InwPlantId,
			@EntityId = @EntityID,
			@Tagging = 'Inward',
			@UserID= @Modified_By,
			@BATCHXML = @BATCHXML,
			@Process = 'Delete',
			@ProcessDate = @InwardDate,
			@IsTransfer = @IsInwardForPlant

			IF EXISTS(select result from @ResultTable where Result = -1)
			begin
					    ROLLBACK TRANSACTION
						return -1
			end

			UPDATE  dbo.PurchaseOrder_Trans      
            SET     IsDelivered = 0  
			From	PurchaseOrder_Trans
					Inner Join RawMaterialInwardDetail on RawMaterialInwardDetail.PurchaseOrderTransId = PurchaseOrder_Trans.PurchaseOrderTransId
            Where	InwardId = @InwardID and RawMaterialInwardDetail.PurchaseOrderTransId is not null And RawMaterialInwardDetail.PurchaseOrderTransId != cast(0x0 as uniqueidentifier)
					and IsPattern = 0

			--DELETE BatchWiseRate
			--FROM 
			--	BatchWiseRate 
			--INNER JOIN 
			--	RawInwBatchWiseStock ON RawInwBatchWiseStock.RawBatchId = BatchWiseRate.RawBatchId
			--WHERE 
			--	BatchWiseRate.RawBatchId IN (
			--		SELECT 
			--			RawMaterialInwardDetail.RawBatch_Id 
			--		FROM 
			--			RawMaterialInwardDetail 
			--		WHERE 
			--			InwardId = @InwardID
			--			AND RawMaterialInwardDetail.IsDeleted = 0
			--			AND IsPattern = 0
			--	) 
			--	AND RawInwBatchWiseStock.Qty = 0;

			--DELETE  
			--FROM 
			--RawInwBatchWiseStock
			--wHERE	RawBatchId IN ( SELECT RawMaterialInwardDetail.RawBatch_Id 
			--						FROM RawMaterialInwardDetail 
			--						wHERE InwardId = @InwardID
			--						and RawMaterialInwardDetail.IsDeleted = 0
			--						and IsPattern = 0) 
			--		AND RawInwBatchWiseStock.Qty = 0
			
			
			UPDATE MaterialIssueTrans  set IsReceived = 0 
			fROM  MaterialIssueTrans 
					Inner Join RawMaterialInwardDetail on RawMaterialInwardDetail.PurchaseOrderId = MaterialIssueTrans.MaterialIssueTransId
					and RawMaterialInwardDetail.IsDeleted = 0
			WHERE InwardId = @InwardID
			

      --          DECLARE RawmaterialInwardDetail CURSOR      
      --          FOR      
      --              SELECT  --AcceptedQuantiy * ConversionRatio ,      
						--	ConvertedAcceptedQuantity, 
      --                      RawmaterialInwardDetail.PurchaseItemID ,      
      --                      InwardDate ,      
      --                      PurchaseOrderTransId ,      
      --                      RawBatchNo      
      --                    , RawMaterialInward.EntityId      
      --                    , PurchaseOrder_Master.POPlantId      
      --                    , RawMaterialInward.PlantId      
      --                    , RawmaterialInwardDetail.PurchaseOrderId
      --              FROM    RawmaterialInwardDetail      
      --                      INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.RawMaterialInwardDetail.InwardId      
      --                      LEFT JOIN dbo.PurchaseOrder_Master ON dbo.PurchaseOrder_Master.PurchaseOrderId = dbo.RawMaterialInwardDetail.PurchaseOrderId      
      --              WHERE   RawMaterialInward.InwardID = @InwardId      
      --                      AND dbo.RawMaterialInwardDetail.IsDeleted = 0  
      --                      AND RawmaterialInwardDetail.Ispattern =0    
      --          OPEN     RawmaterialInwardDetail;      
      --          FETCH NEXT FROM RawmaterialInwardDetail INTO @Quantity,      
      --              @PurchaseItemId, @ProcessDate, @PurchaseOrderTransId,      
      --              @RawBatchNo, @EntityId, @POPlantId, @InwPlantId, @PurchaseOrderId
      --          WHILE @@FETCH_STATUS = 0      
      --              BEGIN       
      --                  DECLARE @stock_TEMP FLOAT;      
      
      --                  SET @stock_TEMP = 0;      
      -- --                 IF(@IsInwardForPlant = 1)
      -- --                 BEGIN
						--	--SET @TmpPlantId = @InwPlantId
      -- --                 END
      -- --                 ELSE
      -- --                 BEGIN
						--	--SET @TmpPlantId = (CASE WHEN @IsPOEnable = 0 THEN @InwPlantId ELSE @POPlantId END)      
						--	SET @TmpPlantId = @InwPlantId
      --                  --END
                        
      --                  SET @Stock_TEMP = ( SELECT  ( Stock - @Quantity ) AS Stock      
      --                                      FROM    Inventorydetails      
      --                                      WHERE   PurchaseItemID = @PurchaseItemId      
						--							 AND Entity = @EntityId      
						--							 AND PlantId = @TmpPlantId      
      --                                    )      
                                               
      --                  SET @tmpQuantity = @Quantity;      
      --                  SET @Quantity = -@Quantity           
                              
      --                  EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @purchaseitemid, -- uniqueidentifier      
      --                      @StockToAdd = @Quantity, -- float      
      --                      @Tagging = 'Inward', -- varchar(50)      
      --                      @Process = 'Delete', -- varchar(50)      
      --                      @ProcessCode = @InwardId, -- varchar(max)      
      --                      @ProcessDate = @InwardDate, -- datetime      
						--	@UserID = @DeletedBY, -- bigint        
      --                      @IsInwardBatchWise = @IsInwardBatchWise,      
      --                      @RawBatchNo = @RawBatchNo       
      --                    , @EntityId = @EntityID      
      --                    , @PlantId = @TmpPlantId      
                      
      --                  IF @PurchaseOrderTransId IS NOT NULL      
      --                      BEGIN      
      --                          UPDATE  dbo.PurchaseOrder_Trans      
      --                          SET     IsDelivered = 0      
      --                          WHERE   PurchaseOrderTransId = @PurchaseOrderTransId      
                               
      --                      END      
                            
						--IF((SELECT Qty FROM RawInwBatchWiseStock 
						--	WHERE   RawBatchNo = @RawBatchNo AND PurchaseItemId = @PurchaseItemId AND PlantId = @TmpPlantId) = 0)
						--BEGIN
						--	DELETE  FROM RawInwBatchWiseStock      
						--	WHERE   RawBatchNo = @RawBatchNo      
						--			AND PurchaseItemId = @PurchaseItemId      
						--			AND PlantId = @TmpPlantId
						--END
						        
      --                  UPDATE MaterialIssueTrans  set IsReceived = 0 WHERE MaterialIssueTransId = @PurchaseOrderId
						----Complete      
                                           
      --                  FETCH NEXT FROM RawmaterialInwardDetail INTO @Quantity,      
      --                      @PurchaseItemId, @ProcessDate,      
      --                      @PurchaseOrderTransId, @RawBatchNo      
      --                    , @EntityId, @POPlantId, @InwPlantId, @PurchaseOrderId
      --              END      
      --          CLOSE RawmaterialInwardDetail;      
      --          DEALLOCATE RawmaterialInwardDetail;      
            -- END Delete Item Detail              
                  
                --THis PatternCount Variable is declared by yashvi      
                      
                DECLARE @PatternCount INT       
                SET @PatternCount = 0      
                      
            -- Delete Pattern Detail START      
                DECLARE @DeleteCustomer UNIQUEIDENTIFIER      
                DECLARE @customerflag VARCHAR(5)      
                  
                --IF @IsPatternOrDieCasting = 1      
                 --   BEGIN      
                       
                 --This is for Pattern      
                DECLARE PatternDetail CURSOR      
                FOR      
                    SELECT  RawmaterialInwardDetail.RawmaterialDetailId as InwardDetailId ,      
                            RawmaterialInwardDetail.PurchaseItemId ,      
                            Quantity ,      
                            RawmaterialInwardDetail.PurchaseorderTransId ,      
                            RawmaterialInwardDetail.NoofLoosePattern ,
                            RawmaterialInwardDetail.PurchaseOrderId      
                    FROM    RawmaterialInwardDetail      
                            INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.RawmaterialInwardDetail.InwardId   
                    WHERE   RawMaterialInward.InwardID = @InwardId      
                            AND dbo.RawmaterialInwardDetail.IsDeleted = 0 
                            AND RawmaterialInwardDetail.IsPattern = 1
                                 
                OPEN     PatternDetail;      
                FETCH NEXT FROM PatternDetail INTO @RawmaterialDetailId, @PatternId,      
                    @InwardQty, @PurchaseOrderPatternId, @NoofLoosePattern,@PurchaseOrderId      
                          
                WHILE @@FETCH_STATUS = 0      
                    BEGIN       
                             
            --added by yashvi      
            --when delete inward then update isnew = 1 means pattern is new      
                  
               
                        SET @PatternCount = ( SELECT    COUNT(RawmaterialInwardDetail.InwardId)      
                                              FROM      RawmaterialInwardDetail      
                                              WHERE     RawmaterialInwardDetail.PurchaseItemId = @PatternId      
                                                        AND InwardId = @InwardId      
                                                        AND RawmaterialInwardDetail.IsDeleted = 0      
                                            )      
               
                        IF @PatternCount = 1      
                            BEGIN     
                                UPDATE  PatternMaster      
                                SET     PatternMaster.IsNew = 1      
                                WHERE   PatternMaster.PatternId = @PatternId      
                                      
                            END      
                                     
               
           -- Roopal      
                       -- If delete customer inward and you have selected from customer checkbox then update patterninwarddate from patternrevision to patternmaster      
                             
                        SET @DeleteCustomer = ( SELECT  CustomerID      
                                                FROM    RawMaterialInward      
                                                WHERE   InwardID = @InwardId      
                                              )      
                             
                        SET @customerflag = ( SELECT    customerflag      
                                              FROM      CustomerMaster      
                                              WHERE     CustomerId = @DeleteCustomer      
                                            )      
                             
                        IF ( @customerflag = 'C' )      
                            BEGIN      
                                UPDATE  patternmaster      
                                SET     patternmaster.PatternInwardDate = ( SELECT TOP 1      
                                                              PatternInwardDate      
                                                              FROM      
                                                              PatternRevision      
                                                              WHERE      
                                                              PatternId = @PatternId      
                                                              ORDER BY PatternRevision.RevisionDate DESC      
                                                              )      
                                WHERE   PatternMaster.PatternId = @patternid      
                                 
                            END      
                       --      
                             
                        SET @InwardQty = -@InwardQty       
                        SET @NoofLoosePattern = -@NoofLoosePattern      
                        EXEC PatternStockUpdate @PatternId = @PatternId,      
                            @StockAdd = @InwardQty,      
                            @NoofLoosePattern = @NoofLoosePattern      
                                 
                        IF @PurchaseOrderPatternId IS NOT NULL      
                            BEGIN      
                                UPDATE  dbo.PurchaseOrderPatternPurchaseTrans      
                                SET     IsInward = 0      
                                WHERE   PurchaseOrderPatternId = @PurchaseOrderPatternId       
                                     
                            END      
      
                              
                       
                        UPDATE  dbo.RawmaterialInwardDetail      
                        SET     IsDeleted = 1      
                        WHERE   ( RawmaterialDetailId = @RawmaterialDetailId )     
                        
                        
                        
                        
                        
                        Select @TmpPlantId = PlantId,@EntityId=EntityId from RawMaterialInward where InwardId = @InwardID
                        
                        IF (Select Stock from InventoryDetails where PurchaseItemId = @PatternId and PlantId = @TmpPlantId AND Entity = @EntityId ) < ABS(@InwardQty)
                        BEGIN
                          ROLLBACK TRANSACTION
                          RETURN 2
                        END
                        
                         EXEC Update_PatternPurchaseItem 
                         @ItemID = @PatternId,
                         @PlantID = @TmpPlantId,
                         @EntityID = @EntityId,
                         @Stock = @InwardQty,
                         @Tagging = 'Pattern Inward',
                         @Process = 'Delete',
                         @ProcessCode = @InwardID,
                         @ProcessDate = @InwardDate,
                         @UserId = @DeletedBY,
                         @RawInwBatchWise = @IsInwardBatchWise
                         
                         IF @IsInwardForPlant = 1
                         BEGIN
                         UPDATE MaterialIssueTrans  set IsReceived = 0 WHERE MaterialIssueTransId = @PurchaseOrderId
                         END
                                         
                               
                        FETCH NEXT FROM PatternDetail INTO @RawmaterialDetailId,      
                            @PatternId, @InwardQty, @PurchaseOrderPatternId,      
                            @NoofLoosePattern ,@PurchaseOrderId   
                    END      
                CLOSE PatternDetail;      
                DEALLOCATE PatternDetail;      
            -- End Delete Pattern Detail      
                         
                     
                    --This is for die      
               
          
          
                          
                  
            -- Delete Core Detail START      
                DECLARE CoreDetail CURSOR      
                FOR      
                    SELECT  InwardCoreDetailId ,      
                            CoreGRNDetail.CoreBoxId ,      
                            InwardQty ,      
                            PurchaseOrderCoreBoxId ,      
                            CoreGRNDetail.NoofLooseCore      
                FROM    CoreGRNDetail      
                            INNER JOIN dbo.RawMaterialInward ON dbo.RawMaterialInward.InwardId = dbo.CoreGRNDetail.InwardId      
                    WHERE   RawMaterialInward.InwardID = @InwardId      
                            AND dbo.CoreGRNDetail.IsDeleted = 0      
                OPEN     CoreDetail;      
                FETCH NEXT FROM CoreDetail INTO @InwardCoreDetailId,      
                    @CoreBoxId, @CoreInwardQty, @PurchaseOrderCoreBoxId,      
                    @NoofLooseCore      
                                        
                WHILE @@FETCH_STATUS = 0      
                    BEGIN       
                                                
                        SET @CoreInwardQty = -@CoreInwardQty        
                        SET @NoofLooseCore = -@NoofLooseCore      
                        EXEC CoreStockUpdate @CoreBoxId = @CoreBoxId,      
                            @StockAdd = @CoreInwardQty,      
                            @NoofLooseCore = @NoofLooseCore      
                                 
                        IF @PurchaseOrderCoreboxId IS NOT NULL      
                            BEGIN      
                                UPDATE  dbo.PurchaseOrderCorePurchaseTrans      
                                SET     IsInward = 0      
                                WHERE   PurchaseOrderCoreBoxId = @PurchaseOrderCoreboxId      
                                   
                            END      
      
                        UPDATE  dbo.CoreGRNDetail      
                        SET     IsDeleted = 1      
                        WHERE   ( InwardCoreDetailId = @InwardCoreDetailId )                       
                      
                        FETCH NEXT FROM CoreDetail INTO @InwardCoreDetailId,      
                            @CoreBoxId, @CoreInwardQty,      
                            @PurchaseOrderCoreBoxId, @NoofLooseCore      
                    END      
                CLOSE CoreDetail;      
                DEALLOCATE CoreDetail;      
            -- End Delete Core Detail      
       
                  
                      
                --Added By Bhavesh      
                UPDATE  RawMaterialInwardDetail      
                SET     IsDeleted = @IsDeleted ,      
                        RawBatchNo = NULL ,      
                        DeletedBy = @DeletedBy ,      
                        DeletedOn = @DeletedOn      
                WHERE   ( InwardId = @InwardId ) 
						and RawmaterialInwardDetail.IsPattern = 0
						
						
      
                 
                --Complete      
                    
                -- SRN Details    
                IF(@IsMatInwJobWork=1)
				BEGIN
					update OrderTranse  set IsDelivered = 0    
					where OrderTranse.OrderTranseId in (  
					select RawMaterialInwardDetail.PurchaseOrderTransId from RawMaterialInwardDetail    
					where InwardId = @InwardId)
				END
				ELSE
				BEGIN
					if exists ( select top 1 * from SRNServiceDetailsTrans where InwardId = @InwardId and IsDeleted = 0)    
                begin    
       update SRNServiceDetailsTrans      
       set IsDeleted = 1    
       where InwardId = @InwardId       
                
                
      --   if     
      -- (     
      --   (select Qty from PurchaseOrderServiceItemTrans      
      --    where PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID in     
      --      (    
      --       select SRNServiceDetailsTrans.PurchaseOrderServiceItemID from SRNServiceDetailsTrans    
      --       where InwardId = @InwardId -- and ( @PurchaseOrderServiceItemID is null or PurchaseOrderServiceItemID = @PurchaseOrderServiceItemID)   
      --      )    
      --   )    
      --  =    
      --   (select SUM(SRNServiceDetailsTrans.AcceptQty) as AcceptQty from SRNServiceDetailsTrans      
      --     where SRNServiceDetailsTrans.PurchaseOrderServiceItemID in     
      --      (    
      --       select SRNServiceDetailsTrans.PurchaseOrderServiceItemID from SRNServiceDetailsTrans    
      --       where InwardId = @InwardId       
      --      )    
      --     and IsDeleted = 0    
      --   )    
      -- )    
	 
      --begin    
      -- update PurchaseOrderServiceItemTrans  set IsDelivered = 1    
      -- where PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID in (    
      -- select SRNServiceDetailsTrans.PurchaseOrderServiceItemID from SRNServiceDetailsTrans    
      --    where InwardId = @InwardId      
      --   )    
      --end    
      --else    
      --begin    
      --  update PurchaseOrderServiceItemTrans  set IsDelivered = 0    
      --   where PurchaseOrderServiceItemTrans.PurchaseOrderServiceItemID in (    
      --   select SRNServiceDetailsTrans.PurchaseOrderServiceItemID from SRNServiceDetailsTrans    
      --      where InwardId = @InwardId      
      --   )    
      --end    
					  ;WITH Comparison AS (
											SELECT 
												PO.PurchaseOrderServiceItemID,
												PO.Qty,
												ISNULL(SUM(SRN.AcceptQty), 0) AS TotalAcceptQty
											FROM PurchaseOrderServiceItemTrans PO
											LEFT JOIN SRNServiceDetailsTrans SRN
												ON PO.PurchaseOrderServiceItemID = SRN.PurchaseOrderServiceItemID
												AND SRN.InwardId = @InwardId
												AND SRN.IsDeleted = 0
											WHERE PO.PurchaseOrderServiceItemID IN (
												SELECT PurchaseOrderServiceItemID
												FROM SRNServiceDetailsTrans
												WHERE InwardId = @InwardId
											)
											GROUP BY PO.PurchaseOrderServiceItemID, PO.Qty
										)

				UPDATE PO
				SET PO.IsDelivered = CASE 
										WHEN C.Qty = C.TotalAcceptQty THEN 1
										ELSE 0
									 END
				FROM PurchaseOrderServiceItemTrans PO
				INNER JOIN Comparison C
					ON PO.PurchaseOrderServiceItemID = C.PurchaseOrderServiceItemID;
                  end   
                 
				END
				 
                 --added by yashvant
                 SELECT @GateInMasterId = ISNULL(GateInMasterId,CAST(0x0 AS UNIQUEIDENTIFIER)) from RawMaterialInward where InwardId = @InwardID
                 IF @GateInMasterId <>  CAST(0x0 AS UNIQUEIDENTIFIER)
        	       Update GateInMaster SET IsPrepared = 0 where GateInMasterID = @GateInMasterId
         END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			 IF CURSOR_STATUS('global','RawmaterialInwardDetail') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','RawmaterialInwardDetail') > -1
				   BEGIN
					CLOSE RawmaterialInwardDetail
				   END
				 DEALLOCATE RawmaterialInwardDetail
				END					
			IF CURSOR_STATUS('global','PatternDetail') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','PatternDetail') > -1
				   BEGIN
					CLOSE PatternDetail
				   END
				 DEALLOCATE PatternDetail
				END	
			IF CURSOR_STATUS('global','DieDetail') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','DieDetail') > -1
				   BEGIN
					CLOSE DieDetail
				   END
				 DEALLOCATE DieDetail
				END	
			IF CURSOR_STATUS('global','CoreDetail') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','CoreDetail') > -1
				   BEGIN
					CLOSE CoreDetail
				   END
				 DEALLOCATE CoreDetail
				END								 
			 return -1
			END	
        END Catch
		  
     COMMIT TRANSACTION      
                RETURN 1;      
      
             
      
END
GO
