USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchMoldlineByPattern]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchMoldlineByPattern] 
	-- Add the parameters for the stored procedure here
	@PatternId UNIQUEIDENTIFIER = null
AS
BEGIN
	select MoldLineMaster.MoldLineID,MoldLineMaster.MoldLine from MoldLineMaster 
left join PatternMaster on patternmaster.MoldLineID= MoldLineMaster.MoldLineID
where PatternId=@PatternId
END
GO
