USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ProductionVsRejectionTrendChartDrillThrough]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------ProductionVsRejectionTrendChartDrillThrough 2019, 'March'

CREATE PROCEDURE [dbo].[ProductionVsRejectionTrendChartDrillThrough]
    @StartYear INT = 0 ,
    @ProductionMonth VARCHAR(MAX) = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @CastingName VARCHAR(MAX) = NULL ,
    @CustomerID UNIQUEIDENTIFIER = NULL ,
    @CustomerName VARCHAR(MAX) = NULL ,
    @CustomerGroup VARCHAR(MAX) = NULL ,
    @MetalID BIGINT = 0 ,
    @MetalName VARCHAR(MAX) = NULL ,
    @MetalType VARCHAR(MAX) = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
    BEGIN

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
        DECLARE @StartingMonthForFY INT;
        SET @StartingMonthForFY = ( SELECT  FinancialYear
                                    FROM    configuration WHERE EntityID = @EntityId
                                  )

        SELECT  1 AS RowNo ,
                CONVERT(VARCHAR, DAY(date)) AS DateField ,
                CONVERT(VARCHAR(10), date, 20) AS ProductionDate ,
                ( CASE WHEN MONTH(date) BETWEEN @StartingMonthForFY
                                        AND     @StartingMonthForFY + 2
                       THEN 'Q1'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY + 3
                                        AND     @StartingMonthForFY + 5
                       THEN 'Q2'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY + 6
                                        AND     @StartingMonthForFY + 8
                       THEN 'Q3'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY + 9
                                        AND     @StartingMonthForFY + 11
                       THEN 'Q4'
                  END ) AS QuarterField ,
                ISNULL(A.ProductionWeight, 0) AS ProductionWeight ,
                ISNULL(b.RejectionWeight, 0) AS RejectionWeight
        FROM    GetdateByMonth(DATEADD(m,
                                       MONTH(CAST('01' + @ProductionMonth
                                             + '2010' AS DATETIME)) - 1,
                                       DATEADD(yyyy, @StartYear - 1900, 0)),
                               DATEADD(d, -1,
                                       DATEADD(m,
                                               MONTH(CAST('01'
                                                     + @ProductionMonth
                                                     + '2010' AS DATETIME)),
                                               DATEADD(yyyy, @StartYear - 1900,
                                                       0))))
                LEFT JOIN ( SELECT  CONVERT(VARCHAR(10), ProductionDate, 20) AS ProductionDate ,
                                    SUM(ISNULL(productionqty, 0)
                                        * ISNULL(perpcweight, 0)) AS ProductionWeight
                            FROM    knockout KO1
                                    INNER JOIN ProductionBatch PB1 ON PB1.batchID = KO1.batchid
                                    INNER JOIN CastingMaster CM1 ON CM1.CastingId = KO1.castingid
                                    INNER JOIN MetalMaster MM1 ON MM1.MetalId = PB1.MetalID
                            WHERE   KO1.IsDeleted = 0
                                    AND MM1.IsDeleted = 0
                                    AND PB1.IsDeleted = 0
                                    AND CM1.IsDeleted = 0
                                    AND MONTH(ProductionDate) > @StartingMonthForFY
                                    - 1
                                    AND YEAR(ProductionDate) = @StartYear
                                    AND DATENAME(MONTH, ProductionDate) = @ProductionMonth
                                    AND ( @CastingID IS NULL
                                          OR CM1.CastingID = @CastingId
                                        )
                                    AND ( @CastingName IS NULL
                                          OR CM1.CastingName = @CastingName
                                        )
                                    AND ( @MetalId = 0
                                          OR MM1.MetalID = @MetalId
                                        )
                                    AND ( @MetalName IS NULL
                                          OR MM1.MetalName = @MetalName
                                        )
                                    AND ( @MetalType IS NULL
                                          OR MM1.MetalType = @MetalType
                                        )
                                    AND ( @CustomerId IS NULL
                                          OR Dieid IN (
                                          SELECT    PatternId
                                          FROM      CustomerPatternMapping
                                          WHERE     CustomerId = @CustomerId )
                                        )
                                    AND ( @CustomerGroup IS NULL
                                          OR Dieid IN (
                                          SELECT    dbo.CustomerPatternMapping.PatternId
                                          FROM      dbo.CustomerPatternMapping
                                                    INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId
                                          WHERE     CustomerMaster.CustomerGroup = @CustomerGroup
                                                    AND dbo.CustomerPatternMapping.IsDeleted = 0 )
                                        )
                                    AND ( @PlantIdString IS NULL
                                          OR @PlantIdString = ''
                                          OR KO1.CastingId IN (
                                          SELECT    CastingId
                                          FROM      dbo.PlantCastingMapping
                                                    where PlantId in (SELECT Item FROM @Plant))
                                        )
                                    AND PB1.EntityID = @EntityId
                            GROUP BY ProductionDate
                          ) A ON A.ProductionDate = date
                LEFT JOIN ( SELECT  CONVERT(VARCHAR(10), RejectionDate, 20) AS RejectionDate ,
                                    SUM(ISNULL(CFR.Weight, 0)) AS RejectionWeight
                            FROM    CastingFinalRejection CFR
                                    INNER JOIN MetalMaster MM ON MM.MetalId = CFR.MetalID
                                    INNER JOIN CastingMaster CM ON CM.CastingId = CFR.CastingID
                            WHERE   CM.IsDeleted = 0
                                    AND MM.IsDeleted = 0
                                    AND MONTH(RejectionDate) > @StartingMonthForFY
                                    - 1
                                    AND YEAR(RejectionDate) = @StartYear
                                    AND DATENAME(MONTH, RejectionDate) = @ProductionMonth
                                    AND ( @CastingID IS NULL
                                          OR CFR.CastingID = @CastingId
                                        )
                                    AND ( @CastingName IS NULL
                                          OR CM.CastingName = @CastingName
                                        )
                                    AND ( @MetalId = 0
                                          OR CFR.MetalID = @MetalId
                                        )
                                    AND ( @MetalName IS NULL
                                          OR MM.MetalName = @MetalName
                                        )
                                    AND ( @MetalType IS NULL
                                          OR MM.MetalType = @MetalType
                                        )
                                    AND ( @CustomerId IS NULL
                                          OR CM.Dieid IN (
                                          SELECT    PatternId
                                          FROM      CustomerPatternMapping
                                          WHERE     CustomerId = @CustomerId )
                                        )
                                    AND ( @CustomerGroup IS NULL
                                          OR CM.Dieid IN (
                                          SELECT    dbo.CustomerPatternMapping.PatternId
                                          FROM      dbo.CustomerPatternMapping
                                                    INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId
                                          WHERE     CustomerMaster.CustomerGroup = @CustomerGroup
                                                    AND dbo.CustomerPatternMapping.IsDeleted = 0 )
                                        )
										And ( @PlantIdString IS NULL
                                                      OR @PlantIdString = ''
													  Or CFR.Plantid in
													(SELECT Item FROM @Plant))
                                        --AND ( @PlantIdString IS NULL
                                        --  OR @PlantIdString = ''
                                        --  OR CFR.CastingId IN (
                                        --  SELECT    CastingId
                                        --  FROM      dbo.PlantCastingMapping
                                        --            where PlantId in (SELECT Item FROM @Plant))
                                        --)
                                    AND CM.EntityID = @EntityId
                            GROUP BY RejectionDate
                          ) AS b ON b.RejectionDate = date
        WHERE   MONTH(date) > @StartingMonthForFY - 1
        UNION
        SELECT  2 AS RowNo ,
                CONVERT(VARCHAR, DAY(date)) AS DateField ,
                CONVERT(VARCHAR(10), date, 20) AS ProductionDate ,
                ( CASE WHEN MONTH(date) BETWEEN @StartingMonthForFY - 12
                                        AND     @StartingMonthForFY - 10
                       THEN 'Q1'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY - 9
                                        AND     @StartingMonthForFY - 7
                       THEN 'Q2'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY - 6
                                        AND     @StartingMonthForFY - 4
                       THEN 'Q3'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY - 3
                                        AND     @StartingMonthForFY - 1
                       THEN 'Q4'
                  END ) AS ProductionQuarter ,
                ISNULL(A.ProductionWeight, 0) AS ProductionWeight ,
                ISNULL(b.RejectionWeight, 0) AS RejectionWeight
        FROM    GetdateByMonth(DATEADD(m,
                                       MONTH(CAST('01' + @ProductionMonth
                                             + '2010' AS DATETIME)) - 1,
                                       DATEADD(yyyy, @StartYear - 1900, 0)),
                               DATEADD(d, -1,
                                       DATEADD(m,
                                               MONTH(CAST('01'
                                                     + @ProductionMonth
                                                     + '2010' AS DATETIME)),
                                               DATEADD(yyyy, @StartYear - 1900,
                                                       0))))
                LEFT JOIN ( SELECT  CONVERT(VARCHAR(10), ProductionDate, 20) AS ProductionDate ,
                                    SUM(ISNULL(productionqty, 0)
                                        * ISNULL(perpcweight, 0)) AS ProductionWeight
                            FROM    knockout KO1
                                    INNER JOIN ProductionBatch PB1 ON PB1.batchID = KO1.batchid
                                    INNER JOIN CastingMaster CM1 ON CM1.CastingId = KO1.castingid
                                    INNER JOIN MetalMaster MM1 ON MM1.MetalId = PB1.MetalID
                            WHERE   KO1.IsDeleted = 0
                                    AND MM1.IsDeleted = 0
                                    AND PB1.IsDeleted = 0
                                    AND CM1.IsDeleted = 0
                                    AND MONTH(ProductionDate) < @StartingMonthForFY
                                    AND YEAR(ProductionDate) = @StartYear
                                    AND DATENAME(MONTH, ProductionDate) = @ProductionMonth
                                    AND ( @CastingID IS NULL
                                          OR CM1.CastingID = @CastingId
                                        )
                                    AND ( @CastingName IS NULL
                                          OR CM1.CastingName = @CastingName
                                        )
                                    AND ( @MetalId = 0
                                          OR MM1.MetalID = @MetalId
                                        )
                                    AND ( @MetalName IS NULL
                                          OR MM1.MetalName = @MetalName
                                        )
                                    AND ( @MetalType IS NULL
                                          OR MM1.MetalType = @MetalType
                                        )
                                    AND ( @CustomerId IS NULL
                                          OR Dieid IN (
                                          SELECT    PatternId
                                          FROM      CustomerPatternMapping
                                          WHERE     CustomerId = @CustomerId )
                                        )
                                    AND ( @CustomerGroup IS NULL
                                          OR Dieid IN (
                                          SELECT    dbo.CustomerPatternMapping.PatternId
                                          FROM      dbo.CustomerPatternMapping
                                                    INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId
                                          WHERE     CustomerMaster.CustomerGroup = @CustomerGroup
                                                    AND dbo.CustomerPatternMapping.IsDeleted = 0 )
                                        )

                                        AND ( @PlantIdString IS NULL
                                          OR @PlantIdString = ''
                                          OR KO1.CastingId IN (
                                          SELECT    CastingId
                                          FROM      dbo.PlantCastingMapping
                                                   where PlantId in (SELECT Item FROM @Plant) )
                                        )
                                    AND PB1.EntityID = @EntityId
                            GROUP BY ProductionDate
                          ) A ON A.ProductionDate = date
                LEFT JOIN ( SELECT  CONVERT(VARCHAR(10), RejectionDate, 20) AS RejectionDate ,
                                    SUM(ISNULL(CFR.Weight, 0)) AS RejectionWeight
                            FROM    CastingFinalRejection CFR
                                    INNER JOIN MetalMaster MM ON MM.MetalId = CFR.MetalID
                                    INNER JOIN CastingMaster CM ON CM.CastingId = CFR.CastingID
                            WHERE   CM.IsDeleted = 0
                                    AND MM.IsDeleted = 0
                                    AND MONTH(RejectionDate) < @StartingMonthForFY
                                    AND YEAR(RejectionDate) = @StartYear
                                    AND DATENAME(MONTH, RejectionDate) = @ProductionMonth
                                    AND ( @CastingID IS NULL
                                          OR CFR.CastingID = @CastingId
                                        )
                                    AND ( @CastingName IS NULL
                                          OR CM.CastingName = @CastingName
                                        )
                                    AND ( @MetalId = 0
                                          OR CFR.MetalID = @MetalId
                                        )
                                    AND ( @MetalName IS NULL
                                          OR MM.MetalName = @MetalName
                                        )
                                    AND ( @MetalType IS NULL
                                          OR MM.MetalType = @MetalType
                                        )
                                    AND ( @CustomerId IS NULL
                                          OR CM.Dieid IN (
                                          SELECT    PatternId
                                          FROM      CustomerPatternMapping
                                          WHERE     CustomerId = @CustomerId )
                                        )
                                    AND ( @CustomerGroup IS NULL
                                          OR CM.Dieid IN (
                                          SELECT    dbo.CustomerPatternMapping.PatternId
                                          FROM      dbo.CustomerPatternMapping
                                                    INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId
                                          WHERE     CustomerMaster.CustomerGroup = @CustomerGroup
                                                    AND dbo.CustomerPatternMapping.IsDeleted = 0 )
                                        )
										And ( @PlantIdString IS NULL
                                                      OR @PlantIdString = ''
													  Or CFR.Plantid in
													(SELECT Item FROM @Plant))
                                        --AND ( @PlantIdString IS NULL
                                        --  OR @PlantIdString = ''
                                        --  OR CFR.CastingId IN (
                                        --  SELECT    CastingId
                                        --  FROM      dbo.PlantCastingMapping
                                        --           where PlantId in (SELECT Item FROM @Plant) )
                                        --)
                                    AND CM.EntityID = @EntityId
                            GROUP BY RejectionDate
                          ) AS b ON b.RejectionDate = date
        WHERE   MONTH(date) < @StartingMonthForFY

    END
GO
