USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MonthlyPlanView]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Hemani Vandra>
-- Create date: <Create Date,31st Aug'19 >
-- Description:	<Description, Auto Planning query>
-- =============================================
CREATE PROCEDURE [dbo].[MonthlyPlanView] 
	-- Add the parameters for the stored procedure here
	@Parameter INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;



				--TRUNCATE TABLE AutoMoldPLan
				--TRUNCATE TABLE AutoCorePLan
				--TRUNCATE TABLE AutoPourPlan
				--TRUNCATE TABLE AutoProductionProcessPlan

				DELETE FROM AutoMoldPLan WHERE IsLockPlanning = 0
				DELETE FROM AutoCorePLan WHERE IsLockPlanning = 0
				DELETE FROM AutoPourPlan WHERE IsLockPlanning = 0
				DELETE FROM AutoProductionProcessPlan WHERE IsLockPlanning = 0

				IF EXISTS (SELECT 1 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME='RemainStockForCasting4') 
				BEGIN
					drop table RemainStockForCasting4
				END
			
                CREATE TABLE RemainStockForCasting4
                    (
                      CastingID UNIQUEIDENTIFIER ,
                      RemainStock INT
                    )
				
				IF EXISTS (SELECT 1 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME='RemainStockForMold') 
				BEGIN
					drop table RemainStockForMold
				END	
                CREATE TABLE RemainStockForMold
                    (
                      PatternID UNIQUEIDENTIFIER ,
                      RemainStock INT
                    )
				
				IF EXISTS (SELECT 1 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME='RemainStockForCore') 
				BEGIN
					drop table RemainStockForCore
				END		
                CREATE TABLE RemainStockForCore
                    (
                      CoreId UNIQUEIDENTIFIER ,
                      RemainStock INT
                    )
					
				IF OBJECT_ID('tempdb..##TempPlan') IS NOT NULL
				BEGIN
					drop table ##TempPlan
				END		
				
                CREATE TABLE ##TempPlan
                    (
                      OrderTransID UNIQUEIDENTIFIER ,
                      CastingID UNIQUEIDENTIFIER ,
                      ProcessiD UNIQUEIDENTIFIER ,
                      ProcessName VARCHAR(100) ,
                      Qty INT ,
                      TotalWeight FLOAT ,
                      StartTime DATETIME ,
                      EndTime DATETIME ,
                      ShiftID INT
                    )



                DECLARE 
					@Casting_ID UNIQUEIDENTIFIER ,
                    @Date DATE ,
                    @PatternID UNIQUEIDENTIFIER ,
                    @Qty FLOAT ,
                    @DurationinMin FLOAT ,
                    @Time FLOAT = 0 ,
                    @NoOfPatternOnMatchPlate INT ,
                    @RequiredMold INT ,
                    @StdTransferTime INT = 60 ,
                    @StdCoolOffTime INT ,
                    @MoldReadyBeforeHours FLOAT ,
                    @MoldProduction FLOAT ,
                    @MoldProductionTime FLOAT ,
                    @WorkDate DATETIME ,
                    @WorkStartTime TIME(7) ,
                    @WorkEndTime TIME(7) ,
                    @PerPcWt FLOAT ,
                    @ProcessShiftCount INT ,
                    @CheckTimeForSameCastingWithProcess DATETIME ,
                    @WorkDateStartTime DATETIME ,
                    @WorkdateEndTime DATETIME ,
                    @ShiftStartTime TIME(7) ,
					@ShiftEndTime TIME(7),
                    @AvailableDateTime DATETIME ,
                    @ProcessName VARCHAR(100) ,
                    @Temp DATETIME ,
                    @TimeDiff FLOAT ,
                    @ProcessEndDateTime DATETIME ,
                    @TotalFurnaceCapacity FLOAT ,
                    @Requiredload FLOAT ,
                    @TotalHeatRequired INT ,
                    @PourcapacityQty INT ,
                    @TotalAssignedPourQty INT ,
                    @RequiredProcessCounter FLOAT ,
                    @ShiftStartDateTime DATETIME ,
                    @ProcessQty INT ,
                    @GrossWeight FLOAT ,
                    @BunchWeight FLOAT
                DECLARE @ProcessMastercount INT ,
                    @CurrentStock INT;
                DECLARE @RequiredCore INT ,
                    @CoreCavity INT ,
                    @CoreProductionTime INT ,
                    @NoOfCorePerhr INT ,
                    @CoreWeight FLOAT,
					@ShiftCountForProcess INT;

				DECLARE @OrderTransID UNIQUEIDENTIFIER,
						@ProcessID UNIQUEIDENTIFIER,
						@NoOfCastingProduced INT,
						@CoreID UNIQUEIDENTIFIER,
						@ShiftID INT,
						@SrNo INT,
						@PouringShiftID INT,
						@MoldingShiftID INT,
						@CoreShiftID INT,
						@PouringShiftCount INT,
						@MoldingShiftCount INT,
						@CoreShiftCount INT;

                SET @TotalFurnaceCapacity = 1000;
                SET @ProcessMastercount = ( SELECT  COUNT(*)
                                            FROM    dbo.ProcessMaster
                                            WHERE   IsDeleted = 0
                                                    AND AutoProcess = 0
                                                    AND IsDefault = 0
                                                    AND IsMachineShop = 0
                                          )
					 
                SET @ProcessShiftCount = ( SELECT   COUNT(DISTINCT ProcessID)
                                           FROM     HRShiftMaster
                                                    INNER JOIN ShiftProcessMapping ON HRShiftMaster.ShiftId = ShiftProcessMapping.ShiftID
                                                              AND HRShiftMaster.ShiftType = 5
                                                              AND IsDelete = 0
					 -- ShiftProcessMapping
                                         )

                DECLARE pro_cusor CURSOR
                FOR
                    SELECT  Plann.OrderTransID ,
                            PerPcWt ,
                            Plann.CastingID ,
                            Plann.OrderBy ,
                            Plann.PendingQty ,
                            StdCoolOffTime ,
                            ReadyBeforeHours ,
                            MoldProduction ,
                            MoldTime ,
                            NoOfPatternOnMatchPlate ,
                            GrossWeight ,
                            PatternID ,
                            BunchWeight
                    FROM    ( SELECT    OrderMaster.CustomerOrderId ,
                                        OrderTrans.OrderTransID ,
                                        OrderMaster.CustomerOrderNo ,
                                        OrderTrans.IntCommitDate ,
                                        OrderTrans.CastingName ,
                                        OrderTrans.CastingCode ,
                                        OrderTrans.MetalGrade ,
                                        ROUND(OrderTrans.Weight, 3) AS PerPcWt ,
                                        ROUND(( OrderTrans.Weight
                                                * OrderTrans.PendingQty ), 3) AS PendingWt ,
                                        OrderTrans.CastingId ,
                                        OrderTrans.PendingQty AS PendingQty ,
                                        ( CASE WHEN PatternMaster.MoldProductionPerHours != 0
                                               THEN 1
                                               ELSE 0
                                          END ) AS MoldNoStatus ,
                                        ( CASE WHEN PatternMaster.MoldProductionTime != 0
                                               THEN 1
                                               ELSE 0
                                          END ) AS MoldTimeStatus ,
                                        ( CASE WHEN ISNULL(RouteCard.ProcessCount,
                                                           0) = 0
                                               THEN 0
										ELSE ( CASE WHEN ISNULL(RouteCard.ProcessCount,
                                                              0) = ISNULL(RouteCard.ProductionTimeCount,
                                                              0)
                                                              AND ISNULL(RouteCard.ProcessCount,
                                                              0) = ISNULL(ProductionShiftCount,
                                                              0) THEN 1
                                                           ELSE 0
                                                      END )
                                          END ) AS ProcessTimeStatus ,
                                        ( CASE WHEN CoreCast.CastingId IS NULL
                                               THEN 1
                                               ELSE 0
                                          END ) AS CoreTimeStatus ,
                                        OrderBy ,
                                        StdCoolOffTime ,
                                        ReadyBeforeHours ,
                                        MoldProductionPerHours AS MoldProduction ,
                                        MoldProductionTime AS MoldTime ,
                                        PatternMaster.PatternID ,
                                        NoOfPatternOnMatchPlate ,
                                        GrossWeight ,
                                        BunchWeight			
										--DataTable.Qty as RemainPlanQty	    				    					
										--(select Qty from [AssignStocktoCasting](OrderTrans.CastingID , OrderTrans.PendingQty )) as RemainPlanQty
										--Select * from PatternMaster
                              FROM      OrderMaster
                                        INNER JOIN CustomerMaster ON OrderMaster.CustomerID = CustomerMaster.CustomerId
                                        INNER JOIN ( SELECT CustomerOrderId ,
                                                            OrderTranse.OrderTranseID AS OrderTransID ,
                                                            OrderTranse.CastingId ,
                                                            CastingMaster.Dieid ,
                                                            CONVERT(VARCHAR(11), OrderTranse.IntCommitDate, 106) AS IntCommitDate ,
                                                            OrderTranse.IntCommitDate AS OrderBy ,
                                                            CastingName ,
                                                            CastingCode ,
                                                            OrderTranse.Metal AS MetalGrade ,
                                                            OrderTranse.MetalId ,
                                                            OrderTranse.ApproxWeight AS Weight ,
                                                            RequiredQty
                                                            - ISNULL(( SELECT
                                                              SUM(dbo.dispatchtrans.dispatchqty)
                                                              FROM
                                                              dbo.dispatchtrans
                                                              WHERE
                                                              dbo.dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
                                                              AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
                                                              AND IsDeleted = 0
                                                              ), 0) AS PendingQty ,
                                                            CastingMaster.StdCoolOffTime ,
                                                            CastingMetal.GrossWeight
                                                     FROM   OrderTranse
                                                            INNER JOIN CastingMaster ON OrderTranse.PartId = CastingMaster.CastingID
                                                            INNER JOIN CastingMetal ON CastingMaster.Castingid = CastingMetal.Castingid
                                                              AND CastingMetal.MetalID = OrderTranse.MetalId
                                                     WHERE  dbo.OrderTranse.IsDeleted = 0
                                                            AND dbo.OrderTranse.IsShortclose = 0
                                                            AND IsDelivered = 'false'
															--Added by Yashvi                                                                              
                                                   ) AS OrderTrans ON OrderTrans.CustomerOrderId = dbo.OrderMaster.CustomerOrderId
                                        INNER JOIN PatternMaster ON PatternMaster.PatternId = OrderTrans.Dieid
                                        INNER JOIN (
											SELECT		PatternID,
														MAX(BunchWeight) AS BunchWeight
											FROM		BunchWeightDetail
											GROUP BY	PatternID
										) AS  BunchWeightDetail 
										ON  PatternMaster.PatternID = BunchWeightDetail.PatternID                              
                                        LEFT JOIN ( SELECT  CastingID ,
                                                            COUNT(ProcessID) AS ProcessCount
                                                    FROM    CastingProductionTime
                                                    GROUP BY Castingid
                                                  ) AS ProductionTime ON ProductionTime.CastingID = OrderTrans.CastingId
                                        LEFT JOIN ( SELECT  CastingProcess.CastingID ,
                                                            MetalID ,
                                                            COUNT(CastingProcess.ProcessID) AS ProcessCount ,
                                                            COUNT(CastingProductionTime.ProcessID) AS ProductionTimeCount ,
                                                            COUNT(ProductionProcessShift.ProcessID) AS ProductionShiftCount
                                                    FROM    CastingProcess
                                                            INNER JOIN ProcessMaster ON CastingProcess.ProcessID = ProcessMaster.ProcessId
                                                              AND ProcessMaster.IsMachineShop = 0
                                                            LEFT JOIN CastingProductionTime ON CastingProcess.CastingID = CastingProductionTime.CastingID
                                                              AND CastingProcess.ProcessID = CastingProductionTime.ProcessID 
                                                            LEFT JOIN ( SELECT
                                                              processID
                                                              FROM
                                                              HRShiftMaster
                                                              INNER JOIN ShiftProcessMapping ON HRShiftMaster.ShiftId = ShiftProcessMapping.ShiftID
                                                              AND HRShiftMaster.ShiftType = 5
                                                              AND IsDelete = 0
                                                              ) AS ProductionProcessShift ON ProductionProcessShift.ProcessID = CastingProcess.ProcessID
                                                    WHERE   CastingProcess.Sequence > 1
                                                    GROUP BY CastingProcess.CastingID ,
                                                            MetalId
                                                  ) AS RouteCard ON RouteCard.CastingID = OrderTrans.CastingId
                                                              AND RouteCard.MetalId = OrderTrans.MetalID
                                        LEFT JOIN ( SELECT TOP 1
                                                            CoreCastingMapping.CastingId AS CastingId
                                                    FROM    CoreBoxDetails
                                                            INNER JOIN CoreCastingMapping ON CoreBoxDetails.CoreBoxID = CoreCastingMapping.CoreBoxID
                                                    WHERE   CoreProductionPerShift = 0
                                                            AND CorePrHr = 0
                                                  ) AS CoreCast ON CoreCast.CastingId = OrderTrans.CastingId
                              WHERE     OrderMaster.MaxVersion = 1
                                        AND OrderMaster.IsScheduled = 0
										--AND OrderTrans.CastingId = '22249CD2-FEB6-481C-97C9-AE71F7A52EC7'
										--AND OrderTrans.CastingId = '33B5D3F0-D8CF-4185-AEA0-C1B93DF9A377'
										--AND OrderTrans.OrderTransID in( '36BA63BB-C4CB-4D23-992C-532EF5CD2B4B', '73467077-6093-4BBA-87FE-32EC366C14F9')
										--AND OrderTrans.OrderTransID = '97E063F6-1E52-4B97-A18B-85F8238E34F1'
                            ) AS Plann
                    WHERE   Plann.MoldNoStatus != 0
                            AND Plann.MoldTimeStatus != 0
                            AND Plann.ProcessTimeStatus != 0
                            AND Plann.CoreTimeStatus != 0
                    ORDER BY Orderby

                OPEN pro_cusor -- Open Cursor

                FETCH NEXT FROM pro_cusor 
				INTO		@OrderTransID, 
							@PerPcWt,
							@Casting_ID, 
							@Date, 
							@Qty, 
							@StdCoolOffTime,
							@MoldReadyBeforeHours, 
							@MoldProduction,
							@MoldProductionTime, 
							@NoOfPatternOnMatchPlate,
							@GrossWeight, 
							@PatternID, 
							@BunchWeight

                WHILE @@FETCH_STATUS = 0
                    BEGIN

						----------check for stock	
                        IF EXISTS ( SELECT  CastingID
                                    FROM    RemainStockForCasting4
                                    WHERE   Castingid = @Casting_ID )
						BEGIN
                            SET @Currentstock = ( SELECT    RemainStock AS Stock
                                                  FROM      RemainStockForCasting4
                                                  WHERE     CastingiD = @Casting_ID
                                                )	
							
						END														
                        ELSE
						BEGIN
                            SET @Currentstock = ( SELECT    Stock
                                                  FROM      CastingStock
                                                  WHERE     CastingiD = @Casting_ID
                                                )
							
						END
						
                        IF ( @CurrentStock >= @Qty )
                            BEGIN											
                                SET @CurrentStock = @CurrentStock - @Qty;
                                EXEC dbo.[TempStoreStockForAssign] @Castingid = @Casting_ID,
                                    @Stock = @CurrentStock
                                SET @Qty = 0
                            END		
                        ELSE
                            BEGIN
								
                                --EXEC dbo.[TempStoreStockForAssign] @Castingid = @Casting_ID,
                                --    @Stock = @CurrentStock
								EXEC dbo.[TempStoreStockForAssign] @Castingid = @Casting_ID,
                                    @Stock = 0
                                SET @Qty = @Qty - @CurrentStock;
								SET @CurrentStock = 0 ;
								
                            END		 
						
									    -----------END
						
                        IF (@Qty > 0)
                            BEGIN
								
								DECLARE process_cusor CURSOR
                                FOR

                                    SELECT  CastingProcess.ProcessID ,
                                            CastingProductionTime.DurationinMin ,
                                            CastingProductionTime.NoOfCastingProduced ,
                                            ProcessName
                                    FROM    CastingProcess
                                            INNER JOIN CastingProductionTime 
											ON CastingProcess.CastingID = CastingProductionTime.CastingID
                                            AND CastingProcess.ProcessID = CastingProductionTime.ProcessID
                                            INNER JOIN ProcessMaster 
											ON CastingProcess.ProcessID = ProcessMaster.ProcessID
                                    WHERE   CastingProcess.CastingID = @Casting_ID/*'22249CD2-FEB6-481C-97C9-AE71F7A52EC7'*/
                                            AND ProcessMaster.IsDefault = 0
                                            AND ProcessMaster.IsMachineShop = 0
                                    ORDER BY Sequence DESC
								
                                OPEN process_cusor -- Open Cursor
                                FETCH NEXT FROM process_cusor INTO 
										@ProcessID,
										@DurationinMin, 
										@NoOfCastingProduced,
										@ProcessName
					                
                                WHILE @@FETCH_STATUS = 0
                                    BEGIN
											
										--SET @ShiftCountForProcess = 1
										SET @ShiftCountForProcess = (
											SELECT		COUNT(DISTINCT HRShiftMaster.ShiftId)
											FROM		HRShiftMaster
														INNER JOIN ShiftProcessMapping 
														ON HRShiftMaster.ShiftId = ShiftProcessMapping.ShiftID
											WHERE		ShiftProcessMapping.ProcessID = @ProcessID/*'9F2B3B3F-DCAD-4D3C-88EA-858E4A590679'*/
														AND HRShiftMaster.ShiftType = 5
														AND Isdelete = 0
										)

										DECLARE ProcessShift_cursor CURSOR
										FOR 
											SELECT		ROW_NUMBER() OVER (ORDER BY HRShiftMaster.ShiftId ASC) SrNo,
														HRShiftMaster.ShiftId,
														HRShiftMaster.EndTime,
														HRShiftMaster.StartTime,
														DATEDIFF(MINUTE, HRShiftMaster.StartTime, HRShiftMaster.EndTime) AS TimeDiff
											FROM		HRShiftMaster
														INNER JOIN ShiftProcessMapping 
														ON HRShiftMaster.ShiftId = ShiftProcessMapping.ShiftID
											WHERE		ShiftProcessMapping.ProcessID = @ProcessID
														AND HRShiftMaster.ShiftType = 5
														AND Isdelete = 0
											ORDER BY	EndTime DESC

										OPEN ProcessShift_cursor
										FETCH NEXT FROM ProcessShift_cursor
										INTO	@SrNo,
												@ShiftID,
												@ShiftEndTime,
												@ShiftStartTime,
												@TimeDiff

										WHILE @@FETCH_STATUS = 0
										BEGIN
											
											SET @Time = ROUND( (@DurationinMin * @Qty / CASE WHEN @NoOfCastingProduced = 0 THEN 1 ELSE @NoOfCastingProduced END) , 3);
											
											SELECT		@ShiftEndTime = EndTime, 
														@ShiftStartTime = StartTime,
														--TOTAL TIME FOR SHIFT
														@TimeDiff = DATEDIFF(MINUTE, @ShiftStartTime, @ShiftEndTime)
											FROM		HRShiftMaster
														INNER JOIN ShiftProcessMapping 
														ON HRShiftMaster.ShiftId = ShiftProcessMapping.ShiftID
											WHERE		ShiftProcessMapping.ProcessID = @ProcessID/*'FA7161A6-2624-4941-9F2E-CB8076FC8349'*/
														AND HRShiftMaster.ShiftId = @ShiftID/*9*/
														AND HRShiftMaster.ShiftType = 5
														AND Isdelete = 0
											
											--FIND the Work date if it is available then start from that and not available than take from commitment date
											IF EXISTS (
												SELECT		TOP 1
															*
												FROM		##TempPlan
												WHERE		OrderTransID = @OrderTransID
											)
											BEGIN
												SET @WorkDate = (
													SELECT		CAST(MIN(StartTime) AS DATE) AS StartTime
													FROM		##TempPlan
													WHERE		OrderTransID = @OrderTransID
												)
											END
											ELSE
											BEGIN
												IF @Date > GETDATE()
												BEGIN
													SET @WorkDate = (DATEADD(DAY, -1, @Date));
												END
												ELSE 
												BEGIN
													SET @WorkDate = CONVERT(DATE, GETDATE());
												END
											END
											
											--Find the work end time according to date and end of shift time
											IF @ShiftEndTime = '00:00:00'
												SET @WorkdateEndTime = cast(DATEADD(DAY, 1, @WorkDate) as datetime) +cast( @ShiftEndTime as datetime) ;
											ELSE 
												SET @WorkdateEndTime = cast(@WorkDate as datetime) + cast( @ShiftEndTime as datetime) ;

											-- Find Min DateTime already plan for same order line
											SET @CheckTimeForSameCastingWithProcess = (
												SELECT		MIN(StartTime) AS StartTime
												FROM		##TempPlan
												WHERE		OrderTransID = @OrderTransID
											)
											
											--ADDED
											--IF @ShiftCountForProcess = 1 
											--BEGIN
												IF @CheckTimeForSameCastingWithProcess IS NOT NULL
													AND @WorkdateEndTime > @CheckTimeForSameCastingWithProcess
												BEGIN
													--for process2 @WorkdateEndTime = '2019-08-03 11:00:38.000'
													SET @WorkdateEndTime = @CheckTimeForSameCastingWithProcess;	
												END
											--END

											SET @ShiftStartDateTime = cast( @WorkDate as datetime)+cast( @ShiftStartTime  as datetime);
											
											IF @WorkdateEndTime = @ShiftStartDateTime
											BEGIN
												SET @WorkdateEndTime = cast(@WorkDate as datetime)+ cast(@ShiftEndTime as datetime);
											END
											
											IF @ShiftStartDateTime >= @WorkdateEndTime --AND (@Qty - @PourcapacityQty) <> 0
											BEGIN
												
												FETCH NEXT FROM ProcessShift_cursor
												INTO	@SrNo,
														@ShiftID,
														@ShiftEndTime,
														@ShiftStartTime,
														@TimeDiff
												
											END
											ELSE
											BEGIN
												
												--check if total time required is more than available shift time
												IF @Time > @TimeDiff
												BEGIN
													
													SET @RequiredProcessCounter = CEILING ( @Time / CASE WHEN @TimeDiff = 0 THEN 1 ELSE @TimeDiff END );
													--declare @TimeModulo float, @Time float = 358.333, @TimeDiff float = 540
													--set @TimeModulo = @Time % @TimeDiff;
													--select @TimeModulo

													SET @ShiftStartDateTime = cast( @WorkDate as datetime) + cast(@ShiftStartTime as datetime);

													SET @ProcessQty = 0

													WHILE @RequiredProcessCounter > 0 
													BEGIN 
														
														IF @RequiredProcessCounter = 1
														BEGIN
															
															SET @PourCapacityQty = @Qty - @ProcessQty ;

															IF @PourCapacityQty = 0
															BEGIN 
																SET @RequiredProcessCounter = 0;
																BREAK;
															END

															SET @Time = ROUND(@DurationinMin * @PourCapacityQty / CASE WHEN @NoOfCastingProduced = 0 THEN 1 ELSE @NoOfCastingProduced END, 3);

															SET @WorkDateStartTime = DATEADD(MI, -@Time, @WorkdateEndTime);

														END 
														ELSE
														BEGIN
															
															SET @WorkDateStartTime = @ShiftStartDateTime;

															SET @Time = DATEDIFF(MINUTE, @WorkDateStartTime, @WorkdateEndTime);

															SET @PourCapacityQty = FLOOR(@NoOfCastingProduced * @Time / CASE WHEN @DurationinMin = 0 THEN 1 ELSE @DurationinMin END);

															IF ( @PourCapacityQty > @Qty - @ProcessQty )
															BEGIN

																SET @PourCapacityQty = @Qty - @ProcessQty;
																
																SET @Time = ROUND( @DurationinMin * @PourcapacityQty / CASE WHEN @NoOfCastingProduced = 0 THEN 1 ELSE @NoOfCastingProduced END ,3);
																
																SET @WorkDateStartTime = DATEADD(MI, -@Time, @WorkdateEndTime);

															END

															SET @ProcessQty = @ProcessQty + @PourCapacityQty ;
															
														END
														
														IF @WorkDateStartTime < @ShiftStartDateTime
														BEGIN
														
															SET @WorkDateStartTime = @ShiftStartDateTime ;

															SET @Time = CAST(DATEDIFF(MINUTE, @WorkDateStartTime, @WorkdateEndTime) AS FLOAT);

															SET @ProcessQty = ROUND(@NoOfCastingProduced * @Time / CASE WHEN @DurationinMin = 0 THEN 1 ELSE @DurationinMin END, 3);

															IF (@Qty - @ProcessQty) > (@Qty * 0.1)
															BEGIN

																EXEC dbo.[SaveAutoPlanning] 
																		@OrderTransID = @OrderTransID,
																		@Casting_ID = @Casting_ID,
																		@ProcessId = @ProcessId,
																		@ProcessName = @ProcessName,
																		@PlanQty = @ProcessQty,
																		@ProcessWt = @PerPcWt,
																		@WorkDateStartTime = @WorkDateStartTime,
																		@WorkdateEndTime = @WorkdateEndTime,
																		@ShiftID = @ShiftID,
																		@ProcessType = 5	
																	

																SET @Qty = @Qty - @ProcessQty

																IF @SrNo = 1
																BEGIN
																	
																	SET @WorkDate = DATEADD(DAY, -1, @WorkDate) ;

																	SET @WorkdateEndTime = cast(@WorkDate as datetime)+ cast( @ShiftEndTime as datetime);

																	SET @Time = ROUND( @DurationinMin * @PourcapacityQty / CASE WHEN @NoOfCastingProduced = 0 THEN 1 ELSE @NoOfCastingProduced END ,3);

																	SET @WorkDateStartTime = DATEADD(MI, -@Time, @WorkdateEndTime);

																	EXEC dbo.[SaveAutoPlanning] 
																			@OrderTransID = @OrderTransID,
																			@Casting_ID = @Casting_ID,
																			@ProcessId = @ProcessId,
																			@ProcessName = @ProcessName,
																			@PlanQty = @Qty,
																			@ProcessWt = @PerPcWt,
																			@WorkDateStartTime = @WorkDateStartTime,
																			@WorkdateEndTime = @WorkdateEndTime,
																			@ShiftID = @ShiftID,
																			@ProcessType = 5	
																		
																END
																ELSE
																BEGIN
																	FETCH NEXT FROM ProcessShift_cursor
																	INTO	@SrNo,
																			@ShiftID,
																			@ShiftEndTime,
																			@ShiftStartTime,
																			@TimeDiff

																	SET @WorkDateEndTime = cast(@WorkDate as datetime)+ cast(@ShiftEndTime as datetime); 

																	SET @Time = ROUND( @DurationinMin * @PourcapacityQty / CASE WHEN @NoOfCastingProduced = 0 THEN 1 ELSE @NoOfCastingProduced END ,3);

																	SET @WorkDateStartTime = DATEADD(MI, -@Time, @WorkdateEndTime);

																	EXEC dbo.[SaveAutoPlanning] 
																			@OrderTransID = @OrderTransID,
																			@Casting_ID = @Casting_ID,
																			@ProcessId = @ProcessId,
																			@ProcessName = @ProcessName,
																			@PlanQty = @Qty,
																			@ProcessWt = @PerPcWt,
																			@WorkDateStartTime = @WorkDateStartTime,
																			@WorkdateEndTime = @WorkdateEndTime,
																			@ShiftID = @ShiftID,
																			@ProcessType = 5	
																		
																END
																
															END
															ELSE
															BEGIN
															
																EXEC dbo.[SaveAutoPlanning] 
																		@OrderTransID = @OrderTransID,
																		@Casting_ID = @Casting_ID,
																		@ProcessId = @ProcessId,
																		@ProcessName = @ProcessName,
																		@PlanQty = @PourcapacityQty,
																		@ProcessWt = @PerPcWt,
																		@WorkDateStartTime = @WorkDateStartTime,
																		@WorkdateEndTime = @WorkdateEndTime,
																		@ShiftID = @ShiftID,
																		@ProcessType = 5	
																	
															END
														END
														ELSE 
														BEGIN
															
															EXEC dbo.[SaveAutoPlanning] 
																@OrderTransID = @OrderTransID,
																@Casting_ID = @Casting_ID,
																@ProcessId = @ProcessId,
																@ProcessName = @ProcessName,
																@PlanQty = @PourcapacityQty,
																@ProcessWt = @PerPcWt,
																@WorkDateStartTime = @WorkDateStartTime,
																@WorkdateEndTime = @WorkdateEndTime,
																@ShiftID = @ShiftID,
																@ProcessType = 5	
															
															IF @RequiredProcessCounter > 1
															BEGIN
																	IF @SrNo = 1
																	BEGIN
																		SET @WorkDate = DATEADD(DAY, -1, @WorkDate) ;
																		SET @WorkdateEndTime = cast(@WorkDate as datetime)+ cast( @ShiftEndTime as datetime);
																		SET @WorkDateStartTime = cast(@WorkDate as datetime)+ cast(@ShiftStartTime as datetime);
																		SET @ShiftStartDateTime = cast(@WorkDate as datetime)+cast( @ShiftStartTime as datetime);
																	END
																	ELSE 
																	BEGIN
																		FETCH NEXT FROM ProcessShift_cursor
																		INTO		@SrNo,
																					@ShiftID,
																					@ShiftEndTime,
																					@ShiftStartTime,
																					@TimeDiff
																		
																		SET @WorkdateEndTime = cast(@WorkDate as datetime)+ cast(@ShiftEndTime as datetime);
																		SET @WorkDateStartTime = cast( @WorkDate  as datetime)+ cast(@ShiftStartTime as datetime);
																		SET @ShiftStartDateTime = cast(@WorkDate  as datetime) + cast(@ShiftStartTime as datetime);

																	END

															END
														END

														SET @RequiredProcessCounter = @RequiredProcessCounter - 1;

													END
													
													--SELECT @ProcessQty ProcessQty, @PourcapacityQty PourcapacityQty, @Qty Qty
													--IF @ProcessQty + @PourcapacityQty = @Qty
													--BEGIN
													--	BREAK;
													--END
													IF (@RequiredProcessCounter = 0)
														BREAK;

												END
												ELSE
												BEGIN
													
													--@WorkDateStartTime = '2019-08-03 11:02:38.000'
													--declare @WorkDateStartTime datetime, @Time float = 358.333, @WorkdateEndTime datetime = '2019-08-03 17:00:38.000'
													SET @WorkDateStartTime = DATEADD(MI, -@Time, @WorkdateEndTime);
													
													SET @PourCapacityQty = @Qty;
													
													IF @WorkDateStartTime <= @ShiftStartDateTime
													BEGIN
														
														SET @WorkDateStartTime = @ShiftStartDateTime; 

														SET @TimeDiff = CAST(DATEDIFF(MINUTE, @WorkDateStartTime, @WorkdateEndTime) AS FLOAT);
														
														SET @PourcapacityQty = ROUND(@NoOfCastingProduced * @TimeDiff / CASE WHEN @DurationinMin = 0 THEN 1 ELSE @DurationinMin END, 3);
														
														IF (@Qty - @PourcapacityQty) > (@Qty * 0.1)
														BEGIN
															
															EXEC dbo.[SaveAutoPlanning] 
																	@OrderTransID = @OrderTransID,
																	@Casting_ID = @Casting_ID,
																	@ProcessId = @ProcessId,
																	@ProcessName = @ProcessName,
																	@PlanQty = @PourcapacityQty,
																	@ProcessWt = @PerPcWt,
																	@WorkDateStartTime = @WorkDateStartTime,
																	@WorkdateEndTime = @WorkdateEndTime,
																	@ShiftID = @ShiftID,
																	@ProcessType = 5	

															SET @ProcessQty = @Qty - @PourcapacityQty
															
															IF (@SrNo = 1)
															BEGIN
																SET @WorkDate = DATEADD(DAY, -1, @WorkDate); 

																SET @WorkdateEndTime = cast(@WorkDate as datetime)+ cast(@ShiftEndTime as datetime);
																
																SET @Time = ROUND( @DurationinMin * @ProcessQty / CASE WHEN @NoOfCastingProduced = 0 THEN 1 ELSE @NoOfCastingProduced END ,3);
																
																SET @WorkDateStartTime = DATEADD(MI, -@Time, @WorkdateEndTime);	
																
																EXEC dbo.[SaveAutoPlanning] 
																			@OrderTransID = @OrderTransID,
																			@Casting_ID = @Casting_ID,
																			@ProcessId = @ProcessId,
																			@ProcessName = @ProcessName,
																			@PlanQty = @ProcessQty,
																			@ProcessWt = @PerPcWt,
																			@WorkDateStartTime = @WorkDateStartTime,
																			@WorkdateEndTime = @WorkdateEndTime,
																			@ShiftID = @ShiftID,
																			@ProcessType = 5
																
																SET @ProcessQty = 0
																BREAK;
																
															END
															ELSE
															BEGIN

																FETCH NEXT FROM ProcessShift_cursor
																INTO	@SrNo,
																		@ShiftID,
																		@ShiftEndTime,
																		@ShiftStartTime,
																		@TimeDiff

																SET @WorkdateEndTime = cast(@WorkDate as datetime)+ cast(@ShiftEndTime as datetime); 

																SET @Time = ROUND( @DurationinMin * @ProcessQty / CASE WHEN @NoOfCastingProduced = 0 THEN 1 ELSE @NoOfCastingProduced END ,3);
																
																SET @WorkDateStartTime = DATEADD(MI, -@Time, @WorkdateEndTime);	

																EXEC dbo.[SaveAutoPlanning] 
																		@OrderTransID = @OrderTransID,
																		@Casting_ID = @Casting_ID,
																		@ProcessId = @ProcessId,
																		@ProcessName = @ProcessName,
																		@PlanQty = @ProcessQty,
																		@ProcessWt = @PerPcWt,
																		@WorkDateStartTime = @WorkDateStartTime,
																		@WorkdateEndTime = @WorkdateEndTime,
																		@ShiftID = @ShiftID,
																		@ProcessType = 5
																	
																SET @ProcessQty = 0
																BREAK;

															END
															
														END
														ELSE
														BEGIN
															
															EXEC dbo.[SaveAutoPlanning] 
																	@OrderTransID = @OrderTransID,
																	@Casting_ID = @Casting_ID,
																	@ProcessId = @ProcessId,
																	@ProcessName = @ProcessName,
																	@PlanQty = @Qty,
																	@ProcessWt = @PerPcWt,
																	@WorkDateStartTime = @WorkDateStartTime,
																	@WorkdateEndTime = @WorkdateEndTime,
																	@ShiftID = @ShiftID,
																	@ProcessType = 5	
																
															BREAK;
														END
											
													END
													ELSE
													BEGIN
														
														EXEC dbo.[SaveAutoPlanning] 
																@OrderTransID = @OrderTransID,
																@Casting_ID = @Casting_ID,
																@ProcessId = @ProcessId,
																@ProcessName = @ProcessName,
																@PlanQty = @PourcapacityQty,
																@ProcessWt = @PerPcWt,
																@WorkDateStartTime = @WorkDateStartTime,
																@WorkdateEndTime = @WorkdateEndTime,
																@ShiftID = @ShiftID,
																@ProcessType = 5	
															
														--IMP
														BREAK;

													END

												END

											END

											--FETCH NEXT FROM ProcessShift_cursor
											--INTO	@SrNo,
											--		@ShiftID,
											--		@ShiftEndTime,
											--		@ShiftStartTime,
											--		@TimeDiff
											
										END

										CLOSE ProcessShift_cursor; -- Close Cursor
										DEALLOCATE ProcessShift_cursor;
										
                                        FETCH NEXT FROM process_cusor
										INTO @ProcessID, @DurationinMin,
                                            @NoOfCastingProduced, @ProcessName    

                                    END;

                                CLOSE process_cusor; -- Close Cursor
                                DEALLOCATE process_cusor;

								-----------------------------PART (II)----COOL OFF, POURING, MOLDING, CORE MAKING-----------------------------
								
								SET @Requiredload = @Qty * @GrossWeight;

								SET @TotalHeatRequired = CEILING( @Requiredload / CASE WHEN @TotalFurnaceCapacity = 0 THEN 1 ELSE @TotalFurnaceCapacity END );

								SET @TotalAssignedPourQty = 0
								
								SET @PouringShiftCount = (
										SELECT		COUNT(ShiftId)
										FROM		HRShiftMaster
										WHERE		ShiftType = 4
													AND IsDelete = 0
								)

								SET @MoldingShiftCount = (
										SELECT		COUNT(ShiftId)
										FROM		HRShiftMaster
										WHERE		ShiftType = 2
													AND IsDelete = 0
								)

								SET @CoreShiftCount = (
										SELECT		COUNT(ShiftId)
										FROM		HRShiftMaster
										WHERE		ShiftType = 3
													AND IsDelete = 0
								)

								SELECT		ROW_NUMBER() OVER (ORDER BY StartTime) SrNo,
											ShiftId,
											EndTime,
											StartTime,
											DATEDIFF(MINUTE, HRShiftMaster.StartTime, HRShiftMaster.EndTime) AS TimeDiff
								INTO		#TempForPouringShift
								FROM		HRShiftMaster
								WHERE		ShiftType = 4
											AND IsDelete = 0
								ORDER BY	StartTime DESC

								SELECT		ROW_NUMBER() OVER (ORDER BY StartTime) SrNo,
											ShiftId,
											EndTime,
											StartTime,
											DATEDIFF(MINUTE, HRShiftMaster.StartTime, HRShiftMaster.EndTime) AS TimeDiff
								INTO		#TempForMoldingShift
								FROM		HRShiftMaster
								WHERE		ShiftType = 2
											AND IsDelete = 0
								ORDER BY	StartTime DESC

								SELECT		ROW_NUMBER() OVER (ORDER BY StartTime) SrNo,
											ShiftId,
											EndTime,
											StartTime,
											DATEDIFF(MINUTE, HRShiftMaster.StartTime, HRShiftMaster.EndTime) AS TimeDiff
								INTO		#TempForCoreShift
								FROM		HRShiftMaster
								WHERE		ShiftType = 3
											AND IsDelete = 0
								ORDER BY	StartTime DESC

								WHILE @TotalHeatRequired > 0
								BEGIN
									
									-----------------------COOL OFF TIME
									SET @PouringShiftID = (
										SELECT		ShiftId
										FROM		#TempForPouringShift
										WHERE		SrNo = @PouringShiftCount
									)
									
									SET @CheckTimeForSameCastingWithProcess = (
											SELECT		MIN(StartTime)
											FROM		##TempPlan
											WHERE		OrderTransID = @OrderTransID
														AND ProcessName = 'Cool off Time'
									)

									IF @CheckTimeForSameCastingWithProcess IS NULL
									BEGIN
										SET @CheckTimeForSameCastingWithProcess = (
												SELECT		MIN(StartTime)
												FROM		##TempPlan
												WHERE		OrderTransID = @OrderTransID
										)
									END

									SET @WorkdateEndTime = 	@CheckTimeForSameCastingWithProcess ;

									SET @WorkDateStartTime = DATEADD(MINUTE, -@StdCoolOffTime, @CheckTimeForSameCastingWithProcess) ;	

									IF @Requiredload > @TotalFurnaceCapacity

										SET @PourcapacityQty = FLOOR( @TotalFurnaceCapacity / CASE WHEN @GrossWeight = 0 THEN 1 ELSE @GrossWeight END ) ;

									ELSE

										SET @PourcapacityQty = @Qty - @TotalAssignedPourQty ;

									EXEC dbo.[SaveAutoPlanning]
											@OrderTransID = @OrderTransID,
											@Casting_ID = @Casting_ID, 
											@ProcessId = NULL,
											@ProcessName = 'Cool off Time',
											@PlanQty = @PourcapacityQty ,
											@ProcessWt= @GrossWeight ,
											@WorkDateStartTime = @WorkDateStartTime,
											@WorkdateEndTime = @WorkdateEndTime,
											@ShiftID = @PouringShiftID, 
											@ProcessType = 4								 	

									-------------------------------POURING
									SET @CheckTimeForSameCastingWithProcess = (
											SELECT		MIN(StartTime)
											FROM		##TempPlan
											WHERE		OrderTransID = @OrderTransID
														AND ProcessName = 'Pouring'
									)

									IF @CheckTimeForSameCastingWithProcess IS NULL
										SET @CheckTimeForSameCastingWithProcess = (
												SELECT		MIN(StartTime)
												FROM		##TempPlan
												WHERE		OrderTransID = @OrderTransID
										)

									WHILE @PouringShiftCount > 0
									BEGIN

										SELECT		@PouringShiftID = ShiftId,
													@ShiftStartTime = StartTime,
													@ShiftEndTime = EndTime
										FROM		#TempForPouringShift
										WHERE		SrNo = @PouringShiftCount

										IF CAST(@CheckTimeForSameCastingWithProcess AS TIME) <= @ShiftStartTime
										BEGIN
											
											SET @PouringShiftCount = @PouringShiftCount - 1;
											
											IF @PouringShiftCount = 0
											BEGIN
												
												SET @WorkDate = @WorkDate - 1 ;

												SET @PouringShiftCount = (
														SELECT		COUNT(ShiftId)
														FROM		HRShiftMaster
														WHERE		ShiftType = 4
																	AND IsDelete = 0
												)

												SET @CheckTimeForSameCastingWithProcess = @WorkDate 
												+ (SELECT EndTime FROM #TempForPouringShift WHERE SrNo = @PouringShiftCount) ;

											END

										END
										ELSE IF  CAST(@CheckTimeForSameCastingWithProcess AS TIME) <= @ShiftEndTime
										BEGIN
											
											SET @WorkdateEndTime = @CheckTimeForSameCastingWithProcess;
											BREAK;

										END
										ELSE 
										BEGIN

											SET @WorkdateEndTime = cast(@WorkDate as datetime)+ cast(@ShiftEndTime as datetime);
											BREAK;

										END

									END

									SET @WorkDateStartTime = DATEADD(HOUR, -1, @WorkdateEndTime) ;
									
									EXEC dbo.[SaveAutoPlanning]
											@OrderTransID = @OrderTransID,
											@Casting_ID = @Casting_ID, 
											@ProcessId = NULL,
											@ProcessName = 'Pouring',
											@PlanQty = @PourcapacityQty ,
											@ProcessWt= @GrossWeight ,
											@WorkDateStartTime = @WorkDateStartTime,
											@WorkdateEndTime = @WorkdateEndTime,
											@ShiftID = @PouringShiftID, 
											@ProcessType = 3

									--------------------------------MOLDING
									SET @MoldingShiftID = (
										SELECT		ShiftId
										FROM		#TempForMoldingShift
										WHERE		SrNo = @MoldingShiftCount
									)

									SET @CheckTimeForSameCastingWithProcess = (
										SELECT		MIN(StartTime)
										FROM		##TempPlan
										WHERE		OrderTransID = @OrderTransID
													AND ProcessName = 'Molding'
									)

									IF @CheckTimeForSameCastingWithProcess IS NULL
										SET @CheckTimeForSameCastingWithProcess = (
											SELECT		MIN(StartTime)
											FROM		##TempPlan
											WHERE		OrderTransID = @OrderTransID
										)

									SET @RequiredMold = CEILING( CAST(@PourcapacityQty AS FLOAT) / CAST(@NoOfPatternOnMatchPlate AS FLOAT) ) ;
									
									SET @Time = ROUND( @MoldProductionTime * @RequiredMold / CASE WHEN ISNULL(@MoldProduction, 0) = 0 THEN 1 ELSE @MoldProduction END, 3) ;
									SET @Time = @Time + @MoldReadyBeforeHours*60 ;

									--Check mold stock exist or not if exist than reduce stock for planning
									IF EXISTS(
										SELECT		PatternID 
										FROM		RemainStockForMold 
										WHERE		PatternID = @PatternID
									)										
										SET @Currentstock =	(
											SELECT		RemainStockForMold.RemainStock AS Stock 
											FROM		RemainStockForMold 
											WHERE		PatternID = @PatternID
										)																					
									ELSE										
										SET @Currentstock =	(
											SELECT		SUM(MoldInventory.MoldInventory) AS Stock 
											FROM		MoldInventory 
														INNER JOIN MoldInventoryType 
														ON MoldInventory.MoldingTypeID = MoldInventoryType.MoldTypeID 
											WHERE		PatternID = @PatternID 
										)
										
									IF EXISTS(
										SELECT		PatternID
										FROM		RemainStockForMold
										WHERE		PatternID = @PatternID
									)
										SET @CurrentStock = (
											SELECT		RemainStock AS Stock
											FROM		RemainStockForMold
											WHERE		PatternID = @PatternID
										)
									ELSE
										SET @CurrentStock = (
											SELECT		SUM(MoldInventory.MoldInventory) AS Stock
											FROM		MoldInventory
														INNER JOIN MoldInventoryType
														ON MoldInventory.MoldingTypeID = MoldInventoryType.MoldTypeID
											WHERE		PatternID = @PatternID
										)

									IF @CurrentStock > @RequiredMold
									BEGIN		
																		
										SET @CurrentStock = @CurrentStock - @RequiredMold ;

										EXEC dbo.[TempStoreMoldStockForAssign] 
												@patternID = @PatternID,
												@Stock = @CurrentStock

										SET @RequiredMold = 0

									END		
									ELSE		
									BEGIN
										
										SET @RequiredMold = @RequiredMold - @CurrentStock ;

										SET @CurrentStock = 0 ;
											
										EXEC dbo.[TempStoreMoldStockForAssign] 
												@patternID = @PatternID,
												@Stock = @CurrentStock

									END
									
									WHILE @MoldingShiftCount > 0
									BEGIN
									
										SELECT		@MoldingShiftID = ShiftId,
													@ShiftStartTime = StartTime,
													@ShiftEndTime = EndTime
										FROM		#TempForMoldingShift
										WHERE		SrNo = @MoldingShiftCount

										IF CAST(@CheckTimeForSameCastingWithProcess AS TIME) <= @ShiftStartTime
										BEGIN

											SET @MoldingShiftCount = @MoldingShiftCount - 1;

											SELECT		@MoldingShiftID = ShiftId
											FROM		#TempForMoldingShift
											WHERE		SrNo = @MoldingShiftCount

											IF @MoldingShiftCount = 0
											BEGIN
												
												SET @WorkDate = @WorkDate - 1 ;

												SET @MoldingShiftCount = (
														SELECT		COUNT(ShiftId)
														FROM		HRShiftMaster
														WHERE		ShiftType = 2
																	AND IsDelete = 0
												)

												SET @CheckTimeForSameCastingWithProcess = @WorkDate 
												+ (SELECT EndTime FROM #TempForMoldingShift WHERE SrNo = @MoldingShiftCount) ;

											END

										END
										ELSE IF  CAST(@CheckTimeForSameCastingWithProcess AS TIME) <= @ShiftEndTime
										BEGIN
											
											SET @WorkdateEndTime = @CheckTimeForSameCastingWithProcess;
											BREAK;

										END
										ELSE 
										BEGIN

											SET @WorkdateEndTime = cast(@WorkDate as datetime)+ cast(@ShiftEndTime as datetime);
											BREAK;

										END

									END

									SET @WorkDateStartTime = DATEADD( MINUTE, -@Time, @CheckTimeForSameCastingWithProcess) ;

									IF @RequiredMold > 0
										EXEC dbo.[SaveAutoPlanning] 
												@OrderTransID = @OrderTransID,
												@Casting_ID = @Casting_ID, 
												@ProcessId = NULL,
												@ProcessName = 'Molding',
												@PlanQty = @RequiredMold , 
												@ProcessWt = @BunchWeight,
												@WorkDateStartTime = @WorkDateStartTime,
												@WorkdateEndTime = @WorkdateEndTime,
												@ShiftID = @MoldingShiftID,
												@ProcessType = 1
												
									-----------------------CORE MAKING TIME
									SET @CoreShiftID = (
										SELECT		ShiftId
										FROM		#TempForPouringShift
										WHERE		SrNo = @CoreShiftCount
									)

									DECLARE Core_cusor CURSOR
									FOR

										SELECT		NoofCavityperCoreBox,
													CoreProductionPerShift,
													CorePerCasting,
													CoreBoxDetails.CoreBoxID,
													CoreBoxDetails.WeightofCore 
										FROM		CoreBoxDetails 
													INNER JOIN CoreCastingMapping 
													ON CoreBoxDetails.CoreBoxID = CoreCastingMapping.CoreBoxID
										WHERE		CoreCastingMapping.CastingId = @Casting_ID
										
									OPEN Core_cusor 

									FETCH NEXT FROM Core_cusor 
									INTO	@CoreCavity, 
											@CoreProductionTime,
											@NoOfCorePerhr ,
											@CoreID , 
											@CoreWeight
					                
									WHILE @@FETCH_STATUS = 0
									BEGIN
					                
										SET @RequiredCore = CEILING(CAST(@PourcapacityQty AS FLOAT) / CAST(CASE WHEN @CoreCavity = 0 THEN 1 ELSE @CoreCavity END AS FLOAT));
									
										--Check Core stock exist or not if exist than reduce stock for planning
										IF EXISTS(
											SELECT		Coreid 
											FROM		RemainStockForCore 
											WHERE		CoreId = @CoreID
										)										
											SET @Currentstock =	(
												SELECT		RemainStock 
												FROM		RemainStockForCore 
												WHERE		CoreId = @CoreID
											)																					
										ELSE										
											SET @Currentstock =	(
												SELECT		CoreInventoryDetail.Stock AS Stock 
												FROM		CoreInventoryDetail 
												WHERE		CoreId = @CoreID
											)
										
										IF @CurrentStock >= @RequiredCore
										BEGIN						
														
											SET @CurrentStock = @CurrentStock - @RequiredCore;
											 
											EXEC dbo.[TempStoreCoreStockForAssign] 
													@CoreID = @CoreID,
													@Stock = @CurrentStock
										
											SET @RequiredCore=0

										END		
										ELSE		
										BEGIN
										
											SET @RequiredCore =  @RequiredCore - @CurrentStock;

											SET @CurrentStock = 0 ;

											EXEC dbo.[TempStoreCoreStockForAssign] 
													@CoreID = @CoreID,
													@Stock = @CurrentStock
											
										END		 

										SET @Time =  ROUND( CAST(@RequiredCore AS FLOAT) * @NoOfCorePerhr  /  CASE WHEN @CoreProductionTime = 0 THEN 1 ELSE @CoreProductionTime END, 3);
										SET @Time = (@Time)*60;
										
										SET @CheckTimeForSameCastingWithProcess = (
											SELECT		MIN(StartTime)
											FROM		##TempPlan
											WHERE		OrderTransID = @OrderTransID
														AND ProcessName = 'Core Making'
										)

										IF @CheckTimeForSameCastingWithProcess IS NULL
											SET @CheckTimeForSameCastingWithProcess = (
												SELECT		MIN(StartTime)
												FROM		##TempPlan
												WHERE		OrderTransID = @OrderTransID
															AND ProcessName = 'Pouring'
											)

										WHILE @CoreShiftCount > 0
										BEGIN

											SELECT		@CoreShiftID = ShiftId,
														@ShiftStartTime = StartTime,
														@ShiftEndTime = EndTime
											FROM		#TempForCoreShift
											WHERE		SrNo = @CoreShiftCount

											IF CAST(@CheckTimeForSameCastingWithProcess AS TIME) <= @ShiftStartTime
											BEGIN

												SET @CoreShiftCount = @CoreShiftCount - 1;
											
												IF @CoreShiftCount = 0
												BEGIN

													SET @WorkDate = @WorkDate - 1 ;

													SET @CoreShiftCount = (
														SELECT		COUNT(ShiftId)
														FROM		HRShiftMaster
														WHERE		ShiftType = 3
																	AND IsDelete = 0
													)
													
													SET @CheckTimeForSameCastingWithProcess = @WorkDate 
													+ (SELECT EndTime FROM #TempForCoreShift WHERE SrNo = @CoreShiftCount) ;

												END

											END
											ELSE IF  CAST(@CheckTimeForSameCastingWithProcess AS TIME) <= @ShiftEndTime
											BEGIN
											
												SET @WorkdateEndTime = @CheckTimeForSameCastingWithProcess;
												BREAK;

											END
											ELSE 
											BEGIN

												SET @WorkdateEndTime = cast( @WorkDate as datetime)+ cast(@ShiftEndTime as datetime);
												BREAK;

											END

										END

										Set @WorkDateStartTime = (DATEADD(MINUTE , -@Time , @WorkdateEndTime));		

										--Set @WorkdateEndTime = 	@CheckTimeForSameCastingWithProcess;
								
										IF @RequiredCore > 0
											EXEC dbo.[SaveAutoPlanning] 
													@OrderTransID = @OrderTransID,
													@Casting_ID = @Casting_ID, 
													@ProcessId = @CoreID,
													@ProcessName = 'Core Making',
													@PlanQty = @RequiredCore, 
													@ProcessWt = @CoreWeight, 
													@WorkDateStartTime = @WorkDateStartTime,
													@WorkdateEndTime = @WorkdateEndTime,
													@ShiftID = @CoreShiftID, 
													@ProcessType = 2								 		
	
										SET @CheckTimeForSameCastingWithProcess =(
											SELECT		MIN(StartTIme) AS StartTime 
											FROM		##TempPlan
											WHERE		OrderTransID = @OrderTransID
										)
					            	
										FETCH NEXT FROM Core_cusor
										INTO	@CoreCavity, 
												@CoreProductionTime,
												@NoOfCorePerhr,
												@CoreID, 
												@CoreWeight
									END;

									CLOSE Core_cusor; -- Close Cursor
									DEALLOCATE Core_cusor;
					            
									SET @Requiredload = @Requiredload - (@PourcapacityQty * @GrossWeight) ; 
													
									SET @TotalHeatRequired = @TotalHeatRequired - 1 ;	

									SET @TotalAssignedPourQty = @TotalAssignedPourQty + @PourcapacityQty ;

								END
								
								DROP TABLE #TempForPouringShift
								DROP TABLE #TempForMoldingShift
								DROP TABLE #TempForCoreShift

                            END
								--		------
                        FETCH NEXT FROM pro_cusor
						INTO	@OrderTransID, 
								@PerPcWt,
								@Casting_ID, 
								@Date, 
								@Qty, 
								@StdCoolOffTime,
								@MoldReadyBeforeHours, 
								@MoldProduction,
								@MoldProductionTime, 
								@NoOfPatternOnMatchPlate,
								@GrossWeight, 
								@PatternID, 
								@BunchWeight;
                    END;

                CLOSE pro_cusor; -- Close Cursor
                DEALLOCATE pro_cusor;            

				--SELECT * FROM AutoMoldPLan
				--SELECT * FROM AutoCorePLan
				--SELECT * FROM AutoPourPlan
				--SELECT * FROM AutoProductionProcessPlan

				--SELECT * FROM ##TempPLan
					            
                DROP TABLE RemainStockForCasting4
                DROP TABLE RemainStockForMold
                DROP TABLE RemainStockForCore  
                DROP TABLE ##TempPLan  
            
			------SELECT * FROM RemainStockForCasting			
			----SELECT * FROM RemainStockForMold			
			----SELECT * FROM RemainStockForCore			
			


END
GO
