USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[RegisterItemInventoryDetails]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Dhruvin>
-- Create date: <Create Date,,24-06-2020>
-- Description:	<Description,,Register Item Inventory Details (RM)>
-- =============================================
CREATE PROCEDURE [dbo].[RegisterItemInventoryDetails]
	@PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0 ,
    @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL ,
    @PurchaseItemSubGroupId UNIQUEIDENTIFIER = NULL ,
    @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL ,
    @PurchaseItemId UNIQUEIDENTIFIER = NULL ,
    @IncludeZero BIT = 'true',
    @PageType Nvarchar(100) = NULL ,
	@CastingName nvarchar(MaX) = null
AS
BEGIN

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End


	 declare @PatternIdTable table (Item UNIQUEIDENTIFIER) 
	 Insert into @PatternIdTable SELECT item  FROM CustomerPatternMappingFunction(@PlantIdString) 

	   SELECT       CASE WHEN @PageType = 'PATTERN' THEN ItemCode ELSE ItemName END AS [ItemName] ,
                    ItemCode AS [ItemCode] ,
                    ROUND(ISNULL(inventoryDetails.Stock, 0), 3) AS Stock ,
                    ROUND(ISNULL(FloorInventoryDetails.stock, 0), 3) AS [OnFloorStock] ,
                    SUM(ISNULL(inventoryDetails.Stock,0) + ISNULL(FloorInventoryDetails.stock,0)) AS [TotalStock],
                    ItemInventoryDetails.PurchaseItemId ,
                    ItemInventoryDetails.UOM ,
                    ItemInventoryDetails.IsDeleted ,
                    Userpm.PlantCode AS PlantName,
                    Userpm.PlantId
            FROM   [Data:ItemInventoryDetails] as ItemInventoryDetails
					Left Join CastingMaster On CastingMaster.Dieid= ItemInventoryDetails.PurchaseItemId
						
						
                    LEFT JOIN PlantMaster AS Userpm ON Userpm.PlantId IN (
															SELECT Item FROM @Plant 
														)
					LEFT JOIN Inventorydetails ON ItemInventoryDetails.PurchaseItemID = Inventorydetails.PurchaseItemID 
														AND ItemInventoryDetails.EntityID = Inventorydetails.Entity
														AND ( ISNULL(@PlantIdString, '') = ''
															OR Inventorydetails.PlantId IN (
																SELECT Item FROM @Plant 
															)
														)
														AND Userpm.PlantId =Inventorydetails.PlantId														
                    LEFT JOIN FloorInventoryDetails ON ItemInventoryDetails.PurchaseItemId = FloorInventoryDetails.PurchaseItemId
													AND ItemInventoryDetails.EntityID = FloorInventoryDetails.Entity
													AND ( ISNULL(@PlantIdString, '') = ''
														OR FloorInventoryDetails.PlantId IN (
															SELECT Item FROM @Plant 
														)
													)
													AND Userpm.PlantId =FloorInventoryDetails.PlantId
            WHERE 
                     ( @PurchaseItemId IS NULL
                          OR ItemInventoryDetails.PurchaseItemId = @PurchaseItemId
                        )
					and (@CastingName Is null Or CastingMaster.CastingName = @CastingName)
                    AND ( @IncludeZero = 'true'
                          OR ( ISNULL(InventoryDetails.Stock, 0)
                               + ISNULL(FloorInventoryDetails.stock, 0) ) <> 0
                        )
                    AND  ISNULL(ItemInventoryDetails.IsPatternDummy,0) = 0
                    AND (@PageType = 'PATTERN' Or @PurchaseItemTypeId IS NULL
                          OR ItemInventoryDetails.PurchaseItemtypeId = @PurchaseItemTypeId
                        )
					AND (@PageType != 'PATTERN' Or @PurchaseItemTypeId IS NULL
                          OR CastingMaster.CastingId = @PurchaseItemTypeId
                        )
                    AND (@PageType = 'PATTERN' Or  ( @PurchaseItemGroupId IS NULL
                          OR ItemInventoryDetails.PurchaseItemGroupId = @PurchaseItemGroupId
                        ))
					and (@PageType != 'PATTERN' Or @PurchaseItemGroupId IS NULL
                          OR  (ItemInventoryDetails.PurchaseItemId in ( select PatternId from CustomerPatternMapping where customerId = @PurchaseItemGroupId)
													))
                    AND ( @PurchaseItemSubGroupId IS NULL
                          OR ItemInventoryDetails.PurchaseItemCategoryId = @PurchaseItemSubGroupId
                        )
                    AND ItemInventoryDetails.EntityID = @EntityID
                    AND (    (
					         (@PageType IS NULL OR  @PageType = 'RM') AND ItemInventoryDetails.IsPattern = 0 AND (ItemInventoryDetails.IsAsset = 0 OR ItemInventoryDetails.IsEquipment = 1)
							 ) OR
						      (@PageType = 'PATTERN' AND ItemInventoryDetails.IsPattern = 1 
										AND ( ISNULL(InventoryDetails.Stock, 0) > 0 OR 
										( @PlantIdString IS NULL      
                                          OR @PlantIdString = ''      
                                          OR InventoryDetails.PlantId IN ( 
										  
										   select 
											 Distinct
											 PlantId
											 from 
											 PlantCustomerMapping
											 inner join CustomerPatternMapping on CustomerPatternMapping.CustomerId = PlantCustomerMapping.CustomerId
											 where
											 CustomerPatternMapping.PatternId = ItemInventoryDetails.PurchaseItemId

										  ) 
										  ) 
										  )
								   )
										   )
                    group by
                    itemName ,
                    ItemCode,
                    inventoryDetails.Stock ,
                    FloorInventoryDetails.stock,
                   
                    ItemInventoryDetails.PurchaseItemId ,
                    ItemInventoryDetails.UOM ,
                    ItemInventoryDetails.IsDeleted
                  , Userpm.PlantCode,
                    Userpm.PlantId
            ORDER BY [ItemName] ASC
END
GO
