USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_InwardBatchDetail]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Fetch_InwardBatchDetail]
    @InwardTransId UNIQUEIDENTIFIER = NULL
AS
    BEGIN
        SET NOCOUNT ON;

        SELECT  ibw.InwardBatchId ,
                ibw.InwardTransId ,
                ibw.RawBatchId ,
                ibw.Quantity AS InwardQty ,
                RawBatchNo ,
                obw.PendingQty + ibw.Quantity AS BatchStock ,
                0 AS TransactionQty,
                ibw.Quantity AS HiddenQty
        FROM    dbo.InwardBatchWise AS ibw
				INNER JOIN InwardTrans AS it ON ibw.InwardTransId = it.InwardTransId AND it.IsDeleted = 0
				INNER JOIN OutwardBatchWise AS obw ON it.OutwardTransId = obw.OutwardTransId 
													AND ibw.RawBatchId = obw.RawBatchId
                INNER JOIN dbo.RawInwBatchWiseStock AS ribws ON ribws.RawBatchId = ibw.RawBatchId
        WHERE   ibw.InwardTransId = @InwardTransId
    END
GO
