USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[QC_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE  PROCEDURE [dbo].[QC_Register]
 (
	@Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,    
    @MetalId BIGINT = 0 ,  
    @Reportname VARCHAR(100) = NULL ,
	@PlantIdString VARCHAR(MAX) = NULL ,  
	@CastingId UNIQUEIDENTIFIER = NULL ,
	@ProcessId UNIQUEIDENTIFIER = NULL ,
	@ReportInspectionId UNIQUEIDENTIFIER = NULL ,  
	@StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    @CastingName VARCHAR(100) = NULL ,
    @Heatcode VARCHAR(100) = NULL ,
    @batchID BIGINT = 0 , 
    @EntityId INT = 0 
)
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End  
	   IF @Parameter = 1
            BEGIN
           --     IF @InitialLoad = 1
           --         BEGIN
           --             SELECT TOP ( @PageSize )
           --                     *
           --             FROM    ( SELECT TOP ( @PageSize )
           --                                 ROW_NUMBER() OVER ( ORDER BY ReportInspectionMaster.ReportDate desc ,ReportNo
           --                                                    DESC ) AS [SrNo] ,
           --                                 ReportInspectionMaster.ReportInspectionId ,
           --                                 EntryNo ,
           --                                 ReportNo ,
           --                                 CONVERT(VARCHAR(11), ReportInspectionMaster.ReportDate, 106) AS [ReportDate] ,
           --                                 ReportInspectionMaster.CastingId ,
           --                                 ReportInspectionMaster.PartId ,
           --                                 ReportInspectionMaster.MetalId ,
           --                                 ReportInspectionMaster.ProcessId ,
           --                                 ReportInspectionMaster.ReportId ,
           --                                 CastingMaster.CastingName ,
           --                                 CastingMaster.CastingCode ,
           --                                 MetalMaster.MetalName ,
           --                                 PartNo.CastingCode AS PartNo ,
           --                                 ProcessMaster.ProcessName ,
           --                                 ReportMaster.ReportName ,
           --                                 ReportInspectionMaster.IsDeleted ,
           --                                 ReportInspectionMaster.DrawingNo
           --                       FROM      ReportInspectionMaster
           --                                 INNER JOIN CastingMaster ON CastingMaster.CastingId = ReportInspectionMaster.castingId
           --                                 INNER JOIN MetalMaster ON MetalMaster.MetalId = ReportInspectionMaster.metalId
           --                                 INNER JOIN CastingPartNo ON CastingPartNo.PartId = ReportInspectionMaster.PartId
           --                                                   AND CastingPartNo.ProcessId = ReportInspectionMaster.ProcessId
           --                                                   AND CastingPartNo.ReportId = ReportInspectionMaster.ReportId
           --                                                   AND CastingPartNo.MetalID = ReportInspectionMaster.MetalId
           --                                                   AND isnull(CastingPartNo.IsDeleted,0) = 0 
           --                                 INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = ReportInspectionMaster.ProcessId
           --                                 INNER JOIN ReportMaster ON ReportMaster.ReportId = ReportInspectionMaster.ReportId
           --                                 INNER JOIN CastingMaster AS PartNo ON ReportInspectionMaster.PartId = PartNo.CastingId
           --                       WHERE     ReportInspectionMaster.IsDeleted = 0
           --                                 AND ReportDate BETWEEN @StartDate AND @EndDate
           --                                 AND ( @ReportInspectionId IS NULL
           --                                       OR ReportInspectionMaster.ReportInspectionId = @ReportInspectionId
           --                                     )
           --                                 AND ( @CastingName IS NULL
           --                                       OR CastingMaster.CastingName = @CastingName
           --                                     )
           --                                 AND ( @MetalId = 0
           --                                       OR MetalMaster.MetalId = @MetalId
           --                                     )
           --                                 AND ( @ProcessId IS NULL
           --                                       OR ProcessMaster.ProcessId = @ProcessId
           --                                     )
           --                                 AND ( @CastingId IS NULL
           --                                       OR CastingMaster.CastingId = @CastingId
           --                                     )
											--AND ( @Reportname IS NULL
           --                                       OR ReportMaster.ReportName = @ReportName
           --                                     )
           --                                 AND ( @batchID = 0
           --                                       OR ReportInspectionId IN (
           --                                       SELECT    InspectionStockBatchBreakup.ReportInspectionId
           --                                       FROM      InspectionStockBatchBreakup
           --                                                 INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = InspectionStockBatchBreakup.batchID
           --                                                 INNER JOIN ReportInspectionMaster ON ReportInspectionMaster.ReportInspectionId = InspectionStockBatchBreakup.ReportInspectionId
           --                                                   AND ReportInspectionMaster.CastingId = CastingStockBatch.CastingID
           --                                                   AND ReportInspectionMaster.ProcessId = CastingStockBatch.ProcessID
           --                                                   AND ReportInspectionMaster.MetalId = CastingStockBatch.MetalID
           --                                       WHERE     productionbatchID = @batchID )
           --                                     )
           --                                 AND ( @Heatcode IS NULL
           --                                       OR ReportInspectionId IN (
           --                                       SELECT  DISTINCT
           --                                                 InspectionStockBatchBreakup.ReportInspectionId
           --                                       FROM      InspectionStockBatchBreakup
           --                                                 INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = InspectionStockBatchBreakup.batchID
           --                                                 INNER JOIN CastingHeatCode ON CastingStockBatch.HeatCodeId = CastingHeatCode.HeatCodeID
											--										AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
											--										And CastingHeatCode.CastingID = CastingStockBatch.CastingID
           --                                       WHERE     HeatCode = @Heatcode
           --                                       )
           --                                     )
           --                                 AND ( @PlantIdString IS NULL
           --                                       OR @PlantIdString = ''
           --                                       OR ReportInspectionMaster.PlantId in (SELECT Item FROM @Plant)
           --                                     )
           --                                 AND ReportInspectionMaster.EntityID = @EntityId
           --                     ) AS ReportInspectionMaster
           --         END
           --     ELSE
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY ReportInspectionMaster.ReportDate desc ,ReportNo
                                                              DESC ) AS [SrNo] ,
                                            ReportInspectionMaster.ReportInspectionId ,
                                            EntryNo ,
                                            ReportNo ,
                                            CONVERT(VARCHAR(11), ReportInspectionMaster.ReportDate, 106) AS [ReportDate] ,
                                            ReportInspectionMaster.CastingId ,
                                            ReportInspectionMaster.PartId ,
                                            ReportInspectionMaster.MetalId ,
                                            ReportInspectionMaster.ProcessId ,
                                            ReportInspectionMaster.ReportId ,
                                            CastingMaster.CastingName ,
                                            CastingMaster.CastingCode ,
                                            MetalMaster.MetalName ,
                                            PartNo.CastingCode AS PartNo ,
                                            ProcessMaster.ProcessName ,
                                            ReportMaster.ReportName ,
                                            ReportInspectionMaster.IsDeleted ,
                                            ReportInspectionMaster.DrawingNo
                                  FROM      ReportInspectionMaster
                                            INNER JOIN CastingMaster ON CastingMaster.CastingId = ReportInspectionMaster.castingId
                                            INNER JOIN MetalMaster ON MetalMaster.MetalId = ReportInspectionMaster.metalId
                                            --INNER JOIN CastingPartNo ON CastingPartNo.PartId = ReportInspectionMaster.PartId
                                            --                  AND CastingPartNo.ProcessId = ReportInspectionMaster.ProcessId
                                            --                  AND CastingPartNo.ReportId = ReportInspectionMaster.ReportId
                                            --                  AND CastingPartNo.MetalID = ReportInspectionMaster.MetalId
                                            --                  AND isnull(CastingPartNo.IsDeleted,0) = 0 
                                            INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = ReportInspectionMaster.ProcessId
                                            INNER JOIN ReportMaster ON ReportMaster.ReportId = ReportInspectionMaster.ReportId
                                            INNER JOIN CastingMaster AS PartNo ON ReportInspectionMaster.PartId = PartNo.CastingId
                                  WHERE     ReportInspectionMaster.IsDeleted = 0
                                            AND ReportDate BETWEEN @StartDate AND @EndDate
                                            AND ( @ReportInspectionId IS NULL
                                                  OR ReportInspectionMaster.ReportInspectionId = @ReportInspectionId
                                                )
                                            AND ( @CastingName IS NULL
                                                  OR CastingMaster.CastingName = @CastingName
                                                )
                                            AND ( @MetalId = 0
                                                  OR MetalMaster.MetalId = @MetalId
                                                )
                                            AND ( @ProcessId IS NULL
                                                  OR ProcessMaster.ProcessId = @ProcessId
                                                )
                                            AND ( @CastingId IS NULL
                                                  OR CastingMaster.CastingId = @CastingId
                                                )
                                            AND ( @ReportName IS NULL
                                                  OR ReportMaster.ReportName = @ReportName
                                                )
                                            AND ( @batchID = 0
                                                  OR ReportInspectionId IN (
                                                  SELECT    InspectionStockBatchBreakup.ReportInspectionId
                                                  FROM      InspectionStockBatchBreakup
                                                            INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = InspectionStockBatchBreakup.batchID
                                                            INNER JOIN ReportInspectionMaster ON ReportInspectionMaster.ReportInspectionId = InspectionStockBatchBreakup.ReportInspectionId
                                                              AND ReportInspectionMaster.CastingId = CastingStockBatch.CastingID
                                                              AND ReportInspectionMaster.ProcessId = CastingStockBatch.ProcessID
                                                              AND ReportInspectionMaster.MetalId = CastingStockBatch.MetalID
                                                  WHERE     productionbatchID = @batchID )
                                                )
                                            AND ( @Heatcode IS NULL
                                                  OR ReportInspectionId IN (
                                                  SELECT  DISTINCT
                                                            InspectionStockBatchBreakup.ReportInspectionId
                                                  FROM      InspectionStockBatchBreakup
                                                            INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = InspectionStockBatchBreakup.batchID
                                                            INNER JOIN CastingHeatCode ON CastingStockBatch.HeatCodeId = CastingHeatCode.HeatCodeID 
																					AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
																					And CastingHeatCode.CastingID = CastingStockBatch.CastingID                                                           
                                                  WHERE     HeatCode = @Heatcode
                                                  )
                                                )
                                            AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR ReportInspectionMaster.PlantId in (SELECT Item FROM @Plant) 
                                                )
                                            AND ReportInspectionMaster.EntityID = @EntityId
                                ) AS ReportInspectionMaster
                        WHERE   ReportInspectionMaster.[SrNo] > ( @PageNumber * @PageSize )
                    END
            END
            
	     IF @Parameter = 2
            BEGIN
                SET @TotalRecords = ( SELECT    COUNT(1)
                                       FROM      ReportInspectionMaster
													INNER JOIN CastingMaster ON CastingMaster.CastingId = ReportInspectionMaster.castingId
													INNER JOIN MetalMaster ON MetalMaster.MetalId = ReportInspectionMaster.metalId
													--INNER JOIN CastingPartNo ON CastingPartNo.PartId = ReportInspectionMaster.PartId
													--				  AND CastingPartNo.ProcessId = ReportInspectionMaster.ProcessId
													--				  AND CastingPartNo.ReportId = ReportInspectionMaster.ReportId
													--				  AND CastingPartNo.MetalID = ReportInspectionMaster.MetalId
													--					AND isnull(CastingPartNo.IsDeleted,0) = 0 
													INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = ReportInspectionMaster.ProcessId
													INNER JOIN ReportMaster ON ReportMaster.ReportId = ReportInspectionMaster.ReportId
													INNER JOIN CastingMaster AS PartNo ON ReportInspectionMaster.PartId = PartNo.CastingId
										WHERE     ReportInspectionMaster.IsDeleted = 0
                                                AND ReportDate BETWEEN @StartDate AND @EndDate
                                                AND ( @ReportInspectionId IS NULL
                                                      OR ReportInspectionMaster.ReportInspectionId = @ReportInspectionId
                                                    )
                                                AND ( @CastingName IS NULL
                                                      OR CastingMaster.CastingName = @CastingName
                                                    )
                                                AND ( @MetalId = 0
                                                      OR MetalMaster.MetalId = @MetalId
                                                    )
                                                AND ( @ProcessId IS NULL
                                                      OR ProcessMaster.ProcessId = @ProcessId
                                                    )
                                                AND ( @CastingId IS NULL
                                                      OR CastingMaster.CastingId = @CastingId
                                                    )
                                                AND ( @ReportName IS NULL
                                                      OR ReportMaster.ReportName = @ReportName
                                                    )
                                                AND ( @batchID = 0
                                                      OR ReportInspectionId IN (
                                                      SELECT  InspectionStockBatchBreakup.ReportInspectionId
                                                      FROM    InspectionStockBatchBreakup
                                                              INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = InspectionStockBatchBreakup.batchID
                                                              INNER JOIN ReportInspectionMaster ON ReportInspectionMaster.ReportInspectionId = InspectionStockBatchBreakup.ReportInspectionId
                                                              AND ReportInspectionMaster.CastingId = CastingStockBatch.CastingID
                                                              AND ReportInspectionMaster.ProcessId = CastingStockBatch.ProcessID
                                                              AND ReportInspectionMaster.MetalId = CastingStockBatch.MetalID
                                                      WHERE   productionbatchID = @batchID )
                                                    )
                                                AND ( @Heatcode IS NULL
                                                      OR ReportInspectionId IN (
                                                      SELECT  DISTINCT
                                                              InspectionStockBatchBreakup.ReportInspectionId
                                                      FROM    InspectionStockBatchBreakup
                                                              INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = InspectionStockBatchBreakup.batchID
                                                              INNER JOIN CastingHeatCode ON CastingStockBatch.HeatCodeId = CastingHeatCode.HeatCodeID
																						AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
																						And CastingHeatCode.CastingID = CastingStockBatch.CastingID
                                                      WHERE   HeatCode = @Heatcode
                                                      )
                                                    )
												AND ( @PlantIdString IS NULL
                                                  OR @PlantIdString = ''
                                                  OR ReportInspectionMaster.CAstingId IN (
                                                  SELECT    CastingId
                                                  FROM      dbo.PlantCastingMapping
                                                      where PlantId in (SELECT Item FROM @Plant))
                                                )
                                                AND ReportInspectionMaster.EntityID = @EntityId
                                    )
                RETURN @TotalRecords
            END
END
GO
