USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_DieCustomerReport]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_DieCustomerReport] 
@dieid VARCHAR(50),
@IfActive bit=0
AS
    SELECT  dbo.CustomerDieMapping.CustomerdieId ,
            dbo.CustomerDieMapping.DieId ,
            dbo.CustomerMaster.CustomerId AS Expr1 ,
            dbo.CustomerMaster.Customerflag ,
            case when @IfActive=1 then dbo.CustomerMaster.CustomerCode else dbo.CustomerMaster.CustomerName end CustomerName  ,
            ctm.TypeName AS Type ,--dbo.CustomerMaster.Type ,
            cc.CategoryName AS Category, --dbo.CustomerMaster.Category ,
            dbo.CustomerMaster.TaxNo1 ,
            dbo.CustomerMaster.TaxNo2 ,
            dbo.CustomerMaster.TaxNo3 ,
            dbo.CustomerMaster.TaxNo4 ,
            dbo.CustomerMaster.TaxNo5 ,
            dbo.CustomerMaster.Range ,
            dbo.CustomerMaster.Division ,
            dbo.CustomerMaster.Commissionerate
    FROM    dbo.CustomerDieMapping
            INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerDieMapping.CustomerId
            LEFT JOIN CustomerCategory AS cc ON cc.CustomerCategoryId = dbo.CustomerMaster.CustomerCategoryId
            LEFT JOIN CustomerTypeMaster AS ctm ON ctm.CustomerTypeId = dbo.CustomerMaster.CustomerTypeId
    WHERE   dbo.CustomerDieMapping.DieId = @dieid
GO
