USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Cutting_For_Forging_Report]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[Cutting_For_Forging_Report]
      
 @PageNumber INT = 0 ,                
 @PageSize INT = 0 ,                
 @InitialLoad INT = 0 ,                
 @TotalRecords INT = 0 ,   
 @IsSandProduction int = 0, 
 @DateFrom DATETIME = NULL , 
 @DateTo DATETIME = NULL ,
 @PurchaseItemId uniqueidentifier = NULL , 
 @PlantIdString VARCHAR(MAX) = NULL  ,
 @Shift VARCHAR(50) = NULL  , 
 @OperatorId int= 0,  
 @EntityId INT = 0 ,
 @HeatCode VARCHAR(50) = NULL , 
 @MetalId BIGINT = 0, 
 @CuttingToolId UNIQUEIDENTIFIER = NULL,
 @CastingId UNIQUEIDENTIFIER = NULL,
 @CastingName NVARCHAR(MAX) = '' 
AS
BEGIN

	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
 
	DECLARE  @GUID_EMPTY UNIQUEIDENTIFIER = CAST(0x0 AS UNIQUEIDENTIFIER)
  	 
	
			
						SELECT	pb.batchID
						, CONVERT(VARCHAR(15), ProductionDate, 106) AS dgvProcessDate
						, batchno AS dgvBatchNo
						, cm.CastingName AS dgvItemName
						, cm.CastingCode AS dgvItemCode
						, mm.MetalName AS dgvMetalGrade
						, knockout.okqty AS dgvProductionQty
						, (pim.ItemName + '(' + pim.ItemCode + ')') dgvConsumeItem
						, (mem.ItemName + '(' +mem.ItemCode  + ')') AS dgvCuttingTool
						, chc.HeatCode AS dgvLotNo
						, knockout.perpcweight AS dgvPerPcWt
						, knockout.okqtytotalweight AS dgvTotalWt
						, pb.Shift AS dgvShift
						, ed.EmployeeName AS dgvOperatorName
						, (EndPieceItem.ItemName + '(' + EndPieceItem.ItemCode + ')') dgvEndPieceItem
						, pb.ProductionDate AS ProdFullDate,
						knockout.QtyPerBar
				FROM	ProductionBatch AS pb
						INNER JOIN knockout ON knockout.batchid = pb.batchID
						INNER JOIN CastingMaster AS cm ON cm.CastingId = knockout.castingid
						INNER JOIN MetalMaster AS mm ON mm.MetalId = pb.MetalID
						INNER JOIN Consumption ON Consumption.batchid = pb.batchID
						INNER JOIN PurchaseItemMaster AS pim ON pim.PurchaseItemId = Consumption.purchaseitemID --and pim.IsEquipment = 0
						left JOIN PurchaseItemMaster AS mem ON mem.PurchaseItemId = knockout.CuttingToolId --and mem.IsEquipment = 1
						LEFT JOIN CastingHeatCode AS chc ON chc.CastingID = knockout.castingid
															AND chc.ProductionBatchID = knockout.batchid
															AND chc.Type = 0
						INNER JOIN EmployeeDetails AS ed ON ed.EmployeeId = pb.EmployeeId
						LEFT JOIN PurchaseItemMaster AS EndPieceItem ON EndPieceItem.PurchaseItemId = knockout.EndPieceItemId
				WHERE	pb.IsDeleted = 0 AND pb.IsForging = 1
						AND pb.EntityId = @EntityId
						AND (ISNULL(@PlantIdString,'') = ''
							OR pb.PlantID IN (
								SELECT Item FROM @Plant )
						)
						AND (ISNULL(@CastingName, '') = '' OR cm.CastingName = @CastingName)
						AND (ISNULL(@CastingId, @GUID_EMPTY) = @GUID_EMPTY OR knockout.castingid = @CastingId)
						AND (ISNULL(@MetalId, 0) = 0 OR pb.MetalID = @MetalId)
						AND (ISNULL(@PurchaseItemId, @GUID_EMPTY) = @GUID_EMPTY OR Consumption.purchaseitemID = @PurchaseItemId)
						AND (ISNULL(@CuttingToolId, @GUID_EMPTY) = @GUID_EMPTY OR knockout.CuttingToolId = @CuttingToolId)
						AND (ISNULL(@Shift, '') = '' OR pb.Shift = @Shift)						
						AND (ISNULL(@OperatorId, 0) = 0 OR pb.EmployeeId = @OperatorId)
						AND ( @DateFrom IS NULL OR @DateTo IS NULL
							OR CAST(ProductionDate AS DATE) BETWEEN CAST(@DateFrom AS DATE) AND CAST(@DateTo AS DATE)
                        )
						AND ( @HeatCode IS NULL                                
							          OR  ( chc.HeatCode = @HeatCode ))
					 order by ProductionDate desc
		
		
		
	 
END
GO
