USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GetBreakdownDetailsById]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Prashant>
-- Create date: <2024-08-14>
-- Description:	<Get BreakDown Data for Breakdown Message>
-- =============================================
create   PROCEDURE [dbo].[GetBreakdownDetailsById]
	@EntityId int,
	@BreakdownId UNIQUEIDENTIFIER
AS
BEGIN

	SET NOCOUNT ON;

	SELECT BreakdownId, Detail, CreatedBy
	FROM MaintenanceBreakdownMaster 
	WHERE BreakdownId = @BreakdownId AND EntityId = @EntityId AND IsDeleted = 0	
END
GO
