USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Inward_ApproveandDisapprove]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

--[dbo].[Inward_ApproveandDisapprove] 'd12a872f-8556-4bc4-9dec-a49dc456cffd','',3,4
CREATE PROCEDURE [dbo].[Inward_ApproveandDisapprove] 
@InwardID UNIQUEIDENTIFIER = null,
@Reason Nvarchar(Max) = null,
@Paramtere int = 0,
@RawStockStatus int = 0

AS
BEGIN
	
	BEGIN TRY
	BEGIN TRANSACTION Inward_ApproveandDisapprove
	
	
	Declare @EntityId int,@PlantId int,@Status int,@StockDeduct bit
	Select @EntityId = EntityId,@PlantId = PlantId from RawMaterialInward where InwardId = @InwardID
	
	select @StockDeduct = permitir.permitir from permitir where Code = 'SDII'
	
	IF @Paramtere = 1
	BEGIN  
	
	UPDATE RawMaterialInward SET IsApprove = 1,Reason = '' WHERE InwardId = @InwardID
	
	           IF @RawStockStatus = 1 OR @RawStockStatus = 2  
        	      SET @Status = 1;
        	 
        	      IF @RawStockStatus = 3 OR @RawStockStatus = 4 
        	      BEGIN
        	       
					
					Update 
					RawInwBatchWiseStock
					set
					Status = 1
					from
					RawMaterialInwardDetail 
					inner join PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					where
					RawInwBatchWiseStock.RawBatchNo = RawMaterialInwardDetail.RawBatchNo
					and RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					and RawInwBatchWiseStock.EntityId = @EntityId
					and RawInwBatchWiseStock.PlantId = @PlantId
					and RawMaterialInwardDetail.InwardId = @InwardID
					and ISNULL(PurchaseItemMaster.IsInspectionRequired,0) = 0
					and RawMaterialInwardDetail.IsDeleted = 0
					and RawMaterialInwardDetail.IsPattern = 0
					
					
				 END
				 ELSE
				 BEGIN
				 
				    Update 
					RawInwBatchWiseStock
					set
					Status = @Status 
					from
					RawMaterialInwardDetail 
					where
					RawInwBatchWiseStock.RawBatchNo = RawMaterialInwardDetail.RawBatchNo
					and RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					and RawInwBatchWiseStock.EntityId = @EntityId
					and RawInwBatchWiseStock.PlantId = @PlantId
					and RawMaterialInwardDetail.InwardId = @InwardID
					and RawMaterialInwardDetail.IsDeleted = 0
					and RawMaterialInwardDetail.IsPattern = 0
				
				
				 
				 END
	
	END
	ELSE IF @Paramtere = 2
	BEGIN
	
	--SELECT
	--*
	--into #tempStatus
	--FROM
	--(
	
	
	--                SELECT
 --                   CASE WHEN RawMaterialInwardDetail.Quantity = RawInwBatchWiseStock.Qty and RawMaterialInwardDetail.IsInspectionDone = 0 THEN 1 ELSE 2 END [Status]
                    
	--				from
	--				RawMaterialInwardDetail
	--				inner join PurchaseItemMaster ON  PurchaseItemMaster.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
	--				inner join RawInwBatchWiseStock ON RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
	--				where
	--				RawInwBatchWiseStock.RawBatchNo = RawMaterialInwardDetail.RawBatchNo
	--				and RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
	--				and RawInwBatchWiseStock.EntityId = @EntityId
	--				and RawInwBatchWiseStock.PlantId = @PlantId
	--				and RawMaterialInwardDetail.InwardId = @InwardID
	--				AND ISNULL(PurchaseItemMaster.IsInspectionRequired,0) = 1
					
	--				UNION ALL
					
	--				SELECT
 --                   CASE WHEN RawMaterialInwardDetail.Quantity = RawInwBatchWiseStock.Qty THEN 1 ELSE 2 END [Status]
	--				from
	--				RawMaterialInwardDetail
	--				inner join PurchaseItemMaster ON  PurchaseItemMaster.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
	--				inner join RawInwBatchWiseStock ON RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
	--				where
	--				RawInwBatchWiseStock.RawBatchNo = RawMaterialInwardDetail.RawBatchNo
	--				and RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
	--				and RawInwBatchWiseStock.EntityId = @EntityId
	--				and RawInwBatchWiseStock.PlantId = @PlantId
	--				and RawMaterialInwardDetail.InwardId = @InwardID
	--				AND ISNULL(PurchaseItemMaster.IsInspectionRequired,0) = 0
					
	--				) as t
					
					
	--			 IF EXISTS (select * from #tempStatus where Status = 2)
	--			 Begin
	
	--              Select 2
					
	--			END
	--			Else
				--Begin
				 
				  
				  
				  UPDATE RawMaterialInward SET IsApprove = 0,Reason = @Reason,IsDisapprove = 1 WHERE InwardId = @InwardID
	 
				 --IF Exists (Select * from configuration where EntityID = @EntityId and AdditionOfStockAfterQC = 0 and MaterialInwardApproval = 1)
				 --BEGIN
	                
	                
	                Update 
					  RawInwBatchWiseStock
					set
					Status = 0 -- Reject
					from
					RawMaterialInwardDetail 
					where
					RawInwBatchWiseStock.RawBatchNo = RawMaterialInwardDetail.RawBatchNo
					and RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					and RawInwBatchWiseStock.EntityId = @EntityId
					and RawInwBatchWiseStock.PlantId = @PlantId
					and RawMaterialInwardDetail.InwardId = @InwardID
					and RawMaterialInwardDetail.IsDeleted = 0
					and RawMaterialInwardDetail.IsPattern = 0
					
				--END
	
	END
	ELSE IF @Paramtere = 3
	BEGIN
	
	SELECT
	*
	into #tempStatus1
	FROM
	(
	                SELECT
                    CASE WHEN RawMaterialInwardDetail.ConvertedAcceptedQuantity = RawInwBatchWiseStock.Qty AND RawMaterialInwardDetail.IsInspectionDone = 0 THEN 1 ELSE 2 END [Status]
                   
					from
					RawMaterialInwardDetail 
					inner join PurchaseItemMaster ON  PurchaseItemMaster.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					inner join RawInwBatchWiseStock ON RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					where
					RawInwBatchWiseStock.RawBatchNo = RawMaterialInwardDetail.RawBatchNo
					and RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					and RawInwBatchWiseStock.EntityId = @EntityId
					and RawInwBatchWiseStock.PlantId = @PlantId
					and RawMaterialInwardDetail.InwardId = @InwardID
					and PurchaseItemMaster.IsInspectionRequired = 1
					and RawMaterialInwardDetail.IsDeleted = 0
					union all
					SELECT
                    CASE WHEN RawMaterialInwardDetail.ConvertedAcceptedQuantity = RawInwBatchWiseStock.Qty THEN 1 ELSE 2 END [Status]
                    
					from
					RawMaterialInwardDetail 
					inner join PurchaseItemMaster ON  PurchaseItemMaster.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					inner join RawInwBatchWiseStock ON RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					where
					RawInwBatchWiseStock.RawBatchNo = RawMaterialInwardDetail.RawBatchNo
					and RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					and RawInwBatchWiseStock.EntityId = @EntityId
					and RawInwBatchWiseStock.PlantId = @PlantId
					and RawMaterialInwardDetail.InwardId = @InwardID
					and ISNULL(PurchaseItemMaster.IsInspectionRequired,0) = 0
					and RawMaterialInwardDetail.IsDeleted = 0
					AND RawMaterialInwardDetail.IsPattern = 0
					
					UNION ALL
					
					Select
					CASE WHEN @StockDeduct = 0 THEN 2 ELSE  1 END [Status]
					from 
					MaterialInspectionMaster
					inner join RawMaterialInwardDetail ON RawMaterialInwardDetail.RawmaterialDetailId = MaterialInspectionMaster.RawmaterialDetailId
					inner join PurchaseItemMaster ON  PurchaseItemMaster.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					where
					MaterialInspectionMaster.InwardID = @InwardID
					and
					RawMaterialInwardDetail.InwardId = MaterialInspectionMaster.InwardId
					and MaterialInspectionMaster.IsDeleted = 0
					and RawMaterialInwardDetail.IsDeleted = 0
					and ISNULL(PurchaseItemMaster.IsInspectionRequired,0) = 1
					
					) as t1
					
					
				 IF EXISTS (select * from #tempStatus1 where Status = 2)
				 Begin
				  SELECT 2
				 END
				 ELSE
				 BEGIN
				   SELECT 1
				 END
				 
				 Drop table #tempStatus1
				 
	END
	ELSE IF @Paramtere = 4
	BEGIN
	
	
	
	                
	SELECT
	*
	into #tempStatus2
	FROM
	(
	
	
	                SELECT
                    CASE WHEN RawMaterialInwardDetail.ConvertedAcceptedQuantity = RawInwBatchWiseStock.Qty and RawMaterialInwardDetail.IsInspectionDone = 0 THEN 1 ELSE 2 END [Status]
                    
					from
					RawMaterialInwardDetail
					inner join PurchaseItemMaster ON  PurchaseItemMaster.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					inner join RawInwBatchWiseStock ON RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					where
					RawInwBatchWiseStock.RawBatchNo = RawMaterialInwardDetail.RawBatchNo
					and RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					and RawInwBatchWiseStock.EntityId = @EntityId
					and RawInwBatchWiseStock.PlantId = @PlantId
					and RawMaterialInwardDetail.InwardId = @InwardID
					AND ISNULL(PurchaseItemMaster.IsInspectionRequired,0) = 1
					and RawMaterialInwardDetail.IsDeleted = 0
					
					UNION ALL
					
					SELECT
                    CASE WHEN RawMaterialInwardDetail.ConvertedAcceptedQuantity = RawInwBatchWiseStock.Qty THEN 1 ELSE 2 END [Status]
					from
					RawMaterialInwardDetail
					inner join PurchaseItemMaster ON  PurchaseItemMaster.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					inner join RawInwBatchWiseStock ON RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					where
					RawInwBatchWiseStock.RawBatchNo = RawMaterialInwardDetail.RawBatchNo
					and RawInwBatchWiseStock.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					and RawInwBatchWiseStock.EntityId = @EntityId
					and RawInwBatchWiseStock.PlantId = @PlantId
					and RawMaterialInwardDetail.InwardId = @InwardID
					AND ISNULL(PurchaseItemMaster.IsInspectionRequired,0) = 0
					and RawMaterialInwardDetail.IsDeleted = 0
					AND RawMaterialInwardDetail.IsPattern = 0
					
					UNION ALL
					
					Select
					CASE WHEN @StockDeduct = 0 THEN 2 ELSE  1 END [Status]
					from 
					MaterialInspectionMaster
					inner join RawMaterialInwardDetail ON RawMaterialInwardDetail.RawmaterialDetailId = MaterialInspectionMaster.RawmaterialDetailId
					inner join PurchaseItemMaster ON  PurchaseItemMaster.PurchaseItemId = RawMaterialInwardDetail.PurchaseItemId
					where
					MaterialInspectionMaster.InwardID = @InwardID
					and
					RawMaterialInwardDetail.InwardId = MaterialInspectionMaster.InwardId
					and MaterialInspectionMaster.IsDeleted = 0
					and RawMaterialInwardDetail.IsDeleted = 0
					and ISNULL(PurchaseItemMaster.IsInspectionRequired,0) = 1
					
					) as t
					
					
				 IF EXISTS (select * from #tempStatus2 where Status = 2)
				 Begin
	
	              Select 2
					
				END
				Else
				Begin
				 
				  Select 1
					
				END
	
	END
	COMMIT TRANSACTION Inward_ApproveandDisapprove
	SELECT 1
	END TRY
	BEGIn CATCH
	ROLLBACK TRANSACTION Inward_ApproveandDisapprove
	SELECT 0
	END CATCH
	
	
END
GO
