USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[EwayBill]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Rahil>
-- Create date: <Create Date,,>
-- Description:	<EwayBill,,>
-- =============================================
CREATE PROCEDURE [dbo].[EwayBill] 
	-- Add the parameters for the stored procedure here
	@DispatchID BIGINT = Null,
	 @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
declare @isStockTransfer bit = (select IsNonGST from InvoiceSeries where SeriesId = (select SeriesId from dispatchmaster where dispatchid = @DispatchID ))
   
Declare @SrNo int , @OtherTaxableAmount float , @OtherNonTaxableAmount float , @IGST float , @CGST float , @SGST float ;

		Set @SrNo = (Select MIN(DispatchOtherCharges.SrNo) from DispatchOtherCharges inner join LedgerMaster on DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId
        where DispatchOtherCharges.DispatchId = @DispatchID
        and UnderTaxation in (1,2,3) )    -- This will find charges Above GST because on that Tax is going to calculate
                                                           
     set @OtherTaxableAmount = (  Select sum(ChargeAmount) as Amount from DispatchOtherCharges INNER JOIN LedgerMaster
        ON DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId   
        INNER JOIN LedgerGroup on LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId     
        And DispatchOtherCharges.SrNo < @SrNo
        where DispatchOtherCharges.DispatchId = @DispatchID
        And (ChargeAmount is not null or ChargeAmount != 0)
        )
        
        
        Set @SrNo = (Select MAX(DispatchOtherCharges.SrNo) from DispatchOtherCharges inner join LedgerMaster on DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId
        where DispatchOtherCharges.DispatchId = @DispatchID
        and UnderTaxation in (1,2,3) ) -- This will find charges Below GST because on that Tax is not going to calculate on that
        
      Set @OtherNonTaxableAmount = (  Select sum(ChargeAmount) as Amount from 
        DispatchOtherCharges INNER JOIN LedgerMaster ON DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId  
        INNER JOIN LedgerGroup on LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId               
        And DispatchOtherCharges.SrNo > @SrNo
        where DispatchOtherCharges.DispatchId = @DispatchID
        And (ChargeAmount is not null or ChargeAmount != 0) 
        )
        
      Set @IGST =(  Select ISNULL(ChargeAmount,0) as TaxAmount from 
        DispatchOtherCharges INNER JOIN LedgerMaster ON DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId                               
        where DispatchOtherCharges.DispatchId = @DispatchID  
        And LedgerMaster.UnderTaxation in (1)
        )
        
        Set @CGST =(  Select ISNULL(ChargeAmount,0) as TaxAmount from 
        DispatchOtherCharges INNER JOIN LedgerMaster ON DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId                               
        where DispatchOtherCharges.DispatchId = @DispatchID  
        And LedgerMaster.UnderTaxation in (2)
        )
        
        Set @SGST =(  Select ISNULL(ChargeAmount,0) as TaxAmount from 
        DispatchOtherCharges INNER JOIN LedgerMaster ON DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId                               
        where DispatchOtherCharges.DispatchId = @DispatchID  
        And LedgerMaster.UnderTaxation in (3)
        )

	 
	if exists( select 1 from dispatchmaster Where DispatchId = @DispatchId  And TypeOfVoucher = 2 )
	Begin 
		Set @IGST =	(Select	Sum(Round(dispatchtrans.TotalAmount * HSNIGST /100,2))  as TaxAmount  
						
					from	dispatchtrans 
							Inner Join dispatchmaster on dispatchmaster.DispatchID = dispatchtrans.dispatchid
					Where	dispatchtrans.DispatchId = @DispatchId  And dispatchtrans.IsDeleted = 0 
							and IsIGST  = 1
					)
			
		Set @CGST = (Select	Sum(Round(dispatchtrans.TotalAmount * HSNIGST /100,2))/2  as TaxAmount  
								
						from	dispatchtrans 
								Inner Join dispatchmaster on dispatchmaster.DispatchID = dispatchtrans.dispatchid
						Where	dispatchtrans.DispatchId = @DispatchId  And dispatchtrans.IsDeleted = 0 
								and IsIGST  = 0
					)
			
		Set @SGST =(Select	Sum(Round(dispatchtrans.TotalAmount * HSNIGST /100,2))/2  as TaxAmount 
							
					from	dispatchtrans 
							Inner Join dispatchmaster on dispatchmaster.DispatchID = dispatchtrans.dispatchid
					Where	dispatchtrans.DispatchId = @DispatchId  And dispatchtrans.IsDeleted = 0 
							and IsIGST  = 0
					)
	end
	select	EwbNo as [eWayBillNo], 
			CONVERT(VARCHAR, EwbDt, 103) + ' ' + RIGHT(CONVERT(VARCHAR, EwbDt, 100), 7) as [GeneratedDate],
			CompanyMaster.GSTNo as [GeneratedBy], 
			CONVERT(VARCHAR,EwbValidTill, 103) as [ValidUpto]
			,ew.MannerOfTransport as Mode,
			Convert(varchar,ew.DistanceInKM)  + ' KM' as [ApproxDistance]
			,'Outward - '+
			case when IsExport  = 1 then 'Export' 
			when dispatchmaster.TypeOfVoucher = 5 then 'Other' 
			when dispatchMaster.TypeOfVoucher = 2 then 'Job Work' else  'Supply' end
			as [Type],
			Case when ISNULL(ew.MotarRegno,'') = '' then '' else 
		case when @isStockTransfer =1 then 'Challan' else 	'Tax Invoice' end  + '-' end + ISNULL(dispatchmaster.Prefix,'') + ISNULL(dispatchmaster.Separator,'') 
			+ dispatchmaster.Dispatchslipno + ISNULL(dispatchmaster.Separator,'') + ISNULL(dispatchmaster.Suffix,'') as DocumentNo, 
			convert(varchar,dispatchmaster.dispatchdate,103)  as DocumentDate, 
			Case when dispatchmaster.BillingPincode <> dispatchmaster.ConsigneePincode 
			or dispatchmaster.BiilingAddressLIne1 <> dispatchmaster.ShippingAddressLIne1 
			then 
				 (case when ISNULL(ew.DisptachFromName,'') <> '' then 'Bill To - Ship To/Bill From - Dispatch From'
					else 'Bill To - Ship To' end) 
			when  dispatchmaster.BillingPincode = dispatchmaster.ConsigneePincode then 
				( case when  ISNULL(ew.DisptachFromName,'') <> '' then 	'Bill From - Dispatch From'
					else 'Regular' end) 				
			end as 	 TransactionType
			,Irn as IRN,
			--Address details---
			CompanyMaster.GSTNo as [GSTNO_S], CompanyMaster.NameOfOrganization as [CompanyName_S],CompanyMaster.State as [State_S],
			Case when ISNULL(ew.DisptachFromAddress,'') = '' 
				then CompanyMaster.Address +' , '+  CompanyMaster.AddLine2+' , '+CompanyMaster.Area+' , ' + CompanyMaster.City +' , '+ CompanyMaster.State+' , '+ CompanyMaster.Pincode  else ew.DisptachFromAddress end as [DispatchFrom],
			CASE when dispatchmaster.IsExport = 1 then 'URP' else CustomerMaster.GSTNo end as [GSTNO_C],isnull( CustomerMaster.DisplayName , CustomerMaster.CustomerName) as [CompanyName_C],
			CASE when dispatchmaster.IsExport = 1 then 'Other Countries' else CustomerState.State  end as [State_C],
			ShippingAddressLIne1 +' , ' + ShippingAddressLIne2 + ' , ' +ShippingCity.City+' , '+ ConSigneeState.State +' , '+Convert(varchar,dispatchmaster.ConsigneePincode) as [ShipTo]
			,
			---TAX Details---
			(dispatchmaster.Grossamount + ISNULL(@OtherTaxableAmount,0)) as Grossamount ,
			(dispatchmaster.TotalAmount) + case When TypeOfVoucher = 2 then Isnull(@IGST,0) + isnull(@CGST,0) + Isnull(@SGST,0) else 0 end  as TotalAmount,
			isnull(@CGST ,0) AS CGSTAmt ,
			isnull(@SGST ,0) AS SGSTAmt ,
			isnull(@IGST ,0) AS IGSTAmt ,
			--SUM(ISNULL((Case when ChargeName = 'CGST' then CONVERT(DECIMAL(10, 3), isnull(ChargeAmount,0)) else 0 end),0)) AS CGSTChargeAmount ,
			--SUM(Case when ChargeName = 'SGST' then CONVERT(DECIMAL(10, 3), isnull(ChargeAmount,0))  else 0 end) AS SGSTChargeAmount ,
			--Sum(Case when ChargeName = 'IGST' then CONVERT(DECIMAL(10, 3), isnull(ChargeAmount,0))  else 0 end) AS IGSTChargeAmount 
			--,
			'0' as CessAmount,'0' as CessNonAdvolAmount, (dispatchmaster.RoundOff + ISNULL(@OtherNonTaxableAmount,0)) as OtherAmount,
			---Transportation details---
			ew.TransporterId as [TransporterId], 
			ew.RoadPermitForm as [TransporterName],
			ew.LrNo as [DocNo],
			ew.DocDate,
			---Vehicle details---
			Case when ISNULL(ew.MotarRegNo,'') = '' then '' else ew.MotarRegNo end as [VehicleNo],
			Case when ISNULL(ew.DispatchFrom	,'') = ' ' 
			then  CompanyMaster.City  else ew.DispatchFrom end as [From]
			,convert(varchar,EwbDt,3) as [EnteredDate],
			CompanyMaster.GSTNo as [EnteredBy],
			case when Isexport = 1 And ew.IsEwaybillRequired = 1 then 
			case when PreCarriage.PortOfLoadingId is not null Or PortofLoading.PortOfLoadingId Is not null then 
			ISNULL(PreCarriage.Address,isnull(PortofLoading.Address,'')) +' , ' + ISNULL(PreCarriage.Address2,isnull(PortofLoading.Address2,'')) 
			+ ' , ' +cast(ISNULL(PreCity.City,isnull(PortCity.City,'')) as varchar(Max))+' , '+ ISNULL(Prestate.State,isnull(Portstate.State,'')) 
			+' , '+cast(Isnull(PreCarriage.PinCode,isnull(PortofLoading.Pincode,'')) as varchar(MaX)) else '' end
			else ShippingAddressLIne1 +' , ' + ShippingAddressLIne2 + ' , ' +ShippingCity.City+' , '+ ConSigneeState.State +' , '+Convert(varchar,dispatchmaster.ConsigneePincode) 
			end as [PortShipTo] 
	from	dispatchmaster
			INNER JOIN dbo.EwayDetails ew on  ew.ID = dispatchmaster.DispatchID and ew.type in(0,5)
			left join EInvoiceMaster  on EInvoiceMaster.DispatchId = dispatchmaster.DispatchID
			inner join CompanyMaster on dispatchmaster.EntityID = CompanyMaster.EntityId
			inner join CustomerMaster on dispatchmaster.ConsigneeID = CustomerMaster.CustomerId
			--Left join CityMaster As ShippingCity on dispatchmaster.ShippingCityId = ShippingCity.CityId
			inner join CityMaster As ShippingCity on dispatchmaster.ShippingCityId = ShippingCity.CityId
			--Left join StateMaster As ShippingState  on dispatchmaster.StateId =  ShippingState.StateId and ShippingCity.StateId = ShippingState.StateId --Change
			     LEFT JOIN StateMaster as ConSigneeState on ConSigneeState.StateId = dispatchmaster.StateId 
			     LEFT JOIN StateMaster as CustomerState on CustomerState.StateId = dispatchmaster.CustomerStateId 
			Left join PortOfLoading as PreCarriage On dispatchmaster.Precarriageid = PreCarriage.PortOfLoadingId
						and PreCarriage.isdefaultprecarriage = 0 
						and dispatchmaster.Precarriageid is not null 
						and dispatchmaster.Precarriageid != cast(0x0 as uniqueidentifier) 
						and PreCarriage.Isdeleted = 0 
			LEFT JOIN CityMaster as PreCity ON PreCity.CityId= PreCarriage.CityId
			Left Join StateMaster as Prestate on Prestate.StateId = PreCarriage.StateId
			Left Join PortOfLoading on PortofLoading.PortOfLoadingId = dispatchmaster.PortofLoadingId	
						and PortOfLoading.Isdeleted = 0
			LEFT JOIN CityMaster as PortCity ON PortCity.CityId= PortOfLoading.CityId
			Left Join StateMaster as Portstate on Portstate.StateId = PortOfLoading.StateId
	where	dispatchmaster.DispatchID = @DispatchID 
			and dispatchmaster.EntityID = @EntityId



 

--select 
----EwayBill details---
--a.eWayBillNo,a.GeneratedDate,a.GeneratedBy,a.[ValidUpto],a.Mode,a.[ApproxDistance],a.Type,a.InvoiceNo as DocumentNo
--,a.InvoiceDate as DocumentDate 
--,a.TransactionType,a.IRN,

----Address details---
--a.GSTNO_S, a.CompanyName_S ,a.State_S as [State_S], a.DispatchFrom
--, a.GSTNO_C, a.CompanyName_C , a.ShipTo,a.State_C as [State_C]

----TAX Details---
--,a.GrossAmount,a.TotalAmount, SUM(a.CGSTChargeAmount) as CGSTAmt,SUM(a.SGSTChargeAmount) as SGSTAmt,SUM(a.IGSTChargeAmount) as IGSTAmt 
--,a.CessAmount,a.CessNonAdvolAmount,a.OtherAmount
----Transportation details---
--, a.[TransporterId],  a.TransporterName,a.DocNo,a.DocDate,

----Vehicle details---
--a.[VehicleNo], a.[From], a.[EnteredBy] from

--(

--	select 

--	EwbNo as [eWayBillNo],convert(varchar,EwbDt,0) as [GeneratedDate],CompanyMaster.GSTNo as [GeneratedBy],convert(varchar,EwbValidTill,3) as [ValidUpto]

--	,dispatchmaster.MannerOfTransport as Mode,Convert(varchar,dispatchmaster.DistanceInKM)  + ' KM' as [ApproxDistance]

--	,'Outward - Supply' as [Type],
	
--	Case when ISNULL(dispatchmaster.MotarRegno,'') = '' then '' else 
--	'Tax Invoice' + ' - ' end + ISNULL(dispatchmaster.Prefix,'') + ISNULL(dispatchmaster.Separator,'') + dispatchmaster.Dispatchslipno + ISNULL(dispatchmaster.Separator,'') + ISNULL(dispatchmaster.Suffix,'') as [InvoiceNo], convert(varchar,dispatchmaster.dispatchdate,3)  as [InvoiceDate], 

--	Case when dispatchmaster.BillingPincode <> dispatchmaster.ConsigneePincode then 
--		 (case when ISNULL(dispatchmaster.DisptachFromName,'') <> '' then 'Bill To - Ship To/Bill From - Dispatch From'
--					else 'Bill To - Ship To' end) 
--	when  dispatchmaster.BillingPincode = dispatchmaster.ConsigneePincode then 
--		 ( case when  ISNULL(dispatchmaster.DisptachFromName,'') <> '' then 	'Bill From - Dispatch From'
--					else 'Regular' end) 				
--	end as 	 TransactionType

					
--	,Irn as IRN

--	,

--	--Address details---
--	CompanyMaster.GSTNo as [GSTNO_S], CompanyMaster.NameOfOrganization as [CompanyName_S],CompanyMaster.State as [State_S],
--	Case when ISNULL(dispatchmaster.DisptachFromAddress,'') = '' then CompanyMaster.Address +' , '+  CompanyMaster.AddLine2+' , '+CompanyMaster.Area+' , ' + CompanyMaster.City +' , '+ CompanyMaster.State+' , '+ CompanyMaster.Pincode  else dispatchmaster.DisptachFromAddress end as [DispatchFrom]
--	,

--	CASE when dispatchmaster.IsExport = 1 then 'URP' else CustomerMaster.GSTNo end as [GSTNO_C], CustomerMaster.CustomerName as [CompanyName_C],
--	CASE when dispatchmaster.IsExport = 1 then 'Other Countries' else BillingState.State end as [State_C],
--	ShippingAddressLIne1 +' , ' + ShippingAddressLIne2 + ' , ' +ShippingCity.City+' , '+ ShippingState.State+' , '+Convert(varchar,dispatchmaster.ConsigneePincode) as [ShipTo]
--	,

--	---TAX Details---
--	dispatchmaster.Grossamount as Grossamount ,dispatchmaster.TotalAmount as TotalAmount,
--	SUM(ISNULL((Case when ChargeName = 'CGST' then CONVERT(DECIMAL(10, 3), isnull(ChargeAmount,0))/2 else 0 end),0)) AS CGSTChargeAmount ,
--	SUM(Case when ChargeName = 'SGST' then CONVERT(DECIMAL(10, 3), isnull(ChargeAmount,0))/2  else 0 end) AS SGSTChargeAmount ,
--	Sum(Case when ChargeName = 'IGST' then CONVERT(DECIMAL(10, 3), isnull(ChargeAmount,0))  else 0 end) AS IGSTChargeAmount 
--	,'0' as CessAmount,'0' as CessNonAdvolAmount, dispatchmaster.RoundOff as OtherAmount,

--	---Transportation details---
--	dispatchmaster.TransporterId as [TransporterId], dispatchmaster.RoadPermitForm as [TransporterName],dispatchmaster.LrNo as [DocNo],dispatchmaster.DocDate,


--	---Vehicle details---
--	Case when ISNULL(MotarRegNo,'') = '' then ' - ' else MotarRegNo end as [VehicleNo],

--	Case when ISNULL(dispatchmaster.DispatchFrom	,'') = ' ' then  CompanyMaster.City  else dispatchmaster.DispatchFrom end as [From],convert(varchar,EwbDt,3) as [EnteredDate],CompanyMaster.GSTNo as [EnteredBy]


--	from dispatchmaster


--	left join EInvoiceMaster  on EInvoiceMaster.DispatchId = dispatchmaster.DispatchID

--	inner join CompanyMaster on dispatchmaster.EntityID = CompanyMaster.EntityId

--	inner join CustomerMaster on dispatchmaster.customerID = CustomerMaster.CustomerId

--	----inner join AddressMaster AS ShippingAdd on dispatchmaster.ShippingCustomerId = ShippingAdd.CustomerId
--	----							AND dispatchmaster.ShippingCityId = ShippingAdd.City
--	----							--and ShippingAdd.IsShipping = 1
								
--	--inner join AddressMaster AS BillingAdd on dispatchmaster.customerID = BillingAdd.CustomerId
--	--							AND dispatchmaster.BiilingCityId = BillingAdd.City
--	--							--AND BillingAdd.IsBilling = 1


--	inner join CityMaster As ShippingCity on dispatchmaster.ShippingCityId = ShippingCity.CityId
--	inner join CityMaster As BillingCity on dispatchmaster.BiilingCityId = BillingCity.CityId

--	Left join StateMaster As ShippingState  on dispatchmaster.ConsigneeStateCode =  ShippingState.StateCode and ShippingCity.StateId = ShippingState.StateId
--	Left join StateMaster As BillingState  on dispatchmaster.CustomerStateCode = BillingState.StateCode and  BillingCity.StateId=  BillingState.StateId 

--	Left JOIN DispatchOtherCharges ON dispatchmaster.DispatchID = DispatchOtherCharges.DispatchId
--	and isnull(DispatchOtherCharges.ChargeAmount,0) <> 0

--	Left join LedgerMaster ON DispatchOtherCharges.chargeid = LedgerMaster.ChargeId

--	where  dispatchmaster.DispatchID = @DispatchID 
--	 and dispatchmaster.EntityID = @EntityId



--	group by 

--	EwbNo,EInvoiceMaster.EwbDt,CompanyMaster.GSTNo,EwbValidTill,
--	dispatchmaster.MannerOfTransport,dispatchmaster.DistanceInKM,
--	dispatchmaster.Prefix,  dispatchmaster.Separator, dispatchmaster.Dispatchslipno, dispatchmaster.Separator,dispatchmaster.Suffix,dispatchmaster.dispatchdate, Irn,
--	dispatchmaster.BillingPincode,dispatchmaster.ConsigneePincode,dispatchmaster.DisptachFromName,

--	CompanyMaster.GSTNo , CompanyMaster.NameOfOrganization ,
--	dispatchmaster.DisptachFromAddress,
--	CompanyMaster.Address ,CompanyMaster.AddLine2,CompanyMaster.Area ,CompanyMaster.City ,CompanyMaster.State, CompanyMaster.Pincode,

--	CustomerMaster.GSTNo,CustomerMaster.CustomerName,BillingState.State ,
--	dispatchmaster.ShippingAddressLIne1,dispatchmaster.ShippingAddressLIne2,ShippingCity.City,ShippingState.State,dispatchmaster.ConsigneePincode,

--	dispatchmaster.IsExport,

--	dispatchmaster.Grossamount ,dispatchmaster.TotalAmount,DispatchOtherCharges.ChargeAmount,dispatchmaster.RoundOff,

--	dispatchmaster.TransporterId, dispatchmaster.RoadPermitForm ,dispatchmaster.LrNo ,dispatchmaster.DocDate,
--	MotarRegNo,dispatchFrom 


--)  as a

--group by  a.eWayBillNo,a.GeneratedDate,a.GeneratedBy,a.[ValidUpto],a.Mode,a.[ApproxDistance],a.Type,a.InvoiceDate,a.InvoiceNo,a.TransactionType,a.IRN,
--a.GSTNO_S, a.CompanyName_S ,a.State_S,a.State_C, a.DispatchFrom, a.GSTNO_C, a.CompanyName_C , a.ShipTo,a.Grossamount,a.TotalAmount,a.CessAmount,a.CessNonAdvolAmount,a.OtherAmount,
--a.[TransporterId],  a.TransporterName,a.DocNo,a.DocDate,
--a.[VehicleNo], a.[From], a.[EnteredBy]

select CastingMaster.CastingName,dispatchtrans.TariffCode as HSNCode,

((select Count(dispatchtrans.dispatchtransid) as Count from dispatchtrans where dispatchtrans.dispatchid = dispatchmaster.DispatchID and dispatchmaster.IsDeleted = 0 and dispatchtrans.IsDeleted = 0 )+(select Count(DispatchServiceItemTrans.dispatchid) as Count from DispatchServiceItemTrans where DispatchServiceItemTrans.dispatchid = dispatchmaster.DispatchID and DispatchServiceItemTrans.QtyAddtoInvoice = 1 and dispatchmaster.IsDeleted = 0 and DispatchServiceItemTrans.IsDeleted = 0 ) - 1) as Count 

,dispatchtrans.TotalAmount
,dispatchtrans.dispatchqty
,CASE when dispatchmaster.IsIGST = 1 then 'NE + ' + 'NE + ' + convert(varchar,dispatchtrans.HSNIGST) + ' + 0' + ' + 0 ' else convert(varchar,dispatchtrans.HSNIGST/2)+' + ' + convert(varchar,dispatchtrans.HSNIGST/2) + ' + NE' + ' + 0' + ' + 0' end as TC

 from dispatchmaster

inner join dispatchtrans on dispatchmaster.DispatchID = dispatchtrans.dispatchid

inner join CastingMaster on dispatchtrans.PartId = CastingMaster.CastingId


where dispatchmaster.IsDeleted = 0 and dispatchtrans.IsDeleted = 0 and dispatchmaster.DispatchID = @DispatchID and dispatchmaster.EntityID = @EntityId
union all
select PurchaseItemMaster.ItemName as CastingName,
dispatchtrans.TariffCode as HSNCode,
((select Count(dispatchtrans.dispatchtransid) as Count from dispatchtrans where dispatchtrans.dispatchid = dispatchmaster.DispatchID and dispatchmaster.IsDeleted = 0 and dispatchtrans.IsDeleted = 0 )+(select Count(DispatchServiceItemTrans.dispatchid) as Count from DispatchServiceItemTrans where DispatchServiceItemTrans.dispatchid = dispatchmaster.DispatchID and DispatchServiceItemTrans.QtyAddtoInvoice = 1 and dispatchmaster.IsDeleted = 0 and DispatchServiceItemTrans.IsDeleted = 0 ) - 1) as Count 
,dispatchtrans.TotalAmount
,dispatchtrans.ItemRequiredQty as dispatchqty
,CASE when dispatchmaster.IsIGST = 1 then 'NE + ' + 'NE + ' + convert(varchar,dispatchtrans.HSNIGST) + ' + 0' + ' + 0 ' else convert(varchar,dispatchtrans.HSNIGST/2)+' + ' + convert(varchar,dispatchtrans.HSNIGST/2) + ' + NE' + ' + 0' + ' + 0' end as TC
from dispatchmaster

inner join dispatchtrans on dispatchmaster.DispatchID = dispatchtrans.dispatchid

inner join PurchaseItemMaster on dispatchtrans.PurchaseItemID = PurchaseItemMaster.PurchaseItemId

where dispatchmaster.IsDeleted = 0 and dispatchtrans.IsDeleted = 0 and dispatchmaster.DispatchID = @DispatchID and dispatchmaster.EntityID = @EntityId

union all

select ServiceItemMaster.Item as CastingName,DispatchServiceItemTrans.TariffCode as HSNCode, 
0 as Count

,DispatchServiceItemTrans.TotalAmount
,DispatchServiceItemTrans.Qty
,CASE when dispatchmaster.IsIGST = 1 then 'NE + ' + 'NE + ' + convert(varchar,DispatchServiceItemTrans.HSNIGST) + ' + 0' + ' + 0 ' else convert(varchar,DispatchServiceItemTrans.HSNIGST/2)+' + ' + convert(varchar,DispatchServiceItemTrans.HSNIGST/2) + ' + NE' + ' + 0' + ' + 0' end as TC

 from dispatchmaster

left join DispatchServiceItemTrans on dispatchmaster.DispatchID = DispatchServiceItemTrans.dispatchid
inner join OrderServiceItemTrans on DispatchServiceItemTrans.OrderServiceItemTransID = OrderServiceItemTrans.OrderServiceItemID
inner join ServiceItemMaster on ServiceItemMaster.ServiceItemId = OrderServiceItemTrans.ServiceItemId

where dispatchmaster.IsDeleted = 0 and DispatchServiceItemTrans.IsDeleted = 0 and dispatchmaster.DispatchID =  @DispatchID  and dispatchmaster.EntityID = @EntityId and DispatchServiceItemTrans.QtyAddtoInvoice = 1


END
GO
