USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_JobOutDetails]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Fetch_JobOutDetails]
	-- Add the parameters for the stored procedure here
	@JOId bigint 
	
AS
BEGIN
	declare @tempTable table(Code varchar(MaX),Name varchar(Max) ,Id uniqueidentifier,Uom varchar(Max) )
	insert into @tempTable (Code,Name,Id,Uom)
	Select	CastingMaster.CastingCode as Code,
			CastingMaster.castingName as Name,
			CastingMaster.CastingId as Id,
			'' as UOM
	from	CastingMaster
	Union AlL
Select	PurchaseItemMaster.ItemCode as Code,
			PurchaseItemMaster.ItemCode as Name,
			PurchaseItemMaster.PurchaseItemId as Id,
			'' as UOM
	from	PurchaseItemMaster where PurchaseItemMaster.IsPattern = 1
	Union All
	Select	PurchaseItemMaster.ItemCode as Code,
			PurchaseItemMaster.ItemName as Name,
			PurchaseItemMaster.PurchaseItemId as Id,
			UQCMaster.UQC as UOM
	From	PurchaseItemMaster
			Inner Join UOMMaster on UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
			Inner Join UQCMaster On UQCMaster.Id = UOMMaster.UQCId
			where PurchaseItemMaster.IsPattern = 0							 
	UNION ALL
	Select	CoreBoxDetails.CoreBoxName as Code,
			CoreBoxName as Name,
			CoreBoxDetails.CoreBoxID as Id,
			'' as UOM
	from	CoreBoxDetails
	UNION ALL
	Select	CoreBoxMaster.CoreMasterName as Code,
			CoreBoxMaster.CoreMasterName as Name,
			CoreBoxMaster.CoreMasterID as Id,
			'' as UOM
	from	CoreBoxMaster
	
	select	0 as IsExport,--NA
			0 as PinCode,--PortOfLoading Pincode NA
			0 as PortStateCode,--PortOfLoading StateCode NA
			'' as SalesAgainstFormExport, --NA
			JobOutMaster.IsIGST,
			JobOutMaster.SupplierPinCode as BillingPincode,
			JobOutMaster.SupplierAddress as ShippingAddress,
			JobOutMaster.StateCode as ConsigneeStateCode,
			JobOutMaster.SupplierPinCode as ConsigneePincode,
			cm.CustomerName ,
			 case when cm.RegistrationType= 4 then 'URP' else  cm.GSTNo end as GSTNo,
			--JobOutMaster.SupplierAddressLine1 as ShipAddLine1, 
			--JobOutMaster.SupplierAddressLine2 as ShipAddLine2 ,
			JobOutMaster.SupplierAddressLine1 as AddLine1, 
			JobOutMaster.SupplierAddressLine2 as AddLine2 ,
			Isnull(JobOutMaster.Prefix,'') + ISNULL(JobOutMaster.Separator,'') +
			JobOutMaster.JONO 
			+Isnull(JobOutMaster.Separator,'') + ISNULL(JobOutMaster.Suffix,'') as DispatchSlipNo,
			 CONVERT(VARCHAR(20),JobOutMaster.JODate , 106) as InvoiceDate,
			JobOutMaster.StateCode as StateCode,
			CastingName,
			(JobOutTranse.HSNIGST/ 2  ) AS SGST ,
            (JobOutTranse.HSNIGST/ 2  ) AS CGST ,
            JobOutTranse.HSNIGST AS  IGST ,
			Round((JobOutTranse.CastingValue ),2) as TaxableAmount,-- casting wise amount without gst
			
			Sum(Round(((JobOutTranse.CastingValue * JobOutTranse.HSNIGST)/100),2)) Over() As TaxAmount,-- only gst amount 
			
			--Round(Sum(case when RateContract.UOM = 'PerPc' then Round((JobOutTranse.OutwardQty * JobOutTranse.Rate ),2)
			--else Round((JobOutTranse.TotalWeight * JobOutTranse.Rate ) ,2) end
			--+ Round(((case when RateContract.UOM = 'PerPc' then Round((JobOutTranse.OutwardQty * JobOutTranse.Rate ),2)
			--else Round((JobOutTranse.TotalWeight * JobOutTranse.Rate ),2) end * JobOutTranse.HSNIGST)/100),2)) Over(),2)
			
			Sum(Round((JobOutTranse.CastingValue ),2) ) Over()
			+ Sum(Round(((JobOutTranse.CastingValue * JobOutTranse.HSNIGST)/100),2)) Over()
			as TotalAmountOfInvoice,-- total amount with gst 
			
			JobOutTranse.OutwardQty as Qty,
			
			case when RateContract.UOM = 'PerPc' then 'NOS' else 'KGS' end as UQC,
			
			JobOutTranse.TariffCode as TerrifCode,
			
			Sum(Round((JobOutTranse.CastingValue ),2)) Over() as TotalAmount, -- Sum Of amount without gst
			
			0 as RoundOff,-- NA
			IsEwayGenerated
	from	JobOutMaster
			Inner Join CustomerMaster as cm on cm.CustomerId = JobOutMaster.SupplierID
			Inner Join JobOutTranse on JobOutTranse.JOID = JobOutMaster.JOID
			Inner Join RateContract on RateContract.RateContractID = JobOutTranse.RateContractID
			Inner Join CastingMaster On CastingMaster.CastingId = JobOutTranse.CastingID
	WHere	JobOutMaster.ForOtherProcesses = 0 
			and JobOutMaster.IsDeleted = 0 
			and JobOutMaster.IsDummyJO = 0 
			and JobOutTranse.IsDeleted = 0 
			and JobOutMaster.IsTransfer = 0 
			and JobOutMaster.JOID = @JOId
			
	Union All-- job Out Other Purpose
	select	0 as IsExport,--NA
			0 as PinCode,--PortOfLoading Pincode NA
			0 as PortStateCode,--PortOfLoading StateCode NA
			'' as SalesAgainstFormExport, --NA
			JobOutMaster.IsIGST,
			JobOutMaster.SupplierPinCode as BillingPincode,
			JobOutMaster.SupplierAddress as ShippingAddress,
			JobOutMaster.StateCode as ConsigneeStateCode,
			JobOutMaster.SupplierPinCode as ConsigneePincode,
			cm.CustomerName ,
			case when cm.RegistrationType= 4 then 'URP' else  cm.GSTNo end as GSTNo,
			--JobOutMaster.SupplierAddressLine1 as ShipAddLine1, 
			--JobOutMaster.SupplierAddressLine2 as ShipAddLine2 ,
			JobOutMaster.SupplierAddressLine1 as AddLine1, 
			JobOutMaster.SupplierAddressLine2 as AddLine2 ,
			Isnull(JobOutMaster.Prefix,'') + ISNULL(JobOutMaster.Separator,'') +
			JobOutMaster.JONO 
			+Isnull(JobOutMaster.Separator,'') + ISNULL(JobOutMaster.Suffix,'') 
			as DispatchSlipNo,
			 CONVERT(VARCHAR(20),JobOutMaster.JODate , 106) as InvoiceDate,
			JobOutMaster.StateCode as StateCode,
			case when JobOutTranse.IsItemType = 7 
			then JobOutTranse.OtherItemName 
			when JobOutTranse.RateContractID is not null 
			then mastertable.Name 
			else mastertable2.Name end as CastingName,
			(JobOutItemTrans.HSNIGST/ 2  ) AS SGST ,
            (JobOutItemTrans.HSNIGST/ 2  ) AS CGST ,
            JobOutItemTrans.HSNIGST AS  IGST ,
			ROund(JobOutItemTrans.Value ,2) as TaxableAmount,-- casting wise amount without gst
			Sum(Round(((JobOutItemTrans.Value * JobOutItemTrans.HSNIGST)/100),2)) Over() As TaxAmount,-- only gst amount 
			
			Round(Sum(JobOutItemTrans.Value) Over(),2)
			+ Round(Sum(Round(((JobOutItemTrans.Value * JobOutItemTrans.HSNIGST)/100),2)) Over(),2)
			 as TotalAmountOfInvoice,-- total amount with gst 
			
			JobOutItemTrans.TransferQty as Qty,
			
			case when JobOutItemTrans.IsItemType != 1 then 'NOS' 
			when JobOutTranse.RateContractID is not null then mastertable.Uom 
			else mastertable2.Uom end as UQC,
			
			JobOutItemTrans.TariffCode as TerrifCode,
			
			Round(Sum(JobOutItemTrans.Value) Over(),2) as TotalAmount, -- Sum Of amount with gst
			
			0 as RoundOff,-- NA
			IsEwayGenerated
	from	JobOutMaster
			Inner Join CustomerMaster as cm on cm.CustomerId = JobOutMaster.SupplierID
			Inner Join JobOutTranse on JobOutTranse.JOID = JobOutMaster.JOID
			Inner Join JobOutItemTrans On JobOutItemTrans.Jo_TranseId = JobOutTranse.JOTranseID
			Left Join BOQTrans on BOQTrans.BOQTransId = JobOutItemTrans.Bom_TranseId
			Left Join @tempTable as mastertable on mastertable.Id = BOQTrans.PurchaseItemId
			Left Join @tempTable as mastertable2 on mastertable2.Id = JobOutTranse.CastingID
					
	WHere	JobOutMaster.ForOtherProcesses = 1 
			and JobOutMaster.IsDeleted = 0 
			and JobOutMaster.IsDummyJO = 0 
			and JobOutTranse.IsDeleted = 0 
			and JobOutMaster.JOID = @JOId
			and( (JobOutTranse.RateContractID Is not null and BOQTrans.BOQTransId = JobOutItemTrans.Bom_TranseId)
				Or(JobOutTranse.RateContractID Is null))
			
	--UNION ALL -- Material out
	--select	0 as IsExport,--NA
	--		0 as PinCode,--PortOfLoading Pincode NA
	--		0 as PortStateCode,--PortOfLoading StateCode NA
	--		'' as SalesAgainstFormExport, --NA
	--		JobOutMaster.IsIGST,
	--		JobOutMaster.SupplierPinCode as BillingPincode,
	--		JobOutMaster.SupplierAddress as ShippingAddress,
	--		JobOutMaster.StateCode as ConsigneeStateCode,
	--		JobOutMaster.SupplierPinCode as ConsigneePincode,
	--		cm.CustomerName ,
	--		cm.GSTNo,
	--		--JobOutMaster.SupplierAddressLine1 as ShipAddLine1, 
	--		--JobOutMaster.SupplierAddressLine2 as ShipAddLine2 ,
	--		JobOutMaster.SupplierAddressLine1 as AddLine1, 
	--		JobOutMaster.SupplierAddressLine2 as AddLine2 ,
	--		JobOutMaster.JONO as DispatchSlipNo,
	--		JobOutMaster.JODate as InvoiceDate,
	--		JobOutMaster.StateCode as StateCode,
	--		mastertable.Name as CastingName,
	--		(JobOutTranse.HSNIGST/ 2  ) AS SGST ,
 --           (JobOutTranse.HSNIGST/ 2  ) AS CGST ,
 --           JobOutTranse.HSNIGST AS  IGST ,
	--		JobOutTranse.CastingValue as TaxableAmount,-- casting wise amount without gst
			
	--		Sum((JobOutTranse.CastingValue * JobOutTranse.HSNIGST)/100) Over() As TaxAmount,-- only gst amount 
			
	--		Sum(JobOutTranse.CastingValue
	--		+ ((JobOutTranse.CastingValue * JobOutTranse.HSNIGST)/100)) Over() as TotalAmountOfInvoice,-- total amount with gst 
			
	--		JobOutTranse.OutwardQty as Qty,
			
	--		case when JobOutTranse.IsItemType != 1 then 'NOS' else 'KGS' end as UQC,
			
	--		JobOutTranse.TariffCode as TerrifCode,
			
	--		Sum(JobOutTranse.CastingValue) Over() as TotalAmount, -- Sum Of amount with gst
			
	--		0 as RoundOff-- NA
			
	--from	JobOutMaster
	--		Inner Join CustomerMaster as cm on cm.CustomerId = JobOutMaster.SupplierID
	--		Inner Join JobOutTranse on JobOutTranse.JOID = JobOutMaster.JOID
	--		Inner Join @tempTable as mastertable on mastertable.Id = JobOutTranse.CastingID
	--WHere	JobOutMaster.ForOtherProcesses = 1 
	--		and JobOutMaster.IsDeleted = 0 
	--		and JobOutMaster.IsDummyJO = 0 
	--		and JobOutTranse.IsDeleted = 0 
	--		and JobOutMaster.IsTransfer = 0 
	--		and JobOutMaster.JOID = @JOId
	--		and JobOutTranse.RateContractID is null
			
	
END



GO
