USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GateIn]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[GateIn]                    
  
@FromDate datetime = null,
@ToDate datetime = null,                 
@GateInMasterID UNIQUEIDENTIFIER=NULL,                    
@GateInID BIGINT =0,                    
@EntryNo VARCHAR(20) =NULL,                    
@GateInNo VARCHAR(20)=NULL,                    
@GateNo BIGINT=0,                    
@GateInDate DATETIME=NULL,                    
--@EntryDate DATETIME=NULL,                    
@Time DATETIME=NULL,                    
@SupplierName UNIQUEIDENTIFIER=NULL,                            
@ReferenceNo NVARCHAR(20)=NULL,                    
@LRNo VARCHAR(30)=NULL,                    
@LRDate DATETIME=NULL,                    
@VehicleNo VARCHAR(20)=NULL,                    
@TransportORPerson VARCHAR(200)=NULL,                    
@Remark VARCHAR(max)=NULL,                    
                    
@CreatedBy INT=0,                    
@CreatedOn DATETIME=NULL,                    
@ModifiedBy INT=0,                    
@ModifiedOn DATETIME=NULL,                    
@IsDeleted INT =0,                    
@DeletedOn DATETIME=NULL,                    
@DeletedBy INT=0,                    
@EntityID INT =0,                    
@PlantIdString VARCHAR(MAX) = NULL,                    
@parameter INT=0,                    
                    
@DTItemDetails XML=NULL,                    
@ItemName NVARCHAR(200)=NULL,                    
@Qty DECIMAL(18,3)=0,                    
@UOM VARCHAR(100)=NULL,                    
@GateInTransID UNIQUEIDENTIFIER=NULL,                    
@CommonDataEntry VARCHAR(10)='0',                    
@UniqueName NVARCHAR(100) = NULL ,                      
@ORDERNO int = 0 ,                      
@CommonDataId int = 0 ,                    
@DisplayName VARCHAR(500)=NULL ,                  
@PageSize INT = 0 ,                        
@PageNumber INT = 0 ,                        
@TotalRecords INT = 0 ,                  
@DeletedItems XML =NULL,              
@InOrOutType TINYINT=0,        
@GroupName VARCHAR(200)=NULL ,  
@PartyName VARCHAR(300)=NULL  , 
@TransporterName varchar(100) = null,
@VoucherType Nvarchar(100) = null,
@GrossWt float= null,
@TareWt float= null,
@NetWt float= null,
@WeightSlipNo NVARCHAR(50) = NULL ,
@GateId int = 0 ,
@CustomerFlag Nvarchar(100) = null

AS                     
 BEGIN                    
       
	   	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
       
         DECLARE  @OrderTransId UNIQUEIDENTIFIER, @AgainstourDoc Nvarchar(200)
                       
 -- Return Entry No and GateIn No                    
 IF @parameter=1                    
 BEGIN                    
    SELECT  ( '09' + RIGHT('00' + CONVERT(VARCHAR(20), ( CAST(YEAR(DATEADD(Month,-3, GETDATE())) AS VARCHAR(4))% 100 )), 2)                      
                          + RIGHT('00' + CONVERT(VARCHAR(20), DATEPART(month,GETDATE())), 2)                      
                          + RIGHT('00000' + CONVERT(VARCHAR(20), ( ISNULL(MAX(GateInNo), 0) + 1 )), 5) ) AS EntryNo ,                      
                                                 
                  ( RIGHT('00000' + CONVERT(VARCHAR(20), ( ISNULL(MAX(CAST(GateInNo AS BIGINT)), 0) + 1 )), 5) ) AS GateInNo                      
          FROM    GateInMaster 
		  WHERE InOrOutType=@InOrOutType    
		  and EntityID = @EntityID
		  and Isdeleted = 0 
		  
 END                     
 -- Return ItemName                    
 ELSE IF @parameter=2                    
 BEGIN                    
    ;WITH A AS(                    
    SELECT  CastingName AS NAME,'NOS' AS UOM 
			FROM dbo.CastingMaster
			INNER JOIN CastingCompanyMapping ON  CastingCompanyMapping.CastingId = CastingMaster.CastingId   
			WHERE IsDeleted=0  
			and CastingCompanyMapping.CompanyId = @EntityID  
    UNION                    
    SELECT  CastingCode AS NAME,'NOS' AS UOM
			FROM dbo.CastingMaster
			INNER JOIN CastingCompanyMapping ON  CastingCompanyMapping.CastingId = CastingMaster.CastingId
			WHERE IsDeleted=0 
			and CastingCompanyMapping.CompanyId = @EntityID  
    UNION                     
    SELECT ItemName AS Name,UOM AS UOM 
			FROM dbo.PurchaseItemMaster PIM 
			INNER JOIN dbo.UOMMaster UM ON UM.UOMid=PIM.UnitOfMeasure 
			INNER JOIN PurchaseCompanyMapping ON  PurchaseCompanyMapping.PurchaseItemId  = PIM.PurchaseItemId 
			WHERE PIM.IsPattern = 0 and PIM.IsDeleted=0 AND UM.IsDeleted=0   and IsPatternDummy = 0      
			and PurchaseCompanyMapping.CompanyId = @EntityID 
    UNION                    
    SELECT ItemCode as PatternCode,'NOS' 
			FROM dbo.PurchaseItemMaster 
			INNER JOIN PurchaseCompanyMapping ON  PurchaseCompanyMapping.PurchaseItemId  = PurchaseItemMaster.PurchaseItemId 
			WHERE IsDeleted=0  and IsPattern = 1  and IsPatternDummy = 0    
			and PurchaseCompanyMapping.CompanyId = @EntityID 
    --UNION                     
    --SELECT DieName,'NOS' FROM dbo.DieMaster WHERE IsDeleted=0    
    --UNION                     
    --SELECT DieCode,'NOS' FROM dbo.DieMaster WHERE IsDeleted=0    
    UNION                     
    SELECT ItemName,'NOS' 
			FROM dbo.PurchaseItemMaster 
			INNER JOIN PurchaseCompanyMapping ON  PurchaseCompanyMapping.PurchaseItemId  = PurchaseItemMaster.PurchaseItemId 
			WHERE IsDeleted=0  AND IsEquipment = 1
			and PurchaseCompanyMapping.CompanyId = @EntityID 
    UNION                     
    SELECT ItemCode,'NOS' 
			FROM dbo.PurchaseItemMaster
			INNER JOIN PurchaseCompanyMapping ON  PurchaseCompanyMapping.PurchaseItemId  = PurchaseItemMaster.PurchaseItemId 
			WHERE IsDeleted=0    AND IsEquipment = 1
			and PurchaseCompanyMapping.CompanyId = @EntityID 
    UNION                     
    SELECT CoreMasterName,'NOS' 
			FROM dbo.CoreBoxMaster 			
			WHERE IsDelete=0 
			and EntityId = @EntityID
    )                    
                        
    SELECT DISTINCT Name,UOM FROM A                     
 END             
 -- Insert Gate in details                    
 ELSE IF @parameter=4               
 BEGIN                    
  BEGIN TRANSACTION                                 
  BEGIN TRY 
                      
  SET @GateInMasterID = NEWID()                    
  SET @GateInID = (SELECT (isnull(MAX(GateInID),0)+ 1) FROM GateInMaster WHERE InOrOutType=@InOrOutType)     
  SET @SupplierName = (SELECT TOP 1 CustomerId from dbo.CustomerMaster WHERE CustomerName = @PartyName)  

  INSERT INTO GateInMaster                    
  (                    
   GateInMasterID,                    
   GateInID,                    
   EntryNo,                    
   GateInNo,                    
   GateNo,                    
   GateInDate,                               
   [Time],                    
   SupplierName,                    
   ReferenceNo,                    
   LRNo,                    
   LRDate,                    
   VehicleNo,                    
   TransportORPerson,                    
   Remark,                    
   CreatedBy,                    
   CreatedOn,                    
   ModifiedBy,                    
   ModifiedOn,                    
   DeletedOn,                    
   DeletedBy,                    
   EntityID,                    
   PlantId ,            
   InOrOutType ,  
   PartyName        ,
   TransporterName,
   VoucherType,
   WeightSlipNo,	
   GrossWt,	
   TareWt,	
   NetWt          
  )                    
  VALUES(                    
   @GateInMasterID,                    
   @GateInID,                    
   @EntryNo,                    
   @GateInNo,                    
   @GateNo,                    
   @GateInDate,                                 
   @Time,                    
   @SupplierName,                    
   @ReferenceNo,                    
   @LRNo,                    
   @LRDate,                    
   @VehicleNo,                    
   @TransportORPerson,                    
   @Remark,                    
   @CreatedBy,                    
   GetDate(),                    
   @ModifiedBy,                    
   @ModifiedOn,                    
   @DeletedOn,                    
   @DeletedBy,                    
   @EntityID,                    
   @PlantIdString ,            
   @InOrOutType,  
   @PartyName  ,
   @TransporterName,
   @VoucherType,
   @WeightSlipNo,	
   @GrossWt,	
   @TareWt,	
   @NetWt                 
  )                     
                      
             
         
                                           
            DECLARE ItemDetail CURSOR                                            
            FOR                                            
                SELECT  Node.value('(ItemName )[1]', 'nvarchar(200)') AS 'ItemName' ,                                            
                        Node.value('(Qty )[1]', 'decimal(18,2)') AS 'Qty' ,                                            
                        Node.value('(UOM )[1]', 'varchar(100)') AS 'UOM'  ,
                        Node.value('(OrderTransID )[1]', 'varchar(100)') AS 'OrderTransID',
                        Node.value('(PONo )[1]', 'varchar(100)') AS 'PONo'                   
                                         
                FROM    @DTItemDetails.nodes('/DocumentElement/DTItemDetails')                                            
                        AS TEMPXML ( Node )                                             
            OPEN ItemDetail;                                    
                                            
            FETCH NEXT FROM ItemDetail INTO @ItemName, @Qty, @UOM ,@OrderTransId,@AgainstourDoc                   
                                
            WHILE ( @@FETCH_STATUS = 0 )                                            
            BEGIN                       
        
    INSERT INTO GateInTrans                    
    (                    
     GateInTransID,                    
     GateInMasterID,                    
     ItemName,                    
     Qty,                    
     UOM,
     OrderTransId,
     AgainstourDoc                    
    )                    
    VALUES                    
    (            
     NEWID(),                    
     @GateInMasterID,                    
     @ItemName,                     
     @Qty,                     
     @UOM,
     @OrderTransId,
     @AgainstourDoc                    
    ) 
                     
                                    
                FETCH NEXT FROM ItemDetail INTO @ItemName, @Qty, @UOM ,@OrderTransId,@AgainstourDoc                   
            END                    
CLOSE ItemDetail;                                            
            DEALLOCATE ItemDetail;                                             
            
			END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  IF CURSOR_STATUS('global','ItemDetail') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','ItemDetail') > -1
				   BEGIN
					CLOSE ItemDetail
				   END
				 DEALLOCATE ItemDetail
				END	
			 return -1
			END	
        END Catch                                          
            COMMIT TRANSACTION                                            
            RETURN 1                                                          
 END                    
  -- Return Gate In Data                    
        
 -- Get GateInMasterID wise Data                  
  ELSE IF @parameter=7                    
 BEGIN                    
  SELECT         
                    
    GateInMasterID,                    
    GateInID,                    
    EntryNo,                    
    GateInNo,                    
    GateNo,                    
    GateInDate,                    
    --EntryDate,                    
    Time,                    
    SupplierName as SupplierID,                    
    PartyName CustomerName,                  
    ReferenceNo,                    
    LRNo,                    
    LRDate,                    
    VehicleNo,                    
    TransportORPerson,                    
    Remark,                    
    GM.CreatedBy,                    
    GM.CreatedOn,                 
    GM.ModifiedBy,                    
    GM.ModifiedOn,                    
    GM.DeletedOn,                    
    GM.DeletedBy,                    
    GM.EntityID,                    
    PlantId,
    TransporterName,
    VoucherType,
    WeightSlipNo,	
    GrossWt,	
    TareWt,	
    NetWt
                   
   FROM                      
   GateInMaster GM                  
   LEFT JOIN dbo.CustomerMaster CM ON CM.CustomerId=GM.SupplierName                  
   WHERE GM.EntityID=@EntityID AND GM.IsDeleted=0 AND GateInMasterID=@GateInMasterID                  
                     
   SELECT                   
   ROW_NUMBER() OVER ( ORDER BY GateInTransID DESC ) AS RowNos ,                  
  GateInTransID,                  
  GateInTrans.GateInMasterID,                  
  ItemName,                  
  Qty,                  
  UOM,                  
  1 IsDelete ,
  AgainstourDoc  as PONo,
  GateInTrans.OrderTransId as PurchaseOrderTransId,
  GateInMaster.InOrOutType
                                                  
    FROM 
    dbo.GateInTrans
    inner join GateInMaster ON GateInMaster.GateInMasterID = GateInTrans.GateInMasterID               
    WHERE GateInTrans.IsDeleted=0 
    AND 
    GateInTrans.GateInMasterID=@GateInMasterID                  
                   
 END                   
                   
  -- Update Gate in details                    
 ELSE IF @parameter=8                  
 BEGIN                    
  BEGIN TRANSACTION                                
  BEGIN TRY                             
 SET @SupplierName = (SELECT TOP 1 CustomerId from dbo.CustomerMaster WHERE CustomerName = @PartyName)     
   
 update GateInMaster                    
 set                  
              
   GateNo=@GateNo,                    
   GateInDate=@GateInDate,                               
   Time=@Time,                    
   SupplierName=@SupplierName,                     
   ReferenceNo=@ReferenceNo,                    
   LRNo=@LRNo,                    
   LRDate=@LRDate,                    
   VehicleNo=@VehicleNo,                    
   TransportORPerson=@TransportORPerson,                    
   Remark=@Remark,                     
   ModifiedBy=   @CreatedBy,                     
   ModifiedOn=GetDate(),  
   PartyName=@PartyName          ,
   TransporterName=@TransporterName, 
   VoucherType=@VoucherType ,
   WeightSlipNo = @WeightSlipNo,	
   GrossWt = @GrossWt,	
   TareWt = @TareWt,	
   NetWt = @NetWt   
   WHERE GateInMasterID= @GateInMasterID                  
                   
                                     
   -- delete data                  
     DECLARE DeleteItemDetail CURSOR                                            
            FOR                                            
                SELECT  Node.value('(GateInTransID )[1]', 'UNIQUEIDENTIFIER') AS 'GateInTransID'                     
                                         
                FROM    @DeletedItems.nodes('/DocumentElement/DeletedItems')                                            
                        AS TEMPXML ( Node )                                             
            OPEN DeleteItemDetail;                                    
                                            
            FETCH NEXT FROM DeleteItemDetail INTO @GateInTransID                   
                                
            WHILE ( @@FETCH_STATUS = 0 )                         
            BEGIN                       
                      
    UPDATE dbo.GateInTrans                  
    SET IsDeleted=1                  
    WHERE GateInTransID=@GateInTransID                  
                  
                FETCH NEXT FROM DeleteItemDetail INTO @GateInTransID                   
            END                    
            CLOSE DeleteItemDetail;       
            DEALLOCATE DeleteItemDetail;                                
   -- Delete Done  
   
   --DECLARE  @OrderTransId UNIQUEIDENTIFIER, @OrderId UNIQUEIDENTIFIER
                   
            -- Insert GateInTrans                  
            DECLARE ItemDetail CURSOR                                            
            FOR                                            
                SELECT  Node.value('(ItemName )[1]', 'nvarchar(200)') AS 'ItemName' ,                                            
                        Node.value('(Qty )[1]', 'decimal(18,2)') AS 'Qty' ,                                            
                        Node.value('(UOM )[1]', 'varchar(100)') AS 'UOM',                  
                        Node.value('(GateInTransID )[1]', 'UNIQUEIDENTIFIER') AS 'GateInTransID', 
                        Node.value('(OrderTransID )[1]', 'varchar(100)') AS 'OrderTransID',
                        Node.value('(PONo )[1]', 'varchar(100)') AS 'PONo'                    
                                         
                FROM    @DTItemDetails.nodes('/DocumentElement/DTItemDetails')                                            
                        AS TEMPXML ( Node )                                             
            OPEN ItemDetail;                                    
                                            
       FETCH NEXT FROM ItemDetail INTO @ItemName, @Qty, @UOM,@GateInTransID,@OrderTransId,@AgainstourDoc                   
                                
            WHILE ( @@FETCH_STATUS = 0 )                                            
            BEGIN                       
                      
                      
   IF (CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))=@GateInTransID                  
   BEGIN                  
    SELECT @GateInTransID= NEWID()                    
    INSERT INTO GateInTrans                    
    (                    
     GateInTransID,                    
     GateInMasterID,                    
     ItemName,                    
     Qty,                    
     UOM,
     OrderTransId,
     AgainstourDoc                    
)                    
    VALUES                    
    (                    
     @GateInTransID,                    
     @GateInMasterID,                    
     @ItemName,                     
     @Qty,                     
     @UOM,
     @OrderTransId,
     @AgainstourDoc                    
    )                    
                        
   END                  
   ELSE                  
   BEGIN                  
                     
    UPDATE dbo.GateInTrans                  
    SET                  
     ItemName=@ItemName,                    
     Qty=@Qty,                    
     UOM=@UOM,
     OrderTransId = @OrderTransId,
     AgainstourDoc  = @AgainstourDoc                  
     WHERE GateInTransID= @GateInTransID                   
   END                   
                      
                   
                                    
                FETCH NEXT FROM ItemDetail INTO @ItemName, @Qty, @UOM ,@GateInTransID,@OrderTransId,@AgainstourDoc                    
            END                    
            CLOSE ItemDetail;                                            
            DEALLOCATE ItemDetail;                    
            --Done Insert In TransTable                                           
                  
			END Try 
				BEGIN CAtch
					IF @@ERROR <> 0
					BEGIN
					 ROLLBACK TRANSACTION
					  IF CURSOR_STATUS('global','DeleteItemDetail') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','DeleteItemDetail') > -1
				   BEGIN
					CLOSE DeleteItemDetail
				   END
				 DEALLOCATE DeleteItemDetail
				END	
			IF CURSOR_STATUS('global','ItemDetail') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','ItemDetail') > -1
				   BEGIN
					CLOSE ItemDetail
				   END
				 DEALLOCATE ItemDetail
				END	
					 return -1
					END	
				END Catch                                  
            COMMIT TRANSACTION                                            
            RETURN 1                              
 END                    
 -- delete Gate In Trans                  
 ELSE IF @parameter=9                  
  BEGIN                  
  BEGIN TRANSACTION                
  BEGIN TRY 
                  
  UPDATE dbo.GateInMaster                
  SET IsDeleted=1,
  DeletedBy=@DeletedBy,
  DeletedOn = GetDate()                  
  WHERE GateInMasterID=@GateInMasterID                  
                  
                    
                     
     UPDATE dbo.GateInTrans                
  SET IsDeleted=1            
  WHERE GateInMasterID=@GateInMasterID                  
                           
        	END Try 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  
			 return -1
			END	
        END Catch          
  COMMIT TRANSACTION                
  RETURN 1        
 END        
       
 ELSE IF @parameter=10      
 BEGIN      
 select       
  GateInMasterID,      
  GateInID,      
  EntryNo,      
  GateInNo,      
  GateNo,      
 GateName as  DisplayName,      
  GateInDate,      
  Time,      
  SupplierName,      
  PartyName CustomerName,      
  ReferenceNo,      
  LRNo,      
  LRDate,      
  VehicleNo,      
  TransportORPerson,      
  Remark,      
  GM.CreatedBy,      
  GM.CreatedOn,      
  GM.ModifiedBy,      
  GM.ModifiedOn,      
  GM.IsDeleted,      
  GM.DeletedOn,      
  GM.DeletedBy,      
  GM.EntityID,      
  PlantId,      
  InOrOutType,
  TransporterName,
  VoucherType,
  WeightSlipNo,	
  GrossWt,	
  TareWt,	
  NetWt  
 from       
  GateInMaster GM      
 LEFT JOIN       
  dbo.CustomerMaster CM       
 ON       
  CM.CustomerId=SupplierName      
 --INNER JOIN       
 -- dbo.CommonData_Master CDM ON CDM.CommonDataId=GM.GateNo           
 LEFT JOIN dbo.GateMaster CDM ON CDM.GateId=GM.GateNo        
 WHERE       
  GateInMasterID=@GateInMasterId      
 END      
       
 ELSE IF @parameter=11      
 BEGIN      
 SELECT 
       [GateInTransID]
      ,[GateInMasterID]
      ,[ItemName]
      ,[Qty]
      ,[UOM]
      ,[AgainstourDoc] AS PONo

 FROM      
  GateInTrans    
 WHERE      
  GateInTrans.IsDeleted=0 AND      
  GateInTrans.GateInMasterID=@GateInMasterId      
 END     
   
	ELSE IF @parameter=12      
	BEGIN      
		SELECT	DISTINCT PartyName AS SupplierName,PartyName 
		FROM    GateInMaster      
		WHERE   IsDeleted=0 
				AND InOrOutType=@InOrOutType    
  AND (PartyName <> '' OR PartyName IS NOT NULL)    
 END      
   
 ELSE IF @parameter = 13  
 BEGIN  
  SELECT                  
   GateInNo,                            
   (convert(varchar, GateInDate, 6))  GateInDate,   
   (convert(varchar, Time, 8)) Times ,                                                
   PartyName,    
   CDM.DisplayName AS GateNo,                                
   LrNo ,  
   (convert(varchar, LRDate, 6)) LRDate ,                  
   VehicleNo ,                    
   TransportORPerson AS Transport,   
   Remark ,  
   ItemName ,  
   Qty ,  
   UOM ,  
   ReferenceNo  
  FROM    GateInMaster GM  
   INNER JOIN GateInTrans GT  ON GM.GateInMasterID = GT.GateInMasterID  
   LEFT JOIN dbo.CustomerMaster CM ON CM.CustomerId=GM.SupplierName    
   LEFT JOIN dbo.CommonData_Master CDM ON CDM.CommonDataId=GM.GateNo               
  WHERE GM.EntityID=@EntityID   
   AND GM.IsDeleted=0   
   AND GT.IsDeleted = 0                
   AND ( @PartyName IS NULL OR PartyName = @PartyName )  
   AND ( @GateNo =0 OR GateNo = @GateNo )              
   AND InOrOutType = @InOrOutType  
AND Cast(GM.GateInDate as DATE) between @FromDate and @ToDate   
 END            
     
 ELSE IF @parameter = 14  
 BEGIN  
	  SELECT  GateInMasterID,
			  GateInNo,
			  Customerflag
	      FROM  GateInMaster GM  
		  inner join CustomerMaster on GM.SupplierName = CustomerMaster.CustomerId
	  WHERE GM.EntityID=@EntityID   
	   AND GM.IsDeleted=0   
	   AND InOrOutType = 0  
	   AND Cast(GM.GateInDate as DATE) between @FromDate and @ToDate 
	   AND ( @PartyName IS NULL OR PartyName = @PartyName )    
	   AND ( @CustomerFlag IS NULL OR CustomerFlag = @CustomerFlag )    
 END            
      ELSE IF @parameter = 15  
 BEGIN  
	  SELECT    GateInMaster.*,              
				Customerflag
	      FROM  GateInMaster   
		  inner join CustomerMaster on GateInMaster.SupplierName = CustomerMaster.CustomerId
	  WHERE  GateInMasterID=@GateInMasterId      
 END      
 
    ELSE IF @parameter = 16  
 BEGIN
	 BEGIN TRANSACTION  
		 INSERT INTO [GateMaster]
			   ([GateName]
			   ,[CreatedBy]
			   ,[CreatedOn]
			   ,[IsDeleted]           
			   ,[EntityId])
		 VALUES
			   (@DisplayName,
				@CreatedBy
			   ,GETDATE()
			   ,0
			   ,@EntityID) 
				IF @@Error <> 0                                      
	  ROLLBACK TRANSACTION   
		  COMMIT TRANSACTION                                      
				RETURN 1   
 END    
     ELSE IF @parameter = 17  
 BEGIN
	 BEGIN TRANSACTION  
			UPDATE [dbo].[GateMaster]
		   SET [GateName] = @DisplayName			
			  ,[ModifiedBy] = @ModifiedBy
			  ,[ModifiedOn] = GETDATE()			  
		 WHERE GateId = @GateId
		 and EntityId = @EntityID
				IF @@Error <> 0                                      
	  ROLLBACK TRANSACTION   
		  COMMIT TRANSACTION                                      
				RETURN 1   
 END  

 ELSE IF ( @parameter = 18)  
 BEGIN  
   
	  BEGIN TRANSACTION  
   
	   UPDATE [GateMaster]            
	   SET IsDeleted=1 ,
			DeletedOn = GETDATE(),
			DeletedBy = @DeletedBy
	   WHERE GateId = @GateId 
	    and EntityId = @EntityID
     
		 IF @@Error <> 0                                      
	  ROLLBACK TRANSACTION   
		  COMMIT TRANSACTION                                      
				RETURN 1      
 END 

	ELSE IF ( @parameter = 19)  
 BEGIN  
   
	 SELECT [GateId] as CommonDataId
      ,[GateName]  as DisplayName   
	  FROM [GateMaster]    
	   WHERE  EntityId = @EntityID
	    and (@GateId = 0 or GateId = @GateId)
	   and Isdeleted = 0 
 
 END 
	 ELSE IF ( @parameter = 20)  
 BEGIN  
		SELECT top 1 GateInMasterID  FROM    RawMaterialInward   WHERE   GateInMasterID = @GateInMasterID AND EntityId = @EntityID  AND IsDeleted = 0 
		union All
		SELECT top 1 GateInMasterID  FROM    CustomerReturnMaster   WHERE   GateInMasterID = @GateInMasterID AND EntityId = @EntityID    
		union All
		SELECT top 1 GateInMasterID  FROM    MoldInward   WHERE   GateInMasterID = @GateInMasterID AND EntityId = @EntityID  AND IsDeleted = 0  
		union All
		SELECT top 1 GateInMasterID  FROM    CoreInward   WHERE   GateInMasterID = @GateInMasterID AND EntityId = @EntityID  AND IsDeleted = 0  
		union All
		SELECT top 1 GateInMasterID  FROM    JobReturnMaster   WHERE   GateInMasterID = @GateInMasterID AND EntityId = @EntityID  AND IsDeleted = 0  

	
 
	END 	 
	
END
 
GO
