USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[HeatCode_PouringRegister]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================          
-- Author:  <Author,,Name>          
-- Create date: <Create Date,,>          
-- Description: <Description,,>          
-- =============================================          
CREATE PROCEDURE [dbo].[HeatCode_PouringRegister]
    @EntityID INT = 0 ,          
	@FromDate DATETIME = NULL , 
	@ToDate DATETIME = NULL,
	@CastingId UNIQUEIDENTIFIER = NULL,
	@IsPouring BIT = 0
AS          
    BEGIN          
    
		SET NOCOUNT ON;          
		
		---- sp Production Parameter  69
			SELECT	DISTINCT CastingHeatCode.HeatCode AS heatCode
			FROM	ProductionBatch
			INNER JOIN knockout ON knockout.batchid = ProductionBatch.batchID  
			INNER JOIN CastingHeatCode ON knockout.batchid = CastingHeatCode.ProductionBatchID                                    
                                                  AND knockout.castingid = CastingHeatCode.CastingID
												  AND CastingHeatCode.HeatCode<>''
			WHERE	ProductionBatch.IsDeleted = 0 and (@Castingid is null or knockout.castingid=@Castingid)
					AND cast(productiondate as date) Between cast(@FromDate as date) and cast(@ToDate as date)
					AND ProductionBatch.EntityID = @EntityId
					AND ((@IsPouring = 1 and ProductionBatch.IsPouring = 1) OR @IsPouring = 0)
END 
GO
