USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Process_Perform]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Yashvi>
-- Create date: <23 OCTOBER 2017 >
-- Description:	<This Procedure is used for ProcessPerformRegister>
-- =============================================
CREATE PROCEDURE [dbo].[Process_Perform]
    @Parameter INT = 0 ,
    @castingID UNIQUEIDENTIFIER = NULL ,
    @MetalID BIGINT = 0 ,
    @ProcessID UNIQUEIDENTIFIER = NULL ,
    @OperatorID INT = 0 ,
    @PageNumber INT = 0 ,
    @PageSize INT = 0 ,
    @InitialLoad INT = 0 ,
    @DateFrom DATETIME = NULL ,
    @DateTo DATETIME = NULL ,
    @TotalRecords BIGINT = 0 ,
    @ProcessPerformID UNIQUEIDENTIFIER = NULL ,
    @CastingName VARCHAR(MAX) = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0,
    @IsRework INT = 0,
	@IsLoadForging  int =1,
    @HeatID  varchar(500) = NULL,
    @ProcessPerformBreakupID uniqueidentifier = null,
    @IsMachineShop bit = 0,
	@MachineShopType INT = 0
AS
    BEGIN
	 --select * from ProcessMaster WHERE IsMachineShop=1
        IF @Parameter = 1 -- This is used to fetch Process Name 
            BEGIN
	 --if @IsMachineShop=0
	 --BEGIN
                SELECT DISTINCT
                        ProcessMaster.ProcessName ,
                        ProcessMaster.ProcessID AS ProcessID
                FROM    
				--ProcessPerformMaster
                        --INNER JOIN 
						ProcessMaster -- ON ProcessMaster.ProcessId = ProcessPerformMaster.ProcessID
                WHERE    
				
						--( @PlantIdString IS NULL
      --                    OR @PlantIdString = ''
      --                    OR ProcessPerformMaster.CastingId IN (
      --                    SELECT    CastingId
      --                    FROM      dbo.PlantCastingMapping
      --                              INNER JOIN dbo.SplitString(@PlantIdString,
      --                                                        ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
      --                  )
                        --AND 
						--ProcessMaster.EntityID = @EntityId
                        --AND 
						(ProcessMaster.IsMachineShop=0 or ProcessMaster.MachineShopType = 1)
						ANd ProcessMaster.IsDeleted = 0
						ANd ProcessMaster.AutoProcess = 0
						--AND ( @MachineShopType = 0 OR (@MachineShopType = 1 and ProcessMaster.IsMachineShop = 1 and ProcessMaster.MachineShopType = 1))
                     
                --     END
                --     ELSE
                     
                --     SELECT DISTINCT
                --        ProcessMaster.ProcessName ,
                --        ProcessPerformMaster.ProcessID AS ProcessID
                --FROM    ProcessPerformMaster
                --        INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = ProcessPerformMaster.ProcessID
                --WHERE     ( @PlantIdString IS NULL
                --          OR @PlantIdString = ''
                --          OR ProcessPerformMaster.CastingId IN (
                --          SELECT    CastingId
                --          FROM      dbo.PlantCastingMapping
                --                    INNER JOIN dbo.SplitString(@PlantIdString,
                --                                              ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                --        )
                --        AND ProcessPerformMaster.EntityID = @EntityId
                --        AND ProcessMaster.IsMachineShop=@IsMachineShop
                
                        
                       
            END
    
       -- IF @Parameter = 2
       --     BEGIN
    
       --         BEGIN
       --             IF @InitialLoad = 1
       --                 BEGIN
       --                             SELECT    * FROM    ( 
       --            SELECT TOP ( @PageSize )  ROW_NUMBER() OVER (ORDER BY  FullDate DESC) AS RowNo , *
       --           FROM ( SELECT  DISTINCT
									  
       --                                         ProcessPerformMaster.ProcessPerformID ,
       --                                         CastingName ,
       --                                         CastingCode ,
       --                                         ProcessPerformMaster.CastingWeight ,
       --                                         Metalname ,
       --                                         CONVERT(VARCHAR(11), ProcessPerformMaster.ProcessPerformDate, 106) AS [ProcessPerformDate] ,
       --                                         CONVERT(VARCHAR(15), ProcessPerformMaster.StartTime, 100) StartTime ,
       --                                         CONVERT(VARCHAR(15), ProcessPerformMaster.EndTime, 100) EndTime ,
       --                                         ProcessMaster.ProcessName AS [PerformProcess] ,
       --                                         ProcessPerformMaster.ProcessQty ,
       --                                         EmployeeDetails.EmployeeName AS OperatorName,
       --                                         ProcessPerformMaster.FromProcessId,
       --                                         ProcessPerformMaster.ProcessID,
       --                                         PatternMaster.PatternCode as DieCode,
       --                                         PatternMaster.DieName ,
       --                                          ProcessPerformMaster.ProcessPerformDate as FullDate
       --                               FROM      ProcessPerformMaster
       --                                         LEFT JOIN dbo.EmployeeDetails ON ProcessPerformMaster.ContractorID = EmployeeDetails.EmployeeId
       --                                         LEFT JOIN ToolLifeDetail ON ToolLifeDetail.ToolLifeDetailID =ProcessPerformMaster.ToolLifeDetailID and ToolLifeDetail.IsDeleted = 0  
       --                                         LEFT JOIN PatternMaster ON PatternMaster.PatternId = ToolLifeDetail.ItemId --and IsPatDieWax = 3 
       --                 --                        LEFT JOIN ProcessPerformBreakup ON ProcessPerformBreakup.ProcessPerformID = ProcessPerformMaster.ProcessPerformID and ProcessPerformBreakup.BatchStock > 0 
       --                 --                         left JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.CastingID = dbo.ProcessPerformMaster.CastingID 
							--																	--and CastingStockBatch.MetalID = ProcessPerformMaster.MetalID and CastingStockBatch.ProcessID = ProcessPerformMaster.ProcessID 
							--																	--and  dbo.CastingStockBatch.productionbatchID = dbo.ProcessPerformBreakup.batchID 
							--					INNER JOIN ProcessPerformBreakup ON ProcessPerformBreakup.ProcessPerformID = ProcessPerformMaster.ProcessPerformID
							--					INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.ProcessPerformBreakup.batchID
							--					INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
							--					LEFT JOIN CastingHeatCode ON CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeID
							--											AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
							--											And CastingHeatCode.CastingID = CastingStockBatch.CastingID 
       --                                          ,
       --                                         CastingMaster ,
       --                                         MetalMaster ,
       --                                         ProcessMaster
       --                               WHERE     ProcessPerformMaster.CastingID = CastingMaster.CastingId
       --                                         AND ProcessPerformMaster.MetalID = MetalMaster.MetalId
       --                                         AND ProcessPerformMaster.ProcessID = ProcessMaster.ProcessId
       --                                         AND ProcessQty > 0
       --                                         AND ( @castingID IS NULL
       --                                               OR ProcessPerformMaster.CastingID = @castingID
       --                                             )
       --                                         AND ( @CastingName IS NULL
       --                                               OR CastingName = @CastingName
       --                                             )
       --                                         AND ( @MetalID = 0
       --                                               OR ProcessPerformMaster.MetalID = @MetalID
       --                                             )
       --                                         AND ( ProcessPerformMaster.ProcessPerformDate BETWEEN @DateFrom
       --                                                       AND
       --                                                       @DateTo )
       --                                         AND ( @ProcessID IS NULL
       --                                               OR ProcessPerformMaster.ProcessID = @ProcessID
       --                                             )
       --                                         AND ( @OperatorID = 0
       --                                               OR ProcessPerformMaster.ContractorID = @OperatorID
       --                                             )
       --                                         AND ProcessPerformMaster.IsDeleted = 0
       --                                         AND ( @PlantIdString IS NULL
       --                                               OR @PlantIdString = ''
       --                                               OR ProcessPerformMaster.CastingId IN (
       --                                               SELECT  CastingId
       --                                               FROM    dbo.PlantCastingMapping
       --                                                       INNER JOIN dbo.SplitString(@PlantIdString,
       --                                                       ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
       --                                             )
       --                                         AND ProcessPerformMaster.EntityID = @EntityId
       --                                         AND ProcessPerformMaster.IsRework = @IsRework
												
       --                                         AND ((@IsLoadForging   = 0 or  ProcessPerformMaster.ToolLifeDetailID is not null) and
       --                                         (@IsLoadForging   = 1 or  ProcessPerformMaster.ToolLifeDetailID is null) ) 
       --                                       AND (@HeatID is null  or CastingHeatCode.HeatCode = @HeatID) 
       --                           ) AS Final 
       --                     ) AS ProcessPerform
       --             ORDER BY RowNo 
                    
                    
       --                 END					
       --             ELSE
       --                 BEGIN
       --                        SELECT  * FROM    ( 
       --            SELECT ROW_NUMBER() OVER (ORDER BY  FullDate DESC) AS RowNo , *
       --             FROM (
							--		 SELECT    DISTINCT
       --                                         ProcessPerformMaster.ProcessPerformID ,
       --                                         CastingName ,
       --                                         CastingCode ,
       --                                         ProcessPerformMaster.CastingWeight ,
       --                                         Metalname ,
       --                                         CONVERT(VARCHAR(11), ProcessPerformMaster.ProcessPerformDate, 106) AS [ProcessPerformDate] ,
       --                                         CONVERT(VARCHAR(15), ProcessPerformMaster.StartTime, 100) StartTime ,
       --                                         CONVERT(VARCHAR(15), ProcessPerformMaster.EndTime, 100) EndTime ,
       --                                         ProcessMaster.ProcessName AS [PerformProcess] ,
       --                                         ProcessPerformMaster.ProcessQty ,
       --                                         EmployeeDetails.EmployeeName AS OperatorName,
       --                                         ProcessPerformMaster.FromProcessId,
       --                                         ProcessPerformMaster.ProcessID,
       --                                            PatternMaster.PatternCode as DieCode,
       --                                         PatternMaster.DieName ,
       --                                          ProcessPerformMaster.ProcessPerformDate as FullDate
       --                               FROM      ProcessPerformMaster
       --                                         LEFT JOIN dbo.EmployeeDetails ON ProcessPerformMaster.ContractorID = EmployeeDetails.EmployeeId 
       --                                         LEFT JOIN ToolLifeDetail ON ToolLifeDetail.ToolLifeDetailID =ProcessPerformMaster.ToolLifeDetailID and ToolLifeDetail.IsDeleted = 0  
       --                                         LEFT JOIN PatternMaster ON PatternMaster.PatternId = ToolLifeDetail.ItemId --and IsPatDieWax = 3 
							--					INNER JOIN ProcessPerformBreakup ON ProcessPerformBreakup.ProcessPerformID = ProcessPerformMaster.ProcessPerformID
							--					INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.ProcessPerformBreakup.batchID
							--					INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
							--					LEFT JOIN CastingHeatCode ON CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeID
							--											AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
							--											And CastingHeatCode.CastingID = CastingStockBatch.CastingID 																				 
																								
       --                                   ,
       --                                         CastingMaster ,
       --                                         MetalMaster ,
       --                                         ProcessMaster
       --                               WHERE     ProcessPerformMaster.CastingID = CastingMaster.CastingId
       --                                         AND ProcessPerformMaster.MetalID = MetalMaster.MetalId
       --                                         AND ProcessPerformMaster.ProcessID = ProcessMaster.ProcessId
       --                                         AND ProcessQty > 0
       --                                         AND ( @castingID IS NULL
       --                                               OR ProcessPerformMaster.CastingID = @castingID
       --                                             )
       --                                         AND ( @CastingName IS NULL
       --                                               OR CastingName = @CastingName
       --                                             )
       --                                         AND ( @MetalID = 0
       --                                               OR ProcessPerformMaster.MetalID = @MetalID
       --                                             )
       --                                         AND ( ProcessPerformMaster.ProcessPerformDate BETWEEN @DateFrom
       --                                                       AND
       --                                                       @DateTo )
       --                                         AND ( @ProcessID IS NULL
       --                                               OR ProcessPerformMaster.ProcessID = @ProcessID
       --                                             )
       --                                         AND ( @OperatorID = 0
       --                                               OR ProcessPerformMaster.ContractorID = @OperatorID
       --                                             )
       --                                         AND ProcessPerformMaster.IsDeleted = 0
       --                                           AND ( @PlantIdString IS NULL
       --                                               OR @PlantIdString = ''
       --                                               OR ProcessPerformMaster.CastingId IN (
       --                                               SELECT  CastingId
       --                                               FROM    dbo.PlantCastingMapping
       --                                                       INNER JOIN dbo.SplitString(@PlantIdString,
       --                                                       ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
       --                                             )
       --                                         AND ProcessPerformMaster.EntityID = @EntityId
       --                                         AND ProcessPerformMaster.IsRework = @IsRework 
												
       --                                         AND ((@IsLoadForging   = 0 or  ProcessPerformMaster.ToolLifeDetailID is not null) and
       --                                         (@IsLoadForging   = 1 or  ProcessPerformMaster.ToolLifeDetailID is null) ) 	
       --                                         AND (@HeatID is null   or CastingHeatCode.HeatCode= @HeatID) 
       --                              	) AS Final
							--) AS ProcessPerform
							
       --             WHERE   ProcessPerform.RowNo > ( @PageNumber * @PageSize )
       --             ORDER BY RowNo 				
       --                 END
       --         END
    
       --     END
    
       -- IF @Parameter = 3 --Fetch Total Records
       --     BEGIN
    
       --         SET @TotalRecords = ( SELECT   COUNT(*)
       --                               FROM      (SELECT  distinct 
       --                                         ProcessPerformMaster.ProcessPerformID
       --                                         from 
       --                                         ProcessPerformMaster
       --                                         LEFT JOIN dbo.EmployeeDetails ON ProcessPerformMaster.ContractorID = EmployeeDetails.EmployeeId 
							--					INNER JOIN ProcessPerformBreakup ON ProcessPerformBreakup.ProcessPerformID = ProcessPerformMaster.ProcessPerformID
							--					INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.ProcessPerformBreakup.batchID
							--					INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
							--					LEFT JOIN CastingHeatCode ON CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeID
							--											AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
							--											And CastingHeatCode.CastingID = CastingStockBatch.CastingID 		
       --                                                                     ,
       --                                         CastingMaster ,
       --                                         MetalMaster ,
       --                                         ProcessMaster
       --                               WHERE     ProcessPerformMaster.CastingID = CastingMaster.CastingId
       --                                         AND ProcessPerformMaster.MetalID = MetalMaster.MetalId
       --                                         AND ProcessPerformMaster.ProcessID = ProcessMaster.ProcessId
       --                                         AND ProcessQty > 0
       --                                         AND ( @castingID IS NULL
       --                                               OR ProcessPerformMaster.CastingID = @castingID
       --                                             )
       --                                         AND ( @CastingName IS NULL
       --                                               OR CastingName = @CastingName
       --                                             )
       --                                         AND ( @MetalID = 0
       --                                               OR ProcessPerformMaster.MetalID = @MetalID
       --                                             )
       --                                         AND ( ProcessPerformMaster.ProcessPerformDate BETWEEN @DateFrom
       --                                                       AND
       --                                                       @DateTo )
       --                                         AND ( @ProcessID IS NULL
       --                                               OR ProcessPerformMaster.ProcessID = @ProcessID
       --                                             )
       --                                         AND ( @OperatorID = 0
       --                                               OR ProcessPerformMaster.ContractorID = @OperatorID
       --                                             )
       --                                         AND ProcessPerformMaster.IsDeleted = 0
       --                                           AND ( @PlantIdString IS NULL
       --                                               OR @PlantIdString = ''
       --                                               OR ProcessPerformMaster.CastingId IN (
       --                                               SELECT  CastingId
       --                                               FROM    dbo.PlantCastingMapping
       --                                                       INNER JOIN dbo.SplitString(@PlantIdString,
       --                                                       ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
       --                                             )
       --                                         AND ProcessPerformMaster.EntityID = @EntityId
       --                                         AND ProcessPerformMaster.IsRework = @IsRework
       --                                    --and (@IsLoadForging   = 0 or ProcessPerformMaster.ToolLifeDetailID is not null)	                                              
                                           
       --                                      AND ((@IsLoadForging   = 0 or  ProcessPerformMaster.ToolLifeDetailID is not null) and
       --                                         (@IsLoadForging   = 1 or  ProcessPerformMaster.ToolLifeDetailID is null) ) 	
       --                                            AND (@HeatID is null  or CastingHeatCode.HeatCode= @HeatID) 
       --                                            ) as temp      
       --                             )        
							
							--	-- COMMIT TRANSACTION
       --         RETURN @TotalRecords
    
       --     END
    
        IF @Parameter = 4 -- This is used to fetch ProcessPerform Heat detail
            BEGIN
    
                SELECT  ProcessPerformMaster.ProcessPerformID ,
                        batchno AS HeatNo ,
                        ProcessPerformBreakup.batchID AS CastingStockBatchId ,
                        dbo.ProductionBatch.batchID AS ProductionbatchID ,
                        MetalName ,
                        Cast(ProcessPerformBreakup.BatchStock as varchar(10))
                        + (case when isnull(ProcessPerformBreakup.RejectionQty,0) > 0 then ' (Rej Qty - '+ cast(ProcessPerformBreakup.RejectionQty as varchar(10)) +')'
                        else ' ' end )
                        AS TransferQty ,
                        ProcessMaster.ProcessName ,
                        dbo.ProcessPerformMaster.MetalID ,
                        dbo.ProcessPerformMaster.CastingID ,
                        ProcessPerformBreakup.CastCode ,
                        ProcessPerformBreakup.ID ,
                        CastingHeatCode.HeatCode
                FROM    ProcessPerformMaster
                        INNER JOIN ProcessPerformBreakup ON ProcessPerformBreakup.ProcessPerformID = ProcessPerformMaster.ProcessPerformID
                        INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.ProcessPerformBreakup.batchID
                        INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
                        INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.ProcessPerformMaster.MetalID
                        INNER JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = dbo.ProcessPerformMaster.ProcessID
                        --LEFT JOIN CastingHeatCode ON CastingHeatCode.ProductionBatchID = ProductionBatch.batchID
                        --                             AND CastingHeatCode.CastingID = CastingStockBatch.CastingID
                        LEFT JOIN CastingHeatCode ON CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeID
												AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
												And CastingHeatCode.CastingID = CastingStockBatch.CastingID
                WHERE   ProcessPerformMaster.ProcessPerformID = @ProcessPerformID
                        AND ProcessPerformBreakup.BatchStock > 0
            END
    
    
        --IF @Parameter = 5 --For Download
        --    BEGIN
    
        --        SELECT  ROW_NUMBER() OVER ( PARTITION BY ProcessPerformMaster.ProcessPerformID ORDER BY ProcessPerformMaster.CreatedOn DESC ) AS RowNo ,
        --                CastingName ,
        --                CastingCode ,
        --                Metalname ,
        --                CONVERT(VARCHAR(11), ProcessPerformMaster.ProcessPerformDate, 106) AS [ProcessPerformDate] ,
        --                ProcessMaster.ProcessName AS ProcessPerform ,
        --                ProcessPerformMaster.CastingWeight ,
        --                ProcessPerformMaster.ProcessQty AS ProcessQty ,
        --                ProcessPerformMaster.ProcessPerformID AS ProcessPerformID ,
        --                ProcessPerformMaster.CreatedOn AS createdon ,
        --                batchno AS HeatNo ,
        --                ProcessPerformBreakup.BatchStock AS HeatQty ,
        --                EmployeeDetails.EmployeeName AS OperatorName
        --        FROM    dbo.ProcessPerformMaster
        --                LEFT JOIN dbo.EmployeeDetails ON ProcessPerformMaster.ContractorID = EmployeeDetails.EmployeeId 
        --               ,
        --                CastingMaster ,
        --                MetalMaster ,
        --                ProcessMaster ,
        --                ProcessPerformBreakup ,
        --                CastingStockBatch 
        --                    LEFT JOIN CastingHeatCode ON CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeID
								--				AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
								--				And CastingHeatCode.CastingID = CastingStockBatch.CastingID
								--				,
        --                ProductionBatch
        --        WHERE   ProcessPerformMaster.CastingID = CastingMaster.CastingId
        --                AND ProcessPerformMaster.MetalID = MetalMaster.MetalId
        --                AND ProcessPerformMaster.ProcessID = ProcessMaster.ProcessId
        --                AND ProcessPerformMaster.ProcessQty > 0
        --                AND ProcessPerformBreakup.ProcessPerformID = ProcessPerformMaster.ProcessPerformID
        --                AND CastingStockBatch.Batchid = dbo.ProcessPerformBreakup.batchID
        --                AND ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
        --                AND ProcessPerformBreakup.BatchStock > 0
        --                AND ProcessPerformMaster.IsDeleted = 0
        --                AND ( @castingID IS NULL
        --                      OR ProcessPerformMaster.CastingID = @castingID
        --                    )
        --                AND ( @MetalID = 0
        --                      OR ProcessPerformMaster.MetalID = @MetalID
        --                    )
        --                AND ( ProcessPerformMaster.ProcessPerformDate BETWEEN @DateFrom
        --                                                      AND
        --                                                      @DateTo )
        --                AND ( @ProcessID IS NULL
        --                      OR ProcessPerformMaster.ProcessID = @ProcessID
        --                    )
        --                AND ( @OperatorID = 0
        --                      OR ProcessPerformMaster.ContractorID = @OperatorID
        --                    )
        --                      AND ( @PlantIdString IS NULL
        --                                              OR @PlantIdString = ''
        --                                              OR ProcessPerformMaster.CastingId IN (
        --                                              SELECT  CastingId
        --                                              FROM    dbo.PlantCastingMapping
        --                                                      INNER JOIN dbo.SplitString(@PlantIdString,
        --                                                      ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
        --                                            )
        --                                        AND ProcessPerformMaster.EntityID = @EntityId
        --                AND ProcessPerformMaster.IsRework = @IsRework   
        --              and ((@IsLoadForging   = 0 or  ProcessPerformMaster.ToolLifeDetailID is not null) and
        --              (@IsLoadForging   = 1 or  ProcessPerformMaster.ToolLifeDetailID is null) ) 	
        --              AND (@HeatID is null   or CastingHeatCode.HeatCode = @HeatID) 
        --        ORDER BY     ProcessPerformMaster.ProcessPerformDate DESC
    
        --    END
	
        IF @Parameter = 6 -- This is used to fetch Process Name 
            BEGIN
					
					
                SELECT  ROW_NUMBER() OVER ( ORDER BY ProcessPerformMaster.Createdon DESC ) AS RowNo ,
                        CastingName ,
                        CastingCode ,
                        Metalname ,
                       -- CONVERT(VARCHAR(11), ProcessPerformMaster.ProcessPerformDate, 106) AS ProcessTransferDate ,
                        -- CONVERT(VARCHAR(11), ProcessPerformMaster.ProcessTransferEndDate, 106) AS ProcessTransferEndDate ,
                          convert( varchar(11), DATEADD(day, DATEDIFF(day, 0, CONVERT(VARCHAR(11), ProcessPerformMaster.ProcessPerformDate, 106)),  CONVERT(VARCHAR(15), StartTime, 100)),113)+   stuff( right( convert( varchar(26), DATEADD(day, DATEDIFF(day, 0, CONVERT(VARCHAR(11), ProcessPerformMaster.ProcessPerformDate, 106)),  CONVERT(VARCHAR(15), StartTime, 100)), 109 ), 15 ), 7, 7, ' ' ) AS ProcessTransferDate,
                           convert( varchar(11), DATEADD(day, DATEDIFF(day, 0, CONVERT(VARCHAR(11), ProcessPerformMaster.ProcessPerformEndDate, 106)),  CONVERT(VARCHAR(15), EndTime, 100)),113)+   stuff( right( convert( varchar(26), DATEADD(day, DATEDIFF(day, 0, CONVERT(VARCHAR(11), ProcessPerformMaster.ProcessPerformEndDate, 106)),  CONVERT(VARCHAR(15), EndTime, 100)), 109 ), 15 ), 7, 7, ' ' ) AS ProcessTransferEndDate,
                           --DATEADD(day, DATEDIFF(day, 0, CONVERT(VARCHAR(11), ProcessPerformMaster.ProcessPerformEndDate, 106)),  CONVERT(VARCHAR(15), EndTime, 100))AS ProcessTransferEndDate ,
                         
                         
                       -- CONVERT(VARCHAR(15), StartTime, 100) TransferStartTime ,
                      -- CONVERT(VARCHAR(15), EndTime, 100) TransferEndTime ,
                        ProcessMaster.PRocessName AS TransferTo ,
                        p2.ProcessName AS TransferFrom ,
                        ProcessPerformMaster.ProcessQty AS TransferQty ,
                        ProcessPerformMaster.ProcessPerformID AS ProcessTransferID ,
                        ProcessPerformMaster.CreatedON AS createdon ,
                        ProcessPerformMaster.CreatedBy,
                        ProcessPerformMaster.remarks
                FROM    dbo.ProcessPerformMaster
                        INNER JOIN CastingMaster ON CastingMaster.CastingId = ProcessPerformMaster.CastingID 
								--AND
								-- CastingMaster.CastingId = ProcessPerformMaster.ParentID
                        INNER JOIN MetalMaster ON MetalMaster.MetalId = ProcessPerformMaster.MetalID
                        INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = ProcessPerformMaster.ProcessID
                        INNER JOIN ProcessMaster p2 ON ProcessPerformMaster.FromProcessId = p2.ProcessID
                WHERE   ProcessPerformMaster.ProcessQty > 0
                        AND dbo.ProcessPerformMaster.ProcessPerformID = @ProcessPerformID
								--AND ProcessMaster.AutoFromProcessID is NULL	
							
		   --SELECT    ROW_NUMBER() OVER ( ORDER BY ProcessPerformMaster.Createdon DESC ) AS RowNo ,
					--			CastingName ,
					--			CastingCode ,
					--			Metalname ,
					--		   -- InHouseProcessStockTransfer.ProcessTransferDate,
					--			CONVERT(VARCHAR(11), ProcessPerformMaster.ProcessPerformDate, 106) AS [ProcessTransferDate] ,
					--			CONVERT(VARCHAR(15), StartTime, 100) TransferStartTime ,
					--			CONVERT(VARCHAR(15), EndTime, 100) TransferEndTime ,
					--			ProcessMaster.PRocessName AS TransferTo , 
					--			p2.ProcessName AS TransferFrom ,
					--			ProcessPerformMaster.ProcessQty AS TransferQty ,
					--			ProcessPerformMaster.ProcessPerformID AS ProcessTransferID ,
					--			ProcessPerformMaster.CreatedON AS createdon
					--  FROM      dbo.ProcessPerformMaster ,
					--			CastingMaster ,
					--			MetalMaster ,
					--			ProcessMaster ,
					--			ProcessMaster p2
					--  WHERE     ProcessPerformMaster.CastingID = CastingMaster.CastingId
					--			AND ProcessPerformMaster.MetalID = MetalMaster.MetalId
					--			AND ProcessPerformMaster.ProcessID = ProcessMaster.ProcessId
					--			AND ProcessPerformMaster.FromProcessId = p2.AutoFromProcessID
					--			AND ProcessQty > 0
					--			AND dbo.ProcessPerformMaster.ProcessPerformID = @ProcessPerformID
		                        
		              
		              
                SELECT  batchno AS HeatNo ,
                        Cast(ProcessPerformBreakup.BatchStock as varchar(10))
                        + (case when isnull(ProcessPerformBreakup.RejectionQty,0) > 0 then '	 (Rej Qty - '+ cast(ProcessPerformBreakup.RejectionQty as varchar(10))+')'
                        else ' ' end ) AS TransferQty ,
                        HeatCode
                FROM    dbo.ProcessPerformMaster
                        INNER JOIN dbo.ProcessPerformBreakup ON dbo.ProcessPerformBreakup.ProcessPerformID = dbo.ProcessPerformMaster.ProcessPerformID
                        INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.ProcessPerformBreakup.batchID
                        INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
                        Left join CastingHeatCode On CastingHeatCode.HeatCodeID=CastingStockBatch.HeatCodeID
												AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
												And CastingHeatCode.CastingID = CastingStockBatch.CastingID								
                        --LEFT JOIN CastingHeatCode ON ProductionBatch.batchID = CastingHeatCode.ProductionBatchID
                        --                             AND ProcessPerformMaster.CastingID = CastingHeatCode.CastingID
							  --  INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = dbo.InHouseProcessStockTransfer.MetalID
							 --   INNER JOIN dbo.ProcessMaster ON dbo.ProcessMaster.ProcessId = dbo.InHouseProcessStockTransfer.TransferFromProcessID
                WHERE   dbo.ProcessPerformMaster.ProcessPerformID = @ProcessPerformID
                        AND ProcessPerformBreakup.BatchStock > 0
                         	
                ORDER BY batchno,HeatCode								
            END
    
	 IF @Parameter = 7 -- This is used to fetch Process Name 
            BEGIN
			select distinct ProcessPerformMaster.*,ProcessPerformBreakup.batchID,ProcessPerformBreakup.BatchStock
					,MetalMaster.MetalName,ProcessMaster.ProcessName,CastingMaster.CastingName,CastingMaster.CastingCode
					,ProductionBatch.batchno as HeatNo, CastingHeatCode.HeatCode	, ToolLifeDetail.ItemId ,ToolLifeDetail.NoofShots ,
					ISNULL(OrderMaster.Prefix,'') + ISNULL(OrderMaster.Separator,'') + OrderMaster.CustomerOrderNo + ISNULL(OrderMaster.Separator,'')
					+Isnull(OrderMaster.Suffix,'') as CustomerOrderNo,
					(Select RejectionMaster.ReasonID , RejectionMaster.RejectQty as Reason From ReasonMaster 
					Inner Join RejectionMaster On RejectionMaster.ReasonId = ReasonMaster.ReasonId
					and RejectionMaster.ProcessPerformBreakupId = ProcessPerformBreakup.ID
					For XML RAW('ReasonXML'),ROOT('DocumentElement'),ELEMENTS) as ReasonWiseXML,CastingStockBatch.BatchStock as Stock,
					(Select top 1 Inhouserejmgnt.Remarks as Remarks From Inhouserejmgnt 
					Inner Join RejectionMaster On RejectionMaster.RejectionID = Inhouserejmgnt.RejectionID
					and RejectionMaster.ProcessPerformBreakupId = ProcessPerformBreakup.ID) as Remarks,
					ProcessPerformMaster.remarks as processremark,
					(Select top 1 RejectionMaster.EmployeeId From ReasonMaster 
					Inner Join RejectionMaster On RejectionMaster.ReasonId = ReasonMaster.ReasonId
					and RejectionMaster.ProcessPerformBreakupId = ProcessPerformBreakup.ID) as OperatorId
					,isnull(CastingMaster.Remarks,'') as CastingRemarks
				 from ProcessPerformMaster 
				left join ToolLifeDetail on  ToolLifeDetail .ToolLifeDetailId = ProcessPerformMaster.ToolLifeDetailId  
				inner join ProcessPerformBreakup on ProcessPerformBreakup.ProcessPerformID =ProcessPerformMaster.ProcessPerformID
				inner join CastingMaster on CastingMaster.CastingId = ProcessPerformMaster.CastingID
				inner join MetalMaster on MetalMaster.MetalId = ProcessPerformMaster.MetalID 
				inner join ProcessMaster on ProcessMaster.ProcessId = ProcessPerformMaster.FromProcessId 
				 INNER JOIN dbo.CastingStockBatch ON dbo.CastingStockBatch.Batchid = dbo.ProcessPerformBreakup.batchID
                        INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.CastingStockBatch.productionbatchID
				left join CastingHeatCode on CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeID
												AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID 
												And CastingHeatCode.CastingID = CastingStockBatch.CastingID
				LEft Join OrderTranse On OrderTranse.OrderTranseId = CastingHeatCode.OrderTranseID
				Left Join OrderMaster On OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
				where ProcessPerformMaster.ProcessPerformID =@ProcessPerformID
				
				 
			end
	IF @Parameter = 8 
		BEGIN
		SELECT	0 as dgvSelect,
				ROW_NUMBER() OVER(Order by RejectionMaster.RejectionID) AS dgvSrNo,
				CastingMaster.CastingName as dgvCastingName,
				CastingMaster.CastingCode as dgvCastingCode,
				MetalName as dgvMetalName,
				MetalMaster.MetalId as dgvMetalId,
				batchno as dgvHeatNo,
				HeatCode as dgvHeatCode,
				RejectionMaster.RejectQty as dgvRejectionQty,
				(RejectionMaster.PendingQty + ProcessPerformMaster.ProcessQty ) as dgvPendingQty,
				ProcessPerformMaster.ProcessQty as dgvTransferQty,
				RejectionMaster.ProcessId As dgvFromProcessId ,
				RejectionMaster.CastingID as dgvCastingID,
				RejectionMaster.PartId as dgvPartId,
				ProcessName as dgvFromProcessName,
				RejectionMaster.RejectionID as dgvRejectionID,
				RejectionMaster.ProductionBatchId as dgvbatchID,
				CastingMetal.CastingNetWeight as dgvCastingWeight,
				RejectionMaster.CastingStockProcessId as dgvCastingStockProcessId,
				RejectionMaster.HeatCodeId as dgvHeatCodeID,
				RejectionMaster.PartId as dgvConvertPartId
		FROM	RejectionMaster
				INNER JOIN ProcessPerformMaster ON ProcessPerformMaster.RejectionID = RejectionMaster.RejectionID
				INNER JOIN CastingMaster On CastingMaster.CastingId = RejectionMaster.PartId
				INNER JOIN ProductionBatch On ProductionBatch.batchID = RejectionMaster.ProductionBatchId
				INNER JOIN MetalMaster On MetalMaster.MetalId = ProductionBatch.MetalID
				Inner Join CastingMetal on CastingMetal.castingID = RejectionMaster.PartId
						and CastingMetal.metalid = ProductionBatch.MetalID
						and CastingMetal.IsDeleted = 0
				LeFT JOIN CastingHeatCode On CastingHeatCode.ProductionBatchID = ProductionBatch.batchid
							AND CastingHeatCode.CastingID = RejectionMaster.CastingID
							AND CastingHeatCode.HeatCodeID = RejectionMaster.HeatCodeId
				Inner JOIN ProcessMaster ON ProcessMaster.ProcessId = RejectionMaster.ProcessId
				 AND ProcessMaster.IsDeleted = 0
		WHERE	ProcessPerformMaster.ProcessPerformID =@ProcessPerformID
		--RejectionMaster.IsRework = 1
		--		AND RejectionMaster.EntityId = @EntityID
		--		AND RejectionMaster.PendingQty > 0
		--		AND RejectionMaster.ReworkProcessID = @ProcessID
				
		END
   
    if @Parameter = 9 -- this query Is used for rejection Qty fetch
    BEGIN
		select ReasonMaster.Reason,RejectionMaster.RejectQty 
		from ProcessPerformBreakup
		Inner Join RejectionMaster On RejectionMaster.ProcessPerformBreakupId = ProcessPerformBreakup.ID
		Inner Join ReasonMaster On ReasonMaster.ReasonID = RejectionMaster.ReasonID
		Where ID = @ProcessPerformBreakupID 
		
    END
   if @Parameter =  10
	BEGIN 
		IF NOT EXISTS (select ProcessType from CastingProcess
		 where CastingId = @CastingId
				and ProcessType = 1 
				and MetalId =@MetalId
				and ProcessID= @ProcessId)
		    RETURN 1
         ELSE
           RETURN 0
		
		
	END
	
 END
GO
