USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[EquipmentRuntimeLossReason_GetData]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[EquipmentRuntimeLossReason_GetData] 
@StartDate Datetime,
@EndDate DatetIme ,
@EquipmentId UNIQUEIDENTIFIER = NULL,
@WorkCenterId int = 0,
@ShiftId int = 0,
@PlantIdString VARCHAR(MAX) = NULL ,
@EntityId int = 0

AS
BEGIN
	
	
	Declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	


--Productive Time
  Create Table  #MSMasterTable (ProcessDate DateTime,ShiftId Int,MachineId UNIQUEIDENTIFIER)
    
    
    
    ;with Cursor1 as
	(	
		Select cast(@startDate as date) as StartDate,
		cast(@endDate as date) as EndDate
	),
	Cursor2 as
	(
		Select StartDate as [date],EndDate from Cursor1
		union all
		Select dateadd(day,1,date) as [date],enddate from Cursor2
		where [date] < EndDate
	)
	
	Insert into #MSMasterTable (ProcessDate,ShiftId,MachineId)
	Select	[DATE],
			EquipProdTime.ShiftId,
			MachineId 
	--INto	#TempProdTime
	from	Cursor2
			Left Join 
			(	select	distinct EquipmentId as MachineId,ShiftId
				from	EquipmentProductivityTime
						Inner Join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId = EquipmentProductivityTime.EquipmentId
				where	PurchaseItemMaster.IfActive = 1
						and PurchaseItemMaster.IsDeleted = 0
						and (@EquipmentId Is null Or EquipmentId = @EquipmentId)
						and (@ShiftId = 0 Or ShiftId = @ShiftId)
						and cast(EquipmentProductivityTime.ApplyDate as date) <= @EndDate
						and (@WorkCenterId = 0 Or EquipmentTypeId = @WorkCenterId)
						and PurchaseItemMaster.EntityID = @EntityId
			)	as EquipProdTime on 1 = 1
			left Join EquipementProductiveReading on EquipementProductiveReading.EquipmentId = EquipProdTime.MachineId
				and EquipementProductiveReading.ShiftId = EquipProdTime.ShiftId
				and EquipementProductiveReading.ProductionDate = Cursor2.[date]
				and EquipementProductiveReading.ProductionDate between @startdate and @endDate
				
	Where	(EquipementProductiveReading.EquipmentId is null Or 
			 DATEDIFF(MINUTE, cast(EquipementProductiveReading.ProductiveTime as Time),0 ) != 0)
			And not exists (select ProcessPerformDate,
									isnull(ShiftId ,0) as ShiftId,
									MachineId          
							from	MSProcessPerformMaster
							Where	ProcessPerformDate between @StartDate and @EndDate
									and MSProcessPerformMaster.IsDeleted = 0
									AND ( @PlantIdString IS NULL              
									OR @PlantIdString = ''              
									OR MSProcessPerformMaster.PlantId in  (SELECT Item FROM @Plant))
									and EntityID = @EntityId
									and ProcessPerformDate = Cursor2.[date]
									and MachineId = EquipProdTime.MachineId
									and ShiftId = EquipProdTime.ShiftId
							union all 
							Select	ProcessPerformDate,
									ShiftId ,
									MachineId
							from	ProcessPerformMaster
							Where	ProcessPerformDate between @StartDate and @EndDate
									and ProcessPerformMaster.IsDeleted = 0 
									and MachineId is not null
									AND ( @PlantIdString IS NULL              
									OR @PlantIdString = ''              
									OR ProcessPerformMaster.PlantId IN ( SELECT Item FROM @Plant ))
									and EntityID = @EntityId 
									and ProcessPerformDate = Cursor2.[date]
									and MachineId = EquipProdTime.MachineId
									and ShiftId = EquipProdTime.ShiftId
							)
					And not exists (Select 1 from EquipmentRuntimeLossReason as a
									Where a.ProcessDate = Cursor2.[date]
										and a.EquipmentId = EquipProdTime.MachineId
										and a.ShiftId = EquipProdTime.ShiftId
										and ISNULL(a.IsDelete,0) = 0)
	OPTION (MAXRECURSION 0)
	
	
	
	
	
	----update EquipementProductiveReading set ProductionDate = '2023-01-24' where EquipementProductiveReadingId = 249
	--select * from EquipementProductiveReading order by ProductionDate desc
	--select * from EquipmentProductivityTime order by ApplyDate desc
	

	
	
	                               SELECT
	                               CAST(0 as bit) as 'Select',
	                               PurchaseItemMaster.ItemName as [Equipemnt Name],
	                               PurchaseItemMaster.ItemCode as [Equipemnt Code],
	                               HRShiftMaster.ShiftName as [Shift],
	                               CONVERT(NVARCHAR(20),MSMaster.ProcessDate,106) as [Date],
	                               PurchaseItemMaster.PurchaseItemId as [EquipmentId],
			                       MSMaster.ShiftId
	                               
	                               from	
	                               #MSMasterTable as [MSMaster]
	                               Inner Join HRShiftMaster On HRShiftMaster.ShiftId = MSMaster.ShiftId
	                               Inner join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId = MSMaster.MachineId
	                               Left Join EquipementProductiveReading on EquipementProductiveReading.EquipmentId = MSMaster.MachineId
				                   and EquipementProductiveReading.ProductionDate = MSMaster.ProcessDate
				                   and EquipementProductiveReading.ShiftId = Msmaster.ShiftId
				                   
				                   --Where
				                   --ProcessDate between @StartDate and @EndDate
									--( @EquipmentId is null or MSMaster.MachineId = @EquipmentId)
									 --and
									--(@WorkCenterId = 0 Or PurchaseItemMaster.EquipmentTypeId = @WorkCenterId)
									 --and
									--(@ShiftId = 0 Or MSMaster.ShiftId = @ShiftId)
									
									Order by MSMaster.ProcessDate
									 
									
	
	Drop Table #MSMasterTable
	
	
									
									   
	
END
GO
