USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CastingSalesTrendChartDrillThrough]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SELECT * FROM dispatchmaster 
--SELECT * FROM dispatchtrans
--SELECT * FROM CastingMaster

-----------------------------------------
--RowNo
--DateField
--DispatchDate(All the dates)
--DispatchQuarter
--DispatchYear
--SalesWeight

CREATE PROCEDURE [dbo].[CastingSalesTrendChartDrillThrough]
    @StartYear INT = 0 ,
    @DispatchMonth VARCHAR(MAX) = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @CastingName VARCHAR(MAX) = NULL ,
    @CustomerID UNIQUEIDENTIFIER = NULL ,
    @CustomerName VARCHAR(MAX) = NULL ,
    @CustomerGroup VARCHAR(MAX) = NULL ,
    @MetalID BIGINT = 0 ,
    @MetalName VARCHAR(MAX) = NULL ,
    @MetalType VARCHAR(MAX) = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
    BEGIN

        DECLARE @StartingMonthForFY INT;
        SET @StartingMonthForFY = ( SELECT  FinancialYear
                                    FROM    configuration
                                    where EntityID = @EntityId
                                  )

        SELECT  1 AS RowNo ,
                CONVERT(VARCHAR, DAY(date)) AS DateField ,
                CONVERT(VARCHAR(10), date, 20) AS DispatchDate ,
                ( CASE WHEN MONTH(date) BETWEEN @StartingMonthForFY
                                        AND     @StartingMonthForFY + 2
                       THEN 'Q1'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY + 3
                                        AND     @StartingMonthForFY + 5
                       THEN 'Q2'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY + 6
                                        AND     @StartingMonthForFY + 8
                       THEN 'Q3'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY + 9
                                        AND     @StartingMonthForFY + 11
                       THEN 'Q4'
                  END ) AS QuarterField ,
                YEAR(date) AS DispatchYear ,
                ISNULL(A.SalesWeight, 0) AS SalesWeight
        FROM    GetdateByMonth(DATEADD(m,
                                       MONTH(CAST('01' + @DispatchMonth
                                             + '2010' AS DATETIME)) - 1,
                                       DATEADD(yyyy, @StartYear - 1900, 0)),
                               DATEADD(d, -1,
                                       DATEADD(m,
                                               MONTH(CAST('01'
                                                     + @DispatchMonth + '2010' AS DATETIME)),
                                               DATEADD(yyyy, @StartYear - 1900,
                                                       0))))
                LEFT JOIN ( SELECT  CONVERT(VARCHAR(10), dispatchdate, 20) AS DispatchDate ,
                                    SUM(ISNULL(TotalWeight, 0)) AS SalesWeight
                            FROM    dispatchmaster DM
                                    INNER JOIN dispatchtrans DT ON DM.DispatchID = DT.dispatchid
                            WHERE   DT.IsDeleted = 0 and DM.TypeOfVoucher = 0
                                    AND DM.IsDeleted = 0
                                    AND isProforma = 0
                                    AND MONTH(dispatchdate) > @StartingMonthForFY
                                    - 1
                                    AND YEAR(dispatchdate) = @StartYear
                                    AND DATENAME(MONTH, dispatchdate) = @DispatchMonth
                                    AND ( @CastingID IS NULL
                                          OR DT.CastingId IN (
                                          SELECT    castingid
                                          FROM      CastingMaster
                                          WHERE     CastingMaster.CastingId = @CastingID
                                                    AND CastingMaster.IsDeleted = 0 )
                                        )
                                    AND ( @CastingName IS NULL
                                          OR DT.CastingId IN (
                                          SELECT    castingid
                                          FROM      CastingMaster
                                          WHERE     CastingMaster.CastingName = @CastingName
                                                    AND CastingMaster.IsDeleted = 0 )
                                        )
                                    AND ( @CustomerID IS NULL
                                          OR DM.customerID = @CustomerID
                                        )
                                    AND ( @CustomerName IS NULL
                                          OR DM.customerID IN (
                                          SELECT    customerID
                                          FROM      CustomerMaster
                                          WHERE     CustomerName = @CustomerName
                                                    AND CustomerMaster.IsDeleted = 0 )
                                        )
                                    AND ( @CustomerGroup IS NULL
                                          OR DM.customerID IN (
                                          SELECT    CustomerMaster.CustomerId
                                          FROM      CustomerMaster
                                          WHERE     CustomerGroup = @CustomerGroup
                                                    AND CustomerMaster.IsDeleted = 0 )
                                        )
                                    AND ( @MetalID = 0
                                          OR DT.orderid IN (
                                          SELECT DISTINCT
                                                    CustomerOrderId
                                          FROM      OrderTranse
                                          WHERE     OrderTranse.MetalID = @MetalID
                                                    AND OrderTranse.IsDeleted = 0 )
                                        )
                                    AND ( @MetalName IS NULL
                                          OR DT.orderid IN (
                                          SELECT DISTINCT
                                                    CustomerOrderId
                                          FROM      OrderTranse OT
                                                    INNER JOIN MetalMaster MM ON MM.MetalId = OT.MetalID
                                          WHERE     MM.MetalName = @MetalName
                                                    AND OT.IsDeleted = 0
                                                    AND MM.IsDeleted = 0 )
                                        )
                                    AND ( @MetalType IS NULL
                                          OR DT.orderid IN (
                                          SELECT DISTINCT
                                                    CustomerOrderId
                                          FROM      OrderTranse OT
                                                    INNER JOIN MetalMaster MM ON MM.MetalId = OT.MetalID
                                          WHERE     MM.MetalType = @MetalType
                                                    AND OT.IsDeleted = 0
                                                    AND MM.IsDeleted = 0 )
                                        )
                                    AND ( @PlantIdString IS NULL
                                          OR @PlantIdString = ''
                                          OR DT.CastingId IN (
                                          SELECT    CastingId
                                          FROM      dbo.PlantCastingMapping
                                                    INNER JOIN dbo.SplitString(@PlantIdString,
                                                              ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                                        )
                                    AND EntityID = @EntityId
                            GROUP BY dispatchdate
                          ) A ON A.DispatchDate = date
        WHERE   MONTH(date) > @StartingMonthForFY - 1
        UNION
        SELECT  1 AS RowNo ,
                CONVERT(VARCHAR, DAY(date)) AS DateField ,
                CONVERT(VARCHAR(10), date, 20) AS DispatchDate ,
                ( CASE WHEN MONTH(date) BETWEEN @StartingMonthForFY - 12
                                        AND     @StartingMonthForFY - 10
                       THEN 'Q1'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY - 9
                                        AND     @StartingMonthForFY - 7
                       THEN 'Q2'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY - 6
                                        AND     @StartingMonthForFY - 4
                       THEN 'Q3'
                       WHEN MONTH(date) BETWEEN @StartingMonthForFY - 3
                                        AND     @StartingMonthForFY - 1
                       THEN 'Q4'
                  END ) AS ProductionQuarter ,
                YEAR(date) AS DispatchYear ,
                ISNULL(A.SalesWeight, 0) AS SalesWeight
        FROM    GetdateByMonth(DATEADD(m,
                                       MONTH(CAST('01' + @DispatchMonth
                                             + '2010' AS DATETIME)) - 1,
                                       DATEADD(yyyy, @StartYear - 1900, 0)),
                               DATEADD(d, -1,
                                       DATEADD(m,
                                               MONTH(CAST('01'
                                                     + @DispatchMonth + '2010' AS DATETIME)),
                                               DATEADD(yyyy, @StartYear - 1900,
                                                       0))))
                LEFT JOIN ( SELECT  CONVERT(VARCHAR(10), dispatchdate, 20) AS DispatchDate ,
                                    SUM(ISNULL(TotalWeight, 0)) AS SalesWeight
                            FROM    dispatchmaster DM
                                    INNER JOIN dispatchtrans DT ON DM.DispatchID = DT.dispatchid
                            WHERE   DT.IsDeleted = 0 and DM.TypeOfVoucher = 0
                                    AND DM.IsDeleted = 0
                                    AND isProforma = 0
                                    AND MONTH(dispatchdate) < @StartingMonthForFY
                                    AND YEAR(dispatchdate) = @StartYear
                                    AND DATENAME(MONTH, dispatchdate) = @DispatchMonth
                                    AND ( @CastingID IS NULL
                                          OR DT.CastingId IN (
                                          SELECT    castingid
                                          FROM      CastingMaster
                                          WHERE     CastingMaster.CastingId = @CastingID
                                                    AND CastingMaster.IsDeleted = 0 )
                                        )
                                    AND ( @CastingName IS NULL
                                          OR DT.CastingId IN (
                                          SELECT    castingid
                                          FROM      CastingMaster
                                          WHERE     CastingMaster.CastingName = @CastingName
                                                    AND CastingMaster.IsDeleted = 0 )
                                        )
                                    AND ( @CustomerID IS NULL
                                          OR DM.customerID = @CustomerID
                                        )
                                    AND ( @CustomerName IS NULL
                                          OR DM.customerID IN (
                                          SELECT    customerID
                                          FROM      CustomerMaster
                                          WHERE     CustomerName = @CustomerName
                                                    AND CustomerMaster.IsDeleted = 0 )
                                        )
                                    AND ( @CustomerGroup IS NULL
                                          OR DM.customerID IN (
                                          SELECT    CustomerMaster.CustomerId
                                          FROM      CustomerMaster
                                          WHERE     CustomerGroup = @CustomerGroup
                                                    AND CustomerMaster.IsDeleted = 0 )
                                        )
                                    AND ( @MetalID = 0
                                          OR DT.orderid IN (
                                          SELECT DISTINCT
                                                    CustomerOrderId
                                          FROM      OrderTranse
                                          WHERE     OrderTranse.MetalID = @MetalID
                                                    AND OrderTranse.IsDeleted = 0 )
                                        )
                                    AND ( @MetalName IS NULL
                                          OR DT.orderid IN (
                                          SELECT DISTINCT
                                                    CustomerOrderId
                                          FROM      OrderTranse OT
                                                    INNER JOIN MetalMaster MM ON MM.MetalId = OT.MetalID
                                          WHERE     MM.MetalName = @MetalName
                                                    AND OT.IsDeleted = 0
                                                    AND MM.IsDeleted = 0 )
                                        )
                                    AND ( @MetalType IS NULL
                                          OR DT.orderid IN (
                                          SELECT DISTINCT
                                                    CustomerOrderId
                                          FROM      OrderTranse OT
                                                    INNER JOIN MetalMaster MM ON MM.MetalId = OT.MetalID
                                          WHERE     MM.MetalType = @MetalType
                                                    AND OT.IsDeleted = 0
                                                    AND MM.IsDeleted = 0 )
                                        )
                                    AND ( @PlantIdString IS NULL
                                          OR @PlantIdString = ''
                                          OR DT.CastingId IN (
                                          SELECT    CastingId
                                          FROM      dbo.PlantCastingMapping
                                                    INNER JOIN dbo.SplitString(@PlantIdString,
                                                              ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
                                        )
                                    AND EntityID = @EntityId
                            GROUP BY dispatchdate
                          ) A ON A.DispatchDate = date
        WHERE   MONTH(date) < @StartingMonthForFY			

						
    END
GO
