USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ProVsRejMonthlyDetail]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--SELECT * FROM knockout
--SELECT * FROM ProductionBatch 
--SELECT * FROM CastingFinalRejection

--ProVsRejMonthlyDetail 'JUN', 2018
--------------------------

CREATE PROCEDURE [dbo].[ProVsRejMonthlyDetail]
@ProductionMonth VARCHAR(MAX) = NULL,
@StartYear INT =0,
@CastingId UNIQUEIDENTIFIER = NULL,
@CastingName VARCHAR(MAX) = NULL,
@CustomerId UNIQUEIDENTIFIER = NULL,
@CustomerName VARCHAR(MAX) = NULL,
@CustomerGroup VARCHAR(MAX) = NULL,
@MetalId BIGINT = 0,
@MetalName VARCHAR(MAX) = NULL,
@MetalType VARCHAR(MAX) = NULL
	
AS

BEGIN
-----------------------------------------------------------
--weekly month wise report_STATIC
-----------------------------------------------------------


--SELECT   (CASE WHEN CONVERT(VARCHAR(2), ProductionDate, 103) BETWEEN '01' AND '07'
--				THEN 'WEEK-1'
--			   WHEN CONVERT(VARCHAR(2), ProductionDate, 103) BETWEEN '08' AND '14'
--			    THEN 'WEEK-2'
--			   WHEN CONVERT(VARCHAR(2), ProductionDate, 103) BETWEEN '15' AND '21'
--			    THEN 'WEEK-3'
--			   WHEN CONVERT(VARCHAR(2), ProductionDate, 103) BETWEEN '22' AND '28'
--			    THEN 'WEEK-4'
--			   ELSE  'WEEK-5'
--		 END) WEEKno,
--		 CONVERT(VARCHAR(MAX), ProductionDate, 106) ProductionDate,
--		 SUM(ISNULL(PRODUCTIONQTY, 0)*ISNULL(PERPCWEIGHT, 0)) AS ProductionWeight
--FROM     knockout KO
--		 INNER JOIN ProductionBatch PB
--		 ON PB.batchID = KO.batchid
--WHERE    MONTH(ProductionDate) > 3
--		 --AND YEAR(ProductionDate) = @StartYear
--		 AND LEFT(DATENAME(MONTH, ProductionDate), 3) = @ProductionMonth
--GROUP BY ProductionDate

--UNION

--SELECT   (CASE WHEN CONVERT(VARCHAR(2), ProductionDate, 103) BETWEEN '01' AND '07'
--				THEN 'WEEK-1'
--			   WHEN CONVERT(VARCHAR(2), ProductionDate, 103) BETWEEN '08' AND '14'
--			    THEN 'WEEK-2'
--			   WHEN CONVERT(VARCHAR(2), ProductionDate, 103) BETWEEN '15' AND '21'
--			    THEN 'WEEK-3'
--			   WHEN CONVERT(VARCHAR(2), ProductionDate, 103) BETWEEN '22' AND '28'
--			    THEN 'WEEK-4'
--			   ELSE  'WEEK-5'
--		 END) WEEKno,
--		 CONVERT(VARCHAR(MAX), ProductionDate, 106) ProductionDate,
--		 SUM(ISNULL(PRODUCTIONQTY, 0)*ISNULL(PERPCWEIGHT, 0)) AS ProductionWeight
--FROM     knockout KO
--		 INNER JOIN ProductionBatch PB
--		 ON PB.batchID = KO.batchid
--WHERE    MONTH(ProductionDate) < 4
--		 --AND YEAR(ProductionDate) = @StartYear + 1
--		 AND LEFT(DATENAME(MONTH, ProductionDate), 3) = @ProductionMonth
--GROUP BY ProductionDate



--------------------------------------------------------------------

------------------------------------------------------------------

--SELECT   'WEEK'+'-'+
--		 CONVERT(VARCHAR(MAX), datediff(week, dateadd(week, datediff(week, 0, dateadd(month, datediff(month, 0, ProductionDate), 0)), 0), ProductionDate - 1) + 1)
--		 AS WEEKno,
--		 CONVERT(VARCHAR(MAX), ProductionDate, 106) ProductionDate,
--		 SUM(ISNULL(PRODUCTIONQTY, 0)*ISNULL(PERPCWEIGHT, 0)) AS ProductionWeight
--FROM     knockout KO
--		 INNER JOIN ProductionBatch PB
--		 ON PB.batchID = KO.batchid
--WHERE    MONTH(ProductionDate) > 3
--		 AND YEAR(ProductionDate) = @StartYear
--		 AND LEFT(DATENAME(MONTH, ProductionDate), 3) = @ProductionMonth
--GROUP BY ProductionDate


--UNION 


--SELECT   'WEEK'+'-'+
--		 CONVERT(VARCHAR(MAX), datediff(week, dateadd(week, datediff(week, 0, dateadd(month, datediff(month, 0, ProductionDate), 0)), 0), ProductionDate - 1) + 1)
--		 AS WEEKno,
--		 CONVERT(VARCHAR(MAX), ProductionDate, 106) ProductionDate,
--		 SUM(ISNULL(PRODUCTIONQTY, 0)*ISNULL(PERPCWEIGHT, 0)) AS ProductionWeight
--FROM     knockout KO
--		 INNER JOIN ProductionBatch PB
--		 ON PB.batchID = KO.batchid
--WHERE    MONTH(ProductionDate) < 4
--		 AND YEAR(ProductionDate) = @StartYear + 1
--		 AND LEFT(DATENAME(MONTH, ProductionDate), 3) = @ProductionMonth
--GROUP BY ProductionDate

--SELECT  SUM(ISNULL(PRODUCTIONQTY, 0)*ISNULL(PERPCWEIGHT, 0)) AS ProductionWeight
--FROM    knockout KO
--		 INNER JOIN ProductionBatch PB
--		 ON PB.batchID = KO.batchid
--WHERE   ProductionDate = '2017-06-02'		 

----------------------------------
--with rejection 
---------------------------------------------------

SELECT   'WEEK'+'-'+
		 CONVERT(VARCHAR(MAX), DATEDIFF(WEEK, DATEADD(WEEK, DATEDIFF(WEEK, 0, DATEADD(MONTH, DATEDIFF(MONTH, 0, ProductionDate), 0)), 0), ProductionDate - 1) + 1)
		 AS WEEKno,
		 --CONVERT(VARCHAR(MAX), PRODUCTIONDATE, 106) AS ProductionDate,
		 CONVERT(VARCHAR(10), ProductionDate, 20) ProductionDate,
		 SUM(ISNULL(PRODUCTIONQTY, 0)*ISNULL(PERPCWEIGHT, 0)) AS ProductionWeight,
		 ISNULL(Rejection.RejectionWeight, 0) AS RejectionWeight
FROM     knockout KO1
		 INNER JOIN ProductionBatch PB1
		 ON PB1.batchID = KO1.batchid
		 INNER JOIN MetalMaster MM1
		 ON MM1.MetalId = PB1.MetalID
		 INNER JOIN CastingMaster CM1
		 ON CM1.CastingId = KO1.castingid
		 LEFT JOIN (
			SELECT 'WEEK'+'-'+
				   CONVERT(VARCHAR(MAX), DATEDIFF(WEEK, DATEADD(WEEK, DATEDIFF(WEEK, 0, DATEADD(MONTH, DATEDIFF(MONTH, 0, RejectionDate), 0)), 0), RejectionDate - 1) + 1)
		           AS WEEKno,
		           --RejectionDate,
		           CONVERT(VARCHAR(10), RejectionDate, 20)AS RejectionDate,
		           SUM(ISNULL(CFR.Weight, 0)) RejectionWeight
		    FROM   CastingFinalRejection CFR
				   INNER JOIN MetalMaster MM
				   ON MM.MetalId = CFR.MetalID
				   INNER JOIN CastingMaster CM
				   ON CM.CastingId = CFR.CastingID
			WHERE  MONTH(RejectionDate) > 3
				   AND YEAR(RejectionDate) = @StartYear
				   --AND LEFT(DATENAME(MONTH, RejectionDate), 3) = @ProductionMonth
				   AND DATENAME(MONTH, RejectionDate) = @ProductionMonth
				   AND MM.IsDeleted = 0
				   AND CM.IsDeleted = 0
				   AND (@CastingID IS NULL
							OR CFR.CastingID  = @CastingId
						)
						AND (@CastingName IS NULL		
								OR CM.CastingName = @CastingName
						)
						AND (@MetalId = 0
								OR CFR.MetalID = @MetalId
						)
						AND (@MetalName IS NULL
								OR MM.MetalName = @MetalName
						)
						AND (@MetalType IS NULL
								OR MM.MetalType = @MetalType
						)
						AND (@CustomerId IS NULL
								OR CM.Dieid IN (
									SELECT PatternId
									FROM CustomerPatternMapping 
									WHERE CustomerId = @CustomerId
								)
						)
						AND ( @CustomerGroup IS NULL
                                  OR CM.Dieid IN (
                                  SELECT    dbo.CustomerPatternMapping.PatternId
                                  FROM      dbo.CustomerPatternMapping
                                            INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId
                                  WHERE     CustomerMaster.CustomerGroup = @CustomerGroup
                                            AND dbo.CustomerPatternMapping.IsDeleted = 0 
                             )
                        )
			GROUP BY RejectionDate
		 )Rejection
		 ON Rejection.WEEKno = 'WEEK'+'-'+ CONVERT(VARCHAR(MAX), DATEDIFF(WEEK, DATEADD(WEEK, DATEDIFF(WEEK, 0, DATEADD(MONTH, DATEDIFF(MONTH, 0, ProductionDate), 0)), 0), ProductionDate - 1) + 1)
		 AND Rejection.RejectionDate = ProductionDate
WHERE    MONTH(ProductionDate) > 3
		 AND YEAR(ProductionDate) = @StartYear
		 --AND LEFT(DATENAME(MONTH, ProductionDate), 3) = @ProductionMonth
		 AND DATENAME(MONTH, ProductionDate) = @ProductionMonth
		 AND KO1.IsDeleted = 0
		 AND PB1.IsDeleted = 0
		 AND MM1.IsDeleted = 0
		 AND CM1.IsDeleted = 0
		 AND (@CastingID IS NULL
					OR CM1.CastingID  = @CastingId
			 )
		 AND (@CastingName IS NULL		
					OR CM1.CastingName = @CastingName
			 )
		 AND (@MetalId =0
					OR MM1.MetalID = @MetalId
			 )
		 AND (@MetalName IS NULL
					OR MM1.MetalName = @MetalName
			 )
		 AND (@MetalType IS NULL
					OR MM1.MetalType = @MetalType
			 )
		 AND (@CustomerId IS NULL
					OR Dieid IN (
						SELECT PatternId
						FROM CustomerPatternMapping 
						WHERE CustomerId = @CustomerId
					)
			 )
		 AND ( @CustomerGroup IS NULL
                    OR Dieid IN (
                        SELECT    dbo.CustomerPatternMapping.PatternId
                        FROM      dbo.CustomerPatternMapping
                                  INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId
                        WHERE     CustomerMaster.CustomerGroup = @CustomerGroup
                                  AND dbo.CustomerPatternMapping.IsDeleted = 0 
                    )
             )			
GROUP BY ProductionDate,
		 isnull(RejectionWeight, 0)



UNION



SELECT   'WEEK'+'-'+
		 CONVERT(VARCHAR(MAX), DATEDIFF(WEEK, DATEADD(WEEK, DATEDIFF(WEEK, 0, DATEADD(MONTH, DATEDIFF(MONTH, 0, ProductionDate), 0)), 0), ProductionDate - 1) + 1)
		 AS WEEKno,
		 --CONVERT(VARCHAR(MAX), ProductionDate, 106) ProductionDate,
		 CONVERT(VARCHAR(10), ProductionDate, 20) AS ProductionDate,
		 SUM(ISNULL(PRODUCTIONQTY, 0)*ISNULL(PERPCWEIGHT, 0)) AS ProductionWeight,
		 ISNULL(Rejection.RejectionWeight, 0) RejectionWeight
FROM     knockout KO1
		 INNER JOIN ProductionBatch PB1
		 ON PB1.batchID = KO1.batchid
		 INNER JOIN MetalMaster MM1
		 ON MM1.MetalId = PB1.MetalID
		 INNER JOIN CastingMaster CM1
		 ON CM1.CastingId = KO1.castingid
		 LEFT JOIN (
			SELECT 'WEEK'+'-'+
				   CONVERT(VARCHAR(MAX), DATEDIFF(WEEK, DATEADD(WEEK, DATEDIFF(WEEK, 0, DATEADD(MONTH, DATEDIFF(MONTH, 0, RejectionDate), 0)), 0), RejectionDate - 1) + 1)
		           AS WEEKno,
		           --RejectionDate,
		           CONVERT(VARCHAR(10), RejectionDate, 20) AS RejectionDate,
		           SUM(ISNULL(CFR.WEIGHT, 0)) RejectionWeight
		    FROM   CastingFinalRejection CFR
				   INNER JOIN MetalMaster MM
				   ON MM.MetalId = CFR.MetalID
				   INNER JOIN CastingMaster CM
				   ON CM.CastingId = CFR.CastingID
			WHERE  MONTH(RejectionDate) < 4
				   AND YEAR(RejectionDate) = @StartYear+1
				   --AND LEFT(DATENAME(MONTH, RejectionDate), 3) = @ProductionMonth
				   AND DATENAME(MONTH, RejectionDate) = @ProductionMonth
				   AND MM.IsDeleted = 0
				   AND CM.IsDeleted = 0
				   AND (@CastingID IS NULL
							OR CFR.CastingID  = @CastingId
						)
						AND (@CastingName IS NULL		
								OR CM.CastingName = @CastingName
						)
						AND (@MetalId =0
								OR CFR.MetalID = @MetalId
						)
						AND (@MetalName IS NULL
								OR MM.MetalName = @MetalName
						)
						AND (@MetalType IS NULL
								OR MM.MetalType = @MetalType
						)
						AND (@CustomerId IS NULL
								OR CM.Dieid IN (
									SELECT PatternId
									FROM CustomerPatternMapping 
									WHERE CustomerId = @CustomerId
								)
						)
						AND ( @CustomerGroup IS NULL
                                  OR CM.Dieid IN (
                                  SELECT    dbo.CustomerPatternMapping.PatternId
                                  FROM      dbo.CustomerPatternMapping
                                            INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId
                                  WHERE     CustomerMaster.CustomerGroup = @CustomerGroup
                                            AND dbo.CustomerPatternMapping.IsDeleted = 0 
                                   )
                        )
			GROUP BY RejectionDate
		 )Rejection
		 ON Rejection.WEEKno = 'WEEK'+'-'+ CONVERT(VARCHAR(MAX), DATEDIFF(WEEK, DATEADD(WEEK, DATEDIFF(WEEK, 0, DATEADD(MONTH, DATEDIFF(MONTH, 0, ProductionDate), 0)), 0), ProductionDate - 1) + 1)
		 AND Rejection.RejectionDate = ProductionDate
WHERE    MONTH(ProductionDate) <4
		 AND YEAR(ProductionDate) = @StartYear+1
		 --AND LEFT(DATENAME(MONTH, ProductionDate), 3) = @ProductionMonth
		 AND DATENAME(MONTH, ProductionDate) = @ProductionMonth
		 AND KO1.IsDeleted = 0
		 AND PB1.IsDeleted = 0
		 AND MM1.IsDeleted = 0
		 AND CM1.IsDeleted = 0
		 AND (@CastingID IS NULL
						OR CM1.CastingID  = @CastingId
				)
			AND (@CastingName IS NULL		
						OR CM1.CastingName = @CastingName
				)
			AND (@MetalId =0
						OR MM1.MetalID = @MetalId
				)
			AND (@MetalName IS NULL
						OR MM1.MetalName = @MetalName
				)
			AND (@MetalType IS NULL
						OR MM1.MetalType = @MetalType
				)
			AND (@CustomerId IS NULL
						OR Dieid IN (
							SELECT PatternId
							FROM CustomerPatternMapping 
							WHERE CustomerId = @CustomerId
						)
				)
			AND ( @CustomerGroup IS NULL
                                  OR Dieid IN (
                                  SELECT    dbo.CustomerPatternMapping.PatternId
                                  FROM      dbo.CustomerPatternMapping
                                            INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId
                                  WHERE     CustomerMaster.CustomerGroup = @CustomerGroup
                                            AND dbo.CustomerPatternMapping.IsDeleted = 0 
                                  )
                 )			
GROUP BY ProductionDate,
		 isnull(RejectionWeight, 0)






-------------------------------------------------------------
--productiondate wise report final
-------------------------------------------------------------


--		SELECT   DISTINCT CONVERT(VARCHAR(MAX), ProductionDate, 106) ProductionDate,
--				 SUM(ISNULL(PRODUCTIONQTY, 0)*ISNULL(PERPCWEIGHT, 0)) AS ProductionWeight
--		FROM     knockout KO
--				 INNER JOIN ProductionBatch PB
--				 ON PB.batchID = KO.batchid
--		WHERE    MONTH(ProductionDate) > 3
--				 --AND YEAR(ProductionDate) = @StartYear
--				 AND LEFT(DATENAME(MONTH, ProductionDate), 3) = @ProductionMonth	
--		GROUP BY ProductionDate	 

--UNION 

--		SELECT   DISTINCT CONVERT(VARCHAR(MAX), ProductionDate, 106) ProductionDate,
--				 SUM(ISNULL(PRODUCTIONQTY, 0)*ISNULL(PERPCWEIGHT, 0)) AS ProductionWeight
--		FROM     knockout KO
--				 INNER JOIN ProductionBatch PB
--				 ON PB.batchID = KO.batchid
--		WHERE    MONTH(ProductionDate) < 4
--				 --AND YEAR(ProductionDate) = @StartYear + 1
--				 AND LEFT(DATENAME(MONTH, ProductionDate), 3) = @ProductionMonth	
--		GROUP BY ProductionDate	   
--		ORDER BY ProductionDate 
	   
END
GO
