USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CostCenterMaster]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CostCenterMaster]
			@parameter int
		   ,@CostCenterName nvarchar(500) ='' 
           ,@CreatedBy int =0
           ,@ModifiedBy int   =0        
           ,@DeletedBy int  =0
           ,@CostCenterId bigint =0
           ,@IsAll INT = 1            
		   ,@Block INT =0  
		   ,@IsDeleted int = 0 
AS
BEGIN
	  IF @parameter = 1
       BEGIN
			INSERT INTO [dbo].[CostCenter]
           ([CostCenterName]
           ,[CreatedBy]
           ,[CreatedOn]
           ,[IsDeleted])
     VALUES
           (@CostCenterName 
           ,@CreatedBy 
           ,GETDATE()          
           ,0  )
           return 1; 
       END 
 	  IF @parameter = 2
       BEGIN
			UPDATE  [dbo].[CostCenter]
            SET  [CostCenterName] =@CostCenterName 
           ,[ModifiedBy]= @ModifiedBy
           ,[ModifiedOn]= GETDATE()
           WHERE CostCenterId =@CostCenterId 
           return 1; 
       END 
 	  IF @parameter = 3
       BEGIN 
		           
		  BEGIN TRANSACTION  
		   
		  UPDATE  [dbo].[CostCenter]
            SET  [IsDeleted] = @IsDeleted
           ,[DeletedBy]= @DeletedBy
           ,[DeletedOn]= GETDATE()
           WHERE CostCenterId =@CostCenterId 
		     
			 IF @@Error <> 0                                      
		  ROLLBACK TRANSACTION   
			  COMMIT TRANSACTION                                      
					RETURN 1  
           
       END    
 	  IF @parameter = 4
       BEGIN
			select * from   [dbo].[CostCenter] where    (@IsAll = 1 or (IsDeleted = @Block )) 
           
       END       
     IF @parameter = 5
       BEGIN
			select * from   [dbo].[CostCenter] where CostCenterId =@CostCenterId  
           
       END  
      IF @parameter = 6
       BEGIN
			RETURN(    
			  SELECT    
			  CASE WHEN     
			  (SELECT ISNULL(COUNT(CostCenterId),0) FROM dbo.[CostCenter] WHERE  [CostCenterName] =@CostCenterName  AND ISNULL(IsDeleted, 0) = 0)>0    
			  THEN 1    
			  ELSE 0    
			  END AS RetValue)                
       END  
        IF @parameter =7
       BEGIN
			select * from   [dbo].[CostCenter] where    IsDeleted =  0
           
       END      
                
END


GO
