USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[equivalentEquation]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[equivalentEquation]
@parameter int = 0,
@eqName nvarchar(50) = null,
@equation nvarchar(100) = null,
@chargeName nvarchar(50) = null,
@equationId uniqueIdentifier = null,
@minValue float = null,
@maxValue float = null,
@elementId int = null
	AS
BEGIN
	if @parameter = 1
	begin 
		INSERT INTO ElementMaster (ElementName, IsDeleted, IfActiveForSpectro, SequenceNo, IsEquation, Equation)
			VALUES (@eqName, 0, 1, (Select Isnull(MAX(SequenceNO),0) + 1 from ElementMaster where IsDeleted=0), 1, @equation)
		 end
		
		IF @parameter = 2
		Begin
		SELECT ElementId, ElementName, Equation from ElementMaster where IsDeleted = 0 AND IsEquation = 1
		end
		
	--if @parameter = 3
	--BEGIN	
	--	--INSERT INTO chargeEquation (equationId, chargeName, minValue, maxValue)
	--	--VALUES (@equationId, @chargeName, Cast(@minValue as Decimal(18,3)), Cast(@maxValue as Decimal(18,3)))
	--END
	
	--IF @parameter = 4
	--BEGIN
	----SELECT equationId, minValue, maxValue from chargeEquation where chargeName = @chargeName
	--END
	
	--IF @parameter = 5
	--BEGIN
	----DELETE from chargeEquation where chargeName = @chargeName
	--END
	
	IF @parameter = 6
	BEGIN
	select cast(0x0 as uniqueidentifier) as equationId,ElementMaster.ElementName as equationName,ElementMaster.equation, 0 as minValue, 0 as maxValue
	from ElementMaster where equation is not null
	SELECT equivalentMaster.equationId, equivalentMaster.equationName, equivalentMaster.equation, 0 as minValue, 0 as maxValue 
	FROM equivalentMaster 
	--inner join chargeEquation
	--ON chargeEquation.equationId = equivalentMaster.equationId
	--WHERE chargeName = @chargeName
	
	END
	
	IF @parameter = 7
	BEGIN
	
	UPDATE ElementMaster SET IsDeleted = 1 where ElementId = @elementId
	 
	END
	
	IF @parameter = 8
	BEGIN
	UPDATE ElementMaster set ElementName = @eqName, Equation = @equation where ElementId = @elementId
		END
	
	
END
GO
