USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Sp_MethodMaster]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[Sp_MethodMaster]              
    @Parameter INT = 0 ,                
    @PatternId UNIQUEIDENTIFIER = NULL   ,           
    @PatternCode VARCHAR(100) = NULL ,                
    @NoOfPattern INT = 0 ,                
    @PatternMaterial VARCHAR(150) = NULL ,    
    @SandTypeID INT = 0 , 
    @NoOfCavityperCoreBox INT = 0 ,                
    @NoOfCoreperCasting INT = 0 ,                
    @WeightofCoreBox FLOAT = 0 ,  
    @IsActive INT = 0 ,                
    @IsDeleted INT = 0 ,                
    @CreatedBy INT = 0 ,                
    @CreatedDate DATETIME = NULL ,                
    @ModifiedBy INT = 0 ,                
    @ModifiedDate DATETIME = NULL ,                
    @CoreBoxDetails AS XML = NULL ,                
    @CustomerPatternMappingTable AS XML = NULL ,                
    @Customerflag VARCHAR(10) = NULL ,                
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,                
    @CustomerId UNIQUEIDENTIFIER = NULL ,                
    @EntityID INT = 0,                
    @DeletedBy INT = 0 ,                
    @DeletedOn DATETIME = NULL ,                
    @DeleteCoreBoxList VARCHAR(MAX) = NULL ,                
    @CastingName VARCHAR(100) = NULL ,                
    @CastingId UNIQUEIDENTIFIER = NULL ,                
    @PatternActiveDate DATETIME = NULL ,                
    @Reason VARCHAR(150) = NULL ,                
    @UserId INT = 0 ,                
    @PatternTypeId INT = 0 ,                
    @NoOfPatternOnMatchPlate INT = 0 ,                
    @NoOfSet INT = 0 ,                
    @CoreProductionType VARCHAR(50) = NULL ,                
    @CoreExpectedLife INT = 0 ,                
    @SerialNo INT = 0 ,                
    --@CoreImageId UNIQUEIDENTIFIER = NULL ,                
   -- @CoreImage XML = NULL ,                
    --@CoreId UNIQUEIDENTIFIER = NULL ,                
    @Photo VARCHAR(MAX) = NULL ,                
    @PhotoImage XML = NULL ,                
    @MoldLine UNIQUEIDENTIFIER = NULL ,                
    --@ImageCoreBoxId UNIQUEIDENTIFIER = NULL ,                
    @MoldProductionPerHours INT = 0 ,                
    @CoreProductionPerShift INT = 0 ,                
    @UsedFor BIT = 0 ,                
    @MoldboxId UNIQUEIDENTIFIER = NULL ,                
    @RevisionNo VARCHAR(20) = NULL ,                
    @DrawingNo VARCHAR(20) = NULL ,                
    @ImagePath VARCHAR(MAX) = NULL ,                
    @Exists INT = 0 ,                
    @PatternValue FLOAT = 0 ,                
    @PatternInsured BIT = 0 ,                
    @MoldingProcessId UNIQUEIDENTIFIER = NULL ,                
    @LetterDetails VARCHAR(100) = NULL ,                
    @ImagePathId UNIQUEIDENTIFIER = NULL ,                
    @ImageUpload AS XML = NULL ,                
    @ImageDelete AS XML = NULL ,                
    @DeleteImage VARCHAR(max) = NULL ,   
    @BottomOtherId UNIQUEIDENTIFIER = NULL ,                
    @BottomOtherQty FLOAT = 0 ,                
    @BottomOtherSize VARCHAR(100) = NULL ,                
                    
    @TopOtherId UNIQUEIDENTIFIER = NULL ,                
    @TopOtherQty FLOAT = 0 ,                
    @TopOtherSize VARCHAR(100) = NULL ,   
    @CoatId UNIQUEIDENTIFIER = NULL ,                
    @Pattern_terrif AS XML = NULL ,                
    @TerrifCode VARCHAR(50) = NULL ,                
    @RevisionDate DATETIME = NULL ,                
    @PatternProduce BIT = 0 ,                
    @RevisionFlag BIT = 0 ,                
    @RevisionRemark VARCHAR(MAX) = NULL ,                
    @KnockoutId INT = 0 ,                
    @PatternRevisionId UNIQUEIDENTIFIER = NULL ,                
    @CostModification FLOAT = 0 ,                
    @OpeningProduction FLOAT = 0 ,                
    @IsApprove BIT = NULL ,                
    @IsApproveFinal BIT = NULL ,                
    @StockConvertFlag BIT = 0 ,                
    @CheckIssueDate BIT = 0 ,                
    @PatternLife INT = 0 ,                
    @PatternInwardDate DATE = NULL ,                
    @MoldProductionTime INT = 0 ,                
    @MatchPlateCode VARCHAR(50) = NULL ,                
    @MatchPlateSize VARCHAR(50) = NULL ,                
    @CastinId UNIQUEIDENTIFIER = NULL ,                
    @NoOfCavities FLOAT = 0 ,                
    @CastingPatternMapping AS XML = NULL ,                
    @IsSandDie BIT = NULL ,                
    @IsSaveCastingDetails BIT = NULL ,                
    @AvailDrawingNo BIT = 0 ,                
    @StoreId UNIQUEIDENTIFIER = NULL ,                
    -- Added by Nikunj                
    @IsSandCasting BIT = NULL ,                
    @IsDieCasting BIT = NULL ,                
    @IsSandOrDie BIT = NULL ,                
    @IsPatternOrDieCasting BIT = NULL ,                
    @MatchBunchWt DECIMAL = 0 ,                
    @BatchId BIGINT = 0 ,                
    @SandWeight FLOAT = 0 ,                
    --Added by megha                
    @XMLDimnParameterDetails AS XML = NULL ,       
    @ParameterDetailId INT = 0 ,                
    @SrNo INT = 0 ,                
    @ParameterId INT = 0 ,                
    @DrgDimn varchar(50) = null ,                
    @PercOfAllowance FLOAT = 0 ,                
    @Contraction FLOAT = 0 ,                
    @Tolerance FLOAT = 0 ,                
                
    @Tolerance2 FLOAT = 0 ,                
    @ToleranceId2 INT = 0 ,                
    @IfActive BIT = 0 ,                
    @PlantIdString VARCHAR(MAX) = NULL,                
    @IsAnotherMethoding BIT = 0 ,              
    @PlantId INT = 0 ,              
    -- Added by Sahil              
    @IsAll INT = 1 ,              
    @Block INT =0 ,
    @MoldValue FLOAT = 0             
    -- Added by Nikunj              
    , @PlanMasterID BIGINT = 0 ,              
	@FromDate DATETIME = NULL ,              
    @ToDate DATETIME = NULL ,              
    @CheckCastingId  UNIQUEIDENTIFIER = NULL              
  , @IsMoldAvailOnly INT = 0
  , @ToPlantId INT = 0
  , @IsPatternMoldCore INT = 0
  , @CoreId UNIQUEIDENTIFIER = NULL
  , @pagetype INT = 0
  , @IsDummy bit = 0
  , @IsAssembly bit = 0 
  , @PouringTime VARCHAR(100) = NULL ,
  @Id UNIQUEIDENTIFIER = NULL
  , @IsEdit bit = 0
  ,@OriginalName varchar(max) = null
  ,@XMLPatterLife xml = null ,
    @PendingAllocation BIT = 0 ,
    @PendingAllocationMold bit = 0 ,
     @PatternBunchWeight DECIMAL(18, 3) = 0   ,
     @AssemblyDetail  xml = null  ,
     @ConsumptionQty float = 0   ,
     @MethodcardNo varchar(50) = null   ,
     @MethodId  UNIQUEIDENTIFIER = NULL  ,
     @ConsumptionDetail as xml = null,
     @MoldBoxTypeId int = 0 ,
     @MoldBoxLocationId int = 0 ,
     @TopRiserItemName varchar(100) = null,
     @TopRiserQty float = 0 ,
     @TopRiserSize varchar(100) = null,
     @MoldDetail as xml = null,
     @CoatingDetail as  xml = null,
   @ImagePathDetails AS XML = NULL ,
   @NameofAssembly VARCHAR(100) = NULL ,
   @ItemType VARCHAR(50) = NULL ,
   @UnitOfMeasure UNIQUEIDENTIFIER = NULL ,  
    @SecondaryUnitOfMeasure UNIQUEIDENTIFIER = NULL ,
    @PurchaseItem_Id UNIQUEIDENTIFIER = NULL,
     @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL ,  
    @PurchaseItemCategoryId UNIQUEIDENTIFIER = NULL ,  
    @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL    ,
	@PurchaseItemId UNIQUEIDENTIFIER = NULL,
	@DieId UNIQUEIDENTIFIER = NULL,
	@CastingId_ UNIQUEIDENTIFIER = NULL,
    @NoOfCavities_ FLOAT = 0 ,
	@MethodId_ UNIQUEIDENTIFIER = NULL,
	@BunchWeight float = null,
	@RevisionNumber int = 0,
	@RevisionBy int = 0,
	@RevisionOf UNIQUEIDENTIFIER = NULL
   
AS    

		declare @Plant table (Item int) 
			if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
			begin
				Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
			End
			declare @PatternIdTable table (Item UNIQUEIDENTIFIER)             
   BEGIN  
	
	 	declare @IsCastingGrossWtFromBunchWt bit   =(select IsCastingGrossWtFromBunchWt  from configuration where EntityID = @ENTityid	 )
    IF @Parameter = 1   
                 
        BEGIN   
                     
             BEGIN TRANSACTION
         BEGIN TRY
               SET @MethodId = NEWID() 
                 
              INSERT  INTO PatternMaster                
                    ( PatternId ,                
                      PatternCode ,   
                      MoldLineID ,        
                      MoldProductionPerHours ,                
                      sandTypeID ,                
                      MoldboxId , 
					  CoatId ,    
                      MoldingProcessId , 
                      MoldProductionTime , 
                      SandWeight, 
                      MoldValue,
                      CreatedByy,
                      CreatedDate,
                      IsDeleted ,                     
                      EntityID,
                      IsMethod,
                      PatternTypeId,
					  MaxVersion,
					  RevisionRemark,
					 -- RevisionOf,
					  RevisionNumber,
					  RevisionBy,
					  RevisionDateTime,
					  RevisionOf
                       
					 )                
            VALUES  ( @MethodId ,                
                      @MethodcardNo , 
                      @MoldLine ,                
                      @MoldProductionPerHours ,                
                      @SandTypeID ,                
                      @MoldboxId ,  
                      @CoatId ,   
                      @MoldingProcessId , 
                      @MoldProductionTime , 
                      @SandWeight, 
                      @MoldValue ,
                      @CreatedBy,
                      GETDATE(),
                      0 ,
                      @EntityID,
                      1,
                      1,
					  1,
					  @RevisionRemark,
					 -- @RevisionOf
					 @RevisionNumber,
					 @RevisionBy,
					 GETDATE(),
					 @RevisionOf
					)   
	
				   IF @RevisionOf IS NOT NULL
					BEGIN
						UPDATE PatternMaster
						SET maxversion = 0
						WHERE PatternId = @RevisionOf;
					END

                            
              set @PurchaseItem_Id = NEWID()         
   --             INSERT  INTO PurchaseItemMaster  --Assembly Name stored 
   --                     ( PurchaseItemId ,  
   --                       ItemName ,  
   --                       ItemCode ,  
   --                       ItemType ,  
   --                       UnitOfMeasure ,  
   --                       SecondaryUnitOfMeasure ,  
   --                       ConversionRatio ,  
   --                     --  Remarks ,  
   --                       CreatedBy ,  
   --                       CreatedOn ,  
   --                       IsDeleted ,  
   --                       IsCharge ,  
   --                       EntityID ,  
   --                      -- ItemParameters ,  
   --                       MinStockLevel ,  
   --                       MaxStockLevel ,  
   --                       MinOrderQty ,  
   --                       OrderLeadTime ,  
   --                       IsBOQ ,  
   --                       IsMoldingMaterial ,  
   --                       IsIssueAsConsumed ,  
   --                       PurchaseItemTypeId ,  
   --                       PurchaseItemCategoryId ,  
   --                       PurchaseItemGroupId ,  
   --                       ToleranceOn ,  
   --                       Tolerance ,  
   --                       ToleranceType ,  
   --                       PackingSize ,                             
   --                       ShelfLife ,  
   --                       StoreId , 
   --                       ChargingMaterialType,  
   --                       IsNonConsumable  
   --                       , IsSandType
			--			  ,QtyPrimaryUOM					
			--			 ,DieID
			--				)  
   --             VALUES  ( @PurchaseItem_Id ,  
   --                       @NameofAssembly ,  
   --                       @NameofAssembly ,  
   --                       @ItemType ,  
   --                       @UnitOfMeasure ,  
   --                       @SecondaryUnitOfMeasure ,  
   --                       1 ,                          
   --                       @CreatedBy ,  
   --                       @CreatedDate ,  
   --                       0 ,  
   --                       0 ,  
   --                       @EntityID ,  
			--			  0.000 ,  
   --                       0.000 ,  
   --                       0.000 ,  
   --                       0 ,  
   --                       1 ,  
   --                       0 ,  
   --                       0 ,  
   --                       @PurchaseItemTypeId ,  
   --                       @PurchaseItemCategoryId ,  
   --                       @PurchaseItemGroupId ,  
   --                       0 ,  
   --                       0 ,  
   --                       1 ,  
   --                       0 , 
   --                       0 ,  
   --                       @StoreId , 
   --                       0,                            
   --                       0, 
   --                       0
			--			  ,1					
			--			,@MethodId
   --                     )  
  



  
   --             IF @@ERROR <> 0  
   --                 ROLLBACK TRANSACTION   
                    
		 --     INSERT  INTO PurchaseCompanyMapping
   --                 ( Id ,
   --                   PurchaseItemId ,
   --                   CompanyId                     
   --                 )
   --                 Values( NEWID() ,
   --                         @PurchaseItem_Id ,
   --                         @EntityId
   --                         )  


			--INSERT  INTO InventoryDetails  ( PurchaseItemID, Stock,Entity,PlantId )  
   --             SELECT @PurchaseItem_Id, 0, @EntityId, PlantMaster.PlantId FROM PlantMaster WHERE IsDeleted = 0 AND EntityId = @EntityId


			 EXEC PurchasePattern_Insert @PurchaseItem_Id = @PurchaseItem_Id,@ItemName=@NameofAssembly,
					@CreatedBy=@CreatedBy,
					 @EntityID=@EntityID,
					 @IsPatternActive = @IsActive,
					 @IsPatternDummy = @IsDummy,
					 @IsPatDieWax = 0,
					 @ItemCode = @NameofAssembly,
					 @NoOfPattern = @NoOfPattern,
					 @IsAsset = 0,
					 @IsNonConsumable = 1,
					 @IsPattern = 0,
					 @DieId =@MethodId 
           
              
              DECLARE CastingAssembly CURSOR                
                    FOR                
                        SELECT --	Node.value('(PatternId )[1]', 'uniqueIdentifier') AS 'PatternId',  
								Node.value('(CastingId )[1]', 'uniqueIdentifier') AS 'CastingId' ,                            
                                Node.value('(Cavity )[1]', 'float') AS 'Cavity'                               
                                    
                        FROM    @AssemblyDetail.nodes('/DocumentElement/AssemblyDetail')                
                                AS TEMPXML ( Node )                
                    OPEN CastingAssembly ;               
                    FETCH NEXT FROM CastingAssembly INTO @CastinId,@NoOfCavities             
                  
                    WHILE  ( @@FETCH_STATUS = 0 )            
                        BEGIN     
								set @DieId = (select Dieid from CastingMaster where CastingId = @CastinId)
                            INSERT  INTO PatternCastingMapping                
                                    ( MappingId ,                
                                      PatternId ,                
                                      CastingId ,                
                                      NoOfCavities ,
                                      MethodId            
									)                
                            VALUES  ( NEWID() , 
									--@PurchaseItem_Id,  
									@DieId,
                                    @CastinId ,                
                                    @NoOfCavities ,
                                    @MethodId
									)                   
                                  
                            FETCH NEXT FROM CastingAssembly INTO @CastinId,@NoOfCavities
                            
                        END
                        
                        IF @@ERROR <> 0
                    ROLLBACK TRANSACTION
                    	                 
                    CLOSE CastingAssembly;                
                    DEALLOCATE CastingAssembly;     
             
               DECLARE CastingConsumption CURSOR                
                    FOR                
                        SELECT 	Node.value('(PatternId )[1]', 'uniqueIdentifier') AS 'PatternId',  
								Node.value('(ConsumptionQty )[1]', 'float') AS 'ConsumptionQty'                         
                          
                        FROM    @ConsumptionDetail.nodes('/DocumentElement/ConsumptionDetail')                
                                AS TEMPXML ( Node )                
                    OPEN CastingConsumption                
                    FETCH NEXT FROM CastingConsumption INTO @PatternId,@ConsumptionQty              
                  
                    WHILE  ( @@FETCH_STATUS = 0 )             
                        BEGIN                                                   
							INSERT INTO [BOQTrans]
									   ([BOQTransId]
									   ,[BOQID]      
									   ,[PurchaseItemId]
									   ,[Qty]
									   ,[CreatedBy]
									   ,[CreatedOn]
									   ,[EntityId]
									   ,QtyPerCasting
									  -- ,IsItemType
									   ,MetalId)									 
								 VALUES
									   (NEWID()	
									   ,@MethodId								  
									   ,@PatternId
									   ,@ConsumptionQty
									   ,@CreatedBy
									   ,GETDATE()
									   ,@EntityID
									   ,1
									  -- ,case when Ispattern
									   ,0
									  )  
                                  
                            FETCH NEXT FROM CastingConsumption INTO @PatternId,@ConsumptionQty   
                            
                        END
                                        
                    CLOSE CastingConsumption;                
                    DEALLOCATE CastingConsumption;  
                   
                   
                   DECLARE CastingMoldBox CURSOR                
                    FOR                
                        SELECT 	Node.value('(MoldBoxTypeId )[1]', 'int') AS 'MoldBoxTypeId',  
								Node.value('(MoldBoxLocationId )[1]', 'int') AS 'MoldBoxLocationId',
								Node.value('(TopRiserItemName )[1]', 'Varchar(100)') AS 'TopRiserItemName' ,
								Node.value('(TopRiserQty )[1]', 'float') AS 'TopRiserQty' ,
								Node.value('(TopRiserSize )[1]', 'Varchar(100)') AS 'TopRiserSize' ,
								Node.value('(PurchaseItemId )[1]', 'Varchar(100)') AS 'PurchaseItemId' 
								                         
                          
                        FROM    @MoldDetail.nodes('/DocumentElement/MoldDetail')                
                                AS TEMPXML ( Node )                
                    OPEN CastingMoldBox                
                    FETCH NEXT FROM CastingMoldBox INTO @MoldBoxTypeId,@MoldBoxLocationId ,@TopRiserItemName,@TopRiserQty,@TopRiserSize  ,@PurchaseItemId           
                  
                    WHILE  ( @@FETCH_STATUS = 0 )               
                        BEGIN   
							INSERT INTO [PatternMoldTopBottomDetail]
									   ([PatternMoldID]
									   ,[PatternID]
									   ,[PurchaseItemID]
									   ,[Qty]
									   ,[Size]
									   ,[TopBottom]
									   ,[ItemType]
									   ,[ItemName])
								 VALUES
									   (NEWID()
									   ,@MethodId
									  -- ,@PatternId
									  ,@PurchaseItemId
									   ,@TopRiserQty
									   ,@TopRiserSize
									   ,@MoldBoxLocationId
									   ,@MoldBoxTypeId
									   ,@TopRiserItemName)
                                  
                            FETCH NEXT FROM CastingMoldBox INTO @MoldBoxTypeId,@MoldBoxLocationId ,@TopRiserItemName,@TopRiserQty,@TopRiserSize,@PurchaseItemId
                            
                        END
                                        
                    CLOSE CastingMoldBox;                
                    DEALLOCATE CastingMoldBox; 
                    
                     INSERT  INTO dbo.MethodCoatingMaster
                        ( CoatID ,
                          WaxJobCardID ,
                          WaxCoatID ,
                          CoatName ,
                          CoatSpecification ,
                          DryTime ,
                          Humidity ,
                          RoomTemp ,
                          RoomTempUOM ,
                          Viscosity ,
                          PH ,
                          BacteriaCount ,
                          SrNo,
						  MaxDryTime,
						  MaxHumidity,
						  MaxRoomTemp,
						  MaxViscosity,
						  MaxPH,
						  MaxBacteriaCount,
						  IsIgnoreProduction
                        )
                        SELECT  NEWID() ,
                                @MethodId ,
                                Node.value('(CoatMasterId )[1]',
                                           'uniqueidentifier') AS 'CoatMasterId' ,
                                Node.value('(CoatName )[1]', 'varchar(50)') AS 'CoatName' ,
                                Node.value('(Specification )[1]',
                                           'varchar(100)') AS 'Specification' ,
                                Node.value('(DryTime )[1]', 'float') AS 'DryTime' ,
                                Node.value('(Humidity )[1]', 'varchar(50)') AS 'Humidity' ,
                                Node.value('(RoomTemp )[1]', 'varchar(50)') AS 'RoomTemp' ,
                                Node.value('(RoomTempUOM )[1]', 'int') AS 'RoomTempUOM' ,
                                Node.value('(Viscosity )[1]', 'varchar(50)') AS 'Viscosity' ,
                                Node.value('(PH )[1]', 'varchar(50)') AS 'PH' ,
                                Node.value('(BacteriaCount )[1]',
                                           'varchar(50)') AS 'BacteriaCount' ,
                                Node.value('(SrNo )[1]', 'int') AS 'SrNo',
								 Node.value('(MaxDryTime )[1]', 'float') AS 'MaxDryTime' ,
                                Node.value('(MaxHumidity )[1]', 'float') AS 'MaxHumidity' ,
                                Node.value('(MaxRoomTemp )[1]', 'float') AS 'MaxRoomTemp' ,
                                Node.value('(MaxViscosity )[1]', 'float') AS 'MaxViscosity' ,
                                Node.value('(MaxPH )[1]', 'float') AS 'MaxPH' ,
                                Node.value('(MaxBacteriaCount )[1]', 'float') AS 'MaxBacteriaCount' ,
								Node.value('(IsIgnoreProduction )[1]', 'bit') AS 'IsIgnoreProduction' 
                        FROM    @CoatingDetail.nodes('/DocumentElement/CoatingDetail')
                                AS TEMPXML ( Node )

                IF @@ERROR <> 0
                    ROLLBACK TRANSACTION   
                    
                    DECLARE ImagePath CURSOR                
        			    FOR                
        			      SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
								  Node.value('(SrNo)[1]', 'int') AS 'SrNo'
								  ,Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName'
        			        FROM    @ImagePathDetails.nodes('/DocumentElement/ImagePath') AS TEMPXML ( Node )                
        			                                    
        			    OPEN ImagePath;                
        			                        
        			    FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName              
        			    WHILE ( @@FETCH_STATUS = 0 )                
        			        BEGIN                                   
								EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id = @MethodId ,@OriginalName = @OriginalName
        			            
        			            FETCH NEXT FROM ImagePath INTO @Photo, @SrNo    ,@OriginalName                         
        			            IF @@ERROR <> 0                
        			                ROLLBACK TRANSACTION                
        			        END                
        			                                    
        			    CLOSE ImagePath;                
        			    DEALLOCATE ImagePath;
   if(@IsCastingGrossWtFromBunchWt =1 )
   begin
   EXEC Manage_Bunchweightdetail @Parameter = 1, @PatternId = @MethodId  ,@PatternBunchWeight=@BunchWeight   
   EXEC Update_AnotherMethodingGrossWt_ForMethodMaster  @MethodId= @MethodId  ,@BunchWeight=@BunchWeight 
   end  

                END TRY 
				 BEGIN Catch
						IF @@ERROR <> 0
						BEGIN
						 ROLLBACK TRANSACTION
			 				 return -1;
						END	
				END Catch
				  COMMIT TRANSACTION     
				                
						RETURN 1 ;
	END	
			
              
    IF @Parameter = 2        
       BEGIN  
       
			select PatternMaster.PatternId
				 ,PatternCode
			  from PatternMaster  
			WHERE	(@CustomerId IS NULL 
						OR PatternMaster.PatternId IN (SELECT PatternId FROM CustomerPatternMapping WHERE CustomerId = @CustomerId)
					) 
					AND (
						(@CastingID IS NULL 
							OR PatternMaster.PatternId IN (
								SELECT Dieid FROM dbo.CastingMaster WHERE CastingId = @CastingId
									AND (ParentID IS NULL OR ParentID = CAST(0x0 AS uniqueidentifier))
							)
						)
						OR (
							PatternMaster.PatternId IN (SELECT PatternId FROM dbo.PatternCastingMapping WHERE CastingId = @CastingId)
						)
					)
					AND ((@CastingName IS NULL 
							OR PatternMaster.PatternId IN (
									SELECT Dieid FROM dbo.CastingMaster WHERE CastingName = @CastingName  
									AND (ParentID IS NULL OR ParentID = CAST(0x0 AS uniqueidentifier)))
						) 
						OR (
							PatternMaster.PatternId IN (
								SELECT	PatternId FROM dbo.PatternCastingMapping 
										INNER JOIN CastingMaster ON CastingMaster.CastingId = PatternCastingMapping.CastingId 
								WHERE	CastingName = @CastingName 
										AND (ParentID IS NULL OR ParentID = CAST(0x0 AS uniqueidentifier)))
						) 
					) 
					AND (ISNULL(@PlantIdString, '') = '' 
						OR PatternMaster.PatternId IN (
							SELECT	PatternId FROM dbo.CustomerPatternMapping 
							WHERE	CustomerId IN (
										SELECT CustomerId FROM dbo.PlantCustomerMapping 
										WHERE	PlantId IN (
													SELECT Item FROM @Plant)
									)
						)
					) 
					AND (PatternMaster.EntityId = @EntityId)
					--AND IsPatternDummy = 0
					AND PatternMaster.IsPatDieWax = 2
			ORDER BY PatternCode
        END     
        
        
        
     IF @Parameter = 3   
                 
        BEGIN   
                     
              BEGIN TRANSACTION
         BEGIN TRY
                                
               Update PatternMaster
                 set  PatternCode =@MethodcardNo ,   
                      MoldLineID =@MoldLine,        
                      MoldProductionPerHours =@MoldProductionPerHours,                
                      sandTypeID =@SandTypeID,                
                      MoldboxId =@MoldboxId, 
					  CoatId=@CoatId ,    
                      MoldingProcessId =@MoldingProcessId, 
                      MoldProductionTime =@MoldProductionTime , 
                      SandWeight =@SandWeight, 
                      MoldValue = @MoldValue,
                      ModifiedBy = ModifiedBy,
                      ModifiedDate = GetDate()
                      
               where PatternId= @MethodId 
               
            --   set @PurchaseItem_Id = (select PatternId from PatternCastingMapping where MethodId= @MethodId )

               -- Update PurchaseItemMaster
               --  set  ItemName =@NameofAssembly ,   
               --       ItemCode =@NameofAssembly,   
               --       ModifiedBy = ModifiedBy,
               --       ModifiedOn = GetDate()                      
               --where DieID = @MethodId
			 set @PurchaseItem_Id =( select PurchaseItemId from PurchaseItemMaster  where DieID = @MethodId)
			                   
             EXEC PurchasePattern_Insert @PurchaseItem_Id = @PurchaseItem_Id,
             @ItemName=@NameofAssembly,
             @CreatedBy=@ModifiedBy,
             @EntityID=@EntityID,
             @IsPatternActive = 1,
             @ItemCode = @NameofAssembly,
			 @IsAsset = 1,
			 @IsNonConsumable = 1
			
               
  
                IF @@ERROR <> 0  
                    ROLLBACK TRANSACTION   
            
               
              Delete from PatternCastingMapping where MethodId= @MethodId             
              DECLARE CastingAssembly CURSOR                
                    FOR                
                        SELECT  Node.value('(CastingId )[1]', 'uniqueIdentifier') AS 'CastingId' ,                            
                                Node.value('(Cavity )[1]', 'float') AS 'Cavity'                               
                                    
                        FROM    @AssemblyDetail.nodes('/DocumentElement/AssemblyDetail')                
                                AS TEMPXML ( Node )                
                    OPEN CastingAssembly                
                    FETCH NEXT FROM CastingAssembly INTO @CastinId,@NoOfCavities               
                  
                    WHILE @@FETCH_STATUS = 0                
                        BEGIN      
						set @DieId = (select Dieid from CastingMaster where CastingId = @CastinId)
                             INSERT  INTO PatternCastingMapping                
                                    ( MappingId ,                
                                      PatternId ,                
                                      CastingId ,                
                                      NoOfCavities ,
                                      MethodId            
									)                
                            VALUES  ( NEWID() , 
									--@PurchaseItem_Id, 
									@DieId,
                                    @CastinId ,                
                                    @NoOfCavities ,
                                    @MethodId
									)                    
                                  
                            FETCH NEXT FROM CastingAssembly INTO @CastinId,@NoOfCavities  
                            
                        END
                                        
                    CLOSE CastingAssembly;                
                    DEALLOCATE CastingAssembly;    
                     
               Delete from BOQTrans where [BOQId] = @MethodId
               DECLARE CastingConsumption CURSOR                
                    FOR                
                        SELECT 	Node.value('(PatternId )[1]', 'uniqueIdentifier') AS 'PatternId',  
								Node.value('(ConsumptionQty )[1]', 'float') AS 'ConsumptionQty'                         
                          
                        FROM    @ConsumptionDetail.nodes('/DocumentElement/ConsumptionDetail')                
                                AS TEMPXML ( Node )                
                    OPEN CastingConsumption                
                    FETCH NEXT FROM CastingConsumption INTO @PatternId,@ConsumptionQty              
                  
                    WHILE @@FETCH_STATUS = 0                
                        BEGIN                                                   
							INSERT INTO [BOQTrans]
									   ([BOQTransId]
									   ,[BOQID]      
									   ,[PurchaseItemId]
									   ,[Qty]
									   ,[CreatedBy]
									   ,[CreatedOn]
									   ,[EntityId])									 
								 VALUES
									   (NEWID()	
									   ,@MethodId								  
									   ,@PatternId
									   ,@ConsumptionQty
									   ,@CreatedBy
									   ,GETDATE()
									   ,@EntityID
									  )  
                                  
                            FETCH NEXT FROM CastingConsumption INTO @PatternId,@ConsumptionQty   
                            
                        END
                                        
                    CLOSE CastingConsumption;                
                    DEALLOCATE CastingConsumption;    
			   
                    
                     Delete from PatternMoldTopBottomDetail where PatternID = @MethodId
                    
                      DECLARE CastingMoldBox CURSOR                
                    FOR                
                        SELECT 	Node.value('(MoldBoxTypeId )[1]', 'int') AS 'MoldBoxTypeId',  
								Node.value('(MoldBoxLocationId )[1]', 'int') AS 'MoldBoxLocationId',
								Node.value('(TopRiserItemName )[1]', 'Varchar(100)') AS 'TopRiserItemName' ,
								Node.value('(TopRiserQty )[1]', 'float') AS 'TopRiserQty' ,
								Node.value('(TopRiserSize )[1]', 'Varchar(100)') AS 'TopRiserSize' ,
								Node.value('(PurchaseItemId )[1]', 'Varchar(100)') AS 'PurchaseItemId' 
								                         
                          
                        FROM    @MoldDetail.nodes('/DocumentElement/MoldDetail')                
                                AS TEMPXML ( Node )                
                    OPEN CastingMoldBox                
                    FETCH NEXT FROM CastingMoldBox INTO @MoldBoxTypeId,@MoldBoxLocationId ,@TopRiserItemName,@TopRiserQty,@TopRiserSize,@PurchaseItemId             
                  
                    WHILE  ( @@FETCH_STATUS = 0 )               
                        BEGIN                                                   
							INSERT INTO [PatternMoldTopBottomDetail]
									   ([PatternMoldID]
									   ,[PatternID]
									   ,[PurchaseItemID]
									   ,[Qty]
									   ,[Size]
									   ,[TopBottom]
									   ,[ItemType]
									   ,[ItemName])
								 VALUES
									   (NEWID()
									   ,@MethodId
									  -- ,@PatternId
									  ,@PurchaseItemId
									   ,@TopRiserQty
									   ,@TopRiserSize
									   ,@MoldBoxLocationId
									   ,@MoldBoxTypeId
									   ,@TopRiserItemName)
                                  
                            FETCH NEXT FROM CastingMoldBox INTO @MoldBoxTypeId,@MoldBoxLocationId ,@TopRiserItemName,@TopRiserQty,@TopRiserSize,@PurchaseItemId
                            
                        END
                                        
                    CLOSE CastingMoldBox;                
                    DEALLOCATE CastingMoldBox; 
                    
                    
                      delete from MethodCoatingMaster where WaxJobCardID = @MethodId
                     INSERT  INTO MethodCoatingMaster
                        ( CoatID ,
                          WaxJobCardID ,
                          WaxCoatID ,
                          CoatName ,
                          CoatSpecification ,
                          DryTime ,
                          Humidity ,
                          RoomTemp ,
                          RoomTempUOM ,
                          Viscosity ,
                          PH ,
                          BacteriaCount ,
                          SrNo,
						  MaxDryTime,
						  MaxHumidity,
						  MaxRoomTemp,
						  MaxViscosity,
						  MaxPH,
						  MaxBacteriaCount,
						  IsIgnoreProduction
                        )
                        SELECT  NEWID() ,
                                @MethodId ,
                                Node.value('(CoatMasterId )[1]',
                                           'uniqueidentifier') AS 'CoatMasterId' ,
                                Node.value('(CoatName )[1]', 'varchar(50)') AS 'CoatName' ,
                                Node.value('(Specification )[1]',
                                           'varchar(100)') AS 'Specification' ,
                                Node.value('(DryTime )[1]', 'float') AS 'DryTime' ,
                                Node.value('(Humidity )[1]', 'varchar(50)') AS 'Humidity' ,
                                Node.value('(RoomTemp )[1]', 'varchar(50)') AS 'RoomTemp' ,
                                Node.value('(RoomTempUOM )[1]', 'int') AS 'RoomTempUOM' ,
                                Node.value('(Viscosity )[1]', 'varchar(50)') AS 'Viscosity' ,
                                Node.value('(PH )[1]', 'varchar(50)') AS 'PH' ,
                                Node.value('(BacteriaCount )[1]',
                                           'varchar(50)') AS 'BacteriaCount' ,
                                Node.value('(SrNo )[1]', 'int') AS 'SrNo',
								 Node.value('(MaxDryTime )[1]', 'float') AS 'MaxDryTime' ,
                                Node.value('(MaxHumidity )[1]', 'float') AS 'MaxHumidity' ,
                                Node.value('(MaxRoomTemp )[1]', 'float') AS 'MaxRoomTemp' ,
                                Node.value('(MaxViscosity )[1]', 'float') AS 'MaxViscosity' ,
                                Node.value('(MaxPH )[1]', 'float') AS 'MaxPH' ,
                                Node.value('(MaxBacteriaCount )[1]', 'float') AS 'MaxBacteriaCount' ,
								Node.value('(IsIgnoreProduction )[1]', 'bit') AS 'IsIgnoreProduction' 
                        FROM    @CoatingDetail.nodes('/DocumentElement/CoatingDetail')
                                AS TEMPXML ( Node )
      
					 IF @@ERROR <> 0
                    ROLLBACK TRANSACTION   
                    
                    DECLARE ImagePath CURSOR                
        			    FOR                
        			      SELECT  Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
								  Node.value('(SrNo)[1]', 'int') AS 'SrNo'
								  ,Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName'
        			        FROM    @ImagePathDetails.nodes('/DocumentElement/ImagePath') AS TEMPXML ( Node )                
        			                                    
        			    OPEN ImagePath;                
        			                        
        			    FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName              
        			    WHILE ( @@FETCH_STATUS = 0 )                
        			        BEGIN                                   
								EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id = @MethodId ,@OriginalName = @OriginalName
        			            
        			            FETCH NEXT FROM ImagePath INTO @Photo, @SrNo    ,@OriginalName                         
        			            IF @@ERROR <> 0                
        			                ROLLBACK TRANSACTION                
        			        END                
        			                                    
        			    CLOSE ImagePath;                
        			    DEALLOCATE ImagePath;   
        			    
        			    
        			         DECLARE DeleteImage CURSOR                
            FOR                
                SELECT  Node.value('(DeleteImage)[1]', 'varchar(max)') AS 'DeleteImage'                
                FROM    @ImageDelete.nodes('/DocumentElement/ImageDelete') AS TEMPXML ( Node )                
                                            
            OPEN DeleteImage;                
                                
            FETCH NEXT FROM DeleteImage INTO @DeleteImage                
            WHILE ( @@FETCH_STATUS = 0 )                
                BEGIN                                   
                                        
                    DELETE  FROM ImagePath                
                    WHERE   Id = @MethodId                
                            AND FilePath = @DeleteImage                
                                        
                                       
                                 
                    IF @@ERROR <> 0                
                        ROLLBACK TRANSACTION                
                                
                    FETCH NEXT FROM DeleteImage INTO @DeleteImage                
                    IF @@ERROR <> 0                
                        ROLLBACK TRANSACTION                
                END                  
            CLOSE DeleteImage;;                
            DEALLOCATE DeleteImage;;                   
		if(@IsCastingGrossWtFromBunchWt=1 )
		begin
		      EXEC Manage_Bunchweightdetail @Parameter = 1, @PatternId = @MethodId  ,@PatternBunchWeight=@BunchWeight  
			   EXEC Update_AnotherMethodingGrossWt_ForMethodMaster  @MethodId= @MethodId  ,@BunchWeight=@BunchWeight
        end          
            IF @@Error <> 0                
                ROLLBACK TRANSACTION   
        			     
			   END TRY 
				 BEGIN Catch
						IF @@ERROR <> 0
						BEGIN
						 ROLLBACK TRANSACTION
			 				 return -1;
						END	
				END Catch
				  COMMIT TRANSACTION  
						RETURN 1 ;
	   END	
       
              
     
      IF @Parameter = 4  -- jobcardNo autoincrement
            BEGIN
    
                SELECT  RIGHT('0000'
                              + CONVERT(VARCHAR(5), ISNULL(MAX(PatternCode), 0)
                              + 1), 5) AS JobCardNo
                FROM    PatternMaster
                WHERE   EntityId = @EntityId 
                and  IsDeleted = 0 
                and  IsMethod = 1 
            END
                        
                        
                         IF @Parameter = 5  -- Method data Edit time 
            BEGIN
            
					select  PatternMaster.PatternId ,                
						  PatternCode ,   
						  MoldLineID ,        
						  MoldProductionPerHours ,                
						  sandTypeID ,                
						  MoldboxId , 
						  CoatId ,    
						  MoldingProcessId , 
						  MoldProductionTime , 
						  SandWeight, 
						  MoldValue  ,
						  ISNULL(bwd.BunchWeight, 0) AS BunchWeight ,
						  RevisionNumber
					from PatternMaster   
						LEFT JOIN BunchWeightDetail AS bwd ON bwd.PatternID = PatternMaster.PatternId 
					where PatternMaster.PatternId = @MethodId
					
           END      
            
        	IF @Parameter = 6

				BEGIN	
							CREATE TABLE #MethodType (
							MethodId uniqueidentifier,				
							CastingId uniqueidentifier,
							Cavity int,
							SrNo int
						)
				
						DECLARE MethodType CURSOR FOR
				
					select DISTINCT PatternCastingMapping.MethodId
						
							from PatternCastingMapping
							inner join PatternMaster on PatternCastingMapping.MethodId = PatternMaster.PatternId
																			where  PatternMaster.IsDeleted = 0
																			and PatternMaster.EntityID = @EntityId
																			and PatternMaster.MaxVersion = 1

						OPEN MethodType;

						FETCH NEXT FROM MethodType INTO @MethodId

						WHILE (@@FETCH_STATUS = 0)
						BEGIN

							INSERT INTO #MethodType (MethodId,  CastingId, Cavity, SrNo)
							SELECT	MethodId, CastingId, NoOfCavities,
									(SELECT COUNT(*) FROM PatternCastingMapping WHERE MethodId = @MethodId) AS SrNo
							FROM	PatternCastingMapping
							WHERE	MethodId = @MethodId

							FETCH NEXT FROM MethodType INTO @MethodId
						END

						CLOSE MethodType

						DEALLOCATE MethodType;

						SELECT * FROM #MethodType ORDER BY MethodId ASC
						DROP TABLE #MethodType

			  End     

			   IF @Parameter = 7               
        BEGIN                
            SELECT	DISTINCT PurchaseItemMaster.PurchaseItemId as PatternId, PurchaseItemMaster.ItemCode as PatternCode
			FROM	PurchaseItemMaster
					INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
			WHERE	 PurchaseCompanyMapping.CompanyId = @EntityId		
					AND (( (IsBOQ = 1 Or IsMoldingMaterial = 1) and DieID IS NULL)  or (Ispattern = 1 and IsAsset=0) ) -- IsBOQ = 1 and DieID IS NULL - Specific dieid is null added because assembly is entering as BOQ but that should not come for consumption 
					-- And isasset = 0 added because Die is also entering as ispattern but that is asset that is notconsumable. pattern generated from die is consumable
					AND IsPatternDummy = 0	
			ORDER BY PatternCode
        END                  
   
   
		IF @Parameter = 8               
        BEGIN                
            	select	WaxPatternId,PurchaseItemMaster.ItemCode as PatternCode,UOM,IsPatDieWax
				from	castingMaster
						inner Join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId= castingMaster.WaxPatternId
						inner Join uomMaster on UomMaster.UOMId = PurchaseItemMaster.SecondaryUnitOfMeasure
				where	castingId = @castingId AND PurchaseItemMaster.IsPatternDummy = 0	
        END  
		
	   IF @Parameter = 9              
        BEGIN                
            	
		IF EXISTS 	(   Select ItemName from PurchaseItemMaster where ItemName=@NameofAssembly and PurchaseItemMaster.IsDeleted = 0 
					--and EmployeeType= 1
					)
			Return 1;
		else
			Return 0;

        END  

		END
      
            
  
GO
