USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ProductionTargetVSActualReport]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ProductionTargetVSActualReport] 
	@FromDate DATETIME = null,--'7-1-2022',
    @ToDate DATETIME = null,--'7-31-2022',
	@CastingName varchar(200) = NULL ,  
	@CastingID UNIQUEIDENTIFIER = NULL,
	@EntityId INT = 0, 
	@PlantIdString NVARCHAR(MAX)= null,-- '20',
	@ProcessId uniqueidentifier = null-- 'E3FE75E4-4990-4E7F-9D51-0B3A5990490A'
AS
BEGIN
	SET NOCOUNT ON;
	
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
		
	declare @Isdefalut bit = (select IsDefault from ProcessMaster  where  ProcessId = @ProcessId)
	if(@Isdefalut = 1 )
	begin
	select *,Convert(varchar(20),PDate , 106) as ProcessDate,
	(select CONVERT(VARCHAR(10), ( (  cast((TimeInHour * 3600) as int) % 86400 ) / 3600 ) + ((  cast((TimeInHour * 3600) as int) / 86400 ) * 24)) + 'h:'
		+ CONVERT(VARCHAR(10), ( ( (  cast((TimeInHour * 3600) as int) % 86400 ) % 3600 ) / 60 ))
		+ 'm') as  NoOfHours
	from(
	Select	CastingName,CastingCode,
			Cast(ProductionBatch.ProductionDate as DATE) as PDate,
			Round(((Cast(Sum(DATEDIFF(MINUTE, (cast(ProductionBatch.ProductionDate as datetime) + Cast(StartTime as DateTime)) 
					, (Cast(ProductionBatch.ProductionDate as Datetime) + Cast(EndTime as DAtetime))))  as float)/ 60) ),2)
					as TimeInHour,
			SUM(ProductionKnockoutTrans.TargetQty) as TargetQty,
			SUM(ProductionKnockoutTrans.productionqty) as ActualProdQty,
			( STUFF((	
				 SELECT  Distinct ',' + Reason              
						From	MsTimeDetail
								Inner Join ReasonMaster On ReasonMaster.ReasonID = MsTimeDetail.ReasonId
								--
								inner Join ProductionBatch PB On PB.batchID = MsTimeDetail.Knockoutid
								--Inner Join knockout PM On PM.batchid = PB.batchid
								
						Where	--PM.IsDeleted = 0 and
						 MsTimeDetail.Pagetype=1
						        --and PM.IsRework = 0 
								--AND EntityID = @EntityId
								And ( MsTimeDetail.MsProcessPerform = @ProcessId)
								--And PM.CastingID = knockout.CastingID
								--and Cast(ProductionBatch.ProductionDate as DATE) = Cast(PB.ProductionDate as DATE) 
								--and PM.operatorID = ProductionKnockoutTrans.operatorID
						FOR              
						XML PATH('')              
					), 1, 1, '') ) as Remarks,
			EmployeeDetails.EmployeeName +'('+EmployeeCode+')' as Operator,
			'' as MachineName
	From	knockout  
	        Inner join ProductionBatch on ProductionBatch.batchID = knockout.batchid 
	        inner join ProductionKnockoutTrans on ProductionKnockoutTrans.knockoutid = knockout.knockoutid
			Inner join CastingMaster On CastingMaster.CastingId= knockout.castingid 
			Left Join EmployeeDetails On EmployeeDetails.EmployeeId = ProductionKnockoutTrans.operatorID
			
	WHERE	knockout.IsDeleted = 0 
	        and knockout.batchid = ProductionBatch.batchID
			--and ProcessPerformMaster.IsRework = 0 
			and (@CastingID IS NULL OR knockout.castingid = @CastingID ) and
					(ProductionBatch.ProductionDate  BETWEEN cast(@FromDate as Date) and cast(@ToDate as DATE))
				AND (@PlantIdString IS NULL OR @PlantIdString = ''
							OR knockout.castingid IN (
								SELECT CastingId FROM dbo.PlantCastingMapping 
								where PlantId in (SELECT Item FROM @Plant))
						)
				AND ProductionBatch.EntityId = @EntityId
				--And ProcessID = @ProcessId
				
	Group by
		CastingName,CastingCode,Cast(ProductionBatch.ProductionDate as DATE),knockout.castingid,
			EmployeeDetails.EmployeeName,EmployeeCode,ProductionKnockoutTrans.operatorID
	) as a	
	Order by Operator , PDate ,CastingName , CastingCode
	
	end
	else
	begin
	 
	declare @cnt int
	
	 SELECT @cnt = COUNT(*) FROM ProcessMaster WHERE IsDefaultForging = 1 and ProcessId = @ProcessId
	
	If @cnt > 0
	BEGIN
	select *,Convert(varchar(20),PDate , 106) as ProcessDate,
	(select CONVERT(VARCHAR(10), ( (  cast((TimeInHour * 3600) as int) % 86400 ) / 3600 ) + ((  cast((TimeInHour * 3600) as int) / 86400 ) * 24)) + 'h:'
		+ CONVERT(VARCHAR(10), ( ( (  cast((TimeInHour * 3600) as int) % 86400 ) % 3600 ) / 60 ))
		+ 'm') as  NoOfHours
	from(
	Select	CastingName,CastingCode,
			Cast(ProductionBatch.ProductionDate as DATE) as PDate,
			Round(((Cast(Sum(DATEDIFF(MINUTE, (cast(ProductionBatch.ProductionDate as datetime) + Cast(StartTime as DateTime)) 
					, (Cast(ProductionBatch.EndDate as Datetime) + Cast(EndTime as DAtetime))))  as float)/ 60) ),2)
					as TimeInHour,
			SUM(knockout.TargetQty) as TargetQty,
			SUM(knockout.productionqty) as ActualProdQty,
			( STUFF((	SELECT  Distinct ',' + Reason              
						From	MsTimeDetail
								Inner Join ReasonMaster On ReasonMaster.ReasonID = MsTimeDetail.ReasonId
								Inner Join knockout PM On PM.knockoutid = MsTimeDetail.Knockoutid
								inner Join ProductionBatch PB On PB.batchID = PM.batchid
						Where	PM.IsDeleted = 0 and MsTimeDetail.Pagetype=0
						        --and PM.IsRework = 0 
								--AND EntityID = @EntityId
								And ( MsTimeDetail.MsProcessPerform = @ProcessId)
								And PM.CastingID = knockout.CastingID
								and Cast(ProductionBatch.ProductionDate as DATE) = Cast(PB.ProductionDate as DATE) 
								and PM.operatorID = knockout.operatorID
						FOR              
						XML PATH('')              
					), 1, 1, '') ) as Remarks,
			EmployeeDetails.EmployeeName +'('+EmployeeCode+')' as Operator,
			'' as MachineName
	From	knockout  
	        Inner join ProductionBatch on ProductionBatch.batchID = knockout.batchid 
			Inner join CastingMaster On CastingMaster.CastingId= knockout.castingid 
			Left Join EmployeeDetails On EmployeeDetails.EmployeeId = knockout.operatorID
			
	WHERE	knockout.IsDeleted = 0 
	        and knockout.batchid = ProductionBatch.batchID
			--and ProcessPerformMaster.IsRework = 0 
			and (@CastingID IS NULL OR knockout.castingid = @CastingID ) and
					(ProductionBatch.ProductionDate  BETWEEN cast(@FromDate as Date) and cast(@ToDate as DATE))
				AND (@PlantIdString IS NULL OR @PlantIdString = ''
							OR knockout.castingid IN (
								SELECT CastingId FROM dbo.PlantCastingMapping 
								where PlantId in (SELECT Item FROM @Plant))
						)
				AND ProductionBatch.EntityId = @EntityId
				--And ProcessID = @ProcessId
				
	Group by
			CastingName,CastingCode,Cast(ProductionBatch.ProductionDate as DATE),knockout.castingid,
			EmployeeDetails.EmployeeName,EmployeeCode,knockout.operatorID
	) as a	
	Order by Operator , PDate ,CastingName , CastingCode 
	END
	ELSE
	BEGIN
	select *,Convert(varchar(20),PDate , 106) as ProcessDate,
	(select CONVERT(VARCHAR(10), ( (  cast((TimeInHour * 3600) as int) % 86400 ) / 3600 ) + ((  cast((TimeInHour * 3600) as int) / 86400 ) * 24)) + 'h:'
		+ CONVERT(VARCHAR(10), ( ( (  cast((TimeInHour * 3600) as int) % 86400 ) % 3600 ) / 60 ))
		+ 'm') as  NoOfHours
	from(
	Select	CastingName,CastingCode,
			Cast(ProcessPerformMaster.ProcessPerformDate as DATE) as PDate,
			Round(((Cast(Sum(DATEDIFF(MINUTE, (cast(ProcessPerformDate as datetime) + Cast(StartTime as DateTime)) 
					, (Cast(ProcessPerformMaster.ProcessPerformEndDate as Datetime) + Cast(EndTime as DAtetime))))  as float)/ 60) ),2)
					as TimeInHour,
			SUM(ProcessPerformMaster.TargetQty) as TargetQty,
			SUM(ProcessPerformMaster.ProcessQty) as ActualProdQty,
			( STUFF((	SELECT  ',' + Reason              
						From	MsTimeDetail
								Inner Join ReasonMaster On ReasonMaster.ReasonID = MsTimeDetail.ReasonId
								Inner Join ProcessPerformMaster PM On PM.ProcessPerformID = MsTimeDetail.MsProcessPerform
						Where	PM.IsDeleted = 0 and PM.IsRework = 0 
								AND PM.EntityID = @EntityId
								And ( PM.ProcessID = @ProcessId)
								And PM.CastingID = ProcessPerformMaster.CastingID
								and Cast(PM.ProcessPerformDate as DATE) = Cast(ProcessPerformMaster.ProcessPerformDate as DATE) 
								and PM.ContractorID = ProcessPerformMaster.ContractorID
						FOR              
						XML PATH('')              
					), 1, 1, '') ) as Remarks,
			EmployeeDetails.EmployeeName +'('+EmployeeCode+')' as Operator,
			PurchaseItemMaster.ItemName as MachineName
	From	ProcessPerformMaster
			Inner join CastingMaster On CastingMaster.CastingId= ProcessPerformMaster.CastingID
			Left Join EmployeeDetails On EmployeeDetails.EmployeeId = ProcessPerformMaster.ContractorID
			left join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId = ProcessPerformMaster.MachineId
	WHERE	ProcessPerformMaster.IsDeleted = 0 
			and ProcessPerformMaster.IsRework = 0 
			and (@CastingID IS NULL OR ProcessPerformMaster.ParentID = @CastingID ) and
					(ProcessPerformMaster.ProcessPerformDate  BETWEEN cast(@FromDate as Date) and cast(@ToDate as DATE))
				AND (@PlantIdString IS NULL OR @PlantIdString = ''
							OR ProcessPerformMaster.ParentID IN (
								SELECT CastingId FROM dbo.PlantCastingMapping 
								where PlantId in (SELECT Item FROM @Plant))
						)
				AND ProcessPerformMaster.EntityID = @EntityId
				And ProcessID = @ProcessId
				
	Group by
			CastingName,CastingCode,Cast(ProcessPerformMaster.ProcessPerformDate as DATE),ProcessPerformMaster.CastingID,
			EmployeeDetails.EmployeeName,EmployeeCode , ProcessPerformMaster.ContractorID,PurchaseItemMaster.ItemName
	) as a	
	Order by Operator , PDate ,CastingName , CastingCode 
	END
	
	end
END
GO
