USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_BOMConsumptionBatchDetail]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--[dbo].[Fetch_BOMConsumptionBatchDetail] 412,78
CREATE  PROCEDURE [dbo].[Fetch_BOMConsumptionBatchDetail] 
	@BOMConsumptionID INT = 0, 
    @PlantId INT = 0
AS
    BEGIN
        SET NOCOUNT ON;
        
        Declare @Method int = 0,@EntityId int =0
        
        Select @EntityId = EntityID from BOMConsumption where BOMConsumptionID = @BOMConsumptionID
    Select @Method = InvMethodItem from configuration where EntityID = @EntityId

        SELECT  BOMConsumptionBatchId as ConsumptionBatchId,
                dbo.BOMConsumptionBatchWise.RawBatchId ,
                Quantity AS ConsumptionQty ,
                dbo.BOMConsumptionBatchWise.BOMConsumptionID ,
                dbo.RawInwBatchWiseStock.RawBatchId ,
                RawInwBatchWiseStock.RawBatchNo ,
                Stock ,
                Quantity + Stock AS BatchStock ,
                Cast(0 as float) AS TransactionQty ,
                Quantity AS ActualQty ,
                
                dbo.RawInwBatchWiseStock.PurchaseItemId
        FROM    dbo.BOMConsumptionBatchWise 
                INNER JOIN dbo.FloorBatchWiseStock ON dbo.FloorBatchWiseStock.RawBatchId = dbo.BOMConsumptionBatchWise.RawBatchId
													AND (@PlantId = 0 OR dbo.FloorBatchWiseStock.PlantId = @PlantId)
                INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.FloorBatchWiseStock.RawBatchId
                
                
                Left Join (select 
											ROW_NUMBER() over(Partition by rawBatchNo Order by InwardDate desc) as rw, 
											RawMaterialInward.InwardDate as InwDate,
											RawMaterialInwardDetail.RawBatchNo
									from	RawMaterialInwardDetail 
											INNER JOIN RawMaterialInward ON RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId
									WHERE	PurchaseItemId  in (select BOMConsumption.PurchaseItemId from BOMConsumption where BOMConsumptionID = @BOMConsumptionID)
											and RawMaterialInward.IsDeleted = 0 
											and RawMaterialInwardDetail.IsDeleted = 0 
											and RawMaterialInward.PlantId = @PlantId 
											and RawMaterialInward.EntityId = @EntityId
											and RawMaterialInward.IsTransfer = 0
									--order by InwardDate desc
									Union
									select	ROW_NUMBER() over(Partition by rawBatchNo Order by ProductionDate desc) as rw, 
											ProductionDate as InwDate,
											RawBatchNo 
									from	SandProduction 
									where	SandProduction.PurchaseItemId in (select BOMConsumption.PurchaseItemId from BOMConsumption where BOMConsumptionID = @BOMConsumptionID) and SandProduction.IsDeleted = 0 
											and SandProduction.PlantId = @PlantId AND SandProduction.EntityID = @EntityId  
                        ) 
                        as TabInw ON TabInw.RawBatchNo = RawInwBatchWiseStock.RawBatchNo and rw = 1
                        
               			
								
        WHERE   ( @BOMConsumptionID = 0 OR dbo.BOMConsumptionBatchWise.BOMConsumptionID = @BOMConsumptionID) 
		--Order by  dbo.BOMConsumptionBatchWise.RawBatchId , dbo.RawInwBatchWiseStock.PurchaseItemId
		ORDER BY --added by yashvant
				                     CASE WHEN (@Method = 0 OR @Method = 2)  THEN TabInw.InwDate END DESC,
				                     CASE WHEN (@Method = 0 OR @Method = 2)  THEN RawInwBatchWiseStock.RawBatchId END DESC,
				                     CASE WHEN @Method = 1 THEN TabInw.InwDate END ASC,
				                     CASE WHEN @Method = 1 THEN RawInwBatchWiseStock.RawBatchId END ASC
    END
GO
