USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PurchaseItemNameCode_SELECT]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[PurchaseItemNameCode_SELECT]
(
   @SeriesID int =0,
   @IsSampleSeries BIT = 0,
   @EntityId int = 0,
   @SysDepartmentID UNIQUEIDENTIFIER = NULL,
   @OnlyPurchaseItem int = 0,
   @PageName Nvarchar(200) = NULL,
   @PageType Nvarchar(200) = 'Issue',
   @PlantIdString Nvarchar(max) = NULL,
   @IsOnlyAssemblyMethod int = -1
)
AS
BEGIN
    
	 IF @PageName = 'MaterialIssue'
	 BEGIN
                DECLARE @ItemGroupID UNIQUEIDENTIFIER = ( SELECT TOP 1
                                                              PurchaseItemGroupId
                                                          FROM
                                                              InvoiceSeries
                                                          WHERE
                                                              InvoiceSeries.SeriesId = @SeriesID
                                                        )
        
        
                SELECT DISTINCT
                        PurchaseItemMaster.PurchaseItemId ,
                        PurchaseItemMaster.ItemName ,
                        PurchaseItemMaster.ItemCode
                FROM    PurchaseItemMaster
                        INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                WHERE   PurchaseItemMaster.IsDeleted = 0
						--AND CustomerPurchaseitemMappping.IsDeleted = 0
                        --AND CustomerPurchaseitemMappping.IsApproval = 1
                        AND ( @ItemGroupID IS NULL
                              OR PurchaseItemMaster.PurchaseItemGroupId = @ItemGroupID
                            )
                        AND ( @IsSampleSeries = 1
                              --OR CustomerPurchaseitemMappping.IsApproval = 1
								OR PurchaseItemMaster.PurchaseItemId NOT IN (
									SELECT	CustomerPurchaseitemMappping.PurchaseItemId FROM CustomerPurchaseitemMappping
									WHERE	CustomerPurchaseitemMappping.IsApproval IS NULL
											AND CustomerPurchaseitemMappping.PurchaseItemId NOT IN (
												SELECT ApprovedItemTbl.PurchaseItemId FROM CustomerPurchaseitemMappping AS ApprovedItemTbl 
												WHERE ApprovedItemTbl.IsApproval = 1
											)
								)
                            ) -- This will execute for non sample series. Sample 0 will execute this
                        AND ( @IsSampleSeries = 0
                              --OR CustomerPurchaseitemMappping.IsApproval IS NULL
                              OR PurchaseItemMaster.PurchaseItemId IN (
								SELECT	cpim.PurchaseItemId FROM CustomerPurchaseitemMappping AS cpim WHERE	cpim.IsApproval IS NULL
                              )
                            ) -- This will execute for sample series. Sample 1 will execue this
                        AND PurchaseCompanyMapping.CompanyId = @EntityID
                        and ( (@PageType = 'Issue' and PurchaseItemMaster.IsPattern = 0) OR (@PageType = 'Transfer') )
						And ISNULL(IsPatternDummy,0) = 0
						And IsEquipment =0
						and ( @IsOnlyAssemblyMethod = -1
						Or (@IsOnlyAssemblyMethod = 0 and PurchaseItemMaster.DieID is null)
						Or (@IsOnlyAssemblyMethod = 1 and PurchaseItemMaster.DieID is not null)
						)
                
							
				Order by ItemName
        
           
     END
	 ELSE IF @PageName = 'OPRMSTOCK'
	 BEGIN

	 declare @PatternIdTable table (Item UNIQUEIDENTIFIER) 
	 Insert into @PatternIdTable SELECT item  FROM CustomerPatternMappingFunction(@PlantIdString) 

	            SELECT	DISTINCT 
	                    CASE WHEN @PageType = 'PATTERN' THEN ItemCode ELSE ItemName END ItemName,  
                        ItemCode ,  
                        PurchaseItemMaster.PurchaseItemId  
                FROM    PurchaseItemMaster
                        Inner join PurchaseCompanyMapping ON  PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId 
						left join PurchaseItemDepartmentMapping on PurchaseItemDepartmentMapping.purchaseItemID = PurchaseItemMaster.PurchaseItemId                  
                WHERE   IsDeleted = 0  
						-- AND IsFoundryReturn = 'False'  
						And ISNULL(IsPatternDummy,0) = 0
						AND ( @SysDepartmentID IS NULL  
							 OR PurchaseItemDepartmentMapping.DepartmentID = @SysDepartmentID  
						   )
						AND ((@OnlyPurchaseItem = 1
							AND PurchaseItemMaster.IsReturnSand = 0
							)
							Or (@OnlyPurchaseItem=0)
						) 
						And IsEquipment =0 
						AND PurchaseCompanyMapping.CompanyId = @EntityId
						AND ( ((@PageType IS NULL OR  @PageType = 'RM') AND PurchaseItemMaster.IsPattern = 0 ) OR
						                (@PageType = 'PATTERN') AND PurchaseItemMaster.IsPattern = 1
										 AND ( @PlantIdString IS NULL      
                                          OR @PlantIdString = ''      
                                          OR dbo.PurchaseItemMaster.PurchaseItemId IN (      
                                           select item from @PatternIdTable ) ) 
										)
                ORDER BY ItemCode

		delete from @PatternIdTable; 

	 END

END
GO
