USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[OrderToStockMapping]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Hemani Vandra>
-- Create date: <28th June'19>
-- Description:	<this SP auto allocates the whole stock into pending order>
-- =============================================OrderToStockMapping 1, 'A48B2AB4-855C-44DD-B45B-522E3EEE1E6A'
CREATE PROCEDURE [dbo].[OrderToStockMapping]
	-- Add the parameters for the stored procedure here
	@Parameter INT = 0,
	@IsSearch BIT = 0,
	@CastingId UNIQUEIDENTIFIER = NULL,
	@CastingName VARCHAR(MAX) = NULL,
	@MetalId BIGINT = 0,
	@PlantIdString VARCHAR(MAX) = NULL,
	@EntityID INT = 0
AS
BEGIN

	IF @Parameter  = 1
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
IF (@IsSearch = 0)
BEGIN
--set all current Qty for PouringOrderDetails Table to 0
UPDATE		PouringOrderDetails
SET			CurrentQty = 0

--actual Query for automapping in pending production
DECLARE		@Stock_srno INT = 1, 
			@Order_srno INT = 1, 
			@SrNo INT = 0,
			@Stock_count INT = 0,
			@Order_count INT = 0,
			@Order_Maxcount INT = 0,
			@AvailStock BIGINT = 0,
			@OrderQty BIGINT = 0,
			@OriginalOrderedQty BIGINT = 0,
			@Count INT = 0,
			@OrderTranseId UNIQUEIDENTIFIER = NULL,
			@batchId INT = 0,
			@knockoutid BIGINT = 0,
			@Stock_curr_casting UNIQUEIDENTIFIER = NULL,
			@Stock_prev_casting UNIQUEIDENTIFIER = NUlL,
			@Stock_nxt_casting UNIQUEIDENTIFIER = NULL,
			@Stock_prev_metal BIGINT = 0,
			@Stock_curr_metal BIGINT = 0,
			@Stock_nxt_metal BIGINT = 0,
			@Order_curr_casting UNIQUEIDENTIFIER = NULL,
			@Order_prev_casting UNIQUEIDENTIFIER = NUlL,
			@Order_nxt_casting UNIQUEIDENTIFIER = NULL ;

DECLARE @StockTable TABLE
(
SrNo INT,
CastingID UNIQUEIDENTIFIER,
productionbatchID INT,
MetalID BIGINT,
knockoutid BIGINT,
BatchStock BIGINT,
PouringQty BIGINT,
RemainingBatchStock BIGINT
)
INSERT into @StockTable
SELECT  ROW_NUMBER() OVER (ORDER BY CastingID, MetalID, productionbatchID) AS SrNo,
		CastingID ,
        productionbatchID ,
        MetalID ,
        knockoutid ,
        BatchStock ,
        PouringQty ,
        RemainingBatchStock
FROM (
SELECT		StockTable.CastingID,
			StockTable.productionbatchID,
			StockTable.MetalID ,
			dbo.knockout.knockoutid,
			SUM(StockTable.BatchStock) AS BatchStock,
			ISNULL(PouringTable.PouringQty, 0) AS PouringQty,
			CASE WHEN (SUM(StockTable.BatchStock) - CASE WHEN ISNULL(PouringTable.PouringQty, 0)  < 0
			THEN 0 ELSE ISNULL(PouringTable.PouringQty, 0) END  ) > 0 THEN 
			SUM(StockTable.BatchStock) - CASE WHEN ISNULL(PouringTable.PouringQty, 0)  < 0
			THEN 0 ELSE ISNULL(PouringTable.PouringQty, 0) END ELSE 0 END AS RemainingBatchStock
FROM		(
			SELECT		CastingID,
						productionbatchID,
						MetalID,
						SUM(BatchStock) AS BatchStock
			FROM		(
				SELECT		ISNULL(CastingMaster.ParentID, CastingMaster.CastingId)CastingID,
							productionbatchID,
							CastingStockBatch.MetalID,
							SUM(BatchStock) AS BatchStock
				FROM		dbo.CastingStockBatch
							INNER JOIN CastingMaster
							ON CastingMaster.CastingId = CastingStockBatch.CastingID
				GROUP BY	CastingMaster.ParentID, 
							CastingMaster.CastingId,
							productionbatchID,
							CastingStockBatch.MetalID
				UNION ALL
				SELECT		ISNULL(CastingMaster.ParentID, CastingMaster.CastingId)CastingID,
							productionbatchID,
							CastingJOStockBatch.MetalID,
							SUM(BatchStock) AS BatchStock
				FROM		dbo.CastingJOStockBatch
							INNER JOIN CastingMaster
							ON CastingMaster.CastingId = CastingJOStockBatch.CastingID
				GROUP BY	CastingMaster.ParentID, 
							CastingMaster.CastingId,
							productionbatchID,
							CastingJOStockBatch.MetalID
			) AS a
			GROUP BY	CastingID,
						productionbatchID,
						MetalID
			HAVING		SUM(BatchStock) > 0
			) AS StockTable
			INNER JOIN dbo.CastingMaster
			ON dbo.CastingMaster.CastingId = StockTable.CastingID
			left JOIN dbo.knockout
			ON dbo.knockout.batchid = StockTable.productionbatchID
			and dbo.knockout.castingid = StockTable.CastingID
			AND dbo.knockout.IsDeleted = 0
			LEFT JOIN (
				SELECT		dbo.OrderTranse.CastingId,
							dbo.PouringOrderDetails.batchID,
							SUM(CASE WHEN dbo.PouringOrderDetails.CurrentQty < 0 THEN 0 ELSE dbo.PouringOrderDetails.CurrentQty END  ) 
							AS PouringQty
				FROM		dbo.PouringOrderDetails
							INNER JOIN dbo.OrderTranse
							ON dbo.OrderTranse.OrderTranseId = dbo.PouringOrderDetails.OrderTransId
							INNER JOIN dbo.ProductionBatch
							ON dbo.ProductionBatch.batchID = dbo.PouringOrderDetails.batchID
							LEFT JOIN dbo.knockout
							ON dbo.knockout.knockoutid = dbo.PouringOrderDetails.knockoutid
				WHERE		dbo.ProductionBatch.IsDeleted = 0
							AND dbo.OrderTranse.IsDeleted = 0
							AND IsDelivered = 0
							AND IsShortclose = 0 
				GROUP BY	dbo.OrderTranse.CastingId,
							dbo.PouringOrderDetails.batchID
			) AS PouringTable
			ON PouringTable.batchID = StockTable.productionbatchID
			AND PouringTable.CastingId = StockTable.CastingID
WHERE		( @CastingId IS NULL
				OR 	StockTable.CastingID = @CastingId
			)
			AND ( @MetalId = 0
					OR StockTable.MetalID = @MetalId 
			)
GROUP BY	StockTable.CastingID,
			StockTable.productionbatchID,
			PouringTable.PouringQty,
			StockTable.MetalID,
			dbo.knockout.knockoutid

) as a
WHERE	RemainingBatchStock > 0

--SELECT * FROM @StockTable

DECLARE @OrderTable TABLE
(
SrNo INT,
OrderTranseId UNIQUEIDENTIFIER,
CustomerOrderId UNIQUEIDENTIFIER,
SrNoForOrderTrans INT,
MetalID BIGINT,
ProductionGradeId INT,
OAno VARCHAR(MAX),
DeliveryDate VARCHAR(MAX),
CastingId UNIQUEIDENTIFIER,
CastingName VARCHAR(MAX),
CastingCode VARCHAR(MAX),
OrderedQty BIGINT,
RemainingOrderedQty BIGINT
)

DECLARE @PouringTable TABLE
(
ID UNIQUEIDENTIFIER,
OrderTransId UNIQUEIDENTIFIER,
batchID INT,
knockoutid BIGINT,
OrderedQty BIGINT,
FinalPendingQty BIGINT,
PendingQty BIGINT,
Qty BIGINT
)

SET @Stock_count = (SELECT COUNT(*) FROM @StockTable)

WHILE @Stock_count > 0 
BEGIN 

	SET @AvailStock = (SELECT RemainingBatchStock FROM @StockTable WHERE SrNo = @Stock_srno)
	SET @Stock_curr_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
	SET @Stock_prev_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno - 1)
	SET @Stock_nxt_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno + 1)
	SET @Stock_curr_metal = (SELECT MetalID FROM @StockTable WHERE SrNo = @Stock_srno)
	SET @Stock_nxt_metal = (SELECT MetalID FROM @StockTable WHERE SrNo = @Stock_srno + 1)
	
	--first entry in stock table or new castings
	IF @Stock_prev_casting IS NULL OR (@Stock_prev_metal  != @Stock_curr_metal OR  @Stock_prev_casting != @Stock_curr_casting)
	BEGIN 
	
		/*1.*/	DELETE FROM @OrderTable
				
		/*2.*/	INSERT INTO @OrderTable
				SELECT		ROW_NUMBER() OVER (ORDER BY dbo.OrderTranse.DeliveryDate, dbo.OrderTranse.OrderTranseId, dbo.OrderTranse.CastingId ASC) AS SrNo,
							dbo.OrderTranse.OrderTranseId,
							dbo.OrderTranse.CustomerOrderId,
							dbo.OrderTranse.SrNo AS SrNoForOrderTrans,
							dbo.OrderTranse.MetalID,
							dbo.MetalMaster.ProductionGradeId,
							dbo.OrderMaster.OAno,
							CONVERT (VARCHAR, dbo.OrderTranse.DeliveryDate, 106) AS DeliveryDate,
							dbo.OrderTranse.CastingId,
							dbo.CastingMaster.CastingName,
							dbo.CastingMaster.CastingCode,
							SUM(dbo.OrderTranse.RequiredQty) AS OrderedQty,
							CASE WHEN SUM(dbo.OrderTranse.RequiredQty) - 
							ISNULL(( SELECT SUM(dbo.dispatchtrans.dispatchqty)
                                                 FROM   dbo.dispatchtrans
                                                 WHERE  dbo.dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
                                                        AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
                                                        AND dispatchtrans.castingid = OrderTranse.CastingId
                                                        AND IsDeleted = 0
                                               ), 0)
							 - ISNULL(a.AlreadyPouredQty, 0)  > 0 THEN 
							SUM(dbo.OrderTranse.RequiredQty) -
							ISNULL(( SELECT SUM(dbo.dispatchtrans.dispatchqty)
                                                 FROM   dbo.dispatchtrans
                                                 WHERE  dbo.dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
                                                        AND dispatchtrans.castingid = OrderTranse.CastingId
                                                        AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
                                                        AND IsDeleted = 0
                                               ), 0)
							- ISNULL(a.AlreadyPouredQty, 0) ELSE 0 END 
							as RemainingOrderedQty
				FROM		dbo.OrderTranse
							INNER JOIN dbo.MetalMaster
							ON dbo.MetalMaster.MetalId = dbo.OrderTranse.MetalID
							INNER JOIN dbo.OrderMaster
							ON dbo.OrderMaster.CustomerOrderId = dbo.OrderTranse.CustomerOrderId
							INNER JOIN dbo.CastingMaster
							ON dbo.CastingMaster.CastingId = dbo.OrderTranse.CastingId
							LEFT JOIN (
								SELECT		dbo.PouringOrderDetails.OrderTransId,
											dbo.OrderTranse.CastingId,
											SUM(CASE WHEN dbo.PouringOrderDetails.CurrentQty  <0 THEN 0 ELSE dbo.PouringOrderDetails.CurrentQty END) 
											AS AlreadyPouredQty
								FROM		dbo.PouringOrderDetails
											INNER JOIN dbo.OrderTranse
											ON dbo.OrderTranse.OrderTranseId = dbo.PouringOrderDetails.OrderTransId
								WHERE		IsDeleted = 0
											and IsDelivered = 0
											AND IsShortclose = 0
								GROUP BY	dbo.PouringOrderDetails.OrderTransId,
											dbo.OrderTranse.CastingId
							) AS a
							ON a.CastingId = dbo.OrderTranse.CastingId
							AND a.OrderTransId = dbo.OrderTranse.OrderTranseId
				WHERE		dbo.CastingMaster.IsDeleted = 0
							and dbo.OrderMaster.IsDeleted = 0
							AND dbo.OrderTranse.IsDeleted = 0
							AND dbo.OrderTranse.IsDelivered = 0
							AND dbo.OrderTranse.IsShortclose = 0
							--AND IsScheduled = 0
							AND dbo.OrderMaster.maxversion = 1
							AND dbo.OrderTranse.CastingId = @Stock_curr_casting
							AND (dbo.OrderTranse.MetalID = @Stock_curr_metal OR dbo.MetalMaster.ProductionGradeId = @Stock_curr_metal)
				GROUP BY	dbo.OrderTranse.OrderTranseId,
							dbo.OrderMaster.OAno,
							dbo.OrderTranse.DeliveryDate,
							dbo.OrderTranse.CastingId,
							dbo.CastingMaster.CastingName,
							dbo.CastingMaster.CastingCode,
							a.AlreadyPouredQty,
							dbo.OrderTranse.MetalID,
							dbo.OrderTranse.CustomerOrderId,
							dbo.OrderTranse.SrNo,
							dbo.MetalMaster.ProductionGradeId
							
				SET @Order_srno = 1
		/*3.*/	SET @Order_curr_casting = (SELECT CastingId FROM @OrderTable WHERE SrNo = @Order_srno)
		
		/*4.*/	SET @Order_prev_casting = (SELECT CastingId FROM @OrderTable WHERE SrNo = @Order_srno - 1)
		
		/*5.*/	SET @Order_nxt_casting = (SELECT CastingId FROM @OrderTable WHERE SrNo = @Order_srno + 1)
		
		/*6.*/	SET @OrderQty = (SELECT RemainingOrderedQty FROM @OrderTable WHERE SrNo = @Order_srno)
				
		/*7.*/	SET @Order_count = (SELECT COUNT(*) FROM @OrderTable)
		
		/*8.*/	SET @Order_Maxcount = @Order_count
		
		/*9.*/	--when Perticular casting entry is not preset in the OrderTable
				IF @Order_count = 0
				BEGIN 
					SET @Count = (SELECT COUNT(*) FROM @StockTable WHERE CastingID = @Stock_curr_casting)
					SET @Stock_srno = @Stock_srno + @Count
					SET @Stock_count = @Stock_count - @Count
				END 
				
				--SELECT * FROM @OrderTable
	END
	
	--if Stock > 0 then and only then all these process starts otherwise it's just increment the counter in @StockTable
	IF @AvailStock  > 0
	BEGIN 
		
		WHILE @Order_count > 0
		BEGIN
		
			--set batchid and ordertransid for every entry, used while inserting the records for every cases
			IF @OrderQty < @AvailStock
			BEGIN 
				
				--insert record
				
				SELECT	@batchId = productionbatchID, @knockoutid = knockoutid
				FROM	@StockTable
				WHERE	SrNo = @Stock_srno
				
				SELECT	@OrderTranseId = OrderTranseId, @OriginalOrderedQty = OrderedQty, @SrNo = SrNo
				FROM	@OrderTable
				WHERE	SrNo = @Order_srno
			
				IF NOT EXISTS (SELECT * FROM @PouringTable WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0))
				BEGIN 
				
					INSERT INTO @PouringTable
					VALUES
					(
					NEWID(),
					@OrderTranseId,
					@batchId,
					@knockoutid,
					@OriginalOrderedQty,
					0 ,
					0 ,
					@OrderQty
					)
				END  
				ELSE 
				BEGIN 
					UPDATE @PouringTable SET Qty = 
					CASE WHEN PendingQty = 0 AND @SrNo = @Order_Maxcount THEN 
					Qty + @OrderQty ELSE Qty END 
					WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0)
					
				END 
				
				SET @AvailStock = @AvailStock - @OrderQty 
				SET @OrderQty = 0
				--to update the entry in @OrderTable
				UPDATE @OrderTable SET RemainingOrderedQty = 0 WHERE SrNo = @Order_srno
				SET @Order_srno = @Order_srno + 1
				SET @Order_count = @Order_count - 1
				
				--check whether next entry in @OrderTable exists or not.
				IF EXISTS(SELECT CastingId FROM @OrderTable WHERE SrNo = @Order_srno)
				BEGIN 
					SET @OrderQty = (SELECT RemainingOrderedQty FROM @OrderTable WHERE SrNo = @Order_srno)
				END 
				ELSE
				BEGIN
					SET @Order_srno = @Order_srno - 1
				END 
				
			END 
			
			IF @OrderQty = @AvailStock
			BEGIN 
				--inset the records first
				
				SELECT	@batchId = productionbatchID, @knockoutid = knockoutid
				FROM	@StockTable
				WHERE	SrNo = @Stock_srno
				
				SELECT	@OrderTranseId = OrderTranseId, @OriginalOrderedQty = OrderedQty, @SrNo = SrNo
				FROM	@OrderTable
				WHERE	SrNo = @Order_srno
				
				IF NOT EXISTS (SELECT * FROM @PouringTable WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0))
				BEGIN 
					INSERT INTO @PouringTable
					VALUES
					(
					NEWID(),
					@OrderTranseId,
					@batchId,
					@knockoutid,
					@OriginalOrderedQty,
					0 ,
					0 ,
					@OrderQty
					)
				END 
				ELSE 
				BEGIN 
					UPDATE @PouringTable SET Qty = CASE WHEN PendingQty = 0 AND @SrNo = @Order_Maxcount THEN 
					Qty + @OrderQty ELSE Qty END 
					WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0)
				END 
				
				SET @OrderQty = 0
				--update qty for perticular entry
				UPDATE @OrderTable SET RemainingOrderedQty = 0 WHERE SrNo = @Order_srno
				SET @Order_srno = @Order_srno + 1
				SET @Order_count = @Order_count - 1
				SET @Stock_curr_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
				SET @AvailStock = 0
				SET @Stock_count = @Stock_count - 1
				SET @Stock_srno = @Stock_srno + 1
				SET @Stock_nxt_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
				
				--check whether next entry in @OrderTable exists or not.
				IF EXISTS(SELECT CastingId FROM @OrderTable WHERE SrNo = @Order_srno)
				BEGIN 
					SET @OrderQty = (SELECT RemainingOrderedQty FROM @OrderTable WHERE SrNo = @Order_srno)
				END 
				ELSE
				BEGIN 
					SET @Order_srno = @Order_srno - 1
				END 
				
				--checks whether next casting in @StockTable is same as @OrderTables casting
				IF @Stock_curr_casting = @Stock_nxt_casting AND  @Stock_curr_metal = @Stock_nxt_metal 
				BEGIN 
					SET @AvailStock = (SELECT RemainingBatchStock FROM @StockTable WHERE SrNo = @Stock_srno)
				END
				ELSE
				BEGIN 
					SET @AvailStock = 0
					SET @Order_count = @Order_count - 1
					BREAK ;
				END 
			END 
			
			IF @OrderQty > @AvailStock
			BEGIN 
				
				--inset the records first
				
				SELECT	@batchId = productionbatchID, @knockoutid = knockoutid
				FROM	@StockTable
				WHERE	SrNo = @Stock_srno
				
				SELECT	@OrderTranseId = OrderTranseId, @OriginalOrderedQty = OrderedQty, @SrNo = SrNo
				FROM	@OrderTable
				WHERE	SrNo = @Order_srno
			
				IF NOT EXISTS (SELECT * FROM @PouringTable WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0))
				BEGIN 
					
					INSERT INTO @PouringTable
					VALUES
					(
					NEWID(),
					@OrderTranseId,
					@batchId,
					@knockoutid,
					@OriginalOrderedQty,
					CASE WHEN (@OrderQty - @AvailStock) > 0 THEN @OrderQty - @AvailStock ELSE 0 END,
					CASE WHEN (@OrderQty - @AvailStock) > 0 THEN @OrderQty - @AvailStock ELSE 0 END,
					@AvailStock
					)
					
				END 
				ELSE 
				BEGIN 
					UPDATE @PouringTable SET Qty = CASE WHEN PendingQty = 0 AND @SrNo = @Order_Maxcount THEN 
					Qty + @AvailStock ELSE Qty END 
					WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0)
				END
				
				SET @OrderQty = @OrderQty - @AvailStock
				--update qty in perticular entry
				UPDATE @OrderTable SET RemainingOrderedQty = @OrderQty - @AvailStock WHERE SrNo = @Order_srno
				
				SET @AvailStock = 0
				SET @Stock_curr_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
				SET @Stock_count = @Stock_count - 1
				SET @Stock_srno = @Stock_srno + 1
				SET @Stock_nxt_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
				
				--checks whether next casting in @StockTable is same as @OrderTables casting
				IF @Stock_curr_casting = @Stock_nxt_casting AND  @Stock_curr_metal = @Stock_nxt_metal 
				BEGIN 
					SET @AvailStock = (SELECT RemainingBatchStock FROM @StockTable WHERE SrNo = @Stock_srno)
				END
				ELSE
				BEGIN 
					SET @AvailStock = 0
					SET @Order_count = @Order_count - 1
					BREAK ;
				END 
			END 
		
			--when comes to the last entry of @OrderTable 
			--and still we have stock for that casting so assign the whole stock to this entry
			IF @Order_count <= 0 AND @AvailStock > 0
			BEGIN 
				
				--inset the records first
				SELECT	@batchId = productionbatchID, @knockoutid = knockoutid
				FROM	@StockTable
				WHERE	SrNo = @Stock_srno
				
				SELECT	@OrderTranseId = OrderTranseId, @OriginalOrderedQty = OrderedQty, @SrNo = SrNo
				FROM	@OrderTable
				WHERE	SrNo = @Order_srno
			
				IF NOT EXISTS (SELECT * FROM @PouringTable WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0))
				BEGIN 
				
					INSERT INTO @PouringTable
					VALUES
					(
					NEWID(),
					@OrderTranseId,
					@batchId,
					@knockoutid,
					@OriginalOrderedQty,
					0,
					0,
					@AvailStock
					)
				
				END 
				ELSE 
				BEGIN 
					UPDATE @PouringTable SET Qty = Qty + @AvailStock
					WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0)
				END 
				
				SET @Stock_curr_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
				SET @Stock_curr_metal = (SELECT metalid  FROM @StockTable WHERE SrNo = @Stock_srno)
				SET @Stock_count = @Stock_count - 1
				SET @Stock_srno = @Stock_srno + 1
				SET @Stock_nxt_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
				SET @Stock_nxt_metal = (SELECT metalid FROM @StockTable WHERE SrNo = @Stock_srno)
				SET @AvailStock = (SELECT RemainingBatchStock FROM @StockTable WHERE SrNo = @Stock_srno)
				
				IF (@Stock_curr_casting = @Stock_nxt_casting AND @Stock_curr_metal = @Stock_nxt_metal)
				BEGIN 
					SET @Order_count = 1
				END
				ELSE 
				BEGIN 
					SET @Order_count = 0 
				END
			END
		END 
	
	END 
	
END 

UPDATE	dbo.PouringOrderDetails
SET dbo.PouringOrderDetails.CurrentQty = dbo.PouringOrderDetails.CurrentQty + pt.Qty
--SELECT pt.OrderTransId, pt.batchID, pt.Qty
FROM (
	SELECT * FROM 
	@PouringTable AS ptTemp
	WHERE EXISTS (
			SELECT		1 
			FROM		dbo.PouringOrderDetails 
			WHERE		OrderTransId = ptTemp.OrderTransId 
						AND batchID = ptTemp.batchID
				)
) AS pt
WHERE pt.OrderTransId = PouringOrderDetails.OrderTransId
			AND pt.batchID = PouringOrderDetails.batchID
			AND pt.knockoutid = PouringOrderDetails.knockoutid
			
UPDATE		A 
SET			CurrentQty = 0 
FROM		dbo.PouringOrderDetails AS A
			INNER JOIN dbo.OrderTranse 
			ON dbo.OrderTranse.OrderTranseId = A.OrderTransId  
			AND dbo.OrderTranse.IsShortclose = 1


INSERT INTO dbo.PouringOrderDetails
        ( ID ,
          OrderTransId ,
          batchID ,
          knockoutid ,
          CurrentQty
        )
SELECT		ID,
			OrderTransId,
			batchID,
			knockoutid ,
			Qty 
FROM		@PouringTable AS pt
WHERE		NOT EXISTS (
				SELECT		1 
				FROM		dbo.PouringOrderDetails 
				WHERE		OrderTransId = pt.OrderTransId 
							AND batchID = pt.batchID
							AND knockoutid = pt.knockoutid
			)

SELECT  ROW_NUMBER()OVER (PARTITION BY castingid, OrderTranseId ORDER BY DeliveryDateNotForDisplay asc) as SrNo,
		
			OrderTranseId,
			case when IsShortclose = 1 THEN 1
			ELSE 0 END IsShortclose,
			CastingId,
			MetalID,
			CastingName,
			CastingCode,
			DeliveryDate,
			OrderedQty,
			Qty,
			batchID,
			HeatNo,
			TotalPouredQty,
			PendingQty,
			OAno
FROM 
(
SELECT		
dbo.OrderTranse.OrderTranseId,
			dbo.OrderTranse.IsShortclose,
			dbo.OrderTranse.CastingId,
			dbo.OrderTranse.MetalID,
			dbo.CastingMaster.CastingName,
			dbo.CastingMaster.CastingCode,
			CONVERT(VARCHAR, dbo.OrderTranse.DeliveryDate, 106) AS DeliveryDate, 
			 dbo.OrderTranse.DeliveryDate as  DeliveryDateNotForDisplay,
			SUM(dbo.OrderTranse.RequiredQty) 
			AS OrderedQty,
			ISNULL(dbo.PouringOrderDetails.Qty, 0) AS Qty,
			dbo.PouringOrderDetails.batchID,
			dbo.ProductionBatch.batchno as HeatNo,
			ISNULL(a.Qty, 0) as TotalPouredQty,
			CASE WHEN 
			(SUM(dbo.OrderTranse.RequiredQty)-
            ISNULL(( SELECT SUM(dbo.dispatchtrans.dispatchqty)
                                                 FROM   dbo.dispatchtrans
                                                 WHERE  dbo.dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
                                                        AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
                                                        AND IsDeleted = 0
                                               ), 0) -
            CASE WHEN ISNULL(Stock.Stock, 0) = 0 THEN 0
            ELSE ISNULL(a.Qty, 0) END ) > 0
            THEN SUM(dbo.OrderTranse.RequiredQty)-
            ISNULL(( SELECT SUM(dbo.dispatchtrans.dispatchqty)
                                                 FROM   dbo.dispatchtrans
                                                 WHERE  dbo.dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
                                                        AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
                                                        AND IsDeleted = 0
                                               ), 0) -
            CASE WHEN ISNULL(Stock.Stock, 0) = 0 THEN 0
            ELSE ISNULL(a.Qty, 0) END 
            ELSE 0 END 
			as PendingQty,
			ISNULL(dbo.OrderMaster.Prefix, '')+ ISNULL(OrderMaster.Separator, '')
			+ISNULL(dbo.OrderMaster.OASrno, '')+ ISNULL(OrderMaster.Separator, '')
			+ISNULL(dbo.OrderMaster.Suffix, '') AS OAno
FROM		dbo.OrderTranse
			INNER JOIN dbo.OrderMaster
			ON dbo.OrderMaster.CustomerOrderId = dbo.OrderTranse.CustomerOrderId
			INNER JOIN dbo.CastingMaster
			ON dbo.CastingMaster.CastingId = dbo.OrderTranse.CastingId
			LEFT JOIN dbo.PouringOrderDetails
			ON dbo.PouringOrderDetails.OrderTransId = dbo.OrderTranse.OrderTranseId
			LEFT JOIN dbo.ProductionBatch
			ON dbo.ProductionBatch.batchID = dbo.PouringOrderDetails.batchID
			LEFT JOIN (
				SELECT		dbo.PouringOrderDetails.OrderTransId,
							SUM(CASE WHEN Qty < 0 THEN 0 else Qty END) as Qty
				FROM		dbo.PouringOrderDetails
							INNER JOIN dbo.ProductionBatch
							ON dbo.ProductionBatch.batchID = dbo.PouringOrderDetails.batchID
				--WHERE OrderTransId = '1413F5A4-E25F-4320-B807-11AC6A9687BC'
				WHERE		(@PlantIdString IS NULL 
									OR @PlantIdString = ''
									OR dbo.ProductionBatch.PlantID IN (
										SELECT * FROM dbo.SplitString(@PlantIdString, ',') )
							)
							AND dbo.ProductionBatch.EntityId = @EntityID
				GROUP BY	dbo.PouringOrderDetails.OrderTransId
			) AS a
			ON a.OrderTransId = dbo.OrderTranse.OrderTranseId
			LEFT JOIN (
				SELECT		dbo.CastingStockBatch.castingid,
							dbo.CastingStockBatch.MetalID,
							SUM(CASE WHEN BatchStock< 0 THEN 0 ELSE BatchStock END) AS Stock 
				FROM		dbo.CastingStockBatch
							INNER JOIN dbo.CastingMaster
							ON dbo.CastingMaster.CastingId = dbo.CastingStockBatch.CastingID
				WHERE		( @PlantIdString IS NULL
								  OR @PlantIdString = ''
								  OR CastingMaster.CastingId IN (
								  SELECT    CastingId
								  FROM      dbo.PlantCastingMapping
											INNER JOIN dbo.SplitString(@PlantIdString,
																  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
							)
							AND CastingMaster.EntityID = @EntityId
				GROUP BY	dbo.CastingStockBatch.castingid,
							dbo.CastingStockBatch.MetalID
			) AS Stock
			ON Stock.castingid = dbo.OrderTranse.CastingId
			AND Stock.MetalID = dbo.OrderTranse.MetalID
WHERE		dbo.OrderMaster.IsDeleted = 0
			AND dbo.OrderTranse.IsDeleted = 0
			AND IsDelivered = 0
			AND ( @CastingId IS NULL OR
					dbo.OrderTranse.CastingId = @CastingId 
				)
			AND ( @MetalId = 0 OR	
					dbo.OrderTranse.MetalID = @MetalId
				)
			AND (@PlantIdString IS NULL 
					OR @PlantIdString = ''
					OR dbo.OrderMaster.PlantID IN (
						SELECT * FROM dbo.SplitString(@PlantIdString, ',') )
				)
			AND dbo.OrderMaster.EntityId = @EntityID
GROUP BY	dbo.OrderTranse.OrderTranseId,
			dbo.OrderTranse.DeliveryDate,
			dbo.OrderTranse.CastingId,
			dbo.CastingMaster.CastingName,
			dbo.CastingMaster.CastingCode,
			dbo.PouringOrderDetails.batchID,
			dbo.ProductionBatch.batchno,
			a.Qty,
			dbo.PouringOrderDetails.Qty,
			dbo.OrderTranse.MetalID,
			Stock.Stock,
			dbo.OrderMaster.Prefix,
			OrderMaster.Separator,
			dbo.OrderMaster.OASrno,
			dbo.OrderMaster.Suffix,
			dbo.OrderTranse.MetalID,
			dbo.OrderTranse.IsShortclose,
			dbo.OrderTranse.CustomerOrderId,
            dbo.OrderTranse.SrNo
 ) AS b       
WHERE PendingQty > 0
	AND b.IsShortclose = 0
ORDER BY	DeliveryDateNotForDisplay


END 

IF (@IsSearch = 1)
BEGIN 

--SELECT  ROW_NUMBER()OVER (PARTITION BY castingid, OrderTranseId ORDER BY DeliveryDateNotForDisplay asc) as SrNo,

SELECT ROW_NUMBER()OVER (PARTITION BY castingid, OrderTranseId ORDER BY DeliveryDateNotForDisplay asc) as SrNo,
	OrderTranseId,
			CastingId,
			case when IsShortclose = 1 THEN 1
			ELSE 0 END IsShortclose,
			MetalID,
			CastingName,
			CastingCode,
			DeliveryDate,
			OrderedQty,
			Qty,
			batchID,
			HeatNo,
			TotalPouredQty,
			CASE WHEN IsShortclose = 1 THEN 0 ELSE 
			PendingQty END  AS PendingQty,
			OAno,
			DeliveryDateNotForDisplay
FROM 
(
SELECT		
dbo.OrderTranse.OrderTranseId,
IsShortclose,
			dbo.OrderTranse.CastingId,
			dbo.OrderTranse.MetalID,
			dbo.CastingMaster.CastingName,
			dbo.CastingMaster.CastingCode,
			CONVERT(VARCHAR, dbo.OrderTranse.DeliveryDate, 106) AS DeliveryDate, 
			 dbo.OrderTranse.DeliveryDate as  DeliveryDateNotForDisplay,
			SUM(dbo.OrderTranse.RequiredQty) 
			AS OrderedQty,
			ISNULL(dbo.PouringOrderDetails.Qty, 0) AS Qty,
			dbo.PouringOrderDetails.batchID,
			dbo.ProductionBatch.batchno as HeatNo,
			ISNULL(a.Qty, 0) as TotalPouredQty,
			CASE WHEN IsShortclose = 1 THEN 0 ELSE 
			CASE WHEN 
			(SUM(dbo.OrderTranse.RequiredQty)-
            ISNULL(( SELECT SUM(dbo.dispatchtrans.dispatchqty)
                                                 FROM   dbo.dispatchtrans
                                                 WHERE  dbo.dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
                                                        AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
                                                        AND IsDeleted = 0
                                               ), 0) 
                                               
            --                                   -
            --CASE WHEN ISNULL(Stock.Stock, 0) = 0 THEN 0
            --ELSE ISNULL(a.Qty, 0) END 
            )> 0
            THEN SUM(dbo.OrderTranse.RequiredQty)-
            ISNULL(( SELECT SUM(dbo.dispatchtrans.dispatchqty)
                                                 FROM   dbo.dispatchtrans
                                                 WHERE  dbo.dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
                                                        AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
                                                        AND IsDeleted = 0
                                               ), 0) 
            --                                   -
            --CASE WHEN ISNULL(Stock.Stock, 0) = 0 THEN 0
            --ELSE ISNULL(a.Qty, 0) END 
            ELSE 0 END 
            end  
			as PendingQty,
			ISNULL(dbo.OrderMaster.Prefix, '')+ ISNULL(OrderMaster.Separator, '')
			+ISNULL(dbo.OrderMaster.OAno, '')+ ISNULL(OrderMaster.Separator, '')
			+ISNULL(dbo.OrderMaster.Suffix, '') AS OAno
FROM		dbo.OrderTranse
			INNER JOIN dbo.OrderMaster
			ON dbo.OrderMaster.CustomerOrderId = dbo.OrderTranse.CustomerOrderId
			INNER JOIN dbo.CastingMaster
			ON dbo.CastingMaster.CastingId = dbo.OrderTranse.CastingId
			LEFT JOIN dbo.PouringOrderDetails
			ON dbo.PouringOrderDetails.OrderTransId = dbo.OrderTranse.OrderTranseId
			LEFT JOIN dbo.ProductionBatch
			ON dbo.ProductionBatch.batchID = dbo.PouringOrderDetails.batchID
			LEFT JOIN (
				SELECT		dbo.PouringOrderDetails.OrderTransId,
							SUM(CASE WHEN Qty < 0 THEN 0 else Qty END) as Qty
				FROM		dbo.PouringOrderDetails
							INNER JOIN dbo.ProductionBatch
							ON dbo.ProductionBatch.batchID = dbo.PouringOrderDetails.batchID
				--WHERE OrderTransId = '1413F5A4-E25F-4320-B807-11AC6A9687BC'
				WHERE		(@PlantIdString IS NULL 
									OR @PlantIdString = ''
									OR dbo.ProductionBatch.PlantID IN (
										SELECT * FROM dbo.SplitString(@PlantIdString, ',') )
							)
							AND dbo.ProductionBatch.EntityId = @EntityID
				GROUP BY	dbo.PouringOrderDetails.OrderTransId
			) AS a
			ON a.OrderTransId = dbo.OrderTranse.OrderTranseId
			LEFT JOIN (
				SELECT		dbo.CastingStockBatch.castingid,
							dbo.CastingStockBatch.MetalID,
							SUM(CASE WHEN BatchStock< 0 THEN 0 ELSE BatchStock END) AS Stock 
				FROM		dbo.CastingStockBatch
							INNER JOIN dbo.CastingMaster
							ON dbo.CastingMaster.CastingId = dbo.CastingStockBatch.CastingID
				WHERE		( @PlantIdString IS NULL
								  OR @PlantIdString = ''
								  OR CastingMaster.CastingId IN (
								  SELECT    CastingId
								  FROM      dbo.PlantCastingMapping
											INNER JOIN dbo.SplitString(@PlantIdString,
																  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
							)
							AND CastingMaster.EntityID = @EntityId
				GROUP BY	dbo.CastingStockBatch.castingid,
							dbo.CastingStockBatch.MetalID
			) AS Stock
			ON Stock.castingid = dbo.OrderTranse.CastingId
			AND Stock.MetalID = dbo.OrderTranse.MetalID
WHERE		dbo.OrderMaster.IsDeleted = 0
			AND dbo.OrderTranse.IsDeleted = 0
			AND IsDelivered = 0
			AND 
			( @CastingId IS NULL OR
					dbo.OrderTranse.CastingId = @CastingId
				)
			AND ( @MetalId = 0 OR	
					dbo.OrderTranse.MetalID = @MetalId
				)
			AND (@PlantIdString IS NULL 
					OR @PlantIdString = ''
					OR dbo.OrderMaster.PlantID IN (
						SELECT * FROM dbo.SplitString(@PlantIdString, ',') )
				)
			AND dbo.OrderMaster.EntityId = @EntityID
GROUP BY	dbo.OrderTranse.OrderTranseId,
			dbo.OrderTranse.DeliveryDate,
			dbo.OrderTranse.CastingId,
			dbo.CastingMaster.CastingName,
			dbo.CastingMaster.CastingCode,
			dbo.PouringOrderDetails.batchID,
			dbo.ProductionBatch.batchno,
			a.Qty,
			dbo.PouringOrderDetails.Qty,
			IsShortclose,
			dbo.OrderTranse.MetalID,
			Stock.Stock,
			dbo.OrderMaster.Prefix,
			OrderMaster.Separator,
			dbo.OrderMaster.OAno,
			dbo.OrderMaster.Suffix,
			dbo.OrderTranse.MetalID,
			dbo.OrderTranse.CustomerOrderId,
            dbo.OrderTranse.SrNo
 ) AS b       
WHERE PendingQty > 0
OR (IsShortclose = 1 and Qty > 0)
ORDER BY DeliveryDateNotForDisplay

end 

END
IF @Parameter = 2------------display castingname
BEGIN 

	SELECT		DISTINCT 
				dbo.CastingMaster.CastingName
	FROM		dbo.OrderTranse
				INNER JOIN dbo.CastingMaster
				ON dbo.CastingMaster.CastingId = dbo.OrderTranse.CastingID
	WHERE		dbo.CastingMaster.IsDeleted = 0
				AND dbo.OrderTranse.IsDeleted = 0
				AND ( @PlantIdString IS NULL
						OR @PlantIdString = ''
						OR dbo.CastingMaster.CastingId IN (
							SELECT    CastingId
							FROM      dbo.PlantCastingMapping
									  INNER JOIN dbo.SplitString(@PlantIdString,
											 ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
					)
				AND CastingMaster.EntityID = @EntityId
	
END 

IF @Parameter = 3------------display castingcode
BEGIN 

	SELECT		DISTINCT 
				dbo.CastingMaster.CastingID as CastingId,
				dbo.CastingMaster.CastingCode,
				dbo.CastingMaster.CastingName
	FROM		dbo.OrderTranse
				INNER JOIN dbo.CastingMaster
				ON dbo.CastingMaster.CastingId = dbo.OrderTranse.CastingID
	WHERE		dbo.CastingMaster.IsDeleted = 0
				AND dbo.OrderTranse.IsDeleted = 0
				AND ( @PlantIdString IS NULL
						OR @PlantIdString = ''
						OR dbo.CastingMaster.CastingId IN (
							SELECT    CastingId
							FROM      dbo.PlantCastingMapping
									  INNER JOIN dbo.SplitString(@PlantIdString,
											 ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
					)
				AND CastingMaster.EntityID = @EntityId

END 

IF (@Parameter = 4)-------------casting name to code
BEGIN 

        SELECT		DISTINCT 
					dbo.CastingMaster.CastingID AS CastingId,
					dbo.CastingMaster.CastingCode  AS CastingCode
		FROM		dbo.OrderTranse
					INNER JOIN dbo.CastingMaster
					ON dbo.CastingMaster.CastingId = dbo.OrderTranse.CastingID
		WHERE		dbo.CastingMaster.IsDeleted = 0
					AND dbo.OrderTranse.IsDeleted = 0
					AND dbo.CastingMaster.CastingName = @CastingName
					AND ( @PlantIdString IS NULL
						OR @PlantIdString = ''
						OR dbo.CastingMaster.CastingId IN (
							SELECT    CastingId
							FROM      dbo.PlantCastingMapping
									  INNER JOIN dbo.SplitString(@PlantIdString,
											 ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
					)
					AND CastingMaster.EntityID = @EntityId

END 

IF (@Parameter = 5)--------------casting code to name
BEGIN 

        SELECT		DISTINCT 
					dbo.CastingMaster.CastingID AS CastingId,
					dbo.CastingMaster.CastingName  AS CastingName
		FROM		dbo.OrderTranse
					INNER JOIN dbo.CastingMaster
					ON dbo.CastingMaster.CastingId = dbo.OrderTranse.CastingID
		WHERE		dbo.CastingMaster.IsDeleted = 0
					AND dbo.OrderTranse.IsDeleted = 0
					AND dbo.CastingMaster.CastingID = @CastingId
					AND ( @PlantIdString IS NULL
						OR @PlantIdString = ''
						OR dbo.CastingMaster.CastingId IN (
							SELECT    CastingId
							FROM      dbo.PlantCastingMapping
									  INNER JOIN dbo.SplitString(@PlantIdString,
											 ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) )
					)
					AND CastingMaster.EntityID = @EntityId

END 

IF (@Parameter = 6)--------------display metalname
BEGIN 

		SELECT		DISTINCT
					dbo.MetalMaster.MetalID,
					dbo.MetalMaster.MetalName
		FROM		dbo.CastingGradeStock
					INNER JOIN dbo.MetalMaster
					ON dbo.MetalMaster.MetalId = dbo.CastingGradeStock.MetalID
		WHERE		dbo.MetalMaster.IsDeleted = 0
					AND dbo.CastingGradeStock.Stock > 0

END 

END
--ALTER PROCEDURE [dbo].[OrderToStockMapping]
--	-- Add the parameters for the stored procedure here
--	@Parameter INT = 0,
--	@CastingId UNIQUEIDENTIFIER = NULL,
--	@CastingName VARCHAR(MAX) = NULL,
--	@MetalId BIGINT = 0 
--AS
--BEGIN
	
	
--	IF @Parameter  = 1
--BEGIN

--DECLARE		@Stock_srno INT = 1, 
--			@Order_srno INT = 1, 
--			@SrNo INT = 0,
--			@Stock_count INT = 0,
--			@Order_count INT = 0,
--			@Order_Maxcount INT = 0,
--			@AvailStock BIGINT = 0,
--			@OrderQty BIGINT = 0,
--			@OriginalOrderedQty BIGINT = 0,
--			@Count INT = 0,
--			@OrderTranseId UNIQUEIDENTIFIER = NULL,
--			@batchId INT = 0,
--			@knockoutid BIGINT = 0,
--			@Stock_curr_casting UNIQUEIDENTIFIER = NULL,
--			@Stock_prev_casting UNIQUEIDENTIFIER = NUlL,
--			@Stock_nxt_casting UNIQUEIDENTIFIER = NULL,
--			@Stock_prev_metal BIGINT = 0,
--			@Stock_curr_metal BIGINT = 0,
--			@Stock_nxt_metal BIGINT = 0,
--			@Order_curr_casting UNIQUEIDENTIFIER = NULL,
--			@Order_prev_casting UNIQUEIDENTIFIER = NUlL,
--			@Order_nxt_casting UNIQUEIDENTIFIER = NULL ;

--DECLARE @StockTable TABLE
--(
--SrNo INT,
--CastingID UNIQUEIDENTIFIER,
--productionbatchID INT,
--MetalID BIGINT,
--knockoutid BIGINT,
--BatchStock BIGINT,
--PouringQty BIGINT,
--RemainingBatchStock BIGINT
--)
--INSERT into @StockTable
--SELECT  ROW_NUMBER() OVER (ORDER BY CastingID, MetalID, productionbatchID) AS SrNo,
--		CastingID ,
--        productionbatchID ,
--        MetalID ,
--        knockoutid ,
--        BatchStock ,
--        PouringQty ,
--        RemainingBatchStock
--FROM (
--SELECT		dbo.CastingStockBatch.CastingID,
--			dbo.CastingStockBatch.productionbatchID,
--			dbo.CastingStockBatch.MetalID ,
--			dbo.knockout.knockoutid,
--			SUM(dbo.CastingStockBatch.BatchStock) AS BatchStock,
--			 ISNULL(PouringTable.PouringQty, 0) AS PouringQty,
--			CASE WHEN (SUM(dbo.CastingStockBatch.BatchStock) - CASE WHEN ISNULL(PouringTable.PouringQty, 0)  < 0
--			THEN 0 ELSE ISNULL(PouringTable.PouringQty, 0) END  ) > 0 THEN 
--			SUM(dbo.CastingStockBatch.BatchStock) - CASE WHEN ISNULL(PouringTable.PouringQty, 0)  < 0
--			THEN 0 ELSE ISNULL(PouringTable.PouringQty, 0) END ELSE 0 END AS RemainingBatchStock
--FROM		dbo.CastingStockBatch
--			left JOIN dbo.knockout
--			ON dbo.knockout.batchid = dbo.CastingStockBatch.productionbatchID
--			and dbo.knockout.castingid = dbo.CastingStockBatch.CastingID
--			AND IsDeleted = 0
--			LEFT JOIN (
--				SELECT		dbo.OrderTranse.CastingId,
--							dbo.PouringOrderDetails.batchID,
--							SUM(CASE WHEN dbo.PouringOrderDetails.Qty < 0 THEN 0 ELSE dbo.PouringOrderDetails.Qty END  ) 
--							AS PouringQty
--				FROM		dbo.PouringOrderDetails
--							INNER JOIN dbo.OrderTranse
--							ON dbo.OrderTranse.OrderTranseId = dbo.PouringOrderDetails.OrderTransId
--							INNER JOIN dbo.ProductionBatch
--							ON dbo.ProductionBatch.batchID = dbo.PouringOrderDetails.batchID
--							LEFT JOIN dbo.knockout
--							ON dbo.knockout.knockoutid = dbo.PouringOrderDetails.knockoutid
--				WHERE		dbo.ProductionBatch.IsDeleted = 0
--							AND dbo.OrderTranse.IsDeleted = 0
--							AND IsDelivered = 0
--							AND IsShortclose = 0 
--				GROUP BY	dbo.OrderTranse.CastingId,
--							dbo.PouringOrderDetails.batchID
--			) AS PouringTable
--			ON PouringTable.batchID = dbo.CastingStockBatch.productionbatchID
--			AND PouringTable.CastingId = dbo.CastingStockBatch.CastingID
--WHERE		(@CastingId IS NULL
--			OR 		dbo.CastingStockBatch.CastingID = @CastingId)
--GROUP BY	dbo.CastingStockBatch.CastingID,
--			dbo.CastingStockBatch.productionbatchID,
--			PouringTable.PouringQty,
--			dbo.CastingStockBatch.MetalID,
--			dbo.knockout.knockoutid
--) as a
--WHERE	RemainingBatchStock > 0

----SELECT * FROM @StockTable

--DECLARE @OrderTable TABLE
--(
--SrNo INT,
--OrderTranseId UNIQUEIDENTIFIER,
--CustomerOrderId UNIQUEIDENTIFIER,
--SrNoForOrderTrans INT,
--MetalID BIGINT,
--ProductionGradeId INT,
--OAno VARCHAR(MAX),
--DeliveryDate VARCHAR(MAX),
--CastingId UNIQUEIDENTIFIER,
--CastingName VARCHAR(MAX),
--CastingCode VARCHAR(MAX),
--OrderedQty BIGINT,
--RemainingOrderedQty BIGINT
--)

--DECLARE @PouringTable TABLE
--(
--ID UNIQUEIDENTIFIER,
--OrderTransId UNIQUEIDENTIFIER,
--batchID INT,
--knockoutid BIGINT,
--OrderedQty BIGINT,
--FinalPendingQty BIGINT,
--PendingQty BIGINT,
--Qty BIGINT
--)

--SET @Stock_count = (SELECT COUNT(*) FROM @StockTable)

--WHILE @Stock_count > 0 
--BEGIN 

--	SET @AvailStock = (SELECT RemainingBatchStock FROM @StockTable WHERE SrNo = @Stock_srno)
--	SET @Stock_curr_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
--	SET @Stock_prev_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno - 1)
--	SET @Stock_nxt_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno + 1)
--	SET @Stock_curr_metal = (SELECT MetalID FROM @StockTable WHERE SrNo = @Stock_srno)
--	SET @Stock_nxt_metal = (SELECT MetalID FROM @StockTable WHERE SrNo = @Stock_srno + 1)
	
--	--first entry in stock table or new castings
--	IF @Stock_prev_casting IS NULL OR (@Stock_prev_metal  != @Stock_curr_metal OR  @Stock_prev_casting != @Stock_curr_casting)
--	BEGIN 
	
--		/*1.*/	DELETE FROM @OrderTable
				
--		/*2.*/	INSERT INTO @OrderTable
--				SELECT		ROW_NUMBER() OVER (ORDER BY dbo.OrderTranse.DeliveryDate, dbo.OrderTranse.OrderTranseId, dbo.OrderTranse.CastingId ASC) AS SrNo,
--							dbo.OrderTranse.OrderTranseId,
--							dbo.OrderTranse.CustomerOrderId,
--							dbo.OrderTranse.SrNo AS SrNoForOrderTrans,
--							dbo.OrderTranse.MetalID,
--							dbo.MetalMaster.ProductionGradeId,
--							dbo.OrderMaster.OAno,
--							CONVERT (VARCHAR, dbo.OrderTranse.DeliveryDate, 106) AS DeliveryDate,
--							dbo.OrderTranse.CastingId,
--							dbo.CastingMaster.CastingName,
--							dbo.CastingMaster.CastingCode,
--							SUM(dbo.OrderTranse.RequiredQty) AS OrderedQty,
--							CASE WHEN SUM(dbo.OrderTranse.RequiredQty) - 
--							ISNULL(( SELECT SUM(dbo.dispatchtrans.dispatchqty)
--                                                 FROM   dbo.dispatchtrans
--                                                 WHERE  dbo.dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
--                                                        AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
--                                                        AND IsDeleted = 0
--                                               ), 0)
--							 - ISNULL(a.AlreadyPouredQty, 0)  > 0 THEN 
--							SUM(dbo.OrderTranse.RequiredQty) -
--							ISNULL(( SELECT SUM(dbo.dispatchtrans.dispatchqty)
--                                                 FROM   dbo.dispatchtrans
--                                                 WHERE  dbo.dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
--                                                        AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
--                                                        AND IsDeleted = 0
--                                               ), 0)
--							- ISNULL(a.AlreadyPouredQty, 0) ELSE 0 END 
--							as RemainingOrderedQty
--				FROM		dbo.OrderTranse
--							INNER JOIN dbo.MetalMaster
--							ON dbo.MetalMaster.MetalId = dbo.OrderTranse.MetalID
--							INNER JOIN dbo.OrderMaster
--							ON dbo.OrderMaster.CustomerOrderId = dbo.OrderTranse.CustomerOrderId
--							INNER JOIN dbo.CastingMaster
--							ON dbo.CastingMaster.CastingId = dbo.OrderTranse.CastingId
--							LEFT JOIN (
--								SELECT		dbo.PouringOrderDetails.OrderTransId,
--											dbo.OrderTranse.CastingId,
--											SUM(CASE WHEN dbo.PouringOrderDetails.Qty  <0 THEN 0 ELSE dbo.PouringOrderDetails.Qty END) 
--											AS AlreadyPouredQty
--								FROM		dbo.PouringOrderDetails
--											INNER JOIN dbo.OrderTranse
--											ON dbo.OrderTranse.OrderTranseId = dbo.PouringOrderDetails.OrderTransId
--								WHERE		IsDeleted = 0
--											and IsDelivered = 0
--											AND IsShortclose = 0
--								GROUP BY	dbo.PouringOrderDetails.OrderTransId,
--											dbo.OrderTranse.CastingId
--							) AS a
--							ON a.CastingId = dbo.OrderTranse.CastingId
--							AND a.OrderTransId = dbo.OrderTranse.OrderTranseId
--				WHERE		dbo.CastingMaster.IsDeleted = 0
--							and dbo.OrderMaster.IsDeleted = 0
--							AND dbo.OrderTranse.IsDeleted = 0
--							AND dbo.OrderTranse.IsDelivered = 0
--							AND dbo.OrderTranse.IsShortclose = 0
--							AND IsScheduled = 0
--							AND dbo.OrderMaster.maxversion = 1
--							AND dbo.OrderTranse.CastingId = @Stock_curr_casting
--							AND (dbo.OrderTranse.MetalID = @Stock_curr_metal OR dbo.MetalMaster.ProductionGradeId = @Stock_curr_metal)
--				GROUP BY	dbo.OrderTranse.OrderTranseId,
--							dbo.OrderMaster.OAno,
--							dbo.OrderTranse.DeliveryDate,
--							dbo.OrderTranse.CastingId,
--							dbo.CastingMaster.CastingName,
--							dbo.CastingMaster.CastingCode,
--							a.AlreadyPouredQty,
--							dbo.OrderTranse.MetalID,
--							dbo.OrderTranse.CustomerOrderId,
--							dbo.OrderTranse.SrNo,
--							dbo.MetalMaster.ProductionGradeId
							
--				SET @Order_srno = 1
--		/*3.*/	SET @Order_curr_casting = (SELECT CastingId FROM @OrderTable WHERE SrNo = @Order_srno)
		
--		/*4.*/	SET @Order_prev_casting = (SELECT CastingId FROM @OrderTable WHERE SrNo = @Order_srno - 1)
		
--		/*5.*/	SET @Order_nxt_casting = (SELECT CastingId FROM @OrderTable WHERE SrNo = @Order_srno + 1)
		
--		/*6.*/	SET @OrderQty = (SELECT RemainingOrderedQty FROM @OrderTable WHERE SrNo = @Order_srno)
				
--		/*7.*/	SET @Order_count = (SELECT COUNT(*) FROM @OrderTable)
		
--		/*8.*/	SET @Order_Maxcount = @Order_count
		
--		/*9.*/	--when Perticular casting entry is not preset in the OrderTable
--				IF @Order_count = 0
--				BEGIN 
--					SET @Count = (SELECT COUNT(*) FROM @StockTable WHERE CastingID = @Stock_curr_casting)
--					SET @Stock_srno = @Stock_srno + @Count
--					SET @Stock_count = @Stock_count - @Count
--				END 
				
--				--SELECT * FROM @OrderTable
--	END
	
--	--if Stock > 0 then and only then all these process starts otherwise it's just increment the counter in @StockTable
--	IF @AvailStock  > 0
--	BEGIN 
		
--		WHILE @Order_count > 0
--		BEGIN
		
--			--set batchid and ordertransid for every entry, used while inserting the records for every cases
--			IF @OrderQty < @AvailStock
--			BEGIN 
				
--				--insert record
--				--SET @batchId = (SELECT batchID FROM	@OrderTable WHERE SrNo = @Order_srno)
				
--				SELECT	@batchId = productionbatchID, @knockoutid = knockoutid
--				FROM	@StockTable
--				WHERE	SrNo = @Stock_srno
				
--				SELECT	@OrderTranseId = OrderTranseId, @OriginalOrderedQty = OrderedQty, @SrNo = SrNo
--				FROM	@OrderTable
--				WHERE	SrNo = @Order_srno
			
--				IF NOT EXISTS (SELECT * FROM @PouringTable WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0))
--				BEGIN 
				
--					--INSERT INTO @PouringTable
--					--SELECT		NEWID() AS ID,
--					--			OrderTranseId AS OrderTransId,
--					--			batchID  AS productionbatchId,
--					--			@OrderQty AS Qty
--					--FROM		@OrderTable
--					--WHERE		SrNo = @Order_srno
					
--					INSERT INTO @PouringTable
--					VALUES
--					(
--					NEWID(),
--					@OrderTranseId,
--					@batchId,
--					@knockoutid,
--					@OriginalOrderedQty,
--					0 ,
--					0 ,
--					@OrderQty
--					)
--				END  
--				ELSE 
--				BEGIN 
--					UPDATE @PouringTable SET Qty = 
--					CASE WHEN PendingQty = 0 AND @SrNo = @Order_Maxcount THEN 
--					Qty + @OrderQty ELSE Qty END 
--					WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0)
					
--				END 
				
--				SET @AvailStock = @AvailStock - @OrderQty 
--				SET @OrderQty = 0
--				--to update the entry in @OrderTable
--				UPDATE @OrderTable SET RemainingOrderedQty = 0 WHERE SrNo = @Order_srno
--				SET @Order_srno = @Order_srno + 1
--				SET @Order_count = @Order_count - 1
				
--				--check whether next entry in @OrderTable exists or not.
--				IF EXISTS(SELECT CastingId FROM @OrderTable WHERE SrNo = @Order_srno)
--				BEGIN 
--					SET @OrderQty = (SELECT RemainingOrderedQty FROM @OrderTable WHERE SrNo = @Order_srno)
--				END 
--				ELSE
--				BEGIN
--					SET @Order_srno = @Order_srno - 1
--				END 
				
--			END 
			
--			IF @OrderQty = @AvailStock
--			BEGIN 
--				--inset the records first
--				--SET @batchId = (SELECT batchID FROM	@OrderTable WHERE SrNo = @Order_srno)
				
--				SELECT	@batchId = productionbatchID, @knockoutid = knockoutid
--				FROM	@StockTable
--				WHERE	SrNo = @Stock_srno
				
--				SELECT	@OrderTranseId = OrderTranseId, @OriginalOrderedQty = OrderedQty, @SrNo = SrNo
--				FROM	@OrderTable
--				WHERE	SrNo = @Order_srno
				
--				IF NOT EXISTS (SELECT * FROM @PouringTable WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0))
--				BEGIN 
--					--INSERT INTO @PouringTable
--					--SELECT		NEWID() AS ID,
--					--			(SELECT OrderTranseId FROM @OrderTable WHERE SrNo = @Order_srno) AS OrderTransId,
--					--			productionbatchID,
--					--			@OrderQty AS Qty
--					--FROM		@StockTable
--					--WHERE		SrNo = @Stock_srno 
--					INSERT INTO @PouringTable
--					VALUES
--					(
--					NEWID(),
--					@OrderTranseId,
--					@batchId,
--					@knockoutid,
--					@OriginalOrderedQty,
--					0 ,
--					0 ,
--					@OrderQty
--					)
--				END 
--				ELSE 
--				BEGIN 
--					UPDATE @PouringTable SET Qty = CASE WHEN PendingQty = 0 AND @SrNo = @Order_Maxcount THEN 
--					Qty + @OrderQty ELSE Qty END 
--					WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0)
--				END 
				
--				SET @OrderQty = 0
--				--update qty for perticular entry
--				UPDATE @OrderTable SET RemainingOrderedQty = 0 WHERE SrNo = @Order_srno
--				SET @Order_srno = @Order_srno + 1
--				SET @Order_count = @Order_count - 1
--				SET @Stock_curr_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
--				SET @AvailStock = 0
--				SET @Stock_count = @Stock_count - 1
--				SET @Stock_srno = @Stock_srno + 1
--				SET @Stock_nxt_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
				
--				--check whether next entry in @OrderTable exists or not.
--				IF EXISTS(SELECT CastingId FROM @OrderTable WHERE SrNo = @Order_srno)
--				BEGIN 
--					SET @OrderQty = (SELECT RemainingOrderedQty FROM @OrderTable WHERE SrNo = @Order_srno)
--				END 
--				ELSE
--				BEGIN 
--					SET @Order_srno = @Order_srno - 1
--				END 
				
--				--checks whether next casting in @StockTable is same as @OrderTables casting
--				IF @Stock_curr_casting = @Stock_nxt_casting AND  @Stock_curr_metal = @Stock_nxt_metal 
--				BEGIN 
--					SET @AvailStock = (SELECT RemainingBatchStock FROM @StockTable WHERE SrNo = @Stock_srno)
--				END
--				ELSE
--				BEGIN 
--					SET @AvailStock = 0
--					SET @Order_count = @Order_count - 1
--					BREAK ;
--				END 
--			END 
			
--			IF @OrderQty > @AvailStock
--			BEGIN 
				
--				--inset the records first
--				--SET @batchId = (SELECT batchID FROM	@OrderTable WHERE SrNo = @Order_srno)
				
--				SELECT	@batchId = productionbatchID, @knockoutid = knockoutid
--				FROM	@StockTable
--				WHERE	SrNo = @Stock_srno
				
--				SELECT	@OrderTranseId = OrderTranseId, @OriginalOrderedQty = OrderedQty, @SrNo = SrNo
--				FROM	@OrderTable
--				WHERE	SrNo = @Order_srno
			
--				IF NOT EXISTS (SELECT * FROM @PouringTable WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0))
--				BEGIN 
					
--					--INSERT INTO @PouringTable
--					--SELECT		NEWID() AS ID,
--					--			OrderTranseId AS OrderTransId,
--					--			batchID  AS productionbatchId,
--					--			@AvailStock AS Qty
--					--FROM		@OrderTable
--					--WHERE		SrNo = @Order_srno
					
--					INSERT INTO @PouringTable
--					VALUES
--					(
--					NEWID(),
--					@OrderTranseId,
--					@batchId,
--					@knockoutid,
--					@OriginalOrderedQty,
--					CASE WHEN (@OrderQty - @AvailStock) > 0 THEN @OrderQty - @AvailStock ELSE 0 END,
--					CASE WHEN (@OrderQty - @AvailStock) > 0 THEN @OrderQty - @AvailStock ELSE 0 END,
--					@AvailStock
--					)
					
--				END 
--				ELSE 
--				BEGIN 
--					UPDATE @PouringTable SET Qty = CASE WHEN PendingQty = 0 AND @SrNo = @Order_Maxcount THEN 
--					Qty + @AvailStock ELSE Qty END 
--					WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0)
--				END
				
--				SET @OrderQty = @OrderQty - @AvailStock
--				--update qty in perticular entry
--				UPDATE @OrderTable SET RemainingOrderedQty = @OrderQty - @AvailStock WHERE SrNo = @Order_srno
				
--				SET @AvailStock = 0
--				SET @Stock_curr_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
--				SET @Stock_count = @Stock_count - 1
--				SET @Stock_srno = @Stock_srno + 1
--				SET @Stock_nxt_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
				
--				--checks whether next casting in @StockTable is same as @OrderTables casting
--				IF @Stock_curr_casting = @Stock_nxt_casting AND  @Stock_curr_metal = @Stock_nxt_metal 
--				BEGIN 
--					SET @AvailStock = (SELECT RemainingBatchStock FROM @StockTable WHERE SrNo = @Stock_srno)
--				END
--				ELSE
--				BEGIN 
--					SET @AvailStock = 0
--					SET @Order_count = @Order_count - 1
--					BREAK ;
--				END 
--			END 
		
--			--when comes to the last entry of @OrderTable 
--			--and still we have stock for that casting so assign the whole stock to this entry
--			IF @Order_count <= 0 AND @AvailStock > 0
--			BEGIN 
				
--				--inset the records first
--				--SET @batchId = (SELECT batchID FROM	@OrderTable WHERE SrNo = @Order_srno)
			
--				SELECT	@batchId = productionbatchID, @knockoutid = knockoutid
--				FROM	@StockTable
--				WHERE	SrNo = @Stock_srno
				
--				SELECT	@OrderTranseId = OrderTranseId, @OriginalOrderedQty = OrderedQty, @SrNo = SrNo
--				FROM	@OrderTable
--				WHERE	SrNo = @Order_srno
			
--				IF NOT EXISTS (SELECT * FROM @PouringTable WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0))
--				BEGIN 
				
--					INSERT INTO @PouringTable
--					VALUES
--					(
--					NEWID(),
--					@OrderTranseId,
--					@batchId,
--					@knockoutid,
--					@OriginalOrderedQty,
--					0,
--					0,
--					@AvailStock
--					)
				
--				END 
--				ELSE 
--				BEGIN 
--					UPDATE @PouringTable SET Qty = Qty + @AvailStock
--					WHERE OrderTransId = @OrderTranseId AND ISNULL(batchID, 0) = ISNULL(@batchId, 0)
--				END 
				
--				SET @Stock_curr_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
--				SET @Stock_curr_metal = (SELECT metalid  FROM @StockTable WHERE SrNo = @Stock_srno)
--				SET @Stock_count = @Stock_count - 1
--				SET @Stock_srno = @Stock_srno + 1
--				SET @Stock_nxt_casting = (SELECT CastingID FROM @StockTable WHERE SrNo = @Stock_srno)
--				SET @Stock_nxt_metal = (SELECT metalid FROM @StockTable WHERE SrNo = @Stock_srno)
--				SET @AvailStock = (SELECT RemainingBatchStock FROM @StockTable WHERE SrNo = @Stock_srno)
				
--				IF (@Stock_curr_casting = @Stock_nxt_casting AND @Stock_curr_metal = @Stock_nxt_metal)
--				BEGIN 
--					SET @Order_count = 1
--				END
--				ELSE 
--				BEGIN 
--					SET @Order_count = 0 
--				END
--			END
--		END 
	
--	END 
	
--	--SET @Stock_count = @Stock_count - 1
--	--SET @Stock_srno = @Stock_srno + 1
	
--END 


--UPDATE	dbo.PouringOrderDetails
--SET dbo.PouringOrderDetails.Qty = dbo.PouringOrderDetails.Qty + pt.Qty
----SELECT pt.OrderTransId, pt.batchID, pt.Qty
--FROM (
--	SELECT * FROM 
--	@PouringTable AS ptTemp
--	WHERE EXISTS (
--			SELECT		1 
--			FROM		dbo.PouringOrderDetails 
--			WHERE		OrderTransId = ptTemp.OrderTransId 
--						AND batchID = ptTemp.batchID
--				)
--	) AS pt
--WHERE pt.OrderTransId = PouringOrderDetails.OrderTransId
--			AND pt.batchID = PouringOrderDetails.batchID
			
			
--INSERT INTO dbo.PouringOrderDetails
--        ( ID ,
--          OrderTransId ,
--          batchID ,
--          knockoutid ,
--          Qty
--        )
--SELECT ID,
--OrderTransId,
--batchID,
--knockoutid ,
--Qty 
--FROM @PouringTable AS pt
--WHERE NOT EXISTS (
--			SELECT		1 
--			FROM		dbo.PouringOrderDetails 
--			WHERE		OrderTransId = pt.OrderTransId 
--						AND batchID = pt.batchID
--				)


--SELECT  ROW_NUMBER()OVER (PARTITION BY castingid, OrderTranseId ORDER BY DeliveryDateNotForDisplay asc) as SrNo,
		
--			OrderTranseId,
--			CastingId,
--			MetalID,
--			CastingName,
--			CastingCode,
--			DeliveryDate,
--			OrderedQty,
--			Qty,
--			batchID,
--			HeatNo,
--			TotalPouredQty,
--			PendingQty,
--			OAno
--FROM 
--(
--SELECT		
--dbo.OrderTranse.OrderTranseId,
--			dbo.OrderTranse.CastingId,
--			dbo.OrderTranse.MetalID,
--			dbo.CastingMaster.CastingName,
--			dbo.CastingMaster.CastingCode,
--			CONVERT(VARCHAR, dbo.OrderTranse.DeliveryDate, 106) AS DeliveryDate, 
--			 dbo.OrderTranse.DeliveryDate as  DeliveryDateNotForDisplay,
--			SUM(dbo.OrderTranse.RequiredQty) 
--			AS OrderedQty,
--			ISNULL(dbo.PouringOrderDetails.Qty, 0) AS Qty,
--			dbo.PouringOrderDetails.batchID,
--			dbo.ProductionBatch.batchno as HeatNo,
--			ISNULL(a.Qty, 0) as TotalPouredQty,
--			CASE WHEN 
--			(SUM(dbo.OrderTranse.RequiredQty)-
--            ISNULL(( SELECT SUM(dbo.dispatchtrans.dispatchqty)
--                                                 FROM   dbo.dispatchtrans
--                                                 WHERE  dbo.dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
--                                                        AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
--                                                        AND IsDeleted = 0
--                                               ), 0) -
--            CASE WHEN ISNULL(Stock.Stock, 0) = 0 THEN 0
--            ELSE ISNULL(a.Qty, 0) END ) > 0
--            THEN SUM(dbo.OrderTranse.RequiredQty)-
--            ISNULL(( SELECT SUM(dbo.dispatchtrans.dispatchqty)
--                                                 FROM   dbo.dispatchtrans
--                                                 WHERE  dbo.dispatchtrans.orderid = dbo.OrderTranse.CustomerOrderId
--                                                        AND dispatchtrans.orderserialno = dbo.OrderTranse.SrNo
--                                                        AND IsDeleted = 0
--                                               ), 0) -
--            CASE WHEN ISNULL(Stock.Stock, 0) = 0 THEN 0
--            ELSE ISNULL(a.Qty, 0) END 
--            ELSE 0 END 
--			as PendingQty,
--			ISNULL(dbo.OrderMaster.Prefix, '')+ ISNULL(OrderMaster.Separator, '')
--			+ISNULL(dbo.OrderMaster.OAno, '')+ ISNULL(OrderMaster.Separator, '')
--			+ISNULL(dbo.OrderMaster.Suffix, '') AS OAno
--FROM		dbo.OrderTranse
--			INNER JOIN dbo.OrderMaster
--			ON dbo.OrderMaster.CustomerOrderId = dbo.OrderTranse.CustomerOrderId
--			INNER JOIN dbo.CastingMaster
--			ON dbo.CastingMaster.CastingId = dbo.OrderTranse.CastingId
--			LEFT JOIN dbo.PouringOrderDetails
--			ON dbo.PouringOrderDetails.OrderTransId = dbo.OrderTranse.OrderTranseId
--			LEFT JOIN dbo.ProductionBatch
--			ON dbo.ProductionBatch.batchID = dbo.PouringOrderDetails.batchID
--			LEFT JOIN (
--				SELECT		dbo.PouringOrderDetails.OrderTransId,
--							SUM(CASE WHEN Qty < 0 THEN 0 else Qty END) as Qty
--				FROM		dbo.PouringOrderDetails
--				--WHERE OrderTransId = '1413F5A4-E25F-4320-B807-11AC6A9687BC'
--				GROUP BY	dbo.PouringOrderDetails.OrderTransId
--			) AS a
--			ON a.OrderTransId = dbo.OrderTranse.OrderTranseId
--			LEFT JOIN (
--				SELECT		castingid,
--							MetalID,
--							SUM(CASE WHEN BatchStock< 0 THEN 0 ELSE BatchStock END) AS Stock 
--				FROM		dbo.CastingStockBatch
--				GROUP BY	castingid,
--							MetalID
--			) AS Stock
--			ON Stock.castingid = dbo.OrderTranse.CastingId
--			AND Stock.MetalID = dbo.OrderTranse.MetalID
--WHERE		dbo.OrderMaster.IsDeleted = 0
--			AND dbo.OrderTranse.IsDeleted = 0
--			AND IsDelivered = 0
--			and IsShortclose = 0
--			AND ( @CastingId IS NULL OR
--					dbo.OrderTranse.CastingId = @CastingId 
--				)
--			AND ( @MetalId = 0 OR	
--					dbo.OrderTranse.MetalID = @MetalId
--				)
--GROUP BY	dbo.OrderTranse.OrderTranseId,
--			dbo.OrderTranse.DeliveryDate,
--			dbo.OrderTranse.CastingId,
--			dbo.CastingMaster.CastingName,
--			dbo.CastingMaster.CastingCode,
--			dbo.PouringOrderDetails.batchID,
--			dbo.ProductionBatch.batchno,
--			a.Qty,
--			dbo.PouringOrderDetails.Qty,
--			dbo.OrderTranse.MetalID,
--			Stock.Stock,
--			dbo.OrderMaster.Prefix,
--			OrderMaster.Separator,
--			dbo.OrderMaster.OAno,
--			dbo.OrderMaster.Suffix,
--			dbo.OrderTranse.MetalID,
--			dbo.OrderTranse.CustomerOrderId,
--            dbo.OrderTranse.SrNo
-- ) AS b       
--WHERE PendingQty > 0
--ORDER BY	DeliveryDateNotForDisplay

--END 


--IF @Parameter = 2------------display castingname
--BEGIN 

--	SELECT		DISTINCT 
--				dbo.CastingMaster.CastingName
--	FROM		dbo.CastingGradeStock
--				INNER JOIN dbo.CastingMaster
--				ON dbo.CastingMaster.CastingId = dbo.CastingGradeStock.CastingID
--	WHERE		dbo.CastingMaster.IsDeleted = 0
--				AND dbo.CastingGradeStock.Stock > 0
	
--END 

--IF @Parameter = 3------------display castingcode
--BEGIN 

--	SELECT		DISTINCT 
--				dbo.CastingMaster.CastingCode,
--				dbo.CastingMaster.CastingName,
--				dbo.CastingGradeStock.CastingID as CastingId
--	FROM		dbo.CastingGradeStock
--				INNER JOIN dbo.CastingMaster
--				ON dbo.CastingMaster.CastingId = dbo.CastingGradeStock.CastingID
--	WHERE		dbo.CastingMaster.IsDeleted = 0
--				AND dbo.CastingGradeStock.Stock > 0

--END 

--IF (@Parameter = 4)-------------casting name to code
--BEGIN 

--        SELECT		DISTINCT 
--					dbo.CastingGradeStock.CastingID AS CastingId,
--					dbo.CastingMaster.CastingCode  AS CastingCode
--		FROM		dbo.CastingGradeStock
--					INNER JOIN dbo.CastingMaster
--					ON dbo.CastingMaster.CastingId = dbo.CastingGradeStock.CastingID
--		WHERE		dbo.CastingMaster.IsDeleted = 0
--					AND dbo.CastingGradeStock.Stock > 0
--					AND dbo.CastingMaster.CastingName = @CastingName
					

--END 

--IF (@Parameter = 5)--------------casting code to name
--BEGIN 

--        SELECT		DISTINCT 
--					dbo.CastingGradeStock.CastingID AS CastingId,
--					dbo.CastingMaster.CastingName  AS CastingName
--		FROM		dbo.CastingGradeStock
--					INNER JOIN dbo.CastingMaster
--					ON dbo.CastingMaster.CastingId = dbo.CastingGradeStock.CastingID
--		WHERE		dbo.CastingMaster.IsDeleted = 0
--					AND dbo.CastingGradeStock.Stock > 0
--					AND dbo.CastingGradeStock.CastingID = @CastingId

--END 

--IF (@Parameter = 6)--------------display metalname
--BEGIN 

--		SELECT		DISTINCT
--					dbo.MetalMaster.MetalID,
--					dbo.MetalMaster.MetalName
--		FROM		dbo.CastingGradeStock
--					INNER JOIN dbo.MetalMaster
--					ON dbo.MetalMaster.MetalId = dbo.CastingGradeStock.MetalID
--		WHERE		dbo.MetalMaster.IsDeleted = 0
--					AND dbo.CastingGradeStock.Stock > 0

--END 

--END
GO
