USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GetAgainstGRNbyPatternId]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<BIJAL PATEL>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create    PROCEDURE [dbo].[GetAgainstGRNbyPatternId]
	  @EntityId INT = 0 ,      
	  @POPlantId INT = 0   ,
	  @PatternId uniqueidentifier = null 
AS
BEGIN
              select top 5 * from(
                SELECT DISTINCT      
                        CASE WHEN RawMaterialInward.Prefix IS NULL THEN ''      
                             ELSE CONVERT(VARCHAR(50), RawMaterialInward.Prefix)      
                        END      
                        + CASE WHEN RawMaterialInward.Separator IS NULL      
                               THEN ''      
                               ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                          END + CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo)      
                        + CASE WHEN RawMaterialInward.Separator IS NULL      
                               THEN ''      
                               ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                          END      
                        + CASE WHEN RawMaterialInward.Suffix IS NULL THEN ''      
                               ELSE CONVERT(VARCHAR(50), RawMaterialInward.Suffix)      
                          END AS GRNNo ,      
                        RawMaterialInward.InwardId      ,
						RawMaterialInward.InwardDate
                FROM    RawMaterialInward      
                        INNER JOIN RawMaterialInwardDetail ON RawMaterialInwardDetail.InwardId = RawMaterialInward.InwardId    
                WHERE   RawMaterialInwardDetail.IsDeleted = 0      
                        AND ISNULL(IsInvoicePrepared, 0) = 0      
                        AND RawMaterialInward.IsDeleted = 0
                        and RawMaterialInward.EntityId = @EntityId 
                        AND (@POPlantId = 0 OR RawMaterialInward.PlantId =  @POPlantId)
                        AND RawMaterialInwardDetail.IsPattern = 1  and IsOpening = 0  
						AND (@PatternId IS NULL OR RawMaterialInwardDetail.PurchaseItemId =@PatternId)
                UNION      
                SELECT DISTINCT      
                        CASE WHEN RawMaterialInward.Prefix IS NULL THEN ''      
                             ELSE CONVERT(VARCHAR(50), RawMaterialInward.Prefix)      
                        END      
                        + CASE WHEN RawMaterialInward.Separator IS NULL      
                               THEN ''      
                               ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                          END + CONVERT(VARCHAR(50), RawMaterialInward.INWSrNo)      
                        + CASE WHEN RawMaterialInward.Separator IS NULL      
                               THEN ''      
                               ELSE CONVERT(VARCHAR(50), RawMaterialInward.Separator)      
                          END      
                        + CASE WHEN RawMaterialInward.Suffix IS NULL THEN ''      
                               ELSE CONVERT(VARCHAR(50), RawMaterialInward.Suffix)      
                          END AS GRNNo ,      
                        RawMaterialInward.InwardId      ,
						RawMaterialInward.InwardDate    
                FROM    RawMaterialInward      
                        INNER JOIN CoreGRNDetail ON CoreGRNDetail.InwardId = RawMaterialInward.InwardId      
                WHERE   CoreGRNDetail.IsDeleted = 0      
                        AND ISNULL(IsInvoicePrepared, 0) = 0      
                        AND RawMaterialInward.IsDeleted = 0 
                        and RawMaterialInward.EntityId = @EntityId     
						AND (@PatternId IS NULL OR CoreGRNDetail.PatternID  =@PatternId)
                     ) as temp order by InwardDate desc 
                
END
GO
