USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[EwayBillInterPlant]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 -- =============================================
-- Author:		<Bijal Patel >
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[EwayBillInterPlant]
@DispatchId BIGINT = null, 
@EntityId INT = 0
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
If exists ( Select 1 from dispatchmaster Where dispatchmaster.DispatchID = @DispatchId  )
BEGIN
		select	distinct ew.EWayBillNo as [eWayBillNo],
					CONVERT(VARCHAR, EwayBillDate, 103) + ' ' + RIGHT(CONVERT(VARCHAR, EwayBillDate, 100), 7)  as [GeneratedDate],
					CompanyMaster.GSTNo as [GeneratedBy],
					CONVERT(VARCHAR,EwayBillValidTill, 103)  as [ValidUpto]
					,ew.MannerOfTransport as Mode,
					Convert(varchar,ew.DistanceInKM)  + ' KM' as [ApproxDistance]
				--	,'Outward - Job Work' as [Type],
				    ,'InterPlant Casting Transfer' as [Type],
					Case when ISNULL(ew.MotarRegno,'') = '' then '' else 
					'Delivery Challan' + '-' end + ISNULL(dispatchmaster.Prefix,'') + ISNULL(dispatchmaster.Separator,'') 
					+ dispatchmaster.Dispatchslipno+ ISNULL(dispatchmaster.Separator,'') + ISNULL(dispatchmaster.Suffix,'') as DocumentNo, 
					convert(varchar,dispatchmaster.dispatchdate,103)  as DocumentDate, 
					case when ISNULL(ew.DisptachFromName,'') <> '' then 'Bill From - Dispatch From'  else
					'Regular' end as TransactionType
					,null as IRN,
					--Address details---
					CompanyMaster.GSTNo as [GSTNO_S], CompanyMaster.NameOfOrganization as [CompanyName_S],CompanyMaster.State as [State_S],
					Case when ISNULL(ew.DisptachFromAddress,'') = '' 
						then CompanyMaster.Address +' , '+  CompanyMaster.AddLine2+' , '+CompanyMaster.Area+' , ' + CompanyMaster.City +' , '+ CompanyMaster.State+' , '+ CompanyMaster.Pincode  else ew.DisptachFromAddress end as [DispatchFrom],
					--  case when CustomerMaster.RegistrationType= 4 then 'URP' else  CustomerMaster.GSTNo end  as [GSTNO_C], 
					  PlantMaster.GSTNo as [GSTNO_C], 
					  PlantMaster.PlantName as [CompanyName_C],
					  ShippingState.State as [State_C],
					--SupplierAddressLine1 +' , ' + SupplierAddressLine2 + ' , ' +ShippingCity.City+' , '+ ShippingState.State+' , '+Convert(varchar,JobOutMaster.SupplierPinCode)
					--SupplierAddress as [ShipTo]
					PlantMaster.PlantAddress as [ShipTo]
					,Sum(Round((dispatchtrans.CastingValue ),2) ) Over()
					 as Grossamount ,
					--  dispatchmaster.Value 	+ Sum(Round(((dispatchtrans.CastingValue * dispatchtrans.HSNIGST)/100),2)) Over() as TotalAmount,
					  Sum(Round(((dispatchtrans.CastingValue * dispatchtrans.HSNIGST)/100),2)) Over() as TotalAmount,
						 CASE WHEN dispatchmaster.IsIGST = 0 THEN	Sum(Round(((dispatchtrans.CastingValue * (dispatchtrans.HSNIGST/2))/100),2)) Over() else 0 end  AS CGSTAmt ,
							CASE WHEN dispatchmaster.IsIGST = 0 THEN	Sum(Round(((dispatchtrans.CastingValue * (dispatchtrans.HSNIGST/2))/100),2)) Over() else 0 end  AS SGSTAmt ,
							CASE WHEN dispatchmaster.IsIGST = 1 THEN	Sum(Round(((dispatchtrans.CastingValue * (dispatchtrans.HSNIGST))/100),2)) Over() else 0 end  AS IGSTAmt ,
		 				'0' as CessAmount,'0' as CessNonAdvolAmount, 0 as OtherAmount,
		 			ew.TransporterId as [TransporterId], 
					ew.RoadPermitForm as [TransporterName],
					ew.LrNo as [DocNo],
					ew.DocDate,
					---Vehicle details---
					Case when ISNULL(ew.MotarRegNo,'') = '' then '' else ew.MotarRegNo end as [VehicleNo],
					Case when ISNULL(ew.DispatchFrom	,'') = ' ' 
					then  CompanyMaster.City  else ew.DispatchFrom end as [From]
					,convert(varchar,EwayBillDate,3) as [EnteredDate],
					CompanyMaster.GSTNo as [EnteredBy] 
			from	dispatchmaster 
					inner join dispatchtrans on dispatchtrans.dispatchid = dispatchmaster.DispatchID and dispatchtrans.IsDeleted = 0
					INNER JOIN dbo.EwayDetails ew on  ew.ID = dispatchmaster.DispatchID and ew.type = 4
					inner join CompanyMaster on dispatchmaster.EntityID = CompanyMaster.EntityId
					inner join PlantMaster on PlantMaster.PlantId = dispatchmaster.ToPlantId
				--	inner join CustomerMaster on JobOutMaster.SupplierID = CustomerMaster.CustomerId
					inner join CityMaster As ShippingCity on  ShippingCity.CityId = PlantMaster.CityId
					INNER join StateMaster As ShippingState  on  ShippingState.StateId = ShippingCity.StateId  and ShippingCity.StateId = ShippingState.StateId --Change
					where	dispatchmaster.DispatchID = @DispatchId and dispatchmaster.EntityID = @EntityId
						--and JobOutMaster.IsDummyJO = 0 

		 select CastingMaster.CastingName,dispatchtrans.TarrifCode as HSNCode,
		((select Count(JobOutTranse.JOTranseID) as Count from JobOutTranse where dispatchtrans.dispatchid = dispatchmaster.DispatchID and dispatchmaster.IsDeleted = 0 and JobOutTranse.IsDeleted = 0 )
		  - 1) as Count 
		,dispatchtrans.CastingValue AS  TotalAmount
		,dispatchtrans.dispatchqty AS dispatchqty
		,CASE when dispatchmaster.IsIGST = 1 then 'NE + ' + 'NE + ' + convert(varchar,dispatchtrans.HSNIGST)  else convert(varchar,dispatchtrans.HSNIGST/2)+' + ' + convert(varchar,dispatchtrans.HSNIGST/2) + ' + NE'   end as TC
		from dispatchmaster
		inner join dispatchtrans on dispatchtrans.dispatchid = dispatchmaster.DispatchID
		inner join CastingMaster on dispatchtrans.CastingID = CastingMaster.CastingId 
		LEFT JOIN dbo.HSNGSTMapping ON HSNGSTMapping.HSNCode = dispatchtrans.TariffCode
		LEFT JOIN dbo.TaxMaster ON dbo.TaxMaster.TaxTemplateId = dbo.HSNGSTMapping.TaxTemplateId 
		where dispatchmaster.IsDeleted = 0  and dispatchmaster.DispatchID = @DispatchId and dispatchmaster.EntityID = @EntityId
					  and dispatchtrans.IsDeleted = 0 AND dispatchmaster.IsDeleted = 0

end

 
END




GO
