USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Customer_Grn_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE  PROCEDURE [dbo].[Customer_Grn_Register]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityId INT = 0 
  ,@DateFrom DATETIME = NULL 
,@DateTo DATETIME = NULL  
,@LocationId int =null 
,@DispatchID BIGINT = 0  
,@CustomerID UNIQUEIDENTIFIER = NULL 
,@LocationInTrnsist varchar(50) = null  
,@CustomerGRNTransId UNIQUEIDENTIFIER = NULL 
,@CustomerGRNNo   varchar(200)= null 

AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
		IF @Parameter = 1
        BEGIN
         IF @InitialLoad = 1
                    BEGIN 
                     SELECT DISTINCT TOP ( @PageSize )  * from (
				                     select  ROW_NUMBER() OVER ( ORDER BY  CustomerGRNId desc ) AS SrNo ,* from(
									 SELECT distinct 
												 CustomerGRN.CustomerGRNId, CONVERT(VARCHAR(11), CustomerGRN.CustomerGRNDate , 106) as   GRNDate,
												 CustomerGRN.LocationId,--CustomerGRN.CustomerId ,
												 ISNULL( PlantMaster.PlantName,'' ) as PlantName  ,CustomerMaster.CustomerName-- ,Temp1.Stock
												,CustomerGRN.CustomerGRNNo 
												    ,   CASE WHEN DispatchMaster.Prefix IS NULL
                                                            OR DispatchMaster.Prefix = ''
                                                       THEN ''
                                                       ELSE CONVERT(VARCHAR(50), DispatchMaster.Prefix)
                                                            + CASE
                                                              WHEN DispatchMaster.Separator IS NULL
                                                              THEN ''
                                                              ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                              END
                                                  END
                                                  + CONVERT(VARCHAR(50), DispatchMaster.DispatchSlipNo)
                                                  + CASE WHEN DispatchMaster.Separator IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                    END
                                                  + CASE WHEN DispatchMaster.Suffix IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Suffix)
                                                    END 
                                                     as Dispatchslipno
                                                     ,CAST(CustomerGRN.ModifiedOn as Nvarchar(50)) as ModifiedDateTime
                                                      
									  FROM CustomerGRN  
									 left JOIN PlantMaster ON PlantMaster.PlantId		=CustomerGRN.LocationId
									 INNER JOIN CustomerMaster ON CustomerGRN.customerID = CustomerMaster.CustomerId
									 --LEFT JOIN (
										--select CustomerGRNId,CustomerGRNTrans.DispatchId  
										-- from CustomerGRNTrans 
										--inner join dispatchmaster on  dispatchmaster.DispatchID =CustomerGRNTrans.DispatchId   and dispatchmaster.IsDeleted = 0 
										--  )  AS Temp1  ON Temp1.CustomerGRNId = CustomerGRN.CustomerGRNId
									 INNER  JOIN dispatchmaster  ON 	  dispatchmaster.DispatchID = CustomerGRN.DispatchId
									 where CustomerGRN.IsDeleted =0 
											  AND  ( @LocationId IS NULL 
													  OR  CustomerGRN.LocationId =@LocationId
													 ) 
												AND CustomerGRN.EntityID =@EntityId
												AND ( @DateFrom IS NULL
																			  OR @DateTo IS NULL
																			  OR CustomerGRNDate  BETWEEN @DateFrom
																			  AND
																			  @DateTo
																			) 
											  AND ( @CustomerID IS NULL
												  OR CustomerGRN.CustomerId = @CustomerID
													)  
													AND ( @CustomerGRNNo IS NULL
												  OR CustomerGRN.CustomerGRNNo like '%'+@CustomerGRNNo +'%'
													)    
											 AND ( @DispatchID = 0
													  OR CustomerGRN.DispatchId =@DispatchID
													 )   
											 AND (@LocationInTrnsist IS NULL          		
													OR 	 ISNULL( PlantMaster.PlantName,'' ) =@LocationInTrnsist
													)	
												) as temp		
                              ) as Tcc
                       WHERE   SrNo > ( @PageNumber * @PageSize ) 
                             END
                             
                              ELSE
                    BEGIN
				
                        SELECT TOP ( @PageSize )
                                *
                        FROM  (
                             select  ROW_NUMBER() OVER ( ORDER BY  CustomerGRNId desc ) AS SrNo ,* from(
                           SELECT --ROW_NUMBER() OVER ( ORDER BY  CustomerGRN.CustomerGRNId desc ) AS SrNo ,
                          distinct  
								 CustomerGRN.CustomerGRNId, CONVERT(VARCHAR(11), CustomerGRN.CustomerGRNDate , 106) as   GRNDate,
								 CustomerGRN.LocationId,--CustomerGRN.CustomerId ,
								  ISNULL( PlantMaster.PlantName,'' ) as PlantName,CustomerMaster.CustomerName-- ,Temp1.Stock
								  ,CustomerGRN.CustomerGRNNo 
								   ,    CASE WHEN DispatchMaster.Prefix IS NULL
                                                            OR DispatchMaster.Prefix = ''
                                                       THEN ''
                                                       ELSE CONVERT(VARCHAR(50), DispatchMaster.Prefix)
                                                            + CASE
                                                              WHEN DispatchMaster.Separator IS NULL
                                                              THEN ''
                                                              ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                              END
                                                  END
                                                  + CONVERT(VARCHAR(50), DispatchMaster.DispatchSlipNo)
                                                  + CASE WHEN DispatchMaster.Separator IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                    END
                                                  + CASE WHEN DispatchMaster.Suffix IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Suffix)
                                                    END 
                                                     as Dispatchslipno
                                                     ,CAST(CustomerGRN.ModifiedOn as Nvarchar(50)) as ModifiedDateTime  
                      FROM CustomerGRN  
                     left JOIN PlantMaster ON PlantMaster.PlantId		=CustomerGRN.LocationId
                     INNER JOIN CustomerMaster ON CustomerGRN.customerID = CustomerMaster.CustomerId
      --               LEFT JOIN (
						--select CustomerGRNId,CustomerGRNTrans.DispatchId  
						-- from CustomerGRNTrans 
						--inner join dispatchmaster on  dispatchmaster.DispatchID =CustomerGRNTrans.DispatchId   and dispatchmaster.IsDeleted = 0 
						--  )  AS Temp1  ON Temp1.CustomerGRNId = CustomerGRN.CustomerGRNId
					INNER JOIN dispatchmaster  ON 	  dispatchmaster.DispatchID = CustomerGRN.DispatchId
                     where CustomerGRN.IsDeleted =0 
							     AND  ( @LocationId IS NULL 
									  OR  CustomerGRN.LocationId =@LocationId
                                     ) 
							    AND CustomerGRN.EntityID =@EntityId
								AND ( @DateFrom IS NULL
                                                              OR @DateTo IS NULL
                                                              OR CustomerGRNDate  BETWEEN @DateFrom
                                                              AND
                                                              @DateTo
                                                            ) 
                              AND ( @CustomerID IS NULL
								  OR CustomerGRN.CustomerId = @CustomerID
									)  
									AND ( @CustomerGRNNo IS NULL
								  OR CustomerGRN.CustomerGRNNo like '%'+@CustomerGRNNo +'%'
									)    
							 AND ( @DispatchID = 0
									  OR CustomerGRN.DispatchId =@DispatchID
                                     )   
                             AND (@LocationInTrnsist IS NULL          		
									OR 	 ISNULL( PlantMaster.PlantName,'' ) =@LocationInTrnsist
									)	
									) as temp 		 
                              ) as Tcc
                       WHERE   SrNo > ( @PageNumber * @PageSize ) 
                        END
        END
        
        IF @Parameter = 2
        BEGIN
            SET @TotalRecords = ( SELECT    COUNT(*)
                                      FROM      ( SELECT DISTINCT 
														  CustomerGRN.CustomerGRNId
										  FROM CustomerGRN  
									  left JOIN PlantMaster ON PlantMaster.PlantId		=CustomerGRN.LocationId
									 INNER JOIN CustomerMaster ON CustomerGRN.customerID = CustomerMaster.CustomerId
						--			   LEFT JOIN (
						--select CustomerGRNId,CustomerGRNTrans.DispatchId --, SUM(Qty) AS Stock 
						-- from CustomerGRNTrans 
						--inner join dispatchmaster on  dispatchmaster.DispatchID =CustomerGRNTrans.DispatchId   and dispatchmaster.IsDeleted = 0 
						--	--	WHERE CustomerGRNTrans.CustomerGRNId = C.CustomerGRNId
						--  )  AS Temp1  ON Temp1.CustomerGRNId = CustomerGRN.CustomerGRNId
							 INNER JOIN dispatchmaster  ON 	  dispatchmaster.DispatchID = CustomerGRN.DispatchId
									 where CustomerGRN.IsDeleted =0 
												AND  ( @LocationId IS NULL 
													  OR  CustomerGRN.LocationId =@LocationId
													 ) 
												AND CustomerGRN.EntityID =@EntityId
												AND ( @DateFrom IS NULL
																			  OR @DateTo IS NULL
																			  OR CustomerGRNDate  BETWEEN @DateFrom
																			  AND
																			  @DateTo
																			) 
											  AND ( @CustomerID IS NULL
												  OR CustomerGRN.CustomerId = @CustomerID
													)  
													AND ( @CustomerGRNNo IS NULL
												  OR CustomerGRN.CustomerGRNNo like '%'+@CustomerGRNNo +'%'
													)    
											 AND ( @DispatchID = 0
													  OR CustomerGRN.DispatchId =@DispatchID
													 )   
											 AND (@LocationInTrnsist IS NULL          		
													OR 	 ISNULL( PlantMaster.PlantName,'' ) =@LocationInTrnsist
													)		
                    ) AS c
                 )
                RETURN @TotalRecords
        END   
        
		IF @Parameter = 3
        BEGIN
			SELECT ROW_NUMBER() OVER ( ORDER BY  CustomerGRN.CustomerGRNId DESC ) AS SrNo ,
								 CustomerGRN.CustomerGRNId, CONVERT(VARCHAR(11), CustomerGRN.CustomerGRNDate , 106) as   GRNDate,
								 CustomerGRN.LocationId,--CustomerGRN.CustomerId ,
								  ISNULL( PlantMaster.PlantName,'' ) as PlantName ,CustomerMaster.CustomerName --,Temp1.Stock
								  ,CustomerGRN.CustomerGRNNo
								   ,   CASE WHEN DispatchMaster.Prefix IS NULL
                                                            OR DispatchMaster.Prefix = ''
                                                       THEN ''
                                                       ELSE CONVERT(VARCHAR(50), DispatchMaster.Prefix)
                                                            + CASE
                                                              WHEN DispatchMaster.Separator IS NULL
                                                              THEN ''
                                                              ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                              END
                                                  END
                                                  + CONVERT(VARCHAR(50), DispatchMaster.DispatchSlipNo)
                                                  + CASE WHEN DispatchMaster.Separator IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                                                    END
                                                  + CASE WHEN DispatchMaster.Suffix IS NULL
                                                         THEN ''
                                                         ELSE CONVERT(VARCHAR(50), DispatchMaster.Suffix)
                                                    END 
                                                     as Dispatchslipno 
                      FROM CustomerGRN  
                     left JOIN PlantMaster ON PlantMaster.PlantId		=CustomerGRN.LocationId
                     INNER JOIN CustomerMaster ON CustomerGRN.customerID = CustomerMaster.CustomerId
      --                 LEFT JOIN (
						--select CustomerGRNId,CustomerGRNTrans.DispatchId --, SUM(Qty) AS Stock 
						-- from CustomerGRNTrans 
						--inner join dispatchmaster on  dispatchmaster.DispatchID =CustomerGRNTrans.DispatchId   and dispatchmaster.IsDeleted = 0 
						--	--	WHERE CustomerGRNTrans.CustomerGRNId = C.CustomerGRNId
						--  )  AS Temp1  ON Temp1.CustomerGRNId = CustomerGRN.CustomerGRNId
						INNER JOIN dispatchmaster on dispatchmaster.DispatchID = CustomerGRN.dispatchId
                     where CustomerGRN.IsDeleted =0 
												AND  ( @LocationId IS NULL 
													  OR  CustomerGRN.LocationId =@LocationId
													 ) 
												AND CustomerGRN.EntityID =@EntityId
												AND ( @DateFrom IS NULL
																			  OR @DateTo IS NULL
																			  OR CustomerGRNDate  BETWEEN @DateFrom
																			  AND
																			  @DateTo
																			) 
											  AND ( @CustomerID IS NULL
												  OR CustomerGRN.CustomerId = @CustomerID
													)  
													AND ( @CustomerGRNNo IS NULL
												  OR CustomerGRN.CustomerGRNNo like '%'+@CustomerGRNNo +'%'
													)    
											 AND ( @DispatchID = 0
													  OR CustomerGRN.DispatchId =@DispatchID
													 )   
											 AND (@LocationInTrnsist IS NULL          		
													OR 	 ISNULL( PlantMaster.PlantName,'' ) =@LocationInTrnsist
													)					   
        END       
END
GO
