USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportItemWiseSalesDetails]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Dhruvin>
-- Create date: <Create Date,,17-06-2020>
-- Description:	<Description,,Report item wise sales details>
-- =============================================
CREATE PROCEDURE [dbo].[ReportItemWiseSalesDetails]
 @DispatchDateFrom DATETIME ,
	@DispatchDateTo DATETIME ,
	@CastingId UNIQUEIDENTIFIER = NULL ,
	@CustomerID UNIQUEIDENTIFIER = NULL ,
	@CastingName VARCHAR(100) = NULL ,
	@MetalId BIGINT = 0 ,
	@EntityID INT = 0,
	@PlantIdString VARCHAR(MAX) = NULL,
	@SeriesId int =0,
	@IsPartWise BIT = 0 ,
	@MetalType VARCHAR(100) = NULL,
	@IsRequestFromApp bit = 0,
	@PageNumber int = 1,
	@PageSize int = 10,
	@UserId int = 0,
	@PrintCustomerCode int = 0  ,
	@CondOfSupply int = 0 
	AS
BEGIN

  declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	 IF @IsPartWise = 0 --means Only Casting Data 
                BEGIN
                    if @IsRequestFromApp = 0
						begin
							SELECT  ROUND(ISNULL(SUM(dbo.dispatchtrans.TotalAmount
												 - ( dispatchtrans.TotalAmount
													 * DisPer / 100 )), 0), 2) AS TotalSales ,
								CastingName ,
								CastingCode ,
								Symbol ,
								isnull(SUM(dbo.dispatchtrans.TotalAmountInCurrency),0) AS ExportTotalAmount ,
								SUM(dispatchtrans.DispatchQty) AS DispatchedQty ,
								CAST(SUM(dispatchtrans.DispatchQty * dispatchtrans.weight) AS DECIMAL(18, 3)) AS TotalWeight,
								dbo.CastingMaster.CastingId, dbo.CustomerMaster.CustomerName
						FROM    dbo.dispatchtrans
								INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.dispatchtrans.castingid
								INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
								INNER JOIN OrderTranse ON OrderTranse.CustomerOrderId = dispatchtrans.orderid
														  AND dbo.OrderTranse.SrNo = dbo.dispatchtrans.orderserialno
														  AND dbo.OrderTranse.CastingId = dbo.dispatchtrans.CastingId
								INNER JOIN MetalMaster ON OrderTranse.MetalID = MetalMaster.MetalId
								LEFT JOIN dbo.CurrencyMaster ON dbo.CurrencyMaster.CurrencyId = dbo.dispatchmaster.Currency
								inner join dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.dispatchmaster.customerID
						WHERE   dbo.dispatchtrans.IsDeleted = 0 And dispatchmaster.TypeOfVoucher = 0
								AND dbo.dispatchmaster.IsDeleted = 0
								AND DispatchMaster.Isproforma = 0
								AND ( dispatchdate BETWEEN @DispatchDateFrom AND @DispatchDateTo )
								AND ( @CustomerID IS NULL
									  OR dbo.dispatchmaster.CustomerID = @CustomerID
									)
								 AND ( @SeriesId = 0
										OR dispatchmaster.SeriesId = @SeriesId
									)    
								AND ( @CastingId IS NULL
									  OR CastingMaster.CastingId = @CastingId
									)
								AND ( @CastingName IS NULL
									  OR CastingMaster.CastingName = @CastingName
									)
								AND ( @MetalType IS NULL
									  OR MetalType = @MetalType
									)
								AND ( @MetalID = 0
									  OR OrderTranse.MetalId = @MetalID
									)
								AND dispatchmaster.EntityID = @EntityId
								-----------Plant-----------
								AND (@PlantIdString IS NULL 
								OR @PlantIdString = ''
								OR dispatchmaster.PlantID IN (
									SELECT Item FROM  @Plant )
								)
								-----------------------
								ANd OrderTranse.IsDeleted = 0
								And (ISNULL(@CondOfSupply,0) = 0 Or OrderTranse.CondOfSupply = @CondOfSupply)
						GROUP BY CastingName ,
								CastingCode ,
								Symbol,
								dbo.CastingMaster.CastingId, dbo.CustomerMaster.CustomerName
						ORDER BY ROUND(ISNULL(SUM(dbo.dispatchtrans.TotalAmount
												  - ( dispatchtrans.TotalAmount
													  * DisPer / 100 )), 0), 2) DESC
						end
                    else  
                    -- added by Ankit
						
						begin 
					 
						DECLARE @UserCustCodeActv INT = ISNULL((SELECT TOP 1 1 FROM UserCustomerCodeActive WHERE UserID = @UserId), 0)
						Select Dispatch.*,
						(CASE WHEN (@PrintCustomerCode = 1 AND @UserCustCodeActv = 1) 
								THEN patternMapping.CustomerCode 
							ELSE patternMapping.CustomerName 
						END) CustomerName,
						isNull(image_path.FilePath,'')as FilePath 
						from (

						SELECT
							ROW_NUMBER() over (ORDER BY ROUND(ISNULL(SUM(dbo.dispatchtrans.TotalAmount
												  - ( dispatchtrans.TotalAmount
													  * DisPer / 100 )), 0), 2) DESC) as Rank,  
							ROUND(ISNULL(SUM(dbo.dispatchtrans.TotalAmount
												 - ( dispatchtrans.TotalAmount
													 * DisPer / 100 )), 0), 2) AS TotalSales,
							    CastingMaster.CastingId,
							    CastingMaster.Dieid,
								CastingName ,
								CastingCode AS Part,
								--OT.DrawingNo AS DWG,
							--	patternMapping.CustomerName,
								OT.UOM AS UnitOfMeasure,
								dbo.CurrencyMaster.Currency,
							--	isNull(image_path.FilePath,'')as FilePath,
								CurrencyMaster.Symbol as Symbol,
								isnull(SUM(dbo.dispatchtrans.TotalAmountInCurrency),0) AS ExportTotalAmount ,
								SUM(dispatchtrans.DispatchQty) AS DispatchedQty ,
								CAST(SUM(dispatchtrans.DispatchQty * dispatchtrans.weight) AS DECIMAL(18, 3)) AS TotalWeight,
								dbo.CustomerMaster.CustomerName
									 
						FROM    dbo.dispatchtrans
								INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.dispatchtrans.castingid
								INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
								INNER JOIN OrderTranse OT ON OT.CustomerOrderId = dispatchtrans.orderid
														  AND OT.SrNo = dbo.dispatchtrans.orderserialno
														  AND OT.CastingId = dbo.dispatchtrans.CastingId
								INNER JOIN MetalMaster ON OT.MetalID = MetalMaster.MetalId
								LEFT JOIN dbo.CurrencyMaster ON dbo.CurrencyMaster.CurrencyId = dbo.dispatchmaster.Currency
								inner join dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.dispatchmaster.customerID
								
						WHERE   dbo.dispatchtrans.IsDeleted = 0 and TypeOfVoucher = 0
								AND dbo.dispatchmaster.IsDeleted = 0
								AND DispatchMaster.Isproforma = 0
								AND ( dispatchdate BETWEEN @DispatchDateFrom AND @DispatchDateTo )
								AND ( @CustomerID IS NULL
									  OR dbo.dispatchmaster.CustomerID = @CustomerID
									)
								AND ( @SeriesId = 0
										OR dispatchmaster.SeriesId = @SeriesId
									)    
								AND ( @CastingId IS NULL
									  OR CastingMaster.CastingId = @CastingId
									)
								AND ( @CastingName IS NULL
									  OR CastingMaster.CastingName = @CastingName
									)
								AND ( @MetalType IS NULL
									  OR MetalType = @MetalType
									)
								AND ( @MetalID = 0
									  OR OT.MetalId = @MetalID
									)
								AND dispatchmaster.EntityID = @EntityId
								-----------Plant-----------
								AND (@PlantIdString IS NULL 
								OR @PlantIdString = ''
								OR dispatchmaster.PlantID IN (
									SELECT Item FROM @Plant )
								)
								-----------------------
								ANd OT.IsDeleted = 0
								And( isnull(@CondOfSupply ,0) = 0 Or OT.CondOfSupply = @CondOfSupply) 
						GROUP BY CastingMaster.CastingId, 
								CastingMaster.Dieid,
						        CastingName,
								CastingCode ,
								--OT.DrawingNo,
							--	patternMapping.CustomerName,
								OT.UOM,
								dbo.CurrencyMaster.Currency,
							--	image_path.FilePath,
								CurrencyMaster.Symbol,
								dbo.CastingMaster.CastingId, dbo.CustomerMaster.CustomerName
							) as Dispatch
							left join(
								select * from(
								select ROW_NUMBER() over(PARTITION BY id order by id) as rownum, * 
								from ImagePath) as ip where rownum = 1) as image_path on image_path.Id = Dispatch.CastingId 
								
								INNER join (
								select * from(
								select	ROW_NUMBER()  over(partition by patternid order by patternid) as rownum, PatternId,CustomerPatternMapping.CustomerId  
								, CustomerMaster.CustomerName, CustomerMaster.CustomerCode
								from CustomerPatternMapping
								inner JOIN CustomerMaster ON CustomerMaster.CustomerId = CustomerPatternMapping.CustomerId
								where  ( @CustomerID IS NULL
									  OR CustomerPatternMapping.CustomerID = @CustomerID
									)
								) as t where rownum=1) as patternMapping on patternMapping.PatternId = Dispatch.Dieid 
								where 

								 
								 ( @CastingId IS NULL
									  OR Dispatch.CastingId = @CastingId
									)
								AND ( @CastingName IS NULL
									  OR Dispatch.CastingName = @CastingName
									)
								
							ORDER BY [Rank]
						end
                   
                END  
            ELSE
                BEGIN
                --means Only Casting Data With Part Also
                    SELECT  ROUND(ISNULL(SUM(dbo.dispatchtrans.TotalAmount
                                             - ( dispatchtrans.TotalAmount
                                                 * DisPer / 100 )), 0), 2) AS TotalSales ,
                            CastingName ,
                            CastingCode ,
                            Symbol ,
                     isnull(SUM(dbo.dispatchtrans.TotalAmountInCurrency),0) AS ExportTotalAmount ,
                            SUM(dispatchtrans.DispatchQty) AS DispatchedQty ,
                            CAST(SUM(dispatchtrans.DispatchQty * dispatchtrans.weight) AS DECIMAL(18, 3)) AS TotalWeight,
								dbo.CastingMaster.CastingId, dbo.CustomerMaster.CustomerName

                    FROM    dbo.dispatchtrans
                            INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.dispatchtrans.PartId
                            INNER JOIN dbo.dispatchmaster ON dbo.dispatchmaster.DispatchID = dbo.dispatchtrans.dispatchid
                            INNER JOIN OrderTranse ON OrderTranse.CustomerOrderId = dispatchtrans.orderid
                                                      AND dbo.OrderTranse.SrNo = dbo.dispatchtrans.orderserialno
                                                      AND dbo.OrderTranse.PartId = dbo.dispatchtrans.PartId
                            INNER JOIN MetalMaster ON OrderTranse.MetalID = MetalMaster.MetalId
                            LEFT JOIN dbo.CurrencyMaster ON dbo.CurrencyMaster.CurrencyId = dbo.dispatchmaster.Currency
							inner join dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.dispatchmaster.customerID
                    WHERE   dbo.dispatchtrans.IsDeleted = 0 and TypeOfVoucher = 0
                            AND dbo.dispatchmaster.IsDeleted = 0
                            AND DispatchMaster.Isproforma = 0
                            AND ( dispatchdate BETWEEN @DispatchDateFrom AND @DispatchDateTo )
                            AND ( @CustomerID IS NULL
                                  OR dbo.dispatchmaster.CustomerID = @CustomerID
                                )
                            AND ( @SeriesId = 0
									OR dispatchmaster.SeriesId = @SeriesId
								)
                                
                            AND ( @CastingId IS NULL
                                  OR CastingMaster.CastingId = @CastingId
                                )
                            AND ( @CastingName IS NULL
                                  OR CastingMaster.CastingName = @CastingName
                                )
                            AND ( @MetalType IS NULL
                                  OR MetalType = @MetalType
                                )
                            AND ( @MetalID = 0
                                  OR OrderTranse.MetalId = @MetalID
                                )
                            AND dispatchmaster.EntityID = @EntityId
                            -----------Plant-----------
                            AND (@PlantIdString IS NULL 
							OR @PlantIdString = ''
							OR dispatchmaster.PlantID IN (
								SELECT Item FROM @Plant)
							)
                            -----------------------
                            
                            ANd OrderTranse.IsDeleted = 0
                            And ( ISNULL(@CondOfSupply,0) = 0 Or OrderTranse.CondOfSupply = @CondOfSupply)
                    GROUP BY CastingName ,
                            CastingCode ,
                            Symbol,
							dbo.CastingMaster.CastingId, dbo.CustomerMaster.CustomerName
                    ORDER BY ROUND(ISNULL(SUM(dbo.dispatchtrans.TotalAmount
                                              - ( dispatchtrans.TotalAmount
                                                  * DisPer / 100 )), 0), 2) DESC
                END 
END


GO
