USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ExportSummary]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExportSummary]
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0
AS
    BEGIN
        SET NOCOUNT ON;

 declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End   
        SELECT  ROW_NUMBER() OVER ( ORDER BY AREDate ASC ) AS SrNo ,
                AgainstARENo ,
                CONVERT(VARCHAR(11), AREDate, 106) AS AREDate ,
                CASE WHEN DispatchMaster.Prefix IS NULL THEN ''
                     ELSE CONVERT(VARCHAR(50), DispatchMaster.Prefix)
                END + CASE WHEN DispatchMaster.Separator IS NULL THEN ''
                           ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                      END + CONVERT(VARCHAR(50), DispatchMaster.DispatchSlipNo)
                + CASE WHEN DispatchMaster.Separator IS NULL THEN ''
                       ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                  END + CASE WHEN DispatchMaster.Suffix IS NULL THEN ''
                             ELSE CONVERT(VARCHAR(50), DispatchMaster.Suffix)
                        END AS DispatchSlipNo ,
                ( SELECT    CONVERT(VARCHAR(50), YEAR(CASE WHEN MONTH(AREDate) > 3
                                                           THEN CONVERT(DATETIME, CAST(YEAR(AREDate) AS VARCHAR)
                                                              + '-4-1')
                                                           ELSE CONVERT(DATETIME, CAST(YEAR(AREDate)
                                                              - 1 AS VARCHAR)
                                                              + '-4-1')
                                                      END)) + '-'
                            + CONVERT(VARCHAR(50), YEAR(CASE WHEN MONTH(AREDate) > 3
                                                             THEN CONVERT(DATETIME, CAST(YEAR(AREDate)
                                                              + 1 AS VARCHAR)
                                                              + '-3-31')
                                                             ELSE CONVERT(DATETIME, CAST(YEAR(AREDate) AS VARCHAR)
                                                              + '-3-31')
                                                        END))
                ) AS 'Year' ,
                CONVERT(VARCHAR(11), ExportDate, 106) AS ExportDate ,
                CurrencyMaster.Symbol + ' '
			 + CONVERT(VARCHAR(50),CAST(dispatchmaster.TotalAmountInCurrency AS DECIMAL(20, 2)) ) AS CurrancyAmount ,
                CurrencyMultiplier AS Rate ,
                CASE WHEN DispatchMaster.Prefix IS NULL THEN ''
                     ELSE CONVERT(VARCHAR(50), DispatchMaster.Prefix)
                END + CASE WHEN DispatchMaster.Separator IS NULL THEN ''
                           ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                      END + CONVERT(VARCHAR(50), DispatchMaster.ExportNo)
                + CASE WHEN DispatchMaster.Separator IS NULL THEN ''
                       ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator)
                  END + CASE WHEN DispatchMaster.Suffix IS NULL THEN ''
                             ELSE CONVERT(VARCHAR(50), DispatchMaster.Suffix)
                        END AS ExportNo ,
                CONVERT(VARCHAR(11), dispatchdate, 106) AS dispatchdate ,
                ROUND(dispatchmaster.TotalAmount, 2) AS TotalAmount ,
                ISNULL(ExcisePer , 0) AS ExcisePer,
                ISNULL(CASE WHEN ExcisePer = '' THEN 0
                     ELSE ROUND(( ExcisePer * dispatchmaster.TotalAmount )
                                / 100, 2)
                END, 0) AS ExciseAmount ,
                ISNULL(SalesAgainstFormExport , '') AS SalesAgainstFormExport,
                CountryofFinalDestination ,
                ISNULL(STUFF(( SELECT  ',' + ContainerNo
                        FROM    dbo.PackingContainerDetail
                        WHERE   PackingContainerDetail.DispatchID = dispatchmaster.DispatchID
                      FOR
                        XML PATH('')
                      ), 1, 1, ''), '') AS ContainerNo ,
                ISNULL(STUFF(( SELECT  ',' + ShippingLineSealNo
                        FROM    dbo.PackingContainerDetail
                        WHERE   PackingContainerDetail.DispatchID = dispatchmaster.DispatchID
                      FOR
                        XML PATH('')
                      ), 1, 1, ''), '') AS ShippingLineSealNo ,
                NetWeight AS NetWeight ,
                ISNULL(GrossWeight , 0) AS GrossWeight,
                ISNULL(PortofLoading, '') AS PortofDelivery ,
                ISNULL(DrawbackDutyPer , 0 ) AS DrawbackDutyPer,
                ISNULL(ROUND(DrawbackDutyAmount, 2), 0) AS DrawbackDutyAmount,
				CustomerMaster.CustomerName,
				TotalQty,
				[PortOfLoading].PortName as PortOfLoading,
				PackingContainerDetail.SelfOrExciseSealNo as SelfSealNo,
				PackingContainerDetail.Size,
				pre.PortName as PlaceOfPreCarriage,
				PortofDischarge,
				LineNo1,
				LineNo2,
				LineNo3,
				IncoTerms,
				charges.amt as IGSTAmt

        FROM    dbo.dispatchmaster
                INNER JOIN ( SELECT dispatchid ,
                                    SUM(weight * dispatchqty) AS NetWeight,
										sum(ISNULL((DispatchQty), 0)) + sum(isnull(ItemRequiredQty,0))   AS TotalQty
                             FROM   dbo.dispatchtrans
                             GROUP BY dispatchid
                           ) AS s ON s.dispatchid = dbo.dispatchmaster.DispatchID
				inner join(		   SELECT	CAST(ISNULL(SUM(chargeamount), 0) AS decimal(18, 2)) as amt ,UnderTaxation
								,DispatchOtherCharges.DispatchId 						 
						FROM	DispatchOtherCharges
								INNER JOIN LedgerMaster Ligst ON Ligst.ChargeId = DispatchOtherCharges.ChargeId  and UnderTaxation = 1  					 
						 group by DispatchOtherCharges.DispatchId,UnderTaxation 
						 ) as charges on charges.DispatchId = dispatchmaster.DispatchID
                INNER JOIN dbo.CurrencyMaster ON dbo.CurrencyMaster.CurrencyId = dbo.dispatchmaster.Currency
				INNER JOIN dbo.CustomerMaster ON dbo.dispatchmaster.customerID = dbo.CustomerMaster.CustomerId
				left join [PortOfLoading] on [PortOfLoading].PortOfLoadingId = dispatchmaster.PortofLoadingId
				left join PackingContainerDetail on PackingContainerDetail.DispatchID = dispatchmaster.DispatchID
					left join [PortOfLoading] pre on pre.PortOfLoadingId = dispatchmaster.PrecarriageId
        WHERE   IsExport = 1
                AND dbo.dispatchmaster.IsDeleted = 0
                AND CAST(ExportDate AS DATE) BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
                
                AND (@PlantIdString IS NULL 
					OR @PlantIdString = ''
					OR dispatchmaster.PlantID IN (
						SELECT Item FROM @Plant )
					)
					AND dispatchmaster.EntityID = @EntityId
					And dispatchmaster.TypeOfVoucher = 0
    END
GO
