USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PatternAssemblyProduction_FetchConsumption]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PatternAssemblyProduction_FetchConsumption] 
@MethodId UNIQUEIDENTIFIER ,
@PlantId int ,
@EntityId int,
@OrderId uniqueidentifier = null
AS
BEGIN
	
	Select DISTINCT
	CAST(0x0 AS UNIQUEIDENTIFIER) as ProdID,
	CAST(0x0 AS UNIQUEIDENTIFIER) as ProdDetID,
	BOQTrans.PurchaseItemId as PatternId,
	PurchaseItemMaster.ItemCode as PatternCode,
	UOMMaster.UOM,
	CAST( 0 as decimal(18,2)) as ConsumptionQty,
	BOQTrans.Qty as ItemQty,
	CASE WHEN PurchaseItemMaster.IsPatDieWax <> 0 THEN ISNULL(InventoryDetails.Stock,0)  ELSE  ISNULL(FloorInventoryDetails.Stock,0)  END Stock,
	CAST(1 as bit) as IsStockAutoAssign,
	'' as ConsumptionDet,
	CASE WHEN PurchaseItemMaster.IsPatDieWax <> 0 THEN 2 ELSE 1 END ItemType

	from
	BOQTrans
	inner join PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = BOQTrans.PurchaseItemId
	inner join UOMMaster ON UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
	Left Join(	select	Sum(RawInwBatchWiseStock.Qty) as Stock, RawInwBatchWiseStock.PurchaseItemId 
				from	RawInwBatchWiseStock
						inner Join BOQTrans on BOQTrans.PurchaseItemId = RawInwBatchWiseStock.PurchaseItemId
				where	RawInwBatchWiseStock.PlantId = @PlantId
						AND RawInwBatchWiseStock.EntityId = @EntityId 
						and BOQTrans.BOQId = @MethodId
						and (@OrderId is null Or RawInwBatchWiseStock.OrderTranseId = @OrderId)
						And status = 1
				group by RawInwBatchWiseStock.PurchaseItemId
				) as InventoryDetails on InventoryDetails.PurchaseItemId = BOQTrans.PurchaseItemId
	left join (select sum(Stock - Blockqty) as Stock, PurchaseItemId,
						plantId, entityId from FloorBatchWiseStock
						group by PurchaseItemId, plantId ,entityId
						) as FloorInventoryDetails ON FloorInventoryDetails.PurchaseItemId =  BOQTrans.PurchaseItemId
					AND FloorInventoryDetails.PlantId = @PlantId
					AND FloorInventoryDetails.EntityId = @EntityId 
						

	WHERE BOQTrans.BOQId = @MethodId
END
GO
