USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PurchaseAmountTrendChartDrillThrough]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[PurchaseAmountTrendChartDrillThrough]

@StartYear INT = 0,
@InvoiceMonth VARCHAR(MAX) = NULL,
@entityid int=0,
@PlantIdString varchar(200) = NULL      

AS

BEGIN

Declare @StartingMonthForFY int;
SET @StartingMonthForFY = (SELECT FinancialYear FROM configuration where EntityId = @EntityId)   

SELECT		1 AS RowNo,
			CONVERT(VARCHAR, DAY(date)) AS DateField,
			CONVERT(VARCHAR(10), date, 20) AS InvoiceDate, 
			(CASE WHEN MONTH(date) BETWEEN @StartingMonthForFY AND @StartingMonthForFY+2
					  THEN 'Q1'
			WHEN MONTH(date) BETWEEN @StartingMonthForFY +3 AND @StartingMonthForFY+5
					 THEN 'Q2'
			WHEN MONTH(date) BETWEEN @StartingMonthForFY+6 AND @StartingMonthForFY+8
					 THEN 'Q3'
			WHEN MONTH(date) BETWEEN @StartingMonthForFY+9 AND @StartingMonthForFY+11
					 THEN 'Q4'
			END) AS QuarterField,
			ISNULL(A.InvoiceAmount, 0) AS InvoiceAmount
				
FROM		GetdateByMonth (DATEADD(m, MONTH(CAST('01'+@InvoiceMonth+'2010' AS DATETIME)) - 1, DATEADD(yyyy, @StartYear - 1900, 0)), 
			DATEADD(d, -1, DATEADD(m, MONTH(CAST('01'+@InvoiceMonth+'2010' AS DATETIME)), DATEADD(yyyy, @StartYear - 1900, 0))))	
			LEFT JOIN
			(
				SELECT		CONVERT(VARCHAR(10), InvoiceDate, 20) AS InvoiceDate,
							SUM(ISNULL(TotalAmount, 0)) AS InvoiceAmount
							
				FROM		PurchaseInvoice
				
				WHERE		IsDelete = 0
							AND MONTH(InvoiceDate) > @StartingMonthForFY - 1
							AND YEAR(InvoiceDate) = @StartYear
							AND DATENAME(MONTH, InvoiceDate) = @InvoiceMonth	
							AND EntityId=@entityid
							AND PlantId in (SELECT * FROM dbo.SplitString(@PlantIdString, ','))
							
				GROUP BY	InvoiceDate
				
			)A
			ON A.InvoiceDate = date
			
WHERE MONTH(date) > @StartingMonthForFY - 1
			
			
UNION


SELECT		2 AS RowNo,
			CONVERT(VARCHAR, DAY(date)) AS DateField,
			CONVERT(VARCHAR(10), date, 20) AS InvoiceDate, 
			(CASE WHEN MONTH(date) BETWEEN @StartingMonthForFY-12 AND @StartingMonthForFY-10
					  THEN 'Q1'
			WHEN MONTH(date) BETWEEN @StartingMonthForFY -9 AND @StartingMonthForFY-7
					 THEN 'Q2'
			WHEN MONTH(date) BETWEEN @StartingMonthForFY-6 AND @StartingMonthForFY-4
					 THEN 'Q3'
			WHEN MONTH(date) BETWEEN @StartingMonthForFY-3 AND @StartingMonthForFY-1
					 THEN 'Q4'
			END) AS QuarterField,
			ISNULL(A.InvoiceAmount, 0) AS InvoiceAmount
			
FROM		GetdateByMonth (DATEADD(m, MONTH(CAST('01'+@InvoiceMonth+'2010' AS DATETIME)) - 1, DATEADD(yyyy, @StartYear - 1900, 0)), 
			DATEADD(d, -1, DATEADD(m, MONTH(CAST('01'+@InvoiceMonth+'2010' AS DATETIME)), DATEADD(yyyy, @StartYear - 1900, 0))))	
			LEFT JOIN
			(
				
				SELECT		CONVERT(VARCHAR(10), InvoiceDate, 20) AS InvoiceDate,
							SUM(ISNULL(TotalAmount, 0)) AS InvoiceAmount
							
				FROM		PurchaseInvoice
				
				WHERE		IsDelete = 0
							AND MONTH(InvoiceDate) < @StartingMonthForFY
							AND YEAR(InvoiceDate) = @StartYear
							AND DATENAME(MONTH, InvoiceDate) = @InvoiceMonth							
							AND EntityId=@entityid
							AND PlantId in (SELECT * FROM dbo.SplitString(@PlantIdString, ','))
				GROUP BY	InvoiceDate	
				
			)A
			ON A.InvoiceDate = date
									
WHERE MONTH(date) < @StartingMonthForFY
			
END
GO
