USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchCastingWeight]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FetchCastingWeight]
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @MetalID INT = 0 ,
    @Parameter INT = 0
AS
    BEGIN
    
        IF @Parameter = 1
            BEGIN
                SELECT  
                        CastingNetWeight AS Weight ,
                        GrossWeight ,
                        CastingMetal.DrawingNo,
                        ISNULL(InvoiceWeight,0) as InvoiceWeight,
                        ISNULL(RoughMachiningWeight,0) as RoughMachiningWeight,
                        ISNULL(AfterMachiningWeight,0) as AfterMachiningWeight
                FROM    CastingMetal
                WHERE   castingID = @CastingID
                        AND metalid = @MetalID
            END
        -- Fetch RoughMachiningWeight weight in case it is null ot 0 then fetch previous entered weight
        IF @Parameter = 2
            BEGIN
            
            if exists (select * from CastingMaster where CastingId = @CastingID and ParentID is null)
				begin
                SELECT  ( CASE WHEN RoughMachiningWeight IS NULL
                                    OR RoughMachiningWeight = 0
                               THEN ( CASE WHEN InvoiceWeight IS NULL
                                                OR InvoiceWeight = 0
                                           THEN CastingNetWeight
                                           ELSE InvoiceWeight
                                      END )
                               ELSE RoughMachiningWeight
                          END ) AS Weight ,
                        CastingMetal.RoughMachineDrawing AS DrawingNo
                FROM    CastingMetal
                WHERE   castingID = @CastingID
                        AND metalid = @MetalID
               end
               else
               begin
					SELECT  ( CASE WHEN RoughMachiningWeight IS NULL
                                    OR RoughMachiningWeight = 0
                               THEN ( CASE WHEN InvoiceWeight IS NULL
                                                OR InvoiceWeight = 0
                                           THEN CastingNetWeight
                                           ELSE InvoiceWeight
                                      END )
                               ELSE RoughMachiningWeight
                          END ) AS Weight ,
                        CastingMetal.DrawingNo AS DrawingNo
                FROM    CastingMetal
                WHERE   castingID = @CastingID
                        AND metalid = @MetalID
               end
            END
        
        -- Fetch After machining weight in case it is null ot 0 then fetch previous entered weight
        IF @Parameter = 3
            BEGIN
				if exists (select * from CastingMaster where CastingId = @CastingID and ParentID is null)
				begin
                SELECT  ( CASE WHEN AfterMachiningWeight IS NULL
                                    OR AfterMachiningWeight = 0
                               THEN ( CASE WHEN RoughMachiningWeight IS NULL
                                                OR RoughMachiningWeight = 0
                                           THEN ( CASE WHEN InvoiceWeight IS NULL
                                                            OR InvoiceWeight = 0
                                                       THEN CastingNetWeight
                                                       ELSE InvoiceWeight
                                                  END )
                                           ELSE RoughMachiningWeight
                                      END )
                               ELSE AfterMachiningWeight
                          END ) AS Weight ,
                        --( CASE WHEN AfterMachiningWeight IS NULL
                        --            OR AfterMachiningWeight = 0
                        --       THEN ( CASE WHEN RoughMachiningWeight IS NULL
                        --                        OR RoughMachiningWeight = 0
                        --                   THEN CastingNetWeight
                        --                   ELSE RoughMachiningWeight
                        --              END )
                        --       ELSE AfterMachiningWeight
                        --  END ) AS Weight ,
                        CastingMetal.FullMachineDrawing AS DrawingNo
                FROM    CastingMetal
                WHERE   castingID = @CastingID
                        AND metalid = @MetalID
                end
                else
                begin
					SELECT  ( CASE WHEN AfterMachiningWeight IS NULL
                                    OR AfterMachiningWeight = 0
                               THEN ( CASE WHEN RoughMachiningWeight IS NULL
                                                OR RoughMachiningWeight = 0
                                           THEN ( CASE WHEN InvoiceWeight IS NULL
                                                            OR InvoiceWeight = 0
                                                       THEN CastingNetWeight
                                                       ELSE InvoiceWeight
                                                  END )
                                           ELSE RoughMachiningWeight
                                      END )
                               ELSE AfterMachiningWeight
                          END ) AS Weight ,
                        --( CASE WHEN AfterMachiningWeight IS NULL
                        --            OR AfterMachiningWeight = 0
                        --       THEN ( CASE WHEN RoughMachiningWeight IS NULL
                        --                        OR RoughMachiningWeight = 0
                        --                   THEN CastingNetWeight
                        --                   ELSE RoughMachiningWeight
                        --              END )
                        --       ELSE AfterMachiningWeight
                        --  END ) AS Weight ,
                        CastingMetal.DrawingNo AS DrawingNo
                FROM    CastingMetal
                WHERE   castingID = @CastingID
                        AND metalid = @MetalID
                end
            END  
            
             IF @Parameter = 4
            BEGIN
                SELECT  ( CASE WHEN InvoiceWeight IS NULL
                                    OR InvoiceWeight = 0 THEN CastingNetWeight
                               ELSE InvoiceWeight
                          END ) AS Weight ,
                        GrossWeight ,
                        CastingMetal.DrawingNo
                FROM    CastingMetal
                WHERE   castingID = @CastingID
                        AND metalid = @MetalID
            END                            
    END
GO
