USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WaxPartProductionSP]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yashvi Shah>
-- Create date: <18 June 2018>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[WaxPartProductionSP]
    @Parameter INT = 0 ,
    @PartBatchId UNIQUEIDENTIFIER = NULL ,
    @MachineID UNIQUEIDENTIFIER = NULL ,
    @EntryNo VARCHAR(20) = NULL ,
    @BatchNo VARCHAR(20) = NULL ,
    @ProductionDate DATETIME = NULL ,
    @OperatorID INT = 0 ,
    @Shift VARCHAR(50) = NULL ,
    @StartTime DATETIME = NULL ,
    @EndTime DATETIME = NULL ,
    @TotalWaxUsed FLOAT = 0 ,
    @CreatedBy INT = 0 ,
    @ModifiedBy INT = 0 ,
    @DeletedBy INT = 0 ,
    @EntityId INT = 0 ,
    @WaxPartProductionDetails AS XML = NULL ,
    @WaxPartRejection AS XML = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @WaxAssemblyId UNIQUEIDENTIFIER = NULL ,
    @ProductionQty BIGINT = 0 ,
    @OKQty BIGINT = 0 ,
   -- @PRO_RejQty BIGINT = 0 ,--AT PRODUCTION TIME REJECTION
    @WtPerPcPart FLOAT = 0 ,
    @TotalWeightPart FLOAT = 0 ,
    @JobCardID UNIQUEIDENTIFIER = NULL ,
    @WaxPartProductionID UNIQUEIDENTIFIER = NULL ,
    @RejectionDate DATETIME = NULL ,
    @RejQty BIGINT = 0 ,
    @PerPcWeight FLOAT = 0 ,
    @ReasonID INT = 0 ,
    @WaxPartRejectionID UNIQUEIDENTIFIER = NULL ,
    @WaxPartProductionDelete AS XML = NULL ,
    @WaxPartRejectionDelete AS XML = NULL ,
    @TotalRecords INT = 0 ,
    @InitialLoad INT = 0 ,
    @PageSize INT = 0 ,
    @PageNumber INT = 0 ,
    @UpdatedQty FLOAT = 0 ,
    @Consumption FLOAT = 0 ,
    @BatchDetails XML = NULL ,
    @ConsumptionMethod BIT = NULL ,
    @IsInwardBatchWise BIT = NULL ,
    @WaxConsumptionXML AS XML = NULL ,
    @StartDate DATE = NULL ,
    @Enddate DATE = NULL
AS
    BEGIN

        DECLARE @PurchaseItemID UNIQUEIDENTIFIER ,
            @ConsumedQty FLOAT ,
            @PartCavity INT;
            DECLARE @result TABLE ( returnvalue INT );

        IF @Parameter = 1 --INSERT QUERY
            BEGIN
                BEGIN TRANSACTION
	BEGIN TRY 
             
	  --TRANSACTION TABLE INSERTION
	  
                DECLARE WaxPartProductionDetails CURSOR
                FOR
                    SELECT  Node.value('(CastingID )[1]', 'UniqueIdentifier') AS 'CastingID' ,
                            Node.value('(WaxAssemblyId )[1]',
                                       'UniqueIdentifier') AS 'WaxAssemblyId' ,
                            Node.value('(ProductionQty )[1]', 'bigint') AS 'ProductionQty' ,
                            Node.value('(OKQty )[1]', 'bigint') AS 'OKQty' ,
                            Node.value('(RejQty )[1]', 'int') AS 'RejQty' ,
                            Node.value('(WtPerPcPart )[1]', 'float') AS 'WtPerPcPart' ,
                            Node.value('(TotalWeightPart )[1]', 'float') AS 'TotalWeightPart' ,
                            Node.value('(JobCardID )[1]', 'UniqueIdentifier') AS 'JobCardID' ,
                            Node.value('(OperatorId )[1]', 'int') AS 'OperatorId' ,
                            Node.value('(MachineID )[1]', 'UniqueIdentifier') AS 'MachineID' ,
                            Node.value('(BatchNo )[1]', 'Varchar(50)') AS 'BatchNo' ,
                            Node.value('(Shift )[1]', 'varchar(50)') AS 'Shift' ,
                            Node.value('(StartTime )[1]', 'DateTime') AS 'StartTime' ,
                            Node.value('(EndTime )[1]', 'DateTime') AS 'EndTime' ,
                            Node.value('(EntryNo )[1]', 'varchar(50)') AS 'EntryNo' ,
                            Node.value('(ProductionDate )[1]', 'DateTime') AS 'ProductionDate' ,
                            Node.query('WaxPartRejectionxml /*') AS 'WaxPartRejectionxml' --INNER XML FOR WAX PART REJECTION
                          --  Node.query('WaxPartConsumption /*') AS 'WaxPartConsumption'--INNER XML FOR WAX CONSUMPTION
                    FROM    @WaxPartProductionDetails.nodes('/DocumentElement/WaxPartProductionDetails')
                            AS TEMPXML ( Node )	
                            
                OPEN WaxPartProductionDetails;
                
                
                FETCH NEXT FROM WaxPartProductionDetails INTO @CastingID,
                    @WaxAssemblyId, @ProductionQty, @OKQty, @RejQty,
                    @WtPerPcPart, @TotalWeightPart, @JobCardID, @OperatorId,
                    @MachineID, @BatchNo, @Shift, @StartTime, @EndTime,
                    @EntryNo, @ProductionDate, @WaxPartRejection--, @WaxConsumptionXML
	
	
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                    
	
	--MASTER TABLE INSERTION
                        IF NOT EXISTS ( SELECT  *
                                        FROM    dbo.WaxPartProduction
                                        WHERE   IsDeleted = 0
                                                AND BatchNo = @BatchNo )
                            BEGIN
                                SET @PartBatchId = NEWID()
                            
                                INSERT  INTO WaxPartProduction
                                        ( PartBatchId ,
                                          EntryNo ,
                                          BatchNo ,
                                          ProductionDate ,
                                          Shift ,
                                          StartTime ,
                                          EndTime ,
                                          TotalWaxUsed ,
                                          CreatedBy ,
                                          CreatedOn ,
                                          EntityId ,
                                          OperatorID 
	                                    )
                                VALUES  ( @PartBatchId ,
                                          @EntryNo ,
                                          @BatchNo ,
                                          @ProductionDate ,
                                          @Shift ,
                                          @StartTime ,
                                          @EndTime ,
                                          @TotalWaxUsed ,
                                          @CreatedBy ,
                                          GETDATE() ,
                                          @EntityId ,
                                          @OperatorID 
	                                    )
	   
                            END
                            
                        ELSE
                            BEGIN
                          
                                SET @PartBatchId = ( SELECT PartBatchId
                                                     FROM   dbo.WaxPartProduction
                                                     WHERE  BatchNo = @BatchNo
                                                            AND IsDeleted = 0
                                                   )
                            END
                        SET @WaxPartProductionID = NEWID()
                        
                        INSERT  INTO WaxPartProductionDetails
                                ( WaxPartProductionID ,
                                  PartBatchID ,
                                  CastingID ,
                                  WaxAssemblyId ,
                                  ProductionQty ,
                                  OKQty ,
                                  RejQty ,
                                  WtPerPcPart ,
                                  TotalWeightPart ,
                                  JobCardID ,
                                  MachineID
                                )
                        VALUES  ( @WaxPartProductionID ,
                                  @PartBatchId ,
                                  @CastingID ,
                                  @WaxAssemblyId ,
                                  @ProductionQty ,
                                  @OKQty ,
                                  @RejQty ,
                                  @WtPerPcPart ,
                                  @TotalWeightPart ,
                                  @JobCardID ,
                                  @MachineID
                                )
					
					 
                            
                        UPDATE  dbo.WaxPartProduction
                        SET     TotalWaxUsed = ( SELECT SUM(TotalWeightPart)
                                                 FROM   dbo.WaxPartProductionDetails
                                                 WHERE  PartBatchID = @PartBatchID
                                                        AND IsDeleted = 0
                                               )
                        WHERE   PartBatchId = @PartBatchID
                       
                         
                            --DECLARE CURSOR FOR INNER XML
                        DECLARE WaxPartRejection CURSOR
                        FOR
                            SELECT  Node.value('(RejQty )[1]', 'int') AS 'RejQty' ,
                                    Node.value('(ReasonId )[1]', 'int') AS 'ReasonId'
                            FROM    @WaxPartRejection.nodes('/DocumentElement/WaxPartRejection')
                                    AS TEMPXML ( Node )	
                    
                        OPEN WaxPartRejection;
                                
                        FETCH NEXT FROM WaxPartRejection INTO @RejQty,
                            @ReasonID
                                
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
									 
                                INSERT  INTO WaxPartRejection
                                        ( WaxPartRejectionID ,
                                          WaxPartProductionID ,
                                          RejectionDate ,
                                          RejQty ,
                                          PerPcWeight ,
                                          ReasonID
                                        )
                                VALUES  ( NEWID() ,
                                          @WaxPartProductionID ,
                                          @ProductionDate ,
                                          @RejQty ,
                                          @WtPerPcPart ,
                                          @ReasonID
                                        )
                                                
                            
											    
                                FETCH NEXT FROM WaxPartRejection INTO @RejQty,
                                    @ReasonID
									 
                            END
                        CLOSE WaxPartRejection;
                        DEALLOCATE WaxPartRejection;
									
				
							--THIS WILL CHECK FOR STOCK
							--IF EXIST THEN IT WILL UPDATE THE STOCK
							--ELSE INSERT IN WAXPARTINVENTORY TABLE
                       
                        SET @PartCavity = ( SELECT  PartCavity
                                            FROM    dbo.WaxPatternAssembly
                                            WHERE   WaxAssemblyId = @WaxAssemblyId
                                          )
							
                        SET @OKQty = @OKQty * @PartCavity
                        EXEC WaxPartStockUpdate @WaxAssemblyId = @WaxAssemblyId,
                            @StockAdd = @OKQty
                            
                 
                          
                        FETCH NEXT FROM WaxPartProductionDetails INTO @CastingID,
                            @WaxAssemblyId, @ProductionQty, @OKQty, @RejQty,
                            @WtPerPcPart, @TotalWeightPart, @JobCardID,
                            @OperatorId, @MachineID, @BatchNo, @Shift,
                            @StartTime, @EndTime, @EntryNo, @ProductionDate,
                            @WaxPartRejection--,
                          --  @WaxConsumptionXML
                                    
                    END
                                    
                CLOSE WaxPartProductionDetails;
                DEALLOCATE WaxPartProductionDetails;
                
                
                --WAX CONSUMPTION CURSOR
                DECLARE WaxConsumption CURSOR
                FOR
                    SELECT  Node.value('(PurchaseItemID )[1]',
                                       'uniqueidentifier') AS 'PurchaseItemId' ,
                            Node.value('(ConsumedQty )[1]', 'float') AS 'ConsumedQty' ,
                            Node.query('BatchDetails/*') AS 'BatchDetails'
                    FROM    @WaxConsumptionXML.nodes('/DocumentElement/WaxConsumptionTable')
                            AS TEMPXML ( Node )
                OPEN WaxConsumption;

                FETCH NEXT FROM WaxConsumption INTO @PurchaseItemID,
                    @ConsumedQty, @BatchDetails
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN

                        INSERT  INTO dbo.WaxConsumption
                                ( WaxConsumptionID ,
                                  WaxPatternBatchID ,
                                  PurchaseItemID ,
                                  ConsumedQty
                                )
                        VALUES  ( NEWID() ,
                                  @PartBatchID ,
                                  @PurchaseItemID ,
                                  @ConsumedQty
                                )
 
                   
                   
                        EXEC BatchWiseConsumptionEntry @BatchDetails = @BatchDetails,
                            @ConsumptionID = 0, @ReferenceID = @PartBatchID
                       
							delete from @result
									INSERT  INTO @result
											( returnvalue
											) 
                        EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemID, -- uniqueidentifier
                            @StockToAdd = @ConsumedQty, -- float
                            @Tagging = 'Consumption', -- varchar(50)
                            @Process = 'Insert', -- varchar(50)
                            @ProcessCode = @PartBatchID, -- varchar(max)
                            @ProcessDate = @ProductionDate, -- datetime
                            @UserID = @CreatedBy, -- bigint
                            @ConsumptionMethod = @ConsumptionMethod,
                            @IsInwardBatchWise = @IsInwardBatchWise,
                            @BatchDetails = @BatchDetails
                    
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
				   
                        FETCH NEXT FROM WaxConsumption INTO @PurchaseItemID,
                            @ConsumedQty, @BatchDetails
                    END 

                CLOSE WaxConsumption;
                DEALLOCATE WaxConsumption;                       
				
                  	END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','WaxPartProductionDetails') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','WaxPartProductionDetails') > -1
				   BEGIN
					CLOSE WaxPartProductionDetails
				   END
				 DEALLOCATE WaxPartProductionDetails
				END	
				IF CURSOR_STATUS('global','WaxPartRejection') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','WaxPartRejection') > -1
				   BEGIN
					CLOSE WaxPartRejection
				   END
				 DEALLOCATE WaxPartRejection
				END	
				IF CURSOR_STATUS('global','WaxConsumption') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','WaxConsumption') > -1
				   BEGIN
					CLOSE WaxConsumption
				   END
				 DEALLOCATE WaxConsumption
				END	
			 return -1 
			END	
        END Catch
            COMMIT TRANSACTION  
            return  1 
                 
            END
  
        IF @Parameter = 2 --THIS WILL FETCH PART NAME
            BEGIN
                --SELECT  WaxPatternAssembly.WaxAssemblyId ,
                --        WaxPatternAssembly.PartName
                --FROM    WaxPatternAssembly
                --Order By  WaxPatternAssembly.PartName
                
                SELECT  WaxPatternAssembly.WaxAssemblyId ,
                        WaxPatternAssembly.PartName
                FROM    WaxPatternAssembly
                        INNER JOIN WaxPatternMaster ON WaxPatternMaster.PatternId = WaxPatternAssembly.PatternId
                        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.WaxPatternId = dbo.WaxPatternMaster.PatternId
                        --INNER JOIN DieMaster ON DieMaster.WaxPatternId = WaxPatternMaster.PatternId
                        --INNER JOIN WaxDieCastingMapping ON WaxDieCastingMapping.DieId = DieMaster.DieId
                WHERE   ( @CastingID IS NULL
                          OR CastingMaster.CastingId = @CastingID
                        )
                        AND WaxPatternAssembly.Isdeleted = 0
                ORDER BY WaxPatternAssembly.PartName
              
                
            END
	
        IF @Parameter = 3 --THIS WILL FETCH PARTNAME AND CAVITY AS PR SELECTED CASTING AND JOBCARD
            BEGIN
	
                SELECT  WaxPatternAssembly.PartName ,
                        WaxPatternAssembly.PartCavity ,
                        WaxPatternAssembly.PartWeight
                FROM    WaxPatternAssembly
                WHERE   dbo.WaxPatternAssembly.WaxAssemblyId = @WaxAssemblyId
	
            END 
	
        IF @Parameter = 4 --UPDATE QUERY
            BEGIN
                BEGIN TRANSACTION
				begin try 
	--MASTER TABLE
	
                DECLARE WaxPartProductionDetails CURSOR
                FOR
                    SELECT  Node.value('(CastingID )[1]', 'UniqueIdentifier') AS 'CastingID' ,
                            Node.value('(WaxAssemblyId )[1]',
                                       'UniqueIdentifier') AS 'WaxAssemblyId' ,
                            Node.value('(ProductionQty )[1]', 'bigint') AS 'ProductionQty' ,
                            Node.value('(OKQty )[1]', 'bigint') AS 'OKQty' ,
                            Node.value('(UpdatedQty )[1]', 'int') AS 'UpdatedQty' ,
                            Node.value('(RejQty )[1]', 'int') AS 'RejQty' ,
                            Node.value('(WtPerPcPart )[1]', 'float') AS 'WtPerPcPart' ,
                            Node.value('(TotalWeightPart )[1]', 'float') AS 'TotalWeightPart' ,
                            Node.value('(JobCardID )[1]', 'UniqueIdentifier') AS 'JobCardID' ,
                            Node.value('(WaxPartProductionID )[1]',
                                       'UniqueIdentifier') AS 'WaxPartProductionID' ,
                            Node.value('(OperatorId )[1]', 'int') AS 'OperatorId' ,
                            Node.value('(MachineID )[1]', 'UniqueIdentifier') AS 'MachineID' ,
                            Node.value('(BatchNo )[1]', 'Varchar(50)') AS 'BatchNo' ,
                            Node.value('(Shift )[1]', 'varchar(50)') AS 'Shift' ,
                            Node.value('(StartTime )[1]', 'DateTime') AS 'StartTime' ,
                            Node.value('(EndTime )[1]', 'DateTime') AS 'EndTime' ,
                            Node.value('(EntryNo )[1]', 'varchar(50)') AS 'EntryNo' ,
                            Node.value('(PartBatchID )[1]', 'UniqueIdentifier') AS 'PartBatchID' ,
                            Node.value('(ProductionDate )[1]', 'DateTime') AS 'ProductionDate' ,
                            Node.query('WaxPartRejectionxml /*') AS 'WaxPartRejectionxml' --INNER XML FOR WAX PART REJECTION
                          --  Node.query('WaxPartConsumption /*') AS 'WaxPartConsumption'--INNER XML FOR WAX CONSUMPTION
                    FROM    @WaxPartProductionDetails.nodes('/DocumentElement/WaxPartProductionDetails')
                            AS TEMPXML ( Node )	
                            
                OPEN WaxPartProductionDetails;
                
                
                FETCH NEXT FROM WaxPartProductionDetails INTO @CastingID,
                    @WaxAssemblyId, @ProductionQty, @OKQty, @UpdatedQty,
                    @RejQty, @WtPerPcPart, @TotalWeightPart, @JobCardID,
                    @WaxPartProductionID, @OperatorId, @MachineID, @BatchNo,
                    @Shift, @StartTime, @EndTime, @EntryNo, @PartBatchId,
                    @ProductionDate, @WaxPartRejection--, @WaxConsumptionXML
	
	
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                        IF ( @PartBatchId IS  NULL
                             OR @PartBatchId = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)
                           )
                            BEGIN
                           
                                IF NOT EXISTS ( SELECT  *
                                                FROM    dbo.WaxPartProduction
                                                WHERE   BatchNo = @BatchNo
                                                        AND IsDeleted = 0 )
                                    BEGIN
                                        SET @PartBatchId = NEWID()
                            
                                        INSERT  INTO WaxPartProduction
                                                ( PartBatchId ,
                                                  EntryNo ,
                                                  BatchNo ,
                                                  ProductionDate ,
                                                  Shift ,
                                                  StartTime ,
                                                  EndTime ,
                                                  TotalWaxUsed ,
                                                  CreatedBy ,
                                                  CreatedOn ,
                                                  EntityId ,
                                                  OperatorID
	                                            )
                                        VALUES  ( @PartBatchId ,
                                                  @EntryNo ,
                                                  @BatchNo ,
                                                  @ProductionDate ,
                                                  @Shift ,
                                                  @StartTime ,
                                                  @EndTime ,
                                                  @TotalWaxUsed ,
                                                  @CreatedBy ,
                                                  GETDATE() ,
                                                  @EntityId ,
                                                  @OperatorId
	                                            )
	   
                                    END
                                ELSE
                                    BEGIN
                                        SET @PartBatchId = ( SELECT
                                                              PartBatchId
                                                             FROM
                                                              dbo.WaxPartProduction
                                                             WHERE
                                                              BatchNo = @BatchNo
                                                              AND IsDeleted = 0
                                                           )
                                    END         
                            END
                        ELSE
                            BEGIN
                                UPDATE  WaxPartProduction
                                SET     --BatchNo = @BatchNo ,
                                        ProductionDate = @ProductionDate ,
                                        Shift = @Shift ,
                                        TotalWaxUsed = @TotalWaxUsed ,
                                        ModifiedBy = @ModifiedBy ,
                                        ModifiedOn = GETDATE() ,
                                        StartTime = @StartTime ,
                                        EndTime = @EndTime ,
                                        OperatorID = @OperatorId
                                WHERE   WaxPartProduction.PartBatchId = @PartBatchId
	
                            END
                        IF ( @WaxPartProductionID IS  NULL
                             OR @WaxPartProductionID = CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)
                           )
                            BEGIN
                                SET @WaxPartProductionID = NEWID()
                                
                                INSERT  INTO WaxPartProductionDetails
                                        ( WaxPartProductionID ,
                                          PartBatchID ,
                                          CastingID ,
                                          WaxAssemblyId ,
                                          ProductionQty ,
                                          OKQty ,
                                          RejQty ,
                                          WtPerPcPart ,
                                          TotalWeightPart ,
                                          JobCardID ,
                                          MachineID
                                        )
                                VALUES  ( @WaxPartProductionID ,
                                          @PartBatchId ,
                                          @CastingID ,
                                          @WaxAssemblyId ,
                                          @ProductionQty ,
                                          @OKQty ,
                                          @RejQty ,
                                          @WtPerPcPart ,
                                          @TotalWeightPart ,
                                          @JobCardID ,
                                          @MachineID
                                        )
					 
                            END
                        ELSE
                            BEGIN
                                UPDATE  WaxPartProductionDetails
                                SET     CastingID = @CastingID ,
                                        WaxAssemblyId = @WaxAssemblyId ,
                                        ProductionQty = @ProductionQty ,
                                        OKQty = @OKQty ,
                                        RejQty = @RejQty ,
                                        WtPerPcPart = @WtPerPcPart ,
                                        TotalWeightPart = @TotalWeightPart ,
                                        JobCardID = @JobCardID ,
                                        MachineID = @MachineID
                                WHERE   WaxPartProductionDetails.WaxPartProductionID = @WaxPartProductionID
                            END
                    
                        UPDATE  dbo.WaxPartProduction
                        SET     TotalWaxUsed = ( SELECT SUM(TotalWeightPart)
                                                 FROM   dbo.WaxPartProductionDetails
                                                 WHERE  PartBatchID = @PartBatchID
                                                        AND IsDeleted = 0
                                               )
                        WHERE   PartBatchId = @PartBatchID
                            
                            
                        DELETE  FROM dbo.WaxPartRejection
                        WHERE   WaxPartProductionID = @WaxPartProductionID
        
                            --DECLARE CURSOR FOR INNER XML
                        DECLARE WaxPartRejection CURSOR
                        FOR
                            SELECT  Node.value('(RejQty )[1]', 'int') AS 'RejQty' ,
                                    Node.value('(ReasonId )[1]', 'int') AS 'ReasonId'
                            FROM    @WaxPartRejection.nodes('/DocumentElement/WaxPartRejection')
                                    AS TEMPXML ( Node )	
                    
                        OPEN WaxPartRejection;
                                
                        FETCH NEXT FROM WaxPartRejection INTO @RejQty,
                            @ReasonID
                                
                        WHILE ( @@FETCH_STATUS = 0 )
                            BEGIN
									 
                               
                                INSERT  INTO WaxPartRejection
                                        ( WaxPartRejectionID ,
                                          WaxPartProductionID ,
                                          RejectionDate ,
                                          RejQty ,
                                          PerPcWeight ,
                                          ReasonID
                                        )
                                VALUES  ( NEWID() ,
                                          @WaxPartProductionID ,
                                          @ProductionDate ,
                                          @RejQty ,
                                          @PerPcWeight ,
                                          @ReasonID
                                        ) 
                                   	
											    
                                FETCH NEXT FROM WaxPartRejection INTO @RejQty,
                                    @ReasonID
									 
                            END
                        CLOSE WaxPartRejection;
                        DEALLOCATE WaxPartRejection;
                         
                            
                            
                            
                        SET @PartCavity = ( SELECT  PartCavity
                                            FROM    dbo.WaxPatternAssembly
                                            WHERE   WaxAssemblyId = @WaxAssemblyId
                                          )
                        SET @OKQty = @UpdatedQty * @PartCavity
                        EXEC WaxPartStockUpdate @WaxAssemblyId = @WaxAssemblyId,
                            @StockAdd = @OKQty 
                            
                            
               
                   
                     		--THIS WILL CHECK FOR STOCK
							--IF EXIST THEN IT WILL UPDATE THE STOCK
							--ELSE INSERT IN WAXPARTINVENTORY TABLE
                       
                          
                        FETCH NEXT FROM WaxPartProductionDetails INTO @CastingID,
                            @WaxAssemblyId, @ProductionQty, @OKQty,
                            @UpdatedQty, @RejQty, @WtPerPcPart,
                            @TotalWeightPart, @JobCardID, @WaxPartProductionID,
                            @OperatorId, @MachineID, @BatchNo, @Shift,
                            @StartTime, @EndTime, @EntryNo, @PartBatchId,
                            @ProductionDate, @WaxPartRejection--, @WaxConsumptionXML
                                    
                    END
                                    
                CLOSE WaxPartProductionDetails;
                DEALLOCATE WaxPartProductionDetails;
	
                DELETE  FROM dbo.ConsumptionBatchWise
                WHERE   ReferenceID = @PartBatchId
	
	   ----CONSUMPTION CURSOR
                DECLARE WaxConsumption CURSOR
                FOR
                    SELECT  Node.value('(PurchaseItemID )[1]',
                                       'uniqueidentifier') AS 'PurchaseItemID' ,
                            Node.value('(ConsumedQty )[1]', 'float') AS 'ConsumedQty' ,
                            Node.value('(Consumption )[1]', 'float') AS 'Consumption' ,
                            Node.query('BatchDetails/*') AS 'BatchDetails'
                    FROM    @WaxConsumptionXML.nodes('/DocumentElement/WaxConsumptionTable')
                            AS TEMPXML ( Node )
                OPEN WaxConsumption;

                FETCH NEXT FROM WaxConsumption INTO @PurchaseItemID,
                    @ConsumedQty, @Consumption, @BatchDetails
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                       
                        SET @UpdatedQty = ( @Consumption - @ConsumedQty );

                        IF EXISTS ( SELECT  WaxPatternBatchID
                                    FROM    WaxConsumption
                                    WHERE   WaxPatternBatchID = @PartBatchId
                                            AND PurchaseItemId = @PurchaseItemID )
                            BEGIN
                                UPDATE  WaxConsumption
                                SET     ConsumedQty = ConsumedQty
                                        + @UpdatedQty
                                WHERE   WaxPatternBatchID = @PartBatchId
                                        AND PurchaseItemId = @PurchaseItemID
                            END
                        ELSE
                            BEGIN       
                                INSERT  INTO dbo.WaxConsumption
                                        ( WaxConsumptionID ,
                                          WaxPatternBatchID ,
                                          PurchaseItemID ,
                                          ConsumedQty
                                        )
                                VALUES  ( NEWID() ,
                                          @PartBatchId ,
                                          @PurchaseItemID ,
                                          @UpdatedQty
                                        )
                            END      
                   
                        EXEC BatchWiseConsumptionEntry @BatchDetails = @BatchDetails,
                            @ConsumptionID = 0, @ReferenceID = @PartBatchId
                 
                   
							delete from @result
									INSERT  INTO @result
											( returnvalue
											)
						   
                        EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemID, -- uniqueidentifier
                            @StockToAdd = @UpdatedQty, -- float
                            @Tagging = 'Consumption', -- varchar(50)
                            @Process = 'Edit', -- varchar(50)
                            @ProcessCode = @PartBatchId, -- varchar(max)
                            @ProcessDate = @ProductionDate, -- datetime
                            @UserID = @CreatedBy, -- bigint
                            @ConsumptionMethod = @ConsumptionMethod,
                            @IsInwardBatchWise = @IsInwardBatchWise,
                            @BatchDetails = @BatchDetails
    
				   
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
									
                        FETCH NEXT FROM WaxConsumption INTO @PurchaseItemID,
                            @ConsumedQty, @Consumption, @BatchDetails
                    END 

                CLOSE WaxConsumption;
                DEALLOCATE WaxConsumption;
                        
									
					
				 --FOR DELETE PRODUCTION
                DECLARE WaxPartProductionDelete CURSOR
                FOR
                    SELECT  Node.value('(WaxPartProductionID )[1]',
                                       'UniqueIdentifier') AS 'WaxPartProductionID'
                    FROM    @WaxPartProductionDelete.nodes('/DocumentElement/WaxPartProductionDelete')
                            AS TEMPXML ( Node )
  	
                OPEN WaxPartProductionDelete;
                FETCH NEXT FROM WaxPartProductionDelete INTO @WaxPartProductionID
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
                        
                        SET @WaxAssemblyId = ( SELECT   WaxAssemblyId
                                               FROM     dbo.WaxPartProductionDetails
                                               WHERE    ( WaxPartProductionDetails.WaxPartProductionID = @WaxPartProductionID )
                                             ) 
                        SET @OKQty = -( SELECT  OKQty
                                        FROM    dbo.WaxPartProductionDetails
                                        WHERE   ( WaxPartProductionDetails.WaxPartProductionID = @WaxPartProductionID )
                                      )                   
                        EXEC WaxPartStockUpdate @WaxAssemblyId = @WaxAssemblyId,
                            @StockAdd = @OKQty
                            
                        UPDATE  WaxPartProductionDetails
                        SET     WaxPartProductionDetails.IsDeleted = 1 ,
                                WaxPartProductionDetails.DeletedBy = @DeletedBy ,
                                WaxPartProductionDetails.DeletedOn = GETDATE()
                        WHERE   ( WaxPartProductionDetails.WaxPartProductionID = @WaxPartProductionID )
                        
                        FETCH NEXT FROM WaxPartProductionDelete INTO @WaxPartProductionID
                    END
                CLOSE WaxPartProductionDelete;
                DEALLOCATE WaxPartProductionDelete;  
        
				 --FOR DELETE REJECTION
				
                --DECLARE WaxPartRejectionDelete CURSOR
                --FOR
                --    SELECT  Node.value('(WaxPartRejectionID )[1]',
                --                       'UniqueIdentifier') AS 'WaxPartRejectionID'
                --    FROM    @WaxPartRejectionDelete.nodes('/DocumentElement/WaxPartRejectionDelete')
                --            AS TEMPXML ( Node )
  	
                --OPEN WaxPartRejectionDelete;
                --FETCH NEXT FROM WaxPartRejectionDelete INTO @WaxPartRejectionID
                --WHILE ( @@FETCH_STATUS = 0 )
                --    BEGIN
                --        UPDATE  WaxPartRejection
                --        SET     WaxPartRejection.IsDeleted = 1 ,
                --                WaxPartRejection.DeletedBy = @DeletedBy ,
                --                WaxPartRejection.DeletedOn = GETDATE()
                --        WHERE   ( WaxPartRejection.WaxPartProductionID = @WaxPartRejectionID )
                        
                --        FETCH NEXT FROM WaxPartRejectionDelete INTO @WaxPartRejectionID
                --    END
                --CLOSE WaxPartRejectionDelete;
                --DEALLOCATE WaxPartRejectionDelete; 
				   	END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','WaxPartProductionDetails') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','WaxPartProductionDetails') > -1
				   BEGIN
					CLOSE WaxPartProductionDetails
				   END
				 DEALLOCATE WaxPartProductionDetails
				END	
				IF CURSOR_STATUS('global','WaxPartRejection') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','WaxPartRejection') > -1
				   BEGIN
					CLOSE WaxPartRejection
				   END
				 DEALLOCATE WaxPartRejection
				END	
				IF CURSOR_STATUS('global','WaxConsumption') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','WaxConsumption') > -1
				   BEGIN
					CLOSE WaxConsumption
				   END
				 DEALLOCATE WaxConsumption
				END	
				IF CURSOR_STATUS('global','WaxPartProductionDelete') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','WaxPartProductionDelete') > -1
				   BEGIN
					CLOSE WaxPartProductionDelete
				   END
				 DEALLOCATE WaxPartProductionDelete
				END	
			 return -1 
			END	
        END Catch
            COMMIT TRANSACTION  
            return  1 
            END
            
        IF @Parameter = 5 --DELETE
            BEGIN
        begin TRANSACTION
		begin try 
      
        --WAXPARTREJECTION
        --DECLARE CURSOR FOR FETCH WAXASSEMBLYID AND OKQTY
        
                DECLARE @PatternStock INT;
            -- Update Pattern stock of each casting
                SELECT  WaxAssemblyId ,
                        OKQty
                INTO    #PartStocktable
                FROM    dbo.WaxPartProductionDetails
                WHERE   WaxPartProductionDetails.PartBatchID = @PartBatchID
                        AND WaxPartProductionDetails.Isdeleted = 0                    
										          
					-- Declare Cursor for Query
                DECLARE pro_cusor CURSOR
                FOR
                    SELECT  #PartStocktable.[WaxAssemblyId] ,
                            #PartStocktable.[OKQty]
                    FROM    [dbo].#PartStocktable 
					
                OPEN pro_cusor -- Open Cursor
                FETCH NEXT FROM pro_cusor INTO @WaxAssemblyId, @OKQty
                WHILE @@FETCH_STATUS = 0
                    BEGIN
                    
                        SET @PartCavity = ( SELECT  PartCavity
                                            FROM    dbo.WaxPatternAssembly
                                            WHERE   WaxAssemblyId = @WaxAssemblyId
                                          )
                                          
                        SET @OKQty = -( @OKQty * @PartCavity )
                        EXEC WaxPartStockUpdate @WaxAssemblyId = @WaxAssemblyId,
                            @StockAdd = @OKQty
         
                        FETCH NEXT FROM pro_cusor
					INTO @WaxAssemblyId, @OKQty
                    END;
                CLOSE pro_cusor; -- Cloase Cursor
                DEALLOCATE pro_cusor;
            
                DROP TABLE #PartStocktable
            
            
         --       DECLARE WaxPartRejection CURSOR
         --       FOR
         --           SELECT  WaxPartProductionDetails.WaxPartProductionID ,
         --                   WaxPartProductionDetails.WaxAssemblyId ,
         --                   WaxPartProductionDetails.OKQty
         --           FROM    WaxPartProductionDetails
         --           WHERE   WaxPartProductionDetails.PartBatchID = @PartBatchID
         
         --       OPEN WaxPartRejection;
         --       FETCH NEXT FROM WaxPartRejection INTO @WaxPartProductionID,
         --           @WaxAssemblyId, @OKQty
         
         --       WHILE ( @@FETCH_STATUS = 0 )
         --           BEGIN
         
         --               UPDATE  WaxPartRejection
         --               SET     WaxPartRejection.IsDeleted = 1 ,
         --                       WaxPartRejection.DeletedBy = @DeletedBy ,
         --                       WaxPartRejection.DeletedOn = GETDATE()
         --               WHERE   WaxPartRejection.WaxPartProductionID = @WaxPartProductionID
         
         ----FOR STOCK
         
         --               EXEC WaxPartStockUpdate @WaxAssemblyId = @WaxAssemblyId,
         --                   @StockAdd = @OKQty
         
         --               IF @@Error <> 0
         --                   ROLLBACK TRANSACTION
			
         --               FETCH NEXT FROM WaxPartRejection INTO @WaxPartProductionID,
         --                   @WaxAssemblyId, @OKQty
         --           END
          
         --       CLOSE WaxPartRejection;
         --       DEALLOCATE WaxPartRejection;
                
                
        --FOR CONSUMPTION
        
                SELECT  PurchaseItemID ,
                        ConsumedQty ,
                        ProductionDate ,
                        WaxPartProduction.PartBatchId
                INTO    #Consumptiontable
                FROM    WaxConsumption ,
                        WaxPartProduction
                WHERE   WaxConsumption.WaxPatternBatchID = WaxPartProduction.PartBatchId
                        AND WaxConsumption.WaxPatternBatchID = @PartBatchID
                        AND WaxPartProduction.IsDeleted = 0
                        
          	-- Declare Cursor for Query
                DECLARE pro_cusor CURSOR
                FOR
                    SELECT  #Consumptiontable.PurchaseItemID ,
                            #Consumptiontable.[ConsumedQty] ,
                            #Consumptiontable.[ProductionDate] ,
                            #Consumptiontable.PartBatchId
                    FROM    [dbo].[#Consumptiontable] 
					
                OPEN pro_cusor -- Open Cursor
                FETCH NEXT FROM pro_cusor INTO @PurchaseItemID, @ConsumedQty,
                    @ProductionDate, @PartBatchID
                WHILE @@FETCH_STATUS = 0
                    BEGIN
                    
                        SET @BatchDetails = ( SELECT    ( SELECT
                                                              RawBatchNo ,
                                                              ConsumptionBatchWise.RawBatchId ,
                                                              -Quantity AS TransactionQty
                                                          FROM
                                                              dbo.ConsumptionBatchWise
                                                              INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.ConsumptionBatchWise.RawBatchId
                                                          WHERE
                                                              ReferenceID = @PartBatchID
                                                              AND PurchaseItemId = @PurchaseItemId
                                                        FOR
                                                          XML PATH('BatchDetails') ,
                                                              TYPE
                                                        )
                                            FOR
                                              XML PATH('') ,
                                                  ROOT('DocumentElement')
                                            )
                                            
                        SET @ConsumedQty = -@ConsumedQty; 	
						
							delete from @result
									INSERT  INTO @result
											( returnvalue
											)						   
                        EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemID, -- uniqueidentifier
                            @StockToAdd = @ConsumedQty, -- float
                            @Tagging = 'Consumption', -- varchar(50)
                            @Process = 'Delete', -- varchar(50)
                            @ProcessCode = @PartBatchID, -- varchar(max)
                            @ProcessDate = @ProductionDate, -- datetime
                            @UserID = @DeletedBY, -- bigint
                            @ConsumptionMethod = @ConsumptionMethod,
                            @IsInwardBatchWise = @IsInwardBatchWise,
                            @BatchDetails = @BatchDetails					
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
                        FETCH NEXT FROM pro_cusor
					INTO @PurchaseItemID, @ConsumedQty, @ProductionDate,
                            @PartBatchID;
                    END;
                CLOSE pro_cusor; -- Cloase Cursor
                DEALLOCATE pro_cusor;		
	
                DELETE  FROM dbo.WaxConsumption
                WHERE   WaxConsumption.WaxPatternBatchID = @PartBatchID
				         
				         
                DELETE  FROM dbo.ConsumptionBatchWise
                WHERE   ReferenceID = @PartBatchID
                
                --CONSUMPTION END              
                        
                  --MASTER TABLE 
        
                UPDATE  WaxPartProduction
                SET     WaxPartProduction.IsDeleted = 1 ,
                        WaxPartProduction.DeletedBy = @DeletedBy ,
                        WaxPartProduction.DeletedOn = GETDATE()
                WHERE   WaxPartProduction.PartBatchId = @PartBatchID
        
        
        
        --TRANSACTION TABLE
        
                UPDATE  WaxPartProductionDetails
                SET     WaxPartProductionDetails.IsDeleted = 1 ,
                        WaxPartProductionDetails.DeletedBy = @DeletedBy ,
                        WaxPartProductionDetails.DeletedOn = GETDATE()
                WHERE   WaxPartProductionDetails.PartBatchId = @PartBatchID
           	END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','pro_cusor') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','pro_cusor') > -1
				   BEGIN
					CLOSE pro_cusor
				   END
				 DEALLOCATE pro_cusor
				END	
				 
			 return -1 
			END	
        END Catch
            COMMIT TRANSACTION  
            return  1 
            END
            
        IF @Parameter = 6 --FETCH MASTER DATA FOR REGISTER
            BEGIN
                IF @InitialLoad = 1
                    BEGIN
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT TOP ( @PageSize )
                                            ROW_NUMBER() OVER ( ORDER BY EntryNo DESC, WaxPartProduction.ProductionDate DESC ) AS SerialNo ,
                                            WaxPartProduction.PartBatchId ,
                                            WaxPartProduction.EntryNo ,
                                            WaxPartProduction.BatchNo ,
                                            CONVERT(VARCHAR(13), WaxPartProduction.ProductionDate, 106) AS ProductionDate ,
                                            WaxPartProduction.Shift ,
                                            WaxPartProduction.TotalWaxUsed ,
                                            --OperatorMaster.OperatorName ,
                                            --MachineMaster.MachineName ,
                                            --PurchaseItemMaster.EquipmentCode as MachineName,
                                            CONVERT(VARCHAR, StartTime, 100) AS [StartTime] ,
                                            CONVERT(VARCHAR, EndTime, 100) AS [EndTime]
                                  FROM      WaxPartProduction
                                           -- INNER JOIN OperatorMaster ON OperatorMaster.OperatorID = WaxPartProduction.OperatorID
                                           -- INNER JOIN MachineMaster ON MachineMaster.MachineId = WaxPartProduction.MachineID
											-- INNER join PurchaseItemMaster on PurchaseItemMaster.EquipmentId = MachineMaster.EquipmentId 
                                  WHERE     WaxPartProduction.IsDeleted = 0
                                            AND ( @PartBatchId IS NULL
                                                  OR WaxPartProduction.PartBatchId = @PartBatchId
                                                )
                                            AND ( @Enddate IS NULL
                                                  OR ProductionDate BETWEEN @Startdate AND @Enddate
                                                )
                                            --AND ( @MachineId IS NULL
                                            --      OR WaxPartProduction.MachineId = @MachineId
                                            --    )
                                            AND ( @CastingId IS NULL
                                                  OR PartBatchId IN (
                                                  SELECT    PartBatchId
                                                  FROM      dbo.WaxPartProductionDetails
                                                  WHERE     CastingID = @CastingId )
                                                )
                                            AND ( @WaxAssemblyId IS NULL
                                                  OR PartBatchId IN (
                                                  SELECT    PartBatchId
                                                  FROM      WaxPartProductionDetails
                                                            LEFT JOIN WaxPatternAssembly ON WaxPatternAssembly.WaxAssemblyId = WaxPartProductionDetails.WaxAssemblyId
                                                              AND WaxPatternAssembly.WaxAssemblyId = @WaxAssemblyId )
                                                )
                                ) AS TMPWaxPartProduction
                        ORDER BY SerialNo
					   
                    END
	 
                ELSE
                    BEGIN
	 
                        SELECT TOP ( @PageSize )
                                *
                        FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY EntryNo DESC, WaxPartProduction.ProductionDate DESC ) AS SerialNo ,
                                            WaxPartProduction.PartBatchId ,
                                            WaxPartProduction.EntryNo ,
                                            WaxPartProduction.BatchNo ,
                                            CONVERT(VARCHAR(13), WaxPartProduction.ProductionDate, 106) AS ProductionDate ,
                                            WaxPartProduction.Shift ,
                                            WaxPartProduction.TotalWaxUsed ,
                                            --OperatorMaster.OperatorName ,
                                            --MachineMaster.MachineName ,
                                           -- PurchaseItemMaster.EquipmentCode as MachineName,
                                            CONVERT(VARCHAR, StartTime, 100) AS [StartTime] ,
                                            CONVERT(VARCHAR, EndTime, 100) AS [EndTime]
                                  FROM      WaxPartProduction
                                           -- INNER JOIN OperatorMaster ON OperatorMaster.OperatorID = WaxPartProduction.OperatorID
                                           -- INNER JOIN MachineMaster ON MachineMaster.MachineId = WaxPartProduction.MachineID
											-- inner join PurchaseItemMaster on PurchaseItemMaster.EquipmentId = MachineMaster.EquipmentId 
                                  WHERE     WaxPartProduction.IsDeleted = 0
                                            AND ( @PartBatchId IS NULL
                                                  OR WaxPartProduction.PartBatchId = @PartBatchId
                                                )
                                            AND ( @Enddate IS NULL
                                                  OR ProductionDate BETWEEN @Startdate AND @Enddate
                                                )
                                            --AND ( @MachineId IS NULL
                                            --      OR WaxPartProduction.MachineId = @MachineId
                                            --    )
                                            AND ( @CastingId IS NULL
                                                  OR PartBatchId IN (
                                                  SELECT    PartBatchId
                                                  FROM      dbo.WaxPartProductionDetails
                                                  WHERE     CastingID = @CastingId )
                                                )
                                            AND ( @WaxAssemblyId IS NULL
                                                  OR PartBatchId IN (
                                                  SELECT    PartBatchId
                                                  FROM      WaxPartProductionDetails
                                                            LEFT JOIN WaxPatternAssembly ON WaxPatternAssembly.WaxAssemblyId = WaxPartProductionDetails.WaxAssemblyId
                                                              AND WaxPatternAssembly.WaxAssemblyId = @WaxAssemblyId )
                                                )
                                ) AS TMPWaxPartProduction
                        WHERE   SerialNo > ( @PageNumber * @PageSize )
                        ORDER BY SerialNo
					  
                
	 
                    END
            END
        
        IF @Parameter = 7--FETCH TOTAL RECORDS
            BEGIN
                SET @TotalRecords = ( SELECT    COUNT(*)
                                      FROM      WaxPartProduction
                                              --  INNER JOIN OperatorMaster ON OperatorMaster.OperatorID = WaxPartProduction.OperatorID
                                               -- INNER JOIN MachineMaster ON MachineMaster.MachineId = WaxPartProduction.MachineID
												-- inner join PurchaseItemMaster on PurchaseItemMaster.EquipmentId = MachineMaster.EquipmentId 
                                      WHERE     WaxPartProduction.IsDeleted = 0
                                                AND ( @PartBatchId IS NULL
                                                      OR WaxPartProduction.PartBatchId = @PartBatchId
                                                    )
                                                AND ( @Enddate IS NULL
                                                      OR ProductionDate BETWEEN @Startdate AND @Enddate
                                                    )
                                                --AND ( @MachineId IS NULL
                                                --      OR WaxPartProduction.MachineId = @MachineId
                                                --    )
                                                AND ( @CastingId IS NULL
                                                      OR PartBatchId IN (
                                                      SELECT  PartBatchId
                                                      FROM    dbo.WaxPartProductionDetails
                                                      WHERE   CastingID = @CastingId )
                                                    )
                                                AND ( @WaxAssemblyId IS NULL
                                                      OR PartBatchId IN (
                                                      SELECT  PartBatchId
                                                      FROM    WaxPartProductionDetails
                                                              LEFT JOIN WaxPatternAssembly ON WaxPatternAssembly.WaxAssemblyId = WaxPartProductionDetails.WaxAssemblyId
                                                              AND WaxPatternAssembly.WaxAssemblyId = @WaxAssemblyId )
                                                    )
                                    )
		
                RETURN @TotalRecords
            END
	    
        IF @Parameter = 8--FETCH CASTING DETAL FOR ROWENTER EVENT(CALL FROM MASTER GRID VIEW PARA = 6)
            BEGIN
                SELECT  WaxPartProductionDetails.WaxPartProductionID ,
                        PartName ,
                        dbo.WaxPartProductionDetails.WaxAssemblyId ,
                        CastingMaster.CastingName ,
                        CastingMaster.CastingCode ,
                        WaxPartProductionDetails.CastingId ,
                        WaxPartProductionDetails.ProductionQty ,
                        WaxPartProductionDetails.OKQty ,
                        WaxPartProductionDetails.RejQty ,
                        0 AS UpdatedQty ,
                        WaxPartProductionDetails.WtPerPcPart ,
                        WaxPartProductionDetails.TotalWeightPart ,
                        WaxPartProduction.OperatorID ,
                        WaxPartProductionDetails.MachineID ,
                        OperatorName ,
                       -- MachineName ,
                        PurchaseItemMaster.ItemCode AS MachineName ,
                        JobCardID ,
                        BatchNo ,
                        WaxPartProductionDetails.PartBatchID ,
                        Shift ,
                        StartTime ,
                        EndTime ,
                        EntryNo ,
                        ProductionDate
                FROM    WaxPartProductionDetails
                        INNER JOIN dbo.WaxPartProduction ON dbo.WaxPartProduction.PartBatchId = dbo.WaxPartProductionDetails.PartBatchID
                        LEFT JOIN dbo.WaxPatternAssembly ON dbo.WaxPatternAssembly.WaxAssemblyId = dbo.WaxPartProductionDetails.WaxAssemblyId
                        INNER JOIN CastingMaster ON CastingMaster.CastingId = WaxPartProductionDetails.CastingID
                        INNER JOIN OperatorMaster ON OperatorMaster.OperatorID = WaxPartProduction.OperatorID
                        INNER JOIN MachineMaster ON MachineMaster.MachineId = WaxPartProductionDetails.MachineID
                        INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = MachineMaster.EquipmentId  and PurchaseItemMaster.IsEquipment = 1
                WHERE   WaxPartProductionDetails.IsDeleted = 0
                        AND WaxPartProductionDetails.PartBatchID = @PartBatchId
            END
	     
        IF @Parameter = 9--THIS WILL FETCH PATTERN AND PART DETAIL (CALL FROM  PARA = 8)
            BEGIN
                SELECT  WaxPatternMaster.PatternCode ,
                        WaxPatternAssembly.PartName ,
                        WaxPatternAssembly.PartCavity ,
                        WaxPatternAssembly.PartWeight ,
                        WaxPatternAssembly.PartRemarks ,
                        WaxPatternAssembly.PartAssebmlyCavity
                FROM    WaxPatternAssembly
                        INNER JOIN WaxPatternMaster ON WaxPatternMaster.PatternId = WaxPatternAssembly.PatternId
                WHERE   WaxPatternAssembly.WaxAssemblyId = @WaxAssemblyId
                        AND WaxPatternMaster.IsDeleted = 0 
            END 
	    
        IF @Parameter = 10
            BEGIN
                SELECT  DISTINCT
                        Reason AS ReasonName ,
                        CONVERT(VARCHAR(50), dbo.WaxPartRejection.ReasonID) AS Reason ,
                        RejQty
                FROM    dbo.WaxPartRejection
                        INNER JOIN dbo.ReasonMaster ON dbo.ReasonMaster.ReasonID = dbo.WaxPartRejection.ReasonID
                WHERE   ( @WaxPartProductionID IS NULL
                          OR WaxPartProductionID = @WaxPartProductionID
                        )
            END 
	     
        IF @Parameter = 11 --FETCH DATA FOR EDIT
            BEGIN
	    
	    --MASTER DATA
	    
                SELECT  WaxPartProduction.PartBatchId ,
                        WaxPartProduction.BatchNo ,
                        WaxPartProduction.EndTime ,
                        WaxPartProduction.StartTime ,
                        WaxPartProduction.Shift ,
                       -- WaxPartProduction.MachineID ,
                        WaxPartProduction.EntryNo ,
                        WaxPartProduction.OperatorID ,
                        CONVERT(VARCHAR(20), WaxPartProduction.ProductionDate, 106) AS ProductionDate ,
                        WaxPartProduction.TotalWaxUsed
                FROM    WaxPartProduction
                WHERE   WaxPartProduction.PartBatchId = @PartBatchId
	    
	    --TRANSACTION DATA
	    
                SELECT  WaxPartProductionDetails.WaxPartProductionID ,
                        WaxPartProductionDetails.CastingID ,
                        WaxPartProductionDetails.JobCardID ,
                        WaxPartProductionDetails.OKQty ,
                        WaxPartProductionDetails.ProductionQty ,
                        WaxPartProductionDetails.RejQty ,
                        WaxPartProductionDetails.TotalWeightPart ,
                        WaxPartProductionDetails.WaxAssemblyId ,
                        WaxPartProductionDetails.WtPerPcPart
                FROM    WaxPartProductionDetails
                WHERE   WaxPartProductionDetails.PartBatchID = @PartBatchId
	    
                SELECT  *
                FROM    WaxPartRejection
                WHERE   WaxPartRejection.WaxPartProductionID = @WaxPartProductionID
	    
            END
	    
        IF @Parameter = 12-- Fetch CastingId From Part
            BEGIN
                SELECT  CastingId
                FROM    dbo.WaxPatternAssembly
                        INNER JOIN WaxPatternMaster ON WaxPatternMaster.PatternId = WaxPatternAssembly.PatternId
                        INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.WaxPatternId = dbo.WaxPatternMaster.PatternId
                WHERE   WaxAssemblyId = @WaxAssemblyId
            END
        IF @Parameter = 13 -- For BatchNo filter
            BEGIN
                SELECT  DISTINCT
                        PartBatchId ,
                        batchno
                FROM    WaxPartProduction
                WHERE   IsDeleted = 0
                   
      
            END
        IF @Parameter = 14
            BEGIN
                
                SELECT  ItemName ,
                        ItemCode ,
                        ( WaxChargeTrans.Ratio ) AS Qty ,
                        --( WaxConsumption.ConsumedQty ) AS Stock ,
                        ( ISNULL(Stock, 0) + WaxConsumption.ConsumedQty ) AS Stock ,
                        WaxConsumption.ConsumedQty AS ConsumedQty ,
                        WaxConsumption.ConsumedQty AS Consumption ,
                        PurchaseItemMaster.PurchaseItemId AS PurchaseItemID
                FROM    PurchaseItemMaster
                        INNER JOIN dbo.WaxChargeTrans ON dbo.WaxChargeTrans.PurchaseItemId = dbo.PurchaseItemMaster.PurchaseItemId
                        INNER JOIN dbo.WaxConsumption ON dbo.WaxConsumption.PurchaseItemID = dbo.WaxChargeTrans.PurchaseItemId
                        INNER JOIN dbo.WaxPartProductionDetails ON dbo.WaxPartProductionDetails.PartBatchID = dbo.WaxConsumption.WaxPatternBatchID
                        INNER JOIN WaxJobCardTranse ON WaxJobCardTranse.CastingID = WaxPartProductionDetails.CastingID
                                                       AND WaxJobCardTranse.WaxChargeID = WaxChargeTrans.ChargeID
                        LEFT JOIN FloorInventoryDetails ON FloorInventoryDetails.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                WHERE   purchaseItemMaster.IsIssueAsConsumed = 0
                        AND WaxPartProductionDetails.IsDeleted = 0
                    --    AND CastingID = @CastingID
                        AND dbo.WaxJobCardTranse.IsDeleted = 0
                        AND WaxPartProductionDetails.PartBatchID = @PartBatchID
                GROUP BY ItemName ,
                        ItemCode ,
                        Stock ,
                        PurchaseItemMaster.PurchaseItemId ,
                        WaxConsumption.ConsumedQty ,
                        ( WaxChargeTrans.Ratio )
            END 
            
        IF @Parameter = 15 -- Check Wax Part Stock For Delete
            BEGIN
        
            -- Update Pattern stock of each casting
                SELECT  WaxAssemblyId ,
                        OKQty
                INTO    #PatternStocktable
                FROM    dbo.WaxPartProductionDetails
                WHERE   WaxPartProductionDetails.PartBatchID = @PartBatchID
                        AND WaxPartProductionDetails.Isdeleted = 0                    
										          
					-- Declare Cursor for Query
                DECLARE pro_cusor CURSOR
                FOR
                    SELECT  #PatternStocktable.[WaxAssemblyId] ,
                            #PatternStocktable.[OKQty]
                    FROM    [dbo].[#PatternStocktable] 
					
                OPEN pro_cusor -- Open Cursor
                FETCH NEXT FROM pro_cusor INTO @WaxAssemblyId, @OKQty
                WHILE @@FETCH_STATUS = 0
                    BEGIN
					
                        SET @PatternStock = ( SELECT    WaxPartInventory.PartStock
                                              FROM      dbo.WaxPartInventory
                                              WHERE     WaxAssemblyId = @WaxAssemblyId
                                            )
                   
                        IF @PatternStock < @OKQty
                            BEGIN    
                                DROP TABLE #PatternStocktable           
                                RETURN 0                 
					
                            END
				   	
                        FETCH NEXT FROM pro_cusor
					INTO @WaxAssemblyId, @OKQty
                    END;
                CLOSE pro_cusor; -- Cloase Cursor
                DEALLOCATE pro_cusor;
            
                DROP TABLE #PatternStocktable
                RETURN 1            
            END
        IF @Parameter = 16 -- Check Wax Part Production  Stock For Delete
            BEGIN
                DECLARE @TotalStock INT;
                SET @TotalStock = ( SELECT  ISNULL(PartStock, 0) AS PartStock
                                    FROM    dbo.WaxPartProductionDetails
                                            INNER JOIN dbo.WaxPartInventory ON dbo.WaxPartInventory.WaxAssemblyId = dbo.WaxPartProductionDetails.WaxAssemblyId
                                    WHERE   WaxPartProductionID = @WaxPartProductionID
                                  )
                                  
                RETURN @TotalStock
            END
        
        IF @Parameter = 17 -- Fetch Batch no
            BEGIN
    
                SELECT  MAX(BatchNo) AS BatchNo
                FROM    dbo.WaxPartProduction
                WHERE   BatchNo LIKE @BatchNo
                        AND IsDeleted = 0
    
            END
        --IF @Parameter = 17
        --    BEGIN
			 
			 
        --        IF EXISTS ( SELECT  DISTINCT
        --                            Reason AS ReasonName ,
        --                            CONVERT(VARCHAR(50), dbo.WaxPartRejection.ReasonID) AS Reason ,
        --                            RejQty
        --                    FROM    dbo.WaxPartRejection
        --                            INNER JOIN dbo.ReasonMaster ON dbo.ReasonMaster.ReasonID = dbo.WaxPartRejection.ReasonID
        --                    WHERE    ( @WaxPartProductionID IS NULL
        --                                  OR WaxPartProductionID = @WaxPartProductionID
        --                                )
                                   
        --            BEGIN
        --                RETURN 0;
        --            END
        --        ELSE
        --            BEGIN
        --                RETURN 1;
        --            END
        --    END
    END
GO
