USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CastingRateHistory]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Dhruvin Mashruwala>
-- Create date: <Create Date,, 21-May-2020 >
-- Description:	<Description,,> Casting Rate History report SP
-- =============================================
CREATE PROCEDURE [dbo].[CastingRateHistory]
	@ShowHistory BIT = 1 ,
	@CustomerId UNIQUEIDENTIFIER = NULL ,
	 @PlantIdString VARCHAR(MAX) = NULL ,
    @EntityId INT = 0,
    @CastingId UNIQUEIDENTIFIER = NULL ,
    @CastingName VARCHAR(100) = NULL ,
    @MetalId INT = NULL
AS
BEGIN
	IF @ShowHistory = 1
                BEGIN
                    SELECT DISTINCT
                            'true' AS Showhistory ,
                            castingRateHistory.CustomerName ,
                            castingRateHistory.MetalName ,
                            castingRateHistory.CastingName AS Item ,
                            castingRateHistory.CastingCode AS ItemCode ,
                            castingRateHistory.CastingId AS Id ,
                            castingRateHistory.Rate AS BasicPrice ,
                            ISNULL(FGRateMasterHistory.Rate, 0) AS ItemRate ,
                            castingRateHistory.UOM ,
                            FGRateMasterHistory.UOM AS UOM_History ,
                            FGRateMasterHistory.ApplyDate AS EffectiveDate ,
                            '' AS Unit ,
                            castingRateHistory.Symbol + ' '
                            + castingRateHistory.Currency AS Currency
                    FROM    [Data:CastingRateHistory] as castingRateHistory
                    LEFT JOIN FGRateMasterHistory ON castingRateHistory.CastingId = FGRateMasterHistory.CastingId
                                                      AND FGRateMasterHistory.metalid = castingRateHistory.metalid
                                                             AND FGRateMasterHistory.customerid = castingRateHistory.customerid
                            
                    WHERE   ( @CustomerId IS NULL
                              OR castingRateHistory.CustomerId = @CustomerId
                            )
                            AND ( @CastingID IS NULL
                                  OR castingRateHistory.CastingId = @CastingID
                                )
                            AND ( @CastingName IS NULL
                                  OR castingRateHistory.CastingName = @CastingName
                                )
                            AND ( @MetalId IS NULL
                                  OR castingRateHistory.MetalId = @MetalId
                                )
                                -----------------------------------------
						--AND FGRateMaster.EntityID = @EntityId
						AND ( @PlantIdString IS NULL
							  OR @PlantIdString = ''
							  OR castingRateHistory.CastingId IN (
										SELECT  CastingId
										FROM    dbo.PlantCastingMapping
												INNER JOIN dbo.SplitString(@PlantIdString,
																  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) ) )
							
						--------------------------------------------------------
                    ORDER BY castingRateHistory.CustomerName ,
                            castingRateHistory.MetalName ,
                            castingRateHistory.CastingName ,
                            FGRateMasterHistory.ApplyDate DESC
                            
                            
                            
      --                      SELECT DISTINCT
      --                      'true' AS Showhistory ,
      --                      CustomerName ,
      --                      MetalName ,
      --                      CastingMaster.CastingName AS Item ,
      --                      CastingMaster.CastingCode AS ItemCode ,
      --                      CastingMaster.CastingId AS Id ,
      --                      FGRateMaster.Rate AS BasicPrice ,
      --                      FGRateMasterHistory.Rate AS ItemRate ,
      --                      FGRateMaster.UOM ,
      --                      FGRateMasterHistory.UOM AS UOM_History ,
      --                      FGRateMasterHistory.ApplyDate AS EffectiveDate ,
      --                      '' AS Unit ,
      --                      CurrencyMaster.Symbol + ' '
      --                      + CurrencyMaster.Currency AS Currency
      --              FROM    FGRateMaster
      --                      INNER JOIN CastingMaster ON FGRateMaster.castingid = CastingMaster.castingid
      --                      INNER JOIN MetalMaster ON FGRateMaster.metalid = MetalMaster.metalid
      --                      INNER JOIN CustomerMaster ON FGRateMaster.customerid = CustomerMaster.customerid
      --                      INNER JOIN dbo.CurrencyMaster ON dbo.CurrencyMaster.CurrencyID = dbo.FGRateMaster.Currency
      --                      LEFT JOIN FGRateMasterHistory ON CastingMaster.CastingId = FGRateMasterHistory.CastingId
      --                                                       AND FGRateMasterHistory.metalid = MetalMaster.metalid
      --                                                       AND FGRateMasterHistory.customerid = CustomerMaster.customerid
      --              WHERE   ( @CustomerId IS NULL
      --                        OR CustomerMaster.CustomerId = @CustomerId
      --                      )
      --                      AND ( @CastingID IS NULL
      --                            OR CastingMaster.CastingId = @CastingID
      --                          )
      --                      AND ( @CastingName IS NULL
      --                            OR CastingMaster.CastingName = @CastingName
      --                          )
      --                      AND ( @MetalId IS NULL
      --                            OR MetalMaster.MetalId = @MetalId
      --                          )
      --                          -----------------------------------------
						----AND FGRateMaster.EntityID = @EntityId
						--AND ( @PlantIdString IS NULL
						--	  OR @PlantIdString = ''
						--	  OR FGRateMaster.CastingId IN (
						--				SELECT  CastingId
						--				FROM    dbo.PlantCastingMapping
						--						INNER JOIN dbo.SplitString(@PlantIdString,
						--										  ',') ON Item = CONVERT(VARCHAR(MAX), PlantId) ) )
							
						----------------------------------------------------------
      --              ORDER BY CustomerName ,
      --                      MetalName ,
      --                      CastingMaster.CastingName ,
      --                      FGRateMasterHistory.ApplyDate DESC
                END
        
            ELSE
                BEGIN
                    SELECT DISTINCT
                            'true' AS Showhistory ,
                            CastingRateHistory.CustomerName ,
                            CastingRateHistory.MetalName ,
                            CastingRateHistory.CastingName AS Item ,
                            CastingRateHistory.CastingCode AS ItemCode ,
                            CastingRateHistory.CastingId AS Id ,
                            CastingRateHistory.Rate AS BasicPrice ,
                            '' AS ItemRate ,
                            '' AS UOM ,
                            '' AS UOM_History ,
                            CastingRateHistory.ApplyDate AS EffectiveDate ,
                            '' AS Unit ,
                            CastingRateHistory.Symbol + ' '
                            + CastingRateHistory.Currency AS Currency
                    FROM    [Data:CastingRateHistory] as CastingRateHistory
                    WHERE   ( @CustomerId IS NULL
                              OR CastingRateHistory.CustomerId = @CustomerId
                            )
                            AND ( @CastingID IS NULL
                                  OR CastingRateHistory.CastingId = @CastingID
                                )
                            AND ( @CastingName IS NULL
                                  OR CastingRateHistory.CastingName = @CastingName
                                )
                            AND ( @MetalId IS NULL
                                  OR CastingRateHistory.MetalId = @MetalId
                                )
                    ORDER BY CastingRateHistory.CustomerName ,
                           CastingRateHistory. MetalName ,
                            CastingRateHistory.CastingName ,
                            CastingRateHistory.ApplyDate DESC
                            
                            
                    --        SELECT DISTINCT
                    --        'true' AS Showhistory ,
                    --        CustomerName ,
                    --        MetalName ,
                    --        CastingMaster.CastingName AS Item ,
                    --        CastingMaster.CastingCode AS ItemCode ,
                    --        CastingMaster.CastingId AS Id ,
                    --        FGRateMaster.Rate AS BasicPrice ,
                    --        '' AS ItemRate ,
                    --        '' AS UOM ,
                    --        '' AS UOM_History ,
                    --        FGRateMaster.ApplyDate AS EffectiveDate ,
                    --        '' AS Unit ,
                    --        CurrencyMaster.Symbol + ' '
                    --        + CurrencyMaster.Currency AS Currency
                    --FROM    FGRateMaster
                    --        INNER JOIN CastingMaster ON FGRateMaster.castingid = CastingMaster.castingid
                    --        INNER JOIN MetalMaster ON FGRateMaster.metalid = MetalMaster.metalid
                    --        INNER JOIN CustomerMaster ON FGRateMaster.customerid = CustomerMaster.customerid
                    --        INNER JOIN dbo.CurrencyMaster ON dbo.CurrencyMaster.CurrencyID = dbo.FGRateMaster.Currency
                    --WHERE   ( @CustomerId IS NULL
                    --          OR CustomerMaster.CustomerId = @CustomerId
                    --        )
                    --        AND ( @CastingID IS NULL
                    --              OR CastingMaster.CastingId = @CastingID
                    --            )
                    --        AND ( @CastingName IS NULL
                    --              OR CastingMaster.CastingName = @CastingName
                    --            )
                    --        AND ( @MetalId IS NULL
                    --              OR MetalMaster.MetalId = @MetalId
                    --            )
                    --ORDER BY CustomerName ,
                    --        MetalName ,
                    --        CastingMaster.CastingName ,
                    --        FGRateMaster.ApplyDate DESC
                END 
END

GO
