USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_ItemCastingMapping]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE    PROCEDURE  [dbo].[SP_ItemCastingMapping]
@Parameter int = 0 ,
@EntityId int = 0 ,
@ItemId uniqueidentifier = null, 
@CastingId uniqueidentifier = null,
@Item_Casting_Mapping AS XML = NULL 
AS
BEGIN
	if(@Parameter  = 1)
	begin 
			INSERT INTO [dbo].[ItemCastingMapping]
				   ([PurchaseItemid]
				   ,[EntityId]
				   ,[CastingId]
				   )
             SELECT  @Itemid,
			         @EntityId,
                      Node.value('(CastingId )[1]', 'uniqueidentifier') AS 'CastingId'     
                    FROM    @Item_Casting_Mapping.nodes('/DocumentElement/Item_Casting_Mapping')
                            AS TEMPXML ( Node )	
			
	end 

	if(@Parameter  = 2)
	begin
		delete from [ItemCastingMapping] where [PurchaseItemid] =@ItemId and [CastingId] =@CastingId 
	end

	if(@Parameter  = 3)
	begin
		select ItemCastingMapping.*,ItemName ,CastingName,ItemCode ,CastingCode  from [ItemCastingMapping]
		inner join PurchaseItemMaster  on PurchaseItemMaster.PurchaseItemId = ItemCastingMapping.PurchaseItemid --and PurchaseItemMaster.EntityID = @EntityId
		inner join CastingMaster  on CastingMaster.CastingId = ItemCastingMapping.CastingId --and  CastingMaster.EntityID =  @EntityId
      where ItemCastingMapping.EntityID = @EntityId

	end

END
GO
