USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Equipment_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




 CREATE  PROCEDURE [dbo].[Equipment_Register]
@EquipmentId UNIQUEIDENTIFIER = NULL ,
    @EquipmentName VARCHAR(100) = NULL ,
       @EquipmentCategoryId int = 0 ,
      @CustomerId UNIQUEIDENTIFIER = NULL , 
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,                
    @TotalRecords INT = 0 ,  
        @IfActive VARCHAR(20) = 0 ,
	@CommonDataId int = 0 ,
     @SysDepartmentId UNIQUEIDENTIFIER = NULL,
    @EntityId INT = 0 
  
AS
BEGIN
	 
	 
	     IF @parameter = 1 --Fetch Data from Equipment Master
        BEGIN
            IF @InitialLoad = 1
                BEGIN
                    SELECT TOP ( @PageSize )
                            *
                    FROM    ( SELECT TOP ( @PageSize )
                                        ROW_NUMBER() OVER ( ORDER BY iTEMName ASC ) AS SrNo ,
                                        PurchaseItemMaster.PurchaseItemId as EquipmentId ,
                                        ItemName as  EquipmentName ,
                                        ItemCode as EquipmentCode ,
                                        CommonData_Master.CommonDataId,
                                        CommonData_Master.DisplayName,
                                        --EquipmentCategory ,
                                        
                                         (case when EquipmentCategoryId = 1 then 'Equipment' else 
											(case when EquipmentCategoryId = 2 then 'Jig/Fixture' else 
												(case when EquipmentCategoryId = 3 then 'Inspection Tool' else 
													(case when EquipmentCategoryId = 4 then 'Other' else '' end )
												 end )
											 end ) 
										end ) as EquipmentCategory,
										EquipmentCategoryId, 
                                        
                                        SystemDepartment.DepartmentName ,
                                         CAST(0x0 AS uniqueidentifier)  AS CustomerId ,
                                        --(Capability
                                        --  + '-'
                                        --  + 
                                        -- isnull(dbo.CapabilityUnit,'') ) AS Capability ,
                                        CASE WHEN CapabilityUnit <> ''
                                             THEN Capability
                                                  + '-'
                                                  + CapabilityUnit
                                             ELSE Capability
                                        END AS Capability ,
                                        CONVERT(VARCHAR(11), EquipmentPurchaseDate, 106) AS EquipmentPurchaseDate ,
                                        PurchaseRate ,
                                        IfActive ,
                                        '' AS CustomerName, --CustomerMaster.CustomerName ,
                                        MachineMake ,
                                        MachineModel ,
                                        EquipmentDescription ,
                                        Remarks ,
                                        MachineLocation
                              FROM    PurchaseItemMaster 
                                     --   LEFT JOIN CustomerMaster ON CustomerId = CustomerMaster.CustomerId
                                       left join PurchaseItemDepartmentMapping on PurchaseItemDepartmentMapping.purchaseItemID=PurchaseItemMaster.PurchaseItemId
                                       inner join SystemDepartment  on SystemDepartment.DepartmentID=PurchaseItemDepartmentMapping.DepartmentID
                                       LEFT JOIN CommonData_Master on PurchaseItemMaster.EquipmentTypeId=CommonData_Master.CommonDataId
                                       Inner Join PurchaseCompanyMapping on PurchaseCompanyMapping.PurchaseItemId=PurchaseItemMaster.PurchaseItemId
                              WHERE     ( @EquipmentId IS NULL
                                          OR  PurchaseItemMaster.PurchaseItemId = @EquipmentId
                                        )
                                        AND (@EquipmentName IS NULL 
											OR ItemName = @EquipmentName
											)
                                     AND ( @CustomerId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemId IN (  
                                                  SELECT    PurchaseItemID  
                                                  FROM      CustomerPurchaseitemMappping  
                                                  WHERE     CustomerId = @CustomerId )  
                                                )   
                                        AND ( @EquipmentCategoryId = 0
                                              OR EquipmentCategoryId = @EquipmentCategoryId
                                            )
                                        AND ( @SysDepartmentId IS NULL
                                              OR  PurchaseItemMaster.PurchaseItemId in (Select PurchaseItemId from PurchaseItemDepartmentMapping where DepartmentID in ( @SysDepartmentId))
                                            )
                                        AND ( @CommonDataId = 0
                                              OR CommonDataId=@CommonDataId
                                            )
                                        AND IfActive = @IfActive
                                        AND PurchaseItemMaster.IsDeleted = 0                                       
                                        AND PurchaseCompanyMapping.CompanyId = @EntityId
                                        AND IsEquipment=1
                            ) S
									
                END
				
							   
            ELSE
                BEGIN
                    SELECT TOP ( @PageSize )
                            *
                    FROM    ( SELECT    ROW_NUMBER() OVER ( ORDER BY ItemName ASC ) AS SrNo ,
                                        PurchaseItemMaster.PurchaseItemId as  EquipmentId ,
                                        ItemName as EquipmentName ,
                                        ItemCode as EquipmentCode ,
                                        CommonData_Master.CommonDataId,
                                        CommonData_Master.DisplayName,
                                        -- EquipmentCategory ,
                                         (case when EquipmentCategoryId = 1 then 'Equipment' else 
											(case when EquipmentCategoryId = 2 then 'Jig/Fixture' else 
												(case when EquipmentCategoryId = 3 then 'Inspection Tool' else 
													(case when EquipmentCategoryId = 4 then 'Other' else '' end )
												 end )
											 end ) 
										end ) as EquipmentCategory,	
										EquipmentCategoryId, 									                                        
                                        Department ,
                                        CAST(0x0 AS uniqueidentifier) as CustomerId ,
                                        --(Capability
                                        --  + '-'
                                        --  + 
                                        -- isnull(dbo.CapabilityUnit,'') ) AS Capability ,
                                        CASE WHEN CapabilityUnit <> ''
                                             THEN Capability
                                                  + '-'
                                                  + CapabilityUnit
                                             ELSE Capability
                                        END AS Capability ,
                                        CONVERT(VARCHAR(11), EquipmentPurchaseDate, 106) AS EquipmentPurchaseDate ,
                                        PurchaseRate ,
                                        IfActive ,
                                        '' as CustomerName , -- CustomerMaster.CustomerName ,
                                        MachineMake ,
                                        MachineModel ,
                                        EquipmentDescription ,
                                        Remarks ,
                                        MachineLocation
                              FROM    PurchaseItemMaster 
                                       -- LEFT JOIN CustomerMaster ON CustomerId = CustomerMaster.CustomerId
                                        left JOIN CommonData_Master on PurchaseItemMaster.EquipmentTypeId=CommonData_Master.CommonDataId
										 Inner Join PurchaseCompanyMapping on PurchaseCompanyMapping.PurchaseItemId=PurchaseItemMaster.PurchaseItemId
                              WHERE     ( @EquipmentId IS NULL
                                          OR PurchaseItemMaster.PurchaseItemId = @EquipmentId
                                        )
                                        AND (@EquipmentName IS NULL 
											OR ItemName = @EquipmentName
											)
                                      AND ( @CustomerId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemId IN (  
                                                  SELECT    PurchaseItemID  
                                                  FROM      CustomerPurchaseitemMappping  
                                                  WHERE     CustomerId = @CustomerId )  
                                                )  
                                        AND ( @EquipmentCategoryId = 0 
                                              OR EquipmentCategoryId = @EquipmentCategoryId
                                            )
                                      AND ( @SysDepartmentId IS NULL
										  OR PurchaseItemMaster. PurchaseItemId in (Select PurchaseItemId from PurchaseItemDepartmentMapping where DepartmentID in ( @SysDepartmentId))
										) 
                                        AND ( @CommonDataId = 0
                                              OR CommonDataId=@CommonDataId
                                            )
                                        AND IfActive = @IfActive
                                        AND PurchaseItemMaster.IsDeleted = 0
                                        AND PurchaseCompanyMapping.CompanyId = @EntityId
                                        AND IsEquipment=1
                            ) S
                    WHERE   SrNo > ( @PageNumber * @PageSize )
                END		
					
        END
	                                                              
    IF ( @Parameter = 2 )	--	Total Record Display In paging Control
        BEGIN					
            SET @TotalRecords = ( SELECT    COUNT(1)
--                                                             
                                  FROM      PurchaseItemMaster
                                            --LEFT JOIN CustomerMaster ON MaintenanceEquipmentMaster.CustomerId = CustomerMaster.CustomerId
                                            LEFT JOIN CommonData_Master on PurchaseItemMaster.EquipmentTypeId = CommonData_Master.CommonDataId
                                            Inner Join PurchaseCompanyMapping on PurchaseCompanyMapping.PurchaseItemId=PurchaseItemMaster.PurchaseItemId
                                  WHERE     ( @EquipmentId IS NULL
                                              OR PurchaseItemMaster.PurchaseItemId= @EquipmentId
                                            )
                                            AND (@EquipmentName IS NULL 
											OR ItemName	 = @EquipmentName
											)
                                             AND ( @CustomerId IS NULL  
                                                  OR PurchaseItemMaster.PurchaseItemId IN (  
                                                  SELECT    PurchaseItemID  
                                                  FROM      CustomerPurchaseitemMappping  
                                                  WHERE     CustomerId = @CustomerId )  
                                                )  
                                            AND ( @EquipmentCategoryId = 0
                                                  OR EquipmentCategoryId = @EquipmentCategoryId
                                                )
                                            AND ( (@SysDepartmentId IS NULL) or (@SysDepartmentId = (Select CAST(0x0 AS uniqueidentifier)))
                                              OR (PurchaseItemMaster.PurchaseItemId in (Select PurchaseItemId from PurchaseItemDepartmentMapping where DepartmentID in ( @SysDepartmentId))
                                              )  )
                                            AND ( @CommonDataId = 0
                                              OR CommonDataId=@CommonDataId
                                            )
                                            AND PurchaseItemMaster.IfActive = @IfActive
                                            AND PurchaseItemMaster.IsDeleted = 0
                                           AND PurchaseCompanyMapping.CompanyId = @EntityId
                                           AND IsEquipment = 1 
                                )
            
            RETURN @TotalRecords
        END
        
          IF @Parameter = 3					--Equipment Detail Report
            BEGIN            
                SELECT distinct ROW_NUMBER() OVER ( ORDER BY ItemName ASC ) AS SrNo ,
                       PurchaseItemMaster.PurchaseItemId AS  EquipmentId ,
                        ItemName AS    EquipmentName ,
                        ItemCode AS EquipmentCode ,
                       -- EquipmentCategory ,
                        (case when EquipmentCategoryId = 1 then 'Equipment' else 
																	(case when EquipmentCategoryId = 2 then 'Jig/Fixture' else 
																		(case when EquipmentCategoryId = 3 then 'Inspection Tool' else 
																			(case when EquipmentCategoryId = 4 then 'Other' else '' end )
																		 end )
																	 end ) 
																end ) as EquipmentCategory,
						EquipmentCategoryId,
                         SystemDepartment.DepartmentName as  Department ,
                          CAST(0x0 AS uniqueidentifier)  AS CustomerId ,
                        ( Capability + '-'
                          + CapabilityUnit ) AS Capability ,
                        CONVERT(VARCHAR(11), EquipmentPurchaseDate, 106) AS EquipmentPurchaseDate ,
                        PurchaseRate ,
                        IfActive ,
                        '' as CustomerName  , --CustomerMaster.CustomerName ,
                        MachineMake ,
                        MachineModel ,
                        EquipmentDescription ,
                        Remarks ,
                        MachineLocation ,
                        dbo.CompanyMaster.NameOfOrganization
                FROM      PurchaseItemMaster 
                       --LEFT JOIN CustomerMaster ON CustomerId = CustomerMaster.CustomerId
                        LEFT JOIN dbo.CompanyMaster ON dbo.CompanyMaster.EntityId = PurchaseItemMaster.EntityId
                         LEft join PurchaseItemDepartmentMapping on PurchaseItemDepartmentMapping.PurchaseItemId=PurchaseItemMaster.PurchaseItemId
                                     Left join SystemDepartment  on SystemDepartment.DepartmentID=PurchaseItemDepartmentMapping.DepartmentID
                        LEFT JOIN CommonData_Master on PurchaseItemMaster.EquipmentTypeId=CommonData_Master.CommonDataId
                WHERE   ( @EquipmentId IS NULL
                          OR PurchaseItemMaster.PurchaseItemId = @EquipmentId
                        )
                        AND (@EquipmentName IS NULL 
							OR ItemName = @EquipmentName
							)
                        --AND ( @CustomerId IS NULL
                        --      OR CustomerId = @CustomerId
                        --    )
                        AND ( @EquipmentCategoryId = 0--IS NULL
                              OR EquipmentCategoryId = @EquipmentCategoryId
                            )
                        AND ( @SysDepartmentId IS NULL
                             
                                              OR  PurchaseItemMaster.PurchaseItemId in (Select PurchaseItemId from PurchaseItemDepartmentMapping where DepartmentID in ( @SysDepartmentId))
                            )
                        AND ( @CommonDataId = 0
                             OR CommonDataId = @CommonDataId
                             )
                        AND PurchaseItemMaster.IfActive = @IfActive
                        AND PurchaseItemMaster.IsDeleted = 0
                        AND PurchaseItemMaster.EntityID = @EntityId
                        AND  ( @SysDepartmentId is Null OR PurchaseItemDepartmentMapping.DepartmentID=@SysDepartmentId)
                         AND IsEquipment = 1
                     --   and PurchaseItemMaster.ifActice is not null
                            
            END
             IF ( @Parameter = 4 )--Monthly Time Report
            BEGIN
                SELECT   PurchaseItemMaster.PurchaseItemId as  EquipmentId ,
                        ItemName		 as  EquipmentName ,
                     ROUND(  SUM(MaintenanceBreakdownMaster.NoOfHours),1) AS NoOfHours ,
                      RIGHT(CONVERT(varchar, DATEADD(s,  ROUND(  SUM(MaintenanceBreakdownMaster.NoOfHours),1) * 60, 0), 108),5)  AS NoOfHoursNew ,
  -- RIGHT(CONVERT(varchar, DATEADD(s, (SUM(MaintenanceBreakdownMaster.NoOfHours)) * 60, 0), 108),5) as NoOfHours,
                        DATENAME(month, FromDate) AS MonthName ,
                        DATEPART(month, FromDate) AS MonthNo ,
                        'BD' AS TYPE ,
                        NameOfOrganization
                FROM    PurchaseItemMaster
                        INNER JOIN MaintenanceBreakdownMaster ON MaintenanceBreakdownMaster.EquipmentId = PurchaseItemMaster.PurchaseItemId
                        LEFT JOIN dbo.CompanyMaster ON dbo.CompanyMaster.EntityId = dbo.MaintenanceBreakdownMaster.EntityId
                WHERE   ( @EquipmentId IS  NULL
                          OR MaintenanceBreakdownMaster.EquipmentId = @EquipmentId
                        )
                        AND (@EquipmentName IS NULL 
							OR ItemName = @EquipmentName
							)
							AND IsEquipment=1
                GROUP BY PurchaseItemId ,
                        ItemName ,
                        DATENAME(month, FromDate) ,
                        DATEPART(month, FromDate) ,
                        NameOfOrganization
                UNION
       --         SELECT  PurchaseItemMaster.EquipmentId ,
       --                 EquipmentName ,
       --                 SUM(MaintenancePreventiveMaintenance.PMHours) AS NoOfHours ,
       --                 RIGHT(CONVERT(varchar, DATEADD(s,  SUM(MaintenancePreventiveMaintenance.PMHours) * 60, 0), 108),5)  AS NoOfHoursNew ,
       --                -- RIGHT(CONVERT(varchar, DATEADD(s, (SUM(MaintenancePreventiveMaintenance.PMHours)) * 60, 0), 108),5) as NoOfHours,
       --                 DATENAME(month, PMDate) AS MonthName ,
       --                 DATEPART(month, PMDate) AS MonthNo ,
       --                 'PM' AS TYPE ,
       --                 NameOfOrganization
       --         FROM    PurchaseItemMaster
       --                 INNER  JOIN MaintenancePreventiveMaintenanceMasterCost ON MaintenancePreventiveMaintenanceMasterCost.EquipmentID = dbo.PurchaseItemMaster.EquipmentId
       --                 LEFT JOIN MaintenancePreventiveMaintenance ON MaintenancePreventiveMaintenanceMasterCost.PreventiveId = MaintenancePreventiveMaintenance.PreventiveId
       --                 LEFT JOIN dbo.CompanyMaster ON dbo.CompanyMaster.EntityId = dbo.PurchaseItemMaster.EntityId
       --         WHERE   ( @EquipmentId IS  NULL
       --                   OR MaintenancePreventiveMaintenanceMasterCost.EquipmentId = @EquipmentId
       --                 )
       --                 AND (@EquipmentName IS NULL 
							--OR PurchaseItemMaster.EquipmentName = @EquipmentName
							--)
       --         GROUP BY PurchaseItemMaster.EquipmentId ,
       --                 EquipmentName ,
       --                 DATENAME(month, PMDate) ,
       --                 DATEPART(month, PMDate) ,
       --                 NameOfOrganization 
                        
                        
SELECT PurchaseItemMaster.PurchaseItemId as  EquipmentId ,
                        ItemName		 as  EquipmentName ,
                        SUM( distinct  b.PMHours) AS NoOfHours ,
                        RIGHT(CONVERT(varchar, DATEADD(s,  SUM(b.PMHours) * 60, 0), 108),5)  AS NoOfHoursNew ,
                       -- RIGHT(CONVERT(varchar, DATEADD(s, (SUM(MaintenancePreventiveMaintenance.PMHours)) * 60, 0), 108),5) as NoOfHours,
                        DATENAME(month, PMDate) AS MonthName ,
                        DATEPART(month, PMDate) AS MonthNo ,
                        'PM' AS TYPE ,
                        NameOfOrganization
                FROM    PurchaseItemMaster
                        INNER  JOIN MaintenancePreventiveMaintenanceMasterCost ON MaintenancePreventiveMaintenanceMasterCost.EquipmentID = dbo.PurchaseItemMaster.PurchaseItemId
--                        LEFT JOIN MaintenancePreventiveMaintenance ON MaintenancePreventiveMaintenanceMasterCost.PreventiveId = MaintenancePreventiveMaintenance.PreventiveId

                        LEFT JOIN dbo.CompanyMaster ON dbo.CompanyMaster.EntityId = dbo.PurchaseItemMaster.EntityId
                        LEFT JOIN(select distinct PreventiveId,PMHours,PMDate  from  MaintenancePreventiveMaintenance ) b on b.PreventiveId =  MaintenancePreventiveMaintenanceMasterCost.PreventiveId
                          WHERE   ( @EquipmentId IS  NULL
                          OR MaintenancePreventiveMaintenanceMasterCost.EquipmentId = @EquipmentId
                        )
                        AND (@EquipmentName IS NULL 
							OR ItemName = @EquipmentName
							)
							AND IsEquipment=1
                GROUP BY  PurchaseItemId ,
                        ItemName ,
                        DATENAME(month, PMDate) ,
                        DATEPART(month, PMDate) ,
                        NameOfOrganization 


            END
    IF ( @Parameter = 5 )--Monthly Breakdown and Prevention Costing Report
            BEGIN
                SELECT  PurchaseItemMaster.PurchaseItemId as  EquipmentId ,
                        ItemName		 as  EquipmentName ,
                        SUM(MaintenanceBreakdownMaster.TotalCost) AS TotalCost ,
                        DATENAME(month, FromDate) AS MonthName ,
                        DATEPART(month, FromDate) AS MonthNo ,
                        'BD' AS TYPE
                FROM    PurchaseItemMaster
                        INNER JOIN MaintenanceBreakdownMaster ON MaintenanceBreakdownMaster.EquipmentId = PurchaseItemMaster.PurchaseItemId
                WHERE   ( @EquipmentId IS  NULL
                          OR MaintenanceBreakdownMaster.EquipmentId = @EquipmentId
                        )
                        AND (@EquipmentName IS NULL 
							OR ItemName= @EquipmentName
							)
							AND IsEquipment=1
                GROUP BY PurchaseItemId ,
                        ItemName ,
                        DATENAME(month, FromDate) ,
                        DATEPART(month, FromDate)
                UNION
                SELECT PurchaseItemMaster.PurchaseItemId as  EquipmentId ,
                        ItemName		 as  EquipmentName ,
                        SUM(Qty * Rate) AS TotalCost ,
                        DATENAME(month, PMDate) AS MonthName ,
                        DATEPART(month, PMDate) AS MonthNo ,
                        'PM' AS TYPE
                FROM    PurchaseItemMaster
                        INNER  JOIN MaintenancePreventiveMaintenanceMasterCost ON MaintenancePreventiveMaintenanceMasterCost.EquipmentID =  PurchaseItemMaster.PurchaseItemId
                        LEFT JOIN MaintenancePreventiveMaintenance ON MaintenancePreventiveMaintenanceMasterCost.PreventiveId = MaintenancePreventiveMaintenance.PreventiveId
                WHERE   ( @EquipmentId IS  NULL
                          OR MaintenancePreventiveMaintenanceMasterCost.EquipmentId = @EquipmentId
                        )
                        AND (@EquipmentName IS NULL 
							OR ItemName = @EquipmentName
							)
							AND IsEquipment=1
                GROUP BY PurchaseItemId ,
                        ItemName ,
                        DATENAME(month, PMDate) ,
                        DATEPART(month, PMDate) 


            END
		  
END


GO
