USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Core_Rejection_Regeister]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[Core_Rejection_Regeister]
   @Parameter INT = 0 ,    
    @PageNumber INT = 0 ,                
    @PageSize INT = 0 ,                
    @InitialLoad INT = 0 ,      
  @CastingId uniqueidentifier = NULL,
  @CastingName nvarchar(1000) = NULL,
    
  @PatternId uniqueidentifier = NULL,
  @CoreId uniqueidentifier = NULL,
    @TotalRecords INT = 0 ,      
	@PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityId INT = 0 
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	 IF @parameter = 1 -- core rejection data    
    BEGIN
        IF @InitialLoad = 1
        BEGIN
            SELECT TOP (@PageSize) *
            FROM (
				SELECT TOP (@PageSize) ROW_NUMBER() OVER (ORDER BY CoreBoxName ASC) AS RowNo, *
				FROM (
					SELECT	dbo.CoreRej.CoreRejectionId,
							dbo.PurchaseItemMaster.ItemCode as PatternCode,
							dbo.CoreBoxDetails.CoreBoxName,
							dbo.CoreRej.RejQty,
							dbo.ReasonMaster.Reason
							, PlantMaster.PlantCode AS PlantName
					FROM	dbo.CoreRej
							INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.CoreRej.PatternId
							INNER JOIN dbo.CoreBoxDetails ON dbo.CoreBoxDetails.CoreBoxID = dbo.CoreRej.CoreId
							INNER JOIN dbo.ReasonMaster ON dbo.ReasonMaster.ReasonID = dbo.CoreRej.ReasonID
							INNER JOIN PlantMaster ON PlantMaster.PlantId = dbo.CoreRej.PlantId
					WHERE	(@CoreId IS NULL OR dbo.CoreRej.CoreId = @CoreId)
							AND dbo.CoreRej.IsDeleted = 0
							AND PurchaseItemMaster.IsPattern = 1			   
							AND dbo.CoreRej.EntityID = @EntityId
							AND ( ISNULL(@PlantIdString,'') = ''
								OR dbo.CoreRej.PlantId IN (
									SELECT Item FROM @Plant
								)
							)
	            ) AS Final
            ) AS Cc
            ORDER BY RowNo
        END
        ELSE
        BEGIN
            SELECT TOP (@PageSize) *
            FROM (
				SELECT ROW_NUMBER() OVER (ORDER BY CoreBoxName ASC) AS RowNo, *
				FROM (
					SELECT	dbo.CoreRej.CoreRejectionId,
							dbo.PurchaseItemMaster.ItemCode as PatternCode,
							dbo.CoreRej.CoreId,
							dbo.CoreBoxDetails.CoreBoxName,
							dbo.CoreRej.RejQty,
							dbo.ReasonMaster.Reason
							, PlantMaster.PlantCode AS PlantName
					FROM	dbo.CoreRej
							INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.CoreRej.PatternId
							INNER JOIN dbo.CoreBoxDetails ON dbo.CoreBoxDetails.CoreBoxID = dbo.CoreRej.CoreId
							INNER JOIN dbo.ReasonMaster ON dbo.ReasonMaster.ReasonID = dbo.CoreRej.ReasonID
							INNER JOIN PlantMaster ON PlantMaster.PlantId = dbo.CoreRej.PlantId
					WHERE	(@PatternId IS NULL OR dbo.CoreRej.PatternId = @PatternId)
							AND (@CastingId IS NULL 
								OR CoreBoxDetails.PatternID IN (SELECT Dieid FROM CastingMaster WHERE CastingId = @CastingId)
							)
							AND (@CastingName IS NULL
								OR CoreBoxDetails.PatternID IN (
									SELECT Dieid FROM dbo.CastingMaster WHERE CastingMaster.CastingName = @CastingName AND CastingMaster.IsDeleted = 0)
							)
							AND PurchaseItemMaster.IsPattern = 1			   
							AND (@CoreId IS NULL OR dbo.CoreRej.CoreId = @CoreId) 
							AND dbo.CoreRej.IsDeleted = 0
							AND dbo.CoreRej.EntityID = @EntityId
							AND ( ISNULL(@PlantIdString,'') = ''
								OR dbo.CoreRej.PlantId IN (
									SELECT Item FROM @Plant
								)
							)
            ) AS tmpTable) AS Cc
            WHERE Cc.RowNo > (@PageNumber * @PageSize)
            ORDER BY RowNo
        END
    END

    IF @Parameter = 2 --Count Number Of Records    
    BEGIN

        SET @TotalRecords = (
			SELECT	COUNT(CoreRej.CoreRejectionId)
			FROM	dbo.CoreRej
					INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.CoreRej.PatternId
					INNER JOIN dbo.CoreBoxDetails ON dbo.CoreBoxDetails.CoreBoxID = dbo.CoreRej.CoreId
					INNER JOIN dbo.ReasonMaster ON dbo.ReasonMaster.ReasonID = dbo.CoreRej.ReasonID
			WHERE	(@PatternId IS NULL OR dbo.CoreRej.PatternId = @PatternId)
					AND (@CoreId IS NULL OR dbo.CoreRej.CoreId = @CoreId)
					AND dbo.CoreRej.IsDeleted = 0
					AND PurchaseItemMaster.IsPattern = 1					 
					AND dbo.CoreRej.EntityID = @EntityId
					AND ( ISNULL(@PlantIdString,'') = ''
						OR dbo.CoreRej.PlantId IN (
							SELECT Item FROM @Plant
						)
					)
					AND (@CastingId IS NULL 
								OR CoreBoxDetails.PatternID IN (SELECT Dieid FROM CastingMaster WHERE CastingId = @CastingId)
							)
							AND (@CastingName IS NULL
								OR CoreBoxDetails.PatternID IN (
									SELECT Dieid FROM dbo.CastingMaster WHERE CastingMaster.CastingName = @CastingName AND CastingMaster.IsDeleted = 0)
							)
		)
        RETURN @TotalRecords
    END
    
    IF (@Parameter = 3)
    BEGIN
		SELECT *
        FROM (
			SELECT ROW_NUMBER() OVER (ORDER BY CoreBoxName ASC) AS RowNo, *
			FROM (
				SELECT	dbo.CoreRej.CoreRejectionId,
						dbo.PurchaseItemMaster.ItemCode as PatternCode,
						dbo.CoreRej.CoreId,
						dbo.CoreBoxDetails.CoreBoxName,
						dbo.CoreRej.RejQty,
						dbo.ReasonMaster.Reason,
						dbo.PlantMaster.PlantCode AS PlantName
				FROM	dbo.CoreRej
						INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.CoreRej.PatternId
						INNER JOIN dbo.CoreBoxDetails ON dbo.CoreBoxDetails.CoreBoxID = dbo.CoreRej.CoreId
						INNER JOIN dbo.ReasonMaster ON dbo.ReasonMaster.ReasonID = dbo.CoreRej.ReasonID
						INNER JOIN dbo.PlantMaster ON dbo.PlantMaster.PlantId = CoreRej.PlantId
				WHERE	(@PatternId IS NULL OR dbo.CoreRej.PatternId = @PatternId)
						AND (@CastingId IS NULL 
							OR CoreBoxDetails.PatternID IN (SELECT Dieid FROM CastingMaster WHERE CastingId = @CastingId)
						)
						AND (@CastingName IS NULL
							OR CoreBoxDetails.PatternID IN (
								SELECT Dieid FROM dbo.CastingMaster WHERE CastingMaster.CastingName = @CastingName AND CastingMaster.IsDeleted = 0)
						)
						AND (@CoreId IS NULL OR dbo.CoreRej.CoreId = @CoreId) 
						AND dbo.CoreRej.IsDeleted = 0
						AND PurchaseItemMaster.IsPattern = 1				  
						AND dbo.CoreRej.EntityID = @EntityId
						AND ( ISNULL(@PlantIdString,'') = ''
							OR dbo.CoreRej.PlantId IN (
								SELECT Item FROM @Plant
							)
						)
        ) AS tmpTable) AS Cc
        --WHERE Cc.RowNo > (@PageNumber * @PageSize)
        ORDER BY RowNo
    END
END
GO
