USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportPurchaseAmountTrendChart]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Dhruvin>
-- Create date: <Create Date,,17-06-2020>
-- Description:	<Description,,purchase amount trend chart>
-- =============================================
CREATE PROCEDURE [dbo].[ReportPurchaseAmountTrendChart]
 @PlantIdString VARCHAR(MAX) = NULL,
    @EntityId INT = 0
AS
BEGIN
Declare @StartingMonthForFY int;
	SET @StartingMonthForFY = (
				select FinancialYear from configuration
				where EntityID = @EntityId
			);
			
			IF @StartingMonthForFY = 0
			BEGIN
				SET @StartingMonthForFY = 1 ;
			END

			SELECT		S.*, SS.*,
						CASE WHEN S.SrNo = 1 THEN ISNULL(F1.TotalAmount, 0)
						ELSE ISNULL(F2.TotalAmount, 0) END
						AS TotalAmount
			FROM		(
							SELECT    DATENAME(MONTH, CONVERT(VARCHAR(50), year(GetDate()))+'-' + CAST(number AS VARCHAR(2)) + '-1') Month ,
									  number ,
									  1 AS SrNo
							FROM      master..spt_values
							WHERE     Type = 'P'
									  AND number BETWEEN @StartingMonthForFY AND 12
							UNION
							SELECT    DATENAME(MONTH, CONVERT(VARCHAR(50), year(GetDate()))+'-' + CAST(number AS VARCHAR(2)) + '-1') MONTH ,
									  number ,
									  2 AS SrNo
							FROM      master..spt_values
							WHERE     Type = 'P'
									  AND number BETWEEN 1 AND @StartingMonthForFY - 1						
						) AS S
						CROSS JOIN (
							SELECT		FinancialYear AS Year, 
										StartYear, 
										EndYear 
							FROM		FetchFinancialYearDynamically(@StartingMonthForFY)
						) AS SS
						LEFT JOIN (
                            SELECT		DATENAME(MONTH, InvoiceDate) Months ,
										ROUND(ISNULL(SUM(dbo.PurchaseInvoice.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
										YEAR(InvoiceDate) AS Year1
							FROM		dbo.PurchaseInvoice
							WHERE		dbo.PurchaseInvoice.IsDelete = 0
                                        AND MONTH(InvoiceDate) > @StartingMonthForFY - 1 
										AND ( ISNULL(@PlantIdString , '') = ''
										  OR PurchaseInvoice.PlantId IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))
										)
										AND PurchaseInvoice.EntityId = @EntityId             
							GROUP BY	DATENAME(month, InvoiceDate) ,
										YEAR(InvoiceDate)
						) AS F1
						ON S.MONTH = F1.Months
						AND SS.StartYear = F1.Year1
						LEFT JOIN (
							SELECT		DATENAME(MONTH, InvoiceDate) Months ,
										ROUND(ISNULL(SUM(dbo.PurchaseInvoice.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
										YEAR(InvoiceDate) AS Year1
							FROM		dbo.PurchaseInvoice
							WHERE		dbo.PurchaseInvoice.IsDelete = 0
                                        AND MONTH(InvoiceDate) < @StartingMonthForFY  
										AND ( ISNULL(@PlantIdString , '') = ''
										  OR PurchaseInvoice.PlantId IN (SELECT * FROM dbo.SplitString(@PlantIdString, ','))
										)
										AND PurchaseInvoice.EntityId = @EntityId             
							GROUP BY	DATENAME(month, InvoiceDate) ,
										YEAR(InvoiceDate)
						) AS F2
						ON S.MONTH = F2.Months
						AND SS.EndYear = F2.Year1
			ORDER BY	Srno, 
						number
						
END

GO
