USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WebSalesAmountTrendMoMChart]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WebSalesAmountTrendMoMChart]
    @Parameter INT = 0 ,
    @StartYear VARCHAR(MAX) = NULL ,
    @EndYear VARCHAR(MAX) = NULL ,
    @FinancialYear VARCHAR(MAX) = NULL
AS
    BEGIN
	      
	
        --WITH    LEVEL1
        --          AS ( SELECT  
        --                        DATENAME(MONTH, '2012-' + CAST(number AS VARCHAR(2)) + '-1') monthname
        --               FROM     master..spt_values
        --               WHERE    Type = 'P'
        --                        AND number BETWEEN 1 AND 12
        --             ),
        --        LEVEL2
        --          AS ( SELECT   *
        --               FROM  -- LEVEL1 LEFT JOIN 
        --               ( SELECT    DATENAME(month, dispatchdate) Month ,
        --                                    ISNULL(SUM(dbo.dispatchtrans.TotalAmount), 000) AS TotalAmount ,
        --                                    YEAR(dispatchdate) AS Year1
        --                          FROM      dbo.dispatchmaster
        --                                    INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
        --                          WHERE     YEAR(dispatchdate) IN ( 2015, 2016, 2017 ) --AND Month(dispatchdate) > 4
        --                          GROUP BY  DATENAME(month, dispatchdate) ,
        --                                    YEAR(dispatchdate) 
                            
        --                        )  AS s --ON LEVEL1.monthname = s.Month
        --                         PIVOT ( MIN(TotalAmount) FOR Year1 IN ( [2015], [2016], [2017] ) )AS pvt
        --             )
        --    SELECT  *
        --    FROM   LEVEL2
        
        --SELECT  DATENAME(MONTH, '2012-' + CAST(number AS VARCHAR(2)) + '-1') month ,
        
        --        s.Year ,TotalAmount
        --FROM    master..spt_values
        --        LEFT JOIN ( SELECT  DATENAME(month, dispatchdate) Month ,
        --                            CONVERT(VARCHAR, YEAR(dispatchdate)) Year ,-- + '-' + CONVERT(VARCHAR, YEAR(dispatchdate) + 1) ,
        --                            SUM(dbo.dispatchtrans.TotalAmount) AS TotalAmount
        --                    FROM    dbo.dispatchmaster
        --                            INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
        --                    GROUP BY DATENAME(month, dispatchdate) ,
        --                            YEAR(dispatchdate) 
        --                          --  MONTH(dispatchdate)
        --                    --ORDER BY YEAR(dispatchdate) ,
        --                    --        MONTH(dispatchdate)
        --                  ) AS S ON S.Month = DATENAME(MONTH, '2012-' + CAST(number AS VARCHAR(2)) + '-1')
        --WHERE   Type = 'P'
        --        AND number BETWEEN 1 AND 12

        
        IF ( @Parameter = 1 )
            BEGIN
     --           SELECT  *
     --           INTO    #Temp
     --           FROM    ( SELECT    DATENAME(month, dispatchdate) Month ,
     --                               ROUND(ISNULL(SUM(dbo.dispatchmaster.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
     --                               YEAR(dispatchdate) AS Year1 ,
     --                               1 AS SrNo ,
     --                               MONTH(dispatchdate) AS MonthNo
     --                     FROM      dbo.dispatchmaster
     --               --INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
     --                     WHERE     IsDeleted = 0
     --                               AND YEAR(dispatchdate) IN ( 2015, 2016, 2017 )
					----AND (@CustomerID is NULL or customerID=@CustomerID)
					----AND (@CastingID is NULL OR DispatchID in ( select Distinct DispatchID from dispatchtrans where castingid=@Castingid and IsDeleted=0)
					----AND (@CustomerGroup is NULL or customerID in (select Distinct customerID from CustomerMaster where CustomerGroup=@CustomerGroup)
					----AND (@MetalID is NULL or DispatchID in (select Distinct DispatchID from dispatchtrans inner join DispatchGradewise on dispatchtrans.dispatchtransid=DispatchGradewise.DispatchTransID and MetalID=@MetalID and dispatchtrans.IsDeleted=0)
     --                               AND MONTH(dispatchdate) > 3
     --                     GROUP BY  DATENAME(month, dispatchdate) ,
     --                               YEAR(dispatchdate) ,
     --                               MONTH(dispatchdate)
     --                     UNION
     --                     SELECT    DATENAME(month, dispatchdate) Month ,
     --                               ROUND(ISNULL(SUM(dbo.dispatchmaster.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
     --                               YEAR(dispatchdate) AS Year1 ,
     --                               2 AS SrNo ,
     --                               MONTH(dispatchdate) AS MonthNo
     --                     FROM      dbo.dispatchmaster
     --               --INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
     --                     WHERE     IsDeleted = 0
     --                               AND YEAR(dispatchdate) IN ( 2015, 2016, 2017 )
					----AND (@CustomerID is NULL or customerID=@CustomerID)
					----AND (@CastingID is NULL OR DispatchID in ( select Distinct DispatchID from dispatchtrans where castingid=@Castingid and IsDeleted=0)
					----AND (@CustomerGroup is NULL or customerID in (select Distinct customerID from CustomerMaster where CustomerGroup=@CustomerGroup)
					----AND (@MetalID is NULL or DispatchID in (select Distinct DispatchID from dispatchtrans inner join DispatchGradewise on dispatchtrans.dispatchtransid=DispatchGradewise.DispatchTransID and MetalID=@MetalID and dispatchtrans.IsDeleted=0)
     --                               AND MONTH(dispatchdate) < 4
     --                     GROUP BY  DATENAME(month, dispatchdate) ,
     --                               YEAR(dispatchdate) ,
     --                               MONTH(dispatchdate)
     --                   ) AS TempTable
     --           ORDER BY SrNo ,
     --                   MonthNo


--Filter take from upper commented query

                SET @StartYear = REPLACE(@StartYear, '''', '')
                SET @EndYear = REPLACE(@EndYear, '''', '')
                DECLARE @SetQuery VARCHAR(MAX) = 'SELECT   *
                INTO    [dbo].[temptable]
   FROM     ( SELECT    DATENAME(month, dispatchdate) Month ,
                        ROUND(ISNULL(SUM(dbo.dispatchmaster.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
                         CONVERT(VARCHAR(50),YEAR(dispatchdate)) + ''-'' + CONVERT(VARCHAR(50), YEAR(dispatchdate)+1) AS Year1 ,
                        1 AS SrNo ,
                        MONTH(dispatchdate) AS MonthNo
              FROM      dbo.dispatchmaster
              WHERE     IsDeleted = 0
                        AND YEAR(dispatchdate) IN (' + @StartYear + ' )
                        AND MONTH(dispatchdate) > 3
              GROUP BY  DATENAME(month, dispatchdate) ,
                        YEAR(dispatchdate) ,
                        MONTH(dispatchdate)
              UNION
              SELECT    DATENAME(month, dispatchdate) Month ,
                        ROUND(ISNULL(SUM(dbo.dispatchmaster.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
                         CONVERT(VARCHAR(50),YEAR(dispatchdate)-1) + ''-'' + CONVERT(VARCHAR(50), YEAR(dispatchdate)) AS Year1 ,
                        2 AS SrNo ,
                        MONTH(dispatchdate) AS MonthNo
              FROM      dbo.dispatchmaster
              WHERE     IsDeleted = 0
                        AND YEAR(dispatchdate) IN ( ' + @EndYear + ' )
                        AND MONTH(dispatchdate) < 4
              GROUP BY  DATENAME(month, dispatchdate) ,
                        YEAR(dispatchdate) ,
                        MONTH(dispatchdate)
            ) AS TempTable
   ORDER BY SrNo ,
            MonthNo'

                EXEC(@SetQuery)

                DECLARE @DynamicPivotQuery AS NVARCHAR(MAX) ,
                    @PivotColumnNames AS NVARCHAR(MAX) ,
                    @PivotSelectColumnNames AS NVARCHAR(MAX)
--Get distinct values of the PIVOT Column
                SELECT  @PivotColumnNames = ISNULL(@PivotColumnNames + ',', '') + QUOTENAME(Year1)
                FROM    ( SELECT DISTINCT
                                    Year1
                          FROM      [temptable]
                        ) AS Courses
        
--Get distinct values of the PIVOT Column with isnull
                SELECT  @PivotSelectColumnNames = ISNULL(@PivotSelectColumnNames + ',', '') + 'ISNULL(' + QUOTENAME(Year1) + ', 0) AS ' + QUOTENAME(Year1)
                FROM    ( SELECT DISTINCT
                                    Year1
                          FROM      [temptable]
                        ) AS Years
--Prepare the PIVOT query using the dynamic
                SET @DynamicPivotQuery = N'SELECT Month, ' + @PivotSelectColumnNames + '
FROM [temptable]

PIVOT(SUM(TotalAmount)
FOR Year1 IN (' + @PivotColumnNames + ')) AS PVTTable ORDER BY SrNo,MonthNo'
--Execute the Dynamic Pivot Query
                EXEC sp_executesql @DynamicPivotQuery  
                
                DROP TABLE [temptable]
                
            END
            
        IF ( @Parameter = 2 )
            BEGIN
       
     --           WITH    LEVEL1
     --                     AS ( SELECT   DATENAME(MONTH, '2012-' + CAST(number AS VARCHAR(2)) + '-1') MONTH ,
     --                                   number ,
     --                                   1 AS SrNo
     --                          FROM     master..spt_values
     --                          WHERE    Type = 'P'
     --                                   AND number BETWEEN 4 AND 12
     --                          UNION
     --                          SELECT   DATENAME(MONTH, '2012-' + CAST(number AS VARCHAR(2)) + '-1') MONTH ,
     --                                   number ,
     --                                   2 AS SrNo
     --                          FROM     master..spt_values
     --                          WHERE    Type = 'P'
     --                                   AND number BETWEEN 1 AND 3
     --                        ),
     --                   LEVEL2
     --                     AS ( SELECT   *
     --                          FROM     LEVEL1
     --                                   CROSS JOIN ( SELECT YEAR(dispatchdate) AS YEAR ,
     --                                                       ROW_NUMBER() OVER ( ORDER BY YEAR(dispatchdate) ) AS TYPE
     --                                                FROM   dbo.dispatchmaster
     --                                                       INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
     --                                                WHERE  YEAR(dispatchdate) IN ( 2015, 2016, 2017 )
     --                                                GROUP BY YEAR(dispatchdate)
     --                                              ) AS s
     --                        ),
     --                   LEVEL3
     --                     AS ( SELECT   SrNo ,
     --                                   number ,
     --                                   month ,
     --                                   Year ,
     --                                   TYPE ,
     --                                   ISNULL(TotalAmount, 0) AS TotalAmount
     --                          FROM     LEVEL2
     --                                   LEFT JOIN ( SELECT  DATENAME(month, dispatchdate) Months ,
     --                                                       ROUND(ISNULL(SUM(dbo.dispatchmaster.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
     --                                                       YEAR(dispatchdate) AS Year1
     --                                               FROM    dbo.dispatchmaster
     --                                                      -- INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
     --                                               WHERE   YEAR(dispatchdate) IN ( 2015, 2016, 2017 )
     --                                                       AND dbo.dispatchmaster.IsDeleted = 0
                                                            
     --                                                       --AND (@CustomerID is NULL or customerID=@CustomerID)
					----AND (@CastingID is NULL OR DispatchID in ( select Distinct DispatchID from dispatchtrans where castingid=@Castingid and IsDeleted=0)
					----AND (@CustomerGroup is NULL or customerID in (select Distinct customerID from CustomerMaster where CustomerGroup=@CustomerGroup)
					----AND (@MetalID is NULL or DispatchID in (select Distinct DispatchID from dispatchtrans inner join DispatchGradewise on dispatchtrans.dispatchtransid=DispatchGradewise.DispatchTransID and MetalID=@MetalID and dispatchtrans.IsDeleted=0)
     --                                               GROUP BY DATENAME(month, dispatchdate) ,
     --                                                       YEAR(dispatchdate)
     --                                             ) AS s ON LEVEL2.month = s.Months
     --                                                       AND LEVEL2.Year = Year1
     --                        )
     --               SELECT  month ,
     --                       Year ,
     --                       TYPE ,
     --                       ROUND(TotalAmount, 2) AS TotalAmount
     --               FROM    LEVEL3
     --               ORDER BY SrNo ,
     --                       number
    
    
                SET @StartYear = REPLACE(@StartYear, '''', '')
                SET @EndYear = REPLACE(@EndYear, '''', '')
                DECLARE @Query VARCHAR(MAX) = '
                
 SELECT month ,
        Year ,
        ROUND(ISNULL(TotalAmount,0), 2) AS TotalAmount
 FROM   ( SELECT    DATENAME(MONTH, CONVERT(VARCHAR(50), year(GetDate()))+''-'' + CAST(number AS VARCHAR(2)) + ''-1'') MONTH ,
                    number ,
                    1 AS SrNo
          FROM      master..spt_values
          WHERE     Type = ''P''
                    AND number BETWEEN 4 AND 12
          UNION
          SELECT    DATENAME(MONTH, CONVERT(VARCHAR(50), year(GetDate()))+''-'' + CAST(number AS VARCHAR(2)) + ''-1'') MONTH ,
                    number ,
                    2 AS SrNo
          FROM      master..spt_values
          WHERE     Type = ''P''
                    AND number BETWEEN 1 AND 3
        ) AS S
        CROSS JOIN ( SELECT  CONVERT(VARCHAR(50),YEAR(dispatchdate)-1) + ''-'' + CONVERT(VARCHAR(50), YEAR(dispatchdate)) AS Year
                     FROM   dbo.dispatchmaster
                           -- INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
                     WHERE  YEAR(dispatchdate) IN (' + @StartYear + ' )  AND MONTH(dispatchdate) <4
                     GROUP BY YEAR(dispatchdate)
                      UNION
                     SELECT 
                            CONVERT(VARCHAR(50),YEAR(dispatchdate)) + ''-''+ CONVERT(VARCHAR(50), YEAR(dispatchdate)+1) AS Year
                     FROM   dbo.dispatchmaster
                           -- INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
                     WHERE  YEAR(dispatchdate) IN (' + @EndYear + ' )    AND MONTH(dispatchdate) > 3
                     GROUP BY YEAR(dispatchdate)
                   ) AS ss
        LEFT JOIN ( SELECT  DATENAME(month, dispatchdate) Months ,
                            ROUND(ISNULL(SUM(dbo.dispatchmaster.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
                           CONVERT(VARCHAR(50), YEAR(dispatchdate)) + ''-'' + CONVERT(VARCHAR(50), YEAR(dispatchdate) + 1) AS Year1
                    FROM    dbo.dispatchmaster
                                                           -- INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
                    WHERE   YEAR(dispatchdate) IN (' + @StartYear
                    + ' )
                            AND dbo.dispatchmaster.IsDeleted = 0
                                                AND MONTH(dispatchdate) > 3              
                                                            --AND (@CustomerID is NULL or customerID=@CustomerID)
					--AND (@CastingID is NULL OR DispatchID in ( select Distinct DispatchID from dispatchtrans where castingid=@Castingid and IsDeleted=0)
					--AND (@CustomerGroup is NULL or customerID in (select Distinct customerID from CustomerMaster where CustomerGroup=@CustomerGroup)
					--AND (@MetalID is NULL or DispatchID in (select Distinct DispatchID from dispatchtrans inner join DispatchGradewise on dispatchtrans.dispatchtransid=DispatchGradewise.DispatchTransID and MetalID=@MetalID and dispatchtrans.IsDeleted=0)
                    GROUP BY DATENAME(month, dispatchdate) ,
                            YEAR(dispatchdate)
                            
                              UNION
                    SELECT  DATENAME(month, dispatchdate) Months ,
                            ROUND(ISNULL(SUM(dbo.dispatchmaster.TotalAmount), 0) / 100000, 2) AS TotalAmount ,
                            CONVERT(VARCHAR(50),YEAR(dispatchdate)-1) + ''-'' + CONVERT(VARCHAR(50), YEAR(dispatchdate)) AS Year1
                    FROM    dbo.dispatchmaster
                                                           -- INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
                    WHERE   YEAR(dispatchdate) IN ( ' + @EndYear + ' )
                            AND dbo.dispatchmaster.IsDeleted = 0
                            AND MONTH(dispatchdate) <4  
                             GROUP BY DATENAME(month, dispatchdate) ,
                            YEAR(dispatchdate)
                  ) AS sss ON s.month = sss.Months
                              AND ss.Year = sss.Year1
                               ORDER BY SrNo ,
                            number'
                              
                              
                EXEC(@Query)
            END
    END
GO
