USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PurchaseItemTypeCategoryGroupDetails]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PurchaseItemTypeCategoryGroupDetails]
    @Parameter INT = 0 ,
    @TypeName VARCHAR(100) = NULL ,
    @TypeCode VARCHAR(100) = NULL ,
    @TypeShortCode VARCHAR(50) = NULL ,
    @CategoryName VARCHAR(100) = NULL ,
    @CategoryCode VARCHAR(100) = NULL ,
    @CategoryShortCode VARCHAR(50) = NULL ,
    @GroupName VARCHAR(100) = NULL ,
    @GroupCode VARCHAR(100) = NULL ,
    @GroupShortCode VARCHAR(50) = NULL ,
    @CreatedBy INT = 0 ,
    @EntityId INT = 0 ,
    @DeletedBy INT = 0 ,
    @ModifiedBy INT = 0 ,
    @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL ,
    @PurchaseItemCategoryId UNIQUEIDENTIFIER = NULL ,
    @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL,
    @IsDeleted INT = 0 ,
    @IsPurchaseItem int = 1
     
AS
    IF @Parameter = 1 --Insert PurchaseItemType Details
        BEGIN
            INSERT  INTO dbo.PurchaseItemTypeMaster
                    ( PurchaseItemTypeId ,
                      TypeCode ,
                      TypeName ,
                      TypeShortCode ,
                      CreatedBy ,
                      CreatedOn ,
                      IsDeleted ,
                      EntityId,
                      [type]
                    )
            VALUES  ( NEWID() , -- PurchaseItemTypeId - uniqueidentifier
                      @TypeCode , -- TypeCode - varchar(100)
                      @TypeName , -- TypeName - varchar(100)
                      @TypeShortCode , -- TypeShortCode - varchar(50)
                      @CreatedBy , -- CreatedBy - int
                      GETDATE() , -- CreatedOn - datetime          
                      0 , -- IsDeleted - int
                      @EntityId , -- EntityId - int
                      @IsPurchaseItem
                    )
        END
        
    IF @Parameter = 2 --Insert PurchaseItemCategory Details
        BEGIN
            INSERT  INTO dbo.PurchaseItemCategoryMaster
                    ( PurchaseItemCategoryId ,
                      CategoryCode ,
                      CategoryName ,
                      CategoryShortCode ,
                      CreatedBy ,
                      CreatedOn ,
                      IsDeleted ,
                      EntityId,
                      PurchaseItemGroupID,
                      [type]
		            )
            VALUES  ( NEWID() , -- PurchaseItemCategoryId - uniqueidentifier
                      @CategoryCode , -- CategoryCode - varchar(100)
                      @CategoryName , -- CategoryName - varchar(100)
                      @CategoryShortCode , -- CategoryShortCode - varchar(50)
                      @CreatedBy , -- CreatedBy - int
                      GETDATE() , -- CreatedOn - datetime
                      0 , -- IsDeleted - int
                      @EntityId,  -- EntityId - int
                      @PurchaseItemGroupID,
                       @IsPurchaseItem
		            )
        END
        
    IF @Parameter = 3 --Insert PurchaseItemGroup Details
        BEGIN
            INSERT  INTO dbo.PurchaseItemGroupMaster
                    ( PurchaseItemGroupId ,
                      GroupCode ,
                      GroupName ,
                      GroupShortCode ,
                      CreatedBy ,
                      CreatedOn ,
                      IsDeleted ,
                      EntityId,
                      [type]
                    )
            VALUES  ( NEWID() , -- PurchaseItemGroupId - uniqueidentifier
                      @GroupCode , -- GroupCode - varchar(100)
                      @GroupName , -- GroupName - varchar(100)
                      @GroupShortCode , -- GroupShortCode - varchar(50)
                      @CreatedBy , -- CreatedBy - int
                      GETDATE() , -- CreatedOn - datetime
                      0 , -- IsDeleted - int
                      @EntityId  ,-- EntityId - int
                      @IsPurchaseItem
                    )
        END
        
    IF @Parameter = 4 -- Fetch PurchaseItemTypeMaster record
        BEGIN
            --SELECT  PurchaseItemTypeMaster.PurchaseItemTypeId ,
            --        PurchaseItemTypeMaster.TypeCode ,
            --        PurchaseItemTypeMaster.TypeName ,
            --        PurchaseItemTypeMaster.TypeShortCode
            --FROM    PurchaseItemTypeMaster
            --WHERE   PurchaseItemTypeMaster.IsDeleted = 0
            --AND PurchaseItemTypeMaster.EntityId = @EntityId
            --ORDER BY PurchaseItemTypeMaster.TypeName ASC
            
            SELECT  PurchaseItemTypeMaster.PurchaseItemTypeId ,
                    PurchaseItemTypeMaster.TypeCode ,
                    PurchaseItemTypeMaster.TypeName ,
                    PurchaseItemTypeMaster.TypeShortCode
            FROM    PurchaseItemTypeMaster
                    --inner join CustomerMaster ON CustomerMaster.CustomerTypeId = PurchaseItemTypeMaster.PurchaseItemTypeId
                    --inner join CustomerCompanyMapping ON CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
            WHERE   PurchaseItemTypeMaster.IsDeleted = 0
                and (@IsPurchaseItem = 1 or([type] = 1 or [type] = 3 ))
				and (@IsPurchaseItem = 0 or([type] = 2 or [type] = 3 ))
            --AND CustomerCompanyMapping.CompanyId = @EntityId
            ORDER BY PurchaseItemTypeMaster.TypeName ASC
               
        END
	
    IF @Parameter = 5 -- Fetch PurchaseItemCategoryMaster Record
        BEGIN
     --       SELECT  PICM.PurchaseItemCategoryId ,
     --               PICM.CategoryCode ,
     --               PICM.CategoryName ,
     --               PICM.CategoryShortCode,
     --               PICM.PurchaseItemGroupID,
     --               PIGM.GroupName
     --       FROM    dbo.PurchaseItemCategoryMaster as PICM
					--inner join PurchaseItemGroupMaster as PIGM On PIGM.PurchaseItemGroupId = PICM.PurchaseItemGroupID
     --       WHERE   PICM.IsDeleted = 0
     --              AND PICM.EntityId = @EntityId
     --              AND (@PurchaseItemGroupId is null or PICM.PurchaseItemGroupID=@PurchaseItemGroupId)
     --       ORDER BY PICM.CategoryName ASC
     
     SELECT  PICM.PurchaseItemCategoryId ,
                    PICM.CategoryCode ,
                    PICM.CategoryName ,
                    PICM.CategoryShortCode,
                    PICM.PurchaseItemGroupID,
                    PIGM.GroupName
            FROM    dbo.PurchaseItemCategoryMaster as PICM
                    inner join PurchaseItemGroupMaster as PIGM On PIGM.PurchaseItemGroupId = PICM.PurchaseItemGroupID
                    --inner join CustomerMaster ON CustomerMaster.CustomerCategoryId = PICM.PurchaseItemCategoryId
                    --inner join CustomerCompanyMapping ON CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
                     
            WHERE   PICM.IsDeleted = 0
                  -- AND CustomerCompanyMapping.CompanyId = @EntityId
                   AND (@PurchaseItemGroupId is null or PICM.PurchaseItemGroupID=@PurchaseItemGroupId)
                   AND (@IsPurchaseItem = 1 or(PICM.type = 1 or PICM.type = 3 ))
				   and (@IsPurchaseItem = 0 or(PICM.type = 2 or PICM.type = 3 ))
            ORDER BY PICM.CategoryName ASC
        END
        
    IF @Parameter = 6 -- Fetch PurchaseItemGroupMaster Record
        BEGIN
            --SELECT  PurchaseItemGroupMaster.PurchaseItemGroupId ,
            --        PurchaseItemGroupMaster.GroupCode ,
            --        PurchaseItemGroupMaster.GroupName ,
            --        PurchaseItemGroupMaster.GroupShortCode
            --FROM    dbo.PurchaseItemGroupMaster
            --WHERE   PurchaseItemGroupMaster.IsDeleted = 0
            --  AND PurchaseItemGroupMaster.EntityId = @EntityId
            --ORDER BY PurchaseItemGroupMaster.GroupName ASC
            
            SELECT  PurchaseItemGroupMaster.PurchaseItemGroupId ,
                    PurchaseItemGroupMaster.GroupCode ,
                    PurchaseItemGroupMaster.GroupName ,
                    PurchaseItemGroupMaster.GroupShortCode
            FROM    dbo.PurchaseItemGroupMaster
            --inner join CustomerMaster ON CustomerMaster.CustomerGroupId = PurchaseItemGroupMaster.PurchaseItemGroupId
            --inner join CustomerCompanyMapping ON CustomerCompanyMapping.CustomerId = CustomerMaster.CustomerId
            WHERE   PurchaseItemGroupMaster.IsDeleted = 0
				and (@IsPurchaseItem = 1 or([type] = 1 or [type] = 3 ))
				and (@IsPurchaseItem = 0 or([type] = 2 or [type] = 3 ))
              --AND CustomerCompanyMapping.CompanyId = @EntityId
            ORDER BY PurchaseItemGroupMaster.GroupName ASC
        END
        
    IF @Parameter = 7
        BEGIN
            UPDATE  dbo.PurchaseItemTypeMaster -- Delete PurchaseItemTypeMaster
            SET     PurchaseItemTypeMaster.IsDeleted = 1 ,
                    PurchaseItemTypeMaster.deletedBy = @DeletedBy ,
                    PurchaseItemTypeMaster.DeletedOn = GETDATE()
            WHERE   PurchaseItemTypeMaster.PurchaseItemTypeId = @PurchaseItemTypeId
        END
            
    IF @Parameter = 8
        BEGIN
            UPDATE  dbo.PurchaseItemCategoryMaster -- Delete PurchaseItemCategory
            SET     PurchaseItemCategoryMaster.IsDeleted = 1 ,
                    PurchaseItemCategoryMaster.deletedBy = @DeletedBy ,
                    PurchaseItemCategoryMaster.DeletedOn = GETDATE()
            WHERE   PurchaseItemCategoryMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId
        END
            
    IF @Parameter = 9
        BEGIN
            UPDATE  dbo.PurchaseItemGroupMaster -- Delete PurchaseItemGroupMaster
            SET     PurchaseItemGroupMaster.IsDeleted = 1 ,
                    PurchaseItemGroupMaster.deletedBy = @DeletedBy ,
                    PurchaseItemGroupMaster.DeletedOn = GETDATE()
            WHERE   PurchaseItemGroupMaster.PurchaseItemGroupId = @PurchaseItemGroupId
        END
        
    IF @Parameter = 10 -- Update PurchaseItemTypeMaster
        BEGIN
            UPDATE  PurchaseItemTypeMaster
            SET     PurchaseItemTypeMaster.TypeCode = @TypeCode ,
                    PurchaseItemTypeMaster.TypeName = @TypeName ,
                    PurchaseItemTypeMaster.TypeShortCode = @TypeShortCode ,
                    PurchaseItemTypeMaster.ModifiedBy = @ModifiedBy ,
                    PurchaseItemTypeMaster.ModifiedOn = GETDATE()
            WHERE   PurchaseItemTypeMaster.PurchaseItemTypeId = @PurchaseItemTypeId
        END
        
    IF @Parameter = 11 -- Update PurchaseItemCategory
        BEGIN
            UPDATE  PurchaseItemCategoryMaster
            SET     PurchaseItemCategoryMaster.CategoryCode = @CategoryCode ,
                    PurchaseItemCategoryMaster.CategoryName = @CategoryName ,
                    PurchaseItemCategoryMaster.CategoryShortCode = @CategoryShortCode ,
                    PurchaseItemCategoryMaster.ModifiedBy = @ModifiedBy ,
                    PurchaseItemCategoryMaster.ModifiedOn = GETDATE(),
                    PurchaseItemGroupID = @PurchaseItemGroupID
            WHERE   PurchaseItemCategoryMaster.PurchaseItemCategoryId = @PurchaseItemCategoryId
        END  
        
    IF @Parameter = 12 -- Update PurchaseItemGroupMaster
        BEGIN
            UPDATE  PurchaseItemGroupMaster
            SET     PurchaseItemGroupMaster.GroupCode = @GroupCode ,
                    PurchaseItemGroupMaster.GroupName = @GroupName ,
                    PurchaseItemGroupMaster.GroupShortCode = @GroupShortCode ,
                    PurchaseItemGroupMaster.ModifiedBy = @ModifiedBy ,
                    PurchaseItemGroupMaster.ModifiedOn = GETDATE()
            WHERE   PurchaseItemGroupMaster.PurchaseItemGroupId = @PurchaseItemGroupId
        END 
        
    IF @Parameter = 13 -- Fetch TypeCode
        BEGIN
            SELECT  RIGHT('00' + CONVERT(VARCHAR(100), ISNULL(MAX(TypeCode), 0)
                          + 1), 3) AS TypeCode
            FROM    dbo.PurchaseItemTypeMaster
            WHERE   IsDeleted = 0
                    AND EntityId = @EntityId
        END  
    IF @Parameter = 14 -- Fetch CategoryCode
        BEGIN
            SELECT  RIGHT('00' + CONVERT(VARCHAR(100), ISNULL(MAX(CategoryCode),
                                                              0) + 1), 3) AS CategoryCode
            FROM    dbo.PurchaseItemCategoryMaster
            WHERE   IsDeleted = 0
                    AND EntityId = @EntityId
        END  
    IF @Parameter = 15 -- Fetch GroupCode
        BEGIN
            SELECT  RIGHT('00' + CONVERT(VARCHAR(100), ISNULL(MAX(GroupCode), 0) + 1), 3) AS GroupCode
            FROM   PurchaseItemGroupMaster 
            WHERE   IsDeleted = 0 AND EntityId = @EntityId
                    
              
        END   
        
    IF @Parameter = 16 -- Fetch ItemTypeMaster
        BEGIN
            SELECT  PurchaseItemTypeMaster.PurchaseItemTypeId ,
                    PurchaseItemTypeMaster.TypeCode ,
                    PurchaseItemTypeMaster.TypeName ,
                    PurchaseItemTypeMaster.TypeShortCode,
                    PurchaseItemTypeMaster.IsDeleted
            FROM   PurchaseItemTypeMaster 
            where (@IsPurchaseItem = 1 or([type] = 1 or [type] = 3 ))
				and (@IsPurchaseItem = 0 or([type] = 2 or [type] = 3 ))
            --WHERE   EntityId = @EntityId
                    
              
      END  
      
     IF @Parameter = 17 -- Fetch GroupCode
        BEGIN                           
           SELECT  PurchaseItemGroupMaster.PurchaseItemGroupId ,
                    PurchaseItemGroupMaster.GroupCode ,
                    PurchaseItemGroupMaster.GroupName ,
                    PurchaseItemGroupMaster.GroupShortCode,
                    PurchaseItemGroupMaster.IsDeleted
            FROM    dbo.PurchaseItemGroupMaster
            --WHERE   PurchaseItemGroupMaster.EntityId = @EntityId
              where (@IsPurchaseItem = 1 or([type] = 1 or [type] = 3 ))
				and (@IsPurchaseItem = 0 or([type] = 2 or [type] = 3 ))
            ORDER BY PurchaseItemGroupMaster.GroupName ASC     
              
      END  
      
      IF @Parameter = 18 -- Fetch PurchaseItemCategoryMaster Record
        BEGIN
            SELECT  PICM.PurchaseItemCategoryId ,
                    PICM.CategoryCode ,
                    PICM.CategoryName ,
                    PICM.CategoryShortCode,
                    PICM.PurchaseItemGroupID,
                    PIGM.GroupName,
                    PICM.IsDeleted
            FROM    dbo.PurchaseItemCategoryMaster as PICM
					left join PurchaseItemGroupMaster as PIGM On PIGM.PurchaseItemGroupId = PICM.PurchaseItemGroupID
            --WHERE   PICM.EntityId = @EntityId            
               where (@IsPurchaseItem = 1 or(PICM.type = 1 or PICM.type = 3 ))
				and (@IsPurchaseItem = 0 or(PICM.type = 2 or PICM.type = 3 ))       
            ORDER BY PICM.CategoryName ASC
        END
        
        IF @Parameter = 19 -- Update ItemTypeMaster
        BEGIN
			update PurchaseItemTypeMaster set IsDeleted = @IsDeleted where PurchaseItemTypeId = @PurchaseItemTypeId 
		END  
		
		
		IF @Parameter = 20 -- Update Group IsDelete
        BEGIN
			update PurchaseItemGroupMaster set IsDeleted = @IsDeleted where PurchaseItemGroupId = @PurchaseItemGroupId
		END
		
		IF @Parameter = 21 -- Update Sub Group
        BEGIN
			update PurchaseItemCategoryMaster set IsDeleted = @IsDeleted where PurchaseItemCategoryId = @PurchaseItemCategoryId 
		END
GO
