USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_LeaveDetails]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_LeaveDetails]
    @LeaveId UNIQUEIDENTIFIER = NULL ,    
    @DeletedBY INT = 0,
    @ShortCode Varchar(Max) = null,
    @LeaveName Varchar(Max) = null,	
	@EntityId int = 0,	
	@CreatedBy INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL , 
    @DeletedOn datetime= NULL,
    @IsDeleted Bit = 0 ,
    @Parameter INT = 0   
     
    
   
AS
   BEGIN  
   
        IF ( @Parameter = 1 )	-- Save Data in LeaveTypeMaster
            BEGIN
            BEGIN TRANSACTION
            BEGIN TRY
            SET @LeaveId = NEWID()	
             INSERT INTO [LeaveTypeMaster]
						   ([LeaveId]
						   ,[ShortCode]
						   ,[LeaveName]
						 --  ,[EntityId]
						   ,[CreatedBy]
						   ,[CreatedOn]
						    )
					 VALUES
						   (@LeaveId
						   ,@ShortCode
						   ,@LeaveName
						  -- ,@EntityId
						   ,@CreatedBy
						   ,@CreatedOn
						    )
				
               END TRY 
				 BEGIN Catch
						IF @@ERROR <> 0
						BEGIN
						 ROLLBACK TRANSACTION
			 				 return -1;
						END	
				END Catch
				  COMMIT TRANSACTION                
						RETURN 1 ;
            END     
            END    
              
      If @Parameter = 2 -- fetch Deduction Data for combo and grid
	Begin	
		SELECT LeaveId,			
			  LeaveName,
			  ShortCode
		FROM LeaveTypeMaster	
	
		where 
		(@LeaveId is null or LeaveId= @LeaveId)
		and (IsDeleted = 0)
		--and   EntityId = @EntityId  
		ORDER BY LeaveName
	
      END
      
           IF ( @Parameter = 3 )	-- Update Data in LeaveTypeMaster
            BEGIN
            BEGIN TRANSACTION
            BEGIN TRY	
              UPDATE [LeaveTypeMaster]
				   SET 
					  [ShortCode] = @ShortCode
					  ,[LeaveName] = @LeaveName		 
					  ,[ModifiedBy] = @ModifiedBy
					  ,[ModifiedOn] = @ModifiedOn					  					 
				 WHERE [LeaveId] = @LeaveId
				 --  and [EntityId] = @EntityId
				       

			--	END  
               END TRY 
				 BEGIN Catch
						IF @@ERROR <> 0
						BEGIN
						 ROLLBACK TRANSACTION
			 				 return -1;
						END	
				END Catch
				  COMMIT TRANSACTION                
						RETURN 1 ;
            END    
            
          If @Parameter = 4	--Delete from LeaveTypeMaster          
     
        BEGIN
                UPDATE  [LeaveTypeMaster]              
                SET     IsDeleted = @Isdeleted ,              
                        DeletedBy = @DeletedBy ,              
                        DeletedOn = @DeletedOn              
                 WHERE  [LeaveId] = @LeaveId
				 --  and  [EntityId] = @EntityId  
        END   
         
         
            IF @Parameter = 5 -- Leave Name must be unique 
        BEGIN
            IF EXISTS ( SELECT  LeaveName
                        FROM    LeaveTypeMaster
                             
                        WHERE   
                        LTRIM(RTRIM(UPPER(LeaveName))) = LTRIM(RTRIM(UPPER(@LeaveName)))
                      
						 AND ( @LeaveId IS NULL
                                  OR LeaveTypeMaster.LeaveId <> @LeaveId
                                )
                       AND IsDeleted = 0                                
                    --   AND LeaveTypeMaster.EntityId = @EntityId
                                 )
                      
                                
                RETURN 1
            ELSE
                RETURN 0
        END
            
            
              IF @Parameter = 6 -- Short Code must be unique 
        BEGIN
            IF EXISTS ( SELECT  ShortCode
                        FROM    LeaveTypeMaster
                             
                        WHERE   
                        LTRIM(RTRIM(UPPER(ShortCode))) = LTRIM(RTRIM(UPPER(@ShortCode)))
                      
						 AND ( @LeaveId IS NULL
                                  OR LeaveTypeMaster.LeaveId <> @LeaveId
                                )
                       AND IsDeleted = 0                                
                    --   AND LeaveTypeMaster.EntityId = @EntityId
                                 )
                      
                                
                RETURN 1
            ELSE
                RETURN 0
        END

		 IF ( @Parameter = 7 )	-- Leave Mapped not Deleted 
	BEGIN 
		select	isnull(1,0) as LeaveTypeId
		from	EmployeeLeaveAllocation
				inner Join EmployeeDetails on EmployeeDetails.EmployeeId = EmployeeLeaveAllocation.EmployeeId
		where	LeaveTypeId = @LeaveId and EmployeeDetails.IsDelete = 0 and EmployeeDetails.EntityId = @EntityId
	END
     
	
       

  



     

     


GO
