USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Template_Master]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Template_Master]
    @parameter INT = 0 ,
    @TemplateId UNIQUEIDENTIFIER = NULL ,
    @TemplateName VARCHAR(100) = NULL ,
    @Terms NVARCHAR(MAX) = NULL ,
    @CreatedBy INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL ,
    @IsDeleted INT = 0,
    @EntityId INT = 0
AS
    IF @parameter = 1			-- Insert Template Master
        BEGIN

            INSERT  INTO TemplateMaster
                    ( TemplateName ,
                      Terms ,
                      IsDeleted ,
                      CreatedBy ,
                      CreatedOn ,
                      CompanyId
                    )
            VALUES  ( @TemplateName ,
                      @Terms ,
                      @IsDeleted ,
                      @CreatedBy ,
                      @CreatedOn ,
                      @EntityId
                    )
        END

    IF @parameter = 2			-- Fetch Template Master Details
        BEGIN

            SELECT  TemplateName ,
                    Terms ,
                    TemplateId
            FROM    TemplateMaster
            WHERE   IsDeleted = 0 
					AND CompanyId = @EntityId

        END



    IF @parameter = 3			-- Update Template Master
        BEGIN

            UPDATE  TemplateMaster
            SET     TemplateName = @TemplateName ,
                    Terms = @Terms ,
                    ModifiedBy = @ModifiedBy ,
                    ModifiedOn = @ModifiedOn
            WHERE   TemplateId = @TemplateId
        END

    IF @parameter = 4			-- Delete from Template Master
        BEGIN

            UPDATE  TemplateMaster
            SET     IsDeleted = '1'
            WHERE   ( TemplateId = @TemplateId )

        END


    IF @parameter = 5			-- Fetch Template Master Details where TemplateId is Known
        BEGIN

            SELECT  TemplateName ,
                    Terms ,
                    TemplateId
            FROM    TemplateMaster
            WHERE   ( IsDeleted = 0 )
                    AND ( @TemplateId IS NULL OR TemplateId = @TemplateId )
                    AND CompanyId = @EntityId

        END
GO
