USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PlanningVsActual]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE PROCEDURE [dbo].[PlanningVsActual]
	@PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityId INT = 0  ,        
    @Active BIT = 0 ,
    @StartDate DATETIME = NULL ,        
    @EndDate DATETIME = NULL ,
    @CastingId UNIQUEIDENTIFIER = NULL ,        
    @CastingName VARCHAR(100) = NULL ,        
    @GradeId INT = 0 
  
AS
BEGIN
      
    declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
    
	DECLARE @CustPatMap TABLE(PatternId UNIQUEIDENTIFIER, CountOfPat INT)
	INSERT INTO @CustPatMap
		SELECT	CustomerPatternMapping.PatternId, COUNT(PatternId) AS CountOfPat
		FROM	CustomerPatternMapping
				INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId
		WHERE	dbo.CustomerMaster.IsDeleted = 0
		GROUP BY CustomerPatternMapping.PatternId

	SELECT	ROW_NUMBER() OVER (ORDER BY PlanMstTbl.Plandate ASC) AS SrNo,
			CONVERT(varchar(11), Plandate, 106) AS Plandate, ISNULL(SUM(PlanQty), 0) AS PlanQty,
			CastingCode, CastingName, MetalName, ISNULL(ProductionTable.productionqty, 0) AS ActualQty,
			MetalType, NameOfOrganization,
			(	
				SELECT COUNT(PatternId) FROM @CustPatMap AS CustPatMap WHERE CustPatMap.PatternId = dbo.CastingMaster.Dieid
			) AS C1,
			(CASE	WHEN ((SELECT COUNT(PatternId) FROM @CustPatMap AS CustPatMap WHERE CustPatMap.PatternId = dbo.CastingMaster.Dieid) < 3) 
					THEN STUFF((SELECT ',' + CustomerName 
								FROM (
									SELECT	CASE WHEN @Active = 1 THEN CustomerCode ELSE CustomerName END CustomerName
									FROM	dbo.CustomerPatternMapping
											INNER JOIN dbo.CustomerMaster ON dbo.CustomerMaster.CustomerId = dbo.CustomerPatternMapping.CustomerId
									WHERE	dbo.CastingMaster.Dieid = CustomerPatternMapping.PatternId
											AND dbo.CustomerMaster.IsDeleted = 0
								) AS Temp
							FOR xml PATH ('')), 1, 1, '')
					ELSE 'Multiple Customer'
			END ) AS CustomerName
	FROM	(
		SELECT	CastingId, GradeId, Plandate, PlanQty, NameOfOrganization
		FROM	PlanningMaster
				LEFT JOIN dbo.CompanyMaster ON dbo.CompanyMaster.EntityId = PlanningMaster.EntityId
		WHERE	PlanningMaster.IsDeleted = 0 AND PlanningMaster.EntityId = @EntityId
				AND (@CastingId IS NULL OR PlanningMaster.CastingId = @CastingID)
				AND (@GradeId = 0 OR PlanningMaster.GradeId = @GradeId)
				AND (@StartDate IS NULL OR @EndDate IS NULL
					OR PlanningMaster.Plandate BETWEEN @StartDate AND @EndDate
				)
				AND (@PlantIdString IS NULL OR @PlantIdString = ''
					OR PlanningMaster.CastingId IN (SELECT CastingId FROM dbo.PlantCastingMapping WHERE PlantId IN (SELECT Item FROM @Plant)
					)
				)
	) AS PlanMstTbl
			INNER JOIN CastingMaster ON dbo.CastingMaster.CastingId = PlanMstTbl.CastingId
			INNER JOIN dbo.MetalMaster ON dbo.MetalMaster.MetalId = PlanMstTbl.GradeId
			LEFT JOIN (
					SELECT	SUM(productionqty) AS productionqty, castingid, ProductionDate
					FROM	dbo.knockout
							INNER JOIN dbo.ProductionBatch ON dbo.ProductionBatch.batchID = dbo.knockout.batchid
					WHERE	ProductionDate BETWEEN @StartDate AND @EndDate
							AND ProductionBatch.IsDeleted = 0
							AND knockout.IsDeleted = 0
					GROUP BY castingid, ProductionDate
			) AS ProductionTable ON ProductionTable.castingid = PlanMstTbl.CastingId
					AND ProductionTable.ProductionDate = PlanMstTbl.Plandate
	WHERE	(@CastingName IS NULL OR CastingMaster.CastingName = @CastingName)
			AND CastingMaster.EntityID = @EntityId
		GROUP BY Plandate, CastingCode, CastingName, MetalName, MetalType, NameOfOrganization, 
			CastingMaster.Dieid, ISNULL(ProductionTable.productionqty, 0)
		 
END

GO
