USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CostCenterMasterNew_CheckShortCode]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CostCenterMasterNew_CheckShortCode]
@CostCenterId int = 0,
@ShortCode nvarchar(100) = NULL,
@CostCenter nvarchar(500) = NULL,
@Parameter int = 0,
@EntityId int =0
AS
BEGIN
	
	IF @Parameter = 1
	BEGIN
	SELECT  ShortCode  
                FROM    CostCenterMasterNew  
                WHERE   ( @ShortCode IS NULL  
                          OR LTRIM(RTRIM(UPPER(ShortCode))) = LTRIM(RTRIM(UPPER(@ShortCode))) 
                        )  
                        AND ( @CostCenterId = 0 
                              OR CostCenterId <> @CostCenterId  
                            ) 
                            AND
                            ISNULL(IsDeleted,0) = 0
                            
     END
      
    IF @Parameter = 2
	BEGIN
	SELECT  CostCenter  
                FROM    CostCenterMasterNew  
                WHERE   ( @CostCenter IS NULL  
                          OR LTRIM(RTRIM(UPPER(CostCenter))) = LTRIM(RTRIM(UPPER(@CostCenter))) 
                        )  
                        AND ( @CostCenterId = 0 
                              OR CostCenterId <> @CostCenterId  
                            ) 
                            AND
                            ISNULL(IsDeleted,0) = 0
                              
      END
                            
END

GO
