USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportGetPODetailsItemWise]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ReportGetPODetailsItemWise]
(
    @OrderDateFrom DATETIME,
    @OrderDateTo DATETIME,
    @CustomerId UNIQUEIDENTIFIER = NULL,
    @ItemId UNIQUEIDENTIFIER = NULL,
    @ItemName VARCHAR(50) = NULL,
    @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL,
    @PurchaseItemSubGroupId UNIQUEIDENTIFIER = NULL,
    @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL,
    @PurchaseOrderId UNIQUEIDENTIFIER = NULL,
    @CastingId UNIQUEIDENTIFIER = NULL,
    @SeriesId INT = 0,
    @EntityID int = 0,
    @PlantIdString VARCHAR(MAX) = NULL,
    @CastingName VARCHAR(50) = NULL,
    @POStatus varchar(30) = 'All',
	@IsInward VARCHAR(50) = null
)
AS
BEGIN

    SELECT ROW_NUMBER() OVER (ORDER BY ItemName ASC) AS SrNo,
           *
    from
    (
		select	PurchaseItemId, ItemCode, ItemName, UOM,
				SUM(RequiredQty) as OrderQuantity,
				SUM(ISNULL(AcceptedQty, 0)) as ReceivedQty,
				(CASE WHEN (sum(RequiredQty) - sum(ISNULL(AcceptedQty, 0))) < 0 THEN 0
                    ELSE sum(RequiredQty) - sum(ISNULL(AcceptedQty, 0)) END
				) AS PendingQty,
				SUM(RequiredQty * Rates) as Amount,
				isNull(image_path.FilePath, '') as FilePath
        from	[Data:PODetails] AS PODetails
				left join (select * from ImagePath where SrNo = 1) as image_path on image_path.Id = PurchaseItemId
        WHERE	( @IsInward IS NULL  
                    OR PODetails.IsDelivered = 0  
                ) And 
                ( @IsInward IS NULL   
				OR PODetails.IsShortclose = 0       
				)
				AND (CAST(OrderDate AS DATE) BETWEEN CAST(@OrderDateFrom AS DATE) AND CAST(@OrderDateTo AS DATE) )
				--AND RequiredQty - AccesptedQty > 0  
				AND ( @CustomerId IS NULL OR CustomerID = @CustomerId )
				AND ( @ItemId IS NULL OR PurchaseItemId = @ItemId )
				AND ( @ItemName IS NULL OR ItemName = @ItemName )
				AND ( @PurchaseOrderId IS NULL OR PurchaseOrderId = @PurchaseOrderId )
				AND ( @PurchaseItemGroupId IS NULL OR PurchaseItemGroupId = @PurchaseItemGroupId )
				AND ( @PurchaseItemSubGroupId IS NULL OR purchaseItemSubGroupId = @PurchaseItemSubGroupId )
				AND ( @PurchaseItemTypeId IS NULL OR PurchaseItemtypeId = @PurchaseItemTypeId )
				AND ( @CastingId IS NULL OR 0 = 1)
				AND ( @CastingName IS NULL OR 0 = 1 )
				AND ( @SeriesId = 0 OR SeriesId = @SeriesId )
				----------------------  
				AND ( ISNULL(@PlantIdString, '') = ''
					OR POPlantId IN ( SELECT * FROM dbo.SplitString(@PlantIdString, ',') )
				)
				AND EntityID = @EntityId
		Group by PurchaseItemId, ItemCode, ItemName, UOM, image_path.FilePath
	) as data
    --WHERE (@POStatus = 'All' OR data.POStatus = @POStatus)

    Order by ItemName
END
GO
