USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_ConsumptionBatchDetail]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Fetch_ConsumptionBatchDetail] 
	@ConsumptionID INT = 0,
	@ReferenceID UNIQUEIDENTIFIER = Null 
  , @PlantId INT = 0
  , @PurchaseItemId uniqueidentifier = null
  , @EntityId int = 0
AS
    BEGIN
        SET NOCOUNT ON;
        
            Declare @Method int = 0
             Select @Method = InvMethodItem from configuration where EntityID = @EntityId

        SELECT  isnull(ConsumptionBatchId ,CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER)) as ConsumptionBatchId,
                FloorBatchWiseStock.RawBatchId ,
                cast(isnull(Quantity ,0) as float) AS ConsumptionQty ,
                isnull(dbo.ConsumptionBatchWise.ConsumptionID ,0) as ConsumptionID ,
                dbo.RawInwBatchWiseStock.RawBatchId ,
                RawInwBatchWiseStock.RawBatchNo ,
                Stock ,
                cast(isnull(Quantity,0) as float) + Stock AS BatchStock ,
                Cast(0 as float) AS TransactionQty ,
                cast(isnull(Quantity,0)as float) AS ActualQty ,
                isnull(ConsumptionBatchWise.ReferenceID, cast(cast(0 as binary ) as uniqueidentifier) ) as ReferenceID,
                dbo.RawInwBatchWiseStock.PurchaseItemId
        FROM    dbo.FloorBatchWiseStock
                INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.FloorBatchWiseStock.RawBatchId
                Left Join ConsumptionBatchWise On ConsumptionBatchWise.RawBatchId = FloorBatchWiseStock.RawBatchId
					and ConsumptionBatchWise.Quantity > 0
					and (@ReferenceID is not null Or @ConsumptionID !=0)
					--and ( (@ConsumptionID = 0 Or @ReferenceID is not null and ConsumptionBatchWise.ReferenceID = @ReferenceID ) 
					--Or (@ReferenceID is null Or @ConsumptionID <> 0 and ConsumptionBatchWise.ConsumptionID = @ConsumptionID))
					and (@ReferenceID Is null Or ConsumptionBatchWise.ReferenceID = @ReferenceID)
					and (( @ConsumptionID = 0 Or (ConsumptionBatchWise.ConsumptionID = @ConsumptionID And ConsumptionBatchWise.ConsumptionID != 0)))
					
					Left Join (select 
											ROW_NUMBER() over(Partition by rawBatchNo Order by InwardDate desc) as rw, 
											RawMaterialInward.InwardDate as InwDate,
											RawMaterialInwardDetail.RawBatchNo
									from	RawMaterialInwardDetail 
											INNER JOIN RawMaterialInward ON RawMaterialInward.InwardId = RawMaterialInwardDetail.InwardId
									WHERE	PurchaseItemId = @PurchaseItemId 
											and RawMaterialInward.IsDeleted = 0 
											and RawMaterialInwardDetail.IsDeleted = 0 
											and RawMaterialInward.PlantId = @PlantId 
											and RawMaterialInward.EntityId = @EntityId
											and RawMaterialInward.IsTransfer = 0
									--order by InwardDate desc
									Union
									select	ROW_NUMBER() over(Partition by rawBatchNo Order by ProductionDate desc) as rw, 
											ProductionDate as InwDate,
											RawBatchNo 
									from	SandProduction 
									where	SandProduction.PurchaseItemId = @PurchaseItemId and SandProduction.IsDeleted = 0 
											and SandProduction.PlantId = @PlantId AND SandProduction.EntityID = @EntityId  
                        ) 
                        as TabInw ON TabInw.RawBatchNo = RawInwBatchWiseStock.RawBatchNo and rw = 1
        WHERE   
				( (@PurchaseItemId is not null and FloorBatchWiseStock.Stock > 0) 
					Or (@ConsumptionID = 0 
						OR (dbo.ConsumptionBatchWise.ConsumptionID = @ConsumptionID
							--Or (FloorBatchWiseStock.Stock > 0 and FloorBatchWiseStock.PurchaseItemId 
							--		In (select fbw.PurchaseItemId from FloorBatchWiseStock fbw 
							--				Inner Join ConsumptionBatchWise cbw on cbw.RawBatchId = fbw.RawBatchId Where ConsumptionID  = @ConsumptionID)
							--		)
							)
						)
				)
                AND
                 ((@PurchaseItemId is not null and FloorBatchWiseStock.Stock > 0) 
					Or ( @ReferenceID IS NULL 
						OR ( ConsumptionBatchWise.ReferenceID = @ReferenceID 
							--Or (FloorBatchWiseStock.Stock > 0 and FloorBatchWiseStock.PurchaseItemId 
							--	In (select fbw.PurchaseItemId from FloorBatchWiseStock fbw 
							--			Inner Join ConsumptionBatchWise cbw on cbw.RawBatchId = fbw.RawBatchId Where ReferenceID = @ReferenceID)
							--	)
							)
						)
					)	
				AND (@PlantId = 0 OR dbo.FloorBatchWiseStock.PlantId = @PlantId)
				And (@PurchaseItemId is null Or FloorBatchWiseStock.PurchaseItemId = @PurchaseItemId )
				ORDER BY --added by yashvant
										
				                    CASE WHEN (@Method = 0 OR @Method = 2)  THEN TabInw.InwDate END DESC,
				                     CASE WHEN (@Method = 0 OR @Method = 2)  THEN RawInwBatchWiseStock.RawBatchId END DESC,
				                     CASE WHEN @Method = 1 THEN TabInw.InwDate END ASC,
				                     CASE WHEN @Method = 1 THEN RawInwBatchWiseStock.RawBatchId END ASC
		  --ORDER BY FloorBatchWiseStock.RawBatchId ASC		
		--Order by ReferenceID desc ,dbo.ConsumptionBatchWise.RawBatchId , dbo.RawInwBatchWiseStock.PurchaseItemId
    END
GO
