USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WaxSetupProductionDetails]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Birva>
-- Create date: <14 Aug 2017>
-- Description:	<Wax Setup Production detail insert update fetch>
-- Process -- 0- Pattern Production, 1- Assembly , 2- Coating , 3- De waxing , 4-Setup
-- PatternType -- 0-Pattern , 1-Set up , 2-Tree , 3-Cavity 
-- =============================================

-- =============================================
CREATE PROCEDURE [dbo].[WaxSetupProductionDetails]
	-- Add the parameters for the stored procedure here
    @Parameter INT = 0 ,
	 --@WaxPatternBatchID UNIQUEIDENTIFIER = NULL,
    @WaxSetupID UNIQUEIDENTIFIER = NULL ,
    @EntryNo VARCHAR(15) = NULL ,
    @BatchNo VARCHAR(10) = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @ProductionDate DATE = NULL ,
    @OperatorID INT = 0 ,
    @MachineID UNIQUEIDENTIFIER = NULL ,
    @Shift VARCHAR(15) = NULL ,
    @StartTime TIME = NULL ,
    @EndTime TIME = NULL ,
    @TotalWaxUsed FLOAT = 0 ,
    @CreatedBy INT = 0 ,
    @ModifiedBy INT = 0 ,
    @EntityID INT = 0 ,
    @WaxPatternProductionXML XML = NULL ,
    @WaxConsumptionXML XML = NULL ,
    @WaxSetupRejectionXML XML = NULL ,
    @ConsumptionMethod BIT = NULL ,
    @IsInwardBatchWise BIT = NULL ,
    @BatchDetails XML = NULL ,
    @InitialLoad INT = 0 ,
    @PageSize INT = 0 ,
    @PageNumber INT = 0 ,
    @StartDate DATE = NULL ,
    @Enddate DATE = NULL ,
    @DeletedBy INT = 0 ,
    @TotalRecords INT = 0 ,
    @ProductionQty INT = 0 ,
    @OKQty INT = 0 ,
    @RejQty INT = 0 ,
    @wtperPcSetup FLOAT = 0 ,
    @TotalWeightSetup FLOAT = 0 ,
    @WaxProductionID UNIQUEIDENTIFIER = NULL ,
    @UpdatedQty FLOAT = 0 ,
    @Consumption FLOAT = 0 ,
    @JobCardID UNIQUEIDENTIFIER = NULL ,
    @CastingName VARCHAR(250) = NULL ,
    @IncludeZero BIT = 'true' ,
    @SetupId UNIQUEIDENTIFIER = NULL ,
    @PlantIdString VARCHAR(MAX) = NULL
    , @PlantId INT = 0
AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End	
		DECLARE @result TABLE ( returnvalue INT );
        DECLARE @PurchaseItemID UNIQUEIDENTIFIER ,
            @ConsumedQty FLOAT ,
            @IsDeleted INT ,
            @ReasonID INT ,
            @ReasonRejQty INT;
            
        SET NOCOUNT ON;

    -- Insert statements for procedure here
        IF @Parameter = 1 -- Insert Data for Wax pattern production
            BEGIN
                BEGIN TRANSACTION
                BEGIN TRY
                SET @WaxSetupID = NEWID()
                
                INSERT  INTO dbo.WaxSetupProduction
                        ( WaxSetupID ,
                          EntryNo ,
                          ProductionDate ,
                          OperatorID ,
                          MachineID ,
                          Shift ,
                          StartTime ,
                          EndTime ,
                          CastingID ,
                          ProductionQty ,
                          OKQty ,
                          RejQty ,
                          WtPerPcSetup ,
                          TotalWeightSetup ,
                          CreatedBy ,
                          CreatedOn ,
                          EntityID ,
                          IsDeleted ,
                          JobCardID ,
                          SetupId ,
                          PlantId
                        )
                VALUES  ( @WaxSetupID , -- WaxSetupID - uniqueidentifier
                          @EntryNo , -- EntryNo - varchar(20)
                          @ProductionDate ,
                          @OperatorID ,
                          @MachineID ,
                          @Shift ,
                          @StartTime ,
                          @EndTime ,
                          @CastingID ,
                          @ProductionQty ,
                          @OKQty ,
                          @RejQty ,
                          @wtperPcSetup ,
                          @TotalWeightSetup ,
                          @CreatedBy ,
                          GETDATE() ,
                          @EntityID ,
                          0 ,
                          @JobCardID ,
                          @SetupId ,
                          @PlantId
                        )

            
                   
                EXEC WaxSetupStockTrans @SetupId = @SetupId,
                    @SetupStock = @OKQty
                   
                
			
              --Rejection Entry Insert
				   
                DECLARE WaxSetupRejection CURSOR
                FOR
                    SELECT  Node.value('(RejQty )[1]', 'int') AS 'RejQty' ,
                            Node.value('(ReasonId )[1]', 'int') AS 'ReasonId'
                    FROM    @WaxSetupRejectionXML.nodes('/DocumentElement/WaxSetupRejectionTable')
                            AS TEMPXML ( Node )
                OPEN WaxSetupRejection;

                FETCH NEXT FROM WaxSetupRejection INTO @ReasonRejQty,
                    @ReasonID
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN

                        INSERT  INTO dbo.WaxPatternRejection
                                ( WaxPatternRejectionID ,
                                  ReferenceID ,
                                  CastingID ,
                                  RejectionDate ,
                                  RejQty ,
                                  PerPcWeight ,
                                  ReasonID ,
                                  Process ,
                                  PatternType
       			   			    )
                        VALUES  ( NEWID() ,
                                  @WaxSetupID ,
                                  @CastingID , -- CastingID - uniqueidentifier
                                  @ProductionDate , -- RejectionDate - date
                                  @ReasonRejQty , -- RejQty - int
                                  @wtperPcSetup , -- PerPcWeight - float
                                  @ReasonID , -- ReasonID - int
                                  4 ,  -- Process - int
                                  1
       			   			    )          							 
                        
							   
                        FETCH NEXT FROM WaxSetupRejection INTO @ReasonRejQty,
                            @ReasonID
                    END 

                CLOSE WaxSetupRejection;
                DEALLOCATE WaxSetupRejection; 
				   
				   --END
            
                DECLARE WaxConsumption CURSOR
                FOR
                    SELECT  Node.value('(PurchaseItemID )[1]',
                                       'uniqueidentifier') AS 'PurchaseItemID' ,
                            Node.value('(ConsumedQty )[1]', 'float') AS 'ConsumedQty' ,
                            Node.query('BatchDetails/*') AS 'BatchDetails'
                    FROM    @WaxConsumptionXML.nodes('/DocumentElement/WaxConsumptionTable')
                            AS TEMPXML ( Node )
                OPEN WaxConsumption;

                FETCH NEXT FROM WaxConsumption INTO @PurchaseItemID,
                    @ConsumedQty, @BatchDetails
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN

                        INSERT  INTO dbo.WaxConsumption
                                ( WaxConsumptionID ,
                                  WaxPatternBatchID ,
                                  PurchaseItemID ,
                                  ConsumedQty
                                )
                        VALUES  ( NEWID() ,
                                  @WaxSetupID ,
                                  @PurchaseItemID ,
                                  @ConsumedQty
                                )

                       
                   
                        EXEC BatchWiseConsumptionEntry @BatchDetails = @BatchDetails,
                            @ConsumptionID = 0, @ReferenceID = @WaxSetupID
                         
                        
                        --SET @PlantId = ( SELECT TOP 1 PlantId FROM PlantMaster WHERE EntityId = @EntityID)
                        delete from @result
									INSERT  INTO @result
											( returnvalue
											)
                        EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemID, -- uniqueidentifier
                            @StockToAdd = @ConsumedQty, -- float
                            @Tagging = 'Consumption', -- varchar(50)
                            @Process = 'Insert', -- varchar(50)
                            @ProcessCode = @WaxSetupID, -- varchar(max)
                            @ProcessDate = @ProductionDate, -- datetime
                            @UserID = @CreatedBy, -- bigint
                            @ConsumptionMethod = @ConsumptionMethod,
                            @IsInwardBatchWise = @IsInwardBatchWise,
                            @BatchDetails = @BatchDetails
							, @EntityId = @EntityID
							, @PlantId = @PlantId
                   
                       
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
									
									
				   
                        FETCH NEXT FROM WaxConsumption INTO @PurchaseItemID,
                            @ConsumedQty, @BatchDetails
                    END 

                CLOSE WaxConsumption;
                DEALLOCATE WaxConsumption; 
                
                	END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','WaxSetupRejection') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','WaxSetupRejection') > -1
				   BEGIN
					CLOSE WaxSetupRejection
				   END
				 DEALLOCATE WaxSetupRejection
				END	
				
					IF CURSOR_STATUS('global','WaxConsumption') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','WaxConsumption') > -1
				   BEGIN
					CLOSE WaxConsumption
				   END
				 DEALLOCATE WaxConsumption
				 END
			 return -1
			END	
			END CATCH   
                COMMIT TRANSACTION
                return 1
            END	
        IF @Parameter = 4 -- Fetch Casting detail for register page row enter event
            BEGIN
	
                SELECT  CastingName ,
                        CastingCode ,
                        ProductionQty AS WaxSetupProductionQty ,
                        OKQty ,
                        RejQty ,
                        WtPerPcSetup ,
                        TotalWeightSetup ,
                        WaxSetupID ,
                        WaxSetupProduction.CastingId ,
                        JobCardID ,
                        WaxSetupStock
                FROM    dbo.WaxSetupProduction
                        INNER JOIN CastingMaster ON WaxSetupProduction.CastingID = CastingMaster.CastingId
                        LEFT JOIN WaxSetupStock ON WaxSetupStock.setupId = WaxSetupProduction.SetupId
                WHERE   WaxSetupProduction.IsDeleted = 0
                        AND WaxSetupId = @WaxSetupId
	
	
            END	
        IF @Parameter = 5 -- Get Detail on Edit click
            BEGIN
		
                SELECT  EntryNo ,
                        ProductionDate ,
                        Shift ,
                        StartTime ,
                        EndTime ,
                        OperatorID ,
                        MachineID ,
                        PlantId
                FROM    dbo.WaxSetupProduction
                WHERE   WaxSetupID = @WaxSetupId
	
	
	
            END            
        IF @Parameter = 6 -- Update Data for Wax pattern production
            BEGIN
			BEGIN TRANSACTION
				BEGIN TRY
                --DECLARE @UpdatedQty INT = 0;
                UPDATE  dbo.WaxSetupProduction
                SET     ProductionDate = @ProductionDate ,
                        OperatorID = @OperatorID ,
                        Machineid = @MachineID ,
                        Shift = @Shift ,
                        StartTime = @StartTime ,
                        EndTime = @EndTime ,
                        ModifiedBy = @CreatedBy ,
                        ModifiedOn = GETDATE() ,
                        ProductionQty = @ProductionQty ,
                        OKQty = @OKQty ,
                        RejQty = @RejQty ,
                        WtPerPcSetup = @wtperPcSetup ,
                        TotalWeightSetup = @TotalWeightSetup ,
                        SetupId = @SetupId
                WHERE   WaxSetupID = @WaxSetupID
				
               
        
                DELETE  FROM dbo.WaxPatternRejection
                WHERE   ReferenceID = @WaxSetupID
              
                   
                EXEC WaxSetupStockTrans @SetupId = @SetupId,
                    @SetupStock = @UpdatedQty
                   
                   
                   
                   --Rejection Entry Insert
				   
                DECLARE WaxSetupRejection CURSOR
                FOR
                    SELECT  Node.value('(RejQty )[1]', 'int') AS 'RejQty' ,
                            Node.value('(ReasonId )[1]', 'int') AS 'ReasonId'
                    FROM    @WaxSetupRejectionXML.nodes('/DocumentElement/WaxSetupRejectionTable')
                            AS TEMPXML ( Node )
                OPEN WaxSetupRejection;

                FETCH NEXT FROM WaxSetupRejection INTO @ReasonRejQty,
                    @ReasonID
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN

                        INSERT  INTO dbo.WaxPatternRejection
                                ( WaxPatternRejectionID ,
                                  ReferenceID ,
                                  CastingID ,
                                  RejectionDate ,
                                  RejQty ,
                                  PerPcWeight ,
                                  ReasonID ,
                                  Process ,
                                  PatternType
       			   			    )
                        VALUES  ( NEWID() ,
                                  @WaxSetupID ,
                                  @CastingID , -- CastingID - uniqueidentifier
                                  @ProductionDate , -- RejectionDate - date
                                  @ReasonRejQty , -- RejQty - int
                                  @wtperPcSetup , -- PerPcWeight - float
                                  @ReasonID , -- ReasonID - int
                                  4 ,  -- Process - int
                                  1
       			   			    )          							 
                     
					
							   			                   							 
                      		   
                        FETCH NEXT FROM WaxSetupRejection INTO @ReasonRejQty,
                            @ReasonID
                    END 

                CLOSE WaxSetupRejection;
                DEALLOCATE WaxSetupRejection; 
				   
				   --END
                   
               			                       
            
                DELETE  FROM dbo.ConsumptionBatchWise
                WHERE   ReferenceID = @WaxSetupID
    
                DECLARE WaxConsumption CURSOR
                FOR
                    SELECT  Node.value('(PurchaseItemID )[1]',
                                       'uniqueidentifier') AS 'PurchaseItemID' ,
                            Node.value('(ConsumedQty )[1]', 'float') AS 'ConsumedQty' ,
                            Node.value('(Consumption )[1]', 'float') AS 'Consumption' ,
                            Node.query('BatchDetails/*') AS 'BatchDetails'
                    FROM    @WaxConsumptionXML.nodes('/DocumentElement/WaxConsumptionTable')
                            AS TEMPXML ( Node )
                OPEN WaxConsumption;

                FETCH NEXT FROM WaxConsumption INTO @PurchaseItemID,
                    @ConsumedQty, @Consumption, @BatchDetails
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN

                        SET @UpdatedQty = ( @Consumption - @ConsumedQty );

                        IF EXISTS ( SELECT  WaxPatternBatchID
                                    FROM    WaxConsumption
                                    WHERE   WaxPatternBatchID = @WaxSetupID
                                            AND PurchaseItemId = @PurchaseItemID )
                            BEGIN
                                UPDATE  WaxConsumption
                                SET     ConsumedQty = ConsumedQty
                                        + @UpdatedQty
                                WHERE   WaxPatternBatchID = @WaxSetupID
                                        AND PurchaseItemId = @PurchaseItemID
                            END
                        ELSE
                            BEGIN       
                                INSERT  INTO dbo.WaxConsumption
                                        ( WaxConsumptionID ,
                                          WaxPatternBatchID ,
                                          PurchaseItemID ,
                                          ConsumedQty
                                        )
                                VALUES  ( NEWID() ,
                                          @WaxSetupID ,
                                          @PurchaseItemID ,
                                          @UpdatedQty
                                        )
                            END     
                     
                   
                        EXEC BatchWiseConsumptionEntry @BatchDetails = @BatchDetails,
                            @ConsumptionID = 0, @ReferenceID = @WaxSetupID
                        
                        
                        SET @PlantId = ( SELECT TOP 1 PlantId FROM PlantMaster WHERE EntityId = @EntityID)
                        	delete from @result
									INSERT  INTO @result
											( returnvalue
											)
						   
                        EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemID, -- uniqueidentifier
                            @StockToAdd = @UpdatedQty, -- float
                            @Tagging = 'Consumption', -- varchar(50)
                            @Process = 'Edit', -- varchar(50)
                            @ProcessCode = @WaxSetupID, -- varchar(max)
                            @ProcessDate = @ProductionDate, -- datetime
                            @UserID = @CreatedBy, -- bigint
                            @ConsumptionMethod = @ConsumptionMethod,
                            @IsInwardBatchWise = @IsInwardBatchWise,
                            @BatchDetails = @BatchDetails
                            , @EntityId = @EntityID
							, @PlantId = @PlantId
                   
                        
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END
									
									
				   
                        FETCH NEXT FROM WaxConsumption INTO @PurchaseItemID,
                            @ConsumedQty, @Consumption, @BatchDetails
                    END 

                CLOSE WaxConsumption;
                DEALLOCATE WaxConsumption;   
                	END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','WaxSetupRejection') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','WaxSetupRejection') > -1
				   BEGIN
					CLOSE WaxSetupRejection
				   END
				 DEALLOCATE WaxSetupRejection
				END	
				IF CURSOR_STATUS('global','WaxConsumption') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','WaxConsumption') > -1
				   BEGIN
					CLOSE WaxConsumption
				   END
				 DEALLOCATE WaxConsumption
				END
			 return -1 
			END	
        END Catch
		Commit TRANSACTION		
             return 1        
            END	
        IF @Parameter = 7 -- Delete Wax Pattern Production
            BEGIN
            begin TRANSACTION
            BEGIN TRY 
            -- Update Pattern stock of each casting
                SELECT  SetupId ,
                        OKQty ,
                        ProductionDate ,
                        EntityID
                INTO    #temptable
                FROM    dbo.WaxSetupProduction
                WHERE   WaxSetupProduction.WaxSetupID = @WaxSetupID
                        AND WaxSetupProduction.Isdeleted = 0
					
			-- Update Item's Stock
                SELECT  PurchaseItemID ,
                        ConsumedQty ,
                        ProductionDate
                INTO    #Consumptiontable
                FROM    WaxConsumption ,
                        dbo.WaxSetupProduction
                WHERE   WaxConsumption.WaxPatternBatchID = WaxSetupProduction.WaxSetupID
                        AND WaxConsumption.WaxPatternBatchID = @WaxSetupID
                        AND WaxSetupProduction.IsDeleted = 0
										          
					-- Declare Cursor for Query
                DECLARE pro_cusor CURSOR
                FOR
                    SELECT  #Consumptiontable.[PurchaseItemID] ,
                            #Consumptiontable.[ConsumedQty] ,
                            #Consumptiontable.[ProductionDate]
                    FROM    [dbo].[#Consumptiontable] 
					
                OPEN pro_cusor -- Open Cursor
                FETCH NEXT FROM pro_cusor INTO @PurchaseItemID, @ConsumedQty,
                    @ProductionDate
                WHILE @@FETCH_STATUS = 0
                    BEGIN
                    
                        SET @BatchDetails = ( SELECT    ( SELECT
                                                              RawBatchNo ,
                                                              ConsumptionBatchWise.RawBatchId ,
                                                              -Quantity AS TransactionQty
                                                          FROM
                                                              dbo.ConsumptionBatchWise
                                                              INNER JOIN dbo.RawInwBatchWiseStock ON dbo.RawInwBatchWiseStock.RawBatchId = dbo.ConsumptionBatchWise.RawBatchId
                                                          WHERE
                                                              ReferenceID = @WaxSetupID
                                                              AND PurchaseItemId = @PurchaseItemId
                                                        FOR
                                                          XML PATH('BatchDetails') ,
                                                              TYPE
                                                        )
                                            FOR
                                              XML PATH('') ,
                                                  ROOT('DocumentElement')
                                            )
						
						SET @EntityID = (SELECT TOP 1 EntityId FROM #temptable)
						SET @PlantId = ( SELECT TOP 1 PlantId FROM PlantMaster WHERE EntityId = @EntityID)
					
                        SET @ConsumedQty = -@ConsumedQty; 
							delete from @result
									INSERT  INTO @result
											( returnvalue
											)						   
                        EXEC dbo.RawMaterialStockUpdate @PurchaseItemID = @PurchaseItemID, -- uniqueidentifier
                            @StockToAdd = @ConsumedQty, -- float
                            @Tagging = 'Consumption', -- varchar(50)
                            @Process = 'Delete', -- varchar(50)
                            @ProcessCode = @WaxSetupID, -- varchar(max)
                            @ProcessDate = @ProductionDate, -- datetime
                            @UserID = @DeletedBy, -- bigint
                            @ConsumptionMethod = @ConsumptionMethod,
                            @IsInwardBatchWise = @IsInwardBatchWise,
                            @BatchDetails = @BatchDetails
                            , @EntityId = @EntityID
							, @PlantId = @PlantId 					
								IF ( @@Error <> 0
										 OR ( ( SELECT  returnvalue
												FROM    @result
											  ) = -7 )
									   )
										BEGIN
											ROLLBACK TRANSACTION
											RETURN -7
										END									
                        FETCH NEXT FROM pro_cusor
					INTO @PurchaseItemID, @ConsumedQty, @ProductionDate
                    END;
                CLOSE pro_cusor; -- Cloase Cursor
                DEALLOCATE pro_cusor;		
	
                DELETE  FROM dbo.WaxConsumption
                WHERE   WaxConsumption.WaxPatternBatchID = @WaxSetupID
	
                DELETE  FROM dbo.ConsumptionBatchWise
                WHERE   ReferenceID = @WaxSetupID
              
              
		-- Declare Cursor for Query
                DECLARE pro_cusor CURSOR
                FOR
                    SELECT  #temptable.[SetupId] ,
                            #temptable.[OKQty] ,
                            #temptable.[ProductionDate]
                    FROM    [dbo].[#temptable] 
					
                OPEN pro_cusor -- Open Cursor
                FETCH NEXT FROM pro_cusor INTO @SetupId, @OKQty,
                    @ProductionDate
                WHILE @@FETCH_STATUS = 0
                    BEGIN
					
                        UPDATE  dbo.WaxSetupProduction
                        SET     IsDeleted = 1
                        WHERE   WaxSetupID = @WaxSetupID
                   
                        SET @OKQty = -@OKQty
                        EXEC WaxSetupStockTrans @SetupId = @SetupId,
                            @SetupStock = @OKQty                    
					
                        FETCH NEXT FROM pro_cusor
					INTO @SetupId, @OKQty, @ProductionDate
                    END;
                CLOSE pro_cusor; -- Cloase Cursor
                DEALLOCATE pro_cusor;
                
                UPDATE  WaxSetupProduction
                SET     IsDeleted = 1 ,
                        DeletedOn = GETDATE() ,
                        DeletedBy = @DeletedBy
                WHERE   WaxSetupID = @WaxSetupID    
                       
                DROP TABLE #temptable
                DROP TABLE #Consumptiontable
                			END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			 ROLLBACK TRANSACTION
			  	IF CURSOR_STATUS('global','pro_cusor') >= -1
				 BEGIN
				  IF CURSOR_STATUS('global','pro_cusor') > -1
				   BEGIN
					CLOSE pro_cusor
				   END
				 DEALLOCATE pro_cusor
				END	 
			 return -1 
			END	
        END Catch
		Commit TRANSACTION		
		return  1 

            END     
        IF @Parameter = 8 -- Check Wax Pattern Stock For Delete
            BEGIN
        
                DECLARE @PatternStock INT;
            -- Update Pattern stock of each casting
                SELECT  SetupId ,
                        OKQty
                INTO    #PatternStocktable
                FROM    dbo.WaxSetupProduction
                WHERE   WaxSetupProduction.WaxSetupID = @WaxSetupID
                        AND WaxSetupProduction.Isdeleted = 0                    
										          
					-- Declare Cursor for Query
                DECLARE pro_cusor CURSOR
                FOR
                    SELECT  #PatternStocktable.[SetupId] ,
                            #PatternStocktable.[OKQty]
                    FROM    [dbo].[#PatternStocktable] 
					
                OPEN pro_cusor -- Open Cursor
                FETCH NEXT FROM pro_cusor INTO @CastingID, @OKQty
                WHILE @@FETCH_STATUS = 0
                    BEGIN
					
                        SET @PatternStock = ( SELECT    WaxSetupStock.WaxSetupStock
                                              FROM      WaxSetupStock
                                              WHERE     SetupId = @SetupId
                                            )
                   
                        IF @PatternStock < @OKQty
                            BEGIN    
                                DROP TABLE #PatternStocktable           
                                RETURN 0                 
					
                            END
				   	
                        FETCH NEXT FROM pro_cusor
					INTO @SetupId, @OKQty
                    END;
                CLOSE pro_cusor; -- Cloase Cursor
                DEALLOCATE pro_cusor;
            
                DROP TABLE #PatternStocktable
                RETURN 1            
            END       
        --IF @Parameter = 10
        --    BEGIN    
        --        SELECT  SetupWeight
        --        FROM    WaxJobCardMaster
        --                INNER JOIN dbo.WaxJobCardTranse ON dbo.WaxJobCardTranse.JobCardID = dbo.WaxJobCardMaster.JobCardID
        --        WHERE   CastingID = @CastingID    
        --    END
        IF @Parameter = 11
            BEGIN    
                SELECT  ItemCode ,
                        ItemName ,
                        WaxChargeTrans.Ratio AS Qty ,
                        ISNULL(FloorInventoryDetails.Stock, 0) AS Stock ,
                        PurchaseItemMaster.PurchaseItemID
                FROM    dbo.WaxJobCardTranse
                        INNER JOIN WaxChargeTrans ON WaxJobCardTranse.WaxChargeID = WaxChargeTrans.ChargeID
                        INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = WaxChargeTrans.PurchaseItemId
                        LEFT JOIN FloorInventoryDetails ON PurchaseItemMaster.PurchaseItemId = FloorInventoryDetails.PurchaseItemId
											AND PurchaseItemMaster.EntityID = FloorInventoryDetails.Entity
											AND FloorInventoryDetails.PlantId IN (@PlantId)
                WHERE   CastingID = @CastingID
                        AND JobCardID = @JobCardID
                        AND dbo.WaxJobCardTranse.IsDeleted = 0
                        AND dbo.PurchaseItemMaster.IsDeleted = 0
                        --AND dbo.FloorInventoryDetails.Entity = @EntityID
                        --AND dbo.FloorInventoryDetails.PlantId = @PlantId
            END      
        IF @Parameter = 13
            BEGIN
                SELECT  DISTINCT
                         --WaxPatternRejectionID ,
                         --       WaxPatternBatchID ,
                       -- WaxProductionID ,
                        Reason AS Reason ,
                        CONVERT(VARCHAR(50), dbo.WaxPatternRejection.ReasonID) AS ReasonId ,
                        --dbo.WaxPatternRejection.ReasonId ,
                        RejQty
                FROM    dbo.WaxPatternRejection
                        INNER JOIN dbo.ReasonMaster ON dbo.ReasonMaster.ReasonID = dbo.WaxPatternRejection.ReasonID
                WHERE   ( @WaxSetupId IS NULL
                          OR ReferenceID = @WaxSetupId
                        )
                        AND Process = 4
      
            END             
        IF @Parameter = 14
            BEGIN
       
                --SELECT  ItemName ,
                --        ItemCode ,
                --        SUM(WaxChargeTrans.Ratio) AS Qty ,
                --        ( ISNULL(Stock, 0) + WaxConsumption.ConsumedQty ) AS Stock ,
                --        WaxConsumption.ConsumedQty AS ConsumedQty ,
                --        WaxConsumption.ConsumedQty AS Consumption ,
                --        PurchaseItemMaster.PurchaseItemId AS PurchaseItemID
                --FROM    PurchaseItemMaster
                --        INNER JOIN dbo.WaxChargeTrans ON dbo.WaxChargeTrans.PurchaseItemId = dbo.PurchaseItemMaster.PurchaseItemId
                --        INNER JOIN dbo.WaxConsumption ON dbo.WaxConsumption.PurchaseItemID = dbo.WaxChargeTrans.PurchaseItemId
                --        INNER JOIN dbo.WaxSetupProduction ON dbo.WaxSetupProduction.WaxSetupID = dbo.WaxConsumption.WaxPatternBatchID
                --        INNER JOIN dbo.WaxJobCardMaster ON dbo.WaxJobCardMaster.JobCardID = dbo.WaxSetupProduction.JobCardID
                --        INNER JOIN WaxJobCardTranse ON WaxJobCardTranse.CastingID = WaxSetupProduction.CastingID
                --                                       AND WaxJobCardTranse.WaxChargeID = WaxChargeTrans.ChargeID
                --        LEFT JOIN FloorInventoryDetails ON FloorInventoryDetails.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                --WHERE   purchaseItemMaster.IsIssueAsConsumed = 0
                --        AND WaxSetupProduction.IsDeleted = 0
                --    --    AND CastingID = @CastingID
                --        AND WaxSetupProduction.WaxSetupID = @WaxSetupID
                --       -- AND dbo.WaxJobCardTranse.IsDeleted = 0
                --        AND dbo.PurchaseItemMaster.IsDeleted = 0
                --GROUP BY ItemName ,
                --        ItemCode ,
                --        Stock ,
                --        PurchaseItemMaster.PurchaseItemId ,
                --        WaxConsumption.ConsumedQty
                        
                        
                SELECT  ItemName ,
                        ItemCode ,
                        ( WaxChargeTrans.Ratio ) AS Qty ,
                        ( ISNULL(Stock, 0) + WaxConsumption.ConsumedQty ) AS Stock ,
                        WaxConsumption.ConsumedQty AS ConsumedQty ,
                        WaxConsumption.ConsumedQty AS Consumption ,
                        PurchaseItemMaster.PurchaseItemId AS PurchaseItemID
                FROM    dbo.WaxSetupProduction
                        INNER JOIN dbo.WaxJobCardMaster ON dbo.WaxJobCardMaster.JobCardID = dbo.WaxSetupProduction.JobCardID
                        INNER JOIN dbo.WaxJobCardTranse ON dbo.WaxJobCardTranse.JobCardID = dbo.WaxJobCardMaster.JobCardID
                                                           AND dbo.WaxJobCardTranse.CastingID = dbo.WaxSetupProduction.CastingID
                        INNER JOIN dbo.WaxConsumption ON WaxPatternBatchID = WaxSetupProduction.WaxSetupID
                        INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.WaxConsumption.PurchaseItemID
                        INNER JOIN dbo.WaxChargeTrans ON ChargeID = WaxJobCardTranse.WaxChargeID
                                                         AND dbo.WaxChargeTrans.PurchaseItemId = dbo.WaxConsumption.PurchaseItemID
                        LEFT JOIN FloorInventoryDetails ON FloorInventoryDetails.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                WHERE   purchaseItemMaster.IsIssueAsConsumed = 0
                        AND WaxSetupProduction.IsDeleted = 0
                        AND WaxSetupProduction.WaxSetupID = @WaxSetupID
                        AND dbo.WaxJobCardTranse.IsDeleted = 0
                        AND dbo.PurchaseItemMaster.IsDeleted = 0
                        AND dbo.FloorInventoryDetails.Entity = @EntityID
                        AND dbo.FloorInventoryDetails.PlantId = @PlantId
                
            END 
            
        IF @Parameter = 15
            BEGIN 
            
                SELECT  CastingMaster.CastingName ,
                        CastingMaster.CastingCode ,
                        ISNULL(WaxSetupStock.WaxSetupStock, 0) AS [Stock]
                FROM    WaxSetupStock
                        INNER JOIN dbo.WaxJobCardMaster ON WaxJobCardMaster.SetupId = WaxSetupStock.SetupId
                        INNER JOIN dbo.WaxJobCardTranse ON dbo.WaxJobCardTranse.JobCardID = dbo.WaxJobCardMaster.JobCardID
                        INNER JOIN CastingMaster ON CastingMaster.CastingId = WaxJobCardTranse.CastingID
                WHERE   ( @CastingID IS NULL
                          OR WaxJobCardTranse.CastingID = @CastingID
                        )
                        AND ( @CastingName IS NULL
                              OR CastingMaster.CastingName = @CastingName
                            )
                        AND ( @IncludeZero = 'true'
                              OR ( ISNULL(WaxSetupStock.WaxSetupStock, 0) <> 0 )
                            )
            END  
            
           
        IF @Parameter = 16
            BEGIN
                SELECT  WaxSetupStock
                FROM    WaxSetupStock
                WHERE   SetupId = @SetupId

            END
			 
        IF @Parameter = 17
            BEGIN
			  
			  
                IF EXISTS ( SELECT  DISTINCT
                                    Reason AS ReasonName ,
                                    CONVERT(VARCHAR(50), dbo.WaxPatternRejection.ReasonID) AS Reason ,
                                    RejQty
                            FROM    dbo.WaxPatternRejection
                                    INNER JOIN dbo.ReasonMaster ON dbo.ReasonMaster.ReasonID = dbo.WaxPatternRejection.ReasonID
                            WHERE   WaxPatternRejection.IsInward = 1
                                    AND ( @WaxSetupId IS NULL
                                          OR ReferenceID = @WaxSetupId
                                        )
                                    AND Process = 4 )
                    BEGIN
                        RETURN 0;
                    END
                ELSE
                    BEGIN
                        RETURN 1;
                    END
			  
            END
			 
        IF @Parameter = 18
            BEGIN
            
                SELECT  WaxJobCardMaster.SetupId ,
                        SetupName
                FROM    dbo.WaxJobCardMaster
                        INNER JOIN dbo.WaxSetupMaster ON dbo.WaxSetupMaster.SetupId = dbo.WaxJobCardMaster.SetupId
                WHERE   JobCardID = @JobCardID
                        AND dbo.WaxJobCardMaster.IsDeleted = 0
                        AND dbo.WaxSetupMaster.IsDeleted = 0
            END
    END
GO
