USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchDetailReport]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- [dbo].[SP_DispatchDetailReport]  20525, 43,0,0
CREATE  PROCEDURE [dbo].[SP_DispatchDetailReport]  
    @DispatchID VARCHAR(50),  
    --@DieFlag bit = 0,  
    @EntityID INT = 0,  
    @IfActive bit=0,  
    @HeatFlag bit = 0  
AS   
   
    --SET @DieFlag = ( SELECT dbo.CompanyMaster.IsSandOrDie  
    --                 FROM   dbo.CompanyMaster  
    --                 WHERE  EntityId = @EntityID  
    --               )  
                                 
    --IF ( @DieFlag = 1 )  
    --    BEGIN 
    
    Declare @IsVoucheType int,@EwayType int 
    Select @IsVoucheType = TypeOfVoucher from dispatchmaster where DispatchID = @DispatchID                    
          if(@IsVoucheType=0 or @IsVoucheType  = 5)
          begin 
			set @EwayType = 0
          end 
          
          if(@IsVoucheType=4)
          begin 
			set @EwayType = 4
          end 
           
          if(@IsVoucheType=1)
          begin 
			set @EwayType = 3
          end 
	
   IF @HeatFlag = 1  
   BEGIN  
    select *,Sum(case when RowNum = 1 then SUM(TotalWeight) else 0 end) Over() as Totalweightforall
	  from( SELECT  ROW_NUMBER() OVER (PARTITION BY castmaster.CastingName,OrderMaster.customerorderid, dispatch.orderserialno
			order BY castmaster.CastingName,OrderMaster.customerorderid, dispatch.orderserialno) AS SubSrNo,  
			dispmaster.DispatchID ,  
                    EntryNo ,  
                    Dispatchslipno ,  
                      
                    (CASE WHEN dispmaster.Prefix IS NULL  
                      OR dispmaster.Prefix = ''  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Prefix)  
                      + CASE  
                      WHEN dispmaster.Separator IS NULL  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
                      END  
                      END  
                      + CONVERT(VARCHAR(50), dispmaster.DispatchSlipNo)  
                      + CASE WHEN dispmaster.Separator IS NULL  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
                      END  
                      + CASE WHEN dispmaster.Suffix IS NULL  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Suffix)  
                      END)  AS InvoiceNo,  
                     CONVERT(VARCHAR(15), dispmaster.dispatchdate, 106) AS InvoiceDate ,  
                    Refinvno ,  
                    dispatchdate ,  
                    dispmaster.customerID ,  
                    dispatch.srno ,  
                    DispatchGradewise.Qty as dispatchqty ,  
                    cast((dispatch.weight) as decimal(10,3)) as weight ,  
                    dispatch.orderid ,  
                    dispatch.orderserialno ,  
                    cast((dispatch.TotalWeight) as decimal(10,3)) as TotalWeight ,  
                    RequiredQty ,  
                      
 case when @IfActive=1 then custmaster.CustomerCode else isnull(custmaster.Displayname , custmaster.CustomerName )end CustomerName ,  
                  --(castmaster.Castingcode +' / '+  castmaster.CastingName) as CastingName,  
                  
                  castmaster.CastingName,
                  castmaster.CastingCode,  
     --             (  
     -- case when castmaster.Castingcode = castmaster.CastingName   
     -- then   
     --  castmaster.CastingName   
     -- else   
     --  (  
     --   case when ISNULL(castmaster.Castingcode,'') = ''    
     --   then   
     --    castmaster.CastingName  
     --   else   
     --    (  
     --     case when ISNULL(castmaster.CastingName,'') = ''    
     --     then   
     --      castmaster.Castingcode   
     --     else   
     --      (castmaster.Castingcode +' / '+  castmaster.CastingName)   
     --     end  
     --    )   
     --   end  
     --  )        
                    
     -- end  
     --) as CastingName ,  
                    
                  -- 1 same , 2 only Casting Code , 3 only Casting Name , 4 View All Casting Code / Name  
     
     --               (  
     -- case when castmaster.Castingcode = castmaster.CastingName   
     -- then   
     --  '1'   
     -- else   
     --  (  
     --   case when ISNULL(castmaster.Castingcode,'') = ''    
     --   then   
     --    '2'   
     --   else   
     --    (case when ISNULL(castmaster.CastingName,'') = ''  then '3' else '4' end)   
     --   end  
     --  )        
                    
     -- end  
     --) as IsSameCasting ,  
     
                    --CASE WHEN ( RequiredQty - dispatch.dispatchqty ) < 0 THEN 0  
                    --     ELSE ( RequiredQty - dispatch.dispatchqty )  
                    --END AS panddingqty ,  
                     PurchaseItemMaster.ItemCode as PatternCode,  
                    CONVERT(VARCHAR(11), OrderDate, 106) AS OrderDate ,  
      CustomerOrderNo,  
                    batchno as HeatNo,  
                    HeatCode,  
                    dispatch.PartId as castingid,  
                    ordermaster.CustomerOrderId,  
                    ew.DocThrough,  
                    ew.DispatchFrom,  
                    ew.DispatchTo,  
                    ew.LrNo,  
                    ew.DispatchThrough,
                    ew.MotarRegno AS VehicleNo,
                    ew.RoadPermitForm AS Transporter,
                    dispmaster.Remark,
					MetalMaster.MetalName,
                    ProcessMaster.ProcessName,
					--dispatch. TerrifCode
					ROW_NUMBER() OVER (PARTITION BY Dispatchslipno , dispatch.srno  ORDER BY dispatch.srno) AS RowNum,
					    PlantMaster.PlantName as Plant,
F.PlantName as FromPlant,
dispatch.dispatchtransid,
dispmaster.CreatedBY
            FROM    dispatchmaster dispmaster
					INNER JOIN dbo.EwayDetails ew on  ew.ID = dispmaster.DispatchID and ew.type = @EwayType
					INNER JOIN dispatchtrans dispatch ON dispatch.dispatchid = dispmaster.dispatchid  
                    left JOIN OrderTranse ordrtrans ON dispatch.OrderID = ordrtrans.CustomerOrderId and  
                    dispatch.orderserialno = ordrtrans.SrNo and  
                    dispatch.PartId = ordrtrans.PartId    AND ordrtrans.IsDeleted = 0 
                    left JOIN ordermaster on ordermaster.CustomerOrderId = ordrtrans.customerorderid  
                    left JOIN CustomerMaster custmaster ON custmaster.CustomerId = dispmaster.CustomerId  
                    INNER JOIN CastingMaster castmaster ON castmaster.castingid = dispatch.PartId  
                    INNER JOIN dbo.PurchaseItemMaster ON castmaster.Dieid = dbo.PurchaseItemMaster.PurchaseItemId and PurchaseItemMaster.IsPattern = 1 
                    INNER jOIN DispatchGradewise on dispatch.dispatchtransid = DispatchGradewise.DispatchTransID  
                    INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = DispatchGradewise.BatchID  
                    INNER JOIN ProductionBatch ON CastingStockBatch.productionbatchID = ProductionBatch.batchID  
                    LEFT JOIN CastingHeatCode ON CastingHeatCode.CastingID = CastingStockBatch.CastingID   
						   and CastingHeatCode.ProductionBatchID = CastingStockBatch.ProductionBatchID   
						   AND CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeID 
					left join MetalMaster ON MetalMaster.MetalId = DispatchGradewise.MetalId
                    left join ProcessMaster ON ProcessMaster.ProcessId = dispatch.FromProcess
					left join PlantMaster ON  PlantMaster.PlantId = dispmaster.ToPlantId
					LEFT join PlantMaster as F ON F.PlantId = dispmaster.PlantId  
					Where  
                        dispmaster.DispatchID = @DispatchID  
                   
                    AND dispatch.IsDeleted=0  
     
   UNION ALL  
     
 --  SELECT  ROW_NUMBER() OVER (PARTITION BY castmaster.CastingName,OrderMaster.customerorderid   
 --    order BY castmaster.CastingName,OrderMaster.customerorderid) AS SubSrNo,  
 --    dispmaster.DispatchID ,  
 --                   EntryNo ,  
 --                   Dispatchslipno ,  
 --                   (CASE WHEN dispmaster.Prefix IS NULL  
 --                     OR dispmaster.Prefix = ''  
 --                     THEN ''  
 --                     ELSE CONVERT(VARCHAR(50), dispmaster.Prefix)  
 --                     + CASE  
 --                     WHEN dispmaster.Separator IS NULL  
 --                     THEN ''  
 --                     ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
 --                     END  
 --                     END  
 --                     + CONVERT(VARCHAR(50), dispmaster.DispatchSlipNo)  
 --                     + CASE WHEN dispmaster.Separator IS NULL  
 --                     THEN ''  
 --                     ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
 --                     END  
 --                     + CASE WHEN dispmaster.Suffix IS NULL  
 --                     THEN ''  
 --                     ELSE CONVERT(VARCHAR(50), dispmaster.Suffix)  
 --                     END)  AS InvoiceNo,  
 --                      CONVERT(VARCHAR(15), dispmaster.dispatchdate, 106) AS InvoiceDate ,  
 --                   Refinvno ,  
 --                   dispatchdate ,  
 --                   dispmaster.customerID ,  
 --                   dispatch.srno ,  
 --                   DispatchGradewise.Qty as dispatchqty ,  
 --                   cast((dispatch.weight) as decimal(10,3)) as weight ,  
 --                   dispatch.orderid ,  
 --                   dispatch.orderserialno ,  
 --                   cast((dispatch.TotalWeight) as decimal(10,3)) as TotalWeight ,  
 --                   RequiredQty ,  
                      
 --case when @IfActive=1 then custmaster.CustomerCode else custmaster.CustomerName end CustomerName ,  
 --                   --(castmaster.Castingcode +' / '+  castmaster.CastingName) as CastingName,  
 --  (  
 --     case when castmaster.Castingcode = castmaster.CastingName   
 --     then   
 --      castmaster.CastingName   
 --     else   
 --      (  
 --       case when ISNULL(castmaster.Castingcode,'') = ''    
 --       then   
 --        castmaster.CastingName  
 --       else   
 --        (  
 --         case when ISNULL(castmaster.CastingName,'') = ''    
 --         then   
 --          castmaster.Castingcode   
 --         else   
 --          (castmaster.Castingcode +' / '+  castmaster.CastingName)   
 --         end  
 --        )   
 --       end  
 --      )        
                    
 --     end  
 --    ) as CastingName ,  
                      
 --                   -- 1 same , 2 only Casting Code , 3 only Casting Name , 4 View All Casting Code / Name  
 --                   (  
 --     case when castmaster.Castingcode = castmaster.CastingName   
 --     then   
 --      '1'   
 --     else   
 --      (  
 --       case when ISNULL(castmaster.Castingcode,'') = ''    
 --       then   
 --        '2'   
 --       else   
 --        (case when ISNULL(castmaster.CastingName,'') = ''  then '3' else '4' end)   
 --       end  
 --      )        
                    
 --     end  
 --    ) as IsSameCasting ,  
 --                   --CASE WHEN ( RequiredQty - dispatch.dispatchqty ) < 0 THEN 0  
 --                   --     ELSE ( RequiredQty - dispatch.dispatchqty )  
 --                   --END AS panddingqty ,  
 --                   DieCode as PatternCode,  
 --                   CONVERT(VARCHAR(11), OrderDate, 106) AS OrderDate ,  
 --                   CustomerOrderNo,  
 --                   batchno as HeatNo,  
 --                   HeatCode,  
 --                   dispatch.PartId    as castingid,  
 --                   ordermaster.CustomerOrderId,  
 --                   dispmaster.DocThrough,  
 --                   dispmaster.DispatchFrom,  
 --                   dispmaster.DispatchTo,  
 --                   dispmaster.LrNo,  
 --                   dispmaster.DispatchThrough  
 --           FROM    dispatchmaster dispmaster INNER JOIN dispatchtrans dispatch ON dispatch.dispatchid = dispmaster.dispatchid  
 --                   INNER JOIN OrderTranse ordrtrans ON dispatch.OrderID = ordrtrans.CustomerOrderId and  
 --                   dispatch.orderserialno = ordrtrans.SrNo and  
 --                   dispatch.PartId = ordrtrans.PartId  
 --                   INNER JOIN ordermaster on ordermaster.CustomerOrderId = ordrtrans.customerorderid  
 --                   INNER JOIN CustomerMaster custmaster ON custmaster.CustomerId = dispmaster.CustomerId  
 --                   INNER JOIN CastingMaster castmaster ON castmaster.castingid = dispatch.PartId  
 --                   INNER JOIN dbo.DieMaster ON castmaster.Dieid = dbo.DieMaster.DieId  
 --                   INNER jOIN DispatchGradewise on dispatch.dispatchtransid = DispatchGradewise.DispatchTransID  
 --                   INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = DispatchGradewise.BatchID  
 --                   INNER JOIN ProductionBatch ON CastingStockBatch.productionbatchID = ProductionBatch.batchID  
 --                   LEFT JOIN CastingHeatCode ON CastingHeatCode.CastingID = CastingStockBatch.CastingID   
 --          and CastingHeatCode.ProductionBatchID = CastingStockBatch.ProductionBatchID  
 --          AND CastingHeatCode.HeatCodeID = CastingStockBatch.HeatCodeId  
 --                   Where  
 --                       dispmaster.DispatchID = @DispatchID  
 --                   AND ordrtrans.IsDeleted = 0  
 --                   AND dispatch.IsDeleted=0  
                      
 --           UNION ALL  
            SELECT  ROW_NUMBER() OVER (PARTITION BY castmaster.CastingName,OrderMaster.customerorderid, dispatch.orderserialno  
    order BY castmaster.CastingName,OrderMaster.customerorderid, dispatch.orderserialno) AS SubSrNo,  
    dispmaster.DispatchID ,  
                    EntryNo ,  
                    Dispatchslipno ,  
                      
                    (CASE WHEN dispmaster.Prefix IS NULL  
                      OR dispmaster.Prefix = ''  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Prefix)  
                      + CASE  
                      WHEN dispmaster.Separator IS NULL  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
                      END  
                      END  
                      + CONVERT(VARCHAR(50), dispmaster.DispatchSlipNo)  
                      + CASE WHEN dispmaster.Separator IS NULL  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
                      END  
                      + CASE WHEN dispmaster.Suffix IS NULL  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Suffix)  
                      END)  AS InvoiceNo,  
                     CONVERT(VARCHAR(15), dispmaster.dispatchdate, 106) AS InvoiceDate ,  
                    Refinvno ,  
                    dispatchdate ,  
                    dispmaster.customerID ,  
                    dispatch.srno ,  
                    dispatch.dispatchqty as dispatchqty ,  
                    cast((dispatch.weight) as decimal(10,3)) as weight ,  
                    dispatch.orderid ,  
                    dispatch.orderserialno ,  
                    cast((dispatch.TotalWeight) as decimal(10,3)) as TotalWeight ,  
                    RequiredQty ,  
                      
 case when @IfActive=1 then custmaster.CustomerCode else  isnull(custmaster.Displayname , custmaster.CustomerName ) end CustomerName ,  
                  --(castmaster.Castingcode +' / '+  castmaster.CastingName) as CastingName,  
                    
                    castmaster.CastingName,
                  castmaster.CastingCode,
     --             (  
     -- case when castmaster.Castingcode = castmaster.CastingName   
     -- then   
     --  castmaster.CastingName   
     -- else   
     --  (  
     --   case when ISNULL(castmaster.Castingcode,'') = ''    
     --   then   
     --    castmaster.CastingName  
     --   else   
     --    (  
     --     case when ISNULL(castmaster.CastingName,'') = ''    
     --     then   
     --      castmaster.Castingcode   
     --     else   
     --      (castmaster.Castingcode +' / '+  castmaster.CastingName)   
     --     end  
     --    )   
     --   end  
     --  )        
                    
     -- end  
     --) as CastingName ,  
                    
                  -- 1 same , 2 only Casting Code , 3 only Casting Name , 4 View All Casting Code / Name  
     --               (  
     -- case when castmaster.Castingcode = castmaster.CastingName   
     -- then   
     --  '1'   
     -- else   
     --  (  
     --   case when ISNULL(castmaster.Castingcode,'') = ''    
     --   then   
     --    '2'   
     --   else   
     --    (case when ISNULL(castmaster.CastingName,'') = ''  then '3' else '4' end)   
     --   end  
     --  )        
                    
     -- end  
     --) as IsSameCasting ,  
     
                    --CASE WHEN ( RequiredQty - dispatch.dispatchqty ) < 0 THEN 0  
                    --     ELSE ( RequiredQty - dispatch.dispatchqty )  
                    --END AS panddingqty ,  
                    PurchaseItemMaster.ItemCode as PatternCode,
                    CONVERT(VARCHAR(11), OrderDate, 106) AS OrderDate ,  
                    CustomerOrderNo,  
                    batchno as HeatNo,  
                    HeatCode,  
                    dispatch.PartId as castingid,  
                    ordermaster.CustomerOrderId,  
                    ew.DocThrough,  
                    ew.DispatchFrom,  
                    ew.DispatchTo,  
                    ew.LrNo,  
                    ew.DispatchThrough,
                    ew.MotarRegno AS VehicleNo,
                    ew.RoadPermitForm AS Transporter ,
                    dispmaster.Remark ,
					MetalMaster.MetalName,
                    ProcessMaster.ProcessName,
					ROW_NUMBER() OVER (PARTITION BY Dispatchslipno , dispatch.srno  ORDER BY dispatch.srno) AS RowNum,
					    PlantMaster.PlantName as Plant,
F.PlantName as FromPlant,
dispatch.dispatchtransid,
dispmaster.CreatedBY
            FROM    dispatchmaster dispmaster   
					INNER JOIN dbo.EwayDetails ew on  ew.ID = dispmaster.DispatchID and ew.type =@EwayType
					INNER JOIN dispatchtrans dispatch ON dispatch.dispatchid = dispmaster.dispatchid  
                    INNER JOIN OrderTranse ordrtrans ON dispatch.OrderID = ordrtrans.CustomerOrderId and  
								dispatch.orderserialno = ordrtrans.SrNo and  
								dispatch.PartId = ordrtrans.PartId  
                    INNER JOIN ordermaster on ordermaster.CustomerOrderId = ordrtrans.customerorderid  
                    INNER JOIN CustomerMaster custmaster ON custmaster.CustomerId = dispmaster.CustomerId  
                    INNER JOIN CastingMaster castmaster ON castmaster.castingid = dispatch.PartId  
                    INNER JOIN dbo.PurchaseItemMaster ON castmaster.Dieid = dbo.PurchaseItemMaster.PurchaseItemId and PurchaseItemMaster.IsPattern = 1 
                    INNER jOIN DispatchGradewise on dispatch.dispatchtransid = DispatchGradewise.DispatchTransID  
                    --INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = DispatchGradewise.BatchID  
                    INNER JOIN CastingFinalRejection On CastingFinalRejection.InwardID = ordrtrans.RejInwardId  
					 and CastingFinalRejection.IsInHouseRej = 1  
                    INNER JOIN ProductionBatch ON CastingFinalRejection.productionbatchID = ProductionBatch.batchID  
                    LEFT JOIN CastingHeatCode ON CastingHeatCode.CastingID = CastingFinalRejection.CastingID  
					   and CastingHeatCode.ProductionBatchID = CastingFinalRejection.ProductionBatchID   
					   AND CastingHeatCode.HeatCodeID = CastingFinalRejection.HeatCodeID  
				   	left join MetalMaster ON MetalMaster.MetalId = DispatchGradewise.MetalId
                    left join ProcessMaster ON ProcessMaster.ProcessId = dispatch.FromProcess
						left join PlantMaster ON  PlantMaster.PlantId = dispmaster.ToPlantId
					LEFT join PlantMaster as F ON F.PlantId = dispmaster.PlantId  
                    Where  
                        dispmaster.DispatchID = @DispatchID  
                    AND ordrtrans.IsDeleted = 0  
                    AND dispatch.IsDeleted=0  
                    AND dispmaster.IspurchaseReturn = 1 
					union all
					  
					  SELECT  ROW_NUMBER() OVER (PARTITION BY castmaster.CastingName
						order BY castmaster.CastingName) AS SubSrNo,  
						dispmaster.DispatchID ,  
										EntryNo ,  
										Dispatchslipno ,  
                      
                    (CASE WHEN dispmaster.Prefix IS NULL  
                      OR dispmaster.Prefix = ''  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Prefix)  
                      + CASE  
                      WHEN dispmaster.Separator IS NULL  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
                      END  
                      END  
                      + CONVERT(VARCHAR(50), dispmaster.DispatchSlipNo)  
                      + CASE WHEN dispmaster.Separator IS NULL  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
                      END  
                      + CASE WHEN dispmaster.Suffix IS NULL  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Suffix)  
                      END)  AS InvoiceNo,  
                     CONVERT(VARCHAR(15), dispmaster.dispatchdate, 106) AS InvoiceDate ,  
                    Refinvno ,  
                    dispatchdate ,  
                    dispmaster.customerID ,  
                    dispatch.srno ,  
                    dispatch.dispatchqty as dispatchqty ,  
					CAST(ROUND(CastingFinalRejection.Weight / NULLIF(CastingFinalRejection.RejQty, 0), 2) AS DECIMAL(10,2)) AS Weight,

                    --cast((CastingMetal.CastingNetWeight) as decimal(10,3)) as weight ,  
                    dispatch.orderid ,  
                    dispatch.orderserialno ,  
                    cast((dispatch.weight) as decimal(10,3)) as TotalWeight ,  
                    null RequiredQty ,  
                      
-- case when @IfActive=1 then custmaster.CustomerCode else  isnull(custmaster.Displayname , custmaster.CustomerName ) end CustomerName ,  
                    null as CustomerName,
                  --(castmaster.Castingcode +' / '+  castmaster.CastingName) as CastingName,  
                    
                    castmaster.CastingName,
                  castmaster.CastingCode,
                    PurchaseItemMaster.ItemCode as PatternCode,
                  --  CONVERT(VARCHAR(11), OrderDate, 106) AS OrderDate ,  
				    null OrderDate,
                    null  CustomerOrderNo,  
                    batchno as HeatNo,  
                    HeatCode,  
                    dispatch.PartId as castingid,  
                   null CustomerOrderId,  
                    ew.DocThrough,  
                    ew.DispatchFrom,  
                    ew.DispatchTo,  
                    ew.LrNo,  
                    ew.DispatchThrough,
                    ew.MotarRegno AS VehicleNo,
                    ew.RoadPermitForm AS Transporter ,
                    dispmaster.Remark ,
					MetalMaster.MetalName,
                     null as ProcessName,
					ROW_NUMBER() OVER (PARTITION BY Dispatchslipno , dispatch.srno  ORDER BY dispatch.srno) AS RowNum,
					    PlantMaster.PlantName as Plant,
                    F.PlantName as FromPlant,dispatch.dispatchtransid,
dispmaster.CreatedBY
            FROM    dispatchmaster dispmaster   
					INNER JOIN dbo.EwayDetails ew on  ew.ID = dispmaster.DispatchID and ew.type = @EwayType
					INNER JOIN dispatchtrans dispatch ON dispatch.dispatchid = dispmaster.dispatchid 
				    INNER JOIN CastingMaster castmaster ON castmaster.castingid = dispatch.PartId  
                    INNER JOIN dbo.PurchaseItemMaster ON castmaster.Dieid = dbo.PurchaseItemMaster.PurchaseItemId and PurchaseItemMaster.IsPattern = 1 
                    INNER JOIN CastingFinalRejection On CastingFinalRejection.RejectionID = dispatch.Rejectionid
				    INNER JOIN ProductionBatch ON CastingFinalRejection.productionbatchID = ProductionBatch.batchID  
                    LEFT JOIN CastingHeatCode ON CastingHeatCode.CastingID = CastingFinalRejection.CastingID  
					   and CastingHeatCode.ProductionBatchID = CastingFinalRejection.ProductionBatchID   
					   AND CastingHeatCode.HeatCodeID = CastingFinalRejection.HeatCodeID  
				   	left join MetalMaster ON MetalMaster.MetalId = CastingFinalRejection.MetalId
                   left join PlantMaster ON  PlantMaster.PlantId = dispmaster.ToPlantId
					INNER join PlantMaster as F ON F.PlantId = dispmaster.PlantId  
                    Where  
                     dispmaster.DispatchID =  @DispatchID    AND
                    dispatch.IsDeleted=0  
					)as a
					Group by SubSrNo ,DispatchID ,  EntryNo ,   Dispatchslipno ,InvoiceNo, InvoiceDate ,  Refinvno ,  
                    dispatchdate ,customerID ,  srno , dispatchqty , weight ,orderid ,  orderserialno ,  TotalWeight ,  
					RequiredQty ,  CustomerName ,   CastingName, CastingCode,  PatternCode, OrderDate ,CustomerOrderNo,  
					HeatNo,  HeatCode,castingid,CustomerOrderId, DocThrough,DispatchFrom,  DispatchTo, LrNo,
					DispatchThrough,VehicleNo,Transporter,Remark,MetalName,ProcessName,  RowNum,Plant ,FromPlant,dispatchtransid
					,CreatedBY
				--	UNION ALL 

					
   END  
            ELSE  
            BEGIN  
            
            
            
            declare
	 @PName Nvarchar(500),
	@InMachineShopInward	uniqueidentifier	

	
	Select @PName =ProcessName from ProcessMaster where IsMachineShopInward =1 and AutoProcess = 0 and IsDeleted = 0
	Select  @InMachineShopInward = ProcessId from ProcessMaster where IsMachineShopInward =1 and AutoProcess = 1 and IsDeleted = 0 and ProcessName ='In ' + @PName
	
	
	;WITH dispatchgrad as
	(
	select
	Distinct
	DispatchGradewise.MetalID,
	DispatchGradewise.DispatchTransID
	from
	dispatchtrans
	inner join DispatchGradewise  On DispatchGradewise.DispatchTransID = dispatchtrans.dispatchtransid
	where
	dispatchtrans.IsDeleted = 0
	AND dispatchtrans.dispatchid = @DispatchID

	)

	

    select *,Sum(case when RowNum = 1 then SUM(Totalweight) else 0 end) Over() as Totalweightforall
	  from(SELECT   distinct
					 1 AS SubSrno,  
					 dispmaster.DispatchID ,  
					EntryNo ,  
                    Dispatchslipno ,  
                    (CASE WHEN dispmaster.Prefix IS NULL  
                      OR dispmaster.Prefix = ''  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Prefix)  
                      + CASE  
                      WHEN dispmaster.Separator IS NULL  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
                      END  
                      END  
                      + CONVERT(VARCHAR(50), dispmaster.DispatchSlipNo)  
                      + CASE WHEN dispmaster.Separator IS NULL  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
                      END  
                      + CASE WHEN dispmaster.Suffix IS NULL  
                      THEN ''  
                      ELSE CONVERT(VARCHAR(50), dispmaster.Suffix)  
                      END)  AS InvoiceNo,  
                    CONVERT(VARCHAR(15), dispmaster.dispatchdate, 106) AS InvoiceDate ,  
                    Refinvno ,  
                    dispatchdate ,  
                    dispmaster.customerID ,  
                    dispatch.srno ,  
                    dispatchqty ,  
                    cast((dispatch.weight / dispatch.dispatchqty) as decimal(10,3)) as weight ,  
                    dispatch.orderid ,  
                    dispatch.orderserialno ,  
                    cast((dispatch.TotalWeight) as decimal(10,3)) as TotalWeight ,  
                    RequiredQty ,  
                    case when @IfActive=1 then custmaster.CustomerCode else  isnull(custmaster.Displayname , custmaster.CustomerName ) end CustomerName ,  
               
     
				     castmaster.CastingName,
                      castmaster.CastingCode,
  
                    PurchaseItemMaster.ItemCode as PatternCode,    
                      CONVERT(VARCHAR(11), OrderDate, 106) AS OrderDate ,  
                    CustomerOrderNo,  
                    ordermaster.CustomerOrderId,  
                    ew.DocThrough,  
                    ew.DispatchFrom,  
                    ew.DispatchTo,  
                    ew.LrNo,  
                    ew.DispatchThrough,
                    ew.MotarRegno AS VehicleNo,
                    ew.RoadPermitForm AS Transporter,
                    MetalMaster.MetalName,
                    ProcessMaster.ProcessName,
                    PlantMaster.PlantName as Plant,
                    ToProcess.ProcessName as [ToProcess] ,
                    dispmaster.Remark,
					F.PlantName as FromPlant,dispatch.dispatchtransid,
					dispatch.TariffCode as TerrifCode,
					IsEwayGenerated,
					IsIGST,
					(dispatch.HSNIGST/ 2  ) AS SGST ,
                    (dispatch.HSNIGST/ 2  ) AS CGST ,
					dispatch.HSNIGST as IGST,
					0 as IsExport,--NA
					0 as PinCode,
					'' as SalesAgainstFormExport, --NA
					--IsIGST,
					PlantMaster.PinCode as BillingPincode,
					PlantMaster.PlantAddress as ShippingAddress,
					StateCode as ConsigneeStateCode,
					PlantMaster.PinCode  as ConsigneePincode,
					StateCode as StateCode,
					PlantMaster.GSTNo  as GSTNo,
					PlantMaster.PlantAddress as AddLine1, 
			        '' as AddLine2 , 0 as TaxableAmount,dispatchqty  as qty, 
					0 as RoundOff,-- NA
					0 as TotalAmountOfInvoice,
					'KGS'  as UQC,
					0 As TaxAmount,
					ROW_NUMBER() OVER (PARTITION BY Dispatchslipno , dispatch.srno  ORDER BY dispatch.srno) AS RowNum,
                    dispmaster.CreatedBY
                    --(select ProcessName from ProcessMaster where ProcessId = @InMachineShopInward) as [ToProcess]  
            FROM    dispatchmaster dispmaster 
					INNER JOIN dbo.EwayDetails ew on  ew.ID = dispmaster.DispatchID and ew.type = @EwayType
                    INNER JOIN dispatchtrans dispatch ON dispatch.dispatchid = dispmaster.dispatchid
					INNER JOIN dispatchgrad as DG ON DG.DispatchTransID = dispatch.dispatchtransid
                    left JOIN OrderTranse ordrtrans ON dispatch.OrderID = ordrtrans.CustomerOrderId and  
                    dispatch.orderserialno = ordrtrans.SrNo and  
                    dispatch.PartId = ordrtrans.PartId AND ordrtrans.IsDeleted = 0   
                    left JOIN ordermaster on ordermaster.CustomerOrderId = ordrtrans.customerorderid  
                    left JOIN CustomerMaster custmaster ON custmaster.CustomerId = dispmaster.CustomerId  
                    INNER JOIN CastingMaster castmaster ON castmaster.castingid = dispatch.PartId  
                    Left JOIN dbo.PurchaseItemMaster ON castmaster.Dieid = dbo.PurchaseItemMaster.PurchaseItemId and PurchaseItemMaster.IsPattern = 1
                    left join MetalMaster ON MetalMaster.MetalId = DG.MetalId
                    left join ProcessMaster ON ProcessMaster.ProcessId = dispatch.FromProcess
                    left join PlantMaster ON  PlantMaster.PlantId = dispmaster.ToPlantId
					LEFT join PlantMaster as F ON F.PlantId = dispmaster.PlantId  
                    left join ProcessMaster as ToProcess ON ToProcess.ProcessId = dispatch.ProcessTo
					 LEFT JOIN CityMaster ON PlantMaster.CityId = CityMaster.CityId  
                     LEFT JOIN StateMaster ON StateMaster.StateId = CityMaster.StateId  
                    Where  
                        dispmaster.DispatchID = @DispatchID  
                   
                    AND dispatch.IsDeleted=0  ) as a 
					Group by SubSrNo ,DispatchID ,  EntryNo ,   Dispatchslipno ,InvoiceNo, InvoiceDate ,  Refinvno ,  
                    dispatchdate ,customerID ,  srno , dispatchqty , weight ,orderid ,  orderserialno ,  TotalWeight ,  
					RequiredQty ,  CustomerName ,   CastingName, CastingCode,  PatternCode, OrderDate ,CustomerOrderNo,  
				    CustomerOrderId, DocThrough,DispatchFrom,  DispatchTo, LrNo,Plant,ToProcess,FromPlant,
					DispatchThrough,VehicleNo,Transporter,Remark,MetalName,ProcessName,  RowNum,dispatchtransid,CreatedBY,TerrifCode,IsEwayGenerated,IsExport,
					IsIGST,PinCode,--IsIGST,
					BillingPincode,
					 ShippingAddress,
					 ConsigneeStateCode,
					 ConsigneePincode,
					 StateCode,SalesAgainstFormExport,GSTNo,AddLine1,AddLine2,SGST,CGST,TaxableAmount,qty,RoundOff,TotalAmountOfInvoice,IGST,UQC,TaxAmount
 --  UNION ALL  
    
 --  SELECT  1 AS SubSrNo,  
 --    dispmaster.DispatchID ,  
 --    EntryNo ,  
 --    Dispatchslipno ,  
 --    (CASE WHEN dispmaster.Prefix IS NULL  
 --      OR dispmaster.Prefix = ''  
 --      THEN ''  
 --      ELSE CONVERT(VARCHAR(50), dispmaster.Prefix)  
 --      + CASE  
 --      WHEN dispmaster.Separator IS NULL  
 --      THEN ''  
 --      ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
 --      END  
 --      END  
 --      + CONVERT(VARCHAR(50), dispmaster.DispatchSlipNo)  
 --      + CASE WHEN dispmaster.Separator IS NULL  
 --      THEN ''  
 --      ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
 --      END  
 --      + CASE WHEN dispmaster.Suffix IS NULL  
 --      THEN ''  
 --      ELSE CONVERT(VARCHAR(50), dispmaster.Suffix)  
 --      END)  AS InvoiceNo,  
                     
 --    CONVERT(VARCHAR(15), dispmaster.dispatchdate, 106) AS InvoiceDate ,  
 --    Refinvno ,  
 --    dispatchdate ,  
 --    dispmaster.customerID ,  
 --    dispatch.srno ,  
 --    dispatchqty ,  
 --    cast((weight) as decimal(10,3)) as weight ,  
 --    orderid ,  
 --    dispatch.orderserialno ,  
 --     cast((dispatch.TotalWeight) as decimal(10,3)) as TotalWeight ,  
 --    RequiredQty ,  
       
 --case when @IfActive=1 then custmaster.CustomerCode else custmaster.CustomerName end CustomerName ,  
 --    --(castmaster.Castingcode +' / '+  castmaster.CastingName) as CastingName,  
 --    (  
 --     case when castmaster.Castingcode = castmaster.CastingName   
 --     then   
 --      castmaster.CastingName   
 --     else   
 --      (  
 --       case when ISNULL(castmaster.Castingcode,'') = ''    
 --       then   
 --        castmaster.CastingName  
 --       else   
 --        (  
 --         case when ISNULL(castmaster.CastingName,'') = ''    
 --         then   
 --          castmaster.Castingcode   
 --         else   
 --          (castmaster.Castingcode +' / '+  castmaster.CastingName)   
 --         end  
 --        )   
 --       end  
 --      )        
                 
 --     end  
 --    ) as CastingName ,  
                   
 --    -- 1 same , 2 only Casting Code , 3 only Casting Name , 4 View All Casting Code / Name  
 --    (  
 --     case when castmaster.Castingcode = castmaster.CastingName   
 --     then   
 --      '1'   
 --     else   
 --      (  
 --       case when ISNULL(castmaster.Castingcode,'') = ''    
 --       then   
 --        '2'   
 --       else   
 --        (case when ISNULL(castmaster.CastingName,'') = ''  then '3' else '4' end)   
 --       end  
 --      )        
                 
 --     end  
 --    ) as IsSameCasting ,  
 --    --CASE WHEN ( RequiredQty - dispatchqty ) < 0 THEN 0  
 --    --     ELSE ( RequiredQty - dispatchqty )  
 --    --END AS panddingqty ,  
 --    DieCode AS PatternCode,  
 --    CONVERT(VARCHAR(11), OrderDate, 106) AS OrderDate ,  
 --    CustomerOrderNo,  
 --    ordermaster.CustomerOrderId,  
 --                   dispmaster.DocThrough,  
 --                   dispmaster.DispatchFrom,  
 --                   dispmaster.DispatchTo,  
 --                   dispmaster.LrNo,  
 --                   dispmaster.DispatchThrough  
 --  FROM    dispatchmaster dispmaster INNER JOIN dispatchtrans dispatch ON dispatch.dispatchid = dispmaster.dispatchid  
 --    INNER JOIN OrderTranse ordrtrans ON dispatch.OrderID = ordrtrans.CustomerOrderId and  
 --    dispatch.orderserialno = ordrtrans.SrNo and  
 --    dispatch.PartId = ordrtrans.PartId  
 --    INNER JOIN ordermaster on ordermaster.CustomerOrderId = ordrtrans.customerorderid  
 --    INNER JOIN CustomerMaster custmaster ON custmaster.CustomerId = dispmaster.CustomerId  
 --    INNER JOIN CastingMaster castmaster ON castmaster.castingid = dispatch.PartId  
 --    INNER JOIN DieMaster ON DieMaster.DieId = castmaster.Dieid  
 --    where  
 --    dispmaster.DispatchID = @DispatchID AND   
 --    ordrtrans.IsDeleted = 0  
 --     AND dispatch.IsDeleted=0  
   END  
        --END  
   -- ELSE  
   --     BEGIN  
          
          
   --IF @HeatFlag = 1  
   --BEGIN  
   -- SELECT  dispmaster.DispatchID ,  
   --                 EntryNo ,  
   --                 Dispatchslipno ,  
   --                 (CASE WHEN dispmaster.Prefix IS NULL  
   --                   OR dispmaster.Prefix = ''  
   --                   THEN ''  
   --                   ELSE CONVERT(VARCHAR(50), dispmaster.Prefix)  
   --                   + CASE  
   --                   WHEN dispmaster.Separator IS NULL  
   --                   THEN ''  
   --                   ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
   --                   END  
   --                   END  
   --                   + CONVERT(VARCHAR(50), dispmaster.DispatchSlipNo)  
   --                   + CASE WHEN dispmaster.Separator IS NULL  
   --                   THEN ''  
   --                   ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
   --                   END  
   --                   + CASE WHEN dispmaster.Suffix IS NULL  
   --                   THEN ''  
   --                   ELSE CONVERT(VARCHAR(50), dispmaster.Suffix)  
   --                   END)  AS InvoiceNo,  
   --                    CONVERT(VARCHAR(15), dispmaster.dispatchdate, 106) AS InvoiceDate ,  
   --                 Refinvno ,  
   --                 dispatchdate ,  
   --                 dispmaster.customerID ,  
   --                 dispatch.srno ,  
   --                 DispatchGradewise.Qty as dispatchqty ,  
   --                 cast((dispatch.weight) as decimal(10,3)) as weight ,  
   --                 dispatch.orderid ,  
   --                 dispatch.orderserialno ,  
   --                 cast((dispatch.TotalWeight) as decimal(10,3)) as TotalWeight ,  
   --                 RequiredQty ,  
   --                 CustomerName ,  
   --                 --(castmaster.Castingcode +' / '+  castmaster.CastingName) as CastingName,  
   --                 (  
   --   case when castmaster.Castingcode = castmaster.CastingName   
   --   then   
   --    castmaster.CastingName   
   --   else   
   --    (  
   --     case when ISNULL(castmaster.Castingcode,'') = ''    
   --     then   
   --      castmaster.CastingName  
   --     else   
   --      (  
   --       case when ISNULL(castmaster.CastingName,'') = ''    
   --       then   
   --        castmaster.Castingcode   
   --       else   
   --        (castmaster.Castingcode +' / '+  castmaster.CastingName)   
   --       end  
   --      )   
   --     end  
   --    )        
                    
   --   end  
   --  ) as CastingName ,  
                      
   --                 -- 1 same , 2 only Casting Code , 3 only Casting Name , 4 View All Casting Code / Name  
   --                 (  
   --   case when castmaster.Castingcode = castmaster.CastingName   
   --   then   
   --    '1'   
   --   else   
   --    (  
   --     case when ISNULL(castmaster.Castingcode,'') = ''    
   --     then   
   --      '2'   
   --     else   
   --      (case when ISNULL(castmaster.CastingName,'') = ''  then '3' else '4' end)   
   --     end  
   --    )        
                    
   --   end  
   --  ) as IsSameCasting ,  
   --                 --CASE WHEN ( RequiredQty - dispatch.dispatchqty ) < 0 THEN 0  
   --                 --     ELSE ( RequiredQty - dispatch.dispatchqty )  
   --                 --END AS panddingqty ,  
   --                 DieCode as PatternCode,  
   --                 CONVERT(VARCHAR(11), OrderDate, 106) AS OrderDate ,  
   --                 CustomerOrderNo,  
   --                 batchno as HeatNo,  
   --                 HeatCode,  
   --                 dispatch.PartId    as castingid,  
   --                 ordermaster.CustomerOrderId  
   --         FROM    dispatchmaster dispmaster INNER JOIN dispatchtrans dispatch ON dispatch.dispatchid = dispmaster.dispatchid  
   --                 INNER JOIN OrderTranse ordrtrans ON dispatch.OrderID = ordrtrans.CustomerOrderId and  
   --                 dispatch.orderserialno = ordrtrans.SrNo and  
   --                 dispatch.PartId = ordrtrans.PartId  
   --                 INNER JOIN ordermaster on ordermaster.CustomerOrderId = ordrtrans.customerorderid  
   --                 INNER JOIN CustomerMaster custmaster ON custmaster.CustomerId = dispmaster.CustomerId  
   --                 INNER JOIN CastingMaster castmaster ON castmaster.castingid = dispatch.PartId  
   --                 INNER JOIN dbo.DieMaster ON castmaster.Dieid = dbo.DieMaster.DieId  
   --                 INNER jOIN DispatchGradewise on dispatch.dispatchtransid = DispatchGradewise.DispatchTransID  
   --                 INNER JOIN CastingStockBatch ON CastingStockBatch.Batchid = DispatchGradewise.BatchID  
   --                 INNER JOIN ProductionBatch ON CastingStockBatch.productionbatchID = ProductionBatch.batchID  
   --                 LEFT JOIN CastingHeatCode ON CastingHeatCode.CastingID = CastingStockBatch.CastingID and   
   --                 CastingHeatCode.ProductionBatchID = ProductionBatch.batchID  
   --                 Where  
   --                     dispmaster.DispatchID = @DispatchID  
   --                 AND ordrtrans.IsDeleted = 0  
   --                 AND dispatch.IsDeleted=0  
   --END  
   --ELSE  
   --BEGIN  
   --         SELECT  dispmaster.DispatchID ,  
   --                 EntryNo ,  
   --                 Dispatchslipno ,  
   --                 (CASE WHEN dispmaster.Prefix IS NULL  
   --                   OR dispmaster.Prefix = ''  
   --                   THEN ''  
   --                   ELSE CONVERT(VARCHAR(50), dispmaster.Prefix)  
   --                   + CASE  
   --                   WHEN dispmaster.Separator IS NULL  
   --                   THEN ''  
   --                   ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
   --                   END  
   --                   END  
   --                   + CONVERT(VARCHAR(50), dispmaster.DispatchSlipNo)  
   --                   + CASE WHEN dispmaster.Separator IS NULL  
   --                   THEN ''  
   --                   ELSE CONVERT(VARCHAR(50), dispmaster.Separator)  
   --                   END  
   --                   + CASE WHEN dispmaster.Suffix IS NULL  
   --                   THEN ''  
   --                   ELSE CONVERT(VARCHAR(50), dispmaster.Suffix)  
   --                   END)  AS InvoiceNo,  
                        
   --                 CONVERT(VARCHAR(15), dispmaster.dispatchdate, 106) AS InvoiceDate ,  
   --                 Refinvno ,  
   --                 dispatchdate ,  
   --                   CONVERT(VARCHAR(11), OrderDate, 106) AS OrderDate ,  
   --                 CustomerOrderNo,  
   --                 dispmaster.customerID ,  
   --                 dispatch.srno ,  
   --                 dispatchqty ,  
   --                 cast((weight) as decimal(10,3)) as weight ,  
   --                 orderid ,  
   --                 dispatch.orderserialno ,  
   --                  cast((dispatch.TotalWeight) as decimal(10,3)) as TotalWeight ,  
   --                 RequiredQty ,  
   --                 CustomerName ,  
   --                 --(castmaster.Castingcode +' / '+  castmaster.CastingName) as CastingName,  
   --                 (  
   --   case when castmaster.Castingcode = castmaster.CastingName   
   --   then   
   --    castmaster.CastingName   
   --   else   
   --    (  
   --     case when ISNULL(castmaster.Castingcode,'') = ''    
   --     then   
   --      castmaster.CastingName  
   --     else   
   --      (  
   --       case when ISNULL(castmaster.CastingName,'') = ''    
   --       then   
   --        castmaster.Castingcode   
   --       else   
   --        (castmaster.Castingcode +' / '+  castmaster.CastingName)   
   --       end  
   --      )   
   --     end  
   --    )        
                    
   --   end  
   --  ) as CastingName ,  
                      
   --                 -- 1 same , 2 only Casting Code , 3 only Casting Name , 4 View All Casting Code / Name  
   --                 (  
   --   case when castmaster.Castingcode = castmaster.CastingName   
   --   then   
   --    '1'   
   --   else   
   --    (  
   --     case when ISNULL(castmaster.Castingcode,'') = ''    
   --     then   
   --      '2'   
   --     else   
   --      (case when ISNULL(castmaster.CastingName,'') = ''  then '3' else '4' end)   
   --     end  
   --    )        
                    
   --   end  
   --  ) as IsSameCasting ,  
   --                 --CASE WHEN ( RequiredQty - dispatchqty ) < 0 THEN 0  
   --                 --     ELSE ( RequiredQty - dispatchqty )  
   --                 --END AS panddingqty ,  
   --                 DieCode AS PatternCode,  
   --                 ordermaster.CustomerOrderId  
   --         FROM    dispatchmaster dispmaster INNER JOIN dispatchtrans dispatch ON dispatch.dispatchid = dispmaster.dispatchid  
   --                 INNER JOIN OrderTranse ordrtrans ON dispatch.OrderID = ordrtrans.CustomerOrderId and  
   --                 dispatch.orderserialno = ordrtrans.SrNo and  
   --                 dispatch.PartId = ordrtrans.PartId  
   --                 INNER JOIN ordermaster on ordermaster.CustomerOrderId = ordrtrans.customerorderid  
   --                 INNER JOIN CustomerMaster custmaster ON custmaster.CustomerId = dispmaster.CustomerId  
   --                 INNER JOIN CastingMaster castmaster ON castmaster.castingid = dispatch.PartId  
   --                 INNER JOIN DieMaster ON DieMaster.DieId = castmaster.Dieid  
   --                 where  
   --                 dispmaster.DispatchID = @DispatchID  
   --                 AND ordrtrans.IsDeleted = 0  
   --                  AND dispatch.IsDeleted=0  
                       
   --         END           
   --     END  
   
GO
