USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchGSTByPurchaseItemId]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchGSTByPurchaseItemId]
	-- Add the parameters for the stored procedure here
    @PurchaseItemId UNIQUEIDENTIFIER = NULL ,
    @TarrifCode VARCHAR(50) = NULL
AS
    BEGIN
        DECLARE FetchGST CURSOR
        FOR
            SELECT  TariffCode
            FROM    PurchaseItemMaster
            WHERE   PurchaseItemId = @PurchaseItemId
        OPEN FetchGST
        FETCH NEXT FROM FetchGST INTO @TarrifCode
           
        WHILE ( @@FETCH_STATUS = 0 )
            BEGIN
            
                SELECT  CGST ,
                        SGST ,
                        IGST
                FROM    taxmaster
                        INNER JOIN HSNGSTMapping ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId
                WHERE   HSNGSTMapping.HSNCode = @TarrifCode
                FETCH NEXT FROM FetchGST INTO @TarrifCode 
            END 
        IF @@ERROR <> 0
            ROLLBACK TRANSACTION		
        CLOSE FetchGST;
        DEALLOCATE FetchGST;
    END
GO
