USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_TC]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TC]
    (
      @Parameter INT = 0 ,
      @Remarks VARCHAR(MAX) = NULL ,
      @EntityCode BIGINT = 0 ,
      @InvoiceId BIGINT = 0 ,
      @TCNO BIGINT = 0 ,
      @ShortClose BIT = NULL ,
      @MAXInvoiceId BIGINT = 0 ,
      @OrderTransID NUMERIC(18, 0) = 0 ,
      @GradeId BIGINT = 0 ,
      @Heat_Type VARCHAR(50) = NULL ,
      @HeatId BIGINT = 0 ,
      @Che_Carbon VARCHAR(50) = NULL ,
      @Che_Si VARCHAR(50) = NULL ,
      @Che_Mg VARCHAR(50) = NULL ,
      @Che_Mn VARCHAR(50) = NULL ,
      @Che_S VARCHAR(50) = NULL ,
      @Che_P VARCHAR(50) = NULL ,
      @Che_Cr VARCHAR(50) = NULL ,
      @Che_Ni VARCHAR(50) = NULL ,
      @Che_Mo VARCHAR(50) = NULL ,
      @Che_Cu VARCHAR(50) = NULL ,
      @Che_Ti VARCHAR(50) = NULL ,
      @Che_Al VARCHAR(50) = NULL ,
      @Che_B VARCHAR(50) = NULL ,
      @Che_NB VARCHAR(50) = NULL ,
      @Che_V VARCHAR(50) = NULL ,
      @TCDate DATETIME = NULL ,
      @Cycle VARCHAR(50) = NULL ,
      @tcid BIGINT = 0 ,
      @Me_Carbon VARCHAR(50) = NULL ,
      @Me_Si VARCHAR(50) = NULL ,
      @Me_Mn VARCHAR(50) = NULL ,
      @Me_S VARCHAR(50) = NULL ,
      @Me_P VARCHAR(50) = NULL ,
      @Me_Cr VARCHAR(50) = NULL ,
      @Me_Ni VARCHAR(50) = NULL ,
      @Me_Mo VARCHAR(50) = NULL ,
      @Me_Cu VARCHAR(50) = NULL ,
      @Me_Ra VARCHAR(50) = NULL ,
      @Me_BendTest VARCHAR(50) = NULL ,
      @Order_Transcation AS XML = NULL ,
      @Chemical_Heat_Measure_Value AS XML = NULL ,
      @Nodularity AS FLOAT = NULL ,
      @Perlite AS FLOAT = NULL ,
      @Ferrite AS FLOAT = NULL ,
      @NoduleCount AS FLOAT = NULL ,
      @NodulesPerMMSquare AS FLOAT = NULL ,
      @Mechanical_Heat_Measure_Value AS XML = NULL ,
      @Microstructure_Heat_Measure_Value AS XML = NULL ,
      @Is_Direct_Invoice VARCHAR(50) = NULL ,
      @OrganisationID BIGINT = 0 ,
      @StartingDate VARCHAR(50) = NULL ,
      @EndingDate VARCHAR(50) = NULL ,
      @Prefix VARCHAR(50) = NULL ,
      @Suffix VARCHAR(50) = NULL ,
      @Separator VARCHAR(50) = NULL,
      @M6 VARCHAR(50) = NULL ,
	  @M7 VARCHAR(50) = NULL ,
	  @M8 VARCHAR(50) = NULL ,
	  @M9 VARCHAR(50) = NULL ,
	  @M10 VARCHAR(50) = NULL 
	
    )
AS
    BEGIN TRANSACTION

    DECLARE @SQL_Query VARCHAR(8000)
    
	
    IF @Parameter = 1 -- Fetch all details from User_Master
        BEGIN

            SET @SQL_Query = '';

            SET @SQL_Query = @SQL_Query
                + 'select distinct 
			case when test_certficate.Prefix is null then '''' else Convert(varchar(50),test_certficate.Prefix) end + 
case when test_certficate.Separator is null then '''' else Convert(varchar(50),test_certficate.Separator) end + Convert(varchar(50),test_certficate.tcNo)+ 
case when test_certficate.Separator is null then '''' else Convert(varchar(50),test_certficate.Separator) end + 
case when test_certficate.Suffix is null then '''' else Convert(varchar(50),test_certficate.Suffix) end
as tcNo,test_certficate.tcNo as tcNoWithoutPrefixSuffix,
			grade,Convert(varchar(50),Invoice_Master.InvoiceDate,106) as InvoiceDate,Invoice_Master.IsDirectTC,Invoice_Master.InvoiceId,Invoice_Master.InvoiceCode,Party_Master.CompanyName,test_certficate.gradeId,Convert(varchar(50),test_certficate.TCDate,106) as TCDate,Convert(DATETIME,test_certficate.TCDate,101) as TC_OrderByDate
								from test_certficate,Invoice_Master,Party_Master,Grade_Master 
								where  test_certficate.gradeId=Grade_Master.gradeId and Party_Master.OrganisationId=Invoice_Master.OrganisationId and test_certficate.InvoiceId=Invoice_Master.InvoiceId and grade_Master.gradeId=test_certficate.gradeId and test_certficate.EntityCode='
                + CONVERT(VARCHAR(50), @EntityCode)
			
            IF @OrganisationID IS NOT NULL
                AND @OrganisationID != 0
                BEGIN

                    SET @SQL_Query = @SQL_Query + ' and  Party_Master.OrganisationID =' + CONVERT(VARCHAR(50), @OrganisationID)

                END	

            IF @TCNO IS NOT NULL
                AND @TCNO != 0
                BEGIN

                    SET @SQL_Query = @SQL_Query + ' and  test_certficate.TCNO =' + CONVERT(VARCHAR(50), @TCNO)

                END	

            IF @InvoiceId IS NOT NULL
                AND @InvoiceId != 0
                BEGIN

                    SET @SQL_Query = @SQL_Query + ' and  test_certficate.InvoiceId =' + CONVERT(VARCHAR(50), @InvoiceId)

                END	

            IF @StartingDate IS NOT NULL
                AND @StartingDate != ''
                AND @EndingDate IS NOT NULL
                AND @EndingDate != ''
                BEGIN	

                    SET @SQL_Query = @SQL_Query + ' and test_certficate.tcdate between''' + @StartingDate + '''  and  ''' + @EndingDate + ''''

                END

            IF @GradeId IS NOT NULL
                AND @GradeId != 0
                BEGIN

                    SET @SQL_Query = @SQL_Query + ' and  test_certficate.GradeId =' + CONVERT(VARCHAR(50), @GradeId)

                END	

            SET @SQL_Query = @SQL_Query + ' order by Convert(DATETIME,test_certficate.TCDate,101) DESC, tcno desc'

            EXECUTE (@SQL_Query)

			
        END
		
    ELSE
        IF @Parameter = 2 -- fetch tc chemical details done direct
            BEGIN

                SELECT  tcid AS SrNo ,
                        test_certficate.InvoiceId ,
                        CONVERT(VARCHAR(50), TcDate, 106) AS TcDate ,
                        CONVERT(VARCHAR(50), InvoiceDate, 106) AS InvoiceDate ,
                        cycle ,
                        gradeId ,
                        HeatId ,
                        che_carbon AS c ,
                        che_si AS si ,
                        che_mg AS mg ,
                        che_mn AS mn ,
                        che_s AS s ,
                        che_p AS p ,
                        che_cr AS cr ,
                        che_ni AS ni ,
                        che_mo AS mo ,
                        che_cu AS cu ,
                        che_ti AS ti ,
                        che_al AS al ,
                        che_b AS b ,
                        che_nb AS nb ,
                        che_v AS v ,
                        Remarks
                FROM    test_certficate ,
                        Invoice_Master
                WHERE   test_certficate.InvoiceId = Invoice_Master.InvoiceId
                        AND Heat_type = 'c'
                        AND test_certficate.EntityCode = @EntityCode
                        AND TCNo = @TCNo

            END

        ELSE
            IF @Parameter = 3 -- fetch tc mi details done direct
                BEGIN

                    SELECT  tcid AS SrNo ,
                            gradeId ,
                            HeatId ,
                            me_carbon AS c ,
                            me_cu AS cu ,
                            me_si AS si ,
                            me_ra AS ra ,
                            me_mn AS mn ,
                            me_s AS s ,
                            me_p AS p ,
                            me_cr AS cr ,
                            me_ni AS ni ,
                            me_mo AS mo ,
                            me_bendtest AS BendTest
                    FROM    test_certficate
                    WHERE   Heat_type = 'm'
                            AND EntityCode = @EntityCode
                            AND TCNo = @TCNo

                END


            ELSE
                IF @Parameter = 4 -- fetch tc mi details done direct
                    BEGIN

                        SELECT DISTINCT
                                Item_Master.GradeId ,
                                Grade_Master.Grade
                        FROM    Grade_Master ,
                                Invoice_Trans ,
                                test_certficate ,
                                Item_Master
                        WHERE   Invoice_Trans.ItemId = Item_Master.Id
                                AND Grade_Master.GradeId = Item_Master.GradeId
                                AND Item_Master.EntityCode = @EntityCode
                                AND Invoice_Trans.InvoiceId = test_certficate.InvoiceId
                                AND test_certficate.tcno = @TCNo
                    END

    IF @Parameter = 5 ----Update data into Test_Certificate 
        BEGIN
				
            DECLARE People CURSOR
            FOR
                SELECT  Node.value('(Heat_Type )[1]', 'varchar(50)') AS 'Heat_Type' ,
                        Node.value('(HeatId )[1]', 'bigint') AS 'HeatId' ,
                        Node.value('(Che_Carbon )[1]', 'varchar(50)') AS 'Che_Carbon' ,
                        Node.value('(Che_Si )[1]', 'varchar(50)') AS 'Che_Si' ,
                        Node.value('(Che_Mg )[1]', 'varchar(50)') AS 'Che_Mg' ,
                        Node.value('(Che_Mn )[1]', 'varchar(50)') AS 'Che_Mn' ,
                        Node.value('(Che_S )[1]', 'varchar(50)') AS 'Che_S' ,
                        Node.value('(Che_P )[1]', 'varchar(50)') AS 'Che_P' ,
                        Node.value('(Che_Cr )[1]', 'varchar(50)') AS 'Che_Cr' ,
                        Node.value('(Che_Ni )[1]', 'varchar(50)') AS 'Che_Ni' ,
                        Node.value('(Che_Mo )[1]', 'varchar(50)') AS 'Che_Mo' ,
                        Node.value('(Che_Cu )[1]', 'varchar(50)') AS 'Che_Cu' ,
                        Node.value('(Che_Ti )[1]', 'varchar(50)') AS 'Che_Ti' ,
                        Node.value('(Che_Al )[1]', 'varchar(50)') AS 'Che_Al' ,
                        Node.value('(Che_B )[1]', 'varchar(50)') AS 'Che_B' ,
                        Node.value('(Che_NB )[1]', 'varchar(50)') AS 'Che_NB' ,
                        Node.value('(Che_V )[1]', 'varchar(50)') AS 'Che_V' ,
                        @TCDate ,
                        @Cycle
                FROM    @Chemical_Heat_Measure_Value.nodes('/DocumentElement/Chemical_Heat_Measure_Value') AS TEMPXML ( Node )

            OPEN People;

            FETCH NEXT FROM People INTO @Heat_Type, @HeatId, @Che_Carbon, @Che_Si, @Che_Mg, @Che_Mn, @Che_S, @Che_P, @Che_Cr, @Che_Ni, @Che_Mo, @Che_Cu, @Che_Ti,
                @Che_Al, @Che_B, @Che_NB, @Che_V, @TCDate, @Cycle

            WHILE ( @@FETCH_STATUS = 0 )
		--Test_Certficate(Heat_Type,HeatId,Che_Carbon,Che_Si,Che_Mg,Che_Mn,Che_S,Che_P,Che_Cr,Che_Ni,Che_Mo,Che_Cu,Che_Ti,Che_Al,Che_B,Che_NB,Che_V,EntityCode,TCNo,InvoiceId,TCDate,Gradeid,Cycle)
                BEGIN			

					

                    BEGIN

                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
							
								--Commented by Ritik on 12-06-2025

                        --SELECT  @Prefix = Prefix ,
                        --        @Suffix = Suffix ,
                        --        @Separator = Separator
                        --FROM    Prefix_Suffix
                        --WHERE   Applydate <= @TCDate
                        --        AND Page_Name = 'TC'

						 SELECT top 1 @Prefix = Prefix ,
                                @Suffix = Suffix ,
                                @Separator = Separator
                        FROM    Prefix_Suffix
                        WHERE   Applydate <= @TCDate
                                AND Page_Name = 'TC'
								order by Applydate desc

                        UPDATE  Test_Certficate
                        SET     HeatId = @HeatId ,
                                Che_Carbon = @Che_Carbon ,
                                Che_Si = @Che_Si ,
                                Che_Mg = @Che_Mg ,
                                Che_Mn = @Che_Mn ,
                                Che_S = @Che_S ,
                                Che_P = @Che_P ,
                                Che_Cr = @Che_Cr ,
                                Che_Ni = @Che_Ni ,
                                Che_Mo = @Che_Mo ,
                                Che_Cu = @Che_Cu ,
                                Che_Ti = @Che_Ti ,
                                Che_Al = @Che_Al ,
                                Che_B = @Che_B ,
                                Che_NB = @Che_NB ,
                                Che_V = @Che_V ,
                                TCDate = @TCDate ,
                                Cycle = @Cycle ,
                                Prefix = @Prefix ,
                                Suffix = @Suffix ,
                                Separator = @Separator
                        WHERE   tcid = @Heat_Type
						
                    END			
					

                    FETCH NEXT FROM People INTO @Heat_Type, @HeatId, @Che_Carbon, @Che_Si, @Che_Mg, @Che_Mn, @Che_S, @Che_P, @Che_Cr, @Che_Ni, @Che_Mo, @Che_Cu,
                        @Che_Ti, @Che_Al, @Che_B, @Che_NB, @Che_V, @TCDate, @Cycle
		        
                END
            CLOSE People;

            DEALLOCATE People;	




            IF @@ERROR <> 0
                ROLLBACK TRANSACTION	

            DECLARE People CURSOR
            FOR
                SELECT  Node.value('(Heat_Type )[1]', 'varchar(50)') AS 'Heat_Type' ,
                        Node.value('(HeatId )[1]', 'bigint') AS 'HeatId' ,
                        Node.value('(Me_Carbon )[1]', 'varchar(50)') AS 'Me_Carbon' ,
                        Node.value('(Me_Si )[1]', 'varchar(50)') AS 'Me_Si' ,
                        Node.value('(Me_Mn )[1]', 'varchar(50)') AS 'Me_Mn' ,
                        Node.value('(Me_S )[1]', 'varchar(50)') AS 'Me_S' ,
                        Node.value('(Me_P )[1]', 'varchar(50)') AS 'Me_P' ,
                        Node.value('(Me_Cr )[1]', 'varchar(50)') AS 'Me_Cr' ,
                        Node.value('(Me_Ni )[1]', 'varchar(50)') AS 'Me_Ni' ,
                        Node.value('(Me_Mo )[1]', 'varchar(50)') AS 'Me_Mo' ,
                        Node.value('(Me_Cu )[1]', 'varchar(50)') AS 'Me_Cu' ,
                        @TCDate ,
                        Node.value('(Me_Ra )[1]', 'varchar(50)') AS 'Me_Ra' ,
                        Node.value('(Me_BendTest )[1]', 'varchar(50)') AS 'Me_BendTest' ,
                        @Cycle
                FROM    @Mechanical_Heat_Measure_Value.nodes('/DocumentElement/Mechanical_Heat_Measure_Value') AS TEMPXML ( Node )


            OPEN People;

            FETCH NEXT FROM People INTO @Heat_Type, @HeatId, @Me_Carbon, @Me_Si, @Me_Mn, @Me_S, @Me_P, @Me_Cr, @Me_Ni, @Me_Mo, @Me_Cu, @TCDate, @Me_Ra,
                @Me_BendTest, @Cycle

            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN			

			

                    BEGIN

                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION
						--Commented by Ritik on 12-06-2025
                        --SELECT  @Prefix = Prefix ,
                        --        @Suffix = Suffix ,
                        --        @Separator = Separator
                        --FROM    Prefix_Suffix
                        --WHERE   Applydate <= @TCDate
                        --        AND Page_Name = 'TC'

						SELECT top 1 @Prefix = Prefix ,
                                @Suffix = Suffix ,
                                @Separator = Separator
                        FROM    Prefix_Suffix
                        WHERE   Applydate <= @TCDate
                                AND Page_Name = 'TC'
								order by Applydate desc


                        UPDATE  Test_Certficate
                        SET     HeatId = @HeatId ,
                                Me_Carbon = @Me_Carbon ,
                                Me_Si = @Me_Si ,
                                Me_Mn = @Me_Mn ,
                                Me_S = @Me_S ,
                                Me_P = @Me_P ,
                                Me_Cr = @Me_Cr ,
                                Me_Ni = @Me_Ni ,
                                Me_Mo = @Me_Mo ,
                                Me_Cu = @Me_Cu ,
                                TCDate = @TCDate ,
                                Me_Ra = @Me_Ra ,
                                Me_BendTest = @Me_BendTest ,
                                Cycle = @Cycle ,
                                Prefix = @Prefix ,
                                Suffix = @Suffix ,
                                Separator = @Separator
                        WHERE   tcid = @Heat_Type
				
                    END			
			

                    FETCH NEXT FROM People INTO @Heat_Type, @HeatId, @Me_Carbon, @Me_Si, @Me_Mn, @Me_S, @Me_P, @Me_Cr, @Me_Ni, @Me_Mo, @Me_Cu, @TCDate, @Me_Ra,
                        @Me_BendTest, @Cycle
        
                END
            CLOSE People;
            IF @@ERROR <> 0
                ROLLBACK TRANSACTION	

            DECLARE People CURSOR
            FOR
                SELECT  Node.value('(Heat_Type )[1]', 'varchar(50)') AS 'Heat_Type' ,
                        Node.value('(HeatId )[1]', 'varchar(50)') AS 'HeatId' ,
                        Node.value('(Nodularity )[1]', 'varchar(50)') AS 'Nodularity' ,
                        Node.value('(Perlite )[1]', 'varchar(50)') AS 'Perlite' ,
                        Node.value('(Ferrite )[1]', 'varchar(50)') AS 'Ferrite' ,
                        Node.value('(NoduleCount )[1]', 'varchar(50)') AS 'NoduleCount' ,
                        Node.value('(NodulesPerMMSquare )[1]', 'varchar(50)') AS 'NodulesPerMMSquare',
                        Node.value('(M6 )[1]', 'varchar(50)') AS 'M6' ,
                        Node.value('(M7 )[1]', 'varchar(50)') AS 'M7' ,
                        Node.value('(M8 )[1]', 'varchar(50)') AS 'M8' ,
                        Node.value('(M9 )[1]', 'varchar(50)') AS 'M9' ,
                        Node.value('(M10 )[1]', 'varchar(50)') AS 'M10' 
                         
                FROM    @Microstructure_Heat_Measure_Value.nodes('/DocumentElement/Microstructure_Heat_Measure_Value') AS TEMPXML ( Node )


            OPEN People;

            FETCH NEXT FROM People INTO @Heat_Type, @HeatId, @Cycle, @Nodularity, @Perlite, @Ferrite, @NoduleCount, @NodulesPerMMSquare,@M6,@M7,@M8,@M9,@M10

            WHILE ( @@FETCH_STATUS = 0 )
                BEGIN			

			

                    BEGIN

                        IF @@ERROR <> 0
                            ROLLBACK TRANSACTION

							--Commented by Ritik on 12-06-2025
                        --SELECT  @Prefix = Prefix ,
                        --        @Suffix = Suffix ,
                        --        @Separator = Separator
                        --FROM    Prefix_Suffix
                        --WHERE   Applydate <= @TCDate
                        --        AND Page_Name = 'TC'

						 SELECT top 1 @Prefix = Prefix ,
                                @Suffix = Suffix ,
                                @Separator = Separator
                        FROM    Prefix_Suffix
                        WHERE   Applydate <= @TCDate
                                AND Page_Name = 'TC'
                        order by Applydate desc


                        UPDATE  Test_Certficate
                        SET     HeatId = @HeatId ,
                                TCDate = @TCDate ,
                                Cycle = @Cycle ,
                                Nodularity = @Nodularity ,
                                Perlite = @Perlite ,
                                Ferrite = @Ferrite ,
                                NoduleCount = @NoduleCount ,
                                NodulesPerMMSquare = @NodulesPerMMSquare ,
                                Prefix = @Prefix ,
                                Suffix = @Suffix ,
                                Separator = @Separator,
                                M6 = @M6 ,
                                M7 = @M7 ,
                                M8 = @M8 ,
                                M9 = @M9 ,
                                M10 = @M10
                                
                        WHERE   tcid = @Heat_Type
				
                    END			
			
                    FETCH NEXT FROM People INTO @Heat_Type, @HeatId, @Cycle, @Nodularity, @Perlite, @Ferrite, @NoduleCount, @NodulesPerMMSquare,@M6,@M7,@M8,@M9,@M10
        
                END
            CLOSE People;
        END


    IF @Parameter = 6 ----Update data into Test_Certificate
        BEGIN

            UPDATE  Challan_Trans
            SET     IsInvoiceDone = 'False'
            WHERE   challantransid IN ( SELECT  challantransid
                                        FROM    invoice_trans
                                        WHERE   InvoiceId = @InvoiceId )

            IF @@ERROR <> 0
                ROLLBACK TRANSACTION	
		
            DELETE  FROM Invoice_Master
            WHERE   InvoiceId = @InvoiceId

            IF @@ERROR <> 0
                ROLLBACK TRANSACTION	
		
            DELETE  FROM Invoice_trans
            WHERE   InvoiceId = @InvoiceId

            IF @@ERROR <> 0
                ROLLBACK TRANSACTION	


        END

    IF @Parameter = 6 ----Update data into Test_Certificate
        BEGIN
            SELECT DISTINCT
                    Party_Master.OrganisationId ,
                    Party_Master.CompanyName
            FROM    Party_Master ,
                    Invoice_Master ,
                    test_certficate
            WHERE   Party_Master.OrganisationId = Invoice_Master.OrganisationId
                    AND Invoice_Master.InvoiceId = test_certficate.InvoiceId
                    AND test_certficate.EntityCode = @EntityCode
	
        END
		
		
    IF @Parameter = 35 ----Insert data into Test_Certificate and Update Invoice_Master
        BEGIN

			--Commented by Ritik on 12-06-2025

            --SELECT  @Prefix = Prefix ,
            --        @Suffix = Suffix ,
            --        @Separator = Separator
            --FROM    Prefix_Suffix
            --WHERE   Applydate <= @TCDate
            --        AND Page_Name = 'TC'

			SELECT top 1 @Prefix = Prefix ,
                    @Suffix = Suffix ,
                    @Separator = Separator
            FROM    Prefix_Suffix
            WHERE   Applydate <= @TCDate
                    AND Page_Name = 'TC'
					order by Applydate desc

            INSERT  INTO Test_Certficate
                    ( Heat_Type ,
                      HeatId ,
                      Che_Carbon ,
                      Che_Si ,
                      Che_Mg ,
                      Che_Mn ,
                      Che_S ,
                      Che_P ,
                      Che_Cr ,
                      Che_Ni ,
                      Che_Mo ,
                      Che_Cu ,
                      Che_Ti ,
                      Che_Al ,
                      Che_B ,
                      Che_NB ,
                      Che_V ,
                      EntityCode ,
                      TCNo ,
                      InvoiceId ,
                      TCDate ,
                      Gradeid ,
                      Cycle ,
                      Remarks ,
                      Prefix ,
                      Suffix ,
                      Separator
                    )
                    SELECT  Node.value('(Heat_Type )[1]', 'varchar(50)') AS 'Heat_Type' ,
                            Node.value('(HeatId )[1]', 'varchar(50)') AS 'HeatId' ,
                            Node.value('(Che_Carbon )[1]', 'varchar(50)') AS 'Che_Carbon' ,
                            Node.value('(Che_Si )[1]', 'varchar(50)') AS 'Che_Si' ,
                            Node.value('(Che_Mg )[1]', 'varchar(50)') AS 'Che_Mg' ,
                            Node.value('(Che_Mn )[1]', 'varchar(50)') AS 'Che_Mn' ,
                            Node.value('(Che_S )[1]', 'varchar(50)') AS 'Che_S' ,
                            Node.value('(Che_P )[1]', 'varchar(50)') AS 'Che_P' ,
                            Node.value('(Che_Cr )[1]', 'varchar(50)') AS 'Che_Cr' ,
                            Node.value('(Che_Ni )[1]', 'varchar(50)') AS 'Che_Ni' ,
                            Node.value('(Che_Mo )[1]', 'varchar(50)') AS 'Che_Mo' ,
                            Node.value('(Che_Cu )[1]', 'varchar(50)') AS 'Che_Cu' ,
                            Node.value('(Che_Ti )[1]', 'varchar(50)') AS 'Che_Ti' ,
                            Node.value('(Che_Al )[1]', 'varchar(50)') AS 'Che_Al' ,
                            Node.value('(Che_B )[1]', 'varchar(50)') AS 'Che_B' ,
                            Node.value('(Che_NB )[1]', 'varchar(50)') AS 'Che_NB' ,
                            Node.value('(Che_V )[1]', 'varchar(50)') AS 'Che_V' ,
                            @EntityCode ,
                            @TCNo ,
                            @InvoiceId ,
                            @TCDate ,
                            @Gradeid ,
                            @Cycle ,
                            @Remarks ,
                            @Prefix ,
                            @Suffix ,
                            @Separator
                    FROM    @Chemical_Heat_Measure_Value.nodes('/DocumentElement/Chemical_Heat_Measure_Value') AS TEMPXML ( Node )

            IF @@ERROR <> 0
                ROLLBACK TRANSACTION	


            INSERT  INTO Test_Certficate
                    ( Heat_Type ,
                      HeatId ,
                      Me_Carbon ,
                      Me_Si ,
                      Me_Mn ,
                      Me_S ,
                      Me_P ,
                      Me_Cr ,
                      Me_Ni ,
                      Me_Mo ,
                      Me_Cu ,
                      EntityCode ,
                      TCNo ,
                      InvoiceId ,
                      TCDate ,
                      Gradeid ,
                      Me_Ra ,
                      Me_BendTest ,
                      Cycle ,
                      Remarks ,
                      Prefix ,
                      Suffix ,
                      Separator
                    )
                    SELECT  Node.value('(Heat_Type )[1]', 'varchar(50)') AS 'Heat_Type' ,
                            Node.value('(HeatId )[1]', 'varchar(50)') AS 'HeatId' ,
                            Node.value('(Me_Carbon )[1]', 'varchar(50)') AS 'Me_Carbon' ,
                            Node.value('(Me_Si )[1]', 'varchar(50)') AS 'Me_Si' ,
                            Node.value('(Me_Mn )[1]', 'varchar(50)') AS 'Me_Mn' ,
                            Node.value('(Me_S )[1]', 'varchar(50)') AS 'Me_S' ,
                            Node.value('(Me_P )[1]', 'varchar(50)') AS 'Me_P' ,
                            Node.value('(Me_Cr )[1]', 'varchar(50)') AS 'Me_Cr' ,
                            Node.value('(Me_Ni )[1]', 'varchar(50)') AS 'Me_Ni' ,
                            Node.value('(Me_Mo )[1]', 'varchar(50)') AS 'Me_Mo' ,
                            Node.value('(Me_Cu )[1]', 'varchar(50)') AS 'Me_Cu' ,
                            @EntityCode ,
                            @TCNo ,
                            @InvoiceId ,
                            @TCDate ,
                            @Gradeid ,
                            Node.value('(Me_Ra )[1]', 'varchar(50)') AS 'Me_Ra' ,
                            Node.value('(Me_BendTest )[1]', 'varchar(50)') AS 'Me_BendTest' ,
                            '' ,
                            @Remarks ,
                            @Prefix ,
                            @Suffix ,
                            @Separator
                    FROM    @Mechanical_Heat_Measure_Value.nodes('/DocumentElement/Mechanical_Heat_Measure_Value') AS TEMPXML ( Node )

            IF @@ERROR <> 0
                ROLLBACK TRANSACTION	

			
			
            INSERT  INTO Test_Certficate
                    ( Heat_Type ,
                      HeatId ,
                      Nodularity ,
                      Perlite ,
                      Ferrite ,
                      NoduleCount ,
                      NodulesPerMMSquare ,
                      EntityCode ,
                      TCNo ,
                      InvoiceId ,
                      TCDate ,
                      Gradeid ,
                      Cycle ,
                      Remarks ,
                      Prefix ,
                      Suffix ,
                      Separator,
                      M6,
                      M7,
                      M8,
                      M9,
                      M10
                      
                    )
                    SELECT  Node.value('(HeatType )[1]', 'varchar(50)') AS 'Heat_Type' ,
                            Node.value('(HeatID )[1]', 'varchar(50)') AS 'HeatID' ,
                            Node.value('(Nodularity )[1]', 'varchar(50)') AS 'Nodularity' ,
                            Node.value('(Perlite )[1]', 'varchar(50)') AS 'Perlite' ,
                            Node.value('(Ferrite )[1]', 'varchar(50)') AS 'Ferrite' ,
                            Node.value('(NoduleCount )[1]', 'varchar(50)') AS 'NoduleCount' ,
                            Node.value('(NodulesPerMMSquare )[1]', 'varchar(50)') AS 'NodulesPerMMSquare' ,
                            @EntityCode ,
                            @TCNo ,
                            @InvoiceId ,
                            @TCDate ,
                            @Gradeid ,
                            @Cycle ,
                            @Remarks ,
                            @Prefix ,
                            @Suffix ,
                            @Separator,
                            Node.value('(M6 )[1]', 'varchar(50)') AS 'M6' ,
                            Node.value('(M7 )[1]', 'varchar(50)') AS 'M7' ,
                            Node.value('(M8 )[1]', 'varchar(50)') AS 'M8' ,
                            Node.value('(M9 )[1]', 'varchar(50)') AS 'M9' ,
                            Node.value('(M10 )[1]', 'varchar(50)') AS 'M10'
                             
                    FROM    @Microstructure_Heat_Measure_Value.nodes('/DocumentElement/Microstructure_Heat_Measure_Value') AS TEMPXML ( Node )

            IF @@ERROR <> 0
                ROLLBACK TRANSACTION	
		
   
            UPDATE  Invoice_Trans
            SET     IsTestCertficateDone = 1
            WHERE   InvoiceId = @InvoiceId
                    AND ItemId IN ( SELECT  ID
                                    FROM    dbo.Item_Master
                                            INNER JOIN dbo.Invoice_Trans INVTNS ON INVTNS.ItemID = dbo.Item_Master.Id
                                                                                   AND INVTNS.InvoiceId = dbo.Invoice_Trans.InvoiceId
                                                                                   AND dbo.Item_Master.GradeId = @Gradeid )
   

			---Changed that if Direct TC Then Flag Should be on Invoice Master
            IF @Is_Direct_Invoice IS NOT NULL
                AND @Is_Direct_Invoice = 'Direct'
                BEGIN

                    UPDATE  Invoice_Master
                    SET     IsDirectTc = 1
                    WHERE   InvoiceId = @InvoiceId

                END
			---End Changed that if Direct TC Then Flag Should be on Invoice Master

            IF @@ERROR <> 0
                ROLLBACK TRANSACTION	

        END

    IF @Parameter = 36 ----Insert data into Test_Certificate and Update Invoice_Master
        BEGIN


            SELECT DISTINCT
                    Test_Certficate.Heat_Type ,
                    Test_Certficate.TcId ,
                    Invoice_Trans.ItemId ,
                    Test_Certficate.TcNo ,
                    CONVERT(VARCHAR(50), Test_Certficate.TcDate, 106) AS TcDate ,
                    Grade_Master.Grade ,
                    Grade_Master.CFCode ,
                    Heat_Master.HeatNo ,
                    Invoice_Trans.Qty ,
                    Invoice_master.InvoiceCode ,
                    Invoice_Master.InvoiceDate ,
                    Heat_Master.* ,
                    Company_Master.NameOfOrganization
            FROM    Invoice_Trans ,
                    Test_Certficate ,
                    Invoice_Master ,
                    Grade_Master ,
                    Heat_Master ,
                    Company_Master
            WHERE   Invoice_Trans.InvoiceId = Test_Certficate.InvoiceId
                    AND Invoice_Master.InvoiceId = Invoice_Trans.InvoiceId
                    AND Grade_Master.GradeId = Test_Certficate.GradeId
                    AND Heat_master.HeatId = Test_Certficate.HEatId
                    AND Test_Certficate.ItemId = Invoice_Trans.ItemId
                    AND Company_Master.EntityId = Invoice_Master.EntityCode
            ORDER BY Test_Certficate.Heat_Type ASC


        END
        
    IF @Parameter = 64----Fetch heatTreatment Cycle
        BEGIN

            SELECT  CONVERT(VARCHAR(50), ROW_NUMBER() OVER ( ORDER BY Heat_Treatment_Master.HTId DESC )) + '-' + 'Cycle' AS HTId ,
                    Heat_Treatment_Master.Cycle
            FROM    Heat_Treatment_Master ,
                    Heat_Treatment_Trans ,
                    Test_Certficate
            WHERE   Heat_Treatment_Master.HTId = Heat_treatment_trans.HTId
                    AND Test_Certficate.InvoiceId = @InvoiceId
                    AND Test_Certficate.HeatId = Heat_treatment_trans.HeatId
                    AND Test_Certficate.Heat_Type = 'C'

        END
    
    IF @Parameter = 67 ----Test Certificate DataTable 1
        BEGIN

            SELECT  ISNULL(dbo.Heat_Master.HeatNo, Test_Certficate.HeatId) AS HeatNo ,
                    Test_Certficate.TcNo ,
                    CONVERT(VARCHAR(50), Test_Certficate.TCDate, 106) AS TCDate ,
                    Test_Certficate.Che_Carbon ,
                    Test_Certficate.Che_Si ,
                    Test_Certficate.Che_Mn ,
                    Test_Certficate.Che_Mg ,
                    Test_Certficate.Che_S ,
                    Test_Certficate.Che_P ,
                    Test_Certficate.Che_Cr ,
                    Test_Certficate.Che_Ni ,
                    Test_Certficate.Che_Mo ,
                    Test_Certficate.Che_Cu ,
                    Test_Certficate.Che_Ti ,
                    Test_Certficate.Che_Al ,
                    Test_Certficate.Che_B ,
                    Test_Certficate.Che_NB ,
                    Test_Certficate.Che_V ,
                    Test_Certficate.Me_Carbon ,
                    Test_Certficate.Me_Si ,
                    Test_Certficate.Me_Mn ,
                    Test_Certficate.Me_S ,
                    Test_Certficate.Me_P ,
                    Test_Certficate.Me_Cr ,
                    Test_Certficate.Me_Ni ,
                    Test_Certficate.Me_Mo ,
                    Test_Certficate.Me_Cu ,
                    Test_Certficate.Me_Ra ,
                    Test_Certficate.Me_BendTest ,
                    dbo.Test_Certficate.Nodularity ,
                    dbo.Test_Certficate.Perlite ,
                    dbo.Test_Certficate.Ferrite ,
                    dbo.Test_Certficate.NoduleCount ,
                    dbo.Test_Certficate.NodulesPerMMSquare AS 'NodulesPerMMSq.' ,
                    Test_Certficate.Heat_Type,
                    dbo.Test_Certficate.M6 ,
                    dbo.Test_Certficate.M7 ,
                    dbo.Test_Certficate.M8 ,
                    dbo.Test_Certficate.M9 ,
                    dbo.Test_Certficate.M10                      
            FROM    Test_Certficate
                    LEFT JOIN dbo.Heat_Master ON dbo.Test_Certficate.HeatId = CAST(dbo.Heat_Master.HeatId AS VARCHAR(50))
            WHERE   Test_Certficate.TCNo = @TCNo
                    AND Test_Certficate.Heat_Type = 'C'
                    AND TCDate BETWEEN ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) )
                               AND     DATEADD(year, 1, ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) ))
            UNION ALL
            SELECT  ISNULL(dbo.Heat_Master.HeatNo, dbo.Test_Certficate.HeatId) AS HeatNo ,
                    Test_Certficate.TcNo ,
                    CONVERT(VARCHAR(50), Test_Certficate.TCDate, 106) AS TCDate ,
                    Test_Certficate.Che_Carbon ,
                    Test_Certficate.Che_Si ,
                    Test_Certficate.Che_Mn ,
                    Test_Certficate.Che_Mg ,
                    Test_Certficate.Che_S ,
                    Test_Certficate.Che_P ,
                    Test_Certficate.Che_Cr ,
                    Test_Certficate.Che_Ni ,
                    Test_Certficate.Che_Mo ,
                    Test_Certficate.Che_Cu ,
                    Test_Certficate.Che_Ti ,
                    Test_Certficate.Che_Al ,
                    Test_Certficate.Che_B ,
                    Test_Certficate.Che_NB ,
                    Test_Certficate.Che_V ,
                    Test_Certficate.Me_Carbon ,
                    Test_Certficate.Me_Si ,
                    Test_Certficate.Me_Mn ,
                    Test_Certficate.Me_S ,
                    Test_Certficate.Me_P ,
                    Test_Certficate.Me_Cr ,
                    Test_Certficate.Me_Ni ,
                    Test_Certficate.Me_Mo ,
                    Test_Certficate.Me_Cu ,
                    Test_Certficate.Me_Ra ,
                    Test_Certficate.Me_BendTest ,
                    dbo.Test_Certficate.Nodularity ,
                    dbo.Test_Certficate.Perlite ,
                    dbo.Test_Certficate.Ferrite ,
                    dbo.Test_Certficate.NoduleCount ,
                    dbo.Test_Certficate.NodulesPerMMSquare AS 'NodulesPerMMSq.' ,
                    Test_Certficate.Heat_Type,
                    dbo.Test_Certficate.M6 ,
                    dbo.Test_Certficate.M7 ,
                    dbo.Test_Certficate.M8 ,
                    dbo.Test_Certficate.M9 ,
                    dbo.Test_Certficate.M10                     
            FROM    Test_Certficate
                    LEFT JOIN dbo.Heat_Master ON dbo.Test_Certficate.HeatId = CAST(dbo.Heat_Master.HeatId AS VARCHAR(50))
            WHERE   Test_Certficate.TCNo = @TCNo
                    AND Test_Certficate.Heat_Type = 'M'
                    AND TCDate BETWEEN ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) )
                               AND     DATEADD(year, 1, ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) ))
            UNION ALL
            SELECT  ISNULL(dbo.Heat_Master.HeatNo, dbo.Test_Certficate.HeatId) AS HeatNo ,
                    Test_Certficate.TcNo ,
                    CONVERT(VARCHAR(50), Test_Certficate.TCDate, 106) AS TCDate ,
                    Test_Certficate.Che_Carbon ,
                    Test_Certficate.Che_Si ,
                    Test_Certficate.Che_Mn ,
                    Test_Certficate.Che_Mg ,
                    Test_Certficate.Che_S ,
                    Test_Certficate.Che_P ,
                    Test_Certficate.Che_Cr ,
                    Test_Certficate.Che_Ni ,
                    Test_Certficate.Che_Mo ,
                    Test_Certficate.Che_Cu ,
                    Test_Certficate.Che_Ti ,
                    Test_Certficate.Che_Al ,
                    Test_Certficate.Che_B ,
                    Test_Certficate.Che_NB ,
                    Test_Certficate.Che_V ,
                    Test_Certficate.Me_Carbon ,
                    Test_Certficate.Me_Si ,
                    Test_Certficate.Me_Mn ,
                    Test_Certficate.Me_S ,
                    Test_Certficate.Me_P ,
                    Test_Certficate.Me_Cr ,
                    Test_Certficate.Me_Ni ,
                    Test_Certficate.Me_Mo ,
                    Test_Certficate.Me_Cu ,
                    Test_Certficate.Me_Ra ,
                    Test_Certficate.Me_BendTest ,
                    dbo.Test_Certficate.Nodularity ,
                    dbo.Test_Certficate.Perlite ,
                    dbo.Test_Certficate.Ferrite ,
                    dbo.Test_Certficate.NoduleCount ,
                    dbo.Test_Certficate.NodulesPerMMSquare AS 'NodulesPerMMSq.' ,
                    dbo.Test_Certficate.Heat_Type,
                    dbo.Test_Certficate.M6 ,
                    dbo.Test_Certficate.M7 ,
                    dbo.Test_Certficate.M8 ,
                    dbo.Test_Certficate.M9 ,
                    dbo.Test_Certficate.M10
                    
            FROM    Test_Certficate
                    LEFT JOIN dbo.Heat_Master ON dbo.Test_Certficate.HeatId = CAST(dbo.Heat_Master.HeatId AS VARCHAR(50))
            WHERE   Test_Certficate.TCNo = @TCNo
                    AND Test_Certficate.Heat_Type = 'Mi'
                    AND TCDate BETWEEN ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) )
                               AND     DATEADD(year, 1, ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) ))
            

        END


    IF @Parameter = 68 ----Test Certificate Grade Master 1
        BEGIN

            SELECT DISTINCT
                    Grade_Property.*
            FROM    Grade_Property
                    INNER JOIN Test_Certficate ON Test_Certficate.GradeId = Grade_Property.GradeId
            WHERE   Test_Certficate.TCNo = @TCNo
                    AND TCDate BETWEEN ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) )
                               AND     DATEADD(year, 1, ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) ))

        END

    IF @Parameter = 69 ----Test Certificate DataTable 2 
        BEGIN


            SELECT DISTINCT
                    Invoice_Master.InvoiceId ,
                    Item_Master.Item ,
                    Invoice_Trans.ItemId ,
                    Grade_Master.Grade ,
                    Grade_Master.CFCode ,
                    Company_Master.NameOfOrganization ,
                    Company_Master.Address ,
                    Company_Master.City ,
                    Company_Master.State ,
                    Company_Master.ContactNo ,
                    COmpany_Master.WebSiteAddress ,
                    Invoice_Trans.Qty ,
                    --CASE WHEN Invoice_Master.Prefix IS NULL THEN ''
                    --     ELSE CONVERT(VARCHAR(50), Invoice_Master.Prefix)
                    --END + CASE WHEN Invoice_Master.Separator IS NULL THEN ''
                    --           ELSE CONVERT(VARCHAR(50), Invoice_Master.Separator)
                    --      END + CONVERT(VARCHAR(50), Invoice_Master.InvoiceCode) + CASE WHEN Invoice_Master.Separator IS NULL THEN ''
                    --                                                                    ELSE CONVERT(VARCHAR(50), Invoice_Master.Separator)
                    --                                                               END + CASE WHEN Invoice_Master.Suffix IS NULL THEN ''
                    --                                                                          ELSE CONVERT(VARCHAR(50), Invoice_Master.Suffix)
                    --                                                                     END
					  ISNULL(Invoice_Master.Prefix,'')	
					+ ISNULL(Invoice_Master.Separator,'')	
					+ CONVERT(VARCHAR(50), Invoice_Master.InvoiceCode)
					+ ISNULL(Invoice_Master.Separator,'')
					+ ISNULL(Invoice_Master.Suffix,'')																	 
					AS 'InvoiceCode' ,
                    Invoice_Master.InvoiceDate ,
                    Invoice_Master.OrganisationId ,
                    Party_Master.CompanyName AS CustomerName ,
                    Party_Master.BillingAddress1 ,
                    Party_Master.BillingAddress2 ,
                    Party_Master.BillingCity ,
                    Party_Master.BillingState ,
                    Party_Master.BillingPinCode
            FROM    Item_Master ,
                    Invoice_Trans ,
                    Invoice_Master ,
                    Grade_Master ,
                    Company_Master ,
                    Party_Master
            WHERE   Invoice_Master.InvoiceId = Invoice_Trans.InvoiceId
                    AND Company_Master.EntityId = Invoice_Master.EntityCode
                    AND Item_Master.ID = Invoice_Trans.ITemId
                    AND Grade_Master.GradeId = Item_Master.GradeId
                    AND Party_Master.OrganisationId = Invoice_Master.OrganisationId
                    AND Invoice_Master.InvoiceId IN (
                    SELECT DISTINCT
                            InvoiceId
                    FROM    dbo.Test_Certficate
                    WHERE   Test_Certficate.TCNo = @TCNo
                            AND TCDate BETWEEN ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) )
                                       AND     DATEADD(year, 1, ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) )) )

        END

    IF @Parameter = 70 ----Heat_treatment_cycle_Heat_Treatment_Master Datatable 
        BEGIN

            SELECT  Test_Certficate.Cycle ,
                    remarks
            FROM    Test_Certficate
            WHERE   Test_Certficate.TCNo = @TCNo
                    AND Test_Certficate.Heat_Type = 'C'
                    AND TCDate BETWEEN ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) )
                               AND     DATEADD(year, 1, ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) ))


            IF @Parameter = 140----Fetch heatTreatment Cycle
                BEGIN
		
		--set @MAXInvoiceID = (select MAX(InvoiceId) from Invoice_Master)		

                    SELECT  CONVERT(VARCHAR(50), ROW_NUMBER() OVER ( ORDER BY Heat_Treatment_Master.HTId DESC )) + '-' + 'Cycle' AS HTId ,
                            Heat_Treatment_Master.Cycle
                    FROM    Heat_Treatment_Master ,
                            Heat_Treatment_Trans ,
                            Test_Certficate
                    WHERE   Heat_Treatment_Master.HTId = Heat_treatment_trans.HTId
                            AND Test_Certficate.InvoiceId = @MAXInvoiceId
                            AND Test_Certficate.HeatId = Heat_treatment_trans.HeatId
                            AND Test_Certficate.Heat_Type = 'C'

                END


            IF @Parameter = 135  -- Fetch Customer of pending TC
                BEGIN
		
                    SELECT DISTINCT
                            CompanyName ,
                            party_master.OrganisationID
                    FROM    Invoice_Master ,
                            party_master
                    WHERE   Invoice_Master.OrganisationID = party_Master.OrganisationID
                            AND Invoice_Master.InvoiceType = 'C'
                            AND InvoiceID NOT IN ( SELECT   InvoiceID
                                                   FROM     test_Certficate )
                            AND Invoice_Master.EntityCode = @EntityCode 
		
                END
		

	
            IF @Parameter = 154 -- //Check InvoiceNo Duplication
                BEGIN
                    SELECT  *
                    FROM    dbo.Test_Certficate
                    WHERE   TCNo = @TCNo
                            AND EntityCode = @EntityCode
                            AND TCDate BETWEEN ( '04/01/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) )
                                       AND     DATEADD(year, 1, ( '03/31/' + CAST(YEAR(DATEADD(month, -3, GETDATE())) AS VARCHAR(4)) ))
                END
        END

	
    COMMIT TRANSACTION
GO
