USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[App_ManageSalesInvoice]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Harshad Chauhan>
-- Create date: <27 Nov 2019>
-- Description:	<Manage Sales Invoice>
-- =============================================
CREATE PROCEDURE [dbo].[App_ManageSalesInvoice]
	-- Add the parameters for the stored procedure here
	@P_Parameter INT = 0
  , @P_PageSize INT = 0
  , @P_PageNumber INT = 0
  , @P_isExport INT = 0
  , @P_DispatchId BIGINT = 0
  , @P_CastingID UNIQUEIDENTIFIER = NULL
  , @P_CastingName VARCHAR(MAX) = NULL
, @P_IsDeletedFlag INT  = 0
  , @P_SeriesID BIGINT = 0
, @P_ShowAll INT = 0
, @P_IsDelivered INT = 0
  , @P_CustomerId UNIQUEIDENTIFIER = NULL
  , @P_DateFrom DATETIME = NULL
  , @P_DateTo DATETIME = NULL
  , @P_UserId INT = 0
  
, @P_InvoiceNo VARCHAR(100) = NULL
  
  , @P_UserType VARCHAR(100) = ''
  , @P_Reason NVARCHAR(MAX) = ''
  
  ,@PlantIdString VARCHAR(MAX) = NULL
  ,@EntityID INT = 0
  
  ,@APP BIT = 0
  ,@PrintCustomerCode INT=0
   ,@pageCon_ApproveLevel Int=0
  , @Isporfoma int = 0
  , @CondOfSupply int = 0
  , @IsCancel bit = 0
  , @ChallanNo VARCHAR(50) = NULL
  , @IsExport BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	
	--Default Parameters
	DECLARE @Order_Is_Approve INT = 0, @Order_Is_ApproveFinal INT = 0
			, @Order_ApprovalLevel INT = 0, @Order_Is_Disapprove INT = 0
				
	IF @P_Parameter = 1				-- Fetch Dispatch register Details
    BEGIN
		
		DECLARE @UserCustCodeActv INT = ISNULL((SELECT TOP 1 1 FROM UserCustomerCodeActive WHERE UserID = @P_UserId), 0)
		
		SELECT TOP ( @P_PageSize ) *
		FROM (
			SELECT	ROW_NUMBER() OVER ( ORDER BY DispatchDate DESC, DispatchSlipNo DESC ) AS SerialNo
					, DispatchID
					, (CASE WHEN (@PrintCustomerCode = 1 AND @UserCustCodeActv = 1) THEN CustomerMaster.CustomerCode 
						ELSE CustomerMaster.CustomerName 
					END) CustomerName
					, (CASE WHEN @P_isExport = 0
							THEN ((CASE	WHEN DispatchMaster.Prefix IS NULL OR DispatchMaster.Prefix = '' THEN ''
											ELSE CONVERT(VARCHAR(50), DispatchMaster.Prefix) END)
								 + (CASE WHEN DispatchMaster.Separator IS NULL THEN ''
											ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator) END)
								 + CONVERT(VARCHAR(50), DispatchMaster.DispatchSlipNo)
								 + (CASE WHEN DispatchMaster.Separator IS NULL THEN ''
											ELSE CONVERT(VARCHAR(50), DispatchMaster.Separator) END)
								 + (CASE WHEN DispatchMaster.Suffix IS NULL THEN ''
											ELSE CONVERT(VARCHAR(50), DispatchMaster.Suffix) END))
							ELSE ((CASE WHEN DispatchMaster.ExpPrefix IS NULL OR DispatchMaster.ExpPrefix = '' THEN ''
											ELSE CONVERT(VARCHAR(50), DispatchMaster.ExpPrefix) END)
								 + (CASE WHEN DispatchMaster.ExpSeparator IS NULL THEN ''
											ELSE CONVERT(VARCHAR(50), DispatchMaster.ExpSeparator) END)
								 + CONVERT(VARCHAR(50), DispatchMaster.ExportNo)
								 + (CASE WHEN DispatchMaster.ExpSeparator IS NULL THEN ''
											ELSE CONVERT(VARCHAR(50), DispatchMaster.ExpSeparator) END)
								 + (CASE WHEN DispatchMaster.ExpSuffix IS NULL THEN ''
											ELSE CONVERT(VARCHAR(50), DispatchMaster.ExpSuffix) END))
					END) AS DispatchSlipNo
					, CONVERT(VARCHAR(15), DispatchDate, 106) AS DispatchDate ,
					IsApprove ,
					IsDisapprove ,
					IsApproveFinal ,
					AuthenticatedBy AS DisapproveUserId ,
					ApproveReason AS reason ,
					TotalAmount
					, (
						CASE WHEN (EXISTS (SELECT ApproveLevel FROM ApprovalUserRights WHERE UserId = @P_UserId AND Type = 2 --and EntityID = @EntityID
						))
							 THEN (	SELECT TOP 1 ApproveLevel FROM ApprovalUserRights WHERE UserId = @P_UserId AND Type = 2 -- and EntityID = @EntityID
							 )
							 ELSE -1 END
					) AS AccessRight
					, @APP AS AppCon_IsApprove
					,  @pageCon_ApproveLevel AS pageCon_ApproveLevel
					, (
						SELECT	TOP 1	(CASE WHEN ISNULL(MenuRights.MenuApprove, 0) = 0 THEN 1 
											  ELSE ISNULL(AccessApprove, 0) END) AccessApprove
						FROM    dbo.MenuMaster
						INNER JOIN dbo.AccessMenu ON dbo.MenuMaster.MenuId = dbo.AccessMenu.MenuId AND Userid = @P_UserId
						INNER JOIN dbo.MenuRights ON dbo.MenuMaster.MenuId = dbo.MenuRights.MenuId 
						WHERE   MenuMaster.OnClick = '_DISPATCHREGISTER' AND IfActive = 1
					) AS IsAccessRights
					--, DispatchMaster.CustomerId, RefInvNo, IsInvoice, DispatchMaster.IsDeleted
			FROM	DispatchMaster 
					INNER JOIN CustomerMaster ON DispatchMaster.CustomerID = CustomerMaster.CustomerID
			WHERE	ISNULL(DispatchMaster.isDeleted, 0) = 0
					AND ( @P_SeriesID = 0 OR SeriesId = @P_SeriesID )
					AND ( @P_CustomerId IS NULL OR DispatchMaster.CustomerID = @P_CustomerId )
					AND ( @P_DispatchId = 0 OR DispatchID = @P_DispatchId )
					AND ( @P_InvoiceNo IS NULL OR RefInvNo = @P_InvoiceNo )
					AND ( @P_CastingID IS NULL
						  OR DispatchID IN (
						  SELECT DISTINCT DispatchID FROM DispatchTrans WHERE CastingiD = @P_CastingID AND IsDeleted = 0 )
					)
					AND ( @P_CastingName IS NULL
						  OR DispatchID IN (
							  SELECT DISTINCT DispatchID
							  FROM      DispatchTrans 
										INNER JOIN CastingMaster ON CastingMaster.CastingID = DispatchTrans.CastingID
							  WHERE      CastingName = @P_CastingName AND DispatchTrans.IsDeleted = 0 )
					)
					AND ( @P_DateFrom IS NULL OR @P_DateTo IS NULL
						  OR (DispatchMaster.DispatchDate BETWEEN @P_DateFrom AND @P_DateTo) )
					AND IsExport = @P_isExport
					AND (@PlantIdString IS NULL 
						OR @PlantIdString = ''
						OR DispatchMaster.PlantID IN (
							SELECT * FROM dbo.SplitString(@PlantIdString, ',') )
					)
					AND DispatchMaster.EntityID = @EntityId
					AND ( ISNULL(@ChallanNo, '') = '' OR ChallanNo = @ChallanNo )
					AND IsExport = @isExport
					AND ( (@IsCancel = 0 AND  ISNULL(DispatchMaster.isDeleted, 0) = 0)
							OR (@IsCancel = 1 AND  ISNULL(DispatchMaster.IsCancelled, 0) = 1)
					)
					And( isnull(@CondOfSupply,0) = 0 
						Or dispatchmaster.DispatchID  In (
								Select dispatchtrans.dispatchid from dispatchtrans
										Inner Join OrderTranse on OrderTranse.CustomerOrderId = dispatchtrans.orderid 
											and OrderTranse.CastingId = dispatchtrans.castingid 
											and OrderTranse.SrNo = dispatchtrans.orderserialno
								Where	dispatchtrans.IsDeleted = 0 and OrderTranse.IsDeleted = 0 
										and OrderTranse.CondOfSupply= @CondOfSupply 
						)
					)
					AND ((@Isporfoma =1 AND  DispatchMaster.isProforma = 1 )
						OR (@Isporfoma =0 AND  DispatchMaster.isProforma = 0)
					)
		) AS DispatchMaster
		WHERE   DispatchMaster.SerialNo > ( @P_PageNumber * @P_PageSize )
	END
     
	ELSE IF @P_Parameter = 2		-- Fetch Item Details Get Details
    BEGIN
		SELECT  ROW_NUMBER() OVER ( ORDER BY TypeOfItem ) AS 'Sr No' , *
		FROM    ( 
				SELECT		CastingName,
							CastingCode,
							DispatchQty,
							Rate ,
							DispatchTrans.TotalAmount ,
							'1.Regular' TypeOfItem
				FROM		dbo.dispatchmaster
							INNER JOIN dbo.dispatchtrans ON dbo.dispatchtrans.dispatchid = dbo.dispatchmaster.DispatchID
							INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.CastingId = dbo.dispatchtrans.PartId
				WHERE		dispatchmaster.DispatchID = @P_DispatchId
							AND DispatchTrans.isDeleted = 0
		                    
				UNION ALL
				SELECT		SetName AS CastingName ,
							SetCode AS CastingCode ,
							DispatchSetItemTrans.Qty AS DispatchQty ,
							Rate ,
							DispatchSetItemTrans.TotalAmount ,
							'2.SetItem' TypeOfItem
				FROM		dbo.DispatchSetItemTrans
							INNER JOIN dbo.OrderSetItemTrans ON dbo.OrderSetItemTrans.OrderSetItemTransID = dbo.DispatchSetItemTrans.OrderSetItemTransID
							INNER JOIN dbo.SetMaster ON dbo.SetMaster.SetId = dbo.OrderSetItemTrans.SetId
				WHERE		DispatchID = @P_DispatchId
							AND DispatchSetItemTrans.isDeleted = 0
		                    
				UNION ALL
				SELECT		Item AS CastingName ,
							ServiceNo AS CastingCode ,
							dbo.DispatchServiceItemTrans.Qty AS DispatchQty ,
							DispatchServiceItemTrans.Rate ,
							DispatchServiceItemTrans.TotalAmount,
							'3.ServiceItem' TypeOfItem
				FROM		DispatchServiceItemTrans
							INNER JOIN dbo.OrderServiceItemTrans ON DispatchServiceItemTrans.OrderServiceItemTransID = dbo.OrderServiceItemTrans.OrderServiceItemID
							INNER JOIN dbo.ServiceItemMaster ON dbo.ServiceItemMaster.ServiceItemId = OrderServiceItemTrans.ServiceItemId
				WHERE		DispatchID = @P_DispatchId
							AND DispatchServiceItemTrans.isDeleted = 0
							AND OrderServiceItemTrans.isDeleted = 0
		                    
				UNION ALL
				SELECT		SPRequirement AS CastingName ,
							Code AS CastingCode ,
							dbo.DispatchServiceItemTrans.Qty AS DispatchQty ,
							DispatchServiceItemTrans.Rate ,
							DispatchServiceItemTrans.TotalAmount,
							'3.SpReqItem' TypeOfItem
				FROM		DispatchServiceItemTrans
							INNER JOIN dbo.OrderSpecialRequirement ON DispatchServiceItemTrans.OrderSpecialRequirementId = dbo.OrderSpecialRequirement.OrderSpecialRequirementId
							Inner Join OrderTranse On OrderTranse.OrderTranseId = OrderSpecialRequirement.OrderTranseId
							INNER JOIN dbo.SPRequirementMaster ON dbo.SPRequirementMaster.SPRequirementID = OrderSpecialRequirement.SPRequirementId
				WHERE		DispatchID = @P_DispatchId
							AND DispatchServiceItemTrans.isDeleted = 0
							AND dbo.OrderTranse.IsDeleted = 0
		) AS DispatchTable
    END   
    
    ELSE IF @P_Parameter = 3		-- Approve Sales invoice
    BEGIN
		DECLARE @ApproveLevel INT  = 0, @POIsApprove INT = 0, @POIsApproveFinal INT = 0--, @PoNo VARCHAR(20) = NULL
				, @TotalAmount FLOAT = 0 , @POFirstLevelApprovalAmount FLOAT = 0, @POSecondLevelApprovalAmount FLOAT = 0
				, @AccessRight INT = -1
				
		SET @ApproveLevel = @pageCon_ApproveLevel
		 	
		SELECT @POIsApprove = IsApprove, @POIsApproveFinal = IsApproveFinal
		FROM dispatchmaster WHERE DispatchID = @P_DispatchId
		
		--SELECT @ApproveLevel, @POIsApprove , @POIsApproveFinal, @TotalAmount
		--		, @POSecondLevelApprovalAmount, @POFirstLevelApprovalAmount
		IF EXISTS ( SELECT  ApproveLevel FROM ApprovalUserRights WHERE UserId = @P_UserId AND Type = 2 --and EntityID = @EntityID
		 )
        BEGIN
			SET @AccessRight = ( SELECT ApproveLevel FROM ApprovalUserRights WHERE UserId = @P_UserId AND Type = 2 --and EntityID = @EntityID
			)
		END 
			
		IF ((@ApproveLevel = 0 AND @POIsApprove = 0) OR (@ApproveLevel = 1 AND @POIsApproveFinal = 0))
		BEGIN
			IF(@ApproveLevel = 1)
			BEGIN
				IF ((@AccessRight = 2) AND @POIsApprove = 1)
                BEGIN
                    SET @Order_Is_ApproveFinal = 1; SET @Order_ApprovalLevel = 1;
                END
                ELSE
                BEGIN
                    SET @Order_Is_ApproveFinal = 0; SET @Order_ApprovalLevel = 0;
                END
                
                IF(LOWER(@P_UserType) = 'admin')
				BEGIN
					IF (@POIsApprove = 0)
					BEGIN
						SET @Order_Is_ApproveFinal = 0; SET @Order_ApprovalLevel = 0;
					END
					ELSE
					BEGIN
						SET @Order_Is_ApproveFinal = 1; SET @Order_ApprovalLevel = 1;
					END
				END
			END
			ELSE
			BEGIN
                SET @Order_Is_ApproveFinal = 0; SET @Order_ApprovalLevel = 1;
			END
			
			SET @Order_Is_Disapprove = 0;
	        
	        UPDATE  dispatchmaster
            SET     IsApprove = 1 ,
                    IsApproveFinal = @Order_Is_ApproveFinal,
                    dbo.dispatchmaster.AuthenticatedBy = @P_UserId
            WHERE   DispatchID = @P_DispatchId
            
			IF @@ERROR <> 0
				ROLLBACK TRANSACTION
		    
			DECLARE @UserXML AS XML, @ShortDescription VARCHAR(MAX)
			
			DECLARE @CurrencySymbol NVARCHAR(50), @DispatchSlipNo VARCHAR(100)
							, @Prefix NVARCHAR(50), @Separator NVARCHAR(50), @Suffix NVARCHAR(50)
			IF (@Order_ApprovalLevel = 0 AND @ApproveLevel = 1)
			-- Check in config. Flag is Set for One level Approval or 2 level approval. 
			-- if one level approval is there then notification should not go to next level instead it should go to user that PO is approved.
			BEGIN
				IF EXISTS ( SELECT  Code FROM    NotificationPage WHERE   Code = 'DAN' AND Isactive = 1 )
				BEGIN
					SET @CurrencySymbol = ( SELECT  Symbol FROM    CurrencyMaster
                                            INNER JOIN dispatchmaster ON CurrencyMaster.CurrencyID = dispatchmaster.Currency AND DispatchID = @P_DispatchId )
					
					SELECT	@TotalAmount = TotalAmount, @DispatchSlipNo = Dispatchslipno
							, @Prefix = Prefix, @Separator = Separator, @Suffix = Suffix--, @IsExport = IsExport
					FROM	dispatchmaster
					WHERE   Dispatchid = @P_DispatchId
					
                    --IF @IsExport = 1
                    --BEGIN
                    --    SET @Prefix = ( SELECT  ExpPrefix FROM    dispatchmaster WHERE   Dispatchid = @DispatchID )
                    --    SET @Separator = ( SELECT ExpSeparator FROM   dispatchmaster WHERE  Dispatchid = @DispatchID )
                    --    SET @Suffix = ( SELECT  ExpSuffix FROM    dispatchmaster WHERE   Dispatchid = @DispatchID )
                    --END
                    
                    SET @UserXML = (	SELECT ( 
											SELECT  UserId AS UserID FROM ApprovalUserRights WHERE ApproveLevel = 2 AND Type = 2 --and EntityID = @EntityID
                                            FOR XML PATH('UserDetail') , TYPE )
										FOR XML PATH('') , ROOT('DocumentElement') 
                                   )
									
                            SET @ShortDescription = 'Invoice (' + ISNULL(@Prefix, '') + ISNULL(@Separator, '')
                                + @DispatchSlipNo + ISNULL(@Separator, '') + ISNULL(@Suffix, '') + ') of amount '
                                + CONVERT(VARCHAR(150), @TotalAmount) + @CurrencySymbol
                                + ' has been made. Please check and Approve it.';
                                
                            EXEC dbo.InsertNotification @Type = 'DispatchApprovalNotification', -- uniqueidentifier
                                @Title = 'Invoice Approval', -- float
                                @ShortDescription = @ShortDescription,
                                @UserXML = @UserXML, @LookUPID1 = @P_DispatchId
				END
		    
			END
		        
			-- This notification is for if One level approval is there then notify back to po creater that po is approved.
			-- This notification will go to PO creator
			IF (( @Order_ApprovalLevel = 0 AND @ApproveLevel = 0 )
				OR ( @Order_ApprovalLevel = 1 AND @ApproveLevel = 1 ))
			-- Check in config. Flag is Set for One level Approval or 2 level approval. 
			-- if one level approval is there then notification should not go to next level instead it should go to user that PO is approved.
			BEGIN
				IF EXISTS ( SELECT  Code FROM    NotificationPage WHERE   Code = 'POA' AND Isactive = 1 )
				BEGIN
      				SET @UserXML = ( SELECT ( 
      										SELECT UserId AS UserID FROM NotificationConfiguration
											inner join NotificationPage on NotificationPage.Code = NotificationConfiguration.Code
											WHERE NotificationPage.Code = 'TCN' and IsActive = 1
										FOR XML PATH('UserDetail') , TYPE )
								   FOR XML PATH('') , ROOT('DocumentElement')
								   )
					
					Select	@Prefix = DispatchMaster.Prefix,
							@Separator = dispatchmaster.Separator,
							@Dispatchslipno = dispatchmaster.Dispatchslipno,
							@Suffix = dispatchmaster.Suffix	
					From	dispatchmaster 
					where DispatchID=@P_DispatchId			   
					
					SET @Dispatchslipno = ISNULL(@Prefix, '') + ISNULL(@Separator, '') + @Dispatchslipno + ISNULL(@Separator, '') + ISNULL(@Suffix, '')
					
					SET @ShortDescription = 'Invoice (' + @Dispatchslipno + ') has been generated. Please make TC for it.';
					
					EXEC dbo.InsertNotification @Type = 'TCNotification', -- uniqueidentifier
						@Title = 'Check TC for the invoice', -- float
						@ShortDescription = @ShortDescription,
						@UserXML = @UserXML
				END
			END
		END
		SELECT 1
    END
    
    ELSE IF @P_Parameter = 4		-- Disapprove PO
    BEGIN
		DECLARE @UserApproveLevel INT
		IF EXISTS (SELECT ApproveLevel FROM ApprovalUserRights WHERE UserId = @P_UserId AND Type = 1 --and EntityID = @EntityID
		)
        BEGIN
            SET @UserApproveLevel = (	SELECT  ApproveLevel FROM  ApprovalUserRights WHERE   UserId = @P_UserId AND Type = 1 --and EntityID = @EntityID
            )
        END
		ELSE
		BEGIN
			SET @UserApproveLevel = -1
		END
        
		IF ((SELECT IsDisapprove FROM dispatchmaster WHERE DispatchID = @P_DispatchId) = 0)
        BEGIN
            IF (@pageCon_ApproveLevel = 1)
            BEGIN
                IF (@UserApproveLevel = 1)
                    SET @Order_Is_Approve = 0
                ELSE
                    SET @Order_Is_Approve = 1
            END
            ELSE
                SET @Order_Is_Approve = 0
            
            SET @Order_Is_ApproveFinal = 0
            SET @Order_Is_Disapprove = 1
            
            UPDATE  dispatchmaster
            SET     IsApprove = @Order_Is_Approve ,
                    IsApproveFinal = @Order_Is_ApproveFinal ,
                    ApproveReason = @P_Reason ,
                    IsDisapprove = @Order_Is_Disapprove ,
                    dbo.dispatchmaster.AuthenticatedBy = @P_UserId
            WHERE   DispatchID = @P_DispatchId
        END
        
        SELECT 1
    END
    
    ELSE IF @P_Parameter = 5		-- Get Customer Name by sales invoice
    BEGIN
		IF(@PrintCustomerCode = 1)
		BEGIN
			DECLARE @V_Codeorname INT = 0
			IF EXISTS(SELECT 1 FROM UserCustomerCodeActive WHERE UserID = @P_UserId)
			BEGIN
				SET @V_Codeorname = 1
			END
			
			EXEC [FetchCustomerNameCode] @Codeorname = @V_Codeorname, @EntityId = @EntityID, @PlantIdString = @PlantIdString
		END
		ELSE
		BEGIN
			EXEC [Dispatch] @Parameter = 7
		END
    END
END
GO
