USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Maintenance_PreventiveMaintenanceCheckDuplication]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Maintenance_PreventiveMaintenanceCheckDuplication]
@ScheduleTransId bigint,
@EntityCode bigint,
@DueDate datetime
AS
BEGIN
	SET NOCOUNT ON;
SELECT     dbo.MaintenancePreventiveMaintenance.ID, dbo.MaintenancePreventiveMaintenance.PreventiveMaintenanceMasterId, dbo.MaintenancePreventiveMaintenance.ScheduleId, 
                      dbo.MaintenancePreventiveMaintenance.DueDate, dbo.MaintenancePreventiveMaintenance.Supervisor, dbo.MaintenancePreventiveMaintenance.InsertedBy, dbo.MaintenancePreventiveMaintenance.InsertedDate, 
                      dbo.MaintenancePreventiveMaintenance.EntityCode, dbo.MaintenancePreventiveMaintenance.Status, dbo.EquipmentMaster.EquipmentName, dbo.EquipmentMaster.EquipmentCode, 
                      dbo.CheckList_Master.CheckListName, dbo.MaintenanceFrequency.Name, dbo.MaintenancePreventiveScheduleMaster.FrequencyID, dbo.MaintenancePreventiveScheduleMaster.EquipId AS Expr1, 
                      dbo.MaintenancePreventiveScheduleMaster.CheckListId AS Expr2, dbo.MaintenanceFrequency.Frequency, dbo.MaintenanceSupervisor.Name AS Expr3, 
                      dbo.MaintenancePreventiveMaintenanceMaster.PerformedBy
FROM         dbo.MaintenancePreventiveMaintenance INNER JOIN
                      dbo.MaintenancePreventiveScheduleMaster ON dbo.MaintenancePreventiveMaintenance.ScheduleId = dbo.MaintenancePreventiveScheduleMaster.ScheduleId INNER JOIN
                      dbo.MaintenancePreventiveMaintenanceMaster ON dbo.MaintenancePreventiveMaintenance.PreventiveMaintenanceMasterId = dbo.MaintenancePreventiveMaintenanceMaster.ID INNER JOIN
                      dbo.EquipmentMaster ON dbo.MaintenancePreventiveScheduleMaster.EquipId = dbo.EquipmentMaster.EquipId INNER JOIN
                      dbo.CheckList_Master ON dbo.MaintenancePreventiveScheduleMaster.CheckListId = dbo.CheckList_Master.CheckListId INNER JOIN
                      dbo.MaintenanceFrequency ON dbo.MaintenancePreventiveScheduleMaster.FrequencyID = dbo.MaintenanceFrequency.ID INNER JOIN
                      dbo.MaintenanceSupervisor ON dbo.MaintenancePreventiveMaintenance.Supervisor = dbo.MaintenanceSupervisor.ID
WHERE     (MaintenancePreventiveMaintenance.ScheduleId = @ScheduleTransId) AND (MaintenancePreventiveMaintenance.DueDate = @DueDate) AND 
(MaintenancePreventiveMaintenance.EntityCode = @EntityCode)
END
GO
