USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MachineShopInward_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--[dbo].[MachineShopInward_Register] '2022-05-01','2023-03-31','00000000-0000-0000-0000-000000000000',0
CREATE PROCEDURE [dbo].[MachineShopInward_Register]
@StartDate Datetime,
@EndDate DatetIme,
@CastingID UNIQUEIDENTIFIER = NULL,
@CreatedBy int,
@EntityID int,
@PageType int,
@PlantIdString VARCHAR(MAX) = NULL ,
@InwardId UNIQUEIDENTIFIER = NULL,
@fromPlant int = 0,
@toPlant int = 0  ,
@heatid BIGINT = 0 ,
@HeatCode nvarchar(100) = '' ,
@CastingName nvarchar(100) = null
AS
BEGIN


     declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
	 IF (CONVERT(UNIQUEIDENTIFIER, 0x00)) = @CastingID
     Begin
     SET @CastingID = null
     END
     
      IF (CONVERT(UNIQUEIDENTIFIER, 0x00)) = @InwardId
     Begin
     SET @InwardId = null
     END
	 	--Commented by Ritik on 12-06-2025

     
        select
                ROW_NUMBER() OVER ( ORDER BY RM.InwardDate DESC ) AS SrNo, 
                --CastingMaster.CastingId,
                RM.InwardId,
		        --ICP.CastingId,
				--(SELECT  CASE WHEN Prefix IS NULL
				--							 THEN ''
				--							 ELSE CONVERT(VARCHAR(50), Prefix)
				--						END
				--						+ CASE WHEN Separator IS NULL
				--							   THEN ''
				--							   ELSE CONVERT(VARCHAR(50), Separator)
				--						  END
				--						+ CONVERT(VARCHAR(50), RM.INWno)
				--						+ CASE WHEN Separator IS NULL
				--							   THEN ''
				--							   ELSE CONVERT(VARCHAR(50), Separator)
				--						  END
				--						+ CASE WHEN Suffix IS NULL
				--							   THEN ''
				--							   ELSE CONVERT(VARCHAR(50),Suffix)
				--						  END AS PatternIssueCode 
										  
				--						  ) 
										    ISNULL(Prefix,'')	
											+ ISNULL(Separator,'')	
											+ CONVERT(VARCHAR(50),RM.INWno)
											+  ISNULL(Separator,'')
											+ISNULL(Suffix,'')
										  AS InwardNo,
		        --(SELECT  CASE WHEN Prefix_Suffix.Prefix IS NULL
										--	 THEN ''
										--	 ELSE CONVERT(VARCHAR(50), Prefix_Suffix.Prefix)
										--END
										--+ CASE WHEN Prefix_Suffix.Separator IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), Prefix_Suffix.Separator)
										--  END
										--+ CONVERT(VARCHAR(50), RM.INWno)
										--+ CASE WHEN Prefix_Suffix.Separator IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), Prefix_Suffix.Separator)
										--  END
										--+ CASE WHEN Prefix_Suffix.Suffix IS NULL
										--	   THEN ''
										--	   ELSE CONVERT(VARCHAR(50), Prefix_Suffix.Suffix)
										--  END AS PatternIssueCode ) AS InwardNo,
		        Convert(varchar(20),RM.InwardDate , 106) as [Inward Date],
		        RM.ChallanNo as [Challan No],
		        Convert(varchar(20),RM.ChallanDate , 106) as [Challan Date],
		        
				RM.EmployeeId as createdby,
				EmployeeDetails.EmployeeName,
				F.PlantName as [Inward Plant] , 
				RM.Remarks
		from
		RawMaterialInward RM
	    left JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = RM.EmployeeId
		LEFT JOIN dbo.InvoiceSeries ON dbo.InvoiceSeries.SeriesId = RM.SeriesId
		--LEFT JOIN dbo.Prefix_Suffix ON dbo.Prefix_Suffix.PrefixSuffixId = dbo.InvoiceSeries.PrefixSuffixId
		LEFT join PlantMaster as F ON F.PlantId = RM.PlantId
		where
		ISNUll(RM.IsDeleted,0) <> 1
	
		AND
		RM.ISmachineShopInward = 1
		AND
		RM.InwardDate BETWEEN @StartDate AND @EndDate
		and
		(@CastingID is null OR @CastingID in (select CastingId from InwardCastingPurchase where InwardCastingPurchase.InwardId =RM.InwardId))
		and
		(@CastingName is null OR @CastingName in (select CastingName from InwardCastingPurchase
						inner join CastingMaster on CastingMaster.CastingId = InwardCastingPurchase.CastingId
						where InwardCastingPurchase.InwardId =RM.InwardId))
		and
		(@CreatedBy Is null OR @CreatedBy = 0 OR @CreatedBy = RM.EmployeeId)
		and
		(@InwardId Is Null OR RM.InwardId = @InwardId)
		and
		RM.EntityId = @EntityID
		and 
		PageType = @PageType
		AND ( ISNULL(@PlantIdString,'') = ''                                    
           OR RM.PlantId IN (                                    
            SELECT Item FROM @Plant )                                    
           )    
		   	And (@heatid = 0 Or @heatid in  (select InwardCastingHeatDetails.HeatId  from InwardCastingPurchase
			inner join InwardCastingHeatDetails On InwardCastingPurchase.InwardCastingPurchaseId = InwardCastingHeatDetails.InwardCastingPurchaseId
		--	inner join CastingStockBatch as CS ON CS.Batchid = InwardCastingHeatDetails.HeatId
			where InwardCastingPurchase.InwardId =RM.InwardId  )
			or
			 @heatid in  (select CastingFinalRejection.ProductionBatchID  from InwardCastingPurchase
			inner join CastingFinalRejection On CastingFinalRejection.RejectionID = InwardCastingPurchase.Rejectionid
		--	inner join CastingStockBatch as CS ON CS.Batchid = InwardCastingHeatDetails.HeatId
			where InwardCastingPurchase.InwardId =RM.InwardId  )
			)
								And (@HeatCode  is null  Or @HeatCode = ''
											Or @HeatCode in  (select CastingHeatCode.HeatCode from InwardCastingPurchase
			inner join InwardCastingHeatDetails On InwardCastingPurchase.InwardCastingPurchaseId = InwardCastingHeatDetails.InwardCastingPurchaseId
			inner join CastingStockBatch as CS ON CS.Batchid = InwardCastingHeatDetails.BatchID
			LEFT JOIN CastingHeatCode ON CS.HeatCodeId = CastingHeatCode.HeatCodeId        
							  AND CastingHeatCode.ProductionBatchID = CS.productionbatchID         
							  And CastingHeatCode.CastingID = CS.CastingID 	
			where InwardCastingPurchase.InwardId =RM.InwardId  )
			or
			@HeatCode in  (select CastingHeatCode.HeatCode from InwardCastingPurchase
			inner join CastingFinalRejection as CS ON CS.RejectionID = InwardCastingPurchase.Rejectionid
			LEFT JOIN CastingHeatCode ON CS.HeatCodeId = CastingHeatCode.HeatCodeId        
							  AND CastingHeatCode.ProductionBatchID = CS.productionbatchID         
							  And CastingHeatCode.CastingID = CS.CastingID 	
			where InwardCastingPurchase.InwardId =RM.InwardId  )
			)

		 and (@toPlant = 0 or F.PlantId   =@toPlant)  	
		and (@fromPlant = 0 or @fromPlant in  (select Top 1 F.PlantId from dispatchtrans,dispatchmaster,InwardCastingPurchase ICP,PlantMaster F

		where dispatchmaster.DispatchID = dispatchtrans.dispatchid and dispatchtrans.dispatchtransid =ICP.DispatchTransID and dispatchmaster.PlantId = F.PlantId
		and icp.InwardId = rm.InwardId
		))  	
		Select
		Distinct
		InwardCastingPurchase.CastingId,
		CastingMaster.CastingName,
		CastingMaster.CastingCode
		from
		
		RawMaterialInward RM
		--left JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = RM.CreatedBy
		left JOIN EmployeeDetails ON EmployeeDetails.EmployeeId = RM.EmployeeId
		INNER JOIN InwardCastingPurchase ON InwardCastingPurchase.InwardId = RM.InwardId
		INNER JOIN CastingMaster ON CastingMaster.castingID = InwardCastingPurchase.CastingID
		
		where
		ISNUll(RM.IsDeleted,0) <> 1
		AND
		RM.ISmachineShopInward = 1
		AND
		RM.InwardDate BETWEEN @StartDate AND @EndDate
		and
		RM.EntityId =@EntityID
		and
		RM.PageType = @PageType
		AND ( ISNULL(@PlantIdString,'') = ''                                    
           OR RM.PlantId IN (                                    
            SELECT Item FROM @Plant )                                    
           ) 
END
GO
