USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[FetchCastingWiseDie]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
  -- =============================================  
-- Author:  <Yashvi Shah>  
-- Create date: <10 May 2018>  
-- Description: <This will fetch Die Name and Die Id>  
-- =============================================  
CREATE  PROCEDURE [dbo].[FetchCastingWiseDie]  
 @CastingId UNIQUEIDENTIFIER = NULL  
AS  
BEGIN  
 ---- 0 means active, 1 means Inactive  
 --SELECT  DieMaster.DieId AS PatternId ,  
 --  DieMaster.DieCode AS  PatternCode  
 --FROM    DieMaster  
 --WHERE   @CastingId IS NULL  
 --  OR DieId IN ( SELECT    Dieid  
 --        FROM      CastingMaster  
 --        WHERE     CastingId = @CastingId )  
 --  AND DieMaster.IsActive = 0   
      
 SELECT  PurchaseItemMaster.PurchaseItemId AS PatternId ,  
   PurchaseItemMaster.ItemCode AS  PatternCode  
 FROM    PurchaseItemMaster  
 WHERE   @CastingId IS NULL  
   OR PurchaseItemMaster.PurchaseItemId IN ( SELECT    Dieid  
         FROM      CastingMaster  
         WHERE     CastingId = @CastingId )  
   AND PurchaseItemMaster.IsPatternActive =  1 and PurchaseItemMaster.IsPattern = 1


END  
GO
