USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_PlantMaster]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================  
-- Author:  <Sufiyan>  
-- Create date: <4april2019,,>  
-- Description: <PlantMaster,,>  
-- =============================================  
CREATE PROCEDURE [dbo].[SP_PlantMaster]  

	@PlantMapping PlantMappingTable readonly,
	@Type int = 0,
 -- Add the parameters for the stored procedure here  
    @PlantId NVARCHAR(500) = NULL ,  
    @PlantName VARCHAR(500) = NULL ,  
    @PlantAddress NVARCHAR(MAX) = NULL ,  
    @CityId INT = NULL ,  
    @StateId INT = NULL ,  
    @CreatedBy INT = NULL ,  
    @CreatedOn DATETIME = NULL ,  
    @ModifyBy INT = NULL ,  
    @ModifyDate DATETIME = NULL ,  
    @DeletedBy INT = NULL ,  
    @DeletedOn DATETIME = NULL ,  
    @IsDeleted BIT = 0 ,  
    @CastingId UNIQUEIDENTIFIER = NULL ,  
    @Parameter INT = 0 ,  
    @XMLPlantDetails XML = NULL ,  
    @CustomerId UNIQUEIDENTIFIER = NULL ,  
    @UserId INT = 0  
  , @TypeOfId UNIQUEIDENTIFIER = NULL  
  , @IsTypeOf NVARCHAR(100) = NULL  
  , @GstNo NVARCHAR(100) = NULL  
  , @PanNo NVARCHAR(100) = NULL  
  --added by megha  
  , @ContactPerson VARCHAR(100) = NULL,  
    @ContactNo NVARCHAR(100) = NULL ,  
    @MobileNo NVARCHAR(100) = NULL,  
    @WebSiteAddress  NVARCHAR(100) = NULL,  
    @Email NVARCHAR(100) = NULL  
    ,@dtContactDetail XML = null  
    ------  
  , @IntTypeOfId int = 0  
  , @EntityID int = 0  
  , @PlantIdString VARCHAR(MAX) = NULL  
  , @PlantCode  NVARCHAR(10) = NULL 
  , @IsWarehouse int = 0,
  
    @CustomerTypeId UNIQUEIDENTIFIER = NULL ,
    @CustomerCategoryId UNIQUEIDENTIFIER = NULL ,
    @CastingName varchar(MaX) = null,
	@PinCode Varchar(100) = null

AS  
    BEGIN  
        IF ( @Parameter = 1 )  
            BEGIN  
                INSERT  INTO PlantMaster  
                        ( PlantName ,  
                          PlantAddress ,  
                          CityId ,  
                          CreatedBy ,  
                          CreatedOn ,  
                          IsDeleted ,  
                          GSTNo ,  
                          PANNo,  
                          EntityId  ,
                          PlantCode,
                          IsWarehouse ,
						  PinCode
                        )  
                VALUES  ( @PlantName ,  
                          @PlantAddress ,  
                          @CityId ,  
                          @CreatedBy ,  
                          GETDATE() ,  
                          0 ,  
                          @GstNo ,  
                          @PanNo,  
                          @EntityID  ,
                          @PlantCode,
                          @IsWarehouse,
						  @PinCode
                        )  
                          
                Set @PlantId = SCOPE_IDENTITY();  
                  
                DECLARE CursorContactDetail CURSOR  
                       For  
                    SELECT  Node.value('(dgvContactPerson)[1]', 'varchar(Max)') AS 'ContactPerson' ,  
                            Node.value('(dgvContactNo)[1]', 'nvarchar(Max)') AS 'ContactNo' ,  
                            Node.value('(dgvMobileNo)[1]', 'nvarchar(Max)') AS 'MobileNo' ,  
                            Node.value('(dgvWebSiteAddress)[1]', 'nvarchar(Max)') AS 'WebSiteAddress' ,  
                            Node.value('(dgvEmail)[1]', 'nvarchar(Max)') AS 'Email'   
                    FROM    @dtContactDetail.nodes('/DocumentElement/TableContactDetail')  
                            AS TEMPXML ( Node )  
                  
                        OPEN CursorContactDetail;  
                                     
                        FETCH NEXT FROM CursorContactDetail INTO @ContactPerson, @ContactNo,@MobileNo,@WebSiteAddress,@Email  
                  
                        WHILE ( @@FETCH_STATUS = 0 )  
                        BEGIN  
       Insert into PlantContactDetails  
         ( PlantID,  
         ContactPerson,  
         ContactNo,  
         MobileNo,  
         WebSiteAddress,  
         Email)  
       Values(@PlantId,  
         @ContactPerson,  
         @ContactNo,  
         @MobileNo,  
         @WebSiteAddress ,  
         @Email)     
                                 
                        FETCH NEXT FROM CursorContactDetail INTO @ContactPerson, @ContactNo,@MobileNo,@WebSiteAddress,@Email  
                           
                        END  
                        CLOSE CursorContactDetail;  
                        DEALLOCATE CursorContactDetail;    
                       
			   if((Select Count(PlantId) from PlantMaster where IsDeleted = 0) > 1)
				Begin
					update MenuMaster set IfActive = 1 where ID='PLANTWISESTOCKSUMMARY'
					update MenuMaster set IfActive = 1 where ID='INTERPLANTCASTINGTRANSFER'
					update MenuMaster set IfActive = 1 where ID='INTERPLANTCASTINGTRANSFERREGISTER'
					update MenuMaster set IfActive = 1 where ID='INTERPLANTCASTINGINWARD'
					update MenuMaster set IfActive = 1 where ID='INTERPLANTCASTINGINWARDREGISTER'
					Update UserMaster set MenuVersion = MenuVersion + 1
				END
            END  
              
        IF ( @Parameter = 2 )  
            BEGIN  
                UPDATE  PlantMaster  
                SET     PlantName = @PlantName ,  
                        PlantAddress = @PlantAddress ,  
                        CityId = @CityId ,  
                        ModifyBy = @ModifyBy ,  
                        ModifyOn = GETDATE()  
                      , GSTNo = @GstNo  
                      , PANNo = @PanNo  
                      , PlantCode=@PlantCode
					  ,PinCode = @PinCode
                     ,IsWarehouse =@IsWarehouse 
                WHERE   PlantId = @PlantId  
                  
                if exists(Select * from PlantContactDetails where PlantID = @PlantId)  
                begin  
     Delete from PlantContactDetails where PlantID = @PlantId  
                end  
                   
                DECLARE CursorContactDetail CURSOR  
                       For  
                    SELECT  Node.value('(dgvContactPerson)[1]', 'varchar(Max)') AS 'ContactPerson' ,  
                            Node.value('(dgvContactNo)[1]', 'nvarchar(Max)') AS 'ContactNo' ,  
                            Node.value('(dgvMobileNo)[1]', 'nvarchar(Max)') AS 'MobileNo' ,  
                            Node.value('(dgvWebSiteAddress)[1]', 'nvarchar(Max)') AS 'WebSiteAddress' ,  
                            Node.value('(dgvEmail)[1]', 'nvarchar(Max)') AS 'Email'   
                    FROM    @dtContactDetail.nodes('/DocumentElement/TableContactDetail')  
                            AS TEMPXML ( Node )  
                  
                        OPEN CursorContactDetail;  
                                     
                        FETCH NEXT FROM CursorContactDetail INTO @ContactPerson, @ContactNo,@MobileNo,@WebSiteAddress,@Email  
                  
                        WHILE ( @@FETCH_STATUS = 0 )  
                        BEGIN  
       Insert into PlantContactDetails  
         ( PlantID,  
         ContactPerson,  
         ContactNo,  
         MobileNo,  
         WebSiteAddress,  
         Email)  
       Values(@PlantId,  
         @ContactPerson,  
         @ContactNo,  
         @MobileNo,  
         @WebSiteAddress ,  
         @Email)     
                                 
                        FETCH NEXT FROM CursorContactDetail INTO @ContactPerson, @ContactNo,@MobileNo,@WebSiteAddress,@Email  
                           
                        END  
                        CLOSE CursorContactDetail;  
                        DEALLOCATE CursorContactDetail;    
            END  
              
        IF ( @Parameter = 3 )  
            BEGIN  
                SELECT  PlantId ,  
                        PlantName ,  
                        PlantAddress ,  
                        CityMaster.City ,  
                        StateMaster.State ,  
                        CountryMaster.CountryName  ,
                        PlantMaster.PlantCode  ,
                        case when IsWarehouse =1 then 'Yes' else 'No'  end as Warehouse,
						GSTNo,
						StateCode
                FROM    PlantMaster  
                        LEFT JOIN CityMaster ON PlantMaster.CityId = CityMaster.CityId  
                        LEFT JOIN StateMaster ON StateMaster.StateId = CityMaster.StateId  
                        LEFT JOIN CountryMaster ON CountryMaster.CountryId = StateMaster.CountryId  
                WHERE   PlantMaster.IsDeleted = 0  
                and PlantMaster.EntityId = @EntityID  
            END  
              
        IF ( @Parameter = 4 )  
            BEGIN  
                UPDATE  PlantMaster  
                SET     IsDeleted = 1 ,  
                        DeletedBy = @DeletedBy ,  
                        DeletedOn = GETDATE()  
                WHERE   PlantId = @PlantId  
            END  
              
        IF ( @Parameter = 5 )  
            BEGIN  
                SELECT  PlantId ,  
                        PlantName ,  
                        PlantAddress ,  
                        CityMaster.CityId ,  
                        StateMaster.StateId ,  
                        CountryMaster.CountryId ,  
                        PlantMaster.GSTNo ,  
                        PlantMaster.PANNo ,
                        PlantMaster.PlantCode ,
                        IsWarehouse,
						PinCode
                FROM    PlantMaster  
                        LEFT JOIN CityMaster ON PlantMaster.CityId = CityMaster.CityId  
                        LEFT JOIN StateMaster ON StateMaster.StateId = CityMaster.StateId  
                        LEFT JOIN CountryMaster ON CountryMaster.CountryId = StateMaster.CountryId  
                WHERE   PlantId = @PlantId  
                  
                Select * from PlantContactDetails where PlantId = @PlantId  
            END  
              
        IF ( @Parameter = 6 )  
            BEGIN  
                IF EXISTS ( SELECT  PlantName  
                            FROM    dbo.PlantMaster  
                            WHERE   PlantName = @PlantName  
                                    AND ( @PlantId = 0  
                                          OR PlantId <> @PlantId  
                                        )  
                                    AND IsDeleted = 0 )  
                    RETURN 1  
                ELSE  
                    RETURN 0  
            END  
              
		IF ( @Parameter = 7 )  
            BEGIN  
                SELECT  PlantCode AS PlantName , PlantId  ,PlantName  as Plant_Name
                FROM    dbo.PlantMaster              
                WHERE   IsDeleted = 0  
						AND ( @UserId = 0  
                              OR PlantId IN ( SELECT    PlantId FROM      dbo.PlantUserMapping WHERE     UserId = @UserId )  
                        )  
                        AND (ISNULL(@PlantIdString, '') = ''   
							OR (PlantId IN (SELECT Item FROM dbo.SplitString(@PlantIdString, ',')))  
						)  
                        AND EntityId = @EntityID  and PlantMaster.IsWarehouse=0
            END  
              
        IF ( @Parameter = 8 )  
        BEGIN  
                --IF @@Error <> 0  
                --    ROLLBACK TRANSACTION  
                  
                --DECLARE PlantMapping CURSOR  
                --FOR  
                --    SELECT  Node.value('(CustomerId)[1]', 'uniqueidentifier') AS 'CustomerId' ,  
                --            Node.value('(PlantId)[1]', 'nvarchar(max)') AS 'PlantId'  
                --    FROM    @XMLPlantDetails.nodes('/DocumentElement/PlantTable')  
                --            AS TEMPXML ( Node )  
                              
                --OPEN PlantMapping;  
      
                --FETCH NEXT FROM PlantMapping INTO @CustomerId, @PlantId  
                  
                --WHILE ( @@FETCH_STATUS = 0 )  
                --    BEGIN                     
			if(@Type = 0)
			begin
			DELETE  
			FROM	PlantCustomerMapping 
			WHERE	PlantCustomerMapping.PlantCustomerId 
					in (Select pcm.PlantCustomerId from @PlantMapping as pm
						inner Join PlantCustomerMapping as pcm on pcm.CustomerId = pm.Id
						inner Join PlantMaster On PlantMaster.PlantId = pcm.PlantId
						where PlantMaster.EntityId = @EntityID)
					
                INSERT  INTO PlantCustomerMapping  
                        ( CustomerId ,  
                          PlantId  
                        )
                select Id,PlantId from @PlantMapping   
            end
            else
            begin
				--casting Plant delete
				Delete from PlantCastingMapping
				Where PlantCastingMapping.PlantCastingId In ( 
							Select pcm.PlantCastingId from @PlantMapping as pm
								inner Join PlantCastingMapping as pcm on pcm.CastingId = pm.Id
								inner Join PlantMaster On PlantMaster.PlantId = pcm.PlantId
								where PlantMaster.EntityId = @EntityID )
				
				--Part Plant delete 				
				Delete from PlantCastingMapping
				Where PlantCastingMapping.PlantCastingId In ( 
							Select pcm.PlantCastingId from @PlantMapping as pm
								inner Join CastingMaster On CastingMaster.ParentID = pm.Id
								inner Join PlantCastingMapping as pcm on pcm.CastingId = CastingMaster.CastingId
								inner Join PlantMaster On PlantMaster.PlantId = pcm.PlantId
								where PlantMaster.EntityId = @EntityID )
				
				--casting Plant Insert 							
				INSERT  INTO PlantCastingMapping  
                        ( CastingId ,  
                          PlantId  
                        )
                select Id,PlantId from @PlantMapping 
                
                --Part Plant Insert 
                INSERT  INTO PlantCastingMapping  
                        ( CastingId ,  
                          PlantId  
                        )
                select CastingMaster.CastingId,PlantId from @PlantMapping  as pm 
						inner Join CastingMaster On CastingMaster.ParentID = pm.Id
                  
				
            end            
                        --( SELECT    @CustomerId ,  
                        --            Item  
                        --  FROM      dbo.SplitString(@PlantId, ',')  
                        --)  
             
                --FETCH NEXT FROM PlantMapping INTO @CustomerId, @PlantId  
                          
                        --IF @@ERROR <> 0  
                        --    ROLLBACK TRANSACTION  
                --    END  
                              
                --CLOSE PlantMapping;  
                --DEALLOCATE PlantMapping;   
            END  
              
        IF ( @Parameter = 9 )  
            BEGIN  
                SELECT  PlantCustomerMapping.CustomerId as Id,  
                        PlantMaster.PlantCode AS PlantName  
                        , PlantMaster.PlantId
                FROM    PlantCustomerMapping  
                        INNER JOIN PlantMaster ON PlantCustomerMapping.PlantId = PlantMaster.PlantId   and PlantMaster.IsWarehouse =0 
                        Inner Join CustomerMaster on CustomerMaster.CustomerId = PlantCustomerMapping.CustomerId
                        
                where  PlantMaster.EntityId = @EntityID 
						AND ( @CustomerId IS NULL
                              OR CustomerMaster.CustomerId = @CustomerId
                            )
                        AND ( @CustomerCategoryId IS NULL
                              OR CustomerMaster.CustomerCategoryId = @CustomerCategoryId
                            )
                        AND ( @CustomerTypeId IS NULL
                              OR CustomerMaster.CustomerTypeId = @CustomerTypeId
                            ) 
            END  
              
        IF ( @Parameter = 10 )  
            BEGIN  
                SELECT Distinct PlantCastingMapping.CastingId as Id ,  
                        PlantMaster.PlantCode AS PlantName  
                        , PlantMaster.PlantId
                FROM    PlantCastingMapping  
                        INNER JOIN PlantMaster ON PlantCastingMapping.PlantId = PlantMaster.PlantId  and PlantMaster.IsWarehouse =0 
                        INNER JOIN CastingMaster ON CastingMaster.CastingId = PlantCastingMapping.CastingId AND CastingMaster.IsDeleted = 0 
                        INNER JOIN dbo.CustomerPatternMapping AS cpm ON cpm.PatternId = CastingMaster.Dieid AND cpm.IsDeleted = 0  
                where	PlantMaster.EntityId = @EntityId  
                        AND (@CastingId IS NULL OR PlantCastingMapping.CastingId = @CastingId)
       --                 AND (@UserId != 0
							--OR PlantMaster.PlantId IN ( SELECT PlantId FROM dbo.PlantUserMapping WHERE UserId = @UserId )
       --                 )
       
						AND ( @CustomerID IS NULL              
								OR cpm.CustomerId = @CustomerID              
                        )   
						and  ( @CastingName is null Or @CastingName = '' Or CastingMaster.CastingName  = @CastingName)
                        AND (ISNULL(@PlantIdString, '') = ''   
							OR (PlantMaster.PlantId IN (SELECT Item FROM dbo.SplitString(@PlantIdString, ',')))  
						)
            END  
              
        IF ( @Parameter = 11 )  
        BEGIN 
            DECLARE PlantMapping CURSOR  
            FOR  
              
                SELECT  Node.value('(CastingId)[1]', 'uniqueidentifier') AS 'CastingId' ,  
                        Node.value('(PlantId)[1]', 'nvarchar(max)') AS 'PlantId'  
                FROM    @XMLPlantDetails.nodes('/DocumentElement/PlantTable')  
                        AS TEMPXML ( Node )  
                          
            OPEN PlantMapping;  
     
            FETCH NEXT FROM PlantMapping INTO @CastingId, @PlantId  
              
            WHILE ( @@FETCH_STATUS = 0 )  
                BEGIN                    
       
				DELETE  FROM PlantCastingMapping WHERE CastingId = @CastingId  and PlantId in (SELECT PlantMaster.PlantId
                FROM    PlantCustomerMapping  
                        INNER JOIN PlantMaster ON PlantCustomerMapping.PlantId = PlantMaster.PlantId   and PlantMaster.IsWarehouse =0                         
                        where  EntityId = @EntityID and CastingId=@CastingId)
                        
				DELETE  FROM PlantCastingMapping WHERE CastingId IN (  
					SELECT CastingId FROM CastingMaster WHERE ParentID = @CastingId  
				)  and PlantId in (SELECT PlantMaster.PlantId
                FROM    PlantCustomerMapping  
                        INNER JOIN PlantMaster ON PlantCustomerMapping.PlantId = PlantMaster.PlantId   and PlantMaster.IsWarehouse =0                         
                        where  EntityId = @EntityID and CastingId=@CastingId)
        
                INSERT  INTO PlantCastingMapping  
                        ( CastingId ,  
                          PlantId  
                        )  
                SELECT    @CastingId ,  Item  
                FROM      dbo.SplitString(@PlantId, ',')  
			                              
				INSERT  INTO PlantCastingMapping   ( CastingId ,  PlantId   )  
				SELECT  CastingId, Item AS PlantId 
				FROM	CastingMaster 
						CROSS JOIN dbo.SplitString(@PlantId,',') AS PlantTbl
				WHERE ParentID = @CastingId AND IsDeleted = 0 
                                        
                IF @@ERROR <> 0  
                    ROLLBACK TRANSACTION  
     
                FETCH NEXT FROM PlantMapping INTO @CastingId, @PlantId  
                      
                IF @@ERROR <> 0  
                    ROLLBACK TRANSACTION  
            END  
                              
            CLOSE PlantMapping;  
            DEALLOCATE PlantMapping;   
        END  
              
        IF ( @Parameter = 12 )  
        BEGIN  
			IF(@IsTypeOf = 'Pattern_Die')  
			BEGIN  
				IF ((SELECT IsAnotherMethoding FROM PatternMaster WHERE PatternId = @TypeOfId and PatternTypeId = 2) = 1)  
				BEGIN  
					SELECT TOP 1 PlantId  
					FROM PlantCastingMapping  
					WHERE CastingId = (  
						select TOP 1 CastingId from PatternCastingMapping WHERE PatternId = @TypeOfId  
					)  
				END  
				ELSE  
				BEGIN  
					SELECT TOP 1 PlantId  
					FROM PlantCastingMapping  
					WHERE CastingId = (  
						SELECT TOP 1 CastingId FROM CastingMaster WHERE Dieid = @TypeOfId AND IsDeleted = 0  
					)  
				END  
			END  
			--ELSE IF(@IsTypeOf = 'Core')  
			--BEGIN  
			--	IF ((SELECT IsAnotherMethoding FROM PatternMaster WHERE PatternId = (  
			--		SELECT DISTINCT TOP 1 PatternID FROM CoreBoxMaster WHERE CoreMasterID = @TypeOfId  
			--	) and PatternTypeId = 2) = 1  
			--	)  
			--	BEGIN  
			--		SELECT DISTINCT TOP 1 PlantId   
			--		FROM PlantCastingMapping   
			--		WHERE CastingId = (  
			--			select DISTINCT TOP 1 CastingId from PatternCastingMapping WHERE PatternId = (  
			--				SELECT DISTINCT TOP 1 PatternID FROM CoreBoxMaster WHERE CoreMasterID = @TypeOfId  
			--			)  
			--		)  
			--	END  
			--	ELSE  
			--	BEGIN  
			--		SELECT DISTINCT TOP 1 PlantId   
			--		FROM PlantCastingMapping   
			--		WHERE CastingId = (  
			--			SELECT DISTINCT TOP 1 CastingId FROM CastingMaster WHERE Dieid = (  
			--				SELECT DISTINCT TOP 1 PatternID FROM CoreBoxMaster WHERE CoreMasterID = @TypeOfId  
			--			)  
			--			AND IsDeleted = 0  
			--		)  
			--	END  
		        
			--END  
			ELSE IF(@IsTypeOf = 'Casting')  
			BEGIN  
				SELECT TOP 1 PlantId FROM PlantCastingMapping   WHERE CastingId = @TypeOfId  
			END  
			ELSE IF(@IsTypeOf = 'Pouring')  
			BEGIN  
				SELECT TOP 1 PlantId   FROM ProductionBatch   WHERE batchID = @IntTypeOfId  
			END  
			ELSE IF(@IsTypeOf = 'PurchaseOrder')  
			BEGIN  
				SELECT TOP 1 PoPlantId   FROM PurchaseOrder_Master WHERE PurchaseOrderId IN (
					SELECT TOP 1 PurchaseOrderId FROM PurchaseOrderCastingPurchaseTrans WHERE PurchaseOrderCastingPurchaseId = @TypeOfId
				)
			END  
			ELSE IF (@IsTypeOf = 'CUSTOMERORDER')
			BEGIN
				SELECT TOP 1 PlantId   FROM OrderMaster WHERE CustomerOrderId IN (
					SELECT TOP 1 CustomerOrderId FROM OrderTranse WHERE OrderTranseId = @TypeOfId
				)
			END
		END  
          
        IF (@Parameter = 13)  
        BEGIN  
			SELECT	DISTINCT cm.CastingId  
			FROM	CustomerPatternMapping AS cpm   
					INNER JOIN CastingMaster AS cm ON cpm.PatternId = cm.Dieid AND cm.IsDeleted = 0  
			WHERE	cpm.IsDeleted = 0  
					AND cpm.CustomerId = @CustomerId  
					AND CastingId NOT IN ( SELECT CastingId FROM PlantCastingMapping )  
					AND cm.EntityID = @EntityId  
		END  
          
        if (@Parameter = 14)  
        begin  
		   declare @ReturnResult varchar(Max) = ''  
		     
			if exists(Select PlantID from PlantCastingMapping where PlantID = @PlantId)   
			begin   
				Set @ReturnResult += 'casting' 
			end   
			else 
			begin 
				Set @ReturnResult +=  '' 
			end  
		     
			if exists(Select PlantID from PlantSeriesMapping where PlantID = @PlantID)   
			begin   
				if (@ReturnResult  != '') 
				begin 
					Set @ReturnResult += ', ' 
				end  
				
				Set @ReturnResult += 'Series' 
			end   
			else 
			begin 
				Set @ReturnResult +=  '' 
			end  
		     
			if exists(Select PlantID from PlantCustomerMapping where PlantID = @PlantId)   
			begin   
				if (@ReturnResult  != '') 
				begin 
					Set @ReturnResult += ', ' 
				end  
				
				Set @ReturnResult += 'customer' 
			end   
			else 
			begin 
				Set @ReturnResult +=  '' 
			end  
		     
			if exists(Select PlantID from PlantUserMapping where PlantID = @PlantID)   
			begin   
				if (@ReturnResult  != '') 
				begin 
					Set @ReturnResult += ', ' 
				end  
				
				Set @ReturnResult += 'User' 
			end   
			else 
			begin 
				Set @ReturnResult +=  '' 
			end  
		     
			select ( @ReturnResult )  
		END  
	
	     IF ( @Parameter = 15 )  
            BEGIN  
                IF EXISTS ( SELECT  PlantCode  
                            FROM    dbo.PlantMaster  
                            WHERE   PlantCode = @PlantCode
                                    AND ( @PlantId = 0  
                                          OR PlantId <> @PlantId  
                                        )  
                                    AND IsDeleted = 0 )  
                    RETURN 1  
                ELSE  
                    RETURN 0  
            END  
        if (@Parameter = 16)  
        begin  
		   declare @ReturnResult1 varchar(Max) = ''  
		   	if exists(Select LocationId  from AddressMaster where LocationId = @PlantID)   
			begin   
				if (@ReturnResult1  != '') 
				begin 
					Set @ReturnResult1 += ', '  
				end  
				
				Set @ReturnResult1 += 'Customer' 
			end   
			else 
			begin 
				Set @ReturnResult1 +=  '' 
			end  
		     
			select ( @ReturnResult1 )  
		     
		     end 	
			 if (@Parameter = 17)  
        begin  
		declare @Plant table (Item int) if(
				@PlantIdString IS NOT NULL
				And @PlantIdString != ''
			) begin
			Insert into
				@Plant
			SELECT
				Item
			FROM
				dbo.SplitString(@PlantIdString, ',')
			End
			select
				p.PlantId,
				p.PlantName,
				p.PlantCode,
				p.PlantAddress
			from
				PlantMaster p
			where
				p.IsDeleted = 0
				and (
					@PlantIdString IS NULL
					OR @PlantIdString = ''
					OR p.PlantId IN (
						SELECT
							Item
						FROM
							@Plant
					)
				)
		     end 	
    END  
GO
