USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Top5SalesInventoryItems]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[Top5SalesInventoryItems]
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
	@PlantIdString VARCHAR(MAX) = NULL ,   
    @Unit VARCHAR(50) = NULL ,
    @EntityId INT = 0 
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	 
              
		------------BY HEMANI
		DECLARE  
				@FinancialYear INT = (SELECT top 1 FinancialYear FROM configuration) ,
				@StartYear DATE ,
				@EndYear DATE  
				  

		SELECT		TOP 1
					 
					@StartYear = StartDate,
					@EndYear = EndDate
		FROM		FetchFinancialYearDynamically(@FinancialYear)
		
     	-----------DONE BY HEMANI   
				SELECT		TOP 5
							SUM(TotalSales) AS TotalSales,
							CastingName,
							CastingCode,
							SUM(CurrentStock) AS CurrentStock
				FROM		(
								SELECT		SUM(dbo.dispatchtrans.TotalAmount - (dispatchtrans.TotalAmount*DisPer/100) ) AS TotalSales,
											CastingMaster.CastingId,
											OrderTranse.MetalID,
											CastingMaster.CastingName,
											CastingMaster.CastingCode,
											CASE WHEN @Unit = 'KG' 
												 THEN ISNULL(History.CurrentStock, 0) * CastingMetal.CastingNetWeight
											ELSE ISNULL(CurrentStock, 0)
											END AS CurrentStock
								FROM		dispatchmaster
											INNER JOIN dispatchtrans
											ON dispatchtrans.dispatchid = dispatchmaster.DispatchID
											INNER JOIN OrderTranse
											ON OrderTranse.CustomerOrderId = dispatchtrans.orderid
											AND OrderTranse.SrNo = dispatchtrans.orderserialno
											INNER JOIN CastingMaster 
											ON CastingMaster.CastingId = dispatchtrans.castingid
											INNER JOIN (
												SELECT		castingID,
															metalid,
															MAX(CastingNetWeight) AS CastingNetWeight
												FROM		CastingMetal
												GROUP BY	castingID,
															metalid
											) AS CastingMetal
											ON CastingMetal.castingID = dispatchtrans.castingid 
											AND CastingMetal.metalid = OrderTranse.MetalID
											LEFT JOIN (
												SELECT		CastingStockBatch.castingid,
															CastingStockBatch.MetalID,
															SUM(ISNULL(CastingStockBatch.BatchStock, 0)) + ISNULL(CastingJOStockBatch.BatchStock, 0)
															AS CurrentStock
												FROM		CastingStockBatch
															LEFT JOIN (
																SELECT		castingid,
																			MetalID,
																			SUM(ISNULL(BatchStock, 0)) AS BatchStock
																FROM		CastingJOStockBatch
																GROUP BY	castingid,
																			MetalID
															) AS CastingJOStockBatch
															ON CastingStockBatch.castingid = CastingJOStockBatch.castingid
															AND CastingJOStockBatch.MetalID = CastingStockBatch.MetalID
												GROUP BY	CastingStockBatch.castingid,
															CastingStockBatch.MetalID,
															ISNULL(CastingJOStockBatch.BatchStock, 0)
											) AS History
											ON History.castingid = dispatchtrans.castingid
											AND History.MetalID = OrderTranse.MetalID
								WHERE		dispatchtrans.IsDeleted = 0
											And TypeOfVoucher = 0
											AND dispatchmaster.IsDeleted = 0
											AND dispatchmaster.isProforma = 0
											AND dispatchmaster.dispatchdate BETWEEN @StartYear AND @EndYear
											AND (@PlantIdString IS NULL 
												OR @PlantIdString = ''
												OR dbo.dispatchmaster.PlantID IN (
													SELECT Item FROM @Plant )
												)
											AND dbo.dispatchmaster.EntityID = @EntityId
								GROUP BY	CastingMaster.CastingName,
											CastingMaster.CastingCode,
											CastingMaster.CastingId,
											OrderTranse.MetalID,
											ISNULL(History.CurrentStock, 0), 
											CastingMetal.CastingNetWeight
							) AS A
				GROUP BY	CastingName,
							CastingCode
				ORDER BY	SUM(TotalSales) DESC

                
             
END

GO
