USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Mold_Planning_Register]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[Mold_Planning_Register]
   
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL ,
     @PatternID UNIQUEIDENTIFIER = NULL ,
     @ShiftID INT=0,
     @OperatorID INT=0,
    @EntityId INT = 0 
  
AS
BEGIN
	 
	  
select  ROW_NUMBER() OVER (ORDER BY Date ASC, PurchaseItemMaster.Itemcode ASC ) AS SrNo, 
   CONVERT(VARCHAR(11), Date, 106) AS Date ,
  PurchaseItemMaster.ItemCode as patterncode,
 SUM(ISNULL(Qty, 0)) AS Qty ,Shift,EmployeeDetails.EmployeeName as OperatorName 
from MoldPlanning
inner join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId=MoldPlanning.PatternId
left join ShiftMaster on ShiftMaster.ShiftId=MoldPlanning.ShiftId
left join EmployeeDetails on EmployeeDetails.EmployeeId=MoldPlanning.OperatorId
where  ( @PatternID IS NULL
      OR MoldPlanning.PatternId = @PatternID
          )
      AND ( @ShiftID=0
      OR MoldPlanning.ShiftId = @ShiftID
          )
      AND ( @OperatorID=0
      OR MoldPlanning.OperatorID = @OperatorID
          )
        AND Date BETWEEN CONVERT(DATE ,@Startdate) AND CONVERT(DATE,@EndDate)
      AND Qty > 0
  group by PurchaseItemMaster.ItemCode,Date,Shift,EmployeeDetails.EmployeeName
END
  
GO
