USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ChargeProperty]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ChargeProperty]
@Parameter INT = 0 ,
@PurchaseItemId UNIQUEIDENTIFIER = NULL,
@ChrgePropertyId UNIQUEIDENTIFIER = NULL,
@ItemName varchar(100) = null,
@Date DateTime = null,
@Che_Carbon float = null,
@Che_Si float = null,
@Che_Mg float = null,
@Che_Mn float = null,
@Che_S float = null,
@Che_P float = null,
@Che_Cr float = null,
@Che_Ni float = null,
@Che_Mo float = null,
@Che_Cu float =null,
@Che_Ti float = null,
@Che_Al float = null,
@Che_B float = null,
@Che_NB float = null,
@Che_V float = null,
@CreatedBy int=0,
@ModifiedBy int =0,
@ModifiedOn DateTime = null,
@CreatedOn DateTime = null,
@DeletedBy int=0,
@IsDeleted int = 0,
@EntityID int =0,
@DeletedOn DateTime = null,
@ChargePropertyMappingTable AS XML = NULL ,
@MappingID UNIQUEIDENTIFIER = NULL,
@ChargeValues float = null

AS
BEGIN
			If @Parameter = 1
				BEGIN
				IF NOT EXISTS(select PurchaseItemId From ChargeItemHeatProperty
				where PurchaseItemId = @PurchaseItemId )
				
				BEGIN
					INSERT INTO ChargeItemHeatProperty(
					ChrgePropertyId,
					PurchaseItemId,
					Date,
					Che_Carbon,
					Che_Si,
					Che_Mg,
					Che_Mn,
					Che_S,
					Che_P,
					Che_Cr,
					Che_Ni,
					Che_Mo,
					Che_Cu,
					Che_Ti,
					Che_Al,
					Che_B,
					Che_NB,
					Che_V,
					CreatedBy,
					CreatedOn,
					IsDeleted,
					EntityID
					)
					values
					(
					NEWID(),
					@PurchaseItemId,
					@Date,
					@Che_Carbon,
					@Che_Si,
					@Che_Mg,
					@Che_Mn,
					@Che_S,
					@Che_P,
					@Che_Cr,
					@Che_Ni,
					@Che_Mo,
					@Che_Cu,
					@Che_Ti,
					@Che_Al,
					@Che_B,
					@Che_NB,
					@Che_V,
					@CreatedBy,
					@CreatedOn,
					@IsDeleted,
					@EntityID
					)
					
					--IF @@ERROR <> 0
     --           ROLLBACK TRANSACTION
         
					--DECLARE CastingProcess CURSOR
					--FOR
					--	SELECT  Node.value('(PurchaseItemId )[1]', 'uniqueidentifier') AS 'PurchaseItemId',
					--			Node.value('(MappingID )[1]', 'uniqueidentifier') AS 'MappingID',                        
					--			Node.value('(ChargeValues )[1]', 'float') AS 'ChargeValues'                        
					--	FROM    @ChargePropertyMappingTable.nodes('/DocumentElement/ChargePropertyMappingTable')
					--			AS TEMPXML ( Node )  
		                            
					--OPEN CastingProcess;
						
					         
					--FETCH NEXT FROM CastingProcess INTO @PurchaseItemId, @MappingID,@ChargeValues
		            
					--WHILE ( @@FETCH_STATUS = 0 )
					--	BEGIN					
									
					--		SET @ChrgePropertyId = NEWID();
					--		INSERT  INTO ChargeItemSHeatProperty
					--				( ChrgePropertyId ,
					--				  PurchaseItemId ,
					--				  MappingID ,
					--				  ChargeValues 
					--				)
					--		VALUES  ( @ChrgePropertyId ,
					--				  @PurchaseItemId ,
					--				  @MappingID ,
					--				  @ChargeValues 
					--				)			
		              							
					--				FETCH NEXT FROM CastingProcess INTO @PurchaseItemId, @MappingID,@ChargeValues
					--			END
								
					--CLOSE CastingProcess;
					--DEALLOCATE CastingProcess;
					
				END
						
						ELSE
						BEGIN
							update ChargeItemHeatProperty set
							Date = @Date,
							Che_Carbon=@Che_Carbon,
							Che_Si=@Che_Si,
							Che_Mg=Che_Mg,
							Che_Mn=@Che_Mn,
							Che_S=@Che_S,
							Che_P=@Che_P,
							Che_Cr=@Che_Cr,
							Che_Ni=@Che_Ni,
							Che_Mo=@Che_Mo,
							Che_Cu=@Che_Cu,
							Che_Ti=@Che_Ti,
							Che_Al=@Che_Al,
							Che_B=@Che_B,
							Che_NB=@Che_NB,
							Che_V=@Che_V,
							ModifiedBy=@ModifiedBy,
							ModifiedOn=@ModifiedOn	
							
							where PurchaseItemId=@PurchaseItemId
							
						
						END
					
			END

			IF @Parameter = 2
            BEGIN
                SELECT 
                *
                FROM    ChargeItemHeatProperty
                WHERE   (@PurchaseItemId is null or ChargeItemHeatProperty.purchaseitemiD = @PurchaseItemId
                        )
                 
            END	
            
			IF @Parameter = 3
            BEGIN
                SELECT 
                PurchaseItemMaster.ItemCode,
                PurchaseItemMaster.PurchaseItemId
                       
                FROM    PurchaseItemMaster
                WHERE   ( @ItemName Is Null
                or  PurchaseItemMaster.ItemName=@ItemName
                        )
                 
            END	
            
            IF @Parameter = 4
            BEGIN
                SELECT DISTINCT
                PurchaseItemMaster.ItemName,
                PurchaseItemMaster.PurchaseItemId
                       
                FROM    PurchaseItemMaster
                WHERE   ( PurchaseItemMaster.PurchaseItemId=@PurchaseItemId
                        )
                 
            END	

			IF @Parameter = 5
            BEGIN
                SELECT DISTINCT
                PurchaseItemMaster.ItemName
                       
                FROM    PurchaseItemMaster
                        INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                WHERE   ( IsDeleted =0 and IsCharge=1 AND PurchaseCompanyMapping.CompanyId = @EntityID
                        ) order by ItemName
            END	
            
            IF @Parameter = 6
            BEGIN
                SELECT DISTINCT
                PurchaseItemMaster.PurchaseItemId,
                PurchaseItemMaster.ItemCode
                       
                FROM    PurchaseItemMaster
                        INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId
                WHERE   ( IsDeleted =0 and IsCharge=1 AND PurchaseCompanyMapping.CompanyId = @EntityID
                        )
                 
            END	

			IF @Parameter = 7 -- Fetch ItemQualityParaMapping Record
			 BEGIN         		
				select Element as Name,CONVERT(VARCHAR(30), MinValue) as Minimum,CONVERT(VARCHAR(30), MaxValue) as Maximum,
				ROW_NUMBER() OVER ( ORDER BY Element ASC ) AS SeqNo ,ID as MappingID , isnull(ChargeItemsHeatProperty.ChargeValues,0) as ChargeValues 
				, ChargeItemsHeatProperty.ChrgePropertyId
				from ItemQualityParaMapping
				left join ChargeItemsHeatProperty on ChargeItemsHeatProperty.MappingID = ItemQualityParaMapping.ID
				where ( @PurchaseItemId IS NULL OR ItemQualityParaMapping.PurchaseItemID = @PurchaseItemId )			
			 END    
			 			 			 
			If @Parameter = 8
				BEGIN				
					
					IF @@ERROR <> 0
                ROLLBACK TRANSACTION
         
					DECLARE CastingProcess CURSOR
					FOR
						SELECT  Node.value('(PurchaseItemId )[1]', 'uniqueidentifier') AS 'PurchaseItemId',
								Node.value('(MappingID )[1]', 'uniqueidentifier') AS 'MappingID',                        
								Node.value('(ChargeValues )[1]', 'float') AS 'ChargeValues'                        
						FROM    @ChargePropertyMappingTable.nodes('/DocumentElement/ChargePropertyMappingTable')
								AS TEMPXML ( Node )  
		                            
					OPEN CastingProcess;
						
					         
					FETCH NEXT FROM CastingProcess INTO @PurchaseItemId, @MappingID,@ChargeValues
		            
					WHILE ( @@FETCH_STATUS = 0 )
					BEGIN					
									
							IF NOT EXISTS(select PurchaseItemId From ChargeItemsHeatProperty
							where PurchaseItemId = @PurchaseItemId and MappingID = @MappingID)
				
							BEGIN
										SET @ChrgePropertyId = NEWID();
										INSERT  INTO ChargeItemsHeatProperty
												( ChrgePropertyId ,
												  PurchaseItemId ,
												  MappingID ,
												  ChargeValues 
												)
										VALUES  ( @ChrgePropertyId ,
												  @PurchaseItemId ,
												  @MappingID ,
												  @ChargeValues 
												)			
							END
								
							ELSE
							BEGIN	
								UPDATE ChargeItemsHeatProperty set ChargeValues = @ChargeValues where PurchaseItemId = @PurchaseItemId and MappingID = @MappingID
							END		
							
							FETCH NEXT FROM CastingProcess INTO @PurchaseItemId, @MappingID,@ChargeValues
											
							
					END
								
					CLOSE CastingProcess;
					DEALLOCATE CastingProcess;
			END
			
			if(@Parameter = 9)    --Dhruvin
			begin
				select distinct Element from ItemQualityParaMapping order by element asc
				end
				
				if(@Parameter = 10)    --Dhruvin
			begin
				select distinct Element from batchItemQuality order by element asc
				end
				
				IF @Parameter = 11
				BEGIN
				SELECT STOCK from InventoryDetails where PurchaseItemId = @PurchaseItemId
				
				END
				
				IF @Parameter = 70 -- Fetch ItemQualityParaMapping Record batch wise
			 BEGIN         		
				select Element as Name,ROW_NUMBER() OVER ( ORDER BY Element ASC ) AS SeqNo ,batchWiseItem.purchaseId as MappingID , isnull(batchItemQuality.value,0) as ChargeValues 
				from batchItemQuality
				left join batchWiseItem on batchWiseItem.batchId = batchItemQuality.batchId
				where ( @PurchaseItemId IS NULL OR batchWiseItem.batchId= @PurchaseItemId )			
			 END  
			 
END
GO
