USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[AccountPayableReport]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AccountPayableReport]
    @CustomerID UNIQUEIDENTIFIER = NULL ,
    @SupplierInvoiceDateFrom DATETIME = NULL ,
    @SupplierInvoiceDateTo DATETIME = NULL ,
	@All BIT = NULL ,
    @Due BIT = 0 ,
    @OverDue BIT = 0,
    @PlantIDString varchar(Max) = null,
    @EntityID int = 0
AS
    BEGIN
       
                SELECT  Customername ,
                        CONVERT(VARCHAR(15), SupplierInvoiceDate, 106) AS Invoicedate ,
                        AccPayReport.SupplierInvoiceNo ,
                        CONVERT(DECIMAL(18, 2), AccPayReport.TotalAmount) AS BilledAmount ,
                        CONVERT(DECIMAL(18, 2), ISNULL(AccPayReport.Amount, 0)) AS ReceivedAmount ,
                        CASE WHEN ( AccPayReport.TotalAmount
                                    - ISNULL(AccPayReport.Amount, 0) ) > 0
                             THEN CONVERT(DECIMAL(18, 2), ( AccPayReport.TotalAmount
                                                            - ISNULL(AccPayReport.Amount,
                                                              0) ))
                             ELSE '0'
                        END AS DueAmount ,
                        CASE WHEN ( AccPayReport.TotalAmount
                                    - ISNULL(AccPayReport.Amount, 0) ) > 0
                        THEN DATEDIFF(day, GETDATE(),DATEADD(DAY,AccPayReport.PaymentTermsInDays,EffectiveDate)) 
                        ELSE 0 
                        END AS Duedays ,
                        CASE WHEN ( AccPayReport.TotalAmount
                                    - ISNULL(AccPayReport.Amount, 0) ) > 0
                        THEN 
                        CASE WHEN ISNULL(DATEDIFF(DAY,
                                                  DATEADD(DAY,
                                                          AccPayReport.PaymentTermsInDays,
                                                          EffectiveDate),
                                                  GETDATE()), 0) < 0 THEN 0
                             ELSE ISNULL(DATEDIFF(DAY,
                                                  DATEADD(DAY,
                                                          AccPayReport.PaymentTermsInDays,
                                                          EffectiveDate),
                                                  GETDATE()), 0)
                        END                          
                        ELSE 0                           
                        END AS OverDue,
                        CONVERT(varchar(15), DATEADD(DAY,AccPayReport.PaymentTermsInDays,EffectiveDate),106) as DueDate
                FROM    [Data:AccountPayableReport] as AccPayReport
						--PurchaseInvoice
      --                  INNER JOIN CustomerMaster ON PurchaseInvoice.SupplierID = CustomerMaster.CustomerId
      --                  LEFT JOIN ( SELECT  PurchaseInvoiceId ,
      --                                      supplierId ,
      --                                      SUM(paymentAmount) AS Amount
      --                              FROM    AccountPayableTrans
      --                                      INNER JOIN AccountPayableMaster ON AccountPayableMaster.AccountPayableID = AccountPayableTrans.AccountPayableID
      --                              WHERE   AccountPayableMaster.IsDeleted = 0
      --                              GROUP BY PurchaseInvoiceId ,
      --                                      SupplierId
      --                            ) AS amountpay ON amountpay.PurchaseInvoiceId = PurchaseInvoice.PurchaseInvoiceId
      --                            And amountpay.SupplierId = PurchaseInvoice.SupplierID
                WHERE   
                AccPayReport.IsPaymentDone= 0
                AND
                ( @CustomerID IS NULL
                          OR AccPayReport.SupplierID = @CustomerID
                        )                        
                        AND ( @supplierInvoiceDateFrom is NULL 
							OR SupplierInvoiceDate BETWEEN CAST(@SupplierInvoiceDateFrom AS DATE) AND CAST(@SupplierInvoiceDateTo AS DATE) )
                                                  
                        AND (@Due = 0 OR             
								 ( AccPayReport.TotalAmount - ISNULL(AccPayReport.Amount, 0) > 0 
								  )
                              )
                        AND (@OverDue = 0 OR             
								 ( AccPayReport.TotalAmount - ISNULL(AccPayReport.Amount, 0) > 0 
								
								 AND
								 ISNULL(DATEDIFF(DAY,
                                     DATEADD(DAY,
                                             AccPayReport.PaymentTermsInDays,
                                             EffectiveDate), GETDATE()),0) > 0            
                              )  )
      --                  AND (@PlantIDString is null 
						--Or @PlantIDString = ''
						--Or AccPayReport.PlantId in (Select * From SplitString( @PlantIDString,','))
						--	) 
						AND AccPayReport.EntityId = @EntityID                            
          
    END

GO
