USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[TallyGetDataParty]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Bhumin>
-- Create date: <Create Date,,23 10 2018>
-- Description:	<Description,,Fetch Data for Tally Sync>
-- =============================================
CREATE PROCEDURE [dbo].[TallyGetDataParty]
	-- Add the parameters for the stored procedure here
	@Parameter int=0,
	@EntityId int = 0,
	@CustomerId uniqueidentifier=null,
	@PurchaseItemID uniqueidentifier=null,
	@CastingID uniqueidentifier=null,
	@DispatchUniqueId uniqueidentifier=null,
	@DispatchId int=0,
	@PartyType varchar(1) = NULL,
	@SetID uniqueidentifier = NULL,
	@DebitLedgerID bigint = 0,
	@PurchaseInvoiceID uniqueidentifier = null,
	@TransferNameAs int = 2,
	@SyncItemName nvarchar(150) = null,
	@SyncStatus bit = 0,
	@InvoiceNo VARCHAR(100) = NULL  ,
	@DateFrom DATETIME = NULL ,
    @DateTo DATETIME = NULL 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 Declare @SrNo int;
	IF @Parameter = 1
	BEGIN
		Select CustomerMaster.CustomerId as CustomerId , CustomerName , TaxNo3 as PANNo , GSTNo , Customerflag as PartyType ,IsSynced,RegistrationType,
		ISNULL(IsTDSdeductable,0) as IsTDSDeductable,CommonData_Master.DisplayName as TDSDeducteeType, OpeningBalance, ISNULL(PaymentTerms,0) as PaymentTerms , LedgerGroup.LedgerGroupName as LedgerGroupName,
		CM.DisplayName as VendorType, TAXNo5 as MSMENo , CustomerMaster.DisplayName as MailingName
		From CustomerMaster
		inner join LedgerGroup on LedgerGroup.LedgerGroupId = CustomerMaster.UnderLedgerId
		LEFT JOIN CommonData_Master on CustomerMaster.TDSDeducteeType = CommonData_Master.CommonDataId
		Left join CommonData_Master as CM on CM.CommonDataId = CustomerMaster.TypeOfVendor
		where CustomerMaster.IsDeleted=0 and (@PartyType is null or Customerflag=@PartyType) --and IsSynced=0
		And  ( @CustomerId is null or CustomerMaster.CustomerId=@CustomerId)
		and EntityId=@EntityId
		ORDER BY CustomerName ASC
	END
	
	IF @Parameter = 2
	BEGIN
	
		Select AddressMaster.CustomerId , (ISNULL(AddressMaster.Street,'') + CHAR(13)  + ISNULL(AddressMaster.Area,'') + CHAR(13) + ISNULL(CityMaster.City ,'')) as Address , AddressMaster.Pincode ,  StateMaster.State , CountryMaster.CountryName 
		,ISNULL(AddressMaster.Street,'') as Add1 , ISNULL(AddressMaster.Area,'') as Add2 , ISNULL(CityMaster.City ,'') as Add3 from AddressMaster LEFT JOIN CityMaster ON AddressMaster.City = CityMaster.CityId LEFT JOIN StateMaster ON CityMaster.StateId = StateMaster.StateId LEFT JOIN CountryMaster ON StateMaster.CountryId = CountryMaster.CountryId
		Where AddressMaster.CustomerId=@CustomerId
	
		Select ContactMaster.ContactNo,ContactMaster.Email,ContactMaster.PersonName from ContactMaster where CustomerId=@CustomerId
		
		Select AccNo as AccountNo , IFSCNo as IFSCCode , BankName  from PartyBankMaster
		INNER JOIN BankList on BankList.BankId = PartyBankMaster.BankId where CustomerId=@CustomerId
	END
	
	
	IF @Parameter = 3
	BEGIN
	
		Update CustomerMaster set IsSynced=1 where CustomerId=@CustomerId
		Return 1
	
	END
	
	IF @Parameter = 4
	BEGIN
	
		Select PurchaseItemMaster.PurchaseItemId , 
		(case when @TransferNameAs = 2 then (PurchaseItemMaster.ItemName + ' - ' + ItemCode) 
		else (case when @TransferNameAs = 0 then PurchaseItemMaster.ItemName 
		else PurchaseItemMaster.ItemCode end)  end) as Item , ISNULL(PurchaseItemGroupMaster.GroupName,'') as GroupName , 
		UOMMaster.UOM , (case when UOMMaster.IsWholeNumber = 1 then 0 else  3 end) as DecimalPlace , 
		PurchaseItemMaster.TariffCode  as HSNCode, 
		TaxMaster.IGST, TariffCodeHeading.TariffHeading as HSN  , 
		UQCMaster.TallyUQCEnum,
		SyncItemName , IsSynced as SyncStatus
		from PurchaseItemMaster LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemMaster.PurchaseItemGroupId = PurchaseItemGroupMaster.PurchaseItemGroupId
		INNER JOIN UOMMaster ON PurchaseItemMaster.UnitOfMeasure = UOMMaster.UOMid
		INNER JOIN UQCMaster ON UOMMaster.UQCId = UQCMaster.Id
		LEFT JOIN HSNGSTMapping ON PurchaseItemMaster.TariffCode = HSNGSTMapping.HSNCode
		LEFT JOIN TaxMaster ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId
		LEFT JOIN TariffCodeHeading ON PurchaseItemMaster.TariffCode = TariffCodeHeading.TariffCode
		Where PurchaseItemMaster.IsDeleted=0 And PurchaseItemMaster.IsPattern = 0 -- and IsFoundryReturn=0 --And Issynced=0
		And  ( @PurchaseItemID is null or PurchaseItemMaster.PurchaseItemId=@PurchaseItemID)
		AND PurchaseItemMaster.EntityID = @EntityId
		Order by PurchaseItemMaster.ItemName ASC
	END
	
	IF @Parameter = 5
	BEGIN
	
		Update PurchaseItemMaster set IsSynced=@SyncStatus , SyncItemName = @SyncItemName where PurchaseItemId=@PurchaseItemID
		Return 1
	
	END
	
	IF @Parameter = 6
	BEGIN
	
		Select CastingMaster.CastingId as PurchaseItemId , (case when @TransferNameAs = 2 then (CastingMaster.CastingName + ' - ' + CastingCode) else (Case when @TransferNameAs = 0 then CastingName else CastingCode end) end) as Item , 'Casitng' as GroupName , 'Nos' as UOM , 0 as DecimalPlace , CastingMaster.TerrifCode  as HSNCode, TaxMaster.IGST, TariffCodeHeading.TariffHeading as HSN, 32 as TallyUQCEnum,
		SyncItemName , IsSynced as SyncStatus
		from CastingMaster
		LEFT JOIN HSNGSTMapping ON CastingMaster.TerrifCode = HSNGSTMapping.HSNCode
		LEFT JOIN TaxMaster ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId
		LEFT JOIN TariffCodeHeading ON CastingMaster.TerrifCode = TariffCodeHeading.TariffCode
		Where CastingMaster.IsDeleted=0 
		--And ParentID is null --And Issynced=0
		And (@CastingID is null or CastingMaster.CastingId=@CastingID or CastingMaster.ParentID = @CastingID)
		And CastingMaster.EntityID = @EntityId
		Order by CastingMaster.CastingName ASC
	
	END
	
	IF @Parameter = 7
	BEGIN
	
		Update CastingMaster set IsSynced=@SyncStatus , SyncItemName = @SyncItemName where CastingId=@CastingID
		Return 1
	
	END
	
	IF @Parameter = 8
	BEGIN
	
--			WITH RankedInvoiceFromLog AS (
--    SELECT 
--        SalInv.DispatchID,
--        SalInv.dispatchdate,
--		ISNULL(SalInv.Prefix, '') + ISNULL(SalInv.Separator, '') + SalInv.Dispatchslipno + ISNULL(SalInv.Separator, '') + ISNULL(SalInv.Suffix, '') as VoucherNo,
--        ROW_NUMBER() OVER (PARTITION BY  SalInv.DispatchID ORDER BY SalInv.CreatedON DESC) AS rn
--    FROM [ICAST_IMS_LOG].dbo.dispatchmaster SalInv
--	where 
--	SalInv.Isdeleted=0 And (@DispatchId =0 or SalInv.DispatchID=@DispatchId) And SalInv.EntityID = @EntityId  And SalInv.IsDeleted=0	
--	AND ( @CustomerID IS NULL   OR SalInv.CustomerID = @CustomerID )
--	AND ( @DateFrom IS NULL  OR @DateTo IS NULL OR SalInv.DispatchDate BETWEEN @DateFrom AND @DateTo )
--)


--SELECT 
--    Slog.DispatchID,
--    Slog.dispatchdate as VoucherDate,
--	Slog.VoucherNo
--	INTO #TempLogSalesData

--FROM RankedInvoiceFromLog Slog
--WHERE Slog.rn = 1


		Select dispatchmaster.DispatchId , DispatchUniqueId as DispatchUniqueId , CustomerMaster.CustomerName, CustomerMaster.GSTNo, StateMaster.State as StateName ,
		 Dispatchmaster.Address as BuyerAddress , ShippingCustomer.CustomerName as Consignee , ShippingCustomer.GSTNo as ConsigneeGSTIN,  DispatchMaster.shippingAddress as ConsigneeAddress, 		
		ISNULL(Prefix, '') + ISNULL(Separator, '') + Dispatchslipno + ISNULL(Separator, '') + ISNULL(Suffix, '') AS InvoiceNo  , InvoiceSeries.InvoiceSeriesName as VoucherType ,
		DispatchMaster.dispatchdate , dispatchmaster.TotalAmount as VoucherTotal, dispatchmaster.TotalAmount as GrossAmount  , dispatchmaster.Remark as Remarks , Isnull(dispatchmaster.DisAmount,0) as DisAmount,
		ISIGST , Roundoff  ,SalesAgainstFormExport,IsExport ,  PaymentTermsDays as BillCreditPeriod , BillingPincode , ConsigneePincode , ConsigneeState.State as ConsigneeState, CountryMaster.CountryName as Country , CCMaster.CostCenter
		,POS.State as POS_State,billingcity.City as Billto , shippingcity.City as ShipTo, (STR(CommonData_Master.OrderNo) + ' - ' +  CommonData_Master.DisplayName) as TransportMode,
		 ew.VehicleType,ew.DistanceInKM, ew.DispatchThrough,ew.DispatchTo, ew.MotarRegno as VehicleNo,ew.LrNo as DocNo, format(cast(ew.DocDate as date),'yyyyMMdd') as DocDate,transport.CustomerName as TransporterName,ew.TransporterId, ew.EWayBillNo,format(cast(EInvoiceMaster.EwbDt as date),'yyyyMMdd') as EwbDt ,EInvoiceMaster.Irn,EInvoiceMaster.AckNo,format(cast(EInvoiceMaster.AckDt as date),'yyyyMMdd') as AckDt ,
		 CustomerMaster.displayName as MailingName, ShippingCustomer.DisplayName as ConsigneeMailingName
		 
		 --(case when #TempLogSalesData.VoucherDate is null then DispatchMaster.dispatchdate else #TempLogSalesData.VoucherDate end) as OldVoucherDate , (case when #TempLogSalesData.VoucherNo is null then ISNULL(Prefix, '') + ISNULL(Separator, '') + Dispatchslipno + ISNULL(Separator, '') + ISNULL(Suffix, '') else #TempLogSalesData.VoucherNo end) as OldRefNo
				                                                  
                                                              from dispatchmaster
                                                             INNER JOIN dbo.EwayDetails ew on  ew.ID = dispatchmaster.DispatchID and ew.type = 0
                                                              INNER JOIN CustomerMaster ON dispatchmaster.customerID = CustomerMaster.CustomerId 
                                                              LEFT JOIN StateMaster on dispatchmaster.CustomerStateId = StateMaster.StateId --Change
                                                            --  And StateMaster.IsDeleted=0                                                             
                                                              -- and StateMaster.StateCode is not null and StateMaster.StateCode != 0
															  LEFT join CountryMaster on CountryMaster.CountryId = StateMaster.CountryId
                                                              LEFT JOIN StateMaster as ConsigneeState on ConsigneeState.StateId = dispatchmaster.StateId	--Change
                                                              --And ConsigneeState.IsDeleted=0 
                                                              --and ConsigneeState.StateCode is not null and ConsigneeState.StateCode != 0
															  INNER JOIN CustomerMaster as ShippingCustomer ON dispatchmaster.ShippingCustomerId =    ShippingCustomer.CustomerId                                                                 
															  INNER JOIN InvoiceSeries ON InvoiceSeries.SeriesId = dispatchmaster.SeriesId
															  LEFT JOIN StateMaster  as POS on dispatchmaster.PlaceOfSupply = POS.StateId --Change
                                                              --And POS.IsDeleted=0
															  left join CostCenterMasterNew as CCMaster on CCMaster.CostCenterId = dispatchmaster.CostCenterId
															  left join CustomerMaster as transport on transport.CustomerId = ew.TransportId 	
															  left join EInvoiceMaster on EInvoiceMaster.DispatchId = dispatchmaster.DispatchID 				
															  LEFT JOIN CityMaster as billingcity on billingcity.CityId = dispatchmaster.BiilingCityId
															  LEFT JOIN CityMaster as shippingcity on shippingcity.CityId = dispatchmaster.ShippingCityId
															  LEFT JOIN CommonData_Master on CommonData_Master.OrderNo = ew.Mode and CommonData_Master.[Group] = 'ModeOfTransport'
															--  Left JOIN #TempLogSalesData on #TempLogSalesData.DispatchID = dispatchmaster.DispatchID
                                                               where DispatchMaster.Isdeleted=0 --and dispatchmaster.IsSynced=0                                                              
                                                               And (@DispatchId =0 or dispatchmaster.DispatchID=@DispatchId)
																And dispatchmaster.EntityID = @EntityId  
																And dispatchmaster.IsDeleted=0		  
																AND InvoiceSeries.IsTallySync=1
																--And dispatchmaster.SeriesId=6  
															   AND ( @CustomerID IS NULL   OR DispatchMaster.CustomerID = @CustomerID )
															--   AND ( @InvoiceNo IS NULL   OR RefInvNo = @InvoiceNo  )
															   AND ( @DateFrom IS NULL  OR @DateTo IS NULL
																		OR DispatchMaster.DispatchDate BETWEEN @DateFrom
																						AND
																						@DateTo
																	)
		Order by dispatchmaster.dispatchdate ASC, dispatchmaster.Dispatchslipno ASC                                                                 
	
	
		
	
	END
	
	IF @Parameter = 9
	BEGIn
	
		Update dispatchmaster set IsSynced=@SyncStatus where DispatchUniqueId = @DispatchUniqueId
	
	END
	
	IF @Parameter = 10
	BEGIN
	
		Select CastingMaster.CastingId as PurchaseItemId
		from CastingMaster		
		Where CastingMaster.IsDeleted=0 --And Issynced=0		
		Order by CastingMaster.CreatedOn DESC
	
	END
	
	IF @Parameter = 11
	BEGIN
	
		-- 0 number query

		Select dispatchtrans.dispatchtransid as ItemId, CAST(0x0 AS UNIQUEIDENTIFIER) as ItemId2, CastingMaster.SyncItemName as Item , (case when OrderTranse.UOM = 'PerKg' then dispatchtrans.TotalWeight else dispatchtrans.dispatchqty end) as Qty , dispatchtrans.Rate , dispatchtrans.TotalAmount,
		DispatchTrans.HSNIGST as TaxPer ,
		Convert(float,Round(Convert(decimal(18,3),DispatchTrans.HSNIGST) * Convert(decimal(18,3),dispatchtrans.TotalAmtWithChargeAmt)/ 100,2)) as IGSTTaxAmount ,
		Convert(float,Round(Convert(decimal(18,3),DispatchTrans.HSNIGST)/2 * Convert(decimal(18,3), dispatchtrans.TotalAmtWithChargeAmt)/ 100,2)) as CGSTSGSTTaxAmount,
		DispatchTrans.TariffCode as HSNCode , 'Casting' as GroupName , 'Nos' as Unit
		,LedgerMaster.ChargeName as LedgerName,LedgerMaster.Taxper as LedgerTaxper , LedgerMaster.Taxability ,GstNatureOfTransaction.TallyEnum
		,ISNULL(dispatchtrans.TotalAmtWithChargeAmt,0) as TotalTaxableAmount,LedgerMaster.IsStockAffect, LedgerMaster.IsCostCenterApplicable , 1 as isGoods ,
		Convert(float,Round(Convert(decimal(18,3),DispatchTrans.HSNIGST) * Convert(decimal(18,3),dispatchtrans.TotalAmountWithDiscount)/ 100,2)) as IGSTTaxAmount2 ,
		Convert(float,Round(Convert(decimal(18,3),DispatchTrans.HSNIGST)/2 * Convert(decimal(18,3), dispatchtrans.TotalAmountWithDiscount)/ 100,2)) as CGSTSGSTTaxAmount2,
		IsTaxDetailChanged as IsTaxDetailChanged
		
		from DispatchTrans  INNER JOIN CastingMaster on dispatchtrans.PartId = CastingMaster.CastingId
		INNER JOIN LedgerMaster ON LedgerMaster.ChargeId = DispatchTrans.ChargeId 
		INNER JOIN GstNatureOfTransaction on GstNatureOfTransaction.Id =  LedgerMaster.NatureOfTransaction
		INNER JOIN OrderTranse ON dispatchtrans.orderid = OrderTranse.CustomerOrderId and dispatchtrans.orderserialno = OrderTranse.SrNo
		And dispatchtrans.PartId = OrderTranse.PartId				
        LEFT JOIN HSNGSTMapping ON DispatchTrans.TariffCode = HSNGSTMapping.HSNCode
		LEFT JOIN TaxMaster ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId		                                                     
                                                               where 
                                                               dispatchtrans.IsDeleted=0
                                                               And dispatchtrans.DispatchID= @DispatchId
                                                               
		                                                       
        UNION ALL
		Select 0 as ItemId, DispatchServiceItemTrans.DispatchServiceItemTransID as ItemId2, ServiceItemMaster.SyncItemName as Item , DispatchServiceItemTrans.Qty as Qty , DispatchServiceItemTrans.Rate , DispatchServiceItemTrans.TotalAmount,
		DispatchServiceItemTrans.HSNIGST as TaxPer , Convert(float,Round(Convert(decimal(18,3),DispatchServiceItemTrans.HSNIGST) * Convert(decimal(18,3),DispatchServiceItemTrans.TotalAmtWithChargeAmt)/ 100,2)) as IGSTTaxAmount ,Convert(float,Round(Convert(decimal(18,3),DispatchServiceItemTrans.HSNIGST)/2 * Convert(decimal(18,3), DispatchServiceItemTrans.TotalAmtWithChargeAmt)/ 100,2)) as CGSTSGSTTaxAmount ,
		DispatchServiceItemTrans.TariFFCode as HSNCode , 'Service' as GroupName , UOMMaster.UOM as Unit
		,LedgerMaster.ChargeName as LedgerName,LedgerMaster.Taxper as LedgerTaxper, LedgerMaster.Taxability  ,GstNatureOfTransaction.TallyEnum
		,ISNULL(DispatchServiceItemTrans.TotalAmtWithChargeAmt,0) as TotalTaxableAmount,LedgerMaster.IsStockAffect, LedgerMaster.IsCostCenterApplicable , QtyAddtoInvoice as isGoods
		 ,
		Convert(float,Round(Convert(decimal(18,3),DispatchServiceItemTrans.HSNIGST) * Convert(decimal(18,3),DispatchServiceItemTrans.TotalAmountWithDiscount)/ 100,2)) as IGSTTaxAmount2 ,
		Convert(float,Round(Convert(decimal(18,3),DispatchServiceItemTrans.HSNIGST)/2 * Convert(decimal(18,3), DispatchServiceItemTrans.TotalAmountWithDiscount)/ 100,2)) as CGSTSGSTTaxAmount2,
		IsTaxDetailChanged as IsTaxDetailChanged
		from DispatchServiceItemTrans  
		INNER JOIN LedgerMaster ON LedgerMaster.ChargeId = DispatchServiceItemTrans.ChargeId 
		INNER JOIN GstNatureOfTransaction on GstNatureOfTransaction.Id =  LedgerMaster.NatureOfTransaction
		INNER JOIN OrderServiceItemTrans ON DispatchServiceItemTrans.OrderServiceItemTransID = OrderServiceItemTrans.OrderServiceItemID		
		INNER JOIN ServiceItemMaster on ServiceItemMaster.ServiceItemId = OrderServiceItemTrans.ServiceItemId
		left join UOMMaster on UOMMaster.UOMid = DispatchServiceItemTrans.uomid		
		--and ServiceItemMaster.EntityID = @EntityId
        LEFT JOIN HSNGSTMapping ON DispatchServiceItemTrans.TariffCode = HSNGSTMapping.HSNCode
		LEFT JOIN TaxMaster ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId
		--LEFT JOIN TariffCodeHeading ON ServiceItemMaster.TariffCode = TariffCodeHeading.TariffCode                                                       
                                                               where 
                                                               DispatchServiceItemTrans.IsDeleted=0
                                                               And DispatchServiceItemTrans.DispatchID= @DispatchId                                                                                                                     
        UNION ALL
        
        Select dispatchtrans.dispatchtransid as ItemId, CAST(0x0 AS UNIQUEIDENTIFIER) as ItemId2,  PurchaseItemMaster.SyncItemName as Item , dispatchtrans.ItemRequiredQty as Qty , dispatchtrans.Rate , dispatchtrans.TotalAmount,
		DispatchTrans.HSNIGST as TaxPer , Convert(float,Round(Convert(decimal(18,3),DispatchTrans.HSNIGST) * Convert(decimal(18,3),dispatchtrans.TotalAmtWithChargeAmt)/ 100,2)) as IGSTTaxAmount ,Convert(float,Round(Convert(Decimal(18,3),DispatchTrans.HSNIGST)/2 * Convert(Decimal(18,3),dispatchtrans.TotalAmtWithChargeAmt)/ 100,2)) as CGSTSGSTTaxAmount,
		DispatchTrans.TariffCode as HSNCode , PurchaseItemGroupMaster.GroupName as GroupName , UOMMaster.UOM as Unit 
		,LedgerMaster.ChargeName as LedgerName,LedgerMaster.Taxper as LedgerTaxper , LedgerMaster.Taxability ,GstNatureOfTransaction.TallyEnum
		,ISNULL(dispatchtrans.TotalAmtWithChargeAmt,0) as TotalTaxableAmount,LedgerMaster.IsStockAffect, LedgerMaster.IsCostCenterApplicable , 1 as isGoods
		 ,
		Convert(float,Round(Convert(decimal(18,3),DispatchTrans.HSNIGST) * Convert(decimal(18,3),dispatchtrans.TotalAmountWithDiscount)/ 100,2)) as IGSTTaxAmount2 ,
		Convert(float,Round(Convert(decimal(18,3),DispatchTrans.HSNIGST)/2 * Convert(decimal(18,3), dispatchtrans.TotalAmountWithDiscount)/ 100,2)) as CGSTSGSTTaxAmount2,
		IsTaxDetailChanged as IsTaxDetailChanged
		from DispatchTrans
		INNER JOIN LedgerMaster ON LedgerMaster.ChargeId = DispatchTrans.ChargeId 
		INNER JOIN GstNatureOfTransaction on GstNatureOfTransaction.Id =  LedgerMaster.NatureOfTransaction
		INNER JOIN PurchaseItemMaster on dispatchtrans.PurchaseItemID = PurchaseItemMaster.PurchaseItemID
		INNER JOIN UOMMaster on PurchaseItemMaster.UnitOfMeasure = UOMMaster.UOMid
		INNER JOIN PurchaseItemGroupMaster on PurchaseItemMaster.PurchaseItemGroupId = PurchaseItemGroupMaster.PurchaseItemGroupId
		INNER JOIN OrderTranse ON dispatchtrans.orderid = OrderTranse.CustomerOrderId and dispatchtrans.orderserialno = OrderTranse.SrNo
		And dispatchtrans.PurchaseItemID = OrderTranse.PurchaseItemID				
        LEFT JOIN HSNGSTMapping ON DispatchTrans.TariffCode = HSNGSTMapping.HSNCode
		LEFT JOIN TaxMaster ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId
		
                                                               where 
                                                               dispatchtrans.IsDeleted=0
                                                               And dispatchtrans.DispatchID= @DispatchId                                                     
                                                               
        
        Set @SrNo = (Select MIN(DispatchOtherCharges.SrNo) from DispatchOtherCharges inner join LedgerMaster on DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId
        where DispatchOtherCharges.DispatchId = @DispatchId
        and UnderTaxation in (1,2,3) )    -- This will find charges Above GST because on that Tax is going to calculate
            
		--1 number query
		
        Select ChargeName , DispatchOtherCharges.ChargeId as ChargeId,ChargeAmount , LedgerGroup.LedgerGroupName, LedgerMaster.TarrifCode
		,TaxMaster.IGST ,LedgerMaster.ApplicableFrom
		from DispatchOtherCharges INNER JOIN LedgerMaster
        ON DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId   
        INNER JOIN LedgerGroup on LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId     
        And DispatchOtherCharges.SrNo < @SrNo
         Left join HSNGSTMapping on HSNGSTMapping.HSNCode = LedgerMaster.TarrifCode --added for HSNCode
        Left JOIN TaxMaster ON TaxMaster.TaxTemplateId=HSNGSTMapping.TaxTemplateId --added for HSNCode
        where DispatchOtherCharges.DispatchId = @DispatchId
        And (ChargeAmount is not null or ChargeAmount != 0)
        
        
        Set @SrNo = (Select MAX(DispatchOtherCharges.SrNo) from DispatchOtherCharges inner join LedgerMaster on DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId
        where DispatchOtherCharges.DispatchId = @DispatchId
        and UnderTaxation in (1,2,3) ) -- This will find charges Below GST because on that Tax is not going to calculate on that
        
		-- 2 number query

        Select ChargeName , DispatchOtherCharges.ChargeId as ChargeId,ChargeAmount , LedgerGroup.LedgerGroupName,
		LedgerMaster.ApplicableFrom,LedgerMaster.TarrifCode 
		from 
        DispatchOtherCharges INNER JOIN LedgerMaster ON DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId  
        INNER JOIN LedgerGroup on LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId               
        And DispatchOtherCharges.SrNo > @SrNo       
        where DispatchOtherCharges.DispatchId = @DispatchId
        And (ChargeAmount is not null or ChargeAmount != 0) 
        
		-- 3 number query

        Select ChargeName,ISNULL(ChargeAmount,0) as TaxAmount , LedgerMaster.UnderTaxation , LedgerMaster.IsRoundOff as TaxRoundoff ,
		LedgerMaster.ApplicableFrom,LedgerMaster.TarrifCode 	, LedgerGroup.LedgerGroupName AS ParentGroup	
		from 
        DispatchOtherCharges INNER JOIN LedgerMaster ON DispatchOtherCharges.ChargeId = LedgerMaster.ChargeId    
		INNER JOIN LedgerGroup ON LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId
        where DispatchOtherCharges.DispatchId = @DispatchId  
        And LedgerMaster.UnderTaxation in (1,2,3)

		-- 4 number query
		----------Cost centre-------
		Select  dispatchtrans.dispatchtransid as ItemId, CAST(0x0 AS UNIQUEIDENTIFIER) as ItemId2,
		CostCenter.CostCenter, CostCenterBreakup.Cost from CostCenterBreakup
		inner join CostCenterMasterNew as CostCenter on CostCenterBreakup.CostCenterId = CostCenter.CostCenterId
		inner join dispatchtrans on dispatchtrans.dispatchtransid = CostCenterBreakup.IntTransId
		where dispatchid = @DispatchId and CType = 1
		UNion all
		Select 0 as ItemId,   DispatchServiceItemTrans.DispatchServiceItemTransID as ItemId2,
		CostCenter.CostCenter, CostCenterBreakup.Cost from CostCenterBreakup
		inner join CostCenterMasterNew as CostCenter on CostCenterBreakup.CostCenterId = CostCenter.CostCenterId
		inner join DispatchServiceItemTrans on DispatchServiceItemTrans.DispatchServiceItemTransID = CostCenterBreakup.TransId
		where dispatchid = @DispatchId and CType = 1

		-- 5 number query

		Select CustomerOrderNo as OrderNo, ReceivedDate as OrderDate from dispatchtrans inner join OrderTranse on dispatchtrans.orderid = OrderTranse.CustomerOrderId
		and dispatchtrans.orderserialno = OrderTranse.SrNo
		And dispatchtrans.PartId = OrderTranse.PartId
		INNER JOIN OrderMaster on OrderMaster.CustomerOrderId = OrderTranse.CustomerOrderId
		where dispatchtrans.IsDeleted = 0
		and dispatchid = @DispatchId


        
	
	END
	
	IF @Parameter = 12
	BEGIN
	
		Select SetMaster.setID as ItemId , (SetMaster.SetName + ' - ' + SetCode) as Item , 'Set' as GroupName , 'PerSet' as UOM , 0 as DecimalPlace , SetMaster.TariffCode  as HSNCode, TaxMaster.IGST, TariffCodeHeading.TariffHeading as HSN
		from SetMaster
		LEFT JOIN HSNGSTMapping ON SetMaster.TariffCode = HSNGSTMapping.HSNCode
		LEFT JOIN TaxMaster ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId
		LEFT JOIN TariffCodeHeading ON SetMaster.TariffCode = TariffCodeHeading.TariffCode
		Where SetMaster.IsDeleted=0
		And (@SetID is null or SetMaster.SetId=@SetID)
		Order by SetMaster.SetName ASC
		
	
	END
	
	IF @Parameter = 13
	BEGIN
	
		Update SetMaster set IsSynced = 1 where SetId=@SetID
	
	END
	
	IF @Parameter = 14
	BEGIN
		
		Select ServiceItemMaster.ServiceItemId as PurchaseItemId , 
		(case when @TransferNameAs = 2 then (ServiceItemMaster.Item + ' - ' + ServiceItemMaster.ServiceNo) 
		else (case when @TransferNameAs = 0 then ServiceItemMaster.Item else ServiceNo end) end) as Item , 
		'Service' as GroupName , UOMMaster.UOM as UOM , 
		(case when UOMMaster.IsWholeNumber = 1 then 0 else  3 end) as DecimalPlace , 
		ServiceItemMaster.TariffCode  as HSNCode, 
		TaxMaster.IGST, TariffCodeHeading.TariffHeading as HSN, UQCMaster.TallyUQCEnum,
		SyncItemName , IsSynced as SyncStatus
		from ServiceItemMaster
		INNER JOIN UOMMaster on ServiceItemMaster.ServiceUOM = UOMMaster.UOMid
		INNER JOIN UQCMaster ON UOMMaster.UQCId = UQCMaster.Id
		LEFT JOIN HSNGSTMapping ON ServiceItemMaster.TariffCode = HSNGSTMapping.HSNCode
		LEFT JOIN TaxMaster ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId
		LEFT JOIN TariffCodeHeading ON ServiceItemMaster.TariffCode = TariffCodeHeading.TariffCode
		Where ServiceItemMaster.IsDeleted=0
		And (@PurchaseItemID is null or ServiceItemMaster.ServiceItemId=@PurchaseItemID)	
	--	and ServiceItemMaster.EntityID = @EntityId	
		Order by ServiceItemMaster.Item ASC
		
		--Select TOP 5 ServiceItemMaster.ServiceItemId as ItemId , (ServiceItemMaster.Item + ' - ' + ServiceItemMaster.ServiceNo) as Item , ServiceItemMaster.TariffCode  as HSNCode, TaxMaster.IGST, TariffCodeHeading.TariffHeading as HSN
		--from ServiceItemMaster
		--LEFT JOIN HSNGSTMapping ON ServiceItemMaster.TariffCode = HSNGSTMapping.HSNCode
		--LEFT JOIN TaxMaster ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId
		--LEFT JOIN TariffCodeHeading ON ServiceItemMaster.TariffCode = TariffCodeHeading.TariffCode
		--Where ServiceItemMaster.IsDeleted=0
		--And (@PurchaseItemID is null or ServiceItemMaster.ServiceItemId=@PurchaseItemID)
		--Order by ServiceItemMaster.Item ASC
	
	END
	
	IF @parameter = 15
	BEGIN
	
		Update ServiceItemMaster set IsSynced=@SyncStatus , SyncItemName = @SyncItemName 
		where ServiceItemId = @PurchaseItemID
	--	and ServiceItemMaster.EntityID = @EntityId
	
	END
	
	IF @Parameter = 16
	BEGIN
	
		Select TOp 1 DispatchID from dispatchmaster where IsDeleted=0 Order by createdon desc
	
	END
	
	IF @Parameter = 17
	BEGIN
	
		Select TOP 1 PurchaseInvoiceId from PurchaseInvoice where IsDelete=0 order by CreatedOn desc
	
	END
	
	IF @Parameter = 18
	BEGIN
	
		WITH RankedInvoiceFromLog AS (
    SELECT 
        PurInv.PurchaseInvoiceId,
        PurInv.InvoiceDate,
        PurInv.SupplierInvoiceNo,
		ISNULL(PurInv.Prefix, '') + ISNULL(PurInv.Separator, '') + PurInv.InvoiceNo + ISNULL(PurInv.Separator, '') + ISNULL(PurInv.Suffix, '') as VoucherNo,
        ROW_NUMBER() OVER (PARTITION BY PurInv.PurchaseInvoiceId ORDER BY PurInv.CreatedON DESC) AS rn
    FROM [ICAST_IMS_LOG].dbo.PurchaseInvoice PurInv
	where 
	PurInv.IsDelete=0 And (@PurchaseInvoiceID IS NULL or PurInv.PurchaseInvoiceId=@PurchaseInvoiceID) And PurInv.EntityId = @EntityID
	AND ( @CustomerID IS NULL   OR PurInv.SupplierID = @CustomerID )
	AND ( @DateFrom IS NULL  OR @DateTo IS NULL OR PurInv.SupplierInvoiceDate BETWEEN @DateFrom AND @DateTo)
)

SELECT 
    Plog.PurchaseInvoiceId,
    Plog.InvoiceDate,
    Plog.SupplierInvoiceNo,
	Plog.VoucherNo
	INTO #TempLogPurData

FROM RankedInvoiceFromLog Plog
WHERE Plog.rn = 1

	Select PurchaseInvoice.PurchaseInvoiceId  as DispatchUniqueId, CustomerMaster.CustomerName COLLATE DATABASE_DEFAULT as CustomerName,
		CustomerMaster.GSTNo COLLATE DATABASE_DEFAULT as GSTNo  , StateMaster.State COLLATE DATABASE_DEFAULT as StateName 
		,ISNULL(Prefix, '') COLLATE DATABASE_DEFAULT + ISNULL(Separator, '')  COLLATE DATABASE_DEFAULT + InvoiceNo  COLLATE DATABASE_DEFAULT  
		+ ISNULL(Separator, '')  COLLATE DATABASE_DEFAULT  + ISNULL(Suffix, '')  COLLATE DATABASE_DEFAULT   as InvoiceNo,
		PurchaseInvoice.InvoiceDate as DispatchDate,PurchaseInvoice.EffectiveDate as EffectiveDate , PurchaseInvoice.SupplierInvoiceNo   COLLATE DATABASE_DEFAULT 
		AS SupplierInvoiceNo  , PurchaseInvoice.BillingAddress  COLLATE DATABASE_DEFAULT   as SupplierAddress ,
		SupplierInvoiceDate as SupplierInvoiceDate , PurchaseInvoice.NetAmount     as VoucherTotal, 
		PurchaseInvoice.TotalAmount     as GrossAmount , DocumentThrough  COLLATE DATABASE_DEFAULT  as DispatchThrough
		,DispatchTo   COLLATE DATABASE_DEFAULT as DispatchTo , Remarks  COLLATE DATABASE_DEFAULT  as Remarks , PurchaseInvoice.ExpDisAmount    as DisAmount,
		IsGST as  IsIGST , RoundedAmount as RoundOff ,PurchaseInvoice.GSTset as GSTSetOff , ISNULL(ContinousSeries,0) as JV, InvoiceSeriesName  COLLATE DATABASE_DEFAULT  as VoucherType
		, RegistrationType     , PurchaseInvoice.PaymentTermsInDays as BillCreditPeriod,
	--	LedgerMaster.ChargeName as LedgerName, LedgerMaster.Taxper, LedgerGroup.LedgerGroupName as UnderGroup,LedgerMaster.Taxability, LedgerMaster.IsGSTApplicable,LedgerMaster.IsTDSApplicable,LedgerMaster.TdsRateName , 
		TDS.ChargeName  COLLATE DATABASE_DEFAULT  as TDSLedgerName ,TDSGroup.LedgerGroupName  COLLATE DATABASE_DEFAULT  as TDSUnderGroup, 
		Tds.TdsRateName  COLLATE DATABASE_DEFAULT  as TdsRateName 
		,  PurchaseInvoice.TDSPer , PurchaseInvoice.TDSAmount, suppCountry.CountryName COLLATE DATABASE_DEFAULT  as SuppCountry,
		NameOfOrganization  COLLATE DATABASE_DEFAULT as BuyerName,CompanyMaster.GSTNo COLLATE DATABASE_DEFAULT as BuyerGst, 
		CompState.State COLLATE DATABASE_DEFAULT  as BuyerState
		,CompCountry.CountryName  COLLATE DATABASE_DEFAULT as BuyerCountry , PostInvoiceAs , CCMaster.CostCenter COLLATE DATABASE_DEFAULT as CostCenter
		, (case when  #TempLogPurData.InvoiceDate is null then PurchaseInvoice.InvoiceDate else #TempLogPurData.InvoiceDate end) as OldVoucherDate, 
		(case when #TempLogPurData.VoucherNo cOLLATE DATABASE_DEFAULT is null then PurchaseInvoice.SupplierInvoiceNo  cOLLATE DATABASE_DEFAULT  else #TempLogPurData.VoucherNo  cOLLATE DATABASE_DEFAULT   end) as OldRef
		
				                                                                            from PurchaseInvoice INNER JOIN CustomerMaster ON PurchaseInvoice.SupplierID = CustomerMaster.CustomerId LEFT JOIN StateMaster on PurchaseInvoice.StateId = StateMaster.StateId	--Change
                                                              And StateMaster.IsDeleted=0	LEFT JOIN CountryMaster suppCountry on StateMaster.CountryId = suppCountry.CountryId
                                                              --LEFT JOIN LedgerMaster ON LedgerMaster.ChargeId = PurchaseInvoice.PurchaseUnderLedgerId				
                                                              --LEFT JOIN LedgerGroup ON LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId
                                                              INNER JOIN InvoiceSeries ON InvoiceSeries.SeriesId = PurchaseInvoice.SeriesId
                                                              LEFT JOIN LedgerMaster as TDS on TDS.ChargeId = PurchaseInvoice.TDSLedgerId
                                                              LEFT JOIN ledgerGroup as TDSGroup on TDSGroup.LedgerGroupId = tds.LedgerGroupId
															  INNER JOIN CompanyMaster on CompanyMaster.EntityId = PurchaseInvoice.EntityId
															  left join StateMaster as CompState on CompState.StateId = CompanyMaster.StateId
															  left join CountryMaster as CompCountry on CompCountry.CountryId = CompState.CountryId
															  left join CostCenterMasterNew as CCMaster on CCMaster.CostCenterId = PurchaseInvoice.CostCenterId
															  left join #TempLogPurData on #TempLogPurData.PurchaseInvoiceId = PurchaseInvoice.PurchaseInvoiceId
                                                               where PurchaseInvoice.IsDelete=0 --and dispatchmaster.IsSynced=0                                                              
                                                              And (@PurchaseInvoiceID IS NULL or PurchaseInvoice.PurchaseInvoiceId=@PurchaseInvoiceID)
                                                              And PurchaseInvoice.EntityId = @EntityID
															  AND ( @CustomerID IS NULL   OR PurchaseInvoice.SupplierID = @CustomerID )
															--   AND ( @InvoiceNo IS NULL   OR RefInvNo = @InvoiceNo  )
															  AND ( @DateFrom IS NULL  OR @DateTo IS NULL
																		OR PurchaseInvoice.SupplierInvoiceDate BETWEEN @DateFrom
																						AND
																						@DateTo
																	)
Order by PurchaseInvoice.InvoiceDate ASC , InvoiceNo ASC                                                                    
	
	
	
	END
	
	IF @Parameter = 19
	BEGIN
	
		Update PurchaseInvoice set IsSynced=@SyncStatus where PurchaseInvoiceId=@DispatchUniqueId
	
	END
	
	IF @Parameter = 20
	BEGIN
	

		Select ItemId, Item ,  Qty , Rate , TotalAmount,
		ItemTable.TaxPer ,  convert(float,IGSTTaxAmount) as IGSTTaxAmount , convert(float,CGSTSGSTTaxAmount) as CGSTSGSTTaxAmount,
		HSNCode , GroupName , Unit, IsTaxDetailChanged,
		LedgerMaster.ChargeName as LedgerName, LedgerMaster.Taxper as LedgerTaxper, LedgerGroup.LedgerGroupName as UnderGroup,LedgerMaster.Taxability, 
		LedgerMaster.IsGSTApplicable,isnull(LedgerMaster.IsTDSApplicable,0)AS IsTDSApplicable ,LedgerMaster.TdsRateName  ,
		GstNatureOfTransaction.TallyEnum,LedgerMaster.IsStockAffect,LedgerMaster.IsCostCenterApplicable,
		sum(TotalAmount) over(partition by LedgerMaster.ChargeName) as LedgerAmount,
		TotalTaxableAmount,IGSTTaxAmount2,CGSTSGSTTaxAmount2,
		ItemDescription
		from

		(

		Select CastingMaster.SyncItemName as Item , PurchaseInvoiceCastingPurchaseTrans.Qty as Qty , PurchaseInvoiceCastingPurchaseTrans.Rate , PurchaseInvoiceCastingPurchaseTrans.TotalAmount,
		PurchaseInvoiceCastingPurchaseTrans.HSNIGST as TaxPer , 
		Round(Convert(decimal(18,3),PurchaseInvoiceCastingPurchaseTrans.HSNIGST) * Convert(decimal(18,3),PurchaseInvoiceCastingPurchaseTrans.TotalAmountWithChargeAmt)/ 100,2) as IGSTTaxAmount ,
		Round(Convert(decimal(18,3),PurchaseInvoiceCastingPurchaseTrans.HSNIGST)/2 * Convert(decimal(18,3),PurchaseInvoiceCastingPurchaseTrans.TotalAmountWithChargeAmt)/ 100,2) as CGSTSGSTTaxAmount,
 		PurchaseInvoiceCastingPurchaseTrans.TariffCode as HSNCode , 'Casting' as GroupName , 'Nos' as Unit, PurchaseUnderLedgerId,
		PurchaseInvoiceCastingPurchaseTrans.PurchaseInvoiceCastingPurchaseTransID as ItemId , IsTaxDetailChanged
		,ISNULL(PurchaseInvoiceCastingPurchaseTrans.TotalAmountWithChargeAmt,0) as TotalTaxableAmount,
		Convert(float,Round(Convert(decimal(18,3),PurchaseInvoiceCastingPurchaseTrans.HSNIGST) * Convert(decimal(18,3),PurchaseInvoiceCastingPurchaseTrans.TotalAmountWithDiscount)/ 100,2)) as IGSTTaxAmount2 ,
		Convert(float,Round(Convert(decimal(18,3),PurchaseInvoiceCastingPurchaseTrans.HSNIGST)/2 * Convert(decimal(18,3), PurchaseInvoiceCastingPurchaseTrans.TotalAmountWithDiscount)/ 100,2)) as CGSTSGSTTaxAmount2,
		'' as ItemDescription
		
		from PurchaseInvoiceCastingPurchaseTrans  INNER JOIN CastingMaster on PurchaseInvoiceCastingPurchaseTrans.castingid = CastingMaster.CastingId			
        --LEFT JOIN HSNGSTMapping ON PurchaseInvoiceCastingPurchaseTrans.TariffCode = HSNGSTMapping.HSNCode
		--LEFT JOIN TaxMaster ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId
		
                                                               where 
                                                               PurchaseInvoiceCastingPurchaseTrans.IsDeleted=0
                                                               And PurchaseInvoiceCastingPurchaseTrans.PurchaseInvoiceId= @PurchaseInvoiceID
                                                               
		                                          
        UNION ALL
		Select ServiceItemMaster.SyncItemName as Item , PurchaseInvoiceServiceItemTrans.Qty as Qty , PurchaseInvoiceServiceItemTrans.Rate , PurchaseInvoiceServiceItemTrans.TotalAmount,
		PurchaseInvoiceServiceItemTrans.HSNIGST as TaxPer , Round(Convert(decimal(18,3),PurchaseInvoiceServiceItemTrans.HSNIGST) * Convert(decimal(18,3),PurchaseInvoiceServiceItemTrans.TotalAmountWithChargeAmt)/ 100,2) as IGSTTaxAmount ,Round(Convert(decimal(18,3),PurchaseInvoiceServiceItemTrans.HSNIGST)/2 * Convert(decimal(18,3),PurchaseInvoiceServiceItemTrans.TotalAmountWithChargeAmt)/ 100,2) as CGSTSGSTTaxAmount,
		PurchaseInvoiceServiceItemTrans.TariFFCode as HSNCode , 'Service' as GroupName , UOMMaster.UOM as Unit , PurchaseInvoiceServiceItemTrans.PurchaseUnderledgerId,
		PurchaseInvoiceServiceItemTrans.PurchaseInvoiceServiceItemTransID as ItemId , IsTaxDetailChanged
		
		,ISNULL(PurchaseInvoiceServiceItemTrans.TotalAmountWithChargeAmt,0) as TotalTaxableAmount,
		Convert(float,Round(Convert(decimal(18,3),PurchaseInvoiceServiceItemTrans.HSNIGST) * Convert(decimal(18,3),PurchaseInvoiceServiceItemTrans.TotalAmountWithDiscount)/ 100,2)) as IGSTTaxAmount2 ,
		Convert(float,Round(Convert(decimal(18,3),PurchaseInvoiceServiceItemTrans.HSNIGST)/2 * Convert(decimal(18,3), PurchaseInvoiceServiceItemTrans.TotalAmountWithDiscount)/ 100,2)) as CGSTSGSTTaxAmount2,
		PurchaseInvoiceServiceItemTrans.ItemDescription
		
		from PurchaseInvoiceServiceItemTrans  	
		INNER JOIN ServiceItemMaster on ServiceItemMaster.ServiceItemId = PurchaseInvoiceServiceItemTrans.ServiceItemId
		-- and ServiceItemMaster.EntityID = @EntityId
		left join UOMMaster on UOMMaster.UOMid = PurchaseInvoiceServiceItemTrans.UOMID 
  --      LEFT JOIN HSNGSTMapping ON PurchaseInvoiceServiceItemTrans.TariffCode = HSNGSTMapping.HSNCode
		--LEFT JOIN TaxMaster ON HSNGSTMapping.TaxTemplateId = TaxMaster.TaxTemplateId  
		
                                                               where 
                                                               PurchaseInvoiceServiceItemTrans.IsDeleted=0
                                                               And PurchaseInvoiceServiceItemTrans.PurchaseInvoiceID= @PurchaseInvoiceID                                                                                                                     
        UNION ALL
        
        Select PurchaseItemMaster.SyncItemName as Item , PurchaseInvoiceTrans.Qty as Qty , PurchaseInvoiceTrans.Rate , PurchaseInvoiceTrans.TotalAmount,
		PurchaseInvoiceTrans.HSNIGST as TaxPer , Round(Convert(decimal(18,3),PurchaseInvoiceTrans.HSNIGST) * Convert(decimal(18,3),PurchaseInvoiceTrans.TotalAmountWithChargeAmt)/ 100,2) as IGSTTaxAmount , Round(Convert(decimal(18,3),PurchaseInvoiceTrans.HSNIGST)/2 * Convert(decimal(18,3),PurchaseInvoiceTrans.TotalAmountWithChargeAmt)/ 100,2) as CGSTSGSTTaxAmount,
		PurchaseInvoiceTrans.TariffCode as HSNCode , PurchaseItemGroupMaster.GroupName as GroupName , UOMMaster.UOM as Unit, PurchaseInvoiceTrans.PurchaseUnderledgerId,
		PurchaseInvoiceTrans.PurchaseInvoiceTransID as ItemId , IsTaxDetailChanged
		,ISNULL(PurchaseInvoiceTrans.TotalAmountWithChargeAmt,0) as TotalTaxableAmount,
		Convert(float,Round(Convert(decimal(18,3),PurchaseInvoiceTrans.HSNIGST) * Convert(decimal(18,3),PurchaseInvoiceTrans.TotalAmountWithDiscount)/ 100,2)) as IGSTTaxAmount2 ,
		Convert(float,Round(Convert(decimal(18,3),PurchaseInvoiceTrans.HSNIGST)/2 * Convert(decimal(18,3), PurchaseInvoiceTrans.TotalAmountWithDiscount)/ 100,2)) as CGSTSGSTTaxAmount2,
		PurchaseInvoiceTrans.ItemDescription
		
		from PurchaseInvoiceTrans  INNER JOIN PurchaseItemMaster on PurchaseInvoiceTrans.PurchaseItemID = PurchaseItemMaster.PurchaseItemID
		INNER JOIN UOMMaster on PurchaseItemMaster.UnitOfMeasure = UOMMaster.UOMid
		LEFT JOIN PurchaseItemGroupMaster on PurchaseItemMaster.PurchaseItemGroupId = PurchaseItemGroupMaster.PurchaseItemGroupId		
        
		
                                                               where 
                                                               PurchaseInvoiceTrans.IsDeleted=0
                                                               And PurchaseInvoiceTrans.PurchaseInvoiceId= @PurchaseInvoiceID 
                                                               
        ) As ItemTable
		INNER JOIN LedgerMaster ON LedgerMaster.ChargeId = ItemTable.PurchaseUnderLedgerId				
        INNER JOIN LedgerGroup ON LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId  
        INNER JOIN GstNatureOfTransaction on GstNatureOfTransaction.Id =  LedgerMaster.NatureOfTransaction                                               
		   
        Set @SrNo = (Select MIN(PurchaseInvoiceOtherCharges.SrNo) from PurchaseInvoiceOtherCharges inner join LedgerMaster on PurchaseInvoiceOtherCharges.ChargeId = LedgerMaster.ChargeId
        where PurchaseInvoiceOtherCharges.PurchaseInvoiceID = @PurchaseInvoiceID
        and UnderTaxation in (1,2,3) )    -- This will find charges Above GST because on that Tax is going to calculate
                                                           
        Select ChargeName , PurchaseInvoiceOtherCharges.ChargeId as ChargeId,ChargeAmount , 
        LedgerGroup.LedgerGroupName,  LedgerMaster.TarrifCode,TaxMaster.IGST,
		LedgerMaster.ApplicableFrom,LedgerMaster.TarrifCode 		
		from PurchaseInvoiceOtherCharges INNER JOIN LedgerMaster
        ON PurchaseInvoiceOtherCharges.ChargeId = LedgerMaster.ChargeId   
        INNER JOIN LedgerGroup ON LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId     
        And PurchaseInvoiceOtherCharges.SrNo < @SrNo
        Left join HSNGSTMapping on HSNGSTMapping.HSNCode = LedgerMaster.TarrifCode --added for HSN
        Left JOIN TaxMaster ON TaxMaster.TaxTemplateId=HSNGSTMapping.TaxTemplateId --added for HSN
        where PurchaseInvoiceOtherCharges.PurchaseInvoiceID = @PurchaseInvoiceID
        And (ChargeAmount is not null or ChargeAmount != 0)
        
        
        Set @SrNo = (Select MAX(PurchaseInvoiceOtherCharges.SrNo) from PurchaseInvoiceOtherCharges inner join LedgerMaster on PurchaseInvoiceOtherCharges.ChargeId = LedgerMaster.ChargeId
        where PurchaseInvoiceOtherCharges.PurchaseInvoiceID = @PurchaseInvoiceID
        and UnderTaxation in (1,2,3) ) -- This will find charges Below GST because on that Tax is not going to calculate on that
        
        Select ChargeName , PurchaseInvoiceOtherCharges.ChargeId as ChargeId,ChargeAmount , LedgerGroup.LedgerGroupName,
		LedgerMaster.ApplicableFrom,LedgerMaster.TarrifCode 		 from 
        PurchaseInvoiceOtherCharges INNER JOIN LedgerMaster ON PurchaseInvoiceOtherCharges.ChargeId = LedgerMaster.ChargeId                
        INNER JOIN LedgerGroup ON LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId
        And PurchaseInvoiceOtherCharges.SrNo > @SrNo
        where PurchaseInvoiceOtherCharges.PurchaseInvoiceID = @PurchaseInvoiceID
        And (ChargeAmount is not null or ChargeAmount != 0)
        
        
         Select ChargeName,ISNULL(ChargeAmount,0) as TaxAmount , LedgerMaster.UnderTaxation , PurchaseInvoice.IsTaxAmountRounded as TaxRoundoff , LedgerGroup.LedgerGroupName AS ParentGroup from 
        PurchaseInvoiceOtherCharges INNER JOIN LedgerMaster ON PurchaseInvoiceOtherCharges.ChargeId = LedgerMaster.ChargeId
        INNER JOIN PurchaseInvoice ON PurchaseInvoiceOtherCharges.PurchaseInvoiceID =  PurchaseInvoice.PurchaseInvoiceId                           
		INNER JOIN LedgerGroup ON LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId
        where PurchaseInvoiceOtherCharges.PurchaseInvoiceID = @PurchaseInvoiceID
        And LedgerMaster.UnderTaxation in (1,2,3)
        
		Select  PurchaseInvoiceTrans.PurchaseInvoiceTransID as ItemId, 
		CostCenter.CostCenter, CostCenterBreakup.Cost from CostCenterBreakup
		inner join CostCenterMasterNew as CostCenter on CostCenterBreakup.CostCenterId = CostCenter.CostCenterId
		inner join PurchaseInvoiceTrans on PurchaseInvoiceTrans.PurchaseInvoiceTransID = CostCenterBreakup.TransId
		where PurchaseInvoiceId = @PurchaseInvoiceID
		union all
		Select  PurchaseInvoiceServiceItemTrans.PurchaseInvoiceServiceItemTransID as ItemId,CostCenter.CostCenter, CostCenterBreakup.Cost from CostCenterBreakup
		inner join CostCenterMasterNew as CostCenter on CostCenterBreakup.CostCenterId = CostCenter.CostCenterId
		inner join PurchaseInvoiceServiceItemTrans on PurchaseInvoiceServiceItemTrans.PurchaseInvoiceServiceItemTransID = CostCenterBreakup.TransId		
		where PurchaseInvoiceId = @PurchaseInvoiceID
		union all
		Select  PurchaseInvoiceCastingPurchaseTrans.PurchaseInvoiceCastingPurchaseTransID as ItemId, CostCenter.CostCenter, CostCenterBreakup.Cost from CostCenterBreakup
		inner join CostCenterMasterNew as CostCenter on CostCenterBreakup.CostCenterId = CostCenter.CostCenterId
		inner join PurchaseInvoiceCastingPurchaseTrans on PurchaseInvoiceCastingPurchaseTrans.PurchaseInvoiceCastingPurchaseTransID = CostCenterBreakup.TransId
		where PurchaseInvoiceId = @PurchaseInvoiceID
	
	END		
	
	IF @Parameter = 21
	BEGIN
	
		Select DebitLedgerDetail.DebitLedgerDetailId, ChargeName as LedgerName,DebitLedgerDetail.Amount as DBAmount , LedgerGroup.LedgerGroupName as GroupName from DebitLedgerDetail INNER JOIN LedgerMaster ON DebitLedgerDetail.ChargeId = LedgerMaster.ChargeId
		INNER JOIN LedgerGroup on LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId
		where PurchaseInvoiceId=@PurchaseInvoiceID
		
		Select ChargeName as LedgerName , ChargeAmount as DBAmount , LedgerGroup.LedgerGroupName as GroupName,UnderTaxation,LedgerMaster.IsRoundOff from PurchaseInvoiceOtherCharges INNER JOIN LedgerMaster on PurchaseInvoiceOtherCharges.ChargeId = LedgerMaster.ChargeId 
		INNER JOIN LedgerGroup on LedgerMaster.LedgerGroupId = LedgerGroup.LedgerGroupId
		where PurchaseInvoiceID=@PurchaseInvoiceID
		and UnderTaxation in (1,2,3) 
		and ChargeAmount IS NOT NULL and ChargeAmount > 0
	
	END
	
	IF @Parameter = 22
	BEGIN
	
		Select CostCenterName as CostCenter , LedgerCostCenterDetail.Amount  from LedgerCostCenterDetail INNER JOIN CostCenter on LedgerCostCenterDetail.CostCenterId = CostCenter.CostCenterId where DebitLedgerDetailId=@DebitLedgerID							
	END		
END

GO
