USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[LostFoamMoldingEntry_Consumptionupdate]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LostFoamMoldingEntry_Consumptionupdate] 
@MoldConsumption Nvarchar(Max), 
@Process Nvarchar(200) ,
@PlantId INT = 0,
@EntityId INT = 0,
@PrevMoldConsumption Nvarchar(Max) = NULL
AS
BEGIN
  
  BEGIN TRY
  BEGIN TRANSACTION LostFoam_Consumptionupdate

            IF ISJSON(@MoldConsumption) = 1
			 BEGIN

			      declare @ConsJson nvarchar(max)
				   
				    Select
					t.MoldTypeID,
					t.StockTypeID,
					t.ConsumptionDet,
					t.AssemblyId,
					CASE WHEN @Process = 'Delete' THEN t.Consumption ELSE t.Consumption*(-1) END Consumption
					INTO #tempMoldConsumption
					from
					Openjson(@MoldConsumption)
					WITH
					(
					MoldTypeID uniqueidentifier,
					StockTypeID uniqueidentifier,
					AssemblyId uniqueidentifier,
					ConsumptionDet Nvarchar(Max),
					Consumption int
					)as t Where t.Consumption > 0



					SET     @ConsJson  = ( SELECT
						       '['+
                                 (STUFF(( SELECT DISTINCT              
                                            ',' + SUBSTRING(ConsumptionDet, 2, LEN(ConsumptionDet)-2)              
                                  FROM      #tempMoldConsumption where    ConsumptionDet  <> ''                    
                                FOR              
                                  XML PATH('')              
                                ), 1, 1, '') ) +']' AS ConsumptionDet  )


                  Select
				  t.RawBatchId,
				  CASE WHEN @Process = 'Delete' THEN (t.ConsumptionQty) ELSE (t.ConsumptionQty) * (-1) END ConsumptionQty,
				  t.StockTypeId,
				  t.MoldTypeId,
				  t.AssemblyId,
				  t.OrderTranseId
				  INTO #TempRawStock
				  from
				  Openjson(@ConsJson)
				  With
				  (RawBatchId int,
				   ConsumptionQty int,
				   StockTypeId uniqueidentifier,
				   MoldTypeId uniqueidentifier,
				   AssemblyId uniqueidentifier,
				   OrderTranseId uniqueidentifier
				  ) as t Where t.ConsumptionQty > 0
				 -- GROUP BY t.RawBatchId,t.StockTypeId,t.MoldTypeId,t.AssemblyId



				


				          DECLARE 
						  @MoldTypeId uniqueidentifier,
						  @OrderId uniqueidentifier,
						  @StockTypeId uniqueidentifier,
						  @LostFoamId uniqueidentifier,
						  @AssemblyId uniqueidentifier,
						  @MethodId uniqueidentifier,
						  @Stock int,
						  @PrevStock int,
						  @CurrStock int,
						  @BatchId Int,
						  @RawBatchNo Nvarchar(500),
	                      @BatchNo Nvarchar(500)
						 

				          
                


						   --SET @Stock = @PrevStock - @CurrStock
			
				DECLARE BatchDetails CURSOR
                FOR
			    SELECT MoldTypeId,StockTypeId,AssemblyId,ConsumptionQty,RawBatchId,OrderTranseId from #TempRawStock
				OPEN BatchDetails;
                FETCH NEXT FROM BatchDetails INTO @MoldTypeId,
                    @StockTypeId,@AssemblyId, @CurrStock,
                    @BatchId, @OrderId
                        
                WHILE ( @@FETCH_STATUS = 0 )
                    BEGIN
				--IF @Process = 'Edit' 
				--BEGIN
						  
				--   Select
				--	@PrevStock = t.Consumption
				--	from
				--	Openjson(@PrevMoldConsumption)
				--	WITH
				--	(
				--	Consumption int
				--	)as t

				--	SET @Stock =  @PrevStock - @CurrStock

			 --  END
			 --  ELSE
			 --  BEGIN

			   SET @Stock = @CurrStock

			  -- END


			    declare @id  uniqueidentifier
				select @id = DieID from PurchaseItemMaster where PurchaseItemId = @AssemblyId

				 	      Select @RawBatchNo = RawBatchNo ,@BatchNo = RawBatchNo from RawInwBatchWiseStock 
						  where PurchaseItemId = @AssemblyId and StockTypeID = @id and PlantId = @PlantId and EntityId = @EntityId
						  and Ref_Id = @MoldTypeId And isnull(OrderTranseId,cast(0x0 as uniqueidentifier))=isnull(@OrderId ,cast(0x0 as uniqueidentifier))
						  select @LostFoamId = CoatId from CoatMaster where Iswaxing = 2
						  SET @RawBatchNo = CONCAT(@RawBatchNo, '-LF')

						  
							  Update
							  RawInwBatchWiseStock
							  SET RawInwBatchWiseStock.Qty = RawInwBatchWiseStock.Qty + @Stock
							  WHERE
							  RawInwBatchWiseStock.RawBatchId = @BatchId



							Update
							MoldInventory
							SET
							MoldInventory.MoldInventory = MoldInventory.MoldInventory  + @Stock 
							WHERE
							 MoldInventory.MoldingTypeID = @MoldTypeId
							AND MoldInventory.Type_ID = @StockTypeId
							AND MoldInventory.PlantId = @PlantId



                    
					if Exists ( select top 1 MoldingTypeID from MoldInventory where MoldingTypeID = @MoldTypeId and Type_ID = @LostFoamId AND MoldInventory.PlantId = @PlantId)
					Begin
					  
					  
					        Update
							MoldInventory
							SET
							MoldInventory.MoldInventory = CASE WHEN @Process = 'Delete' THEN MoldInventory.MoldInventory  - ABS(@Stock) ELSE MoldInventory.MoldInventory  + ABS(@Stock) END
							WHERE
							 MoldInventory.MoldingTypeID = @MoldTypeId
							AND MoldInventory.Type_ID = @LostFoamId
							AND MoldInventory.PlantId = @PlantId
					END
					ELSE
					BEGIN
                         INSERT INTO MoldInventory (MoldInventoryID,MoldingTypeID,MoldInventory,SandTypeID,MatchplateID,PlantId,Type_ID)
						 VALUES(NEWID(),@MoldTypeId,ABS(@Stock),0,NULL,@PlantId,@LostFoamId)
					END


					

					If exists ( select 1 rawbatchid from RawInwBatchWiseStock where  PurchaseItemId =  @AssemblyId and RawBatchNo = @RawBatchNo 
					and StockTypeID = @LostFoamId and Ref_Id = @MoldTypeId AND PlantId = @PlantId and EntityId = @EntityId
					And isnull(OrderTranseId ,cast(0x0 as uniqueidentifier)) = isnull(@OrderId,cast(0x0 as uniqueidentifier)))
					BEGIN
					 
					         Update
							  RawInwBatchWiseStock
							  SET RawInwBatchWiseStock.Qty = CASE WHEN @Process = 'Delete' THEN  RawInwBatchWiseStock.Qty - ABS(@Stock) ELSE RawInwBatchWiseStock.Qty + ABS(@Stock) END
							  
							  WHERE
							  RawInwBatchWiseStock.PurchaseItemId =  @AssemblyId
							  AND RawInwBatchWiseStock.StockTypeID = @LostFoamId
							  AND RawInwBatchWiseStock.Ref_Id = @MoldTypeId
							  AND RawInwBatchWiseStock.PlantId = @PlantId 
							  AND RawInwBatchWiseStock.EntityId = @EntityId 
							  AND RawInwBatchWiseStock.RawBatchNo = @RawBatchNo
							  And isnull(RawInwBatchWiseStock.OrderTranseId,cast(0x0 as uniqueidentifier)) =isnull(@OrderId,cast(0x0 as uniqueidentifier))

					END
					ELSE
					BEGIN
					
					Insert INTO RawInwBatchWiseStock ( PurchaseItemId,RawBatchNo,Qty,PlantId,EntityId,Ref_Id,StockTypeID,OrderTranseId)
					VALUES(@AssemblyId,@RawBatchNo,ABS(@Stock),@PlantId,@EntityId,@MoldTypeId,@LostFoamId,isnull(@OrderId,cast(0x0 as uniqueidentifier)))

					END
					
					FETCH NEXT FROM BatchDetails INTO @MoldTypeId,@StockTypeId,@AssemblyId, @CurrStock,@BatchId, @OrderId
					END

                    CLOSE BatchDetails

                    DEALLOCATE BatchDetails;

					DROP Table #tempMoldConsumption
					DROP Table #TempRawStock

			END
  COMMIT TRANSACTION LostFoam_Consumptionupdate

  RETURN 1
 
  END TRY
  BEGIN CATCH
  ROLLBACK TRANSACTION LostFoam_Consumptionupdate

  RETURN -1
  END CATCH
END
GO
