USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[RawMaterialRateHistory]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- RawMaterialRateHistory '',1
 CREATE PROCEDURE [dbo].[RawMaterialRateHistory]
	@PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityId INT = 0 , 
	 
	    @CustomerId UNIQUEIDENTIFIER = NULL ,  
	    @PurchaseItemId UNIQUEIDENTIFIER = NULL ,  
	      @PurchaseItemGroupId UNIQUEIDENTIFIER = NULL ,  
    @PurchaseItemSubGroupId UNIQUEIDENTIFIER = NULL ,  
    @PurchaseItemTypeId UNIQUEIDENTIFIER = NULL 
  
AS
BEGIN
	 
          
            SELECT  DISTINCT  
                    CustomerMaster.CustomerName ,  
                    PurchaseItemMaster.ItemName ,  
                    PurchaseItemMaster.ItemCode ,  
                    PurchaseItemMaster.PurchaseItemId ,  
                    Rate ,
                    Discount AS Discount,
                    --ApplyDate ,  
					CONVERT(NVARCHAR, ApplyDate , 106) AS ApplyDate,
                    CustomerMaster.CustomerId  
            FROM    RMRateMaster  
                    INNER JOIN PurchaseItemMaster ON RMRateMaster.PurchaseItemId = PurchaseItemMaster.PurchaseItemId  
                    INNER JOIN CustomerMaster ON RMRateMaster.CustomerId = CustomerMaster.customerid  
					 INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemId 
            WHERE   ( @CustomerId IS NULL  
                      OR CustomerMaster.CustomerId = @CustomerId  
                    )  
                    AND ( @PurchaseItemId IS NULL  
                          OR PurchaseItemMaster.PurchaseItemId = @PurchaseItemId  
                        )  
                    AND ( @PurchaseItemGroupId IS NULL  
                          OR PurchaseItemMaster.PurchaseItemGroupId = @PurchaseItemGroupId  
                        )  
                    AND ( @PurchaseItemSubGroupId IS NULL  
                          OR PurchaseItemMaster.PurchaseItemCategoryId = @PurchaseItemSubGroupId  
                        )  
                    AND ( @PurchaseItemTypeId IS NULL  
                          OR PurchaseItemMaster.PurchaseItemtypeId = @PurchaseItemTypeId  
                        )  
                   AND PurchaseCompanyMapping.CompanyId =@EntityId    
				   and RMRateMaster.IsPurchase = 1
            ORDER BY customername ,  
                    ItemName ,  
                    ItemCode  
                     
           
END
GO
