USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Process_Master]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Process_Master]
    @parameter INT = 0 ,
    @ProcessId UNIQUEIDENTIFIER = NULL ,
    @ProcessName VARCHAR(100) = NULL ,
    @Remarks VARCHAR(MAX) = NULL ,
    @CreatedBy INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL ,
    @IsDeleted INT = 0 ,
    @DeletedBy INT = 0 ,
    @DeletedOn DATETIME = NULL ,
    @ProcessInspection BIT = 0 ,
    @AutoProcess BIT = 0 ,
    @processSequence INT = 0 ,
    @SequenceNo INT = 0 ,
	@IsProcessTransferModule BIT =0 ,	
    @OtherProcessId UNIQUEIDENTIFIER = NULL ,
    @OtherSerialNo INT = 0 ,
    @Oldprocessname VARCHAR(100) = NULL ,
    @CastingId UNIQUEIDENTIFIER = NULL ,
    @ReportId UNIQUEIDENTIFIER = NULL,
    @DepartmentDetail AS XML = NULL ,
    @DepartmentId UNIQUEIDENTIFIER = NULL ,
    -- Added by Nikunj
    @ShortCode VARCHAR(100) = NULL ,
    @ShortCodeComplete VARCHAR(100) = NULL ,
    @ShortCodeInspection VARCHAR(100) = NULL ,
    
    @DisplayName VARCHAR(100) = NULL ,    
    @DisplayNameComplete VARCHAR(100) = NULL,
    @DisplayNameInspection VARCHAR(100) = NULL,
    
    @ReferenceId UNIQUEIDENTIFIER = NULL,
    @ReferenceType INT = 0 ,
    @ProdProcessMappingId  UNIQUEIDENTIFIER = NULL,
    @EmpReferenceId INT = 0 ,
    @min INT = 0 ,
    @sec INT = 0 ,
    @ton FLOAT = 0 ,
    @IsMachineShop BIT = 0 ,
    @MenuName varchar(50) = NULL,
    @ProcessWiseSeparatePage bit=0,
    @MenuStatus bit=0,
    @IsReworkProcess BIT = 0
    
  , @IsStockTransferReq BIT = NULL 
  , @IsFoundryReturn BIT = NULL
  , @MetalId int = 0,
    @IsQcProcess BIT = 0 
    ,@ALLProcess varchar(MaX) = NULL
    
    ,@ColorCodeDetail XML = NULL 
   , @ColorCode varchar(50) = NULL
   , @ProcessN varchar(50) = NULL,
   @CycleID int = 0 ,
   @IsAll INT = 1 ,              
   @Block INT =0 ,
   @ProcessesHeatEntry BIT = 0,
   @EntityId INT = 0,
   @ProcessParameter AS XML = NULL,
   @ProcessParameterID bigint = 0,
   @FM INT = 0 ,
   @IsInspProcess bit = 0,
   @IsInspSeq int = 0,
   @ReasonType int = 0,
   @ProcessXML XML = null,
   @NotFetchJo int = 0,
   @MachineShopType INT = 0,
   @ProcessType INT = 0 -- 2 means Machining 1 means Other
   
   
AS
BEGIN
Declare @MenuID int, @ReportMenuID INT;

    IF @parameter = 1		-- Insert Process Master
    BEGIN
	BEGIN TRANSACTION                     
	begin try

        DECLARE @FetchSequenceNo INT;
            
        DECLARE UpdateSequence CURSOR
        FOR
            SELECT  ProcessId , ProcessSequence
            FROM    dbo.ProcessMaster
            WHERE   ProcessSequence >= @SequenceNo
            ORDER BY ProcessSequence DESC
                                   
        OPEN UpdateSequence
        FETCH NEXT FROM UpdateSequence INTO @ProcessId, @processSequence
       
        WHILE ( @@FETCH_STATUS = 0 )
        BEGIN
        
            IF EXISTS ( SELECT  ProcessSequence FROM ProcessMaster WHERE   ProcessSequence = @processSequence )
            BEGIN
                SET @FetchSequenceNo = ( SELECT ProcessSequence FROM   ProcessMaster
                                         WHERE  ProcessSequence = @processSequence ) 
                                       
                IF ( @IsProcessTransferModule = 1 )
                    BEGIN
                        UPDATE  ProcessMaster
                        SET     ProcessSequence = @FetchSequenceNo + 2
                        WHERE   ProcessSequence = @processSequence
                    END
                ELSE
                    BEGIN
                        UPDATE  ProcessMaster
                        SET     ProcessSequence = @FetchSequenceNo + 1
                        WHERE   ProcessSequence = @processSequence
                    END
                    
                IF ( @ProcessInspection = 1 )
                    BEGIN
                        UPDATE  ProcessMaster
                        SET     ProcessSequence = @FetchSequenceNo + 2
                        WHERE   ProcessSequence = @processSequence
                      
                    END
                ELSE
                    BEGIN
                        UPDATE  ProcessMaster
                        SET     ProcessSequence = @FetchSequenceNo + 1
                        WHERE   ProcessSequence = @processSequence
                    END
              
            END
               
			FETCH NEXT FROM UpdateSequence INTO @ProcessId, @processSequence
		END 
            
        IF @@ERROR <> 0
		Begin
            ROLLBACK TRANSACTION
			return -1 
        end
                
        CLOSE UpdateSequence;
        DEALLOCATE UpdateSequence;                     
                                       
		--DECLARE @ProcessId UNIQUEIDENTIFIER
		SET @ProcessId = NEWID()
            
        IF @IsFoundryReturn > 0
        BEGIN
			UPDATE ProcessMaster SET IsFoundryReturn = 0
        END
		
		DECLARE @MainProcSeqNo INT = @SequenceNo, @InspProcessSeqNo INT = (@SequenceNo + 1);
        IF ( @IsProcessTransferModule = 1 )
        BEGIN
			SET @MainProcSeqNo = (@MainProcSeqNo + 1)
			SET @InspProcessSeqNo = (@InspProcessSeqNo + 1)
        END
          
        
        if  @IsMachineShop = 1
        begin
			set @ColorCode = ( select isnull((select top 1
					isnull(ProcessColor,'') as ColorCode 
					from ProcessMaster 
					where IsMachineShop = 1 and IsDeleted = 0
					and isnull(ProcessColor,'') <> ''),'') as ColorCode)
        end        
        else
        begin
			set @ColorCode = '';
        end
           
        INSERT  INTO ProcessMaster
                    ( ProcessId,
					  ProcessName ,
                      Remarks ,
                      IsDeleted ,
                      CreatedBy ,
                      CreatedOn ,
                      AutoProcess ,
                      ProcessSequence ,
                      ShortCode,
                      DisplayName ,
                      min,
                      sec,
                      ton,
                      IsMachineShop,
                      MenuName,
                      MenuStatus,
                      IsReworkProcess
                    , IsStockTransReq
                    , IsFoundryReturn
                    ,	ProcessColor,
                    IsInspectionProcess,
                    IsInspectionSeq,
                    MachineReason,
                    CastingReason,
					MachineShopType
                    )
            VALUES  ( @ProcessId,
					  @ProcessName ,
                      @Remarks ,
                      @IsDeleted ,
                      @CreatedBy ,
                      @CreatedOn ,
                      0 ,
                      @MainProcSeqNo ,
                      @ShortCodeComplete ,
                      @DisplayNameComplete,
                      @min,
                      @sec,
                      @ton,
                      @IsMachineShop,
                      UPPER( @MenuName ),
                      @MenuStatus,
                      @IsReworkProcess
                    , @IsStockTransferReq
                    , @IsFoundryReturn
                    , @ColorCode,
                    @IsInspProcess,
                    @IsInspSeq,
                    case when @ReasonType = 2 then 1 else 0 end,
                    case when @ReasonType = 1 then 1 else 0 end,
					@MachineShopType
                    )
                    
            Declare @CostParentId int
            IF @IsMachineShop = 0 Or ( @IsMachineShop = 1 and @MachineShopType = 1)
            BEGIN
                    
            if(@IsMachineShop = 0 )
			BEGIN
				select @CostParentId = CostCenterId from CostCenterMasterNew where  ShortCode = 'FDR'
			END
			else if( @IsMachineShop = 1 and @MachineShopType = 1)
			BEGIN
				select @CostParentId = CostCenterId from CostCenterMasterNew where  ShortCode = 'MCH'
			END

            INSERT INTO [dbo].[CostCenterMasterNew]
           ([CostCenter]
           ,[ShortCode]
           ,[CostCenterParentId]
           ,[IsDefault]
           ,[CreateBy]
           ,[CreateOn]
           ,[ProcessId])
           VALUES
           (
             @ProcessName,
             @ShortCodeComplete,
             @CostParentId,
             0,
             @CreatedBy,
             @CreatedOn,
             @ProcessId
           )
           END
           
           --ELSE IF @IsMachineShop = 1
           --BEGIN
                    
                    
           -- select @CostParentId = CostCenterId from CostCenterMasterNew where ShortCode = 'MCH'

           -- INSERT INTO [dbo].[CostCenterMasterNew]
           --([CostCenter]
           --,[ShortCode]
           --,[CostCenterParentId]
           --,[IsDefault]
           --,[CreateBy]
           --,[CreateOn]
           --,[ProcessId])
           --VALUES
           --(
           --  @ProcessName,
           --  @ShortCodeComplete,
           --  @CostParentId,
           --  0,
           --  @CreatedBy,
           --  @CreatedOn,
           --  @ProcessId
           --)
           --END
                    
                    
        SELECT @ProcessId AS ProcessId
          
		IF ( @IsProcessTransferModule = 1 )
		BEGIN
            INSERT  INTO ProcessMaster
                        ( ProcessName ,
                          Remarks ,
                          IsDeleted ,
                          CreatedBy ,
                          CreatedOn ,
                          AutoProcess ,
                          ProcessSequence ,
                          ShortCode,
                          DisplayName ,
                          AutoFromProcessID,
                          min,
						  sec,
						  ton,
						  IsMachineShop,
						  MachineShopType
                        )
            VALUES  ( 'In ' + @ProcessName,
                          @Remarks ,
                          @IsDeleted ,
                          @CreatedBy ,
                          @CreatedOn ,
                          1 ,
                          @SequenceNo,
                          @ShortCode,
                          @DisplayName ,
                          @ProcessId,
                          @min,
						  @sec,
						  @ton,
						  @IsMachineShop,
						  @MachineShopType
                        )
		END
		
		IF ( @ProcessInspection = 1  and isnull(@IsInspProcess,0) = 0)
		BEGIN                   
			INSERT  INTO ProcessMaster
					( ProcessName ,
					  Remarks ,
					  IsDeleted ,
					  CreatedBy ,
					  CreatedOn ,
					  AutoProcess ,
					  ProcessSequence,
					  ShortCode,
					  DisplayName,
					  AutoFromProcessID,
					  min,
					  sec,
					  ton,
					  IsMachineShop,
					  MachineShopType
					)
			VALUES  (	@ProcessName + ' Inspection' ,
						@Remarks ,
						@IsDeleted ,
						@CreatedBy ,
						@CreatedOn ,
						1 ,
						@InspProcessSeqNo,
						@ShortCodeInspection,
						@DisplayNameInspection ,
						@ProcessId,
						@min,
					    @sec,
					    @ton,
					    @IsMachineShop,
						@MachineShopType
                    )
		END
        
        DECLARE DepartmentDetail CURSOR
        FOR
            SELECT  Node.value('(DepartmentId)[1]', 'uniqueidentifier') AS 'DepartmentId'
            FROM    @DepartmentDetail.nodes('/DocumentElement/DepartmentDetail')
                    AS TEMPXML ( Node )
                    
        OPEN DepartmentDetail;
			
        FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
   
        WHILE ( @@FETCH_STATUS = 0 )
        BEGIN                   
        
            INSERT  INTO ProcessSysDepartmentMapping
                    ( MappingId ,
                      ProcessID ,
                      DepartmentId 
                    )
            VALUES  ( NEWID() ,
                      @ProcessId ,
                      @DepartmentId                                   
                    )
                                 
            IF @@ERROR <> 0
			Begin
            ROLLBACK TRANSACTION
			return -1 
			 end
    
            FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
         
            IF @@ERROR <> 0
            Begin
				ROLLBACK TRANSACTION
				return -1 
			end
        END
                            
        CLOSE DepartmentDetail;
        DEALLOCATE DepartmentDetail; 
          
		declare @name varchar(50)
        IF @IsMachineShop = 0 AND  ((@ProcessWiseSeparatePage = 1 Or (@IsInspProcess = 1)) AND @MenuStatus = 1) 
        BEGIN
    	    BEGIN
    			DECLARE @Pageid VARCHAR(50)
    		    BEGIN
    		    IF EXISTS(Select ID from MenuMaster where ID='PRODUCTIONTRANSACTIONALENTERIES')
					BEGIN
						SET @Pageid = 'PRODUCTIONTRANSACTIONALENTERIES'
					END
				ELSE
					BEGIN
						SET @Pageid = 'PRODUCTION'
					END
				END
				
				EXEC dbo.[DynamicMenuGeneration] @ProcessID = @ProcessId,
				@MenuName = @MenuName , @IsMachineShop = @IsMachineShop, @OnClick = '_INHOUSEPROCESSPERFORM', @ID = @Pageid, @MenuKey = 'ProcessId'
			END

			IF (isnull(@IsInspProcess,0) = 0)
			BEGIN
    		    BEGIN
    		    IF EXISTS(Select ID from MenuMaster where ID='PRODUCTIONTRANSACTIONALENTERIES')
					BEGIN
						SET @Pageid = 'PRODUCTIONREPORT'
					END
				ELSE
					BEGIN
						SET @Pageid = 'REPORTPRODUCTION'
					END
				END
			
				
				SET @name = @MenuName + ' REPORT'
				EXEC dbo.[DynamicMenuGeneration] @ProcessID = @ProcessId,
				@MenuName = @name , @IsMachineShop = @IsMachineShop, @OnClick = '_INHOUSEPROCESSPERFORMREPORT', @ID = @Pageid, @MenuKey = 'ReportId', @IsIsoNo = 1
			END
		END
		ELSE
		BEGIN

		 IF @IsMachineShop = 1 AND @MenuStatus = 1 
		 BEGIN

		      SET @Pageid = 'INHOUSEMACHINESHOP'

		       EXEC dbo.[DynamicMenuGeneration] @ProcessID = @ProcessId,
				@MenuName = @MenuName , @IsMachineShop = @IsMachineShop, @ID = @Pageid, @MenuKey = 'ProcessId',@OnClick = '_INHOUSEPROCESSPERFORM'

		    IF (isnull(@IsInspProcess,0) = 0)
			BEGIN
    		    
    		    
						SET @Pageid = 'REPORTMS'
					
				
			
				
				SET @name = @MenuName + ' REPORT'
				EXEC dbo.[DynamicMenuGeneration] @ProcessID = @ProcessId, 
				@MenuName = @name , @IsMachineShop = @IsMachineShop, @OnClick = '_INHOUSEPROCESSPERFORMREPORT', @ID = @Pageid, @MenuKey = 'ReportId', @IsIsoNo = 1
			END

			END


		END
	
	
				DECLARE ProcessParameterMapping CURSOR FOR
						
						SELECT	Node.value('(ProcessParameterID)[1]', 'bigint') AS 'ProcessParameterID'
						FROM	@ProcessParameter.nodes('/DocumentElement/ProcessParameter')
						
					AS TEMPXML (Node)

					OPEN ProcessParameterMapping;

					FETCH NEXT FROM ProcessParameterMapping INTO @ProcessParameterID
					WHILE (@@FETCH_STATUS = 0)
					BEGIN
						INSERT INTO [dbo].[ProcessParameterMapping]
								   ([ProcessId]
								   ,[ProcessParameterID]
								   ,[IsDeleted]
								   )
							 VALUES (@ProcessId ,
									@ProcessParameterID,
									0
									)

						FETCH NEXT FROM ProcessParameterMapping INTO @ProcessParameterID

						IF @@ERROR <> 0
						Begin
							ROLLBACK TRANSACTION
							return -1 
						end

					END

					CLOSE ProcessParameterMapping;
					DEALLOCATE ProcessParameterMapping;
				
			IF ((SELECT permitir.permitir FROM permitir WHERE Code = 'ICMAE') = 1)
			BEGIN
				if ( ( SELECT top 1 isnull(permitir,0) as permitirs FROM permitir WHERE Code = 'SPPE') = 1)
				begin	 
					DECLARE @PrimProdId INT = ISNULL((select top 1 Menuid from MenuMaster where ID = 'PRODUCTION' and DisplayInApk = 1), 0);
					 UPDATE menumaster set DisplayInApk = 1 where menumaster.ParentId = @PrimProdId AND MenuMaster.MenuId IN (
						SELECT	menumaster.MenuId FROM menumaster 
								inner join ProcessMaster ON ProcessMaster.MenuName = menumaster.MenuName and IsDeleted = 0
						where	OnClick = '_INHOUSEPROCESSPERFORM' AND PermitirCode = 'PP' AND IfActive = 1
								AND ProcessMaster.IsMachineShop = 0 AND ProcessMaster.IsReworkProcess = 0 AND ProcessMaster.IsHT = 0
								AND ProcessMaster.IsFoundryReturn = 0 AND ProcessMaster.IsQCProcess = 0 AND ProcessMaster.CycleId = 0
								AND ProcessMaster.IsForging = 0 AND ProcessMaster.IsInspectionProcess = 0 
								AND ProcessMaster.IsJOProcess = 0
								AND ProcessMaster.IsAssemblyProcess = 0 AND ProcessMaster.IsMachineShopInward = 0
								AND ProcessMaster.ProcessId = @ProcessId
					)

					DECLARE @ProcessMenu_ID NVARCHAR(500) = null
					SET @ProcessMenu_ID = (
						SELECT	TOP 1 menumaster.ID FROM menumaster 
								inner join ProcessMaster ON ProcessMaster.MenuName = menumaster.MenuName and IsDeleted = 0
						where	OnClick = '_INHOUSEPROCESSPERFORM' AND PermitirCode = 'PP' AND IfActive = 1
								AND ProcessMaster.IsMachineShop = 0 AND ProcessMaster.IsReworkProcess = 0 AND ProcessMaster.IsHT = 0
								AND ProcessMaster.IsFoundryReturn = 0 AND ProcessMaster.IsQCProcess = 0 AND ProcessMaster.CycleId = 0
								AND ProcessMaster.IsForging = 0 AND ProcessMaster.IsInspectionProcess = 0 AND ProcessMaster.IsJOProcess = 0
								AND ProcessMaster.IsAssemblyProcess = 0 AND ProcessMaster.IsMachineShopInward = 0
								AND menumaster.ParentId = @PrimProdId AND ProcessMaster.ProcessId = @ProcessId
					)

					IF (ISNULL(@ProcessMenu_ID, '') <> '')
					BEGIN
						DECLARE @ProcPerfMenuId INT = ISNULL((	select top 1 Menuid from MenuMaster 
																where ID = @ProcessMenu_ID AND ISNULL(IfActive, 0) = 1), 0)
						DECLARE @ParentSrNo INT = ISNULL((SELECT TOP 1 ParentSrNo FROM AppMenu WHERE MenuId = @PrimProdId), 1)
						DECLARE @ChildSrNo INT = ISNULL((SELECT TOP 1 (MAX(ChildSrNo) + 1) FROM AppMenu WHERE ParentId = @PrimProdId), 2)

						if not exists ( select 1 from AppMenu where MenuId = @ProcPerfMenuId) AND @ProcPerfMenuId <> 0
						begin	
							insert into AppMenu (MenuId,ParentId,ParentSrNo,ChildSrNo) 
								values(@ProcPerfMenuId, @PrimProdId, @ParentSrNo, @ChildSrNo)
						end
                    END
				end
			END

		end try
		begin catch

		ROLLBACK TRANSACTION
		return -1 
		end catch
		 COMMIT TRANSACTION          
         RETURN 1
    END
        
    IF @parameter = 2		-- Fetch Process Master Details
        BEGIN

            SELECT  ProcessName ,
                    Remarks ,
                    processSequence ,
                    ProcessId ,
                    IsDeleted ,
                    IsDefault ,
                    REPLACE(ShortCode, 'In ', '') as ShortCode,
                    isnull(min,0) as min,
                    isnull(sec,0) as sec,
                    isnull(ton,0) as ton,
                    isnull(ton,0) as ton,
                    IsMachineShop,
                    MenuName,
                    MenuStatus
                  , ISNULL(IsStockTransReq,0) AS IsStockTransReq
                  --added by megha
                  ,IsHT
                  ,ISNULL(IsFoundryReturn,0) AS IsFoundryReturn,
                  IsQCProcess,
                  IsDefaultForging,
                  IsForging,
                  IsInspectionProcess as IsInspProcess,
                  Isnull(IsInspectionSeq,'') as IsInspectionSeq, 
                  case when ProcessMaster.MachineReason = 1 then 2 else case when ProcessMaster.CastingReason = 1 then 1 else 0 end end as ReasonType,
                  IsAssemblyProcess,
				  --added by megha
                  IsMachineShopInward,
				  MachineShopType
				  
                  -------------
            FROM    ProcessMaster
           -- WHERE   IsDefault = 0
            WHERE   autoprocess = 0 --and IsDeleted = 0
					and ProcessMaster.CycleId = 0
					AND (@IsAll = 1 or (ProcessMaster.IsDeleted = @Block ))
					AND (@FM = 1 OR (@FM  = 0 and IsDefaultForging = 0))
				    AND (@FM = 1 OR (@FM  = 0 and IsForging = 0))
				    ANd IsJOProcess = 0
            ORDER BY processSequence

        END

    IF @parameter = 3		-- Update Process Master, For UP and Down
        BEGIN
           
            DECLARE @Counter INT = @Processsequence;
            DECLARE @OtherCounter INT = @Otherserialno;
            --DECLARE @Sequence INT  = ( SELECT   processSequence
            --                           FROM     dbo.ProcessMaster
            --                           WHERE    ProcessId = @ProcessId
            --                         )
            --IF ( @processSequence = ( SELECT    processSequence
            --                          FROM      dbo.ProcessMaster
            --                          WHERE     ProcessId = @ProcessId
            --                        ) )
            --    BEGIN
                  
                    --DECLARE @oldProcessName VARCHAR(100)= ( SELECT
                    --                                          ProcessName
                    --                                        FROM
                    --                                          ProcessMaster
                    --                                        WHERE
                    --                                          ProcessId = @OtherProcessId
                    --                                      )
                                                     
            UPDATE  ProcessMaster
            SET     --ProcessName = @ProcessName ,
                    Remarks = @Remarks ,
                    processSequence = @counter ,
                    ModifiedBy = @ModifiedBy ,
                    ModifiedOn = @ModifiedOn
            WHERE   ProcessId = @OtherProcessId                      
                    
            SET @ProcessName = ( SELECT ProcessName
                                 FROM   ProcessMaster
                                 WHERE  ProcessId = @OtherProcessId
                               )
                    
                    
            IF EXISTS ( SELECT  ProcessName
                        FROM    processmaster
                        WHERE   ProcessName = @ProcessName + ' Completed' )
                BEGIN
                    SET @Counter = @Counter + 1;
                    UPDATE  dbo.ProcessMaster
                    SET     ProcessSequence = @counter
                    WHERE   ProcessName = @ProcessName + ' Completed'
                END
                
            IF EXISTS ( SELECT  ProcessName
                        FROM    processmaster
                        WHERE   ProcessName = 'In ' + @ProcessName)
                BEGIN
                    SET @Counter = @Counter - 1;
                    UPDATE  dbo.ProcessMaster
                    SET     ProcessSequence = @counter
                    WHERE   ProcessName = 'In ' + @ProcessName
                END
                
            IF EXISTS ( SELECT  ProcessName
                        FROM    processmaster
                        WHERE   ProcessName = @ProcessName + ' Inspection' )
                BEGIN
                    SET @Counter = @Counter + 1;
                    UPDATE  dbo.ProcessMaster
                    SET     ProcessSequence = @counter
                    WHERE   ProcessName = @ProcessName + ' Inspection'
                END
                    
           
                        -- Update Processsequence when process UP 
            SET @OtherCounter = @OtherSerialNo;
                   
            UPDATE  ProcessMaster
            SET     --ProcessName = @ProcessName ,
                    Remarks = @Remarks ,
                    processSequence = @OtherCounter ,
                    ModifiedBy = @ModifiedBy ,
                    ModifiedOn = @ModifiedOn
            WHERE   ProcessId = @ProcessId                      
                    
            DECLARE @OtherProcessName VARCHAR(100)= ( SELECT  ProcessName
                                                      FROM    ProcessMaster
                                                      WHERE   ProcessId = @ProcessId
                                                    )
                    
            IF EXISTS ( SELECT  ProcessName
                        FROM    processmaster
                        WHERE   ProcessName = @OtherProcessName + ' Completed' )
                BEGIN
                    SET @OtherCounter = @OtherCounter + 1;
                    UPDATE  dbo.ProcessMaster
                    SET     ProcessSequence = @OtherCounter
                    WHERE   ProcessName = @OtherProcessName + ' Completed'
                END
                
            IF EXISTS ( SELECT  ProcessName
                        FROM    processmaster
                        WHERE   ProcessName = @OtherProcessName
                                + ' Inspection' )
                BEGIN
                    SET @OtherCounter = @OtherCounter + 1;
                    UPDATE  dbo.ProcessMaster
                    SET     ProcessSequence = @OtherCounter
                    WHERE   ProcessName = @OtherProcessName + ' Inspection'
                END
                
               IF EXISTS ( SELECT  ProcessName
                        FROM    processmaster
                        WHERE   ProcessName = 'In ' + @OtherProcessName  )
                BEGIN
                    SET @OtherCounter = @OtherCounter - 1;
                    UPDATE  dbo.ProcessMaster
                    SET     ProcessSequence = @OtherCounter
                    WHERE   ProcessName = 'In ' + @OtherProcessName 
                END
                        
                --END
                
				
					
        END

    IF @parameter = 4		-- Delete from Process Master
    BEGIN
		
        IF	(	EXISTS ( SELECT  processid FROM    CastingProcess WHERE   ProcessId = @ProcessId )
			OR	EXISTS ( SELECT  processid FROM    CastingStockBatch WHERE   ProcessId = @ProcessId AND Batchstock > 0 )
            OR	EXISTS ( SELECT  processid FROM    RouteCardTrans WHERE   ProcessId = @ProcessId  AND IsDeleted = 0)
            OR	EXISTS ( SELECT  processid FROM    CastingJOStockBatch WHERE   ProcessId = @ProcessId  AND BatchStock > 0)
        )
        BEGIN                     
            RETURN 0;
        END
        ELSE
        BEGIN
            UPDATE  ProcessMaster
            SET     IsDeleted = '1' ,
                    DeletedBy = @DeletedBy ,
                    DeletedOn = @DeletedOn
            WHERE   ( ProcessId = @ProcessId )
			
			-- this code is for update the sequence of inspection Process---
			if exists (Select 1 from ProcessMaster Where ProcessId = @ProcessId and IsInspectionProcess = 1)
			BEGIN
				Set @IsInspSeq = ( select isInspectionSeq from ProcessMaster Where ProcessId = @ProcessId)
				update ProcessMaster Set IsInspectionSeq = IsInspectionseq -1 Where IsInspectionSeq > @IsInspSeq and IsInspectionProcess = 1
			END
			---------------------
            SET @Oldprocessname = ( SELECT  processname FROM    ProcessMaster WHERE   ProcessId = @ProcessId )
            
            IF EXISTS ( SELECT  processname FROM    ProcessMaster WHERE   ProcessName = 'In ' + @Oldprocessname  and AutoFromProcessID=@ProcessId)
            BEGIN
                UPDATE  ProcessMaster
                SET     IsDeleted = '1'
                WHERE   ProcessName = 'In ' + @Oldprocessname and AutoFromProcessID=@ProcessId
            END
            
            IF EXISTS ( SELECT  processname FROM    ProcessMaster WHERE   ProcessName = @Oldprocessname + ' Inspection' and AutoFromProcessID=@ProcessId)
            BEGIN
                UPDATE  ProcessMaster
                SET     IsDeleted = '1'
                WHERE   ProcessName = @Oldprocessname + ' Inspection' and AutoFromProcessID=@ProcessId
            END
                
            IF EXISTS(SELECT MenuId FROM MenuParameter WHERE MenuValue = @ProcessId)
            BEGIN    
				SET @MenuID = (SELECT MenuId FROM MenuParameter WHERE MenuValue = @ProcessId AND MenuKey = 'ProcessId')
				SET @ReportMenuID = ( SELECT  MenuId FROM    MenuParameter WHERE   MenuValue = @ProcessId AND MenuKey = 'ReportId' )
				
				UPDATE MenuMaster SET IfActive = 0 WHERE MenuId = @MenuID
				UPDATE MenuMaster SET IfActive = 0 WHERE MenuId = @ReportMenuID
				
				DELETE FROM ISONumbering WHERE MenuId = @ReportMenuID
				DELETE FROM SignatureConfiguration WHERE MenuId = @ReportMenuID
				
				UPDATE UserMaster SET MenuVersion = MenuVersion + 1
            END
            
            RETURN 1;
        END
    END

    IF @parameter = 5		-- Unblock from Process Master
    BEGIN
        UPDATE  ProcessMaster
        SET     IsDeleted = '0' ,
                DeletedBy = 0 ,
                DeletedOn = NULL
        WHERE   ( ProcessId = @ProcessId ) 
             
        DECLARE @OldUnblockprocessName VARCHAR(100)= ( SELECT ProcessName FROM processmaster WHERE ProcessId = @ProcessId )
                
        IF EXISTS ( SELECT  PROCESSNAME FROM    ProcessMaster WHERE   ProcessName = 'In ' + @OldUnblockprocessName and AutoFromProcessID=@ProcessId)
        BEGIN
            UPDATE  ProcessMaster
            SET     IsDeleted = '0' ,
                    DeletedBy = 0 ,
                    DeletedOn = NULL
            WHERE   ProcessName = 'In ' +  @OldUnblockprocessName and AutoFromProcessID=@ProcessId
        END
        
        IF EXISTS ( SELECT  PROCESSNAME FROM    ProcessMaster WHERE   ProcessName = @OldUnblockprocessName + ' Inspection' and AutoFromProcessID=@ProcessId)
        BEGIN
            UPDATE  ProcessMaster
            SET     IsDeleted = '0' ,
                    DeletedBy = 0 ,
                    DeletedOn = NULL
            WHERE   ProcessName = @OldUnblockprocessName + ' Inspection' and AutoFromProcessID=@ProcessId
        END

       IF EXISTS(SELECT MenuId FROM MenuParameter WHERE MenuValue = @ProcessId)
		BEGIN    
			SET @MenuID = (SELECT MenuId FROM MenuParameter WHERE MenuValue = @ProcessId AND MenuKey = 'ProcessId')
			SET @ReportMenuID = ( SELECT  MenuId FROM    MenuParameter WHERE   MenuValue = @ProcessId AND MenuKey = 'ReportId' )
			
			UPDATE MenuMaster SET IfActive = 1 WHERE MenuId = @MenuID
			UPDATE MenuMaster SET IfActive = 1 WHERE MenuId = @ReportMenuID
			
			UPDATE UserMaster SET MenuVersion = MenuVersion + 1
		END
    END

    IF @parameter = 6
        BEGIN

            SELECT  ProcessName ,
                    ProcessId
            FROM    dbo.ProcessMaster
            WHERE   IsDeleted = 0
                    AND AutoProcess = 0
                    and (@ALLProcess is null Or(ProcessMaster.IsMachineShop = @IsMachineShop))
                    And (@ALLProcess is null Or (ProcessMaster.IsQCProcess = @IsQcProcess))
                    And ProcessMaster.CycleId = 0
            ORDER BY ProcessSequence ASC ,
                    processname
        END
    
    IF @parameter = 7		-- Fetch Process Master Details
        BEGIN

            SELECT  MAX(processSequence) + 1 AS processSequence
            FROM    ProcessMaster
            WHERE   IsDeleted = 0

        END
        
    IF @parameter = 8
        BEGIN
            IF @ProcessId IS NOT NULL
                SELECT  ProcessName
                FROM    ProcessMaster
                WHERE   ProcessName = @ProcessName
                        AND ProcessId != @ProcessId 
                        AND IsDeleted = 0
            ELSE
                SELECT  ProcessName
                FROM    ProcessMaster
                WHERE   ProcessName = @ProcessName 
                        AND IsDeleted = 0
        END
        
    IF @parameter = 9
        BEGIN
            SELECT  1 AS SrNo ,
                    processId ,
                    Processname,
                    isnull(IsMachineShop,0) as IsMachineShop
                   , 'false' as IsRawCasting
            FROM    ProcessMaster
            WHERE   IsDeleted = 0
                    AND IsDefault = 1
        END
        
    IF @Parameter = 10
        BEGIN
            
            DECLARE @DefaultValue INT= ( SELECT IsDefault FROM   ProcessMaster WHERE  ProcessId = @ProcessId )
            IF @DefaultValue = 1
            BEGIN
                RETURN 1;
            END
            ELSE IF ((SELECT IsDefaultForging FROM   ProcessMaster WHERE  ProcessId = @ProcessId) = 1)
            BEGIN
				RETURN 1;
            END
              ELSE IF ((SELECT IsForging FROM   ProcessMaster WHERE  ProcessId = @ProcessId) = 1)
            BEGIN
				RETURN 1;
            END 
            ELSE IF ((SELECT IsAssemblyProcess FROM   ProcessMaster WHERE  ProcessId = @ProcessId) = 1)
            BEGIN
				RETURN 1;
            END 
            ELSE
            BEGIN
                RETURN 0;
            END
        END
        
    IF @parameter = 11
        BEGIN
            DECLARE @FetchProcessCompletedName VARCHAR(100)= ( SELECT
                                                              processName
                                                              FROM
                                                              ProcessMaster
                                                              WHERE
                                                              ProcessName = @ProcessName
                                                              + ' Completed'
                                                             )
       
            SELECT  ProcessId
            FROM    ProcessMaster
            WHERE   ProcessName = @FetchProcessCompletedName 
        
        END
        
	IF @Parameter = 12
	BEGIN
		BEGIN TRANSACTION

	BEGIN TRY
		DECLARE @NoOfCastingProduced INT;
        SET @Oldprocessname = (SELECT processname FROM  ProcessMaster WHERE ProcessId = @ProcessId)
        
        IF @IsFoundryReturn > 0
        BEGIN            
			UPDATE ProcessMaster SET IsFoundryReturn = 0
        END
        
        if  @IsMachineShop = 1
        begin
			set @ColorCode = ( select isnull((select top 1
					isnull(ProcessColor,'') as ColorCode 
					from ProcessMaster 
					where IsMachineShop = 1 and IsDeleted = 0
					and isnull(ProcessColor,'') <> ''),'') as ColorCode)
        end        
        else
        begin
			if exists (select * from ProcessMaster where IsHT = 1 and ProcessId = @ProcessId)
			begin
				set @ColorCode = ( select  
					isnull((select top 1
					isnull(ProcessColor,'') as ColorCode 
					from ProcessMaster 
					where IsHT = 1 and IsDeleted = 0
					and isnull(ProcessColor,'') <> ''),'') as ColorCode)
			end
			else
			begin
				if exists (select * from ProcessMaster where IsQCProcess = 1 and QCSeq = 1 and ProcessId = @ProcessId)
				begin
					set @ColorCode = ( select  
						isnull((select top 1
						isnull(ProcessColor,'') as ColorCode 
						from ProcessMaster 
						where IsQCProcess = 1 and IsDeleted = 0	
						 and QCSeq = 1				
						and isnull(ProcessColor,'') <> ''),'') as ColorCode)
				end
				else if exists (select * from ProcessMaster where IsQCProcess = 1  and QCSeq = 2 and ProcessId = @ProcessId)
				begin
					set @ColorCode = ( select  
						isnull((select top 1
						isnull(ProcessColor,'') as ColorCode 
						from ProcessMaster 
						where IsQCProcess = 1 and IsDeleted = 0	
						 and QCSeq = 2				
						and isnull(ProcessColor,'') <> ''),'') as ColorCode)
				end
				else if exists (select * from ProcessMaster where IsQCProcess = 1  and QCSeq = 3 and ProcessId = @ProcessId)
				begin
					set @ColorCode = ( select  
						isnull((select top 1
						isnull(ProcessColor,'') as ColorCode 
						from ProcessMaster 
						where IsQCProcess = 1 and IsDeleted = 0	
						 and QCSeq = 3				
						and isnull(ProcessColor,'') <> ''),'') as ColorCode)
				end
				else if exists (select * from ProcessMaster where IsQCProcess = 1  and QCSeq = 4 and ProcessId = @ProcessId)
				begin
					set @ColorCode = ( select  
						isnull((select top 1
						isnull(ProcessColor,'') as ColorCode 
						from ProcessMaster 
						where IsQCProcess = 1 and IsDeleted = 0	
						 and QCSeq = 4				
						and isnull(ProcessColor,'') <> ''),'') as ColorCode)
				end
				else
				begin
					set @ColorCode = '';
				end
			end
        end
         
        if(@IsInspProcess = 1)
        BEGIN
			if((Select IsInspectionSeq from ProcessMaster  Where ProcessId = @ProcessId) != @IsInspSeq)
			BEGIN
				declare @OldprocessId uniqueidentifier = (Select processid from ProcessMaster Where IsInspectionSeq = @IsInspSeq and IsDeleted = 0)
				
				update ProcessMaster 
				Set IsInspectionSeq = (Select pm.IsInspectionSeq from ProcessMaster pm Where pm.ProcessId = @ProcessId and IsDeleted = 0)
				Where ProcessMaster.ProcessId = @OldprocessId
				
				update ProcessMaster
				Set IsInspectionSeq = @IsInspSeq
				Where ProcessId = @ProcessId
			END
			update ProcessMaster
			Set MachineReason = (case when @ReasonType = 2 then 1 else 0 end),
				CastingReason = (case when @ReasonType = 1 then 1 else 0 end)
			Where ProcessId = @ProcessId
        END
           
        UPDATE  ProcessMaster
        SET     ProcessName = @ProcessName ,
				ShortCode = @ShortCodeComplete,
				DisplayName = @DisplayNameComplete,
                Remarks = @Remarks,
				min = @min,
				sec = @sec,
				ton = @ton,
				IsMachineShop = @IsMachineShop,
				MenuName = UPPER(@MenuName),
				MenuStatus =  @MenuStatus
			  , IsStockTransReq = @IsStockTransferReq
			  , IsFoundryReturn = @IsFoundryReturn
			  , ProcessColor = @ColorCode
			  ,MachineShopType = @MachineShopType
        WHERE   ProcessId = @ProcessId
       
        IF EXISTS ( SELECT  processname FROM    ProcessMaster
                    WHERE   ProcessName = 'In ' + @Oldprocessname AND AutoFromProcessID = @ProcessId )
        BEGIN
            UPDATE  ProcessMaster
            SET     ProcessName = 'In ' + @ProcessName ,
					ShortCode = @ShortCode,
					DisplayName = @DisplayName,
                    Remarks = @Remarks,
					min = @min,
					sec = @sec,
					ton = @ton,
					IsMachineShop = @IsMachineShop
					,MachineShopType = @MachineShopType
            WHERE   ProcessName = 'In ' + @Oldprocessname AND AutoFromProcessID = @ProcessId
        END
                
        IF EXISTS ( SELECT  processname FROM    ProcessMaster
                    WHERE   ProcessName = @Oldprocessname + ' Inspection' AND AutoFromProcessID = @ProcessId)
        BEGIN
            UPDATE  ProcessMaster
            SET     ProcessName = @ProcessName + ' Inspection' ,
					ShortCode = @ShortCodeInspection,
					DisplayName = @DisplayNameInspection,
                    Remarks = @Remarks,
					min = @min,
					sec = @sec,
					ton = @ton,
					IsMachineShop = @IsMachineShop
					,MachineShopType = @MachineShopType
            WHERE   ProcessName = @Oldprocessname + ' Inspection' AND AutoFromProcessID = @ProcessId
        END
                
        DELETE  FROM ProcessSysDepartmentMapping
        WHERE   ProcessID = @ProcessId
            
        DECLARE DepartmentDetail CURSOR
        FOR
            SELECT  Node.value('(DepartmentId)[1]', 'uniqueidentifier') AS 'DepartmentId'
            FROM    @DepartmentDetail.nodes('/DocumentElement/DepartmentDetail')
                    AS TEMPXML ( Node )
                    
        OPEN DepartmentDetail;
		
        FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
   
        WHILE ( @@FETCH_STATUS = 0 )
        BEGIN                   
            INSERT  INTO ProcessSysDepartmentMapping
                    ( MappingId ,
                      ProcessID ,
                      DepartmentId 
                    )
            VALUES  ( NEWID() ,
                      @ProcessId ,
                      @DepartmentId 
                    )
                    
			IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRANSACTION
				RETURN -1
            END
    
            FETCH NEXT FROM DepartmentDetail INTO @DepartmentId
         
            IF @@ERROR <> 0
            BEGIN
				ROLLBACK TRANSACTION
				RETURN -1
            END
        END
                    
        CLOSE DepartmentDetail;
        DEALLOCATE DepartmentDetail; 

		IF NOT EXISTS(select 1 from ProcessMaster where( IsDefault = 1 or isdefaultforging = 1 or IsForging=1) and ProcessId =@ProcessId)		 
		BEGIN
		IF EXISTS (SELECT MenuID FROM MenuParameter WHERE MenuValue = @ProcessId)
		BEGIN
			DECLARE @parentID INT, @ReportParentId INT;
			IF @IsMachineShop = 0
			BEGIN
				IF EXISTS(SELECT ID FROM MenuMaster WHERE ID = 'PRODUCTIONTRANSACTIONALENTERIES')
				BEGIN
					SET @parentID = (SELECT ISNULL(MenuId, 0) AS ID FROM MenuMaster WHERE ID = 'PRODUCTIONTRANSACTIONALENTERIES')
					SET @ReportParentId = (SELECT ISNULL(MenuId, 0) AS ID FROM MenuMaster WHERE ID = 'PRODUCTIONREPORT')
				END
				ELSE
				BEGIN						
					SET @parentID = (SELECT ISNULL(MenuId, 0) AS ID FROM MenuMaster WHERE ID = 'PRODUCTION')
					SET @ReportParentId = (SELECT ISNULL(MenuId, 0) AS ID FROM MenuMaster WHERE ID = 'REPORTPRODUCTION')
				END
			END
			ELSE
			BEGIN
				IF EXISTS(SELECT ID FROM MenuMaster WHERE ID = 'MSTRANSACTIONALENTERIES')
				BEGIN
					SET @parentID = (SELECT ISNULL(MenuId, 0) AS ID FROM MenuMaster WHERE ID = 'MSTRANSACTIONALENTERIES')
					SET @ReportParentId = (SELECT ISNULL(MenuId, 0) AS ID FROM MenuMaster WHERE ID = 'REPORTMS')
				END
				ELSE
				BEGIN						
					SET @parentID = (SELECT ISNULL(MenuId, 0) AS ID FROM MenuMaster WHERE ID = 'INHOUSEMACHINESHOP')
					SET @ReportParentId = (SELECT ISNULL(MenuId, 0) AS ID FROM MenuMaster WHERE ID = 'REPORTMS')
				END
			END
					 
			SET @MenuID = ( SELECT  MenuId FROM    MenuParameter WHERE   MenuValue = @ProcessId AND MenuKey = 'ProcessId' )
			SET @ReportMenuID = ( SELECT  MenuId FROM    MenuParameter WHERE   MenuValue = @ProcessId AND MenuKey = 'ReportId' )
		             
			IF @ProcessWiseSeparatePage = 1 AND @MenuStatus = 1--@IsMachineShop = 0 AND @ProcessWiseSeparatePage = 1 AND @MenuStatus = 1
			BEGIN
				UPDATE MenuMaster SET ParentId = @parentID , MenuName = UPPER( @MenuName ) , DispalyName = UPPER( @MenuName ) , IfActive = 1 WHERE MenuID = @MenuId
				UPDATE MenuMaster SET ParentId = @ReportParentId , MenuName = UPPER( @MenuName ) + ' REPORT' , DispalyName = UPPER( @MenuName ) + ' REPORT' , IfActive = 1 WHERE MenuID = @ReportMenuID
			--	UPDATE ISONumbering SET PageCode = @ShortCodeComplete + '_PP', ReportName = @DisplayNameComplete WHERE MenuId = @ReportMenuID
			    UPDATE ISONumbering SET PageCode = @ShortCodeComplete + '_PP'  WHERE MenuId = @ReportMenuID
				update ISODetail set ReportName = @DisplayNameComplete where PageID in (select PageID from ISONumbering WHERE MenuId = @ReportMenuID) and EntityId =@EntityId
				UPDATE SignatureConfiguration SET PageCode = @ShortCodeComplete + '_PP', PageName = @DisplayNameComplete WHERE MenuId = @ReportMenuID
				UPDATE UserMaster SET MenuVersion = MenuVersion + 1
			END
			ELSE
			BEGIN
				UPDATE MenuMaster SET ParentId = @parentID , MenuName = UPPER( @MenuName ) , DispalyName = UPPER( @MenuName ) , IfActive = 0 WHERE MenuID = @MenuId
				UPDATE UserMaster SET MenuVersion = MenuVersion + 1
			END
		END
		ELSE
		BEGIN
			IF (@ProcessWiseSeparatePage = 1 Or @IsInspSeq = 1) AND @MenuStatus = 1 --@IsMachineShop = 0 AND (@ProcessWiseSeparatePage = 1 Or @IsInspSeq = 1) AND @MenuStatus = 1
			BEGIN
    			
				IF @IsMachineShop = 0
				BEGIN
    			    IF EXISTS(Select ID from MenuMaster where ID='PRODUCTIONTRANSACTIONALENTERIES')
						BEGIN
							SET @Pageid = 'PRODUCTIONTRANSACTIONALENTERIES'
						END
					ELSE
						BEGIN
							SET @Pageid = 'PRODUCTION'
						END
				
					EXEC dbo.[DynamicMenuGeneration] @ProcessID = @ProcessId,
					@MenuName = @MenuName , @IsMachineShop = @IsMachineShop, @OnClick = '_INHOUSEPROCESSPERFORM', @ID = @Pageid, @MenuKey = 'ProcessId'
				
			
			
    		    
    			    IF EXISTS(Select ID from MenuMaster where ID='PRODUCTIONTRANSACTIONALENTERIES')
						BEGIN
							SET @Pageid = 'PRODUCTIONREPORT'
						END
					ELSE
						BEGIN
							SET @Pageid = 'REPORTPRODUCTION'
						END
				
			
					SET @name = @MenuName + ' REPORT'
					EXEC dbo.[DynamicMenuGeneration] @ProcessID = @ProcessId,
					@MenuName = @name , @IsMachineShop = @IsMachineShop, @OnClick = '_INHOUSEPROCESSPERFORMREPORT', @ID = @Pageid, @MenuKey = 'ReportId', @IsIsoNo = 1
				END
				ELSE
				BEGIN


						SET @Pageid = 'INHOUSEMACHINESHOP'

					   EXEC dbo.[DynamicMenuGeneration] @ProcessID = @ProcessId,
						@MenuName = @MenuName , @IsMachineShop = @IsMachineShop, @ID = @Pageid, @MenuKey = 'ProcessId',@OnClick = '_INHOUSEPROCESSPERFORM'

						IF (isnull(@IsInspProcess,0) = 0)
						BEGIN
    		    
    		    
									SET @Pageid = 'REPORTMS'
					    
									SET @name = @MenuName + ' REPORT'
									EXEC dbo.[DynamicMenuGeneration] @ProcessID = @ProcessId, 
									@MenuName = @name , @IsMachineShop = @IsMachineShop, @OnClick = '_INHOUSEPROCESSPERFORMREPORT', @ID = @Pageid, @MenuKey = 'ReportId', @IsIsoNo = 1
						END

				END
			
				--EXEC	dbo.[DynamicMenuGeneration] @ProcessID = @ProcessId,
				--		@MenuName = @MenuName , @IsMachineShop= @IsMachineShop
			END
		END
		END 
				
		IF @ProcessWiseSeparatePage = 1 AND @MenuStatus = 0
		BEGIN
			IF (EXISTS (SELECT MenuID FROM MenuParameter WHERE MenuValue = @ProcessId)
				AND EXISTS(select ProcessId from ProcessMaster where IsHT = 0 and ProcessId = @ProcessId))
			BEGIN
				SET @MenuID = ( SELECT  MenuId FROM    MenuParameter WHERE   MenuValue = @ProcessId AND MenuKey = 'ProcessId' )
				SET @ReportMenuID = ( SELECT  MenuId FROM    MenuParameter WHERE   MenuValue = @ProcessId AND MenuKey = 'ReportId' )
				
				UPDATE MenuMaster SET IfActive = 0  where MenuID = @MenuId
				UPDATE MenuMaster SET IfActive = 0  where MenuID = @ReportMenuID
				
				UPDATE UserMaster SET MenuVersion = MenuVersion + 1
			END
		END 
					
								
		IF (EXISTS (SELECT *  FROM INFORMATION_SCHEMA.TABLES  WHERE TABLE_NAME = 'CastingProductionTime'))
		BEGIN
			IF EXISTS ( SELECT * FROM CastingProcess WHERE ProcessID = @ProcessId)
			BEGIN
				DECLARE CastingProcess CURSOR
				FOR
					SELECT Castingid FROM CastingProcess WHERE ProcessID = @ProcessId
				                            
				OPEN CastingProcess;
				                                   
				FETCH NEXT FROM CastingProcess INTO @CastingId
								
				WHILE ( @@FETCH_STATUS = 0 )
				BEGIN                  						
					DECLARE @CastNetWeight FLOAT = (SELECT TOP 1 CastingNetWeight FROM CastingMetal WHERE castingID = @CastingId)
					IF(@CastNetWeight <> 0)
					BEGIN
						SET @NoOfCastingProduced = ROUND(@ton*1000 / (@CastNetWeight), 0);
					END
					--SET @NoOfCastingProduced = ROUND(@ton*1000 / (SELECT TOP 1 CastingNetWeight FROM CastingMetal WHERE castingID = @CastingId), 0);
							
					IF EXISTS (SELECT * FROM CastingProductionTime WHERE CastingID = @CastingId AND ProcessID = @ProcessId)
					BEGIN												
						UPDATE	CastingProductionTime SET DurationinMin = @min , DurationinSec = @sec
								, NoOfCastingProduced = @NoOfCastingProduced 
						WHERE	CastingID = @CastingId AND ProcessID = @ProcessId
											
						IF @@ERROR <> 0
						BEGIN
							ROLLBACK TRANSACTION
							RETURN -1
						END		
					END
					ELSE
					BEGIN
						INSERT INTO CastingProductionTime (CastingID, ProcessID, DurationinMin, DurationinSec, NoOfCastingProduced)
						VALUES (@CastingId, @ProcessId, @min, @sec, @NoOfCastingProduced)
					END

					FETCH NEXT FROM CastingProcess INTO  @CastingId
				END
			            
				CLOSE CastingProcess;
				DEALLOCATE CastingProcess;
			END
		END
		
		 update [ProcessParameterMapping] set IsDeleted = 1,deletedon =GetDate()  where [ProcessId] =@ProcessId	
					IF @@ERROR <> 0
					BEGIN
						ROLLBACK TRANSACTION
						RETURN -1
					END		
						
				DECLARE ProcessParameterMapping CURSOR FOR
						
						SELECT	Node.value('(ProcessParameterID)[1]', 'bigint') AS 'ProcessParameterID'
						FROM	@ProcessParameter.nodes('/DocumentElement/ProcessParameter')
						
					AS TEMPXML (Node)

					OPEN ProcessParameterMapping;

					FETCH NEXT FROM ProcessParameterMapping INTO @ProcessParameterID
					WHILE (@@FETCH_STATUS = 0)
					BEGIN
					
					if exists(select 1 from [ProcessParameterMapping] where ProcessId =@ProcessId and [ProcessParameterID]=@ProcessParameterID)
					begin
						update [dbo].[ProcessParameterMapping]set  IsDeleted=0 ,deletedon=null 
						where  ProcessId =@ProcessId and [ProcessParameterID]=@ProcessParameterID
					end
					else
					begin
						INSERT INTO [dbo].[ProcessParameterMapping]
								   ([ProcessId]
								   ,[ProcessParameterID]
								   ,[IsDeleted]
								   )
							 VALUES (@ProcessId ,
									@ProcessParameterID,
									0
									)
					end
						FETCH NEXT FROM ProcessParameterMapping INTO @ProcessParameterID

						IF @@ERROR <> 0
						BEGIN
							ROLLBACK TRANSACTION
							RETURN -1
						END

					END

					CLOSE ProcessParameterMapping;
					DEALLOCATE ProcessParameterMapping;
		END TRY
		BEGIN CATCH
	
				ROLLBACK TRANSACTION
				RETURN -1
        END CATCH
		COMMIT TRANSACTION
		RETURN 1
          
    END
        
    IF @parameter = 13
        BEGIN
            SELECT  ProcessId ,
                    ProcessName
            FROM    ProcessMaster
            WHERE   IsDeleted = 0
                    AND AutoProcess = 0
                    AND CycleId = 0
                    AND IsDefault = 0           
        END
        
    IF @parameter = 14
        BEGIN
            SELECT  *                    
            FROM    ProcessSysDepartmentMapping
            WHERE   ProcessID = @ProcessId                             
        END                   
	
	IF @parameter = 16
        BEGIN
            SELECT  *                    
            FROM    ProductionProcessMapping           
            WHERE 
				(@ProcessId is null or
				  ProcessId = @ProcessId)
				  AND      (@ReferenceId is null or
				  ReferenceId = @ReferenceId) 
				   AND (@EmpReferenceId = 0 or
				  EmpReferenceId = @EmpReferenceId) 	  
				  AND  Type = @ReferenceType 
				  AND (@ProdProcessMappingId is null or 
				  ProdProcessMappingId = @ProdProcessMappingId)
				                         
        END	  
        
    IF @parameter = 17
        BEGIN
            SELECT  ProductionProcessMapping.ProcessId,ProductionProcessMapping.ProdProcessMappingId,ProductionProcessMapping.ReferenceId,ProductionProcessMapping.Type,ProcessMaster.ProcessName                    
            FROM    ProductionProcessMapping 
            inner join ProcessMaster on ProcessMaster.ProcessId =   ProductionProcessMapping.ProcessId        
            WHERE 
				(@ProcessId is null or
				  ProductionProcessMapping.ProcessId = @ProcessId)
				  AND      (@ReferenceId is null or
				  ReferenceId = @ReferenceId) 
				   AND      (@EmpReferenceId = 0 or
				  EmpReferenceId = @EmpReferenceId) 				  
				  AND  Type = @ReferenceType 
				  AND (@ProdProcessMappingId is null or 
				  ProdProcessMappingId = @ProdProcessMappingId)
				                         
        END	
        
    IF @Parameter = 18
	BEGIN
		IF EXISTS (Select ShortCode from ProcessMaster where ShortCode=@ShortCode)
			Return 1;
		else
			Return 0;
	END 
	
	IF @parameter = 19
        BEGIN
            SELECT  ProductionProcessMapping.ProcessId,ProductionProcessMapping.ProdProcessMappingId,ProductionProcessMapping.ReferenceId,ProductionProcessMapping.Type,ProcessMaster.ProcessName                    
              , case when ProcessMaster.IsMachineShop= 1 then 'machining' ELSE 'production' END  as   ProdMch   
            FROM    ProductionProcessMapping 
            inner join ProcessMaster on ProcessMaster.ProcessId =   ProductionProcessMapping.ProcessId        
            WHERE 
				(@ProcessId is null or
				  ProductionProcessMapping.ProcessId = @ProcessId)
				  AND  ReferenceId = @ReferenceId 				  				  
				  AND  Type = @ReferenceType 
				  AND (@ProdProcessMappingId is null or 
				  ProdProcessMappingId = @ProdProcessMappingId)
				                         
        END	 
        
    IF @parameter = 20
        BEGIN
            SELECT  ProductionProcessMapping.ProcessId,ProductionProcessMapping.ProdProcessMappingId,ProductionProcessMapping.ReferenceId,ProductionProcessMapping.Type,ProcessMaster.ProcessName                    
            FROM    ProductionProcessMapping 
            inner join ProcessMaster on ProcessMaster.ProcessId =   ProductionProcessMapping.ProcessId        
            WHERE 
				(@ProcessId is null or
				  ProductionProcessMapping.ProcessId = @ProcessId)
				  AND  EmpReferenceId = @EmpReferenceId 				  
				  AND  Type = @ReferenceType 
				  AND (@ProdProcessMappingId is null or 
				  ProdProcessMappingId = @ProdProcessMappingId)
				                         
        END
        
    IF @parameter = 21
        BEGIN
               
            SELECT  
				ProcessMaster.ProcessId,
				ProcessMaster.ProcessName,
				ProcessMaster.Remarks,
				isnull(ProcessMaster.CreatedBy,0) as CreatedBy,
				ProcessMaster.CreatedOn,
				ProcessMaster.ModifiedBy,
				ProcessMaster.ModifiedOn,
				isnull(ProcessMaster.IsDefault,0) as IsDefault,
				ProcessMaster.AutoProcess,
				ProcessMaster.ProcessSequence,
				ProcessMaster.AutoFromProcessID,
				isnull(ProcessMaster.ShortCode,'') as ShortCode,
				isnull(ProcessMaster.DisplayName,'') as DisplayName,
				isnull(ProcessMaster.min,0) as min,
				isnull(ProcessMaster.sec,0) as sec,
				isnull(ProcessMaster.ton,0) as ton,
				isnull(ProcessMaster.IsMachineShop,0) as IsMachineShop
				            
            FROM    ProcessMaster                   
            WHERE 
				(@ProcessId is null or
				ProcessMaster.ProcessId = @ProcessId)
				AND  IsMachineShop = 0 	
				AND IsDeleted = 0	
				AND autoprocess = 0 
            ORDER BY processSequence 
               
        END
        
    IF @parameter = 22 -- ISHT is using when do not show that process in dropdown
       BEGIN
       
		 SELECT  ProcessID ,
                    ProcessName ,IsHT ,IsDefault ,
                    IsInspectionSeq
            FROM    ProcessMaster
            WHERE   IsDeleted = 0
                    AND ProcessMaster.AutoProcess = 0
                    AND IsMachineShop = @IsMachineShop
                    AND (@CycleID <> 0 or 
							(@CycleID  = 0 and ProcessMaster.CycleId = 0 )
							)
					AND IsQCProcess = 0
					and ((@MachineShopType = 0 and MachineShopType = 0) OR ( @MachineShopType = 1 and MachineShopType = 1))
            ORDER BY ProcessSequence ASC
       
       END 
       
    IF @parameter = 23
       BEGIN
       
		 SELECT  *
            FROM    ProcessMaster
            WHERE   IsDeleted = 0
                    AND (@ProcessId is null or ProcessMaster.ProcessId = @ProcessId)                   
            ORDER BY ProcessSequence ASC
       
       END 
       
    IF @parameter = 24		-- Fetch All Process Master
        BEGIN

            SELECT  ProcessName ,
                    ProcessId
            FROM    dbo.ProcessMaster
            WHERE   IsDeleted = 0
                    AND AutoProcess = 0 
                    AND (@CycleID <> 0 or 
							(@CycleID  = 0 and ProcessMaster.CycleId = 0 )
							) 
					And (@NotFetchJo = 0 Or ProcessMaster.ISJOProcess = 0)                 
            ORDER BY ProcessSequence ASC ,
                    processname
        END
        
	IF (@parameter = 25)
	BEGIN		
	
			SELECT  ProcessID ,
                    ProcessName
            FROM    ProcessMaster
            WHERE   IsDeleted = 0
                    AND ProcessMaster.AutoProcess = 0
                    AND IsDefault = 0
                    AND IsReworkProcess = 0
            ORDER BY ProcessSequence ASC
	
	END 
	
	IF @Parameter = 26
	BEGIN
		Select * from ProcessMaster where IsFoundryReturn=1
	END 
	
	-- Nikunj Goletar Add 07-01-2020
	-- Fetch Process With Rework
	--IF (@parameter = 27)
	--BEGIN		
	--		if exists (SELECT * FROM CastingProcess WHERE CastingID = @CastingId and CastingProcess.MetalId = @MetalId )
	--		begin
	--			SELECT ProcessMaster.ProcessId as ProcessID ,
	--					ProcessName
	--			FROM CastingProcess 
	--			inner join ProcessMaster on ProcessMaster.ProcessId = CastingProcess.ProcessID
	--			WHERE CastingID = @CastingId		
	--			AND ProcessMaster.IsDefault = 0
	--			AND ProcessMaster.IsDeleted = 0
	--			and CastingProcess.MetalId = @MetalId
								
	--			union all
	--			SELECT  ProcessID ,
	--					ProcessName
	--			FROM    ProcessMaster
	--			WHERE   IsDeleted = 0
	--				AND ProcessMaster.AutoProcess = 0
	--				AND IsDefault = 0
	--				AND IsReworkProcess = 1					
				 
				
	--		end 
	--		else
	--		begin
	--			SELECT  ProcessID ,
	--					ProcessName
	--			FROM    ProcessMaster
	--			WHERE   IsDeleted = 0
	--					AND ProcessMaster.AutoProcess = 0
	--					AND IsDefault = 0
	--					-- AND IsReworkProcess = 1
	--			ORDER BY ProcessSequence ASC
 --           END
	
	--END 
	
	IF (@parameter = 28)
		BEGIN	
			if exists (SELECT * FROM CastingProcess WHERE CastingID = @CastingId and CastingProcess.MetalId = @MetalId )
			begin
				SELECT	ProcessMaster.ProcessId as ProcessID ,
						ProcessName
				FROM	ProcessMaster
						Inner  join CastingProcess  on ProcessMaster.ProcessId = CastingProcess.ProcessID
						
				WHERE	CastingID = @CastingId and CastingProcess.MetalId = @MetalId 
						AND IsDeleted = 0
						AND ProcessMaster.IsDefault = 0					
					
				group by ProcessMaster.ProcessId , ProcessName,Sequence
				order by Sequence	
			end 
			else
			begin
				SELECT  ProcessID ,
						ProcessName
				FROM    ProcessMaster
				WHERE   IsDeleted = 0
					AND ProcessMaster.AutoProcess = 0
					AND IsDefault = 0
					AND IsReworkProcess = 0
				group by ProcessID ,ProcessName , ProcessSequence
				ORDER BY ProcessSequence ASC
				
			end
		END
		
	IF (@parameter = 29)
		BEGIN	
				if exists (SELECT * FROM CastingProcess WHERE CastingID = @CastingId and CastingProcess.MetalId = @MetalId)
				begin

						select distinct Prs.ProcessID , Prs.ProcessName
						from
						(
								SELECT ProcessMaster.ProcessId as ProcessID ,
										ProcessName
								FROM CastingProcess 
								inner join ProcessMaster on ProcessMaster.ProcessId = CastingProcess.ProcessID
								WHERE CastingID = @CastingId		
								AND ProcessMaster.IsDefault = 0
								AND ProcessMaster.IsDeleted = 0
								and CastingProcess.MetalId = @MetalId
								AND ProcessMaster.IsInspectionProcess  = 0
								and ProcessMaster.IsDefaultForging = 0
								union all
								SELECT  ProcessID ,
										ProcessName
								FROM    ProcessMaster
								WHERE   IsDeleted = 0
									AND ProcessMaster.AutoProcess = 0
									AND IsDefault = 0
									AND IsReworkProcess = 1						
						) as Prs
				end 
				else
				begin
						SELECT  ProcessID ,
								ProcessName
						FROM    ProcessMaster
						WHERE   IsDeleted = 0
							AND ProcessMaster.AutoProcess = 0
							AND IsDefault = 0
							AND IsReworkProcess = 1
						ORDER BY ProcessSequence ASC
				end

		END
	
	IF (@parameter = 30)
		BEGIN	
				select 1 as SeqNo,  'MachineShop' as ProcessName, 
					isnull((select top 1
					isnull(ProcessColor,'') as ColorCode 
					from ProcessMaster 
					where IsMachineShop = 1 and IsDeleted = 0
					and isnull(ProcessColor,'') <> ''),'') as ColorCode
			union
				select 2 as SeqNo,'RT' as ProcessName,
					isnull((select top 1
					 isnull(ProcessColor,'') as ColorCode 
					from ProcessMaster 
					where IsQCProcess = 1 and QCSeq = 1 and IsDeleted = 0
					and isnull(ProcessColor,'') <> ''),'') as ColorCode
			union
				select 3 as SeqNo, 'MP' as ProcessName, 
					isnull((select top 1
					isnull(ProcessColor,'') as ColorCode 
					from ProcessMaster 
					where IsQCProcess = 1 and QCSeq = 2 and IsDeleted = 0
					and isnull(ProcessColor,'') <> ''),'') as ColorCode
			union
				select 4 as SeqNo, 'DP' as ProcessName, 
					isnull((select top 1
					isnull(ProcessColor,'') as ColorCode 
					from ProcessMaster 
					where IsQCProcess = 1 and QCSeq = 3 and IsDeleted = 0
					and isnull(ProcessColor,'') <> ''),'') as ColorCode
			union
				select 5 as SeqNo, 'UT' as ProcessName, 
					isnull((select top 1
					isnull(ProcessColor,'') as ColorCode 
					from ProcessMaster 
					where IsQCProcess = 1 and QCSeq = 4 and IsDeleted = 0
					and isnull(ProcessColor,'') <> ''),'') as ColorCode
			union 
				select 6 as SeqNo, 'HT' as ProcessName, 
					isnull((select top 1
					isnull(ProcessColor,'') as ColorCode 
					from ProcessMaster 
					where IsHT = 1 and IsDeleted = 0
					and isnull(ProcessColor,'') <> ''),'') as ColorCode
		END	
	
	IF @Parameter = 31
	BEGIN
		IF EXISTS (Select MenuName from ProcessMaster where MenuName=@MenuName AND IsDeleted = 0)
			Return 1;
		else
			Return 0;
	END
	
	IF @parameter = 32
		BEGIN
			SET @MenuID = (SELECT MenuId FROM MenuParameter WHERE MenuValue = @ProcessId AND MenuKey = 'ReportId')
			SELECT PageCode FROM ISONumbering WHERE MenuId = @MenuID
		END
		
	IF @parameter = 33
		BEGIN
			SELECT ISNULL(ShortCode, '') AS ShortCode FROM ProcessMaster WHERE ProcessId = @ProcessId and IsDeleted = 0
		END
		
	IF @parameter = 34
		BEGIN
			SELECT @ProcessesHeatEntry = ProcessesHeatEntry FROM configuration where EntityID = @EntityId
			
			SELECT ProcessName AS UserName, ProcessId AS UserId, ProcessHeatWise
				, (CASE WHEN (@ProcessesHeatEntry = 1) 
							THEN (CASE WHEN ProcessHeatWise = 1 THEN 'False' WHEN ProcessHeatWise = 0 THEN 'True' END )
						WHEN (@ProcessesHeatEntry = 0) 
							THEN (CASE WHEN ProcessHeatWise = 0 THEN 'False' WHEN ProcessHeatWise = 1 THEN 'True' END )
				
				 END) AS ForCheckBox
			FROM ProcessMaster 
			WHERE IsDeleted = 0 AND IsDefault = 0 AND IsHT = 0 AND IsQCProcess = 0 AND CycleId = 0 AND IsReworkProcess = 0
					AND AutoProcess = 0  AND IsMachineShop = 0
					--AND IsFoundryReturn = 0
		END
		
		If @parameter = 35
		BEGIN
			Select IsHT from ProcessMaster Where ProcessId = @ProcessId and IsHT = 1
		END
		
		IF @parameter = 36
		BEGIN
			Select isnull(MAX(IsInspectionSeq),0) + 1 as IsInspectionSeq from ProcessMaster 
			Where Isdeleted = 0 and IsInspectionProcess = 1 

		END
		
		IF @parameter = 37
		BEGIN
			Select ISNULL(ProcessMaster.IsInspectionProcess,0) as IsInspectionProcess, IsInspectionSeq from ProcessMaster Where ProcessId = @ProcessId
		END
		
		if @parameter = 38
		BEGIN
		if exists(	
			Select 1 from ProcessMaster 
			Inner Join castingProcess  On CastingProcess.ProcessID = ProcessMaster.ProcessID
			Where IsInspectionProcess = 1 and ProcessMaster.ProcessId = @ProcessId
			union all 
			Select 1 from ProcessPerformMaster 
			Inner Join ProcessMaster on ProcessMaster.ProcessId = ProcessPerformMaster.ProcessID
			Where IsInspectionProcess = 1 and ProcessMaster.ProcessId  =@ProcessId and ProcessPerformMaster.IsDeleted = 0
			) begin return 1 end
			else begin return 0  end
		END
		
		If @parameter = 39
		BEGIN
			declare @Sequence int = 1;
			DECLARE SequenceProcess CURSOR
			FOR
				SELECT  Node.value('(RProcessId)[1]', 'uniqueidentifier') AS 'RProcessId'
				FROM    @ProcessXML.nodes('/DocumentElement/ProcessTable')
						AS TEMPXML ( Node )
                    
	                                   
			OPEN SequenceProcess
			FETCH NEXT FROM SequenceProcess INTO @ProcessId
	       
			WHILE ( @@FETCH_STATUS = 0 )
			BEGIN
				if exists( select 1 from ProcessMaster Where ProcessId = @ProcessId and IsInspectionProcess = 1)
				BEGIN
					if(( ( Select IsInspectionSeq from ProcessMaster Where ProcessId = @ProcessId and IsInspectionProcess = 1 ) = @Sequence)
					Or (@Sequence != 1))
					BEGIN
						set @Sequence = @Sequence+ 1;
					END
					ELSE
					BEGIN
						CLOSE SequenceProcess;
						DEALLOCATE SequenceProcess; 
						return 0;
					END
				END
			FETCH NEXT FROM SequenceProcess INTO @ProcessId
			END
       
			CLOSE SequenceProcess;
			DEALLOCATE SequenceProcess
		return 1; 
		END
		
		IF @parameter = 40
		BEGIN
			if exists (Select 1 from ProcessMaster Where ProcessId != @ProcessId 
			and IsInspectionSeq = @IsInspSeq and IsDeleted = 0)
			BEGIN
				return 1;
			END
			ELSE
			BEGIN
				return 0;
			END
		END
		
		IF (@parameter = 41)
		BEGIN		
			
			SELECT  IsForging
			FROM    ProcessMaster
            WHERE   IsDeleted = 0
                    and ProcessId=@ProcessId
					
		END
		
		IF (@parameter = 42)
		BEGIN		
			; WITH    Process
			AS ( SELECT   ( CASE WHEN ISNULL(InspectionRequired,
											0) = 0
								THEN processmaster.ProcessName
								ELSE processmaster.ProcessName
									+ ' Inspection'
							END ) AS ProcessName 
				FROM     CastingProcess
						INNER JOIN processmaster ON ProcessMaster.ProcessId = CastingProcess.ProcessID
						LEFT JOIN CastingPartNo ON CastingPartNo.CastingId = CastingProcess.CastingID
											AND CastingPartNo.ProcessId = CastingProcess.ProcessID
											AND CastingPartNo.MetalID = CastingProcess.MetalId
											and isnull(CastingPartNo.IsDeleted,0) = 0
				WHERE    ProcessMaster.IsDeleted = 0
						AND CycleId=0
						AND IsMachineShopInward=0
				)
			SELECT DISTINCT
			ProcessMaster.ProcessId ,
			ProcessMaster.ProcessName 
			FROM    ProcessMaster
			INNER JOIN Process ON ProcessMaster.ProcessName = Process.ProcessName
				AND ProcessMaster.IsDeleted = 0 
			ORDER BY ProcessName
		END


		IF @parameter = 43
		BEGIN

		IF @ProcessType = 1
		BEGIN
		
			IF EXISTS(Select
			ProcessID
			from
			ProcessPerformMaster
			where
			ProcessID = @ProcessId
			and IsDeleted  = 0
			)
			begin
			  Return 1
			end
			else
			begin
			  Return 0
			end


		END
		ELSE IF @ProcessType = 2
		BEGIN

		IF EXISTS(Select
		ProcessID
		from
		MSProcessPerformMaster
		where
		ProcessID = @ProcessId
		and IsDeleted  = 0
		)
		Begin
		 return 1
		end
		else
		begin
		  return 0
		end

		END


		END
END




GO
