USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[DeleteBankName]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteBankName]
	@BankId UNIQUEIDENTIFIER=NULL
	
AS
BEGIN
	delete from banklist where bankid=@bankid
END
GO
