USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[App_ManageEquipmentMaster]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Harshad Chauhan>
-- Create date: <14 Oct 2019>
-- Description:	<Manage Machine Details>
-- =============================================
CREATE PROCEDURE [dbo].[App_ManageEquipmentMaster]
	-- Add the parameters for the stored procedure here
	@P_Parameter INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @P_Parameter = 1
	BEGIN
		SELECT	DISTINCT PurchaseItemMaster.PurchaseItemId AS MachineId,
				('('+PurchaseItemMaster.ItemCode + ') / ' + ItemName ) AS EquipmentCode
				, cdm.DisplayName AS EquipmentType
		FROM CastingPartNo 
		INNER JOIN PartMachineMapping ON CastingPartNo.PPMappingID = PartMachineMapping.PPMappingID
		INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = PartMachineMapping.MachineID
		LEFT JOIN CommonData_Master AS cdm ON cdm.CommonDataId = PurchaseItemMaster.EquipmentTypeId
		WHERE TYPE = 0
		and isnull(CastingPartNo.IsDeleted,0) = 0
	END
END
GO
