USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Sp_MethodMasterRegister]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Sp_MethodMasterRegister]
    
 @Parameter INT = 0 ,     
@PlantIdString VARCHAR(MAX) = NULL ,  
@PageNumber INT = 0 ,                
@PageSize INT = 0 ,                
@InitialLoad INT = 0 ,                
@TotalRecords INT = 0 ,    
@All INT = 1        ,  
@StartDate DATETIME = NULL ,        
@EndDate DATETIME = NULL ,        
@CastingId UNIQUEIDENTIFIER = NULL ,      
@DrawingNo VARCHAR(20) = NULL ,               
@StoreId UNIQUEIDENTIFIER = NULL ,        
@CastingName VARCHAR(100) = NULL ,          
@CustomerId UNIQUEIDENTIFIER = NULL ,               
@FromDate DATETIME = NULL ,              
@ToDate DATETIME = NULL ,              
@PatternId UNIQUEIDENTIFIER = NULL ,       
@PatternInsured BIT = 0 ,       
@MatchPlateCode VARCHAR(50) = NULL ,                
@MatchPlateSize VARCHAR(50) = NULL ,      
@StoreLocation VARCHAR(50) = NULL ,     
@RevByUsSearch BIT = NULL ,         
@isWithCore INT = 1 ,          
@RevByCustomerSearch BIT = NULL ,                                           
@EntityId INT = 0 ,
@IsAll INT = 1 ,          
 @IfActive BIT = 0 ,           
@Block INT =0 ,
@MethodId UNIQUEIDENTIFIER = NULL ,
@DeletedBy INT = 0 ,                
@DeletedOn DATETIME = NULL ,
@ItemName VARCHAR(100) = NULL   ,
@PurchaseItemId UNIQUEIDENTIFIER = NULL 
           
 AS
   BEGIN           
   
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End 
   
 
   
	    
              IF ( @Parameter =  1 )	--	Total Record Display 
            BEGIN					
            SET @TotalRecords = (  SELECT    Count  ( PatternMaster.PatternId )                                
                                         
                                   FROM      PatternMaster 
                                LEFT JOIN SandTypeMaster ON PatternMaster.SandTypeID = SandTypeMaster.SandTypeId                
                                and SandTypeMaster.IsDeleted = 0              
                                LEFT JOIN MoldLineMaster ON PatternMaster.MoldLineID = MoldLineMaster.MoldLineID                
                                LEFT JOIN MoldBoxMaster ON MoldBoxMaster.MoldBoxID = PatternMaster.moldboxid                
                                LEFT JOIN MoldingProcessMaster ON MoldingProcessMaster.MoldingProcessId = PatternMaster.MoldingProcessId                
                                LEFT JOIN CoatMaster ON CoatMaster.CoatId = PatternMaster.CoatId  
                             
								--inner join PatternCastingMapping on PatternMaster.PatternId = PatternCastingMapping.MethodId
                                  WHERE   ( @MethodId IS NULL                
                                          OR PatternMaster.PatternId = @MethodId                
                                        )  	
											and patternMaster.Maxversion = 1 -- Added by Juhi Singh on 25-07-2025
                                    --     and    PatternMaster.IsDeleted = 0                                            
		  							  AND ( @CustomerId IS NULL                
                                              OR  PatternMaster.PatternId IN (SELECT    MethodId                
												 FROM   dbo.PatternCastingMapping  
												 where PatternId  IN (                
                                              SELECT    PatternId                
                                              FROM      CustomerPatternMapping                
                                              WHERE     CustomerId = @CustomerId )                
                                            )   )  
										  --AND ( @CustomerId IS NULL                
            --                                  OR PatternMaster.PatternId IN (                
            --                                  SELECT    PatternId                
            --                                  FROM      CustomerPatternMapping                
            --                                  WHERE     CustomerId = @CustomerId )                
            --                                )                
																AND (                               
									( @CastingId IS NULL                
									 OR PatternMaster.PatternId IN (                
									  SELECT    Dieid                
									  FROM      dbo.CastingMaster                
									  WHERE     CastingId = @CastingId )                
									)                
									OR                
									(                
									   PatternMaster.PatternId IN (                
									   SELECT    MethodId                
									   FROM      dbo.PatternCastingMapping                
									   WHERE     CastingId = @CastingId)                
									)                                              
								   )                
								   AND                
								   (                
										( @CastingName IS NULL                
										   OR PatternMaster.PatternId IN (                
										   SELECT    Dieid                
										   FROM      dbo.CastingMaster                
										   WHERE     CastingName = @CastingName )                
										)                          
										OR                
										(                
										  @CastingName IS NULL                
										  OR                
										   PatternMaster.PatternId IN (                
										   SELECT    MethodId                
										   FROM      dbo.PatternCastingMapping                
										   inner join CastingMaster on CastingMaster.CastingId = PatternCastingMapping.CastingId                
											WHERE     CastingName = @CastingName  )                
										)                
									)  
										and	( @PurchaseItemId is null or                
											PatternMaster.PatternId IN (                
											   SELECT      DieId              
											   FROM      dbo.PurchaseItemMaster                
											   WHERE     PurchaseItemId  = @PurchaseItemId)                
									    )
                                        and PatternMaster.EntityId = @EntityId             
                                        AND (@IsAll = 1 or (dbo.PatternMaster.IsDeleted = @Block )) 
                                        and IsMethod = 1   
                                    )
                RETURN @TotalRecords
            END				
          		
      
       IF ( @Parameter = 2 )			--Fill Grid By Filter
            BEGIN
                IF @InitialLoad = 1
               BEGIN   
                SELECT	TOP (@PageSize) *
				FROM (
                     SELECT     ROW_NUMBER() OVER ( ORDER BY  PatternMaster.CreatedDate DESC  ) AS RowNo ,
											 PatternCode ,  
											 PatternMaster.PatternId ,   
											  MoldLine ,  
											   STUFF(( SELECT distinct ','                
														+ FinalTbl.CastingName                
												FROM    (
													SELECT	CastingMaster.CastingName FROM CastingMaster                
													WHERE   dbo.CastingMaster.Dieid = PatternMaster.PatternId                
															and IsDeleted = 0 and CastingMaster.ParentID is null                
													UNION
													SELECT	CastingMaster.CastingName FROM CastingMaster
													INNER JOIN PatternCastingMapping ON PatternCastingMapping.CastingId = CastingMaster.CastingId
													WHERE   PatternCastingMapping.PatternId = PatternMaster.PatternId
															and IsDeleted = 0 and CastingMaster.ParentID is null                
												) AS FinalTbl
												FOR                
												XML PATH('')                
											  ), 1, 1, '') AS Castings ,      
											  MoldProductionPerHours ,                
											  SandType ,                
											  MoldBoxName , 
											  CoatName ,    
											  MoldingProcessName , 
											  MoldProductionTime , 
											  SandWeight, 
											  MoldValue,
											  PatternMaster.IsDeleted
											     
                                  FROM      PatternMaster 
                                LEFT JOIN SandTypeMaster ON PatternMaster.SandTypeID = SandTypeMaster.SandTypeId                
                                and SandTypeMaster.IsDeleted = 0              
                                LEFT JOIN MoldLineMaster ON PatternMaster.MoldLineID = MoldLineMaster.MoldLineID                
                                LEFT JOIN MoldBoxMaster ON MoldBoxMaster.MoldBoxID = PatternMaster.moldboxid                
                                LEFT JOIN MoldingProcessMaster ON MoldingProcessMaster.MoldingProcessId = PatternMaster.MoldingProcessId                
                                LEFT JOIN CoatMaster ON CoatMaster.CoatId = PatternMaster.CoatId  
							    inner join PurchaseItemMaster on PurchaseItemMaster.DieId = PatternMaster.PatternId
                                 WHERE   ( @MethodId IS NULL                
                                          OR PatternMaster.PatternId = @MethodId                
                                        )  			
										and patternMaster.Maxversion = 1 -- Added by Juhi Singh on 25-07-2025
                                    --     and    PatternMaster.IsDeleted = 0                                            
		  							  AND ( @CustomerId IS NULL                
                                              OR  PatternMaster.PatternId IN (SELECT    MethodId                
												 FROM   dbo.PatternCastingMapping  
												 where PatternId  IN (                
                                              SELECT    PatternId                
                                              FROM      CustomerPatternMapping                
                                              WHERE     CustomerId = @CustomerId )                
                                            )   )  
										  --AND ( @CustomerId IS NULL                
            --                                  OR PatternMaster.PatternId IN (                
            --                                  SELECT    PatternId                
            --                                  FROM      CustomerPatternMapping                
            --                                  WHERE     CustomerId = @CustomerId )                
            --                                )                
																AND (                               
									( @CastingId IS NULL                
									 OR PatternMaster.PatternId IN (                
									  SELECT    Dieid                
									  FROM      dbo.CastingMaster                
									  WHERE     CastingId = @CastingId )                
									)                
									OR                
									(                
									   PatternMaster.PatternId IN (                
									   SELECT    MethodId                
									   FROM      dbo.PatternCastingMapping                
									   WHERE     CastingId = @CastingId)                
									)                                              
								   )                
								   AND                
								   (                
									( @CastingName IS NULL                
									   OR PatternMaster.PatternId IN (                
									   SELECT    Dieid                
									   FROM      dbo.CastingMaster                
									   WHERE     CastingName = @CastingName )                
									)                          
									OR                
									(                
									  @CastingName IS NULL                
									  OR                
									   PatternMaster.PatternId IN (                
									   SELECT    MethodId                
									   FROM      dbo.PatternCastingMapping                
									   inner join CastingMaster on CastingMaster.CastingId = PatternCastingMapping.CastingId                
										WHERE     CastingName = @CastingName  )                
									)  )  
									and	( @PurchaseItemId is null or                
											PatternMaster.PatternId IN (                
											   SELECT      DieId              
											   FROM      dbo.PurchaseItemMaster                
											   WHERE     PurchaseItemId  = @PurchaseItemId)                
									    ) 
                                        and PatternMaster.EntityId = @EntityId             
                                        AND (@IsAll = 1 or (dbo.PatternMaster.IsDeleted = @Block )) 
                                        and IsMethod = 1  									
									) AS TC
								
									order by TC.RowNo   
									  
										  
                                              
									
                    END
				
                ELSE
                 BEGIN
                   	SELECT	TOP (@PageSize) *
		      FROM ( SELECT   ROW_NUMBER() OVER ( ORDER BY PatternMaster.CreatedDate DESC  ) AS RowNo ,
											PatternCode , 
											  PatternMaster.PatternId ,   
											  MoldLine ,
											     STUFF(( SELECT distinct ','                
                                                        + FinalTbl.CastingName                
                                                FROM    (
													SELECT	CastingMaster.CastingName FROM CastingMaster                
													WHERE   dbo.CastingMaster.Dieid = PatternMaster.PatternId                
															and IsDeleted = 0 and CastingMaster.ParentID is null                
													UNION
													SELECT	CastingMaster.CastingName FROM CastingMaster
													INNER JOIN PatternCastingMapping ON PatternCastingMapping.CastingId = CastingMaster.CastingId
													WHERE   PatternCastingMapping.PatternId = PatternMaster.PatternId
															and IsDeleted = 0 and CastingMaster.ParentID is null                
                                                ) AS FinalTbl
												FOR                
                                                XML PATH('')                
                                              ), 1, 1, '') AS Castings ,        
											  MoldProductionPerHours ,                
											  SandType ,                
											  MoldBoxName , 
											  CoatName ,    
											  MoldingProcessName , 
											  MoldProductionTime , 
											  SandWeight, 
											  MoldValue,
											 PatternMaster.IsDeleted
											   
                                  FROM      PatternMaster 
                                LEFT JOIN SandTypeMaster ON PatternMaster.SandTypeID = SandTypeMaster.SandTypeId                
                                and SandTypeMaster.IsDeleted = 0              
                                LEFT JOIN MoldLineMaster ON PatternMaster.MoldLineID = MoldLineMaster.MoldLineID                
                                LEFT JOIN MoldBoxMaster ON MoldBoxMaster.MoldBoxID = PatternMaster.moldboxid                
                                LEFT JOIN MoldingProcessMaster ON MoldingProcessMaster.MoldingProcessId = PatternMaster.MoldingProcessId                
                                LEFT JOIN CoatMaster ON CoatMaster.CoatId = PatternMaster.CoatId  
								inner join PurchaseItemMaster on PurchaseItemMaster.DieId = PatternMaster.PatternId
                      		--    inner join PurchaseItemMaster on PurchaseItemMaster.DieId = PatternMaster.Die_Id
                                 WHERE    ( @MethodId IS NULL                
                                          OR PatternMaster.PatternId = @MethodId                
                                          )  	
										  and patternMaster.Maxversion = 1 -- Added by Juhi Singh on 25-07-2025
                                       --  and PatternMaster.IsDeleted = 0                                       
									
										  --AND ( @CustomerId IS NULL                
            --                                  OR PatternMaster.PatternId IN (                
            --                                  SELECT    PatternId                
            --                                  FROM      CustomerPatternMapping                
            --                                  WHERE     CustomerId = @CustomerId )                
            --                                )    
											AND ( @CustomerId IS NULL                
                                              OR  PatternMaster.PatternId IN (SELECT    MethodId                
												 FROM   dbo.PatternCastingMapping  
												 where PatternId  IN (                
                                              SELECT    PatternId                
                                              FROM      CustomerPatternMapping                
                                              WHERE     CustomerId = @CustomerId )                
                                            )   )  
                                        AND (                               
									( @CastingId IS NULL                
									 OR PatternMaster.PatternId IN (                
									  SELECT    Dieid                
									  FROM      dbo.CastingMaster                
									  WHERE     CastingId = @CastingId )                
									)                
									OR                
									(                
									   PatternMaster.PatternId IN (                
									   SELECT    MethodId                
									   FROM      dbo.PatternCastingMapping                
									   WHERE     CastingId = @CastingId)                
									)                                              
								   )                
								   AND                
								   (                
									( @CastingName IS NULL                
									   OR PatternMaster.PatternId IN (                
									   SELECT    Dieid                
									   FROM      dbo.CastingMaster                
									   WHERE     CastingName = @CastingName )                
									)                          
									OR                
									(                
									  @CastingName IS NULL                
									  OR                
									   PatternMaster.PatternId IN (                
									   SELECT    MethodId                
									   FROM      dbo.PatternCastingMapping                
									   inner join CastingMaster on CastingMaster.CastingId = PatternCastingMapping.CastingId                
										WHERE     CastingName = @CastingName  )                
									)                
									)   

									and	( @PurchaseItemId is null or                
											PatternMaster.PatternId IN (                
											   SELECT      DieId              
											   FROM      dbo.PurchaseItemMaster                
											   WHERE     PurchaseItemId  = @PurchaseItemId)                
									    ) 
                                        and PatternMaster.EntityId = @EntityId             
                                        AND (@IsAll = 1 or (dbo.PatternMaster.IsDeleted = @Block )) 
                                       and IsMethod = 1                                                       
                                          ) AS TC   										  	  
						WHERE RowNo > (@PageNumber * @PageSize)  
									order by TC.RowNo 
                    END		
					   END
      
       IF (@Parameter = 3)   --Fetch Assembly Details for Reg                       
        BEGIN                                    
				select		PatternCastingMapping.CastingId , 
							CastingCode,
							CastingName,  
							PatternCastingMapping.NoOfCavities as Cavity,
							PatternCastingMapping.PatternId,
							PurchaseItemMaster.ItemCode,							
							cast(PurchaseItemMaster.IsDeleted as varchar) as IsDeleted,
							waxPatternId as WaxPatternId,
							P1.ItemCode as PatternCode,
							UOM
						from PatternCastingMapping  
					--	inner join PatternMaster on PatternCastingMapping.PatternId = PatternMaster.PatternId
						inner join CastingMaster on PatternCastingMapping.CastingId = CastingMaster.CastingId
					--	inner join PurchaseItemMaster on PatternCastingMapping.PatternId = PurchaseItemMaster.PurchaseItemId
						inner join PurchaseItemMaster on PatternCastingMapping.MethodId = PurchaseItemMaster.DieID
						left Join PurchaseItemMaster P1 on P1.PurchaseItemId= castingMaster.WaxPatternId
						Left Join uomMaster on UomMaster.UOMId = P1.SecondaryUnitOfMeasure 
						where   PatternCastingMapping.MethodId =@MethodId  
						and PurchaseItemMaster.IsDeleted = 0 
						and  PurchaseItemMaster.EntityID = @EntityID
				
			 
                              
        END 
        
        
          IF (@Parameter = 4)   --Fetch PatternCode For Register                                   
        BEGIN                                    
				select	  PatternId ,                
                          PatternCode               
                         
						from PatternMaster  
						where  ( @MethodId IS NULL                
                                          OR PatternMaster.PatternId = @MethodId  )  			
						and PatternMaster.IsDeleted = 0 
						and  PatternMaster.EntityID = @EntityID
						and IsMethod = 1 
						and MaxVersion = 1
						Order by PatternCode
                              
        END  
        
          
          IF (@Parameter = 5)   --Fetch Consumption Details for Reg                       
        BEGIN                                   
			
				
					select	[BOQTransId]
						   ,[BOQID]  
						   ,BOQTrans.[PurchaseItemId] as  PatternId  
						   ,Case When  PatternCode is null 
						   then PurchaseItemMaster.ItemCode
						   else PatternCode end as PatternCode
						   ,[Qty] 
						 ,'0' as IsDeleted ,
						 UOM AS dgvUOM,
						 castingMaster.CastingId AS dgvCastingId 
						 ,cast(isnull(PatternMaster.IsPatDieWax,PurchaseItemMaster.IsPatDieWax) as varchar) AS IsPatDieWax
						from BOQTrans 
						Left join PatternMaster on BOQTrans.PurchaseItemId = PatternMaster.PatternId
						and PatternMaster.IsDeleted = 0   
						left join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId = BOQTrans.PurchaseItemId	
						and PurchaseItemMaster.IsDeleted = 0  
						Left  join castingMaster on castingMaster.WaxPatternId = PurchaseItemMaster.DieID 
                        Left Join uomMaster on UomMaster.UOMId = PurchaseItemMaster.SecondaryUnitOfMeasure
                        where   BOQTrans.BOQId =@MethodId  
                 
                                
        END  
        
          
          IF (@Parameter = 6)   --Fetch Moldbox Details for Reg                       
        BEGIN                                    
			select					[PurchaseItemID]
									,PatternCode
								   ,[Qty] as  TopRiserQty
								   ,[Size] as TopRiserSize
								   ,case when [TopBottom] = 0 then 
								   'Bottom' else 'Top' end as MoldLocation
								   ,case when [ItemType] = 1 then 'Chill Detail'
									   when [ItemType] = 2 then 'DownSprue Detail'
									   when [ItemType] = 3 then 'Runner Detail'
									   when [ItemType] = 4 then 'Ingate Detail'
									   when [ItemType] = 5 then 'Riser Detail'
									   else 'Other Detail' end as MoldType								   
								   ,[ItemName] as TopRiserItemName
								   ,IsDeleted as IsDeleteMoldBox	
								   ,TopBottom  as 	MoldBoxLocationId
								   ,ItemType as MoldBoxTypeId
								   ,'0' as IsDeleteMoldBox
					from PatternMoldTopBottomDetail  
					inner join PatternMaster on PatternMoldTopBottomDetail.PatternId = PatternMaster.PatternId						
					where   PatternMoldTopBottomDetail.PatternID =@MethodId  
					and PatternMaster.IsDeleted = 0 
					and  PatternMaster.EntityID = @EntityID
                              
        END 
        
          IF @Parameter = 7 -- Fetch Data of Coating Detail from jobcard ID for Coating detail pop up in register and edit of job card
            BEGIN
    
                SELECT  MCM.CoatID AS CoatID ,
                        WaxCoatID AS CoatMasterId ,
                        COATMASTER.CoatName AS CoatName ,
                        CoatSpecification ,
                        Humidity ,
                        PH ,
                        Viscosity ,
                        RoomTemp ,
                        CASE WHEN RoomTempUOM = 0 THEN 'Celsius'
                             ELSE 'Fehrenheit'
                        END AS RoomTempUOM ,
                        MCM.DryTime ,
                        BacteriaCount ,
                        SrNo,
                        IsDeleted,
						 NULLIF(MCM.MaxHumidity, 0) AS MaxHumidity,
						NULLIF(MCM.MaxPH, 0) AS MaxPH,
						NULLIF(MCM.MaxViscosity, 0) AS MaxViscosity,
						NULLIF(MCM.MaxRoomTemp, 0) AS MaxRoomTemp,
						NULLIF(MCM.MaxDryTime, 0) AS MaxDryTime,
						NULLIF(MCM.MaxBacteriaCount, 0) AS MaxBacteriaCount,
						IsIgnoreProduction,
						   CASE
        WHEN NULLIF(LTRIM(RTRIM(MCM.DryTime)), '0') IS NOT NULL
         AND NULLIF(MCM.MaxDryTime, 0) IS NOT NULL
        THEN CONCAT(MCM.DryTime, ' - ', CAST(MCM.MaxDryTime AS VARCHAR(20)))
        ELSE COALESCE(
            NULLIF(LTRIM(RTRIM(MCM.DryTime)), '0'),
            CAST(NULLIF(MCM.MaxDryTime, 0) AS VARCHAR(20))
        )
    END AS DisDryTime,

    /* Humidity */
    CASE
        WHEN NULLIF(LTRIM(RTRIM(MCM.Humidity)), '0') IS NOT NULL
         AND NULLIF(MCM.MaxHumidity, 0) IS NOT NULL
        THEN CONCAT(MCM.Humidity, ' - ', CAST(MCM.MaxHumidity AS VARCHAR(20)))
        ELSE COALESCE(
            NULLIF(LTRIM(RTRIM(MCM.Humidity)), '0'),
            CAST(NULLIF(MCM.MaxHumidity, 0) AS VARCHAR(20))
        )
    END AS DisHumidity,

    /* PH */
    CASE
        WHEN NULLIF(LTRIM(RTRIM(MCM.PH)), '0') IS NOT NULL
         AND NULLIF(MCM.MaxPH, 0) IS NOT NULL
        THEN CONCAT(MCM.PH, ' - ', CAST(MCM.MaxPH AS VARCHAR(20)))
        ELSE COALESCE(
            NULLIF(LTRIM(RTRIM(MCM.PH)), '0'),
            CAST(NULLIF(MCM.MaxPH, 0) AS VARCHAR(20))
        )
    END AS DisPH,

    /* Viscosity */
    CASE
        WHEN NULLIF(LTRIM(RTRIM(MCM.Viscosity)), '0') IS NOT NULL
         AND NULLIF(MCM.MaxViscosity, 0) IS NOT NULL
        THEN CONCAT(MCM.Viscosity, ' - ', CAST(MCM.MaxViscosity AS VARCHAR(20)))
        ELSE COALESCE(
            NULLIF(LTRIM(RTRIM(MCM.Viscosity)), '0'),
            CAST(NULLIF(MCM.MaxViscosity, 0) AS VARCHAR(20))
        )
    END AS DisViscosity,

    /* Room Temp (no UOM) */
    CASE
        WHEN NULLIF(LTRIM(RTRIM(MCM.RoomTemp)), '0') IS NOT NULL
         AND NULLIF(MCM.MaxRoomTemp, 0) IS NOT NULL
        THEN CONCAT(MCM.RoomTemp, ' - ', CAST(MCM.MaxRoomTemp AS VARCHAR(20)))
        ELSE COALESCE(
            NULLIF(LTRIM(RTRIM(MCM.RoomTemp)), '0'),
            CAST(NULLIF(MCM.MaxRoomTemp, 0) AS VARCHAR(20))
        )
    END AS DisRoomTemp,

    /* Bacteria Count */
    CASE
        WHEN NULLIF(LTRIM(RTRIM(MCM.BacteriaCount)), '0') IS NOT NULL
         AND NULLIF(MCM.MaxBacteriaCount, 0) IS NOT NULL
        THEN CONCAT(MCM.BacteriaCount, ' - ', CAST(MCM.MaxBacteriaCount AS VARCHAR(20)))
        ELSE COALESCE(
            NULLIF(LTRIM(RTRIM(MCM.BacteriaCount)), '0'),
            CAST(NULLIF(MCM.MaxBacteriaCount, 0) AS VARCHAR(20))
        )
    END AS DisBacteriaCount,

    /* Room Temp for Report (with °C / °F) */
CASE
    WHEN NULLIF(LTRIM(RTRIM(MCM.RoomTemp)), '0') IS NOT NULL
         AND NULLIF(MCM.MaxRoomTemp, 0) IS NOT NULL
        THEN CONCAT(
            MCM.RoomTemp, ' - ',
            CAST(MCM.MaxRoomTemp AS VARCHAR(20)),
            CASE WHEN MCM.RoomTempUOM = 0 THEN ' °C' ELSE ' °F' END
        )
    WHEN NULLIF(MCM.RoomTemp, '') IS NOT NULL
        THEN CONCAT(
            MCM.RoomTemp,
            CASE WHEN MCM.RoomTempUOM = 0 THEN ' °C' ELSE ' °F' END
        )
    WHEN NULLIF(MCM.MaxRoomTemp, 0) IS NOT NULL
        THEN CONCAT(
            CAST(MCM.MaxRoomTemp AS VARCHAR(20)),
            CASE WHEN MCM.RoomTempUOM = 0 THEN ' °C' ELSE ' °F' END
        )
    ELSE ''
END AS RepRoomTemp

                FROM    MethodCoatingMaster as MCM
                        INNER JOIN COATMASTER ON MCM.WaxCoatID = COATMASTER.CoatID
                WHERE   WaxJobCardID = @MethodId 
                ORDER BY SrNo
    
            END
              
              IF @parameter = 8 -- Delete pattern                 
        BEGIN                 
            UPDATE  PatternMaster                
            SET     IsDeleted = 1 ,                
                    DeletedBy = @DeletedBy ,                
                    DeletedOn = @DeletedOn ,                
                    EntityId = @EntityId                
            WHERE   PatternId = @MethodId 
       END
       
        IF @parameter = 9 -- Unblock pattern                 
        BEGIN                 
            UPDATE  PatternMaster           
            SET     IsDeleted = 0 ,                
                    DeletedBy = @DeletedBy ,                
                    DeletedOn = @DeletedOn                
            WHERE   PatternId = @MethodId  
         END
         
          IF @Parameter = 10 -- Fetch Chill Item Name 
	BEGIN    
                select DISTINCT  
                        ItemName  
                from PurchaseItemMaster  
                inner join UOMMaster on UOMMaster.UOMid = PurchaseItemMaster.UnitOfMeasure  
                where  PurchaseItemMaster.IsDeleted = 0 and IsMoldingMaterial = 1 and IsNonConsumable = 1  
				 and EntityID = @EntityID  
                
            END    
            
             IF @Parameter = 11 -- Fetch Chill Item Code
		BEGIN  
		
		 SELECT DISTINCT  
                       PurchaseItemMaster.PurchaseItemId ,  
                        ItemCode  
                FROM    dbo.PurchaseItemMaster  						
                        INNER JOIN PurchaseCompanyMapping ON PurchaseCompanyMapping.PurchaseItemId = PurchaseItemMaster.PurchaseItemID 
                WHERE   ( @ItemName IS NULL  
                          OR ItemName = @ItemName  
                        )  
                        AND IsDeleted = 0  
                       AND PurchaseCompanyMapping.CompanyId=@EntityID
                       and IsMoldingMaterial = 1 and IsNonConsumable = 1  
                
            END   

				IF @Parameter = 12	--Fetch Image 
        BEGIN  
            SELECT  ImagePath.Id ,  
                    ImagePath.FilePath ,
                     ImagePath.OriginalName
            FROM    ImagePath  
            WHERE   ImagePath.Id = @MethodId
					AND (@MethodId is not null and @MethodId <> CAST(CAST(0 AS BINARY) AS UNIQUEIDENTIFIER))
			ORDER BY SrNo
                    
        END

		       IF (@Parameter = 13)   --Fetch PatternCode For Register                                   
        BEGIN                                    
				select	  PurchaseItemId ,                
                          ItemCode               
                         
						from PurchaseItemMaster  
						where  ( @PurchaseItemId IS NULL                
                                          OR PurchaseItemMaster.PurchaseItemId = @PurchaseItemId  )  			
						and PurchaseItemMaster.IsDeleted = 0 
						and  PurchaseItemMaster.EntityID = @EntityID						
						and IsPatDieWax = 0
					   and IsAsset = 0
					   and IsNonConsumable = 1
					 and IsPattern = 0
                              
        END  
       IF (@Parameter = 14)                                 
        BEGIN        
		select 1 from MoldInventoryType where PatternID =@MethodId
		end

	 IF (@Parameter = 15)                                 
        BEGIN        
		
				SELECT ItemCode,IsPatDieWax,DieID,IsDeleted,EntityID,PurchaseItemId,SecondaryUnitOfMeasure INTO #Temp_PurchaseItemMaster FROM PurchaseItemMaster;
                SELECT PatternId, RevisionOf,PatternCode,IsDeleted,IsPatDieWax, RevisionBy,RevisionDatetime,RevisionRemark,RevisionNumber INTO #Temp_PatternMaster FROM PatternMaster;
                SELECT CastingCode,CastingName,WaxPatternId,CastingId INTO #Temp_CastingMaster FROM CastingMaster;


				WITH RevisionChain AS (
					SELECT PatternId, RevisionOf
					FROM #Temp_PatternMaster
					WHERE PatternId = @MethodId    

					UNION ALL

					SELECT PM.PatternId, PM.RevisionOf
					FROM #Temp_PatternMaster PM
					INNER JOIN RevisionChain RC ON PM.PatternId = RC.RevisionOf
				)

				SELECT 
				 -- PMTBD_PM.PatternId,
				 -- PCM.CastingId,
				  CM.CastingCode,
				  CM.CastingName,
				  PCM.NoOfCavities AS Cavity,
                  PIM.ItemCode AS PatternItemCode,
				 -- CAST(PIM.IsDeleted AS VARCHAR) AS IsDeleted,
				 -- CM.WaxPatternId,
				  WP.ItemCode AS PatternCode,
				  UOMMaster.UOM,
                --  BOQ.BOQTransId,
				--  BOQ.BOQID,
				  BOQ.Qty AS BOQQty,
				  COALESCE(PMB.PatternCode, BOQ_PIM.ItemCode) AS BOQPatternCode,
				  UOM AS dgvUOM,
				 -- CM.CastingId AS dgvCastingId,
				  CAST(ISNULL(PMB.IsPatDieWax, BOQ_PIM.IsPatDieWax) AS VARCHAR) AS IsPatDieWax,
                 -- PMTBD.PurchaseItemID AS MoldItemID,
				  PMTBD.Qty AS TopRiserQty,
				  PMTBD.Size AS TopRiserSize,
				  CASE WHEN PMTBD.TopBottom = 0 THEN 'Bottom' ELSE 'Top' END AS MoldLocation,
				  CASE 
					WHEN PMTBD.ItemType = 1 THEN 'Chill Detail'
					WHEN PMTBD.ItemType = 2 THEN 'DownSprue Detail'
					WHEN PMTBD.ItemType = 3 THEN 'Runner Detail'
					WHEN PMTBD.ItemType = 4 THEN 'Ingate Detail'
					WHEN PMTBD.ItemType = 5 THEN 'Riser Detail'
					ELSE 'Other Detail'
				  END AS MoldType,
				  PMTBD.ItemName AS TopRiserItemName,
                  -- MCM.CoatID,
				  --CM.WaxCoatID AS CoatMasterId,
				  CMST.CoatName,
				  MCM.CoatSpecification,
				  MCM.Humidity,
				  MCM.PH,
				  MCM.Viscosity,
				  MCM.RoomTemp,
				  CASE WHEN MCM.RoomTempUOM = 0 THEN 'Celsius' ELSE 'Fahrenheit' END AS RoomTempUOM,
				  MCM.DryTime,
				  MCM.BacteriaCount,
				  MCM.SrNo AS CoatSrNo,
                  UserMaster.UserName RevisionBy,
				  FORMAT(PMTBD_PM.RevisionDatetime, 'dd MMM yyyy hh:mm tt') RevisionDatetime,
				  PMTBD_PM.RevisionRemark,
				  PMTBD_PM.RevisionOf,
				  PMTBD_PM.RevisionNumber,
				  ImagePath.Id ,  
                  ImagePath.FilePath ,
                  ImagePath.OriginalName

				FROM RevisionChain RC
		
				INNER JOIN PatternCastingMapping PCM ON PCM.MethodId = RC.PatternId
				INNER JOIN #Temp_CastingMaster CM ON PCM.CastingId = CM.CastingId
				INNER JOIN #Temp_PurchaseItemMaster PIM  ON PCM.MethodId = PIM.DieID  AND PIM.IsDeleted = 0 AND PIM.EntityID =@EntityId
                LEFT JOIN #Temp_PurchaseItemMaster WP   ON WP.PurchaseItemId = CM.WaxPatternId
                LEFT JOIN UOMMaster ON UOMMaster.UOMId = WP.SecondaryUnitOfMeasure
                LEFT JOIN BOQTrans BOQ ON BOQ.BOQId = RC.PatternId
				LEFT JOIN #Temp_PurchaseItemMaster BOQ_PIM  ON BOQ.PurchaseItemId = BOQ_PIM.PurchaseItemId
                LEFT JOIN #Temp_PatternMaster PMB ON BOQ_PIM.PurchaseItemId = PMB.PatternId  AND PMB.IsDeleted = 0
                LEFT JOIN PatternMoldTopBottomDetail PMTBD  ON PMTBD.PatternId = RC.PatternId
                LEFT JOIN #Temp_PatternMaster PMTBD_PM ON PMTBD_PM.PatternId = RC.PatternId
                LEFT JOIN MethodCoatingMaster MCM ON MCM.WaxJobCardID = RC.PatternId
				LEFT JOIN CoatMaster CMST ON MCM.WaxCoatID = CMST.CoatID
				left join PurchaseCompanyMapping PCMM on PCMM.PurchaseItemId= PIM.PurchaseItemId and PCMM.CompanyId = @EntityId
				left join ImagePath on ImagePath.Id =  RC.PatternId
				left JOIN UserMaster ON UserMaster.CompanyId =  @EntityId AND UserMaster.UserId = PMTBD_PM.RevisionBy
               order by PMTBD_PM.RevisionNumber, 
						CM.CastingCode,
						PIM.ItemCode ,
						WP.ItemCode,
						BOQ_PIM.ItemCode

				-- Cleanup
				DROP TABLE #Temp_PatternMaster;
				DROP TABLE #Temp_PurchaseItemMaster;
				DROP TABLE #Temp_CastingMaster;

		end

       end
	
       


       

  



     

     

GO
