USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_MethodDetail]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Megha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Fetch_MethodDetail]
	-- Add the parameters for the stored procedure here
	@Id uniqueidentifier ,
	@PlantId int =0 ,
	@Parameter int,
	@PrintOrderNo bit =0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		If @Parameter = 1
		BEGIN
			--declare @dewaxingId uniqueidentifier = (select top 1 coatId from CoatMaster where Iswaxing = 1)
			select	'Combi-'+cast(ROW_NUMBER() Over(Partition by patternId Order by patternId ) as varchar(Max)) as Combi ,
					STUFF(( SELECT  ', ' + CastingMaster.CastingName+'('+CastingMaster.CastingCode+')' +' - ' + CAST(MoldInventoryType.Cavity   AS varchar(MAx))	
							FROM    CastingMaster              
									INNER JOIN MoldInventoryType ON MoldInventoryType.CastingId = CastingMaster.CastingId              
							WHERE   MoldInventoryType.MoldTypeID = MoldTable.MoldTypeID  
							Order by castingName
									FOR              
									  XML PATH('')              
						), 1, 1, '')  AS CastingWithCavity,
					MoldTable.* ,
					( (CASE WHEN @PrintOrderNo = 0 THEN
						isnull(OrderMaster.WOPrefix,'')
						+Isnull(OrderMaster.WOSeparator,'')
						+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
						+Isnull(OrderMaster.WOSeparator,'')
						+Isnull(OrderMaster.WOSuffix,'')
					ELSE  
						isnull(OrderMaster.Prefix,'')
						+ isnull(OrderMaster.Separator,'')
						+ CONVERT(VARCHAR(50), OrderMaster.OASrNo)
						+ isnull(OrderMaster.Separator,'')
						+ isnull(OrderMaster.Suffix,'')
					END)
					+ '/' + CAST(OrderTranse.SrNo as varchar(150)) + '/' + CONVERT(VARCHAR(15), OrderTranse.DeliveryDate, 106)
					) AS CustomerOrderNo 
			from(
				Select	MoldTypeID,Qty as Stock,Patternid,StockTypeID as Type_ID,OrderTranseId
				From	MoldInventoryType
						inner Join RawInwBatchWiseStock on RawInwBatchWiseStock.Ref_Id = MoldInventoryType.MoldTypeID
							and RawInwBatchWiseStock.StockTypeID in(select coatId from CoatMaster where Iswaxing in(1,2))
				       --Inner Join MoldInventory on MoldInventory.MoldingTypeID = MoldInventoryType.MoldTypeID 
						--	And MoldInventory.Type_ID in(select coatId from CoatMaster where Iswaxing in(1,2))
				Where	MoldInventoryType.PatternId = @Id -- MethodId
						and RawInwBatchWiseStock.PlantId = @PlantId
						and RawInwBatchWiseStock.Qty> 0 
				group by MoldTypeID,Qty,PatternId,StockTypeID,OrderTranseId
			) as MoldTable
			left join OrderTranse on OrderTranse.OrderTranseId = MoldTable.OrderTranseId
			left join OrderMaster on OrderMaster.customerorderid  = OrderTranse.CustomerOrderId
				
		END
		ELSE If @Parameter = 2
		BEGIN
			SELECT  CastingMaster.CastingName,
					CastingMaster.CastingCode,
					MoldInventoryType.Cavity  ,
					MoldInventoryType.CastingId
			FROM    CastingMaster              
					INNER JOIN MoldInventoryType ON MoldInventoryType.CastingId = CastingMaster.CastingId              
			WHERE   MoldInventoryType.MoldTypeID = @Id  --Moldtypeid
			Order by castingName
					
		END

END
GO
