USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Insert_DispatchAdvice_Detail]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[Insert_DispatchAdvice_Detail]
	@DispatchAdviceItem DispatchAdviceForItem readonly,
	@DispatchAdviceBatch DispatchAdviceForBatch readonly,
    @Parameter INT = 0 ,
    @DispatchAdviceId UNIQUEIDENTIFIER = NULL ,
    @CustomerId UNIQUEIDENTIFIER = NULL ,
    @CustomerOrderId UNIQUEIDENTIFIER = NULL ,
    @DispatchAdviceTransId UNIQUEIDENTIFIER = NULL ,
    @CastingId UNIQUEIDENTIFIER = NULL ,
    @ApproxDispatchDate DATETIME = NULL ,
    @DispatchAdviceDate DATETIME = NULL ,
    @Created_By INT = 0 ,
    @Created_On DATETIME = NULL ,
    @Modified_By INT = 0 ,
    @Modified_On DATETIME = NULL ,
    @Deleted_By INT = 0 ,
    @Deleted_On DATETIME = NULL ,
    @IsDeleted INT = 0 ,
    @EntityID INT = 0 ,
    --@DispatchAdviceDetails AS XML = NULL ,
    --@PackingDetail AS XML = NULL ,
    @SrNo INT = 0 ,
    @Quantity INT = 0 ,
    @Remarks VARCHAR(MAX) = NULL ,
    @EntryNo VARCHAR(50) = NULL ,
    @DispatchAdviceNo VARCHAR(50) = NULL ,
    @DrawingNo VARCHAR(50) = NULL ,
    @Packaging VARCHAR(50) = NULL ,
    @PackageName VARCHAR(50) = NULL ,
    @D1 BIGINT = 0 ,
    @D2 BIGINT = 0 ,
    @D3 BIGINT = 0 ,
    @PackageWeight FLOAT = 0 ,
    @CastingQty BIGINT = 0 ,
    @CastingPrPcWeight FLOAT = 0 ,
    @TotalCastingWeight FLOAT = 0 ,
    @TotalPackageWeight FLOAT = 0 ,
    @PackingId UNIQUEIDENTIFIER = NULL ,
    @Packed BIT = NULL ,
    @LabelComment VARCHAR(80) = NULL ,
    @isCastCodeEnable INT = 0 ,
    @PackageId INT = 0,
    @ProcessInspection bit=0,
    @edit bit=0,
    @DispatchFromProcess bit=0,
    @Method int=0,
    @IsApprove BIT = NULL,
    @ApproveReason VARCHAR(MAX) = NULL,
    @IsDisapprove BIT = NULL ,
    @UserXML AS XML = NULL,
    @ShortDescription VARCHAR(MAX) =NULL ,
    @MetalID INT = 0,
    @PlantID int = 0,
    @OrderTranseID uniqueidentifier = null,
    @SeriesId int = 0,
    @Prefix nvarchar(100) = null,
    @Suffix Nvarchar(100) = null,
    @Separator Nvarchar(100) = null,
    @VehicleNo varchar(25) = null ,
    @LRNo varchar(50) = null ,
    @TransporterId uniqueidentifier = null ,
	@ImagePathDetails AS XML = NULL ,
	@Photo VARCHAR(MAX) = NULL ,
	 @OriginalName varchar(max) = null
	
    
AS
  
  DECLARE @ItemDetail AS XML ,   
  @CastingName VARCHAR(100),
  @HeatWiseItemDetail AS XML,
  @BatchID BIGINT = 0,
  @Qty BIGINT = 0,
  @DispatchAdviceCastingId UNIQUEIDENTIFIER = NULL,
   @id int = 0,
 @DocRequiredId UNIQUEIDENTIFIER = null,
 @DocumentNo VARCHAR(MAX) = NULL ,
  @CastCode VARCHAR(50) = NULL,
  @DispatchAdviceTransNo varchar(max) = null;
	DECLARE @DispatchItemResult table( dispatchadviceTranseId uniqueidentifier,
                           srno int,OrderTranseId uniqueidentifier);

    BEGIN
	
      IF @Parameter = 1  --Insert Data
      BEGIN
      BEGIN TRANSACTION
		BEGIN TRY
		declare 
		@Month int,
		@Year INT
		  
		Select @Month = FinancialYear from configuration where EntityID = @EntityID

		SELECT @Year = YEAR(DATEADD(MONTH, -( @Month - 1 ), @DispatchAdviceDate))

		IF EXISTS( Select 1 FROm DispatchAdvice  Where EntityId = @EntityID and DispatchAdviceNo = @DispatchAdviceNo and SeriesId = @SeriesId and IsDeleted = 0 and   DispatchAdviceDate BETWEEN CAST(@Month AS VARCHAR(2))
																																		  + '/01/'
																																		  + CAST(@Year AS VARCHAR(4))
																																	   AND
																																		  DATEADD(Second,
																																		  -1,
																																		  CAST(@Month AS VARCHAR(2))
																																		  + '/01/'
																																		  + CAST(@Year
																																		  + 1 AS VARCHAR(4))))
		BEGIN

		ROLLBACK TRANSACTION
		RETURN -2

		END
    
               		
                SET @DispatchAdviceId = NEWID()
                
                INSERT  INTO DispatchAdvice
                        ( DispatchAdviceId,
                          CustomerId, 
                          EntryNo,
                          DispatchAdviceNo,
                          DispatchAdviceDate,
                          ApproxDispatchDate,
                          Remarks,
                          CreatedBy,
                          CreatedOn,
                          IsDeleted,
                          EntityID ,
                          IsApprove,
                          IsDisapprove,
                          PlantID,
                          SeriesId,
                          Prefix,
                          Suffix,
                          Separator,
                          VehicleNo  ,
						  LRNo  ,
						  TransporterId  
                                                                          
                        )
                VALUES  ( @DispatchAdviceId ,
                          @CustomerId ,
                          @EntryNo ,
                          @DispatchAdviceNo ,
                          --@CustomerOrderId ,
                          @DispatchAdviceDate ,
                          @ApproxDispatchDate ,
                          @Remarks ,
                          @Created_By ,
                          @Created_On ,
                          0 ,
                          @EntityID ,
                          0,
                          0,
                          @PlantID,
                          @SeriesId,
                          @Prefix,
                          @Suffix,
                          @Separator,
                          @VehicleNo  ,
						  @LRNo  ,
						  @TransporterId  
                                                 
                        )
                           
                          -- SET @DispatchAdviceTransId = NEWID()
                           
               INSERT  INTO DispatchAdviceTrans
                    ( DispatchAdviceTransId ,SrNo,DispatchAdviceId ,
                      CustomerOrderId ,CastingId ,Quantity ,
                      DrawingNo ,OrderTransId,CastingWeight,
                      CreatedBy ,CreatedOn ,IsDeleted ,EntityId,
					  MasterWt
                      ) 
                 OUTPUT	INSERTED.DispatchAdviceTransId, INSERTED.SrNo,INSERTED.OrderTransId -- OrderTransid added by Juhi Singh 09-09-2025
                 INTO	@DispatchItemResult
                 Select NEWID(),dispatchadviceItem.srNo,@DispatchAdviceId,
						dispatchadviceItem.customerOrderId,CastingId,Quantity,
						DrawingNo,dispatchadviceItem.OrderTranseId,Weight,
						@Created_By,@Created_On,0,@EntityID ,dispatchadviceItem.MasterWt
                 From	@DispatchAdviceItem as dispatchadviceItem  
     ----            -- Added by juhi singh on 26-09-2025
	    --         UPDATE orderTrans
					--SET orderTrans.dispatch_outward = 
					--		CASE WHEN pb.BatchType = 3 THEN orderTrans.dispatch_outward + dispatchadviceItem.Quantity
					--			 ELSE orderTrans.dispatch_outward 
					--		 END,
					--	 orderTrans.dispatch_inward = 
					--		CASE WHEN pb.BatchType <> 3  THEN orderTrans.dispatch_inward + dispatchadviceItem.Quantity
					--			 ELSE orderTrans.dispatch_inward
					--		END
					--FROM OrderTranse AS orderTrans
					--JOIN @DispatchAdviceItem AS dispatchadviceItem
					--	ON orderTrans.CustomerOrderId = dispatchadviceItem.CustomerOrderId
					--	AND orderTrans.CastingId = dispatchadviceItem.CastingId
					--JOIN @DispatchAdviceBatch AS dispatchAdviceBatch
					--	ON dispatchAdviceBatch.srno = dispatchadviceItem.srno
					--JOIN CastingStockBatch AS csb 
					--	ON csb.BatchId = dispatchAdviceBatch.BatchId
					--JOIN ProductionBatch AS pb 
					--	ON pb.BatchId = csb.ProductionBatchID;
				 ---- Added by Juhi Singh on 26-09-2025
                 Insert into DispatchAdviceHeatwise
					(
						Id,
						DispatchAdviceTransId,
						batchId,
						qty
						
					)
					Select	NEWID(),DispatchItemResult.dispatchadviceTranseId,dispatchadviceBatch.BatchId,dispatchadviceBatch.qty
					FRom	@DispatchAdviceBatch as dispatchadviceBatch 
							Inner Join @DispatchItemResult as DispatchItemResult on DispatchItemResult.srno = dispatchadviceBatch.srno
								
					--Values 
					--(
					--	NEWID(),
					--	@DispatchAdviceTransId	,
					--	@BatchID,
					--	@Qty
					--)
			
								   
       --                    SELECT  
       --                     NEWID(),
       --                     Node.value('(SrNo)[1]', 'int'),
       --                     @DispatchAdviceId,
       --                     Node.value('(CustomerOrderId)[1]','UniqueIdentifier'),
       --                     Node.value('(CastingId)[1]', 'UniqueIdentifier'),
       --                     Node.value('(Quantity)[1]', 'int'),
       --                     Node.value('(DrawingNo)[1]', 'VARCHAR(50)'),
							--Node.value('(OrderTranseId)[1]','UniqueIdentifier'),
       --                     Node.value('(Weight)[1]', 'float'),
       --                     @Created_By,
       --                     @Created_On,
       --                     0,
       --                     @EntityID 
       --                     FROM 
       --                     @DispatchAdviceDetails.nodes('/DocumentElement/DispatchAdviceTrans')
       --                     AS TEMPXML ( Node )
					
       ----
       	
				--DECLARE GradeCursor CURSOR
				--FOR
				-- SELECT Node.value('(OrderTranseId)[1]','UniqueIdentifier'),
				--		Node.query('HeatXML/*') AS 'HeatXML'
				--FROM 
				--@DispatchAdviceDetails.nodes('/DocumentElement/DispatchAdviceTrans')
				--AS TEMPXML ( Node )

				--OPEN GradeCursor;

				--FETCH NEXT FROM GradeCursor INTO @OrderTranseID,@HeatWiseItemDetail
		            
				--WHILE ( @@FETCH_STATUS = 0 )
				--	BEGIN
				--		set @DispatchAdviceTransId = (	select	DispatchAdviceTrans.DispatchAdviceTransId
				--										from	DispatchAdviceTrans 
				--										where	OrderTransId = @OrderTranseID and IsDeleted = 0
				--												and DispatchAdviceId = @DispatchAdviceId)
				--		DECLARE HeatCursor CURSOR
				--		FOR
				--		 SELECT Node.value('(BatchID)[1]','int'),
				--				Node.value('(Qty)[1]','int')
				--		FROM 
				--		@HeatWiseItemDetail.nodes('/DocumentElement/CastingDetails')
				--		AS TEMPXML ( Node )

				--		OPEN HeatCursor;

				--		FETCH NEXT FROM HeatCursor INTO @BatchId,@Qty
				            
				--		WHILE ( @@FETCH_STATUS = 0 )
				--			BEGIN
				--				Insert into DispatchAdviceHeatwise
				--						(
				--							Id,
				--							DispatchAdviceTransId,
				--							batchId,
				--							qty
											
				--						)
				--						Values 
				--						(
				--							NEWID(),
				--							@DispatchAdviceTransId	,
				--							@BatchID,
				--							@Qty
				--						)
								
				--			FETCH NEXT FROM HeatCursor INTO @BatchId,@Qty
													
				--			END 
				--		CLOSE HeatCursor;
				--		DEALLOCATE HeatCursor;
				
						
				--	FETCH NEXT FROM GradeCursor INTO @OrderTranseID,@HeatWiseItemDetail	
											
				--	END 
				--CLOSE GradeCursor;
				--DEALLOCATE GradeCursor;
				
       ----

        SET @IsApprove = ( SELECT   permitir
                                   FROM     permitir
                                   WHERE    Code = 'APP'
                                 )
               IF @IsApprove = 1
                    BEGIN
                        IF EXISTS ( SELECT  Code
                                    FROM    NotificationPage
                                    WHERE   Code = 'DAN'
                                            AND Isactive = 1 )
                            BEGIN
                                			
                                         SET @UserXML = ( SELECT
                                                              ( SELECT
                                                              NotificationConfiguration.UserId AS UserID
                                                              FROM
                                                              NotificationConfiguration
                                                              INNER JOIN NotificationPage ON NotificationConfiguration.Code = NotificationPage.Code
                                                              AND NotificationPage.Code = 'DAN'
                                                              AND Isactive = 1 
															  --------------------
                                                              FOR
                                                              XML
                                                              PATH('UserDetail') ,
                                                              TYPE
                                                              )
                                                           FOR
                                                             XML
                                                              PATH('') ,
                                                              ROOT('DocumentElement')
                                                           )
							 SET @ShortDescription = 'New Dispatch Advice no ('
                                            + @DispatchAdviceNo + '). Please check and Approve it.';
                                     
                                        EXEC dbo.InsertNotification @Type = 'DispatchAdviceApprovalNotification', -- uniqueidentifier
                                            @Title = 'Dispatch Advice Approval', -- float
                                            @ShortDescription = @ShortDescription,
                                            @UserXML = @UserXML,
                                            @LookUPID2 = @DispatchAdviceId
                          
                            END
                    END

				--	DECLARE @OrderId UNIQUEIDENTIFIER;

					--SELECT @OrderId = OrderTranseId
					--FROM @DispatchAdviceItem;

           --Save Image by JUHI
                DECLARE ImagePath CURSOR                
        	    FOR                
        	      SELECT   Node.value('(Photo)[1]', 'varchar(max)') AS 'Photo',
						   Node.value('(SrNo)[1]', 'int') AS 'SrNo' 
						  ,Node.value('(OriginalName)[1]', 'varchar(max)') AS 'OriginalName',
						   Node.value('(ID)[1]', 'int') AS 'id',
						    Node.value('(DOCUMENTNO)[1]', 'varchar(max)') AS 'DocumentNo',
						  Node.value('(DocRequiredId)[1]', 'UNIQUEIDENTIFIER') AS 'DocRequiredId',
						    Node.value('(DispatchAdviceTransId)[1]', 'varchar(max)') AS 'DispatchAdviceTransId',
							Node.value('(OrderTranseId)[1]', 'UNIQUEIDENTIFIER') AS 'OrderTranseId'
						  
        	        FROM    @ImagePathDetails.nodes('/DocumentElement/ImagePath') AS TEMPXML ( Node )                
        	                                    
        	    OPEN ImagePath;                
        	                        
        	    FETCH NEXT FROM ImagePath INTO @Photo, @SrNo,@OriginalName,@id,@DocumentNo,@DocRequiredId,@DispatchAdviceTransNo,@OrderTranseID
        	    WHILE ( @@FETCH_STATUS = 0 )                
        	        BEGIN   
					set @DispatchAdviceTransId = (select dispatchadviceTranseId from @DispatchItemResult where OrderTranseId = @OrderTranseID)
					
					     INSERT INTO DispatchDocRequiredOrderMapping(OrderTranseId, DocRequiredId, DispatchAdviceId, ID, DOCUMENTNO)
							 VALUES(@OrderTranseID, @DocRequiredId, @DispatchAdviceTransId, @id, @DocumentNo);


						EXEC InsertUpdateImagePath @Photo = @Photo, @SrNo = @SrNo, @Id = @DispatchAdviceTransId ,@OriginalName = @OriginalName, @IntId = @id, @DispatchAdvice =1
                        
        	          
        	            FETCH NEXT FROM ImagePath INTO @Photo, @SrNo ,@OriginalName,@id,@DocumentNo,@DocRequiredId,@DispatchAdviceTransNo,@OrderTranseID
        	                
        	        END                
        	                                    
        	    CLOSE ImagePath;                
        	    DEALLOCATE ImagePath;

             END TRY 
        BEGIN CAtch
			IF @@ERROR <> 0
			BEGIN
			ROLLBACK TRANSACTION
		
			 insert into errormsg values (ERROR_MESSAGE())
			 	  return -1
			END	
        END Catch
		Commit TRANSACTION	        
		 return  1
            END  
    
        IF @Parameter = 2--Fetch CastingNetWeight
            BEGIN
    
    
				select OrderTranse.ApproxWeight  as CastingNetWeight FROM OrderTranse where 
				(OrderTranse.CustomerOrderId = @CustomerOrderId)
				AND ( OrderTranse.MetalID = @MetalID)
				AND (OrderTranse.CastingId = @CastingId)
				
    
            END  
            
       IF @Parameter = 3 
       BEGIN
        --IF @isCastCodeEnable = 0
        --        BEGIN
        --         SELECT  ProductionBatch.batchID AS batchID ,
        --                    batchno ,
        --                    ProcessName ,
        --                    MetalName ,
        --                    CastingStockBatch.BatchStock ,
        --                    CastingStockBatch.Batchid AS stockbatchid ,
        --                    CastingHeatCode.HeatCode ,
        --                    ProductionBatch.ProductionDate
        --            FROM    ProductionBatch
        --                    INNER JOIN CastingStockBatch ON ProductionBatch.batchID = CastingStockBatch.productionbatchID
        --                    LEFT JOIN CastingHeatCode ON CastingStockBatch.ProductionBatchID = CastingHeatCode.ProductionBatchID
        --                                                 AND CastingStockBatch.castingid = CastingHeatCode.CastingID ,
        --                    ProcessMaster ,
        --                    MetalMaster
        --            WHERE   ProcessMaster.ProcessId = CastingStockBatch.ProcessID
        --                    AND MetalMaster.MetalId = CastingStockBatch.MetalID
        --                    AND CastingStockBatch.CastingID = @CastingID
        --                    --AND CastingStockBatch.MetalID = @MetalID
        --                    --AND CastingStockBatch.ProcessID = @ProcessID
        --                    AND BatchStock > 0
                    
	           
	            
        --        END
        -- ELSE
        -- BEGIN
        --  SELECT  ProductionBatch.batchID AS batchID ,
        --                    batchno ,
        --                    ProcessName ,
        --                    MetalName ,
        --                    CastCodeBatch.Qty AS BatchStock ,
        --                    CastingStockBatch.Batchid AS stockbatchid ,
        --                    CastCodeBatch.CastCode AS CastCode ,
        --                    CastingHeatCode.HeatCode ,
        --                    ProductionDate
        --            FROM    ProductionBatch
        --                    INNER JOIN CastingStockBatch ON ProductionBatch.batchID = CastingStockBatch.productionbatchID
        --                    LEFT JOIN CastingHeatCode ON CastingStockBatch.ProductionBatchID = CastingHeatCode.ProductionBatchID
        --                                                 AND CastingStockBatch.castingid = CastingHeatCode.CastingID ,
        --                    ProcessMaster ,
        --                    MetalMaster ,
        --                    CastCodeBatch
        --            WHERE   CastingStockBatch.Batchid = CastCodeBatch.BatchID
        --                    AND ProductionBatch.batchID = CastingStockBatch.productionbatchID
        --                    AND ProcessMaster.ProcessId = CastingStockBatch.ProcessID
        --                    AND MetalMaster.MetalId = CastingStockBatch.MetalID
        --                    AND CastingStockBatch.CastingID = @CastingID
        --                    --AND CastingStockBatch.MetalID = @MetalID
        --                    --AND CastingStockBatch.ProcessID = @ProcessID
        --                    AND CastCodeBatch.Qty > 0
                   
        -- END
        
         DECLARE @processId UNIQUEIDENTIFIER = NULL ,
                @ReportId UNIQUEIDENTIFIER = CAST(0x0 AS UNIQUEIDENTIFIER) ,
                @ProcessName VARCHAR(100)= NULL ,
                @ProcessIdInspection UNIQUEIDENTIFIER= NULL;
            
            IF ( @ProcessInspection = 1 )
                BEGIN
                    SET @processId = ( SELECT TOP 1
                                                CastingProcess.ProcessID
                                       FROM     CastingProcess                                                
                                       WHERE    CastingID = @CastingId
                                       ORDER BY Sequence DESC
                                     )
                    
                    SET @ProcessName = ( SELECT TOP 1
                                                processname
                                         FROM   CastingProcess
                                                INNER JOIN ProcessMaster ON ProcessMaster.ProcessId = CastingProcess.ProcessID
                                         WHERE  CastingID = @CastingId
                                         ORDER BY Sequence DESC
                                       )               
					
                    SET @ProcessIdInspection = ( SELECT ProcessId
                                                 FROM   ProcessMaster
                                                 WHERE  ProcessName = @ProcessName
                                                        + ' Inspection'
                                               )

                   if EXISTS (SELECT TOP 1
                                                ReportId
                                      FROM      CastingPartNo
                                      WHERE     CastingID = @CastingId
                                                AND ProcessId = @processId
                                                and isnull(CastingPartNo.IsDeleted,0) = 0
                                      )
                                      BEGIN
                    SET @ReportId = ( SELECT TOP 1
                                                ReportId
                                      FROM      CastingPartNo
                                      WHERE     CastingID = @CastingId
                                                AND ProcessId = @processId
                                                and isnull(CastingPartNo.IsDeleted,0) = 0
                                      ORDER BY  SrNo
                                    )
                                    END
                END
            
            IF @IsCastCodeEnable = 0
                BEGIN                  
               
                    SELECT  BatchStock ,
                            CastingStockBatch.Batchid AS stockbatchid ,                           
                            CastingStockBatch.productionbatchID AS batchID ,
                            ProcessName ,
                            MetalName ,
                            batchno ,
                            HeatCode ,
                            ProductionDate
                    FROM    ProcessMaster ,
                            MetalMaster ,
                            ProductionBatch ,
                            CastingStockBatch
                            LEFT JOIN CastingProcess ON CastingStockBatch.CastingID = CastingProcess.CastingID
                                                        AND CastingStockBatch.ProcessID = CastingProcess.ProcessID
                                    --LEFT JOIN dbo.knockout ON dbo.knockout.castingid = dbo.CastingStockBatch.CastingID
                                    --                          AND dbo.knockout.batchid = dbo.CastingStockBatch.productionbatchID
                                    --LEFT JOIN dbo.ModifyStock ON dbo.ModifyStock.castingid = dbo.CastingStockBatch.CastingID
                                    --                             AND dbo.ModifyStock.ProductionBatchId = dbo.CastingStockBatch.productionbatchID
                            LEFT JOIN CastingHeatCode ON CastingStockBatch.HeatCodeId = CastingHeatCode.HeatCodeId
													AND CastingStockBatch.CastingID = CastingHeatCode.CastingID
													AND CastingHeatCode.ProductionBatchID = CastingStockBatch.productionbatchID
                            INNER JOIN CastingMaster ON CastingStockBatch.CastingID = CastingMaster.CastingId
                    WHERE   CastingStockBatch.productionbatchID = ProductionBatch.batchID
                            AND ProductionBatch.IsDeleted = 0
                            AND CastingStockBatch.ProcessID = ProcessMaster.ProcessId
                            AND CastingStockBatch.MetalID = MetalMaster.MetalId
                            AND CastingStockBatch.CastingID = @CastingID
                            AND ( @edit != 0
                                  OR BatchStock > 0
                                )
                            AND ( @ReportID <> CAST(0x0 AS UNIQUEIDENTIFIER)
								  OR @DispatchFromProcess = 0
                                  OR ( @DispatchFromProcess = 1
                                       AND Sequence = ( SELECT
                                                              MAX(Sequence)
                                                        FROM  CastingProcess
                                                        WHERE CastingProcess.CastingID = @CastingId
                                                      )
                                     )
                                )
                            AND ( @ReportID = CAST(0x0 AS UNIQUEIDENTIFIER)
									OR 
									CastingStockBatch.ProcessID=@ProcessIdInspection
                            
								)    
                            
                    ORDER BY 
                            
                            CASE WHEN (@Method = 0 OR @Method = 2)  THEN ProductionDate END DESC,
				                     CASE WHEN (@Method = 0 OR @Method = 2)  THEN ProductionBatch.Batchid END DESC,
				                     CASE WHEN @Method = 1 THEN ProductionDate END ASC,
				                     CASE WHEN @Method = 1 THEN ProductionBatch.Batchid END ASC,
				                     
                            Sequence DESC 
                                    
                END
            ELSE
                BEGIN
                   
                    SELECT  CastCodeBatch.Qty as BatchStock ,
                            CastingStockBatch.Batchid AS stockbatchid ,                           
                            CastingStockBatch.productionbatchID AS batchID ,
                            ProcessName ,
                            MetalName ,
                            batchno ,
                            HeatCode ,
                            ProductionDate,
                            CastCodeBatch.CastCode
                    FROM    ProcessMaster ,
                            MetalMaster ,
                            ProductionBatch ,
                            CastCodeBatch ,
                            CastingStockBatch
                            LEFT JOIN CastingProcess ON CastingStockBatch.CastingID = CastingProcess.CastingID
                                                        AND CastingStockBatch.ProcessID = CastingProcess.ProcessID
                                    --LEFT JOIN dbo.knockout ON dbo.knockout.castingid = dbo.CastingStockBatch.CastingID
                                    --                          AND dbo.knockout.batchid = dbo.CastingStockBatch.productionbatchID
                                    --LEFT JOIN dbo.ModifyStock ON dbo.ModifyStock.castingid = dbo.CastingStockBatch.CastingID
                                    --                             AND dbo.ModifyStock.ProductionBatchId = dbo.CastingStockBatch.productionbatchID
                            LEFT JOIN CastingHeatCode ON CastingStockBatch.productionbatchID = CastingHeatCode.ProductionBatchID
                                                         AND CastingStockBatch.CastingID = CastingHeatCode.CastingID
                            INNER JOIN CastingMaster ON CastingStockBatch.CastingID = CastingMaster.CastingId
                    WHERE   CastingStockBatch.Batchid = CastCodeBatch.BatchID
                            AND ProductionBatch.IsDeleted = 0
                            AND CastingStockBatch.productionbatchID = ProductionBatch.batchID
                            AND CastingStockBatch.ProcessID = ProcessMaster.ProcessId
                            AND CastingStockBatch.MetalID = MetalMaster.MetalId
                            AND CastingStockBatch.CastingID = @CastingID
                            AND ( @edit = 1
                                  OR CastCodeBatch.Qty > 0
                                )
                            AND ( @ReportID <> CAST(0x0 AS UNIQUEIDENTIFIER)
								  OR @DispatchFromProcess = 0
                                  OR ( @DispatchFromProcess = 1
                                       AND Sequence = ( SELECT
                                                              MAX(Sequence)
                                                        FROM  CastingProcess
                                                        WHERE CastingProcess.CastingID = @CastingId
                                                      )
                                     )
                                )
                            AND ( @ReportID = CAST(0x0 AS UNIQUEIDENTIFIER)
									OR 
									CastingStockBatch.ProcessID=@ProcessIdInspection
                            
								)
                    ORDER BY CASE WHEN @Method = 1 THEN ProductionDate
                             END ASC ,
                            CASE WHEN @Method <> 1 THEN ProductionDate
                            END DESC ,
                            Sequence DESC

                END
        
       END
         
        IF ( @Parameter = 4 ) -- for Approve Dispatch advice
        BEGIN	
            UPDATE  DispatchAdvice
            SET     IsApprove = 1  ,
                    dbo.dispatchadvice.DisapproveUserId = @Created_By
            WHERE   DispatchAdviceId = @DispatchAdviceId
            
        END   
        IF ( @Parameter = 5)		-- for DisApprove Dispatch advice	
        BEGIN	
            UPDATE  DispatchAdvice
            SET     IsApprove = @IsApprove ,
                    Reason = @ApproveReason ,
                    IsDisapprove = @IsDisapprove ,
                    dbo.dispatchadvice.DisapproveUserId = @Created_By
            WHERE   DispatchAdviceId = @DispatchAdviceId

        END   
        IF ( @Parameter = 6 )		-- for Show Reason on link button	
        BEGIN	
            SELECT  Reason
            FROM    DispatchAdvice
            WHERE   DispatchAdviceId = @DispatchAdviceId
        END
	 IF ( @Parameter = 7 )		-- for Show Reason on link button	
        BEGIN	
            SELECT  ImagePathId ,              
                        FilePath ,
                        OriginalName             
                FROM    dbo.ImagePath              
                WHERE   Id =  @DispatchAdviceId
 --in ( select DispatchAdviceTransId from DispatchAdviceTrans where DispatchAdviceId= @DispatchAdviceId   )           
        END
    END
GO
