USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[UpdateChargeName]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateChargeName]
	-- Add the parameters for the stored procedure here
	@ChargeId UNIQUEIDENTIFIER=NULL,
	@chargeName VARCHAR(50)=NULL,
	@UnderTaxation int=0,
	@IsRoundOff bit = 0,
	@LedgerGroupId bigint = 0 ,
	@ModifiedBy int =0 ,
	@TaxPer  float  =null ,
	@Taxability INT = 0 ,
	@IsGSTApplicable BIT = 0,
	@IsTdsApplicable BIT = 0,
	@TDSRateName varchar(200) = NULL,
	@IsTdsNotUpdate bit = 0,
	@TaxType varchar(20) = null,
	@NatureOfTransaction int = -1,
	@AccountHolderName VARCHAR(100) = NULL,
	@AccountNo BIGINT = NULL,
	@IFSCode VARCHAR(20) = NULL,
	@SWIFTCode VARCHAR(50) = NULL,
	@BankName VARCHAR(60) = NULL,
	@Branch VARCHAR(50) = NULL,
	@BSRCode VARCHAR(50) = NULL,
	@OpeningBalance FLOAT = NULL,
	@AsPerDateOpeningBalance DATETIME = NULL,
	@ODLimit FLOAT = NULL,
	@ODLimitDate DATETIME = NULL,
	@IsStockAffect bit =null ,
	@IsCostCenterApplicable bit =0 
AS
BEGIN
	
	DECLARE @OldOpeningBal FLOAT = 0
	DECLARE @OldCurrentBal FLOAT = 0
	DECLARE @UpdateCurrentBal FLOAT = 0
	DECLARE @OldODLimitBal FLOAT = 0
	DECLARE @UpdateOldODLimitBal FLOAT = 0

	--SELECT @OldCurrentBal = ISNULL(CurrentBalance, 0), @OldOpeningBal =  ISNULL(OpeningBalance, 0), 
	--	@OldODLimitBal = ISNULL(ODLimit, 0) 
	--FROM LedgerMaster WHERE ChargeId = @ChargeId
	--SET @UpdateCurrentBal = @OldCurrentBal + (@OpeningBalance - @OldOpeningBal)

	--SET @UpdateOldODLimitBal = @OldODLimitBal + (@ODLimit - @OldODLimitBal)

	UPDATE LedgerMaster SET 
		ChargeName=@ChargeName,IsRoundOff=@IsRoundOff,UnderTaxation=@UnderTaxation , LedgerGroupId = @LedgerGroupId 
		,ModifiedBy = @ModifiedBy , ModifiedOn = GetDate() ,TaxPer =@TaxPer, Taxability = @Taxability, IsGSTApplicable = @IsGSTApplicable,
		IsTDSApplicable =@IsTdsApplicable , --  case When @TaxType = 'TDS' and @IsTdsNotUpdate = 1  then IsTDSApplicable else @IsTdsApplicable end,
		TdsRateName =@TDSRateName ,-- case When @TaxType = 'TDS' and @IsTdsNotUpdate = 1  then TdsRateName else @TDSRateName end,
		NatureOfTransaction = @NatureOfTransaction,
		--AccountHolderName = @AccountHolderName, AccountNo = @AccountNo, IFSCode = @IFSCode, SWIFTCode = @SWIFTCode,
		--BankName = @BankName, Branch = @Branch, BSRCode = @BSRCode, OpeningBalance = @OpeningBalance, CurrentBalance = @UpdateCurrentBal, 
		--AsPerDateOpeningBalance = @AsPerDateOpeningBalance,
		--ODLimit = @UpdateOldODLimitBal,
		--ODLimitDate = @ODLimitDate ,
		  IsStockAffect=@IsStockAffect,IsCostCenterApplicable =@IsCostCenterApplicable
	where ChargeId = @ChargeId
END
GO
