USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[ReportHeatWiseInventory]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Dhruvin>
-- Create date: <Create Date,,17-06-2020>
-- Description:	<Description,,Report Heat wise Inventory>
-- =============================================
CREATE PROCEDURE [dbo].[ReportHeatWiseInventory]
 @CastingID UNIQUEIDENTIFIER =null,
    @BatchID INT = 0 
AS
BEGIN
	 SELECT DISTINCT
                        ROW_NUMBER() OVER ( ORDER BY ProductionBatch.batchno ASC ) AS RowNo ,
                        ProductionBatch.batchno ,
                        productionqty ,
                        ISNULL(Rejection.RejQty, 0) AS RejQty ,
                        (ISNULL(DispatchTable.Qty, 0) +(ISNULL(JobOutTable.Qty,0))) AS DispatchQty ,
                        ( productionqty - ISNULL(Rejection.RejQty, 0)
                          - ISNULL(DispatchTable.Qty, 0) - ISNULL(JobOutTable.Qty,0)) AS pendingqty
                FROM    ProductionBatch
                        INNER JOIN knockout ON knockout.batchid = ProductionBatch.batchID
                        LEFT JOIN ( SELECT  SUM(ISNULL(CastingFinalRejection.RejQty,
                                                       0)) AS RejQty ,
                                            CastingID ,
                                            productionbatchID
                                    FROM    CastingFinalRejection
                                    GROUP BY CastingID ,
                                            ProductionBatchID
                                  ) AS Rejection ON Rejection.ProductionBatchID = knockout.batchid
                                                    AND Rejection.CastingID = knockout.castingid
                        LEFT JOIN ( SELECT  dispatchtrans.castingid ,
                                            CastingStockBatch.productionbatchID ,
                                            SUM(DispatchGradewise.Qty) AS Qty
                                    FROM    dispatchtrans 
											inner Join dispatchmaster On dispatchmaster.DispatchID = dispatchtrans.dispatchid
											Inner Join DispatchGradewise on   DispatchGradewise.DispatchTransID = dispatchtrans.dispatchtransid
                                            inner Join CastingStockBatch on CastingStockBatch.batchid = DispatchGradewise.BatchID
                                    Where   dispatchtrans.IsDeleted = 0
											and dispatchmaster.isProforma = 0 and dispatchmaster.TypeOfVoucher != 4 
                                    GROUP BY productionbatchID ,
                                            dispatchtrans.castingid
                                  ) AS DispatchTable ON DispatchTable.castingid = knockout.castingid
                                                        AND DispatchTable.productionbatchID = knockout.batchid
                        LEFT JOIN ( SELECT  BOQTrans.PurchaseItemId as castingid ,
                                            JobOutItemBatch.productionbatchID ,
                                            SUM(JobOutItemBatch.Qty) AS Qty
                                    FROM    JobOutItemTrans 
											Inner Join JobOutItemBatch On JobOutItemBatch.JoItemTransId = JobOutItemTrans.JoItemTransId
											--INNER JOIN CastingStockBatch as CSB On CSB.Batchid = JobOutItemBatch.Id
											INNER JOIN JobOutTranse ON JobOutTranse.JOTranseID = JobOutItemTrans.Jo_TranseId  
											INNER JOIN JobOutMaster ON JobOutMaster.JOID  = JobOutTranse.JOID  
											INNER JOIN BOQTrans ON BOQTrans.BOQTransId = JobOutItemTrans.Bom_TranseId 
                                    WHERE   JobOutTranse.IsDeleted = 0 and JobOutMaster.IsDeleted = 0
                                    GROUP BY JobOutItemBatch.productionbatchID ,
                                            BOQTrans.PurchaseItemId
                                  ) AS JobOutTable ON JobOutTable.CastingId = knockout.castingid
													AND JobOutTable.productionbatchID = knockout.batchid
                WHERE   ProductionBatch.IsDeleted = 0
                        AND knockout.IsDeleted = 0
                        AND knockout.castingid = @CastingID
                        AND ( @BatchID = 0
                              OR Productionbatch.Batchid = @batchID
                            )
                OPTION(RECOMPILE)
END

GO
