USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[GetMetalProperty]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Bhu,,Bhumin>
-- Create date: <Create Date,,12.01.2022>
-- Description:	<Description,,Fetch Metal's Min Max value>
-- =============================================
CREATE PROCEDURE [dbo].[GetMetalProperty] 
	@MetalId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

      select ElementName as Name, MinValue as MiniMum, MaxValue as Maximum ,
                MetalProperty.ElementId as ChemicalMetalElementId , TCMin , TCMax,Srno from MetalProperty
				Inner Join ElementMaster on elementMaster.elementId = MetalProperty.elementId				
				 where metalId = @MetalId
				 --Order by ElementMaster.SequenceNo
				 Order by ElementMaster.Srno
END
GO
