USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Get_Planning]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bijal
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE    PROCEDURE [dbo].[Get_Planning]
 @Parameter int =0 
 ,@PlanDate datetime = null 
 ,@EntityId int  = 0 
 ,@PlanId uniqueidentifier = null
 ,@DeletedBy int = 0
AS
BEGIN 
Declare @FMStartDate DATETIME, @FMEndDate DATETIME 
	SET @FMStartDate = DATEADD(DAY, 1-DAY(@PlanDate), @PlanDate)
	SET @FMEndDate = DATEADD(MONTH, 1, DATEADD(DAY, 1-DAY(@PlanDate), @PlanDate)) - 1

 if( @Parameter  = 1 )
 begin 
	declare @OrderWithAssembly table ( requiredqty int, castingId uniqueidentifier)
	
	declare @OrderWithAssembly1 table (AssemblyCastingId uniqueidentifier, castingId uniqueidentifier,requiredqty int,Maincast int,RequiredForQty int)
		Insert into @OrderWithAssembly1
			Exec dbo.GetOrderWithAssembly
			@StartDate = null,
			@EndDate =   @FMEndDate ,
			@EntityId = @EntityId
	 
	 Insert into @OrderWithAssembly
			select	sum(case when maincast = 1 and RequiredQty < 0 then 0 else  RequiredQty end ) as RequiredQty, 
					castingId
			from (
				SELECT	Sum(requiredqty) as RequiredQty,
						castingId,Maincast
				FROM	@OrderWithAssembly1 
				group by castingId,Maincast
			)  as a group by castingId

	 Select	ROW_NUMBER() OVER (ORDER BY castingname) as SrNo ,      
				CastingName ,
				CastingCode ,              
				OrderDetails.CastingId , 
			--	ISNULL(MoldLine, '') AS MoldLine,
				CastingMaster.SafetyStock,
				OrderDetails.requiredqty as ShortQty , 
				CasWeight as Weight,
				(OrderDetails.requiredqty * CasWeight) as TotalWeight,
				castingMetalable.Grossweight as GrossWeight,
				(OrderDetails.requiredqty * castingMetalable.Grossweight) as TotalGrossWeight,
				isnull(PlanQty,0) as PlanQty , 
				PatternMaster.PatternCode as DieCode,
				(isnull(PlanQty,0) * castingMetalable.Grossweight) as PlannedWeight
		 from	planmaster
				left join  @OrderWithAssembly as OrderDetails  ON planmaster.CastingId = OrderDetails.CastingId  
				Inner Join  CastingMaster on CastingMaster.CastingId = OrderDetails.castingId
				INNER JOIN PatternMaster ON CastingMaster.DieID = PatternMaster.PatternID              
				--LEFT JOIN MoldLineMaster ON MoldLineMaster.MoldLineID = PatternMaster.MoldLineID			  
				Outer apply (select top 1 CAST(CastingMetal.CastingNetWeight AS NUMERIC(18, 3)) as CasWeight,
									CAST(CastingMetal.GrossWeight AS NUMERIC(18, 3)) as Grossweight,
									ROW_NUMBER() Over(Partition by castingId Order by  CAST(CastingMetal.CastingNetWeight AS NUMERIC(18, 3)) desc) as rw
							from	CastingMetal 
							Where CastingMetal.castingID = OrderDetails.CastingId
							)as castingMetalable 
		  where rw = 1 and OrderDetails.requiredqty > 0 
						and	planmaster.IsDeleted = 0              
						AND MONTH(plandate) = month(@PlanDate) and year(plandate) = year(@PlanDate)   
						and planmaster.entityid =@EntityId 
				  
			
 end 
 if( @Parameter  = 2)
 begin
	DECLARE @MonthDateTbl TABLE(DateofMonth DATETIME)
	
	DECLARE @Weekdays varchar(50)   = (SELECT TOP 1  DisplayName  
	   FROM configuration 
	 INNER  JOIN dbo.CommonData_Master(NOLOCK) As cdmstWkDys ON cdmstWkDys.[Group] = 'WeekDays' 
												AND ISNULL(cdmstWkDys.IsDeleted, 0) = 0 AND cdmstWkDys.UniqueName = WeekOffDay
												WHERE configuration.EntityID = 66 )

	;WITH Date_Result(DateofWeek) AS (
		SELECT @FMStartDate
		UNION ALL
		SELECT DATEADD(day, 1, DateofWeek) DateofWeek
		FROM Date_Result
		WHERE DateofWeek < @FMEndDate
	)
	INSERT INTO @MonthDateTbl
	select Dateofweek from Date_result OPTION (MaxRecursion 0) 

	Declare @Daycount int = (select count(1) from @MonthDateTbl)
Declare @TotalWeekOffDays int =( SELECT	COUNT(MonthDateTbl.DateofMonth) As TotalWeekOffDays
							FROM	@MonthDateTbl AS MonthDateTbl 
							WHERE	DATENAME(dw, MonthDateTbl.DateofMonth) = @Weekdays
						 )
	
declare @HolidayCount	int =(	SELECT	COUNT(1) AS HolidayCount
							FROM	dbo.HolidayMaster(NOLOCK)  
							WHERE	CAST(Holiday_Date AS DATE) BETWEEN CAST(@FMStartDate AS DATE) AND CAST(@FMEndDate AS DATE)
								)	


 select MeltingCapacity *(@Daycount-(@TotalWeekOffDays+@HolidayCount)) as MonthlyProductionCapacity
			from MeltingCapacity   
 end
END
GO
