USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Casting_Wise_Grade_Property_Register]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE  PROCEDURE [dbo].[Casting_Wise_Grade_Property_Register]
   @Parameter INT = 0 ,    
     @MetalId BIGINT = 0 ,  
    @CastingId UNIQUEIDENTIFIER = NULL ,  
    @CastingName VARCHAR(100) = NULL ,  
   @CustomerId UNIQUEIDENTIFIER = NULL 
AS
BEGIN 
        IF @Parameter = 1
        BEGIN
			
			
Select DENSE_RANK() OVER (ORDER BY CastingName,CastingCode,MetalName) AS SrNo, CastingName , CastingCode , MetalName , ElementName as PropertiesName, PropertiesValues, TypeOfElement from (
Select CastingId,MetalId, ElementId , Minvalue as PropertiesValues, 'Minimum' as TypeOfElement from CastingwiseMetalProperty 
UNION ALL
Select CastingId,MetalId, ElementId ,  MaxValue as PropertiesValues, 'Maximum' as TypeOfElement from CastingwiseMetalProperty 
) as ChemicalData
inner join ElementMaster on ChemicalData.ElementId = ElementMaster.ElementId
INNER JOIN CastingMaster on ChemicalData.CastingId = CastingMaster.CastingId
INNER JOIN MetalMaster on ChemicalData.MetalID = MetalMaster.MetalId
 WHERE   (@MetalId = 0 or MetalMaster.MetalId = @MetalId )  
                        AND (@CastingId is null or ChemicalData.CastingId = @CastingId)  
                        AND (@CastingName is null or CastingMaster.CastingName = @CastingName)     
                        AND ( @CustomerID IS NULL          
      OR CastingMaster.CastingID IN (      
      SELECT    CastingID      
      FROM      CastingMaster ,      
       dbo.CustomerPatternMapping      
      WHERE     CastingMaster.DieiD = CustomerPatternMapping.PatternId      
       AND CustomerPatternMapping.CustomerId = @CustomerId )      
    )   

 Order by CastingName,CastingCode,MetalName , ElementMaster.ElementId
        
        END     
            IF @Parameter = 2
        BEGIN
			
			
Select DENSE_RANK() OVER (ORDER BY CastingName,CastingCode,MetalName) AS SrNo, CastingName , CastingCode , MetalName , ElementName as PropertiesName, PropertiesValues, TypeOfElement from (
Select CastingId,MetalId, ElementId , Minvalue as PropertiesValues, 'Minimum' as TypeOfElement from CastingwiseMetalMechProperty 
UNION ALL
Select CastingId,MetalId, ElementId ,  MaxValue as PropertiesValues, 'Maximum' as TypeOfElement from CastingwiseMetalMechProperty 
) as MechanicalData
inner join MechElementMaster on MechanicalData.ElementId = MechElementMaster.ElementId
INNER JOIN CastingMaster on MechanicalData.CastingId = CastingMaster.CastingId
INNER JOIN MetalMaster on MechanicalData.MetalID = MetalMaster.MetalId
 WHERE   (@MetalId = 0 or MetalMaster.MetalId = @MetalId )  
                        AND (@CastingId is null or MechanicalData.CastingId = @CastingId)  
                        AND (@CastingName is null or CastingMaster.CastingName = @CastingName)     
                        AND ( @CustomerID IS NULL          
      OR CastingMaster.CastingID IN (      
      SELECT    CastingID      
      FROM      CastingMaster ,      
       dbo.CustomerPatternMapping      
      WHERE     CastingMaster.DieiD = CustomerPatternMapping.PatternId      
       AND CustomerPatternMapping.CustomerId = @CustomerId )      
    )   

 Order by CastingName,CastingCode,MetalName , MechElementMaster.SequenceNo
        
        END   
        
             IF @Parameter = 3
        BEGIN  
     
    SELECT  CastingMaster.CastingName,CastingMaster.CastingCode,MetalMaster.MetalName,MicroStructureGradeProperty.*  
     FROM    MicroStructureGradeProperty      
       inner join CastingMaster on CastingMaster.CastingId = MicroStructureGradeProperty.CastingId       
       inner join MetalMaster on MetalMaster.MetalId = MicroStructureGradeProperty.MetalId     
     WHERE ( @MetalID = 0   
        OR MicroStructureGradeProperty.MetalID = @MetalID  
       )  
       AND ( @CastingId IS NULL  
        OR MicroStructureGradeProperty.CastingId = @CastingId  
                            )   
                            AND (@CastingName is null or CastingMaster.CastingName = @CastingName)  
                            AND ( @CustomerID IS NULL      
        --OR CastingMaster.CastingID IN (      
        --SELECT    CastingID      
        --FROM      CastingMaster ,      
        -- CustomerDieMapping      
        --WHERE     CastingMaster.DieiD = CustomerDieMapping.DieiD      
        -- AND CustomerDieMapping.CustomerId = @CustomerId )      
        OR CastingMaster.CastingID IN (      
        SELECT    CastingID      
        FROM      CastingMaster ,      
         dbo.CustomerPatternMapping      
        WHERE     CastingMaster.DieiD = CustomerPatternMapping.PatternId      
         AND CustomerPatternMapping.CustomerId = @CustomerId )      
      )     
      order by MicroStructureGradeProperty.CastingId,MicroStructureGradeProperty.MetalId   
             
        END  
             
END

GO
