USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CastingProfitability_CostDetails]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CastingProfitability_CostDetails] 
	@CastingID UNIQUEIDENTIFIER = null,
	@StartDate DATETIME = null  ,
	@EndDate DATETIME = null ,
	@EntityID INT = 0,
	@MetalId int = 0,
	@Type Nvarchar(100) = 'METALCOST',
	@BatchID int = 0,
	@MoldingDate Nvarchar(100) = '',
	@CoreDate Nvarchar(100) = '',
	@Parameter int = 1,
	@IsInwardBatchWise bit = 1,
	@RateType nvarchar(100) = 'AvgRate',
	@ProductionType Nvarchar(200) = null
AS
BEGIN

	WITH RecursiveCostCenter AS 
	(
		SELECT	CostCenterID,
				CostCenterParentID,
				CostCenterID AS StartID
		FROM	CostCenterMasterNew
		Where	isnull(CostCenterMasterNew.IsDeleted ,0) = 0 

		UNION ALL
		SELECT	c.CostCenterID,
				c.CostCenterParentID,
				r.StartID
		FROM	CostCenterMasterNew c
				INNER JOIN RecursiveCostCenter r	ON c.CostCenterID = r.CostCenterParentID
		where	c.CostCenterId != r.CostCenterId
				and isnull(c.IsDeleted ,0) = 0 
	)
	SELECT	r.StartID AS CostCenterID,
			r.CostCenterParentID AS FinalParentID,
			parent.ShortCode as ParentShortCode,
			child.ShortCode,
			child.ProcessId,
			child.IsDefault
	Into	#CostCenterMaster
	FROM	RecursiveCostCenter r
			Inner JOIN	CostCenterMasterNew parent ON r.CostCenterParentID = parent.CostCenterID
			Inner JOIN	CostCenterMasterNew child ON r.StartID = child.CostCenterID
	WHERE	(parent.CostCenterID = 1 Or parent.CostCenterParentId = 2)
			and r.CostCenterId in(1,2)

	DECLARE 
	@PatternId UNIQUEIDENTIFIER,
	@AllConsumedQty FLOAT ,
	@AllConsumedQtyWithFilters FLOAT ,
	@Production FLOAT ,
	@TotalCost float,
	@ProGradeID int;


            
            
	Set @ProGradeID = isnull((	Select	ProductionGradeId 
								from	MetalMaster 
										Inner Join CastingMetal On CastingMetal.metalid = MetalMaster.ProductionGradeId
								where	MetalMaster.metalid=@MetalId
										and CastingMetal.IsProductionGrade = 1
										and CastingMetal.castingID = @CastingId
										and CastingMetal.IsDeleted = 0
				),0) 
							
							
							
	select	Batchid, 
			MetalId,
			batchno as BatchNo,
			Productiondate,Rate
	into	#ProductionTemp
	from	Productionbatch 
	WHERE   ProductionBatch.IsDeleted = 0
			AND ProductionBatch.ProductionDate BETWEEN @StartDate AND @EndDate
			AND ProductionBatch.EntityId = @EntityID
			
	-- SELECT	
	-- DISTINCT	
	-- batchid
	-- into #Consuption
	--FROM
	--Consumption
	--WHERE IsDeleted=0
	
	Select  Sum(ISNULL(knockout.productionqty * knockout.perpcweight, 0)) AS Production,
			isnull(Sum(ISNULL(knockout.productionqty,0)),0) as TotalProductionQty	
	into    #TotalProduction
	FROM    #ProductionTemp
			INNER JOIN knockout ON knockout.batchid = #ProductionTemp.batchID
				AND knockout.IsDeleted = 0	
			--AND dbo.#ProductionTemp.batchID IN (
			--		SELECT batchid
			--		FROM		#Consuption	
			--	)
			
			
	Select  Sum(ISNULL(knockout.productionqty * knockout.perpcweight, 0)) AS Production,
			isnull(Sum(ISNULL(knockout.productionqty,0)),0) as TotalProductionQty,
			knockout.batchid  as Batchid,
			@CastingID as castingID,
			@MetalId as MetalId		
	into    #ProductionTable
	FROM    #ProductionTemp
			INNER JOIN knockout ON knockout.batchid = #ProductionTemp.batchID
			AND knockout.IsDeleted = 0	
			--AND dbo.#ProductionTemp.batchID IN (
			--		SELECT batchid
			--		FROM		#Consuption	
			--	)
				where
				knockout.castingid = @CastingID
				AND (#ProductionTemp.MetalId = @MetalId OR #ProductionTemp.MetalId = @ProGradeID)
			group by 
			knockout.batchid 
			
			
	
	
	select	Sum(ISNULL(PTable.Production, 0)) AS Production,
			isnull(Sum(TotalProductionQty),0) as TotalProductionQty,
			MetalMaster.MetalId as MetalID,
			CastingMetal.castingID as castingId,
			case when isnull(cm.IsProductionGrade ,0) = 1 then isnull(MetalMaster.ProductionGradeId,0) else 0 end as PGMetalId
	Into	#TempProductionWeight
	from	CastingMetal
			Inner Join MetalMaster On MetalMaster.MetalId = CastingMetal.metalid
			Left jOin castingMetal cm On cm.MetalId = MetalMaster.ProductionGradeId
				and cm.castingID = CastingMetal.castingID
				and cm.IsDeleted = 0
				and cm.IsProductionGrade = 1
				
			Left Join (	Select	Production ,
								TotalProductionQty,
								CastingId,
								MetalId
						From	#ProductionTable
						) as PTable On PTable.CastingId = CastingMetal.CastingID
							and ((PTable.MetalId = MetalMaster.metalid ) or (PTable.metalid = cm.metalid)  )
	group by MetalMaster.MetalId,
			CastingMetal.castingID,
			isnull(cm.IsProductionGrade ,0),
			isnull(MetalMaster.ProductionGradeId,0)
			
    SET @Production = ( SELECT  ISNULL(SUM(Production), 0) AS Production FROM    #TotalProduction)

	select	* 
	Into	#CastingProductionItemWise 
	from(
			select	ItemcastingMapping.*,
					Sum(ProdQty) Over(Partition by purchaseItemId Order by purchaseItemId) as TotalProduction
			from	ItemCastingMapping
					Inner Join (select	a.castingId,  ISNULL(SUM(Production), 0) as ProdQty 
								from	#ProductionTable as a
								group by a.castingId
								) as ProTable on ProTable.castingId = ItemcastingMapping.castingId
	) as a where (@CastingId Is null Or a.castingId = @CastingId)
		  
    Declare @CastingProduction float = 0;
    
    SET @CastingProduction = ( SELECT  ISNULL(SUM(Production), 0) AS Production FROM    #TempProductionWeight where castingId = @CastingID and (MetalId = @MetalId OR MetalId = @ProGradeID))
    
    if(@Parameter != 2)
    BEGIN
		declare @@OtherMaterial table ( 
					ItemName  varchar(Max) ,
					ItemCode varchar(Max),
					ConsumedQty float ,
					Rate float,
					PerKgRate float,
					CategoryType varchar(MaX)
					) 
		declare @@OtherMaterial2 table ( 
					ItemName  varchar(Max) ,
					ItemCode varchar(Max),
					ConsumedQty float ,
					Rate float,
					PerKgRate float,
					CategoryType varchar(MaX),
					CastingId uniqueidentifier
					) 			
					
						
		if @IsInwardBatchWise  = 1
		BEGIN
			SELECT  PurchaseItemMaster.PurchaseItemId,
					ItemName ,
					ItemCode,
					case when IssueForOtherPurpose = 1 and IsCharge = 1 then 'MLT' when IsMoldingMaterial = 1 then 'MLD' else
					Isnull(CostingCategoryShortCode,PurchaseCostCenter.ShortCode) end as CostingCategory,
                    SUM(CASE WHEN ISNULL(CostCenterTab.Qty,0) <> 0 THEN CostCenterTab.Qty ELSE MaterialIssueBatchWise.Quantity END) AS Quantity ,
                    ISNULL(BatchWiseRate.Rate,0) AS Rate,
					SUM(CASE WHEN ISNULL(CostCenterTab.Qty,0) <> 0 THEN CostCenterTab.Qty ELSE MaterialIssueBatchWise.Quantity END * ISNULL(BatchWiseRate.Rate, 0))
                    AS TotalRate
			Into	#IssueAsConsumedCostTable	
            FROM    MaterialIssue
                    INNER JOIN MaterialIssueTrans ON MaterialIssueTrans.IssueId = MaterialIssue.IssueId
                    INNER JOIN MaterialIssueBatchWise ON MaterialIssueBatchWise.MaterialIssueTransId = MaterialIssueTrans.MaterialIssueTransId
                    Left JOIN(select	SUM(CAST(ISNULL(MaterialIssueCostCenterDet.Qty,0) as FLOat)) as Qty,
										costCenter.ParentShortCode as ShortCode,
										MaterialIssueCostCenterDet.MaterialIssueTransId,
										MaterialIssueCostCenterDet.RawBatchId,
										costCenter.ProcessId,
										costCenter.ShortCode as CostingCategoryShortCode
								from	MaterialIssueCostCenterDet	
										Inner Join #CostCenterMaster as costCenter on costCenter.CostCenterID  = MaterialIssueCostCenterDet.CostCenterId
								Group by costCenter.ParentShortCode,MaterialIssueCostCenterDet.MaterialIssueTransId,
										MaterialIssueCostCenterDet.RawBatchId,costCenter.ProcessId,costCenter.ShortCode
								)	as CostCenterTab ON CostCenterTab.MaterialIssueTransId = MaterialIssueTrans.MaterialIssueTransId
											and CostCenterTab.RawBatchId = MaterialIssueBatchWise.RawBatchId
					Inner Join BatchWiseRate on BatchWiseRate.RawBatchId = MaterialIssueBatchWise.RawBatchId
                    INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = MaterialIssueTrans.purchaseitemID
					Left Join #CostCenterMaster as PurchaseCostCenter on PurchaseCostCenter.CostCenterID = PurchaseItemMaster.CostingCategory 
					
            WHERE     MaterialIssue.IsDeleted = 0
                    AND MaterialIssueTrans.IsDeleted = 0
                    AND MaterialIssue.IssueDate BETWEEN @StartDate AND @EndDate
                    AND PurchaseItemMaster.IsFoundryReturn = 0
                    AND (PurchaseItemMaster.IsIssueAsConsumed = 1 or  MaterialIssue.IssueForOtherPurpose = 1)
					AND PurchaseItemMaster.IsAsset = 0
					-- condition remove discuss with bhumin sir, 
					--we will mapp casting with item, so this condition almost work with casting item mapping 
                    --AND MaterialIssueTrans.PurchaseItemId NOT IN (
                    --                SELECT  MetalMaterialMapping.PurchaseItemID
                    --                FROM    MaterialIssueTrans
                    --                        INNER JOIN MetalMaterialMapping ON MetalMaterialMapping.PurchaseItemID = MaterialIssueTrans.PurchaseItemId
                    --                WHERE   MaterialIssueTrans.IsDeleted = 0 
                    --                group by MetalMaterialMapping.PurchaseItemID)
                    AND dbo.MaterialIssue.EntityId = @EntityID
            GROUP BY PurchaseItemMaster.PurchaseItemId,ItemName ,
                    ItemCode ,
                    ISNULL(BatchWiseRate.Rate, 0),
                    Isnull(CostingCategoryShortCode,PurchaseCostCenter.ShortCode),
					IssueForOtherPurpose,
					IsCharge,IsMoldingMaterial
	
		insert into @@OtherMaterial
			(	
				ItemName,
				ItemCode,
				ConsumedQty,
				Rate,
				PerKgRate ,
				CategoryType
			)
				
		SELECT  ItemName ,
				ItemCode,
				SUM(A.Quantity) AS ConsumedQty ,
				case when SUM(A.Quantity) > 0 then 
				SUM(A.TotalRate) / SUM(A.Quantity) else AVG(A.Rate) end  AS Rate ,
				--SUM(TotalRate) as PerKgRate,
				(CAse when @Production <> 0 then SUM(TotalRate)/@Production else 0 end) * @CastingProduction as PerKgRate,
				CostingCategory as CategoryType
    FROM    ( 
                select * from #IssueAsConsumedCostTable as b where not exists ( select 1 from ItemcastingMapping as a where a.PurchaseItemid =  b.purchaseItemid)         
		) A
        GROUP BY
                ItemName ,
				ItemCode,
                CostingCategory
              
		insert into @@OtherMaterial2
			(	
				ItemName,
				ItemCode,
				ConsumedQty,
				Rate,
				PerKgRate ,
				CategoryType,
				CastingId
			)
				
		SELECT  ItemName ,
				Itemcode,
				SUM(A.Quantity) AS ConsumedQty ,
				case when SUM(A.Quantity) > 0 then 
				SUM(A.TotalRate) / SUM(A.Quantity) else AVG(A.Rate) end  AS Rate ,
				--SUM(TotalRate)as PerKgRate,
				(CAse when @Production <> 0 then SUM(TotalRate)/@Production else 0 end) * @CastingProduction as PerKgRate,
				CostingCategory as CategoryType,
				CastingId
           
            
    
    FROM    ( 
                select b.*,CastingProductionItemWise.CastingId,CastingProductionItemWise.TotalProduction from #IssueAsConsumedCostTable as b 
				Inner Join #CastingProductionItemWise as CastingProductionItemWise  on CastingProductionItemWise.PurchaseItemId = b.PurchaseItemId
				where exists (  select 1 from ItemcastingMapping as a where a.PurchaseItemid =  b.purchaseItemid) 
		) A
        GROUP BY 
                ItemName ,
				ItemCode,
                CostingCategory,
				CastingId,
				TotalProduction,
				CastingId
		
		drop table #IssueAsConsumedCostTable

		END
		ELSE
		BEGIN
			insert into @@OtherMaterial
				(
					ItemName,
					ItemCode,
					ConsumedQty,
					Rate,
					PerKgRate ,
					CategoryType
					)	
			select  
					ItemName,
					ItemCode,
					CASE WHEN @Production <> 0 THEN a.Quantity /@Production
					ELSE 0 end  AS ConsumedQty,
					(CASE WHEN @Production <> 0 THEN a.Rate/@Production ELSe 0 END) * @CastingProduction as Rate,
					(CAse when @Production <> 0 then SUM(TotalRate)/ @Production else 0 end) * @CastingProduction as PerKgRate,
					 CostingCategory
			from(	select	ItemName,
							ItemCode,
							CostingCategory,
							sum(CASE WHEN ISNULL(CostCenterTab.Qty,0) <> 0 THEN CostCenterTab.Qty ELSE MaterialIssueTrans.Quantity END) as Quantity,
							(CASE WHEN @RateType = 'LastRate'
									THEN (case when ISNULL(PurchaseDetail.Rate, 0) <> 0
												then ISNULL(PurchaseDetail.Rate, 0)
										else	
													ISNULL(RateMaster.Rate, 0)
										end)
							ELSE	   (case when ISNULL(RawInwDetail.Rate, 0) <> 0
												then ISNULL(RawInwDetail.Rate, 0)
										else	
													ISNULL(RateMaster.Rate, 0)
										end)
							END ) as Rate,
									
									(CASE WHEN @RateType = 'LastRate'
										  THEN (case when ISNULL(PurchaseDetail.Rate, 0) <> 0
													 then ISNULL(PurchaseDetail.Rate, 0)
												else	
														  ISNULL(RateMaster.Rate, 0)
												end)
									ELSE	   (case when ISNULL(RawInwDetail.Rate, 0) <> 0
													 then ISNULL(RawInwDetail.Rate, 0)
												else	
														  ISNULL(RateMaster.Rate, 0)
												end)
									END )*
									sum(CASE WHEN ISNULL(CostCenterTab.Qty,0) <> 0 THEN CostCenterTab.Qty 
									ELSE MaterialIssueTrans.Quantity END)/(PurchaseItemMaster.ConversionRatio / isnull(PurchaseItemMaster.QtyPrimaryUOM,1)) 
									as TotalRate

				from		MaterialIssueTrans 
							inner join MaterialIssue on MaterialIssue.IssueId = MaterialIssueTrans.IssueId
							inner join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId = MaterialIssueTrans.PurchaseItemId
									and PurchaseItemMaster.IsIssueAsConsumed = 1
							Left JOIN(	select SUM(CAST(ISNULL(MaterialIssueCostCenterDet.Qty,0) as FLOat)) as Qty,
														Parent.ShortCode,
														MaterialIssueCostCenterDet.MaterialIssueTransId,
														CostCenterMasterNew.ProcessId
												from	MaterialIssueCostCenterDet	
														inner join CostCenterMasterNew ON CostCenterMasterNew.CostCenterId = MaterialIssueCostCenterDet.CostCenterId and  ISNULL(CostCenterMasterNew.IsDeleted,0) = 0
														inner join CostCenterMasterNew  as Parent ON Parent.CostCenterId = CostCenterMasterNew.CostCenterParentId
												Group by Parent.ShortCode,MaterialIssueCostCenterDet.MaterialIssueTransId,CostCenterMasterNew.ProcessId) as CostCenterTab ON CostCenterTab.MaterialIssueTransId = MaterialIssueTrans.MaterialIssueTransId
									
									LEFT JOIN
									(
										SELECT		RawInwDetail.PurchaseItemId,
													(CASE WHEN @RateType = 'MaxRate'
														  THEN MAX(RawInwDetail.Rate)
													WHEN @RateType = 'MinRate'
														  THEN MIN(RawInwDetail.Rate)
													ELSE	
														  SUM(ISNULL(Quantity, 0) * ISNULL(RawInwDetail.Rate, 0))
														  /SUM(ISNULL(Quantity, 0))
													END)
													AS Rate
										FROM		RawMaterialInwardDetail RawInwDetail
													INNER JOIN RawMaterialInward RawInw
													ON RawInwDetail.InwardId = RawInw.InwardId
													INNER JOIN dbo.PurchaseOrder_Master
													ON dbo.PurchaseOrder_Master.PurchaseOrderId = RawInwDetail.PurchaseOrderId
										WHERE		RawInw.InwardDate between @StartDate and @EndDate
													AND RawInw.IsDeleted = 0
													AND RawInwDetail.IsDeleted = 0
													--AND (@PlantIdString IS NULL 
													--	OR @PlantIdString = ''
													--	OR RawInw.PlantId IN (
													--		SELECT Item FROM @Plant )
													--	OR dbo.PurchaseOrder_Master.POPlantId IN (
													--		SELECT Item FROM @Plant )
													--)
													AND ( RawInw.EntityId = @EntityID
														OR dbo.PurchaseOrder_Master.EntityId = @EntityID )
										GROUP BY	RawInwDetail.PurchaseItemId	
									
									) AS RawInwDetail
									ON RawInwDetail.PurchaseItemId = MaterialIssueTrans.purchaseitemID
									LEFT JOIN 
									(
										SELECT		PurchaseItemId,
													(CASE WHEN @RateType = 'MaxRate'
														  THEN MAX(RMRateMaster.Rate)
													WHEN @RateType = 'MinRate'
														  THEN MIN(RMRateMaster.Rate)
													ELSE
														  SUM(ISNULL(RMRateMaster.Rate, 0))/COUNT(PurchaseItemId)
													END)
													AS Rate
										FROM		RMRateMaster 
										WHERE		RMRateMaster.Rate <> 0
										  AND       RMRateMaster.IsPurchase = 1
										GROUP BY	PurchaseItemId			
									
									) AS RateMaster
									ON RateMaster.PurchaseItemId = MaterialIssueTrans.purchaseitemID
									LEFT JOIN (
												SELECT		a.PurchaseItemId, ISNULL(dbo.RawMaterialInwardDetail.Rate, 0) as Rate
												FROM		(
												SELECT		ROW_NUMBER() OVER (PARTITION BY PurchaseItemId ORDER BY InvoiceDate DESC) as SrNo,
															PurchaseItemId, RawmaterialDetailId, InwardId, InvoiceDate
												FROM		PurchaseInvoice
															INNER JOIN PurchaseInvoiceTrans
															ON PurchaseInvoiceTrans.PurchaseInvoiceId = PurchaseInvoice.PurchaseInvoiceId
															) AS a 
															INNER JOIN dbo.RawMaterialInwardDetail
															ON a.PurchaseItemId = dbo.RawMaterialInwardDetail.PurchaseItemId
															AND a.RawmaterialDetailId = dbo.RawMaterialInwardDetail.RawmaterialDetailId
															AND a.InwardId = dbo.RawMaterialInwardDetail.InwardId
												WHERE		a.SrNo = 1
									) AS PurchaseDetail
									ON PurchaseDetail.PurchaseItemId = dbo.PurchaseItemMaster.PurchaseItemId
						where		MaterialIssueTrans.IsDeleted = 0
									and MaterialIssue.IsDeleted = 0
									and MaterialIssueTrans.PurchaseItemId not in (
												select MetalMaterialMapping.PurchaseItemID from MaterialIssueTrans 
														inner join MetalMaterialMapping
														on MetalMaterialMapping.PurchaseItemID = MaterialIssueTrans.PurchaseItemId
												where	MaterialIssueTrans.IsDeleted = 0
												group by MetalMaterialMapping.PurchaseItemID
									)			
									--AND (@PlantIdString IS NULL 
									--		OR @PlantIdString = ''
									--		OR MaterialIssue.PlantId IN (
									--			SELECT Item FROM @Plant )
									--	)
									AND MaterialIssue.EntityId = @EntityID
									and MaterialIssue.IssueDate between @StartDate and @EndDate
									AND PurchaseItemMaster.IsFoundryReturn = 0
						group by	--PurchaseItemGroupMaster.GroupName,
									ItemName,
									ItemCode,
									ISNULL(RateMaster.Rate, 0),
									ISNULL(RawInwDetail.Rate, 0),
									ISNULL(PurchaseDetail.Rate, 0) ,
									PurchaseItemMaster.ConversionRatio ,
									PurchaseItemMaster.QtyPrimaryUOM,
									
									CostingCategory
									
									
						) a

						group by 	
									ItemName,
									ItemCode,
									a.Quantity	,
									a.Rate,
									CostingCategory
									
			--		) as OtherDetail On 1= 1
			--Where  ( @MetalId = 0
	  --                     OR (#TempProductionWeight.MetalID = @MetalId or #TempProductionWeight.MetalID = @PRoGradeID)
	  --              )
			--		AND ( @CastingId IS NULL
	  --                      Or #TempProductionWeight.castingid = @castingid )
				
		END
	END
							
	IF @Type = 'METALCOST'
	BEGIN
	
    IF @Parameter = 1
    BEGIN
    			
			--select	0 BatchId,
			--		'' BatchNo,
			--		0 as TotalConsumeQty,
			--		0 as ConsumeForCasting,
			--		0 as TotalCost,
			--		@Production as Production
		
		select	BatchId,
					BatchNo,
					SUM(TotalConsumeQty) as TotalConsumeQty,
					SUM(ConsumeForCasting) as ConsumeForCasting,
					SUM(TotalCost) as TotalCost,
					@Production as Production
			from (
					Select	ProductionBatch.BatchId,
							ProductionBatch.BatchNo,
							(consumption.consumptionqty) as TotalConsumeQty,
							(consumption.consumptionqty * (CastingPer/100)) as ConsumeForCasting,
							CASE WHEN #TempProductionWeight.Production  <> 0 THEN 
									(isnull(Consumption.TotalCost,0)
									 * (CastingPer/100)) 
									 - ((ISNULL(returnQty,0)  * (CastingPer/100)) * 
											Rate 
										 )
							ELSE 0 END AS TotalCost
    
					From	Consumption
							full join	FoundryReturn on FoundryReturn.batchid = Consumption.batchid
										and FoundryReturn.purchaseitemID = Consumption.PurchaseItemId
										And FoundryReturn.IsDeleted = 0
							
							Inner Join #ProductionTemp as ProductionBatch  On ProductionBatch.batchID = isnull(Consumption.BatchId,FoundryReturn.batchid)
							Inner Join knockout on knockout.batchId = ProductionBatch.batchId
							INNER Join #TempProductionWeight On #TempProductionWeight.castingId = knockout.castingId
									and ((ProductionBatch.MetalID = #TempProductionWeight.MetalId) Or (ProductionBatch.MetalID = #TempProductionWeight.PGMetalId))
							Inner Join PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = isnull(Consumption.purchaseitemID,FoundryReturn.purchaseitemID)
							
					WHERE	isnull(Consumption.IsDeleted,0) = 0
							And knockout.IsDeleted  = 0
							AND PurchaseItemMaster.IsCharge = 1
							AND ( #TempProductionWeight.MetalID = @MetalId OR #TempProductionWeight.PGMetalId = @ProGradeID)
							And (knockout.castingid = @castingId) 
            
			) as a
			GROUP BY	a.BatchId,
						a.BatchNo
			Order by	a.BatchNo

	    
	    SELECT	ItemName,
				ItemCode,
				ConsumedQty as Qty,
				(Rate) as Cost,
				(PerKgRate) as TotalCost,
				@Production as Production
	    From	@@OtherMaterial
		WHERE	CategoryType = 'MLT' 
		union all
		SELECT	ItemName,
				ItemCode,
				ConsumedQty as Qty,
				(Rate) as Cost,
				(PerKgRate) as TotalCost,
				@Production as Production
	    From	@@OtherMaterial2
		WHERE	CategoryType = 'MLT'
				and castingId = @CastingID
		
	END
	ELSE IF @Parameter =2
	BEGIN
	
		Select	Consumption.purchaseitemID,
				consumption.consumptionqty as ConsumedQty,
				case when isnull(consumption.consumptionqty,0) > 0 then
							 (Consumption.TotalCost / isnull(consumption.consumptionqty,0))
							 else 0 end as Cost,
				Consumption.TotalCost as TotalCost,
				Consumption.metalid
		into	#MeltingCostItemDetail
		From	Consumption
		        
		WHERE   Consumption.IsDeleted = 0
				and consumptionqty != 0
				and Consumption.batchID = @BatchID
				
		set @TotalCost = (select RATE as rate1 from ProductionBatch where batchID =@BatchID )
		
		Select	ItemName,
				ItemCode,
				Cost,
				TotalCost,
				ConsumedQty,
				RRItem,
				@Production as Production		
		from
		(
			Select	ConsumedQty as ConsumedQty,
					a.purchaseitemID,
					Cost as Cost,
					TotalCost as TotalCost,
					0 as RRItem,
					metalid,
					Sequence
			From	#MeltingCostItemDetail as a
					left join (select Sequence,purchaseItemid from ChargeMaster
								where ChargeMaster.ChargeName = (select top 1 Consumption.ChargeName from Consumption where batchid = @BatchID)
								and ChargeMaster.Type = 'C'
								) as Charge on Charge.purchaseitemiD = a.purchaseitemID
			Where	ConsumedQty !=0
		
			union all
			Select	FoundryReturn.returnQty as Qty,
					FoundryReturn.purchaseitemID,
					ISNULL(@TotalCost,0) as Cost,
					(FoundryReturn.returnQty * ISNULL(@TotalCost,0)) as TotalCost,
					1 as RRItem,
					0 as MetalId,
					Sequence
			from	FoundryReturn
					left join (select Sequence,purchaseItemid from ChargeMaster
								where ChargeMaster.ChargeName = (select top 1 Consumption.ChargeName from Consumption where batchid = @BatchID)
								and ChargeMaster.Type = 'R'
								) as Charge on Charge.purchaseitemiD = FoundryReturn.purchaseitemID
					WHERE       
					FoundryReturn.IsDeleted = 0
					and FoundryReturn.batchid = @BatchID
					) as tb
					Inner Join PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = tb.purchaseitemID
					order by tb.RRItem,tb.Sequence
		 
	    Drop Table #MeltingCostItemDetail
	    
	    select	CastingName,
				CastingCode,
				productionqty as Qty,
				CastingPer as CastingRation,
				CAST(perpcweight as decimal(18,3)) as [Weight],
				CAST((knockout.perpcweight * productionqty) as decimal(18,3)) as TotalWeight
	     from	knockout
				Inner Join CastingMaster on CastingMaster.CastingId = knockout.castingid
	    where	knockout.batchid = @BatchID
				and knockout.IsDeleted = 0
	       
	     
	
	END
	
	
	
	
	
	END
	ELSE IF @Type = 'MOLDCOST'
	BEGIN
	SET @PatternId = ( SELECT dieid 
					   FROM CastingMaster
					   WHERE CastingId = @CastingId
					 )
						 
						 
	SELECT
				'Shell Production' as ProductionType,
				CoreProduction.Date as [Date],		
				ItemName ,
				ItemCode,
                SUM(CoreSandConsumption.ConsumedQty) as TotalConsumeQty,
                SUM(CoreSandConsumption.ConsumedQty) as ConsumeForCasting,
                Sum(TotalCost) as TotalCost,
                tempProd.Production
	            into #CoreTempTable
    FRom		CoreSandConsumption
				Inner Join PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = CoreSandConsumption.PurchaseItemID
                --INNER JOIN UOMMaster ON UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
                
                INNER Join CoreProduction On CoreProduction.CoreProductionId = CoreSandConsumption.CoreProductionID
                Inner Join CoreProductionMaster On CoreProductionMaster.CoreProductionMasterId = CoreProduction.CoreProductionMasterId
                --INNER JOIN SandTypeMaster ON SandTypeMaster.SandTypeId = CoreProductionMaster.SandTypeId
                
                INNER JOIN CoreBoxDetails ON CoreBoxDetails.CoreBoxId = CoreProduction.CoreId
                Inner Join CoreCastingMapping On CoreCastingMapping.CoreBoxID = CoreBoxDetails.CoreBoxID
                and CoreCastingMapping.PatternId = CoreBoxDetails.PatternID
                INNER Join (select Sum(Production) as Production,CastingId 
							from #TempProductionWeight 
							Where (@MetalId = 0 Or #TempProductionWeight.MetalId = @MetalId) 
							group by castingId) as tempProd On tempProd.castingId = CoreCastingMapping.castingId
					
                --LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId
                --LEFT JOIN PurchaseItemCategoryMaster ON PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId
               
 WHERE			CoreProduction.IsDeleted = 0
				AND PurchaseItemMaster.IsMoldingMaterial = 1
				AND PurchaseItemMaster.IsFoundryReturn = 0
				AND CoreProductionMaster.Date BETWEEN @StartDate
								  AND
								  @EndDate
				AND  ( @PatternId IS NULL 
						OR dbo.CoreBoxDetails.PatternID = @PatternId )
				and (CoreCastingMapping.CastingId = @CastingId)
				
				AND dbo.CoreProduction.EntityId = @EntityID
				and CoreSandConsumption.ConsumedQty > 0
				and ISNULL(UsedFor,0) = 0
group by		PurchaseItemMaster.ItemName,
				UsedFor,
				CoreProduction.Date,		
				PurchaseItemMaster.ItemCode,
				tempProd.Production
				
order by CoreProduction.Date
				
						
	SELECT	
            
                Convert(Nvarchar,ProductionBatch.ProductionDate,106) as [Date],
                ItemName ,
				ItemCode,
				Sum(HeatwiseBOQConsumption.ConsumedQty) as TotalConsumeQty,
				Sum(HeatwiseBOQConsumption.ConsumedQty)  AS ConsumeForCasting ,
                Sum(HeatwiseBOQConsumption.TotalCost) as TotalCost,
                #TempProductionWeight.Production
            into #BOQTab
	From	HeatwiseBOQConsumption
			Inner Join #ProductionTemp as ProductionBatch On ProductionBatch.batchID = HeatwiseBOQConsumption.ProductionBatchID
			INNER Join #TempProductionWeight On #TempProductionWeight.castingId = HeatwiseBOQConsumption.castingId
					and ((ProductionBatch.MetalID = #TempProductionWeight.MetalId) Or (ProductionBatch.MetalID = #TempProductionWeight.PGMetalId))
					
			INNER JOIN dbo.PurchaseItemMaster ON dbo.PurchaseItemMaster.PurchaseItemId = dbo.HeatwiseBOQConsumption.PurchaseItemID
            --INNER JOIN dbo.UOMMaster ON dbo.UOMMaster.UOMid = dbo.PurchaseItemMaster.SecondaryUnitOfMeasure
            --LEFT JOIN dbo.PurchaseItemGroupMaster ON dbo.PurchaseItemGroupMaster.PurchaseItemGroupId = dbo.PurchaseItemMaster.PurchaseItemGroupId
            --LEFT JOIN dbo.PurchaseItemCategoryMaster ON dbo.PurchaseItemCategoryMaster.PurchaseItemCategoryId = dbo.PurchaseItemMaster.PurchaseItemCategoryId
	WHERE   dbo.PurchaseItemMaster.IsBOQ = 1
            AND dbo.PurchaseItemMaster.IsFoundryReturn = 0
            AND ( HeatwiseBOQConsumption.castingid = @castingid )
           
	GROUP BY 
	       ProductionBatch.ProductionDate,
	       ItemName ,
		   ItemCode,
		   #TempProductionWeight.Production
		   
   order by  ProductionBatch.ProductionDate
						 
	
	SELECT 	   'Mold Production' as ProductionType,
	            MoldingEntryMaster.Date as [Date],
				SUM(MoldingConsumption.ConsumedQty) as TotalConsumeQty,
				SUM(MoldingConsumption.ConsumedQty * (MoldingEntryTrans.castingRatio/100)) AS ConsumeForCasting ,
				--SUM(TotalCost * (MoldingEntryTrans.castingRatio/100)) AS TotalRate ,
			    ((SUM(TotalCost)) * (MoldingEntryTrans.castingRatio/100))  as TotalCost,
			    @Production as Production
				
    Into	    #MoldingConsumptionCost              
	FROM		MoldingConsumption
				INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingConsumption.MoldingEntryMasterID
				INNER JOIN MoldingEntryTrans ON MoldingEntryTrans.MoldingEntryMasterId = MoldingEntryMaster.MoldingEntryMasterId
				INNER Join (select Sum(Production) as Production,CastingId 
							from #TempProductionWeight
							Where (#TempProductionWeight.MetalId = @MetalId OR #TempProductionWeight.MetalID = @ProGradeID )  
							group by castingId
						) as tempProd On tempProd.castingId = MoldingEntryTrans.CastingId                    
				Inner Join PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = MoldingConsumption.PurchaseItemID
				--INNER JOIN UOMMaster ON UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
				--LEFT JOIN SandTypeMaster ON SandTypeMaster.SandTypeId = MoldingEntryMaster.SandTypeId
				--LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId
				--LEFT JOIN PurchaseItemCategoryMaster ON PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId
	WHERE		MoldingEntryMaster.IsDeleted = 0
				and MoldingEntryTrans.IsDeleted = 0
				AND PurchaseItemMaster.IsMoldingMaterial = 1
				AND PurchaseItemMaster.IsFoundryReturn = 0
				AND MoldingEntryMaster.Date BETWEEN @StartDate AND @EndDate
				AND (  MoldingEntryTrans.PatternId = @PatternId)   
			    AND (  MoldingEntryTrans.CastingId = @CastingId)
				AND MoldingEntryMaster.EntityId = @EntityID 
				And MoldingConsumption.ConsumedQty > 0
	GROUP BY 
	       
	        MoldingEntryTrans.castingRatio ,
			tempProd.Production,
			MoldingEntryMaster.Date 
			--Order by MoldingEntryMaster.Date
			Union all
			SELECT	
		                'Mold Production' as ProductionType,
						[Date],
						Sum(TotalConsumeQty) as TotalConsumeQty,
						Sum(ConsumeForCasting)  AS ConsumeForCasting ,
						Sum(TotalCost) as TotalCost,
						@Production as Production
		            
			From	#BOQTab
			GROUP BY 
					[Date]
	       
	       --Union all
	       --select
	       --[Date],
	       --SUM(TotalConsumeQty) as TotalConsumeQty,
	       --SUM(ConsumeForCasting) as ConsumeForCasting,
	       --SUM(TotalCost) as TotalCost,
	       --@Production as Production
	       --from
	       --#CoreTempTable
	       --Group by [Date]
	       
         
			SELECT 
			    'Mold Production' as ProductionType,	
				ItemName , 
				ItemCode,
				SUM(MoldingConsumption.ConsumedQty * (MoldingEntryTrans.castingRatio/100)) AS ConsumedQty ,
			    ((SUM(TotalCost) / SUM(MoldingConsumption.ConsumedQty)) ) as Cost,
			    SUM(TotalCost) as TotalCost,
			    @Production as Production,
			    0 as RRItem
				 
    Into	    #MoldingConsumptionItemCost              
	FROM		MoldingConsumption
				INNER JOIN MoldingEntryMaster ON MoldingEntryMaster.MoldingEntryMasterId = MoldingConsumption.MoldingEntryMasterID
				INNER JOIN MoldingEntryTrans ON MoldingEntryTrans.MoldingEntryMasterId = MoldingEntryMaster.MoldingEntryMasterId
				INNER Join (select Sum(Production) as Production,CastingId 
							from #TempProductionWeight
							Where (#TempProductionWeight.MetalId = @MetalId OR #TempProductionWeight.MetalID = @ProGradeID )  
							group by castingId
						) as tempProd On tempProd.castingId = MoldingEntryTrans.CastingId  
							
	            --INNER JOIN #TempProductionWeight On #TempProductionWeight.CastingId = MoldingEntryTrans.CastingId                   
				Inner Join PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = MoldingConsumption.PurchaseItemID
				--INNER JOIN UOMMaster ON UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
				--LEFT JOIN SandTypeMaster ON SandTypeMaster.SandTypeId = MoldingEntryMaster.SandTypeId
				--LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId
				--LEFT JOIN PurchaseItemCategoryMaster ON PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId
	WHERE		MoldingEntryMaster.IsDeleted = 0
				and MoldingEntryTrans.IsDeleted = 0
				AND PurchaseItemMaster.IsMoldingMaterial = 1
				AND PurchaseItemMaster.IsFoundryReturn = 0
				AND MoldingEntryMaster.Date BETWEEN @StartDate  AND @EndDate
				AND (  MoldingEntryTrans.PatternId = @PatternId )    
				AND (  MoldingEntryTrans.CastingId = @CastingId ) 
				AND MoldingEntryMaster.EntityId = @EntityID 
				And MoldingConsumption.ConsumedQty > 0
				AND Convert(Nvarchar,MoldingEntryMaster.Date,106) = @MoldingDate
	GROUP BY  
			ItemName ,
			ItemCode ,
			MoldingEntryTrans.castingRatio ,
			tempProd.Production
			
			UNION all
			
			SELECT	
		               'Mold Production' as ProductionType,
						ItemName,
	                    Itemcode,
						Sum(TotalConsumeQty) as ConsumedQty,
						Sum(TotalCost)/ Sum(TotalConsumeQty)  AS Cost,
						Sum(TotalCost) as TotalCost,
					    @Production as Production,
					    0 as RRItem
		            
			From	#BOQTab Where [DATE] = @MoldingDate
			GROUP BY 
			ItemName,
	        Itemcode,
	        Production
			
					
			
			UNION ALL
			
		   select
		   'Shell Production' as ProductionType,
	       ItemName,
	       Itemcode,
	       SUM(TotalConsumeQty) as ConsumedQty,
	      (SUM(TotalCost)/ SUM(TotalConsumeQty)) as Cost,
	       SUM(TotalCost) as TotalCost,
	       @Production as Production,
		   0 as RRItem
	       from
	       #CoreTempTable Where [DATE] = @MoldingDate
	       Group by 
	       ItemName,
	       Itemcode,
	       Production
	

	
	IF @Parameter = 1
	BEGIN	
	   
	   select 
	   Convert(Nvarchar,Date,106) as Date,
	   ProductionType,
	   TotalConsumeQty,
	   ConsumeForCasting,
	   TotalCost,
	   Production
	   from
	   (
	   Select 
	   * 
	   from 
	   #MoldingConsumptionCost
	   union all
	    select
	       ProductionType, 
	       [Date],
	       SUM(TotalConsumeQty) as TotalConsumeQty,
	       SUM(ConsumeForCasting) as ConsumeForCasting,
	       SUM(TotalCost) as TotalCost,
	       @Production as Production
	       from
	       #CoreTempTable
	       Group by 
	       [Date],
	        ProductionType
	        
	        ) as TabMold 
	        
	        --order by Date
	       
	      
	   
	   SELECT 
				ItemName,
				ItemCode,
				ConsumedQty as Qty,
				(Rate) as Cost,
				(PerKgRate) as TotalCost,
				@Production as Production
		From	@@OtherMaterial
		WHERE	CategoryType = 'MLD'
		union all 
		SELECT 
				ItemName,
				ItemCode,
				ConsumedQty as Qty,
				(Rate) as Cost,
				(PerKgRate) as TotalCost,
				@Production as Production
		From	@@OtherMaterial2
		WHERE	CategoryType = 'MLD'
				and castingId = @CastingID
							
		  
	   
	END
	else IF @Parameter = 2
	BEGIN
	   IF @ProductionType = 'Shell Production'
	      Select 
	      ItemName, 
	      Itemcode,
	      ConsumedQty,
	      Cost,
	      TotalCost,
	      Production,
	      RRItem
	      from #MoldingConsumptionItemCost where productionType  = 'Shell Production'
	      and isnull(ConsumedQty,0) != 0
	   else
	      Select 
	      ItemName, 
	      Itemcode,
	      ConsumedQty,
	      Cost,
	      TotalCost,
	      Production,
	      RRItem
	      from #MoldingConsumptionItemCost where productionType  = 'Mold Production'
	      and isnull(ConsumedQty,0) != 0
	   
	END
	
	Drop table #MoldingConsumptionCost
	
	Drop Table #MoldingConsumptionItemCost
	
	Select  Sum(ISNULL(knockout.productionqty * knockout.perpcweight, 0)) AS Production
	FROM    #ProductionTemp
			INNER JOIN knockout ON knockout.batchid = #ProductionTemp.batchID
			AND knockout.IsDeleted = 0	
	where	knockout.castingid = @CastingID


	END
	ELSE IF @Type = 'CORECOST'
	BEGIN
	
	SET @PatternId = ( SELECT dieid 
						   FROM CastingMaster
						   WHERE CastingId = @CastingId
						 )
						 
	    
	    SELECT		    
	                    Convert(Nvarchar,CoreProduction.Date,106) as [Date],
                        SUM(CoreSandConsumption.ConsumedQty) as TotalConsumeQty,
                        SUM(CoreSandConsumption.ConsumedQty) as ConsumeForCasting,
						SUM(TotalCost)as TotalCost,
					    @Production as Production
			into		#CoreConsumptionCost
            FRom		CoreSandConsumption
						Inner Join PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = CoreSandConsumption.PurchaseItemID
                        --INNER JOIN UOMMaster ON UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
                        
                        INNER Join CoreProduction On CoreProduction.CoreProductionId = CoreSandConsumption.CoreProductionID
                        Inner Join CoreProductionMaster On CoreProductionMaster.CoreProductionMasterId = CoreProduction.CoreProductionMasterId
                        --INNER JOIN SandTypeMaster ON SandTypeMaster.SandTypeId = CoreProductionMaster.SandTypeId
                        
                        INNER JOIN CoreBoxDetails ON CoreBoxDetails.CoreBoxId = CoreProduction.CoreId
                        Inner Join CoreCastingMapping On CoreCastingMapping.CoreBoxID = CoreBoxDetails.CoreBoxID
                        and CoreCastingMapping.PatternId = CoreBoxDetails.PatternID
                        INNER Join (select Sum(Production) as Production,CastingId 
									from #TempProductionWeight 
									Where (#TempProductionWeight.MetalId = @MetalId OR #TempProductionWeight.MetalID = @ProGradeID) 
									group by castingId) as tempProd On tempProd.castingId = CoreCastingMapping.castingId
							
                        --LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId
                        --LEFT JOIN PurchaseItemCategoryMaster ON PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId
                       
         WHERE			CoreProduction.IsDeleted = 0
						AND PurchaseItemMaster.IsMoldingMaterial = 1
						AND PurchaseItemMaster.IsFoundryReturn = 0
						AND CoreProductionMaster.Date BETWEEN @StartDate AND @EndDate
						AND  (dbo.CoreBoxDetails.PatternID = @PatternId )
						and (CoreCastingMapping.CastingId = @CastingId)
						
						AND dbo.CoreProduction.EntityId = @EntityID
						and CoreSandConsumption.ConsumedQty > 0
						and Isnull(CoreBoxDetails.UsedFor,0) = 1
		group by		
						CoreProduction.Date,
						tempProd.Production 
						
	    SELECT		    
	                    
	                    ItemName,
                        ItemCode,
                        SUM(CoreSandConsumption.ConsumedQty) as ConsumedQty,
						SUM(TotalCost)/ SUM(CoreSandConsumption.ConsumedQty) as Cost,
						SUM(TotalCost) as TotalCost,
						@Production as Production,
						0 as RRItem
					
			into		#CoreConsumptionItemCost
            FRom		CoreSandConsumption
						Inner Join PurchaseItemMaster On PurchaseItemMaster.PurchaseItemId = CoreSandConsumption.PurchaseItemID
                        --INNER JOIN UOMMaster ON UOMMaster.UOMid = PurchaseItemMaster.SecondaryUnitOfMeasure
                        
                        INNER Join CoreProduction On CoreProduction.CoreProductionId = CoreSandConsumption.CoreProductionID
                        Inner Join CoreProductionMaster On CoreProductionMaster.CoreProductionMasterId = CoreProduction.CoreProductionMasterId
                        --INNER JOIN SandTypeMaster ON SandTypeMaster.SandTypeId = CoreProductionMaster.SandTypeId
                        
                        INNER JOIN CoreBoxDetails ON CoreBoxDetails.CoreBoxId = CoreProduction.CoreId
                        Inner Join CoreCastingMapping On CoreCastingMapping.CoreBoxID = CoreBoxDetails.CoreBoxID
                        and CoreCastingMapping.PatternId = CoreBoxDetails.PatternID
                        INNER Join (select Sum(Production) as Production,CastingId 
									from #TempProductionWeight 
									Where (#TempProductionWeight.MetalId = @MetalId OR #TempProductionWeight.MetalID = @ProGradeID) 
									group by castingId) as tempProd On tempProd.castingId = CoreCastingMapping.castingId
							
                        --LEFT JOIN PurchaseItemGroupMaster ON PurchaseItemGroupMaster.PurchaseItemGroupId = PurchaseItemMaster.PurchaseItemGroupId
                        --LEFT JOIN PurchaseItemCategoryMaster ON PurchaseItemCategoryMaster.PurchaseItemCategoryId = PurchaseItemMaster.PurchaseItemCategoryId
                       
         WHERE			CoreProduction.IsDeleted = 0
						AND PurchaseItemMaster.IsMoldingMaterial = 1
						AND PurchaseItemMaster.IsFoundryReturn = 0
						AND CoreProductionMaster.Date BETWEEN @StartDate AND @EndDate
						AND  (dbo.CoreBoxDetails.PatternID = @PatternId )
						and (CoreCastingMapping.CastingId = @CastingId)
						AND dbo.CoreProduction.EntityId = @EntityID
						and CoreSandConsumption.ConsumedQty > 0
						and Convert(Nvarchar,CoreProduction.Date,106) = @CoreDate
						and Isnull(CoreBoxDetails.UsedFor,0) = 1
		group by		PurchaseItemMaster.ItemName,
		                PurchaseItemMaster.ItemCode,
						tempProd.Production 
						
						IF @Parameter = 1
						BEGIN
							
							Select * from #CoreConsumptionCost
							
							SELECT 
							ItemName,
							ItemCode,
							ConsumedQty as Qty,
							(Rate) as Cost,
	                        (PerKgRate) as TotalCost,
	                        @Production as Production
							From	
							@@OtherMaterial
							WHERE	CategoryType = 'COR'
							union all
							SELECT 
							ItemName,
							ItemCode,
							ConsumedQty as Qty,
							(Rate) as Cost,
	                        (PerKgRate) as TotalCost,
	                        @Production as Production
							From	
							@@OtherMaterial2
							WHERE	CategoryType = 'COR'
							and castingId = @CastingID
		
						END
						else IF @Parameter = 2
							Select * from #CoreConsumptionItemCost where isnull(ConsumedQty,0) != 0
						
						DROP TABLE #CoreConsumptionCost
						
						DROP TABLE #CoreConsumptionItemCost
			
	Select  Sum(ISNULL(knockout.productionqty * knockout.perpcweight, 0)) AS Production
	FROM    #ProductionTemp
			INNER JOIN knockout ON knockout.batchid = #ProductionTemp.batchID
			AND knockout.IsDeleted = 0	
	where	knockout.castingid = @CastingID
	
	END
	ELSE IF @Type = 'POWERCOST'
	BEGIN
				              
		SET @AllConsumedQtyWithFilters = 
						( SELECT   ISNULL(SUM(consumption.consumptionqty), 0) AS ConsumedQty
						   FROM   	Consumption	
									Inner Join #ProductionTemp ON #ProductionTemp.batchid = consumption.batchid
									Inner Join knockout on knockout.batchid = #ProductionTemp.BatchId 
										and castingid = @CastingId and knockout.IsDeleted = 0 
							WHERE   Consumption.IsDeleted = 0
									and IsExclude = 0
									AND ( (#ProductionTemp.MetalID = @MetalId or #ProductionTemp.MetalID = @ProGradeID))
									--AND (  batchID IN (
									--		SELECT		batchid
									--		FROM		dbo.knockout
									--		WHERE		castingid = @CastingId and knockout.IsDeleted = 0 
									--	  )
									--	)
						)

	              select  
	                        MeterMaster.MeterName+ ' ('
	                        + DateName( month , DateAdd( month ,  MonthWiseMeterReading.[Month] , -1 ) )
	                        +')' as MeterName,
	                        ROUND(@AllConsumedQtyWithFilters,2) AS ConsumeForCasting,
	                        isnull(MonthWiseMeterReading.ConsumeUnit, 0) as ConsumeUnit,
	                        isnull(MonthWiseMeterReading.UnitCost, 0) as UnitCost,
	                        ISNULL(multiplicationfactor,0) as multiplicationfactor,
                            ROUND((isnull(MonthWiseMeterReading.ConsumeUnit,0) * isnull(MonthWiseMeterReading.UnitCost, 0)
								* multiplicationfactor),3)
                            AS TotalCost,
                            @Production as Production
                  FROM      MonthWiseMeterReading
                            INNER JOIN ( select MeterAssoFurnace.MeterCode
										from MeterAssoFurnace 
										group by MeterAssoFurnace.MeterCode) 
										as MeterAssoFurnace ON MonthWiseMeterReading.MeterName = MeterAssoFurnace.MeterCode
                            INNER JOIN dbo.MeterMaster ON dbo.MeterMaster.MeterCode = dbo.MonthWiseMeterReading.MeterName
                  WHERE     MonthWiseMeterReading.UnitCost IS NOT NULL
                            AND MonthWiseMeterReading.ConsumeUnit IS NOT NULL
                            AND cast(cast(MonthWiseMeterReading.Year as varchar(Max))+'-'
									+cast(MonthWiseMeterReading.Month as varchar(Max)) +'-'+'01' as datetime)
                                BETWEEN cast((cast(Year(@StartDate) as Varchar(Max)) 
											+'-'+ CAST(Month(@StartDate) as varchar(MaX))
											+'-01')as datetime)
                                        AND
                                            cast((cast(Year(@EndDate) as Varchar(Max)) 
											+'-'+ CAST(Month(@EndDate) as varchar(MaX))
											+'-01')as datetime)
											
      
                                and MeterMaster.ExcludingCostingReport = 0
                              
                                AND MeterMaster.EntityId = @EntityID
                                
                                --GROUP BY 
                                --MeterMaster.MeterName,
                                --MonthWiseMeterReading.[Month],
                                --MonthWiseMeterReading.UnitCost,
                                --MonthWiseMeterReading.multiplicationfactor
                     
                     
	END
	
	drop table #ProductionTemp
	
	drop table #TempProductionWeight
	
	drop table #CastingProductionItemWise

	drop table #CostCenterMaster
							
END
GO
