USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MoldLineWisePlanningAnalysis]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Yashvi Shah>
-- Create date: <14 November 2017>
-- Description:	<This Query will be used to show Moldline wise planning Analysis>
-- =============================================
CREATE PROCEDURE [dbo].[MoldLineWisePlanningAnalysis]
    @Parameter INT = 0 ,
    @CustomerID UNIQUEIDENTIFIER = NULL ,
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @MetalID INT = 0 ,
    @MetalType VARCHAR(50) = NULL ,
    @CastingName NVARCHAR(MAX) = NULL ,
    @DateFrom DATETIME = NULL ,
    @DateTo DATETIME = NULL ,
    @EntityID INT = 0 ,
    @PlantIdString VARCHAR(MAX) = NULL
AS
    BEGIN
    
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
        IF @Parameter = 1
            BEGIN
	
                SELECT  ROW_NUMBER() OVER ( ORDER BY MoldLineWiseData.MoldLineID ASC ) AS SrNo ,
                        MoldLineWiseData.MoldLineID ,
                        CASE WHEN MoldLineWiseData.MoldLineID = CAST(0x0 AS UNIQUEIDENTIFIER)
                             THEN 'Others'
                             ELSE MoldLineMaster.MoldLine
                        END MoldLine ,
                        SUM(PlanQty) AS PlannedQty ,
                        SUM(plannedWeight) AS PlannedWeight ,
                        SUM(ShortQty) AS PendingQty ,
                        SUM(PendingWeight) AS PendingWeight ,
                        SUM(PlanQty) + SUM(ShortQty) AS TotalQty ,
                        SUM(plannedWeight) + SUM(PendingWeight) AS TotalWeight
                FROM    ( SELECT    ISNULL(PatternMaster.MoldlineID,
                                           CAST(0x0 AS UNIQUEIDENTIFIER)) AS MoldLineID ,
                                    ISNULL(PlanTable.PlanQty, 0) AS PlanQty ,
                                    CAST(ISNULL(PlanTable.PlanQty, 0)
                                    * CastingMetal.GrossWeight AS NUMERIC(18,
                                                              3)) AS PlannedWeight ,
                                    ( CASE WHEN ISNULL(ORderTable.OrderQty, 0)
                                                + ISNULL(CastingMaster.SafetyStock,
                                                         0)
                                                - ISNULL(ORderTable.DispatchQty,
                                                         0)
                                                - ISNULL(dbo.CastingStock.stock,
                                                         0)
                                                - ISNULL(dbo.CastingJOStock.stock,
                                                         0)
                                                - ISNULL(PlanTable.PlanQty, 0) < 0
                                           THEN 0
                                           ELSE ISNULL(ORderTable.OrderQty, 0)
                                                + ISNULL(CastingMaster.SafetyStock,
                                                         0)
                                                - ISNULL(ORderTable.DispatchQty,
                                                         0)
                                                - ISNULL(dbo.CastingStock.stock,
                                                         0)
                                                - ISNULL(dbo.CastingJOStock.stock,
                                                         0)
                                                - ISNULL(PlanTable.PlanQty, 0)
                                      END ) AS ShortQty ,
                                    ( CASE WHEN ISNULL(ORderTable.OrderQty, 0)
                                                + ISNULL(CastingMaster.SafetyStock,
                                                         0)
                                                - ISNULL(ORderTable.DispatchQty,
                                                         0)
                                                - ISNULL(dbo.CastingStock.stock,
                                                         0)
                                                - ISNULL(dbo.CastingJOStock.stock,
                                                         0)
                                                - ISNULL(PlanTable.PlanQty, 0) < 0
                                           THEN 0.000
                                           ELSE CAST(( ISNULL(ORderTable.OrderQty,
                                                              0)
                                                       + ISNULL(CastingMaster.SafetyStock,
                                                              0)
                                                       - ISNULL(ORderTable.DispatchQty,
                                                              0)
                                                       - ISNULL(dbo.CastingStock.stock,
                                                              0)
                                                       - ISNULL(dbo.CastingJOStock.stock,
                                                              0)
                                                       - ISNULL(PlanTable.PlanQty,
                                                              0) )
                                                * CastingMetal.GrossWeight AS NUMERIC(18,
                                                              3))
                                      END ) AS PendingWeight
                          FROM      CastingMaster
                                    INNER JOIN PatternMaster ON CastingMAster.DieID = PatternMaster.PatternID
                                    INNER JOIN CastingMetal ON CastingMaster.CastingId = CastingMetal.castingID
                                    INNER JOIN MetalMaster ON MetalMaster.MetalId = CastingMetal.metalid
                                    LEFT JOIN MoldLineMaster ON MoldLineMaster.MoldLineID = PatternMaster.MoldLineID
                                    INNER JOIN CastingStock ON CastingMaster.CastingID = CastingStock.CastingID
                                    LEFT JOIN dbo.CastingJOStock ON dbo.CastingJOStock.castingid = dbo.CastingMaster.CastingId
                                    LEFT JOIN ( SELECT  CastingId ,
                                                        GradeId ,
                                                        SUM(PlanQty) AS PlanQty
                                                FROM    PlanningMaster
                                                WHERE   PlanningMaster.IsDeleted = 0
                                                        AND CAST(PlanningMaster.Plandate AS DATE) BETWEEN CAST(@DateFrom AS DATE)
                                                              AND
                                                              CAST(@DateTo AS DATE)
                                                GROUP BY CastingId ,
                                                        GradeId
                                              ) AS PlanTable ON CastingMaster.CastingId = PlanTable.CastingId
                                                              AND CastingMetal.metalid = PlanTable.GradeId
                                    LEFT JOIN ( SELECT  OrderUnioned.CastingID ,
                                                        OrderUnioned.MetalID ,
                                                        OrderUnioned.MetalName ,
                                                        SUM(OrderUnioned.OrderQty) OrderQty ,
                                                        SUM(OrderUnioned.DispatchQty) AS DispatchQty
                                                FROM    ( SELECT
                                                              CastingID ,
                                                              MetalMaster.MetalID ,
                                                              MetalName ,
                                                              SUM(RequiredQty) AS OrderQty ,
                                                              SUM(DispatchTable.DispatchQty) AS DispatchQty
                                                          FROM
                                                              OrderTranse
                                                              INNER JOIN ORderMaster ON OrderMaster.CustomerOrderiD = OrderTranse.CustomerORderID
                                                              INNER JOIN MetalMaster ON OrderTranse.MetalID = MetalMaster.MEtalID
                                                              LEFT JOIN ( SELECT
                                                              OrderID ,
                                                              OrderserialNo ,
                                                              SUM(Dispatchqty) AS DispatchQty
                                                              FROM
                                                              dispatchtrans
                                                              WHERE
                                                              IsDeleted = 0
                                                              GROUP BY orderid ,
                                                              orderserialno
                                                              ) AS DispatchTable ON OrderTranse.CustomerOrderId = DispatchTable.orderid
                                                              AND OrderTranse.SrNo = DispatchTable.orderserialno
                                                              AND dbo.OrderTranse.IsDeleted = 0
                                                          WHERE
                                                              OrderMaster.maxversion = 1
                                                              AND OrderTranse.Isdeleted = 0
                                                              AND Isshortclose = 0
                                                              AND IsDelivered = 0
                                                              AND CAST(DeliveryDate AS DATE) BETWEEN CAST(@DateFrom AS DATE) AND CAST(@DateTo AS DATE)
                                                          GROUP BY CastingID ,
                                                              MetalMaster.MetalID ,
                                                              MetalMaster.MetalName
                                                          UNION ALL
                                                          SELECT
                                                              dbo.SetCastingMapping.CastingId ,
                                                              MetalMaster.MetalID ,
                                                              MetalName ,
                                                              SUM(RequiredQty
                                                              * dbo.SetCastingMapping.Qty) AS OrderQty ,
                                                              SUM(DispatchTable.DispatchQty) AS DispatchQty
                                                          FROM
                                                              dbo.OrderSetItemTrans
                                                              INNER JOIN dbo.SetCastingMapping ON dbo.SetCastingMapping.SetId = dbo.OrderSetItemTrans.SetId
                                                              AND OrderSetItemTrans.IsDeleted = 0
                                                              INNER JOIN dbo.OrderMaster ON dbo.OrderMaster.CustomerOrderId = dbo.OrderSetItemTrans.CustomerOrderId
                                                              INNER JOIN MetalMaster ON SetCastingMapping.MetalID = MetalMaster.MEtalID
                                                              LEFT JOIN ( SELECT
                                                              OrderSetItemTransID ,
                                                              CastingId ,
                                                              SUM(dbo.DispatchSetCasting.DispatchedQty) AS DispatchQty
                                                              FROM
                                                              dbo.DispatchSetCasting
                                                              INNER JOIN dbo.DispatchSetItemTrans ON dbo.DispatchSetItemTrans.DispatchSetItemTransID = dbo.DispatchSetCasting.DispatchSetItemTransID
                                                              WHERE
                                                              DispatchSetItemTrans.IsDeleted = 0
                                                              GROUP BY OrderSetItemTransID ,
                                                              CastingId
                                                              ) AS DispatchTable ON dbo.OrderSetItemTrans.OrderSetItemTransID = DispatchTable.OrderSetItemTransID
                                                              AND dbo.SetCastingMapping.CastingId = DispatchTable.CastingId
                                                          WHERE
                                                              OrderMaster.Isdeleted = 0
                                                              AND OrderMaster.maxversion = 1
                                                              AND Isshortclose = 0
                                                              AND IsDelivered = 0
                                                              AND OrderSetItemTrans.IsDeleted = 0
                                                              AND CAST(DeliveryDate AS DATE) BETWEEN CAST(@DateFrom AS DATE) AND CAST(@DateTo AS DATE)
                                                          GROUP BY dbo.SetCastingMapping.CastingId ,
                                                              MetalMaster.MetalID ,
                                                              MetalMaster.MetalName
                                                        ) OrderUnioned
                                                GROUP BY OrderUnioned.CastingID ,
                                                        OrderUnioned.MetalID ,
                                                        OrderUnioned.MetalName
                                              ) AS ORderTable ON CastingMaster.CastingID = OrderTable.CastingID
                                                              AND CastingMetal.metalid = ORderTable.MetalId
                          WHERE     ( ISNULL(ORderTable.OrderQty, 0)
                                      + ISNULL(CastingMaster.SafetyStock, 0)
                                      - ISNULL(ORderTable.DispatchQty, 0)
                                      - ISNULL(dbo.CastingStock.stock, 0)
                                      - ISNULL(dbo.CastingJOStock.stock, 0)
                                      - ISNULL(PlanTable.PlanQty, 0) ) > 0
                                    AND ( @PlantIdString IS NULL
                                          OR @PlantIdString = ''
                                          OR CastingMaster.CastingId IN (
                                          SELECT    CastingId
                                          FROM      dbo.PlantCastingMapping
                                                  where PlantId in (SELECT Item FROM @Plant) )
                                        )
                                    AND (@CustomerID IS NULL 
										OR PatternMaster.PatternId IN ( select PatternId from CustomerPatternMapping WHERE CustomerId = @CustomerID )
                                    )
                                    AND (@CastingID IS NULL  OR CastingMaster.CastingId = @CastingID )
                                    AND (@CastingName IS NULL  OR CastingMaster.CastingName = @CastingName )
                                    AND (@MetalID = 0 OR CastingMetal.metalid = @MetalID )
                                    AND (@MetalID = 0 OR CastingMetal.metalid = @MetalID )
                                    AND (@MetalType IS NULL OR MetalMaster.MetalType = @MetalType )
                                    AND CastingMaster.EntityID = @EntityId
			--Group by CastingCode,MetalName						
                        ) AS MoldLineWiseData
                        LEFT JOIN MoldLineMaster ON MoldlineMaster.MoldLineID = MoldLineWiseData.MoldLineID
                GROUP BY MoldLineMaster.MoldLine ,
                        MoldLineWiseData.MoldLineID
	
            END
    END
GO
