USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[CoatDetail]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CoatDetail]
	-- Add the parameters for the stored procedure here
	 @Parameter INT = 0 ,
	 @CoatId uniqueidentifier=null,
	 @CoatCode VARCHAR(50)=null,
	 @CoatName VARCHAR(20)=NULL,
	 @CoatShortCode VARCHAR(15)=NULL,
	  @Remarks VARCHAR(MAX) = NULL ,
    @CreatedBy INT = 0 ,
    @CreatedOn DATETIME = NULL ,
    @ModifiedBy INT = 0 ,
    @ModifiedOn DATETIME = NULL ,
    @IsDeleted INT = 0 ,
    @DeletedBY INT = 0 ,
    @DeletedOn DATETIME = NULL ,
    @EntityID INT = 0
	 
AS
BEGIN
	IF @Parameter = 1
            BEGIN
	
                INSERT  INTO COATMASTER
                        ( COATID ,
                          COATCODE ,
                          COATNAME ,
                          COATSHORTCODE ,
                          REMARKS ,
                          CreatedBy ,
                          CreatedOn ,
                          IsDeleted ,
                          EntityID
                        )
                VALUES  ( NEWID() ,
                          @CoatCode ,
                          @CoatName ,
                          @CoatShortCode ,
                          @Remarks ,
                          @CreatedBy ,
                          GETDATE() ,
                          0 ,
                          @EntityID
                        )
	
            END
            
             IF @Parameter = 2
            BEGIN
                SELECT  COATMASTER.COATID ,
                        COATMASTER.COATCODE ,
                        COATMASTER.COATNAME ,
                        COATMASTER.COATSHORTCODE ,
                        COATMASTER.REMARKS 
                FROM    COATMASTER
                WHERE   COATMASTER.IsDeleted = 0 and coatmaster.entityId=@EntityID
                ORDER BY CoatMaster.CreatedOn DESC
            END
            
             IF @Parameter = 3
            BEGIN
                UPDATE  COATMASTER
                SET     COATMASTER.IsDeleted = 1 ,
                        COATMASTER.deletedBy = @DeletedBy ,
                        COATMASTER.DeletedOn = GETDATE() ,
                        COATMASTER.EntityID = @EntityID
                WHERE   COATMASTER.COATID=@CoatId
            END
	
	IF @Parameter = 4
            BEGIN
                UPDATE  COATMASTER
                SET     COATMASTER.COATCODE = @CoatCode ,
                        COATMASTER.COATNAME = @CoatName ,
                        COATMASTER.COATSHORTCODE = @CoatShortCode ,
                        COATMASTER.Remarks = @Remarks ,
                        COATMASTER.ModifiedBy = @ModifiedBy ,
                        COATMASTER.ModifiedOn = GETDATE()
                WHERE   COATMASTER.COATID = @CoatId
            END
            IF @Parameter = 5
            BEGIN
            
SELECT RIGHT('0000'+
	CONVERT(VARCHAR(5),ISNULL(MAX(CoatMaster.CoatCode),0)+1),5) AS CoatCode
	from CoatMaster where CoatMaster.IsDeleted=0 and CoatMaster.EntityID=@EntityID
            END
            
END
GO
