USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[Fetch_DynamicControlByPurchaseOrderId]    Script Date: 02-02-2026 10:39:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Fetch_DynamicControlByPurchaseOrderId]
	-- Add the parameters for the stored procedure here
    @PurchaseOrderId UNIQUEIDENTIFIER = NULL,
    @EntityID INT = 0
AS
    BEGIN

        SELECT  PurchaseOrderOtherCharges.SrNo ,
                LedgerMaster.ChargeId ,
                ChargeName ,
                CONVERT(DECIMAL(18, 3), ChargePer) AS ChargePer ,
                CONVERT(DECIMAL(18, 3), ChargeAmount) AS ChargeAmount ,
                IsRoundOff ,
                PreDefineTaxesDuties.TaxName
                , TaxSequenceTemplateMaster.CalculationID
        FROM    LedgerMaster
                INNER JOIN PurchaseOrderOtherCharges ON PurchaseOrderOtherCharges.chargeid = LedgerMaster.ChargeId
                LEFT JOIN PreDefineTaxesDuties ON LedgerMaster.UnderTaxation = PreDefineTaxesDuties.TaxValue
                INNER JOIN PurchaseOrder_Master ON PurchaseOrder_Master.PurchaseOrderId = PurchaseOrderOtherCharges.PurchaseOrderID
                left JOIN TaxSequenceTemplateMaster ON TaxSequenceTemplateMaster.ChargeId = PurchaseOrderOtherCharges.ChargeId
												AND TaxSequenceTemplateMaster.TaxLedgerTemplateID = PurchaseOrder_Master.TaxLedgerTemplateId
        WHERE   PurchaseOrderOtherCharges.PurchaseOrderID = @PurchaseOrderId --and LedgerMaster.EntityId =@EntityID 
        ORDER BY PurchaseOrderOtherCharges.SrNo
    END
GO
