USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[MetalGroupWiseSalesChart]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 create   PROCEDURE [dbo].[MetalGroupWiseSalesChart]
@CustomerId UNIQUEIDENTIFIER = NULL ,
    @StartDate DATETIME = NULL ,
    @EndDate DATETIME = NULL , 
    @PlantIdString VARCHAR(MAX) = NULL ,  
    @EntityId INT = 0 
  
AS
BEGIN
	 
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End  
 

			SELECT		MetalMaster.MetalType,
						CONVERT(DECIMAL(18, 2), SUM(dispatchtrans.TotalAmount - (dispatchtrans.TotalAmount * dispatchmaster.DisPer / 100)), 2)  AS TotalSales
			FROM		dispatchmaster
						INNER JOIN dispatchtrans
						ON dispatchmaster.DispatchID = dispatchtrans.dispatchid
						INNER JOIN OrderTranse 
						ON OrderTranse.CustomerOrderId = dispatchtrans.orderid
						AND OrderTranse.SrNo = dispatchtrans.orderserialno
						INNER JOIN MetalMaster
						ON MetalMaster.MetalId = OrderTranse.MetalID
			WHERE		dispatchmaster.IsDeleted = 0
						ANd TypeOfVoucher = 0
						AND dispatchtrans.IsDeleted = 0
						AND dispatchmaster.isProforma = 0
						AND dispatchmaster.dispatchdate BETWEEN @StartDate AND @EndDate
						AND ( @CustomerID IS NULL
								OR dispatchmaster.CustomerID = @CustomerID
						)
						AND (@PlantIdString IS NULL 
							OR @PlantIdString = ''
							OR dbo.dispatchmaster.PlantID IN (
								SELECT Item FROM @Plant )
							)
						AND dbo.dispatchmaster.EntityID = @EntityId
			GROUP BY	MetalMaster.MetalType
 
	
END

GO
