USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[PendingReturnReport]    Script Date: 02-02-2026 10:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[PendingReturnReport]
@CustomerId UNIQUEIDENTIFIER = NULL ,  
@IsSandDie VARCHAR(15) = NULL ,  
@DateFrom DATETIME = NULL ,  
@Dateto DATETIME = NULL ,  
@Active bit=0,  
@PatternIssueId UNIQUEIDENTIFIER = NULL   
AS
BEGIN
	   
              
                --This will Fetch PatternData  
                IF @IsSandDie = 'True'  
                BEGIN  
                                  
     SELECT ROW_NUMBER() OVER (ORDER BY  tmptable.IssueDate desc,cast(tmptable.IssueCode as varchar) DESC ) AS SrNo,*   
     FROM  
      (       
       SELECT  DISTINCT   
         PurchaseItemMaster.ItemCode as Code,    
         (  
          case when (PatternIssueMaster.IssueTo <> '')   
           then PatternIssueMaster.IssueTo   
           else  
           (SELECT  CustomerMaster.CustomerName  
            FROM    CustomerMaster  
            WHERE   CustomerMaster.CustomerId = PatternIssueMaster.CustomerId  
           )  
           end  
         )as IssuePerson,  
         (ISNULL(PatternIssueMaster.Prefix, '')  
       + ISNULL(PatternIssueMaster.Separator, '')  
       + PatternIssueMaster.PatternIssueCode  
       + ISNULL(PatternIssueMaster.Separator, '')  
       + ISNULL(PatternIssueMaster.Suffix, ''))  
         as IssueCode ,  
         PatternIssueMaster.IssuePurpose,  
         PatternIssueTrans.IssueQty ,  
         PatternIssueTrans.PendingQty ,                                                 
         Convert(varchar(50),PatternIssueMaster.IssueDate,106) as IssueDate    
             
         FROM PatternIssueMaster   
         INNER JOIN PatternIssueTrans ON PatternIssueTrans.PatternIssueId = PatternIssueMaster.PatternIssueId         
         INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = PatternIssueTrans.PatternId                         
         LEFT JOIN CustomerMaster on CustomerMaster.CustomerId = PatternIssueMaster.CustomerId  
         WHERE      
          ( PatternIssueTrans.IsPending = 0 )  
          AND ( PatternIssueMaster.IsDeleted = 0 )         
          AND ( @DateFrom IS NULL OR @DateTo IS NULL  
           OR CAST(PatternIssueMaster.IssueDate AS DATE) BETWEEN CAST(@DateFrom AS DATE)
           AND CAST(@DateTo AS DATE)
          )  
           AND ( @PatternIssueId IS NULL  
            OR PatternIssueMaster.PatternIssueId = @PatternIssueId  
            )  
           AND ( @CustomerId IS NULL  
            OR PatternIssueMaster.CustomerId = @CustomerId  
            )              
               
          AND ( PatternIssueTrans.IsDeleted = 0 )  
		  AND PurchaseItemMaster.IsPattern = 1 								   
          
      
        UNION ALL  
           --this is for core  
        SELECT  DISTINCT  
         CoreBoxMaster.CoreMasterName as Code,                
         (  
          case when (PatternIssueMaster.IssueTo <> '')   
          then PatternIssueMaster.IssueTo   
          else  
          (  
           SELECT  CustomerMaster.CustomerName  
           FROM    CustomerMaster  
           WHERE   CustomerMaster.CustomerId = PatternIssueMaster.CustomerId  
          )  
          end   
         )as IssuePerson,  
         (ISNULL(PatternIssueMaster.Prefix, '')  
       + ISNULL(PatternIssueMaster.Separator, '')  
       + PatternIssueMaster.PatternIssueCode  
       + ISNULL(PatternIssueMaster.Separator, '')  
       + ISNULL(PatternIssueMaster.Suffix, ''))  
         as IssueCode ,  
         PatternIssueMaster.IssuePurpose,  
         CoreIssueTrans.IssueQty ,  
         CoreIssueTrans.PendingQty ,                                              
         Convert(varchar(50),PatternIssueMaster.IssueDate,106) as IssueDate     
                     
         FROM    PatternIssueMaster                            
         INNER JOIN CoreIssueTrans ON CoreIssueTrans.PatternIssueId = PatternIssueMaster.PatternIssueId         
         INNER JOIN CoreBoxMaster ON CoreBoxMaster.CoreMasterID = CoreIssueTrans.CoreBoxId                                 
         LEFT JOIN CustomerMaster on CustomerMaster.CustomerId = PatternIssueMaster.CustomerId  
              
         WHERE ( CoreIssueTrans.IsPending = 0 )  
           AND ( CoreIssueTrans.IsDeleted = 0 )     
           AND ( @DateFrom IS NULL OR @DateTo IS NULL  
             OR CAST(PatternIssueMaster.IssueDate AS DATE) BETWEEN CAST(@DateFrom AS DATE)
             AND CAST(@DateTo AS DATE)
            )  
           AND ( @PatternIssueId IS NULL  
             OR PatternIssueMaster.PatternIssueId = @PatternIssueId  
             )  
            AND ( @CustomerId IS NULL  
             OR PatternIssueMaster.CustomerId = @CustomerId  
             )  
               
            AND ( PatternIssueMaster.IsDeleted = 0 )  
       
     AND (CoreIssueTrans.IsPending = 0)   
      ) as tmptable  
      Order by CAST(tmptable.IssueDate as DATE) DESC  
         
    END  
    ELSE  
    BEGIN  
    --THIS WILL FETCH DIE DATA  
      
     SELECT ROW_NUMBER() OVER (ORDER BY TmpTable.IssueDate desc,  cast(TmpTable.IssueCode as varchar) DESC) AS SrNo,*   
      FROM (  
        SELECT PurchaseItemMaster.ItemCode as Code,   
         (case when (PatternIssueMaster.IssueTo <> '')   
          then PatternIssueMaster.IssueTo   
          else  
          (SELECT  CustomerMaster.CustomerName  
           FROM    CustomerMaster  
           WHERE   CustomerMaster.CustomerId = PatternIssueMaster.CustomerId  
          )  
          end   
         )as IssuePerson,   
         (ISNULL(PatternIssueMaster.Prefix, '')  
       + ISNULL(PatternIssueMaster.Separator, '')  
       + PatternIssueMaster.PatternIssueCode  
       + ISNULL(PatternIssueMaster.Separator, '')  
       + ISNULL(PatternIssueMaster.Suffix, ''))  
           
          as IssueCode ,  
         PatternIssueMaster.IssuePurpose,  
         PatternIssueTrans.IssueQty ,  
         PatternIssueTrans.PendingQty ,                                                 
         Convert(varchar(50),PatternIssueMaster.IssueDate,106) as IssueDate    
           
         FROM    
         PatternIssueMaster   
         INNER JOIN PatternIssueTrans ON PatternIssueTrans.PatternIssueId = PatternIssueMaster.PatternIssueId         
        -- INNER JOIN DieMaster ON DieMaster.DieId = PatternIssueTrans.PatternId                          
         INNER JOIN PurchaseItemMaster ON PurchaseItemMaster.PurchaseItemId = PatternIssueTrans.PatternId                          
         LEFT JOIN CustomerMaster on CustomerMaster.CustomerId = PatternIssueMaster.CustomerId  
         WHERE    ( PatternIssueTrans.IsPending = 0 )  
           AND ( PatternIssueMaster.IsDeleted = 0 )         
		   AND PurchaseItemMaster.IsPattern = 1     										   
           AND ( @DateFrom IS NULL OR @DateTo IS NULL  
            OR CAST(PatternIssueMaster.IssueDate AS DATE) BETWEEN CAST(@DateFrom AS DATE)
            AND CAST(@DateTo AS DATE)
           )  
            AND ( @PatternIssueId IS NULL  
             OR PatternIssueMaster.PatternIssueId = @PatternIssueId  
             )  
            AND ( @CustomerId IS NULL  
             OR PatternIssueMaster.CustomerId = @CustomerId  
             )               
           AND ( PatternIssueTrans.IsDeleted = 0 )   
     ) as TmpTable       
    Order by CAST(TmpTable.IssueDate as DATE) DESC   
                          
            END
END
GO
