USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SP_UserLoginHistory]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_UserLoginHistory]
	@Id INT = 0,
	@Parameter INT = 0,
	@UserId	INT = 0,
	@EntityId INT = 0,
	@LoginDateTime DATETIME = NULL,
	@LogoutDateTime DATETIME = NULL,
	@IpAddress NVARCHAR(50) = NULL,
	@MachineName NVARCHAR(50) = NULL,
	@IsAutoLogout bit = 0,
	@Number bigint = 0,
	@MaxLogin INT = 0,
	@PageSize int = 0,
	@PageNumber int = 0,
	@InitialLoad int = 0,
	@FromDate datetime = null,
	@ToDate datetime = null,
	
	@LoginFrom INT=0
	--, @ReturnValue INT OUTPUT
AS
BEGIN
	
	--SET NOCOUNT ON;
	
	IF @Parameter = 1						--Insert User Login History
	BEGIN

		INSERT INTO UserLoginHistory
			(UserId,
			EntityId,
			LoginDateTime,
			LogoutDateTime,
			IpAddress,
			MachineName,
			IsAutoLogout,
			LoginFrom)
		--OUTPUT INSERTED.ID
		VALUES
			(@UserId,
			@EntityId,
			GETDATE(),
			@LogoutDateTime,
			@IpAddress,
			@MachineName,
			@IsAutoLogout,
			@LoginFrom)
			
		SET @Id = SCOPE_IDENTITY();
			
		--IF NOT EXISTS(SELECT Number FROM UserLoginHistoryTrans)
		--BEGIN
		--	SET @Number = 1
		--END
		--ELSE				
		--BEGIN
		--	SET @Number = (SELECT TOP 1 ISNULL(Number, 0) + 1 AS Number FROM [UserLoginHistoryTrans] ORDER BY TransId DESC)
		--END
		
		--IF (@LoginFrom = 1)
		--BEGIN
		--	SET @Number = @Number - 1;
		--END
		
		--INSERT INTO UserLoginHistoryTrans
		--	(ID,
		--	DateTime,
		--	Number)
		--VALUES
		--	(@Id,
		--	GETDATE(),
		--	@Number)
			
		DECLARE @ReturnValue INT = @Id
		SELECT CAST(@ReturnValue AS INT)-- AS ReturnValue
		RETURN CAST(@ReturnValue AS INT)-- AS ReturnValue
	END
	
	ELSE IF @Parameter = 2					--Update User Login History
	BEGIN
		IF EXISTS(SELECT 1 FROM UserLoginHistory WHERE ID = @Id AND LogoutDateTime IS NULL)
		BEGIN
			UPDATE UserLoginHistory
			SET LogoutDateTime = GETDATE()
			WHERE ID = @Id
				
			--IF NOT EXISTS(SELECT Number FROM UserLoginHistoryTrans)
			--BEGIN
			--	SET @Number = 0
			--END
			--ELSE
			--BEGIN
			--	SET @Number =(SELECT TOP 1 ISNULL(Number, 0) - 1 AS Number FROM [UserLoginHistoryTrans] ORDER BY TransId DESC)
			--END
			
			--IF EXISTS(SELECT 1 FROM UserLoginHistory WHERE ID = @Id AND LoginFrom = 1)
			--BEGIN
			--	SET @Number = @Number + 1;
			--END
			
			--BEGIN
			--	INSERT INTO UserLoginHistoryTrans
			--		(ID,
			--		DateTime,
			--		Number)
			--	VALUES
			--		(@Id,
			--		GETDATE(),
			--		@Number)
			--END
		END
		
		RETURN 1
	END
	
	ELSE IF @Parameter = 3					--Fetch Last Number From User Login History
	BEGIN
		SET @Number = (SELECT TOP 1 ISNULL(Number, 0) AS Number FROM [UserLoginHistoryTrans] ORDER BY TransId DESC)
		select @Number
		RETURN @Number;
	END
	
	ELSE IF @Parameter = 4					--Fetch MaxLogin From Version Details
	BEGIN
		SET @MaxLogin = (SELECT MaxLogin From VersionDetails)
		select @MaxLogin
		RETURN @MaxLogin;
	END
	
	ELSE IF @Parameter = 5					--Fetch UserLog Popup Grid Data UserLogPopup.cs
	BEGIN
		SELECT ROW_NUMBER() OVER(ORDER BY ID)AS RowNo, 
			ID,
			ULH.UserId,
			UM.UserName,
			EntityId,
			LoginDateTime,
			LogoutDateTime,
			IpAddress,
			UPPER(MachineName) AS MachineName,
			IsAutoLogout
		FROM 
			UserLoginHistory as ULH
		INNER JOIN 
			UserMaster as UM on UM.UserId=ULH.UserId
		WHERE LogoutDateTime IS NULL
	END
	
	ELSE IF @Parameter = 6					--Force logout
	BEGIN
		IF EXISTS(SELECT * FROM UserLoginHistory WHERE ID = @Id AND LogoutDateTime IS NULL)
		BEGIN
			UPDATE UserLoginHistory
			SET	LogoutDateTime = GETDATE(),
				IsAutoLogout = 1
			WHERE ID = @Id AND LogoutDateTime IS NULL
		
			--BEGIN
			--	IF NOT EXISTS(SELECT Number FROM UserLoginHistoryTrans)
			--	BEGIN
			--		SET @Number = 0
			--	END
			--	ELSE
			--	BEGIN
			--		SET @Number =(SELECT TOP 1 ISNULL(Number, 0) - 1 AS Number FROM [UserLoginHistoryTrans] ORDER BY TransId DESC)
			--	END
					
			--	IF EXISTS(SELECT 1 FROM UserLoginHistory WHERE ID = @Id AND LoginFrom = 1)
			--	BEGIN
			--		SET @Number = @Number + 1;
			--	END
				
			--	INSERT INTO UserLoginHistoryTrans (ID , DateTime,Number)
			--	VALUES(@Id, GETDATE(), @Number)
			--END
		END
	END
	
	ELSE IF @Parameter = 7				
	BEGIN
		IF EXISTS (SELECT * FROM UserLoginHistory WHERE ID=@Id AND LogoutDateTime IS NOT NULL AND IsAutoLogout=1)
		BEGIN
			SELECT 1
			RETURN 1;
		END
		ELSE
		BEGIN
			SELECT 0
			RETURN 0;
		END
	END
	
	ELSE IF @Parameter = 9				
	BEGIN
		IF EXISTS (SELECT ID FROM UserLoginHistory WHERE ID=@Id)
		BEGIN
			SELECT 1
			RETURN 1;
		END
		
		ELSE
		BEGIN
			SELECT 0
			RETURN 0;
		END;
	END
	
	--NOT IN USE
	--IF @Parameter = 10
	--BEGIN
	--	SELECT ReportFile,UpdatedRDLCName FROM UpdateRdlcFiles 
	--INNER JOIN ISONumbering ON ISONumbering.PageCode = UpdateRdlcFiles.PageCode WHERE IsDefault = 0
	--END
	
	ELSE IF @Parameter = 10
		BEGIN
			SELECT * FROM (
			SELECT CAST([DateTime] AS Date) AS LoginDate, MAX(Number) AS MaxLogin FROM UserLoginHistoryTrans GROUP BY CAST([DateTime] AS Date)
				) AS FINAL
			where  (CONVERT(VARCHAR(60),LoginDate, 113)  = CONVERT(VARCHAR(60), GETDATE(), 113))
		END
		
	ELSE IF @Parameter = 11
	BEGIN
		SET NOCOUNT ON;
		SELECT TOP 
			(@PageSize) MAX(RowNo) OVER() 
		AS	
			rwCounts, * 
		FROM
		(
		SELECT ROW_NUMBER() OVER(ORDER BY LoginDate)AS RowNo,* FROM (
		SELECT ulh.ID AS UserLoginHistoryId, um.UserName, CAST([LoginDateTime] AS Date) AS LoginDate, CAST(LogoutDateTime AS Date) AS LogoutDate, 
		CASE WHEN CAST( DATEDIFF(DAY, LoginDateTime, LogoutDateTime) AS nvarchar(100)) > 0 THEN 
				CAST( DATEDIFF(DAY, LoginDateTime, LogoutDateTime) AS nvarchar(100)) + ' Days ' ELSE '' END + 
		CASE WHEN CAST( DATEPART(HOUR, LogoutDateTime - LoginDateTime) AS nvarchar(100)) > 0 THEN 
				CAST( DATEPART(HOUR, LogoutDateTime - LoginDateTime) AS nvarchar(100)) + ' Hours ' ELSE '' END + 
      	CASE WHEN CAST( DATEPART(MINUTE, LogoutDateTime - LoginDateTime) AS nvarchar(100)) > 0 THEN 
				CAST( DATEPART(MINUTE, LogoutDateTime - LoginDateTime) AS nvarchar(100)) + ' Minutes ' ELSE '' END
      	AS Duration, IpAddress, MachineName, ulh.UserId
		FROM UserLoginHistory ulh
		INNER JOIN UserMaster um ON um.UserId = ulh.UserId
		GROUP BY ID, UserName, CAST([LoginDateTime] AS Date), CAST(LogoutDateTime AS Date), 
		CAST( DATEDIFF(DAY, LoginDateTime, LogoutDateTime) AS nvarchar(100)),
		CAST( DATEPART(HOUR, LogoutDateTime - LoginDateTime) AS nvarchar(100)),
		CAST( DATEPART(MINUTE, LogoutDateTime - LoginDateTime) AS nvarchar(100))
		, IpAddress, MachineName, ulh.UserId
			) AS FINAL
			where  (LoginDate BETWEEN coalesce(@FromDate,LoginDate) and coalesce(@ToDate,LoginDate)) AND (@UserId = 0 OR UserId = @UserId)
		)
		as a 
		where 
			RowNo > (@PageSize*@PageNumber)
	END
	
	ELSE IF @Parameter = 12
	BEGIN
		SELECT DISTINCT ulh.UserId, UserName FROM UserLoginHistory ulh
		INNER JOIN UserMaster um ON um.UserId = ulh.UserId AND um.IsDeleted = 0
	END

	ELSE IF @Parameter = 13
	BEGIN
		IF EXISTS (SELECT 1 FROM UserLoginHistory WHERE ID=@Id AND (TodayNotifyDate IS NULL OR TodayNotifyDate < GETDATE()))
		BEGIN
			Declare @IsAutoLogout1 int = 0, @TypeOfLogout1 int = 0, @Fixtime1 time= null, @EveryHrs1 int = 0
 			Declare @AddMin1 int = 10, @NextLogoutTrigTm DATETIME = NULL
				
			select	Top 1 @IsAutoLogout1 = IsAutoLogout, @TypeOfLogout1 = TypeOfLogout, @Fixtime1 = cast(Fixtime as time), @EveryHrs1 = EveryHrs
			from	ServerConfiguration
				
			IF(@IsAutoLogout1 = 1)
			BEGIN
				IF(@TypeOfLogout1 = 0)
				BEGIN
					SET @NextLogoutTrigTm = CONVERT(DATETIME, CONVERT(CHAR(8), DATEADD(DAY, 1, GETDATE()), 112)  
												+ ' ' + CONVERT(CHAR(8), DATEADD(MINUTE, -10, @Fixtime1), 108))
				END
				ELSE IF(@TypeOfLogout1=1)
				BEGIN
					IF(@EveryHrs1>0)
					BEGIN
						DECLARE @UserLoginDateTime DATETIME = NULL
						DECLARE @UserDoNotLogoutModifiedDt DATETIME = NULL
						SELECT	@UserLoginDateTime = LoginDateTime, @UserDoNotLogoutModifiedDt = DoNotLogoutModifiedDt 
						FROM	UserLoginHistory WHERE ID = @Id
							
						IF(@UserDoNotLogoutModifiedDt IS NOT NULL)
						BEGIN
							SET @NextLogoutTrigTm = DATEADD(MINUTE, -10, DATEADD(HOUR, @EveryHrs1, @UserDoNotLogoutModifiedDt))
						END
						ELSE
						BEGIN
							SET @NextLogoutTrigTm = DATEADD(MINUTE, -10, DATEADD(HOUR, @EveryHrs1, @UserLoginDateTime))
						END
					END
				END
			END

			UPDATE	UserLoginHistory 
			SET		UserLoginHistory.TodayNotifyDate = @NextLogoutTrigTm
			WHERE	ID = @Id

			SELECT 1
			RETURN 1;
		END
		ELSE
		BEGIN
			SELECT 0
			RETURN 0;
		END

	END
	
END
GO
