USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[SystemDepartment_Delete]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[SystemDepartment_Delete] 
@DepartmentID UNIQUEIDENTIFIER,
@DeletedBy INT
AS
BEGIN
	begin try
	begin transaction SystemDepartment_Delete

	Update
	SystemDepartment
	SET
	ifActice = 0,
	DeletedOn = GetDate(),
	DeletedBy = @DeletedBy
	Where
	DepartmentID = @DepartmentID

	

	commit transaction SystemDepartment_Delete
	return 1
	end try
	begin catch
	rollback transaction SystemDepartment_Delete
	return -1
	end catch


END
GO
