USE [iCast]
GO
/****** Object:  StoredProcedure [dbo].[WaxPatternProductionDataForDownload]    Script Date: 02-02-2026 10:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		
-- Create date: <28/08/2017,Monday>
-- Description:	<Fetch WaxPatternProduction Detail for Download button click In Register Page>
-- Modified By: <Yashvi Shah>
-- Description: Changing the format of Start Time and End TIme
-- =============================================
CREATE PROCEDURE [dbo].[WaxPatternProductionDataForDownload] 
	-- Add the parameters for the stored procedure here
    @CastingID UNIQUEIDENTIFIER = NULL ,
    @MachineID UNIQUEIDENTIFIER = NULL ,
    @StartDate DATE = NULL ,
    @EndDate DATE = NULL ,
    @WaxProductionBatchID UNIQUEIDENTIFIER = NULL ,
    @PlantIdString VARCHAR(MAx) = NULL ,
    @EntityId INT = 0
AS
    BEGIN
    
	declare @Plant table (Item int) 
	if( @PlantIdString IS NOT NULL And @PlantIdString != '' )
	begin
		Insert into @Plant SELECT Item FROM dbo.SplitString(@PlantIdString, ',')
	End
	
        SELECT  WaxProduction.EntryNo AS [EntryNo] ,
                WaxProduction.ProductionDate AS [ProductionDate] ,
                WaxProduction.BatchNo AS [BatchNo] ,
                WaxProduction.Shift AS [Shift] ,
                WaxProduction.TotalWaxUsed AS [TotalWaxUsed] ,
                CONVERT(VARCHAR, WaxProduction.StartTime, 100) AS [StartTime] ,
                CONVERT(VARCHAR, WaxProduction.EndTime, 100) AS [EndTime] ,
                (EmployeeDetails.EmployeeName + ' (' + EmployeeDetails.EmployeeCode + ')') as [OperatorName] ,
                --MachineMaster.MachineName AS [MachineName] ,
                ('('+PurchaseItemMaster.ItemCode  + ') / ' + PurchaseItemMaster.ItemName) as MachineName,
   
                CastingMaster.CastingName AS [CastingName] ,
                CastingMaster.CastingCode AS [CastingCode] ,
                WaxPatternProductionDetail.ProductionQty AS [ProductionQty] ,
                WaxPatternProductionDetail.OKQty AS [OKQty] ,
                WaxPatternProductionDetail.RejQty AS [RejQty] ,
                WaxPatternProductionDetail.WtPerPcPattern AS [WeightPerPc] ,
                WaxPatternProductionDetail.TotalWeightPattern AS [TotalWeight],
                '' AS PartName
        FROM    WaxProduction
                INNER JOIN WaxPatternProductionDetail ON WaxProduction.WaxProductionBatchID = WaxPatternProductionDetail.WaxProductionBatchID
                INNER JOIN EmployeeDetails ON WaxProduction.OperatorID = EmployeeDetails.EmployeeId
                INNER JOIN WaxDieProductionDetails ON WaxDieProductionDetails.WaxProductionBatchID = WaxProduction.WaxProductionBatchID
               -- INNER JOIN MachineMaster ON MachineMaster.EquipmentId = WaxDieProductionDetails.MachineID
                inner join PurchaseItemMaster on PurchaseItemMaster.PurchaseItemId = WaxDieProductionDetails.MachineID and PurchaseItemMaster.IsEquipment = 1   
                INNER JOIN dbo.CastingMaster ON dbo.CastingMaster.WaxPatternId = dbo.WaxPatternProductionDetail.WaxPatternId
                --INNER JOIN CastingMaster ON CastingMaster.CastingId = WaxPatternProductionDetail.CastingID
        WHERE   WaxPatternProductionDetail.IsDeleted = 0
                AND WaxProduction.IsDeleted = 0
                AND ( @MachineId IS NULL
                      OR WaxDieProductionDetails.MachineID = @MachineId
                    )
                AND ( @CastingID IS NULL
                      OR CastingMaster.CastingID = @CastingID
                    )
                AND ( @Enddate IS NULL
                      OR ProductionDate BETWEEN @Startdate AND @Enddate
                    )
                AND ( @WaxProductionBatchID IS NULL
                      OR WaxPatternProductionDetail.WaxProductionBatchID = @WaxProductionBatchID
                    )
                      AND ( @PlantIdString IS NULL
							OR @PlantIdString = ''
							OR  PlantId IN ( SELECT Item FROM @Plant )
                          )                      
               AND WaxProduction.EntityID = @EntityId
	
    END
GO
